<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_1_info_value_of_items"><span>1.</span><span> 1) Info: value of items</span></a></li>
<li><a href="#_2_details_about_the_statistic"><span>2.</span><span> 2) Details about the statistic</span></a></li>
<li><a href="#_3_settings"><span>3.</span><span> 3) Settings</span></a></li>
<li><a href="#_4_data_export"><span>4.</span><span> 4) Data export</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Value of items</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Start » Statistics</strong>→ Type of statistic:<strong><strong>*Warehouse /</strong><strong>Value of items</strong></strong>*</p>
</div>
<div class="paragraph">
<p>**[IMPORTANT]
.</p>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p><strong>Topics or settings of this chapter:</strong></p>
</div>
</div>
</div>
<div class="paragraph">
<p>1) <a href="/en/basics/statistics/general-statistics/warehouse/value-of-items#1">Info: value of items</a></p>
</div>
<div class="paragraph">
<p>2) <a href="/en/basics/statistics/general-statistics/warehouse/value-of-items#2">Details about the statistic</a></p>
</div>
<div class="paragraph">
<p>3) <a href="/en/basics/statistics/general-statistics/warehouse/value-of-items#3">Settings</a></p>
</div>
<div class="paragraph">
<p>4) <a href="/en/basics/statistics/general-statistics/warehouse/value-of-items#4">Data export</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_1_info_value_of_items">1. 1) Info: value of items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This statistic shows the <strong>value</strong> of your <strong>items</strong> within a selected time span. The data is displayed for the <strong>warehouse(s)</strong>, <strong>price</strong> and <strong>supplier(s)</strong> that were chosen. Default setting for the time span: <strong>today</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_2_details_about_the_statistic">2. 2) Details about the statistic</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>number of items</strong> and the <strong>value of items in Euro</strong> will be displayed for each of the selected <strong>warehouse(s)</strong>. The exact <strong>value of items</strong> and the corresponding <strong>warehouse</strong> will be displayed as <strong>information in a mouseover</strong>. Furthermore, a second color will display <strong>how many items</strong> are included in this total value (see image 1). In this statistic you can see, e.g. how many items are in each of your warehouses and what the value of these items is.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title"><strong>Show details (mouseover)</strong></div>
<div class="paragraph">
<p>Point your <strong>cursor</strong> at one of the elements in the statistic in order to see <strong>details</strong> about that particular element.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>In image 1, you can see that <strong>more than 50,000 items</strong> are in the <strong>Amazon FBA warehouse</strong> and that these items have a total <strong>value</strong> of <strong>3,401,023.71 Euros</strong>.The exact <strong>quantity of items</strong> is displayed as information in a <strong>mouseover</strong> for the blue column.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p>The <strong>quantity</strong> and <strong>value of items</strong> will only be analyzed for <strong>positive physical stock</strong>.</p>
</div>
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/warehouse/assets/EN-ENG-Statistik-Warenwert01-SI.png" alt="EN ENG Statistik Warenwert01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: <strong>value of items</strong> statistic</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_3_settings">3. 3) Settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>settings</strong> described below are available for this statistic.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/warehouse/assets/EN-ENG-Statistik-Warenwert02-SI.png" alt="EN ENG Statistik Warenwert02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: <strong>value of items</strong> statistic; <strong>settings</strong></em></p>
</div>
<div class="paragraph">
<p>Explanations of the options</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Entry/Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diagram view</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Type of diagram</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>In this drop-down menu, you can choose how you want the statistics to be displayed.<br>
<strong>Dual column chart</strong> = Displays the values as columns<br>
<strong>Data table</strong> = An overview of the data in table format</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Net</strong> = Amounts minus VAT.<br>
<strong>Adjusted revenue</strong> = Revenue minus credit notes<br>
<strong>Contribution margin I</strong> = Revenue minus the purchase price, taxes and shipping costs</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The data for this diagram is exported in a <strong>CSV file</strong>. The file contains the same parameters as are displayed with the <strong>Data table</strong> diagram.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Raw data export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The raw data export also generates a <strong>CSV file</strong>. However, the file contains a more detailed set of data. For example, instead of simply indicating the number of sales orders that were generated on a specific day, the CSV file includes relevant data fields for each individual sales order, such as the <strong>sales order ID</strong>, <strong>price</strong> etc.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Displaying the values</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Click on the diagram legend in the lower left corner to make a specific set of values <strong>visible</strong> or <strong>invisible</strong> in the diagram. This allows you to display data separately, i.e. to look at some aspects of the data and hide others. This can help you recognize individual values more easily if your data set is very complicated.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Shows the <strong>name</strong> of the statistic that was entered when the statistic was created. You can change the name here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warehouse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the <strong>warehouse</strong> that you would like to include into the statistic.You can use the option <strong>All</strong> to select all of the available ones at once.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Price selection</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which <strong>prices</strong> you wish to analyze.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Average purchase price</strong> = The average purchase price for each item<br>
<strong>Current purchase price</strong> = The most recently saved purchase price for each item</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Supplier</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which <strong>suppliers</strong> should be included in the statistic or use the option <strong>All</strong> to include all of the suppliers.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: <strong>editing a statistic</strong>;</em><em><strong>settings</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_4_data_export">4. 4) Data export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As described in table 1, you can choose between a simple and a detailed export. An example of each is provided below.</p>
</div>
<div class="paragraph">
<p>Exporting the diagram data</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title"><strong>Data fields</strong></div>
<div class="paragraph">
<p><strong>WarehouseName</strong> = Name of the warehouse, <strong>QuantityOfItems</strong> = Quantity of items, <strong>NetItemValue</strong> = Net value of items</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/warehouse/assets/EN-Statistik-Warenwert-03-SI.png" alt="EN Statistik Warenwert 03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: <strong>value of items</strong> statistic; simple export</em></p>
</div>
<div class="paragraph">
<p>Exporting the raw data</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title"><strong>Data fields</strong></div>
<div class="paragraph">
<p><strong>ItemID</strong> = Item ID, <strong>PriceSetID</strong> = The item’s price set ID, <strong>AttributeValueSetID</strong> = Item variant ID, <strong>WarehouseID</strong> = Warehouse ID, <strong>WarehouseName</strong> = Name of the warehouse, <strong>PhysicalStock</strong> = Available stock plus reserved stock, <strong>AveragePurchasePrice</strong> = Average purchase price, <strong>ItemPurchasePrice</strong> = Purchase price, <strong>VariationPurchasePrice</strong> = The item variant’s purchase price, <strong>ItemSellingPrice</strong> = Retail price</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistics/general-statistics/warehouse/assets/EN-Statistik-Warenwert-04-SI.png" alt="EN Statistik Warenwert 04 SI">
</div>
</div>
<div class="paragraph">
<p><em>Image 4: <strong>value of items</strong> statistic; raw data export</em>**</p>
</div>
</div>
</div>
</main>