<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Importing item and listing data from your eBay account</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you already have item and listing information saved on eBay? There’s an easy way to transfer all of this data into your plentymarkets system. This video teaches you how to configure eBay import settings and choose the options that are right for you.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/ebay/listings/listing-import-account-platform#video">Selecting your eBay account and platform (0:23)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/listings/listing-import-settings#video">Choosing which path to take (0:47)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/listings/listing-import-extra-features#video">Picking extra features (1:49)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/listings/listing-import-preview#video">Seeing a preview of the import (2:28)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/listings/listing-import-start#video">Starting the import for real (3:12)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/267560178" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Sure, you might be new to plentymarkets, but that doesn’t necessarily mean you’re new to e-commerce. You might’ve been selling items on eBay for years!</p>
</div>
<div class="paragraph">
<p>No need to re-invent the wheel and manually enter all this item information into plentymarkets.</p>
</div>
<div class="paragraph">
<p>Just use the eBay listing import to easily transfer item data from your eBay account into your plentymarkets system.</p>
</div>
<div class="paragraph">
<p>How does it work?</p>
</div>
<div class="paragraph">
<p>Just open up the "eBay listings" menu and configure the import settings as needed.</p>
</div>
<div class="paragraph">
<p>First, use this area up here to tell plentymarkets which eBay account and platform you want to import data from.</p>
</div>
<div class="paragraph">
<p>Then tell plentymarkets, which warehouse the newly imported items should be assigned to and which stock dependence settings they should be given.</p>
</div>
<div class="paragraph">
<p>You can think of this next area as a choose-your-own-adventure or as a fork in the road.</p>
</div>
<div class="paragraph">
<p>If you’re completely new to plentymarkets, then you might want to import your listing information from eBay and use this information to create new items in plentymarkets.</p>
</div>
<div class="paragraph">
<p>On the other hand, if you already have your item data in plentymarkets, then you may only want to import corresponding eBay listings.</p>
</div>
<div class="paragraph">
<p>Or if you’ve already got items and listings in plentymarkets, then you may only want to update your stock information.</p>
</div>
<div class="paragraph">
<p>Which option you pick depends on what you want to do.</p>
</div>
<div class="paragraph">
<p>Let’s assume you’re completely new to plentymarkets and you want to create items from your eBay listing information. In this case, turn your attention to these three options here and decide whether you want to use the eBay item number, listing title, or a combination of these two when searching for listings to import into your plentymarkets system.</p>
</div>
<div class="paragraph">
<p>We recommend that you use the eBay item number because it’s the most accurate method of telling exactly which information is which.</p>
</div>
<div class="paragraph">
<p>Once you’ve settled on an option, you’ll be ready to scroll down to this last area here and decide which types of little extra features should be included in the import.</p>
</div>
<div class="paragraph">
<p>For example, if you use JavaScript or HTML elements in your listing descriptions on eBay, then you’ll probably want to check this option here so that they’re filtered out, and only plain text descriptions are imported into plentymarkets.</p>
</div>
<div class="paragraph">
<p>You may also find this option here useful if you’re just starting out with plentymarkets. If you haven’t created a category structure for your items in plentymarkets yet, then check this option to import your eBay shop categories and link these categories to your items in plentymarkets.</p>
</div>
<div class="paragraph">
<p>Once you’re ready to start the import, decide whether you want to import all of your eBay listings, only a few pages of listings, as they’re organised within your eBay account, or only a few specific listings.</p>
</div>
<div class="paragraph">
<p>You can think of the import as being split into two steps.</p>
</div>
<div class="paragraph">
<p>First, there’s the preview, which is essentially just a trial run or a simulation of the import. It gives you time to catch and fix any potential errors before the real thing.</p>
</div>
<div class="paragraph">
<p>When you start the preview you’ll see information about its status here. This log shows you which settings were used and when the preview started and finished.</p>
</div>
<div class="paragraph">
<p>Click on the magnifying glass to see detailed information about the items and listings included in the import.</p>
</div>
<div class="paragraph">
<p>If you’re happy with the results, then just click on this little plus to return to the configuration area, turn off the preview function, and start the import for real.</p>
</div>
<div class="paragraph">
<p>Your eBay listing information will be imported and it will be used to create new items in your plentymarkets system. If your items were available in several different sizes or colours on eBay, then all of the different attributes and variations will be created in plentymarkets too.</p>
</div>
<div class="paragraph">
<p>Just a quick word to the wise for those of you who already have item data in plentymarkets and are looking to import the corresponding eBay listings.</p>
</div>
<div class="paragraph">
<p>We recommend that you check this option here because it will help plentymarkets accurately match your listings to the correct variations in plentymarkets.</p>
</div>
<div class="paragraph">
<p>Those of you who sell on eBay motors should know that it’s possible to import your parts compatibility listings and activate them where appropriate.</p>
</div>
<div class="paragraph">
<p>In this video, you learned how to configure the import settings and choose the options that are right for you. You learned how to use the preview function to catch and fix any potential errors. And you learned how to start the import once you’re satisfied with the results.</p>
</div>
<div class="paragraph">
<p>Now it’s your turn to explore the possibilities of the eBay listings import and see just how much time you’ll save by importing data rather than entering it all by hand.</p>
</div>
</div>
</div>
</main>