<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Problems with payment plugins</h1><div class="paragraph">
<p>Payment methods such as for example <a href="/en/payment/payment-plugins/paypal">PayPal</a>, <a href="/en/payment/payment-plugins/mollie">Mollie</a> or <a href="/en/payment/payment-plugins/klarna">Klarna</a> are integrated into your system with plugins. By completing the corresponding assistant, the payment methods are set up and are then available in your system.<br>
From time to time, configuration errors can occur in this process. The following checklist is there to help you to identify possible sources of error by yourself and fix them.</p>
</div><div class="paragraph">
<p>Check the following settings if there are problems with a payment plugin:</p>
</div><div class="ulist checklist">
<ul class="checklist">
<li>
<p><i class="fa fa-square-o"></i> Is the plugin <a href="/en/plugins/installing-added-plugins">installed and deployed</a> correctly?</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Does IO have the highest position number in the plugin set?</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Is the plugin installed and deployed in the main client?</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Do you use the plugin in the current version?<br>
→ You can check this in the changelog. You can find this in the <strong>Changelog</strong> tab of the respective plugin in the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/payment-integrations" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. As an example, here the <a href="https://marketplace.plentymarkets.com/en/paypal_4690">PayPal changelog</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Was the assistant completed correctly?</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Were the access data entered correctly?</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Was the correct mode selected?<br>
→ Usually you can choose between the modes live / productive and testing. Select live / productive mode, to use a payment method and make it available to your customers.</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Is the payment method allowed in the customer class?<br>
→ A payment method can only be used in a customer class when it was allowed for this class. You can check this in the <strong>Setup » CRM » Classes</strong> menu in the <strong>Permitted payment methods</strong> area.</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Is the payment method unblocked in the shipping profile?<br>
→ Payment methods can be blocked for shipping profiles. If you want to use a payment method in a shipping profile, check if it is unblocked. To do so, navigate to the option <strong>Blocked payment methods</strong> in <strong>Shipping profile</strong> tab in the <strong>Setup » Orders » Shipping » Settings</strong> menu.</p>
</li>
</ul>
</div><div class="paragraph">
<p>If you could tick off all of these points, there shouldn’t be any problems with the payment method. In case you still encounter problems, you can find more detailed information about the plugin payment methods in the manual under <a href="/en/payment/payment-plugins">Payment plugins</a> or you can ask our supporters in the <a href="https://forum.plentymarkets.com/">Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</main>