<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Ausstehende Artikel suchen</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Allgemein suchen</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Auftragsbezogen suchen</span></a></li>
</ul>
</li>
<li><a href="#400"><span>2.</span><span> Zulauf aus Retouren auflisten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Rückstandsliste nutzen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In den Rückstandslisten finden Sie Artikel, die nachbestellt, aber noch nicht eingebucht wurden, also noch ausstehend sind. Außerdem erfahren Sie hier, wo Sie nachschauen können, welche Artikel aus Retouren gerade auf dem Rückweg an Sie sein sollten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Ausstehende Artikel suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie haben die Möglichkeit, ganz allgemein nach ausstehenden Artikeln zu suchen oder nach Artikeln zu suchen, die direkt in einem Auftrag nachbestellt wurden und noch ausstehend sind. Hierfür gibt es zwei separate Menüs.</p>
</div>
<div class="sect2">
<h3 id="200">1.1. Allgemein suchen</h3>
<div class="paragraph">
<p>Im Menü <strong>Waren » Bestellwesen » Rückstandsliste</strong> werden Artikel aufgelistet, die <strong><a href="/warenwirtschaft/nachbestellungen-verwalten/nachbestellungen-vornehmen">nachbestellt</a></strong> sind, für die aber noch kein Wareneingang gebucht wurde. Beim Öffnen des Menüs wird nicht automatisch eine Suche ausgeführt. Standardmäßig ist die Suche nicht eingeschränkt, d.h. wenn Sie eine Suche mit den Standardeinstellungen ausführen, werden alle ausstehenden Artikel gesucht, egal aus welchem Lager und egal wann die Nachbestellung angelegt wurde. Um die Suche einzuschränken, stellen Sie Filter ein.</p>
</div>
<div class="paragraph instruction">
<p>Ausstehende Artikel suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Bestellwesen » Rückstandsliste</strong>.</p>
</li>
<li>
<p>Wählen Sie Filter für Ihre Suche. Beachten Sie dazu die Erläuterungen in Tabelle 1.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>, um ausstehende Artikel zu suchen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Filter für die Suche nach ausstehenden Artikeln</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID-Auswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ALLE IDs</strong> oder eine der Einschränkungen <strong>Nur Auftrags-ID</strong>, <strong>Nur Artikel-ID</strong>, <strong>Nur Zeichen</strong> aus der Dropdown-Liste wählen. In das Eingabefeld rechts daneben eingetragene Werte beziehen sich auf diese Auswahl. Es werden entsprechend nur Suchergebnisse gezeigt, die zu dieser Kombination passen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikeldaten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eingabefeld zur Suche anhand von Daten, die im Artikel gespeichert sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ALLE</strong> oder eines der in Ihrem System angelegten Lager wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sortierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reihenfolge wählen, in der die Suchergebnisse angezeigt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der höchstens angezeigten Suchergebnisse.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ALLE</strong> oder einen der in Ihrem System angelegten Eigner wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ALLE</strong> oder einen der in Ihrem System angelegten Lieferanten wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei Auswahl einer der drei Optionen <strong>Liefertermin</strong>, <strong>Zahlungstermin</strong> oder <strong>Kalenderwoche</strong> erscheinen Eingabefelder, mit denen der Zeitraum der Suche eingegrenzt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ALLE</strong>, <strong>KEINE</strong> oder eine der aufgelisteten Markierungen wählen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Nachdem Sie eine Suche durchgeführt haben, können Sie in der Liste der Suchergebnisse sowohl den ausstehenden Artikel öffnen als auch die Nachbestellungen, in denen der Artikel enthalten ist.</p>
</div>
<div class="paragraph">
<p>Durch einen Klick auf das kleine <strong>Plus</strong> in der Zeile eines Ergebnisses wird das Suchergebnis aufgeklappt und Sie sehen, in welchen Nachbestellungen der Artikel enthalten ist. Ein Klick auf die ID einer Nachbestellung genügt, um die Nachbestellung zu öffnen. Ein Klick auf die Artikel-ID öffnet den Artikel.</p>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Auftragsbezogen suchen</h3>
<div class="paragraph">
<p>Auftragsbezogen heißt, dass die Nachbestellung, in der die Artikel bestellt wurden, direkt in einem Auftrag angelegt wurde. Beim Öffnen des Menüs wird standardmäßig eine Suche ausgeführt. Zum Einschränken der Suche sind Filter vorhanden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsbezogen suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Waren » Bestellwesen » Auftragsbezogene Rückstandsliste</strong>.</p>
</li>
<li>
<p>Wählen Sie Filter für die Suche.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In der Ergebnisliste werden die ausstehenden Artikel aufsteigend nach Artikel-ID sortiert. Den Artikel, die Nachbestellung sowie den Kunden öffnen Sie durch einen Klick auf die ID in der Ergebnisliste. In der nachfolgenden Tabelle finden Sie einige Erläuterungen zu den Informationen im Suchergebnis.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Aufträge werden automatisch auf Status 5 gesetzt, wenn in der auftragsbezogenen Nachbestellung die Artikel eingebucht werden</div>
<div class="paragraph">
<p>Wenn Sie die Nachbestellung öffnen, in der die ausstehenden Artikel bestellt wurden und den Wareneingang über die Nachbestellung buchen, wird der Auftrag automatisch auf Status 5 gesetzt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Spalten Ergebnisliste</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Menge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt in zwei Zeilen die nachbestellte Menge und die im Auftrag bestellte Menge. In beiden Zeilen werden jeweils die bereits gelieferte Menge, die noch ausstehende Menge und die insgesamt bestellte Menge angezeigt. Die gelieferte Menge in der unteren Zeile zeigt, wie viele Artikel bereits an den Kunden geliefert wurden. <br>
obere Zeile = Nachbestellung
untere Zeile = Auftrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DiffMenge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Differenz zwischen der Menge, die im Auftrag bestellt wurde, und der beim Lieferanten nachbestellten Menge.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="400">2. Zulauf aus Retouren auflisten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Übersicht, welche Artikel demnächst durch Retouren wieder zurückkommen, gibt es ein separates Menü. Beim Öffnen des Menüs <strong>Waren » Retouren » Zulauf</strong> wird automatisch eine Suche ausgeführt. Die Ergebnisse werden absteigend anhand des Anlagedatums der Retoure sortiert. Artikel aus der jüngsten Retoure stehen oben.</p>
</div>
</div>
</div>
</main>