<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Overview of available assistants</span></a></li>
<li><a href="#200"><span>2.</span><span> Handling of assistants</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Navigating in the assistant</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Carrying out changes in the assistant</span></a></li>
<li><a href="#500"><span>2.3.</span><span> Summary at end of assistant</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Assistants</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>When logging in to your system for the first time you are greeted by our virtual helpers: the assistants. You can find them under <strong>Setup</strong>.<br>
Finally a quick and simple way of setting up your system without having to understand complex contexts? Yes! Our assistants will help you setting up your system step by step without any instructions or prior knowledge.<br>
Just give it a go!<br></p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Overview of available assistants</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the following section you will find an overview of all currently available assistants and their functions.</p>
</div>
<table id="table-functions-assistants" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Assistants and their functions</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Assistant</th>
<th class="tableblock halign-left valign-top">Function</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>First steps</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>All assistants for the initial setup</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This folder lists all assistants that are necessary for the initial setup of your plentymarkets system. Once you have completed one of these assistants, it disappears from this folder and is moved into another one according to its topic. The following assistants are part of the first setup:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Basics</p>
</li>
<li>
<p>Locations</p>
</li>
<li>
<p>Integrations</p>
</li>
<li>
<p>Email accounts</p>
</li>
<li>
<p>Sales prices</p>
</li>
<li>
<p>Shipping settings</p>
</li>
<li>
<p>Domains</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Basic setup</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Basics</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Save your user data and company data including bank details.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email accounts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up your email account in plentymarkets and save the signature that should be displayed in your email templates.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Locations</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine the accounting settings for the locations you are using. Carry out the settings for the small business owner regulation, the calculation of orders, and intra- and extra-Community EU deliveries.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Integrations</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Expand your system with plugins. You can integrate the plentyShop Ceres including payment providers and shipping service providers as well as establish interfaces to other shop systems.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/settings/prices#100">Sales prices</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Define conditions for item prices and special reduced prices. For example, do you want to sell items at a lower price in your online store than on Amazon? No problem! Here you can specify the conditions for individual marketplaces, customer classes, countries of delivery, etc. Once you’ve completed the assistant, you’ll need to activate your newly created sales prices for all of the relevant item variations. Then you’ll need to enter the price for each variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item import</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create an import template for item data that is tailored to your needs. You can download the import template, fill in your data and then upload it with the <strong>Upload data</strong> assistant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contact data import</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create an import template for contact data that is tailored to your needs. You can download the import template, fill in your data and then upload it with the <strong>Upload data</strong> assistant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Upload the import template with your item data and carry out the import. If you do not have an import template yet, use the <strong>Item import</strong> assistant or the <strong>Contact data import</strong> assistant to create one.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/business-decisions/system-administration/domains">Domains</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Assists you in managing your domains. You can use the assistant for example to create new domains or sub-domains and to migrate existing domains.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EU VAT rates</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create for all locations of a client VAT rates for EU countries.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Omni-Channel</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Blog</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Blog Migration</strong>: Migrate your blog posts from the old CMS to the new blog module.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon Basic settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create an Amazon user account in order to sell your items on Amazon with plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon ASIN-Import</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import ASINs (Amazon product numbers) into your plentymarkets system and match them with your variations. This way, listing your variations on Amazon becomes much easier.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>idealo Basic settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up your idealo account in plentymarkets and carry out settings for the item data export to idealo and order import from idealo Checkout.<br>
<strong>Note:</strong> The <strong>idealo Basic settings</strong> assistant is only displayed in the <strong>Setup » Assistants » Omni-Channel</strong> menu if you have installed and activated the <strong>ElasticExportIdealoDE</strong> plugin in your plentymarkets system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO market Basic settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create an OTTO market user account to sell your items on OTTO market with plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO market Creating catalogues</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create catalogue templates to export your items to OTTO market.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Payment</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/payment/payment-plugins/pay-upon-pickup">Pay upon pickup</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up the plugin with the assistant in your system to offer your customers the payment method <strong>Pay upon pickup</strong>. To do so, download the plugin from the <a href="https://marketplace.plentymarkets.com/en/payuponpickup_4757" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and install it in a plugin set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/payment/payment-plugins/invoice">Invoice</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up the plugin with the assistant in your system to offer your customers the payment method <strong>Invoice</strong>. To do so, download the plugin from the <a href="https://marketplace.plentymarkets.com/en/invoice_4760" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and install it in a plugin set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/payment/payment-plugins/klarna">Klarna</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up the plugin with the assistant in your system to offer your customers the various Klarna payment methods. To do so, download the plugin from the <a href="https://marketplace.plentymarkets.com/en/klarna_6731" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and install it in a plugin set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/payment/payment-plugins/debit">Debit</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up the plugin with the assistant in your system to offer your customers the payment method <strong>Debit</strong>. To do so, download the plugin from the <a href="https://marketplace.plentymarkets.com/en/debit_6362" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and install it in a plugin set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/payment/payment-plugins/mollie">Mollie</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up the plugin with the assistant in your system to offer your customers the various Mollie payment methods. To do so, download the plugin from the <a href="https://marketplace.plentymarkets.com/en/mollie_6272" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and install it in a plugin set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/payment/payment-plugins/payone">Payone</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up the plugin with the assistant in your system to offer your customers the various Payone payment methods. To do so, download the plugin from the <a href="https://marketplace.plentymarkets.com/en/payone_5434" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and install it in a plugin set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/payment/payment-plugins/paypal">PayPal</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up the plugin with the assistant in your system to offer your customers the various PayPal payment methods. To do so, download the plugin from the <a href="https://marketplace.plentymarkets.com/en/paypal_4690" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and install it in a plugin set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Dispute</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up the plugin with the assistant in order to integrate the PayPal Dispute service directly into your plentymarkets system. To do so, download the plugin from the <a href="https://marketplace.plentymarkets.com/en/paypaldispute_6582" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and install it in a plugin set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/payment/payment-plugins/cash-in-advance">Cash in advance</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up the plugin with the assistant in your system to offer your customers the payment method <strong>Cash in advance</strong>. To do so, download the plugin from the <a href="https://marketplace.plentymarkets.com/en/prepayment_4758" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and install it in a plugin set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentyPOS payment methods</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up the plugin with the assistant in your system to activate the default payment methods required for plentyPOS and to rename those payment methods if needed. To do so, download the plugin from the <a href="https://marketplace.plentymarkets.com/en/pospaymentmethodrenaming_6813" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and install it in a plugin set.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Integration</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Carry out different settings for shipping service providers and shipping costs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DHL DE and AT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up DHL Shipping (Versenden) in your system for shipping from Germany and Austria. The plugin must be installed in a plugin set. Buy the plugin on <a href="https://marketplace.plentymarkets.com/en/dhlshipping_4871" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and install it in a plugin set. Alternatively, complete the <strong>Integrations</strong> assistant to automatically install the plugin.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DHL Retoure Online</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up DHL Retoure Online in your system and generate return labels for orders with various countries of delivery. Buy the plugin on <a href="https://marketplace.plentymarkets.com/en/dhlretoureonline_6714" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and install it in a plugin set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD Shipping Services DE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up DPD Shipping Services in your system for shipping from Germany. Buy the plugin on <a href="https://marketplace.plentymarkets.com/en/dpdshippingservices_6320" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and install it in a plugin set. Alternatively, complete the <strong>Integrations</strong> assistant to automatically install the plugin.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DHL Preferred Delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set up the DHL Preferred Delivery services in your plentyShop for shipping from Germany. Buy the plugin on <a href="https://marketplace.plentymarkets.com/en/dhlwunschpaket_5435" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and install it in a plugin set. Alternatively, complete the <strong>Integrations</strong> assistant to automatically install the plugin.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Handling of assistants</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the following, you will find some information and tips on how to handle the assistants.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Navigating in the assistant</h3>
<div class="paragraph">
<p>Once you have completed a step, the <strong>Next</strong> button brings you to the next step.
However, it is also possible to access the next step via the side navigation. Steps that have already been completed are highlighted in green in the navigation bar and you can jump back and forth between them.</p>
</div>
</div>
<div class="sect2">
<h3 id="400">2.2. Carrying out changes in the assistant</h3>
<div class="paragraph">
<p>If you want to carry out changes in an assistant, it depends on whether they affect the following steps.
If your changes do not affect following steps, you can immediately return to the summary and directly finalise the assistant.
However, if you carry out changes that affect settings of following steps, you have to click through all following steps once again, as otherwise errors may occur.</p>
</div>
</div>
<div class="sect2">
<h3 id="500">2.3. Summary at end of assistant</h3>
<div class="paragraph">
<p>On the last page of the assistant you will find a summary. Here, you can take a look at all settings that have been carried out in the different steps.
If you reopen an assistant that has already been finalised, you get directly to the summary so you can find the setting that you want to edit with just one click.</p>
</div>
</div>
</div>
</div>
</main>