<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Customising your own user account</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Opening the user account</span></a></li>
<li><a href="#30"><span>1.2.</span><span> Adding a user image</span></a></li>
<li><a href="#40"><span>1.3.</span><span> Complimentary close</span></a></li>
<li><a href="#50"><span>1.4.</span><span> Signature</span></a></li>
<li><a href="#60"><span>1.5.</span><span> Personal settings</span></a>
<ul class="sectlevel3">
<li><a href="#70"><span>1.5.1.</span><span> General</span></a></li>
<li><a href="#80"><span>1.5.2.</span><span> Shortcuts</span></a></li>
<li><a href="#90"><span>1.5.3.</span><span> Favourites</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#100"><span>2.</span><span> Customising your plentymarkets system</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>2.1.</span><span> Personalising the dashboard</span></a>
<ul class="sectlevel3">
<li><a href="#120"><span>2.1.1.</span><span> Adding an element to the dashboard</span></a></li>
<li><a href="#130"><span>2.1.2.</span><span> Removing an element from the dashboard</span></a></li>
</ul>
</li>
<li><a href="#140"><span>2.2.</span><span> Adding more functions and menus</span></a></li>
<li><a href="#150"><span>2.3.</span><span> Adjusting the menu layout</span></a>
<ul class="sectlevel3">
<li><a href="#160"><span>2.3.1.</span><span> Customising the layout</span></a></li>
<li><a href="#170"><span>2.3.2.</span><span> Sorting the positions in the menu view</span></a></li>
</ul>
</li>
<li><a href="#180"><span>2.4.</span><span> Choosing your preferred editor</span></a></li>
<li><a href="#183"><span>2.5.</span><span> Activating full screen mode</span></a></li>
<li><a href="#185"><span>2.6.</span><span> Changing the design</span></a></li>
</ul>
</li>
<li><a href="#190"><span>3.</span><span> Keeping the overview with the tasks function</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>3.1.</span><span> Assigning user rights for back end users</span></a></li>
<li><a href="#210"><span>3.2.</span><span> Creating a task</span></a></li>
<li><a href="#220"><span>3.3.</span><span> Searching for tasks</span></a></li>
<li><a href="#230"><span>3.4.</span><span> Editing a task</span></a></li>
<li><a href="#240"><span>3.5.</span><span> Showing tasks on the dashboard</span></a></li>
</ul>
</li>
<li><a href="#250"><span>4.</span><span> Scheduling meetings with the calendar function</span></a>
<ul class="sectlevel2">
<li><a href="#260"><span>4.1.</span><span> Assigning user rights for back end users</span></a></li>
<li><a href="#270"><span>4.2.</span><span> Setting the back end user as owner</span></a></li>
<li><a href="#280"><span>4.3.</span><span> Carrying out basic calendar settings and setting access rights for users</span></a></li>
<li><a href="#290"><span>4.4.</span><span> Creating an appointment</span></a></li>
<li><a href="#300"><span>4.5.</span><span> Editing an appointment</span></a></li>
<li><a href="#310"><span>4.6.</span><span> Deleting an appointment</span></a></li>
<li><a href="#320"><span>4.7.</span><span> Synchronising the calendar with external calendar tools</span></a></li>
</ul>
</li>
<li><a href="#330"><span>5.</span><span> Visualising internal workflows using boards</span></a>
<ul class="sectlevel2">
<li><a href="#340"><span>5.1.</span><span> Assigning user rights for back end users</span></a></li>
<li><a href="#350"><span>5.2.</span><span> Creating a board</span></a></li>
<li><a href="#360"><span>5.3.</span><span> Adding a column</span></a></li>
<li><a href="#370"><span>5.4.</span><span> Adding a card</span></a></li>
<li><a href="#380"><span>5.5.</span><span> Editing a card</span></a></li>
<li><a href="#390"><span>5.6.</span><span> Editing a board</span></a></li>
<li><a href="#400"><span>5.7.</span><span> Setting up event procedures</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Customising your system</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page describes the settings that you can use to customise your user account and your plentymarkets system.
Of course you can change these settings at any time.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Customising your own user account</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="20">1.1. Opening the user account</h3>
<div class="paragraph">
<p>There are two different ways to access your own user account.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Move your mouse cursor over the user symbol in the top right corner (<span class="icon "><i class="fa fa-user-circle  "></i></span>) and then click on your name.</p>
</li>
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>. Then click on the button <span class="icon "><i class="fa fa-user  "></i></span> <strong>My account</strong>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. Adding a user image</h3>
<div class="paragraph">
<p>In order to have a user image displayed instead of the empty user button (<span class="icon "><i class="fa fa-user-circle  "></i></span>) in your plentymarkets back end, you have to be registered with <a href="https://en.gravatar.com/" target="_blank" rel="noopener">gravatar.com</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="paragraph instruction">
<p>Adding a user image:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#20">Open your own user account</a>.<br>
→ The tab <strong>Master data</strong> opens.</p>
</li>
<li>
<p>Enter the email address that you use for gravatar.com in the <strong>Email</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ Reload the system to display the user image.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="40">1.3. Complimentary close</h3>
<div class="paragraph">
<p>Enter a text into the <strong>Complimentary close</strong> tab. This text is automatically added to the end of your messages and comments in the ticket system. Generally, this text consists only of a closing and your name. When sending emails from the ticket system, the complimentary close and the <a href="#50">signature</a> will automatically be added to the end of the email.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the complimentary close:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#20">Open your own user account</a>.</p>
</li>
<li>
<p>Click on the <strong>Complimentary close</strong> tab.</p>
</li>
<li>
<p>Enter your complimentary close.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="50">1.4. Signature</h3>
<div class="paragraph">
<p>Enter a text into the <strong>Signature</strong> tab. This text is automatically added to the end of your messages and comments in the ticket system. Generally, this text consists of your contact details as well as information about where your company is registered and its registration number. Depending on your company’s legal form, the name of the company, the chief executive officer and, if applicable, the European VAT number are all mandatory inputs.
When sending emails from the ticket system, the <a href="#40">complimentary close</a> and the signature will automatically be added to the end of the email.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Template variable for the signature</div>
<div class="paragraph">
<p>The template variables <strong>$Signature</strong> and <strong>$SignatureHTML</strong> contain the complimentary close.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up the signature:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#20">Open your own user account</a>.</p>
</li>
<li>
<p>Click on the <strong>Signature</strong> tab.</p>
</li>
<li>
<p>Enter your signature.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Mandatory entries in emails</div>
<div class="paragraph">
<p>Since the beginning of 2007, mandatory entries for email signatures in Germany correspond to those for company business letters. Non-compliance can result in a fine or in a costly warning being issued by a competitor.<br>
Read up on the legal regulations for signatures in your own country or contact a legal adviser for such information.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="60">1.5. Personal settings</h3>
<div class="paragraph">
<p>Use the <strong>Personal settings</strong> tab to change the settings of whichever user is currently logged into the system. Therefore, you can only see this tab in your own user account. The tab is divided into 3 tabs with settings that only apply to you personally. These tabs are <strong>General</strong>, <strong>Shortcuts</strong> and <strong>Favourites</strong>.</p>
</div>
<div class="sect3">
<h4 id="70">1.5.1. General</h4>
<div class="paragraph">
<p>Tabs are marked with a red flag when you made changes, but did not save these changes.
If you close a tab without having saved the changes, a window will appear that you have to edit before being able to continue working with your system.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Click on <strong>Close</strong> to close the tab without saving the changes.</p>
</li>
<li>
<p>Click on <strong>Cancel</strong> to save the settings or to make further changes.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If you do not want to have such warning messages displayed for your user account, deactivate this function in the <strong>General</strong> tab of your own personal settings.
You can also reset the user-specific settings here.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out general settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#20">Open your own user account</a>.</p>
</li>
<li>
<p>Click on the tab <strong>Personal settings » General</strong>.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#tabelle-allgemein">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="tabelle-allgemein" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. General settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Button</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset messages</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Users can deactivate certain messages, e.g. the message that is displayed when plentymarkets needs to be reloaded in order for updates to go into effect. This setting is saved for each individual user. Click on this button again to reset all of the relevant settings for the user. For example, all of the messages that were deactivated will be displayed again.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset all</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets all of the user-specific settings, e.g. the messages described above, the content and column widths in tables, any favourites, etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warn if tabs are open and the window is to be closed</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activated = A warning will be displayed if you try to close a window while tabs are still open.<br>
Deactivated = The window will be closed without warning.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="80">1.5.2. Shortcuts</h4>
<div class="paragraph">
<p>Default shortcuts are saved in this tab. Shortcuts are used for many functions that are carried out on a regular basis. You can use shortcuts to open important menus in plentymarkets or to switch between tabs and tab levels. For example, the shortcut <strong>Alt + I</strong> opens the item overview. <strong>Alt + W</strong> is used to close the tab again.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Some shortcut combinations are not possible</div>
<div class="paragraph">
<p>Do not use any shortcut that is specific to an operating system. Shortcuts differ from one operating system to the next. For example: the <strong>F</strong> keys.<br>
The combination <strong>cmd / Ctrl + W</strong> is reserved for the browser and is therefore not possible.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up shortcuts:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#20">Open your own user account</a>.</p>
</li>
<li>
<p>Click on the tab <strong>Personal settings » Shortcuts</strong>.</p>
</li>
<li>
<p>Set the shortcuts. Note <a href="#tabelle-shortcuts">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="tabelle-shortcuts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Shortcuts</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Shortcut</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Global shortcuts</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + W</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Closes the current tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + DOWN (arrow down)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Moves down one tab level.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + UP (arrow up)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Moves up one tab level.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + RIGHT (arrow right)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Moves one tab to the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + LEFT (arrow left)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Moves one tab to the left.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + R</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reloads the current tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + ESC</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Logs out the user account and locks the back end.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Open areas</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + I</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the menu <strong>Item » Edit item</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + O</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the menu <strong>Orders » Edit orders</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + Y</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the menu <strong>Item » Category</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + C</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the menu <strong>CRM » Contacts</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + T</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the menu <strong>CRM » Ticket system</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + N</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the area <strong>New contact</strong> within the menu <strong>CRM » Contacts</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + M</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the menu <strong>CRM » Quick search</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + S</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the <strong>online shop</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + E</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the online shop with the inline editing function.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Edit order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + N</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the customer notes in an order; available in all tabs of the order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + A</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the order notes in an order; available in all tabs of the order.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Restoring the default shortcuts</div>
<div class="paragraph">
<p>Click on <strong>Reset shortcuts</strong> to reset the shortcuts to their default settings.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="90">1.5.3. Favourites</h4>
<div class="paragraph">
<p>If you use some menus very frequently, you may want to save them to a list of favourites. This allows you to access the menus quickly. Click on <span class="icon "><i class="fa fa-ellipsis-v  "></i></span> in the top right of the plentymarkets back end to display your favourites.</p>
</div>
<div class="paragraph">
<p>Open up the <strong>Favourites</strong> tab within the personal settings of your user account to see all of the menu paths that were saved as favourites. Favourites can also be deleted in this menu. Use the <strong>Up</strong> and <strong>Down</strong> arrows to sort your favourites. The tab is only visible for your own user account.</p>
</div>
<div class="paragraph instruction">
<p>Adding a menu to favourites:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu that you want to add to as favourite.</p>
</li>
<li>
<p>Click in the tab of the menu on <span class="icon "><i class="fa fa-ellipsis-v  "></i></span> and select <span class="icon "><i class="fa fa-star  "></i></span> <strong>Add link to favourites</strong>.<br>
→ <strong><em>Note:</em></strong> Favourites are only visible in this menu once you have saved at least one favourite.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Deleting a menu from favourites:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <span class="icon "><i class="fa fa-ellipsis-v  "></i></span> in the top right of the plentymarkets back end.<br>
→ The list shows the favourites you saved.<br></p>
</li>
<li>
<p>Click on <strong>x</strong> next to the menu path to remove the menu from the favourites.<br>
→ <span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Click on <strong>Delete all favourites</strong> and confirm the security question with <strong>Delete</strong> to delete all favourites saved in your system.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">2. Customising your plentymarkets system</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="110">2.1. Personalising the dashboard</h3>
<div class="paragraph">
<p>The dashboard is shown when you log into the plentymarkets back end. By default, current plentymarkets news and status messages are displayed on the dashboard. By adding optional elements, you can monitor other information from your dashboard.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Read the dashboard area plentymarkets News regularly</div>
<div class="paragraph">
<p>Important status information and news are published in the <strong>plentymarkets News</strong> area of the dashboard. As such, you cannot close the <strong>Dashboard</strong> tab. Read the information published in this area regularly to stay up to date on new features and issues.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="120">2.1.1. Adding an element to the dashboard</h4>
<div class="paragraph">
<p>By default, only the plentymarkets news are displayed on the dashboard. Proceed as described below to show additional elements on the dashboard.</p>
</div>
<div class="paragraph instruction">
<p>Adding an element to the dashboard:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the <strong>Dashboard</strong> tab.</p>
</li>
<li>
<p>Choose an element from the drop-down list in the lower left corner. Note <a href="#tabelle-elemente">Table 3</a>.</p>
</li>
<li>
<p>Click on <strong>New element</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The element is added to the dashboard.<br></p>
</li>
<li>
<p>Click on the element’s header and drag it to the desired position.</p>
</li>
</ol>
</div>
<table id="tabelle-elemente" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Available elements</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item(s) below reorder level</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows which items need to be reordered. The items are listed according to their warehouse.<br>
<strong><em>Tip:</em></strong> Click on the number to open the <strong>Reorder</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the number of new orders received today and the number of orders shipped today. It is linked to the <strong>Edit orders</strong> menu and displays the orders in the <strong>order overview</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the number of new listings today and yesterday. You can also see how many listings ended successfully and how many ended unsuccessfully yesterday and today.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>My tasks</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows your <a href="#190">tasks</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales statistics</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the sales figures by week.<br>
<strong><em>Note:</em></strong> Credit notes are recorded as negative sales figures on the day they were created.<br>
<strong><em>Note:</em></strong> The sales statistics give you a broad snapshot of your current sales. The menu <strong>plentymarkets Logo (Start) » Statistics</strong> gives you a more detailed statistical analysis.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payments</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows an overview of the number of unassigned payments and the number of payments received today and yesterday.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="130">2.1.2. Removing an element from the dashboard</h4>
<div class="paragraph">
<p>By default, only the plentymarkets news are displayed on the dashboard. Proceed as described below to remove elements from the dashboard.</p>
</div>
<div class="paragraph instruction">
<p>Removing an element from the dashboard:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the <strong>Dashboard</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Close</strong> for the element you want to remove.<br>
→ The element is removed from the dashboard.<br>
<strong><em>Note:</em></strong> The <strong>plentymarkets News</strong> area cannot be removed from the dashboard.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="140">2.2. Adding more functions and menus</h3>
<div class="paragraph">
<p>You can use active plugins in a plugin set not only to add additional features to your store, but also to add new menu items or user interfaces to your back end. Every user can select their own back end plugin set to load the plugins the set contains for their own back end. This is useful if you only need to be able to access certain functionality, but not all. If you want to change the plugin set for your back end view, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Selecting a back end plugin set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the plentyMarkets back end, hover over the account icon (<span class="icon "><i class="fa fa-user-circle  "></i></span>) in the upper right corner.</p>
</li>
<li>
<p>Click on <strong>Backend plugin set</strong>.<br>
→ The <strong>Backend plugin set</strong> window opens.</p>
</li>
<li>
<p>Click on a plugin set.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Reload the page.<br>
→ The selected plugin set is now active in your back end.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Refer to the <a href="/en/plugins">Plugins</a> chapter for further information about setting up plugins and plugin sets.</p>
</div>
</div>
<div class="sect2">
<h3 id="150">2.3. Adjusting the menu layout</h3>
<div class="paragraph">
<p>Learn in the following sub-chapters how to adjust the overview within a menu and how to order the positions in the menu view.</p>
</div>
<div class="sect3">
<h4 id="160">2.3.1. Customising the layout</h4>
<div class="paragraph">
<p>You can customise the layout of some menus in the plentymarkets back end, i.e. you can specify which parameters should be displayed in the columns. <a href="#image-customise-layout">Figure 1</a> shows the <strong>Item » Edit item</strong> menu as an example.</p>
</div>
<div class="paragraph instruction">
<p>Customising the layout:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Move the cursor over the menu’s title bar. <br>
→ The button <strong>Customise layout</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>) appears.</p>
</li>
<li>
<p>Click on <strong>Customise the layout</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>). <br>
→ The window <strong>Customise the layout</strong> opens.</p>
</li>
<li>
<p>Activate the parameters that you want to have displayed in the menu. <br>
→ Remove the check mark if you no longer want one of the parameters to be displayed.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div id="image-customise-layout" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/welcome/assets/General-functions-customising-window.png" alt="Customise the layout">
</div>
<div class="title">Figure 1. Customising the menu layout</div>
</div>
</div>
<div class="sect3">
<h4 id="170">2.3.2. Sorting the positions in the menu view</h4>
<div class="paragraph">
<p>Proceed as described below to sort the positions in the menu view alphabetically or numerically and ascending or descending.</p>
</div>
<div class="paragraph instruction">
<p>Sorting the positions in the menu view:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Move the cursor over the heading of the column that you want to sort.<br>
A small triangle (<span class="icon "><i class="fa fa-caret-up  "></i></span>) appears.</p>
</li>
<li>
<p>Click on the triangle (<span class="icon "><i class="fa fa-caret-up  "></i></span>) to sort the entries according to this column.<br>
→ If the triangle is pointing down (<span class="icon "><i class="fa fa-caret-down  "></i></span>), the column entries are sorted in ascending order (the highest value is at the top of the list). If the triangle is pointing up (<span class="icon "><i class="fa fa-caret-up  "></i></span>), the column entries are sorted in descending order.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="180">2.4. Choosing your preferred editor</h3>
<div class="paragraph">
<p>The editors <strong>Editor</strong>, <strong>Syntax editor</strong> and <strong>Text field</strong> are activated in all areas by default. Go to <strong>Setup » Settings » Editors » Tab: Areas</strong> to deactivate these editors for each area.</p>
</div>
<div class="paragraph instruction">
<p>Deactivating editors:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Editors</strong>.<br>
→ The <strong>Areas</strong> tab opens.</p>
</li>
<li>
<p>Remove the check mark next to the editors that should not be displayed in the drop-down list of the corresponding area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<h4 id="_changing_the_css_of_the_editor" class="discrete">Changing the CSS of the editor</h4>
<div class="paragraph">
<p>The <a href="/en/online-store/online-store/cms#web-design-tools#">editor</a> uses the <strong>CSSContent</strong> by default. If a background image is used there and this is bothersome or not desired, you can individually edit the CSS in the menu <strong>Setup » Settings » Editors » Tab: CSS</strong>. Alternatively, you can use the <strong>Standard</strong> CSS with a white background. You can also create your own <strong>customised</strong> CSS and specify additional formatting, e.g. fonts.</p>
</div>
<div class="paragraph">
<p>To change the CSS for the editor, go to <strong>Setup » Settings » Editors » Tab: CSS</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Changing the CSS of the editor:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Editors</strong>.</p>
</li>
<li>
<p>Click on the <strong>CSS</strong> tab.</p>
</li>
<li>
<p>Select the desired CSS. Pay attention to the information given in <a href="#table-css-editors">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-css-editors" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Available CSS</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>As in the online store (CSSContent)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <a href="/en/online-store/online-store/cms#web-design">store CSS</a> will be loaded in the editor.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A simple standard CSS will be loaded in the editor. The background colour is white.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User-defined</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The simple standard CSS will be displayed in an editing window and can be customised with the <a href="/en/online-store/online-store/cms#<em>syntax_editor">syntax editor</a>.<br>
<strong>_Note:</strong> Click on <strong>Reset</strong> to reset the CSS to the standard CSS.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="183">2.5. Activating full screen mode</h3>
<div class="paragraph">
<p>If you want to use more of your screen space for back end views, you can use full screen mode. Activating full screen mode hides the menu bar. You can show the menu bar dynamically by hover the mouse over the top edge of your browser tab.</p>
</div>
<div class="paragraph">
<p>To activate or deactivate full screen mode, click on <span class="icon "><i class="fa fa-ellipsis-v  "></i></span> in the upper right corner of the plentymarkets back end, then click on either <strong>Fullscreen on</strong> <span class="icon "><i class="material-fullscreen"></i></span> or <strong>Fullscreen off</strong> <span class="icon "><i class="material-fullscreen-exit"></i></span>.</p>
</div>
</div>
<div class="sect2">
<h3 id="185">2.6. Changing the design</h3>
<div class="paragraph">
<p>There are various themes and options to change the design of your back end. You can change the following elements:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Menu bar colour</p>
</li>
<li>
<p>Size of various elements</p>
</li>
<li>
<p>Button colour</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>To change the design of your back end, carry out the following steps:</p>
</div>
<div class="paragraph instruction">
<p>Changing the design:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Hover over the user icon (<span class="icon "><i class="fa fa-user  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>Themes</strong>.<br>
→ The <strong>Themes</strong> window opens.</p>
</li>
<li>
<p>Select the desired design.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="190">3. Keeping the overview with the tasks function</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>plentymarkets logo (Start) » Tasks</strong> menu to manage duties for all of the users in the system. You can see how much progress has been made towards completing a task. This helps you plan your business processes and improve internal processes. Examples for that are the tasks <em>Call customer</em> or <em>Send product catalogue</em>.</p>
</div>
<div class="paragraph">
<p>You can create tasks in the <strong>plentymarkets logo (Start) » Tasks</strong> menu and in the <a href="/en/crm/using-the-ticket-system#4000">ticket system</a>. This allows you to directly create a task during a customer phone call, for example. If a task is created in the <strong>CRM » Ticket system » [Open ticket] » Tab: Tasks</strong>, it is linked to the ticket. This link is also visible in the overview of tasks under <strong>plentymarkets logo (Start) » Tasks</strong>.</p>
</div>
<div class="sect2">
<h3 id="200">3.1. Assigning user rights for back end users</h3>
<div class="paragraph">
<p>Users of the type <strong>Back end</strong> can only access limited areas and menus in the plentymarkets back end. Thus, their access to the system is limited. If users of this type should be able to see the <strong>plentymarkets logo (Start) » Tasks</strong> menu, a user of the type <strong>Admin</strong> has to assign the right listed in the following for users of the type <strong>Back end</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Setting the visibility for back end users:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.</p>
</li>
<li>
<p>Use the search function (<span class="icon blue"><i class="fa fa-search  "></i></span>) and open the account that should be edited.</p>
</li>
<li>
<p>Expand the <strong>Authorisations: Start</strong> menu.</p>
</li>
<li>
<p>Select the setting <strong>Tasks</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="210">3.2. Creating a task</h3>
<div class="paragraph">
<p>Proceed as described below to create a task. A consecutive ID is automatically assigned by the system and cannot be changed.</p>
</div>
<div class="paragraph instruction">
<p>Creating a task:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » Tasks</strong>.<br>
→ <strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>New task</strong>.<br>
→ The tab <strong>New task</strong> opens.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-create-task">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-create-task" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Creating a task</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the task title.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a priority. The priorities range from <strong>0 = grey star</strong> to <strong>5 = 2 yellow stars</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Progress</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a percentage value. This shows the progress of the task. Users have to change the progress manually as they complete the task.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a flag. The flag helps you find tasks again in the future.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an owner. Selecting the owner is a mandatory setting. The owner is the person that is responsible for the task.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a task description and format the text, if needed.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="220">3.3. Searching for tasks</h3>
<div class="paragraph">
<p>When opening the <strong>plentymarkets logo (Start) » Tasks</strong> menu, all tasks with a progress below 100% of the currently active user are shown as standard. If you have created a task via the <a href="/en/crm/using-the-ticket-system#4000">ticket system</a>, the ticket ID as well as the ticket title are shown in the overview. By clicking on the ticket ID, the ticket opens directly.</p>
</div>
<div class="paragraph">
<p>Use the search filters to keep track of your tasks, even if there are a lot of them. The filters also help you find the exact tasks you are looking for.</p>
</div>
<div class="paragraph instruction">
<p>Searching for tasks:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » Tasks</strong>.<br>
→ All own uncompleted tasks are shown because the filter for the progress is set to <strong>&lt;100%</strong> and the active user is preselected in the drop-down list <strong>Owner</strong> when opening the menu.</p>
</li>
<li>
<p>Click on <span class="icon orange"><i class="fa fa-undo  "></i></span> to remove the filters.</p>
</li>
<li>
<p>Select filters. Note <a href="#table-search-task">Table 6</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The tasks that correspond to the search criteria entered are shown.</p>
</li>
</ol>
</div>
<table id="table-search-task" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Searching for a task</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title/Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the title or description to search for them. This is a full text search. It searches in the task’s <strong>title</strong> and <strong>description</strong>. Enter at least 4 characters.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an ID to search for the task with this ID. The system automatically assigns consecutive task IDs. This ID <em>cannot</em> be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID of the ticket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a ticket ID to search for the task(s) that belong(s) to this ticket.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Progress</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an operator and the progress from the drop-down lists. For example, you could search for all of the tasks that have already been completed to 60% or more.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an operator and the priority from the drop-down lists. For example, you could search for all of the tasks that have priority 2 or higher.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date of creation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an operator from the drop-down list and a date from the calendar (<span class="icon "><i class="fa fa-calendar  "></i></span>). For example, you could search for all of the tasks that were created before a specific date.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an owner from the drop-down list to only search for tasks of this owner.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a flag to only search for tasks with this flag.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="230">3.4. Editing a task</h3>
<div class="paragraph">
<p>You can edit tasks at any time in order to adjust the progress bar or to add a description, for example.</p>
</div>
<div class="paragraph instruction">
<p>Editing a task:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » Tasks</strong>.<br>
→ All own uncompleted tasks are shown because the filter for the progress is set to <strong>&lt;100%</strong> and the active user is preselected in the drop-down list <strong>Owner</strong> when opening the menu.<br></p>
</li>
<li>
<p>Click on <span class="icon orange"><i class="fa fa-undo  "></i></span> to remove the filters.</p>
</li>
<li>
<p>Select filters. Note <a href="#table-search-task">Table 6</a>.<br>
→ The tasks that correspond to the search criteria entered are shown.</p>
</li>
<li>
<p>Click in the line of the task.<br>
→ The task opens.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-create-task">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="240">3.5. Showing tasks on the dashboard</h3>
<div class="paragraph">
<p>You can have your uncompleted <a href="/en/welcome/customise-system#110">tasks shown on the dashboard</a>. This way you can see at a glance which tasks still need to be done when starting your working day.</p>
</div>
<div class="paragraph">
<p>Activate the checkbox next to the task when you have finished the task. This task is also updated in the <strong>plentymarkets logo (Start) » Tasks</strong> menu and marked with <strong>100%</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Showing tasks on the dashboard:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open your plentymarkets system.<br>
→ The dashboard is shown.</p>
</li>
<li>
<p>Select the element <strong>My tasks</strong> from the drop-down list.<br>
→ The <strong>My tasks</strong> area is displayed on the dashboard from now on every time you open your plentymarkets system.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Click on <strong>Enter ToDo</strong> in the <strong>My tasks</strong> area to directly open the <strong>plentymarkets logo (Start) » Tasks</strong> menu and <a href="#210">create a new task</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="250">4. Scheduling meetings with the calendar function</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The calendar in the <strong>plentymarkets logo (Start) » Calendar</strong> menu of your plentymarkets system allows you to make appointments and plan deadlines. This helps you organise your own and your employees' time and improve internal processes.</p>
</div>
<div class="paragraph">
<p>The calendar shows your appointments. In addition, it shows the appointments of any users whose calenders have been made visible to you and which you have activated in the <strong>filter</strong>.</p>
</div>
<div class="paragraph">
<p>You can choose to show the day, week or month. Click on the button <strong>Today</strong> to change to the view of the current day.</p>
</div>
<div class="paragraph">
<p>The filter shows a list of all users for which you at least have read permissions. Place a check mark to show a user’s appointments in your calendar. You can show the calendars of multiple users at the same time.</p>
</div>
<div class="sect2">
<h3 id="260">4.1. Assigning user rights for back end users</h3>
<div class="paragraph">
<p>Users of the type <strong>Back end</strong> can only access limited areas and menus in the plentymarkets back end. Thus, their access to the system is limited. If users of this type should be able to see the <strong>plentymarkets logo (Start) » Calendar</strong> menu, a user of the type <strong>Admin</strong> has to assign the right listed in the following for users of the type <strong>Back end</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Setting the visibility for back end users:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.</p>
</li>
<li>
<p>Use the search function (<span class="icon blue"><i class="fa fa-search  "></i></span>) and open the account that should be edited.</p>
</li>
<li>
<p>Expand the <strong>Authorisations: Start</strong> menu.</p>
</li>
<li>
<p>Select the setting <strong>Calendar</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="270">4.2. Setting the back end user as owner</h3>
<div class="paragraph">
<p>For persons with <strong>Back end</strong> access, the calendar has to be activated as described in the following. It is not possible to activate the calendar for persons with <strong>REST API</strong> access.</p>
</div>
<div class="paragraph">
<p>The right assigned to a user can be deactivated in the <strong>Owner</strong> tab at any time.</p>
</div>
<div class="paragraph instruction">
<p>Setting the back end user as owner:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open the user account with the <strong>Back end</strong> access.</p>
</li>
<li>
<p>Click on the <strong>Owner</strong> tab.</p>
</li>
<li>
<p>Activate the option <strong>Calendar</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The new tab <strong>Calendar</strong> is visible and can be set up as described in the next chapter.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="280">4.3. Carrying out basic calendar settings and setting access rights for users</h3>
<div class="paragraph">
<p>Proceed as described below to carry out basic calendar settings such as saving the password and to set the access rights for users. You can select between the settings <strong>No access</strong>, <strong>Read</strong> and <strong>Read &amp; write</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out basic calendar settings and setting access rights for users:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open the user account.</p>
</li>
<li>
<p>Click on the <strong>Calendar</strong> tab.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-calendar-basic-settings">Table 7</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-calendar-basic-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Carrying out basic calendar settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Server address</strong>;<br>
<strong>Server path</strong>;<br>
<strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatically saved by the system.<br>
The server address and server path are required for configuring an <a href="#320">external calendar tool</a> such as Google Calendar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A password must be entered during setup of the calendar account. This password is required for the <a href="#320">external calendar tools</a>. The password can be changed at any time.<br>
<strong><em>Important:</em></strong> After saving, the password is no longer shown and cannot be retrieved.<br>
If you use an external calendar tool, you might need to re-enter the password when the password is changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Repeat password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the password again to confirm it.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The description is shown within the information and settings for the calendar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Right</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which users can access this owner’s calendar. Also select the type of access right assigned to these users. Users have to be assigned at least read permission in order to see the calendar.<br>
<strong>No access</strong> = The user has neither read nor write permissions for this owner’s calendar.<br>
<strong>Read</strong> = The user can view the calendar.<br>
<strong>Write</strong> = The user can edit and delete appointments in the calendar.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="290">4.4. Creating an appointment</h3>
<div class="paragraph">
<p>Proceed as described below to create an appointment. Depending on your access rights that are set according to <a href="#table-calendar-basic-settings">Table 7</a>, you can also create appointments for other users. You can only create appointments for users for which you have write permissions. You cannot select users for which you do not have write permissions.</p>
</div>
<div class="paragraph instruction">
<p>Creating an appointment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets logo (Start) » Calendar</strong>.<br>
→ <strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.</p>
</li>
<li>
<p>Select the point in time of the appointment by clicking the time in the calendar.<br>
→ <strong><em>Tip:</em></strong> Select the time period for the appointment by clicking the start time and move the cursor to the end time of the appointment.</p>
</li>
<li>
<p>Carry out the settings in the <strong>Appointment details</strong> area. Note <a href="#table-create-appointment">Table 8</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-create-appointment" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. Creating an appointment</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is shown in the calendar overview.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>All day</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Specifies that the appointment lasts the entire day. In the daily and weekly view of the calendar, all appointments are shown in the top row. This helps to ensure that the calendar does not become cluttered.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>From / To</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The date and time are pre-selected but can be edited.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type of appointment from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Calendar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the owner you want to create the appointment for.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the description, e.g. further information about the appointment. This description is shown in the appointment details and visible to all users with access rights to the calendar.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">4.5. Editing an appointment</h3>
<div class="paragraph">
<p>Click on an appointment to open the appointment details and edit the details.</p>
</div>
<div class="paragraph instruction">
<p>Editing an appointment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets logo (Start) » Calendar</strong>.</p>
</li>
<li>
<p>Click on the appointment that you would like to edit.<br>
→ The window <strong>Appointment details</strong> opens.</p>
</li>
<li>
<p>Carry out the changes. Note <a href="#table-create-appointment">Table 8</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="310">4.6. Deleting an appointment</h3>
<div class="paragraph">
<p>Delete appointments when they have been created by mistake or when they have become obsolete.</p>
</div>
<div class="paragraph instruction">
<p>Deleting an appointment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets logo (Start) » Calendar</strong>.</p>
</li>
<li>
<p>Click on the appointment that you would like to delete.<br>
→ The window <strong>Appointment details</strong> opens.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>).<br>
→ The appointment is deleted and removed from the calendar overview.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="320">4.7. Synchronising the calendar with external calendar tools</h3>
<div class="paragraph">
<p>You can use a <a href="https://en.wikipedia.org/wiki/CalDAV" target="_blank" rel="noopener">CalDAV</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> interface to synchronise your calendar with external calendar tools. For example, you can synchronise your calendar with tools such as Mac Calendar or iPad Calendar.</p>
</div>
<div class="paragraph">
<p>The option <strong>Calendar</strong> has to be activated in the <strong>Owner</strong> tab of the user account as described in the <a href="#270">Setting the back end user as owner</a> chapter. You need to know the settings for the user in order to carry out the configuration. The settings are saved in the user’s <strong>Calendar</strong> tab.</p>
</div>
<div class="paragraph">
<p>Refer to the external tool’s documentation to find out how to synchronise your plentymarkets calendar with the external calendar tool.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="330">5. Visualising internal workflows using boards</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When using boards you can visualise the workflow of a project or a working process within your company. Common boards consist of 3 columns: <em>To do</em>, <em>Doing</em> and <em>Done</em>. You decide about the structure of the board and how many columns you add.</p>
</div>
<div class="sect2">
<h3 id="340">5.1. Assigning user rights for back end users</h3>
<div class="paragraph">
<p>Users of the type <strong>Back end</strong> can only access limited areas and menus in the plentymarkets back end. Thus, their access to the system is limited. If users of this type should be able to see the <strong>plentymarkets logo (Start) » Boards</strong> menu, a user of the type <strong>Admin</strong> has to assign the right listed in the following for users of the type <strong>Back end</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Setting the visibility for back end users:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.</p>
</li>
<li>
<p>Use the search function (<span class="icon blue"><i class="fa fa-search  "></i></span>) and open the account that should be edited.</p>
</li>
<li>
<p>Expand the <strong>Authorisations: Start</strong> menu.</p>
</li>
<li>
<p>Select the setting <strong>Boards</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="350">5.2. Creating a board</h3>
<div class="paragraph">
<p>Proceed as described below to create a board.</p>
</div>
<div class="paragraph instruction">
<p>Creating a board:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » Boards</strong>.<br>
→ <strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.</p>
</li>
<li>
<p>Click on <strong>Create new board</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The window <strong>Create new board</strong> opens.</p>
</li>
<li>
<p>Enter the name of the board.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The board is created and added to the list.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="360">5.3. Adding a column</h3>
<div class="paragraph">
<p>Proceed as described below to add columns to the board. You can add as many columns as you like.</p>
</div>
<div class="paragraph instruction">
<p>Adding a column:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » Boards</strong>.<br>
→ <strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.</p>
</li>
<li>
<p>Click on the board that you want to edit.</p>
</li>
<li>
<p>Click on the right side on <strong>Add new column</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The column is added to the left side.</p>
</li>
<li>
<p>Enter the name of the column.</p>
</li>
<li>
<p>Add further columns in the same way until you have the desired number of columns for the board.<br>
→ <strong><em>Tip:</em></strong> You can change the position of the columns by using drag-and-drop.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="370">5.4. Adding a card</h3>
<div class="paragraph">
<p>Proceed as described below to add cards to the board. You can add as many cards as you like.</p>
</div>
<div class="paragraph instruction">
<p>Adding a card:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » Boards</strong>.<br>
→ <strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.</p>
</li>
<li>
<p>Click on the board that you want to edit.</p>
</li>
<li>
<p>Click on <strong>Add new card</strong> in the column that you want to add a card to.</p>
</li>
<li>
<p>Enter the name of the card.</p>
</li>
<li>
<p>Click on <strong>Save new card</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>).</p>
</li>
<li>
<p>Add further cards in the same way until you have the desired number of cards for the board.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="380">5.5. Editing a card</h3>
<div class="paragraph">
<p>You can edit the cards on the board at any time. Link the cards to a contact, an order and a ticket, for example, or add an owner and tags. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Editing a card:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » Boards</strong>.<br>
→ <strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.</p>
</li>
<li>
<p>Click on the board that you want to edit.</p>
</li>
<li>
<p>Click on the arrow on the right side of the card that you want to edit (<span class="icon "><i class="fa fa-angle-down  "></i></span>).<br>
→ The settings menu opens.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-boards-edit-card">Table 9</a>.</p>
</li>
</ol>
</div>
<table id="table-boards-edit-card" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 9. Settings in the <strong>plentymarkets Logo (Start) » Boards</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Edit card</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adjust the title and the description, if needed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete card</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deletes the card.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link contact</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the contact ID to link the card to the contact.<br>
<strong><em>Note:</em></strong> When the card is linked to the contact, the symbol <span class="icon "><i class="fa fa-user  "></i></span> is displayed on the card. Via this symbol, open the contact directly in the <strong>CRM » Contacts</strong> menu or delete the link to the contact by clicking on <strong>Remove reference</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link ticket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ticket ID to link the card to the ticket.<br>
<strong><em>Note:</em></strong> When the card is linked to the ticket, the symbol <span class="icon "><i class="fa fa-file-text-o  "></i></span> is displayed on the card. Via this symbol, open the ticket directly in the <strong>CRM » Ticket system</strong> menu or delete the link to the ticket by clicking on <strong>Remove reference</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the order ID to link the card to the order.<br>
<strong><em>Note:</em></strong> When the card is linked to the order, the symbol <span class="icon "><i class="fa fa-shopping-cart  "></i></span> is displayed on the card. Via this symbol, open the order directly in the <strong>Orders » Edit order</strong> menu or delete the link to the order by clicking on <strong>Remove reference</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add user</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the owner from the list in order to add this owner to the card.<br>
When the owner is added to the card, a symbol with the owner’s initials or the first letter of the name is displayed on the card.<br>
<strong><em>Tip:</em></strong> In order to remove the owner from the card, move the cursor over the symbol and click on <em>Delete user</em>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add tag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the tag from the list to add this tag to the card.<br>
<strong><em>Important:</em></strong> Only those tags that were created in the <strong>Setup » Settings » Tags</strong> menu are displayed in the list. For further information, refer to the <a href="/en/item/settings/flags#400#">Tags</a> chapter.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="390">5.6. Editing a board</h3>
<div class="paragraph">
<p>When opening the <strong>plentymarkets logo (Start) » Boards</strong> menu, you see the number of cards and columns, the name of the board as well as the time period of the last change on every card that you created. Click on <strong>Rename board</strong> (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) to enter a new name for the board. Click on <strong>Delete board</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>) to delete the board.</p>
</div>
<div class="paragraph">
<p>In order to edit boards, click on the name of the board. You can add new columns and cards and edit the cards. Note <a href="#table-boards-edit-card">Table 9</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="400">5.7. Setting up event procedures</h3>
<div class="paragraph">
<p>Go to <strong>Setup » CRM » Ticket system » Events</strong> to create event procedures that e.g. automatically move the cards on your boards to a column that you determined once a certain event takes place. It is also possible to move cards to another board. Furthermore, you can select a prefix for newly created cards or delete cards once a certain event takes place.</p>
</div>
<div class="paragraph">
<p>For further information about creating event procedures, refer to the chapter <a href="/en/crm/using-the-ticket-system#2900">Automatically sending email template</a> on the <a href="/en/crm/using-the-ticket-system">Ticket system</a> page of the manual.</p>
</div>
</div>
</div>
</div>
</main>