<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Quick start</h1><div class="paragraph">
<p>Welcome to plentymarkets! It is great to have you here. In this quick start, we will set up your system together. Our goal is to get you to your first sale as quickly as possible.</p>
</div><div class="paragraph">
<p>To achieve this, we will:</p>
</div><div class="ulist">
<ul>
<li>
<p>Prepare stock management and shipping</p>
</li>
<li>
<p>Set up a catalogue of items</p>
</li>
<li>
<p>Set up the online store</p>
</li>
<li>
<p>Prepare emailing</p>
</li>
<li>
<p>Set up order processing</p>
</li>
<li>
<p>Automate the most important processes</p>
</li>
</ul>
</div><div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Do you want some professional help with your setup?</div>
<div class="paragraph">
<p>Our consultants will support you with help and advice, just <a href="https://www.plentymarkets.com/knowledge/help-centre/" target="_blank" rel="noopener">make an appointment</a>. Alternatively, you can also get in touch with one of our <a href="https://marketplace.plentymarkets.com/en/partners" target="_blank" rel="noopener">partners</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</td>
</tr>
</tbody></table>
</div><div class="paragraph">
<p>As you probably already know, plentymarkets is a complex system if you want to use it to its full extent. Because of this, you should set aside enough time for this initial setup. Taking some extra time now will help you later on, as well.</p>
</div><div class="paragraph">
<p>Of course we do not want to discourage you from really delving into the topics that interest you most. To help with this, we will provide you with a number of related links at the end of each chapter of the quick start.</p>
</div><div class="paragraph">
<p>Also, if you have not already done so, make sure that your computer fulfils all the <a href="/en/quick-start/system-requirements#100">system requirements</a>.</p>
</div><div class="paragraph">
<p>Ready? Then let’s go! …​Or, well, maybe two more tips first:</p>
</div><div class="paragraph instruction">
<p>Tips:</p>
</div><div class="olist arabic">
<ol class="arabic">
<li>
<p>Check the login URL from your welcome email and you will find that it already contains your plenty ID. Add this page to your bookmarks so that the ID is already entered in the login form when you open the page.</p>
</li>
<li>
<p>The plentymarkets admin area, the so-called back end, uses pop ups. To ensure an efficient workflow, you should add the URLs  +https://[<strong>.]plentymarkets-cloud-de.comand +https://[</strong>.]plentymarkets-cloud-ie.com as exceptions to the pop up settings of your browser.</p>
</li>
</ol>
</div><div class="paragraph">
<p>Now you can get started for real.</p>
</div><div class="paragraph instruction">
<p>Starting setup:</p>
</div><div class="olist arabic">
<ol class="arabic">
<li>
<p>Log in to your system with your user name and password.</p>
</li>
<li>
<p>Go to <strong>Setup » Client » Standard Shop (Standard) » Online store » Lock store.</strong></p>
</li>
<li>
<p>Click on <strong>Lock online store now</strong>.<br>
→ Now your online store is invisible to customers. This means you can adjust all necessary settings with no rush.</p>
</li>
</ol>
</div><div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Continue with the <a href="/en/welcome/quick-start/quick-start-initial-settings">initial settings</a>.
</td>
</tr>
</tbody></table>
</div>
</main>