<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Creating email templates</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Your emails are composed of two elements: content and design. This video walks you through the process of creating these elements, so that your customers receive beautifully scripted emails.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/personalisation/emails/email-templates-content#video">Writing content for your emails (0:31)</a></p>
<p class="tableblock"><a href="/en/videos/personalisation/emails/email-templates-design#video">Giving your emails a unique design (3:40)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/212557249" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>When the curtain opens, your audience expects to see two things. First, actors who carry out the plot or content of the show. And second, a stage setting, which gives the production its unique feel or design. These two elements - content and design - are the same building blocks that you’ll also use when creating emails in plentymarkets.</p>
</div>
<div class="paragraph">
<p>In plentymarkets, content and design are saved separately. So let’s just ignore the stage setting for right now and start by focusing solely on content. In plentymarkets, you can think of email templates as the content of your emails. So just log into plentymarkets and navigate to the email templates menu. Here you’ll notice that templates are sorted into 3 different folders and that you can create a new email template by clicking on this button down here. This "Owner" option here determines which of these 3 folders the new email template will be sorted into. If I select "All", then the template will be saved in the "General email templates" folder. If I select the user account I’m currently logged in with, then the template will be saved under "My email templates". And if I select any other user, then it will be saved as an email template for another user.
In this example, I’ll save a general email template which I send to customers 3 days after I’ve shipped their item, and I’m going to ask them how satisfied they were with my service.</p>
</div>
<div class="paragraph">
<p>One thing you should keep in mind is that this name here is only used here for sorting the email templates alphabetically in plentymarkets.
This name isn’t the actual subject line of your email. OK, moving right along. Next, use this "Content" field here to specify whether you want your email to use plain text or HTML-formatted text. Then when you compose the actual email message in a moment, you’ll need to enter your text into the appropriate tab. So if you selected plain text, then you will need to enter this text here. And if you selected HTML-formatted text, then you’ll enter this text here.</p>
</div>
<div class="paragraph">
<p>Alright, now let’s look at these two attachment options here. Both of these simply add an attachment to your email. The difference being that this first option here attaches a document that plentymarkets generates for the order. So for example, it attaches a document like the invoice, which includes order-specific information. In contrast, this second option here, attaches a document that you created yourself and uploaded in the menu "CMS » Documents". So for example, attach one of your own documents if you want to send your cusomters a PDF copy of your store’s terms and conditions, or if you want to send an item brochure or assembly instructions along with specific items.</p>
</div>
<div class="paragraph">
<p>Next we have this "Reply to" field here. This field is useful in case your customer replies to this email template. If they reply, then their message will be sent to whatever email address you enter here. And if you don’t enter any email address here, then their replies will be sent to whichever email address is saved here in your access data. So this "Reply to" option is useful, for example, if you want replies regarding the invoice to be sent directly to your accounting department. Or like in my example, I’m asking customers for feedback, so I want any replies to be sent directly to my customer service department.</p>
</div>
<div class="paragraph">
<p>Now that you have a basic idea of what’s going on in the "Settings" tab, let’s look at saving the actual email message. The options here are pretty self-explanatory. Just enter a subject line and then enter your actual message in the "Content" tab. Here in this line, you can see an example of a template variable, which starts with a dollar sign. Now, if you’re asking yourself, a template what???, don’t worry, we have another video, which takes a more in-depth look at that topic. And don’t worry, you won’t need to be a computer programmer to follow along.</p>
</div>
<div class="paragraph">
<p>Now that you’ve learned how to save content for your emails, let’s turn the spotlight on their design. When putting on a play, design comes down to stage setting, costumes and makeup. But when writing emails, you can think of design as an electronic version of your company letterhead.
Once you’ve logged into plentymarkets, just navigate to the "HTML design" menu to give your emails a unique look. Here on the right, choose which type of editor you want to work with. If you’re unfamiliar with HTML, then you may be most comfortable using our "what you see is what you get" editor here or if you’re comfortable working directly with the source code, then you’ll probably prefer to use the text field or the syntax editor.
To give you an example, I’ll insert HTML code, which I’ve prepared in advance.</p>
</div>
<div class="paragraph">
<p>Let’s switch back to the "what you see is what you get" editor and look at what’s included in the design. Here you can see two template variables. These are actually the most important part of your HTML design. When your emails are sent to customers this template variable here will transform into your HTML email signature. And this template variable here will turn into the actual content of your email. So again, this makes it really clear that content and design are saved separately for emails. But why is this a good thing? Well, first, it means that you don’t have to save all this design code for each of the emails that you create. And second, if you ever want to change your design, like let’s say your fax number changes, then you’ll only need to make this change once here, and the change will automatically go into effect for all of the emails that you linked to this design. So in the long run, this is really going to save you a lot of time and energy.</p>
</div>
<div class="paragraph">
<p>OK, now that you know how to create a design, let’s learn how to link this design to an email template. All you need to do is check this option right here. But there’s one last little caveat. Just keep in mind that since it’s an HTML design, it’s only going to be compatible with HTML-formatted text.</p>
</div>
<div class="paragraph">
<p>In this video, you learned how to edit the content and design of your emails. Once you’ve got these basics down, you’re ready to start adding a few extra touches. Next up, template variables, IF conditions and the item list!</p>
</div>
</div>
</div>
</main>