<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_automating_processes"><span>1.</span><span> Automating processes</span></a>
<ul class="sectlevel2">
<li><a href="#_requirements"><span>1.1.</span><span> Requirements</span></a></li>
</ul>
</li>
<li><a href="#_event_procedures"><span>2.</span><span> Event procedures</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_an_event_procedure"><span>2.1.</span><span> Creating an event procedure</span></a></li>
</ul>
</li>
<li><a href="#_examples_event_procedures"><span>3.</span><span> Examples: Event procedures</span></a>
<ul class="sectlevel2">
<li><a href="#_sending_an_e_mail_template_to_a_customer"><span>3.1.</span><span> Sending an E-mail template to a customer</span></a>
<ul class="sectlevel3">
<li><a href="#_sending_customers_an_order_confirmation"><span>3.1.1.</span><span> Sending customers an order confirmation</span></a></li>
<li><a href="#_informing_customers_about_a_partial_payment"><span>3.1.2.</span><span> Informing customers about a partial payment</span></a></li>
</ul>
</li>
<li><a href="#_sending_an_e_mail_template_to_a_member_of_your_own_staff"><span>3.2.</span><span> Sending an E-mail template to a member of your own staff</span></a>
<ul class="sectlevel3">
<li><a href="#_informing_employees_about_special_requests"><span>3.2.1.</span><span> Informing employees about special requests</span></a></li>
<li><a href="#_informing_employees_about_a_change_of_status"><span>3.2.2.</span><span> Informing employees about a change of status</span></a></li>
</ul>
</li>
<li><a href="#_changing_the_order_status"><span>3.3.</span><span> Changing the order status</span></a>
<ul class="sectlevel3">
<li><a href="#_generating_invoices_and_changing_statuses"><span>3.3.1.</span><span> Generating invoices and changing statuses</span></a></li>
</ul>
</li>
<li><a href="#_assigning_give_aways_to_an_order"><span>3.4.</span><span> Assigning give-aways to an order</span></a></li>
</ul>
</li>
<li><a href="#_procedure_manager"><span>4.</span><span> Procedure manager</span></a>
<ul class="sectlevel2">
<li><a href="#_configuring_a_new_procedure"><span>4.1.</span><span> Configuring a new procedure</span></a></li>
</ul>
</li>
<li><a href="#_examples_procedure_manager"><span>5.</span><span> Examples: Procedure manager</span></a>
<ul class="sectlevel2">
<li><a href="#_reminder_dunning_letter_for_ebay_customers"><span>5.1.</span><span> Reminder / dunning letter for eBay customers</span></a></li>
<li><a href="#_payment_reminders"><span>5.2.</span><span> Payment reminders</span></a></li>
<li><a href="#_ebay_payment_reminders"><span>5.3.</span><span> eBay payment reminders</span></a></li>
<li><a href="#_ebay_feedback"><span>5.4.</span><span> eBay feedback</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Automating processes</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Orders » Events</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_automating_processes">1. Automating processes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Routine tasks make up a significant portion of the daily business. To a large extent, you can let your plentymarkets system take care of these for you. For example sending E-mails to your customers or employees is a very time-consuming task that however is absolutely necessary for your business. plentymarkets includes different easy to use and efficient tools that will help you to automate these routine tasks. These tools are e.g. the <strong>event procedures</strong> or the <strong>procedure manager</strong> that will help you to control and enable automatic processes. Practical examples are given to teach you more about the basic functions of event procedures and the procedure manager.</p>
</div>
<div class="sect2">
<h3 id="_requirements">1.1. Requirements</h3>
<div class="paragraph">
<p>Certain prerequisites need to be fulfilled before you can automate processes. For example, you need to set up an <strong>E-mail template</strong> before you can send it with an event procedure. The prerequisites are listed for the practical examples given on this page.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_event_procedures">2. Event procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The basic principle is easy to understand: Similar to a switch function, certain <strong>events</strong> in the online store trigger specific <strong>procedures</strong>. This is controlled with an event procedure. The simplest example is the order confirmation, in which the <strong>event new order</strong> is always followed by the <strong>procedure: E-mailing</strong>. The E-mail template needs to be selected in the event procedure.</p>
</div>
<div class="sect2">
<h3 id="_creating_an_event_procedure">2.1. Creating an event procedure</h3>
<div class="paragraph">
<p>The following steps describe the general approach when setting up an event procedure. Further options may be displayed depending on which event was selected. You should not <strong>activate</strong> the procedure until you have finished configuring all of the settings. Of course you can also <strong>deactivate</strong> event procedures by simply removing the check mark. The event procedure will then no longer be carried out. The event procedure will be inactive without deleting it and you can reactivate it at any time.</p>
</div>
<div class="paragraph instruction">
<p>Creating an event procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong><a href="/en/basics/automation/event-procedures">System » Orders » Events</a></strong>.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> in the lower left corner to create a <strong>new event procedure</strong>.</p>
</li>
<li>
<p>Enter a <strong>name</strong>.</p>
</li>
<li>
<p>Select the desired <strong>option</strong> as the <strong>event</strong>.</p>
</li>
<li>
<p>If <strong>further options</strong> appear afterward, then select the desired option here as well.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The event procedure will be created.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> to create one or more <strong>filters</strong> of the desired filter type.<br>
→ The filter will be added.</p>
</li>
<li>
<p>Mark the desired <strong>option</strong> in the filter.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> to create one or more <strong>procedures</strong> of the desired procedure type.<br>
→ The procedure will be added.</p>
</li>
<li>
<p>Within the procedure, select the desired <strong>option</strong> or carry out the <strong>setting</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/assets/ENG-BestPrac-Auftraege-Vorgaenge-automatisieren-01.png" alt="ENG BestPrac Auftraege Vorgaenge automatisieren 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: configuring an <strong>event procedure</strong>; <strong>procedures</strong> tab</em></p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_examples_event_procedures">3. Examples: Event procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Here are some examples for automatic procedures that are triggered using event procedures. The first examples show you how to automatically send <strong>E-mail templates</strong>. The next example shows you how to automatically <strong>change the status</strong> of an order.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: <strong>E-mail templates</strong></div>
<div class="paragraph">
<p>Keep the required <strong>E-mail template</strong> in mind and set it up before configuring the event procedure.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_sending_an_e_mail_template_to_a_customer">3.1. Sending an E-mail template to a customer</h3>
<div class="paragraph">
<p>You can use event procedures to automatically send <strong><em>E-mail templates</em></strong> to your <strong><em>customers</em></strong> when certain events occur. Go to <strong>System » Client » Select client » Email » Templates</strong> to set up <strong>E-mail templates</strong>. You can send your customers:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>order confirmations</strong> to let them know that you <strong><em>received the order</em></strong>.</p>
</li>
<li>
<p><strong>messages</strong> if the customer paid the <strong><em>wrong amount</em></strong>.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="_sending_customers_an_order_confirmation">3.1.1. Sending customers an order confirmation</h4>
<div class="paragraph">
<p>Proceed as described in section 2.1 to create the event procedure.</p>
</div>
<div class="paragraph">
<p>The following table shows the necessary <strong><em>settings</em></strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Section</th>
<th class="tableblock halign-left valign-top">Configuration</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the option <strong>Order generation » New order</strong> as the <strong>event</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Add the filter <strong>Order &gt; Order type</strong> and then place a check mark next to <strong>Order</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedures</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Add the procedure <strong>Customer &gt; Send E-mail</strong>. Click on the plus icon to add the desired template, e.g. <strong>confirmation of a store order</strong> and recipient, e.g. the <strong>customer</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: event procedure: <strong>settings</strong> for <strong>order confirmation</strong></em></p>
</div>
</div>
<div class="sect3">
<h4 id="_informing_customers_about_a_partial_payment">3.1.2. Informing customers about a partial payment</h4>
<div class="paragraph">
<p>Proceed as described in section 2.1 to create the event procedure.</p>
</div>
<div class="paragraph">
<p>The following table shows the necessary <strong><em>settings</em></strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Section</th>
<th class="tableblock halign-left valign-top">Configuration</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the option <strong>Payment &gt; Partial payment</strong> as the <strong>event</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Add the filter <strong>Order &gt; Order type</strong> and then place a check mark next to <strong>Order</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedures</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Add the procedure type <strong>Customer &gt; Send E-mail</strong>. Click on the plus icon to add the template, e.g. <strong>partial payment received</strong> for the <strong>customer</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: event procedure: <strong>settings</strong> for <strong>partial payment notification</strong></em></p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_sending_an_e_mail_template_to_a_member_of_your_own_staff">3.2. Sending an E-mail template to a member of your own staff</h3>
<div class="paragraph">
<p>You can also use event procedures to send your <strong><em>employees</em></strong> an <strong>E-mail template</strong> when certain events occur. You can inform your employees:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>when the customer enters some kind of <strong><em>special request or note</em></strong> about the order into the My account area of the online store.</p>
</li>
<li>
<p>when an order switches to order status <strong><em>[5] Cleared for shipping</em></strong>.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="_informing_employees_about_special_requests">3.2.1. Informing employees about special requests</h4>
<div class="paragraph">
<p>Proceed as described in section 2.1 to create the event procedure.</p>
</div>
<div class="paragraph">
<p>The following table shows the necessary <strong><em>settings</em></strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Section</th>
<th class="tableblock halign-left valign-top">Configuration</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the option <strong>Order change &gt; Order note from customer</strong> as the <strong>event</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Add the filter <strong>Order &gt; Order type</strong> and then place a check mark next to <strong>Order</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedures</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Add the procedure type <strong>Customer &gt; Send E-mail</strong>. Click on the plus icon to add the desired template for the <strong>employee</strong>.<br>
The E-mail will be sent to the selected employee’s E-mail address. You can only select E-mail addresses here that were previously saved in the user data in the <strong><a href="/en/basics/working-with-plentymarkets/manage-users">System » Settings » User » Accounts</a></strong> menu.<br>
<strong>Tip:</strong> Insert the wildcard character <strong>$CustomerSpecialWishes</strong> into the E-mail template. This wildcard character will display the text entered by the customer.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 3: event procedure: <strong>settings</strong> for <strong>special request notifications</strong></em></p>
</div>
</div>
<div class="sect3">
<h4 id="_informing_employees_about_a_change_of_status">3.2.2. Informing employees about a change of status</h4>
<div class="paragraph">
<p>Proceed as described in section 2.1 to create the event procedure.</p>
</div>
<div class="paragraph">
<p>The following table shows the necessary <strong><em>settings</em></strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Section</th>
<th class="tableblock halign-left valign-top">Configuration</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the option <strong>Order change &gt; Status change</strong> as the <strong>event</strong> and select the status <strong>[5] Cleared for shipping</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Add the filter <strong>Order &gt; Order type</strong> and then place a check mark next to <strong>Order</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedures</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Add the procedure type <strong>Customer &gt; Send E-mail</strong>. Click on the plus icon to add the desired template for the <strong><em>employee</em></strong>, e.g. <strong>Shipping confirmation of order</strong>.<br>
The E-mail will be sent to the selected employee’s E-mail address. You can only select E-mail addresses here that were previously saved in the user data in the <strong><a href="/en/basics/working-with-plentymarkets/manage-users">System » Settings » User » Accounts</a></strong> menu.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 4: event procedure: <strong>settings</strong> for <strong>change of status notification</strong></em></p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_changing_the_order_status">3.3. Changing the order status</h3>
<div class="paragraph">
<p>You can also use event procedures to automatically change the <strong>status</strong> of your <strong><em>orders</em></strong>. For example, you can:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Create an invoice</em></strong> when the order status changes to <strong>[5] Cleared for shipping</strong> and then give this order status <strong>[6] Currently being shipped</strong> after the invoice was created.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="_generating_invoices_and_changing_statuses">3.3.1. Generating invoices and changing statuses</h4>
<div class="paragraph">
<p>Proceed as described in section 2.1 to create the event procedure.</p>
</div>
<div class="paragraph">
<p>The following table shows the necessary <strong><em>settings</em></strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Section</th>
<th class="tableblock halign-left valign-top">Configuration</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the option <strong>Order change &gt; Status change</strong> as the <strong>event</strong> and select the status <strong>[5] Cleared for shipping</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Add the filter <strong>Order type</strong> and then place a check mark next to <strong>Order</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedures</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Create the procedure type <strong>Order &gt; Change status</strong> and then select the status <strong>[6] Currently being shipped</strong>.<br>
Create the procedure type <strong><a href="/en/order-processing/orders/order-documents">Documents</a> &gt; Invoice</strong>. If needed, activate the options <strong>Payment due</strong> and <strong>Early payment discount</strong>. Carry out the desired settings. Enter a <strong>comment</strong> if needed.<br>
<strong>Note:</strong> This event procedure will <strong><em>only</em></strong> generate the invoices. Set up a second event procedure to send your customers the invoice that was just created as an <strong><em>E-mail attachment</em></strong>. If you set up an event procedure that simultaneously creates and sends the invoice, then the E-mail may accidentally be sent before the invoice was fully created. This is why we recommend that you set up two separate event procedures.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 5: event procedure: <strong>generating invoices</strong> and <strong>changing order statuses</strong></em></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Automating detailed fulfillment processes</div>
<div class="paragraph">
<p>You can automate certain fulfillment processes as an alternative to event procedures. Go to <strong>Orders » Fulfillment</strong> to specify which <strong><em>fulfillment documents</em></strong> should automatically be created for <strong><em>orders that have a certain status</em></strong>. You can also specify that the <strong><em>orders should be set in a different status</em></strong> once the documents were created. In this menu you can configure detailed fulfillment processes. For further information, refer to the <strong><a href="/en/order-processing/fulfilment">Standard fulfillment in detail</a></strong> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_assigning_give_aways_to_an_order">3.4. Assigning give-aways to an order</h3>
<div class="paragraph">
<p>You can use event procedures to give your customers a certain item from your portfolio <strong><em>free of charge</em></strong> if their purchase reaches a certain value. Detailed instructions on the <strong><a href="/en/item/_give-aways-free-gifts">Give-away</a></strong> page of the manual describe how this can be done with the help of an event procedure.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_procedure_manager">4. Procedure manager</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the procedure manager to configure automatic processes that <strong><em>will be carried out every day at a previously defined point in time</em></strong>. Unlike the event procedures, the processes carried out with the procedure manager are usually not triggered by certain events. Rather, they occur after a specific <strong><em>amount of time</em></strong> has passed. For example, you could send an automatic payment reminder to all customers that have not paid their invoice within the last 7 days.</p>
</div>
<div class="sect2">
<h3 id="_configuring_a_new_procedure">4.1. Configuring a new procedure</h3>
<div class="paragraph">
<p>The following steps describe the general approach when setting up a <strong>procedure</strong>. Procedures are <strong><em>activated</em></strong> in the <strong>Settings</strong> tab. However, it may be better to wait and activate the procedure after you have finished configuring the settings. You can <strong>deactivate</strong> procedures by simply removing the check mark. The procedure will then no longer be carried out. The procedure will be inactive without deleting it and you can reactivate it at any time. Proceed as described below to configure procedures.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automation/assets/ENG-BestPrac-Auftraege-Vorgaenge-automatisieren-02.png" alt="ENG BestPrac Auftraege Vorgaenge automatisieren 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: configuring a <strong>new procedure</strong>; <strong>filter</strong> tab</em></p>
</div>
<div class="paragraph instruction">
<p>Configuring a new procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong><a href="/en/basics/automation/procedure-manager">System » Orders » Procedures</a></strong>.</p>
</li>
<li>
<p>Click on the <strong>New procedure</strong> tab to create a <strong>new procedure</strong>.<br>
→ The editing menu is composed of these three tabs: <strong>Settings</strong>, <strong>Filter</strong> and <strong>Procedure</strong>.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Set the <strong><em>time</em></strong> at which you want the procedure to be carried out.</p>
</li>
<li>
<p>Enter a <strong>name</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Filter</strong> tab.</p>
</li>
<li>
<p>Select the desired filters.</p>
</li>
<li>
<p>Click on the <strong>Procedure</strong> tab.</p>
</li>
<li>
<p>Select the desired procedure(s).</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_examples_procedure_manager">5. Examples: Procedure manager</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_reminder_dunning_letter_for_ebay_customers">5.1. Reminder / dunning letter for eBay customers</h3>
<div class="paragraph">
<p>After retrieval, listings from eBay receive either order status <strong>[1] Incomplete data</strong> or <strong>[3] Waiting for payment</strong>. This status depends on the setting selected in the <strong>System » Listings » Checkout</strong> menu. If <strong>status [1]</strong> was assigned, then it can easily be found out whether a customer completed the order process or not. If the customer has successfully completed the order process, the order receives the status <strong>[3] Waiting for payment</strong> or <strong>[5] Cleared for shipping</strong>. The following settings are recommended if you want to send a notification to all customers who have not successfully completed the order process. For further information, refer to the <strong><a href="/en/omni-channel/online-store/setting-up-clients/order-process">Checkout</a></strong> page of the manual.</p>
</div>
<div class="paragraph">
<p>Proceed as described in section 4.1 to configure the procedure manager.</p>
</div>
<div class="paragraph">
<p>The following table shows the necessary <strong><em>settings</em></strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tab</th>
<th class="tableblock halign-left valign-top">Setting</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Settings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Set the <strong>time</strong> at which you want the procedure to be carried out. Enter a <strong>name</strong> and place a check mark next to the option <strong>Active</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>[1] Incomplete data</strong> as the <strong>status</strong>. Select <strong>Enter the days</strong> from the <strong>Last status change</strong> option. Enter <strong>2</strong> into the field.<br>
This search will find all of the eBay orders that have been <strong><em>in status 1 for exactly two days</em></strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the <strong>E-mail template</strong> that you created for this situation from the <strong>Send E-mail template</strong> drop-down.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 6: procedure manager: <strong>settings</strong> for a <strong>reminder/dunning letter for eBay</strong></em></p>
</div>
</div>
<div class="sect2">
<h3 id="_payment_reminders">5.2. Payment reminders</h3>
<div class="paragraph">
<p>Defaulting customers can be contacted with a similar procedure. Here, we assume the typical situation with the payment method <strong>cash in advance</strong>. An order including this payment method directly receives status <strong>[3] Waiting for payment</strong>.</p>
</div>
<div class="paragraph">
<p>Proceed as described in section 4.1 to configure the procedure manager.</p>
</div>
<div class="paragraph">
<p>The following table shows the necessary <strong><em>settings</em></strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tab</th>
<th class="tableblock halign-left valign-top">Setting</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Settings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Set the <strong>time</strong> at which you want the procedure to be carried out. Enter a <strong>name</strong>. Place a check mark next to the option <strong>Active</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Under <strong>Status</strong>, select the option <strong>[3] waiting for payment</strong>. Select <strong>Enter the days</strong> from the <strong>Last status change</strong> option. Enter <strong>7</strong> into the field.<br>
This search will find all of the orders that have been <strong><em>in status 3 for exactly seven days</em></strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the <strong>E-mail template</strong> that you created for this situation from the <strong>Send E-mail template</strong> drop-down.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 7: procedure manager: <strong>settings</strong> for <strong>payment reminders</strong></em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: <strong>Procedure variations:</strong></div>
<div class="paragraph">
<p>We recommend creating several variations of this procedure. That way, it would be possible to send another, more clearly formulated E-mail a few days later. Again, a few days after that, the next procedure could be executed, which would automatically set the order status to <strong>8</strong>. This would cancel the order irreversibly. This change of status will also cause the stock units reserved for this order to be released again.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_ebay_payment_reminders">5.3. eBay payment reminders</h3>
<div class="paragraph">
<p>The eBay dispute process can be started with plentymarkets. The customer receives a request for payment via eBay. This process can also be started with the procedure manager. We recommend that you select the filter settings for this procedure according to the settings for the procedure <strong>payment reminder</strong> in the section above. As the procedure, however, select <strong>eBay: start dispute process</strong>.</p>
</div>
<div class="paragraph">
<p>The dispute process is intended for orders that have been waiting for payment for at least <strong><em>4 days</em></strong>. In plentymarkets, these orders are referred to as <strong><em>outstanding orders</em></strong>. Go to <strong><a href="/en/omni-channel/multi-channel/ebay">Settings » Markets » eBay » Data exchange</a></strong> to view and import these orders. You have to <strong><em>import</em></strong> these outstanding orders before you can start the dispute process with the procedure manager.</p>
</div>
<div class="paragraph">
<p>Proceed as described in section 4.1 to configure the procedure manager.</p>
</div>
<div class="paragraph">
<p>The following table shows the necessary <strong><em>settings</em></strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tab</th>
<th class="tableblock halign-left valign-top">Setting</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Settings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Set the <strong>time</strong> at which you want the procedure to be carried out. Enter a <strong>name</strong>. Place a check mark next to the option <strong>Active</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>[1] Incomplete data</strong> as the <strong>status</strong>. Select <strong>Enter the days</strong> from the <strong>Last status change</strong> option. Enter <strong>10</strong> into the field.<br>
This search will find all of the eBay orders that have been <strong><em>in status 1 for exactly ten days</em></strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Start dispute process</strong> from the <strong>eBay</strong> drop-down menu.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 8: procedure manager: <strong>settings</strong> for <strong>eBay payment reminders</strong></em></p>
</div>
</div>
<div class="sect2">
<h3 id="_ebay_feedback">5.4. eBay feedback</h3>
<div class="paragraph">
<p>plentymarkets gives you the possibility to automatically evaluate a purchaser positively after the purchase has been made or when you received a positive evaluation. In order for this to happen you will need to set up a procedure in the <strong>procedure manager</strong> and you will need to save some <strong>feedback texts</strong>. This procedure is the only one that can be set up with the procedure manager that does not depend on a certain point in time but is rather triggered by an event. For further information, refer to the <strong>Automatic feedback</strong> page of the manual.</p>
</div>
</div>
</div>
</div>
</main>