<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_practical_examples_event_procedures"><span>1.</span><span> Practical examples: Event procedures</span></a>
<ul class="sectlevel2">
<li><a href="#_sending_an_order_confirmation"><span>1.1.</span><span> Sending an order confirmation</span></a></li>
<li><a href="#_sending_a_confirmation_of_payment"><span>1.2.</span><span> Sending a confirmation of payment</span></a></li>
<li><a href="#_send_email_templates_to_employees"><span>1.3.</span><span> Send email templates to employees</span></a></li>
<li><a href="#_generating_and_sending_an_invoice"><span>1.4.</span><span> Generating and sending an invoice</span></a></li>
<li><a href="#_adding_give_aways_to_orders"><span>1.5.</span><span> Adding give-aways to orders</span></a></li>
<li><a href="#_sending_shipping_confirmations_to_customers"><span>1.6.</span><span> Sending shipping confirmations to customers</span></a></li>
</ul>
</li>
<li><a href="#_practical_examples_procedure_manager"><span>2.</span><span> Practical examples: Procedure manager</span></a>
<ul class="sectlevel2">
<li><a href="#_sending_a_payment_reminder"><span>2.1.</span><span> Sending a payment reminder</span></a></li>
<li><a href="#_starting_a_dispute_process_on_ebay"><span>2.2.</span><span> Starting a dispute process on eBay</span></a></li>
<li><a href="#_automatically_posting_feedback_on_ebay"><span>2.3.</span><span> Automatically posting feedback on eBay</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: Event procedures and Procedure manager</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Your daily business as a seller mostly consists of simple routine tasks. Plentymarkets offers you different effective tools to automate such tasks.<br>
This page of the manual contains practical examples for setting up <strong>Event procedures</strong> and the <strong>Procedure manager</strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Requirements for automation</div>
<div class="paragraph">
<p>Some of the sample procedures on this page send email templates or generate particular order documents. Thus, make sure that the respective email <strong>Templates</strong> have been set up correctly in the <strong>System » Client » Select client » Email » Templates</strong> menu. In addition, the respective document templates have to be set up before setting up and using procedures that create documents. Document templates are set up in the menu <strong>System » Client » Select client » Locations » Select location » Documents</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_practical_examples_event_procedures">1. Practical examples: Event procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The basic principle of event procedures is easy to understand: In case of an event procedure, certain <strong>Events</strong> that occur in the online store trigger specific <strong>Procedures</strong>. Precise instructions on setting up event procedures and the available events, filters and procedures can be found on the <a href="/en/basics/automation/event-procedures">Event procedures</a> page of the manual.<br>
Below, you can find a lit of examples for automatic procedures that are triggered by event procedures.</p>
</div>
<div class="sect2">
<h3 id="_sending_an_order_confirmation">1.1. Sending an order confirmation</h3>
<div class="paragraph">
<p>If you want to send an order confirmation to your customers as soon as they have placed an order in your online store, we recommend the event procedure described in <a href="#table-event-procedure-automatic-order-confirmation">Table 1</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#table-event-procedure-automatic-order-confirmation">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-event-procedure-automatic-order-confirmation">Table 1</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-automatic-order-confirmation" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Setting up the event procedure “Sending an order confirmation to customers”</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation &gt; New order</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer &gt; Send email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the plus icon to select the desired template for the <strong>Customer</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_sending_a_confirmation_of_payment">1.2. Sending a confirmation of payment</h3>
<div class="paragraph">
<p>If you want to send a confirmation email to your customers as soon as you have received complete incoming payment for their order, we recommend the event procedure described in <a href="#table-event-procedure-automatic-payment-confirmation">Table 2</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#table-event-procedure-automatic-payment-confirmation">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-event-procedure-automatic-payment-confirmation">Table 2</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-automatic-payment-confirmation" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Setting up the event procedure “Sending a payment confirmation to customers”</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment &gt; Partial payment</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer &gt; Send email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the plus icon to select the desired template for the <strong>Customer</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_send_email_templates_to_employees">1.3. Send email templates to employees</h3>
<div class="paragraph">
<p>If you want to inform your employees about additional customer wishes for an order via email, we recommend the event procedure described in <a href="#table-event-procedure-customer-wish">Table 3</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#table-event-procedure-customer-wish">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-event-procedure-customer-wish">Table 3</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-customer-wish" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Setting up the event procedure “Sending email templates to employees”</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order note &gt; Order note from customer</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer &gt; Send email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the plus icon to select the desired template for the <strong>Employee</strong>.<br>
The email is sent to the email address of the selected employee. For an email address to be available here, it has to be saved with the user in the <a href="/en/basics/working-with-plentymarkets/manage-users#42">System » Settings » User » Accounts</a> menu.<br>
<strong><em>Tip</em></strong>: Include the template variable <strong>$CustomerSpecialWishes</strong> in the email template. This template variable displays the text entered by the customer.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>If you want to notify your employees via email as soon as an order enters the order status <strong>[5] Cleared for shipping</strong>, we recommend the event procedure described in <a href="#table-event-procedure-status-change">Table 4</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#table-event-procedure-status-change">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-event-procedure-status-change">Table 4</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-status-change" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Setting up the event procedure “Inform employees about status change”</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change &gt; Status change</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the status <strong>[5] Cleared for shipping</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer &gt; Send email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the plus icon to select the desired template for the <strong>Employee</strong>.<br>
The email is sent to the email address of the selected employee. For an email address to be available here, it has to be saved with the user in the <a href="/en/basics/working-with-plentymarkets/manage-users#42">System » Settings » User » Accounts</a> menu.<br></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_generating_and_sending_an_invoice">1.4. Generating and sending an invoice</h3>
<div class="paragraph">
<p>If you want your plentymarkets system to automatically generate an invoice as soon as outgoing items have been booked for the corresponding order, we recomment the event procedure described in <a href="#table-event-procedure-generate-invoice">Table 5</a>.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Generating a document using an event procedure</div>
<div class="paragraph">
<p>The following event procedure only triggers the generation of the invoice document. Set up the second event procedure described below to send the invoice document to your customers as a PDF file attached to an email. If you use one and the same event procedure to generate and send documents, it can happen that the email is sent before the invoice document has been created. Thus, we generally recommend to set up two separate event procedures for generating and sending order documents.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#table-event-procedure-generate-invoice">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-event-procedure-generate-invoice">Table 5</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-generate-invoice" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Setting up the event procedure “Generating an invoice”</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change &gt; Outgoing items booked</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Documents &gt; Generate invoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If needed, activate the options <strong>Payment due</strong> or <strong>Early payment discount</strong> or enter a <strong>comment</strong> that will be displayed on the generated invoice.<br></p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>If you want to send the invoice to your customers as a PDF attached to an email after generation of the invoice document, we recommend the event procedure described in <a href="#table-event-procedure-send-invoice">Table 6</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#table-event-procedure-send-invoice">Table 6</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-event-procedure-send-invoice">Table 6</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-send-invoice" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Setting up the event procedure “Sending invoices to customers”</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Documents &gt; Invoice generated</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer &gt; Send email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the plus icon to select the desired template for the <strong>Customer</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_adding_give_aways_to_orders">1.5. Adding give-aways to orders</h3>
<div class="paragraph">
<p>If you wish to add give-aways in the form of free items to orders exceeding a certain value of items, we recommend the event procedure described in <a href="#table-event-procedure-order-giveaway">Table 7</a>.<br>
For more information on give-aways, refer to the <a href="/en/item/managing-items#4300">Managing items</a> page of the manual.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Creating an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#table-event-procedure-order-giveaway">Table 7</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-event-procedure-order-giveaway">Table 7</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-order-giveaway" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Setting up the event procedure “Adding give-aways to orders”</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation &gt; New order</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Value of items (gross)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose an operator and enter an item value.<br>
<strong><em>Example:</em></strong> Operator <strong>&gt;=</strong>, Value of items <strong>50.00</strong> = Variation is added when value of items is or 50 GBP or more</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item &gt; Add variation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the variation ID of the give-away item.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_sending_shipping_confirmations_to_customers">1.6. Sending shipping confirmations to customers</h3>
<div class="paragraph">
<p>If you want to send a shipping confirmation to your customers as soon as the package number of the consignment has been imported into your plentymarkets system, we recommend the event procedure described in <a href="#table-event-procedure-shipping-confirmation">Table 8</a>. This event procedure will move the order to status 7 and book outgoing items in your warehouse so that physical stock is reduced accordingly.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#table-event-procedure-shipping-confirmation">Table 8</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-event-procedure-shipping-confirmation">Table 8</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-shipping-confirmation" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. Setting up the event procedure “Sending an automatic shipping confirmation”</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change &gt; Package number</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer &gt; Send email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the plus icon to select the desired template for the <strong>Customer</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Book outgoing items</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Display tracking URL in shipping confirmation</div>
<div class="paragraph">
<p>Almost all shipping providers offer your customers the possibility to track their deliveries online. You already saved a tracking URL while setting up your shipping service providers. Once the package number has been entered, your plentymarkets system has all necessary information to send customers a tracking URL for their packages. Use this option and make sure that the shipping confirmation email contains the variable <strong>$TrackingURL</strong>. We recommend that you test the first tracking URLs for yourself to ensure that they have been processed correctly and that all necessary information are displayed for the customer.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_practical_examples_procedure_manager">2. Practical examples: Procedure manager</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can use the procedure manager to set up automatic processes that carry out procedures daily at fixed times. In contrast to event procedures, procedures handled by the procedure manager are not triggered by specific events, but take place automatically after a certain span of time has passed. For example, you can use a daily interval to send an automatic payment reminder to customers who have not paid for their orders within the previous 7 days.<br>
For detailed instructions on setting up the procedure manager and on the available filters and procedures, refer to the <a href="/en/basics/automation/procedure-manager">Procedure manager</a> page of the manual.</p>
</div>
<div class="sect2">
<h3 id="_sending_a_payment_reminder">2.1. Sending a payment reminder</h3>
<div class="paragraph">
<p>If you want to remind customers who have placed orders with the payment method <strong>Cash in advance</strong> of outstanding payments, use the procedure described in <a href="#table-procedure-manager-reminder">Table 9</a>. When carrying out the settings, pay attention to the fact that orders with the payment method <strong>Cash in advance</strong> are automatically assigned the status <strong>[3] Waiting for payment</strong> in your plentymarkets system.</p>
</div>
<table id="table-procedure-manager-reminder" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 9. Setting up the procedure “Sending a payment reminder”</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tab</th>
<th class="tableblock halign-left valign-top">Setting</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the option <strong>Execute every day at</strong> to specify when the procedure should be carried out. Enter a <strong>Name</strong> and place a check mark next to the option <strong>Active</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">For the <strong>Status</strong> option, select the status <strong>Waiting for payment</strong>. Select <strong>Enter the days</strong> for the <strong>Last status change</strong> setting and enter the number of days into the text field below. Enter the number <strong>7</strong> in the <strong>Days</strong> field.<br>
With this setting, all orders that have been in status <strong>[3] Waiting for payment</strong> for exactly seven days are found.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">For the option <strong>Send email template</strong>, select the <strong>email template</strong> previously created for this purpose.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Several variations of the procedure</div>
<div class="paragraph">
<p>We recommend to set up this procedure several times with slight variations. For example, an additional email with another reminder can be sent a few days later. After even more days have passed without incoming payment, another procedure can be set up which moves the status to <strong>8</strong> and thus cancels the order. This status change also releases the stock that has previously been reserved for the order.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_starting_a_dispute_process_on_ebay">2.2. Starting a dispute process on eBay</h3>
<div class="paragraph">
<p>It is also possible to use the procedure manager to automatically start dispute processes on eBay. The customer then receives a request for payment via eBay. We recommend to select the filters similarly to the ones used in the procedure <strong>Sending a payment reminder</strong> in the example described above. In addition to the filter settings, select the procedure <strong>eBay: Start dispute process</strong>.</p>
</div>
<div class="paragraph">
<p>The dispute process is intended for orders for which payment is outstanding for more than 4 days. In plentymarkets, these orders are referred to as <strong>outstanding orders</strong>. Those orders are listed and can be imported in the <strong><a href="/en/omni-channel/multi-channel/ebay/ebay-setup#7300">System » Markets » eBay » Data exchange</a></strong>. Outstanding orders have to be imported before the dispute process can be started with the procedure manager.</p>
</div>
<div class="paragraph">
<p>Use the procedure described in <a href="#table-procedure-manager-ebay-dispute">Table 10</a> to automatically start dispute processes.</p>
</div>
<table id="table-procedure-manager-ebay-dispute" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 10. Setting up the procedure “Starting a dispute process on eBay”</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tab</th>
<th class="tableblock halign-left valign-top">Setting</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the option <strong>Execute every day at</strong> to specify when the procedure should be carried out. Enter a <strong>Name</strong> and place a check mark next to the option <strong>Active</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">For the <strong>Status</strong> option, select the status <strong>Incomplete data</strong>. Select <strong>Enter the days</strong> for the <strong>Last status change</strong> option. Enter the number <strong>10</strong> in the <strong>Days</strong> field.<br>
Thus, all orders that have been in the status <strong>[1] Incomplete data</strong> for exactly 10 days are found.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">For the option <strong>eBay</strong>, select <strong>Start dispute process</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_automatically_posting_feedback_on_ebay">2.3. Automatically posting feedback on eBay</h3>
<div class="paragraph">
<p>The procedure manager enables you to automatically post positive feedback for customers who have provided you with positive feedback as well. For this procedure, it is necessary to create a corresponding procedure in the <strong>Procedure manager</strong> and save <strong>feedback texts</strong>. This procedure is the only one in the procedure manager that is triggered by an event and not at a specified point in time. Please refer to the <strong><a href="/en/omni-channel/multi-channel/ebay/ebay-setup#1300">eBay</a></strong> page of the manual for further information.</p>
</div>
</div>
</div>
</div>
</main>