<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> plentyBase system requirements</span></a></li>
<li><a href="#20"><span>2.</span><span> Downloading plentyBase installation files</span></a></li>
<li><a href="#30"><span>3.</span><span> Installing plentyBase</span></a></li>
<li><a href="#40"><span>4.</span><span> Saving plentyBase connection data in plentymarkets</span></a></li>
<li><a href="#50"><span>5.</span><span> Making plentyBase available on a network</span></a>
<ul class="sectlevel2">
<li><a href="#60"><span>5.1.</span><span> Installing plentyBase on a network computer</span></a></li>
<li><a href="#70"><span>5.2.</span><span> Saving IP data in HOSTS file of other network computers</span></a>
<ul class="sectlevel3">
<li><a href="#80"><span>5.2.1.</span><span> Editing HOSTS file in Windows</span></a></li>
<li><a href="#90"><span>5.2.2.</span><span> Editing HOSTS file in Mac OSX</span></a></li>
<li><a href="#100"><span>5.2.3.</span><span> Editing HOSTS file in Linux</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Installing plentyBase</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>You need to install and run plentyBase to perform the following tasks from the plentymarkets back end:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Configure printers</p>
</li>
<li>
<p>Save documents</p>
</li>
<li>
<p>Print documents</p>
</li>
<li>
<p>Opening the print history</p>
</li>
<li>
<p>Create processes in plentymarkets back end</p>
</li>
<li>
<p>Run processes in plentymarkets back end</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If plentyBase is installed on the computer, these tasks can be performed in the Terra version of the plentymarkets back end. As an alternative to plentyBase, you can install the <a href="/en/basics/automation/plentymarkets-client">plentymarkets Client</a> for these tasks. Find out how to install and use plentyBase here.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">plentyBase is new!</div>
<div class="paragraph">
<p>Congratulations! You are an early adopter because plentyBase is currently a beta version. If you have any feedback regarding plentyBase, then why not let us know by posting a message on the plentymarkets Forum?</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. plentyBase system requirements</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentyBase
requires the same general <a href="/en/basics/first-steps/system-requirements">system requirements</a> as plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Downloading plentyBase installation files</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Click on the link for the operating system of your computer to download the installation file. Save the installation file on the computer.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="http://download.plentybase.de/beta/plentyBase_windows_0_3_0b.exe" target="_blank" rel="noopener">Windows</a></p>
</li>
<li>
<p><a href="http://download.plentybase.de/beta/plentyBase_macos_0_3_0b.dmg" target="_blank" rel="noopener">Mac OSX</a></p>
</li>
<li>
<p><a href="http://download.plentybase.de/beta/plentyBase_unix_0_3_0b.sh" target="_blank" rel="noopener">Unix</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Installing plentyBase</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Install plentyBase like any other program on the computer. Because the installation process differs depending on your operating systems, only plentyBase specific settings are described here.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Run the installation file.</p>
</li>
<li>
<p>During the installation process, select the port for communication between the computer and plentyBase.<br>
<strong><em>Note:</em></strong> Port 7331 is selected by default because this port is free on most computers. Only change this default value if port 7331 is in use on the computer.<br>
<strong><em>Tip:</em></strong> The following command line commands allow you to check which ports are in use:<br></p>
<div class="ulist">
<ul>
<li>
<p>Windows: <em>netstat -ano | find /i "listening"</em><br></p>
</li>
<li>
<p>Mac OSX: <em>sudo lsof -i -P \| grep -i LISTEN</em></p>
</li>
</ul>
</div>
</li>
<li>
<p>Complete the installation process.<br>
→ plentyBase is installed on the computer.<br>
→ plentyBase is added to the auto-start programs of the operating system.</p>
</li>
<li>
<p>Click on the plentyBase icon in the computer’s task bar.</p>
</li>
<li>
<p>Select <strong>Open configuration</strong> from the drop-down list.<br>
→ The <strong>Configuration</strong> window opens.<br></p>
</li>
<li>
<p>Activate the option <strong>Check for updates on plentyBase startup</strong>.<br></p>
</li>
<li>
<p>Click on <strong>OK</strong> to save the setting.<br></p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Saving plentyBase connection data in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After installation, save the connection data in plentymarkets to ensure that plentymarkets can communicate with plentyBase on this computer.</p>
</div>
<div class="paragraph instruction">
<p>Saving plentyBase connection data in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the Terra version of the plentymarkets system.</p>
</li>
<li>
<p>Click on the user icon at the top right of the screen.</p>
</li>
<li>
<p>Select <strong>plentyBase</strong> from the drop-down list.<br>
→ The plentyBase dashboard opens.</p>
</li>
<li>
<p>Open the <strong>Settings</strong> view.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 1.<br>
<strong><em>Tip:</em></strong> The settings are saved automatically.<br>
→ plentyBase is active on the computer und is available to all plentymarkets users.<br>
→ The plentyBase icon is shown in the computer’s task bar to indicate that the tool is running.<br></p>
</li>
<li>
<p>Copy the access token to the clipboard.<br></p>
</li>
<li>
<p>Click on the plentyBase icon in the computer’s task bar.</p>
</li>
<li>
<p>Select <strong>Open configuration</strong> from the drop-down list.<br></p>
</li>
<li>
<p>Activate the option <strong>Use authentication</strong>.<br></p>
</li>
<li>
<p>Click on <strong>Manage access token</strong>.<br>
→ The <strong>Manage access token</strong> window opens.<br></p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The <strong>Add access token</strong> window opens.<br></p>
</li>
<li>
<p>Paste the access token to the <strong>Access Token</strong> field.<br></p>
</li>
<li>
<p>Enter a description (optional).<br></p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The access token is saved.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Saving plentyBase connection data</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Server address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not modify the saved address https://local.plentybase.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The port you assigned to plentyBase during installation. Default value is 7331. If a different port was specified during installation, enter the number of that port.<br>
<strong><em>Note:</em></strong> Ports 0 to 1023 are system ports and cannot be used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Test connection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Checks if plentymarkets is connected to plentyBase.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The API access token is used for authentication with the plentyBase API interface. Click on <strong>Generate token</strong> and confirm the generation to generate a new access token.<br>
<strong><em>Note:</em></strong> The old token is overwritten when a new access token is generated. Once you have generated a new token, save this new token in the settings of the plentyBase tool.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets server address and port to the default values.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">5. Making plentyBase available on a network</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can install plentyBase on one computer of a network and make it available for the network’s other computers. To use plentyBase within a network, the IP address and the host name of the computer on which plentyBase is installed need to be saved in the HOSTS files of the other computers in the network.</p>
</div>
<div class="sect2">
<h3 id="60">5.1. Installing plentyBase on a network computer</h3>
<div class="ulist">
<ul>
<li>
<p><a href="/en/basics/automation/installing-plentybase#30">Install plentyBase</a> on a computer in the network.</p>
</li>
<li>
<p>Jot down the IP address of the host computer on which plentyBase is installed.<br>
<strong><em>Note:</em></strong> We recommend assigning a static IP address to the host computer.</p>
</li>
<li>
<p>If you do not use the default port 7331, also jot down the port you entered during installation.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="70">5.2. Saving IP data in HOSTS file of other network computers</h3>
<div class="paragraph">
<p>The HOSTS file is a local text file of the operating system in which a host name is assigned to a specific IP address. In the HOSTS file of the client computer, you enter the IP address and host name of the computer in the network on which plentyBase is installed. The client computer now has access to plentyBase. You need admin rights to edit the HOSTS file of the client computer.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Edit the HOSTS file at your own risk</div>
<div class="paragraph">
<p>The HOSTS file is an important system file. You edit this file at your own risk. plentymarkets does not assume any guarantee or liability for any damages, subsequent damages or loss that may be caused by modifying the HOSTS file. Also note the following precautions:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Create a backup of the HOSTS file before editing the file.</p>
</li>
<li>
<p>Do not delete or edit existing entries in the HOSTS file.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="80">5.2.1. Editing HOSTS file in Windows</h4>
<div class="paragraph">
<p>Proceed as described below to save the IP address and the host name of the computer on which plentyBase is installed in the HOSTS file of a Windows computer. You need the IP address of the computer on which plentyBase is installed. Create a backup of the HOSTS file before editing the file.</p>
</div>
<div class="paragraph instruction">
<p>Editing HOSTS file in Windows:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the Windows symbol at the bottom left.</p>
</li>
<li>
<p>Windows 8 only: Navigate to the tile view.</p>
</li>
<li>
<p>Search for <strong>Editor</strong>.<br>
→ The editor is shown in the list of programs.</p>
</li>
<li>
<p>Right-click on the Editor shortcut and select <strong>Run as administrator</strong>.</p>
</li>
<li>
<p>Confirm by clicking <strong>Yes</strong>.<br>
→ The editor opens.</p>
</li>
<li>
<p>Click on <strong>File » Open</strong>.</p>
</li>
<li>
<p>Navigate to the path C:\Windows\System32\Drivers\etc.<br>
<em><strong>Tip:</strong></em> From the drop-down menu to the bottom right, select <strong>All files</strong>.<br>
→ The hosts file opens and can be edited.</p>
</li>
<li>
<p>At the bottom of the file, enter the IP address of the host computer on which plentyBase is installed followed by the host address local.plentybase.de. As such, the entry should follow this pattern:<br>
<strong>[IP address of host computer] local.plentybase.de</strong><br>
<strong><em>Example:</em></strong> 123.123.1.123 local.plentybase.de<br>
<strong><em>Note:</em></strong> Lines that start with # are comments and will not be interpreted. As such, the entry you add cannot start with #.</p>
</li>
<li>
<p><strong>Save</strong> the file.</p>
</li>
<li>
<p><em><strong>Tip:</strong></em> If plentymarkets is open in a browser, reload the browser tab.</p>
</li>
<li>
<p>If you did not enter the default port during installation on the host computer, enter <a href="/en/basics/automation/installing-plentybase#40">the port of the host computer</a> in the plentymarkets back end.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="90">5.2.2. Editing HOSTS file in Mac OSX</h4>
<div class="paragraph">
<p>Proceed as described below to save the IP address and the host name of the computer on which plentyBase is installed in the HOSTS file of a Mac OS computer. You need the IP address of the computer on which plentyBase is installed. Create a backup of the HOSTS file before editing the file.</p>
</div>
<div class="paragraph instruction">
<p>Editing HOSTS file in Mac OSX:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the Finder.</p>
</li>
<li>
<p>In the task bar, click on <strong>Go to &gt; Go to folder …​</strong>.<br>
→ The <strong>Go to folder:</strong> opens.</p>
</li>
<li>
<p>Enter <strong>/private/etc</strong>.<br>
→ The etc folder opens.</p>
</li>
<li>
<p>Copy the <strong>hosts</strong> file.</p>
</li>
<li>
<p>Paste the copy to a different folder or to the desktop.</p>
</li>
<li>
<p>Open the copy of the <strong>hosts</strong> file with TextEdit or a different editor.</p>
</li>
<li>
<p>At the bottom of the file, enter the IP address of the host computer on which plentyBase is installed followed by the host address local.plentybase.de. As such, the entry should follow this pattern:<br>
<strong>[IP address of host computer] local.plentybase.de</strong><br>
<strong><em>Example:</em></strong> 123.123.1.123 local.plentybase.de<br>
<strong><em>Note:</em></strong> Lines that start with # are comments and will not be interpreted. As such, the entry you add cannot start with #.</p>
</li>
<li>
<p><strong>Save</strong> the file.</p>
</li>
<li>
<p>Drag and drop the edited copy of the file to the original folder <strong>/private/etc</strong>.<br>
→ A warning is shown.</p>
</li>
<li>
<p>Confirm that you want to replace the old file.</p>
</li>
<li>
<p>Enter your user password to confirm that you want to replace the file.<br>
→ The file is saved.</p>
</li>
<li>
<p><em><strong>Tip:</strong></em> If plentymarkets is open in a browser, reload the browser tab.</p>
</li>
<li>
<p>If you did not enter the default port during installation on the host computer, enter <a href="/en/basics/automation/installing-plentybase#40">the port of the host computer</a> in the plentymarkets back end.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="100">5.2.3. Editing HOSTS file in Linux</h4>
<div class="paragraph">
<p>Proceed as described below to save the IP address and the host name of the computer on which plentyBase is installed in the HOSTS file of a Linux computer. You need the IP address of the computer on which plentyBase is installed. Create a backup of the HOSTS file before editing the file.</p>
</div>
<div class="paragraph instruction">
<p>Editing HOSTS file in Linux:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the file manager.</p>
</li>
<li>
<p>Navigate to the path /etc.<br>
→ The etc folder opens.</p>
</li>
<li>
<p>Open the <strong>hosts</strong> file with a text editor and admin rights.</p>
</li>
<li>
<p>At the bottom of the file, enter the IP address of the host computer on which plentyBase is installed followed by the host address local.plentybase.de. As such, the entry should follow this pattern:<br>
<strong>[IP address of host computer] local.plentybase.de</strong><br>
<strong><em>Example:</em></strong> 123.123.1.123 local.plentybase.de<br>
<strong><em>Note:</em></strong> Lines that start with # are comments and will not be interpreted. As such, the entry you add cannot start with #.</p>
</li>
<li>
<p><strong>Save</strong> the file.</p>
</li>
<li>
<p><em><strong>Tip:</strong></em> If plentymarkets is open in a browser, reload the browser tab.</p>
</li>
<li>
<p>If you did not enter the default port during installation on the host computer, enter <a href="/en/basics/automation/installing-plentybase#40">the port of the host computer</a> in the plentymarkets back end.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</main>