<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_download"><span>1.</span><span> Download</span></a></li>
<li><a href="#_installing_the_client"><span>2.</span><span> Installing the Client</span></a>
<ul class="sectlevel2">
<li><a href="#_system_requirements"><span>2.1.</span><span> System requirements</span></a></li>
<li><a href="#_notes_for_installation_with_windows_32_bit_or_older_systems"><span>2.2.</span><span> Notes for installation with Windows (32 Bit or older systems)</span></a></li>
<li><a href="#_notes_about_the_program_link_in_windows"><span>2.3.</span><span> Notes about the program link in Windows</span></a></li>
</ul>
</li>
<li><a href="#_connecting_the_client_to_plentymarkets"><span>3.</span><span> Connecting the Client to plentymarkets</span></a></li>
<li><a href="#_update"><span>4.</span><span> Update</span></a></li>
<li><a href="#_clearing_the_cache"><span>5.</span><span> Clearing the cache</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>plentymarkets Client</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Your computer » Programs » plentymarkets Client</strong></p>
</div>
<div class="paragraph">
<p>The <strong>plentymarkets Client</strong> allows you to link plentymarkets to locally installed devices. You can, e.g. connect <a href="/en/basics/working-with-plentymarkets/printer">printers</a> directly to your system. As such, one piece of software gives you access to all of the functions instead of having to switch between different programs. You can also use the Client to configure <a href="/en/basics/automation/processes">processes</a>. This allows you to automate detailed procedures within your company.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">plentyBase replaces the plentymarkets Client</div>
<div class="paragraph">
<p>The plentymarkets client is now obsolete and development on this tool has ceased. Use plentyBase to create and run processes in the plentymarkets back end. You can download the installation files in the <a href="https://marketplace.plentymarkets.com/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>==</p>
</div>
<div class="paragraph linkBox">
<p>You can access the <strong>Processes</strong> in the plentymarkets client.</p>
</div>
</div>
</div><div class="sect1 linkBox">
<h2 id="_download">1. Download</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Open the <a href="https://www.plentymarkets.co.uk/product/processes/plentymarkets-client/">plentymarkets Client</a> website.</p>
</div>
<div class="paragraph">
<p>Use the most current download link there. Start the download by clicking on the link for your operating system, i.e. Windows or Mac OS. Install the Client and follow the instructions given by the installation wizard.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_installing_the_client">2. Installing the Client</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>plentymarkets Client</strong> is not integrated in the plentymarkets system but rather is installed as software on your PC.</p>
</div>
<div class="sect2">
<h3 id="_system_requirements">2.1. System requirements</h3>
<div class="paragraph">
<p>The following requirements need to be met in order to install and use the software with Windows:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Internet connection</p>
</li>
<li>
<p>A plentymarkets system with version 5.000 or higher</p>
</li>
<li>
<p>Windows 7 or Windows 8, 32 or 64-Bit</p>
</li>
<li>
<p><strong>Important</strong>: Java VM has to be installed as a 32-Bit version</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Operating system information</div>
<div class="paragraph">
<p>If you use Window 7, for example, then you can find information about the operating system under <strong>Control Panel » System and Security » System</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Click on the option "Run as administrator" when you install the file. This option becomes visible when you right-click on the .exe file.</p>
</div>
<div class="paragraph">
<p>The following <em><strong>requirements</strong></em> need to be met in order to install and use the software with <em><strong>Mac OS</strong></em>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Internet connection</p>
</li>
<li>
<p>A plentymarkets system with version 5.000 or higher</p>
</li>
<li>
<p>Mac OS X 10.9 and higher versions</p>
</li>
<li>
<p><strong>Important</strong>: Java VM has to be installed as a 32-Bit version</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_notes_for_installation_with_windows_32_bit_or_older_systems">2.2. Notes for installation with Windows (32 Bit or older systems)</h3>
<div class="paragraph">
<p>The following add-ons (packages) are necessary for installation with Windows:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="http://www.microsoft.com/en-us/download/details.aspx?id=30653" target="_blank" rel="noopener">Microsoft.Net Framework 4.5</a></p>
</li>
<li>
<p>Microsoft Visual C++ 2010 Redistributable Package <a href="http://www.microsoft.com/en-US/download/details.aspx?id=5555" target="_blank" rel="noopener">32-Bit-Version</a></p>
</li>
<li>
<p>Microsoft Visual C++ 2010 Redistributable Package <a href="http://www.microsoft.com/en-US/download/details.aspx?id=14632" target="_blank" rel="noopener">64-Bit-Version</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Check to see whether these add-ons are installed in your Windows operating system under <strong>Control Panel » Programs » Programs and Features</strong> (Windows 7).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/assets/EN-Tools-Client-01.png" alt="Checking the Microsoft add-ons under Programs">
</div>
<div class="title">Figure 1. Checking the Microsoft add-ons under Programs</div>
</div>
<div class="paragraph">
<p>If these add-ons are not available, then install them before you install the plentymarkets Client. Click on the links above to access additional information and download the add-ons.</p>
</div>
</div>
<div class="sect2">
<h3 id="_notes_about_the_program_link_in_windows">2.3. Notes about the program link in Windows</h3>
<div class="paragraph">
<p>If the program is installed with Windows, then there is a possibility that the automatically created link will not work and you will not be able to start the Client. Delete the link in this case.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/assets/EN-Tools-Client-02.png" alt="Deleting the link (example of a German operating system)">
</div>
<div class="title">Figure 2. Deleting the link (example of a German operating system)</div>
</div>
<div class="paragraph">
<p>Delete the link (image 2) and create a new link.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new link:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Search for the application file that is used to start the Client. It is found under <strong>C:/Program Files/plentymarkets</strong>.</p>
</li>
<li>
<p>Right-click on the application file and select <strong>Create Shortcut</strong> from the context menu.<br>
→ A desktop shortcut will be created.</p>
</li>
<li>
<p>If needed, drag the link to the <strong>Windows start button</strong>. This way you will be able to access the Client again under <strong>Start » plentymarkets</strong>.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_connecting_the_client_to_plentymarkets">3. Connecting the Client to plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once the Client was successfully installed and started, connect the Client to the desired plentymarkets system.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/assets/EN-Tools-Client-03.png" alt="Connecting the Client">
</div>
<div class="title">Figure 3. Connecting the Client</div>
</div>
<div class="paragraph instruction">
<p>Connecting the Client to plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the <strong>URL</strong> drop-down menu in the login window.</p>
</li>
<li>
<p>Select the desired system or click on the option <strong>Enter a new URL</strong>. Then enter the <strong>URL</strong> into the corresponding line.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Enter the <strong>user name</strong> and <strong>password</strong> for the system.</p>
</li>
<li>
<p>Click on <strong>Login</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">URL</div>
<div class="paragraph">
<p>Enter an encrypted URL (https) if you want the Client to use encrypted communication. Enter an unencrypted URL (http) if you do not want the Client to use encrypted communication.</p>
</div>
<div class="paragraph">
<p>The Client only supports connected network drives. UNC paths are not sufficient.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_update">4. Update</h2>
<div class="sectionbody">
<div class="paragraph">
<p>We keep developing the plentymarkets Client continuously and make updates with the latest features available for you immediately. When you start the client it will automatically search for updates. The update is guided by a menu and is self-explanatory.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Do not interrupt the update</div>
<div class="paragraph">
<p>Make sure that you are not disconnected from the plentymarkets system during the update. Otherwise, the update might not be correctly installed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_clearing_the_cache">5. Clearing the cache</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Data is temporarily stored in the cache so that content can be displayed quicker. In some cases, however, you can not yet see the latest content. Clear the cache if you want to make sure that the latest content is displayed.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/assets/EN-Tools-Client-04.png" alt="Clearing the cache in the Extras menu">
</div>
<div class="title">Figure 4. Clearing the cache in the Extras menu</div>
</div>
<div class="paragraph instruction">
<p>Clearing the cache</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Client » Extras » Clear cache</strong>.</p>
</li>
<li>
<p>Click on <strong>Clear cache</strong>.<br>
→ The cache will be cleared.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>We also advise you to clear the cache if you have difficulties logging into the client.</p>
</div>
</div>
</div>
</main>