<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_procedure_manager"><span>1.</span><span> Procedure manager</span></a></li>
<li><a href="#_configuring_a_new_procedure"><span>2.</span><span> Configuring a new procedure</span></a>
<ul class="sectlevel2">
<li><a href="#_tab_settings"><span>2.1.</span><span> Tab: Settings</span></a></li>
<li><a href="#_tab_filter"><span>2.2.</span><span> Tab: Filter</span></a></li>
<li><a href="#_tab_procedure"><span>2.3.</span><span> Tab: Procedure</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Procedure manager</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Settings » Orders » Procedure manager</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_procedure_manager">1. Procedure manager</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, recurring events can be taken care of automatically by the <strong>procedure manager</strong> and carried out at specific times.</p>
</div>
<div class="paragraph">
<p>For example, you can use the procedure manager to set up a daily time when customers who have not paid for their purchases on eBay or your online store should receive a payment reminder or a dunning letter that is automatically sent via e-mail. For further information about these examples and possible configurations, refer to the <strong><a href="/en/basics/automation/automating-processes">Automating processes</a></strong> best practice page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_configuring_a_new_procedure">2. Configuring a new procedure</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Settings</strong>, <strong>Filter</strong> and <strong>Procedure</strong> tabs contain different settings that are used to configure a procedure. Proceed as follows to configure the individual tabs.</p>
</div>
<div class="sect2">
<h3 id="_tab_settings">2.1. Tab: Settings</h3>
<div class="paragraph">
<p>Use this tab to name the procedure, set the time when the procedure should be carried out and to activate the daily process.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/ENG-Settings-Orders-Procedure-Manager-01.png" alt="ENG Settings Orders Procedure Manager 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: options in the <strong>Settings</strong> tab</em></p>
</div>
<div class="paragraph instruction">
<p>Configuring a new procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Procedure manager</strong>.</p>
</li>
<li>
<p>Enter a meaningful name.</p>
</li>
<li>
<p>Specify a time when the procedure should be carried out every day.</p>
</li>
<li>
<p>Activate the procedure once you have edited the <strong>Filter</strong> and <strong>Procedure</strong> tab. This is done by placing a check mark next to the word <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.<br>
→ The procedure will be created.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_tab_filter">2.2. Tab: Filter</h3>
<div class="paragraph">
<p>Next, configure a specific filter so that the procedure only goes into effect for the desired orders. To do so, proceed as follows.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/ENG-Settings-Orders-Procedure-Manager-02.png" alt="ENG Settings Orders Procedure Manager 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: options in the <strong>Filter</strong> tab</em></p>
</div>
<div class="paragraph instruction">
<p>Configuring the filter:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Procedure manager » Tab: Filter</strong>.</p>
</li>
<li>
<p>Carry out the desired settings. Pay attention to the information given in table 1.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The following table includes information about settings in the <strong>Filter</strong> tab:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which <strong><a href="/en/order-processing/orders/managing-sales-orders#order-status">status</a></strong> the orders should have in order to be automatically included in the procedure.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select one or more order types that the procedure should be assigned to. Multiple selection is possible by pressing Ctrl or cmd when clicking.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Last status change <br>
Return date<br>
Incoming orders</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>today</strong>, <strong>yesterday</strong> or <strong>Enter the days</strong> and enter the number of days.<br>
<strong>Tip:</strong> This entry is especially important for reminders or dunning letters. It allows you to ensure that you only include orders that are beyond a due date.<br>
<em><strong>Important:</strong></em> The <strong>Last status change</strong> filter only goes into effect for processes that a status was saved for. It does not go into effect, e.g. when manually booking an incoming payment that no status was saved for.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>The order includes an entire line of items</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Yes</strong> and then select an attribute from the drop-down menu below. The filter checks the stock of items that the selected attribute corresponds to. If one of the items has no stock, then the filter will not go into effect for this order.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item is included</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter item <strong>IDs</strong> separated by commas if you only want orders to be included that contain this item.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Incoming payment</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select one of the following options:<br>
<strong>OPEN</strong> = Only considers orders that have not been paid yet or for which no payment has been booked yet.<br>
<strong>BOOKED</strong> = Only considers orders that have been completely paid, partially paid or overpaid.<br>
<strong>COMPLETELY BOOKED</strong> = Only considers orders that have been completely paid or overpaid.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>OR</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>eBay</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If the filter <strong>positive feedback received</strong> was selected here, then all of the other filters will be deactivated. This means that the eBay filter only goes into effect by itself and not in combination with other filters.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: <strong>basic settings</strong> for the <strong>stock</strong> of orders</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_tab_procedure">2.3. Tab: Procedure</h3>
<div class="paragraph">
<p>In this tab, you select which <strong>procedures</strong> are to be carried out automatically by the system at the set time for previously filtered orders. To do so, proceed as follows.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/orders/assets/ENG-Settings-Orders-Procedure-Manager-03.png" alt="ENG Settings Orders Procedure Manager 03">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: options in the <strong>Procedure</strong> tab</em></p>
</div>
<div class="paragraph instruction">
<p>Selecting the procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Procedure manager</strong>.</p>
</li>
<li>
<p>Carry out the desired settings.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.<br>
→ The procedure will be created.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For example, you can automatically send an e-mail template or you can automatically change an order’s status or dunning level. It is possible to <strong>give feedback</strong> automatically for eBay orders or to start the dispute process on eBay. Select the option <strong>Active</strong> in order to activate one of the listed <strong>debt collection service providers</strong>. The corresponding orders will automatically be sent to the service provider.</p>
</div>
</div>
</div>
</div>
</main>