<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Processes</h1><!-- AUTO GENERATED --><ul><li><a href="/en/basics/automation/processes/setting-up-processes">Setting up processes</a></li><li><a href="/en/basics/automation/processes/carrying-out-processes">Running processes</a></li><li><a href="/en/basics/automation/processes/work-steps">Work steps</a></li><li><a href="/en/basics/automation/processes/procedures">Procedures/control elements</a></li><li><a href="/en/basics/automation/processes/sub-procedures">Sub-procedures</a></li><li><a href="/en/basics/automation/processes/troubleshooting">Troubleshooting</a></li></ul>
</main>