<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_otto"><span>1.</span><span> OTTO</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>OTTO</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page provides information about OTTO.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_otto">1. OTTO</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.otto.de/" target="_blank" rel="noopener">OTTO</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is part of the Otto Group and one of Germany’s most successful companies for online mail order business.<br></p>
</div>
<div class="paragraph">
<p>OTTO is an online shop, which means that you sell your items under OTTO’s name. OTTO also takes care of the customer communication.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>OTTO also offers the <a href="/en/markets/otto/otto-market">marketplace OTTO Market</a>. On OTTO Market, you are shown as the seller of your products. However, communication with customers is managed by OTTO. You can also sell products on OTTO Market with plentymarkets.<br></p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
For data protection reasons, the content of the OTTO page is only available for customers who have a contract with OTTO. OTTO partners can find the OTTO page in our <a href="https://forum.plentymarkets.com/" target="_blank" rel="noopener">forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> within the OTTO category.
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>