<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> OTTO market</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up OTTO market in plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#250"><span>2.1.</span><span> Further settings in plentymarkets</span></a></li>
</ul>
</li>
<li><a href="#275"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the item availability</span></a></li>
<li><a href="#350"><span>5.</span><span> Setting the availability for images</span></a></li>
<li><a href="#400"><span>6.</span><span> Defining a sales price</span></a></li>
<li><a href="#500"><span>7.</span><span> Setting up event procedures</span></a>
<ul class="sectlevel2">
<li><a href="#550"><span>7.1.</span><span> Generating a DHL return label with an event procedure</span></a></li>
<li><a href="#600"><span>7.2.</span><span> Sending an order confirmation to OTTO</span></a></li>
<li><a href="#700"><span>7.3.</span><span> Sending the shipping confirmation to OTTO</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>OTTO market</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page provides information about OTTO market, OTTO’s marketplace model.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. OTTO market</h2>
<div class="sectionbody">
<div class="paragraph">
<p>OTTO market is OTTO’s marketplace. You are shown as the seller of your products. You also manage the customer communication yourself.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up OTTO market in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>OTTO market is set up with two assistants in the <strong>Setup » Assistants</strong> menu. Go to <strong>Setup » Assistants</strong> and work through these assistants to set up the market in your plentymarkets system:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>OTTO market Basic settings</strong>: Set up your OTTO market account in plentymarkets with this assistant.</p>
</li>
<li>
<p><strong>OTTO market Creating catalogues</strong>: Create catalogues and catalogue templates for OTTO market with this assistant. Catalogues are used to export items to OTTO market. For further information about catalogues, refer to the <a href="/en/data/exporting-data/Managing-catalogs">Managing catalogues</a> page.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="250">2.1. Further settings in plentymarkets</h3>
<div class="paragraph">
<p>In order to use OTTO market in plentymarkets, you have to carry out a few more settings in addition to the assistants to ensure that your items are exported properly.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Activate an item’s variation in an item’s <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Variations have to be linked with the OTTO market category group variation property.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic functions to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order import every 15 minutes</p>
</li>
<li>
<p>Stock and price update every 15 minutes</p>
</li>
<li>
<p>Item data is updated once a day</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="275">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with OTTO market, you have to activate the order referrer OTTO market in the <strong>Setup » Orders » Order referrer</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for OTTO market:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Place a check mark next to <strong>OTTO market</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for OTTO market. This is done in the <strong>Availability</strong> tab of an item within the <strong>Item » Edit item » Open item » Tab: Variation ID</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for OTTO market:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the selection field in the <strong>Markets</strong> section. <br>
→ A list with all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>OTTO market</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The item is available on OTTO market.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be edited in the <strong>Item » Edit item » Open item » Tab: Variations » Open variation » Tab: Variation ID » Tab: Availability</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. Setting the availability for images</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The availability <strong>OTTO market</strong> has to be saved for an image in the <strong>Item » Edit item » Open item » Tab: Images</strong> menu so that item images are displayed on OTTO market.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for images:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Images</strong>.</p>
</li>
<li>
<p>Activate the option <strong>OTTO market</strong> in the <strong>Availability</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The item image is displayed on OTTO market.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">6. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer OTTO market. This price is displayed on OTTO market.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for OTTO market:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a check mark next to the referrer <strong>OTTO market</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">7. Setting up event procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up <a href="/en/automation/event-procedures">event procedures</a> to automatically inform OTTO market about order status changes. The following event procedures can be set up for OTTO market:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftragsbestätigung an OTTO melden (Send order confirmation to OTTO)</p>
</li>
<li>
<p>Versandinformation an OTTO melden (Send shipping confirmation to OTTO)</p>
</li>
<li>
<p>Auftragsstornierung an OTTO melden (Send order cancellation to OTTO)</p>
</li>
<li>
<p>Retoure an OTTO melden (Send return to OTTO)</p>
</li>
<li>
<p>Ablehnung der Retoure an OTTO melden (Send rejection of return to OTTO)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following chapters describe event procedures for generating a DHL return label and for sending order confirmations to OTTO market. Set up further event procedures in the same way.</p>
</div>
<div class="sect2">
<h3 id="550">7.1. Generating a DHL return label with an event procedure</h3>
<div class="paragraph">
<p>When OTTO market orders are imported into your plentymarkets system, then DHL return labels must be generated for those orders before the shipping confirmation is sent to OTTO market. The procedure <strong>Generate DHL return label</strong> automatically creates a tracking number for a return (retTrackingNumber) which is saved for the order. This is to ensure that a tracking number exists if customers wish to return an item.<br></p>
</div>
<div class="paragraph">
<p>To ensure that the tracking number is sent to OTTO market along with the order confirmation, you have to create two event procedures which are triggered one after the other: 1. <strong>Generate DHL Retoure Online label</strong> and 2. <strong>Auftragsbestätigung an OTTO melden</strong> (Send order confirmation to OTTO).</p>
</div>
<div class="paragraph">
<p><strong>Note:</strong> At the moment, the return label can only be generated with DHL. Further shipping service providers will be available soon.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Install DHL Retoure Online plugin</div>
<div class="paragraph">
<p>In order to generate a DHL return label, the <strong>DHL Retoure Online</strong> plugin has to be installed, activated and set up in your plentymarkets system. The plugin is available in the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/dhlretoureonline_6714" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>How to set up the event procedure to create a DHL return label is described below.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in <a href="#dhl-return-label-otto">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The event is created.</p>
</li>
<li>
<p>Carry out further settings as described in <a href="#dhl-return-label-otto">Table 1</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The event procedure is saved.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="dhl-return-label-otto" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Event procedure to create a DHL return label</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New order</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO market</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Generate DHL Retoure Online label</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="600">7.2. Sending an order confirmation to OTTO</h3>
<div class="paragraph">
<p>The event procedure for sending an order confirmation to OTTO has to be triggered after a DHL return label was generated. How to set up the event procedure for sending an order confirmation to OTTO is described below.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in <a href="#order-confirmation-otto">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The event is created.</p>
</li>
<li>
<p>Carry out further settings as described in <a href="#order-confirmation-otto">Table 2</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The event procedure is saved.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="order-confirmation-otto" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Event procedure to send an order confirmation to OTTO</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change: select a status before shipping as needed</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO market</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Auftragsbestätigung an OTTO melden</strong> (Send order confirmation to OTTO)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="700">7.3. Sending the shipping confirmation to OTTO</h3>
<div class="paragraph">
<p>Set up an event procedure to inform OTTO market that an item has been shipped.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in <a href="#shipping-confirmation-otto">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The event is created.</p>
</li>
<li>
<p>Carry out further settings as described in <a href="#shipping-confirmation-otto">Table 3</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The event procedure is saved.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="shipping-confirmation-otto" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Event procedure to send a shipping confirmation to OTTO</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change: e.g. status [7] Shipped</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO market</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Versandinformation an OTTO melden</strong> (Send shipping confirmation to OTTO)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>