<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Types of inheritance</span></a></li>
<li><a href="#200"><span>2.</span><span> Controlling inheritance behaviour</span></a></li>
<li><a href="#300"><span>3.</span><span> Switching the main variation</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>What is inheritance?</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>An item’s <a href="/en/item/introduction/structure#600">main variation</a> differs from its other variations. The main variation can pass data on, i.e. other variations can inherit its data. As such, the main variation is a parent variation that passes on settings to its children.</p>
</div>
<div class="paragraph">
<p>By default, this inheritance function is active. When a new variation is created, this variation inherits settings from the main variation, as long as no other data is saved.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Types of inheritance</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are two types of inheritance in plentymarkets:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Individual inheritance</p>
</li>
<li>
<p>1-to-n inheritance</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Individual inheritance means the main variation passes individual settings on to the sub-variations. For example, the VAT rate is saved for the main variation. The sub-variations will inherit this VAT rate, assuming you don’t save a different VAT rate for the sub-variation.</p>
</div>
<div class="paragraph">
<p>1-to-n inheritance means the main variation passes entire data records on to the sub-variations. For example, various <a href="/en/item/managing-items#240">combinations of prices and conditions</a> are saved for the main variation. As long as you don’t save different prices for a sub-variation, it will inherit all of the prices and conditions from the main variation.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Controlling inheritance behaviour</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When a variation is created, it will inherit settings from the main variation. If you want to use different settings for a variation, then you will need to deactivate the inheritance function and configure new settings.</p>
</div>
<div class="paragraph">
<p><a href="#table-inheritance-settings">Table 1</a> shows the different types of settings that can be inherited. The table lists the visual appearance, the behaviour and the process for deactivating the inheritance.</p>
</div>
<div class="videoblock">
<div class="title">The following video also explains the different types of inheritance</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/169064358" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<table id="table-inheritance-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Inheritance settings</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type of setting</th>
<th class="tableblock halign-left valign-top">Display</th>
<th class="tableblock halign-left valign-top">Deactivation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Drop-down list</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The first value in the drop-down list is the setting for the main variation. Inherited values are displayed in grey font. Empty fields can also be inherited.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inheritance is deactivated as soon as you select a different value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Checkbox</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inherited check boxes can have three states:<br>
<strong>Activated</strong> = Check mark<br>
<strong>Deactivated</strong> = No check mark<br>
<strong>Inherited</strong> = Red and crossed out with additional check box showing the main variation’s setting</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on the crossed out check mark to deactivate inheritance.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text field</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inherited values are displayed in grey font. Empty fields can also be inherited.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inheritance is automatically deactivated if a text field is cleared, filled with text or if the inherited content is edited.<br>
If you want to have an empty value in the variation, you need to leave the field blank in the main variation and manage this data on the variation level instead.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text fields with 1:n links</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inherited values are displayed in grey font.<br>
Either all or none of the data is inherited. It is not possible to only inherit some of the data.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the button in the header area to deactivate the inheritance.<br>
The inheritance is automatically deactivated if a value is changed or added to the variation. Unchanged values are inherited and saved directly for the variation. If the inheritance is activated again, then all of the values will be deleted and taken from the main variation again.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Switching the main variation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can turn a different variation of an item into the main variation.
The current main variation will become a normal sub-variation.
Sub-variations have the following button:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/introduction/assets/main-variation.png" alt="main variation">
</div>
</div>
<div class="paragraph instruction">
<p>Turning another variation into the main variation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#100">Search for</a> and open the item.</p>
</li>
<li>
<p>Click on the <strong>Variations</strong> tab.</p>
</li>
<li>
<p>Open the variation you want to turn into the new main variation.</p>
</li>
<li>
<p>Click on <strong>Make main variation</strong> (<span class="icon "><i class="psicon-execute"></i></span>) in the lower row of symbols.</p>
</li>
<li>
<p>Confirm your decision.<br>
→ The variation will become the new main variation.</p>
</li>
</ol>
</div>
<h3 id="_inheritance_when_the_main_variation_is_switched" class="discrete">Inheritance when the main variation is switched</h3>
<div class="paragraph">
<p>The inheritable values of the new main variation are compared to the values of the other variations of the item. When you switch the main variation, all values are saved and the following inheritance logic is applied:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Inheritance is automatically activated for values that are identical to the values of the new main variation.</p>
</li>
<li>
<p>Values that are not identical to those of the new main variation are saved with the variation, i.e. inheritance is not activated.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Open the variations and deactivate inheritance if this behaviour does not meet your needs.</p>
</div>
</div>
</div>
</main>