<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Searching for items and variations</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Searching for items that belong to a category</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Searching for items that belong to a client</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Searching for variations within an item data record</span></a></li>
<li><a href="#500"><span>1.4.</span><span> Modifying the default search behaviour</span></a></li>
</ul>
</li>
<li><a href="#600"><span>2.</span><span> Working with the search results</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>2.1.</span><span> Customising the columns and their sort sequence</span></a></li>
<li><a href="#800"><span>2.2.</span><span> Symbols in the overview</span></a></li>
</ul>
</li>
<li><a href="#900"><span>3.</span><span> Example items</span></a>
<ul class="sectlevel2">
<li><a href="#1000"><span>3.1.</span><span> Understanding the example items</span></a>
<ul class="sectlevel3">
<li><a href="#1100"><span>3.1.1.</span><span> Displaying the example items</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>3.2.</span><span> Deleting the example items</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Navigation and example items</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Before you start entering your item data into the system, you should get acquainted with the item overview. This page helps you find your way around the menu. It teaches you where you can find the example items that are automatically saved in new systems.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Searching for items and variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The menu <strong>Item » Edit item</strong> provides you with an overview of your items and variations. Use the filter options in the left column to search for specific items and variations. The <a href="/en/item/introduction/search#600">search results</a> will be displayed in an overview on the right.</p>
</div>
<div class="paragraph instruction">
<p>Searching for items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Choose <strong>filters</strong> in the left column. Note <a href="#table-filter-item-variations">Table 1</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The filtered items are displayed in the overview.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Why aren’t my items found?</div>
<div class="paragraph">
<p>Do you see the <a href="/en/item/introduction/search#active">Active</a> filter in the left column? Use this filter to specify whether you only want to search for items and variations that are currently activated for an online store. This filter is set to <strong>Yes</strong> by default. Once you have many items and variations, this filter will help you edit your items quicker. However, it can also cause some confusion in the beginning because inactive items will not be found. Set the filter to <strong>No</strong> or <strong>ALL</strong> and search again.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-filter-item-variations" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Filter settings for items and variations</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="table-type">Table type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should <a href="/en/item/introduction/structure">items and variations</a> be grouped together in the search results? In other words, should the table list all of the possible variations or each item as a whole?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Item</strong> = The overview only displays entire items. You will need to open the item data record if you want to <a href="/en/item/introduction/search#400">see its variations</a>. This is the default setting.<br></p>
</li>
<li>
<p><strong>Variations</strong> = The overview displays each individual variation.<br></p>
</li>
<li>
<p><strong>Extended</strong> = One item is displayed per line. Expand the item (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to see its variations.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ID to search for the item with this ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ID to search for the variation with this ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the variation number to search for the variation with this number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the barcode to search for the variation with this barcode.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="item-data">Item data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter item data, e.g. the item’s name, model, or an appropriate keyword. Items that match this data will be displayed in the overview. You can decide <a href="/en/item/use-cases/search-behaviour#200">which item data the search function should take into consideration</a>.<br>
<strong><em>Searching through the item description</em></strong>: Do you want to search for items whose description contains a particular keyword? Place a check mark next to the <a href="/en/item/introduction/search#description"><strong>Browse description</strong> option</a> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) and enter the keyword into this search field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Serial number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the serial number to search for the item with this serial number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SKU</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a SKU or <strong>ALL</strong> to search for items with this SKU.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="tags">Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter tag names to search for variations that were linked to these <a href="/en/basics/working-with-plentymarkets/tags">tags</a>. Go to <strong>Setup » Settings » Tags</strong> to create tags.<br>
Choose the appropriate search mode in the tag filter. The AND mode filters variations that have all of the selected tags. The OR mode filters variations that have at least one of the selected tags.<br>
<strong><em>Tip:</em></strong> Enter the first letter of the tag and then use the auto completion feature.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Note text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter text to search for items with this text in the variation’s note.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Supplier item number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the item number of the supplier to search for the item with this supplier item number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to search for a particular type of item? Use this filter to narrow down the search results so that they only include default items, <a href="/en/item/use-cases/combining-products">sets or multi-packs</a>.<br>
<strong><em>What about item bundles?</em>:</strong> It’s also possible to search for item bundles or individual bundle components. Use the <a href="/en/item/introduction/search#bundle">Bundle</a> filter to do so.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="description">Browse description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Place a check mark (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to search for a keyword in the item description. Enter the keyword in <a href="/en/item/introduction/search#item-data">the <strong>Item data</strong> field</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item list</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to search for variations whose <a href="/en/item/managing-items#230">item list option</a> was set to visible or invisible?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to search for items that have <a href="/en/item/managing-items#90">an image saved</a> for them?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag 1;<br>
Flag 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a flag or <strong>ALL</strong> to search for <a href="/en/item/managing-items#810">items that have this flag</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a manufacturer or <strong>ALL</strong> to search for <a href="/en/item/managing-items#610">items that have this manufacturer</a>.<br>
Select <strong>None</strong> to search for items without a manufacturer. The filter for a manufacturer will only be available in the item search if the manufacturer is linked to at least one item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attributes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an attribute in the left drop-down list or select <strong>ALL</strong>. Select an attribute value in the drop-down list to the right or select <strong>ALL</strong> to search for items and variations with this attribute value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="active">Active</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you only want to search for <a href="/en/item/managing-items#230">active items</a>, i.e. items that are available in the online store?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = Default setting. Search for all active items.<br></p>
</li>
<li>
<p><strong>ALL</strong> = Search for all items. The overview will display both active and inactive items.<br></p>
</li>
<li>
<p><strong>No</strong> = Search for inactive items.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client (store) or <strong>ALL</strong> to search for items and variations of this client.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Available</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the availability or <strong>ALL</strong> to search for items and variations with this availability.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a sales price or <strong>ALL</strong> to search for items and variations with this sales price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a shipping profile or <strong>ALL</strong> to search for items with this shipping profile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a warehouse or <strong>ALL</strong> to search for items and variations with this warehouse.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock limit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This filter limits the search results so that they only include items that have a specific <a href="/en/item/managing-items#230">stock limitation</a>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>No limitation = The search results will only include items whose <strong>Limitation</strong> option was set to <strong>None</strong>.</p>
</li>
<li>
<p><strong>Limited to net stock</strong> = The search results will only include items whose <strong>Limitation</strong> option was set to <strong>To net stock</strong>.</p>
</li>
<li>
<p><strong>Do not administer the stock</strong> = The search results will only include items whose <strong>Limitation</strong> option was set to <strong>Do not administer stock for this variation</strong>.</p>
</li>
<li>
<p><strong>ALL</strong> = The search results will include items with any stock limitation setting. This is the default setting.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the stock or <strong>ALL</strong> to search for items and variations with this stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the stock type or <strong>ALL</strong> to search for stock of this type.<br>
Select <strong>No colli</strong> to exclude all items of the stock type <strong>Colli</strong> from the search.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="bundle">Bundle</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you want to search for <a href="/en/item/use-cases/combining-products">item bundles</a> or individual bundle components?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = The search results will only include items and variations that are the <em>main item of a bundle</em>.</p>
</li>
<li>
<p><strong>No</strong> = The search results will include items and variations that are neither the main item nor a component of a bundle.</p>
</li>
<li>
<p><strong>Component</strong> = The search results will only include items and variations that are <em>components of a bundle</em>.</p>
</li>
<li>
<p><strong>ALL</strong> = The search results will include item bundles and items that are not part of a bundle. This is the default setting.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listing</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you want to search for items that are part of a listing or an auction?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = The search results will only include items that are part of a listing or an auction, i.e. items with a <a href="/en/item/introduction/search#800">yellow listing symbol</a> (<span class="icon yellow fa-stack fa-lg"><i class="fa fa-bars fa-stack-2x  "></i><span class="icon yellow"><i class="fa fa-eye fa-stack-1x lr"></i></span></span>).</p>
</li>
<li>
<p><strong>No</strong> = The search results will only include items that are <em>not</em> part of a listing or an auction, i.e. items with a <a href="/en/item/introduction/search#800">grey listing symbol</a> (<span class="icon darkGrey fa-stack fa-lg"><i class="fa fa-bars fa-stack-2x  "></i><span class="icon darkGrey"><i class="fa fa-eye fa-stack-1x lr"></i></span></span>).</p>
</li>
<li>
<p><strong>Auction (yes)</strong> = The search results will only include items that are part of an auction. This means that <a href="/en/markets/ebay/ebay-setup#3500">the <strong>Type</strong> option was set to <strong>Auction</strong></a>.</p>
</li>
<li>
<p><strong>Shop item / fixed price (yes)</strong> = The search results will only include items that are part of a listing. This means that <a href="/en/markets/ebay/ebay-setup#3500">the <strong>Type</strong> option was set to <strong>Fixed price</strong> or <strong>Shop item</strong></a>.</p>
</li>
<li>
<p><strong>ALL</strong> = The search results will include items that are part of a listing and items that are <em>not</em> part of a listing. This is the default setting.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Store special</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This filter limits the search results to items that are part of a <a href="/en/item/online-store/store-specials#200">Callisto store special</a>. The filter searches for items that were marked as a <strong>Special offer</strong>, <strong>New item</strong> or <strong>Top item</strong> in the <strong>Global</strong> tab.<br>
<strong><em>What about Ceres store specials?</em></strong>: <a href="/en/item/online-store/store-specials#100">Ceres store specials</a> are created with the help of tags. Therefore, use the <a href="/en/item/introduction/search#tags">tags filter</a> to search for items that are part of a Ceres store special.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Age rating</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can use this filter to narrow down the search results so that they only include items with a specific <a href="/en/item/managing-items#40">age rating in the <strong>Global</strong> tab</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Updated from;<br>
Updated to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a date in the calendar to search for all items changed in this period of time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This filter narrows down the search results so that they only include items with a specific Amazon product type in the <strong>Multi-Channel</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon Canada</strong>;<br>
<strong>Amazon FBA</strong>;<br>
…​<br>
<strong>ShopShare</strong><br>
<strong>WEB-API</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you only want to search for items that are available on a specific marketplace?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Visible</strong> = This market was selected in the variation’s <strong>Availability</strong> tab.</p>
</li>
<li>
<p><strong>Invisible</strong> = This market was <em>not</em> selected in the variation’s <strong>Availability</strong> tab.</p>
</li>
<li>
<p><strong>ALL</strong> = The search results include items that are available on this market and items that are not available on this market. This is the default setting.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="200">1.1. Searching for items that belong to a category</h3>
<div class="paragraph">
<p>Do you want to search for the items that belong to a specific category? Proceed as described below to see the <a href="/en/item/managing-items#300">items saved for a particular category</a>.</p>
</div>
<div class="paragraph instruction">
<p>Searching for items that belong to a category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Click on the <strong>Category</strong> tab in the left column.</p>
</li>
<li>
<p>Click on a category or a subcategory.<br>
→ The items in this category or subcategory are displayed in the item overview.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Where do I find the subcategories?</div>
<div class="paragraph">
<p>Click on a category’s folder icon (<span class="icon darkGrey"><i class="fa fa-folder  "></i></span>) on the far right. This displays the subcategories within.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Combining categories with filters</div>
<div class="paragraph">
<p>Use the category search along with the filter settings listed in <a href="#table-filter-item-variations">Table 1</a>. This will limit your search results even further.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Searching for items in any category again</div>
<div class="paragraph">
<p>Click on the <strong>Filter</strong> tab and remove the check mark next to <strong>With categories</strong>. The next search finds items in all of the categories.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Searching for items that belong to a client</h3>
<div class="paragraph">
<p>Are you responsible for the item data in multiple stores? Proceed as described below to search for the <a href="/en/item/managing-items#_setting_the_availability_for_clients">items that belong to a specific store</a>.</p>
</div>
<div class="paragraph instruction">
<p>Searching for items that belong to a client:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Click on the <strong>Client</strong> tab in the left column.</p>
</li>
<li>
<p>Click on a client.<br>
→ This client’s items are displayed in the item overview.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Combining a client with a category and filters</div>
<div class="paragraph">
<p>Click on a client’s folder icon (<span class="icon darkGrey"><i class="fa fa-folder  "></i></span>) on the far right. Then click on one of the categories within the folder. The search results will be limited to items within a specific category <em>and</em> that belong to a specific client. Use the client search along with the filter settings listed in <a href="#table-filter-item-variations">Table 1</a>. This will limit your search results even further.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Searching for the items that are <em>not available</em> for a client</div>
<div class="paragraph">
<p>Place a check mark next to the words <strong>Not available</strong> and click on a client. The items that are not available for the client will be displayed in the item overview.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="400">1.3. Searching for variations within an item data record</h3>
<div class="paragraph">
<p>Items always include one or more variations. When you open an item, the first variation, i.e. the <a href="/en/item/introduction/structure#600">main variation</a>, will automatically open as well. But how do you access an item’s additional sub-variations? Proceed as described below to search for an item’s variations.</p>
</div>
<div class="paragraph instruction">
<p>Searching for variations within items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Open the <strong>Variations</strong> tab.</p>
</li>
<li>
<p>Select the <strong>Filters</strong>. Note <a href="#table-filter-variations">Table 2</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The filtered variations will be displayed within the item data record.</p>
</li>
</ol>
</div>
<table id="table-filter-variations" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Searching for variations within an item data record</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ID to search for the variation with this ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the variation number to search for the variation with this number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>External Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ID to search for the variation with this external variation ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the barcode to search for the variation with this barcode.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attributes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an attribute value or <strong>ALL</strong> to search for variations with this attribute value. Attributes are loaded dynamically. As such, only attributes linked with variations are displayed.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Would you prefer to search for variations directly in the main overview?</div>
<div class="paragraph">
<p>Use the filters described in <a href="#table-filter-item-variations">Table 1</a> to see variations in the main overview rather than within an item data record. In the <a href="/en/item/introduction/search#table-type">Table type</a> filter, choose the option <strong>Variations</strong> or <strong>Extended</strong>. Also use the <strong>Variation ID</strong> or <strong>Variation number</strong> filter to search for specific variations.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="500">1.4. Modifying the default search behaviour</h3>
<div class="paragraph">
<p>Do you want to display a <a href="/en/item/use-cases/search-behaviour#100">specific sales price or barcode</a> in the item overview? Do you want to decide <a href="/en/item/use-cases/search-behaviour#200">which item parameters are included in the search index</a>? plentymarkets lets you customise the search behaviour to meet your needs!</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">2. Working with the search results</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you’ve used the <a href="/en/item/introduction/search#100">search options on the left</a>, you’ll see the search results displayed in an overview on the right. Click on an item in the overview to open it and <a href="/en/item/managing-items#30">manually edit the item data record</a>.</p>
</div>
<div class="sect2">
<h3 id="700">2.1. Customising the columns and their sort sequence</h3>
<div class="paragraph">
<p>Additional symbols appear when you move your cursor over the column headings. Use these symbols to customise the table so that it meets your needs.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Which columns should be included in the table? Click on <strong>Customise the layout</strong> (<span class="icon darkGrey"><i class="fa fa-gear  "></i></span>) and select the columns that you want to see (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Should certain columns be positioned further to the right or the left? If your cursor changes its shape (<span class="icon darkGrey"><i class="fa fa-arrows  "></i></span>), then you can move the column. Simply click on the column header and drag the column to the desired position.</p>
</li>
<li>
<p>Do you want numbers to be sorted in ascending or descending order? Click on the small triangle (<span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span>), to change the sort sequence.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="800">2.2. Symbols in the overview</h3>
<div class="paragraph">
<p>Do you see the <strong>Procedures</strong> column in the table? The symbols in this column help you manage your items quickly and easily.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Click on <strong>Edit item</strong> (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) to open the item data record. Alternatively, click directly on the item in the overview.</p>
</li>
<li>
<p>Click on <strong>Visible in online store</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>) to see <a href="/en/item/online-store">what the item looks like in your online store</a>. If the symbol is crossed out, then the item is <strong>Invisible in the online store</strong> (<span class="icon blue fa-stack fa-lg"><i class="fa fa-eye fa-stack-2x  "></i><span class="icon darkGrey"><i class="fa fa-times fa-stack-1x lr"></i></span></span>).</p>
</li>
<li>
<p>Click on <strong>Listing</strong> (<span class="icon yellow fa-stack fa-lg"><i class="fa fa-bars fa-stack-2x  "></i><span class="icon yellow"><i class="fa fa-eye fa-stack-1x lr"></i></span></span>) to see an overview of all the listings or auctions with this item ID. If the symbol is greyed out, then there are no listings for the item.</p>
</li>
<li>
<p>Click on <strong>New listing</strong> (<span class="icon green fa-stack fa-lg"><i class="fa fa-bars fa-stack-2x  "></i><span class="icon darkGrey"><i class="fa fa-plus fa-stack-1x lr"></i></span></span>) to sell this item in a <a href="/en/markets/ebay/ebay-setup#3400">listing or auction on eBay</a>, <a href="/en/markets/hood#2300">Hood</a> or <a href="/en/markets/ricardo-ch#1900">ricardo</a>.</p>
</li>
<li>
<p>Click on <strong>Add note</strong> (<span class="icon green fa-stack fa-lg"><i class="fa fa-calendar-minus-o fa-stack-2x  "></i><span class="icon darkGrey"><i class="fa fa-plus fa-stack-1x lr"></i></span></span>) to write a <a href="/en/item/managing-items#2090">note for the variation</a>.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Additional symbols in the item data record</div>
<div class="paragraph">
<p>Once you’ve opened an item, you will see additional symbols in the row of tabs.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="900">3. Example items</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="1000">3.1. Understanding the example items</h3>
<div class="paragraph">
<p>Your plentymarkets system contains some example items and variations. They will help you understand the structure of items and variations before entering your own data.</p>
</div>
<div class="paragraph">
<p>We will give you a brief overview of the item structure using these examples.</p>
</div>
<div class="sect3">
<h4 id="1100">3.1.1. Displaying the example items</h4>
<div class="paragraph instruction">
<p>Displaying example items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> in the top left corner.<br>
→ The item overview displays the example items.</p>
</li>
<li>
<p>Open the following items:</p>
<div class="ulist">
<ul>
<li>
<p>The single item “Lounge chair Floating Water” (item ID 123)</p>
</li>
<li>
<p>The variation item “Two-seater Paradise Now” (item ID 132)</p>
</li>
</ul>
</div>
</li>
<li>
<p>Click through the tabs of both the items and the variations to familiarise yourself with the settings.<br>
→ <a href="#table-example-items">Table 3</a> compares both items.</p>
</li>
<li>
<p>Test the inheritance functionality:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Link the variation 1065 of item 132 to another category in the <strong>Categories</strong> tab.<br>
→ The previously inherited variation category is saved directly.<br>
→ The inheritance is deactivated.</p>
</li>
<li>
<p>Click on <strong>Activate inheritance</strong>.<br>
→ The category you linked is removed.<br>
→ The category of the main variation is applied.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
<table id="table-example-items" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Single and variation items</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Single item</th>
<th class="tableblock halign-left valign-top">Variation item</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">123</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">132</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lounge chair Floating Water</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Two-seater Paradise Now</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Main variation ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1021</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1030</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Main variation purchasable</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Yes<br>
<strong><em>Tip:</em></strong> For single items, the product should match the main variation.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">No<br>
<strong><em>Tip:</em></strong> For variation items, the main variation should not be a purchasable product. In this case, the main variation only exists to supply the variations of the item with data through inheritance.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"> — </p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1065 - red<br>
1066 - white</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A &amp; C Design</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exclusive Leather</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sales price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price<br>
RRP</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price<br>
RRP<br>
<strong><em>Tip:</em></strong> Variations do not inherit prices from the main variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Living room » Armchairs &amp; Stools</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Living room » Sofas<br>
<strong><em>Tip:</em></strong> Variations inherit the category from the main variation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute value combination<br>
(Attribute:Attribute value)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">---</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1065 - Couch color:red<br>
1066 - Couch color:white<br>
<strong><em>Tip:</em></strong> The main variation is not linked to any attribute.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Client (store)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standard Shop</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standard Shop<br>
<strong><em>Tip:</em></strong> Variations inherit the client from the main variation.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="1200">3.2. Deleting the example items</h3>
<div class="paragraph">
<p>Now that you have examined the example items, they have served their purpose and you can delete them. This way, you can ensure that you start off with a clean system that does not contain any unnecessary data. The fastest way to delete the example items is to use the group function.</p>
</div>
<div class="paragraph instruction">
<p>Deleting the example items using the group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the <strong>Active</strong> filter to <strong>ALL</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ All items saved in the system are displayed.</p>
</li>
<li>
<p>Click on the checkbox in the top left corner to select all of the displayed items.</p>
</li>
<li>
<p>Click on <strong>Item group function</strong>.<br>
→ The <strong>Item group function</strong> window opens.</p>
</li>
<li>
<p>Select <strong>Delete item</strong>.</p>
</li>
<li>
<p>Click on <strong>Execute</strong>.<br>
→ All items are deleted from the system.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>