<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Vorbereitende Einstellungen</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>1.1.</span><span> Standardeinstellungen festlegen</span></a>
<ul class="sectlevel3">
<li><a href="#_durchlaufvorschau"><span>1.1.1.</span><span> Durchlaufvorschau</span></a></li>
</ul>
</li>
<li><a href="#120"><span>1.2.</span><span> Benutzerrechte vergeben</span></a></li>
</ul>
</li>
<li><a href="#subscription-myview"><span>2.</span><span> MyView nutzen</span></a>
<ul class="sectlevel2">
<li><a href="#create-new-view"><span>2.1.</span><span> Neue Ansicht erstellen</span></a></li>
<li><a href="#create-grid"><span>2.2.</span><span> Ein Raster erstellen</span></a></li>
<li><a href="#place-elements"><span>2.3.</span><span> Elemente platzieren</span></a></li>
<li><a href="#finalise-editing"><span>2.4.</span><span> Bearbeitung abschließen</span></a>
<ul class="sectlevel3">
<li><a href="#editing-functions"><span>2.4.1.</span><span> Funktionen im Bearbeitungsmodus</span></a></li>
<li><a href="#900"><span>2.4.2.</span><span> Rechtevergabe</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#200"><span>3.</span><span> Neues Abonnement anlegen</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>3.1.</span><span> Einstellungen vornehmen</span></a></li>
<li><a href="#400"><span>3.2.</span><span> Artikelliste erstellen</span></a></li>
<li><a href="#425"><span>3.3.</span><span> Warenkorb: Preisauswahl</span></a></li>
<li><a href="#450"><span>3.4.</span><span> Warenkorb: Eigenschaften an Auftragspositionen</span></a></li>
<li><a href="#500"><span>3.5.</span><span> Artikelliste nachträglich bearbeiten</span></a></li>
<li><a href="#600"><span>3.6.</span><span> Versandart und Versandkosten ändern</span></a></li>
</ul>
</li>
<li><a href="#700"><span>4.</span><span> Weitere Funktionen in der Detailansicht</span></a>
<ul class="sectlevel2">
<li><a href="#800"><span>4.1.</span><span> Abgeschlossene Aufträge: Durchläufe</span></a>
<ul class="sectlevel3">
<li><a href="#_sperrung_und_entsperrung_von_abonnements"><span>4.1.1.</span><span> Sperrung und Entsperrung von Abonnements</span></a></li>
</ul>
</li>
<li><a href="#900"><span>4.2.</span><span> Messenger nutzen</span></a></li>
<li><a href="#1000"><span>4.3.</span><span> Auftragshistorie</span></a></li>
</ul>
</li>
<li><a href="#1100"><span>5.</span><span> Übersicht der Abonnements</span></a>
<ul class="sectlevel2">
<li><a href="#1200"><span>5.1.</span><span> Abonnements suchen</span></a></li>
<li><a href="#1300"><span>5.2.</span><span> Gruppenfunktion: Manueller Durchlauf</span></a></li>
<li><a href="#1400"><span>5.3.</span><span> Abonnements in der Auftragsübersicht</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Abonnement</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Das Modul Abonnement ermöglicht es dir, für Kund:innen intervallgesteuert automatisierte Aufträge anzulegen. So bekommen deine Kund:innen in regelmäßigen zeitlichen Abständen die ausgewählten Artikel zugeschickt, ohne dass du jeden Auftrag einzeln anlegen musst.
Erstelle ein individuelles Abonnement für eine Kund:in und konfiguriere es wie gewünscht.<br>
Die Erstellung und Bearbeitung der Abonnements findet gut überschaubar in einem eigenen Menü deines plentymarkets Systems statt.
Durch Abonnements generierte Aufträge bearbeitest du dann wie andere Aufträge auch in der Auftragsübersicht. Im Folgenden erfährst du, wie du <a href="/auftraege/abonnement#200">Abonnements anlegst</a>, die <a href="/auftraege/abonnement#300">Einstellungen vornimmst</a> und welche Bearbeitungsmöglichkeiten dir zur Verfügung stehen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Vorbereitende Einstellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit du so bequem wie möglich mit dem Abonnement arbeiten kannst, solltest du vorher einige vorbereitende Einstellungen beachten und vornehmen. Zum einen hast du die Möglichkeit, <a href="/auftraege/abonnement#110">Standardeinstellungen</a> für deine Abonnements zu wählen, so dass diese beim Anlegen neuer Abonnements vorausgewählt sind und nicht jedes Mal neu von dir eingestellt werden müssen. Auf diese Weise kannst du im voraus Einstellungen festlegen und beim Anlegen neuer Abonnements Zeit sparen. Zum anderen solltest du <a href="/auftraege/abonnement#120">Benutzerrechte</a> vergeben, wenn auch Benutzer:innen vom Typ Backend mit Abonnements arbeiten sollen. In den folgenden zwei Kapiteln werden sowohl die Standardeinstellungen als auch die Einstellungen für die Vergabe der notwendigen Benutzerrechte beschrieben.</p>
</div>
<div class="paragraph">
<p>Außerdem sind Tabellen individuell anpassbar. Das bedeutet, dass du selbst entscheiden kannst, welche Informationen dir in den Tabellenspalten angezeigt werden. Gehe dafür folgendermaßen vor:</p>
</div>
<div class="paragraph instruction">
<p>Tabelle individualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ Das Fenster <strong>Spalten konfigurieren</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle aus, welche Spalten angezeigt werden sollen.</p>
</li>
<li>
<p>Verschiebe (<span class="icon "><i class="material-sort"></i></span>) die Spalten, so dass sie in der Reihenfolge angezeigt werden, in der du sie brauchst.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>, um deine Auswahl zu speichern.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du eine Tabelle angepasst hast, wird diese Auswahl gespeichert. Die Tabellen sind jederzeit anpassbar.</p>
</div>
<div class="sect2">
<h3 id="110">1.1. Standardeinstellungen festlegen</h3>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Aufträge » Auftragstypen » Abonnement</strong> kannst du einige grundlegende Einstellungen in Form von Standardeinstellungen für deine Abonnements festlegen.
So sind die hier vorgenommenen Einstellungen für deine neu angelegten Abonnements dann vorausgewählt.
Sie können deine Arbeit beschleunigen, wenn du regelmäßig die gleichen Einstellungen beim Anlegen von Abonnements wählst. Es ist aber dennoch weiterhin möglich, beim Anlegen eines Abonnements abweichende Einstellungen zu wählen.</p>
</div>
<div class="paragraph instruction">
<p>Gehe folgendermaßen vor, um die Standardeinstellungen vorzunehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragstypen » Abonnement</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#table-subscription-default-settings">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-subscription-default-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Standardeinstellungen des Abonnements</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-automatic-orders">Für fällige Abonnements automatisch Aufträge erzeugen.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stelle ein, ob für jedes Abonnement automatisch Aufträge mit zugeordneter Auftrags-ID erstellt werden sollen, wenn diese fällig sind.
Diese Aufträge werden dann automatisch in der Auftragsübersicht eingeordnet und sind dort bearbeitbar.<br>
<strong><em>Beachte</em></strong>, dass die Aufträge <em>nicht</em> automatisch erzeugt werden und somit manuell angestoßen werden müssen, wenn du diese Option nicht aktivierst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-default-status">Standard-Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Standardstatus, der für Abonnements gelten soll. Dieser Status ist dann für neu angelegte Abonnements vorausgewählt, bleibt aber individuell anpassbar. Zur Verfügung stehen dir alle <a href="/auftraege/auftraege-verwalten/#1220">Status</a>, die du in deinem plentymarkets System festgelegt hast.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-default-interval">Standard-Intervall</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle optional einen Zeitabstand, in dem die Artikel eines Abonnements verschickt werden sollen, als Standard aus. Dieses Intervall ist dann für neu angelegte Abonnements vorausgewählt, bleibt aber individuell anpassbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-default-owner">Standard-Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Standardeigner. Achte darauf, dass der zugewiesene Eigner die benötigten <a href="/auftraege/abonnement#120">Benutzerrechte</a> für das Abonnement hat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-default-referrer">Standard-Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Standardherkunft, wenn diese beim Anlegen neuer Abonnements vorausgewählt sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-default-client">Standard-Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Standardmandanten, wenn diese beim Anlegen neuer Abonnements vorausgewählt sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzeige von hinzugefügten Artikeln im Warenkorb</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, wie die Artikel zum Warenkorb hinzugefügt werden sollen. Die Standardeinstellung ist <strong>Als eine Auftragsposition, Mengen werden erhöht</strong>.<br>
<strong>Als separate Auftragspositionen.</strong> = Auch gleiche Artikel werden einzeln hinzugefügt, d.h. jeder Artikel wird in einer eigene Zeile dargestellt.<br>
<strong>Als eine Auftragsposition, Mengen werden erhöht.</strong> = Gleiche Artikel werden in einer Auftragsposition zusammengefasst und die Menge wird entsprechend angepasst.</p></td>
</tr>
</tbody>
</table>
<div class="sect3 discrete">
<h4 id="_durchlaufvorschau">1.1.1. Durchlaufvorschau</h4>
<div class="paragraph">
<p>Im gleichen Menübereich unter <strong>Einrichtung » Aufträge » Auftragstypen » Abonnement</strong> steht dir auch die <strong>Durchlaufvorschau</strong> zur Verfügung.
Klicke auf die Schaltfläche <strong>Durchlaufvorschau</strong> und eine Auflistung <strong>Fälliger Abonnements</strong> wird generiert. Diese sind aufsteigend nach der Auftrags-ID sortiert.
Zudem siehst du auf einen Blick die Laufzeit der Abonnements sowie den letzten und nächsten Durchlauf.</p>
</div>
<div class="paragraph">
<p>Die Fälligkeit der Abonnements wird systemseitig <em>einmal täglich</em> abgefragt und angestoßen. Die <strong>Durchlaufvorschau</strong> bietet dir nicht nur die Möglichkeit zur Übersicht und Überprüfung anstehender Abonnements, du kannst fällige Abonnements
hier auch selbst sofort anstoßen. Beachte dabei, dass hier <em>alle auf einmal und sofort</em> angestoßen werden, eine Auswahl einzelner ist in dieser Ansicht nicht möglich.
Wie du manuelle Durchläufe für einzelne Abonnements in der Detailansicht jedes Abonnements durchführst, wird weiter unten im Kapitel <a href="/auftraege/abonnement#800">Abgeschlossene Aufträge: Durchläufe</a> ausführlicher erläutert.</p>
</div>
<div class="paragraph">
<p>Werden dir also fällige Abonnements angezeigt, dann klicke für den sofortigen Anstoß rechts unten in der Tabelle auf <strong>Durchlaufvorschau</strong> und warte kurz.
Die Meldung <strong>Durchlauf durchgeführt</strong> nach Beendigung angezeigt. Die auf diese Weise generierten Aufträge findest du nun sowohl in der <strong>Auftragsübersicht</strong>, als auch im Bereich <a href="/auftraege/abonnement#800">Abgeschlossene Aufträge</a> in der Detailansicht des dazugehörigen Abonnements.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Verwendung der Durchlaufvorschau</div>
<div class="paragraph">
<p>Der sofortige Anstoß aller fälligen Abonnements lässt sich nicht rückgängig machen. Du kannst aber in der Auftragsübersicht die generierten Aufträge stornieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="120">1.2. Benutzerrechte vergeben</h3>
<div class="paragraph">
<p>Personen mit <strong>Backend</strong>-Zugriffsrechten können <a href="/business-entscheidungen/benutzerkonten-zugaenge#105">nur bestimmte Bereiche und Menüs</a> in plentymarkets sehen. Sie können also nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> Abonnements sehen und bearbeiten können, benötigen sie mindestens die folgenden Rechte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikel &gt; Artikel &gt; Variante &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Artikel &gt; Artikel &gt; Variante &gt; Preis &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Artikel &gt; Verkaufspreis &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Aufträge &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>CRM &gt; Nachricht &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Einrichtung &gt; Tag &gt; Anzeigen</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tipp: So vergibst du Rechte</strong></div>
<div class="content">
<div class="paragraph">
<p>Beachte, dass nur <strong>Admins</strong> Rechte vergeben können.</p>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.<br>
→ Die Benutzerkonten werden in einer Übersicht angezeigt.</p>
</li>
<li>
<p>Klicke auf ein Benutzerkonto.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für den jeweiligen Bereich durch Anklicken der Checkboxen, die oben angegeben sind.<br>
<strong><em>Hinweis</em></strong>: Du kannst entweder Rechte für einen kompletten Bereich vergeben oder dem Konto nur eingeschränkt Rechte gewähren. Klappe für diese Option den Bereich auf.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Bereiche <strong>Berechtigungen</strong> und <strong>Menü-Sichtbarkeiten</strong> sind verknüpft. Wenn du also Rechte in einem der beiden Bereiche aktivierst, sind sie automatisch auch für den anderen Bereich aktiv.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="paragraph">
<p>Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> Abonnements auch anlegen können, benötigen diese Mitarbeiter:innen zusätzlich die folgenden Rechte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CRM &gt; Adresse &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>CRM &gt; Kontakt &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Einrichtung &gt; Eigenschaft &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Einrichtung &gt; Tag &gt; Tag-Verknüpfung &gt; Löschen</strong></p>
</li>
<li>
<p><strong>POS &gt; Kasse anzeigen</strong></p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="subscription-myview">2. MyView nutzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Benutzeroberfläche der Detailansichten von Abonnements stehen dir als MyView zur Verfügung. Das bedeutet, dass Benutzer:innen sich jeweils eine eigene Ansicht mit den zur Verfügung stehenden Elementen erstellen können. Dadurch kann jede:r selbst bestimmen, welche Informationen an welcher Stelle benötigt werden. Durch diese Individualisierung wird das Arbeiten nicht nur komfortabler, sondern auch beschleunigt. In diesem Kapitel wird erklärt, wie man mit MyView umgeht und sich eine eigene Ansicht anlegt. Die Bearbeitung von Abonnements, z.B. das <a href="/auftraege/abonnement#400">Erstellen einer Artikelliste</a> oder das <a href="/auftraege/abonnement#600">Ändern der Versandkosten und Versandart</a>, wird in den nachfolgenden Kapiteln erklärt.</p>
</div>
<div class="paragraph">
<p>Zur Detailansicht eines Abonnements kommst du von der Übersichtstabelle im Menü <strong>Aufträge » Abonnement [Testphase]</strong> aus. Klicke in die Zeile und die Detailansicht des ausgewählten Abonnements öffnet sich.<br>
Wenn du hier noch keine eigene Ansicht erstellt hast, wird dir hier die <strong>Standardansicht</strong> angezeigt. Du kannst diese Ansicht so lassen und damit arbeiten oder dir eine eigene Ansicht erstellen. Eigene Ansichten werden gespeichert und stehen dir dann zusammen mit der Standardansicht als Auswahl unter der Liste der Ansichten (<span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span>) zur Verfügung. Somit kannst du zwischen den Ansichten wechseln, solltest du dies wollen. Die ausgewählte Ansicht wird beim Öffnen eines Abonnements immer angewendet.</p>
</div>
<div class="sect2">
<h3 id="create-new-view">2.1. Neue Ansicht erstellen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf die Liste der Ansichten (<span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Neue Ansicht erstellen …​</strong>.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Klicke auf <strong>Ansicht erstellen</strong>.<br>
→ Die neue Ansicht wird erstellt und automatisch geöffnet, d.h. sie wird angewendet.
Es ist jetzt möglich, zwischen den Ansichten zu wechseln.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="create-grid">2.2. Ein Raster erstellen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Ansicht bearbeiten</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>).</p>
</li>
<li>
<p>Füge Zeilen und Spalten hinzu, um ein Raster zu erstellen.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke auf <span class="icon blue"><i class="fa fa-ellipsis-v  "></i></span> und dann auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Zeile hinzufügen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Spalte hinzufügen</strong> (<span class="icon darkGrey"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Ziehe die Spalten, um sie größer oder kleiner zu machen.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="place-elements">2.3. Elemente platzieren</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Füge Elemente per Drag &amp; Drop hinzu.</p>
</li>
<li>
<p>Klicke auf <span class="icon blue"><i class="fa fa-pencil  "></i></span> und passe die Einstellungen für das Element an.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Ändere den Namen.</p>
</li>
<li>
<p>Entscheide, welche Datenfelder das Element enthalten soll.</p>
</li>
<li>
<p>Lege die Reihenfolge der Datenfelder per Drag &amp; Drop fest.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Klicke auf <span class="icon blue"><i class="fa fa-close  "></i></span></p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-pencil  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Führt eine Ebene tiefer.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-trash  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Löscht das Element.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-close  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Führt eine Ebene höher.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kann ich Elemente mehrfach hinzufügen?</div>
<div class="paragraph">
<p>Die Zahl im grauen Kreis gibt an, wie oft du das Element verwenden kannst. Die meisten Elemente können nur einmal hinzugefügt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="finalise-editing">2.4. Bearbeitung abschließen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Speichere die Ansicht (<span class="icon darkGrey"><i class="psicon-save"></i></span>) und schließe den Bearbeitungsmodus (<span class="icon darkGrey"><i class="fa fa-close  "></i></span>).</p>
</li>
<li>
<p>Prüfe das Ergebnis im Hauptfenster.</p>
</li>
<li>
<p>Falls erforderlich:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke nochmal auf <strong>Ansicht bearbeiten</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) und passe die Ansicht weiter an.</p>
</li>
<li>
<p>Erlaube anderen Benutzern, die Ansicht zu sehen.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
<div class="sect3">
<h4 id="editing-functions">2.4.1. Funktionen im Bearbeitungsmodus</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-reply  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Macht die letzte Änderung rückgängig, soweit die betreffende Änderung noch nicht gespeichert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-share  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt eine rückgängig gemachte Änderung wieder her.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Liste der Ansichten.
Der Name der aktuell geöffneten Ansicht wird angezeigt.
Klicke auf <span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span>, um zu einer anderen Ansicht zu wechseln oder eine <a href="/payment/beta-zahlungen-verwalten#create-new-view">neue Ansicht</a> zu erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-items_incoming_history"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt die Ansicht auf den Stand zurück, der beim letzten Speichern vorhanden war.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="psicon-save"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Speichert die Änderungen, die an der Ansicht vorgenommenen wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-close"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schließt den Bearbeitungsmodus.
Falls nicht gespeicherte Änderungen vorhanden sind, wird eine Sicherheitsabfrage angezeigt.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="900">2.4.2. Rechtevergabe</h4>
<div class="paragraph">
<p>Welche Benutzer oder Rollen sollen die Ansicht sehen dürfen?
Du kannst den Zugriff auf jede Ansicht einzeln gewähren bzw. einschränken.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="benutzer-tab" data-toggle="tab" href="#benutzer" role="tab" aria-controls="benutzer" aria-selected="true">Benutzer</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="rollen-tab" data-toggle="tab" href="#rollen" role="tab" aria-controls="rollen" aria-selected="false">Rollen</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="benutzer" role="tabpanel" aria-labelledby="benutzer-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Ansicht bearbeiten</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>).</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-open_external_link"></i></span> <strong>Rechteverwaltung</strong>.</p>
</li>
<li>
<p>Wähle <strong>Benutzer</strong>, um den Zugang für einen bestimmten Benutzer zu gewähren.<br>
→ Das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong> öffnet sich in einem neuen Tab.</p>
</li>
<li>
<p>Suche (<span class="icon blue"><i class="fa fa-search  "></i></span>) und öffne das betreffende Benutzerkonto.</p>
</li>
<li>
<p>Klicke auf <strong>Ansichten</strong>.</p>
</li>
<li>
<p>Erweitere die Listeneinträge (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>) und wähle die Ansichten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), auf die der Benutzer Zugriff haben soll.</p>
</li>
<li>
<p>Speichere (<span class="icon darkGrey"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="/business-entscheidungen/benutzerkonten-zugaenge#112">Weitere Informationen</a> zu Benutzerkonten und Zugriffsrechten.</p>
</div>
</div><div class="tab-pane fade" id="rollen" role="tabpanel" aria-labelledby="rollen-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Ansicht bearbeiten</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>).</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="psicon-open_external_link"></i></span> <strong>Rechteverwaltung</strong>.</p>
</li>
<li>
<p>Wähle <strong>Rollen</strong>, um den Zugang für eine ganze Benutzerrolle zu gewähren.<br>
→ Das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Rollen</strong> öffnet sich in einem neuen Tab.</p>
</li>
<li>
<p>Suche (<span class="icon blue"><i class="fa fa-search  "></i></span>) und öffne die betreffende Benutzerrolle.</p>
</li>
<li>
<p>Klicke auf <strong>Ansichten</strong>.</p>
</li>
<li>
<p>Erweitere die Listeneinträge (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>) und wähle die Ansichten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), auf die die Benutzerrolle Zugriff haben soll.</p>
</li>
<li>
<p>Speichere (<span class="icon darkGrey"><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="/business-entscheidungen/benutzerkonten-zugaenge#116">Weitere Informationen</a> zu Benutzerkonten und Zugriffsrechten.</p>
</div>
</div></div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. Neues Abonnement anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für das Anlegen eines neuen Abonnements gehst du über das Menü <strong>CRM » Kontakte</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Neues Abonnement über die Kontaktübersicht anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suche (<span class="icon blue"><i class="fa fa-search  "></i></span>) den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicke in die Zeile des Kontakts auf <strong>Aktionen</strong>.<br>
→ Eine Auswahl der verfügbaren Optionen wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Auswahl auf <strong>Neues Abonnement</strong>.<br>
→ Du wirst automatisch zu den Einstellungen für das neue Abonnement weitergeleitet.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="300">3.1. Einstellungen vornehmen</h3>
<div class="paragraph">
<p>Aus dem Kontaktdatensatz des gewählten Kontaktes werden bereits Daten für das Abonnement übernommen. Dazu zählen zum Beispiel die Adressen oder die dem Kontakt zugeordnete Zahlungsart. Grundlegende Einstellungen des Abonnements werden in <a href="#table-basic-settings-subscription">Tabelle 2</a> erläutert.</p>
</div>
<table id="table-basic-settings-subscription" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Erläuterungen zu den Einstellungen des Abonnements</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-status">Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du einen <a href="/auftraege/abonnement#intable-subscription-default-status">Standardstatus</a> eingestellt hast, ist dieser hier vorausgewählt. Darüber hinaus stehen dir hier alle <a href="/auftraege/auftraege-verwalten#1220">Status</a> zur Verfügung, die du in deinem plentymarkets System angelegt hast. Wähle den passenden Status manuell aus der Dropdown-Liste aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-tags">Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier stehen dir Tags zur Verfügung, die du in deinem plentymarkets System angelegt hast. Wähle den gewünschten Tag aus der Dropdown-Liste aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-invoice-address">Rechnungsadresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Dropdown-Liste die gewünschte Rechnungsadresse des ausgewählten Kontaktes aus. Zur Auswahl stehen die Adressen, die auch im dazugehörigen Kontakdatensatz hinterlegt sind. Zur Unterscheidung von mehreren hinterlegten Adressen für einen Kontakt wird die Adress-ID ebenfalls angegeben. Wenn eine Adresse als primäre Rechnungsadresse festgelegt ist, wird diese durch einen Stern gekennzeichnet.<br>
<em>Dies ist ein Pflichtfeld.</em></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-invoice-address">Lieferadresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Dropdown-Liste die gewünschte Lieferadresse des ausgewählten Kontaktes aus. Zur Auswahl stehen die Adressen, die auch im dazugehörigen Kontakdatensatz hinterlegt sind. Zur Unterscheidung von mehreren hinterlegten Adressen für einen Kontakt wird die Adress-ID ebenfalls angegeben. Wenn eine Adresse als primäre Lieferadresse festgelegt ist, wird diese durch einen Stern gekennzeichnet.<br>
<em>Dies ist ein Pflichtfeld.</em></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-interval">Abo-Intervall</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das hier gewählte Intervall legt fest, in welchen Zeitabständen Artikel an Kund:innen versendet werden. Wenn du einen <a href="/auftraege/abonnement#intable-subscription-default-interval">Standard-Intervall</a> eingestellt hast, ist dieser hier vorausgewählt. Das Intervall lässt sich durch die Auswahl in der Dropdown-Liste anpassen.<br>
<em>Dies ist ein Pflichtfeld.</em></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-currency">Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Währung für das Abonnement aus. Die von dir eingestellte <a href="/payment/waehrungen#30">Systemwährung</a> ist vorausgewählt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-start">Beginn des Abonnements</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle das Startdatum (<span class="icon "><i class="fa fa-calendar  "></i></span>) für das Abonnement aus. Beachte, dass das Startdatum vor dem Enddatum liegen muss. Wenn das Startdatum in der Vergangenheit liegt, wird der erste automatische Durchlauf für das Abonnement am ausgewählten Startdatum plus dem ausgewählten Intervall ausgeführt. Vorher wird kein automatischer Durchlauf ausgeführt. Es ist aber jederzeit möglich einen <a href="/auftraege/abonnement#800">manuellen Durchlauf</a> anzustoßen.<br>
<em>Dies ist ein Pflichtfeld.</em></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-end">Ende des Abonnements</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle das Enddatum (<span class="icon "><i class="fa fa-calendar  "></i></span>) für das Abonnement aus. Beachte, dass das Enddatum nach dem Startdatum liegen muss. Nach dem gewählten Enddatum finden keine Durchläufe mehr für das Abonnement statt.<br>
<em>Dies ist ein Pflichtfeld.</em></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-cancelled">Gekündigt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein Kündigungsdatum (<span class="icon "><i class="fa fa-calendar  "></i></span>) für das Abonnement aus, wenn es gekündigt wurde. Das Kündigungsdatum kann auch vor dem Startdatum des Abonnements liegen. Das Kündigungsdatum kann nicht nach dem Enddatum liegen. Nach dem gewählten Kündigungsdatum finden keine Durchläufe mehr für das Abonnement statt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-payment-method">Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart wählen, die für das Abonnement gelten soll. Ist im Kontaktdatensatz eine Zahlungsart dem Kontakt zugeordnet, wird diese hier vorausgewählt, lässt sich aber anpassen.<br>
<em>Dies ist ein Pflichtfeld.</em></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-shipping-costs">Versandkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieses Feld ist nach der Erstellung des Abonnements verfügbar.<br>
Wenn erforderlich, kannst du die Versandkosten nach Erstellung des Abonnements anpassen. Bei einer Änderung werden der Netto- und der Bruttowarenwert automatisch neu berechnet und angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-shipping-method">Versandart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieses Feld ist nach der Erstellung des Abonnements verfügbar.<br>
Um die <a href="/auftraege/abonnement#600">Versandart bearbeiten</a> zu können, klicke nach Erstellung und Speichern des Abonnements auf <strong>Versandprofilverknüpfungen neu berechnen</strong> (<span class="icon "><i class="psicon-execute"></i></span>). Die Versandart ist nun bearbeitbar. Bei einer Änderung werden der Netto- und der Bruttowarenwert automatisch neu berechnet und angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-client">Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle den Mandanten aus, für den das Abonnement gelten soll. Wenn du einen <a href="/auftraege/abonnement#intable-subscription-default-client">Standard-Mandanten</a> eingestellt hast, ist dieser hier vorausgewählt.<br>
<em>Dies ist ein Pflichtfeld.</em></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-owner">Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du einen <a href="/auftraege/abonnement#intable-subscription-default-owner">Standard-Eigner</a> eingestellt hast, ist dieser hier vorausgewählt. Der Eigner lässt sich durch die Auswahl in der Dropdown-Liste anpassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-referrer">Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsherkunft für Abonnements festlegen. Die Herkunft <strong>Manuelle Eingabe</strong> ist vorausgewählt. Es werden nur die <a href="/auftraege/auftragsherkunft">Herkünfte</a> angezeigt, die im Backend aktiv geschaltet sind.<br>
<em>Dies ist ein Pflichtfeld.</em></p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Sobald alle Pflichtfelder im Bereich <strong>Details</strong> ausgefüllt wurden, können dem Abonnement Artikel hinzugefügt werden.</p>
</div>
</div>
<div class="sect2">
<h3 id="400">3.2. Artikelliste erstellen</h3>
<div class="paragraph">
<p>Zur vollständigen Anlage des Abonnements müssen Artikel hinzugefügt werden. Erst danach wird das Abonnement gespeichert und angelegt. Wende die Suche (<span class="icon "><i class="material-search"></i></span>) an, um die gewünschten Artikel zu finden und zum Abonnement hinzuzufügen.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Suchfunktionen</strong></div>
<div class="content">
<div class="paragraph">
<p>Du hast mehrere Möglichkeiten, die Suche zu nutzen. Du kannst einen Wert im Suchfeld eingeben und dann den entsprechenden Filter auswählen. Gibst du z.B. eine Zahl ein, werden dir mögliche Filter in der diese Zahl vorkommt vorgeschlagen, wie IDs oder Variantennummer. Gib den Wert vollständig ein und wähle den passenden Filter aus den Vorschlägen. Wiederhole dies, um Filter miteinander zu kombinieren. Klicke auf <span class="icon "><i class="material-search"></i></span>, um die Suche auszuführen.<br>
Möchtest du aus der verfügbaren Filterliste wählen, klicke auf die Liste und gib einen Wert im gewünschten Filter ein. Hast du alle benötigten Filter gesetzt, klicke auf <strong>Suchen</strong>.<br>
Möchtest du einen gesetzten Filter löschen, entferne den Chip. In <a href="#table-filters-item-search-subscription">Tabelle 3</a> werden die verfügbaren Filter erläutert.</p>
</div>
<div class="paragraph">
<p>Zudem kannst du mit der Komponente <strong>Gespeicherte Filter</strong> (<span class="icon "><i class="material-bookmarks"></i></span>) ausgewählte Filter in der UI speichern. Gespeicherte Filtersets sind dann in dieser Komponente bei jedem Öffnen des Menüs auswählbar, ähnlich wie Lesezeichen. Jede:r Benutzer:in kann eigene Filter festlegen.</p>
</div>
<div class="paragraph instruction">
<p>Filter speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Setze die gewünschten Filter mit den entsprechenden Werten.</p>
</li>
<li>
<p>Führe die Suche aus.</p>
</li>
<li>
<p>Klicke auf <strong>Gespeicherte Filter</strong> (<span class="icon "><i class="material-bookmarks"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Aktuellen Filter speichern</strong>.<br>
→ Das Fenster <strong>Filter speichern</strong> öffnet sich.</p>
</li>
<li>
<p>Vergib einen <strong>Filternamen</strong>.</p>
</li>
<li>
<p>Entscheide, ob das Filterset für alle Benutzer:innen zur Verfügung stehen soll.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.</p>
</li>
</ol>
</div>
<table id="table-filters-item-search-subscription" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Verfügbare Filter in der Artikelsuche</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variantennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variantennummer eingeben, um nach der Variante mit dieser Nummer zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach der Variante mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelnamen eingeben, um nach dem Artikel mit diesem Namen zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach dem Artikel mit dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode eingeben, um nach der Variante mit diesem Code zu suchen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="paragraph instruction">
<p>Artikel zum Warenkorb hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke unter <strong>Artikelliste</strong> auf <strong>Hinzufügen</strong> (<span class="icon "><i class="material-add"></i></span>).<br>
→ Du wirst zu den <strong>Auftragspositionen</strong> weitergeleitet.</p>
</li>
<li>
<p>Suche die gewünschten Artikel oder Varianten.</p>
</li>
<li>
<p>Wähle den passenden Verkaufspreis aus der <strong>Preisauswahl</strong> Dropdown-Liste.</p>
</li>
<li>
<p>Gib die Menge des Artikels ein, die dem Abonnement hinzugefügt werden soll.<br>
→ Bei Preis- und Mengenänderungen muss der Verkaufspreis durch klicken auf <strong>Verkaufspreis aktualisieren</strong> (<span class="icon "><i class="material-refresh"></i></span>) aktualisiert werden.</p>
</li>
<li>
<p>Füge die Artikel zum Warenkorb (<span class="icon "><i class="material-add_shopping_cart"></i></span>) hinzu.<br>
→ Die Warenkorbtabelle öffnet sich unter der Artikelliste.<br>
→ Du kannst weitere <a href="/auftraege/abonnement#425">Änderungen in der Warenkorbtabelle</a> vornehmen, wenn gewünscht.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Speichere</strong> (<span class="icon "><i class="material-save"></i></span>) den Warenkorb.<br>
→ Das Auftragspositionen werden hinzugefügt und du wirst zu den Einstellungen des Abonnements zurückgeleitet.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon "><i class="material-save"></i></span>) das Abonnement.<br>
→ Das Abonnement ist angelegt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Preisauswahl</div>
<div class="paragraph">
<p>In einer Dropdown-Liste werden dir alle für dieses Abonnement ermittelten Verkaufspreise angezeigt. Du kannst einen der angezeigten Preise wählen, dieser wird dann als Grundlage für die weiteren Berechnungen genommen. Enthält der Preis einen Rabatt, wird dies hinter dem Preisnamen und dem Betrag angezeigt. Die optionalen Spalten <strong>Kundenklassenrabatt</strong> und <strong>Kategorierabatt</strong> zeigen den Prozentsatz des angewendeten Rabatts an.<br>
Konnte kein gültiger Verkaufspreis ermittelt werden, wird <strong>Kein gültiger Verkaufspreis</strong> in der Dropdown-Liste angezeigt. Du kannst den Artikel dennoch in den Warenkorb legen. Im Warenkorb kannst du den Preis manuell anpassen. Das Abonnement lässt sich aber auch ohne gültige Verkaufspreise anlegen, sollte dies gewünscht sein.</p>
</div>
<div class="paragraph">
<p>Eine manuelle Anpassung des Preises kannst du im Warenkorb vornehmen. Weitere Informationen dazu findest du im Kapitel <a href="/auftraege/abonnement#225">Warenkorb: Preisauswahl</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tabelle Auftragspositionen individualisieren</strong></div>
<div class="content">
<div class="paragraph">
<p>Die Tabelle zum Hinzufügen von Auftragspositionen lässt sich individuell anpassen. Du kannst wählen, welche Tabellenspalten dir in welcher Reihenfolge in der Tabelle angezeigt werden sollen. Standardmäßig werden dir beim Öffnen des Menüs folgende Tabellenspalten angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikelname</p>
</li>
<li>
<p>Varianten-ID / Nr.</p>
</li>
<li>
<p>Attribute</p>
</li>
<li>
<p>Menge</p>
</li>
<li>
<p>Preisauswahl</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die folgenden Tabellenspalten können ausgewählt werden, werden aber standardmäßig nicht angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikel-ID</p>
</li>
<li>
<p>Varianten-ID</p>
</li>
<li>
<p>Variantennummer</p>
</li>
<li>
<p>Variantenname</p>
</li>
<li>
<p>Barcode</p>
</li>
<li>
<p>Kundenklassenrabatt = Der für den ausgewählten Verkaufspreis angewendete Kundenklassenrabatt in Prozent.</p>
</li>
<li>
<p>Kategorierabatt = Der für den ausgewählten Verkaufspreis angewendete Kategorierabatt in Prozent.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Passe die Tabelle deinen Bedürfnissen und deinem Arbeitsablauf an. Wenn du die Tabelle angepasst hast, wird diese Auswahl gespeichert. Die Tabelle ist jederzeit anpassbar.</p>
</div>
<div class="paragraph instruction">
<p>Tabelle individualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ Das Fenster <strong>Spalten konfigurieren</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle aus, welche Spalten angezeigt werden sollen.</p>
</li>
<li>
<p>Verschiebe (<span class="icon "><i class="material-sort"></i></span>) die Spalten, so dass sie in der Reihenfolge angezeigt werden, in der du sie brauchst.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>, um deine Auswahl zu speichern.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tabelle Warenkorb individualisieren</strong></div>
<div class="content">
<div class="paragraph">
<p>Die Tabelle Warenkorb lässt sich individuell anpassen. Du kannst wählen, welche Tabellenspalten dir in welcher Reihenfolge in der Tabelle angezeigt werden sollen. Standardmäßig werden dir beim Öffnen des Menüs folgende Tabellenspalten angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikelname</p>
</li>
<li>
<p>Varianten-ID / Nr.</p>
</li>
<li>
<p>Attribute</p>
</li>
<li>
<p>Verkaufspreis</p>
</li>
<li>
<p>Menge</p>
</li>
<li>
<p>Aufpreis gesamt = Die Summe der Aufpreise für Bestelleigenschaften.</p>
</li>
<li>
<p>Gesamtsumme = Der Artikelpreis zuzüglich Aufpreise für Bestelleigenschaften.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die folgenden Tabellenspalten können ausgewählt werden, werden aber standardmäßig nicht angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikel-ID</p>
</li>
<li>
<p>Varianten-ID</p>
</li>
<li>
<p>Variantennummer</p>
</li>
<li>
<p>Variantenname</p>
</li>
<li>
<p>Barcode</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Passe die Tabelle deinen Bedürfnissen und deinem Arbeitsablauf an. Wenn du die Tabelle angepasst hast, wird diese Auswahl gespeichert. Die Tabelle ist jederzeit anpassbar.</p>
</div>
<div class="paragraph instruction">
<p>Tabelle individualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ Das Fenster <strong>Spalten konfigurieren</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle aus, welche Spalten angezeigt werden sollen.</p>
</li>
<li>
<p>Verschiebe (<span class="icon "><i class="material-sort"></i></span>) die Spalten, so dass sie in der Reihenfolge angezeigt werden, in der du sie brauchst.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>, um deine Auswahl zu speichern.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="425">3.3. Warenkorb: Preisauswahl</h3>
<div class="paragraph">
<p>Beim Hinzufügen eines Artikel wurden dir in der Dropdown-Liste der Spalte <strong>Preisauswahl</strong> alle für dieses Abonnement ermittelten Verkaufspreise angezeigt. Der dort gewählte Preis wird dann als Grundlage für die weiteren Berechnungen genommen.</p>
</div>
<div class="paragraph">
<p>Im Warenkorb kannst du ebenfalls eine Anpassung des Preises vornehmen. Wähle dafür einen Preis aus der Dropdown-Liste der Spalte <strong>Preisauswahl</strong> aus. Du kannst im Warenkorb auch manuell einen anderen Preis eingeben. Dieser wird in der Auswahl dann als <strong>Manueller Preis</strong> angezeigt.<br>
Wählst du einen anderen Verkaufspreis als den ersten ermittelten oder änderst Mengen, muss der Verkaufspreis aktualisiert werden. Klicke dafür auf <strong>Verkaufspreis aktualisieren</strong> (<span class="icon "><i class="material-refresh"></i></span>). Du kannst jeden Artikel einzeln aktualisieren oder mit der Schaltfläche über der Warenkorbtabelle alle Auftragspositionen auf einmal aktualisieren. Nach der Aktualisierung ist die Speichern-Schaltfläche (<span class="icon "><i class="material-save"></i></span>) wieder verfügbar.</p>
</div>
<div class="paragraph">
<p>Folgendes gilt für die Verkaufspreise:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Gibst du manuell einen Preis ein, bleibt dieser in der Dropdown-Liste als Auswahl für diesen Auftrag erhalten, auch wenn du zwischendurch einen anderen Preis auswählst.</p>
</li>
<li>
<p>Konnte kein gültiger Verkaufspreis ermittelt werden, kannst du einen manuellen Preis im Warenkorb eingeben. Die Anlage des Abonnements ist auch ohne gültige Preise möglich, sollte dies gewünscht sein.</p>
</li>
<li>
<p>Es ist zulässig den Preis 0,00 einzugeben.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="450">3.4. Warenkorb: Eigenschaften an Auftragspositionen</h3>
<div class="paragraph">
<p>Vom Warenkorb aus kannst du die Eigenschaften der Auftragspositionen eines Abonnements (Bestelleigenschaften) bearbeiten. Die hier vorgenommenen Änderungen gelten nur für die Auftragspositionen dieses Abonnements. Die im System angelegten Eigenschaften werden nicht überschrieben. Es stehen dir hier nur Eigenschaften zur Verfügung, die du bereits im System angelegt hast.<br>
Möchtest du Eigenschaften erstellen und bearbeiten oder bist noch nicht mit der Struktur von Eigenschaften vertraut, informiere dich im Handbuchkapitel <a href="/artikel/einstellungen/eigenschaften#500">Eigenschaften</a>.</p>
</div>
<div class="paragraph">
<p>Damit eine Eigenschaft an einer Auftragsposition gesetzt werden kann, muss sie in den Eigenschaftseinstellungen im Bereich <strong>Optionen</strong> als <strong>Bestelleigenschaft</strong> definiert werden. Lege unter <a href="/artikel/einstellungen/eigenschaften#property-options">Optionen</a> außerdem mögliche Aufpreise und Besteuerungen fest. Die hier hinterlegten Werte werden in die Berechnungen einbezogen.</p>
</div>
<div class="paragraph">
<p>Ist bereits eine Eigenschaft mit einer Auftragsposition verknüpft, wird diese in einer zweiten Tabellenzeile direkt unterhalb der dazugehörigen Auftragsposition angezeigt. Durch Klicken auf <span class="icon "><i class="material-expand_more"></i></span> wird die zweite Tabellenzeile angezeigt. Hier findest du Angaben zu <strong>Name</strong>, <strong>Wert</strong> und <strong>Aufpreis</strong> der Eigenschaft. Zudem kannst du die Eigenschaften der Auftragspositionen <strong>löschen</strong> (<span class="icon "><i class="material-delete"></i></span>). Gelöschte Eigenschaften werden dann für dieses Abonnement nicht berücksichtigt.<br>
Um die Eigenschaften zu bearbeiten oder weitere bereits bestehende Eigenschaften zu einer Auftragspositionen hinzuzufügen, klicke auf <strong>Eigenschaften bearbeiten</strong> (<span class="icon "><i class="material-edit"></i></span>). Das Bearbeitungsfenster <strong>Eigenschaften von [ausgewählte Auftragsposition mit ID] bearbeiten</strong> öffnet sich und du kannst weitere Anpassungen vornehmen.
Folgende Angaben zu Eigenschaften einer Auftragsposition werden hier angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Name</strong> = Der Name der Eigenschaft wird angezeigt. Ein rotes Sternchen am Namen der Eigenschaft kennzeichnet, dass es eine <strong>Verpflichtende</strong> Eigenschaft ist. Ob eine Eigenschaft <strong>Verpflichtend</strong> ist, bestimmst du in den Einstellungen der Eigenschaften im Bereich <a href="/artikel/einstellungen/eigenschaften#property-options">Optionen</a>. Wähle in der Dropdown-Liste <strong>Bestelloptionen</strong> die Einstellung <strong>Verpflichtend</strong> aus.</p>
</li>
<li>
<p><strong>Wert</strong> = Der Wert der Eigenschaft wird angezeigt. Der Wert ist anpassbar. Je nach Eigenschaftstyp kannst du eine Auswahl treffen, den Wert ändern, einen Wert eingeben oder eine Datei hochladen. Die Änderungen gelten nur für dieses Abonnement.</p>
</li>
<li>
<p><strong>Aufpreis</strong> = Der Aufpreis der Eigenschaft, sofern sie einen zugeordnet hat, wird angezeigt. Der Aufpreis ist bearbeitbar. Die Änderungen gelten nur für dieses Abonnement.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Zudem hast du in diesem Fenster einige weitere Bearbeitungsmöglichkeiten. Durch Klicken auf <strong>Löschen</strong> (<span class="icon "><i class="material-delete"></i></span>) entfernst du eine Eigenschaft von einer Auftragsposition. Diese Eigenschaft wird dann für dieses Abonnement nicht berücksichtigt.<br>
Du kannst weitere bereits angelegte Eigenschaften hinzufügen. Wähle eine Eigenschaft aus der Dropdown-Liste des Feldes <strong>Eigenschaft wählen</strong> aus und füge sie durch Klicken auf <strong>Eigenschaft hinzufügen</strong> (<span class="icon "><i class="material-add"></i></span>) zu dieser Auftragsposition hinzu.<br>
Hast du alle erforderlichen Anpassungen vorgenommen, klicke auf <strong>Eigenschaften speichern</strong>. Klickst du auf <strong>Verwerfen</strong>, wird keine der vorgenommenen Änderungen übernommen. Das Bearbeitungsfenster wird geschlossen und du kannst nach Bedarf die Eigenschaften weiterer Auftragspositionen auf die gleiche Weise bearbeiten.</p>
</div>
<div class="paragraph">
<p>Wenn du die Eigenschaften auf Dokumenten ausgeben lassen möchtest, musst du dies in der Konfiguration der Eigenschaften einstellen. Stelle sicher, dass im Bereich <a href="/artikel/einstellungen/eigenschaften#property-visibilities">Sichtbarkeiten</a></p>
</div>
<div class="ulist">
<ul>
<li>
<p>aus der Dropdown-Liste <strong>Überall anzeigen</strong> die Option <strong>Anzeige auf PDF-Dokumenten</strong> sowie</p>
</li>
<li>
<p>aus der Dropdown-Liste <strong>Mandant</strong> die richtigen Mandanten ausgewählt sind.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wo die Eigenschaften auf dem Dokument ausgegeben werden, hängt von der jeweiligen Eigenschaft und ihrer Konfiguration ab. Eigenschaften, die in der Konfiguration im Bereich <strong>Optionen</strong> keinen Steuersatz zugewiesen bekommen haben oder für die aus der Dropdown-Liste <strong>Bestelleigenschaft</strong> die Option <strong>zusätzliche Kosten anzeigen</strong> ausgewählt ist, werden unter den Summen angezeigt. Andere Eigenschaften werden in der Artikelpositionstabelle angezeigt.</p>
</div>
<div class="paragraph">
<p>Speichere (<span class="icon "><i class="material-save"></i></span>) den Warenkorb, wenn du mit der Bearbeitung der Auftragseigenschaften und des Warenkorbs fertig bist. Nach dem Speichern wirst du zur Detailansicht des Abonnements zurückgeleitet.</p>
</div>
</div>
<div class="sect2">
<h3 id="500">3.5. Artikelliste nachträglich bearbeiten</h3>
<div class="paragraph">
<p>Auch nach Anlegen des Abonnements kannst du die Artikelliste bearbeiten und anpassen. Dies geht solange, bis ein Durchlauf einen ersten Auftrag generiert hat. Danach ist das Abonnement gesperrt nur noch eingeschränkt bearbeitbar. Es ist möglich das Abonnement zu <a href="/auftraege/abonnement#_sperrung_und_entsperrung_von_abonnements">entsperren</a>, danach kann auch die Artikelliste bearbeitet werden.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tabelle Artikelliste individualisieren</strong></div>
<div class="content">
<div class="paragraph">
<p>Die Tabelle Artikelliste lässt sich individuell anpassen. Du kannst wählen, welche Tabellenspalten dir in welcher Reihenfolge in der Tabelle angezeigt werden sollen. Standardmäßig werden dir beim Öffnen des Menüs folgende Tabellenspalten angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikelname</p>
</li>
<li>
<p>Varianten-ID / Nr.</p>
</li>
<li>
<p>Attribute</p>
</li>
<li>
<p>Preis</p>
</li>
<li>
<p>Menge</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die folgenden Tabellenspalten können ausgewählt werden, werden aber standardmäßig nicht angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikel-ID</p>
</li>
<li>
<p>Varianten-ID</p>
</li>
<li>
<p>Variantennummer</p>
</li>
<li>
<p>Variantenname</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Passe die Tabelle deinen Bedürfnissen und deinem Arbeitsablauf an. Wenn du die Tabelle angepasst hast, wird diese Auswahl gespeichert. Die Tabelle ist jederzeit anpassbar.</p>
</div>
<div class="paragraph instruction">
<p>Tabelle individualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ Das Fenster <strong>Spalten konfigurieren</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle aus, welche Spalten angezeigt werden sollen.</p>
</li>
<li>
<p>Verschiebe (<span class="icon "><i class="material-sort"></i></span>) die Spalten, so dass sie in der Reihenfolge angezeigt werden, in der du sie brauchst.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>, um deine Auswahl zu speichern.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="paragraph">
<p>Durch Klicken auf <strong>Hinzufügen</strong> (<span class="icon "><i class="material-add"></i></span>) in der <strong>Artikelliste</strong> eines Abonnements wirst du direkt zur Artikelsuche weitergeleitet und kannst wie unter <a href="/auftraege/abonnement#400">Artikelliste erstellen</a> beschrieben Artikel hinzufügen. Auch die unten aufgeführten Bearbeitungsmöglichkeiten stehen dir hier offen.</p>
</div>
<div class="paragraph">
<p>Oder gehe über <strong>Bearbeiten</strong> (<span class="icon "><i class="material-edit"></i></span>) in der <strong>Artikelliste</strong> eines Abonnements und gelange direkt zum bestehenden <strong>Warenkorb</strong> für das ausgewählte Abonnement. Folgende Bearbeitungsmöglichkeiten stehen dir dort zur Verfügung:</p>
</div>
<table id="table-editing-order-items-subscription" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Bearbeitungsmöglichkeiten der Artikelliste</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-adding-items">Artikel hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Füge weitere Artikel zum Warenkorb des Abonnements hinzu (<span class="icon "><i class="material-add_shopping_cart"></i></span>). Gehe dabei wie unter <a href="/auftraege/abonnement#400">Artikelliste erstellen</a> beschrieben vor.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-delete-items">Artikel löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entferne Artikel aus dem Warenkorb des Abonnements über <strong>Artikel löschen</strong> (<span class="icon "><i class="material-delete"></i></span>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-change-items">Mengen anpassen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ändere die Menge eines Artikels im Warenkorb des Abonnements durch Klicken in die Zeile des Artikels im Warenkorb. Beachte, dass eine Änderung an Mengen eine Aktualisierung der Preise erfordert, bevor der Warenkorb gespeichert werden kann. Klicke dafür auf <strong>Verkaufspreis aktualisieren</strong> (<span class="icon "><i class="material-refresh"></i></span>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-change-prices">Preise anpassen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Passe den Preis eines Artikels im Warenkorb des Abonnements an. Beachte, dass die Preisänderung nur für das ausgewählte Abonnement gilt. Zudem erfordert eine Änderung an Preisen eine Aktualisierung, bevor der Warenkorb gespeichert werden kann. Klicke dafür auf <strong>Verkaufspreis aktualisieren</strong> (<span class="icon "><i class="material-refresh"></i></span>).</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Speichere</strong> (<span class="icon "><i class="material-save"></i></span>) den Warenkorb, nachdem du die gewünschten Änderungen vorgenommen hast. Du wirst dann direkt zu den Einstellungen des Abonnements zurückgeleitet.
<strong>Bruttowarenwert</strong> und <strong>Nettowarenwert</strong> werden automatisch neu berechnet und dir angezeigt.<br></p>
</div>
<div class="paragraph">
<p>In der Detailansicht des Abonnements kannst du zudem den <strong>Artikelnamen</strong> ändern. Auch diese Änderung gilt nur für das ausgewählte Abonnement.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Änderungen an Artikeln</div>
<div class="paragraph">
<p>Änderungen an Artikeln in der Ansicht des Abonnements gelten nur für das ausgewählte Abonnement. Für dauerhafte Änderungen an Artikeln müssen die Anpassungen unter <strong>Artikel » Artikel bearbeiten</strong> oder <strong>Einrichtung » Artikel</strong> vorgenommen werden. Die Bearbeitung von Artikeln ist im Handbuch auf der Seite <a href="/artikel">Artikel</a> beschrieben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="600">3.6. Versandart und Versandkosten ändern</h3>
<div class="paragraph">
<p>Sowohl der <strong>Nettowarenwert</strong> als auch der <strong>Bruttowarenwert</strong> wurden nach Anlegen der Artikelliste und Speichern des Abonnements automatisch berechnet. Nach dem Speichern des Abonnements kannst du die Versandart und die Versandkosten bearbeiten.</p>
</div>
<div class="paragraph instruction">
<p>Versandprofilverknüpfungen neu berechnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Versandprofilverknüpfungen neu berechnen</strong> (<span class="icon "><i class="psicon-execute"></i></span>).<br>
→ Während der Neuberechnung sind die Bearbeitungsmöglichkeiten kurzzeitig gesperrt.</p>
</li>
<li>
<p>Wähle unter <strong>Versandart</strong> die gewünschte aus. Es stehen dir die <a href="/fulfillment/versand-vorbereiten">Versandarten</a> zur Verfügung, die du in deinem plentymarkets System hinterlegt hast.<br>
→ Die <strong>Versandkosten</strong> werden automatisch eingefügt.</p>
</li>
<li>
<p>Passe die <strong>Versandkosten</strong> manuell an, wenn du sie ändern möchtest.<br></p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon "><i class="material-save"></i></span>) das Abonnement.<br>
→ Nettowarenwert und Bruttowarenwert werden automatisch neu berechnet.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">4. Weitere Funktionen in der Detailansicht</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der Detailansicht eines ausgewählten Abonnements stehen dir neben den oben beschriebenen zudem die Funktionen <a href="/auftraege/abonnement#800">Abgeschlossene Aufträge</a>, <a href="/auftraege/abonnement#900">Messenger</a> und die <a href="/auftraege/abonnement#1000">Auftragshistorie</a> zur Verfügung. Diese kannst du wahlweise über die Navigation links oder in der Detailansicht ansteuern. Die Anordnung der Elemente in der Detailansich kannst du mit <a href="/auftraege/abonnement#subscription-myview">MyView</a> selbst bestimmen.</p>
</div>
<div class="paragraph">
<p>Zudem geben in der Detailansicht jedes Abonnements Infoboxen grundlegende Informationen wieder:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Nettowarenwert: Der Nettowarenwert der bestellten Artikel wird angezeigt. Grau bedeutet, dass der Wert bei Null liegt, grün bedeutet, dass der Wert über Null liegt.</p>
</li>
<li>
<p>Bruttowarenwert: Der Bruttowarenwert der bestellten Artikel wird angezeigt. Grau bedeutet, dass der Wert bei Null liegt, grün bedeutet, dass der Wert über Null liegt.</p>
</li>
<li>
<p>Letzter Durchlauf: Das Datum des letzten Durchlaufs des Abonnements wird angezeigt. Steht kein Datum in der Infobox, wurde noch kein Durchaluf ausgeführt.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="800">4.1. Abgeschlossene Aufträge: Durchläufe</h3>
<div class="paragraph">
<p>In diesem Bereich werden dir die bereits abgeschlossene Aufträge des Abonnements angezeigt. Diese können durch automatische oder manuelle Durchläufe entstanden sein.
Ein <strong>automatischer Durchlauf</strong> erfolgt in den Zeitabständen, die du im Intervall für das Abonnement ausgewählt hast. Ist das Ende des Abonnements erreicht oder wird es gekündigt, finden keine automatischen Durchläufe mehr statt.</p>
</div>
<div class="paragraph">
<p>Zusätzlich zu den automatischen Durchläufen hast du die Möglichkeit, einen <strong>manuellen Durchlauf</strong> (<span class="icon "><i class="material-subscriptions"></i></span>) anzustoßen. <strong><em>Beachte</em></strong>, dass ein manueller Durchlauf immer <em>sofort</em> ausgeführt wird. Gehe für das Anstoßen eines manuellen Durchlaufs wie folgt vor.</p>
</div>
<div class="paragraph instruction">
<p>Anstoß eines manuellen Durchlaufs:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Gehe in der Detailansicht des ausgewählten Abonnements in den Bereich <strong>Abgeschlossene Aufträge</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Manuellen Durchlauf starten</strong> (<span class="icon "><i class="material-subscriptions"></i></span>).</p>
</li>
<li>
<p>Wähle in der Abfrage aus, ob du den nächsten automatischen Durchlauf des Abonnements überspringen möchtest oder nicht.<br>
→ Der nächste automatische Durchlauf hängt vom gewählten Intervall ab.</p>
</li>
<li>
<p>Der manuelle Durchlauf wird durchgeführt.<br>
→ Der Auftrag erhält eine <strong>Auftrags-ID</strong> und ist sowohl im Bereich <strong>Abgeschlossene Aufträge</strong> als auch in der <strong>Auftragsübersicht</strong> zu sehen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Im Bereich <strong>Abgeschlossene Aufträge</strong> wird dir nicht nur die ID angezeigt, du erhältst auch Informationen zum Auftrag, z.B. wann der Auftrag erstellt wurde oder welche Zahlungsart ausgewählt ist.
Zudem hast du die Möglichkeit, einzelne Aufträge eines Abonnements zu löschen (<span class="icon "><i class="fa fa-minus-circle  "></i></span>). Durch das Löschen des Auftrages wird er gleichzeitig auch aus der Auftragsübersicht unter <strong>Aufträge bearbeiten</strong> entfernt. <strong><em>Beachte</em></strong>, dass Aufträge nicht gelöscht werden können, wenn bereits steuerrelevante Dokumente, wie z.B. eine Rechnung, erzeugt wurden.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Überspringen eines automatischen Durchlaufs</div>
<div class="paragraph">
<p>Wenn du bei Durchführung eines manuellen Durchlaufs <strong>Nächsten automatischen Durchlauf überspringen</strong> gewählt hast, wird der nächste automatische Durchlauf auch dann übersprungen, wenn du den Auftrag aus dem manuellen Durchlauf löschst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tabelle Abgeschlossene Aufträge individualisieren</strong></div>
<div class="content">
<div class="paragraph">
<p>Die Tabelle Abgeschlossene Aufträge lässt sich individuell anpassen. Du kannst wählen, welche Tabellenspalten dir in welcher Reihenfolge in der Tabelle angezeigt werden sollen. Passe die Tabelle damit deinen Bedürfnissen und deinem Arbeitsablauf an. Wenn du die Tabelle angepasst hast, wird diese Auswahl gespeichert. Die Tabelle ist jederzeit anpassbar.</p>
</div>
<div class="paragraph instruction">
<p>Tabelle individualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ Das Fenster <strong>Spalten konfigurieren</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle aus, welche Spalten angezeigt werden sollen.</p>
</li>
<li>
<p>Verschiebe (<span class="icon "><i class="material-sort"></i></span>) die Spalten, so dass sie in der Reihenfolge angezeigt werden, in der du sie brauchst.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>, um deine Auswahl zu speichern.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect3 discrete">
<h4 id="_sperrung_und_entsperrung_von_abonnements">4.1.1. Sperrung und Entsperrung von Abonnements</h4>
<div class="paragraph">
<p>Nach Generierung des ersten Auftrages wird das Abonnement gesperrt und die Bearbeitungsmöglichkeiten in der Detailansicht stehen nur noch sehr eingeschränkt zur Verfügung. End- und Kündigungsdatum des Abonnements bleiben bearbeitbar. Wird der Auftrag gelöscht, wird auch das Abonnement wieder freigeschaltet. <strong>Beachte</strong> aber, dass Aufträge nicht gelöscht werden können, sobald steuerrelevante Dokumente für diesen Auftrag existieren.</p>
</div>
<div class="paragraph">
<p>Zudem gibt es die Möglichkeit durch Klick auf <strong>Abonnement entsperren</strong> (<span class="icon "><i class="material-lock"></i></span>) das Abonnement zu entsperren, so dass alle Bearbeitungsmöglichkeiten wieder zur Verfügung stehen. Es wird in der <a href="/auftraege/abonnement#1000">Auftragshistorie</a> dokumentiert, welche Benutzer:in diese Aktion wann ausgeführt hat. Durch einen Klick auf <strong>Abonnement sperren</strong> (<span class="icon "><i class="material-unlock"></i></span>) wird das Abonnement wieder gesperrt. Wird dieser Schritt nicht ausgeführt, wird das Abonnement automatisch nach dem nächsten Durchlauf wieder gesperrt. Es empfiehlt sich aber, das Abonnement nach der Bearbeitung wieder zu sperren, da auch diese Aktion einen Eintrag in der Auftragshistorie bekommt. So wird die Transparenz und Nachvollziehbarkeit der Bearbeitung eines Abonnements sichergestellt.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="900">4.2. Messenger nutzen</h3>
<div class="paragraph">
<p>Nutze den Messenger, um im Backend Nachrichten zu erstellen, die deinen Kontakten zugeordnet werden. Diese Nachrichten funktionieren wie Notizen und sind nur in deinem plentymarkets Backend sichtbar und können nicht von deinen Kontakten aufgerufen werden.</p>
</div>
<div class="paragraph instruction">
<p>So erstellst du eine neue Nachricht:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Neue Nachricht</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Ein Textfeld öffnet sich.</p>
</li>
<li>
<p>Wähle einen oder mehrere Empfänger:innen aus.</p>
</li>
<li>
<p>Gib einen Titel ein.</p>
</li>
<li>
<p>Gib den Text ins Textfeld ein.<br>
→ Über dem Textfeld stehen dir Formatierungsmöglichkeiten für deine Nachricht zur Verfügung.</p>
</li>
<li>
<p>Füge optional mit <strong>Dateien anhängen</strong> eine Datei an.</p>
</li>
<li>
<p>Klicke auf <strong>Senden</strong> (<span class="icon purple"><i class="fa fa-envelope-o  "></i></span>).</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Nachricht kannst du entweder in der Detailansicht des Abonnements unter <strong>Messenger</strong> öffnen oder in dem Kontakt, zu dem du die Nachricht bzw. Notiz erstellt hast. Gehe dazu in die Kontaktansicht. Eine ausführliche Anleitung zu Kundennotizen findest du im Kapitel <a href="/crm/messenger">Nachrichten mit dem Messenger verwalten</a>.</p>
</div>
<div class="paragraph">
<p>Stelle noch die <strong>Sortierung</strong> im Messenger ein, indem du auswählst, ob dir die Nachrichten nach Datum auf- oder absteigend sortiert angezeigt werden sollen.</p>
</div>
</div>
<div class="sect2">
<h3 id="1000">4.3. Auftragshistorie</h3>
<div class="paragraph">
<p>Die Auftragshistorie bietet dir eine Übersicht über die ausgeführten Aktionen in einem angelegten Abonnement. Aufgeführt werden nach Datum sortiert z.B. Aktualisierungen von Aufträgen oder das Entsperren und Sperren von Abonnements.
In der Tabelle siehst du, wann die Aktion durchgeführt wurde, von welchem Benutzer, um welche Aktion es sich handelt und in welchem Status des Abonnements die Aktion ausgeführt wurde.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">5. Übersicht der Abonnements</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In die Übersicht der angelegten Abonnements gelangst du über <strong>Aufträge » Abonnement [Testphase]</strong>. Hier werden dir alle angelegten Abonnements aufsteigend nach ihrer Auftrags-ID aufgeführt.
Darüber hinaus werden dir für jedes Abonnement noch folgende Informationen angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftrags-ID</p>
</li>
<li>
<p>Kontakt</p>
</li>
<li>
<p>Abo-Intervall</p>
</li>
<li>
<p>Zahlungsart</p>
</li>
<li>
<p>Status</p>
</li>
<li>
<p>Start des Abonnements</p>
</li>
<li>
<p>Ende des Abonnements</p>
</li>
<li>
<p>Gekündigt</p>
</li>
<li>
<p>Letzter Durchlauf</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn du den Status eines Abonnements ändern möchtest, kannst du dies direkt in der Übersicht vornehmen. Klicke dafür in den Status und wähle aus der Dropdown-Liste den gewünschten Status aus.
Für weiterführende Änderungen an einem der in der Übersicht aufgelisteten Abonnements klicke in die Titelzeile. Die Detailansicht des Abonnements öffnet sich und du kannst Änderungen vornehmen.
Solange noch kein Auftrag generiert wurde, stehen dir alle Bearbeitungsmöglichkeiten zur Verfügung. Ist schon ein Auftrag vorhanden, sind die Bearbeitungsmöglichkeiten eingeschränkt.
Es bleibt jedoch weiterhin möglich z.B. das End- und das Kündigungsdatum des Abonnements anzupassen. Auch einen manuellen Durchlauf kannst du jederzeit starten.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Übersichtsabelle individualisieren</strong></div>
<div class="content">
<div class="paragraph">
<p>Die Übersichtstabelle lässt sich individuell anpassen. Du kannst wählen, welche Tabellenspalten dir in welcher Reihenfolge in der Tabelle angezeigt werden sollen. Passe die Tabelle damit deinen Bedürfnissen und deinem Arbeitsablauf an. Wenn du die Tabelle angepasst hast, wird diese Auswahl gespeichert. Die Tabelle ist jederzeit anpassbar.</p>
</div>
<div class="paragraph instruction">
<p>Tabelle individualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ Das Fenster <strong>Spalten konfigurieren</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle aus, welche Spalten angezeigt werden sollen.</p>
</li>
<li>
<p>Verschiebe (<span class="icon "><i class="material-sort"></i></span>) die Spalten, so dass sie in der Reihenfolge angezeigt werden, in der du sie brauchst.</p>
</li>
<li>
<p>Klicke auf <strong>Bestätigen</strong>, um deine Auswahl zu speichern.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1200">5.1. Abonnements suchen</h3>
<div class="paragraph">
<p>Du möchtest das Abonnement einer Kund:in anpassen oder alle Abonnements überprüfen, die noch keinen initialen Durchlauf hatten? Dann führe eine Suche in der Abonnements-Übersicht im Menü <strong>Aufträge » Abonnement [Testphase]</strong> aus.</p>
</div>
<div class="paragraph">
<p>Du hast mehrere Möglichkeiten, die Suche zu nutzen. Du kannst einen Wert im Suchfeld eingeben und dann den entsprechenden Filter auswählen. Bei Eingabe einer Zahl oder eines Buchstaben werden dir mögliche Filter vorgeschlagen, z.B. Auftrags-IDs oder Variantennummer. Gib den Wert vollständig ein und wähle den passenden Filter aus den Vorschlägen. Wiederhole dies, um Filter miteinander zu kombinieren. Klicke auf <strong>Suchen</strong> (<span class="icon "><i class="material-search"></i></span>), um die Suche auszuführen.<br>
Möchtest du erst einen Filter aus der Filterliste wählen, klicke auf <strong>Filter</strong> (<span class="icon "><i class="material-tune"></i></span>). Die verfügbaren Filter werden dir angezeigt. Gib einen Wert im gewünschten Filter ein. Hast du alle benötigten Filter gesetzt, klicke auf <strong>Suchen</strong>.<br>
Möchtest du einen gesetzten Filter löschen, entferne den Chip. In <a href="#table-search-subscriptions">Tabelle 5</a> werden die verfügbaren Filter erläutert.</p>
</div>
<div class="paragraph">
<p>Zudem kannst du mit der Komponente <strong>Gespeicherte Filter</strong> (<span class="icon "><i class="material-bookmarks"></i></span>) ausgewählte Filter in der UI speichern. Gespeicherte Filtersets sind dann in dieser Komponente bei jedem Öffnen des Menüs auswählbar, ähnlich wie Lesezeichen. Jede:r Benutzer:in kann eigene Filter festlegen.</p>
</div>
<div class="paragraph instruction">
<p>Filter speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Setze die gewünschten Filter mit den entsprechenden Werten.</p>
</li>
<li>
<p>Führe die Suche aus.</p>
</li>
<li>
<p>Klicke auf <strong>Gespeicherte Filter</strong> (<span class="icon "><i class="material-bookmarks"></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Aktuellen Filter speichern</strong> (<span class="icon "><i class="material-bookmark_border"></i></span>).<br>
→ Das Fenster <strong>Filter speichern</strong> öffnet sich.</p>
</li>
<li>
<p>Vergib einen <strong>Filternamen</strong>.</p>
</li>
<li>
<p>Entscheide, ob das Filterset als Standard-Filterset genutzt werden soll.</p>
</li>
<li>
<p>Entscheide, ob das Filterset für alle Benutzer:innen zur Verfügung stehen soll.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.</p>
</li>
</ol>
</div>
<table id="table-search-subscriptions" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Abonnements suchen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-search-order-id">Auftrags-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um nach dem Abonnement mit dieser ID zu suchen. Du kannst mehrere IDs kommasepariert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-search-interval">Intervall</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durch Wahl eines der Intervalle werden dir alle Abonnements mit diesem Intervall angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-search-no-initial-run">Noch kein initialer Durchlauf</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere diese Option, wenn du nach Abonnements suchen möchtest, für die noch kein Durchlauf, weder manuell noch automatisch, stattgefunden hat. Wenn du diese Option auswählst, wird die Datumsauswahl gesperrt, da für diesen Suchfilter keine zeitliche Eingrenzung notwendig und somit keine Kombinationsmöglichkeit gegeben ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-search-date">Datumstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle zwischen Startdatum, Enddatum, Kündigungsdatum oder Datum des letzten Durchlaufs aus. In Kombination mit <strong>Auftragsdatum von</strong> und <strong>Auftragsdatum bis</strong> werden dir die Abonnements angezeigt, deren Start-, End- oder Kündigungsdatum im ausgewählten Zeitraum liegt (<span class="icon "><i class="fa fa-calendar  "></i></span>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-search-date-from">Datum von</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Definiere in Kombination mit <strong>Auftragsdatum bis</strong> einen Zeitraum und wähle einen Datumstyp, nach dem gesucht werden soll. Es werden dir Abonnements angezeigt, deren Start-, End- oder Kündigungsdatum in diesem Zeitraum liegt (<span class="icon "><i class="fa fa-calendar  "></i></span>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-search-date-to">Datum bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Definiere in Kombination mit <strong>Auftragsdatum von</strong> einen Zeitraum und wähle einen Datumstyp, nach dem gesucht werden soll. Es werden dir Abonnements angezeigt, deren Start-, End- oder Kündigungsdatum in diesem Zeitraum liegt (<span class="icon "><i class="fa fa-calendar  "></i></span>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-search-client">Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandanten wählen, um nur Abonnements dieses Mandaten anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-search-contact">Kontakt-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suche Abonnements von bestimmten Kund:innen über die Kontakt-IDs. Du kannst mehrere IDs kommasepariert eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-search-owner">Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Eigner aus und suche so die Abonnements dieses Eigners.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-search-status-from">Status von</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle in Kombination mit <strong>Status bis</strong> einen Statusbereich aus. Es werden dir die Abonnements angezeigt, die in diesem Bereich liegen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-search-status-to">Status bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle in Kombination mit <strong>Status von</strong> einen Statusbereich aus. Es werden dir die Abonnements angezeigt, die in diesem Bereich liegen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-search-payment-method">Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Zahlungsart aus. Es werden dir alle Abonnements angezeigt, für die diese Zahlungsart ausgewählt ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-search-reset">Zurücksetzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt alle eingestellten Filter zurück.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-subscription-search">Suche</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Führt die Suche aus.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1300">5.2. Gruppenfunktion: Manueller Durchlauf</h3>
<div class="paragraph">
<p>In der Übersichtsansicht steht dir auch die Gruppenfunktion <strong>Manuellen Durchlauf starten</strong> (<span class="icon "><i class="material-subscriptions"></i></span>) zur Verfügung. Sobald du mindestens ein Abonnement ausgewählt hast, wird die Gruppenfunktion über der Tabelle angezeigt. Mit dieser Funktion kannst du für bis zu 20 ausgewählte Abonnements auf einmal einen manuellen Durchlauf anstoßen. Wie auch beim Anstoßen eines einzelnen manuellen Durchlaufs in der Detailansicht eines Abonnements, wird der manuelle Durchlauf der Gruppenfunktion <em>sofort</em> ausgeführt.</p>
</div>
<div class="paragraph instruction">
<p>Gehe wie folgt vor, um die Gruppenfunktion zu nutzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Abonnement [Testphase]</strong>.</p>
</li>
<li>
<p>Suche nach den Abonnements, für die du einen manuellen Durchlauf anstoßen möchtest.</p>
</li>
<li>
<p>Wähle die entsprechenden Abonnements aus.</p>
</li>
<li>
<p>Klicke auf <strong>Manuellen Durchlauf starten</strong> (<span class="icon "><i class="material-subscriptions"></i></span>).<br>
→ Ein manueller Durchlauf für die ausgewählten Abonnements wird ausgeführt. Konnte für eines oder mehrere Abonnements kein manueller Durchlauf ausgeführt werden, z.B., weil das Abonnement schon beendet ist, wird dir dies in einer Fehlermeldung angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1400">5.3. Abonnements in der Auftragsübersicht</h3>
<div class="paragraph">
<p>In der Auftragsübersicht im Menü <strong>Aufträge » Aufträge bearbeiten</strong> werden die durch die Abonnements generierten Aufträge aufgelistet.
In der Titelzeile des Auftrags wird dir angezeigt, zu welchem Abonnement ein Auftrag gehört. Wenn du auf die ID des Abonnements klickst, wirst du zur Detailansicht des Abonnements geleitet.
Du kannst das ausgewählte Abonnement in der Detailansicht bearbeiten.</p>
</div>
<div class="paragraph">
<p>Die Aufträge eines Abonnements verwaltest du hier in der Auftragsübersicht, wie andere Aufträge auch.
Eine Beschreibung der Bearbeitungsmöglichkeiten findest du im Kapitel <a href="/auftraege/auftraege-verwalten#1500">Aufträge bearbeiten</a>.</p>
</div>
</div>
</div>
</div>
</main>