<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#20"><span>2.</span><span> Auftragsherkunft manuell erstellen</span></a></li>
<li><a href="#30"><span>3.</span><span> Aufträge nach Auftragsherkunft filtern und auswerten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Auftragsherkunft</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Omni-Channel-Verkauf mit plentymarkets bedeutet, dass du deine Artikel über eine Vielzahl von Kanälen anbieten und so Aufträge aus den verschiedensten Quellen generieren kannst.
Einige Auftragsherkünfte sind im System vorab angelegt und können nicht geändert werden. Andere Herkünfte werden automatisch hinzugefügt, zum Beispiel durch das Einbinden eines Plugins oder <a href="/pos">plentyPOS</a>.
Plugin-Herkünfte können nicht gelöscht werden. Du kannst Herkünfte aber auch manuell hinzufügen.</p>
</div>
<div class="paragraph">
<p>Jede Herkunft erhält eine eigene ID. Manche Herkünfte haben Unterherkünfte, bei denen die IDs dann Dezimalstellen haben. Die Marktplätze <strong>Amazon</strong> und <strong>eBay</strong> sowie plentyPOS haben je eine allgemeine Herkunft und Unterherkünfte.
Bei eBay oder Amazon hat jede Länderplattform eine eigene Unterherkunft, ebenso wie jede plentyPOS-Kasse.</p>
</div>
<div class="paragraph">
<p>Unabhängig von der Herkunft sind alle Aufträge im Menü <strong>Aufträge » Aufträge bearbeiten</strong> aufgelistet und bearbeitbar. Dort ist die Herkunft an jedem Auftrag hinterlegt. In der zum Auftrag gehörenden Zeile wird die ID der Herkunft angezeigt. Wenn du mit der Maus über die ID gehst, wird ein Tooltip mit dem Namen der Herkunft eingeblendet. Zudem ist die Herkunft im Tab <strong>Einstellungen</strong> eines Auftrags erkennbar.
Diese Herkunft kann geändert werden, allerdings nur bei manuell angelegten Herkünften und auch nur solange noch keine Rechnung erzeugt wurde.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bereits vorhandene oder automatisch durch Plugins hinzugefügte Herkünfte musst du nur noch aktivieren. Gehe dafür wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Wähle eine Herkunft.</p>
</li>
<li>
<p>Aktiviere die Herkunft durch Setzen eines Häkchens. <br>
→ Beachte außerdem die Erläuterungen in <a href="#table-settings-order-referrers">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Auftragsherkunft manuell erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wie in der Einleitung bereits erwähnt, kannst du dem System Auftragsherkünfte hinzufügen. Gehe wie im Folgenden beschrieben vor, um eine Auftragsherkunft manuell anzulegen.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>). <br>
→ Eine Zeile wird hinzugefügt und der Cursor ist direkt in der Namensspalte.</p>
</li>
<li>
<p>Trage einen Namen für die <strong>Auftragsherkunft</strong> ein.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#table-settings-order-referrers">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-settings-order-referrers" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen für Auftragsherkünfte</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Jede Auftragsherkunft erhält eine eigene ID. Diese wird automatisch vom System zugewiesen und ist nicht änderbar. Für manuelle Herkünfte stehen die IDs im Bereich 9-100 zur Verfügung. Die IDs 1-8 sowie die IDs ab 101 sind von fest im System hinterlegten Auftragsherkünften besetzt. Unterherkünfte sind an dezimalen IDs zu erkennen, zum Beispiel 2.08 für eBay Germany.<br>
<em>Hinweis</em>: Wenn alle freien IDs für manuell angelegte Auftragsherkünfte vergeben sind, ist die Schaltfläche <strong>Neu</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) nicht mehr sichtbar, da keine neuen Herkünfte hinzugefügt werden können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der hier eingetragene Name für die Herkunft wird im System angezeigt, zum Beispiel bei der Auftragssuche. Der Name kann hier jederzeit geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interner Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der interne Name ist nicht änderbar und wird nicht im System angezeigt. Nur fest hinterlegte Auftragsherkünfte erhalten einen internen Namen, manuell angelegte Herkünfte nicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Person wählen, die je nach Auftragsherkunft für einen Auftrag automatisch als Eigner eingetragen werden soll. Zur Auswahl stehen die im Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong> <a href="/business-entscheidungen/benutzerkonten-zugaenge">berechtigten Personen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahlspalte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere die Herkunft durch das Setzen eines Häkchens. Die Herkunft wird dann in anderen Menüs angezeigt, zum Beispiel im Tab <strong>Einstellungen</strong> eines Auftrags.<br>
Deaktivierst du die Herkunft, wird sie in anderen Menüs nicht mehr angezeigt.<br>
Du kannst alle Herkünfte auf einmal aktivieren oder deaktivieren, indem du im Tabellenheader auf <strong>Alles auswählen</strong> klickst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webshop-URL kopieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL der Auftragsherkunft in den Zwischenspeicher kopieren.<br>
Die URL wird zum Beispiel für Affiliate-Dienste benötigt. Sie enthält die jeweilige ID als sogenannte Referrer-ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Im Webshop öffnen</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Klick auf Vorschau (<span class="icon blue"><i class="fa fa-eye  "></i></span>) öffnet den Webshop mit Referrer-ID der Herkunft. Alle Preise werden für die betreffende Auftragsherkunft angezeigt. <br>
Die Vorschau funktioniert nur korrekt, wenn du Verkaufspreise angelegt und für die Herkunft aktiviert hast. Außerdem muss der Verkaufspreis an einer Variante hinzugefügt und ein Wert eingetragen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschen</strong> klicken, um eine Auftragsherkunft zu löschen. Es können nur Auftragsherkünfte gelöscht werden, die du selbst angelegt hast. Vom System automatisch angelegte Herkünfte sind nicht löschbar.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Herkunft wird für Affiliate-Dienstleister benötigt</div>
<div class="paragraph">
<p>Die Auftragsherkunft ist auch Voraussetzung für die Kooperation mit Affiliate-Partnern. Diese Partner vermitteln dir kaufinteressierte Besucher über definierte Tracking-URLs und erwarten bei einem durch sie vermittelten Verkauf eine Provision.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Aufträge nach Auftragsherkunft filtern und auswerten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Auftragssuche im Menü <strong>Aufträge » Aufträge bearbeiten</strong> bietet viele Filter, um deine Suche einzugrenzen. Der Filter <strong>Herkunft</strong> sucht Aufträge nach der Auftragsherkunft (zum Beispiel gefiltert nach Mandant (Shop), Amazon, eBay etc.). Für Amazon und eBay gibt es sowohl allgemeine Herkünfte als auch eine Unterherkunft für jede Länderplattform.</p>
</div>
<div class="paragraph">
<p>Bei monatlichen Auswertungen ist es sinnvoll, Suchfilter zu kombinieren und einen zusätzlichen Datumsfilter, zum Beispiel das Datum des Auftragseingangs, zu wählen und einen genauen Zeitraum festzulegen.</p>
</div>
<div class="paragraph">
<p>Die Herkunftsangabe ist für die Erfolgskontrolle in deinem Webshop wichtig. Nur über diese Einstellung kannst du nachvollziehen, welche Plattformen für dein Warenangebot profitabel sind. Neben der Suchfunktion im Menü <strong>Aufträge bearbeiten</strong> stehen dir im Bereich <a href="/business-entscheidungen/plenty-bi">plentyBI</a> weitere Auswertungsmöglichkeiten zur Verfügung. Dort kannst du über die Herkunftsangabe die Umsätze der Auftragsherkünfte sehen. So entscheidest du fundiert, wie du dein Werbebudget künftig immer gezielter und effizienter einsetzt.</p>
</div>
</div>
</div>
</main>