<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_auftragsherkunft_aktivieren"><span>1.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#_auftragsherkunft_manuell_anlegen"><span>2.</span><span> Auftragsherkunft manuell anlegen</span></a></li>
<li><a href="#_aufträge_nach_auftragsherkunft_suchen"><span>3.</span><span> Aufträge nach Auftragsherkunft suchen</span></a></li>
<li><a href="#_auftragsherkunft_am_auftrag_erkennen"><span>4.</span><span> Auftragsherkunft am Auftrag erkennen</span></a></li>
<li><a href="#_verkäufe_je_herkunft_auswerten"><span>5.</span><span> Verkäufe je Herkunft auswerten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Auftragsherkunft</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Omni-Channel-Verkauf mit plentymarkets bedeutet, dass du deine Produkte über eine Vielzahl von Kanälen anbieten und so Aufträge aus den verschiedensten Quellen generieren kannst.
Einige Auftragsherkünfte sind im System vorab angelegt und können nicht geändert werden.
Andere Herkünfte werden automatisch hinzugefügt, z.B. durch das Einbinden eines Plugins oder plentymarkets POS.
Plugin-Herkünfte können nicht gelöscht werden. Auch manuell können Herkünfte angelegt werden.
Jede Herkunft hat eine ID und manche Herkünfte haben Unterherkünfte, bei denen die IDs dann Dezimalstellen haben.
Die Marktplätze <strong>Amazon</strong> und <strong>eBay</strong> so wie plentymarkets POS haben je eine allgemeine Herkunft und Unterherkünfte.
Bei eBay oder Amazon hat jede Länderplattform eine eigene Unterherkunft sowie jede plentymarkets POS-Kasse eine eigene Unterherkunft erhält.
Alle Aufträge, egal welcher Herkunft, werden in einem gemeinsamen Auftragsmenu gesammelt.
Im Tab <strong>Einstellungen</strong> eines Auftrags ist die Herkunft erkennbar.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_auftragsherkunft_aktivieren">1. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bereits vorhandene oder automatisch durch Plugins hinzugefügte Herkünfte musst du lediglich noch aktivieren.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Wähle eine Herkunft.</p>
</li>
<li>
<p>Setze ein Häkchen in der Auswahlspalte der Herkunft. <br>
→ Beachte außerdem die Erläuterungen in <a href="#tabelle-einstellungen-aktivierung-auftragsherkunft">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_auftragsherkunft_manuell_anlegen">2. Auftragsherkunft manuell anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um manuell eine Auftragsherkunft anzulegen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Herkunft wird für Affiliate-Dienstleister benötigt</div>
<div class="paragraph">
<p>Die Auftragsherkunft ist auch Voraussetzung für die Kooperation mit Affiliate-Partnern. Diese Partner vermitteln dir kaufinteressierte Besucher über definierte Tracking-URLs und erwarten bei einem durch sie vermittelten Verkauf eine Provision.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>. <br>
→ Eine Zeile wird hinzugefügt und der Maus-Cursor ist direkt in der Namensspalte.</p>
</li>
<li>
<p>Trage einen Namen für die <strong>Auftragsherkunft</strong> ein.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-einstellungen-aktivierung-auftragsherkunft">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-aktivierung-auftragsherkunft" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen für Auftragsherkünfte</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neu</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klicken, um eine neue Auftragsherkunft anzulegen.<br>
<strong>Hinweis</strong>: Wenn die Schaltfläche nicht mehr sichtbar ist, sind alle Speicherplätze, freien IDs, für manuelle Auftragsherkünfte aufgebraucht (siehe <strong>ID</strong>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Jede Auftragsherkunft erhält eine ID. Diese wird automatisch vom System zugewiesen und ist nicht änderbar. Für manuelle Herkünfte stehen die IDs im Bereich 9 - 100 zur Verfügung. Die IDs bis 8 und ab 101 sind für fest im System hinterlegte Auftragsherkünfte reserviert. Unterherkünfte sind an dezimalen IDs zu erkennen, z.B. 2.08.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der eingetragene Name kann hier jederzeit geändert werden. Er wird im System, z.B. bei der Auftragssuche, angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interner Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der interne Name ist nicht änderbar und wird nicht im System angezeigt. Nur fest hinterlegte Auftragsherkünfte erhalten einen internen Namen, selbst angelegte Herkünfte nicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Person wählen, die je nach Auftragsherkunft für einen Auftrag automatisch als Eigner eingetragen werden soll. Zur Auswahl stehen die unter <strong><a href="/basics/admin-aufgaben/benutzer-verwalten#90">Einrichtung » Einstellungen » Benutzer » Konten</a></strong> berechtigten Personen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahlspalte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Häkchen setzen = die Herkunft wird in anderen Menüs angezeigt, z.B. im Tab <strong>Einstellungen</strong> eines Auftrags<br>
Kein Häkchen = die Herkunft wird in anderen Menüs nicht angezeigt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webshop-URL kopieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL der Auftragsherkunft in den Zwischenspeicher kopieren.<br>
Die URL wird z.B. für Affiliate-Dienste benötigt. Sie enthält die jeweilige ID als sogenannte Referrer-ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Im Webshop öffnen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Klick auf Vorschau öffnet den Webshop mit Referrer-ID der Herkunft. Alle Preise werden für die betreffende Auftragsherkunft angezeigt. <br>
Die Vorschau funktioniert nur korrekt, wenn du Verkaufspreise angelegt und für die Herkunft aktiviert hast. Außerdem muss der Verkaufspreis an einer Variante hinzugefügt und ein Wert eingetragen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löschen klicken, um eine Auftragsherkunft zu löschen. Es können nur Auftragsherkünfte gelöscht werden, die du selbst angelegt hast. Vom System automatisch angelegte Herkünfte sind nicht löschbar.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_aufträge_nach_auftragsherkunft_suchen">3. Aufträge nach Auftragsherkunft suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Auftragssuche im Menü <strong>Aufträge » Aufträge bearbeiten</strong> bietet viele Filter, um deine Suche genauer einzugrenzen. Der Filter <strong>Herkunft</strong> sucht Aufträge nach der Auftragsherkunft (Mandant (Shop), Amazon, eBay etc.). Für Amazon und eBay gibt es sowohl allgemeine Herkünfte als auch eine Unterherkunft für jede Länderplattform.</p>
</div>
<div class="paragraph">
<p>Bei monatlichen Auswertungen ist es sinnvoll, einen zusätzlichen Datumsfilter, z.B. das Datum des Auftragseingangs, zu wählen und den genauen Zeitraum festzulegen. Im Bereich <strong>Statistik</strong> stehen dir weitere Auswertungsmöglichkeiten zur Verfügung.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_auftragsherkunft_am_auftrag_erkennen">4. Auftragsherkunft am Auftrag erkennen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Herkunft eines Auftrags ist in der Auftragsübersicht ersichtlich. In der zum Auftrag gehörenden Zeile wird die ID der Herkunft angezeigt. Wenn du mit der Maus auf die ID zeigst, wird ein Tooltip mit dem Namen der Herkunft eingeblendet.</p>
</div>
<div class="paragraph">
<p>Im Tab <strong>Einstellungen</strong> eines Auftrags wird die <strong>Herkunft</strong> ebenfalls angezeigt. Diese Herkunft kann nur bei manuell angelegten Herkünften und auch nur so lange noch keine Rechnung erzeugt wurde, geändert werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_verkäufe_je_herkunft_auswerten">5. Verkäufe je Herkunft auswerten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Herkunftsangabe ist für die Erfolgskontrolle in deinem Shop wichtig. Nur über diese Einstellung kannst du nachvollziehen, welche Plattformen für dein Warenangebot profitabel sind. Im Auftragsmenü kannst du dir über den Herkunfts- und Datumsfilter die Auftragssumme je Auftragsherkunft für einen bestimmten Zeitraum anzeigen lassen. Im Menü <strong>Statistik</strong> kannst du über die Herkunftsangabe die Umsätze der Auftragsherkünfte sehen. So entscheidest du fundiert, wie du dein Werbebudget künftig immer gezielter und effizienter einsetzt.</p>
</div>
</div>
</div>
</main>