<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Standortbezogene Dokumente einrichten</span></a></li>
<li><a href="#200"><span>2.</span><span> Fulfillment-Dokumente einrichten</span></a></li>
<li><a href="#300"><span>3.</span><span> Dokumentenvorlage einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#400"><span>3.1.</span><span> Grundeinstellungen</span></a></li>
<li><a href="#500"><span>3.2.</span><span> Seitenränder</span></a></li>
<li><a href="#600"><span>3.3.</span><span> Positionierung der Pflichtelemente</span></a></li>
<li><a href="#700"><span>3.4.</span><span> Kundeneigenschaften</span></a></li>
<li><a href="#800"><span>3.5.</span><span> Spalten Artikelpositionen</span></a></li>
<li><a href="#900"><span>3.6.</span><span> Summen</span></a></li>
<li><a href="#1000"><span>3.7.</span><span> Optionale Elemente</span></a>
<ul class="sectlevel3">
<li><a href="#1100"><span>3.7.1.</span><span> Barcode</span></a></li>
<li><a href="#1200"><span>3.7.2.</span><span> Nachnahmehinweis</span></a></li>
</ul>
</li>
<li><a href="#1300"><span>3.8.</span><span> Optionale Elemente unter Artikelpositionstabelle</span></a></li>
</ul>
</li>
<li><a href="#1400"><span>4.</span><span> Dokumenteneinstellungen übertragen</span></a>
<ul class="sectlevel2">
<li><a href="#1500"><span>4.1.</span><span> Einstellungstransfer</span></a></li>
<li><a href="#1600"><span>4.2.</span><span> Standard-Einstellungen übernehmen</span></a></li>
</ul>
</li>
<li><a href="#1700"><span>5.</span><span> PDF-Vorlage verknüpfen</span></a></li>
<li><a href="#1800"><span>6.</span><span> Nummernkreise festlegen</span></a></li>
<li><a href="#1900"><span>7.</span><span> Anschließende Aktionen automatisieren</span></a></li>
<li><a href="#220"><span>8.</span><span> Steuerrechtliche Informationen zu Lieferungen ins Ausland</span></a>
<ul class="sectlevel2">
<li><a href="#230"><span>8.1.</span><span> EU-Lieferung</span></a></li>
<li><a href="#240"><span>8.2.</span><span> Ausfuhrlieferung</span></a></li>
</ul>
</li>
<li><a href="#250"><span>9.</span><span> Differenzbesteuerte Artikelpositionen in Dokumenten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Auftragsdokumente</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite wird beschrieben, wie du Dokumentenvorlagen einrichtest, anpassen oder Einstellungen von einer anderen Vorlage übernimmst.<br>
Bevor du Auftragsdokumente generierst und an deine Kunden übermitteln kannst, müssen für jedes Dokument Vorlagen eingerichtet sein. In deinem plentymarkets System gibt es <a href="#100">standortbezogene Dokumente</a> und <a href="#200">Fulfillment-Dokumente</a>. Außerdem erfährst du, wie du dein Geschäftspapier als PDF-Vorlage speichern und mit einer Dokumentenvorlage verknüpfen. Zudem wird das Anlegen von Nummernkreisen erläutert.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Standortbezogene Dokumente einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Folgende Dokumente werden im Menüpunkt <strong>Dokumente</strong> unter <strong>Einrichtung » Mandant » Mandant wählen » Standorte</strong> eingerichtet und verwaltet:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/auftraege/auftragsdokumente/rechnungen-erzeugen">Rechnung</a></p>
</li>
<li>
<p><a href="/auftraege/auftraege-verwalten#840">Sammelrechnungen</a></p>
</li>
<li>
<p><a href="/auftraege/auftragsdokumente/lieferscheine-erzeugen">Lieferscheine</a></p>
</li>
<li>
<p><a href="/auftraege/auftragsdokumente/gutschriften-erzeugen">Gutschriften / Korrekturbelege</a></p>
</li>
<li>
<p><a href="/auftraege/auftragsdokumente/mahnungen-erzeugen">Mahnungen</a></p>
</li>
<li>
<p><a href="/auftraege/auftragsdokumente/ruecksendeschein-erzeugen">Rücksendeschein</a></p>
</li>
<li>
<p><a href="/auftraege/auftragsdokumente/gelangensbestaetigung-erzeugen">Gelangensbestätigung</a></p>
</li>
<li>
<p><a href="/payment/bankdaten-verwalten#200">SEPA-Lastschriftmandat</a></p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Standortbezogenes Dokument einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wähle einen Standort unter <strong>Einrichtung » Mandant » Mandant wählen » Standorte</strong>.</p>
</li>
<li>
<p>Klicke auf den Menüpunkt <strong>Dokumente</strong>.</p>
</li>
<li>
<p>Wähle die Vorlage, die du bearbeiten möchtest, z.B. <strong>Rechnung</strong>.</p>
</li>
<li>
<p>Wähle eine <strong>Sprache</strong> aus der Dropdown-Liste, z.B. <strong>de</strong> für Deutsch.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß den Erläuterungen auf dieser Handbuchseite vor.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Klicke auf <strong>Vorschau</strong>, um eine Vorschau des Dokuments anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Fulfillment-Dokumente einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Folgende Vorlagen werden im Menü <strong>Einrichtung » Aufträge » Dokumente</strong> eingerichtet und verwaltet:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/fulfillment/dokumente-erzeugen#adressetikett-einrichten">Adressetikett</a></p>
</li>
<li>
<p><a href="/auftraege/auftragsdokumente/pickliste">Pickliste</a></p>
</li>
<li>
<p><a href="/auftraege/auftragsdokumente/lager-pickliste">Lager-Pickliste</a></p>
</li>
<li>
<p><a href="/auftraege/auftragsdokumente/packliste">Packliste</a></p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Fulfillment-Dokument einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Dokumente</strong>.</p>
</li>
<li>
<p>Wähle die Vorlage, die du bearbeiten möchtest.</p>
</li>
<li>
<p>Wähle eine <strong>Sprache</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß den Erläuterungen auf dieser Handbuchseite vor.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Klicke auf <strong>Vorschau</strong>, um eine Vorschau des Dokuments anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Dokumentenvorlage einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Öffnen der Vorlage in den oben beschriebenen Menüs sind einige Einstellungen standardmäßig voreingetragen. Du kannst diese Einstellungen bearbeiten und weitere Einstellungen vornehmen. Wenn keine Einstellungen voreingetragen sind, kannst du Einstellungen aus einer <a href="/auftraege/auftragsdokumente#1600">Standard-Dokumentenvorlage übernehmen</a>. Ergänze außerdem Hinweistexte, die durch Bedingungen gesteuert automatisch eingesetzt werden. Du legst pro Sprache eigene Vorlagen an. Die Sprache wählst du ganz oben im Menü der Vorlage.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Sprache pro Dokumentenvorlage hinterlegen</div>
<div class="paragraph">
<p>Wird für einen Standort keine Dokumentenvorlage in der benötigten Sprache gefunden, sucht das System automatisch in folgender Reihenfolge nach übereinstimmenden Dokumentenvorlagen:<br></p>
</div>
<div class="paragraph">
<p>Standard-Sprache des Mandanten<br>
Systemsprache<br>
Standard-Standort des Mandanten<br>
Systemsprache im Standard-Standort des Standard-Mandanten</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="400">3.1. Grundeinstellungen</h3>
<div class="paragraph">
<p>Nimm die grundlegenden Einstellungen für das Dokument anhand der Informationen in <a href="#tabelle-dokumente-grundeinstellungen">Tabelle 1</a> vor.</p>
</div>
<table id="tabelle-dokumente-grundeinstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Grundeinstellungen für Dokumente</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schriftart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine der Standard-Schriftarten <strong>Arial / Helvetica</strong>, <strong>Times New Roman</strong> oder <strong>Courier</strong> wählen.<br>
Unter der Schriftartengruppe <strong>Erweiterte Alphabete</strong> kannst du zwischen den Optionen <strong>East Asian</strong>, <strong>Arabic</strong>, <strong>Cyrillic</strong> wählen, wenn du Dokumentenvorlagen für <a href="/basics/interne-IDs#10">Sprachen</a> wie Chinesisch oder Russisch einrichtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeichensatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der Zeichensatz <strong>ISO-8859-1</strong> oder <strong>Unicode</strong> verwendet werden soll. Beachte, dass die Erzeugung von PDF-Dokumenten mit der Auswahl <strong>Unicode</strong> länger dauern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokumenten-Vorlage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Dokumenten-Vorlage nur auf der ersten Seite oder auch auf den folgenden Seiten angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seitenumbruch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Absätze seitenübergreifend fortgesetzt werden oder auf eine neue Seite umgebrochen werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufbau der Rechnungs-/Lieferanschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, aus welchen Bestandteilen die Rechnungs- und Lieferanschrift aufgebaut werden und in welcher Reihenfolge diese Bestandteile positioniert werden.<br>
Die Option <strong>Ansprechpartner</strong> aktivieren, wenn die am <a href="/crm/kontakte-verwalten#100">Kontakt</a> gespeicherten Daten zum Ansprechpartner zusätzlich in Rechnungs- und Lieferanschriften ausgegeben werden soll.<br>
Die Option <strong>Titel</strong> aktivieren, wenn die im Menüpunkt <strong>Adressen</strong> des <a href="/crm/kontakte-verwalten#100">Kontakts</a> gespeicherte Titel vor dem Namen des Kontakts positioniert werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung des Dokumentes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Standard-Währung deines plentymarkets Systems oder die am Auftrag hinterlegte <strong>Währung des Auftrags</strong> verwendet wird.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Pflichteinstellungen für Schriftzeichen</div>
<div class="paragraph">
<p>Um Dokumentvorlagen mit chinesischen oder kyrillischen Schriftzeichen einzurichten, wähle zunächst über die Einstellung oben im Menü die korrekte <a href="/basics/interne-IDs#10">Sprache</a>, beispielsweise <strong>cn</strong> (Chinesisch) ode <strong>ru</strong> (Russisch), für die du eine Dokumentenvorlage erstellen möchtest. Zusätzlich muss in den Grundeinstellungen für das Dokument die korrekte <strong>Schriftart</strong> ausgewählt werden. Für Chinesisch wählst du <strong>East Asian</strong>, für Russisch <strong>Kyrillisch</strong>. Befülle außerdem die Benennungen der Pflichtelemente mit den korrekten Schriftzeichen, damit diese Angaben auf den erzeugten Dokumenten korrekt dargestellt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="500">3.2. Seitenränder</h3>
<div class="paragraph">
<p>In diesem Bereich nimmst du die Einstellungen für die Seitenränder des Dokuments vor. Die Seitenränder sind für den automatischen Seitenumbruch und die Positionierung von Fließtext auf dem Dokument wichtig. Beachte die Informationen in <a href="#tabelle-dokumente-seitenraender">Tabelle 2</a>.</p>
</div>
<table id="tabelle-dokumente-seitenraender" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Seitenränder eines Dokuments</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Oben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Wert für den oberen Seitenrand (in mm) eingeben. Standardmäßig sind 44.0 mm voreingestellt. Achte darauf, genug Platz für den Header mit deinem Firmenlogo zu lassen, um Überschneidungen zu vermeiden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Links</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Wert für den linken Seitenrand (in mm) eingeben. Standardmäßig sind 20.0 mm voreingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Wert für den unteren Seitenrand (in mm) eingeben. Standardmäßig sind 30.0 mm voreingestellt. Der untere Seitenrand wird für Fulfillment-Dokumente nur für Seiten berücksichtigt, die mit einer PDF-Vorlage hinterlegt werden. Dies gilt, je nach Einstellung der Option <strong>Dokumenten-Vorlage</strong> im Bereich <strong>Grundeinstellungen</strong> eines Dokuments, entweder nur für die erste Seite oder für alle Seiten.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="600">3.3. Positionierung der Pflichtelemente</h3>
<div class="paragraph">
<p>Pflichtelemente sind Inhalte, die auf jedem Dokument angezeigt werden müssen. Die Positionierung auf der Dokumentseite erfolgt über die Eingabe von Koordinaten. In den Standard-Einstellungen sind bereits Werte für die wichtigsten Parameter hinterlegt. Diese Einstellungen können jedoch geändert werden. Ergänze die noch fehlenden Einträge.<br>
<a href="#tabelle-dokumente-pflichtelemente">Tabelle 3</a> erläutert die Pflichtelemente für Dokumente am Beispiel der Rechnung.</p>
</div>
<div class="paragraph">
<p>Die Werte orientieren sich am Koordinatensystem mit X- und Y-Achse. Die <strong>X-Achse</strong> verläuft von links nach rechts und die <strong>Y-Achse</strong> von oben nach unten. Die Nullpunkte liegen also links oben.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiele für die Positionierung</div>
<div class="paragraph">
<p>Ein Feld, das links oben positioniert wird, ist das Adressfeld. In der Rechnung sind die Standardkoordinaten für das Adressfeld X = 21 (mm), Y = 54,5 (mm). Orientiere dich für das Positionieren aller Felder an der linken oberen Ecke und beachte die Seitenränder.<br>
Felder, die üblicherweise rechts positioniert werden, sind neben dem Datum z.B. die Auftrags-ID und die Kunden-ID. Diese IDs haben auf der X-Achse die Standardkoordinaten X = 150 (mm) für den Feldnamen und X = 173 (mm) für den Wert. Die Y-Koordinaten unterscheiden sich, damit die Felder und Werte sich nicht überlagern.<br>
Ein Feld, das häufig unten positioniert wird, ist die Seitenzahl. Die Standardkoordinaten für die Seitenzahl sind X = 21 (mm), Y = 286 (mm). Die Seitenzahl liegt auf der Rechnung somit standardmäßig links unten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-dokumente-pflichtelemente" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Pflichtelemente eines Dokuments</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Adressfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Positioniert das Feld, in dem die Anschrift des Kunden angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokumentname/-nummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen eintragen, beispielsweise <strong>Rechnung</strong> oder <strong>Rechnungs-Nr.</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktuelles Datum des Dokuments</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestelldatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum der Bestellung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen eintragen. Die eigentliche Währung wird aus den Grundeinstellungen übernommen (siehe oben).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-ID einer Bestellung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-ID (2)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei Retouren, Gutschriften und Lieferaufträgen wird die Auftrags-ID des Hauptauftrags ausgegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunden-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kunden-ID des Käufers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsherkunft der Bestellung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeichen Kunde</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, was im gleichnamigen Feld in der Auftragseinstellung hinterlegt wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Kundenklasse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragseigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt den Namen des Auftragseigners aus, d.h. den Namen des für den Auftrag verantwortlichen Mitarbeiters.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FiBu-Konto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Debitor an, der in den Kundendaten unter Debitoren-Konto eingetragen ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigene Kundennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt die Kundennummer aus plentymarkets aus (nicht die ID).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>USt.-IdNr.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteuer-Identifizierungsnummer des Kunden</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigene USt-IdNr.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt die Umsatzsteuer-ID des Händlers aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID Pickliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn eine Pickliste generiert wird, erhält diese Pickliste eine ID. Bei allen Aufträgen, die sich auf dieser Pickliste befinden, wird die Pickliste-ID hinterlegt. Mit der Option ID Pickliste kann diese ID auf dem PDF-Dokument ausgegeben werden. Sinnvoll z.B. bei Lieferscheinen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seitenzahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt die Seitenzahl im Dokument pro Seite aus.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="700">3.4. Kundeneigenschaften</h3>
<div class="paragraph">
<p>Dieser Bereich wird nur angezeigt, wenn im System <a href="/crm/kontakte-verwalten#4000">Eigenschaften</a> für die Sprache der Dokumentenvorlage hinterlegt sind. Diese Eigenschaften kannst du dann hier über die Textfelder benennen und über die Koordinatenfunktion im Dokument positionieren.</p>
</div>
</div>
<div class="sect2">
<h3 id="800">3.5. Spalten Artikelpositionen</h3>
<div class="paragraph">
<p>Im Bereich <strong>Spalten Artikelpositionen</strong> positionierst du die Einträge in der Kopfzeile der Artikeltabelle. Trage zu jeder verfügbaren Spalte einen Feldnamen ein. Der Feldname wird in der Kopfzeile angezeigt. Damit die Feldnamen im Dokument angezeigt werden, muss außerdem für den Eintrag aus der Dropdown-Liste <strong>Pos</strong> ein Wert gewählt werden. Verbleibt die Auswahl auf <strong>Pos</strong>, wird die Spalte nicht angezeigt. Mit der Spalte <strong>Pos</strong> bestimmst du die Reihenfolge für die Anzeige der Feldnamen in der Kopfzeile. Die verfügbaren Spalten variieren je nach Dokument.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Spaltenbreiten</div>
<div class="paragraph">
<p>Die Spalte <strong>Artikelbezeichnung</strong> bricht bei Bedarf automatisch in eine neue Zeile um. Alle anderen Spalten haben diese Funktionalität nicht. Wähle deshalb die Spaltenbreiten breit genug. Gib die Spaltenbreite in <strong>mm</strong> ein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-dokumente-einstellungen-artikelpositionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Wichtige Einstellungen im Bereich <strong>Artikelpositionen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl Nachkommastellen bei Auftragspositionen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zwischen 2 und 4 Nachkommastellen für die Anzeige wählen. Diese Einstellung beeinflusst nur die Anzeige auf Dokumenten und bestimmt nicht mit wie vielen Nachkommastellen Preise berechnet werden. Ob das System mit 2 oder 4 Nachkommastellen Preise berechnet, stellst du im Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Buchhaltung</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelbezeichnung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Artikels plus optionale Parameter. Weitere Parameter aktivierst du per Checkbox. Die optionalen Parameter werden neben dem Artikelnamen ebenfalls in der Spalte angezeigt. Jedoch müssen in den Artikeldaten auch tatsächlich Angaben für die Parameter gespeichert sein, damit die Parameter auf dem Dokument angezeigt werden.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">3.6. Summen</h3>
<div class="paragraph">
<p>Unterhalb der Artikelpositionen werden bei allen Dokumenten außer auf dem Lieferschein Summen wie die Zwischensumme und der Rechnungsbetrag aufgelistet. Hier werden nur die Summen angezeigt, für die du einen Feldnamen festgelegt hast.<br>
<a href="#tabelle-dokumente-einstellungen-summen">Tabelle 5</a> erläutert wichtige Einstellungen im Bereich <strong>Summen</strong>.</p>
</div>
<table id="tabelle-dokumente-einstellungen-summen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Wichtige Einstellungen im Bereich <strong>Summen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warenwert (netto)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert der Ware ohne Mehrwertsteuer.
Zusätzlich wählen, ob der Warenwert summiert, pro Steuersatz oder nur bei einem B2B-Geschäft pro Steuersatz angezeigt wird. <br>
<strong>Summiert</strong> = egal wie viele Steuersätze im Auftrag angewendet werden, wird nur eine Warenwertsumme auf der Rechnung angezeigt <br>
<strong>Pro Steuersatz</strong> = für jeden Steuersatz, der im Auftrag angewendet wird, wird eine Warenwertsumme angezeigt <br>
<strong>Bei B2B pro Steuersatz</strong> = wenn für den Auftrag eine Umsatzsteueridentifikationsnummer des Kunden angewendet wird, wird pro Steuersatz eine Warenwertsumme angezeigt. Wenn keine Ust.-Id.-Nr. angewendet wird, wird nur eine Warenwertsumme für alle Steuersätze angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zwischensumme (netto, gesamt)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Nettosumme der Artikel am Ende der Rechnung an.
Zusätzlich wählen, ob die Zwischensumme summiert, pro Steuersatz oder nur bei einem B2B-Geschäft pro Steuersatz angezeigt wird. <br>
<strong>Summiert</strong> = egal wie viele Steuersätze im Auftrag angewendet werden, wird nur eine Zwischensumme auf der Rechnung angezeigt <br>
<strong>Pro Steuersatz</strong> = für jeden Steuersatz, der im Auftrag angewendet wird, wird eine Zwischensumme angezeigt <br>
<strong>Bei B2B pro Steuersatz</strong> = wenn für den Auftrag eine Umsatzsteueridentifikationsnummer des Kunden angewendet wird, wird pro Steuersatz eine Zwischensumme angezeigt. Wenn keine Ust.-Id.-Nr. angewendet wird, wird nur eine Zwischensumme für alle Steuersätze angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zwischensumme (netto, jede Seite, ohne letzte Seite)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Nettosumme der Artikel seitenweise an. Bei mehrseitigen Dokumenten wird auf jeder Seite außer auf der letzten Seite die aufgelaufene Summe aller bisherigen Artikel als Zwischensumme angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zwischensumme (Differenzbesteuerung)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Addiert nur Summen, die der Differenzbesteuerung unterliegen.<br>
<strong><em>Wichtig:</em></strong>
Bei der Einstellung Differenzbesteuerung handelt es sich um eine ältere Sonderimplementierung, bei der der Steuersatz für den gesamten Betrag der differenzbesteuerten Artikelpositionen verwendet wird und nicht nur für die Differenz zwischen Verkaufs- und Einkaufspreis.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutscheinsumme (netto)</strong> bzw. <strong>Gutscheinsumme (brutto)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geben den Betrag in netto bzw. brutto an, der durch Gutschein(e) gedeckt wurde. Hier einen Feldnamen eintragen, wenn im Webshop Gutscheine angeboten werden. Die Gutscheinsumme wird sonst nicht auf der Rechnung ausgewiesen. Ob die Summe netto oder brutto ist, hängt von der Art des Gutscheins und z.B. der Art der Rechnung ab.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1000">3.7. Optionale Elemente</h3>
<div class="paragraph">
<p>In diesem Bereich wählst du optionale Elemente. Beispiele hierfür sind der Barcode und der Nachnahmehinweis. Diese Elemente werden nachfolgend genauer beschrieben.</p>
</div>
<div class="sect3">
<h4 id="1100">3.7.1. Barcode</h4>
<div class="paragraph">
<p>Die Option <strong>Barcode</strong> kann entweder aus der Auftrags-ID oder der Dokumentnummer erstellt werden. Des Weiteren kannst du zwischen <strong>EAN13</strong> oder <strong>Code128</strong> als Kodierung des Barcodes wählen. Wenn du die Option <strong>EAN13</strong> wählst und deine Auftrags-ID beispielsweise aus 6 Ziffern besteht, wird diese automatisch ergänzt. Es werden führende Nullen und eine 1 an den Anfang des Barcodes gestellt, so dass sich aus der Auftrags-ID eine EAN13 ergibt. Wenn deine Auftrags-ID so übernommen werden soll, wie sie ist, wähle die Option <strong>Code128</strong>. Wähle außerdem, ob die Ziffern unterhalb des Barcodes, innerhalb des Barcodes oder nicht angezeigt werden sollen.</p>
</div>
</div>
<div class="sect3">
<h4 id="1200">3.7.2. Nachnahmehinweis</h4>
<div class="paragraph">
<p>Der Nachnahmehinweis wird nur in Rechnungen von Aufträgen mit der Zahlungsart <strong>Nachnahme</strong> angezeigt. Der Standardhinweis lautet <strong>NACHNAHME BAR</strong> plus dem <strong>Rechnungsbetrag</strong>. Die Option wird mit <strong>JA</strong> aktiviert. Trage optional einen <strong>Namen</strong> ein, wenn du statt der Standardbezeichnung NACHNAHME BAR eine eigene Bezeichnung hinterlegen möchten.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1300">3.8. Optionale Elemente unter Artikelpositionstabelle</h3>
<div class="paragraph">
<p>Im Bereich <strong>Optionale Elemente unter Artikelpositionstabelle</strong> wählst du, welche Elemente unter der Artikelpositionstabelle auf dem Dokument erscheinen sollen. <a href="#tabelle-dokumente-optionale-elemente-artikelpositionstabelle">Tabelle 6</a> erläutert diese Elemente beispielhaft für das Dokument <strong>Rechnung</strong>.</p>
</div>
<table id="tabelle-dokumente-optionale-elemente-artikelpositionstabelle" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Optionale Elemente unter Artikelpositionstabelle</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schriftgröße</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die gewünschte Schriftgröße für die optionalen Elemente unter der Artikelpositionstabelle wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Spaltenbreite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Spaltenbreite für alle im Folgenden aufgelisteten optionalen Elemente, die unter der Artikelpositionstabelle positioniert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der <strong>aktuelle Monat</strong>, das <strong>Rechnungsdatum</strong>, das Datum des <strong>Warenausgangs</strong> oder <strong>kein</strong> Lieferdatum angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsziel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>JA</strong> oder <strong>NEIN</strong> einstellen, ob eine Option auf dem Dokument erscheint oder nicht. Bei <strong>JA</strong> muss auch ein <strong>Zahlungsziel in Tagen</strong> gewählt werden. Beachte bei der Einstellung, dass ein in den Kundendaten hinterlegtes Zahlungsziel Priorität hat. Wenn in den Kundendaten kein Zahlungsziel hinterlegt ist, hat das Zahlungsziel der Kundenklasse Priorität.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungseingang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Datum wird nur angezeigt, wenn der Zahlungseingang vollständig ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Valuta/Zahlungsziel/Skonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Platzhalter werden mit den Werten befüllt, die in den <a href="/crm/kontakte-verwalten#100">Kundendaten</a> hinterlegt sind. Dazu die Info zur Gestaltung von Zahlungsbedingungen auf der Handbuchseite <a href="/crm/kontakte-verwalten#100">Kontakte verwalten</a> beachten.<br>
Wenn ein Wert für <strong>Valuta</strong> am Kunden hinterlegt ist, wird dieser für das Dokument verwendet. Sonst wird der Wert unter <strong>Zahlungsziel</strong> bzw. der Wert aus der <a href="/crm/kontakte-verwalten#15">Kundenklasse</a> verwendet, wenn hinterlegt. Als letzte Möglichkeit, wenn alles andere nicht gesetzt ist, wird die Anzahl der Tage aus der Option <strong>Zahlungsziel</strong> im Dokument verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsziel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>JA</strong> oder <strong>NEIN</strong> wählen, ob das Zahlungsziel ausgegeben werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlbar (Nachnahme)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In den Feldern <strong>Feldname links</strong> oder <strong>Feldname rechts</strong> Texte eingeben, die bei Rechnungen zu Aufträgen mit der Zahlungsart <strong>Nachnahme</strong> angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>JA</strong> oder <strong>NEIN</strong> wählen, ob die am Auftrag hinterlegte Zahlungsart ausgegeben werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Skonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Höhe in <strong>Prozent</strong> und das <strong>Zahlungsziel</strong> in Tagen wählen. Folgende Platzhalter sind verfügbar: <strong>[Date1]</strong>, <strong>[Date2]</strong>, <strong>[Amount1]</strong>, <strong>[Amount2]</strong>, <strong>[Percent]</strong>.<br>
Wenn du möchtest, dass der am Kunden eingetragene Skonto auf der Rechnung angezeigt wird, verwende die Einstellung <strong>Valuta/Zahlungsziel/Skonto</strong>. <strong><em>Hinweis:</em></strong> Damit der hier eingetragene Skonto in der Rechnung ausgegeben wird, muss die Einstellung <strong>Zahlungsziel</strong> auf <strong>Ja</strong> stehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verwendungszweck</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>JA</strong> oder <strong>NEIN</strong> wählen, ob der Verwendungszweck ausgegeben werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>JA</strong> oder <strong>NEIN</strong> wählen, ob die Versandart der Bestellung ausgegeben werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>JA</strong> oder <strong>NEIN</strong> wählen, ob die am Auftrag hinterlegten Versandkosten ausgegeben werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferanschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>JA</strong> oder <strong>NEIN</strong> wählen, ob die am Auftrag hinterlegte Lieferanschrift ausgegeben werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fehlende Kontaktdaten aus Rechnungsanschrift in Lieferanschrift übernehmen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>JA</strong> oder <strong>NEIN</strong> wählen, ob in der Lieferanschrift fehlende Kontaktdaten aus der Rechnungsanschrift des Kunden übernommen werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnungsanschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>JA</strong> oder <strong>NEIN</strong> wählen, ob die am Auftrag hinterlegte Rechnungsanschrift ausgegeben werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externe Auftragsnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>JA</strong> oder <strong>NEIN</strong> wählen, ob die externe Auftragsnummer des Auftrags ausgegeben werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externe Kundennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>JA</strong> oder <strong>NEIN</strong> wählen, ob die externe Kundennummer ausgegeben werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenwunsch drucken</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kunden können bestimmte Wünsche zu der Bestellung im Mein Konto-Bereich des Webshops eingeben. Mit <strong>JA</strong> oder <strong>NEIN</strong> wählen, ob der Kundenwunsch ausgegeben werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum / Unterschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>JA</strong> oder <strong>NEIN</strong> angeben, ob eine Textzeile zum Vermerk von Datum und Unterschrift ausgegeben werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Steuerrechtlicher Hinweis 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gewünschte Schriftgröße wählen. <strong>Normal</strong> oder <strong>Fett</strong> für den Schriftschnitt wählen. Den gewünschten steuerrechtlichen Hinweis in das Textfeld eintragen.<br>
Dieser Hinweis wird bei einer Lieferung in die EU bei vorliegender USt.-IdNr. ausgegeben. Die Formulierung nach deutschem Recht kann hier z.B. lauten: <strong>Innergemeinschaftliche Lieferung gemäß §4 Nr. 1b in Verbindung mit §6 a UStG</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Steuerrechtlicher Hinweis 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie <strong>Steuerrechtlicher Hinweis 1</strong>.<br>
Dieser Hinweis wird bei einer Lieferung außerhalb der EU ausgegeben. Die Formulierung nach deutschem Recht kann hier beispielsweise lauten: <strong>Ausfuhrlieferung gemäß §4 Nr. 1a in Verbindung mit §6 UStG</strong>*.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hinweis Differenzbesteuerung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie Option <strong>Steuerrechtlicher Hinweis 1</strong>. <br>
Dieser Hinweis wird ausgegeben, wenn der Auftrag differenzbesteuerte Positionen enthält. <br>
<strong><em>Wichtig:</em></strong>
Bei der Einstellung Differenzbesteuerung handelt es sich um eine ältere Sonderimplementierung, bei der der Steuersatz für den gesamten Betrag der differenzbesteuerten Artikelpositionen verwendet wird und nicht nur für die Differenz zwischen Verkaufs- und Einkaufspreis.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hinweis Landesmehrwertsteuer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellen, ob ein Hinweis zur Landesmehrwertsteuer ausgegeben werden soll. Dieser Hinweis wird ausgegeben, wenn der Standardumsatzsteuersatz bei Lieferungen ins Ausland benutzt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungshinweis der Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellen, ob der Zahlungshinweis der Kundenklasse ausgegeben werden soll. Weitere Informationen zum Zahlungshinweis der Kundenklasse findest du auf der Handbuchseite <a href="/crm/kontakte-verwalten#15">Kontakte verwalten</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Zahlungshinweis (Lastschrift)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für Aufträge mit der Zahlungsart Lastschrift wird auf den Dokumenten Rechnung und Lieferschein standardmäßig der Hinweis <strong>Der Rechnungsbetrag wird dankend von Ihrem Konto abgebucht</strong> angezeigt. Aktiviere die Option <strong>Hinweis ausblenden</strong>, wenn dieser Hinweis auf den Dokumenten nicht angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungshinweis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In der Dropdown-Liste <strong>Zahlungsart</strong> eine Zahlungsart wählen. Den <strong>Zahlungshinweis</strong> für diese Zahlungsart in das Textfeld eintragen.<br>
Der Zahlungshinweis ist nicht fest mit der Zahlungsart verknüpft. Wird die Zahlungsart über die Dropdown-Liste geändert, bleibt der im Textfeld eingetragene Hinweis bestehen. Er wird auf die neu gewählte Zahlungsart angewendet.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">4. Dokumenteneinstellungen übertragen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für jedes Dokument sind ähnliche Einstellungen vorzunehmen. Reduziere deshalb deineen Aufwand, indem du die Einstellungen eines Dokuments aus einer Standard-Vorlage übernimmst oder die Einstellungen auf ein anderes Dokument überträgst.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Einstellungen werden überschrieben</div>
<div class="paragraph">
<p>Wird die Transferfunktion auf ein Dokument angewendet, werden die vom Benutzer vorgenommenen Einstellungen in diesem Dokument überschrieben. Prüfe daher die Einstellungen des Dokuments und notiere ggf. wichtige Koordinaten, bevor du die Funktion anwendest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1500">4.1. Einstellungstransfer</h3>
<div class="paragraph">
<p>Übertrage z.B. die deutschen Rechnungseinstellungen auf den deutschen Lieferschein. Dort deaktivierst du dann nur noch die nicht benötigten Elemente bzw. fügst bei Bedarf weitere Elemente hinzu.</p>
</div>
<div class="paragraph">
<p>Sehr einfach überträgst du z.B. die deutschen Rechnungseinstellungen auf die französische Dokumentenvorlage für Rechnungen. Damit entfällt das manuelle Eintragen der Koordinaten der Elemente für jede Sprachversion. Du passt dann nur noch die Texte der Sprache an.</p>
</div>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um Einstellungen auf Dokumentenvorlagen zu übertragen.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen einer Vorlage auf andere Dokumentenvorlage übertragen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte</strong>.</p>
</li>
<li>
<p>Wähle einen Standort.</p>
</li>
<li>
<p>Öffne das Menü <strong>Dokumente</strong> des Standorts.</p>
</li>
<li>
<p>Wähle das Dokument, dessen Einstellungen du auf ein anderes Dokument übertragen möchtest.</p>
</li>
<li>
<p>Öffne das Tab <strong>Transfer</strong> des Dokuments.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Einstellungen auf Zielvorlage übertragen</strong> den <strong>Standort</strong>, die <strong>Sprache</strong> und unter <strong>Zielvorlage</strong> das Dokument, auf das die Werte übertragen werden sollen.</p>
</li>
<li>
<p>Klicke auf <strong>Übertragen</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Vorschau zum Vergleich nutzen</div>
<div class="paragraph">
<p>Rufe eine <strong>Vorschau</strong> im PDF auf und drucke das Dokument aus. Mithilfe der Vorschau kannst du die Eigenschaften der Dokumente vergleichen und entscheiden, ob der Einstellungstransfer sinnvoll ist oder Einstellungen nachträglich angepasst werden müssen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1600">4.2. Standard-Einstellungen übernehmen</h3>
<div class="paragraph">
<p>Wähle <strong>Einstellungen aus Standard-Dokumentenvorlage übernehmen</strong>, um die Standardwerte in ein noch leeres Dokument zu übernehmen oder die Einstellungen eines Dokuments auf Standardwerte zurückzusetzen.</p>
</div>
<div class="paragraph instruction">
<p>Standard-Einstellungen übernehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente</strong>.</p>
</li>
<li>
<p>Wähle das Dokument, auf das du die Standard-Einstellungen übernehmen möchtest.</p>
</li>
<li>
<p>Öffne das Tab <strong>Transfer</strong> des Dokuments.</p>
</li>
<li>
<p>Wähle über dem Tab-Titel die <strong>Sprache</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Einstellungen aus Standard-Dokumentenvorlage übernehmen</strong> auf <strong>Übernehmen</strong>.<br>
→ Die Standard-Einstellungen werden auf das Dokument angewendet.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1700">5. PDF-Vorlage verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Briefpapier deines Shops hinterlegst du als <strong>PDF-Vorlage</strong>. Wenn du mehrere Zahlungsarten anbietest, deren Zahlungsinformationen abweichen, benötigst du eine separate Dokumentenvorlage für die jeweilige Zahlungsart.<br></p>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um die PDF-Datei mit dem Briefpapier deines Shops hochzuladen und mit einer standortbezogenen Dokumentenvorlage zu verknüpfen.</p>
</div>
<div class="paragraph instruction">
<p>PDF-Vorlage mit standortbezogener Dokumentenvorlage verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente</strong>.</p>
</li>
<li>
<p>Wähle das Dokument, für das du eine PDF-Vorlage verknüpfen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hinzufügen</strong>.<br>
→ Ein separates Fenster mit Optionen zum Hochladen der PDF-Vorlage öffnet sich.</p>
</li>
<li>
<p>Wähle die gewünschte <strong>Zahlungsart</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle die gewünschte <strong>Sprache</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage auswählen</strong> und wähle das PDF-Dokument aus.</p>
</li>
<li>
<p>Klicke auf <strong>Vorlage hochladen</strong>.<br>
→ Die Vorlage wird hinzugefügt und wird im Tab <strong>PDF-Vorlage</strong> gelistet.</p>
</li>
<li>
<p>Nutze die <strong>Vorschau</strong> in der Zeile neben der PDF-Vorlage, um eine Vorschau der reinen PDF-Vorlage anzuzeigen.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Vorlage</strong> und klicke dort auf <strong>Vorschau</strong>, um eine Vorschau des kompletten Dokuments anzuzeigen und deine Einstellungen zu prüfen.</p>
</li>
<li>
<p>Korrigiere die PDF-Vorlage oder die Koordinaten der Dokumentenvorlage, falls sich Inhalte überschneiden.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Für Fulfillment-Dokumente verknüpfst du die PDF-Vorlage wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>PDF-Vorlage mit Fulfillment-Dokumentenvorlage verknüpfen</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Dokumente</strong>.</p>
</li>
<li>
<p>Wähle das Dokument, für das du eine PDF-Vorlage verknüpfen möchtest.</p>
</li>
<li>
<p>Öffne das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Neue Vorlage</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Datei auswählen</strong>, um die PDF-Datei auszuwählen.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Vorlagen</strong> und klicke dort auf <strong>Vorschau</strong>, um eine Vorschau der reinen PDF-Vorlage anzuzeigen.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Vorlage</strong> und klicke dort auf <strong>Vorschau</strong>, um eine Vorschau des kompletten Dokuments anzuzeigen.</p>
</li>
<li>
<p>Korrigiere die PDF-Vorlage oder die Koordinaten der Dokumentenvorlage, falls sich Inhalte überschneiden.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1800">6. Nummernkreise festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für zahlreiche Dokumente stehen Nummernkreise zur Verfügung. Diese Nummernkreise verwaltest du im Tab <strong>Nummernkreis</strong> eines Dokuments. Der Nummernkreis kann bis zu 5 Stellen haben und Zahlen, Buchstaben sowie Zeichen enthalten. Er wird automatisch vor der eigentlichen Nummer des Dokuments eingefügt.</p>
</div>
<div class="paragraph">
<p>Gib im Feld <strong>Nummer (Startwert)</strong> die erste Nummer ein, also die Nummer, die als Startwert festgelegt werden soll. Dies muss nicht zwingend die "1" sein. Wenn du z.B. bereits nummerierte Rechnungen im System abgelegt hast, kannst du die Startnummer an die bestehenden Nummern anschließend eintragen. Wenn die Nummer über eine bestimmte Anzahl von Stellen verfügen soll, gib den Startwert mit führenden Nullen an (z.B. 00001). Sind bereits Dokumente mit einer höheren Nummer im System, werden diese verwendet.</p>
</div>
<div class="paragraph">
<p>Im Folgenden wird beispielhaft beschrieben, wie du einen Nummernkreis für <a href="/auftraege/auftragsdokumente/rechnungen-erzeugen">Rechnungsdokumente</a> festlegen. Gehe für andere Dokumente analog vor.</p>
</div>
<div class="paragraph instruction">
<p>Nummernkreis für Rechnungen festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente » Rechnung</strong>.</p>
</li>
<li>
<p>Wähle die gewünschte <strong>Sprache</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Nummernkreis</strong>.</p>
</li>
<li>
<p>Gib im Feld <strong>Nummernkreis</strong> ein Präfix aus bis zu fünf Zahlen und/oder Buchstaben für den Nummernkreis ein, z.B. <strong>2016</strong>.<br>
→ Mit einem Bindestrich am Ende des Präfix werden Präfix und Nummer optisch getrennt.</p>
</li>
<li>
<p>Gib im Feld <strong>Nummer (Startwert)</strong> die erste Rechnungsnummer für den Nummernkreis ein, z.B. <strong>00001</strong>.<br>
→ Die Rechnungsnummern werden ab dieser Nummer (in diesem Beispiel <strong>201500001</strong>) aufwärts vergeben.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Mehrere Standorte</div>
<div class="paragraph">
<p>Wenn du Nummernkreise für mehrere Standorte verwenden möchtest, hast du folgende Möglichkeiten:<br>
<strong>Ein Nummernkreis für mehrere Standorte</strong><br>
Die Nummern werden übergreifend für alle Standorte hochgezählt, das heißt, jede Nummer wird nur einmal vergeben. Hinterlege dazu bei jedem Dokument und jedem Standort den gleichen Nummernkreis.<br>
<strong><em>Hinweis:</em></strong> Dies gilt nur für Standorte des gleichen Mandanten. Für Standorte verschiedener Mandanten können Nummernkreise nicht übergreifend verwaltet werden.<br>
<strong>Verschiedene Nummernkreise für mehrere Standorte</strong><br>
Die Nummernkreise können pro Standort pro Dokument unterschiedlich gewählt werden, z.B. in Form eines Kürzels, das den Standort bezeichnet. Die Nummern werden pro Nummernkreis hochgezählt, können also innerhalb eines Mandanten mehrfach vorkommen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Du hast auch die Möglichkeit, für verschiedene Länder verschiedene Nummernkreise anzulegen. Die Nummer des Dokuments wird dann anhand des Landes des Empfängers vergeben. Gehe dazu wie unten beschrieben vor. Auch hier beschreiben wir beispielhaft, wie du einen Nummernkreis für Rechnungen festlegen. Beachte jedoch, dass das Anlegen eines separaten Nummernkreises pro Land nicht immer sinnvoll ist. Spreche mit deinem Steuerberater, bevor du eine solche Einstellung vornimmst.</p>
</div>
<div class="paragraph instruction">
<p>Nummernkreis für Rechnungen pro Land festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente » Rechnung</strong>.</p>
</li>
<li>
<p>Wähle die gewünschte <strong>Sprache</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Nummernkreis</strong>.</p>
</li>
<li>
<p>Klappe das Menü <strong>Nummernkreis pro Land</strong> auf.</p>
</li>
<li>
<p>Gib im Feld <strong>Nummernkreis</strong> der einzelnen Länder ein Präfix aus bis zu fünf Zahlen und/oder Buchstaben für den Nummernkreis ein, z.B. <strong>16DE</strong> für Deutschland.</p>
</li>
<li>
<p>Gib im Feld <strong>Nummer (Startwert)</strong> der einzelnen Länder die erste Rechnungsnummer für den Nummernkreis ein, z.B. <strong>00001</strong>.<br>
→ Die Rechnungsnummern werden pro Land ab dieser Nummer aufwärts vergeben.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Nummernkreis entfernen und ändern</div>
<div class="paragraph">
<p>Entferne einen Nummernkreis nicht mehr, sobald einmal PDF-Dokumente mit diesem Nummernkreis generiert wurden. Du kannst Nummernkreise allerdings nachträglich ändern. Der geänderte Nummernkreis muss sich von allen bereits verwendeten Nummernkreisen unterscheiden. Das heißt, du musst immer mindestens eine Stelle ändern oder den Nummernkreis um eine Stelle erweitern. Eine Stelle darf jedoch nicht entfernt werden. War der vorherige Nummernkreis z.B. 13IN, ist als neuer Nummernkreis 13I nicht zulässig, 13IN0 hingegen schon.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1900">7. Anschließende Aktionen automatisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du deine Dokumentenvorlagen eingerichtet hast, kannst du im Bereich <a href="/automatisierung/ereignisaktionen">Einrichtung » Aufträge » Ereignisse</a> automatische Aktionen einstellen. Interessant ist beispielsweise das Buchen von Warenausgängen beim Rechnungsdruck. Weitere Aktionen, wie das automatische Versenden von aktionsgesteuerten E-Mails, sind ebenfalls einstellbar.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="220">8. Steuerrechtliche Informationen zu Lieferungen ins Ausland</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wir empfehlen grundsätzlich, alle steuerrechtlichen Inhalte einer Dokumentenvorlage mit deinem Steuerberater zu besprechen, bevor du diese Inhalte verwendest.</p>
</div>
<div class="sect2">
<h3 id="230">8.1. EU-Lieferung</h3>
<div class="paragraph">
<p>Bei Lieferungen in das europäische Ausland und vorliegender USt.-IdNr. wird die Rechnung automatisch netto ausgestellt. Aus steuerrechtlichen Gründen muss dabei die eigene USt.-IdNr. und die USt.-IdNr. des Kunden auf der Rechnung erscheinen. Außerdem muss ein Hinweistext abgedruckt werden.</p>
</div>
<div class="paragraph">
<p>Die USt.-IdNr. des Kunden ist als Datenfeld im Bereich <strong>Positionierung der Pflichtelemente</strong> verfügbar. Sie sollte im oberen Bereich der Rechnung mittels Koordinateneingabe positioniert werden.</p>
</div>
<div class="paragraph">
<p>Im Bereich <strong>Optionale Elemente unter Artikelpositionstabelle</strong> befindet sich das Datenfeld <strong>Steuerrechtlicher Hinweis 1</strong>. Dieses Datenfeld wird bei einer Lieferung in die EU bei vorliegender USt.-IdNr. ausgegeben.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel: Hinweistext für Deutschland</div>
<div class="paragraph">
<p>"Ausfuhrlieferung gemäß §4 Nr. 1a in Verbindung mit §6 UStG."</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="240">8.2. Ausfuhrlieferung</h3>
<div class="paragraph">
<p>Ausfuhrlieferungen, d.h. Lieferungen in ein Land außerhalb der EU, werden ebenfalls netto erstellt. Für diesen Vorgang muss ebenfalls ein steuerrechtlicher Hinweistext ausgegeben werden.</p>
</div>
<div class="paragraph">
<p>Für diesen Hinweistext steht das Datenfeld <strong>Steuerrechtlicher Hinweis 2</strong> zur Verfügung.</p>
</div>
<div class="paragraph">
<p>Die erforderlichen <strong>steuerrechtlichen Hinweise</strong> können individuell abweichen. Kläre den Wortlaut mit deinem Steuerberater ab.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="250">9. Differenzbesteuerte Artikelpositionen in Dokumenten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für differenzbesteuerte Artikelpositionen und Summen in Rechnungen, Mahnungen und Gutschriften gibt es zwei Einstellungen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Zwischensumme für differenzbesteuerte Positionen</p>
</li>
<li>
<p>Hinweis zu den differenzbesteuerten Positionen</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Damit diese Einstellungen greifen und auf den Dokumenten angezeigt werden, musst du zuvor unter <strong><a href="/auftraege/buchhaltung">Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Buchhaltung » Tab: Umsatzsteuersätze</a></strong> die Option <strong>Differenzbesteuerung</strong> in den Einstellungen des Standardlands auf einen der vier Steuersätze setzen.
Bei der Einstellung Differenzbesteuerung handelt es sich um eine ältere Sonderimplementierung, bei der der Steuersatz für den gesamten Betrag der differenzbesteuerten Artikelpositionen verwendet wird und nicht nur für die Differenz zwischen Verkaufs- und Einkaufspreis.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftraege/assets/DE-Einstellungen-Standort-Dokumente-14.png" alt="DE Einstellungen Standort Dokumente 14">
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftraege/assets/DE-Einstellungen-Standort-Dokumente-15.png" alt="DE Einstellungen Standort Dokumente 15">
</div>
</div>
</div>
</div>
</main>