<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Grundlagen der Preisberechnung in plentymarkets</span></a></li>
<li><a href="#150"><span>2.</span><span> Speichern und Runden einstellen</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>2.1.</span><span> Beispielberechnungen</span></a></li>
</ul>
</li>
<li><a href="#300"><span>3.</span><span> Umsatzsteuereinstellungen vornehmen</span></a>
<ul class="sectlevel2">
<li><a href="#320"><span>3.1.</span><span> Neuen Standort anlegen</span></a></li>
<li><a href="#330"><span>3.2.</span><span> Standort löschen</span></a></li>
<li><a href="#350"><span>3.3.</span><span> Kleinunternehmerregelung anwenden</span></a></li>
<li><a href="#400"><span>3.4.</span><span> Rechnungsstellung bei innergemeinschaftlichen EU-Lieferungen einstellen</span></a>
<ul class="sectlevel3">
<li><a href="#450"><span>3.4.1.</span><span> Beispiele für Einstellungsauswirkung</span></a></li>
</ul>
</li>
<li><a href="#500"><span>3.5.</span><span> Rechnungsstellung bei Ausfuhrlieferung einstellen</span></a></li>
<li><a href="#525"><span>3.6.</span><span> Lieferschwelle und OSS</span></a></li>
<li><a href="#550"><span>3.7.</span><span> Umsatzsteuersätze einrichten</span></a></li>
<li><a href="#600"><span>3.8.</span><span> Umsatzsteuer für digitale Artikel</span></a></li>
</ul>
</li>
<li><a href="#620"><span>4.</span><span> Zolltarifnummern</span></a></li>
<li><a href="#650"><span>5.</span><span> Buchungsschlüssel, Erlös- und Debitorenkonten einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>5.1.</span><span> Buchungsschlüssel einrichten</span></a></li>
<li><a href="#750"><span>5.2.</span><span> Debitorenkonten einrichten</span></a></li>
<li><a href="#800"><span>5.3.</span><span> Erlöskonten einrichten</span></a></li>
<li><a href="#820"><span>5.4.</span><span> Buchungskonten für Kassenvorfälle speichern (ab plentymarkets App Version 1.7.3)</span></a></li>
</ul>
</li>
<li><a href="#850"><span>6.</span><span> Einstellungen auf andere Standorte übertragen</span></a></li>
<li><a href="#900"><span>7.</span><span> Buchhaltungsdaten exportieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Buchhaltung</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Erfahre mehr über buchhaltungsrelevante Einstellungen in plentymarkets. Hierzu zählen unter anderem Umsatzsteuersätze, Rundungseinstellungen, Buchungsschlüssel, Erlöskonten, Debitorenkonten, aber auch Zolltarifnummern.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Grundlagen der Preisberechnung in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Preisberechnung in Aufträgen beruht auf dem Bruttopreis der Varianten. Ausgehend von diesem Bruttopreis wird der Nettopreis der Varianten für den Auftrag errechnet. Die Auftragspositionsummen errechnen sich durch Multiplikation der Einzelpreise mit der gekauften Anzahl eines Artikels. Die Bruttosumme einer Auftragsposition errechnet sich also aus dem Bruttoeinzelpreis multipliziert mit der Anzahl eines Artikels. Die Nettosumme einer Auftragsposition errechnet sich aus dem errechneten und auf 4 oder 2 Nachkommastellen gerundeten Nettoeinzelpreis, multipliziert mit der gekauften Anzahl eines Artikels. Die Nachkommastellen des Einzelpreises werden durch die Einstellungen in der Buchhaltung bestimmt. Der Umsatzsteuerbetrag für eine Auftragsposition ist die Differenz aus Bruttosumme minus Nettosumme.<br>
Durch deine Einstellungen bestimmst du, ab wann der Preis auf 2 Nachkommastellen gerundet wird. Anschließende Berechnungen basieren auf diesen gerundeten Werten. Mithilfe der Einstellungen lassen sich folgende Ergebnisse erreichen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Gerundete Einzelpreise</p>
</li>
<li>
<p>Gerundete Auftragspositionssummen</p>
</li>
<li>
<p>Gerundete Gesamtbeträge</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="150">2. Speichern und Runden einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Standorte » [Standort wählen] » Buchhaltung</strong> kannst du die Speicher- und Rundungseinstellungen für Preise vornehmen. Diese Einstellungen sind mandanten- und standortabhängig. Für die Berechnung von Auftragspreisen werden die Einstellungen berücksichtigt, die zum Zeitpunkt der Auftragsanlage eingestellt waren. Das bedeutet, dass eine Änderung an den Speicher- und Rundungseinstellungen nicht auf bereits bestehende Aufträge angewendet werden.</p>
</div>
<div class="paragraph instruction">
<p>Speichern und Runden einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Standorte » [Standort wählen] » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> öffnet sich.</p>
</li>
<li>
<p>Nimm die Einstellungen anhand der Informationen in <a href="#table-rounding-and-saving-prices">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-rounding-and-saving-prices" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Speicher- und Rundungseinstellungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl Nachkommastellen bei Preisen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2 oder 4 Nachkommastellen wählen<br>
<strong>2</strong> = Preise im Auftrag werden mit nur 2 Nachkommastellen gespeichert. Dadurch wird indirekt auch erreicht, dass der Einzelpreis gerundet wird. Die weitere Berechnung der Summen und des Rechnungsbetrages erfolgt dann basierend auf den gerundeten Einzelpreisen.<br>
<strong>4</strong> = Preise werden im Auftrag mit 4 Nachkommastellen gespeichert. Wenn 4 Nachkommstellen gewählt werden, werden standardmäßig die Summen von Auftragsposition gerundet. Im Hintergrund werden die Summen jedoch ungerundet mit 4 Nachkommastellen gespeichert, so dass es möglich bleibt, später auch nur die Gesamtbeträge zu runden. Aktiviere die Option <strong>Nur Gesamtpreise runden</strong>, um das standardmäßige Rundungsverhalten bei 4 Nachkommastellen aufzuheben und erst zu einem späteren Zeitpunkt die Rundung durchzuführen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur Gesamtpreise runden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um das standardmäßge Runden bei 4 Nachkommastellen außer Kraft zu setzen und stattdessen erst die Gesamtbeträge zu runden. Gesamtbeträge bezieht sich auf den Warenwert eines Auftrages. Bezogen auf die Dokumenteinstellungen einer Rechnung sind das die Werte, die unter der Überschrift <strong>Summen</strong> aufgeführt werden.<br>
Bei 4 Nachkommastellen werden ohne Aktivieren dieser Option die Summen der Auftragspositionen gerundet.<br>
Bei 2 Nachkommastellen hat das Aktivieren dieser Option keine Auswirkungen, da bereits der Einzelpreis gerundet wird.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="200">2.1. Beispielberechnungen</h3>
<div class="paragraph">
<p>Im folgenden wird ein Vergleich der unterschiedlichen Berechnungvarianten und der resultierenden Beträge anhand eines Beispiels dargestellt.<br>
Verkauft wurden Stoffe. Es wurde mehrere Bahnen des gleichen Stoffs in einer Breite von 50 Zentimeter und von 30 Zentimeter gekauft. Die 50-Zentimeterbahn wurde 8 mal gekauft und die 30-Zentimeterbahn 7 mal. 30 Zentimeter kosten 2,187 € und 50 Zentimeter kosten 3,645 €. Die Preise basieren auf einem Meterpreis von 7,29 €. Die Tabelle zeigt ebenfalls, welche Einstellungen für welche Variante gewählt werden müssen.</p>
</div>
<div id="bild-Preise-runden-Vergleich" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftraege/assets/Preise-runden.png" alt="Preisrunden" width="849" height="417">
</div>
<div class="title">Bild 1. Preisrundungsvarianten im Vergleich</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Umsatzsteuereinstellungen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Einstellungen zur Umsatzsteuer sind standortabhängig. Du kannst also für jeden Standort andere Einstellungen festlegen. Standorte sind notwendig für Firmensitze oder Versandländer, d.h. Länder aus denen du versendest. Standardmäßig sind 2 Standorte, Deutschland und United Kingdom, in deinem System eingerichtet. Für den Produktivbetrieb benötigst du eigene Standorte.<br>
Dein System unterscheidet bei Standortländern zwischen Mitgliedsländern der EU und anderen Ländern. Wenn du einen Standort einrichtest, der nicht in der EU liegt, wird jede Lieferung in ein anderes Land als Ausfuhrlieferung betrachtet. Wenn dein Standort in der EU liegt, wird zwischen innergemeinschaftlichen Lieferungen und Ausfuhrlieferungen unterschieden.<br>
Zu den umsatzsteuerrelevanten Grundeinstellungen zählen Festlegungen zum Umgang mit Ausfuhrlieferungen und zur Anzeige der Umsatzsteuer von Versandkosten. Für EU-Standorte legst du außerdem fest, wie sich das System bei einer Umsatzsteuer-ID im Auftrag verhält.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Standortbeispiele nicht für den Produktivbetrieb nutzen</div>
<div class="paragraph">
<p>Die Standorte Deutschland und United Kingdom sind Beispiele und nicht für den Produktivbetreib geeignet. Lege eigene Standorte an oder bearbeite die bestehenden Standorte. Füge mindestens eine neue Steuerkonfiguration mit deiner korrekten Ust.-IdNr. sowie den korrekten Steuersätzen hinzu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="320">3.1. Neuen Standort anlegen</h3>
<div class="paragraph">
<p>Gehen wie im Folgenden beschrieben vor, um einen neuen Standort anzulegen. Lege außerdem einen Standort als deinen <a href="/webshop/mandanten-verwalten#20">Standard-Standort</a> fest. Der Standard-Standort ist sozusagen der Hauptfirmensitz.</p>
</div>
<div class="paragraph instruction">
<p>Neuen Standort anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>System&nbsp;» Mandant » [Mandant wählen]&nbsp;» Standorte</strong>.</p>
</li>
<li>
<p>Wähle den Menüpunkt <strong>Neuer Standort</strong>.<br>
→ Ein Bearbeitungsfenster öffnet sich.</p>
</li>
<li>
<p>Gib den <strong>Namen</strong> des neuen Standorts ein.</p>
</li>
<li>
<p>Wähle das <strong>Land</strong> des neuen Standorts. Zur Wahl stehen nur Länder, die in deinem plentymarkets System bereits als Lieferländer aktiviert sind.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Der Standort wird der Liste der Standorte hinzugefügt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Jeder Standort ist unterteilt in die folgenden 3 Untermenüs:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Einstellungen</p>
</li>
<li>
<p>Buchhaltung</p>
</li>
<li>
<p>Dokumente</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Das Untermenü <strong>Einstellungen</strong> enthält die ID, den Namen und das Land des Standortes. Das Untermenü <strong>Buchhaltung</strong> enthält mehrere Tabs und die Möglichkeiten werden auf dieser Seite ab dem Kapitel <a href="/auftraege/buchhaltung#350">Kleinunternehmerregelung anwenden</a> ausführlich beschrieben. Im Untermenü <strong>Dokumente</strong> richtest du standortspezifische Dokumente wie Rechnung und Lieferschein ein. Weitere Informationen zu diesen Dokumenten findest du auf der Handbuchseite <a href="/auftraege/auftragsdokumente">Auftragsdokumente</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="330">3.2. Standort löschen</h3>
<div class="paragraph">
<p>Du kannst einen Standort nur löschen, wenn ein weiterer Standort vorhanden ist. Ein Standort, der als <a href="/webshop/mandanten-verwalten#20">Standard-Standort</a> hinterlegt ist, kann nicht gelöscht werden.</p>
</div>
<div class="paragraph instruction">
<p>Standort löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>System&nbsp;» Mandant » [Mandant wählen]&nbsp;» Standorte</strong>.</p>
</li>
<li>
<p>Öffne das Untermenü <strong>Einstellungen</strong> des zu löschenden Standorts.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>).<br>
→ Der Standort wird nach einer Sicherheitsabfrage gelöscht.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="350">3.3. Kleinunternehmerregelung anwenden</h3>
<div class="paragraph">
<p>Wenn du Kleinunternehmer:in bist und erreichen willst, dass auf Rechnungen keine Steuersätze angewendet werden, genügt das Aktivieren einer Option in den Standorteinstellungen. Für eine korrekte Funktionsweise des Systems musst du jedoch trotzdem Umsatzsteuersätze speichern. Diese werden allerdings nicht angewendet.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kleinunternehmereinstellung nur sichtbar bei Deutschland als Systemland</div>
<div class="paragraph">
<p>Die Einstellung Kleinunternehmer ist nur sichtbar, wenn für dein System Deutschland als Systemland gespeichert wurde. Es handelt sich hierbei um eine Einstellung, auf die du keinen Zugriff hast und die anhand deiner Informationen beim Bestellen eines plentymarkets Systems gewählt wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kleinunternehmerregelung anwenden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Standorte » [Standort wählen] » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> öffnet sich.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Kleinunternehmer (nur für Deutschland)</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Kleinunternehmerhinweis auf Rechnungen ausgeben</div>
<div class="paragraph">
<p>Als Kleinunternehmer:in musst du den Grund für die fehlenden Umsatzsteuerangaben auf der Rechnung ausgeben. Trage also einen Hinweis in der Rechnungsvorlage ein. Die oben beschriebene Einstellung sorgt nicht dafür, dass auf der Rechnung automatisch ein Hinweis ausgegeben wird, der dich als Kleinunternehmer:in ausweist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="400">3.4. Rechnungsstellung bei innergemeinschaftlichen EU-Lieferungen einstellen</h3>
<div class="paragraph">
<p>Für Lieferungen innerhalb der Europäischen Union kannst du wählen, ob Kund:innen mit einer Umsatzsteuer-ID eine Netto-Rechnung oder eine Brutto-Rechnung erhalten. In vielen Fällen haben bei der Rechnungserstellung die Daten der Lieferempfänger:in Vorrang. Damit eine Netto-Rechnung ausgestellt wird, muss die Lieferadresse in einem anderen EU-Mitgliedsland liegen als dem Land der Versender:in. Bei Lieferungen innerhalb eines EU-Mitgliedslandes wird unabhängig von der gewählten Einstellung immer Umsatzsteuer berechnet. Um das zu verhindern, muss der Lieferung eine Gelangensbestätigung beigelegt werden und dies im Auftrag bei der Lieferanschrift gewählt werden. Bei Privatkäufen wird ebenfalls immer eine Rechnung mit Umsatzsteuer ausgestellt, es sei denn du nutzt die Kleinunternehmereinstellung.</p>
</div>
<div class="paragraph instruction">
<p>Brutto- oder Nettorechnung für innergemeinschaftliche Lieferungen einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wähle einen Standort unter <strong>Einrichtung » Mandant » [Mandant wählen] » Standorte » [Standort wählen] » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle für <strong>Umsatzsteuer-ID</strong> eine Option aus der Dropdown-Liste. Beachte die Erläuterungen in <a href="#table-intra-EU-invoices">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-intra-EU-invoices" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Rechnungseinstellung für innergemeinschaftliche EU-Lieferungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatzsteuer-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gilt nur für Lieferungen innerhalb der EU.<br>
Für Standorte außerhalb der EU hat die Einstellung keine Auswirkung.<br>
<strong>Brutto-Rechnung</strong> = Alle Rechnungen für innergemeinschaftliche Lieferungen werden brutto ausgestellt.<br>
<strong>Netto-Rechnung</strong> = Rechnungen bei Kund:innen, die eine Umsatzsteuer-ID haben, werden netto, d.h. ohne Umsatzsteuer, ausgestellt.<br>
Liegt die Lieferadresse der Kund:in im selben Land wie der Standort, wird für den Auftrag trotzdem Umsatzsteuer berechnet. Per Gesetz ist es jedoch zulässig, bei Kund:innen mit gültiger Umsatzsteuer-ID im europäischen Ausland auch bei einer deutschen Lieferadresse den Auftrag netto auszuführen, wenn dem Auftrag eine <a href="/auftraege/auftragsdokumente/gelangensbestaetigung-erzeugen">Gelangensbestätigung</a> beigelegt wird. Daher gibt es in der Lieferanschrift im Auftrag und in den Kundendaten die Einstellung <strong>Gelangensbestätigung</strong>. Das Aktivieren im Auftrag bewirkt, dass die Gelangensbestätigung einmalig für diesen Auftrag angewendet wird. Das Aktivieren in den Kundendaten bewirkt, dass die Gelangensbestätigung immer bei dieser Lieferadresse der Kund:in angewendet wird. Wird die Option <strong>Gelangensbestätigung</strong> aktiviert, werden Lieferungen ins EU-Ausland mit deutscher Lieferanschrift wie eine EU-Auslandssendung behandelt. Ob die Rechnung brutto oder netto ausgestellt wird, ist dann von den Einstellungen <strong>Umsatzsteuer-ID</strong> und <strong>Ausfuhrlieferung</strong> in diesem Menü abhängig. Ist die Option <strong>Gelangensbestätigung</strong> nicht aktiviert, werden diese Aufträge brutto berechnet.</p></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="450">3.4.1. Beispiele für Einstellungsauswirkung</h4>
<div class="paragraph">
<p>Im folgenden werden 6 mögliche Kombinationen und ihre Auswirkungen beschrieben.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Wie wirkt sich die Einstellung Nettorechnung aus, wenn Versender:in, Lieferempfänger:in und Rechnungsempfänger:in im gleichen EU-Land sind?</div>
<div class="content">
<div class="paragraph">
<p>In diesem Fall wird die Rechnung trotz der Einstellung Nettorechnung immer brutto ausgestellt.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Wie wirkt sich die Einstellung Nettorechnung aus, wenn Versender:in und Lieferempfänger:in im gleichen EU-Land sind, aber die Rechnungsempfänger:in in einem anderen EU-Land ist?</div>
<div class="content">
<div class="paragraph">
<p>In diesem Fall wird die Rechnung trotz der Einstellung Nettorechnung brutto ausgestellt. Jedoch ist, wenn die Rechnungsempfänger:in eine Ust.-Id.-Nr. hat, eine Nettorechnung zulässig. Damit die Rechnung tatsächlich netto ausgestellt wird, muss aber zusätzlich in den Lieferadressdaten des Auftrags die Gelangensbestätigung aktiviert sein. Wenn die Gelangensbestätigung nicht aktiviert ist, wird eine Brutto-Rechnung ausgestellt. Die Gelangensbestätigung muss in jedem Auftrag individuell aktiviert werden.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Wie wirkt sich die Einstellung Nettorechnung aus, wenn Versender:in und Rechnungsempfänger:in im gleichen EU-Land sind, aber die Lieferempfänger:in in einem anderen EU-Land ist?</div>
<div class="content">
<div class="paragraph">
<p>Wenn die Empfänger:in der Lieferung eine Ust.-Id.-Nr. hat, wird die Rechnung netto ausgestellt. Die inländische Rechnungsempfänger:in spielt in diesem Fall keine Rolle.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Wie wirkt sich die Einstellung Nettorechnung aus, wenn die Versender:in in einem EU-Land ist, aber Lieferempfänger:in und Rechnungsempfänger:in in einem anderen EU-Land sind?</div>
<div class="content">
<div class="paragraph">
<p>Sobald eine von beiden, Liefer- oder Rechnungsempfänger:in, eine Ust.-Id.-Nr. hat, wird die Rechnung netto ausgestellt. Wenn keine von beiden eine Ust.-Id.-Nr. hat, wird die Rechnung brutto ausgestellt.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Wie wirkt sich die Einstellung Nettorechnung aus, wenn die Versender:in in einem EU-Land, aber die Lieferempfänger:in in einem anderen EU-Land und die Rechnungsempfänger:in außerhalb der EU ist?</div>
<div class="content">
<div class="paragraph">
<p>Sobald eine von beiden, Liefer- oder Rechnungsempfänger:in, eine Ust.-Id.-Nr. hat, wird die Rechnung netto ausgestellt. Wenn keine von beiden eine Ust.-Id.-Nr. hat, wird die Rechnung brutto ausgestellt.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Wie wirkt sich die Einstellung Nettorechnung aus, wenn die Versender:in in einem EU-Land, aber die Rechnungsempfänger:in in einem anderen EU-Land und die Lieferempfänger:in außerhalb der EU ist?</div>
<div class="content">
<div class="paragraph">
<p>In diesem Fall handelt es sich um eine Ausfuhrlieferung und die Einstellung für Ausfuhrlieferung wird angewendet. Welche Einstellungsoptionen du für Ausfuhrlieferungen hast, wird im nächsten Abschnitt beschrieben.</p>
</div>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="500">3.5. Rechnungsstellung bei Ausfuhrlieferung einstellen</h3>
<div class="paragraph">
<p>Du kannst für jeden Standort festlegen, ob für Ausfuhrlieferungen eine Netto-Rechnung oder eine Brutto-Rechnung ausgestellt wird. Grundlage für eine Ausfuhrlieferung ist die Annahme, dass du dein Geschäft in der EU betreibst. Die gewählte Einstellung greift, wenn die Lieferung in ein Land erfolgt, das nicht zur Europäischen Union gehört. Netto-Rechnung bedeutet, dass Kunden eine Rechnung ohne Umsatzsteuer erhalten.</p>
</div>
<div class="paragraph instruction">
<p>Brutto- oder Nettorechnung für Ausfuhrlieferung einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Standorte » [Standort wählen] » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle für <strong>Ausfuhrlieferung</strong> eine Option aus dem Dropdown-Menü. Beachte die Erläuterungen in <a href="#table-export-shipping-invoices">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-export-shipping-invoices" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Rechnungseinstellungen für Ausfuhrlieferung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ausfuhrlieferung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Netto-Rechnung</strong> = Rechnungen für Ausfuhrlieferungen werden ohne Umsatzsteuer ausgestellt.<br>
Diese Einstellung wird jedoch ignoriert, wenn für das Ausfuhr-Lieferland Steuersätze eingetragen sind. In diesem Fall wird die Rechnung trotzdem brutto ausgestellt.<br>
<strong>Brutto-Rechnung</strong> = Die Umsatzsteuer wird auf Rechnungen für Ausfuhrlieferungen ausgewiesen.<br>
Welcher Steuersatz angewendet wird, hängt davon ab, ob für das Ausfuhr-Lieferland ein Umsatzsteuersatz eingestellt wurde oder nicht. Wenn für das Ausfuhr-Lieferland Steursätze eingestellt sind, werden diese verwendet. Wenn für das Ausfuhr-Lieferland kein Steuersatz eingestellt ist, wird der Steuersatz das Standortlandes angewendet.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="525">3.6. Lieferschwelle und OSS</h3>
<div class="paragraph">
<p>Ab 01.07.2021 fallen die unterschiedlichen Lieferschwellen für EU-Länder weg. Stattdessen gibt es eine gemeinsame Lieferschwelle von B2C-Lieferungen für alle EU-Länder von <strong>insgesamt 10.000 EUR</strong>.<br>
Verkaufst du in andere EU-Länder und überschreitest dabei die Lieferschwelle, bist du in anderen Ländern umsatzsteuerpflichtig. Wieviel Umsatzsteuer du in welchem Land bezahlen musst, ist abhängig von den einzelnen Transaktionen. Die Abrechnung der Umsatzsteuer von B2C-Lieferungen kann zentral über das Verfahren One-Stop-Shop (OSS) abgewickelt werden und erfolgt dann nicht mehr einzeln pro EU-Land. Der Meldezeitraum ist hier immer pro Quartal und die Zahlungsfrist endet 30 Tage nach Ablauf des Meldezeitraumes.<br>
Verantwortlich für das OSS-Verfahren in Duteschland ist das Bundeszentralamt für Steuern, bei dem du dich auch direkt <a href="hhttps://www.elster.de/bportal/start">für OSS anmelden</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> kannst. Allgemeine Informationen über OSS findest du <a href="https://www.bzst.de/DE/Unternehmen/Umsatzsteuer/One-Stop-Shop_EU/one_stop_shop_eu_node.html">hier</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Die Teilnahme am OSS ist nicht verpflichtend. Wie empfehlen dir, dich mit deinem Steuerbüro auszutauschen, ob die Teilnahme für dich sinnvoll ist.</p>
</div>
<div class="paragraph">
<p>Um dies alles in plentymarkets abzubilden, musst du vor allem zwei Dinge umsetzen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/auftraege/buchhaltung#550">Umsatzsteuersätze</a> für die Länder einrichten, in die du lieferst. Dies ist nicht zu verwechseln mit dem Anlegen eines neuen <a href="/auftraege/buchhaltung#320">Standorts</a>. Du kannst die Umsatzsteuersätze wie im <a href="/auftraege/buchhaltung#550">folgenden Kapitel</a> beschrieben anlegen oder du nutzt den Assistenten für EU-Umsatzsteuersätze. Wichtig ist, dass du genau darauf achtest die korrekten Daten einzutragen, da sonst falsche Steuersätze oder Fehlkonfigurationen entstehen können, die sich nicht rückgängig machen lassen.</p>
</li>
<li>
<p><a href="/auftraege/buchhaltung#620">Zolltarifnummern</a> pflegen, da diese zentral für die Abbildung der unterschiedlichen Besteuerung von Artikeln sind. Hinterlege die Zolltarifnummern an Varianten und verknüpfe diese anschließend in der Zolltarifnummerntabelle mit den entsprechenden Steuersätzen der einzelnen EU-Länder.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Im Forumsbeitrag <a href="https://forum.plentymarkets.com/t/stichtag-01-07-2021-faq-zu-eu-umsatzsteuer-harmonisierung-lieferschwellen-oss-co/642767">Stichtag 01.07.2021: FAQ zu EU-Umsatzsteuer, Harmonisierung Lieferschwellen, OSS &amp; Co</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> findest du weitere Informationen und einen kombinierten Thread mit FAQs, der stetig erweitert wird.</p>
</div>
</div>
<div class="sect2">
<h3 id="550">3.7. Umsatzsteuersätze einrichten</h3>
<div class="paragraph">
<p>In plentymarkets ist die Unterscheidung zwischen Standorten und Lieferländern, in denen du steuerpflichtig bist, wichtig. Ein Standort ist sozusagen ein Firmensitz. Standardmäßig sind in plentymarkets 2 Standorte vorangelegt. Diese Standorte sind Deutschland und United Kingdom. Du benötigst mindestens einen Standort und weitere Standorte, wenn du in weiteren Ländern Niederlassungen hast. Für die beiden vorangelegten Standorte ist bereits je eine Beispielkonfiguration mit Steuersätzen eingerichtet. Verwende diese vorhandenen Einstellungen jedoch nicht für den Produktivbetrieb deines Systems. Füge eigene Einstellungen hinzu und lösche anschließend die vorangelegten. Du musst also mindestens eine Einstellung einrichten.<br>
Du kannst mit dieser Konfiguration in verschiedene Länder versenden. Sobald du die EU-weite gemeinsame <a href="/auftraege/buchhaltung#525">Lieferschwelle</a> von 10.000 EUR überschreitest, musst du weitere Konfigurationen für die EU-Länder, in die du versendest, hinzufügen. Standorte fügst du für Firmensitze hinzu und das Land des Standortes mit Steuerkonfiguration für korrekte Abrechnungen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Informationen des Bundesamts für Steuern</div>
<div class="paragraph">
<p>Steuerliche Informationen zu den europäischen Lieferländern sowie USA und Japan findest du zum Beispiel auf der Website des <a href="https://www.bzst.de/DE/Home/home_node.html">Bundeszentralamts für Steuern</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Umsatzsteuersätze einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wähle einen Standort unter <strong>Einrichtung » Mandant » [Mandant wählen] » Standorte » [Standort wählen] » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> öffnet sich.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Umsatzsteuersätze</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Konfiguration</strong>.</p>
</li>
<li>
<p>Wähle ein <strong>Land</strong>.</p>
</li>
<li>
<p>Trage den höchsten Steuersatz in <strong>Steuersatz A</strong> ein. Trage weitere Steuersätze absteigend ein.</p>
</li>
<li>
<p>Trage deine <strong>Umsatzsteuer-ID</strong> ein.</p>
</li>
<li>
<p>Wähle ein Datum, ab dem die Steuersätze gelten sollen.</p>
</li>
<li>
<p>Beachte die Erläuterungen zu den Einstellungen in <a href="#table-setting-up-VAT-configuration">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die neue Konfiguration öffnet sich und die Einstellung für Differenzbesteuerung wird zusätzlich angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Ändern von Steuerkonfigurationen im Nachhinein nicht möglich</div>
<div class="paragraph">
<p>Sobald eine Steuerkonfiguration aktiv ist, lässt sich nur noch das Datum <strong>Ungültig ab</strong> ändern. Achte daher beim Anlegen von Steuerkonfigurationen unbedingt auf die korrekte Eingabe der Daten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-setting-up-VAT-configuration" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Einstellungen einer Steuerkonfiguration vornehmen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Land wählen, in dem du steuerpflichtig bist.<br>
<strong><em>Wichtig</em></strong>: Nachträglich kann das Land nicht geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Steuersatz A in %</strong><br>
<strong>Steuersatz B in %</strong><br>
<strong>Steuersatz C in %</strong><br>
<strong>Steuersatz D in %</strong><br>
<strong>Steuersatz E in %</strong><br>
<strong>Steuersatz F in %</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Steuersätze eintragen, beginnend mit dem höchsten und dann absteigend.<br>
<strong><em>Wichtig</em></strong>: Nachträglich können einer Konfiguration keine Steuersätze hinzugefügt oder bestehende Einträge geändert werden. Die <strong>Namen</strong> sind nur für die Buchhaltungssoftware Xero relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-revenue-account-optional">Erlöskonto (optional)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dies ist ein optionales Feld, das sich auch nachträglich füllen lässt. Trage an einem Steuersatz nur dann ein dazugehörendes Erlöskonto ein, wenn der Umsatzsteuersatz von denen unter <a href="/auftraege/buchhaltung#800">Erlöskonten</a> zugeordneten abweicht, aber derjenige ist, der gelten soll.<br>
Trage dafür an der Steuerkonfiguration, die die Mehrwertsteuersenkung abbildet, die dazugehörigen Erlöskonten ein. Dadurch haben diese Vorrang und werden priorisiert.<br>
<em>Beachte also</em>, dass bei der Ermittlung der Erlöskonten der hier eingetragene Wert zuerst beachtet wird und erst dann auf den unter <strong>Konten</strong> definierten Wert zurückgegriffen wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Differenzbesteuerung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angeben, welcher Steuersatz für differenzbesteuerte Artikelpositionen in Rechnungen benutzt werden soll. Wenn kein Steuersatz ausgewählt ist, können differenzbesteuerte Artikelpositionen in Rechnungen nicht angezeigt werden (= Grundeinstellung).<br>
Die Einstellung wird erst nach dem Speichern einer Konfiguration sichtbar.<br>
<strong><em>Wichtig</em></strong>: Bei der Einstellung <strong>Differenzbesteuerung</strong> handelt es sich um eine ältere Sonderimplementierung, bei der der Steuersatz für den gesamten Betrag der differenzbesteuerten Artikelpositionen verwendet wird und nicht nur für die Differenz zwischen Verkaufs- und Einkaufspreis.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatzsteuer-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib deine Umsatzsteueridentifikationsnummer ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gültig ab</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Datum im Kalender wählen, ab dem die Steuersätze gelten sollen.<br>
<strong><em>Wichtig</em></strong>: Bei manueller Eingabe das Jahr vierstellig eintragen, da eine zweistellige Eingabe, z.B. 14 statt 2014, zu Fehlern führt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ungültig ab</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Datum im Kalender wählen, ab dem die Steuersätze nicht länger gelten sollen.<br>
Stelle ein Datum ein, wenn du z.B. nicht länger steuerpflichtig in einem Lieferland bist oder eine Konfiguration nur bis zu einem bestimmten Datum gelten sollen.<br>
<strong><em>Wichtig</em></strong>: Bei manueller Eingabe das Jahr vierstellig eintragen, da eine zweistellige Eingabe, z.B. 14 statt 2014, zu Fehlern führt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur für digitale Artikel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere diese Option, wenn die Steuerkonfiguration nur für digitale Artikel gelten soll. Beachte das Kapitel <a href="/buchahltung/auftraege#600">Umsatzsteuer für digitale Artikel</a>.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Vorübergehende Umsatzsteuersenkung</div>
<div class="paragraph">
<p>Im Rahmen eines Corona-Konjunkturpaketes wurden die Umsatzsteuersätze vorübergehend vom <strong>01. Juli 2020 bis 31. Dezember 2020</strong> von 19% auf <strong>16%</strong> und von 7% auf <strong>5%</strong> gesenkt. Informationen dazu und den entsprechenden Buchhaltungseinstellungen in deinem plentymarkets System erhältst du im Blogeintrag <a href="https://www.plentymarkets.eu/blog/Das-neue-Corona-Konjunkturpaket-So-einfach-passt-du-die-Umsatzsteuer-in-plentymarkets-an/b-2328/" target="_blank" rel="noopener">Das neue Corona-Konjunkturpaket: So einfach passt du die Umsatzsteuer in plentymarkets an</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> sowie im Forumsbeitrag <a href="https://forum.plentymarkets.com/t/corona-konjunkturpaket-faq-zu-den-mehrwertsteuer-senkungen-der-bundesregierung/593503">Corona-Konjunkturpaket: FAQ zu den Mehrwertsteuer-Senkungen der Bundesregierung</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="600">3.8. Umsatzsteuer für digitale Artikel</h3>
<div class="paragraph">
<p>Für digitale Artikel muss der Steuersatz der Käufer:in angewendet werden. Diese Steuersätze werden aufgrund einer EU-Verordnung seit 1.1.2015 benötigt. Wenn für ein Lieferland bereits ein Steuersatz vorhanden ist, braucht kein weiterer Steuersatz nur für digitale Artikel angelegt werden. Der vorhandene Steuersatz wird verwendet. Sind für ein oder mehrere Lieferländer keine Steuersätze eingerichtet, richte deine Buchhaltung dafür in plentymarkets wie im Folgenden beschrieben ein.<br>
Die EU-Verordnung betrifft B2C-Umsätze. B2B-Umsätze ohne Umsatzsteuer bleiben von der Regelung unberührt.</p>
</div>
<div class="paragraph instruction">
<p>Digitale Artikel steuerlich auszeichnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Standorte » [Standort wählen] » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> öffnet sich.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Umsatzsteuersätze</strong>.</p>
</li>
<li>
<p>Lege eine Steuerkonfiguration für jedes Lieferland an, in dem du digitale Artikel verkaufst.</p>
</li>
<li>
<p>Aktiviere in der Steuerkonfiguration die Option <strong>Nur für digitale Artikel</strong>.</p>
</li>
<li>
<p>Lege ein <a href="/artikel/artikel-verwalten#80">Merkmal</a> für digitale Artikel an, z.B. mit dem Namen <strong>Digital</strong>. Das Merkmal darf kein Bestellmerkmal sein.</p>
</li>
<li>
<p>Stelle das Merkmal im Menü <strong>Einrichtung » Artikel » Einstellungen</strong> bei der Option <strong>Artikelmerkmal zur Erkennung von digitalen Produkten</strong> ein.</p>
</li>
<li>
<p>Hinterlege das Merkmal bei jedem Artikel, der als digitales Medium verkauft wird, im Tab Merkmale.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="620">4. Zolltarifnummern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zolltarifnummern, auch Taric genannt, werden im Handel innerhalb der EU genutzt. Es handelt sich dabei um eine eindeutige, festgelegte Nummer, die einer Ware zugeordnet ist und auf steuerrelevanten Dokumenten mit ausgegeben werden muss.</p>
</div>
<div class="paragraph">
<p>Zolltarifnummern sind für dich relevant, wenn du innerhalb der EU verkaufst und die <a href="/auftraege/buchhaltung#525">Lieferschwelle</a> von 10.000 EUR für B2C-Verkäufe überschritten hast. In diesem Fall solltest du die Zolltarifnummern rechtzeitig einpflegen. Wie empfehlen, dass du die Einzelheiten zur Besteuerung deiner Waren im EU-Ausland mit deinem Steuerbüro klärst.</p>
</div>
<div class="paragraph">
<p>Waren werden in den EU-Ländern unterschiedlich besteuert. Damit für Aufträge auch bei abweichenden Besteuerungen im EU-Ausland die richtigen Steuersätze verwendet werden und somit die Auftragsberechnung korrekt verläuft, müssen Zolltarifnummern im System eingegeben und mit den für die verschiedenen Länder hinterlegten Steuersätzen abgeglichen werden.
Grundlegend dafür ist, dass du zunächst die Zolltarifnummern im System pflegst. Die <a href="/artikel/artikel-verwalten#280">Hinterlegung von Zolltarifnummern</a> erfolgt an den <strong>Varianten</strong> eines Artikels. Des Weiteren sollten <a href="/auftraege/buchhaltung#550">Umsatzsteuersätze</a> für die entsprechenden Länder eingerichtet sein. Umsatzsteuersätze lassen sich auch nachtragen, wir empfehlen aber unbedingt die rechtzeitige Erstellung im System.</p>
</div>
<div class="paragraph">
<p>Die Tabelle im Menü <strong>Einrichtung » Mandant » Global » Zolltarifnummern</strong> ermöglicht die Verknüpfung von an der Variante hinterlegter Zolltarifnummer, Umsatzsteuer und Land. Diese Zolltarifnummerntabelle ist somit eine Grundlage der Berechnung bei Aufträgen und muss ausgefüllt und gepflegt werden.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Das passiert im Hintergrund bei der Auftragsberechnung</strong></div>
<div class="content">
<div class="paragraph">
<p>Es kommt zum Beispiel ein Auftrag mit Lieferland Frankreich ins System. Für die Artikelposition im Auftrag ist an der Variante Steuersatz A hinterlegt. In Frankreich gilt dafür aber Steuersatz B. Deswegen ist in der Zolltarifnummerntabelle ein Eintrag mit der gleichen Zolltarifnummer, die auch an der Variante hinterlegt ist, zu finden. In der Tabelle ist diese Zolltarifnummer aber für Frankreich mit Steuersatz B hinterlegt. Dies erkennt die Auftragslogik und nimmt in solchen Fällen immer den in der Zolltarifnummerntabelle hinterlegten Steuersatz.</p>
</div>
</div>
</div>
<div class="paragraph">
<p>Sollte an der Variante oder in der Tabelle keine Zolltarifnummer hinterlegt sein, wird kein abweichender Steuersatz für die Berechnung verwendet. Dies bedeutet für dich, dass du nur bei <em>abweichender Besteuerung</em> einer Variante die entsprechende Zolltarifnummer in der Tabelle hinterlegen musst.</p>
</div>
<div class="paragraph">
<p>Zum Import der Zolltarifnummern kannst du das Import-Tool verwenden. Du kannst die Nummern aber auch manuell einpflegen. Wir empfehlen, das Import-Tool zu nutzen und nur einzelne Zolltarifnummern oder kleine Änderungen manuell in der Tabelle zu pflegen.
<em>Beachte</em> bei der Eingabe, dass Nummern bis zu maximal 14 Zeichen Länge hinterlegt werden können. Die Eingabe von Sonder- und Leerzeichen ist nicht erlaubt.</p>
</div>
<div class="paragraph">
<p>Für den Import von Zolltarifnummern steht dir der Import-Typ <a href="/daten/daten-importieren/sync-typen/elasticSync-zuordnung-zolltarifnummer">Zuordnung Zolltarifnummer</a> zur Verfügung. Allgemeine Informationen zum Import über das Import-Tool findest du auf der Handbuchseite <a href="/daten/daten-importieren/ElasticSync">Import-Tool nutzen</a>.</p>
</div>
<div class="paragraph">
<p>Um die Zolltarifnummerntabelle manuell zu füllen, gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Zolltarifnummerntabelle manuell bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Zolltarifnummern</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Zuordnung neu anlegen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Der Tabelle wird eine neue Zeile hinzugefügt.</p>
</li>
<li>
<p>Gib die <strong>Zolltarifnummer</strong> ein.</p>
</li>
<li>
<p>Wähle das entsprechende <strong>Land</strong> aus.</p>
</li>
<li>
<p>Wähle die dazugehörige <strong>Umsatzsteuer</strong> aus.</p>
</li>
<li>
<p>Klicke am Ende der Zeile auf <strong>Speichern</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>).<br>
→ Das Speichern wird bestätigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In der Tabelle werden dir gefundene Variantenverknüpfungen mit einem grünen Punkt markiert angezeigt. Das bedeutet, dass diese Zolltarifnummer aktuell in einer Variante in Verwendung ist. Wird ein roter Punkt angezeigt, wurde keine Variantenverknüpfung gefunden. Die Zolltarifnummer ist dementsprechend in keiner Variante in Verwendung.</p>
</div>
<div class="paragraph">
<p>Es stehen dir weitere Bearbeitungsfunktionen zur Verfügung, beachte hierfür <a href="#table-editing-options-taric-code">Tabelle 5</a>.</p>
</div>
<table id="table-editing-options-taric-code" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Bearbeitungsfunktionen Zolltarifnummer</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Funktion</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suche</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Innerhalb der Tabelle kannst du nach Zuordnungen <strong>suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>). Dafür stehen dir die Filter <strong>Zolltarifnummer</strong> und <strong>Land</strong> zur Verfügung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zuordnung bearbeiten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Um eine bestehende Zuordnung zu <strong>bearbeiten</strong>, klicke in die entsprechende Zeile und nimm die erforderlichen Anpassungen vor. Klicke danach auf <strong>speichern</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>). Die Bearbeitung wird bestätigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zuordnung löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Um eine bestehende Zuordnung zu löschen, klicke am Ende der Zeile in der Spalte <strong>Aktionen</strong> auf <strong>löschen</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>). Das Löschen muss in einer Abfrage bestätigt werden.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="650">5. Buchungsschlüssel, Erlös- und Debitorenkonten einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Buchungsschlüssel sind einzig für den DATEV-Export relevant. Wenn du nicht mit DATEV arbeitest, kannst du das Menü für Buchungsschlüssel ignorieren. Erlöskonten richtest du ein, um deine Umsatzerlöse zu verbuchen. Debitorenkonten richtest du ein, um deine Forderungen zu verwalten.</p>
</div>
<div class="sect2">
<h3 id="700">5.1. Buchungsschlüssel einrichten</h3>
<div class="paragraph">
<p>Die Buchungsschlüssel sind für den DATEV-Export relevant. Wenn du nicht mit DATEV arbeiten, überspringe dieses Kapitel. Buchungsschlüssel heißen bei DATEV Steuerschlüssel und dienen der korrekten Übertragung von Buchungsdaten. DATEV hat einige Standardsteuerschlüssel. Der Standardsteuerschlüssel für 19 % Umsatzsteuer gemäß Standardkontenrahmen 03 und Standardkontenrahmen 04 ist 3. Die für dich gültigen Steuerschlüssel entnimmst du deinem Kontenplan. plentymarkets ermittelt automatisch, ob es sich um eine Soll- (S) oder eine Haben-Buchung (H) handelt. Diese Information wird dann im Export in einer eigenen Spalte ausgegeben.</p>
</div>
<div class="paragraph instruction">
<p>Buchungsschlüssel einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Standorte » [Standort wählen] » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> öffnet sich.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Konten</strong>.<br>
→ Das Tab <strong>Buchungsschlüssel</strong> öffnet sich.</p>
</li>
<li>
<p>Trage pro Steuersatz einen Buchungsschlüssel ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="750">5.2. Debitorenkonten einrichten</h3>
<div class="paragraph">
<p>Debitorenkonten richtest du z.B. für deine Forderungen ein. In plentymarkets kannst du wählen, anhand welches Kriteriums Forderungen Debitorenkonten zugeordnet werden. Du kannst z.B. die Nachnamen der Debitoren oder das Lieferland zur Zuordnung nutzen. Lege also zuerst das Kriterium fest und trage dann die Konten ein.</p>
</div>
<div class="paragraph instruction">
<p>Debitorenkonten einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Standorte » [Standort wählen] » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> öffnet sich.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Konten</strong>.<br>
→ Das Tab <strong>Buchungsschlüssel</strong> öffnet sich.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Debitorenkonten</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen anhand der Informationen in <a href="#table-debtor-account-setup">Tabelle 6</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-debtor-account-setup" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Debitorenkonten einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Debitorenkonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Standard-Debitorenkonto eintragen, das verwendet wird, wenn kein anderes Debitorenkonto zutrifft oder eingerichtet wurde.<br>
<strong><em>Wichtig:</em></strong> Wenn im Kundendatensatz einer Kund:in ein Debitorenkonto gespeichert wurde, wird dieses Debitorenkonto immer exportiert.<br>
Das Debitorenkonto wird in den Kundendaten hinterlegt, sobald es das erste Mal ermittelt wird. Dazu muss mindestens ein Umsatzexport ausgeführt werden, der die Debitorenkonten ausgibt, z.B. ein Finanzbuchhaltungs-Export (DATEV).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Speichere Debitorenkonto am Kundenstammdatensatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit im Kundendatensatz ein Debitorenkonto gespeichert wird, wenn dort noch kein Debitorenkonto gespeichert ist. Das Debitorenkonto wird nach der eingestellten Option für <strong>Automatische Vergabe von Debitorkonten</strong> vergeben.<br>
Wenn zu dem gewählten Verfahren kein Debitorenkonto hinterlegt ist, wird das Standard-Debitorenkonto verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatische Vergabe von Debitorkonten nach</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Kriterium aus der Dropdown-Liste wählen, nach dem die Debitorkonten vergeben werden sollen.<br>
Je nach gewähltem Kriterium müssen später die tatsächlichen Konten eingetragen werden.<br>
<strong>Anfangsbuchstabe</strong> = Debitorenkonto wird anhand der Anfangsbuchstaben von Kundendaten zugeordnet. Welche Kundendaten und in welcher Reihenfolge berücksichtigt werden, bestimmst du durch die 2. Dropdown-Liste.<br>
Die Reihenfolge <strong>Firma, Nachname, Vorname</strong> sorgt dafür, dass zuerst der Firmenname berücksichtigt wird. Wenn kein Firmenname eingetragen wurde, wird der Nachname berücksichtigt usw.<br>
<strong>Zahlungsart</strong> = Debitorenkonto wird anhand der Zahlungsart eines Auftrages zugeordnet.<br>
<strong>Lieferland</strong> = Debitorenkonto wird anhand des Lieferlandes eines Auftrages zugeordnet.<br>
<strong>Lieferland, für Inland jedoch Zahlungsart</strong> = Debitorenkonto wird anhand des Lieferlandes eines Auftrages zugeordnet und wenn das Lieferland des Auftrages dem Land der Steuerkonfiguration entspricht, dann wird die Zahlungsart als weiteres Kriterium berücksichtigt.<br>
<strong><em>Hinweis:</em></strong> Stimme die Wahl des Verfahrens mit deiner Finanzbuchhaltung und deinem Steuerbüro ab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anfangsbuchstaben (A - Z bzw. 0 - 9 Debitorenkonto)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Debitorkonten eintragen, die in Abhängigkeit der <strong>Anfangsbuchstaben</strong> verwendet werden sollen. Trage hier nur Debitorenkonten ein, wenn du die Debitorenkonten nach Anfangsbuchstaben vergeben lässt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Debitorkonten für die in deinem System eingerichteten Lieferländer hinterlegen. Trage hier nur Debitorenkonten ein, wenn du die Debitorenkonten nach Lieferländern vergeben lässt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Debitorenkonten für die in deinem System eingerichteten Zahlungsarten hinterlegen. Trage hier nur Debitorenkonten ein, wenn du die Debitorenkonten nach Zahlungsarten vergeben lässt.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">5.3. Erlöskonten einrichten</h3>
<div class="paragraph">
<p>Richte Erlöskonten ein, um deinen Umsatzerlösen Konten zuzuordnen. Du hast die Möglichkeit, für steuerpflichtige Erlöse pro Steuersatz ein Erlöskonto anzugeben sowie für umsatzsteuerfreie Erlöse.</p>
</div>
<div class="paragraph instruction">
<p>Erlöskonten für steuerpflichtige Erlöse einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Standorte » [Standort wählen] » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> öffnet sich.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Konten</strong>.<br>
→ Das Tab <strong>Buchungsschlüssel</strong> öffnet sich.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Erlöskonten</strong>.</p>
</li>
<li>
<p>Trage pro Steuersatz, den du nutzt, ein Konto ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mit dieser Konfiguration für Erlöskonten für steuerpflichtige Erlöse werden demnach definierte Steuersätze einem bestimmten Konto fest zugeordnet. Was machst du aber, wenn ein Steuersatz nur vorübergehend abweicht, wie es zum Beispiel 2020 mit der zeitweisen Mehrwertssteuersenkung in Deutschland der Fall war? Du hinterlegst das passende Erlöskonto direkt an der Umsatzsteuerkonfiguration, die den veränderten Steuersatz abbildet. Dieser hat bei der Ermittlung der Erlöskonten dann Vorrang. Beachte dazu auch den Tabelleneintrag <a href="/auftraege/buchhaltung#intable-revenue-account-optional">Erlöskonto (optional)</a> im Kapitel zur Einrichtung von Umsatzsteuersätzen.</p>
</div>
<div class="paragraph instruction">
<p>Erlöskonten für umsatzsteuerfreie Erlöse einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Standorte » [Standort wählen] » Buchhaltung</strong>.<br>
→ Das Tab <strong>Grundeinstellungen</strong> öffnet sich.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Konten</strong>.<br>
→ Das Tab <strong>Buchungsschlüssel</strong> öffnet sich.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Umsatzsteuerfreie Erlöse</strong>.</p>
</li>
<li>
<p>Trage bei <strong>Erlöse aus EU</strong> ein Konto für Erlöse aus umsatzsteuerfreien innergemeinschaftlichen Verkäufen ein.</p>
</li>
<li>
<p>Trage bei <strong>Erlöse bei Ausfuhr</strong> ein Konto für Erlöse aus umsatzsteuerfreien Ausfuhrlieferungen ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="820">5.4. Buchungskonten für Kassenvorfälle speichern (ab plentymarkets App Version 1.7.3)</h3>
<div class="paragraph">
<p>Aufträge, die über plentyPOS generiert werden, werden den in plentymarkets gespeicherten Erlöskonten zugewiesen. Da Einlagen, Entnahmen und Differenzen aus Kassenstürzen keine Aufträge sind, kannst du für diese Kassenvorfälle eigene Buchungskonten speichern. Wie du Buchungskonten für Kassenvorfälle speicherst, erfährst du auf der Handbuchseite <a href="/pos/pos-einrichten">POS einrichten</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="850">6. Einstellungen auf andere Standorte übertragen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit der Funktion <strong>Einstellungen übertragen</strong> kopierst du Einstellungen des aktuellen Standortes auf einen oder mehrere andere Standorte. Dabei kannst du die Einstellungen entsprechend der Tabs der Buchhaltung einzeln oder zusammen übertragen.</p>
</div>
<div class="paragraph">
<p>Folgende Einstellungen sind übertragbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Grundeinstellungen</strong></p>
</li>
<li>
<p><strong>Umsatzsteuersätze</strong></p>
</li>
<li>
<p><strong>Konten</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Gehe wie folgt vor, um Einstellungen auf einen oder mehrere Standorte zu übertragen:</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen auf einen oder mehrere Standorte übertragen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Standorte » [Standort wählen] » Buchhaltung</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Einstellungen auf anderen Standort übertragen</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Standort</strong> einen oder mehreren Standorte aus, auf die du die Einstellungen übertragen möchtest.</p>
</li>
<li>
<p>Wähle die <strong>Optionen</strong> aus, die du übertragen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Übertragen</strong>.<br>
→ Die Einstellungen werden auf die Standorte übertragen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">7. Buchhaltungsdaten exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets bietet die Möglichkeit, Buchhaltungsdaten zu exportieren und so an ein Buchhaltungs-Software zu übergeben. Beim Export werden Debitorenkonten, Erlöskonten und Buchungsschlüssel vergeben, wenn du die Einstellungen wie oben beschrieben vorgenommen hast.</p>
</div>
<div class="paragraph">
<p>Im Menü <strong>Daten » Spezialexport</strong> wählst du das Datenformat und kannst beispielsweise einen Export vom Typ <strong>Finanzbuchhaltung</strong> oder <strong>Collmex-Buchhaltung</strong> vornehmen.</p>
</div>
</div>
</div>
</main>