<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Archivierte PDF-Dokumente suchen</span></a></li>
<li><a href="#200"><span>2.</span><span> Sammeldokument im ZIP-Format exportieren</span></a></li>
<li><a href="#300"><span>3.</span><span> Gutscheine und Voucher exportieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Dokumentenarchiv</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Dokumentenarchiv kannst du dir bereits generierte PDF-Dokumente einzeln anzeigen lassen oder Sammeldokumente im ZIP-Format generieren. In diesem Archiv werden PDF-Dokumente abgelegt, die in deinem plentymarkets-System im Rahmen der Auftragsabwicklung, beim Kassenverkauf mit POS oder im Bereich Warenwirtschaft erzeugt wurden.</p>
</div>
<div class="paragraph">
<p>Folgende Dokumenttypen sind im Dokumentenarchiv verfügbar:</p>
</div>
<div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-4">
<div class="title">In plentymarkets erzeugte Auftragsdokumente</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><strong>Angebot</strong></p>
</li>
<li>
<p><a href="/auftraege/auftraege-verwalten#1420">Auftragsbestätigung</a></p>
</li>
<li>
<p><strong>Externe Gutschrift</strong></p>
</li>
<li>
<p><strong>Externe Rechnung</strong></p>
</li>
<li>
<p><a href="/auftraege/auftragsdokumente/gelangensbestaetigung-erzeugen">Gelangensbestätigung</a></p>
</li>
<li>
<p><a href="/auftraege/auftragsdokumente/gutschriften-erzeugen">Gutschrift</a></p>
</li>
<li>
<p><a href="/auftraege/auftragsdokumente/gutschriften-erzeugen">Korrekturbeleg</a></p>
</li>
<li>
<p><a href="/auftraege/auftragsdokumente/lieferscheine-erzeugen">Lieferschein</a></p>
</li>
<li>
<p><a href="/auftraege/auftragsdokumente/mahnungen-erzeugen">Mahnung</a></p>
</li>
<li>
<p><a href="/warenwirtschaft/umbuchungen-vornehmen#800">PO Lieferschein</a></p>
</li>
<li>
<p><strong>Proformarechnung</strong></p>
</li>
<li>
<p><a href="/auftraege/auftragsdokumente/rechnungen-erzeugen">Rechnung</a></p>
</li>
<li>
<p><strong>Reparaturschein</strong></p>
</li>
<li>
<p><a href="/auftraege/auftragsdokumente/ruecksendeschein-erzeugen">Rücksendeschein</a></p>
</li>
<li>
<p><a href="/auftraege/auftraege-verwalten#850">Sammelgutschrift</a></p>
</li>
<li>
<p><a href="/auftraege/auftraege-verwalten#840">Sammelrechnung</a></p>
</li>
<li>
<p><a href="/auftraege/auftraege-verwalten#530">Stornobeleg Gutschrift</a></p>
</li>
<li>
<p><a href="/auftraege/auftragsdokumente/mahnungen-erzeugen#400">Stornobeleg Mahnung</a></p>
</li>
<li>
<p><a href="/auftraege/auftraege-verwalten#1670">Stornobeleg Rechnung</a></p>
</li>
<li>
<p><a href="/auftraege/gutscheine">Gutschein</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-4">
<div class="title">POS-Dokumente</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/pos/pos-einrichten#1000">Kassenbeleg</a></p>
</li>
<li>
<p><a href="/pos/pos-kassenbenutzer#210">Kassengutscheinbeleg</a></p>
</li>
<li>
<p><a href="/pos/pos-kassenbenutzer#210">Kassenrechnung</a></p>
</li>
<li>
<p><a href="/pos/pos-kassenbenutzer#210">Kassenstornierung</a></p>
</li>
<li>
<p><a href="/pos/pos-kassenbenutzer#210">Kassenstornorechnung</a></p>
</li>
<li>
<p><a href="/pos/pos-kassenbenutzer#450">Kassensturz</a></p>
</li>
<li>
<p><a href="/pos/pos-kassenbenutzer#230">Tagesabschlussbericht/Z-Report</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-4">
<div class="title">Sonstige Dokumente</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><strong>Abhollieferung</strong></p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/paypal#80">Abrechnungsbericht</a></p>
</li>
<li>
<p><a href="/payment/bankdaten-verwalten#70">EBICS-INI-Brief</a></p>
</li>
<li>
<p><a href="/pos/pos-einrichten#400">Kassenjournal</a></p>
</li>
<li>
<p><a href="/warenwirtschaft/nachbestellungen-verwalten/nachbestellungen-vornehmen">Nachbestellung</a></p>
</li>
<li>
<p><a href="/payment/bankdaten-verwalten#200">SEPA-Lastschriftmandat</a></p>
</li>
<li>
<p><strong>Upload</strong></p>
</li>
<li>
<p><a href="/warenwirtschaft/wareneingaenge-verwalten">Wareneingangsbeleg (Lagerschein)</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Archivierte PDF-Dokumente suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Dokumentenarchiv kannst du PDF-Dokumente eines bestimmten Typs in einem gewählten Zeitraum suchen. Die Dokumente werden chronologisch aufgelistet.</p>
</div>
<div class="paragraph instruction">
<p>PDF-Dokument suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Dokumentenarchiv</strong>.</p>
</li>
<li>
<p>Wähle die aus der Dropdown-Liste den Dokumenttyp, nach dem du suchen möchtest und passe die Einstellungen an. Beachte dazu die Erläuterungen in <a href="#tabelle-optionen-suche-dokumentenarchiv">Tabelle 1</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suche</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
</ol>
</div>
<table id="tabelle-optionen-suche-dokumentenarchiv" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Optionen im Tab <strong>Suche</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt eine scharfe Suche nach nur einem Dokument. Trage hier die Nummer ein, um nur ein bestimmtes Dokument zu suchen. <strong>Dokument</strong>, <strong>Zeitraum</strong> und <strong>Mandant</strong> müssen ebenfalls zum gesuchten Dokument passen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokument</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Dokumenttyp, um nur Dokumente dieses Typs zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Zeitraum aus, um nur Dokumente zu suchen, die in dem ausgwählten Zeitraum erzeugt wurden. Standardmäßig ist das aktuelle Datum als Enddatum und das Startdatum einen Tag vorher eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle enteweder einen bestimmten <strong>Mandant</strong> oder <strong>alle</strong> aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>pro Seite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, wie viele Suchergebnisse pro Seite angezeigt werden.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Auftrag, Kunden und PDF-Dokumente öffnen</div>
<div class="paragraph">
<p>Klicke auf die Auftrags-ID, um den Auftrag der jeweiligen Rechnung zu öffnen oder auf die Kunden-ID, um den Kundendatensatz zu öffnen. Öffne das PDF-Dokument durch Klick auf den Link in der Spalte <strong>Datei</strong>. Das Dokument wird geöffnet und lässt sich in dieser Ansicht auch herunterladen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Sammeldokument im ZIP-Format exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Größere Mengen an Dokumenten kannst du bequem als Sammeldokument im ZIP-Format exportieren. Die zu exportierenden Dokumente lassen sich nach den Kriterien Dokumenttyp, Zeitraum, und Mandant eingrenzen.</p>
</div>
<div class="paragraph instruction">
<p>Sammeldokument exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Dokumentenarchiv</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Export</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-optionen-export-dokumentenarchiv">Tabelle 2</a> vor.</p>
</li>
<li>
<p>Klicke auf das <strong>Exportieren</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ Die ZIP-Datei wird exportiert.</p>
</li>
</ol>
</div>
<table id="tabelle-optionen-export-dokumentenarchiv" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Optionen im Tab <strong>Export</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokument</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Dokumenttyp aus, um Dokumente dieses Typs runterzuladen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle enteweder einen bestimmten <strong>Mandant</strong> oder <strong>alle</strong> aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeitraum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Zeitraum aus, um nur Dokumente zu exportieren, die in diesem Zeitraum erzeugt wurden. Standardmäßig ist das aktuelle Datum als Start- und Enddatum eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unterordner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus, ob beim Export Unterordner erstellt werden sollen. Wähle die Option <strong>mit</strong>, um in der ZIP-Datei automatisch Unterordner für jeden Monat zu erstellen. Bei der Option <strong>ohne</strong> werden keine Unterordner erstellt.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Export schlägt fehl</div>
<div class="paragraph">
<p>Es werden maximal 6.000 PDFs exportiert. Wenn dein Export fehlschlägt, überschreitet die Datei eventuell die maximale Anzahl, die exportiert wird. Schränke den Zeitraum weiter ein, um die Anzahl der Dokumente zu verringern. Wenn du den Zeitraum auf den kleinstmöglichen Zeitraum, also 1 Tag, reduziert hast, werden unabhängig vom Export-Maximum alle Dokumente exportiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Gutscheine und Voucher exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gutscheine und Voucher stellen eine Besonderheit im Dokumentenarchiv dar, da sie über die <a href="/Archivierte PDF-Dokumente suchen#100">Suche</a> und den <a href="/Sammeldokumente im ZIP-Format exportieren#200">Export</a> nicht angezeigt werden. Auf Gutschein-PDFs kannst du deshalb gesondert im Reiter <strong>Gutscheine</strong> des Menüs <strong>Aufträge » Dokumentenarchiv</strong> zugreifen.</p>
</div>
<div class="paragraph instruction">
<p>Gutscheine und Voucher exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Dokumentenarchiv</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Gutscheine</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-optionen-dokumentenarchiv-gutscheine">Tabelle 3</a> vor.</p>
</li>
<li>
<p>Klicke auf das <strong>Exportieren</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ Die ZIP-Datei wird exportiert.</p>
</li>
</ol>
</div>
<table id="tabelle-optionen-dokumentenarchiv-gutscheine" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Optionen im Tab <strong>Gutscheine</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutscheintyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus, welcher Gutscheintyp exportiert werden soll.<br>
<strong>ALLE</strong>: PDFs zu allen vorhandenen Gutscheinarten werden exportiert.<br>
<strong>Gutschein</strong>: Nur Mehrzweckgutscheine zur Einlösung in deinem Webshop werden exportiert.<br>
<strong>Voucher</strong>: Nur Voucher werden exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle enteweder einen bestimmten <strong>Mandant</strong> oder <strong>alle</strong> aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeitraum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Zeitraum aus, um nur Gutscheine zu suchen, die in diesem Zeitraum erzeugt wurden. Standardmäßig ist der Zeitraum auf die vergangene Woche eingestellt, d.h. das aktuelle Datum als Enddatum und eine Woche früher als Startdatum.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>