<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Wichtige Vorbedingungen beachten</span></a></li>
<li><a href="#200"><span>2.</span><span> Grundeinstellungen vornehmen</span></a></li>
<li><a href="#300"><span>3.</span><span> Auftragsbearbeitung durch Backend-Benutzer</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Grundeinstellungen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Aufträge » Einstellungen</strong> wählst du die Einstellungen, die für Aufträge automatisch eingestellt werden bzw. bei bestimmten Auftragsstatus oder Bedingungen gelten sollen. Zum Beispiel wählst du Standard-Einstellungen für die Auftragsherkunft und den Status von Aufträgen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Wichtige Vorbedingungen beachten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei neuen Systemen sind Standard-Werte eingestellt, z.B. für Retouren der Status [9] und für Gutschriften der Status [11]. Diese Einstellungen sind änderbar. Wähle dazu einen anderen Status. Alternativ legst du im Menü <strong><a href="/auftraege/auftraege-verwalten#1200">Einrichtung » Aufträge » Auftragsstatus</a></strong> einen neuen Status an. Ein dort angelegter Status wird hier im Menü <strong>Grundeinstellungen</strong> angezeigt und ist auch als Standard-Status einstellbar.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Grundeinstellungen speichern</div>
<div class="paragraph">
<p>Die Grundeinstellungen des Menüs <strong>Einrichtung » Aufträge » Einstellungen</strong> müssen bei Inbetriebnahme des Systems gespeichert werden, damit die Einstellungen wirksam sind. Speichere daher die Einstellungen auch, wenn du sie nicht verändert hast, also die Standardkonfiguration verwenden möchtest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Wichtig: Benutzer-Login</div>
<div class="paragraph">
<p>Wenn du in diesem Menü Änderungen vornimmst, werden andere Benutzer automatisch ausgeloggt und müssen sich neu einloggen, damit die Änderungen auch für diese Benutzerprofile greifen. Kündige Änderungen daher ggf. weiteren Benutzern an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Grundeinstellungen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Grundeinstellungen vorzunehmen.</p>
</div>
<div class="paragraph instruction">
<p>Grundeinstellungen konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-auftraege-grundeinstellungen">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-auftraege-grundeinstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Optionen im Menü <strong>Einrichtung » Aufträge » Einstellungen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Herkunft, die bei Aufträgen automatisch voreingestellt werden soll, einen Anbieter bzw. Marktplatz oder die Einstellung <strong>Webshop</strong> wählen. <strong>Manuelle Eingabe</strong> wählen, wenn keine Voreinstellung gewünscht ist, also die Auftragsherkunft individuell hinterlegt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Status Retoure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Status bei <strong><a href="/auftraege/auftraege-verwalten#400">Retouren</a></strong> automatisch eingestellt sein soll. Der Status kann beim Anlegen der Retoure angepasst werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Status Gutschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Status bei <strong><a href="/auftraege/auftraege-verwalten#500">Gutschriften</a></strong> automatisch eingestellt sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Status Reparatur</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Status bei <strong><a href="/auftraege/auftraege-verwalten#700">Reparatur-Aufträgen</a></strong> automatisch eingestellt sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Status Sammelauftrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Status bei <strong><a href="/auftraege/auftraege-verwalten#800">Sammelaufträgen</a></strong> automatisch eingestellt sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Status Sammelgutschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Status bei <strong><a href="/auftraege/auftraege-verwalten#850">Sammelgutschriften</a></strong> automatisch eingestellt sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Status Rückbuchung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Status bei Rückbuchungen automatisch eingestellt sein soll.<br>
<em><strong>Beispiel</strong></em>: benutzerdefinierter Status <strong>[6.4] Warenausgang storniert</strong>.<br>
Wenn kein besonderer Status benötigt wird, <strong>Letzter Status</strong> wählen. Dann wird der vor dem Warenausgang durchlaufene Status wieder eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status stornierter Aufträge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Statusbereich für stornierte Aufträge wählen.<br>
<em><strong>Hintergrund</strong></em>: Sobald ein Auftrag in diesem Statusbereich ankommt, werden alle Bestandsreservierungen der darin enthaltenen Artikel aufgehoben. Das heißt, der Warenbestand steht wieder für Bestellungen zur Verfügung. Status können von dieser Automatik ausgenommen werden, wenn dies nötig ist bzw. wenn Artikel mit dem Status nicht rückgebucht werden sollen.<br>
<em><strong>Wichtig</strong></em>: Den Statusbereich aufsteigend hinterlegen, z.B. [8.0] bis [8.5].</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status Auftragsreservierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sobald ein Auftrag in dem hier gewählten Status ankommt, wird automatisch für die im Auftrag enthaltenen Artikel Bestand reserviert. Die Einstellung ist bis einschließlich Status [6.9] möglich. Zusätzlich ist wählbar, ob die Einstellung für alle Aufträge oder nur für bezahlte Aufträge gelten soll. Wenn z.B. für nicht bezahlte Aufträge kein Bestand reserviert werden soll, die Option <strong>Nur bezahlte Aufträge</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten in Gewährleistung übernehmen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>JA</strong> = Die Versandkosten werden dem Käufer rückwirkend erstattet.<br>
<strong>NEIN</strong> = Der Kunde muss die Versandkosten auch im Falle einer Gewährleistung selbst tragen. Die Versandkosten werden nicht erstattet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>In Auftrag/Auftragsübersicht anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob im Auftrag bzw. in der Auftragsübersicht die <strong>Rechnungsadresse</strong> oder die <strong>Lieferadresse</strong> angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelpreis-Darstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Preise der Artikelliste im Auftrag <strong>Brutto</strong> oder <strong>Netto</strong> dargestellt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zuordnung des Lagers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Lagerzuordnung wählen.<br>
<strong>a) pro Auftrag kann ein Lager zugeordnet werden</strong> = Wählen, wenn nur mit einem Lager bzw. Logistiker gearbeitet wird.<br>
<strong>b) pro Artikelposition kann ein Lager zugeordnet werden</strong> = Wählen, wenn mit mehreren Lagern bzw. Logistikern gearbeitet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatische Lagerauswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kriterien wählen, nach denen das Lager gewählt wird.<br>
<strong>a) in Abhängigkeit des Lieferlandes</strong> = Das Lager für das <strong>Lieferland</strong> ist im Menü <strong>Einrichtung » Aufträge » Versand » Einstellungen » Tab: Lieferländer</strong> hinterlegt.<br>
<strong><em>Tipp:</em></strong> Bei Wahl dieser Option die Lagerzuordnung zu den Lieferländern prüfen.<br>
<strong>b) in Abhängigkeit des Hauptlagers des Artikels</strong> = Es wird das Lager bestimmt, das beim jeweiligen Artikel als Hauptlager hinterlegt ist.<br>
<strong><em>Wichtig:</em></strong> Wenn für einen Artikel kein Hauptlager hinterlegt wurde, wird das Lager anhand des Lieferlandes gewählt.<br>
<strong>c) in Abhängigkeit des höchsten Warenbestandes</strong> = Der Auftrag wird dem Lager mit dem höchsten Warenbestand der Artikelposition zugeordnet.<br>
<strong>d) in Abhängigkeit der Lagerpriorität und des höchsten Warenbestandes</strong> = Der Auftrag wird einem Lager nach folgenden Kriterien zugeordnet. Dabei wird nach folgender Reihenfolge geprüft:<br>
1) Nach der <strong>Priorität</strong> des Lagers (Option in den Lagereinstellungen).<br>
Bei ausreichendem bzw. gleichem Warenbestand in allen Lagern wird das Lager nach Priorität gewählt. Es kommt bei Kriterium 1 nicht auf die Menge an, sondern nur darauf, dass genügend Bestand vorhanden ist. Das heißt, dass kein Lager aufgrund der Menge bevorzugt wird, sondern dann mit Kriterium 2 anhand der Priorität. Umgekehrt ist mangelnder Bestand ein Ausschlusskriterium.
2) Es muss ausreichend Warenbestand vorhanden sein.<br>
<strong>e) in Abhägigkeit des niedrigsten Warenbestandes</strong> = Der Auftrag wird dem Lager mit dem niedrigsten Warenbestand der Artikelposition zugeordnet.<br>
<strong>f) in Abhängigkeit der Lagerpriorität und des niedrigsten Warenbestandes</strong> = Der Auftrag wird einem Lager nach folgenden Kriterien zugeordnet. Dabei wird nach folgender Reihenfolge geprüft:<br>
1) Nach der <strong>Prioriät</strong> des Lagers (Option in den Lagereinstellungen).<br>
Bei ausreichendem bzw. gleichem Warenbestand in allen Lagern wird das Lager nach Priorität gewählt. Es kommt bei Kriterium 1 nicht auf die Menge an, sondern nur darauf, dass genügend Bestand vorhanden ist. Das heißt, dass kein Lager aufgrund der Menge bevorzugt wird, sondern dann mit Kriterium 2 anhand der Priorität. Umgekehrt ist mangelnder Bestand ein Ausschlusskriterium.
2) Das Lager mit dem niedrigsten Warenbestand wird gewählt.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahlung auf Produktionsware</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Höhe einer Anzahlung (in Prozent) oder <strong>keine Anzahlung anbieten</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel auf [4] statt [5], wenn Warenbestand fehlt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option auf <strong>Ja</strong> setzen, wenn ein Auftrag erst für den Versand freigegeben werden soll, wenn genügend Ware auf Lager ist. Sobald genügend Ware eingebucht wurde, wird der <strong><a href="/auftraege/auftraege-verwalten#1200">Auftragsstatus</a></strong> von <strong>[4]</strong> auf <strong>[5]</strong> geändert.<br>
<strong>Status [4]</strong> = In Versandvorbereitung<br>
<strong>Status [5]</strong> = Freigabe Versand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betroffener Statusbereich im Status [4.x]</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Statusbereich eingrenzen, wenn eigene Statusvarianten im Bereich von Status [4] angelegt wurden.<br>
Standardeinstellung: von <strong>[4] In Versandvorbereitung</strong> bis <strong>[4] In Versandvorbereitung</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zusätzlich ist Status [3.2] betroffen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status [3.2]</strong> bezeichnet das Warten auf Ware bei Teilzahlungen. Wenn eine Teilzahlung erfolgt, wechselt der Auftrag automatisch statt in Status [4] in diesen Status. Ist Ware vorhanden, wechselt der Auftrag in Status [3.3].<br>
<strong>Status [3.2]</strong> = In Warteposition</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Auftragsbearbeitung durch Backend-Benutzer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Benutzer vom Typ <strong>Backend</strong> Aufträge öffnen können, müssen hier Standard-Status für <strong>Retouren</strong> und <strong>Gutschriften</strong> gespeichert sein. In der Grundeinstellung ist kein Status voreingestellt.<br>
Backend-Benutzer müssen außerdem im Benutzerprofil unter <strong><a href="/basics/admin-aufgaben/benutzer-verwalten#90">Berechtigung » Tab: Menü » Bereich: Aufträge</a></strong> zur Bearbeitung von Aufträgen berechtigt werden.
Zudem müssen Backend-Benutzer Aufträge der Typen <strong>Retoure</strong>, <strong>Gewährleistung</strong> und <strong>Reparatur</strong> anlegen können. Dafür müssen sie für die im Menü <strong>Einrichtung » Aufträge » Einstellungen</strong> hinterlegten Standard-Status dieser drei Auftragstypen berechtigt sein. Die Berechtigung erfolgt im Benutzerprofil des Backend-Benutzers unter <strong><a href="/basics/admin-aufgaben/benutzer-verwalten#100">Berechtigung » Tab: Sichtbarkeiten</a></strong>.</p>
</div>
</div>
</div>
</main>