<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Wichtige Vorbedingungen beachten</span></a></li>
<li><a href="#200"><span>2.</span><span> Grundeinstellungen vornehmen</span></a></li>
<li><a href="#250"><span>3.</span><span> Eigenschaftskopie</span></a></li>
<li><a href="#300"><span>4.</span><span> Auftragsbearbeitung durch Backend-Benutzer:innen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Grundeinstellungen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Aufträge » Einstellungen</strong> wählst du die Einstellungen, die für Aufträge automatisch eingestellt werden bzw. bei bestimmten Auftragsstatus oder Bedingungen gelten sollen. Zum Beispiel wählst du Standard-Einstellungen für die Auftragsherkunft und den Status von Aufträgen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Wichtige Vorbedingungen beachten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei neuen Systemen sind Standardstatus eingestellt, z.B. für Retouren der Status [9] und für Gutschriften der Status [11]. Diese Einstellungen sind änderbar. Wähle dazu einen anderen Status. Alternativ legst du im Menü <strong>Einrichtung » Aufträge » Auftragsstatus</strong> einen neuen <a href="/auftraege/auftraege-verwalten#1200">Auftragsstatus</a> an. Ein dort angelegter Status wird hier im Menü <strong>Grundeinstellungen</strong> angezeigt und ist auch als Standardstatus einstellbar.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Grundeinstellungen speichern</div>
<div class="paragraph">
<p>Die Grundeinstellungen des Menüs <strong>Einrichtung » Aufträge » Einstellungen</strong> müssen bei Inbetriebnahme des Systems gespeichert werden, damit die Einstellungen wirksam sind. Speichere daher die Einstellungen auch, wenn du sie nicht verändert hast, also die Standardkonfiguration verwenden möchtest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Wichtig: Benutzer-Login</div>
<div class="paragraph">
<p>Wenn du in diesem Menü Änderungen vornimmst, werden andere Benutzer:innen automatisch ausgeloggt und müssen sich neu einloggen, damit die Änderungen auch für diese Benutzerprofile greifen. Kündige Änderungen daher ggf. weiteren Benutzer:innen an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Grundeinstellungen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Grundeinstellungen für die Auftragsbearbeitung vorzunehmen.</p>
</div>
<div class="paragraph instruction">
<p>Grundeinstellungen konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#table-orders-basic-settings">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-orders-basic-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Optionen im Menü <strong>Einrichtung » Aufträge » Einstellungen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-default-referrer">Standard-Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Herkunft, die bei Aufträgen automatisch voreingestellt werden soll, einen Anbieter bzw. Marktplatz oder die Einstellung <strong>Webshop</strong> wählen. <strong>Manuelle Eingabe</strong> wählen, wenn keine Voreinstellung gewünscht ist, also die Auftragsherkunft individuell hinterlegt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-default-status-return">Standard-Status Retoure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Status bei <a href="/auftraege/auftraege-verwalten#400">Retouren</a> automatisch eingestellt sein soll. Der Status kann beim Anlegen der Retoure angepasst werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-default-status-credit-note">Standard-Status Gutschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Status bei <a href="/auftraege/auftraege-verwalten#500">Gutschriften</a> automatisch eingestellt sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-default-status-repairs">Standard-Status Reparatur</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Status bei <a href="/auftraege/auftraege-verwalten#700">Reparatur-Aufträgen</a> automatisch eingestellt sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-default-status-multi-order">Standard-Status Sammelauftrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Status bei <a href="/auftraege/auftraege-verwalten#800">Sammelaufträgen</a> automatisch eingestellt sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-default-status-multi-credit-note">Standard-Status Sammelgutschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Status bei <a href="/auftraege/auftraege-verwalten#850">Sammelgutschriften</a> automatisch eingestellt sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-default-status-reversal">Standard-Status Rückbuchung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Status bei Rückbuchungen automatisch eingestellt sein soll.<br>
<em>Beispiel</em>: benutzerdefinierter Status <strong>[6.4] Warenausgang storniert</strong>.<br>
Wenn kein besonderer Status benötigt wird, <strong>Letzter Status</strong> wählen. Dann wird der vor dem Warenausgang durchlaufene Status wieder eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-default-status-cancelled-orders">Status stornierter Aufträge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Statusbereich für stornierte Aufträge wählen.<br>
<em>Hintergrund</em>: Sobald ein Auftrag in diesem Statusbereich ankommt, werden alle Bestandsreservierungen der darin enthaltenen Artikel aufgehoben. Das heißt, der Warenbestand steht wieder für Bestellungen zur Verfügung. Status können von dieser Automatik ausgenommen werden, wenn dies nötig ist bzw. wenn Artikel mit dem Status nicht rückgebucht werden sollen.<br>
<em>Wichtig</em>: Den Statusbereich aufsteigend hinterlegen, z.B. [8.0] bis [8.5].</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-default-status-order-reservation">Status Auftragsreservierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sobald ein Auftrag in dem hier gewählten Statusbereich ankommt, wird automatisch für die im Auftrag enthaltenen Artikel Bestand reserviert. Zusätzlich ist wählbar, ob die Einstellung für alle Aufträge oder nur für bezahlte Aufträge gelten soll. Wenn z.B. für nicht bezahlte Aufträge kein Bestand reserviert werden soll, die Option <strong>Nur bezahlte Aufträge</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-shipping-costs-in-warranty">Versandkosten in Gewährleistung übernehmen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>JA</strong> = Die Versandkosten werden dem Käufer rückwirkend erstattet.<br>
<strong>NEIN</strong> = Der Kunde muss die Versandkosten auch im Falle einer Gewährleistung selbst tragen. Die Versandkosten werden nicht erstattet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-shipping-costs-in-credit-note">Versandkosten in Gutschrift übernehmen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>JA</strong> = Die Versandkosten werden dem Käufer rückwirkend erstattet.<br>
<strong>NEIN</strong> = Der Kunde muss die Versandkosten auch selbst tragen, wenn eine Gutschrift erstellt wird. Die Versandkosten werden nicht erstattet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-show-address">In Auftrag/Auftragsübersicht anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob im Auftrag bzw. in der Auftragsübersicht die <strong>Rechnungsadresse</strong> oder die <strong>Lieferadresse</strong> angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-item-price">Artikelpreis-Darstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Preise der Artikelliste im Auftrag <strong>Brutto</strong> oder <strong>Netto</strong> dargestellt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-warehouse-assignment">Zuordnung des Lagers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Lagerzuordnung wählen.<br>
<strong>a) pro Auftrag kann ein Lager zugeordnet werden</strong> = Wählen, wenn nur mit einem Lager bzw. Logistiker gearbeitet wird.<br>
<strong>b) pro Artikelposition kann ein Lager zugeordnet werden</strong> = Wählen, wenn mit mehreren Lagern bzw. Logistikern gearbeitet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-warehouse-selection">Automatische Lagerauswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kriterien wählen, nach denen das Lager gewählt wird.<br>
<strong>a) in Abhängigkeit des Lieferlandes</strong> = Das Lager für das <strong>Lieferland</strong> ist im Menü <strong>Einrichtung » Aufträge » Versand » Einstellungen » Tab: Lieferländer</strong> hinterlegt.<br>
<strong><em>Tipp:</em></strong> Bei Wahl dieser Option die Lagerzuordnung zu den Lieferländern prüfen.<br>
<strong>b) in Abhängigkeit des Hauptlagers des Artikels</strong> = Es wird das Lager bestimmt, das beim jeweiligen Artikel als Hauptlager hinterlegt ist.<br>
<strong><em>Wichtig:</em></strong> Wenn für einen Artikel kein Hauptlager hinterlegt wurde, wird das Lager anhand des Lieferlandes gewählt.<br>
<strong>c) in Abhängigkeit des höchsten Warenbestandes</strong> = Der Auftrag wird dem Lager mit dem höchsten Warenbestand der Artikelposition zugeordnet.<br>
<strong>d) in Abhängigkeit der Lagerpriorität und des höchsten Warenbestandes</strong> = Der Auftrag wird einem Lager nach folgenden Kriterien zugeordnet. Dabei wird nach folgender Reihenfolge geprüft:<br>
1) Nach der <strong>Priorität</strong> des Lagers (Option in den <a href="/warenwirtschaft/lager-einrichten#300">Lagereinstellungen</a>).<br>
Bei ausreichendem bzw. gleichem Warenbestand in allen Lagern wird das Lager nach Priorität gewählt. Es kommt bei Kriterium 1 nicht auf die Menge an, sondern nur darauf, dass genügend Bestand vorhanden ist. Das heißt, dass kein Lager aufgrund der Menge bevorzugt wird, sondern dann mit Kriterium 2 anhand der Priorität. Umgekehrt ist mangelnder Bestand ein Ausschlusskriterium.<br>
2) Es muss ausreichend Warenbestand vorhanden sein.<br>
<strong>e) in Abhägigkeit des niedrigsten Warenbestandes</strong> = Der Auftrag wird dem Lager mit dem niedrigsten Warenbestand der Artikelposition zugeordnet.<br>
<strong>f) in Abhängigkeit der Lagerpriorität und des niedrigsten Warenbestandes</strong> = Der Auftrag wird einem Lager nach folgenden Kriterien zugeordnet. Dabei wird nach folgender Reihenfolge geprüft:<br>
1) Nach der <strong>Prioriät</strong> des Lagers (Option in den Lagereinstellungen).<br>
Bei ausreichendem bzw. gleichem Warenbestand in allen Lagern wird das Lager nach Priorität gewählt. Es kommt bei Kriterium 1 nicht auf die Menge an, sondern nur darauf, dass genügend Bestand vorhanden ist. Das heißt, dass kein Lager aufgrund der Menge bevorzugt wird, sondern dann mit Kriterium 2 anhand der Priorität. Umgekehrt ist mangelnder Bestand ein Ausschlusskriterium.<br>
2) Das Lager mit dem niedrigsten Warenbestand wird gewählt.<br>
<strong>g) in Abhängigkeit der Lagerpriorität und des höchsten Warenbestands (sonst Hauptlager)</strong> = Für die Lagerzuordnung werden zunächst die Einstellungen für die Priorität des Lagers geprüft. Das zweite Kriterium ist der Warenbestand, es wird nach dem höchsten Warenbestand zugeordnet. Erfüllt kein Lager diese Kriterien, d.h. ist kein ausreichender Warenbestand vorhanden, wird dem Auftrag das Hauptlager der Variante zugeordnet.<br>
<strong>h) in Abhängigkeit der Lagerpriorität und des niedrigsten Warenbestandes (sonst Hauptlager)</strong> = Für die Lagerzuordnung werden zunächst die Einstellungen für die Priorität des Lagers geprüft. Das zweite ist der Warenbestand, es wird nach dem niedrigsten Warenbestand zugeordnet. Erfüllt kein Lager diese Kriterien, d.h. ist keine Lagerpriorität vergeben und kein Warenbestand vorhanden, wird dem Auftrag das Hauptlager der Variante zugeordnet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-deposit-production-item">Anzahlung auf Produktionsware</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Höhe einer Anzahlung (in Prozent) oder <strong>keine Anzahlung anbieten</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-quantity-bundles">Mengenänderung von Bundle-Artikel und Bundle-Bestandteilen erlauben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NEIN</strong> = Die Mengen von Bundle-Artikeln und Bundle-Bestandteilen können nicht nachträglich manuell in einem Auftrag geändert werden. Um die Menge anzupassen, muss das Bundle in gewünschter Menge neu zum Auftrag hinzugefügt werden. Diese Einstellung ist vorausgewählt.<br>
<strong>JA</strong> = Die Mengen von Bundle-Artikeln und Bundle-Bestandteilen können nachträglich manuell in einem Auftrag geändert werden.<br>
<em>Hinweis</em>: Werden Mengen nachträglich manuell in einem Auftrag geändert, führt dies nicht automatisch zu einer Anpassung der Mengen der Bestandteile eines Bundles und auch nicht zu einer Preisanpassung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-status-change-missing-stock">Statuswechsel auf [4] statt [5], wenn Warenbestand fehlt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option auf <strong>Ja</strong> setzen, wenn ein Auftrag erst für den Versand freigegeben werden soll, wenn genügend Ware auf Lager ist. Sobald genügend Ware eingebucht wurde, wird der <a href="/auftraege/auftraege-verwalten#1200">Auftragsstatus</a> von <strong>[4]</strong> auf <strong>[5]</strong> geändert.<br>
<strong>Status [4]</strong> = In Versandvorbereitung<br>
<strong>Status [5]</strong> = Freigabe Versand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-affected-status-range">Betroffener Statusbereich im Status [4.x]</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Statusbereich eingrenzen, wenn eigene Statusvarianten im Bereich von Status [4] angelegt wurden.<br>
Standardeinstellung: von <strong>[4] In Versandvorbereitung</strong> bis <strong>[4] In Versandvorbereitung</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zusätzlich ist Status [3.2] betroffen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status [3.2]</strong> bezeichnet das Warten auf Ware bei Teilzahlungen. Wenn eine Teilzahlung erfolgt, wechselt der Auftrag automatisch statt in Status [4] in diesen Status. Ist Ware vorhanden, wechselt der Auftrag in Status [3.3].<br>
<strong>Status [3.2]</strong> = In Warteposition</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-display-inactive-payment-plugins">Inaktive Plugin-Zahlungsarten anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>JA</strong> = Es werden in Dropdown-Listen auch inaktive Plugin-Zahlungsarten zur Auswahl angezeigt.<br>
<strong>NEIN</strong> = Es werden in Dropdown-Listen nur aktive Plugin-Zahlungsarten zur Auswahl angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-splitting-behaviour-shipping-costs">Verhalten der Versandkosten beim Teilen von Aufträgen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Dropdown-Liste aus, wie mit den Versandkosten umgegangen werden soll, wenn du einen Auftrag in zwei neue <a href="/auftraege/auftraege-verwalten#intable-splitting-orders">Aufträge teilst</a>.<br>
<strong>Versandkosten in beiden Aufträgen neu ermitteln (Standard)</strong> = Dies ist das Standardverhalten. Nach dem Teilen werden jeweils die Versandkosten für die zwei neu entstandenen Aufträge neu ermittelt.<br>
<strong>Versandkosten an den ersten Auftrag übernehmen, der zweite bekommt keine</strong> = Beim Teilen eines Auftrags erfolgt eine Abfrage zur Verteilung der Auftragspositionen. Die nicht ausgewählten Auftragspositionen werden in den ersten Auftrag, die ausgewählten in den zweiten Auftrag übernommen. Wählst du diese Option für die Versandkosten aus, werden sie beim Teilen eines Auftrags immer für den ersten Auftrag übernommen. Dem zweiten Auftrag werden keine Versandkosten zugeordnet.<br>
<strong>Versandkosten an den Auftrag mit dem höchsten Warenwert übernehmen, der andere bekommt keine</strong> = Die Versandkosten des Originalauftrags werden in den neuen Auftrag mit dem höchsten Warenwert übernommen. Dem zweiten durch das Teilen entstandenen Auftrag werden keine Versandkosten zugeordnet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-behaviour-after-splitting">Verhalten des Originalauftrags nach dem Teilen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Dropdown-Liste aus, was mit dem Originalauftrag nach der <a href="/auftraege/auftraege-verwalten#intable-splitting-orders">Teilung</a> in zwei neue Aufträge passieren soll.<br>
<strong>Originalauftrag löschen (Standardverhalten)</strong> = Standardverhalten ist, dass zwei neue Aufträge entstehen und Originalaufträge nach dem Teilen gelöscht werden. Zudem können nur Aufträge geteilt werden, die nicht gesperrt sind, für die kein Warenausgang gebucht wurde, für die keine Kindaufträge existieren (z.B. Retoure), für die keine steuerrelevanten Dokumente erstellt wurden und denen noch keine Zahlung zugeordnet wurde.<br>
<strong>Statuswechsel</strong> = In dieser Option entstehen ebenfalls zwei neue Aufträge, aber der Originalauftrag bleibt erhalten und wird in einen von dir definierten Auftragsstatus verschoben. Wähle diesen Auftragsstatus aus der zweiten Dropdown-Liste aus. Wir empfehlen dafür einen Auftragsstatus im Bereich Stornierung zu verwenden, damit reservierter Bestand nicht weiterhin reserviert bleibt. Aber abhängig von deinen Prozessen in der Auftragsabwicklung kann auch ein anderer Auftragsstatus passender sein.<br>
Mit dieser Einstellung dürfen auch Aufträge geteilt werden, denen bereits eine Zahlung zugeordnet wurde oder für die steuerrelevante Dokumente (Wichtig: Rechnung und Stornobeleg) erstellt wurden. Sowohl die zugeordnete Zahlung als auch die Dokumente bleiben für den Originalauftrag erhalten und werden nicht in die aufgeteilten Aufträge übernommen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-order-notes-partial-orders">Auftragsnotizen in Teilaufträge übernehmen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>JA</strong> = Die Auftragsnotizen vom Originalauftrag werden in die Teilaufträge übernommen.<br>
<strong>NEIN</strong> = Die Auftragsnotizen werden nicht vom Originalauftrag in die Teilaufträge übernommen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-behaviour-after-grouping">Verhalten des Originalauftrags nach dem Gruppieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Dropdown-Liste aus, was mit den Originalaufträgen nach dem <a href="/auftraege/auftraege-verwalten#1700">Gruppieren</a> in einen neuen Auftrag passieren soll.<br>
<strong>Originalauftrag löschen (Standardverhalten)</strong> = Standardverhalten ist, dass 1 neuer Auftrag entsteht und Originalaufträge nach dem Gruppieren gelöscht werden. Zudem können nur Aufträge gruppiert werden, die nicht gesperrt sind, für die kein Warenausgang gebucht wurde, für die keine steuerrelevanten Dokumente erstellt wurden, denen noch keine Zahlung zugeordnet wurde und für die plentyID, Auftragsherkunft, Auftragstyp, Eigner, Kontakt, Adresse, Zahlungsart, Währung und Wechselkurs übereinstimmen.<br>
<strong>Statuswechsel</strong> = In dieser Option entsteht ebenfalls 1 neuer Auftrag, aber die Originalaufträge bleiben erhalten und werden in einen von dir definierten Auftragsstatus verschoben. Wähle diesen Auftragsstatus aus der zweiten Dropdown-Liste aus. Wir empfehlen dafür einen Auftragsstatus im Bereich Stornierung zu verwenden, damit reservierter Bestand nicht weiterhin reserviert bleibt. Aber abhängig von deinen Prozessen in der Auftragsabwicklung kann auch ein anderer Auftragsstatus passender sein.<br>
Mit dieser Einstellung dürfen auch Aufträge gruppiert werden, denen bereits eine Zahlung zugeordnet wurde oder für die steuerrelevante Dokumente (Wichtig: Rechnung und Stornobeleg) erstellt wurden. Sowohl die zugeordnete Zahlung als auch die Dokumente bleiben für die Originalaufträge erhalten und werden nicht in den gruppierten Auftrag übernommen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-prefix-bundles">Präfix für Artikelpakete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lege fest, welches Präfix in der Benennung für Artikelpakete (Bundles) verwendet werden soll. Beachte, dass ein Leerzeichen hinter dem Präfix eingefügt werden sollte.<br>
Beachte, dass du zur Nutzung dieser Einstellung mindestens plentyShop LTS/IO in Version 5.0.40 benötigst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-prefix-bundle-components">Präfix für Artikelpaketbestandteile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lege fest, welches Präfix in der Benennung für Bestandteile von Artikelpaketen (Bundles) verwendet werden soll. Beachte, dass ein Leerzeichen hinter dem Präfix eingefügt werden sollte.<br>
Beachte, dass du zur Nutzung dieser Einstellung mindestens plentyShop LTS/IO in Version 5.0.40 benötigst.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="250">3. Eigenschaftskopie</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst festlegen, welche Auftragsinformationen (Eigenschaften eines Auftrags) in einen anderen Auftrag übernommen werden sollen. Zum Beispiel werden Eigenschaften beim Erstellen von Lieferaufträgen oder Retouren vom Hauptauftrag kopiert. Es sind Informationen, die an einem Auftrag hängen, z.B. das Versandprofil, der Zahlungsstatus oder die Dokumentensprache. Eigenschaften können am Auftrag oder an einer Auftragsposition hängen.<br>
<strong><em>Beachte</em></strong>: Gemeint sind hier nicht selbst erstellte <a href="/artikel/einstellungen/eigenschaften#500">Eigenschaften</a>, wie z.B. Bestellmerkmale.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Standard für kopierte Eigenschaften</div>
<div class="paragraph">
<p>Standardmäßig werden alle benötigten Eigenschaften vom einen in den jeweils anderen Auftragstyp übernommen. Du musst in diesem Menü nichts dafür einstellen. Ändere daher nur nach sorgfältiger Überlegung etwas an den kopierten Eigenschaften.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Bestimme im Menü <strong>Einrichtung » Aufträge » Eigenschaftskopie</strong>, welche Eigenschaften kopiert werden sollen. Du kannst dies individuell für verschiedene Kombinationen, z.B. von Auftrag (Quelle) zu Lieferauftrag (Ziel), festlegen. Beachte, dass nicht alle Eigenschaften zum Kopieren freigeschaltet sind. Die Tabellenspalte <strong>Quelle</strong> gibt wieder, woher die Eigenschaft kommt. <strong>Intern</strong> bedeutet, die Eigenschaft kommt vom System. <strong>Interface</strong> bedeutet, die Eigenschaft wurde über eine Schnittstelle wie ein Plugin oder per REST erstellt.<br>
Beim Öffnen des Menüs sind bereits einige Filter vorausgewählt. Passe diese an wie folgt beschrieben an, falls die Einstellungen nicht den gewünschten entspricht.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaften fürs Kopieren aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Eigenschaftskopie</strong>.</p>
</li>
<li>
<p>Öffne die Suchfilter (<span class="icon "><i class="material-filter_alt"></i></span>).</p>
</li>
<li>
<p>Wähle für den Filter <strong>Auftragstyp Quelle</strong> den Auftragstyp aus, von dem die Eigenschaften kopiert werden sollen.</p>
</li>
<li>
<p>Wähle für den Filter <strong>Auftragstyp Ziel</strong> den Auftragstyp, in den die Eigenschaften kopiert werden sollen.</p>
</li>
<li>
<p>Führe die Suche aus.<br>
→ Die Eigenschaften werden in der Tabelle angezeigt.</p>
</li>
<li>
<p>Aktiviere oder deaktiviere in der Tabellenspalte <strong>Auftragseigenschaft kopieren</strong> die Eigenschaften, die kopiert werden sollen.</p>
</li>
<li>
<p>Aktiviere oder deaktiviere in der Tabellenspalte <strong>Auftragspositionseigenschaft kopieren</strong> die Eigenschaften, die kopiert werden sollen.<br>
→ Die aktivierten Eigenschaften werden fortan kopiert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Darüber hinaus stehen dir in der Suche (<span class="icon "><i class="material-filter_alt"></i></span>) noch folgende Filter zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Nur kopierbare Eigenschaften anzeigen</strong> = Wähle <strong>Ja</strong>, wenn dir in der Tabelle nur die Eigenschaften angezeigt werden sollen, die von einem Auftragstyp zum anderen übertragen werden können. Wähle <strong>Nein</strong>, wenn dir in der Tabelle alle Eigenschaften, auch die nicht kopierbaren, angezeigt werden sollen.</p>
</li>
<li>
<p><strong>Eigenschafts-ID</strong> = Gib eine konkrete Eigenschafts-ID ein, nach der du suchen möchtest. Es kann nur eine ID eingegeben werden.</p>
</li>
<li>
<p><strong>Quelle</strong> = Wählst du nichts aus, werden die Eigenschaften aller Quellen angezeigt. Wählst du <strong>Intern</strong> oder <strong>Interface</strong> aus, werden dir jeweils nur die Eigenschaften dieser Quellen angezeigt.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Auftragsbearbeitung durch Backend-Benutzer:innen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Benutzer:innen vom Typ <strong>Backend</strong> Aufträge öffnen können, müssen hier Standardstatus für <strong>Retouren</strong> und <strong>Gutschriften</strong> gespeichert sein. In der Grundeinstellung ist kein Status voreingestellt.<br>
Backend-Benutzer:innen müssen außerdem zur Bearbeitung von Aufträgen <a href="/business-entscheidungen/benutzerkonten-zugaenge#105">berechtigt werden</a>.
Zudem müssen Backend-Benutzer:innen Aufträge der Typen <strong>Retoure</strong>, <strong>Gewährleistung</strong> und <strong>Reparatur</strong> anlegen können. Dafür müssen sie für die im Menü <strong>Einrichtung » Aufträge » Einstellungen</strong> hinterlegten Standardstatus dieser drei Auftragstypen berechtigt sein.<br>
Beachte zudem auch festzulegen, welche Benutzer:innen was im System sehen können. Lege dafür die <a href="/business-entscheidungen/benutzerkonten-zugaenge#100">Sichtbarkeiten</a> fest, z.B. für Warenhäuser und Auftragsstatus.</p>
</div>
</div>
</div>
</main>