<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Verwendungsmöglichkeiten von Gutscheinen</span></a></li>
<li><a href="#15"><span>2.</span><span> Artikel für Gutscheinzahlung vorbereiten</span></a></li>
<li><a href="#20"><span>3.</span><span> Kampagne erstellen</span></a></li>
<li><a href="#55"><span>4.</span><span> Kampagne suchen</span></a></li>
<li><a href="#45"><span>5.</span><span> Kampagnenübersicht anzeigen</span></a></li>
<li><a href="#50"><span>6.</span><span> Kampagne bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#52"><span>6.1.</span><span> Kampagne kopieren</span></a></li>
<li><a href="#55"><span>6.2.</span><span> Kampagne exportieren</span></a></li>
</ul>
</li>
<li><a href="#60"><span>7.</span><span> Gutschein-Codes generieren</span></a>
<ul class="sectlevel2">
<li><a href="#70"><span>7.1.</span><span> Gutschein-Codes manuell generieren</span></a></li>
<li><a href="#80"><span>7.2.</span><span> Externe oder eigene Gutschein-Codes manuell eingeben</span></a></li>
<li><a href="#90"><span>7.3.</span><span> Gutscheinkampagnen und Gutschein-Codes importieren und exportieren</span></a></li>
</ul>
</li>
<li><a href="#100"><span>8.</span><span> Gutschein-Codes per E-Mail versenden</span></a></li>
<li><a href="#110"><span>9.</span><span> Gutscheine im Webshop zum Verkauf anbieten</span></a>
<ul class="sectlevel2">
<li><a href="#120"><span>9.1.</span><span> Gutscheinartikel erstellen</span></a></li>
<li><a href="#130"><span>9.2.</span><span> Gutscheinartikel mit Kampagne verknüpfen</span></a>
<ul class="sectlevel3">
<li><a href="#_freitextfeld_aktivieren"><span>9.2.1.</span><span> Freitextfeld aktivieren</span></a></li>
<li><a href="#_freitextfeld_wählen"><span>9.2.2.</span><span> Freitextfeld wählen</span></a></li>
<li><a href="#_kampagne_mit_gutscheinartikel_verknüpfen"><span>9.2.3.</span><span> Kampagne mit Gutscheinartikel verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#140"><span>9.3.</span><span> Gutscheinvorlage einrichten</span></a></li>
<li><a href="#150"><span>9.4.</span><span> Gutschein erzeugen</span></a></li>
<li><a href="#160"><span>9.5.</span><span> Gutschein automatisch als PDF-Anhang verschicken</span></a>
<ul class="sectlevel3">
<li><a href="#_e_mail_vorlage_einrichten"><span>9.5.1.</span><span> E-Mail-Vorlage einrichten</span></a></li>
<li><a href="#_gutscheinversand_per_ereignisaktion_einrichten"><span>9.5.2.</span><span> Gutscheinversand per Ereignisaktion einrichten</span></a></li>
</ul>
</li>
<li><a href="#170"><span>9.6.</span><span> Gutscheinsumme auf Rechnungen anzeigen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Gutscheine</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Gutscheine sind ein beliebtes Mittel zur Neukundengewinnung, Kundenbindung und Absatzsteigerung. plentymarkets verfügt im Menü&nbsp;<strong>Aufträge » Gutscheine</strong> über ein umfangreiches Gutscheinmodul. In diesem Menü kannst du Kampagnen mit verschiedenen Rabattmöglichkeiten erstellen. Ein Gutschein ist ein bestimmter Code, der einer Kampagne angehört und entweder einmal oder mehrfach eingelöst werden kann. Die Einlösung erfolgt während des Bestellvorgangs. Dabei wird der entsprechende Rabattwert direkt angezeigt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Verwendungsmöglichkeiten von Gutscheinen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein Gutschein enthält einen Code, der einer Kampagne angehört und entweder nur einmal oder mehrfach eingelöst werden kann. Die Einlösung erfolgt während des Bestellvorgangs. Dabei wird der Rabattwert direkt angezeigt. Gutscheine können als Code in einer E-Mail verschickt werden oder als Artikel erstellt und verkauft werden. Der Käufer erhält den Gutschein dann als PDF-Dokument.</p>
</div>
<div class="paragraph">
<p>Die folgende Übersicht zeigt die Verwendungsmöglichkeiten von Gutscheinen:</p>
</div>
<table id="tabelle-verwendungsmoeglichkeiten-gutscheine" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verwendungsmöglichkeiten von Gutscheinen</caption>
<colgroup>
<col style="width: 30%;">
<col style="width: 30%;">
<col style="width: 20%;">
<col style="width: 10%;">
<col style="width: 10%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Gutschein</th>
<th class="tableblock halign-left valign-top">Verwendung</th>
<th class="tableblock halign-left valign-top">per E-Mail</th>
<th class="tableblock halign-left valign-top">Webshop</th>
<th class="tableblock halign-left valign-top">PDF</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Code</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einlösung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ja</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ja</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">nein</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gutschein</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkauf und Einlösung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ja</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ja</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ja</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Voucher</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkauf</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ja</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">nein</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ja</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Template-Variablen für die Ausgabe von Voucher-Codes in E-Mail-Vorlagen</div>
<div class="paragraph">
<p>Wenn du die Template-Variable <strong>$ItemVoucherCodes</strong> in der E-Mail-Vorlage einfügst, werden die Codes eines Vouchers kommasepariert pro Auftragsposition ausgegeben. Über die Template-Variable <strong>$VoucherCodes</strong> werden alle Codes aller Vouchers kommasepariert für einen Auftrag ausgegeben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="15">2. Artikel für Gutscheinzahlung vorbereiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du mit Gutscheinen arbeitest, überlege dir zunächst, welche Artikel aus deinem Sortiment per Gutschein bezahlbar sein sollen.</p>
</div>
<div class="paragraph instruction">
<p>Artikel für Gutscheinzahlung vorbereiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel, der per Gutschein bezahlbar sein soll.</p>
</li>
<li>
<p>Öffne das Tab <a href="/artikel/artikel-verwalten#40">Global</a>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Aktionsgutschein/POS-Rabatt</strong> die Einstellung <strong>Möglich</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen. <br>
→ Beim Kauf des Artikels kann nun ein Gutschein eingelöst werden.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Gutscheinzahlung nicht erlauben</div>
<div class="paragraph">
<p>Stelle im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen</strong> im Tab <strong>Global</strong> die Option <strong>Aktionsgutschein</strong> auf <strong>Verboten</strong>, wenn der Artikel nicht per Gutschein bezahlbar sein soll. Legt der Kunde einen solchen Artikel in den Warenkorb, wird der Rabattbetrag für diesen Artikel nicht abgezogen. Dies ist z.B. bei Sonderangeboten sinnvoll, die nicht weiter rabattiert werden sollen.</p>
</div>
<div class="paragraph">
<p>Soll ein Artikel nur per Gutschein bezahlbar sein, wähle die Einstellung <strong>Nur mit Gutschein kaufbar</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">3. Kampagne erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Da jeder Gutschein einer Kampagne angehört, muss zuerst eine Kampagne erstellt werden. Kampagnen erstellst du im Menü <strong>Aufträge » Gutscheine</strong>. Bereits erstellte Kampagnen enthalten neben dem Tab <strong>Einstellungen</strong> 2 weitere Tabs: <a href="/auftraege/gutscheine#60">Codes</a> und <a href="/auftraege/gutscheine#140">Vorlagen</a>.</p>
</div>
<div id="bild-kampagne-erstellen" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftraege/assets/Gutscheine-Kampagne-erstellen.png" alt="Gutscheine Kampagne erstellen" width="640" height="360">
</div>
<div class="title">Bild 1. Kampagne im Menü <strong>Aufträge » Gutscheine</strong> erstellen</div>
</div>
<div class="paragraph instruction">
<p>Kampagne erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Gutscheine</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Kampagne</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-einstellungen-gutscheinkampagne">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen. <br>
→ Die Kampagne wird erstellt und in der Übersicht angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Kampagnen nicht löschen</div>
<div class="paragraph">
<p>Jeder Gutschein gehört einer Kampagne an. Daher sollten Kampagnen nicht gelöscht werden, um Probleme mit bereits eingelösten Gutscheinen zu vermeiden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-einstellungen-gutscheinkampagne" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen für eine neue Gutschein-Kampagne</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Kampagne</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Kampagne eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung der Kampagne eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Konzept: Code</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In der oberen Dropdown-Liste die Einstellung für die Codes wählen: <br>
<strong>Ein Code</strong> = Pro Kampagne wird ein Gutschein-Code erzeugt, der mehrmals einlösbar ist. <br>
<strong>Mehrere Codes</strong> = Es werden einzelne Gutschein-Codes erzeugt, die nur einmal einlösbar sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Konzept: Einlösungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In der unteren Dropdown-Liste die Einstellung für die Einlösung(en) wählen: <br>
<strong>Mehrere Einlösungen pro Kunde</strong> = Ein Kunde kann den Gutscheinbetrag mehrmals abrufen. <br>
<strong><em>Wichtig:</em></strong> Wenn der Gutschein an mehrere Kunden verschickt wird, können diese den Gutschein unbegrenzt oft abrufen. In diesem Fall können hohe Gesamtbeträge erreicht werden.<br>
<strong>Eine Einlösung pro Kunde</strong> = Ein Gutschein kann nur einmal pro Kunde vollständig oder in Teilbeträgen abgerufen werden. Bei mehreren Kunden können diese einen niedrigeren Betrag abrufen, doch sobald der erste Kunde den Gutscheinbetrag erreicht, ist keine weitere Einlösung mehr möglich. <br>
<strong><em>Hinweis:</em></strong> Ist der Kunde kein registrierter Kunde und loggt sich über einen Gastzugang ein, wird er im System als neuer Kunde geführt. Wird die Gutscheinsumme nicht komplett verbraucht, kann der Gutschein immer wieder verwendet werden, da eine Einlösung PRO Kunde eingestellt ist - also neuer Kunde, neuer Gutschein. <br>
<strong><em>Wichtig:</em></strong> Teilbeträge, die unter dem Gutscheinbetrag liegen, können von allen Kunden parallel abgerufen werden. Erst wenn der erste Kunde den vollen Betrag erreicht, endet die Einlöseoption. In diesem Fall können hohe Gesamtbeträge erreicht werden.<br>
<strong>Einlösung bis Wert aufgebraucht ist</strong> = Der gesamte Betrag kann insgesamt nur einmal abgerufen werden. Ruft ein Kunde mehrere Teilbeträge ab, dürfen alle Teilbeträge zusammen nur so hoch sein wie der Gutscheinbetrag. Der Gutschein kann nicht durch mehrere Kunden eingelöst werden. <br>
<strong>Eine einzige Einlösung</strong> = Nur ein Einlösungsvorgang ist möglich. Auch wenn dies nur ein geringer Teilbetrag ist, sind keine weiteren Einlösungen möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nutzung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einzelbestellungen</strong> oder <a href="/auftraege/scheduler">Abonnement</a> oder beides wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindestbestellwert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindestbestellwert, der erreicht werden muss, damit der Gutschein eingelöst werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Gültigkeiten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Startdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Datum, ab dem die Kampagne aktiv sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enddatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Datum, bis zu dem die Kampagne aktiv sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Code-Gültigkeit in Wochen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Wochen eingeben, die die Gutschein-Codes gültig sein sollen. 12 eingeben, wenn die Gutschein-Codes 12 Wochen lang gültig sein sollen.<br>
<strong><em>Wichtig:</em></strong> Die Gültigkeit darf dabei nicht mit den vorigen Optionen <strong>Startdatum</strong> und <strong>Enddatum</strong> verwechselt werden. Die Gültigkeit kann z.B. ein Jahr betragen (Eintrag: 52) und die Kampagne in diesem Zeitraum mehrfach gestartet und wieder beendet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Gutschein</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutscheintyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutschein</strong> oder <strong>Voucher</strong> wählen. <br>
Anders als der Gutscheintyp <strong>Gutschein</strong> werden Gutscheine vom Typ <strong>Voucher</strong> nicht im Webshop, sondern bei Drittanbietern eingelöst. Voucher werden vor allem in der Hotellerie eingesetzt und dienen gleichzeitig auch als Reservierungsbestätigung. <br>
<strong><em>Hinweis:</em></strong> Abhängig davon, welcher Gutscheintyp gewählt wurde, stehen unterschiedliche Einstellungen zur Verfügung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Code-Zuweisung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur bei Gutscheintyp <strong>Voucher</strong> sichtbar. <br>
Wählen, ob die Gutschein-Codes neu erzeugt werden sollen oder vorhandene benutzt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutscheinart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktionsgutschein</strong> oder <strong>Verkaufsgutschein</strong> wählen. Bestimmt, wie die Gutscheine im Auftrag eingelöst und in den PDF-Dokumenten dargestellt werden. <br>
Für Kampagnen mit Gutscheinen, die über den Webshop verkauft werden, <strong>Verkaufsgutschein</strong> wählen. <br>
Diese Einstellung hat auch Einfluss darauf, wie der Gutschein im Webshop verrechnet wird. <a href="/auftraege/gutscheine#25">Ein Beispiel erläutert die Berechnungsmethode</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Code-Länge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Zeichenlänge des Gutschein-Codes wählen. Gutschein-Codes können <strong>6</strong>, <strong>16</strong>, <strong>24</strong> oder <strong>32</strong> Zeichen lang sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rabattart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Art des Rabatts wählen. <br>
<strong>Festbetrag</strong> = Festen Rabattbetrag eingeben. <br>
<strong>Prozentwert</strong> = Prozentwert vom Rechnungsbetrag eingeben. 10 eingeben, wenn 10 Prozent des Rechnungsbetrags abgezogen werden sollen. <br>
<strong>Stück</strong> = Stückzahlen eingeben, z.B. 3 Artikel zum Preis von 2 Artikeln. <br>
<strong>Versand</strong> = Der Rabatt besteht in kostenlosem Versand.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rabattwert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rabattwert des Gutscheins eingeben.<br>
Option <strong>inkl. Versandkosten</strong> aktivieren, wenn die Versandkosten im Rabattwert eingeschlossen sein sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Filter</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel über Preisportale</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erlauben</strong> = Gutscheine gelten auch für Artikel über <a href="/maerkte#<em>preisportale_nutzen#">Preisportale</a>, d.h. für Artikel, die gleichzeitig auf anderen Marktplätzen angeboten werden. <br>
<strong>Nicht erlauben</strong> = Gutscheine können nicht für Artikel über Preisportale verwendet werden (Standardeinstellung).<br>
<strong>_Hinweis:</strong> Preisportale sind alle Herkünfte &gt; 1. Das bedeutet, dass neben Preisportalen auch Marktplätze und Plattformen inbegriffen sind. Die manuelle Anlage (Herkunft 0) und Webshop (Herkunft 1) sind von dieser Einstellung nicht betroffen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorien</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Kategorie oder alle Kategorien hinzufügen (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>), bei denen der Gutschein der Kampagne einlösbar sein soll. Die Auswahl gilt auch für alle Unterkategorien einer markierten Kategorie. Es ist auch möglich, nur Unterkategorien hinzuzufügen.<br>
Mit einem Klick auf <strong>Löschen</strong> (<span class="icon"><i class="fa fa-minus-square" style="color:red"></i></span>) neben der Kategorie-ID und dem Kategorienamen wird die Kategorie aus dieser Kampagne gelöscht und aus der Liste entfernt.<br>
<strong><em>Hinweis:</em></strong> Lediglich die Verknüpfung zur Kampagne wird gelöscht, nicht aber die Kategorie selbst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel hinzufügen, für die der Gutschein der Kampagne einlösbar sein soll. Dazu die Artikel-ID in das Textfeld eingeben und auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>) klicken. Die Artikel-ID wird der Kampagne hinzugefügt. Bis zu 20 Artikel können einer Kampagne hinzugefügt werden. <br>
Mit einem Klick auf die Artikel-ID wird der Artikel im Menü <strong>Artikel » Artikel bearbeiten</strong> geöffnet. Mit einem Klick auf <strong>Löschen</strong> (<span class="icon"><i class="fa fa-minus-square" style="color:red"></i></span>) neben der Artikel-ID wird der Artikel aus dieser Kampagne gelöscht und aus der Liste entfernt.<br>
<strong><em>Hinweis</em></strong> Lediglich die Verknüpfung zur Kampagne wird gelöscht, nicht aber der Artikel selbst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandanten (Shops)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/omni-channel/online-shop">Mandanten (Shops)</a> wählen, für die der Gutschein einlösbar sein soll. Mindestens ein Mandant muss gewählt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenklassen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/crm/kontakte-verwalten#15">Kundenklassen</a> wählen, für die der Gutschein einlösbar sein soll. Mindestens eine Kundenklasse muss gewählt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundentypen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/crm/kontakte-verwalten#20">Kundentypen</a> wählen, für die der Gutschein einlösbar sein soll. Mindestens ein Kundentyp muss gewählt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>E-Mail-Vorlage</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variable</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Variable für <a href="/crm/e-mails-versenden">E-Mail-Vorlagen</a> wählen. Die Option <strong>Keine Variable</strong> ist voreingestellt.<br>
<strong><em>Hinweis:</em></strong> Sobald eine Variable für eine Kampagne gewählt wurde, ist diese Variable für eine weitere Kampagne nicht mehr verfügbar.</p></td>
</tr>
</tbody>
</table>
<div id="25" class="paragraph subhead">
<p>Beispiel für die Berechnung von Aktions- und Verkaufsgutscheinen</p>
</div>
<div class="paragraph">
<p>In der Kampagne im Tab <strong>Einstellungen</strong> kannst du die Gutscheinart <strong>Aktionsgutschein</strong> oder <strong>Verkaufsgutschein</strong> wählen. Die Auswahl der Gutscheinart hat Einfluss darauf, wie der Gutschein im Webshop verrechnet wird. Aktionsgutscheine werden z.b. ähnlich wie Rabatte verrechnet.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel für die Berechnung von Aktions- und Verkaufsgutscheinen</div>
<div class="paragraph">
<p>Ein Kunde hat einen Gutschein im Wert von 15,00 Euro. Der Kunde kauft für 25,00 Euro ohne MwSt. ein. Er kauft 2 Artikel. Einen Artikel für 17,95 Euro, der mit 19 % MwSt. versteuert werden muss, und einen Artikel für 7,05 Euro, auf den nur 7 % MwSt. angewendet werden. Handelt es sich bei dem Gutschein um einen <strong>Verkaufsgutschein</strong>, wird der Gutscheinwert vom Gesamtbetrag inkl. Steuern abgezogen. Handelt es sich um einen <strong>Aktionsgutschein</strong>, wird der Gutscheinwert zuerst abgezogen und dann der Restbetrag besteuert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-vergleich-aktionsgutschein-verkaufsgutschein" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Vergleich von Aktionsgutschein und Verkaufsgutschein</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Verkaufsgutschein</th>
<th class="tableblock halign-left valign-top">Aktionsgutschein</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betrag vor Abzug des Gutscheinwertes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28,91 Euro inklusive MwSt.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">25,00 Euro exklusive MwSt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betrag nach Abzug des Gutscheinwertes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">13,91 Euro inklusive MwSt.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10,00 Euro exklusive MwSt.</p>
<p class="tableblock">11,56 Euro inklusive MwSt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durch den Kunden zu zahlender Endbetrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">13,91 Euro</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">11,56 Euro</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="55">4. Kampagne suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Kampagnen zu suchen, wähle die Suchparameter im Menü <strong>Aufträge » Gutscheine</strong>. In der Standardeinstellung der Filter werden alle Kampagnen gesucht und angezeigt. In der <a href="/auftraege/auftraege-verwalten#1370">Auftragssuche</a> steht ein Suchfilter für Gutschein-Codes zur Verfügung.</p>
</div>
<div class="paragraph instruction">
<p>Kampagne suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Gutscheine</strong>.</p>
</li>
<li>
<p>Gib im Bereich <strong>Filter</strong> die ID oder den Gutschein-Code ein bzw. stelle Filteroptionen in den Dropdown-Listen ein. Beachte dazu die Erläuterungen in <a href="#tabelle-kampagne-suchen">Tabelle 4</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die Kampagnen, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
</ol>
</div>
<table id="tabelle-kampagne-suchen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Kampagne suchen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suchen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ohne gewählte Filtereinstelllungen auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>) klicken, um alle Kampagnen anzuzeigen.<br>
(<span class="icon"><i class="fa fa-map-signs"></i></span>) <strong><em>Oder:</em></strong> Die Suchergebnisse durch Filtereinstellungen eingrenzen und auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>) klicken.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zurücksetzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit einem Klick auf <strong>Zurücksetzen</strong> (<span class="icon"><i class="fa fa-undo" style="color:orange"></i></span>) werden die eingestellten Filterkriterien zurückgesetzt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Kampagne eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutschein-Code</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gutschein-Code eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant aus der Dropdown-Liste wählen, um nur Kampagnen dieses Mandanten anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kundenklasse aus der Dropdown-Liste wählen, um nur Kampagnen für diese Kundenklasse anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum von / bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Start- und Enddatum der Kampagne aus dem Kalender (<span class="icon"><i class="fa fa-calendar"></i></span>) wählen oder die Daten manuell eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutscheinart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktionsgutschein</strong> oder <strong>Verkaufsgutschein</strong> wählen, um nur Kampagnen mit dieser Gutscheinart anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutscheintyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutschein</strong> oder <strong>Voucher</strong> wählen, um nur Kampagnen mit diesem Gutscheintyp anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Konzept</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ein Code</strong>, <strong>Mehrere Codes</strong> oder <strong>Alle</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rabattart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rabattart wählen, um nur Kampagnen mit dieser Rabattart anzuzeigen. Mögliche Optionen: <strong>Festbetrag</strong>, <strong>Prozentwert</strong>, <strong>Stück</strong>, <strong>Versand</strong> oder <strong>Alle</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="45">5. Kampagnenübersicht anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Gutscheine</strong> im Tab <strong>Kampagnen</strong> werden die wichtigsten Informationen der erstellten Kampagnen in der Übersicht angezeigt. <a href="#tabelle-kampagnenuebersicht">Tabelle 5</a> erläutert die Kampagnenübersicht. Über die Funktion <strong>Ansicht einrichten</strong> (<span class="icon"><i class="fa fa-cog"></i></span>), die sichtbar wird, wenn du mit der Maus über die Titelleiste in der Übersicht zeigst, entscheidest du, welche Informationen in der Übersicht angezeigt werden.</p>
</div>
<table id="tabelle-kampagnenuebersicht" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Informationen in der Kampagnenübersicht</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Kampagne. Wird automatisch vom System vergeben und kann nicht geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Kampagne.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt das Datum an, seit dem die Kampagne aktiv ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ende</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt das Datum an, bis zu dem die Kampagne aktiv ist.<br>
<strong><em>Wichtig:</em></strong> Nicht mit der Gültigkeit zu verwechseln. Dazu die Erläuterung zur Option <strong>Code-Gültigkeit in Wochen</strong> in <a href="#tabelle-einstellungen-gutscheinkampagne">Tabelle 2</a> beachten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutscheintyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Gutscheintyp an. Mögliche Werte: <strong>Gutschein</strong> oder <strong>Voucher</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutscheinart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zu den Gutscheinarten <strong>Aktionsgutschein</strong> und <strong>Verkaufsgutschein</strong> die Erläuterungen in <a href="#tabelle-einstellungen-gutscheinkampagne">Tabelle 2</a> sowie das <a href="/auftraege/gutscheine#25">Beispiel</a> unter der Tabelle beachten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Konzept</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Konzept bestimmt z.B., ob ein Gutschein nur einmal oder mehrfach eingelöst werden kann. Erläuterungen dazu in <a href="#tabelle-einstellungen-gutscheinkampagne">Tabelle 2</a> beachten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rabatt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Rabattart sowie den dazugehörigen Wert an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindestbestellwert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindestbestellwert, ab dem der Gutschein eingelöst werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einlösungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die rote Ziffer steht für die Anzahl der eingelösten Gutscheine. Die grüne Ziffer steht für die Anzahl der noch nicht eingelösten Gutscheine.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf <span class="icon"><i class="fa fa-download" style="color:purple"></i></span> am Zeilenende der Kampagne klicken, um die Kampagnedaten in eine CSV-Datei zu exportieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf <span class="icon"><i class="fa fa-minus-square" style="color:red"></i></span> klicken, um die Kampagne zu löschen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">6. Kampagne bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bereits erstellte Kampagnen kannst du jederzeit bearbeiten.</p>
</div>
<div class="paragraph instruction">
<p>Kampagne bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Gutscheine</strong>.</p>
</li>
<li>
<p>Suche (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>) die Kampagne, die du bearbeiten möchtest anhand der Filtereinstellungen in <a href="#tabelle-kampagne-suchen">Tabelle 4</a>.</p>
</li>
<li>
<p>Klicke in die Zeile der Kampagne.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-einstellungen-gutscheinkampagne">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="52">6.1. Kampagne kopieren</h3>
<div class="paragraph">
<p>Spare Zeit und kopiere eine Kampagne, um anschließend nur noch ein paar Anpassungen zu machen anstatt die Kampagne komplett neu zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Kampagne kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Gutscheine</strong>.</p>
</li>
<li>
<p>Suche (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>) die Kampagne, die du kopieren möchtest anhand der Filtereinstellungen in <a href="#tabelle-kampagne-suchen">Tabelle 4</a>.</p>
</li>
<li>
<p>Klicke in die Zeile der Kampagne.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Kopieren</strong> (<span class="icon"><i class="fa fa-clone" style="background-color:yellow"></i></span>).<br>
→ Die Kampagne wird kopiert und mit der nächsten freien ID erstellt. Der Name wird aus der kopierten Kampagne übernommen und mit dem Wort "COPY" gespeichert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="55">6.2. Kampagne exportieren</h3>
<div class="paragraph">
<p>Du kannst die Kampagnendaten in eine CSV-Datei exportieren, um diese anschließend weiterzuverarbeiten.</p>
</div>
<div class="paragraph instruction">
<p>Kampagne exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Gutscheine</strong>.</p>
</li>
<li>
<p>Suche (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>) die Kampagne, die du kopieren möchtest anhand der Filtereinstellungen in <a href="#tabelle-kampagne-suchen">Tabelle 4</a>.</p>
</li>
<li>
<p>Klicke in die Zeile der Kampagne.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Export</strong> (<span class="icon"><i class="fa fa-download" style="color:purple"></i></span>).<br>
→ Die Kampagnendaten werden in eine CSV-Datei exportiert.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">7. Gutschein-Codes generieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Gutschein</strong> im Tab <strong>Codes</strong> einer Kampagne findest du den Gutschein-Generator. Zum Generieren von Gutschein-Codes mit dem Gutschein-Generator stehen 2 Verfahren zur Verfügung, die im Folgenden erläutert werden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Gültige Zeichen für Gutschein-Codes</div>
<div class="paragraph">
<p>Ein Gutschein-Code kann aus Klein- oder Großbuchstaben, Ziffern, den Sonderzeichen _ und - oder aus einer Kombination aus diesen Zeichen bestehen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="70">7.1. Gutschein-Codes manuell generieren</h3>
<div class="paragraph">
<p>Generiere gleichzeitig mehrere Gutschein-Codes. Diese Codes werden automatisch generiert und der Code-Liste hinzugefügt.</p>
</div>
<div class="paragraph instruction">
<p>Gutschein-Codes manuell generieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Gutscheine</strong>.</p>
</li>
<li>
<p>Klicke auf die Kampagne, für die du Gutschein-Codes erzeugen möchtest.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Codes</strong>.</p>
</li>
<li>
<p>Gib im Bereich <strong>Gutschein-Codes manuell generieren</strong> die <strong>Anzahl</strong> an Gutschein-Codes ein, die generiert werden soll.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save"></i></span>) die Einstellungen.<br>
→ Die Gutschein-Codes werden generiert und in der Liste der Gutschein-Codes hinzugefügt.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Mehr Codes als Einlösungen</div>
<div class="paragraph">
<p>Die Anzahl der offenen Gutscheine kann die maximale Anzahl der Einlösungen überschreiten. Somit können noch offene Gutschein-Codes übrig bleiben, nachdem die maximale Anzahl an Einlösungen erreicht ist. Diese sind nicht mehr einlösbar.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="80">7.2. Externe oder eigene Gutschein-Codes manuell eingeben</h3>
<div class="paragraph">
<p>Füge eigene oder externe Codes hinzu. Dabei kann es sich um Codes handeln, die du erhalten hast und die nicht in deinem plentymarkets System generiert wurden, oder um eigene Codes, die du individuell benennst und eingibst.</p>
</div>
<div class="paragraph instruction">
<p>Gutschein-Code manuell eingeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Gutscheine</strong>.</p>
</li>
<li>
<p>Klicke auf die Kampagne, für die du einen Gutschein-Code eingeben möchtest.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Codes</strong>.</p>
</li>
<li>
<p>Gib im Bereich <strong>Gutschein-Code manuell eintragen</strong> einen <strong>Code</strong> mit 6 bis 32 Zeichen ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save"></i></span>) die Einstellungen. <br>
→ Der Gutschein-Code wird generiert und der Liste der Gutschein-Codes hinzugefügt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="90">7.3. Gutscheinkampagnen und Gutschein-Codes importieren und exportieren</h3>
<div class="paragraph">
<p>Verwende den ElasticSync im Menü <strong>Daten » ElasticSync</strong>, um <a href="/daten/daten-importieren/sync-typen/elasticSync-gutschein-codes">Gutschein-Codes</a> zu importieren. Auf diese Weise ist es möglich, größere Mengen an Gutschein-Codes in einem Arbeitsgang zu importieren, statt sie einzeln manuell einzugeben. Erstelle dazu einen Sync des Typs <strong>Gutschein-Code</strong>.</p>
</div>
<div class="paragraph">
<p>Um Kampagnen zu importieren, verwende den Sync-Typ <a href="/daten/daten-importieren/sync-typen/elasticSync-kampagnen">Kampagnen</a>.</p>
</div>
<div class="paragraph">
<p>Wenn du deine bestehenden Gutscheinkampagnen exportieren möchtest, verwende das Datenformat <strong>Campaign</strong> im Menü <strong>Daten » Dynamischer Export</strong>. Um Gutschein-Codes zu exportieren, verwende das Datenformat <a href="/daten/export-import/datenformate/campaigncoupon">CampaignCoupon</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">8. Gutschein-Codes per E-Mail versenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gutschein-Codes können automatisch in E-Mails eingebunden werden. Beim Versenden einer E-Mail wird immer ein neuer Gutschein-Code erzeugt und versendet.</p>
</div>
<div class="paragraph">
<p>So kann auch per Newsletter jedem Kunden ein automatisch generierter Gutschein-Code zugeschickt werden. Dazu muss der Kampagne zunächst eine <a href="/crm/e-mails-versenden#4200">Template-Variable</a> zugewiesen werden, z.B. <strong>$CouponCode1</strong>.</p>
</div>
<div class="paragraph">
<p>Danach fügst du diese Template-Variable <strong>$CouponCode1</strong> in eine <a href="/crm/e-mails-versenden#1200">E-Mail-Vorlage</a> ein. Bei jedem Versand wird dann automatisch ein neuer Gutschein für die Kampagne erstellt.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Eine Template-Variable pro Kampagne</div>
<div class="paragraph">
<p>Eine Template-Variable kann nur einer Kampagne zugeordnet werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Template-Variable einer Kampagne zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Gutscheine</strong>.</p>
</li>
<li>
<p>Klicke auf die Kampagne, der du eine Variable zuordnen möchtest.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle im Bereich <strong>E-Mail-Vorlage</strong> eine <strong>Variable</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="110">9. Gutscheine im Webshop zum Verkauf anbieten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du Gutscheine in deinem Webshop zum Verkauf anbieten kannst, muss die <a href="/auftraege/gutscheine#20">Gutscheinkampagne</a> mit der Gutscheinart <strong>Verkaufsgutschein</strong> erstellt sein. Weitere Informationen findest du in <a href="#tabelle-einstellungen-gutscheinkampagne">Tabelle 2</a>.</p>
</div>
<div class="paragraph">
<p>Um Gutscheine zu verkaufen, benötigst du außerdem ein Freitextfeld sowie eine Gutscheinvorlage für die Kampagne.
Gehe wie im Folgenden beschrieben vor, um Gutscheine in deinem Webshop zu verkaufen.</p>
</div>
<div class="sect2">
<h3 id="120">9.1. Gutscheinartikel erstellen</h3>
<div class="paragraph">
<p>Erstelle nun einen <a href="/artikel/artikel-verwalten#40">Gutscheinartikel</a> an, den du z.B. <strong>Gutschein1</strong> nennst. Gib einen Preis und eine Kurzbeschreibung ein. Verknüpfe den Gutscheinartikel mit einer Kategorie. Erstelle ggf. eine eigene Kategorie für Gutscheine. Diese Parameter werden wie bei jedem Artikel im Webshop angezeigt.</p>
</div>
</div>
<div class="sect2">
<h3 id="130">9.2. Gutscheinartikel mit Kampagne verknüpfen</h3>
<div class="paragraph">
<p>Das Verknüpfen der Kampagne mit dem Gutscheinartikel erfolgt über ein <a href="/artikel/artikel-verwalten#70">Freitextfeld</a>.
Gehe wie im Folgenden beschrieben vor, um das Freitextfeld zu aktivieren, zu wählen und anschließend den Gutscheinartikel mit dem Freitextfeld <strong>Kampagne ID</strong> zu verknüpfen.</p>
</div>
<div class="sect3">
<h4 id="_freitextfeld_aktivieren">9.2.1. Freitextfeld aktivieren</h4>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Artikel » Freitextfelder</strong> aktivierst du das Freitextfeld.</p>
</div>
<div class="paragraph instruction">
<p>Freitextfeld aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Freitextfelder</strong>.</p>
</li>
<li>
<p>Gib <strong>Kampagne ID</strong> als Feldbezeichnung ein.</p>
</li>
<li>
<p>Wähle den Datentyp <strong>Zahl</strong>.</p>
</li>
<li>
<p>Gib die Zeichenlänge ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Nur Kampagne ID als Feldbezeichnung zulässig</div>
<div class="paragraph">
<p>Achte auf die Schreibweise des Freitextfeldes. Der Name <strong>Kampagne ID</strong> ist nur in der Schreibweise mit Leerzeichen gültig. Andere Namen und Schreibweisen sind nicht erlaubt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_freitextfeld_wählen">9.2.2. Freitextfeld wählen</h4>
<div class="paragraph">
<p>Wähle nun das Freitextfeld, das du für Gutscheinkampagnen verwenden möchtest. Nachdem du die Einstellung gespeichert hast, wird das Feld <strong>Kampagne ID</strong> im Tab <strong>Felder</strong> der Artikel angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Freitextfeld wählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Gutscheine</strong>.</p>
</li>
<li>
<p>Wähle <strong>Kampagne ID</strong> als <strong>Kampagnenfeld</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_kampagne_mit_gutscheinartikel_verknüpfen">9.2.3. Kampagne mit Gutscheinartikel verknüpfen</h4>
<div class="paragraph">
<p>Verknüpfe nun deine Kampagne mit einem Gutscheinartikel.</p>
</div>
<div class="paragraph instruction">
<p>Gutscheinartikel mit Kampagne verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Gutscheinartikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Felder</strong>.</p>
</li>
<li>
<p>Gib in das Freitextfeld, das du zuvor im Menü <strong>Einrichtung » Aufträge » Gutscheine</strong> für Gutscheinkampagnen gewählt hast, die ID der Kampagne ein, die du mit dem Gutscheinartikel verknüpfen möchten.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="140">9.3. Gutscheinvorlage einrichten</h3>
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Gutscheine » Tab: Vorlagen</strong> im aufklappbaren Bereich <strong>Gutschein-Vorlage</strong> einer Kampagne speicherst du eine Gutscheinvorlage für die Kampagne, d.h., du speicherst für jede Kampagne eine eigene Vorlage. Die Vorlage ist der Hintergrund der Gutscheine, den du entwirfst und als PDF-Datei speicherst. Im aufklappbaren Bereich <strong>Gutschein-Layout</strong> legst du die Elemente für den Gutschein sowie die Position der Elemente fest.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">PDF-Version</div>
<div class="paragraph">
<p>plentymarkets unterstützt derzeit PDF-Dokumentenformate bis Version 1.4.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Gutscheinvorlage einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Gutscheine</strong>.</p>
</li>
<li>
<p>Klicke in der Übersicht auf die Gutscheinkampagne, für die du die Vorlagen bearbeiten möchtest.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Vorlagen</strong>.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Gutschein-Vorlage</strong> auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Klicke bei <strong>Dokumenten-Vorlage Upload</strong> auf <strong>Datei auswählen</strong>.</p>
</li>
<li>
<p>Wähle das Dokument aus und klicke auf <strong>Öffnen</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen. <br>
<strong><em>Tipp:</em></strong> Nach erfolgreichem Upload der Datei wird eine Erfolgsmeldung angezeigt. Wenn nach dem Klick auf <strong>Vorschau anzeigen</strong> (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>) eine Fehlermeldung und keine Erfolgsmeldung angezeigt wird, wende dich an den Support. Unter Umständen ist das Gutscheinverkaufsmodul für dein System nicht aktiviert.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Gutschein-Layout</strong> auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Wähle den Zeichensatz aus der Dropdown-Liste.</p>
</li>
<li>
<p>Gib Werte für die X-Koordinaten (horizontal) und Y-Koordinaten (vertikal) sowie für die Schriftgrößen ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
<strong><em>Tipp:</em></strong> Nach erfolgreichem Speichern wird eine Erfolgsmeldung angezeigt. Klicke auf <strong>Vorschau anzeigen</strong> (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>), um einen Eindruck davon zu bekommen, wie der Gutschein aussehen wird und korrigiere die Werte, bis du mit dem Ergebnis zufrieden bist.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="150">9.4. Gutschein erzeugen</h3>
<div class="paragraph">
<p>Der Prozess zum Kauf eines Gutscheins unterscheidet sich nicht vom Kaufprozess eines normalen Artikels. Sobald dein Kunde den Gutschein erworben hat, kann er die Gutscheintexte für die Gutscheinvorlage speichern.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Hinweistext</div>
<div class="paragraph">
<p>Um einen persönlichen Text zu speichern, muss der Kunde in seinem <strong>Mein Konto</strong>-Bereich des Webshops beim Artikel noch einmal auf <strong>Ändern</strong> klicken. Schreibe am besten einen kurzen Hinweis in der Beschreibung des Gutscheinartikels, um Kunden darüber zu informieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Nachdem der Kunde den Gutschein gekauft hat, kann er die Gutscheintexte wie folgt anpassen:</p>
</div>
<div class="paragraph instruction">
<p>Gutscheintexte im Mein Konto anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Im Webshop einloggen.</p>
</li>
<li>
<p>Den Bereich <strong>Mein Konto</strong> des Webshops im Bereich <strong>Auftragshistorie</strong> öffnen.</p>
</li>
<li>
<p>Den Auftrag mit dem Gutschein öffnen.</p>
</li>
<li>
<p>Beim Artikel auf <strong>Ändern</strong> klicken.</p>
</li>
<li>
<p>Dort kann nun ein <strong>Empfänger</strong>, ein <strong>Absender</strong> sowie ein <strong>Text</strong> gespeichert werden. <br>
→ Diese Texte werden auf der Gutschein-Vorlage angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn der Kunde den Gutschein bezahlt hat, wird der Download der PDF-Vorlage bereitgestellt. Dies ist am PDF-Symbol erkennbar.</p>
</div>
<div class="paragraph">
<p>Nachdem das PDF-Dokument durch Klick auf <strong>PDF erzeugen</strong> erstellt wurde, kann der Kunde die Datei drucken oder speichern.</p>
</div>
</div>
<div class="sect2">
<h3 id="160">9.5. Gutschein automatisch als PDF-Anhang verschicken</h3>
<div class="paragraph">
<p>Gutscheine als PDF-Anhang zu verschicken ist z.B. sinnvoll, wenn du in deinem Webshop Geschenkgutscheine oder Reisegutscheine verkaufst.</p>
</div>
<div class="paragraph">
<p>Wenn du Gutscheine verkaufst und diese nicht im Mein-Konto-Bereich als PDF-Download zur Verfügung stellst, sondern per E-Mail versenden möchtest, erzeuge und versende Gutscheine per <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a>. Für den E-Mail-Versand benötigst du eine <a href="/crm/e-mails-versenden#1200">E-Mail-Vorlage</a>, bei der du für die Option <strong>PDF-Anhang</strong> den Typ <strong>Voucher</strong> einstellst. Der Gutschein wird der E-Mail-Vorlage dann automatisch als PDF-Anhang hinzugefügt.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Voraussetzungen für Versand per Ereignisaktion</div>
<div class="paragraph">
<p>Damit Gutschein-Codes per Ereignisaktion versendet werden können, benötigst du eine Gutscheinkampagne. Diese musst du am Artikel mittels Freitextfeld hinterlegt haben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="_e_mail_vorlage_einrichten">9.5.1. E-Mail-Vorlage einrichten</h4>
<div class="paragraph">
<p>Richte wie im Folgenden beschrieben die E-Mail-Vorlage für den Gutschein ein.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail-Vorlage einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>E-Mail » Vorlagen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue E-Mail-Vorlage</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).</p>
</li>
<li>
<p>Gib im Fenster <strong>Neue E-Mail-Vorlage</strong> einen Namen für die Vorlage ein, z.B. <strong>Reisegutschein</strong>.</p>
</li>
<li>
<p>Wähle einen <strong>Eigner</strong> oder <strong>Alle</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>).<br>
→ Die E-Mail-Vorlage wird erstellt, in die Liste eingeordnet und geöffnet.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>PDF-Anhang</strong> die Einstellung <strong>Voucher</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>E-Mail-Nachricht</strong>.</p>
</li>
<li>
<p>Gib <strong>Betreff</strong> und <strong>Inhalt</strong> ein.</p>
</li>
<li>
<p>Verwende Template-Variablen, um z.B. den Namen des Kunden einzufügen.<br>
→ <strong><em>Wichtig:</em></strong> Füge nicht die Template-Variable für Gutscheine <strong>$CouponCode</strong> ein, da der Gutschein ja als Anhang versendet werden soll.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_gutscheinversand_per_ereignisaktion_einrichten">9.5.2. Gutscheinversand per Ereignisaktion einrichten</h4>
<div class="paragraph">
<p>Richte nun wie im Folgenden beschrieben die Ereignisaktion für den automatischen Versand von Gutscheinvorlagen ein.</p>
</div>
<div class="paragraph instruction">
<p>Gutscheinversand per Ereignisaktion einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke unten links auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das Ereignis gemäß <a href="#tabelle-ereignisaktion-gutscheinvorlagen">Tabelle 6</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#tabelle-ereignisaktion-gutscheinvorlagen">Tabelle 6</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-ereignisaktion-gutscheinvorlagen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Ereignisaktion zum automatischen Senden von Gutscheinvorlagen</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlung &gt; Vollständig</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Auftragstyp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel &gt; Artikel enthalten</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dokumente &gt; Verkaufsgutschein erzeugen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Hinweis:</em></strong> Diese Aktion wird nur für bezahlte Aufträge ausgeführt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Status ändern</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 3</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kunde &gt; E-Mail versenden</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Vorlage wählen und <strong>Kunde</strong> als Empfänger wählen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="170">9.6. Gutscheinsumme auf Rechnungen anzeigen</h3>
<div class="paragraph">
<p>Verkaufte Gutscheine werden auf Rechnungen als Artikelpositionen aufgeführt. Um die Summe von eingelösten Gutscheinen auf Rechnungen anzuzeigen, muss im Layout des <a href="/auftraege/auftragsdokumente/rechnungen-erzeugen">Rechnungsdokuments</a> ein Name im Feld <strong>Gutscheinsumme</strong> eingegeben sein.</p>
</div>
</div>
</div>
</div>
</main>