<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Auftrags-ID eingeben</span></a></li>
<li><a href="#200"><span>2.</span><span> Artikel scannen</span></a></li>
<li><a href="#300"><span>3.</span><span> Palette bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#400"><span>3.1.</span><span> Palette durch Scannen des Artikels erstellen</span></a></li>
<li><a href="#500"><span>3.2.</span><span> Palette manuell hinzufügen</span></a></li>
<li><a href="#600"><span>3.3.</span><span> Palette schließen</span></a></li>
<li><a href="#700"><span>3.4.</span><span> Palette löschen</span></a></li>
</ul>
</li>
<li><a href="#800"><span>4.</span><span> Paket bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>4.1.</span><span> Paket durch Scannen des Artikels erstellen</span></a></li>
<li><a href="#1000"><span>4.2.</span><span> Paket manuell hinzufügen</span></a></li>
<li><a href="#1100"><span>4.3.</span><span> Paket schließen</span></a></li>
<li><a href="#1200"><span>4.4.</span><span> Paket löschen</span></a></li>
</ul>
</li>
<li><a href="#1300"><span>5.</span><span> Artikelmenge anzeigen</span></a></li>
<li><a href="#1400"><span>6.</span><span> Artikelmenge manuell anpassen</span></a></li>
<li><a href="#1500"><span>7.</span><span> Barcode anzeigen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Paketinhaltsliste</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite erfahren Sie, wie Sie die Paketinhaltsliste in plentymarkets verwenden. Die Paketinhaltsliste gibt Auskunft über den Inhalt von Paletten, Paketen und Artikeln. Eine solche Liste ist für einen Fulfillment-Dienstleister relevant, damit dieser weiß, welche Artikel sich in den Paketen befinden, die er für Sie lagert und versendet.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Hinweise zur Paketinhaltsliste</div>
<div class="paragraph">
<p>Die verfügbaren Funktionen im Menü <strong>Aufträge » Paketinhaltsliste</strong> richten sich in erster Linie an die Mitarbeiter im Lager, die die Ware packen. Da Lagermitarbeiter nicht ständig unmittelbar vor dem Bildschirm sitzen, sondern sich beim Bedienen des Barcodescanners und beim Packen der Artikel frei bewegen, haben wir die Schaltflächen und Kacheln in diesem Menü extra großzügig gestaltet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Auftrags-ID eingeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktuell müssen Sie die Auftrags-ID manuell eingeben. Später wird auch das Scannen der Auftrags-ID mit einem Barcodescanner möglich sein.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Artikel scannen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Artikel ist Bestandteil des Pakets. Das Paket ist Bestandteil der Palette.</p>
</div>
<div class="paragraph">
<p>Beim Scannen des ersten Artikels wird automatisch eine Palette und ein Paket erstellt und der Artikel wird dem Paket hinzugefügt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Palette bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In den folgenden Unterkapiteln erfahren Sie, wie Sie Paletten bearbeiten können.</p>
</div>
<div class="sect2">
<h3 id="400">3.1. Palette durch Scannen des Artikels erstellen</h3>
<div class="paragraph">
<p>Sobald Sie den ersten Artikel gescannt haben, werden automatisch eine Palette und ein Paket erstellt.</p>
</div>
<div class="paragraph">
<p>Sie können die Palette jedoch auch manuell erstellen.</p>
</div>
</div>
<div class="sect2">
<h3 id="500">3.2. Palette manuell hinzufügen</h3>
<div class="paragraph">
<p>Mit einem Klick auf <strong>Palette hinzufügen</strong> wird die Palette erstellt.</p>
</div>
</div>
<div class="sect2">
<h3 id="600">3.3. Palette schließen</h3>
<div class="paragraph">
<p>Wenn Sie die Palette schließen, sind die Palette, die Pakete und die darin enthaltenen Artikel für die weitere Bearbeitung geschlossen. Diese Aktion kann nicht rückgängig gemacht werden.</p>
</div>
</div>
<div class="sect2">
<h3 id="700">3.4. Palette löschen</h3>
<div class="paragraph">
<p>Wenn Sie die Palette löschen, werden die Palette, die Pakete sowie die darin enthaltenen Artikel gelöscht.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="800">4. Paket bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In den folgenden Unterkapiteln erfahren Sie, wie Sie Pakete bearbeiten können.</p>
</div>
<div class="sect2">
<h3 id="900">4.1. Paket durch Scannen des Artikels erstellen</h3>
<div class="paragraph">
<p>Sobald Sie den ersten Artikel gescannt haben, werden automatisch eine Palette und ein Paket erstellt.</p>
</div>
<div class="paragraph">
<p>Sie können das Paket jedoch auch manuell erstellen.</p>
</div>
</div>
<div class="sect2">
<h3 id="1000">4.2. Paket manuell hinzufügen</h3>
<div class="paragraph">
<p>Mit einem Klick auf <strong>Paket hinzufügen</strong> wird ein neues Paket erstellt.</p>
</div>
</div>
<div class="sect2">
<h3 id="1100">4.3. Paket schließen</h3>
<div class="paragraph">
<p>Wenn Sie das Paket schließen, sind das Paket und die darin enthaltenen Artikel für die weitere Bearbeitung geschlossen. Diese Aktion kann nicht rückgängig gemacht werden.</p>
</div>
</div>
<div class="sect2">
<h3 id="1200">4.4. Paket löschen</h3>
<div class="paragraph">
<p>Wenn Sie das Paket löschen, werden das Paket sowie die darin enthaltenen Artikel gelöscht.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">5. Artikelmenge anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Paketinhaltsliste</strong> sehen Sie oben rechts in der Ecke die Menge der Artikel in der folgenden Reihenfolge von links nach rechts:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>noch nicht verpackte Artikel</p>
</li>
<li>
<p>verpackte Artikel</p>
</li>
<li>
<p>Gesamtanzahl der Artikel</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Anzeige aktualisiert sich automatisch, sobald Sie einen weiteren Artikel zum Paket hinzufügen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">6. Artikelmenge manuell anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Klicken Sie in der Liste auf den Wert in die Zeile <strong>Menge</strong>, um die Menge manuell anzupassen. Die Anzahl der verpackten und noch nicht verpackten Artikel wird oben rechts in der Ecke automatisch angepasst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">7. Barcode anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wählen Sie aus der Dropdown-Liste den Barcode. Die Liste enthält alle Barcode-Typen, die in Ihrem System verfügbar sind. Wenn für den Artikel ein Barcode vorhanden ist, wird dieser in der Übersicht angezeigt.</p>
</div>
</div>
</div>
</main>