<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Grundlegende Einstellungen vornehmen</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Einstellungen für Abo-Artikel vornehmen</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Abo-Artikel kategorisieren</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Abo-Funktion aktivieren</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.</span><span> Template-Variablen in das Webshop-Layout einfügen</span></a></li>
<li><a href="#600"><span>3.</span><span> Ansicht der Abo-Funktion im Webshop</span></a></li>
<li><a href="#700"><span>4.</span><span> Scheduler-Aufträge</span></a>
<ul class="sectlevel2">
<li><a href="#800"><span>4.1.</span><span> Scheduler-Aufträge suchen</span></a></li>
<li><a href="#900"><span>4.2.</span><span> Scheduler-Auftrag manuell anlegen</span></a></li>
<li><a href="#1000"><span>4.3.</span><span> Abonnement bearbeiten</span></a>
<ul class="sectlevel3">
<li><a href="#_tab_base"><span>4.3.1.</span><span> Tab: Base</span></a></li>
<li><a href="#_tab_artikel"><span>4.3.2.</span><span> Tab: Artikel</span></a></li>
<li><a href="#_tab_kunde"><span>4.3.3.</span><span> Tab: Kunde</span></a></li>
</ul>
</li>
<li><a href="#1000"><span>4.4.</span><span> Neues Abonnement anlegen</span></a></li>
<li><a href="#1100"><span>4.5.</span><span> Durchlauf der Abo-Aufträge starten</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Scheduler</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Der Scheduler ist ein Abonnement-Modul, das deinen Kunden erlaubt, bestimmte Artikel in deinem Webshop im Abonnement zu kaufen. Das Modul ist eine <a href="/basics/admin-aufgaben/plentymarkets-konto#vertrag">zusätzliche Erweiterung</a> und nur in deinem plentymarkets System sichtbar, wenn du es gebucht hast. Die Buchung erfolgt im Menü <strong>plentymarkets Logo (Start) » Service-Center » Tab: Vertrag</strong>.</p>
</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Aufträge » Scheduler</strong> konfigurierst du das Abo-Modul für deinen Webshop. Nachdem du das Modul konfiguriert hast, findest du eine Übersicht deiner Abonnements im Menü <strong>Aufträge » Scheduler-Aufträge</strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Nicht für Artikel mit Bestellmerkmalen</div>
<div class="paragraph">
<p>Das Abo-Modul funktioniert nicht bei Artikeln mit <a href="/artikel/artikel-verwalten#480">Bestellmerkmalen</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Grundlegende Einstellungen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lege im Menü <strong>Einrichtung » Aufträge » Scheduler</strong> fest, welche grundlegenden Einstellungen für das Modul gelten sollen.</p>
</div>
<div class="paragraph instruction">
<p>Grundlegende Einstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Scheduler</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-grundlegende-einstellungen-abo-modul">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-grundlegende-einstellungen-abo-modul" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Erläuterungen zu den Einstellungen des Abo-Moduls</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Intervalle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Intervalle für die Abo-Funktion wählen. Mit Strg+C bzw. cmd+C ist Mehrfachauswahl möglich. Die hier gewählten Intervalle stehen Kunden beim Artikel im Webshop zur Auswahl zur Verfügung. So kann der Kunde bei der Bestellung wählen, in welchen Zeitabständen er den Artikel erhalten möchte. Damit die Optionen im Callisto Webshop angezeigt werden, muss eine Template-Variable eingefügt werden. Weitere Informationen dazu findest im Kapitel <strong><a href="/auftraege/scheduler">Template-Variablen in das Webshop-Layout einfügen</a></strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl der Aufträge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt an, wie oft das Abonnement abgewickelt werden soll. Die Optionen wählen, die Kunden zur Auswahl zur Verfügung stehen sollen. Mit Strg+C bzw. cmd+C ist Mehrfachauswahl möglich. Die hier gewählten Werte stehen Kunden beim Artikel im Callisto Webshop zur Auswahl zur Verfügung. So kann der Kunde bei der Bestellung wählen, wie oft er den abonnierten Artikel erhalten möchte. Damit die Optionen im Webshop angezeigt werden, muss eine enstprechende Template-Variable eingefügt werden. Weitere Informationen dazu findest du im Kapitel <strong><a href="/auftraege/scheduler#500">Template-Variablen in das Webshop-Layout einfügen</a></strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erlaubte Zahlungsarten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsarten wählen, die für die Abo-Funktion zur Verfügung stehen sollen. Mit Strg+C bzw. cmd+C ist Mehrfachauswahl möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Änderungen an Artikeln</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Änderungen der Bestelloptionen, z.B. die Menge, im Bestellvorgang erlaubt sein sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelfaktor pro Intervall</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, in welcher Anzahl ein Artikel für das Intervall geliefert werden soll. Diese Angabe ist optional und kann verwendet werden, um Mindermengen auszugleichen. Wenn eine Artikelmenge z.B. nur für eine Woche ausreicht und der Kunde ein Intervall von zwei Wochen wählt, kann für diesen Fall der Artikelfaktor 2 eingetragen werden. Vorausgesetzt natürlich, dass der Kunde damit einverstanden ist, die korrigierte Menge zu erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindestlaufzeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindestlaufzeit für die Abo-Funktion wählen. Unter dieser Laufzeit ist ein Abonnement nicht möglich. Die Mindestlaufzeit ist optional.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximale Laufzeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximale Laufzeit für ein Abonnement wählen. Die maximale Laufzeit ist optional.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft für generierte Aufträge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsherkunft für Abonnements festlegen.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="200">1.1. Einstellungen für Abo-Artikel vornehmen</h3>
<div class="paragraph">
<p>Nimm nun Einstellungen für deine Abo-Artikel vor. Zunächst ordnest du die Abo-Artikel in deinen Artikelbestand ein. Dann aktivierst du die Abo-Funktion. Gehe dazu wie in den folgenden Unterkapiteln beschrieben vor.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einstellung <strong>Abo-Intervall</strong> am Verkaufspreis ohne Funktion</div>
<div class="paragraph">
<p>Der Scheduler berücksichtigt die Option <strong>Abo-Intervall</strong> des Verkaufspreises  nicht. Es ist zwar technisch möglich, Verkaufspreise für verschiedene Abo-Intervalle zu erstellen. Die Einstellung wird jedoch vom Scheduler ignoriert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Abo-Artikel kategorisieren</h3>
<div class="paragraph">
<p>Du hast verschiedene Möglichkeiten, Abo-Artikel in deinen Artikelbestand einzuordnen. Empfehlenswert ist es, eine eigene <strong><a href="/artikel/kategorien-verwalten">Kategorie</a></strong> für Abo-Artikel anzulegen und die Artikel mit dieser Kategorie zu verknüpfen.</p>
</div>
</div>
<div class="sect2">
<h3 id="400">1.3. Abo-Funktion aktivieren</h3>
<div class="paragraph">
<p>Die Abo-Funktion aktivierst du zuerst global und dann für jeden Artikel separat. Die globale Aktivierung erlaubt es Kunden, grundsätzlich Bestellungen im Abonnement aufzugeben. Die Aktivierung für einzelne Artikel bestimmt, welche Artikel Kunden im Abonnement bestellen dürfen. Gehe wie nachfolgendend beschrieben vor, um die Abo-Funktion global zu aktivieren.</p>
</div>
<div class="paragraph instruction">
<p>Abo-Funktion global aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <a href="/webshop/webshop-einrichten/mein-konto">Einrichtung » Mandant » Mandant wählen » Mein Konto » Einstellungen</a>.</p>
</li>
<li>
<p>Wähle für die Option <strong>Abonnements</strong> die Einstellung <strong>aktiviert</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Aktiviere nun die Abo-Funktion für jeden Artikel, den deine Kunden im Abonnement bestellen dürfen sollen.</p>
</div>
<div class="paragraph instruction">
<p>Abo-Funktion des Abo-Artikels aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsle in das Tab <a href="/artikel/artikel-verwalten#40">Global</a>.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Grundeinstellungen</strong> für die Option <strong>Abonnement</strong> die Einstellung <strong>Ja</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Abo-Funktion deaktivieren</div>
<div class="paragraph">
<p>Wenn du die Abo-Funktion nicht mehr nutzen möchtest, stelle die globale Funktion auf <strong>deaktiviert</strong> und die Funktion beim Artikel auf <strong>Nein</strong>. Entferne den Code aus dem Layout deines Callisto Webshops. Weitere Informationen dazu findest du im Kapitel <a href="/auftraege/scheduler#500">Template-Variablen in das Webshop-Layout einfügen</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. Template-Variablen in das Webshop-Layout einfügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Kunden in deinem Webshop die Abo-Funktionen wählen können, musst du zunächst Template-Variablen und Code in das Layout deines Webshops einfügen.</p>
</div>
<div class="paragraph instruction">
<p>Template-Variablen in das Webshop-Layout einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout » ItemView » ItemViewSingleItem</strong>.</p>
</li>
<li>
<p>Füge die Template-Variablen und Code zwischen <strong>$FormOpenOrder</strong> und <strong>$FormCloseOrder</strong> ein. Beachte die Erläuterungen in <a href="#tabelle-template-variablen-abo-modul">Tabelle 2</a>.<br>
→ Ein Code-Beispiel findest du unterhalb von <a href="#tabelle-template-variablen-abo-modul">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-template-variablen-abo-modul" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Erläuterungen zu den Template-Variablen des Abo-Moduls</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template-Variable</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Funktion</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$IsSubscriptionItem</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt einen Boolschen Wert zurück (TRUE oder FALSE, je nach Einstellung am Artikel). Diese Template-Variable für eine IF-Abfrage im Layout verwenden, um festzustellen, ob ein Artikel ein Abo-Artikel ist oder nicht. Ansonsten wird die Abo-Funktion bei allen Artikeln angezeigt und nicht nur bei den tatsächlichen Abo-Artikeln. Ein Beispiel mit IF-Abfrage befindet sich unter der Tabelle.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$SchedulerDateSelector</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fügt eine Kalender-Auswahlbox ein, damit Kunden das Datum der ersten Lieferung wählen können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$SchedulerInterval</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fügt eine Dropdown-Liste zur Auswahl des Intervalls für das Abonnement ein. Es stehen die Intervalle zur Verfügung, die in den Einstellungen gespeichert wurden. Weitere Informationen findest du im Kapitel <a href="/auftraege/scheduler#100">Grundlegende Einstellungen vornehmen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$SchedulerRepeating</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fügt eine Dropdown-Liste zur Auswahl der Anzahl der Lieferungen ein. Es stehen die Optionen zur Anzahl der Aufträge zur Verfügung, die in den Einstellungen gespeichert wurden. Weitere Informationen findest du im Kapitel <a href="/auftraege/scheduler#100">Grundlegende Einstellungen vornehmen</a>.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Der folgende Code ist ein Beispiel für die Anordnung und Bezeichnung der Template-Variablen:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-xml hljs" data-lang="xml">&#123;&#37; if $IsSubscriptionItem &#37;&#125;
&lt;!--  Box Filter --&gt;
&lt;div class="ff01_pagenav" style="margin-top:5px;"&lt;h2Abonnement&lt;/h2&gt;&lt;/div&gt;
Erste Lieferung: $SchedulerDateSelector&lt;br /&gt;
Intervall: $SchedulerInterval&lt;br /&gt;
Lieferungen: $SchedulerRepeating&lt;br /&gt;
&lt;!--  End Box Filter --&gt;
&#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">3. Ansicht der Abo-Funktion im Webshop</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du die auf dieser Seite beschriebenen Einstellungen konfiguriert hast, werden Abo-Artikel in deinem Callisto Webshop angezeigt. Käufer können den Zeitpunkt für die erste Lieferung, das Intervall sowie die Anzahl der Lieferungen festlegen, bevor sie den Artikel in den Warenkorb legen. Im Bestellvorgang können diese Einstellungen dann noch geändert werden, bevor die Bestellung abgeschickt wird.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">4. Scheduler-Aufträge</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Scheduler-Aufträge</strong> werden deine Abonnements mit Informationen zu den Kunden und Aufträgen in einer Übersicht angezeigt. In dieser Ansicht suchst, bearbeitest und löschst du Scheduler-Aufträge.</p>
</div>
<div class="paragraph">
<p>Außerdem generierst du einen Auftrag aus dem Abonnement heraus durch Klick auf das <strong>Zahnrad</strong>. Das Generieren eines Auftrags aus dem Abonnement ist notwendig, damit du den Auftrag in der Auftragsübersicht findest. Dies wird manuell ausgeführt.</p>
</div>
<div class="sect2">
<h3 id="800">4.1. Scheduler-Aufträge suchen</h3>
<div class="paragraph">
<p>Suche Scheduler-Aufträge anhand von bestimmten Filterkriterien. Die gefundenen Scheduler-Daten werden dann im Tab <strong>Scheduler</strong> aufgelistet.</p>
</div>
<div class="paragraph instruction">
<p>Scheduler-Aufträge suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Scheduler-Aufträge</strong>.</p>
</li>
<li>
<p>Gib die Suchbegriffe in die Suchfelder ein bzw. stelle die Filteroptionen in den Dropdown-Listen ein. Beachte dazu die Erläuterungen in <a href="#tabelle-scheduler-auftraege-suchen">Tabelle 3</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Die Scheduler-Aufträge, die den eingegebenen Suchkriterien entsprechen, werden aufgelistet.</p>
</li>
</ol>
</div>
<table id="tabelle-scheduler-auftraege-suchen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Scheduler-Aufträge suchen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suchen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Suche durch einen Klick ausführen. Die gefundenen Scheduler-Aufträge werden im Tab <strong>Scheduler</strong> aufgelistet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eingestellte Filterkriterien zurücksetzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Scheduler-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Jeder Scheduler-Datensatz erhält automatisch eine fortlaufende und exklusive ID. Die ID entspricht immer einer echten Zahl (z.B. "00521" oder "ADF8354" sind ungültig).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunden-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suche nach der Kunden-ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suche nach der Artikel-ID des Artikels, den der Scheduler-Auftrag enthält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suche nach dem Namen des Kunden. Es kann nach Vor- und Nachname gesucht werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Zeitraum des Starttermins wählen, nach dem gesucht werden soll. Wählbar sind:<br>
<strong>Alle</strong> = Keine Filterung<br>
<strong>Ohne Startdatum</strong> = Suche nach Scheduler-Aufträgen ohne Startdatum.<br>
<strong>Startdatum in Zukunft</strong> = Suche nach Scheduler-Aufträgen mit einem Startdatum, das in der Zukunft liegt.<br>
<strong>Startdatum in Vergangenheit</strong> = Suche nach Scheduler-Aufträgen mit einem Startdatum, das in der Vergangenheit liegt.<br>
<strong>In den letzten 7/14/30/80/90 Tagen</strong> = Suche nach Scheduler-Aufträgen mit einem Startdatum, das eine bestimmte Anzahl von Tagen zurückliegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ende</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Zeitraum des Endtermins wählen, nach dem gesucht werden soll. Wählbar sind:<br>
<strong>Alle</strong> = Keine Filterung<br>
<strong>Ohne Enddatum</strong>= Suche nach Scheduler-Aufträgen ohne Enddatum.<br>
<strong>Enddatum in Zukunft</strong> = Suche nach Scheduler-Aufträgen mit einem Enddatum, das in der Zukunft liegt.<br>
<strong>Zukünftig oder ohne Enddatum</strong> = Suche nach Scheduler-Aufträgen ohne Enddatum oder mit einem Enddatum, das in der Zukunft liegt.<br>
<strong>Enddatum in Vergangenheit</strong> = Suche nach Scheduler-Aufträgen mit einem Enddatum, das in der Vergangenheit liegt.<br>
<strong>In den letzten 7/14/30/80/90 Tagen</strong> = Suche nach Scheduler-Aufträgen mit einem Enddatum, das eine bestimmte Anzahl von Tagen zurückliegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchlauf</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für den Durchlauf unter folgenden Filteroptionen wählen:<br>
<strong>Noch nie</strong> = Suche nach Scheduler-Aufträgen, für die noch kein Durchlauf stattgefunden hat.<br>
<strong>In diesem Monat</strong> = Suche nach Scheduler-Aufträgen, für die in diesem Monat ein Durchlauf stattgefunden hat.<br>
<strong>Im letzten Monat</strong> = Suche nach Scheduler-Aufträgen, für die im letzten Monat ein Durchlauf stattgefunden hat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zwischen den Optionen <strong>Ja</strong> und <strong>Nein</strong> oder der Einstellung <strong>ALLE</strong> wählen, wenn alle Scheduler-Aufträge gesucht werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigner wählen, um dessen Scheduler-Aufträge zu suchen. Der Eigner muss in den Kundendaten gespeichert sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herkunft des Scheduler-Auftrags wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Intervall</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählbar sind die Option <strong>Alle</strong> sowie die Intervalle, die im Menü <strong>Einrichtung » Aufträge » Scheduler</strong> gewählt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IBAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit der Einstellung <strong>Vorhanden</strong> werden nur Scheduler-Aufträge für Kunden gesucht, bei denen die IBAN in den <a href="/crm/kontakte-verwalten#1890">Bankdaten</a> hinterlegt ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lastschriftmandat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suche nach Kunden, für die <a href="/crm/kontakte-verwalten#200">SEPA-Lastschriftmandat</a> vorliegt oder nicht vorliegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandanten wählen, um nur Scheduler-Aufträge des ausgewählten Mandanten anzuzeigen.<br>
<strong><em>Wichtig:</em></strong> Variable Benutzern stehen nur Mandanten zur Auswahl, für die sie eine Berechtigung haben. Berechtigungen werden unter <a href="/basics/admin-aufgaben/benutzer-verwalten#90">Einrichtung » Einstellungen » Benutzer » Konten » Tab: Berechtigung</a> eingestellt.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">4.2. Scheduler-Auftrag manuell anlegen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um einen Scheduler-Auftrag manuell anzulegen.</p>
</div>
<div class="paragraph instruction">
<p>Scheduler-Auftrag manuell anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke rechts in der Zeile eines Scheduler-Auftrags auf das <strong>Zahnrad</strong>.<br>
→ Das Fenster <strong>Neuen Scheduler-Auftrag anlegen</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Auftrag anlegen</strong>.<br>
→ Bei erfolgreichem Anlegen erhältst du eine Erfolgsmeldung.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nachdem ein Scheduler-Auftrag manuell gestartet wurde, wird in der Spalte <strong>Letzter Durchlauf</strong> das Datum des letzten Durchlaufs angezeigt.</p>
</div>
<div class="paragraph">
<p>Im Menü <strong>Aufträge</strong> wird ein Auftrag angelegt.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Aktion nicht erfolgreich: Einstellungen prüfen</div>
<div class="paragraph">
<p>Prüfe die Einstellungen des Abonnements. Ein Fehler kann z.B. sein, dass das Startdatum in der Zukunft liegt. Passe in diesem Fall das Startdatum an. Oder die Zahlungsart wurde nicht in den Einstellungen des Schedulers berücksichtigt. Prüfe die Scheduler-Einstellungen. Du erhältst auch eine Fehlermeldung, wenn bereits ein Auftrag für diesen Scheduler-Auftrag generiert wurde.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1000">4.3. Abonnement bearbeiten</h3>
<div class="paragraph">
<p>Du kannst bestehende Abonnements jederzeit bearbeiten. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Abonnement bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Scheduler-Aufträge</strong>.</p>
</li>
<li>
<p>Klicke rechts in der Zeile des Scheduler-Auftrags, den du bearbeiten möchtest, auf <strong>Bearbeiten</strong>.<br>
→ Der Scheduler-Auftrag wird zur Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Das Bearbeitungsfenster eines Scheduler-Auftrags gliedert sich in drei Tabs. Die Einstellungen im Tab <strong>Base</strong> werden in <a href="#tabelle-einstellungen-tab-base">Tabelle 4</a> erläutert. Die Einstellungen im Tab <strong>Artikel</strong> betreffen die abonnierten Artikel. Das Tab <strong>Kunde</strong> enthält die Informationen zum Kunden aus dem Menü <strong>Kunden</strong>.</p>
</div>
<div class="sect3">
<h4 id="_tab_base">4.3.1. Tab: Base</h4>
<div class="paragraph">
<p>Folgende Parameter eines Abonnements werden im Tab <strong>Base</strong> angezeigt:</p>
</div>
<table id="tabelle-einstellungen-tab-base" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Einstellungen im Tab <strong>Base</strong> des Scheduler-Auftrags</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnungsanschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Anschrift, an die die Rechnung geschickt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunde ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klicken, um den Kunden zu ändern. Entweder die Kunden-ID oder den Namen des Kunden eintragen. Nach Eingabe von mindestens 3 Zeichen werden passende Treffer angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferanschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enthält die Lieferanschrift, wenn diese in den Kundendaten hinterlegt ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferanschrift ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn für den Kunden Lieferanschriften hinterlegt sind, können diese gewählt werden. Es kann jedoch keine neue Lieferanschrift angelegt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Scheduler-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die ID des Abonnements wird automatisch vom System vergeben und ist nicht änderbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei gesetztem Häkchen ist der Scheduler-Auftrag aktiv.<br>
Das Häkchen entfernen und auf <strong>Speichern</strong> klicken, um den Scheduler-Auftrag zu deaktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl der Aufträge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die im Menü <strong>Einstellungen</strong> hinterlegten Werte werden angezeigt; die Anzahl der Sendungen kann geändert werden.<br>
Vor dem Schrägstrich wird die Anzahl der bereits versendeten Aufträge angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start</strong>;<br>
<strong>Ende</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum für Start und Ende des Scheduler-Auftrags wählen, um die Laufzeit zu bestimmen.<br>
Zur Konfiguration wird ein Kalender geöffnet, in dem auch ein bestehendes Datum geändert werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start Artikel</strong>;<br>
<strong>Ende Artikel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sucht Scheduler mit Artikeln mit einem Start- bzw. Enddatum gemäß der gewählten Option, z.B. Startdatum in den letzten sieben Tagen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Letzter Durchlauf</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt das Datum des zuletzt gesendeten Auftrags an, also wann der jüngste Auftrag versendet wurde.<br>
Anhand des angegebenen Datums kann der Zeitpunkt für den nächsten Scheduler-Auftrag ermittelt werden, wenn dieser manuell ausgeführt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Intervall</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei Bedarf das Intervall für diesen Scheduler-Auftrag ändern. Verfügbar sind die Werte, die im Menü <strong>Einstellungen</strong> festgelegt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutschein</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird angezeigt, ob ein Gutschein für den Scheduler-Auftrag verwendet wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Währung des Scheduler-Auftrags. Bei Bedarf eine andere Währung aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Kosten für den Versand. Bei Bedarf einen anderen Betrag eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Versandart des Scheduler-Auftrags. Bei Bedarf eine andere Versandart aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Zahlungsart des Scheduler-Auftrags. Bei Bedarf eine andere Zahlungsart aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Mandant (Shop) des Scheduler-Auftrags. Bei Bedarf einen anderen Mandanten (Shop) aus der Dropdown-Liste wählen.<br>
Der gewählte Mandant bestimmt die im Tab <strong>Artikel</strong> verfügbaren <strong><a href="/auftraege/buchhaltung">Mehrwertsteuersätze</a></strong> (siehe unten).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Eigner des Scheduler-Auftrags. Bei Bedarf einen anderen Eigner aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Herkunft des Scheduler-Auftrags. Bei Bedarf eine andere Herkunft aus der Dropdown-Liste wählen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_tab_artikel">4.3.2. Tab: Artikel</h4>
<div class="paragraph">
<p>Das Tab <strong>Artikel</strong> gliedert sich in zwei Untermenüs. Im Tab <strong>Scheduler-Artikel</strong> siehst du die Artikel, die sich aktuell im Scheduler-Auftrag befinden. Du kannst hier u.a. die <strong>Menge</strong> und den <strong>Preis</strong> bearbeiten. Die hier verfügbaren <strong>Mehrwertsteuersätze</strong> ergeben sich aus dem im Tab <strong>Base</strong> gewählten Mandanten. Es stehen die Mehrwertsteuersätze zur Auswahl, die bei dem Mandanten unter <a href="/auftraege/buchhaltung">Einrichtung » Mandant » Mandant wählen » Buchhaltung</a> als Umsatzsteuersätze hinterlegt sind.</p>
</div>
<div class="paragraph">
<p>Wenn du die Artikelbeschreibung im Feld <strong>Artikelbeschreibung</strong> änderst, wird diese Änderung nicht am Artikel selbst übernommen.</p>
</div>
<div class="paragraph">
<p>Im Tab <strong>Artikel hinzufügen</strong> wird die <strong>Artikelübersicht</strong> angezeigt, so dass du aus deinem gesamten Artikelsortiment wählen kannst.</p>
</div>
<div class="paragraph">
<p>Die Optionen <strong>Start</strong> und <strong>Ende</strong> entsprechen denen für den Scheduler-Auftrag (siehe <a href="#tabelle-einstellungen-tab-base">Tabelle 4</a>) mit dem Unterschied, dass damit die Laufzeit für jeden Artikel separat bestimmt werden kann. Damit ist es z.B. möglich, verschiedene Artikel zu bestimmten Zeiten oder auch nacheinander für ein Abo anzubieten.</p>
</div>
</div>
<div class="sect3">
<h4 id="_tab_kunde">4.3.3. Tab: Kunde</h4>
<div class="paragraph">
<p>Beim Klick auf das Tab <strong>Kunde</strong> öffnet sich der Kontaktdatensatz im Menü <a href="/crm/kontakte-verwalten">CRM » Kontakte</a>.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1000">4.4. Neues Abonnement anlegen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um ein neues Abonnement anzulegen.</p>
</div>
<div class="paragraph instruction">
<p>Neues Abonnement anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Scheduler-Aufträge</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-einstellungen-tab-base">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Das neue Abonnement wird angelegt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1100">4.5. Durchlauf der Abo-Aufträge starten</h3>
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Durchlauf</strong> werden anstehende Abo-Aufträge angezeigt. Du kannst hier Abo-Aufträge gesammelt starten, was besonders komfortabel ist, wenn du viele Abonnements bearbeiten und überwachen musst.</p>
</div>
<div class="paragraph">
<p>Du siehst nach dem Klicken auf eines der Icons <strong>Durchlauf starten</strong>, für welche Abonnement-IDs Aufträge anstehen.</p>
</div>
<div class="paragraph instruction">
<p>Abo-Aufträge wählen und starten</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wähle die Filteroptionen oder belasse die Einstellung auf <strong>ALLE</strong>, wenn du alle aktuell anstehenden Abo-Aufträge anlegen möchtest.</p>
</li>
<li>
<p>Starte den <strong>Durchlauf</strong> dann durch Klick auf eines der Icons. Dadurch werden die Abo-Aufträge angelegt und dann im Durchlauf nicht mehr angezeigt.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>