<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Nutze Ereignisaktionen um deine Auftragsabwicklung zu automatisieren</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wusstest du, dass du mehrere Ereignisaktionen miteinander verknüpfen kannst? So schaffst du es, Schritte in deiner Auftragsabwicklung zu automatisieren und sorgst für weniger Stress im Alltag.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/automatisierung/ereignisaktionen/auftragsabwicklung-automatisieren-verknuepfen#video">Ereignisaktionen miteinander verknüpfen (0:57)</a></p>
<p class="tableblock"><a href="/videos/automatisierung/ereignisaktionen/auftragsabwicklung-automatisieren-problem#video">Das Problem mit "Alles in einer Ereignisaktion" (1:48)</a></p>
<p class="tableblock"><a href="/videos/automatisierung/ereignisaktionen/auftragsabwicklung-automatisieren-kettenreaktion#video">Kettenreaktion auslösen (2:21)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/231837873#at=108" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Es gibt kein Transkript für dieses Video.</p>
</div>
</div>
</div>
</main>