<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Grundlagen der Ereignisaktionen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlange einen ersten Eindruck von Ereignis-Aktionen und lerne die Grundlagen dieser Schritt für Schritt im Tutorial kennen.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/231821149" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Lady Ereignisaktion automatisiert deine Vorgänge, damit du dich auf das Wesentliche konzentrieren kannst. Sie nutzt dafür ihre telekinetische Fähigkeiten. Ständig - ohne Pause und anders als bei Dr. Prozess ohne Startkommando.</p>
</div>
<div class="paragraph">
<p>Was das bedeutet? Ereignisaktionen laufen immer dann, wenn sie durch ein festgelegtes Ereignis innerhalb deines Systems ausgelöst werden. Auf den ersten Blick läuft es also ähnlich wie bei deinen Prozessen. Mit einem wesentlichen Unterschied - Ereignisaktionen benötigen keinerlei Interaktionen! Starten wir eine Kettenreaktion und schauen uns an, wie bestimmte Ereignisse einen Vorgang im System auslösen können. Los gehts…​</p>
</div>
<div class="paragraph">
<p>Wir befinden uns bereits in der Kommandozentrale für deine Ereignisaktionen. Wenn du bereits welche angelegt hast werden diese hier oben angezeigt. Dabei sind sie jeweils in den Ordner des jeweiligen Ereignisses einsortiert.</p>
</div>
<div class="paragraph">
<p>Du möchtest dir eine Übersicht über all deine Ereignisaktionen verschaffen oder sucht händeringend eine Bestimme mit dem Übersichts-Icon kein Problem.</p>
</div>
<div class="paragraph">
<p>Öffne ganz einfach deine Browsersuche und gebe ein Stichwort ein. Beispielsweise Rechnung. Über die ID kannst du nun ganz einfach die Ereignisaktion zur Bearbeitung öffnen. In diesem Beispiel wird immer dann eine Rechnung erstellt, wenn für einen Auftrag der Warenausgang gebucht wurde.</p>
</div>
<div class="paragraph">
<p>Jetzt ergibt es natürlich Sinn diese Rechnung auch automatisiert an den Kuden zu versenden. Dazu erstellen wir eine weitere Ereignisaktion geben dieser einen sinnvollen Namen und wählen als Ereignis Rechnung generiert aus.</p>
</div>
<div class="paragraph">
<p>Auf der linken Seite hast du eine riesige Anzahl Filter, welche dir die Möglichkeit bieten die Ereignisaktion zu konkretisieren. Sie sind hier in fünf verschiedenen Ordnern sortiert. Beispielsweise kannst du hier mit den Kundenklassen die Ereignisaktion für Stammkunden konfigurieren. Dies macht es möglich dem Stammkunden eine kleine Aufmerksamkeit einem Auftrag beizulegen. Dafür musst du dann aber zwingend eine weitere Ereignisaktion konfigurieren.</p>
</div>
<div class="paragraph">
<p>Einen Filter benötigen wir hier nicht, eine Aktion dagegen müssen wir anlegen. Dazu klickst du hier und wählst im Bereich Kunden die Aktion E-Mail versenden aus. Innerhalb der Aktion wählst du noch die E-Mail-Vorlage sowie den Empfänger aus und fertig ist die
Ereignisaktion. Du musst sie jetzt nur noch auf Aktiv setzen und speichern - Bereit zum Einsatz! Natürlich kannst du von einer Ereignisaktion auch mehrere Aktionen ausführen lassen. Aber gerade unsere beiden Beispiele solltest du in zwei verschiedenen Ereignisaktionen abbilden, da die Erzeugung eines Dokumentes immer etwas mehr Zeit in Anspruch nimmt als das versenden von Emails. So kann es dazu kommen, dass Emails den Kunden erreichen ohne dass sich die Rechnung im Anhang befindet…​</p>
</div>
<div class="paragraph">
<p>Nutze Lady Ereignisaktion’s telekinetische Fähigkeiten und lass sie für dich die immer wiederkehrenden Aktionen ausführen…​</p>
</div>
</div>
</div>
</main>