<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_entry_points"><span>1.</span><span> Entry points</span></a></li>
<li><a href="#_display_options"><span>2.</span><span> Display options</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentyShop preview</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The plentyShop preview lets you view your store in a state that your customers cannot access. This allows you to test a new design before making it public for example.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_entry_points">1. Entry points</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can open the preview (<span class="icon blue"><i class="fa fa-eye  "></i></span>) in several back end areas:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Page in ShopBuilder</p>
</li>
<li>
<p>Categories in the <strong>Item » Category</strong> menu</p>
</li>
<li>
<p>Item</p>
</li>
<li>
<p>Variation</p>
</li>
<li>
<p>Plugin set</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Depending on the area, you may have to select the plugin set or client you want to preview.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_display_options">2. Display options</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the preview, you can toggle various contents. For further information on the different options, refer to the following table:</p>
</div>
<table id="table-preview-options" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Options in the plentyShop preview</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show unavailable items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">By default, the preview only shows items that are available for the client you selected. If you activate this option, the preview instead shows all items of your systems.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show shop preview</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Toggles the preview on and off. If you toggle the preview off, you can only select the plugin set from the drop-down list that’s linked to the current client.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Render widgets directly</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Load all templates directly from your ShopBuilder widgets.<br>
<strong><em>Important:</em></strong> In a live environment, the previews doesn’t load the templates directly. The live environment uses templates that are generated when deploying the plugin set. That’s why the preview and live view can be different if you activate this option.<br></p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>