<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_entry_points"><span>1.</span><span> Entry points</span></a></li>
<li><a href="#_display_options"><span>2.</span><span> Display options</span></a>
<ul class="sectlevel2">
<li><a href="#_responsive_design_in_the_preview"><span>2.1.</span><span> Responsive design in the preview</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentyShop preview</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The plentyShop preview lets you view your store in a state that your customers cannot access. This allows you to test a new design before making it public for example.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_entry_points">1. Entry points</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can open the preview (<span class="icon blue"><i class="fa fa-eye  "></i></span>) in several back end areas:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Page in ShopBuilder</p>
</li>
<li>
<p>Categories in the <strong>Item » Category</strong> menu</p>
</li>
<li>
<p>Items</p>
</li>
<li>
<p>Variation</p>
</li>
<li>
<p>Plugin set</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Depending on the area, you may have to select the plugin set or client you want to preview.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_display_options">2. Display options</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the preview, you can toggle various contents. For further information on the different options, refer to the following table:</p>
</div>
<table id="table-preview-options" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Options in the plentyShop preview</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show unavailable items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">By default, the preview only shows items that are available for the client you selected. If you activate this option, the preview instead shows all items of your systems.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show shop preview</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Toggle the preview on or off. If you toggle the preview off, you can only select the plugin set from the drop-down list that’s linked to the currently active client.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Render widgets directly</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Load all templates directly from your ShopBuilder widgets.<br>
*<em>Important</em>:*In a live environment, the preview doesn’t load the templates directly. The live environment uses templates that are generated when deploying the plugin set. That’s why the preview and live view can be different if you activate this option.<br></p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="_responsive_design_in_the_preview">2.1. Responsive design in the preview</h3>
<div class="paragraph">
<p>Not all of your customers browse your online shop with a desktop, some may use tablets, smartphones or other devices with a smaller screen. Because of this, you should make your online shop compatible with all devices.</p>
</div>
<div class="paragraph">
<p>The preview itself doesn’t support switching between different views for different devices. But, you can get the same effect by using the developer tools of your browser. This page describes how to switch between different device views in Chrome and Firefox. If you use a different browser, refer to the help menu of the browser.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="chrome-tab" data-toggle="tab" href="#chrome" role="tab" aria-controls="chrome" aria-selected="true">Chrome</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="firefox-tab" data-toggle="tab" href="#firefox" role="tab" aria-controls="firefox" aria-selected="false">Firefox</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="chrome" role="tabpanel" aria-labelledby="chrome-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the preview.</p>
</li>
<li>
<p>Right click into the browser window.</p>
</li>
<li>
<p>Click on <strong>Inspect</strong>.<br>
<strong><em>Or:</em></strong> Use the keyboard shortcut <strong>CMD + Alt + I</strong> (macOS) or <strong>Ctrl + Shift + I</strong> (Windows) to open the developers tools.</p>
</li>
<li>
<p>Click on <strong>Toggle device toolbar</strong> (<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/online-store/assets/toggle-device-toolbar.png" alt="toggle device toolbar" width="14" height="14"></span>).<br>
<strong><em>Or:</em></strong> Use the keyboard shortcut <strong>CMD + Shift + M</strong> (macOS) or <strong>Ctrl + Shift + M</strong> (Windows) to open the device view.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="firefox" role="tabpanel" aria-labelledby="firefox-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the preview.</p>
</li>
<li>
<p>Right click into the browser window.</p>
</li>
<li>
<p>Click on <strong>Inspect element</strong>.<br>
<strong><em>Or:</em></strong> Use the keyboard shortcut <strong>CMD + Alt + I</strong> (macOS) or <strong>Ctrl + Shift + I</strong> (Windows) to open the developers tools.</p>
</li>
<li>
<p>Click on <strong>Responsive Design Mode</strong> (<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/online-store/assets/toggle-device-toolbar.png" alt="toggle device toolbar" width="14" height="14"></span>).<br>
<strong><em>Or:</em></strong> Use the keyboard shortcut <strong>CMD + Shift + M</strong> (macOS) or <strong>Ctrl + Shift + M</strong> (Windows) to open the device view.</p>
</li>
</ol>
</div>
</div></div>
<div class="paragraph">
<p>Use the drop-down list to switch between different devices.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/online-store/assets/device-selection.png" alt="device selection" width="640" height="360">
</div>
</div>
</div>
</div>
</div>
</main>