<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Reference</h1><p>Welcome to the topic Reference. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/online-store/reference/ceres-3-update">Updating themes to Ceres 3.0</a></li><li><a href="/en/online-store/reference/images-sizes">Image sizes in Ceres</a></li><li><a href="/en/online-store/reference/template-variables-in-ceres">ElasticSearch result fields</a></li></ul>
</main>