<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Setting up IO in plentymarkets</span></a></li>
<li><a href="#20"><span>2.</span><span> Editing IO settings</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up IO</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The plentyShop is split into two plugins: <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">Ceres</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> provides the design of plentyShop and can be adapted to suit your personal needs.
The plugin <a href="https://marketplace.plentymarkets.com/plugins/templates/IO_4696" target="_blank" rel="noopener">IO</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> containts the base PHP functions for plentyShop and provides the logic for all design plugins.
On this manual page, you will learn how to set up the IO plugin.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Setting up IO in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to set up a plentyShop, the plugins Ceres and IO need to be saved and deployed in a <a href="/en/plugins#20">plugin set</a>.</p>
</div>
<div class="paragraph">
<p>After these preparations, go to <strong>Plugins » Plugin overview</strong> and click on the plugin <strong>IO</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Editing IO settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>IO</strong> configuration contains the 3 tabs <strong>Template</strong>, <strong>Number formats</strong> and <strong>Routeing</strong>.</p>
</div>
<table id="table-io-configuration" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Editing IO settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Template</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Namespace of the used template plugin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the template plugin you are using. This is <strong>Ceres</strong> in almost every case. Users who want to replace Ceres with a completely different template plugin need to the enter its name in this field, so that IO can properly interact with the plugin. This setting is directed at advanced users only. If you enter a different name while still using the <strong>Ceres</strong> template plugin, it is likely that issues will arise in plentyShop.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Number formats</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number of decimal places</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of decimal places to be used in plentyShop. The default number of decimal places is two.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Decimal separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the decimal separator you want to use in plentyShop. The default decimal separator is the comma.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Thousands separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the thousands separator you want to use in plentyShop. The defaul thousands separator is the period.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use customer-specific price format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select if prices are to be displayed in the respective price formats of your plentyShop customers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Routing</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enable routes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the routes used in Ceres. All routes need to be active for using the unmodified version of <strong>Ceres</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>