<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_content_of_this_chapter"><span>1.</span><span> Content of this chapter</span></a></li>
<li><a href="#basic-settings"><span>2.</span><span> Basic settings</span></a></li>
<li><a href="#_configuration"><span>3.</span><span> Configuration</span></a></li>
<li><a href="#_links_to_other_menus"><span>4.</span><span> Links to other menus</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up clients</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">The new <strong>Ceres</strong> online store</div>
<div class="paragraph">
<p>As of now, online store projects are based on the new online store plugin  <a href="/en/omni-channel/online-store/setting-up-ceres">Ceres</a>. The <strong>Ceres</strong> store uses the latest and future-proof <a href="/en/basics/first-steps/plugins">plugin technology</a>. Ceres can be customised easily and extended by additional plugins from the <a href="https://marketplace.plentymarkets.com/en/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
<div class="paragraph">
<p>Online stores that have been created on the basis of the old CMS will be maintained during the transition period. However, no new features will be developed for the old CMS. We recommend to use the new <strong>Ceres</strong> online store for all future online store projects.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong>Setup » Client » Select client</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_content_of_this_chapter">1. Content of this chapter</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter explains various basic settings for configuring your <a href="/en/omni-channel/online-store/setting-up-clients/online-store">online store</a>. Here you can save settings for your default store and configure the <a href="/en/crm/sending-emails">email service</a>. Settings for <strong>search engine optimization</strong> are particularly important. These settings ensure that your online store is easy to find on the Internet. This chapter also explains basic settings for <a href="/en/item/managing-categories">categories</a>, the <a href="/en/omni-channel/online-store/setting-up-clients/my-account">my account</a> area and the <a href="/en/omni-channel/online-store/setting-up-clients/order-process">order process</a>. It also provides information about the basic settings of your <a href="/en/omni-channel/online-store/setting-up-clients/item-layouts">item layouts</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>Every additional online store or client (store) is configured in its own menu. These additional menus have the same structure as the Standard menu. The system automatically gives the menu the same name as the online store.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="basic-settings">2. Basic settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Here you can see your online store’s IDs and additional data such as the store type and the domain. You can change the name of the online store here.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Users will be logged out</div>
<div class="paragraph">
<p>Whenever you carry out changes in this menu and click on the save icon, other users will be logged out automatically and will need to log in again. This ensures that the changes will also apply to the other user profiles. Therefore, it is recommended that you announce changes in advance.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_configuration">3. Configuration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Pay attention to the explanations given in the following table and carry out the configuration as desired.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. entering basic settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Store ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The store ID is the ID for the online store or client (store). The store ID of a client (store) is displayed in the basic settings for that particular store.<br>
Default store = <strong>0</strong><br>
First client (store) = <strong>1</strong><br>
Second client (store) = <strong>2</strong><br>
etc.<br>
External stores also receive a store ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plenty ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The plentymarkets system’s ID is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Store type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates the store type: <strong>plentymarkets</strong> or <strong>Shopware</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Domain</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The store domain’s URL is displayed here. Click on the <strong>preview icon</strong> to view the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the default language for the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which location should be the default location. This will be used in other areas, e.g. during the order process in the online store. As such, it affects how VAT is displayed. It is not possible to delete the default location.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the eBay account(s) that should be linked with this store. The orders for this eBay account will automatically be assigned to this store.<br>
<strong>Important</strong>: If the same eBay account is selected for two different stores, then the orders will be assigned to whichever store has the lowest ID.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_links_to_other_menus">4. Links to other menus</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before you start working with the <a href="/en/crm/using-the-ticket-system">ticket system</a> or sending out <a href="/en/crm/sending-newsletters">newsletters</a>, you will first have to save the configurations in the <a href="/en/crm/sending-emails">email</a> area. The settings saved in the "Item layouts" area lay the foundation for managing your <a href="/en/item">items</a>.</p>
</div>
<div class="paragraph">
<p>Direct access to important pages of the manual</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients#basic-settings">Basic settings</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/multilingual-online-store">Multilingualism</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/online-store#legal-information">Legal information</a></p>
</li>
<li>
<p><a href="/en/crm/sending-emails#100">Access data</a></p>
</li>
<li>
<p><a href="/en/crm/sending-emails#1200">email templates</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/item-layouts">Item layouts</a></p>
</li>
<li>
<p><strong>URL structure</strong></p>
</li>
<li>
<p><strong>Sitemap.xml</strong></p>
</li>
<li>
<p><a href="/en/item/managing-categories">Categories</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/my-account">My account</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/order-process">Order process</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/extras">External services</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/extras/trusted-shops">Trusted Shops</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/modules">Modules</a></p>
</li>
</ul>
</div>
</div>
</div>
</main>