<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#20"><span>1.</span><span> Editing the Ceres homepage with the ShopBuilder</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>1.1.</span><span> Editing elements of the Ceres homepage with the ShopBuilder</span></a></li>
</ul>
</li>
<li><a href="#110"><span>2.</span><span> Editing the Ceres checkout with the ShopBuilder</span></a></li>
<li><a href="#40"><span>3.</span><span> Editing design settings in the ShopBuilder</span></a>
<ul class="sectlevel2">
<li><a href="#45"><span>3.1.</span><span> Editing colour settings in the ShopBuilder</span></a></li>
<li><a href="#46"><span>3.2.</span><span> Editing fonts in the ShopBuilder</span></a></li>
</ul>
</li>
<li><a href="#50"><span>4.</span><span> Carry out additional settings</span></a></li>
<li><a href="#60"><span>5.</span><span> Creating a page in the ShopBuilder</span></a>
<ul class="sectlevel2">
<li><a href="#61"><span>5.1.</span><span> Renaming content in the ShopBuilder</span></a></li>
<li><a href="#62"><span>5.2.</span><span> Deleting a page in the ShopBuilder</span></a></li>
<li><a href="#63"><span>5.3.</span><span> Deleting links of ShopBuilder pages to the homepage</span></a></li>
<li><a href="#64"><span>5.4.</span><span> Linking ShopBuilder pages to the homepage.</span></a></li>
<li><a href="#65"><span>5.5.</span><span> Duplicating content</span></a></li>
</ul>
</li>
<li><a href="#70"><span>6.</span><span> Selecting a language</span></a></li>
<li><a href="#75"><span>7.</span><span> Displaying client preview</span></a></li>
<li><a href="#80"><span>8.</span><span> Creating and editing categories in the ShopBuilder</span></a></li>
<li><a href="#85"><span>9.</span><span> Carrying out settings for a client:</span></a></li>
<li><a href="#90"><span>10.</span><span> Deleting categories in the ShopBuilder</span></a></li>
<li><a href="#95"><span>11.</span><span> Creating a header or a footer in the ShopBuilder</span></a></li>
<li><a href="#100"><span>12.</span><span> Editing the header</span></a></li>
<li><a href="#101"><span>13.</span><span> Editing the footer</span></a></li>
<li><a href="#105"><span>14.</span><span> Using the standard homepage preset</span></a></li>
<li><a href="#110"><span>15.</span><span> Using the standard homepage preset</span></a></li>
<li><a href="#115"><span>16.</span><span> Using the standard footer preset</span></a></li>
<li><a href="#120"><span>17.</span><span> Ideal image sizes for the ShopBuilder</span></a></li>
<li><a href="#125"><span>18.</span><span> Scripts in the text widget</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up the ShopBuilder</h1><div id="preamble">
<div class="sectionbody">
<div id="10" class="paragraph">
<p>The plentymarkets ShopBuilder is an online store construction kit, with which you can assemble your <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">Ceres online store</a> quickly and easily via Drag&amp;Drop. No programming skills are required.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Version requirements of the ShopBuilder</div>
<div class="ulist">
<ul>
<li>
<p>In order to use the ShopBuilder you must have a valid SSL certificate</p>
</li>
<li>
<p>The respective store must not be <strong>locked</strong>.</p>
</li>
<li>
<p>The ShopBuilder is only compatible with Ceres and IO versions 2.8.1 and higher. If you are using an older version, please go to the <a href="https://marketplace.plentymarkets.com" target="_blank" rel="noopener">plentyMarketplace</a> to install the current version.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Functionality of the ShopBuilder</div>
<div class="paragraph">
<p>Currently, it is only possible to create and edit the homepage, the checkout and the content categories of your Ceres online store with the ShopBuilder. The functionality of the ShopBuilder module is constantly expanding and in the future it will be possible to set up the entire Ceres store with this tool.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Displaying the homepage created with the ShopBuilder</div>
<div class="paragraph">
<p>Please note that the homepage created with the ShopBuilder has to be activated first. Go to <strong>CMS » ShopBuilder&nbsp;» Overview&nbsp;» Settings&nbsp;» Homepage</strong>. Activate the option <strong>Show ShopBuilder homepage</strong> and deactivate the option <strong>Show default homepage</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">1. Editing the Ceres homepage with the ShopBuilder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the preview area, you can add elements to the homepage to adjust it to your individual needs.</p>
</div>
<div class="paragraph instruction">
<p>Adding an element to the preview area:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The ShopBuilder opens.</p>
</li>
<li>
<p>Click on <strong>homepage</strong>.</p>
</li>
<li>
<p>Click <strong>New</strong> or on an existing homepage.<br>
→ The preview area of the homepage opens.</p>
</li>
<li>
<p>Move elements from the left side into the preview area via drag &amp; drop. Pay attention to the information given in <a href="#table-elements-shop-builder">Table 1</a>.<br>
→ New elements can be dragged to the desired position.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The homepage of your online store is displayed with the selected elements.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The ShopBuilder contains structure elements that arrange the layout of the page and so-called widgets, which are various page elements that can be used to fill structure elements. The widgets are sorted in the categories <strong>Text</strong>, <strong>Image</strong>, <strong>Item</strong>, <strong>Header</strong>, <strong>Footer</strong>, and <strong>Miscellaneous</strong>. In the following table these elements are further explained:</p>
</div>
<table id="table-elements-shop-builder" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Elements of the ShopBuilder</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Structure elements</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>2 boxes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a structure element with 2 boxes that can be filled with the widgets listed below and with other structure elements. Click <strong>Edit</strong> to change the layout. Select a size ratio from the <strong>Layout</strong> drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>3 boxes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a structure element with 3 boxes that can be filled with the widgets listed below and with other structure elements. Click <strong>Edit</strong> to change the layout of the element. Select a size ratio for the columns from the <strong>Layout</strong> drop-down list. <strong>Stacked</strong> options display 2 boxes on top of each other.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>4 boxes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a structure element with 4 boxes that can be filled with the widgets listed below and with other structure elements. The size ratio of the columns cannot be adjusted.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Separator line</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a separating line that serves as placeholder. Click <strong>Edit</strong> to adjust the paddings and margins of the separator line.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sticky container</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a structure element which has a fixed position and is thereby always visible when scrolling the page. The sticky container can be filled with other structure elements or widgets. The sticky container itself has no further settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Text</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title bar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a text box. Click <strong>Edit</strong> to enter text and determine the <a href="#45">colour</a> of the title bar via the appearance drop-down list. You can only enter plain text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a text box. Click <strong>Edit</strong> to open the text editor. You can select the <a href="#45">colour</a> for the text widget from the Appearance drop-down list. Enter the text you want to display in the widget as plain text or switch to HTML by clicking the <strong>&lt;/&gt;</strong> symbol in the text editor. Note that at this point implementing CSS is not yet possible.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>List</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a list that serves as placeholder. Click <strong>Edit</strong> to add list entries or icons.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link list</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a link list that serves as placeholder. Click <strong>Edit</strong> to add a list title, list entries or icons.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FAQ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides text boxes for displaying frequently asked questions in the online store. The corresponding answer is displayed after clicking the question. Click <strong>Edit</strong> to open the settings. You can select the <a href="#45">colour</a> for the questions from the appearance drop-down list. Add additional questions and answers by clicking the <strong>plus</strong> button.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Image</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image carousel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides the Ceres image carousel. Click <strong>Edit</strong> to add or remove images. Images can be selected by using the category picker, by entering a variation ID or via the file selector. If the image is determined by the category picker, the first image that is stored in the documents tab is used. Determine the <a href="#45">colour</a> of the image carousel via the <strong>Appearance</strong> drop-down list. The optimal image sizes are described in <a href="#120">this chapter</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image box</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a container for the images. Click <strong>Edit</strong> to add or remove images. Images can be selected by using the category picker, by entering a variation ID or via the file selector. If the image is determined by the category picker, the first image that is stored in the documents tab is used. Determine the <a href="#45">colour</a> of the image box via the <strong>Appearance</strong> drop-down list. Change the size of text and the image size via the <strong>Box style</strong> and <strong>Image size</strong> drop-down lists. The optimal image sizes are described in <a href="#120">this chapter</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item list</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides the <a href="/en/omni-channel/webshop/ceres-einrichten#110">Ceres item list</a>. Click <strong>Edit</strong> to add or remove images. You can add item lists of the types <strong>Category items</strong>, <strong>Last seen items</strong> and <strong>Items with tags</strong>. Determine the sorting value via the <strong>Item sorting</strong> drop-down list and enter the <strong>Maximum number of displayed items</strong> for the list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Live shopping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a container for live shopping items. Click <strong>Edit</strong> to carry out the settings for the widget. Select one of 10 live shopping profiles that you create in the <strong>System » System settings » Client » Global » Live shopping</strong> menu from the <strong>Live shopping selection</strong></p>
<p class="tableblock">Under <strong>Sorting</strong>, select the sorting option, by which the first displayed variation is determined.</p>
<p class="tableblock">Activate the option <strong>Display timer</strong> to show a running countdown for the live shopping offer. If this option is active, you can also <strong>Display a time-dependent progress bar</strong> that is displayed below the countdown.</p>
<p class="tableblock">Activate the option <strong>Display stock</strong> to display the available stock. If this option is active, you can also <strong>Display a time-dependent progress bar</strong> that is displayed below the stock.</p>
<p class="tableblock">Activate the option <strong>Display strikethrough price</strong> in order to display the RRP in the widget next to the special offer.</p>
<p class="tableblock">Under <strong>Image selection</strong> you can upload an item image for the live shopping offer. If you don’t upload an image, the item image of the variation is displayed.</p>
<p class="tableblock"><strong><em>Important</em></strong>: To use live shopping, you must have created at least one live shopping profile. Furthermore, you must have created a sales price of the price type <strong>Special offer</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Miscellaneous</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GoogleMaps</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a map to display the location of your store. Click <strong>Edit</strong> to enter the <strong>Google API key</strong> that you received from<a href="https://cloud.google.com/maps-platform/maps/?hl=de" target="_blank" rel="noopener">Google Cloud</a>. <strong>Note:</strong> The GoogleMaps API may be subject to additional costs.<br>
Enter the address that you want to highlight on the map and the zoom level for the map view. The default value is 16; higher values zoom in, lower values zoom out.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Newsletter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a newsletter registration for customers.<br></p>
<p class="tableblock"><strong>Appearance</strong> = Select the colour for the <strong>Subscribe</strong> button.<br>
<strong>Title</strong> = Enter the title for the newsletter registration, e.g. “Our Newsletter”<br>
<strong>Description</strong> = Enter the description for the newsletter registration. The description is displayed below the title.<br>
<strong>Display input fields for first and last name</strong> = Activate to display the input fields for both first and last name in the newsletter registration.<br>
<strong>Display checkbox for confirming privacy policy</strong> = Activate to display a checkbox, with which customers can consent to the privacy policy.<br>
<strong>Email folder ID</strong> = Enter the ID of the email folder in which the customers’ email addresses are supposed to be stored. You create email folders in the <strong>CRM » Newsletter » plentymarkets » Email folder</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tab: Header</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category navigation</strong> (Header)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides the category navigation. Click <strong>Edit</strong> to carry out the settings and determine the style of the category navigation, the category levels as well as the number of categories. You can also add a company logo.<br></p>
<p class="tableblock"><strong>Fix when scrolling the page</strong> = Activate to always display the category navigation when users scroll through the page.<br>
<strong>Style of the category navigation</strong> = Select whether the category navigation is displayed in its normal layout or in the form of a mega menu.<br>
<strong>Category levels of the mega menu</strong> = Select whether the mega menu displays 2, 3, or 4 category levels. This setting is only applicable if <strong>Mega menu</strong> has been selected as the <strong>Style of the category navigation</strong>.<br>
<strong>Number of categories</strong> = Enter the number of categories to be displayed in the individual levels of the mega menu. This setting is only applicable if <strong>Mega menu</strong> has been selected as the <strong>Style of the category navigation</strong>.<br>
<strong>Company logo</strong> = Select the image file that you want to display as your company logo in the upper left corner of the online store. The common image formats (PNG, JPG, etc.) are applicable.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Breadcrumbs</strong> (Header)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a breadcrumb navigation. Click <strong>Edit</strong> to carry out the settings.<br></p>
<p class="tableblock"><strong>Fix when scrolling the page</strong> = Activate to always display the breadcrumb navigation when users scroll through the page.<br>
<strong>Display on homepage</strong> = Activate to display the breadcrumb navigation on the homepage.<br>
<strong>Display in MyAccount area</strong> = Activate to display the breadcrumb navigation in the MyAccount area.<br>
<strong>Display in checkout</strong> = Activate to display the breadcrumb navigation in the checkout.<br>
<strong>Display on content category pages</strong> = Activate to display the breadcrumb navigation on category pages of the type <strong>Content</strong>.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Top Bar</strong> (Header)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a top bar. Click <strong>Edit</strong> to carry out the settings and determine the display of the elements, the search, or the shopping cart information.</p>
<p class="tableblock"><strong>Fix when scrolling the page</strong> = Activate to always display the top bar when users scroll through the page.<br>
<strong>Display of the search</strong> = Select whether the search is always visible, displayed as a fold in search, or is not shown.<br>
<strong>Display item images in search suggestions</strong> = Activate to display the images stored for your items in the search suggestions.<br>
<strong>Item search: forward to item view</strong> = Activate to forward customers directly to the single item view if the click a suggested search result.<br>
<strong>Display elements in the top bar</strong> = Activate the relevant checkboxes to display the customer login, the customer registration, language and currency selection, selection of the country of delivery, wish list, and shopping cart preview in the top bar.<br>
<strong>Show shopping cart information</strong> = Select whether the value of items, the quantity of items, or a combination of both is displayed in the shopping cart preview.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tab: Footer</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Legal information</strong> (Footer)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides the display of legal information. Click <strong>Edit</strong> to determine which elements should be visible in the footer. You can also upload a cancellation form in PDF format.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="30">1.1. Editing elements of the Ceres homepage with the ShopBuilder</h3>
<div class="paragraph">
<p>In the preview area, you can edit elements of the homepage to adjust it to your individual needs.</p>
</div>
<div class="paragraph instruction">
<p>Editing elements in the preview area:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The ShopBuilder opens.</p>
</li>
<li>
<p>Move the cursor over the element you want to edit.<br>
→ The context menu opens.</p>
</li>
<li>
<p>Click <strong>Edit</strong>.<br>
→ The <strong>Settings</strong> bar is displayed.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-elements-shop-builder">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
The homepage of the online store is modified according to the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can also remove elements.</p>
</div>
<div class="paragraph instruction">
<p>Removing elements from the preview area:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The preview area opens.</p>
</li>
<li>
<p>Move the cursor over the element you want to remove.<br>
→ The context menu opens.</p>
</li>
<li>
<p>Click <strong>Delete</strong> to remove the element.<br>
→ The element is removed.<br>
→ The surrounding elements are regrouped and replace the deleted element.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The homepage of the online store is modified according to the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="110">2. Editing the Ceres checkout with the ShopBuilder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>With Ceres 3.1.0 you can also edit the Ceres checkout with the ShopBuilder. In addition to the dedicated checkout widgets, all other <a href="#table-elements-shop-builder">widgets</a> that can be placed on the homepage are available for designing the checkout. You set up the checkout in the same way as the <a href="#20">homepage</a>.<br></p>
</div>
<div class="paragraph">
<p>In order for the checkout that you build in the ShopBuilder to work properly, you need to create a <strong>category</strong> and link it in the category view of the ShopBuilder:</p>
</div>
<div class="paragraph instruction">
<p>Creating a checkout category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The ShopBuilder opens.<br></p>
</li>
<li>
<p>Click <strong>New category</strong> in the category tree on the left.<br>
→ The <strong>Create new category</strong> window opens.<br></p>
</li>
<li>
<p>Enter a name for the category, e.g. <strong>Order process</strong>.</p>
</li>
<li>
<p>Select <strong>Main category</strong>.</p>
</li>
<li>
<p>Click <strong>Create</strong>.<br>
→ The <strong>Edit category</strong> window will open.<br></p>
</li>
<li>
<p>Link the category to a client and carry out the settings according to <a href="#table-edit-category">Table 6</a></p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>After you have created the category, you need to <strong>link</strong> it to the Ceres checkout:</p>
</div>
<div class="paragraph instruction">
<p>Linking the checkout category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The ShopBuilder opens.<br></p>
</li>
<li>
<p>Click on <strong>Open settings</strong> on the left in the toolbar.<br>
→ The UI for category links opens.<br></p>
</li>
<li>
<p>Click on <strong>Category for checkout</strong>.</p>
</li>
<li>
<p>Select the newly created checkout category via the category picker.</p>
</li>
<li>
<p>Click on <strong>Select</strong>.<br>
→ The category picker collapses.<br></p>
</li>
<li>
<p>Save the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The newly created category is now linked with the checkout of the Ceres plugin. Create a new checkout page in the category selection of the ShopBuilders:</p>
</div>
<div class="olist arabic instruction">
<div class="title">Creating a checkout page:</div>
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The ShopBuilder opens.<br></p>
</li>
<li>
<p>Select your checkout category from the category tree on the left.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The window <strong>Create new page</strong> opens.<br></p>
</li>
<li>
<p>Select the content type <strong>Checkout</strong>.</p>
</li>
<li>
<p>Enter a name for the checkout page.</p>
</li>
<li>
<p>If necessary, select a preset for the checkout.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The new checkout page has been created.<br></p>
</li>
<li>
<p>On the tile that represents the new page, click on <strong>Activate</strong> to use this page as your checkout.</p>
</li>
<li>
<p>Click on the tile of the new page to open the page in the ShopBuilder editor. Pay attention to the details provided in <a href="#table-elements-checkout">Table 2</a> and <a href="#table-elements-shop-builder">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-elements-checkout" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Checkout widgets</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Widgets</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Customer data</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Address selection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides the address selection so that customers can enter a delivery and/or invoice address in the checkout. Click <strong>Edit</strong> to carry out the settings.<br></p>
<p class="tableblock"><strong>Address type</strong> = Add an invoice or delivery address.<br>
<strong>Address format</strong> = Select DE or UK. Depending on which address format you select, different address fields can be displayed and configured as required fields.<br>
<strong>Show invoice and delivery address fields</strong> = Select the address fields that are shown to your customers, so that they can enter their address information.<br>
<strong>Required fields for invoice and delivery address</strong> = Select the address fields that your customers must fill in before they can <strong>place an order</strong>. If these fields are not filled in when the customer clicks the <strong>purchase</strong> button, the order cannot be placed.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Shopping cart</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shopping cart content</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides an overview over the items in the shopping cart. Click <strong>Edit</strong> to select the <a href="#45">colour</a> of the widget.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Coupon input</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides the input field for customers to redeem their coupon codes. Click <strong>Edit</strong> to select the <a href="#45">colour</a> of the widget.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Totals</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides an overview over the totals. Click <strong>Edit</strong> to open the settings and select which <strong>Price information</strong> is displayed in the totals overview.<br></p>
<p class="tableblock">Available price information:<br>
<strong>Value of items (net)</strong><br>
<strong>Value of items (gross)</strong><br>
<strong>Rebate</strong><br>
<strong>Shipping costs (net)</strong><br>
<strong>Shipping costs (gross)</strong><br>
<strong>Coupon for special offers</strong><br>
<strong>Gift certificate</strong><br>
<strong>VAT</strong><br>
<strong>Totals (net)</strong><br>
<strong>Totals (gross)</strong><br>
<strong>Outstanding amount</strong><br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Checkout</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping profile selection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a selection of the configured and active shipping profiles. Click <strong>Edit</strong> to carry out the settings. This widget is limited to 1 per page.<br></p>
<p class="tableblock"><strong>Text</strong> = Enter text that is displayed between the headline and the selection of shipping profiles.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment methods</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a selection of payment methods. You need to integrate your payment methods through <a href="www.https://marketplace.plentymarkets.com/plugins/payment" target="_blank" rel="noopener">plugins</a> and activate them for the client, country of delivery and customer class. Click <strong>Edit</strong> to carry out the settings. This widget is limited to 1 per page.<br></p>
<p class="tableblock"><strong>Text</strong> = Enter text that is displayed between the headline and the selection of payment methods.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Notes and requests</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a text box with which customers can add notes and requests to their order. Click <strong>Edit</strong> to carry out the settings.<br></p>
<p class="tableblock"><strong>Text</strong> = Enter the text that is displayed betwen headline and the text box.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Terms and conditions checkbox</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a checkbox with which customers can agree to your general terms and conditions. Click <strong>Edit</strong> to carry out the settings. This widget is limited to 1 per page.<br></p>
<p class="tableblock"><strong>Hide checkbox</strong> = Activate to hide the checkbox in the online store. The checkbox is checked by default.<br>
<strong>Preselect checkbox</strong> = Activate to activate the checkbox by default.<br>
<strong>Required field</strong> = Activate to make the checkbox mandatory before customers can place an order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping information checkbox</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a checkbox with which customers can agree that their shipping information is forwarded to the shipping service provider. Whether the checkbox is displayed in the online store depends on the selected shipping profile. The option <a href="/en/fulfillment/versand-vorbereiten#1000">Agreement upon data transfer</a> has to be activated for the shipping profile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Newsletter checkbox</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a checkbox with which customers can subscribe to your newsletter. Click <strong>Edit</strong> to enter the ID of your email folder, to overwrite the text that is displayed next to the checkbox and to carry out further settings:</p>
<p class="tableblock"><strong>Hide checkbox</strong> = Activate to hide the checkbox in the online store. The checkbox is checked by default.<br>
<strong>Preselect checkbox</strong> = Activate to activate the checkbox by default.<br>
<strong>Required field</strong> = Activate to make the checkbox mandatory before customers can place an order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Purchase button</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides the button with which customers can place an order in the online store. Click <strong>Edit</strong> to carry out the settings.<br></p>
<p class="tableblock"><strong>Button size</strong> = Select whether the button size is <strong>small</strong>, <strong>standard</strong> or <strong>large</strong>.<br></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="40">3. Editing design settings in the ShopBuilder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can open the design menu by clicking the <strong>Design</strong> button in the ShopBuilder editor. Here, you can edit colour settings and select or upload fonts for your online store.</p>
</div>
<div class="sect2">
<h3 id="45">3.1. Editing colour settings in the ShopBuilder</h3>
<div class="paragraph">
<p>You can globally manage the colour scheme of all your pages in the ShopBuilder.</p>
</div>
<div class="paragraph instruction">
<p>Editing colour settings in the ShopBuilder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The ShopBuilder opens.</p>
</li>
<li>
<p>Click on <strong>homepage</strong>.<br>
→ The preview area of the homepage opens.</p>
</li>
<li>
<p>Click on <strong>Design</strong> in the toolbar.<br>
The <strong>Design</strong> menu opens.</p>
</li>
<li>
<p>Carry out the settings in the <strong>Colours</strong> section. Pay attention to the information given in <a href="#table-colours-shop-builder">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-colours-shop-builder" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Global colour settings in the ShopBuilder</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Primary colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the primary colour of your online store. It determines the colouring of the buttons and widgets in your online store. Choose a colour from the colour picker or enter a hexadecimal value.<br>
<strong><em>Note:</em></strong> This value can be used by theme plugins for different colour schemes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Secondary colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This attribute changes the secondary colour of the online store. You can use them for the colour sheme of your widgets. Choose a colour from the colour picker or enter a hexadecimal value.<br>
<strong><em>Note:</em></strong> This value can be used by theme plugins for different colour schemes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Success colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This attribute changes the colour of the success notifications in the online store. Choose a colour from the colour picker or enter a hexadecimal value.<br>
<strong><em>Note:</em></strong> This value can be used by theme plugins for different colour schemes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Information colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This attribute changes the colour of information notifications in the online store. Choose a colour from the colour picker or enter a hexadecimal value.<br>
<strong><em>Note:</em></strong> This value can be used by theme plugins for different colour schemes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warning colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This attribute changes the colour of warning notifications in the online store. Choose a colour from the colour picker or enter a hexadecimal value.<br>
<strong><em>Note:</em></strong> This value can be used by theme plugins for different colour schemes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Danger colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This attribute changes the colour of error notifications in the online store. Choose a colour from the colour picker or enter a hexadecimal value.<br>
<strong><em>Note:</em></strong> This value can be used by theme plugins for different colour schemes.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="46">3.2. Editing fonts in the ShopBuilder</h3>
<div class="paragraph">
<p>The ShopBuilder also offers the possibility of selecting individual fonts for the online store. You can either enter the URL of a font or upload a font file.</p>
</div>
<div class="paragraph instruction">
<p>Editing fonts:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The ShopBuilder opens.</p>
</li>
<li>
<p>Click on <strong>homepage</strong>.<br>
→ The preview area of the homepage opens.</p>
</li>
<li>
<p>Click on <strong>Design</strong>.<br>
→ The window <strong>Design</strong> opens.</p>
</li>
<li>
<p>Carry out the settings in the <strong>Fonts</strong> section. Pay attention to the information given in <a href="#table-fonts-shop-builder">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-fonts-shop-builder" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Editing fonts in the ShopBuilder</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enter font URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a URL in the respective fields (regular, <strong>bold</strong>, <em>italic</em> or <strong><em>bold-italic</em></strong>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload font</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a font file from your computer. Select the font file you want to use in the respective fields (regular, <strong>bold</strong>, <em>italic</em> or <strong><em>bold-italic</em></strong>).</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="50">4. Carry out additional settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The ShopBuilder also serves to carry out all settings available in the Ceres configuration. To do so, proceed as follows.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The ShopBuilder opens.</p>
</li>
<li>
<p>Click on <strong>Settings</strong>.<br>
→ The menu <strong>Plugin configuration</strong> opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="/en/omni-channel/webshop/ceres-einrichten#20">Setting up Ceres</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br></p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Selecting a plugin set in the ShopBuilder</div>
You can select a plugin set from the drop-down list. The page preview displays the settings carried out for the plugin set (e.g. which item is visible).
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="60">5. Creating a page in the ShopBuilder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The overview of the ShopBuilder offers the possibility of creating and naming new pages for the homepage.</p>
</div>
<div class="paragraph instruction">
<p>Creating a page:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The window <strong>Create new page</strong> opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The newly created page is displayed in the overview.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="61">5.1. Renaming content in the ShopBuilder</h3>
<div class="paragraph">
<p>It is possible to rename content at any time.</p>
</div>
<div class="paragraph instruction">
<p>Renaming content:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Move the cursor over the content that you want to rename.</p>
</li>
<li>
<p>Click on the <strong>Further options</strong> button.</p>
</li>
<li>
<p>Click on <strong>Rename</strong>.<br>
→ The <strong>Rename</strong> window opens.</p>
</li>
<li>
<p>Enter any desired name for the content.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="62">5.2. Deleting a page in the ShopBuilder</h3>
<div class="paragraph">
<p>Pages created in the ShopBuilder can also be removed.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a page:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Move the mouse cursor over the page you want to delete.</p>
</li>
<li>
<p>Click on the <strong>Further options</strong> button.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ The <strong>Delete</strong> window is displayed.</p>
</li>
<li>
<p>Click <strong>Delete</strong> to delete a page.<br>
→ The page is deleted.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="63">5.3. Deleting links of ShopBuilder pages to the homepage</h3>
<div class="paragraph">
<p>Every page that is created in the ShopBuilder is automatically linked to the homepage. However, the link can be deleted.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a link:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Move the mouse cursor over the page whose link to the homepage you want to delete.</p>
</li>
<li>
<p>Click <strong>Deactivate</strong>.<br>
→ The link to the homepage is deleted.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="64">5.4. Linking ShopBuilder pages to the homepage.</h3>
<div class="paragraph">
<p>A deleted link of a ShopBuilder page to the homepage can be recreated.</p>
</div>
<div class="paragraph instruction">
<p>Creating a link:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Move the mouse cursor over the page that you want to link to the homepage.</p>
</li>
<li>
<p>Click <strong>Activate</strong>.<br>
→ The selected page is linked to the homepage.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The blue mark indicates that a link exists.</p>
</div>
</div>
<div class="sect2">
<h3 id="65">5.5. Duplicating content</h3>
<div class="paragraph">
<p>In the overview of the ShopBuilder you can duplicate content.</p>
</div>
<div class="paragraph instruction">
<p>Duplicating content:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Move the mouse cursor over the page whose content you want to duplicate.</p>
</li>
<li>
<p>Click on the <strong>Further options</strong> button.</p>
</li>
<li>
<p>Click on <strong>Duplicate content</strong>.<br>
→ The window <strong>Duplicate content</strong> opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-duplicate-content">Table 5</a>.</p>
</li>
<li>
<p>Click on <strong>Duplicate content</strong>.<br>
→ The content is duplicated.</p>
</li>
</ol>
</div>
<table id="table-duplicate-content" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Duplicating content</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, the initial name with the addition (Copy) is entered by default. However, you can change the name for the duplicated content.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select a plugin set</strong>.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a plugin set for the duplicated content.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select a language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a language for the duplicated content.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the desired category for the duplicated content.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="70">6. Selecting a language</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It is possible to create homepages with different languages independently of one another.</p>
</div>
<div class="paragraph instruction">
<p>Selecting a language:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Select a language from the drop-down list.</p>
</li>
<li>
<p>Click <strong>Add page</strong>.</p>
</li>
<li>
<p>Enter a name for the page.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The language settings for the page will be saved automatically.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="75">7. Displaying client preview</h2>
<div class="sectionbody">
<div class="paragraph">
<p>On the editing page, it is possible to view the created page for the different clients (preview).</p>
</div>
<div class="paragraph instruction">
<p>Displaying client preview:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Select a client from the drop-down list <strong>Select client</strong>.</p>
</li>
<li>
<p>Select a page.<br>
→ The created page is displayed for the selected client.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="80">8. Creating and editing categories in the ShopBuilder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The categories in the ShopBuilder are displayed on the left in the overview. Here you can create new categories as main or sub categories and in the window <strong>Edit category</strong> it is possible to carry out further settings.<br></p>
</div>
<div class="paragraph instruction">
<p>Creating and editing categories in the ShopBuilder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>At the bottom of the category tree, click on the plus <strong>Create new category</strong>.<br>
→ The <strong>Create new category</strong> window opens.</p>
</li>
<li>
<p>Enter a name and select <strong>Main page</strong> for a main category or <strong>Subpage</strong> for a subcategory.</p>
</li>
<li>
<p>If you want to create a subpage, click in the editing window on the category in which you want to create the subcategory.</p>
</li>
<li>
<p>Click <strong>Create</strong>.<br>
→ The new category has been added to the category tree and the window <strong>Edit category</strong> opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-edit-category">Table 6</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-edit-category" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Editing a category</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>General settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show sitemap</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the category should be included in the sitemap.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show in link list</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the category should be displayed in the linklist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Client (store) specific settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The URL of the category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Canonical</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If necessary, enter the URL of a category with the same content to prevent <strong><a href="/en/omni-channel/online-shop/webshop-einrichten/cms-syntax#110">duplicate content</a></strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number to specify which order the categories and subcategories should be displayed in on the same level.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meta title</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the meta title. <em>SEO tip</em>: Pay attention to the length of the title.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meta description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a meta description (max. 350 characters). The meta description is analysed by search engines. As such, it is especially important for the homepage.
SEO tip: The meta description should contain the most important content in one sentence.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meta keywords</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter key words that potential clients are likely to enter into search engines and that relate to the content of the category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meta robots</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose between <strong>all</strong>, <strong>index</strong>, <strong>nofollow</strong>, <strong>noindex</strong> and <strong>nofollow, noindex</strong>. Values of the meta element Robots are analysed by search engine crawlers. These values tell the crawler how to deal with the page and any links on that page.<br>
<strong>all</strong> = Include the website of the category in the search engine index and follow links on the page.<br>
<strong>index</strong> = Include in search engine index.<br>
<strong>nofollow</strong> = Do not follow links on the page.<br>
<strong>noindex</strong> = Do not include in search engine index.<br>
<strong>nofollow, noindex</strong> = Do not follow links and do not include webpage in the search index.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="85">9. Carrying out settings for a client:</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the editing window of a category you can not only carry out basic settings, but also select which categories should be active or inactive for a client. The settings are accordingly displayed in the category tree.</p>
</div>
<div class="paragraph">
<p>Carrying out settings for a client:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Select a client from the drop-down list <strong>Select client</strong>.</p>
</li>
<li>
<p>In the category tree, click on <strong>Edit category</strong>.<br>
→ The <strong>Edit category</strong> window will open.</p>
</li>
<li>
<p>In the section <strong>Basic settings</strong>, select the client for which the category should be active..</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The category is activated for the selected client and is marked yellow in the category tree. If a category for the selected client is inactive, it is displayed grey in the category tree. If no name or no language is given for a category, the category is displayed in intalics.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="90">10. Deleting categories in the ShopBuilder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Categories can be deleted.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The ShopBuilder opens.</p>
</li>
<li>
<p>In the category tree, click on the editing button of the category that you want to delete.<br>
→ The <strong>Edit category</strong> window will open.</p>
</li>
<li>
<p>On the top, click on the <strong>Delete</strong> button.<br>
→ The <strong>Delete</strong> window is displayed.</p>
</li>
<li>
<p>Click on <strong>Delete category</strong>.<br>
→ The category is deleted.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="95">11. Creating a header or a footer in the ShopBuilder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the ShopBuilder you can create a header and a footer. The header and the footer are globally effective for the whole online store.</p>
</div>
<div class="paragraph instruction">
<p>Creating a header or a footer in the ShopBuilder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>In the section <strong>Header elements</strong> or <strong>Footer elements</strong>, click <strong>New</strong>.<br>
→ The window <strong>Create new page</strong> opens.</p>
</li>
<li>
<p>Select <strong>Create header</strong> or <strong>Create footer</strong>.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select either the standard header, the standard footer or do not make any selection.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The header or the footer has been created.</p>
</li>
<li>
<p>Click <strong>Activate</strong> to link the header or the footer.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="100">12. Editing the header</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The settings carried out in the header are globally effective. For the header, the widgets <strong>Top bar</strong>, <strong>Category navigation</strong> and <strong>Breadcrumbs</strong> are available for selection.</p>
</div>
<div class="paragraph instruction">
<p>Globally editing the header:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Click on the header.<br>
→ The page created for the header will open.</p>
</li>
<li>
<p>Move the desired widget into the preview area via drag&amp;drop.</p>
</li>
<li>
<p>Click <strong>Edit</strong>.<br>
→ The editing window will open.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-elements-shop-builder">Table 1</a>.<br>
→ The settings are saved automatically.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="101">13. Editing the footer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The settings carried out in the footer are globally effective. For the footer, the widget <strong>Legal information</strong> is additionally available for selection.</p>
</div>
<div class="paragraph instruction">
<p>Globally editing the footer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Click on the footer.<br>
→ The page created for the footer will open.</p>
</li>
<li>
<p>Move the desired widget into the preview area via drag&amp;drop.</p>
</li>
<li>
<p>Click <strong>Edit</strong>.<br>
→ The editing window will open.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-elements-shop-builder">Table 1</a>.<br>
→ The settings are saved automatically.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="105">14. Using the standard homepage preset</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For the homepage you can use the standard homepage preset. Some widgets are already preconfigured and can be edited. Moreover, further widgets can be added.
Settings that have already been carried out in the Ceres configuration and the multilingualism are considered.</p>
</div>
<div class="paragraph instruction">
<p>Using the standard header template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>In the section Header elements, click <strong>New</strong>.<br>
→ The window <strong>Create new page</strong> opens.</p>
</li>
<li>
<p>Enter a name and select the <strong>Standard header</strong> in the <strong>preset</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The section is created in the section Header elements.</p>
</li>
<li>
<p>Click on the page.<br>
→ The preview with the default settings for the standard header opens.</p>
</li>
<li>
<p>In order to edit the default settings, click <strong>Edit</strong> in the respective widget.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-elements-shop-builder">Table 1</a>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="110">15. Using the standard homepage preset</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For the homepage you can use the standard homepage preset. Some widgets are already preconfigured and can be edited. Moreover, further widgets can be added.
Settings that have already been carried out in the Ceres configuration and the multilingualism are considered.</p>
</div>
<div class="paragraph instruction">
<p>Using the standard homepage preset:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>In the section Content, click <strong>New</strong>.<br>
→ The window <strong>Create new page</strong> opens.</p>
</li>
<li>
<p>Enter a name and select the <strong>Standard homepage</strong> in the <strong>preset</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The page is created in the section Content.</p>
</li>
<li>
<p>Click on the page.<br>
The preview with the default settings for the standard homepage opens.</p>
</li>
<li>
<p>In order to edit the default settings, click <strong>Edit</strong> in the respective widget.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-elements-shop-builder">Table 1</a>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="115">16. Using the standard footer preset</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For the footer you can use the standard footer preset. Some widgets are already preconfigured and can be edited. Moreover, further widgets can be added.
Settings that have already been carried out in the Ceres configuration and the multilingualism are considered.</p>
</div>
<div class="paragraph instruction">
<p>Using the standard footer preset:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>In the section Footer elements, click <strong>New</strong>.<br>
→ The window <strong>Create new page</strong> opens.</p>
</li>
<li>
<p>Enter a name and select the <strong>Standard footer</strong> in the <strong>preset</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The page is created in the section Footer elements.</p>
</li>
<li>
<p>Click on the page.<br>
The preview with the default settings for the standard footer opens.</p>
</li>
<li>
<p>In order to edit the default settings, click <strong>Edit</strong> in the respective widget.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-elements-shop-builder">Table 1</a>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="120">17. Ideal image sizes for the ShopBuilder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are 4 different aspect ratios for images in the <strong>Image box</strong> and <strong>Image carousel</strong> widgets. These ratios are dependent on whether the widget is integrated as a standalone or in a grid with 2, 3 or 4 columns as well as which layout setting is selected for the grid.</p>
</div>
<div class="paragraph">
<p>For image widgets that are integrated <strong>without a grid</strong> or in a <strong>2 column grid</strong> with the layout setting <strong>50%:50%</strong>, the ideal image aspect ratio of width to height is <strong>3:1</strong>. If you change the <a href="#table-elements-shop-builder">layout settings</a>, the aspect ratio changes to <strong>2:1</strong> (for 66.6% elements) and <strong>1:1</strong> (for 33.3% elements).</p>
</div>
<div class="paragraph">
<p>For image widgets in a <strong>3 column grid</strong> with the layout setting <strong>30%:30%:30%</strong>, the ideal image aspect ratio of width to height is <strong>1.5:1</strong>. Depending on the <a href="#table-elements-shop-builder">layout settings</a>, the aspect ratio changes according to the table below.</p>
</div>
<div class="paragraph">
<p>For image widgets in a <strong>4 column grid</strong>, the ideal image aspect ratio of width to height is <strong>1:1</strong>. The layout for this type of grid cannot be changed.</p>
</div>
<table id="table-image-sizes-shop-builder" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Ideal image sizes for ShopBuilder widgets</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Number of grid columns</th>
<th class="tableblock halign-left valign-top">Layout setting (%)</th>
<th class="tableblock halign-left valign-top">Aspect ratio</th>
<th class="tableblock halign-left valign-top">Example size</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>No grid</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>-</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x400px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>50%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x400px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>66.6%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x600px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>33.3%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x1200px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>33.3%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1.5:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x800px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>50%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x600px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>25%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x1200px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>66.6% (stacked)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1.5:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x800px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>33.3% (stacked)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1.5:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x800px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>4</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>-</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x1200px</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="125">18. Scripts in the text widget</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to use JavaScript scripts in the online store, you can implement <strong>&lt;script2&gt;</strong> tags in the text widget of the ShopBuilder. This tag functions like a common &lt;script&gt;tag.
For the documentation of the framework used for the ShopBuilder, see <a href="https://github.com/taoeffect/vue-script2" target="_blank" rel="noopener">here</a>.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">Unresolved directive in &lt;stdin&gt; - include::assets/ShopBuilder-scripts-1.txt[]</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>Explanation</strong>: Here a &lt;script2&gt; tag is used only with the src attribute to load an external script.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">Unresolved directive in &lt;stdin&gt; - include::assets/ShopBuilder-scripts-2.txt[]</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>Explanation</strong>: JavaScript code is written within the script2 tag. moment.js is accessed here, which was loaded in the previous script.</p>
</div>
<div class="paragraph">
<p><strong>Tip</strong>: External scripts can be uploaded in the webspace and integrated via the ShopBuilder. You can access the URL of the script in the plentymarkets webspace.</p>
</div>
</div>
</div>
</main>