<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_setting_the_category_levels"><span>1.</span><span> Setting the category levels</span></a></li>
<li><a href="#_creating_a_category"><span>2.</span><span> Creating a category</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_a_main_category"><span>2.1.</span><span> Creating a main category</span></a></li>
<li><a href="#_creating_a_subcategory"><span>2.2.</span><span> Creating a subcategory</span></a></li>
</ul>
</li>
<li><a href="#_editing_a_category"><span>3.</span><span> Editing a category</span></a>
<ul class="sectlevel2">
<li><a href="#_tab_settings"><span>3.1.</span><span> Tab: Settings</span></a></li>
<li><a href="#_tabs_description_1_and_2"><span>3.2.</span><span> Tabs: Description 1 and 2</span></a></li>
<li><a href="#10"><span>3.3.</span><span> Tab: Documents</span></a></li>
<li><a href="#_tab_note"><span>3.4.</span><span> Tab: Note</span></a></li>
<li><a href="#_filtering_categories"><span>3.5.</span><span> Filtering categories</span></a></li>
<li><a href="#_searching_for_a_category"><span>3.6.</span><span> Searching for a category</span></a></li>
</ul>
</li>
<li><a href="#_moving_a_category"><span>4.</span><span> Moving a category</span></a></li>
<li><a href="#_activating_several_categories_of_a_client_store"><span>5.</span><span> Activating several categories of a client (store)</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Editing categories</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Item » Categories</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_the_category_levels">1. Setting the category levels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First decide how many category levels should be displayed in your online store. For example, if you enter 4, then no categories can be created on the 5th level.</p>
</div>
<div class="paragraph instruction">
<p>Setting the category levels:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Standard » Categories » Basic settings</strong>.</p>
</li>
<li>
<p>Select the maximum number of levels in the category navigation.</p>
</li>
<li>
<p><strong>Save</strong> the setting.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_a_category">2. Creating a category</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Create a category whenever you want to add a new item category or a page with information to your online store. You must have created a main category before you can create subcategories underneath it. Some categories are already in your system by default. One of these default categories is the category <strong>Content</strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Default category "Content"</div>
<div class="paragraph">
<p>You cannot change the name or the URL name of the category <strong>Content</strong>. You can change settings that do not relate to the name, e.g. the position. You can not create additional categories called <strong>Content</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Learn more about creating categories in the following video tutorial:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.co.uk/a-3409/" target="_blank">Creating categories</a></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Planning a structure</div>
<div class="paragraph">
<p>Set up a logical category structure before you begin creating categories.<br>
Before you begin creating item categories, consider which products are included in your portfolio and divide these products into groups of categories and subcategories.<br>
For example, you could use Women’s clothing and Men’s clothing as parent categories and then use Shoes as a subcategory of each one. Or you could set up categories the other way around. You could use Shoes as a parent category and have it include the subcategories Women’s and Men’s. Set up the categories that best match your portfolio.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_creating_a_main_category">2.1. Creating a main category</h3>
<div class="paragraph">
<p>The following section explains how to create new main categories.</p>
</div>
<div class="paragraph instruction">
<p>Creating a main category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Click on the <strong>New category</strong> button in the lower left corner.<br>
→ The <strong>Create new category</strong> window will open.</p>
</li>
<li>
<p>Enter a <strong>name</strong> for the category.</p>
</li>
<li>
<p>Select <strong>Main category</strong> as the category level.</p>
</li>
<li>
<p>Click on <strong>Create</strong> to create the category.<br>
→ The category will be created and displayed in the directory tree on the left.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Category type</div>
<div class="paragraph">
<p>New categories are assigned the category type <strong>Item</strong> by default (table 2).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_creating_a_subcategory">2.2. Creating a subcategory</h3>
<div class="paragraph">
<p>There are two different ways to create subcategories.</p>
</div>
<div class="paragraph instruction">
<p>Creating a subcategory using the button:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Click on the <strong>New category</strong> button in the lower left corner.<br>
→ The <strong>Create new category</strong> window will open.</p>
</li>
<li>
<p>Enter a <strong>name</strong> for the category.</p>
</li>
<li>
<p>Select <strong>Subcategory</strong> as the category level.</p>
</li>
<li>
<p>Select which main category this new subcategory should be included in.</p>
</li>
<li>
<p>Click on <strong>Create</strong> to create the category.<br>
→ The category will be created and displayed as a subcategory in the directory tree on the left.</p>
</li>
<li>
<p>Click on a main category to display its subcategories.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Creating a new subcategory with the context menu:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the category to which you want to add a subcategory.</p>
</li>
<li>
<p>Use your mouse to right-click on a category.<br>
→ The context menu will open.</p>
</li>
<li>
<p>Click on <strong>Create subcategory</strong>.<br>
→ The <strong>Create new subcategory</strong> window will open.</p>
</li>
<li>
<p>Enter a <strong>name</strong> for the subcategory.</p>
</li>
<li>
<p>Click on <strong>Create</strong> to create the category.<br>
→ The category will be created and displayed as a subcategory in the directory tree on the left.</p>
</li>
<li>
<p>Click on a main category to display its subcategories.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you want to create a subcategory on the 3rd or 4th level, click on the categories until you have reached the category that should include the new subcategory.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Activate categories</div>
<div class="paragraph">
<p>You have to activate a category in order for it to be visible in the online store. Go to <strong>Settings » Client (store) » Standard » Categories » Activate</strong> to activate the categories.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_editing_a_category">3. Editing a category</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Categories that were already created are found in the directory tree on the left. They can now be edited. Click on a category to open it. Or right-click on a category to open its context menu. The context menu gives you quick access to certain functions, e.g. to edit, move, copy or delete a category. You can also create a new item or a subcategory.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Copying a category</div>
<div class="paragraph">
<p>The <strong>Copy category</strong> function allows you to create the same subcategory in several different parent categories. For example, this is useful if you want to have categories for women’s, men’s and children’s clothing, and all three categories should include pants as a subcategory. Copy the category with all of its settings and then make changes to the name and the description as needed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The editing window is divided into 5 tabs. These tabs are: <strong>Settings</strong>, <strong>Description 1</strong>, <strong>Description 2</strong>, <strong>Documents</strong> and <strong>Note</strong>. A toolbar is located above the tabs. This toolbar is described in table 1.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Settings</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Category path</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Click on the link to open parent categories.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Save</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Saves the settings or any changes made to a category page.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Will be assigned automatically and displayed here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Preview</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Opens a preview of the category.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Inline edit preview</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Opens a preview that can also be edited.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Image gallery</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Opens the <strong><a href="/en/omni-channel/online-store/cms#image-gallery">image gallery</a></strong> in a new tab. Images can be uploaded here. You can then copy an image’s URL and link it in the category page using the editor.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Template variables and template functions</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Opens the <a href="/en/omni-channel/online-store/cms-syntax#basics-template-variables"><strong>template variables</strong></a> and <a href="/en/omni-channel/online-store/cms-syntax#basics-template-functions"><strong>template functions</strong></a> sorted by system area. These can be copied and inserted into the page.<br>
Examples for template functions:<br>
<strong>&#123;&#37; Link(xxx) &#37;&#125;</strong> = links to another category page (xxx = the page’s ID)<br>
<strong>&#123;&#37; Link_Help() &#37;&#125;</strong> = links to the help page<br>
<strong>&#123;&#37; Link_ShippingCosts() &#37;&#125;</strong> = links to information about shipping costs<br>
<em><strong>Important</strong></em>: These functions can not be used in newsletters or item descriptions. You have to put the absolute URL in these types of documents.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Multilingualism</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Opens a bilingual editor. You can select which two languages should be displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Apply category settings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select any of the category’s options that you want to apply to another category with the same category ID of one or more clients or one or more languages. This makes it easier and quicker to edit categories for several clients and languages at once.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Link</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The category’s template function. This always includes the category ID so that it can be uniquely identified.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Timestamp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Displays the time when changes were last made and the person who made these changes.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: icons of the category’s toolbar</em></p>
</div>
<div class="sect2">
<h3 id="_tab_settings">3.1. Tab: Settings</h3>
<div class="paragraph">
<p>The <strong>Settings</strong> tab is automatically opened when a category is opened.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Item</strong>, <strong>Content</strong> or <strong>Container</strong>.<br>
In the directory tree, categories of the type <strong>Item</strong> are blue. Categories of the type <strong>Content</strong> are yellow and categories of the type <strong>Container</strong> are red.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a name for the category.<br>
You can re-use category names as long as they are used in different categories or on different levels. Within one category, however, the names may only be used once per level. This makes it possible to save different meta descriptions etc. for categories with the same name.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Tags</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the tags that match the category. Suggestions are automatically displayed while you type. Tags show that a category relates to a specific topic. Go to <a href="/en/basics/working-with-plentymarkets/tags"><strong>Settings » Basic settings » Tags</strong></a> to create tags.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>URL name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a name that should be used for the URL.<br>
The name will automatically be used as the URL name when the category is crated. However, the URL name can still be changed here. The automatic URL will not be indexed at first because a client is not selected when the category is created.<br>
You can re-use URL names as long as they are used in different categories or on different levels. Within one category, however, the URL names may only be used once per level.<br>
<em><strong>Important:</strong></em> Only use <strong>ASCII code</strong>. This is because the URL name may not contain special characters. The following character strings may not be used as prefixes to URL names: a-, b-, c-, f-, fa-, p-, t-. These prefixes will be removed automatically if entered. For instance, a-class will be changed to class automatically. However, the URL name aclass can be used for a category named A-class.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The category URL will be displayed.<br>
It is automatically created and entered. It includes the complete path, i.e. the domain, the category levels and the URL name.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Canonical</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the URL of the category that contains the same content. This will avoid <strong>duplicate content</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Short description</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a short description of the category. Template variables are used to insert the short description into the store’s design.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Position</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a number to specify which order the categories and subcategories should be displayed in on the same level. Go to <strong><a href="/en/omni-channel/online-store/setting-up-clients/item-layouts">Settings » Client (store) » Standard » Item layouts » Basic settings</a></strong> to specify the pages' sorting order. Pages are sorted in ascending position order by default.<br>
<strong><em>Tip:</em></strong> Count by tens when creating position numbers. This will allow you to easily add new categories in between.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Client (store)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select one, several or all of the clients. The category will then be available in these clients.<br>
If a client is activated for a subcategory but it was not yet activated for the category above it, then the parent category will automatically be activated as well. If other clients are already activated for parent categories, then the new client will be activated as well. Previously selected clients continue to be activated.<br>
<strong>Apply visibility to subcategories</strong><br>
This option will only be displayed if subcategories exist.<br>
Place a check mark to apply the category’s client visibility to all of its subcategories. This function is only activated until the next time you save the category. This means that you have to place the check mark again every time you want to apply a category’s visibility to its subcategories.<br>
If a visibility is removed (i.e. a check mark is removed from any of the clients and the category is saved), then this will be applied to the subcategories even if the function is not activated.<br>
If a visibility is added, then this visibility will also automatically be set for any parent categories.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Meta title</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a name. This name will be displayed as the title of a tab in the web browser and as a search result in search engines.<br>
If you leave this field blank, the Name will be used as the title.<br>
Pay attention to the length of the title. Short titles are better for tabs. Longer titles will be cut off after a certain length. (Standard value up to 50 characters)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Meta description</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a meta description. This will be analyzed by search engines. As such, it is especially important for the homepage. The meta description should contain the most important content in one sentence. (Standard value up to 140 characters)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Meta keywords</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter concrete keywords that users would likely enter into search engines.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sitemap</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Choose between <strong>Display</strong> and <strong>Do not display</strong>.<br>
<strong>Display</strong> = Category will be included in the sitemap.<br>
<strong>Do not display</strong> = Category will not be included in the sitemap.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Robots</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Choose between <strong>all</strong>, <strong>index</strong>, <strong>nofollow</strong>, <strong>noindex</strong> and <strong>nofollow, noindex</strong>. Values from the meta element Robots are analyzed by Web crawlers. These values tell the crawler what it should do with this page and with the links on this page.<br>
<strong>all</strong> = Include this category in the search engine index and follow the links on the page.<br>
<strong>index</strong> = Include in the search engine index.<br>
<strong>nofollow</strong> = Do not follow the links on the page.<br>
<strong>noindex</strong> = Do not include in the search engine index.<br>
<strong>nofollow, noindex</strong> = Do not follow the links and do not include the category in the search engine index.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Template page</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a template. The template that is selected here provides the framework for the category. This option is not available for categories of the type <strong>Container</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Template list</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a template. The template determines what the category overview will look like for the current category. The option is only available for <strong>categories of the type item</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Template product</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a template. The template determines the appearance of the single item design for this category. The option is only available for <strong>categories of the type item</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Full text search</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Choose between <strong>Yes</strong> and <strong>No</strong>.<br>
<strong>Yes</strong> = Complete text will be searched.<br>
<strong>No</strong> = Text will not be completely searched.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>in link list</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Choose between <strong>Display</strong> and <strong>Do not display</strong>.<br>
<strong>Display</strong> = Category will be displayed in the store’s navigation.<br>
<strong>Do not display</strong> = Category will not be displayed in the store’s navigation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Visible</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Choose between <strong>Public</strong> and <strong>After login</strong>.<br>
<strong>Public</strong> = Category is visible to all visitors of the online store.<br>
<strong>After login</strong> = Category and all of its subcategories are only visible to visitors of the online store that have logged in. Visitors that are not logged in will be redirected to the login page.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Elmar category</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select an Elmar category.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Translate template variables and template functions</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Choose between <strong>Yes</strong>, <strong>No</strong> and <strong>Template variables and template functions for links only</strong>.<br>
<strong>Yes</strong> = All template variables and template functions will be translated.<br>
<strong>Template variables and template functions for links only</strong> = Only template variables and template functions for links will be translated.<br>
<strong>No</strong> = No template variables and template functions will be translated.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: explanations for the <strong>Settings</strong> tab</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_tabs_description_1_and_2">3.2. Tabs: Description 1 and 2</h3>
<div class="paragraph">
<p>Enter and format text in the tabs <strong>Description 1</strong> and <strong>2</strong>. Use <a href="/en/omni-channel/online-store/cms-syntax#basics-template-variables"><strong>template variables</strong></a> and <a href="/en/omni-channel/online-store/cms-syntax#basics-template-functions"><strong>template functions</strong></a> to insert this description into your store’s web design or other areas. <strong>Description 1</strong> and <strong>2</strong> allow you to write two texts per category and display them in different areas within a website. For example, you could display <strong>Description 1</strong> above and <strong>Description 2</strong> below an overview of items.</p>
</div>
<div class="paragraph">
<p>In the drop-down menu above the entry field to the right, you can select which editor you want to use for editing the template. You can use the <strong><a href="/en/omni-channel/online-store/cms#web-design-tools-editor">Editor</a></strong>, the HTML editor <strong>Text field</strong> or the <a href="/en/omni-channel/online-store/cms#web-design-tools-syntax-editor"><strong>Syntax editor</strong></a>. Categories of the type <strong>Container</strong> can only be edited with the HTML editor <strong>Text field</strong> and the <strong>Syntax editor</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="10">3.3. Tab: Documents</h3>
<div class="paragraph">
<p>Use the <strong>Documents</strong> tab to upload documents. All of the files that belong to the category can be saved here. This makes files easier to find.</p>
</div>
<div class="paragraph">
<p>You can upload the data formats JPEG, PNG, GIF, TIFF, PDF, DOC, ODC, OTH, XLS, XML, HTML, HTM, CSS, JavaScript, ZIP, JSON and GZIP.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Uploading documents</div>
<div class="paragraph">
<p>Click on the <strong>Upload file</strong> button or simply add documents with the drag and drop function.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can define <strong>two</strong> category images for categories of the type Item. You can upload other documents and images as well. This allows you to regularly change the category image without having to delete the old image. Proceed as described below to define category images.</p>
</div>
<div class="paragraph instruction">
<p>Defining category images for a category of the type item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>category</strong>.</p>
</li>
<li>
<p>Click on the <strong>Documents</strong> tab.</p>
</li>
<li>
<p>Point your cursor over the desired image.</p>
</li>
<li>
<p>Select the image with a <strong>check mark</strong>.</p>
</li>
<li>
<p>Click on <strong>Image 1</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The image will be outlined in red and designated with the number <strong>1</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Proceed the same way for image 2. Click on the <strong>Image 2</strong> button in step 5. Deselect a category image by placing a check mark for the image and clicking on the <strong>Image 1</strong> or <strong>Image 2</strong> button a second time.</p>
</div>
<div class="paragraph">
<p>You can click on the buttons that are grayed out in the toolbar once you have selected one or more images with a check mark. By selecting images with check marks, you can see a preview, download or delete several images at the same time.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Displaying category images in the online store</div>
<div class="paragraph">
<p>Only category image 1 is displayed in the online store by default. An <a href="/en/omni-channel/online-store/cms-syntax#basics-if"><strong>if-query</strong></a> was inserted to the <strong>ItemViewCategoriesList</strong> template with the template variable <a href="/en/omni-channel/online-store/cms-syntax#web-design-navigation"><strong>$CurrentCategoryImageUrl</strong></a>. You have to insert a second if-query to the template in order for category image 2 to be displayed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_tab_note">3.4. Tab: Note</h3>
<div class="paragraph">
<p>Save helpful information about a category in the <strong>Note</strong> tab. For example, you can specify which sources your information comes from or let colleagues know that changes should not be made to specific paragraphs. The information saved in this tab is only visible in plentymarkets and will not be displayed in the online store. Notes cannot be deleted.</p>
</div>
</div>
<div class="sect2">
<h3 id="_filtering_categories">3.5. Filtering categories</h3>
<div class="paragraph">
<p>Categories can be filtered by client, language and type. The filters are located above the directory tree. The font indicates whether a category is available in the selected combination. Categories that are displayed in normal font are available in the selected combination. Categories displayed in italic font are not available in the selected filter combination of client, language and type.</p>
</div>
</div>
<div class="sect2">
<h3 id="_searching_for_a_category">3.6. Searching for a category</h3>
<div class="paragraph">
<p>The search function helps you find categories quickly. Enter the name of the category that you are searching for into the text field. Search results will appear while you are entering the name.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_moving_a_category">4. Moving a category</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Categories are displayed in the selected structure under <strong>Item » Categories</strong>. The category structure and category names form the basis for the navigation menu displayed in the online store. On the one hand, the structure is determined by the main and subcategories and by the relationship of the categories one another. These are the so-called levels. On the other hand, the structure is determined by the position numbers. Use the category positions to specify the order within a category level. Use the <strong>Move category</strong> function to move a category to a different level after it was created.</p>
</div>
<div class="paragraph instruction">
<p>Moving a category to the main category level:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Point your cursor over a category.</p>
</li>
<li>
<p>Click on the triangle to the right of a category.<br>
→ A <strong>context menu</strong> will open.</p>
</li>
<li>
<p>Click on <strong>Move category</strong>.<br>
→ The <strong>Move category</strong> window will open.</p>
</li>
<li>
<p>Select <strong>Main category</strong>.</p>
</li>
<li>
<p>Click on <strong>Move</strong>.<br>
→ The category will be displayed in the top level of the directory tree.</p>
</li>
<li>
<p>If necessary, change the category’s position to sort it correctly.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Moving a category to a subcategory level:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Point your cursor over a category.</p>
</li>
<li>
<p>Click on the triangle to the right of a category.<br>
→ A <strong>context menu</strong> will open.</p>
</li>
<li>
<p>Click on <strong>Move category</strong>.<br>
→ The <strong>Move category</strong> window will open.</p>
</li>
<li>
<p>Select <strong>Subcategory</strong>.</p>
</li>
<li>
<p>Select which category it should be sorted under.</p>
</li>
<li>
<p>Click on <strong>Move</strong>.<br>
→ The category will be displayed under the selected category in the directory tree.</p>
</li>
<li>
<p>If necessary, change the category’s position to sort it correctly.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_activating_several_categories_of_a_client_store">5. Activating several categories of a client (store)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can activate and/or deactivate categories of a client (store) centrally in the <strong>Settings » Client (store) » Standard » Categories » Activate</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Activating several categories of a client (store):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Standard » Categories » Activate</strong>.</p>
</li>
<li>
<p>Check the category that you want to activate.<br>
<strong><em>Tip:</em></strong> Click on <strong>Select all</strong> to place check marks next to all of the categories. Click on <strong>Deselect all</strong> to remove the check marks from all of the selected categories.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Check whether categories and items are displayed correctly in the online store.<br>
<strong><em>Tip:</em></strong> It might take some time until an activated category is visible in the online store. If problems occur, check the settings and reload the page of your store.</p>
</li>
</ol>
</div>
</div>
</div>
</main>