<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_categories_of_the_type_content"><span>1.</span><span> General information about categories of the type Content</span></a></li>
<li><a href="#_editing_categories_of_the_type_content"><span>2.</span><span> Editing categories of the type Content</span></a></li>
<li><a href="#_inserting_a_category_of_the_type_content_into_the_online_store_s_design"><span>3.</span><span> Inserting a category of the type Content into the online store’s design</span></a>
<ul class="sectlevel2">
<li><a href="#_inserting_an_individual_category"><span>3.1.</span><span> Inserting an individual category</span></a></li>
<li><a href="#_displaying_a_category_within_a_different_category"><span>3.2.</span><span> Displaying a category within a different category</span></a></li>
<li><a href="#_inserting_all_categories_of_the_type_content"><span>3.3.</span><span> Inserting all categories of the type Content</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Editing categories of the type Content</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Item » Categories</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_categories_of_the_type_content">1. General information about categories of the type Content</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up categories of the type <strong>Content</strong> to give your customers additional information about your store, terms and conditions, etc. Some categories are already available in your system, e.g. the <strong>Terms and conditions</strong>, <strong>Content</strong> and <strong>About us</strong> pages. Simply edit these pages to meet your needs. You could use a category called <strong>Payment methods</strong> as a main category and have it include the subcategories <strong>PayPal</strong>, <strong>Skrill</strong>, etc. Decide for yourself which information should be available to your customers.<br>
For further information about creating <strong>main categories</strong> and <strong>subcategories</strong>, refer to the <strong><a href="/en/item/categories/editing-categories">Editing categories</a></strong> page of the manual. This page also includes additional settings that apply to other category types, i.e. to <strong>Item</strong>, <strong>Content</strong> and <strong>Container</strong>. Categories of the types <strong>Content</strong> and <strong>Container</strong> are easily recognized by their yellow folder and page symbols.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">No renaming for default category Content</div>
<div class="paragraph">
<p>You can neither change the <strong>name</strong> nor the <strong>URL name</strong> of the category <strong>Content</strong>. You can change settings that do not relate to the name such as the position. You can not create further categories called Content.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_editing_categories_of_the_type_content">2. Editing categories of the type Content</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following configuration only focuses on those settings that are absolutely necessary for categories of the type <strong>Content</strong> and that differ from the settings for categories of the type <strong>Item</strong>. For further information about the remaining settings, refer to <em><strong>table 2</strong></em> on the <strong><a href="/en/item/categories/editing-categories">Editing categories</a></strong> page of the manual.</p>
</div>
<div class="paragraph instruction">
<p>Editing content categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the desired category in the directory tree on the left.</p>
</li>
<li>
<p>Select <strong>Content</strong> as the type.<br>
→ New categories will automatically be assigned to the type <strong>Item</strong> (default).</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_inserting_a_category_of_the_type_content_into_the_online_store_s_design">3. Inserting a category of the type Content into the online store’s design</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are several different ways to insert the categories of the type <strong>Content</strong> that you created into the online store. The following examples illustrate two different possibilities.</p>
</div>
<div class="sect2">
<h3 id="_inserting_an_individual_category">3.1. Inserting an individual category</h3>
<div class="paragraph">
<p>You will first learn how to insert an individual category.</p>
</div>
<div class="paragraph instruction">
<p>Inserting an individual category into the design:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout</strong>.</p>
</li>
<li>
<p>Select which template you want to insert the category into.<br>
→ The <strong>PageDesignContent</strong> template is used in the example.</p>
</li>
<li>
<p>Click on the <strong>PageDesignContentMainFrame</strong> tab.</p>
</li>
<li>
<p>Insert the template function <strong>Link(ID) &#37;&#125;</strong> into an appropriate place in the layout (see the following code example and image 1).</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In the following example, the category was inserted into the upper navigation bar (image 1).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/categories/assets/EN-Code-Editing-Content-Categories-01.png" alt="EN Code Editing Content Categories 01">
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Insert the category ID</div>
<div class="paragraph">
<p>Replace <strong>ID</strong> in the code example with the category <strong>ID</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The tooltip (image 1, number 2) is the text in quotation marks in the code example. The name (image 1, number 1) is directly behind this in the code example.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/categories/assets/EN-Item-Categories-Editing-Content-Categories-01.png" alt="EN Item Categories Editing Content Categories 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: an individual category in the online store</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_displaying_a_category_within_a_different_category">3.2. Displaying a category within a different category</h3>
<div class="paragraph">
<p>You can use template functions to display the <strong>content of one category</strong> within another category. Insert the template function <strong>CategoryContentBody(ID) &#37;&#125;</strong> (ID = ID of the category that is to be displayed) at the desired position in the category. For example, this allows you to display your terms and conditions in another category without actually inserting the category.</p>
</div>
</div>
<div class="sect2">
<h3 id="_inserting_all_categories_of_the_type_content">3.3. Inserting all categories of the type Content</h3>
<div class="paragraph instruction">
<p>Inserting all categories of the type content into the design:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout</strong>.</p>
</li>
<li>
<p>Select which template you want to insert the category into.</p>
</li>
<li>
<p>→ The <strong>PageDesignContent</strong> template is used in the example.</p>
</li>
<li>
<p>Click on the <strong>PageDesignContentMainFrame</strong> tab.</p>
</li>
<li>
<p>Insert the template function <strong>Container_NavigationCategories() &#37;&#125;</strong> into an appropriate place in the layout (image 2).<br>
→ Insert the template function of whichever navigation you use for categories of the type <strong>Content</strong> (see note below).</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Specify the category type for the navigation</div>
<div class="paragraph">
<p>Go to <strong>CMS » Web design » Layout » Navigation</strong> to access the various designs for the category navigation. Open the design that you use for categories of the type <strong>Content</strong> and click on the <strong>Settings</strong> tab. Make sure that the type <strong>Content</strong> was also selected here.<br>
If you use a plentymarkets standard design, then <strong>NavigationCategories4</strong> is already set up for categories of the type <strong>Content</strong>. You can change this as desired.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/categories/assets/EN-Item-Categories-Editing-Content-Categories-02.png" alt="EN Item Categories Editing Content Categories 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: categories of the type <strong>Content</strong> in the online store</em></p>
</div>
</div>
</div>
</div>
</main>