<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_editing_categories_of_the_type_item"><span>1.</span><span> Editing categories of the type Item</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Editing categories of the type Item</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Create categories of the type Item to organize your items in the online store. Consider which products are included in your portfolio and divide these products into groups of categories and subcategories. For example, you could use <strong>Women’s clothing</strong> and <strong>Men’s clothing</strong> as main categories and then use <strong>Shoes</strong> as a subcategory of each one. Or you could set up categories the other way around. You could use <strong>Shoes</strong> as a main category and have it include the subcategories <strong>Women’s</strong> and <strong>Men’s</strong>. Set up the categories that best match your portfolio.<br>
For further information about creating <strong>main categories</strong> and <strong>subcategories</strong>, refer to the <strong><a href="/en/item/categories/editing-categories">Editing categories</a></strong> page of the manual. This page also includes additional settings that apply to other category types, i.e. to Item, Content and Container.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Category type Item</div>
<div class="paragraph">
<p>Categories of the type Item are easily recognized by their blue folder and page symbols.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_editing_categories_of_the_type_item">1. Editing categories of the type Item</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following configuration only focuses on those settings that are absolutely necessary for categories of the type <strong>Item</strong> and that differ from the settings for categories of the type <strong>Content</strong>. For further information about the remaining settings, refer to table 2 on the <strong><a href="/en/item/categories/editing-categories">Editing categories</a></strong> page of the manual.</p>
</div>
<div class="paragraph instruction">
<p>Editing categories of the type Item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the category in the directory tree on the left.</p>
</li>
<li>
<p>Select <strong>Item</strong> as the type.<br>
→ New categories will automatically be assigned to the type <strong>Item</strong> (default).</p>
</li>
<li>
<p>Select a design for the <strong>Template list</strong>.</p>
</li>
<li>
<p>Select a design for the <strong>Template product</strong>.</p>
</li>
<li>
<p>Select an <strong>Elmar category</strong>.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Once you have created the category, you will still have to link items to it. This is done in the item’s <strong>Categories</strong> tab.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Changing the category type</div>
<div class="paragraph">
<p>If a category is already linked to items and you change the category type from <strong>Item</strong> to <strong>Content</strong>, then the links will not automatically be deleted. However, the category will no longer be displayed for the item.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Learn more about linking items to categories in the following video tutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/122644529" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div>
</main>