<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information"><span>1.</span><span> General information</span></a></li>
<li><a href="#_creating_multilingual_category_pages"><span>2.</span><span> Creating multilingual category pages</span></a>
<ul class="sectlevel2">
<li><a href="#_monolingual_editor"><span>2.1.</span><span> Monolingual editor</span></a></li>
<li><a href="#_multilingual_editor"><span>2.2.</span><span> Multilingual editor</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Multilingual category pages</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Item » Categories</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information">1. General information</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you want to make your online store available in several different languages, then you will also need to create categories in these languages. This page explains how to create multilingual categories of the type <strong>Content</strong>, the type <strong>Item</strong> and the type <strong>Container</strong>. Of course, this is assuming that you have already created categories in your online store’s default language. Proceed as described on the <strong><a href="/item/categories/editing-categories#1">Editing categories </a></strong> page of the manual to create categories in the default language. For further information about the requirements of a multilingual online store, refer to the <strong><a href="/omni-channel/online-store/setting-up-clients/multilingual-online-store">Multilingualism  </a></strong> page of the manual. You can find best practice tips on the <strong><a href="/omni-channel/online-store/setting-up-clients/multilingual-online-store">Multilingual online store  </a></strong> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_creating_multilingual_category_pages">2. Creating multilingual category pages</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are two ways to create multilingual categories. You can choose between a multilingual or a monolingual editor. Use the monolingual editor to edit one language version after another. Use the multilingual editor to edit two languages at a time. Both procedures are described below.</p>
</div>
<div class="sect2">
<h3 id="_monolingual_editor">2.1. Monolingual editor</h3>
<div class="paragraph">
<p>Proceed as described below to create a language version of an existing category.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/categories/assets/EN-Item-Categories-Multilingial-Categories-01.png" alt="EN Item Categories Multilingial Categories 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: opening a <strong>language</strong></em></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Visibility of categories in the Item » Categories menu</div>
<div class="paragraph">
<p>In order for a category to be displayed within the directory tree in the <strong>Item » Categories</strong> menu, you must have already created this category in your system’s default language. In other words, you must have at least entered a page name in the default language.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating language versions of an existing category (monolingual):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the category that you want to create a language version for.</p>
</li>
<li>
<p>Select the desired language from the <strong>Language</strong> drop-down menu, e.g. <strong>German</strong> (image 1, red arrow).</p>
</li>
<li>
<p>Enter a name for the page under <strong>Name</strong>.</p>
</li>
<li>
<p>Select the desired settings under <strong>Template page</strong>, <strong>Template list</strong>, <strong>Template product</strong> and <strong>Full text search</strong>. Pay attention to the settings that were saved for the category in the default language.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong>.<br>
→ The entry will be saved and the path of the page will be created. It is visible in the <strong>URL</strong> line.</p>
</li>
<li>
<p>Insert the desired content in the selected language.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_multilingual_editor">2.2. Multilingual editor</h3>
<div class="paragraph">
<p>Proceed as described below in order to create a <strong>language version</strong> of an existing category in the multilingual editor.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/categories/assets/EN-Item-Categories-Multilingial-Categories-02.png" alt="EN Item Categories Multilingial Categories 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: <strong>Multilingualism</strong> icon</em></p>
</div>
<div class="paragraph instruction">
<p>Creating language versions of an existing category (multilingual):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Click on the desired category in the directory tree.<br>
→ The category will open.</p>
</li>
<li>
<p>Click on the <strong>multilingualism icon</strong> (image 2, red arrow).<br>
→ The category will open in the multilingual editor. The left half of the screen displays the category in one language, e.g. your online store’s default language. The right half of the screen displays the category in another language.</p>
</li>
<li>
<p>Select the desired <strong>language</strong> in the drop-down menu on the right (image 3, red arrow) or stick with the pre-selected setting.</p>
</li>
<li>
<p>Enter the <strong>Name</strong>, <strong>URL name</strong> and <strong>Meta title</strong>, e.g. the word <strong>Startseite</strong> for a German version of the homepage.</p>
</li>
<li>
<p>Enter the foreign-language text and content into the <strong>Description 1</strong> text field.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the setting.<br>
→ The category will be created in the selected language.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/categories/assets/EN-Item-Categories-Multilingial-Categories-03.png" alt="EN Item Categories Multilingial Categories 03">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: multilingual editor; selecting the <strong>language</strong></em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Opening two completely new languages in the multilingual editor</div>
<div class="paragraph">
<p>You can also open two completely new languages in the multilingual editor. You do not necessarily have to open the default language.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>