<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Warum du die App nutzen solltest</span></a></li>
<li><a href="#200"><span>2.</span><span> Welche Schritte gehören zur Einrichtung?</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> App herunterladen und auf der passenden Hardware installieren</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Einloggen und Zugang gewähren</span></a></li>
<li><a href="#500"><span>2.3.</span><span> Die App personalisieren</span></a></li>
<li><a href="#600"><span>2.4.</span><span> Auf dem Laufenden bleiben</span></a></li>
</ul>
</li>
<li><a href="#700"><span>3.</span><span> Welche Funktionen stehen dir zur Verfügung?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Die plentymarkets App</h1><div class="sect1">
<h2 id="100">1. Warum du die App nutzen solltest</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Verschaffe dir auch von unterwegs einen Überblick über dein Business. Willst du wichtige Geschäftszahlen wie Umsätze und Auftragsvolume direkt auf deinem Smartphone sehen? Mit der plentymarkets App bist du auch unterwegs gut ausgerüstet!</p>
</div>
<div class="paragraph">
<p>Sollen deine Lagermitarbeiter mit einer mobilen Warenwirtschaft kommissionieren? Die plentymarkets App unterstützt dich beim Picken und Packen. Weiterhin können Lagermitarbeiter die App nutzen, um Ware zu verräumen oder Inventur durchzuführen.</p>
</div>
<div class="paragraph">
<p>Willst du deinen stationären Handel mit plentymarkets verbinden? Dafür ist das mobile Kassensystem plentymarkets POS genau das richtige Tool. Lass deine Mitarbeiter intuitiv im Laden kassieren. Die App meldet alle Geschäftsvorgänge zurück an plentymarkets. Somit bleiben deine On- und Offline-Verkäufe immer im Einklang.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Welche Schritte gehören zur Einrichtung?</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="300">2.1. App herunterladen und auf der passenden Hardware installieren</h3>
<div class="paragraph">
<p>Wofür möchtest du die plentymarkets App nutzen? Je nach Anwendungsfall unterscheidet sich die <a href="/app/installation#100">Wahl der passenden Hardware</a>. Willst du beispielsweise Barcodes scannen und Kartenzahlungen annehmen, brauchst du andere Hardware als wenn du lediglich deine Geschäftszahlen im Blick behalten möchtest.</p>
</div>
<div class="paragraph">
<p>Entscheide dich für die passende Hardware und lade die App auf dem Gerät herunter.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://play.google.com/store/apps/details?id=eu.plentymarkets.mobile&amp;hl=de" target="_blank" rel="noopener">plentymarkets App bei Google Play</a></p>
</li>
<li>
<p><a href="https://itunes.apple.com/de/app/plentymarkets/id957702618" target="_blank" rel="noopener">plentymarkets App bei iTunes</a></p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="400">2.2. Einloggen und Zugang gewähren</h3>
<div class="paragraph">
<p>Die plentymarkets App ist nur in Kombination mit <a href="https://www.plentymarkets.eu/gratis-testen/" target="_blank" rel="noopener">einem gebuchten plentymarkets System</a> funktionsfähig. Das heißt, dass du dich in der App <a href="/app/installation#1200">mit denselben Zugangsdaten anmeldest</a> wie in deinem plentymarkets System.</p>
</div>
<div class="paragraph">
<p>Sollen weitere Mitarbeiter die plentymarkets App benutzen, müssen sie ebenfalls Zugangsdaten erhalten. Lege zunächst fest, <a href="/app/installation#600">in welchem Umfang deine Mitarbeiter die App verwenden</a> dürfen.</p>
</div>
</div>
<div class="sect2">
<h3 id="500">2.3. Die App personalisieren</h3>
<div class="paragraph">
<p>Möchtest du z.B. bestimmen, in welcher Reihenfolge und in welcher Schriftgröße einzelne Informationen in der App dargestellt werden? Oder willst du z.B. statt das Standard-Hintergrunds die Farben deines eigenen Corporate Designs verwenden? <a href="/app/installation#1800">Personalisiere die App</a> und richte sie nach deinen Wünschen ein!</p>
</div>
</div>
<div class="sect2">
<h3 id="600">2.4. Auf dem Laufenden bleiben</h3>
<div class="paragraph">
<p>Wartest du sehnsüchtig auf ein neuer Feature? Wir informieren dich gerne über Änderungen an der Software! Versionen der plentymarkets App sind durch Versionsnummern gekennzeichnet. Änderungen werden zudem <a href="https://forum.plentymarkets.com/c/changelog/changelog-app" target="_blank" rel="noopener">in einem Changelog</a> veröffentlicht. Abonniere den Changelog und bleibe immer auf dem Laufenden.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">3. Welche Funktionen stehen dir zur Verfügung?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die plentymarkets App beinhaltet eine Reihe nützlicher Funktionen, die auf den folgenden Seiten beschrieben sind.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/app/funktionen/kennzahlen">Unternehmenskennzahlen einsehen</a></p>
</li>
<li>
<p><a href="/app/funktionen/artikelsuche">Artikel-, Kunden- und Auftragsdaten einsehen</a></p>
</li>
<li>
<p><a href="/app/funktionen/lagerverwaltung">Mobile Warenwirtschaft</a></p>
<div class="ulist">
<ul>
<li>
<p>Mit Picklisten arbeiten</p>
</li>
<li>
<p><a href="/app/funktionen/lagerverwaltung/rollende-kommissionierung">Rollende Kommissionierung</a></p>
</li>
<li>
<p><a href="/app/funktionen/lagerverwaltung/einbuchen-umbuchen">Ware einbuchen und umbuchen</a></p>
</li>
<li>
<p><a href="/app/funktionen/lagerverwaltung/verräumen">Ware verräumen</a></p>
</li>
<li>
<p><a href="/app/funktionen/lagerverwaltung/inventur">Inventur durchführen</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/pos">Mobile Kassensystem plentymarkets POS</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/pos/pos-kassenbenutzer#30">Kassieren</a></p>
</li>
<li>
<p><a href="/pos/pos-best-practice#10">Gutscheine verkaufen und einlösen</a></p>
</li>
<li>
<p><a href="/pos/pos-kassenbenutzer#173">Stornierungen und Retouren</a></p>
</li>
<li>
<p><a href="/pos/pos-best-practice#100">Online-Bestellungen an der Kasse abschließen (Click &amp; Collect)</a></p>
</li>
<li>
<p><a href="/pos/pos-kassenbenutzer#180">Einlagen und Entnahmen</a></p>
</li>
<li>
<p><a href="/pos/pos-kassenbenutzer#210">Tagesabschluss und Kassensturzbericht</a></p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</main>