<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikel</h1><div class="paragraph">
<p>Ein Artikel in plentymarkets ist der vollständige Datensatz einer Hauptvariante und der dazugehörigen Varianten. Ein Artikel besteht also aus globalen Daten, die für alle Varianten des Artikels gelten (Artikeldaten), und aus Daten, die pro Variante verwaltet werden (Variantendaten). Die Unterscheidung lässt sich wie folgt darstellen:</p>
</div><div class="paragraph">
<p>Artikeldaten:</p>
</div><div class="ulist">
<ul>
<li>
<p>Globale Einstellungen (Zustand, Hersteller, Altersfreigabe etc.)</p>
</li>
<li>
<p>Texte</p>
</li>
<li>
<p>Merkmale</p>
</li>
<li>
<p>Cross-Selling-Einstellungen</p>
</li>
</ul>
</div><div class="paragraph">
<p>Variantendaten:</p>
</div><div class="ulist">
<ul>
<li>
<p>Bilder</p>
</li>
<li>
<p>Marktplatz-Sichtbarkeit</p>
</li>
<li>
<p>Verkaufspreise</p>
</li>
<li>
<p>Barcodes</p>
</li>
<li>
<p>Einheiten</p>
</li>
<li>
<p>Lager</p>
</li>
<li>
<p>Bestand</p>
</li>
<li>
<p>Kategorien</p>
</li>
<li>
<p>Lieferanten</p>
</li>
</ul>
</div><div class="paragraph">
<p>Jeder Artikel hat eine Hauptvariante, die nicht gelöscht werden kann. Diese Hauptvariante ist nicht identisch mit dem Artikel, sondern unterscheidet sich von den anderen Varianten eines Artikels nur dadurch, dass Eigenschaften von dieser Hauptvariante an weitere Varianten des Artikels vererbt werden können. Die Hauptvariante kann selbst eine kaufbare Variante sein oder als virtuelle Variante dienen, um die weiteren Varianten des Artikels zu verwalten. plentymarkets empfiehlt, Hauptvarianten als virtuelle Varianten zu pflegen.</p>
</div><div class="paragraph">
<p>In diesem Themenbereich finden Sie alle Informationen zum Erstellen und Bearbeiten von Artikeln und Varianten. Sie erfahren zudem, wie Sie Produktinformationen, zum Beispiel Artikelattribute und -merkmale, Hersteller sowie Barcodes, einrichten. Auch die Preisgestaltung für Ihre Artikel wird in diesem Themenbereich erklärt. Schließlich erfahren Sie, wie Sie Artikel und Varianten als Artikelpakete anbieten und wie Sie Ihre Produkte, zum Beispiel durch Cross-Selling, besser präsentieren.</p>
</div><div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="title">Informationspflege und Preisgestaltung</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/artikel-verwalten#390">Attribute verwalten</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#480">Merkmale verwalten</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#560">Hersteller verwalten</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#630">Barcodes verwalten</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#670">Artikelbilder verwalten</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#870">Verkaufspreise verwalten</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#910">Preiskalkulationen erstellen</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#690">Einheiten verwalten</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#760">Etiketten einrichten</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Artikel, Varianten und Pakete</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/artikel-verwalten#10">Kategorien erstellen</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#20">Artikel erstellen</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#50">Artikeltexte eingeben</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#90">Artikelbilder hochladen</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#160">Varianten erstellen</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#180">Verfügbarkeit einstellen</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#250">Barcodes verknüpfen</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#920">Artikelpakete einrichten</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#350">Artikel und Varianten suchen</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Artikel im Webshop präsentieren</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/artikel-verwalten#950">Cross-Selling einrichten</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#1010">Shop-Aktionen einrichten</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Lager, Lieferanten und Bestände</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/artikel/artikel-verwalten#312">Lager hinzufügen</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#310">Lieferanten hinzufügen</a></p>
</li>
<li>
<p><a href="/artikel/artikel-verwalten#314">Bestände verwalten</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div><hr>
</main>