<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Aufträge</h1><div class="paragraph">
<p>In diesem Themenbereich findest du alle Informationen zu eingehenden Aufträgen und wie du nach dem Auftragseingang fortfährst. Je nachdem für welche Verkaufsstrategie und Verkaufskanäle du dich entscheidest, fließen nach erfolgreicher Einrichtung der Kanäle Aufträge verschiedener <a href="/auftraege/auftragsherkunft">Herkünfte</a> in dein plentymarkets System ein. Neben dem eigenen Webshop sind dies in erster Linie die verschiedenen <a href="/maerkte">Marktplätze und Preisportale</a>.</p>
</div><div class="paragraph">
<p>plentymarkets verfügt u.a. über eine umfangreiche Schnittstelle zu <a href="/maerkte/amazon/amazon-einrichten">Amazon</a>, die nicht nur den automatisierten Abgleich mit dem Seller Central gewährleistet, sondern auch weitere Amazon-Angebote wie <a href="/maerkte/amazon/amazon-fulfillment">Fulfillment by Amazon</a> umfasst.</p>
</div><div class="paragraph">
<p>Dank der vollständigen <a href="/maerkte/ebay/ebay-einrichten">eBay-Anbindung</a> in plentymarkets kannst du u.a. Listings starten und eBay-Shop-Artikel bei eBay einstellen, Verkäufe abrufen, automatisch Bewertungen abgeben und Käufer:innen anmahnen.</p>
</div><div class="paragraph">
<p>Nach dem Auftragseingang werden alle Aufträge in einem Menü gesammelt und in einem identischen Format dargestellt, damit die <a href="/auftraege/auftraege-verwalten#1500">Bearbeitung</a> leicht erfolgen kann. Jeder Auftrag erhält eine eindeutige <strong>Auftrags-ID</strong>. Weitere Schritte nach dem Auftragseingang, wie die Eingangsbestätigung zur Bestellung, andere E-Mails oder die Generierung von <a href="/auftraege/auftragsdokumente">Auftragsdokumenten</a>, lassen sich automatisieren. Neben dem eigentlichen Auftrag, der im Rahmen einer Bestellung angelegt wird, gibt es in plentymarkets weitere <strong>Auftragstypen</strong>. Die Auftragstypen dienen dazu, verschiedene Geschäftsvorfälle abzubilden.</p>
</div><div class="paragraph">
<p>Folgende Auftragstypen gibt es in plentymarkets:</p>
</div><div class="ulist">
<ul>
<li>
<p><a href="/auftraege/auftraege-verwalten">Auftrag</a></p>
</li>
<li>
<p><a href="/auftraege/auftraege-verwalten#240">Angebot</a></p>
</li>
<li>
<p><a href="/auftraege/auftraege-verwalten#1100">Vorbestellung</a></p>
</li>
<li>
<p><a href="/auftraege/auftraege-verwalten#600">Gewährleistung</a></p>
</li>
<li>
<p><a href="/auftraege/auftraege-verwalten#500">Gutschrift</a></p>
</li>
<li>
<p><a href="//auftraege/auftraege-verwalten#300">Lieferauftrag</a></p>
</li>
<li>
<p><a href="/auftraege/auftraege-verwalten#700">Reparatur</a></p>
</li>
<li>
<p><a href="/auftraege/auftraege-verwalten#400">Retoure</a></p>
</li>
<li>
<p><a href="/auftraege/auftraege-verwalten#800">Sammelauftrag</a></p>
</li>
<li>
<p><a href="/auftraege/auftraege-verwalten#850">Sammelgutschrift</a></p>
</li>
</ul>
</div><div class="paragraph">
<p>Für den Versand stehen mit Dokumenten wie der <a href="/auftraege/auftragsdokumente/pickliste">Pickliste</a> und der <a href="/auftraege/auftragsdokumente/packliste">Packliste</a> die notwendigen Unterlagen zur Verfügung, um ein schnellstmögliches Fulfillment zu gewährleisten.</p>
</div><div class="paragraph">
<p>Im <a href="/fulfillment/versand-center#versandauftrag-anmelden">Versand-Center</a> meldest du die Versandaufträge an, bearbeitest diese bei Bedarf oder lässt dir spezielle Versandaufträge anzeigen.</p>
</div><div class="paragraph">
<p>Zur effizienten Bearbeitung von Aufträgen und anderen Geschäftsvorfällen kannst du außerdem <a href="/automatisierung/prozesse/prozesse-einrichten">Prozesse</a> anlegen und diese automatisiert ablaufen lassen. Prozesse bieten den höchsten Grad der Automatisierung in plentymarkets. Darüber hinaus stehen dir noch <a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a> und der <a href="/automatisierung/aktionsmanager">Aktionsmanager</a> zur Verfügung, um deine Auftragsabwicklung durch Automatismen zu erleichtern.</p>
</div>
</main>