<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_aktionsmanager"><span>1.</span><span> Aktionsmanager</span></a></li>
<li><a href="#_ereignisaktionen"><span>2.</span><span> Ereignisaktionen</span></a></li>
<li><a href="#_prozesse"><span>3.</span><span> Prozesse</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Automatisierung</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Automatisiere deine täglichen Aufgaben! plentymarkets beinhaltet drei verschiedene Tools, um deine routine Geschäftsprozesse zu automatisieren.</p>
</div>
<div class="paragraph">
<p>Wir stellen die drei Tools spielerisch vor:</p>
</div>
<div class="videoblock">
<div class="title">Automatisiere deine Arbeitsabläufe</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/197506169" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_aktionsmanager">1. Aktionsmanager</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets lässt du tägliche Ereignisse automatisch über den <a href="/automatisierung/aktionsmanager">Aktionsmanager</a> zu bestimmten Uhrzeiten ausführen.</p>
</div>
<div class="paragraph">
<p>So kannst du den <a href="/automatisierung/best-practices-automatisierung#_praxisbeispiele_aktionsmanager">Aktionsmanager beispielsweise nutzen</a>, um einen täglichen Zeitpunkt festzulegen, zu dem nicht zahlende Kunden von eBay oder deinem eigenen Webshop eine Zahlungserinnerung oder eine Mahnung erhalten sollen und diese automatisch per E-Mail versenden lassen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_ereignisaktionen">2. Ereignisaktionen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Grundprinzip von <a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a> ist leicht verständlich: Bestimmte <strong><em>Ereignisse</em></strong> im Webshop lösen bestimmte <strong><em>Aktionen</em></strong> aus.</p>
</div>
<div class="paragraph">
<p>So kannst du <a href="/automatisierung/best-practices-automatisierung#_praxisbeispiele_ereignisaktionen">Ereignisaktionen beispielsweise nutzen</a>, um E-Mails an deine Kunden zu versenden. Mit den Ereignisaktionen stellt dir plentymarkets ein effektives Werkzeug zur Verfügung, mit dem du solche Automatismen einstellen und zuverlässig durch das System ausführen lassen kannst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_prozesse">3. Prozesse</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Über Prozesse automatisierst du komplexe Arbeitsabläufe in plentymarkets.</p>
</div>
<div class="paragraph">
<p>So kannst du <a href="/automatisierung/prozesse/best-practices">Prozesse beispielsweise nutzen</a>, um Artikel im Lager zu kommissionieren.</p>
</div>
</div>
</div>
</main>