<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Basics</h1><p>Willkommen im Themenbereich Basics. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/basics/assistenten">Assistenten</a></li><li><a href="/basics/rechtliches">Rechtliches</a></li><li><a href="/basics/admin-aufgaben">Admin-Aufgaben</a></li><li><a href="/basics/arbeiten-mit-plentymarkets">Arbeiten mit plentymarkets</a></li><li><a href="/basics/interne-IDs">Interne IDs in plentymarkets</a></li><li><a href="/basics/eol">EOL: Beendigung Softwarepflege und Bereitstellung</a></li></ul>
</main>