<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Business-Entscheidungen</h1><p>Willkommen im Themenbereich Business-Entscheidungen. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/business-entscheidungen/prohandel">Prohandel-Anbindung</a></li><li><a href="/business-entscheidungen/dein-vertrag">Dein Vertrag mit plentymarkets</a></li><li><a href="/business-entscheidungen/benutzerkonten-zugaenge">Benutzer:innen-Konten und Zugänge</a></li><li><a href="/business-entscheidungen/plenty-bi">plentyBI</a></li><li><a href="/business-entscheidungen/systemadministration">Systemadministration</a></li><li><a href="/business-entscheidungen/rechtliches">Rechtliches</a></li></ul>
</main>