<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Changelog</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 23. Juli 2020 bis zum 29. Juli 2020 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Wochen für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Option für das voraussichtliche Versanddatum für die Auftragsbestätigung und Angebot hinzugefügt, welche das Versanddatum am Auftrag ausliest.</p>
</li>
</ul>
</div>
<h3 id="_zalando" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Als erster Teil der neuen zDirect-API von Zalando wurden die Artikelstatusberichte implementiert. Diese Artikelstatusberichte ersetzen die bisherigen Statusberichte, die von Zalando auf dem FTP abgelegt wurden und unter <strong>Einrichtung » Märkte » Zalando » Einstellungen » Tab: Verarbeitungsberichte</strong> heruntergeladen werden konnten.</p>
<div class="paragraph">
<p>Die Umstellung von der alten auf die neue Schnittstelle in diesem Bereich erfolgt über den neuen Assistenten zu den Zalando-Kontoeinstellungen unter <strong>Einrichtung » Assistenten » Omni-Channel</strong>. Dieser Assistent ist anfänglich nur dafür zuständig, wird aber im Laufe der weiteren Integration der zDirect-API mit weiteren Optionen angereichert werden und Schritt für Schritt die bisherige Einstellungsoberfläche ablösen.</p>
</div>
<div class="paragraph">
<p>Sobald die Umstellung über den Assistenten erfolgt ist, werden unter <strong>Einrichtung » Märkte » Zalando » Einstellungen » Tab: Verarbeitungsberichte</strong> statt der alten Verarbeitungsberichte für jedes aktivierte Zalando-Konto zwei CSV-Berichte verfügbar sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ProductErrorReport.csv - enthält alle Varianten, die aktuell nicht auf Zalando verkauft werden können, inklusive der ersten 5 Fehlercodes und der jeweiligen Fehlerbeschreibung.</p>
</li>
<li>
<p>ProductLiveReport.csv - enthält alle Varianten, die verkauft werden können und deren jeweiligen Bestand und Preis auf dem jeweiligen Channel (DE, FR, usw.) zum Zeitpunkt der Generierung der Datei.</p>
<div class="paragraph">
<p>Diese Berichte werden nach dem Aktivieren über den Assistenten einmal täglich über Nacht aktualisiert, können aber auch manuell aktualisiert werden.</p>
</div>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Lies das Thema <a href="https://forum.plentymarkets.com/t/sammelthema-aktivierung-neuer-zalando-konten/600409" target="_blank" rel="noopener">Aktivierung neuer Zalando-Konten</a> im Forum.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>In der Nachbestellungs- und Umbuchungs-UI wurden die Terra-Komponenten jetzt durch Angular Material ersetzt, dadurch hat sich das Design verändert. Die Funktionen der Nachbestellung und der Umbuchung werden dadurch nicht geändert.</p>
</li>
</ul>
</div>
<h3 id="_bestellungen" class="discrete">Bestellungen</h3>
<div class="ulist">
<ul>
<li>
<p>Es wurde das Styling der Eingabefelder im Bereich <strong>Bestellung</strong> verbessert (z.B. im Warenkorb).</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort wird eine Warnmeldung angezeigt wenn der Toggle für die Anzeige der Pflichtfelder aktiviert ist.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/kataloge-pflichtfelder-warnmeldung.png" alt="Der Toggle für die Anzeige der Pflichtfelder ist aktiviert. Alle anderen Felder werden nicht angezeigt." width="640"></span></p>
</div>
</li>
<li>
<p>Wir haben die neue Tabelle in der Übersicht hinzugefügt.</p>
</li>
<li>
<p>Ab sofort werden nicht ausgefüllte Pflichtfelder in rot angezeigt und eine Warnmeldung erscheint.</p>
</li>
</ul>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>Die aktuelle Version der Merkmalsstrukur-Master-Datei vom 24.07.2020 von OTTO wurde eingespielt. Dadurch wurden für Attribut- und Merkmalverknüpfung neue Verknüpfungsmöglichkeiten und Vorgabewerte bereitgestellt. <a href="https://forum.plentymarkets.com/uploads/short-url/rvnZ309cWxuC2cCXK6PFIQHzvVK.xlsx" target="_blank" rel="noopener">Die Datei könnt ihr hier herunterladen und als Referenz nutzen.</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Ausführen eines Prozesses wird nun an den folgenden Stellen zusätzlich zu den weiteren Artikelinformationen die Varianten-ID angezeigt:</p>
<div class="ulist">
<ul>
<li>
<p>In der Artikelvorschau der Aktion Auftragssuche.</p>
</li>
<li>
<p>In der Artikelvorschau der Aktion Retoure anlegen/bearbeiten bei der Auswahl zu retournierender Artikel.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Bei der Auftragssuche, der Retourenanlage und beim Wareneingang innerhalb der Prozesse wurden Fehlermeldungen zu Warnungen geändert. Zudem wird bei der Aktion Wareneingang (einfach) eine Fehlermeldung ausgegeben, wenn für die einzubuchende Variante kein Warenbestand geführt wird.</p>
</li>
</ul>
</div>
<h3 id="_shopbuilder" class="discrete">ShopBuilder</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Öffnen eines Inhalts im ContentManager werden ab jetzt die möglichen Widgets Serverseitig gefiltert. Die Filterung fand bisher im Client statt. Durch die Änderung wird der Client entlastet und die Zeit bis zur ersten Interaktion reduziert.</p>
<div class="paragraph">
<p>Die Zeit bis zur ersten Interaktion wurde in unseren Tests mit einem MacBook um ~10% reduziert, ältere Clients sollten dementsprechend höhere Reduzierungen erzielen.</p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_amazon_vcs" class="discrete">Amazon VCS</h3>
<div class="ulist">
<ul>
<li>
<p>Wegen eines Fehlers bei der Zuordnung der Auftragsartikel wurden Gutschriften über VCS Lite bzw. VCS plentymarkets nicht importiert. Dieser Fehler wurde nun behoben. Die fehlenden Gutschriften werden automatisch angelegt.</p>
</li>
</ul>
</div>
<h3 id="_dokumente" class="discrete">Dokumente</h3>
<div class="ulist">
<ul>
<li>
<p>Es konnte beim Speichern von Dokumenten der Fehler <code>Directory has wrong permissions</code> auftreten.</p>
</li>
</ul>
</div>
<h3 id="_paypal_express" class="discrete">PayPal-Express</h3>
<div class="ulist">
<ul>
<li>
<p>Im Rahmen der Warenausgangsbuchung bei Aufträgen mit der Zahlungsart <em>PayPal Express</em> konnte es zu dem Fehlverhalten kommen, dass die Buchung des Warenausgangs abgebrochen wurde. Dies tritt insbesondere in dem Zusammenhang auf, dass kein PayPal Konto in plentymarkets gepflegt wurde.</p>
<div class="paragraph">
<p>Dieses Verhalten wurde behoben, so dass zukünftig die Buchung des Warenausganges trotz des nicht gepflegten PayPal Kontos erfolgreich durchgeführt werden kann.</p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Umwandeln eines Gastbestellers zu einem regulären Kundenkonto wurde das Datum der Umwandlung als Geburtstag gesetzt, sofern dieses nicht am Gast vorhanden war. Dieses Fehlverhalten wurde nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_eigenschaften" class="discrete">Eigenschaften</h3>
<div class="ulist">
<ul>
<li>
<p>Es war möglich das man Eigenschaften in mehrere Gruppen legen konnte. Diesen Fehler haben wir behoben.</p>
</li>
<li>
<p>Es war möglich das man Eigenschaften mehrmals am Artikel verknüpfen konnte. Diesen Fehler haben wir behoben.</p>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Die Verfügbarkeitsautomatiken können wieder wie gewohnt per Import aktiviert werden.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_crm_2" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Eingabefelder für die Telefonnummern <strong>Mobil privat</strong> und <strong>Mobil geschäftlich</strong> wurden hinzugefügt.</p>
</li>
</ul>
</div>
<h3 id="_dokumente_2" class="discrete">Dokumente</h3>
<div class="ulist">
<ul>
<li>
<p>In den Dokumentenvorlagen für Angebote und Auftragsbestätigungen wurde das neue Feld <strong>Lieferdatum</strong> hinzugefügt, in das man das voraussichtliche Versanddatum einfügen kann.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_zahlungsverkehr_ui_beta" class="discrete">Zahlungsverkehr-UI (beta)</h3>
<div class="ulist">
<ul>
<li>
<p>Die Schaltflächen <strong>Zurücksetzen</strong> und <strong>Suchen</strong> in der Suche bleiben am oberen Rand verankert, wenn man in den Filtern scrollt.</p>
</li>
<li>
<p>Die Schaltflächen für die Gruppenfunktion in der Übersichtstabelle der Zahlungen bleiben am oberen Rand verankert, wenn man scrollt.</p>
</li>
<li>
<p>Die Schaltflächen für die Aktionen in der Detailansicht einer Zahlung bleiben am oberen Rand verankert, wenn man scrollt.</p>
</li>
<li>
<p>Bei einer direkten Zuordnung der Zahlung zu einem Auftrag erscheint in der Zuordnungstabelle der Detailansicht der Text <em>Direktzuordnung</em> statt einer prozentualen Angabe. Damit soll der Unterschied zwischen einer vom System ermittelten und einer manuellen Zuordnung deutlich werden.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_3" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_crm_3" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Nach dem Speichern wurden Eingabefelder der Kontaktoptionen und Tags nicht geleert und beim Anlegen eines weiteren Kontaktes erneut mit vorherigen Werten angezeigt.</p>
</li>
<li>
<p>Die Dropdown-Liste der Kundenklasse wurde nicht als Pflichtfeld erkannt.</p>
</li>
<li>
<p>Das Format der E-Mail Adresse wurde nicht korrekt validiert.</p>
</li>
</ul>
</div>
<h3 id="_varianten" class="discrete">Varianten</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist wieder möglich, in 2 Zuordnungen bestimmte Variantendaten zu löschen und anschließend neu zu setzen. Beispielsweise Tags und Pakete.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cfourceresfashion5_6864" target="_blank" rel="noopener">Ceres Fashion 5</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/wish_5866" target="_blank" rel="noopener">Wish.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.11.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>