<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Changelog</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 02. April 2020 bis zum 08. April 2020 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Wochen für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/basics/admin-aufgaben/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_bestellungen" class="discrete">Bestellungen</h3>
<div class="ulist">
<ul>
<li>
<p>Bei Umbuchungen und Nachbestellungen (<strong>Waren » Bestellung</strong>), wurde die Möglichkeit hinzugefügt, eigene Dateien hochzuladen.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/nachbestellung_umbuchung_dokumente_hochladen.png" alt="Andere Dokumente hochladen." width="640"></span></p>
</div>
</li>
</ul>
</div>
<h3 id="_elastischer_export" class="discrete">Elastischer Export</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt im elastischen Export nach dem Land von Kontakten filtern.</p>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Im Menü <strong>Daten » Import</strong> haben wir unter Einstellungen, Abgleich und Zuordnung die Möglichkeit hinzugefügt, vor Ausführung eines Syncs zu prüfen, ob dieser einen Fehler enthält, wie z.B. keine aktiven Zuordnungen. Diesen Fehler könnt ihr außerdem kopieren und zum Beispiel direkt ins Forum einfügen.</p>
</li>
<li>
<p>Ab sofort findet ihr in der Detailansicht der Status-UI das komplette Protokoll eines durchgelaufenen Syncs. Sollten Fehler aufgetreten sein, könnt ihr das Protokoll direkt kopieren und z.B. im Forum einfügen. Dies reduziert den Supportaufwand erheblich.</p>
</li>
<li>
<p>Ab sofort könnt ihr über die Einstellung <strong>Globalen Cache nutzen</strong> entscheiden, ob eine Datei gecached werden soll oder nicht. Ist die Option nicht angehakt, könnt ihr die ein und dieselbe Datei jederzeit erneut importieren. Ist die Option angehakt, importiert das System nur geänderte Datenzeilen.</p>
</li>
</ul>
</div>
<h3 id="_otto_market" class="discrete">OTTO market</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben einen neuen Prozess für OTTO market implementiert, welcher Rechnungsdokumente an den Aufträgen importiert. Das Generieren einer eigenen Rechnung ist nicht länger möglich.</p>
<div class="paragraph">
<p>Weitere Informationen zu diesem Prozess findest du auf der Seite <a href="//maerkte/otto/otto-market#1200">OTTO market</a>.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Solltet ihr bereits eigene Rechnungsdokumente erstellt haben und möchtet eine automatische Stornierung und nachträglichen Import wünschen, könnt ihr diese von OTTO market durch unsere Supporter importieren lassen. Meldet euch dafür im Forum in der <a href="https://forum.plentymarkets.com/c/multi-channel/Otto-Market" target="_blank" rel="noopener">Kategorie multi-channel:Otto-Market</a> mit einer Liste aller plentymarkets Auftrags-IDs, für die ihr eine Korrektur wünscht. Beachtet jedoch dabei, dass bei der Erzeugung von Stornobelegen und dem Import neuer Rechnungsdokumente Ereignisaktionen ausgelöst werden können. Diese sollten vor dem Import deaktiviert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Aufträge, die steuerrelevante Dokumente enthalten, lassen sich nicht mehr löschen. <a href="https://forum.plentymarkets.com/t/ankuendigung-loeschen-von-dokumenten-nur-noch-ueber-datenbereinigung-moeglich-announcement-documents-can-only-be-deleted-via-data-purge/582217" target="_blank" rel="noopener">Weitere Informationen zu dieser Änderung findest du im Forum.</a></p>
</li>
</ul>
</div>
<h3 id="_import_2" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort wird der Status der einzelnen Importe nur noch für die letzten 7 Tage gespeichert.</p>
</li>
</ul>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>Die aktuelle Version der Merkmalsstrukur-Master-Datei vom 03.04.2020 von OTTO wurde eingespielt. Dadurch wurden für Attribut- und Merkmalverknüpfung neue Verknüpfungsmöglichkeiten und Vorgabewerte bereitgestellt. <a href="https://plentymarkets-discourse.s3.dualstack.eu-central-1.amazonaws.com/original/3X/4/3/43fea466329390b4b73afa17373fbfa1956dc0d6.xlsx" target="_blank" rel="noopener">Die Datei könnt ihr hier herunterladen und als Referenz nutzen.</a></p>
</li>
</ul>
</div>
<h3 id="_picklisten" class="discrete">Picklisten</h3>
<div class="ulist">
<ul>
<li>
<p>Im Menü <strong>Aufträge » Fulfillment » Pickliste</strong> können nun auch Status für Umbuchungen ausgewählt werden.</p>
</li>
</ul>
</div>
<h3 id="_retourenlabels" class="discrete">Retourenlabels</h3>
<div class="ulist">
<ul>
<li>
<p>Bisher wurden im Versand-Center zwar alle über einen Retourenauftrag angemeldeten Retourenlabels im Hauptauftrag angezeigt, jedoch im Retourenauftrag selbst nur das Retourenlabel, das als erstes angemeldet wurde.</p>
<div class="paragraph">
<p>Dieses Verhalten wurde geändert, sodass im Versand-Center alle Retourenlabels, die über den Retourenauftrag erzeugt wurden, auch in diesem Retourenauftrag angezeigt werden und die Gesamtheit aller Retourenlabels (inklusive der Retourenlabels, die über den Hauptauftrag erzeugt wurden) am Hauptauftrag angezeigt werden.</p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_amazon" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn beim Anlegen einer Retoure/Gutschrift sowohl das Paket als auch die Paketbestandteile übernommen wurden, konnte die Transaktion von Amazon nicht mehr der Gutschrift zugeordnet werden. Dadurch konnte auch das Dokument nicht hochgeladen werden.</p>
</li>
</ul>
</div>
<h3 id="_amazon_vcs" class="discrete">Amazon-VCS</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Import des Amazon-Umsatzsteuer-Kalkulationsberichts für VCS Amazon (nicht VCS plentymarkets / VCS Lite) gab es ein Problem, welches verursachte, dass der Bericht als gelesen markiert wurde, während die enthaltenen Transaktionen nicht importiert wurden.</p>
<div class="paragraph">
<p>Dieses Problem existiert vom 31.03.2020 bis zum 06.04.2020. Betroffene Berichte wurden nicht als gelesen markiert und werden deswegen automatisch im Laufe des Tages importiert.</p>
</div>
</li>
<li>
<p>Beim Abgleich von Transaktionen mit mehreren Artikeln aus dem Amazon-Umsatzsteuer-Kalkulationsbericht für VCS Amazon (nicht VCS plentymarkets / Lite) konnte es zu Problemen bei der Zuordnung zu Aufträgen in plentymarkets kommen. Dieses Problem wurde jetzt behoben.</p>
</li>
</ul>
</div>
<h3 id="_eigenschaften" class="discrete">Eigenschaften</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben den Bereich Eigenschaften an der Variante überarbeitet und verschiedene Fehler bzgl. der Verknüpfung, Vererbung und Speicherung behoben.</p>
</li>
</ul>
</div>
<h3 id="_import_3" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Führte man einen Testimport durch und anschließend den eigentlichen Import wurden die ersten 10 Zeilen der CSV einfach ignoriert. Diesen Fehler haben wir behoben.</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Wollte man Werte kombinieren, so war es nicht möglich ein Leerzeichen als Trennzeichen zu verwenden. Diesen Fehler haben wir behoben.</p>
</li>
</ul>
</div>
<h3 id="_otto_2" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>Seit dem 01.04.2020 wurden wegen eines Problems bei der Validierung der Varianten in plentymarkets keine Artikel mit Varianten mehr exportiert. Dies ist nun nicht mehr der Fall.</p>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Hinweis</div>
<div class="paragraph">
<p>Dieses Problem betraf nicht OTTO market und auch nur OTTO-Händler, die mit der RDV-Version der Schnittstelle arbeiten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<h3 id="_preiskalkulation" class="discrete">Preiskalkulation</h3>
<div class="ulist">
<ul>
<li>
<p>Nach dem Löschen einer Preiskalkulation unter <strong>Einrichtung » Artikel » Preiskalkulation</strong>, wurde die Preiskalkulation nicht an der Variante entfernt. Dieser Fehler konnte behoben werden.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_import_4" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort können innerhalb der StatusUI gestartete Syncs abgebrochen werden.</p>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Anzeigefehler</div>
<div class="paragraph">
<p>Nach dem Klicken auf die Schaltfläche <strong>Import abbrechen</strong> wird der Import tatsächlich sofort abgebrochen, aber in der UI wird der Import weiterhin als importierend angezeigt. Dies wird sich in den nächsten Tagen ändern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
<li>
<p>Im Sync-Typ <strong>Kontakte, Firmen und Adressen</strong> wurde die Option Kontakteigenschaft hinzugefügt, mit der du Kontakteigenschaften mit den folgenden Zuordnungsfeldern importieren kannst:</p>
<div class="ulist">
<ul>
<li>
<p>Eigenschafts-ID</p>
</li>
<li>
<p>Eigenschaftstyp</p>
</li>
<li>
<p>Eigenschaftswert</p>
</li>
<li>
<p>die mit der Eigenschaft verlinkte Kontakt-ID</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn Prozesse von verschiedenen Rechnern gestartet wurden und beide auf Aufträge zugriffen, konnte es durch die doppelte Bearbeitung der betroffenen Aufträge zu Problemen wie z.B. doppelten Versandanmeldungen kommen, weil gleichzeitig gestartete Prozesse auf Aufträge in einem bestimmten Auftragsstatus zugreifen konnten.</p>
<div class="paragraph">
<p>Mit der kommenden Anpassung wird dieses Verhalten wie folgt behandelt, um den Ablauf nutzerfreundlicher und weniger fehleranfällig zu gestalten:</p>
</div>
<div class="paragraph">
<p>Wurde bereits ein Prozess gestartet, der auf Aufträge zugreift, erscheint beim Versuch, einen zweiten Prozess zu starten, die folgende Meldung in der Prozessübersicht:</p>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/prozesse-warteschlange.png" alt="Ein anderer Prozess ruft gerade Aufträge ab. Der Prozess wird automatisch fortgesetzt" width="640" height="sobald der Abruf abgeschlossen ist."></span></p>
</div>
<div class="paragraph">
<p>Der zweite Prozess wird in eine Warteschlange aufgenommen und automatisch gestartet, sobald der erste Prozess den Auftragsabruf durchlaufen hat. Zusätzlich wird die Schaltfläche <strong>Prozesse</strong> deaktiviert, um ein Beenden des Prozesses zu verhindern und Fehlfunktionen zu vermeiden.</p>
</div>
</li>
</ul>
</div>
<h3 id="_versanddienstleister" class="discrete">Versanddienstleister</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben in den Ereignisaktionen den neuen Filter <strong>Einwilligung zur Datenübermittlung an Versanddienstleister</strong> hinzugefügt, über den du einstellen kannst, ob die Einwilligung erteilt oder nicht erteilt wurde. Als Aktion dahinter kannst du z.B. wählen, dass das Versandprofil geändert wird, wenn Aufträge herausgefiltert wurden, bei denen deine Kunden im Webshop nicht eingewilligt haben, dass ihre Daten (E-Mail-Adresse und Telefonnummer) an den Versanddienstleister übertragen werden.</p>
<div class="paragraph">
<p>Bitte beachte, dass der Filter <em>nicht</em> mit dem Ereignis <strong>Neuer Auftrag</strong> (oder anderen Auftragstypen) funktioniert, da der Wert zur Einwilligung erst nach der Anlage des Auftrags dem Auftrag hinzugefügt wird. Verwende für diese Ereignisaktion also z.B. den Statuswechsel als Ereignis.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Hinweis</div>
<div class="paragraph">
<p>Mit Ceres Version 5, die voraussichtlich am 14.04.2020 veröffentlicht wird, wird der Filter auch mit dem Ereignis <strong>Neuer Auftrag</strong> funktionieren. Hier wird der Wert zur Einwilligung direkt bei der Anlage des Auftrags hinzugefügt.</p>
</div>
<div class="paragraph">
<p><a href="https://forum.plentymarkets.com/t/ceres-5-was-kommt-in-der-naechsten-version-geplanter-release-14-04-2020/579806" target="_blank" rel="noopener">Weitere Informationen zu Ceres Version 5 findest du im Forum</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_import_5" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Hatte man im Tab <strong>Zuordnung</strong> keine Zuordnung angelegt, so wurde ein falscher Text ausgegeben und man hatte den Eindruck, dass dieser Bereich eine Suche ist. Nun wird folgender Text ausgegeben:</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/keine-zuordnung-angelegt.png" alt="Es wurde noch keine Zuordnung angelegt." width="640"></span></p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_e_mail_templates" class="discrete">E-Mail-Templates</h3>
<div class="ulist">
<ul>
<li>
<p>Die Reihenfolge der E-Mail-Variablen <code>$ItemListPlain</code> und <code>$ItemListHTML</code> wurden korrigiert, sodass Bundle-Inhalte nicht mehr mit anderen Artikeln vermischt werden.</p>
</li>
</ul>
</div>
<h3 id="_import_6" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>In manchen Systemen kam es im Bereich <strong>Filter</strong> zu einem Fehlverhalten. Hatte man den Bereich offen und wechselte in ein anderes Tab, dann verdoppelten sich die Werte.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_gelöscht" class="discrete">Gelöscht</h2>
<div class="paragraph">
<p>Folgende Funktionalität wurde in den letzten 7 Tagen auf <strong>early</strong> gelöscht.</p>
</div>
<h3 id="_dynamischer_import" class="discrete">Dynamischer Import</h3>
<div class="ulist">
<ul>
<li>
<p>Folgende Formate wurden aus dem Dynamischen Import entfernt:</p>
<div class="ulist">
<ul>
<li>
<p><code>attribute</code></p>
</li>
<li>
<p><code>facet</code></p>
</li>
<li>
<p><code>facet_reference</code></p>
</li>
<li>
<p><code>Item_Character</code></p>
</li>
<li>
<p><code>Item_Cross_Selling</code></p>
</li>
<li>
<p><code>Item_Image</code></p>
</li>
<li>
<p><code>Item_Image_Name</code></p>
</li>
<li>
<p><code>Item_Image_Reference</code></p>
</li>
<li>
<p><code>Item</code></p>
</li>
<li>
<p><code>Serial_Keys</code></p>
</li>
<li>
<p><code>Variation</code></p>
</li>
<li>
<p><code>Variation_Bundle</code></p>
</li>
<li>
<p><code>Variation_Barcode</code></p>
</li>
<li>
<p><code>Variation_Supplier</code></p>
</li>
<li>
<p><code>Variation_Categories</code></p>
</li>
<li>
<p><code>Variation_Market_Ident_Number</code></p>
</li>
<li>
<p><code>Variation_Warehouse</code></p>
</li>
<li>
<p><code>Variation_Sales_Price</code></p>
</li>
<li>
<p><code>Variation_Market_Link</code></p>
</li>
<li>
<p><code>Variation_Webstore_Link</code></p>
</li>
<li>
<p><code>Variation_Sku</code></p>
</li>
<li>
<p><code>Variation_Additional_Sku</code></p>
</li>
<li>
<p><code>Category</code></p>
</li>
<li>
<p><code>Producer</code></p>
</li>
<li>
<p><code>Set</code></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><a href="https://forum.plentymarkets.com/t/abschaltung-dynamischer-import-deactivation-of-the-dynamic-import/576466" target="_blank" rel="noopener">Weitere Informationen zur Abschaltung des Dynamischen Imports findest du im Forum.</a></p>
</div>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/shippingicons_6782" target="_blank" rel="noopener">Ceres Beautifier: Shipping Icons</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/cfourfullcrossselling_6125" target="_blank" rel="noopener">Crossselling Artikellisten für die Produkt Seite</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.10</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/integration/ergoversicherungsmodul_5976">ERGO Versicherungsmodul</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/elasticexportkaufluxde_4737">kauflux.de</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/cfourfacebookpixel_6392" target="_blank" rel="noopener">Facebook Pixel mit Tracking Events</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/integration/plentybasecustomerdisplaypos_6359">plentyBase CustomerDisplayPOS</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0.5.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/integration/pricemonitorplentyintegration_6217" target="_blank" rel="noopener">Pricemonitor</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/payment/santanderpaymentsolutions_6231" target="_blank" rel="noopener">Santander Payment Solutions</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.4.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/ordertrackinglink_6361">Sendungsverfolgungs-Link</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/cfourwhatsappshare_5323" target="_blank" rel="noopener">Whatsapp Share Button</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/cfourwidgetswundertuete_5993" target="_blank" rel="noopener">Widgets Wundertüte</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>.</p>
</div>
</div></div>
</main>