<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Changelog</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 20. Januar 2021 bis zum 27. Januar 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="app-tab" data-toggle="tab" href="#app" role="tab" aria-controls="app" aria-selected="false">App</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Unter <strong>Einrichtung » Aufträge » Status</strong> kann mittels eines Toggles die Status-ID dem Namen vorangestellt werden. Die ID und der Name werden dabei durch eine Pipe (|) getrennt. Der Status wird dann an allen Stellen im System entsprechend mit ID und Name ausgegeben.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/toggle-status-id.png" alt="Der Toggle für die Status-ID und Auswirkungen auf die Tabelle." width="640"></span></p>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/auftraege/auftraege-verwalten#1200">Aufträge verwalten</a>.</p>
</div>
</li>
<li>
<p>Wenn nun eine Gutschrift (PDF) erstellt wird, wird eine Referenz zur aktuell gültigen Rechnung des Auftrages erstellt.</p>
</li>
<li>
<p>Die Spalte mit dem Burger Icon in der Dokumententabelle der Nachbestellung und der Umbuchung wurde geändert. Statt des Burger Icons gibt es nun zwei Spalten. Eine mit einer Schaltfläche für Download und die andere mit einer Schaltfläche für Löschen.</p>
</li>
<li>
<p>Die Spalten Varianten-ID und Variantennr. wurden in den Tabellen der Nachbestellung und Umbuchung hinzugefügt. Die Anzeige dieser Spalten ist optional, sie sind nicht standardmäßig ausgewählt. Nutze zur Auswahl Spalten konfigurieren.</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort können Feldgruppen aus dem Data Picker hinzugefügt werden.</p>
</li>
</ul>
</div>
<h3 id="_neckermann_at" class="discrete">Neckermann.at</h3>
<div class="ulist">
<ul>
<li>
<p>Unter Artikel » Artikel Bearbeiten » Artikel öffnen » Tab: Multi-Channel » Bereich: Neckermann.at Enterprise wurde das neue Provisionsmodell <code>293A</code> ergänzt.</p>
</li>
</ul>
</div>
<h3 id="_otto_market" class="discrete">OTTO Market</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben den Assistenten der OTTO Market-Grundeinstellungen um Einstellungen für Retouren-Versanddienstleister erweitert. Mit dieser Einstellung können die Retouren-Versanddienstleister aus plentymarkets mit denen von OTTO Market verknüpft werden. Außerdem ist es möglich, über diese Einstellung das Verhalten einer alternativen Ermittlung des Retouren-Versanddienstleisters zu konfigurieren.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>In einem OTTO Katalog wird nun immer das virtuelle Gesamtlager genommen, wenn kein Warenhaus bei Bestand verknüpft ist.</p>
</li>
</ul>
</div>
<h3 id="_otto_market_2" class="discrete">OTTO Market</h3>
<div class="ulist">
<ul>
<li>
<p>Der Rückerstattungs-Import in OTTO Market kann nun damit umgehen, wenn wir die serverseitige Drosselung von OTTO erreichen.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Fehler wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_artikel" class="discrete">Artikel</h3>
<div class="ulist">
<ul>
<li>
<p>Bei kopierten Artikeln kann nun die Vererbung der Eigenschaften wieder ohne Fehler deaktiviert werden.</p>
</li>
<li>
<p>Wenn der Button „Trotz negativem Nettowarenbestand für Mandanten verfügbar machen“ nun gedrückt wird, wird auch der Index aktualisiert.</p>
</li>
<li>
<p>Unterkategorien können nicht mehr auf zur Hauptkategorie verschoben werden, wenn der Name bereits existiert.</p>
</li>
</ul>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Mit der neuen Auftragslogik wurden bei der Erstellung von Retouren und Gutschriften aus Aufträgen mit verkauften Gutscheinen auch Codes für die Gutscheine generiert, die aber nirgends zu sehen waren. Dies wurde behoben, es werden nur noch Codes generiert für Aufträge, Vorbestellungen, Gewährleistungen und Reparaturen generiert.</p>
</li>
<li>
<p>Bei Abonnements wurden die Artikelnamen in der Artikelliste konnten nicht geändert werden. Dies wurde nun behoben, Artikelnamen können dort wieder angepasst werden.</p>
</li>
<li>
<p>Bei einem Wechsel der Zahlungsart wurde der Rabatt der Kundenklasse nicht korrekt neu bestimmt.</p>
</li>
</ul>
</div>
<h3 id="_bol_com" class="discrete">bol.com</h3>
<div class="ulist">
<ul>
<li>
<p>FBR-Aufträge von bol.com konnten auch Artikel enthalten welche mit FBB versendet wurden. Diese wurden bisher wie reguläre Artikel importiert. Mit diesem Update werden diese Artikel jetzt ignoriert und nicht importiert.</p>
</li>
</ul>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Bei der Kundenanlage wurde der ausgewählte Mandant nicht berücksichtigt und der Standard-Mandant gespeichert. Dieser Fehler wurde für alle stable Systeme behoben.</p>
</li>
</ul>
</div>
<h3 id="_ereignisaktionen" class="discrete">Ereignisaktionen</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Löschen von Ereignisaktionen wurde eine Fehlermeldung ausgegeben. Die Ereignisaktionen wurde aber trotzdem korrekt gelöscht.</p>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Aufgrund eines Fehlers kam es vor, dass ab und an Daten vom FTP-Server nicht abgerufen werden konnten. Diesen Fehler haben wir behoben.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_2" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Aufgrund eines Fehlers konnten Eigenschaften vom Typ Auswahl nicht hinzugefügt werden. Diesen Fehler haben wir behoben.</p>
</li>
</ul>
</div>
<h3 id="_plentyshop" class="discrete">plentyShop</h3>
<div class="ulist">
<ul>
<li>
<p>Beim wiederholten Öffnen der plentyShop-Vorschau mit unterschiedlichen Plugin-Sets wird jetzt das richtige Plugin-Set geladen.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_backend" class="discrete">Backend</h3>
<div class="ulist">
<ul>
<li>
<p>Im Backend erwartet euch ab sofort das neue Tab-Kontextmenü im Material-Design. Dies ist jetzt ein Dreipunktmenü, worüber ihr das Kontextmenü öffnen könnt.</p>
</li>
</ul>
</div>
<h3 id="_dokumente" class="discrete">Dokumente</h3>
<div class="ulist">
<ul>
<li>
<p>Es gibt folgende neue Platzhalter für die Zahlungsbedingungen im Dokument Rechnung:</p>
<div class="ulist">
<ul>
<li>
<p><code>[Currency]</code> die Währung der Beträge, wie für die Rechnung eingestellt (Auftrags- oder Systemwährung),</p>
</li>
<li>
<p><code>[InvoiceAmount]</code> der Rechnungsbetrag in der eingestellten Währung,</p>
</li>
<li>
<p><code>[InvoiceAmountGross]</code> der brutto Anteil des Rechnungsbetrages,</p>
</li>
<li>
<p><code>[InvoiceAmountNet]</code> der netto Anteil des Rechnungsbetrages,</p>
</li>
<li>
<p><code>[DiscountInvoiceAmount]</code> der skontierte Rechnungsbetrag in der eingestellten Währung,</p>
</li>
<li>
<p><code>[DiscountInvoiceAmountGross]</code> der brutto Anteil des skontierten Rechnungsbetrages,</p>
</li>
<li>
<p><code>[DiscountInvoiceAmountNet]</code> der netto Anteil des skontierten Rechnungsbetrages,</p>
</li>
<li>
<p><code>[EarlyPaymentDiscountDate]</code> das Datum, bis zu dem der skontierte Betrag bezahlt werden soll</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h3 id="_ebay" class="discrete">eBay</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt im Market-Listing im Tab Marktplatz bei der aktivierten Preisvorschlag-Option auswählen, ob du für das automatische Annehmen oder Ablehnen eines Preisvorschlags einen prozentualen Wert oder einen festen Preis angeben möchtest. Zuvor war es lediglich möglich, dass ein fester Preis eingetragen werden konnte.</p>
<div class="paragraph">
<p>Das bedeutet für dich, dass du in Zukunft bei einer Änderung des Verkaufspreises nicht mehr den Preis für den Preisvorschlag anpassen musst.</p>
</div>
</li>
</ul>
</div>
<h3 id="_kataloge_3" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort wird der komplette Pfad eines hinzugefügten Datenfeldes als Tooltip angezeigt.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Fehler wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Es konnte vorkommen, dass bei Auftragsanlage in Fremdwährung der Verkaufspreis nicht korrekt umgerechnet wurde.</p>
</li>
<li>
<p>Bei der Anlage von Nachbestellungen aus dem Warenbestand wurde nicht die Währung des Lieferanten verwendet. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Bei der Anlage von Nachbestellungen aus dem Warenbestand wurde unter Umständen nicht die Menge einer vorhandenen Position erhöht, sondern eine neue Position angelegt. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Es gab ein Problem beim Hinzufügen von Artikeln in die Retoure, wenn derselbe Artikel mehrfach als einzelne Position im Auftrag vorhanden war. Dieses Verhalten wurde nun behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/billigerdetracking_6126" target="_blank" rel="noopener">billiger.de Tracking</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/elasticexportcheck24de_4730" target="_blank" rel="noopener">CHECK24</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dhlshipping_4871" target="_blank" rel="noopener">DHL Shipping (Versenden)</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.1.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du bereits in der Vergangenheit den Service "Vorausverfügung" verwendet hast, prüfe, ob die neuen Einstellungen zur "Vorausverfügung" im Assistenten korrekt gewählt sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dpdshippinguk_5121" target="_blank" rel="noopener">DPD Shipping UK</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dpdshippingservices_6320" target="_blank" rel="noopener">DPD Versand Services</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.6.12</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebics_5098" target="_blank" rel="noopener">EBICS</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ekomifeedback_5253" target="_blank" rel="noopener">EkomiFeedback</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.3.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/facebookpixelwi_7004" target="_blank" rel="noopener">Facebook Pixel</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/feed4ceres_6097" target="_blank" rel="noopener">Feed4Ceres</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.3.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/galaxus_4788" target="_blank" rel="noopener">Galaxus.ch</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.11.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/elasticexportidealode_4723" target="_blank" rel="noopener">idealo.de</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/metro_6600" target="_blank" rel="noopener">Metro</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.8.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/mirakl_6917" target="_blank" rel="noopener">Mirakl Connector</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.21</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/magiczoomplus_6092" target="_blank" rel="noopener">Moderne Bildergalerie - Magic Zoom Plus</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/multicontentwidget_6082" target="_blank" rel="noopener">Multicontent-Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.4.15</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/pricemonitorplentyintegration_6217" target="_blank" rel="noopener">Pricemonitor</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.11</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/rewe_5901" target="_blank" rel="noopener">REWE</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.24.8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/sendcloudplugin_6985" target="_blank" rel="noopener">Sendcloud shipping</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0.9.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cytitemavailabilitynotification_6906" target="_blank" rel="noopener">Verfügbarkeitsbenachrichtigung mit Statistik</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div><div class="tab-pane fade" id="app" role="tabpanel" aria-labelledby="app-tab">
<h2 id="_neu_3" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in Version 1.11.7 der App veröffentlicht.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Retouren können ab sofort auch via ZVT-fähigen Ingenico- oder Verifone-Terminal erstattet werden.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in Version 1.11.7 der App veröffentlicht.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Noch nicht vollständig synchronisierte Aufträge können nun nicht mehr in die Kasse geladen werden. Diese Änderung war notwenig, um Bedienungsfehler am POS, beispielsweise doppelte Kassiervorgänge, zu vermeiden.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_3" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in Version 1.11.7 der App behoben.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In seltenen Fällen wurde das Rückgeld bei Retouren falsch berechnet. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Bei Click &amp; Collect-Aufträgen wurde der Gutscheinbetrag bei der Einlösung von Aktionsgutscheinen doppelt berücksichtigt. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Bei der sofortigen Stornierung eines mit SumUp kassierterten Auftrages wurde eine zusätzliche Zahlung am stornierten Auftrag erstelt. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Auf iOS-Geräten wurde der Datepicker aufgrund eines Fehlers als normales Textfeld angezeigt. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Beim Laden überbezahlter Aufträge in die Kasse wurden beim Abschließen doppelte Zahlungen angelegt. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>In der Netto-Ansicht wurden Festbetragsrabatte nicht korrekt übergeben. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
</div></div>
</main>