<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_stable"><span>stable</span></a>
<ul class="sectlevel2">
<li><a href="#_neu"><span>Neu</span></a></li>
<li><a href="#_geändert"><span>Geändert</span></a></li>
<li><a href="#_behoben"><span>Behoben</span></a></li>
<li><a href="#_gelöscht"><span>Gelöscht</span></a></li>
</ul>
</li>
<li><a href="#_early"><span>early</span></a>
<ul class="sectlevel3">
<li><a href="#_neu_2"><span>Neu</span></a></li>
<li><a href="#_geändert_2"><span>Geändert</span></a></li>
<li><a href="#_behoben_2"><span>Behoben</span></a></li>
<li><a href="#_gelöscht_2"><span>Gelöscht</span></a></li>
</ul>
</li>
<li><a href="#_plugin_updates"><span>Plugin-Updates</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Changelog</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Erfahre, was sich diese Woche bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Wochen für stable- und early-Systeme.</p>
</div>
<div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/basics/admin-aufgaben/versionszyklus">Versionszyklus</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_stable">stable</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Bereich findest du alles, was in der letzten Woche auf <strong>stable</strong> veröffentlicht wurde.</p>
</div>
<div class="sect2">
<h3 id="_neu">Neu</h3>
<h4 id="_dhl_fulfillment_dpd_france" class="discrete">DHL Fulfillment: DPD France</h4>
<div class="ulist">
<ul>
<li>
<p>In der Portotabelle des Versandprofils für DHL Fulfillment ist nun auch DPD France (<strong>DPD FR</strong>) als Versandprodukt verfügbar, wenn du <strong>Frankreich</strong> als <strong>DHL Fulfillment-Region</strong> wählst. Der dazugehörige Service heißt “Service point”.</p>
</li>
</ul>
</div>
<h4 id="_eigenschaften" class="discrete">Eigenschaften</h4>
<div class="ulist">
<ul>
<li>
<p>Wir haben den neuen Kanal Amazon.NL in den Einstellungen für Eigenschaften hinzugefügt.</p>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/eigenschaften-amazon-nl.png" alt="Amazon.NL in Eigenschaften." width="640" height="360">
</div>
</div>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_geändert">Geändert</h3>
<h4 id="_benutzerrechte_listings" class="discrete">Benutzerrechte Listings</h4>
<div class="ulist">
<ul>
<li>
<p>Damit Variable Nutzer ein Listing anlegen können, müssen sie nun die Rechte <strong>Listing erstellen</strong> und <strong>Market-Listing erstellen</strong> erhalten.</p>
</li>
</ul>
</div>
<h4 id="_plentymarkets_system" class="discrete">plentymarkets System</h4>
<div class="ulist">
<ul>
<li>
<p>Es ist uns gelungen, die Ladezeit des Backends nach dem Anmelden um 58% zu reduzieren.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_behoben">Behoben</h3>
<h4 id="_mercateo" class="discrete">Mercateo</h4>
<div class="ulist">
<ul>
<li>
<p>Bei der Generierung der Produkt-Datei werden nicht mehr Bilder mit ungültigem Dateityp übermittelt. Es werden nur noch Bilder mit dem Dateitypen JPG und JPEG übermittelt, wie es auch bereits beim Bildexport der Fall ist.</p>
</li>
</ul>
</div>
<h4 id="_netto" class="discrete">Netto</h4>
<div class="ulist">
<ul>
<li>
<p>Beim Import der Reservierungen von Netto kann es nun nicht mehr dazu kommen, dass diese zur Anlage mehrerer Aufträge führen, wenn die zwischengespeicherten XML-Dateien zum Abschluss des Prozesses nicht vom Server gelöscht werden konnten und erneut verarbeitet wurden.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_gelöscht">Gelöscht</h3>
<h4 id="_status_ui" class="discrete">Status-UI</h4>
<div class="ulist">
<ul>
<li>
<p>Die UI unter <strong>Daten » Status</strong> wurde entfernt, da sie nach <a href="https://forum.plentymarkets.com/t/rollout-ist-abgeschlossen/574671" target="_blank" rel="noopener">vollzogenem Rollout der neuen Artikel Infrastruktur</a> obsolet wurde und der Syncfortschritt in ElasticSync selber angezeigt wird.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_early">early</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Bereich findest du alles, was in der letzten Woche auf <strong>early</strong> veröffentlicht wurde.</p>
</div>
<div class="sect3">
<h4 id="_neu_2">Neu</h4>
<h4 id="_artikeletiketten" class="discrete">Artikeletiketten</h4>
<div class="ulist">
<ul>
<li>
<p>Unter <strong>Einrichtung » Artikel » Etiketten</strong> kann man jetzt für die Vorschau auch die Auftrags-ID einer Nachbestellung angeben. Die Etiketten werden wie gewohnt generiert.</p>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/artikeletiketten-vorschau-auftrags-id.png" alt="Auftrags-ID in der Etikettenvorschau." width="640" height="360">
</div>
</div>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="_geändert_2">Geändert</h4>
<h4 id="_aufträge" class="discrete">Aufträge</h4>
<div class="ulist">
<ul>
<li>
<p>Bundle werden zukünftig direkt bei Auftragsanlage anhand der Systemeinstellungen gesplittet.
Dies gilt ebenso, wenn einem bestehendem Auftrag ein Bundle hinzugefügt wird.</p>
<div class="paragraph">
<p>Durch diese Anpassung soll gewährleistet werden, dass es nicht mehr zu Fehlverhalten, wie doppeltes Hinzufügen von Bundle-Komponenten (doppeltes Splitten), kommt.</p>
</div>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="_behoben_2">Behoben</h4>
<h4 id="_lieferaufträge" class="discrete">Lieferaufträge</h4>
<div class="ulist">
<ul>
<li>
<p>Das Löschen des Lieferauftrages mit dem niedrigsten Status konnte dazu führen, dass der Status des Hauptauftrag geändert wird.
Der Status des Hauptauftrages wurde in diesen Fällen in den niedrigsten Status der verbliebenden Lieferaufträge verschoben.</p>
<div class="paragraph">
<p>Dieses Verhalten wurde korrigiert. Das Löschen von Lieferaufträgen hat nun keine Auswirkungen mehr auf den Status des Hauptauftrages.</p>
</div>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="_gelöscht_2">Gelöscht</h4>

</div>
</div>
</div><div class="sect1">
<h2 id="_plugin_updates">Plugin-Updates</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/integration/addresscheckpro_6432" target="_blank" rel="noopener">AddressCheck Pro</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/customforms_6318" target="_blank" rel="noopener">Benutzerdefinierte Formulare</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/cfourctawidget_5925" target="_blank" rel="noopener">Call to Action Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/cfourcontainerwidget_5763" target="_blank" rel="noopener">Container Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/tracking_6452" target="_blank" rel="noopener">Google Tag Manager Tracking ENTERPRISE</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/sales/online-shops/io_4696" target="_blank" rel="noopener">IO</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.5.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/payment/paypal_4690" target="_blank" rel="noopener">PayPal</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/cfourproductwall_5762" target="_blank" rel="noopener">Produktwand Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/schufa_6360" target="_blank" rel="noopener">Schufa Bonitätsprüfung</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/cfourshopadvantageswidget_5948" target="_blank" rel="noopener">Shop Vorteile Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/staticpagesmapper_6371">Statische Seiten im ShopBuilder</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/cfourbasicwidgets_5926" target="_blank" rel="noopener">Whitelabel Widgets</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/cfouryoutubewidget_5708" target="_blank" rel="noopener">Youtube Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>