<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Changelog</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 08. April 2021 bis zum 14. April 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="app-tab" data-toggle="tab" href="#app" role="tab" aria-controls="app" aria-selected="false">App</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_amazon_vcs" class="discrete">Amazon VCS</h3>
<div class="ulist">
<ul>
<li>
<p>Unter <strong>Einrichtung » Märkte » Amazon » Datenaustausch » Berichte » Tab: VCS-Aufträge entsperren</strong> ist es jetzt möglich, Aufträge selbstständig zu entsperren, um eigene Rechnungsdokumente zu erzeugen. Beachtet dabei, dass diese Rechnungsdokumente weiterhin von uns storniert werden, sollten wir im Nachgang von Amazon einen externen Beleg in einem VCS-Bericht erhalten.</p>
</li>
</ul>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>In der neuen Auftragsanlage (Beta) wurden folgende Neuerungen veröffentlicht:</p>
<div class="ulist">
<ul>
<li>
<p>Zwei neue Infoboxen wurden im letzten Schritt der Auftragsanlage hinzugefügt: <strong>Rabatt</strong> und <strong>Offener Betrag</strong>.</p>
</li>
<li>
<p>Die einzelnen Spalten <strong>Artikel-ID</strong> und <strong>Varianten-ID</strong> wurden im zweiten Schritt der Auftragsanlage hinzugefügt.</p>
</li>
<li>
<p>In der Warenkorbtabelle sind die Spalten <strong>Artikel-ID/Varianten-ID</strong>, <strong>Artikel-ID</strong>, <strong>Varianten-ID</strong>, <strong>Variantennummer</strong> und <strong>Artikelname</strong> nun sortierbar.</p>
</li>
<li>
<p>Spalten mit der Benennung <strong>Artikelbeschreibung</strong> wurden in <strong>Artikelname</strong> umbenannt.</p>
</li>
<li>
<p>In den Standardeinstellungen wurden die Einstellung <strong>Warenkorb als Tabelle</strong> in <strong>Warenkorb als Tabelle (unterhalb der Suchergebnisse)</strong> umbenannt.</p>
</li>
</ul>
</div>
</li>
<li>
<p>In der Nachbestellung und der Umbuchung können Lieferdaten nun auch für einzelne Artikel der Bestellung manuell hinterlegt werden. Das Setzen eines Lieferdatums für den gesamten Auftrag in den Auftragsdetails bleibt bestehen. Beim Setzen dieses Lieferdatums in den Auftragsdetails kannst du nun wählen, ob das gleiche Lieferdatum für Artikelpositionen ohne Lieferdatum gesetzt werden soll. Lieferdaten können angepasst werden, solange der Auftrag nicht abgeschlossen wurde.</p>
</li>
</ul>
</div>
<h3 id="_bi" class="discrete">BI</h3>
<div class="ulist">
<ul>
<li>
<p>Es besteht jetzt die Möglichkeit, dass man 0-Werte in Tabellen für seine Dashboards optional ausblenden kann. In den Tabellen-Einstellungen auf dem jeweiligen Dashboard kann pro Tabelle folgende Einstellung ausgewählt werden:</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/bi-null-werte-ausblenden.png" alt="Primärwert 0 anzeigen aktiviert." width="640"></span></p>
</div>
<div class="paragraph">
<p>Tabellen mit ausgeblendeten Werten erhalten eine Fußnote mit der Anzeige <strong>Es wurden [N] Zeilen ausgeblendet</strong>.</p>
</div>
</li>
</ul>
</div>
<h3 id="_dhl_fulfillment" class="discrete">DHL Fulfillment</h3>
<div class="ulist">
<ul>
<li>
<p>Im Zuge des Updates der XML-Schnittstelle auf Version 2.20 wurden 5 neue Bestandstypen hinzugefügt:</p>
<div class="ulist">
<ul>
<li>
<p><code>Missing</code></p>
</li>
<li>
<p><code>Expired</code></p>
</li>
<li>
<p><code>Separated</code></p>
</li>
<li>
<p><code>Refurbishment</code></p>
</li>
<li>
<p><code>Cross_Selection</code></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Ware, die mit einem dieser 5 neuen Bestandstypen bewegt wird, wird dem Lager <strong>Sonstiges</strong> zugeordnet.</p>
</div>
</li>
</ul>
</div>
<h3 id="_versand" class="discrete">Versand</h3>
<div class="ulist">
<ul>
<li>
<p>In der Portotabelle des Versandprofils im Menü <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Versandprofile</strong> wurde der Bereich Amazon Versandeinstellungen für jede Region hinzugefügt. In diesem Bereich kannst du nun – nachdem du die Portotaballe gespeichert und neu geladen hast – sowohl den Transportservice als auch den Versandservice für Amazon-Aufträge wählen:</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/amazon-versandeinstellungen.png" alt="Amazon-Versandeinstellungen" width="640"></span></p>
</div>
<div class="paragraph">
<p>Wir haben die gängigsten Transportservices und Versandservices bereits hinzugefügt. Wenn du andere Werte übertragen möchtest, kannst du <strong>Andere</strong> auswählen und über ein Eingabefeld die Werte eintragen. Diese werden dann übertragen. Wenn du keine Werte einträgst, dann greift als Fallback die Logik wie bisher.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Die Logik für die Übertragung der hier eingetragenen Werte befindet sich in Entwicklung und wird rechtzeitig bis kommenden Montag (19.04.2021) zur Verfügung stehen. So lange greift trotz eingetragener Werte noch die bisherige Logik. Ihr habt aber die Möglichkeit die Werte bereits einzutragen, damit eure Vorarbeiten bereits erledigt sind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_real_de" class="discrete">Real.de</h3>
<div class="ulist">
<ul>
<li>
<p>Im Zuge der Umstellung des Marktplatzes Real.de zu Kaufland.de wird eine Migration die Auftragsherkunft mit der ID <code>102</code> umbenennen.</p>
</li>
</ul>
</div>
<h3 id="_warenwirtschaft" class="discrete">Warenwirtschaft</h3>
<div class="ulist">
<ul>
<li>
<p>Der Zulauf für Nachbestellungen wurde bis jetzt für 1 Jahr gerechnet. Wenn man eine Nachbestellung mit älterem Erstellungsdatum als 1 Jahr hatte, wurde die noch nicht belieferte Ware im Zulauf in der Bestandsübersicht nicht angezeigt. Der Zulauf wird von jetzt an für 2 Jahre berechnet.</p>
</li>
</ul>
</div>
<h3 id="_zalando" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Prozess zur Aktualisierung bereits importierter Zalando-Aufträge (Zahlung, Freigabe Versand und Stornierung durch Kunde) wurde bisher nur nach Aufträgen gesucht, die sich seit dem letzten Prozesslauf auf Zalando verändert haben. Zu diesem Zeitpunkt wurde ein Puffer von einer Stunde hinzugefügt, um möglichen Synchronisierungsproblemen bei Zalando entgegenzuwirken.</p>
</li>
<li>
<p>Wenn beim Auftragsimport einer Auftragsposition über die SKU keine Variante aus dem System zugeordnet werden kann, wird die marktplatzspezifische SKU in eckigen Klammern vor dem Namen des Artikels ergänzt, um das nachträgliche Identifizieren und Zuordnen zu erleichtern.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_amazon_vcs_2" class="discrete">Amazon VCS</h3>
<div class="ulist">
<ul>
<li>
<p>Bei der Korrektur von Aufträgen durch Amazon-VCS-Berichte konnte es zu einem Fehler bei der Korrektur der Auftragspositionen kommen. Betroffene Händler:innen finden Fehlermeldungen ohne Nachricht und mit folgenden Logdetails beim Öffnen des Eintrags:</p>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code>Datum: DD/MM/YYYY HH:MM:SS Zeile: 215 Nachricht:
Object
	message:"Validation error"
	trace:Array[3]
		0:Object
			file:"/plentymarkets/order/src/Repositories/Determiners/VatDeterminer.php"
			line:85
			function:"throwValidationException"
			class:"Plenty\Modules\Order\Repositories\Helper\OrderDetermineHelper"
			type:"::"
			args:Array[0]
		1:Object
			file:"/plentymarkets/order/src/Repositories/OrderBaseRepository.php"
			line:2580
			function:"onUpdate"
			class:"Plenty\Modules\Order\Repositories\Determiners\VatDeterminer"
			type:"::"
			args:Array[0]
		2:Object
			file:"/plentymarkets/order/src/Repositories/OrderBaseRepository.php"
			line:1722
			function:"runDeterminersUpdate"
			class:"Plenty\Modules\Order\Repositories\OrderBaseRepository"
			type:"-&gt;"
			args:Array[0]
code:0
line:30
messageBag:Array[1]
	0:Array[1]
		0:"OrderItem id XXXXX does not exist."
Trigger:"cli: artisan cron:run"</code></pre>
</div>
</div>
<div class="paragraph">
<p>unter <strong>Daten » Log</strong> mit den folgenden Filtern:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Integration</strong>: <code>Plenty\Modules\Amazon\VCS\Services\CorrectOrder</code></p>
</li>
<li>
<p><strong>Identifikator</strong>: <code>importVcsCorrection</code></p>
</li>
<li>
<p><strong>Level</strong>: <code>Critical</code></p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Händler:innen, die VCS Lite bzw. VCS plentymarkets nutzen, müssen nichts weiter tun. Die Aufträge werden automatisch auf Basis der aktuellen VCS-Berichte korrigiert, die alle Aufträge beinhalten, zu denen Amazon noch eine Rechnung vermisst.</p>
</div>
<div class="paragraph">
<p>Händler:innen, die VCS bzw. VCS Amazon nutzen, müssen für den betroffenen Zeitraum einen neuen Bericht zu den USt.-Berechnungen anfordern. Diese Berichte findet ihr in der Seller Central unter <strong>Berichte » Steuerdokumente</strong>:</p>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/amazon-vcs-steuerdokumente.png" alt="Berichte » Steuerdokumente" width="640"></span></p>
</div>
<div class="paragraph">
<p>Dort könnt ihr den Bericht für den entsprechenden Zeitraum anfordern. Der Bericht wird automatisch vom System eingelesen.</p>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/amazon-vcs-steuerdokumente-umsatzsteuerberechnung.png" alt="Umsatzsteuerberechnung" width="640"></span></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Auftragsstatus können wieder aktualisiert werden.</p>
</li>
</ul>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>In der Plugin-Konfiguration ist es wieder möglich, für eine Konfiguration Dateien auszuwählen.</p>
</li>
<li>
<p>Die Git-Ansicht für einzelne Plugins steht bei plentyMarketplace-Plugins und lokalen Plugins nicht mehr zu Verfügung. Stattdessen wird beim Aufrufen der Ansicht eine entsprechende Nachricht angezeigt. Durch diese Änderung wird das Problem behoben, dass beim Bereitstellen von Plugins fälschlicherweise eine Git-Version verwendet wird.</p>
</li>
</ul>
</div>
<h3 id="_zalando_2" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Durch einen Fehler war es unter <strong>Einrichtung » Artikel » Attribute » [Öffne Attribut] » Tab: Attributsverknüpfung » Tab: Zalando</strong> nicht möglich, Werte bei Größenregistern mit nur einem möglichen Wert zu verknüpfen. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Durch einen falschen Parameter in der API-Anfrage an Zalando wurden immer nur die ersten 50 Aufträge bearbeitet, die wir auf Basis der gesetzten Filter erhielten. Dies hatte keinen Einfluss auf den reinen Auftragsimport, konnte sich aber auf die nachträgliche Änderung des Zahlungsstatus und der Kundenstornierung auswirken.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<pre class="highlightjs highlight"><code>Datum: DD/MM/YYYY HH:MM:SS Zeile: 215 Nachricht:
Object
	message:"Validation error"
	trace:Array[3]
		0:Object
			file:"/plentymarkets/order/src/Repositories/Determiners/VatDeterminer.php"
			line:85
			function:"throwValidationException"
			class:"Plenty\Modules\Order\Repositories\Helper\OrderDetermineHelper"
			type:"::"
			args:Array[0]
		1:Object
			file:"/plentymarkets/order/src/Repositories/OrderBaseRepository.php"
			line:2580
			function:"onUpdate"
			class:"Plenty\Modules\Order\Repositories\Determiners\VatDeterminer"
			type:"::"
			args:Array[0]
		2:Object
			file:"/plentymarkets/order/src/Repositories/OrderBaseRepository.php"
			line:1722
			function:"runDeterminersUpdate"
			class:"Plenty\Modules\Order\Repositories\OrderBaseRepository"
			type:"-&gt;"
			args:Array[0]
code:0
line:30
messageBag:Array[1]
	0:Array[1]
		0:"OrderItem id XXXXX does not exist."
Trigger:"cli: artisan cron:run"</code></pre>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Das Lieferdatum einer Nachbestellung kann nun auch direkt per Klick in das Eingabefeld und anschließende Eingabe eines Datums über die Tastatur gesetzt werden.</p>
</li>
<li>
<p>Der Artikelname ist in der Warenkorbtabelle nun änderbar. Du kannst den Artikelnamen für die Umbuchung/Nachbestellung ändern, indem du in das Eingabefeld klickst.</p>
</li>
<li>
<p>In der Warenkorb- und der Artikeltabelle wurde ein Icon für bearbeitbare Felder hinzugefügt.</p>
</li>
<li>
<p>Die Spalten <strong>Auftrags-ID</strong> und <strong>Erstellt am</strong> in der Übersichtstabelle <strong>Bestellung</strong> sind nun sortierbar. Preise mit Währung werden nun basierend auf der Sprache angezeigt: Währungszeichen und Preis in Englisch, Preis und Währungszeichen in Deutsch.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_4" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>In Nachbestellungen wurden die Icons für die Buttons Lieferdatum ermitteln und Zahlungsziel ermitteln ausgetauscht.</p>
</li>
</ul>
</div>
<h3 id="_bi_2" class="discrete">BI</h3>
<div class="ulist">
<ul>
<li>
<p>Neue angelegte Kennzahlen können direkt in der Konfiguration des Dashboard ausgewählt werden. Bisher musste immer das komplette Backend aktualisiert werden.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_aufträge_5" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Bei Änderung der Auftragswährung wurde der offene Betrag im letzten Schritt der Auftragsanlage (Beta) weiterhin in der Systemwährung angezeigt. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Bei Änderung der Auftragswährung in der Auftrangsanlage (Beta) wurden die Preise in der Artikelübersicht, dem Warenkorb und dem seitlich angezeigten Warenkorb nicht in der neuen Währung neu berechnet. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Das Feld <strong>Position</strong> wurde bei der Sortierung von Attributwerten an Aufträgen in manchen Fällen nicht beachtet.</p>
</li>
<li>
<p>Mit der neuen Auftragslogik wurde ein Gutschein bei netto Aufträgen brutto statt netto eingelöst, sodass Aufträge unter Umständen negativen Rechnungsbetrag hatten. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_ereignisaktionen" class="discrete">Ereignisaktionen</h3>
<div class="ulist">
<ul>
<li>
<p>In der Aktion <strong>Lieferaufträge generieren</strong> von Ereignisaktionen konnten Lieferaufträge zu einem bestehendem Lieferauftrag erzeugt werden, sodass der ursprüngliche Lieferauftrag kein valides Lager mehr hatte und man nicht weiter mit ihm arbeiten konnte. Dies wurde behoben, die Aktion bleibt für Lieferaufträge wirkungslos.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>In der Aktion <strong>Artikelerfassung</strong> gab es unter Umständen einen Fehler beim Teilen der Aufträge. Dieser wurde behoben.</p>
</li>
<li>
<p>In der Aktion <strong>Artikelerfassung</strong> konnte man einen leeren Scan absenden. Dadurch wurde ein zufälliger und damit nicht korrekter Artikel erfasst. Dieser Fehler wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="app" role="tabpanel" aria-labelledby="app-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/elasticexportcheck24de_4730" target="_blank" rel="noopener">CHECK24</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ceres_4697" target="_blank" rel="noopener">Ceres</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.27</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/clearvat_6925" target="_blank" rel="noopener">eClear – Umsatzsteuer-Automatisierung für E-Commerce in der EU</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/feed4ceres_6097" target="_blank" rel="noopener">Feed4Ceres</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/feed4ceresaccountpackone_6921" target="_blank" rel="noopener">Feed4CeresAccountPackOne</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/feed4ceresaccountpacktwo_6992" target="_blank" rel="noopener">Feed4CeresAccountPackTwo</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/feed4multicontentwidget_6816" target="_blank" rel="noopener">Feed4MultiContentWidget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cfouritemquestions5_6876" target="_blank" rel="noopener">Fragen zum Artikel 5</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/elasticexportidealode_4723" target="_blank" rel="noopener">idealo.de</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.1.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/wesiocatalog_6759" target="_blank" rel="noopener">Kataloggenerator - Kataloge schnell und einfach erstellen</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/feedback_5115" target="_blank" rel="noopener">Kunden-Feedback</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.6.4</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Zur Nutzung des Feedback-Plugins muss Ceres in Version 5.0 oder höher installiert sein.</p>
</li>
<li>
<p>Nach dem Update auf Version 3.6.4 müssen Widgets im Menü CMS » ShopBuilder durch Klick auf Inhalte neu generieren aktualisiert werden.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/metro_6600" target="_blank" rel="noopener">Metro</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.9.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/mirakl_6917" target="_blank" rel="noopener">Mirakl</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.30</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/multicontentwidget_6082" target="_blank" rel="noopener">Multicontent-Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.5.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/itemvideoplugin_6915" target="_blank" rel="noopener">Produkt Video Plugin</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.5.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/rewe_5901" target="_blank" rel="noopener">REWE</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.24.16</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/sendcloudplugin_6985" target="_blank" rel="noopener">Sendcloud shipping</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">0.9.94</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/shopify_4944" target="_blank" rel="noopener">Shopify.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.8.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/deliverytimewidget_7062" target="_blank" rel="noopener">Versand-Countdown - Jetzt bestellen, wann versendet?</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/voelknerextension_6949" target="_blank" rel="noopener">Voelkner</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/woocommerce_5102" target="_blank" rel="noopener">woocommerce.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.7.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/d2gpmpluginpaymenticons_7033" target="_blank" rel="noopener">Zahlungs Icons Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>