<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Changelog</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 30. Juli 2020 bis zum 05. August 2020 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Wochen für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="app-tab" data-toggle="tab" href="#app" role="tab" aria-controls="app" aria-selected="false">App</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Eingabefelder für die Telefonnummern <strong>Mobil privat</strong> und <strong>Mobil geschäftlich</strong> wurden hinzugefügt.</p>
</li>
</ul>
</div>
<h3 id="_dokumente" class="discrete">Dokumente</h3>
<div class="ulist">
<ul>
<li>
<p>In den Dokumentenvorlagen für Angebote und Auftragsbestätigungen wurde das neue Feld <strong>Lieferdatum</strong> hinzugefügt, in das man das voraussichtliche Versanddatum einfügen kann.</p>
</li>
</ul>
</div>
<h3 id="_ebay" class="discrete">eBay</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt entscheiden, ob du bei einer erfolgreichen Rückerstattung eines eBay Payments Auftrags bei einem Auftrag vom Typ <strong>Gutschrift</strong> eine Zahlung buchen lassen möchtest oder nicht.</p>
<div class="paragraph">
<p>Die Option dafür nennt sich <strong>Automatische Zahlungsbuchung in Gutschrift bei Rückerstattung</strong> und du findest sie unter <strong>Einrichtung » Märkte » eBay » Einstellungen pro Konto</strong> im Tab <strong>Kontoeinstellungen</strong>. Standardmäßig steht die Option auf <strong>Nein</strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Im Zuge des Updates musst du folgende Schritte durchführen, wenn du die Zahlung buchen lassen möchtest:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Navigiere zu <strong>Einrichtung » Märkte » eBay » Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne die Kontoeinstellungen für das entsprechende Konto.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Automatische Zahlungsbuchung in Gutschrift bei Rückerstattung</strong>.</p>
</li>
</ol>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_ceres" class="discrete">Ceres</h3>
<div class="ulist">
<ul>
<li>
<p>Der Aufbau von Artikel-URLs für Ceres Webshops berücksichtigt nun wieder den Artikelnamen, der im Menü <strong>Einrichtung » Mandant » <em>Mandant wählen</em> » SEO » URL-Aufbau » Artikel</strong> als Quelle für <strong>Artikelname</strong> ausgewählt wurde.</p>
<div class="paragraph">
<p>Zuvor wurde der Artikelname verwendet, der im Feld <strong>Artikelname</strong> im Tab <strong>Artikelansicht</strong> der Ceres-Einstellungen hinterlegt war.</p>
</div>
<div class="paragraph">
<p>Diese Änderung ist wirksam für Artikel, die neu angelegt werden, und für Artikel, für die das Feld <strong>URL</strong> gezielt gelöscht, und dann beim nächsten Aufruf des Artikels neu generiert wird. Bestehende URLs sind von der Änderung nicht betroffen.</p>
</div>
</li>
</ul>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>Die aktuelle Version der Merkmalsstrukur-Master-Datei vom 31.07.2020 von OTTO wurde eingespielt. Dadurch wurden für Attribut- und Merkmalverknüpfung neue Verknüpfungsmöglichkeiten und Vorgabewerte bereitgestellt. <a href="https://forum.plentymarkets.com/uploads/short-url/L8Z7zp1GYn9rMToHJmQqM0tONV.xlsx" target="_blank" rel="noopener">Die Datei könnt ihr hier herunterladen und als Referenz nutzen.</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<h3 id="_shopbuilder" class="discrete">ShopBuilder</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Öffnen eines Inhalts im ShopBuilder wird nun initial nur der Teil der Seite (Header/Body/Footer) geladen, für den der Inhalt geöffnet wurde. Für die anderen beiden Bestandteile der Seite wird jeweils ein Platzhalter mit dem Namen des jeweiligen Inhalts angezeigt. Durch Klick auf den Bearbeitungsbereich der anderen Seitenbestandteile werden diese nachgeladen; der initial geladene Seitenteil bleibt dabei bestehen.
Die nicht vom jeweiligen Seitenbestandteil genutzten Widgets im Widgetbaum (bspw. die Header-Widgets) werden ebenfalls erst auf Bedarf nachgeladen.</p>
<div class="paragraph">
<p>Dadurch konnte die initale Ladezeit des ShopBuilders im Durchschnitt um mehr als 50% reduziert werden.</p>
</div>
</li>
</ul>
</div>
<h3 id="_zahlungsverkehr_ui_beta" class="discrete">Zahlungsverkehr-UI (beta)</h3>
<div class="ulist">
<ul>
<li>
<p>Die Schaltflächen <strong>Zurücksetzen</strong> und <strong>Suchen</strong> in der Suche bleiben am oberen Rand verankert, wenn man in den Filtern scrollt.</p>
</li>
<li>
<p>Die Schaltflächen für die Gruppenfunktion in der Übersichtstabelle der Zahlungen bleiben am oberen Rand verankert, wenn man scrollt.</p>
</li>
<li>
<p>Die Schaltflächen für die Aktionen in der Detailansicht einer Zahlung bleiben am oberen Rand verankert, wenn man scrollt.</p>
</li>
<li>
<p>Bei einer direkten Zuordnung der Zahlung zu einem Auftrag erscheint in der Zuordnungstabelle der Detailansicht der Text <em>Direktzuordnung</em> statt einer prozentualen Angabe. Damit soll der Unterschied zwischen einer vom System ermittelten und einer manuellen Zuordnung deutlich werden.</p>
</li>
</ul>
</div>
<h3 id="_zalando" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Unter <strong>Einrichtung » Märkte » Zalando » Einstellungen » Tab: Verarbeitungsberichte</strong> wurde im Bereich der Produkt-Status-Berichte die Spalte <strong>Datum Erstellung</strong> ergänzt, sodass nachvollzogen werden kann, wann die Datei zuletzt erzeugt wurde.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_crm_2" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Nach dem Speichern wurden Eingabefelder der Kontaktoptionen und Tags nicht geleert und beim Anlegen eines weiteren Kontaktes erneut mit vorherigen Werten angezeigt.</p>
</li>
<li>
<p>Die Dropdown-Liste der Kundenklasse wurde nicht als Pflichtfeld erkannt.</p>
</li>
<li>
<p>Das Format der E-Mail Adresse wurde nicht korrekt validiert.</p>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Hat man in einem Sync eine neue Datei hochgeladen, so wurde diese auch bei Anlage eines neuen Imports verwendet. Diesen Fehler haben wir behoben.</p>
</li>
</ul>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Container-Verknüpfungen werden nicht mehr entfernt, wenn ein Datenanbieter vor dem Speichern der Verknüpfungen nicht geöffnet wurde.</p>
</li>
</ul>
</div>
<h3 id="_varianten" class="discrete">Varianten</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist wieder möglich, in 2 Zuordnungen bestimmte Variantendaten zu löschen und anschließend neu zu setzen. Beispielsweise Tags und Pakete.</p>
</li>
</ul>
</div>
<h3 id="_versand" class="discrete">Versand</h3>
<div class="ulist">
<ul>
<li>
<p>Die volumenabhängige Versandkostenberechnung hatte unter Umständen nicht mehr funktioniert. Das wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_zahlungsverkehr_ui_beta_2" class="discrete">Zahlungsverkehr-UI (beta)</h3>
<div class="ulist">
<ul>
<li>
<p>Lastschriftzahlungen konnten nicht zugeordnet werden. Dies wurde nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_zalando_2" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Beim erstmaligen Durchlaufen des Assistenten blieb der Schritt <strong>Konto-Aktivierung</strong> leer.</p>
</li>
<li>
<p>Sobald das erste Mal ein Artikelstatusbericht erzeugt wurde, konnte der Assistent nicht mehr abgeschlossen werden.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_gelöscht" class="discrete">Gelöscht</h2>
<div class="paragraph">
<p>Folgende Funktionalität wurde in den letzten 7 Tagen auf <strong>stable</strong> gelöscht.</p>
</div>
<h3 id="_zalando_3" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Unter <strong>Einrichtung » Märkte » Zalando » Einstellungen » Tab: Einstellungen » Bereich: Grundkonfiguration</strong> wurde die Einstellung <strong>Preisspalte</strong> entfernt. Da diese Einstellung bereits lange ohne Funktion ist, ändert sich für bestehende Integrationen nichts. Verkaufspreise werden weiterhin gemäß ihrer Einstellungen exportiert.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_versand_2" class="discrete">Versand</h3>
<div class="ulist">
<ul>
<li>
<p>Wie in <a href="https://forum.plentymarkets.com/t/ankuendigung-umzug-versanddienstleister-logs-announcement-moving-the-shipping-service-provider-logs/594821" target="_blank" rel="noopener">diesem Beitrag im Forum</a> bereits angekündigt, wurden die Logs aus dem Bereich <strong>Daten » API-Log » Versand Center API-Log</strong> in den Log-Bereich <strong>Daten » Log</strong> umgezogen. Übergangsweise stehen die Logs in beiden Log-Bereichen zur Verfügung.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_nachbestellungen" class="discrete">Nachbestellungen</h3>
<div class="ulist">
<ul>
<li>
<p>Die Einstellungen <strong>Standard-Sender</strong> und <strong>Standard-Empfänger</strong> können auf keine Auswahl zurückgesetzt werden.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_aktionsmanager" class="discrete">Aktionsmanager</h3>
<div class="ulist">
<ul>
<li>
<p>Im Aktionsmanager beim Mandanten Filter wird nun der Name angezeigt, wenn keine Domain festgelegt ist.</p>
</li>
</ul>
</div>
<h3 id="_crm_3" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Umwandeln von Gastbestellern zu regulären Kundenkonten wurde keine Fehlermeldung ausgegeben, wenn die E-Mail-Adresse des Gastes bereits für einen bestehenden Kunden genutzt wird. Dieser Fehler wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_import_2" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Das Importieren von Varianten bei denen die Variantennummer automatisch generiert wird, hat zu einem Fehler geführt. Dadurch wurden einige Werte nicht importiert.</p>
</li>
<li>
<p>Die Aktionen in jeder Zuordnung werden nun wieder nacheinander abgearbeitet. Dadurch lässt sich z.B. die Vererbung am Ende eines Imports wieder wie gewohnt aktivieren.</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Bei der Zuordnung der Sprache wird ab sofort wieder automatisch ein Standardwert ausgegeben.</p>
</li>
</ul>
</div>
<h3 id="_nachbestellungen_2" class="discrete">Nachbestellungen</h3>
<div class="ulist">
<ul>
<li>
<p>Keine Fehlermeldung mehr, wenn man die Einstellungen speichert, ohne einen Standard-Sender anzugeben.</p>
</li>
</ul>
</div>
<h3 id="_plugins_2" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Standard-Container-Verknüpfungen sind jetzt abhängig vom Plugin-Set, in dem das Plugin installiert ist.</p>
<div class="paragraph">
<p>Das bedeutet für dich, dass sich Standard-Container-Verknüpfungen nicht gegenseitig überschreiben, wenn ein Plugin in mehreren Plugin-Sets installiert ist.</p>
</div>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/wesioautoreorder_6557" target="_blank" rel="noopener">Automatische Nachbestellung mit individueller Berechnung</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cfourceresfurniture5_6866">Ceres Furniture 5</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/fruugo_6875">Fruugo.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/tracking_6452" target="_blank" rel="noopener">Google Tag Manager ENTERPRISE</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/pandablack_5889" target="_blank" rel="noopener">PANDA.BLACK</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/uniservaddresscleansing_6869" target="_blank" rel="noopener">Uniserv Address Cleansing</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/wayfair_6273" target="_blank" rel="noopener">Wayfair</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://github.com/wayfair-contribs/plentymarkets-plugin/releases/tag/v1.1.2" target="_blank" rel="noopener">Bekannte Probleme</a></p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div><div class="tab-pane fade" id="app" role="tabpanel" aria-labelledby="app-tab">
<h2 id="_behoben_3" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in Version 1.10.2 der <strong>plentymarkets App</strong> behoben.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Falls während einer rollenden Kommissionierung eine Box einem Auftrag zugeordnet und dieser Auftrag im Nachgang gelöscht wurde, wurde die Zuordnung nicht wieder aufgelöst. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
</div></div>
</main>