<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Changelog</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 22. Juli 2021 bis zum 28. Juli 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_katalog" class="discrete">Katalog</h3>
<div class="ulist">
<ul>
<li>
<p>In unserer Entwickler-Dokumentation findet ihr ab sofort Informationen zum <a href="https://developers.plentymarkets.com/en-gb/developers/main/export-plugins/dev-cache.html" target="_blank" rel="noopener">Dev cache</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> - ein Katalog-Feature, das es ermöglicht, die Rohdaten eines Katalogexports zwischenzuspeichern, um diese einfach wiederverwenden zu können.</p>
</li>
</ul>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>Im Zuge der Umstellung auf OTTO Order-v4 wurde nun der Gutschriftenimport erweitert, vereinfacht und verbessert. Mehr Informationen findest du in <a href="https://forum.plentymarkets.com/t/otto-market-neuer-prozess-des-gutschriftenimports-new-process-of-refund-import/645890" target="_blank" rel="noopener">diesem Forenpost</a>.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_artikel" class="discrete">Artikel</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort können Preiskalkulationen mit leeren Formeln nicht mehr gespeichert werden.</p>
</li>
<li>
<p>Ab sofort kann das Rundungsverhalten <strong>Nicht runden, sondern Nachkommastellen begrenzen</strong> ohne Auswahl von Nachkommastelle nicht mehr gespeichert werden.</p>
</li>
<li>
<p>Ab sofort wird die Fehlertabelle der Preiskalkulation auch über den Import geleert.</p>
</li>
</ul>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Installieren von Plugins wird die Quelle der Plugins in der Plugin-Liste jetzt immer angezeigt, ohne dass gescrollt werden muss, auch wenn die Liste ein Plugin mit einem sehr langen Namen enthält. Bei Plugins mit sehr langen Namen wird der vollständige Name abgeschnitten und ist über einen Tooltip einsichtbar.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Gruppieren oder Teilen von Aufträgen wurden auch die Lagerort-Informationen der ursprünglichen Aufträge übernommen, was zu einem Fehler bei der Erzeugung von Pick- und Packlisten führte, da die Auftrags-IDs nicht mehr gepasst haben. Dies wurde behoben. Bei künftigen gruppierten oder geteilten Aufträgen taucht dieses Verhalten nicht mehr auf. Bei betroffenen Aufträgen von vor dem Fix sollte die Lagerzuordnung gelöst und dann wieder zugewiesen werden, damit diese Aufträge auf den Pick- und Packlisten erscheinen.</p>
</li>
<li>
<p>Bei Netto Aufträgen mit der Herkunft <em>eBay UK</em> konnte es bei der Dokumenterstellung dazu kommen, dass die Netto-Versandkosten durch ihren Bruttobetrag überschrieben wurden. Dies wurde behoben.</p>
</li>
<li>
<p>Bei Änderungen an der Lieferadresse wurden die Steuersätze an den Auftragspositionen neu ermittelt, was zu einer Überschreibung von manuellen Anpassungen führen konnte. Zukünftig wird der Steuersatz nur noch dann neu ermittelt, wenn sich an der Lieferadresse steuerrelevante Informationen ändern.</p>
</li>
<li>
<p>Bei der Auftragsanlage konnte es in Zusammenhang mit Verkaufsgutscheinen und bereits existierenden Gutscheincodes zu Problemen bei dem Abgleich kommen. Dies konnte dazu führen das zusätzlich ein neuer Gutscheincode in der entsprechenden Kampagne generiert wurde. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_kaufland" class="discrete">Kaufland</h3>
<div class="ulist">
<ul>
<li>
<p>Durch einen Fehler beim Bestands- und Preisabgleich wurden die Versandgruppen nicht an Kaufland übertragen. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Durch einen Fehler wurden beim Bestands- und Preisabgleich Barcodes verwendet, welche nicht für Kaufland freigegeben waren. Dieses Verhalten wurde behoben. Für den Export wird der Barcode des Typs GTIN13 mit der niedrigsten ID verwendet, der mit der Herkunft Kaufland.de verknüpft ist und über eine gültige EAN verfügt.</p>
</li>
<li>
<p>Aufgrund eines Fehlers wurde die automatisch erzeugte Zahlung bei Kaufland-Aufträgen mit einer falschen Zahlungsart verknüpft. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Durch einen Fehler konnte es in einigen Fällen dazu kommen, dass Kaufland zum Download einer Produktdaten- oder Inventory-CSV aufgefordert wurde, die noch nicht generiert wurde. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_plugins_2" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn das Menü <strong>Plugins » Plugin-Set-Übersicht</strong> geöffnet wurde bevor das Dashboard fertig geladen war, hat das plentymarkets System nicht mehr reagiert. Dieses Problem wurde behoben.</p>
</li>
<li>
<p>Bei neu bestellten Systemen wurde der Name des Hauptmandanten nicht in den Menüs <strong>Plugins » Plugin-Set-Übersicht</strong> und <strong>Backend-Plugin-Set</strong> angezeigt. Dadurch war es nicht offensichtlich, dass der Hauptmandant mit einem Plugin-Set verbunden ist. Dieses Problem wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_katalog_2" class="discrete">Katalog</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist jetzt möglich, mehrere benutzerdefinierte Converter für Marktplatz-Exporte zu registrieren. Dabei ist jedoch zu beachten, dass result converters jetzt über die Methode getResultConverterContainer in der <a href="https://developers.plentymarkets.com/en-gb/interface/stable7/Catalog.html#catalog_providers_abstractgroupedtemplateprovider" target="_blank" rel="noopener">template provider-Klasse</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> registriert werden müssen. Weitere Informationen zu den Änderungen sind in der <a href="https://developers.plentymarkets.com/en-gb/developers/main/export-plugins/result-converters.html" target="_blank" rel="noopener">Result converter-Dokumentation</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> zu finden.</p>
</li>
</ul>
</div>
<h3 id="_plentyshop" class="discrete">plentyShop</h3>
<div class="ulist">
<ul>
<li>
<p>Die neue Warenkorblogik <strong>Order Preview</strong> wurde aktiviert. Dadurch ändert sich im Hintergrund die Art und Weise, wie Artikelpreise und Summen im Warenkorb berechnet werden. Dadurch werden Rundungsdifferenzen zwischen Warenkorb und Bestellbestätigung vermieden.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Fehler wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn ein Artikel zwei verschiedenen Lagern zugeordnet ist, kann man das passende Lager in der Artikelsuche einer Umbuchung auswählen. Wenn eine Transaktion ausgeführt werden sollte, wurde dann aber nicht das richtige Lager zugeordnet. Dies wurde behoben.</p>
</li>
<li>
<p>Wenn die Menge einer Auftragsposition geändert wurde und man danach noch die Menge einer weiteren Auftragsposition änderte, wurde die Menge der ersten geänderten Auftragsposition fälschlicherweise übernommen. Dies wurde behoben.</p>
</li>
<li>
<p>Unter seltenen Umständen wurde bei Auftragsanlage über den Webshop der falsche Steuersatz über die Zolltarifnummer ermittelt und an den Positionen zugewiesen. Dies wurde behoben.</p>
</li>
<li>
<p>Bei Ausfuhrlieferungen, bei denen die Einstellung bzgl. der Anzeige der MwSt. der Versandkosten auf <strong>Nur Inland und EU</strong> gesetzt ist, wurden die Summen nicht richtig gesetzt, da die Versandkosten keine MwSt. haben. Dadurch kam es beim FiBu-Export bei Gutschriften zu fehlhaften Ausgaben (Aufträge waren auch betroffen, die Summen wurden aber bei Rechnungserzeugung korrigiert, was bei der Gutschrift nicht der Fall ist). Nun werden die Versandkosten ohne MwSt. im Feld <strong>OrderAmount.taxlessAmount</strong> gespeichert und kommen auch entsprechend im FiBu-Export korrekt raus.</p>
</li>
<li>
<p>Bei der letzten Umstellung der Nachbestellung-UI auf die neue Navigation wurde versehentlich für den Filter <strong>Beschränken auf Lieferant</strong> eine falsche Übersetzung genutzt. Dies wurde behoben. Die Funktionalität des Filters war nicht betroffen.</p>
</li>
<li>
<p>Das Intervall in einem Abonnement wurde nach einer Änderung nicht gespeichert. Dies ist nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>In den Prozessen wurden die englischen Fehlermeldungen falsch dargestellt. Dieses Verhalten wurde behoben. Zusätzlich wurden einige Fehlermeldungen im Menü Daten » Log überarbeitet.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cfourarticlenotifications5_6976" target="_blank" rel="noopener">Artikel Verfügbarkeitsbenachrichtigung 5</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.0.7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/deliveryshippingsync_54798" target="_blank" rel="noopener">DeliveryShippingSync</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dotsliderwidget_54878" target="_blank" rel="noopener">Dot Slider</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebaysdk_4784" target="_blank" rel="noopener">eBay SDK</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/enderecoaddressautocomplete_6622" target="_blank" rel="noopener">Endereco Address Autocomplete</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/etsy_4689" target="_blank" rel="noopener">Etsy</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.43</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/findologic_6390" target="_blank" rel="noopener">Findologic - Search &amp; Navigation Platform</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.7.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/formatdesigner_6483" target="_blank" rel="noopener">FormatDesigner</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/hermesshippinginterface_5437" target="_blank" rel="noopener">Hermes</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.19</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/elasticexportidealode_4723" target="_blank" rel="noopener">idealo.de</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.3.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/klarna_6731" target="_blank" rel="noopener">Klarna</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.3.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/metro_6600" target="_blank" rel="noopener">Metro</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/payone_5434" target="_blank" rel="noopener">PAYONE</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.1.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/rewe_5901" target="_blank" rel="noopener">REWE</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.25.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/schufa_6360" target="_blank" rel="noopener">Schufa Bonitätsprüfung</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/shopify_4944" target="_blank" rel="noopener">Shopify.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.9.7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/sirvcdn_54764" target="_blank" rel="noopener">webP Bilder-Support</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/woocommerce_5102" target="_blank" rel="noopener">woocommerce.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.9.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>