<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Changelog</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 02. Dezember 2021 bis zum 08. Dezember 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist jetzt möglich zu konfigurieren, welche Auftragseigenschaften beim Erstellen von Kindaufträgen kopiert werden sollen. Die Einstellung befindet sich unter <strong>Einrichtung » Aufträge » Eigenschaftskopie</strong>.</p>
</li>
</ul>
</div>
<h3 id="_fulfillment" class="discrete">Fulfillment</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben im Menü <strong>Einrichtung » Aufträge » Ereignisse</strong> in der Ereignisgruppe Plugins die Ereignisaktion Versandlabel bei Amazon Prime anfordern hinzugefügt.</p>
</li>
</ul>
</div>
<h3 id="_warenwirtschaft" class="discrete">Warenwirtschaft</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn man alle Lagerorte einer Eltern Dimension löschen wird, wird auch diese übergeordnete Dimension automatisch gelöscht. Das bedeutet für dich, dass du die Dimensionen eines Lagers nicht mehr händisch löschen musst, wenn diese Dimensionen keine Lagerorte mehr enthalten. <em>Hinweis:</em> Diese Funktionalität wirkt nicht rückwirkend auf die Lagerdimensionen, die zur Zeit keine Lagerorte enthalten.</p>
</li>
</ul>
</div>
<h3 id="_zalando" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben neue Auftragsherkünfte für Zalando für die unterschiedlichen Verkaufskanäle von Zalando ergänzt:</p>
<div class="ulist">
<ul>
<li>
<p><code>118.01</code> ⇒ Zalando DE</p>
</li>
<li>
<p><code>118.02</code> ⇒ Zalando NL</p>
</li>
<li>
<p><code>118.03</code> ⇒ Zalando FR</p>
</li>
<li>
<p><code>118.04</code> ⇒ Zalando IT</p>
</li>
<li>
<p><code>118.05</code> ⇒ Zalando UK</p>
</li>
<li>
<p><code>118.06</code> ⇒ Zalando AT</p>
</li>
<li>
<p><code>118.07</code> ⇒ Zalando CH</p>
</li>
<li>
<p><code>118.08</code> ⇒ Zalando PL</p>
</li>
<li>
<p><code>118.09</code> ⇒ Zalando BE</p>
</li>
<li>
<p><code>118.10</code> ⇒ Zalando SE</p>
</li>
<li>
<p><code>118.11</code> ⇒ Zalando FI</p>
</li>
<li>
<p><code>118.12</code> ⇒ Zalando DK</p>
</li>
<li>
<p><code>118.13</code> ⇒ Zalando ES</p>
</li>
<li>
<p><code>118.14</code> ⇒ Zalando NO</p>
</li>
<li>
<p><code>118.15</code> ⇒ Zalando CZ</p>
</li>
<li>
<p><code>118.16</code> ⇒ Zalando IE</p>
</li>
<li>
<p><code>118.17</code> ⇒ Zalando PT</p>
</li>
<li>
<p><code>118.18</code> ⇒ Zalando SK</p>
</li>
<li>
<p><code>118.19</code> ⇒ Zalando SI</p>
</li>
<li>
<p><code>118.20</code> ⇒ Zalando LT</p>
</li>
<li>
<p><code>118.21</code> ⇒ Zalando LV</p>
</li>
<li>
<p><code>118.22</code> ⇒ Zalando EE</p>
</li>
<li>
<p><code>118.23</code> ⇒ Zalando HR</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Aufträge werden jetzt mit den entsprechenden Auftragsherkünften importiert. Aufträge, die bereits auf <code>118.00</code> importiert wurden, bleiben auf dieser Auftragsherkunft.
Ereignisaktionen, bei denen als Filter für die Auftragsherkunft die <code>118.00</code> gewählt wurde, werden auch für die untergeordneten Herkünfte ausgelöst, deswegen ist keine Anpassung notwendig.</p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_otto_market" class="discrete">OTTO market</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Update der Artikeldaten wurden bisher Varianten ohne positiven Nettowarenbestand nicht exportiert. Dies sorgte z.B. für Komplikationen, wenn die Produktgruppe eines Artikels geändert werden musste, weil dazu alle Varianten des Artikels aktualisiert werden müssen. Dies funktionierte nicht, wenn diese aufgrund des fehlenden positiven Nettowarenbestands ausgeschlossen waren. Zu unterscheiden ist jetzt zwischen drei Aktionen, die im selben Prozess durchgeführt werden.</p>
<div class="ulist">
<ul>
<li>
<p>Die Erstellung einer Variante auf OTTO Market.</p>
</li>
<li>
<p>Das Update der Variantendaten auf OTTO Market. (Texte, Attribute, Lieferzeiten etc.)</p>
</li>
<li>
<p>Die Reaktivierung einer deaktivierten Variante auf OTTO Market.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Das Update der Variantendaten wird jetzt auch ohne positiven Nettowarenbestand durchgeführt, wenn das Produkt bereits angelegt wurde. Die Reaktivierung einer deaktivierten Variante, sowie die Erstellung einer Variante erfordert weiterhin, dass die Variante positiven Nettowarenbestand hat.</p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Durch mehrfaches Klicken auf den „Auftrag erstellen“ Button werden nun nicht mehr mehrfach Aufträge angelegt.</p>
</li>
<li>
<p>Ein Fehler in der Konsole beim Öffnen der UI wurde behoben.</p>
</li>
<li>
<p>Es konnte in seltenen Fällen zu Problemen mit der Versandprofilermittlung kommen, wenn der Auftrag einen Coupon enthalten hat.</p>
</li>
<li>
<p>Wenn der Rabatt einer Auftragsposition als fester Rabatt angegeben ist, dann stimmt die Anzeige des prozentualen Rabattes nicht. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_auftragsanlage_beta" class="discrete">Auftragsanlage (beta)</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Verwenden von Auftragsvorlagen in der Auftragsanlage (Beta) konnte es zu einem Fehler beim Hinzufügen der Auftragspositionen kommen, wodurch auch andere Daten der Vorlage, wie die Zahlungsart, nicht übernommen wurden. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Das Auswählen von dynamischen Vorlagen im EmailBuilder war nicht möglich. Es öffnete sich keine Dropdown-Liste. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Es war möglich, dass per Import ein Kategoriename leer importiert werden konnte. Das führte zu einer fehlerhaften Anzeige im Backend. Dieses Verhalten wurde nun angepasst und es ist nicht mehr möglich, einen leeren Namen zu importieren.</p>
</li>
</ul>
</div>
<h3 id="_neckermann_at" class="discrete">Neckermann.at</h3>
<div class="ulist">
<ul>
<li>
<p>Bei Aufträgen von Neckermann.at kam es teilweise dazu, dass Straße und Hausnummer zusammen in plenty im Adressfeld „Straße“ eingetragen wurden statt getrennt in Straße und Hausnummer. Die Logik zur Trennung dieser Felder wurde angepasst.</p>
<div class="paragraph">
<p>Zu beachten ist, dass weiterhin nicht ausgeschlossen werden kann, dass die Hausnummer nicht aus den Daten von Neckermann extrahiert werden kann, wenn der Endkunde den Datensatz nicht ordentlich hinterlegt hat.</p>
</div>
</li>
</ul>
</div>
<h3 id="_payment" class="discrete">Payment</h3>
<div class="ulist">
<ul>
<li>
<p>In der Zahlungsverkehr-UI haben die Filter für Transaktions-ID und Transaktionscode nicht korrekt funktioniert. Dies wurde nun behoben.</p>
</li>
<li>
<p>Wenn eine Zahlung in der neuen Zahlungs-UI in der Detailansicht einem Auftrag zugeordnet wurde oder auch die Zuordnung gelöst wurde konnte es dazu kommen, dass der Betrag nicht korrekt am Auftrag gebucht wurde. Der bezahlte Betrag wurde nicht entsprechend erhöht oder reduziert und somit auch nicht der Zahlungsstatus aktualisiert. Das beschriebene Verhalten wurde entsprechend korrigiert.</p>
</li>
<li>
<p>In der neuen Zahlungs-UI kam es zu Problemen beim löschen von bestätigten EBICS-Zahlungen, die bereits mit einem Vormerkposten verknüpft waren, dieser jedoch schon gelöscht und nicht einem Auftrag zugeordnet war. Dies wurde nun behoben, sodass diese Zahlungen entsprechend gelöscht werden können.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>In der Aktion Auftragssuche (Lagerort) wurden zwei Fehlermeldungen angezeigt, wenn kein Auftrag gefunden wurde. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Der Filter Zahlung in den Prozessen hat nicht korrekt funktioniert. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_zalando_2" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Die Auftragsposition für die Versandkosten wurde mit der Hauptauftragsherkunft <code>118.00</code> statt mit der kanalspezifischen untergeordneten Auftragsherkunft angelegt. Dies hat keinen direkten Einfluss auf Prozesse und ist nur per REST-API sichtbar. Dies wurde nun korrigiert. Bei bereits erstellten Versandkostenposition wird es aber wegen der geringen Auswirkung nicht korrigiert.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt die <strong>Einkaufspreise</strong> der Artikel, die in der Warenbewegungen angezeigt werden, und die <strong>Tags</strong> mit dem Katalog Format <strong>Warenbewegungen</strong> exportieren.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_payment_2" class="discrete">Payment</h3>
<div class="ulist">
<ul>
<li>
<p>Eine neue Infobox wurde zum Menü <strong>Zahlung teilen</strong> hinzugefügt. Sie zeigt den Wert des Restbetrags an. Die Infobox wird angezeigt, nachdem eine Zahlung für die Aufteilung ausgewählt wurde.</p>
</li>
<li>
<p>Die Infoboxen werden jetzt in einer Zeile angezeigt.</p>
</li>
<li>
<p>Dem Menü wurde eine neue Symbolleiste oben hinzugefügt.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Es konnte in seltenen Fällen dazu kommen, dass im Suchindex für Aufträge nicht aktuelle Daten waren.</p>
</li>
</ul>
</div>
<h3 id="_payment_3" class="discrete">Payment</h3>
<div class="ulist">
<ul>
<li>
<p>Nach dem Benutzen einer Gruppenfunktion in der Zahlungsverkehr-UI werden die Filter nun nicht mehr zurückgesetzt.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/customcontainercontent_6232" target="_blank" rel="noopener">25x Custom TWIG/JS/CSS Container</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/categorywidgets_55035" target="_blank" rel="noopener">3 Kategorie Widgets</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/marketingwidgets_55037" target="_blank" rel="noopener">3 Marketing Shopbuilder-Widgets</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/serversidetesting_55039" target="_blank" rel="noopener">A/B Testing-Tool (serverseitig)</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/addphonetoorderwidget_54796" target="_blank" rel="noopener">Abfrage der Telefonnummer nach Bestellabschluss - Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/adcelltracking_6493" target="_blank" rel="noopener">ADCELL Conversion Tracking</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.12</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/magiczoomplus_6092" target="_blank" rel="noopener">Artikelbilder Zoom - Magic Zoom Plus</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.1.8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/itemgridwidget_55036" target="_blank" rel="noopener">Artikel-Listen Raster, Slider oder Einzeldarstellung</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/itemavailabilityinfo_6962" target="_blank" rel="noopener">Artikelverfügbarkeit Info</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.6.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/billigerdetracking_6126" target="_blank" rel="noopener">billiger.de Conversion Tracking</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.11</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cookiebar_4809" target="_blank" rel="noopener">CookieBar von Frontend Studios</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.1.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dhlshipping_4871" target="_blank" rel="noopener">DHL Shipping (Versenden)</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.1.14</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebayanalytics_5144" target="_blank" rel="noopener">eBay Analytics</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das eBay OAuth2 Plugin ist für das eBay Analytics Plugin nicht mehr erforderlich, da es in den Kern von plentymarkets umgezogen wurde. Es ist nun erforderlich, die OAuth2-Kontodaten im Menü <strong>Einrichtung » Märkte » eBay » Konten » OAuth2</strong> zu speichern, wenn noch nicht geschehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebayfeedback_5537" target="_blank" rel="noopener">eBay Feedback</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das eBay OAuth2 Plugin ist für das eBay Feedback Plugin nicht mehr erforderlich, da es in den Kern von plentymarkets umgezogen wurde. Es ist nun erforderlich, die OAuth2-Kontodaten im Menü <strong>Einrichtung » Märkte » eBay » Konten » OAuth2</strong> zu speichern, wenn noch nicht geschehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebayfiege_6018" target="_blank" rel="noopener">eBay Fulfillment</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.33</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das eBay OAuth2 Plugin ist für das eBay Fulfillment Plugin nicht mehr erforderlich, da es in den Kern von plentymarkets umgezogen wurde. Es ist nun erforderlich, die OAuth2-Kontodaten im Menü <strong>Einrichtung » Märkte » eBay » Konten » OAuth2</strong> zu speichern, wenn noch nicht geschehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebaymarketing_5158" target="_blank" rel="noopener">eBay Marketing</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das eBay OAuth2 Plugin ist für das eBay Marketing Plugin nicht mehr erforderlich, da es in den Kern von plentymarkets umgezogen wurde. Es ist nun erforderlich, die OAuth2-Kontodaten im Menü <strong>Einrichtung » Märkte » eBay » Konten » OAuth2</strong> zu speichern, wenn noch nicht geschehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/edon_6618" target="_blank" rel="noopener">FairGeben</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.3.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/googleanalyticsgtag_54921" target="_blank" rel="noopener">Google Analytics GTAG</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.5.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/googleanalyticsrefunder_6657" target="_blank" rel="noopener">Google Analytics Rückerstattung</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.10</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">link:https://marketplace.plentymarkets.com/googletagmanagerultimate_54789[Google Tag Manager + Conversions API</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">17 Tools in einem^]</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.8</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/wartungsmodus_5812" target="_blank" rel="noopener">Individueller Wartungsmodus</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.11</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/metro_6600" target="_blank" rel="noopener">Metro</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.1.2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/mobilenavigation_55038" target="_blank" rel="noopener">Optimierte mobile Navigation</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.5</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/wishlistwidgets_55040" target="_blank" rel="noopener">Optimierte Wunschliste + Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.3</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/itemvideoplugin_6915" target="_blank" rel="noopener">Produkt Video Plugin</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.5.5</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/easycredit_5109" target="_blank" rel="noopener">ratenkauf by easyCredit</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.3.4</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/smsnotification_7105" target="_blank" rel="noopener">SMS Notifications</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/sirvcdn_54764" target="_blank" rel="noopener">webP Bilder-Support - schnellere Ladezeit!</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.8</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/conditionwidget_54782" target="_blank" rel="noopener">WENN / DANN Shopbuilder-Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.7</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>