<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Changelog</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 03. Februar 2022 bis zum 09. Februar 2022 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="handbuch-tab" data-toggle="tab" href="#handbuch" role="tab" aria-controls="handbuch" aria-selected="false">Handbuch</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Für die neuen Bestelleigenschaften haben wir eine neue Variable <code>$OrderItemOrderPropertyValue</code> für die E-Mail Vorlagen eingeführt (nur unter <code>$ItemListPlain</code> bzw. <code>$ItemListHTML</code> verfügbar), die den Wert der Bestelleigenschaft ausgibt. Da die neuen Bestelleigenschaften als Auftragspositionen behandelt werden, wurde bisher nur der Name der Bestelleigenschaft aber nicht deren Wert ausgegeben.</p>
</li>
<li>
<p>Es ist nun möglich unter <strong>Einrichtung » Aufträge » Auftragstypen » Reparatur</strong> den Status der Reparatur und den Artikelzustand mehrsprachig zu hinterlegen. Ebenfalls besteht diese Möglichkeit für die Retourengründe unter <strong>Einrichtung » Aufträge » Auftragstypen » Retoure</strong>.</p>
</li>
<li>
<p>In der Übersichtstabelle der Nachbestellungen und Umbuchungen werden jetzt Tags angezeigt.</p>
</li>
<li>
<p>Ein Filter für Tags wurde hinzugefügt.</p>
</li>
<li>
<p>In der Artikelsuche wird jetzt die neue Filterkomponente verwendet.</p>
</li>
</ul>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>In EmailBuilder wurde das Feld <strong>Wert der Bestelleigenschaft</strong> eingeführt.</p>
</li>
</ul>
</div>
<h3 id="_eigenschaften" class="discrete">Eigenschaften</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt Eigenschaftsgruppen per Gruppenfunktion ver- und entknüpfen.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/eigenschaftsgruppen.png" alt="eigenschaftsgruppen" width="640"></span></p>
</div>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt nach Artikelpaketen, Bestandteilen und Varianten-IDs, die in Artikelpaketen nicht enthalten werden, filtern. Der Filter heißt <strong>Artikelpaket</strong> und ist im Katalog-Format <strong>Warenbestände</strong> verfügbar. Mehrfachauswahl ist möglich. Man kann also z.B. nach <strong>nicht Teil eines Pakets</strong> und <strong>Teil eines Pakets</strong> gleichzeitig filtern.</p>
</li>
<li>
<p>Ab sofort kannst du Artikeldaten mit einem Katalog an die unten aufgelisteten Preisportale exportieren. Die Marktplatz-Formate für die Preisportale findest du jetzt im Menü <strong>Daten » Kataloge</strong>. Der Katalogexport ist jetzt für die folgenden Preisportale verfügbar:</p>
<div class="ulist">
<ul>
<li>
<p>BeezUp</p>
</li>
<li>
<p>billiger.de</p>
</li>
<li>
<p>Criteo</p>
</li>
<li>
<p>econda</p>
</li>
<li>
<p>guenstiger.de</p>
</li>
<li>
<p>Shopping.com</p>
</li>
<li>
<p>Twenga</p>
<div class="paragraph">
<p>Bisher war der Export von Artikeldaten an diese Preisportale nur über den Elastischen Export möglich. Beim Wechsel auf den Artikeldatenexport mit Katalogen solltest du deshalb Folgendes beachten:</p>
</div>
</li>
<li>
<p>Merkmale und Freitextfelder können für den Katalogexport nicht mehr verwendet werden. Prüfe deshalb, welche Merkmale du aktuell für das Preisportal verwendest. Erstelle Eigenschaften für alle Merkmale, die du weiterhin benötigst.</p>
</li>
<li>
<p>Beim Wechsel solltest du deinen alten Elastischen Export exakt in dem neuen Katalog nachbauen, damit der Artikelexport weiterhin funktioniert. Ordne also alle Datenfelder so zu, wie sie auch im Elastischen Export an das Preisportal übertragen wurden. Wenn du bestimmte Datenfelder anders als bisher zuordnest, werden möglicherweise beim Export neue Artikel erstellt.</p>
</li>
<li>
<p>Wie du einen Katalog für das Preisportal einrichtest, erfährst du auf den Handbuchseiten der entsprechenden Preisportale im plentymarkets Handbuch.</p>
</li>
</ul>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Der Elastische Export und die Exportformate werden nicht mehr weiterentwickelt. Wir empfehlen dir deshalb, schon jetzt Kataloge für deine Preisportale zu erstellen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_amazon" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Die kategoriespezifsche Lagerbestandsdateivorlagen der Kategorie <strong>HomeImprovement</strong> (benutzt für den Artikeldatenexport) wurden für alle europäischen Verkaufsplattformen aktualisiert.</p>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Bitte legt ein besonderes Augenmerk auf die Änderung der Felder <strong>bullet_point1</strong> bis <strong>bullet_point5</strong> (zuvor) zu <strong>bullet_point1</strong> bis <strong>bullet_point10</strong> (jetzt).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die neu hinzugefügten Felder <strong>bullet_point6</strong> bis <strong>bullet_point10</strong> werden, wie auch zuvor für <strong>bullet_point1</strong> bis <strong>bullet_point5</strong>, standardmäßig aus den technischen Details des Artikels in den Export übernommen (falls vorhanden/gepflegt). Es ist natürlich weiterhin möglich, diese Werte über <a href="https://knowledge.plentymarkets.com/maerkte/amazon/varianten-vorbereiten#1390" target="_blank" rel="noopener">Eigenschaften</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> oder über <a href="https://knowledge.plentymarkets.com/maerkte/amazon/varianten-vorbereiten#1400" target="_blank" rel="noopener">Merkmale</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> zu überschreiben.</p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_amazon_2" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Es konnte dazu kommen, dass Eigenschaften bei dem Artikeldatenexport nicht gezogen wurden. Dieses Verhalten ist nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Bei Anlage einer Gewährleistung für alle Positionen über eine Retoure kam es zu einem Anzeigefehler in der UI.</p>
</li>
<li>
<p>Während der Erstellung eines Auftrags konnten die Preise in einigen bestimmten Fällen nicht aktualisiert werden. Dies ist nun behoben.</p>
</li>
<li>
<p>Bei Bestelleigenschaften vom Typ Mehrfachauswahl und Auswahl wurden die ausgewählten Werte nicht korrekt auf der Packliste angezeigt. Auch wurden nicht alle Namen der Bestelleigenschaften korrekt angezeigt. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_2" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Man konnte bisher nur die Herkunft der Auftragspositionen exportieren, denn durch einen Fehler war das Feld für die Auftragsherkunft nicht sichtbar und somit nicht auswählbar. Dies wurde behoben.</p>
</li>
<li>
<p>Wenn man den Filter nach Datum im Katalogformat <strong>Warenbestände</strong> benutzt hat, wurden nicht alle Varianten-IDs angezeigt.
Der Fehler wurde nun behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_ebay" class="discrete">eBay</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst jetzt beim eBay-Listing-Import die Lagerhaltungsnummer(SKU) von eBay auch mit der externen Varianten-ID vergleichen und die Listings entsprechend darüber zuordnen. Die Option dafür nennt sich <strong>Lagerhaltungsnummer (SKU) mit der externen Varianten-ID vergleichen</strong>.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_3" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>In den Exporteinstellungen der Kataloge findest du ab sofort die Schaltfläche <strong>Verbindung testen</strong>. Damit kannst du testen, ob mit den eingegebenen Servereinstellungen eine Exportdatei gespeichert werden kann. Dabei wird getestet, ob ein Dateiexport möglich ist. Es wird nicht geprüft, ob eine Verbindung zu einem Marktplatz hergestellt werden kann. Neugierig? <a href="https://knowledge.plentymarkets.com/daten/daten-exportieren/dateiexport#export-settings" target="_blank" rel="noopener">Im Handbuch</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> erfährst du mehr.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>* Innerhalb der Subaktion <strong>Versandpakete</strong> wird nun der Fokus automatisch auf das Gewichtsfeld gelegt, sodass dort direkt ohne vorher zu klicken das Gewicht eingetragen werden kann.</p>
</li>
</ul>
</div>
<h3 id="_warenwirtschaft" class="discrete">Warenwirtschaft</h3>
<div class="ulist">
<ul>
<li>
<p>Bis jetzt wurde das Lieferdatum der Nachbestellung im Zulauf der Varianteneinstellungen angezeigt. Ab jetzt wird das Lieferdatum der Varianten-ID ausgestellt. Wenn das Lieferdatum der Variante fehlt, wird weiterhin das Lieferdatum der Nachbestellung als Fallback angezeigt.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/lieferdatum-zulauf.png" alt="lieferdatum zulauf" width="640"></span></p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_abonnement" class="discrete">Abonnement</h3>
<div class="ulist">
<ul>
<li>
<p>Die Zeilen in der Warenkorbtabelle sind gesprungen, wenn die Schaltfläche zum Aktualisieren sichtbar geschaltet wurde. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Bei der Suche nach Bestellungen wurde das Händlerzeichen nicht mehr im Suchergebnis angezeigt. Dies wurde behoben.</p>
</li>
<li>
<p>Bei neuen Systemen und gelöschten Standard-Testaufträgen und oder bei Löschung des Standard-Testlagers konnte man keine Vorschau der Adressetiketten öffnen, es kam immer eine Fehlermeldung. Dies wurde behoben.</p>
</li>
<li>
<p>In den <strong>Bestellungen</strong> wurde eine neue Infobox hinzugefügt, die die ID des Auftrags anzeigt. Außerdem wurde der Titel der Infobox <strong>Gesamtsumme Warenbezugskosten</strong> zu <strong>Warenbezug gesamt</strong> geändert. Die Übersichtstabelle wurde auf die volle Bildschirmhöhe erweitert und am Rand ist der Abstand geändert worden.</p>
</li>
<li>
<p>In den Warenbewegungen von Nachbestellungen wurden das Mindesthaltbarkeitsdatum und die Charge als Links angezeigt, obwohl diese nirgends geführt haben (keine Reaktion beim Klick auf den Links). Deshalb wurden die Links entfernt. Ausserdem wird nun das MHD mit dem aktiven Locale formatiert.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/nachbestellung-links.png" alt="nachbestellung links" width="640"></span></p>
</div>
</li>
</ul>
</div>
<h3 id="_payment" class="discrete">Payment</h3>
<div class="ulist">
<ul>
<li>
<p>Über das Menü <strong>Zahlungsverkehr</strong> war es nicht möglich eine Zahlung einem Auftrag zuzuordnen, der schon Zahlungen verknüpft hatte.</p>
</li>
</ul>
</div>
<h3 id="_prozesse_2" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Innerhalb der Aktion <strong>Artikelerfassung</strong> konnte es zu einem Verhalten kommen, bei dem fälschlicherweise versucht wurde, eine bereits geschlossene Pickliste erneut zu schließen. Dabei wurde eine Fehlermeldung angezeigt. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="handbuch" role="tabpanel" aria-labelledby="handbuch-tab">
<div class="paragraph">
<p>Version 7.6 der <strong>technischen Systembeschreibung</strong> (Vorlage für die Erstellung der unternehmensinternen Verfahrensdokumentation) für plentymarkets ist nun verfügbar. Das Dokument kann <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/plentymarkets_Rechtliches/Verfahrensdokumentation_V7.6.pdf" target="_blank" rel="noopener">hier</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> direkt heruntergeladen werden.</p>
</div>
<div class="paragraph">
<p>Folgende Änderungen wurden vorgenommen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der Bereich Warenwirtschaft wurde überarbeitet und um Informationen zur plentyWarehouse App und zum Zählprotokoll erweitert.</p>
</li>
<li>
<p>Der Bereich Webshop wurde überarbeitet. Der Begriff „Ceres“ wurde durch „plentyShop LTS“ ersetzt.</p>
</li>
<li>
<p>Der Bereich Multi-Channel wurde überarbeitet. Der Begriff „Multi-Channel“ wurde durch „plentyChannel“ ersetzt.</p>
</li>
<li>
<p>Der Bereich E-Mail-Versand wurde überarbeitet.</p>
</li>
<li>
<p>Der Anhang zu den REST-Berechtigungen wurde aktualisiert.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Weitere allgemeine Informationen zur technischen Systembeschreibung und ein permanenter Download-Link sind auf <a href="https://knowledge.plentymarkets.com/business-entscheidungen/rechtliches/verfahrensdokumentation" target="_blank" rel="noopener">dieser Handbuchseite</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> zu finden.</p>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/fruugo_6875" target="_blank" rel="noopener">Fruugo.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.3.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/elasticexportidealode_4723" target="_blank" rel="noopener">idealo.de</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.3.22</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/artikel-inhalte/gs1germanygmbh-52973_55106" target="_blank" rel="noopener">GS1 Germany GmbH</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dpdshippingservices_6320" target="_blank" rel="noopener">DPD Versand Services</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.7.7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/schufa_6360" target="_blank" rel="noopener">Schufa Bonitätsprüfung</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.11</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/trackingmanager_54743" target="_blank" rel="noopener">Tracking Manager</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>