<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Changelog</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 01. April 2021 bis zum 07. April 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Die Artikelbeschreibung in der Artikeltabelle im letzten Schritt der Auftragsanlage (Beta) ist nun anpassbar. Durch Klicken in das Eingabefeld können Änderungen an der Artikelbeschreibung für diesen Auftrag vorgenommen werden.</p>
</li>
<li>
<p>In der Artikelsuche der neuen Auftragsanlage (Beta) wurde die alte Filterkomponente durch eine neue ersetzt. Zusätzlich zu den bereits bestehenden Filtern wurden zwei neue hinzugefügt: <strong>Hersteller</strong> und <strong>Tag Artikel</strong>. Die neue Komponente ermöglicht es, verschiedene Filter zu kombinieren.</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort sind in der UI Exportfilter verfügbar (je nach Verfügbarkeit).</p>
</li>
<li>
<p>Wir haben den asynchronen Download technisch verbessert.</p>
</li>
<li>
<p>Das Standardformat <strong>Hersteller</strong> wurde im Katalog hinzugefügt.
Dieses Format wurde aus dem Elastischen Export migriert.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>In der Aktion <strong>Retoure anlegen/bearbeiten</strong> wurde eine neue Option namens <strong>Größere Artikelbildvorschau anzeigen</strong> hinzugefügt. Bei Aktivierung dieser Option wird beim Durchlaufen der Aktion ein größeres Artikelvorschaubild angezeigt.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Fehler wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_amazon" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Die Auftragskorrektur ist jetzt in der Lage am Auftrag Versandkosten hinzuzufügen, sollten diese fehlen.
Des Weiteren wurde ein Fehler behoben, durch den es zur Anzeige der Umsatzsteuernummer des falschen Landes kommen konnte. Dies geschah, wenn das Land und die zugehörigen Steuersätze am Auftrag korrigiert wurde. Dabei wurde bisher an den Auftragspositionen die sogenannten CountryVatID nicht angepasst, was zu diesem Verhalten führte.</p>
</li>
</ul>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Es wurde beim Kopieren eines Auftrags der Status übertragen, statt wie vorher den Standard-Status für den neuen Auftrag zu verwenden.</p>
</li>
<li>
<p>Zahlungsbedingungen können nun auch auf Dokumenten ausgegeben werden, wenn es sich bei der Zahlungsart des Auftrags um <strong>Vorkasse</strong> handelt. <a href="/auftraege/auftraege-verwalten#intable-zahlungsbedingungen-auftrag">Weitere Informationen</a>.</p>
</li>
<li>
<p>Während der Auftragsanlage konnten Artikel nicht aus der Warenkorbtabelle gelöscht werden. Dies ist nun behoben. Artikel können wieder gelöscht werden.</p>
</li>
<li>
<p>Wenn ein neuer Auftragsstatus erstellt wurde, wurde die Seite nicht neu geladen und auch nicht zum neu erstellen Auftragsstatus weitergeleitet. Dies ist nun behoben.</p>
</li>
<li>
<p>Wenn versucht wurde einen Auftragsstatus zu erstellen, dieser aber bereits existiert, wurde ein Fehler angezeigt und nicht zum bereits existierenden Status weitergeleitet. Dies ist nun behoben.</p>
</li>
<li>
<p>Wenn in einer Auftragspositionstabelle mit mehr als einer Seite mit der Material Navigation zu einer bestimmten Tabellenseite navigiert wurde, änderte die Seite sich nicht sondern wurde immer wieder auf die zuletzt gewählte Seite gesetzt. Dies ist nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_git" class="discrete">Git</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist wieder möglich, die Zugangsdaten von Git-Repositorys zu aktualisieren.</p>
</li>
</ul>
</div>
<h3 id="_lagerverwaltung" class="discrete">Lagerverwaltung</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn man etwas in der Struktur des Lagers änderte (Beispiel: Position Nr. eines Lagerorts), wurde die Lagerstruktur nach Speichern zusammengebrochen. Das Verhalten wurde nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_neckermann_at" class="discrete">Neckermann.at</h3>
<div class="ulist">
<ul>
<li>
<p>In der Datenbanktabelle für die bereits übertragenen Bilder kam es zu einem Fehler beim Abspeichern der SKU. Die SKU wurde als Integer statt als String gespeichert und dadurch abgeschnitten. Das hatte zur Folge, dass statt nur neuer oder geänderter Bilder immer alle Bilder zu Neckermann übertragen wurden. Dies hat dort zu erhöhten Traffic geführt. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_netto" class="discrete">Netto</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Artikelexport wurde im Menü <strong>Daten » Log</strong> nach der Fehlermeldung <code>SKU nicht gespeichert.</code> immer direkt danach die Fehlermeldung <code>Kein Produktname</code> ausgegeben, unabhängig davon, ob der Produktname vorhanden ist oder nicht. Dieses Verhalten wurde nun korrigiert.</p>
</li>
</ul>
</div>
<h3 id="_otto_market" class="discrete">OTTO Market</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Kürzen der Bulletpoints auf die vorgegebene Maximallänge von 180 Zeichen konnte es dazu kommen, dass dabei die Zeichenkette eines HTML-codierten Sonderzeichens abgeschnitten wurde. Dies führte dann zu einem invaliden UTF-8-Zeichen, was wiederum dazu führte, dass keine JSON-Datei zur Übermittlung an OTTO Market erstellt werden konnte.</p>
<div class="paragraph">
<p>Dieses Verhalten wurde nun behoben, indem das letzte Leerzeichen vor der Grenze von 180 Zeichen gesucht wird und die Bulletpoints dann an dieser Stelle abgeschnitten werden.</p>
</div>
</li>
<li>
<p>Beim Versuch den Zeitstempel des letzten Bestandsupdates an der SKU zu aktualisieren, kommt es nun nicht mehr zum Fehler <code>Bestandsaktualisierung abgebrochen</code>. Der zugehörige Logeintrag konnte mit folgenden Angaben gefunden werden:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Integration</strong>: <code>Plenty\Modules\Otto\Cron\StockExportCron</code></p>
</li>
<li>
<p><strong>Identifikator</strong>: <code>OTTO market</code></p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>In der Plugin-Konfiguration ist es wieder möglich, Dropdown-Listen zu scrollen.</p>
</li>
<li>
<p>In der Plugin-Konfiguration werden Untermenüs jetzt als eigene Abschnitte angezeigt. Diese Einträge wurden vorübergehend nicht geladen.</p>
</li>
</ul>
</div>
<h3 id="_webshop" class="discrete">Webshop</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn für einen Webshop ShopBooster aktiv war und die plentyShop-Vorschau mit einem nicht verknüpften Plugin-Set genutzt wurde, wurden nach einiger Zeit falsche Inhalte im Live-Webshop angezeigt. Dieses Problem wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>In der neuen Auftragsanlage (Beta) wurden folgende Neuerungen veröffentlicht:</p>
<div class="ulist">
<ul>
<li>
<p>Zwei neue Infoboxen wurden im letzten Schritt der Auftragsanlage hinzugefügt: <strong>Rabatt</strong> und <strong>Offener Betrag</strong>.</p>
</li>
<li>
<p>Die einzelnen Spalten <strong>Artikel-ID</strong> und <strong>Varianten-ID</strong> wurden im zweiten Schritt der Auftragsanlage hinzugefügt.</p>
</li>
<li>
<p>In der Warenkorbtabelle sind die Spalten <strong>Artikel-ID/Varianten-ID</strong>, <strong>Artikel-ID</strong>, <strong>Varianten-ID</strong>, <strong>Variantennummer</strong> und <strong>Artikelname</strong> nun sortierbar.</p>
</li>
<li>
<p>Spalten mit der Benennung <strong>Artikelbeschreibung</strong> wurden in <strong>Artikelname</strong> umbenannt.</p>
</li>
<li>
<p>In den Standardeinstellungen wurden die Einstellung <strong>Warenkorb als Tabelle</strong> in <strong>Warenkorb als Tabelle (unterhalb der Suchergebnisse)</strong> umbenannt.</p>
</li>
</ul>
</div>
</li>
<li>
<p>In der Nachbestellung und der Umbuchung können Lieferdaten nun auch für einzelne Artikel der Bestellung manuell hinterlegt werden. Das Setzen eines Lieferdatums für den gesamten Auftrag in den Auftragsdetails bleibt bestehen. Beim Setzen dieses Lieferdatums in den Auftragsdetails kannst du nun wählen, ob das gleiche Lieferdatum für Artikelpositionen ohne Lieferdatum gesetzt werden soll. Lieferdaten können angepasst werden, solange der Auftrag nicht abgeschlossen wurde.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_warenwirtschaft" class="discrete">Warenwirtschaft</h3>
<div class="ulist">
<ul>
<li>
<p>Der Zulauf für Nachbestellungen wurde bis jetzt für 1 Jahr gerechnet. Wenn man eine Nachbestellung mit älterem Erstellungsdatum als 1 Jahr hatte, wurde die noch nicht belieferte Ware im Zulauf in der Bestandsübersicht nicht angezeigt. Der Zulauf wird von jetzt an für 2 Jahre berechnet.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/eaporderitemchangewarehouse_54549" target="_blank" rel="noopener">Aktion für das Ändern des Lagers von Aufträgen</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ceres_4697" target="_blank" rel="noopener">Ceres</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.26</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Im Zuge des Releases von Ceres 5.0.26 gab es Änderungen an den im Folgenden aufgelisteten Template-Dateien, die für Theme-Entwickler relevant sind. Die Verlinkungen führen direkt zu den umgesetzten Änderungen in den entsprechenden Dateien.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://github.com/plentymarkets/plugin-ceres/pull/2753/files#diff-eab69464064e5200e309de7a80e4fa43773919c60a5f31d5997058b8f7e2f478" target="_blank" rel="noopener">resources/js/src/app/components/itemList/filter/ItemFilter.vue</a></p>
</li>
<li>
<p><a href="https://github.com/plentymarkets/plugin-ceres/pull/2697/files#diff-33a10158d672d50c9bc1c0e8a46fbd8edb701925dcb3f619c6ff6f8ca11e45ee" target="_blank" rel="noopener">resources/views/PageDesign/Partials/Head.twig</a></p>
</li>
<li>
<p><a href="https://github.com/plentymarkets/plugin-ceres/pull/2754/files#diff-2e0729c79085beac37d2ad03e5d1a25ddec4020ecf8e3551d50e64a6cf5f91d3" target="_blank" rel="noopener">resources/js/src/app/components/basket/list/BasketListItem.vue</a></p>
</li>
<li>
<p><a href="https://github.com/plentymarkets/plugin-ceres/pull/2754/files#diff-be8788b59e5887730f9bb4aa5a12d093908265ff19c26bb5ddca99485e7d7621" target="_blank" rel="noopener">resources/js/src/app/components/wishList/WishListItem.vue</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/clearvat_6925" target="_blank" rel="noopener">eClear – Umsatzsteuer-Automatisierung für E-Commerce in der EU</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/infinityscroller_6660" target="_blank" rel="noopener">Endlos-Scrollen in Artikellisten</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.3.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/edon_6618" target="_blank" rel="noopener">FairGeben</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/fruugo_6875" target="_blank" rel="noopener">Fruugo.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/reviewconverter_6843" target="_blank" rel="noopener">Google Shopping Produktbewertungen (Sterne)</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/io_4696" target="_blank" rel="noopener">IO</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.26</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/paypal_4690" target="_blank" rel="noopener">PayPal</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.5.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/rewe_5901" target="_blank" rel="noopener">REWE</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.24.11</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/smsnotification_7105" target="_blank" rel="noopener">SMS Notifications</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cytautomaticcrossselling_7016" target="_blank" rel="noopener">Wird oft gekauft mit…​</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/woocommerce_5102" target="_blank" rel="noopener">woocommerce.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.7.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>