<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Changelog</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 23. Dezember 2021 bis zum 29. Dezember 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Es wurden neue Ereignisaktionen hinzugefügt, mit denen ein Angebot oder eine Gelangensbestätigung erzeugt werden können.</p>
</li>
<li>
<p>In der Zahlungsübersicht im Menü <strong>Aufträge » Zahlungsverkehr</strong> wurde die Spalte <strong>Eltern-ID</strong> hinzugefügt.</p>
</li>
</ul>
</div>
<h3 id="_cdiscount" class="discrete">Cdiscount</h3>
<div class="ulist">
<ul>
<li>
<p>Unter <strong>Einrichtung » Märkte » Cdiscount.com » Tab: Einstellungen » Bereich: Auftragseinstellungen</strong> steht jetzt die Option <strong>Mandant</strong> zur Verfügung. Diese erlaubt es euch einzustellen, unter welchem Mandanten Aufträge importiert werden. Der Standardmandant ist vorausgewählt.</p>
</li>
<li>
<p>Unter <strong>Einrichtung » Märkte » Cdiscount.com » Tab: Einstellungen » Bereich: Artikeleinstellungen</strong> ist nun die Option <strong>Streichpreise exportieren</strong> verfügbar. Damit können Sie den Export von gestrichenen Preisen aktivieren. Sobald diese Option aktiviert ist, werden die Verkaufspreise vom Typ UVP, die mit der Cdiscount-Herkunft verknüpft sind, als Streichpreise exportiert, wenn sie zu den Varianten hinzugefügt wurden.</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Die mathematischen Berechnungen in einigen Standardformaten des Katalogs wurden erweitert. Dort kannst du nun auch Zuweisungen für die Datenfelder vornehmen. So kannst du z.B. wählen, welche Sprache exportiert werden soll. Ob für ein Datenfeld Zuweisungen erforderlich ist, erkennst du an den drei Punkten. Eine Zahl zeigt an, wie viele Zuweisungen vorgenommen werden müssen. Mehr erfährst du im <a href="https://knowledge.plentymarkets.com/daten/daten-exportieren/kataloge-verwalten#mathematische-berechnungen" target="_blank" rel="noopener">plentymarkets Handbuch</a>.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_amazon_fba" class="discrete">Amazon FBA</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Abgleich der FBA-Bestände wurden die zusätzlichen SKU nicht für die Zuordnung zu einer Variante berücksichtigt. Dies wurde jetzt korrigiert.</p>
</li>
</ul>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Erstellen eines neuen Auftrags wurden bereits eingegebene Daten nicht gespeichert, wenn man während der Auftragserstellung den Tab gewechselt hat. Dies ist nun behoben, alle Daten werden auch bei Tabwechsel gespeichert.</p>
</li>
</ul>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Im Messenger-Modul wurde beim Anzeigen einer Nachricht im Safari-Browser anstelle des Datums der Nachricht die Fehlermeldung „Ungültiges Datum“ angezeigt. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_hosting" class="discrete">Hosting</h3>
<div class="ulist">
<ul>
<li>
<p>Im Menü <strong>Einrichtung » Einstellungen » Hosting » Bereinigung</strong> ist das Feld <strong>Löschung der Historie</strong> auf 365 Tage begrenzt. Wenn man eine Zahl größer als 365 eingegeben hat, erschien eine unverständliche Fehlermeldung. Dieses Verhalten wurde behoben und eine klare, verständliche Fehlermeldung wird ab sofort angezeigt:</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/hosting-historie.png" alt="hosting historie" width="640"></span></p>
</div>
</li>
</ul>
</div>
<h3 id="_otto_market" class="discrete">OTTO Market</h3>
<div class="ulist">
<ul>
<li>
<p>Bei Teilgutschriften von OTTO Market wurde der Gesamtbetrag des Auftragsartikels in der Gutschrift hinzugefügt, statt der Teilbetrag. Dies wurde behoben. Bei Händlern, welche sich seit der folgenden Anpassung zum Import der Gutschriften gemeldet haben, werden wir automatisch die importierten Gutschriften nochmal prüfen.</p>
</li>
<li>
<p>Bei der automatischen Anlage der Gutschriften wurden Auftragspositionen für Rabatte nicht mit übernommen und entsprechende Auftragspositionen auch nicht an manuell angelegten Gutschriften ergänzt, wenn diese fehlten. Außerdem wurde teilweise, wenn die Rabattposition bei einer manuell angelegten Gutschrift vorlag, stattdessen eine neue Gutschrift ohne Rabattposition angelegt. Dies wurde nun korrigiert. Zudem wird selbige Korrektur auch für den Fall angewendet, dass Versandkosten fehlen.</p>
</li>
<li>
<p>Bei Aufträgen mit mehr als einer Auftragsposition und mehr als einer Paketnummer konnte es dazu kommen, dass die externen Rechnungen mehrfach importiert wurden. Grund dafür war, dass die Versandmeldung an OTTO pro Lieferung erfolgt, und im Anschluss pro Versandmeldung ein Import der externen Belege angestoßen wurde. Dieser Import von externen Belegen konnte dann zeitgleich erfolgen und importierte jeweils alle vorliegenden Belege gleichzeitig. Also z.B. wenn es zwei Lieferungen gab und dadurch zwei Belege bei OTTO Market generiert wurden, dann wurden zeitgleich zweimal zwei Belege importiert.
Dies wurde jetzt korrigiert, sodass beim Import der Belege geprüft wird, dass nur Belege für Auftragspositionen importiert werden, welche mit der zugrundeliegenden Versandmeldung zusammenhängen.</p>
</li>
</ul>
</div>
<h3 id="_payment" class="discrete">Payment</h3>
<div class="ulist">
<ul>
<li>
<p>In der Zahlungshistorie am Auftrag wurden nicht alle Einträge angezeigt. Dies wurde korrigiert, sodass nun wieder alle Einträge korrekt angezeigt werden.</p>
</li>
</ul>
</div>
<h3 id="_warenwirtschaft" class="discrete">Warenwirtschaft</h3>
<div class="ulist">
<ul>
<li>
<p>Die Seitennummerierung der Warenbewegungen in der UI der Warenbewegungen hat nicht mehr richtig funktioniert. Man konnte auch nicht mehr alle Warenbewegungen per REST-API erhalten. Der Fehler wurde nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_zalando" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Wir erhalten bei Anfragen zum Bestandsupdate an Zalando pro gesendeter EAN in der Antwort einen Statuscode. Wenn dieser <code>102</code> lautet, dann ist davon auszugehen, dass es zu einem internen Fehler bei Zalando kommt. Bisher wurde immer, wenn dieses Verhalten beobachtet wurde, dann bei allen EANs aus einer Anfrage dieser Statuscode übermittelt. Aus diesem Grund haben wir uns dazu entschieden, statt wie bisher mit den nächsten ausstehenden Bestandsupdates weiterzumachen, die Anfrage ein weiteres Mal an Zalando zu schicken, da es sich meist um ein temporäres Problem handelt. Und andere Versuche gezeigt haben, dass die Anfrage bei erneuter Übermittlung korrekt verarbeitet wird.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_versand_center_2_0" class="discrete">Versand-Center 2.0</h3>
<div class="ulist">
<ul>
<li>
<p>Bisher wurde der allgemeine Firmenname, der im Kontaktdatensatz gespeichert wurde, in der Übersicht des Versand-Centers 2.0 in der Spalte <strong>Empfängername</strong> angezeigt. Dieses Verhalten wurde behoben:</p>
<div class="ulist">
<ul>
<li>
<p>Ab sofort wird der Firmenname aus der Lieferadresse in der Spalte <strong>Empfängername</strong> in der Übersicht angezeigt.</p>
</li>
<li>
<p>Wenn in der Lieferadresse kein Firmenname vorhanden ist, wird der Firmenname aus der Rechnungsadresse übernommen.</p>
</li>
<li>
<p>Wenn auch in der Rechnungsadresse kein Firmenname vorhanden ist, wird in der Spalte <strong>Empfängername</strong> in der Übersicht der Name des Empfängers angezeigt.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Bei Gastbestellungen wurden die Auftragsdetails im Versand-Center 2.0 nicht angezeigt. Dieses Verhalten wurde behoben. Die Auftragsdetails werden nun auch für Gastbestellungen korrekt angezeigt.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/zettle_54918" target="_blank" rel="noopener">Zettle by PayPal</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/io_4696" target="_blank" rel="noopener">IO</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.44</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ceres_4697" target="_blank" rel="noopener">plentyShop LTS</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.44</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Die Einstellung <strong>Preisinformation in der Warenkorbvorschau anzeigen</strong> im Menü <strong>Plugins » plentyShop LTS » Warenkorb</strong> greift nun wieder. Überprüfe, ob du die dort angehakten Preisinformationen in der Warenkorbvorschau anzeigen willst. Passe die Einstellungen gegebenenfalls an.</p>
</li>
<li>
<p>Aufgrund von Änderungen am CookieBar Widget müssen die betroffenen ShopBuilder-Inhalte im Menü <strong>CMS » ShopBuilder</strong> über die Schaltfläche <strong>Inhalte neu generieren</strong> aktualisiert werden.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cytitemavailabilitynotification_6906" target="_blank" rel="noopener">Verfügbarkeitsbenachrichtigung mit Statistik</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.4.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dpdshippingservices_6320" target="_blank" rel="noopener">DPD Versand Services</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.7.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>