<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Changelog</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 17. Februar 2022 bis zum 23. Februar 2022 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="app-tab" data-toggle="tab" href="#app" role="tab" aria-controls="app" aria-selected="false">App</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_abonnement" class="discrete">Abonnement</h3>
<div class="ulist">
<ul>
<li>
<p>Die Übersichtstabelle wurde auf die volle Bildschirmhöhe erweitert und am Rand ist der Abstand geändert.</p>
</li>
</ul>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Bevor eine Nachbestellung kopiert werden kann, muss dies erst in einem Dialog bestätigt werden.</p>
</li>
</ul>
</div>
<h3 id="_ebay" class="discrete">eBay</h3>
<div class="ulist">
<ul>
<li>
<p>Für eBay wurden neue Einstellungen hinzugefügt, mit denen du Angaben zur erweiterten Herstellerverantwortung machen kannst.<br>
Hintergrund: Die europäische Verordnung zur erweiterten Herstellerverantwortung, kurz EPR (Extended Producer Responsibility), verpflichtet Hersteller:innen und Händler:innen dazu, Verantwortung für die Rücknahme, Entsorgung und Wiederaufbereitung von bestimmten Produkten zu übernehmen. Dazu zählen beispielsweise Elektrogeräte oder Möbel. In einigen Ländern sind beim Verkauf dieser Produkte Angaben zur Rücknahme, Entsorgung und Wiederaufbereitung bereits verpflichtend.<br>
In plentymarkets kannst du jetzt <strong>Rücknahmebedingungen nach dem ElektroG-Gesetz</strong> (Gesetz zur kostenlosen Rücknahme von Altgeräten), <strong>Product Compliance</strong>, <strong>Recyclinggebühren</strong> und <strong>UPINs</strong> (eindeutige Hersteller-Identifikationsnummern) für eBay einstellen.<br>
Weitere Informationen dazu findest du in <a href="https://forum.plentymarkets.com/t/neue-ebay-einstellungen-zur-erweiterten-herstellerverantwortung-new-ebay-settings-for-extended-producer-responsibility-epr/669525" target="_blank" rel="noopener">diesem Forumsbeitrag</a>.</p>
</li>
</ul>
</div>
<h3 id="_mybestbrands" class="discrete">MyBestBrands</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort kannst du Artikeldaten mit einem Katalog an MyBestBrands exportieren. Das Marktplatz-Format für MyBestBrands findest du jetzt im Menü <strong>Daten » Kataloge</strong>. Bisher war der Export von Artikeldaten an MyBestBrands nur über den Elastischen Export möglich. Beim Wechsel auf den Artikeldatenexport mit Katalogen solltest du deshalb Folgendes beachten:</p>
<div class="ulist">
<ul>
<li>
<p>Merkmale und Freitextfelder können für den Katalogexport nicht mehr verwendet werden. Prüfe deshalb, welche Merkmale du aktuell für MyBestBrands verwendest. Erstelle Eigenschaften für alle Merkmale, die du weiterhin benötigst.</p>
</li>
<li>
<p>Beim Wechsel solltest du deinen alten Elastischen Export exakt in dem neuen Katalog nachbauen, damit der Artikelexport weiterhin funktioniert. Ordne also alle Datenfelder so zu, wie sie auch im Elastischen Export an den Marktplatz übertragen wurden. Wenn du bestimmte Datenfelder anders als bisher zuordnest, werden möglicherweise beim Export neue Artikel erstellt.</p>
</li>
<li>
<p>Wie du einen Katalog für MyBestBrands einrichtest, erfährst du im <a href="https://knowledge.plentymarkets.com/maerkte/preisportale/mybestbrands" target="_blank" rel="noopener">plentymarkets Handbuch</a></p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>Hinweis:</em></strong> Der Elastische Export und die Exportformate werden nicht mehr weiterentwickelt. Wir empfehlen dir deshalb, schon jetzt Kataloge zu erstellen.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Der Filter <strong>Auftrag</strong> wurde im Bereich Artikelerfassung um die Option <strong>Zuletzt gescannt</strong> ergänzt. Dadurch ist es möglich, nach dem Auftrag zu filtern, dessen Artikel zuletzt gescannt wurde.</p>
</li>
</ul>
</div>
<h3 id="_warenwirtschaft" class="discrete">Warenwirtschaft</h3>
<div class="ulist">
<ul>
<li>
<p>Die folgenden REST-Routen können Variantennummer anstelle von Varianten-ID verwenden:</p>
<div class="ulist">
<ul>
<li>
<p>/rest/stockmanagement/stock/redistribute</p>
</li>
<li>
<p>/rest/stockmanagement/warehouses/{warehouseId}/stock/bookIncomingItems</p>
</li>
<li>
<p>/rest/stockmanagement/warehouses/{warehouseId}/stock/bookOutgoingItems</p>
</li>
<li>
<p>/rest/stockmanagement/warehouses/{warehouseId}/stock/correction</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_kaufland_de" class="discrete">Kaufland.de</h3>
<div class="ulist">
<ul>
<li>
<p>Die verknüpfbaren Kategorien von Kaufland.de unter <strong>Einrichtunge » Märkte » Kaufland.de » Kategorieverknüpfung</strong> wurden aktualisiert.</p>
</li>
</ul>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>Die Editorial Nodes und die daraus resultierenden Merkmal- und Attributverknüpfungen wurden auf Basis der von OTTO am 18.02.2022 bereitgestellten Datei <strong>Merkmalstrukturen_Master</strong> aktualisiert. Die aktuelle <strong>Merkmalstrukturen_Master</strong>-Datei kann <a href="https://forum.plentymarkets.com/t/aktuelle-merkmalsstrukturen-master-datei/532293" target="_blank" rel="noopener">hier im Forum</a> heruntergeladen werden. Diese Änderung betrifft <strong><em>nicht</em></strong> OTTO Market.</p>
</li>
</ul>
</div>
<h3 id="_payment" class="discrete">Payment</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Teilen einer Zahlung übernehmen die neuen Zahlungen jetzt das Eingangsdatum der ursprünglichen Zahlungen. Zudem wird der ursprüngliche Verwendungszweck übernommen (mit einem Hinweis, dass es sich um eine geteilte Zahlung handelt).</p>
</li>
</ul>
</div>
<h3 id="_prozesse_2" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Die Aktion <strong>Artikeletikett</strong> ist nun zusätzlich zum Arbeitschritt <strong>Wareneingang</strong> auch in den Arbeitschritten <strong>Auftragsabwicklung</strong> und <strong>Auftragsbearbeitung</strong> verfügbar. Es werden nur Etiketten für Varianten, Bundle- und Set-Bestandteile gedruckt.</p>
</li>
</ul>
</div>
<h3 id="_warenwirtschaft_2" class="discrete">Warenwirtschaft</h3>
<div class="ulist">
<ul>
<li>
<p>Bei den folgenden REST-Routen wurden erforderliche Parameter geändert:</p>
<div class="ulist">
<ul>
<li>
<p>/rest/stockmanagement/stock/redistribute</p>
<div class="ulist">
<ul>
<li>
<p>aktuelle Lagerort ID ist jetzt optional</p>
</li>
<li>
<p>neue Lagerort ID ist jetzt optional</p>
</li>
</ul>
</div>
</li>
<li>
<p>/rest/stockmanagement/warehouses/{warehouseId}/stock/bookIncomingItems</p>
<div class="ulist">
<ul>
<li>
<p>Währung ist jetzt optional</p>
</li>
</ul>
</div>
</li>
<li>
<p>/rest/stockmanagement/warehouses/{warehouseId}/stock/bookOutgoingItems</p>
<div class="ulist">
<ul>
<li>
<p>Währung ist jetzt optional</p>
</li>
</ul>
</div>
</li>
<li>
<p>/rest/stockmanagement/warehouses/{warehouseId}/stock/correction</p>
<div class="ulist">
<ul>
<li>
<p>ID des Lagerortes ist jetzt optional</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_auftragsdokumente" class="discrete">Auftragsdokumente</h3>
<div class="ulist">
<ul>
<li>
<p>Die steuerfreie Pfandpositionen wurden mit Steuern angezeigt. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Vor dem Erzeugen eines Gutschrift-Dokuments wird nun geprüft, ob es eine Steueränderung am Hauptauftrag gegeben hat. Der Gutschrift-Auftrag wird dann mit den geänderten Steuern neu berechnet.</p>
</li>
<li>
<p>Wenn bei einer Adresse das Feld <strong>Straße</strong> zusätzlich mit der Hausnummer befüllt war und man dies korrigiert hat (d.h. die Hausnummer aus dem Feld <strong>Straße</strong> entfernt hat), wurde bei Adressen, die mit einem Auftrag verknüpft sind, diese Änderung nicht gespeichert und es wurde keine Kopie der Adresse erstellt. Dieses Verhalten wurde nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_bol_com" class="discrete">bol.com</h3>
<div class="ulist">
<ul>
<li>
<p>Durch einen falschen Datentyp in einer Datenbanktabelle kam es zu einem Fehler beim Speichern der processStatusId, welche wir für den asynchronen Abgleich beim Produkt-Upload benötigen. Die entsprechende Spalte war als Integer definiert, wodurch der Wert auf maximal 2147483647 beschränkt war und größere Werte auf diesen reduziert wurden. Da der Wert dann faktisch nicht mehr der richtige war, schlugen entsprechende Abfragen mit dieser ID fehl und betroffene Händler hatten die folgende Fehlermeldung in ihrem Log:</p>
<div class="paragraph">
<p><code>Datum: XX.X.XX XX:XX:XX Zeile: 314 Nachricht: GET-HTTP-Anfrage an den Endpoint process-status/{process-status-id} fehlgeschlagen mit Fehlercode 404: "Not Found".</code></p>
</div>
<div class="paragraph">
<p>Der Datentyp wird jetzt über eine Migration korrigiert und entsprechende Einträge gelöscht. Dadurch wirklich betroffen war maximal die Produktanlage und die entsprechend dadurch geblockten Produkte werden in den nächsten laufenden Prozessen automatisch neu übertragen.</p>
</div>
</li>
</ul>
</div>
<h3 id="_elastischer_export" class="discrete">Elastischer Export</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Exportieren von Adressen und Eigenschaften mit dem Elastischen Export war die exportierte Datei leer. Dieses Verhalten wurde behoben. <strong><em>Hinweis:</em></strong> Version 1.2.3 oder höher für das Plugin FormatDesigner muss installiert sein.</p>
</li>
</ul>
</div>
<h3 id="_newsletter" class="discrete">Newsletter</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Versenden eines Newsletters wurden die Zugangsdaten aus dem Menü <strong>Einrichtung » Mandant » [Mandant wählen] » E-Mail » Newsletter</strong> nicht verwendet. Die E-Mails wurden mit den Standard-Anmeldedaten gesendet. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_prozesse_3" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>In manchen Fällen wurde in der Subaktion <strong>Aus Prozess entfernen</strong> ein Auftrag nicht korrekt entfernt. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>In der Aktion Auftragssuche ließen sich Kunden anhand ihrer Kundennummer nicht finden. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_emailbuilder" class="discrete">EmailBuilder</h3>
<div class="ulist">
<ul>
<li>
<p>In einigen Fällen kam es vor, dass E-Mail-Vorlagen, die mit dem EmailBuilder erstellt wurden, und die mit einer Aktion verknüpft waren, nicht versendet wurden. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_warenwirtschaft_3" class="discrete">Warenwirtschaft</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn man die Namenanzeige eines Levels im Bereich der Dimensionen deaktivierte, funktionierte der Filter im Lagerbereich nicht mehr richtig.
Der Fehler wurde nun behoben.</p>
<div class="paragraph">
<p><span class="image"><img src="image:changelog/assets/stock-name-1" alt="stock name 1" width="640"></span></p>
</div>
<div class="paragraph">
<p><span class="image"><img src="image:changelog/assets/stock-name-2" alt="stock name 2" width="640"></span></p>
</div>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/metro_6600" target="_blank" rel="noopener">Metro</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.1.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/elasticexportidealode_4723" target="_blank" rel="noopener">idealo.de</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.3.23</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/sales/marketing/solutenetbilligerde-52056_55097" target="_blank" rel="noopener">soluteNet - billiger.de</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/multicontentwidget_6082" target="_blank" rel="noopener">Multicontent Toolbox</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.7.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/mollie_6272" target="_blank" rel="noopener">Mollie</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.8.7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/multicontentwidget_6082" target="_blank" rel="noopener">Multicontent Toolbox</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.7.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/mollie_6272" target="_blank" rel="noopener">Mollie</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.8.7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cytcookielesstracking_7059" target="_blank" rel="noopener">Plenty Google Tracking</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/schufa_6360" target="_blank" rel="noopener">Schufa Bonitätsprüfung</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.1.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/feed4ceres_6097" target="_blank" rel="noopener">Feed4Ceres</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.0.9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/woocommerce_5102" target="_blank" rel="noopener">woocommerce.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>.</p>
</div>
</div><div class="tab-pane fade" id="app" role="tabpanel" aria-labelledby="app-tab">
<div class="paragraph">
<p>Am Dienstag, den 22.02.2022 wurde Version 1.11.27 der plentymarkets App im PlayStore und AppStore veröffentlicht.</p>
</div>
<h2 id="_behoben_3" class="discrete">Behoben</h2>
<div class="ulist">
<ul>
<li>
<p>Nach dem Ein- und Ausloggen in der iOS-App stürzte die App ab, wenn man die Zettle-Einstellungen betreten hat. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Durch eine technische Umwandlung im Hintergrund wurde in bestimmten Fällen ein falsch gerundeter Zahlungsbetrag an das Zettle-Terminal übermittelt. Dieser Fehler wurde behoben.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="ulist">
<ul>
<li>
<p>Innerhalb der Ansicht eines Bestandskunden in plentyPOS wurde die Beschriftung des Buttons <strong>Adresse verwenden</strong> korrekterweise zu <strong>Rechnungsadresse verwenden</strong> geändert.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_4" class="discrete">Behoben</h2>
<div class="ulist">
<ul>
<li>
<p>Offline-Aufträge mit Artikeln, an denen zahlreiche Bestelleigenschaften hinterlegt waren, konnten aufgrund zu großer Datenmengen nicht korrekt in der lokalen Datenbank gespeichert werden. Dieses Verhalten wurde behoben, sodass diese Aufträge von nun an korrekt gespeichert werden.</p>
</li>
</ul>
</div>
</div></div>
</main>