<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Changelog</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 08. Oktober 2020 bis zum 14. Oktober 2020 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Wochen für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Zugehörig zu der <a href="https://forum.plentymarkets.com/t/externe-auftragsdokumente-referenzen-external-order-documents-references/608102" target="_blank" rel="noopener">Änderung von Referenzen bei externen Auftragsdokumenten</a> wurden nun auch die Referenzen für die bestehenden externen Auftragsdokumente hinzugefügt.</p>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt auch über den Import Varianten gebündelt sichtbar schalten, auch wenn die Automatik sie unsichtbar geschaltet hat. Das Feld dazu heißt <code>Trotz negativem Nettowarenbestand für Mandanten verfügbar machen</code>.</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>In den letzten Wochen und Monaten haben wir den Katalog technisch komplett umgebaut, sodass dieser nicht nur für Marktplatz-Kataloge verwendet werden kann, sondern auch für benutzerdefinierte Exporte wie Aufträge, Artikel, Kundendaten usw. In naher Zukunft werden die einzelnen Teams ihre Formate nach und nach implementieren.</p>
</li>
<li>
<p>Ab sofort können benutzerdefinierte Formate als JSON exportiert werden.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_amazon_vcs" class="discrete">Amazon VCS</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Import der Gutschriften auf Basis des VCS-Berichtes wurden Auftragspositionen für Werbeaktionen (Promotions) aus dem ursprünglichen Auftrag nicht mit in die Gutschrift übernommen und somit auch nicht verrechnet. Dieses Verhalten wurde nun korrigiert.</p>
</li>
</ul>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Die Lagerermittlung für unvollständige Aufträge hatte unter Umständen nicht richtig funktioniert.</p>
</li>
<li>
<p>Durch einen Fehler im Zuge der AuditLog Einführung, wurden beim Buchen des Warenausganges an Auftragspositionen mit Artikel, die eine Seriennummer-Verknüpfung haben, Seriennummern zugeordnet. Dies wurde behoben.</p>
</li>
<li>
<p>Bei den Picklisten wurden Komponenten eines Sets nicht berücksichtigt. Das wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_import_2" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Das Importieren von Mehrfachauswahleigenschaften über die Eigenschaftenkombination sorgte dafür, dass keine Eigenschaften mehr verknüpft werden konnten. Wir haben den Import nun unterbunden. Das bedeutet für dich, dass du Mehrfachauswahleigenschaften über das Feld <code>Auswahleigenschaftkombination oder Mehrfachauswahl-IDs und EigenschaftenID</code> importieren musst.</p>
</li>
<li>
<p>Der Kategorieimport kann nun auch wieder alle Felder in deutscher Sprache importieren.</p>
</li>
<li>
<p>Kategorien deren Namen und URL-Namen nur aus Nummern bestehen, ließen sich nicht per Sync aktualisieren. Diesen Fehler haben wir behoben, so dass sich nun auch diese Kategorien aktualisieren lassen.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_2" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>In der neuen Katalog-UI war es nicht möglich, alle Datenfelder aus dem Data Picker hinzuzufügen. Diesen Fehler haben wir behoben.</p>
</li>
<li>
<p>Wechselte man vom Katalog in einen anderen Tab, gingen die hinterlegten Datenfelder verloren.
Diesen Fehler haben wir behoben.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Die Subaktion <strong>Versandpakete</strong> in den Prozessen berücksichtigt nun beim Erstellen von Versandpaketen die Optionen <code>Versanddaten der Basisartikel übermitteln</code> und <code>Versanddaten des Artikelpakets übernehmen</code>.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Im Menü <strong>Kontakt » Konto</strong> wurde die Titelleiste um neue Summen erweitert. Es wird jetzt jeweils für Rechnungen und Gutschriften die Summe der ausstehenden und gezahlten Beträge angezeigt.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_3" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort können Kataloge auf SFTP und FTPS Servern exportiert werden.</p>
</li>
<li>
<p>Ab sofort könnt ihr euch die ersten 5 Datenzeilen des Exports in einer Vorschaufunktion ansehen.</p>
</li>
<li>
<p>Ab sofort gibt es einen Hover-Modus, wenn man mit der Maus über die Einstellungen fährt.</p>
</li>
<li>
<p>Ab sofort können benutzerdefinierte Formate als XML exportiert werden.</p>
</li>
<li>
<p>Ab sofort gibt es eine neue Seitennavigation in euren Katalogen.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Wechseln von Menüs in der Plugin-Konfiguration werden die Einstellungen nicht mehr direkt auf den zuletzt gespeicherten Wert zurückgesetzt.</p>
</li>
<li>
<p>Die plentyShop-Vorschau hat nicht mehr unterschiedliche Funktionen, je nachdem von wo man sie aufruft. Es ist jetzt möglich, direkt in der Vorschau zwischen verschiedenen Ansichten zu wechseln. Dazu gehören beispielsweise das Wechseln des Plugin-Sets oder das Anzeigen von nicht verfügbaren Artikeln. Weitere Informationen findest du auf der Handbuchseite <a href="#webshop/plentyshop-vorschau">plentyShop-Vorschau</a>.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn unter <strong>Aufträge » Fulfillment » Rechnungen erzeugen</strong> im ausgewählten Status auch Aufträge enthalten sind, die keine Erzeugung einer Rechnung erlauben (z.B. Herkunft OTTO Market), dann wurde anstelle der OTTO Rechnung die zuletzt korrekt erzeugte Rechnung in das Sammel-PDF übernommen. Somit waren manche Rechnungen mehrfach enthalten. Das wurde behoben, das Sammel-PDF enthält nur noch die von plentymarkets generierte Rechnungen.</p>
</li>
</ul>
</div>
<h3 id="_zahlungen" class="discrete">Zahlungen</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn in der neuen UI im Checkout eine Fremdwährung genutzt wird, wird der Betrag sowohl in der Fremdwährung als auch in der Systemwährung in der neuen Zahlungsverkehrs UI angezeigt.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cfourfacebookpixelv5_6937" target="_blank" rel="noopener">Facebook Pixel v.5 mit Tracking Events</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/listinglayoutaqiran_6935" target="_blank" rel="noopener">Layout Aqiran</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/listinglayoutconfigurator_6867" target="_blank" rel="noopener">Layout Konfigurator</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/listinglayoutmodernmetal_6934" target="_blank" rel="noopener">Layout Modern Metal</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/listinglayoutconfiguratorlogo_6931" target="_blank" rel="noopener">Layouterweiterung für eigenes Logo</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/listinglayoutconfiguratorinfocard_6932" target="_blank" rel="noopener">Layouterweiterung für Infocard</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/listinglayoutconfiguratorshippingserviceproviders_6929" target="_blank" rel="noopener">Layouterweiterung für mehr Versanddienstleister</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/listinglayoutconfiguratorpaymentmethods_6930" target="_blank" rel="noopener">Layouterweiterung für mehr Zahlungsarten</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/listinglayoutconfiguratortechnicaldescription_6928" target="_blank" rel="noopener">Layouterweiterung für technische Beschreibung</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/listinglayoutconfiguratorimagegallery_6933" target="_blank" rel="noopener">Layouterweiterung um Bildergalerie</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>