<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>CRM</h1><div class="paragraph">
<p>In diesem Themenbereich finden Sie alle Informationen zum Erstellen und Bearbeiten von <a href="/crm/kundendaten-verwalten#800">Kundendatensätzen</a> - von der Anschrift über Aufträge bis hin zu Tickets, Dokumenten, <a href="/basics/statistik/kundenstatistiken">Statistiken</a> u.v.m. Erstellen Sie <a href="/crm/kundendaten-verwalten#100">Kundenklassen</a>, <a href="/crm/kundendaten-verwalten#300">Kundentypen</a> und nutzen Sie das <a href="/crm/kundendaten-verwalten#3900">Rabattsystem</a> in plentymarkets.</p>
</div><div class="paragraph">
<p>Erfahren Sie außerdem, wie Sie das <a href="/crm/ticketsystem-nutzen">Ticketsystem</a> für Ihre Kundenkommunikation nutzen und wie Sie mit Hilfe der <a href="/crm/kundendaten-verwalten#3600">OP-Liste</a> die Kontrolle über noch unbezahlte Aufträge behalten.</p>
</div><div class="paragraph">
<p>Alle E-Mails, die über plentymarkets versendet werden, basieren auf E-Mail-Vorlagen. Für alle E-Mail-Vorlagen können Sie bis zu zwei Anhänge definieren. Erfahren Sie in diesem Themenbereich, wie Sie <a href="/crm/e-mails-versenden#1200">E-Mail-Vorlagen erstellen</a>.</p>
</div><div class="paragraph">
<p>Richten Sie einen <a href="/crm/newsletter-versenden">Newsletter</a> ein, um Ihre Kunden in regelmäßigen Abständen über Neuerungen in Ihrem Webshop zu informieren. Zu diesem Zweck steht Ihnen ein in plentymarkets integrierter Newsletter zur Verfügung oder Sie richten die Schnittstelle zu <a href="/crm/newsletter-versenden#1700">CleverReach</a> oder <a href="/crm/newsletter-versenden#2100">Newsletter2Go</a> ein.</p>
</div><div class="paragraph">
<p>Erfahren Sie mehr über den Bereich der Kundendaten, das Ticketsystem und E-Mail-Vorlagen in den folgenden Videotutorials:</p>
</div><div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="content">
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/108555145" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="content">
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/62027532" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div>
</div>
</div><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/78421965" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="title">Kundendaten verwalten</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/crm/kundendaten-verwalten#100">Kundenklasse erstellen</a></p>
</li>
<li>
<p><a href="/crm/kundendaten-verwalten#300">Kundentyp erstellen</a></p>
</li>
<li>
<p><a href="/crm/kundendaten-verwalten#800">Kundendatensatz erstellen</a></p>
</li>
<li>
<p><a href="/crm/kundendaten-verwalten#3600">Offene Posten anzeigen</a></p>
</li>
<li>
<p><a href="/crm/kundendaten-verwalten#3900">Rabattsystem nutzen</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Ticketsystem nutzen</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/crm/ticketsystem-nutzen#700">Rolle hinzufügen</a></p>
</li>
<li>
<p><a href="/crm/ticketsystem-nutzen#800">Typ hinzufügen</a></p>
</li>
<li>
<p><a href="/crm/ticketsystem-nutzen#900">Status hinzufügen</a></p>
</li>
<li>
<p><a href="/crm/ticketsystem-nutzen#1100">Thema hinzufügen</a></p>
</li>
<li>
<p><a href="/crm/ticketsystem-nutzen#1600">Ticket erstellen</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div><div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="title">E-Mails versenden</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/crm/e-mails-versenden#100">E-Mail-Server-Zugangsdaten speichern</a></p>
</li>
<li>
<p><a href="/crm/e-mails-versenden#200">Verschlüsselung der E-Mail-Kommunikation wählen</a></p>
</li>
<li>
<p><a href="/crm/e-mails-versenden#1200">E-Mail-Vorlage erstellen</a></p>
</li>
<li>
<p><a href="/crm/e-mails-versenden#1300">Template-Variablen und Template-Funktionen verwenden</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Newsletter versenden</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/crm/newsletter-versenden#100">Internen Newsletter nutzen</a></p>
</li>
<li>
<p><a href="/crm/newsletter-versenden#2100">Newsletter2Go nutzen</a></p>
</li>
<li>
<p><a href="/crm/newsletter-versenden#1700">CleverReach nutzen</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div><hr>
</main>