<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_a"><span>A</span></a></li>
<li><a href="#_b"><span>B</span></a></li>
<li><a href="#_c"><span>C</span></a></li>
<li><a href="#_d"><span>D</span></a></li>
<li><a href="#_e"><span>E</span></a></li>
<li><a href="#_f"><span>F</span></a></li>
<li><a href="#_g"><span>G</span></a></li>
<li><a href="#_h"><span>H</span></a></li>
<li><a href="#_i"><span>I</span></a></li>
<li><a href="#_k"><span>K</span></a></li>
<li><a href="#_l"><span>L</span></a></li>
<li><a href="#_m"><span>M</span></a></li>
<li><a href="#_n"><span>N</span></a></li>
<li><a href="#_o"><span>O</span></a></li>
<li><a href="#_p"><span>P</span></a></li>
<li><a href="#_r"><span>R</span></a></li>
<li><a href="#_s"><span>S</span></a></li>
<li><a href="#_t"><span>T</span></a></li>
<li><a href="#_u"><span>U</span></a></li>
<li><a href="#_v"><span>V</span></a></li>
<li><a href="#_w"><span>W</span></a></li>
<li><a href="#_x"><span>X</span></a></li>
<li><a href="#_z"><span>Z</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Glossar</h1><div class="sect1">
<h2 id="_a">A</h2>
<div class="sectionbody">
<div id="abgleich" class="dlist glossary">
<dl>
<dt>Abgleich</dt>
<dd>
<p>Bestimmt, anhand welcher Daten beim Datenimport identifiziert werden soll, ob bereits ein Datensatz besteht.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/daten/daten-importieren/ElasticSync#1400">Import-Tool nutzen</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="aktionsgutschein" class="dlist">
<dl>
<dt class="hdlist1">Aktionsgutschein</dt>
<dd>
<p>Eine der beiden Arten des Gutscheintyps <strong>Gutschein</strong>. Gewährt einen Rabatt. Beim Aktionsgutschein wird der Gutscheinwert zuerst abgezogen und dann der Restbetrag besteuert.<br>
Die andere verfügbare Gutscheinart ist der <a href="#mehrzweckgutschein">Mehrzweckgutschein</a>. Der andere verfügbare Gutscheintyp in plentymarkets ist der <a href="#voucher">Voucher</a>.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/auftraege/gutscheine">Gutscheine</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="amazon-flatfile" class="dlist">
<dl>
<dt class="hdlist1">Amazon Flatfile</dt>
<dd>
<p>Eine Variantenliste im CSV-Format. Amazon Flatfiles werden für den Variantenexport von plentymarkets zu Amazon benötigt. Pro Amazon-Kategorie wird eine eigene Flatfile benötigt, da für Varianten verschiedener Kategorien auch verschiedene Variantendaten übertragen werden müssen.</p>
<div class="ulist">
<ul>
<li>
<p>Synonyme: Flatfile, Lagerbestandsdatei, Lagerbestandsdateivorlage</p>
</li>
<li>
<p>Weitere Informationen findest du z.B. im Video <a href="/videos/amazon/artikel/flat-files">Lagerbestandsdateivorlagen (Flat Files)</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="angebotsgebuehr" class="dlist">
<dl>
<dt class="hdlist1">Angebotsgebühr</dt>
<dd>
<p>Gebühr, die für das Einstellen eines Angebots bei eBay an eBay gezahlt werden muss.</p>
<div class="ulist">
<ul>
<li>
<p>Synonyme: Einstellungsgebühr</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="artikel" class="dlist">
<dl>
<dt class="hdlist1">Artikel</dt>
<dd>
<p>Artikel können als <em>Datencontainer</em> verstanden werden. Sie beinhalten immer eine oder mehrere <a href="#variante">Varianten</a>, d.h. eine oder mehrere verkaufbare Ausführungen eines Produkts. Wird zum Beispiel ein Hemd in den Größen 50, 52 und 54 angeboten, bilden alle Größen zusammen den Artikel. Jede einzelne Größe ist eine Variante dieses Artikels.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/einleitung/struktur">Artikel vs. Varianten</a>.<br></p>
</li>
<li>
<p>Synonyme: Produkte, Güter, Ware</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="artikel-pack" class="dlist">
<dl>
<dt class="hdlist1">Artikel-Pack</dt>
<dd>
<p>Siehe <a href="#artikelpaket">Artikelpaket</a>.</p>
</dd>
</dl>
</div>
<div id="artikelpaket" class="dlist">
<dl>
<dt class="hdlist1">Artikelpaket</dt>
<dd>
<p>Eine Möglichkeit, Produkte zu <em>kombinieren und als eine Verkaufseinheit</em> anzubieten. Artikelpakete bestehen aus unterschiedlichen <a href="#variante">Varianten</a>, die zusammengefasst und zu einem Paketpreis angeboten werden. Bestellt werden kann nur das komplette Paket. Die einzelnen Bestandteile können nicht gewählt werden. Beispiel: ein Bartpflege-Kit bestehend aus einer Schere, einer Bürste, Bartöl und Bartwachs.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets">Multipacks, Artikelpakete und Sets</a>.<br></p>
</li>
<li>
<p>Synonyme: Artikel-Pack, Bundle</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="artikelposition" class="dlist">
<dl>
<dt class="hdlist1">Artikelposition</dt>
<dd>
<p>Siehe <a href="#auftragsposition">Auftragsposition</a>.</p>
</dd>
</dl>
</div>
<div id="artikel-set" class="dlist">
<dl>
<dt class="hdlist1">Artikel-Set</dt>
<dd>
<p>Siehe <a href="#set">Set</a>.</p>
</dd>
</dl>
</div>
<div id="artikelsuche" class="dlist">
<dl>
<dt class="hdlist1">Artikelsuche</dt>
<dd>
<p>Siehe <a href="#facettensuche">Facettensuche</a>.</p>
</dd>
</dl>
</div>
<div id="attribut" class="dlist">
<dl>
<dt class="hdlist1">Attribut</dt>
<dd>
<p>Zum Beispiel die verschiedene Farben und Größen, in denen Produkte erhältlich sind. Mit Hilfe von Attributen werden Produkte charakterisiert und gleichzeitig auch verkaufbare <a href="#variante">Varianten</a> erzeugt, wie z.B. ein T-Shirt in der Farbe rot und in Größe S.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/einstellungen/attribute">Attribute</a>.<br></p>
</li>
<li>
<p>Synonyme: Charakteristik</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="auftragseigenschaft" class="dlist">
<dl>
<dt class="hdlist1">Auftragseigenschaft</dt>
<dd>
<p>Siehe <a href="#bestelleigenschaft">Bestelleigenschaft</a>.</p>
</dd>
</dl>
</div>
<div id="auftragsmerkmal" class="dlist">
<dl>
<dt class="hdlist1">Auftragsmerkmal</dt>
<dd>
<p>Siehe <a href="#bestellmerkmal">Bestellmerkmal</a>.</p>
</dd>
</dl>
</div>
<div id="auftragsnotiz" class="dlist">
<dl>
<dt class="hdlist1">Auftragsnotiz</dt>
<dd>
<p>Wird zur Hinterlegung von Informationstexten zu einem Auftrag genutzt.</p>
</dd>
</dl>
</div>
<div id="auftragsposition" class="dlist">
<dl>
<dt class="hdlist1">Auftragsposition</dt>
<dd>
<p>Auftragspositionen geben an, welche Artikel in welcher Menge bestellt wurden und somit einem Auftrag zugeordnet sind. Einsehbar sind Auftragspositionen direkt an einem Auftrag im Backend. Zudem werden Auftragspositionen auch auf Auftragsdokumenten wie z.B. Bestellbestätigungen oder Rechnungen wiedergegeben.<br></p>
<div class="ulist">
<ul>
<li>
<p>Synonyme: Artikelposition</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="auktion" class="dlist">
<dl>
<dt class="hdlist1">Auktion</dt>
<dd>
<p>Ein <a href="#listing">Listing</a>-Typ. Auktionen sind bei den Marktplätzen eBay, Hood und ricardo möglich. Bei Listings vom Typ <strong>Auktion</strong> wird ein Startpreis für die Auktion festgelegt und Käufer bieten auf den Artikel.</p>
</dd>
</dl>
</div>
<div id="ausweichdatenfeld" class="dlist">
<dl>
<dt class="hdlist1">Ausweich-Datenfeld</dt>
<dd>
<p>Datenfeld, das exportiert wird, wenn die zugeordneten Datenfelder nicht gefunden werden konnten oder leer sind.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/daten/daten-exportieren/kataloge-verwalten#80">Kataloge verwalten</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_b">B</h2>
<div class="sectionbody">
<div id="backend" class="dlist glossary">
<dl>
<dt>Backend</dt>
<dd>
<p>Bereich des Systems, in dem die Funktionen hinterlegt sind und für Anwender bereitgestellt werden.</p>
</dd>
</dl>
</div>
<div id="backend-plugin-set" class="dlist">
<dl>
<dt class="hdlist1">Backend-Plugin-Set</dt>
<dd>
<p><a href="#plugin-set">Plugin-Set</a>, das mit einem Benutzerkonto verknüpft ist. Die in dem Plugin-Set enthaltenen <a href="#plugin">Plugins</a> können das <a href="#backend">Backend</a> um Menüs und Funktionen erweitern. Jedes Benutzerkonto ist immer mit genau einem Plugin-Set verknüpft.</p>
</dd>
</dl>
</div>
<div id="barcode" class="dlist">
<dl>
<dt class="hdlist1">Barcode</dt>
<dd>
<p>Barcodes dienen zur eindeutigen Kennzeichnung von Produkten. Sie werden häufig z.B. auf Artikeletiketten oder auf Dokumenten wie Rechnungen und Lieferscheinen dargestellt. Es gibt verschiedene Typen von Barcodes, z.B. GTIN, ISBN, UPC oder QR Barcodes.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/einstellungen/barcodes">Barcodes und Etiketten</a>.<br></p>
</li>
<li>
<p>Synonyme: Strichcode</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="berechnungstyp" class="dlist">
<dl>
<dt class="hdlist1">Berechnungstyp</dt>
<dd>
<p>Findet in der <a href="#portotabelle">Portotabelle</a> eines <a href="#versandprofil">Versandprofils</a> Anwendung. Bietet unterschiedliche Möglichkeiten, die Versandkosten je nach Artikel zu berechnen, z.B. abhängig vom Gewicht, von der Menge oder vom Preis.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/fulfillment/versand-vorbereiten#1600">Versand vorbereiten</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="bestandspuffer" class="dlist">
<dl>
<dt class="hdlist1">Bestandspuffer</dt>
<dd>
<p>Bewirkt, dass der Bestand auf einem Marktplatz um den eingetragenen Wert reduziert und der Artikel somit nicht vollständig über den Marktplatz verkauft wird.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/warenwirtschaft/wareneingaenge-verwalten#200">Wareneingänge verwalten</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="bestelleigenschaft" class="dlist">
<dl>
<dt class="hdlist1">Bestelleigenschaft</dt>
<dd>
<p>Bestelleigenschaften sind eine besondere Art von <a href="#eigenschaft">Eigenschaften</a>. Kunden können sie selbst im plentyShop auswählen und mit bestellen. Mit Bestelleigenschaften kannst du <a href="#variante">bestimmte Varianten</a> personalisierbar machen.</p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/anwendungsfaelle/personalisierte-artikel">Personalisierte Artikel</a>.<br></p>
</li>
<li>
<p>Synonyme: Auftragseigenschaft</p>
</li>
<li>
<p>Abgrenzung: <a href="#bestellmerkmal">Bestellmerkmal</a></p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="bestellmerkmal" class="dlist">
<dl>
<dt class="hdlist1">Bestellmerkmal</dt>
<dd>
<p>Bestellmerkmale sind eine besondere Art von <a href="#merkmal">Merkmalen</a>. Kunden können sie selbst im plentyShop auswählen und mit bestellen. Mit Bestellmerkmalen kannst du <a href="#artikel">ganze Artikel</a> personalisierbar machen.</p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/anwendungsfaelle/personalisierte-artikel">Personalisierte Artikel</a>.<br></p>
</li>
<li>
<p>Synonyme: Auftragsmerkmal</p>
</li>
<li>
<p>Abgrenzung: <a href="#bestelleigenschaft">Bestelleigenschaft</a></p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="beta" class="dlist">
<dl>
<dt class="hdlist1">beta</dt>
<dd>
<p>Ein Entwicklungsstand von plentymarkets. Funktionalität wird normalerweise zunächst auf dieser Version veröffentlicht. Wenn keine Probleme festgestellt werden, wird die Funktionalität auf <a href="#early">early</a> veröffentlicht.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Entwicklungsstand ändern</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="box-regal" class="dlist">
<dl>
<dt class="hdlist1">Box-Regal</dt>
<dd>
<p>Box-Regale sind in plentymarkets eine Art Zwischenlager für Sammelkommissionierungen und stehen nur in <a href="/automatisierung/prozesse/aktionen">Prozessen</a> zur Verfügung. Beim Picken von Ware werden die Artikel also zunächst nicht sortiert, sondern in einem Box-Regal gesammelt.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/app/funktionen/lagerverwaltung/rollende-kommissionierung">Rollende Kommissionierung</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="bundle" class="dlist">
<dl>
<dt class="hdlist1">Bundle</dt>
<dd>
<p>Siehe <a href="#artikelpaket">Artikelpaket</a>.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_c">C</h2>
<div class="sectionbody">
<div id="charakteristik" class="dlist glossary">
<dl>
<dt>Charakteristik</dt>
<dd>
<p>Siehe <a href="#attribut">Attribut</a>, <a href="#eigenschaft">Eigenschaft</a>, <a href="#merkmal">Merkmal</a>.</p>
</dd>
</dl>
</div>
<div id="charge" class="dlist">
<dl>
<dt class="hdlist1">Charge</dt>
<dd>
<p>Menge der Produkte, die in ein und demselben Arbeitsprozess hergestellt wurden.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/warenwirtschaft/mhd-charge-verwalten">MHD/Charge verwalten</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="click-and-collect" class="dlist">
<dl>
<dt class="hdlist1">Click &amp; Collect</dt>
<dd>
<p>Mit dieser Methode wird Kunden die Abholung und Bezahlung über den Webshop oder über Marktpläzte bestellter Ware direkt im <a href="/pos/pos-online-bestellungen">Ladengeschäft</a> ermöglicht.</p>
</dd>
</dl>
</div>
<div id="colli" class="dlist">
<dl>
<dt class="hdlist1">Colli</dt>
<dd>
<p>Ladeeinheit beim Warentransport. Darunter versteht man die Verpackungseinheit beim Stückgut, also die kleinste Einheit einer Warensendung. Die Angabe Colli: 7 bedeutet z.B., dass die Sendung aus 7 Verpackungseinheiten besteht.</p>
</dd>
</dl>
</div>
<div id="cross-selling" class="dlist">
<dl>
<dt class="hdlist1">Cross-Selling</dt>
<dd>
<p>Beim Cross-Selling werden Kunden subtil dazu ermutigt, mehr Geld auszugeben.
Dies geschieht, indem weitere Produkte angeboten werden, die sich auf das gekaufte Produkt beziehen.
Beispiel: Die Verkäuferin in einem Elektronikgeschäft schlägt eine Speicherkarte vor, die mit der Digitalkamera funktionieren würde.
Im Online-Handel können Kunden nicht direkt gefragt werden, ob sie zusätzliche Produkte kaufen wollen.
Stattdessen wird auf der Produktseite des Webshops eine Liste mit verwandten Artikeln angezeigt.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/webshop/cross-selling">Cross-Selling</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_d">D</h2>
<div class="sectionbody">
<div id="dep-export" class="dlist glossary">
<dl>
<dt>DEP-Export</dt>
<dd>
<p>Als JSON-Datei bereitgestelltes Datenerfassungsprotokoll. In Österreich muss der <a href="/pos/pos-rechtssicherheit#1300">DEP-Export</a> laut Gesetz für jede Registrierkasse verfügbar sein.</p>
</dd>
</dl>
</div>
<div id="dimension" class="dlist">
<dl>
<dt class="hdlist1">Dimension</dt>
<dd>
<p>Dimensionen sind Optionen, die pro <a href="#kennzahl">Kennzahlen</a> im Bereich <a href="/business-entscheidungen/plenty-bi">plentyBI</a> zur Verfügung stehen. Durch die Auswahl von Dimensionen wird bestimmt, nach welcher Datengrundlage Kennzahlen berechnet werden und nach welchen Kriterien die Daten gruppiert werden.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/business-entscheidungen/plenty-bi/myview-dashboard#200">Dashboard (Beta)</a> und auf den Unterseiten zu den einzelnen <a href="/business-entscheidungen/plenty-bi/kennzahlen">Kennzahlen</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="direkthandel" class="dlist">
<dl>
<dt class="hdlist1">Direkthandel</dt>
<dd>
<p>Siehe <a href="#streckengeschaeft">Streckengeschäft</a>.</p>
</dd>
</dl>
</div>
<div id="dropshipping" class="dlist">
<dl>
<dt class="hdlist1">Dropshipping</dt>
<dd>
<p>Siehe <a href="#streckengeschaeft">Streckengeschäft</a>.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_e">E</h2>
<div class="sectionbody">
<div id="early" class="dlist glossary">
<dl>
<dt>early</dt>
<dd>
<p>Ein Entwicklungsstand von plentymarkets. Funktionalität wird auf dieser Version veröffentlich, wenn auf <a href="#beta">beta</a> keine Probleme festgestellt wurden. Wenn auch auf diesem Entwicklungsstand keine Probleme festgestellt werden, wird die Funktionalität auf <a href="#stable">stable</a> veröffentlicht.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Entwicklungsstand ändern</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="eigener-wert" class="dlist">
<dl>
<dt class="hdlist1">Eigener Wert</dt>
<dd>
<p>Ermöglicht es, beim Datenaustausch einen festen Wert zu bestimmen, der importiert bzw. exportiert wird.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf den Handbuchseiten <a href="/daten/daten-exportieren/kataloge-verwalten#80">Kataloge verwalten</a> und <a href="/daten/daten-importieren/ElasticSync#1500">Import-Tool nutzen</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="eigenschaft" class="dlist">
<dl>
<dt class="hdlist1">Eigenschaft</dt>
<dd>
<p>Zusätzliche Datenfelder, die <em>nicht standardmäßig</em> in plentymarkets enthalten sind.
Durch das Anlegen von Eigenschaften können Händler ihre Produkte, Kontakte und Lagerorte über die Standard-Datenfelder hinaus charakterisieren.
Zum Beispiel, die Information, dass ein T-Shirt ein Fair-Trade-Symbol besitzt, dass ein Lagerort für Kühlware geeignet ist, oder dass ein Kontakt die Zusendung des neuen Produktkatalogs wünscht.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/einstellungen/eigenschaften">Eigenschaften und Merkmale</a>.<br></p>
</li>
<li>
<p>Synonyme: Charakteristik<br></p>
</li>
<li>
<p>Abgrenzung: <a href="#merkmal">Merkmale</a>, <a href="#attribut">Attribute</a></p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="einlage" class="dlist">
<dl>
<dt class="hdlist1">Einlage</dt>
<dd>
<p>Physische Ergänzung des Bargeldbestandes im Kassenbereich, um beispielsweise Wechselgeld vorrätig zu halten. <a href="/pos/pos-kassenbenutzer#190">Einlagen</a> werden in der plentymarkets App oder im Backend verbucht und können verschiedenen Buchungskonten zugewiesen werden.</p>
</dd>
</dl>
</div>
<div id="einlieferungsliste" class="dlist">
<dl>
<dt class="hdlist1">Einlieferungsliste</dt>
<dd>
<p>Enthält die Paketnummer, die Lieferadresse, den Betrag des Auftrags sowie die Auftrags-ID. Bei Abholung der Pakete unterschreibt der Fahrer des Versanddienstleisters die Liste, die als Abholbeleg dient.</p>
</dd>
</dl>
</div>
<div id="einlösung" class="dlist">
<dl>
<dt class="hdlist1">Einlösung</dt>
<dd>
<p>Die Einlösung des <a href="#gutschein">Gutscheins</a> erfolgt während des Bestellvorgangs. Dabei wird der entsprechende Rabattwert direkt angezeigt.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/auftraege/gutscheine">Gutscheine</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="einstellungsgebuehr" class="dlist">
<dl>
<dt class="hdlist1">Einstellungsgebühr</dt>
<dd>
<p>Siehe <a href="#angebotsgebuehr">Angebotsgebühr</a>.</p>
</dd>
</dl>
</div>
<div id="einzelkommissionierung" class="dlist">
<dl>
<dt class="hdlist1">Einzelkommissionierung</dt>
<dd>
<p>Methode der Zusammenstellung von Artikeln aus Aufträgen. Jeder Auftrag wird einzeln aufgenommen und abgearbeitet.</p>
</dd>
</dl>
</div>
<div id="elasticsync" class="dlist">
<dl>
<dt class="hdlist1">ElasticSync</dt>
<dd>
<p>Siehe <a href="#importtool">Import-Tool</a>.</p>
</dd>
</dl>
</div>
<div id="entnahme" class="dlist">
<dl>
<dt class="hdlist1">Entnahme</dt>
<dd>
<p>Physische Reduzierung des Bargeldbestandes, um beispielsweise Beträge von der Kasse auf andere Konten zu transferieren. <a href="/pos/pos-kassenbenutzer#200">Entnahmen</a> werden in der plentymarkets App oder im Backend verbucht und können verschiedenen Buchungskonten zugewiesen werden.</p>
</dd>
</dl>
</div>
<div id="ereignisaktion" class="dlist">
<dl>
<dt class="hdlist1">Ereignisaktion</dt>
<dd>
<p>Mit Ereignisaktionen werden Schritte der Auftragsabwicklung automatisiert. Bei einer Ereignisaktion wird durch ein Ereignis eine Aktion in Gang gesetzt: <em>wenn x eintritt, wird y ausgelöst</em>. Ein Beispiel für eine vielgenutzte Ereignisaktion ist das Versenden einer Bestellbestätigung per E-Mail, wenn ein neuer Auftrag erstellt wird oder eingeht. Mit Filtern innerhalb der Ereignisaktion sind Eingrenzungen für die auszulösende Aktion möglich.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_f">F</h2>
<div class="sectionbody">
<div id="facettennavigation" class="dlist glossary">
<dl>
<dt>Facettennavigation</dt>
<dd>
<p>Siehe <a href="#facettensuche">Facettensuche</a>.</p>
</dd>
</dl>
</div>
<div id="facettensuche" class="dlist">
<dl>
<dt class="hdlist1">Facettensuche</dt>
<dd>
<p>Filtermöglichkeiten, mit denen Suchergebnisse im Webshop nach bestimmten Kriterien, also Facetten, verfeinert werden. Beispielsweise können die Suchergebnisse so verfeinert werden, dass sie nur eine bestimmte Preisspanne oder bestimmte Markennamen, Größen oder Farben enthalten.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/frontend-artikelsuche-verwalten">Suchfilter</a>.<br></p>
</li>
<li>
<p>Synonyme: Facettennavigation, Filtersuche, Artikelsuche</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="fahrzeugverwendungsliste" class="dlist">
<dl>
<dt class="hdlist1">Fahrzeugverwendungsliste</dt>
<dd>
<p>Mit Fahrzeugverwendungslisten werden für eBay Verknüpfungen zwischen dem zu verkaufenden Artikel und den passenden Fahrzeugen erstellt. Dadurch werden die Verkaufschancen erhöht, da die <a href="#listing">Listings</a> mit der Fahrzeugverwendungsliste bevorzugt in den Suchergebnissen angezeigt werden. Fahrzeugverwendungslisten werden für Autoteile und Autozubehör verwendet.</p>
</dd>
</dl>
</div>
<div id="favicon" class="dlist">
<dl>
<dt class="hdlist1">Favicon</dt>
<dd>
<p>Ein Icon oder Symbol, welches dazu dient, Webseiten in Browsertabs und in der Lesezeichenliste zu kennzeichnen. Das Favicon wird im .ico-Format hinterlegt. Das Favicon wird entweder in der <a href="/webshop/ceres-einrichten#20">plentyShop LTS-Konfiguration</a> oder über den plentyShop LTS-Assistenten hinterlegt.</p>
</dd>
</dl>
</div>
<div id="feinkommissionierung" class="dlist">
<dl>
<dt class="hdlist1">Feinkommissionierung</dt>
<dd>
<p>Methode der Zusammenstellung von Artikeln aus Aufträgen. Einzelne Artikel einer Bestellung werden individuell gepickt, verpackt und versendet.</p>
</dd>
</dl>
</div>
<div id="festpreis" class="dlist">
<dl>
<dt class="hdlist1">Festpreis</dt>
<dd>
<p><a href="#listing">Listing</a>, das zum Festpreis angeboten wird und auf das nicht geboten werden kann.</p>
</dd>
</dl>
</div>
<div id="filtersuche" class="dlist">
<dl>
<dt class="hdlist1">Filtersuche</dt>
<dd>
<p>Siehe <a href="#facettensuche">Facettensuche</a>.</p>
</dd>
</dl>
</div>
<div id="flag" class="dlist">
<dl>
<dt class="hdlist1">Flag</dt>
<dd>
<p>Siehe <a href="#markierung">Markierung</a>.</p>
</dd>
</dl>
</div>
<div id="flatfile" class="dlist">
<dl>
<dt class="hdlist1">Flatfile</dt>
<dd>
<p>Siehe <a href="#amazon-flatfile">Amazon Flatfile</a>.</p>
</dd>
</dl>
</div>
<div id="formatdesigner" class="dlist">
<dl>
<dt class="hdlist1">FormatDesigner</dt>
<dd>
<p>Tool, um sogenannte Datenformate für den Datenexport zu erstellen. Zunächst muss das FormatDesigner-Plugin eingerichtet werden.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/daten/daten-exportieren/FormatDesigner">FormatDesigner</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="frontend" class="dlist">
<dl>
<dt class="hdlist1">Frontend</dt>
<dd>
<p>Beinhaltet den Webshop, also all das, was ein Kunde sehen kann.</p>
</dd>
</dl>
</div>
<div id="fulfillment" class="dlist">
<dl>
<dt class="hdlist1">Fulfillment</dt>
<dd>
<p>Beschreibt alle Aktivitäten und Abläufe, die nach Abschluss eines Artikelkaufs der Belieferung des Kunden und der Erfüllung sonstiger Vertragspflichten dienen.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_g">G</h2>
<div class="sectionbody">
<div id="grand-total" class="dlist glossary">
<dl>
<dt>Grand Total</dt>
<dd>
<p>Gesamtsumme aller Umsätze, die seit Inbetriebnahme der Kasse generiert wurden. Für <a href="/pos">plentyPOS</a> wird das Grand Total im <a href="/pos/pos-kassenbenutzer#230">Tagesabschlussbericht</a> aufgeführt.</p>
</dd>
</dl>
</div>
<div id="grobkommissionierung" class="dlist">
<dl>
<dt class="hdlist1">Grobkommissionierung</dt>
<dd>
<p>Methode der Zusammenstellung von Artikeln aus Aufträgen. Mehrere Aufträge werden zusammengefasst.</p>
</dd>
</dl>
</div>
<div id="grundpreis" class="dlist">
<dl>
<dt class="hdlist1">Grundpreis</dt>
<dd>
<p>Der Preis eines Artikels pro Pfund, Liter oder andere Maßeinheit. Der Grundpreis wird z.B. in den Regalen von Supermärkten aufgeführt. Berechnet wird er auf Grundlage von <a href="/artikel/einstellungen/einheiten">Einheit</a>, Inhalt und Preis des Artikels. Dargestellt werden kann er im Webshop, auf Vertriebskanälen wie eBay oder Netto und auf Artikeletiketten.</p>
</dd>
</dl>
</div>
<div id="gueter" class="dlist">
<dl>
<dt class="hdlist1">Güter</dt>
<dd>
<p>Siehe <a href="#artikel">Artikel</a>.</p>
</dd>
</dl>
</div>
<div id="gutschein" class="dlist">
<dl>
<dt class="hdlist1">Gutschein</dt>
<dd>
<p>Einer der beiden Gutscheintypen in plentymarkets. Gewährt einen Rabatt in deinem Webshop.<br>
Der andere verfügbare Gutscheintyp ist der <a href="#voucher">Voucher</a>.<br>
Ein Gutschein enthält einen Code, der einer <a href="#gutscheinkampagne">Gutscheinkampagne</a> angehört und entweder nur einmal oder mehrfach eingelöst werden kann. Gutscheine können als Code in einer E-Mail versendet werden oder als Artikel erstellt und verkauft werden. Der Käufer erhält in letzterem Fall den Gutschein dann als PDF-Dokument.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/auftraege/gutscheine">Gutscheine</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="gutscheinkampagne" class="dlist">
<dl>
<dt class="hdlist1">Gutscheinkampagne</dt>
<dd>
<p>Jeder Gutschein gehört einer Kampagne an. Über die Kampagne kann z.B. die Laufzeit des Gutscheins sowie die Anzahl der möglichen Einlösungen eingestellt werden.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/auftraege/gutscheine">Gutscheine</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_h">H</h2>
<div class="sectionbody">
<div id="handelsvertreter" class="dlist glossary">
<dl>
<dt>Handelsvertreter</dt>
<dd>
<p>Vermittelt als selbstständiger Gewerbetreibender Geschäfte für ein anderes Unternehmen oder schließt Geschäfte in dessen Namen ab.</p>
</dd>
</dl>
</div>
<div id="hauptmandant" class="dlist">
<dl>
<dt class="hdlist1">Hauptmandant</dt>
<dd>
<p>Siehe <a href="#standard-mandant">Standard-Mandant</a>.</p>
</dd>
</dl>
</div>
<div id="hauptvariante" class="dlist">
<dl>
<dt class="hdlist1">Hauptvariante</dt>
<dd>
<p>Die erste <a href="#variante">Variante</a> eines Artikels wird als Hauptvariante bezeichnet. Hat ein Artikel mehrere Varianten, kann die Hauptvariante entweder selbst ein verkaufbares Produkt sein oder rein virtuell bestehen, um die weiteren Untervarianten des Artikels anhand von <a href="#vererbung">Vererbung</a> zu verwalten.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_i">I</h2>
<div class="sectionbody">
<div id="idea-export" class="dlist glossary">
<dl>
<dt>IDEA-Export</dt>
<dd>
<p>GoBD-konformer Export der Kassenvorgänge, der im Rahmen einer Prüfung durch das Finanzamt angefordert werden kann. Die Exportdateien können pro Jahr als ZIP-Datei heruntergeladen werden.</p>
</dd>
</dl>
</div>
<div id="importtool" class="dlist">
<dl>
<dt class="hdlist1">Import-Tool</dt>
<dd>
<p>Tool, das es über das Erstellen von Importen ermöglicht, Datenimporte auszuführen. Ein Datenimport kann manuell oder automatisiert erfolgen und ist dann ratsam, wenn neue Daten bereits digital vorliegen.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/daten/daten-importieren/ElasticSync">Import-Tool nutzen</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="inbound" class="dlist">
<dl>
<dt class="hdlist1">Inbound</dt>
<dd>
<p>Bedeutet, dass du einen Fulfillment-Dienstleister mit Waren versorgst, die dann von diesem an deine Kunden geliefert werden. Der Begriff Inbound umfasst 2 Aspekte:</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>die Übermittlung der Daten an den Fulfillment-Dienstleister in Form einer Avise (Warenlieferungsankündigung)</p>
</li>
<li>
<p>der Prozess des physischen Wareneingangs, den du von deinem Lager in das Lager des Fulfillment-Dienstleisters überträgst</p>
</li>
</ol>
</div>
</dd>
</dl>
</div>
<div id="inventur" class="dlist">
<dl>
<dt class="hdlist1">Inventur</dt>
<dd>
<p>Prozess der Bestandsaufnahme; kann sowohl per Datenaustausch als auch mit der plentymarkets App durchgeführt werden.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/warenwirtschaft/inventur-vornehmen">Inventur vornehmen</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_k">K</h2>
<div class="sectionbody">
<div id="kassenjournal" class="dlist glossary">
<dl>
<dt>Kassenjournal</dt>
<dd>
<p>Beinhaltet alle verfügbaren Kassenbewegungen und ist als PDF- oder CSV-Datei exportierbar. Im <a href="/pos/pos-einrichten#400">Kassenjournal</a> können Kassenvorgänge gesucht und angezeigt werden.</p>
</dd>
</dl>
</div>
<div id="kassensturz" class="dlist">
<dl>
<dt class="hdlist1">Kassensturz</dt>
<dd>
<p>Der Kassensturz dient zur Dokumentation des Bargeldbestandes, der in der Kasse verfügbar ist. Er erfolgt in Form einer physischen Zählung des Geldbestandes mithilfe der plentymarkets App. <a href="/pos/pos-kassenbenutzer#450b">Kassensturzberichte</a> können gedruckt werden und werden im Dokumentenarchiv gespeichert.</p>
</dd>
</dl>
</div>
<div id="kategorie" class="dlist">
<dl>
<dt class="hdlist1">Kategorie</dt>
<dd>
<p>In plentymarkets können Kategorien sowohl im Sinne von <em>Warengruppen</em> als auch im Sinne von den <em>Content-Seiten</em> eines Webshops verstanden werden. Der Kategorietyp bestimmt, wie die Kategorie zu verstehen ist.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/einstellungen/kategorien">Kategorien</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="kennzahl" class="dlist">
<dl>
<dt class="hdlist1">Kennzahl</dt>
<dd>
<p>Eine Kennzahl gibt Aufschluss über betriebswirtschaftliche Zusammenhänge und stellt somit eine Entscheidungshilfe für unternehmerische Entscheidungen dar. In plentymarkets können Kennzahlen mithilfe vielfältiger Einstellungen im Modul <a href="/business-entscheidungen/plenty-bi">plentyBI</a> angelegt und statistisch ausgewertet werden.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/business-entscheidungen/plenty-bi/kennzahlen">Kennzahlen</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="ktype" class="dlist">
<dl>
<dt class="hdlist1">K-Typ-Nummer</dt>
<dd>
<p>Nummer, die im TecDoc-Fahrzeugkatalog genau einem Fahrzeug eindeutig zugeordnet ist. Wird in der <a href="#fahrzeugverwendungsliste">eBay-Fahrzeugverwendungsliste</a> verwendet.<br></p>
<div class="ulist">
<ul>
<li>
<p>Alternative Schreibweisen: KType, K-Type</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="kundenklasse" class="dlist">
<dl>
<dt class="hdlist1">Kundenklasse</dt>
<dd>
<p>Ermöglicht die Unterteilung des Kundenstamms nach unterschiedlichen Kriterien. Anschließend können unterschiedliche Rabatte vergeben werden, die dann nur für eine bestimmte Kundenklasse gelten.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/crm/kontakte-verwalten#15">Kontakte</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="kundentyp" class="dlist">
<dl>
<dt class="hdlist1">Kundentyp</dt>
<dd>
<p>Dient der Einordnung und Unterscheidung von Kontakten. Standardmäßig sind bereits einige Typen in deinem System vorhanden. Eigene Typen können hinzugefügt werden.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/crm/kontakte-verwalten#20">Kontakte</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_l">L</h2>
<div class="sectionbody">
<div id="lademittel" class="dlist glossary">
<dl>
<dt>Lademittel</dt>
<dd>
<p>Dient der Ladungssicherung (z.B. Palette, Container etc.). Lademittel werden verwendet, um kleine Verpackungseinheiten oder unförmige Artikel sicher zu einer Sendung zusammenzufassen. So werden einzelne Artikel auf Paletten beispielsweise mit Folie und Gurten zu einem stabilen Ganzen verbunden.</p>
</dd>
</dl>
</div>
<div id="lager" class="dlist">
<dl>
<dt class="hdlist1">Lager</dt>
<dd>
<p>Raum, in dem Ware gelagert wird. Ein Lager kann beispielsweise aus einer Halle bestehen, in der sich Regale mit Regalböden und konkreten Lagerorten befinden.</p>
</dd>
</dl>
</div>
<div id="lagerbestandsdatei" class="dlist">
<dl>
<dt class="hdlist1">Lagerbestandsdatei</dt>
<dd>
<p>Siehe <a href="#amazon-flatfile">Amazon Flatfile</a>.</p>
</dd>
</dl>
</div>
<div id="lagerort" class="dlist">
<dl>
<dt class="hdlist1">Lagerort</dt>
<dd>
<p>Konkreter Ort, an dem sich ein Artikel im Lager befindet (Bsp. Halle 1, Regal 4, Regalboden 2, Lagerort 6).</p>
</dd>
</dl>
</div>
<div id="lagerreichweite" class="dlist">
<dl>
<dt class="hdlist1">Lagerreichweite</dt>
<dd>
<p>Zeitraum (in Tagen), für den der Warenbestand bis zur nächsten Nachbestellung reichen soll.</p>
</dd>
</dl>
</div>
<div id="laufweg" class="dlist">
<dl>
<dt class="hdlist1">Laufweg</dt>
<dd>
<p>Weg, nach dem das Lager beim Picken von Ware abgelaufen wird.</p>
</dd>
</dl>
</div>
<div id="lieferanschriftenliste" class="dlist">
<dl>
<dt class="hdlist1">Lieferanschriftenliste</dt>
<dd>
<p>Exportdatei mit Sendungsinformationen, die du dem Versanddienstleister, über den du deine Ware versendest, bereitstellst, damit dir dieser wiederum gültige Versandlabels für deine Pakete zur Verfügung stellen kann.</p>
</dd>
</dl>
</div>
<div id="listing" class="dlist">
<dl>
<dt class="hdlist1">Listing</dt>
<dd>
<p>Mit Listings verwaltest du die Artikel, die du auf den Marktplätzen eBay, Hood und ricardo anbietest. Im Listing nimmst du also Einstellungen vor, die für alle Listings gelten, unabhängig vom Marktplatz. Zum Beispiel sind das Einstellungen zur Bestandsabhängigkeit oder zum Inhalt des Listings. Außerdem wird der Listing-Typ festgelegt. Es gibt Listings vom Typ <a href="#festpreis">Festpreis</a>, <a href="#auktion">Auktion</a> oder <a href="#shop-artikel">Shop-Artikel</a>.<br>
Zu einem Listing können mehrere <a href="#market-listing">Market-Listings</a> gehören.</p>
</dd>
</dl>
</div>
<div id="listing-vorlage" class="dlist">
<dl>
<dt class="hdlist1">Listing-Vorlage</dt>
<dd>
<p>Vorlage für Listings, die entweder über die Listing-Gruppenfunktion im Menü <strong>Listings » Listings bearbeiten » Tab: Gruppenfunktion</strong> oder über REST erstellt werden kann. Eine Listing-Vorlage enthält Einstellungen zu <a href="#listing">Listings</a>, <a href="#market-listing">Market-Listings</a> und Aktionen zu Listings sowie spezifische Optionen für eBay, Hood und ricardo. Die Vorlage kann für beliebig viele Listings verwendet werden.<br>
Listing-Vorlagen können bei der Erstellung eines neuen Listings über <strong>Artikel öffnen » Neues Listing</strong> im Fenster <strong>Neues Market-Listing</strong> mit der Option <strong>Listing-Vorlage</strong> oder im Tab <strong>Multi-Channel</strong> eines Artikels mit der Option <strong>Listing-Vorlage</strong> auf ein Listing angewandt werden. Außerdem können bereits erstellte Listing-Vorlagen entweder über die Listing-Gruppenfunktion im Menü <strong>Listings » Listings bearbeiten » Gruppenfunktion</strong> in der Dropdown-Liste <strong>Keine Vorlage</strong> oder über die Artikel-Gruppenfunktion im Menü <strong>Artikel » Artikel bearbeiten » Artikel-Gruppenfunktion</strong> mit der Option <strong>Listing-Vorlage</strong> gewählt werden.</p>
<div class="ulist">
<ul>
<li>
<p>Synonyme: Optionenvorlage</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_m">M</h2>
<div class="sectionbody">
<div id="mandant" class="dlist glossary">
<dl>
<dt>Mandant</dt>
<dd>
<p>Eine Instanz von plentymarkets. Ein Mandant kann z.B. mit einer Domain verknüpft werden, um einen <a href="#webshop">Webshop</a> zu betreiben. Es ist möglich, mehrere Mandanten in einem einzelnen System zu verwalten.</p>
</dd>
</dl>
</div>
<div id="market-listing" class="dlist">
<dl>
<dt class="hdlist1">Market-Listing</dt>
<dd>
<p>Angebot, das auf den Marktplätzen eBay, Hood und ricardo eingestellt wird. Ein Market-Listing ist immer genau einem <a href="#listing">Listing</a> zugeordnet. Im Market-Listing werden u.a. marktplatzspezifische Einstellungen vorgenommen.</p>
</dd>
</dl>
</div>
<div id="markierung" class="dlist">
<dl>
<dt class="hdlist1">Markierung</dt>
<dd>
<p>Markierungen sind visuelle Unterstützungen. Sie helfen dir, die richtigen Artikel auf einen Blick zu finden. Weise jedem deiner Artikel eine oder zwei Markierungen zu. Diese Markierungen siehst du, wenn du deine Artikel im plentymarkets Backend betrachtest. Du kannst auch gezielt nach Artikeln suchen, die eine bestimmte Markierung oder Kombination von Markierungen haben.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/einstellungen/markierungen">Tags und Markierungen</a>.<br></p>
</li>
<li>
<p>Synonyme: Flag</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="mehrzweckgutschein" class="dlist">
<dl>
<dt class="hdlist1">Mehrzweckgutschein</dt>
<dd>
<p>Eine der beiden Arten des Gutscheintyps <strong>Gutschein</strong>. Beim Mehrzweckgutschein wird der Gutscheinwert vom Gesamtbetrag inklusive Steuern abgezogen.<br>
Die andere verfügbare Gutscheinart ist der <a href="#aktionsgutschein">Aktionsgutschein</a>. Der andere verfügbare Gutscheintyp in plentymarkets ist der <a href="#voucher">Voucher</a>.</p>
</dd>
</dl>
</div>
<div id="meldebestand" class="dlist">
<dl>
<dt class="hdlist1">Meldebestand</dt>
<dd>
<p>Bestandsmenge, bei der Ware nachbestellt werden soll. Mithilfe von Meldebeständen wirst du in plentymarkets automatisch benachrichtigt, sobald es an der Zeit ist, einzelne Artikel nachzubestellen. Du kannst zwischen einem statischen und einem dynamischen Meldebestand wählen.</p>
</dd>
</dl>
</div>
<div id="mengenabhaengige-verkaufspreise" class="dlist">
<dl>
<dt class="hdlist1">Mengenabhängige Verkaufspreise</dt>
<dd>
<p>Siehe <a href="#staffelpreis">Staffelpreis</a>.</p>
</dd>
</dl>
</div>
<div id="merkmal" class="dlist">
<dl>
<dt class="hdlist1">Merkmal</dt>
<dd>
<p>Merkmale waren die Vorgänger von <a href="#eigenschaft">Eigenschaften</a>.
Sie sind weniger flexibel, veraltet und werden schrittweise durch Eigenschaften ersetzt.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/einstellungen/eigenschaften">Eigenschaften und Merkmale</a>.<br></p>
</li>
<li>
<p>Synonyme: Charakteristik<br></p>
</li>
<li>
<p>Abgrenzung: <a href="#eigenschaft">Eigenschaften</a>, <a href="#attribut">Attribute</a></p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="mhd" class="dlist">
<dl>
<dt class="hdlist1">MHD</dt>
<dd>
<p>Das Mindesthaltbarkeitsdatum (MHD) kann für Varianten angegeben werden, die nur bis zu einem bestimmten Zeitpunkt haltbar sind.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/warenwirtschaft/mhd-charge-verwalten">MHD/Charge verwalten</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="multipack" class="dlist">
<dl>
<dt class="hdlist1">Multipack</dt>
<dd>
<p>Eine Möglichkeit, Produkte zu <em>kombinieren und als eine Verkaufseinheit</em> anzubieten. Multipacks sind verschiedene Stückzahlen derselben <a href="#variante">Variante</a>. Beispiel: eine Flasche Wasser, eine Packung mit 6 Flaschen und eine Packung mit 12 Flaschen.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets">Multipacks, Artikelpakete und Sets</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_n">N</h2>
<div class="sectionbody">
<div id="nachbestellung" class="dlist glossary">
<dl>
<dt>Nachbestellung</dt>
<dd>
<p>Nachbestellungen beziehen sich auf die Bestellung von Waren bei einem Lieferanten. Dies wird im Backend über die Nachbestellung abgebildet. Nachbestellungen können über mehrere Wege angelegt werden, z.B. direkt in den Bearbeitungsmöglichkeiten eines Auftrages oder pro Lager oder Lieferant.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/warenwirtschaft/nachbestellungen-verwalten/nachbestellungen-vornehmen">Nachbestellungen vornehmen</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="nachnahme" class="dlist">
<dl>
<dt class="hdlist1">Nachnahme</dt>
<dd>
<p>Zahlungsart, die du in deinem Webshop anbieten kannst. Der Versanddienstleister transportiert die Pakete zum Empfänger und übernimmt den Zahlungsvorgang für dich. Die Sendung wird dem Empfänger erst nach Bezahlung ausgehändigt.</p>
</dd>
</dl>
</div>
<div id="netto-warenbestand" class="dlist">
<dl>
<dt class="hdlist1">Netto-Warenbestand</dt>
<dd>
<p>Menge der Artikel, die zum Verkauf zur Verfügung steht. Wenn vom physischen Warenbestand alle Reservierungen abgezogen werden, ergibt sich der Netto-Warenbestand.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/warenwirtschaft/warenbestaende-verwalten#100">Warenbestände verwalten</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_o">O</h2>
<div class="sectionbody">
<div id="offene-posten" class="dlist glossary">
<dl>
<dt>Offene Posten</dt>
<dd>
<p>Zeigt eine Übersicht über Kunden mit unbezahlten Aufträgen (Anzahl der offenen Posten plus Höhe der Forderung) an.<br></p>
<div class="ulist">
<ul>
<li>
<p>Synonyme: OP-Liste</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="op-liste" class="dlist">
<dl>
<dt class="hdlist1">OP-Liste</dt>
<dd>
<p>Siehe <a href="#offene-posten">Offene Posten</a>.</p>
</dd>
</dl>
</div>
<div id="optionenvorlage" class="dlist">
<dl>
<dt class="hdlist1">Optionenvorlage</dt>
<dd>
<p>Siehe <a href="#listing-vorlage">Listing-Vorlage</a>.</p>
</dd>
</dl>
</div>
<div id="outbound" class="dlist">
<dl>
<dt class="hdlist1">Outbound</dt>
<dd>
<p>Beschreibt den Prozess des Vertriebs und Versands, den ein Fulfillment-Dienstleister für dich übernimmt: Dieser lager die Artikel zwischen, verpackt sie und sendet sie anschließend an deine Kunden.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_p">P</h2>
<div class="sectionbody">
<div id="packliste" class="dlist glossary">
<dl>
<dt>Packliste</dt>
<dd>
<p>Übersicht von Aufträgen mit allen enthaltenen Auftragspositionen und der Auftrags-ID als Barcode. Kann als PDF generiert werden, wenn eine Dokumentenvoralge eingerichtet wurde.</p>
</dd>
</dl>
</div>
<div id="paketnummer" class="dlist">
<dl>
<dt class="hdlist1">Paketnummer</dt>
<dd>
<p>Sendungsspezifische Nummer, über die man den Status des Pakets einsehen kann.<br></p>
<div class="ulist">
<ul>
<li>
<p>Synonyme: Sendungsnummer</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="physischer-warenbestand" class="dlist">
<dl>
<dt class="hdlist1">Physischer Warenbestand</dt>
<dd>
<p>Menge der Artikel, die sich tatsächlich in einem Lager befindet.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/warenwirtschaft/warenbestaende-verwalten#100">Warenbestände verwalten</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="pickliste" class="dlist">
<dl>
<dt class="hdlist1">Pickliste</dt>
<dd>
<p>Liste für Lagermitarbeiter zum Picken von Ware. Die Liste ist eine strukturierte Zusammenstellung der Artikel, die es für Versandpakete aus dem Lager herauszusuchen gilt. Sie optimiert somit die Transportwege und sorgt für mehr Effizienz.</p>
</dd>
</dl>
</div>
<div id="pim" class="dlist">
<dl>
<dt class="hdlist1">PIM</dt>
<dd>
<p>Die Abkürzung PIM steht für Product Information Management. Mit dem PIM-Modul von plentymarkets verwaltest du alle Informationen deiner Artikel in einem zentralen System, um sie später ohne großen Aufwand auf diversen Vertriebskanälen verteilen zu können.</p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen zum PIM-Modul findest du im Handbuch Kapitel <a href="/artikel">Artikel (PIM)</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="platzhalter" class="dlist">
<dl>
<dt class="hdlist1">Platzhalter</dt>
<dd>
<p>Siehe <a href="#template-variable">Template-Variable</a>.</p>
</dd>
</dl>
</div>
<div id="plentybase" class="dlist">
<dl>
<dt class="hdlist1">plentyBase</dt>
<dd>
<p>Ein auf <a href="https://marketplace.plentymarkets.com" target="_blank" rel="noopener">plentyMarketplace</a> erhältliches Tool, das unter Anderem zur Verwendung der <a href="#prozess">Prozesse</a> und zum Betrieb von Druckern installiert werden muss.</p>
</dd>
</dl>
</div>
<div id="plentypos" class="dlist">
<dl>
<dt class="hdlist1">plentyPOS</dt>
<dd>
<p>Kassensystem zum Einsatz auf mobilen Geräten (beispielsweise Tablets) im stationären Handel. Zur Nutzung der Funktionalitäten von plentyPOS muss die <a href="/app">plentymarkets App</a> heruntergeladen und installiert werden.</p>
</dd>
</dl>
</div>
<div id="plugin" class="dlist">
<dl>
<dt class="hdlist1">Plugin</dt>
<dd>
<p>Eine Erweiterung für das plentymarkets System. Kann auf <a href="https://marketplace.plentymarkets.com" target="_blank" rel="noopener">plentyMarketplace</a> gekauft oder über Git und die Tools plentyDrive und plentyDevTool in das System eingebunden werden.</p>
</dd>
</dl>
</div>
<div id="plugin-set" class="dlist">
<dl>
<dt class="hdlist1">Plugin-Set</dt>
<dd>
<p>Eine Sammlung von Plugins. Kann mit Mandanten und <a href="#backend-plugin-set">Backend-Benutzerkonten</a> verknüpft werden.</p>
</dd>
</dl>
</div>
<div id="portotabelle" class="dlist">
<dl>
<dt class="hdlist1">Portotabelle</dt>
<dd>
<p>Enthält die Versandkosten des <a href="#versandprofil">Versandprofils</a>. Für jede Region, die im Versandprofil enthalten ist – also jedes Lieferland, das aktiviert wurde und ggf. mit mehreren anderen Lieferländern in eine Region zusammengefasst wurde – müssen die Versandkosten gespeichert werden.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/fulfillment/versand-vorbereiten#1500">Versand vorbereiten</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="preis" class="dlist">
<dl>
<dt class="hdlist1">Preis</dt>
<dd>
<p>In plentymarkets wird zwischen <em>Verkaufspreisen</em> und <em>Preisen</em> unterschieden. Der Preis ist der tatsächliche monetäre Betrag, zu dem eine Variante verkauft wird, wenn die durch den <a href="#verkaufspreis">Verkaufspreis</a> definierten Bedingungen erfüllt sind. Der Preis wird Kunden in Rechnung gestellt, wenn die Bedingungen erfüllt sind, die in den Verkaufspreiseinstellungen definiert wurden.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/einstellungen/preise">Verkaufspreise und Preiskalkulation</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="preiskalkulation" class="dlist">
<dl>
<dt class="hdlist1">Preiskalkulation</dt>
<dd>
<p>Preiskalkulationen dienen dazu, die <a href="#preis">Preise</a> von Varianten anhand bestimmter Kriterien automatisch zu berechnen und zu aktualisieren. Dabei können Anwender diverse, an der Variante gespeicherten Kosten zu einem Verkaufspreis addieren, z.B. Transportkosten, Lagerkosten, Zoll, Mehrwertsteuer. Weiterhin können Anwender individuelle Beträge zum Preis addieren oder vom Preis subtrahieren, z.B. plus 5% oder mal 1,05.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/einstellungen/preise">Verkaufspreise und Preiskalkulation</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="preisstaffel" class="dlist">
<dl>
<dt class="hdlist1">Preisstaffel</dt>
<dd>
<p>Siehe <a href="#staffelpreis">Staffelpreis</a>.</p>
</dd>
</dl>
</div>
<div id="preisstufungen" class="dlist">
<dl>
<dt class="hdlist1">Preisstufungen</dt>
<dd>
<p>Siehe <a href="#staffelpreis">Staffelpreis</a>.</p>
</dd>
</dl>
</div>
<div id="produkte" class="dlist">
<dl>
<dt class="hdlist1">Produkte</dt>
<dd>
<p>Siehe <a href="#artikel">Artikel</a>.</p>
</dd>
</dl>
</div>
<div id="prozess" class="dlist">
<dl>
<dt class="hdlist1">Prozess</dt>
<dd>
<p>Funktionalität innerhalb des plentymarkets Backends, die zur Automatisierung von Arbeitsabläufen dient und aus verschiedenen Arbeitsschritten zusammengesetzt wird. Zur Nutzung der Prozesse ist die Installation von <a href="#plentybase">plentyBase</a> notwendig.</p>
</dd>
</dl>
</div>
<div id="pruefziffer" class="dlist">
<dl>
<dt class="hdlist1">Prüfziffer</dt>
<dd>
<p>Die letzte Ziffer eines GTIN <a href="#barcode">Barcodes</a>.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_r">R</h2>
<div class="sectionbody">
<div id="retourenetikett" class="dlist glossary">
<dl>
<dt>Retourenetikett</dt>
<dd>
<p>Wird einem Paket beigelegt. Im Fall der Rücksendung, z.B. aufgrund von Gewährleistungen oder Reparaturen, muss der Kunde die Ware nur noch einpacken und das Retourenetikett anbringen.<br></p>
<div class="ulist">
<ul>
<li>
<p>Synonyme: Retourenlabel</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="retourenlabel" class="dlist">
<dl>
<dt class="hdlist1">Retourenlabel</dt>
<dd>
<p>Siehe <a href="#retourenetikett">Retourenetikett</a>.</p>
</dd>
</dl>
</div>
<div id="rohdaten" class="dlist">
<dl>
<dt class="hdlist1">Rohdaten</dt>
<dd>
<p>Rohdaten werden pro plentymarkets System regelmäßig automatisiert ermittelt und sicher in der Cloud gespeichert. Sie enthalten unbearbeitete Informationen, beispielsweise über Aufträge oder Warenbewegungen. Welche Rohdaten abgelegt werden, hängt von den Einstellungen im Menü <strong>Einrichtung » plentyBI » Rohdaten</strong> ab. Rohdaten liegen im CSV-Format vor und können von Anwendern mithilfe externer Tools ausgewertet werden. Zusätzlich bilden Rohdaten die Grundlage für <a href="#kennzahl">Kennzahlen</a>, die im Modul <a href="/business-entscheidungen/plenty-bi">plentyBI</a> visualisiert und ausgewertet werden können.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/business-entscheidungen/plenty-bi/reports/reports-verwalten">Reports verwalten</a>.<br></p>
</li>
<li>
<p>Synonyme: Reports, Primärdaten</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="rollende-boxenkommissionierung" class="dlist">
<dl>
<dt class="hdlist1">Rollende Boxenkommissionierung</dt>
<dd>
<p>Siehe <a href="#rollende-kommissionierung">Rollende Kommissionierung</a>.</p>
</dd>
</dl>
</div>
<div id="rollende-kommissionierung" class="dlist">
<dl>
<dt class="hdlist1">Rollende Kommissionierung</dt>
<dd>
<p>Methode der Zusammenstellung von Artikeln aus mehreren Aufträgen. Mehrere Aufträge werden gleichzeitig gepickt, verpackt und versandfertig vorsortiert and den Packtisch geliefert.<br></p>
<div class="ulist">
<ul>
<li>
<p>Synonyme: rollende Boxenkommissionierung</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="ruecksendeschein" class="dlist">
<dl>
<dt class="hdlist1">Rücksendeschein</dt>
<dd>
<p>Wird vom Kunden für Artikel benutzt, die zurückgeschickt werden sollen. Liegt entweder dem Paket bei oder kann von Kunden ausgedruckt werden, sobald eine Dokumentenvorlage dafür im System hinterlegt wurde.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_s">S</h2>
<div class="sectionbody">
<div id="sammelkommissionierung" class="dlist glossary">
<dl>
<dt>Sammelkommissionierung</dt>
<dd>
<p>Methode der Zusammenstellung von Artikeln aus Aufträgen. Mehrere Aufträge werden auf einmal bearbeitet. Alle Artikel werden in nur einen Behälter kommissioniert und erst am Packtisch werden die Artikel den einzelnen Aufträgen zugeordnet.</p>
</dd>
</dl>
</div>
<div id="sendungsnummer" class="dlist">
<dl>
<dt class="hdlist1">Sendungsnummer</dt>
<dd>
<p>Siehe <a href="#paketnummer">Paketnummer</a>.</p>
</dd>
</dl>
</div>
<div id="seriennummer" class="dlist">
<dl>
<dt class="hdlist1">Seriennummer</dt>
<dd>
<p>Eine Seriennummer ist eine alphanumerische Zeichenkette, die ein einzelnes Exemplar eines Artikels eindeutig kennzeichnet. Seriennummern ermöglichen die Rückverfolgbarkeit eines verkauften Artikels im Fehler- oder Problemfall und erleichtern somit das Aufspüren von gestohlenen oder gefälschten Produkten. Beispiele für Artikel mit Seriennummern sind Autos, Elektronik und Haushaltsgeräte.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/anwendungsfaelle/seriennummern">Seriennummern</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="set" class="dlist">
<dl>
<dt class="hdlist1">Set</dt>
<dd>
<p>Eine Möglichkeit, Produkte zu <em>kombinieren und als eine Verkaufseinheit</em> anzubieten.
Sets bestehen aus mehreren <a href="#artikel">Artikeln</a>.
Bei der Bestellung können Endkunden für jeden Artikel die gewünschte <a href="#variante">Variante</a> wählen.
Beispiel: eine Fußballuniform bestehend aus einem Trikot, Shorts und Socken.
Endkunden stellen ihre eigenen Uniformen zusammen, indem sie die gewünschte Größe und Farbe für jede der drei Komponenten auswählen.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets">Multipacks, Artikelpakete und Sets</a>.</p>
</li>
<li>
<p>Synonyme: Artikel-Set</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="shop-aktion" class="dlist">
<dl>
<dt class="hdlist1">Shop-Aktion</dt>
<dd>
<p>Eine Möglichkeit, bestimmte Artikel im Webshop hervorzuheben. Zum Beispiel, um einzelne Artikel als Bestseller, Sonderangebote oder Neuheiten zu kennzeichnen.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/webshop/shop-aktionen">Shop-Aktionen</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="shop-artikel" class="dlist">
<dl>
<dt class="hdlist1">Shop-Artikel</dt>
<dd>
<p>Listing-Typ für den Marktplatz Hood. Der Artikel wird im Hood-Shop angeboten.</p>
</dd>
</dl>
</div>
<div id="skontofrist" class="dlist">
<dl>
<dt class="hdlist1">Skontofrist</dt>
<dd>
<p>Anzahl der Tage, in denen der Kontakt skontiert offene Forderungen bezahlen kann.</p>
</dd>
</dl>
</div>
<div id="skontosatz" class="dlist">
<dl>
<dt class="hdlist1">Skontosatz</dt>
<dd>
<p>Wert in Prozent, den der Kontakt bei Einhaltung der <a href="#skontofrist">Skontofrist</a> in Abzug bringen kann.</p>
</dd>
</dl>
</div>
<div id="stable" class="dlist">
<dl>
<dt class="hdlist1">stable</dt>
<dd>
<p>Ein Entwicklungsstand von plentymarkets. Funktionalität wird auf dieser Version veröffentlich, wenn auf <a href="#early">early</a> keine Probleme festgestellt wurden.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Entwicklungsstand ändern</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="staffelpreis" class="dlist">
<dl>
<dt class="hdlist1">Staffelpreis</dt>
<dd>
<p>Eine Reihe von Preisen, die auf einem anderen Faktor basieren, meist der bestellten Menge. Beispielsweise verkaufst du ein Produkt für 5,00 EUR pro Stück. Kauft ein Kunde 3 oder mehr Exemplare des Artikels, kann der Preis auf 4,00 EUR pro Stück reduziert werden.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/einstellungen/preise">Verkaufspreise</a>.</p>
</li>
<li>
<p>Synonyme: Preisstaffel, Preisstufungen, mengenabhängige Verkaufspreise</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="stammdaten" class="dlist">
<dl>
<dt class="hdlist1">Stammdaten</dt>
<dd>
<p>Grundinformationen eines Benutzers (z.B. Kontaktdaten wie Firmenname, Anschrift, Telefonnummer etc.).</p>
</dd>
</dl>
</div>
<div id="standard-lagerort" class="dlist">
<dl>
<dt class="hdlist1">Standard-Lagerort</dt>
<dd>
<p>Der Standard-Lagerort dient als Platzhalter-Lagerort und bedeutet, dass der Ware noch kein konkreter Lagerort zugeordnet wurde.</p>
</dd>
</dl>
</div>
<div id="standard-mandant" class="dlist">
<dl>
<dt class="hdlist1">Standard-Mandant</dt>
<dd>
<p>Der <a href="#mandant">Mandant</a>, der mit dem Vertrag des Systems verbunden ist. Einige Funktionen sind nur über den Hauptmandanten möglich. Dazu gehören z.B. Ereignisaktionen und Aufrufe über die REST-API.<br></p>
<div class="ulist">
<ul>
<li>
<p>Synonyme: Hauptmandant</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="streckengeschaeft" class="dlist">
<dl>
<dt class="hdlist1">Streckengeschäft</dt>
<dd>
<p>Bezeichnet eine Handelsform, bei der die Ware direkt vom Hersteller an den Endkunden geliefert wird, ohne dass sie in physischen Kontakt mit dem Lager des Händlers kommt. Der Händler übernimmt hierbei eine Vermittlerfunktion und erwirbt die Ware direkt vom Hersteller.<br></p>
<div class="ulist">
<ul>
<li>
<p>Synonyme: Dropshipping, Direkthandel, Streckenhandel</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="streckenhandel" class="dlist">
<dl>
<dt class="hdlist1">Streckenhandel</dt>
<dd>
<p>Siehe <a href="#streckengeschaeft">Streckengeschäft</a>.</p>
</dd>
</dl>
</div>
<div id="strichcode" class="dlist">
<dl>
<dt class="hdlist1">Strichcode</dt>
<dd>
<p>Siehe <a href="#barcode">Barcode</a>.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_t">T</h2>
<div class="sectionbody">
<div id="tag" class="dlist glossary">
<dl>
<dt>Tag</dt>
<dd>
<p>Tags sind eine Möglichkeit, bestimmte Datensätze hervorzuheben. Tags können z.B. auf einzelne Varianten, Kundendatensätze, Bestellungen, Tickets usw. angewendet werden.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/willkommen/allgemeine-funktionen/tags">Tags</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="tagesabschlussbericht" class="dlist">
<dl>
<dt class="hdlist1">Tagesabschlussbericht</dt>
<dd>
<p>Dokumentiert im Kassenbereich die seit dem letzten Tagesabschluss getätigten Umsätze. <a href="/pos/pos-kassenbenutzer#230">Tagesabschlussberichte</a> werden nach Erzeugung im Dokumentenarchiv gespeichert und gelten gegenüber dem Finanzamt als Nachweis.<br></p>
<div class="ulist">
<ul>
<li>
<p>Synonyme: Z-Report</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="tse" class="dlist">
<dl>
<dt class="hdlist1">Technische Sicherheitseinrichtung (TSE)</dt>
<dd>
<p>Eine Erweiterung für Kassensysteme, um je nach Standort der Kasse die manipulationssichere Aufzeichung von Kassiervorgängen nach den rechtlichen Vorgaben der <a href="/pos/pos-rechtssicherheit#400">deutschen Kassensicherungsverordnung</a> und der <a href="/pos/pos-rechtssicherheit#1000">österreichischen Registrierkassensicherheitsverordung</a> sicherzustellen. Im Fall von plentyPOS ist die TSE für gewöhnlich als Modul innerhalb der <a href="/willkommen/schnelleinstieg/systemvoraussetzungen#500">empfohlenen Bondrucker</a> der Marke Epson verbaut.</p>
</dd>
</dl>
</div>
<div id="template-funktion" class="dlist">
<dl>
<dt class="hdlist1">Template-Funktion</dt>
<dd>
<p>Vordefinierte Funktion für E-Mail-Vorlagen. Beim Versand der E-Mail wird die Funktion automatisch durch die tatsächliche URL ersetzt, z.B. die URL zum Warenkorb (<code>&#123;&#37;Link_Basket()&#37;&#125;</code>) oder zu den AGB des Webshops (<code>&#123;&#37;Link_TermsConditions()&#37;&#125;</code>).<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/crm/e-mails-versenden#4100">E-Mails versenden</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="template-variable" class="dlist">
<dl>
<dt class="hdlist1">Template-Variable</dt>
<dd>
<p>Vordefinierte Variable für E-Mail-Vorlagen. Beim Versand der E-Mail wird die Variable automatisch durch den tatsächlichen Inhalt ersetzt, wenn die entsprechenden Voraussetzungen erfüllt sind. Beispielsweise gibt die Variable <code>$OrderID</code> die ID des Auftrags aus und die Variable <code>$CustomerFullName</code> den Vor- und Nachnamen des Kontakts.<br></p>
<div class="ulist">
<ul>
<li>
<p>Synonyme: Platzhalter<br></p>
</li>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/crm/e-mails-versenden#4200#">E-Mails versenden</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="treueprogramm" class="dlist">
<dl>
<dt class="hdlist1">Treueprogramm</dt>
<dd>
<p>Kann mit eBay Plus oder Amazon verwendet werden. Wird im <a href="#versandprofil">Versandprofil</a> aktiviert.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_u">U</h2>
<div class="sectionbody">
<div id="ustidnr" class="dlist glossary">
<dl>
<dt>USt-IdNr.</dt>
<dd>
<p>Kurzform für Umsatzsteuer-Identifikationsnummer. Ist eine eindeutige Kennzeichnung einer umsatzsteuerpflichtigen Person oder eines Unternehmens innerhalb der EU im umsatzsteuerlichen Sinne.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_v">V</h2>
<div class="sectionbody">
<div id="variante" class="dlist glossary">
<dl>
<dt>Variante</dt>
<dd>
<p>Eine verkaufbare Ausführung eines Produkts. Wird zum Beispiel ein Hemd in den Größen 50, 52 und 54 angeboten, dann ist jede einzelne Größe eine Variante dieses Hemdes. Alle Größen zusammen bilden den <a href="#artikel">Artikel</a>.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/einleitung/struktur">Artikel vs. Varianten</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="vererbung" class="dlist">
<dl>
<dt class="hdlist1">Vererbung</dt>
<dd>
<p>Die <a href="#hauptvariante">Hauptvariante</a> eines Artikels unterscheidet sich von den Untervarianten dadurch, dass ihre Daten weitergegeben, also <em>vererbt</em> werden können. Die Hauptvariante ist also eine Elternvariante, die bestimmte Daten an ihre Kinder vererbt. Die Vererbungsfunktion ist standardmäßig aktiviert. Wenn eine neue Variante eines Artikels erstellt wird, erbt diese Variante Einstellungen der Hauptvariante, solange keine davon abweichenden Daten gespeichert werden.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/einleitung/vererbung">Was ist Vererbung?</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="verkaufspreis" class="dlist">
<dl>
<dt class="hdlist1">Verkaufspreis</dt>
<dd>
<p>In plentymarkets wird zwischen <em>Verkaufspreisen</em> und <em>Preisen</em> unterschieden. Die Verkaufspreise sind Datencontainer. Sie ermöglichen das zentrale Verwalten von Bedingungen, die auf Preise zutreffen sollen. Verkaufspreise bestimmen also in welchen Situationen eine Variante zu einem bestimmten <a href="#preis">Preis</a> verkauft wird.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/einstellungen/preise">Verkaufspreise und Preiskalkulation</a>.<br></p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="versandauftrag" class="dlist">
<dl>
<dt class="hdlist1">Versandauftrag</dt>
<dd>
<p>Der Auftrag, der bei einem Versanddienstleister angemeldet wird.</p>
</dd>
</dl>
</div>
<div id="versandprofil" class="dlist">
<dl>
<dt class="hdlist1">Versandprofil</dt>
<dd>
<p>Enthält Versandkombinationen, die die Kunden im Checkout wählen können oder die bereits bestimmten Auftragsarten automatisch zugewiesen werden. Zum Beispiel können im Versandprofil Zahlungsarten und Kundenklassen gesperrt werden oder es kann ein Inselzuschlag gespeichert werden. Dieser Aufpreis greift also immer dann, wenn eine Lieferung auf eine Insel, z.B. Helgoland, erfolgt. Dies bedeutet, dass zusätzlich zu den eigentlichen Versandkosten noch ein weiterer Betrag fällig wird.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/fulfillment/versand-vorbereiten#1000">Versand vorbereiten</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="vorzertifizierter-webshop" class="dlist">
<dl>
<dt class="hdlist1">Vorzertifizierter Webshop</dt>
<dd>
<p>Der Standard-plentyShop LTS-Webshop ist von EHI und Trusted Shops vorzertifiziert. Nutzer:innen des plentyShop LTS-Webshops können dadurch ihre Webshops deutlich schneller und einfacher der EHI und Trusted Shops zertifizieren lassen.</p>
</dd>
</dl>
</div>
<div id="voucher" class="dlist">
<dl>
<dt class="hdlist1">Voucher</dt>
<dd>
<p>Einer der beiden Gutscheintypen in plentymarkets. Wird bei Drittanbietern eingelöst, z.B. in der Hotellerie.<br>
Der andere verfügbare Gutscheintyp ist der <a href="#gutschein">Gutschein</a>.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_w">W</h2>
<div class="sectionbody">
<div id="ware" class="dlist glossary">
<dl>
<dt>Ware</dt>
<dd>
<p>Siehe <a href="#artikel">Artikel</a>.</p>
</dd>
</dl>
</div>
<div id="warenausgang" class="dlist">
<dl>
<dt class="hdlist1">Warenausgang</dt>
<dd>
<p>Ware wird aus dem System ausgebucht und der Warenbestand wird reduziert.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/warenwirtschaft/waren-ausbuchen">Waren ausbuchen</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="warenbestand" class="dlist">
<dl>
<dt class="hdlist1">Warenbestand</dt>
<dd>
<p>Menge der Ware, die aktuell im Lager vorhanden ist.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/warenwirtschaft/warenbestaende-verwalten">Warenbestände verwalten</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="wareneingang" class="dlist">
<dl>
<dt class="hdlist1">Wareneingang</dt>
<dd>
<p>Ware wird in das System eingebucht und der Warenbestand wird erhöht.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/warenwirtschaft/wareneingaenge-verwalten">Wareneingänge verwalten</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="webshop" class="dlist">
<dl>
<dt class="hdlist1">Webshop</dt>
<dd>
<p>Bezeichnet den Plugin-basierten plentymarkets Webshop plentyShop LTS und dessen Vorgänger Callisto.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_x">X</h2>
<div class="sectionbody">
<div id="x-bericht" class="dlist glossary">
<dl>
<dt>X-Bericht</dt>
<dd>
<p>Siehe <a href="#zwischenbericht">Zwischenbericht</a>.</p>
</dd>
</dl>
</div>
</div>
</div><div class="sect1">
<h2 id="_z">Z</h2>
<div class="sectionbody">
<div id="zahlungseingang" class="dlist glossary">
<dl>
<dt>Zahlungseingang</dt>
<dd>
<p>Bezeichnet den Eingang einer Zahlung für einen Auftrag. Zahlungen können automatisch eingehen oder manuell gebucht werden und werden direkt im Auftrag vermerkt.</p>
</dd>
</dl>
</div>
<div id="z-report" class="dlist">
<dl>
<dt class="hdlist1">Z-Report</dt>
<dd>
<p>Siehe <a href="#tagesabschlussbericht">Tagesabschlussbericht</a>.</p>
</dd>
</dl>
</div>
<div id="zuordnung" class="dlist">
<dl>
<dt class="hdlist1">Zuordnung</dt>
<dd>
<p>Legt beim Datenimport fest, welche Spalte einer CSV-Datei welchem Datenfeld in plentymarkets entspricht.<br></p>
<div class="ulist">
<ul>
<li>
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/daten/daten-importieren/ElasticSync#1500">Import-Tool nutzen</a>.</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
<div id="zwischenbericht" class="dlist">
<dl>
<dt class="hdlist1">Zwischenbericht</dt>
<dd>
<p>Enthält vielfältige Informationen über die Umsätze, die im laufenden Kassenbetrieb und seit dem letzten Tagesabschluss über die Kasse generiert wurden. <a href="/pos/pos-kassenbenutzer#220">Zwischenberichte</a> werden nicht als Dokumente im plentymarkets Backend hinterlegt und gelten nicht als Nachweise gegenüber dem Finanzamt.<br></p>
<div class="ulist">
<ul>
<li>
<p>Synonyme: X-Bericht</p>
</li>
</ul>
</div>
</dd>
</dl>
</div>
</div>
</div>
</main>