<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_mehr_zum_thema_plugins"><span>1.</span><span> Mehr zum Thema Plugins</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Plugins</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Plugins sind Erweiterungen, die du in dein plentymarkets System integrieren kannst. Sie bilden beispielsweise die Grundlage für deinen Webshop, dienen als Schnittstelle zum Verbinden von plentymarkets mit anderen Vertriebskanälen oder geben dir Möglichkeiten, um einfacher mit deinen Kund:innen zu kommunizieren.</p>
</div>
<div class="paragraph">
<p>In plentymarkets stehen Plugins nicht für sich alleine, sondern werden zu sogenannten Plugin-Sets zusammengefasst. Wenn du mehr als einen Webshop betreibst, kannst du so etwa unterschiedliche Layouts und Zahlungsarten für die beiden Shops verwalten. Selbst mit nur einem Vertriebskanal hast du aufgrund von Plugin-Sets die Möglichkeit, neue Versionen von Plugins zu testen bevor du sie tatsächlich live schaltest.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Anzahl erlaubter Plugin-Sets</div>
<div class="paragraph">
<p>Wie viele Plugin-Sets du gleichzeitig nutzen darfst, hängt von deinem Tarif ab:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Basic: 6</p>
</li>
<li>
<p>Classic: 30</p>
</li>
<li>
<p>Flex: 60</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_mehr_zum_thema_plugins">1. Mehr zum Thema Plugins</h2>
<div class="sectionbody">
<div class="exampleblock">
<div class="content">
<div class="ulist">
<ul>
<li>
<p>Wenn du neue Plugins suchst, um dein plentymarkets System zu erweitern, besuche <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
<li>
<p>Benötigst du eine bestimmte Funktionalität und wirst auf Marketplace nicht fündig, stelle dein Anliegen in der <a href="https://marketplace.plentymarkets.com/plentyprojects/" target="_blank" rel="noopener">Projektbörse</a> ein und erarbeite zusammen mit einer unserer <a href="https://www.plentymarkets.eu/service/partneragenturen/" target="_blank" rel="noopener">Partneragenturen</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> eine Lösung. Oder…​</p>
</li>
<li>
<p>Erstelle deine eigenen Plugins. Mehr Informationen dazu findest du auf <a href="http://developers.plentymarkets.com/" target="_blank" rel="noopener">plentyDevelopers</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ul>
</div>
</div>
</div>
<hr>
<div class="paragraph next-navigation">
<p><a href="/plugins/plugins-system-hinzufuegen">Plugins dem System hinzufügen <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</main>