<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_mehr_zum_thema_plugins"><span>1.</span><span> Mehr zum Thema Plugins</span></a></li>
<li><a href="#_funktionsübersicht"><span>2.</span><span> Funktionsübersicht</span></a>
<ul class="sectlevel2">
<li><a href="#_plugin_übersicht"><span>2.1.</span><span> Plugin-Übersicht</span></a></li>
<li><a href="#_git_plugin_detailansicht"><span>2.2.</span><span> Git-Plugin-Detailansicht</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Plugins</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Plugins sind Erweiterungen, die du in dein plentymarkets System integrieren kannst. Sie bilden beispielsweise die Grundlage für deinen Webshop, dienen als Schnittstelle zum Verbinden von plentymarkets mit anderen Vertriebskanälen oder geben dir Möglichkeiten, um einfacher mit deinen Kunden zu kommunizieren.</p>
</div>
<div class="paragraph">
<p>In plentymarkets stehen Plugins nicht für sich alleine, sondern werden zu sogenannten Plugin-Sets zusammengefasst. Wenn du mehr als einen Webshop betreibst, kannst du so etwa unterschiedliche Layouts und Zahlungsarten für die beiden Shops verwalten. Selbst mit nur einem Vertriebskanal hast du aufgrund von Plugin-Sets die Möglichkeit, neue Versionen von Plugins zu testen bevor du sie tatsächlich live schaltest.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Anzahl erlaubter Plugin-Sets</div>
<div class="paragraph">
<p>Wie viele Plugin-Sets du gleichzeitig nutzen darfst, hängt von deinem Tarif ab:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Basic: 6</p>
</li>
<li>
<p>Classic: 30</p>
</li>
<li>
<p>Flex: 60</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
Weiter zum Thema <a href="/plugins/plugins-system-hinzufuegen">Plugins dem System hinzufügen</a>.
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_mehr_zum_thema_plugins">1. Mehr zum Thema Plugins</h2>
<div class="sectionbody">
<div class="exampleblock">
<div class="content">
<div class="ulist">
<ul>
<li>
<p>Wenn du neue Plugins suchst, um dein plentymarkets System zu erweitern, besuche <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</li>
<li>
<p>Benötigst du eine bestimmte Funktionalität und wirst auf Marketplace nicht fündig, stelle dein Anliegen in der <a href="https://marketplace.plentymarkets.com/plentyprojects/" target="_blank" rel="noopener">Projektbörse</a> ein und erarbeite zusammen mit einer unserer <a href="https://www.plentymarkets.eu/service/partneragenturen/" target="_blank" rel="noopener">Partneragenturen</a> eine Lösung. Oder…​</p>
</li>
<li>
<p>Erstelle deine eigenen Plugins. Mehr Informationen dazu findest du auf <a href="http://developers.plentymarkets.com/" target="_blank" rel="noopener">plentyDevelopers</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsübersicht">2. Funktionsübersicht</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_plugin_übersicht">2.1. Plugin-Übersicht</h3>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Tabellenansicht des Menüs <strong>Plugins » Plugin-Übersicht</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neues Plugin-Set erstellen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet ein Fenster zur Erstellung eines neuen Plugin-Sets.<br>
<strong>Speichern</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>): Speichert das neue Plugin-Set.<br>
<strong>Plugin-Set-Name</strong>: Der Name des Plugin-Sets.<br>
<strong>Plugin-Set kopieren</strong>: Wählt bestehendes Plugin-Set aus Dropdown-Liste aus, um Einstellungen zu übernehmen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin-Sets verknüpfen</strong> (<span class="icon yellow"><i class="fa fa-globe  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein neues Fenster öffnet sich. Aus einer Dropdown-Liste kann für jedes Plugin-Set ein Mandant ausgewählt werden. Durch <strong>Speichern</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) der Einstellungen werden die Plugin-Sets mit den ausgewählten Mandanten verknüpft. Eine Verknüpfung kann vollständig aufgehoben werden, indem aus der Dropdown-Liste die leere Zeile für ein Set ausgewählt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Name des Plugin-Sets</em></strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lädt die Plugin-Übersicht des Plugin-Sets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin-Set löschen</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löscht das Plugin-Set. Bestätigung notwendig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>): Lädt für das ausgewählte Plugin-Set in der Plugin-Übersicht alle Plugins, die die gewählten Filtereinstellungen erfüllen.<br>
<strong>Reset</strong>: Setzt die Filtereinstellungen auf die Standardeinstellungen zurück.<br>
<strong>Name</strong>: Filtert nach Plugins, deren Namen die eingegebene Zeichenfolge beinhaltet.<br>
<strong>plentyMarketplace</strong>: Filtert nach Plugins, die dem System über plentyMarketplace hinzugefügt wurden.<br>
<strong>Git</strong>: Filtert nach Plugins, die dem System über ein Git-Repository hinzugefügt wurden.<br>
<strong>Local</strong>: Filtert nach Plugins, die dem System über einen lokalen Speicher hinzugefügt wurden.<br>
<strong>Installiert</strong>: Filtert nach Plugins, die in dem ausgewählten Plugin-Set installiert sind.<br>
<strong>Nicht installiert</strong>: Filtert nach Plugins, die in dem ausgewählten Plugin-Set nicht installiert sind.<br>
<strong>Aktiv</strong>: Filtert nach Plugins, die in dem ausgewählten Plugin-Set aktiv sind.<br>
<strong>Nicht akitv</strong>: Filtert nach Plugins, die in dem ausgewählten Plugin-Set nicht aktiv sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Speichern &amp; Plugin bereitstellen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Speichert Änderungen am Plugin-Set und stellt das Plugin-Set zur weiteren Nutzung bereit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin-Set-Vorschau</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet ein Tab, in dem eine Vorschau des Frontends mit den derzeitigen Einstellungen angezeigt wird. Plugin-Set muss zuvor mittels der Schaltfläche <strong>Speichern &amp; Bereitstellen</strong> bereitgestellt worden sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentyDrive: Änderungen automatisch bereitstellen</strong> (<span class="icon red"><i class="fa fa-toggle-off  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn aktiviert (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) und dem Plugin-Set ein Plugin innerhalb des Sets über plentyDrive geändert wird, wird das Plugin-Set automatisch gespeichert und bereitgestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin-Set-Einstellungen</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet ein Fenster zur Bearbeitung des ausgewählten Plugin-Sets.<br>
<strong>Speichern</strong> (<span class="icon "><i class="fa fa-save  "></i></span>): Speichert die geänderten Einstellungen.<br>
<strong>Name</strong>: Ändert den Namen des Plugin-Sets.<br>
<strong>Plugin-Set-ID</strong>: Die ID des Plugin-Sets.<br>
<strong>Konfiguration exportieren</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>): Exportiert Konfigurationen aller Plugins des Plugin-Sets als JSON-Datei.<br>
<strong>Konfigurationsdatei</strong>: Zeigt den Dateipfad der für den Konfigurationsimport ausgewählten Datei an.<br>
<strong>Datei wählen</strong> (<span class="icon "><i class="fa fa-ellipsis-h  "></i></span>): Öffnet Dateiauswahl zur Auswahl einer lokalen Datei für den Konfigurationsimport.<br>
<strong>Zurücksetzen</strong>: Setzt den Dateipfad zurück.<br>
<strong>Konfiguration importieren</strong> (<span class="icon purple"><i class="fa fa-upload  "></i></span>): Importiert Konfigurationen für alle Plugins des Plugin-Sets von einer validen JSON-Datei.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Log</strong> (<span class="icon red"><i class="fa fa-exclamation  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar, wenn Fehlermeldungen existieren. Zeigt diese an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong> (<span class="icon "><i class="fa fa-globe  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob das Plugin aktiv (<span class="icon skyBlue"><i class="fa fa-globe  "></i></span>) oder inaktiv (<span class="icon "><i class="fa fa-globe  "></i></span>) ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Name des Plugins</em></strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Name des Plugins. Wenn installiert, klicken um Informationen und Einstellungsmöglichkeiten anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Installierte Version</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die neuste Version des Plugins, die installiert ist. Ein Symbol zeigt an, wenn eine neuere Version des Plugins existiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktive Version</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Version des Plugins, die aktiv ist und für das ausgewählte Plugin-Set in Frontend und Backend geladen wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Herkunft des Plugins, also plentyMarkets, Git oder ein lokaler Speicher.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin installieren</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>): Installiert das Plugin. Ein Fenster öffnet sich, in dem die zu installierende Version ausgewählt und der Changelog eingesehen werden kann. Wird nur angezeigt, wenn das Plugin nicht installiert ist.<br>
<strong>Aktualisieren</strong>: Aktualisiert das Plugin auf eine neuere Version. Ein Fenster öffnet sich, in dem die zu installierende Version ausgewählt und der Changelog eingesehen werden kann. Wird nur angezeigt, wenn eine neuere Version vorhanden ist.<br>
<strong>Keine Aktualisierung verfügbar</strong>: Die neuste Version des Plugins ist installiert.<br>
<strong>Position festlegen</strong> (<span class="icon yellow" fa-stack="" fa-lg"=""><i class="fa fa-bars fa-stack-2x  "></i><span class="icon black"><i class="fa fa-arrow-righ fa-stack-1x arrow-right"></i></span></span>): Legt die Reihenfolge fest, in der Plugins geladen werden. Plugins mit niedrigerer Position werden zuerst ausgeführt.<br>
<strong>Löschen</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>): Entfernt das Plugin aus dem Plugin-Set. Bestätigung notwendig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentyMarketplace</strong> (<span class="icon green"><i class="fa fa-cart-plus  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet <a href="https://marketplace.plentymarkets.com/">plentyMarketplace</a> in einem neuen Tab.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_git_plugin_detailansicht">2.2. Git-Plugin-Detailansicht</h3>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Tabellenansicht des Menüs <strong>Plugins » Plugin-Übersicht » Plugin-Detailansicht » Git</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fetch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lädt alle Commits der ausgewählten Branch herunter. Die Liste der Commits wird entsprechend aktualisiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pull</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lädt alle Commits der ausgewählten Branch herunter und aktualisiert alle Dateien. Die Liste der Commits wird entsprechend aktualisiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Branch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dropdown-Menü, mit dem zwischen Branches des Repositorys gewechselt werden kann. Der aktuell ausgewählte Branch wird angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Commit-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Textfeld für die Auswahl bestimmter Commits.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Checkout</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wechselt Branch auf die im Textfeld eingegebe Commit-ID, falls diese im Repository vorhanden ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Commits</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durch Klicken kann der Commit wie über <strong>Checkout</strong> ausgewählt werden. Bestätigung notwendig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Commit-ID in Zwischenablage kopieren.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die ID des Commits wird in die Zwischenablage kopiert und kann dann in das Feld <strong>Commit-ID</strong> eingefügt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auf GitHub ansehen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet die in dem Commit vorgenommenen Änderungen in einem neuen Tab.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>