<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_mehr_zum_thema_plugins"><span>1.</span><span> Mehr zum Thema Plugins</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Plugins</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Themenbereich findest du Informationen dazu, wie du dein plentymarkets System mit Plugins erweitern kannst. Ändere das Design deines Webshops, füge neue Funktionalität und Zahlungsarten hinzu, oder erweitere dein Backend mit neuen Schnittstellen.</p>
</div>
<div class="exampleblock">
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/plugins/neue-plugins/">Plugins dem System hinzufügen</a></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Marketplace-Plugins kaufen</p>
</li>
<li>
<p>Git-Plugins dem System hinzufügen</p>
</li>
</ol>
</div>
</li>
<li>
<p><a href="/plugins/plugin-sets/">Plugins und Plugin-Sets</a></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Plugin-Übersicht - Plugin-Sets verwalten</p>
</li>
<li>
<p>Plugin-Sets hinzufügen</p>
</li>
<li>
<p>Plugin-Sets bearbeiten</p>
<div class="olist lowerroman">
<ol class="lowerroman" type="i">
<li>
<p>Plugin-Set-Name ändern</p>
</li>
<li>
<p>Plugins hinzufügen</p>
</li>
<li>
<p>Plugins aktualisieren</p>
</li>
<li>
<p>Plugins entfernen</p>
</li>
<li>
<p>Plugin-Sets löschen</p>
</li>
</ol>
</div>
</li>
<li>
<p>Funktionsübersicht</p>
</li>
</ol>
</div>
</li>
<li>
<p><a href="/plugins/plugins/">Plugins einrichten</a></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Plugin-Konfiguration</p>
</li>
<li>
<p>Container-Verknüpfungen</p>
</li>
</ol>
</div>
</li>
<li>
<p><a href="/plugins/backend-plugin-sets/">Backend-Plugin-Sets</a></p>
</li>
</ol>
</div>
</div>
</div>
<div class="paragraph">
<p>Weitere Informationen dazu, wie du dein Backend mit Plugins individuell gestalten kannst, findest du auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/benutzerkonto-personalisieren.adoc/">Benutzerkonto personalisieren</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_mehr_zum_thema_plugins">1. Mehr zum Thema Plugins</h2>
<div class="sectionbody">
<div class="exampleblock">
<div class="content">
<div class="ulist">
<ul>
<li>
<p>Wenn du neue Plugins suchst, um dein plentymarkets System zu erweitern, besuche <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</li>
<li>
<p>Benötigst du eine bestimmte Funktionalität und wirst auf Marketplace nicht fündig, stelle dein Anliegen in der <a href="https://marketplace.plentymarkets.com/plentyprojects/" target="_blank" rel="noopener">Projektbörse</a> ein und erarbeite zusammen mit einer unserer <a href="https://www.plentymarkets.eu/service/partneragenturen/" target="_blank" rel="noopener">Partneragenturen</a> eine Lösung. Oder…​</p>
</li>
<li>
<p>Erstelle deine eigenen Plugins. Mehr Informationen dazu findest du auf <a href="http://developers.plentymarkets.com/" target="_blank" rel="noopener">plentyDevelopers</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>