<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Warenwirtschaft</h1><div class="paragraph">
<p>Die in plentymarkets integrierte Warenwirtschaft unterstützt dich dabei, den Überblick über deine aktuellen Bestände, den Zulauf und Ausgang zu behalten. Die Warenwirtschaft ermöglicht das Pflegen mehrerer Lager, das Reservieren von Beständen sowie automatisierte Bestandsaktualisierungen.
In diesem Themenbereich findest du Informationen zum Erstellen und Bearbeiten von Lagern, Einbuchen und Zuordnen von Beständen sowie zum Nachbestellen von Waren.
Nur wenn du Bestände führst, kann dein System Bestand reservieren und automatisch reduzieren, sobald der Warenausgang für einen Auftrag gebucht wird. Reservierungen verhindern, dass bereits verkaufte Ware doppelt verkauft wird.</p>
</div><div class="paragraph">
<p>Grob gilt folgende Reihenfolge für das Einrichten der Warenwirtschaft:</p>
</div><div class="ulist">
<ul>
<li>
<p>Lager erstellen</p>
</li>
<li>
<p>Lieferanten erstellen</p>
</li>
<li>
<p>Wareneingang buchen</p>
</li>
<li>
<p>Nachbestellung erstellen</p>
</li>
</ul>
</div><div class="paragraph">
<p>Für eine funktionierende Warenwirtschaft spielen viele Punkte eine Rolle. Dazu gehören das Pflegen von Meldebeständen und Mindestabnahmen für Varianten, das Kontrollieren von Beständen oder von Zuläufen aus Bestellungen sowie Retouren, aber auch Inventuren. Ein weiterer Punkt ist die Reservierung von Bestand für Listings, die du in plentymarkets verwenden kannst. Wie du für Listings Bestand reservierst, wird auf den Seiten der Listingplattformen beschrieben. Rund um das Thema Warenwirtschaft schließen sich noch viele Themen an, z.B. das Erstellen von Picklisten. Wie du deine Picklisten korrekt erstellst und alle weiteren Schritte, die für den Versand notwendig sind, erfährst du im Bereich Fulfillment.</p>
</div><div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="title">Lager planen und einrichten</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/warenwirtschaft/lager-einrichten#100">Lager planen</a></p>
</li>
<li>
<p><a href="/warenwirtschaft/lager-einrichten#200">Lager einrichten</a></p>
</li>
<li>
<p><a href="/warenwirtschaft/lager-einrichten#700">Packen vorbereiten</a></p>
</li>
<li>
<p><a href="/warenwirtschaft/lager-einrichten#800">Lagerorte scannen ermöglichen</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Warenmengen erfassen und einbuchen</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><strong><a href="/crm/kontakte-verwalten#20">Lieferanten anlegen</a></strong></p>
</li>
<li>
<p><strong><a href="/warenwirtschaft/wareneingaenge-verwalten#100">Lieferanten einer Variante zuordnen</a></strong></p>
</li>
<li>
<p><strong><a href="/warenwirtschaft/wareneingaenge-verwalten#200">Lagerort einer Variante angeben</a></strong></p>
</li>
<li>
<p><strong><a href="/warenwirtschaft/wareneingaenge-verwalten#500">Wareneingang und Mengen erfassen</a></strong></p>
</li>
<li>
<p><strong><a href="/warenwirtschaft/wareneingaenge-verwalten#1200">Bestand auf Varianten buchen</a></strong></p>
</li>
<li>
<p><strong><a href="/warenwirtschaft/warenbestaende-verwalten#1300">Warenbewegung durch Wareneingang einsehen</a></strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Bestände überblicken und nachbestellen</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><strong><a href="/warenwirtschaft/warenbestaende-verwalten#100">Welche Bestände gibt es?</a></strong></p>
</li>
<li>
<p><strong><a href="/warenwirtschaft/warenbestaende-verwalten#200">Wann wird Bestand reserviert?</a></strong></p>
</li>
<li>
<p><strong><a href="/warenwirtschaft/warenbestaende-verwalten#500">Bestand umbuchen</a></strong></p>
</li>
<li>
<p><strong><a href="/warenwirtschaft/nachbestellungen-verwalten/nachbestellungen-vornehmen">Nachbestellungen</a></strong></p>
</li>
<li>
<p><strong><a href="/warenwirtschaft/nachbestellungen-verwalten/rueckstandsliste-verwalten">Warenzulauf prüfen</a></strong></p>
</li>
<li>
<p><strong><a href="/warenwirtschaft/inventur-vornehmen">Inventur vornehmen</a></strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Waren ausbuchen</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><strong><a href="/warenwirtschaft/waren-ausbuchen#2">Warenausgang automatisieren</a></strong></p>
</li>
<li>
<p><strong><a href="/warenwirtschaft/waren-ausbuchen#3">Stornierungen, Retouren und Gewährleistungen bearbeiten</a></strong></p>
</li>
<li>
<p><strong><a href="/warenwirtschaft/waren-ausbuchen#4">Warenausgang manuell vornehmen</a></strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Mindesthaltbarkeitsdatum (MHD) und Chargen</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><strong><a href="/warenwirtschaft/mhd-charge-verwalten">Übersicht</a></strong></p>
</li>
<li>
<p><strong><a href="/warenwirtschaft/wareneingaenge-verwalten#200">MHD/Charge aktivieren</a></strong></p>
</li>
<li>
<p><strong><a href="/warenwirtschaft/wareneingaenge-verwalten#810">Wareneingang</a></strong></p>
</li>
<li>
<p><strong><a href="#warenwirtschaft/umbuchungen-vornehmen">Umbuchen</a></strong></p>
</li>
<li>
<p><strong><a href="/warenwirtschaft/waren-ausbuchen#600">Retoure</a></strong></p>
</li>
<li>
<p><strong><a href="/auftraege/auftragsdokumente/pickliste">Pickliste</a></strong></p>
</li>
<li>
<p><strong><a href="/auftraege/auftragsdokumente/packliste">Packliste</a></strong></p>
</li>
<li>
<p><strong><a href="/auftraege/auftragsdokumente/lager-pickliste">Lager-Pickliste</a></strong></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div><hr>
</main>