<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Webshop</h1><p>Willkommen im Themenbereich Webshop. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/webshop/ceres-einrichten">Ceres-Webshop einrichten</a></li><li><a href="/webshop/io-einrichten">IO einrichten</a></li><li><a href="/webshop/shop-builder">ShopBuilder einrichten</a></li><li><a href="/webshop/feedbacks-verwalten">Feedbacks verwalten</a></li><li><a href="/webshop/mandanten-verwalten">Mandanten verwalten</a></li><li><a href="/webshop/best-practices">Best Practices: Ceres</a></li><li><a href="/webshop/referenz">Referenz</a></li><li><a href="/webshop/webshop-einrichten">Alt: CMS & Callisto-Webshop</a></li><li><a href="/webshop/plugins">Weitere Webshop-Plugins</a></li></ul>
</main>