<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 24. Februar 2021</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 18. Februar 2021 bis zum 24. Februar 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="app-tab" data-toggle="tab" href="#app" role="tab" aria-controls="app" aria-selected="false">App</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_amazon" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort ist die Plattform Amazon.pl in der Beta-Version von plentymarkets verfügbar.</p>
<div class="paragraph">
<p>Amazon.pl wird auch über das EU Verkäuferkonto von Amazon genutzt. Die Einstellungen werden wie bei den anderen Plattformen (es, it, fr, uk, de, etc.) hinterlegt.</p>
</div>
<div class="paragraph">
<p>Wichtig dabei ist also:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>dass ihr eine neue Konfiguration für amzon.pl anlegt (wie bei den anderen Plattformen).</p>
</li>
<li>
<p>die Herkunft Amazon.pl unter Einrichtung » Aufträge » Auftragsherkunft aktiviert.</p>
</li>
<li>
<p>die Daten der Artikel (Texte, Eigenschaften etc.) in der Sprache Polnisch hinterlegt.</p>
</li>
<li>
<p>den Verkaufspreis für die Herkunft und das Amazon-Konto freigebt.</p>
</li>
<li>
<p>eure Versandprofile entsprechend anpasst/erweitert.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die IDs der Auftragsherkünfte sind:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><code>4.11</code> - Amazon Poland</p>
</li>
<li>
<p><code>104.11</code> - Amazon FBA Poland</p>
</li>
</ul>
</div>
</li>
<li>
<p>Aus den Bestellberichten von Amazon geht nicht hervor, ob Rabatte, die Käufer:innen erhalten haben, von Händler:innen oder von Amazon selbst gegeben wurden. Wenn Amazon einen Rabatt gibt, stimmen deshalb der Auftragswert und der von Amazon an dich ausgezahlte Betrag nicht überein. In solchen Fällen musst du den Auftrag manuell anpassen, da du sonst zu wenig Umsatzsteuer für den Auftrag abführst.</p>
<div class="paragraph">
<p>Um dieses Problem zu umgehen, kannst du ab sofort beim Import der Bestellberichte Rabatte aus Kampagnen ignorieren. Der Auftrag wird also so behandelt, als hätte die Kund:in keinen Rabatt erhalten. Diese Einstellung empfiehlt sich vor allem, wenn du keine eigenen Kampagnen bei Amazon fährst. Denn im Umkehrschluss musst du sonst Aufträge manuell anpassen, bei denen du einen Rabatt gegeben hast, da du sonst zu viel Umstatzsteuer abführst.</p>
</div>
<div class="paragraph">
<p>Die neuen Einstellungen findest du im Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen » Tab: Auftragseinstellungen</strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikelrabatte aus Kampagnen beim Import ignorieren</strong> = Ignoriert Rabatte auf Artikel</p>
</li>
<li>
<p><strong>Versandrabatte aus Kampagnen beim Import ignorieren</strong> = Ignoriert Rabatte auf Versandkosten</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese Einstellungen sind standardmäßig deaktiviert. Weitere Informationen findest du auf der Handbuchseite <a href="/maerkte/amazon/amazon-einrichten#600">Amazon einrichten</a>.</p>
</div>
</li>
</ul>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Die folgenden Optimierungen wurden für die neue Auftragsanlage (beta) vorgenommen:</p>
<div class="ulist">
<ul>
<li>
<p>Die Fußzeilen-Symbolleiste zum Zurück- und Vorwärtsgehen ist jetzt immer am Ende des Screens sichtbar und scrollt mit.</p>
</li>
<li>
<p>Die Warenkorb-Schaltfläche reagiert nun mit einem visuellen Effekt, wenn Artikel hinzugefügt werden.</p>
</li>
<li>
<p>Die Tabellenspalte Barcode wurde in der Übersichtstabelle und der Artikelpositionstabelle hinzugefügt.</p>
</li>
<li>
<p>Der neue Filter Barcode ist in der Artikelsuche beim Anlegen eines neuen Auftrags verfügbar.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Die folgenden Änderungen wurden für die Nachbestellung und die Umbuchung vorgenommen:</p>
<div class="ulist">
<ul>
<li>
<p>Es ist nicht möglich ein Abschlussdatum zu setzen, das früher liegt als das Bestelldatum.</p>
</li>
<li>
<p>Wenn ein Abschlussdatum in der Zukunft gesetzt wird bleibt die Nachbestellung bzw. die Umbuchung bearbeitbar, bis dieses Datum erreicht ist.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Der neue Filter <strong>Storniert</strong> wurde zur Warenbewegungstabelle von Nachbestellungen hinzugefügt. Du kannst nun auch nach stornierten Warenbewegungen filtern.</p>
</li>
<li>
<p>Eine neue Grundeinstellung wurde für die neue Auftragsanlage (Beta) hinzugefügt. Im Menü <strong>Einrichtung » Aufträge » Auftragstypen » Auftrag (Beta)</strong> kannst du nun entscheiden, wie hinzugefügte Artikel im Warenkorb dargestellt werden sollen. Entweder als eine Auftragsposition mit angepassten Mengen (Standardeinstellung) oder als separate Auftragspositionen in separaten Zeilen.</p>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist ab jetzt möglich den Grund der Bestandskorrektur mit dem Format Warenbestand zu importieren. Das Zielfeld dafür ist in der Zuordnung verfügbar. Bitte dabei beachten, dass man die ID des Grundes in die CSV Datei eingeben muss. Siehe unten die möglichen Gründe und deren ID Nummern:</p>
<div class="ulist">
<ul>
<li>
<p>Warenkorrektur (WK): <code>301</code></p>
</li>
<li>
<p>Warenkorrektur durch Inventur: <code>302</code></p>
</li>
<li>
<p>Warenkorrektur wegen Herstellerfehler: <code>304</code></p>
</li>
<li>
<p>Warenkorrektur wegen Makulatur: <code>305</code></p>
</li>
<li>
<p>Warenkorrektur wegen Packfehler: <code>306</code></p>
</li>
<li>
<p>Warenkorrektur wegen Beschädigung: <code>307</code></p>
</li>
<li>
<p>Warenkorrektur (interne Verschiebung): <code>309</code></p>
</li>
<li>
<p>Warenkorrektur wegen MHD: <code>317</code></p>
</li>
<li>
<p>Warenkorrektur wegen Versand an FBA: <code>318</code></p>
</li>
<li>
<p>Warenkorrektur wegen Versand an Fulfillment: <code>319</code></p>
</li>
<li>
<p>Warenkorrektur wegen Muster an Interessenten: <code>320</code></p>
</li>
<li>
<p>Warenkorrektur wegen Muster an Kunden: <code>321</code></p>
</li>
<li>
<p>Warenkorrektur wegen Muster: <code>322</code></p>
</li>
<li>
<p>Warenkorrektur wegen Rückstellung Qualitätsmuster: <code>323</code></p>
</li>
<li>
<p>Warenkorrektur wegen Auflösung Qualitätsmuster: <code>324</code></p>
</li>
<li>
<p>Warenkorrektur wegen Geschenk: <code>325</code></p>
</li>
<li>
<p>Warenkorrektur wegen Defekt (ohne Rückgabe): <code>326</code></p>
</li>
<li>
<p>Warenkorrektur wegen Schwund: <code>327</code></p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h3 id="_zahlungsarten" class="discrete">Zahlungsarten</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst nun einstellen, dass PayPal-Zahlungen die über Mollie oder Wallee abgewickelt worden sind nicht mehr automatisch durch den Zahlungsimport der PayPal Schnittstelle importiert werden. Es lassen sich somit Doppelzahlungen an den entsprechenden Aufträgen verhindern. Du kannst dies separat für Mollie und Walle im Bereich <strong>Einrichtung » Aufträge » Zahlung » Eingänge</strong> aktivieren. Standardmäßig werden die Zahlungen nicht ignoriert.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>Die aktuelle Version der Merkmalsstrukur-Master-Datei vom 19.02.2021 von OTTO wurde eingespielt. Dadurch wurden für Attribut- und Merkmalverknüpfung neue Verknüpfungsmöglichkeiten und Vorgabewerte bereitgestellt. <a href="https://forum.plentymarkets.com/uploads/short-url/i9FsWsqxcteAq7srcIht68ImhyF.xlsx" target="_blank" rel="noopener">Die Datei könnt ihr hier herunterladen und als Referenz nutzen.</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<h3 id="_plentyshop" class="discrete">plentyShop</h3>
<div class="ulist">
<ul>
<li>
<p>Diese Anpassung betrifft nur plentyShops, die auf Ceres v5.0.0 und höher aufbauen.</p>
<div class="paragraph">
<p>Die Sortierung von Facetten und Facettenwerten nach Position funktioniert nun wie beabsichtigt:</p>
</div>
<div class="paragraph">
<p>Facetten, denen du unter <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche » [Facette wählen] » Einstellungen</strong> eine Position zuweist, werden nun korrekt nach dieser Position sortiert, wenn <strong>Position</strong> als <strong>Sortierung</strong> ausgewählt ist. Bei gleicher Position werden die Facetten alphabetisch sortiert. Die Sortierungsoptionen <strong>Trefferquote</strong> und <strong>A-Z</strong> werden ebenfalls korrekt berücksichtigt.</p>
</div>
<div class="paragraph">
<p>Facettenwerte, denen du unter <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche » [Facette wählen] » Werte » Einstellungen</strong> eine <strong>Position</strong> zuweist, werden nun korrekt nach dieser Position sortiert. Bei gleicher Position werden die Facettenwerte alphabetisch sortiert.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">To-do</div>
<div class="paragraph">
<p>Überprüfe, ob sich durch diese Änderung die Sortierung der Facetten und Facettenwerte im plentyShop geändert hat und nimm ggf. Einstellungen zur Sortierung vor.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Fehler wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>In der Nachbestellung und der Umbuchung beeinflusste das Ändern der Warenbewegungsfilter das Eingabefeld Teilmenge. Dies ist nun behoben, die Filter beeinflussen das Feld Teilmenge nicht mehr. In der Umbuchung beeinflusste eine Anpassung an den Warenbewegungsfiltern das Abschlussdatum in den Auftragsdetails. Auch dies ist nun behoben, die Filter beeinträchtigen das Datum mehr.</p>
</li>
<li>
<p>Die Einstellung <strong>Voreingetragener Wert für Teillieferung</strong> unter <strong>Einrichten » Waren » Bestellwesen » Nachbestellung » Einstellungen</strong> hat nicht funktioniert. Es wurde nie die offene Bestellmenge in einer Nachbestellung voreingetragen, dies wurde nun repariert.</p>
</li>
</ul>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Die Werte von Auswahleigenschaften sind auf den Dokumenten mit der ID, anstatt mit dem Dropdown-Wert ausgegeben wurden. Dieser Fehler wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Aufgrund eines Fehlers wurden neu angelegte Eigenschaften im Data Picker nicht mehr angezeigt. Diesen Fehler haben wir behoben.</p>
</li>
</ul>
</div>
<h3 id="_online_shop" class="discrete">Online-Shop</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn ein Gast im Webshop als Lieferadresse eine Adresse eingegeben hat, bei der der Inselzuschlag greifen soll, wurde die Berechnung des Inselzuschlags nicht in den Warenkorb übernommen. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn es beim Schreiben des Routen-Caches zu einem Fehler kommt werden dadurch keine Fehler mehr beim Aufrufen der Routen erzeugt. Das bedeutet für dich, dass in diesen Fällen z.B. das Einloggen ins plentymarkets Backend nicht mehr verhindert wird.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Bundle-Artikel wurden in der Retoure auf einen falschen Lagerort gebucht. Dieses Verhalten wurde nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_shopbuilder" class="discrete">ShopBuilder</h3>
<div class="ulist">
<ul>
<li>
<p>FAQ-, Listen- und Code-Widgets sind nun wieder wie gewohnt benutzbar.</p>
</li>
</ul>
</div>
<h3 id="_zahlungsarten_2" class="discrete">Zahlungsarten</h3>
<div class="ulist">
<ul>
<li>
<p>Bei Bestellung mit PayPalExpress konnte es zu Problemen mit der Berechnung des Inselzuschlags kommen. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Die Preise in allen Auftrags- und Payment-Tabellen sind jetzt in den jeweiligen Spalten rechtsbündig ausgerichtet.</p>
</li>
</ul>
</div>
<h3 id="_fulfillment" class="discrete">Fulfillment</h3>
<div class="ulist">
<ul>
<li>
<p>Die Liste der Postleitzahlen für die Inselregionen wurde systemseitig ergänzt.</p>
<div class="ulist">
<ul>
<li>
<p>26465 (Langeoog)</p>
</li>
<li>
<p>26474 (Spiekeroog)</p>
</li>
<li>
<p>26486 (Wangerooge)</p>
</li>
<li>
<p>26548 (Norderney)</p>
</li>
<li>
<p>26571 (Juist)</p>
</li>
<li>
<p>26579 (Baltrum)</p>
</li>
<li>
<p>26757 (Borkum)</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h3 id="_import_2" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort können Daten von einem FTPS Server abgerufen werden.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_2" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort sind die Zeilen bei den Standardformaten durch Buchstaben durchnummeriert.</p>
</li>
</ul>
</div>
<h3 id="_warenwirtschaft" class="discrete">Warenwirtschaft</h3>
<div class="ulist">
<ul>
<li>
<p>Neuer Grund für Bestandskorrektur ist jetzt verfügbar: <strong>Warenkorrektur wegen Eigenbedarf</strong>- Reason ID: <code>330</code>.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Fehler wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_import_3" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn man positive Mengen importierte und man auch den Preis dadurch korrigieren wollte, wurde der Preis nicht überschrieben. Der Fehler wurde nun behoben. Beachte dabei folgendes:</p>
<div class="ulist">
<ul>
<li>
<p>Die Preiskorrektur wird nur in der Warenbewegung und unter Warenbestände beim Einkaufspreis ersichtlich sein.</p>
</li>
<li>
<p>Der Preis beim Import der negativen Mengen kann mit dem Format Stock weiterhin nicht korrigiert werden.</p>
</li>
<li>
<p>Es handelt sich um eine Korrektur und der Preis wird nicht auf Varianten oder Lieferanten übertragen.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_gelöscht" class="discrete">Gelöscht</h2>
<div class="paragraph">
<p>Folgende Funktionalität wurde in den letzten 7 Tagen auf <strong>early</strong> gelöscht.</p>
</div>
<h3 id="_fulfillment_2" class="discrete">Fulfillment</h3>
<div class="ulist">
<ul>
<li>
<p>Der folgende Postleitzahlenbereich wurde in dem Zuge entfernt, da sich in diesem Bereich nicht nur Postleitzahlen von Inselregionen befinden:</p>
<div class="ulist">
<ul>
<li>
<p>26462 bis 26757</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/amazonvcsdashboard_6279" target="_blank" rel="noopener">AmazonVCSDashboard</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/b2bshop_6574" target="_blank" rel="noopener">B2B Shop</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.5.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ceres_4697" target="_blank" rel="noopener">Ceres</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.23</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dhlshipping_4871" target="_blank" rel="noopener">DHL Shipping (Versenden)</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.1.8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/enderecoaddressautocomplete_6622" target="_blank" rel="noopener">Endereco Address Autocomplete</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/energylabel_6160" target="_blank" rel="noopener">Energie Label</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.4.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/hermesshippinginterface_5437" target="_blank" rel="noopener">Hermes</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.12</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/elasticexportidealode_4723" target="_blank" rel="noopener">idealo.de</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.1.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/addressdoctor_6106" target="_blank" rel="noopener">Informatica AddressDoctor</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.14</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/io_4696" target="_blank" rel="noopener">IO</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.23</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/laets_6892" target="_blank" rel="noopener">Laets</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/metro_6600" target="_blank" rel="noopener">Metro</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.9.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/mirakl_6917" target="_blank" rel="noopener">Mirakl Connector</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.25</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/mollie_6272" target="_blank" rel="noopener">Mollie</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.3.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/postnl_7014" target="_blank" rel="noopener">PostNL</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cfourproductwall5_6893" target="_blank" rel="noopener">Produktwand Widget 5</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div><div class="tab-pane fade" id="app" role="tabpanel" aria-labelledby="app-tab">
<div class="paragraph">
<p>Heute (24.02.2021) wird Version 1.11.8 der plentymarkets App veröffentlicht. Beachtet bei der Verwendung dieser Version die folgenden wichtigen Hinweise:</p>
</div>
<div class="paragraph">
<p>Diese Version der plentymarkets App wird am Dienstag, den 02.03.2021 zu einem Pflicht-Update umgewandelt. Dieser Schritt ist notwendig, um aufgrund technischer Abhängigkeiten im Bereich plentyPOS auf das von Team Item entwickelte Feature <strong>Bestelleigenschaften</strong> zu reagieren. Dieses Feature wiederum wird voraussichtlich ab Mittwoch, dem 03.03.2021 in plentymarkets beta-Systemen zur Verfügung stehen.</p>
</div>
<div class="paragraph">
<p>Wichtig: Das unten beschriebene TODO sorgt dafür, dass Artikelvarianten mit Bestelleigenschaften überhaupt in plentyPOS geladen und verarbeitet werden können. Die beschriebene Einstellung sorgt dafür, dass Artikelvarianten ohne die hinterlegte Bestelleigenschaft in plentyPOS übernommen werden. Die Bestelleigenschaften selbst werden dadurch jedoch noch nicht beim Verkauf über plentyPOS berücksichtigt.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Um in plentyPOS künftig Artikelvarianten, die mit Bestelleigenschaften versehen wurden, in die Kasse laden zu können, muss nach erfolgtem Pflicht-Update und dem Bestelleigenschaften-Release eine zusätzliche Einstellung im plentymarkets Backend vorgenommen werden. Öffnet dazu das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>. Klickt auf die Bestelleigenschaft und geht zum Bereich <strong>Sichtbarkeit</strong>. Stellt dort sicher, dass die Herkunft pro POS-Kasse <strong>deaktiviert</strong> ist und speichert die Einstellungen.</p>
</div>
<div class="paragraph">
<p><strong><em>Spezialfall Click&amp;Collect-Aufträge und Retouren</em></strong>: Bei Click&amp;Collect-Aufträgen, die Artikelvarianten mit Bestelleigenschaften enthalten und nach Bestellung über deinen Webshop im Ladengeschäft abgeholt werden, werden Bestelleigenschaften bereits vollständig berücksichtigt. Auch die Retoure von Artikelvarianten mit Bestelleigenschaften aus Click&amp;Collect-Aufträgen ist möglich. Somit ist der oben beschriebene Schritt für diese Aufträge nicht notwendig.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Bei Rückfragen zu diesem Thema stehen wir euch gern <a href="https://forum.plentymarkets.com/c/app-pos/" target="_blank" rel="noopener">in der Forenkategorie App/Pos</a> zur Verfügung.</p>
</div>
<h2 id="_geändert_3" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgendes Verhalten wurde in Version 1.11.8 der <strong>plentymarkets App</strong> geändert.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die Epson-Schnittstelle wurde aktualisiert, um die Unterstüzung der Bondrucker TM-m30II und des TM-m50 zu gewährleisten.</p>
</li>
</ul>
</div>
<h2 id="_behoben_3" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in Version 1.11.8 der <strong>plentymarkets App</strong> behoben.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In manchen Fällen wurden Versandkosten ohne Wert in der Kasse und auf Belegen angezeigt. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Nach Scan bzw. Auswahl des Ziellagerortes war es in der Umbuchung aufgrund einer fehlenden Ladeanzeige möglich, die Umbuchung mehrmals gleichzeitig auszuführen. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Beim Umbuchen und Verräumen mit der App wurden MHD und Charge beim Scannen des Ziel-Lagerorts nicht abgefragt. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Die rollende Kommissionierung wurde angepasst, sodass nun auch Bestände in Boxen bei der Bestandsreservierung berücksichtigt werden.</p>
</li>
<li>
<p>Bei der Anzeige der Lagerorte in der Artikelsuche wurde bei einigen Lagerorten die vorhandene Artikelmenge rot angezeigt, obwohl die Menge positiv war. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
</div></div>
</main>