<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Voraussetzung: Eröffnung eines Klarna-Händlerkontos</span></a></li>
<li><a href="#20"><span>2.</span><span> Ausführen des Assistenten</span></a></li>
<li><a href="#40"><span>3.</span><span> Kundenklassen und Versandprofile</span></a></li>
<li><a href="#50"><span>4.</span><span> Ereignisaktionen einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#60"><span>4.1.</span><span> Versandbestätigung automatisch senden</span></a></li>
<li><a href="#70"><span>4.2.</span><span> Stornierung automatisch senden</span></a></li>
<li><a href="#80"><span>4.3.</span><span> Rückerstattung automatisch senden</span></a></li>
<li><a href="#90"><span>4.4.</span><span> Änderung der Auftragsanschrift automatisch senden</span></a></li>
<li><a href="#100"><span>4.5.</span><span> Änderung der Artikelpositionen automatisch senden</span></a></li>
</ul>
</li>
<li><a href="#110"><span>5.</span><span> Sprachelemente anpassen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Klarna</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Klarna-Plugin bindest du die <strong>Klarna-Zahlungsarten</strong> in deinen Webshop ein und stellst sie so deinen Kund:innen zur Auswahl. Lade dafür das Klarna-Plugin im <a href="https://marketplace.plentymarkets.com/klarna_6731" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter. Die Einrichtung der Zahlungsarten erfolgt erfolgt über einen Assistenten. Zudem musst du einige grundlegende Einstellungen in deinem plentymarkets System ausführen, damit die Zahlungsarten auch in deinem System aktiviert sind.<br>
Die Erklärungen auf dieser Seite finden nach dem Hinzufügen des Plugins Anwendung. Allgemeine Informationen zum Hinzufügen und Installieren von Plugins findest du im Abschnitt <a href="/plugins">Plugins</a> des Handbuchs.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Voraussetzung: Eröffnung eines Klarna-Händlerkontos</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Nutzung von Klarna benötigst du ein <a href="https://www.klarna.com/de/verkaeufer/" target="_blank" rel="noopener">Klarna-Händlerkonto</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Durch die Eröffnung des Kontos erhältst du Informationen sowie Zugangsdaten. Liegen diese nicht vor, kannst du das Plugin nicht einrichten und somit nicht nutzen. Sofern du noch keine Klarna-Registrierung durchlaufen hast oder deine Klarna-Kundennummer nicht mit Kxxxxxx beginnt, sende eine E-mail an <a href="mailto:vertrieb@klarna.com">vertrieb@klarna.com</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Ausführen des Assistenten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du das Plugin installiert hast, ist der dazugehörige Assistent im Menü <strong>Einrichtung » Assistenten » Plugins</strong> verfügbar. Gehe nun wie folgt vor, um den Assistenten zu durchlaufen und somit die Zahlungsart einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Plugins » [Plugin-Set wählen]</strong>.</p>
</li>
<li>
<p>Wähle den Assistenten <strong>Klarna</strong>.</p>
</li>
<li>
<p>Schließe den Assistenten vollständig ab.<br>
→ Klarna ist in deinem Webshop verfügbar.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="40">3. Kundenklassen und Versandprofile</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Stelle sicher, dass die Zahlungsart in den <a href="/crm/kontakte-verwalten#15">Kundenklassen</a> erlaubt ist und auch in den <a href="/fulfillment/versand-vorbereiten#1800">Versandprofilen</a> nicht gesperrt ist. Überlege dir hierfür, für welche Kundenklassen und Versandprofile die Zahlungsart gelten soll. Dies ist individuell einstellbar.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart in Kundenklasse erlauben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Kundenklassen</strong>.</p>
</li>
<li>
<p>Öffne die Kundenklasse, in der die Zahlungsart erlaubt werden soll.</p>
</li>
<li>
<p>Wähle die Zahlungsart aus der Liste im Bereich <strong>Erlaubte Zahlungsarten</strong> durch Anklicken aus.</p>
</li>
<li>
<p>Speichere (]) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wiederhole dies ggf. für weitere Kundenklassen.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart in bestehenden Versandprofilen überprüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong>.</p>
</li>
<li>
<p>Wechsel in das Tab <strong>Versandprofile</strong>.</p>
</li>
<li>
<p>Öffne das Versandprofil, in dem die Zahlungsart erlaubt sein soll.</p>
</li>
<li>
<p>Überprüfe, ob die Zahlungsart im Bereich <strong>Gesperrte Zahlungsarten</strong> ausgewählt ist.</p>
</li>
<li>
<p>Entferne die Auswahl der Zahlungsart, wenn sie für dieses Versandprofil erlaubt sein soll.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wiederhole dies ggf. für weitere Versandprofile.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">4. Ereignisaktionen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte Ereignisaktionen ein, damit alle benötigten Daten automatisch an Klarna versendet werden. Dafür sind 5 Ereignisaktionen erforderlich.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Ereignisaktion einrichten</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Einrichtung einer Ereignisaktion:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das Ereignis gemäß Tabellen 1-5.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabellen 1-5 vor.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="60">4.1. Versandbestätigung automatisch senden</h3>
<div class="paragraph">
<p>Damit die Zahlung bei Klarna aktiviert wird, muss eine Versandbestätigung gesendet werden. Dafür empfehlen wir die folgende Konfigurationen:</p>
</div>
<table id="tabelle-ea-klarna-versandbestätigung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Ereignisaktion Versandbestätigung an Klarna senden</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warenausgang gebucht</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Zahlungsart</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle Zahlungsarten des Klarna-Plugins auswählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragstyp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin: Versandbestätigung an Klarna senden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="70">4.2. Stornierung automatisch senden</h3>
<div class="paragraph">
<p>Im Fall einer Stornierung eines Auftrags muss eine Information an Klarna erfolgen. Dafür empfehlen wir die folgende Konfiguration:</p>
</div>
<table id="tabelle-ea-klarna-stornierung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion Stornierung an Klarna senden</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Statuswechsel</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status aus dem stornierten Bereich wählen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Zahlungsart</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle Zahlungsarten des Klarna-Plugins auswählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragstyp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin: Stornierung an Klarna senden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="80">4.3. Rückerstattung automatisch senden</h3>
<div class="paragraph">
<p>Im Fall einer Rückerstattung muss eine Information an Klarna erfolgen. Dafür empfehlen wir die folgende Konfiguration:</p>
</div>
<table id="tabelle-ea-klarna-rückerstattung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion Rückerstattung an Klarna senden</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neue Gutschrift</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Zahlungsart</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle Zahlungsarten des Klarna-Plugins auswählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragstyp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gutschrift</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin: Rückerstattung Klarna senden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="90">4.4. Änderung der Auftragsanschrift automatisch senden</h3>
<div class="paragraph">
<p>Sollte es zwischen Auftragsanlage und Versand zu einer Änderung der Auftragsanschriften kommen, muss dies an Klarna gemeldet werden. Dafür empfehlen wir die folgende Konfiguration:</p>
</div>
<table id="tabelle-ea-klarna-anschriftsänderung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion Änderung der Auftragsanschrift an Klarna senden</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Statuswechsel</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Zahlungsart</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle Zahlungsarten des Klarna-Plugins auswählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragstyp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin: Änderung der Auftragsanschrift an Klarna senden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="100">4.5. Änderung der Artikelpositionen automatisch senden</h3>
<div class="paragraph">
<p>Sollte es zwischen Auftragsanlage und Versand zu einer Änderung an den Auftragspositionen kommen, muss dies an Klarna gemeldet werden. Dafür empfehlen wir die folgende Konfiguration:</p>
</div>
<table id="tabelle-ea-klarna-artikeländerung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktion Änderung der Artikelpositionen an Klarna senden</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Statuswechsel</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status auswählen, bei dem das Ereignis ausgelöst werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Zahlungsart</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alle Zahlungsarten des Klarna-Plugins auswählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragstyp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin: Änderung der Artikelpositionen an Klarna senden</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="110">5. Sprachelemente anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst Benennungen, die das Klarna-Plugin mitbringt, im Menü <strong>CMS » Mehrsprachigkeit</strong> nach deinen Bedürfnissen in allen verfügbaren Systemsprachen anpassen. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Sprachdateien anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Mehrsprachigkeit.</strong></p>
</li>
<li>
<p>Wähle auf der linken Seite die <strong>Ausgangssprache</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle auf der rechten Seite die <strong>Zielsprache</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klappe im Bereich <strong>Klarna</strong> die Sektion <strong>Zahlungsart</strong> aus.</p>
</li>
<li>
<p>Gib im Bereich der Zielsprache die gewünschten Texte für die einzelnen Sprachelemente ein.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Informationen zum Bearbeiten von im Webshop angezeigten Texten findest du auf der Handbuchseite <a href="/webshop/ceres-einrichten#231">Webshop-Texte bearbeiten</a>.</p>
</div>
</div>
</div>
</main>