<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Voraussetzung: Registrierung bei Mollie</span></a></li>
<li><a href="#20"><span>2.</span><span> Ausführung des Assistenten</span></a></li>
<li><a href="#30"><span>3.</span><span> Template Container verknüpfen</span></a></li>
<li><a href="#50"><span>4.</span><span> Kundenklassen und Versandprofile</span></a></li>
<li><a href="#60"><span>5.</span><span> Ereignisaktionen einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#70"><span>5.1.</span><span> Versand bei Mollie anmelden</span></a></li>
<li><a href="#80"><span>5.2.</span><span> Storno bei Mollie anmelden</span></a></li>
<li><a href="#90"><span>5.3.</span><span> Gutschrift bei Mollie anmelden</span></a></li>
<li><a href="#92"><span>5.4.</span><span> Rückzahlung erfolgreich oder gescheitert</span></a></li>
<li><a href="#95"><span>5.5.</span><span> Versandanmeldung erfolgreich oder gescheitert</span></a></li>
<li><a href="#97"><span>5.6.</span><span> Zahlung gescheitert</span></a></li>
</ul>
</li>
<li><a href="#100"><span>6.</span><span> Sprachelemente anpassen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Mollie</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Mollie-Plugin bindest du die <strong>Mollie-Zahlungsarten</strong> in deinen Webshop ein und stellst sie so deinen Kund:innen zur Auswahl. Lade dafür das Mollie-Plugin im <a href="https://marketplace.plentymarkets.com/mollie_6272" target="_blank" rel="noopener">plentyMarketplace</a> herunter. Die Einrichtung der Zahlungsarten erfolgt über einen Assistenten. Zudem musst du einige grundlegende Einstellungen in deinem plentymarkets System ausführen, damit die Zahlungsarten auch in deinem System aktiviert sind.<br>
Die Erklärungen auf dieser Seite finden nach dem Hinzufügen des Plugins Anwendung. Allgemeine Informationen zum Hinzufügen und Installieren von Plugins findest du im Abschnitt <a href="/plugins">Plugins</a> des Handbuchs.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Voraussetzung: Registrierung bei Mollie</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Nutzung von Mollie benötigst du einen Account und die Zugangsdaten von Mollie. Liegen diese nicht vor, kannst du das Plugin nicht einrichten und somit nicht nutzen. Solltest du noch keinen Account bei Mollie haben, <a href="https://www.mollie.com/dashboard/signup/5543454?lang=de" target="_blank" rel="noopener">registriere</a> dich zunächst dort.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Von Mollie unterstützte Währungen</div>
<div class="paragraph">
<p>Es gibt einige Vorgaben, die von Zahlungsanbietern gemacht werden, so in der Regel auch die unterstützten Währungen. Welche Währungen von Mollie unterstützt werden findest du in der Mollie Dokumentation auf der Seite <a href="https://docs.mollie.com/payments/multicurrency" target="_blank" rel="noopener">Multicurrency</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Ausführung des Assistenten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du das Plugin installiert hast, ist der dazugehörige Assistent verfügbar. Gehe nun wie folgt vor, um den Assistenten zu durchlaufen und somit die Zahlungsart einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Plugins » [Plugin-Set wählen]</strong>.</p>
</li>
<li>
<p>Öffne den Assistenten <strong>Mollie</strong>.</p>
</li>
<li>
<p>Schließe den Assistenten vollständig ab.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mollie ist in deinem Webshop verfügbar.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Assistent muss erneut durchlaufen werden</div>
<div class="paragraph">
<p>Es kann vorkommen, dass du den Assistenten erneut durchlaufen musst. Wenn du eine Mollie-Zahlungsart, die in deinem plentymarkets System aktiviert ist, nach Abschluss des Assistenten über das Dashboard direkt in deinem Mollie-Account deaktivierst, muss der Assistent erneut abgeschlossen werden. Durchläufst du ihn erneut, stimmen die Einstellungen überein und können nicht zu einer Fehlkonfiguration führen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Ein-Click-Zahlungen</strong></div>
<div class="content">
<div class="paragraph">
<p>Mit der Funktion Ein-Klick-Zahlungen können deine Kund:innen ihre Kreditkartendaten durch Anlegen eines Kundenkontos bei Mollie direkt speichern. So müssen sie ihre Daten nicht bei jedem Einkauf erneut eingeben und die Zahlungsabwicklung kann schneller erfolgen. Wenn du deinen Kund:innen diese Funktion zur Verfügung stellen möchtest, musst du sie im Assistenten aktivieren.<br>
Hast du Ein-Klick-Zahlungen aktiviert kannst du sehen, welche deiner Kund:innen diese Funktion nutzen. In diesem Fall wird im entsprechenden Kontaktdatensatz in plentymarkets eine eindeutige, von Mollie vergebene ID hinterlegt. Zudem sind in deinem Mollie-Account die Kund:innen aufgelistet, die Ein-Klick-Zahlungen nutzen.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Nur für Verwendung der Zahlungsart in mehreren Mandanten: Assistent mehrmals durchlaufen</strong></div>
<div class="content">
<div class="paragraph">
<p>Abhängig von der Konfiguration deiner Plugin-Sets und Mandanten muss der Mollie-Assistent mehrmals durchlaufen werden. Nur so ist gewährleistet, dass die Mollie-Zahlungsarten korrekt konfiguriert sind und alle Funktionen wie Ereignisaktionen und Crons im Hintergrund ohne Einschränkungen ablaufen.</p>
</div>
<div class="paragraph">
<p>Entnehme der folgenden Aufstellung, welche Assistenten in welchem Plugin-Set du durchlaufen musst. Die obere Zeile gibt die Konfiguration der Plugin-Sets und Mandanten wieder. Die zweite Zeile listet korrespondierend auf, in welchem Set der Mollie-Assistent für welchen Mandanten durchlaufen werden muss.</p>
</div>
<div class="paragraph">
<p><strong><em>Wichtig</em></strong>: Es geht in den Beispielen nicht um entweder oder. Der Assistent muss für Multi-Mandanten mehrmals durchlaufen werden, da er zusätzlich immer auch in dem Plugin-Set durchlaufen werden muss, das mit dem Hauptmandanten verknüpft ist.</p>
</div>
<div class="paragraph">
<p><strong>Beispiel 1:</strong></p>
</div>
<table id="multi-client-and-assistants-example-one" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deine Plugin-Sets und Mandanten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 1 ist verknüpft mit Hauptmandant</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 2 ist verknüpft mit Multi-Mandant 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 3 ist verknüpft mit Multi-Mandant 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchlaufe den Assistenten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den Mollie-Assistenten in diesem Plugin-Set für alle Mandanten. D.h. für den Hauptmandanten, für Multi-Mandant 1 und für Multi-Mandant 2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den Mollie-Assistenten in diesem Plugin-Set für Multi-Mandant 1.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den Mollie-Assistenten in diesem Plugin-Set für Multi-Mandant 2.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Beispiel 2:</strong></p>
</div>
<table id="multi-client-and-assistants-example-two" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deine Plugin-Sets und Mandanten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 1 ist verknüpft mit Hauptmandant</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 2 ist verknüpft mit Multi-Mandant 1 und mit Multi-Mandant 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchlaufe den Assistenten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den Mollie-Assistenten in diesem Plugin-Set für alle Mandanten. D.h. für den Hauptmandanten, für Multi-Mandant 1 und für Multi-Mandant 2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den Mollie-Assistenten in diesem Plugin-Set für Multi-Mandant 1 und für Multi-Mandant 2.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Beispiel 3:</strong></p>
</div>
<table id="multi-client-and-assistants-example-three" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deine Plugin-Sets und Mandanten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 1 ist verknüpft mit Hauptmandant und mit Multi-Mandant 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 2 ist verknüpft mit Multi-Mandant 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchlaufe den Assistenten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den Mollie-Assistenten in diesem Plugin-Set für alle Mandanten. D.h. für den Hauptmandanten, für Multi-Mandant 1 und für Multi-Mandant 2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den Mollie-Assistenten in diesem Plugin-Set für Multi-Mandant 2.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Beispiel 4:</strong></p>
</div>
<table id="multi-client-and-assistants-example-four" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deine Plugin-Sets und Mandanten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 1 ist verknüpft mit Hauptmandant, mit Multi-Mandant 1 und mit Multi-Mandant 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchlaufe den Assistenten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den Mollie-Assistenten in diesem Plugin-Set für alle Mandanten. D.h. für den Hauptmandanten, für Multi-Mandant 1 und für Multi-Mandant 2.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Template Container verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die standardmäßig benötigten Container werden während des Einrichtens über den Mollie-Assistenten automatisch für deinen Webshop verknüpft.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">4. Kundenklassen und Versandprofile</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Stelle sicher, dass die Zahlungsart in den <a href="/crm/kontakte-verwalten#15">Kundenklassen</a> erlaubt ist und auch in den <a href="/fulfillment/versand-vorbereiten#1800">Versandprofilen</a> nicht gesperrt ist. Überlege dir hierfür, für welche Kundenklassen und Versandprofile die Zahlungsart gelten soll. Dies ist individuell einstellbar.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart in Kundenklasse erlauben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Kundenklassen</strong>.</p>
</li>
<li>
<p>Öffne die Kundenklasse, in der die Zahlungsart erlaubt werden soll.</p>
</li>
<li>
<p>Wähle die Zahlungsart aus der Liste im Bereich <strong>Erlaubte Zahlungsarten</strong> aus.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Wiederhole dies ggf. für weitere Kundenklassen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Zahlungsart in bestehenden Versandprofilen überprüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Versandprofile</strong>.</p>
</li>
<li>
<p>Öffne das Versandprofil, in dem die Zahlungsart erlaubt sein soll.</p>
</li>
<li>
<p>Überprüfe, ob die Zahlungsart im Bereich <strong>Gesperrte Zahlungsarten</strong> ausgewählt ist.</p>
</li>
<li>
<p>Entferne die Auswahl der Zahlungsart, wenn sie für dieses Versandprofil erlaubt sein soll.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Wiederhole dies ggf. für weitere Versandprofile.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">5. Ereignisaktionen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ereignisaktionen sind Teil der Automatisierungen, die du in plentymarkets einrichten kannst. Dabei löst ein bestimmtes Ereignis für eine Auswahl von Aufträgen eine bestimmte Aktion aus. Grundlegendes zu Ereignisaktionen findest du auf der Handbuchseite <a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a>.</p>
</div>
<div class="paragraph">
<p>Im Zusammenhang mit Zahlungsanbietern wie Mollie werden Ereignisaktionen verwendet, um wichtige Informationen von plentymarkets an den Zahlungsanbieter zu senden. Für Mollie gibt es drei notwendige und einige weitere optionale Ereignisaktionen. Die notwendigen Ereignisaktionen solltest du auf jeden Fall einrichten. Es handelt sich dabei um den Versand der Auftragspositionen eines Auftrags, die Stornierung eines Auftrags und die Erstellung einer Gutschrift. Mollie muss informiert werden, wenn etwas davon eingeleitet wird. Wird eine eingerichtete Ereignisaktionen ausgelöst, wird der entsprechende Call im Hintergrund direkt ausgeführt und Mollie somit innerhalb kürzester Zeit informiert.<br>
Neben diesen drei erforderlichen Ereignisaktionen stehen dir noch optionale Ereignisaktionen zur Verfügung. Diese kannst du nutzen, wenn sie in deinen individuellen Arbeitsablauf passen.</p>
</div>
<div class="paragraph">
<p>Im Folgenden wird eine Beispielkonfiguration und eine Erklärung zur Einrichtung für jede Ereignisaktion gegeben. Es ist jedoch wichtig, dass du die Ereignisaktion jeweils so anpasst, dass sie in deinen Arbeitsablauf passt.</p>
</div>
<div class="sect2">
<h3 id="70">5.1. Versand bei Mollie anmelden</h3>
<div class="paragraph">
<p>Nutze diese Ereignisaktion, um Mollie mitzuteilen, wenn du einen Auftrag, der mit einer Mollie-Zahlungsart bezahlt wurde, verschickt hast. Es handelt sich hier bei um eine notwendige Ereignisaktion.<br>
Diese Ereignisaktion kann auch für Lieferaufträge verwendet werden. Der Lieferauftrag wird dann bei Mollie als Teilsendung angemeldet.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#table-procedure-mollie-transmit-shipment">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#table-procedure-mollie-transmit-shipment">Tabelle 1</a> vor.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-procedure-mollie-transmit-shipment" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Ereignisaktion "Mollie | Versand anmelden"</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle das Ereignis, dass die Meldung des Versands an Mollie auslösen soll, z.B. <strong>Warenausgang gebucht</strong>.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Liste die Mollie-Zahlungsarten, die du nutzt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin &gt; Mollie - Versand anmelden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="80">5.2. Storno bei Mollie anmelden</h3>
<div class="paragraph">
<p>Nutze diese Ereignisaktion, um Mollie mitzuteilen, wenn ein Auftrag storniert wurde. Es handelt sich hier bei um eine notwendige Ereignisaktion.<br>
<em>Beachte</em>, dass ein Auftrag nicht storniert werden kann, solange eine Zahlung noch im Status "pending" ist. Die Ablaufzeit für die jeweiligen Zahlungsarten werden von Mollie vorgegeben und sind <a href="https://docs.mollie.com/payments/status-changes#expiry-times-per-payment-method" target="_blank" rel="noopener">auf dieser Seite</a> aufgeführt.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#table-procedure-mollie-cancellation">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#table-procedure-mollie-cancellation">Tabelle 2</a> vor.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-procedure-mollie-cancellation" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion "Mollie | Storno anmelden"</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle das Ereignis, dass die Meldung der Stornierung an Mollie auslösen soll, z.B. <strong>Statuswechsel</strong>.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Falls du <strong>Statuswechsel</strong> gewählt hast, wähle aus der Dropdown-Liste dann den <a href="/auftraege/auftraege-verwalten#1200">Auftragsstatus</a>, den du für stornierte Aufträge nutzt. Standardmäßig sind dies Status <strong>8 - Storniert</strong> und <strong>8.1 - Storniert durch Kunden</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Liste die Mollie-Zahlungsarten, die du nutzt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin &gt; Mollie - Storno anmelden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="90">5.3. Gutschrift bei Mollie anmelden</h3>
<div class="paragraph">
<p>Nutze diese Ereignisaktion, um Mollie mitzuteilen, wenn eine Gutschrift für einen Auftrag erstellt wurde. Es handelt sich hier bei um eine notwendige Ereignisaktion. Die Aktion <strong>Mollie | Gutschrift anmelden</strong> kann auf Basis eines Auftrags und eines Gutschriftauftrags ausgeführt werden.<br>
Achte beim Anlegen der Gutschrift darauf, dass die Auftragspositionen, die gutgeschrieben werden sollen, auch in der Gutschrift enthalten sind. Mehr Informationen über Gutschriften allgemein findest du im Kapitel <a href="/auftraege/auftraege-verwalten#500">Auftragstyp Gutschrift</a> nutzen im Handbuch.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#table-procedure-mollie-transmit-refunds">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#table-procedure-mollie-transmit-refunds">Tabelle 3</a> vor.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-procedure-mollie-transmit-refunds" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion "Mollie | Gutschrift anmelden"</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle das Ereignis, dass die Meldung der Gutschrift an Mollie auslösen soll, z.B. <strong>Neue Gutschrift</strong>.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Liste die Mollie-Zahlungsarten, die du nutzt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin &gt; Mollie - Gutschrift anmelden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="92">5.4. Rückzahlung erfolgreich oder gescheitert</h3>
<div class="paragraph">
<p>Im Anschluss an die Aktion <strong>Mollie | Gutschrift anmelden</strong> stehen dir zwei weitere zusätzliche Ereignisse zur Verfügung, um den weiteren Verlauf des Auftrages abzubilden: <strong>Mollie | Rückzahlung gescheitert</strong> und <strong>Mollie | Rückzahlung erfolgreich</strong>. Es handelt sich hier bei um optionale Ereignisaktionen, die dich in der weiteren Auftragsbearbeitung unterstützen können.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Mollie | Rückzahlung gescheitert</strong> = Bestimme, was mit den Aufträgen passieren soll, bei denen die Rückzahlung einer Gutschrift nicht funktioniert hat.</p>
</li>
<li>
<p><strong>Mollie | Rückzahlung erfolgreich</strong> = Bestimme, was mit den Aufträgen passieren soll, bei denen die Rückzahlung einer Gutschrift funktioniert hat.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Richte optional Ereignisaktionen mit diesen Ereignissen ein, um zu bestimmen, wie du mit diesen Aufträgen weiter verfahren möchtest. Die folgende Ereignisaktion ist ein Beispiel. Entscheide selbst, welcher Ablauf am besten in deine Auftragsbearbeitung passt.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#table-events-mollie-refunds">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#table-events-mollie-refunds">Tabelle 4</a> vor.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-events-mollie-refunds" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktionen "Mollie Rückzahlung gescheitert" und "Mollie | Rückzahlung erfolgreich"</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mollie - Rückzahlung gescheitert</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Liste die Mollie-Zahlungsarten, die du nutzt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Status ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Dropdown-Liste den Auftragsstatus aus, in den Aufträge mit Mollie-Zahlungsarten, bei denen es einen Fehler bei der Rückzahlung gab, geschoben werden sollen. Du könntest beispielsweise vorher einen eigenen <a href="/auftraege/auftraege-verwalten#1200">Auftragsstatus</a> dafür anlegen. In der Auftragsbearbeitung siehst du dann schneller die Aufträge, bei denen eine weitere Bearbeitung erforderlich ist.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="95">5.5. Versandanmeldung erfolgreich oder gescheitert</h3>
<div class="paragraph">
<p>Im Anschluss an die Aktion <strong>Mollie | Versand anmelden</strong> stehen dir zwei weitere zusätzliche Ereignisse zur Verfügung, um den weiteren Verlauf des Auftrages abzubilden: <strong>Mollie | Versandanmeldung gescheitert</strong> und <strong>Mollie | Versandanmeldung erfolgreich</strong>. Es handelt sich hier bei um optionale Ereignisaktionen, die dich in der weiteren Auftragsbearbeitung unterstützen können.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Mollie | Versandanmeldung gescheitert</strong> = Bestimme, was mit den Aufträgen passieren soll, bei denen die Meldung des Versands an Mollie nicht funktioniert hat.</p>
</li>
<li>
<p><strong>Mollie | Versandanmeldung erfolgreich</strong> = Bestimme, was mit den Aufträgen passieren soll, bei denen die Meldung des Versands an Mollie funktioniert hat.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Richte optional Ereignisaktionen mit diesen Ereignissen ein, um zu bestimmen, wie du mit diesen Aufträgen weiter verfahren möchtest. Die folgende Ereignisaktion ist ein Beispiel. Entscheide selbst, welcher Ablauf am besten in deine Auftragsbearbeitung passt.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#table-events-mollie-shipments">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#table-events-mollie-shipments">Tabelle 5</a> vor.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-events-mollie-shipments" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktionen "Mollie | Versandanmeldung gescheitert" und "Mollie | Versandanmeldung erfolgreich"</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mollie - Versandanmeldung gescheitert</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Liste die Mollie-Zahlungsarten, die du nutzt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Status ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Dropdown-Liste den Auftragsstatus aus, in den Aufträge mit Mollie-Zahlungsarten, bei denen die Meldung des Versands an Mollie nicht erfolgen konnte, geschoben werden sollen. Du könntest beispielsweise vorher einen eigenen <a href="/auftraege/auftraege-verwalten#1200">Auftragsstatus</a> dafür anlegen. In der Auftragsbearbeitung siehst du dann schneller die Aufträge, bei denen eine weitere Bearbeitung erforderlich ist.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="97">5.6. Zahlung gescheitert</h3>
<div class="paragraph">
<p>Zudem steht dir noch das Ereignis <strong>Mollie | Zahlung gescheitert</strong> zur Verfügung. Die Nutzung dieses Ereignisses ist optional. Du kannst es verwenden um zu bestimmen, wie mit Aufträgen verfahren werden soll, für die die Zahlung nicht erfolgen konnte.<br>
Dieses Ereignis greift, wenn die Zahlung direkt nach Auftragsanlage scheitert. Dies kann zum Beispiel der Fall sein, wenn der Auftrag nicht bei Mollie abgerufen werden kann, die Session vorher gelöscht wurde oder es allgemein Probleme seitens Mollie gibt. Also immer dann, wenn eine Zahlung fehlgeschlagen ist, abgebrochen wurde oder verfallen ist.</p>
</div>
<div class="paragraph">
<p>Richte optional eine Ereignisaktion mit diesem Ereignis ein, um festzulegen, wie du mit solchen Aufträgen weiter verfahren möchtest. Die folgende Ereignisaktion ist ein Beispiel. Entscheide selbst, welcher Ablauf am besten in deine Auftragsbearbeitung passt.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#table-event-mollie-failed-payment">Tabelle 6</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#table-event-mollie-failed-payment">Tabelle 6</a> vor.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-mollie-failed-payment" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Ereignisaktionen "Mollie | Zahlung fehlgeschlagen"</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mollie - Zahlung fehlgeschlagen</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Liste die Mollie-Zahlungsarten, die du nutzt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Markierung ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der Dropdown-Liste die Markierung aus, die Aufträge mit Mollie-Zahlungsarten, bei denen die Zahlung fehlgeschlagen ist, bekommen sollen. In der Auftragsbearbeitung siehst du dann schneller die Aufträge, bei denen eine weitere Bearbeitung erforderlich ist.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">6. Sprachelemente anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst Benennungen, die das Mollie-Plugin mitbringt, im Menü <strong>CMS » Mehrsprachigkeit</strong> nach deinen Bedürfnissen in allen verfügbaren Systemsprachen anpassen. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Sprachdateien anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Mehrsprachigkeit.</strong></p>
</li>
<li>
<p>Wähle auf der linken Seite die <strong>Ausgangssprache</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle auf der rechten Seite die <strong>Zielsprache</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klappe im Bereich <strong>Mollie</strong> die Sektionen <strong>Messages</strong> und <strong>Payment methods</strong> aus.</p>
</li>
<li>
<p>Gib im Bereich der Zielsprache die gewünschten Texte für die einzelnen Sprachelemente ein.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Stelle das Plugin-Set erneut bereit, um die Änderungen zu übernehmen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Über die Auswahl <strong>Deutsch</strong> als <strong>Zielsprache</strong>, kannst du die deutschen Benennungen für deinen Webshop anpassen. Die gewählten Benennungen werden dann auch im Backend übernommen, allerdings bleibt der Zusatz <em>Plugin: Mollie</em>. So bleibt die Zugehörigkeit einer Zahlungsart nachvollziehbar. Lade das Backend neu, um die Änderungen sehen zu können.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zum Bearbeiten von im Webshop angezeigten Texten findest du auf der Handbuchseite <a href="/webshop/ceres-einrichten#231">Webshop-Texte bearbeiten</a>.</p>
</div>
</div>
</div>
</main>