<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Voraussetzung: Registrierung bei Mollie</span></a></li>
<li><a href="#20"><span>2.</span><span> Ausführung des Assistenten</span></a></li>
<li><a href="#30"><span>3.</span><span> Template Container verknüpfen</span></a></li>
<li><a href="#40"><span>4.</span><span> Zahlungsart einmalig aktivieren</span></a></li>
<li><a href="#50"><span>5.</span><span> Kundenklassen und Versandprofile</span></a></li>
<li><a href="#60"><span>6.</span><span> Ereignisaktionen einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#70"><span>6.1.</span><span> Versand bei Mollie anmelden</span></a></li>
<li><a href="#80"><span>6.2.</span><span> Storno bei Mollie anmelden</span></a></li>
<li><a href="#90"><span>6.3.</span><span> Gutschrift bei Mollie anmelden</span></a></li>
</ul>
</li>
<li><a href="#100"><span>7.</span><span> Sprachelemente anpassen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Mollie</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Mollie-Plugin bindest du die <strong>Mollie-Zahlungsarten</strong> in deinen Webshop ein und stellst sie so deinen Kund:innen zur Auswahl. Lade dafür das Mollie-Plugin im <a href="https://marketplace.plentymarkets.com/mollie_6272" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter. Die Einrichtung der Zahlungsarten erfolgt über einen Assistenten. Zudem musst du einige grundlegende Einstellungen in deinem plentymarkets System ausführen, damit die Zahlungsarten auch in deinem System aktiviert sind.<br>
Die Erklärungen auf dieser Seite finden nach dem Hinzufügen des Plugins Anwendung. Allgemeine Informationen zum Hinzufügen und Installieren von Plugins findest du im Abschnitt <a href="/plugins">Plugins</a> des Handbuchs.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Voraussetzung: Registrierung bei Mollie</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Nutzung von Mollie benötigst du einen Account und die Zugangsdaten von Mollie. Liegen diese nicht vor, kannst du das Plugin nicht einrichten und somit nicht nutzen. Solltest du noch keinen Account bei Mollie haben, <a href="https://www.mollie.com/dashboard/signup/5543454?lang=de" target="_blank" rel="noopener">registriere</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> dich zunächst dort.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Ausführung des Assistenten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du das Plugin installiert hast, ist der dazugehörige Assistent im Menü <strong>Einrichtung » Assistenten » Plugins</strong> verfügbar. Gehe nun wie folgt vor, um den Assistenten zu durchlaufen und somit die Zahlungsart einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Plugins » [Plugin-Set wählen]</strong>.</p>
</li>
<li>
<p>Wähle den Assistenten <strong>Mollie</strong>.</p>
</li>
<li>
<p>Schließe den Assistenten vollständig ab.<br>
→ Mollie ist in deinem Webshop verfügbar.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Assistent muss erneut durchlaufen werden</div>
<div class="paragraph">
<p>Es kann vorkommen, dass du den Assistenten erneut durchlaufen musst. Wenn du eine Mollie-Zahlungsart, die in deinem plentymarkets System aktiviert ist, nach Abschluss des Assistenten über das Dashboard direkt in deinem Mollie-Account deaktivierst, muss der Assistent erneut abgeschlossen werden. Durchläufst du ihn erneut, stimmen die Einstellungen überein und können nicht zu einer Fehlkonfiguration führen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Template Container verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Gehe wie folgt vor, um die Container-Verknüpfungen einzustellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Öffne das Plugin <strong>Mollie</strong>.</p>
</li>
<li>
<p>Öffne die <strong>Container-Verknüpfungen</strong>.</p>
</li>
<li>
<p>Wähle einen oder mehrere Container, in denen der zuvor gewählte Content dargestellt werden soll.<br>
→ Beachte dazu die Erläuterungen in <a href="#table-mollie-template-container">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Contents sind mit den Containern verknüpft.</p>
</li>
</ol>
</div>
<table id="table-mollie-template-container" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Template-Container verknüpfen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Content</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment button (Mollie)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Container <strong>Order confirmation: Additional payment information</strong> und <strong>My account: Additional payment information</strong> müssen verknüpft sein, um den Mollie Zahlen-Button im Checkout darzustellen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="40">4. Zahlungsart einmalig aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktiviere die Zahlungsart einmalig in deinem System. Beachte, dass nur die Aktivierung der Zahlungsart notwendig ist. Alle weiteren Einstellungen, wie z.B. zu Mandanten oder Lieferländern, haben keine Auswirkungen.</p>
</div>
<div class="paragraph instruction">
<p>Aktivierung der Zahlungsart:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Wähle die zu aktivierende Zahlungsart aus.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Kundenklassen und Versandprofile</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Stelle sicher, dass die Zahlungsart in den <a href="/crm/kontakte-verwalten#15">Kundenklassen</a> erlaubt ist und auch in den <a href="/fulfillment/versand-vorbereiten#1800">Versandprofilen</a> nicht gesperrt ist. Überlege dir hierfür, für welche Kundenklassen und Versandprofile die Zahlungsart gelten soll. Dies ist individuell einstellbar.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart in Kundenklasse erlauben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Kundenklassen</strong>.</p>
</li>
<li>
<p>Öffne die Kundenklasse, in dem die Zahlungsart erlaubt werden soll.</p>
</li>
<li>
<p>Wähle die Zahlungsart aus der Liste im Bereich <strong>Erlaubte Zahlungsarten</strong> durch Anklicken aus.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wiederhole dies ggf. für weitere Kundenklassen.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart in bestehenden Versandprofilen überprüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong>.</p>
</li>
<li>
<p>Wechsel in das Tab <strong>Versandprofile</strong>.</p>
</li>
<li>
<p>Öffne das Versandprofil, in dem die Zahlungsart erlaubt sein soll.</p>
</li>
<li>
<p>Überprüfe, ob die Zahlungsart im Bereich <strong>Gesperrte Zahlungsarten</strong> ausgewählt ist.</p>
</li>
<li>
<p>Entferne die Auswahl der Zahlungsart, wenn sie für dieses Versandprofil erlaubt sein soll.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wiederhole dies ggf. für weitere Versandprofile.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Ereignisaktionen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>3 separate Ereignisaktionen sind notwendig, damit alle benötigten Daten direkt an Mollie gesendet werden. Die Ereignisse sind der Versand der Artikelpositionen eines Auftrags, Stornierung und Gutschrift. Mollie muss informiert werden, wenn etwas davon eingeleitet wird. Gehe wie im Folgenden beschrieben vor, um diese 3 Ereignisaktionen einzurichten.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Ereignisaktion einrichten</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Einrichtung einer Ereignisaktion:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das Ereignis gemäß Tabellen 2-4.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabellen 2-4 vor.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="70">6.1. Versand bei Mollie anmelden</h3>
<table id="table-procedure-mollie-shipment" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion "Mollie | Versand anmelden"</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Ereignis wählen, nach dem der Versand angemeldet werden soll.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Zahlungsart</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin: Mollie:*</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin &gt; Mollie</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versand anmelden</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Diese Ereignisaktion kann auch für Lieferaufträge verwendet werden. Der Lieferauftrag wird dann bei Mollie als Teilsendung angemeldet.</p>
</div>
</div>
<div class="sect2">
<h3 id="80">6.2. Storno bei Mollie anmelden</h3>
<table id="table-procedure-mollie-cancellation" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion "Mollie | Storno anmelden"</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Ereignis wählen, nach dem der Versand angemeldet werden soll.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Zahlungsart</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin: Mollie:*</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin &gt; Mollie</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storno anmelden</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Beachte</em>, dass ein Auftrag nicht storniert werden kann, solange eine Zahlung noch im Status "pending" ist. Die Ablaufzeit für die jeweiligen Zahlungsarten werden von Mollie vorgegeben und sind <a href="https://docs.mollie.com/payments/status-changes#expiry-times-per-payment-method" target="_blank" rel="noopener">auf dieser Seite</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> aufgeführt.</p>
</div>
</div>
<div class="sect2">
<h3 id="90">6.3. Gutschrift bei Mollie anmelden</h3>
<div class="paragraph">
<p>Achte beim Anlegen der Gutschrift darauf, dass die Auftragspositionen, die gutgeschrieben werden sollen, auch in der Gutschrift enthalten sind. Mehr Informationen über Gutschriften allgemein findest du im Kapitel <a href="/auftraege/auftraege-verwalten#500">Auftragstyp Gutschrift</a> nutzen im Handbuch.</p>
</div>
<table id="table-procedure-mollie-refunds" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion "Mollie | Gutschrift anmelden"</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Ereignis wählen, nach dem der Versand angemeldet werden soll.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Zahlungsart</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin: Mollie:*</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin &gt; Mollie</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gutschrift anmelden</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Im Anschluss an die Aktion <strong>Mollie | Gutschrift anmelden</strong> stehen dir zwei weitere zusätzliche Ereignisse zur Verfügung, um den weiteren Verlauf des Auftrages abzubilden: <strong>Mollie Rückzahlung gescheitert</strong> und <strong>Mollie Rückzahlung erfolgreich</strong>. Richte optional Ereignisaktionen mit diesen Ereignissen wie oben beschrieben ein.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">7. Sprachelemente anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst Benennungen, die das Mollie-Plugin mitbringt, im Menü <strong>CMS » Mehrsprachigkeit</strong> nach deinen Bedürfnissen in allen verfügbaren Systemsprachen anpassen. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Sprachdateien anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Mehrsprachigkeit.</strong></p>
</li>
<li>
<p>Wähle auf der linken Seite die <strong>Ausgangssprache</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle auf der rechten Seite die <strong>Zielsprache</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klappe im Bereich <strong>Mollie</strong> die Sektionen <strong>Messages</strong> und <strong>Payment methods</strong> aus.</p>
</li>
<li>
<p>Gib im Bereich der Zielsprache die gewünschten Texte für die einzelnen Sprachelemente ein.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Informationen zum Bearbeiten von im Webshop angezeigten Texten findest du auf der Handbuchseite <a href="/webshop/ceres-einrichten#231">Ceres-Webshop einrichten</a>.</p>
</div>
</div>
</div>
</main>