<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Voraussetzung: Eröffnung eines Payone Accounts</span></a></li>
<li><a href="#20"><span>2.</span><span> Ausführung des Assistenten</span></a></li>
<li><a href="#30"><span>3.</span><span> plentyShop Checkout anpassen</span></a></li>
<li><a href="#40"><span>4.</span><span> Template-Container verknüpfen</span></a></li>
<li><a href="#60"><span>5.</span><span> Kundenklassen und Versandprofile</span></a></li>
<li><a href="#70"><span>6.</span><span> Ereignisaktionen einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#80"><span>6.1.</span><span> Automatische Versandbestätigung an Payone senden</span></a></li>
<li><a href="#90"><span>6.2.</span><span> Payone-Zahlung automatisch zurückzahlen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Payone</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Payone-Plugin bindest du die <strong>Payone-Zahlungsarten</strong> in deinen Webshop ein und stellst sie so deinen Kund:innen zur Auswahl. Lade dafür das Payone-Plugin im <a href="https://marketplace.plentymarkets.com/payone_5434" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter. Die Einrichtung der Zahlungsarten erfolgt über einen Assistenten. Zudem musst du einige grundlegende Einstellungen in deinem plentymarkets System ausführen, damit die Zahlungsarten auch in deinem System aktiviert sind.<br>
Die Erklärungen auf dieser Seite finden nach dem Hinzufügen des Plugins Anwendung. Allgemeine Informationen zum Hinzufügen und Installieren von Plugins findest du im Abschnitt <a href="/plugins">Plugins</a> des Handbuchs.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Voraussetzung</div>
<div class="paragraph">
<p>Das Payone-Plugin ist für die Nutzung mit plentyShop LTS entwickelt und funktioniert nur mit dessen Logikstruktur oder anderen Template-Plugins. Zur Nutzung des Payone-Plugins müssen die Plugins IO und plentyShop LTS aktiviert sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Voraussetzung: Eröffnung eines Payone Accounts</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Nutzung von Payone benötigst du einen Payone-Account. Durch die Eröffnung des Accounts erhältst du Informationen sowie Zugangsdaten. Liegen diese nicht vor, kannst du das Plugin nicht einrichten und somit nicht nutzen. Solltest du noch keinen Account haben, nutze dieses <a href="https://www.psg-projektmanagement.de/payone-plentymarkets/" target="_blank" rel="noopener">Anmeldeforumlar</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> oder wende dich an:<br>
PSG Projektmanagement GmbH<br>
Meergässle 4<br>
89180 Berghülen<br>
Telefon: 07344-9592588<br>
E-Mail: <a href="mailto:plenty@psg-projektmanagement.de">plenty@psg-projektmanagement.de</a><br>
Internet: <a href="http://www.psg-projektmanagement.de" class="bare">http://www.psg-projektmanagement.de</a></p>
</div>
<div class="paragraph">
<p>Nach Erhalt der Zugangsdaten loggst du dich im Payone Merchant Interface ein und nimmst die folgenden Einstellungen vor.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen im Payone Merchant Interface vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Konfiguration » Zahlungsportale</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Erweitert</strong> des Zahlungsportals deines Webshops.</p>
</li>
<li>
<p>Trage im Feld <strong>TransactionStatusURL</strong> eine URL nach dem Schema <strong>DOMAIN/payment/payone/status</strong> ein. Den Platzhalter <strong>DOMAIN</strong> durch die URL zu deinem Webshop ersetzen.</p>
</li>
<li>
<p>Wähle als Verfahren <strong>Hashwert-Prüfung</strong> die Option <strong>md5 oder sha2-384 (für Migration)</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Ausführung des Assistenten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du das Plugin installiert hast, ist der dazugehörige Assistent verfügbar. Gehe nun wie folgt vor, um den Assistenten zu durchlaufen und somit die Zahlungsart einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Plugins » [Plugin-Set wählen]</strong>.</p>
</li>
<li>
<p>Öffne den Assistenten <strong>Payone</strong>.</p>
</li>
<li>
<p>Schließe den Assistenten vollständig ab.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Payone ist in deinem Webshop verfügbar.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Eingabefelder im Bereich Kontoeinrichtung des Assistenten</strong></div>
<div class="content">
<table id="table-payone-account" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Kontoeinrichtung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Merchant-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib deine Merchant-ID ein. Diese erhältst du nach Eröffnung deines Payone-Accounts im Payone Merchant Interface. Gehe dafür im Merchant Interface ins Menü <strong>Konfiguration » Zahlungsportale</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Portal-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib deine Portal-ID ein. Diese erhältst du nach Eröffnung deines Payone-Accounts im Payone Merchant Interface. Gehe dafür im Merchant Interface ins Menü <strong>Konfiguration » Zahlungsportale</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib deine Account-ID ein. Diese erhältst du nach Eröffnung deines Payone-Accounts im Payone Merchant Interface. Gehe dafür im Merchant Interface ins Menü <strong>Konfiguration » Zahlungsportale</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schlüssel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Schlüssel ein. Diesen erhältst du nach Eröffnung deines Payone-Accounts im Payone Merchant Interface. Gehe dafür im Merchant Interface ins Menü <strong>Konfiguration » Zahlungsportale</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Modus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Modus aus. Zur Auswahl stehen <strong>Test</strong> und <strong>Produktiv</strong>.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Art der Autorisierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Art der Autorisierung aus.<br>
<strong>Vorautorisierung</strong>: Wähle diese Option, wenn der Zahlungseinzug beim Käufer nur vorgemerkt werden soll. Der Zahlungseinzug erfolgt dann durch eine <a href="#80">Ereignisaktion</a>, die beim Warenausgang ausgelöst werden muss.<br>
<strong>Autorisierung</strong>: Wähle diese Option, wenn der Zahlungseinzug beim Käufer sofort stattfinden soll. Der Zahlungseingang wird somit direkt nach dem Kaufabschluss im Webshop in deinem plentymarkets-System gebucht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzer ID für Notizen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die ID des Benutzers ein, der für Auftragsnotizen als Eigner gelten soll.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Nur für Verwendung der Zahlungsart in mehreren Mandanten: Assistent mehrmals durchlaufen</strong></div>
<div class="content">
<div class="paragraph">
<p>Abhängig von der Konfiguration deiner Plugin-Sets und Mandanten muss der Payone-Assistent mehrmals durchlaufen werden. Nur so ist gewährleistet, dass die Payone-Zahlungsarten korrekt konfiguriert sind und alle Funktionen wie Ereignisaktionen und Crons im Hintergrund ohne Einschränkungen ablaufen.</p>
</div>
<div class="paragraph">
<p>Entnehme der folgenden Aufstellung, welche Assistenten in welchem Plugin-Set du durchlaufen musst. Die obere Zeile gibt die Konfiguration der Plugin-Sets und Mandanten wieder. Die zweite Zeile listet korrespondierend auf, in welchem Set der Payone-Assistent für welchen Mandanten durchlaufen werden muss.</p>
</div>
<div class="paragraph">
<p><strong><em>Wichtig</em></strong>: Es geht in den Beispielen nicht um entweder oder. Der Assistent muss für Multi-Mandanten mehrmals durchlaufen werden, da er zusätzlich immer auch in dem Plugin-Set durchlaufen werden muss, das mit dem Hauptmandanten verknüpft ist.</p>
</div>
<div class="paragraph">
<p><strong>Beispiel 1:</strong></p>
</div>
<table id="multi-client-and-assistants-example-one" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deine Plugin-Sets und Mandanten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 1 ist verknüpft mit Hauptmandant</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 2 ist verknüpft mit Multi-Mandant 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 3 ist verknüpft mit Multi-Mandant 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchlaufe den Assistenten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den Payone-Assistenten in diesem Plugin-Set für alle Mandanten. D.h. für den Hauptmandanten, für Multi-Mandant 1 und für Multi-Mandant 2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den Payone-Assistenten in diesem Plugin-Set für Multi-Mandant 1.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den Payone-Assistenten in diesem Plugin-Set für Multi-Mandant 2.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Beispiel 2:</strong></p>
</div>
<table id="multi-client-and-assistants-example-two" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deine Plugin-Sets und Mandanten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 1 ist verknüpft mit Hauptmandant</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 2 ist verknüpft mit Multi-Mandant 1 und mit Multi-Mandant 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchlaufe den Assistenten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den Payone-Assistenten in diesem Plugin-Set für alle Mandanten. D.h. für den Hauptmandanten, für Multi-Mandant 1 und für Multi-Mandant 2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den Payone-Assistenten in diesem Plugin-Set für Multi-Mandant 1 und für Multi-Mandant 2.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Beispiel 3:</strong></p>
</div>
<table id="multi-client-and-assistants-example-three" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deine Plugin-Sets und Mandanten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 1 ist verknüpft mit Hauptmandant und mit Multi-Mandant 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 2 ist verknüpft mit Multi-Mandant 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchlaufe den Assistenten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den Payone-Assistenten in diesem Plugin-Set für alle Mandanten. D.h. für den Hauptmandanten, für Multi-Mandant 1 und für Multi-Mandant 2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den Payone-Assistenten in diesem Plugin-Set für Multi-Mandant 2.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Beispiel 4:</strong></p>
</div>
<table id="multi-client-and-assistants-example-four" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deine Plugin-Sets und Mandanten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 1 ist verknüpft mit Hauptmandant, mit Multi-Mandant 1 und mit Multi-Mandant 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchlaufe den Assistenten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den Payone-Assistenten in diesem Plugin-Set für alle Mandanten. D.h. für den Hauptmandanten, für Multi-Mandant 1 und für Multi-Mandant 2.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. plentyShop Checkout anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Es sind Anpassungen im plentyShop Checkout notwendig, damit deine Kund:innen bei Bezahlvorgängen mit Payone ihre bevorzugte Zahlungsart auswählen können. Folgendes ist für die Nutzung von Zahlungsarten vorgegeben:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Gesicherter Rechnungskauf: Kund:innen müssen ihr Geburtsdatum angeben</p>
</li>
<li>
<p>Klarna : Kund:innen müssen ihre Telefonnummer angeben</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Um den Checkout anzupassen, damit deine Kund:innen diese Angaben machen können, gibt es zwei Möglichkeiten. Du kannst entweder den ShopBuilder nutzen oder das plentyShop LTS-Plugin entsprechend konfigurieren. Beides wird im Folgenden beschrieben.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="shopbuilder-tab" data-toggle="tab" href="#shopbuilder" role="tab" aria-controls="shopbuilder" aria-selected="true">ShopBuilder</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plentyshop-lts-plugin-tab" data-toggle="tab" href="#plentyshop-lts-plugin" role="tab" aria-controls="plentyshop-lts-plugin" aria-selected="false">plentyShop LTS-Plugin</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="shopbuilder" role="tabpanel" aria-labelledby="shopbuilder-tab">
<div class="paragraph instruction">
<p>Anpassen der ShopBuilder-Seite für Checkout:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wähle auf deiner ShopBuilder-Seite für den Checkout die Widget-Kategorie <strong>Kundendaten</strong>.</p>
</li>
<li>
<p>Wähle das Widget <strong>Adressauswahl</strong> aus.</p>
</li>
<li>
<p>Klicke auf <strong>Einstellungen</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>) dieses Widgets.</p>
</li>
<li>
<p>Wähle unter <strong>Rechnungs- und Lieferadresse anzeigen</strong> die benötigten Adressfelder aus.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Im Bereich Webshop des Handbuchs findest du weitere Erklärungen zum Umgang mit dem <a href="#webshop/shop-builder">ShopBuilder</a> allgemein und der Widget-Kategorie <a href="/webshop/shop-builder#85">Kundendaten</a>.</p>
</div>
</div><div class="tab-pane fade" id="plentyshop-lts-plugin" role="tabpanel" aria-labelledby="plentyshop-lts-plugin-tab">
<div class="paragraph instruction">
<p>plentyShop Checkout für Adressdaten anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Öffne das Plugin <strong>plentyShop LTS</strong>.<br>
→ Die Detailansicht des Plugins öffnet sich.</p>
</li>
<li>
<p>Wähle unter <strong>Konfiguration</strong> den Punkt <strong>Kaufabwicklung und Mein Konto</strong> aus.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Rechnungsadressfelder im Adressformular anzeigen (DE)</strong> auf.</p>
</li>
<li>
<p>Aktiviere über die Checkbox die benötigten Optionen, wie z.B. <strong>Geburtsdatum</strong> und <strong>Telefonnummer</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Im Checkout werden deinen Kund:innen nun die Felder zur Eingabe der ausgewählten Adressdaten angezeigt.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Fehler bei der Eingabe</div>
<div class="paragraph">
<p>Nimm diese Einstellung unbedingt sorgfältig vor, da deine Kund:innen andernfalls den Bezahlvorgang mit Payone nicht abschließen können.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="40">4. Template-Container verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die standardmäßig benötigten Container werden während des Einrichtens über den Payone-Assistenten automatisch für deinen Webshop verknüpft. In den Plugineinstellungen des Payone-Plugins lassen sich Template-Container aber auch manuell verknüpfen, sollte dies erforderlich sein. Gehe dafür wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Container verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Öffne das Plugin <strong>Payone</strong>.<br>
→ Die Detailansicht des Plugins öffnet sich.</p>
</li>
<li>
<p>Klicke auf <strong>Container-Verknüpfungen</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste den Datenanbieter aus, den du verknüpfen möchtest.</p>
</li>
<li>
<p>Wähle den Container aus, mit dem du den Datenanbieter verknüpfen möchtest. Beachte dazu die Erläuterungen in <a href="#tabelle-container-verknüpfen">Tabelle 2</a>.</p>
</li>
<li>
<p>Wiederhole Schritte 5 und 6 für alle Datenanbieter, die du verknüpfen möchtest.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-container-verknüpfen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Container verknüpfen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Content</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payone Order Confirmation Page Payment Data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verknüpfe diesen Content mit dem Container <strong>Order confirmation: Additional payment information</strong>, um die Payone-Zahlungsarten auf der Bestellbestätigungsseite im Webshop anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payone Checkout JS</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verknüpfe diesen Content mit dem Container <strong>Script loader: After script loaded</strong>, um die Payone-Zahlungsarten während der Kaufabwicklung im Webshop anzuzeigen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="60">5. Kundenklassen und Versandprofile</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Stelle sicher, dass die Zahlungsart in den <a href="/crm/kontakte-verwalten#15">Kundenklassen</a> erlaubt ist und auch in den <a href="/fulfillment/versand-vorbereiten#1800">Versandprofilen</a> nicht gesperrt ist. Überlege dir hierfür, für welche Kundenklassen und Versandprofile die Zahlungsart gelten soll. Dies ist individuell einstellbar.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart in Kundenklasse erlauben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Kundenklassen</strong>.</p>
</li>
<li>
<p>Öffne die Kundenklasse, in der die Zahlungsart erlaubt werden soll.</p>
</li>
<li>
<p>Wähle die Zahlungsart aus der Liste im Bereich <strong>Erlaubte Zahlungsarten</strong> aus.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Wiederhole dies ggf. für weitere Kundenklassen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Zahlungsart in bestehenden Versandprofilen überprüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Versandprofile</strong>.</p>
</li>
<li>
<p>Öffne das Versandprofil, in dem die Zahlungsart erlaubt sein soll.</p>
</li>
<li>
<p>Überprüfe, ob die Zahlungsart im Bereich <strong>Gesperrte Zahlungsarten</strong> ausgewählt ist.</p>
</li>
<li>
<p>Entferne die Auswahl der Zahlungsart, wenn sie für dieses Versandprofil erlaubt sein soll.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Wiederhole dies ggf. für weitere Versandprofile.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">6. Ereignisaktionen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte Ereignisaktionen ein, damit alle benötigten Daten automatisch an Payone versendet werden. Dafür empfehlen wir 2 Ereignisaktionen.</p>
</div>
<div class="sect2">
<h3 id="80">6.1. Automatische Versandbestätigung an Payone senden</h3>
<div class="paragraph">
<p>Richte eine Ereignisaktion ein, um eine automatische Versandbestätigung an Payone zu senden, sobald du den Auftrag versendet hast.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Ereignisaktion und Art der Autorisierung</div>
<div class="paragraph">
<p>Die Einrichtung dieser Ereignisaktion ist zwingend notwendig, wenn in der Grundeinstellung als <strong>Art der Autorisierung</strong> die Option <strong>Vorautorisierung</strong> gewählt wurde. Hast du die Option <strong>Autorisierung</strong> gewählt, ist diese Ereignisaktion nicht nutzbar und nicht notwendig.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-ea-versandbestätigung-payone">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#tabelle-ea-versandbestätigung-payone">Tabelle 3</a> vor.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-ea-versandbestätigung-payone" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion zum Senden einer automatischen Versandbestätigung an Payone</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Ereignis wählen, nach dem die Versandbestätigung automatisch versendet werden soll, z.B. <strong>Auftragsänderung &gt; Warenausgang gebucht</strong>.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Payone-Zahlungsarten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Versandbestätigung an Payone</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="90">6.2. Payone-Zahlung automatisch zurückzahlen</h3>
<div class="paragraph">
<p>Richte eine Ereignisaktion ein, um die Rückzahlung einer Zahlung über Payone zu automatisieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-ea-rückzahlung-payone">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#tabelle-ea-rückzahlung-payone">Tabelle 4</a> vor.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-ea-rückzahlung-payone" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion zur automatischen Rückzahlung einer Payone-Zahlung</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Ereignis wählen, nach dem eine Rückzahlung erfolgen soll.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Payone-Zahlungsarten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin &gt; Payone - Rückerstattung senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>