<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Voraussetzung: Eröffnung eines Payone Accounts</span></a></li>
<li><a href="#20"><span>2.</span><span> Konfiguration des Plugins</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Gesicherte Rechnung</span></a></li>
<li><a href="#40"><span>2.2.</span><span> Kreditkarte</span></a></li>
<li><a href="#50"><span>2.3.</span><span> Amazon Pay</span></a></li>
</ul>
</li>
<li><a href="#60"><span>3.</span><span> Ceres-Checkout anpassen</span></a></li>
<li><a href="#70"><span>4.</span><span> Template-Container verknüpfen</span></a></li>
<li><a href="#80"><span>5.</span><span> Zahlungsart einmalig aktivieren</span></a></li>
<li><a href="#90"><span>6.</span><span> Kundenklassen und Versandprofile</span></a></li>
<li><a href="#100"><span>7.</span><span> Ereignisaktionen einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>7.1.</span><span> Automatische Versandbestätigung an Payone senden</span></a></li>
<li><a href="#120"><span>7.2.</span><span> Payone-Zahlung automatisch zurückzahlen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Payone</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Payone-Plugin bindest du die <strong>Payone-Zahlungsarten</strong> in deinen Webshop ein und stellst sie so deinen Kund:innen zur Auswahl. Lade dafür das Payone-Plugin im <a href="https://marketplace.plentymarkets.com/payone_5434" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter. Für die Einrichtung der Zahlungsarten musst du einige grundlegende Einstellungen in deinem plentymarkets System ausführen, damit sie auch in deinem System aktiviert sind.<br>
Die Erklärungen auf dieser Seite finden nach dem Hinzufügen des Plugins Anwendung. Allgemeine Informationen zum Hinzufügen und Installieren von Plugins findest du im Abschnitt <a href="/plugins">Plugins</a> des Handbuchs.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Voraussetzung</div>
<div class="paragraph">
<p>Das Payone-Plugin ist für die Nutzung mit dem Webshop Ceres entwickelt und funktioniert nur mit dessen Logikstruktur oder anderen Template-Plugins. Zur Nutzung des Payone-Plugins müssen die Plugins IO und Ceres aktiviert sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Voraussetzung: Eröffnung eines Payone Accounts</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Nutzung von Payone benötigst du einen Payone-Account. Durch die Eröffnung des Accounts erhältst du Informationen sowie Zugangsdaten. Liegen diese nicht vor, kannst du das Plugin nicht einrichten und somit nicht nutzen. Solltest du noch keinen Account haben, nutze dieses <a href="https://www.psg-projektmanagement.de/payone-plentymarkets/" target="_blank" rel="noopener">Anmeldeforumlar</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> oder wende dich an:<br>
PSG Projektmanagement GmbH<br>
Meergässle 4<br>
89180 Berghülen<br>
Telefon: 07344-9592588<br>
E-Mail: <a href="mailto:plenty@psg-projektmanagement.de">plenty@psg-projektmanagement.de</a><br>
Internet: <a href="http://www.psg-projektmanagement.de" class="bare">http://www.psg-projektmanagement.de</a></p>
</div>
<div class="paragraph">
<p>Nach Erhalt der Zugangsdaten loggst du dich im Payone Merchant Interface ein und nimmst die folgenden Einstellungen vor.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen im Payone Merchant Interface vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Konfiguration » Zahlungsportale</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Erweitert</strong> des Zahlungsportals deines Shops.</p>
</li>
<li>
<p>Trage im Feld <strong>TransactionStatusURL</strong> eine URL nach dem Schema <strong>DOMAIN/payment/payone/status</strong> ein. Den Platzhalter <strong>DOMAIN</strong> durch die URL zu deinem Webshop ersetzen.</p>
</li>
<li>
<p>Wähle als Verfahren <strong>Hashwert-Prüfung</strong> die Option <strong>md5 oder sha2-384 (für Migration)</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Konfiguration des Plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgenden Einrichtungsschritte für das Payone-Plugin erfolgen direkt in der Plugin-Set-Übersicht deines plentymarkets Systems. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Grundeinstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Öffne das Plugin <strong>Payone</strong>.<br>
→ Die Detailansicht des Plugins öffnet sich.</p>
</li>
<li>
<p>Öffne den Menüpunkt <strong>Konfiguration</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen anhand der Informationen in <a href="#tabelle-payone-grundeinstellungen">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-payone-grundeinstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Grundeinstellungen vornehmen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Merchant ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Merchant-ID ein, die du durch die Eröffnung deines Payone-Accounts erhalten hast.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Portal ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Portal-ID ein, die du durch die Eröffnung deines Payone-Accounts erhalten hast.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Account-ID ein, die du durch die Eröffnung deines Payone-Accounts erhalten hast.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schlüssel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Schlüssel ein, die du durch die Eröffnung deines Payone-Accounts erhalten hast.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Modus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Modus aus. Zur Auswahl stehen <strong>Test</strong> und <strong>Live</strong>.<br>
Wir empfehlen während der Einrichtung des Plugins den Testmodus zu wählen. Währenddessen ist die Zahlungsart noch nicht in deinem Webshop verfügbar. Nach erfolgter Einrichtung wechsele in den Livemodus und mach somit die Zahlungsart in deinem Webshop sichtbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Art der Autorisierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorautorisierung: Wähle diese Option, wenn der Zahlungseinzug beim Käufer nur vorgemerkt werden soll. Der Zahlungseinzug erfolgt dann durch eine Ereignisaktion, die beim Warenausgang ausgelöst werden muss (siehe Tabelle 5).
Autorisierung:: Wähle diese Option, wenn der Zahlungseinzug beim Käufer sofort stattfinden soll. Der Zahlungseingang wird somit direkt nach dem Kaufabschluss im Webshop in deinem plentymarkets-System gebucht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzer ID für Notizen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die ID des Benutzers ein, der für Auftragsnotizen als Eigner gelten soll.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Nach den Grundeinstellungen musst du Einstellungen für die Payone-Zahlungsarten vornehmen, die du aktivieren möchtest. Gehe dafür wie folgt.</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen für Zahlungsarten vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Öffne das Plugin <strong>Payone</strong>.<br>
→ Die Detailansicht des Plugins öffnet sich.</p>
</li>
<li>
<p>Öffne den Menüpunkt <strong>Konfiguration</strong>.</p>
</li>
<li>
<p>Klicke auf die gewünschte Zahlungsart.</p>
</li>
<li>
<p>Nimm die Einstellungen anhand der Informationen in <a href="#tabelle-payone-zahlungsarteneinstellung">Tabelle 2</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wiederhole dies ggf. für weitere Payone-Zahlungsarten, die du aktivieren möchtest.</p>
</div>
<table id="tabelle-payone-zahlungsarteneinstellung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen für Zahlungsarten vornehmen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Option <strong>Ja</strong>, um die Zahlungsart zu aktivieren und somit im Webshop anzubieten.<br>
Wähle die Option <strong>Nein</strong>, wenn die Zahlungsart deaktiviert werden und damit nicht zur Verfügung stehen soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen für die Zahlungsart ein. Dieser Name ist für deine Kund:innen im Webshop sichtbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Beschreibungstext für die Zahlungsart ein. Dieser Text ist für deine Kund:innen im Webshop sichtbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimaler Bestellwert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen minimalen Bestellwert ein, ab dem die Zahlungsart im Webshop verfügbar sein soll. Wird dieser Wert unterschritten, ist die Payone-Zahlungsart für diese Bestellung nicht mehr verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximaler Bestellwert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen maximalen Bestellwert ein, bis zu dem die Zahlungsart im Webshop verfügbar sein soll. Wird dieser Wert überschritten, ist die Payone-Zahlungsart für diese Bestellung nicht mehr verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erlaubte Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die Lieferländer, für die die Payone-Zahlungsart erlaubt sein soll.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="30">2.1. Gesicherte Rechnung</h3>
<div class="paragraph">
<p>Für die Zahlungsart <strong>Gesicherter Rechnungskauf</strong> sind eine eigene <strong>Portal-ID</strong> sowie ein eigener <strong>Schlüssel</strong> notwendig. Diese Portal-ID und dieser Schlüssel müssen im Plugin unter <strong>Gesicherte Rechnung</strong> bei der Konfiguration separat hinterlegt werden. Die Portal-ID und den Schlüssel erhältst du über das das Menü <strong>Konfiguration » Zahlungsportale</strong> im Payone Merchant Interface.</p>
</div>
</div>
<div class="sect2">
<h3 id="40">2.2. Kreditkarte</h3>
<div class="paragraph">
<p>Die Zahlungsart <strong>Kreditkarte</strong> stellt einen Sonderfall dar. Für diese Zahlungsart sind zusätzliche Einstellungen notwendig. Diese zusätzlichen Einstellungen werden in <a href="#tabelle-kreditkarte-einrichten">Tabelle 3</a> beschrieben.</p>
</div>
<table id="tabelle-kreditkarte-einrichten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Zahlungsart Kreditkarte einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimale Kartengültigkeit in Tagen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die erforderliche minimale Kartengültigkeit an, über die eine Kreditkarte verfügen muss, um für die Zahlungsart akzeptiert zu werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kreditkartenfelder Default Style</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig ist hier voreingestellt, in welcher Farbe, Schriftgröße und Schriftart die Eingabefelder für die Kreditkartendaten für Kund:innen im Webshop angezeigt werden. Die Werte sind anpassbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kreditkartenfelder Höhe in px</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig ist hier die Höhe der Eingabefelder in px voreingestellt. Der Wert ist editierbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kreditkartenfelder Breite in px</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig ist hier die Breite der Eingabefelder in px voreingestellt. Der Wert ist editierbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erlaubte Kartentypen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere die Kartentypen, die für die Zahlungsart akzeptiert werden sollen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="50">2.3. Amazon Pay</h3>
<div class="paragraph">
<p>Um die Zahlungsart <strong>Amazon Pay</strong> nutzen zu können, musst du dein Amazon-Konto mit Payone verknüpfen. Wende dich dafür an den <a href="https://www.payone.com/DE-de/kundenservice/kontakt/" target="_blank" rel="noopener">Payone Support</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.<br>
Bei der Einrichtung der Zahlungsart Amazon Pay kannst du zusätzlich zu den Grundeinstellungen noch die Einstellung <strong>Testumgebung</strong> aktivieren. Diese ermöglicht es dir die Zahlungsart zunächst auszutesten und Testkäufe zu tätigen. Mit diesen lassen sich keine Aufträge und kein Umsatz generieren. Deaktiviere die Einstellung <strong>Testumgebung</strong>, um Amazon Pay aktiv zu schalten. Beachte, dass Amazon Pay nicht genutzt werden kann, wenn du bereits PayPal in <strong>Mode 1</strong> integriert hast. In diesem Mode überschreibt PayPal den gesamten Checkout mit der PayPal-Wall, daher stehen die für Amazon Pay benötigten Widgets nicht zur Verfügung.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">3. Ceres-Checkout anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Als Nächstes ist eine Anpassung im Ceres Checkout notwendig, damit deine Kund:innen bei Bezahlvorgängen mit Payone ihr Geburtsdatum (nur für den gesicherten Rechnungskauf) korrekt eingeben können. Dafür gibt es zwei Möglichkeiten. Du kannst entweder den ShopBuilder nutzen oder das Ceres-Plugin entsprechend konfigurieren. Beides wird im Folgenden beschrieben.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="shopbuilder-tab" data-toggle="tab" href="#shopbuilder" role="tab" aria-controls="shopbuilder" aria-selected="true">ShopBuilder</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="ceres-plugin-tab" data-toggle="tab" href="#ceres-plugin" role="tab" aria-controls="ceres-plugin" aria-selected="false">Ceres-Plugin</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="shopbuilder" role="tabpanel" aria-labelledby="shopbuilder-tab">
<div class="paragraph instruction">
<p>Anpassen der ShopBuilder-Seite für Checkout:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wähle auf deiner ShopBuilder-Seite für den Checkout die Widget-Kategorie <strong>Kundendaten</strong>.</p>
</li>
<li>
<p>Wähle das Widget <strong>Adressauswahl</strong> aus.</p>
</li>
<li>
<p>Klicke auf <strong>Einstellungen</strong> (con:cog[]) dieses Widgets.</p>
</li>
<li>
<p>Wähle unter <strong>Rechnungs- und Lieferadresse anzeigen</strong> neben den anderen benötigten Adressfeldern auch <strong>Geburtsdatum</strong> aus.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Im Bereich Webshop des Handbuchs findest du weitere Erklärungen zum Umgang mit dem <a href="#webshop/shop-builder">ShopBuilder</a> allgemein und der Widget-Kategorie <a href="/webshop/shop-builder#85">Kundendaten</a>.</p>
</div>
</div><div class="tab-pane fade" id="ceres-plugin" role="tabpanel" aria-labelledby="ceres-plugin-tab">
<div class="paragraph instruction">
<p>Ceres-Checkout anpassen für den gesicherten Rechnungskauf:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Öffne das Plugin <strong>Ceres</strong>.<br>
→ Die Detailansicht des Plugins öffnet sich.</p>
</li>
<li>
<p>Wähle unter <strong>Konfiguration</strong> den Punkt <strong>Kaufabwicklung und Mein Konto</strong> aus.</p>
</li>
<li>
<p>Stelle den Toggle <strong>Veraltete Einträge zeigen/verstecken</strong> auf zeigen (grün).</p>
</li>
<li>
<p>Klappe den Bereich <strong>Rechnungsadressfelder im Adressformular anzeigen (DE)</strong> auf.</p>
</li>
<li>
<p>Aktiviere über die Checkbox die Option <strong>Geburtsdatum</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Im Checkout wird deinen Kund:innen nun ein Feld zur Eingabe des Geburtsdatums angezeigt.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Fehler bei der Eingabe</div>
<div class="paragraph">
<p>Nimm diese Einstellung unbedingt sorgfältig vor, da deine Kund:innen andernfalls den Bezahlvorgang mit Payone nicht abschließen können.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="70">4. Template-Container verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Zahlungsart Payone stehen dir verschiedene Möglichkeiten zur Verfügung, um sie in deinem Webshop einzubinden. Hierfür sind in den Templates in plentymarkets an relevanten Stellen Container hinterlegt, mit denen zur Individualisierung Contents verknüpft werden.</p>
</div>
<div class="paragraph instruction">
<p>Container verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Öffne das Plugin <strong>Payone</strong>.<br>
→ Die Detailansicht des Plugins öffnet sich.</p>
</li>
<li>
<p>Klicke auf <strong>Container-Verknüpfungen</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste den Datenanbieter aus, den du verknüpfen möchtest.</p>
</li>
<li>
<p>Wähle den Container aus, mit dem du den Datenanbieter verknüpfen möchtest. Beachte dazu die Erläuterungen in <a href="#tabelle-container-verknüpfen">Tabelle 4</a>.</p>
</li>
<li>
<p>Wiederhole Schritte 5 und 6 für alle Datenanbieter, die du verknüpfen möchtest.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-container-verknüpfen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Container verknüpfen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Content</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payone Order Confirmation Page Payment Data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verknüpfe diesen Content mit dem Container Order confirmation: Additional payment information, um die Payone-Zahlungsarten auf der Bestellbestätigungsseite im Webshop anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payone Checkout JS</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verknüpfe diesen Content mit dem Container Script loader: After script loaded, um die Payone-Zahlungsarten während der Kaufabwicklung im Webshop anzuzeigen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="80">5. Zahlungsart einmalig aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktiviere die Zahlungsart einmalig in deinem System. Beachte, dass nur die Aktivierung der Zahlungsart notwendig ist. Alle weiteren Einstellungen, wie z.B. zu Mandanten oder Lieferländern, haben keine Auswirkungen.</p>
</div>
<div class="paragraph instruction">
<p>Aktivierung der Zahlungsart:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Wähle die zu aktivierende Zahlungsart aus.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="90">6. Kundenklassen und Versandprofile</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Stelle sicher, dass die Zahlungsart in den <a href="/crm/kontakte-verwalten#15">Kundenklassen</a> erlaubt ist und auch in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a> nicht gesperrt ist. Überlege dir hierfür, für welche Kundenklassen und Versandprofile die Zahlungsart gelten soll. Dies ist individuell einstellbar.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart in Kundenklasse erlauben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Kundenklassen</strong>.</p>
</li>
<li>
<p>Öffne die Kundenklasse, in dem die Zahlungsart erlaubt werden soll.</p>
</li>
<li>
<p>Wähle die Zahlungsart aus der Liste im Bereich <strong>Erlaubte Zahlungsarten</strong> durch Anklicken aus.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wiederhole dies ggf. für weitere Kundenklassen.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart in bestehenden Versandprofilen überprüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong>.</p>
</li>
<li>
<p>Wechsel in das Tab <strong>Versandprofile</strong>.</p>
</li>
<li>
<p>Öffne das Versandprofil, in dem die Zahlungsart erlaubt sein soll.</p>
</li>
<li>
<p>Überprüfe, ob die Zahlungsart im Bereich <strong>Gesperrte Zahlungsarten</strong> ausgewählt ist.</p>
</li>
<li>
<p>Entferne die Auswahl der Zahlungsart, wenn sie für dieses Versandprofil erlaubt sein soll.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wiederhole dies ggf. für weitere Versandprofile.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">7. Ereignisaktionen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte Ereignisaktionen ein, damit alle benötigten Daten automatisch an Payone versendet werden. Dafür empfehlen wir 2 Ereignisaktionen.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Ereignisaktion einrichten</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Einrichtung einer Ereignisaktion:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das Ereignis gemäß Tabellen 5 und 6.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabellen 5 und 6 vor.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="110">7.1. Automatische Versandbestätigung an Payone senden</h3>
<div class="paragraph">
<p>Richte eine Ereignisaktion ein, um eine automatische Versandbestätigung an Payone zu senden, sobald du den Auftrag versendet hast.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Ereignisaktion und Art der Autorisierung</div>
<div class="paragraph">
<p>Die Einrichtung dieser Ereignisaktion ist zwingend notwendig, wenn in der Grundeinstellung als <strong>Art der Autorisierung</strong> die Option <strong>Vorautorisierung</strong> gewählt wurde. Hast du die Option <strong>Autorisierung</strong> gewählt, ist diese Ereignisaktion nicht nutzbar und nicht notwendig.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-ea-versandbestätigung-payone" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktion zum Senden einer automatischen Versandbestätigung an Payone</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Ereignis wählen, nach dem die Versandbestätigung automatisch versendet werden soll, z.B. <strong>Auftragsänderung &gt; Warenausgang gebucht</strong>.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Zahlungsart</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin: PAYONE</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin &gt; PAYONE</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandbestätigung senden</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="120">7.2. Payone-Zahlung automatisch zurückzahlen</h3>
<div class="paragraph">
<p>Richte eine Ereignisaktion ein, um die Rückzahlung einer Zahlung über Payone zu automatisieren.</p>
</div>
<table id="tabelle-ea-rückzahlung-payone" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Ereignisaktion zur automatischen Rückzahlung einer Payone-Zahlung</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Ereignis wählen, nach dem eine Rückzahlung erfolgen soll.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Zahlungsart</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin: PAYONE</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin &gt; PAYONE</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rückerstattung senden</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>