<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Voraussetzung: Eröffnung eines PayPal-Geschäftskontos</span></a></li>
<li><a href="#20"><span>2.</span><span> Ausführen des Assistenten</span></a></li>
<li><a href="#30"><span>3.</span><span> Widgets im ShopBuilder</span></a></li>
<li><a href="#40"><span>4.</span><span> Template-Container verknüpfen</span></a>
<ul class="sectlevel2">
<li><a href="#50"><span>4.1.</span><span> Weitere Informationen zur PayPal PLUS Wall</span></a></li>
</ul>
</li>
<li><a href="#60"><span>5.</span><span> Webhook-Benachrichtigungen aktivieren</span></a></li>
<li><a href="#80"><span>6.</span><span> Kundenklassen und Versandprofile</span></a></li>
<li><a href="#90"><span>7.</span><span> PayPal-Zahlung automatisch zurückzahlen</span></a></li>
<li><a href="#100"><span>8.</span><span> Sprachelemente anpassen</span></a></li>
<li><a href="#110"><span>9.</span><span> FAQ zum PayPal-Plugin</span></a>
<ul class="sectlevel2">
<li><a href="#120"><span>9.1.</span><span> Konfiguration mit PayPal-Assistent</span></a></li>
<li><a href="#130"><span>9.2.</span><span> Erste Hilfe: Probleme mit der PayPal-Kontoverknüpfung</span></a>
<ul class="sectlevel3">
<li><a href="#140"><span>9.2.1.</span><span> Was mache ich, wenn bei der Kontoverknüpfung nur die Schaltfläche Zur PayPal-Einrichtung angezeigt wird?</span></a></li>
<li><a href="#150"><span>9.2.2.</span><span> Was mache ich, wenn nach der Weiterleitung ein neues Geschäftskonto eingerichtet werden soll?</span></a></li>
</ul>
</li>
<li><a href="#160"><span>9.3.</span><span> Probleme mit der PayPal PLUS Wall</span></a>
<ul class="sectlevel3">
<li><a href="#170"><span>9.3.1.</span><span> Was mache ich, wenn die PayPal PLUS Wall wird nicht mehr angezeigt wird?</span></a></li>
<li><a href="#180"><span>9.3.2.</span><span> Warum werden nicht alle Zahlungsarten in der PayPal PLUS Wall ausgegeben?</span></a></li>
</ul>
</li>
<li><a href="#190"><span>9.4.</span><span> Ereignisaktionen und alte PayPal-Schnittstelle</span></a></li>
</ul>
</li>
<li><a href="#300"><span>10.</span><span> PayPal Konfliktlösung</span></a>
<ul class="sectlevel2">
<li><a href="#320"><span>10.1.</span><span> Voraussetzungen und Installation</span></a></li>
<li><a href="#330"><span>10.2.</span><span> PayPal Problemlösung in plentymarkets nutzen</span></a>
<ul class="sectlevel3">
<li><a href="#340"><span>10.2.1.</span><span> PayPal Problembenachrichtigungen einsehen</span></a></li>
<li><a href="#350"><span>10.2.2.</span><span> Nachricht an Kund:innen schreiben</span></a></li>
<li><a href="#360"><span>10.2.3.</span><span> Problem als Konflikt behandeln</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>PayPal</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem PayPal-Plugin bindest du die <strong>PayPal-Zahlungsarten</strong> in deinen Webshop ein und stellst sie so deinen Kund:innen zur Auswahl. Lade dafür das PayPal-Plugin im <a href="https://marketplace.plentymarkets.com/paypal_4690" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter. Die Einrichtung der Zahlungsarten erfolgt erfolgt über einen Assistenten. Zudem musst du einige grundlegende Einstellungen in deinem plentymarkets System ausführen, damit die Zahlungsarten auch in deinem System aktiviert sind.<br>
Die Erklärungen auf dieser Seite finden nach dem Hinzufügen des Plugins Anwendung. Allgemeine Informationen zum Hinzufügen und Installieren von Plugins findest du im Abschnitt <a href="/plugins">Plugins</a> des Handbuchs.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Voraussetzung: Eröffnung eines PayPal-Geschäftskontos</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Nutzung von PayPal benötigst du ein PayPal-Geschäftskonto. Durch die Eröffnung des Kontos erhältst du Informationen sowie Zugangsdaten. Liegen diese nicht vor, kannst du das Plugin nicht einrichten und somit nicht nutzen. Solltest du noch keines haben, <a href="https://www.paypal.com/de/business" target="_blank" rel="noopener">eröffne ein PayPal-Geschäftskonto</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Ausführen des Assistenten</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Aktivierung in Plugin-Set des Hauptmandanten</div>
<div class="paragraph">
<p>Für die Kontoverknüpfung und die Funktionsweise der Ereignisaktionen muss das PayPal-Plugin in dem Plugin-Set aktiviert sein, das für den Hauptmandanten verwendet wird. Da eine Abhängigkeit zum IO-Plugin besteht, musst du IO für den Bereitstellungsprozess (Speichern im Plugin-Set) aktivieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Nachdem du das Plugin installiert hast, ist der dazugehörige Assistent verfügbar. Gehe nun wie folgt vor, um den Assistenten zu durchlaufen und somit die Zahlungsart einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Plugins » [Plugin-Set wählen]</strong>.</p>
</li>
<li>
<p>Öffne den Assistenten <strong>PayPal</strong>.</p>
</li>
<li>
<p>Schließe den Assistenten vollständig ab.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>PayPal ist in deinem Webshop verfügbar.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Informationen zur Adressvalidierung</strong></div>
<div class="content">
<div class="paragraph">
<p>Im PayPal-Assistenten gibt es im Bereich <strong>Auftragsabwicklung</strong> den Punkt <strong>Adressvalidierung</strong>. Diese ist <em>automatisch aktiviert</em>. Zur Deaktivierung der Validierung musst du eine Auswahl treffen. Du kannst die Validierung entweder für alle oder für einzelne Länder deaktivieren. Setze dafür einen Haken (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) bei den Ländern, für die Adressen <em>nicht validiert</em> werden sollen.<br>
Wenn die Zahlung auch mit einer unvollständigen Adresse durchgeführt werden soll, solltest du die Adressvalidierung deaktivieren.</p>
</div>
<div class="paragraph">
<p>Die standardmäßige Validierung ist eine Anforderung von PayPal. Durch die Validierung wird geprüft, ob eine vollständige Adresse vorhanden ist. Es wird nicht geprüft, ob diese Adresse tatsächlich existiert. Nur wenn eine vollständige Adresse vorhanden ist, wird der erfolgreiche Zahlungsabschluss durchgeführt.<br>
Die Adressvalidierung von PayPal ist wichtig für die Absicherung beim Versand der Ware. Zudem bietet PayPal den Käufer- und Verkäuferschutz an, der gerade bei der Auftragsabwicklung über PayPal Express entscheidend ist. In diesem Fall wird die Adresse von PayPal selbst übernommen.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Nur für Verwendung der Zahlungsart in mehreren Mandanten: Assistent mehrmals durchlaufen</strong></div>
<div class="content">
<div class="paragraph">
<p>Abhängig von der Konfiguration deiner Plugin-Sets und Mandanten muss der PayPal-Assistent mehrmals durchlaufen werden. Nur so ist gewährleistet, dass die PayPal-Zahlungsarten korrekt konfiguriert sind und alle Funktionen wie Ereignisaktionen und Crons im Hintergrund ohne Einschränkungen ablaufen.</p>
</div>
<div class="paragraph">
<p>Entnehme der folgenden Aufstellung, welche Assistenten in welchem Plugin-Set du durchlaufen musst. Die obere Zeile gibt die Konfiguration der Plugin-Sets und Mandanten wieder. Die zweite Zeile listet korrespondierend auf, in welchem Set der PayPal-Assistent für welchen Mandanten durchlaufen werden muss.</p>
</div>
<div class="paragraph">
<p><strong><em>Wichtig</em></strong>: Es geht in den Beispielen nicht um entweder oder. Der Assistent muss für Multi-Mandanten mehrmals durchlaufen werden, da er zusätzlich immer auch in dem Plugin-Set durchlaufen werden muss, das mit dem Hauptmandanten verknüpft ist.</p>
</div>
<div class="paragraph">
<p><strong>Beispiel 1:</strong></p>
</div>
<table id="multi-client-and-assistants-example-one" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deine Plugin-Sets und Mandanten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 1 ist verknüpft mit Hauptmandant</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 2 ist verknüpft mit Multi-Mandant 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 3 ist verknüpft mit Multi-Mandant 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchlaufe den Assistenten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den PayPal-Assistenten in diesem Plugin-Set für alle Mandanten. D.h. für den Hauptmandanten, für Multi-Mandant 1 und für Multi-Mandant 2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den PayPal-Assistenten in diesem Plugin-Set für Multi-Mandant 1.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den PayPal-Assistenten in diesem Plugin-Set für Multi-Mandant 2.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Beispiel 2:</strong></p>
</div>
<table id="multi-client-and-assistants-example-two" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deine Plugin-Sets und Mandanten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 1 ist verknüpft mit Hauptmandant</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 2 ist verknüpft mit Multi-Mandant 1 und mit Multi-Mandant 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchlaufe den Assistenten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den PayPal-Assistenten in diesem Plugin-Set für alle Mandanten. D.h. für den Hauptmandanten, für Multi-Mandant 1 und für Multi-Mandant 2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den PayPal-Assistenten in diesem Plugin-Set für Multi-Mandant 1 und für Multi-Mandant 2.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Beispiel 3:</strong></p>
</div>
<table id="multi-client-and-assistants-example-three" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deine Plugin-Sets und Mandanten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 1 ist verknüpft mit Hauptmandant und mit Multi-Mandant 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 2 ist verknüpft mit Multi-Mandant 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchlaufe den Assistenten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den PayPal-Assistenten in diesem Plugin-Set für alle Mandanten. D.h. für den Hauptmandanten, für Multi-Mandant 1 und für Multi-Mandant 2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den PayPal-Assistenten in diesem Plugin-Set für Multi-Mandant 2.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Beispiel 4:</strong></p>
</div>
<table id="multi-client-and-assistants-example-four" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deine Plugin-Sets und Mandanten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Set 1 ist verknüpft mit Hauptmandant, mit Multi-Mandant 1 und mit Multi-Mandant 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchlaufe den Assistenten:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchlaufe den PayPal-Assistenten in diesem Plugin-Set für alle Mandanten. D.h. für den Hauptmandanten, für Multi-Mandant 1 und für Multi-Mandant 2.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Widgets im ShopBuilder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der PayPal Express-Button und die PayPal Ratenzahlung Banner stehen im ShopBuilder als Widgets zur Verfügung.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Template-Container verknüpfen</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Information zur Containerverknüpfung</div>
<div class="paragraph">
<p>Die standardmäßig benötigten Container werden während des Einrichtens über den PayPal-Assistenten automatisch für deinen Webshop verknüpft. Ab Version 5.4.0 werden benötigte und optionale Container in dem Plugin-Set verknüpft, in dem der Assistent durchlaufen wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Für die Zahlungsart PayPal PLUS, für den PayPal Express-Button und für die PayPal Ratenzahlung Banner stehen dir verschiedene Möglichkeiten zur Verfügung, um sie in deinen WebShop einzubinden. Hierfür sind in den Templates in plentymarkets an relevanten Stellen Container hinterlegt, mit denen zur Individualisierung Contents verknüpft werden.</p>
</div>
<div class="paragraph instruction">
<p>Container verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Öffne das Plugin <strong>PayPal</strong></p>
</li>
<li>
<p>Klicke auf <strong>Container-Verknüpfungen</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste den Datenanbieter, den du verknüpfen möchtest.</p>
</li>
<li>
<p>Wähle den Container, mit dem du den Datenanbieter verknüpfen möchtest. Beachte dazu die Erläuterungen in <a href="#table-paypal-template-container">Tabelle 1</a>.</p>
</li>
<li>
<p>Wiederhole Schritte 5 und 6 für alle Datenanbieter, die du verknüpfen möchtest.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-paypal-template-container" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Container verknüpfen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Content</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Allgemein</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Checkout Scripts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Container <strong>Checkout: After scripts loaded</strong> muss verknüpft sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Confirmation Scripts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Container <strong>Script loader: After scripts loaded</strong> muss verknüpft sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Express Button Scripts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Container <strong>Script loader: After scripts loaded</strong> muss verknüpft sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Styles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Container <strong>Template: style</strong> muss verknüpft sein, um die von PayPal benötigten Styles zu verwenden und optimale Funktionalität zu gewährleisten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Express Button</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optional: Der Express-Button ist universell hinterlegbar, z.B. neben dem Warenkorb (Shopping cart). Er gibt Kund:innen die Möglichkeit, den Inhalt des gesamten Warenkorbs sofort zu kaufen, ohne den Umweg über die Kaufabwicklung zu machen. Hierbei wird er direkt zur Zahlung weitergeleitet. Die Lieferadresse wird von PayPal bereitgestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Ratenzahlung Banner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optional: Die PayPal Ratenzahlung Banner sind vielseitig hinterlegbar, um die Zahlungsart zu bewerben. Du kannst zwischen einem Grafikbanner (PayPal Installment Graphical Promotion Banner) und einem Textbanner (PayPal Installment Text Promotion Banner) wählen. Es ist keine separate Integration nötig. Im Assistenten können die Banner automatisch auf der Artikelseite, im Warenkorb oder im Checkout verknüpft werden. Zusätzlich stehen die Banner als Widgets für den ShopBuilder zur Verfügung und können somit individuell platziert werden, z.B. auf Landing Pages, auf Artikelseiten, im Warenkorb oder im Checkout.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Reinitialize Payment / PayPal PLUS Reinitialize Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>My account: Additional payment information</strong> verknüpfen, um Kund:innen im Mein-Konto-Bereich die Möglichkeit zu geben, nach nicht erfolgreicher Zahlung eine erneute Zahlung durchzuführen. Für PayPal wird die Schaltfläche <strong>Jetzt zahlen</strong> angezeigt, für PayPal PLUS wird die Wall angezeigt.<br>
Mit <strong>Order confirmation: Additional payment information</strong> verknüpfen, um Kund:innen in der Bestellbestätigung die Möglichkeit zu geben, nach nicht erfolgreicher Zahlung eine erneute Zahlung durchzuführen. Für PayPal wird die Schaltfläche <strong>Jetzt zahlen</strong> angezeigt, für PayPal PLUS wird die Wall angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>PayPal PLUS</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-paypal-plus-wall">PayPal PLUS Wall</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durch die Verknüpfung mit dem Container <strong>Checkout: Override payment method</strong> ersetzt die PayPal PLUS Wall alle vorher eingestellten Zahlungsarten. Die Zahlungsarten, die zusätzlich zu den standardmäßig in der Wall angebotenen Zahlungsarten PayPal, Lastschrift, Kreditkarte sowie Kauf auf Rechnung eingestellt sind, werden in der Wall unter diesen gemäß ihrer Priorität angezeigt.<br>
Innerhalb des Assistenten stehen dir verschiedene Optionen zur Anzeige der PayPal PLUS Wall zur Verfügung: <strong>Wall ersetzt Liste der Zahlungsarten</strong>, <strong>Wall innerhalb der Liste mit Zahlungsarten</strong> oder <strong>Wall in einem Overlay beim Kaufabschluss</strong>.<br>
Beachte auch den Abschnitt <a href="/payment/payment-plugins/paypal#50">Weitere Informationen zur PayPal PLUS Wall</a>. Dort werden neben zusätzlichen Informationen auch Beschränkungen beschrieben.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="50">4.1. Weitere Informationen zur PayPal PLUS Wall</h3>
<div class="paragraph">
<p>In der PayPal PLUS Wall können, neben den PayPal PLUS Zahlungsarten, 10 weitere Zahlungsarten im Checkout ausgegeben werden.<br>
Beispielsweise sind für Deutschland die Zahlungsarten PayPal, Lastschrift, Kreditkarte und Kauf auf Rechnung möglich. Insgesamt wäre damit eine maximale Anzahl von 14 Zahlungsarten im Checkout möglich.
Wenn aber beispielsweise nur PayPal und Kreditkarte im Lieferland zur Verfügung stehen, dann ist die maximale Anzahl auf 12 beschränkt.</p>
</div>
<div class="paragraph">
<p>Zudem beschränkt die PayPal Plus Wall die maximalen Zeichen für die Namen anderer Zahlungsarten. Die Zeichenanzahl ist auf 25 beschränkt. Wenn ein Name länger als 25 Zeichen ist, dann wird der Name nach dem 25. Zeichen abgeschnitten.<br>
Hierbei ist zu beachten, dass Sonderzeichen, bspw. Umlaute, die Anzahl verringert, da die Sonderzeichen in ihrer HTML-Schreibweise ausgegeben werden.</p>
</div>
<div class="paragraph">
<p>PayPal gibt Folgendes an:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>max. Bildgröße von 100 x 25 px<br></p>
</li>
<li>
<p>max. 25 Zeichen für <em>methodName</em><br></p>
</li>
<li>
<p>max. 120 Zeichen für <em>description</em></p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">5. Webhook-Benachrichtigungen aktivieren</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Information zu Webhooks</div>
<div class="paragraph">
<p>Die standardmäßig benötigten Webhooks werden während des Einrichtens über den PayPal-Assistenten automatisch aktiviert. Individuelle Einstellungen zu Webhooks nimmst du im Schritt <strong>Erweiterte Einstellungen</strong> des Assistenten vor.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Dein plentymarkets System und die PayPal-Schnittstelle kommunizieren über sogenannte Webhooks. Bei bestimmten Ereignissen, z.B. dem Eingang einer Zahlung, sendet PayPal Webhook-Benachrichtigungen an plentymarkets. plentymarkets reagiert automatisch auf diese Benachrichtigungen. <a href="#table-activating-webhook-notifications">Tabelle 2</a> enthält zusätzliche Informationen zu den Webhooks.</p>
</div>
<table id="table-activating-webhook-notifications" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Webhook-Benachrichtigungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Webhook</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PAYMENT.SALE.COMPLETED</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Zahlung ist abgeschlossen. Wenn PayPal diese Benachrichtigung sendet, wird die ausstehende Zahlung in plentymarkets als bezahlt markiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PAYMENT.SALE.DENIED</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Zahlung wurde verweigert. Wenn PayPal diese Benachrichtigung sendet, wird die ausstehende Zahlung in plentymarkets als nicht bezahlt markiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PAYMENT.SALE.PENDING</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine ausstehende Zahlung liegt vor. Wenn PayPal diese Benachrichtigung sendet, wird die ausstehende Zahlung in plentymarkets angelegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PAYMENT.SALE.REFUNDED</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Händler hat eine Zahlung teilweise oder vollständig erstattet. Wenn PayPal diese Benachrichtigung sendet, wird für die Zahlung eine Gutschrift in plentymarkets angelegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PAYMENT.SALE.REVERSED</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Zahlung wurde von PayPal rückgebucht.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="80">6. Kundenklassen und Versandprofile</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Stelle sicher, dass die Zahlungsart in den <a href="/crm/kontakte-verwalten#15">Kundenklassen</a> erlaubt ist und auch in den <a href="/fulfillment/versand-vorbereiten#1800">Versandprofilen</a> nicht gesperrt ist. Überlege dir hierfür, für welche Kundenklassen und Versandprofile die Zahlungsart gelten soll. Dies ist individuell einstellbar.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart in Kundenklasse erlauben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Kundenklassen</strong>.</p>
</li>
<li>
<p>Öffne die Kundenklasse, in der die Zahlungsart erlaubt werden soll.</p>
</li>
<li>
<p>Wähle die Zahlungsart aus der Liste im Bereich <strong>Erlaubte Zahlungsarten</strong> aus.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Wiederhole dies ggf. für weitere Kundenklassen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Zahlungsart in bestehenden Versandprofilen überprüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Versandprofile</strong>.</p>
</li>
<li>
<p>Öffne das Versandprofil, in dem die Zahlungsart erlaubt sein soll.</p>
</li>
<li>
<p>Überprüfe, ob die Zahlungsart im Bereich <strong>Gesperrte Zahlungsarten</strong> ausgewählt ist.</p>
</li>
<li>
<p>Entferne die Auswahl der Zahlungsart, wenn sie für dieses Versandprofil erlaubt sein soll.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Wiederhole dies ggf. für weitere Versandprofile.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="90">7. PayPal-Zahlung automatisch zurückzahlen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine Ereignisaktion ein, um die Rückzahlung einer Zahlung über PayPal zu automatisieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#table-procedure-paypal-refund">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#table-procedure-paypal-refund">Tabelle 3</a> vor.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-procedure-paypal-refund" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion zur automatischen Rückzahlung der PayPal-Zahlung</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Ereignis wählen, auf das eine Rückzahlung folgen soll.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag &gt; Zahlungsart</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin: PayPal<br>
Plugin: PayPalExpress<br>
PayPal: PayPalPlus</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin &gt; Rückzahlung der PayPal-Zahlung</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Im Anschluss an die Aktion <strong>Rückzahlung der PayPal-Zahlung</strong> stehen dir stehen zwei zusätzliche Ereignisse zur Verfügung, um den weiteren Verlauf des Auftrages abzubilden: <strong>PayPal Rückzahlung erfolgreich</strong> und <strong>PayPal Rückzahlung gescheitert</strong>. Richte optional Ereignisaktionen mit diesen Ereignissen wie oben beschrieben ein.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">8. Sprachelemente anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst Benennungen, die das PayPal-Plugin mitbringt, im Menü <strong>CMS » Mehrsprachigkeit</strong> nach deinen Bedürfnissen in allen verfügbaren Systemsprachen anpassen. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Sprachdateien anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Mehrsprachigkeit.</strong></p>
</li>
<li>
<p>Wähle auf der linken Seite die <strong>Ausgangssprache</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle auf der rechten Seite die <strong>Zielsprache</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klappe im Bereich <strong>PayPal</strong> die verschiedenen Sektionen aus.</p>
</li>
<li>
<p>Gib im Bereich der Zielsprache die gewünschten Texte für die einzelnen Sprachelemente ein.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Informationen zum Bearbeiten von im Webshop angezeigten Texten findest du auf der Handbuchseite <a href="/webshop/ceres-einrichten#231">Webshop-Texte bearbeiten</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="110">9. FAQ zum PayPal-Plugin</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Abschnitt sind FAQ zum Thema PayPal-Kontoverknüpfung zusammengestellt. Solltest du darüber hinaus Fragen haben, nutze zudem auch das <a href="https://forum.plentymarkets.com/c/payment" target="_blank" rel="noopener">Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>, um entweder Informationen aus einem bestehenden Thread zu ziehen oder deine Frage an unsere Supporter zu stellen.</p>
</div>
<div class="sect2">
<h3 id="120">9.1. Konfiguration mit PayPal-Assistent</h3>
<div class="paragraph">
<p>Bei der Konfiguration von PayPal mit dem Assistenten kann es unter Umständen zu Problemen im Webshop kommen. Dabei hilft das Aktualisieren des PayPal-Plugins:</p>
</div>
<div class="qlist qanda">
<ol>
<li>
<p><em>Ich möchte das PayPal-Plugin aktualisieren. Wie sollte ich vorgehen?</em></p>
<p>Wenn du das Update in einer Kopie deines Plugin-Sets vornehmen möchtest, musst du das Backend-Plugin-Set wechseln, das mit deinem Konto verknüpft ist. Wie du das Backend-Plugin-Set wechseln kannst, erfährst du auf der Seite <a href="/plugins/hinzugefuegte-plugins-installieren">Hinzugefügte Plugins installieren</a>. Nach dem erneuten Laden des Backends kannst du den PayPal-Assistenten normal durchlaufen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="130">9.2. Erste Hilfe: Probleme mit der PayPal-Kontoverknüpfung</h3>
<div class="paragraph">
<p>Bei Problemen mit der Kontoverknüpfung ist es empfehlenswert einen anderen <a href="/willkommen/schnelleinstieg/systemvoraussetzungen#100">Browser</a> zu verwenden, um diese Fehlerquelle auszuschließen. Des Weiteren sollte grundsätzlich überprüft werden, ob es Probleme mit dem PayPal-Konto gibt. Möglicherweise wurde die E-Mail noch nicht bestätigt, PayPal PLUS wurde für das Konto noch nicht freigeschaltet oder es wurde noch kein Passwort gesetzt. Weitere mögliche Fehlerquellen und deren Lösung werden im Folgenden beschrieben.</p>
</div>
<div class="sect3">
<h4 id="140">9.2.1. Was mache ich, wenn bei der Kontoverknüpfung nur die Schaltfläche <strong>Zur PayPal-Einrichtung</strong> angezeigt wird?</h4>
<div class="paragraph">
<p>Überprüfe zuerst, ob die <a href="https://marketplace.plentymarkets.com/paypal_4690">aktuelle Version</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> des PayPal-Plugins in deinem plentymarkets System installiert und bereitgestellt ist. Wie du beim Aktualisieren vorgehst, erfährst du im Handbuchkapitel <a href="/plugins/installierte-plugins-aktualisieren">Installierte Plugins aktualisieren</a>.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Aktivierung und Vorschau des Plugins</div>
<div class="paragraph">
<p>Stelle sicher, dass das PayPal-Plugin zum Zeitpunkt der Kontoverknüpfung bereits im <a href="/plugins/hinzugefuegte-plugins-installieren">Plugin-Set</a> des Hauptmandanten aktiviert und bereitgestellt ist. Ist dies nicht der Fall, kommt es zu Fehlfunktionen.<br>
Achtung: Die Plugin-Set Vorschau darf während des Verknüpfens des PayPal-Kontos <strong>nicht</strong> geöffnet sein!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PP-Plugin_Fehler_1.png" alt="Plugin Fehlermeldung 1">
</div>
<div class="title">Bild 1. Rückleitung zu plentymarkets ist nicht möglich</div>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Lösung 1:</strong> Wechsle den Browser und versuche es erneut. plentymarkets unterstützt die Browser Google Chrome und Mozilla Firefox.</p>
</li>
<li>
<p><strong>Lösung 2:</strong> Es existiert noch eine API-Berechtigung im PayPal-Konto. Entferne die Berechtigung für plentymarkets. Die API-Berechtigung ist <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_profile-api-list-auths">hier</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> zu finden.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">HINWEIS</div>
<div class="paragraph">
<p>Durch das Entfernen der API-Berechtigung werden alle verknüpften PayPal-Konten im plentymarkets System gelöst. Sollte für den Marktplatz <strong>eBay</strong> ein PayPal-Konto verknüpft sein, muss das entsprechende Konto bei der PayPal-Schnittstelle erneut verknüpft werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="150">9.2.2. Was mache ich, wenn nach der Weiterleitung ein neues Geschäftskonto eingerichtet werden soll?</h4>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/payment/assets/paypal-geschaeftskonto-de.png" alt="Geschäftskonto">
</div>
<div class="title">Bild 2. Neues PayPal-Geschäftskonto</div>
</div>
<div class="paragraph">
<p>Wenn sich dieses Fenster öffnet, überprüfe, ob die Daten im Schritt <strong>Konto</strong> korrekt hinterlegt wurden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/payment/assets/paypal-assistent-konto-de.png" alt="Kontoeinrichtung">
</div>
<div class="title">Bild 3. Kontoeinrichtung im Assistent</div>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Kontoverknüpfung</strong>: Wurde die richtige Auswahl getroffen? Neues Konto oder bereits bestehendes Konto.</p>
</li>
<li>
<p><strong>Neues Konto</strong>: Überprüfe, ob die E-Mail-Adresse des PayPal-Geschäftskontos korrekt eingegeben wurde.</p>
</li>
<li>
<p><strong>PayPal PLUS freischalten</strong>: Aktiviere diese Option nur, wenn das Konto von PayPal für PayPal PLUS freigeschaltet ist.</p>
</li>
<li>
<p><strong>PayPal Testumgebung nutzen</strong>: Ist diese Option aktiviert, nutzt du PayPal nicht live, sondern nur im Testmodus. Um PayPal auch tatsächlich zu nutzen, aktiviere diese Option nicht.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect2">
<h3 id="160">9.3. Probleme mit der PayPal PLUS Wall</h3>
<div class="paragraph">
<p>Sollte es passieren, dass die PayPal PLUS Wall nicht oder fehlerhaft angezeigt wird, liegt dies oft an einer fehlenden Freischaltung oder Restriktionen der Wall. Beachte dazu auch <a href="/payment/payment-plugins/paypal#50">Weitere Informationen zur PayPal PLUS Wall</a>.</p>
</div>
<div class="sect3">
<h4 id="170">9.3.1. Was mache ich, wenn die PayPal PLUS Wall wird nicht mehr angezeigt wird?</h4>
<div class="paragraph">
<p>Wird die PayPal PLUS Wall nicht ausgegeben, überprüfe die folgenden Punkte:</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Stelle sicher, dass du von PayPal die Freischaltung zur Nutzung von PayPal PLUS hast.</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Überprüfe die Einstellungen im im PayPal-Assistenten.
→ Im Bereich <strong>Konto</strong> des Assistenten muss PayPal PLUS freigeschaltet sein.</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Überprüfe die <a href="/payment/payment-plugins/paypal#intable-paypal-plus-wall">Container-Verknüpfungen</a>. Diese sollten beim Durchlaufen des Assistenten automatisch erstellt werden, können aber auch manuell gesetzt werden.</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Zur Nutzung von PayPal PLUS muss die <a href="/payment/payment-plugins/paypal#80">Zahlungsart in Kundenklassen erlaubt sein und darf in Versandprofilen nicht gesperrt</a> sein.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="180">9.3.2. Warum werden nicht alle Zahlungsarten in der PayPal PLUS Wall ausgegeben?</h4>
<div class="paragraph">
<p>Beachte Folgendes, falls eine Zahlungsart nicht in der PayPal PLUS Wall wiedergegeben wird:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Zahlungsarten sind abhängig vom Lieferland. So sind Kauf auf Rechnung und Lastschrift nur für Deutschland freigegeben. Beachte auch <a href="/payment/payment-plugins/paypal#50">Weitere Informationen zur PayPal PLUS Wall</a>.</p>
</li>
<li>
<p>Ist eine Zahlungsart nicht freigeschaltet, wende dich direkt an <a href="https://www.paypal.com/de/business">PayPal</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> und lasse sie für das entsprechende PayPal-Händlerkonto, das du nutzt, freischalten.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect2">
<h3 id="190">9.4. Ereignisaktionen und alte PayPal-Schnittstelle</h3>
<div class="paragraph">
<p>Seit die alten Schnittstellen für alle Plugin-Zahlungsarten nicht mehr unterstützt werden, gilt für Ereignisaktionen generell, dass die Filter aus Filtergruppe <strong>Plugins</strong> sowie die Aktionen aus der Aktionsgruppe <strong>Plugins</strong> für Plugin-Zahlungsarten genutzt werden sollen. Allerdings greift ab Version 5.3.1 des PayPal-Plugins die Aktion <strong>Rückzahlung der PayPal-Zahlung</strong> auch für Zahlungen über die alte PayPal-Schnittstelle.<br>
Um andere Änderungen für das PayPal-Plugin einzusehen und Aktualisierungen nicht zu verpassen, kannst du den <a href="https://marketplace.plentymarkets.com/paypal_4690">Changelog des PayPal-Plugins</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> nutzen. Generell empfehlen wir die Plugin-Zahlungsarten, die über den <a href="https://marketplace.plentymarkets.com/plugins/payment/payment-integrationen" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> zur Verfügung gestellt werden, zu nutzen.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">10. PayPal Konfliktlösung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem <strong>PayPal Dispute-Plugin</strong> integrierst du PayPal Konfliktlösung in dein plentymarkets System und kannst dann direkt aus deinem System heraus Probleme und Konflikte mit deinen Kund:innen bearbeiten und lösen. Dafür werden die plentymarkets Notifications und der Messenger verwendet.</p>
</div>
<div class="sect2">
<h3 id="320">10.1. Voraussetzungen und Installation</h3>
<div class="paragraph">
<p>Zur Verwendung von PayPal Konfliktlösung ist es erforderlich, vorher das <a href="/payment/payment-plugins/paypal#10">PayPal-Plugin einzurichten</a>. Voraussetzung ist die Nutzung von Version 5.0.0 und höher des PayPal-Plugins. Zudem setzt das PayPal Dispute-Plugin Ceres in Version 5.0.0 und IO in Version 5.0.0 oder höher voraus.</p>
</div>
<div class="paragraph">
<p>Installiere zur Verwendung von PayPal Konfliktlösung das <a href="https://marketplace.plentymarkets.com/paypaldispute_6582">PayPal Dispute-Plugin</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Nach der Installation des Plugins ist der dazugehörige Assistent verfügbar. Mithilfe dieses Assistenten wählst du die PayPal-Konten aus, für die du PayPal Konfliktlösung nutzen möchtest. Gehe nun wie folgt vor, um den Assistenten zu durchlaufen und PayPal Konfliktlösung einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>PayPal Konfliktlösung mit dem Assistenten einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Plugins » [Plugin-Set wählen]</strong>.</p>
</li>
<li>
<p>Öffne den Assistenten <strong>PayPal Dispute</strong>.</p>
</li>
<li>
<p>Schließe den Assistenten vollständig ab.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>PayPal Konfliktlösung ist in deinem System verfügbar.</p>
</div>
</div>
<div class="sect2">
<h3 id="330">10.2. PayPal Problemlösung in plentymarkets nutzen</h3>
<div class="paragraph">
<p>Wenn deine Kund:innen Probleme mit der georderten Ware haben und PayPal Konfliktlösung nutzen, um an dich heranzutreten, wirst du dank des PayPal Dispute-Plugins direkt in deinem plentymarkets Backend darüber informiert. Im Menü <strong>CRM » Messenger</strong> siehst du alle Fallbenachrichtigungen. Insgesamt haben deine Kund:innen 4 Möglichkeiten ein Problem zu melden. Je nach Problem und Eskalationsstufe kannst du verschiedene Schritte in plentymarkets vornehmen. Es gibt 2 Eskalationsstufen bei Problemen. Diese 2 Eskalationsstufen sind Dispute und Claim. Die 4 Möglichkeiten deiner Kund:innen sind:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikel nicht erhalten</p>
</li>
<li>
<p>Artikel entspricht nicht der Beschreibung</p>
</li>
<li>
<p>Nicht autorisierte Transaktion</p>
</li>
<li>
<p>Abrechnungsproblem melden</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Eskalationsstufe Dispute erlaubt zur Klärung des Problems einen einfachen Nachrichtenaustausch mit Kund:innen. Sobald PayPal zur Klärung eingeschaltet wurde, wird der Fall auf die Eskalationsstufe Claim gehoben und einfache Nachrichten werden nicht mehr an PayPal übertragen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Neue Fälle laden</div>
<div class="paragraph">
<p>Sobald ein Fall im Dispute-Plugin geöffnet ist, wird kein neuer Fall geladen. Schließe deshalb das Tab des Dispute-Plugins immer nach dem du einen Fall bearbeitet hast und öffne erst dann den nächsten Fall.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erklärt die Möglichkeiten, die dir offenstehen, um auf gemeldete Probleme deiner Kund:innen zur reagieren.</p>
</div>
<table id="table-reactions-to-problems" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Reaktionsmöglichkeiten bei Problemen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Konfliktfall</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Reaktionsmöglichkeiten</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kund:in hat den Artikel nicht erhalten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird gemeldet, dass der Artikel nicht angekommen ist. Das Problem befindet sich zunächst im Eskalationslevel Dispute und du hast 3 Möglichkeiten darauf zu reagieren. Je nachdem wie du reagierst, ergeben sich weitere Schritte.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die 3 grundlegenden Reaktionsmöglichkeiten sind:<br>
* Nachricht an Kund:in schreiben<br>
* als Konflikt behandeln und die Forderung annehmen<br>
* als Konflikt behandeln und PayPal zur Klärung einschalten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kund:in meldet, dass der Artikel nicht wie beschrieben ist</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird gemeldet, dass der erhaltene Artikel nicht wie beschrieben ist. Das Problem befindet sich zunächst im Eskalationslevel Dispute und du hast 6 Möglichkeiten darauf zu reagieren. Je nachdem wie du reagierst, ergeben sich weitere Schritte.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die 6 grundlegenden Reaktionsmöglichkeiten sind:<br>
* Nachricht and Kund:in schreiben<br>
* als Konflikt behandeln und die Forderung annehmen<br>
* als Konflikt behandeln und ein Angebot über eine vollständige Rückzahlung mit Rücksendung des Artikels machen<br>
* als Konflikt behandeln und eine Teilrückzahlung anbieten<br>
* als Konflikt behandeln und ein Ersatzangebot unterbreiten<br>
* als Konflikt behandeln und PayPal zur Klärung einschalten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kund:in hat eine nicht autorisierte Transaktion gemeldet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird gemeldet, dass der Artikel nicht gekauft wurde und der Kontozugriff unbefugt war. Das Problem befindet sich von Anfang an im Eskalationslevel Claim, d.h. dein:e Kund:in hat Käuferschutz beantragt. Du hast 2 Möglichkeiten darauf zu reagieren. Je nachdem wie du reagierst, ergeben sich weitere Schritte.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die 2 grundlegenden Reaktionsmöglichkeiten sind:<br>
* auf Käuferschutz-Fall reagieren und die Forderung annehmen<br>
* auf Käuferschutz-Fall reagieren und Beweise vorlegen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kund:in hat ein Problem mit der Abrechnung gemeldet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird gemeldet, dass die Abrechnung nicht korrekt ist. In diesem Fall wurde entweder gemeldet, dass der abgerechnete Betrag falsch ist oder dass die Abrechnung Teil eines Abonnements war, das bereits storniert ist. In einem solchen Fall erhältst du lediglich eine Benachrichtigung. Du musst dich in dein PayPal-Konto einloggen, um den Fall zu bearbeiten.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">KEINE - Du musst dich in dein PayPal-Konto einloggen, um den Fall zu bearbeiten.</p></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="340">10.2.1. PayPal Problembenachrichtigungen einsehen</h4>
<div class="paragraph">
<p>Ob und wieviele Problembenachrichtigungen eingegangen sind, siehst du im Menü <strong>CRM » Messenger</strong>. Nachdem du eine Nachricht geöffnet hast, kannst du Käufer:innen entweder antworten oder eine Konfliktoption von PayPal nutzen. Wenn du im Assistenten die Notifications aktiviert hast, wirst du dadurch über neue Fälle, Updates zu Fällen und die Schließung von Fällen informiert.</p>
</div>
<div class="paragraph instruction">
<p>Nachrichten einsehen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Messenger</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Alle Nachrichten werden geöffnet.</p>
</li>
<li>
<p>Klicke auf die PayPal-Nachricht, auf die du reagieren möchtest.<br>
→ Der Nachrichtenverlauf wird geöffnet.</p>
</li>
<li>
<p>Antworte in einer Nachricht oder nutze eine der Konfliktoptionen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Sichtbarkeit ändern</div>
<div class="paragraph">
<p>Die Sichtbarkeit erlaubt einzuschränken, für wen der Nachrichtenverlauf lesbar ist. Alle Nachrichten sind zunächst für <strong>Alle</strong> sichtbar und können nachträglich eingeschränkt werden. Die Einstellung betrifft den gesamten Nachrichtenverlauf.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-editing-progress" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Kennzeichnung des Bearbeitungsfortschritts</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Blauer Kreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Nachricht ist ungelesen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grünes Häkchen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Fall wurde geschlossen oder kann nur direkt im PayPal-Konto bearbeitet werden.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="350">10.2.2. Nachricht an Kund:innen schreiben</h4>
<div class="paragraph">
<p>Wenn du Kund:innen zunächst eine einfache Nachricht zur Klärung des Problems schreiben möchtest kannst du dies nur im Eskalationslevel Dispute machen. Der Nachrichtenverlauf ist nur für dich und deine:n Kund:in. PayPal sieht die Problemen im Level Dispute nicht ein. Gehe folgendermaßen vor, um eine Nachricht Kund:innen zu senden.</p>
</div>
<div class="paragraph instruction">
<p>Nachricht Kund:innen schreiben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Messenger</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Alle Nachrichten werden geöffnet.</p>
</li>
<li>
<p>Klicke auf die PayPal-Nachricht, auf die du reagieren möchtest.<br>
→ Der Nachrichtenverlauf wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Antworten</strong>.<br>
→ Ein Texteingabefeld wird geöffnet.</p>
</li>
<li>
<p>Trage deinen Text ein.</p>
</li>
<li>
<p>Klicke auf <strong>Senden</strong>.<br>
→ Die Nachricht wird an PayPal übertragen und der Kund:in im eigenen PayPal-Konto angezeigt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Flüstern</div>
<div class="paragraph">
<p>Wenn eine Nachricht geflüstert wird, wird die Nachricht nicht an PayPal übertragen. Flüstern ist für interne Unterhaltungen. Flüstern betrifft nur die einzelne Nachricht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="360">10.2.3. Problem als Konflikt behandeln</h4>
<div class="paragraph">
<p>Wenn du ein Problem als Konflikt behandelst, öffnet sich das PayPal Dispute Plugin. Hier stehen dir je nach Fall, der gemeldet wurde, unterschiedliche Möglichkeiten zur Verfügung. Die Möglichkeiten entsprechen den Möglichkeiten, die du auch im PayPal-Backend hast.</p>
</div>
<div class="paragraph instruction">
<p>Problem als Konflikt behandeln:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Messenger</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Alle Nachrichten werden geöffnet.</p>
</li>
<li>
<p>Klicke auf die PayPal-Nachricht, auf die du reagieren möchtest.<br>
→ Der Nachrichtenverlauf wird geöffnet.</p>
</li>
<li>
<p>Klicke unter der Nachricht auf <strong>Konflikt: Auf Fall reagieren</strong>.<br>
→ Das Plugin PayPal Dispute wird geöffnet.</p>
</li>
<li>
<p>Wähle eine Option als Reaktion und beachte dabei die Erläuterungen in <a href="#table-responce-options-for-conflicts">Tabelle 6</a>.</p>
</li>
<li>
<p>Trage weitere Informationen ein.</p>
</li>
<li>
<p>Klicke auf <strong>Zu PayPal übermitteln</strong>.<br>
→ Die Nachricht wird an PayPal übertragen.</p>
</li>
</ol>
</div>
<table id="table-responce-options-for-conflicts" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Bearbeitungsmöglichkeiten bei Problem als Konflikt behandeln</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Möglichkeit</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Eskalationslevel</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Forderung annehmen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei dieser Option zahlst du dem Kunden die vollständige Summe oder, wenn der Kunde eine Teilsumme gefordert hat, eine Teilsumme zurück. Der Fall ist damit abgeschlossen.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Fall befindet sich im Eskalationslevel Dispute und wird sofort geschlossen, nachdem die Forderung angenommen wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Angebot über eine vollständige Rückzahlung mit Rücksendung des Artikels machen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du bittest den Kunden den Artikel zurückzusenden und bietest dafür eine vollständige Rückzahlung. Sobald der Käufer das Angebot annimmt und du den Erhalt der Rücksendung bestätigst, ist der Fall erledigt.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Fall befindet sich im Eskalationslevel Dispute, d.h. du kannst auch einfache Nachrichten mit dem Käufer schreiben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Teilrückzahlung anbieten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du bietest dem Käufer eine Teilrückzahlung und eventuell Ersatz oder möchtest den Artikel zurück. Sobald der Käufer das Angebot annimmt und eventuell den Erhalt des Ersatzes oder du den Erhalt der Rücksendung bestätigst, ist der Fall erledigt.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Fall befindet sich im Eskalationslevel Dispute, d.h. du kannst auch einfache Nachrichten mit dem Käufer schreiben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ersatzangebot anbieten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du bietest dem Käufer Ersatz. Sobald der Käufer das Angebot annimmt und den Erhalt des Ersatzes bestätigst, ist der Fall erledigt.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Fall befindet sich im Eskalationslevel Dispute, d.h. du kannst auch einfache Nachrichten mit dem Käufer schreiben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal zur Klärung einschalten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachdem der Fall zur Klärung an PayPal übertragen wurde, kannst du die <strong>Forderung annehmen</strong> oder <strong>Beweise vorlegen</strong>.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Fall wird auf das Eskalationslevel Claim gehoben, d.h. du kannst keine Nachrichten mit dem Käufer mehr schreiben und musst auf die Klärung durch PayPal warten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beweise vorlegen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn der Kunde sagt, dass er die Zahlung nicht autorisiert hat oder nachdem PayPal zur Klärung eingeschaltet wurde, ist diese Option verfügbar.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Fall befindet sich im Eskalationslevel Claim, d.h. du kannst keine Nachrichten mit dem Käufer mehr schreiben und musst auf die Klärung durch PayPal warten.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</main>