<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Voraussetzung: Eröffnung eines Geschäftskontos</span></a></li>
<li><a href="#20"><span>2.</span><span> Zahlungsart einrichten</span></a></li>
<li><a href="#30"><span>3.</span><span> Zahlungsart einmalig aktivieren</span></a></li>
<li><a href="#40"><span>4.</span><span> Kundenklassen und Versandprofile</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Sofortüberweisung von Klarna</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Sofort-Plugin bindest du die Klarna-Zahlungsart <strong>Sofort</strong> in deinen Webshop ein und stellst sie so deinen Kund:innen zur Auswahl. Lade dafür das Sofort-Plugin im <a href="https://marketplace.plentymarkets.com/sofort_5050" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter. Für die Einrichtung der Zahlungsart musst du einige grundlegende Einstellungen in deinem plentymarkets System ausführen, damit sie auch in deinem System aktiviert ist.<br>
Die Erklärungen auf dieser Seite finden nach dem Hinzufügen des Plugins Anwendung. Allgemeine Informationen zum Hinzufügen und Installieren von Plugins findest du im Abschnitt <a href="/plugins">Plugins</a> des Handbuchs.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Voraussetzung</div>
<div class="paragraph">
<p>Das Sofort-Plugin ist für die Nutzung mit plentyShop (Ceres) entwickelt und funktioniert nur mit dessen Logikstruktur oder anderen Template-Plugins.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Voraussetzung: Eröffnung eines Geschäftskontos</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Nutzung von Sofort benötigst du ein <a href="https://www.sofort.com/payment/users/register" target="_blank" rel="noopener">Geschäftskonto</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Durch die Eröffnung des Kontos erhältst du Informationen sowie Zugangsdaten. Liegen diese nicht vor, kannst du das Plugin nicht einrichten und somit nicht nutzen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Zahlungsart einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du die Funktionen des Sofort-Plugins nutzen kannst, musst du zuerst dein Sofort-Konto mit deinem plentymarkets System verbinden.</p>
</div>
<div class="paragraph instruction">
<p>Sofort-Konto anbinden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins » Plugins-Set-Übersicht » [Plugin-Set wählen]</strong></p>
</li>
<li>
<p>Öffne das Plugin <strong>Sofort</strong></p>
</li>
<li>
<p>Öffne im Plugin das Menü <strong>Konfiguration » Grundeinstellungen</strong>.<br>
→ Beachte die Erläuterungen in <a href="#table-plugin-settings">Tabelle 1</a>.</p>
</li>
<li>
<p>Gib den Konfigurationsschlüssel ein.<br>
→ Diesen Schlüssel erhältst du durch den Registrierungsprozess.</p>
</li>
<li>
<p>Nimm weitere Einstellungen nach Bedarf im Bereich <strong>Erweiterte Einstellungen</strong> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-plugin-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Container verknüpfen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Grundeinstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig ist hier <strong>Nein</strong> ausgewählt. Zum Aktivieren der Zahlungsart <strong>Ja</strong> auswählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Konfigurationsschlüssel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Konfigurationsschlüssel erhältst du nach der <a href="https://www.sofort.com/payment/users/register" target="_blank" rel="noopener">Registrierung</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.
Ohne korrekte Eingabe wird die Zahlungsart nicht aktiviert.<br>
Beispiel für den Aufbau des Konfigurationsschlüssels: {Kundennummer}:{Projekt-ID}:{API-Key}</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstatus in Status 4/5 setzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviere diese Option, wenn Aufträge mit der Zahlungsart <strong>Sofort</strong> nach eingegangener Zahlung im System direkt Status 4 oder 5 erhalten sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Erweiterte Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grund 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legt den Text fest, der als Verwendungszweck bei der Überweisung angegeben wird (max. 27 Zeichen, Sonderzeichen werden ersetzt/gelöscht). Folgende Platzhalter werden mit konkreten Werten ersetzt:<br>
transaction_id = Transaktions-ID der Überweisung<br>
customer_name = Name der Kund:in<br>
customer_email = E-Mail Adresse der Kund:in<br>
Standard: transaction_id</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grund 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legt den Text fest, der als Verwendungszweck bei der Überweisung angegeben wird (max. 27 Zeichen, Sonderzeichen werden ersetzt/gelöscht). Zusätzlich sind folgende Platzhalter möglich:<br>
customer_id = Kundennummer<br>
customer_company = Firmenname der Kund:in<br>
Standard: -</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="30">3. Zahlungsart einmalig aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktiviere die Zahlungsart einmalig in deinem System. Beachte, dass nur die Aktivierung der Zahlungsart notwendig ist. Alle weiteren Einstellungen, wie z.B. zu Mandanten oder Lieferländern, haben keine Auswirkungen.</p>
</div>
<div class="paragraph instruction">
<p>Aktivierung der Zahlungsart:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Wähle die zu aktivierende Zahlungsart aus.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Kundenklassen und Versandprofile</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Stelle sicher, dass die Zahlungsart in den <a href="/crm/kontakte-verwalten#15">Kundenklassen</a> erlaubt ist und auch in den <a href="/fulfillment/versand-vorbereiten#1800">Versandprofilen</a> nicht gesperrt ist. Überlege dir hierfür, für welche Kundenklassen und Versandprofile die Zahlungsart gelten soll. Dies ist individuell einstellbar.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart in Kundenklasse erlauben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Kundenklassen</strong>.</p>
</li>
<li>
<p>Öffne die Kundenklasse, in der die Zahlungsart erlaubt werden soll.</p>
</li>
<li>
<p>Wähle die Zahlungsart aus der Liste im Bereich <strong>Erlaubte Zahlungsarten</strong> durch Anklicken aus.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wiederhole dies ggf. für weitere Kundenklassen.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart in bestehenden Versandprofilen überprüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong>.</p>
</li>
<li>
<p>Wechsel in das Tab <strong>Versandprofile</strong>.</p>
</li>
<li>
<p>Öffne das Versandprofil, in dem die Zahlungsart erlaubt sein soll.</p>
</li>
<li>
<p>Überprüfe, ob die Zahlungsart im Bereich <strong>Gesperrte Zahlungsarten</strong> ausgewählt ist.</p>
</li>
<li>
<p>Entferne die Auswahl der Zahlungsart, wenn sie für dieses Versandprofil erlaubt sein soll.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wiederhole dies ggf. für weitere Versandprofile.</p>
</div>
</div>
</div>
</main>