<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Ausführung des Assistenten</span></a></li>
<li><a href="#20"><span>2.</span><span> Zahlungsart einmalig aktivieren</span></a></li>
<li><a href="#30"><span>3.</span><span> Kundenklassen und Versandprofile</span></a></li>
<li><a href="#40"><span>4.</span><span> Bankdaten mit Template-Container verknüpfen</span></a></li>
<li><a href="#50"><span>5.</span><span> Zahlung neu ausführen</span></a></li>
<li><a href="#60"><span>6.</span><span> Logo durch Template-Container verknüpfen</span></a></li>
<li><a href="#70"><span>7.</span><span> Sprachelemente anpassen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Vorkasse</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Vorkasse-Plugin bindest du die Zahlungsart <strong>Vorkasse</strong> in deinen Webshop ein und stellst sie so deinen Kund:innen zur Auswahl. Lade dafür das Vorkasse-Plugin im <a href="https://marketplace.plentymarkets.com/prepayment_4758" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter. Die Einrichtung der Zahlungsart erfolgt über einen Assistenten. Zudem musst du einige grundlegende Einstellungen in deinem plentymarkets System ausführen, damit die Zahlungsart auch in deinem System aktiviert ist.<br>
Die Erklärungen auf dieser Seite finden nach dem Hinzufügen des Plugins Anwendung. Allgemeine Informationen zum Hinzufügen und Installieren von Plugins findest du im Abschnitt <a href="/plugins">Plugins</a> des Handbuchs.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Ausführung des Assistenten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du das Plugin installiert hast, ist der dazugehörige Assistent im Menü <strong>Einrichtung » Assistenten » Plugins</strong> verfügbar. Gehe nun wie folgt vor, um den Assistenten zu durchlaufen und somit die Zahlungsart einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Plugins » [Plugin-Set wählen]</strong>.</p>
</li>
<li>
<p>Wähle den Assistenten <strong>Vorkasse</strong>.</p>
</li>
<li>
<p>Schließe den Assistenten vollständig ab.<br>
→ Vorkasse ist in deinem Webshop verfügbar.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Zahlungsart einmalig aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktiviere die Zahlungsart einmalig in deinem System. Beachte, dass nur die Aktivierung der Zahlungsart notwendig ist. Alle weiteren Einstellungen, wie z.B. zu Mandanten oder Lieferländern, haben keine Auswirkungen.</p>
</div>
<div class="paragraph instruction">
<p>Aktivierung der Zahlungsart:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Wähle die zu aktivierende Zahlungsart aus.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Aktiv</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Kundenklassen und Versandprofile</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Stelle sicher, dass die Zahlungsart in den <a href="/crm/kontakte-verwalten#15">Kundenklassen</a> erlaubt ist und auch in den <a href="/fulfillment/versand-vorbereiten#1800">Versandprofilen</a> nicht gesperrt ist. Überlege dir hierfür, für welche Kundenklassen und Versandprofile die Zahlungsart gelten soll. Dies ist individuell einstellbar.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart in Kundenklasse erlauben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Kundenklassen</strong>.</p>
</li>
<li>
<p>Öffne die Kundenklasse, in dem die Zahlungsart erlaubt werden soll.</p>
</li>
<li>
<p>Wähle die Zahlungsart aus der Liste im Bereich <strong>Erlaubte Zahlungsarten</strong> durch Anklicken aus.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wiederhole dies ggf. für weitere Kundenklassen.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart in bestehenden Versandprofilen überprüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong>.</p>
</li>
<li>
<p>Wechsel in das Tab <strong>Versandprofile</strong>.</p>
</li>
<li>
<p>Öffne das Versandprofil, in dem die Zahlungsart erlaubt sein soll.</p>
</li>
<li>
<p>Überprüfe, ob die Zahlungsart im Bereich <strong>Gesperrte Zahlungsarten</strong> ausgewählt ist.</p>
</li>
<li>
<p>Entferne die Auswahl der Zahlungsart, wenn sie für dieses Versandprofil erlaubt sein soll.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wiederhole dies ggf. für weitere Versandprofile.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Bankdaten mit Template-Container verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um deine Bankdaten bei Auswahl der Zahlungsart Vorkasse im Webshop auf der Bestellbestätigungsseite anzeigen zu lassen, musst du den entsprechenden Template-Container verknüpfen. Gehe dafür wir im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Bankdaten verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Öffne das Plugin <strong>Vorkasse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Container-Verknüpfungen</strong>.</p>
</li>
<li>
<p>Wähle den Bereich <strong>Container-Links</strong> aus.</p>
</li>
<li>
<p>Wähle aus der <strong>Data-Provider</strong> Dropdown-Liste <strong>Cash in advance bank details</strong> aus.</p>
</li>
<li>
<p>Aktiviere den Container <strong>Order confirmation: Additional payment information</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Bankdaten werden auf der Bestellbestätigungsseite angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Zahlung neu ausführen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du deinen Kund:innen ermöglichen möchtest die Zahlung erneut auszuführen, verknüpfe die folgenden Template-Container.</p>
</div>
<div class="paragraph instruction">
<p>Zahlungsart neu ausführen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Öffne das Plugin <strong>Vorkasse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Container-Verknüpfungen</strong>.</p>
</li>
<li>
<p>Wähle den Bereich <strong>Container-Links</strong> aus.</p>
</li>
<li>
<p>Wähle aus der <strong>Data-Provider</strong> Dropdown-Liste <strong>Cash in advance Reinitialise Payment</strong> aus.</p>
</li>
<li>
<p>Aktiviere den Container <strong>My account: Additional payment information</strong>.<br>
→ Kund:innen können in der Auftragshistorie im Mein-Konto-Bereich die Zahlung neu ausführen.</p>
</li>
<li>
<p>Aktiviere den Container <strong>Order confirmation: Additional payment information</strong>.<br>
→ Kund:innen können auf der Bestellbestätigungsseite die Zahlung neu ausführen.</p>
</li>
<li>
<p>Wähle den Data-Provider <strong>Cash in advance Reinitialise Payment Script</strong>.</p>
</li>
<li>
<p>Aktiviere den Container <strong>Script loader: After scripts loaded</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Logo durch Template-Container verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn gewünscht kannst du das Logo der Zahlungsart auf der Startseite deines plentyShops verknüpfen. Gehe dafür wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Logo verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Öffne das Plugin <strong>Vorkasse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Container-Verknüpfungen</strong>.</p>
</li>
<li>
<p>Wähle den Bereich <strong>Container-Links</strong> aus.</p>
</li>
<li>
<p>Wähle aus der <strong>Data-Provider</strong> Dropdown-Liste <strong>Cash in advance icon</strong> aus.</p>
</li>
<li>
<p>Aktiviere den Container <strong>Homepage: Payment method container</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Logo der Zahlungsart wird auf der Startseite deines plentyShops angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. Sprachelemente anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst Benennungen, die das Vorkasse-Plugin mitbringt, im Menü <strong>CMS » Mehrsprachigkeit</strong> nach deinen Bedürfnissen in allen verfügbaren Systemsprachen anpassen. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Sprachdateien anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Mehrsprachigkeit.</strong></p>
</li>
<li>
<p>Wähle auf der linken Seite die <strong>Ausgangssprache</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle auf der rechten Seite die <strong>Zielsprache</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klappe im Bereich <strong>PrePayment</strong> die Sektionen <strong>Bankdaten</strong>, <strong>Reinitialisierung</strong>, <strong>Verwendungszweck</strong> und <strong>Zahlungsart</strong> aus.</p>
</li>
<li>
<p>Gib im Bereich der Zielsprache die gewünschten Texte für die einzelnen Sprachelemente ein.</p>
</li>
<li>
<p>Speichere (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Informationen zum Bearbeiten von im Webshop angezeigten Texten findest du auf der Handbuchseite <a href="/webshop/ceres-einrichten#231">Ceres-Webshop einrichten</a>.</p>
</div>
</div>
</div>
</main>