<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Directly accessing back end areas with URLs</span></a></li>
<li><a href="#_accessing_a_back_end_area_with_a_url"><span>2.</span><span> Accessing a back end area with a URL</span></a></li>
<li><a href="#20"><span>3.</span><span> Safe mode</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Back end URLs</h1><div class="sect1">
<h2 id="10">1. Directly accessing back end areas with URLs</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can access specific areas of the back end directly by using UI actions. This saves you time and clicks. This section lists the variables and parameters that lead to the respective back end areas.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Note</div>
<div class="paragraph">
<p>You must be logged in to open a back end area with a URL. Also pay attention to lower-case and upper-case letters in paramenter keys.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_accessing_a_back_end_area_with_a_url">2. Accessing a back end area with a URL</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>The path starts with <a href="https://plentymarkets-cloud-de.com" class="bare">https://plentymarkets-cloud-de.com</a>.</p>
</li>
<li>
<p>Add <strong>/</strong> and your plenty ID.</p>
</li>
<li>
<p>Continue with the query string. It begins with a <strong>?</strong>.</p>
</li>
<li>
<p>Add <strong>uiAction=</strong>.</p>
</li>
<li>
<p>Add the key for the UI actions and the parameter with the corresponding ID. Note the information provided in <a href="#table-keys-ui-actions-parameters">Table 1</a>.</p>
</li>
<li>
<p>Once you have entered all relevant information, open the URL to access the desired back end area.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example</div>
<div class="paragraph">
<p>To open the variation detail view, the path has to consist of the following parameters:<br>
plentymarkets-cloud-de.com/1234?uiAction=ITEM_VARIATION_DETAIL&amp;itemId=102&amp;variationId=1111</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-keys-ui-actions-parameters" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Keys for UI actions and parameters</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Keys</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ITEM_DETAIL</strong><br>
 <strong>itemId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the item detail view for the specified item ID (itemId is a required parameter).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ITEM_VARIATION_DETAIL</strong><br>
 <strong>itemId</strong><br>
 <strong>variationId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the variation detail view for the specified item ID and variation ID (itemId and variationId are required parameters).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ORDER_DETAIL</strong><br>
 <strong>orderId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the order detail view for the specified order ID (orderId is a required parameter).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>REORDER_DETAIL</strong><br>
 <strong>reorderId</strong><br>
 <strong>itemId</strong><br>
 <strong>reorderItemId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the reorder detail view for the specified reorder ID, the item ID or the item ID of a reorder (only one of the three parameters can be specified here).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TICKET_DETAIL_VIEW</strong><br>
 <strong>ticketId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the ticket detail view for the specified ticket ID (ticketId is a required parameter).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CUSTOMER_DETAIL</strong><br>
 <strong>customerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the customer detail view for the specified customer ID (customerId is a required parameter).</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">3. Safe mode</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Using safe mode, you can access the back end with all plugins deactivated. This may be necessary if you receive an error when logging in after installing or updating a plugin. In safe mode, you can change the status of the plugin to <strong>inactive</strong>.</p>
</div>
<div class="paragraph">
<p>If you want to log in using safe mode, use <a href="https://plentymarkets-cloud-de.com/?safemode=1" class="bare">https://plentymarkets-cloud-de.com/?safemode=1</a>.</p>
</div>
</div>
</div>
</main>