<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Creating a board</span></a></li>
<li><a href="#20"><span>2.</span><span> Adding a column</span></a></li>
<li><a href="#30"><span>3.</span><span> Adding a card</span></a></li>
<li><a href="#40"><span>4.</span><span> Editing a card</span></a></li>
<li><a href="#50"><span>5.</span><span> Editing a board</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Managing boards</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>When using boards you can visualise the workflow of a project or a working process within your company. Common boards consist of three columns: <em>To do</em>, <em>Doing</em> and <em>Done</em>. You decide about the structure of the board and how many columns you add.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Creating a board</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to create a board.</p>
</div>
<div class="paragraph instruction">
<p>Creating a board:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Boards</strong>.<br>
→ <strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.</p>
</li>
<li>
<p>→ The <strong>Boards</strong> tab opens in a new tab.</p>
</li>
<li>
<p>Click on <strong>Create new board</strong>.<br>
→ The window <strong>Create new board</strong> opens.</p>
</li>
<li>
<p>Enter the name of the board.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The board is created and added to the list.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Adding a column</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to add columns to the board. You can add as many columns as you like.</p>
</div>
<div class="paragraph instruction">
<p>Adding a column:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Boards</strong>.<br>
→ <strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.</p>
</li>
<li>
<p>→ The <strong>Boards</strong> tab opens in a new tab.</p>
</li>
<li>
<p>Click on the board that you want to edit.</p>
</li>
<li>
<p>Click on <strong>Add new column</strong>.<br>
→ The column is added to the left side.</p>
</li>
<li>
<p>Enter the name of the column.</p>
</li>
<li>
<p>Add further columns in the same way until you have the desired number of columns for the board.<br>
→ <strong><em>Tip:</em></strong> You can change the position of the columns.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Adding a card</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to add cards to the board. You can add as many cards as you like.</p>
</div>
<div class="paragraph instruction">
<p>Adding a card:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Boards</strong>.<br>
→ <strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.</p>
</li>
<li>
<p>→ The <strong>Boards</strong> tab opens in a new tab.</p>
</li>
<li>
<p>Click on the board that you want to edit.</p>
</li>
<li>
<p>Click on <strong>Add new card</strong> in the column that you want to add a card to.</p>
</li>
<li>
<p>Enter the name of the card.</p>
</li>
<li>
<p>Click on <strong>Save new card</strong>.</p>
</li>
<li>
<p>Add further cards in the same way until you have the desired number of cards for the board.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Editing a card</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can edit the cards on the board at any time. Link the cards to a contact, an order and a ticket, for example, or add an owner and tags. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Adding a card:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Boards</strong>.<br>
→ <strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.</p>
</li>
<li>
<p>→ The <strong>Boards</strong> tab opens in a new tab.</p>
</li>
<li>
<p>Click on the board that you want to edit.</p>
</li>
<li>
<p>Click on the card’s arrow in the right to edit the card.<br>
→ The settings menu opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-boards-edit-card">Table 1</a>.</p>
</li>
</ol>
</div>
<table id="table-boards-edit-card" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings in the <strong>Start » Boards</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Settingg</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Edit card</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the text for the card. If required, you can format the text.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete card</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delete the card by clicking on <strong>Delete card</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link contact</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the contact ID to link the card to the contact.<br>
<strong><em>Note:</em></strong> When the card is linked to the contact, a symbol is displayed on the card. Via this symbol, open the contact directly in the <strong>CRM » Contacts</strong> menu or delete the link to the contact.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link ticket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ticket ID to link the card to the ticket.<br>
<strong><em>Note:</em></strong> When the card is linked to the ticket, a symbol is displayed on the card. Via this symbol, open the ticket directly in the <strong>CRM » Ticket system</strong> menu or delete the link to the ticket.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the order ID to link the card to the order.<br>
<strong><em>Note:</em></strong> When the card is linked to the order, a symbol is displayed on the card. Via this symbol, open the order directly in the <strong>Orders » Edit orders</strong> menu or delete the link to the order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add user</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the owner from the list in order to add this owner to the card.<br>
When the owner is added to the card, a symbol with the owner’s initials or the first letter of the name is displayed on the card.<br>
<strong><em>Tip:</em></strong> In order to remove the owner from the card, move the cursor over the symbol and click on <strong>Delete reference</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add tag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the tag from the list in order to add this tag to the card.<br>
<strong><em>Important:</em></strong> This list only shows tags that have been created beforehand in the <strong>System » Settings » Tags</strong> menu. For further information, refer to the <a href="/en/basics/working-with-plentymarkets">Tags</a> page of the manual.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">5. Editing a board</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When opening the menu <strong>Start » Boards</strong>, you see the number of cards and columns, the name of the board as well as the time period of the last change on every card that you created. Click on <strong>Rename board</strong> to enter a new name for the board. Click on <strong>Delete board</strong> to delete the board.</p>
</div>
<div class="paragraph">
<p>In order to edit boards, click on the name of the board. You can add new columns and cards and edit the cards. Pay attention to the information given in <a href="#table-boards-edit-card">Table 1</a>.</p>
</div>
</div>
</div>
</main>