<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Setting the complimentary close</span></a></li>
<li><a href="#20"><span>2.</span><span> Setting the signature</span></a></li>
<li><a href="#30"><span>3.</span><span> Changing personal settings in the My account area</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>3.1.</span><span> Changing general settings</span></a></li>
<li><a href="#50"><span>3.2.</span><span> Setting up shortcuts</span></a></li>
<li><a href="#60"><span>3.3.</span><span> Managing favourites</span></a></li>
</ul>
</li>
<li><a href="#70"><span>4.</span><span> Personalising the dashboard</span></a>
<ul class="sectlevel2">
<li><a href="#_adding_an_element_to_the_dashboard"><span>4.1.</span><span> Adding an element to the dashboard</span></a></li>
<li><a href="#_adding_an_element_to_the_dashboard_2"><span>4.2.</span><span> Adding an element to the dashboard</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Customising the user account</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this page, you will find all the information about the settings in plentymarkets that you only have to set up once in order to customise your user account. Of course you can change these settings at any time.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Setting the complimentary close</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to the <strong>System » Settings » User » Accounts</strong> menu and enter a text in the <strong>My account</strong> area. This text is automatically added as a complimentary close at the end of your messages and comments in the ticket system. Generally, this text consists only of a closing and your name. When sending emails from the ticket system, the complimentary close and the signature will automatically be added to the end of the email. You will find a description of how to set up your signature in the next chapter.</p>
</div>
<div class="paragraph instruction">
<p>Setting the complimentary close:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>My account</strong>.</p>
</li>
<li>
<p>Open the <strong>Complimentary close</strong> tab.</p>
</li>
<li>
<p>Enter your complimentary close.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Setting the signature</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to the <strong>System » Settings » User » Accounts</strong> menu and enter a text in the <strong>My account</strong> area. This text is automatically added as a signature at the end of your messages and comments in the ticket system. Generally, this text consists of your contact details as well as information about where your company is registered and its registration number. Depending on your company’s legal form, the name of the company, the chief executive officer and, if applicable, the European VAT number are all mandatory entries. When sending emails from the ticket system, the complimentary close and the signature will automatically be added to the end of the email.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Template variable for the signature</div>
<div class="paragraph">
<p>The template variables <strong>$Signature</strong> and <strong>$SignatureHTML</strong> contain the complimentary close.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting the signature:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>My account</strong>.</p>
</li>
<li>
<p>Open the <strong>Signature</strong> tab.</p>
</li>
<li>
<p>Enter your Signature.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Mandatory entries in emails</div>
<div class="paragraph">
<p>Since the beginning of 2007, mandatory entries for email signatures in Germany correspond to those for company business letters. Non-compliance can result in a fine or in a costly warning being issued by a competitor.<br>
Read up on the legal regulations for signatures in your own country or contact a legal adviser for such information.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Changing personal settings in the My account area</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to the <strong>System » Settings » User » Accounts</strong> menu and open the <strong>My account » Personal settings</strong> area to change the settings of the user currently logged into the system. Therefore, you can only see this tab in your own user account. The tab is divided into 3 tabs with settings that only apply to you personally. These tabs are <strong>General</strong>, <strong>Shortcuts</strong> and <strong>Favourites</strong>.</p>
</div>
<div class="sect2">
<h3 id="40">3.1. Changing general settings</h3>
<div class="paragraph">
<p>In the <strong>General</strong> tab you determine whether you want to receive a warning if tabs are open and you try to close the window. You can also reset all user-specific settings.</p>
</div>
<div class="paragraph instruction">
<p>Changing general settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>My account</strong>.<br>
→ Your account settings open.</p>
</li>
<li>
<p>Click on the <strong>Personal settings</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>General</strong> tab.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information provided in <a href="#table-general">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-general" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Options in the tab <strong>Personal settings » General</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Button</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset messages</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Users can deactivate certain messages, e.g. the message that is displayed when plentymarkets needs to be reloaded in order for updates to go into effect. This setting is saved for each individual user. Click on this button again to reset all of the relevant settings for the user. For example, all of the messages that were deactivated will be displayed again.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset all</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets all of the user-specific settings, e.g. the messages described above, the content and column widths in tables, any favourites, etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warn if tabs are open and the window is to be closed</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activated = A warning will be displayed if you try to close a window while tabs are still open.<br>
Deactivate = The window will be closed without warning.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="50">3.2. Setting up shortcuts</h3>
<div class="paragraph">
<p>Default shortcuts are saved in this tab. Shortcuts are used for many functions that are carried out on a regular basis. You can use shortcuts to open important menus in plentymarkets or to switch between tabs and tab levels. For example, the shortcut <strong>Alt + I</strong> opens the item overview. <strong>Alt + W</strong> is used to close the tab again.</p>
</div>
<div class="paragraph">
<p>Learn more about shortcuts in the following video tutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/122105765" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Some shortcut combinations are not possible</div>
<div class="paragraph">
<p>Do not use any shortcut that is specific to an operating system. Shortcuts differ from one operating system to the next. For example: the <strong>F</strong> keys.<br>
The combination <strong>cmd / Ctrl + W</strong> is reserved for the browser and is therefore not possible.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up shortcuts:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>My account</strong>.<br>
→ Your account settings open.</p>
</li>
<li>
<p>Click on the <strong>Personal settings</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>Shortcuts</strong> tab.<br>
<strong><em>Tip:</em></strong> The <strong>Shortcuts</strong> tab is only visible in your own user account. You are the only person who can edit your shortcuts.</p>
</li>
<li>
<p>Set the shortcuts. Pay attention to the information given in <a href="#table-shortcuts">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-shortcuts" class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. shortcuts</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Shortcut</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Global shortcuts</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + W</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Closes the current tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + DOWN (arrow down)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Moves down one tab level.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + UP (arrow up)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Moves up one tab level.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + RIGHT (arrow right)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Moves one tab to the right.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + LEFT (arrow left)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Moves one tab to the left.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + R</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reloads the current tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + ESC</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Logs out the user and locks the backend.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Open areas</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + I</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the <strong>Item » Edit item</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + O</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the <strong>Orders » Edit orders</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + Y</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the <strong>Item » Categories</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + C</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the <strong>CRM » Edit customers</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + T</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the <strong>CRM » Ticket system</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + N</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the <strong>CRM » Edit customers</strong> menu and opens the <strong>New customer</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + M</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the <strong>Customer data</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + S</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the <strong>online store</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + E</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the online store with the inline editing function.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + P</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only available in plentymarkets Client. Opens the <strong>Processes</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Edit order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + N</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the customer notes in an order; available in all tabs of the order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + A</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the order notes in an order; available in all tabs of the order.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Restoring the default shortcuts</div>
<div class="paragraph">
<p>Click on <strong>Reset shortcuts</strong> to reset the shortcuts to their default settings.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="60">3.3. Managing favourites</h3>
<div class="paragraph">
<p>All menu paths saved as favourites in your user account settings are displayed in the <strong>Favourites</strong> tab. Favourites can also be deleted in this menu. Use the <strong>Up</strong> and <strong>Down</strong> arrows for sorting your favourites. This tab is only visible in your own user account. For further information about adding and deleting favourites, refer to the <a href="/en/basics/working-with-plentymarkets/general-functions#80">Setting up general functions</a> page of the manual.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="70">4. Personalising the dashboard</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The dashboard is shown when you log into the plentymarkets back end. By default, current plentymarkets news and status messages are displayed on the dashboard. By adding optional elements, you can monitor other information from your dashboard.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Read the dashboard area <strong>plentymarkets News</strong> regularly</div>
<div class="paragraph">
<p>Important status information and news are published in the <strong>plentymarkets News</strong> area of the dashboard. As such, you cannot close the <strong>Dashboard</strong> tab. Read the information published in this area regularly to stay up to date on new features and issues.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_adding_an_element_to_the_dashboard">4.1. Adding an element to the dashboard</h3>
<div class="paragraph">
<p>By default, only the plentymarkets news are displayed on the dashboard. Proceed as described below to show additional elements on the dashboard.</p>
</div>
<div class="paragraph instruction">
<p>Adding an element to the dashboard:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Dashboard</strong> tab.</p>
</li>
<li>
<p>Select an element from the drop-down list at the bottom left. Pay attention to the information given in <a href="#table-elements">Table 3</a>.</p>
</li>
<li>
<p>Click on <strong>New element</strong>.<br>
→ The element is added to the dashboard.<br></p>
</li>
<li>
<p>Click on the element’s header and drag it to the desired position.</p>
</li>
</ol>
</div>
<table id="table-elements" class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Available elements</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item(s) below reorder level</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows which items need to be reordered. The items are listed according to their warehouse.<br>
<strong><em>Tip:</em></strong> You have to click on the document template link in order to open the <strong>Reorder</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the number of new orders on the current date and the number of orders shipped today. It is linked to the <strong>order menu</strong> and displays the orders in the <strong>order overview</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the number of new listings on the current date and the day before. Additionally, you can see how many listings ended successfully and how many ended unsuccessfully yesterday and today.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>My tasks</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows your <a href="/en/basics/working-with-plentymarkets/tasks-and-calendars#100">tasks</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales statistics</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the sales figures by week.<br>
<strong><em>Note:</em></strong> Credit notes will be recorded as negative sales figures on the day that they were created.<br>
<strong><em>Note:</em></strong> The sales statistics offers a broad snapshot of your current sales. The <strong>Start » Statistics</strong> menu allows you to perform more detailed and accurate statistical analyses.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payments</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows an overview of the number of unassigned payments and the number of payments received on the current day and the previous day.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_adding_an_element_to_the_dashboard_2">4.2. Adding an element to the dashboard</h3>
<div class="paragraph">
<p>By default, only the plentymarkets news are displayed on the dashboard. Proceed as described below to show additional elements on the dashboard.</p>
</div>
<div class="paragraph instruction">
<p>Removing an element from the dashboard:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Dashboard</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Close</strong> for the element you want to remove.<br>
→ The element is removed from the dashboard.<br>
<strong><em>Note:</em></strong> The <strong>plentymarkets News</strong> area cannot be removed from the dashboard.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>