<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Setting the visibility of the menu for variable users</span></a></li>
<li><a href="#200"><span>2.</span><span> Entering deletion values</span></a></li>
<li><a href="#300"><span>3.</span><span> Automatically deleting tickets</span></a></li>
<li><a href="#400"><span>4.</span><span> Viewing the log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Carrying out data cleansing</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page of the manual describes how to delete certain data records after a certain time period has expired. You determine this time period in the <strong>System » Settings » Data » Cleansing</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Setting the visibility of the menu for variable users</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order that the <strong>System » Settings » Data » Cleansing</strong> menu is visible for users with the user class <strong>Variable</strong>, the menu must be activated in the user account.</p>
</div>
<div class="paragraph">
<p>In addition, rights in the <strong>REST API</strong> menu must be activated.</p>
</div>
<div class="paragraph instruction">
<p>Setting the visibility of the menu for variable users:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open the user with the user class <strong>Variable</strong> for whom you would like to activate the visibility of the menu.</p>
</li>
<li>
<p>Open the <strong>Right</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>Menu</strong> tab.</p>
</li>
<li>
<p>Expand the section <strong>Settings » Basic settings » Data</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Cleansing</strong>.</p>
</li>
<li>
<p>Open the <strong>REST API</strong> tab.</p>
</li>
<li>
<p>Expand the section <strong>Data cleansing</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Show configuration</strong> and <strong>Save configuration</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Entering deletion values</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order that data records are deleted in your plentymarkets system after a certain time period has expired, you must enter values for this time period. To do so, proceed as follows.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Further functions will be added to this menu step by step</div>
<div class="paragraph">
<p>Currently, you can automatically delete unassigned addresses, unused contacts, orders, the change history as well as IP addresses in the order. Step by step, further areas will be added to this menu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Entering deletion values:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » Data » Cleansing</strong>.</p>
</li>
<li>
<p>Enter a value in the input field. Pay attention to the information given in <a href="#table-settings-data-cleansing">Table 1</a>.</p>
</li>
<li>
<p>Activate the toggle button.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-settings-data-cleansing" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Settings in the System » Settings » Data » Cleanup</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deletion of unused addresses (after days)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number in days. After this time period has expired, unused addresses are automatically deleted from your plentymarkets system. An unused address is an address without any relations to a contact, an order, a POS and a warehouse.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deletion of unused contacts (after days)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number in days. After this time period has expired, unused contacts are automatically deleted from your plentymarkets system. An unused contact is a contact without incoming items, orders and tickets.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deletion of orders (after days)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number in days. After this time period has expired, orders are automatically deleted from your plentymarkets system. Orders and documents generated to the order are also deleted. Minimum value: 60 days.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deletion of Change History (after days)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number in days. After this time period has expired, the <a href="/en/basics/gdpr#_change_history_for_contact_data">change history</a> entries are automatically deleted from your plentymarkets system. The Change History logs changes made in the plentymarkets system. Maximum value: 365 days.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deletion of IP addresses in the order (after days)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number in days. After this time period has expired, the IP address in an order is automatically deleted from your plentymarkets system.<br></p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Toggle button</div>
<div class="paragraph">
<p>Data is only deleted if the toggle button was activated and the settings saved.<br>
If you do not want to delete the data automatically after the value entered for days, deactivate the toggle button and save this setting again.<br>
<strong>Exception</strong>: The deletion of the change history is still executed even with deactivated toggle button. The maximum value of 365 days is used.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Number of data records to be deleted</div>
<div class="paragraph">
<p>Currently, up to 5,000 data records can be deleted per day. plentymarkets will monitor this behaviour and adjust this to a higher value, if necessary.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Automatically deleting tickets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Delete tickets automatically from your ticket system. This setting is not carried out in the <strong>System » Settings » Data » Cleansing</strong> menu, but via the procedure manager in the ticket system in the <strong>System » CRM » Ticket system » Procedures</strong> menu.</p>
</div>
<div class="paragraph">
<p>Further information about the ticket system as well as an example scenario can be found on the <a href="/en/crm/using-the-ticket-system#3000">Using the ticket system</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Viewing the log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>All changes that have been made in the <strong>System » Settings » Data » Cleansing</strong> menu are logged in the <strong>Data » Log</strong> menu for a period of 4 weeks: The date and time, the user as well as the old and new values are logged.</p>
</div>
<div class="paragraph">
<p>For further information about the log, refer to the <a href="/en/basics/working-with-plentymarkets/datalog">Data log</a> page of the manual.</p>
</div>
</div>
</div>
</main>