<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel2">
<li><a href="#10"><span>1.</span><span> Configuring logs</span></a></li>
<li><a href="#20"><span>2.</span><span> Searching for log entries</span></a></li>
<li><a href="#30"><span>3.</span><span> Filtering by integration</span></a></li>
<li><a href="#40"><span>4.</span><span> Filtering by identifier</span></a></li>
<li><a href="#50"><span>5.</span><span> Filtering by level</span></a></li>
<li><a href="#60"><span>6.</span><span> Filtering by reference type</span></a></li>
<li><a href="#70"><span>7.</span><span> Filtering by reference value</span></a></li>
<li><a href="#80"><span>8.</span><span> Filtering by date</span></a></li>
<li><a href="#90"><span>9.</span><span> Filtering by time</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Menu data log</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The menu <strong>Data » Log</strong> contains all log entries. These are available for 4 weeks before they are deleted. Logs can be activated individually and in addition, for every log entry you can set the duration for which you want the log entry to stay active.</p>
</div>
<table id="table-information-table-header" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Information in the table header</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Title</th>
<th class="tableblock halign-left valign-top">Info</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Timestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Timestamp of the corresponding log entry</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Level</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Display of the log level such as Info, Error etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Integration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Area in which the log entry is located in the code</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Identifier</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sub-area to which the log belongs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reference</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reference type with the corresponding ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Message</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation of the log. If an error occurred, explanation of the error.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>By clicking on a line, the detail view opens and further info regarding the log is displayed. This window enables you to switch from one entry to the next and you can fold in or fold out the view.</p>
</div>
</div>
</div><div class="sect2">
<h3 id="10">1. Configuring logs</h3>
<div class="paragraph">
<p>In order to see notifications of the corresponding log areas, you have to activate them first. To do so, go to <strong>Configure logs » Settings</strong>. They are saved on the server for a maximum of 4 weeks. The drop-down menu lists the different levels with increasing priority. You can also set the duration for which you want the log entry to stay active.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Activation necessary</div>
While the log levels Error, Critical, Alert and Emergency are automatically displayed, Debug, Info, Notice and Warning have to be activated first.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Configuring logs:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>In the toolbar, click on <strong>Configure logs</strong>.<br>
→ The window <strong>Log configuration</strong> opens. On the left you can see the plugins that are already installed as well as the standard areas. On the right you can carry out the settings.</p>
</li>
<li>
<p>Select the area in which you want to configure logs.</p>
</li>
<li>
<p>On the right, check the box <strong>Active</strong>.</p>
</li>
<li>
<p>Select the duration for which you want the log level to stay active in this area.</p>
</li>
<li>
<p>Select the log level. Pay attention to the information given in <a href="#table-meaning-of-log-levels">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-meaning-of-log-levels" class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Meaning of the different log levels</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 66.6666%;">
<col style="width: 16.6668%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Log level</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-left valign-top">Activated by default</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Debug</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Detailed status messages</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">No</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">General information about the system</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">No</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Notice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">An error message that should be dealt with, but isn’t urgent.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">No</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warning</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Something isn’t working as intended. However, it doesn’t necessarily have to be an error.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">No</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Error</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standard system error; when errors occur, the system usually keeps running.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Yes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Critical</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">These errors can cause a system crash (runtime errors).</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Yes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">It is necessary to take action immediately (the online store or the database may not be available).</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Yes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Emergency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Absolute emergency. The system is unusable.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Yes</p></td>
</tr>
</tbody>
</table>
</div><div class="sect2">
<h3 id="20">2. Searching for log entries</h3>
<div class="paragraph">
<p>On the left you can set different filters that allow you to reduce a large number of log entries to specific matches.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Reduction of entries</div>
The entries in the drop-down menus are reduced to the keywords that actually exist in the search results.
</td>
</tr>
</tbody></table>
</div>
</div><div class="sect2">
<h3 id="30">3. Filtering by integration</h3>
<div class="paragraph">
<p>Here you can see the area from which the log call was made.</p>
</div>
<div class="paragraph instruction">
<p>Filtering by the variable <strong>Integration</strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>Click on <strong>Integration</strong>.<br>
→ A list with different options opens.</p>
</li>
<li>
<p>Select an area.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The corresponding log entries are shown.</p>
</li>
</ol>
</div>
</div><div class="sect2">
<h3 id="40">4. Filtering by identifier</h3>
<div class="paragraph">
<p>The identifier indicates to which sub-area the log belongs.</p>
</div>
<div class="paragraph instruction">
<p>Filtering by the variable <strong>Identifier</strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>Click on <strong>Identifier</strong>.<br>
→ A list with different options opens.</p>
</li>
<li>
<p>Select an identifier.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The corresponding log entries are shown.</p>
</li>
</ol>
</div>
</div><div class="sect2">
<h3 id="50">5. Filtering by level</h3>
<div class="paragraph">
<p>Here you can see the different log levels such as Error, Info etc.</p>
</div>
<div class="paragraph instruction">
<p>Filtering by the variable <strong>Level</strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>Click on <strong>Level</strong>.<br>
→ A list with different options opens.</p>
</li>
<li>
<p>Select a level.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The corresponding log entries are shown.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> Activate all levels for this option.</p>
</div>
</div><div class="sect2">
<h3 id="60">6. Filtering by reference type</h3>
<div class="paragraph">
<p>Here you can see the reference type to which the entry belongs (e.g. VariationID, OrderID etc.).</p>
</div>
<div class="paragraph instruction">
<p>Filtering by the variable <strong>Reference type</strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>Click on <strong>Reference type</strong>.<br>
→ A list with different options opens.</p>
</li>
<li>
<p>Select a reference type.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The corresponding log entries are shown.</p>
</li>
</ol>
</div>
</div><div class="sect2">
<h3 id="70">7. Filtering by reference value</h3>
<div class="paragraph">
<p>Here you can see the value of the reference. As an example, for the reference type ItemID, this would be the value of this ID. The search results are reduced to matches with this value.</p>
</div>
<div class="paragraph instruction">
<p>Filtering by the variable <strong>Reference value</strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>Click on <strong>Reference value</strong>.</p>
</li>
<li>
<p>Enter a reference value.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The corresponding log entries are shown.</p>
</li>
</ol>
</div>
</div><div class="sect2">
<h3 id="80">8. Filtering by date</h3>
<div class="paragraph">
<p>Here you can individually adjust the search results and reduce them to a specific time frame.</p>
</div>
<div class="paragraph instruction">
<p>Filtering by the variable <strong>Date</strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>Select a starting date.</p>
</li>
<li>
<p>Select an ending date.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The log entries created in the defined time frame are shown.</p>
</li>
</ol>
</div>
</div><div class="sect2">
<h3 id="90">9. Filtering by time</h3>
<div class="paragraph">
<p>Here you can individually adjust the search results and reduce them to a specific time frame.</p>
</div>
<div class="paragraph instruction">
<p>Filtering by the variable <strong>Time</strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>Enter the time from which on you want to search.</p>
</li>
<li>
<p>Enter the time up to which you want to search.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The log entries created in the defined time frame are shown.</p>
</li>
</ol>
</div>
</div>
</main>