<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_areas"><span>1.</span><span> Areas</span></a></li>
<li><a href="#_css_of_the_editor"><span>2.</span><span> CSS of the editor</span></a></li>
<li><a href="#_configuration"><span>3.</span><span> Configuration</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Editors</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Settings » Editors</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_areas">1. Areas</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Editor</strong>, <strong>Syntax editor</strong> and <strong>Text field</strong> are activated in all areas by default. However, they can be deactivated in individual areas. Go to <strong>System » Settings » Editors » Tab: Areas</strong> and choose which editors should be displayed in the drop-down menu within each specific area.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/working-with-plentymarkets/assets/EN-Settings-Basic-settings-Editor01-SI.png" alt="EN Settings Basic settings Editor01 SI">
</div>
<div class="title">Figure 1. <strong>Editors</strong> menu; Areas tab</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_css_of_the_editor">2. CSS of the editor</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <a href="/en/omni-channel/online-store/setting-up-clients/cms#web-design-tools-editor">editor</a> uses the CSS in the <strong>CSSContent</strong> area by default. If a <em><strong>background image</strong></em> is used there and this is bothersome or not desired, then you can individually edit the CSS in this menu. Alternatively, you can use a <em><strong>white background</strong></em> or you can create your own <em><strong>customized CSS</strong></em> and specify additional formatting, e.g. how headings should be displayed.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_configuration">3. Configuration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Pay attention to the explanations given in table 1 and select the option as desired.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/working-with-plentymarkets/assets/EN-Settings-Basic-settings-Editor02-SI.png" alt="EN Settings Basic settings Editor02 SI">
</div>
<div class="title">Figure 2. <strong>Editors</strong> menu; CSS configuration</div>
</div>
<div class="paragraph">
<p>The following table explains the options in the <strong>System » Settings » Editors</strong> menu:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>As in the online store</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The <a href="/en/omni-channel/online-store/setting-up-clients/cms#web-design-editing-the-web-design-css">store CSS</a> will be loaded in the editor. This CSS is found under <strong>CMS » Web design » Layout » CSS » CSSContent</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Standard</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>A simple <strong>standard CSS</strong> will be loaded in the editor. The <em><strong>background color</strong></em> is <em><strong>white</strong></em>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Custom</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The simple <strong>standard CSS</strong> will be displayed in an editing window and can be customized with the <a href="/en/omni-channel/online-store/setting-up-clients/cms#web-design-tools-syntax-editor">Syntax editor</a>. Click on <strong>Reset</strong> to reset the CSS to the standard CSS.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: <strong>Editors</strong> menu; configuration</em></p>
</div>
</div>
</div>
</main>