<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Quick access to general functions</span></a></li>
<li><a href="#14"><span>2.</span><span> Adding a user image</span></a></li>
<li><a href="#15"><span>3.</span><span> Quick access via the Support tab</span></a></li>
<li><a href="#20"><span>4.</span><span> Switching the menu arrangement</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>4.1.</span><span> Switching the menu arrangement</span></a></li>
<li><a href="#50"><span>4.2.</span><span> Customising the layout</span></a></li>
<li><a href="#60"><span>4.3.</span><span> Sorting the positions in the menu arrangement</span></a></li>
</ul>
</li>
<li><a href="#70"><span>5.</span><span> Accessing the context menu with a right click</span></a></li>
<li><a href="#80"><span>6.</span><span> Adding and removing favourites</span></a></li>
<li><a href="#90"><span>7.</span><span> Selecting several options</span></a></li>
<li><a href="#95"><span>8.</span><span> Setting up printers</span></a></li>
<li><a href="#100"><span>9.</span><span> Using the drag &amp; drop function</span></a></li>
<li><a href="#110"><span>10.</span><span> Displaying unsaved changes</span></a></li>
<li><a href="#120"><span>11.</span><span> Organising editors</span></a>
<ul class="sectlevel2">
<li><a href="#140"><span>11.1.</span><span> Changing the CSS of the editor</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Using general functions</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page of the manual describes the general functions that are found in several different areas of your plentymarkets system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Quick access to general functions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this chapter you will learn how to use general functions of your plentymarkets system.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Full screen mode</strong><br>
Click on the full screen icon to start full screen mode.</p>
</li>
<li>
<p><strong>Online store</strong><br>
Click on the plenty ID in the upper right-hand side of the menu to open the start page of your online store.</p>
</li>
<li>
<p><strong>Favourites</strong><br>
Click on the star symbol to display your favourites. For more information on how to add and remove favourites, see <a href="/en/basics/working-with-plentymarkets/general-functions#80">Adding and removing favourites</a>.</p>
</li>
<li>
<p><strong>User</strong><br>
Within the user icon you can switch to the user account view or log out of the system.<br>
Click on the <strong>user name</strong> to switch to the active user account.<br>
Click on <strong>Logout</strong> to log out of your plentymarkets system.<br></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="14">2. Adding a user image</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To display a user image in your plentymarkets backend, it is required to be registered with <a href="https://de.gravatar.com/" target="_blank" rel="noopener">gravatar.com</a>.</p>
</div>
<div class="paragraph instruction">
<p>Adding a user image:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » User » Accounts » User name » Tab: Master data</strong>.<br></p>
</li>
<li>
<p>Open the user.<br></p>
</li>
<li>
<p>Enter the e-mail address that you use for gravatar.com in the field <strong>Email</strong>.<br></p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ Reload the system to display the user image.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="15">3. Quick access via the Support tab</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can access various support services and partner services within the <strong>Support</strong> tab.<br></p>
</div>
<div class="paragraph">
<p><strong>Service</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Manual</strong> opens the <a href="https://knowledge.plentymarkets.com/en/" target="_blank" rel="noopener">start page</a> of the plentymarkets manual where all functions of your system are described in detail.<br></p>
</li>
<li>
<p><strong>Video tutorials</strong> opens an overview of plentymarkets video tutorials on various topics.<br></p>
</li>
<li>
<p><strong>Forum</strong> opens the start page of the plentymarkets forum.<br></p>
</li>
<li>
<p><strong>Consulting</strong> opens the support website where you can create tickets.<br></p>
</li>
<li>
<p><strong>Developer guides</strong> opens plentyDevelopers. Comprehensive information and documentation for developers is available here.<br></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Partner services</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Partner agencies</strong> opens an overview of partner agencies and access to plentyProjects.<br></p>
</li>
<li>
<p><strong>Project board</strong> opens <strong>plentyMarketplace » Tab: Projects</strong>.  Log into the project board to tender projects and find contacts for your projects.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="20">4. Switching the menu arrangement</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can switch the way the entire menu is arranged as well as customise the layout within a specific menu. Furthermore, you can sort the positions in the menu arrangement.</p>
</div>
<div class="sect2">
<h3 id="40">4.1. Switching the menu arrangement</h3>
<div class="paragraph">
<p>Select between the horizontal and vertical menu arrangement. Switch the menu arrangement by clicking on the arrow in the upper left corner of your start page.</p>
</div>
</div>
<div class="sect2">
<h3 id="50">4.2. Customising the layout</h3>
<div class="paragraph">
<p>You can customise the layout of every menu individually, i.e. you can specify which parameters should be displayed in the columns. Image 2 shows the <strong>Item » Edit item</strong> menu as an example.</p>
</div>
<div class="paragraph instruction">
<p>Customising the menu layout:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Point your cursor over the menu’s title bar.<br>
→ The <strong>Customise layout</strong> gear-wheel icon will appear.</p>
</li>
<li>
<p>Click on the gear-wheel icon.<br>
→ The <strong>Customise the layout</strong> window will open.</p>
</li>
<li>
<p>Select the parameters that you want to have displayed in the menu. <br>
→ Remove the check mark if you no longer want one of the parameters to be displayed.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div id="customiselayoutwindow" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/working-with-plentymarkets/assets/General-functions-customising-window.png" alt="Customising layout window">
</div>
<div class="title">Figure 1. Customising the layout window</div>
</div>
</div>
<div class="sect2">
<h3 id="60">4.3. Sorting the positions in the menu arrangement</h3>
<div class="paragraph">
<p>Proceed as described below to sort the positions in the menu arrangement alphabetically or numerically and ascending or descending.</p>
</div>
<div class="paragraph instruction">
<p>Sorting the positions in the menu arrangement:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Move the cursor over the heading of the column that you want to sort.<br>
→ A small triangle will be displayed.</p>
</li>
<li>
<p>Click on the triangle to sort the entries in this column.<br>
→ If the triangle is pointing down, then the column entries will be sorted in ascending order (the highest value is at the top of the list). If the triangle is pointing up, then the column entries will be sorted in descending order.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="70">5. Accessing the context menu with a right click</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The right click on certain tabs and buttons in plentymarkets allows you to quickly carry out actions.</p>
</div>
<div class="paragraph">
<p>For example, if you right-click on a category in the <strong>Item » Categories</strong> menu, you can edit, move, copy or delete a category or create a subcategory. In the <strong>CMS » Image gallery</strong> menu e.g., right-click on an image folder in the directory tree to delete the folder with its complete content.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="80">6. Adding and removing favourites</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you use some menus very frequently, then you may want to save them to a list of favourites. This allows you to access the menus quickly. Click on the star symbol in the upper right-hand corner of the menu to display your favourites.</p>
</div>
<div class="paragraph instruction">
<p>Adding a menu to favourites:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu that you want to add as favourite.</p>
</li>
<li>
<p>In the menu’s drop-down list, click on <strong>Add link to favourites</strong>.<br></p>
</li>
<li>
<p>Check to make sure that the menu was added to the list. To do so, go to <strong>System » Settings » User » Accounts</strong> under <strong>My account</strong> in the <strong>Personal settings » Favourites</strong> tab. <br></p>
</li>
<li>
<p><strong><em>Note:</em></strong> Favourites are only visible in this menu once you have saved at least one favourite.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Removing a menu from favourites:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the star symbol in the upper right-hand corner of the menu.<br>
→ Your saved favourites are displayed in the drop-down list.<br></p>
</li>
<li>
<p>Click on the <strong>x</strong> within the menu to remove the menu from favourites.</p>
</li>
<li>
<p>Check to make sure that the menu was removed from the list. To do so, go to <strong>System » Settings » User » Accounts</strong> under <strong>My account</strong> in the <strong>Personal settings » Favourites</strong> tab.<br>
→ <strong><em>Note:</em></strong> In the drop-down list, click on <strong>Delete all favourites</strong> and confirm the pop-up with <strong>Delete</strong> to delete all favourites.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="90">7. Selecting several options</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you have the option to select more than one option at a time in a box, press Ctrl (Windows) or cmd (Mac) and then click on the options you wish to select. Options that are greyed out when opening a box have already been saved. You can now select further options by pressing Ctrl or cmd and then clicking on the desired options. You can also deactivate the options that you have previously selected by clicking on them again. While editing, all selected options - also the ones with the previously grey background - will be shown in blue.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="95">8. Setting up printers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Install the <a href="https://marketplace.plentymarkets.com/plugins/integration/plentyBase_5053" target="_blank" rel="noopener">plentyBase plugin</a> first to enable access to printers in your plentymarkets system.</p>
</div>
<div class="paragraph">
<p>Open the <strong>System » Settings » Printer</strong> menu to set up local printers or network printers in your plentymarkets system. Further information on the setup and configuration of printers is available on the page <a href="https://knowledge.plentymarkets.com/en/basics/working-with-plentymarkets/printer/" target="_blank" rel="noopener">printer</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">9. Using the drag &amp; drop function</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Upload your images and files to your plentymarkets system using the drag &amp; drop function. The following video tutorial explains how to use the use drag &amp; drop function:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/41029698" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="110">10. Displaying unsaved changes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you made changes e.g. in the <strong>CMS » Web design » Layout</strong> menu or in the <strong>Item » Categories</strong> menu that were not saved yet, then a red flag will be displayed in the tabs. This flag is also displayed in the menu structure on the left.</p>
</div>
<div id="unsavedchanges" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/working-with-plentymarkets/assets/General-functions-unsaved-changes.png" alt="Displaying unsaved changes">
</div>
<div class="title">Figure 2. Displaying unsaved changed</div>
</div>
<div class="paragraph">
<p>If you close a category without having saved the changes, a window will appear that you must edit before being able to continue working with your system.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Click on <strong>Close</strong> to close the category without saving the changes.</p>
</li>
<li>
<p>Click on <strong>Cancel</strong> to save the settings or to make further changes.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If you do not want to have those warning messages displayed any longer, deactivate this function.</p>
</div>
<div class="paragraph instruction">
<p>Deactivating warning messages:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>My account</strong>.</p>
</li>
<li>
<p>Click on the <strong>Personal settings » General</strong> tab.</p>
</li>
<li>
<p>Deactivate the option <strong>Warn if tabs are open and the window is to be closed</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="120">11. Organising editors</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Editor</strong>, <strong>Syntax editor</strong> and <strong>Text field</strong> are activated in all areas by default. However, these editors can be deactivated in individual areas. To do so, go to <strong>System » Settings » Editors » Tab: Areas</strong> and choose which editors should be displayed in the drop-down list within each specific area.</p>
</div>
<div class="paragraph instruction">
<p>Deactivating editors:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>System » Settings » Editors » Tab: Areas</strong>.</p>
</li>
<li>
<p>Remove the check mark next to the editors which should not be displayed in the drop-down list of the area.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="140">11.1. Changing the CSS of the editor</h3>
<div class="paragraph">
<p>The <a href="/en/omni-channel/online-store/setting-up-clients/cms#web-design-tools-editor">editor</a> uses the <strong>CSSContent</strong> by default. If a background image is used there and this is bothersome or not desired, then you can individually edit the CSS in the menu <strong>System » Settings » Editors » Tab: CSS</strong>. Alternatively, you can use the <strong>Standard</strong>-CSS with a white background. You can also create your own <strong>customized</strong> CSS and specify additional formatting, e.g. how headings should be displayed.</p>
</div>
<div class="paragraph">
<p>Open the menu <strong>System » Settings » Editors » Tab: CSS</strong> to change the CSS for the editor.</p>
</div>
<div class="paragraph instruction">
<p>Changing the CSS for the editor:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>System » Settings » Editors » Tab: CSS</strong>.</p>
</li>
<li>
<p>Select the CSS. Pay attention to the explanations given in <a href="#table-css-editors">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-css-editors" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Available CSS</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>As in the online store (CSSContent)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The <a href="/en/omni-channel/online-store/setting-up-clients/cms#web-design-editing-the-web-design-css">store CSS</a> will be loaded in the editor.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standard</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>A simple <strong>standard CSS</strong> will be loaded in the editor. The background color is <strong>white</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Custom</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The simple <strong>standard CSS</strong> will be displayed in an editing window and can be customized with the <a href="/en/omni-channel/online-store/setting-up-clients/cms#web-design-tools-syntax-editor">Syntax editor</a>. Click on <strong>Reset</strong> to reset the CSS to the standard CSS.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>