<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Accessing the pages of the manual</span></a></li>
<li><a href="#20"><span>2.</span><span> Using quick access buttons</span></a></li>
<li><a href="#30"><span>3.</span><span> Switching the menu arrangement</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>3.1.</span><span> Switching the menu arrangement</span></a></li>
<li><a href="#50"><span>3.2.</span><span> Customising the layout</span></a></li>
<li><a href="#60"><span>3.3.</span><span> Sorting the positions in the menu arrangement</span></a></li>
</ul>
</li>
<li><a href="#70"><span>4.</span><span> Accessing the context menu with a right click</span></a></li>
<li><a href="#80"><span>5.</span><span> Adding and removing favourites</span></a></li>
<li><a href="#90"><span>6.</span><span> Selecting several options</span></a></li>
<li><a href="#100"><span>7.</span><span> Using the drag &amp; drop function</span></a></li>
<li><a href="#110"><span>8.</span><span> Displaying unsaved changes</span></a></li>
<li><a href="#120"><span>9.</span><span> Carrying out updates</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Using general functions</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page of the manual describes the general functions that are found in several different areas of your plentymarkets system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Accessing the pages of the manual</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Click on <strong>Search manual</strong> in the upper right corner of the menu in order to open the corresponding page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Using quick access buttons</h2>
<div class="sectionbody">
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/working-with-plentymarkets/assets/EN-General-functions-01.png" alt="EN General functions 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: quick access buttons</em></p>
</div>
<div class="paragraph">
<p>The following buttons (from left to right) allow you to quickly access important areas in your system from the header of the plentymarkets admin area.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Website</strong><br>
Opens the <a href="/en/basics/working-with-plentymarkets/dashboard"><strong>start page</strong></a> of your online store.</p>
</li>
<li>
<p><strong>Customer data</strong><br>
Opens the <a href="/en/crm/managing-customer-data#1200"><strong>customer data</strong></a> tab where you can search for customers.</p>
</li>
<li>
<p><strong>Statistics</strong><br>
Opens the <strong><a href="/en/basics/statistics">statistics module</a></strong> that allows you to display various evaluations and analyses.</p>
</li>
<li>
<p><strong>Support</strong><br>
Opens an overview of all the different support media available at plentymarkets.</p>
</li>
<li>
<p><strong>Manual</strong><br>
Opens the <a href="/"><strong>start page</strong></a> of the plentymarkets manual where all functions of your system are described in detail.</p>
</li>
<li>
<p><strong>Changelog</strong><br>
Opens the start page of <strong><a href="https://www.plentymarkets.eu/software/versionen/">plentymarkets Up2date</a></strong>. Here you will see all of the important additions and changes relating to a particular version of plentymarkets.</p>
</li>
<li>
<p><strong>plentymarkets download</strong><br>
Installs the <a href="/en/basics/automation/plentymarkets-client"><strong>plentymarkets Client</strong></a> on your computer.</p>
</li>
<li>
<p><strong>plentymarkets Forum</strong><br>
Opens the plentymarkets Forum.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Switching the menu arrangement</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can switch the way the entire menu is arranged as well as customise the layout within a specific menu. Furthermore, you can sort the positions in the menu arrangement.</p>
</div>
<div class="sect2">
<h3 id="40">3.1. Switching the menu arrangement</h3>
<div class="paragraph">
<p>Select between the horizontal and vertical menu arrangement. Switch the menu arrangement by clicking on the arrow in the upper left corner of your start page.</p>
</div>
</div>
<div class="sect2">
<h3 id="50">3.2. Customising the layout</h3>
<div class="paragraph">
<p>You can customise the layout of every menu individually, i.e. you can specify which parameters should be displayed in the columns. Image 2 shows the <strong>Item » Edit item</strong> menu as an example.</p>
</div>
<div class="paragraph instruction">
<p>Customising the menu layout:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Point your cursor over the menu’s title bar.<br>
→ The <strong>Customise layout</strong> gear-wheel icon will appear.</p>
</li>
<li>
<p>Click on the gear-wheel icon.<br>
→ The <strong>Customise the layout</strong> window will open.</p>
</li>
<li>
<p>Select the parameters that you want to have displayed in the menu. <br>
→ Remove the check mark if you no longer want one of the parameters to be displayed.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/working-with-plentymarkets/assets/EN-General-functions-02.png" alt="EN General functions 02">
</div>
</div>
<div class="paragraph">
<p><em>Image 2: <strong>Customise the layout</strong> window</em></p>
</div>
</div>
<div class="sect2">
<h3 id="60">3.3. Sorting the positions in the menu arrangement</h3>
<div class="paragraph">
<p>Proceed as described below to sort the positions in the menu arrangement alphabetically or numerically and ascending or descending.</p>
</div>
<div class="paragraph instruction">
<p>Sorting the positions in the menu arrangement:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Move the cursor over the heading of the column that you want to sort.<br>
→ A small triangle will be displayed.</p>
</li>
<li>
<p>Click on the triangle to sort the entries in this column.<br>
→ If the triangle is pointing down, then the column entries will be sorted in ascending order (the highest value is at the top of the list). If the triangle is pointing up, then the column entries will be sorted in descending order.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="70">4. Accessing the context menu with a right click</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The right click on certain tabs and buttons in plentymarkets allows you to quickly carry out actions.</p>
</div>
<div class="paragraph">
<p>For example, if you right-click on a category in the <strong>Item » Categories</strong> menu, you can edit, move, copy or delete a category or create a subcategory. In the <strong>CMS » Image gallery</strong> menu e.g., right-click on an image folder in the directory tree to delete the folder with its complete content. Set up a new printer by right-clicking on the printer in the <strong>Settings » Basic settings » Printer</strong> menu. This option is only available if you have downloaded the plentymarkets Client.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="80">5. Adding and removing favourites</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you use some menus very frequently, then you may want to save them to a list of favourites. This allows you to access the menus quickly.</p>
</div>
<div class="paragraph instruction">
<p>Adding a menu to favourites:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu.</p>
</li>
<li>
<p>Click on <strong>Add to favourites</strong> in the upper right corner of the menu.<br>
→ Alternatively, use your mouse to right-click on the tab title of the menu and select the option <strong>Add to favourites</strong>.</p>
</li>
<li>
<p>Check to make sure that the menu was added to the list. To do so, go to <strong>Settings » Basic settings » User » Accounts</strong> under <strong>My account</strong> in the <strong>Personal settings » Favourites</strong> tab. <br>
◆ Note: Favourites are only visible in this menu once you have saved at least one favourite.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Removing a menu from favourites:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu.</p>
</li>
<li>
<p>Click on <strong>Remove from favourites</strong> in the upper right corner of the menu.<br>
→ Alternatively, right-click on the tab title of the menu and select the option <strong>Remove from favourites</strong>.</p>
</li>
<li>
<p>Check to make sure that the menu was removed from the list. To do so, go to <strong>Settings » Basic settings » User » Accounts</strong> under <strong>My account</strong> in the <strong>Personal settings » Favourites</strong> tab.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="90">6. Selecting several options</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you have the option to select more than one option at a time in a box, press Ctrl (Windows) or cmd (Mac) and then click on the options you wish to select. Options that are greyed out when opening a box have already been saved. You can now select further options by pressing Ctrl or cmd and then clicking on the desired options. You can also deactivate the options that you have previously selected by clicking on them again. While editing, all selected options - also the ones with the previously grey background - will be shown in blue.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">7. Using the drag &amp; drop function</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Upload your images and files to your plentymarkets system using the drag &amp; drop function. The following video tutorial explains how to use the use drag &amp; drop function:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/41029698" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="110">8. Displaying unsaved changes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you made changes e.g. in the <strong>CMS » Web design » Layout</strong> menu or in the <strong>Item » Categories</strong> menu that were not saved yet, then a red flag will be displayed in the tabs. This flag is also displayed in the menu structure on the left.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/working-with-plentymarkets/assets/EN-General-functions-03.png" alt="EN General functions 03">
</div>
</div>
<div class="paragraph">
<p><em>Image 3: displaying unsaved changes</em></p>
</div>
<div class="paragraph">
<p>If you close a category without having saved the changes, a window will appear that you must edit before being able to continue working with your system.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Click on <strong>Close</strong> to close the category without saving the changes.</p>
</li>
<li>
<p>Click on <strong>Cancel</strong> to save the settings or to make further changes.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If you do not want to have those warning messages displayed any longer, deactivate this function.</p>
</div>
<div class="paragraph instruction">
<p>Deactivating warning messages:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Basic settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>My account</strong>.</p>
</li>
<li>
<p>Click on the <strong>Personal settings » General</strong> tab.</p>
</li>
<li>
<p>Deactivate the option <strong>Warn if tabs are open and the window is to be closed</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="120">9. Carrying out updates</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Your plentymarkets system regularly checks whether an update is available for one of the menus or functions, e.g. whether a new feature or fix is ready to be imported. When an update is available, you will see a pop-up window that asks if you want to update the system now.</p>
</div>
<div class="paragraph">
<p>Click on <strong>Reload page</strong> if you want to update the system. Doing so will close all of the menus and tabs that are currently open. If you do not want this to happen, then click on <strong>Later</strong> and update the system at a later time.</p>
</div>
<div class="paragraph">
<p>Note: If you reload the page, then the cache will automatically be regenerated as well.</p>
</div>
</div>
</div>
</main>