<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Adding a printer</span></a></li>
<li><a href="#20"><span>2.</span><span> Configuring printers with different paper trays (Windows only)</span></a></li>
<li><a href="#30"><span>3.</span><span> Sharing printers</span></a></li>
<li><a href="#40"><span>4.</span><span> Error causes and solutions</span></a></li>
<li><a href="#50"><span>5.</span><span> Printing labels</span></a>
<ul class="sectlevel2">
<li><a href="#60"><span>5.1.</span><span> Installing the Zebra GC420d on your computer</span></a></li>
<li><a href="#65"><span>5.2.</span><span> Setting up a Zebra printer with the ZPL plugin (Mac OSX only)</span></a></li>
<li><a href="#70"><span>5.3.</span><span> Configuring label printing</span></a></li>
<li><a href="#80"><span>5.4.</span><span> Correcting label printing errors</span></a></li>
</ul>
</li>
<li><a href="#90"><span>6.</span><span> Displaying the print history</span></a></li>
<li><a href="#100"><span>7.</span><span> Deleting a printer</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Printer</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The plentymarkets Client allows you to link plentymarkets to locally installed devices. In the <strong>plentymarkets Client » Settings » Basic settings » Printer</strong> menu, you set up local printers or network printers in plentymarkets. Download the <strong><a href="https://www.plentymarkets.co.uk/product/processes/plentymarkets-client/">plentymarkets Client</a></strong> on our website.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Adding a printer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to add a printer.</p>
</div>
<div class="paragraph instruction">
<p>Adding a new printer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Client » Settings » Basic settings » Printer</strong>.</p>
</li>
<li>
<p>Click on the context menu in the menu structure. <br>
→ The <strong>New printer</strong> button will appear.</p>
</li>
<li>
<p>Click on <strong>New printer</strong>.<br>
→ The configuration menu will open.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The printer will be displayed in the menu.</p>
</li>
<li>
<p>Print a few text pages/labels and experiment with different printer plugins before using printers in productive mode.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Setting up printers</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Test page</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Prints out a test page for checking the printer settings.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter name. The name can be chosen freely. As such, you could add several printers of the same type and give them all different names.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Printer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Displays local and network printers.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Printer dialogue</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether the printer dialogue should open before printing a page.<br>
<strong>open</strong> = Page orientation and additional information must be set before printing.<br>
<strong>do not open</strong> = Page orientation and additional information are specified in this menu and will be used for printing.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Paper tray</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a paper tray. The options that are available depend on the printer that was selected. <br>
If you would like to work with different paper sizes, please refer to the following sub-chapter. <br>
<strong>Note</strong>: This feature is only available for Windows.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Paper size</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a paper size. Further fields will be displayed for <strong>width</strong> and <strong>height</strong> if you choose a user-defined paper size, e.g. the paper size <strong>Custom</strong>. Paper sizes are provided by each type of printer. Therefore, they can have different names. <br>
If you need to use more than one format, set up further printers, to which you can assign the corresponding format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Double-sided printing</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Currently not supported by the Client.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Scaling</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the scaling. <br>
<strong>Fit to page (ignore aspect ratio)</strong> = Information will be scaled to fit the entire page. This setting may cause the information to be distorted. <br>
<strong>Fit to page (preserve aspect ratio)</strong> = Information will be scaled to the largest possible size within the print area without causing distortions. <br>
<strong>None</strong> = Information will not be scaled.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Orientation</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which orientation should be used when printing. The options available here depend on the printer. <br>
<strong>portrait</strong> = Vertical format <br>
<strong>landscape</strong> = Horizontal format <br>
<strong>Automatic page orientation</strong> = This option is found further down in the menu. The orientation is fit to the page automatically.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Top, Left, Bottom, Right</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Optionally enter distances in mm in order to put your page’s content in the right position.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Automatic page orientation</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate to orient the content automatically on the page.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Printer plugin</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the plugin to be used with the printer.<br>
<strong><em>Tip:</em></strong> Print some test pages/labels to compare the print quality of the different printer plugins.<br>
<strong>Default</strong> = The operating system’s default is used.<br>
<strong>Cups</strong>, <strong>PDFBox</strong> = Try either one of these plugins if you are not satisfied with the print quality of the <strong>Default</strong> setting.<br>
<strong>ZPL</strong> (Zebra Programming Language) = Plugin for Zebra label printers.<br>
<strong><em>Information about the ZPL plugin:</em></strong> The ZPL plugin is optimised for a native resolution of 203 dpi. Other resolutions may result in distorted label sizes. If your label sizes are distorted, select 203 dpi or a different printer plugin.<br>
<strong><em>Information about the ZPL plugin:</em></strong> For optimum print quality with the ZPL plugin on Mac OSX systems, <a href="/en/basics/working-with-plentymarkets/printer#65"><strong>RAW printing</strong></a> must be enabled on your Zebra printer.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Learn more about setting up printers in the following video tutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/148853042" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Configuring printers with different paper trays (Windows only)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you own a printer with different paper trays and you want to work with different paper sizes, you can set up a printer profile for each paper tray.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example configuration for different formats</div>
<div class="paragraph">
<p>You want to print invoices in DIN A4 format and labels in DIN A6 format.</p>
</div>
<div class="paragraph">
<p>Set up a printer profile with the paper size DIN A4 and another printer profile with the paper size DIN A6. Select the same printer for both profiles and assign the corresponding paper tray to each paper size.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Sharing printers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Printer profiles are saved for each individual user account on a computer. As such, they are not available for other users who share the same computer. If a printer profile should be available for other users as well, then the profile must be shared with others. Profiles are shared on your computer, not in plentymarkets. Use your operating system’s help function to find out how to share printers on your computer:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Help for Windows e.g. <strong><a href="http://windows.microsoft.com/en-us/windows/share-printer#1TC=windows-7" target="_blank">here</a></strong></p>
</li>
<li>
<p>Help for Mac e.g. <strong><a href="https://support.apple.com/en-gb/HT204135" target="_blank">here</a></strong></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Error causes and solutions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The table below contains information about the errors that may occur when setting up the printer.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Error messages in the <strong>Printer</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Code</th>
<th class="tableblock halign-left valign-top">Error</th>
<th class="tableblock halign-left valign-top">Cause</th>
<th class="tableblock halign-left valign-top">Solution</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>2000</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Under Mac OS X: No CUPS printer found.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>No printer is shared in the network. It is necessary to share a printer in order for printers to communicate via CUPS.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/en/basics/working-with-plentymarkets/printer#30"><strong>Sharing printers</strong></a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>2001</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Under Mac OS X: Unknown CUPS printer.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The printer was not found in the network under the specified name.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/en/basics/working-with-plentymarkets/printer#30"><strong>Sharing printers</strong></a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>2100</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Test page could not be printed.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wrong client version. You need version 121 or higher.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="https://www.plentymarkets.co.uk/product/processes/plentymarkets-client/"><strong>Download the latest client version</strong></a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>2101</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Print error.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Several possible causes.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>2102</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Printer was not found.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The printer is no longer available in the system. Configuration may now be incorrect.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Add a new printer or use a different printer.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">5. Printing labels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>With special label printers you can print large numbers of labels in no time. These printers are equipped with label reels. Some models even have an integrated cutter. Save the exact label size using the <strong>Paper size</strong> option in the <strong>plentymarkets Client » Settings » Basic settings » Printer</strong> menu. You can either select one of the default formats or define your won sizes using the custom option (table 1).</p>
</div>
<div class="paragraph">
<p>All printing functions are compatible with label printers and are especially optimised for using label printers produced by <a href="https://www.zebra.com/gb/en.html"><strong>Zebra</strong></a>. For use as a desktop printer, we recommend the model <a href="https://www.zebra.com/gb/en/products/printers/desktop/value-desktop-printers.html"><strong>Zebra GC420d</strong></a>.</p>
</div>
<div class="sect2">
<h3 id="60">5.1. Installing the Zebra GC420d on your computer</h3>
<div class="paragraph">
<p>Proceed as described below to install the Zebra GC420d on the operating systems Windows or Mac OSX.</p>
</div>
<div class="paragraph instruction">
<p>Installing the Zebra GC420d:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>First, download the <strong><a href="https://www.zebra.com/gb/en/support-downloads/desktop/gx430t.html#mainpartabscontainer_999b=drivers" target="_blank">Zebra Setup Utilities</a></strong> file to your computer.</p>
</li>
<li>
<p>Install the file.</p>
</li>
<li>
<p>Follow the instructions in the setup wizard.<br>
→ Windows: Select the ZDesigner GC420d printer. Here, the ZPL printer driver is used by default.<br>
→ Mac OSX: Select the printer driver ZPL. Test the driver’s setting for every label size individually. To use the <strong>ZPL</strong> printer plugin, configure your Zebra printer for <a href="/en/basics/working-with-plentymarkets/printer#65"><strong>RAW printing</strong></a>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="65">5.2. Setting up a Zebra printer with the ZPL plugin (Mac OSX only)</h3>
<div class="paragraph">
<p>To optimise print quality with the ZPL plugin on Mac OSX systems, you need to enable the Zebra printer for print jobs in RAW format. When printing in RAW format, print data is sent in the printer’s native language. The print data remains unchanged because the operating system’s print driver is bypassed.</p>
</div>
<div class="paragraph">
<p>To configure RAW printing, you need to access the CUPS web interface. Proceed as described below to activate the CUPS web interface and configure the printer.</p>
</div>
<div class="paragraph instruction">
<p>ZPL plugin: Activating the CUPS web interface (Mac OSX only):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the Spotlight search by pressing "cmd" + "Leertaste".</p>
</li>
<li>
<p>Enter the term <strong>Terminal</strong>.</p>
</li>
<li>
<p>Press enter.<br>
→ The terminal opens.</p>
</li>
<li>
<p>In the terminal window, enter the command <strong>sudo cupsctl WebInterface=yes</strong>.</p>
</li>
<li>
<p>Press enter.<br>
→ You will be asked to enter your password.</p>
</li>
<li>
<p>Enter your password.<br>
→ The CUPS web interface is active.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>ZPL plugin: Setting up Raw printing for a Zebra printer (Mac OSX only):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In a web browser, navigate to <strong><a href="http://localhost:631" class="bare">http://localhost:631</a></strong>.<br>
→ The CUPS web interface opens.</p>
</li>
<li>
<p>Click on the <strong>Administration</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add Printer</strong>.<br>
→ You will be asked to enter your user data.</p>
</li>
<li>
<p>Enter your user name and password.<br>
→ The <strong>Add Printer</strong> page is displayed.</p>
</li>
<li>
<p>Select the Zebra printer from the list.</p>
</li>
<li>
<p>Click on <strong>Continue</strong>.</p>
</li>
<li>
<p>Enter a name, a description and a location for the printer.</p>
</li>
<li>
<p>Select <strong>Share This Printer</strong> to share the printer with other users.</p>
</li>
<li>
<p>Click on <strong>Continue</strong>.</p>
</li>
<li>
<p>From the <strong>Make</strong> list, select <strong>Raw</strong>.</p>
</li>
<li>
<p>Click on <strong>Continue</strong>.</p>
</li>
<li>
<p>Click on <strong>Add Printer</strong>.</p>
</li>
<li>
<p>Leave the settings for <strong>Starting Banner</strong> and <strong>Ending Banner</strong> as <strong>none</strong>.</p>
</li>
<li>
<p>Click on <strong>Set Default Options</strong>.<br>
→ Your Zebra printer can receive RAW print jobs.<br>
<strong><em>Note:</em></strong> The Zebra printer is not shown in the system settings. However, it is set up and can be accessed by the plentymarkets Client.</p>
</li>
<li>
<p>When you add a printer in the <strong>plentymarkets Client » Settings » Basic settings » Printer</strong> menu, select the printer plugin <strong>ZPL</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="70">5.3. Configuring label printing</h3>
<div class="paragraph">
<p>Configure the height and width of your labels in plentymarkets. First, add the label printer to your printer list. To do so, proceed as follows. The configuration is described based on a label format of 104 x 150.</p>
</div>
<div class="paragraph instruction">
<p>Adding a printer for 104 x 150 labels:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Client » Settings » Basic settings » Printer</strong>.</p>
</li>
<li>
<p>Click on the context menu in the menu structure.<br>
→ The <strong>New printer</strong> button will appear.</p>
</li>
<li>
<p>Click on <strong>New printer</strong>.<br>
→ The configuration menu will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the label printer from the drop-down list <strong>Printer</strong>.</p>
</li>
<li>
<p>Select <strong>do not open</strong> from the <strong>Printer dialogue</strong> drop-down menu.</p>
</li>
<li>
<p>Select <strong>Invalid selection</strong> from the <strong>Paper tray</strong> drop-down menu.</p>
</li>
<li>
<p>Select <strong>Custom</strong> from the <strong>Paper size</strong> drop-down menu.</p>
</li>
<li>
<p>Enter <strong>150</strong> as the <strong>Paper height</strong>.</p>
</li>
<li>
<p>Enter <strong>104</strong> as the <strong>Paper width</strong>.</p>
</li>
<li>
<p>Do not change the one-sided setting for double-sided printing.</p>
</li>
<li>
<p>Select <strong>Fit to page (ignore aspect ratio)</strong> from the <strong>Scaling</strong> drop-down menu.</p>
</li>
<li>
<p>Select <strong>portrait</strong> from the <strong>Orientation</strong> drop-down menu.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip for multiple label sizes</div>
<div class="paragraph">
<p>If you use different label sizes, you can either change the paper height and width in the printer dialogue when changing the label or set up an individual printer for each label size.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="80">5.4. Correcting label printing errors</h3>
<div class="paragraph">
<p>If the printing results are slightly offset, but visible on the label, we recommend that you correct the printing position using the <strong>Top</strong>, <strong>Left</strong>, <strong>Bottom</strong> and <strong>Right</strong> fields.</p>
</div>
<div class="paragraph">
<p>If only a small part of the information is printed and the rest of the label is empty, change the printer’s driver. Using the right driver is crucial for printing correctly. This is especially true for Apple computers, but it can also be a cause of errors for Windows computers. <br>
For Windows, we recommend that you install the printer ZDesigner GC420d and the driver ZPL. In some cases, you may obtain better results using the printer ZDesigner GC420d (EPL) and the EPL driver.</p>
</div>
<div class="paragraph">
<p>If you were able to correct the printing results, add a printer with the right settings for the label. This way, you can reuse the settings. We recommend installing the same printer multiple times using different drivers, so that you can switch to another configuration quickly if the labels aren’t printed correctly.</p>
</div>
<div class="paragraph">
<p>Incorrect printing results may also occur if the process uses the label parameters of your label printer instead of the label settings in plentymarkets. In this case, it may help to add the label parameters in your printer settings.</p>
</div>
<div class="paragraph">
<p>In plentymarkets 7, you can also select different printer plugins. If the print quality is not satisfactory, experiment by printing test labels with different printer plugins.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="90">6. Displaying the print history</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The print history displays your print orders from the past days and weeks. The maximum number of print orders displayed here is 10,000. If that number is exceeded, the 100 oldest entries will be deleted from the print history. Print orders are stored temporarily in order to forward them to the printer. As soon as a print order was saved temporarily it will be listed in the print history. This also means that print orders that were not actually printed may be listed in the print history, e.g. if the paper tray was empty or if other problems occurred with the printer.</p>
</div>
<div class="paragraph instruction">
<p>Displaying the print history:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Client » Extras</strong>.</p>
</li>
<li>
<p>Click on <strong>Open print history</strong><br>
→ The print history will open.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can print documents again within the print history or delete print orders from the history. 20 entries are displayed per page by default as soon as you open the print history. You can also display 50 or 100 entries per page. Place a check mark next to the print orders that you want to delete or reprint. You can select all print orders displayed on a page or select them individually.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">7. Deleting a printer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to delete a printer.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a printer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Client » Settings » Basic settings » Printer</strong>.</p>
</li>
<li>
<p>Click on the printer.<br>
→ The configuration menu will open.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ The printer is deleted.</p>
</li>
</ol>
</div>
</div>
</div>
</main>