<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#50"><span>1.</span><span> Assigning rights for back end users</span></a></li>
<li><a href="#100"><span>2.</span><span> Creating a tag</span></a></li>
<li><a href="#200"><span>3.</span><span> Adding tag names in additional languages</span></a></li>
<li><a href="#300"><span>4.</span><span> Filtering by tags</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Tags</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Tags are keywords that can be used to mark data records in plentymarkets. Go to <strong>Setup » Settings » Tags</strong> to create and manage tags. These tags can be linked to data records in the following areas of plentymarkets:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Board</p>
</li>
<li>
<p>Category</p>
</li>
<li>
<p>Ticket</p>
</li>
<li>
<p>Contact</p>
</li>
<li>
<p>Variation</p>
</li>
<li>
<p>Order</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="50">1. Assigning rights for back end users</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Users of the type <strong>Back end</strong> can only access limited areas and menus in plentymarkets. Thus, their access to the system is limited. If you want users of this type to work with tags, an <strong>Admin</strong> user has to assign them rights as listed in the following.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights for back end users:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.</p>
</li>
<li>
<p>Use the search function (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>) and open the user account that should be edited.</p>
</li>
<li>
<p>In the <strong>Authorisations</strong> area, activate the rights as listed in <a href="#table-tags-required-rights-back-end-user">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-tags-required-rights-back-end-user" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Creating a tag</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System &gt; Tag &gt; Update tag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allows the back end user to update tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System &gt; Tag &gt; Show tag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allows the back end user to see tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System &gt; Tag &gt; Create tag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allows the back end user to create tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System &gt; Tag &gt; Delete tag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allows the back end user to delete tags.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">2. Creating a tag</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to create a tag.</p>
</div>
<div class="paragraph instruction">
<p>Creating a tag:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Tags</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new tag</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ A window opens on the right-hand side.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-tag-settings">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.<br>
→ The tag is created and added to the list.</p>
</li>
</ol>
</div>
<table id="table-tag-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Creating a tag</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name EN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the tag.<br>
<strong><em>Tip:</em></strong> Tag names can contain spaces. This allows you to create tag names with two or more words.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Optional:</em></strong> Enter a hexadecimal value of a colour for the tag. For the 16 primary colours, you can enter the name of the colour (black, red, silver, white etc.) instead of the hexadecimal value.<br>
<strong><em>Tip:</em></strong> Click on the square to the right to open the colour picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Area</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the areas of the system where the tag is available.<br>
<strong>Board</strong> = Tag can be linked to task cards on the boards of the <strong>Start » Boards</strong> menu.<br>
<strong>Category</strong> = Tag can be linked to categories.<br>
<strong>Ticket</strong> = Tag can be linked to tickets.<br>
<strong>Contact</strong> = Tag can be linked to contacts.<br>
<strong>Variation</strong> = Tag can be linked to variations.<br>
<strong>Order</strong> = Tag can be linked to orders.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name in additional languages</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter tag name in additional languages. For further information, refer to the <a href="/en/basics/working-with-plentymarkets/tags#200">Adding additional languages to tags</a> chapter.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">3. Adding tag names in additional languages</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to add names in additional languages to an existing tag.</p>
</div>
<div class="paragraph instruction">
<p>Adding tag names in additional languages:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Tags</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ All tags are shown.</p>
</li>
<li>
<p>Click on the tag.<br>
→ A window opens on the right-hand side.</p>
</li>
<li>
<p>Enter translations for the languages you need.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Filtering by tags</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can filter tags by <strong>Name</strong>, <strong>Availability</strong> and/or <strong>Language</strong>. Proceed as described below to filter tags based on these criteria.</p>
</div>
<div class="paragraph instruction">
<p>Filtering by tags:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Tags</strong>.</p>
</li>
<li>
<p>Select one or multiple filters. Pay attention to the information given in <a href="#table-tag-filter">Table 3</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ The tags that correspond to the search criteria entered are displayed.</p>
</li>
</ol>
</div>
<table id="table-tag-filter" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Tag filters</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the tag.<br>
<strong><em>Tip:</em></strong> If all languages were selected, all languages are included here as well. However, only the value that was entered under <strong>Name EN</strong> is shown.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Area</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more areas to only search for tags that are activated for these areas.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more languages to show tags with names in these languages.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>