<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Creating a tag</span></a></li>
<li><a href="#200"><span>2.</span><span> Adding further languages</span></a></li>
<li><a href="#300"><span>3.</span><span> Filtering by tags</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Tags</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Tags are keywords that can be used to mark texts and pages. In plentymarkets, tags are created and managed centrally in one menu. The tags can then be used in different areas, such as in <strong>categories</strong> and the <strong>ticket system</strong>. Tags can also contain spaces.&nbsp;When a tag consists of more than one word, it is possible to separate these words with spaces.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Creating a tag</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following section explains how to create tags. You determine whether the tags can be used in all available areas or only in certain areas of plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Creating a tag:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » Tags</strong>.</p>
</li>
<li>
<p>Click on <strong>Create a new tag</strong>.<br>
→ A window opens on the right-hand side.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-tag-settings">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The tag is created and added to the list.</p>
</li>
</ol>
</div>
<table id="table-tag-settings" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Tag settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Displays the name of the tag. This name is <strong><em>not linked to any language</em></strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a colour for the tag. This setting is optional.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Visibility</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the visibility area such as <strong>Category</strong> or <strong>Ticket</strong>. Or select <strong>all</strong> to make the tag available in all areas.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name of the language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create a tag in another <strong>language</strong> or edit the tag for another language. For further information, refer to the <a href="/en/basics/working-with-plentymarkets/tags#200">Adding further languages</a> chapter.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Adding further languages</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can add further languages to existing tags. To do so, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Adding further languages:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » Tags</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ All tags that have been created are displayed.</p>
</li>
<li>
<p>Select the tag from the list.<br>
→ A window opens on the right-hand side.</p>
</li>
<li>
<p>Click in the line of the language and enter the translation.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Filtering by tags</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are three possibilities for filtering tags. You can filter the tags by <strong>name</strong>, <strong>visibility</strong> and <strong>language</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Filtering by tags:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » Tags</strong>.</p>
</li>
<li>
<p>Select one or multiple filters. Pay attention to the information given in <a href="#table-tag-filter">Table 2</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The tags that correspond to the search criteria entered are displayed.</p>
</li>
</ol>
</div>
<table id="table-tag-filter" class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Tag filters</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the tag. If all languages were selected, all languages are included here as well. However, only the value that was entered under <strong>Name</strong> is displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Visibility</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one visibility area or the setting <strong>All</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a language or the setting <strong>All</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>