<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Creating a tag</span></a></li>
<li><a href="#200"><span>2.</span><span> Adding tag names in additional languages</span></a></li>
<li><a href="#300"><span>3.</span><span> Filtering by tags</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Managing tags</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Tags are keywords that can be used to mark data records in plentymarkets. Go to <strong>System » System settings » Settings » Tags</strong> to create and manage tags. These tags can be linked to data records in the following areas of plentymarkets:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Board</p>
</li>
<li>
<p>Category</p>
</li>
<li>
<p>Ticket</p>
</li>
<li>
<p>Contact</p>
</li>
<li>
<p>Variation</p>
</li>
<li>
<p>Order</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Creating a tag</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to create a tag.</p>
</div>
<div class="paragraph instruction">
<p>Creating a tag:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Settings » Tags</strong>.</p>
</li>
<li>
<p>Click on <strong>Create a new tag</strong>.<br>
→ A window opens on the right-hand side.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-tag-settings">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The tag is created and added to the list.</p>
</li>
</ol>
</div>
<table id="table-tag-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Creating a tag</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name EN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the tag.<br>
<strong><em>Tip:</em></strong> Tag names can contain spaces. This allows you to create tag names with two or more words.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Optional:</em></strong> Enter a hexadecimal value of a colour for the tag. For the 16 primary colours, you can enter the name of the colour (black, red, silver, white etc.) instead of the hexadecimal value.<br>
<strong><em>Tip:</em></strong> Click on the square to the right to open the colour picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the areas of the system where the tag is available.<br>
<strong>Board</strong> = Tag can be linked to task cards on the boards of the <strong>Start » Boards</strong> menu.<br>
<strong>Category</strong> = Tag can be linked to categories.<br>
<strong>Ticket</strong> = Tag can be linked to tickets.<br>
<strong>Contact</strong> = Tag can be linked to contacts.<br>
<strong>Variation</strong> = Tag can be linked to variations.<br>
<strong>Order</strong> = Tag can be linked to orders.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name in additional languages</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter tag name in additional languages. For further information, refer to the <a href="/en/basics/working-with-plentymarkets/tags#200">Adding additional languages to tags</a> chapter.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Adding tag names in additional languages</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to add names in additional languages to an existing tag.</p>
</div>
<div class="paragraph instruction">
<p>Adding tag names in additional languages:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Settings » Tags</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ All tags are shown.</p>
</li>
<li>
<p>Click on the tag.<br>
→ A window opens on the right-hand side.</p>
</li>
<li>
<p>Enter translations for the languages you need.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Filtering by tags</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can filter tags by <strong>Name</strong>, <strong>Availability</strong> and/or <strong>Language</strong>. Proceed as described below to filter tags based on these criteria.</p>
</div>
<div class="paragraph instruction">
<p>Filtering by tags:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Settings » Tags</strong>.</p>
</li>
<li>
<p>Select one or multiple filters. Pay attention to the information given in <a href="#table-tag-filter">Table 2</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The tags that correspond to the search criteria are shown.</p>
</li>
</ol>
</div>
<table id="table-tag-filter" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Tag filters</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the tag.<br>
<strong><em>Tip:</em></strong> If all languages were selected, all languages are included. However, only the value that was entered under <strong>Name EN</strong> is displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Visibility</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more areas to only search for tags that are activated for these areas.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more languages to show tags with names in these languages.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>