<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Managing tasks</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Setting the visibility of tasks for variable users</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Creating a task</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Searching for tasks</span></a></li>
<li><a href="#500"><span>1.4.</span><span> Editing a task</span></a></li>
<li><a href="#550"><span>1.5.</span><span> Displaying tasks on the dashboard</span></a></li>
</ul>
</li>
<li><a href="#600"><span>2.</span><span> Managing calendars</span></a>
<ul class="sectlevel2">
<li><a href="#650"><span>2.1.</span><span> Setting the visibility of calendars for variable users</span></a></li>
<li><a href="#700"><span>2.2.</span><span> Setting a variable user as owner</span></a></li>
<li><a href="#800"><span>2.3.</span><span> Carrying out basic calendar settings and setting access rights for users</span></a></li>
<li><a href="#900"><span>2.4.</span><span> Creating an appointment</span></a></li>
<li><a href="#1000"><span>2.5.</span><span> Editing an appointment</span></a></li>
<li><a href="#1100"><span>2.6.</span><span> Deleting an appointment</span></a></li>
<li><a href="#1200"><span>2.7.</span><span> Synchronising the calendar with external calendar tools</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Managing tasks and calendars</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Find out how to manage <a href="/en/basics/working-with-plentymarkets/tasks-and-calendars#100">tasks</a> and <a href="/en/basics/working-with-plentymarkets/tasks-and-calendars#600">calendars</a> here.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Managing tasks</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Start » Tasks</strong> menu to manage duties for all of the users in the system. For example, a task could be "Call customer xy". You can see how much progress has been made towards completing a task. This helps you plan your business processes and improve internal processes.</p>
</div>
<div class="paragraph">
<p>You can create tasks not only in the <strong>Start » Tasks</strong> menu, but also in a ticket in the <a href="/en/crm/using-the-ticket-system#4000">ticket system</a>. This allows you to directly create a task during a customer phone call, for example. If a task is created in the <strong>CRM » Ticket System » System settings » Open ticket » Tab: Tasks</strong>, then it is linked to the ticket. This link is also visible in the overview of tasks under <strong>Start » Tasks</strong>.</p>
</div>
<div class="sect2">
<h3 id="200">1.1. Setting the visibility of tasks for variable users</h3>
<div class="paragraph">
<p>In order that the <strong>Start » Tasks</strong> menu is visible for users with the user class <strong>Variable</strong>, the menu must be activated in the user account.</p>
</div>
<div class="paragraph instruction">
<p>Setting the visibility of tasks for variable users:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open the user with the user class <strong>Variable</strong> for whom you would like to activate the visibility of the menu.</p>
</li>
<li>
<p>Click on the <strong>Right</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>Menu</strong> tab.</p>
</li>
<li>
<p>Expand the <strong>Start</strong> area.</p>
</li>
<li>
<p>Activate the option <strong>Tasks</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Creating a task</h3>
<div class="paragraph">
<p>Proceed as described below to create a task. A consecutive ID is automatically assigned by the system and cannot be changed.</p>
</div>
<div class="paragraph instruction">
<p>Creating a task:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Tasks</strong>.<br>
→ <strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.</p>
</li>
<li>
<p>Click on <strong>New task</strong>.<br>
→ The tab <strong>New task</strong> will open.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-create-task">[table-create-task]</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="tablel-create-task" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Creating a task</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the title for the task.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority. The priorities range from <strong>0 = gray star</strong> to <strong>5 = two yellow stars</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Progress</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the percentage value. This will show the progress of the task. Users will have to manually change the progress as they complete the task.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a flag. The flag helps you find tasks again in the future.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the owner. This is a mandatory setting. The owner is the person responsible for the task.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the description of the task and format the text, if required.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">1.3. Searching for tasks</h3>
<div class="paragraph">
<p>When opening the menu <strong>Start » Tasks</strong> menu, all tasks with a progress below 100% of the currently active user are displayed as standard. If you have created a task via the <a href="/en/crm/using-the-ticket-system#4000">ticket system</a>, the ticket ID as well as the ticket title are displayed in the overview. By clicking on the ticket ID, the ticket will open directly.</p>
</div>
<div class="paragraph">
<p>Use the search filters to keep track of your tasks, even if there are a lot of them. The filters also help you find the exact tasks you are looking for.</p>
</div>
<div class="paragraph instruction">
<p>Searching for tasks:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Tasks</strong>.<br>
→ All own uncompleted tasks will be displayed because the filter for the progress is set to <strong>&lt;100%</strong> and the active user is pre-selected in the drop-down list <strong>Owner</strong> when opening the menu.</p>
</li>
<li>
<p>Click on <strong>Reset</strong> to remove the filters.</p>
</li>
<li>
<p>Select the filters. Pay attention to the information given in <a href="#table-search-task">Table 2</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The tasks that correspond to the search criteria entered will be displayed.</p>
</li>
</ol>
</div>
<table id="table-search-task" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Searching for tasks</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title/Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter text to search for the text. This is a full text search. It searches in the task’s <strong>title</strong> and <strong>description</strong>. Enter at least 4 characters for the search.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an ID to search for the task that has this ID. The system automatically assigns consecutive task IDs. This ID cannot be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ticket ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a ticket ID to search for the task(s) that belong(s) to this ticket.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Progress</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an operator and the progress. For example, you could search for all of the tasks that have already been completed to 60% or more.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an operator and the priority. For example, you could search for all of the tasks that have priority 2 or higher.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date of creation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an operator and the date. For example, you could search for all of the tasks that were created before a specific date.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an owner to search for the tasks of this owner.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a flag to search for the tasks that have this flag.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">1.4. Editing a task</h3>
<div class="paragraph">
<p>You can edit tasks at any time in order to adjust the progress bar or to add a description, for example.</p>
</div>
<div class="paragraph instruction">
<p>Editing a task:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Tasks</strong>.<br>
→ All own uncompleted tasks will be displayed because the filter for the progress is set to <strong>&lt;100%</strong> and the active user is pre-selected in the drop-down list <strong>Owner</strong> when opening the menu.<br></p>
</li>
<li>
<p>Click on <strong>Reset</strong> to remove the filters.</p>
</li>
<li>
<p>Select the filters. Pay attention to the information given in <a href="#table-search-tasks">[table-search-tasks]</a> in the <a href="/en/basics/working-with-plentymarkets/tasks-and-calendars#400">Searching for tasks</a> chapter.<br>
→ The tasks that correspond to the search criteria entered will be displayed.</p>
</li>
<li>
<p>Click in the line of the task.<br>
→ The task will open.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-create-task">[table-create-task]</a> in the <a href="/en/basics/working-with-plentymarkets/tasks-and-calendars#300">Creating a task</a> chapter.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="550">1.5. Displaying tasks on the dashboard</h3>
<div class="paragraph">
<p>You can have your uncompleted tasks displayed on the dashboard. This way you will see at a glance which tasks still need to be done when starting your working day.</p>
</div>
<div class="paragraph">
<p>Activate the checkbox next to the task when you have finished the task. This task will also be updated in the <strong>Start » Tasks</strong> menu and marked with <strong>100%</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Displaying tasks on the dashboard:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open your plentymarkets system.<br>
→ The dashboard will be displayed.</p>
</li>
<li>
<p>Select the element <strong>My tasks</strong> from the drop-down list.<br>
→ The <strong>My tasks</strong> area will be displayed on the dashboard from now on every time you open your plentymarkets system.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Click on <strong>Enter ToDo</strong> in the <strong>My tasks</strong> area to directly open the <strong>Start » Tasks</strong> menu and <a href="/en/basics/working-with-plentymarkets/tasks-and-calendars#300">create a new task</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">2. Managing calendars</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The calendar in the <strong>Start » Calendar</strong> menu allows you to make appointments and plan deadlines. This helps you organise your own and your employees' time and improve internal processes.</p>
</div>
<div class="paragraph">
<p>The calendar displays your appointments. In addition, it shows the appointments of any users whose calenders have been made visible to you and which you have activated in the <strong>filter</strong>.</p>
</div>
<div class="paragraph">
<p>You can choose to display the day, week or month. Click on the button <strong>Today</strong> to change to the view of the current day.</p>
</div>
<div class="paragraph">
<p>The filter shows a list of all users for which you at least have read permissions. Place a check mark to display a user’s appointments in your calendar. You can display the calendars of multiple users at the same time.</p>
</div>
<div class="sect2">
<h3 id="650">2.1. Setting the visibility of calendars for variable users</h3>
<div class="paragraph">
<p>In order that the <strong>Start » Tasks</strong> menu is visible for users with the user class <strong>Variable</strong>, the menu must be activated in the user account.</p>
</div>
<div class="paragraph instruction">
<p>Setting the visibility of calendars for variable users:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open the user with the user class <strong>Variable</strong> for whom you would like to activate the visibility of the menu.</p>
</li>
<li>
<p>Click on the <strong>Right</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>Menu</strong> tab.</p>
</li>
<li>
<p>Expand the <strong>Start</strong> area.</p>
</li>
<li>
<p>Activate the <strong>Calendar</strong> option.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="700">2.2. Setting a variable user as owner</h3>
<div class="paragraph">
<p>Except for the user classes <strong>API</strong> and <strong>Variable</strong>, all <a href="/en/basics/admin-tasks/manage-users#10">user classes</a> are automatically owner of a calendar. The calendar is not available for the user class <strong>API</strong>. For the <strong>Variable</strong> user class, rights need to be granted to use the calendar. To do so, proceed as described below.</p>
</div>
<div class="paragraph">
<p>The right assigned to a user can be deactivated in the <strong>Owner</strong> tab at any time.</p>
</div>
<div class="paragraph instruction">
<p>Setting a variable user as owner:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open the user with the user class <strong>Variable</strong> who you would like to set as calendar owner.</p>
</li>
<li>
<p>Click on the <strong>Owner</strong> tab.</p>
</li>
<li>
<p>Activate the <strong>Calendar</strong> option.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The new tab <strong>Calendar</strong> is visible and can be configured as described in the next chapter.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="800">2.3. Carrying out basic calendar settings and setting access rights for users</h3>
<div class="paragraph">
<p>Proceed as described below to carry out basic calendar settings such as saving the password and to set the access rights for users. You can select between the settings <strong>No access</strong>, <strong>Read</strong> and <strong>Read &amp; write</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out basic calendar settings and setting access rights for users:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open the user.</p>
</li>
<li>
<p>Click on the <strong>Calendar</strong> tab.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-calendar-basic-settings">[table-calendar-basic-settings]</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-calender-basic-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Carrying out basic calendar settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Server address</strong><br>
<strong>Server path</strong><br>
<strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatically saved by the system.<br>
The server address and server path are required for configuring an external calendar tool such as Google Calendar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A password must be entered during setup of the calendar account. This password will be required for the external calendar tools. The password can be changed at any time.<br>
<strong><em>Important:</em></strong> After saving, the password is no longer displayed and cannot be retrieved.<br>
If you use an external calendar tool, you might need to re-enter the password when the password is changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Repeat password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the password again to confirm it.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The description is displayed within the information and settings for the calendar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Right</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which users can access this owner’s calendar. Also select the type of access right assigned to these users. Users must to be assigned at least read permission in order to see the calendar.<br>
<strong>No access</strong> = The user has neither read nor write permissions for this owner’s calendar.<br>
<strong>Read</strong> = The user can view the calendar.<br>
<strong>Write</strong> = The user can edit and delete appointments in the calendar.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">2.4. Creating an appointment</h3>
<div class="paragraph">
<p>Proceed as described below to create an appointment. Depending on your access rights that are set according to <a href="#table-calendar-basic-settings">[table-calendar-basic-settings]</a> , you can also create appointments for other users. You can only create appointments for users for which you have write permissions. You cannot select users for which you do not have write permissions.</p>
</div>
<div class="paragraph instruction">
<p>Creating an appointment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Calendar</strong>.<br>
→ <strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.</p>
</li>
<li>
<p>Select the point in time of the appointment by clicking the time in the calendar.<br>
→ <strong><em>Tip:</em></strong> Select the time period for the appointment by clicking the start time and move the cursor to the end time of the appointment.</p>
</li>
<li>
<p>Carry out the settings in the <strong>Appointment details</strong> area. Pay attention to the information given in <a href="#table-create-appointment">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-create-appointment" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Creating an appointment</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Title</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Will be displayed in the calendar overview.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>All day</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Specifies that the appointment will last the entire day. In the daily and weekly view of the calendar, all appointments will be displayed in the top row. This helps to ensure that the calendar will not become cluttered.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>From / To</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The date and time are preselected but can be edited.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type of appointment from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Calendar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the owner you want to create the appointment for.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the description, e.g. further information about the appointment. This description is displayed in the appointment details and visible to all users with access rights to the calendar.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1000">2.5. Editing an appointment</h3>
<div class="paragraph">
<p>Click on an appointment to open the appointment details and edit the details.</p>
</div>
<div class="paragraph instruction">
<p>Editing an appointment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Calendar</strong>.</p>
</li>
<li>
<p>Click on the appointment that you would like to edit.<br>
→ The window <strong>Appointment details</strong> will be displayed.</p>
</li>
<li>
<p>Carry out the changes. Pay attention to the information given in <a href="#table-create-appointment">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1100">2.6. Deleting an appointment</h3>
<div class="paragraph">
<p>Delete appointments when they have been created by mistake or when they have become obselete.</p>
</div>
<div class="paragraph instruction">
<p>Deleting an appointment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Calendar</strong>.</p>
</li>
<li>
<p>Click on the appointment that you would like to delete.<br>
→ The window <strong>Appointment details</strong> will be displayed.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ The appointment will be deleted and removed from the calendar overview.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1200">2.7. Synchronising the calendar with external calendar tools</h3>
<div class="paragraph">
<p>You can use a <a href="https://en.wikipedia.org/wiki/CalDAV" target="_blank" rel="noopener">CalDAV</a> interface to synchronise your calendar with external calendar tools. For example, you can synchronise your calendar with tools such as Mac Calendar or iPad Calendar.</p>
</div>
<div class="paragraph">
<p>The option <strong>Calendar</strong> must be activated in the <strong>Owner</strong> tab of the user account as described in the <a href="/en/basics/working-with-plentymarkets/tasks-and-calendars#700">Setting a variable user as owner</a>. You need to know the settings for the user in order to carry out the configuration. The settings are saved in the user’s <strong>Calendar</strong> tab.</p>
</div>
<div class="paragraph">
<p>Refer to the external tool’s documentation to find out how to synchronise your plentymarkets calendar with the external calendar tool.</p>
</div>
</div>
</div>
</div>
</main>