<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Setting up payment methods</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Setting up PayPal</span></a></li>
<li><a href="#40"><span>1.2.</span><span> Setting up Cash in advance</span></a>
<ul class="sectlevel3">
<li><a href="#50"><span>1.2.1.</span><span> Carrying out the basic settings</span></a></li>
<li><a href="#60"><span>1.2.2.</span><span> Determining display options</span></a></li>
</ul>
</li>
<li><a href="#70"><span>1.3.</span><span> Setting up further payment methods</span></a></li>
</ul>
</li>
<li><a href="#80"><span>2.</span><span> Carrying out the basic settings for payments</span></a>
<ul class="sectlevel2">
<li><a href="#90"><span>2.1.</span><span> Determining rules for incoming payments</span></a></li>
<li><a href="#100"><span>2.2.</span><span> Saving a VAT number</span></a></li>
</ul>
</li>
<li><a href="#110"><span>3.</span><span> Check list</span></a></li>
<li><a href="#120"><span>4.</span><span> More about payment processing</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up payment processing</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
Have you already deactivated the plugin set <strong>standard-shop</strong>? Not yet? Return to <a href="/en/quick-start/quick-start-online-store-introduction">Setting up the online store: Introduction</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In your Ceres online store, you can offer your customers different payment methods. All payment methods are integrated using the plentymarkets plugin structure. Depending on your individual requirements, you can offer a multitude of payment methods in your online store.<br></p>
</div>
<div class="paragraph">
<p>This page explains how to integrate the payment methods PayPal and Cash in advance in your online store. In addition, we will provide you with information on how to carry out the basic settings that are needed to correctly process payments of all kinds in your plentymarkets system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Setting up payment methods</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the following, we will introduce the payment methods PayPal and Cash in advance and explain how to offer these payment methods in your online store.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Setting up PayPal</h3>
<div class="paragraph">
<p>The PayPal plugin is installed and activated by default in your plentymarkets system. This is shown by the blue globe symbol in the <strong>Plugins » Plugin overview</strong> menu.
To be able to use the PayPal plugin, you need to have a PayPal business account. After setting up a PayPal business account, carry out the following steps to set up the plugin.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the PayPal plugin:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Plugins » PayPal » Account settings</strong>.</p>
</li>
<li>
<p>Click on <span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span> to add a new PayPal account.</p>
</li>
<li>
<p>Enter the email address that you have used to create your PayPal business account.</p>
</li>
<li>
<p>Select the option <strong>Live environment</strong>, which activates the business account for payments made by your customers in the online store.<br>
<span class="icon"><i class="fa fa-map-signs"></i></span> <strong><em>Or:</em></strong> Select the <strong>Test environment</strong>, which is invisible for customers, and change the setting to the <strong>Live environment</strong> when you finished the setup.</p>
</li>
<li>
<p>Activate the option <strong>PayPal PLUS</strong> in case you have activated your PayPal business account for PayPal PLUS.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ You are automatically forwarded to PayPal.</p>
</li>
<li>
<p>Carry out the settings as displayed and required by PayPal.</p>
</li>
<li>
<p>Click on <strong>Back to plentymarkets</strong>.<br>
→ You are forwarded to your plentymarkets back end. There, the PayPal Quick setup opens.</p>
</li>
<li>
<p>Carry out the desired settings in the PayPal Quick setup. By clicking on the info icons on the right, you can access further information on the individual settings.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.<br>
→ Your PayPal account is set up using the selected settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If it becomes necessary to change settings for the PayPal plugin at a later point in time, pay attention to the detailed instruction in the description of the plugin <a href="https://marketplace.plentymarkets.com/en/plugins/payment/PayPal_4690" target="_blank" rel="noopener">here</a> in the plentyMarketplace.</p>
</div>
</div>
<div class="sect2">
<h3 id="40">1.2. Setting up Cash in advance</h3>
<div class="paragraph">
<p>With the payment method Cash in advance, your customers are asked to pay the invoice amount via bank transfer during the order process. You only ship the items when you have received payment for the order. As a seller, you are obligated by law to offer your customers a payment method in the online store that is free of additional charges and simple to use. For you as a seller, the Cash in advance plugin does not require you to pay any fees for using the payment method. Thus, we recommend setting up and using this payment method in any case.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Default payment method</div>
<div class="paragraph">
<p>The payment method <strong>Cash in advance</strong> is set as the default payment method for your online store in your plentymarkets system. You can change the default payment method in the <strong>Setup » Client » Standard Shop (Standard) » Orders</strong> at a later point in time. However, we recommend keeping the setting as it is.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="50">1.2.1. Carrying out the basic settings</h4>
<div class="paragraph">
<p>After installing the plugin, you have to carry out further settings to finish the setup process. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the Cash in advance plugin:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Plugins » Cash in advance</strong>.</p>
</li>
<li>
<p>Select the client <strong>Standard Shop</strong>.</p>
</li>
<li>
<p>Carry out the settings according to the information provided in <a href="#table-plugin-cash-in-advance-setup">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-plugin-cash-in-advance-setup" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Setting up the payment method <strong>Cash in advance</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the language in which the plugin should be set up. All subsequent settings are carried out in the language selected here. We recommend selecting the option <strong>English</strong> if you run your online store in the English language. You can set up additional languages at a later point in time (see the link at the end of this page).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the payment method as it should be displayed to customers during the checkout process in the online store. The name <strong>Cash in advance</strong> is set here by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optional: During the checkout and payment process, a link named “Details” can be displayed next to the name of the payment method. You can use this option to determine if an external or an internal information page containing information on the payment method should be opened when customers click on the link.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page internal/Info page external</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optional: Make sure to select the same option as with the previous setting for the <strong>Info page</strong>. If you have opted for displaying an internal info page before, select the corresponding option here as well. In addition, select the ID of the category in the online store in which the info page should be displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">We recommend selecting the option <strong>Standard logo</strong> here. Thus, the logo saved in the plugin will automatically be displayed for the payment method Cash in advance during the payment process. To display an individual logo, select the option <strong>Logo URL</strong> and make sure to pay attention to the following option <strong>Logo URL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you want to save an individually chosen logo, enter the https URL leading to the logo.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a descriptive text (150 characters at most) that is displayed for the payment method during the payment process.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the countries of delivery for which the payment method should be available. For example, if you only ship orders placed via your online store to Germany, only activate the option <strong>Germany</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Display data</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Designated use</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the text that should be displayed as the name for the field containing the designated use on the order confirmation page. The name <strong>Designated use</strong> is set here by default. We recommend adding the element <strong>Order ID %s</strong> in this field. The percentage sign serves as a place holder that displays the individual order ID in the designated use. This way, the payment can be assigned correctly in your plentymarkets system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show designated use</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option to display the designated use for the payment on the order confirmation page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show bank data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option to display the bank details necessary for transferring the invoice amount on the order confirmation page. This way, the bank details you have saved in the <strong>Setup » Settings » Bank</strong> are displayed.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="60">1.2.2. Determining display options</h4>
<div class="paragraph">
<p>In the next step, the settings concerning the <strong>Display data</strong> described in <a href="#table-plugin-cash-in-advance-setup">Table 1</a> require some adjustments in your plentymarkets back end. In the following, we will explain the necessary settings for displaying the bank details on the order confirmation page as well as displaying the Cash in advance logo in your online store.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Container links</div>
<div class="paragraph">
<p>The following instructions describe how to link so-called containers so that content is displayed correctly in your online store. Containers are a kind of frame to which certain kinds of content can be linked. You can define in the plugin itself which containers can be used for a plugin. This selection cannot be changed by end users or customers.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Displaying bank details on the order confirmation page:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Container links</strong>.</p>
</li>
<li>
<p>From the list, select the <strong>Cash in advance bank details (PrePayment)</strong> area (<span class="icon"><i class="fa fa-angle-down"></i></span>).</p>
</li>
<li>
<p>Activate the container <strong>Order confirmation: Additional payment information</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.<br>
→ The bank details are displayed on the order confirmation page of your online store.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Displaying the Cash in advance logo on the home page:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Container links</strong>.</p>
</li>
<li>
<p>Select the <strong>Cash in advance icon (PrePayment)</strong> area (<span class="icon"><i class="fa fa-angle-down"></i></span>).</p>
</li>
<li>
<p>Activate the container <strong>Homepage: Payment method container</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.<br>
→ The logo of the payment method Cash in advance will be displayed on the homepage of your online store.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="70">1.3. Setting up further payment methods</h3>
<div class="paragraph">
<p>The instructions above described how to set up the payment methods PayPal and Cash in advance. Depending on your wishes and the requirements of your customers, it can make sense to offer further payment methods in the online store at a later point in time. A big selection of further plugins is available in the <a href="https://marketplace.plentymarkets.com/plugins/payment" target="_blank" rel="noopener">Payment</a> area of the plentyMarketplace.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="80">2. Carrying out the basic settings for payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In addition to setting up the plugins for the payment methods, you have to carry out settings in your plentymarkets back end to make sure that payments are booked and processed correctly in your system. In addition, saving your VAT number is mandatory.</p>
</div>
<div class="sect2">
<h3 id="90">2.1. Determining rules for incoming payments</h3>
<div class="paragraph">
<p>For incoming orders to be processed as desired, carry out the settings concerning goodwill on payment and importing customer bank details.</p>
</div>
<div class="paragraph instruction">
<p>Determining rules for incoming payments:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Incoming</strong>.</p>
</li>
<li>
<p>Carry out the settings according to the information provided in <a href="#table-basic-settings-incoming-payment">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-basic-settings-incoming-payment" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Carrying out basic settings for incoming payments</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Match for automatic assignment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a value between <strong>0.7</strong> (no exact match required for assignment) and <strong>1.0</strong> (exact match required). If this value is set to a higher value, automatic matching of payments may not work properly in your plentymarkets system. Thus, a value of <strong>0.7</strong> is set here by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Goodwill on payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To avoid faulty payments due to internally calculated order sums (starting from the third decimal place), you should enter a minimal value of <strong>0.01</strong>. This means that payments with a deviation of € 0.01 are still booked as complete payments. If you select the value <strong>0.05</strong>, for example, payments that are up to 5 cents short of the original order amount are booked as complete payments.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Import customer bank data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether or not the customer’s <strong>bank data</strong> should be <strong>imported</strong> and saved in the respective  data record of the customer or not.<br>
<strong><em>Important:</em></strong> Because bank details can only be imported and saved after customers have agreed to the process, <strong>No</strong> is selected here by default. Before activating the option <strong>Yes</strong>, familiarise yourself with the current legislation as well as the existing GDPR regulations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Only assign incoming PayPal payment to corresponding eBay listing if attached to the payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">We recommend setting this option to <strong>Yes</strong> in any case if you are using eBay listings in combination with the payment method PayPal. If an eBay listing ID is attached to a PayPal ID and the option is activated, the payment is assigned to the exact order that has the respective eBay listing ID.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="100">2.2. Saving a VAT number</h3>
<div class="paragraph">
<p>The legally determined VAT rates of 19% and 7% are already set by default for the location Germany. In addition, indicating your VAT number is mandatory according to tax regulations. Proceed as described below to save a VAT number for your location.</p>
</div>
<div class="paragraph instruction">
<p>Saving a VAT number:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client</strong> » <em>Select client</em> » <strong>Locations</strong> » <em>Select location</em> » <strong>Accounting</strong>.</p>
</li>
<li>
<p>Open the <strong>VAT rates</strong> tab.</p>
</li>
<li>
<p>Enter your VAT number in the <strong>VAT number</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Locations and tax settings</div>
<div class="paragraph">
<p>The settings on VAT rates and all other options in the <strong>Accounting</strong> tab depend on the selected location. This means that you have to submit the correct VAT rates for each additional delivery country outside the country in which you are located. In case of any questions or insecurities, we generally recommend consulting your tax advisor. For information on further possible accounting settings, pay attention to the links at the end of this page.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="110">3. Check list</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Work through the check list in order to review your settings for preparing payment processing.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Did you <a href="#20">set up</a> the PayPal plugin?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Did you <a href="#30">deactivate</a> the PayPal plugin in case you do not want to offer this payment method in the online store?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Did you <a href="#50">set up</a> the Cash in advance plugin?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Did you <a href="#60">select the appropriate containers</a> so that all information regarding the Cash in advance plugin are displayed in the online store?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Did you determine the rules for <a href="#90">incoming payments</a>?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Did you save your <a href="#100">VAT number</a>?</p>
</li>
<li>
<p>[&nbsp;] Did you discuss possible questions regarding <a href="#100">tax settings</a> with your tax advisor?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="120">4. More about payment processing</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/orders/accounting">Accounting</a></p>
</li>
<li>
<p><a href="/en/payment/managing-payments">Managing payments</a></p>
</li>
<li>
<p><a href="/en/payment/managing-bank-details#63">Saving the customer’s bank details</a></p>
</li>
<li>
<p><a href="/en/payment/best_practices_paypal">Best Practices: PayPal-Plugin</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/paypal_4690" target="_blank" rel="noopener">Further information on the PayPal plugin in the plentyMarketplace</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment/PrePayment_4758" target="_blank" rel="noopener">Further information on the Cash in advance plugin in the plentyMarketplace</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Continue with <a href="/en/quick-start/quick-start-shipping-options">setting up shipping options</a>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>