<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_more_about_plugins"><span>1.</span><span> More about plugins</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Adding plugins to the system</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
Have you already created document templates for invoices and reversal documents? Not yet? Return to <a href="#quick-start/quick-start-preparing-order-processing">preparing order processing</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>As you have already seen, you can extend the functionality of your online store by using plugins. Some plugins are installed on your system by default, but there are many more ways to customise plentymarkets. To illustrate this, we are going to add a new plugin to the system, install it and set it up.</p>
</div>
<div class="paragraph">
<p>This new plugin will give customers the opportunity to rate the items we offer in our shop. It will also show this feedback to other potential customers. We can accomplish this with the Customer feedback plugin. You can get this plugin for free on plentyMarketplace.</p>
</div>
<div class="paragraph instruction">
<p>Adding plugins to the system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Click on <strong>plentyMarketplace</strong>.<br>
→ The marketplace opens in a new tab.</p>
</li>
<li>
<p>Use the search to find the Customer feedback plugin.<br>
→ The search results are displayed.</p>
</li>
<li>
<p>Click on the Customer feedback plugin.<br>
→ The item detail view opens.</p>
</li>
<li>
<p>Click on <strong>Go to checkout</strong>.<br>
→ The purchase view opens.</p>
</li>
<li>
<p>Accept the GTC by checking the box.</p>
</li>
<li>
<p>Click on <strong>Order now</strong>.<br>
→ A message confirms the purchase. A few minutes later, the plugin will appear as an uninstalled plugin in your system.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Setup methods</div>
<div class="paragraph">
<p>The item detail view of each plugin describes how to set it up. For the purposes of this quick start, we will also take a look at all necessary settings below.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Let us install our new plugin now. The procedure is the same as when you installed the Cash in advance plugin in the previous chapter.</p>
</div>
<div class="paragraph instruction">
<p>Installing the Customer feedback plugin in a set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>If you are not still in this menu, go to <strong>Plugins » Plugin overview</strong>.</p>
</li>
<li>
<p>Adjust the filter options and <strong>Search</strong> for <strong>Not installed</strong> plugins. <br>
→ You will see a list of all plugins not currently installed in this set.</p>
</li>
<li>
<p>In the <strong>Customer feedback</strong> row, click on <strong>Install plugin</strong> in the <strong>Action</strong> column.<br>
→ A new window opens, allowing you to select the version you want to install. Click on <strong>Install</strong>.<br>
→ The plugin is installed and is then available in the plugin overview of the plugin set. The overview shows all currently installed plugins.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Once the plugin has been installed, you can start setting it up. However, first we have to activate the plugin, so that it we can actually use it in our online store later on.</p>
</div>
<div class="paragraph instruction">
<p>Activating Customer feedback in the set:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In the Customer feedback row, click on <strong>Inactive</strong> in the <strong>Active</strong> column.<br>
→ The plugin is activated.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Let us now have a look at the settings. In some cases, like <strong>Cash in advance</strong>, the settings are carried out in the system menu. In others, like <strong>Customer feedback</strong>, you have to carry out the settings directly in the plugin overview.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Customer feedback:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the Customer feedback plugin.<br>
→ The plugin detail view opens. The <strong>Configuration</strong> tab is already open.</p>
</li>
<li>
<p>Select the options <strong>Release feedbacks automatically</strong>, <strong>Show date for the feedback</strong> and <strong>Allow adding feedbacks only if the item was purchased</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>This way, customers can give feedback for an item after purchasing it. If another customers view the same item, the feedback will be displayed automatically.</p>
</div>
<div class="paragraph">
<p>Finally, we have to ensure that the feedback is actually visible in our online store. This means we have to create some container links.</p>
</div>
<div class="paragraph instruction">
<p>Setting up container links:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Container links</strong>.</p>
</li>
<li>
<p>Open the drop-down list <strong>Feedback Javascript (Feedback)</strong>.</p>
</li>
<li>
<p>Select <strong>Script loader: Register/load JS</strong>.</p>
</li>
<li>
<p>Open the drop-down list <strong>Feedback CSS (Ceres) (Feedback)</strong>.</p>
</li>
<li>
<p>Select <strong>Template: Style</strong>.</p>
</li>
<li>
<p>Open the <strong>Feedback ratings (Feedback</strong>) drop-down list.</p>
</li>
<li>
<p>Select <strong>Single item: Container for customer feedback</strong>.</p>
</li>
<li>
<p>Open the <strong>Feedback category ratings (Feedback</strong>) drop-down list.</p>
</li>
<li>
<p>Select <strong>Category item list: Before prices container</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the links.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>This concludes the setup. Now customers can rate items after purchasing them. In the next chapter, we will return to one of the default plugins: Ceres. You can use this plugin to change the design of your online store.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_more_about_plugins">1. More about plugins</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/plugins">Managing plugins</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Continue with <a href="/en/quick-start/quick-start-online-store">setting up the Ceres online store</a>.
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>