<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Booking stock</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Booking stock</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
Have you already set up your item catalogue? Not yet? Return to <a href="/en/quick-start/quick-start-item-catalogue">Setting up a catalogue of items</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>All incoming items have to be booked into your stock management system. Depending on the amount of items you want to add, you can use different menus. For other options than the one explained here, refer to the <a href="/en/stock-management/new-incoming-items">New incoming items</a> manual page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Booking stock</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following section describes how to book new stock.</p>
</div>
<div class="paragraph instruction">
<p>Booking stock:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » New incoming items</strong>.</p>
</li>
<li>
<p>Click on <strong>New incoming items</strong>.</p>
</li>
<li>
<p>Select a supplier by entering the name.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
<li>
<p>Click on <strong>Add item</strong>.<br>
→ A new window for searching and selecting items opens.</p>
</li>
<li>
<p>Enter search terms and select filter options. Pay attention to the information given in <a href="#filter-items">Table 1</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ The items that match the search criteria are listed.</p>
</li>
<li>
<p>Enter the <strong>Purchase price</strong> (optional).</p>
</li>
<li>
<p>Enter the <strong>Quantity</strong> (mandatory).<br>
→ The item is automatically selected after entering a quantity.</p>
</li>
<li>
<p>Select a <strong>Storage location</strong> from the drop-down list.<br>
→ If you have not yet saved a storage location for an item, you can specify a new storage location here as well. To do so, click on <strong>Search</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Enter the <strong>RRP</strong> (optional).<br>
→ The RRP will be applied to the item data once the incoming items data record is approved.</p>
</li>
<li>
<p>To the right of the <strong>Procedures</strong> column, click on <strong>Add item</strong>.<br>
→ The item is added to the incoming items data record.</p>
</li>
</ol>
</div>
<table id="filter-items" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Item filters</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Searches item name 1 and the item’s meta keywords.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets all of the filter settings, so that all items are displayed regardless of supplier. After the reset, click on <strong>Search</strong> to update the item list.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Click on <strong>Back to incoming items</strong> to return to the overview of the incoming items data record.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Correcting stock</div>
<div class="paragraph">
<p>Correct the stock if you have already booked stock for the main item and now want to specify how many of those items are in each variation.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Continue with <a href="/en/quick-start/quick-start-online-store">setting up the Ceres online store</a>.
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>