<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Required hardware, operating systems and browsers</span></a></li>
<li><a href="#600"><span>2.</span><span> Troubleshooting</span></a></li>
<li><a href="#200"><span>3.</span><span> Using the plentymarkets app</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>3.1.</span><span> Managing business data with the plentymarkets app</span></a></li>
<li><a href="#400"><span>3.2.</span><span> Managing stock with the plentymarkets app</span></a></li>
</ul>
</li>
<li><a href="#500"><span>4.</span><span> Using plentyPOS</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>System requirements</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page lists the requirements that your hardware and internet connection need to fulfil if you wish to use plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Required hardware, operating systems and browsers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The requirements listed in <a href="#table-general-requirements">Table 1</a> allow you to work efficiently with plentymarkets. The system’s performance may be limited if you do not meet the specified values. You may have permanent performance problems if you are using old hardware or a PC that has been poorly maintained.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Access via browser</div>
<div class="paragraph">
<p>plentymarkets functions best with the Google Chrome browser. However, you can also access plentymarkets using Mozilla Firefox or Safari (Mac OS). This limitation only applies to the admin area. Your online store can be accessed with all of the typical internet browsers.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-general-requirements" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Requirements</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Requirement</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Processor</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2 x 2 GHz<br>
If you are working with a Windows operating system, you need at least an Intel Core 2 processor.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Memory</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">8 GB</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Resolution</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1920 x 1080</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Internet connection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Permanent connection<br>
<strong><em>Note:</em></strong> The transfer rate should match the number of users.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operating system</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>64 bit</p>
</li>
<li>
<p>Windows 7 or higher</p>
</li>
<li>
<p>Mac OS X 10.10 or higher</p>
</li>
<li>
<p>Linux</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The performance may be limited if you are using other operating systems, server operating systems or virtual machines.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Browser</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="http://www.google.com/chrome/" target="_blank" rel="noopener">Google Chrome</a> Version 46 or higher</p>
</li>
<li>
<p><a href="http://www.mozilla.com/" target="_blank" rel="noopener">Mozilla Firefox</a> Version 43 or higher</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> These browser requirements do not apply to your customers. Your customers can use a W3C compliant web browser of their choice in order to purchase items in your online store.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">2. Troubleshooting</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following points may cause problems if you are working with plentymarkets.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Your browser is not up-to-date. Check your browser’s version. If a newer version is available, update your browser.</p>
</li>
<li>
<p>Your CPU is busy. If your CPU is already running at full capacity due to normal operating procedures, then you should close programmes that you do not need at the time.</p>
</li>
<li>
<p>Your memory is too small. Check the size of your memory. We recommend a minimum capacity of 8 GB.</p>
</li>
<li>
<p>Your Java version is not up-to-date. Check the Java version installed on your computer and check if a later version exists. Install the current version.</p>
</li>
<li>
<p>Your hard drive is more than 70% full and has not been changed in years. Depending on the operating system and the quality of the hardware, you will notice a significant decrease in performance after two years. Delete any unnecessary files or reinstall the system. Another cost-effective solution would be to purchase a newer and more powerful hard drive/SSD.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. Using the plentymarkets app</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The plentymarkets app allows you to access key values and search customer, item and order data. You need a mobile Android or iOS device for these functions. In addition, the plentymarkets app allows you to perform stock management tasks and to use the point of sale system plentyPOS. The next sections provide information on the hardware you need in order to use these functions.</p>
</div>
<div class="sect2">
<h3 id="300">3.1. Managing business data with the plentymarkets app</h3>
<div class="paragraph">
<p>If you want to use the plentymarkets app to manage business data and do not want to operate a POS or manage stock, all you need is a mobile Android or iOS device. <a href="#table-requirements-plenty-app">Table 2</a> lists the hardware requirements for the plentymarkets app if you want to access key values and other business data only.</p>
</div>
<table id="table-requirements-plenty-app" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Managing business data with the plentymarkets app</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Requirements</th>
<th class="tableblock halign-left valign-top">App download</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Android devices with OS version 4.2.2 or higher</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://play.google.com/store/apps/details?id=eu.plentymarkets.mobile&amp;hl=en" target="_blank" rel="noopener">plentymarkets App in Google Play</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">iOS devices with version 8 or higher</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://itunes.apple.com/app/plentymarkets/id957702618" target="_blank" rel="noopener">plentymarkets App in iTunes</a></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">3.2. Managing stock with the plentymarkets app</h3>
<div class="paragraph">
<p>If you want to use the plentymarkets app for managing the stock of your warehouse, we recommend the hardware listed in <a href="#table-stock-management-app">Table 3</a>.</p>
</div>
<table id="table-stock-management-app" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Managing stock with the plentymarkets app</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Hardware</th>
<th class="tableblock halign-left valign-top">Where to buy in Germany</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">M3 SM10 Mobile Computer<br>
(Android 5.1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://www.sundsits.de/M3SM10-Mobile-Computer-WiFi-und-LTE" target="_blank" rel="noopener">www.sundsits.de/M3SM10-Mobile-Computer-WiFi-und-LTE</a><br></p>
<p class="tableblock">SundS ITS<br>
Beselerstr. 2-6<br>
50354 Hürth
Germany<br>
<a href="mailto:info@sundsits.de">info@sundsits.de</a><br>
Phone: +49(0)2233-7064010 +49(0)2233-7064010<br>
Fax: +49(0)2233-7064011<br>
<a href="https://www.sundsits.de" target="_blank" rel="noopener">www.sundsits.de</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Honeywell Dolphin 75e<br>
(Android 4.4.4)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.globos.de/produkte/honeywell-dolphin-75e-mobilecomputer" target="_blank" rel="noopener">www.globos.de/produkte/honeywell-dolphin-75e-mobilecomputer</a></p>
<p class="tableblock">GLOBOS Logistik- und Informationssysteme GmbH<br>
Ahrensburger Straße 1<br>
30659 Hannover
Germany<br>
<a href="mailto:vertrieb@globos.de">vertrieb@globos.de</a><br>
Phone: +49(0)2233-7064010 +49 (511) 76920-0<br>
Fax: +49 (511) 76920-250<br>
<a href="http://www.globos.de" target="_blank" rel="noopener">www.globos.de</a></p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">4. Using plentyPOS</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The point of sale system plentyPOS is an optional component of the plentymarkets app. However, please note that there are additional hardware requirements for using plentyPOS. <a href="#table-supported-hardware-plentymarkets-pos">Table 4</a> shows the hardware that plentyPOS is compatible with. The table also shows the devices on which plentymarkets tests new releases before publication.</p>
</div>
<table id="table-supported-hardware-plentymarkets-pos" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Hardware compatible with plentyPOS</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Device type</th>
<th class="tableblock halign-left valign-top">General requirements</th>
<th class="tableblock halign-left valign-top">Tested devices</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operating systems</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Android devices with OS version 4.2.2 and higher, ARM processor and device classes Small, Normal, Large and X-Large. You can find out the DPI of a mobile device e.g. <a href="http://dpi.lv/" target="_blank" rel="noopener">here</a>.
*iOS devices (iPad, iPhone, iPod) with OS version 8 and higher<br>
→ There are some limitations regarding the use of Bluetooth scanners on iOS devices.<br>
→ POS with location in Austria can be operated on Android devices only.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>For every regular release</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Elo Touch Solutions I-Series 15I1 - E021201</p>
</li>
<li>
<p>Advantech UPOS-211 sundsits edition</p>
</li>
<li>
<p>Honeywell Dolphin 75e (Android 4.4.4)</p>
</li>
<li>
<p>M3 SM10 (Android 5.1)</p>
</li>
<li>
<p>Samsung Galaxy Tab A 6 - SM-T580</p>
</li>
<li>
<p>Apple iPad Air 2</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Regularly</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Samsung Galaxy Tab A - SM-T555</p>
</li>
<li>
<p>Samsung Galaxy Tab 4 - SM-T530</p>
</li>
<li>
<p>Apple iPad Mini Retina</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Selectively</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Samsung Galaxy S4</p>
</li>
<li>
<p>Apple iPhone 6</p>
</li>
<li>
<p>Apple iPad Mini</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Receipt printer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>*ePos-Print API
* Printers with LAN or WLAN only</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>EPSON TM-M30</p>
</li>
<li>
<p>EPSON TM-T88V-i (QR code printing)</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Scanner</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Scanners with USB or Bluetooth only</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Inateck BCST-10 (Bluetooth)</p>
</li>
<li>
<p>Albasca USB hand scanner MK-1000 (untested but used by several customers)</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer displays</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>In combination with receipt printer EPSON TM-M30 only</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>EPSON DM-D30</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Card terminals</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Requires a payment provider contract</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Ingenico iPP480 with printer (operating mode <strong>ZVT</strong>, connection type <strong>TCP/IP</strong>) - requires the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/ingenicozvt_5140" target="_blank" rel="noopener">Ingenico ZVT plugin</a></p>
</li>
<li>
<p>Verifone H5000 with printer (operating mode <strong>ZVT</strong>, connection type <strong>TCP/IP</strong>) - requires the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/VerifoneZVT_5504" target="_blank" rel="noopener">Verifone ZVT plugin</a></p>
</li>
<li>
<p>CCV VX 680 with printer (operating mode <strong>ZVT</strong>, connection type <strong>TCP/IP</strong>) - requires the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/VerifoneZVT_5504" target="_blank" rel="noopener">Verifone ZVT plugin</a></p>
</li>
<li>
<p>SumUp Air - requires the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/sumup_5141" target="_blank" rel="noopener">SumUp plugin</a><br>
<strong><em>Note:</em></strong> You need to activate access to location (geolocation positioning) on the mobile device on which the plentymarkets app is installed to use the SumUp Air with plentyPOS.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>If you have any questions or want to report an issue, you can use the <a href="https://forum.plentymarkets.com/" target="_blank" rel="noopener">forum</a>.</p>
</div>
</div>
</div>
</main>