<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Prepared settings</span></a></li>
<li><a href="#200"><span>2.</span><span> Activating countries of delivery</span></a></li>
<li><a href="#300"><span>3.</span><span> Grouping countries of delivery into regions</span></a></li>
<li><a href="#400"><span>4.</span><span> Setting up shipping service providers</span></a></li>
<li><a href="#500"><span>5.</span><span> Setting up a shipping profile</span></a></li>
<li><a href="#600"><span>6.</span><span> Setting up the table of shipping charges</span></a></li>
<li><a href="#650"><span>7.</span><span> Setting up the DHL Shipping (Versenden) plugin</span></a></li>
<li><a href="#660"><span>8.</span><span> Registering the shipment</span></a></li>
<li><a href="#700"><span>9.</span><span> Check list</span></a></li>
<li><a href="#800"><span>10.</span><span> More about shipping options</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up shipping options</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
Have you already set up the payment methods PayPal and cash in advance? Not yet? Return to <a href="/en//quick-start/quick-start-setting-up-payment-processing">payment processing</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>On this page, we tell you how to prepare your system so it is ready for shipping items: You determine to which countries you send your items and group these countries into regions. Grouping countries into regions is necessary for saving the shipping costs since shipping costs cannot be saved for single countries of delivery, but for regions only. Furthermore, you set up the shipping service provider and the shipping profile including the shipping costs.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Prepared settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Some settings have already been prepared in your system for you so that you are able to start even faster with selling your items:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>the countries of delivery <em>Germany</em> and <em>United Kingdom</em> are active</p>
</li>
<li>
<p>the region <strong>Germany</strong> with the country of delivery <em>Germany</em> is created</p>
</li>
<li>
<p>the shipping service provider <strong>DHL</strong> is created<br>
→ it is necessary that you carry out further settings here</p>
</li>
<li>
<p>the shipping profile for DHL is created<br>
→ it is necessary that you carry out further settings here</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>How to change the pre-selected options and carry out further settings is described in the following chapters.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Activating countries of delivery</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The countries of delivery <em>Germany</em> and <em>United Kingdom</em> are activated in your system by default. Proceed as described in the following to set up further countries of delivery.</p>
</div>
<div class="paragraph instruction">
<p>Activating countries of delivery:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Shipping » Settings</strong>.<br>
→ The <strong>Countries of delivery</strong> tab opens.</p>
</li>
<li>
<p>Use the drop-down list in the <strong>Active</strong> column to set countries of delivery to <strong>Active</strong>.</p>
</li>
<li>
<p>In the <strong>Warehouse</strong> column, select which warehouse should be chosen as the default warehouse for the respective country’s orders.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Grouping countries of delivery into regions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activated countries of delivery must be grouped into regions. Creating regions is necessary since you can determine the shipping costs only for regions and not for single countries. Group all countries of delivery with the same shipping costs and the same shipping service provider-specific services to one region.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example: Countries of delivery Germany and Spain</div>
<div class="paragraph">
<p>It is not possible to assign the countries of delivery Germany and Spain to one region: parcels within Germany are sent with <em>DHL Paket national</em>; parcels from Germany to Spain, however, are sent with <em>DHL Paket international</em>.</p>
</div>
<div class="paragraph">
<p>Therefore, it is important that you carefully consider in advance how you would like to group the countries of delivery. A useful example for sellers in Germany is to group their countries of delivery into the regions <em>Domestic</em>, <em>Europe</em> and <em>Rest of world</em>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The region <strong>Germany</strong> with the country of delivery Germany is already saved in your system by default.</p>
</div>
<div class="paragraph">
<p>Proceed as described in the following to create further regions.</p>
</div>
<div class="paragraph instruction">
<p>Grouping countries of delivery into regions:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Shipping » Settings</strong>.</p>
</li>
<li>
<p>Open the <strong>Regions » New region</strong> tab.</p>
</li>
<li>
<p>Enter a name for the region, e.g. <em>Europe</em>.</p>
</li>
<li>
<p>Select the countries that you have just activated for this region under <strong>Available countries</strong>.<br>
→ The countries are moved to <strong>Selected countries</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The new region is now available in the <strong>Overview</strong> tab.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Setting up shipping service providers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Now you learn how to set up the shipping service provider <strong>DHL Shipping (Versenden)</strong>. Therefore, it is required that you register with the shipping service provider in advance.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a shipping service provider:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Shipping » Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Shipping service provider</strong> tab.<br>
→ The shipping service provider <strong>DHL</strong> is already available in the system.</p>
</li>
<li>
<p>If required, change the name of the shipping service provider in the fields <strong>Name (en)</strong> and <strong>Name (back end)</strong>.<br>
→ <strong>Name (en)</strong> is visible to your customers in the online store as well as on invoices. <strong>Name (back end)</strong> is not visible to customers. It serves for internal use for you and your employees.</p>
</li>
<li>
<p>Select the shipping service provider <strong>DHL Shipping (Versenden)</strong> from the drop-down list <strong>Shipping service provider</strong>.</p>
</li>
<li>
<p>The DHL tracking URL is already saved. Pay attention to the tracking URL information in the green box.</p>
</li>
<li>
<p>Enter the address of the shipping service provider.<br>
→ This is required in order to work in compliance with GDPR. For further information, refer to the <a href="/en/fulfilment/preparing-the-shipment#800">Preparing the shipment</a> page of the manual.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Proceed as described in the <a href="/en/fulfilment/preparing-the-shipment#800">Creating a shipping service provider</a> chapter of our manual to create further shipping service providers in the same way.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tracking URL</div>
<div class="paragraph">
<p>The tracking URL is used to track shipments. If you save the URL in the <strong>System » System settings » Orders » Shipping » Settings » Tab: Shipping service provider</strong> menu and add the template variable <strong>$TrackingURL</strong> to the email template for the shipping confirmation, your customer can click on the URL in the email to track when the parcel will arrive.</p>
</div>
<div class="paragraph">
<p>The DHL tracking URL is already saved in your system.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Setting up a shipping profile</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, a shipping profile is required so that right from the very beginning the correct shipping conditions are available for the order of your customer and the shipping process can be processed properly.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Keep the shipping profiles simple</div>
<div class="paragraph">
<p>Keep your shipping profiles as simple as possible. The more complex the settings are, the more likely it is that errors occur. In addition, shipping cost models that are too complex may confuse customers and ultimately deter them from making a purchase.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up a shipping profile:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Shipping » Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Shipping profile</strong> tab.</p>
</li>
<li>
<p>Click on the DHL shipping profile.<br>
→ The <strong>Base</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-set-up-shipping-profile">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-set-up-shipping-profile" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Setting up a shipping profile</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Every shipping profile automatically receives an ID when it is saved. This ID cannot be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping service provider</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the shipping service provider <strong>DHL Shipping (Versenden)</strong> for this shipping profile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name that is shown to your customers in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name (back end)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name used for internal reference in the plentymarkets back end only. This name is not visible to the customer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The flag <strong>1</strong> is selected for DHL by default. The flag is shown in the order overview, for example.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The highest priority is selected by default. The priority determines the order in which shipping profiles are shown during the checkout process in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The lowest category is selected by default. The category determines when a shipping profile is shown in the checkout.<br>
<strong><em>Note:</em></strong> Tips and tricks about the category settings can be found in our <a href="/en/fulfilment/preparing-the-shipment#1300">manual</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate for new items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to assign this shipping profile to new items by default.<br>
Select the option <strong>Activate for new items</strong> in at least one shipping profile. In doing so, new items are always assigned to this one profile at minimum. It is not possible to ship an item if it is not linked to at least one shipping profile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Clients (stores)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All clients are activated by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All order referrers are activated by default. Deactivate the order referrers accordingly when the shipping profile should only apply to certain orders. At least one shipping profile should contain the order referrer <strong>ALL</strong>. This guarantees that there is at least one shipping profile available for all orders.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">6. Setting up the table of shipping charges</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After you have created the shipping profile, you should take care of the shipping costs. For each region that you created, an individual table of shipping charges must be set up.</p>
</div>
<div class="paragraph">
<p>Before you enter values, you have to choose a calculation type for each region. By default, the calculation type <strong>Flat rate</strong> is set.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the table of shipping charges:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Shipping » Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Shipping profile</strong> tab.</p>
</li>
<li>
<p>Open the DHL shipping profile.<br>
→ The <strong>Base</strong> tab opens.</p>
</li>
<li>
<p>Click on the <strong>Table of shipping charges</strong> tab.</p>
</li>
<li>
<p>Expand the region <strong>Germany</strong>.</p>
</li>
<li>
<p>The calculation type <strong>Flat rate</strong> is selected in your system by default.</p>
</li>
<li>
<p>If required, change the amount in the <strong>Flat rate shipping charge</strong> field. The amount EUR 5.99 is selected by default.</p>
</li>
<li>
<p>If required, change the amount for the item value in the <strong>No shipping costs for orders for values over</strong> field from which deliveries should take place free of charge for the customer. The amount EUR 250.00 is selected by default.</p>
</li>
<li>
<p>If required, also change the values in the fields <strong>From an item value of …​</strong> and <strong>…​ flat rate shipping charge of</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="650">7. Setting up the DHL Shipping (Versenden) plugin</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The DHL Shipping (Versenden) plugin is already installed and activated in your plentymarkets system in the <strong>Plugins » Plugin overview</strong> menu. Therefore, it is visible in the <strong>System » System settings » Orders » Shipping » DHL Shipping</strong> menu. You have to carry out some settings in this menu:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Carrying out the basic settings</p>
</li>
<li>
<p>Saving the DHL billing number</p>
</li>
<li>
<p>Saving the shipper data</p>
</li>
<li>
<p>Carrying out shipping settings</p>
</li>
<li>
<p>Activating the productive mode</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Please have a look at the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/DHLShipping_4871" target="_blank" rel="noopener">user guide of the DHL Shipping (Versenden) plugin</a> in the plentyMarketplace. In the user guide, all settings are described that you need to carry out in order to send your items via the interface for DHL Shipping.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="660">8. Registering the shipment</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As soon as an order is in your system, you register the order with the shipping service provider – either manually or automatically using a process.</p>
</div>
<div class="paragraph">
<p>You can only use processes when you installed the plentyBase tool. Using processes is aimed at advanced plentymarkets users. Processes are therefore not further explained in the quick start. Pay attention to the links at the end of this page in order to obtain more information about setting up processes.</p>
</div>
<div class="paragraph instruction">
<p>Registering the shipment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Select the option <strong>open</strong> from the drop-down list <strong>Shipping status</strong>.</p>
</li>
<li>
<p>Select the option <strong>DHL Shipping</strong> from the drop-down list <strong>Shipping service provider</strong>.</p>
</li>
<li>
<p>Click on the magnifying glass.<br>
→ You see a list of shipping orders for DHL Shipping that have not been registered yet.</p>
</li>
<li>
<p>Click on the <strong>Register</strong> tab.</p>
</li>
<li>
<p>Select the option <strong>DHL Shipping (Versenden)</strong> from the drop-down list <strong>Shipping service provider</strong>.</p>
</li>
<li>
<p>Select the order status from the drop-down list <strong>Change order status</strong>. Select the status that you want the orders to receive after they are registered.<br>
<strong><em>Tip:</em></strong> Changing the order status can be combined with an event procedure which, for example, automatically books outgoing items.</p>
</li>
<li>
<p>Place a checkmark for the orders that you want to register.</p>
</li>
<li>
<p>Click on <strong>Register</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>After you have successfully registered the order, the shipping label is available in the registered order. Print this label and affix it to the package.</p>
</div>
<div class="paragraph">
<p>Pay attention to the links at the end of this page in order to obtain further information about how to register a shipping order.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">9. Check list</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Work through the check list in order to review your settings for the shipping options.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Countries of delivery: Did you activate all countries which you want to send your items to and did you assign the countries to a warehouse?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Countries of delivery: Did you group all countries of delivery with the same shipping costs into a region?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Shipping service provider: Did you create a shipping service provider?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Table of shipping charges: Did you set up tables of shipping charges for all regions?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Item: Did you link your items with the shipping profile?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Shipping profile: Did you select the option <strong>Activate for new items</strong> for at least one shipping profile?</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> DHL plugin: Did you carry out all settings in the <strong>System » System settings » Orders » Shipping » DHL Shipping</strong> menu?</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="800">10. More about shipping options</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/crm/managing-contacts#15">Creating a customer class</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/payment" target="_blank" rel="noopener">Methods of payment</a></p>
</li>
<li>
<p><a href="/en/fulfilment/preparing-the-shipment#100">Setting up countries of delivery</a></p>
</li>
<li>
<p><a href="/en/fulfilment/preparing-the-shipment#400">Creating a region</a></p>
</li>
<li>
<p><a href="/en/fulfilment/preparing-the-shipment#800">Creating a shipping service provider</a></p>
</li>
<li>
<p><a href="/en/fulfilment/preparing-the-shipment#1000">Creating a shipping profile</a></p>
</li>
<li>
<p><a href="/en/fulfilment/preparing-the-shipment#1500">Creating a table of shipping charges</a></p>
</li>
<li>
<p><a href="/en/fulfilment/preparing-the-shipment#1600">Selecting a calculation type in the table of shipping charges</a></p>
</li>
<li>
<p><a href="/en/orders/order-referrer#_activating_an_order_referrer#">Activating the order referrer</a></p>
</li>
<li>
<p><a href="#automation/processes/setting-up-processes">Setting up processes</a></p>
</li>
<li>
<p><a href="/en/fulfilment/shipping-centre#register-shipping-order">Registering a shipping order</a></p>
</li>
<li>
<p><a href="/en/automation/event-procedures">Creating event procedures</a></p>
</li>
<li>
<p><a href="/en/fulfilment/best-practices-dhl#_dhl_troubleshooting#">DHL troubleshooting</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Continue to <a href="/en/quick-start/quick-start-catalogue-of-items">Setting up a catalogue of items</a>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>