<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Bei ADU-Inkasso registrieren</span></a></li>
<li><a href="#20"><span>2.</span><span> Einstellungen bei ADU-Inkasso vornehmen</span></a></li>
<li><a href="#30"><span>3.</span><span> Bearbeitungsstatus einsehen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: ADU-Inkasso</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>ADU-Inkasso</strong> in Callisto Shops. Die folgenden Anleitungen sind somit nicht für Ceres Shops gültig!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Mit der Einrichtung von <a href="http://www.adu-inkasso.de/home/" target="_blank" rel="noopener">ADU-Inkasso</a> (Allgemeiner Debitoren- und Inkassodienst GmbH) in plentymarkets hast du die Möglichkeit, deine offenen Forderungen ab einer zuvor definierten Mahnstufe automatisiert an ADU-Inkasso zu übergeben. Der Bearbeitungsstatus offener Forderungen ist im Backend sichtbar. Erfahre, wie du die Schnittstelle zu ADU-Inkasso in deinem plentymarkets System einrichtest.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Bei ADU-Inkasso registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Dienstleistung von ADU-Inkasso zu nutzen, musst du dich zunächst bei <a href="https://www.auskunft.inkassounternehmen.de/?action=register" target="_blank" rel="noopener">ADU-Inkasso</a> registrieren. Nach erfolgreicher Registrierung und Abschluss des Inkasso-Dienstleistungsvertrags erhältst du deine Zugangsdaten zum Online-Portal von ADU-Inkasso.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Einstellungen bei ADU-Inkasso vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Schnittstelle zu aktivieren, logge sich mit den Zugangsdaten im <a href="https://www.auskunft.inkassounternehmen.de" target="_blank" rel="noopener">Online-Portal von ADU-Inkasso</a> ein und öffne das Menü <strong>Aktenimport</strong>. Nimm dort folgende Einstellungen vor.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Zugangsdaten eingeben</p>
</li>
<li>
<p>PlentyID und SOAP-WSDL eingeben. Diese Informationen findest du im Menü <strong>Einrichtung » Einstellungen » API » Daten</strong>.</p>
</li>
<li>
<p>Logidaten speichern</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Bei Abschluss der Schnittstellenaktivierung hast du die Möglichkeit, einen <a href="/auftraege/auftraege-verwalten#1200">Auftragsstatus</a> zu wählen, um die offenen Forderungen im ausgewählten Status im Online-Portal anzuzeigen. Darüber hinaus legst du in den Einstellungen fest, ob die Übermittlung der Forderungen an ADU-Inkasso automatisch oder manuell erfolgen soll. Weitere Informationen dazu findest du bei ADU-Inkasso unter <a href="http://www.adu-inkasso.de/fileadmin/user_upload/Beschreibung_plentymarkets.pdf" target="_blank" rel="noopener">Inkasso-Schnittstellenbeschreibung</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Bearbeitungsstatus einsehen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nach erfolgreicher Forderungsübergabe wird der Mahnlauf umgehend gestartet. Den Bearbeitungsstatus der übergebenen Forderung kannst du jederzeit in deinen Aufträgen im plentymarkets System in der Kundennotiz einsehen. Gleichzeitig kannst du für detaillierte Informationen direkt aus der Kundennotiz (<a href="#bild-informationen-kundennotiz">Bild 1</a>) heraus auf das Online-Portal von ADU-Inkasso zugreifen. Somit hast du deine Forderungen jederzeit im Blick.</p>
</div>
<div class="paragraph instruction">
<p>Kundennotiz anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Kontakte</strong>.</p>
</li>
<li>
<p>Suche den Kontakt anhand der Filtereinstellungen wie im Kapitel <a href="/crm/kontakte-verwalten#200">Kontakt suchen</a> beschrieben.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicke in die Zeile des Kontakts.<br>
→ Die Detailansicht des Kontakts wird geöffnet.</p>
</li>
<li>
<p>Klicke im Kontextmenü auf <strong>Notizen</strong>.<br>
→ Das Fenster <strong>Notizen zum Kunden</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke in der Notiz auf <strong>zu ADU Inkasso</strong>.<br>
→ Du wirst in das Online-Portal von ADU-Inkasso weitergeleitet.</p>
</li>
</ol>
</div>
<div id="bild-informationen-kundennotiz" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/payment/assets/DE-ADU-Inkasso-03-SI.png" alt="DE ADU Inkasso 03 SI">
</div>
<div class="title">Bild 1. Informationen in der Kundennotiz</div>
</div>
</div>
</div>
</main>