<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a></li>
<li><a href="#20"><span>2.</span><span> Bezahlvorgang mit Amazon Pay</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> SSL-Zertifikat</span></a></li>
</ul>
</li>
<li><a href="#40"><span>3.</span><span> Bei Amazon Pay registrieren</span></a></li>
<li><a href="#50"><span>4.</span><span> Amazon Pay in Callisto einrichten</span></a></li>
<li><a href="#60"><span>5.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#70"><span>6.</span><span> Amazon Pay im Callisto Webshop anzeigen</span></a>
<ul class="sectlevel2">
<li><a href="#80"><span>6.1.</span><span> Amazon-Pay-Widgets anzeigen</span></a></li>
<li><a href="#90"><span>6.2.</span><span> ItemViewItemToBasketConfirmationOverlay anpassen</span></a></li>
<li><a href="#100"><span>6.3.</span><span> ItemViewBasketPreviewList anpassen</span></a></li>
<li><a href="#110"><span>6.4.</span><span> Kategorie Warenkorb anpassen</span></a></li>
<li><a href="#120"><span>6.5.</span><span> Kategorie Anmeldung anpassen</span></a></li>
</ul>
</li>
<li><a href="#130"><span>7.</span><span> Benachrichtigungen automatisch senden</span></a>
<ul class="sectlevel2">
<li><a href="#140"><span>7.1.</span><span> Versandbestätigungen automatisch senden</span></a></li>
<li><a href="#150"><span>7.2.</span><span> Stornierungen automatisch senden</span></a></li>
<li><a href="#160"><span>7.3.</span><span> Rückerstattungen automatisch senden</span></a></li>
<li><a href="#170"><span>7.4.</span><span> Abgelehnte Zahlungen automatisch melden</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: Amazon Pay</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>Amazon Pay</strong> für Callisto Shops. Für die Verwendung von <strong>Amazon Pay</strong> in Ceres Shops erhältst du ausführliche Informationen in der Beschreibung des Plugins im <a href="https://marketplace.plentymarkets.com/plugins/payment/AmazonLoginAndPay_5072" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong>Bezahlen mit Amazon</strong> ist eine umfassende Zahlungslösung für Online-Händler. Durch <strong>Bezahlen mit Amazon</strong> gibst du Millionen von Amazon-Kunden die Möglichkeit, sicher auf deiner Website einzukaufen, ohne Versand- und Zahlungsinformationen erneut einzugeben. Kunden können Einkäufe rasch abschließen, ohne deine Website zu verlassen. Die Besonderheit der Advanced-Option von Bezahlen mit Amazon liegt darin, dass sie eine reine Zahlungsabwicklung bietet. Du übermittelst nur den zur Abwicklung der Transaktion notwendigen Zahlungsbetrag – ohne Details zum Warenkorb oder zu Artikeldaten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel findest du wichtige Hinweise zur Integration des Zahlungsanbieters in plentymarkets.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Amazon Pay und Webshop-Design</div>
<div class="paragraph">
<p>Beachte, dass für die erfolgreiche Integration von Amazon Pay in plentymarkets folgende Bedingungen erfüllt sein müssen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verwendung des Standard-Designs Callisto (ab Version 3.4)</p>
</li>
<li>
<p>Nutzung des Individuellen Bestellvorgangs</p>
</li>
<li>
<p>Sicherer Umgang mit dem plentymarkets CMS</p>
</li>
<li>
<p>Erfahrung mit der Einrichtung von Zahlungsdienstleistern</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Lieferzeiten beachten</div>
<div class="paragraph">
<p>Aufträge mit der Zahlungsart Amazon Pay sollten innerhalb von 30 Tagen abgewickelt werden, da sie sonst nach 30 Tagen automatisch storniert werden. Wenn du generell Artikel mit längeren Lieferzeiten verkaufst, kontaktiere bitte den Kundensupport von Amazon Pay. In Ausnahmefällen kann die 30-Tage-Frist verlängert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Bezahlvorgang mit Amazon Pay</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem der Kunde einen Artikel in den Warenkorb gelegt hat (Template: <strong>ItemViewItemToBasketConfirmationOverlay</strong>), wird eine Schaltfläche angezeigt (Template-Variable: <strong>$AmazonPaymentsAdvancedButton</strong>). Über diese Schaltfläche wird der Kunde direkt zu Amazon Pay weitergeleitet. Der Kunde muss sich daraufhin bei Amazon Pay einloggen. Der Kunde wird dann im Webshop durch die Widgets zur Bestätigung der Versandadresse sowie der Zahlungsart geführt. Danach durchläuft er die weiteren Schritte im Bestellvorgang wie üblich. Erst nach Abschluss der Bestellung wird die Zahlung durch Amazon Pay veranlasst.<br>
Die Bezahlung mit Amazon Pay kann auch aus dem Warenkorb heraus ausgeführt werden, wenn dort die entsprechende Schaltfläche angeklickt wird. Außerdem besteht die Möglichkeit, Amazon Pay erst im Checkout bei der Auswahl der Zahlungsart zu wählen. Hierbei wird der Kunde auf die Amazon-Pay-Seite weitergeleitet. Der oben beschriebene Ablauf erfolgt.</p>
</div>
<div class="sect2">
<h3 id="30">2.1. SSL-Zertifikat</h3>
<div class="paragraph">
<p>Zum einen benötigt dein Webshop ein <a href="/basics/admin-aufgaben/plentymarkets-konto#ssl-zertifikat">SSL-Zertifikat</a>, damit du die Zahlungsart Amazon Pay nutzen kannst. Außerdem ist es notwendig, nach der Konfiguration bzw. Änderungen das <a href="/omni-channel/online-shop/webshop-einrichten/cms#webdesign-webdesign-bearbeiten">Design zu veröffentlichen</a>, da verschiedene Elemente der Zahlungsart im <strong>CMS</strong> eingebunden sind.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="40">3. Bei Amazon Pay registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du benötigst für die Zahlungsart <strong>Amazon Pay</strong> ein separates Konto für Amazon. Das im Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen</strong> angelegte Amazon Seller Central-Konto kannst du für die Zahlungsart Amazon Pay nicht nutzen. Der Registrierungsprozess als Händler bei <strong>Bezahlen mit Amazon</strong> wird im <a href="https://www.plentymarkets.eu/documents/category/2077/Login-und-Bezahlen-Registrierungshandbuch-DE-v1-2.pdf" target="_blank" rel="noopener">Amazon-Pay-Registrierungshandbuch</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Typischerweise dauert der Vorgang der Eröffnung eines Händlerkontos inklusive Verifikation 1 bis 2 Wochen. In der Zwischenzeit erhältst du weitere Anweisungen von Amazon Pay per E-Mail. Stelle sicher, dass diese E-Mails dem richtigen Bearbeiter weitergeleitet werden und folge den darin enthaltenen Anweisungen, um unnötige Verzögerungen zu vermeiden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Händler-URL und Integrator-URL eingeben</div>
<div class="paragraph">
<p>Du musst bei Amazon Pay unter Händler-URL und Integrator-URL <strong>dein-plentyshop.de/plenty/api/payment_notification.php?payment=apa</strong> eingeben. Ersetze <strong>dein-plentyshop.de</strong> durch die Adresse deines Shops. Die Adresse deines Shops findest du z.B. im Menü <strong>Einrichtung » Einstellungen » API » Daten</strong> unter <strong>Host</strong>. Das Protokoll <strong>https://</strong> muss eingegeben werden. Die Vorgehensweise wird auch im <a href="https://www.plentymarkets.eu/documents/category/2077/Login-und-Bezahlen-Registrierungshandbuch-DE-v1-2.pdf" target="_blank" rel="noopener">Amazon-Pay-Registrierungshandbuch</a> beschrieben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="50">4. Amazon Pay in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Schnittstelle zu Amazon Pay für deinen Callisto Shop in plentymarkets einzurichten, gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu Amazon Pay einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Amazon Pay</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klappe den Mandanten auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-schnittstelleneinrichtung-amazon-pay">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnittstelleneinrichtung-amazon-pay" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Schnittstelle zu Amazon Pay einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Händler-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Händler-ID eingeben, wie von Amazon erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marktplatz-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Land wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MWS Access Key ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">MWS Access Key ID eingeben, wie von Amazon erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Secret Key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Secret Key eingeben, wie von Amazon erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sandbox-Modus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> = Testmodus ist aktiv, um die Zahlungsart zu testen.<br>
<strong>Nein</strong> = Testmodus ist ausgeschaltet, d.h. die Schnittstelle ist aktiv.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AddressWidget Width</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl von Pixeln eingeben, um die Breite des Amazon Adress-Widgets festzulegen. Das Adress-Widget von Amazon wird statt der Auswahl der Lieferanschrift des Webshops angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AddressWidget Height</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl von Pixeln eingeben, um die Höhe des Amazon Adress-Widgets festzulegen. Das Adress-Widget von Amazon wird statt der Auswahl der Lieferanschrift des Webshops angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AddressWidget ReadOnly Width</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl von Pixeln eingeben, um die Breite des Amazon Adress-Widgets in der Bestellübersicht festzulegen. Das Adress-Widget von Amazon in der Bestellübersicht ist nicht editierbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WalletWidget Width</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl von Pixeln eingeben, um die Breite des Amazon Zahlungsarten-Widgets festzulegen. Dieses Widget wird im Checkout anstelle der Auswahl der Zahlungsarten angezeigt, sofern Amazon Pay gewählt wurde. Damit wird dem Kunden die gewählte Zahlungsart angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WalletWidget Height</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl von Pixeln eingeben, um die Höhe des Amazon Zahlungsarten-Widgets festzulegen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WalletWidget ReadOnly Width</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl von Pixeln eingeben, um die Breite des Amazon Zahlungsarten-Widgets in der Bestellübersicht festzulegen. Die gewählte Zahlungsart wird in der Bestellübersicht in diesem Widget angezeigt und ist nicht editierbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit wählen.<br>
<strong>1</strong> - <strong>10</strong> = Nur Artikel bis zu der eingestellten Verfügbarkeit können mit Amazon Pay bezahlt werden.<br>
<strong>Nicht prüfen</strong> = Die Verfügbarkeit der Artikel wird nicht geprüft.<br>
Die <a href="/artikel/artikel-verwalten#170">Verfügbarkeit</a> wird im Tab einer Variante eingestellt.<br>
<strong>Wichtig:</strong> Amazon Pay verlangt generell den Versand eines Artikels innerhalb von maximal 30 Tagen. Andernfalls wird die Zahlung storniert.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Ein Konto pro Mandant (Shop)</div>
<div class="paragraph">
<p>Du benötigst für jeden Mandanten ein separates Konto bei Amazon Pay. Im Tab <strong>Schnittstelle</strong> findest du deshalb für jeden Mandanten ein eigenes Untermenü. Gib dort die individuellen Zugangsdaten für jeden Shop ein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="60">5. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte die <a href="/payment/zahlungsarten-verwalten#20">Zahlungsart</a> Amazon Pay im Tab <strong>Einstellungen</strong> der Zahlungsart ein. Prüfe zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="70">6. Amazon Pay im Callisto Webshop anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Optional zur standardmäßigen Anzeige von Amazon Pay im Webshop kannst du mit den Template-Funktionen <strong>Container_CheckoutAmazonPaymentsAdvancedAddressWidget()</strong> und <strong>Container_CheckoutAmazonPaymentsAdvancedPaymentWidget()</strong> das Adress-Widget und das Payment-Widget für Amazon Pay individuell in deinem Webshop anordnen. Außerdem findest du nachfolgend Beispiele für die Integration der Schaltfläche <strong>Bezahlen mit Amazon</strong> an den passenden Stellen im Design.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Keine Anpassungen am aktiven Design vornehmen</div>
<div class="paragraph">
<p>Nimm keine Änderungen an deinem aktiven Design vor. Bevor du Änderungen an deinem Design vornimmst, lege eine Sicherungskopie an, damit du jederzeit wieder zum Ursprungszustand zurückgelangst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="80">6.1. Amazon-Pay-Widgets anzeigen</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um das Adress-Widget und das Payment-Widget für Amazon Pay im Bestellvorgang anzuzeigen.</p>
</div>
<div class="paragraph instruction">
<p>Amazon-Pay-Widgets im Bestellvorgang anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffne den Ordner des Designs, das du bearbeiten möchtest, z.B. Callisto Light 3.</p>
</li>
<li>
<p>Öffne die Kategorie <strong>Zahlung &amp; Versand</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Beschreibung 1</strong>.</p>
</li>
<li>
<p>Füge das Code-Beispiel an der gewünschten Stelle ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph subhead">
<p>Code-Beispiel für Amazon-Pay-Widgets:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">Unresolved directive in &lt;stdin&gt; - include::assets/EX-DE-Amazon-Payments-Advanced-Zahlung-Versand.html[]</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="90">6.2. ItemViewItemToBasketConfirmationOverlay anpassen</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Schaltfläche <strong>Bezahlen mit Amazon</strong> im Overlay für den Warenkorb an gewünschter Stelle einzubinden. Das Overlay wird angezeigt, nachdem der Kunde bei einem Artikel auf <strong>In den Warenkorb</strong> klickt.</p>
</div>
<div class="paragraph instruction">
<p>ItemViewItemToBasketConfirmationOverlay anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>Layout » ItemView</strong>.</p>
</li>
<li>
<p>Öffne das Template <strong>ItemViewItemToBasketConfirmationOverlay</strong>.</p>
</li>
<li>
<p>Füge das Code-Beispiel an der gewünschten Stelle ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph subhead">
<p>Code-Beispiel für die Integration der Schaltflächen <strong>Bezahlen mit Amazon</strong> im Overlay:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">Unresolved directive in &lt;stdin&gt; - include::assets/EX-DE-Amazon-Payments-Advanced-Overlay.html[]</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="100">6.3. ItemViewBasketPreviewList anpassen</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Schaltfläche <strong>Bezahlen mit Amazon</strong> in der Warenkorbvorschau anzuzeigen.</p>
</div>
<div class="paragraph instruction">
<p>ItemViewBasketPreviewList anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>Layout » ItemView</strong>.</p>
</li>
<li>
<p>Öffne das Template <strong>ItemViewBasketPreviewList</strong>.</p>
</li>
<li>
<p>Füge das Code-Beispiel an der gewünschten Stelle ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph subhead">
<p>Code-Beispiel für die Integration der Schaltfläche <strong>Bezahlen mit Amazon</strong> in der Warenkorbvorschau:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">Unresolved directive in &lt;stdin&gt; - include::assets/EX-DE-Amazon-Payments-Advanced-Warenkorbvorschau.html[]</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="110">6.4. Kategorie Warenkorb anpassen</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Schaltfläche <strong>Bezahlen mit Amazon</strong> im Warenkorb anzuzeigen.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie Warenkorb anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffne den Ordner des Designs, das du bearbeiten möchtest, z.B. Callisto Light 3.</p>
</li>
<li>
<p>Öffne die Kategorie <strong>Warenkorb</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Beschreibung 1</strong>.</p>
</li>
<li>
<p>Füge das Code-Beispiel an der gewünschten Stelle ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph subhead">
<p>Code-Beispiel für die Integration der Schaltfläche <strong>Bezahlen mit Amazon</strong> im Warenkorb:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">Unresolved directive in &lt;stdin&gt; - include::assets/EX-DE-Amazon-Payments-Advanced-Warenkorb.html[]</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="120">6.5. Kategorie Anmeldung anpassen</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Schaltfläche <strong>Bezahlen mit Amazon</strong> auf der Anmeldeseite anzuzeigen.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie Anmeldung anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffne den Ordner des Designs, das du bearbeiten möchtest, z.B. Callisto Light 3.</p>
</li>
<li>
<p>Öffne die Kategorie <strong>Anmeldung</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Beschreibung 1</strong>.</p>
</li>
<li>
<p>Füge das Code-Beispiel an der gewünschten Stelle ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph subhead">
<p>Code-Beispiel für die Integration der Schaltflächen <strong>Bezahlen mit Amazon</strong> in der Anmeldung:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">Unresolved directive in &lt;stdin&gt; - include::assets/EX-DE-Amazon-Payments-Advanced-Anmeldung.html[]</code></pre>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="130">7. Benachrichtigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mithilfe der in deinem plentymarkets System verfügbaren Ereignisaktionen kannst du die Kommunikation mit Kunden automatisieren, die Amazon Pay als Zahlungsart für ihre Aufträge gewählt haben. Im Folgenden werden die Ereignisaktionen für das automatische Versenden von <a href="/payment/zahlungsanbieter/amazon-pay#80">Versandbestätigungen</a>, <a href="/payment/zahlungsanbieter/amazon-pay#90">Stornierungen</a> sowie für die Abwicklung von <a href="/payment/zahlungsanbieter/amazon-pay#100">Rückerstattungen</a> und die Meldung <a href="/payment/zahlungsanbieter/amazon-pay#150">abgelehnter Zahlungen</a> beschrieben.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hinweis zum Versenden von Bestellbestätigungen</div>
<div class="paragraph">
<p>Analog zu den unten beschriebenen Ereignisaktionen kannst du eine Ereignisaktion für den automatischen Versand von Bestellbestätigungen per E-Mail einrichten. Beachte hierbei jedoch, dass Amazon Pay die E-Mail-Adressen von Kunden erst in dein plentymarkets System übermittelt, wenn die Kunden die Zahlung getätigt haben. Um Fehler zu vermeiden empfehlen wir, die Ereignisaktion so einzurichten, dass die E-Mail nicht bei Auftragseingang, sondern bei Zahlungseingang verschickt wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="140">7.1. Versandbestätigungen automatisch senden</h3>
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Versandbestätigungen automatisch zu versenden, nachdem der Warenausgang gebucht wurde. Das Buchen des Warenausgangs und das Versenden der Versandbestätigung sollten nicht in einer Ereignisaktion erfolgen. Sonst kann es passieren, dass der Versand bestätigt wird, bevor der Warenausgang gebucht wurde. Richte daher eine separate Ereignisaktion zur Buchung des Warenausgangs ein, die gleichzeitig den Status z.B. auf 7.1 ändert. Den Statuswechsel nutzt du dann wiederum bei der Ereignisaktion zur Versandbestätigung als Ereignis, damit nur für Aufträge im festgelegten Status eine Versandbestätigung gesendet wird. Den gewünschten Status musst ggf. vorher im Menü <a href="/auftraege/auftraege-verwalten#1200">Einrichtung » Aufträge » Status</a> erstellen.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 2.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 2 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion zum automatischen Buchen des Warenausgangs</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Warenausgang gebucht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon Pay</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Status ändern</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 3.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 3 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Senden von Versandbestätigungen an Amazon Pay</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status aus vorheriger Ereignisaktion wählen.</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon Pay</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand &gt; Versandbestätigung an Amazon Pay senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="150">7.2. Stornierungen automatisch senden</h3>
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Amazon automatisch über Stornierungen zu informieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 4.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 4 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion zum automatischen Senden von Stornierungen an Amazon Pay</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status für <strong>stornierte Aufträge</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon Pay</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Stornierung an Amazon Pay senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="160">7.3. Rückerstattungen automatisch senden</h3>
<div class="paragraph">
<p>Damit die Rückerstattung korrekte Beträge aufweist, erstelle einen <strong>Auftragsstatus</strong> für <strong>Retouren</strong> von Amazon Pay, der sicherstellt, dass die Retoure geprüft wurde und korrekt ist. Entsprechende Retouren müssen dann in diesen speziell dafür angelegten Auftragsstatus für Retoren gesetzt werden. Dieser Auftragsstatus sollte eine treffende Bezeichnung erhalten, z.B. <strong>Retoure geprüft</strong>, und muss bei den folgend beschriebenen Ereignisaktionen gespeichert werden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 5.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 5 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktion zum automatischen Senden von Rückerstattungen an Amazon Pay</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status für <strong>geprüfte Retouren</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon Pay</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Rückerstattung an Amazon Pay senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Alternativ kannst du die Rückerstattung auch über den Auftrag veranlassen. Erstelle einen Auftragsstatus für Gutschriften von Amazon Pay, der sicherstellt, dass die Gutschrift geprüft wurde und korrekt ist. Entsprechende Gutschriften müssen dann in diesen Auftragsstatus gesetzt werden. Dieser Auftragsstatus sollte eine treffende Bezeichnung erhalten, z.B. Gutschrift geprüft. Speichere diesen Auftragsstatus bei den folgend beschriebenen Ereignisaktionen.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 6.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 6 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Ereignisaktion zum automatischen Senden von Rückerstattungen an Amazon Pay</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status für die <strong>Gutschrift an Amazon Pay</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutschrift</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon Pay</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Rückerstattung an Amazon Pay senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="170">7.4. Abgelehnte Zahlungen automatisch melden</h3>
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um deine Kunden automatisch über abgelehnte Zahlungen zu informieren. Damit von Amazon abgelehnte Zahlungen automatisch per E-Mail an den Kunden und per Statuswechsel an dich gemeldet werden, erstelle einen <strong>Auftragsstatus</strong> für <strong>abgelehnte Zahlungen</strong> von Amazon Pay oder nutze einen vorhandenen Auftragsstatus.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 7.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 7 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Ereignisaktion zum automatischen Melden von abgelehnten Zahlungen durch Amazon Pay</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlung: Abgelehnt</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon Pay</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunde &gt; E-Mail versenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Vorlage wählen;<br>
<strong>Kunde</strong> wählen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Status ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsstatus wählen, z.B. <strong>[3.2] In Warteposition</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>