<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> atriga-Konditionen für plentymarkets</span></a></li>
<li><a href="#20"><span>2.</span><span> Bei atriga registrieren</span></a></li>
<li><a href="#30"><span>3.</span><span> Schnittstelle zu atriga einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>3.1.</span><span> atriga Inkasso einrichten</span></a></li>
<li><a href="#50"><span>3.2.</span><span> Bonitätsprüfung atrigapaymax einrichten</span></a></li>
</ul>
</li>
<li><a href="#60"><span>4.</span><span> Gültigkeit der Kaufabwicklungs-URL ändern</span></a></li>
<li><a href="#70"><span>5.</span><span> Aufträge übergeben</span></a>
<ul class="sectlevel2">
<li><a href="#_aufträge_manuell_übergeben"><span>5.1.</span><span> Aufträge manuell übergeben</span></a></li>
<li><a href="#90"><span>5.2.</span><span> Aufträge automatisch übergeben</span></a></li>
</ul>
</li>
<li><a href="#100"><span>6.</span><span> Fehlgeschlagene Inkassoübergaben erneut übergeben</span></a></li>
<li><a href="#110" "=""><span>7.</span><span> Zahlungseingang für bereits übergebene Aufträge melden</span></a></li>
<li><a href="#120" "=""><span>8.</span><span> Design für Bonitätsprüfung anpassen</span></a></li>
<li><a href="#130" "=""><span>9.</span><span> Inkasso-Übergaben anzeigen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>atriga</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets hast du die Möglichkeit, sowohl nur <a href="http://gateway.atriga.com/dls/services/?DID=400005000" target="_blank" rel="noopener">atriga Inkasso</a> zu nutzen als auch atriga Inkasso in Verbindung mit der Bonitätsprüfung von <a href="http://www.atriga.de/co/atriga/paymax/paymax.html" target="_blank" rel="noopener">atrigapaymax</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. atriga-Konditionen für plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für plentymarkets Kunden entstehen keinerlei Inkassokostenvorschüsse und keine Kosten bei Nichterfolg. Im Erfolgsfall erhältst du 100% Auszahlung. Ganz nach deiner Wahl, entweder online per DebitManager, E-Mail und/oder RSS-Feed, bist du jederzeit über den Ablauf der Inkassoaufträge informiert. In das atriga-<a href="http://gateway.atriga.com/dls/services/?DID=400002000" target="_blank" rel="noopener">Inkassoverfahren</a> ist die SCHUFA-Prüfung* deines Schuldners kostenfrei für dich integriert. Die Prüfung ermöglicht eine solide Einschätzung darüber, wie es um deinen Schuldner wirtschaftlich steht.</p>
</div>
<div class="paragraph subhead">
<p>Die atriga-Garantie</p>
</div>
<div class="paragraph">
<p>Durch atriga Inkasso entstehen keine nachträglichen Kosten – auch nicht im Nichterfolgsfall. Wird die Gesamtforderung bezahlt, erhältst du 100% deiner Haupt- und Nebenforderungen einschließlich Zinsen. Deshalb kannst du sofort – auch bei kleinen Rechnungsbeträgen – ohne Kostenrisiko professionelle Hilfe in Anspruch nehmen.<br>
Durch die SCHUFA-Prüfung* deines Schuldners passt atriga das Inkassoverfahren auf dessen wirtschaftliche Situation an und stellt sicher, dass alle Maßnahmen ergriffen werden, die zu einem Ausgleich deinerr offenen Forderung führen können (z.B.: individuell mit dir abgestimmte schriftliche Mahnungen, auch per E-Mail, Telefax und SMS, Meldung des Zahlungsverhaltens deines Schuldners an die SCHUFA* telefonischer Kontakt mit dem Schuldner durch geschulte atriga-Mitarbeiter und Juristen, persönlicher Schuldnerbesuch möglich, anschließendes Rechtsanwaltsmahnverfahren).</p>
</div>
<div class="paragraph subhead">
<p>Mahnverfahren Plus</p>
</div>
<div class="paragraph">
<p>Entscheide dich – falls notwendig – für die Durchführung eines gerichtlichen Mahnverfahrens, entstehen dir bei guter Schuldnerbonität nur Kosten für externe Vorschüsse (z.B. Gerichtsgebühren, Gerichtsvollziehergebühren), die du ohnehin bis zur Rückzahlung durch den Schuldner verauslagen müsstest.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>bei Firmen nur eingeschränkt möglich</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Bei atriga registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Registriere dich online kostenfrei und unverbindlich im atriga <a href="http://dm.atriga.de/" target="_blank" rel="noopener">DebitManager™</a>. <br>
Am Ende der Registrierung erhältst du eine atriga-Kundennummer. Die atriga-Kundennummer sendest du einfach per E-Mail an <a href="mailto:info@atriga.com">info@atriga.com</a>. Gib das Stichwort „plentymarkets“ im Betreff der E-Mail an, um die oben beschriebenen Konditionen zu erhalten. atriga stellt deinen Status dann auf plentymarkets Kunden um. Nach der Umstellung erhältst von atriga eine Nachricht und kannst anschließend die automatisierte Übertragung der Inkassomandate einrichten. <br>
Sobald dein Schuldner zahlt, möchte atriga dir dein Guthaben möglichst noch am selben Tag überweisen. Hierfür benötigt atriga noch vor der Freischaltung eine von dir autorisierte Kontoverbindung, die du unter <strong>Bankverbindungen</strong> in deinem DebitManager™ hinterlegst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Schnittstelle zu atriga einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Schnittstelle ist in 2 Abschnitte unterteilt. Zusätzlich zur Aktivierung von atriga Inkasso kannst du auch die Bonitätsprüfung atrigapaymax aktivieren.</p>
</div>
<div class="sect2">
<h3 id="40">3.1. atriga Inkasso einrichten</h3>
<div class="paragraph">
<p>Für die Einrichtung der Schnittstelle benötigst du deinen Authentifizierungscode von atriga. Den Authentifizierungscode findest du im Backend deines DebitManager™. Damit der Authentifizierungscode bei atriga erstellt und angezeigt wird, muss die Abfrage für das XML-Interface freigeschaltet sein. Nachdem du deinen Authentifizierungscode kopiert hast, nimmst du die die folgenden Einstellungen in plentymarkets vor.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu atriga Inkasso einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » atriga</strong>.</p>
</li>
<li>
<p>Fügen den kopierten <strong>Authentifizierungscode</strong> ein.</p>
</li>
<li>
<p>Gib den numerischen Teil deiner <strong>Kunden-ID</strong> ein.<br>
→ z.B. 5555 bei der Kundennummer a-DE.0005555.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Kunden-ID finden</div>
<div class="paragraph">
<p>Die Kunden-ID ist der Teil deiner atriga-Kundennummer ab der ersten Ziffer größer 0. Du findest die Kundennummer im sogenannten <strong>InfoPanel</strong> im DebitManager™. Wenn deine Kundennummer z.B. a-DE.00123456 ist, gibst du in plentymarkets 123456 ein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="50">3.2. Bonitätsprüfung atrigapaymax einrichten</h3>
<div class="paragraph">
<p>Wie du die Bonitätsprüfung atrigapaymax einrichtest, erfährst du im Folgenden. Bei jedem Einkauf eines Kunden erfolgt eine Prüfung.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">atrigapaymax und Webshop-Design</div>
<div class="paragraph">
<p>Beachte, dass für die erfolgreiche Integration von atriga in plentymarkets folgende Bedingungen erfüllt sein müssen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verwendung des Standard-Designs Callisto (ab Version 3.4)</p>
</li>
<li>
<p>Verwendung der plentymarketsCMStools (ab Version 1.08)</p>
</li>
<li>
<p>Nutzung des Individuellen Bestellvorgangs</p>
</li>
<li>
<p>Sicherer Umgang mit dem plentymarkets CMS</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Bonitätsprüfung atrigapaymax einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » atriga</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-einstellungen-atriga">Tabelle 1</a>.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-atriga" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen für eine Bonitätsprüfung mit atrigapaymax</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Überprüfungsmethode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachträgliche Bonitätsprüfung</strong> = der Kunde gibt sein Einverständnis zur Prüfung und wird anschließend geprüft. Wenn er sein Einverständnis nicht gibt, stehen ihm die Zahlungsarten Rechnung, Lastschrift und Kreditkarte nicht zur Verfügung. Für die Prüfung sind Anpassungen an deinem Design notwendig. Im Template <a href="/payment/zahlungsanbieter/atriga#120">PageDesignPrepareMainColumn</a> müssen die Template-Variablen <strong>AtrigaRequireUserConfirmation</strong> und <strong>AtrigaShowValidationError</strong> angepasst werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindest-Warenkorbwert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Betrag, ab dem die Bonität geprüft wird. Wenn nichts eingegeben wurde, wird ab 0 Euro geprüft.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximaler Warenkorbwert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Betrag, bis zu dem die Bonität geprüft wird. Wenn der Warenkorbwert höher ist als der hier eingegebene Wert, wird keine Prüfung durchgeführt und dem Kunden werden die Zahlungsarten Lastschrift, Rechnungskauf und Kreditkarte nicht angeboten. Die Eingabe ist optional.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Abweichende Lieferanschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob für die 3 Zahlungsarten, für die eine Bonitätsprüfung durchgeführt wird, eine abweichende Lieferadresse erlaubt sein soll.<br>
<strong>nur an Rechnungsanschrift erlaubt</strong> = Eine abweichende Lieferadresse ist nicht erlaubt.<br>
<strong>an separate Lieferanschrift erlaubt</strong> = Eine abweichende Lieferadresse ist erlaubt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erlaubte Zahlungsart nach Bonität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bonitätsergebnisse wählen, für die die Zahlungsart angezeigt wird.<br>
<strong>Grün</strong> = Die Zahlungsart wird nur Kunden mit grünem Bonitätsergebnis angezeigt.<br>
<strong>Gelb</strong> = Die Zahlungsart wird nur Kunden mit gelbem Bonitätsergebnis angezeigt.<br>
<strong>Rot</strong> = Die Zahlungsart wird nur mit rotem Bonitätsergebnis angezeigt.<br>
Mehrfachwahl möglich, um eine Zahlungsart für mehrere Bonitätsergebnisse anzeigen zu lassen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph subhead">
<p>Keine nachträgliche Änderung der Zahlungsart erlaubt</p>
</div>
<div class="paragraph">
<p>Wenn atrigapaymax aktiviert ist, kann ein registrierter Kunde die Zahlungsart eines Auftrags in seinem Konto nicht nachträglich ändern, selbst dann nicht, wenn du im Menü <strong>Einrichtung » Mandant » Mandant wählen » Bestellvorgang » Einstellungen</strong> für die Einstellung <strong>Nachträgliche Änderung von Aufträgen erlauben</strong> die Option <strong>JA</strong> gewählt hast.</p>
</div>
<div class="paragraph subhead">
<p>Bei fehlgeschlagener Prüfung erhält der Kunde negative Bonität</p>
</div>
<div class="paragraph">
<p>Wenn eine Bonitätsprüfung fehlschlägt, werden für den Kunden die Einstellungen eines negativen, d.h. roten, Bonitätsergebnisses berücksichtigt. Ob eine Prüfung fehlgeschlagen ist, kannst du im <a href="/daten/api-log">API-Log</a> nachvollziehen. Die Prüfung ist fehlgeschlagen, wenn in der Response von atrigapaymax ein Error vermerkt ist. Beim nächsten Einkauf des Kunden wird erneut eine Prüfung durchgeführt.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">4. Gültigkeit der Kaufabwicklungs-URL ändern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Inkassodienstleister wie atriga erhalten bei Eröffnung des Mahnverfahrens eine URL zur Auftragsübersicht des Auftrags, für den das Mahnverfahren eingeleitet werden soll. Wenn die Gültigkeit der URL zu knapp eingestellt ist, z.B. auf 7 Tage, kommt es zu einer Fehlermeldung (Beispiel: "Code: 111 Die Auftragsdaten können nicht mehr über die kurze Adresse aufgerufen werden. Bitte loggen Sie sich in Ihr Konto mit E-Mail-Adresse und Passwort ein, um die Auftragsdetails aufzurufen."). In diesem Fall musst du die Gültigkeit erhöhen:</p>
</div>
<div class="paragraph instruction">
<p>Gültigkeit ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Mein-Konto » Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Stelle einen höheren Wert für die Option <strong>Gültigkeit der Kaufabwicklungs-URL</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">5. Aufträge übergeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst Aufträge manuell oder automatisch für Inkassoverfahren übergeben.</p>
</div>
<div class="sect2">
<h3 id="_aufträge_manuell_übergeben">5.1. Aufträge manuell übergeben</h3>
<div id="80" class="paragraph">
<p>Mit der Gruppenfunktion übergibst du Aufträge manuell an atriga Inkasso. Die Anzahl der Aufträge, die manuell übergeben wird, bestimmst du durch deine Auswahl. Das heißt, du kannst über die Gruppenfunktion auch einzeln Aufträge übergeben.</p>
</div>
<div class="paragraph instruction">
<p>Aufträge manuell übergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Wähle einen oder mehrere Aufträge, indem du ein Häkchen setzt.</p>
</li>
<li>
<p>Klicke auf <strong>Gruppenfunktion</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>an atriga (Inkasso) übergeben</strong>.</p>
</li>
<li>
<p>Wenn du Mandanten hast, wähle einen Mandanten aus der Dropdown-Liste.<br>
→ Die Übergabe erfolgt an das Konto des Mandanten.</p>
</li>
<li>
<p>Klicke auf <strong>Anwenden</strong>, um die Aufträge zu übergeben.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="90">5.2. Aufträge automatisch übergeben</h3>
<div class="paragraph">
<p>Mit einer Aktion des <strong>Aktionsmanagers</strong> übergibst du die gewünschten Aufträge für ein Inkassoverfahren automatisch an atriga. Nur <strong>Aufträge</strong>, bei denen eine <strong>Rechnung</strong> oder eine <strong>externe Rechnung</strong> hinterlegt ist, werden an atriga übertragen.</p>
</div>
<div class="paragraph instruction">
<p>Aufträge automatisch übergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Aktionen</strong>.</p>
</li>
<li>
<p>Klicke auf das Tab <strong>Neue Aktion</strong>, um eine neue Aktion zu definieren.</p>
</li>
<li>
<p>Wähle im Tab <strong>Einstellungen</strong> eine <strong>Uhrzeit</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Gib einen <strong>Namen</strong> für die Aktion ein.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Filter</strong>.</p>
</li>
<li>
<p>Nimm die zu deinem Geschäftsablauf passenden Einstellungen im Tab <strong>Filter</strong> vor. <br>
→ <a href="#bild-aktion-atriga-konfigurieren">[bild-aktion-atriga-konfigurieren]</a> zeigt eine Kombination der Einstellungen im Tab <strong>neue Aktion</strong>.</p>
</li>
<li>
<p>Wähle im Tab <strong>Aktion</strong> für <strong>atriga (Inkasso)</strong> die Einstellung <strong>AKTIV</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Im Beispiel in <a href="#bild-aktion-atriga-konfigurieren">[bild-aktion-atriga-konfigurieren]</a> werden alle Aufträge, die sich seit <strong>20 Tagen</strong> im Status <strong>3 Warten auf Zahlung</strong> befinden, an atriga geschickt. Im atriga <a href="http://dm.atriga.de/" target="_blank" rel="noopener">DebitManager™</a> findest du Informationen zu deinen Inkassoaufträgen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Beschränkung auf Deutschland</div>
<div class="paragraph">
<p>Aktuell können nur Schuldner aus Deutschland an atriga übergeben werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">6. Fehlgeschlagene Inkassoübergaben erneut übergeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald ein Auftrag an atriga übertragen wurde, ist er geblockt und kann nicht erneut übertragen werden. Eine Ausnahme besteht, wenn die erste Übertragung nicht erfolgreich war, z.B. aufgrund einer fehlerhaften Adresse. In diesem Fall kannst du den Auftrag gezielt zurücksetzen und noch einmal korrekt übertragen lassen.</p>
</div>
<div class="paragraph instruction">
<p>Auftrag zurücksetzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Inkasso-Übergaben</strong>.</p>
</li>
<li>
<p>Wähle einen oder mehrere Aufträge.</p>
</li>
<li>
<p>Klicke auf <strong>Aufträge zurücksetzen</strong>.<br>
→ Du kannst den Auftrag erneut übergeben.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="110" "="">7. Zahlungseingang für bereits übergebene Aufträge melden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn ein Auftrag bereits an atriga übergeben wurde, werden Informationen über einen später eintreffenden Zahlungseingang nicht an atriga übertragen. Diese Möglichkeit ist seitens der atriga-Schnittstelle leider nicht vorgesehen. Melde in diesem Fall den Auftrag direkt bei atriga als bezahlt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="120" "="">8. Design für Bonitätsprüfung anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Template-Variablen <strong>AtrigaRequireUserConfirmation</strong> und <strong>AtrigaShowValidationError</strong> bieten die Möglichkeit eine Einwilligung des Kunden zur Bonitätsprüfung in deinem Design zu integrieren.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Keine Anpassungen am aktiven Design vornehmen</div>
<div class="paragraph">
<p>Nimm keine Änderungen an deinem aktiven Design vor. Bevor du Änderungen an deinem Design vornimmst, lege eine Sicherungskopie an, damit du jederzeit wieder zum Ursprungszustand zurückgelangst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Design für Bonitätsprüfung anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>Layout » PageDesign</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>PageDesignPrepareMainColumn</strong>.</p>
</li>
<li>
<p>Suche die Template-Variablen <strong>AtrigaRequireUserConfirmation</strong> und <strong>AtrigaShowValidationError</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-template-variable-bonität">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-template-variable-bonität" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Template-Variablen für die Bonitätsprüfung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AtrigaRequireUserConfirmation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>true</strong> = Zeigt eine Checkbox im Bestellvorgang an, die der Kunde aktivieren kann und damit der Bonitätsprüfung zustimmt. Diese Einstellung wird empfohlen.<br>
<strong>false</strong> = Die Checkbox zur Einwilligung des Kunden wird im Bestellvorgang nicht angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AtrigaShowValidationError</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>true</strong> = Wenn die vom Kunden gewählte Zahlungsart aufgrund der Bonitätsprüfung abgelehnt wird, wird eine Fehlermeldung angezeigt. Beim Klick auf <strong>Mehr Informationen</strong> wird ein Fenster geöffnet, in dem genauere Informationen von atriga zur nicht verfügbaren Zahlungsart stehen.<br>
<strong>false</strong> = Das Fenster mit genaueren Informationen von atriga zur nicht verfügbaren Zahlungsart wird direkt nach abgelehnter Bonitätsprüfung geöffnet. Die vorherige Fehlermeldung wird übersprungen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="130" "="">9. Inkasso-Übergaben anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eine Übersicht der an atriga übermittelten Aufträge zeigst du im Menü <strong>Aufträge » Inkasso-Übergaben</strong> im Bereich <strong>atriga (Inkasso)</strong> an.</p>
</div>
</div>
</div>
</main>