<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a></li>
<li><a href="#20"><span>2.</span><span> Bei BitPay registrieren</span></a></li>
<li><a href="#30"><span>3.</span><span> BitPay in Callisto einrichten</span></a></li>
<li><a href="#40"><span>4.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#50"><span>5.</span><span> API-Log abrufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: BitPay</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>BitPay</strong> in Callisto Shops. Die folgenden Anleitungen sind somit nicht für Ceres Shops gültig!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>BitPay ist ein marktführender Zahlungsanbieter für die virtuelle Peer-to-Peer-Währung Bitcoin. Mit BitPay können Transaktionen unmittelbar und überall auf der Welt vorgenommen werden und das ganz ohne Betrugs- oder Ausgleichsrisiko.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhältst du wichtige Hinweise zur Integration des Zahlungsanbieters in plentymarkets.</p>
</div>
<div class="paragraph subhead">
<p>Bezahlvorgang</p>
</div>
<div class="paragraph">
<p>Nach dem Abschluss der Bestellung erhält der Kunde eine Meldung, dass die Zahlung noch über einen Link abgeschlossen werden muss. Bei Klick auf den angezeigten Link wird der Kunde auf die Seite von BitPay weitergeleitet. Hier müssen erforderliche Daten für die Bezahlung eingegeben werden. Nach Eingabe und Bestätigung der Daten wird der Kunde auf die Bestellbestätigungsseite geleitet.</p>
</div>
<div class="paragraph subhead">
<p>Manueller Zahlungsimport</p>
</div>
<div class="paragraph">
<p>Zahlungen von BitBay werden nicht automatisch in plentymarkets importiert. BitPay-Zahlungen musst du <a href="/payment/zahlungen-verwalten#40">manuell buchen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Bei BitPay registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du die Zahlungsart in plentymarkets einrichten kannst, ist eine Registrierung bei BitPay erforderlich. Die Registrierung nimmst du über das <a href="https://bitpay.com/start" target="_blank" rel="noopener">Kontaktformular</a> vor. Du erhältst dann die nötigen Informationen sowie Zugangsdaten, die du für die Konfiguration in plentymarkets benötigst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. BitPay in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Schnittstelle zu BitPay für deinen Callisto Shop in plentymarkets einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu BitPay einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>BitPay</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klappe den Mandanten auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-schnittstelleneinrichtung-bitpay">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnittstelleneinrichtung-bitpay" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Schnittstelle zu BitPay einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ApiKey</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Api-Schlüssel von BitPay eingeben. Der <a href="https://bitpay.com/api-keys" target="_blank" rel="noopener">ApiKey</a> kann nach der Registrierung bei BitPay erzeugt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail-Benachrichtigung an</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse eingeben, an die Benachrichtigungen über Zahlungen gehen sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaktionsgeschwindigkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Transaktionsgeschwindigkeit wählen.<br>
<strong>low</strong> = geringe Geschwindigkeit<br>
<strong>medium</strong> = mittlere Geschwindigkeit<br>
<strong>high</strong> = hohe Geschwindigkeit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Testbetrieb aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Testbetrieb aktivieren, um die BitPay-Funktionen zu testen, bevor mit dem System live gearbeitet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Mandant (Shop)-Optionen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zugangsdaten für alle Mandanten (Shops) aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar, wenn Mandanten eingerichtet sind. Aktivieren, um die Kontoeinstellungen, die über <strong>Konto hinzufügen</strong> für den Hauptshop gespeichert wurden, für alle Mandanten (Shops) zu übernehmen, unabhängig davon, was für andere Mandanten gespeichert wurde. Deaktivieren, um separate Zugangsdaten für weitere Mandanten (Shops) zu verwenden. Webshops, für die kein Konto hinzugefügt wurde, können mit BitPay nicht genutzt werden.<br>
Zur Unterstützung mehrerer Mandanten muss im Menü <a href="/webshop/webshop-einrichten#grundeinstellungen">Einrichtung » Mandant » Mandant wählen » Webshop » Einstellungen</a> für die Option <strong>Login</strong> die Einstellung <strong>Login in jedem einzelnen Shop ermöglichen</strong> aktiviert sein.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="40">4. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte die <a href="/payment/zahlungsarten-verwalten#20">Zahlungsart</a> BitPay im Tab <strong>Einstellungen</strong> der Zahlungsart ein. Prüfe zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. API-Log abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Fall eines Fehlers bei der Datenübertragung kannst du im API-Log Details zum jeweiligen Fehler finden. Je nach Art des Fehlers wird deine Zahlung zwar bei BitPay gebucht, aber u.U. nicht in plentymarkets bestätigt, was wiederum zu einer fehlerhaften Buchung in plentymarkets führt.</p>
</div>
<div class="paragraph instruction">
<p>API-Log abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » API-Log » Tab: API-Log</strong>.</p>
</li>
<li>
<p>Wähle ein Format aus der Dropdown-Liste <strong>Vorgang</strong>.</p>
</li>
<li>
<p>Wähle ggf. ein <strong>Datum</strong>, um nur Einträge eines bestimmten Tages zu erhalten.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>, um die Suche auszuführen.<br>
→ Die Vorgänge werden angezeigt.</p>
</li>
</ol>
</div>
</div>
</div>
</main>