<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Bezahlvorgang</span></a></li>
<li><a href="#30"><span>1.2.</span><span> Verfügbare ConCardis-Zahlungsarten</span></a></li>
</ul>
</li>
<li><a href="#40"><span>2.</span><span> Bei ConCardis registrieren</span></a></li>
<li><a href="#45"><span>3.</span><span> ConCardis in Callisto einrichten</span></a></li>
<li><a href="#50"><span>4.</span><span> Zahlungsarten aktivieren</span></a></li>
<li><a href="#60"><span>5.</span><span> Einstellungen bei ConCardis vornehmen</span></a></li>
<li><a href="#70"><span>6.</span><span> ConCardis im Callisto Webshop anzeigen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: ConCardis</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>ConCardis</strong> in Callisto Shops. Die folgenden Anleitungen sind somit nicht für Ceres Shops gültig!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><a href="https://www.concardis.com/" target="_blank" rel="noopener">ConCardis</a> ist ein Gemeinschaftsunternehmen der deutschen Kreditwirtschaft und Zahlungsanbieter für den bargeldlosen Zahlungsverkehr. ConCardis bietet seine Produkte und Services in Deutschland, Österreich, Benelux sowie der Schweiz an und expandiert in weitere europäische Länder.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhältst du wichtige Hinweise zur Integration dieses Zahlungsanbieters in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Bezahlvorgang</h3>
<div class="paragraph">
<p>Nach dem Bestätigen der Bestellung wird der Kunde auf eine Seite von ConCardis weitergeleitet. Dort muss er die Daten der von ihm gewählten Kreditkarte eingeben. Nachdem die Daten eingegeben wurden und die Zahlung durch den Kunden bestätigt wurde, wird dieser wieder zurück in deinen Webshop geleitet.</p>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. Verfügbare ConCardis-Zahlungsarten</h3>
<div class="paragraph">
<p>Nachfolgend findest du eine Übersicht der für plentymarkets verfügbaren ConCardis-Zahlungsarten mit der System-ID in Klammern.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>MasterCard (2100)</p>
</li>
<li>
<p>Visa (2110)</p>
</li>
<li>
<p>American Express (2120)</p>
</li>
<li>
<p>UnionPay (2130)</p>
</li>
<li>
<p>JCB-Japan Credit Bureau (2140)</p>
</li>
<li>
<p>Diners Club (2150)</p>
</li>
<li>
<p>Discover (2160)</p>
</li>
<li>
<p>girocard/electronic cash (ec) (2170)</p>
</li>
<li>
<p>Maestro (2180)</p>
</li>
<li>
<p>V Pay (2190)</p>
</li>
<li>
<p>Visa Electron (2200)</p>
</li>
<li>
<p>GeldKarte (2210)</p>
</li>
<li>
<p>Coupon (1700)</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="40">2. Bei ConCardis registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der <a href="http://www.concardis.de/de/kundenservice.html" target="_blank" rel="noopener">Kundenservice</a> von ConCardis liefert dir zahlreiche Informationen zum ConCardis-Angebot sowie Preislisten und Kontaktinformationen. Registriere dich zunächst bei ConCardis, bevor du mit der Einrichtung in plentymarkets fortfährst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="45">3. ConCardis in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Schnittstelle zu ConCardis für deinen Callisto Shop in plentymarkets einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu ConCardis einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>ConCardis</strong>.<br>
→ Das Tab <strong>Schnittstelle</strong> wird geöffnet.</p>
</li>
<li>
<p>Klappe den Mandanten auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-schnittstelleneinrichtung-concardis">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnittstelleneinrichtung-concardis" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Schnittstelle zu ConCardis einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PSPID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des ConCardis-Kontos eingeben, wie von ConCardis erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SHA-Passphrase</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">SHA-Passphrase eingeben. Die SHA-Passphrase befindet sich im ConCardis-Kontobereich unter <strong>Konfiguration » Technische Information » Tab: Daten- und Ursprungsüberprüfung</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Testbetrieb aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Testbetrieb aktivieren, um die ConCardis-Funktionen zu testen, bevor mit dem System live gearbeitet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Layout</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Überschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text eingeben, der als Überschrift angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hintergrundfarbe, Schriftfarbe etc.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hexadezimalwerte für Farben der einzelnen Elemente eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die absolute URL (mit https) des Logos eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Mandant (Shop)-Optionen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zugangsdaten für alle Mandanten (Shops) aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar, wenn Mandanten eingerichtet sind. Aktivieren, um die Kontoeinstellungen, die über <strong>Konto hinzufügen</strong> für den Hauptshop gespeichert wurden, für alle Mandanten (Shops) zu übernehmen, unabhängig davon, was für andere Mandanten gespeichert wurde. Deaktivieren, um separate Zugangsdaten für weitere Mandanten (Shops) zu verwenden. Webshops, für die kein Konto hinzugefügt wurde, können mit ConCardis nicht genutzt werden.<br>
Zur Unterstützung mehrerer Mandanten muss im Menü <a href="/webshop/webshop-einrichten#grundeinstellungen">Einrichtung » Mandant » Mandant wählen » Webshop » Einstellungen</a> für die Option <strong>Login</strong> die Einstellung <strong>Login in jedem einzelnen Shop ermöglichen</strong> aktiviert sein.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">4. Zahlungsarten aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>ConCardis bietet dir eine Reihe von Zahlungsmöglichkeiten. Richte die <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten</a> für ConCardis im Tab <strong>Einstellungen</strong> der Zahlungsarten ein. Prüfe zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">5. Einstellungen bei ConCardis vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die nachfolgend beschriebenen Einstellungen nimmst du in deinem ConCardis-Konto vor. Loggen dich dafür in die ConCardis-Pay-Engine ein.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Im Menü <strong>Konfiguration</strong> auf <strong>Technische Informationen</strong> klicken.</p>
</li>
<li>
<p>Tab <strong>Transaktions-Feedback</strong> öffnen. <br>
→ Im Tab <strong>Transaktions-Feedback</strong> wird die Antwort von ConCardis an plentymarkets gesteuert.</p>
</li>
<li>
<p>Unter <strong>Direktes Feedback …​</strong> die plentymarkets-URL nach folgendem Muster eingeben: <strong>dein-plentyshop.de/plenty/api/concardis.php</strong><br>
→ "dein-plentyshop.de" durch eigenen Shop ersetzen.</p>
</li>
<li>
<p>Unter <strong>Dynamische e-Commerce parameter</strong> die Parameter unter <strong>Ausgewählt</strong> prüfen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Folgende Parameter müssen mindestens eingefügt sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ACCEPTANCE</p>
</li>
<li>
<p>AMOUNT</p>
</li>
<li>
<p>BRAND</p>
</li>
<li>
<p>CURRENCY</p>
</li>
<li>
<p>ORDERID</p>
</li>
<li>
<p>PAYIDPMSTATUS</p>
</li>
<li>
<p>TRXDATE</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="70">6. ConCardis im Callisto Webshop anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald dein Kunde den Kauf bestätigt hat, wird in der Kaufabwicklung eine Nachricht eingeblendet. Der Kunde wird danach zur <strong>Auftragshistorie</strong> weitergeleitet und muss im Bereich <strong>Zahlungsart</strong> auf <strong>Jetzt bezahlen</strong> klicken. Anschließend wird der Kunde zu ConCardis weitergeleitet und gibt dort seine Kreditkartendaten (<a href="#bild-eingabefelder-concardis">Bild 1</a>) ein.</p>
</div>
<div id="bild-eingabefelder-concardis" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/payment/assets/DE-Zahlungsarten-ConCardis.png" alt="DE Zahlungsarten ConCardis">
</div>
<div class="title">Bild 1. Eingabefelder bei ConCardis</div>
</div>
</div>
</div>
</main>