<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Bezahlvorgang</span></a></li>
<li><a href="#30"><span>1.2.</span><span> SSL-Zertifikat</span></a></li>
<li><a href="#40"><span>1.3.</span><span> Verfügbare ExperCash-Zahlungsarten</span></a></li>
<li><a href="#50"><span>1.4.</span><span> Währungen</span></a></li>
</ul>
</li>
<li><a href="#60"><span>2.</span><span> Bei ExperCash registrieren</span></a></li>
<li><a href="#70"><span>3.</span><span> ExperCash in Callisto einrichten</span></a></li>
<li><a href="#80"><span>4.</span><span> Zahlungsart aktivieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: ExperCash</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Die <a href="http://expercash.de/" target="_blank" rel="noopener">ExperCash GmbH</a> fusionierte im April 2016 mit MasterCard Payment Gateway Services Client Finance Ltd. Als Zahlungsanbieter für komplettes Financial Supply Chain Management unterstützt ExperCash mit seinen Payment-Lösungen Online-Shops bei der Abwicklung aller Prozesse rund um deren Zahlungsvorgänge.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>ExperCash</strong> in Callisto Shops. Die folgenden Anleitungen sind somit nicht für Ceres Shops gültig!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhältst du wichtige Hinweise zur Integration des Zahlungsanbieters in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Bezahlvorgang</h3>
<div class="paragraph">
<p>Die Auswahl der Zahlungsart erfolgt noch im Webshop. Anschließend wird der Kunde direkt zu ExperCash weitergeleitet. Die weiteren Inhalte werden in einem iframe bereitgestellt. Der Kunde gibt hier seine Daten ein. Dies erfolgt somit nicht im Webshop, sondern bei ExperCash. Nach der Eingabe und Bestätigung der Daten wird der Kunde auf die Bestellbestätigungsseite geleitet. Das iframe von ExperCash unterstützt aktuell die folgenden Sprachen: Deutsch, Englisch, Französisch, Italienisch und Spanisch. Die Sprache, die der Kunde im Checkout gewählt hat, wird auch automatisch für die Zahlungsabwicklung mit ExperCash verwendet.</p>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. SSL-Zertifikat</h3>
<div class="paragraph">
<p>Für die korrekte Verwendung der Zahlungsart ist ein <a href="/basics/admin-aufgaben/plentymarkets-konto#ssl-zertifikat">SSL-Zertifikat</a> erforderlich.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Frage bei deiner Bank nach</div>
<div class="paragraph">
<p>Kläre vor einer Integration der Zahlungsart <strong>ExperCash</strong>, ob deine Bank die Abwicklung über iframes unterstützt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="40">1.3. Verfügbare ExperCash-Zahlungsarten</h3>
<div class="paragraph">
<p>Nachfolgend findest du eine Übersicht der für plentymarkets verfügbaren ExperCash-Zahlungsarten mit der System-ID in Klammern.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Giropay (820)</p>
</li>
<li>
<p>Kreditkarte (850)</p>
</li>
<li>
<p>Kreditkarte Autorisierung/Reservierung (840)</p>
</li>
<li>
<p>Lastschrift (810)</p>
</li>
<li>
<p>Sofortüberweisung (830)</p>
</li>
<li>
<p>Zahlungsauswahl durch den Endkunden (800)</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="50">1.4. Währungen</h3>
<div class="paragraph">
<p>Alle Beträge werden vor der Zahlung in die Webshop-Standardwährung umgerechnet. Alle Endkunden zahlen in dieser Währung. Für Kreditkartenzahlungen in unterschiedlichen Währungen müsste pro Währung ein separater Vertrag mit ExperCash abgeschlossen werden, weshalb plentymarkets immer in die Standardwährung des Webshops umrechnet.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">2. Bei ExperCash registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um ExperCash in plentymarkets aktivieren zu können, musst du dich bei Expercash registrieren. Kontaktiere dafür die MasterCard Payment Gateway Services Client Finance Ltd per E-Mail an <a href="mailto:service_mpgs_dach@mastercard.com">service_mpgs_dach@mastercard.com</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="70">3. ExperCash in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Schnittstelle zu ExperCash für deinen Callisto Shop in plentymarkets einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu ExperCash einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>DE</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>ExperCash</strong>.<br>
→ Das Tab <strong>Schnittstelle</strong> wird geöffnet.</p>
</li>
<li>
<p>Klappe den Mandanten auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-schnittstelleneinrichtung-expercash">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnittstelleneinrichtung-expercash" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Schnittstelle zu ExperCash einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Popup-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zugangskennung zum Shop eingeben, wie von ExperCash erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Authorisation Key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Iframe-Sicherheitsschlüssel eingeben, wie von ExperCash erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CSS-URL (optional)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aussehen des ExperCash-Iframe mit Hilfe einer CSS-Datei anpassen. Beachte, dass es sich hierbei vorzugsweise um eine URL mit https-Protokoll handelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Profile-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ziffer des Profils eingeben. Im Zweifelsfall die <strong>1</strong> eingeben. Da mindestens ein Profil vorhanden sein muss, ist dieser Wert meistens zutreffend.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Mandant (Shop)-Optionen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zugangsdaten für alle Mandanten (Shops) aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar, wenn Mandanten eingerichtet sind. Aktivieren, um die Kontoeinstellungen, die über <strong>Konto hinzufügen</strong> für den Hauptshop gespeichert wurden, für alle Mandanten (Shops) zu übernehmen, unabhängig davon, was für andere Mandanten gespeichert wurde. Deaktivieren, um separate Zugangsdaten für weitere Mandanten (Shops) zu verwenden. Webshops, für die kein Konto hinzugefügt wurde, können mit ExperCash nicht genutzt werden.<br>
Zur Unterstützung mehrerer Mandanten muss im Menü <a href="/webshop/webshop-einrichten#grundeinstellungen">Einrichtung » Mandant » Mandant wählen » Webshop » Einstellungen</a> für die Option <strong>Login</strong> die Einstellung <strong>Login in jedem einzelnen Shop ermöglichen</strong> aktiviert sein.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="80">4. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte die <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten</a> für ExperCash im Tab <strong>Einstellungen</strong> der Zahlungsarten ein. Prüfe zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
</div>
</div>
</main>