<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Bezahlvorgang</span></a></li>
<li><a href="#30"><span>1.2.</span><span> SSL-Zertifikat</span></a></li>
<li><a href="#40"><span>1.3.</span><span> Verfügbare heidelpay-Zahlungsarten</span></a></li>
</ul>
</li>
<li><a href="#50"><span>2.</span><span> Bei heidelpay registrieren</span></a></li>
<li><a href="#60"><span>3.</span><span> heidelpay in Callisto einrichten</span></a></li>
<li><a href="#70"><span>4.</span><span> Zahlungsarten aktivieren</span></a></li>
<li><a href="#80"><span>5.</span><span> heidelpay im Callisto Webshop anzeigen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: heidelpay</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>heidelpay</strong> für Callisto Shops. Für die Verwendung von <strong>heidelpay</strong> in Ceres Shops erhältst du in der Beschreibung des Plugins im <a href="https://marketplace.plentymarkets.com/plugins/payment/Heidelpay_5700" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die Heidelberger Payment GmbH, kurz heidelpay, ist ein führender europäischer Service-Provider rund um das Thema Payment. Das Leistungsspektrum des PCI/DSS-zertifizierten Unternehmens reicht von weltweiten E-Payment-Lösungen über Debitorenmanagement und Riskmanagement-Funktionen bis hin zu einem breiten Angebot alternativer Bezahlverfahren - schnell, sicher, einfach und umfassend.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhältst du wichtige Hinweise zur Integration des Zahlungsanbieters in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Bezahlvorgang</h3>
<div class="paragraph">
<p>Für den Bezahlvorgang wird der Kunde zu heidelpay weitergeleitet und dort über ein iframe dazu aufgefordert, seine notwendigen Daten einzugeben. Die Auswahl der Zahlungsart erfolgt noch im Webshop. Anschließend wird der Kunde direkt zu heidelpay weitergeleitet. Die weiteren Inhalte werden in einem iframe bereitgestellt. Der Kunde gibt hier seine Daten ein. Dies erfolgt somit nicht im Webshop, sondern bei heidelpay. Nach der Eingabe und Bestätigung der Daten wird der Kunde auf die Bestellbestätigungsseite geleitet.</p>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. SSL-Zertifikat</h3>
<div class="paragraph">
<p>Für die korrekte Verwendung der Zahlungsart ist ein <a href="/basics/admin-aufgaben/plentymarkets-konto#ssl-zertifikat">SSL-Zertifikat</a> erforderlich.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Frage bei deiner Bank nach</div>
<div class="paragraph">
<p>Kläre vor einer Integration der Zahlungsart <strong>heidelpay</strong>, ob deine Bank die Abwicklung über iframes unterstützt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="40">1.3. Verfügbare heidelpay-Zahlungsarten</h3>
<div class="paragraph">
<p>Nachfolgend findest du eine Übersicht der für plentymarkets verfügbaren heidelpay-Zahlungsarten mit der System-ID in Klammern.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Online-Lastschrift (1000)</p>
</li>
<li>
<p>Vorkasse (1020)</p>
</li>
<li>
<p>Rechnung (1030)</p>
</li>
<li>
<p>Kreditkarten (1040)</p>
</li>
<li>
<p>EC-Karten (1050)</p>
</li>
<li>
<p>Banküberweisung mit PIN/TAN (1060)</p>
</li>
<li>
<p>Virtual Account (1070)</p>
</li>
<li>
<p>User Account (1080)</p>
</li>
<li>
<p>Sofortüberweisung (1090)</p>
</li>
<li>
<p>T-Pay (1091)</p>
</li>
<li>
<p>Giropay (1092)</p>
</li>
<li>
<p>IDEAL (NL) (1093)</p>
</li>
<li>
<p>EPS (AT) (1094)</p>
</li>
<li>
<p>Carte Bleue (1095)</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="50">2. Bei heidelpay registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Kontaktiere das heidelpay-Vertriebsteam unter Tel. 06221-6517020 oder <a href="mailto:sales@heidelpay.de">sales@heidelpay.de</a> und bitte um ein Angebot. Unterschreibe das Angebot und sende es zurück an heidelpay. Du erhältst dann einen Kreditkartenakzeptanzvertrag von heidelpay zur Unterschrift. Nach Freigabe durch die Bank erhältst du die Zugangsdaten von heidelpay. Die Zugangsdaten benötigst du für die Aktivierung in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">3. heidelpay in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Schnittstelle zu heidelpay für deinen Callisto Shop in plentymarkets einzurichten. Zusätzlich steht für heidelpay das Untermenü <a href="/payment/zahlungsanbieter/heidelpay#80">Optionen</a> zur Verfügung, wo du z.B. ein Stylesheet (CSS) hinterlegst.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu heidelpay einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klickeauf <strong>heidelpay</strong>.<br>
→ Das Tab <strong>Schnittstelle</strong> wird geöffnet.</p>
</li>
<li>
<p>Klappe dem Mandanten auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-schnittstelleneinrichtung-heidelpay">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnittstelleneinrichtung-heidelpay" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Schnittstelle zu heidelpay einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Login-Daten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">32-stelligen Login-Code eingeben, wie von heidelpay erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">8-stelliges Passwort eingeben, wie von heidelpay erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SENDER</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">32-stelligen Code eingeben, wie von heidelpay erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Channel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">32-stelligen Code eingeben, wie von heidelpay erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaction Mode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LIVE</strong> eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Server</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL des Payment-Servers  eingeben, wie von heidelpay erhalten.<br>
Payment-URL <strong>POST</strong> (UTF-8 codiert) eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Online-Überweisungs-Zahlungsarten: Channel-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sofortüberweisung, T-Pay, Giropay, IDEAL, EPS</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Channel-IDs der Zahlungsarten eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Mandant (Shop)-Optionen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zugangsdaten für alle Mandanten (Shops) aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar, wenn Mandanten eingerichtet sind. Aktivieren, um die Kontoeinstellungen, die über <strong>Konto hinzufügen</strong> für den Hauptshop gespeichert wurden, für alle Mandanten (Shops) zu übernehmen, unabhängig davon, was für andere Mandanten gespeichert wurde. Deaktivieren, um separate Zugangsdaten für weitere Mandanten (Shops) zu verwenden. Webshops, für die kein Konto hinzugefügt wurde, können mit heidelpay nicht genutzt werden.<br>
Zur Unterstützung mehrerer Mandanten muss im Menü <a href="/webshop/webshop-einrichten#grundeinstellungen">Einrichtung » Mandant » Mandant wählen » Webshop » Einstellungen</a> für die Option <strong>Login</strong> die Einstellung <strong>Login in jedem einzelnen Shop ermöglichen</strong> aktiviert sein.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="70">4. Zahlungsarten aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für heidelpay steht dir eine Vielzahl von Zahlungsarten zur Verfügung, die du im Menü <a href="/payment/zahlungsarten-verwalten#20">Einrichtung » Aufträge » Zahlung » Zahlungsarten</a> aktivierst. Prüfe zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="80">5. heidelpay im Callisto Webshop anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Untermenü <strong>Optionen</strong> hast du die Möglichkeit, ein Stylesheet und ein Banner sowie einen Frontend-Link einzurichten.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>heidelpay</strong>.<br>
→ Das Tab <strong>Schnittstelle</strong> wird geöffnet.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Optionen</strong> auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-optionen-heidelpay">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-optionen-heidelpay" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Optionen für heidelpay</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Stylesheet und Banner</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktive Stylesheet-Datei</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier wird ein <strong>Vorschau-Symbol</strong> zur Ansicht der hochgeladenen Stylesheet-Datei angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stylesheet-Datei hochladen (CSS)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf <strong>Durchsuchen…​</strong> klicken, um eine Datei hochzuladen. Die Datei wird nach dem Speichern der Einstellungen unter <strong>Aktive Stylesheet-Datei</strong> angezeigt. Es können nur Dateien im CSS-Format hochgeladen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktive Banner-Datei</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier wird ein <strong>Vorschau-Symbol</strong> zur Ansicht der hochgeladenen Banner-Datei angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Banner-Datei hochladen (PNG)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf <strong>Durchsuchen…​</strong> klicken, um eine Datei hochzuladen. Die Datei wird nach dem Speichern der Einstellungen unter <strong>Aktive Banner-Datei</strong> angezeigt. Es können nur Dateien im PNG-Format hochgeladen werden. Die maximale Bannergröße beträgt 570 x 40 Pixel.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Link-Dokument</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link-Dokument auswählen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dokument wählen, das nach Klick auf den Link angezeigt werden soll. Wenn ein Dokument verlinken werden soll, das nicht in der Auswahl vorhanden ist, die Option <strong>Benutzerdefiniert</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text "Benutzerdefiniert"</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzerdefinierte Link-Bezeichnung eingeben, wenn unter <strong>Link-Dokument auswählen</strong> die Option <strong>Benutzerdefiniert</strong> gewählt wurde.<br>
Die Textzeile kann auch verwendet werden, um nur den eingegebenen Text an der Linkposition anzeigen zu lassen, z.B. als Hinweistext.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ausrichtung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Links</strong>, <strong>Zentriert</strong> oder <strong>Rechts</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktive Link-Datei</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier wird ein Vorschau-Symbol zur Ansicht der hochgeladenen Link-Datei angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link-Datei hochladen (HTML)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf <strong>Durchsuchen…​</strong> klicken, um eine Datei hochzuladen. Die Datei wird nach dem Speichern der Einstellungen unter <strong>Aktive Link-Datei</strong> angezeigt. Es können nur Dateien im HTML-Format hochgeladen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Popup-Fenster: Breite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Breite des Fensters in Pixeln eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Popup-Fenster: Höhe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Höhe des Fensters in Pixeln eingeben.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph subhead">
<p>CSS-Stylesheet</p>
</div>
<div class="paragraph">
<p>Folgenden Beispiel-Code kannst du für das Stylesheet für heidelpay verwenden.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">Unresolved directive in &lt;stdin&gt; - include::assets/EX-DE-heidelpay-CSS.html[]</code></pre>
</div>
</div>
</div>
</div>
</main>