<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Bezahlvorgang mit Klarna Checkout UK</span></a></li>
<li><a href="#30"><span>1.2.</span><span> SSL-Zertifikat</span></a></li>
<li><a href="#40"><span>1.3.</span><span> Verknüpfte Zahlungsarten</span></a></li>
</ul>
</li>
<li><a href="#50"><span>2.</span><span> Bei Klarna registrieren</span></a></li>
<li><a href="#60"><span>3.</span><span> Klarna Checkout UK in Callisto einrichten</span></a></li>
<li><a href="#70"><span>4.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#80"><span>5.</span><span> Externe Zahlungsarten im Klarna Checkout UK erlauben</span></a></li>
<li><a href="#90"><span>6.</span><span> Klarna Checkout UK im Callisto Webshop anzeigen</span></a></li>
<li><a href="#100"><span>7.</span><span> Versandbestätigungen automatisch senden</span></a></li>
<li><a href="#110"><span>8.</span><span> Rückerstattung automatisch melden</span></a></li>
<li><a href="#120"><span>9.</span><span> Stornierung automatisch senden</span></a></li>
<li><a href="#130"><span>10.</span><span> Gutschrift melden</span></a></li>
<li><a href="#140"><span>11.</span><span> Zahlungsstatus nachvollziehen</span></a>
<ul class="sectlevel2">
<li><a href="#150"><span>11.1.</span><span> Statusabfolge bei Komplettversand</span></a></li>
<li><a href="#160"><span>11.2.</span><span> Statusabfolge bei Teilversand</span></a></li>
<li><a href="#170"><span>11.3.</span><span> Statusabfolge bei Stornierung, Gutschrift oder Rückerstattung</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: Klarna Checkout UK</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>Klarna Checkout UK</strong> in Callisto Shops. Die folgenden Anleitungen sind somit nicht für Ceres Shops gültig!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Klarna Checkout UK heißt in plentymarkets die Checkout-Lösung, die von Klarna im Vereinigtem Königreich angeboten wird. Mit dieser Checkout-Lösung sind andere Lieferländer als mit dem von Klarna in Deutschland angebotenem Checkout möglich. Der Klarna Checkout UK ist responsive.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhältst du wichtige Hinweise zur Integration des Zahlungsanbieters <strong>Klarna Checkout UK</strong> in plentymarkets.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Klarna Checkout und Webshop-Design</div>
<div class="paragraph">
<p>Beachte, dass für die erfolgreiche Integration von Klarna Checkout UK in plentymarkets folgende Bedingungen erfüllt sein müssen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verwendung des Standard-Designs Callisto (ab Version 2)</p>
</li>
<li>
<p>Nutzung des Individuellen Bestellvorgangs</p>
</li>
<li>
<p>Sicherer Umgang mit dem plentymarkets CMS</p>
</li>
<li>
<p>Erfahrung mit der Einrichtung von Zahlungsdienstleistern</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="20">1.1. Bezahlvorgang mit Klarna Checkout UK</h3>
<div class="paragraph">
<p>Der Bezahlvorgang verläuft wie folgt: Der Kunde gibt seine E-Mail-Adresse und die Postleitzahl der Rechnungsadresse im Klarna Checkout UK ein. Bei Klarna-Bestandskunden oder wenn ein Kunde im Shop eingeloggt ist, wird die Rechnungsadresse automatisch ausgefüllt. Der Kunde klickt auf Jetzt kaufen. In der Bestellbestätigung kann der Kunde optional die Zahlungsart wechseln, sich also für eine andere über Klarna Checkout UK verfügbare Zahlungsmethode entscheiden. Die Seite, die den Wechsel der Zahlungsart ermöglicht, wird komplett von Klarna gehostet. Der Kunde erhält die Rechnung von Klarna. Für den Kunden ist der Bestellvorgang damit abgeschlossen. In deinem plentymarkets System wird ein Auftrag angelegt.</p>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. SSL-Zertifikat</h3>
<div class="paragraph">
<p>Klarna Checkout UK wird über ein iFrame direkt in plentymarkets integriert. Daher ist für die Nutzung der Zahlungsart ein <a href="/basics/admin-aufgaben/plentymarkets-konto#ssl-zertifikat">SSL-Zertifikat</a> notwendig.</p>
</div>
</div>
<div class="sect2">
<h3 id="40">1.3. Verknüpfte Zahlungsarten</h3>
<div class="paragraph">
<p>Klarna Checkout UK verknüpft die folgenden Zahlungsarten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>American Express</p>
</li>
<li>
<p>Maestro</p>
</li>
<li>
<p>VISA</p>
</li>
<li>
<p>VISA electron</p>
</li>
<li>
<p>MasterCard</p>
</li>
<li>
<p>Zahlen nach Warenerhalt - der Endkunde kann per Debitkarte oder Überweisung zahlen</p>
</li>
<li>
<p>Weitere <a href="/payment/zahlungsanbieter/klarna-checkout-uk#80">externe Zahlungsarten</a></p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="50">2. Bei Klarna registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du Klarna Checkout UK in deinem plentymarkets System einrichtest, musst du dich bei <a href="https://www.klarna.com/uk/business/sell-online-with-klarna" target="_blank" rel="noopener">Klarna</a> registrieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">3. Klarna Checkout UK in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Schnittstelle zu Klarna Checkout UK für deinen Callisto Shop in plentymarkets einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu Klarna Checkout UK einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>Klarna</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Klarna Checkout UK</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klappe einen Mandanten auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dabei die Erläuterungen in <a href="#tabelle-schnittstelleneinrichtung-klarna-checkout-uk">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnittstelleneinrichtung-klarna-checkout-uk" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Schnittstelle zu Klarna Checkout UK einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Allgemeine Einstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betriebsmodus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Live</strong> = Modus für den produktiven Betrieb.<br>
<strong>Test</strong> = Modus für den Testbetrieb. Wenn du den Testmodus wählst, wird keine Auszahlung von Klarna an dich vorgenommen, da Klarna davon ausgeht, dass es sich um eine Testbestellung, mit der die Datenübertragung geprüft wird, handelt. Klarna erhebt auch keine Gebühren für Bestellungen im Testmodus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Länderzuordnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferland wählen, das zunächst als Standard-Lieferland verwendet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externe Zahlungsanbieter anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um externe Zahlungsanbieter zuzulassen.<br>
Folgende Zahlungsarten sind in Kombination mit Klarna Checkout UK zulässig:<br>
PayPal, Amazon Pay, Vorkasse, Giropay, Barzahlung, Lastschrift, Nachnahme<br>
Auf die Schreibweise der Zahlungsarten achten, da sie in plentymarkets mit genau diesen Namen angelegt werden müssen. Nur <a href="/payment/zahlungsarten-verwalten#20">aktive Zahlungsarten</a> werden berücksichtigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Klarna-Identifizierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkäufer-ID (Merchant-ID)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkäufer-ID eingeben, wie von Klarna erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sicherheitsschlüssel (SharedSecret)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sicherheitsschlüssel eingeben, wie von Klarna erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Pflichtangaben</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Geburtstdatum</strong>,<br>
<strong>Lieferadresse</strong>,<br>
<strong>Kundenanrede</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angaben aktivieren, die der Kunde während des Bestellvorgangs verpflichtend angeben soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Individualisierung des Kassenbereichs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Farbe der Schaltflächen</strong>,<br>
<strong>Hintergrundfarbe der Kontrollkästchen</strong>,<br>
<strong>Textfarbe der Schaltflächen</strong>,<br>
<strong>Häckchenfarbe der Kontrollkästchen</strong>,<br>
<strong>Farbe der Links</strong>,<br>
<strong>Farbe der Kopfzeile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hexadezimal-Code eingeben, um eine Farbe festzulegen.<br>
Achte darauf, dass die Textfarbe und Farbe der Schaltflächen nicht gleich sind, damit sich der Text vom Hintergrund abhebt. Das Gleiche gilt für die Häkchenfarbe und die Hintergrundfarbe der Kontrollkästchen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="70">4. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte die <a href="/payment/zahlungsarten-verwalten#20">Zahlungsart</a> Klarna Checkout UK in deinem plentymarkets ein und aktiviere die Zahlungsart. Prüfe zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="80">5. Externe Zahlungsarten im Klarna Checkout UK erlauben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst deinen Kunden über den Klarna Checkout UK auch einige externe Zahlungsarten anbieten. Diese zusätzlichen Zahlungsarten kannst du jedoch nur in Absprache mit Klarna anbieten. Wende dich daher an Klarna, bevor du externe Zahlungsarten einrichtest.</p>
</div>
<div class="paragraph">
<p>Damit Klarna die zusätzlichen Zahlungsarten erkennt, muss als Name die unten angegebene Schreibweise genutzt werden. Außerdem müssen die Logos der externen Zahlungsanbieter der angegebenen Bildgröße exakt entsprechen. Die in plentymarkets gespeicherten Standard-Logos sind zu groß für den Klarna Checkout.<br>
Die Zahlungsarten und Bildgrößen sind:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>PayPal (276 x 48 px)</p>
</li>
<li>
<p>Amazon Pay (276 x 48 px)</p>
</li>
<li>
<p>Vorkasse (69 x 24 px)</p>
</li>
<li>
<p>Giropay (69 x 24 px)</p>
</li>
<li>
<p>Barzahlen (69 x 24 px)</p>
</li>
<li>
<p>Lastschrift (69 x 24 px)</p>
</li>
<li>
<p>Nachnahme (69 x 24 px)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Liste der möglichen externen Zahlungsarten im Klarna Checkout UK wird von Klarna immer wieder geändert und erweitert, daher stellt die Liste hier keine vollständige Liste dar.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>Klarna</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Klarna Checkout UK</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klappe den Mandanten auf.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Externe Zahlungsanbieter</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellung.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Richten die zusätzlich gewünschten <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten</a> im Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong> in deinem plentymarkets Backend ein und aktiviere die Zahlungsarten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="90">6. Klarna Checkout UK im Callisto Webshop anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Den Klarna Checkout UK fügst du mit dem Container <strong>&#123;&#37; Container_CheckoutKlarnaPayment() &#37;&#125;</strong> in dein Design ein. Du kannst die Funktion an einer geeigneten Stelle in ein Template oder in eine Kategorie des Typs Container einfügen. Nachfolgend wird beschrieben, wie du den Klarna Checkout UK anstelle des Bestellschritts Kasse im Standard-Design Callisto Light 3 anzeigst. Hierzu erstellst du eine neue Kategorie des Typs <strong>Container</strong> und ersetzt den Standardbestellschritt Kasse durch deine neue Kategorie.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Keine Anpassungen am aktiven Design vornehmen</div>
<div class="paragraph">
<p>Nimm keine Änderungen an deinem aktiven Design vor. Bevor du Änderungen an deinem Design vornimmst, lege eine Sicherungskopie an, damit du jederzeit wieder zum Ursprungszustand zurückgelangst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kategorie des Typs Container erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Kategorie</strong>.<br>
→ Das Fenster <strong>Neue Kategorie erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein, z.B. Klarna Checkout UK.</p>
</li>
<li>
<p>Klicke auf <strong>Erstellen</strong>.<br>
→ Die Kategorie wird im Tab <strong>Einstellungen</strong> geöffnet.</p>
</li>
<li>
<p>Wähle unter <strong>Typ</strong> die Option <strong>Container</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Beschreibung 1</strong>.</p>
</li>
<li>
<p>Füge den Container <strong>&#123;&#37; Container_CheckoutKlarnaPayment() &#37;&#125;</strong> in das Textfeld ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nimm im Tab <strong>Einstellungen</strong> weitere Einstellungen, wie z.B. Mandant wählen, vor. Anschließend fügst du die Kategorie als Bestellschritt in deinen Bestellvorgang ein.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie als Bestellschritt hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Einstellungen</strong>.<br>
→ Das Fenster <strong>Design-Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Mandanten</strong>.</p>
</li>
<li>
<p>Klicke auf einen Mandanten.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Bestellvorgang</strong>.</p>
</li>
<li>
<p>Klicke im <strong>3. Bestellschritt</strong> auf <strong>Suchen</strong>.</p>
</li>
<li>
<p>Wähle die neu erstellte Kategorie <strong>Klarna Checkout UK</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Auswählen</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Der Bestellschritt wird hinzugefügt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="100">7. Versandbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Klarna UK über den Versand der Artikel, die Stornierung von Aufträgen und über Rückerstattungen informiert wird, erstellst du Ereignisaktionen. Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Versandbestätigungen automatisch an Klarna zu senden. Häufig warten Zahlungsanbieter mit der Auszahlung des vom Kunden gezahlten Betrags bis zur Versandbesätigung durch den Händler, um so dem Endkunden einen gewissen Schutz zu bieten.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 2.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 2 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion zum automatischen Senden von Versandbestätigungen an Klarna Checkout UK</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Warenausgang gebucht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong><br>
Lieferauftrag - optional für Teillieferungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klarna Checkout UK</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand &gt; Versandbestätigung an Klarna UK senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="110">8. Rückerstattung automatisch melden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um dem Käufer den gesamten Betrag zu erstatten, lege einen Auftrag vom Typ <strong>Retoure</strong> an. Anschließend richtest du eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Rückerstattungen automatisch an Klarna UK zu senden. Weitere Details zum Anlegen von Retouren findest du auf der Handbuchseite <a href="/auftraege/auftraege-verwalten#400">Retoure</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 3.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 3 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Senden von Rückerstattungen an Klarna Checkout UK</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsanlage: Neue Retoure</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klarna Checkout UK</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Rückerstattung an Klarna UK senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="120">9. Stornierung automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Stornierungen automatisch an Klarna UK zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 4.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 4 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion zum automatischen Senden von Stornierungen an Klarna Checkout UK</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status für <strong>stornierte Aufträge</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klarna Checkout UK</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Stornierung an Klarna UK senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="130">10. Gutschrift melden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei Gutschriften handelt es sich meist um Teilbeträge des Auftragsvolumens. Um diesen Betrag zu melden, nutze den Auftragstyp <strong>Gutschrift</strong> und gib in diesem einen Betrag ein, den du dem Kunden erstatten möchtest. Da die Summe in deinem Ermessen liegt und für jeden Auftrag unterschiedlich ausfällt, müssen Teilbeträge manuell eingegeben werden. Eine Automatisierung ist nicht möglich.</p>
</div>
<div class="paragraph instruction">
<p>Gutschrift anlegen, um Teilbetrag zu erstatten und zu melden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Klarna Checkout UK-Auftrag.<br>
→ Das Tab <strong>Übersicht</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle die Option <strong>anlegen</strong> aus der Dropdown-Liste <strong>Gutschrift …​</strong>.<br>
→ Die Gutschrift wird angelegt.</p>
</li>
<li>
<p>Öffne die neu angelegte Gutschrift.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Klicke unter <strong>Rückzahlung</strong> auf <strong>Klarna Checkout UK Refund</strong>.</p>
</li>
<li>
<p>Gib die Summe ein, die du erstatten möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Rückzahlung tätigen</strong>.<br>
→ Die Summe wird automatisch an Klarna Checkout UK gesendet.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="140">11. Zahlungsstatus nachvollziehen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Tab <strong>Zahlung</strong> eines Auftrags hast du die Möglichkeit, Zahlungen nachzuvollziehen. Die Bedeutung der einzelnen Einträge und wann ein Eintrag erfolgt, wird nachfolgend erläutert. Die Einträge beziehen sich auf das Tab <strong>Zahlung</strong> des Hauptauftrags.</p>
</div>
<div class="sect2">
<h3 id="150">11.1. Statusabfolge bei Komplettversand</h3>
<div class="paragraph subhead">
<p>bestätigt &gt; erhalten</p>
</div>
<div class="paragraph">
<p>Wenn von Klarna akzeptiert wurde, dass der Kunde über Klarna bezahlt, wird eine Zahlung angelegt. Diese Zahlung erhält den Status <strong>bestätigt</strong>. Du sendest dem Kunden alle Artikel und eine Versandbestätigung an Klarna. Nach Erhalt der Versandbestätigung erhältst du das Geld von Klarna. Die Zahlung erhält den Status <strong>erhalten</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="160">11.2. Statusabfolge bei Teilversand</h3>
<div class="paragraph subhead">
<p>bestätigt &gt; tlw. erhalten &gt; erhalten</p>
</div>
<div class="paragraph">
<p>Wenn von Klarna akzeptiert wurde, dass der Kunde über Klarna bezahlt, wird eine Zahlung angelegt. Diese Zahlung erhält den Status <strong>bestätigt</strong>. Du sendest dem Kunden zunächst aber nur einen Teil seiner Bestellung. Du sendest z.B. von 5 bestellten Artikeln 3 Artikel sofort, weil du diese im Lager vorrätig hast.
Du legst für die 3 Artikel einen Lieferauftrag an und buchst den Warenausgang am Lieferauftrag. Wenn du für das automatische Senden der Versandbestätigung auch <strong>Lieferauftrag</strong> im Filter <strong>Auftrag &gt; Auftragstyp</strong> aktiviert hast, wird für den Lieferauftrag die Versandbestätigung an Klarna gesendet. Im Hauptauftrag wird dann eine weitere Zahlung angelegt, die den Status <strong>erhalten</strong> erhält. Der Status der ersten Zahlung wechselt von <strong>bestätigt</strong> in <strong>tlw. erhalten</strong>. Wenn du die verbliebenen Artikel über einen 2. Lieferauftrag abwickelst und in diesem der Warenausgang gebucht wird, wird eine 3. Zahlung im Hauptauftrag angelegt. Diese Zahlung erhält den Status <strong>erhalten</strong> und der Status der ersten Zahlung wechselt ebenfalls von <strong>tlw. erhalten</strong> auf <strong>erhalten</strong>.<br>
Es wird also pro versendetem Lieferauftrag eine Zahlung hinzugefügt und erst wenn der Auftrag vollständig versendet wurde, wechselt auch die erste Zahlung in den Status <strong>erhalten</strong>.<br>
Wenn du für den Versand von Lieferaufträgen keine Versandbestätigung an Klarna senden möchtest, aktivierst du den Auftragstyp <strong>Lieferauftrag</strong> nicht im Filter der Ereignisaktion.</p>
</div>
</div>
<div class="sect2">
<h3 id="170">11.3. Statusabfolge bei Stornierung, Gutschrift oder Rückerstattung</h3>
<div class="paragraph">
<p>Bei einer Stornierung wechselt im Tab <strong>Zahlung</strong> des Hauptauftrags die Zahlung in den Status <strong>widerrufen</strong>.<br>
Bei einer Gutschrift wird im Tab <strong>Zahlung</strong> des Hauptauftrags eine Zahlung, die den Status <strong>tlw. erstattet</strong> hat, angelegt. In der Gutschrift selbst wird auch eine Zahlung angelegt. Die Zahlung in der Gutschrift hat den Status <strong>bestätigt</strong>.<br>
Bei einer Rückerstattung wird im Tab <strong>Zahlung</strong> des Hauptauftrags eine Zahlung, die den Status <strong>erstattet</strong> hat, angelegt. In der Retoure selbst wird eine Zahlung, die den Status <strong>bestätigt</strong> hat, angelegt.</p>
</div>
</div>
</div>
</div>
</main>