<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Rechnungskauf</span></a></li>
<li><a href="#30"><span>1.2.</span><span> Ratenkauf</span></a></li>
<li><a href="#40"><span>1.3.</span><span> Voraussetzungen für Klarna in verschiedenen Ländern</span></a></li>
</ul>
</li>
<li><a href="#50"><span>2.</span><span> Bei Klarna registrieren</span></a></li>
<li><a href="#60"><span>3.</span><span> Klarna in Callisto einrichten</span></a></li>
<li><a href="#70"><span>4.</span><span> Zahlungsarten aktivieren</span></a></li>
<li><a href="#80"><span>5.</span><span> Sozialversicherungsnummer hinterlegen</span></a></li>
<li><a href="#90"><span>6.</span><span> Versandbestätigungen automatisch senden</span></a></li>
<li><a href="#100"><span>7.</span><span> Retouren automatisch senden</span></a></li>
<li><a href="#110"><span>8.</span><span> Stornierungen automatisch senden</span></a></li>
<li><a href="#120"><span>9.</span><span> Klarna-Auftrag bearbeiten</span></a></li>
<li><a href="#130"><span>10.</span><span> Waren versenden</span></a>
<ul class="sectlevel2">
<li><a href="#140"><span>10.1.</span><span> Klarna-Rechnung erstellen</span></a></li>
<li><a href="#150"><span>10.2.</span><span> Klarna-Rechnung manuell importieren</span></a></li>
<li><a href="#160"><span>10.3.</span><span> Teillieferung</span></a></li>
<li><a href="#170"><span>10.4.</span><span> Komplettlieferung</span></a></li>
<li><a href="#180"><span>10.5.</span><span> Wartende Bestellung (Pending)</span></a></li>
</ul>
</li>
<li><a href="#180"><span>11.</span><span> Template für den Ratenkauf anpassen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: Klarna</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>Klarna</strong> in Callisto Shops. Die folgenden Anleitungen sind somit nicht für Ceres Shops gültig!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Klarna ist Europas führender Anbieter von rechnungsbasierten Zahlungslösungen im Internethandel. Wir geben dir mit der Integration von Klarna die Möglichkeit, deinen Kunden die Zahlung auf Rechnung oder Ratenkauf anzubieten – und das ganz ohne Risiko, weder für deine Kunden, noch für deinen Webshop. Sowohl die Zahlungsart <a href="/payment/zahlungsanbieter/klarna#20">Klarna Rechnung</a> als auch der <a href="/payment/zahlungsanbieter/klarna#30">Klarna Ratenkauf</a> sind in Deutschland, Österreich und den Niederlanden nur für Privatpersonen verfügbar. Erlaube die Zahlungsarten deshalb auch nur in <a href="/crm/kontakte-verwalten#15">Kundenklassen</a> für Privatkunden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhältst du wichtige Hinweise zur Integration des Zahlungsanbieters in plentymarkets. Sind alle Einstellungen korrekt vorgenommen, kannst du aus plentymarkets den Versand von Aufträgen, (Teil-)Retouren und Stornos an Klarna übermitteln. Die Klarna-Rechnung wird nach Buchen des Warenausgangs direkt im Auftrag hinterlegt.</p>
</div>
<div class="paragraph">
<p>Um die Abwicklung der Klarna-Bestellungen so einfach wie möglich zu halten, sind ein paar wichtige Punkte zu beachten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Das Buchen des Warenausgangs sollte immer mit dem tatsächlichen <a href="/payment/zahlungsanbieter/klarna#100">Versand</a> der Ware einhergehen, da mit dieser Aktion die 14-tägige Zahlungsfrist für den Endkunden beginnt.</p>
</li>
<li>
<p><a href="/payment/zahlungsanbieter/klarna#100">Retouren</a> sollten umgehend an Klarna gemeldet werden, um Mahnungen zu vermeiden.</p>
</li>
<li>
<p>Wählt der Kunde Klarna Rechnung als Zahlungsart, versendest du immer die Rechnung, je nach <a href="/payment/zahlungsanbieter/klarna#100">Workflow</a> per E-Mail oder mit dem Paket.<br>
Wurde Klarna Ratenkauf gewählt, verschicke keine Rechnung, da der Kunde seine Sammelrechnung monatlich direkt von Klarna erhält.</p>
</li>
<li>
<p>Sollte der Kunde seine <a href="/payment/zahlungsanbieter/klarna#100">Bestellung stornieren</a>, setze diese umgehend auf den Status <strong>storniert</strong>, damit der Warenkorbwert nicht länger für den Kunden reserviert ist.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="20">1.1. Rechnungskauf</h3>
<div class="paragraph">
<p>Mit <strong>Klarna Rechnung</strong> können deine Kunden einfach einkaufen, weil sie anstelle langwieriger Anmeldeprozesse nur wenige, unsensible Daten eingeben müssen. Außerdem bekommt der Kunde die Ware zuerst geliefert und zahlt später, was den Einkauf sicherer macht. In einer TNS-Infratest-Studie geben 59% der weniger aktiven Onlineshopper die Tatsache, dass sie nach Warenerhalt zahlen wollen, als Grund für den seltenen Interneteinkauf an. Weitere Details zum Rechnungskauf findest du bei Klarna unter <a href="https://www.klarna.com/de/verkaeufer/mit-rechnung-verkaufen" target="_blank" rel="noopener">Rechnung und Ratenkauf</a>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/payment/assets/DE-Zahlungsarten-Klarna-01.png" alt="DE Zahlungsarten Klarna 01">
</div>
<div class="title">Bild 1. Info: Klarna-Rechnungskauf</div>
</div>
<div class="paragraph subhead">
<p>Bestellvorgang</p>
</div>
<div class="paragraph">
<p>Nach dem Abschluss der Bestellung wird der Auftrag an Klarna gesendet. Sofern eine positive Antwort von Klarna erfolgt, wird der Auftrag angelegt. Der Kunde erhält eine Erfolgsmeldung. Sollte ein Fehler auftreten oder die Zahlungsanfrage abgelehnt werden, wird der Auftrag nicht angelegt. Der Kunde erhält in der Bestellübersicht eine Fehlermeldung.</p>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. Ratenkauf</h3>
<div class="paragraph">
<p>Die Zahlungsart <strong>Klarna Ratenkauf</strong> ermöglicht es deinen Kunden, einen Einkauf in monatlichen Raten zu bezahlen. Eine Information zum <a href="/payment/zahlungsanbieter/klarna#180">Ratenpreis</a> wird im <strong>Warenkorb/Bestellvorgang</strong> sowie den <strong>Artikeldetails</strong> angezeigt, wenn du das Layout deines Webshops anpasst. Im Bestellvorgang wird je nach Rechnungsbetrag der Ratenpreis automatisch berechnet und angezeigt. Weitere Details zum Ratenkauf findest du bei Klarna unter <a href="https://www.klarna.com/de/verkaeufer/mit-rechnung-verkaufen" target="_blank" rel="noopener">Rechnung und Ratenkauf</a>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/payment/assets/DE-Zahlungsarten-Klarna-02.png" alt="DE Zahlungsarten Klarna 02">
</div>
<div class="title">Bild 2. Info: Klarna-Ratenkauf</div>
</div>
<div class="paragraph subhead">
<p>Bestellvorgang</p>
</div>
<div class="paragraph">
<p>Beim Auswählen der Zahlungsart <strong>Klarna Ratenkauf</strong> kann der Kunde direkt die Laufzeit wählen und die entsprechende Rate einsehen. Nach dem Abschluss der Bestellung wird der Auftrag an Klarna gesendet. Sofern eine positive Antwort von Klarna erfolgt, wird der Auftrag angelegt und der Kunde erhält eine entsprechende Erfolgsmeldung. Sollten Fehler auftreten oder die Zahlungsanfrage abgelehnt werden, wird der Auftrag nicht angelegt und der Kunde erhält in der Bestellübersicht eine entsprechende Fehlermeldung.</p>
</div>
</div>
<div class="sect2">
<h3 id="40">1.3. Voraussetzungen für Klarna in verschiedenen Ländern</h3>
<div class="paragraph">
<p>Klarna steht für folgende Länder zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Deutschland</p>
</li>
<li>
<p>Österreich</p>
</li>
<li>
<p>Niederlande</p>
</li>
<li>
<p>Dänemark</p>
</li>
<li>
<p>Finnland</p>
</li>
<li>
<p>Norwegen</p>
</li>
<li>
<p>Schweden</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Um Klarna mit den Zugangsdaten für den Versand in unterschiedliche Länder einzurichten, müssen für den Webshop <a href="/payment/waehrungen">Währung</a> und <a href="/omni-channel/online-shop/webshop-einrichten/mehrsprachiger-webshop">Sprache</a> gewählt sein.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="50">2. Bei Klarna registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zur Registrierung bei Klarna nimmst du per E-Mail Kontakt zu <a href="mailto:verkauf@klarna.com">Klarna</a> auf. Du erhältst die Zugangsdaten, die du für die Einrichtung von Klarna in plentymarkets benötigst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">3. Klarna in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Schnittstelle zu Klarna für deinen Callisto Callisto Shop in plentymarkets einzurichten. Diese steht für die Zahlungsarten <strong>Klarna Rechnung</strong> und <strong>Klarna Ratenkauf</strong> zur Verfügung.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu Klarna einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International » Klarna</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Klarna Rechnung</strong> bzw. <strong>Klarna Ratenkauf</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klappe den Mandanten auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-schnittstelleneinrichtung-klarna">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnittstelleneinrichtung-klarna" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Schnittstelle zu Klarna einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Mandant (Shop)-Optionen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zugangsdaten für alle Mandanten (Shops) aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option ist nur sichtbar, wenn Mandanten eingerichtet sind.<br>
<strong>Ja</strong> = Die Zugangsdaten werden für alle Mandanten (Shops) übernommen, unabhängig davon, was in den Zugangsdaten-Menüs eingegeben wurde.<br>
<strong>Nein</strong> = Die gleichen Zugangsdaten wie für den Standard-Webshop können für weitere Mandanten (Shops) eingegeben werden. Alternativ separate Zugangsdaten für weitere Mandanten (Shops) anfordern.<br>
Shops, bei denen keine Zugangsdaten hinterlegt wurden, können mit Klarna nicht genutzt werden.<br>
Zur Unterstützung mehrerer Mandanten muss im Menü <a href="/omni-channel/online-shop/webshop-einrichten#grundeinstellungen">Einrichtung » Mandant » Mandant wählen » Webshop » Einstellungen</a> für die Option <strong>Login</strong> die Einstellung <strong>Login in jedem einzelnen Shop ermöglichen</strong> aktiviert sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>checkOrderStatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur bei Zahlungsart <strong>Klarna Rechnung</strong>.<br>
<strong>Zahnrad</strong> klicken, um manuell zu prüfen, ob Aufträge mit schwebender Bonitätsanfrage genehmigt wurden. Diese Aufträge werden ansonsten täglich automatisch abgefragt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Melden Sie sich noch heute bei Klarna an</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Link zur Registrierung bei Klarna.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sozialversicherungsnummer Freitextfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Freitextfeld wählen, das für den Eintrag der <a href="/klarna#80">Sozialversicherungsnummer</a> eingerichtet wurde.<br>
<strong><em>Wichtig:</em></strong> Die Angabe der Sozialversicherungsnummer ist für die Länder Dänemark, Finnland, Norwegen und Schweden für Kunden Pflicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standard-Land wählen.<br>
<strong><em>Wichtig:</em></strong> In plentymarkets ist Klarna für die <a href="/fulfillment/versand-vorbereiten#100">Lieferländer</a> Deutschland, Österreich, Niederlande, Dänemark, Finnland, Norwegen und Schweden verfügbar. Das heißt, dass nur Kunden mit Wohnsitz in diesen Ländern Aufträge über Klarna bezahlen können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eID</strong>,<br>
<strong>Shared secret</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Landesspezifische Zugangsdaten eingeben, wie von Klarna bei der Registrierung erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnungsversand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsversand wählen.<br>
<strong>Rechnung drucken und dem Paket beilegen</strong> = Rechnung wird vom Händler gedruckt und dem Paket beigelegt.<br>
<strong>Rechnung automatisch durch Klarna per E-Mail versenden</strong> = Klarna versendet die Rechnung automatisch per E-Mail. Die Beilage einer Rechnung im Paket ist nicht mehr nötig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kampagnen aktualisieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur bei Zahlungsart <strong>Klarna Ratenkauf</strong>.<br>
Auf <strong>Kampagnen aktualisieren</strong> klicken, um die Tabelle im Bereich <strong>Klarna-Kampagnen</strong> zu aktualisieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klarna-Kampagnen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Übersicht mit Informationen zu den Klarna-Kampagnen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="70">4. Zahlungsarten aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für Klarna stehen dir die Zahlungsarten Rechungskauf und Ratenkauf zur Verfügung, die du im Menü <a href="/payment/zahlungsarten-verwalten#20">Einrichtung » Aufträge » Zahlung » Zahlungsarten</a> aktivierst. Prüfe zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="80">5. Sozialversicherungsnummer hinterlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Länder Dänemark, Finnland, Norwegen und Schweden ist die Angabe der Sozialversicherungsnummer für Kunden Pflicht. Um das Pflichtfeld für die Sozialversicherungsnummer für die genannten Länder zur Verfügung zu stellen, hast du die Möglichkeit, ein Textfeld einzurichten, das im Zahlungsprozess angezeigt wird.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Keine Anpassungen am aktiven Design vornehmen</div>
<div class="paragraph">
<p>Nimm keine Änderungen an deinem aktiven Design vor. Bevor du Änderungen an deinem Design vornimmst, lege eine Sicherungskopie an, damit du jederzeit wieder zum Ursprungszustand zurückgelangst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Textfeld einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>Layout &gt; PageDesign</strong>.</p>
</li>
<li>
<p>Klicke auf das Template <strong>PageDesignPrepareMainColumn</strong>.</p>
</li>
<li>
<p>Suche nach der Variable <strong>ShowInvoiceAddressPersonalId</strong>.</p>
</li>
<li>
<p>Ändere den Wert von <strong>false</strong> auf <strong>true</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Das Textfeld wird im Bestellprozess unter <strong>Optionale Felder</strong> angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Um den Namen des Textfelds zu ändern, gehe wie im folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Name des Textfelds ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>Layout &gt; Checkout</strong>.</p>
</li>
<li>
<p>Klicke auf das Template <strong>CheckoutCustomerInvoice</strong>.</p>
</li>
<li>
<p>Suche nach der Variable <strong>ShowInvoiceAddressPersonalId</strong>.</p>
</li>
<li>
<p>Ersetze im Code-Block im Tag <strong>Label</strong> den Eintrag <strong>Personen ID</strong> mit dem von dir gewünschten Namen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="90">6. Versandbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Klarna über den Versand der Artikel, die Stornierung von Aufträgen und Retouren informiert sowie die Rechnung erstellt bzw. gelöscht wird, erstelle die nachfolgend beschriebenen Ereignisaktionen. Beachte, dass die Ereignisaktionen auch für Ratenkauf angelegt werden müssen. Die Funktionalität sollte vor Live-Schaltung mit deinem Ansprechpartner der Klarna-Integrationsabteilung getestet werden. Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Versandbestätigungen automatisch zu versenden, nachdem der Warenausgang gebucht wurde.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-ereignisaktion-automatische-versandbestaetigung-klarna">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-ereignisaktion-automatische-versandbestaetigung-klarna">Tabelle 2</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-ereignisaktion-automatische-versandbestaetigung-klarna" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion zum automatischen Senden von Versandbestätigungen an Klarna</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Warenausgang gebucht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klarna Ratenkauf</strong><br>
<strong>Klarna Rechnung innerhalb 14 Tage zahlbar</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand &gt; Versandbestätigung an Klarna senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du den Warenausgang mit Hilfe eines Statuswechsels buchen möchtest, wähle als Ereignis die Einstellung <strong>Statuswechsel</strong> und dann den gewünschten Status.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>Mit der Versandbestätigung erfährt Klarna, dass die Bestellung versendet wurde. Dies wiederum aktiviert die Erstellung der Rechnung, die im Anschluss automatisiert als PDF-Datei im Auftrag hinterlegt wird. Wenn du die Rechnung früher benötigenst stelle ein früheres Ereignis ein. Stelle jedoch sicher, dass die Ware auch tatsächlich versendet wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">7. Retouren automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Retouren automatisch an Klarna zu senden. Weitere Details zum Anlegen von Retouren findest du auf der Handbuchseite <a href="/auftraege/auftraege-verwalten#400">Retoure</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-automatische-retoure-klarna">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-automatische-retoure-klarna">Tabelle 3</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-automatische-retoure-klarna" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Senden von Retouren an Klarna</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsanlage: Neue Retoure</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klarna Ratenkauf</strong><br>
<strong>Klarna Rechnung innerhalb 14 Tage zahlbar</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure &gt; Retoure an Klarna senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="110">8. Stornierungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Klarna automatisch über Stornierungen zu informieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-automatische-stornierung-klarna">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-automatische-stornierung-klarna">Tabelle 4</a> vor.</p>
</li>
<li>
<p>Setzee ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-automatische-stornierung-klarna" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion zum automatischen Senden von Stornierungen an Klarna</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status für <strong>stornierte Aufträge</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klarna Ratenkauf</strong><br>
<strong>Klarna Rechnung innerhalb 14 Tage zahlbar</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Rechnung von Klarna löschen</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="120">9. Klarna-Auftrag bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst einen Klarna-Auftrag bis zur Buchung des Warenausgangs noch ändern, z.B. die Menge eines Artikels reduzieren. Außerdem ist es möglich, Artikel zu löschen. Der Rechnungsbetrag wird dann angepasst. Du kannst die Werte nur reduzieren, nicht erhöhen. Es dürfen einem bestehenden Auftrag keine weiteren Artikel hinzugefügt werden. Da noch keine endgültige Rechnung erzeugt wurde, ist es vor Buchung des Warenausgangs problemlos möglich, einen Klarna-Auftrag zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Auftrag löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Klarna-Auftrag.<br>
→ Das Tab <strong>Übersicht</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Auftrag löschen</strong>.<br>
→ Der Auftrag wird gelöscht.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="130">10. Waren versenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Versende die Ware umgehend, da das 14-tägige Zahlungsziel des Kunden mit der Aktivierung der Klarna-Rechnung beginnt. Beachte auch, dass die Ware ausschließlich an die Adresse versendet werden darf, die auf der Klarna-Rechnung steht. Wird der Warenausgang gebucht, erfolgt die Rechnungsstellung.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Klarna-Aufträge werden nicht an DHL Fulfillment übertragen</div>
<div class="paragraph">
<p>Die Auftragsübergabe von mit Klarna bezahlten Aufträgen an <a href="/fulfillment/versand-vorbereiten#4800">DHL Fulfillment</a> ist noch nicht möglich. Es können nur Aufträge mit einem vorhandenen Rechnungsdokument an DHL Fulfillment übertragen werden. Klarna übermittelt die Rechnung jedoch erst nach Warenausgang an plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="140">10.1. Klarna-Rechnung erstellen</h3>
<div class="paragraph">
<p>Mit der Versandbestätigung an Klarna bzw. sobald der Warenausgang gebucht wird, erzeugt das System eine Klarna-Rechnung mit den aktuellen Daten. Die Rechnung steht als PDF-Dokument über den Link <strong>Rechnungsnummer</strong> oder im Tab <strong>Belege</strong> des Auftrags zur Verfügung und kann ausgedruckt und dem Paket beigelegt werden. Über eine von dir eingerichtete Ereignisaktion kann im Anschluss an den Warenausgang die Rechnung über eine E-Mail-Vorlage <strong>Klarna-Rechnung für Endkunde</strong> automatisch an den Kunden gesendet werden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Keine Rechnungsänderung möglich</div>
<div class="paragraph">
<p>Beachte, dass Rechnungsänderungen, z.B. die Änderung der Anschrift, nicht möglich sind. Die Rechnung im Tab <strong>Belege</strong> darf auch nicht gelöscht werden, wenn sich der Auftrag im Status 7 <strong>Warenausgang gebucht</strong> befindet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Rechnung herunterladen, ausdrucken und beilegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke in der <strong>Auftragsübersicht</strong> oder im Auftrag im Tab <strong>Belege</strong> unter <strong>Dokumente</strong> auf den Link der Rechnung, um die Rechnung herunterzuladen.</p>
</li>
<li>
<p>Speichere die Rechnung und drucke sie aus.</p>
</li>
<li>
<p>Lege die Rechnung in das Paket.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="150">10.2. Klarna-Rechnung manuell importieren</h3>
<div class="paragraph">
<p>Nachdem du die Versandbestätigung an <strong>Klarna</strong> übermittelt hast, wird die von <strong>Klarna</strong> erzeugte Rechnung normalerweise automatisch an den entsprechenden Auftrag in deinem m plentymarkets System angehängt.
Es kann jedoch vorkommen, dass Rechnungen zu Aufträgen mit der Zahlungsart <strong>Klarna</strong> nicht korrekt in dein plentymarkets System importiert werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Aufträge mit Zahlungsart <strong>Klarna</strong> suchen</div>
<div class="paragraph">
<p>Nutze den Filter <strong>Zahlungsart</strong> in der Auftragssuche, um nur Aufträge mit der Zahlungsart <strong>Klarna</strong> anzuzeigen und diese Aufträge zu prüfen. Eine fehlende <strong>Rechnungsnummer</strong> in der Auftragsübersicht kann darauf hinweisen, dass die jeweiligen Klarna-Rechnungen nicht in dein plentymarkets System importiert wurden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Um einzelne Klarna-Rechnungen manuell in plentymarkets zu importieren, logge dich zunächst in dein Klarna-Händlerkonto ein und wähle die betroffene Rechnung aus. Lege das Rechnungsdokument entweder auf einem Server oder lokal auf deinem Computer ab.</p>
</div>
<div class="paragraph">
<p>Gehe anschließend wie folgt vor, um die Klarna-Rechnung manuell zu importieren.</p>
</div>
<div class="paragraph instruction">
<p>Klarna-Rechnung manuell importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong></p>
</li>
<li>
<p>Wähle die Zahlungsart <strong>Klarna</strong>.<br>
→ Das Tab <strong>Schnittstelle</strong> öffnet sich.</p>
</li>
<li>
<p>Nimm die Einstellung anhand der Informationen in <a href="#tabelle-klarna-rechnungsimport">Tabelle 5</a> vor.</p>
</li>
<li>
<p>Klickeauf <strong>Ausführen</strong>.<br>
→ Die Klarna-Rechnung wird importiert und mit dem Auftrag verknüpft. Im Folgenden ist die Klarna-Rechnung im Tab <strong>Belege</strong> des Auftrags oder durch Klick auf die <strong>Rechnungsnummer</strong> in der Auftragsübersicht zugänglich.</p>
</li>
</ol>
</div>
<table id="tabelle-klarna-rechnungsimport" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Einstellungen im Tab <strong>Schnittstelle</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die ID des Auftrags eingeben, dem die Rechnung zugeordnet werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Invoice-Url</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Falls du das Rechnungsdokument auf einem Server abgelegt habst, gib hier die URL zum Dokument ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Invoice number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Rechnungsnummer der Klarna-Rechnung eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klarna invoice PDF</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Falls du das Rechnungsdokument nicht auf einem Server abgelegt, sondern lokal gespeichert hast, kannst du hier die <strong>Datei auswählen</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Invoice date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Rechnungsdatum der Klarna-Rechnung eingeben.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="160">10.3. Teillieferung</h3>
<div class="paragraph">
<p>Wenn sich die Bestellung ändert oder z.B. ein Artikel nicht mehr verfügbar ist, kannst du die Artikel noch anpassen. <a href="/payment/zahlungsanbieter/klarna#120">Bearbeite den Auftrag</a>, bevor du den Warenausgang buchst.</p>
</div>
</div>
<div class="sect2">
<h3 id="170">10.4. Komplettlieferung</h3>
<div class="paragraph">
<p>Wenn ein Artikel nicht verfügbar, aber nachbestellt ist, warte, bis die Nachbestellung eingetroffen ist, bevor du den Warenausgang buchst.</p>
</div>
</div>
<div class="sect2">
<h3 id="180">10.5. Wartende Bestellung (Pending)</h3>
<div class="paragraph">
<p>Eine wartende Bestellung wird mit <strong>Status 3</strong> in der Auftragsübersicht angezeigt.</p>
</div>
<div class="paragraph">
<p>Um die Akzeptanzrate zu erhöhen, erhalten Bestellungen, die von Klarna nicht direkt genehmigt werden können, den Status <strong>Pending</strong> (wartende Bestellung). Wartende Bestellungen hältst vorerst zurück. Diese wartenden Bestellungen siehst du in der Übersicht des Auftrags im <strong>Status 3</strong>. Innerhalb der nächsten maximal 24 Stunden werden die wartenden Bestellungen manuell von Klarna geprüft. Durch einen integrierten Cronjob wird der Status der wartenden Bestellungen stündlich bei Klarna abgefragt.</p>
</div>
<div class="paragraph">
<p>Wird die Bestellung im Nachgang genehmigt, siehst du die Bestellung als regulären Auftrag. Wird die Bestellung abgelehnt, wird sie als abgelehnt angezeigt. Du kannst dem Kunden dann eine andere Zahlungsart anbieten.</p>
</div>
<div class="paragraph">
<p>Die E-Mail, mit der du dem Kunden eine andere Zahlungsart anbietest, sollte einen Link zum Checkout des Warenkorbs (Platzhalter: [URL_Checkout]) enthalten. Der Kunde erhält über diesen Link die Möglichkeit, eine andere Zahlungsart für die Bestellung zu wählen.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="180">11. Template für den Ratenkauf anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um den Ratenpreis auf der Produktseite und in der Artikelauflistung anzuzeigen, muss das Template <strong>ItemViewSingleItem</strong> angepasst werden. Du kannst zudem das Klarna Ratenkauf-Logo in die Darstellung integrieren. Das Logo findest du auf der <a href="https://klarna.com/campaign/rebranding/?lang=german" target="_blank" rel="noopener">Klarna-Integrationsseite</a>.</p>
</div>
<div class="paragraph instruction">
<p>Template für den Ratenkauf anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>Layout » ItemView</strong>.</p>
</li>
<li>
<p>Klicke auf das Template <strong>ItemViewSingleItem</strong>.</p>
</li>
<li>
<p>Füge das Code-Beispiel in das Template ein.</p>
</li>
<li>
<p>Ersetze <strong>SHOP-ID</strong> mit der von Klarna zugewiesenen Shop-ID.<br>
→ Die Shop-ID verwendest du auch im Backend beim Einrichten der Zahlungsarten.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph subhead">
<p>Beispiel-Code für die Anzeige des Ratenpreises</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">Unresolved directive in &lt;stdin&gt; - include::assets/EX-DE-Klarna-Ratenkauf.html[]</code></pre>
</div>
</div>
</div>
</div>
</main>