<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Bezahlvorgang mit Klarna Checkout</span></a></li>
<li><a href="#30"><span>1.2.</span><span> SSL-Zertifikat</span></a></li>
<li><a href="#40"><span>1.3.</span><span> Verknüpfte Zahlungsarten</span></a></li>
</ul>
</li>
<li><a href="#50"><span>2.</span><span> Bei Klarna registrieren</span></a></li>
<li><a href="#55"><span>3.</span><span> Klarna Checkout in Callisto einrichten</span></a></li>
<li><a href="#60"><span>4.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#90"><span>5.</span><span> Externe Zahlungsarten im Klarna Checkout erlauben</span></a></li>
<li><a href="#70"><span>6.</span><span> Währungsumrechnung aktivieren</span></a></li>
<li><a href="#90"><span>7.</span><span> Klarna Checkout im Webshop anzeigen</span></a>
<ul class="sectlevel2">
<li><a href="#100"><span>7.1.</span><span> Kategorie für Länderabfrage hinzufügen</span></a></li>
<li><a href="#110"><span>7.2.</span><span> Kategorie für Klarna Checkout hinzufügen</span></a></li>
<li><a href="#120"><span>7.3.</span><span> Bestellschritte hinzufügen</span></a></li>
<li><a href="#130"><span>7.4.</span><span> Bestellschritte anpassen</span></a></li>
<li><a href="#140"><span>7.5.</span><span> Templates anpassen</span></a></li>
<li><a href="#150"><span>7.6.</span><span> Auf die Nutzungsbedingungen hinweisen</span></a></li>
<li><a href="#160"><span>7.7.</span><span> AGB und Widerrufsrecht angeben</span></a></li>
</ul>
</li>
<li><a href="#180"><span>8.</span><span> Versandbestätigungen automatisch senden</span></a></li>
<li><a href="#190"><span>9.</span><span> Retouren automatisch senden</span></a></li>
<li><a href="#200"><span>10.</span><span> Stornierungen automatisch senden</span></a></li>
<li><a href="#210"><span>11.</span><span> Klarna-Aufträge ändern</span></a></li>
<li><a href="#220"><span>12.</span><span> Hinweise für reibungslosen Ablauf</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: Klarna Checkout</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>Klarna Checkout</strong> in Callisto Shops. Die folgenden Anleitungen sind somit nicht für Ceres Shops gültig!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><a href="https://klarna.com/de/mit-klarna-verkaufen/klarna-checkout" target="_blank" rel="noopener">Klarna Checkout</a> ist eine integrierte Checkout-Lösung, mit der du deinen Kunden zahlreiche Zahlungsarten anbietest. Der Klarna Checkout ist responsive. Klarna selbst ist ein europäischer Anbieter von Zahlungslösungen im Internethandel.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhältst du wichtige Hinweise zur Integration des Zahlungsanbieters <strong>Klarna Checkout</strong> in plentymarkets.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Klarna Checkout und Webshop-Design</div>
<div class="paragraph">
<p>Beachte, dass für die erfolgreiche Integration von Klarna Checkout in plentymarkets folgende Bedingungen erfüllt sein müssen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verwendung des Standard-Designs Callisto (ab Version 2)</p>
</li>
<li>
<p>Nutzung des Individuellen Bestellvorgangs</p>
</li>
<li>
<p>Sicherer Umgang mit dem plentymarkets CMS</p>
</li>
<li>
<p>Erfahrung mit der Einrichtung von Zahlungsdienstleistern</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="20">1.1. Bezahlvorgang mit Klarna Checkout</h3>
<div class="paragraph">
<p>Der Bezahlvorgang verläuft wie folgt: Der Kunde gibt seine E-Mail-Adresse und die Postleitzahl der Rechnungsadresse im Klarna Checkout ein. Bei Klarna-Bestandskunden wird die Rechnungsadresse automatisch ausgefüllt. Der Kunde klickt auf <strong>Jetzt kaufen</strong>. Standardmäßig erfolgt die Bestellung auf Rechnung, d.h., der Kunde erhält nach Versand der Ware eine Rechnung per E-Mail. In der Bestellbestätigung kann der Kunde optional die Zahlungsart wechseln, sich also für eine andere über Klarna Checkout verfügbare Zahlungsmethode entscheiden. Die Seite, die den Wechsel der Zahlungsart ermöglicht, wird komplett von Klarna gehostet. Für den Kunden ist der Bestellvorgang damit abgeschlossen. Auf Händlerseite legt plentymarkets eine Bestellung im System an.</p>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. SSL-Zertifikat</h3>
<div class="paragraph">
<p>Klarna Checkout wird über ein iFrame direkt in plentymarkets integriert. Daher ist für die Nutzung der Zahlungsart ein <a href="/basics/admin-aufgaben/plentymarkets-konto#ssl-zertifikat">SSL-Zertifikat</a> notwendig.</p>
</div>
</div>
<div class="sect2">
<h3 id="40">1.3. Verknüpfte Zahlungsarten</h3>
<div class="paragraph">
<p>Klarna Checkout verknüpft die folgenden Zahlungsarten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Klarna Rechnung</p>
</li>
<li>
<p>Klarna Ratenkauf</p>
</li>
<li>
<p>Visa</p>
</li>
<li>
<p>MasterCard</p>
</li>
<li>
<p>SOFORT Überweisung</p>
</li>
<li>
<p>EC/Lastschrift</p>
</li>
<li>
<p>Weitere <a href="/payment/zahlungsanbieter/klarna-checkout#90">externe Zahlungsarten</a></p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="50">2. Bei Klarna registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zur Registrierung bei Klarna nimmst du per E-Mail Kontakt zu Klarna auf: <a href="mailto:verkauf@klarna.com">verkauf@klarna.com</a>. Du erhältst die Zugangsdaten, die du für die Einrichtung von Klarna in plentymarkets benötigst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="55">3. Klarna Checkout in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Schnittstelle zu Klarna Checkout für deinen Callisto Shop in plentymarkets einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu Klarna Checkout einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffn das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>Klarna</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Klarna Checkout</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klappe den Mandanten auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-schnittstelleneinrichtung-klarna-checkout">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnittstelleneinrichtung-klarna-checkout" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Schnittstelle zu Klarna Checkout einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zugangsdaten für alle Mandanten (Shops) aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option ist nur sichtbar, wenn Mandanten eingerichtet sind.<br>
<strong>Ja</strong> = Die Zugangsdaten werden für alle Mandanten (Shops) übernommen, unabhängig davon, was in den Zugangsdaten-Menüs eingegeben wurde.<br>
<strong>Nein</strong> = Die gleichen Zugangsdaten wie für den Standard-Webshop können für weitere Mandanten (Shops) eingegeben werden. Alternativ separate Zugangsdaten für weitere Mandanten (Shops) anfordern.<br>
Shops, bei denen keine Zugangsdaten hinterlegt wurden, können mit Klarna Checkout nicht genutzt werden.<br>
Zur Unterstützung mehrerer Mandanten muss im Menü <a href="/omni-channel/online-shop/webshop-einrichten#grundeinstellungen">Einrichtung » Mandant » Mandant wählen » Webshop » Einstellungen</a> für die Option <strong>Login</strong> die Einstellung <strong>Login in jedem einzelnen Shop ermöglichen</strong> aktiviert sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Testmodus / Live</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Zahlungsart im Test- oder Live-Modus aktiviert werden soll.<br>
<strong>sandbox</strong> = Testmodus<br>
<strong>live</strong> = Live-Modus</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standard-Land wählen.<br>
<strong><em>Wichtig:</em></strong> In plentymarkets ist Klarna Checkout für die <a href="/payment/zahlungsanbieter/klarna-checkout#20">Lieferländer</a> Deutschland, Österreich, Finnland, Norwegen und Schweden verfügbar. Das heißt, dass nur Kunden mit Wohnsitz in den genannten Ländern Aufträge über Klarna Checkout bezahlen können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Telefon als Pflichtfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, wenn die Angabe der Telefonnummer für Kunden Pflicht sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Abweichende Lieferadresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit Kunden eine abweichende Lieferadresse angeben können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Packstation aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, wenn die Lieferung an eine Packstation zulässig sein soll. Dazu muss auch die Option <strong>Abweichende Lieferadresse</strong> aktiviert sein (siehe oben).<br>
<strong><em>Hinweis:</em></strong> Die Namen der Versandprofile, für die Packstation als Lieferadresse möglich sein soll, müssen <strong>DHL</strong> beinhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externe Zahlungsanbieter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um externe Zahlungsanbieter zuzulassen.<br>
Folgende Zahlungsarten sind in Kombination mit Klarna Checkout zulässig:<br>
PayPal, Amazon Pay, Amex, Vorkasse, Nachnahme, Giropay, Barzahlung, Lastschrift<br>
Auf die Schreibweise der Zahlungsarten achten, da sie in plentymarkets mit genau diesen Namen angelegt werden müssen. Nur <a href="/payment/zahlungsarten-verwalten#20">aktive Zahlungsarten</a> werden berücksichtigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Geburtsdatum als Pflichtfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, wenn die Angabe des Geburtsdatums für Kunden Pflicht sein soll. Für die Zahlungsarten Rechnung, Ratenkauf und Lastschrift ist das Geburtsdatum eine Pflichtangabe.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Autofokus deaktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um den Autofokus auf das E-Mail-Feld im Klarna Checkout zu deaktivieren. Der Fokus wird auf andere Felder des Webshops gelegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schaltfläche - Farbe;<br>
Schaltfläche - Textfarbe;<br>
Checkbox - Farbe;<br>
Checkbox - Hakenfarbe;<br>
Header - Farbe;<br>
Link - Farbe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hexadezimale HTML-Codes der gewünschten Farben eingeben, um Elemente des iFrames anzupassen, falls das Standard-Farbschema des Klarna Checkout nicht zum Design des Shops passt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eID;<br>
Shared secret</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Landesspezifische Zugangsdaten eingeben, wie von Klarna bei der Registrierung erhalten.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="60">4. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte die <a href="/payment/zahlungsarten-verwalten#20">Zahlungsart</a> Klarna Checkout in deinem plentymarkets ein und aktiviere die Zahlungsart. Prüfe zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="90">5. Externe Zahlungsarten im Klarna Checkout erlauben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst Kunden in Deutschland und Österreich einige externe Zahlungsarten über den Klarna Checkout anbieten. Die zusätzlichen Zahlungsarten kannst du jedoch nur in Absprache mit Klarna anbieten. Wende dich daher an Klarna, bevor du externe Zahlungsarten einrichtest.</p>
</div>
<div class="paragraph">
<p>Damit Klarna die zusätzlichen Zahlungsarten erkennt, muss als Name die unten angegebene Schreibweise genutzt werden. Außerdem müssen die Logos der externen Zahlungsanbieter der angegebenen Bildgröße exakt entsprechen. Die in plentymarkets gespeicherten Standard-Logos sind zu groß für den Klarna Checkout.<br>
Die Zahlungsarten und Bildgrößen sind:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>PayPal (276 x 48 px)</p>
</li>
<li>
<p>Amazon Pay (276 x 48 px)</p>
</li>
<li>
<p>Vorkasse (69 x 24 px)</p>
</li>
<li>
<p>Giropay (69 x 24 px)</p>
</li>
<li>
<p>Barzahlen (69 x 24 px)</p>
</li>
<li>
<p>Lastschrift (69 x 24 px)</p>
</li>
<li>
<p>Nachnahme (69 x 24 px)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Liste der möglichen externen Zahlungsarten im Klarna Checkout wird von Klarna immer wieder geändert und erweitert, daher stellt die Liste hier keine vollständige Liste dar.</p>
</div>
<div class="paragraph instruction">
<p>Externe Zahlungsarten erlauben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>Klarna</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Klarna Checkout</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klappe den Mandanten auf.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Externe Zahlungsanbieter</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong>  die Einstellung.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Richte die zusätzlich gewünschten <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten</a> im Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong> in deinem plentymarkets Backend ein und aktiviere die Zahlungsarten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="70">6. Währungsumrechnung aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du den Klarna Checkout nutzt, musst du Kunden aus den Lieferländern den Rechnungsbetrag in ihrer Landeswährung anzeigen. Deshalb musst du die Währungen umrechnen lassen. plentymarkets bietet die Möglichkeit der Live-Umrechnung. Nutze alternativ einen eingegebenen Preis einer Preisspalte des Artikels für eine bestimmte Währung.</p>
</div>
<div class="paragraph instruction">
<p>Umrechnung mittels Live-Umrechnung aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnedas Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » Währung</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Währungsumrechnung</strong> die Option <strong>Live-Umrechnung</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Währungen</strong>.</p>
</li>
<li>
<p>Wähle eine Option für die Einstellung <strong>Umrechnungsfaktoren täglich automatisch aktualisieren</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Umrechnung mittels Preisspalten aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » Währung</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Währungsumrechnung</strong> die Option <strong>verwende Preisspalte</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Währungen</strong>.</p>
</li>
<li>
<p>Wähle für jede Währung eine Preisspalte.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="90">7. Klarna Checkout im Webshop anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel wird beschrieben, wie du Klarna Checkout in den individuellen Bestellvorgang von plentymarkets einfügst. Hierfür sind mehrere Schritte nötig.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Keine Anpassungen am aktiven Design vornehmen</div>
<div class="paragraph">
<p>Nimm keine Änderungen an deinem aktiven Design vor. Bevor du Änderungen an deinem Design vornimmst, lege eine Sicherungskopie an, damit du jederzeit wieder zum Ursprungszustand zurückgelangst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Container für Klarna Checkout nicht in Checkout-Templates einfügen</div>
<div class="paragraph">
<p>Wenn Klarna Checkout aktiviert ist, füge den Container <strong>&#123;&#37; Container_CheckoutKlarnaCheckout() &#37;&#125;</strong> für den Klarna Checkout nicht in eines der Checkout-Templates ein, denn so kann es Überschneidungen zwischen Klarna Checkout und dem individuellen Bestellvorgang in plentymarkets geben. Wenn du den Klarna Checkout nutzt, achte deshalb darauf, dass der Endkunde schon in der Warenkorbvorschau zum Klarna Checkout gelangen kann. Die Warenkorbvorschau ist in den plentymarkets Standard-Designs im Template <a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewbasketpreviewlist">ItemViewBasketPreviewList</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="100">7.1. Kategorie für Länderabfrage hinzufügen</h3>
<div class="paragraph">
<p>Füge zunächst das nachfolgende Code-Beispiel in eine Kategorie des Typs <strong>Container</strong> ein. Das Code-Beispiel enthält eine Länderabfrage, damit Kunden aus Ländern, für die der Klarna Checkout nicht verfügbar ist, trotzdem in deinem Shop einkaufen können. Für die Länder, für die der Klarna Checkout verfügbar ist, ist es erforderlich, dass der Rechnungsbetrag in der Landeswährung angegeben wird. Stelle deshalb die Währungsumrechnung ein. Die folgenden Beschreibungen basieren auf einem unveränderten Callisto-Design. Wenn du bereits Anpassungen an ihrem Design vorgenommen hast, musst du diese Anpassungen berücksichtigen, um den Klarna Checkout zu verwenden. Klarna Checkout wird in eine Kategorie des Typs <strong>Container</strong> eingefügt.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie des Typs Container erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Kategorie</strong>.<br>
→ Das Fenster <strong>Neue Kategorie erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein, z.B. Länderauswahl.</p>
</li>
<li>
<p>Klicke auf <strong>Erstellen</strong>.<br>
→ Die Kategorie wird im Tab <strong>Einstellungen</strong> geöffnet.</p>
</li>
<li>
<p>Wähle unter <strong>Typ</strong> die Option <strong>Container</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Beschreibung 1</strong>.</p>
</li>
<li>
<p>Füge das Code-Beispiel ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nimm im Tab <strong>Einstellungen</strong> weitere Einstellungen, wie z.B. Mandant wählen, vor.</p>
</div>
<div class="paragraph subhead">
<p>Code-Beispiel für Klarna Checkout:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">Unresolved directive in &lt;stdin&gt; - include::assets/EX-DE-Klarna-Checkout-Gesamtbeispiel.html[]</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="110">7.2. Kategorie für Klarna Checkout hinzufügen</h3>
<div class="paragraph">
<p>Damit deinen Kunden nach der Länderauswahl der Klarna Checkout angezeigt wird, erstelle eine zweite Kategorie des Typs <strong>Container</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie des Typs Container erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Kategorie</strong>.<br>
→ Das Fenster <strong>Neue Kategorie erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein, z.B. Klarna Checkout.</p>
</li>
<li>
<p>Klicke auf <strong>Erstellen</strong>.<br>
→ Die Kategorie wird im Tab <strong>Einstellungen</strong> geöffnet.</p>
</li>
<li>
<p>Wähle unter <strong>Typ</strong> die Option <strong>Container</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Beschreibung 1</strong>.</p>
</li>
<li>
<p>Füge den Container <strong>&#123;&#37; Container_CheckoutKlarnaCheckout() &#37;&#125;</strong> in das Textfeld ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nimm im Tab <strong>Einstellungen</strong> weitere Einstellungen, wie z.B. Mandant wählen, vor.</p>
</div>
</div>
<div class="sect2">
<h3 id="120">7.3. Bestellschritte hinzufügen</h3>
<div class="paragraph">
<p>Die neu erstellten Kategorien müssen jetzt den Bestellschritten des individuellen Bestellvorgangs hinzugefügt werden.</p>
</div>
<div class="paragraph instruction">
<p>Bestellschritte hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Einstellungen</strong>.<br>
→ Das Fenster <strong>Design-Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Mandanten</strong>.</p>
</li>
<li>
<p>Klicke auf einen Mandanten.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Bestellvorgang</strong>.</p>
</li>
<li>
<p>Klicke im <strong>9. Bestellschritt</strong> auf <strong>Suchen</strong>.</p>
</li>
<li>
<p>Wähle die neu erstellte Kategorie <strong>Länderauswahl</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Auswählen</strong>.</p>
</li>
<li>
<p>Klicke im <strong>10. Bestellschritt</strong> auf <strong>Suchen</strong>.</p>
</li>
<li>
<p>Wähle die neu erstellte Kategorie <strong>Klarna Checkout</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Auswählen</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Bestellschritte werden hinzugefügt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="130">7.4. Bestellschritte anpassen</h3>
<div class="paragraph">
<p>Die Bestellschritte des individuellen Bestellvorgangs sind nummeriert und die Nummer stellt eine Art ID dar. Bestellschritt 3 des individuellen Bestellvorgangs ist Kasse und statt dieses Bestellschritts muss für den Klarna Checkout der Bestellschritt mit der Länderauswahl und der Weiterleitung zum Klarna Checkout, also Bestellschritt 9, aufgerufen werden. Zudem muss die Kategorie Warenkorb angepasst werden, damit auch angemeldete Webshop-Besucher in den Klarna Checkout gelangen. An welchen Stellen du Bestellschritte anpassen musst, wird nachfolgend beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie Anmeldung anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffnen deinen Design-Ordner, um die Unterkategorien aufzulisten.</p>
</li>
<li>
<p>Öffne die Kategorie <strong>Anmeldung</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Beschreibung 1</strong>.</p>
</li>
<li>
<p>Suche <strong>Link_Checkout(3)</strong>.<br>
→ Der Link zur Kaufabwicklung sollte 2 mal enthalten sein.</p>
</li>
<li>
<p>Ersetze an beiden Stellen die (3) durch (9).</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In der Anmeldung muss auch auf die <a href="/payment/klarna-checkout#150">Nutzungsbedingungen</a> hingewiesen werden.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie Warenkorb anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffnen deinen Design-Ordner, um die Unterkategorien aufzulisten.</p>
</li>
<li>
<p>Öffne die Kategorie <strong>Warenkorb</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Beschreibung 1</strong>.</p>
</li>
<li>
<p>Suche <strong>Link_Checkout(3)</strong>.<br>
→ Der Link zur Kaufabwicklung ist mehrmals enthalten, aber nur die Stelle mit (3) ist gesucht.</p>
</li>
<li>
<p>Ersetze die (3) durch (9).</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Ersetze Link_Checkout(3) durch Link_Checkout(9) auch in den Kategorien <strong>Bestellvorgang</strong> und <strong>Registrierung</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="140">7.5. Templates anpassen</h3>
<div class="paragraph">
<p>Damit Klarna Checkout korrekt ausgeführt und angezeigt wird, ist noch eine Anpassung in Templates <strong>ItemViewBasketPreviewList</strong>, <strong>ItemViewItemToBasketConfirmationOverlay</strong> und <strong>NavigationCategories10Content</strong> notwendig. Achte darauf, dass das Design, das du bearbeitet hast auch einem Mandanten zugeordnet ist und veröffentlicht wurde, damit der Klarna Checkout in deinem Webshop verfügbar ist.</p>
</div>
<div class="paragraph instruction">
<p>Template ItemViewBasketPreviewList anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>Layout</strong>.</p>
</li>
<li>
<p>Öffne den Unterordner <strong>ItemView</strong>.</p>
</li>
<li>
<p>Öffne das Template <strong>ItemViewBasketPreviewList</strong>.</p>
</li>
<li>
<p>Suche <strong>Link_Checkout(3)</strong>.</p>
</li>
<li>
<p>Ersetze die (3) durch (9).</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Ersetze Link_Checkout(3) durch Link_Checkout(9) außerdem in den Templates <strong>ItemViewItemToBasketConfirmationOverlay</strong> und <strong>NavigationCategories10Content</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="150">7.6. Auf die Nutzungsbedingungen hinweisen</h3>
<div class="paragraph">
<p>Für Deutschland muss unter dem Login noch ein Hinweis auf die Nutzungsbedingungen des Klarna Checkouts eingefügt werden. In Callisto Light 2 mit individuellem Bestellvorgang ist der Login in der Kategorie Anmeldung enthalten und hier fügst du auch deinen Hinweis ein.</p>
</div>
<div class="paragraph instruction">
<p>Hinweis einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnee das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffne den Ordner des Designs, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Öffne die Kategorie <strong>Anmeldung</strong>.</p>
</li>
<li>
<p>Füge einen Hinweistext im Code ein, so dass er unter dem Login angezeigt wird.</p>
</li>
<li>
<p>Verlinke die Nutzungsbedingungen des Klarna Checkouts im Hinweis.<br>
→ Die Nutzungsbedingungen findest du unter dieser URL: <a href="https://cdn.klarna.com/1.0/shared/content/legal/terms/EID/de_de/checkout" target="_blank" rel="noopener">https://cdn.klarna.com/1.0/shared/content/legal/terms/EID/de_de/checkout</a>.</p>
</li>
<li>
<p>Ersetze die <strong>EID</strong> in der URL durch die ID deines Klarna-Kontos für Deutschland.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/payment/assets/DE-Zahlungsarten-Klarna-Checkout-01.png" alt="DE Zahlungsarten Klarna Checkout 01">
</div>
<div class="title">Bild 1. Hinweis auf die Nutzungsbedingungen des Klarna Checkouts</div>
</div>
</div>
<div class="sect2">
<h3 id="160">7.7. AGB und Widerrufsrecht angeben</h3>
<div class="paragraph">
<p>Im Klarna Checkout werden deine AGB und Widerrufsrecht angezeigt. Hierfür erhält Klarna die URL zu der Seite AGB deines plentymarkets-Systems. In dieser Seite müssen ebenfalls die Informationen zum Widerrufsrecht enthalten sein. 2 Seiten sind nicht möglich. Klarna hängt an die URL #cancellation_rights, um die Widerrufsinformationen aufzurufen. Deshalb muss in der Seite ein Anker mit dem Namen <strong>&lt;a name="cancellation_right"&gt;Widerrufsrecht für Verbraucher&lt;/a&gt;</strong> eingefügt werden. Damit der Link, der an Klarna gesendet wird, die Informationen enthält, gehe folgendermaßen vor.</p>
</div>
<div class="paragraph instruction">
<p>AGB und Widerrufsrecht angeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Lege eine neue Kategorie des Typs <strong>Content</strong> an, die sowohl deine AGB als auch Informationen zum Widerrufsrecht enthält.</p>
</li>
<li>
<p>Füge den Anker <strong>&lt;a name="cancellation_right"&gt;Widerrufsrecht für Verbraucher&lt;/a&gt;</strong> an der Stelle in der Kategorie ein, an der die Widerrufsinformationen beginnen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » Seiten</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Seite AGB</strong> die Seite, die sowohl die AGB als auch das Widerrufrecht enthält.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="180">8. Versandbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Klarna über den Versand der Artikel, die Stornierung von Aufträgen und über Retouren informiert wird sowie die Rechnung erstellt bzw. gelöscht wird, erstellst du Ereignisaktionen. Die Funktionalität sollte vor Live-Schaltung mit deinem Ansprechpartner der Klarna-Integrationsabteilung getestet werden. Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Versandbestätigungen automatisch an Klarna zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 2.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 2 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion zum automatischen Senden von Versandbestätigungen an Klarna</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Warenausgang gebucht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klarna Checkout</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand &gt; Versandbestätigung an Klarna senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>Mit der Versandbestätigung erfährt Klarna, dass die Bestellung versendet wurde. Dies aktiviert die Erstellung der Rechnung, die im Anschluss automatisiert als PDF-Datei im Auftrag hinterlegt wird. Wenn du die Rechnung früher benötigst, stelle ein früheres Ereignis ein. Stelle jedoch sicher, dass die Ware auch tatsächlich versendet wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="190">9. Retouren automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richten eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Retouren automatisch an Klarna zu senden. Weitere Details zum Anlegen von Retouren findest du auf der Handbuchseite <a href="/auftraege/auftraege-verwalten#400">Retoure</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 3.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 3 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Senden von Retouren an Klarna</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsanlage: Neue Retoure (durch Kunde)</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klarna Checkout</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure &gt; Retoure an Klarna senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">10. Stornierungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Stornierungen automatisch an Klarna zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 4.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 4 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion zum automatischen Senden von Stornierungen an Klarna</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status für <strong>stornierte Aufträge</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klarna Checkout</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Rechnung von Klarna löschen</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="210">11. Klarna-Aufträge ändern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst Klarna-Aufträge bis zur Buchung des Warenausgangs ändern. Die Vorgehensweise entspricht der der Zahlungsarten Klarna Rechnung und Klarna Ratenkauf. Weitere Informationen dazu findest du auf der Handbuchseite <a href="/payment/zahlungsanbieter/klarna#20">Klarna</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="220">12. Hinweise für reibungslosen Ablauf</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Abwicklung von Klarna-Bestellungen so einfach wie möglich zu halten, sind ein paar wichtige Punkte zu beachten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Das Buchen des Warenausgangs sollte immer mit dem tatsächlichen Versand der Ware einhergehen, da bei Rechnungskauf mit dieser Aktion die 14-tägige Zahlungsfrist für den Endkunden beginnt.</p>
</li>
<li>
<p>Retouren sollten umgehend an Klarna gemeldet werden, um Mahnungen zu vermeiden.</p>
</li>
<li>
<p>Wenn der Kunde seine Bestellung storniert, setze den Auftrag umgehend auf den Status <strong>storniert</strong>, damit der Warenkorbwert nicht länger für den Kunden reserviert ist.</p>
</li>
</ul>
</div>
</div>
</div>
</main>