<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Bei mediafinanz registrieren</span></a></li>
<li><a href="#20"><span>2.</span><span> mediafinanz in Callisto einrichten</span></a></li>
<li><a href="#30"><span>3.</span><span> Mahnstufe zuordnen</span></a></li>
<li><a href="#40"><span>4.</span><span> Mahngebühr hinzufügen</span></a></li>
<li><a href="#50"><span>5.</span><span> Aufträge an mediafinanz übergeben</span></a></li>
<li><a href="#60"><span>6.</span><span> Inkasso-Übergaben anzeigen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: mediafinanz</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>mediafinanz</strong> in Callisto Shops. Die folgenden Anleitungen sind somit nicht für Ceres Shops gültig!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die mediafinanz AG ist Deutschlands erstes Inkassounternehmen mit TÜV-geprüftem Forderungsmanagement. Als einer der Vorreiter webbasierter Inkassoservices hat sich das Unternehmen seit nunmehr zehn Jahren in der Branche und am Markt etabliert. Erfahre, wie du den Inkassodienstleister mediafinanz in plentymarkets einrichtest.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Bei mediafinanz registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du den Service von mediafinanz in plentymarkets einrichten kannst, registriere dich bei <a href="https://www.mediafinanz.de/inkassoverfahren-starten" target="_blank" rel="noopener">mediafinanz</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. mediafinanz in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um mediafinanz in plentymarkets einzurichten, musst du zunächst deine Unternehmensinformationen eingeben bzw. ergänzen.</p>
</div>
<div class="paragraph instruction">
<p>Unternehmensinformationen eingeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Stammdaten</strong>.</p>
</li>
<li>
<p>Gib den Firmennamen ein.</p>
</li>
<li>
<p>Gib den Geschäftsführer ein.</p>
</li>
<li>
<p>Gib die Firmenadresse ein.</p>
</li>
<li>
<p>Gib eine Telefonnummer ein.</p>
</li>
<li>
<p>Gib eine E-Mail-Adresse ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nach dem erneuten Laden des Tabs <strong>Einstellungen</strong> sind eingegebenen Daten im Tab <strong>Unternehmensinformationen</strong> unter <strong>mediafinanz</strong> sichtbar. Aktiviere anschließend die Schnittstelle zu mediafinanz.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu mediafinanz aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Inkasso » mediafinanz</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Mediafinanz aktivieren</strong>.<br>
→ Die Schnittstelle wird aktiviert.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Mahnstufe zuordnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Zuordnung der Mahnstufe zu unbezahlten Aufträgen benötigst du einen <a href="/auftraege/auftraege-verwalten#1200">Auftragsstatus</a>. Du kannst einen Standardstatus verwenden oder einen eigenen Auftragsstatus erstellen. Mit der folgenden Aktion ordnest du unbezahlten Aufträgen mit dem Aktionsmanager eine Mahnstufe zu.</p>
</div>
<div class="paragraph instruction">
<p>Mahnstufe per Aktionsmanager zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Aktionen</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Neue Aktion</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>, um die Aktion zu aktivieren.</p>
</li>
<li>
<p>Wähle bei der Einstellung <strong>Täglich ausführen um</strong> eine Uhrzeit.</p>
</li>
<li>
<p>Gib einen <strong>Namen</strong> für die Aktion ein.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Filter</strong>.</p>
</li>
<li>
<p>Wähle den Status für unbezahlte Aufträge.</p>
</li>
<li>
<p>Wähle unter <strong>Letzter Statuswechsel</strong> die Option <strong>Tage eingeben</strong>.<br>
→ Das Feld <strong>Tage</strong> wird eingeblendet.</p>
</li>
<li>
<p>Gib die Anzahl der Tage ein, die sich der Auftrag im entsprechenden Status befindet.</p>
</li>
<li>
<p>Wähle unter <strong>Zahlungseingang</strong> die Option <strong>OFFEN</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Aktion</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Ändere Auftragsstatus</strong> den Status für die Zuordnung der Mahnstufe.</p>
</li>
<li>
<p>Wähle unter <strong>Ändere Mahnstufe</strong> eine Mahnstufe.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Mahngebühr hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Information an mediafinanz erfolgt in Form eines Artikels, der z.B. den Namen <strong>Mahngebühr</strong> hat und als Preis die entsprechende Gebühr. Der Artikel wird später den unbezahlten Aufträgen, die mit der vorigen Aktion ermittelt wurden, hinzugefügt. Dies geschieht entweder manuell oder mit einer Ereignisaktion. Unbezahlte Aufträge werden nur mit hinzugefügtem Mahnartikel an mediafinanz übermittelt. Wie du einen Artikel erstellst, erfährst du unter <a href="/artikel/artikel-verwalten#20">Artikel erstellen</a>. Speichere anschließend die Artikel-ID im Menü <strong>mediafinanz</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Artikel-ID hinterlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Inkasso » mediafinanz</strong>.</p>
</li>
<li>
<p>Gib unter <strong>Artikel-ID Mahngebühr</strong> die ID des zuvor erstellten Artikels ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um den Mahnartikel automatisch allen unbezahlten Aufträgen zuzuordnen.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wählen das <strong>Ereignis</strong> gemäß <a href="#tabelle-ereignisaktion-mediafinanz-mahnartikel">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-ereignisaktion-mediafinanz-mahnartikel">Tabelle 1</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-ereignisaktion-mediafinanz-mahnartikel" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Ereignisaktion zum automatischen Zuordnen des Mahnartikels zu unbezahlten Aufträgen</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status für die <strong>Zuordnung der Mahnstufe</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Mahnstufe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mahnstufe</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel &gt; Mahnung erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten-ID eingeben</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Mahnstufe ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Höhere Mahnstufe</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">5. Aufträge an mediafinanz übergeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst nun im Aktionsmanager eine Aktion erstellen, die bewirkt, dass die gewünschten Aufträge an mediafinanz übergeben werden. Als Beispiel könntest du die Aufträge anhand eines Auftragsstatus oder einer Mahnstufe filtern, um unbezahlte Aufträge mit der entsprechenden Mahnstufe an mediafinanz zu übermitteln.</p>
</div>
<div class="paragraph instruction">
<p>Aufträge per Aktionsmanager an mediafinanz übermitteln:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Aktionen</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Neue Aktion</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>, um die Aktion zu aktivieren.</p>
</li>
<li>
<p>Wähle bei der Einstellung <strong>Täglich ausführen um</strong> eine Uhrzeit.</p>
</li>
<li>
<p>Gib einen <strong>Namen</strong> für die Aktion ein.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Filter</strong>.</p>
</li>
<li>
<p>Wähle den Status für unbezahlte Aufträge.</p>
</li>
<li>
<p>Wähle unter <strong>Auftragstyp</strong> die Option <strong>Auftrag</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Mahnstufe</strong> per Ereignisaktion vergebene Mahnstufe.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Aktion</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>mediafinanz</strong> die Option <strong>AKTIV</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Inkasso-Übergaben anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eine Übersicht der an mediafinanz übermittelten Aufträge zeigst du im Menü <strong>Aufträge » Inkasso-Übergaben</strong> im Bereich <strong>Mediafinanz</strong> an.</p>
</div>
</div>
</div>
</main>