<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a></li>
<li><a href="#20"><span>2.</span><span> Bei Paymorrow registrieren</span></a></li>
<li><a href="#30"><span>3.</span><span> Paymorrow in Callisto einrichten</span></a></li>
<li><a href="#40"><span>4.</span><span> RSA-Zertifikat registrieren</span></a></li>
<li><a href="#50"><span>5.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#60"><span>6.</span><span> Rechnungsvorlage für Paymorrow-Aufträge anpassen</span></a></li>
<li><a href="#70"><span>7.</span><span> Rechnungen automatisch senden</span></a></li>
<li><a href="#80"><span>8.</span><span> Gutschriften automatisch senden</span></a></li>
<li><a href="#90"><span>9.</span><span> Stornierungen automatisch senden</span></a></li>
<li><a href="#100"><span>10.</span><span> Auftragssstatus nachvollziehen</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>10.1.</span><span> Bestellprozess abgeschlossen und Zahlung durch Paymorrow erfolgt</span></a></li>
<li><a href="#120"><span>10.2.</span><span> Zahlungsart Paymorrow abgelehnt</span></a></li>
<li><a href="#130"><span>10.3.</span><span> Auftragsgrenzwert wurde nicht eingehalten (Minimum bzw. Maximum)</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: Paymorrow</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>paymorrow</strong> in Callisto Shops. Die folgenden Anleitungen sind somit nicht für Ceres Shops gültig!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Paymorrow ist ein spezialisierter Dienstleister, der im Auftrag von Online-Händlern den Rechnungskauf im Internet abwickelt. Mit Paymorrow ist ein für beide Seiten fairer Rechnungskauf möglich. Kunden zahlen an Paymorrow. Sie haben dabei eine Zahlungsfrist von 4 Wochen. Paymorrow überweist die aufgelaufenen Zahlungen in bestimmten Zeitabständen (z.B. wöchentlich) auf das Konto des Händlers. Zahlungsausfälle sind versichert und werden durch den Versicherungsdienstleister von Paymorrow zeitnah ersetzt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die korrekte Verwendung der Zahlungsart ist ein <a href="/basics/admin-aufgaben/plentymarkets-konto#ssl-zertifikat">SSL-Zertifikat</a> erforderlich.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Pflichtfelder bei manueller Auftragsanlage</div>
<div class="paragraph">
<p>Bei manueller Auftragsanlage sind die Felder <strong>Telefonnummer</strong> und <strong>Geburtsdatum</strong> Pflicht. Prüfe bei der Auftragsanlage, ob die beiden Felder vorhanden sind, und trage sie ggf. nach. Weiterhin müssen die <strong>Namen</strong> komplett ausgeschrieben sein und dürfen nicht abgekürzt werden. Andernfalls schlägt die Prüfung seitens Paymorrow fehl.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Bei Paymorrow registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Einrichtung von Paymorrow in plentymarkets benötigst du einen Akzeptanzvertrag mit Paymorrow sowie die nötigen Zugangsdaten. Im <a href="http://www.paymorrow.de/onlinehaendler/integration/index.php" target="_blank" rel="noopener">Händlerbereich</a> von Paymorrow wird die Vorgehensweise bezüglich des Vertrags erläutert.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Paymorrow in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Schnittstelle zu Paymorrow für deinen Callisto Shop in plentymarkets einzurichten.</p>
</div>
<div class="paragraph">
<p>Fordere ggf. unter <a href="mailto:technik@paymorrow.de">technik@paymorrow.de</a> einen Test-Account an und führe testweise einige Transaktionen durch, bevor du die Zugangsdaten einrichtest. Zu dieser Vorgehensweise stellt Paymorrow ein <a href="https://www.plentymarkets.eu/documents/category/2611/Abnahmeprotokoll-paymorrow.pdf" target="_blank" rel="noopener">technisches Abnahmeprotokoll</a> zur Verfügung, das du ausfüllen musst, um die Zugangsdaten zu erhalten. Im verlinkten Dokument ist auch die Vorgehensweise erläutert. Für den Testbetrieb erfolgt die Authentifizierung über eine eigene <a href="/payment/zahlungsanbieter/paymorrow#40">RSA-Zertifikatsregistrierung</a>.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu Paymorrow einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>DE</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Paymorrow V2</strong>.<br>
→ Das Tab <strong>Schnittstelle</strong> wird geöffnet.</p>
</li>
<li>
<p>Klappe den Mandanten auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-schnittstelleneinrichtung-paymorrow">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnittstelleneinrichtung-paymorrow" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Schnittstelle zu Paymorrow einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Merchant-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Händler-ID eingeben, wie von Paymorrow erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Test Merchant-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Händler-ID für den Testbetrieb eingeben, wie von Paymorrow erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Iframe aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um das Iframe zu nutzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindest-Auftragswert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen unteren Grenzwert für die Zahlung auf Rechnung mit Paymorrow eingeben (optional). Bei Dezimalzahlen einen Punkt als Dezimaltrennzeichen verwenden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximaler Auftragswert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen oberen Grenzwert für die Zahlung auf Rechnung mit Paymorrow eingeben (optional).  Bei Dezimalzahlen einen Punkt als Dezimaltrennzeichen verwenden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Testbetrieb aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Testmodus aktivieren, um die Datenübertragung zwischen plentymarkets und Paymorrow zu testen, ohne dass tatsächlich Zahlungen ausgeführt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Mandant (Shop)-Optionen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zugangsdaten für alle Mandanten (Shops) aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar, wenn Mandanten eingerichtet sind. Aktivieren, um die Kontoeinstellungen, die über <strong>Konto hinzufügen</strong> für den Hauptshop gespeichert wurden, für alle Mandanten (Shops) zu übernehmen, unabhängig davon, was für andere Mandanten gespeichert wurde. Deaktivieren, um separate Zugangsdaten für weitere Mandanten (Shops) zu verwenden. Webshops, für die kein Konto hinzugefügt wurde, können mit Paymorrow nicht genutzt werden.<br>
Zur Unterstützung mehrerer Mandanten muss im Menü <a href="/webshop/webshop-einrichten#grundeinstellungen">Einrichtung » Mandant » Mandant wählen » Webshop » Einstellungen</a> für die Option <strong>Login</strong> die Einstellung <strong>Login in jedem einzelnen Shop ermöglichen</strong> aktiviert sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>RSA Zertifikatsregistrierung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Test-Zertifikatsregistrierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Test-Zertifikatsregistrierung anzeigen: Testbetrieb aktivieren und speichern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Live-Zertifikatsregistrierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardmäßig aktiviert. Wenn die Option <strong>Test-Zertifikatsregistrierung</strong> angezeigt wird: Testbetrieb deaktivieren und speichern.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="40">4. RSA-Zertifikat registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Anstelle eines Passworts wird zur Aktivierung der Schnittstelle sowohl im Test- als auch im Live-Betrieb ein RSA-Zertifikat verwendet. Je nach Betriebsmodus wird eine eigene Schaltfläche für die Registrierung angezeigt. Standardmäßig ist der Live-Betrieb aktiviert. Gehe wie nachfolgend beschrieben vor, um den Testbetrieb zu aktivieren und das Test-Zertifikat zu registieren.</p>
</div>
<div class="paragraph instruction">
<p>Test-Zertifikat registrieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>DE</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Paymorrow V2</strong>.<br>
→ Das Tab <strong>Schnittstelle</strong> wird geöffnet.</p>
</li>
<li>
<p>Klappe den Mandanten auf.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Testbetrieb aktivieren</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellung.<br>
→ Der Testbetrieb wird aktiviert.</p>
</li>
<li>
<p>Klappe den Bereich <strong>RSA-Zertifikatsregistrierung</strong> auf.</p>
</li>
<li>
<p>Klicke auf <strong>Test-Zertifikatregistrierung</strong>.<br>
→ Das Fenster <strong>Test-Zertifikatregistrierung</strong> wird geöffnet und das Zertifikat wird generiert.</p>
</li>
<li>
<p>Gib den Initialisierungscode ein.</p>
</li>
<li>
<p>Klicke auf <strong>Registrierung</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Für die Registrierung des Live-Zertifikats deaktivierst den Testbetrieb und gehst analog vor.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte die <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten</a> Paymorrow Rechnungskauf und Lastschrift im Tab <strong>Einstellungen</strong> der Zahlungsarten ein. Prüfe zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Rechnungsvorlage für Paymorrow-Aufträge anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du Paymorrow nutzt und Rechnungen für Aufträge erzeugst, die mit der Paymorrow-Zahlungsart Rechnungskauf bezahlt werden, ist es notwendig, dass du statt deiner eigenen Bankdaten die Bankdaten von Paymorrow auf der Rechnung anzeigst. Dies geschieht automatisch über einen Zahlungshinweis. Wenn du deine eigene <a href="/auftraege/auftragsdokumente#170">PDF-Vorlage</a> verwenden möchtest, gehe wie nachfolgend beschrieben vor.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Breite des Zahlungshinweises beachten</div>
<div class="paragraph">
<p>Um die Bankdaten von Paymorrow korrekt auf deiner Rechnung auszugeben, muss für den Zahlungshinweis im Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente » Rechnung</strong> eine Breite von 120 Millimetern eigegeben werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Eigene PDF-Vorlage verwenden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente » Rechnung</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Wechsle dort in das Untertab <strong>Neue Vorlage</strong>.</p>
</li>
<li>
<p>Wähle <strong>Paymorrow</strong> aus der Dropdown-Liste, um die Vorlage für Paymorrow zu hinterlegen.</p>
</li>
<li>
<p>Wähle unter <strong>Datei</strong> die auf deinem Rechner hinterlegte PDF-Datei.</p>
</li>
<li>
<p>Klicke auf <strong>Öffnen</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die PDF-Datei wird hochgeladen und kann im Tab <strong>Vorlagen</strong> angezeigt werden.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Bevor du die Rechnung auch an Kunden schickst, informiere dich, ob der Kunde nicht schon eine Rechnung von Paymorrow erhält, damit der Kunde nicht am Ende 2 Rechnungen erhält.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. Rechnungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte Ereignisaktionen ein, damit Paymorrow über den Warenausgang sowie über Gutschriften oder Stornierungen informiert wird. Voraussetzung für eine korrekte Funktion ist die Erzeugung der Dokumente in der Auftragsbearbeitung im Tab <strong>Belege</strong>. Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Rechnungen automatisch an Paymorrow zu senden und den Warenausgang an Paymorrow zu melden.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Nur für Paymorrow</div>
<div class="paragraph">
<p>Richte die Ereignisaktionen nur für die Zahlungsart Paymorrow ein, da es sonst zu ungewollten Meldungen kommt. Denn wenn du im Tab <strong>Filter</strong> mehrere Zahlungsarten wählst, wird die ausgelöste Meldung für Paymorrow auch an alle weiteren dort aktivierten Zahlungsanbieter geschickt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 2.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 2 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion zum automatischen Senden von Rechnungen an Paymorrow</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Warenausgang gebucht</strong><br>
Dokumente: Rechnung generiert</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Paymorrow Rechnungskauf</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Rechnung an Paymorrow senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="80">8. Gutschriften automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn ein Kunde die Ware oder einen Teil davon zurückgeschickt hat, musst du eine Gutschrift anlegen und Paymorrow darüber informieren, damit der Kunde keine Mahnung von Paymorrow erhält. Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Gutschriften automatisch an Paymorrow zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 3.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 3 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Senden von Gutschriften an Paymorrow</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutschrift</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Paymorrow Rechnungskauf</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Gutschrift an Paymorrow senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="90">9. Stornierungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wird ein Auftrag storniert, muss der Status den Einstellungen unter <strong>Einrichtung » Aufträge » Einstellungen</strong> entsprechen, damit der Vorgang auch als storniert an Paymorrow übermittelt wird. Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Stornierungen automatisch an Paymorrow zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 4.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 4 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion zum automatischen Senden von Stornierungen an Paymorrow</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status für <strong>stornierte Aufträge</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Paymorrow Rechnungskauf</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Stornierung an Paymorrow senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">10. Auftragssstatus nachvollziehen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dein Kunde erhält zum Abschluss der Bestellung die Information, dass die Bestellung nun von dir bearbeitet wird. Zur Erläuterung der verschiedenen Auftragszustände hinsichtlich des Status findest du nachfolgend einige Beispiele.</p>
</div>
<div class="sect2">
<h3 id="110">10.1. Bestellprozess abgeschlossen und Zahlung durch Paymorrow erfolgt</h3>
<div class="paragraph">
<p>Der Kunde hat die Bestellung abgeschlossen und die Bezahlung durch Paymorrow veranlasst. Der Auftrag befindet sich nun in <strong>Status 5</strong> (Freigabe Versand). Die Ware kann verschickt werden. Nach dem Eingang der Rechnung bei Paymorrow gilt eine Zahlungsfrist von 30 Tagen. Innerhalb dieser Frist muss dein Kunde die Rechnung bei Paymorrow bezahlen.</p>
</div>
<div class="paragraph">
<p>Du erhältst von Paymorrow wöchentlich (wenn Umsätze generiert wurden) eine Abrechnung mit folgenden Dokumenten per E-Mail:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Einzelpostennachweis Abrechnung (Excel-Datei)</p>
</li>
<li>
<p>Einzelpostennachweis Stornierungen (Excel-Datei)</p>
</li>
<li>
<p>Abrechnung (PDF-Datei)</p>
</li>
<li>
<p>Rechnung deiner Gebühren an Paymorrow (PDF-Datei)</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="120">10.2. Zahlungsart Paymorrow abgelehnt</h3>
<div class="paragraph">
<p>Die Zahlungsart Paymorrow wurde abgelehnt. Du siehst in der Auftragsübersicht unter <strong>Zahlungseingang</strong> die Meldung <strong>Kein Zahlungseingang</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="130">10.3. Auftragsgrenzwert wurde nicht eingehalten (Minimum bzw. Maximum)</h3>
<div class="paragraph">
<p>Die Zahlungsart Paymorrow ist nicht wählbar, wenn einer der eingestellten Grenzwerte für Aufträge nicht eingehalten wurde. Der erlaubte Bereich für Bestellungen wird dabei angezeigt. Im Beispiel (<a href="#bild-grenzwert-nicht-eingehalten">Bild 1</a>) wurde für das Minimum 20 Euro und für das Maximum 20.000 Euro gewählt.</p>
</div>
<div id="bild-grenzwert-nicht-eingehalten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/payment/assets/DE-Zahlungsarten-paymorrow.png" alt="DE Zahlungsarten paymorrow">
</div>
<div class="title">Bild 1. Auftragswert; Grenzwert nicht eingehalten</div>
</div>
</div>
</div>
</div>
</main>