<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Bezahlvorgang</span></a></li>
<li><a href="#30"><span>1.2.</span><span> SSL-Zertifikat</span></a></li>
<li><a href="#40"><span>1.3.</span><span> Verfügbare Payolution-Zahlungsarten</span></a></li>
</ul>
</li>
<li><a href="#50"><span>2.</span><span> Bei Payolution registrieren</span></a></li>
<li><a href="#60"><span>3.</span><span> Payolution in Callisto einrichten</span></a></li>
<li><a href="#70"><span>4.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#80"><span>5.</span><span> Payolution im Callisto Webshop anzeigen</span></a></li>
<li><a href="#90"><span>6.</span><span> Versandbestätigungen automatisch senden</span></a></li>
<li><a href="#100"><span>7.</span><span> Rückerstattungen automatisch senden</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: Payolution</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>Payolution</strong> für Callisto Shops. Für die Verwendung von <strong>Payolution</strong> in Ceres Shops erhältst ausführliche Informationen in der Beschreibung des Plugins im <a href="https://marketplace.plentymarkets.com/plugins/payment/Payolution_5943" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><a href="https://payolution.com/merchant/" target="_blank" rel="noopener">Payolution</a> bietet dir und deinen Kunden mit den Zahlungsarten <strong>Kauf auf Rechnung</strong> und <strong>Ratenzahlung</strong> viele Vorteile und neue Möglichkeiten. Den Kauf auf Rechnung findest du in deinem plentymarkets System unter <strong>Payolution Invoice</strong> gekennzeichnet. Die Ratenzahlung wird in plentymarkets <strong>Payolution Ins</strong> genannt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dieses Kapitel enthält wichtige Hinweise zur Integration des Zahlungsanbieters Payolution in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Bezahlvorgang</h3>
<div class="paragraph">
<p>Für den Bezahlvorgang mittels <strong>Ratenzahlung</strong> wählt der Kunde zunächst die Zahlungsart im Webshop. Anschließend wird der Kunde direkt zu Payolution weitergeleitet. Die weiteren Inhalte werden in einem iframe bereitgestellt. Die Kundendaten werden hier automatisch in das Formular von Payolution übertragen. Der Kunde muss nur noch die AGBs akzeptieren und die Ratenhöhe festlegen. Nach erfolgreicher Eingabe und Übertragung der Daten wird der Kunde automatisch wieder in seinen <strong>Mein Konto</strong>-Bereich weitergeleitet. Dort kann er seine Bestellung noch einmal einsehen.</p>
</div>
<div class="paragraph">
<p>Der Bezahlvorgang des <strong>Rechnungskaufs</strong> ist noch einfacher: Der Kunde schließt im Shop seinen Einkauf ab und wird direkt zum <strong>Mein Konto</strong>-Bereich weitergeleitet. Der Einkauf findet komplett im Shop statt.</p>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. SSL-Zertifikat</h3>
<div class="paragraph">
<p>Für die korrekte Verwendung der Zahlungsart ist ein <a href="/basics/admin-aufgaben/plentymarkets-konto#ssl-zertifikat">SSL-Zertifikat</a> erforderlich.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Fragen bei deiner Bank nach</div>
<div class="paragraph">
<p>Klären vor einer Integration der Zahlungsart, ob deine Bank die Abwicklung über iframes unterstützt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="40">1.3. Verfügbare Payolution-Zahlungsarten</h3>
<div class="paragraph">
<p>Nachfolgend findest du eine Übersicht der für plentymarkets verfügbaren Payolution-Zahlungsarten mit der System-ID in Klammern.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Rechnungskauf</strong> (2600)</p>
</li>
<li>
<p><strong>Ratenzahlung</strong> (2601)</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Payolution Mangirkart</div>
<div class="paragraph">
<p>Die Zahlungsart <strong>Payolution Mangirkart</strong> ist derzeit ohne Funktion.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="50">2. Bei Payolution registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zur Registrierung nimmst du Kontakt mit <a href="https://payolution.com/merchant/" target="_blank" rel="noopener">Payolution</a> auf und richtest dort einen Account ein. Du erhältst die Zugangsdaten, die du für die Einrichtung in plentymarkets benötigst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">3. Payolution in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie nachfolgend beschrieben vor, um die Schnittstelle zu Payolution für deinen Callisto Shop in plentymarkets einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu Payolution einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Payolution</strong>.<br>
→ Das Tab <strong>Schnittstelle</strong> wird geöffnet.</p>
</li>
<li>
<p>Klappe den Mandanten auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-schnittstelleneinrichtung-payolution">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnittstelleneinrichtung-payolution" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Schnittstelle zu Payolution einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sender</strong>;<br>
<strong>Channel (PreCheck);</strong><br>
<strong>Channel (Rechnungskauf-B2C);</strong><br>
<strong>Channel (Rechnungskauf-B2B)</strong>;<br>
<strong>Channel (Ratenzahlung)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeichenketten eingeben, wie von Payolution erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User Login</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzername eingeben, wie von Payolution erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzerpasswort eingeben, wie von Payolution erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Firmenlogo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf <strong>Durchsuchen…​</strong> klicken, um ein Bild mit Firmennamen und Logo hochzuladen, das im Kopfbereich der Payolution-Seite erscheinen soll.<br>
Maximale Größe: 130 x 60 px.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Testbetrieb aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Testbetrieb aktivieren und Payolution-Funktionen testen, bevor mit dem System live gearbeitet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindest-Bestellwert (B2C)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den minimalen Bestellwert für B2C-Kunden gemäß Vertrag mit Payolution eingeben. B2C-Kunden müssen bei einer Bestellung diesen Mindestbestellwert erreichen, um Payolution als Zahlungsanbieter wählen zu können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximaler Bestellwert (B2C)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den maximalen Bestellwert für B2C-Kunden gemäß Vertrag mit Payolution eingeben. B2C-Kunden dürfen diesen Wert bei einer Bestellung nicht überschreiten, um Payolution als Zahlungsanbieter wählen zu können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindest-Bestellwert (B2B)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den minimalen Bestellwert für B2B-Kunden gemäß Vertrag mit Payolution eingeben. B2B-Kunden müssen bei einer Bestellung mindestens diesen Wert erreichen, um Payolution als Zahlungsanbieter wählen zu können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximaler Bestellwert (B2B)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den maximalen Bestellwert für B2B-Kunden gemäß Vertrag mit Payolution eingeben. B2B-Kunden dürfen diesen Wert bei einer Bestellung nicht überschreiten, um Payolution als Zahlungsanbieter wählen zu können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimaler Bestellwert (Ratenzahlung)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den minimalen Bestellwert für Ratenzahlung gemäß Vertrag mit Payolution eingeben. Kunden müssen bei einer Bestellung mindestens diesen Wert erreichen, um Ratenzahlung von Payolution als Zahlungsart wählen zu können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximaler Bestellwert (Ratenzahlung)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den maximalen Bestellwert für Ratenzahlung gemäß Vertrag mit Payolution eingeben. Kunden dürfen diesen Wert bei einer Bestellung nicht überschreiten, um Ratenzahlung von Payolution als Zahlungsart wählen zu können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Iframe-Breite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert in Pixeln für Breite des Ratenzahlung-Eingabefensters im Webshop eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Iframe-Höhe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert in Pixeln für Höhe des Ratenzahlung-Eingabefensters im Webshop eingeben.<br>
_*Hiweis:*_Wenn die dargestellten Informationen die hier eingebene Breite und Höhe überschreiten, wird im Webshop ein Scrollbalken angezeigt.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Bankdaten</div>
<div class="paragraph">
<p>Wenn du mit Payolution arbeitest, darfst du keine anderen Bankdaten aufführen als die fest vorgegebenen. Sonst führt dies zu Fehlern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="70">4. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte die <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten</a> Payolution Invoice und Payolution Ins im Tab <strong>Einstellungen</strong> der Zahlungsarten ein. Prüfe  zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="80">5. Payolution im Callisto Webshop anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Deine Kunden sehen im Webshop z.B. folgende Ansicht, wenn sie die Zahlungsart <strong>Payolution Ratenzahlung</strong> wählen:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/payment/assets/DE-Einstellungen-Auftraege-Zahlungsarten-Payolution-05.png" alt="DE Einstellungen Auftraege Zahlungsarten Payolution 05">
</div>
<div class="title">Bild 1. Eingabefenster für den Kauf auf Raten</div>
</div>
</div>
</div><div class="sect1">
<h2 id="90">6. Versandbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Versandbestätigungen automatisch an Payolution zu versenden, nachdem der Warenausgang gebucht wurde. Für Ratenzahlung benötigst du keine Versandbestätigung. Richte daher diese Ereignisaktion nur für Rechnungskauf ein.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 2.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 2 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion zum automatischen Senden von Versandbestätigungen an Payolution</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Warenausgang gebucht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payolution Invoice</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand &gt; Versandbestätigung an Payolution senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Versandbestätigung in der Statushistorie kontrollieren</div>
<div class="paragraph">
<p>Nachdem du die beschriebene Ereignisaktion eingerichtet hast, wird die Versandbestätigung bei Buchung des Warenausgangs automatisch an Payolution gesendet. Diesen Prozess kannst du jederzeit im Menü <a href="/auftraege/auftraege-verwalten#1530">Aufträge » Aufträge bearbeiten » Auftrag öffnen » Tab: Übersicht</a> und dort im Tab <strong>Statushistorie</strong> prüfen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">7. Rückerstattungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Rückerstattungen automatisch zu senden, benötigst du einen <a href="/auftraege/auftraege-verwalten#1200">Auftragsstatus</a> für Gutschriften. Du kannst einen Standardstatus verwenden oder einen eigenen Auftragsstatus erstellen. Nur fertig bearbeitete Gutschriften erhalten diesen Status. Diese Gutschriften dürfen nach dem Anlegen nicht geändert werden. Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Rückerstattungen automatisch an Payolution zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 3.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 3 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Senden von Rückerstattungen an Payolution</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status für die <strong>Rückerstattung an Payolution</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutschrift</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payolution-Zahlungsart</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Rückerstattung an Payolution senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>