<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Geschäftskonto für PayPal PLUS eröffnen</span></a></li>
<li><a href="#20"><span>2.</span><span> PayPal PLUS in Callisto einrichten</span></a></li>
<li><a href="#30"><span>3.</span><span> Zahlungsarten aktivieren</span></a></li>
<li><a href="#40"><span>4.</span><span> PayPal PLUS im Callisto Webshop anzeigen</span></a>
<ul class="sectlevel2">
<li><a href="#50"><span>4.1.</span><span> Kategorie für weiteren Bestellschritt hinzufügen</span></a></li>
<li><a href="#60"><span>4.2.</span><span> Kategorie Zahlung &amp; Versand ändern</span></a></li>
<li><a href="#70"><span>4.3.</span><span> Bestellschritte anpassen</span></a></li>
<li><a href="#80"><span>4.4.</span><span> Kategorie Kasse anpassen</span></a></li>
<li><a href="#90"><span>4.5.</span><span> Kategorie Bestellübersicht &amp; Kaufabschluss anpassen</span></a></li>
<li><a href="#100"><span>4.6.</span><span> PageDesignPrepareMainColumn anpassen</span></a></li>
<li><a href="#105"><span>4.7.</span><span> PageDesignCheckout anpassen</span></a></li>
<li><a href="#108"><span>4.8.</span><span> Beschreibung bei zusätzlichen Zahlungsarten anzeigen</span></a></li>
</ul>
</li>
<li><a href="#110"><span>5.</span><span> Rechnungsvorlage für PayPal PLUS-Aufträge anpassen</span></a></li>
<li><a href="#120"><span>6.</span><span> Lieferadresse nicht von PayPal PLUS übernehmen</span></a></li>
<li><a href="#130"><span>7.</span><span> Teilbetrag erstatten</span></a></li>
<li><a href="#140"><span>8.</span><span> Gesamtbetrag erstatten und automatisch an PayPal senden</span></a></li>
<li><a href="#150"><span>9.</span><span> Abgelehnte Zahlungen automatisch melden</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: PayPal PLUS</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>PayPal PLUS</strong> für Callisto Shops. Für die Verwendung von <strong>PayPal PLUS</strong> in Ceres Shops erhältst du ausführliche Informationen in der Beschreibung des Plugins im <a href="https://marketplace.plentymarkets.com/plugins/payment/PayPal_4690" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>PayPal PLUS beinhaltet neben der Zahlungsart PayPal weitere Zahlungsarten wie Kreditkarte oder Lastschrift. Die Zahlungsarten Lastschrift und Kauf auf Rechnung stehen jedoch nur für das Lieferland Deutschland zur Verfügung.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Geschäftskonto für PayPal PLUS eröffnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du die Zahlungsart in plentymarkets einrichten kannst, ist die <a href="https://www.paypal.com/de/webapps/mpp/merchant" target="_blank" rel="noopener">Eröffnung eines Geschäftskontos bei PayPal</a> erforderlich. Du erhältst dann Informationen sowie Zugangsdaten, die du für die Einrichtung in plentymarkets benötigst.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">PayPal PLUS und Webshop-Design</div>
<div class="paragraph">
<p>Beachte, dass für die erfolgreiche Integration von PayPal PLUS in plentymarkets folgende Bedingungen erfüllt sein müssen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verwendung des Standard-Designs Callisto (ab Version 2)</p>
</li>
<li>
<p>Nutzung des Individuellen Bestellvorgangs</p>
</li>
<li>
<p>Sicherer Umgang mit dem plentymarkets CMS</p>
</li>
<li>
<p>Erfahrung mit der Einrichtung von Zahlungsdienstleistern</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. PayPal PLUS in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wie und wo du festlegst, für welchen Shop und welche Lieferländer PayPal PLUS verfügbar ist, sowie die Schnittstellendaten einzugeben sind, erfährst du im Folgenden. Generell stehen dir nur die Lieferländer zur Auswahl, die du im Menü <a href="/fulfillment/versand-vorbereiten#100">Einrichtung » Aufträge » Versand » Optionen » Tab: Lieferländer</a> gewählt hast.</p>
</div>
<div class="paragraph instruction">
<p>PayPal PLUS-Schnittstelle einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öfffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>PayPal PLUS</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klappe einen Mandanten auf.</p>
</li>
<li>
<p>Falls du zunächst einige Testkäufe durchführen möchtest, aktiviere den <strong>Testmodus</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Klicke auf <strong>Konto hinzufügen</strong>.<br>
→ Du wirst zu PayPal weitergeleitet.</p>
</li>
<li>
<p>Logge dich ein.</p>
</li>
<li>
<p>Bestätige den Zugriff auf dein PayPal-Konto durch plentymarkets.<br>
→ Du wirst in dein plentymarkets System weitergeleitet.</p>
</li>
<li>
<p>Wiederhole die Schritte 1 bis 6.</p>
</li>
<li>
<p>Gib deinen Shop-Namen ein.</p>
</li>
<li>
<p>Gib die URL zu deinem Logo ein, damit dein Logo im Warenkorb von PayPal angezeigt wird.</p>
</li>
<li>
<p>Wähle <strong>Ja</strong>, wenn die Zugangsdaten für alle Mandanten gelten sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Testmodus oder Live-Modus</div>
<div class="paragraph">
<p>Wenn du zunächst einige Testkäufe in der Sandbox durchführen möchtest, aktiviere den Testmodus. Beachte, dass du bei Aktivierung des Testmodus an eine andere Adresse (Sandbox) bei PayPal weitergeleitet wirst. Speichere deshalb die Einstellungen für die Schnittstelle nach Aktivierung des Testmodus, bevor du das Konto hinzufügst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Zahlungsarten aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Neben der Zahlungsart PayPal PLUS, die du im Menü <a href="/payment/zahlungsarten-verwalten#20">Einrichtung » Aufträge » Zahlung » Zahlungsarten</a> aktivierst, stehen dir weitere Zahlungsarten wie Kreditkarte oder Lastschrift zur Verfügung. Die Zahlungsarten Lastschrift und Kauf auf Rechnung können jedoch nur für das Lieferland Deutschland genutzt werden. Richte die gewünschten <a href="/payment/zahlungsarten-verwalten#10">Zahlungsarten</a> in deinem plentymarkets Backend ein und aktiviere die Zahlungsarten. Um die Logos weiterer Zahlungsarten anzuzeigen, lade die Logos direkt bei der Zahlungsart in einer Größe von maximal 100 x 25 px hoch. Prüfe zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einschränkungen für den Kauf auf Rechnung</div>
<div class="paragraph">
<p>Wenn der Einkaufswert kleiner als 1,50 EUR oder größer als 1500,00 EUR ist, wird der Kauf auf Rechnung über PayPal PLUS nicht angeboten. Zudem sind digitale Medien aufgrund der fehlenden Rücksendemöglichkeit vom Kauf auf Rechnung ausgeschlossen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. PayPal PLUS im Callisto Webshop anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel wird beschrieben, wie du PayPal PLUS in den individuellen Bestellvorgang von plentymarkets einfügst. Hierfür sind mehrere Schritte nötig. Zunächst wird PayPal PLUS in eine Kategorie des Typs <strong>Container</strong> eingefügt.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Keine Anpassungen am aktiven Design vornehmen</div>
<div class="paragraph">
<p>Nimm keine Änderungen an deinem aktiven Design vor. Bevor du Änderungen an deinem Design vornimmst, lege eine Sicherungskopie an, damit du jederzeit wieder zum Ursprungszustand zurückgelangst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Berechnung der Auftragssumme</div>
<div class="paragraph">
<p>PayPal und plentymarkets berechnen Preise aufgrund unterschiedlicher Anzahl der Nachkommastellen unterschiedlich. Deshalb können Rundungsdifferenzen zwischen der Auftragssumme in plentymarkets und bei PayPal auftreten. Die Rundungsdifferenzen werden im Hintergrund entweder durch eine Gutschrift oder einen Differenzartikel ausgeglichen, sodass die Summen in plentymarkets und bei PayPal übereinstimmen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="50">4.1. Kategorie für weiteren Bestellschritt hinzufügen</h3>
<div class="paragraph">
<p>Damit dein Kunde zunächst eine Versandart wählen kann und der Preis für den gewählten Versand korrekt an PayPal übermittelt wird, müssen Versand und Zahlung in zwei verschiedenen Schritten erfolgen. Deshalb erstellst du für die Wahl der Zahlungsart eine neue Kategorie und änderst anschließend die standardmäßig in Callisto Light enthaltene Kategorie <strong>Zahlung &amp; Versand</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie des Typs Container erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Kategorie</strong>.<br>
→ Das Fenster <strong>Neue Kategorie erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein, z.B. Zahlungsart wählen.</p>
</li>
<li>
<p>Klicke auf <strong>Erstellen</strong>.<br>
→ Die Kategorie wird im Tab <strong>Einstellungen</strong> geöffnet.</p>
</li>
<li>
<p>Wähle unter <strong>Typ</strong> die Option <strong>Container</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Beschreibung 1</strong>.</p>
</li>
<li>
<p>Füge das Code-Beispiel ein.<br>
→ Unten findest du ein ein Beispiel für Version 3 und Version 2 von Callisto Light.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="60">4.2. Kategorie Zahlung &amp; Versand ändern</h3>
<div class="paragraph">
<p>Anschließend musst du die in Callisto Light 3 standardmäßig vorhandene Kategorie <strong>Zahlung &amp; Versand</strong> anpassen.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie und Bestellschritt Zahlung &amp; Versand ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffne den Ordner des Designs, das du bearbeiten möchtest, z.B. Callisto Light 3.</p>
</li>
<li>
<p>Öffne die Kategorie <strong>Zahlung &amp; Versand</strong>.</p>
</li>
<li>
<p>Ändere Namen im Tab <strong>Einstellungen</strong>, z.B. zu Versand.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Beschreibung 1</strong>.</p>
</li>
<li>
<p>Entferne den Div-Container zur Anzeige von Zahlungsarten.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="70">4.3. Bestellschritte anpassen</h3>
<div class="paragraph">
<p>Die neu erstellte Kategorie sowie die geänderte Kategorie müssen jetzt den Bestellschritten des individuellen Bestellvorgangs hinzugefügt werden.</p>
</div>
<div class="paragraph instruction">
<p>Bestellschritte anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Einstellungen</strong>.<br>
→ Das Fenster <strong>Design-Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Mandanten</strong>.</p>
</li>
<li>
<p>Klicke auf einen Mandanten.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Bestellvorgang</strong>.</p>
</li>
<li>
<p>Klicke im <strong>6. Bestellschritt</strong> auf <strong>Suchen</strong>.</p>
</li>
<li>
<p>Wähle die Kategorie <strong>Versand</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Auswählen</strong>.</p>
</li>
<li>
<p>Klicke im <strong>7. Bestellschritt</strong> auf <strong>Suchen</strong>.</p>
</li>
<li>
<p>Wähle die neu erstellte Kategorie <strong>Zahlungsart wählen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Auswählen</strong>.</p>
</li>
<li>
<p>Klicke im <strong>8. Bestellschritt</strong> auf <strong>Suchen</strong>.</p>
</li>
<li>
<p>Wähle die Kategorie <strong>Bestellübersicht &amp; Kaufabschluss</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Auswählen</strong>.</p>
</li>
<li>
<p>Klicke im <strong>9. Bestellschritt</strong> auf <strong>Suchen</strong>.</p>
</li>
<li>
<p>Wähle die Kategorie <strong>Bestellvorgang</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Auswählen</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Bestellschritte werden angepasst.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="80">4.4. Kategorie Kasse anpassen</h3>
<div class="paragraph">
<p>Damit die Bestellschritte auch in der neuen Reihenfolge durchlaufen werden, muss außerdem noch die Kategorie Kasse angepasst werden.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffne den Ordner des Designs, das du bearbeiten möchtest, z.B. Callisto Light 3.</p>
</li>
<li>
<p>Öffne die Kategorie <strong>Kasse</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Beschreibung 1</strong>.</p>
</li>
<li>
<p>Entferne das Listenelement für <strong>Zahlung &amp; Versand</strong>.</p>
</li>
<li>
<p>Füge nach dem Listenelement <strong>Anschrift</strong> Listenelemente für die neuen Bestellschritte Versand und Zahlungsart wählen hinzu.<br>
→ Einen Beispiel-Code findest du unter dieser Beschreibung.</p>
</li>
<li>
<p>Ersetze außerdem weiter unten im Code <strong>Step 3</strong> und <strong>Step 4</strong> durch das zweite Code-Beispiel unter dieser Beschreibung.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="90">4.5. Kategorie Bestellübersicht &amp; Kaufabschluss anpassen</h3>
<div class="paragraph">
<p>Damit der Kunde aus der Bestellübersicht wieder in den richtigen Bestellschritt gelangt, wenn er seine Angaben noch einmal ändern möchte, muss außerdem noch eine Änderung an der Kategorie <strong>Bestellübersicht &amp; Kaufabschluss</strong> vorgenommen werden.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffne den Ordner des Designs, das du bearbeiten möchtest, z.B. Callisto Light 3.</p>
</li>
<li>
<p>Öffne die Kategorie <strong>Bestellübersicht &amp; Kaufabschluss</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Beschreibung 1</strong>.</p>
</li>
<li>
<p>Suche im Code die Stelle <strong>data-plenty="click:Redirect.toCheckoutTab('#shipping-payment')"</strong>.</p>
</li>
<li>
<p>Entferne <strong>shipping-</strong>, sodass der Code <strong>data-plenty="click:Redirect.toCheckoutTab('#payment')"</strong> stehen bleibt.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="100">4.6. PageDesignPrepareMainColumn anpassen</h3>
<div class="paragraph">
<p>Damit PayPal PLUS korrekt ausgeführt und angezeigt wird, ist noch eine Anpassung im Template <strong>PageDesignPrepareMainColumn</strong> notwendig.</p>
</div>
<div class="paragraph instruction">
<p>PageDesignPrepareMainColumn anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>Layout » PageDesign</strong>.</p>
</li>
<li>
<p>Öffne das Template <strong>PageDesignPrepareMainColumn</strong>.</p>
</li>
<li>
<p>Suche im Code die Stelle <strong>gototab=shipping-payment</strong>.</p>
</li>
<li>
<p>Ersetze <strong>shipping-payment</strong> durch <strong>payment</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="105">4.7. PageDesignCheckout anpassen</h3>
<div class="paragraph">
<p>Um nach der Bestellung die Bestellübersicht aufzurufen, ist noch eine Anpassung im Template <strong>PageDesignCheckout</strong> notwendig.</p>
</div>
<div class="paragraph instruction">
<p>PageDesignCheckout anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>Layout » PageDesign</strong>.</p>
</li>
<li>
<p>Öffne das Template <strong>PageDesignCheckout</strong>.</p>
</li>
<li>
<p>Suche im Code die Stelle <strong>PlentyFramework.setGlobal( 'checkoutConfirmCatID', &#123;&#37; CheckoutStepPageID(7) &#37;&#125;);</strong>.</p>
</li>
<li>
<p>Ersetze <strong>CheckoutStepPageID(7)</strong> durch <strong>CheckoutStepPageID(8)</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="108">4.8. Beschreibung bei zusätzlichen Zahlungsarten anzeigen</h3>
<div class="paragraph">
<p>Wenn du zusätzlich zu den PayPal PLUS eigenen Zahlungsarten weitere Zahlungsarten im Bestellvorgang verwenden, kannst du neben dem Namen der Zahlungsart einen Beschreibungstext in der Liste der Zahlungsarten anzeigen. Im Folgenden erfährst du am Beispiel der Zahlungsart <strong>Vorkasse</strong>, wie du eine Beschreibung hinzufügst. Nimm die folgenden Einstellungen bei <a href="/payment/zahlungsarten-verwalten#40">anderen Zahlungsarten</a> analog vor.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie mit Beschreibungstext erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Kategorie</strong>.<br>
→ Das Fenster <strong>Neue Kategorie erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle die Kategorieart.</p>
</li>
<li>
<p>Wenn du <strong>Unterkategorie</strong> aktivierst, wähle eine Kategorie, in der die Unterkategorie erstellt werden soll.</p>
</li>
<li>
<p>Klicke auf <strong>Erstellen</strong>.<br>
→ Die neue Kategorie wird erstellt und das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle den Typ <strong>Content</strong>.</p>
</li>
<li>
<p>Aktiviere den <strong>Mandant (Shop)</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Beschreibung 2</strong>.</p>
</li>
<li>
<p>Wähle der rechten Dropdown-Liste die Option <strong>Textfeld</strong>.</p>
</li>
<li>
<p>Gib eine Beschreibung in das Textfeld ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nun musst du die zuvor erstellte Kategorie mit der Zahlungsart verknüpfen, damit die Beschreibung in der Übersicht der Zahlungsarten im Bestellvorgang mit PayPal PLUS angezeigt wird.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie mit Zahlungsart verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Vorkasse</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle bei der Option <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Intern)</strong>.</p>
</li>
<li>
<p>Klicke unter <strong>Infoseite (Intern)</strong> auf <strong>Bearbeiten</strong>.<br>
→ Das Fenster <strong>Artikelvorlage wählen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle die neu erstellte Kategorie.</p>
</li>
<li>
<p>Klicke auf <strong>Wählen</strong>.<br>
→ Die Kategorie wird mit der Zahlungsart verknüpft.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="110">5. Rechnungsvorlage für PayPal PLUS-Aufträge anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du PayPal PLUS nutzt und Rechnungen für Aufträge erzeugen, die mit der PayPal-PLUS-Zahlungsart Rechnung bezahlt werden, ist es notwendig, dass du statt deiner eigenen Bankdaten die Bankdaten von PayPal auf der Rechnung anzeigst. Dies geschieht automatisch über einen Zahlungshinweis. Wenn du deine eigene <a href="/auftraege/auftragsdokumente#170">PDF-Vorlage</a> verwenden möchtest, gehe wie nachfolgend beschrieben vor.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Breite des Zahlungshinweises beachten</div>
<div class="paragraph">
<p>Um die Bankdaten von PayPal PLUS korrekt auf deiner Rechnung auszugeben, muss für den Zahlungshinweis im Menü <strong>System&nbsp;» Mandant&nbsp;» Mandant wählen&nbsp;» Standorte&nbsp;» Standort wählen&nbsp;» Dokumente&nbsp;» Rechnung</strong> eine Breite von 120 Millimetern eingegeben werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Eigene PDF-Vorlage verwenden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente » Rechnung</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>PDF-Vorlage</strong>.</p>
</li>
<li>
<p>Wechsle dort in das Untertab <strong>Neue Vorlage</strong>.</p>
</li>
<li>
<p>Wähle <strong>PayPal PLUS</strong> aus der Dropdown-Liste, um die Vorlage für PayPal PLUS zu hinterlegen.</p>
</li>
<li>
<p>Wähle unter <strong>Datei</strong> die auf deinem Rechner hinterlegte PDF-Datei.</p>
</li>
<li>
<p>Klicke auf <strong>Öffnen</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die PDF-Datei wird hochgeladen und kann im Tab <strong>Vorlagen</strong> angezeigt werden.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Bevor du die Rechnung auch an Kunden schicken, informieren dich, ob der Kunde nicht schon eine Rechnung von PayPal erhält, damit der Kunde nicht am Ende zwei Rechnungen erhält.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="120">6. Lieferadresse nicht von PayPal PLUS übernehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Standardmäßig wird die Lieferadresse bei einer Bestellung mit PayPal PLUS direkt von PayPal übernommen und nicht die vom Kunden eingegebene. Wenn du die Lieferadresse nicht von PayPal übernehmen möchtest, gehe wie folgt vor.</p>
</div>
<div class="paragraph instruction">
<p>Lieferadresse nicht übernehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf PayPal PLUS.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klappe einen Mandanten auf.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Lieferadresse nicht übernehmen</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="130">7. Teilbetrag erstatten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um dem Käufer einen Teil des Kaufbetrags zu erstatten, erstelle zunächst einen Auftrag vom Typ <strong>Gutschrift</strong> und gib in dieser Gutschrift die Summe an, die du erstatten möchtest. Da die Summe in deinem Ermessen liegt und für jeden Auftrag unterschiedlich ausfällt, müssen Teilbeträge manuell erstattet werden. Eine Automatisierung ist nicht möglich.</p>
</div>
<div class="paragraph instruction">
<p>Gutschrift anlegen, um Teilbetrag zu erstatten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den gewünschten PayPal PLUS-Auftrag.</p>
</li>
<li>
<p>Klicke im Tab <strong>Übersicht</strong> auf die Dropdown-Liste <strong>Gutschrift …​</strong> und wähle die Option <strong>anlegen</strong>.<br>
→ Die Gutschrift wird angelegt.</p>
</li>
<li>
<p>Öffne nun die neu angelegte Gutschrift und wechsle in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Klicke unter <strong>Rückzahlung</strong> auf <strong>PayPal PLUS Refund</strong>.</p>
</li>
<li>
<p>Gib die Summe ein, die du erstatten möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Rückzahlung tätigen</strong>.<br>
→ Die Summe wird an PayPal gesendet.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="140">8. Gesamtbetrag erstatten und automatisch an PayPal senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um dem Käufer den gesamten Betrag zu erstatten, lege einen Auftrag vom Typ <strong>Gutschrift</strong> an. Gutschriften werden automatisch der Zahlung zugeordnet.</p>
</div>
<div class="paragraph instruction">
<p>Gutschrift anlegen, um Gesamtbetrag zu erstatten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den gewünschten PayPal PLUS-Auftrag.</p>
</li>
<li>
<p>Klicke im Tab <strong>Übersicht</strong> auf die Dropdown-Liste <strong>Gutschrift …​</strong> und wähle die Option <strong>anlegen</strong>.<br>
→ Die Gutschrift wird angelegt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Anschließend richtest du eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um die Beträge automatisch an PayPal PLUS zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 1.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 1 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Ereignisaktion zum automatischen Senden von Rückzahlungen an PayPal PLUS</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsanlage: Neue Gutschrift</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal PLUS</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Rückzahlung an PayPal PLUS senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="150">9. Abgelehnte Zahlungen automatisch melden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um deine Kunden automatisch über abgelehnte Zahlungen zu informieren. Damit von PayPal PLUS abgelehnte Zahlungen automatisch per E-Mail an den Kunden und per Statuswechsel an dich gemeldet werden, erstelle einen <strong>Auftragsstatus</strong> für <strong>abgelehnte Zahlungen</strong> von PayPal PLUS oder nutze einen vorhandenen Auftragsstatus.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 2.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 2 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion zum automatischen Melden von abgelehnten Zahlungen durch PayPal PLUS</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlung: Abgelehnt</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal PLUS</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunde &gt; E-Mail versenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Vorlage wählen;<br>
<strong>Kunde</strong> wählen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Status ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsstatus wählen, z.B. <strong>[3.2] In Warteposition</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>