<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a></li>
<li><a href="#20"><span>2.</span><span> Bei POSTPAY registrieren</span></a></li>
<li><a href="#30"><span>3.</span><span> POSTPAY in Callisto einrichten</span></a></li>
<li><a href="#40"><span>4.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#50"><span>5.</span><span> URL für Push-Service hinterlegen</span></a></li>
<li><a href="#60"><span>6.</span><span> Gutschrift für POSTPAY-Auftrag manuell anlegen</span></a></li>
<li><a href="#70"><span>7.</span><span> Versandbestätigungen automatisch senden</span></a></li>
<li><a href="#80"><span>8.</span><span> Retouren automatisch senden</span></a></li>
<li><a href="#90"><span>9.</span><span> Gutschriften automatisch senden</span></a></li>
<li><a href="#100"><span>10.</span><span> Stornierung automatisch senden</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: POSTPAY</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>POSTPAY</strong> in Callisto Shops. Die folgenden Anleitungen sind somit nicht für Ceres Shops gültig!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><a href="http://www.postpay.de/de/p/postpay/postpay.html" target="_blank" rel="noopener">POSTPAY</a> ist der Zahlungsdienst der Deutschen Post. Mit POSTPAY bietest du deinen Webshop-Kunden eine Zahlungs- und Bestellabwicklung an, die bereits von vielen Kunden der Deutschen Post genutzt wird. POSTPAY bündelt die Zahlungsarten <strong>Lastschrift</strong>, <strong>Vorkasse</strong>, <strong>Giropay</strong>, <strong>SOFORT Überweisung</strong>, <strong>Kreditkarte</strong> und <strong>Kauf auf Rechnung</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhältst du wichtige Hinweise zur Integration des Zahlungsanbieters in plentymarkets.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Auftragsanlage</div>
<div class="paragraph">
<p>Ein Auftrag wird in plentymarkets erst beim Zahlungseingang angelegt, erfolgt also noch nicht im Bestellvorgang bei Klick auf die Schaltfläche <strong>POSTPAY</strong> im Warenkorb.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph subhead">
<p><strong>Bezahlvorgang:</strong></p>
</div>
<div class="paragraph">
<p>Nach dem Bestätigen der Bestellung wird der Kunde auf eine Seite von POSTPAY weitergeleitet. Dort muss er sich in seinen POSTPAY-Account einloggen, eine Zahlungsoption wählen und die Zahlung bestätigen. Je nachdem, ob der Kunde bereits in deinem Webshop den Checkout-Prozess durchlaufen und dort POSTPAY als Zahlungsart gewählt hat, oder ob er auf die Schaltfläche <strong>POSTPAY</strong> im Warenkorb klickt, ohne sich eingeloggt zu haben, muss er unter Umständen noch seine Rechnungs- und Lieferanschrift bei POSTPAY eingeben.</p>
</div>
<div class="paragraph">
<p>Hier die beiden Varianten im Überblick:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der Kunde ist in deinem Webshop eingeloggt und hat dort bereits Rechnungs- und Lieferanschrift eingegeben. Diese Daten werden bei der Weiterleitung zu POSTPAY übernommen, können aber durch den Kunden noch angepasst werden.</p>
</li>
<li>
<p>Der Kunde ist nicht in deinem Webshop eingeloggt und wählt <strong>POSTPAY</strong> über die Schaltfläche im Warenkorb. Der Kunde wird zu POSTPAY weitergeleitet und loggt sich dort mit seinen POSTPAY-Daten ein. Die primäre Zahlungsart und die Adresse sind bereits hinterlegt und die Bestellung kann mit einem Klick abgeschlossen werden. Hat der Kunde noch keinen POSTPAY-Account, muss er dort seine Daten für Rechnungs- und Lieferanschrift eingeben.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Bei POSTPAY registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sofern du bereits ein Händlerkonto bei <a href="https://de.allyouneed.com/de/customerlogin.html" target="_blank" rel="noopener">Allyouneed.com</a> hast, ist keine erneute Registrierung notwendig. Du kannst sofort mit der <a href="/payment/zahlungsanbieter/postpay#30">Einrichtung von POSTPAY</a> beginnen.</p>
</div>
<div class="paragraph">
<p>Wenn du noch keinen Vertrag hast, registriere dich bei <a href="https://de.allyouneed.com/de/dealer/page/selfsignup/step1?ssu=postpay" target="_blank" rel="noopener">POSTPAY</a>. Im Anschluss erhältst du den Händlervertrag für Allyouneed.com und POSTPAY per Post oder E-Mail übermittelt, der unterschrieben zurückgesendet werden muss. Ergänze den Händlervertrag um Angaben zum wirtschaftlichen Berechtigten und zum gesetzlichen Vertreter. Nach einer internen Prüfung durch POSTPAY wird dein Konto aktiviert und du erhältst per E-Mail eine Bestätigung mit deinen Zugangsdaten. Die Zugangsdaten benötigst du im nächsten Schritt für die Einrichtung in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. POSTPAY in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Schnittstelle zu POSTPAY für deinen Callisto Shop in plentymarkets einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu POSTPAY einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>DE</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>POSTPAY</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klappe den Mandanten auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-schnittstelleneinrichtung-postpay">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnittstelleneinrichtung-postpay" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Schnittstelle zu POSTPAY einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzername eingeben, wie von POSTPAY erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Passwort eingeben, wie von POSTPAY erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Testmodus aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Testmodus aktivieren, um die POSTPAY-Funktionen zu testen, bevor mit dem System live gearbeitet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zugangsdaten für alle Mandanten (Shops) aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar, wenn Mandanten eingerichtet sind. Aktivieren, um die Kontoeinstellungen, die über <strong>Konto hinzufügen</strong> für den Hauptshop gespeichert wurden, für alle Mandanten (Shops) zu übernehmen, unabhängig davon, was für andere Mandanten gespeichert wurde. Deaktivieren, um separate Zugangsdaten für weitere Mandanten (Shops) zu verwenden. Webshops, für die kein Konto hinzugefügt wurde, können mit POSTPAY nicht genutzt werden.<br>
Zur Unterstützung mehrerer Mandanten muss im Menü <a href="/webshop/webshop-einrichten#grundeinstellungen">Einrichtung » Mandant » Mandant wählen » Webshop » Einstellungen</a> für die Option <strong>Login</strong> die Einstellung <strong>Login in jedem einzelnen Shop ermöglichen</strong> aktiviert sein.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="40">4. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte die <a href="/payment/zahlungsarten-verwalten#20">Zahlungsart</a> POSTPAY im Tab <strong>Einstellungen</strong> der Zahlungsart ein. Prüfe zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. URL für Push-Service hinterlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Logge dich mit deinen Daten bei POSTPAY ein und gib im Tab <strong>Verwaltung</strong> die <strong>URL für den Push-Service</strong> ein. Mit dieser URL teilst du POSTPAY mit, wohin Zahlungsbestätigungen gesendet werden sollen. Die URL ist nach folgendem Muster aufgebaut:</p>
</div>
<div class="paragraph">
<p><strong>DEINE_DOMAIN/plenty/api/payment_notification.php?payment=postpay&amp;</strong></p>
</div>
<div class="paragraph">
<p>Diese URL passt du gemäß der Domain deines Shops an und speicherst sie im <strong>POSTPAY</strong>-Backend.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Gutschrift für POSTPAY-Auftrag manuell anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Es kann notwendig werden, für einzelne Aufträge, die über POSTPAY abgewickelt werden, Gutschriften zu erstellen. Du hast hierfür die Möglichkeit, individuelle Gutschriftenbeträge an POSTPAY zu senden.</p>
</div>
<div class="paragraph instruction">
<p>Gutschrift an POSTPAY senden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den POSTPAY-Auftrag.<br>
→ Das Tab <strong>Übersicht</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle die Option <strong>anlegen</strong> aus der Dropdown-Liste <strong>Gutschrift …​</strong>.<br>
→ Die Gutschrift wird angelegt.</p>
</li>
<li>
<p>Öffne die neu angelegte Gutschrift.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Gib im Feld <strong>POSTPAY Gutschrift senden</strong> den Betrag ein.</p>
</li>
<li>
<p>Klicke auf <strong>POSTPAY Gutschrift senden</strong>.<br>
→ Die Gutschrift wird an POSTPAY gesendet.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. Versandbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Versandbestätigungen automatisch zu versenden, nachdem der Warenausgang gebucht wurde.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 2.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 2 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion zum automatischen Senden von Versandbestätigungen an POSTPAY</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Warenausgang gebucht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>POSTPAY</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand &gt; Versandbestätigung an POSTPAY senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="80">8. Retouren automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Retouren automatisch an POSTPAY zu senden. Weitere Details zum Anlegen von Retouren findest du auf der Handbuchseite <a href="/auftraege/auftraege-verwalten#400">Retoure</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 3.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 3 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Senden von Retouren an POSTPAY</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsanlage: Neue Retoure (durch Kunde)</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>POSTPAY</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure &gt; Retoure an POSTPAY senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="90">9. Gutschriften automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um Gutschriften automatisch zu senden, benötigst du einen <a href="/auftraege/auftraege-verwalten#1200">Auftragsstatus</a> für Gutschriften. Du kannst einen Standardstatus verwenden oder einen eigenen Auftragsstatus erstellen. Nur fertig bearbeitete Gutschriften erhalten diesen Status. Diese Gutschriften dürfen nach dem Anlegen nicht geändert werden. Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Gutschriften automatisch an POSTPAY zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 4.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 4 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion zum automatischen Senden von Gutschriften an POSTPAY</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status für die <strong>Gutschrift an POSTPAY</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutschrift</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>POSTPAY</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Gutschrift an POSTPAY senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">10. Stornierung automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um POSTPAY automatisch über Stornierungen zu informieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 5.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 5 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktion zum automatischen Senden von Stornierungen an POSTPAY</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status für <strong>stornierte Aufträge</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>POSTPAY</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Stornierung an POSTPAY senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>