<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Bezahlvorgang</span></a></li>
<li><a href="#30"><span>1.2.</span><span> SSL-Zertifikat</span></a></li>
</ul>
</li>
<li><a href="#40"><span>2.</span><span> Bei Saferpay registrieren</span></a></li>
<li><a href="#50"><span>3.</span><span> Saferpay in Callisto einrichten</span></a></li>
<li><a href="#60"><span>4.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#70"><span>5.</span><span> API-Log abrufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: Saferpay</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>Saferpay</strong> in Callisto Shops. Die folgenden Anleitungen sind somit nicht für Ceres Shops gültig!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><a href="https://www.six-payment-services.com/de/shared/offering/products/psp/ecommerce.html" target="_blank" rel="noopener">Saferpay</a> hat im deutschsprachigen Europa den Standard für E-Payment-Lösungen gesetzt und steht damit als Synonym für "sicheres Bezahlen im Internet". Dank Saferpay müssen sich Online-Händler wie Karteninhaber über die Sicherheit beim Einkaufen im Internet keine Sorgen mehr machen. Händler kennen und schätzen das sichere Bezahlen im Internet über Saferpay weltweit.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhältst du wichtige Hinweise zur Integration des Zahlungsanbieters Saferpay in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Bezahlvorgang</h3>
<div class="paragraph">
<p>Für den Bezahlvorgang wird der Kunde zu Saferpay weitergeleitet und dort über ein iframe dazu aufgefordert, seine notwendigen Daten einzugeben. Die Auswahl der Zahlungsart erfolgt noch im Webshop. Anschließend wird der Kunde direkt zu Saferpay weitergeleitet und die weiteren Inhalte werden in einem iframe bereitgestellt. Der Kunde gibt hier seine Daten ein. Dies erfolgt somit nicht im Webshop, sondern bei Saferpay. Nach der Eingabe und Bestätigung der Daten wird der Kunde auf die Bestellbestätigungsseite geleitet.</p>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. SSL-Zertifikat</h3>
<div class="paragraph">
<p>Für die korrekte Verwendung der Zahlungsart ist ein <a href="/basics/admin-aufgaben/plentymarkets-konto#ssl-zertifikat">SSL-Zertifikat</a> erforderlich.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Frage bei deiner Bank nach</div>
<div class="paragraph">
<p>Klären vor einer Integration der Zahlungsart Saferpay, ob deine Bank die Abwicklung über iframes unterstützt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="40">2. Bei Saferpay registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Schließe einen <a href="https://www.six-payment-services.com/dam/downloads/contracts/116004201_CO_Saferpay_Contract_DEU_DE_active.pdf" target="_blank" rel="noopener">Vertrag für die Nutzung von Saferpay</a> mit SIX Payment Services ab. Du erhältst mit der Bestätigung des Vertrags die Zugangsdaten, die du für die Aktivierung in plentymarkets benötigst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">3. Saferpay in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Schnittstelle zu Saferpay für deinen Callisto Shop in plentymarkets einzurichten.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Saferpay</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Zugangsdaten: Mandant</strong> auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-schnittstelleneinrichtung-saferpay">Tabelle 1</a>.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Einstellungen: Mandant</strong> auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-einstellungen-schnittstelle-saferpay">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnittstelleneinrichtung-saferpay" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Schnittstelle zu Saferpay einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Konto-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Saferpay-Kontos eingeben, wie von Saferpay erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Passwort des Saferpay-Kontos eingeben, wie von Saferpay erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Mandant (Shop)-Optionen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zugangsdaten für alle Mandanten (Shops) aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar, wenn Mandanten eingerichtet sind. Aktivieren, um die Kontoeinstellungen, die über <strong>Konto hinzufügen</strong> für den Hauptshop gespeichert wurden, für alle Mandanten (Shops) zu übernehmen, unabhängig davon, was für andere Mandanten gespeichert wurde. Deaktivieren, um separate Zugangsdaten für weitere Mandanten (Shops) zu verwenden. Webshops, für die kein Konto hinzugefügt wurde, können mit Saferpay nicht genutzt werden.<br>
Zur Unterstützung mehrerer Mandanten muss im Menü <a href="/webshop/webshop-einrichten#grundeinstellungen">Einrichtung » Mandant » Mandant wählen » Webshop » Einstellungen</a> für die Option <strong>Login</strong> die Einstellung <strong>Login in jedem einzelnen Shop ermöglichen</strong> aktiviert sein.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Pro Mandant (Shop) findest du im Tab <strong>Schnittstelle</strong> ein Untermenü <strong>Einstellungen</strong> mit weiteren Funktionen, die nachfolgend erläutert werden.</p>
</div>
<table id="tabelle-einstellungen-schnittstelle-saferpay" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Weitere Einstellungen im Tab <strong>Schnittstelle</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail-Adresse für Zahlungsmeldung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine E-Mail-Adresse eingeben, an die eine Zahlung gemeldet werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fenster bei erfolgter Zahlung verzögert schließen (Sekunden)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei erfolgreicher Zahlung wird eine Meldung angezeigt. Einen Zeitwert in Sekunden eingeben, den das Fenster geöffnet bleiben soll, um dem Kunden z.B. die Möglichkeit zu geben, die Meldung zu drucken. Wird kein Wert eingegeben, bleibt das Fenster 100 Sekunden geöffnet (Standardeinstellung). Wenn das Fenster nicht angezeigt werden soll, den Wert <strong>0</strong> eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name des Karten- oder Kontoinhabers abfragen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Abfrage erfolgen soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzeige der Sprachauswahl im Bezahlvorgang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Sprachauswahl angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Farben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hexadezimalwerte für Farben der einzelnen Elemente eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schrifttyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Schriftart eingeben, z.B. die gleiche Schriftart, die im Webshop verwendet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)-Optionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> oder <strong>Nein</strong> wählen.<br>
<strong>Ja</strong> = Optionen bzw. Eingaben unter <strong>Farben</strong> und <strong>Schriftart</strong> auch auf Mandanten (Shops) anwenden.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="60">4. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte die <a href="/payment/zahlungsarten-verwalten#20">Zahlungsart</a> Saferpay im Tab <strong>Einstellungen</strong> der Zahlungsart ein. Prüfe zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="70">5. API-Log abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein korrekter Datenaustausch sowie die Bestätigung der Buchung bei Saferpay und in plentymarkets wird durch einen grünen Balken unter <strong>Zahlungseingang</strong> angezeigt. Im Fall eines Fehlers bei der Datenübertragung findest du im API-Log Details zum Fehler.</p>
</div>
<div class="paragraph instruction">
<p>API-Log abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » API-Log » Tab: API-Log</strong>.</p>
</li>
<li>
<p>Wähle ein Format aus der Dropdown-Liste <strong>Vorgang</strong>.</p>
</li>
<li>
<p>Wähle ggf. ein <strong>Datum</strong>, um nur Einträge eines bestimmten Tages zu erhalten.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>, um die Suche auszuführen.<br>
→ Die Vorgänge werden angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Je nach Art des Fehlers wird deine Zahlung zwar bei Saferpay gebucht, aber u.U. nicht in plentymarkets bestätigt, was wiederum zu einer fehlerhaften Buchung in plentymarkets führt. Bei einem Fehler prüfe bitte zunächst im Saferpay-System, ob die Zahlung erfolgt ist. Du kannst dann die Buchung in plentymarkets manuell korrigieren. Solltest du dir nicht sicher sein oder einen Fehler nicht nachvollziehen bzw. beheben können, kontaktiere den Service von Saferpay oder wende dich an unser <a href="https://forum.plentymarkets.com/" target="_blank" rel="noopener">Forum</a>.</p>
</div>
</div>
</div>
</main>