<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Bezahlvorgang</span></a></li>
<li><a href="#30"><span>1.2.</span><span> Verfügbare Sage Pay-Zahlungsarten</span></a></li>
</ul>
</li>
<li><a href="#40"><span>2.</span><span> Bei Sage Pay registrieren</span></a></li>
<li><a href="#50"><span>3.</span><span> Sage Pay in Callisto einrichten</span></a></li>
<li><a href="#60"><span>4.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#70"><span>5.</span><span> Zahlungen autorisieren und stornieren</span></a>
<ul class="sectlevel2">
<li><a href="#80"><span>5.1.</span><span> Sage Pay Payment stornieren</span></a></li>
<li><a href="#90"><span>5.2.</span><span> Sage Pay Deferred- oder Authenticate-Zahlung abbrechen</span></a></li>
<li><a href="#100"><span>5.3.</span><span> Sage Pay Deferred- oder Authenticate-Zahlung autorisieren</span></a></li>
</ul>
</li>
<li><a href="#110"><span>6.</span><span> Stornierungen automatisch senden</span></a></li>
<li><a href="#120"><span>7.</span><span> Gutschriften automatisch senden</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: Sage Pay</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>Sage Pay</strong> in Callisto Shops. Die folgenden Anleitungen sind somit nicht für Ceres Shops gültig!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><a href="http://www.sagepay.co.uk/" target="_blank" rel="noopener">Sage Pay</a> (nur Englisch) ist ein Zahlungsanbieter, der in Großbritannien gegründet wurde und im Vereinigten Königreich und Irland verfügbar ist. Sage Pay bietet verschiedene Zahlungsmöglichkeiten, ein integriertes Betrugspräventionstool und z.B. Transaktionsberichte.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhältst du wichtige Hinweise zur Integration von Sage Pay in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Bezahlvorgang</h3>
<div class="paragraph">
<p>Nach dem Bestätigen der Bestellung wird der Kunde auf eine Seite von Sage Pay weitergeleitet. Dort muss er die Daten der von ihm gewählten Kreditkarte eingeben. Nachdem die Daten eingegeben wurden und die Zahlung durch den Kunden bestätigt wurde, wird der Kunde wieder zurück in deinen Webshop geleitet.</p>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. Verfügbare Sage Pay-Zahlungsarten</h3>
<div class="paragraph">
<p>Nachfolgend findest du eine Übersicht der für plentymarkets verfügbaren Sage Pay-Zahlungsarten mit der System-ID in Klammern.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Sage Pay (Payment)</p>
</li>
<li>
<p>Sage Pay deferred</p>
</li>
<li>
<p>Sage Pay authenticate</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Bei der ersten Zahlungsart wird der Betrag direkt an dich, den Händler, überwiesen. Bei den Zahlungsarten <strong>deferred</strong> und <strong>authenticate</strong> wird der Betrag an dich als Händler überwiesen, nachdem du den Betrag angefordert hast. Eine genaue Erläuterung der verschiedenen Sage Pay-Zahlungsarten findest du bei <a href="http://www.sagepay.co.uk/support/15/36/transaction-types" target="_blank" rel="noopener">Sage Pay</a> (nur Englisch).</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="40">2. Bei Sage Pay registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du Sage Pay in plentymarkets verwenden kannst, musst du dich dort registrieren. Zur Registrierung bei Sage Pay nimmst du <a href="http://www.sagepay.co.uk/contact" target="_blank" rel="noopener">Kontakt</a> (nur Englisch) zu Sage Pay auf. Nimm die Registrierung vor, um die Zugangsdaten zu erhalten. Diese benötigst du für die Einrichtung in plentymarkets. Nach der Registrierung musst du in deinem Sage Pay-Konto die IP-Adresse des Servers, auf dem dein Shop läuft, eingeben. Diese Eingabe nimmst du bei Sage Pay unter <strong>Einstellungen » Gültige IPs</strong> vor.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">3. Sage Pay in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Schnittstelle zu Sage Pay für deinen Callisto Shop in plentymarkets einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu Sage Pay einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Sage Pay</strong>.<br>
→ Das Tab <strong>Schnittstelle</strong> wird geöffnet.</p>
</li>
<li>
<p>Klappe den Mandanten auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-schnittstelleneinrichtung-sage-pay">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnittstelleneinrichtung-sage-pay" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Schnittstelle zu Sage Pay einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Händlername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Händlernamen eingeben, wie von Sage Pay erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Iframe aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Iframe aktivieren, damit der Kunde nicht länger zu Sage Pay weitergeleitet wird, sondern seine Kreditkartendaten direkt in deinem Shop eingeben kann.<br>
Deaktivieren, damit der Kunde zu Sage Pay weitergeleitet wird, dort die Kreditkarte wählt und dann die Daten eingibt.<br>
<strong><em>Wichtig:</em></strong> Beachte , dass die aktivierte Iframe-Option nicht mit lokalen europäischen Zahlungsarten kompatibel ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Testbetrieb aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Testbetrieb aktivieren, um die Sage Pay-Funktionen zu testen, bevor mit dem System live gearbeitet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Mandant (Shop)-Optionen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zugangsdaten für alle Mandanten (Shops) aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar, wenn Mandanten eingerichtet sind. Aktivieren, um die Kontoeinstellungen, die über <strong>Konto hinzufügen</strong> für den Hauptshop gespeichert wurden, für alle Mandanten (Shops) zu übernehmen, unabhängig davon, was für andere Mandanten gespeichert wurde. Deaktivieren, um separate Zugangsdaten für weitere Mandanten (Shops) zu verwenden. Webshops, für die kein Konto hinzugefügt wurde, können mit Sage Pay nicht genutzt werden.<br>
Zur Unterstützung mehrerer Mandanten muss im Menü <a href="/webshop/webshop-einrichten#grundeinstellungen">Einrichtung » Mandant » Mandant wählen » Webshop » Einstellungen</a> für die Option <strong>Login</strong> die Einstellung <strong>Login in jedem einzelnen Shop ermöglichen</strong> aktiviert sein.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="60">4. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte die <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten</a> Sage Pay, Sage Pay deferred und Sage Pay authenticate im Tab <strong>Einstellungen</strong> der Zahlungsarten ein. Prüfe zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="70">5. Zahlungen autorisieren und stornieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem ein Auftrag mit der Zahlungsart Sage Pay in plentymarkets vorliegt, musst du je nach Sage Pay-Zahlungsart und Fortschritt der Zahlung unterschiedlich vorgehen, um die Zahlungen zu autorisieren oder zu stornieren.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Ereignisaktion für Stornierung</div>
<div class="paragraph">
<p>Wenn der Status auf <strong>storniert</strong> wechselt, wird mithilfe einer <strong>Ereignisaktion</strong> die Stornierung automatisch an Sage Pay gemeldet, d.h. in dem Fall musst du im Tab <strong>Einstellungen</strong> nicht auf <strong>stornieren</strong> klicken.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="80">5.1. Sage Pay Payment stornieren</h3>
<div class="paragraph">
<p>Bei einem Auftrag, der mit <strong>Sage Pay Payment</strong> bezahlt wurde, ist die Zahlung automatisch gebucht. Um die Zahlung zu stornieren, gehe wie nachfolgend beschrieben vor.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Stornierung nur am selben Tag</div>
<div class="paragraph">
<p>Bei der Zahlungsart <strong>Sage Pay</strong> kann eine Zahlung in plentymarkets nur am selben Tag storniert werden, an dem der Auftrag eingegangen ist. In deinem Sage Pay-Konto kannst du die Zahlung u.U. auch noch später stornieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Sage Pay Payment stornieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Auftrag, der storniert werden soll.<br>
→ Das Tab <strong>Übersicht</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Gebuchte SagePay Zahlung stornieren</strong>.</p>
</li>
<li>
<p>Ändere den <strong>Status</strong> des Auftrags zu <strong>storniert</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mit einer Ereignisaktion sendest du die <a href="/payment/zahlungsanbieter/sage-pay#110">Stornierung</a> an Sage Pay.</p>
</div>
</div>
<div class="sect2">
<h3 id="90">5.2. Sage Pay Deferred- oder Authenticate-Zahlung abbrechen</h3>
<div class="paragraph">
<p>Eine Zahlung, die noch nicht autorisiert oder freigegeben wurde, brichst du wie nachfolgend beschrieben ab.</p>
</div>
<div class="paragraph instruction">
<p>Zahlung abbrechen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Auftrag, bei dem die Zahlung abgebrochen werden soll.<br>
→ Das Tab <strong>Übersicht</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>SagePay Zahlung abbrechen</strong>.<br>
→ Die Zahlung wird abgebrochen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mit einer Ereignisaktion sendest du die <a href="/payment/zahlungsanbieter/sage-pay#110">Stornierung</a> an Sage Pay.</p>
</div>
</div>
<div class="sect2">
<h3 id="100">5.3. Sage Pay Deferred- oder Authenticate-Zahlung autorisieren</h3>
<div class="paragraph">
<p>Um die Zahlung für einen Auftrag zu erhalten, der mit Sage Pay deferred oder authenticate bezahlt wurde, zu erhalten, gehe wie nachfolgend beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Zahlung autorisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Auftrag, bei dem die Zahlung autorisiert werden soll.<br>
→ Das Tab <strong>Übersicht</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>SagePay Zahlung autorisieren / freigeben</strong>.<br>
→ Die Zahlung wird freigegeben oder autorisiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Autorisierte oder freigegebene Zahlungen stornieren</div>
<div class="paragraph">
<p>Sobald eine Zahlung autorisiert oder freigegben wurde, kann sie nur am selben Tag noch storniert werden. Nach der Autorisierung/Freigabe erscheint im Tab <strong>Einstellungen</strong> des Auftrags die Option <strong>Gebuchte SagePay Zahlung stornieren</strong>. Diese muss angeklickt werden, um die Zahlung zu stornieren.<br>
Anschließend setzt du den Auftrag manuell in den Status <strong>storniert</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="110">6. Stornierungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Sage Pay automatisch über Stornierungen zu informieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 2.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 2 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion zum automatischen Senden von Stornierungen an Sage Pay</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status für <strong>stornierte Aufträge</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sage Pay</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Stornierung an Sage Pay senden (Alle)</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Stornierung an Sage Pay senden (Authenticate)</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 3</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Stornierung an Sage Pay senden (Deferred)</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Pro Zahlungsart eine Ereignisaktion</div>
<div class="paragraph">
<p>Erstelle für jede Zahlungsart eine eigene Ereignisaktion, da es sonst zu ungewollten Meldungen kommt. Wenn du im Tab <strong>Filter</strong> mehrere Zahlungsarten wählen, wird die ausgelöste Meldung auch für andere Zahlungsarten und an die dort hinterlegten Zahlungsanbieter geschickt. Wähle unter Aktionen für <strong>Deferred</strong> und <strong>Authenticate</strong> außerdem immer 2 Aktionen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="120">7. Gutschriften automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du eine Zahlung bereits erhalten hast und dem Kunden das Geld per Gutschrift erstatten möchtest, richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Gutschriften automatisch an Sage Pay zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 3.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 3 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Senden von Gutschriften an Sage Pay</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsanlage: Neue Gutschrift</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sage Pay</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Gutschrift an Sage Pay senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>