<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a></li>
<li><a href="#20"><span>2.</span><span> Bei Santander Consumer Bank registrieren</span></a></li>
<li><a href="#30"><span>3.</span><span> Santander in Callisto einrichten</span></a></li>
<li><a href="#40"><span>4.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#50"><span>5.</span><span> Santander im Callisto Webshop anzeigen</span></a></li>
<li><a href="#60"><span>6.</span><span> API-Log abrufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: Santander Consumer Bank</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>Santander Consumer Bank</strong> in Callisto Shops. Die folgenden Anleitungen sind somit nicht für Ceres Shops gültig!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Nach der Fusion mit der AKB Privat-und Handelsbank firmiert die ehemalige CC-Bank seit 2006 als Santander Consumer Bank AG. Hier bündelt die Bank ihre Geschäftsaktivitäten in den Bereichen Konsumfinanzierung, Retail Banking und für Online-Aktivitäten. Dabei ist Santander Spezialist für Ratenfinanzierungen. Santander integriert viele Zahlungsarten in deinen Webshop - über eine einzige Schnittstelle.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhältst du wichtige Hinweise zur Integration dieses Zahlungsanbieters in plentymarkets.</p>
</div>
<div class="paragraph subhead">
<p>Bezahlvorgang</p>
</div>
<div class="paragraph">
<p>Nach dem Abschluss der Bestellung erhält der Kunde eine Meldung, die ihm mitteilt, dass die Zahlung noch über einen Link abgeschlossen werden muss. Beim Klicken auf den angezeigten Link wird der Kunde auf eine Seite der Santander Consumer Bank weitergeleitet. Hier müssen erforderliche Daten für den Kreditantrag eingegeben werden. Nach Eingabe und Bestätigung der Daten wird der Kunde auf die Bestellbestätigungsseite geleitet.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Bei Santander Consumer Bank registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du die Zahlungsart in plentymarkets einrichten kannst, ist eine Registrierung bei Santander mittels <a href="https://www.santander.de/de/waren/wir_und_der_handel/zusammenarbeit/Kontaktformular_Partnerschaft_Warenhaendler.html" target="_blank" rel="noopener">Kontaktformular</a> erforderlich. Anschließend erhältst du die nötigen Informationen sowie Zugangsdaten, die du für die Einrichtung in plentymarkets benötigst. Bei Santander findest du weitere Informationen zur <a href="http://santander.de/de/waren/wir_und_der_handel/zusammenarbeit/zusammenarbeit.html" target="_blank" rel="noopener">Zusammenarbeit</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Santander in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Schnittstelle zu Santander Consumer Bank für deinen Callisto Shop in plentymarkets einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu Santander einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>DE</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Santander Consumer Bank</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klappe den Mandanten auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-schnittstelleneinrichtung-santander">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnittstelleneinrichtung-santander" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Schnittstelle zu Santander einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Händlernummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Händlernummer deines Santander-Kontos eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Händlerkennwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Händlerkennwort deines Santander-Kontos eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindestbetrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindestbetrag für Aufträge eingeben. Der Mindestbetrag muss erreicht werden, um diese Zahlungsart nutzen zu können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximalbetrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximalbetrag für Aufträge eingeben. Der Maximalbetrag darf nicht überschritten werden, um diese Zahlungsart nutzen zu können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Mandant (Shop)-Optionen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zugangsdaten für alle Mandanten (Shops) aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar, wenn Mandanten eingerichtet sind. Aktivieren, um die Kontoeinstellungen, die über <strong>Konto hinzufügen</strong> für den Hauptshop gespeichert wurden, für alle Mandanten (Shops) zu übernehmen, unabhängig davon, was für andere Mandanten gespeichert wurde. Deaktivieren, um separate Zugangsdaten für weitere Mandanten (Shops) zu verwenden. Webshops, für die kein Konto hinzugefügt wurde, können mit Santander nicht genutzt werden.<br>
Zur Unterstützung mehrerer Mandanten muss im Menü <a href="/webshop/webshop-einrichten#grundeinstellungen">Einrichtung » Mandant » Mandant wählen » Webshop » Einstellungen</a> für die Option <strong>Login</strong> die Einstellung <strong>Login in jedem einzelnen Shop ermöglichen</strong> aktiviert sein.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="40">4. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte die <a href="/payment/zahlungsarten-verwalten#20">Zahlungsart</a> Santander Consumer Bank im Tab <strong>Einstellungen</strong> der Zahlungsart ein. Prüfe zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Santander im Callisto Webshop anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>CMS</strong> hast du die Möglichkeit, die Texte anzupassen, die einem Käufer im Bestellvorgang bei der Zahlungsart Santander Consumer Bank angezeigt werden. Das Formular für die Bestellbestätigung passt du wie folgt an. Weitere Informationen findest du auch unter <a href="/webshop/webshop-einrichten/cms#webdesign-webdesign-bearbeiten-bestellvorgang-bestellbestaetigung">Bestellbestätigung</a>.</p>
</div>
<div class="paragraph instruction">
<p>Bestellbestätigung anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>Bestellvorgang » Bestellbestätigung</strong>.</p>
</li>
<li>
<p>Klappe <strong>Santander Consumer Bank</strong> auf.</p>
</li>
<li>
<p>Gib einen Text in das Feld <strong>Text vor</strong> bzw. <strong>Text nach</strong> ein.</p>
</li>
<li>
<p>Gib einen <strong>Fehlertext</strong> ein.<br>
→ Dieser Text wird dem Kunden angezeigt, wenn die Bezahlung mit dieser Zahlungsart nicht möglich ist bzw. wenn ein Fehler bei der Übermittlung aufgetreten ist.</p>
</li>
<li>
<p>Gib unter <strong>Linkinhalt</strong> eine Information für den Kunden ein, z.B. "Klicken Sie hier, um den Zahlungsvorgang abzuschließen."<br>
→ Dieser Text wird dem Kunden im Bestellvorgang angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. API-Log abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Fall eines Fehlers bei der Datenübertragung findest du im API-Log Details zum Fehler.</p>
</div>
<div class="paragraph instruction">
<p>API-Log abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » API-Log » Tab: API-Log</strong>.</p>
</li>
<li>
<p>Wähle ein Format aus der Dropdown-Liste <strong>Vorgang</strong>.</p>
</li>
<li>
<p>Wähle ggf. ein <strong>Datum</strong>, um nur Einträge eines bestimmten Tages zu erhalten.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>, um die Suche auszuführen.<br>
→ Die Vorgänge werden angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Je nach Art des Fehlers wird deine Zahlung zwar bei Santander gebucht, aber u.U. nicht in plentymarkets bestätigt, was wiederum zu einer fehlerhaften Buchung in plentymarkets führt.</p>
</div>
</div>
</div>
</main>