<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Bezahlvorgang</span></a></li>
<li><a href="#30"><span>1.2.</span><span> SSL-Zertifikat</span></a></li>
<li><a href="#40"><span>1.3.</span><span> Verfügbare Skrill-Zahlungsarten</span></a></li>
</ul>
</li>
<li><a href="#50"><span>2.</span><span> Bei Skrill registrieren</span></a></li>
<li><a href="#60"><span>3.</span><span> Skrill in Callisto einrichten</span></a></li>
<li><a href="#70"><span>4.</span><span> Zahlungsarten aktivieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: Skrill</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>Skrill</strong> für Callisto Shops. Für die Verwendung von <strong>Skrill</strong> in Ceres Shops erhältst du ausführliche Informationen in der Beschreibung des Plugins im <a href="https://marketplace.plentymarkets.com/plugins/payment/Skrill_5142" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Mit <a href="https://www.skrill.com/de/" target="_blank" rel="noopener">Skrill</a> vereinst du eine große Zahl an länderspezifischen Zahlungsarten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhältst du wichtige Hinweise zur Integration des Zahlungsanbieters <strong>Skrill</strong> in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Bezahlvorgang</h3>
<div class="paragraph">
<p>Die Auswahl der Zahlungsart erfolgt noch im Webshop. Anschließend wird der Kunde direkt zu Skrill weitergeleitet. Die weiteren Inhalte werden in einem iframe bereitgestellt. Der Kunde trägt hier seine Daten ein. Die Dateneingabe erfolgt somit nicht im Webshop, sondern bei Skrill. Nach der Eingabe und Bestätigung der Daten wird der Kunde auf die Bestellbestätigungsseite geleitet.</p>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. SSL-Zertifikat</h3>
<div class="paragraph">
<p>Für die korrekte Verwendung der Zahlungsart ist ein <a href="/basics/admin-aufgaben/plentymarkets-konto#ssl-zertifikat">SSL-Zertifikat</a> erforderlich. Die Bezahlseite von Skrill ist bereits SSL-verschlüsselt.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Fragen bei deiner Bank nach</div>
<div class="paragraph">
<p>Kläre vor einer Integration von Zahlungsarten, ob deine Bank die Abwicklung über iframes unterstützt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="40">1.3. Verfügbare Skrill-Zahlungsarten</h3>
<div class="paragraph">
<p>Nachfolgend findest du eine Übersicht der für plentymarkets verfügbaren Skrill-Zahlungsarten mit der System-ID in Klammern.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Carte Bleue (510)</p>
</li>
<li>
<p>Digital Wallet (560)</p>
</li>
<li>
<p>Giropay (530)</p>
</li>
<li>
<p>iDEAL (580)</p>
</li>
<li>
<p>Kreditkarte (500)</p>
</li>
<li>
<p>Lastschrift (520)</p>
</li>
<li>
<p>maestro (570)</p>
</li>
<li>
<p>netpay eps (550)</p>
</li>
<li>
<p>Sofortüberweisung (540)</p>
</li>
<li>
<p>Online-Überweisung (590)</p>
</li>
<li>
<p>CartaSi (591)</p>
</li>
<li>
<p>PostePay (592)</p>
</li>
<li>
<p>Visa Delta/Debit (593)</p>
</li>
<li>
<p>Dankort (595)</p>
</li>
<li>
<p>Payolution Invoice (596)</p>
</li>
<li>
<p>Payolution Ins (597)</p>
</li>
<li>
<p>Payolution Mangirkart (598)</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="50">2. Bei Skrill registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eröffne zunächst ein <a href="https://content.skrill.com/de/ecommerce-solutions/plentymarkets/" target="_blank" rel="noopener">Geschäftskonto</a> bei Skrill. Du gelangst direkt zur Gewerbeanmeldung, wenn du auf <strong>Jetzt anmelden</strong> klickst. Folge den weiteren Schritten, um die Registrierung abzuschließen. In einem der Schritte wirst du aufgefordert, ein <strong>Geheimwort</strong> einzurichten, das die Zahlungen verschlüsselt. Das Geheimwort benötigst du für die Einrichtung der Zugangsdaten in plentymarkets. Das Geheimwort sollte sich von deinem Login-Passwort unterscheiden und darf maximal 10 Zeichen lang sein. Für das Geheimwort sind nur Kleinbuchstaben und Zahlen zulässig. Es darf keine Sonderzeichen enthalten.</p>
</div>
<div class="paragraph">
<p>Mache dich auch mit dem Bereich <strong>Kontoauszug</strong> in deinem Skrill-Konto vertraut. Hier kannst du später deine Transaktionshistorie als Excel-Tabelle herunterladen und beliebig verarbeiten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">3. Skrill in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Skrill hat ein zweistufiges Sicherheitskonzept für die Aktivierung von Konten. Schritt 1 ist die Verifizierung der E-Mail-Adresse. Schritt 2 besteht in der Verifizierung deiner Personalangaben. Gehe wie unten beschrieben vor, um die Schnittstelle zu Skrill für deinen Callisto Shop in plentymarkets einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu Skrill einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klickeauf <strong>Skrill</strong>.<br>
→ Das Tab <strong>Schnittstelle</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib die E-Mail-Adresse ein, wie von Skrill erhalten.</p>
</li>
<li>
<p>Gib das Geheimwort ein, wie von Skrill erhalten.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">4. Zahlungsarten aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte die <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten</a> für Skrill im Tab <strong>Einstellungen</strong> der Zahlungsarten ein. Prüfe zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Zahlungsart nach Bestellung ändern</div>
<div class="paragraph">
<p>Die <strong>Zahlungsart</strong> ist nach der Bestellung im Bereich <strong>Mein Konto</strong> des Webshops nicht änderbar, solange auf die Bestätigung der Zahlung gewartet wird. Im Bereich <strong>Mein Konto</strong> wird dazu ein Hinweis angezeigt. Wenn die Zahlung abgelehnt wurde, kann die Zahlungsart geändert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>