<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a></li>
<li><a href="#20"><span>2.</span><span> Bei SOFORT Überweisung registrieren</span></a></li>
<li><a href="#30"><span>3.</span><span> SOFORT Überweisung in Callisto einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>3.1.</span><span> Bestehendes Projekt verknüpfen</span></a></li>
<li><a href="#60"><span>3.2.</span><span> Neues Projekt über plentymarkets anlegen</span></a></li>
</ul>
</li>
<li><a href="#70"><span>4.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#80"><span>5.</span><span> Testmodus aktivieren</span></a></li>
<li><a href="#90"><span>6.</span><span> Zahlungseingänge importieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: SOFORT Überweisung</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>Sofortüberweisung.de</strong> für Callisto Shops. Für die Verwendung von <strong>Sofortüberweisung.de</strong> in Ceres Shops erhältst du ausführliche Informationen in der Beschreibung des Plugins im <a href="https://marketplace.plentymarkets.com/plugins/payment/SOFORT_5050" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><a href="https://www.sofort.com/ger-DE/kaeufer/su/online-zahlen-mit-sofort-ueberweisung/" target="_blank" rel="noopener">SOFORT Überweisung</a> ist das Direkt-Überweisungsverfahren der SOFORT GmbH. Mit der Zahlungsart <strong>SOFORT Überweisung</strong> veranlasst der Kunde noch während der Bestellung die Überweisung in seinem Online-Banking-Konto. Du als Händler erhältst nach Abschluss der Transaktion über SOFORT Überweisung eine Echtzeitbestätigung. So kannst du Lagerware und digitale Güter sofort versenden - der Kunde erhält seine Einkäufe schneller. Direkt nach dem Zahlungseingang wird die Bestellung in plentymarkets als bezahlt markiert.</p>
</div>
<div class="paragraph">
<p>SOFORT Überweisung entspricht den hohen Sicherheitsstandards des Online-Bankings und verfügt über TÜV-geprüften Datenschutz. Deine Kunden müssen sich weder registrieren, noch benötigen sie eine Kreditkarte. Sie bezahlen einfach, sicher und schnell direkt mit ihrem Online-Bankkonto.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nach dem Abschluss der Bestellung wird dem Kunden ein Formular mit eine Schaltfläche angezeigt. Durch Klick auf diese Schaltfläche wird der Kunde auf eine Seite von SOFORT Überweisung weitergeleitet, um dort die weiteren benötigten Angaben zu machen. Nach Eingabe und Bestätigung oder bei Abbruch wird der Kunde zurück in den Webshop geleitet.</p>
</div>
<div class="paragraph">
<p>In der Statushistorie von Aufträgen, die mit SOFORT Überweisung bezahlt wurden, wird nach erfolgreicher Bestellung eine Echtzeitbestätigung vermerkt und die Freigabe für den Versand erteilt. Die Überweisung wurde durch den Kunden bereits ausgeführt, der Betrag ist aber nicht direkt auf deinem Konto verbucht. In der Zahlungshistorie wird die Echtzeitbestätigung ebenfalls vermerkt. Wenn du <a href="/payment/bankdaten-verwalten#70">EBICS</a> eingerichtet hast, wird der Auftrag nach erfolgreichem Zahlungsimport automatisch als bezahlt markiert. Es wird ein zweiter Eintrag in der Zahlungshistorie erstellt. Wenn du kein EBICS verwendest, musst du die <a href="/payment/zahlungen-verwalten#40">Zahlung manuell buchen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Bei SOFORT Überweisung registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um SOFORT Überweisung in plentymarkets einzurichten, benötigst du ein Konto bei <a href="https://www.sofortueberweisung.de/payment/createNew/go" target="_blank" rel="noopener">SOFORT Überweisung</a>. Nachdem du dich registriert hast, erhältst du die Zugangsdaten, die du für plentymarkets benötigst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. SOFORT Überweisung in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Einrichten der Schnittstelle zu SOFORT Überweisung hast du die Möglichkeit, entweder ein bestehendes Projekt von SOFORT Überweisung mit plentymarkets zu verknüpfen oder ein neues Projekt anzulegen.</p>
</div>
<div class="sect2">
<h3 id="40">3.1. Bestehendes Projekt verknüpfen</h3>
<div class="paragraph">
<p>Wenn du bei SOFORT Überweisung bereits ein Projekt angelegt hast, dann richte zunächst die Schnittstelle zu SOFORT Überweisung in plentymarkets ein und nimm anschließend Einstellungen im Admin-Bereich von SOFORT Überweisung vor, damit Zahlungseingänge von SOFORT Überweisung erfolgreich an plentymarkets übergeben werden.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu SOFORT Überweisung einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Sofortüberweisung.de</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-schnittstelleneinrichtung-sofort">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnittstelleneinrichtung-sofort" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Schnittstelle zu SOFORT Überweisung einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunden-Nr.;<br>
Projekt-Nr.;<br>
Projekt-Passwort;<br>
Benachrichtigungs-Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Daten eingeben, wie von SOFORT Überweisung erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verwendungszweck</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verwendungszweck wählen.<br>
<strong>Kundennummer</strong> = Deine Kundennummer als Verwendungszweck für den Bezahlvorgang übermitteln.<br>
<strong>Datum</strong> = Datum des Bezahlvorgangs als Verwendungszweck für den Bezahlvorgang übermitteln.<br>
<strong>Benutzerdefinierter Freitext</strong> = In der folgenden Zeile einen Text eingeben, der als Verwendungszweck für den Bezahlvorgang übermittelt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzerdefinierter Freitext</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Verwendungszweck</strong> die Option <strong>Benutzerdefinierter Freitext</strong> gewählt wurde, einen Text für die Anzeige des Verwendungszwecks eingeben.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Damit Zahlungseingänge von SOFORT Überweisung erfolgreich an plentymarkets übergeben werden, müssen die folgenden Einstellungen im Admin-Bereich von SOFORT Überweisung in dem gewünschten Projekt vorgenommen werden:[#50]</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Erfolgslink für die Shopsystem-Schnittstelle eingeben: <strong><a href="https://-USER_VARIABLE_0-/?result=ok&amp;ak=-USER_VARIABLE_3_URLENCODE-&amp;id=-USER_VARIABLE_1_URLENCODE-" class="bare">https://-USER_VARIABLE_0-/?result=ok&amp;ak=-USER_VARIABLE_3_URLENCODE-&amp;id=-USER_VARIABLE_1_URLENCODE-</a></strong></p>
</li>
<li>
<p>Abbruchlink für die Shopsystem-Schnittstelle eingeben: <strong><a href="https://-USER_VARIABLE_0-/?result=cancel&amp;ak=-USER_VARIABLE_3_URLENCODE-&amp;id=-USER_VARIABLE_1_URLENCODE-" class="bare">https://-USER_VARIABLE_0-/?result=cancel&amp;ak=-USER_VARIABLE_3_URLENCODE-&amp;id=-USER_VARIABLE_1_URLENCODE-</a></strong><br>
→ Wenn Du kein SSL nutzt, nur <strong>http</strong> eingeben.</p>
</li>
<li>
<p>Automatische Weiterleitung aktivieren</p>
</li>
<li>
<p>E-Mail-Benachrichtigung anlegen: <strong>Deine E-Mail-Adresse</strong></p>
</li>
<li>
<p>HTTP-Benachrichtigung anlegen: <strong>$DEINE_DOMAIN/plenty/api/payment_notification.php?payment=sofort_ueberweisung</strong><br>
→ Wenn vorhanden, SSL-Domain eingeben, damit sensible Daten über eine verschlüsselte Verbindung gesendet werden.</p>
</li>
<li>
<p>Nicht mehr änderbare Eingabeparameter <strong>Betrag</strong> und <strong>Verwendungszweck</strong> aktivieren, damit diese im Zahlungsprozess von deinen Kunden nicht mehr änderbar sind.</p>
</li>
<li>
<p>Parameter <strong>Kunden-Nr</strong> (User_id), <strong>Projekt-Nr</strong> (Project_id), <strong>Projektpasswort</strong> und <strong>Benachrichtigungskennwort</strong> mit den Daten in plentymarkets abgleichen. Bei der Überprüfung der Einträge der Hash-Algorithmus <strong>SHA1</strong> wählen.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="60">3.2. Neues Projekt über plentymarkets anlegen</h3>
<div class="paragraph">
<p>Auf <strong>Neues Projekt</strong> klicken, um ein neues Projekt einzurichten. Neue Projekte werden in plentymarkets oder im Account bei SOFORT Überweisung angelegt - die angelegten Projekte werden in beiden Fällen bei SOFORT Überweisung gespeichert.<br>
Wenn Projekte <strong>manuell</strong> bei SOFORT Überweisung angelegt werden, müssen die Daten noch in plentymarkets eingegeben werden.</p>
</div>
<div class="paragraph instruction">
<p>Neues Projekt anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Sofortüberweisung.de</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Projekt</strong>.</p>
</li>
<li>
<p>Gib deine Daten ein.<br>
→ Pflichtfelder sind mit <strong>*</strong> gekennzeichnet.</p>
</li>
<li>
<p>Gib einen Projektnamen ein.</p>
</li>
<li>
<p>Klick auf <strong>Einrichten</strong>.<br>
→ Du wirst zu SOFORT Überweisung weitergeleitet. Folge dort dem Einrichtungsassistenten.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="70">4. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte die <a href="/payment/zahlungsarten-verwalten#20">Zahlungsart</a> Sofortüberweisung.de in deinem plentymarkets ein und aktiviere die Zahlungsart. Sobald diese Einstellungen vorgenommen wurden, wird dem Endkunden auch bei der Zahlungsart <strong>Überweisung / Vorkasse</strong> in der Verkaufsabwicklung zusätzlich eine Schaltfläche zur Zahlungsabwicklung von SOFORT Überweisung angeboten. Auf diese Weise hat der Endkunde die Wahl, entweder per Überweisung zu zahlen oder SOFORT Überweisung zu nutzen. Prüfe zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="80">5. Testmodus aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>SOFORT Überweisung bietet die Möglichkeit, testweise Transaktionen durchzuführen, um Benachrichtigungen etc. zu prüfen.</p>
</div>
<div class="paragraph instruction">
<p>Testtransaktion aus deinem Shopsystem durchführen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Logge dich bei SOFORT Überweisung ein.</p>
</li>
<li>
<p>Öffne den Bereich <strong>Meine Projekte</strong>.</p>
</li>
<li>
<p>Wähle ein Projekt.</p>
</li>
<li>
<p>Aktiviere den <strong>Testmodus</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Führe eine Bestellung mit der Zahlungsart SOFORT Überweisung in deinem Webshop durch.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Richtige Bankleitzahl im Testmodus eingeben</div>
<div class="paragraph">
<p>Wenn du den Testmodus aktiviert hast, musst du eine der folgenden Bankleitzahlen eingeben:</p>
</div>
<div class="paragraph">
<p>Deutschland: 88888888</p>
</div>
<div class="paragraph">
<p>Belgien: 999</p>
</div>
<div class="paragraph">
<p>Sonstige: 00000</p>
</div>
<div class="paragraph">
<p>Bei der Eingabe anderer Bankleitzahlen wird die Überweisung trotz Testmodus abgeschickt. Weitere Angaben wie die Kontonummer, PIN oder TAN können frei erfunden werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wenn du den Test durchgeführt hast, deaktiviere den Testmodus wieder.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="90">6. Zahlungseingänge importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zahlungen werden von SOFORT Überweisung so oft gesendet, bis sie erfolgreich in plentymarkets importiert sind. Zusätzlich besteht die Möglichkeit, in deinem Konto bei SOFORT Überweisung unter <strong>Benachrichtigungen</strong> (Fehlerhafte HTTP-Benachrichtigungen) den Status fehlerhafter Übertragungen einzusehen. Dort kannst du auch fehlerhafte Sendungen wiederholen.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Domainwechsel</div>
<div class="paragraph">
<p>Bei einem Domainwechsel müssen die <a href="/payment/zahlungsanbieter/sofortueberweisung#50">Einstellungen</a> bei SOFORT Überweisung im Backend angepasst werden - die URLs stimmen dann nicht mehr. Der Zahlungsablauf funktioniert weiterhin, aber die Zahlungen werden nicht mehr ins System importiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>