<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Wichtige Hinweise</span></a></li>
<li><a href="#20"><span>2.</span><span> Bei WorldPay registrieren</span></a></li>
<li><a href="#30"><span>3.</span><span> WorldPay in Callisto einrichten</span></a></li>
<li><a href="#40"><span>4.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#50"><span>5.</span><span> Einstellungen bei WorldPay vornehmen</span></a>
<ul class="sectlevel2">
<li><a href="#60"><span>5.1.</span><span> Händlerkanal einrichten</span></a></li>
<li><a href="#70"><span>5.2.</span><span> Datenaustausch mit plentymarkets einstellen</span></a></li>
</ul>
</li>
<li><a href="#80"><span>6.</span><span> Versandbestätigungen automatisch senden</span></a></li>
<li><a href="#90"><span>7.</span><span> Stornierungen oder Gutschriften automatisch senden</span></a></li>
<li><a href="#100"><span>8.</span><span> Stornierungen automatisch senden</span></a></li>
<li><a href="#110"><span>9.</span><span> Gutschriften automatisch senden</span></a></li>
<li><a href="#120"><span>10.</span><span> Gutschriften manuell anlegen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: WorldPay</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einrichtung der Schnittstelle nur in Callisto Shops</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt ausschließlich die Einrichtung der Schnittstelle <strong>WorldPay</strong> in Callisto Shops. Die folgenden Anleitungen sind somit nicht für Ceres Shops gültig!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>WorldPay ist ein Zahlungsanbieter mit Sitzen in den USA und dem Vereinigten Königreich, der es dir als Online-Händler ermöglicht, Kartenzahlungen online entgegenzunehmen. Dies gilt sowohl für UK-Händler, die alle Services des Zahlungsanbieters nutzen können, als auch für deutsche Online-Händler, die das Angebot bis auf wenige Ausnahmen voll ausschöpfen können. Um zu wählen, welche Karten du für Zahlungen akzeptierst, setze dich bitte mit dem Support von WorldPay in Verbindung.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhältst du wichtige Hinweise zur Integration des Zahlungsanbieters WorldPay in plentymarkets.</p>
</div>
<div class="paragraph subhead">
<p>Bezahlvorgang</p>
</div>
<div class="paragraph">
<p>Im Bestellvorgang kann dein Kunde wie gewohnt die Zahlungsart wählen. Entscheidet sich der Kunde für eine Zahlung über WorldPay, kann er oder sie in einem neuen Fenster die Art der Karte angeben und die Kartendaten eingeben. Eine Anmeldung bei WorldPay durch den Endkunden ist nicht nötig. Nach Authentifizierung der Daten wird der Kunde zurück in deinen Webshop geleitet.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Corporate Gateway</div>
<div class="paragraph">
<p>Die Anbindung von WorldPay an plentymarkets erfolgt über die WorldPay-Schnittstelle und basiert auf dem Vertragsmodell <strong>Corporate Gateway</strong>. Die CardPay-Schnittstelle wird nicht unterstützt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Bei WorldPay registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um WorldPay in deinem em Online-Shop als Zahlungsart zu integrieren, musst du dich zunächst bei WorldPay registrieren und ein Konto freischalten. Fülle dazu das <a href="https://secure.worldpay.com/app/" target="_blank" rel="noopener">Worldpay-Anmeldeformular</a> vollständig online aus und schicke es ab. Informationen zum weiteren Verlauf erhältst du per E-Mail von WorldPay. Nachdem WorldPay dein Anmeldeformular akzeptiert hat, erhältst du WorldPay-Zugangsdaten sowie einen Link zum Freischaltungsauftrag, den du dann unter Angabe deiner Webshop-URL online ausfüllen und an WorldPay übermitteln. Im Anschluss prüft WorldPay die Funktionalität der Zahlungsseite deines Webshops und schaltet dich dann zum Online-Handel auf den WorldPay-Systemen frei.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. WorldPay in Callisto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Einrichtung in plentymarkets benötigst du die Zugangsdaten, die im Händler-Backend von WorldPay im Menü <strong>Profile</strong> hinterlegt sind. Gehe wie unten beschrieben vor, um die Schnittstelle zu WorldPay für deinen Callisto Shop in plentymarkets einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Schnittstelle zu WorldPay einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>WorldPay</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Schnittstelle</strong>.</p>
</li>
<li>
<p>Klappe den Mandanten auf.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-schnittstelleneinrichtung-worldpay">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-schnittstelleneinrichtung-worldpay" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Schnittstelle zu WorldPay einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Admin-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Admin-ID eingeben, wie von WorldPay erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Merchant-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merchant-ID eingeben, wie von WorldPay erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>XML-Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Passwort eingeben, wie im WorldPay-Backend im Menü Profile gespeichert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Max order amount in GBP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximal möglichen Transaktionsbetrag in Britischen Pfund eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Testbetrieb aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Testbetrieb aktivieren, um die WorldPay-Funktionen zu testen, bevor mit dem System live gearbeitet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Mandant (Shop) - Optionen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zugangsdaten für alle Mandanten (Shops) aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar, wenn Mandanten eingerichtet sind. Aktivieren, um die Kontoeinstellungen, die über <strong>Konto hinzufügen</strong> für den Hauptshop gespeichert wurden, für alle Mandanten (Shops) zu übernehmen, unabhängig davon, was für andere Mandanten gespeichert wurde. Deaktivieren, um separate Zugangsdaten für weitere Mandanten (Shops) zu verwenden. Webshops, für die kein Konto hinzugefügt wurde, können mit WorldPay nicht genutzt werden.<br>
Zur Unterstützung mehrerer Mandanten muss im Menü <a href="/webshop/webshop-einrichten#grundeinstellungen">Einrichtung » Mandant » Mandant wählen » Webshop » Einstellungen</a> für die Option <strong>Login</strong> die Einstellung <strong>Login in jedem einzelnen Shop ermöglichen</strong> aktiviert sein.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="40">4. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte die <a href="/payment/zahlungsarten-verwalten#20">Zahlungsart</a> für WorldPay im Tab <strong>Einstellungen</strong> der Zahlungsart ein. Prüfe zudem die Einstellungen für <strong>Erlaubte Zahlungsarten</strong> in den <a href="/payment/zahlungsarten-verwalten#30">Kundenklassen</a> und für <strong>Gesperrte Zahlungsarten</strong> in den <a href="/fulfillment/versand-vorbereiten#1000">Versandprofilen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Einstellungen bei WorldPay vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In deinem Händler-Backend von WorldPay musst du noch einige wichtige Daten hinterlegen, damit die Schnittstelle funktioniert. Loggen dich dafür in dein Händlerkonto bei WorldPay ein und nimm folgende Einstellungen in deinem Profil unter <strong>Händlerkanal</strong> vor.</p>
</div>
<div class="sect2">
<h3 id="60">5.1. Händlerkanal einrichten</h3>
<div class="paragraph">
<p>Richte den Händlerkanal im Backend von WorldPay ein.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Im Bereich <strong>Händlerkanäle</strong> in der Zeile <strong>http</strong> die Option <strong>Ja</strong> unter <strong>Aktiv</strong> wählen.</p>
</li>
<li>
<p>Unter <strong>Inhalt</strong> die Option <strong>cgi</strong> aus der Dropdown-Liste wählen.</p>
</li>
<li>
<p>Unter <strong>Adresse</strong> die plentymarkets-URL nach folgendem Muster eingeben: <strong><a href="http://*ihr-plentyshop.de" class="bare">http://*ihr-plentyshop.de</a></strong>/plenty/api/payment_notification.php?payment=worldpay*<br>
→ "ihr-plentyshop.de" durch eigenen Shop ersetzen.</p>
</li>
<li>
<p>Unter <strong>Methode</strong> die Option <strong>POST</strong> aus der Dropdown-Liste wählen.</p>
</li>
<li>
<p>Auf <strong>Einstellungen speichern</strong> klicken.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="70">5.2. Datenaustausch mit plentymarkets einstellen</h3>
<div class="paragraph">
<p>Ebenfalls unter <strong>Händlerkanal</strong> gibst du an, welche Informationen du über welchen Kanal von WorldPay erhalten möchten. Im Folgenden wird die empfohlene Variante für plentymarkets beschrieben, mit der die Daten direkt zu deinem System hinzugeführt werden.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Im Bereich <strong>Vorgänge Händlerkanäle</strong> in der Zeile <strong>http</strong> die Optionen aktivieren, die an plentymarkets übertragen werden sollen.</p>
</li>
<li>
<p>Auf <strong>Einstellungen speichern</strong> klicken.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="80">6. Versandbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Versandbestätigungen automatisch zu versenden, nachdem der Warenausgang gebucht wurde. Durch die Versandbestätigung an WorldPay wird automatisch die Zahlung des Kunden von WorldPay an dich übertragen. Hierdurch ändert sich der Zahlungsstatus bei WorldPay von <strong>authorised</strong> zu <strong>captured</strong>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 2.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 2 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion zum automatischen Senden von Versandbestätigungen an WorldPay</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Warenausgang gebucht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WorldPay</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand &gt; Versandbestätigung an WorldPay senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="90">7. Stornierungen oder Gutschriften automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um WorldPay automatisch über Stornierungen oder Gutschriften zu informieren.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Ereignisaktion für zwei Ereignisse</div>
<div class="paragraph">
<p>Richte eine Ereignisaktion für zwei Ereignisse ein, da sich die Ereignisaktion dem Zahlungsstatus bei WorldPay anpasst. Befindet sich die Zahlung bei WorldPay noch im Status <strong>authorised</strong> (d.h. die Zahlung wurde noch nicht übermittelt), wird automatisch eine Stornierung versendet. Befindet sich die Zahlung bei WorldPay bereits im Status <strong>captured</strong> (d.h. die Zahlung wurde bereits übermittelt), wird automatisch eine Gutschrift versendet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 3.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 3 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion zum automatischen Senden von Stornierungen oder Gutschriften an WorldPay</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status für <strong>stornierte Aufträge</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WorldPay</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Stornierung oder Gutschrift an WorldPay senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">8. Stornierungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Alternativ zur vorherigen Ereignisaktion richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um WorldPay automatisch über Stornierungen zu informieren. Mit dieser Ereignisaktion kannst du eine Zahlung nur dann stornieren, wen du diese noch nicht mit der vorherigen Ereignisaktion eingeholt haben, also im Status <strong>authorised</strong> bei WorldPay. Richte anschließend eine zweite Ereignisaktion ein, um WorldPay automatisch über <a href="/payment/zahlungsanbieter/worldpay#110">Gutschriften</a> zu informieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 4.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 4 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion zum automatischen Senden von Stornierungen an WorldPay</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status für <strong>stornierte Aufträge</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WorldPay</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Stornierung an WorldPay senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="110">9. Gutschriften automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem eine Zahlung von dir bei WorldPay bereits abgeholt wurde, dort also den Status <strong>captured</strong> erhalten hat, kannst du keine Stornierungen, sondern nur noch Gutschriften zurücksenden. Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Gutschriften automatisch an WorldPay zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß Tabelle 5.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß Tabelle 5 vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktion zum automatischen Senden von Gutschriften an WorldPay</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsanlage: Neue Gutschrift</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WorldPay</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Gutschrift an WorldPay senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="120">10. Gutschriften manuell anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Es kann notwendig werden, für einzelne Aufträge, die über WorldPay abgewickelt werden, Gutschriften manuell zu erstellen. Du hast hierfür die Möglichkeit, individuelle Gutschriftenbeträge an WorldPay zu melden. Gehe dazu wie nachfolgend beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Gutschrift an WorldPay senden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den WorldPay-Auftrag.<br>
→ Das Tab <strong>Übersicht</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle die Option <strong>anlegen</strong> aus der Dropdown-Liste <strong>Gutschrift …​</strong>.<br>
→ Die Gutschrift wird angelegt.</p>
</li>
<li>
<p>Öffne die neu angelegte <strong>Gutschrift</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Gib Betrag in das Feld <strong>WorldPay Gutschrift senden</strong> ein.</p>
</li>
<li>
<p>Klicke auf <strong>Gutschrift an WorldPay senden</strong>.<br>
→ Die Gutschrift wird an WorldPay gesendet.</p>
</li>
</ol>
</div>
</div>
</div>
</main>