<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Rakuten registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Rakuten.de in plentymarkets einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#250"><span>2.1.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>2.2.</span><span> Artikelverfügbarkeit einstellen</span></a></li>
<li><a href="#350"><span>2.3.</span><span> SKU für eine Herkunft festlegen</span></a></li>
<li><a href="#400"><span>2.4.</span><span> Kategorien verknüpfen</span></a></li>
<li><a href="#500"><span>2.5.</span><span> Versandgruppen mit Artikeln verknüpfen</span></a></li>
<li><a href="#600"><span>2.6.</span><span> Energieeffizienz angeben</span></a></li>
<li><a href="#700"><span>2.7.</span><span> Artikelexport einrichten</span></a>
<ul class="sectlevel3">
<li><a href="#_lieferzeiten_überschreiben"><span>2.7.1.</span><span> Lieferzeiten überschreiben</span></a></li>
<li><a href="#_präfix_und_suffix_zu_parent_skus_hinzufügen"><span>2.7.2.</span><span> Präfix und Suffix zu Parent-SKUs hinzufügen</span></a></li>
</ul>
</li>
<li><a href="#800"><span>2.8.</span><span> Preisabgleich einrichten</span></a></li>
<li><a href="#900"><span>2.9.</span><span> Bestandsabgleich einrichten</span></a></li>
</ul>
</li>
<li><a href="#1400"><span>3.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#1500"><span>4.</span><span> Zahlungsarten aktivieren</span></a></li>
<li><a href="#1600"><span>5.</span><span> Lieferzeiten zuordnen</span></a></li>
<li><a href="#170"><span>6.</span><span> Versandvorbereitung automatisch melden</span></a></li>
<li><a href="#170"><span>7.</span><span> Versandbestätigungen automatisch senden</span></a></li>
<li><a href="#1800"><span>8.</span><span> Retouren automatisch senden</span></a></li>
<li><a href="#1900"><span>9.</span><span> Stornierungen automatisch senden</span></a></li>
<li><a href="#2000"><span>10.</span><span> Log und API-Log abrufen</span></a>
<ul class="sectlevel2">
<li><a href="#_log_abrufen"><span>10.1.</span><span> Log abrufen</span></a></li>
<li><a href="#_api_log_abrufen"><span>10.2.</span><span> API-Log abrufen</span></a></li>
</ul>
</li>
<li><a href="#2100"><span>11.</span><span> FAQ</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Rakuten einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets bietet dir die Möglichkeit, deine Artikel auf der Plattform Rakuten.de zu verkaufen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei Rakuten registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du Rakuten in plentymarkets einrichtest, musst du dich bei Rakuten registrieren. Die Registrierungsformulare findest du unter <a href="http://leadgen.rakuten.de/form?leadsource=marketplace_header" target="_blank" rel="noopener">rakuten.de</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Rakuten.de in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nimm die folgenden Einstellungen in plentymarkets vor, um die Schnittstelle zu Rakuten.de einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Rakuten.de einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Rakuten</strong>.<br>
→ Das Tab <strong>Neues Konto</strong> wird angezeigt.</p>
</li>
<li>
<p>Klappe <strong>Rakuten-Einstellungen</strong> auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>). <br>
→ Die Plattform <strong>rakuten.de</strong> ist vorausgewählt.</p>
</li>
<li>
<p>Trage den <strong>Authentifizierungsschlüssel</strong> ein.<br>
→ Den Schlüssel findest du im Backend deines Rakuten.de-Kontos.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#einstellungen-rakuten">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Lade das Menü neu. <br>
→ Das Konto wurde angelegt und die Einstellungen für die Plattform geladen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du mehrere Konten bei Rakuten.de hast, benötigst du für jedes Konto einen Authentifizierungsschlüssel.</p>
</div>
<table id="einstellungen-rakuten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Rakuten einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Auftragsimport</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deaktivieren</strong> = Schnittstelle ist inaktiv.<br>
<strong>Aktivieren</strong> = Schnittstelle ist aktiv. Neue Aufträge werden automatisch einmal pro Stunde abgerufen. Versendete Aufträge werden automatisch jede Stunde an Rakuten übermittelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungseingang offen</strong> = Aufträge als unbezahlt importieren.<br>
<strong>Zahlungseingang gebucht</strong> = Aufträge werden als unbezahlt importiert. Somit kann eine Kontrolle von Rakuten erfolgen. Bei Zahlungseingang von Rakuten wird der Auftrag auf bezahlt gesetzt.<br>
Unabhängig von der gewählten Option werden Artikel bei ausreichendem Bestand sofort für den Versand freigegeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsbestätigung senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deaktivieren</strong> = Keine Auftragsbestätigung übermitteln.<br>
<strong>Aktivieren</strong> = Auftragsbestätigung an Kund*innen übermitteln. Die unter <strong>Einrichtung » Mandant » Mandant wählen » E-Mail » Automatischer Versand</strong> eingetragene E-Mail-Vorlage wird an Kund*innen versendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API-Log einsehen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zum Abrufen des API-Logs auf <strong>API-Log einsehen</strong> klicken.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die Anbindung des Marktplatzes stellt folgende automatisierte Prozesse bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>stündlicher Auftragsabgleich</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Folgende Prozesse werden durch das <a href="https://marketplace.plentymarkets.com/plugins/markets/ElasticExportRakutenDE_4721" target="_blank" rel="noopener">ElasticExportRakutenDE-Plugin</a> abgebildet:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>stündlicher Bestandsabgleich</p>
</li>
<li>
<p>stündlicher Preisabgleich</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Mit dem <strong>ElasticExportRakutenDE-Plugin</strong> kannst du das Datenformat <strong>RakutenDE-Plugin</strong> für den elastischen Export nutzen. Das Plugin ist im <a href="https://marketplace.plentymarkets.com/plugins/markets" target="_blank" rel="noopener">plentyMarketplace</a> erhältlich. Weitere Informationen zur Einrichtung des Plugins findest du im User Guide des Plugins.</p>
</div>
<div class="sect2">
<h3 id="250">2.1. Auftragsherkunft aktivieren</h3>
<div class="paragraph">
<p>Damit du Artikel, Merkmale etc. mit Rakuten verknüpfen kannst, muss im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> die Auftragsherkunft Rakuten aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für Rakuten aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Setze bei <strong>Rakuten</strong> ein Häkchen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="300">2.2. Artikelverfügbarkeit einstellen</h3>
<div class="paragraph">
<p>Artikel, die du auf Rakuten.de verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Artikelverfügbarkeit für Rakuten.de einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Hauptvariante im Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld. <br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Rakuten.de</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Artikel ist auf Rakuten.de verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für Varianten kann im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten » Variante öffnen » Tab: Varianten-ID » Tab: Verfügbarkeit</strong> angepasst werden.</p>
</div>
</div>
<div class="sect2">
<h3 id="350">2.3. SKU für eine Herkunft festlegen</h3>
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> fügst du marktplatzspezifische SKUs hinzu.</p>
</div>
<div class="paragraph instruction">
<p>SKU hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>SKU</strong> auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Bearbeitungsfenster <strong>Neue SKU</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle die Herkunft <strong>Rakuten.de</strong>.</p>
</li>
<li>
<p>Wähle das dazugehörige Marktplatzkonto.</p>
</li>
<li>
<p>Gib die SKU ein.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Die SKU wird gespeichert und angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="400">2.4. Kategorien verknüpfen</h3>
<div class="paragraph">
<p>Nachdem du den Artikel verfügbar gemacht hast, verknüpfe den Artikel mit einer Rakuten-Kategorie.</p>
</div>
<div class="paragraph instruction">
<p>Kategorie verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Multi-Channel</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Rakuten.de</strong> im Bereich <strong>Kategorieverknüpfung</strong> die Hauptkategorie für den Artikel.<br>
→ Ein Fenster zur weiteren Kategorieauswahl wird geöffnet.</p>
</li>
<li>
<p>Wähle die Unterkategorien bis zur untersten Kategorie.<br>
→ Eine Kategorienummer wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Übernehmen</strong>.<br>
→ Die Kategorieverknüpfung wird durch die Kategorienummer und die Rakuten-Kategorie angezeigt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="500">2.5. Versandgruppen mit Artikeln verknüpfen</h3>
<div class="paragraph">
<p>Versandprofile werden direkt bei Rakuten eingerichtet. Die am Artikel gespeicherten Versandprofile werden nicht an Rakuten übertragen. Versandprofile werden bei Rakuten als Versandgruppen bezeichnet. Diese Versandgruppen verknüpfst du per <strong>Freitextfeld</strong> mit deinen Artikeln.</p>
</div>
<div class="paragraph instruction">
<p>Freitextfeld für Versandgruppe einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Freitextfelder</strong>.</p>
</li>
<li>
<p>Füge eine Feldbezeichnung, z.B. <strong>Rakuten-Versandgruppe</strong>, in eines der Freitextfelder ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Hinweis: Freitextfelder werden über Nacht aktiviert und sind am nächsten Morgen verfügbar.</p>
</li>
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Trage bei jedem Artikel, der übertragen werden soll, im Tab <strong>Felder</strong> die <strong>Ziffer der Versandgruppe</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Teile Rakuten das verwendete Freitextfeld mit.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kein Freitextfeld übermittelt</div>
<div class="paragraph">
<p>Wenn kein Freitextfeld an Rakuten übermittelt wird, wird der Artikel automatisch mit der Versandgruppe 1 verknüpft.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Weitere Lieferländer stellst du ebenfalls bei Rakuten ein.</p>
</div>
</div>
<div class="sect2">
<h3 id="600">2.6. Energieeffizienz angeben</h3>
<div class="paragraph">
<p>Die EU-Verordnung zur Energieeffizienzrichtlinie schreibt für die Auszeichnung deiner Artikel seit 01.01.2015 Angaben zur Energieeffizienz sowie die Bereitstellung von Produktdatenblättern vor. Diese Informationen sind auch an Rakuten zu übermitteln. Erstelle dazu die <a href="/artikel/artikel-verwalten#480">Merkmale</a>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Energieeffizienzklasse</strong><br>
Merkmal-Typ: <strong>Kein</strong></p>
</li>
<li>
<p><strong>Energieeffizienzklasse bis</strong><br>
Merkmal-Typ: <strong>Kein</strong><br></p>
</li>
<li>
<p><strong>Energieeffizienzklasse-Gerätegruppe</strong><br>
Merkmal-Typ: <strong>Kein</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Für jede Energieeffizienzklasse von A+++ bis G muss ein eigenes Merkmal angelegt werden.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Trage unter <strong>Name (intern)</strong> einen Namen für das Merkmal ein.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste im Feld <strong>Merkmaltyp</strong> die Option <strong>Kein</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste im Feld <strong>Rakuten.de-Merkmal</strong> das Rakuten-Merkmal.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Merkmale verknüpfst du im Tab <a href="/artikel/artikel-verwalten#480">Merkmale</a> eines Artikels.</p>
</div>
<div class="paragraph">
<p>Das Produktdatenblatt stellst du für Rakuten in elektronischer Form über einen Link in der Artikelbeschreibung zur Verfügung. Füge den Link zum Produktdatenblatt im Tab <a href="/artikel/artikel-verwalten#50">Texte</a> eines Artikels ein. Gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Produktdatenblatt in der Artikelbeschreibung speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Lade das Produktdatenblatt im Tab <strong>Bilder</strong> des Artikels hoch.</p>
</li>
<li>
<p>Kopiere die URL des Bildes.</p>
</li>
<li>
<p>Füge den Link zum Produktdatenblatt im Tab <strong>Texte</strong> des Artikels ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="700">2.7. Artikelexport einrichten</h3>
<div class="paragraph">
<p>In diesem Kapitel wird beschrieben, wie du deine Artikel zu Rakuten.de überträgst. Artikel werden über den elastischen Export mit dem Datenformat RakutenDE zu Rakuten.de exportiert. Dafür müssen zuvor die Plugins <strong>ElasticExport</strong> und <strong>ElasticExportRakutenDE</strong> installiert worden sein. Lege zunächst das Datenformat RakutenDE an und übermittele im Anschluss die URL zu Rakuten.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Für die Einrichtung Rakuten kontaktieren</div>
<div class="paragraph">
<p>Für das Einrichten des Imports muss Rakuten kontaktiert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Artikelexport einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neuer Export</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-artikelexport">Tabelle 2</a>.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen für Artikelfilter und Formateinstellungen vor. Beachte dazu die Erläuterungen in Tabelle 5 auf der Handbuchseite <a href="/daten/export-import/daten-exportieren#60">Daten über dynamischen Export exportieren</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Eine ID für das Exportformat wird vergeben und das Exportformat erscheint in der Übersicht <strong>Exporte</strong>.</p>
</li>
</ol>
</div>
<table id="einstellungen-artikelexport" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen für Artikelexport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Einstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben. Unter diesem Namen erscheint das Exportformat in der Übersicht im Tab <strong>Exporte</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ <strong>Artikel</strong> aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Format <strong>RakutenDE</strong> aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl eingeben. Wenn mehr als 10000 Datensätze an rakuten.de übertragen werden sollen, wird die Ausgabedatei für 24 Stunden nicht noch einmal neu generiert, um Ressourcen zu sparen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cache-Datei generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Häkchen setzen, wenn mehr als 9999 Datensätze an Rakuten.de übertragen werden sollen. Um eine optimale Performance des elastischen Exports zu gewährleisten, darf diese Option bei maximal 20 Exportformaten aktiv sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereitstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dateiname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Dateiname muss auf <strong>.csv</strong> enden, damit Rakuten.de die Datei erfolgreich importieren kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token</strong>,<br>
<strong>URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Bereitstellung</strong> die Option <strong>URL</strong> gewählt wurde, auf <strong>Token generieren</strong> klicken. Der Token wird dann automatisch eingetragen. Die URL wird automatisch eingetragen, wenn unter <strong>Token</strong> der Token generiert wurde. Diese URL an Rakuten.de übergeben, damit die Artikel exportiert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Formateinstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produkt-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die URL des Artikels oder der Variante an Rakuten.de übertragen wird. Varianten URLs können nur in Kombination mit dem Ceres Webshop übertragen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandanten wählen. Diese Einstellung wird für den URL-Aufbau verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL-Parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suffix für die Produkt-URL eingeben, wenn ein Suffix für den Export erforderlich ist. Die Produkt-URL wird dann um die eingegebene Zeichenkette erweitert, wenn weiter oben die Option <strong>übertragen</strong> für die Produkt-URL aktiviert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rakuten.de</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marktplatzkonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn Artikeldaten zum ersten Mal exportiert werden, wird das hier gewählte Konto für die Generierung der SKU berücksichtigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name 1, Name 2 oder Name 3 wählen. Die Namen sind im Tab <strong>Texte</strong> eines Artikels gespeichert. Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn Rakuten.de eine Begrenzung der Länge des Artikelnamen beim Export vorgibt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorschautext</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option ist für Rakuten.de nicht relevant.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Text als Beschreibungstext übertragen werden soll.<br>
Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn Rakuten.de eine Begrenzung der Länge der Beschreibung beim Export vorgibt.<br>
Option <strong>HTML-Tags entfernen</strong> aktivieren, damit die HTML-Tags beim Exportieren entfernt werden.<br>
Im Feld <strong>Erlaubte HTML-Tags, kommagetrennt (def. Text)</strong> optional die HTML-Tags eingeben, die beim Export erlaubt sind. Wenn mehrere Tags eingegeben werden, mit Komma trennen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zielland</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zielland aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISBN oder eine EAN aus der Dropdown-Liste wählen. Der gewählte Barcode muss mit der oben gewählten Auftragsherkunft verknüpft sein. Andernfalls wird der Barcode nicht exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bild</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position 0</strong> oder <strong>Erstes Bild</strong> wählen, um dieses Bild zu exportieren.<br>
<strong>Position 0</strong> = Ein Bild mit der Position 0 wird übertragen.<br>
<strong>Erstes Bild</strong> = Das erste Bild wird übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bildposition des Energieetiketts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position des Energieetiketts eintragen. Alle Bilder, die als Energieetikette übertragen werden sollen, müssen diese Position haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandspuffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Bestandspuffer für Varianten mit der Beschränkung auf den Netto-Warenbestand. Zahl eingeben. Die eingegebene Menge wird vom Bestand abgezogen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsbeschränkung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Bestand für Varianten ohne Bestandsbeschränkung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsführung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Bestand für Varianten ohne Bestandsführung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung live umrechnen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit der Preis je nach eingestelltem Lieferland in die Währung des Lieferlandes umgerechnet wird. Der Preis muss für die entsprechende Währung freigegeben sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Brutto- oder Nettopreis aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Angebotspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um den Angebotspreis zu übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UVP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um den UVP zu übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit die Versandkosten aus der Konfiguration übernommen werden. Wenn die Option aktiviert ist, stehen in den beiden Dropdown-Listen Optionen für die Konfiguration und die Zahlungsart zur Verfügung.<br>
Option <strong>Pauschale Versandkosten übertragen</strong> aktivieren, damit die pauschalen Versandkosten übertragen werden. Wenn diese Option aktiviert ist, muss im Feld darunter ein Betrag eingegeben werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MwSt.-Hinweis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text eingeben. Dieser Betrag enthält die Mehrwertsteuer zuzüglich Versand.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelverfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option <strong>überschreiben</strong> aktivieren und in die Felder <strong>1</strong> bis <strong>10</strong>, die die ID der Verfügbarkeit darstellen, Artikelverfügbarkeiten eintragen. Somit werden die Artikelverfügbarkeiten, die im Menü <strong>Einrichtung » Artikel » Verfügbarkeit</strong> eingestellt wurden, überschrieben.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Exportinformationen</div>
<div class="paragraph">
<p>Wenn du eine oder mehrere Einstellungen änderst, musst du den neuen Link an Rakuten übergeben.</p>
</div>
<div class="paragraph">
<p>Pro Export werden maximal 4000 Artikel exportiert. Wenn du mehr Artikel exportierst, wird automatisch ein zweiter Export ausgeführt. Um den zweiten Export anzuzeigen, setze den Parameter <strong>&amp;Page</strong> = im Export-Link auf <strong>2</strong>.</p>
</div>
<div class="paragraph">
<p>Technische Daten werden in der letzten Spalte der Exportdatei an Rakuten übergeben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="_lieferzeiten_überschreiben">2.7.1. Lieferzeiten überschreiben</h4>
<div class="paragraph">
<p>Rakuten erwartet bei der Lieferzeit vordefinierte Werte. Du kannst z.B. nicht die Werte 1 oder 2 als Lieferzeit übermitteln, da der Export in diesem Fall mit einem Fehler abgelehnt wird.
Deshalb musst du die Lieferzeit im elastischen Export für Rakuten überschreiben. Der folgenden Liste entnimmst du die Bedeutungen der Rakuten-Lieferzeiten und ordnest diese deinen Artikelverfügbarkeiten zu. Wenn die Artikelverfügbarkeit ID 1 in deinem System bedeutet, dass die Ware auf Lager ist und innerhalb der nächsten 1-3 Werktage geliefert wird, dann überschreibe im elastischen Export die Artikelverfügbarkeit ID 1 mit der Liefezeit 0.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>0 = Ab Lager lieferbar (= Lieferzeit 1-3 Werktage)</p>
</li>
<li>
<p>3 = versandfertig in 3 Werktagen (= Lieferzeit ca. 3 - 6 Werktage)</p>
</li>
<li>
<p>5 = versandfertig in 5 Werktagen (= Lieferzeit ca. 6 - 8 Werktage)</p>
</li>
<li>
<p>7 = versandfertig in 7 Werktagen (= Lieferzeit ca. 8 - 10 Werktage)</p>
</li>
<li>
<p>10 = versandfertig in 10 Werktagen (= Lieferzeit ca. 10 - 15 Werktage)</p>
</li>
<li>
<p>15 = versandfertig in 15 Werktagen (= Lieferzeit ca. 15 - 20 Werktage)</p>
</li>
<li>
<p>20 = versandfertig in 20 Werktagen (= Lieferzeit ca. 20 - 30 Werktage)</p>
</li>
<li>
<p>30 = versandfertig in 30 Werktagen (= Lieferzeit ca. 30 - 40 Werktage)</p>
</li>
<li>
<p>40 = versandfertig in 40 Werktagen (= Lieferzeit ca. 40 - 50 Werktage)</p>
</li>
<li>
<p>50 = versandfertig in 50 Werktagen (= Lieferzeit ca. 50 - 60 Werktage)</p>
</li>
<li>
<p>60 = versandfertig in 60 Werktagen (= Lieferzeit länger als 3 Monate)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Du findest die Werte für Lieferzeiten auch in der <a href="http://doku.rakuten.de/doku.php/neuer_import/start" target="_blank" rel="noopener">Schnittstellendokumentation</a> von Rakuten.</p>
</div>
</div>
<div class="sect3">
<h4 id="_präfix_und_suffix_zu_parent_skus_hinzufügen">2.7.2. Präfix und Suffix zu Parent-SKUs hinzufügen</h4>
<div class="paragraph">
<p>Wenn du das <a href="https://marketplace.plentymarkets.com/plugins/markets/ElasticExportRakutenDE_4721" target="_blank" rel="noopener">ElasticExportRakutenDE-Plugin</a> in deinem plentymarkets System installiert hast, hast du die Möglichkeit, Parent-SKUs um Präfixe und Suffixe zu erweitern. Dadurch vermeidest du, dass die Parent-SKU und die zugehörigen Child-SKUs identisch sind und deshalb bei Rakuten als der gleiche Artikel angegeben werden.</p>
</div>
<div class="paragraph">
<p>Präfixe und Suffixe werden im Menü <strong>Plugins » Plugin-Übersicht »  ElasticExportRakutenDE » Konfiguration » Parent-SKU</strong> hinzugefügt.</p>
</div>
<div class="paragraph instruction">
<p>Präfixe und Suffixe hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das <strong>ElasticExportRakutenDE</strong>-Plugin.</p>
</li>
<li>
<p>Gehe zu <strong>Konfiguration » Parent-SKU</strong>.</p>
</li>
<li>
<p>Gib in die Felder <strong>Präfix</strong> und <strong>Suffix</strong> Präfix und Suffix ein wie benötigt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die eingegebenen Präfixe und Suffixe werden nun zu Parent-SKUs hinzugefügt, die du neu generierst.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Alphanumerische Zeichen verwenden</div>
<div class="paragraph">
<p>Wir empfehlen, für die Präfixe und Suffixe nur Buchstaben und Ziffern zu verwenden. Vermeide Umlaute. Die Verwendung von Umlauten kann zu Problemen beim Datenaustausch führen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Änderungen gelten nur für neu generierte SKUs</div>
<div class="paragraph">
<p>Beachte, dass Präfix und Suffix nur zu den Parent-SKUs hinzugefügt werden, die du neu für Rakuten.de generierst, nachdem diese Einstellung gespeichert wurde. Bereits bestehende Parent-SKUs für Rakuten.de werden nicht berücksichtigt. Füge die Präfixe und Suffixe manuell für diese SKUs hinzu, wenn gewünscht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="800">2.8. Preisabgleich einrichten</h3>
<div class="paragraph">
<p>In diesem Kapitel erfährst du, wie du den Preisabgleich für Rakuten aktivierst. Preise werden über den elastischen Export mit dem Datenformat RakutenDE-Plugin mit Rakuten abgeglichen. Dafür müssen zuvor die Plugins <strong>ElasticExport</strong> und <strong>ElasticExportRakutenDE</strong> installiert worden sein.<br>
Preise werden stündlich abgeglichen.</p>
</div>
<div class="paragraph instruction">
<p>Preisabgleich aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das <strong>ElasticExportRakutenDE</strong>-Plugin.</p>
</li>
<li>
<p>Gehe zu <strong>Konfiguration » Update-Einstellungen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Preis-Update</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Anfrage zum Preis- und Bestandsabgleich</div>
<div class="paragraph">
<p>Falls die Anfragen an die Rakuten-Schnittstelle 5mal hintereinander unbeantwortet bleiben, wird der Preis- und Bestandsabgleich abgebrochen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="900">2.9. Bestandsabgleich einrichten</h3>
<div class="paragraph">
<p>In diesem Kapitel erfährst du, wie du den Bestandsabgleich für Rakuten aktivierst. Bestände werden über den elastischen Export mit dem Datenformat RakutenDE-Plugin mit Rakuten abgeglichen. Dafür müssen zuvor die Plugins <strong>ElasticExport</strong> und <strong>ElasticExportRakutenDE</strong> installiert worden sein.<br>
Bestände werden stündlich abgeglichen.</p>
</div>
<div class="paragraph instruction">
<p>Bestandsabgleich aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das <strong>ElasticExportRakutenDE</strong>-Plugin.</p>
</li>
<li>
<p>Gehe zu <strong>Konfiguration » Update-Einstellungen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Bestands-Update</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Anfrage zum Preis- und Bestandsabgleich</div>
<div class="paragraph">
<p>Falls die Anfragen an die Rakuten-Schnittstelle 5mal hintereinander unbeantwortet bleiben, wird der Preis- und Bestandsabgleich abgebrochen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">3. Verkaufspreis festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für die Auftragsherkunft Rakuten.de einen Verkaufspreis festzulegen. Dieser Preis wird auf Rakuten.de angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für Rakuten festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » Verkaufspreis öffnen » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Herkunft <strong>Rakuten.de</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Ursprüngliche Währung ungleich der Standardwährung</div>
<div class="paragraph">
<p>Beim Auftragsimport wird zusätzlich die ursprüngliche Währung und der ursprüngliche Betrag in brutto und netto an der Artikelposition gespeichert, wenn die Währung nicht die in plentymarkets eingestellte Standardwährung ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">4. Zahlungsarten aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Zahlungen für Aufträge von Rakuten durchgeführt und in deinem plentymarkets System angezeigt werden, aktiviere die Zahlungsarten <strong>Rakuten Payment</strong>, <strong>Rakuten Rechnung</strong> und <strong>Klarna</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Rakuten-Zahlungsarten aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>DE</strong> &gt; <strong>Rakuten</strong>.</p>
</li>
<li>
<p>Wähle die Rakuten-Zahlungsart.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#einstellungen-zahlungsart">Tabelle 3</a>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="einstellungen-zahlungsart" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit hast du die Möglichkeit, die Werte für diese Optionen in mehreren Sprachen einzutragen. Die Werte einer Sprache werden aktiviert, wenn ein Käufer im Webshop die Sprache wählt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eintragen, der im Webshop und auf Rechnungen etc. angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eintragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite (Extern)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eintragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kein Lieferland wählen.<br>
Du kannst die Zahlungsart nicht in deinem Webshop verwenden. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig eingerichtet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br>
<strong>Standard-Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br>
<strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br>
<strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logoansicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo hochladen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG und JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priorität für die Anzeige der Zahlungsart im Webshop wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kosten: Pauschal oder Prozentual</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eintragen. <strong>Wichtig</strong>: Nicht in beide Felder einen Wert eintragen.<br>
Weitere Informationen findest du auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/statistik/statistiken-verwalten">Statistiken verwalten</a>. Ein Beispiel für pauschale und prozentuale Kosten findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten verwalten</a>.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zahlungsart in Kundenklassen erlauben</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » CRM » Kundenklassen</strong> aktivierst oder deaktivierst du <strong>erlaubte Zahlungsarten</strong>.<br>
Weitere Informationen findest du im Kapitel <a href="/payment/zahlungsarten-verwalten#30">Zahlungsart in Kundenklasse erlauben</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zahlungshinweis im Dokument Rechnung für die Zahlungsart Rakuten Rechnung</div>
<div class="paragraph">
<p>Bei der Zahlungsart Rakuten Rechnung wird die Rechnung an Kund*innen direkt durch Rakuten gestellt. Wenn du ebenfalls eine Rechnung ausstellst, trage im Bereich <strong>Optionale Elemente unter Artikelpositionstabelle</strong> einen <strong>Zahlungshinweis</strong> ein, der Kund*innen darauf hinweist, dass die Zahlung an Rakuten erfolgen muss.</p>
</div>
<div class="paragraph">
<p><strong>Beispieltext:</strong><br>
Aufgrund der Zahlungsabwicklung über die Rakuten GmbH, Geisfelder Str. 16 in 96050 Bamberg, wurde der in dieser Rechnung genannte Forderungsbetrag an diese abgetreten. Wir weisen Sie darauf hin, dass eine schuldbefreiende Leistung (Zahlung) nur an Rakuten möglich ist. Bitte überweisen Sie den Rechnungsbetrag innerhalb von 10 Tagen nach Erhalt der Ware auf das Konto von Rakuten:<br>
Kontoinhaber: Rakuten GmbH<br>
IBAN: DE86770200700021511501 <br>
BIC-/SWIFT-Code: HYVEDEMM411 (HypoVereinsbank )<br>
Verwendungszweck 1: Bestellnummer<br>
Verwendungszweck 2: Vor- und Zuname</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten">Zahlungsarten verwalten</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">5. Lieferzeiten zuordnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Rakuten verwendet Standard-Lieferzeiten. Allerdings werden keine Lieferzeiträume, sondern Fristen genannt, die sich an der längsten Lieferzeit orientieren. Versand- und Lieferfristen werden bei Rakuten automatisch anhand der <strong>durchschnittlichen Lieferzeit</strong> zugeordnet. Für eine durchschnittliche Lieferzeit von 2 Tagen als <strong>Artikelverfügbarkeit</strong> gibt es bei Rakuten z.B. keine Entsprechung. Daher wird bei Rakuten dann die nächst größere Versand- und Lieferfrist verwendet.</p>
</div>
<table id="rakuten-lieferzeiten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Rakuten-Lieferzeiten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Rakuten-Lieferzeit</th>
<th class="tableblock halign-left valign-top">Zeitraum</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>0</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ab Lager lieferbar (= Lieferzeit 1 bis 3 Werktage)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>3</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandfertig in 3 Werktagen (= Lieferzeit ca. 3 bis 6 Werktage)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>5</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandfertig in 5 Werktagen (= Lieferzeit ca. 6 bis 8 Werktage)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>7</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandfertig in 7 Werktagen (= Lieferzeit ca. 8 bis 10 Werktage)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>10</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandfertig in 10 Werktagen (= Lieferzeit ca. 10 bis 15 Werktage)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>15</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandfertig in 15 Werktagen (= Lieferzeit ca. 15 bis 20 Werktage)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>20</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandfertig in 20 Werktagen (= Lieferzeit ca. 20 bis 30 Werktage)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>30</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandfertig in 30 Werktagen (= Lieferzeit ca. 30 bis 40 Werktage)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>40</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandfertig in 40 Werktagen (= Lieferzeit ca. 40 bis 50 Werktage)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>50</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandfertig in 50 Werktagen (= Lieferzeit ca. 50 bis 60 Werktage)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>60</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandfertig in 60 Werktagen (= Lieferzeit länger als 3 Monate)</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="170">6. Versandvorbereitung automatisch melden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Bestellungen als in Versandvorbereitung zu markieren.  Dadurch können Bestellungen für 48 Stunden weder von Kund*innen noch vom Rakuten Kundenservice storniert werden. In dieser Zeit kannst du die Bestellung intern bearbeiten und im Anschluss auf versendet aktualisieren.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-versandvorbereitung-rakuten">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-versandvorbereitung-rakuten">Tabelle 5</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-versandvorbereitung-rakuten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktion zum automatischen Senden von Versandvorbereitungen an Rakuten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel: In Versandvorbereitung</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rakuten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand &gt; Versandvorbereitung an Rakuten melden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="170">7. Versandbestätigungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Versandbestätigungen automatisch an Rakuten zu senden, nachdem ein Warenausgang gebucht wurde.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-versandbestätigung-rakuten">Tabelle 6</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-versandbestätigung-rakuten">Tabelle 6</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-versandbestätigung-rakuten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Ereignisaktion zum automatischen Senden von Versandbestätigung an Rakuten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Warenausgang gebucht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rakuten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand &gt; Versandbestätigung an Rakuten senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1800">8. Retouren automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Retouren automatisch an Rakuten zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-retoure-rakuten">Tabelle 7</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-retoure-rakuten">Tabelle 7</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-retoure-rakuten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Ereignisaktion zum automatischen Senden von Retouren an Rakuten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsanlage: Neue Retoure</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rakuten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure &gt; Retoure an Rakuten senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1900">9. Stornierungen automatisch senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richte eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, um Stornierungen automatisch an Rakuten zu senden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#ereignisaktion-stornierung-rakuten">Tabelle 8</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Ereignis wird erstellt.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#ereignisaktion-stornierung-rakuten">Tabelle 8</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Ereignisaktion wird gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="ereignisaktion-stornierung-rakuten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Ereignisaktion zum automatischen Senden von Stornierungen an Rakuten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Statuswechsel &gt; Storniert</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rakuten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsarten &gt; Stornierung an Rakuten senden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="2000">10. Log und API-Log abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In den Menüs <strong>Daten » Log</strong> und <strong>Daten » API-Log</strong> findest du eine Historie über Vorgänge, die über die Rakuten-Schnittstelle ausgeführt wurden.<br>
Im <strong>Log</strong> findest du eine Übersicht über Ereignisaktionen und im <strong>API-Log</strong> findest du eine Übersicht über Auftragsimporte.</p>
</div>
<div class="sect2">
<h3 id="_log_abrufen">10.1. Log abrufen</h3>
<div class="paragraph">
<p>Öffne das Menü <strong>Daten » Log</strong>, um eine Übersicht über Ereignisaktionen aufzurufen, die über die Rakuten-Schnittstelle ausgeführt wurden.</p>
</div>
<div class="paragraph instruction">
<p>Logeinträge für Rakuten.de aufrufen</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Log</strong>.</p>
</li>
<li>
<p>Wähle den Identifikator <strong>Rakuten.de</strong> aus der Dropdown-Liste <strong>Identifikator</strong>.</p>
</li>
<li>
<p>Wähle ggf. einen Filter aus der Dropdown-Liste <strong>Referenztyp</strong>, um nur Einträge eines bestimmten Referenztyps zu erhalten. Beachte dazu die Erläuterungen in <a href="#tabelle-referenztypen">Tabelle 9</a>.</p>
</li>
<li>
<p>Wähle ggf. einen Filter aus der Dropdown-Liste <strong>Referenzwert</strong>, um nur Einträge eines bestimmten Referenzwerts zu erhalten. Beachte dazu die Erläuterungen in <a href="#tabelle-referenztypen">Tabelle 9</a>.</p>
</li>
<li>
<p>Wähle ggf. ein Datum, um nur Einträge eines bestimmten Tages zu erhalten.</p>
</li>
<li>
<p>Wähle ggf. eine Uhrzeit, um nur Einträge einer bestimmten Uhrzeit zu erhalten.</p>
</li>
<li>
<p>Klicke auf <strong>Suche</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nutze die folgenden Referenztypen und Referenzwerte, um die Suchergebnisse zu filtern.</p>
</div>
<table id="tabelle-referenztypen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 9. Referenztypen und Referenzwerte für Rakuten.de</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Referenztyp</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
<th class="tableblock halign-left valign-top">Referenzwerte</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>action</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach Ereignisaktionen.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Referenzwert, um nach Ereignisaktionen eines bestimmten Typs zu suchen.<br>
<strong>SendOrderStatusInLogistics</strong> = Filtert nach Ereignisaktionen des Typs <strong>Versandvorbereitung an Rakuten melden</strong>.<br>
<strong>SendOrderStatusShipped</strong> = Filtert nach Ereignisaktionen des Typs <strong>Versandbestätigung an Rakuten senden</strong>.<br>
<strong>SendOrderTrackingData</strong> = Filtert nach Ereignisaktionen des Typs <strong>Sendungsverfolgung an Rakuten senden</strong>.<br>
<strong>SendOrderStatusCanceled</strong> = Filtert nach Ereignisaktionen des Typs <strong>Stornierung an Rakuten senden</strong>.<br>
<strong>SendOrderStatusReturned</strong> = Filtert nach Ereignisaktionen des Typs <strong>Retoure an Rakuten senden</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>externalOrderId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach Einträgen zu einer spezifischen externen Auftrags-ID.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>orderId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filtert nach Einträgen zu einer spezifischen Auftrags-ID.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_api_log_abrufen">10.2. API-Log abrufen</h3>
<div class="paragraph">
<p>Öffne das Menü <strong>Daten » API-Log</strong>, um eine Übersicht über Auftragsimporte zu erhalten, die über die Rakuten-Schnittstelle ausgeführt wurden. Das Format <strong>Rakuten</strong> steht dir für Rakuten zur Verfügung.</p>
</div>
<div class="paragraph instruction">
<p>API-Log abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » API-Log » Tab: API-Log</strong>.</p>
</li>
<li>
<p>Wähle das Format <strong>Rakuten</strong> aus der Dropdown-Liste <strong>Vorgang</strong>.</p>
</li>
<li>
<p>Wähle ggf. ein Datum, um nur Einträge eines bestimmten Tages zu erhalten.</p>
</li>
<li>
<p>Wähle die Anzahl der Ergebnisse pro Seite.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>), um die Ergebnisse anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="2100">11. FAQ</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Wie wird der Warenbestand in plentymarkets mit Rakuten.de abgeglichen?</p>
</div>
<div class="paragraph indented">
<p>Wenn bei Rakuten.de der automatische CSV-Import eingerichtet ist, werden die neuen Warenbestände durch den erneuten Import der CSV-Datei abgeglichen. Wie oft der Warenbestand abgeglichen wird, stellst du im Backend bei Rakuten.de ein.</p>
</div>
</div>
</div>
</main>