<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Rakuten registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Rakuten.de in plentymarkets einrichten</span></a></li>
<li><a href="#250"><span>3.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>4.</span><span> Variantenverfügbarkeit einstellen</span></a></li>
<li><a href="#350"><span>5.</span><span> SKU für eine Herkunft festlegen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Rakuten einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets bietet dir die Möglichkeit, deine Artikel auf der Plattform Rakuten.de zu verkaufen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei Rakuten registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor du Rakuten in plentymarkets einrichtest, musst du dich bei Rakuten registrieren. Die Registrierungsformulare findest du unter <a href="http://leadgen.rakuten.de/form?leadsource=marketplace_header" target="_blank" rel="noopener">rakuten.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Rakuten.de in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nimm die folgenden Einstellungen in plentymarkets vor, um die Schnittstelle zu Rakuten.de einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Rakuten.de einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Rakuten</strong>.<br>
→ Das Tab <strong>Neues Konto</strong> wird angezeigt.</p>
</li>
<li>
<p>Klappe <strong>Rakuten-Einstellungen</strong> auf (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).<br>
→ Die Plattform <strong>rakuten.de</strong> ist vorausgewählt.</p>
</li>
<li>
<p>Gib den <strong>Authentifizierungsschlüssel</strong> ein.<br>
<strong><em>Tipp:</em></strong> Den Schlüssel findest du im Backend deines Rakuten.de-Kontos.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#einstellungen-rakuten">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Lade das Menü neu.<br>
→ Das Konto wird erstellt und die Einstellungen für die Plattform geladen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du mehrere Konten bei Rakuten.de hast, benötigst du für jedes Konto einen Authentifizierungsschlüssel.</p>
</div>
<table id="einstellungen-rakuten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Rakuten einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Auftragsimport</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Deaktivieren</strong> = Schnittstelle ist inaktiv.<br></p>
</li>
<li>
<p><strong>Aktivieren</strong> = Schnittstelle ist aktiv. Neue Aufträge werden automatisch einmal pro Stunde abgerufen. Versendete Aufträge werden automatisch jede Stunde an Rakuten übermittelt.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Zahlungseingang offen</strong> = Aufträge als unbezahlt importieren.<br></p>
</li>
<li>
<p><strong>Zahlungseingang gebucht</strong> = Aufträge werden als unbezahlt importiert. Somit kann eine Kontrolle von Rakuten erfolgen. Bei Zahlungseingang von Rakuten wird der Auftrag auf bezahlt gesetzt.<br></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Unabhängig von der gewählten Option werden Artikel bei ausreichendem Bestand sofort für den Versand freigegeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsbestätigung senden</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Deaktivieren</strong> = Keine Auftragsbestätigung übermitteln.<br></p>
</li>
<li>
<p><strong>Aktivieren</strong> = Auftragsbestätigung an Kund:innen übermitteln. Die unter <strong>Einrichtung » Mandant » Mandant wählen » E-Mail » Automatischer Versand</strong> eingegebene E-Mail-Vorlage wird an Kund:innen versendet.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API-Log einsehen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zum Abrufen des API-Logs auf <strong>API-Log einsehen</strong> klicken.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die Anbindung des Marktplatzes stellt folgende automatisierte Prozesse bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>stündlicher Auftragsabgleich</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Folgende Prozesse werden durch das <a href="https://marketplace.plentymarkets.com/plugins/markets/ElasticExportRakutenDE_4721" target="_blank" rel="noopener">ElasticExportRakutenDE-Plugin</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> abgebildet:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>stündlicher Bestandsabgleich</p>
</li>
<li>
<p>stündlicher Preisabgleich</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Mit dem <strong>ElasticExportRakutenDE-Plugin</strong> kannst du das Datenformat <strong>RakutenDE-Plugin</strong> für den elastischen Export nutzen. Das Plugin ist im <a href="https://marketplace.plentymarkets.com/plugins/markets" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> erhältlich. Weitere Informationen zur Einrichtung des Plugins findest du im User Guide des Plugins.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Auftragsherkunft dient dazu, zu kennzeichnen, über welchen Verkaufskanal ein Auftrag generiert wurde. Außerdem musst du die Auftragsherkunft aktivieren, um Artikel, Merkmale etc. mit Rakuten verknüpfen zu können. Aktiviere die Auftragsherkunft im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für Rakuten aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Rakuten</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Variantenverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Varianten, die du auf Rakuten.de verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten »</strong> <em>Artikel öffnen</em> <strong>» Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Gruppenfunktion oder Stapelverarbeitung nutzen</div>
<div class="paragraph">
<p>Die Verfügbarkeit für mehrere Varianten bearbeitest du entweder über die <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#100">Varianten-Gruppenfunktion</a> oder die <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#400">Stapelverarbeitung</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Variantenverfügbarkeit für Rakuten.de einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten »</strong> <em>Artikel öffnen</em> <strong>» Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne die Variante, die du auf Rakuten.de verkaufen möchtest.<br>
<strong><em>Tipp:</em></strong> Um alle Varianten eines Artikels auf Rakuten.de zu verkaufen, nimm die Einstellungen an der Hauptvariante vor. Die Verfügbarkeit wird dann für alle Varianten des Artikels aktiviert.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Verfügbarkeit</strong> die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld.<br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Rakuten.de</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Variante ist für Rakuten.de verfügbar.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. SKU für eine Herkunft festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten »</strong> <em>Artikel öffnen</em> <strong>» Tab: Varianten-ID im Tab Verfügbarkeit</strong> fügst du, wenn nötig, marktplatzspezifische SKUs hinzu.</p>
</div>
</div>
</div>
</main>