<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Standard formats</h1><p>Welcome to the topic Standard formats. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/data/exporting-data/catalogues-item">Item (new)</a></li><li><a href="/en/data/exporting-data/catalogues-manufacturers">Manufacturers</a></li><li><a href="/en/data/exporting-data/catalogues-orders">Practical example: orders and order items</a></li><li><a href="/en/data/exporting-data/catalogues-purchase-orders">Practical example: purchase orders</a></li><li><a href="/en/data/exporting-data/exporting-stocks">Stocks</a></li><li><a href="/en/data/exporting-data/exporting-stock-movements">Stock movements</a></li></ul>
</main>