<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Available data fields</span></a></li>
<li><a href="#20"><span>2.</span><span> Adding filters</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Available filters</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Exporting stocks</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This manual page contains information on the export format <strong>Stocks</strong>, which you can use in order to export stock data from your plentymarkets system by using catalogues.
If you are not familiar with the usage of catalogues yet, refer to the manual page <a href="/en/data/exporting-data/managing-catalogues">Managing catalogues</a> first. There you will find out how to create and manage catalogues.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">No export to marketplaces</div>
<div class="paragraph">
<p>The export format <strong>Stocks</strong> is a so-called standard format, which you can use to export data, but not to transfer data to a marketplace.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Available data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following table lists all available data fields of the export format <strong>Stocks</strong> as well as an explanation on the meaning of these fields.</p>
</div>
<table id="table-stocks" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Data fields for stocks</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Data field</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Item</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of item flag 1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of item flag 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation tag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tag of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Manufacturer</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturer ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the manufacturer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturer name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the manufacturer</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Batch / BBD</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Batch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Batch of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BBD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Best before date of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Stock</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Physical stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Physical stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reserved stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reserved stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Net stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reordered quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quantity of the reordered stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The warehouse’s priority</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Average purchase price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Average purchase price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Average sale</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Average sale</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Storage location</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the storage location</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the storage location</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Variation barcode</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Item description</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s name 1</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Variation</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Is active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The variation is active (1 = yes)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Model</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Model of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Purchase price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purchase price of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price calculation UUID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The price calculation’s UUID. The ID is automatically generated when the calculation is created. This ID cannot be changed.<br>
<strong><em>Tip:</em></strong> Do you want to copy the UUID? To do so, open the price calculation and click on the UUID in the lower left corner. The UUID is copied to the clipboard.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customs tariff number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The variation’s customs tariff number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Has calculated bundle weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether the gross weight is <a href="/en/item/use-cases/combining-products#2500">automatically calculated based on the individual components</a>.<br>
1 = Automatic calculation is activated.<br>
Empty field = Automatic calculation is not activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Has calculated bundle net weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether the net weight is <a href="/en/item/use-cases/combining-products#2500">automatically calculated based on the individual components</a>.<br>
1 = Automatic calculation is activated.<br>
Empty field = Automatic calculation is not activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Has calculated bundle purchase price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether the purchase price is <a href="/en/item/use-cases/combining-products#2500">automatically calculated based on the individual components</a>.<br>
1 = Automatic calculation is activated.<br>
Empty field = Automatic calculation is not activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Has calculated bundle moving average price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicates whether the moving average price is <a href="/en/item/use-cases/combining-products#2500">automatically calculated based on the individual components</a>.<br>
1 = Automatic calculation is activated.<br>
Empty field = Automatic calculation is not activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Warehouse</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the warehouse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse name</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Adding filters</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to only export specific stock data, you can select filters and thus narrow down the data. How to add filters is described in <a href="/en/data/exporting-data/managing-catalogues#257">this chapter</a>.</p>
</div>
<div class="sect2">
<h3 id="30">2.1. Available filters</h3>
<div class="paragraph">
<p>The following table lists all available filters for the export format <strong>Stocks</strong> and gives an explanation on the usage of the respective filter. You may also select several filters and for example filter by stock from a specific warehouse and a specific flag.</p>
</div>
<table id="table-filter-stock" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Filters for stocks</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Filter</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by active or inactive variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by the flag 1 that is saved on the variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by the flag 2 that is saved on the variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by a particular date that you can select via the calendar.<br>
Thus, this filter allows you to export stock that existed at a specific date.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by manufacturer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by variations from the selected warehouse.<br>
<strong><em>Note:</em></strong> If you don’t select a warehouse, the stock from the warehouse with the lowest ID is selected automatically.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group by</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allows to group by warehouse. The variation’s stock is shown per warehouse (not per storage location, BBD or batch).</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Hide empty stock entries</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hide stock 0 entries after defined time period</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hides all stock entries of 0 that have exceeded the defined time period.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hide all stock 0 entries</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hides all stock entries of 0.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>