<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#50"><span>1.</span><span> Practical example: First catalogue with order data</span></a>
<ul class="sectlevel2">
<li><a href="#70"><span>1.1.</span><span> 1. Step: Which order data do I need?</span></a></li>
<li><a href="#90"><span>1.2.</span><span> 2. Step: Add corresponding data fields</span></a></li>
<li><a href="#110"><span>1.3.</span><span> 3. Step: Filters for narrowing down results</span></a></li>
<li><a href="#130"><span>1.4.</span><span> 4. Step: Exporting the catalogue</span></a></li>
<li><a href="#150"><span>1.5.</span><span> Extending an existing catalogue by order items</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Practical example: Extended catalogue with order data</span></a>
<ul class="sectlevel2">
<li><a href="#220"><span>2.1.</span><span> 1. Step: Which order data do I need?</span></a></li>
<li><a href="#240"><span>2.2.</span><span> 2. Step: Add corresponding data fields</span></a></li>
<li><a href="#260"><span>2.3.</span><span> 3. Step: Filters for narrowing down results</span></a></li>
<li><a href="#280"><span>2.4.</span><span> 4. Step: Exporting the catalogue</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Practical examples for order and order item catalogues</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page of the manual lists practical examples on how to create a catalogue for the export of orders and order items. If you are not yet familiar with the catalogues, refer to the manual chapter <a href="/en/data/exporting-data/managing-catalogues">Managing catalogues</a> first. There, you get all the general information you need for creating and managing catalogues.</p>
</div>
<div class="paragraph">
<p>The catalogue format Order comprises order data as well as order item data. Thus, depending on your workflow, you can either create separate catalogues for the export of each data or you can combine them in one catalogue.<br>
The catalogues offer a lot of options for compiling and arranging information. Therefore, decide first for what you want to use the exported data and then which data you need for this purpose and which compilation in catalogues is most useful. For example, you could create a catalogue for the statistical evaluation of order data or a catalogue in which all the needed data for your fulfilment is compiled. You decide how the catalogues are structured.</p>
</div>
<div class="paragraph">
<p>In the following, we give examples for catalogues for the export of order and order item data. The examples show how the export of order data can be structured with the catalogues. You can use the examples as guidance when you create your own catalogues, but you are free to set up the catalogues according to your requirements.</p>
</div>
<div class="paragraph">
<p>Select the following <a href="/en/data/exporting-data/managing-catalogues#120">basic settings</a> when you want to create a new catalogue for the export of order data:</p>
</div>
<table id="table-basic-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Basic catalogue settings for the export of orders and order items</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order type</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">1. Practical example: First catalogue with order data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Let’s suppose you want export some basic order data of incoming orders of the last 14 days for evaluation purposes. Then proceed as described on this page.</p>
</div>
<div class="sect2">
<h3 id="70">1.1. 1. Step: Which order data do I need?</h3>
<div class="paragraph">
<p>Think about which order data are relevant for you. Let’s assume you only need the following order data for a first evaluation:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order ID: To match data later on and to extend data, if needed.</p>
</li>
<li>
<p>Order amounts: For an overview of different order amounts. Decide which amounts are relevant for you, e.g. gross or net. We use the invoice amount for this example.</p>
</li>
<li>
<p>Order type: For a first overview of the different used order types.</p>
</li>
<li>
<p>Payment method: To evaluate, which payment methods are used most often.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can customise this list, either adapt or extend data. Also decide which combination of information is relevant for you. Maybe it is useful to group data and to combine them in several separate catalogues.</p>
</div>
</div>
<div class="sect2">
<h3 id="90">1.2. 2. Step: Add corresponding data fields</h3>
<div class="paragraph">
<p>Add the following <a href="/en/data/exporting-data/managing-catalogues#160">data fields</a> to combine the listed data in one catalogue. You add a data field by clicking on <strong>Add data field</strong> (<span class="icon "><i class="material-add"></i></span>). Save (<span class="icon "><i class="material-save"></i></span>) the catalogue after you added the data fields.</p>
</div>
<div class="ulist">
<div class="title">Data fields:</div>
<ul>
<li>
<p><strong>Order &gt; Order ID</strong></p>
</li>
<li>
<p><strong>Order &gt; Amounts &gt; Invoice total</strong><br>
After you added the data field, select in which currency the amount is to be exported.</p>
</li>
<li>
<p><strong>Order &gt; Order type</strong><br></p>
</li>
<li>
<p><strong>Order &gt; Property</strong><br>
After you added the data field, select <strong>Payment method</strong> from the drop-down list.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Structure of data fields</div>
<div class="paragraph">
<p>The data fields (<span class="icon "><i class="psicon-order_return_create_edit"></i></span>) are grouped topically in folders. On the first level, you see the main folders. When you open a folder, data fields and more subfolders are listed. The subfolders can be opened as well, to have further data fields displayed.<br>
Note also that you can make further selections for some data fields after adding them. You can see this directly at the added data field. If you do not make a selection, no information is exported for these fields.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="110">1.3. 3. Step: Filters for narrowing down results</h3>
<div class="paragraph">
<p>Think about which orders are to be exported and how the results can be narrowed down. This is also helpful because otherwise large amounts of data are generated and there might be data included in the export which you don’t even need.</p>
</div>
<div class="paragraph">
<p>For the example we want data of the last 14 days, therefore we need this filter:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Created on</strong><br>
Click on <strong>Add filter</strong> and select <strong>Last</strong> from the drop-down list. Enter the number of days, for this example 14.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The filters are individually extendable. For example, if you only want to export already paid orders, you can additionally add the filter <strong>Payment status</strong> and then select <strong>Paid</strong> from the drop-down list. By adding more filters, the results are narrowed down.<br>
Save (<span class="icon "><i class="material-save"></i></span>) the catalogue after setting the filters.</p>
</div>
</div>
<div class="sect2">
<h3 id="130">1.4. 4. Step: Exporting the catalogue</h3>
<div class="paragraph">
<p>After you selected all the necessary settings as well as data fields and filters, the catalogue is ready for export. Before that, you can use the <a href="/en/data/exporting-data/managing-catalogues#255">Preview</a> to check all your settings.</p>
</div>
<div class="paragraph">
<p>While you’re at it, also check the <a href="/en/data/exporting-data/managing-catalogues#150">Export settings</a> of your catalogue. You can use the setting <strong>Transfer</strong> to decide when the export is started. Note that catalogues are only saved for 15 days after exporting them. Take this into consideration if you want to use a catalogue more than once. Therefore, factor in the <a href="/en/data/exporting-data/managing-catalogues#260">catalogue export</a> into your workflow.</p>
</div>
</div>
<div class="sect2">
<h3 id="150">1.5. Extending an existing catalogue by order items</h3>
<div class="paragraph">
<p>We have just created a first basic catalogue which could already be used. But let’s assume you now also want to export order items.<br>
You could simply extend data fields and filters of an existing catalogue. But if you want to keep the original catalogue and additionally want a catalogue just like this one only with more data fields, you can just copy an already existing catalogue and then adapt the copy.</p>
</div>
<div class="paragraph">
<p>Therefore, <a href="/en/data/exporting-data/managing-catalogues#190">copy</a> the just created catalogue so that we can extend the copy for this example.<br>
Then think about which order item data are relevant for you. For this example, we only want to extend the existing data by a few more basic information. But you can individually adapt this.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Variation ID = To break down which items were sold.</p>
</li>
<li>
<p>Quantity = To break down how many of the items (defined by the variation ID) were sold.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Add the following data fields for this:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Order &gt; Order items &gt; Variation ID</strong></p>
</li>
<li>
<p><strong>Order &gt; Order items &gt; Quantity</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If needed, change the <a href="/en/data/exporting-data/managing-catalogues#165">order of data fields</a>. In addition, you could also adapt the <a href="/en/data/exporting-data/managing-catalogues#162">Export keys</a>. Save (<span class="icon "><i class="material-save"></i></span>) the catalogue after you added the data fields.</p>
</div>
<div class="paragraph">
<p>Next, adapt the filters. The time period of the last 14 days and thus the filter <strong>Creation date</strong> remains valid.<br>
But let’s assume you just extended your sales channels and now want to check up on the new channel. To do so, add the filter <strong>Order referrer</strong> and then select the one you need. By doing this, only the selected data of orders of the last 14 days from this referrer are exported.<br>
Of course, you can also adapt the filters or add more if you want to narrow down the results even further. Save (<span class="icon "><i class="material-save"></i></span>) the catalogue after you’re done adapting the filters.</p>
</div>
<div class="paragraph">
<p>When you are done with all the changes and saving the catalogue, you can use the <a href="/en/data/exporting-data/managing-catalogues#255">Preview</a> again to check if everything is working out the way you need. After checking the settings, the catalogue is ready for <a href="/en/data/exporting-data/managing-catalogues#260">export</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Order items and grouping</div>
<div class="paragraph">
<p>In an export without order items, the data are grouped by order, e.g. one row per order in a CSV file. If order items are also exported, the data are grouped by order items, e.g. one row per order item in a CSV file.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Practical example: Extended catalogue with order data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After having created a first simple catalogue, we will now use the second example to create a catalogue with a few more complex and also linked data fields. The basic process is the same because how to create and adapt catalogues does not change.</p>
</div>
<div class="paragraph">
<p>Let’s suppose you want to export today’s orders, but only those for which outgoing items are already booked. Relevant for you are in this context most of all specific delivery countries and specific order referrers because you do not want to export all the data together in one catalogue. Moreover, you need more extensive order data than before which you already want to group within the catalogue itself to optimally prepare the data before the export.</p>
</div>
<div class="sect2">
<h3 id="220">2.1. 1. Step: Which order data do I need?</h3>
<div class="paragraph">
<p>Based on this, think about which order data are relevant for you.For this example, let’s say the following order data are to be compiled on one catalogue:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order ID</p>
</li>
<li>
<p>Order amounts</p>
</li>
<li>
<p>Warehouse</p>
</li>
<li>
<p>Payment method</p>
</li>
<li>
<p>Order items</p>
</li>
<li>
<p>Shipping service provider</p>
</li>
<li>
<p>Documents</p>
</li>
<li>
<p>Buyer</p>
</li>
<li>
<p>Delivery address</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can customise this list, either adapt or extend data. Also decide which combination of information is relevant for you. Maybe it is useful to group data and to combine them in several separate catalogues.</p>
</div>
</div>
<div class="sect2">
<h3 id="240">2.2. 2. Step: Add corresponding data fields</h3>
<div class="paragraph">
<p>Add the following <a href="/en/data/exporting-data/managing-catalogues#160">data fields</a> to combine the listed data in one catalogue. You add a data field by clicking on <strong>Add data field</strong> (<span class="icon "><i class="material-add"></i></span>).<br>
You can link data fields (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>) so that they are exported together, for example in one column of a CSV file. This is useful for some of the data, e.g. for the first and last name of a contact. You decide which links are useful for you.<br>
Save (<span class="icon "><i class="material-save"></i></span>) the catalogue after you added the data fields.</p>
</div>
<div class="ulist">
<div class="title">Data fields:</div>
<ul>
<li>
<p><strong>Order &gt; Order ID</strong></p>
</li>
<li>
<p><strong>Order &gt; Amounts &gt; Net amount</strong><br>
After you added the data field, select in which currency the amount is to be exported.</p>
</li>
<li>
<p><strong>Order &gt; Amounts &gt; Gross amount</strong><br>
After you added the data field, select in which currency the amount is to be exported.</p>
</li>
<li>
<p><strong>Order &gt; Amounts &gt; VAT total</strong><br>
After you added the data field, select in which currency the amount is to be exported.</p>
</li>
<li>
<p><strong>Order &gt; Amounts &gt; Net shipping costs</strong><br>
After you added the data field, select in which currency the amount is to be exported.</p>
</li>
<li>
<p><strong>Order &gt; Amounts Gross shipping costs</strong><br>
After you added the data field, select in which currency the amount is to be exported.</p>
</li>
<li>
<p><strong>Variation &gt; Main warehouse</strong></p>
</li>
<li>
<p><strong>Order &gt; Property</strong><br>
After you added the data field, select <strong>Payment method</strong> from the drop-down list.</p>
</li>
<li>
<p><strong>Order &gt; Order items &gt; Variation ID</strong></p>
</li>
<li>
<p><strong>Order &gt; Order items &gt; Quantity</strong></p>
</li>
<li>
<p><strong>Order &gt; Order items &gt; Tax rate (A, B, C etc.)</strong> link with <strong>Order &gt; Order items &gt; Tax rate in %</strong><br>
This way, the tax rate in % is exported together with the mapping A, B, C, etc.</p>
</li>
<li>
<p><strong>Shipping service provider &gt; ID</strong><br>
Here, the ID is exported which is assigned in the <strong>Setup » Orders » Shipping » Settings</strong> menu in the <strong>Shipping service provider</strong> tab.</p>
</li>
<li>
<p><strong>Shipping service provider &gt; Shipping service provider ID</strong><br>
Here, the <a href="/en/data/internal-IDs#shipping-service-provider">ID of the shipping service provider</a> is exported, e.g. 2 as the ID for DHL, 3 for DPD and 4 for Deutsche Post.</p>
</li>
<li>
<p><strong>Documents &gt; Document type</strong><br>
After adding the data field, select the document type. Exported are always the data for the current document.</p>
</li>
<li>
<p><strong>Documents &gt; User ID</strong><br>
Here, the ID of the user who created the document is exported. After adding the data field, select the document type.</p>
</li>
<li>
<p><strong>Contact &gt; Contact ID</strong> link with <strong>Contact &gt; First name</strong> link with <strong>Contact &gt; Last name</strong><br>
Because all three data fields are linked, the information are exported together. Note that no information are exported when the order is a guest order.</p>
</li>
<li>
<p><strong>Addresses &gt; Address ID</strong><br>
After adding the data field, select the address type.</p>
</li>
<li>
<p><strong>Addresses &gt; Postcode</strong></p>
</li>
<li>
<p><strong>Addresses &gt; Postcode</strong><br>
Why twice? You can add data fields more than once and then make a further selection for each data field. In this case, select <strong>Invoice address</strong> for one of them and <strong>Delivery address</strong> for the other.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If you take over the <a href="/en/data/exporting-data/managing-catalogues#165">order of data fields</a> as it is listed above, the data are also exported in this order. Because of this, decide which order is most useful to you before you start the export. For example, order amounts are listed one after the other. However, you could also add tax information here, for example.</p>
</div>
<div class="paragraph">
<p>In addition, you could also adapt the <a href="/en/data/exporting-data/managing-catalogues#162">Export keys</a>. This is particularly recommended when you link data fields or when you add the same data field twice with different further selections. For example, if you don’t link the postal codes of invoice and delivery address and instead add them as two individual data fields, they will get the same export key. In this case, adapt the export key so that it is more significant, e.g. <em>address.postalCodeDelivery</em> and <em>address.postalCodeInvoice</em>.</p>
</div>
<div class="paragraph">
<p>Linking data fields is optional. You can add further data fields, link more of them or delete them and thus customise the catalogue according to your requirements. When linking data fields, take note of the order in which you link the data fields. Also, select <strong>Separators</strong> from the <strong>Settings</strong>(<span class="icon "><i class="fa fa-cog  "></i></span>) so that the exported data are displayed correctly in the export file.</p>
</div>
</div>
<div class="sect2">
<h3 id="260">2.3. 3. Step: Filters for narrowing down results</h3>
<div class="paragraph">
<p>Think about which orders are to be exported and how the results can be narrowed down. This is also helpful because otherwise large amounts of data are generated and there might be data included in the export which you don’t even need.</p>
</div>
<div class="paragraph">
<p>The examples provides some restrictions: today’s orders, outgoing items booked, delivery countries and order referrers. Therefore, add the following filters:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Created on</strong><br>
Click on <strong>Add filter</strong> and select <strong>Today</strong> from the drop-down list. With this selection, only today’s orders are exported.</p>
</li>
<li>
<p><strong>Order status</strong><br>
Click on <strong>Add filter</strong> and select the order status or statuses which you are using for outgoing items. By default, this is <strong>7 | Outgoing items booked</strong></p>
</li>
<li>
<p><strong>Delivery country</strong><br>
Click on <strong>Add filter</strong> and select the delivery country or countries which are relevant for you. All delivery countries are displayed, not only your active ones.</p>
</li>
<li>
<p><strong>Order referrer</strong><br>
Click on <strong>Add filter</strong> and select the order referrer or referrers which are relevant for you.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The filters are individually extendable. By adding more filters, the results are narrowed down.<br>
Save (<span class="icon "><i class="material-save"></i></span>) the catalogue after setting the filters.</p>
</div>
</div>
<div class="sect2">
<h3 id="280">2.4. 4. Step: Exporting the catalogue</h3>
<div class="paragraph">
<p>After you selected all the necessary settings as well as data fields and filters, the catalogue is ready for export. Before that, you can use the <a href="/en/data/exporting-data/managing-catalogues#255">Preview</a> to check all your settings.</p>
</div>
<div class="paragraph">
<p>While your at it, also check the <a href="/en/data/exporting-data/managing-catalogues#150">Export settings</a> of your catalogue. You can use the setting <strong>Transfer</strong> to decide when the export is started, for example <strong>Daily</strong>. Or you select <strong>Schedule</strong> and then a specific time, e.g. <strong>11:40 pm - 12:00 am</strong>.<br>
Note that catalogues are only saved for 15 days after exporting them. Take this into consideration if you want to use a catalogue more than once. Therefore, factor in the <a href="/en/data/exporting-data/managing-catalogues#260">catalogue export</a> into your workflow.</p>
</div>
</div>
</div>
</div>
</main>