<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>ValidatorScheduler</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can define checks for submitting subscription settings in this template.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_template_validatorscheduler">Template ValidatorScheduler</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_variables">Variables</h3>
<div class="paragraph">
<p>These variables are available in this container.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$SchedulerDate — Returns the subscription’s starting date.</p>
</li>
<li>
<p>$SchedulerInterval — Returns the subscription’s ending date.</p>
</li>
<li>
<p>$SchedulerRepeating — Returns the number of deliveries for the subscription.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_examples">Examples</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;

	# Example for ValidatorPlaceOrder
	if(!$TermsAndConditionsCheck)
	{
		$_errorCode = 16; # Please read our General Terms and Conditions and confirm them by selecting the choice box.

		AddError($_errorCode);
	}


	# Example for ValidatorCustomerShippingAddress
	$_shippingAddress = GetCheckoutCustomerShippingAddressFromRequest();

	if(strlen($_shippingAddress-&gt;FirstName) &lt; 2
		|| strlen($_shippingAddress-&gt;LastName) &lt; 2)
	{
		$_errorCode = 39; #Please enter name and surname.

		AddError($_errorCode);
	}

&#37;&#125;</code></pre>
</div>
</div>
</div>
</div>
</main>