<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Booking items in</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Assigning user rights for booking in items</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Customising booking in items with the plentymarkets app</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Booking in stock with the plentymarkets app</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.</span><span> Redistributing items</span></a>
<ul class="sectlevel2">
<li><a href="#600"><span>2.1.</span><span> Assigning user rights for redistributing items</span></a></li>
<li><a href="#700"><span>2.2.</span><span> Creating a redistribution template</span></a></li>
<li><a href="#800"><span>2.3.</span><span> Customising redistributing items with the plentymarkets app</span></a></li>
<li><a href="#900"><span>2.4.</span><span> Redistributing stock with the plentymarkets app</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Booking in and redistributing items</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Did you know that you can not only book in and redistribute items in the <a href="/en/working-with-redistributions">plentymarkets back end</a>, but also in the plentymarkets app?</p>
</div>
<div class="paragraph">
<p>This page contains step-by-steps instructions on how to set up and use these functions.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Booking items in</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To book in items using the plentymarkets app, app users need to have the required rights for booking in items. In addition, users can be granted the right to change the purchase price while booking in items. Alternatively, the purchase price saved in the <strong>Settings</strong> tab of the variation (<strong>Net purchase price</strong>) or the average net purchase price can be inserted.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Hardware for the plentymarkets app</div>
<div class="paragraph">
<p>Check the <a href="/en/welcome/quick-start/quick-start-system-requirements">system requirements page</a> of the manual to see current hardware recommendations for booking in items with the plentymarkets app.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="200">1.1. Assigning user rights for booking in items</h3>
<div class="paragraph">
<p>User accounts with admin rights already have all the necessary rights to book in items with the app by default. You need to grant this right to persons with an account of the type <strong>Back end</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Assigning user rights for booking in items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open the account.</p>
</li>
<li>
<p>Click on the <strong>Mobile</strong> tab.</p>
</li>
<li>
<p>In the <strong>Visible functions</strong> area, activate the option <strong>Stocktaking</strong>.<br>
→ The individual rights for booking in items are displayed.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Assign additional individual rights. Pay attention to the explanations given in <a href="#table-rights-booking-in-items-app">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-rights-booking-in-items-app" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Individual rights for booking in items with the app</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show purchase price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select if the user is allowed to see the purchase price when booking in items with the app.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Edit purchase price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select if the user is allowed to edit the purchase price when booking in items with the app.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">1.2. Customising booking in items with the plentymarkets app</h3>
<div class="paragraph">
<p>In the plentymarkets app, users can carry out additional settings to customise the process of booking in items.</p>
</div>
<div class="paragraph instruction">
<p>Customising booking in items with the plentymarkets app:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the plentymarkets App.</p>
</li>
<li>
<p>Tap on the <strong>menu icon</strong> (<span class="icon blue"><i class="fa fa-bars  "></i></span>) in the top left corner of the app.</p>
</li>
<li>
<p>Tap on <strong>Settings</strong>.</p>
</li>
<li>
<p>Tap on <strong>Incoming items</strong>.<br>
→ The <strong>Incoming items</strong> settings menu opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-settings-booking-in-items-app">Table 2</a>.<br>
<strong><em>Tip:</em></strong> The settings are saved automatically when you leave the menu.</p>
</li>
</ol>
</div>
<table id="table-settings-booking-in-items-app" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Booking in items: App settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item search fields</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the search fields that should be displayed in the <strong>Incoming items</strong> menu of the plentymarkets app.<br>
<strong><em>Tip:</em></strong> Tap on the arrows to the left of the search field name to determine in which order the search fields should be displayed. Tap on (<span class="icon darkGrey"><i class="fa fa-chevron-up  "></i></span>) to push the search field up one level. Tap on (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to push the search field down one level.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Focus on search field</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tap on the search field to which the cursor jumps automatically when the menu is opened. If no search field is selected, you have to tap on a search field every time before you can enter a search value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suggested storage location list</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the storage locations that are suggested as target storage locations.<br>
<strong><em>Tip:</em></strong> You can determine order in which suggested storage locations are displayed by tapping on the arrows to the left of the suggested storage location. Tap on (<span class="icon darkGrey"><i class="fa fa-chevron-up  "></i></span>) to push the search field up one level. Tap on (<span class="icon darkGrey"><i class="fa fa-chevron-up  "></i></span>) to push the search field down one level.<br>
<strong>Suggested storage location</strong> = Displays the storage location suggestions linked to the variation.<br>
<strong>Used storage locations</strong> = Displays the storage locations in which the variation is already stored.<br>
<strong>Empty storage locations</strong> = Displays all available storage locations.<br>
<strong><em>Note:</em></strong> Depending on the number of storage locations, the setting <strong>Empty storage locations</strong> can significantly slow down the process of booking in items. Thus, we recommend that you link variations to storage locations and only activate the option <strong>Empty storage locations</strong> in exceptional cases.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Focus on target storage location</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Set focus on target storage location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the option to automatically jump to the input field <strong>Storage location</strong> after selecting an item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Purchase price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Insert purchase price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select if the purchase price saved with the variation data should be automatically inserted when booking in items.<br>
Not activated = The average net purchase price is inserted for the variation.<br>
Activated = The purchase price saved in the <strong>Settings</strong> tab of the variation (<strong>Net purchase price</strong>) is inserted.<br>
<strong><em>Tip:</em></strong> If the option <strong>Show purchase price</strong> is activated, users with the right <strong>Edit purchase price</strong> can change the automatically inserted purchase price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show purchase price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select if the purchase price saved in the <strong>Settings</strong> tab of the variation (<strong>Net purchase price</strong>) is inserted.<br>
Not activated = Regardless of the specific user rights, the purchase price is not displayed but inserted automatically according to the <strong>Insert purchase price</strong> setting.<br>
Activated = The purchase price is displayed to users with the corresponding rights.<br>
<strong><em>Tip:</em></strong> This option is only displayed if the user has the right to view the purchase price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show net stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the option to display the net stock available at the storage location when booking in items.<br>
Deactivated = Only the physical stock of the variation at the storage location is displayed.<br>
Activated = Both the physical stock and the net stock of the variation at the storage location are displayed when booking in items.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">1.3. Booking in stock with the plentymarkets app</h3>
<div class="paragraph">
<p>Proceed as described below to book in items with the plentymarkets app.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Labelling storage locations</div>
<div class="paragraph">
<p>You can speed up the process of booking in items by <a href="/en/stock-management/setting-up-a-warehouse#800">labelling your storage locations</a>. When booking in items, you can scan the labels of the target storage locations. This way, the correct storage location is always correctly and quickly displayed in the app.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Booking in items with the plentymarkets app:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the plentymarkets app.</p>
</li>
<li>
<p>Tap on the <strong>menu icon</strong> (<span class="icon blue"><i class="fa fa-bars  "></i></span>) in the top left corner of the app.</p>
</li>
<li>
<p>Tap on <strong>Warehouse management » Incoming items</strong>.<br>
→ The variation search opens.</p>
</li>
<li>
<p>Enter a search criterion.</p>
</li>
<li>
<p>Tap <strong>Search</strong>.<br>
→ The variations that correspond to the search criteria are displayed.</p>
</li>
<li>
<p>Tap on the variation.<br>
<strong><em>Tip:</em></strong> If only one search result is found, the variation is opened automatically.</p>
</li>
<li>
<p>Enter the quantity that should be booked in.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Enter the purchase price.</p>
</li>
<li>
<p>Tap on the green button of the storage location at which the items should be booked in.<br>
<strong><em>Tip:</em></strong> If you have labelled your storage locations, scan the storage location label instead. To do so, begin by tapping on the field <strong>Barcode</strong> before using your Bluetooth scanner.<br>
→ If best before dates, batches or both are managed for the variation in the selected warehouse, you are asked to enter a date, a batch or both.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select the best before date and/or enter the batch and tap on <strong>Book items</strong>.<br>
<strong><em>Note:</em></strong> By default, you cannot book in variations with more than one best before date/batch to the same storage location.<br>
→ The items are booked in.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. Redistributing items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, assign the required rights to redistribute items with the app to users of the type <strong>Back end</strong>. In addition, you can set up redistribution templates and carry out further app settings to adjust the redistribution process to your individual warehouse.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Hardware for the plentymarkets app</div>
<div class="paragraph">
<p>Check the <a href="/en/welcome/quick-start/quick-start-system-requirements">system requirements page</a> of the manual to see current hardware recommendations for redistributing items with the plentymarkets app.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="600">2.1. Assigning user rights for redistributing items</h3>
<div class="paragraph">
<p>User accounts with admin rights already have all the necessary rights to redistribute items with the app by default. You need to grant this right to persons with an account of the type <strong>Back end</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Assigning user rights for redistributing items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open the account.</p>
</li>
<li>
<p>Click on the <strong>Mobile</strong> tab.<br>
<strong><em>Tip:</em></strong> If this tab is not visible, the account already has admin rights.</p>
</li>
<li>
<p>In the <strong>Visible functions</strong> area, activate the option <strong>Rebooking</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="700">2.2. Creating a redistribution template</h3>
<div class="paragraph">
<p>In the plentymarkets back end, you can create optional templates for redistributing items with the plentymarkets app. Use these templates to define the fields and field order that is displayed to users when redistributing items with the app.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Default template</div>
<div class="paragraph">
<p>If you do not create a template, the default template is applied automatically. This default template is well-suited for most redistribution processes and contains the most important information.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a redistribution template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » plenty app » Rebooking</strong>.</p>
</li>
<li>
<p>Click on <strong>New template</strong>.<br>
→ The <strong>New template</strong> window opens.</p>
</li>
<li>
<p>Enter a name for the template.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The template is created and opened for editing.</p>
</li>
<li>
<p>Select how variation data is displayed in the <strong>Item layout</strong>. Pay attention to the explanations given in <a href="#table-redistribution-template">Table 3</a>.</p>
</li>
<li>
<p>Select how variation data is displayed in the <strong>Item list view</strong>, meaning in the list of search results. Pay attention to the explanations given in <a href="#table-redistribution-template">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-redistribution-template" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Redistribution template</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how the description of the field should be displayed. The description will be displayed to users as the name of the field. If nothing is entered, no description will be displayed to users.<br>
<strong><em>Example:</em></strong> If the description <strong>Barcode</strong> is entered for the <strong>Barcode</strong> field, the information <strong>Barcode: 12345</strong> will be displayed when redistributing items with the app. If no description is entered, only <strong>12345</strong> is shown.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Line</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the line in which the variation data should be displayed. Select the option <strong>Do not show</strong> if you do not wish to display the data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Row priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine the order in which the variation data should be displayed. Variation data with the priority <strong>1</strong> are displayed at the very top.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Column</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how variation data is displayed in the search results.<br>
<strong>Left</strong> = The data is displayed in the left column.<br>
<strong>Right</strong> = The data is displayed in the right column.<br>
<strong>Full row</strong> = The data is displayed across the full width.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Font size</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the font size for displaying the variation data from the drop-down list. The available sizes range from <strong>XS</strong> to <strong>XXL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Font style</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click into the field and activate the formatting for displaying variation data from the selection list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Specific settings</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item price » Price selection</strong> = Select the sales price from the drop-down list.<br>
<strong>Barcode » Barcode selection</strong> = Select the barcode type from the drop-down list.<br>
<strong>Item image » Image size</strong> = Select a size for the item image to be displayed. The available options range from <strong>XS</strong> to <strong>L</strong>.<br></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">2.3. Customising redistributing items with the plentymarkets app</h3>
<div class="paragraph">
<p>In the plentymarkets app, users can carry out additional settings to customise the redistribution process.</p>
</div>
<div class="paragraph instruction">
<p>Customising redistributing items with the app:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the plentymarkets App.</p>
</li>
<li>
<p>Tap on the <strong>menu icon</strong> (<span class="icon blue"><i class="fa fa-bars  "></i></span>) in the top left corner of the app.</p>
</li>
<li>
<p>Tap on <strong>Settings</strong>.</p>
</li>
<li>
<p>Tap on <strong>Rebooking</strong>.<br>
→ The <strong>Rebooking</strong> settings menu opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-redistribution-app-settings">Table 4</a>.<br>
<strong><em>Tip:</em></strong> The settings are saved automatically when you leave the menu.</p>
</li>
</ol>
</div>
<table id="table-redistribution-app-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Redistributing items: App settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item search fields</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the search fields that should be displayed in the <strong>Rebooking</strong> menu.<br>
<strong><em>Tip:</em></strong> Tap on the arrows to the left of the search field name to determine in which order the search fields should be displayed. Tap on (<span class="icon darkGrey"><i class="fa fa-chevron-up  "></i></span>) to push the search field up one level. Tap on (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to push the search field down one level.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Focus on search field</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tap on the search field to which the cursor jumps automatically when the menu is opened. If no search field is selected, you have to tap on a search field every time before you can enter a search value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suggested storage location list</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the storage locations that are suggested as target storage locations.<br>
<strong><em>Tip:</em></strong> You can determine order in which suggested storage locations are displayed by tapping on the arrows to the left of the suggested storage location. Tap on (<span class="icon darkGrey"><i class="fa fa-chevron-up  "></i></span>) to push the search field up one level. Tap on (<span class="icon darkGrey"><i class="fa fa-chevron-up  "></i></span>) to push the search field down one level.<br>
<strong>Suggested storage location</strong> = Displays the storage location suggestions linked to the variation.<br>
<strong>Used storage locations</strong> = Displays the storage locations in which the variation is already stored.<br>
<strong>Empty storage locations</strong> = Displays all available empty storage locations.<br>
<strong><em>Note:</em></strong> Depending on the number of storage locations, the setting <strong>Empty storage locations</strong> can significantly slow down the process of booking in items. Thus, we recommend that you link variations to storage locations and only activate the option <strong>Empty storage locations</strong> in exceptional cases.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Storage location redistribution quantity</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suggest total quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select if the total quantity of the variation should be suggested for the redistribution.<br>
Not activated = No quantity will be suggested. You will have to enter the quantity manually.<br>
Activated = The total quantity of the variations available at the storage location is automatically inserted.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Set focus on target storage location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the option to automatically jump to the input field <strong>Storage location</strong> after selecting a variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fast rebooking</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the option to skip selecting a source storage location. This accelerates the redistribution process.<br>
<strong><em>Note:</em></strong> Only activate the option if only one possible source storage location exists in your warehouse.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show net stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the option to display the net stock available at the source storage location when redistributing items.<br>
Not activated = Only the physical stock for the variation at the source target storage location is displayed when redistributing items.<br>
Activated = Both the physical stock and the net stock of the variation at the source storage location are displayed when redistributing items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tap on the template that should be used for the redistribution.<br>
You can create templates in the <strong>Setup » plenty app » Rebooking</strong> menu in the plentymarkets back end.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">2.4. Redistributing stock with the plentymarkets app</h3>
<div class="paragraph">
<p>Proceed as described below to redistribute items with the plentymarkets app.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Labelling storage locations</div>
<div class="paragraph">
<p>You can speed up the stocktaking process by <a href="/en/stock-management/setting-up-a-warehouse#800">labelling your storage locations</a>. This way, you can scan the labels of the source and target storage locations.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Redistributing items with the plentymarkets app:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the plentymarkets app.</p>
</li>
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong> (<span class="icon blue"><i class="fa fa-bars  "></i></span>).</p>
</li>
<li>
<p>Tap on <strong>Warehouse management » Rebooking</strong>.<br>
→ The variation search opens.</p>
</li>
<li>
<p>Enter a search criterion.</p>
</li>
<li>
<p>Tap <strong>Search</strong>.<br>
→ The variations that correspond to the search criteria are displayed.</p>
</li>
<li>
<p>Tap on the variation.<br>
<strong><em>Tip:</em></strong> If only one search result is found, the variation is opened automatically.<br>
→ The available quantity of the variation per storage location is displayed in the <strong>Item to rebook view</strong>.</p>
</li>
<li>
<p>Tap on the green button of the storage location that the variations should be booked out of.<br>
<strong><em>Tip:</em></strong> If you have labelled your storage locations, scan the storage location label instead. To do so, begin by tapping on the field <strong>Barcode</strong> before using your Bluetooth scanner.<br>
→ The storage location and stock is displayed in the <strong>Rebook from</strong> area.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Edit the quantity of variations that should be redistributed.</p>
</li>
<li>
<p>Tap on the green button of the storage location at which the items should be booked in.<br>
<strong><em>Tip:</em></strong> If you have labelled your storage locations, scan the storage location label instead. To do so, begin by tapping on the field <strong>Barcode</strong> before using your Bluetooth scanner.<br>
→ If best before dates, batches or both are managed for the variation in the new warehouse but have not been registered in the previous warehouse, you are asked to enter a date, a batch or both.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select the best before date and/or enter the batch and tap on <strong>Rebook</strong>.<br>
→ The items are redistributed.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>