<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> How are items reshelved?</span></a></li>
<li><a href="#200"><span>2.</span><span> Configuring one-time settings</span></a></li>
<li><a href="#300"><span>3.</span><span> Reshelving items with the plentymarkets app</span></a>
<ul class="sectlevel2">
<li><a href="#400"><span>3.1.</span><span> Specifying the source storage location</span></a></li>
<li><a href="#500"><span>3.2.</span><span> Choosing an item</span></a></li>
<li><a href="#600"><span>3.3.</span><span> Reshelving items</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Reshelving items</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Do you have items that need to get back on the shelf as quickly as possible? Maybe items were returned and you want them back on the sales floor. Or maybe you received goods from your supplier and now it’s time to put the items on the shelf. Use the reshelving function to make sure all your items end up in the right spot!</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/app/assets/Reshelving.gif" alt="Reshelving">
</div>
</div>
<div class="paragraph">
<p>The plentymarkets app includes a function for reshelving items. You can find information about it on this page. First, you’ll read a short description of the function to help you understand the concept. Then you’ll learn about the <a href="/en/app/functions/warehouse-management/reshelving#200">settings</a>, which need to be configured one time only. These settings go into effect when you begin <a href="/en/app/functions/warehouse-management/reshelving#300">using the function</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Requirements</div>
<div class="paragraph">
<p>This page assumes that you’ve already <a href="/en/app/installation">downloaded</a> the plentymarkets app and installed it on the appropriate hardware.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. How are items reshelved?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>All of the items start out in the same spot. For example, maybe cashiers put returned items in a box behind the sales counter. Or maybe there’s a special area in your warehouse for receiving goods.</p>
</div>
<div class="paragraph">
<p>When an employee is ready to start reshelving items, he opens up the plentymarkets app and tells it where the items are currently located. In other words, he specifies which storage location he wants to reshelve.</p>
</div>
<div class="paragraph">
<p>Afterwards, the app lists all of the items that are currently at this storage location. The employee chooses an item. Then he tells the app where he placed the item. In other words, which new storage location he selected for the item.</p>
</div>
<div class="paragraph">
<p>The plentymarkets app automatically switches back to the list of items waiting to be reshelved. The employee repeats this process until he’s either reshelved all of the items or until he manually exits out of the function.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Configuring one-time settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before you <a href="/en/app/functions/warehouse-management/reshelving#300">use the tool</a>, you’ll need to configure a few settings one time only in the plentymarkets app. These settings specify which storage locations your employees might want to reshelve and how your items should be displayed in the app.</p>
</div>
<div class="paragraph instruction">
<p>Configuring the settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the plentymarkets app.</p>
</li>
<li>
<p>Tap on the <strong>menu symbol</strong> in the upper left corner.</p>
</li>
<li>
<p>Tap on <strong>Settings » Reshelving</strong>.<br>
→ The settings for reshelving will open.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-settings-reshelving">Table 1</a>.</p>
</li>
</ol>
</div>
<table id="table-settings-reshelving" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Configuring settings in the plentymarkets app</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Focus on search field</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Will you typically <a href="/en/app/functions/warehouse-management/reshelving#400">specify the source storage location</a> by scanning its barcode or by choosing the storage location from a list? If you want to scan the barcode, then this setting can speed up the job.<br>
<strong>Activated</strong> (<span class="icon green"><i class="fa fa-toggle-on"></i></span>) = Your mouse cursor will automatically start out in the barcode field when you reshelve items. You can scan the source storage location right away.<br>
<strong>Deactivated</strong> (<span class="icon darkGrey"><i class="fa fa-toggle-off"></i></span>) = Your mouse cursor will not start out in the barcode field. Of course, it will still be possible to manually place the cursor in the field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location redistribution quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Will you typically <a href="/en/app/functions/warehouse-management/reshelving#600">reshelve</a> the entire item quantity? If so, then this setting can speed up the job.<br>
<strong>Activated</strong> (<span class="icon green"><i class="fa fa-toggle-on"></i></span>) = The app will automatically suggest that you reshelve every copy of the item found at this storage location. Of course, you can still manually enter a different quantity if needed.<br>
<strong>Deactivated</strong> (<span class="icon darkGrey"><i class="fa fa-toggle-off"></i></span>) = The quantity 1 will be suggested. You will have to enter the quantity manually.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suggested source storage locations by purpose</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Where are your items located before they’re reshelved? Select the appropriate <a href="/en/stock-management/setting-up-a-warehouse#200">warehouse</a> from the drop-down list. Use the toggle buttons to include or exclude specific <a href="/en/stock-management/setting-up-a-warehouse#500">storage location purposes</a>.<br>
<strong><em>Example:</em></strong> Select the storage location purposes <strong>Incoming stock</strong> and <strong>Return</strong> if you want to reshelve goods that you’ve received from your supplier and also returned items.<br>
<strong><em>Use:</em></strong> While using the tool, the app will suggest storage locations that you might want to reshelve. You’ll only be suggested the source storage locations that meet these criteria. If you want to use a storage location that <em>was not suggested</em>, then you’ll have to scan the storage location rather than select it from the list of suggestions in the app.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suggested target storage locations</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Where do you want to put the items once they’ve been reshelved? Use the toggle buttons to include or exclude specific types of storage locations.<br>
<strong>Suggested storage location</strong> = Storage locations that are <a href="/en/stock-management/new-incoming-items#200">linked to a variation</a>.<br>
<strong>Used storage locations</strong> = Storage locations where variations are already stored.<br>
<strong>Empty storage locations</strong> = All available storage locations.<br>
<strong><em>Note:</em></strong> Depending on the number of storage locations, the setting <strong>Empty storage locations</strong> can significantly slow down the reshelving process. As such, we recommend that you link variations to storage locations and only activate empty storage locations if strictly necessary.<br>
<strong><em>Use:</em></strong> While using the tool, the app will suggest storage locations that you might want to consider. You’ll only be suggested the target storage locations that meet these criteria. If you want to use a storage location that <em>was not suggested</em>, then you’ll have to scan the storage location rather than select it from the list of suggestions in the app.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Exclude target storage locations by purpose</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option to prevent <strong>Box</strong> storage locations from being displayed on your list of suggestions. This can be a good idea if you also use the app for <a href="/en/app/functions/warehouse-management/mobile-box-picking">box picking</a> and you don’t want your boxes to get in the way when reshelving.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What should your <a href="/en/app/functions/warehouse-management/reshelving#500">list of items</a> look like? The plentymarkets app comes with a default template, which is appropriate for most reshelving processes. However, you can create additional templates in the menu <strong>Setup » plenty app » Mobile pick list</strong>. Once you’ve created a template, you’ll be able to select it from the drop-down list here.<br>
<strong><em>Tip:</em></strong> Templates let you control, e.g. which information is displayed first, second, third, etc and which font size each piece of information should have.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Reshelving items with the plentymarkets app</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you’ve finished <a href="/en/app/functions/warehouse-management/reshelving#200">configuring the one-time settings</a>, you can begin using the plentymarkets app to quickly reshelve items.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Are any items available?</div>
<div class="paragraph">
<p>Items can only be reshelved with the app if they’re at the correct storage location. If no items are currently at the selected storage location, then the app will not list any items to reshelve.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="400">3.1. Specifying the source storage location</h3>
<div class="paragraph">
<p>Where are the items that need to be reshelved? Specify which storage location you want to reshelve.</p>
</div>
<div class="paragraph instruction">
<p>Specifying the source storage location:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the plentymarkets app.</p>
</li>
<li>
<p>Tap on the <strong>menu symbol</strong> in the upper left corner.</p>
</li>
<li>
<p>Tap on <strong>Warehouse management » Reshelving</strong>.<br>
→ You will see a list of all the <a href="/en/app/functions/warehouse-management/reshelving#200">suggested storage locations</a>.</p>
</li>
<li>
<p>Scan the storage location’s barcode or tap on the storage location in the app.<br>
→ You will see a list of all the items that are currently stored here.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="500">3.2. Choosing an item</h3>
<div class="paragraph">
<p>plentymarkets automatically makes a list of all the items currently at this storage location. Duplicate items are grouped together. For example, if two copies of an item need to go back on the shelf, then the employee can specify the item quantity while reshelving.</p>
</div>
<div class="paragraph">
<p>The list includes important information about the items that are ready to be reshelved. For example, the employee sees the item ID and the item name. You can control which information is displayed on the list. Simply create a <a href="/en/app/functions/warehouse-management/reshelving#200">template</a>.</p>
</div>
<div class="paragraph instruction">
<p>Working with the item list:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Look at the list to find out which items need to be reshelved.</p>
</li>
<li>
<p>Decide which item you want to reshelve first.</p>
</li>
<li>
<p>Scan the item’s barcode or tap on the item in the app.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="600">3.3. Reshelving items</h3>
<div class="paragraph">
<p>Where do you want to put these items once they’ve been reshelved? The app shows you a list of all the <a href="/en/app/functions/warehouse-management/reshelving#200">suggested target storage locations</a>. Simply scan a storage location’s barcode or tap on a storage location in the app.</p>
</div>
<div class="paragraph instruction">
<p>Reshelving items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Put the item on the appropriate place on the shelf.</p>
</li>
<li>
<p>Scan this storage location’s barcode or tap on this storage location in the app.<br>
→ plentymarkets changes the item’s storage location. plentymarkets keeps a record of this <a href="/en/stock-management/managing-stocks#1100">stock movement</a>.<br>
→ If other items still need to be reshelved, i.e. if other items are still at the source storage location, then the screen will switch back to the <a href="/en/app/functions/warehouse-management/reshelving#500">item list</a> and you can continue with the next item.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Multiple copies of an item</div>
<div class="paragraph">
<p>Duplicate items are grouped together in the app. For example, if two copies of an item need to go back on the shelf, then you can specify the item quantity while reshelving. Simply scan the item multiple times. Every time you scan the item, the number automatically increases by one.<br>
<strong><em>Note:</em></strong> Alternatively, tap on <strong>Quantity</strong> and enter the number.</p>
</div>
<div class="paragraph">
<p>If you typically reshelve the entire quantity, then you can save time by activating the option <strong>Storage location redistribution quantity</strong> in the <a href="/en/app/functions/warehouse-management/reshelving#200">app settings</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>