.consent-banner {
    padding-top: 10px;
    font-size: 1.1em;
    background: #e5f4ff;
    max-height: calc(100% - 47px);
    overflow-y: auto;
}
.consent-banner .custom-switch {
    padding-right: 20px;
}
.consent-banner .btn-dark {
    color: #fff;
    background-color: #354763;
    border-color: #354763;
}
.consent-banner .btn-dark:hover {
    background-color: #28354a;
    border-color: #232f42;
}
.consent-banner .btn-info {
    color: #212529;
    background-color: #90b9d7;
    border-color: #90b9d7;
}
.consent-banner .btn-info:hover {
    background-color: #74a7cd;
    border-color: #6ba1c9;
}
