.feedback-form-wrapper textarea {
    width: 100%;
    background: var(--body-background);
    padding: 10px;
    color: var(--text-color);
    border: none;
    resize: none;
}

.feedback-form-wrapper textarea:focus {
    outline: none;
}

.feedback-form-wrapper textarea::placeholder {
    color: var(--text-color);
}

.feedback-form-wrapper {
    padding: 20px;
    color: var(--text-color);
    background: var(--nav-background);
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}

.feedback-form-wrapper .feedback-content {
    margin-top: 30px;
}

.feedback-form-wrapper button.opinion {
    padding: 15px;
    font-weight: bold;
    background: none;
    color: white;
    border: none;
}

.feedback-form-wrapper button.opinion.like {
    background: #008EBD;
}

.feedback-form-wrapper button.opinion.dislike {
    background: #D4021D;
}

.feedback-form-wrapper i {
    font-size: 25px;
    padding: 5px;
    vertical-align: middle;
}


/****************** POPUP STYLE ******************/

.feedback-form-popup-wrapper .top {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.feedback-form-content-wrapper .fa-window-close {
    display: none;
}

.feedback-form-popup-wrapper .top .title {
    width: 100%;
}

.feedback-form-wrapper {
    position: relative;
    color: var(--text-color);
}

.feedback-form-popup-wrapper .fa-window-close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: inherit;
    color: var(--text-color);
}

.feedback-form-popup-wrapper .fa-window-close:hover {
    cursor: pointer;
}

.feedback-form-popup-wrapper {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.feedback-form-popup-wrapper .feedback-form-wrapper {
    max-width: 90vw;
    margin: 0 auto;
}

.feedback-form-popup-wrapper button.opinion {
    width: 100%;
    margin-top: 10px;
}

.plenty-feedback-form > i {
    border: 1px solid;
    border-radius: 50%;
    padding: 5px;
}

/******************* CONTENT STYLE *****************/
.feedback-form-content-wrapper {
    margin-top: 4em;
}

.feedback-form-content-wrapper h6 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: calc(24/16);
}

.feedback-form-content-wrapper .opinion-wrapper {
    display: flex;
}

.feedback-form-content-wrapper .opinion-wrapper .opinion {
    margin-top: 10px;
    width: 50%;
}

.feedback-form-content-wrapper .opinion-wrapper .opinion:first-child {
    margin-right: 15px;
}