@font-face {
    font-family: "plentymarkets-icon-font";
    src: url("../font/plentymarkets-icon-font.ttf") format("truetype"),
    url("../font/plentymarkets-icon-font.woff") format("woff"),
    url("../font/plentymarkets-icon-font.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}