[class^="fa-pif-"], [class*=" fa-pif-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'plentymarkets-icon-font' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-pif-alert:before {
    content: "\e95a";
}
.fa-pif-crm:before {
    content: "\e903";
}
.fa-pif-global-marketing:before {
    content: "\e906";
}
.fa-pif-onlineshop:before {
    content: "\e907";
}
.fa-pif-order-management:before {
    content: "\e915";
}
.fa-pif-payment:before {
    content: "\e916";
}
.fa-pif-pim:before {
    content: "\e917";
}
.fa-pif-plenty-bi:before {
    content: "\e918";
}
.fa-pif-plenty-channel:before {
    content: "\e919";
}
.fa-pif-plentypos:before {
    content: "\e91a";
}
.fa-pif-plugin:before {
    content: "\e91b";
}
.fa-pif-rest-api:before {
    content: "\e91c";
}
.fa-pif-protection:before {
    content: "\e91d";
}
.fa-pif-product-management:before {
    content: "\e91f";
}
.fa-pif-close-search:before {
    content: "\e908";
}
.fa-pif-dark-mode:before {
    content: "\e909";
}
.fa-pif-highlighter:before {
    content: "\e90a";
}
.fa-pif-home:before {
    content: "\e90b";
}
.fa-pif-light-mode:before {
    content: "\e90c";
}
.fa-pif-thumbs-up:before {
    content: "\e90e";
}
.fa-pif-thumbs-down:before {
    content: "\e90f";
}
.fa-pif-plentymarkets:before {
    content: "\e900";
}
.fa-pif-add:before {
    content: "\e910";
}
.fa-pif-minus:before {
    content: "\e911";
}
.fa-pif-left:before {
    content: "\e912";
}
.fa-pif-right:before {
    content: "\e913";
}
.fa-pif-up:before {
    content: "\e914";
}
.fa-pif-down:before {
    content: "\e920";
}
.fa-pif-done:before {
    content: "\e921";
}
.fa-pif-visible:before {
    content: "\e922";
}
.fa-pif-hidden:before {
    content: "\e923";
}
.fa-pif-more-horizontal:before {
    content: "\e924";
}
.fa-pif-more-vertical:before {
    content: "\e925";
}
.fa-pif-burger-menu:before {
    content: "\e926";
}
.fa-pif-list:before {
    content: "\e927";
}
.fa-pif-history:before {
    content: "\e928";
}
.fa-pif-info:before {
    content: "\e929";
}
.fa-pif-faq:before {
    content: "\e92a";
}
.fa-pif-cancel:before {
    content: "\e92b";
}
.fa-pif-live-streams:before {
    content: "\e92c";
}
.fa-pif-process:before {
    content: "\e92d";
}
.fa-pif-pen:before {
    content: "\e92e";
}
.fa-pif-delete:before {
    content: "\e92f";
}
.fa-pif-filter:before {
    content: "\e930";
}
.fa-pif-cloud:before {
    content: "\e931";
}
.fa-pif-cloud-off:before {
    content: "\e932";
}
.fa-pif-grade-empty:before {
    content: "\e933";
}
.fa-pif-grade-full:before {
    content: "\e934";
}
.fa-pif-download:before {
    content: "\e935";
}
.fa-pif-publish:before {
    content: "\e936";
}
.fa-pif-archiv:before {
    content: "\e937";
}
.fa-pif-arrow-both:before {
    content: "\e938";
}
.fa-pif-barcode:before {
    content: "\e939";
}
.fa-pif-bug:before {
    content: "\e93a";
}
.fa-pif-calendar:before {
    content: "\e93b";
}
.fa-pif-call-split:before {
    content: "\e93c";
}
.fa-pif-developer-guide:before {
    content: "\e93d";
}
.fa-pif-email:before {
    content: "\e93e";
}
.fa-pif-eraser:before {
    content: "\e93f";
}
.fa-pif-exit-to-app:before {
    content: "\e940";
}
.fa-pif-intercom:before {
    content: "\e941";
}
.fa-pif-link-variant:before {
    content: "\e942";
}
.fa-pif-listing-blocks:before {
    content: "\e943";
}
.fa-pif-lock:before {
    content: "\e944";
}
.fa-pif-menu-book:before {
    content: "\e945";
}
.fa-pif-order-picking:before {
    content: "\e946";
}
.fa-pif-package-arrow:before {
    content: "\e947";
}
.fa-pif-package-number:before {
    content: "\e948";
}
.fa-pif-package-three:before {
    content: "\e949";
}
.fa-pif-percentage:before {
    content: "\e94a";
}
.fa-pif-phone:before {
    content: "\e94b";
}
.fa-pif-picture:before {
    content: "\e94c";
}
.fa-pif-printer:before {
    content: "\e94d";
}
.fa-pif-qr-code:before {
    content: "\e94e";
}
.fa-pif-quote:before {
    content: "\e94f";
}
.fa-pif-sack-barrow-empty:before {
    content: "\e950";
}
.fa-pif-sack-barrow:before {
    content: "\e951";
}
.fa-pif-search:before {
    content: "\e952";
}
.fa-pif-seminars:before {
    content: "\e953";
}
.fa-pif-settings:before {
    content: "\e954";
}
.fa-pif-sync:before {
    content: "\e955";
}
.fa-pif-technical-support:before {
    content: "\e956";
}
.fa-pif-sales-support:before {
    content: "\e957";
}
.fa-pif-web:before {
    content: "\e958";
}
.fa-pif-wifi:before {
    content: "\e959";
}