:root {
    --plentyGreysSeashell: #F1F1F1;
    --plentyGreysNepal: #AEC5D0;
    --plentyBluesFadedJade: #012e35;
    --plentyBluesTealBlue: #04485b;

    --body-background: var(--plentyGreysNepal);
    --nav-background: var(--plentyGreysSeashell);
    --text-color: var(--plentyBluesFadedJade);
}