<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Matching fields</span></a></li>
<li><a href="#20"><span>2.</span><span> Mapping fields</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Property</span></a>
<ul class="sectlevel3">
<li><a href="#40"><span>2.1.1.</span><span> Position</span></a></li>
<li><a href="#50"><span>2.1.2.</span><span> Name</span></a></li>
<li><a href="#60"><span>2.1.3.</span><span> Section</span></a></li>
<li><a href="#70"><span>2.1.4.</span><span> Property type</span></a></li>
<li><a href="#80"><span>2.1.5.</span><span> Delete property</span></a></li>
<li><a href="#90"><span>2.1.6.</span><span> Remove from groups</span></a></li>
<li><a href="#100"><span>2.1.7.</span><span> Assign to groups</span></a></li>
</ul>
</li>
<li><a href="#110"><span>2.2.</span><span> Selection</span></a>
<ul class="sectlevel3">
<li><a href="#120"><span>2.2.1.</span><span> Delete all values</span></a></li>
<li><a href="#130"><span>2.2.2.</span><span> Delete one value</span></a></li>
<li><a href="#140"><span>2.2.3.</span><span> Add value(s)</span></a></li>
</ul>
</li>
<li><a href="#150"><span>2.3.</span><span> Name</span></a>
<ul class="sectlevel3">
<li><a href="#160"><span>2.3.1.</span><span> Name</span></a></li>
<li><a href="#170"><span>2.3.2.</span><span> Description</span></a></li>
</ul>
</li>
<li><a href="#180"><span>2.4.</span><span> Property group</span></a>
<ul class="sectlevel3">
<li><a href="#190"><span>2.4.1.</span><span> Position</span></a></li>
<li><a href="#200"><span>2.4.2.</span><span> Name</span></a></li>
<li><a href="#210"><span>2.4.3.</span><span> Delete group</span></a></li>
<li><a href="#220"><span>2.4.4.</span><span> Remove variation properties</span></a></li>
<li><a href="#230"><span>2.4.5.</span><span> Add variation properties</span></a></li>
</ul>
</li>
<li><a href="#240"><span>2.5.</span><span> Variation Property Group Name</span></a>
<ul class="sectlevel3">
<li><a href="#250"><span>2.5.1.</span><span> Name</span></a></li>
<li><a href="#260"><span>2.5.2.</span><span> Description</span></a></li>
</ul>
</li>
<li><a href="#270"><span>2.6.</span><span> Property Group Option</span></a>
<ul class="sectlevel3">
<li><a href="#280"><span>2.6.1.</span><span> Group type</span></a></li>
<li><a href="#290"><span>2.6.2.</span><span> Surcharge type</span></a></li>
</ul>
</li>
<li><a href="#300"><span>2.7.</span><span> Amazon</span></a>
<ul class="sectlevel3">
<li><a href="#310"><span>2.7.1.</span><span> Category</span></a></li>
<li><a href="#320"><span>2.7.2.</span><span> Field</span></a></li>
<li><a href="#330"><span>2.7.3.</span><span> Platform</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Properties</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page explains the matching and mapping fields that you can use while importing properties and property groups.

This page serves purely as a reference and it assumes that you already have a basic understanding of the <a href="/en/data/importing-data/ElasticSync">import tool</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Matching fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-matching-fields-properties">Table 1</a> explains the fields that are available for matching property data.
During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-matching-fields-properties" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Matching fields for property data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file lists the property IDs? Choose this column here. This option is useful if you want to <em>update existing properties</em>.</p>
<p class="tableblock"><strong><em>Background info</em></strong>: Every new property automatically receives an ID, which can not be changed. The ID is used to uniquely identify the property. Because the ID is unique, it’s a good way to check whether the imported data record already exists in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file contains the property name? Choose this column here. This option is useful if you want to <em>create new properties</em>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property group ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file lists the group IDs? Choose this column here. This option is useful if you want to <em>update existing property groups</em>.</p>
<p class="tableblock"><strong><em>Background info</em></strong>: Every new property group automatically receives an ID, which can not be changed. The ID is used to uniquely identify the group. Because the ID is unique, it’s a good way to check whether the imported data record already exists in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property group name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file contains the property group name? Choose this column here. This option is useful if you want to <em>create new property groups</em>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Mapping fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter explains the fields that are available for mapping property data.
Use these fields to specify which <em>column of your file</em> corresponds to which <em>data field in your system</em>.</p>
</div>
<div class="paragraph instruction">
<p>Basic procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong><em>In your CSV file</em></strong>: Enter a valid import value into a column.</p>
</li>
<li>
<p><strong><em>In plentymarkets</em></strong>: Assign this column to the appropriate mapping field.</p>
</li>
<li>
<p><strong><em>After the import</em></strong>: Check the result in the back end.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">No mapping field? Default value applies!</div>
<div class="paragraph">
<p>If you don’t include a certain piece of information in your CSV file, i.e. if you <em>don’t use</em> a certain mapping field, then your property will be given the default value.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="30">2.1. Property</h3>
<div class="sect3">
<h4 id="40">2.1.1. Position</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span> for creating a new property</p>
</div>
<div class="paragraph">
<p>Which property should be displayed first, second, third, etc?
Enter a position number in the CSV file.
If the variation, contact or storage location has multiple properties, then these properties will be displayed in ascending order by their position numbers.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/properties#700">Setup » Settings » Properties » Configuration » Entry field: Position</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="50">2.1.2. Name</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span> for creating a new property</p>
</div>
<div class="paragraph">
<p>Enter the property name in the CSV file.
Write the text in your plentymarkets system’s default language.
Additionally, use the field <a href="/en/data/importing-data/sync-types/elasticSync-properties#160">Name / Name</a> if you want to save the name in other languages too.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/properties#700">Setup » Settings » Properties » Configuration » Entry field: Name</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="60">2.1.3. Section</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span> for creating a new property</p>
</div>
<div class="paragraph">
<p>What do you want to use the property for?
Enter the corresponding section in the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Options in the drop-down list in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>item</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>contact</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>stock</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage location</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/properties#600">Setup » Settings » Properties » Configuration » Drop-down list: Section</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="70">2.1.4. Property type</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span> for creating a new property</p>
</div>
<div class="paragraph">
<p>What sort of property do you want to create?
Enter the corresponding type in the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Options in the drop-down list in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>empty</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">None</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>date</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>file</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">File</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>int</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Int</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>float</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Float</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>longText</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Long text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>shortText</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Short text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>selection</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Selection</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/properties#600">Setup » Settings » Properties » Configuration » Drop-down list: Property type</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="80">2.1.5. Delete property</h4>
<div class="paragraph">
<p>Do you want to delete the property?</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>0</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Property is <em>not</em> deleted.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Property is deleted.</p></td>
</tr>
</tbody>
</table>
<hr>
</div>
<div class="sect3">
<h4 id="90">2.1.6. Remove from groups</h4>
<div class="paragraph">
<p>Do you want to remove the property from a group?
Enter the group’s ID in the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric (internal group ID)</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/properties#700">Setup » Settings » Properties » Configuration » Drop-down list: Group</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="100">2.1.7. Assign to groups</h4>
<div class="paragraph">
<p>Do you want to sort the property into an existing group?
Enter the group’s ID in the CSV file.</p>
</div>
<div class="paragraph">
<p>Existing groups will not be overwritten.
In other words, if the property already belongs to a group and you import a second group, then the property will belong to both groups.
Use the field <a href="/en/data/importing-data/sync-types/elasticSync-properties#90">Remove from groups</a> if you want to remove an existing group.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric (internal group ID)</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/properties#700">Setup » Settings » Properties » Configuration » Drop-down list: Group</a></p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="110">2.2. Selection</h3>
<div class="sect3">
<h4 id="120">2.2.1. Delete all values</h4>
<div class="paragraph">
<p>Do you want to delete all of the values that were saved for a property of the type “Selection”?</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>0</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The selection values will <em>not</em> be deleted.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All of the selection values will be deleted.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/properties#760">Setup » Settings » Properties » Configuration » Values</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="130">2.2.2. Delete one value</h4>
<div class="paragraph">
<p>Do you want to delete a value from a property of the type “Selection”?</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric (internal value ID)</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/properties#760">Setup » Settings » Properties » Configuration » Values</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="140">2.2.3. Add value(s)</h4>
<div class="paragraph">
<p>Do you want to add a value to a property of the type “Selection”?
Enter the name of the value in the CSV file.
If you want to save multiple values, enter the names into the column one after the other. Separate them by semicolon and do not use a space between them.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/properties#760">Setup » Settings » Properties » Configuration » Values</a></p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="150">2.3. Name</h3>
<div class="sect3">
<h4 id="160">2.3.1. Name</h4>
<div class="paragraph">
<p>Enter the property name in the CSV file.</p>
</div>
<div class="paragraph">
<p>In contrast to the field <a href="/en/data/importing-data/sync-types/elasticSync-properties#50">Property / Name</a>, you can use this field to save the property name in multiple languages.
Add the field once per language.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down list to select the language.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/properties#700">Setup » Settings » Properties » Configuration » Entry field: Name</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="170">2.3.2. Description</h4>
<div class="paragraph">
<p>Enter a description of the property into the CSV file.
If you want to save the description in multiple languages, then add the field once per language.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down list to select the language.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/properties#700">Setup » Settings » Properties » Configuration » Entry field: Description</a></p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="180">2.4. Property group</h3>
<div class="sect3">
<h4 id="190">2.4.1. Position</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span> for creating a new property group</p>
</div>
<div class="paragraph">
<p>Which property group should be displayed first, second, third, etc?
Enter a position number in the CSV file.
If the variation, contact or storage location has properties from multiple groups, then these groups will be displayed in ascending order by their position numbers.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/properties#1250">Setup » Settings » Properties » Groups » Entry field: Position</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="200">2.4.2. Name</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span> for creating a new property group</p>
</div>
<div class="paragraph">
<p>Enter the name of the property group in the CSV file.
Write the text in your plentymarkets system’s default language.
Additionally, use the field <a href="/en/data/importing-data/sync-types/elasticSync-properties#250">Variation Property Group Name / Name</a> if you want to save the name in other languages too.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/properties#1250">Setup » Settings » Properties » Groups » Entry field: Name</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="210">2.4.3. Delete group</h4>
<div class="paragraph">
<p>Do you want to delete the property group?</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>0</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Group will <em>not</em> be deleted</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Group will be deleted</p></td>
</tr>
</tbody>
</table>
<hr>
</div>
<div class="sect3">
<h4 id="220">2.4.4. Remove variation properties</h4>
<div class="paragraph">
<p>Do you want to remove the properties from the group?</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>0</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Properties will <em>not</em> be removed</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Properties will be removed</p></td>
</tr>
</tbody>
</table>
<hr>
</div>
<div class="sect3">
<h4 id="230">2.4.5. Add variation properties</h4>
<div class="paragraph">
<p>Do you want to add properties to the group?
Enter the property ID into the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="240">2.5. Variation Property Group Name</h3>
<div class="sect3">
<h4 id="250">2.5.1. Name</h4>
<div class="paragraph">
<p>Enter the name of the property group in the CSV file.</p>
</div>
<div class="paragraph">
<p>In contrast to the field <a href="/en/data/importing-data/sync-types/elasticSync-properties#200">Property group / Name</a>, you can use this field to save the group names in multiple languages.
Add the field once per language.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down list to select the language.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/properties#1250">Setup » Settings » Properties » Groups » Entry field: Name</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="260">2.5.2. Description</h4>
<div class="paragraph">
<p>Enter a description of the property group into the CSV file.
If you want to save the description in multiple languages, then add the field once per language.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down list to select the language.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/properties#1250">Setup » Settings » Properties » Groups » Entry field: Description</a></p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="270">2.6. Property Group Option</h3>
<div class="sect3">
<h4 id="280">2.6.1. Group type</h4>
<div class="paragraph">
<p>How many additional options or services should your customers be able to choose from the group?
Enter the corresponding type in the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>none</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Options in the drop-down list in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>none</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">None</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>select</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>multiselect</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Multiselect</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/properties#1250">Setup » Settings » Properties » Groups » Drop-down list: Group type</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="290">2.6.2. Surcharge type</h4>
<div class="paragraph">
<p>Do you plan on offering extra services or options for an additional fee? If so, then specify whether the surcharge should be treated as a percentage or as a fixed price, e.g. 5% or 5 EUR.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>none</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Options in the drop-down list in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>none</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">None</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>flat</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flat</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>percental</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Percental</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/properties#1250">Setup » Settings » Properties » Groups » Drop-down list: Surcharge type</a></p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="300">2.7. Amazon</h3>
<div class="paragraph">
<p>The following chapter contains information about the available fields for linking properties with Amazon via the import.</p>
</div>
<div class="sect3">
<h4 id="310">2.7.1. Category</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span> for linking properties with Amazon</p>
</div>
<div class="paragraph">
<p>Enter the category name into the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>none</code></p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <a href="/en/markets/amazon/preparing-variations#1395">Setup » Settings » Properties » Configuration » tab: Amazon</a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="320">2.7.2. Field</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span> for linking properties with Amazon</p>
</div>
<div class="paragraph">
<p>Enter the field name into the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>none</code></p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <a href="/en/markets/amazon/preparing-variations#1395">Setup » Settings » Properties » Configuration » tab: Amazon</a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="330">2.7.3. Platform</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span> for linking properties with Amazon</p>
</div>
<div class="paragraph">
<p>Enter the Amazon platform into the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>none</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Options in the drop-down list in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>de</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.de</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>uk</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.co.uk</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>us</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.com</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>fr</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.fr</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>it</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.it</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>es</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.es</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>ca</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.ca</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>mx</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.com.mx</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>nl</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.nl</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>pl</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.pl</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>se</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.se</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <a href="/en/markets/amazon/preparing-variations#1395">Setup » Settings » Properties » Configuration » tab: Amazon</a>.</p>
</div>
</div>
</div>
</div>
</div>
</main>