<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Fields for matching newsletter recipients</span></a></li>
<li><a href="#200"><span>2.</span><span> Fields for mapping newsletter recipients</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Newsletter recipient</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With syncs of the type <strong>Newsletter recipient</strong>, you import new newsletter data or update existing data records. This data contains for example the email address as well as the birthday and name of the newsletter recipient.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Fields for matching newsletter recipients</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following field is available for matching newsletter recipients:</p>
</div>
<table id="table-matching-field-newsletter-recipient" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Fields for matching newsletter recipients</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Matching field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the email address to which the newsletter is sent</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Fields for mapping newsletter recipients</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-mapping-fields-newsletter-recipients">Table 2</a> lists the fields available for importing serial number data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-mapping-fields-newsletter-recipients" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Fields for importing newsletter recipients</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the email address to which the newsletter is sent</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the folder</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the folder in which the email address of the newsletter recipient is saved</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">First name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">First name of the newsletter recipient</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last name of the newsletter recipient</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email address of the newsletter recipient</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gender</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gender of the newsletter recipient</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Birthday</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of birth of the newsletter recipient</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template language</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Language that is saved for the email template.<br>
<strong><em>Note:</em></strong> The language is set in the <strong>Email message</strong> tab of the email template.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Confirmed at</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date when the newsletter recipient confirmed the newsletter receipt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Confirmation link</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Confirmation link that the contact has to click in the email template to register for the newsletter receipt.<br>
<strong><em>Note:</em></strong> The confirmation link can be inserted in the email template via the template variable <strong>$NewsletterConfirmURL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">IP address</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">IP address that the contact used to confirm the newsletter registration.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>