<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Matching fields</span></a></li>
<li><a href="#20"><span>2.</span><span> Mapping fields</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Category</span></a>
<ul class="sectlevel3">
<li><a href="#40"><span>2.1.1.</span><span> Parent category ID</span></a></li>
<li><a href="#50"><span>2.1.2.</span><span> Parent category name</span></a></li>
<li><a href="#60"><span>2.1.3.</span><span> Type</span></a></li>
<li><a href="#70"><span>2.1.4.</span><span> In link list</span></a></li>
<li><a href="#80"><span>2.1.5.</span><span> right</span></a></li>
<li><a href="#90"><span>2.1.6.</span><span> Visible</span></a></li>
<li><a href="#100"><span>2.1.7.</span><span> Delete category</span></a></li>
<li><a href="#110"><span>2.1.8.</span><span> Create parent category if not found</span></a></li>
</ul>
</li>
<li><a href="#120"><span>2.2.</span><span> Category settings</span></a>
<ul class="sectlevel3">
<li><a href="#130"><span>2.2.1.</span><span> Name</span></a></li>
<li><a href="#140"><span>2.2.2.</span><span> Description 1</span></a></li>
<li><a href="#150"><span>2.2.3.</span><span> Description 2</span></a></li>
<li><a href="#160"><span>2.2.4.</span><span> Short description</span></a></li>
<li><a href="#170"><span>2.2.5.</span><span> Meta keywords</span></a></li>
<li><a href="#180"><span>2.2.6.</span><span> Meta description</span></a></li>
<li><a href="#190"><span>2.2.7.</span><span> Meta title</span></a></li>
<li><a href="#200"><span>2.2.8.</span><span> URL name</span></a></li>
<li><a href="#210"><span>2.2.9.</span><span> Position</span></a></li>
<li><a href="#220"><span>2.2.10.</span><span> Template list</span></a></li>
<li><a href="#230"><span>2.2.11.</span><span> Template product</span></a></li>
<li><a href="#240"><span>2.2.12.</span><span> Template page</span></a></li>
<li><a href="#250"><span>2.2.13.</span><span> Full text search</span></a></li>
<li><a href="#260"><span>2.2.14.</span><span> Robots</span></a></li>
<li><a href="#270"><span>2.2.15.</span><span> Translate placeholder</span></a></li>
<li><a href="#280"><span>2.2.16.</span><span> Canonical</span></a></li>
</ul>
</li>
<li><a href="#290"><span>2.3.</span><span> Elmar</span></a>
<ul class="sectlevel3">
<li><a href="#300"><span>2.3.1.</span><span> Elmar-category</span></a></li>
<li><a href="#310"><span>2.3.2.</span><span> Delete existing</span></a></li>
</ul>
</li>
<li><a href="#320"><span>2.4.</span><span> Client (store)</span></a>
<ul class="sectlevel3">
<li><a href="#330"><span>2.4.1.</span><span> Active</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Categories</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page explains the matching and mapping fields that you can use while importing categories.

This page serves purely as a reference and it assumes that you already have a basic understanding of the <a href="/en/data/importing-data/ElasticSync">import tool</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Practical example: Importing new categories</div>
<div class="paragraph">
<p>Imagine you’re new to plentymarkets and you want to import all of your category data at once. How would that work? Take a look at <a href="/en/data/importing-data/elasticsync-best-practices/best-practices-elasticsync-categories">this practical example</a>, which guides you through the process step-by-step.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Matching fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-matching-fields-categories">Table 1</a> explains the fields that are available for matching category data.
During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-matching-fields-categories" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Matching fields for importing categories</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file lists the category IDs? Choose this column here.
This option is useful if you want to <em>update existing categories</em>.</p>
<p class="tableblock"><strong><em>Background info</em></strong>: Every new category automatically receives an ID, which can not be changed.
The ID is used to uniquely identify the category.
Since the ID is unique, it’s a good way to check whether the imported data record already exists in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Combined category name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file contains the complete category path? Choose this column from the first drop-down list and choose the separator from the second drop-down list.
This option is useful if you want to <em>create new categories</em>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Mapping fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter explains the fields that are available for mapping category data.
Use these fields to specify which <em>column of your file</em> corresponds to which <em>data field in your system</em>.</p>
</div>
<div class="paragraph instruction">
<p>Basic procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong><em>In your CSV file</em></strong>: Enter a valid import value into a column.</p>
</li>
<li>
<p><strong><em>In plentymarkets</em></strong>: Assign this column to the appropriate mapping field.</p>
</li>
<li>
<p><strong><em>After the import</em></strong>: Check the result in the back end.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">No mapping field? Default value applies!</div>
<div class="paragraph">
<p>If you don’t include a certain piece of information in your CSV file, i.e. if you <em>don’t use</em> a certain mapping field, then your category will be given the default value.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="30">2.1. Category</h3>
<div class="sect3">
<h4 id="40">2.1.1. Parent category ID</h4>
<div class="paragraph">
<p>Enter the higher-level category ID in your CSV file.
This tells plentymarkets how the categories relate to each other.
For example, whether a row of the CSV file should be interpreted as a subcategory and if so, which category is above it.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric (internal category ID)</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="50">2.1.2. Parent category name</h4>
<div class="paragraph">
<p>Enter the higher-level category name in your CSV file.
This tells plentymarkets how the categories relate to each other.
For example, whether a row of the CSV file should be interpreted as a subcategory and if so, which category is above it.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="60">2.1.3. Type</h4>
<div class="paragraph">
<p>What do you want to use the category for? In plentymarkets, categories can be used to <em>group products together</em> or to create <em>content pages</em> for your store.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>item</code></p>
</div>
<table id="table-mapping-categories-type" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Options in the drop-down list in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>item</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item.
Product groups that help you structure your merchandise clearly. <a href="/en/item/settings/categories#300">New categories</a> are given the type <strong>Item</strong> by default.<br>
If you’ve <a href="/en/item/settings/categories#1300">already linked a category to items</a> and you switch the type from <strong>Item</strong> to <strong>Content</strong>, then the item links will not automatically be deleted. However, the category will no longer be displayed in the item data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>container</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Container.
This type of category is no longer in use. It was only relevant for the outdated “Callisto” shop.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>content</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Content.
Content pages for the plentyShop, e.g. information pages such as terms and conditions, payment information and shipping information.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>blog</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Blog.
Do you write a <a href="/en/online-store/setting-up-ceres#970">blog for your plentyShop</a>? You can use blog categories to sort your entries into specific topics like “News” or “About us”.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-use-case">Item » Category » Tab: Settings » Drop-down list: Type</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="70">2.1.4. In link list</h4>
<div class="paragraph">
<p>Decide whether the category should be displayed in the online store’s navigation.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-categories-linklist" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Options in the drop-down list in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not display</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Display</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-in-link-list">Item » Category » Tab: Settings » Drop-down list: In link list</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="80">2.1.5. right</h4>
<div class="paragraph">
<p>Decide whether the category should only be visible for users who have logged in.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>all</code></p>
</div>
<table id="table-mapping-categories-right" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Options in the drop-down list in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>all</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Public</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>customer</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">After login</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-login">Item » Category » Tab: Settings » Drop-down list: Visible</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="90">2.1.6. Visible</h4>
<div class="paragraph">
<p>Decide whether the category should be included in the sitemap.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-categories-visible" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Options in the drop-down list in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not display</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Display</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-sitemap">Item » Category » Tab: Settings » Drop-down list: Sitemap</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="100">2.1.7. Delete category</h4>
<div class="paragraph">
<p>Do you want to delete the category?</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-categories-delete-category" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category will <em>not</em> be deleted</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category will be deleted</p></td>
</tr>
</tbody>
</table>
<hr>
</div>
<div class="sect3">
<h4 id="110">2.1.8. Create parent category if not found</h4>
<div class="paragraph">
<p>Do you want to create the category directly above it, if this category doesn’t already exist?</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-categories-create-parent" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Parent category will <em>not</em> be created</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Parent category will be created</p></td>
</tr>
</tbody>
</table>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="120">2.2. Category settings</h3>
<div class="sect3">
<h4 id="130">2.2.1. Name</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span></p>
</div>
<div class="paragraph">
<p>Enter the category name into the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down lists to select the language and the webstore.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-category-name">Item » Category » Tab: Settings » Entry field: Name</a></p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: You can re-use category names as long as they are used in different categories or on different levels.
Within one category, however, the names may only be used once per level.</p>
</div>
<div class="paragraph">
<p><strong><em>SEO tip</em></strong>: Enter different meta titles and meta descriptions for categories of the same name.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="140">2.2.2. Description 1</h4>
<div class="paragraph">
<p>Enter the category description into the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down lists to select the language and the webstore.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#800">Item » Category » Tab: Description 1</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="150">2.2.3. Description 2</h4>
<div class="paragraph">
<p>Enter the category description into the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down lists to select the language and the webstore.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#800">Item » Category » Tab: Description 2</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="160">2.2.4. Short description</h4>
<div class="paragraph">
<p>Enter the short description into the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down lists to select the language and the webstore.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-short-description">Item » Category » Tab: Settings » Entry field: Short description</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="170">2.2.5. Meta keywords</h4>
<div class="paragraph">
<p>Enter keywords into the CSV file that potential customers are likely to enter into search engines and that relate to the content of the category.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down lists to select the language and the webstore.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-meta-keywords">Item » Category » Tab: Settings » Entry field: Meta keywords</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="180">2.2.6. Meta description</h4>
<div class="paragraph">
<p>Enter a meta description (max. 350 characters) into the CSV file.
The meta description is analysed by search engines. As such, it is especially important for the homepage.
The meta description should contain the most important content in one sentence.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down lists to select the language and the webstore.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-meta-description">Item » Category » Tab: Settings » Entry field: Meta description</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="190">2.2.7. Meta title</h4>
<div class="paragraph">
<p>Enter a meta title into the CSV file.
The meta title is displayed in the tab title of the browser and in search engine results.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down lists to select the language and the webstore.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-meta-data">Item » Category » Tab: Settings » Entry field: Meta title</a></p>
</div>
<div class="paragraph">
<p><strong><em>SEO tip</em></strong>: Pay attention to the length of the title.
Longer titles are cut off in the tabs.
Currently recommended: max. 50 characters</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="200">2.2.8. URL name</h4>
<div class="paragraph">
<p>Enter a URL name into the CSV file.
This name is used to form the category URL.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: URL name = Category name</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down lists to select the language and the webstore.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-url">Item » Category » Tab: Settings » Entry field: URL name</a></p>
</div>
<div class="paragraph">
<p><strong><em>Example</em></strong>: The URL name <code>new-category</code> will transform into the URL <code>www.your-domain.com/new-category</code></p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>:
You can re-use URL names as long as they are used in different categories or on different levels.
Within one category, however, the URL names may only be used once per level.</p>
</div>
<div class="paragraph">
<p><strong><em>SEO tip</em></strong>:
Because no client (store) is selected when the category is created, the automatically created URL is not indexed by search engines.
However, in terms of SEO it is best not to change the URL name after the category has been activated for a client.</p>
</div>
<div class="paragraph">
<p><strong><em>Important</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>URL names cannot consist only of numbers.</p>
</li>
<li>
<p>URL names cannot contain special characters. As such, only enter ASCII code.</p>
</li>
<li>
<p>Do not enter the following characters at the beginning of a URL name:<br>
a-, b-, c-, f-, fa-, p-, t-<br>
These prefixes are deleted automatically. For instance, "a-class" is changed to "class" automatically. For example, for a category named "a-class", you should enter the URL name "aclass".</p>
</li>
</ul>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="210">2.2.9. Position</h4>
<div class="paragraph">
<p>Enter a position number in the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>0</code></p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down lists to select the language and the webstore.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-position">Item » Category » Tab: Settings » Entry field: Position</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="220">2.2.10. Template list</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> This function is out-dated. It only applied to the old "Callisto" shop.</p>
</div>
<div class="paragraph">
<p>Enter the name of the template into the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: ItemViewCategoriesList</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down lists to select the language and the webstore.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-template-list">Item » Category » Tab: Settings » Drop-down list: Template list</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="230">2.2.11. Template product</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> This function is out-dated. It only applied to the old "Callisto" shop.</p>
</div>
<div class="paragraph">
<p>Enter the name of the template into the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: ItemViewSingleItem</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down lists to select the language and the webstore.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-template-product">Item » Category » Tab: Settings » Drop-down list: Template product</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="240">2.2.12. Template page</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> This function is out-dated. It only applied to the old "Callisto" shop.</p>
</div>
<div class="paragraph">
<p>Enter the name of the template into the CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: PageDesignContent</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down lists to select the language and the webstore.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-template-page">Item » Category » Tab: Settings » Drop-down list: Template page</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="250">2.2.13. Full text search</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> This function is out-dated. It only applied to the old "Callisto" shop.</p>
</div>
<div class="paragraph">
<p>Decide whether the category should be added to the store’s category search index.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down lists to select the language and the webstore.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-categories-fulltext" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Options in the drop-down list in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">No</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Yes</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-full-text-search">Item » Category » Tab: Settings » Drop-down list: Full text search</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="260">2.2.14. Robots</h4>
<div class="paragraph">
<p>Decide how search engine crawlers should deal with the page and any links on the page.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down lists to select the language and the webstore.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>all</code></p>
</div>
<table id="table-mapping-categories-robots" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Options in the drop-down list in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>all</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">all</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>index</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">index</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>nofollow</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">nofollow</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>noindex</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">noindex</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>nofollow_noindex</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">nofollow, noindex</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-robots">Item » Category » Tab: Settings » Drop-down list: Robots</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="270">2.2.15. Translate placeholder</h4>
<div class="paragraph">
<p>Decide whether template variables and template functions should be translated.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down lists to select the language and the webstore.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>Y</code></p>
</div>
<table id="table-mapping-categories-placeholder" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Options in the drop-down list in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>Y</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Yes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>N</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">No</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>L</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template variables and template functions for links only</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-variables-functions">Item » Category » Tab: Settings » Drop-down list: Translate template variables and template functions</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="280">2.2.16. Canonical</h4>
<div class="paragraph">
<p>Is there another category with the same content? If so, then enter the URL for this category into your CSV file.
The URL is limited to a maximum of 256 characters.
This prevents so-called “duplicate content”.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down lists to select the language and the webstore.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-canonical">Item » Category » Tab: Settings » Entry field: Canonical</a></p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="290">2.3. Elmar</h3>
<div class="sect3">
<h4 id="300">2.3.1. Elmar-category</h4>
<div class="paragraph">
<p>Enter the name of the Elmar category into your CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down list to select the webstore.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-elmar-category">Item » Category » Tab: Settings » Drop-down list: Elmar category</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="310">2.3.2. Delete existing</h4>
<div class="paragraph">
<p>Do you want to delete the Elmar category link?</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-categories-delete-elmar-link" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Link will <em>not</em> be deleted</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Link will be deleted</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down list to select the webstore.
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="320">2.4. Client (store)</h3>
<div class="sect3">
<h4 id="330">2.4.1. Active</h4>
<div class="paragraph">
<p>Should the category be activated for a particular store?</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Also use the drop-down list to select the webstore.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-categories-client-active" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Result in the back end</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Not activated</em> for the specified client.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Activated</em> for the specified client.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can find the result of the import in the back end menu: <a href="/en/item/settings/categories#intable-client">Item » Category » Tab: Settings » Check box: Client (store)</a></p>
</div>
</div>
</div>
</div>
</div>
</main>