<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#2010"><span>1.</span><span> Fields for order matching</span></a></li>
<li><a href="#2020"><span>2.</span><span> Fields for order mapping</span></a>
<ul class="sectlevel2">
<li><a href="#2030"><span>2.1.</span><span> Order</span></a>
<ul class="sectlevel3">
<li><a href="#2040"><span>2.1.1.</span><span> Type ID</span></a></li>
<li><a href="#2050"><span>2.1.2.</span><span> Status ID</span></a></li>
<li><a href="#2060"><span>2.1.3.</span><span> Owner ID</span></a></li>
<li><a href="#2070"><span>2.1.4.</span><span> Referrer ID</span></a></li>
<li><a href="#2080"><span>2.1.5.</span><span> PlentyID</span></a></li>
<li><a href="#2090"><span>2.1.6.</span><span> Location ID</span></a></li>
<li><a href="#2120"><span>2.1.7.</span><span> Parent order ID</span></a></li>
</ul>
</li>
<li><a href="#2130"><span>2.2.</span><span> Order item</span></a>
<ul class="sectlevel3">
<li><a href="#2140"><span>2.2.1.</span><span> Type</span></a></li>
<li><a href="#2150"><span>2.2.2.</span><span> Referrer</span></a></li>
<li><a href="#2160"><span>2.2.3.</span><span> Name</span></a></li>
<li><a href="#2170"><span>2.2.4.</span><span> Attribute value</span></a></li>
<li><a href="#2180"><span>2.2.5.</span><span> VAT rate</span></a></li>
<li><a href="#2190"><span>2.2.6.</span><span> VAT value</span></a></li>
<li><a href="#2200"><span>2.2.7.</span><span> Quantity</span></a></li>
<li><a href="#2210"><span>2.2.8.</span><span> Variation ID</span></a></li>
<li><a href="#2220"><span>2.2.9.</span><span> Position</span></a></li>
<li><a href="#2230"><span>2.2.10.</span><span> Currency</span></a></li>
<li><a href="#2240"><span>2.2.11.</span><span> Exchange rate</span></a></li>
<li><a href="#2250"><span>2.2.12.</span><span> Purchase price</span></a></li>
<li><a href="#2260"><span>2.2.13.</span><span> Gross price</span></a></li>
<li><a href="#2260"><span>2.2.14.</span><span> Net price</span></a></li>
<li><a href="#2270"><span>2.2.15.</span><span> Surcharge</span></a></li>
<li><a href="#2280"><span>2.2.16.</span><span> Discount</span></a></li>
<li><a href="#2290"><span>2.2.17.</span><span> Percentual discount</span></a></li>
</ul>
</li>
<li><a href="#2300"><span>2.3.</span><span> Order item properties</span></a>
<ul class="sectlevel3">
<li><a href="#2310"><span>2.3.1.</span><span> Value</span></a></li>
</ul>
</li>
<li><a href="#2320"><span>2.4.</span><span> Order note</span></a>
<ul class="sectlevel3">
<li><a href="#2330"><span>2.4.1.</span><span> Text</span></a></li>
</ul>
</li>
<li><a href="#2340"><span>2.5.</span><span> Address relation</span></a>
<ul class="sectlevel3">
<li><a href="#2350"><span>2.5.1.</span><span> Address ID</span></a></li>
</ul>
</li>
<li><a href="#2360"><span>2.6.</span><span> Order property</span></a>
<ul class="sectlevel3">
<li><a href="#2370"><span>2.6.1.</span><span> Value</span></a></li>
</ul>
</li>
<li><a href="#2380"><span>2.7.</span><span> Order date</span></a>
<ul class="sectlevel3">
<li><a href="#2390"><span>2.7.1.</span><span> Date</span></a></li>
</ul>
</li>
<li><a href="#2400"><span>2.8.</span><span> Order relation</span></a>
<ul class="sectlevel3">
<li><a href="#2410"><span>2.8.1.</span><span> Reference ID</span></a></li>
</ul>
</li>
<li><a href="#2420"><span>2.9.</span><span> Address</span></a>
<ul class="sectlevel3">
<li><a href="#2430"><span>2.9.1.</span><span> Name 1 (Company)</span></a></li>
<li><a href="#2440"><span>2.9.2.</span><span> Name 2 (First name)</span></a></li>
<li><a href="#2450"><span>2.9.3.</span><span> Name 3 (Last name)</span></a></li>
<li><a href="#2460"><span>2.9.4.</span><span> Name 4 (Additional)</span></a></li>
<li><a href="#2470"><span>2.9.5.</span><span> Address 1 (Street)</span></a></li>
<li><a href="#2480"><span>2.9.6.</span><span> Address 2 (House number)</span></a></li>
<li><a href="#2490"><span>2.9.7.</span><span> Address 3 (Additional)</span></a></li>
<li><a href="#2500"><span>2.9.8.</span><span> Address 4 (Free)</span></a></li>
<li><a href="#2510"><span>2.9.9.</span><span> Postcode</span></a></li>
<li><a href="#2520"><span>2.9.10.</span><span> Town</span></a></li>
<li><a href="#2530"><span>2.9.11.</span><span> Country ID</span></a></li>
<li><a href="#2540"><span>2.9.12.</span><span> State ID</span></a></li>
<li><a href="#2550"><span>2.9.13.</span><span> VAT number</span></a></li>
<li><a href="#2560"><span>2.9.14.</span><span> Telephone</span></a></li>
<li><a href="#2570"><span>2.9.15.</span><span> Email</span></a></li>
</ul>
</li>
<li><a href="#2580"><span>2.10.</span><span> Shipping package</span></a>
<ul class="sectlevel3">
<li><a href="#2590"><span>2.10.1.</span><span> Weight (g)</span></a></li>
<li><a href="#2600"><span>2.10.2.</span><span> Package number</span></a></li>
<li><a href="#2610"><span>2.10.3.</span><span> Return package number</span></a></li>
<li><a href="#2620"><span>2.10.4.</span><span> Packing unit type</span></a></li>
<li><a href="#2630"><span>2.10.5.</span><span> Pallet ID</span></a></li>
<li><a href="#2640"><span>2.10.6.</span><span> Is closed</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Orders</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page explains the matching and mapping fields that you can use while importing Orders.

This page serves purely as a reference and it assumes that you already have a basic understanding of the <a href="/en/data/importing-data/ElasticSync">import tool</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Practical example: Order items</div>
<div class="paragraph">
<p>You can find further information about importing and updating order items in the practical example <a href="/en/data/importing-data/elasticsync-best-practices/best-practices-elasticsync-order-items">Order items</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="2010">1. Fields for order matching</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-matching-fields-order">Table 1</a> explains the fields that are available for matching order data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-matching-fields-order" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Matching fields for importing orders</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Setting</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file lists the order IDs? Choose this column here. Optionally, you can decide if you want to define whether you have listed <strong>Order IDs</strong> or <strong>External order IDs</strong>.<br>
This option is useful if you want to <strong>update existing orders</strong>.<br></p>
<p class="tableblock"><em>Background info</em>: Every new order automatically receives an ID, which cannot be changed. The ID is used to uniquely identify the order. Because the ID is unique, it’s a good way to check whether the imported order already exists in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Package</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file lists the shipping package IDs? Choose this column here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file lists the order items? Choose this column here. Then select whether your CSV file contains <strong>Order item IDs</strong>, <strong>External item IDs</strong> or <strong>External token IDs</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which column of your CSV file lists the variation IDs? Choose this column here.  Then select whether your CSV file contains <strong>Marketplace SKUs</strong>, <strong>External variation IDs</strong>, <strong>Variation numbers</strong>, <strong>Manufacturer variation number</strong>, <strong>Barcode: GTIN 13</strong>, <strong>Barcode: GTIN 128</strong>, Barcode: UPC* or <strong>Barcode: ISBN</strong>.<br>
If you choose this matching field, the information stored in the system about this variation is loaded and added to the order.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Creating new orders with the import</div>
<div class="paragraph">
<p>If you want to create new orders with the import, leave the fields in the <strong>Matching</strong> area empty.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="2020">2. Fields for order mapping</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter explains the fields that are available for mapping order data.
Use these fields to specify which <em>column of your file</em> corresponds to which <em>data field in your system</em>.</p>
</div>
<div class="paragraph instruction">
<p>Basic procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong><em>In your CSV file</em></strong>: Enter a valid import value into a column.</p>
</li>
<li>
<p><strong><em>In plentymarkets</em></strong>: Assign this column to the appropriate mapping field.</p>
</li>
<li>
<p><strong><em>After the import</em></strong>: Check the result in the back end.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">No mapping field? Default value applies!</div>
<div class="paragraph">
<p>If you don’t include a certain piece of information in your CSV file, i.e. if you <em>don’t use</em> a certain mapping field, then your order will be given the default value.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="2030">2.1. Order</h3>
<div class="sect3">
<h4 id="2040">2.1.1. Type ID</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span></p>
</div>
<div class="paragraph">
<p>What kind of order is it? Enter the corresponding ID into your CSV file.<br>
The different order types are represented numerically by an ID in the import. When you enter the ID, the system knows which kind of order type it is.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<table id="table-mapping-ordertype" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Permitted import values in CSV file</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Result in the back end</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>2</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>3</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Return</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>4</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Credit note</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>5</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warranty</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>6</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Repair</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>7</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Offer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>8</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Advance order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>9</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Multi-order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>10</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Multi credit note</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>11</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Redistribution</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>12</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reorder</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="2050">2.1.2. Status ID</h4>
<div class="paragraph">
<p>Which status do you want to assign the order? Enter this status into your CSV file.<br>
28 order statuses are set in the system but you can define additional statuses. Available for this are 19 statuses with 4 decimal places each. Go to the <strong>Setup » Orders » Status</strong> menu to edit the statuses. For more information go to the section <a href="/en/orders/managing-orders#1200">Using the order status</a> of the manual.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Settings » field: Status</strong> as well as in the order overview.</p>
</div>
</div>
<div class="sect3">
<h4 id="2060">2.1.3. Owner ID</h4>
<div class="paragraph">
<p>To which owner should the order be assigned? Enter the owner ID into your CSV file.<br>
You can find the owner IDs in the back end menu <strong>Setup » Settings » User » Accounts</strong>. Make sure that the assigned owner has the required user rights for the are <strong>Orders</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import  in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Settings » field: Owner</strong> as well as in the order overview.</p>
</div>
</div>
<div class="sect3">
<h4 id="2070">2.1.4. Referrer ID</h4>
<div class="paragraph">
<p>Which referrer should be assigned to the order? Enter the ID of the referrer into your CSV file.<br>
Referrers are stored in the system with IDs. Some referrers are not editable. You can manually add referrers. You can find referrers in the menu <strong>Setup » Orders » Order referrer</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: The default referrer set in the order settings</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import  in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Settings » field: Referrer</strong> as well as in the order overview.</p>
</div>
</div>
<div class="sect3">
<h4 id="2080">2.1.5. PlentyID</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span></p>
</div>
<div class="paragraph">
<p>Which client applies to the order? Enter the plentyID of the client into your CSV file.<br>
You can find the plentyID of the client in the <strong>Setup » Client » <em>Select client</em> » Settings</strong> menu.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
</div>
<div class="sect3">
<h4 id="2090">2.1.6. Location ID</h4>
<div class="paragraph">
<p>Which location applies to the order? Enter the ID of the location into your CSV file.<br>
You can find the location IDs in the <strong>Setup » Client » <em>Select client</em> » Locations</strong> menu.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import  in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Settings » field: Location</strong> as well as in the order overview.</p>
</div>
</div>
<div class="sect3">
<h4 id="2120">2.1.7. Parent order ID</h4>
<div class="paragraph">
<p>Do you want to import or update orders which have higher-ranking orders? If this is the case, enter the IDs of the parent orders into your CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end for example in the order view as well as in the menu <strong>Orders » Edit orders</strong>. IDs of parent orders are displayed with an arrow there.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2130">2.2. Order item</h3>
<div class="sect3">
<h4 id="2140">2.2.1. Type</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span></p>
</div>
<div class="paragraph">
<p>Of which type is the order item? Enter the ID of the order item type into your CSV file.<br>
The order item types represent different cost positions of an order. The costs involved can be negative or positive. If you don’t enter the ID into the column, you can create your own mapping.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<table id="table-mapping-orderitemtype" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Permitted import values in CSV file</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Result in the back end</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>2</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item bundle</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>3</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bundle component</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>4</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Promotional coupon</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>5</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gift card</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>6</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping costs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>7</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment surcharge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>8</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gift wrap</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>9</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unassigned variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>10</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deposit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>11</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order<br>
This order items type can be found in multi-orders, for example.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>12</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reorder</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="2150">2.2.2. Referrer</h4>
<div class="paragraph">
<p>Which referrer should be assigned to the order item? Enter the ID of the referrer into your CSV file.<br>
Referrers are stored in the system with IDs. Some referrers are not editable. You can manually add referrers. You can find referrers in the menu <strong>Setup » Orders » Order referrer</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: The default referrer set in the order settings</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import  in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Settings » field: Referrer</strong> as well as in the order overview.</p>
</div>
</div>
<div class="sect3">
<h4 id="2160">2.2.3. Name</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span></p>
</div>
<div class="paragraph">
<p>Which name does the order item have? Enter the name into your CSV file.<br>
It is assumed by default that the name is entered in the system language. You can assign names to items in the <strong>Item » <em>open item</em> » item tab: Texts » Field: Name</strong> menu.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the <strong>order items table</strong> in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Overview</strong> or in the order overview.</p>
</div>
</div>
<div class="sect3">
<h4 id="2170">2.2.4. Attribute value</h4>
<div class="paragraph">
<p>Which attribute value does the order item have? Enter the name of the attribute value into your CSV file.<br>
It is assumed by default that the attribute value is entered in the system language. Attributes can be colours or sizes, for example. You can add new attributes in the <strong>Setup » Item » Attributes</strong> menu. You can find more information about this in the section <a href="/en/item/settings/attributes">Attributes</a> of the manual.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the <strong>order items table</strong> in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Overview</strong> or in the order overview.</p>
</div>
</div>
<div class="sect3">
<h4 id="2180">2.2.5. VAT rate</h4>
<div class="paragraph">
<p>Which VAT rate does the order item have? Enter this VAT rate into your CSV file.<br>
Enter the percentage value of the VAT rate without the percentage sign. Whether the rate has to be entered separated by commas or points depends on the setting in the <strong>Matching</strong> of the import.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Overview</strong> as well as in the order overview.</p>
</div>
</div>
<div class="sect3">
<h4 id="2190">2.2.6. VAT value</h4>
<div class="paragraph">
<p>Which VAT value does the order item have? Enter the amount into your CSV file.<br></p>
</div>
<div class="paragraph">
<p>The VAT amount for the quantity 1 is expected by default. Whether the amount has to be entered separated by commas or points depends on the setting in the <strong>Matching</strong> of the import.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Overview</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2200">2.2.7. Quantity</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span></p>
</div>
<div class="paragraph">
<p>In which quantity is the order item added to the order? Enter the quantity into your CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Overview</strong> as well as in the order overview.</p>
</div>
</div>
<div class="sect3">
<h4 id="2210">2.2.8. Variation ID</h4>
<div class="paragraph">
<p>Enter the ID of the variation into your CSV file. You can find the ID for example in the overview table in the <strong>Item » Edit item</strong> menu.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the <strong>order items table</strong> in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Overview</strong> or in the order overview.</p>
</div>
</div>
<div class="sect3">
<h4 id="2220">2.2.9. Position</h4>
<div class="paragraph">
<p>Enter the position of the order item into your CSV file. The position reflects the sorting of the order items in the order.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the <strong>order items table</strong> in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Overview</strong> or in the order overview.</p>
</div>
</div>
<div class="sect3">
<h4 id="2230">2.2.10. Currency</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span></p>
</div>
<div class="paragraph">
<p>In which currency is the order? Enter the currency into your CSV file.<br>
You can find an overview of the currencies and their ISO codes that are available in plentymarkets in the section <a href="/en/data/internal-IDs#60">Currencies</a> in the manual.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import  in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Overview » field: Currency</strong> as well as in the order overview.</p>
</div>
</div>
<div class="sect3">
<h4 id="2240">2.2.11. Exchange rate</h4>
<div class="paragraph">
<p>Enter the exchange rate of the order currency into the default currency into your CSV file.<br>
You can find the default currency in the <strong>Setup » Orders » Payment » Currencies</strong> menu.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: If no exchange rate is entered, the exchange rate set in the <strong>Setup » Orders » Payment » Currencies</strong> menu is taken.</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Settings » field: Exchange rate</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2250">2.2.12. Purchase price</h4>
<div class="paragraph">
<p>Which purchase price does the order item have? Enter the price for the quantity 1 into your CSV file.<br>
Whether the price has to be entered separated by commas or points depends on the setting in the <strong>Matching</strong> of the import.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>The purchase price is not displayed in the order. But the purchase price enables the calculation of the profit margin which you can find in the <strong>Orders » Edit orders » <em>open order</em> » tab: Overview » field: Return on sale net</strong> menu.</p>
</div>
</div>
<div class="sect3">
<h4 id="2260">2.2.13. Gross price</h4>
<div class="paragraph">
<p>Which gross price does the order item have? Enter the price for the quantity 1 into your CSV file.<br>
Whether the price has to be entered separated by commas or points depends on the setting in the <strong>Matching</strong> of the import.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import  in the back end menu in the order items table in the <strong>Orders » Edit orders</strong> menu.The total gross value is displayed in the <strong>Orders » Edit orders » tab: Overview » field: Gross value of items</strong> menu.</p>
</div>
</div>
<div class="sect3">
<h4 id="2260">2.2.14. Net price</h4>
<div class="paragraph">
<p>Which net price does the order item have? Enter the price for the quantity 1 into your CSV file.<br>
Whether the price has to be entered separated by commas or points depends on the setting in the <strong>Matching</strong> of the import.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import  in the back end menu in the order items table in the <strong>Orders » Edit orders</strong> menu.The total net value is displayed in the <strong>Orders » Edit orders » tab: Overview » field: Net value of items</strong> menu.</p>
</div>
</div>
<div class="sect3">
<h4 id="2270">2.2.15. Surcharge</h4>
<div class="paragraph">
<p>Is there a surcharge for the order item? Then enter this surcharge for the quantity 1 into your CSV file.<br>
Whether the surcharge has to be entered separated by commas or points depends on the setting in the <strong>Matching</strong> of the import.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
</div>
<div class="sect3">
<h4 id="2280">2.2.16. Discount</h4>
<div class="paragraph">
<p>Is there a discount for the order item? Then enter this discount for the quantity 1 into your CSV file.<br>
Whether the discount has to be entered separated by commas or points depends on the setting in the <strong>Matching</strong> of the import.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu in the order items table in the <strong>Orders » Edit orders</strong> menu.</p>
</div>
</div>
<div class="sect3">
<h4 id="2290">2.2.17. Percentual discount</h4>
<div class="paragraph">
<p>Is there a percentual discount for the order item? Then enter this percentual discount into your CSV file.<br>
Whether the discount has to be entered separated by commas or points depends on the setting in the <strong>Matching</strong> of the import.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu in the order items table in the <strong>Orders » Edit orders</strong> menu.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2300">2.3. Order item properties</h3>
<div class="sect3">
<h4 id="2310">2.3.1. Value</h4>
<div class="paragraph">
<p>Which properties does the order item have? Enter the value into your CSV file and then select in the mapping the corresponding property type.<br>
You can enter several property types. You have to add a column to your CSV file for every property type and then select the corresponding mapping.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>Available property types:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Warehouse</p>
</li>
<li>
<p>Weight</p>
</li>
<li>
<p>Width</p>
</li>
<li>
<p>Length</p>
</li>
<li>
<p>Height</p>
</li>
<li>
<p>External token ID</p>
</li>
<li>
<p>External item ID</p>
</li>
<li>
<p>Coupon code</p>
</li>
<li>
<p>Coupon type</p>
</li>
<li>
<p>Unit</p>
</li>
<li>
<p>External shipping item ID</p>
</li>
<li>
<p>Return reason</p>
</li>
<li>
<p>Item status</p>
</li>
<li>
<p>External order item ID</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Own property types for order items can be created via the <a href="https://developers.plentymarkets.com/api-doc/Order#element_113" target="_blank" rel="noopener">Interface</a> or via <a href="https://developers.plentymarkets.com/rest-doc#/Order/post_rest_orders_properties_types" target="_blank" rel="noopener">REST</a>. However, they are not displayed in the UI.<br></p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2320">2.4. Order note</h3>
<div class="sect3">
<h4 id="2330">2.4.1. Text</h4>
<div class="paragraph">
<p>Is there an order note for the order? Enter the text that should be assigned to the order into your CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import  in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Overview » field: Order note</strong></p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2340">2.5. Address relation</h3>
<div class="sect3">
<h4 id="2350">2.5.1. Address ID</h4>
<div class="paragraph">
<p>There already is an existing address for this contact? Enter the ID of the address into your CSV file and define in the mapping whether it is the <strong>Invoice address</strong> or the <strong>Delivery address</strong>.<br>
You can find the address ID in the menu <strong>CRM » Contacts » <em>open contact</em> » area: Details » field: addresses</strong>, for example.  If you want to import a new address, use the mapping fields for <a href="/en/data/importing-data/sync-types/elasticSync-orders#2420">Address</a>.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Overview » fields: Invoice address or delivery address</strong> as well as in the order overview.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2360">2.6. Order property</h3>
<div class="sect3">
<h4 id="2370">2.6.1. Value</h4>
<div class="paragraph">
<p>Which order properties does the order have? Enter the value into your CSV file and then select in the mapping the corresponding property type.<br>
You can enter several property types. You have to add a column to your CSV file for every property type and then select the corresponding mapping.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p><strong><em>Available property types</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Warehouse</p>
</li>
<li>
<p>Shipping profile</p>
</li>
<li>
<p>Payment method</p>
</li>
<li>
<p>Payment status</p>
</li>
<li>
<p>External shipping profile</p>
</li>
<li>
<p>Document language</p>
</li>
<li>
<p>External order ID</p>
</li>
<li>
<p>Customer sign</p>
</li>
<li>
<p>Dunning level</p>
</li>
<li>
<p>Seller account</p>
</li>
<li>
<p>Flag</p>
</li>
<li>
<p>Document number</p>
</li>
<li>
<p>Sales tax identification number</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Own property types for orders can be created via the <a href="https://developers.plentymarkets.com/api-doc/Order#element_113" target="_blank" rel="noopener">Interface</a> oder per <a href="https://developers.plentymarkets.com/rest-doc#/Order/post_rest_orders_properties_types" target="_blank" rel="noopener">REST</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2380">2.7. Order date</h3>
<div class="sect3">
<h4 id="2390">2.7.1. Date</h4>
<div class="paragraph">
<p>You want to assign a specific date to the order? Enter the date in the format you set in the <strong>Matching</strong> into your CSV file and select in the mapping which date type it is.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p><strong><em>Available date types</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Deleted on</p>
</li>
<li>
<p>Created on</p>
</li>
<li>
<p>Paid on</p>
</li>
<li>
<p>Last update</p>
</li>
<li>
<p>Outgoing items booked on</p>
</li>
<li>
<p>Returned date</p>
</li>
<li>
<p>Payment due date</p>
</li>
<li>
<p>Estimated shipping date</p>
</li>
<li>
<p>Estimated delivery date</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Overview » field: Input</strong> as well as in the order overview.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2400">2.8. Order relation</h3>
<div class="sect3">
<h4 id="2410">2.8.1. Reference ID</h4>
<div class="paragraph">
<p>Do you want to assign a specific relation to the order? Enter the ID of the reference into your CSV file.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<table id="table-mapping-orderrelation" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Selection in mapping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Explanation</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contact - Sender</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID you have to enter is the ID of an existing contact. This contact is then taken the sender of the order. You can find the ID of the contact in the back end in the overview table of the <strong>CRM » Contacts</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contact - Receiver</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID you have to enter is the ID of an existing contact. This contact is then taken the receiver of the order. You can find the ID of the contact in the back end in the overview table of the <strong>CRM » Contacts</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account - Sender</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID you have to enter is the ID of an existing account. This account is then taken as the sender of the order.  You can find the ID of the account in the back end when you click on <strong>Edit</strong> in the <strong>Account</strong> area in the <strong>CRM » Contacts</strong> menu. The ID of the account is displayed in the header of the opened window.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account - Receiver</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID you have to enter is the ID of an existing account. This account is then taken as the receiver of the order. You can find the ID of the account in the back end when you click on <strong>Edit</strong> in the <strong>Account</strong> area in the <strong>CRM » Contacts</strong> menu. The ID of the account is displayed in the header of the opened window.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse - Sender</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID you have to enter is the ID of an existing warehouse. This warehouse is then taken as the sender of the order. You can find the ID of a warehouse in the back end menu <strong>Setup » Stock » Warehouse » <em>select warehouse</em> » Settings</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse - Receiver</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The ID you have to enter is the ID of an existing warehouse. This warehouse is then taken as the receiver of the order. You can find the ID of a warehouse in the back end menu <strong>Setup » Stock » Warehouse » <em>select warehouse</em> » Settings</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="2420">2.9. Address</h3>
<div class="paragraph">
<p>Do you want to assign a new address to the order? Then use the mapping fields in this area and enter the corresponding values into your CSV file. You have to select for each of the mapping fields whether it is the <strong>Invoice address</strong> or the <strong>Delivery address</strong>.<br>
If you want to assign an already existing address use the mapping fields <a href="/en/data/importing-data/sync-types/elasticSync-orders#2350">Address ID</a>.</p>
</div>
<div class="sect3">
<h4 id="2430">2.9.1. Name 1 (Company)</h4>
<div class="paragraph">
<p>Enter the company name of the contact you want to assign to the order into your CSV file. Select in the mapping whether this is the <strong>Invoice address</strong> or the <strong>Delivery address</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Customer</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2440">2.9.2. Name 2 (First name)</h4>
<div class="paragraph">
<p>Enter the first name of the contact you want to assign to the order into your CSV file. Select in the mapping whether this is the <strong>Invoice address</strong> or the <strong>Delivery address</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Customer</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2450">2.9.3. Name 3 (Last name)</h4>
<div class="paragraph">
<p>Enter the last name of the contact you want to assign to the order into your CSV file. Select in the mapping whether this is the <strong>Invoice address</strong> or the <strong>Delivery address</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Customer</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2460">2.9.4. Name 4 (Additional)</h4>
<div class="paragraph">
<p>Enter the additional names of the contact you want to assign to the order into your CSV file. Select in the mapping whether this is the <strong>Invoice address</strong> or the <strong>Delivery address</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Customer</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2470">2.9.5. Address 1 (Street)</h4>
<div class="paragraph">
<p>Enter the street of the contact you want to assign to the order into your CSV file. Select in the mapping whether this is the <strong>Invoice address</strong> or the <strong>Delivery address</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Customer</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2480">2.9.6. Address 2 (House number)</h4>
<div class="paragraph">
<p>Enter the house number of the contact you want to assign to the order into your CSV file. Select in the mapping whether this is the <strong>Invoice address</strong> or the <strong>Delivery address</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Customer</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2490">2.9.7. Address 3 (Additional)</h4>
<div class="paragraph">
<p>Enter additional address information of the contact you want to assign to the order into your CSV file. Select in the mapping whether this is the <strong>Invoice address</strong> or the <strong>Delivery address</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Customer</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2500">2.9.8. Address 4 (Free)</h4>
<div class="paragraph">
<p>Enter free address information of the contact you want to assign to the order into your CSV file. Select in the mapping whether this is the <strong>Invoice address</strong> or the <strong>Delivery address</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Customer</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2510">2.9.9. Postcode</h4>
<div class="paragraph">
<p>Enter the postcode of the contact you want to assign to the order into your CSV file. Select in the mapping whether this is the <strong>Invoice address</strong> or the <strong>Delivery address</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Customer</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2520">2.9.10. Town</h4>
<div class="paragraph">
<p>Enter the town of the contact you want to assign to the order into your CSV file. Select in the mapping whether this is the <strong>Invoice address</strong> or the <strong>Delivery address</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Customer</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2530">2.9.11. Country ID</h4>
<div class="paragraph">
<p>Enter the country ID of the contact you want to assign to the order into your CSV file. Select in the mapping whether this is the <strong>Invoice address</strong> or the <strong>Delivery address</strong>.<br>
The ID of the delivery country is expected by default. You can find the country IDs in the menu <strong>Setup » Orders » Shipping » Settings » Tab: Countries of delivery</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Customer</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2540">2.9.12. State ID</h4>
<div class="paragraph">
<p>Enter the state ID of the contact you want to assign to the order into your CSV file. Select in the mapping whether this is the <strong>Invoice address</strong> or the <strong>Delivery address</strong>.<br>
List of all countries for which states/provinces are available, including the IDs of the states/provinces: link:<a href="https://www.plentymarkets.eu/documents/category/3507/Bundeslaender.pdf">PDF file including a list of states and provinces</a></p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Customer</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2550">2.9.13. VAT number</h4>
<div class="paragraph">
<p>Enter the VAT number of the contact you want to assign to the order into your CSV file. Select in the mapping whether this is the <strong>Invoice address</strong> or the <strong>Delivery address</strong>.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Customer</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2560">2.9.14. Telephone</h4>
<div class="paragraph">
<p>Enter the telephone number of the contact you want to assign to the order into your CSV file. Select in the mapping whether this is the <strong>Invoice address</strong> or the <strong>Delivery address</strong>.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Customer</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2570">2.9.15. Email</h4>
<div class="paragraph">
<p>Enter the Email of the contact you want to assign to the order into your CSV file. Select in the mapping whether this is the <strong>Invoice address</strong> or the <strong>Delivery address</strong>.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Customer</strong>.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2580">2.10. Shipping package</h3>
<div class="paragraph">
<p>Do you want to add shipping information to the order? Then use the mapping fields in this area and enter the corresponding values into your CSV file. You have to select for each mapping field in this area what kind of shipping package it is.<br>
You can set up a shipping package in the <strong>Setup » Orders » Shipping » Shipping packages</strong> menu. You can find more information on shipping packages in the section <a href="/en/fulfilment/preparing-the-shipment#1900">Creating a shipping package</a> in the manual.</p>
</div>
<div class="sect3">
<h4 id="2590">2.10.1. Weight (g)</h4>
<div class="paragraph">
<p>Enter the weight of the package in gram into your CSV file. Select in the mapping what kind of shipping package it is.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import  in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Overview » field: Weight</strong> as well as in the order overview table.</p>
</div>
</div>
<div class="sect3">
<h4 id="2600">2.10.2. Package number</h4>
<div class="paragraph">
<p>Enter the package number of the package into your CSV file. You can enter more than one package number in one row by dividing them by comma or you add them with one package number per row. Select in the mapping what kind of shipping package it is.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Orders » Edit orders » <em>open order</em> » tab: Settings » field: Package number</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2610">2.10.3. Return package number</h4>
<div class="paragraph">
<p>Enter the return package number of the package  into your CSV file. You can enter more than one return package number in one row by dividing them by comma or you add them with one return package number per row. Select in the mapping what kind of shipping package it is.<br>
You can find the return package numbers in the back end menu <strong>Orders » Shipping centre » tab: Returns</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Alpha-numeric</p>
</div>
</div>
<div class="sect3">
<h4 id="2620">2.10.4. Packing unit type</h4>
<div class="paragraph">
<p>Enter the ID of the Packing unit type into your CSV file. Select in the mapping what kind of shipping package it is.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<table id="table-mapping-packingunittype" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Permitted import values in CSV file</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Result in the back end</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">No packaging</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bale</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>2</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dispenser</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>3</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coil</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>4</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Roll pallet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>5</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Colli</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>6</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Container</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>7</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bucket</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>8</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Cask</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>9</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bottles</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>10</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">European flat pallet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>11</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Structural frame</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>12</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gas cylinder</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>13</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pallet cage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>14</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hobbock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>15</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Half pallet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>16</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pallet of food items</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>17</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wooden coaster</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>18</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">IBC container</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>19</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pitcher</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>20</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wicker bottle</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>21</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Case</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>22</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Canister</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>23</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer pallet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>24</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Cardboard box</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>25</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Composite packaging</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>26</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Package</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>27</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ring</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>28</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Role</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>29</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sack</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>30</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Piece</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>31</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tank</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>32</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Drum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>34</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Crate</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>35</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quarter pallet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>36</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Other pallets</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>37</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bin</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>38</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">One-way pallet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>39</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Foil bag</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="2630">2.10.5. Pallet ID</h4>
<div class="paragraph">
<p>Enter the pallet ID into your CSV file. Select in the mapping what kind of shipping package it is.<br>
You can find the pallet ID in the back end menu <strong>Orders » Package content</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
</div>
<div class="sect3">
<h4 id="2640">2.10.6. Is closed</h4>
<div class="paragraph">
<p>Decide, whether the shipping package is closed or nor. Select in the mapping what kind of shipping package it is.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<table id="table-notes-visible" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Permitted import values in CSV file</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The shipping package is still open. Changes can still be made.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The shipping package is closed. Changes cannot be made.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</main>