<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Fields for matching campaign data</span></a></li>
<li><a href="#200"><span>2.</span><span> Fields for mapping campaign data</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Campaigns</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With an import of the type <strong>Campaign</strong>, you import coupon campaigns.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Fields for matching campaign data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following fields are available for matching campaign data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Campaign ID</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Fields for mapping campaign data</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-mapping-fields-campaign-data">Table 1</a> explains the fields that are available for matching campaign data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-mapping-fields-campaign-data" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Mapping fields for importing campaign data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Campaign ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the campaign</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">External ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External ID of the campaign</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the campaign</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Description</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Description of the campaign</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">End date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">End date of the campaign</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Start date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Start date of the campaign</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimum order value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimum order value that must be reached in order that the coupon can be redeemed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Code validity in weeks</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of weeks for which the coupon codes are valid.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Code length</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of characters of the coupon codes.<br>
<strong><em>Note:</em></strong> Coupon codes can have a length of 6, 16, 24 or 32 characters.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Single orders and subscriptions<br>
Single orders only<br>
Subscriptions only</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use of the campaign</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Concept: Code</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">One code<br>
Several codes</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>One code = One coupon code is generated per campaign and can be redeemed multiple times.<br></p>
</li>
<li>
<p>Several codes = Individual coupon codes are generated that can only be redeemed once.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Concept: Redemptions</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Several redemptions per customer<br>
One redemption per customer<br>
Redemption until value is depleted<br>
One single redemption</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Several redemptions per customer = A customer can redeem the entire coupon amount multiple times.<br></p>
</li>
<li>
<p>One redemption per customer = A customer can either redeem the entire coupon amount once or partial amounts.<br></p>
</li>
<li>
<p>Redemption until value is depleted = The entire coupon amount can only be redeemed once. The coupon can not be redeemed by multiple customers.<br></p>
</li>
<li>
<p>One single redemption = Only one redemption is possible.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coupon type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Voucher<br>
Coupon</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coupons are redeemed in the online store. Vouchers are not redeemed in the online store, but through third parties.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Code assignment</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Generate new code(s)<br>
Use existing code (s)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The code assignment is only available when the coupon type <strong>Voucher</strong> is selected.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Coupon variety</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Promotional coupon<br>
Gift card</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The coupon variety is only available when the coupon type <strong>Coupon</strong> is selected.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Discount type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fixed amount<br>
Percentage<br>
Piece<br>
Shipping</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Discount type of the coupon.<br>
Possible values when the coupon variety <strong>Promotional coupon</strong> is selected: <strong>Fixed amount</strong>, <strong>Percentage</strong>, <strong>Piece</strong>, <strong>Shipping</strong>.<br>
Possible values when the coupon variety <strong>Gift card</strong> is selected: <strong>Fixed amount</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Discount value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Discount value of the coupon</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Incl. shipping costs</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping costs can be included in the discount value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items coming from price comparison portals</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allow whether coupons can also be redeemed for items coming from price comparison portals, i.e. items that are also offered on other marketplaces.<br>
<strong><em>Note:</em></strong> Price comparison portals are all referrers &gt; 1. This means that besides price comparison portals, also marketplaces and platforms are included. The referrers <strong>Manuel entry (referrer ID 0)</strong> and <strong>Online store (referrer ID 1)</strong> are not affected.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Categories</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Categories for which the coupon can be redeemed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item for which the coupon can be redeemed.<br>
<strong><em>Note:</em></strong> Up to 20 items can be added.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Clients (stores)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Client (store) for which the coupon can be redeemed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer classes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer classes for which the coupon can be redeemed.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>