<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Matching fields</span></a></li>
<li><a href="#200"><span>2.</span><span> Mapping fields</span></a>
<ul class="sectlevel3">
<li><a href="#210"><span>2.1.</span><span> Warehouse ID</span></a></li>
<li><a href="#220"><span>2.2.</span><span> Quantity</span></a></li>
<li><a href="#230"><span>2.3.</span><span> Storage location ID</span></a></li>
<li><a href="#240"><span>2.4.</span><span> Best before</span></a></li>
<li><a href="#250"><span>2.5.</span><span> Batch</span></a></li>
<li><a href="#260"><span>2.6.</span><span> Purchase price</span></a></li>
<li><a href="#270"><span>2.7.</span><span> Reason for stock correction</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Stock</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page explains the matching and mapping fields that you can use while importing stock.

This page serves purely as a reference and it assumes that you already have a basic understanding of the <a href="/en/data/importing-data/ElasticSync">import tool</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Matching fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-matching-fields-stock">Table 1</a> explains the fields that are available for matching stock.
During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-matching-fields-stock" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Matching fields for stock</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Matching field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode<br>
<strong><em>Note</em></strong>: Make sure that you have entered the code for the barcode in the <strong>Settings</strong> tab of the <strong>Item » Edit item</strong> menu. Moreover, in the matching of the import, the name of the barcode (e.g. GTIN 13) has to be selected in the <strong>Barcode</strong> matching field on the right.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Mapping fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter explains the fields that are available for mapping stock.
Use these fields to specify which <em>column of your file</em> corresponds to which <em>data field in your system</em>.</p>
</div>
<div class="paragraph instruction">
<p>Basic procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong><em>In your CSV file</em></strong>: Enter a valid import value into a column.</p>
</li>
<li>
<p><strong><em>In plentymarkets</em></strong>: Assign this column to the appropriate mapping field.</p>
</li>
<li>
<p><strong><em>After the import</em></strong>: Check the result in the back end.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">No mapping field? Default value applies!</div>
<div class="paragraph">
<p>If you don’t include a certain piece of information in your CSV file, i.e. if you <em>don’t use</em> a certain mapping field, then your stock will be given the default value.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="210">2.1. Warehouse ID</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span></p>
</div>
<div class="paragraph">
<p>Enter the ID of the warehouse that contains the stock into your CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <a href="/en/stock-management/setting-up-a-warehouse#1500">Stock » Incoming items » [perform search] » [select incoming items data record] » tab: Item</a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="220">2.2. Quantity</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span></p>
</div>
<div class="paragraph">
<p>Enter the quantity of the stock into your CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <a href="/en/stock-management/managing-incoming-items#500">Stock » Incoming items » [perform search] » [select incoming items data record] » tab: Item</a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="230">2.3. Storage location ID</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span></p>
</div>
<div class="paragraph">
<p>Enter the ID of the storage location that contains the stock into your CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <a href="/en/stock-management/setting-up-a-warehouse#1500">Stock » Incoming items » [perform search] » [select incoming items data record] » tab: Item</a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="240">2.4. Best before</h4>
<div class="paragraph">
<p>Enter the best before date of the item into your CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Date in the format dd.mm.yyyy</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <a href="/en/stock-management/managing-bbd-batch#100">Stock » Incoming items » [perform search] » [select incoming items data record] » tab: Item</a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="250">2.5. Batch</h4>
<div class="paragraph">
<p>Enter the batch of the stock into your CSV file.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <a href="/en/stock-management/managing-bbd-batch#100">Stock » Incoming items » [perform search] » [select incoming items data record] » tab: Item</a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="260">2.6. Purchase price</h4>
<div class="paragraph">
<p>Enter the purchase price of the stock into your CSV file.<br>
<strong><em>Note</em></strong>: When importing negative stock, the purchase price is not overwritten.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric; use the same decimal notation as in the <a href="/en/data/importing-data/ElasticSync#1300">import options</a>.</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Item » Edit item » [open item] » tab: Stock » tab: Item movement</strong>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="270">2.7. Reason for stock correction</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Required field</span></p>
</div>
<div class="paragraph">
<p>Enter the reason for the stock correction.</p>
</div>
<div class="paragraph">
<p><strong><em>Default value</em></strong>: No default value</p>
</div>
<div class="paragraph">
<p><strong><em>Permitted import values</em></strong>: Numeric</p>
</div>
<div class="paragraph">
<p>You can find the result of the import in the back end menu <strong>Item » Edit item » [open item] » tab: Stock » tab: Item movement</strong>.</p>
</div>
<hr>
<table id="table-mapping-reason-stock-correction" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Permitted import values in CSV file</th>
<th class="tableblock halign-left valign-top">Reason for stock correction</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>301</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock correction because of BBD</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>302</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock correction because of stocktaking</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>304</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock correction because of manufacturer error</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>305</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock correction because of maculature</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>306</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock corrector because of packing error</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>307</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock correction because of damage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>309</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock correction (internal offset)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>317</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock correction because of BBD</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>318</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock correction because of shipping items to FBA</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>319</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock correction because of shipping items to fulfilment service provider</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>320</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock correction because of sample for interested parties</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>321</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock correction because of sample for customers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>322</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock correction because of sample</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>323</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock correction because quality models are booked in</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>324</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock correction because quality models are booked out</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>325</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock correction because of gift</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>326</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock correction because of malfunction (without return)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>327</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock correction because of loss</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>330</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock correction because of own use</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>