<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Group function</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Editing items</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Editing variations</span></a></li>
</ul>
</li>
<li><a href="#400"><span>2.</span><span> Batch processing</span></a>
<ul class="sectlevel2">
<li><a href="#500"><span>2.1.</span><span> Editing items</span></a></li>
<li><a href="#600"><span>2.2.</span><span> Editing variations</span></a></li>
</ul>
</li>
<li><a href="#650"><span>3.</span><span> Import &amp; Export</span></a></li>
<li><a href="#700"><span>4.</span><span> Search &amp; replace</span></a></li>
<li><a href="#800"><span>5.</span><span> Copying items and variations</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Mass processing</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Your business is booming and you’ve already built a solid product portfolio.
But how do you best deal with item data in your day-to-day work?
plentymarkets includes several functions for processing items.
<a href="#table-batch-processing-item-filter">Table 1</a> compares the possibilities and uses examples to illustrate them.</p>
</div>
<table id="table-batch-processing-item-filter" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Functions for processing items</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 83.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Function</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/import-export-create/create/mass-processing#100">Group function</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>Examples</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>you want to choose the items that should be included in a special sale.</p>
</li>
<li>
<p>you want to choose the items whose prices should be increased.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Technical specifications</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>edits several items or variations at once.</p>
</li>
<li>
<p>you directly choose the items or variations that should be edited.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/import-export-create/create/mass-processing#400">Batch processing</a></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong><em>Examples</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>you want all of the items in a particular category to be included in a special sale.</p>
</li>
<li>
<p>you want to increase the price of all the items that are manufactured by a certain company.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Technical specifications</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>edits several items or variations at once.</p>
</li>
<li>
<p>you use filters to limit which items or variations should be edited.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/import-export-create/create/mass-processing#650">Import &amp; Export</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the import &amp; export, e.g. if you want to modify several items and variations at once.
Export a CSV file containing product data.
Then revise the file and import it again.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/import-export-create/create/mass-processing#700">Search &amp; replace</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Imagine you just found out that your manufacturer renamed a part.
Now it’s your job to change the name in all of your item texts.
Use the search &amp; replace function to globally change a word or phrase in all of your item texts.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/import-export-create/create/mass-processing#800">Copy</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Imagine you want to add a new item to your product portfolio.
It’s really similar to an existing product.
In this case, copy the existing product.
Then change the settings that differ for the new item.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">1. Group function</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the group function to <em>edit several items or variations at once</em>.
You’ll directly choose the items or variations that should be edited.
For example, you can use the group function to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>choose the items that should be included in a special sale.</p>
</li>
<li>
<p>choose the items whose prices should be increased.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="200">1.1. Editing items</h3>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/assets/group-function-item.png" alt="group function item">
</div>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Item</strong>.</p>
</li>
<li>
<p>Choose additional <a href="/en/item/introduction/search#100">filters on the left</a> if needed and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the items to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Item group function</strong>.<br>
→ The <strong>Item group function</strong> window opens.</p>
</li>
<li>
<p>Apply one or more of the <em>editing options</em>. To do so:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Use the checkboxes on the left (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to specify which options you want to edit.</p>
</li>
<li>
<p>Then configure the settings on the right.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong> to apply the settings to the items.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Editing options</strong></div>
<div class="content">
<h5 id="_multi_channel" class="discrete">Multi-Channel</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Online store special</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the selected items be highlighted with a <a href="/en/item/online-store/store-specials">store special</a>?
If so, then specify whether you want the items to be a special offer, a new item or a top item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the options in:<br>
<a href="/en/item/managing-items#45">Upper row of tabs » Tab: Multi-Channel</a>.</p></td>
</tr>
</tbody>
</table>
<h5 id="_characteristics" class="discrete">Characteristics</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Create link</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>activated</strong> = The characteristic will be linked to the items.</p>
</li>
<li>
<p><strong>deactivated</strong> = The link will be removed, i.e. the characteristic will no longer be linked to the items.</p>
</li>
<li>
<p><strong>--</strong> = No change will be made.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here you’ll see the internal name of the characteristic.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cross-selling</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to enable <a href="/en/item/online-store/cross-selling">cross-selling</a> between this item and other items that have the same characteristic and value.</p></td>
</tr>
</tbody>
</table>
<h5 id="_procedures" class="discrete">Procedures</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to delete the selected items and their variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete item images</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to delete all of the item images for the selected items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete second item image</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to delete the second item image for the selected items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Create listing</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to create listings on eBay, Hood or Ricardo for the selected items.</p>
<p class="tableblock"><strong><em>Additional settings</em></strong>: Did you <a href="/en/item/managing-items#_listing_default_settings">save a listing template for the item</a>?
The listing template specifies, e.g. whether the listings are for eBay, Hood or Ricardo.
If the item doesn’t have a listing template, then the system will try to create an eBay listing by default, since this is the most common situation.</p>
<p class="tableblock"><strong><em>Example</em></strong>: Imagine you want to create a Hood listing. In this case, you will need to save a listing template for the item.
plentymarkets knows that it should create Hood listings because the Hood account is saved in the template.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Update timestamp for market exports</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets the <strong>Last change</strong> timestamp to the current date and time.</p>
<p class="tableblock"><strong><em>Background</em></strong>: Sometimes it’s necessary to update the timestamp, e.g. <a href="/en/markets/amazon/best-practices-amazon-item-data-export#200">if you want to sell the item on Amazon</a>.
This is because items are only exported to Amazon if they were edited within the last 24 hours.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Update price from in sets</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option is only relevant for <a href="/en/item/use-cases/combining-products#3900">item sets</a>. Use this option to update the so-called “from price” for several items at once.</p></td>
</tr>
</tbody>
</table>
<h5 id="_shipping" class="discrete">Shipping</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete old shipping profiles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to delete old shipping profiles.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturing country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and select the country in which the items were manufactured.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping configuration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate one, multiple or <strong>ALL</strong> shipping profiles. Previously activated profiles can be deleted with the <strong>Delete old shipping profiles</strong> setting.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Condition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and select the item’s condition.</p></td>
</tr>
</tbody>
</table>
<h5 id="_global" class="discrete">Global</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Serial number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option is only relevant for items with serial numbers.
Use this option to <a href="/en/item/use-cases/serial-numbers#900">make several items scannable</a> at once.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item template</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option is only relevant for <a href="/en/item/online-store/callisto-templates">item templates</a>.
Use this option to link the template with several items at once.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use this option to specify the <a href="/en/item/settings/manufacturers">manufacturer</a> for several items at once.
In other words, you link an existing manufacturer data record with several items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag 1;<br>
Flag 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Assigns one or two flags to several items at once.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter up to 11 digits for the <a href="/en/orders/accounting#800">revenue account</a>.</p></td>
</tr>
</tbody>
</table>
<h5 id="_free_text_fields" class="discrete">Free text fields</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Free text field</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and enter a value. This value will be saved in the selected items.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Editing variations</h3>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/assets/group-function-variation.png" alt="group function variation">
</div>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Variations</strong>.</p>
</li>
<li>
<p>Choose additional <a href="/en/item/introduction/search#100">filters on the left</a> if needed and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the variations to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Variation group function</strong>.<br>
→ The <strong>Variation group function</strong> window opens.</p>
</li>
<li>
<p>Apply one or more of the <em>editing options</em>. To do so:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Use the checkboxes on the left (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to specify which options you want to edit.</p>
</li>
<li>
<p>Then configure the settings on the right.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong> to apply the settings to the variations.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Editing options</strong></div>
<div class="content">
<h5 id="_market_availability" class="discrete">Market availability</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which marketplaces do you want to sell the variation on?
Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) all of the appropriate markets.</p>
<p class="tableblock">Corresponds to the options in:<br>
<a href="/en/item/managing-items#350">Lower row of tabs » Tab: Availability » Area: Markets</a></p></td>
</tr>
</tbody>
</table>
<h5 id="_procedures_2" class="discrete">Procedures</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete variation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to delete the selected variations.<br>
<strong><em>Note</em></strong>: Even if main variations are selected, main variations are never deleted.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Update timestamp for market exports</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets the <strong>Last change</strong> timestamp to the current date and time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Make available for client despite negative net stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the lock symbol in <a href="/en/item/managing-items#360">Tab: Availability » Area: Client (store)</a>.</p>
<p class="tableblock"><strong><em>Background info</em></strong>: plentymarkets can automatically remove variations from the plentyShop if they are no longer in stock. This automatic process is controlled by the settings in <a href="/en/item/managing-items#360">Tab: Settings » Area: Availability</a>.</p>
<p class="tableblock">Use this group function if you want to manually make the variation visible in the plentyShop despite the fact that it’s not in stock.</p>
<p class="tableblock">This setting remains valid until new stock is booked for the variation. Once net stock for the variation becomes positive, the availability and visibility settings if net stock is 0 or negative take effect again.</p></td>
</tr>
</tbody>
</table>
<h5 id="_tags" class="discrete">Tags</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to link tags with the selected variations. Click into the field and select the tags that should be added to the variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Remove tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to remove tag links from the selected variations. Click into the field and select the tags that should be removed from the variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Remove all tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to remove all of the tag links from the selected variations.</p></td>
</tr>
</tbody>
</table>
<h5 id="_assign_client_store" class="discrete">Assign client (store)</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which plentyShops do you want to sell the variation in?
Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) all of the appropriate clients.</p>
<p class="tableblock">Corresponds to the options in:<br>
<a href="/en/item/managing-items#360">Lower row of tabs » Tab: Availability » Area: Client (store)</a></p></td>
</tr>
</tbody>
</table>
<h5 id="_prices" class="discrete">Prices</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price calculation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select an existing <a href="/en/item/settings/prices#1000">price calculation</a>.
This will link the price calculation to the selected variations. The variations’ prices will be calculated accordingly.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price change</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Edits the prices of all the selected variations. How exactly the prices are edited depends on how you configured the settings.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select a source price and target price.</p>
</li>
<li>
<p>Select an operator and enter an absolute value or a percentage.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: You can also apply the operators to one single price. Do so by selecting the same sales price as the source and target.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>absolute</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an operator and enter an absolute value.<br>
= The value entered is saved as the new price.<br>
+ The current price is increased by the amount entered.<br>
- The current price is decreased by the amount entered.<br>
/ The current price is divided by the value entered.<br>
* The current price is multiplied by the value entered.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>in percent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an operator and enter a percentage.<br>
+ The current price is increased by the percentage entered.<br>
- The current price is decreased by the percentage entered.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Source price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a sales price from the drop-down list. This price will be applied to the target price.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a sales price from the drop-down list. This price will be changed.<br></p>
<p class="tableblock"><strong><em>Note</em></strong>: If there is no monetary price saved for the variation as this target sales price, then the sales price will be linked and the new monetary price will be saved.<br></p>
<p class="tableblock"><strong><em>Note</em></strong>: If any of the selected variations currently inherit prices from the main variation, inheritance of all prices is deactivated and the prices are saved on the variation level.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
<h5 id="_shipping_2" class="discrete">Shipping</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Extra shipping charge 1;<br>
Extra shipping charge 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and enter a value. This value will be saved as the extra shipping charge for the selected variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customs tariff number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate and enter a <a href="/en/orders/accounting#620">customs tariff number</a>.
In plentymarkets, it’s possible to save a different customs tariff number for each variation.</p>
</div>
<div class="paragraph">
<p><strong><em>Example</em></strong>: In some countries, children’s clothing is taxed differently depending on the size.
In this case, it makes sense to save the customs tariff number separately for each variation.</p>
</div>
<div class="paragraph">
<p><strong><em>Inheritance</em></strong>: The customs tariff number is automatically <a href="/en/item/introduction/inheritance">passed down</a> from the main variation to the sub-variations. This means:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><em>you don’t need to enter customs tariff numbers</em> for your sub-variations if you want them to have the same customs tariff number as the main variation.</p>
</li>
<li>
<p><em>you’ll need to enter a different customs tariff number</em> for all of the sub-variations that should differ from the main variation.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<h5 id="_other" class="discrete">Other</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate GTIN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and select the GTIN type. This will <a href="/en/item/managing-items#600">generate GTINs of this type from the number range</a> for all of the selected variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gross weight;<br>
Net weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and enter a value. This weight value will be saved in the selected variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show unit price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if you want the unit price to be displayed in the plentyShop.</p></td>
</tr>
</tbody>
</table>
<h5 id="_availability" class="discrete">Availability</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variations only become visible in the plentyShop or on marketplaces once they have been activated. In other words, you can work on inactive variations without your customers noticing.
Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to publish the selected variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Symbols 1-10</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the appropriate availability level for the selected variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Always invisible Always invisible</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the option <strong>Item list</strong> in:<br>
<a href="/en/item/managing-items#intable-item-list">Lower row of tabs » Tab: Settings » Area: Availability</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item list Available automatically if net stock is positive</strong>;
<strong>Item list Not available automatically if net stock is 0 or negativ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the option <strong>Item list</strong> in:<br>
<a href="/en/item/managing-items#intable-item-list">Lower row of tabs » Tab: Settings » Area: Availability</a></p></td>
</tr>
</tbody>
</table>
<h5 id="_stock" class="discrete">Stock</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limitation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the option <strong>Limitation</strong> in:<br>
<a href="/en/item/managing-items#intable-limitation">Lower row of tabs » Tab: Settings » Area: Availability</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Main warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and select the main warehouse for the variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reorder level</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate, select a warehouse and enter a value. If the stock reaches or falls below this value, a reorder is created for the variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate, select a warehouse and enter a value to limit the stock of the selected variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock turnover (in days)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate, select a warehouse and enter a value in days. This represents the period in days that the stock of the selected variations will suffice.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate, select a warehouse and the storage location type according to the size of the selected variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate, select a warehouse and a zone for the selected variations if you have divided your warehouse into zones.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Available if net stock is positive</strong>;<br>
<strong>Not available if net stock is 0 or negative</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the options <strong>Show in online store: Available automatically if net stock is positive</strong> and <strong>Show in online store: Not available automatically if net stock is 0 or negativ</strong> in:<br>
<a href="/en/item/managing-items#intable-online-store-available">Lower row of tabs » Tab: Settings » Area: Availability</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Store: visible if net stock is positive</strong>;<br>
<strong>Store: invisible if net stock is 0 or negative</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the options <strong>Client: Visible automatically if net stock is positive</strong> and <strong>Client: Invisible automatically if net stock is 0 or negative</strong> in:<br>
<a href="/en/item/managing-items#intable-online-store-available">Lower row of tabs » Tab: Settings » Area: Availability</a></p></td>
</tr>
</tbody>
</table>
<h5 id="_category" class="discrete">Category</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and select the category. The selected variations will be linked with the category. Existing category links remain unchanged.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete old category link</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to delete existing category links of the selected variations.</p></td>
</tr>
</tbody>
</table>
<h5 id="_automatically_calculate_from_bundle_components" class="discrete">Automatically calculate from bundle components</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Net purchase price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatically calculate the net purchase price.<br>
This setting is only relevant for <a href="/en/item/use-cases/combining-products#2500">item bundles</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Moving average purchase price (net)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatically calculate the moving average purchase price (net).<br>
This setting is only relevant for <a href="/en/item/use-cases/combining-products#2500">item bundles</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gross weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatically calculate the gross weight.<br>
This setting is only relevant for <a href="/en/item/use-cases/combining-products#2500">item bundles</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Net weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatically calculate the net weight.<br>
This setting is only relevant for <a href="/en/item/use-cases/combining-products#2500">item bundles</a>.</p></td>
</tr>
</tbody>
</table>
<h5 id="_inheritance" class="discrete">Inheritance</h5>
<div class="paragraph">
<p>Changes the <a href="/en/item/introduction/inheritance">inheritance behaviour</a> for prices, availability levels, categories, etc.
In other words, specifies whether the data should be passed down from the main variation to whichever sub-variations were chosen in the item overview.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Check mark on the right</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-check-square  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The data (prices, availabilities, categories, etc.) will be passed down from the main variation to whichever sub-variations were chosen in the item overview.
Data that was previously saved for the variation will be overwritten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-square-o  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deactivates the inheritance function.
The main variation’s data will be saved for the sub-variation.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong><em>Note</em></strong>: This group function controls the inheritance of all prices, categories, suppliers etc. saved for the main variation.
It is not possible for individual prices, categories, suppliers, etc. to be inherited.</p>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">2. Batch processing</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use batch processing to <em>edit several items or variations at once</em>.
You’ll set filters to limit which items or variations should be edited.
For example, you can use batch processing to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>put all of the items in a particular category on sale.</p>
</li>
<li>
<p>increase the price of all the items that are manufactured by a certain company.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Batch processing crashes with large quantities</div>
<div class="paragraph">
<p>There may be a timeout if you try to edit too many items or variations at once.
If you need to edit large quantities, then we recommend that you:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>use the <a href="/en/data/importing-data/ElasticSync">import tool</a> instead.</p>
</li>
<li>
<p>divide the batch processing job in smaller parts.
For example, you could work with flags and only edit a sub-set of your items or variations at once.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="500">2.1. Editing items</h3>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/assets/batch-processing-item.png" alt="batch processing item">
</div>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Batch processing</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Item</strong> in the upper left corner.</p>
</li>
<li>
<p>Use the <em>filters on the left</em> to specify which items should be processed.</p>
</li>
<li>
<p>Apply one or more of the <em>editing options on the right</em>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Apply</strong> to apply the settings to the items.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Filters on the left</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an operator and enter an <a href="/en/item/import-export-create/create/new-item#intable-id">item ID</a>.
Only the item with the matching ID will be processed.</p>
<p class="tableblock"><strong><em>Example</em></strong>: If you enter &gt;=205 then the items 205, 206, 207 etc will be processed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation No.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a <a href="/en/item/managing-items#intable-variation-number">variation number</a>.
Items will only be processed if they have a variation with this number.
The % sign can stand for any character.</p>
<p class="tableblock"><strong><em>Example</em></strong>: If you enter new-% then items that have a variation beginning with new- will be processed, e.g. new-45, new-107, new-212.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of a <a href="/en/item/managing-items#intable-manufacturer">manufacturer</a>.
Items will only be processed if they were manufactured by this company.
The % sign can stand for any character.</p>
<p class="tableblock"><strong><em>Example</em></strong>: If you enter Smith% then items will be processed if they were manufactured by a company beginning with Smith, e.g. Smith-Block and Smith &amp; Block Inc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag 1</strong>;<br>
<strong>Flag 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or two <a href="/en/item/import-export-create/create/new-item#intable-flag">Flags</a>.
Items will only be processed if they have this flag or this combination of flags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Condition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a <a href="/en/item/managing-items#intable-condition">condition</a>.
Items will only be processed if they have this condition.</p>
<p class="tableblock"><strong><em>Note</em></strong>: This drop-down list only corresponds to the conditions [0] New and [1] Used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Without category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if you only want to process those items that aren’t sorted into any category.</p>
<p class="tableblock"><strong><em>Only affects older systems</em></strong>: In previous plentymarkets versions, it was possible to create items without linking a category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Categories</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on a category if you only want to process items from this category.</p>
<p class="tableblock"><strong><em>Note</em></strong>: This list only includes the <a href="/en/item/settings/categories">categories</a> that you’ve already saved in plentymarkets.<br></p>
<p class="tableblock"><strong><em>Tip</em></strong>: Click on a category’s folder icon (<span class="icon darkGrey"><i class="fa fa-folder  "></i></span>) on the far left. This displays the subcategories within.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Editing options on the right</strong></div>
<div class="content">
<h5 id="_multi_channel_2" class="discrete">Multi-Channel</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Online store special</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the selected items be highlighted with a <a href="/en/item/online-store/store-specials">store special</a>?
If so, then specify whether you want the items to be a special offer, a new item or a top item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the options in:<br>
<a href="/en/item/managing-items#45">Upper row of tabs » Tab: Multi-Channel</a>.</p></td>
</tr>
</tbody>
</table>
<h5 id="_characteristics_2" class="discrete">Characteristics</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Create link</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>activated</strong> = The characteristic will be linked to the items.</p>
</li>
<li>
<p><strong>deactivated</strong> = The link will be removed, i.e. the characteristic will no longer be linked to the items.</p>
</li>
<li>
<p><strong>--</strong> = No change will be made.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here you’ll see the internal name of the characteristic.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cross-selling</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to enable <a href="/en/item/online-store/cross-selling">cross-selling</a> between this item and other items that have the same characteristic and value.</p></td>
</tr>
</tbody>
</table>
<h5 id="_procedures_3" class="discrete">Procedures</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to delete the selected items and their variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete item images</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to delete all of the item images for the selected items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete second item image</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to delete the second item image for the selected items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Create listing</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to create listings on eBay, Hood or Ricardo for the selected items.</p>
<p class="tableblock"><strong><em>Additional settings</em></strong>: Did you <a href="/en/item/managing-items#_listing_default_settings">save a listing template for the item</a>?
The listing template specifies, e.g. whether the listings are for eBay, Hood or Ricardo.
If the item doesn’t have a listing template, then the system will try to create an eBay listing by default, since this is the most common situation.</p>
<p class="tableblock"><strong><em>Example</em></strong>: Imagine you want to create a Hood listing. In this case, you will need to save a listing template for the item.
plentymarkets knows that it should create Hood listings because the Hood account is saved in the template.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Update timestamp for market exports</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets the <strong>Last change</strong> timestamp to the current date and time.</p>
<p class="tableblock"><strong><em>Background</em></strong>: Sometimes it’s necessary to update the timestamp, e.g. <a href="/en/markets/amazon/best-practices-amazon-item-data-export#200">if you want to sell the item on Amazon</a>.
This is because items are only exported to Amazon if they were edited within the last 24 hours.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Update price from in sets</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option is only relevant for <a href="/en/item/use-cases/combining-products#3900">item sets</a>. Use this option to update the so-called “from price” for several items at once.</p></td>
</tr>
</tbody>
</table>
<h5 id="_shipping_3" class="discrete">Shipping</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete old shipping profiles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to delete old shipping profiles.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturing country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and select the country in which the items were manufactured.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping configuration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate one, multiple or <strong>ALL</strong> shipping profiles. Previously activated profiles can be deleted with the <strong>Delete old shipping profiles</strong> setting.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Condition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and select the item’s condition.</p></td>
</tr>
</tbody>
</table>
<h5 id="_global_2" class="discrete">Global</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Serial number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option is only relevant for items with serial numbers.
Use this option to <a href="/en/item/use-cases/serial-numbers#900">make several items scannable</a> at once.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item template</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option is only relevant for <a href="/en/item/online-store/callisto-templates">item templates</a>.
Use this option to link the template with several items at once.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use this option to specify the <a href="/en/item/settings/manufacturers">manufacturer</a> for several items at once.
In other words, you link an existing manufacturer data record with several items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag 1;<br>
Flag 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Assigns one or two flags to several items at once.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter up to 11 digits for the <a href="/en/orders/accounting#800">revenue account</a>.</p></td>
</tr>
</tbody>
</table>
<h5 id="_free_text_fields_2" class="discrete">Free text fields</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Free text field</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and enter a value. This value will be saved in the selected items.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="600">2.2. Editing variations</h3>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/assets/batch-processing-variation.png" alt="batch processing variation">
</div>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Batch processing</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Variations</strong> in the upper left corner.</p>
</li>
<li>
<p>Use the <em>filters on the left</em> to specify which variations should be processed.</p>
</li>
<li>
<p>Apply one or more of the <em>editing options on the right</em>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Apply</strong> to apply the settings to the variations.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Filters on the left</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an operator and enter an ID to search for the variation with this ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an operator and enter an <a href="/en/item/import-export-create/create/new-item#intable-id">item ID</a>.
All of the items’ variations will be processed.</p>
<p class="tableblock"><strong><em>Example</em></strong>: If you enter &gt;=205 then all of the variations for item 205, 206, 207 etc will be processed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation No.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a <a href="/en/item/managing-items#intable-variation-number">variation number</a>.
Only the variations with a matching number will be processed.
The % sign can stand for any character.</p>
<p class="tableblock"><strong><em>Example</em></strong>: If you enter new-% then variations that have a number beginning with new- will be processed, e.g. new-45, new-107, new-212.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of a <a href="/en/item/managing-items#intable-manufacturer">manufacturer</a>.
Items will only be processed if they were manufactured by this company.
The % sign can stand for any character.</p>
<p class="tableblock"><strong><em>Example</em></strong>: If you enter Smith% then items will be processed if they were manufactured by a company beginning with Smith, e.g. Smith-Block and Smith &amp; Block Inc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag 1</strong>;<br>
<strong>Flag 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or two <a href="/en/item/import-export-create/create/new-item#intable-flag">Flags</a>.
Items will only be processed if they have this flag or this combination of flags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Condition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a <a href="/en/item/managing-items#intable-condition">condition</a>.
Items will only be processed if they have this condition.</p>
<p class="tableblock"><strong><em>Note</em></strong>: This drop-down list only corresponds to the conditions [0] New and [1] Used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Primary variations</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to edit main variations only.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Without category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if you only want to process those variations that aren’t sorted into any category.</p>
<p class="tableblock"><strong><em>Only affects older systems</em></strong>: In previous plentymarkets versions, it was possible to create items without linking a category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to edit variations which are linked with these tags.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Categories</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on a category if you only want to process variations from this category.</p>
<p class="tableblock"><strong><em>Note</em></strong>: This list only includes the <a href="/en/item/settings/categories">categories</a> that you’ve already saved in plentymarkets.<br></p>
<p class="tableblock"><strong><em>Tip</em></strong>: Click on a category’s folder icon (<span class="icon darkGrey"><i class="fa fa-folder  "></i></span>) on the far left. This displays the subcategories within.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Editing options on the right</strong></div>
<div class="content">
<h5 id="_market_availability_2" class="discrete">Market availability</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which marketplaces do you want to sell the variation on?
Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) all of the appropriate markets.</p>
<p class="tableblock">Corresponds to the options in:<br>
<a href="/en/item/managing-items#350">Lower row of tabs » Tab: Availability » Area: Markets</a></p></td>
</tr>
</tbody>
</table>
<h5 id="_procedures_4" class="discrete">Procedures</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete variation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to delete the selected variations.<br>
<strong><em>Note</em></strong>: Even if main variations are selected, main variations are never deleted.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Update timestamp for market exports</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets the <strong>Last change</strong> timestamp to the current date and time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Make available for client despite negative net stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the lock symbol in <a href="/en/item/managing-items#360">Tab: Availability » Area: Client (store)</a>.</p>
<p class="tableblock"><strong><em>Background info</em></strong>: plentymarkets can automatically remove variations from the plentyShop if they are no longer in stock. This automatic process is controlled by the settings in <a href="/en/item/managing-items#360">Tab: Settings » Area: Availability</a>.</p>
<p class="tableblock">Use this group function if you want to manually make the variation visible in the plentyShop despite the fact that it’s not in stock.</p>
<p class="tableblock">This setting remains valid until new stock is booked for the variation. Once net stock for the variation becomes positive, the availability and visibility settings if net stock is 0 or negative take effect again.</p></td>
</tr>
</tbody>
</table>
<h5 id="_tags_2" class="discrete">Tags</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to link tags with the selected variations. Click into the field and select the tags that should be added to the variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Remove tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to remove tag links from the selected variations. Click into the field and select the tags that should be removed from the variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Remove all tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to remove all of the tag links from the selected variations.</p></td>
</tr>
</tbody>
</table>
<h5 id="_assign_client_store_2" class="discrete">Assign client (store)</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which plentyShops do you want to sell the variation in?
Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) all of the appropriate clients.</p>
<p class="tableblock">Corresponds to the options in:<br>
<a href="/en/item/managing-items#360">Lower row of tabs » Tab: Availability » Area: Client (store)</a></p></td>
</tr>
</tbody>
</table>
<h5 id="_prices_2" class="discrete">Prices</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price calculation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select an existing <a href="/en/item/settings/prices#1000">price calculation</a>.
This will link the price calculation to the selected variations. The variations’ prices will be calculated accordingly.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price change</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Edits the prices of all the selected variations. How exactly the prices are edited depends on how you configured the settings.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select a source price and target price.</p>
</li>
<li>
<p>Select an operator and enter an absolute value or a percentage.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: You can also apply the operators to one single price. Do so by selecting the same sales price as the source and target.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>absolute</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an operator and enter an absolute value.<br>
= The value entered is saved as the new price.<br>
+ The current price is increased by the amount entered.<br>
- The current price is decreased by the amount entered.<br>
/ The current price is divided by the value entered.<br>
* The current price is multiplied by the value entered.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>in percent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an operator and enter a percentage.<br>
+ The current price is increased by the percentage entered.<br>
- The current price is decreased by the percentage entered.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Source price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a sales price from the drop-down list. This price will be applied to the target price.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a sales price from the drop-down list. This price will be changed.<br></p>
<p class="tableblock"><strong><em>Note</em></strong>: If there is no monetary price saved for the variation as this target sales price, then the sales price will be linked and the new monetary price will be saved.<br></p>
<p class="tableblock"><strong><em>Note</em></strong>: If any of the selected variations currently inherit prices from the main variation, inheritance of all prices is deactivated and the prices are saved on the variation level.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
<h5 id="_shipping_4" class="discrete">Shipping</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Extra shipping charge 1;<br>
Extra shipping charge 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and enter a value. This value will be saved as the extra shipping charge for the selected variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customs tariff number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate and enter a <a href="/en/orders/accounting#620">customs tariff number</a>.
In plentymarkets, it’s possible to save a different customs tariff number for each variation.</p>
</div>
<div class="paragraph">
<p><strong><em>Example</em></strong>: In some countries, children’s clothing is taxed differently depending on the size.
In this case, it makes sense to save the customs tariff number separately for each variation.</p>
</div>
<div class="paragraph">
<p><strong><em>Inheritance</em></strong>: The customs tariff number is automatically <a href="/en/item/introduction/inheritance">passed down</a> from the main variation to the sub-variations. This means:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><em>you don’t need to enter customs tariff numbers</em> for your sub-variations if you want them to have the same customs tariff number as the main variation.</p>
</li>
<li>
<p><em>you’ll need to enter a different customs tariff number</em> for all of the sub-variations that should differ from the main variation.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<h5 id="_other_2" class="discrete">Other</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate GTIN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and select the GTIN type. This will <a href="/en/item/managing-items#600">generate GTINs of this type from the number range</a> for all of the selected variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gross weight;<br>
Net weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and enter a value. This weight value will be saved in the selected variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show unit price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if you want the unit price to be displayed in the plentyShop.</p></td>
</tr>
</tbody>
</table>
<h5 id="_availability_2" class="discrete">Availability</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variations only become visible in the plentyShop or on marketplaces once they have been activated. In other words, you can work on inactive variations without your customers noticing.
Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to publish the selected variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Symbols 1-10</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the appropriate availability level for the selected variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Always invisible Always invisible</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the option <strong>Item list</strong> in:<br>
<a href="/en/item/managing-items#intable-item-list">Lower row of tabs » Tab: Settings » Area: Availability</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item list Available automatically if net stock is positive</strong>;
<strong>Item list Not available automatically if net stock is 0 or negativ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the option <strong>Item list</strong> in:<br>
<a href="/en/item/managing-items#intable-item-list">Lower row of tabs » Tab: Settings » Area: Availability</a></p></td>
</tr>
</tbody>
</table>
<h5 id="_stock_2" class="discrete">Stock</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limitation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the option <strong>Limitation</strong> in:<br>
<a href="/en/item/managing-items#intable-limitation">Lower row of tabs » Tab: Settings » Area: Availability</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Main warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and select the main warehouse for the variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reorder level</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate, select a warehouse and enter a value. If the stock reaches or falls below this value, a reorder is created for the variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate, select a warehouse and enter a value to limit the stock of the selected variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock turnover (in days)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate, select a warehouse and enter a value in days. This represents the period in days that the stock of the selected variations will suffice.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate, select a warehouse and the storage location type according to the size of the selected variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate, select a warehouse and a zone for the selected variations if you have divided your warehouse into zones.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Available if net stock is positive</strong>;<br>
<strong>Not available if net stock is 0 or negative</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the options <strong>Show in online store: Available automatically if net stock is positive</strong> and <strong>Show in online store: Not available automatically if net stock is 0 or negativ</strong> in:<br>
<a href="/en/item/managing-items#intable-online-store-available">Lower row of tabs » Tab: Settings » Area: Availability</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Store: visible if net stock is positive</strong>;<br>
<strong>Store: invisible if net stock is 0 or negative</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the options <strong>Client: Visible automatically if net stock is positive</strong> and <strong>Client: Invisible automatically if net stock is 0 or negative</strong> in:<br>
<a href="/en/item/managing-items#intable-online-store-available">Lower row of tabs » Tab: Settings » Area: Availability</a></p></td>
</tr>
</tbody>
</table>
<h5 id="_category_2" class="discrete">Category</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate and select the category. The selected variations will be linked with the category. Existing category links remain unchanged.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete old category link</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to delete existing category links of the selected variations.</p></td>
</tr>
</tbody>
</table>
<h5 id="_automatically_calculate_from_bundle_components_2" class="discrete">Automatically calculate from bundle components</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Net purchase price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatically calculate the net purchase price.<br>
This setting is only relevant for <a href="/en/item/use-cases/combining-products#2500">item bundles</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Moving average purchase price (net)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatically calculate the moving average purchase price (net).<br>
This setting is only relevant for <a href="/en/item/use-cases/combining-products#2500">item bundles</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gross weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatically calculate the gross weight.<br>
This setting is only relevant for <a href="/en/item/use-cases/combining-products#2500">item bundles</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Net weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatically calculate the net weight.<br>
This setting is only relevant for <a href="/en/item/use-cases/combining-products#2500">item bundles</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="650">3. Import &amp; Export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the import &amp; export, e.g. if you want to modify several items and variations at once.
Export a CSV file containing product data.
Then revise the file and import it again.</p>
</div>
<h3 id="_procedure" class="discrete">Procedure</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Download the necessary plugins:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Elastic Export</p>
</li>
<li>
<p>FormatDesigner</p>
</li>
</ol>
</div>
</li>
<li>
<p>Create so-called data formats with help from the FormatDesigner.</p>
</li>
<li>
<p>Configure the elastic export. While doing so, choose the data format that you just created.</p>
</li>
<li>
<p>Export the CSV file, modify it and re-import it into plentymarkets.</p>
</li>
</ol>
</div>
<h3 id="_further_information" class="discrete">Further information</h3>
<div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-6">
<div class="title">Elastic Export</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Plugin: Elastic Export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="/en/data/exporting-data/elastic-export">Setup and use</a></p>
</li>
<li>
<p><a href="/en/data/exporting-data/best-practices-elastic-export">Troubleshooting</a></p>
</li>
<li>
<p><a href="/en/data/exporting-data/best-practices-elasticexport-dropshipping">Practical example</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">FormatDesigner</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/formatdesigner_6483" target="_blank" rel="noopener">Plugin: FormatDesigner</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="/en/data/exporting-data/FormatDesigner">Creating your own data formats</a></p>
</li>
<li>
<p><a href="/en/data/exporting-data/FormatDesigner/format-types">List of available format types</a></p>
</li>
</ul>
</div>
</div>
</div>
<div class="exampleblock col-md-6">
<div class="title">Import-Tool</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="/en/data/importing-data/ElasticSync">Using the import tool</a></p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types">List of available import types</a></p>
</li>
<li>
<p><a href="/en/data/importing-data/elasticsync-best-practices/best-practices-elasticsync-creating-variations">Practical example: Importing new items and variations</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">4. Search &amp; replace</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Imagine you just found out that your manufacturer renamed a part.
Now it’s your job to change the name in all of your item texts.</p>
</div>
<div class="paragraph">
<p>Use the search &amp; replace function to globally change a word or phrase in all of your item texts.
In other words, search for a specific item text in the database and replace the results with a new text.</p>
</div>
<div class="paragraph instruction">
<p>Searching and replacing item texts:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Search &amp; replace</strong>.</p>
</li>
<li>
<p>Select the database field.</p>
</li>
<li>
<p>Enter a search term into the first field. The field is case-sensitive.</p>
</li>
<li>
<p>Enter a new text into the second field.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The number of relevant items is displayed.</p>
</li>
<li>
<p>Click on <strong>Replace all</strong>.<br>
→ All texts are replaced by the new texts.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">5. Copying items and variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Imagine you want to add a new item to your product portfolio.
It’s really similar to an existing product.
In this case, copy the existing product.
Then change the settings that differ for the new item.</p>
</div>
<div class="paragraph instruction">
<p>Copying an item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#100">Search for</a> and open the item.</p>
</li>
<li>
<p>Click on <strong>Copy</strong> (<span class="icon yellow"><i class="psicon-copy"></i></span>) in the upper toolbar.<br>
→ The <strong>Copy</strong> window opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="psicon-save"></i></span> <strong>Copy</strong>.<br>
→ The item is copied and opens in a new tab.</p>
</li>
</ol>
</div>
<h5 id="_what_exactly_is_copied" class="discrete">What exactly is copied?</h5>
<div class="paragraph">
<p>A copy of the item and its variations is created.
You can <a href="/en/item/managing-items">continue editing</a> the new item.
For example, carefully check the <a href="/en/item/managing-items#240">sales prices</a>, <a href="/en/item/managing-items#250">barcodes</a> and <a href="/en/item/managing-items#200">availabilities</a> and edit them as needed.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Will be copied</th>
<th class="tableblock halign-left valign-top">Will not be copied</th>
<th class="tableblock halign-left valign-top">Will be assigned automatically</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Item data which is entered in the <strong>Global</strong> tab</p>
</li>
<li>
<p>Item texts</p>
</li>
<li>
<p>Free text fields</p>
</li>
<li>
<p>Characteristics</p>
</li>
<li>
<p>Images</p>
</li>
<li>
<p>Cross-selling settings</p>
</li>
<li>
<p>Sales prices including saved values</p>
</li>
<li>
<p>Barcodes including saved values</p>
</li>
<li>
<p>Item bundles</p>
</li>
<li>
<p>Properties</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Listings</p>
</li>
<li>
<p>Media files</p>
</li>
<li>
<p>Availability of the main variation, i.e. the item is deactivated</p>
</li>
<li>
<p>Dimensions</p>
</li>
<li>
<p>Costs</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>A new item ID is assigned.</p>
</li>
<li>
<p>New variation IDs are assigned.</p>
</li>
<li>
<p>New variation numbers are assigned.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Variations can also be copied!</div>
<div class="paragraph">
<p>Copy a variation to offer it in different quantities. All variation data will be copied. Main variations cannot be copied.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/item/introduction/search#400">Search for</a> and open a variation (exception: the main variation).</p>
</li>
<li>
<p>Click on <strong>Copy</strong> <span class="icon yellow"><i class="psicon-copy"></i></span> in the lower toolbar.<br>
→ The <strong>Copy</strong> window opens.</p>
</li>
<li>
<p>Enter the content and select a unit.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="psicon-save"></i></span> <strong>Copy</strong>.<br>
→ The variation is copied and opens in a new tab.</p>
</li>
</ol>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>