<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_carrying_out_the_basic_settings"><span>1.</span><span> Carrying out the basic settings</span></a></li>
<li><a href="#_css"><span>2.</span><span> CSS</span></a></li>
<li><a href="#_item_units"><span>3.</span><span> Item units</span></a></li>
<li><a href="#_settings"><span>4.</span><span> Settings</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Item layouts</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">The new <strong>Ceres</strong> online store</div>
<div class="paragraph">
<p>As of now, online store projects are based on the new online store plugin  <a href="/en/omni-channel/online-store/setting-up-ceres">Ceres</a>. The <strong>Ceres</strong> store uses the latest and future-proof <a href="/en/basics/first-steps/plugins">plugin technology</a>. Ceres can be customised easily and extended by additional plugins from the <a href="https://marketplace.plentymarkets.com/en/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
<div class="paragraph">
<p>Online stores that have been created on the basis of the old CMS will be maintained during the transition period. However, no new features will be developed for the old CMS. We recommend to use the new <strong>Ceres</strong> online store for all future online store projects.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In the <strong>Setup » Client » Select client » Item layouts » Settings</strong> menu, you configure how items are displayed in the online store. You also select options for checking and displaying attributes and attribute values. You also select settings for checking the attribute availability. This check can either be done via the server or the client. The client check will ensure that only variations are shown that are currently in stock.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_carrying_out_the_basic_settings">1. Carrying out the basic settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to configure the basic settings.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the basic settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Select client » Item layouts » Settings</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in <a href="#table-options-store-item-layouts">Table 1</a> and carry out the settings.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-options-store-item-layouts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Options in the <strong>store item layouts menu</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item display</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the options for item display: Always display or Display only after login.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which item name is to be used in the order process: <strong>Name 1</strong>, <strong>name 2</strong> or <strong>name 3</strong>. This setting is relevant to the order process only. It does not have an influence on the item and category layouts in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribute availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether an individual variation’s availability should be checked and displayed when the very last attribute value has been selected.<br>
<strong>No check</strong> = The availability will not be checked.<br>
<strong>Server check</strong> = If an item has multiple attributes, e.g. <strong>size</strong> and <strong>color</strong>, then customers have to select a value for each attribute before the variation’s availability can be checked. The availability will not be checked until the very last attribute has been selected in the order process. However, if only the last attribute is selected or if the selected variation does not have sufficient stock, customers will get an error message.<br>
In order for the availability to be checked, the last attribute has to be selected from the drop-down list. If images are displayed for the attribute values, then the availability will not be checked. If you do not want attribute images to be displayed, then go to <a href="/en/item/managing-items#400">Setup » Item » Attributes</a> and make sure that you choose <strong>Select with a drop-down list</strong> for the <strong>Attribute selection in the store</strong> option.<br>
<strong>Client check</strong> = Customers only can select those variations that are purchasable.<br>
If an item only has one attribute, e.g. shoes that are available in different sizes but not in different colors, customers will only see those variations that are available at the time. If an item has 2 or more attributes, then any combinations that are currently unavailable will be grayed out. This lets customers see the combination but prevents them from selecting it.<br>
The client check adjusts both the images and the <a href="/en/item/managing-items#180">availability</a> (estimated shipping date). In order for the availability to be adjusted, the <a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#basics-template-variables">template variables</a> <strong>$AvailabilityIcon</strong> and <strong>$AvailabilityString</strong> have to be inserted. If the template variable <strong>$PriceDynamic</strong> is used, then the price will be adjusted dynamically as well. This option only works in the item’s detailed layout (ItemViewSingleItem). If the client setting is chosen, then the attribute availability will be updated hourly.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribute selection default value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the last attribute in the order process should be selected.<br>
<strong>First attribute value</strong> = The attribute value with the lowest attribute value ID listed in the drop-down list is selected by default and can be changed by the customer.<br>
<strong>Option "please select"</strong> = No value is selected by default. Rather, the text <strong>please select</strong> lets customers know that they have to make a selection.<br>
<em>*Tip*</em>: You can modify the error message text <strong>Invalid selection</strong> in the <a href="/en/omni-channel/online-store/setting-up-clients/extras/language-packages">Setup » Client » Settings » Languages</a>. Open the drop-down list <strong>Notes</strong> and edit the note <strong>No. 42</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sorting of item categories level 1 and level 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how the items are to be sorted on the first and second category level, i.e. how the items are to be displayed in the online store if customers click on a category on the first or second level.<br>
After making changes to the way that items are sorted on the first and second category level, go to <strong>Setup » Item » Categories</strong> and save any category once in order to regenerate the cache.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatically sort by monthly sales</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether you want to automatically sort variations by monthly sales.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_css">2. CSS</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use CSS to modify how the features described here are displayed. For further information and a code example, refer to the <a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#case-examples-displaying-item-variants-dynamically">Displaying item variations dynamically</a> best practice page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_item_units">3. Item units</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this menu, you can select whether or not you want to use decimal places for each of the individual <strong>item units</strong>. You can assign an item unit to each one of your items. This is done in the <a href="/en/item/managing-items#270">Settings</a> tab of a variation.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_settings">4. Settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The most logical setting is selected by default for every item unit. For example, it is not common to use decimal places when working with <strong>milligrams</strong>, but it is common for <strong>kilograms</strong>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/assets/EN-ENG-Einstell-Mandant-Standard-ArtAnsicht-Einheiten-01-SI.png" alt="EN ENG Einstell Mandant Standard ArtAnsicht Einheiten 01 SI">
</div>
<div class="title">Figure 1. configuring the <strong>decimal place</strong> options for <strong>item units</strong></div>
</div>
<div class="paragraph">
<p>Select the most appropriate <strong>setting</strong> for every item unit and click on the <strong>save icon</strong> to save the settings.</p>
</div>
</div>
</div>
</main>