<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_item_sorting"><span>1.</span><span> General information about item sorting</span></a></li>
<li><a href="#_design_settings"><span>2.</span><span> Design settings</span></a>
<ul class="sectlevel2">
<li><a href="#_configuring_the_item_sorting"><span>2.1.</span><span> Configuring the item sorting</span></a></li>
<li><a href="#_templates"><span>2.2.</span><span> Templates</span></a></li>
<li><a href="#_setting_up_cross_selling_templates"><span>2.3.</span><span> Setting up cross-selling templates</span></a>
<ul class="sectlevel4">
<li><a href="#_setting_up_dynamic_cross_selling"><span>Setting up dynamic cross-selling</span></a></li>
<li><a href="#_displaying_cross_selling_items_on_an_items_page"><span>Displaying cross-selling items on an item’s page</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Item sorting</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>CMS » Web design » ItemView » Tab: Settings » Setting: …​ _DefaultItemSorting</strong></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">The new <strong>Ceres</strong> online store</div>
<div class="paragraph">
<p>As of now, online store projects are based on the new online store plugin  <a href="/en/omni-channel/online-store/setting-up-ceres">Ceres</a>. The <strong>Ceres</strong> store uses the latest and future-proof <a href="/en/basics/first-steps/plugins">plugin technology</a>. Ceres can be customised easily and extended by additional plugins from the <a href="https://marketplace.plentymarkets.com/en/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
<div class="paragraph">
<p>Online stores that have been created on the basis of the old CMS will be maintained during the transition period. However, no new features will be developed for the old CMS. We recommend to use the new <strong>Ceres</strong> online store for all future online store projects.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_item_sorting">1. General information about item sorting</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the item sorting to define how items should be sorted in the online store, i.e. in which order items will be displayed there. In addition, you select the criteria for item sorting that you would like to take effect for the item search. This function relates to the live search for items in the online store.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_design_settings">2. Design settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>…​ _DefaultItemSorting</strong> setting is available in the <strong>Settings</strong> tab of several of the templates in the <strong>CMS » Web design » Folder: Layout » Folder: ItemView</strong> menu. These templates are listed in section 2.2.</p>
</div>
<div class="sect2">
<h3 id="_configuring_the_item_sorting">2.1. Configuring the item sorting</h3>
<div class="paragraph">
<p>The item sorting is configured using the <strong>…​ _DefaultItemSorting</strong> setting of the ItemView templates listed in section 2.2. You can change default settings in the drop-down list. <a href="#image-cms-settings-item-sorting">Figure 1</a> shows an example of the item layout <strong>ItemViewTopSellersList</strong>.</p>
</div>
<div id="image-cms-settings-item-sorting" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/assets/EN-Settings-Client-Best-Practice-Item-sorting-01.png" alt="EN Settings Client Best Practice Item sorting 01">
</div>
<div class="title">Figure 1. CMS settings; item sorting</div>
</div>
<div class="paragraph">
<p>You can specify how the items should be sorted in every individual template. For example, if you have a very large catalog of items and you want your customers to quickly find the item that they are looking for, then it would be wise to sort the items by item name. If price is the most important factor, then sort the items in ascending or descending order by price.</p>
</div>
<div class="paragraph">
<p>The following table explains the available settings for <strong>…​ _DefaultItemSorting</strong>:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. CMS settings; item sorting</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock unit (descending)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items with the highest position number will be displayed first.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock unit (ascending)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items with the lowest position number will be displayed first.<br>
<strong><em>Important:</em></strong> In order for this function to work, a <strong>position</strong> number has to be saved for each of the items within the <strong>Other</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name (ascending)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items will be sorted in alphabetical order by item name (A-Z).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name (descending)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items will be sorted in reverse alphabetical order by item name (Z-A).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price (ascending)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The cheapest items will be displayed first.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price (descending)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The most expensive items will be displayed first.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Release date (ascending)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The oldest items will be displayed first.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Release date (descending)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The newest items will be displayed first.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID (descending)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items with the highest item ID will be displayed first.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>item_random</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items will be displayed in a different, randomly chosen order every time.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_templates">2.2. Templates</h3>
<div class="paragraph">
<p>You can configure the item sorting in the following templates:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ItemViewSearchResultsList</p>
</li>
<li>
<p>ItemViewCategoriesList</p>
</li>
<li>
<p>ItemViewCrossSellingItemsList</p>
</li>
<li>
<p>ItemViewTopSellersList</p>
</li>
<li>
<p>ItemViewTopSellersList</p>
</li>
<li>
<p>ItemViewSpecialOffersList</p>
</li>
<li>
<p>ItemViewSearchResultsList</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>This includes templates with these names suffixed by a number, e.g. ItemViewCategoriesList8.</p>
</div>
</div>
<div class="sect2">
<h3 id="_setting_up_cross_selling_templates">2.3. Setting up cross-selling templates</h3>
<div class="paragraph">
<p>With the cross-selling function, you have the possibility of offering additional items from your product range along with an item in your online store. The additional items should be necessary extensions or reasonable supplements for your customer’s current selection.
If such connections also exist for your items, then you can use the <strong>cross-selling</strong> option to set up associations between them and benefit from additional sales. A variation of this is dynamic cross-selling. With this variation, connections between items will automatically be created based on the items that customers purchase together.</p>
</div>
<div class="paragraph">
<p>In the <a href="#omni-channel/online-store/setting-up-clients/online-store">Basic settings for your online store</a>, you set up cross-selling. On the one hand, you select which type of cross-selling you want to use. On the other hand, you select whether or not to use dynamic cross-selling.</p>
</div>
<div class="paragraph instruction">
<p>Setting up cross-selling:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Client » Select client » Online store » Basic settings</strong>.</p>
</li>
<li>
<p>Carry out the cross-selling settings as described in the <a href="#tabelle-cross-selling-basic-settings">Table 2</a> table.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="tabelle-cross-selling-basic-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Basic settings for cross-selling</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use direct cross-selling</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only cross-selling items linked with an item are displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Perform cross-selling using item properties</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select if you want to display cross-selling items with the same properties as the main item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Special cross-selling with item sets</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option currently without function.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Special cross-selling with item sets based on certain properties</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option currently without function.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>For further information about setting up cross-selling relations between your items, refer to the <a href="/en/item/managing-items#950">Setting up cross-selling</a> page.
Once you have specified which cross-selling items should be offered, decide how the cross-selling items should be displayed in the online store. Use the templates <a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcrosssellingitemslist">ItemViewCrossSellingItemsList</a>, <a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcrosssellingitemslist2">ItemViewCrossSellingItemsList2</a> and <a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcrosssellingitemslist3">ItemViewCrossSellingItemsList3</a> to specify how cross-selling items are displayed. For example, you can specify how many cross-selling items should be displayed for an item and how many of them should be displayed next to each other. Finally, specify where and which cross-selling items should be displayed for a main item. For this, insert a container in one of the templates for single items, e.g. <a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewsingleitem">ItemViewSingleItem</a>.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a cross-selling template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Folder: Layout » Folder: ItemView</strong>.</p>
</li>
<li>
<p>Open the <strong>ItemViewCrossSellingItemsList</strong> template.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Enter the maximum number of cross-selling items that should be displayed per main item. Enter this number next to the option <strong>ItemViewCrossSellingItemsList_Limit</strong>.<br>
→ For example, enter <strong>5</strong> if you want a maximum of five cross-selling items to be displayed for an item.</p>
</li>
<li>
<p>In the line <strong>ItemViewCrossSellingItemsList_EachRow</strong>, enter a limit that determines how many cross-selling items are permitted per line (default layout: <strong>1</strong> or <strong>2</strong>).</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="sect4">
<h5 id="_setting_up_dynamic_cross_selling">Setting up dynamic cross-selling</h5>
<div class="paragraph">
<p>In dynamic cross-selling, if items are purchased together, these additional items will be linked as cross-selling items with the main item automatically. These links will be visible in the online store the next day. Sales will be taken into account after activating this function. 10 dynamic cross-selling links are possible for each item. If there are more than 10 links, only the 10 best selling items will be displayed. You can manually delete the cross-selling links that were automatically generated. This is done in the item’s <strong>Cross-selling</strong> tab.</p>
</div>
<div class="paragraph instruction">
<p>Setting up dynamic cross-selling:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Client » Select client » Online store » Basic settings</strong>.</p>
</li>
<li>
<p>Select <strong>Use direct cross-selling</strong> for the <strong>Cross-selling</strong> option.</p>
</li>
<li>
<p>Select the option <strong>Yes</strong> for <strong>Dynamic cross-selling</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect4">
<h5 id="_displaying_cross_selling_items_on_an_items_page">Displaying cross-selling items on an item’s page</h5>
<div class="paragraph">
<p>The layout for cross-selling items is designed in the templates <strong>ItemViewCrossSellingItemsList</strong> to <strong>ItemViewCrossSellingItemsList3</strong>. The templates <strong>ItemViewCrossSellingItemsList</strong> and <strong>ItemViewCrossSellingItemsList2</strong> are ready to use in the plentymarkets default design Callisto Light. These cross-selling templates are displayed using the containers <a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcrosssellingitemslist">Container_ItemViewCrossSellingItemsList</a> or <a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcrosssellingitemslist">Container_ItemViewCrossSellingItemsList2</a>. In Callisto Light, these containers are already integrated within the template for single items <a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewsingleitem">ItemViewSingleItem</a> and used as follows:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcrosssellingitemslist">Container_ItemViewCrossSellingItemsList</a> lists similar items &#123;&#37;$CrossSellingType = "Similar" &#37;&#125;.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview-container-itemviewcrosssellingitemslist">Container_ItemViewCrossSellingItemsList2</a> lists accessories &#123;&#37;$CrossSellingType = "Accessory" &#37;&#125;.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>To display cross-selling items with a different relation, adjust the <strong>template variable</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Accessory</strong> = &#123;&#37;$CrossSellingType = "Accessory" &#37;&#125;</p>
</li>
<li>
<p><strong>Replacement part</strong> = &#123;&#37;$CrossSellingType = "ReplacementPart" &#37;&#125;</p>
</li>
<li>
<p><strong>Similar item</strong> = &#123;&#37;$CrossSellingType = "Similar" &#37;&#125;</p>
</li>
<li>
<p><strong>Item bundle</strong> = &#123;&#37;$CrossSellingType = "Bundle" &#37;&#125;</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>