<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Fulfill your orders with a plentymarkets process</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Once your order reaches status 5 in your system, you’ve still got to fetch it from your warehouse, pack and ship it as well as send your customer some essential documents. Create a process in your system to make fulfillment as efficient as possible. Download your process here:</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/225269182" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="paragraph">
<p>File for this video:
<a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/plentyprocess/Pickliste<em>Rechnung</em>_Versandlab.plentyprocess">Fulfillment process</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>E-commerce can be a veritable retail paradise. But the Sisyphean fulfillment trap can always sneak up on you and you may wind up being crushed under the weight all those menial tasks.
Good thing you’ve got plentymarkets processes! Automatically create a pick list and shipping labels and send your customers essential documents. Now fulfilling your orders is a piece of cake!</p>
</div>
<div class="paragraph">
<p>Now the whole point of processes is that you can customize your system so that it works for you so make sure the process reflects the way you want to run your store. But to help you get started, the process we’re working with in this video is available for download in the video description.
Downloaded process are great for getting you started ASAP, but just a head’s up: you’ll need to configure things like your printer settings and order statuses.</p>
</div>
<div class="paragraph">
<p>Alright, so right off the bat you can see that this process only includes one work step. Since I just imported this process, I’ve still got to select the status I want the process to search for, so "status 5 cleared for shipping". Once they’re found, it’s a good idea to change the status of those orders to "6 currently being shipped".
As you can see, we’ve included a pick list here. Just delete it if it makes more sense for you to create a pick list in a separate process.</p>
</div>
<div class="paragraph">
<p>Once you’ve collected all of your items in your warehouse, the actual cycle of this process begins in this big loop here until all the orders that are run through have been processed.</p>
</div>
<div class="paragraph">
<p>So the items included in your orders are registered and a shipping label is printed.
If you use DHL Shipping in your shipping centre, your shipping labels are automatically printed and the package number is automatically registered in your order. But whatever shipping service provider you’ve opted for, you can either use a direct interfaces or create a "Polling" step to communicate with them.</p>
</div>
<div class="paragraph">
<p>Now you might be wondering why the invoice and delivery note and all other documents are printed after the shipping step and not directly when you first receive the order…​ Well, creating an invoice locks your order which ensures regulatory compliance. Often sellers create an invoice too early in the order process only to realise shortly after that there’s a mistake on it. If the invoice has already been generated, you’d have to create a reversal document to unlock your order and make the necessary changes.
For your customers' sake, include the return form and label in the package. But just so you know, a label kann only be created in this process if your working with DHL Return Online.</p>
</div>
</div>
</div>
</main>