<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Creating and managing partial deliveries</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Learn how to split an order into smaller parts and see which settings you’ll need to configure in your system. See how to automate the whole process with event procedures.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/order-processing/processing-orders/partial-deliveries-delivery-orders#video">What are delivery orders? (0:56)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/processing-orders/partial-deliveries-settings#video">Configuring the basic settings (1:58)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/processing-orders/partial-deliveries-creation#video">Creating delivery orders (3:18)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/232791261#at=118" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Your business is booming and orders keep rolling in. But every now and then, you’re bound to receive an order that needs special attention.</p>
</div>
<div class="paragraph">
<p>For example, let’s say a customer buys two items. One is in stock and ready to be shipped immediately. But the other is sold out and can’t be shipped until sometime next week. What should you do?
Well, in this case, you can split the order into two smaller delivery orders and process each one individually. Even though the items originally came from the same main order, they don’t have to be shipped at the same time and they don’t have to be shipped with the same parcel service.
This also makes delivery orders very useful for drop shipping, where you don’t store items in your own warehouse, but rather you transfer order information directly to a manufacturer, wholesaler or external shipping service. Here again, simply split an order into smaller pieces and then process each piece differently.</p>
</div>
<div class="paragraph">
<p>So in the simplest terms, delivery orders are just a way to split an order into several smaller pieces or partial orders. But what does this look like in plentymarkets?
Well, here you can see the original order. And here, you can see the two smaller delivery orders that it’s been split into.
By the way, these delivery orders are where all the action happens. So there’s no need to worry about stock being reserved in the main order and then being reserved again in the delivery order. That’s not the way it works.
The actual fulfillment process happens here on this level. The main order basically just helps you remember which delivery orders belong together as a group. And its status is always just the lowest of all its delivery orders.
So here, status 4 is the lowest. So my main order has status 4 as well.</p>
</div>
<div class="paragraph">
<p>And again, I want to quickly reiterate that you’ll be fulfilling the delivery orders, rather than the main order.
So if you want to do something like make a status change, then be sure to change the status of the delivery order and not the main order.</p>
</div>
<div class="paragraph">
<p>So far, so good. Let’s get down to it. There are a few settings that you’ll need to look at before your plentymarkets system starts churning out delivery orders.
First off, you’ll need to decide which criteria should be used to split orders into smaller pieces. You may want to split up orders based on their stock level. For example, when one item is in stock and the other isn’t.
Or you may want to split up orders based on their warehouse. For example, if you’re a drop shipping retailer and you want to transfer order information directly to the warehouse where each item is stored.
Just keep in mind that if you decide to split up orders based on their warehouse then you’ll also need to head over to the "Basic settings" and configure two more settings as well.</p>
</div>
<div class="paragraph">
<p>First off, tell plentymarkets whether you want there to be one warehouse that’s used for the entire order or whether you want to individually define a warehouse for every item within that order. Remember, delivery orders allow you to process each item separately. So logically, you’ll need to select option b) here if you want to create delivery orders.</p>
</div>
<div class="paragraph">
<p>OK, so you’re assigning a warehouse to every item within an order. Now use this next option here to tell plentymarkets how it should decide which warehouse an item belongs to.
Which option you choose here is really up to you and just depends on how you process orders.</p>
</div>
<div class="paragraph">
<p>Now that the settings are all squared away, you can begin splitting orders into smaller pieces. Simply open up the "Delivery" tab and click on this button here.
Pretty easy, right? Just one click! It doesn’t sound like much unless you process hundreds of delivery orders every day. Then, all those clicks start to add up.
But don’t worry! With the help of event procedures, you can skip right over all of these manual clicks and automate the entire process.</p>
</div>
<div class="paragraph">
<p>If you’re thinking "Sorry? Event procedures are what now?" then check out our introductory video on this topic before you continue.
If you already know your way around the menu, then you can start building away. For example, you may want to automatically generate delivery orders whenever an item is out of stock.
In this case, the event could be any time an order’s status changes to 4. And then the procedure is "Generate delivery orders".
If you want to take it one step further, then you could also set up a second event procedure which then generates delivery notes for all of your new delivery orders.</p>
</div>
<div class="paragraph">
<p>That’s all there is to it! This video introduced you to delivery orders. You saw what they look like in your plentymarkets system and you learned how they’re related to a main order. You saw which basic settings need to be configured before your system can start churning out delivery orders. And you learned how to create delivery orders manually or automatically with event procedures. Thanks for watching!</p>
</div>
</div>
</div>
</main>