<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>How do you deal with locked orders? Create a reversal document!</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">In plentymarkets, orders are locked as soon as an invoice has been generated. That’s why we advise sellers to wait and generate invoices when they’re done editing an order.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/order-processing/processing-orders/reversal-document-locked-orders#video">Why are some orders locked? (0:22)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/processing-orders/reversal-document-invoices#video">When should you create invoices? (0:40)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/processing-orders/reversal-document-creation#video">Creating a reversal document (1:40)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/216843549#at=100" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Being audited by the financial authorities is certainly both nerve wracking and time-consuming. But it can also become quite costly if your business isn’t complying with the law.
At plentymarkets, we want to keep sellers on the safe side and help their businesses stand up to even the most thorough auditor. That’s why orders are locked in plentymarkets as soon as an invoice has been generated.
Since invoices can be thought of as a sort of contract between seller and customer, it would be a violation of that contract for sellers to change an order afterwards and go back on their word.</p>
</div>
<div class="paragraph">
<p>By locking orders that already have invoices, it’s impossible for sellers to violate the law - whether intentionally or unintentionally. Since orders are locked when the invoice is generated sellers will want to make sure that they’re not accidentally creating invoices too soon. Don’t treat the invoice like an order confirmation, which you e-mail to your customer as soon as you’ve received their order.
Instead, we recommend that you wait to generate the invoice when the item is being packaged and shipped out. At this point, you can either place the invoice inside the package along with the item, or you can send it to your customer via e-mail.</p>
</div>
<div class="paragraph">
<p>OK - so you may be thinking - how can I make sure I’m creating invoices at the right time? Well, just navigate to the "event procedures" menu and find the one that you use to automatically generate invoices.
If you’ve created an event procedure, which generates the invoice as soon as you receive a new order, then you’ll want to modify the settings so that you’re using a more appropriate triggering event.
For example, you may want to generate the invoice when the status changes to 5 or when items are booked as outgoing.</p>
</div>
<div class="paragraph">
<p>So far, so good. But there’s always an exception to the rule. What if you’ve already generated the invoice and then your customer wants something to be changed?
Well, in this case you’ll need to cancel the invoice by issuing something called a reversal document, which completely negates the initial invoice.</p>
</div>
<div class="paragraph">
<p>Once you’ve created a reversal document for an order it will be unlocked and you can modify the order as needed. So just make any necessary changes like modifying the address or adding a V-A-T number.
Once you’re finished, issue a new invoice with a new invoice number.</p>
</div>
<div class="paragraph">
<p>All that’s left to do now is e-mail your customer the reversal document and the new invoice. Of course, you can also use an event procedure here to automatically send these e-mails on your behalf.</p>
</div>
<div class="paragraph">
<p>At the end of the day, there are only two things that you need to remember. First, make sure that you wait to generate invoices once you’re done editing an order. And second, if you ever need to make changes later, then use a reversal document to unlock the order and then generate a new invoice when you’re done. By following these two guidelines, your business will be ready to face even the most thorough audit.</p>
</div>
</div>
</div>
</main>