<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_grundeinstellungen_vornehmen"><span>1.</span><span> Grundeinstellungen vornehmen</span></a></li>
<li><a href="#_css"><span>2.</span><span> CSS</span></a></li>
<li><a href="#_artikeleinheiten"><span>3.</span><span> Artikeleinheiten</span></a></li>
<li><a href="#_einstellungen"><span>4.</span><span> Einstellungen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: Artikelansichten</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Der neue Webshop <strong>Ceres</strong></div>
<div class="paragraph">
<p>Webshop-Projekte werden ab sofort auf Basis des Webshop-Plugins <a href="/omni-channel/online-shop/ceres-einrichten">Ceres</a> umgesetzt. Der neue Webshop nutzt die aktuelle und zukunftssichere <a href="/basics/erste-schritte/plugins">Plugin-Technologie</a> und kann einfach und individuell durch zusätzliche Plugins aus dem <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a> erweitert werden.</p>
</div>
<div class="paragraph">
<p>Webshops, die mit dem alten CMS erstellt wurden, werden für einen Übergangszeitraum natürlich weiterhin gepflegt, aber funktionell nicht mehr erweitert. Wir empfehlen bei allen geplanten Projekten ab sofort auf <strong>Ceres</strong> zu setzen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Mandant » Mandant wählen » Artikelansichten » Einstellungen</strong> konfigurierst du die Artikeldarstellung im Webshop und wählst die Optionen für die Prüfung und Anzeige von Attributen und Attributwerten. Hier wählst du auch die Einstellungen für die Prüfung der Attributverfügbarkeit. Die Attributverfügbarkeit kann entweder über den Server oder über den Client geprrüft werden. Dabei stellt die Client-Prüfung sicher, dass nur verfügbare Varianten als bestellbar angezeigt werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_grundeinstellungen_vornehmen">1. Grundeinstellungen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Grundeinstellungen vorzunehmen.</p>
</div>
<div class="paragraph instruction">
<p>Grundeinstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Artikelansichten » Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-optionen-artikelansicht">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-optionen-artikelansicht" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Optionen im Menü <strong>Webshop-Artikelansichten</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelanzeige</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der Artikel immer oder erst nach der Anmeldung des Besuchers angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbezeichnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Artikelname im Bestellvorgang verwendet werden soll: <strong>Name 1</strong>, <strong>Name 2</strong> oder <strong>Name 3</strong>. Diese Einstellung wirkt sich nur auf den Bestellvorgang aus, nicht auf Artikel- bzw. Kategorieansichten im Webshop.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribut-Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob bei Auswahl des letzten Attributwerts die Verfügbarkeit der Variante geprüft und angezeigt werden soll.<br>
<strong>Keine Prüfung</strong> = Die Verfügbarkeit wird nicht geprüft.<br>
<strong>Server-Prüfung</strong> = Verfügt ein Artikel über mehrere Attribute, z.B <strong>Größe</strong> und <strong>Farbe</strong>, müssen Kunden für jedes Attribut einen Wert wählen, damit die Verfügbarkeit der Variante abgefragt werden kann. Die Abfrage selbst erfolgt erst bei Auswahl des letzten Attributwerts im Bestellvorgang. Wird jedoch nur dieses Attribut gewählt oder fehlt für die gewählte Variante Bestand, erhalten Kunden eine Fehlermeldung.<br>
Damit die Abfrage gestartet wird, muss der letzte Attributwert per Dropdown-Liste ausgewählt werden. Wenn Bilder für die Attributwerte angezeigt werden, erfolgt keine Abfrage. Damit keine Attributbilder angezeigt werden, muss daher in den Einstellungen des Attributs im Menü <a href="/artikel/artikel-verwalten#400">Einrichtung » Artikel » Attribute</a> für die Option <strong>Attribut-Auswahl im Webshop</strong> die Einstellung <strong>Auswahl per Dropdown</strong> gewählt sein.<br>
<strong>Client-Prüfung</strong> = Bei dieser Einstellung können Kunden nur die bestellbaren Varianten wählen.<br>
Verfügt ein Artikel nur über ein Attribut, z.B. Schuhe, die es in verschiedenen Größen aber nicht in verschiedenen Farben gibt, werden Kunden nur die aktuell verfügbaren Varianten angezeigt. Verfügt ein Artikel über 2 oder mehr Attribute, werden die nicht verfügbaren Kombinationen ausgegraut. Sie sind somit für Kunden noch sichtbar, aber nicht wählbar.<br>
Bei der Client-Prüfung werden sowohl die Bilder als auch die <a href="/artikel/artikel-verwalten#180">Verfügbarkeit</a> (voraussichtlicher Versand) angepasst. Für die Anpassung der Verfügbarkeit müssen allerdings die <a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#grundlagen-template-variablen">Template-Variablen</a> <strong>$AvailabilityIcon</strong> und <strong>$AvailabilityString</strong> eingebunden sein. Wenn die Template-Variable <strong>$PriceDynamic</strong> verwendet wird, wird auch der Preis dynamisch angepasst. Diese Option funktioniert nur in der Artikeldetailansicht (ItemViewSingleItem). Die Attributverfügbarkeit wird bei der clientseitigen Einstellung stündlich aktualisiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribut-Auswahl Standardwert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Festlegen, wie die Attributauswahl des zuletzt gewählten Attributwerts im Bestellvorgang erfolgt.<br>
<strong>Erster Attributwert</strong> = Der Attributwert mit der niedrigsten Attributwert-ID der in der Dropdown-Liste verfügbaren Werte ist vorausgewählt.<br>
<strong>"bitte wählen"-Option</strong> = Keine Vorauswahl, der Text <strong>bitte wählen</strong> fordert Kunden zu einer Auswahl über die Dropdown-Liste auf.<br>
<em>*Tipp:*</em> Der Text <strong>Ungültige Auswahl</strong> der Fehlermeldung ist im Menü <a href="/omni-channel/online-shop/sprachpakete">Einrichtung » Mandant » Global » Sprachpakete</a> anpassbar. Die Dropdown-Liste <strong>Hinweise</strong> öffnen und den Hinweis <strong>Nr 42</strong> anpassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sortierung der Artikelkategorien Ebene 1 bzw. Ebene 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Sortierung der Artikel der ersten bzw. zweiten Kategorieebene wählen, d.h., wie die Artikel im Webshop angezeigt werden sollen, wenn Besucher auf eine Kategorie der ersten bzw. zweiten Ebene klicken.<br>
Nach Änderung der Sortierreihenfolge einmal unter <strong>Einrichtung » Artikel » Kategorien</strong> eine beliebige Kategorie speichern, um den Cache neu zu setzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatische Sortierung nach monatlichen Verkäufen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Varianten in einer Kategorie automatisch nach monatlichen Verkäufen sortiert werden sollen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_css">2. CSS</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Ansichten der hier beschriebenen Features passt du per CSS an. Einen Beispiel-Code sowie weitere Erläuterungen dazu findest du auf der Best-Practice-Seite <a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#fallbeispiele-artikelvarianten-dynamisch-darstellen-6">Artikelvarianten dynamisch darstellen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_artikeleinheiten">3. Artikeleinheiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Mandant » Mandant wählen » Artikelansichten » Einheiten</strong> hast du die Möglichkeit, für die <strong>Artikeleinheiten</strong> deiner Artikel einzustellen, ob jeweils die Angabe mit Kommazahl erlaubt sein soll, oder nicht. Die Zuordnung der Artikeleinheit eines Artikels erfolgt im Tab <a href="/artikel/artikel-verwalten#270">der Variante</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_einstellungen">4. Einstellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der Grundeinstellung ist für jede Artikeleinheit die sinnvollste Einstellung hinterlegt, z.B. sind für <strong>Milligramm</strong> Kommazahlen nicht üblich, für <strong>Kilogramm</strong> jedoch schon.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/assets/DE-Mandant-Std-ArtikelAns-Webshop-Artikeleinh-01-SI.png" alt="DE Mandant Std ArtikelAns Webshop Artikeleinh 01 SI">
</div>
<div class="title">Bild 1. <strong>Kommazahlen</strong>-Option für <strong>Artikeleinheiten</strong> konfigurieren</div>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p>Wähle für jede Artikeleinheit die jeweils geeignetste <strong>Einstellung</strong> und klicke dann auf das <strong>Speichern-Symbol</strong>, um die Einstellung zu sichern.</p>
</div>
</div>
</div>
</div>
</div>
</main>