<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_allgemeines_zur_artikelsortierung"><span>1.</span><span> Allgemeines zur Artikelsortierung</span></a></li>
<li><a href="#_design_einstellungen"><span>2.</span><span> Design-Einstellungen</span></a>
<ul class="sectlevel2">
<li><a href="#_artikelsortierung_konfigurieren"><span>2.1.</span><span> Artikelsortierung konfigurieren</span></a></li>
<li><a href="#_templates"><span>2.2.</span><span> Templates</span></a></li>
<li><a href="#_cross_selling_template_einrichten"><span>2.3.</span><span> Cross-Selling-Template einrichten</span></a>
<ul class="sectlevel4">
<li><a href="#_dynamisches_cross_selling_einrichten"><span>Dynamisches Cross-Selling einrichten</span></a></li>
<li><a href="#_cross_selling_artikel_auf_der_artikelseite_anzeigen"><span>Cross-Selling-Artikel auf der Artikelseite anzeigen</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: Artikelsortierung</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>CMS » Webdesign » ItemView » Tab: Einstellungen » Einstellung: …​ _DefaultItemSorting</strong></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Der neue Webshop <strong>Ceres</strong></div>
<div class="paragraph">
<p>Webshop-Projekte werden ab sofort auf Basis des Webshop-Plugins <a href="/omni-channel/online-shop/ceres-einrichten">Ceres</a> umgesetzt. Der neue Webshop nutzt die aktuelle und zukunftssichere <a href="/basics/erste-schritte/plugins">Plugin-Technologie</a> und kann einfach und individuell durch zusätzliche Plugins aus dem <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a> erweitert werden.</p>
</div>
<div class="paragraph">
<p>Webshops, die mit dem alten CMS erstellt wurden, werden für einen Übergangszeitraum natürlich weiterhin gepflegt, aber funktionell nicht mehr erweitert. Wir empfehlen bei allen geplanten Projekten ab sofort auf <strong>Ceres</strong> zu setzen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines_zur_artikelsortierung">1. Allgemeines zur Artikelsortierung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit der Artikelsortierung wählst du die Sortierung deiner Artikel im Webshop, d.h. in welcher Reihenfolge Artikel dort angezeigt werden. Außerdem wählst du die Kriterien für die Artikelsortierung, die für die Artikelsuche gelten sollen. Diese Funktion bezieht sich auf die Live-Suche nach Artikeln im Webshop.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_design_einstellungen">2. Design-Einstellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Einstellung <strong>…​ _DefaultItemSorting</strong> steht im Menü <strong>CMS » Webdesign » Ordner: Layout » Ordner: ItemView</strong> in verschiedenen Templates im Tab <strong>Einstellungen</strong> zur Verfügung. Welche Templates das sind, erfährst du in Kapitel 2.2.</p>
</div>
<div class="sect2">
<h3 id="_artikelsortierung_konfigurieren">2.1. Artikelsortierung konfigurieren</h3>
<div class="paragraph">
<p>Die Artikelsortierung wird in den ItemView-Templates, die in Kapitel 2.2 gelistet sind, mit der Einstellung <strong>…​ _DefaultItemSorting</strong> konfiguriert. Voreingestellte Standard-Einstellungen änderst du über die Dropdown-Liste. <a href="#bild-einstellung-cms-artikelsortierung">Bild 1</a> zeigt ein Beispiel der Artikelansicht <strong>ItemViewTopSellersList</strong>.</p>
</div>
<div id="bild-einstellung-cms-artikelsortierung" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/assets/DE-Mandant-BestPractice-Artikelsortierung-01.png" alt="DE Mandant BestPractice Artikelsortierung 01">
</div>
<div class="title">Bild 1. Einstellung im CMS; Artikelsortierung</div>
</div>
<div class="paragraph">
<p>Du kannst je nach Template entscheiden, nach welchem Kriterium Artikel gelistet werden sollen. Wenn es z.B. darum geht, Artikel in umfangreichen Beständen schnell zu finden, ist eine Sortierung nach Artikelname sinnvoll. Wenn es um den Preis geht, sortierst du auf- oder absteigend nach Preis.</p>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die verfügbaren Einstellungen unter der Option <strong>…​ _DefaultItemSorting</strong>:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen im CMS; Artikelsortierung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelposition (absteigend)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Artikel mit der höchsten Positionsnummer zuerst an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelposition (aufsteigend)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Artikel mit der niedrigsten Positionsnummer zuerst an.<br>
<strong><em>Wichtig:</em></strong> Eine Bedingung für die Funktion ist, dass bei den Artikeln jeweils eine <strong>Position</strong> im Tab <strong>Sonstiges</strong> hinterlegt ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname (aufsteigend)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sortiert Artikel alphabetisch aufsteigend nach Artikelname.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname (absteigend)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sortiert Artikel alphabetisch absteigend nach Artikelname.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preis (aufsteigend)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die günstigsten Artikel zuerst an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preis (absteigend)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die teuersten Artikel zuerst an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erscheinungsdatum (aufsteigend)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die ältesten Artikel zuerst an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erscheinungsdatum (absteigend)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die neuesten Artikel zuerst an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID (absteigend)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Artikel mit der höchsten Artikel-ID zuerst an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>item_random</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Artikel bei jedem Aufruf in einer anderen, zufälligen Sortierung an.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_templates">2.2. Templates</h3>
<div class="paragraph">
<p>In den folgenden Templates kannst du die Artikelsortierung konfigurieren:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ItemViewSearchResultsList</p>
</li>
<li>
<p>ItemViewCategoriesList</p>
</li>
<li>
<p>ItemViewCrossSellingItemsList</p>
</li>
<li>
<p>ItemViewTopSellersList</p>
</li>
<li>
<p>ItemViewTopSellersMultiPagesList</p>
</li>
<li>
<p>ItemViewSpecialOffersList</p>
</li>
<li>
<p>ItemViewThirdPartySearchResultsList</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Dies gilt auch für alle gleichnamigen Templates, die sich lediglich durch eine angehängte Zahl unterscheiden, z. B. ItemViewCategoriesList8.</p>
</div>
</div>
<div class="sect2">
<h3 id="_cross_selling_template_einrichten">2.3. Cross-Selling-Template einrichten</h3>
<div class="paragraph">
<p>Mit der Cross-Selling-Funktion hast du die Möglichkeit, zu einem Artikel in deinem Webshop weitere passende Artikel anzubieten, die eine notwendige Erweiterung oder sinnvolle Ergänzung darstellen.
Wenn du auch für deine Artikeln solche naheliegenden Verbindungen findest, kannst du diese Zusammenhänge im Menü <strong>Artikel » Artikel bearbeiten » Cross-Selling</strong> einrichten und damit lukrative Zusatzverkäufe generieren. Eine Variante hiervon ist das dynamische Cross-Selling. Dabei werden automatisch Verknüpfungen zwischen Artikeln angelegt, die Kunden gleichzeitig gekauft haben.</p>
</div>
<div class="paragraph">
<p>In den <a href="/omni-channel/online-shop/webshop-einrichten#grundeinstellungen">Grundeinstellungen</a> eines Webshops richtest du Cross-Selling ein. Du wählst zum einen die grundlegende Art des Cross-Sellings, und stellst zum anderen das <strong>Dynamische Cross-Selling</strong> ein.</p>
</div>
<div class="paragraph instruction">
<p>Cross-Selling einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen für Cross-Selling gemäß <a href="#tabelle-cross-selling-basiseinstellungen">Tabelle 2</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-cross-selling-basiseinstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Basis-Einstellungen für Cross-Selling</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nutze direktes Cross-Selling</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur Cross-Selling-Artikel, die mit einem Artikel verknüpft sind, werden angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nutze Cross-Selling über Artikelmerkmale</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, wenn die Cross-Selling-Artikel nach gleichen Merkmalen ausgesucht werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Spezielles Cross-Selling mit Artikelsets</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option aktuell ohne Funktion.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Spezielles Cross-Selling mit Artikelsets über Merkmale</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option aktuell ohne Funktion.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wie du Cross-Selling-Zusammenhänge für deine Artikel erstellst, erfährst du unter <a href="/artikel/artikel-verwalten#950">Cross-Selling einrichten</a>.<br>
Nachdem du die Cross-Selling-Artikel festgelegt hast, richtest du die Anzeige der Cross-Selling-Artikel im Webshop ein. In den Templates <a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcrosssellingitemslist">ItemViewCrossSellingItemsList</a>, <a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcrosssellingitemslist2">ItemViewCrossSellingItemsList2</a> und <a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcrosssellingitemslist3">ItemViewCrossSellingItemsList3</a> gestaltest du, wie Cross-Selling-Artikel dargestellt werden. Du legest z.B. fest, wie viele Cross-Selling-Artikel für einen Artikel angezeigt werden und wie viele davon nebeneinander. Anschließend legest du fest, wo und welche Cross-Selling-Artikel bei einem Artikel angezeigt werden. Hierfür bindest du einen Container in eines der Templates für Einzelartikel ein, z.B. <a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewsingleitem">ItemViewSingleItem</a> ein.</p>
</div>
<div class="paragraph instruction">
<p>Cross-Selling-Template einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Ordner: Layout » Ordner: ItemView</strong>.</p>
</li>
<li>
<p>Öffne das Template <strong>ItemViewCrossSellingItemsList</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Gib bei der Option <strong>ItemViewCrossSellingItemsList_Limit</strong> einen Grenzwert für die Anzahl der angezeigten Cross-Selling-Artikel pro Artikel ein.<br>
→ Gib z.B. <strong>5</strong> ein, wenn höchstens fünf Cross-Selling-Artikel für einen Artikel angezeigt werden sollen.</p>
</li>
<li>
<p>Gib für die Option <strong>ItemViewCrossSellingItemsList_EachRow</strong> einen Grenzwert für die Anzahl der Cross-Selling-Artikel pro Zeile ein (bei Standard-Layout: <strong>1</strong> oder <strong>2</strong>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="sect4">
<h5 id="_dynamisches_cross_selling_einrichten">Dynamisches Cross-Selling einrichten</h5>
<div class="paragraph">
<p>Wenn Artikel zusammen gekauft werden, wird beim dynamischen Cross-Selling bei den Artikeln der mitgekaufte Artikel automatisch als Cross-Selling-Artikel verknüpft. Die Verknüpfungen sind am nächsten Tag im Webshop sichtbar. Verkäufe werden erst ab dem Zeitpunkt berücksichtigt, ab dem du die Funktion aktivierst. Pro Artikel sind 10 dynamische Cross-Selling-Verknüpfungen möglich. Ab der 11. Verknüpfung werden die 10 meistverkauften Verknüpfungen angezeigt. Die automatisch erzeugten Cross-Selling-Verknüpfungen löschst du manuell im Tab <strong>Cross-Selling</strong> eines Artikels.</p>
</div>
<div class="paragraph instruction">
<p>Dynamisches Cross-Selling einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » Einstellungen</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Cross-Selling</strong> die Option <strong>Nutze direktes Cross-Selling</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Dynamisches Cross-Selling</strong> die Option <strong>Ja</strong>.</p>
</li>
<li>
<p><strong>*Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>)* die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect4">
<h5 id="_cross_selling_artikel_auf_der_artikelseite_anzeigen">Cross-Selling-Artikel auf der Artikelseite anzeigen</h5>
<div class="paragraph">
<p>Das Layout für Cross-Selling-Artikel wird in den Templates <strong>ItemViewCrossSellingItemsList</strong> bis <strong>ItemViewCrossSellingItemsList3</strong> gestaltet. Die Templates <strong>ItemViewCrossSellingItemsList</strong> und <strong>ItemViewCrossSellingItemsList2</strong> sind im plentymarkets Design Callisto Light bereits befüllt. Diese Cross-Selling-Templates werden über die Container <a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcrosssellingitemslist">Container_ItemViewCrossSellingItemsList</a> bzw. <a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcrosssellingitemslist">Container_ItemViewCrossSellingItemsList2</a> ausgegeben. In Callisto Light sind diese Container bereits in das Template für Einzelartikel <a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewsingleitem">ItemViewSingleItem</a> eingebunden und wie folgt belegt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcrosssellingitemslist">Container_ItemViewCrossSellingItemsList</a> listet ähnliche Artikel &#123;&#37;$CrossSellingType = "Similar" &#37;&#125;.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcrosssellingitemslist">Container_ItemViewCrossSellingItemsList2</a> listet Zubehörartikel &#123;&#37;$CrossSellingType = "Accessory" &#37;&#125;.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Um Cross-Selling-Artikel anderer Beziehungstypen anzuzeigen, passt du die <strong>Template-Variable</strong> an.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Zubehör</strong> = &#123;&#37;$CrossSellingType = "Accessory" &#37;&#125;</p>
</li>
<li>
<p><strong>Ersatzteil</strong> = &#123;&#37;$CrossSellingType = "ReplacementPart" &#37;&#125;</p>
</li>
<li>
<p><strong>Ähnlicher Artikel</strong> = &#123;&#37;$CrossSellingType = "Similar" &#37;&#125;</p>
</li>
<li>
<p><strong>Artikelpaket</strong> = &#123;&#37;$CrossSellingType = "Bundle" &#37;&#125;</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>