<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_der_bestellvorgang_ein_sensibler_bereich"><span>1.</span><span> Der Bestellvorgang - ein sensibler Bereich</span></a></li>
<li><a href="#_bestellvorgang_konfigurieren"><span>2.</span><span> Bestellvorgang konfigurieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: Bestellvorgang</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Der neue Webshop <strong>Ceres</strong></div>
<div class="paragraph">
<p>Webshop-Projekte werden ab sofort auf Basis des Webshop-Plugins <a href="/omni-channel/online-shop/ceres-einrichten">Ceres</a> umgesetzt. Der neue Webshop nutzt die aktuelle und zukunftssichere <a href="/basics/erste-schritte/plugins">Plugin-Technologie</a> und kann einfach und individuell durch zusätzliche Plugins aus dem <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a> erweitert werden.</p>
</div>
<div class="paragraph">
<p>Webshops, die mit dem alten CMS erstellt wurden, werden für einen Übergangszeitraum natürlich weiterhin gepflegt, aber funktionell nicht mehr erweitert. Wir empfehlen bei allen geplanten Projekten ab sofort auf <strong>Ceres</strong> zu setzen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Mandant » Mandant wählen » Bestellvorgang » Einstellungen</strong> konfigurierest du wichtige Einstellungen des Bestellvorgangs in deinem Webshop. Du wählst beispielsweise aus, ob bestimmte Elemente für den Webshopbesucher sichtbar sein sollen oder nicht. Ebenso bestimmst du, ob bestimmte Informationen verpflichtend eingegeben werden müssen oder nicht. So kann z.B. der Artikelzustand angezeigt oder verborgen werden, auch wenn der Artikelzustand eingetragen ist. Du kannst wählen, ob die Newsletteranmeldung allgemein gelten soll, nur für bestimmte Kunden oder nicht angezeigt werden soll und vieles mehr.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_der_bestellvorgang_ein_sensibler_bereich">1. Der Bestellvorgang - ein sensibler Bereich</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Korrekte Einstellungen in diesem Bereich sind wichtig, da der Bestellvorgang ein sensibler und manchmal kritischer Bereich bei der Kaufabwicklung ist und Webshopbesucher bei Problemen oder nicht nutzerfreundlichen Einstellungen häufig noch im letzten Moment den Bestellvorgang abbrechen. Beachte daher die Hinweise zu den Optionen im Webshop-Bestellvorgang in <a href="#tabelle-webshop-bestellvorgang">Tabelle 1</a> besonders sorgfältig und lass dich ggf. diesbezüglich beraten.</p>
</div>
<div class="paragraph">
<p>Hinweise zu einer nutzergerechten Gestaltung und zu Zertifizierungsaspekten findest du z.B. bei unseren Partnern <a href="https://www.plentymarkets.eu/produkt/online-shop/webshop-erweiterungen/ehi/a-1768/" target="_blank" rel="noopener">EHI</a> und <a href="https://www.plentymarkets.eu/produkt/online-shop/webshop-erweiterungen/trusted-shops/a-1700/" target="_blank" rel="noopener">Trusted Shops</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_bestellvorgang_konfigurieren">2. Bestellvorgang konfigurieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Konfigurieren die Einstellungen wie nachfolgend beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Webshop-Bestellvorgang konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Bestellvorgang » Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-webshop-bestellvorgang">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-webshop-bestellvorgang" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen für den Webshop-Bestellvorgang</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelpaket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Artikelpakete im Bestellvorgang nicht aufgesplittet, durch Basisartikel ergänzt oder ersetzt werden sollen.<br>
<strong>Im Bestellvorgang nicht aufsplitten</strong> = Der Kunde sieht im Bestellvorgang nur das Artikelpaket. <br>
<strong>Artikelpaket durch Basisartikel ergänzen</strong> = Sowohl das Paket als auch die Bestandteile des Paketes werden im Auftrag aufgelistet. Im Bestellvorgang, also z.B. im Warenkorb, wird jedoch auch bei dieser Option nur das Artikelpaket angezeigt. Der Preis des Artikelpakets wird aus den Daten des Artikelpakets genommen.<br>
<strong>Artikelpaket durch Basisartikel ersetzen</strong> = Im Auftrag wird das Artikelpaket nicht angezeigt, sondern nur die Bestandteile. Wenn das Artikelpaket einen anderen Preis hat als die Summe der Basisartikelpreise ergibt, nutze diese Option nicht, denn nachdem das Paket ersetzt wurde, werden die Preise der Basisartikel zur Berechnung genutzt.<br>
<strong>Wichtig</strong>: Für Shopware-Mandanten immer die Option <strong>Artikelpaket durch Basisartikel ergänzen</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Lieferland</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferland je Sprache wählen. Es stehen die Lieferländer zur Auswahl, die unter <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Lieferländer</strong> eingerichtet wurden. Die Lieferländer werden hier sprachabhängig zugeordnet. Das heißt, für Deutsch stehen die Lieferländer zur Verfügung, bei denen <strong>de</strong> als Spracheinstellung ausgewählt wurde und für Englisch die Länder mit Spracheinstellung <strong>en</strong>.<br>
In der Standardeinstellung ist kein Standard-Lieferland eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Versandart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandart wählen, die bei neuen Aufträgen automatisch eingestellt sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Versandprofil</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandprofil wählen, das neuen Aufträgen automatisch zugeordnet werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart wählen, die im Webshop zuerst angeboten werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard-Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Kundenklasse wählen, deren Einstellungen, z.B. für die Brutto/Netto-Anzeige der Preise eines B2B-Mandanten oder für Rabatte, für nicht eingeloggte Benutzer gelten sollen. Die Einstellung ist pro Mandant gültig und kann somit für andere Mandanten abweichend konfiguriert werden. Wenn keine Kundenklasse gewählt wurde, ist automatisch die Kundenklasse mit der niedrigsten Positionsnummer eingestellt. Damit die Funktion genutzt werden kann, muss mindestens eine Kundenklasse im Menü <a href="/crm/kontakte-verwalten#15">Einrichtung » CRM » Kundenklassen</a> eingerichtet sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grundpreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der Grundpreis im Bestellvorgang angezeigt werden soll, wenn Varianten angeboten werden, bei denen im Tab der Variante unter <strong>Inhalt</strong> ein Eintrag vorgenommen wurde (= Inhalt größer Null).<br>
Der <a href="/artikel/artikel-verwalten#270">Grundpreis</a> ist der auf eine Standard-Menge bezogene Preis, z.B. pro kg bzw. 1000 g. Er wird angegeben, damit Verbraucher leicht in der Lage sind, Preise miteinander zu vergleichen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsinformation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Zahlungsinformationen im Bestellvorgang abgefragt wird oder nicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die Versandinformationen im Bestellvorgang abgefragt wird oder nicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FSK-Hinweise</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob FSK-Hinweise im Bestellvorgang angezeigt werden oder nicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Newsletteranmeldung im Bestellvorgang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die <a href="/crm/newsletter-versenden">Newsletteranmeldung</a> vorausgewählt sein soll, nach Kundenauswahl erfolgen soll oder gar nicht angezeigt werden soll.<br>
<strong>Hinweis</strong>: Die Vorbelegung des Auswahlfeldes zur Newsletteranmeldung, bei der der Kunde das Häkchen entfernen muss, um sich nicht für den Newsletter anzumelden, ist rechtlich sehr umstritten. Die aktuelle Rechtsprechung beachten oder ggf. einen Fachanwalt konsultieren.<br>
Die Newsletteranmeldung im Webshop, bei der ein Besucher eigene Daten eintragen und die Anmeldung bestätigen muss, ist eine rechtlich unbedenklichere Alternative zu der Variante im Bestellvorgang.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Newsletter-Hauptordner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail-Ordner</strong> für Newsletter wählen, der automatisch mit der E-Mail-Adresse eines Kunden verknüpft wird, wenn der Kunde den Newsletter im Webshop abonniert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mindest-Bestellwert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mindest-Bestellwert eintragen. Bei Unterschreitung erhält der Webshopbesucher einen entsprechenden Hinweis.<br>
Der Mindest-Bestellwert bezieht sich auf den <strong>Brutto-Warenwert</strong> einer Bestellung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutscheinbetrag bei Mindest-Bestellwert ignorieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gutscheinbeträge mit dem Mindest-Bestellwert verrechnen.<br>
<strong>JA</strong> = Gutscheinbeträge werden nicht auf den Mindest-Bestellwert angerechnet.<br>
<strong>NEIN</strong> = Gutscheinbeträge werden auf den Mindest-Bestellwert angerechnet. Der Mindest-Bestellwert wird somit leichter erreicht.<br>
Die Möglichkeit, den Mindest-Bestellwert durch einen Gutschein leichter zu erreichen, kann für Kunden ein Anreiz sein, zu kaufen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IP-Adresse des Käufers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob die IP-Adresse des Käufers im Auftrag gespeichert wird oder nicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wenn möglich, Aufträge zusammenführen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Aufträge nach Möglichkeit zusammengeführt werden oder nicht.<br>
Diese Funktion fasst Aufträge nur automatisch zusammen, wenn Aufträge die gleiche Auftragsherkunft haben und der Auftragsstatus beider sich noch unter Status 5 befindet, d.h. noch kein Zahlungseingang gebucht wurde.<br>
Mit der Funktion <a href="/auftraege/auftraege-verwalten#1700">Gruppenfunktion</a> <strong>Aufträge gruppieren</strong> können Aufträge auch später noch manuell zusammengefasst werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachträgliche Änderung von Aufträgen erlauben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob der Kunde nach Abschicken der Bestellung noch Änderungen am Auftrag vornehmen darf (z.B. Anpassen der Artikelmenge, der Zahlungs- und Lieferart oder der Rechnungs- und Lieferadresse).<br>
Eine Änderung der Adressdaten in bestehenden Aufträgen im Bereich <strong>Mein Konto</strong> durch einen Kunden ist nur möglich, wenn die Zahlungsart für das Land der neuen Adresse freigeschaltet ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Angabe Lieferdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Momentan ohne Funktion</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externe Umsatzsteuer-ID-Prüfung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Prüfung der Umsatzsteuer-ID erfolgt, wenn als Anrede eine Firma eingetragen wurde und eine Umsatzsteuer-ID hinterlegt wurde. Bei Problemen mit der externen Prüfung kann die Funktion deaktiviert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Duplikat-Prüfung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob bei der Kundenregistrierung im Bestellvorgang bei der Prüfung auf Duplikate Anschrift und E-Mail-Adresse oder nur die E-Mail-Adresse geprüft wird.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>