<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_standardsprache_deines_systems"><span>1.</span><span> Standardsprache deines Systems</span></a></li>
<li><a href="#_design_auf_eine_andere_sprache_übertragen"><span>2.</span><span> Design auf eine andere Sprache übertragen</span></a></li>
<li><a href="#_weitere_sprachen_aktivieren"><span>3.</span><span> Weitere Sprachen aktivieren</span></a></li>
<li><a href="#_mehrsprachige_kategorien"><span>4.</span><span> Mehrsprachige Kategorien</span></a>
<ul class="sectlevel2">
<li><a href="#_einsprachige_ansicht"><span>4.1.</span><span> Einsprachige Ansicht</span></a></li>
<li><a href="#_mehrsprachige_ansicht"><span>4.2.</span><span> Mehrsprachige Ansicht</span></a></li>
</ul>
</li>
<li><a href="#_sprachvariante_eines_artikels_anlegen"><span>5.</span><span> Sprachvariante eines Artikels anlegen</span></a></li>
<li><a href="#_url_aufbau_der_sprachvarianten"><span>6.</span><span> URL-Aufbau der Sprachvarianten</span></a></li>
<li><a href="#_sprachvariante_einer_e_mail_vorlage_einrichten"><span>7.</span><span> Sprachvariante einer E-Mail-Vorlage einrichten</span></a></li>
<li><a href="#_sprachvariante_eines_pdf_dokuments_anlegen"><span>8.</span><span> Sprachvariante eines PDF-Dokuments anlegen</span></a></li>
<li><a href="#_template_funktionen_für_sprachen_ins_design_einfügen"><span>9.</span><span> Template-Funktionen für Sprachen ins Design einfügen</span></a>
<ul class="sectlevel2">
<li><a href="#_textlinks_im_webshop"><span>9.1.</span><span> Textlinks im Webshop</span></a></li>
<li><a href="#_flaggensymbole_im_webshop"><span>9.2.</span><span> Flaggensymbole im Webshop</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: Mehrsprachiger Webshop</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Der neue Webshop <strong>Ceres</strong></div>
<div class="paragraph">
<p>Webshop-Projekte werden ab sofort auf Basis des Webshop-Plugins <a href="/omni-channel/online-shop/ceres-einrichten">Ceres</a> umgesetzt. Der neue Webshop nutzt die aktuelle und zukunftssichere <a href="/basics/erste-schritte/plugins">Plugin-Technologie</a> und kann einfach und individuell durch zusätzliche Plugins aus dem <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a> erweitert werden.</p>
</div>
<div class="paragraph">
<p>Webshops, die mit dem alten CMS erstellt wurden, werden für einen Übergangszeitraum natürlich weiterhin gepflegt, aber funktionell nicht mehr erweitert. Wir empfehlen bei allen geplanten Projekten ab sofort auf <strong>Ceres</strong> zu setzen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die Einrichtung eines mehrsprachigen Webshops erfordert einige Schritte in unterschiedlichen Menüs deines plentymarkets Systems. Alle dafür notwendigen Einstellungen findest du in den folgenden Kapiteln. Die hier beschriebene Reihenfolge kann variiert werden, jedoch müssen alle Schritte durchgeführt werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_standardsprache_deines_systems">1. Standardsprache deines Systems</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Jedes plentymarkets System wird in einer Standardsprache installiert. Diese Standardsprache dient als Vorauswahl für alle Bereiche deines Systems, in denen Informationen mehrsprachig abgespeichert werden können. Dies sind u.a. die Bereiche <strong>Webdesign</strong>, <strong>Kategorien</strong> und <strong>Artikel</strong>.</p>
</div>
<div class="paragraph">
<p>Nach dem Speichern springt das System jeweils auf diese Vorauswahl zurück, sodass du die Sprache, die du bearbeiten möchtest, erneut wählen musst.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Webshop und Artikel vollständig multilingual einrichten</div>
<div class="paragraph">
<p>Wenn du deinen Webshop mehrsprachig einrichten möchtest, achte darauf, alle Bereiche, also <strong>Webdesign</strong> (PageDesign und alle Templates), <strong>Artikel</strong> und <strong>Kategorien</strong> in den betreffenden Sprachen einzurichten. Nur so ist gewährleistet, dass deine Artikel in der zweiten Sprache korrekt angezeigt werden und auch über die fremdsprachliche URL erreichbar sind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_design_auf_eine_andere_sprache_übertragen">2. Design auf eine andere Sprache übertragen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>CMS</strong> ist es möglich, das Design der Standardsprache deines Webshops auf eine andere Sprache zu übertragen. So sind nur noch textliche Anpassungen in der Zielsprache nötig, während der Shop in der Standardsprache gespiegelt wird.</p>
</div>
<div class="paragraph instruction">
<p>Design übertragen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS&nbsp;» Webdesign</strong>.</p>
</li>
<li>
<p>Klicke auf das Icon <strong>Design übertragen</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Quelle</strong> das Design, von dem Eigenschaften übernommen werden sollen, sowie dessen Sprache.</p>
</li>
<li>
<p>Wähle unter <strong>Ziel</strong> das Design, auf das die Eigenschaften übertragen werden sollen, sowie dessen Sprache.</p>
</li>
<li>
<p>Setze ein Häkchen bei den Bereichen, die von der Quelle auf das Ziel übertragen werden sollen.</p>
</li>
<li>
<p>Klicke auf <strong>Design übertragen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Auf diese Weise können aus einem Design in einer Sprache Vorlagen für mehrere Sprachen angelegt werden, die dann nur noch sprachlich angepasst werden müssen. Das Design deiner Zweitsprache entspricht jetzt exakt dem Design deiner Erstsprache.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Anpassung des Layouts</div>
<div class="paragraph">
<p>Die Anpassung des Layouts an die Sprache nimmst du direkt im entsprechenden Template im Menü <strong>CMS&nbsp;» Webdesign&nbsp;» Layout</strong> vor. Wähle in der oberen Menüleiste zuerst die Sprache und dann links das zu bearbeitende Layout.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_weitere_sprachen_aktivieren">3. Weitere Sprachen aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für deinen Webshop kannst du mehrere Sprachen auswählen und entscheiden, ob du den gesamten Shop oder nur den <strong>Bestellvorgang</strong> multilingual ausgeben möchtest.
Du kannst das <strong>Design</strong> und die <strong>Sprachen</strong> im Webshop auch zu einem späteren Zeitpunkt kopieren bzw. aktivieren, z.B. wenn du bereits <strong>Artikel</strong> und <strong>Kategorien</strong> für die Sprache angelegt hast. Wenn du die Sprachen jedoch zu Beginn aktivierst, kannst du den Fortschritt unmittelbar im Webshop überprüfen. In der Grundeinstellung ist der <strong>Bestellvorgang</strong> bereits für Multilingualismus eingestellt.</p>
</div>
<div id="bild-konfiguration-multilingualismus" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/assets/DE-Mandant-Standard-Webshop-Multilingualismus-01-SI.png" alt="DE Mandant Standard Webshop Multilingualismus 01 SI">
</div>
<div class="title">Bild 1. <strong>Multilingualismus</strong> konfigurieren</div>
</div>
<div class="paragraph instruction">
<p>Sprachoptionen einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» Webshop&nbsp;» Multilingualismus</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-menue-multilingualismus">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-menue-multilingualismus" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. <strong>Einstellungen</strong> im Menü <strong>Multilingualismus</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option <strong>Bestellvorgang</strong> = Nur der Bestellvorgang wird multilingual angelegt.<br>
Option <strong>Artikel &amp; Layout &amp; Content-Seiten &amp; Bestellvorgang</strong> = Der gesamte Webshop wird für Multilingualismus aktiviert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprachen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Sprachen für die Mehrsprachigkeit wählen.<br>
Mehrere Sprachen mit Strg bzw. cmd + Mausklick markieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatische Spracherkennung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit der automatischen Spracherkennung erfolgt eine Weiterleitung entsprechend der gewählten <strong>Browser-Sprache</strong>. Die Konfiguration in <a href="#bild-konfiguration-multilingualismus">Bild 1</a> zeigt, dass für diesen Webshop die drei Sprachen <strong>Deutsch</strong>, <strong>Englisch</strong> und <strong>Französisch</strong> verfügbar sind. Die Standardsprache des Webshops ist <strong>Englisch</strong>.<br>
Wie im Beispiel in <a href="#bild-konfiguration-multilingualismus">Bild 1</a> zu sehen, werden die <strong>Browser-Sprachen</strong> Deutsch, Englisch und Französisch den entsprechenden <strong>Shop-Sprachen</strong> zugeordnet, damit eine Weiterleitung auf die gewünschte Sprache erfolgt.<br>
Für alle anderen <strong>Browser-Sprachen</strong> eine <strong>Shop-Sprache</strong> einstellen. Im Beispiel in <a href="#bild-konfiguration-multilingualismus">Bild 1</a> ist für alle Sprachen, die nicht im System bzw. im Webshop verfügbar sind, die Sprache <strong>Englisch</strong> gewählt, d.h. der Webshop wird automatisch in Englisch geöffnet.<br>
<em>*Wichtig:*</em> Wenn eine <strong>Browser-Sprache</strong> nicht erkannt wird oder nicht in der Liste enthalten ist, erfolgt eine Umleitung auf die Zielsprache, die im Menü unter <strong>Browser-Sprache</strong> bei der Option <strong>Standard</strong> eingestellt ist. Hier ist die Webshop-Sprache <strong>Englisch</strong> zu empfehlen. Diese Sprache muss auch in den Spracheinstellungen des Browsers enthalten sein.<br>
Wurde bei der ermittelten Sprache keine Auswahl getroffen, erfolgt eine Umleitung auf die Standardsprache im System, im Beispiel <strong>Englisch</strong>.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Du kannst deine Einstellungen überprüfen, indem du die URL deines Shops in einen Browser eingibst und den ISO-Code für die angelegte Sprache anhängst, z.B. <strong>www.name_ihres_shops.de/en/</strong> für Englisch oder <strong>www.name_ihres_shops.de/fr/</strong> für Französisch.</p>
</div>
<div class="paragraph">
<p>Wenn du z.B. nur den Bereich <strong>Bestellvorgang</strong> wählst und die Standardsprache deines Webshops mitwählst, hat dies keinen Einfluss auf die Standardsprache. Der Webshop bleibt in dieser Sprache vollständig verfügbar.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_mehrsprachige_kategorien">4. Mehrsprachige Kategorien</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel wird zunächst erläutert, wie du mehrsprachige Kategorien des Typs <strong>Content</strong>, <strong>Artikel</strong> und <strong>Container</strong> anlegst. Dabei wird davon ausgegangen, dass die Kategorien bereits in einer Sprache vorliegen, der Standardsprache deines Shops.<br></p>
</div>
<div class="paragraph">
<p>Du kannst entweder eine mehrsprachige Bearbeitungsansicht wählen oder eine einsprachige. Bei der mehrsprachigen Ansicht hast du die Möglichkeit, zwei Sprachen parallel zu bearbeiten.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Sichtbarkeit im Menü Artikel&nbsp;» Kategorien</div>
<div class="paragraph">
<p>Damit die Kategorien im Verzeichnisbaum des Menüs <strong>Artikel&nbsp;» Kategorien</strong> erscheinen, musst du in der Standardsprache deines Systems angelegt werden, d.h. du musst der Kategorie in der Standardsprache zumindest einen Seitennamen geben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_einsprachige_ansicht">4.1. Einsprachige Ansicht</h3>
<div class="paragraph">
<p>Eine Sprachvariante einer bestehenden Kategorie legst du wie im Folgenden beschrieben an.</p>
</div>
<div class="paragraph instruction">
<p>Sprachvariante einer bestehenden Kategorie anlegen (einsprachig):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel&nbsp;» Kategorien</strong>.</p>
</li>
<li>
<p>Klicke im Verzeichnisbaum auf die gewünschte Kategorie.<br>
→ Die Kategorie wird geöffnet.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Sprache</strong> die Sprache, in der du die Kategorie anlegen möchtest (z. B. Englisch).<br>
→ Die Kategorie öffnet sich erneut in der ausgewählten Sprache.</p>
</li>
<li>
<p>Bleibe im Tab <strong>Einstellungen</strong> und trage unter <strong>Name</strong> eine Bezeichnung für die Seite ein.</p>
</li>
<li>
<p>Wähle eine <strong>Template-Seite</strong>, eine <strong>Template-Liste</strong>, ein <strong>Template-Produkt</strong> und eine Option zur <strong>Volltextsuche</strong>. Beachte dabei die Einstellungen der Kategorie in der Standardsprache.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.<br>
→ Die Einträge werden gespeichert und der Pfad der Seite wird angelegt. Er ist in der Zeile <strong>URL</strong> sichtbar.</p>
</li>
<li>
<p>Füge die Inhalte in der gewünschten Sprache ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du jetzt im Webshop die entsprechende Sprache wählst, wird die Sprachversion der Kategorie angezeigt.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Wichtig für Unterseiten</div>
<div class="paragraph">
<p>Die Einstellungen der Sprachversionen werden nur wirksam, wenn die Spracheinstellungen des jeweils übergeordneten Ordners bis in die Hauptebene genau so vorgenommen wurden. Das bedeutet, du musst für die übergeordneten Ebenen die Spracheinstellungen zuerst vornehmen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_mehrsprachige_ansicht">4.2. Mehrsprachige Ansicht</h3>
<div class="paragraph">
<p>Um eine Sprachvariante einer bestehenden Kategorie in der mehrsprachigen Ansicht hinzuzufügen, gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Sprachvariante einer bestehenden Kategorie anlegen (mehrsprachig):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel&nbsp;» Kategorien</strong>.</p>
</li>
<li>
<p>Klicke im Verzeichnisbaum auf die gewünschte Kategorie.<br>
→ Die Kategorie wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das Icon <strong>Multilingualität</strong>.<br>
→ Die mehrsprachige Ansicht der Kategorie wird geöffnet.</p>
</li>
<li>
<p>Wähle links und rechts die gewünschten Sprachen.</p>
</li>
<li>
<p>Trage in die Felder <strong>Name</strong>, <strong>URL-Name</strong> und <strong>Meta-Titel</strong> jeweils die gewünschten Bezeichnungen ein.</p>
</li>
<li>
<p>Trage die fremdsprachigen Texte und Inhalte in das Textfeld <strong>Beschreibung&nbsp;1</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wähle wie oben beschrieben die Sprache im Webshop, um die Kategorie in der neuen Sprachversion anzuzeigen.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Bedingungen für Sichtbarkeit im Webshop</div>
<div class="paragraph">
<p>Um eine Sprachvariante einer Kategorie im Webshop anzeigen zu können, muss für die Kategorie in der Standardsprache mindestens ein Artikel hinterlegt sein und die Kategorie muss aktiviert sein. Setze dazu unter <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» Kategorien&nbsp;» Aktivieren</strong> ein Häkchen bei der Kategorie.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_sprachvariante_eines_artikels_anlegen">5. Sprachvariante eines Artikels anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Standardsprache deines Systems spielt auch hier eine wichtige Rolle, da die Artikel in der Artikelübersicht nur in der Standardsprache angezeigt werden. Außerdem kannst du Artikel, die nicht in der Standardsprache deines Systems vorliegen, nicht für den Webshop aktivieren. Dies bedeutet, dass jeder Artikel immer zuerst in der Standardsprache angelegt werden muss und dann übersetzt werden kann.</p>
</div>
<div class="paragraph">
<p>Für Artikel legst du keine separaten Varianten in einer weiteren Sprache an, sondern legst innerhalb des Artikels weitere Sprachvarianten an. Diese Inhalte werden dann durch Sprachumstellung im Webshop angezeigt.</p>
</div>
<div class="paragraph">
<p>Wenn du Sprachvarianten für Artikel und Kategorien angelegt hast, kannst du im Webshop per Sprachauswahl ganz einfach die Sprache wechseln. Dazu gehört auch, dass du für die jeweilige Sprache ein <a href="/online-shop/cms#20">Design</a> angelegt hast.</p>
</div>
<div class="paragraph instruction">
<p>Sprachvariante eines Artikels anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel&nbsp;» Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den gewünschten <strong>Artikel</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Texte</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Öffne Sprache</strong> die gewünschte Sprache.</p>
</li>
<li>
<p>Trage im Feld <strong>Name&nbsp;1</strong> einen Namen (Übersetzung) für den Artikel in der gewählten Sprache ein.</p>
</li>
<li>
<p>Füge alle weiteren <strong>Texte</strong> hinzu (Artikeltext, Technische Daten etc.).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Sprachvariante des Artikels wurde erstellt und der Artikel ist im Webshop sichtbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn der Artikel im Webshop nicht sichtbar ist, überprüfe, ob der Artikel im Tab <strong>Verfügbarkeit</strong> für den Webshop auf <strong>sichtbar</strong> gestellt ist und die <strong>Kategorie</strong>, in der sich der Artikel befindet, aktiviert ist. Diese Einstellungen sind nicht sprachabhängig und gelten für alle Sprachvarianten einer Kategorie bzw. eines Artikels.</p>
</div>
<div class="paragraph">
<p>Verknüpfe den Artikel mit einer Kategorie im Tab <strong>Kategorien</strong> des Artikels. Weitere Details zum Verknüpfen von Artikeln mit Kategorien findest du auf der Handbuchseite <a href="/artikel/artikel-verwalten#300">Kategorien</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_url_aufbau_der_sprachvarianten">6. URL-Aufbau der Sprachvarianten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In die <strong>URL</strong> der Sprachvarianten wird das Sprachkürzel automatisch eingefügt, bei Englisch z. B. <strong>en</strong>. Somit ist an der URL sofort die Sprachversion zu erkennen.</p>
</div>
<div class="paragraph">
<p>Dies gilt nur für die Sprachvarianten. In der URL der Webshop-Standardsprache wird das Sprachkürzel nicht angezeigt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/assets/DE-Mandant-Standard-Webshop-Multilingualismus-03-SI.png" alt="DE Mandant Standard Webshop Multilingualismus 03 SI">
</div>
<div class="title">Bild 2. Sprachkürzel in der URL einer englischen Artikel-Sprachvariante</div>
</div>
<div class="paragraph">
<p>Dies gilt analog auch für <strong>Kategorien</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_sprachvariante_einer_e_mail_vorlage_einrichten">7. Sprachvariante einer E-Mail-Vorlage einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Alle E-Mails, die über plentymarkets versendet werden, basieren auf <strong>E-Mail-Vorlagen</strong>. Diese werden im Menü <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» E-Mail&nbsp;» Vorlagen</strong> verwaltet. Du kannst die E-Mail-Vorlagen dort lesen und ändern sowie neue Vorlagen erstellen. Ein plentymarkets System enthält bereits verschiedene vorkonfigurierte E-Mail-Vorlagen.
Je nachdem, in welcher Sprache deine Kund*innen den Webshop nutzen, greift die entsprechende Sprachvariante der E-Mail-Vorlage.</p>
</div>
<div class="paragraph instruction">
<p>Sprachvariante einer bestehenden E-Mail-Vorlage einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» E-Mail&nbsp;» Vorlagen</strong>.</p>
</li>
<li>
<p>Öffne die gewünschte <strong>E-Mail-Vorlage</strong> z.B. <strong>Webshop: Eingangsbestätigung Bestellung</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>E-Mail-Nachricht</strong>.</p>
</li>
<li>
<p>Wähle die gewünschte Sprache aus der Dropdown-Liste <strong>Sprache wählen</strong>.</p>
</li>
<li>
<p>Trage einen <strong>Betreff</strong> ein, z.B. auf Englisch "Order confirmation. Thanks for shopping at www.name_ihres_shops.de".</p>
</li>
<li>
<p>Füge den entsprechenden Text in das Feld <strong>Inhalt</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Sprachvariante der E-Mail-Vorlage wurde erstellt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Details zu <strong>Template-Funktionen und -Variablen</strong>, die du in E-Mail-Vorlagen verwenden kannst, findest du unter <a href="/crm/e-mails-versenden#1200">Vorlagen</a>.</p>
</div>
<div class="paragraph">
<p>Um deine E-Mail-Vorlagen bei gewählten Events automatisch zu versenden, legst du Ereignisaktionen an. Weitere Details zum automatischen E-Mail-Versand findest du auf den Handbuchseiten <a href="/crm/e-mails-versenden#2300">Automatischer Versand</a> und <a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_sprachvariante_eines_pdf_dokuments_anlegen">8. Sprachvariante eines PDF-Dokuments anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit nicht nur der Webshop mehrsprachig angezeigt wird, sondern auch Dokumente wie Rechnungen, Lieferscheine, Gutschriften etc. in der richtigen Sprache beim Kunden ankommen, können auch deren Vorlagen mehrsprachig eingerichtet werden.</p>
</div>
<div class="paragraph instruction">
<p>Sprachvariante einer bestehenden Dokumentvorlage einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen&nbsp;» Standorte&nbsp;» Dokumente</strong>.</p>
</li>
<li>
<p>Wähle das gewünschte Dokument.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste die gewünschte Sprachvariante für das Dokument.</p>
</li>
<li>
<p>Nimm alle Einstellungen wie gewünscht vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Sprachvariante der Dokumentvorlage wurde erstellt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Alternativ kannst du im Tab <strong>Transfer</strong> die Einstellungen einer anderen Sprache und/oder Dokumentvorlage kopieren und anschließend bearbeiten. Dies ist sinnvoll, wenn du bereits eine vollständig eingerichtete Dokumentvorlage hast. So stellst du sicher, dass die Vorlage für die nächste Sprache grundsätzlich gleich aufgebaut ist.
Weitere Details zu diesen Dokumenten und den Einstellungen findest du auf der Handbuchseite <a href="/auftraege/auftragsdokumente">Auftragsdokumente</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_template_funktionen_für_sprachen_ins_design_einfügen">9. Template-Funktionen für Sprachen ins Design einfügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit deine Kunden schnell und einfach von einer Sprache deines Webshops auf eine andere wechseln können, ist das Einfügen von Template-Funktionen in dein Webshop-Layout notwendig.
Verwende hierfür die Template-Funktionen <strong>Link_Lang("DE") &#37;&#125;</strong>, <strong>Link_Lang("EN") &#37;&#125;</strong>, <strong>Link_Lang("FR") &#37;&#125;</strong> usw.
Je nachdem, zu welchem Zeitpunkt du deinen Kunden ermöglichen willst zu wechseln, ist eine Einbindung in das entsprechende Layout notwendig.
Im folgenden Beispiel wird ein Link im deutschen Seiten-Layout <strong>PageDesignContent</strong> für den englischsprachigen Webshop eingefügt.</p>
</div>
<div class="sect2">
<h3 id="_textlinks_im_webshop">9.1. Textlinks im Webshop</h3>
<div class="paragraph instruction">
<p>Template-Funktion für Sprachen ins Layout einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS&nbsp;» Webdesign</strong>.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Sprache</strong> die Sprache des Designs, die du bearbeiten möchtest, z.B. <strong>Deutsch</strong>.</p>
</li>
<li>
<p>Wähle links im Verzeichnisbaum <strong>Layout&nbsp;» PageDesign&nbsp;» PageDesignContent</strong>.<br>
→ Das Layout öffnet sich in der gewählten Sprache.</p>
</li>
<li>
<p>Füge die <strong>Template-Funktion</strong> für die gewünschte Sprache, für Englisch <strong>Link_Lang("EN") &#37;&#125;</strong>, an der gewünschten Stelle im Layout ein.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.<br>
→ Der Link erscheint im deutschsprachigen Webshop.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Klicke auf den Link, um die Sprache zu wechseln.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiele</div>
<div class="paragraph">
<p>&lt;a href=" Link_Lang("EN") &#37;&#125;"&gt;English&lt;/a&gt;<br>
&lt;a href=" Link_Lang("DE") &#37;&#125;"&gt;Deutsch&lt;/a&gt;</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_flaggensymbole_im_webshop">9.2. Flaggensymbole im Webshop</h3>
<div class="paragraph">
<p>Um statt eines einfachen Textlinks Flaggensymbole in deinen Webshop einzubinden, mit deren Hilfe deine Kunden die Sprache wechseln können, gehst du wie im Folgenden beschrieben vor. Die Vorgehensweise ähnelt der zum Einbinden von Textlinks, nur gibst du statt des Texts die URL des Bildes ein.</p>
</div>
<div class="paragraph instruction">
<p>Flaggensymbole im Design einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS&nbsp;» Webspace</strong>.</p>
</li>
<li>
<p>Wähle dort <strong>layout&nbsp;» Ihr aktives Layout&nbsp;» img</strong>.</p>
</li>
<li>
<p>Klicke auf die Schaltfläche <strong>Dateien hochladen</strong> und wähle den Speicherort der gespeicherten Flaggen.</p>
</li>
<li>
<p>Wähle die gewünschten Bilder der Flaggen und klicke auf <strong>Öffnen</strong>. Alternativ kannst du die Bilder auch per Drag- &amp; Drop-Funktion in den Ordner einfügen.<br>
→ Die Bilder werden hochgeladen.</p>
</li>
<li>
<p>Öffne ein Bild, z.B. die Flagge der USA.</p>
</li>
<li>
<p>Notiere dir die URL, z.B. <strong>/layout/stonepattern/images/Flagge_USA.png</strong>. Diese setzt sich zusammen aus dem Pfad links oben in der Dropdown-Liste und dem Bildnamen mit Endung.</p>
</li>
<li>
<p>Öffne das Menü <strong>CMS&nbsp;» Webdesign</strong>.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Sprache</strong> die Sprache des Designs, die du bearbeiten möchtest, z.B. Deutsch.</p>
</li>
<li>
<p>Wähle im Verzeichnisbaum unter Layout <strong>PageDesignContent</strong>.<br>
→ Das Layout öffnet sich in der gewählten Sprache.</p>
</li>
<li>
<p>Füge die <strong>Template-Funktion</strong> für die gewünschte Sprache&nbsp;– für Englisch <strong>Link_Lang("EN") &#37;&#125;</strong>&nbsp;– und den <strong>Bildpfad</strong> an der gewünschten Stelle im Layout ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Flagge erscheint im deutschsprachigen Webshop.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel</div>
<div class="paragraph">
<p>&lt;a href=" Link_Lang("EN") &#37;&#125;&gt;English&lt;img src="/layout/stonepattern/images/Flagge_USA.png"&gt;&lt;/a&gt;</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>