<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#grundeinstellungen"><span>1.</span><span> Konfiguration</span></a></li>
<li><a href="#auftragsinformationen"><span>2.</span><span> Auftragsinformationen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alter Webshop: Mein Konto</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Der neue Webshop <strong>Ceres</strong></div>
<div class="paragraph">
<p>Webshop-Projekte werden ab sofort auf Basis des Webshop-Plugins <a href="/omni-channel/online-shop/ceres-einrichten">Ceres</a> umgesetzt. Der neue Webshop nutzt die aktuelle und zukunftssichere <a href="/basics/erste-schritte/plugins">Plugin-Technologie</a> und kann einfach und individuell durch zusätzliche Plugins aus dem <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a> erweitert werden.</p>
</div>
<div class="paragraph">
<p>Webshops, die mit dem alten CMS erstellt wurden, werden für einen Übergangszeitraum natürlich weiterhin gepflegt, aber funktionell nicht mehr erweitert. Wir empfehlen bei allen geplanten Projekten ab sofort auf <strong>Ceres</strong> zu setzen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Menü <strong>Einrichtung » Mandant » Mandant wählen » Mein Konto » Einstellungen</strong> enthält Grundeinstellungen
für den individuellen Kundenbereich deines Webshops. Du kannst hier wählen, ob bestimmte Features aktiviert oder
deaktiviert sein sollen und ob Informationen, wie z. B. Gewichte und Optionen zur Preisdarstellung,
im <a href="/omni-channel/online-shop/webshop-einrichten/cms#webdesign-webdesign-bearbeiten-mein-konto">Mein Konto</a>-Bereich angezeigt werden sollen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="grundeinstellungen">1. Konfiguration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Einstellungen dieses Menüs werden nachfolgend in <a href="#tabelle-details-konto-einstellungen">Tabelle 1</a> erläutert. Dort findest du auch Hinweise und Links zu weiteren Handbuchseiten, die Details zu den Funktionen enthalten, deren grundlegende Konfigurationen du hier vornimmst.</p>
</div>
<div class="paragraph instruction">
<p>Mein Konto-Grundeinstellungen konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Mein Konto » Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß der nachfolgenden Tabelle vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-details-konto-einstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Details zu den Einstellungen im Menü <strong>Einstellungen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenlogin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, mit welchen Daten sich Kunden im Webshop anmelden sollen. Mit <strong>E-Mail-Adresse und Passwort</strong> oder <strong>Kunden-ID und Passwort</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gültigkeit der Kaufabwicklungs-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, wie lange eine URL zur Kaufabwicklung nach erfolgter Generierung gültig sein soll: Zur Auswahl stehen unterschiedliche Zeitspannen zwischen <strong>7</strong> und <strong>360 Tagen</strong> sowie die Einstellung <strong>Nie</strong>. Ist die Option <strong>Nie</strong> eingestellt, muss ein Kunde sich im Mein Konto-Bereich zuerst einloggen, bevor die Auftragsinformationen über die Kaufabwicklungs-URL zugänglich sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Merkliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Merkliste im Webshop <strong>aktivieren</strong> oder <strong>deaktivieren</strong>.<br>
<strong><em>Info</em></strong>: Das entsprechende Untermenü im Bereich <a href="/omni-channel/online-shop/webshop-einrichten/cms#webdesign-webdesign-bearbeiten-mein-konto#">CMS » Webdesign » Mein Konto</a> wird erst sichtbar, wenn diese Funktion aktiviert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wunschzettel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiviert</strong> oder <strong>deaktiviert</strong> die Funktion <strong>Wunschzettel</strong>.<br>
<strong><em>Info</em></strong>: Das entsprechende Untermenü im Bereich <a href="/omni-channel/online-shop/webshop-einrichten/cms#webdesign-webdesign-bearbeiten-mein-konto#">CMS » Webdesign » Mein Konto</a> wird erst sichtbar, wenn diese Funktion aktiviert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokumente</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiviert</strong> oder <strong>deaktiviert</strong> die Funktion zum Download von Dokumenten im Webshop.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datenexport</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiviert</strong> oder <strong>deaktiviert</strong> die Funktion zum Download von Datenformaten im Webshop.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meine Gutscheine</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiviert</strong> oder <strong>deaktiviert</strong> die Anzeige der Gutscheine des Kunden.[#10]</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Kunden, Retouren im Kontobereich selbst anzulegen oder nicht.<br>
<strong>Aktiviert</strong> = Kunde kann Retouren anlegen. Etiketten werden jedoch nicht bereitgestellt. Wie du weiter verfährst, wenn der Kunde eine Retoure anmeldet, bleibt dir überlassen. Du kannst dem Kunden z.B. ein Etikett per E-Mail zusenden.<br>
<a href="/fulfillment/versand-vorbereiten#3200">DHL Retoure Online</a> = Kunde kann Retoure anlegen und kann anschließend das Retourenetikett von DHL downloaden und ausdrucken.<br>
<strong>Deaktiviert</strong> = Kunde kann keine Retoure anlegen. Wie du Retouren stattdessen handhabst, musst du entscheiden, Kunden könnten z.B. auch telefonisch oder per E-Mail Retouren bei dir melden.<br>
Wenn du erlaubst, dass Kunden Retouren selbst anlegen können, stehen die <a href="/auftraege/auftraege-verwalten#400">Retourengründe</a>, die du eingetragen hast, auch im Mein-Konto-Bereich zur Auswahl.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preisdarstellung für Wunschzettel und Merkliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für die Preisdarstellung im Webshop gibt es folgende Optionen: <strong>Nur Artikelpreis</strong>, <strong>Artikelpreis mit Stern (</strong>)<strong>, *Preis mit MwSt. und Versand</strong><br>
<strong><em>Tipp</em></strong>: Die Option <strong>Artikelpreis mit Stern(</strong>)* kann eingesetzt werden, wenn unter dem Stern ein Hinweis zum Artikelpreis erscheinen soll, z. B. auf die MwSt.<br>
<strong><em>Info</em></strong>: Die Option <strong>Preis mit MwSt. und Versand</strong> ist z. B. für eine Trusted Shops-Zertifizierung nötig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandgewicht in Wunschzettel und Merkliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiviert</strong> oder <strong>deaktiviert</strong> die Anzeige des Versandgewichts in Wunschzettel und Merkliste.<br>
<strong><em>Wichtig</em></strong>: Bei aktivierter Anzeige, sollte die Einstellungen der Zahlenformate unter <a href="/_includes/presets/zahlenformate">Einrichtung » Einstellungen » Zahlenformate</a> geprüft werden. Wenn hier beispielsweise <strong>in Kilogramm: keine Nachkommastelle</strong> eingestellt ist, werden Gewichte unter 1000 Gramm als 0 angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Abonnements</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiviert</strong> oder <strong>deaktiviert</strong> die Anzeige des Bereichs <strong>Abonnements</strong>.<br>
<strong><em>Info</em></strong>: Das entsprechende Untermenü im Bereich <a href="/omni-channel/online-shop/webshop-einrichten/cms#webdesign-webdesign-bearbeiten-mein-konto">CMS » Webdesign » Mein Konto</a> wird erst sichtbar, wenn diese Funktion aktiviert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart Abonnements</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Einstellung legt fest, ob die Zahlungsart für ein Abonnement <strong>durch den Kunden änderbar</strong> ist oder nicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Download-Link-SEPA-Lastschriftmandat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiviert</strong> oder <strong>deaktiviert</strong> die Anzeige des Download-Links.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail-Adresse ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Einstellung dient dazu, die Anzeige der Option zur Änderung der E-Mail-Adresse zu <strong>aktivieren</strong> oder zu <strong>deaktivieren</strong>.<br>
Zur Änderung muss das Passwort des Kontos eingegeben werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Einstellung dient dazu, die Anzeige der Option zur Änderung des <a href="/basics/admin-aufgaben/benutzer-verwalten">Passworts</a> zu <strong>aktivieren</strong> oder zu <strong>deaktivieren</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail-Bestätigung bei Passwortänderung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiviert</strong> oder <strong>deaktiviert</strong> die automatische E-Mail-Bestätigung bei Passwortänderung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logout ausblenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiviert</strong> oder <strong>deaktiviert</strong> die Sichtbarkeit der Logout-Funktion.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="auftragsinformationen">2. Auftragsinformationen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Mandant » Mandant wählen » Mein Konto » Auftragsinformationen</strong> hinterlegst du Einstellungen, die die Sichtbarkeit von Informationen in Aufträgen steuern.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsinformationen konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Mein Konto » Auftragsinformationen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-details-konto-einstellungen">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen im Menü <strong>Auftragsinformationen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statushistorie</strong>;<br>
<strong>Warenausgangsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Informationen zur Statushistorie bzw. das Warenausgangsdatum in der Auftragsübersicht angezeigt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gewichte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Gewichte im Auftrag angezeigt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Kunden die Rechnung zum Auftrag herunterladen können.<br>
<strong>Download für Kunden nicht ermöglichen</strong> = Kunden können Rechnungen nicht herunterladen.<br>
<strong>Download von internen Rechnungen für Kunden ermöglichen</strong> = Kunden können nur interne Rechnungen herunterladen., d.h. Rechnungen zu Aufträgen aus dem Webshop.<br>
<strong>Download von externen Rechnungen für Kunden ermöglichen</strong> = Kunden können zusätzlich zu internen Rechnungen auch externe Rechnungen herunterladen, d.h. z.B. Rechnungen, die von einem Marktplatz in das System kommen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Voraussichtliches Versanddatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob das voraussichtliche Versanddatum im Webshop angezeigt werden soll.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>