<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Choosing the right hardware</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Case 1: Managing company data</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Case 2: Mobile inventory management system</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Case 3: The plentymarkets mobile POS system</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.</span><span> Downloading the app</span></a></li>
<li><a href="#600"><span>3.</span><span> Granting access to the app</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>3.1.</span><span> Creating user accounts</span></a></li>
<li><a href="#800"><span>3.2.</span><span> Defining rights</span></a></li>
<li><a href="#900"><span>3.3.</span><span> Assigning an app PIN</span></a></li>
<li><a href="#1000"><span>3.4.</span><span> Simultaneous use</span></a></li>
</ul>
</li>
<li><a href="#1100"><span>4.</span><span> Logging in and finding your way around</span></a>
<ul class="sectlevel2">
<li><a href="#1200"><span>4.1.</span><span> Logging into the app</span></a></li>
<li><a href="#1300"><span>4.2.</span><span> Finding your way around the app</span></a></li>
</ul>
</li>
<li><a href="#1400"><span>5.</span><span> Logging out, locking the screen or switching the account</span></a>
<ul class="sectlevel2">
<li><a href="#1500"><span>5.1.</span><span> Logging out of the app</span></a></li>
<li><a href="#1600"><span>5.2.</span><span> Locking and unlocking the screen</span></a></li>
<li><a href="#1700"><span>5.3.</span><span> Switching to a different user account</span></a></li>
</ul>
</li>
<li><a href="#1800"><span>6.</span><span> Customising the app</span></a>
<ul class="sectlevel2">
<li><a href="#1900"><span>6.1.</span><span> Working with templates</span></a></li>
<li><a href="#2000"><span>6.2.</span><span> Choosing a background image</span></a></li>
</ul>
</li>
<li><a href="#2100"><span>7.</span><span> Updating the app</span></a></li>
<li><a href="#2150"><span>8.</span><span> Uninstalling the app</span></a></li>
<li><a href="#2200"><span>9.</span><span> Troubleshooting</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Installation and setup</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Want your business to <a href="/en/app">profit from the plentymarkets app</a>? Don’t lose any time! Start setting up the app on the appropriate hardware.</p>
</div>
<div class="paragraph">
<p>This page guides you through the installation process step-by-step and helps you complete the tasks that need to be done in advance. The settings described on this page go into effect when you begin <a href="/en/app/functions">using the app functions</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Choosing the right hardware</h2>
<div class="sectionbody">
<div class="paragraph">
<p>What do you want to use the app for? Which hardware you need depends on what you want to do with the app.</p>
</div>
<div class="paragraph">
<p>Do you want to see key performance indicators or track customer, item and order data? You only need a mobile Android or iOS device for these functions.</p>
</div>
<div class="paragraph">
<p>In addition, the plentymarkets app allows you to perform stock management tasks and to use the point of sale system plentymarkets POS. We recommend that you book a <a href="https://www.plentypos.de/" target="_blank" rel="noopener">hardware package</a> if you want to use these additional functions.</p>
</div>
<div class="sect2">
<h3 id="200">1.1. Case 1: Managing company data</h3>
<div class="paragraph">
<p>If you only want to use the plentymarkets app to manage business data, i.e. if you don’t want to operate a POS system or manage stock, then you only need a mobile Android or iOS device. <a href="#table-requirements-key-figures">Table 1</a> lists the hardware requirements for the plentymarkets app, assuming you only want to access key figures and other business data.</p>
</div>
<table id="table-requirements-key-figures" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Managing business data with the plentymarkets app</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Device type</th>
<th class="tableblock halign-left valign-top">Requirements</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Android devices</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">OS version 4.2.2 or higher</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">iOS devices</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version 8 or higher</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">1.2. Case 2: Mobile inventory management system</h3>
<div class="paragraph">
<p>If you want to use the plentymarkets app for managing the stock of your warehouse, we recommend the hardware listed in <a href="#table-requirements-inventory-management">Table 2</a>.</p>
</div>
<table id="table-requirements-inventory-management" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Managing stock with the plentymarkets app</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Hardware</th>
<th class="tableblock halign-left valign-top">Where to buy in Germany</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">M3 SM10 Mobile Computer<br>
(Android 5.1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://www.sundsits.de/M3SM10-Mobile-Computer-WiFi-und-LTE" target="_blank" rel="noopener">www.sundsits.de/M3SM10-Mobile-Computer-WiFi-und-LTE</a><br></p>
<p class="tableblock">SundS ITS<br>
Beselerstr. 2-6<br>
50354 Hürth, Germany<br>
<a href="mailto:info@sundsits.de">info@sundsits.de</a><br>
Phone: +49(0)2233-7064010<br>
Fax: +49(0)2233-7064011<br>
<a href="https://www.sundsits.de" target="_blank" rel="noopener">www.sundsits.de</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Honeywell Dolphin 75e<br>
(Android 4.4.4)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.globos.de/produkte/honeywell-dolphin-75e-mobilecomputer" target="_blank" rel="noopener">www.globos.de/produkte/honeywell-dolphin-75e-mobilecomputer</a></p>
<p class="tableblock">GLOBOS Logistik- und Informationssysteme GmbH<br>
Ahrensburger Straße 1<br>
30659 Hannover, Germany<br>
<a href="mailto:vertrieb@globos.de">vertrieb@globos.de</a><br>
Phone: +49 (511) 76920-0<br>
Fax: +49 (511) 76920-250<br>
<a href="http://www.globos.de" target="_blank" rel="noopener">www.globos.de</a></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">1.3. Case 3: The plentymarkets mobile POS system</h3>
<div class="paragraph">
<p>The <a href="/en/pos">point of sale system plentymarkets POS</a> is an optional component of the plentymarkets app. However, please note that there are additional hardware requirements for using plentymarkets POS. <a href="#table-requirements-pos">Table 3</a> shows the hardware that plentymarkets POS supports. The table also shows the devices on which plentymarkets tests new releases before publication.</p>
</div>
<table id="table-requirements-pos" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Supported hardware for plentymarkets POS</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Device type</th>
<th class="tableblock halign-left valign-top">General requirements</th>
<th class="tableblock halign-left valign-top">Tested devices</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operating systems</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Android devices with OS version 4.2.2 and higher, ARM processor and device classes Small, Normal, Large and X-Large. You can find out the DPI of a mobile device e.g. <a href="http://dpi.lv/" target="_blank" rel="noopener">here</a>.</p>
</li>
<li>
<p>iOS devices (iPad, iPhone, iPod) with OS version 8 and higher<br>
→ There are some limitations regarding the use of Bluetooth scanners on iOS devices.<br>
→ If you want to use the plentymarkets mobile POS system in Austria, then you can only operate it on Android devices.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>For every regular release</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Elo Touch Solutions I-Series 15I1 - E021201</p>
</li>
<li>
<p>Advantech UPOS-211 sundsits edition</p>
</li>
<li>
<p>Honeywell Dolphin 75e (Android 4.4.4)</p>
</li>
<li>
<p>M3 SM10 (Android 5.1)</p>
</li>
<li>
<p>Samsung Galaxy Tab A 6 - SM-T580</p>
</li>
<li>
<p>Apple iPad Air 2</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Regularly</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Samsung Galaxy Tab A - SM-T555</p>
</li>
<li>
<p>Samsung Galaxy Tab 4 - SM-T530</p>
</li>
<li>
<p>Apple iPad Mini Retina</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Selectively</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Samsung Galaxy S4</p>
</li>
<li>
<p>Apple iPhone 6</p>
</li>
<li>
<p>Apple iPad Mini</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Receipt printer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>ePos-Print API</p>
</li>
<li>
<p>Printers with LAN or WLAN only</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>EPSON TM-M30</p>
</li>
<li>
<p>EPSON TM-T88V-i (QR code printing)</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Scanner</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Scanners with USB or Bluetooth only</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Inateck BCST-10 (Bluetooth)</p>
</li>
<li>
<p>Albasca USB hand scanner MK-1000 (untested but used by several customers)</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer displays</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>In combination with receipt printer EPSON TM-M30 only</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>EPSON DM-D30</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Card terminals</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Requires a payment provider contract</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Ingenico iPP480 with printer (operating mode <strong>ZVT</strong>, connection type <strong>TCP/IP</strong>) - requires the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/ingenicozvt_5140" target="_blank" rel="noopener">Ingenico ZVT plugin</a></p>
</li>
<li>
<p>Verifone H5000 with printer (operating mode <strong>ZVT</strong>, connection type <strong>TCP/IP</strong>) - requires the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/VerifoneZVT_5504" target="_blank" rel="noopener">Verifone ZVT plugin</a></p>
</li>
<li>
<p>CCV VX 680 with printer (operating mode <strong>ZVT</strong>, connection type <strong>TCP/IP</strong>) - requires the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/VerifoneZVT_5504" target="_blank" rel="noopener">Verifone ZVT plugin</a></p>
</li>
<li>
<p>SumUp Air - requires the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/sumup_5141" target="_blank" rel="noopener">SumUp plugin</a><br>
<strong><em>Note:</em></strong> You need to activate access to location (geolocation positioning) on the mobile device on which the plentymarkets app is installed to use the SumUp Air with plentymarkets POS.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. Downloading the app</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The free plentymarkets app is available on Google Play and iTunes. Install the app on every mobile device that you want to use.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://play.google.com/store/apps/details?id=eu.plentymarkets.mobile&amp;hl=en" target="_blank" rel="noopener">plentymarkets app on Google Play</a></p>
</li>
<li>
<p><a href="https://apps.apple.com/gb/app/plentymarkets/id957702618" target="_blank" rel="noopener">plentymarkets app on iTunes</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Is your company data safe on this device?</div>
<div class="paragraph">
<p>The plentymarkets app is safe in the sense that users can only <a href="/en/app/installation#1200">log into the app with access data</a>. But since the app can contain sensitive business data, we still recommend that you spend a few minutes thinking about security. Are your employees allowed to download the app on their own smartphones? Do your devices’ screens lock with a PIN or a password? Spend some time thinking about how your company will answer these sorts of questions.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="600">3. Granting access to the app</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The app will only work if you’ve <a href="https://www.plentymarkets.co.uk/free-trial/" target="_blank" rel="noopener">booked a plentymarkets ERP system</a>. In other words, users will log in with the same access data as they use for the plentymarkets system.</p>
</div>
<div class="paragraph">
<p>First, grant access to all the employees who should use the plentymarkets app. Decide which app functions each employee should be allowed to use.</p>
</div>
<div class="sect2">
<h3 id="700">3.1. Creating user accounts</h3>
<div class="paragraph">
<p>Do all of your employees have a plentymarkets account? If not, log into your plentymarkets system and <a href="/en/basics/admin-tasks/manage-users#10">create the necessary accounts</a>.</p>
</div>
<div class="paragraph">
<p>Your employees will <a href="/en/app/installation#1200">log into the app</a> with whichever user name and password you’ve created for them.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Admin or back end account?</div>
<div class="paragraph">
<p>Admin users automatically have the right to access all plentymarkets functions without limitation. Think twice before you create admin accounts because they will also have the right to create, manage and edit other user accounts.<br>
If you want to choose which functions and menus a particular user is able to see, then create a back end account.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="800">3.2. Defining rights</h3>
<div class="paragraph">
<p>Should your employees be able to see all the functions in the app or just a few? Maybe your cashiers should have access to the mobile POS system but not to the inventory management functions.</p>
</div>
<div class="paragraph">
<p>In your plentymarkets system, you can decide which menus and key figures should be visible for each user account.</p>
</div>
<div class="paragraph instruction">
<p>Defining app rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open a <strong>Backend</strong> user account.<br>
<strong><em>Note:</em></strong> <strong>Admin</strong> users automatically have the right to access all functions. As such, it’s not possible to customise the rights for an admin.</p>
</li>
<li>
<p>Click on the <strong>Mobile</strong> tab.</p>
</li>
<li>
<p>Activate the functions and key figures that the user account should have access to in the app. Note <a href="#table-app-rights">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-app-rights" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Defining app rights</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Visible functions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which <a href="/en/app/functions">app functions</a> should your employees see? Place check marks to specify which exact menus this back end user should see.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should your employees be able to see and edit the purchase price while <a href="/en/app/functions/warehouse-management/receiving-rebooking">receiving goods</a>? Place check marks to grant the rights.<br>
This area is not activated unless you’ve checked the <strong>Incoming items</strong> option under <strong>Visible functions</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>POS functions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which <a href="/en/pos">POS functions</a> should your employees be able to use? Place check marks to specify which exact functions this back end user should work with.<br>
This area is not activated unless you’ve checked the <strong>POS</strong> option under <strong>Visible functions</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Visible key figures</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which <a href="/en/app/functions/key-figures">key performance indicators</a> should your employees see? Place check marks to specify which exact data this back end user should see.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">3.3. Assigning an app PIN</h3>
<div class="paragraph">
<p>Will your employees share devices? Constantly logging in and out can quickly waste a lot of time. In such situations, we recommend having employees <a href="/en/app/installation#1700">use a PIN to switch from one account to another</a> rather than having them log in and out with their user name and password. If all of your users have their own PIN, then they can quickly switch to a different user account in the plentymarkets app.</p>
</div>
<div class="paragraph instruction">
<p>Assigning an app PIN:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open a user account.</p>
</li>
<li>
<p>Enter an app PIN for the user. Note <a href="#table-app-pin">Table 5</a>.</p>
</li>
<li>
<p>Re-enter the app PIN.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-app-pin" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Assigning an app PIN</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New app PIN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>You can enter a 4 to 12 digit PIN for employees who work with the plentymarkets app. If you save a PIN, it will be possible to quickly switch from one user account to another in the plentymarkets app. However, users can also log into the plentymarkets app with their password.<br>
<strong><em>Tip:</em></strong> Once the PIN has been saved, this field will contain 4 dots. These dots show that an app PIN has been saved for the user account. The actual PIN might consist of more numbers.<br>
When switching from one user account to another, it will be possible to select any user account that has a PIN. To remove the PIN, for example because the user no longer works with the app, delete the 4 dots and save the user account.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Repeat app PIN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Re-enter the PIN.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1000">3.4. Simultaneous use</h3>
<div class="paragraph">
<p>Your <a href="https://www.plentymarkets.co.uk/prices/" target="_blank" rel="noopener">plentymarkets rate</a> specifies how many users can log into plentymarkets at the same time. This limit applies to your plentymarkets back end and to the plentymarkets app.</p>
</div>
<div class="paragraph">
<p>You can do the following if you reach the user limit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ask users to log out manually.</p>
</li>
<li>
<p><a href="/en/basics/admin-tasks/manage-users#170">Log out users in the session management menu</a>.</p>
</li>
<li>
<p><a href="/en/basics/admin-tasks/manage-users#190">Increase the user limit of your plentymarkets contract</a>.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">How many accounts can I create?</div>
<div class="paragraph">
<p>We only limit simultaneous use and not the number of user accounts you can create.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">4. Logging in and finding your way around</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="1200">4.1. Logging into the app</h3>
<div class="paragraph">
<p>The plentymarkets app will only work if you’ve <a href="https://www.plentymarkets.co.uk/free-trial/" target="_blank" rel="noopener">booked a plentymarkets ERP system</a>. In other words, you’ll log in with the access data that you use for your plentymarkets system.</p>
</div>
<div class="paragraph instruction">
<p>Logging into the app:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into your mobile device.</p>
</li>
<li>
<p>Tap on the plentymarkets app.<br>
→ The login screen is displayed.</p>
</li>
<li>
<p>Enter the login details for your plentymarkets system. Note <a href="#table-app-login">Table 6</a>.</p>
</li>
<li>
<p>Tap <strong>Login</strong>.<br>
→ The start screen is displayed.<br>
→ You will remain logged in until you either <a href="/en/app/installation#1500">log out</a> or <a href="/en/app/installation#1600">lock</a> your user account. That means that you can open and close the app without having to log in again.</p>
</li>
</ol>
</div>
<table id="table-app-login" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Logging into the app</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you want to use the app in English or German? Select a language from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System (base URL)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s the URL for your plentymarkets system? Enter the domain without https:// or http://. For example: your-store.co.uk.<br>
If you don’t know the URL, then you can find this information under <strong>Setup » Client » Select client » Settings</strong>. The URL is listed in the <strong>Domain</strong> field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which user account do you want to log in with? Enter the <a href="/en/basics/admin-tasks/manage-users#30">user name</a> for this account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the <a href="/en/basics/admin-tasks/manage-users#30">password</a> for this account.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1300">4.2. Finding your way around the app</h3>
<div class="paragraph">
<p>Have you logged into the plentymarkets app? Welcome! The start screen is the first menu you’ll see. Take a look at the header. Here you’ll see two important symbols:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The pencil icon (<span class="icon blue"><i class="fa fa-pencil  "></i></span>) in the top right corner. Tap on this symbol to set up <a href="/en/app/functions/key-figures">key performance indicators like revenue and sales figures</a> on the start screen.</p>
</li>
</ul>
</div>
<div class="ulist">
<ul>
<li>
<p>The menu icon (<span class="icon blue"><i class="fa fa-bars  "></i></span>) in the top left corner. Tap on this symbol to access the main menu. From here, you can view your item, customer and order data. You can use the app as an <a href="/en/app/functions/warehouse-management">inventory management system</a>. Or you can <a href="/en/pos">ring up customers in your brick and mortar store</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Have you opened the main menu? Look at the header again. Now you’ll see two additional symbols in the top right corner:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The cloud icon (<span class="icon blue"><i class="fa fa-cloud  "></i></span>). This symbol shows whether you’re currently using the app in online or offline mode. If you want to use the app in offline mode, then you’ll also need the plugin <a href="https://marketplace.plentymarkets.com/en/plugins/integration/plentybaseitemcachepos_6313" target="_blank" rel="noopener">plentyBase ItemCachePOS</a>.</p>
</li>
<li>
<p>The user icon (<span class="icon blue"><i class="fa fa-user  "></i></span>). This symbol shows who is currently logged in. Tap on this symbol to <a href="/en/app/installation#1600">lock the screen</a>, <a href="/en/app/installation#1700">switch to a different user account</a> or <a href="/en/app/installation#1500">log out of the app altogether</a>.<br>
This symbol displays the initials of whoever is currently logged in. It is whatever colour was chosen for this user account in the plentymarkets back end.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Re-load the menu</div>
<div class="paragraph">
<p>Swipe down to refresh the screen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">5. Logging out, locking the screen or switching the account</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="1500">5.1. Logging out of the app</h3>
<div class="paragraph">
<p>Proceed as follows to log out of the plentymarkets app.</p>
</div>
<div class="paragraph instruction">
<p>Logging out of the app:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap on the menu icon (<span class="icon blue"><i class="fa fa-bars  "></i></span>) in the top left corner of the app.</p>
</li>
<li>
<p>Tap on <strong>Logout</strong>.<br>
→ The <strong>Logout</strong> window is displayed.</p>
</li>
<li>
<p>Decide whether you want to re-enter your access data the next time you log in. Note <a href="#table-app-logout">Table 7</a>.</p>
</li>
</ol>
</div>
<table id="table-app-logout" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Logging out of the app</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Log current user back in automatically</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the toggle button to tell plentymarkets whether you want to re-enter your access data the next time you log in.<br>
<strong>Activated</strong> (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) = Next time the app is opened, the same user account is logged in automatically. No password is necessary to log in next time the app is started.<br>
<strong>Deactivated</strong> (<span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span>) = The user account is logged out completely and the login details are discarded. To log in again, the language, base URL and user details must be entered.<br>
<strong><em>Note:</em></strong> This setting is saved and applies to all users of the app.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Alternative approach</div>
<div class="paragraph">
<p>Alternatively, tap on the user icon <span class="icon blue"><i class="fa fa-user  "></i></span> and then on the logout icon <span class="icon red"><i class="fa fa-sign-out  "></i></span>. Note <a href="#table-app-logout">Table 7</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1600">5.2. Locking and unlocking the screen</h3>
<div class="paragraph">
<p>If you need to step away from the app for a moment, but you don’t want to log out altogether, then lock the screen so that no one can use the app without permission.</p>
</div>
<div class="paragraph instruction">
<p>Locking the screen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap on the menu icon (<span class="icon blue"><i class="fa fa-bars  "></i></span>) in the top left corner of the app.</p>
</li>
<li>
<p>Tap on the user icon (<span class="icon blue"><i class="fa fa-user  "></i></span>) in the top right corner.<br>
→ You will see a list of people who have <a href="/en/app/installation#900">an app PIN</a>.</p>
</li>
<li>
<p>Tap on the lock icon (<span class="icon blue"><i class="fa fa-lock  "></i></span>) in the bottom left.<br>
→ Access to the app is locked.<br>
→ Your name is shown first in the list of users.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Unlocking the screen again:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap your user account.</p>
</li>
<li>
<p>Enter your PIN or your password.<br>
→ Access to the app is unlocked.<br>
<strong><em>Tip:</em></strong> You can change to a different user account even if access to the app is locked. Tap a different user account in the list to change users.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1700">5.3. Switching to a different user account</h3>
<div class="paragraph">
<p>Will your employees share devices? Constantly logging in and out can quickly waste a lot of time. Instead of having users log out, it will be faster if they use a PIN to switch from one account to another.</p>
</div>
<div class="paragraph instruction">
<p>Switching to a different user account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap on the menu icon (<span class="icon blue"><i class="fa fa-bars  "></i></span>) in the top left corner of the app.</p>
</li>
<li>
<p>Tap on the user icon (<span class="icon blue"><i class="fa fa-user  "></i></span>) in the top right corner.<br>
→ You will see a list of people who have <a href="/en/app/installation#900">an app PIN</a>.<br></p>
</li>
<li>
<p>Tap on the desired user account.</p>
</li>
<li>
<p>If the new user is logging in for the first time, then he’ll need to enter his password. If he’s already logged in before, then he’ll be able to enter his PIN.<br>
→ The user account is switched.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Once you switch users, the same area of the app opens. If the new user does not have rights for this area of the app, the main menu of the app opens instead.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Order details are saved</div>
<div class="paragraph">
<p>If you switch user accounts while ringing up a customer, then the newly logged in user will see the transaction that was started. The new user will be able to complete the transaction.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1800">6. Customising the app</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="1900">6.1. Working with templates</h3>
<div class="paragraph">
<p>Do you want to control, e.g. which information is displayed first, second, third, etc and which font size is used to display information in the app?</p>
</div>
<div class="paragraph">
<p>You can create templates for several different app functions. For example, you can decide how your item and order data should be displayed in the app or what your mobile pick lists should look like.</p>
</div>
</div>
<div class="sect2">
<h3 id="2000">6.2. Choosing a background image</h3>
<div class="paragraph">
<p>Instead of using the default background, would you rather use a colour that matches your own corporate design? You can decide which image or colour is displayed.</p>
</div>
<div class="paragraph instruction">
<p>Changing the background image:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap on the menu icon (<span class="icon blue"><i class="fa fa-bars  "></i></span>) in the top left corner of the app.</p>
</li>
<li>
<p>Tap on <strong>Settings</strong>.</p>
</li>
<li>
<p>Tap on <strong>Appearance</strong>.</p>
</li>
<li>
<p>Tap on a background image or a background colour.<br>
→ The background will change.<br></p>
</li>
<li>
<p>Tap on the check mark (<span class="icon blue"><i class="fa fa-check  "></i></span>) to confirm the change.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="2100">7. Updating the app</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Are you looking forward to an upcoming feature? We’re happy to keep you in the loop about changes to the software! Each version of the app gets its own version number. You can see a record of changes in our changelog. <a href="https://forum.plentymarkets.com/c/changelog/changelog-app" target="_blank" rel="noopener">Subscribe to the changelog</a> and always stay up to date.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2150">8. Uninstalling the app</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If your internet connection is down, POS orders are saved on your device and uploaded to plentymarkets once connection returns. If you uninstall the app on your device before all orders were uploaded to plentymarkets, the orders saved on your device are deleted permanently and cannot be recovered by you or the plentymarkets support team. As such, check that no offline orders exist on the device before you uninstall the app.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2200">9. Troubleshooting</h2>
<div class="sectionbody">
<div class="qlist qanda">
<ol>
<li>
<p><em>I incorrectly entered my password several times in a row. Now my account has been blocked. What should I do?</em></p>
<p>Find someone who has administrator rights to the plentymarkets system. This person will need to open the menu <strong>Setup » Settings » User » Accounts</strong>. Then he or she will open your user account and click on the button <strong>Unblock login</strong> in the header. If the problem continues to exist, <a href="https://forum.plentymarkets.com/c/app-pos" target="_blank" rel="noopener">ask the app team for help in the forum</a>.</p>
</li>
</ol>
</div>
</div>
</div>
</main>