<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Wahl der richtigen Hardware</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Fall 1: Geschäftsdaten verwalten</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Fall 2: Mobile Warenwirtschaft</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Fall 3: Kassensystem plentymarkets POS</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.</span><span> App herunterladen</span></a></li>
<li><a href="#600"><span>3.</span><span> App-Zugang gewähren</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>3.1.</span><span> Benutzerkonten anlegen</span></a></li>
<li><a href="#800"><span>3.2.</span><span> Berechtigungen festlegen</span></a></li>
<li><a href="#900"><span>3.3.</span><span> App-PIN vergeben</span></a></li>
<li><a href="#1000"><span>3.4.</span><span> Gleichzeitige Nutzung</span></a></li>
</ul>
</li>
<li><a href="#1100"><span>4.</span><span> Anmelden und orientieren</span></a>
<ul class="sectlevel2">
<li><a href="#1200"><span>4.1.</span><span> In die App einloggen</span></a></li>
<li><a href="#1300"><span>4.2.</span><span> Sich in der App zurechtfinden</span></a></li>
</ul>
</li>
<li><a href="#1400"><span>5.</span><span> Abmelden, Bildschirm sperren oder Konto wechseln</span></a>
<ul class="sectlevel2">
<li><a href="#1500"><span>5.1.</span><span> Aus der App ausloggen</span></a></li>
<li><a href="#1600"><span>5.2.</span><span> Bildschirm sperren und entsperren</span></a></li>
<li><a href="#1700"><span>5.3.</span><span> Benutzerkonto wechseln</span></a></li>
</ul>
</li>
<li><a href="#1800"><span>6.</span><span> App personalisieren</span></a>
<ul class="sectlevel2">
<li><a href="#1900"><span>6.1.</span><span> Mit Vorlagen arbeiten</span></a>
<ul class="sectlevel3">
<li><a href="#1910"><span>6.1.1.</span><span> Neue Vorlage erstellen</span></a></li>
<li><a href="#1920"><span>6.1.2.</span><span> Vorlage mit Informationen füllen</span></a></li>
</ul>
</li>
<li><a href="#2000"><span>6.2.</span><span> Hintergrundbild auswählen</span></a></li>
</ul>
</li>
<li><a href="#2050"><span>7.</span><span> App mit plentyBase verbinden</span></a></li>
<li><a href="#2100"><span>8.</span><span> App aktualisieren</span></a></li>
<li><a href="#2150"><span>9.</span><span> App deinstallieren</span></a></li>
<li><a href="#2200"><span>10.</span><span> Fehlerbehebung</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Installation und Ersteinrichtung</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Bist du bereits von den <a href="/app">Vorteilen der plentymarkets App</a> überzeugt? Dann verliere keine Zeit und richte jetzt die App auf der passenden Hardware ein.</p>
</div>
<div class="paragraph">
<p>Auf dieser Seite wird Schritt für Schritt beschrieben, wie du die App einrichtest und welche Aufgaben du vorher noch erledigen musst. Die Einstellungen, die auf dieser Seite beschrieben sind, treten in Kraft, wenn du <a href="/app/funktionen">die Funktionen der App nutzt</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Wahl der richtigen Hardware</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wofür möchtest du die plentymarkets App nutzen? Je nach Anwendungsfall unterscheidet sich die Wahl der passenden Hardware.</p>
</div>
<div class="paragraph">
<p>Willst du beispielsweise Unternehmenskennzahlen abrufen oder Kunden-, Artikel- und Auftragsdaten suchen? Für diese Funktionen benötigst du lediglich ein mobiles Android- oder iOS-Gerät.</p>
</div>
<div class="paragraph">
<p>Die plentymarkets App stellt außerdem Funktionen für die mobile Warenwirtschaft sowie das Kassensystem plentymarkets POS bereit. Wenn du diese weiterführende Funktionen nutzen möchtest, empfehlen wir dir ein <a href="https://www.plentypos.de/" target="_blank" rel="noopener">zusätzliches Hardware-Package</a> zu buchen.</p>
</div>
<div class="sect2">
<h3 id="200">1.1. Fall 1: Geschäftsdaten verwalten</h3>
<div class="paragraph">
<p>Wenn du die plentymarkets App nur nutzen möchtest, um Geschäftsdaten zu verwalten, also nicht um Kasse zu betreiben oder Warenbestände zu verwalten, benötigst du lediglich ein mobiles Android- oder iOS-Gerät. In <a href="#tabelle-voraussetzungen-kennzahlen">Tabelle 1</a> werden die Hardware-Voraussetzungen für die plentymarkets App zum Abrufen von Kennzahlen und Geschäftsdaten erläutert.</p>
</div>
<table id="tabelle-voraussetzungen-kennzahlen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Geschäftsdaten mit der plentymarkets App verwalten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Gerätetyp</th>
<th class="tableblock halign-left valign-top">Anforderungen</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Android-Geräte</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">OS-Version 4.2.2 oder höher</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">iOS-Geräte</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version 8 oder höher</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">1.2. Fall 2: Mobile Warenwirtschaft</h3>
<div class="paragraph">
<p>Wenn du die plentymarkets App für die Warenwirtschaft im Lager nutzen möchtest, empfehlen wir die in <a href="#tabelle-voraussetzungen-warenwirtschaft">Tabelle 2</a> aufgeführte Hardware.</p>
</div>
<table id="tabelle-voraussetzungen-warenwirtschaft" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Warenwirtschaft mit der plentymarkets App</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Hardware</th>
<th class="tableblock halign-left valign-top">Bezugsquelle</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">M3 SM10 Mobile Computer<br>
(Android 5.1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://www.sundsits.de/M3SM10-Mobile-Computer-WiFi-und-LTE" target="_blank" rel="noopener">www.sundsits.de/M3SM10-Mobile-Computer-WiFi-und-LTE</a><br></p>
<p class="tableblock">SundS ITS<br>
Beselerstr. 2-6<br>
50354 Hürth<br>
<a href="mailto:info@sundsits.de">info@sundsits.de</a><br>
Tel.: +49(0)2233-7064010<br>
Fax: +49(0)2233-7064011<br>
<a href="https://www.sundsits.de" target="_blank" rel="noopener">www.sundsits.de</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Honeywell Dolphin 75e<br>
(Android 4.4.4)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.globos.de/produkte/honeywell-dolphin-75e-mobilecomputer" target="_blank" rel="noopener">www.globos.de/produkte/honeywell-dolphin-75e-mobilecomputer</a></p>
<p class="tableblock">GLOBOS Logistik- und Informationssysteme GmbH<br>
Ahrensburger Straße 1<br>
30659 Hannover<br>
<a href="mailto:vertrieb@globos.de">vertrieb@globos.de</a><br>
Tel.: +49 (511) 76920-0<br>
Fax: +49 (511) 76920-250<br>
<a href="http://www.globos.de" target="_blank" rel="noopener">www.globos.de</a></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">1.3. Fall 3: Kassensystem plentymarkets POS</h3>
<div class="paragraph">
<p>Das <a href="/pos">Kassensystem plentymarkets POS</a> wird über die plentymarkets App bereitgestellt. Beachte jedoch, dass für den Einsatz von plentymarkets POS zusätzliche Hardware-Voraussetzungen bestehen. plentymarkets POS unterstützt die in <a href="#tabelle-voraussetzungen-kasse">Tabelle 3</a> aufgeführte Hardware. Die Tabelle führt außerdem die Geräte auf, auf denen plentymarkets neue Releases vor der Veröffentlichung testet.</p>
</div>
<table id="tabelle-voraussetzungen-kasse" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Unterstützte Hardware für plentymarkets POS</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Gerätetyp</th>
<th class="tableblock halign-left valign-top">Allgemeine Anforderungen</th>
<th class="tableblock halign-left valign-top">Getestete Geräte</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Betriebssysteme</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Android-Geräte mit OS-Version ab 4.2.2, ARM Prozessor und den Geräteklassen Small, Normal, Large und X-Large. Die DPI-Zahl eines mobilen Geräts kann z.B. <a href="http://dpi.lv/" target="_blank" rel="noopener">hier</a> ermittelt werden.</p>
</li>
<li>
<p>iOS-Geräte (iPad, iPhone, iPod) mit OS-Version ab 8<br>
→ Bei iOS-Geräten gibt es Einschränkungen beim Scannen mit Bluetooth-Scannern.<br>
→ Kassen mit Standort Österreich können nur auf Android-Geräten betrieben werden.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Bei jedem regulären Release</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Elo Touch Solutions I-Series 15I1 - E021201</p>
</li>
<li>
<p>Advantech UPOS-211 sundsits Edition</p>
</li>
<li>
<p>Honeywell Dolphin 75e (Android 4.4.4)</p>
</li>
<li>
<p>M3 SM10 (Android 5.1)</p>
</li>
<li>
<p>Samsung Galaxy Tab A 6 - SM-T580</p>
</li>
<li>
<p>Apple iPad Air 2</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Regelmäßig</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Samsung Galaxy Tab A - SM-T555</p>
</li>
<li>
<p>Samsung Galaxy Tab 4 - SM-T530</p>
</li>
<li>
<p>Apple iPad Mini Retina</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Punktuell</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Samsung Galaxy S4</p>
</li>
<li>
<p>Apple iPhone 6</p>
</li>
<li>
<p>Apple iPad Mini</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bondrucker</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>ePos-Print API</p>
</li>
<li>
<p>Drucker muss über LAN oder WLAN verfügen</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>EPSON TM-M30</p>
</li>
<li>
<p>EPSON TM-T88V-i (QR-Code-Druck)</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Scanner</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Scanner muss über USB oder Bluetooth verfügen</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Inateck BCST-10 (Bluetooth)</p>
</li>
<li>
<p>Albasca USB Handscanner MK-1000 (ungetestet aber bei mehreren Kunden erfolgreich im Einsatz)</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundendisplays</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Nur mit Belegdrucker EPSON TM-M30 einsetzbar</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>EPSON DM-D30</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Karten-Terminals</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Nur in Verbindung mit Payment-Provider-Vertrag</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Ingenico iPP480 mit Drucker (Betriebsart <strong>ZVT</strong>, Verbindungsart <strong>TCP/IP</strong>) - Anbindung über <a href="https://marketplace.plentymarkets.com/plugins/payment/ingenicozvt_5140" target="_blank" rel="noopener">Ingenico ZVT-Plugin</a></p>
</li>
<li>
<p>Verifone H5000 mit Drucker (Betriebsart <strong>ZVT</strong>, Verbindungsart <strong>TCP/IP</strong>) - Anbindung über <a href="https://marketplace.plentymarkets.com/plugins/payment/VerifoneZVT_5504" target="_blank" rel="noopener">Verifone ZVT-Plugin</a></p>
</li>
<li>
<p>CCV VX 680 mit Drucker (Betriebsart <strong>ZVT</strong>, Verbindungsart <strong>TCP/IP</strong>) - Anbindung über <a href="https://marketplace.plentymarkets.com/plugins/payment/VerifoneZVT_5504" target="_blank" rel="noopener">Verifone ZVT-Plugin</a></p>
</li>
<li>
<p>SumUp Air - Anbindung über <a href="https://marketplace.plentymarkets.com/plugins/payment/sumup_5141" target="_blank" rel="noopener">SumUp-Plugin</a><br>
<strong><em>Hinweis:</em></strong> Für SumUp-Anbindung Ortung (Positionsbestimmung) auf dem mobilen Gerät aktivieren, auf dem die plentymarkets App installiert ist.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. App herunterladen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die kostenlose plentymarkets App ist bei Google Play und iTunes erhältlich. Installiere die App auf allen mobilen Endgeräten, die du mit der App nutzen möchtest.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://play.google.com/store/apps/details?id=eu.plentymarkets.mobile&amp;hl=de" target="_blank" rel="noopener">plentymarkets App bei Google Play</a></p>
</li>
<li>
<p><a href="https://itunes.apple.com/de/app/plentymarkets/id957702618" target="_blank" rel="noopener">plentymarkets App bei iTunes</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Sind deine Geschäftsdaten auf dem Gerät sicher?</div>
<div class="paragraph">
<p>Die plentymarkets App ist in dem Sinne geschützt, dass Nutzer sich <a href="/app/installation#1200">mit Zugangsdaten in die App einloggen</a> müssen. Da die App aber vertrauliche Geschäftsdaten enthalten kann, solltest du dir ein paar Gedanken zur Sicherheit machen. Dürfen Mitarbeiter die App auch auf ihren privaten Handys nutzen? Werden Endgeräte mit einer Geheimzahl gesperrt? Verschaffe dir zunächst einen Überblick über die Datenschutzrichtlinien deiner Firma.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="600">3. App-Zugang gewähren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die App ist nur in Kombination mit <a href="https://www.plentymarkets.eu/gratis-testen/" target="_blank" rel="noopener">einem gebuchten plentymarkets System</a> funktionsfähig. Das heißt, dass Nutzer sich mit den Login-Daten eines gültigen plentymarkets Systems anmelden müssen.</p>
</div>
<div class="paragraph">
<p>Vergib zunächst Zugangsdaten an alle Mitarbeiter, die die plentymarkets App nutzen sollen. Lege dabei fest, in welchem Umfang jeder Mitarbeiter die App verwenden darf.</p>
</div>
<div class="sect2">
<h3 id="700">3.1. Benutzerkonten anlegen</h3>
<div class="paragraph">
<p>Haben deine Mitarbeiter alle bereits ein plentymarkets Konto? Falls nicht, logge dich in dein plentymarkets System ein und <a href="/basics/admin-aufgaben/benutzer-verwalten#10">erstelle die nötigen Konten</a>.</p>
</div>
<div class="paragraph">
<p>Deine Mitarbeiter werden sich später mit dem Benutzernamen und Passwort des Systems auch <a href="/app/installation#1200">in der App einloggen</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Admin- oder Backend-Zugang?</div>
<div class="paragraph">
<p>Admin-Benutzer verfügen automatisch über alle plentymarkets Berechtigungen ohne Einschränkung. Sei vorsichtig, wenn du Admin-Konten erstellst, denn sie können auch weitere Benutzerkonten uneingeschränkt erstellen, verwalten und bearbeiten.<br>
Willst du selbst bestimmen, welche Funktionen und Menüs ein Benutzer sehen darf, empfiehlt es sich, einen Backend-Zugang zu erstellen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="800">3.2. Berechtigungen festlegen</h3>
<div class="paragraph">
<p>Sollen deine Mitarbeiter alle Funktionen der App sehen oder nur einzelne? Vielleicht willst du deinen Kassenkräften Zugang zur mobilen Kasse gewähren, aber nicht zur Lagerverwaltung.</p>
</div>
<div class="paragraph">
<p>In deinem plentymarkets System kannst du individuell festlegen, welche Bereiche und Kennzahlen für jedes Benutzerkonto sichtbar sind.</p>
</div>
<div class="paragraph instruction">
<p>App-Berechtigungen festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffne ein Benutzerkonto des Typs <strong>Backend</strong>.<br>
<strong><em>Hinweis:</em></strong> <strong>Admin</strong>-Benutzer verfügen immer über alle Berechtigungen. Somit ist es nicht möglich, die App-Berechtigungen für Admins anzupassen.</p>
</li>
<li>
<p>Öffne das Tab <strong>Mobile</strong>.</p>
</li>
<li>
<p>Aktiviere Funktionen oder Kennzahlen, die dem Benutzerkonto in der App zur Verfügung stehen sollen. Beachte dabei die Erläuterungen in <a href="#tabelle-app-berechtigung">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-app-berechtigung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. App-Berechtigungen festlegen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sichtbare Funktionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welche <a href="/app/funktionen">App-Funktionen</a> sollen deine Mitarbeiter sehen können? Setze Häkchen und bestimme somit die genaue Menüpunkte, die diesen Backend-Nutzer sehen darf.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einbuchung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sollen deine Mitarbeiter beim <a href="/app/funktionen/lagerverwaltung/einbuchen-umbuchen">Einbuchen</a> der Einkaufspreis sehen und bearbeiten können? Setze Häkchen, um die Berechtigungen zu vergeben.<br>
Dieser Bereich wird erst aktiviert nachdem du unter <strong>Sichtbare Funktionen</strong> ein Häkchen neben die Option <strong>Einbuchung</strong> gesetzt hast.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>POS-Funktionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welche <a href="/pos">POS-Funktionen</a> sollen deine Mitarbeiter nutzen können? Setze Häkchen und bestimme somit die genaue Funktionen, die diesen Backend-Nutzer verwenden darf.<br>
Dieser Bereich wird erst aktiviert nachdem du unter <strong>Sichtbare Funktionen</strong> ein Häkchen neben die Option <strong>POS</strong> gesetzt hast.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sichtbare Kennzahlen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welche <a href="/app/funktionen/kennzahlen">Geschäftskennzahlen</a> sollen deine Mitarbeiter sehen können? Setze Häkchen und bestimme somit die genaue Daten, die diesen Backend-Nutzer sehen darf.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">3.3. App-PIN vergeben</h3>
<div class="paragraph">
<p>Werden sich mehrere Mitarbeiter ein Gerät teilen? Falls ja, dann kann das ständige Ein- und Ausloggen schnell viel Zeit in Anspruch nehmen. In solchen Situationen empfiehlt es sich, dass Benutzer sich nicht direkt mit Benutzername und Passwort einloggen, sondern wenn sie <a href="/app/installation#1700">das Konto mit einer PIN wechseln</a>. Haben alle Benutzer eine eigene PIN, ist ein schneller Kontowechsel in der plentymarkets App möglich.</p>
</div>
<div class="paragraph instruction">
<p>App-PIN vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffne ein Benutzerkonto.</p>
</li>
<li>
<p>Gib eine App-PIN für den Benutzer ein. Beachte dabei die Erläuterungen in <a href="#tabelle-app-pin">Tabelle 5</a>.</p>
</li>
<li>
<p>Wiederhole die App-PIN.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-app-pin" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. App-PIN vergeben</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neue App-PIN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Für Personal, das mit der plentymarkets App arbeitet, optional PIN mit 4 bis 12 Ziffern eingeben. Wenn eine PIN gespeichert ist, ist ein schneller Kontowechsel in der plentymarkets App möglich. Personal kann sich aber auch mit dem Passwort in die plentymarkets App einloggen.<br>
<strong><em>Tipp:</em></strong> Nachdem die PIN gespeichert wurde, werden in diesem Feld 4 Punkte angezeigt. Diese Punkte dienen dazu, sichtbar zu machen, dass für das Benutzerkonto eine App-PIN gespeichert ist, und stimmen nicht unbedingt mit der Länge der gespeicherten PIN überein.<br>
Beim schnellen Benutzerwechsel werden alle Benutzerkonten angezeigt, für die eine PIN gespeichert ist. Um die PIN zu entfernen, zum Beispiel, weil die Person nicht mehr mit der App arbeitet, die 4 Punkte löschen und das Konto erneut speichern.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>App-PIN wiederholen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">PIN noch einmal eingeben.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1000">3.4. Gleichzeitige Nutzung</h3>
<div class="paragraph">
<p>In deinem <a href="https://www.plentymarkets.eu/preise/" target="_blank" rel="noopener">plentymarkets Tarif</a> wird festgelegt, wie viele Benutzer gleichzeitig in plentymarkets eingeloggt sein dürfen. Dieses Limit gilt für dein plentymarkets Backend und für die plentymarkets App.</p>
</div>
<div class="paragraph">
<p>Das kannst du tun, wenn du das Benutzerlimit erreichst:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Fordere eingeloggte Nutzer auf, sich manuell auszuloggen.</p>
</li>
<li>
<p><a href="/basics/admin-aufgaben/benutzer-verwalten#170">Logge Benutzerkonten über die Session-Verwaltung aus</a>.</p>
</li>
<li>
<p><a href="/basics/admin-aufgaben/benutzer-verwalten#190">Erhöhe das Benutzerlimit deines plentymarkets Vertrags</a>.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wie viele Konten kann ich erstellen?</div>
<div class="paragraph">
<p>Wir limitieren nur die gleichzeitige Nutzung und nicht die Anzahl der Benutzerkonten, die du erstellen kannst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">4. Anmelden und orientieren</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="1200">4.1. In die App einloggen</h3>
<div class="paragraph">
<p>Die plentymarkets App ist nur in Kombination mit <a href="https://www.plentymarkets.eu/gratis-testen/" target="_blank" rel="noopener">einem gebuchten plentymarkets System</a> funktionsfähig. Das heißt, dass du bei der Anmeldung die Login-Daten deines plentymarkets Systems eingeben musst.</p>
</div>
<div class="paragraph instruction">
<p>In der App einloggen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Melde dich auf deinem mobilen Gerät an.</p>
</li>
<li>
<p>Tippe auf dem Bildschirm auf die plentymarkets App.<br>
→ Der Login-Bildschirm wird angezeigt.</p>
</li>
<li>
<p>Gib die Login-Daten deines plentymarkets Systems ein. Beachte dabei die Erläuterungen in <a href="#tabelle-app-einloggen">Tabelle 6</a>.</p>
</li>
<li>
<p>Tippe auf <strong>Login</strong>.<br>
→ Der Startbildschirm wird angezeigt.<br>
→ Du bleibst angemeldet, bis du dich <a href="/app/installation#1500">ausloggst</a> oder dein Benutzerkonto <a href="/app/installation#1600">sperrst</a>. Du kannst die App also schließen und öffnen, ohne dich erneut anmelden zu müssen.</p>
</li>
</ol>
</div>
<table id="tabelle-app-einloggen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. In die App einloggen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Möchtest du die App auf Deutsch oder auf Englisch verwenden? Wähle die Sprache aus der Dropdown-Liste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System (Basis-URL)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet die URL deines plentymarkets Systems?
Gib die Domain ohne führendes https:// oder http:// ein. Falls du die URL nicht kennst, findest du diese Information unter <strong>Einrichtung » Einstellungen » API » Daten</strong>. Die URL ist im Feld <strong>Host</strong> zu finden.<br></p>
<p class="tableblock"><strong>Korrektes Beispiel</strong>: ihr-shop.de.<br>
<strong>Falsches Beispiel</strong>: https://ihr-shop.de<br>
<strong>Falsches Beispiel</strong>: ihr-shop.de/<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit welchem Benutzerkonto möchtest du dich einloggen? Gib den <a href="/basics/admin-aufgaben/benutzer-verwalten#30">Benutzernamen deines Kontos</a> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib das <a href="/basics/admin-aufgaben/benutzer-verwalten#30">Passwort deines Kontos</a> ein.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1300">4.2. Sich in der App zurechtfinden</h3>
<div class="paragraph">
<p>Hast du dich in die plentymarkets App eingeloggt? Willkommen! Deine erste Anlaufstelle ist der Startbildschirm. Schaue zunächst oben auf die Kopfzeile. Hier findest du zwei wichtige Symbole:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Das Stiftsymbol (<span class="icon"><i class="fa fa-pencil" style="color:blue"></i></span>) oben rechts. Tippe auf dieses Symbol, um <a href="/app/funktionen/kennzahlen">Geschäftszahlen wie Umsätze und Auftragsvolumen</a> auf deiner Startseite einzurichten.</p>
</li>
<li>
<p>Das Menüsymbol (<span class="icon"><i class="fa fa-bars" style="color:blue"></i></span>) oben links. Tippe auf dieses Symbol, um in das Hauptmenü zu gelangen. Von hier aus kannst du deine <a href="/app/funktionen/artikelsuche">Artikel-, Kunden- und Auftragsdaten</a> einsehen. Du kannst die App für deine <a href="/app/funktionen/lagerverwaltung">Warenwirtschaft im Lager nutzen</a>. Oder du kannst in deinem <a href="/pos">stationären Laden kassieren</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Bist du ins Hauptmenü gelangt? Schaue wieder auf die Kopfzeile. Auf die rechte Seite findest du jetzt zwei weitere Symbole:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Das Wolkensymbol (<span class="icon"><i class="fa fa-cloud" style="color:blue"></i></span>). Dieses Symbol zeigt an, ob du die App gerade im Online- oder Offline-Modus verwendest. Um die App im Offline-Modus verwenden zu können, benötigst du zusätzlich das Plugin <a href="https://marketplace.plentymarkets.com/plugins/integration/plentybaseitemcachepos_6313" target="_blank" rel="noopener">plentyBase ItemCachePOS</a>.</p>
</li>
<li>
<p>Das Benutzersymbol (<span class="icon"><i class="fa fa-user" style="color:blue"></i></span>). Dieses Symbol zeigt an, welches Benutzerkonto gerade angemeldet ist. Tippe auf dieses Symbol, um den <a href="/app/installation#1600">Bildschirm zu sperren</a>, das <a href="/app/installation#1700">Benutzerkonto zu wechseln</a> oder <a href="/app/installation#1500">gänzlich auszuloggen</a>.<br>
Dieses Symbol enthält die Initialen der aktuell eingeloggten Person und hat die Farbe, die für das Benutzerkonto im plentymarkets Backend gespeichert wurde.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Menü neu laden</div>
<div class="paragraph">
<p>Aktualisiere die Ansicht, indem du das Fenster nach unten ziehst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">5. Abmelden, Bildschirm sperren oder Konto wechseln</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="1500">5.1. Aus der App ausloggen</h3>
<div class="paragraph">
<p>Um dich aus der plentymarkets App auszuloggen, gehe wie folgt vor.</p>
</div>
<div class="paragraph instruction">
<p>Aus der App ausloggen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe in der App oben links auf das Menüsymbol (<span class="icon"><i class="fa fa-bars" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Tippe unten auf <strong>Ausloggen</strong>.<br>
→ Das Fenster <strong>Ausloggen</strong> wird angezeigt.</p>
</li>
<li>
<p>Bestimme, ob du beim nächsten Anmelden deine Login-Daten erneut eingeben möchtest oder nicht. Beachte dabei die Erläuterung in <a href="#tabelle-app-ausloggen">Tabelle 7</a>.</p>
</li>
</ol>
</div>
<table id="tabelle-app-ausloggen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Aus der App ausloggen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktuellen Benutzer automatisch wieder einloggen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verwende die Umschaltfläche, um plentymarkets mitzuteilen, ob du beim nächsten Anmelden deine Login-Daten erneut eingeben möchtest.<br>
<strong>Aktiviert</strong> (<span class="icon"><i class="fa fa-toggle-on" style="color:green"></i></span>) = Beim nächsten Öffnen der App wird dieses Benutzerkonto automatisch wieder eingeloggt. Beim Start der App muss kein Passwort eingegeben werden.<br>
<strong>Deaktiviert</strong> (<span class="icon"><i class="fa fa-toggle-off" style="color:darkGrey"></i></span>) = Das Benutzerkonto wird vollständig ausgeloggt und die Anmeldedaten verworfen. Beim nächsten Anmelden müssen Sprache, Basis-URL und Benutzerdaten eingegeben werden.<br>
<strong><em>Hinweis:</em></strong> Diese Einstellung wird übernommen und gilt für alle Benutzerkonten der App.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Alternative Vorgehensweise</div>
<div class="paragraph">
<p>Tippe alternativ auf das Benutzersymbol <span class="icon"><i class="fa fa-user" style="color:blue"></i></span> und dann auf das Logoutsymbol <span class="icon"><i class="fa fa-sign-out" style="color:red"></i></span>. Beachte dabei die Erläuterung in <a href="#tabelle-app-ausloggen">Tabelle 7</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1600">5.2. Bildschirm sperren und entsperren</h3>
<div class="paragraph">
<p>Wenn du dich kurzzeitig von der App entfernst, aber weiterhin eingeloggt bleiben möchtest, sperre die App vor unbefugten Zugriff.</p>
</div>
<div class="paragraph instruction">
<p>Bildschirm sperren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe in der App oben links auf das Menüsymbol (<span class="icon"><i class="fa fa-bars" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Tippe oben rechts auf das Benutzersymbol (<span class="icon"><i class="fa fa-user" style="color:blue"></i></span>).<br>
→ Eine Liste der Personen wird angezeigt, für die <a href="/app/installation#900">eine App-PIN</a> gespeichert ist.</p>
</li>
<li>
<p>Tippe unten links auf das Sperrensymbol (<span class="icon"><i class="fa fa-lock" style="color:blue"></i></span>).<br>
→ Der Zugriff auf die App wird gesperrt.<br>
→ Dein realer Name wird als erster Eintrag in der Liste der Benutzerkonten angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Bildschirm wieder entsperren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe auf dein Benutzerkonto.</p>
</li>
<li>
<p>Gib deine PIN oder dein Passwort ein.<br>
→ Der Zugriff auf die App wird entsperrt.<br>
<strong><em>Tipp:</em></strong> Auch bei gesperrtem App-Zugriff kannst du das Benutzerkonto wechseln. Tippe auf ein anderes Benutzerkonto in der Liste, um das Benutzerkonto zu wechseln.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1700">5.3. Benutzerkonto wechseln</h3>
<div class="paragraph">
<p>Teilen sich mehrere Mitarbeiter ein Gerät? Falls ja, dann kann das ständige Ein- und Ausloggen viel Zeit in Anspruch nehmen. Schneller geht es wenn der eingeloggte Benutzer sich nicht direkt abmeldet, sondern wenn das Konto mit einer PIN gewechselt wird.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerkonto im laufenden Betrieb wechseln:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe in der App oben links auf das Menüsymbol (<span class="icon"><i class="fa fa-bars" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Tippe oben rechts auf das Benutzersymbol (<span class="icon"><i class="fa fa-user" style="color:blue"></i></span>).<br>
→ Eine Liste der Personen wird angezeigt, für die <a href="/app/installation#900">eine App-PIN</a> gespeichert ist.<br></p>
</li>
<li>
<p>Tippe auf das gewünschte Benutzerkonto.</p>
</li>
<li>
<p>Wenn der neue Benutzer sich zum ersten Mal in der App anmeldet, muss er sein Passwort eingeben. Ab dem zweiten Anmelden gibt er seine PIN ein.<br>
→ Das Benutzerkonto wird gewechselt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nach dem Wechsel wird derselbe Bereich der App geöffnet. Wenn das neue Benutzerkonto für diesen Bereich keine Rechte hat, wird stattdessen das Hauptmenü der App geöffnet.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Auftragsdaten bleiben erhalten</div>
<div class="paragraph">
<p>Wenn du das Benutzerkonto mitten in einem Kassiervorgang wechselst, sieht der neu eingeloggte Benutzer den angefangenen Kassiervorgang. Somit kann der neue Benutzer diesen Vorgang abschließen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1800">6. App personalisieren</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="1900">6.1. Mit Vorlagen arbeiten</h3>
<div class="paragraph">
<p>Möchtest du z.B. bestimmen, in welcher Reihenfolge und in welcher Schriftgröße einzelne Informationen in der App dargestellt werden?</p>
</div>
<div class="paragraph">
<p>Im plentymarkets Backend kannst du Vorlagen für einige App-Funktionen erstellen. Du kannst beispielsweise bestimmen, wie deine <a href="/app/funktionen/artikelsuche">Artikel- und Auftragsdaten</a> in der App dargestellt werden oder wie deine mobilen Picklisten aussehen sollen.</p>
</div>
<div class="sect3">
<h4 id="1910">6.1.1. Neue Vorlage erstellen</h4>
<div class="paragraph instruction">
<p>Neue Vorlage erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Melde dich im plentymarkets Backend an.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » plenty App</strong>.</p>
</li>
<li>
<p>Klicke auf die App-Funktion, für die du eine Vorlage erstellen willst.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Vorlage</strong> (<span class="icon"><i class="fa fa-plus" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neue Vorlage</strong> erscheint.</p>
</li>
<li>
<p>Gib einen Namen für die Vorlage ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Vorlage wird erstellt und zur weiteren Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1920">6.1.2. Vorlage mit Informationen füllen</h4>
<div class="paragraph">
<p>Scrolle nach oben und unten durch <a href="/app/installation#1900">die neu erstellte Vorlage</a>. Siehst du die beiden Überschriften? Jede Überschrift entspricht einer anderen Ansicht. Beispielsweise könnte ein Bereich bestimmen, wie Informationen in einer Liste von Suchergebnissen angezeigt werden, und der andere Bereich könnte die Detailansicht bestimmen.</p>
</div>
<div class="paragraph instruction">
<p>Vorlage mit Informationen füllen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klappe die Einstellungen für jede Information auf (<span class="icon"><i class="fa fa-chevron-down" style="color:darkGrey"></i></span>), die auf der Vorlage erscheinen soll.</p>
</li>
<li>
<p>Bestimme, wie diese Informationen aussehen sollen und wo sie erscheinen sollen. Beachte <a href="#tabelle-vorlage-informationen">Tabelle 8</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-vorlage-informationen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Vorlage mit Informationen füllen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Titel für diese Information ein. Der Titel wird direkt oberhalb seiner zugehörigen Informationen angezeigt. Gibst du keinen Text in dieses Feld ein, werden die Informationen ohne Titel angezeigt.<br>
<strong><em>Beispiel</em></strong>: Klappst du die Einstellungen für die Artikel-ID auf und gibst den Titel "Meine Artikel-ID" ein, dann wird die Artikel-ID 12345 wie folgt angezeigt:</p>
</div>
<div class="paragraph">
<p>Meine Artikel-ID<br>
12345</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeile</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In welcher Zeile sollen die Informationen angezeigt werden? Wähle eine Zeilennummer aus der Dropdown-Liste. Je kleiner die Zahl, desto höher werden die Informationen angezeigt.<br>
<strong>Nicht anzeigen</strong> = Diese Informationen werden nicht in die Vorlage aufgenommen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeilen-Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hast du mehrere Informationen in der gleichen <strong>Zeile</strong> platziert? Falls ja, lege jetzt fest, welcher davon als erster, zweiter, dritter usw. angezeigt werden soll.<br>
Mit anderen Worten tritt zuerst die Option <strong>Zeile</strong> in Kraft. Danach wird die Option <strong>Zeilen-Priorität</strong> berücksichtigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Spalte</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sollen diese Informationen auf der linken, rechten oder über die gesamte Breite angezeigt werden?</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schrift</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schriftgröße</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie groß oder klein soll die Schrift sein? Wähle die Schriftgröße aus der Dropdown-Liste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schriftstil</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie soll der Text formatiert werden? Klicke in das Feld und wähle die gewünschte Formatierung.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zusätzliche Optionen in der Vorlage</div>
<div class="paragraph">
<p>Wenn du einige Informationen aufklappst, siehst du zusätzliche Optionen. Wenn du beispielsweise den Artikelpreis aufklappst, kannst du den passenden Verkaufspreis aus einer Dropdown-Liste auswählen. Halte Ausschau nach den folgenden zusätzlichen Optionen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikelpreis » Preisauswahl</strong> = Verkaufspreis aus der Dropdown-Liste wählen.</p>
</li>
<li>
<p><strong>Barcode » Barcode-Auswahl</strong> = Barcode-Typ aus der Dropdown-Liste wählen.</p>
</li>
<li>
<p><strong>Artikelbild » Bildgröße</strong> = Größe wählen, in der das Artikelbild angezeigt wird.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2000">6.2. Hintergrundbild auswählen</h3>
<div class="paragraph">
<p>Willst du statt des Standard-Hintergrunds z.B. die Farben deines eigenen Corporate Designs verwenden? Bestimme selbst, welches Bild oder welche Farbe angezeigt werden sollen.</p>
</div>
<div class="paragraph instruction">
<p>Hintergrundbild wechseln:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tippe in der App oben links auf das Menüsymbol (<span class="icon"><i class="fa fa-bars" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Tippe auf <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Tippe auf <strong>Darstellung</strong>.</p>
</li>
<li>
<p>Tippe auf ein Hintergrundbild oder auf eine Hintergrundfarbe.<br>
→ Der Hintergrund ändert sich.<br></p>
</li>
<li>
<p>Tippe auf das Häkchen (<span class="icon"><i class="fa fa-check" style="color:blue"></i></span>), um die Änderung zu bestätigen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="2050">7. App mit plentyBase verbinden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentyBase ist ein Tool, was die Kommunikation zwischen deinem eigenen Rechner und plentymarkets ermöglicht.
Mit anderen Worten stellt plentyBase eine Schnittstelle bereit, über die du aus dem plentymarkets Backend und/oder der plentymarkets App die Drucker nutzen kannst, die an deinen Computer angeschlossen sind.</p>
</div>
<div class="paragraph">
<p>Beispielsweise musst du die App mit plentyBase verknüpfen, um:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/app/funktionen/artikelsuche#400">Artikeletiketten über die plentymarkets App auszudrucken</a></p>
</li>
<li>
<p><a href="/pos/pos-einrichten#1000">Belege auf deinem lokalen Drucker anstatt auf einem Bondrucker auszudrucken</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/integration/plentybaseitemcachepos_6313" target="_blank" rel="noopener">weiterhin mit plentymarkets POS zu kassieren, auch wenn das Internet ausfällt</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/integration/plentybasecustomerdisplaypos_6359" target="_blank" rel="noopener">deinen Kunden Informationen über die POS-Transaktion auf einem Monitor zu zeigen</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Bondrucker läuft ohne plentyBase</div>
<div class="paragraph">
<p>Der Bondrucker wird über die IP-Adresse des Druckers an die plentymarkets App angebunden. Deshalb ist plentyBase für die Nutzung des Bondruckers nicht erforderlich. Du benötigst plentyBase also nur, wenn du andere Drucker an plentymarkets POS anbinden möchtest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>App mit plentyBase verbinden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Lade die <a href="https://marketplace.plentymarkets.com/plugins/integration/plentybase_5053" target="_blank" rel="noopener">Installationsdateien für plentyBase</a> auf deinen Rechner herunter.</p>
</li>
<li>
<p>Installiere plentyBase auf deinem Rechner. Konfiguriere dabei die Einstellungen wie in der <a href="https://marketplace.plentymarkets.com/plugins/integration/plentybase_5053#40." target="_blank" rel="noopener">Dokumentation zu plentyBase</a> beschrieben.<br>
<strong><em>Tipp</em></strong>: Da du plentyBase mit der App verbinden möchtest, wähle die Option <strong>HTTP-Server</strong>.<br>
<strong><em>Tipp</em></strong>: Notiere dir den HTTP-Port. Du wirst diese Informationen in Kürze wieder benötigen.</p>
</li>
<li>
<p>Starte plentyBase auf deinem Rechner.</p>
</li>
<li>
<p><a href="/app/installation#1100">Melde dich bei der plentymarkets App an</a>.</p>
</li>
<li>
<p>Tippe in der App oben links auf das Menüsymbol (<span class="icon"><i class="fa fa-bars" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Tippe auf <strong>Einstellungen » plentyBase</strong>.</p>
</li>
<li>
<p>Konfiguriere die Einstellungen wie in der <a href="https://marketplace.plentymarkets.com/plugins/integration/plentybase_5053#140." target="_blank" rel="noopener">Dokumentation zu plentyBase</a> beschrieben.</p>
</li>
<li>
<p>Tippe auf das Häkchen oben rechts (<span class="icon"><i class="fa fa-check" style="color:blue"></i></span>), um die Änderung zu bestätigen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="2100">8. App aktualisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wartest du sehnsüchtig auf ein neues Feature? Wir informieren dich gerne über Änderungen an der Software. Versionen der plentymarkets App sind durch Versionsnummern gekennzeichnet. Änderungen werden zudem in einem Changelog veröffentlicht. <a href="https://forum.plentymarkets.com/c/changelog/changelog-app" target="_blank" rel="noopener">Abonniere den Changelog</a> und bleibe immer auf dem Laufenden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2150">9. App deinstallieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei fehlender Internetverbindung werden Aufträge offline gespeichert und erst später synchronisiert. Wenn du die App deinstallierst, bevor die Aufträge an plentymarkets übertragen wurden, werden die lokal gespeicherten Aufträge unwiederbringlich gelöscht und können auch vom plentymarkets Support nicht wiederhergestellt werden. Prüfe deshalb vor jedem Deinstallieren der App, dass keine Offline-Aufträge auf dem Gerät vorhanden sind.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="2200">10. Fehlerbehebung</h2>
<div class="sectionbody">
<div class="qlist qanda">
<ol>
<li>
<p><em>Ich kann mich nicht in die App einloggen. Was mache ich falsch?</em></p>
<p>Achte darauf, dass du die <a href="/app/installation#1200">Basis-URL deines plentymarkets Systems</a> richtig einträgst.
Gib die Domain ohne führendes https:// oder http:// ein. Falls du die URL nicht kennst, findest du diese Information unter <strong>Einrichtung » Einstellungen » API » Daten</strong>. Die URL ist im Feld <strong>Host</strong> zu finden. Sollte das Problem weiterhin bestehen, wende dich an <a href="https://forum.plentymarkets.com/c/app-pos" target="_blank" rel="noopener">das App-Team im Forum</a>.<br></p>
<div class="paragraph">
<p><strong>Korrektes Beispiel</strong>: ihr-shop.de.<br>
<strong>Falsches Beispiel</strong>: https://ihr-shop.de<br>
<strong>Falsches Beispiel</strong>: ihr-shop.de/<br></p>
</div>
</li>
<li>
<p><em>Ich habe mein Passwort mehrmals falsch eingegeben und jetzt wurde mein Konto gesperrt. Was soll ich tun?</em></p>
<p>Wende dich an jemanden, der Administratorrechten für das plentymarkets-System hat. Diese Person öffnet das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>. Dann öffnet sie das Benutzerkonto und klickt in die Titelzeile auf das Button <strong>Login entsperren</strong>. Sollte das Problem weiterhin bestehen, wende dich an <a href="https://forum.plentymarkets.com/c/app-pos" target="_blank" rel="noopener">das App-Team im Forum</a>.</p>
</li>
</ol>
</div>
</div>
</div>
</main>