<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Make your store visible to customers</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">This video walks you through the very first steps toward opening your online store. You’ll learn how to find the plugins you’ll need for your store, group them together into a set, and activate them so that you can see an initial preview.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/online-store/first-step-plugins#video">Find plugins for your store (0:43)</a></p>
<p class="tableblock"><a href="/en/videos/online-store/first-step-set#video">Group these plugins into a set (1:14)</a></p>
<p class="tableblock"><a href="/en/videos/online-store/first-step-install#video">Install und activate the plugins (2:22)</a></p>
<p class="tableblock"><a href="/en/videos/online-store/first-step-preview#video">See a preview of your online store (3:15)</a></p>
<p class="tableblock"><a href="/en/videos/online-store/first-step-live#video">Make your store visible to your customers (4:08)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/244324307#at=248" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>When you set up a brick and mortar store, you’re putting your own unique style on display. And an online store is no different.
More than just a website, your online store is your virtual display window! And plentymarkets is here to help you open the online store of your dreams.</p>
</div>
<div class="paragraph">
<p>This video walks you through the first steps. It shows you where to find plugins like Ceres and IO that are necessary for building a store and how to group these plugins together into a set. It teaches you how to install and activate these plugins so that you can see a preview of your store. And once you’re ready, this video teaches you how to make your store visible to customers.</p>
</div>
<div class="paragraph">
<p>OK, step one, plugins! Your plentymarkets system contains an overview of all the plugins that you’ve downloaded from plentyMarketplace. New systems come equipped with several default plugins, which sellers are likely to need when designing their online stores. But don’t worry if you don’t see any plugins listed in the overview, or if you’re missing one or two plugins that you’d like to have. In this case, simply open up the plentyMarketplace and download whatever plugins you’d like to add to your system.</p>
</div>
<div class="paragraph">
<p>Once you’ve downloaded these plugins you’re ready to create a new set. Or in other words, you’re ready to create a sort of sandbox testing environment, where you’ll design and test your store before it’s accessible to customers. Simply give your plugin set a name and if you want, make a copy of an already existing plugin set. When you’re done save your settings and then click on the set that you’ve just created. You can easily tell which plugin set is selected because it’s displayed in blue.</p>
</div>
<div class="paragraph">
<p>But at this point, you may be wondering why you just created a new plugin set. I mean, you already had this set up here, right?
Well, be careful. The green dot here tells you that this plugin set is active, or in other words visible to customers. That’s why it’s important to create a second plugin set, which is inactive, or in other words, only for your eyes to see. You can use this testing environment to try out new plugins, make design changes and fix any potential errors before customers start shopping in your store.</p>
</div>
<div class="paragraph">
<p>Once you’ve clicked on your new plugin set and turned it blue you’re ready to install all of the plugins that you want to use. Just have a bit of patience because it may take a few minutes for plugins to install. Finally, activate your plugins and click on the "save" icon to send them out into the world. Again, have a bit of patience because this process can take a few minutes to finish. If you want to check whether or not the process has finished, simply click on the plugin set to reload it. The process has finished if the save icon is displayed in dark gray and the productive version matches the version to be installed. If something went wrong during the process, then you’ll see a red button, which provides further information about the error.</p>
</div>
<div class="paragraph">
<p>Once you’ve finished installing and activating plugins you’ll be able to see a preview of your new online store. This gives you the chance to look at and explore your store. Since this is a preview, customers won’t be able to see the store until you specifically tell plentymarkets that you’re ready to go live.
You can, however, ask friends or colleagues what they think of your store. Simply copy the URL and send it to anyone who may want to see what you’ve been working on. This link will work for 24 hours.</p>
</div>
<div class="paragraph">
<p>Now that your store’s running in a test environment, where to next? Continue on with our video tutorials and learn how to configure your Ceres store.
Not only can you customise several settings within the Ceres plugin directly but you can also use our Shop Builder tool to design a beautiful website without having to learn HTML or CSS first. Once you’ve finished designing your store you’ll make it accessible to customers by activating the plugin set. In the new window that appears simply tell plentymarkets which plugin set should be visible to customers. This plugin set is now the online store that your customers see when they visit your website. The other plugin set is automatically deactivated.</p>
</div>
<div class="paragraph">
<p>So what are you waiting for? Use plugin sets to try out new themes, widgets and functions in your online store before you draw back the curtain and make them visible to customers. Have fun creating your own virtual display window with plentymarkets!</p>
</div>
</div>
</div>
</main>