<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Creating new user accounts</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">This video teaches you how to create new user accounts and customise their settings. You’ll learn the difference between admin and variable users, and you’ll see how to limit which menus a user can access.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/personalisation/user-accounts/create-user-account-admin-variable#video">Admin and variable users (1:04)</a></p>
<p class="tableblock"><a href="/en/videos/personalisation/user-accounts/create-user-account-edit-account#video">Editing user accounts (1:58)</a></p>
<p class="tableblock"><a href="/en/videos/personalisation/user-accounts/create-user-account-customise-rights#video">Customising user rights (2:58)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/175831491" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Ladies and gentlemen, please take your seats. The show is about to begin! But before drawing back the curtain and turning the spotlight on your online store, let’s go behind the scenes and meet the cast of characters who make this production possible.</p>
</div>
<div class="paragraph">
<p>You’re the playwrite! And your typewriter? It’s plentymarkets! Of course, great stories rely on interesting characters. So just head over the menu <strong>Settings » Basic settings » User » Accounts</strong> and start bringing your characters to life.</p>
</div>
<div class="paragraph">
<p>Once your online business has grown beyond a one-man show, you’ll need a way to grant other staff members access to your plentymarkets system, so that you can all work together to keep your business running. In other words, you’ll need to create a different user account for each of your employees.
Simply click on the "New" button and enter information about the user here. Now most of these fields are pretty straight forward. There are just a few that may need a bit of explaining.</p>
</div>
<div class="paragraph">
<p>For example, make sure that you enter an e-mail address for every user. This is because your system will use this address later when automatically sending e-mails to your employees. And this option here specifies which type of user account you’re creating.</p>
</div>
<div class="paragraph">
<p>For now, let’s focus on admin users and variable users and just ignore the rest.
Just like a director casting a play, you’ll need to decide who should appear as a leading actor, and who should be given a supporting role. Admins have unlimited access to your plentymarkets system, so you can think of them as the leading actors and actresses, who show up in every scene. Variable users, on the other hand, can only see the menus or functions that they were authorized for. So you can think of them as supporting characters, who only appear in certain scenes.
Got it? Great! Let’s get to work and cast our leading lady and supporting gentleman.
Both are crucial to our story’s success. Our admin plays a larger role and will carry more responsibility.</p>
</div>
<div class="paragraph">
<p>But don’t underestimate the importance of supporting characters either. Variable users may work as warehouse technicians or customer support agents and they’ll only need access to specific menus within your system. Once you’ve created a user account, open it to edit the settings even further.
This first tab here gives you room to sketch out a character biography for your playbill. It includes a lot of the same options that you saved just a moment ago, but it also has a few more detailed settings like a Skype name, the ability to prevent a user from logging into your system if their 15 minutes of fame are over and a button that gives this user an account for the plentymarkets forum.
These next two tabs are only useful if your business provides customer support with the ticket system.</p>
</div>
<div class="paragraph">
<p>So don’t get too hung up on these tabs here when you’re first starting out. Just keep in mind that you’ll want to come back here if you decide to offer ticket support in the future.</p>
</div>
<div class="paragraph">
<p>Use this next tab here to specify where in plentymarkets this user should be listed as an owner. And let me just show you what I mean. So here, for example, let’s say that the user is an owner of the "Orders" menu. Well, now when I open the menu <strong>Orders » Edit orders</strong>, I’ll be able to make this user the owner of specific orders and here on the left, I’ll be able to select this user from the "Owner" drop-down and search for all of the orders that this user is responsible for.</p>
</div>
<div class="paragraph">
<p>Now let’s head back to our user accounts and look at the "Right" tab. This tab isn’t especially relevant for admin users. Instead, it’s where our supporting actors take the stage. When you’re configuring a variable user, this is the tab that you’ll really want to focus on. Just like a screen writer, you’ll need to decide which scenes each user should appear in and whether or not your characters will have speaking roles. Or in terms of your online store - you’ll need to decide what each user should be allowed to do within your plentymarkets system.</p>
</div>
<div class="paragraph">
<p>Here you’ll decide which menus and functions each user is able to work with. So, for example, you can limit which order statuses the user can see. In other words, when the user opens the menu <strong>Orders » Edit orders</strong>, then he or she will only be able to see orders that are in one of the statuses selected here.</p>
</div>
<div class="paragraph">
<p>And a bit farther down, you can limit which order statuses the user can set. In other words, when the user is working with orders, he or she will only be able to change the order’s status to one of the statuses specified here. Depending on how you process orders, it may be useful to place such limits, since status changes can trigger other events to occur. With a simple status change, an employee may accidentally print an invoice, create shipping labels, mark items as shipped or even send a shipping confirmation e-mail to your customer.</p>
</div>
<div class="paragraph">
<p>The "Menu" tab includes a bunch of check boxes which correspond to the blue navigation bar in plentymarkets. Just place check marks next to whichever menus the user should be able to see. For example, you probably want to allow your warehouse technician to see the item menu. But should this employee be allowed to delete items too? Better not. You may also feel more comfortable if you only allow admins to modify your item prices. With just a few easy clicks, you can completely customise the rights of variable users.</p>
</div>
<div class="paragraph">
<p>Alright, now there were a lot of settings that we just went over in these tabs. As your company grows, you’ll likely hire additional employees who play very similar roles. It might seem like a daunting task to customise all of these settings for each new actor. This is where the "Transfer" tab can save you valuable time and energy. Here you can quickly bring new characters to life by transfering rights from one user account to another. Or you can save time by grouping your employees into so-called roles like customer support, a fulfillment team or the accounting department, and then you can just give each role specific rights. If this is something you’d like to do, then check out our separate video that deals exclusively with this topic.</p>
</div>
<div class="paragraph">
<p>Once you’ve fleshed out your characters, let’s check what plentymarkets will look like when our variable user logs into the system. The menu bar up top is much smaller now because we only granted our user access to one menu. And when this user opens his own account, he’s able to edit his own personal information, but he can’t change any of the other settings.</p>
</div>
<div class="paragraph">
<p>Your screenplay will come to life one character at a time. Soon it’ll be showtime and all your characters will take their places on stage. Aaaaaaand: Action!</p>
</div>
</div>
</div>
</main>