<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Defining custom password rules for your staff members</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">By default, plentymarkets requires users to create passwords that are at least 8 characters long and that contain a mixture of upper and lower case letters, numbers and special characters. Your company can enforce even stricter password rules and require employees to change their passwords regularly. This video teaches you how it’s done!</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/personalisation/user-accounts/password-rules#video">Defining custom password rules</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/267559969" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Know someone who still uses the same password they thought up in 5th grade? Or a password that’s only 3 characters long? It’s probably not something you want your own employees to do. That’s why plentymarkets has added a new feature to keep your system secure. Now it’s possible to make sure your employees use passwords that meet your company’s very own security standards.</p>
</div>
<div class="paragraph">
<p>By default, plentymarkets requires users to create passwords that are at least 8 characters long and contain a mixture of upper and lower case letters, numbers and special characters. But what if you want even stricter password rules? What if your company requires employees to change their passwords regularly?</p>
</div>
<div class="paragraph">
<p>No problem! Admin users can enforce their own, customised password security rules in the menu <strong>System » Settings » User »Security</strong>. Alternatively, just use the search function to find the menu.
Start out by telling plentymarkets how many characters your employees' passwords should be at minimum. Then tell plentymarkets which types of characters the passwords should include.</p>
</div>
<div class="paragraph">
<p>So for example, upper and lower case letters, numbers and special characters. If you check all four boxes, then you can decide whether your employees' passwords should fulfill all four of the criteria or just any three of them.</p>
</div>
<div class="paragraph">
<p>If you want to make sure your employees change their passwords regularly, then just specify how many days the password should be valid.</p>
</div>
<div class="paragraph">
<p>And since users shouldn’t simply rotate through the same two or three passwords, use this option here to tell plentymarkets how many old ones should be blocked. For example, if you enter 4, then employees will not be able to re-use any of their last four passwords.</p>
</div>
<div class="paragraph">
<p>Once you’re happy with all the settings, activate your new password security standard and save the changes. Now when users change their passwords, they’ll see guidelines indicating the minimum password length and types of characters that need to be used.</p>
</div>
<div class="paragraph">
<p>So take control of which security standards your business relies on and rest assured that every user password makes the grade.</p>
</div>
</div>
</div>
</main>