<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Unternehmenskennzahlen</h1><div class="sect1">
<h2 id="_kennzahlen_in_der_plentymarkets_app_einrichten">Kennzahlen in der plentymarkets App einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du willst wissen, wie viele Aufträge du diesen Monat hast? Oder wie viele Erstbestellungen hinzugekommen sind? In der plentymarkets App kannst du dir die wichtigsten Kennzahlen auf der Startseite anzeigen lassen.
In der folgenden Übersicht stellen wir einige der wichtigen Kennzahlen vor.</p>
</div>
<div class="paragraph">
<p>Als Erstes richtest du dir eine sogenannte <code>Seite</code> auf der Startseite ein. Du benötigst mindestens eine Seite. Um diese Seite anzulegen, klickst du im Dashboard der plentymarkets App oben rechts auf den Stift und auf <strong>Neue Seite hinzufügen</strong>. Benenne die Seite z.B. <code>Tagesübersicht</code>.</p>
</div>
<div class="paragraph">
<p>Anhand eines Beispiels mit Umsatz zeigen wir dir hier die notwendigen Schritte.</p>
</div>
<div class="sect2">
<h3 id="_beispiel_umsatz_anzeigen">Beispiel: Umsatz anzeigen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne die plentymarkets App.</p>
</li>
<li>
<p>Klicke rechts auf den Stift und dann auf <strong>Neue Kennzahlen hinzufügen</strong>.<br>
→ Das Kennzahlenmenü wird geöffnet.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste die Option <strong>Umsatz</strong>.</p>
</li>
<li>
<p>Klickst du auf das nun erstelle Feld, kannst du weitere Einstellungen vornehmen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Standardmäßig ist eine Zeitspanne von 30 Tagen eingestellt. Du kannst auch eine andere Spanne wählen z.B. <code>Heute</code>.
Weitere Einstellmöglichkeiten sind u.a.: Namen, Farbe, Status, Mandant und Auftragsherkunft.</p>
</div>
<div class="paragraph">
<p>Wenn du die Kennzahl nicht mehr benötigst, kannst du sie in den Einstellungen löschen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/app/assets/kennzahlen.jpg" alt="kennzahlen" width="350">
</div>
<div class="title">Figure 1. 30-Tage-Übersicht</div>
</div>
<div class="paragraph">
<p>Weitere Informationen, die von der plentymarkets App unterstützt werden und die du nach dem gleichen Schema einrichten kannst, sind:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Durchschnittliche Aufträge</p>
</li>
<li>
<p>Neue Kundentypen</p>
</li>
<li>
<p>Verkaufte Artikel</p>
</li>
<li>
<p>Unzugeordnete Zahlungen</p>
</li>
<li>
<p>Aufträge</p>
</li>
<li>
<p>Unbezahlte Aufträge</p>
</li>
<li>
<p>Neue Artikel</p>
</li>
<li>
<p>Durchschnittlicher Umsatz</p>
</li>
<li>
<p>Durchschnittlich Verkaufte Artikel</p>
</li>
<li>
<p>Artikel pro Auftrag</p>
</li>
<li>
<p>Aktive Listings</p>
</li>
<li>
<p>Gestartete Listings</p>
</li>
<li>
<p>Wareneingänge</p>
</li>
<li>
<p>Meldebestand</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</main>