<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Ausgewählte Listings analysieren</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erfahre, wie du das eBay Analytics-Plugin nutzen und wie ein Profi Statistiken für dein eBay-Konto erstellen kannst! Du wirst sehen, dass du dein gesamtes eBay-Konto als Ganzes analysieren und Statistiken für einzelne Einträge erstellen kannst.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/ebay/plugins/analytics-konto-verknuepfung#video">Verknüpfung mit deinem eBay-Konto (0:47)</a></p>
<p class="tableblock"><a href="/videos/ebay/plugins/analytics-konto-analysieren#video">Analysiere dein eBay-Konto als Ganzes (1:11)</a></p>
<p class="tableblock"><a href="/videos/ebay/plugins/analytics-listings-analysieren#video">Analysiere ausgewählte Listings (1:52)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/240959695" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Du verkaufst auf eBay und meinst du hast alles im Griff? Du könntest aber sicherlich noch mehr aus deinem eBay-Konto rausholen!</p>
</div>
<div class="paragraph">
<p>Als wirtschaftlich agierender Händler benötigst du ein Plugin, um die Kennzahlen deiner Listings bei eBay immer im Auge zu behalten. Genau das können wir dir bieten.</p>
</div>
<div class="paragraph">
<p>Das sieht nicht nur super aus, es bietet dir auch die Möglichkeit, die Stellschrauben aufzudecken um noch mehr Verkäufe bei eBay zu generieren.</p>
</div>
<div class="paragraph">
<p>Lade dir das neue Plugin ganz einfach runter und installiere es in deinem System.</p>
</div>
<div class="paragraph">
<p>Beachte bitte, dass du diese Plugins bereits installiert haben musst, um eBay-Analytics zu benutzen.</p>
</div>
<div class="paragraph">
<p>Dabei ist das SDK-Plugin die Schnittstelle, welche Informationen zwischen eBay und plentymarkets austauscht. Das OAuth-Plugin ist dabei die Authentifizierung für eBay.</p>
</div>
<div class="paragraph">
<p>Hier musst du noch dem Plugin erlauben, mit der eBay-Schnittstelle zu kommunizieren.</p>
</div>
<div class="paragraph">
<p>Dies funktioniert im Prinzip genau wie beim Anlegen deines eBay-Kontos. Klicke dazu ganz einfach auf die Weltkugel und schließe die Anmeldung auf Seiten von eBay ab.</p>
</div>
<div class="paragraph">
<p>Wenn Du diese Schritte abgeschlossen hast, ist das eBay-Analytics mit den Bereichen Konto-Performance und Listing-Performance verfügbar.</p>
</div>
<div class="paragraph">
<p>Schauen wir uns die ersten Graphen an. Hier handelt es sich um Statistiken zu deinem eBay-Konto.</p>
</div>
<div class="paragraph">
<p>Auf der linken Seite lassen sich die Filter für die Statistik festlegen.</p>
</div>
<div class="paragraph">
<p>Zuerst bestimmst du, für welche Plattform die Statistik angezeigt werden soll. Außerdem legst du das Konto fest.</p>
</div>
<div class="paragraph">
<p>Hier gibst du ganz einfach einen zeitlichen Rahmen für deine Statistik an.</p>
</div>
<div class="paragraph">
<p>Zuletzt wählst du nur noch, welche Metrik dir angezeigt werden soll, zum Beispiel die Conversion Rate oder die Listing-Aufrufe.</p>
</div>
<div class="paragraph">
<p>Hier siehst du nicht nur, welche Werte dir angezeigt werden - die genauen Erklärungen zu den einzelnen Werten findest du übrigens hier - du kannst auch einzelne Werte ein- oder ausblenden.</p>
</div>
<div class="paragraph">
<p>Schauen wir uns außerdem die Listing-Performance an. Hier besteht die Möglichkeit, Berichte so zu konfigurieren, wie du sie benötigst. Dazu klickst du ganz einfach hier auf das Plus.</p>
</div>
<div class="paragraph">
<p>Zunächst bestimmst du wieder für welche Plattform, bzw. für welches Konto du die Statistiken benötigst.</p>
</div>
<div class="paragraph">
<p>Anschließend kannst du dem Bericht einen Namen geben. In diesem Bereich lassen sich dann Listings für den Bericht bestimmen.</p>
</div>
<div class="paragraph">
<p>Wenn du die IDs der gewünschten Listings zur Hand hast, gib sie hier ein.</p>
</div>
<div class="paragraph">
<p>Wenn du mehrere Listings eingibst, musst du diese übrigens per Komma trennen.</p>
</div>
<div class="paragraph">
<p>Du hast aber auch die Möglichkeit, ein Listing über das Plus hinzuzufügen.</p>
</div>
<div class="paragraph">
<p>Hier wählst du das Listing, das du hinzufügen möchtest und klickst dann das Plus.</p>
</div>
<div class="paragraph">
<p>Jetzt legst du noch den Zeitraum fest, für den der Bericht generiert werden soll und klickst dann ganz einfach auf speichern. Hier solltest du übrigens maximal einen Bereich von 30 Tagen angeben.</p>
</div>
<div class="paragraph">
<p>Wie du siehst, ist dein konfigurierter Bericht jetzt erstellt und befindet sich hier in der Liste an erster Stelle.</p>
</div>
<div class="paragraph">
<p>Klicke dann ganz einfach auf deinen Bericht, um ihn zu öffnen.</p>
</div>
<div class="paragraph">
<p>In Abhängigkeit von der Datenmenge, die für die Statistik verarbeitet werden muss, kann es bis zu 15 Minuten dauern, bis du den Bericht benutzen kannst.</p>
</div>
<div class="paragraph">
<p>Dies ist hier in der Spalte Status einzusehen. Hier findest du dann eine solche Statistik zum Listing bzw. zu den Listings.</p>
</div>
<div class="paragraph">
<p>Ähnlich wie bei der anderen Statistik hast du auch hier wieder eine Legende und kannst wieder verschiedene Punkte, in unserem Fall Listings, ein- und ausblenden.</p>
</div>
<div class="paragraph">
<p>Zu guter Letzt benutzt du dieses Dropdown-Menü, um dir verschiedene Informationen anzeigen zu lassen.</p>
</div>
<div class="paragraph">
<p>Mit einer Vielzahl an Statistiken bewaffnet weißt du immer, wie erfolgreich dein eBay-Konto ist und welche Angebote am beliebtesten sind. Lade dir das Plugin noch heute runter und beleuchte deine eBay-Verkäufe.</p>
</div>
</div>
</div>
</main>