<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>eBay-Feedback in plentymarkets importieren und beantworten</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das eBay Feedback-Plugin erlaubt es dir, auf die Bewertungen deiner eBay-Kunden angemessen zu antworten. Und zwar direkt aus deinem plentymarkets System heraus! In Verbindung mit dem Ticketsystem kannst du so alles über nur ein System bearbeiten.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/ebay/plugins/feedback-plugin-installieren#video">Feedback-Plugin installieren (0:17)</a></p>
<p class="tableblock"><a href="/videos/ebay/plugins/feedback-bewertungen-importieren#video">Bewertungen importieren (1:08)</a></p>
<p class="tableblock"><a href="/videos/ebay/plugins/feedback-bewertungen-bearbeiten#video">Bewertungen bearbeiten (2:45)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/272965142#at=165" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Erfahrung und Gewieftheit haben dich im E-Commerce erfolgreich gemacht, doch der wahre Schatz liegt in der Kommunikation mit deinen Kunden. Denn in deren Köpfe kannst du nicht hineinschauen, also bist du angewiesen auf Feedback!</p>
</div>
<div class="paragraph">
<p>Im Fall eBay haben wir da auch genau das Richtige für dich - im plentyMarketplace.</p>
</div>
<div class="paragraph">
<p>Schnapp dir hier das eBay Feedback Plugin, denn damit hast du die Möglichkeit, die unbeantworteten Bewertungen deiner Kunden in dein plentymarkets System zu importieren, sodass du direkt vom Backend aus Antworten dazu verfassen kannst. Ohne zusätzlichen Login auf eBay.</p>
</div>
<div class="paragraph">
<p>Um das Plugin nutzen zu können, benötigst du zum einen das Ticketsystem, also stelle sicher, dass es auch in deinem Tarif enthalten ist, und wie bei anderen ebay Plugins auch, eBay SDK und OAuth2. Über diese beiden Plugins verknüpfst du dein eBay-Konto nochmals mit dem System. Warum nochmal? Weil nur so die Kommunikation zwischen Plugins und eBay stattfinden kann.</p>
</div>
<div class="paragraph">
<p>Hast du alles im Productive Modus bereitgestellt, dauert es nicht mehr lang, bis in deinen eBay Einstellungen ein kleiner, aber feiner Zusatz auftaucht: Feedback.</p>
</div>
<div class="paragraph">
<p>Je nachdem, wie du deine Kommunikation aufbaust, kannst du hier auswählen, welche Feedbacktypen importiert werden sollen.</p>
</div>
<div class="paragraph">
<p>Interessiert dich vielleicht nur jede negative Bewertung, damit du entsprechend reagieren kannst?</p>
</div>
<div class="paragraph">
<p>Oder willst du einfach immer wissen, was deine Kunden zu sagen haben? Setze die Haken wie du möchtest.</p>
</div>
<div class="paragraph">
<p>Weiter geht’s mit dem entsprechenden Mandanten, den du über das Dropdown auswählst.</p>
</div>
<div class="paragraph">
<p>Im Ticketsystem solltest du dir folgendes bereits eingerichtet haben: Eine Rolle, Tickettyp und Status.</p>
</div>
<div class="paragraph">
<p>Das brauchst du, damit du in dieser Maske die jeweiligen Infos verknüpfen kannst, damit alles korrekt von eBay zu plenty importiert und natürlich auch deine Antworten korrekt wieder zurück von plenty zu eBay geschickt werden können.</p>
</div>
<div class="paragraph">
<p>Um die Feedback-Typen zu mappen, musst du vorab noch die richtigen Tags erstellen.</p>
</div>
<div class="paragraph">
<p>Also zum Beispiel ein Positiv-Tag, natürlich freigeschaltet für das Ticketsystem, und das gleiche für beispielsweise ein Neutral-Tag und ein Negativ-Tag.</p>
</div>
<div class="paragraph">
<p>Natürlich kannst du deine Tags benennen wie du magst, das ist nur für dich und deine interne Anzeige.</p>
</div>
<div class="paragraph">
<p>Wichtig ist, dass du sie bei den Feedback-Einstellungen dann korrekt mappst.</p>
</div>
<div class="paragraph">
<p>Und damit deine Mitarbeiter mit ihren Nutzerkonten auf die Bewertungen antworten können, verknüpfst du sie per Klick.</p>
</div>
<div class="paragraph">
<p>Achte nur darauf, dass die Nutzer auch für das Ticketsystem alle Berechtigungen haben.</p>
</div>
<div class="paragraph">
<p>So, jetzt kann es also losgehen, deine Bewertungen können importiert werden, also gib das Startsignal mit dem Aktivhaken und speichere alles ab!</p>
</div>
<div class="paragraph">
<p>Wie gesagt kannst du schließlich über das Ticketsystem die gewünschten Bewertungen sehen. Darauf willst du natürlich auch antworten und genau das machst du direkt über das Ticket.</p>
</div>
<div class="paragraph">
<p>Aber Moment! Wenn das Feedback automatisch in dein System importiert wird, dann macht es ja auch nur Sinn, wenn deine Antworten genauso automatisiert gepostet werden!</p>
</div>
<div class="paragraph">
<p>Hier kommt eine sogenannte Ticket-Ereignisaktion ins Spiel.</p>
</div>
<div class="paragraph">
<p>Gib deiner neuen Ereignisaktion einen Namen, wähle das Ereignis, das schließlich die Aktion auslöst, den eBay-Bewertungen zu antworten.</p>
</div>
<div class="paragraph">
<p>Dann noch den Filter setzen, damit nur eBay-Tickets bearbeitet werden.</p>
</div>
<div class="paragraph">
<p>Kurz aktivieren und du bist fertig.</p>
</div>
<div class="paragraph">
<p>So, jetzt wo du sogar das Feedback deiner eBay-Kunden über ein System verwalten kannst, steht neuen Abenteuern nichts mehr im Wege!</p>
</div>
</div>
</div>
</main>