<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kampagnen mit eBay Marketing erstellen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Richte eBay-Kampagnen direkt in deinem plentymarkets System ein. Mit dem eBay Marketing-Plugin kannst du ganz einfach Anzeigen erstellen und timen.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/ebay/plugins/marketing-kampagnen-konto#video">eBay-Konto verknüpfen (0:34)</a></p>
<p class="tableblock"><a href="/videos/ebay/plugins/marketing-kampagnen-einstellen#video">Kampagnen einstellen (1:09)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/247147679#at=69" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Haben Schnäppchenjäger es schwer, dich auf eBay zu finden? Willst du Ihnen eine Schatzkarte zeichnen, damit sie direkt zu deinen Produkten finden?</p>
</div>
<div class="paragraph">
<p>Mach es deinen Kunden noch leichter und lenke die Aufmerksamkeit durch hervorgehobene Listings auf deine Artikel.</p>
</div>
<div class="paragraph">
<p>Durch das eBay Marketing-Plugin kannst du deine Listings direkt aus deinem plentymarkets System heraus promoten.</p>
</div>
<div class="paragraph">
<p>Was du brauchst: Natürlich einen eBay-Account und zwei vorausgesetzte Plugins.</p>
</div>
<div class="paragraph">
<p>Eins, das für die Kommunikation zwischen eBay und plenty sorgt und das andere für den Authentifizierungsprozess.</p>
</div>
<div class="paragraph">
<p>Was uns direkt zum ersten Schritt bringt: Die Verknüpfung deines eBay-Accounts. Dafür klickst du ins System-Menü, navigierst dich zu Märkte » ebay und zum Authentifizierungsbereich und verknüpfst deinen Account.</p>
</div>
<div class="paragraph">
<p>Wahrscheinlich denkst du: Hab ich das nicht schon mal gemacht? Stimmt, aber dieser Bereich hier ist speziell für eBay-Plugins nötig. In anderen Worten, mit diesem Authentifizierungsprozess hier erlaubst du Plugins den Zugang zu deinem eBay-Account.</p>
</div>
<div class="paragraph">
<p>Sobald du damit fertig bist, bekommst du ein neues Menü und die Möglichkeit, Kunden auf deine Listings aufmerksam zu machen und damit deine Verkäufe zu steigern.</p>
</div>
<div class="paragraph">
<p>Durch Kampagnen kannst du bestimmte eBay-Listings promoten. Wähle die eBay-Plattform aus der Liste und den eBay-Account, der beworben werden soll.</p>
</div>
<div class="paragraph">
<p>Gib der Kampagne einen Namen und bestimme Start- sowie Enddatum.</p>
</div>
<div class="paragraph">
<p>Das wäre auch quasi alles, aber sicher ist dir der "Prozentsatz" hier in der Mitte aufgefallen. Weniger mysteriös als er zuerst scheint, regelst du hierüber, wieviel Prozent vom Verkaufspreis deine Kampagne kosten darf.</p>
</div>
<div class="paragraph">
<p>Ist die Kampagne fertig erstellt, kannst du Anzeigen auf ebay erstellen.</p>
</div>
<div class="paragraph">
<p>Das heißt in anderen Worten, du kannst diese Filter hier nutzen, um festzulegen, welche Listings genau du promoten willst.</p>
</div>
<div class="paragraph">
<p>Wähle also das passende Listing aus und fertig!</p>
</div>
<div class="paragraph">
<p>Mithilfe dieser Tabelle behältst du immer den Überblick über all deine Kampagnen. Außerdem kannst du sie nochmal bearbeiten, pausieren oder beenden.</p>
</div>
<div class="paragraph">
<p>Dazu lass dir gesagt sein, dass es eine Weile dauern kann, bis eine Kampagne beendet ist. In dieser Zeit sind keine Änderungen möglich, sobald der Prozess allerdings abgeschlossen ist, hast du wieder freie Hand und kannst die Kampagne auch löschen.</p>
</div>
<div class="paragraph">
<p>Verstecke deine Listings nicht wie vergrabene Schätze. Kreiere Kampagnen und promote deine Listings auf eBay!</p>
</div>
</div>
</div>
</main>