<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>SEO-relevante Listing-Informationen optimieren</h1><table class="tableblock frame-all grid-none stretch">
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/265511439" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Damit Kunden deine Listings auf eBay finden, braucht es nicht unbedingt eine Schatzkarte. Es braucht ein gutes Ranking!</p>
</div>
<div class="paragraph">
<p>plentymarkets stellt dir mit dem kostenlosen eBay-SEO Plugin einen kleinen, aber nützlichen Helfer zur Verfügung, der das Ranking deiner Listings in den eBay-Suchergebnissen erhöht. Das Plugin prüft all deine Listings auf bestimmte SEO-Kriterien wie zum Beispiel Titel, Einstellungen zu Versand, Retoure und Bearbeitungszeit.</p>
</div>
<div class="paragraph">
<p>Als alter Hase im Geschäft weißt du natürlich, wie du ein Plugin in dein System bekommst.</p>
</div>
<div class="paragraph">
<p>Nicht? Dann schau dir doch einfach nochmal das Video an, das hier oben verlinkt wird. In diesem wird erklärt, wie du Plugins in dein System einbindest.</p>
</div>
<div class="paragraph">
<p>Sobald das Plugin in deinem System bereitgestellt ist, prüft es automatisch all deine eBay-Listings auf SEO-Konformität. Dabei spielt es keine Rolle, ob deine Listings aktiv sind oder nicht.</p>
</div>
<div class="paragraph">
<p>Der Titel, die von eBay empfohlenen Merkmale, Einstellungen zu Versand, Retoure und Bearbeitungszeit sowie die Teilnahme an eBay Plus - das alles sind Faktoren, die Einfluss auf dein Ranking haben und automatisch vom Plugin geprüft werden.</p>
</div>
<div class="paragraph">
<p>In diesem Menü siehst du dann direkt, was SEO-technisch im Argen liegt. Schauen wir uns das doch im Detail an.</p>
</div>
<div class="paragraph">
<p>Die Prüfergebnisse zeigen dir auf einen Blick, welche Kriterien SEO-konform sind und welche du anpassen könntest. Hier entspricht der Titel nicht der Vorgabe, mindestens 60 Zeichen lang zu sein.</p>
</div>
<div class="paragraph">
<p>Um das zu ändern, springen wir hier direkt in das Listing, um den Titel im Tab Beschreibung und Layout nach den Vorgaben anzupassen. Nach dem Speichern prüft das Plugin erneut, ob das Listing nun den SEO-Kriterien entspricht.</p>
</div>
<div class="paragraph">
<p>Und schon erfüllt dein Listing die erste Formalie!</p>
</div>
<div class="paragraph">
<p>Neben dem Titel werden bei jedem Speichern automatisch alle aufgeführten Parameter vom System geprüft. Nämlich ob eBay Plus für das Market-Listing freigeschaltet ist und ob alle von eBay empfohlenen Merkmale am Market-Listing hinterlegt sind.</p>
</div>
<div class="paragraph">
<p>Gehen wir doch noch den Hinweis zum Fulfillment an …​ Offenbar sind Bearbeitungszeit, kostenloser Versand und die kostenlose Retoure nicht so eingestellt, dass sie vom Suchalgorythmus positiv bewertet werden.</p>
</div>
<div class="paragraph">
<p>Hier könntest du noch tätig werden, um dein Ranking zu verbessern.</p>
</div>
<div class="paragraph">
<p>Stellen wir also die Bearbeitungszeit auf null Tage, den kostenlosen Versand, sowie die kostenlose Retoure ein. Nach dem Reload wird dein Listing erneut geprüft und die Einstellungen als konform gekennzeichnet.</p>
</div>
<div class="paragraph">
<p>Und das Beste daran? Die Prüfungen laufen komplett im Hintergrund ab und beeinträchtigen in keiner Weise die Performance deines Systems!</p>
</div>
<div class="paragraph">
<p>Installiere das eBay SEO-Plugin und nutze die Möglichkeit, verschiedene SEO-relevante Formalia zu prüfen um so die Ranking-Kriterien deiner Listings zu verbessern.</p>
</div>
</div>
</div>
</main>