<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> New payments in the system</span></a></li>
<li><a href="#20"><span>2.</span><span> Searching for payments</span></a></li>
<li><a href="#30"><span>3.</span><span> Assigning payments</span></a></li>
<li><a href="#40"><span>4.</span><span> Detaching payments</span></a></li>
<li><a href="#50"><span>5.</span><span> Splitting payments</span></a></li>
<li><a href="#60"><span>6.</span><span> Deleting payments</span></a></li>
<li><a href="#70"><span>7.</span><span> Carrying out the group function</span></a></li>
<li><a href="#80"><span>8.</span><span> Further information in the detail view</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Test phase: Managing payments</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page of the manual describes and explains how to manage payments working with the new user interface. The functions explained here are currently in <em>beta</em>, but the old user interface is also still available at the same time. Note that the information in chapter <a href="/en/payment/managing-payments#10">Cattying out basic settings for incoming payments</a> as well as those in chapter <a href="/en/payment/managing-payments#20">Booking payments</a> also apply when you work with the new user interface.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. New payments in the system</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After payments are booked in plentymarkets, they are automatically assigned to orders with a fuzzy search. If the payment cannot be assigned to the order automatically, then you can still manually assign the payment to an order. Payments are edited in the <strong>Orders » Payments</strong> menu. Unassigned payments are marked with a <strong>green arrow</strong> (<span class="icon green"><i class="psicon-payment_assign"></i></span>).
In this overview, payments are displayed in your <a href="/en/payment/currencies#30">system currency</a>. If the payment is in a different currency, this amount is displayed in brackets next to the system currency.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Setting up event procedures for incoming payments</div>
<div class="paragraph">
<p>Payment receipt is an important event when it comes to processing orders because items are not typically shipped until the payment was received. In most cases, the order status in plentymarkets changes from <strong>status [3] - waiting for payment</strong> to <strong>status [5] - cleared for shipping</strong> as soon as the payment was received. Create <a href="/en/automation/event-procedures">event procedures</a> to automatically process orders and ship the items once payment is received.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Searching for payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can search for payments in the <strong>Orders » Payments</strong> menu. This table is customisable. This means that you can decide which information is displayed in the table columns. To do so, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Customise table:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Configure columns</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ The window <strong>Configure columns</strong> opens.</p>
</li>
<li>
<p>Select which columns are to be displayed.</p>
</li>
<li>
<p>Move (<span class="icon "><i class="psicon-drag_sort_handle"></i></span>) the columns so that they are displayed in the order you need them.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong> to save your settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can select and combine different filters for the search (<span class="icon "><i class="fa fa-filter  "></i></span>), for example to search for unassigned payments of the last week. Set the filters as required and execute the search.</p>
</div>
<div class="paragraph instruction">
<p>Searching for payments:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>Open the search (<span class="icon "><i class="fa fa-filter  "></i></span>).</p>
</li>
<li>
<p>Select the <strong>Filters</strong> and take note of the explanations given in <a href="#table-searching-payments">Table 1</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> to execute the search.</p>
</li>
</ol>
</div>
<table id="table-searching-payments" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Searching for payments</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Search for orders to which a payment has been assigned by entering the order IDs. You can enter several IDs by separating them with a comma.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaction ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The transaction ID is assigned by the payment provider so that the payment can be correctly allocated to this provider. Enter a transaction ID to search for a payment with this specific transaction ID. You can enter several IDs by separating them with a comma.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaction code</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The transaction code describes the transaction itself. Enter a transaction code to search for a payment with this specific code.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reference ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A reference ID links payments, e.g. a payment and a refund. Enter a reference ID to search for payments with this specific transaction ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the payment ID to search for the exact payment with this ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a specific payment method to search for payments done with this payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reason for payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the reason for payment, either entirely or partly, to search for payments with this designated use.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sender of payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the person who sent the money to search for all payments of this person.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cr/Dr</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose between <strong>Cr</strong> (Credit) and <strong>Dr</strong> (Debit).<br>
<strong>Credit</strong> = All incoming payments with a positive value are displayed.<br>
<strong>Debit</strong> = All incoming payments with a negative value are displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose an operator and enter an amount.<br>
<strong><em>Example</em></strong>: Select <strong>Greater than or equal to</strong> and enter 300 as the <strong>Amount</strong> in order to have all payments with an amount of 300 and more displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Assignment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can choose between <strong>Assigned</strong> and <strong>Unassigned</strong>.<br>
<strong>Assigned</strong> = Shows you only payments which were already assigned to an order.<br>
<strong>Unassigned</strong> = Shows you only payments which were not assigned to an order yet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status to search for payments with this specific status.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaction type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a transaction type to search for payments that have this transaction type.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a currency to search for payments carried out in this currency.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a date type and combine it with a date range. You can choose between <strong>Imported</strong>, <strong>Received</strong> and <strong>Assigned</strong>. Displayed are all payments which were either imported, received or assigned in the chosen date range.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date from and Date to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In connection with <strong>Date type</strong>, choose a date range to search for payments which were either imported, received or assigned, depending on what you selected.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Reset</strong> to reset all selected filters. Then, click on <strong>Search</strong> again, to have all incoming payments displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Search</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Executes the search.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="30">3. Assigning payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are two ways to assign unassigned payments to an order. In the <strong>Orders » Payments</strong> menu you can either assign payments directly in the overview or you open the detail view of a payment and assign it from there.
Assigning in the overview is done by entering the corresponding order ID. This is an easy and fast way to assign when you already know which order a payment is to be assigned to, do not need any further information about the payment and have the order ID ready.
Proceed as follows to assign a payment in the overview.</p>
</div>
<div class="paragraph instruction">
<p>Assigning a payment in the overview with the order ID:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>Search (<span class="icon "><i class="fa fa-filter  "></i></span>) for the payment with the <a href="/en/payments/beta-managing-payments#20">search filters</a>.</p>
</li>
<li>
<p>Enter the order ID of the order to which the payment is to be assigned in the <strong>Order ID</strong> field in the row of the unassigned payment.<br></p>
</li>
<li>
<p>Press <strong>Enter</strong> to save it.<br>
→ The payment is assigned and the overview is updated.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If a fast assignment in the overview is not possible and you need more information about a payment, open the detail view of a payment. To do so, click into the row of the payment in the overview table or directly click on the payment ID. You can also click on the action <strong>Assign</strong> (<span class="icon green"><i class="psicon-payment_assign"></i></span>) in the overview table to open the detail view of a payment.
To assign a payment in the detail view, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Assigning a payment in the detail view:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>Search (<span class="icon "><i class="fa fa-filter  "></i></span>) for the payment with the <a href="/en/payments/beta-managing-payments#20">search filters</a>.</p>
</li>
<li>
<p>Open the payment by clicking either into the row of the unassigned payment you want to assign, on the payment ID or on <strong>Assign</strong> (<span class="icon green"><i class="psicon-payment_assign"></i></span>).<br>
→ You are redirected to the <strong>Assignment</strong> area of the payment.<br>
→ The orders with the highest matching rates are displayed there.</p>
</li>
<li>
<p>Select the correct order and click on <strong>Assign payment</strong> (<span class="icon green"><i class="psicon-payment_assign"></i></span>).<br>
→ The payment is assigned to the selected order. Only the selected assignment is shown.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The matching between payments and orders are checked on the basis of a background matrix. This check is initiated as soon as you open the <strong>Assignment</strong> table in the detail view of a payment. A maximum of 10 orders with the highest matching rates are displayed in descending order.
As soon as you assigned the payment only the selected match will be displayed in this table. Only when the payment is detached from the order, will the matchings with the highest rates be displayed again.</p>
</div>
<div class="paragraph">
<p>Several payments can be assigned to the same order. This can happen, for instance, if the first payment did not cover the whole order amount. If one or several payments are already assigned to an order and you want to assign another one, you have to confirm this assignment.</p>
</div>
<div class="paragraph">
<p>This table is customisable. This means that you can decide which information is displayed in the table columns. To do so, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Customise table:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Configure columns</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ The window <strong>Configure columns</strong> opens.</p>
</li>
<li>
<p>Select which columns are to be displayed.</p>
</li>
<li>
<p>Move (<span class="icon "><i class="psicon-drag_sort_handle"></i></span>) the columns so that they are displayed in the order you need them.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong> to save your settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Detaching payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are two ways to detach a payment from an order. In the <strong>Orders » Payments</strong> menu you can either detach payments directly in the overview or you open the detail view of a payment and detach it from there.
Proceed as follows to detach a payment in the overview.</p>
</div>
<div class="paragraph instruction">
<p>Detaching a payment in the overview:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>Search (<span class="icon "><i class="fa fa-filter  "></i></span>) for the payment with the <a href="/en/payments/beta-managing-payments#20">search filters</a>.</p>
</li>
<li>
<p>Click on <strong>Detach payment</strong> (<span class="icon orange"><i class="fa fa-undo  "></i></span>) in the row of the payment you want to detach from an order.<br>
→ The payment is detached from the order and is displayed again as an unassigned payment.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>A payment can also be detached from the detail view. To do so, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Detaching a payment in the detail view:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>Search (<span class="icon "><i class="fa fa-filter  "></i></span>) for the payment with the <a href="/en/payments/beta-managing-payments#20">search filters</a>.</p>
</li>
<li>
<p>Click in the row of the payment you want to detach and open it.<br>
→ The detail view of the payment opens.</p>
</li>
<li>
<p>Open the <strong>Assignment</strong> table.<br>
→ When the table opens, the existing order assignment is shown.</p>
</li>
<li>
<p>Click on <strong>Detach payment</strong> (<span class="icon orange"><i class="fa fa-undo  "></i></span>).<br>
→ The payment is detached from the order. The highest matching rates for this payment are once again shown.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Detaching payments</div>
<div class="paragraph">
<p>Detaching a payment from an order is technically possible at all times, even when order processing has advanced or is completed. But detaching a payment should only be done cautiously and with good reason since errors, for example that a payment no longer covers an open order amount, are likely to occur when a payment is detached and assigned repeatedly. Further note that detaching a payment also causes changes to the order it was detached from, for example a recalculation of the payment of an order or a status change.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Splitting payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Manually booked incoming payments, imported bank postings as well as EBICS payments can be split. This means that the amount of a payment can be split and assigned to several orders. This is done in the <strong>Orders » Payments</strong> menu. Note that Provisional postings cannot be split. To split payments, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Splitting a payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>Search (<span class="icon "><i class="fa fa-filter  "></i></span>) for the payment with the <a href="/en/payments/beta-managing-payments#20">search filters</a>.</p>
</li>
<li>
<p>Click on <strong>Split payment</strong> (<span class="icon "><i class="psicon-item_variation_distribute_quantity"></i></span>) in the row of the payment you want to split.<br>
→ You are redirected to another view to proceed with splitting the payment.</p>
</li>
<li>
<p>Search (<span class="icon "><i class="fa fa-filter  "></i></span>) for the required orders with the search filters <strong>Order ID</strong>, <strong>External order ID</strong>, <strong>Invoice number</strong>, <strong>Contact ID</strong> and <strong>Name</strong>. You can enter several IDs/numbers by separating them with a comma.</p>
</li>
<li>
<p>Select the orders between which you want to split the payment from the search results.</p>
</li>
<li>
<p>Click on <strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>).<br>
→ The payment is split and assigned to the selected orders in the order in which they are shown in the table, from the top down and you are redirected to the payments overview. Here, the created partial payments can be edited in the same way as the other payments.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>When splitting a payment, the amount of the payment is reduced by the corresponding amounts of the orders that were selected during the division of the payment. Both, the original total amount of the payment as well as the leftover open amount are displayed in this view. When a leftover open amount is created by splitting a payment, this amount could be split again.</p>
</div>
<div class="paragraph">
<p><em>An example</em>: Imagine you want to split a payment with the amount of 120 Euros into order A, which has an open amount of 80 Euros, and into order B, which has an open amount of 20 Euros. By splitting the payment and selecting these two orders, order A is assigned 80 Euros and order B 20 Euros. The payments created by splitting the original payment are automatically assigned to the selected orders. An amount of 20 Euros is left from the original payment. You can now assign this leftover amount to another order or, if required, can split it again.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Splitting a payment cannot be reversed</div>
<div class="paragraph">
<p>Once you split a payment, this cannot be reversed. In order to restore the original payment, delete all partial payments. When a partial payment is deleted, the amount is added again to the original payment. Before deleting a partial payment, it has to be detached from the order because only unassigned payments can be deleted.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Customising the table</strong></div>
<div class="content">
<div class="paragraph">
<p>The table in the splitting payments area is customisable. This means that you can decide which table columns are displayed in which order. The following table columns are selected by default when you go to the payments menu:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order ID</p>
</li>
<li>
<p>External order ID</p>
</li>
<li>
<p>Invoice number</p>
</li>
<li>
<p>Contact ID</p>
</li>
<li>
<p>Name</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Adapt the table according to your requirements and your workflow. When you have adapted the table, these settings are saved. The table remains editable, you can change it any time.</p>
</div>
<div class="paragraph instruction">
<p>Customise table:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Configure columns</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).<br>
→ The window <strong>Configure columns</strong> opens.</p>
</li>
<li>
<p>Select which columns are to be displayed.</p>
</li>
<li>
<p>Move (<span class="icon "><i class="psicon-drag_sort_handle"></i></span>) the columns, so that they are displayed in the order you need them.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong> to save your settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Deleting payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can only delete payments when they are not assigned to an order. Deleting a payment can be carried out either directly in the overview table or in the detail view of an opened payment. Proceed as follows to delete a payment in the overview.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a payment in the overview:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>Click on <strong>Delete payment</strong> (<span class="icon red"><i class="fa fa-minus-circle  "></i></span>) in the row of the payment you want to delete.<br>
→ The confirmation <strong>Confirm deletion of payment</strong> opens.</p>
</li>
<li>
<p>Click on <strong>Delete payment</strong>.<br>
→ The payment is deleted and the overview updated.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Moreover, the function <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-circle  "></i></span>) is also available to you in the detail view of a payment. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a payment in the detail view:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>Click into the row of the payment you want to delete to open it.<br>
→ The detail view of the payment opens.</p>
</li>
<li>
<p>Click on <strong>Delete payment</strong> (<span class="icon red"><i class="fa fa-minus-circle  "></i></span>), above the details of the payment.</p>
</li>
<li>
<p>Click on <strong>Yes</strong> in the enquiry which opens.<br>
→ The payment is deleted and you are redirected to the updated overview.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. Carrying out the group function</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can edit several payments at the same time by using the group function. In order to use the group function, at least one payment has to be selected. Use the search to filter for the required payments. After selecting the payments you can either auto-assign them all at the same time or delete them all at the same time. Remember that only unassigned payments can be deleted.</p>
</div>
<div class="paragraph">
<p>Proceed as follows to either assign or delete payments by using the group function.</p>
</div>
<div class="paragraph instruction">
<p>Editing payments by using the group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>Select the payments you want to auto-assign or delete by placing a check mark next to them.</p>
</li>
<li>
<p>Click either on <strong>Delete payments</strong> (<span class="icon "><i class="psicon-trash"></i></span>) or on <strong>Auto-assign payments</strong> (<span class="icon green"><i class="psicon-payment_assign"></i></span>) above the payments overview table.<br>
→ You have to confirm or deny the deletion or the assignment of the payments.</p>
</li>
<li>
<p>After executing the group function, messages display how many of the selected payments could be auto-assigned or deleted.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>After executing the group functions, massages display how many of the selected payments could be auto-assigned or deleted. Sometimes, not the whole selection can be edited. For example, if one or several of the selected payments are assigned to an order, they cannot be deleted. If you need further information why a payment could not be auto-assigned or deleted, you can refer to the log. For this, fo to the <strong>Data » Log</strong> menu.</p>
</div>
<div class="paragraph">
<p>Note that the auto-assignment depends on the setting <strong>Match for automatic assignment (0.7 - 1.0)</strong> in the <strong>Setup » Orders » Payment » Incoming</strong> menu. The value 0.7 stands for a 70% match and the value 1.0 stands for a 100% match. If two orders are found with the same matching rate while auto-assigning payments, the payment cannot be assigned. This also means that a payment can only be auto-assigned when just one order with the corresponding matching rate was found.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="80">8. Further information in the detail view</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Besides the functions <a href="/en/payment/beta-managing-payments#30">assigning payments</a>, <a href="/en/payment/beta-managing-payments#40">detaching payments</a> and <a href="/en/payment/beta-managing-payments#69">deleting payments</a>, the detail view offers you an overview over all information connected to a payment.
The details in the upper area show important information, for example the amount of the payment, the payment method or who the sender of the payment was.</p>
</div>
<div class="paragraph">
<p>The <strong>Assignment</strong> area offers you a list of the orders with the highest matching rate for an unassigned payment. If a payment is already assigned, only the order which it is assigned to is displayed here.</p>
</div>
<div class="paragraph">
<p>The <strong>History</strong> offers you an overview over all actions executed for this payment. It is also shown who initiated an action at what time so that transparency is ensured.</p>
</div>
<div class="paragraph">
<p>The <strong>Properties</strong> in the lower area show all information regarding the payment. These information usually exceed the information given in the details. Which information are shown in the Properties depends on the payment itself, for example which payment method was used or which information a payment provider transfers.</p>
</div>
</div>
</div>
</main>