<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#basic-settings"><span>1.</span><span> Carrying out basic settings for incoming payments</span></a></li>
<li><a href="#10"><span>2.</span><span> New payments in the system</span></a>
<ul class="sectlevel2">
<li><a href="#bank-postings-import"><span>2.1.</span><span> Importing bank postings</span></a></li>
<li><a href="#20"><span>2.2.</span><span> Searching for payments</span></a></li>
</ul>
</li>
<li><a href="#payments-myview"><span>3.</span><span> Using MyView</span></a>
<ul class="sectlevel2">
<li><a href="#create-new-view"><span>3.1.</span><span> Creating a new view</span></a></li>
<li><a href="#create-grid"><span>3.2.</span><span> Creating a grid</span></a></li>
<li><a href="#place-elements"><span>3.3.</span><span> Placing elements</span></a></li>
<li><a href="#finalise-editing"><span>3.4.</span><span> Finalising your work</span></a>
<ul class="sectlevel3">
<li><a href="#editing-functions"><span>3.4.1.</span><span> Functions in the editing mode</span></a></li>
<li><a href="#900"><span>3.4.2.</span><span> Granting rights</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#30"><span>4.</span><span> Assigning payments</span></a>
<ul class="sectlevel2">
<li><a href="#15"><span>4.1.</span><span> Booking a payment manually in an order</span></a></li>
</ul>
</li>
<li><a href="#40"><span>5.</span><span> Detaching payments</span></a></li>
<li><a href="#50"><span>6.</span><span> Splitting payments</span></a></li>
<li><a href="#60"><span>7.</span><span> Deleting payments</span></a></li>
<li><a href="#70"><span>8.</span><span> Carrying out the group function</span></a></li>
<li><a href="#80"><span>9.</span><span> Payment detail view</span></a>
<ul class="sectlevel2">
<li><a href="#details"><span>9.1.</span><span> Details</span></a></li>
<li><a href="#info-boxes"><span>9.2.</span><span> Info boxes</span></a></li>
<li><a href="#assignment"><span>9.3.</span><span> Assignment</span></a></li>
<li><a href="#payment-history"><span>9.4.</span><span> Payment history</span></a></li>
<li><a href="#properties"><span>9.5.</span><span> Properties</span></a></li>
</ul>
</li>
<li><a href="#100"><span>10.</span><span> Displaying incoming payments on the dashboard</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Managing payments</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page of the manual describes and explains how to manage payments. You receive payments in your system from different sources. Independent of the payment source, you can manage all incoming payments in the <strong>Orders » Payments</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="basic-settings">1. Carrying out basic settings for incoming payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, carry out basic settings for automatically assigning payments to orders and for giving goodwill on payments. Default settings are already saved in the system. These default values are generally recommended. To change these settings, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Changing the basic settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Incoming</strong>.</p>
</li>
<li>
<p>Carry out the settings according to the information given in <a href="#table-manually-booking-payments">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-basic-settings-incoming-payment" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Carrying out basic settings for incoming payments</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Match for automatic assignment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a value between <strong>0.7</strong> (no exact match required for assignment) and <strong>1.0</strong> (exact match required). If this value is set to a higher value, automatic matching of payments may not work properly in your plentymarkets system. This is why the value <strong>0.75</strong> is set as default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Goodwill on payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To avoid incorrect postings due to internal decimal places (starting from the third decimal place), you should enter a <strong>minimal value</strong> of <strong>0.01</strong> (default setting). If you select the value <strong>0.05</strong>, for example, payment that are up to 5 cents short of the original amount are booked as complete payments.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-import-customer-bank-data">Import customer bank data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether or not the customer’s <strong>bank data</strong> should be <strong>imported</strong> and saved in the respective <strong>contact data</strong> of the customer.<br>
<strong><em>Important</em></strong>: Because bank data can only be imported and saved after customers have agreed to the process, <strong>No</strong> is selected here by default. Familiarise yourself with the current legislation concerning this topic, if necessary also of different delivery countries.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Only assign incoming PayPal payment to corresponding eBay listing if attached to the payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Note</em></strong>: This functionality only applies to the old PayPal interface for Callisto online shops in plentymarkets, <strong>not</strong> for the PayPal plugin!<br>
If you use eBay listings in combination with the payment method PayPal, we recommend to set this option to <strong>Yes</strong>. This way, it is ensured that incoming payments effected via PayPal are correctly assigned to the corresponding eBay order. If an eBay listing ID is attached to a PayPal payment and the option is activated, the payment is only assigned to the order with a corresponding eBay listing ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ignore WooCommerce transactions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Note</em></strong>: This functionality only applies to the old PayPal interface for Callisto online shops in plentymarkets, <strong>not</strong> for the PayPal plugin!<br>
Select the option <strong>Yes</strong> to deactivate the automatic import of payments belonging to orders imported from WooCommerce with the payment method PayPal.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Exclude orders with the following payment methods from automatic assignment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select those payment methods for which no payments are incoming. They are then ignored for payment assignment.<br>
Use the keyboard to select multiple payment methods.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Exclude orders with the following referrers form automatic assignment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select those referrers for which no payments are incoming. They are then ignored for payment assignment.<br>
Use the keyboard to select multiple payment methods.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="10">2. New payments in the system</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Payments can either come into your system automatically or they can be booked manually. After payments are booked in plentymarkets, they are automatically assigned to orders with a fuzzy search. If the payment cannot be assigned to the order automatically, then you can still manually assign the payment to an order. Edit and manage payments in the <strong>Orders » Payments</strong> menu. Unassigned orders can be identified by the credit card symbol(<span class="icon "><i class="material-credit_card"></i></span>). You can <a href="/en/payment/beta-managing-payments#30">assign payments</a> either directly on the payments overview or in the detail view of a payment.<br>
In this overview, payments are displayed in your <a href="/en/payment/currencies#30">system currency</a>. If the payment is in a different currency, this amount is displayed in brackets next to the system currency.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Setting up event procedures for incoming payments</div>
<div class="paragraph">
<p>Payment receipt is an important event when it comes to processing orders because items are not typically shipped until the payment was received. In most cases, the order status in plentymarkets changes from <strong>status [3] - waiting for payment</strong> to <strong>status [5] - cleared for shipping</strong> as soon as the payment was received. Create <a href="/en/automation/event-procedures">event procedures</a> to automatically process orders and ship the items once payment is received.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="bank-postings-import">2.1. Importing bank postings</h3>
<div class="paragraph">
<p>The payment method cash in advance and other transfers take the form of bank postings. With these payment methods, the payments that were booked into your bank account have to be reported to the system and then they need to be assigned to the orders. Use the import type <a href="#data/importing-data/sync-types/elasticSync-bank-postings">Bank postings</a> to import your bank postings into your plentymarkets system. After the import, the bank postings are treated as other payments and are automatically assigned to orders. Accordingly, editing and managing of these payments is also done in the <strong>Orders » Payments</strong> menu.</p>
</div>
</div>
<div class="sect2">
<h3 id="20">2.2. Searching for payments</h3>
<div class="paragraph">
<p>You can search for payments in the <strong>Orders » Payments</strong> menu. This table is customisable. This means that you can decide which information is displayed in the table columns. To do so, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Customising the table:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Configure columns</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ The window <strong>Configure columns</strong> opens.</p>
</li>
<li>
<p>Select which columns are to be displayed.</p>
</li>
<li>
<p>Move (<span class="icon "><i class="material-sort"></i></span>) the columns so they are displayed in the order you need them in.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong> to save your settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can select and combine different filters for the search, for example to search for unassigned payments of the last week.</p>
</div>
<div class="paragraph">
<p>There are several ways of using the search. You can enter a value in the search field and then select the required filter. For example, if you enter a number, available filters for this like IDs or variation numbers are suggested. Enter the value in full and then select the required filter from the suggestions. Repeat this to combine filters. Click on <span class="icon "><i class="material-search"></i></span> to carry out the search.<br>
If you first want to select a filter from the available ones, click on the filter list and enter a value in the required filter. Click on <strong>Search</strong> once you have set all needed filters.<br>
Remove the chip if you want to delete a set filter. Available filters are explained in <a href="#table-searching-payments">Table 2</a>.</p>
</div>
<div class="paragraph">
<p>Additionally, you can save selected filters in the UI by using the <strong>Saved filters</strong> (<span class="icon "><i class="material-bookmarks"></i></span>) component. The saved filters can then be selected from this component every time you open or work with this menu, similar to bookmarks. Every user can save own filter sets.</p>
</div>
<div class="paragraph instruction">
<p>Saving filters:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Set the filters with the required values.</p>
</li>
<li>
<p>Carry out the search.</p>
</li>
<li>
<p>Click on <strong>Saved filters</strong> (<span class="icon "><i class="material-bookmarks"></i></span>).</p>
</li>
<li>
<p>Click on <strong>Save current filter</strong>.<br>
→ The window <strong>Save filter</strong> opens.</p>
</li>
<li>
<p>Enter a <strong>Filter name</strong>.</p>
</li>
<li>
<p>Decide if this filter set should be available to all users.</p>
</li>
<li>
<p>Click on <strong>Save</strong>.</p>
</li>
</ol>
</div>
<table id="table-searching-payments" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Searching for payments</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Search for orders to which a payment has been assigned by entering the order IDs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaction ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The transaction ID is assigned by the payment provider so that the payment can be correctly allocated to this provider. Enter a transaction ID to search for a payment with this specific transaction ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaction code</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The transaction code describes the transaction itself. Enter a transaction code to search for a payment with this specific code.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reference ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A reference ID links payments, e.g. a payment and a refund. Enter a reference ID to search for payments with this specific transaction ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the payment ID to search for the exact payment with this ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a specific payment method to search for payments that were paid with this payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reason for payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the reason for payment, either entirely or partly, to search for payments with this designated use.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sender of payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the person who sent the money to search for all payments of this person.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Debit/Credit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose between <strong>Credit</strong> and <strong>Debit</strong>.<br>
<strong>Credit</strong> = All incoming payments with a positive value are displayed.<br>
<strong>Credit</strong> = All incoming payments with a negative value are displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operator</strong> and <strong>Amount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an <strong>Operator</strong> and enter an <strong>Amount</strong>.<br>
<strong><em>Example</em></strong>: Select <strong>Greater than or equal to</strong> and enter 300 as the <strong>Amount</strong> in order to have all payments with an amount of 300 and more displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Assignment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can choose between <strong>Assigned</strong> and <strong>Unassigned</strong>.<br>
<strong>Assigned</strong> = Shows you only payments which were already assigned to an order.<br>
<strong>Unassigned</strong> = Shows you only payments which were not assigned to an order yet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status to search for payments with this specific status.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaction type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a transaction type to search for payments that have this transaction type.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a currency to search for payments with this currency.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a date type and combine it with a date range. You can choose between <strong>Imported</strong>, <strong>Received</strong> and <strong>Assigned</strong>. Displayed are all payments which were either imported, received or assigned in the chosen date range.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>from</strong> and <strong>to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In connection with <strong>Date type</strong>, choose a date range to search for payments which were either imported, received or assigned, depending on what you selected.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Reset</strong> to reset all selected filters. Then, click on <strong>Search</strong> again, to have all incoming payments displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Search</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Executes the search.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="payments-myview">3. Using MyView</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The user interface of the detail view of payments as well as the split view of a payment are available as MyView components. This means that users can create their own views with the available elements. This way, everyone can individually determine which information are needed where. Because of this customisation, working with payments is not only more comfortable but also faster. This chapter explains how to work with MyView and how to create your own views. Managing payments, such as e.g. <a href="/en/payment/beta-managing-payments#30">assigning</a>, <a href="/en/payment/beta-managing-payments#40">detaching</a> or <a href="/en/payment/beta-managing-payments#50">splitting</a> payments is explained in the following chapters.</p>
</div>
<div class="paragraph">
<p>You can access the detail view of a payment from the payment overview table in the <strong>Orders » Payments</strong> menu. Click on the row of the payment you want to work with and the detail view of this payment opens.<br>
The split view of a payment is accessed by clicking on <strong>Split payment</strong> (<span class="icon "><i class="material-call_split"></i></span>) in the row of the payment you want to split.<br>
If you haven’t yet created an own view in these areas, the <strong>Default view</strong> is displayed. You can use this default view when you are working with payments or you can create your own view. The views you create are saved and can then be selected together with the default view from the list of views (<span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span>). Thus, you can switch between different views, if needed. The view selected last is always applied when opening a payment.</p>
</div>
<div class="sect2">
<h3 id="create-new-view">3.1. Creating a new view</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the list of views (<span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span>).</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Create new preset …​</strong>.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Click on <strong>Create view</strong>.<br>
→ The new view is created and opens automatically, i.e. it is applied.
It’s now possible to switch between different views.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="create-grid">3.2. Creating a grid</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Edit view</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>).</p>
</li>
<li>
<p>Add rows and columns to create a grid.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Click on <span class="icon blue"><i class="fa fa-ellipsis-v  "></i></span> and then on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Add row</strong>.</p>
</li>
<li>
<p>Click on <strong>Add column</strong> (<span class="icon darkGrey"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Drag the columns to make them larger or smaller.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="place-elements">3.3. Placing elements</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Add elements via drag &amp; drop.</p>
</li>
<li>
<p>Click on <span class="icon blue"><i class="fa fa-pencil  "></i></span> and edit the element’s settings.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Change the name.</p>
</li>
<li>
<p>Decide which data fields the element should contain.</p>
</li>
<li>
<p>Use drag &amp; drop to arrange the data fields in a specific order.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Click on <span class="icon blue"><i class="fa fa-close  "></i></span></p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-pencil  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Leads down one level.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-trash  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Deletes the element.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-close  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Leads up one level.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Can I add elements multiple times?</div>
<div class="paragraph">
<p>The number in the grey circle indicates how many times you can use the element. Most elements can only be added once.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="finalise-editing">3.4. Finalising your work</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Save the view (<span class="icon "><i class="psicon-save"></i></span>) and close the editing mode (<span class="icon darkGrey"><i class="fa fa-close  "></i></span>).</p>
</li>
<li>
<p>Check the result in the main window.</p>
</li>
<li>
<p>If necessary:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Click on <strong>Edit view</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) again and edit the view even further.</p>
</li>
<li>
<p>Allow other users to see the view.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
<div class="sect3">
<h4 id="editing-functions">3.4.1. Functions in the editing mode</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-reply  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Undoes the last change, unless this change has already been saved.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-share  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Restores the previously undone change.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A list of views.
You see the name of whichever view is currently open.
Click on <span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span> to switch to a different view or create a <a href="/en/payment/beta-zahlungen-verwalten#create-new-view">new view</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-items_incoming_history"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets the view to the state that was last saved.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="psicon-save"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Saves the changes made to the view.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-close"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Closes the editing mode.
In case of unsaved changes, a dialogue is displayed.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="900">3.4.2. Granting rights</h4>
<div class="paragraph">
<p>Which users or roles should be allowed to see the view?
You can grant or limit access to every single view.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Users</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="roles-tab" data-toggle="tab" href="#roles" role="tab" aria-controls="roles" aria-selected="false">Roles</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Edit view</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>).</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-open_external_link"></i></span> <strong>Rights management</strong>.</p>
</li>
<li>
<p>Select <strong>User</strong> if you want to grant access to a specific user account.<br>
→ The menu <strong>Setup » Settings » User » Rights » User</strong> opens in a new tab.</p>
</li>
<li>
<p>Search for (<span class="icon blue"><i class="fa fa-search  "></i></span>) and open the appropriate user account.</p>
</li>
<li>
<p>Click on <strong>Views</strong>.</p>
</li>
<li>
<p>Expand the entries (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>) and select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the views that the user should have access to.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="/en/business-decisions/user-accounts-access#112">Further information</a> about user accounts and access rights.</p>
</div>
</div><div class="tab-pane fade" id="roles" role="tabpanel" aria-labelledby="roles-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Edit view</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>).</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-open_external_link"></i></span> <strong>Rights management</strong>.</p>
</li>
<li>
<p>Select <strong>Roles</strong> if you want to grant access to an entire user role.<br>
→ The menu <strong>Setup » Settings » User » Rights » Roles</strong> opens in a new tab.</p>
</li>
<li>
<p>Search for (<span class="icon blue"><i class="fa fa-search  "></i></span>) and open the appropriate user role.</p>
</li>
<li>
<p>Click on <strong>Views</strong>.</p>
</li>
<li>
<p>Expand the entries (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>) and select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the views that the user role should have access to.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="/en/business-decisions/user-accounts-access#116">Further information</a> about user accounts and access rights.</p>
</div>
</div></div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="30">4. Assigning payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are two ways to assign unassigned payments to an order. In the <strong>Orders » Payments</strong> menu you can either assign payments directly in the overview or you open the detail view of a payment and assign it from there.
Assigning in the overview is done by entering the corresponding order ID. This is an easy and fast way to assign when you already know which order a payment is to be assigned to, do not need any further information about the payment and have the order ID ready.
Proceed as follows to assign a payment in the overview.</p>
</div>
<div class="paragraph instruction">
<p>Assigning a payment in the overview with the order ID:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p><a href="/en/payment/beta-managing-payments#20">Search</a> (<span class="icon "><i class="material-search"></i></span>) for the payment.</p>
</li>
<li>
<p>Enter the order ID of the order to which the payment is to be assigned in the <strong>Order ID</strong> field in the row of the unassigned payment.</p>
</li>
<li>
<p>Press <strong>Enter</strong> to save it.<br>
→ The payment is assigned and the overview is updated.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If a fast assignment in the overview is not possible and you need more information about a payment, open the detail view of a payment. To do so, click into the row of the payment in the overview table or directly click on the payment ID. You can also click on the action <strong>Assign payment</strong> (<span class="icon "><i class="material-credit_card"></i></span>) in the overview table to open the detail view of a payment.
To assign a payment in the detail view, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Assigning a payment in the detail view:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p><a href="/en/payment/beta-managing-payments#20">Search</a> (<span class="icon "><i class="material-search"></i></span>) for the payment.</p>
</li>
<li>
<p>Open the payment by clicking either into the row of the unassigned payment you want to assign, on the payment ID or on <strong>Assign payment</strong> (<span class="icon "><i class="material-credit_card"></i></span>).<br>
→ You are redirected to the <strong>Assignment</strong> portlet of the payment.<br>
→ The orders with the highest matching rates are displayed there.</p>
</li>
<li>
<p>Select the correct order and click on <strong>Assign payment</strong> (<span class="icon "><i class="material-credit_card"></i></span>).<br>
→ The payment is assigned to the selected order. Only the selected assignment is shown.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The matching between payments and orders are checked on the basis of a background matrix. This check is initiated as soon as you open the <strong>Assignment</strong> table in the detail view of a payment. A maximum of 10 orders with the highest matching rates are displayed in descending order.
As soon as you assigned the payment only the selected match will be displayed in this table. Only when the payment is <a href="/en/payment/beta-managing-payments#40">detached</a> from the order, will the matchings with the highest rates be displayed again.</p>
</div>
<div class="paragraph">
<p>Several payments can be assigned to the same order. This can happen, for instance, if the first payment did not cover the whole order amount. If one or several payments are already assigned to an order and you want to assign another one, you have to confirm this assignment.</p>
</div>
<div class="paragraph">
<p>This table is customisable. This means that you can decide which information is displayed in the table columns. To do so, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Customising the table:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Configure columns</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ The window <strong>Configure columns</strong> opens.</p>
</li>
<li>
<p>Select which columns are to be displayed.</p>
</li>
<li>
<p>Move (<span class="icon "><i class="material-sort"></i></span>) the columns so they are displayed in the order you need them in.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong> to save your settings.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="15">4.1. Booking a payment manually in an order</h3>
<div class="paragraph">
<p>In order to manually book a payment or partial payment in the order, e.g. because the customer picked up the item and paid the item in cash or because a payment cannot be found in the overview, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Booking a payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the order for which you want to book a payment.<br>
→ The <strong>Overview</strong> tab opens.</p>
</li>
<li>
<p>Open the <strong>Payment</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Book payment</strong>.<br>
→ The <strong>Book payment</strong> window opens.</p>
</li>
<li>
<p>Carry out the settings according to the information given in <a href="#table-manually-booking-payments">Table 3</a>.</p>
</li>
<li>
<p>Click on <strong>Book payment</strong>.<br>
→ The payment is booked and displayed in the payment overview.</p>
</li>
</ol>
</div>
<table id="table-manually-booking-payments" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Booking payments manually</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the full or partial amount that you want to book.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Credit/Debit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Credit</strong> or <strong>Debit</strong>. The selection depends on the open amount. <strong>Credit</strong> is selected by default. <strong>Debit</strong> is selected for negative pending amounts, e.g. overpaid payments. This selection can be changed if needed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the currency in which the payment should be made.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Exchange rate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If needed, enter a different exchange rate than what is currently configured in the system.<br>
<strong><em>Important</em></strong>: In some cases, you may want to book a payment in a different currency than is currently selected for the payment (default currency), e.g. in US dollars. In this case, select the option <strong>USD</strong> under <strong>Currency</strong> and enter the amount received under <strong>Amount</strong>.<br>
If you calculated the <a href="/en/payment/currencies#20">exchange rate</a> in the <strong>Setup » Orders » Payment » Currencies</strong> menu and you want to use this exchange rate, then you do not have to enter anything under <strong>Exchange rate</strong>, because the exchange rate is automatically used. You will need to make an entry under <strong>Exchange rate</strong> if you want to use a different exchange rate for this payment, e.g. the exchange rate at the exact moment when the payment is received. In this case, enter the exchange rate that is applicable at this moment.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Designated use</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The order ID is entered by default. The entry can be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a date for the incoming payment. The current date is set by default.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can recognise manually booked payments by the <strong>Manual booking</strong> icon.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="40">5. Detaching payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are two ways to detach a payment from an order. In the <strong>Orders » Payments</strong> menu you can either detach payments directly in the overview or you open the detail view of a payment and detach it from there.
Proceed as follows to detach a payment in the overview.</p>
</div>
<div class="paragraph instruction">
<p>Detaching a payment in the overview:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p><a href="/en/payment/beta-managing-payments#20">Search</a> (<span class="icon "><i class="material-search"></i></span>) for the payment.</p>
</li>
<li>
<p>Click on <strong>Detach payment</strong> (<span class="icon "><i class="material-money_off"></i></span>) in the row of the payment you want to detach from an order.<br>
→ The payment is detached from the order and is displayed again as an unassigned payment.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>A payment can also be detached from the detail view. To do so, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Detaching a payment in the detail view:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p><a href="/en/payment/beta-managing-payments#20">Search</a> (<span class="icon "><i class="material-search"></i></span>) for the payment.</p>
</li>
<li>
<p>Click in the row of the payment you want to detach and open it.<br>
→ The detail view of the payment opens.</p>
</li>
<li>
<p>Open the <strong>Assignment</strong> table.<br>
→ When the table opens, the existing order assignment is shown.</p>
</li>
<li>
<p>Click on <strong>Detach payment</strong> (<span class="icon "><i class="material-money_off"></i></span>).<br>
→ The payment is detached from the order. The highest matching rates for this payment are once again shown.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Note when detaching payments</div>
<div class="paragraph">
<p>Detaching a payment from an order is technically possible at all times, even when order processing has advanced or is completed. But detaching a payment should only be done cautiously and with good reason because errors, for example that a payment no longer covers an open order amount, are likely to occur when a payment is detached and assigned repeatedly. Further note that detaching a payment also causes changes to the order it was detached from, for example a recalculation of the payment of an order or a status change.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="50">6. Splitting payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Manually booked incoming payments, imported bank postings as well as EBICS payments can be split. This means that the amount of a payment can be split and assigned to several orders. This is done in the <strong>Orders » Payments</strong> menu. Note that Provisional postings cannot be split. To split payments, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Splitting a payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p><a href="/en/payment/beta-managing-payments#20">Search</a> (<span class="icon "><i class="material-search"></i></span>) for the payment.</p>
</li>
<li>
<p>Click on <strong>Split payment</strong> (<span class="icon "><i class="material-call_split"></i></span>) in the row of the payment you want to split.<br>
→ You are redirected to another view to proceed with splitting the payment.</p>
</li>
<li>
<p>Search (<span class="icon "><i class="material-search"></i></span>) for the required orders with the search filters <strong>Order ID</strong>, <strong>Invoice number</strong>, <strong>External order ID</strong>, <strong>Contact ID</strong> and <strong>Name</strong>. You can enter several IDs/numbers by separating them with a comma.</p>
</li>
<li>
<p>Select the orders between which you want to split the payment from the search results.</p>
</li>
<li>
<p>Click on <strong>Save</strong> (<span class="icon "><i class="material-save"></i></span>).<br>
→ The payment is split and assigned to the selected orders in the order in which they are shown in the table, from the top down and you are redirected to the payments overview. Here, the created partial payments can be edited in the same way as the other payments.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>When splitting a payment, the amount of the payment is reduced by the corresponding amounts of the orders that were selected during the division of the payment. Both, the original total amount of the payment as well as the leftover open amount are displayed in this view. When a leftover open amount is created by splitting a payment, this amount could be split again.</p>
</div>
<div class="paragraph">
<p><em>An example</em>: Imagine you want to split a payment with the amount of 120 Euros into order A, which has an open amount of 80 Euros, and into order B, which has an open amount of 20 Euros. By splitting the payment and selecting these two orders, order A is assigned 80 Euros and order B 20 Euros. The payments created by splitting the original payment are automatically assigned to the selected orders. An amount of 20 Euros is left from the original payment. You can now assign this leftover amount to another order or, if required, can split it again.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Splitting a payment cannot be reversed</div>
<div class="paragraph">
<p>Once you split a payment, this cannot be reversed. In order to restore the original payment, delete all partial payments. When a partial payment is deleted, the amount is added again to the original payment. Before deleting a partial payment, it has to be detached from the order because only unassigned payments can be deleted.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In the split view of a payment, the following info boxes provide you with a quick overview of the most important information:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Amount</p>
</li>
<li>
<p>Received on</p>
</li>
<li>
<p>Sender of payment</p>
</li>
<li>
<p>Reason for payment</p>
</li>
<li>
<p>Remaining amount</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Optionally, you can go to <strong>Edit view</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) and remove or rearrange info boxes by positioning them via drag &amp; drop. Morevover, determine in the <strong>Settings</strong> of the portlet how many cards (info boxes) are displayed per row.</p>
</div>
<div class="paragraph">
<p>The search table is customisable. By default, all available columns are displayed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Order ID</p>
</li>
<li>
<p>Contact ID</p>
</li>
<li>
<p>Name</p>
</li>
<li>
<p>Invoice number</p>
</li>
<li>
<p>Referrer</p>
</li>
<li>
<p>Order date</p>
</li>
<li>
<p>Open amount</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>By using <strong>Configure columns</strong> (<span class="icon "><i class="material-settings"></i></span>) you can determine which columns are displayed in which order.<br>
Optionally, you can go to <strong>Edit view</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) and determine in the <strong>Settings</strong> of the <strong>Search</strong> portlet whether by default it should be collapsed or not when opening the split view of a payment. To do so, use the <strong>Portlet collapsed</strong> function.<br>
If you want to change the name of the portlet, enter the name in the input field <strong>Title</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">7. Deleting payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can only delete payments when they are not assigned to an order. Deleting a payment can be carried out either directly in the overview table or in the detail view of an opened payment. Proceed as follows to delete a payment in the overview.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a payment in the overview:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>Click on <strong>Delete payment</strong> (<span class="icon "><i class="material-delete"></i></span>) in the row of the payment you want to delete.<br>
→ The query <strong>Deletion payment</strong> opens.</p>
</li>
<li>
<p>Click on <strong>Yes</strong>.<br>
→ The payment is deleted and the overview updated.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Moreover, the function <strong>Delete</strong> is also available to you in the detail view of a payment. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a payment in the detail view:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>Click into the row of the payment you want to delete to open it.<br>
→ The detail view of the payment opens.</p>
</li>
<li>
<p>Click on <strong>Delete payment</strong> (<span class="icon "><i class="material-delete"></i></span>), above the details of the payment.<br>
→ The query <strong>Deletion payment</strong> opens.</p>
</li>
<li>
<p>Click on <strong>Yes</strong>.<br>
→ The payment is deleted and you are redirected to the updated overview.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">8. Carrying out the group function</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Using the group function, you can edit several payments at the same time. To use the group function, at least one payment has to be selected. Use the search to filter for the required payments. After selecting the payments you can either auto-assign them all at the same time or delete them all at the same time. Remember that only unassigned payments can be deleted.</p>
</div>
<div class="paragraph">
<p>Proceed as follows to either assign or delete payments by using the group function.</p>
</div>
<div class="paragraph instruction">
<p>Editing payments by using the group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>Select the payments (<span class="icon "><i class="material-check_box"></i></span>) you want to auto-assign or delete.</p>
</li>
<li>
<p>Click either on <strong>Delete payments</strong> (<span class="icon "><i class="material-delete"></i></span>) or on <strong>Auto-assign payments</strong> (<span class="icon "><i class="material-credit_card"></i></span>) above the payments overview table.<br>
→ You have to confirm or deny the deletion or the assignment of the payments.</p>
</li>
<li>
<p>After executing the group function, messages display how many of the selected payments could be auto-assigned or deleted.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Sometimes, not the whole selection can be edited. For example, if one or several of the selected payments are assigned to an order, they cannot be deleted. If you need further information why a payment could not be auto-assigned or deleted, you can refer to the log. For this, fo to the <strong>Data » Log</strong> menu.</p>
</div>
<div class="paragraph">
<p>Note that the auto-assignment depends on the setting <strong>Match for automatic assignment (0.7 - 1.0)</strong> in the <strong>Setup » Orders » Payment » Incoming</strong> menu. The value 0.7 stands for a 70% match and the value 1.0 stands for a 100% match. If two orders are found with the same matching rate while auto-assigning payments, the payment cannot be assigned. This also means that a payment can only be auto-assigned when just one order with the corresponding matching rate was found.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="80">9. Payment detail view</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Besides the functionalities <a href="/en/payment/beta-managing-payments#30">assigning payments</a>, <a href="/en/payment/beta-managing-payments#40">detaching payments</a> and <a href="/en/payment/beta-managing-payments#60">deleting payments</a>, the detail view offers you an overview over all information connected to a payment in different portlets. By using the <a href="/en/payment/beta-managing-payments#payments-myview">MyView</a>, you can configure and arrange the elements of the detail view according to your needs.</p>
</div>
<div class="sect2">
<h3 id="details">9.1. Details</h3>
<div class="paragraph">
<p>In the default view, the following basic information are displayed in the <strong>Details</strong> portlet:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Payment method</p>
</li>
<li>
<p>Received on</p>
</li>
<li>
<p>Transaction ID</p>
</li>
<li>
<p>Reason for payment</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Optionally, you can go to <strong>Edit view</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) and additionally add the element <strong>Sender of payment</strong> or remove other elements. Rearrange the elements of the portlet by positioning them via drag &amp; drop.<br>
Moreover, determine in the <strong>Settings</strong> of the portlet whether by default it should be collapsed or not when opening the detail view of a payment. To do so, use the <strong>Portlet collapsed</strong> function.<br>
If you want to change the name of the portlet, enter the name in the input field <strong>Title</strong>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/payment/assets/portlet-details-edit.png" alt="portlet details edit">
</div>
<div class="title">Figure 1. Editing details portlet</div>
</div>
</div>
<div class="sect2">
<h3 id="info-boxes">9.2. Info boxes</h3>
<div class="paragraph">
<p>Info boxes provide a quick overview of the most important payment information. In the default view, the info boxes <strong>Amount in foreign currency</strong> (the currency in which the payment was made), <strong>Status</strong> and <strong>Payment method</strong> are displayed.<br>
The payment status us additionally shown by the coloured status bar of the info box <strong>Status</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Green = The payment was processed, it either means approved, captured or refunded.</p>
</li>
<li>
<p>Orange = The payment is being processed, it either means waiting for approval, partially captured or awaiting renewal.</p>
</li>
<li>
<p>Red = The payment was not processed, it either means refused, cancelled or expired.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Optionally, you can go to <strong>Edit view</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) and remove elements or additionally add the following info boxes as elements to this portlet:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Received on</p>
</li>
<li>
<p>Exchange rate</p>
</li>
<li>
<p>Assignment date</p>
</li>
<li>
<p>Transaction ID</p>
</li>
<li>
<p>Reason for payment</p>
</li>
<li>
<p>Sender of payment</p>
</li>
<li>
<p>Amount in system currency</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Rearrange the elements of the portlet by positioning them via drag &amp; drop. Morevover, determine in the <strong>Settings</strong> of the portlet how many cards (info boxes) are displayed per row.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/payment/assets/portlet-info-boxes-edit.png" alt="portlet info boxes edit">
</div>
<div class="title">Figure 2. Editing info boxes</div>
</div>
</div>
<div class="sect2">
<h3 id="assignment">9.3. Assignment</h3>
<div class="paragraph">
<p>The <strong>Assignment</strong> portlet offers you a list of the orders with the highest matching rate for an unassigned payment. If a payment is already assigned, only the order which it is assigned to is displayed here. Only when the payment is <a href="/en/payment/beta-managing-payments#40">detached</a> from the order, will the matchings with the highest rates be displayed again.<br>
The matching between payments and orders are checked on the basis of a background matrix. This check is initiated as soon as you open the <strong>Assignment</strong> area. A maximum of 10 orders with the highest matching rates are displayed in descending order.</p>
</div>
<div class="paragraph">
<p>Moreover, you can detach an assigned payment in the assignment table. To do so, click on <strong>Detach payment</strong> (<span class="icon "><i class="material-money_off"></i></span>). But take into account that <a href="/en/payment/beta-managing-payments#40">detaching payments</a> should not be done without good reason.</p>
</div>
<div class="paragraph">
<p>The assignment table is customisable. By default, all available columns are displayed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Matching rate</p>
</li>
<li>
<p>Order ID</p>
</li>
<li>
<p>Amount</p>
</li>
<li>
<p>Contact ID</p>
</li>
<li>
<p>Contact name</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>By using <strong>Configure columns</strong> (<span class="icon "><i class="material-settings"></i></span>) you can determine which columns are displayed in which order.<br>
Optionally, you can go to <strong>Edit view</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) and determine in the <strong>Settings</strong> of the <strong>Assignment</strong> portlet whether by default it should be collapsed or not when opening the detail view of a payment. To do so, use the <strong>Portlet collapsed</strong> function.<br>
If you want to change the name of the portlet, enter the name in the input field <strong>Title</strong>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/payment/assets/portlet-settings.png" alt="portlet settings">
</div>
<div class="title">Figure 3. Portlet settings</div>
</div>
</div>
<div class="sect2">
<h3 id="payment-history">9.4. Payment history</h3>
<div class="paragraph">
<p>The portlet <strong>History</strong> offers you an overview over all actions executed for this payment. It is also shown who initiated an action at what time so that transparency is always ensured.</p>
</div>
<div class="paragraph">
<p>You see at a glance when (date) who (user or other sources, e.g. a plugin) did what (action and value, e.g. Assigned | Order ID xy) with the payment.  The following entries can be seen in the payment history, for example:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Import date of a payment</p>
</li>
<li>
<p>Information about the assignment of a payment to an order</p>
</li>
<li>
<p>Information about the detachment of a payment from an order</p>
</li>
<li>
<p>Currency changes</p>
</li>
<li>
<p>Exchange rates</p>
</li>
<li>
<p>Changes in amounts</p>
</li>
<li>
<p>Status changes</p>
</li>
<li>
<p>Creation/change of properties</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The table is customisable. By default, the columns <strong>Date</strong>, <strong>User / Source</strong>, <strong>Action</strong> and <strong>Value</strong>, which are all the available columns, are displayed.<br>
Note that the entries in the column <strong>Value</strong> are always in English because this data is taken directly from the database. By using <strong>Configure columns</strong> (<span class="icon "><i class="material-settings"></i></span>) you can determine which columns are displayed in which order.</p>
</div>
<div class="paragraph">
<p>Optionally, you can go to <strong>Edit view</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) and determine in the <strong>Settings</strong> of the <strong>History</strong> portlet whether by default it should be collapsed or not when opening the detail view of a payment. To do so, use the <strong>Portlet collapsed</strong> function.<br>
If you want to change the name of the portlet, enter the name in the input field <strong>Title</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="properties">9.5. Properties</h3>
<div class="paragraph">
<p>The portlet <strong>Properties</strong> show all information belonging to the payment. These information usually exceed the information given in the details. Which information are shown in the Properties depends on the payment itself, for example which payment method was used or which information a payment provider transfers.</p>
</div>
<div class="paragraph">
<p>Optionally, you can go to <strong>Edit view</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) and determine in the <strong>Settings</strong> of the <strong>Properties</strong> portlet whether by default it should be collapsed or not when opening the detail view of a payment. To do so, use the <strong>Portlet collapsed</strong> function.<br>
If you want to change the name of the portlet, enter the name in the input field <strong>Title</strong>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">10. Displaying incoming payments on the dashboard</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can add the element <strong>Payments</strong> to the <a href="/en/welcome/customise-system#110">dashboard</a> of your plentymarkets back end. This element displays information about unassigned payments as well as about all incoming payments from yesterday and today. If you don’t want to use this element on your dashboard, you can get the same results by going to <strong>Orders » payments</strong> and using the search filters.</p>
</div>
<div class="paragraph">
<p>It is recommended that you take a look at the unassigned payments before editing orders. You should see whether incoming <strong>cash in advance</strong> payments are among them, which can usually be assigned to an order without a doubt thanks to the amount and the booking text. This saves your customers long waiting times and it saves you unpleasant complaints.</p>
</div>
<div class="paragraph">
<p>At least once a week, you should edit and sort out the unassigned payments so that you don’t lose track of them in your day-to-day business. For further information about assigning unassigned payments and bookings to orders, refer to <a href="/en/payment/beta-managing-payments#30">Assigning payments</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>Sofortbanking payments will be confirmed via an interface immediately after the payment process. They will then appear again in the system as bank postings. You can delete these bank postings from the list of unassigned payments without concern because the orders in question have already been assigned to the payment.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>