<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Supported currencies</span></a></li>
<li><a href="#20"><span>2.</span><span> Converting currencies</span></a></li>
<li><a href="#30"><span>3.</span><span> Defining the system currency</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Managing currencies</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>If you want to offer your items for sale in different countries, working with various currencies is essential. This page describes the necessary settings you have to carry out in your plentymarkets system for this purpose.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Supported currencies</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Your plentymarkets system currently supports the currencies listed in <a href="#table-supported-currencies">Table 1</a>.</p>
</div>
<table id="table-supported-currencies" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Currencies in plentymarkets</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">ISO</th>
<th class="tableblock halign-left valign-top">Currency</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AED</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">United Arab Emirates dirham</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ARS</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Argentine peso</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AUD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Australia, Australian dollar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BGN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bulgaria, Bulgarian lev</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BHD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bahraini dinar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BRL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Brazil, Brazilian real, plural: Reais</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CAD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Canada, Canadian dollar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CHF</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Switzerland, Swiss franc</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CNY</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">People’s Republic of China, Renminbi</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CZK</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Czech Republic, Czech koruna</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DKK</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Denmark, Danish krone</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EUR</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Euro</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GBP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Great Britain, Pound Sterling</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HKD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hong Kong dollar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HRK</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Croatian kuna</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HUF</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hungary, forint</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IDR</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indonesian rupiah</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>INR</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">India, Indian rupee</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>JPY</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Japan, Japanese yen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>KES</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kenya, Kenyan shilling</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MXN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mexico, Mexican peso</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MYR</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Malaysian ringgit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NOK</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Norway, Norwegian krone</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NZD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">New Zealand dollar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PHP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Philippine peso</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PLN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Poland, zloty</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QAR</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Qatari riyal</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RON</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Romania, Romanian leu</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RUB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Russian Federation, ruble</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEK</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sweden, Swedish krona</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SGD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Singapore dollar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>THB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Thai baht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TRY</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Turkey, Turkish lira</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TWD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">New Taiwan dollar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UAH</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ukrainian hryvnia</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>USD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">USA, US dollar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VND</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vietnamese dong</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>XCD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eastern Caribbean dollar</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ZAR</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">South African rand</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Converting currencies</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <a href="/en/item/settings/prices">Setup » Item » Sales prices</a> and activate the option <strong>Currency: Live conversion</strong> to determine if the currency conversion in the online shop is carried out automatically.<br>
In addition, carry out general currency settings for all incoming orders in the menu <strong>Setup » Orders » Payment » Currencies</strong>. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Converting currencies:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Currencies</strong>.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-settings-currencies">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-settings-currencies" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Currency settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the <a href="/en/payment/currencies#30">System currency</a> from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatically update conversion factors daily</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option specifies whether or not the conversion factors are automatically updated on a daily basis.<br>
<strong>Yes</strong> = The conversion factors will be updated automatically over night. The option <strong>Last automatic update</strong> appears below the option for automatic updates of conversion factors.<br>
<strong>No</strong> = a <strong>reload icon</strong> is displayed for each currency. Use this icon to manually update the current conversion rates any time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Last automatic update</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Displays the time of the last automatic update of the conversion factors. This field is only visible if the option <strong>Automatically update conversion factors daily</strong> is set to <strong>Yes</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Conversion factor for standard currency into AED, ARS, AUD, …​</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The exchange rates are already displayed when opening the menu <strong>Setup » Orders » Payment » Currencies</strong>, but might need to be updated. Click on <strong>Reload</strong> next to the respective currency to manually update the exchange rates. Alternatively, set the option <strong>Automatically update conversion factors daily</strong> to <strong>Yes</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="30">3. Defining the system currency</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you are working with several currencies, you have to select one of those currencies as the standard currency of your plentymarkets system. The standard currency is automatically selected as the default currency whenever no other currency is selected. By default, the standard currency in your system is <strong>EUR</strong> (Euro).<br>
In plentymarkets, orders are always created in the standard currency. In addition, the currency selected by your customers during the order process is always with every single incoming order. If an order was placed in a currency different from the standard currency, the current exchange rate is also saved with the order. Thus, these values are permanently available and can be used to analyse order data or to e.g. send automatic notifications.</p>
</div>
<div class="paragraph instruction">
<p>Defining the system currency:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Currencies</strong>.</p>
</li>
<li>
<p>Select a currency for the option <strong>Standard currency</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">System currency vs. Online shop currency</div>
<div class="paragraph">
<p>This setting is not necessarily identical to the currency displayed in your online shop. You can define a different standard currency for each online shop and each language. Further information on these settings are provided on the manual page <a href="/en/online-store/setting/setting-up-ceres#201">Carrying out currency settings</a>. This page deals directly with setting up your plentyShop.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>