<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_how_do_i_use_the_ebics_plugin"><span>1.</span><span> How do I use the EBICS-Plugin?</span></a></li>
<li><a href="#_how_do_i_open_a_new_account"><span>2.</span><span> How do I open a new account?</span></a></li>
<li><a href="#_i_am_already_using_ebics_why_should_i_switch_to_the_plugin"><span>3.</span><span> I am already using EBICS. Why should I switch to the plugin?</span></a></li>
<li><a href="#_payment_retrievals_are_not_taking_place_what_can_i_do"><span>4.</span><span> Payment retrievals are not taking place. What can I do?</span></a></li>
<li><a href="#_the_bank_provides_the_transaction_file_at_x_oclock_why_does_plentymarkets_retrieve_the_file_only_later"><span>5.</span><span> The bank provides the transaction file at X o’clock. Why does plentymarkets retrieve the file only later?</span></a></li>
<li><a href="#_what_do_the_fields_daily_account_statement_and_interim_transaction_report_mean"><span>6.</span><span> What do the fields daily account statement and interim transaction report mean?</span></a></li>
<li><a href="#_what_is_the_difference_between_camt_and_mt"><span>7.</span><span> What is the difference between CAMT and MT?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>FAQ: EBICS-Plugin</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>You can get all the important information about the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/ebics_5098" target="_blank" rel="noopener">EBICS-Plugin</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> in the plentyMarketplace.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_how_do_i_use_the_ebics_plugin">1. How do I use the EBICS-Plugin?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For the EBICS-Plugin, as well as for all other plugins, plentymarkets is a requirement.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>In order to open an account, you first have to buy the EBICS-Plugin in the plentyMarketplace.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h5 id="_requirements_to_integrate_the_plugin_in_plentymarkets" class="discrete">Requirements to integrate the plugin in plentymarkets (<span class="icon purple"><i class="fa fa-download  "></i></span>):</h5>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#plugins/adding-plugins-system">Add the plugin to the system</a></p>
</li>
<li>
<p><a href="#plugins/installing-added-plugins">Install the plugin</a></p>
</li>
<li>
<p><a href="#plugins/configuring-installed-plugins">Configure the plugin</a></p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_how_do_i_open_a_new_account">2. How do I open a new account?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, a new account is created with the data from the bank’s letter.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>When you select a bank, verify that the URL as well as the host parameter and host name are identical with the one in the bank letter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Keys are generated and the INI- as well as the HIA-Call are performed via the button <strong>initialise account</strong>.
After this, the INI-letter can be issued. This takes place in your browser via a direct pdf-download.
Make sure that pop-ups are not deactivated while doing this.<br>
The INI-letter has to be signed and send to the bank as fast as possible.
The initialisation is discarded after <strong>2 weeks</strong> if the INI-letter has failed to arrive.
The bank activates the account when everything is set up correctly.
Only click on the button <strong>conclude account-initialisation (HPB)</strong> in the account settings after clearance from the bank.
After this, the account is successfully initialised.<br>
In order to have the payments imported, make sure that the business transactions are activated for the payment retrieval in the menu <strong>business transactions</strong>.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The button <strong>initialise account</strong> should only be clicked once.
If you click several times, problems and consequential errors can occur.
You can track the individual steps in the log.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_i_am_already_using_ebics_why_should_i_switch_to_the_plugin">3. I am already using EBICS. Why should I switch to the plugin?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The EBICS-tool for payment retrieval is more stable than in the old EBICS integration.
Moreover, the tool and the plugin are constantly developed further.
The old EBICS interface is no longer supported and thus not failure resistant.
Already existing accounts can be easily migrated to the plugin.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_payment_retrievals_are_not_taking_place_what_can_i_do">4. Payment retrievals are not taking place. What can I do?</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Check, whether the interim transaction report and the daily account statements are using the correct formatting.</p>
<div class="ulist">
<ul>
<li>
<p>Formattings can be adjusted in the account settings.</p>
</li>
<li>
<p>The bank is providing the transaction file in the format CAMT or MT.</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select the active account the the menu <strong>Setup » orders » payments » plugins » EBICS</strong>.</p>
</li>
<li>
<p>Select the menu item <strong>business transactions</strong> in the account settings.</p>
</li>
<li>
<p>Activate the inactive business transactions.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>After the first payment retrieval:</strong> load inactive business transactions.</p>
</li>
<li>
<p>Choose the inactive business transaction via the dropdown <strong>Anzeigen/Show</strong> and activate as wished.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_the_bank_provides_the_transaction_file_at_x_oclock_why_does_plentymarkets_retrieve_the_file_only_later">5. The bank provides the transaction file at X o’clock. Why does plentymarkets retrieve the file only later?</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>The retrieval takes place once a day via a cron. The cron inquires hourly whether there is a transaction file.</p>
</li>
<li>
<p>The payment retrieval mostly takes place in the evening or at night.</p>
<div class="ulist">
<ul>
<li>
<p>This is connected to the provision of the transaction files by the bank.</p>
</li>
<li>
<p>The daily account statement can also be provided several times a day.</p>
</li>
</ul>
</div>
</li>
<li>
<p>The transaction file for the daily account statement and the interim transaction report are provided at different times.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_what_do_the_fields_daily_account_statement_and_interim_transaction_report_mean">6. What do the fields <strong>daily account statement</strong> and <strong>interim transaction report</strong> mean?</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Daily account statement = confirmed booking which is mostly only provided once a day.</p>
</li>
<li>
<p>Interim transaction report = authorised booking which is provided several times a day and reserves the incoming payments.</p>
</li>
<li>
<p>The interim transaction report is overridden by the confirmed booking.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The daily account statement and the interim transaction report should always have the same formatting. Otherwise, errors in the allocation of payments might occur.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_what_is_the_difference_between_camt_and_mt">7. What is the difference between CAMT and MT?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>CAMT and MT are data transaction formats that are used in the transaction files. Only one format is used in the transaction file itself.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. The formats CAMT and MT in comparison</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">CAMT</th>
<th class="tableblock halign-left valign-top">MT</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Definition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Cash Management</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Message Type</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Field IBAN in account settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">IBAN</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Account number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaction files</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Uniform format of SEPA, supersedes the SWIFT-format</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">SWIFT standard format</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>