<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Carrying out basic settings for incoming payments</span></a></li>
<li><a href="#20"><span>2.</span><span> Booking payments</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Importing bank postings</span></a></li>
<li><a href="#40"><span>2.2.</span><span> Manually booking payments</span></a></li>
<li><a href="#50"><span>2.3.</span><span> Non-bookable payments</span></a></li>
<li><a href="#60"><span>2.4.</span><span> Interim transaction report</span></a></li>
</ul>
</li>
<li><a href="#70"><span>3.</span><span> Assigning payments</span></a>
<ul class="sectlevel2">
<li><a href="#80"><span>3.1.</span><span> Manually assigning incoming payments</span></a></li>
<li><a href="#90"><span>3.2.</span><span> Automatically assigning incoming payments with the group function</span></a></li>
<li><a href="#100"><span>3.3.</span><span> Removing the assignment of incoming payments</span></a></li>
</ul>
</li>
<li><a href="#110"><span>4.</span><span> Searching for payments</span></a></li>
<li><a href="#120"><span>5.</span><span> Editing payments</span></a>
<ul class="sectlevel2">
<li><a href="#130"><span>5.1.</span><span> Displaying payment information</span></a></li>
<li><a href="#140"><span>5.2.</span><span> Splitting payments</span></a></li>
<li><a href="#150"><span>5.3.</span><span> Deleting payments</span></a></li>
<li><a href="#160"><span>5.4.</span><span> Editing partial payments</span></a></li>
<li><a href="#170"><span>5.5.</span><span> Editing overpaid payments</span></a></li>
</ul>
</li>
<li><a href="#180"><span>6.</span><span> Displaying incoming payments on the homepage</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Managing payments</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>You receive payments in your system from different sources. Independent of the payment source, you can manage all incoming payments in the <strong>Orders » Payments</strong> menu. In general, a distinction is made between two types of payment possibilities: Payments made with a payment provider and payments made without a payment provider. Payments that are made with a credit card or with Sofortbanking always require a payment provider. Cash payments or cash in advance payments do not require a payment provider. For further information about payment methods and interfaces to payment providers, refer to <a href="/en/payment/managing-payment-methods">Managing payment methods</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Carrying out basic settings for incoming payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this menu, carry out settings that you want to use for automatically assigning payments and for giving goodwill on payments. Default settings are already saved in the system. These default values are generally recommended. To change these settings, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Changing the basic settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Incoming</strong>.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in <a href="#table-settings-incoming-payments">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-settings-incoming-payments" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. carrying out basic settings for incoming payments</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Match for automatic assignment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose between <strong>0.7</strong> (no exact match required for assignment) and <strong>1.0</strong> (exact match required). If you enter a relatively high value, then it may not be possible to assign some payments. Therefore, the value <strong>0.75</strong> is set by <strong>default</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Goodwill on payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can ensure that, e.g. internal decimal amounts (starting with the third decimal place) do not lead to incorrect bookings by entering a <strong>minimum amount</strong> of <strong>0.01</strong> (default setting). If you set <strong>0.05</strong>, then amounts that are incorrect by 5 cents or less will still be treated as correct bookings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Import customer bank data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether or not the customer’s <strong>bank data</strong> should be <strong>imported</strong> and saved in the <strong>customer data</strong> when incoming payments are received.<br>
<strong><em>Important:</em></strong> The customer must agree to having their bank data imported and saved. Therefore, this function is set to <strong>No</strong> by default. Before activating the function, please contact a legal adviser to discuss the legality of doing so. You may need to consider the laws that relate to several different countries of delivery.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Only assign incoming PayPal payment to corresponding eBay listing if attached to the payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you use eBay listings in combination with the payment method PayPal, we recommend to set this option to <strong>Yes</strong>. This way, it is made sure that incoming payments effected via PayPal are correctly assigned to the corresponding eBay order. If an eBay listing ID is attached to a PayPal payment and the option is activated, the payment is only assigned to the order with a corresponding eBay listing ID.<br>
<strong><em>Note:</em></strong> This functionality only applies to the PayPal interface for Callisto online stores in plentymarkets, <strong>not</strong> for the PayPal plugin!</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ignore WooCommerce PayPal transactions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the option <strong>Yes</strong> to deactivate the automatic import of payments belonging to orders imported from WooCommerce with the payment method PayPal.<br>
<strong><em>Note:</em></strong> This functionality only applies to the PayPal interface for Callisto online stores in plentymarkets, <strong>not</strong> for the PayPal plugin!</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Booking payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Payments can either come into your system automatically or they can be booked manually. For example, payments will automatically be imported into your system if you use interfaces to external payment providers. Some payment providers forward the customer to their own page for finalising the payment process. Others have your store receive the payment details and then forward them to the provider in the background. In both cases, plentymarkets receives a confirmation from the provider after a payment has been made successfully and makes a note of the incoming payment directly in the order. You can e.g. manually import bank postings for payments made without a payment provider.</p>
</div>
<div class="sect2">
<h3 id="30">2.1. Importing bank postings</h3>
<div class="paragraph">
<p>The payment method cash in advance and other transfers take the form of bank postings. With these payment methods, the payments that were booked on your account have to be reported to the system and then they need to be assigned to the orders. Import bank postings into your plentymarkets system in CSV format. Note that the order of the parameters depends on your bank program. First, carry out the necessary data format settings:</p>
</div>
<div class="paragraph instruction">
<p>Defining the column order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.<br>
→ The <strong>Payments</strong> will be displayed.</p>
</li>
<li>
<p>Click on the <strong>Bank postings » Tab: Data format settings</strong> tab.</p>
</li>
<li>
<p>Select a <strong>bank account</strong>.</p>
</li>
<li>
<p>Click on <strong>Edit</strong>.<br>
→ The <strong>Field entries</strong> table will be displayed.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in <a href="#table-defining-column-order">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-defining-column-order" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. defining the column order</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bank account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Default account</strong> or <strong>Account 2</strong>. If different configurations are required, set up <strong>Account 2</strong> as an alternative.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Starting in line</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a line starting from which the posting data will be imported. CSV files often start with an header line. In that case, select the value <strong>2</strong> here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Content</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the content and define the order of the columns in the CSV file.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Then, import the posting file.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the import:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.<br>
→ The <strong>Payments</strong> will be displayed.</p>
</li>
<li>
<p>Click on the <strong>Bank postings » Tab: Import</strong> tab.</p>
</li>
<li>
<p>Select the <strong>bank account</strong> from the drop-down list.</p>
</li>
<li>
<p>Select the <strong>field separator</strong>.</p>
</li>
<li>
<p>Click on <strong>Browse…​</strong> under <strong>Posting file</strong>.<br>
→ A new window will open.</p>
</li>
<li>
<p>Select the CSV file.</p>
</li>
<li>
<p>Click on <strong>Import</strong>.<br>
→ The posting file will be imported.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can repeat this process multiple times. In doing so, duplicates, i.e. data records that were imported twice, will be discarded. Following the import, the automatic assignment will be started and incoming payments are assigned to orders.</p>
</div>
</div>
<div class="sect2">
<h3 id="40">2.2. Manually booking payments</h3>
<div class="paragraph">
<p>In order to manually book a payment or partial payment in the order, e.g. because the customer picked up the item and paid the item in cash or because a payment cannot be found in the overview, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Booking a payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the order for which you want to book a payment.<br>
→ The <strong>Overview</strong> tab will open.</p>
</li>
<li>
<p>Open the <strong>Payment</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Book payment</strong>.<br>
→ The <strong>Book payment</strong> window will open.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in <a href="#table-manually-booking-payments">Table 3</a>.</p>
</li>
<li>
<p>Click on <strong>Book payment</strong>.<br>
→ The payment will be booked and will be displayed in the payment overview. The amounts displayed in the header row of the overview will be adjusted.</p>
</li>
</ol>
</div>
<table id="table-manually-booking-payments" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. manually booking payments</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the full or partial amount that you want to book.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Credit/Debit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Credit</strong> or <strong>Debit</strong>. The selection depends on the pending amount. <strong>Credit</strong> is selected by default. <strong>Debit</strong> is selected for negative pending amounts, e.g. overpaid payments. This selection can be changed if needed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the currency in which the payment should be made.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Exchange rate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If needed, enter a different exchange rate than what is currently configured in the system.<br>
<strong><em>Important</em></strong>: In some cases, you may want to book a payment in a different currency than is currently selected for the payment (default currency), e.g. in US dollars. In this case, select the option <strong>USD</strong> under <strong>Currency</strong> and enter the amount received under <strong>Amount</strong>.<br>
If you calculated the exchange rate in the menu <a href="/en/payment/currencies">System » Orders » Payment » Currencies</a> and you want to use this exchange rate, then you do not have to enter anything under <strong>Exchange rate</strong>, because the exchange rate is automatically used. You will need to make an entry under <strong>Exchange rate</strong> if you want to use a different exchange rate for this payment, e.g. the exchange rate at the exact moment when the payment is received. In this case, enter the exchange rate that is applicable at this moment.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Designated use</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The order ID is entered by default. The entry can be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a date for the incoming payment. The current date is selected by default.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can recognise manually booked payments by the <strong>Manual booking</strong> icon.</p>
</div>
</div>
<div class="sect2">
<h3 id="50">2.3. Non-bookable payments</h3>
<div class="paragraph">
<p>In some cases, payments cannot be assigned to orders in the overview any longer. For example interim transaction reports, for which the actual payment has already been booked. These payments will be marked with <strong>Non-bookable payment</strong> in the overview.</p>
</div>
</div>
<div class="sect2">
<h3 id="60">2.4. Interim transaction report</h3>
<div class="paragraph">
<p>Interim transaction reports are bookings for planned payments. They are delivered by banks with EBICS.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/payment/assets/EN-Interim-Transaction-Report-01.png" alt="EN Interim Transaction Report 01">
</div>
<div class="title">Figure 1. interim transaction report</div>
</div>
<div class="paragraph">
<p>The value date is displayed under <strong>Imported</strong>. The account is charged on this date. The interim transaction report is confirmed (<a href="#image-payment-interim-transaction-report">Figure 2</a> , green arrow) when payment is received (<a href="#image-payment-interim-transaction-report">Figure 2</a> , blue arrow).</p>
</div>
<div id="image-payment-interim-transaction-report" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/payment/assets/EN-Interim-Transaction-Report-02.png" alt="EN Interim Transaction Report 02">
</div>
<div class="title">Figure 2. payment and confirmed interim transaction report</div>
</div>
<div class="paragraph">
<p>The parent ID is displayed for confirmed interim transaction reports. This is the ID of the actual payment.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="70">3. Assigning payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After the payments were booked in plentymarkets, they will be assigned to orders automatically with the help of a fuzzy search. If the payment cannot be assigned to the order automatically, then you can still <a href="/en/payment/managing-payments#80">manually assign</a> the payment to an order. Unassigned payments are marked with a <strong>green arrow</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">setting up event procedures for incoming payments</div>
<div class="paragraph">
<p>Incoming payment is an important event when it comes to processing orders. This is because items are not typically shipped until the payment was received. In most cases, the order status in plentymarkets changes from <strong>status [3] - waiting for payment</strong> to <strong>status [5] - cleared for shipping</strong> as soon as the payment was received. Create <a href="/en/automation/event-procedures">event procedures</a> to automatically process orders and ship the items once payment is received.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Unassigned incoming payments can be assigned in two different ways. On the one hand, you can assign individual incoming payments manually. On the other hand, you can assign several payments automatically. For further information about how to determine a match rate for incoming payments, refer to <a href="/en/payment/managing-payments#10">Carrying out basic settings for incoming payments</a>.</p>
</div>
<div class="sect2">
<h3 id="80">3.1. Manually assigning incoming payments</h3>
<div class="paragraph">
<p>In order to assign incoming payments manually, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Assigning an incoming payment manually:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>Click on <strong>Assign payment</strong> in the line of an unassigned incoming payment.<br>
→ A window will open.</p>
</li>
<li>
<p>Select the order to which you want to assign the payment.</p>
</li>
<li>
<p>Enter the <strong>order ID</strong> or the corresponding <strong>invoice number</strong> if the appropriate order is not displayed automatically.</p>
</li>
<li>
<p>Click on <strong>Assign</strong> to assign the order.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="90">3.2. Automatically assigning incoming payments with the group function</h3>
<div class="paragraph">
<p>Use the group function to edit any number of payments at the same time. Proceed as follows to assign the incoming payments automatically with the group function.</p>
</div>
<div class="paragraph instruction">
<p>Assigning incoming payments automatically:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>Filter the incoming payments that you want to assign.</p>
</li>
<li>
<p>Place a check mark next to incoming payments that you want to assign.</p>
</li>
<li>
<p>Click on <strong>Group function</strong>.<br>
→ The <strong>Group function</strong> window will open.</p>
</li>
<li>
<p>Activate <strong>Automatic assignment</strong>.</p>
</li>
<li>
<p>Click on <strong>Execute</strong>.<br>
→ The incoming payments will be assigned.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="100">3.3. Removing the assignment of incoming payments</h3>
<div class="paragraph">
<p>You can either remove the assignment to assign the incoming payment to a different order or to delete the incoming payment afterwards. You can also do this in the <strong>Payment</strong> tab of an order.</p>
</div>
<div class="paragraph instruction">
<p>Removing assignments:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>Click on <strong>Remove order assignment</strong> in the line of the incoming payment.<br>
→ The assignment will be removed and a <strong>green arrow</strong> will be displayed.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Removing the assignment and deleting the payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>Click on <strong>Remove order assignment</strong> in the line of the incoming payment.<br>
→ The assignment will be removed and a <strong>green arrow</strong> will be displayed.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> at the end of the line of the payment.<br>
→ The payment will be deleted.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="110">4. Searching for payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the payment search to check payments of a specific payment provider or to find unassigned payments. The <strong>Filter</strong> tab is used for this.</p>
</div>
<div class="paragraph instruction">
<p>Searching for payments:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>Select the <strong>filters</strong>. Pay attention to the information given in <a href="#table-searching-payments">Table 4</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> to carry out the search.</p>
</li>
</ol>
</div>
<table id="table-searching-payments" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. searching for payments</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Reset</strong> to reset the filters. Click on <strong>Search</strong> again to display all incoming payments.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ID to search for the payment with this ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the order ID, to search for the payments assigned to this order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Designated use</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a designated use or part of a designated use in order to search for payments with this use.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account holder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the account holder to search for payments with this account holder.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Assignment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Assigned</strong>, <strong>Unassigned</strong> or <strong>ALL</strong>.<br>
<strong>Assigned</strong> = Only payments assigned to an order will be displayed.<br>
<strong>Unassigned</strong> = Only payments not assigned to an order will be displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a payment method or <strong>ALL</strong> to search for payments that have this payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>D/C</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Debit</strong>, <strong>Credit</strong> or <strong>ALL</strong>.<br>
<strong>Credit</strong> = All incoming payments with a positive value will be displayed.<br>
<strong>Debit</strong> = All incoming payments with a negative value will be displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status or <strong>ALL</strong> to search for payments that have this status.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaction type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a transaction type or <strong>ALL</strong> to search for payments that have this transaction type.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a currency or <strong>ALL</strong> to search for payments that have this currency.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Value</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the operator and enter a value.<br>
<strong><em>Example</em></strong>: Select <strong>&gt;=</strong> and enter 300 as the <strong>value</strong> in order to display all payments that have a payment amount of more than 300 EUR.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Received from;<br>
Received to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select date to search for payments that were received in this time period.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Imported from;<br>
Imported to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select date to search for payments that were imported in this time period.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Assigned from;<br>
Assigned to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select date to search for payments that were assigned in this time period.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="120">5. Editing payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Edit payments either in the <strong>Payments</strong> or directly in the order. If a payment has already been assigned to an order, you can open the order using the ID next to the yellow arrow in the <strong>Assignment</strong> column. Click on the ID to open the order. Open the <strong>Payment</strong> tab within the order to see all payments made in connection with this order. In this tab, you can make use of the same functions as in the <strong>Payments</strong> menu. Additionally, you can directly <a href="/en/payment/managing-payments#20">book payments</a>.</p>
</div>
<div class="sect2">
<h3 id="130">5.1. Displaying payment information</h3>
<div class="paragraph">
<p>The following information about amounts is given at the top of the overview of incoming payments in the <strong>Payment</strong> tab of an order:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Total</strong> = total order amount</p>
</li>
<li>
<p><strong>Paid</strong> = amount already paid</p>
</li>
<li>
<p><strong>Pending</strong> = amount not paid yet</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="140">5.2. Splitting payments</h3>
<div class="paragraph">
<p>Manually booked incoming payments, imported bank postings as well as EBICS payments can be split in the <strong>Orders » Payments</strong> menu. In this way, one payment can be assigned to multiple orders. Note that interim transaction reports cannot be split. To split payments, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Splitting a payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>In the line of an incoming payment, click on <strong>Split payment</strong>.<br>
→ The <strong>Split payment</strong> window will open and a list with all open orders will be displayed.</p>
</li>
<li>
<p>Filter the orders if needed.</p>
</li>
<li>
<p>Place a check mark next to the orders that you want to assign to the payment.</p>
</li>
<li>
<p>Click on <strong>Execute</strong>.<br>
⇒ The selected orders are assigned to the payment.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Newly assigned payments in the overview after splitting a payment</div>
<div class="paragraph">
<p>After clicking on <strong>Reload</strong>, new entries assigned to the previously selected orders will be created in the payments overview. In addition, an unassigned entry will also be created if there is a remaining amount of the split payment. Then again, the unassigned entry can be split. In order to restore or delete the previously split payment, delete all payments assigned by splitting first.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="150">5.3. Deleting payments</h3>
<div class="paragraph">
<p>In order to delete a payment in the overview, proceed as follows.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> in the line of an incoming payment.<br>
→ The <strong>Confirm to delete payment</strong> window will open.</p>
</li>
<li>
<p>Click on <strong>Delete payment</strong>.<br>
→ The payment will be deleted.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="160">5.4. Editing partial payments</h3>
<div class="paragraph">
<p>In some cases, customers do not pay the full order amount. An incoming partial payment causes the order status to change to 3.3 (Ready for shipping; waiting for payment). As soon as an order has been completely paid for, the status will change to 4 (in preparation for shipping) or 5 (cleared for shipping). Set up an event procedure to automatically request your customers via email to pay the remaining amount.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 5.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 5 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. event procedure for automatically sending an email for incoming payments</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment: Partial payment</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer &gt; Send email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order: Partial payment received;<br>
Customer</p></td>
</tr>
</tbody>
</table>
<div class="paragraph subhead">
<p>Customising the email template</p>
</div>
<div class="paragraph">
<p>Before setting up an event procedure, adjust the <a href="/en/crm/sending-emails#1200">email template</a> <strong>Partial payment received</strong> with your company data. <a href="#table-email-template-incoming-payment">Table 6</a> explains relevant template variables for the <strong>Partial payment received</strong> email template.</p>
</div>
<table id="table-email-template-incoming-payment" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. email template variables for incoming payments</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Template variables</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$PaidAmount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Total amount of the payment that was received</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$OpenAmount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pending amount</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$InvoiceTotal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Invoice amount</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="170">5.5. Editing overpaid payments</h3>
<div class="paragraph">
<p>If an order was overpaid, the order is set to status 3.2 (in waiting position). In this way, you can contact the customer before shipping the order and ask why the order was overpaid and pay back the overpaid amount.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="180">6. Displaying incoming payments on the homepage</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can add the element <strong>Payments</strong> on the homepage of your plentymarkets back end. This element displays information about unassigned payments as well as about all incoming payments from yesterday and today. By clicking on the number of payments, you will be taken directly to the overview of these payments. If you don’t want to use this element on your homepage, you can get the same results by going to <strong>Orders » payments</strong> and using the search filters.</p>
</div>
<div class="paragraph">
<p>It is recommended that you take a look at the unassigned payments before editing orders. You should see whether incoming <strong>cash in advance</strong> payments are among them, which can usually be assigned to an order without a doubt thanks to the amount and the booking text. This saves your customers long waiting times and it saves you unpleasant complaints.</p>
</div>
<div class="paragraph">
<p>At least once a week, you should edit and sort out the unassigned payments so that you don’t lose track of them in your day-to-day business. For further information about assigning unassigned payments and bookings to orders, refer to <a href="/en/payment/managing-payments#70">Assigning payments</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>Sofortbanking payments will be confirmed via an interface immediately after the payment process. They will then appear again in the system as bank postings. You can delete these bank postings from the list of unassigned payments without concern because the orders in question have already been assigned to the payment.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>