<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#25"><span>1.</span><span> Specifying the default payment method</span></a></li>
<li><a href="#30"><span>2.</span><span> Permitting the payment method in a customer class</span></a></li>
<li><a href="#50"><span>3.</span><span> Offering a discount based on a payment method</span></a></li>
<li><a href="#60"><span>4.</span><span> Shipping without payment</span></a></li>
<li><a href="#65"><span>5.</span><span> Overview of payment methods in the system</span></a></li>
<li><a href="#70"><span>6.</span><span> Payment methods for markets</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Managing payment methods</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Payment methods are integrated with plugins. You can download the payment plugins in the payment section in the <a href="https://marketplace.plentymarkets.com/en/plugins/payment" target="_blank" rel="noopener">plentyMarketplace</a>. Instructions for setup are also in the plentyMarketplace or in the manual section <a href="/en/payment/payment-plugins">Payment plugins</a>.<br>
On this page, you will find information on how to manage payment methods and which settings to select.  Moreover, you will find an overview of <a href="/en/payment/managing-payment-methods#65">payment methods in your plentymarkets system</a> as well as an overview of <a href="/en/payment/managing-payment-methods#70">marketplace payment methods</a>. These payment methods are automatically available in your plentymarkets system, as soon as you have an active account for the corresponding marketplace.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="25">1. Specifying the default payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as follows to specify the payment method to be set by default in the order process in your online shop.</p>
</div>
<div class="paragraph instruction">
<p>Specifying the default payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » [Select client] » Orders</strong>.</p>
</li>
<li>
<p>Select a payment method from the <strong>Default payment method</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="30">2. Permitting the payment method in a customer class</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to permit payment methods in the basic settings of your customer classes. These settings also relate to the <strong>standard end customers</strong>. New payment methods need to be added to the list of permitted payment methods. Vice versa, you can exclude payment methods from this list to prevent the payment methods from being used by a particular customer class. After having set up a new payment method in your system, check the settings under <strong>Permitted payment methods</strong> for each of your customer classes. For further information, refer to the <a href="/en/crm/managing-contacts#15">Creating a customer class</a> page.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">SSL certificate and encryption</div>
<div class="paragraph">
<p>We generally recommend that you use <a href="/en/business-decisions/system-administration/domains">SSL encryption</a> for your online shop if you work with payment data and customer data. This is required for payment methods that work with an iframe.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="50">3. Offering a discount based on a payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can offer your customers a discount when they use a specific payment method. This is a customer class setting which enables you to offer a discount on payment methods in the online shop. For information on how to set this up, refer to the chapter <a href="/en/crm/managing-contacts#28">Setting up a discount based on the method of payment</a> of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">4. Shipping without payment</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Some payment methods require items to be shipped before the payment was received, e.g. with payment on invoice. If the <a href="/en/stock-management/managing-stocks">stock</a> is limited to net stock, then the system will check whether stock is available and will set the corresponding order in status 4 or 5. To apply this setting, go to <a href="/en/orders/basic-settings">Setup » Orders » Settings</a> and select <strong>YES</strong> for the option <strong>Status changes to 4 instead of 5 if stock is missing</strong>. If you select <strong>NO</strong> for this setting, no stock limitation is set. The order will then be directly cleared for shipping and set to order status 5.</p>
</div>
<div class="paragraph">
<p>The following payment methods require shipping before payment:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Invoice</p>
</li>
<li>
<p>Debit</p>
</li>
<li>
<p>Cash on delivery</p>
</li>
<li>
<p>Amazon</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/stock-management/managing-stocks">Stocks</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="65">5. Overview of payment methods in the system</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can find an overview of all payment methods and their IDs in your plentymarkets system in the <strong>Setup » Orders » Payment » Methods</strong> menu. By default, the plugin payment methods are displayed. If you want to see all the existing system payment methods, use the toggle (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) above the table.</p>
</div>
<div class="paragraph">
<p>In this overview, payment methods cannot be activated. If you want to integrate a payment methods into your plentymarkets system and thus make it available for your customers, you have to download the corresponding plugin from the <a href="https://marketplace.plentymarkets.com/en/plugins/payment" target="_blank" rel="noopener">plentyMarketplace</a>. Instructions for setup are also in the plentyMarketplace or in the manual section <a href="/en/payment/payment-plugins">Payment plugins</a>.</p>
</div>
<table id="table-payment-methods-overview" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Overview of payment methods</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Table column</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The unique ID of the payment method.<br>
This is a default column.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the payment method.<br>
This is a default column.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Back end searchable</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If a payment is back end searchable, it is displayed everywhere in the system, where payment methods can be selected. For example in drop-down lists in event procedures etc.<br>
<span class="icon green"><i class="fa fa-check-square  "></i></span> = The payment method is searchable in the back end.<br>
<span class="icon red"><i class="fa fa-minus-circle  "></i></span> = The payment method is noch searchable in the back end.<br>
This is a default column.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Back end active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If a payment method is back end active, it can be assigned during manual order creation. Additionally, it is also searchable in the back end, which means that it is displayed everywhere in the system, where payment methods can be selected. For example in drop-down lists in event procedures etc.<br>
<span class="icon green"><i class="fa fa-check-square  "></i></span> = The payment method is active in the back end.<br>
<span class="icon red"><i class="fa fa-minus-circle  "></i></span> = The payment method is not active in the back end.<br>
This is a default column.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>pluginKey</strong> and <strong>paymentKey</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">These are unique values used to identify a payment method system-wide. They are defined by the developer when registering the payment method. Thus, these values are mostly usable for developers, e.g. to read out the ID of a payment method from the system.<br>
This is not a default column.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="70">6. Payment methods for markets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Payment methods for markets are payment methods which are necessary to flag incoming payments from integrated markets. These payment methods are automatically available in your plentymarkets system, as soon as you have an active account for the corresponding marketplace.</p>
</div>
<table id="table-overview-payment-method-markets" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Overview of payment methods for markets</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Payment method</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for orders that are imported into your plentymarkets system from Amazon. Activate the <a href="/en/markets/amazon/amazon-setup#4500">Amazon</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BOL.com</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for orders that are imported into your plentymarkets system from bol.com. Activate the <a href="/en/markets/bol-com#650">BOL.com</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cdiscount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for orders that are imported into your plentymarkets system from Cdiscount. Activate the <a href="/en/markets/cdiscount#900">Cdiscount</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Check24</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for market Check24. Activate the <a href="/en/markets/check24#700">Check24</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay purchase on invoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for purchase on invoice on eBay. Activate the <a href="/en/markets/ebay/ebay-setup#2250">eBay purchase on invoice</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flubit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for orders that are imported into your plentymarkets system from Flubit. Activate the <a href="/en/markets/flubit#370">Flubit</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fruugo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for orders that are imported into your plentymarkets system from Fruugo. Activate the <a href="/en/markets/fruugo#600">Fruugo</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>idealo Checkout</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the market idealo Direktkauf. Activate the <a href="/en/markets/idealo-checkout/idealo-setup#1100">idealo Checkout</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neckermann payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the Neckermann.at market. Activate the <a href="/en/markets/neckermann/neckermann-at-setup#1600">Neckermann.at</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Netto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the market Netto. Activate the <a href="/en/markets/plus-gartenxxl#400">Netto</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the OTTO interface. Activate the <a href="/en/markets/otto/otto-market#425">OTTO Payment</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PIXmania Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the PIXmania market. Activate the <a href="/en/markets/pixmania#800">PIXmania</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>real.de Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the Kaufland.de market. Activate the <a href="/en/markets/real-de/real-setup#800">real.de Payment</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shopgate Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the Shopgate market. Activate the <a href="/en/markets/shopgate#600">Shopgate</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Yatego invoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the Yatego market. Activate the <a href="/en/markets/yatego#900">Yatego invoice</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zalando payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the Zalando market. Activate the <a href="/en/markets/zalando#800">Zalando payment</a> payment method.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>