<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Field for matching contacts, companies and addresses</span></a></li>
<li><a href="#200"><span>2.</span><span> Fields for mapping contacts, companies and addresses</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Contact</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Contact options</span></a></li>
<li><a href="#500"><span>2.3.</span><span> Invoice address</span></a></li>
<li><a href="#600"><span>2.4.</span><span> Options saved in the invoice address</span></a></li>
<li><a href="#700"><span>2.5.</span><span> Delivery address</span></a></li>
<li><a href="#800"><span>2.6.</span><span> Options saved in the delivery address</span></a></li>
<li><a href="#900"><span>2.7.</span><span> Company</span></a></li>
<li><a href="#950"><span>2.8.</span><span> Contact properties</span></a></li>
<li><a href="#1000"><span>2.9.</span><span> Sales representative</span></a></li>
<li><a href="#1100"><span>2.10.</span><span> Allowed payment methods</span></a></li>
</ul>
</li>
<li><a href="#2000"><span>3.</span><span> Mandatory values for sync procedures with contacts, companies and addresses</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Contacts, companies and addresses</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With syncs of the type <strong>Contacts, companies and addresses</strong>, you import new contact data or update existing data records. This data is for example the delivery address and invoice address, the date of birth of the contact, the customer type, contact options such as the private or business email address as well as company data.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Requirements for importing countries of delivery</div>
<div class="paragraph">
<p>In order that the newly imported or updated countries of delivery are displayed in a contact data record in the contact overview, these countries of delivery have to be activated in the <strong>Setup » Orders » Shipping » Options » Tab: Countries of delivery</strong> menu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In order to import contact data via ElasticSync, the following data records must be present in plentymarkets:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Contacts (<strong>CRM » Contacts</strong> menu)</p>
</li>
<li>
<p>contact options such as telephone number and email address, if necessary</p>
</li>
<li>
<p>address data (invoice address, delivery address), if necessary</p>
</li>
<li>
<p>company data such as VAT number and payment due date, if necessary</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Field for matching contacts, companies and addresses</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-matching-fields-contacts">Table 1</a> explains the fields that are available for matching contacts, company and address data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-matching-fields-contacts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Matching fields for importing contact data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Matching field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email address of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Invoice address ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the invoice address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery address ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the delivery address</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Fields for mapping contacts, companies and addresses</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter explains the fields that are available for mapping contact, company and address data.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Contact</h3>
<div class="paragraph">
<p><a href="#table-mapping-fields-contact">Table 2</a> lists the fields available for importing contact data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-mapping-fields-contact" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Fields for importing contact data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">External number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External number for the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional number for the contact. This number is not assigned automatically. Maximum number of characters: 128.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type*</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This is a mandatory field. It is possible to create further types.<br>
Fixed values:<br>
1 = Customer<br>
2 = Interested party<br>
3 = Sales representative<br>
4 = Supplier<br>
5 = Manufacturer<br>
6 = Partner</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">First name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">First name of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last name of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gender</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gender of the contact. Is saved in the contact data record in the <strong>Form of address</strong> field.<br>
Possible values:<br>
Blank option = no entry<br>
female = Female form of address<br>
male = Male form of address<br>
diverse = Diverse form of address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Newsletter</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time stamp when the contact registered for the newsletter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer class</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer class of the contact, if available.<br>
<strong><em>Important:</em></strong> When customer classes are saved in the system, the field in the import file must be filled with the ID of the customer class. Otherwise, the contacts cannot be imported in your plentymarkets system.<br>
If you did not create customer classes in the system, you can ignore this field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Blocked</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contacts can be blocked for a certain client.<br>
Possible values:<br>
0 = not blocked<br>
1 = blocked</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feedback</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The feedback of the contact is used as internal feedback only and cannot be seen by third parties.<br>
Possible values:<br>
0 = 5 grey stars, no feedback saved for the contact<br>
5 = 5 yellow stars (best possible feedback)<br>
4 = 4 yellow stars<br>
3 = 3 yellow stars<br>
2 = 2 yellow stars<br>
1 = 1 yellow star<br>
-1 = 1 red star<br>
-2 = 2 red stars<br>
-3 = 3 red stars<br>
-4 = 4 red stars<br>
-5 = 5 red stars (worst possible feedback)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Debtor account</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional number that usually corresponds to the contact number or the debtor number of the contact in your administrative accounting.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Language</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Language of the contact that is saved in the contact data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Referrer*</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This is a mandatory field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plenty-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Client that is assigned to the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Owner ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the owner that is assigned to the contact.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of birth</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Birthday of the contact</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Valuta</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Valuta of the contact that is saved in the contact data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Days for early payment discount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Days for early payment discount of the contact that is saved in the contact data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Percentage for early payment discount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Percentage for early payment discount of the contact that is saved in the contact data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment due date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment due date of the contact that is saved in the contact data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sales representative ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the sales representative that is assigned to the contact.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the contact</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">2.2. Contact options</h3>
<div class="paragraph">
<p><a href="#table-mapping-fields-contact-options">Table 3</a> lists the fields available for importing contact options. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-mapping-fields-contact-options" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Fields for importing contact options</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permissible import value</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private telephone number<br>
(Type 1 Sub-type 4)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private telephone number<br>
<strong><em>Note:</em></strong> In order that the telephone number is automatically transferred in the order, the sub-type <strong>Private</strong> must be selected for the type <strong>Telephone</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Business telephone number<br>
(Type 1 Sub-type 1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Business telephone number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private mobile phone number<br>
(Type 1 Sub-type 2)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private mobile phone number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Business mobile phone number<br>
(Type 1 Sub-type 3)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Business mobile phone number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private email address<br>
(Type 2 Sub-type 4)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private email address<br>
<strong><em>Note:</em></strong> In order that the email address is automatically transferred in the order, the sub-type <strong>Private</strong> must be selected for the type <strong>Email</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Business email address<br>
(Type 2 Sub-type 1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Business email address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">PayPal email address<br>
(Type 2 Sub-type 5)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">PayPal email address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private fax number<br>
(Type 3 Sub-type 4)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private fax number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Business fax number<br>
(Type 3 Sub-type 1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Business fax number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private homepage<br>
(Type 1 Sub-type 2)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL of the private homepage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Business homepage<br>
(Type 1 Sub-type 2)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL of the business homepage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Market eBay<br>
(Type 5 Sub-type 6)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Market Amazon<br>
(Type 5 Sub-type 7)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Identification number at Klarna<br>
(Type 6 Sub-type 8)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Identification number at Klarna</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Identification number at DHL<br>
(Type 6 Sub-type 9)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Identification number at DHL</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment PayPal<br>
(Type 7 Sub-type 5)</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">PayPal number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment Klarna<br>
(Type 7 Sub-type 8)</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klarna number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment Standard<br>
(Type 7 Sub-type 14)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Available payment methods. The payment methods are saved in the <strong>Setup » Orders » Payment » Payment methods</strong> menu.<br>
The IDs for payment methods, payment method interfaces and marketplace payment methods are listed on the <a href="/en/data/internal-IDs# ">Internal IDs in plentymarkets</a> page of the manual in the <a href="/en/data/internal-IDs#65# Payment methods">/en/data/internal-IDs</a> chapter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private user name<br>
(Type 8 Sub-type 4)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private user name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Business user name<br>
(Type 8 Sub-type 1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Business user name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Guest account<br>
(Type 10 Sub-type 11)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)<br>
0 = Regular account<br>
1 = Guest account</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Account type in the old online store (Callisto online store).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional contact person<br>
(Type 11 Sub-type 12)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional contact person</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private form of address<br>
(Type 12 Sub-type 4)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Private form of address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Business form of address<br>
(Type 12 Sub-type 1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Business form of address</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">2.3. Invoice address</h3>
<div class="paragraph">
<p><a href="#table-mapping-fields-invoice-address">Table 4</a> lists the fields available for importing invoice address data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-mapping-fields-invoice-address" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Fields for importing invoice address data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permissible import value</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the address</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the invoice address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name1* (or 2/3)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Company name.<br>
This is a mandatory field when there is no entry under <strong>Name2</strong> and <strong>Name3</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name2* (or 1/3)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">First name of the contact.<br>
This is a mandatory field when there is no entry under <strong>Name1</strong> and <strong>Name3</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name3* (or 1/2)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last name of the contact.<br>
This is a mandatory field when there is no entry under <strong>Name1</strong> and <strong>Name2</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional information in the contact data record, e.g."c/o Mr. John Doe"</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address1* (or 2/3)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The street listed in the invoice address.<br>
This is a mandatory field when there is no entry under <strong>Address2</strong> and <strong>Address3</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address2* (or 1/3)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The house number listed in the invoice address.<br>
This is a mandatory field when there is no entry under <strong>Address1</strong> and <strong>Address3</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address3* (or 1/2)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional address information in the invoice address, e.g. "Apartment 12a".<br>
This is a mandatory field when there is no entry under <strong>Address1</strong> and <strong>Address2</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This field can be freely used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Town*</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This is a mandatory field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country ID* (or ISO)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This is a mandatory field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">State ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the region, district, federal state, canton etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Confirmed at</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time stamp when the invoice address was checked</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title in the invoice address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country ISO code* (or ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This is a mandatory field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO code of the state</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO code of the region, district, federal state, canton etc.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="600">2.4. Options saved in the invoice address</h3>
<div class="paragraph">
<p><a href="#table-mapping-fields-invoice-address-options">Table 5</a> lists the fields available for importing invoice address options. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-mapping-fields-invoice-address-options" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Fields for importing invoice address options</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT number (type 1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT number of the company</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">External address ID (type 2)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entry certificate (type 3)</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In order to be exempted from paying the value-added tax when sending items in another EU country, sellers have to prove by means of the entry certificate that the items from Germany arrived safely in another participating EU member state.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telephone (type 4)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email (type 5)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Post number (type 6)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The DHL customer number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Personal id (type 7)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Identity number in Sweden</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Age rating (type 8)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Age rating</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Birthday (type 9)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title (type 11)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact person (type 12)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="700">2.5. Delivery address</h3>
<div class="paragraph">
<p><a href="#table-mapping-fields-delivery-address">Table 6</a> lists the fields available for importing delivery address data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-mapping-fields-delivery-address" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Fields for importing delivery address data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permissible import value</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the address</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the delivery address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name1* (or 2/3)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Company name.<br>
This is a mandatory field when there is no entry under <strong>Name2</strong> and <strong>Name3</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name2* (or 1/3)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">First name of the contact.<br>
This is a mandatory field when there is no entry under <strong>Name1</strong> and <strong>Name3</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name3* (or 1/2)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last name of the contact.<br>
This is a mandatory field when there is no entry under <strong>Name1</strong> and <strong>Name2</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional information in the contact data record, e.g."c/o Mr. John Doe"</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address1* (or 2/3)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The street listed in the delivery address.<br>
This is a mandatory field when there is no entry under <strong>Address2</strong> and <strong>Address3</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address2* (or 1/3)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The house number listed in the delivery address.<br>
This is a mandatory field when there is no entry under <strong>Address1</strong> and <strong>Address3</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address3* (or 1/2)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional address information in the delivery address, e.g. "Apartment 12a".<br>
This is a mandatory field when there is no entry under <strong>Address1</strong> and <strong>Address2</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Address4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This field can be freely used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Town*</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This is a mandatory field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country ID* (or ISO)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This is a mandatory field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">State ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the region, district, federal state, canton etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The title saved in the delivery address</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country ISO code* (or ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This is a mandatory field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO code of the state</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ISO code of the region, district, federal state, canton etc.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">2.6. Options saved in the delivery address</h3>
<div class="paragraph">
<p><a href="#table-mapping-fields-delivery-address-options">Table 7</a> lists the fields available for importing delivery address options. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-mapping-fields-delivery-address-options" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Fields for importing delivery address options</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT number (type 1)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT number of the company</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">External address ID (type 2)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entry certificate (type 3)</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In order to be exempted from paying the value-added tax when sending items in another EU country, sellers have to prove by means of the entry certificate that the items from Germany arrived safely in another participating EU member state.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telephone (type 4)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Email (type 5)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Post number (type 6)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The DHL customer number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Personal id (type 7)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Identity number in Sweden</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Age rating (type 8)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Age rating</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Birthday (type 9)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Title (type 11)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact person (type 12)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">2.7. Company</h3>
<div class="paragraph">
<p><a href="#table-mapping-fields-company">Table 8</a> lists the fields available for importing company data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-mapping-fields-company" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. Fields for importing company data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Company ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the company</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional number for the company. This number is not assigned automatically. Maximum number of characters: 128.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Company name*</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This is a mandatory field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT number of the company.<br>
Example of a VAT number in Great Britain: GB1234567890</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Valuta</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Valuta of the company</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Early payment discount (days)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Days for early payment discount of the company</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Percentage of discount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Percentage for early payment discount of the company</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment due date</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment due date of the company</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sales representative ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the sales representative</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Owner ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the owner</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery period</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery time in days for the type <strong>Supplier</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimum order value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimum order value in the currency of the system for the type <strong>Supplier</strong></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="950">2.8. Contact properties</h3>
<div class="paragraph">
<p><a href="#table-mapping-fields-contact-properties">Table 9</a> lists the fields available for importing contact property data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-mapping-fields-contact-properties" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 9. Fields for importing contact property data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Property ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the property</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Property type</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type of the property, e.g. <strong>Short text</strong>, <strong>Date</strong>, <strong>Multi-selection</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Property value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alpha-numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value of the property</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contact ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the contact that is linked to the property</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Language</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Can be set as own value in the mapping if the properties should be imported in another language than the system language, e.g. <strong>de</strong> or <strong>fr</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delete (Yes/No)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Can be set as own value in the mapping.<br>
0 = do not delete<br>
1 = delete</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1000">2.9. Sales representative</h3>
<div class="paragraph">
<p><a href="#table-mapping-fields-sales-representative">Table 10</a> lists the fields available for importing sales representative data. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-mapping-fields-sales-representative" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 10. Fields for importing sales representative data</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Region ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the region</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode area</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode area within which the sales representative is working</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the country</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1100">2.10. Allowed payment methods</h3>
<div class="paragraph">
<p><a href="#table-mapping-fields-allowed-methods-of-payment">Table 11</a> lists the fields available for importing methods of payment that are allowed for the contact. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-mapping-fields-allowed-methods-of-payment" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 11. Fields for importing allowed payment methods</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Mapping field</th>
<th class="tableblock halign-left valign-top">Permitted import values</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allow debit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allow the payment method "Debit" for the contact. Go to <strong>Setup » Orders » Payment » Payment methods</strong> to activate the payment method.<br>
Possible values:<br>
0 = do not allow<br>
1 = allow</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allow invoice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numeric (internal ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allow the payment method "Invoice" for the contact. Go to <strong>Setup » Orders » Payment » Payment methods</strong> to activate the payment method.<br>
Possible values:<br>
0 = do not allow<br>
1 = allow</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="2000">3. Mandatory values for sync procedures with contacts, companies and addresses</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-mandatory-values-sync-procedures-contacts">Table 12</a> lists the mandatory values for sync procedures with contacts, companies and addresses.</p>
</div>
<table id="table-mandatory-values-sync-procedures-contacts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 12. Mandatory values for sync procedures with contacts, companies and addresses</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Procedure</th>
<th class="tableblock halign-left valign-top">Required values</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Contacts</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create contact</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Referrer</p>
</li>
<li>
<p>Type</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Contact option</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create contact option</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Value</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Update contact option</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Contact ID</p>
</li>
<li>
<p>fields to be changed</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Company</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create company</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Company name</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Update company</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Company name</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Address</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create address</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Contact ID</p>
</li>
<li>
<p>at least one of the following options: Name1, Name2, Name3</p>
</li>
<li>
<p>at least one of the following options: Address1, Address2, Address3</p>
</li>
<li>
<p>at least one of the following options: Country ID or country ISO code</p>
</li>
<li>
<p>Town</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Update address</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>at least one of the following options: Name1, Name2, Name3</p>
</li>
<li>
<p>Contact ID</p>
</li>
<li>
<p>fields to be changed</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Address option</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create address option</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Value</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Update address option</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Address ID</p>
</li>
<li>
<p>Contact ID</p>
</li>
<li>
<p>fields to be changed</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Sales representative</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create country</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Contact ID</p>
</li>
<li>
<p>Company ID</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create postcode range</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Contact ID</p>
</li>
<li>
<p>Company ID</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Update country</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Contact ID</p>
</li>
<li>
<p>Company ID</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Update postcode range</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Contact ID</p>
</li>
<li>
<p>Company ID</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Assign a contact to a sales representative</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Contact ID</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>