<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Fields for matching taric assignment</span></a></li>
<li><a href="#20"><span>2.</span><span> Fields for mapping taric assignment</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Assignment taric code</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>A sync of the type <strong>Assignment taric code</strong> allows you to import data for the taric code table in the menu <strong>Setup » Client » Settings » Taric code</strong>. In order to provide taric codes for variations via import, go to the <a href="/en/data/importing-data/sync-types/elasticSync-item#2300">sync type Item</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Fields for matching taric assignment</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following fields are available for matching the taric assignment. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Taric code</p>
</li>
<li>
<p>Country</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Fields for mapping taric assignment</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-mapping-fields-taric-assignment">Table 1</a> explains the fields that are available for mapping date for the taric assignment. During the import, plentymarkets checks if the imported data record already exists based on the matching field.</p>
</div>
<table id="table-mapping-fields-taric-assignment" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Mapping fields for importing taric assignment</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Matching field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Assignment / VAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The VAT rates which are assigned to the taric codes and the corresponding country.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Assignment / delete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The VAT rate for the listed taric code and the corresponding country is deleted.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>