<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Importing and exporting syncs</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">It takes a lot of time to create new syncs and configure the settings. You can save time by downloading pre-configured sync templates from our online manual and importing them into plentymarkets. This video shows you how it’s done.<br>
<strong><em>Note:</em></strong> The term <strong>ElasticSync</strong> is outdated and has been replaced by <strong>import</strong>.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/336295238" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>There are two sides to every coin.
On the one hand, ElasticSync saves time by quickly importing large quantities of data.
But it also takes a lot of time to create new syncs and configure the settings like you learned in our basic instructional video. There has got to be a faster way! And there is.</p>
</div>
<div class="paragraph">
<p>This video teaches you how to import pre-configured sync templates and start using ElasticSync in no time.</p>
</div>
<div class="paragraph">
<p>Sounds good! But what exactly are pre-configured sync templates?
Well, imagine you could get the plentymarkets support team to create a new sync for you and fill it with all the matching and mapping settings that they anticipate you’ll need.</p>
</div>
<div class="paragraph">
<p>You can! Just head on over to our online manual and keep an eye out for example syncs.
All you need to do is download the JSON file to your computer, unzip it and then upload the file into your very own plentymarkets system.</p>
</div>
<div class="paragraph">
<p>The upload process is pretty straight forward and it uses the same pop-up window that you’ve probably also seen in other situations.
Just find wherever you saved the JSON file on your computer, open it and then select it in the pop-up window.</p>
</div>
<div class="paragraph">
<p>Do you see a grey URL displayed here? Then you’re ready to finish off the import by clicking on this button.</p>
</div>
<div class="paragraph">
<p>Don’t panic if you see an error message or a warning at this point.
Essentially, all it’s telling you is that this is just a template, and you’ll still need to modify a few of its settings so that it meets your own, specific needs.</p>
</div>
<div class="paragraph">
<p>When you reload the menu, you’ll see that the sync has been imported into your system and you can start looking at and customising the pre-configured settings. There’s a separate video, which illustrates what to do.</p>
</div>
<div class="paragraph">
<p>Just like you can import syncs built by someone else, you can also export syncs and share them with others.
Simply pick whichever sync you’d like to export and click on this icon here. Then save the JSON file on your computer before sending it out into the world.</p>
</div>
<div class="paragraph">
<p>So don’t waste any time! By importing and exporting syncs, you’ll be ready to start transmitting data in a flash.</p>
</div>
</div>
</div>
</main>