<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Creating items with variations</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">You want to import items into plentymarkets? And to complicate things even further, these items come in several different sizes and colours? This video teaches you how to use ElasticSync and get the job done!</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/data-transfer/case-examples/creating-items-with-variations-column-headers#video">Column headers (0:30)</a></p>
<p class="tableblock"><a href="/en/videos/data-transfer/case-examples/creating-items-with-variations-variation-numbers#video">Variation numbers (1:30)</a></p>
<p class="tableblock"><a href="/en/videos/data-transfer/case-examples/creating-items-with-variations-attributes#video">Attributes (3:10)</a></p>
<p class="tableblock"><a href="/en/videos/data-transfer/case-examples/creating-items-with-variations-images#video">Images (3:53)</a></p>
<p class="tableblock"><a href="/en/videos/data-transfer/case-examples/creating-items-with-variations-categories#video">Categories (4:40)</a></p>
<p class="tableblock"><a href="/en/videos/data-transfer/case-examples/creating-items-with-variations-sales-prices#video">Sales prices (5:38)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/336295453#at=338" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Do you have items that need to be imported into plentymarkets?
And to complicate things even further, do these items come in several different sizes and colours?</p>
</div>
<div class="paragraph">
<p>You might already know that ElasticSync is a good tool to get the job done. But you might not have tried your hand at a realistic example yet.
This video guides you step-by-step through the process of creating new items and variations in plentymarkets.
It relies on an example sync, which you can download from our online manual and import into your own system.</p>
</div>
<div class="paragraph">
<p>Open up the example CSV file too, and see where the column headers match or differ from your own product file.
Don’t worry too much if you find a few discrepancies.</p>
</div>
<div class="paragraph">
<p>As you learned in our basic instructional video you can easily add new column headers to import a bit of extra information.
Or you can delete columns that you don’t need.
Just make sure you don’t accidentally delete the default category, the variation number or the main variation number. These fields are mandatory. So if you delete one of them, then plentymarkets won’t be able to correctly import your items and variations.</p>
</div>
<div class="paragraph">
<p>Okay, once you’ve finished comparing the columns in your own CSV file with the corresponding data fields in plentymarkets, you’ll be ready to focus on the actual content of your file. Or in other words, you’ll be ready to start filling your CSV file with item variation numbers, attributes, images, categories and sales prices.</p>
</div>
<div class="paragraph">
<p>First up, variation numbers. In this example, let’s import a t-shirt that comes in small or medium and also in yellow or red.
You want to import all four possible combinations, so medium red, small red, small yellow and medium yellow.
Each variation has its own unique number and each variation can be traced back to the same, main item.</p>
</div>
<div class="paragraph">
<p>And that’s really all you need to keep in mind when filling variation numbers into your CSV file.
The main item has a unique number, which you’ll enter into this column here.</p>
</div>
<div class="paragraph">
<p>And each individual variation has its own unique number, which you’ll also enter into this column.
Finally, each variation is traced back to the same, main item. This is represented by entering the main item’s number here.</p>
</div>
<div class="paragraph">
<p>So far, so good? Then let me quickly mention two little things to keep in mind. First off, make sure that you always put the main item number first and then you follow it up with the individual variations. Now why is that?
Well, plentymarkets goes through the file line by line. So first it will create a main item.
And then it will create individual variations based on that item.</p>
</div>
<div class="paragraph">
<p>If you did it the other way around, then you’d be telling plentymarkets to create a variation on a main item that doesn’t exist yet. plentymarkets wouldn’t understand what you’re asking it to do and the data wouldn’t be imported correctly.
Okay, and the second thing to keep in mind is that you don’t actually need variation numbers for the import.
If you don’t already have unique variation numbers, then just leave this part blank, and plentymarkets will automatically generate unique numbers for you during the import.</p>
</div>
<div class="paragraph">
<p>Next up, attributes.
These are characteristics like colour and size.
When you combine them together, you’ve got an item variation, for example a small, red t-shirt.</p>
</div>
<div class="paragraph">
<p>Now before you start importing items into plentymarkets, make sure you’ve finished creating all the different attributes that your items will need.
Then head on over to the mapping settings and decide how you want to designate the attributes - like colour - and the values - like red.
Once you’ve picked a format, go ahead and enter the attributes and values in your CSV file.</p>
</div>
<div class="paragraph">
<p>Moving on to images. Regardless whether you use your supplier’s product images, or you take your own photos, your goal here is to get the image’s URL. In other words, your supplier might upload images to an FTP server or you might upload your own images in the plenymarkets webspace.
However you go about getting the URL, simply enter it into your CSV file and decide when your customer should see this image. So whether it should be the first, second, third, and so on.
If you want to have multiple product images, then just separate them with commas.
And one last neat feature. Not only can you upload images that show off the item as a whole but you can also upload images that display each individual variation.</p>
</div>
<div class="paragraph">
<p>Next let’s talk a little bit about categories.
Before you start the import, make sure you’ve created all the different categories that your items will be listed in.</p>
</div>
<div class="paragraph">
<p>Each category has its own unique ID and all you need to do in your CSV file is enter the ID of whichever category the item should be listed in.
If you want the item to be listed under multiple categories, then just use commas to separate the category IDs.</p>
</div>
<div class="paragraph">
<p>In order for the import to work, you also need every item to have a default category.
And essentially all this is saying is, okay, your item is listed in multiple categories.
Which of these categories is the best fit? So pick one.</p>
</div>
<div class="paragraph">
<p>Later, when customers look at this item in your online store, the breadcrumbs up top will show the default category.
Since this setting relates to your online store and some sellers use plentymarkets to manage more than one store, just tell plentymarkets which store you’re referring to.</p>
</div>
<div class="paragraph">
<p>Last but certainly not least, you’ll need to focus on sales prices.
Again here, before you start the import, make sure you’ve created all the different sales prices that your items will be sold with.</p>
</div>
<div class="paragraph">
<p>Then in the ElasticSync menu, specify which sales price you’ll use for the import.
And enter the corresponding prices in your CSV file.</p>
</div>
<div class="paragraph">
<p>Great job, you’ve made it through the trickiest parts of the example file!
Even though the rest of the columns are pretty self-explanatory, I’d still advise you to consult the online manual while filling them in.</p>
</div>
<div class="paragraph">
<p>For example, the manual can tell you that the weights and measurements of your items need to be in grams and millimetres, or that one means yes and zero means no, when deciding whether items should only be visible to customers when they’re in stock.</p>
</div>
<div class="paragraph">
<p>At this point you’re ready to go ahead and test the import.
This imports the first 10 lines of your file and gives you time to check whether the result is what you expected.
So let’s check.</p>
</div>
<div class="paragraph">
<p>Now when I search for the item in my CSV file, I see a matching data record in plentymarkets.
Go ahead and open up the item and check whether everything was imported correctly from your file.
If you’re satisfied with the result, go ahead and start the import.</p>
</div>
<div class="paragraph">
<p>Congratulations! You’ve just saved yourself lots of time.
By importing CSV files, you can quickly save new item and variation data in plentymarkets.</p>
</div>
</div>
</div>
</main>