<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_log_einträge_filtern"><span>1.</span><span> Log-Einträge filtern</span></a></li>
<li><a href="#_vorgang_e_mail"><span>2.</span><span> Vorgang: E-Mail</span></a></li>
<li><a href="#_dhl_fulfillment_log_einträge"><span>3.</span><span> DHL Fulfillment-Log-Einträge</span></a>
<ul class="sectlevel2">
<li><a href="#_dhlfulfillment_itemmaster"><span>3.1.</span><span> DHLFulfillment ItemMaster</span></a></li>
<li><a href="#_dhlfulfillment_deliveryadvice"><span>3.2.</span><span> DHLFulfillment DeliveryAdvice</span></a></li>
<li><a href="#_dhlfulfillment_deliveryreceipt"><span>3.3.</span><span> DHLFulfillment DeliveryReceipt</span></a></li>
<li><a href="#_dhlfulfillment_stockadjustment"><span>3.4.</span><span> DHLFulfillment StockAdjustment</span></a></li>
<li><a href="#_dhlfulfillment_inventory"><span>3.5.</span><span> DHLFulfillment Inventory</span></a></li>
<li><a href="#_dhlfulfillment_order"><span>3.6.</span><span> DHLFulfillment Order</span></a></li>
<li><a href="#_dhlfulfillment_transport"><span>3.7.</span><span> DHLFulfillment Transport</span></a></li>
<li><a href="#_dhlfulfillment_orderreturned"><span>3.8.</span><span> DHLFulfillment OrderReturned</span></a></li>
<li><a href="#_dhlfulfillment_ordercanceled"><span>3.9.</span><span> DHLFulfillment OrderCanceled</span></a></li>
</ul>
</li>
<li><a href="#_atriga_log_einträge"><span>4.</span><span> atriga-Log-Einträge</span></a>
<ul class="sectlevel2">
<li><a href="#_atriga"><span>4.1.</span><span> atriga</span></a></li>
<li><a href="#_atrigapaymax"><span>4.2.</span><span> atrigapaymax</span></a></li>
</ul>
</li>
<li><a href="#_dpd_cloud_webservice_log_einträge"><span>5.</span><span> DPD Cloud Webservice-Log-Einträge</span></a>
<ul class="sectlevel2">
<li><a href="#_cloud_userdata_noaccess"><span>5.1.</span><span> CLOUD_USERDATA_NOACCESS</span></a></li>
<li><a href="#_cloud_address"><span>5.2.</span><span> CLOUD_ADDRESS</span></a></li>
<li><a href="#_cloud_api_order"><span>5.3.</span><span> CLOUD_API_ORDER</span></a></li>
</ul>
</li>
<li><a href="#_paypal_log_einträge"><span>6.</span><span> PayPal-Log-Einträge</span></a>
<ul class="sectlevel2">
<li><a href="#_cronpaypalsettlement"><span>6.1.</span><span> CronPayPalSettlement</span></a></li>
<li><a href="#_paypalsettlement"><span>6.2.</span><span> PayPalSettlement</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Alt: API-Log</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Daten » API Log</strong> finden Sie eine Historie über sowohl interne Vorgänge als auch über Vorgänge, die über Schnittstellen ausgeführt wurden. Jeder Vorgang erhält einen Eintrag.<br>
Neben dem allgemeinen API-Log finden Sie noch 4 weitere Tabs. Im Tab <strong>SOAP-Log</strong> finden Sie Informationen wie, wer wann welchen SOAP-Call ausgeführt hat. Im Tab <strong>SOAP-Statistik</strong> werden Zugriffszahlen aufgeführt. Im Amazon-API-Log sind die Log-Einträge zu Amazon noch einmal einzeln und teilweise auch ausführlicher aufgeführt. Über das Ordner-Symbol im Tab <strong>API-Log</strong> hinter einem Amazon-Eintrag gelangen Sie auch in das Amazon-API-Log. Im Versand-Center-API-Log finden Sie Meldungen zu Sendungen, die Sie über das Versand-Center angemeldet haben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_log_einträge_filtern">1. Log-Einträge filtern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Standardmäßig werden die Einträge absteigend nach ID aufgelistet. Die Einträge lassen sich filtern, so dass die Anzahl der aufgelisteten Einträge verringert wird. Zur Verfügung stehen Ihnen ein API-Namensfilter und ein Datumsfilter.</p>
</div>
<div class="paragraph instruction">
<p>Log-Einträge nach Name filtern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Daten » API Log</strong>.</p>
</li>
<li>
<p>Wählen Sie ein Format aus der Dropdown-Liste <strong>Vorgang</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>, um die Suche auszuführen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Format ist nicht aufgeführt</div>
<div class="paragraph">
<p>Die Formate stehen in der Dropdown-Liste <strong>Vorgang</strong> erst dann zur Verfügung, wenn der Prozess ausgeführt und protokolliert wurde. Wenn Sie neue Formate hier nicht finden, wurde der Prozess noch nicht ausgeführt oder es kam z.B. noch nicht zu einem entsprechenden Fehler.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Log-Einträge nach Datum filtern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Daten » API Log</strong>.</p>
</li>
<li>
<p>Wählen Sie einen <strong>Datum</strong> aus dem Kalender.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>, um die Suche auszuführen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Natürlich lassen sich beide Filter auch kombinieren, um nur Einträge eines Formates eines Tages zu erhalten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_vorgang_e_mail">2. Vorgang: E-Mail</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Vorgang <strong>E-Mail</strong> enthält Logs zu Meldungen, die z.B. bei Fehlern mit E-Mails oder bei der Konfiguration von E-Mail-Konten oder E-Mail-Adressen auftreten. Der Vorgang wird beim ersten Fehler in der Dropdown-Liste angelegt. In einer Fehlermeldung, z.B. beim erfolglosem Versand einer E-Mail, werden folgende Informationen angezeigt: Kunden-ID, Auftrags-ID und Fehlermeldung des Providers. Diese Information wird auch im Log-Eintrag angezeigt.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ereignis</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Error sending email. CustomerId: 136 OrderId: 550 (Code 535): 5.7.8 Error: authentication failed: UGFzc3dvcmQ6</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail wurde nicht versendet. Die Authentifizierung ist fehlgeschlagen aufgrund von fehlerhaften Parametern des E-Mail-Kontos, z.B. falsches Passwort oder ein nicht korrekter Benutzername.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Error sending email. CustomerId: 153 OrderId: 103 (Code 0): stream_socket_client(): unable to connect to tcp://mail.servername.com:XXX (Connection refused)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail wurde nicht versendet aufgrund einer fehlerhaften Portangabe. XXX = Port</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_dhl_fulfillment_log_einträge">3. DHL Fulfillment-Log-Einträge</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel finden Sie alle Einträge, die im Zusammenhang mit der Nutzung von DHL Fulfillment im Log aufgeführt werden können. Es gibt Vorgänge, bei denen Informationen an DHL Fulfillment übertragen werden. Bei Einträgen zu diesen Vorgängen gibt es jeweils 3 Ereignisse und es gibt Vorgänge, bei denen Informationen von DHL Fulfillment abgefragt werden. Bei diesen Vorgängen gibt es ein Ereignis.</p>
</div>
<div class="sect2">
<h3 id="_dhlfulfillment_itemmaster">3.1. DHLFulfillment ItemMaster</h3>
<div class="paragraph">
<p>Dieser Eintrag erfolgt im Log bei Anmeldung des Artikelstammes. Der Eintrag selbst sagt noch nichts darüber aus, ob die Artikel tatsächlich erfolgreich übertragen wurden oder nicht. Für diesen Eintrag gibt es 3 mögliche Ereignisse, die über den genauen Status der Übertragung informieren.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ereignis</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Successfully transmitted ItemMaster</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelstamm wurde übermittelt. Wie viele Aufträge fehlerfrei angemeldet wurden, wird in einem weiteren Ereignis angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Could not transmit ItemMaster</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelstamm wurde nicht übermittelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Count ItemMaster: xxx entries done and xxx errors!</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Artikel, deren Artikelstamm übertragen wurde und Anzahl der Artikel, deren Artikelstamm nicht übertragen wurde.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_dhlfulfillment_deliveryadvice">3.2. DHLFulfillment DeliveryAdvice</h3>
<div class="paragraph">
<p>Dieser Eintrag erfolgt im Log bei Übertragung einer Vorabinformation über nachbestellte Ware, die demnächst geliefert wird. Der Eintrag selbst sagt noch nichts darüber aus, ob die Vorabinformation tatsächlich erfolgreich übertragen wurden oder nicht. Für diesen Eintrag gibt es 3 mögliche Ereignisse, die über den genauen Status der Übertragung informieren. Die in der Spalte Paramenter angegebenen Parameter sind Nachbestellungs-IDs.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ereignis</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Successfully transmitted DeliveryAdvices!</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestellungen wurden übermittelt. Wie viele Bestellungen fehlerfrei angemeldet wurden, wird in einem weiteren Ereignis angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Could not transmit DeliveryAdvices</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestellungen wurden nicht übermittelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Count DeliveryAdvice: xxx entries done and xxx errors!</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Bestellungen, die angemeldet wurden und Anzahl der Bestellungen, die nicht angemeldet wurden.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_dhlfulfillment_deliveryreceipt">3.3. DHLFulfillment DeliveryReceipt</h3>
<div class="paragraph">
<p>Dieser Eintrag erfolgt im Log bei Abfrage zur Lieferung von Nachbestellungen. Für diesen Eintrag gibt es 1 mögliches Ereignis, das angibt aus wie vielen Nachbestellungen Lieferungen eingegangen sind. Die Information sagt aber nicht aus, dass die Lieferung zu einer Nachbestellung vollständig war. In der <a href="/warenwirtschaft/nachbestellungen-vornehmen">Nachbestellung</a> selbst wird angezeigt welche Artikel geliefert wurden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ereignis</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DHLFulfillment Delivery Receipt! Count Entries: xxx</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Nachbestellungen aus denen Lieferungen eingegangen sind.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_dhlfulfillment_stockadjustment">3.4. DHLFulfillment StockAdjustment</h3>
<div class="paragraph">
<p>Dieser Eintrag erfolgt im Log bei Abfrage der Bestandsbewegungen. Für diesen Eintrag gibt es 1 mögliches Ereignis, das über die Anzahl der Bestandsbewegungen informiert.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ereignis</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Processed StockAdjustment! Count Entries: xxx</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Bestandsbewegungen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_dhlfulfillment_inventory">3.5. DHLFulfillment Inventory</h3>
<div class="paragraph">
<p>Dieser Eintrag erfolgt im Log bei Abfrage der aktuellen Bestände, auch Inventurabgleich genannt. Für diesen Eintrag gibt es 1 mögliches Ereignis, das die Anzahl der abgeglichen Bestände angibt.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ereignis</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Processed Inventory! Count Entries: xxx</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Artikel, bei denen der Bestand abgeglichen wurde.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_dhlfulfillment_order">3.6. DHLFulfillment Order</h3>
<div class="paragraph">
<p>Dieser Eintrag erfolgt im Log beim Anmelden von Aufträgen. Für diesen Eintrag gibt es 3 mögliche Ereignisse, die über den genauen Status der Anmeldung informieren. Die in der Spalte Paramenter angegebenen Parameter sind Auftrag-IDs.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ereignis</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Successfully transmitted Order!</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge wurden übermittelt. Wie viele Aufträge fehlerfrei angemeldet wurden, wird in einem weiteren Ereignis angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Could not transmit Orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge wurden nicht übermittelt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Count Order: xxx entries done and xxx errors!</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Genaue Anzahl der Aufträge, die angemeldet wurden und Anzahl der Aufträge, die nicht angemeldet wurden.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn ein Auftrag nicht angemeldet werden konnte und die Anmeldung erneut vorgenommen wird, ändert plentymarkets beim Anmelden automatisch die ID des Auftrags, da DHL Fulfillment trotz fehlgeschlagener Anmeldung jede Auftrags-ID nur einmal akzeptiert. In der Spalte Parameter wird trotzdem die korrekte Auftrags-ID aus plentymarkets angezeigt. Die Datei, die unter Vorgang angezeigt wird, enthält hingegen die ID, mit der der Auftrag bei DHL Fulfillment angemeldet wurde.</p>
</div>
</div>
<div class="sect2">
<h3 id="_dhlfulfillment_transport">3.7. DHLFulfillment Transport</h3>
<div class="paragraph">
<p>Dieser Eintrag erfolgt im Log bei der Abfrage nach versendeten Aufträgen. Für diesen Eintrag gibt es 1 mögliches Ereignis, das über versendet oder nicht informiert. Es kann sein, dass ein Auftrag in mehrere Lieferaufträge gesplittet wird, weil einige Artikel eher verschickt werden oder ein Auftrag wird generell in mehreren Paketen versendet. In der Spalte Paramenter sind Auftrag-IDs und auch IDs der Lieferaufträge aufgeführt. Wenn Lieferäufträge angelegt wurden, werden der Lieferauftrag und der Auftrag durch Schrägstrich (/) getrennt angegeben. Im Beispiel 1957/1956 bedeutet das, dass ein Lieferauftrag mit der ID 1957 zum Auftrag mit der ID 1956 angelegt wurde.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ereignis</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Processed Transport! Count Entries: xxx, Count Errors: xxx</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Count Entries</strong> = Anzahl der Aufträge, die versendet wurden.<br>
<strong>Count Errors</strong> = Anzahl der versendeten Aufträge, die keinem Auftrag zugeordnet werden konnten. Gründe hierfür sind vielfältig, z.B. wenn der Auftrag nicht im System gefunden wurde oder wenn nur ein Teil der Ware verschickt wurde und darum der Auftrag noch nicht vollständig versendet wurde. Wenn nur ein Teil der Ware durch DHL Fulfillment versendet wurde, wird ein Lieferauftrag für die bereits versendeten Artikel angelegt.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_dhlfulfillment_orderreturned">3.8. DHLFulfillment OrderReturned</h3>
<div class="paragraph">
<p>Dieser Eintrag erfolgt im Log bei der Abfrage von Retouren. Für diesen Eintrag gibt es 1 mögliches Ereignis, das über die abgerufenen Retouren informiert. Die in der Spalte Paramenter angegebenen Parameter sind Auftrag-IDs von Aufträgen zu denen Retouren angelegt wurden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ereignis</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Processed OrderReturned! Count Entries: xxx, Count Errors: xxx</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Count Entries</strong> = gibt an, wie viele Retouren in plentymarkets angelegt wurden.<br>
<strong>Count Errors</strong> = gibt an, zu wie vielen abgerufenen Retouren von DHL Fulfillment keine Retoure in Ihrem System angelegt werden konnte. Hierfür gibt es verschiedene Ursachen. Eine Möglichkeit ist, dass der Hauptauftrag zu dem die Retoure angelegt werden sollte, nicht gefunden wurde, weil er vielleicht schon gelöscht wurde etc.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_dhlfulfillment_ordercanceled">3.9. DHLFulfillment OrderCanceled</h3>
<div class="paragraph">
<p>Der Eintrag im Log erfolgt bei der Abfrage von Stornierungen, d.h. die Stornierung kommt von DHL Fulfillment. Gründe für eine Stornierung durch DHL Fulfillment kann u.a. fehlerhafte Ware oder ähnliches sein. Für diesen Eintrag gibt es 1 mögliches Ereignis, das über abgefragte Stornierungen informiert. Die in der Spalte Paramenter angegebenen Parameter sind Auftrag-IDs von Aufträgen zu denen eine Stornierung in Ihrem System angelegt wurde.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ereignis</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Processed OrderCanceled! Count Entries: xxx, Count Errors: xxx</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Count Entries</strong> = gibt an, wie viele Stornierungen in plentymarkets angelegt wurden.<br>
<strong>Count Errors</strong> = gibt an, zu wie vielen abgerufenen Stornierungen von DHL Fulfillment keine Stornierung in Ihrem System angelegt werden konnte. Hierfür gibt es verschiedene Ursachen. Eine Möglichkeit ist, dass der Hauptauftrag zu dem die Stornierung angelegt werden sollte, nicht gefunden wurde, weil er vielleicht schon gelöscht wurde etc.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="_atriga_log_einträge">4. atriga-Log-Einträge</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel finden Sie alle Einträge, die im Zusammenhang mit der Nutzung von atriga und atrigapaymax im Log aufgeführt werden können.</p>
</div>
<div class="sect2">
<h3 id="_atriga">4.1. atriga</h3>
<div class="paragraph">
<p>Die Log-Einträge zu atriga dienen der Informaiton über freigeschaltete Produkte.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Parameter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>atriga-Request</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anfrage an atriga, um zu ermitteln, ob das Produkt atrigapaymax freigeschaltet ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>atriga-Response</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Antwort von atriga mit der Inforamtion, ob atrigapaymax freigeschaltet ist.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_atrigapaymax">4.2. atrigapaymax</h3>
<div class="paragraph">
<p>Die Log-Einträge zu atrigapaymax enthalten Informationen zur Bonitätsprüfung.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Parameter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Atrigapaymax-Request</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anfrage an atriagapaymax, um eine Bonitätsprüfung auszuführen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Atrigapaymax-Response</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Antwort auf die Anfrage mit dem Ergebnis der Bonitätsprüfung.<br>
Wenn die Prüfung fehlgeschlagen ist, enthält die Response einen Fehler. Für den Kunden werden bei einem Fehler die Einstellungen für ein negatives Bonitätsergebnis, <a href="/payment/zahlungsanbieter/atriga">rote Bonität</a>, verwendet.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="_dpd_cloud_webservice_log_einträge">5. DPD Cloud Webservice-Log-Einträge</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel finden Sie Hinweise zu Einträgen, die im Zusammenhang mit der Nutzung von DPD Cloud Webservice im Log aufgeführt werden können. Wählen Sie im Tab <strong>Versand Center API-Log</strong> den Vorgang <strong>DPDCloudWebservice</strong>.</p>
</div>
<div class="sect2">
<h3 id="_cloud_userdata_noaccess">5.1. CLOUD_USERDATA_NOACCESS</h3>
<div class="paragraph">
<p>Dieser Eintrag erfolgt im Log, wenn der Zugriff verweigert wird.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Meldung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CLOUD_USERDATA_NOACCESS_SHIPMENTSERVICE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kein Zugriffsrecht auf den Versandservice.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CLOUD_USERDATA_NOACCESS_COD</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kein Zugriffsrecht auf den Versandservice <strong>Nachnahme</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CLOUD_USERDATA_NOACCESS_PREDICT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kein Zugriffsrecht auf den Versandservice <strong>Predict</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_cloud_address">5.2. CLOUD_ADDRESS</h3>
<div class="paragraph">
<p>Dieser Eintrag erfolgt im Log bei fehlerhaften oder fehlenden Adressdaten. Möglich ist auch eine Überschreitung der maximalen Zeichenlänge eines Parameters. In der Tabelle sind einige Beispiele aufgeführt, die Liste ist nicht vollständig.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Meldung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CLOUD_ADDRESS_PHONE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Telefonnummer falsch oder fehlt. Format: 5 bis 20 Zeichen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CLOUD_ADDRESS_NEEDMAIL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail fehlt; die Angabe der E-Mail-Adresse des Empfängers ist Pflicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CLOUD_STATE_STATESHORT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Land nach ISO3166-2 Format: genau 2 Zeichen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CLOUD_ADDRESS_COMPANYANDNAMEEMPTY</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Firma oder Name erforderlich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CLOUD_API_ORDER_WEIGHT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximales Gewicht überschritten. Maximal können 31,5 kg verschickt werden.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_cloud_api_order">5.3. CLOUD_API_ORDER</h3>
<div class="paragraph">
<p>Dieser Eintrag erfolgt im Log bei Fehlern im Zusammenhang mit der Anmeldung der Versandaufträge.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ereignis</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CLOUD_API_ORDER_MAXORDERS</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximale Anzahl der angemeldeten Versandaufträge überschritten. Es ist nicht möglich, mehrere Sendungen gleichzeitig anzumelden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CLOUD_API_ORDER_SHIPSERVICE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ungültiger Versandservice.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CLOUD_API_ORDER_CODAMOUNT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unzulässiger Nachnahmebetrag. Dieser muss im Bereich zwischen 1.00 und 5000.00 Euro liegen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CLOUD_API_ORDER_EXPRESS_DEU_COUNTRY</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gewählte Express-Option nur für Deutschland möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CLOUD_API_ORDER_CODPURPOSE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachnahme-Referenz enthält zu viele Zeichen. Es sind maximal 14 Zeichen möglich.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="_paypal_log_einträge">6. PayPal-Log-Einträge</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel finden Sie alle Einträge, die im Zusammenhang mit der Nutzung des Abrufes der <a href="/payment/zahlungsanbieter/paypal#80">PayPal-Abrechnungsberichte</a> im Log aufgeführt werden können.</p>
</div>
<div class="sect2">
<h3 id="_cronpaypalsettlement">6.1. CronPayPalSettlement</h3>
<div class="paragraph">
<p>Die Log-Einträge zu CronPayPalSettlement betreffen den generellen Verbindungsaufbau zum SFTP-Server von PayPal.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ereignis</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal SFTP connection established</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verbindung mit dem SFTP-Server von PayPal wurde aufgebaut.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal SFTP xxx files downloaded</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt die Anzahl der heruntergeladenen CSV-Dateien an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal SFTP no files found in /ppreports/outgoing directory</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt an, dass keine Dateien zum Herunterladen gefunden wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal SFTP disconnect</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt an, dass die Verbindung zum Server beendet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal SFTP Exception: …​</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt im Fehlerfall die Fehlermeldung des Servers aus.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_paypalsettlement">6.2. PayPalSettlement</h3>
<div class="paragraph">
<p>Die Log-Einträge zu PayPalSettlement betreffen die in den Abrechnungsberichten enthaltenen Transaktionen. Die Transaktions-ID von PayPal wird in plentymarkets im Verwendungszweck einer <a href="/payment/zahlungen-verwalten">Zahlung</a> angezeigt.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ereignis</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>The settlement report xxx contains xxx lines and xxx transactions.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt die Anzahl der Zeilen des Berichts und die enthaltenen Transaktionen an. Ob und wie die Transaktionen verarbeitet wurden, gibt dieses Ereignis nicht an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>xxx of xxx transactions were successfully assigned. xxx transactions were not assigned.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gibt die Gesamtanzahl der Transaktionen eines Abrechnungsberichtes an und wie viele dieser Transaktionen einem Auftrag zugeordnet werden konnten und wie viele nicht. Wenn eine Transaktion nicht verarbeitet wurde, kann es sein, dass kein Auftrag gefunden wurde, zu dem die Transaktion passt oder dass die Zahlung bereits dem Auftrag zugewiesen wurde und deshalb die Transaktion aus der Datei nicht mehr zugeordnet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>The settlement report xxx could not be opened.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wird angezeigt, wenn die Datei nicht mehr vorhanden oder nicht lesbar ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaction xxx was assigned.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wird für jede verarbeitete Transaktion aufgeführt. Die Transaktion stammt dem Abrechnungsbericht, der im zuletzt davor aufgeführten Ereignis <strong>The settlement report xxx contains xxx lines and xxx transactions</strong> genannt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaction xxx was not assigned.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wird für jede nicht verarbeitete Transaktion aufgeführt. Die Transaktion stammt dem Abrechnungsbericht, der im zuletzt davor aufgeführten Ereignis <strong>The settlement report xxx contains xxx lines and xxx transactions</strong> genannt wird.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>