<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_backup_und_wiederherstellung"><span>1.</span><span> Backup und Wiederherstellung</span></a>
<ul class="sectlevel2">
<li><a href="#_backup_lokal_speichern"><span>1.1.</span><span> Backup lokal speichern</span></a></li>
<li><a href="#_backup_einspielen"><span>1.2.</span><span> Backup einspielen</span></a></li>
<li><a href="#_backup_logs_anzeigen"><span>1.3.</span><span> Backup-Logs anzeigen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Datenbank-Backup durchführen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit der Backup-Funktion des Menüs <strong>Einrichtung » Einstellungen » Daten » Backup</strong> setzt du Daten in der Datenbank auf einen früheren Stand zurück oder stellst gelöschte Daten wieder her.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Einschränkungen</div>
<div class="paragraph">
<p>Die Backup-Funktion ist nur innerhalb der gleichen plentymarkets Version verfügbar. Du kannst also kein Backup einer älteren Version von plentymarkets einspielen. Außerdem handelt es sich bei dieser Funktion um ein Backup der Datenbank. In der Cloud gespeicherte Inhalte wie Auftragsdokumente oder Artikelbilder können mit dieser Funktion <strong>nicht</strong> wiederhergestellt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_backup_und_wiederherstellung">1. Backup und Wiederherstellung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Menü <strong>Einrichtung » Einstellungen » Daten » Backup</strong>  bietet eine Übersicht über die durchgeführten Backups. Dort werden die Backups, die automatisch einmal täglich erstellt werden, mit dem entsprechenden Datum aufgelistet.</p>
</div>
<div class="sect2">
<h3 id="_backup_lokal_speichern">1.1. Backup lokal speichern</h3>
<div class="paragraph">
<p>Du kannst Backup-Dateien als zusätzliche Sicherung lokal abspeichern. Gehe dazu wie folgt vor.</p>
</div>
<div class="paragraph instruction">
<p>Backup lokal speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Daten » Backup</strong>.</p>
</li>
<li>
<p>Wähle das Backup, das du herunterladen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Backup herunterladen</strong> (<span class="icon"><i class="fa fa-download" style="color:purple"></i></span>).<br>
→ Das Backup wird lokal in komprimierter Form heruntergeladen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Warten auf Backup</div>
<div class="paragraph">
<p>Bei größeren Dateien dauert der Download länger. Sobald der Vorgang abgeschlossen ist, wird die Schaltfläche zum Downloaden aktiviert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_backup_einspielen">1.2. Backup einspielen</h3>
<div class="paragraph">
<p>Du kannst dein System jederzeit auf den Stand eines beliebigen Backups zurücksetzen.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Möglicher Datenverlust</div>
<div class="paragraph">
<p>Beachte, dass durch das Importieren eines Backups aktuelle Daten überschrieben werden und Daten, die seit der letzten Backup-Erstellung verändert wurden, unwiderruflich verloren gehen können.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Backup einspielen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Daten » Backup</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Backup einspielen</strong> (<span class="icon"><i class="fa fa-upload" style="color:purple"></i></span>).<br>
→ Das Fenster zum Einspielen von Backups wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Einstellungen in <a href="#tabelle-import-optionen">Tabelle 1</a> und <a href="#tabelle-backup-typen">Tabelle 2</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Backup einspielen</strong>, um das Backup einzuspielen.<br>
→ Das Backup wird eingespielt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Im Dropdown-Menü gibt es zwei verschiedene Import-Optionen.</p>
</div>
<table id="tabelle-import-optionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Import-Optionen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Import-Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datenbank teilweise importieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier können die Bereiche ausgewählt werden, die eingespielt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datenbank komplett importieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier werden sämtliche vorhandene Daten berücksichtigt und wiederhergestellt.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wähle den Bereich des Systems, der zurückgesetzt werden soll oder in dem gelöschte Daten wiederhergestellt werden sollen.</p>
</div>
<table id="tabelle-backup-typen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Backup-Typen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Backup-Typ</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account</strong><br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt Firmendatensätze inklusive Adressen, deren Relation zur Firma, Adressoptionen, Kontakte, deren Relation zur Firma, Kontaktoptionen, Kontakttyp, Bankdaten, Kontakteigenschaften, erlaubte Zahlungsarten, Events und die Auftragsübersicht wieder her.<br>
Nachrichten (ehemals Notizen) werden nicht berücksichtigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category</strong><br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Kategorien und die Kategoriebaumstruktur im Menü <strong>Artikel » Kategorien</strong> wieder her.<br>
Die Kategorien werden dabei nicht mit den einzelnen Varianten verknüpft. Verwende den Backup-Typ <strong>ItemVariationCategoryValues</strong>, um allein die Kategorieverknüpfungen wiederherzustellen. Verwende alternativ den Backup-Typ <strong>ItemVariation</strong>, um die Kategorieverknüpfungen zusammen mit weiteren Variantendaten wiederherzustellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listing</strong><br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt Informationen zu Listings und Market-Listings, Listingtexte (Titel, Untertitel, Beschreibung), alle Informationen im <strong>Marktplatz</strong>-Tab eines Listings, eBay-Merkmale, Optionenvorlagen, Verkaufsplaner, Listing-Verzeichnisse, aktive Listings und die Auflistung zukünftiger Listings wieder her.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt alle Aufträge und die dazugehörigen Auftragsinformationen (auch Nachbestellungen) wieder her.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Process</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Prozesse im Menü <strong>Einrichtung » Prozesse</strong> inklusive deren Arbeitsschritte, Aktionen, Subaktionen und Steuerelemente wieder her.<br>
<a href="/automatisierung/prozesse/prozesse-einrichten#220">Systemspezifische Einstellungen</a> wie Drucker und Status müssen ggf. neu gewählt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ticket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt Ticket-Daten, Ordner, Eigner, Fragen, Rollen, Typen, Referenzen, Status und Templates wieder her.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt im System registrierte Nutzer und die von diesen vorgenommenen Einstellungen (Rechte, Rollen etc.) wieder her.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt Lager und den Lageraufbau, wie z.B. Dimensionen und Lagerorte, wieder her.<br>
Beinhaltet nicht den Warenbestand. Jedoch kann der <a href="https://knowledge.plentymarkets.com/warenwirtschaft/best-practices-warenbestand">Warenbestand täglich gesichert</a> und somit ein Backup erstellt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FacetDefinition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Facetten, Werte und Einstellungen im Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong> wieder her.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt Artikeldatensätze inklusive deren Beschreibungen, Versandprofil-Verknüpfungen, Cross-Selling-Einstellungen, FBA-Einstellungen und Artikelsets wieder her.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemAttribute</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Attribute und Attributwerte im Menü <strong>Einrichtung » Artikel » Attribute</strong> wieder her.<br>
Die Attribute werden dabei nicht mit den einzelnen Varianten verknüpft. Verwende den Backup-Typ <strong>ItemVariation</strong>, um die Verknüpfungen zusammen mit weiteren Variantendaten wiederherzustellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemBarcodeDefinition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Barcodes im Menü <strong>Einrichtung » Artikel » Barcode</strong> wieder her.<br>
Die Barcodes werden dabei nicht mit den einzelnen Varianten verknüpft. Verwende den Backup-Typ <strong>ItemVariation</strong>, um die Verknüpfungen zusammen mit weiteren Variantendaten wiederherzustellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemCharacterDefinition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Merkmale und Merkmalgruppen im Menü <strong>Einrichtung » Artikel » Merkmale</strong> wieder her.<br>
Die Merkmale werden dabei nicht mit den einzelnen Artikeln verknüpft. Verwende den Backup-Typ <strong>ItemCharacterValues</strong>, um die Werte der Merkmalverknüpfungen wiederherzustellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemCharacterValues</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Werte der Merkmalverknüpfungen, die direkt am Artikel im Tab <strong>Merkmale</strong> gespeichert sind, wieder her.<br>
Setzt voraus, dass die Merkmale und Merkmalgruppen bereits existieren oder mit dem Backup-Typ <strong>ItemCharacterDefinition</strong> bereits wiederhergestellt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemPriceCalculation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Preiskalkulationen im Menü <strong>Einrichtung » Artikel » Preiskalkulation</strong> wieder her.<br>
Die Preiskalkulationen werden dabei nicht mit den einzelnen Varianten verknüpft. Verwende den Backup-Typ <strong>ItemVariation</strong>, um die Verknüpfungen zusammen mit weiteren Variantendaten wiederherzustellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemManufacturer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Herstellerdaten im Menü <strong>Einrichtung » Artikel » Hersteller</strong> wieder her.<br>
Die Hersteller werden dabei nicht mit den einzelnen Varianten verknüpft. Verwende den Backup-Typ <strong>ItemVariation</strong>, um die Verknüpfungen zusammen mit weiteren Variantendaten wiederherzustellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemSalesPriceDefinition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Verkaufspreise im Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong> wieder her.<br>
Die Verkaufspreise werden dabei nicht mit den einzelnen Varianten verknüpft und die monetären Preise werden nicht eingetragen. Verwende den Backup-Typ <strong>ItemVariationSalesPriceValues</strong>, um allein die Verknüpfungen und Preise wiederherzustellen. Verwende alternativ den Backup-Typ <strong>ItemVariation</strong>, um die Verknüpfungen und Preise zusammen mit weiteren Variantendaten wiederherzustellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemUnit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Einheiten im Menü <strong>Einrichtung » Artikel » Einheiten</strong> wieder her.<br>
Die Einheiten werden dabei nicht mit den einzelnen Varianten verknüpft. Verwende den Backup-Typ <strong>ItemVariation</strong>, um die Verknüpfungen zusammen mit weiteren Variantendaten wiederherzustellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemVariation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt Variantendatensätze inklusive allen Verknüpfungen, wie z.B. Barcodes, Kategorien, Standard-Kategorien, Bilder, ASIN, Preise, Lieferanten, Lager usw., wieder her.
Artikelpakete werden ebenfalls wiederhergestellt.<br>
Setzt voraus, dass die zu verknüpfenden Barcodes, Kategorien, Bilder usw. bereits existieren oder mit dem entsprechenden Backup-Typ wiederhergestellt wurden.
Tags werden nicht wiederhergestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemVariationCategoryValues</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Kategorieverknüpfungen, die direkt an der Variante im Tab <strong>Kategorien</strong> gespeichert sind, wieder her.<br>
Verwende alternativ den Backup-Typ <strong>ItemVariation</strong>, um die Kategorieverknüpfungen zusammen mit weiteren Variantendaten wiederherzustellen. Setzt voraus, dass die Kategorien und die Kategoriebaumstruktur bereits existieren oder mit dem Backup-Typ <strong>Category</strong> wiederhergestellt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemVariationSalesPriceValues</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Verkaufspreisverknüpfungen und monetären Preise, die direkt an der Variante im Tab <strong>Einstellungen</strong> gespeichert sind, wieder her.
Verwende alternativ den Backup-Typ <strong>ItemVariation</strong>, um die Verknüpfungen und Preise zusammen mit weiteren Variantendaten wiederherzustellen.<br>
Setzt voraus, dass die Verkaufspreise bereits existieren oder mit dem Backup-Typ <strong>ItemSalesPriceDefinition</strong> wiederhergestellt wurden.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_backup_logs_anzeigen">1.3. Backup-Logs anzeigen</h3>
<div class="paragraph">
<p>Mit Klick auf die Schaltfläche in der Toolbar werden Backup-Logs und eventuelle Fehlermeldungen angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Backup-Logs anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Gehe zu <strong>Einrichtung » Einstellungen » Daten » Backup</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Zeige Backup-Logs</strong>.<br>
→ Das Fenster mit den Backup-Logs wird geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mehr Informationen findest du auf der Handbuchseite zum <a href="/daten/datenlog">Daten-Log</a>.</p>
</div>
</div>
</div>
</div>
</main>