<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Logs konfigurieren</span></a></li>
<li><a href="#20"><span>2.</span><span> Nach Log-Einträgen suchen</span></a></li>
<li><a href="#30"><span>3.</span><span> Nach Integration filtern</span></a></li>
<li><a href="#40"><span>4.</span><span> Nach Identifikator filtern</span></a></li>
<li><a href="#50"><span>5.</span><span> Nach Level filtern</span></a></li>
<li><a href="#60"><span>6.</span><span> Nach Referenztyp filtern</span></a></li>
<li><a href="#70"><span>7.</span><span> Nach Referenzwert filtern</span></a></li>
<li><a href="#80"><span>8.</span><span> Nach Datum filtern</span></a></li>
<li><a href="#90"><span>9.</span><span> Nach Uhrzeit filtern</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Daten-Log</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü unter <strong>Daten » Log</strong> werden alle Log-Einträge angezeigt. Diese Log-Einträge sind für 4 Wochen verfügbar, bevor die Einträge gelöscht werden. Logs können einzeln aktiviert werden und zusätzlich kann für jeden Log-Eintrag die Dauer eingestellt werden, mit der festgelegt wird, wie lange der Log-Eintrag aktiv bleiben soll.</p>
</div>
<table id="tabelle-informationen-tabellen-header" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Informationen im Tabellen-Header</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Titel</th>
<th class="tableblock halign-left valign-top">Info</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeitstempel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitstempel des jeweiligen Log-Eintrags</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Level</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzeige des Log-Levels wie <strong>Info</strong>, <strong>Error</strong> etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Integration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bereich, in dem sich der Log-Eintrag im Code befindet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Identifikator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unterbereich, zu dem der Log gehört</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referenz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Referenztyp mit der entsprechenden ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachricht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erklärung zum Log oder, falls vorhanden, zum Fehler</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Mit Klick auf eine Zeile öffnet sich die Detailansicht und es werden weitere Infos zum Log angezeigt. In diesem Fenster kann zum vorigen oder nächsten Eintrag gesprungen werden und die Anzeige kann ein- oder ausgeklappt werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Logs konfigurieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Meldungen der entsprechenden Log-Bereiche angezeigt werden, müssen diese unter <strong>Logs konfigurieren » Einstellungen</strong> erst aktiv gesetzt werden. Sie werden maximal 4 Wochen auf dem Server gespeichert.
Im Dropdown-Menü der Log-Level werden die verschiedenen Level mit aufsteigender Priorität angezeigt.
Du kannst hier auch die Dauer einstellen, für die ein Log-Eintrag aktiv bleiben soll.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Aktivierung notwendig</div>
Während die Log-Level Error, Critical, Alert und Emergency automatisch angezeigt werden, müssen Debug, Info, Notice und Warning erst aktiv gesetzt werden.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Logs konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Log</strong>.</p>
</li>
<li>
<p>Klicke in der Toolbar auf <strong>Logs konfigurieren</strong> (<span class="icon"><i class="fa fa-cog"></i></span>).<br>
→ Das Fenster <strong>Log-Konfiguration</strong> wird geöffnet. Auf der linken Seite werden die bereits installierten Plugins sowie die Standardbereiche angezeigt. Auf der rechten Seite kannst du die Einstellungen vornehmen.</p>
</li>
<li>
<p>Wähle den Bereich, in dem du Logs konfigurieren möchtest.</p>
</li>
<li>
<p>Setze auf der rechten Seite das Häkchen im Feld <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Wähle die Dauer, für die das Log-Level in diesem Bereich aktiv bleiben soll.</p>
</li>
<li>
<p>Wähle das Log-Level. Beachte dazu die Informationen in der <a href="#tabelle-bedeutung-log-level">Tabelle 2</a>.</p>
</li>
<li>
<p>Speichere (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-bedeutung-log-level" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Bedeutung der verschiedenen Log-Level</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 66.6666%;">
<col style="width: 16.6668%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Log-Level</th>
<th class="tableblock halign-left valign-top">Bedeutung</th>
<th class="tableblock halign-left valign-top">Standardmäßig aktiviert</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Debug</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Detaillierte Statusmeldungen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nein</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Allgemeine Informationen zum System</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nein</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Notice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine zu klärende, aber nicht dringende Fehlermeldung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nein</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warning</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Etwas läuft nicht wie gewünscht. Es muss sich aber um keinen Fehler handeln.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nein</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Error</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standard-Systemfehler; bei Fehlern läuft das System in der Regel weiter.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ja</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Critical</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Fehler können zum Systemabsturz führen (Laufzeitfehler).</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ja</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es muss sofort reagiert werden (z.B. sind Webshop oder Datenbank nicht erreichbar).</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ja</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Emergency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Absoluter Notfall. Das gesamte System funktioniert nicht.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ja</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Nach Log-Einträgen suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Auf der linken Seite lassen sich verschiedene Filter setzen, mit denen eine Vielzahl von Log-Einträgen auf bestimmte Treffer reduziert werden kann.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Reduzierung der Einträge</div>
Die Einträge in den Dropdown-Menüs werden auf die Stichworte reduziert, die tatsächlich in den Suchergebnissen existieren.
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Nach Integration filtern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hier wird der Bereich angezeigt, aus dem der Log-Aufruf gemacht wurde.</p>
</div>
<div class="paragraph instruction">
<p>Nach der Variable <strong>Integration</strong> filtern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Log</strong>.</p>
</li>
<li>
<p>Klicke auf das Feld <strong>Integration</strong>.<br>
→ Eine Liste mit verschiedenen Optionen wird geöffnet.</p>
</li>
<li>
<p>Wähle einen Bereich aus.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die entsprechenden Log-Einträge werden angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Nach Identifikator filtern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Identifikator gibt an, zu welchem Unterbereich der Log gehört.</p>
</div>
<div class="paragraph instruction">
<p>Nach der Variable <strong>Identifikator</strong> filtern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Log</strong>.</p>
</li>
<li>
<p>Klicke auf das Feld <strong>Identifikator</strong>.<br>
→ Eine Liste mit verschiedenen Optionen wird geöffnet.</p>
</li>
<li>
<p>Wähle einen Identifikator aus.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die entsprechenden Log-Einträge werden angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Nach Level filtern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hier werden verschiedene Log-Level wie <strong>Error</strong>, <strong>Info</strong> etc. angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Nach der Variable <strong>Level</strong> filtern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Log</strong>.</p>
</li>
<li>
<p>Klicke auf das Feld <strong>Level</strong>.<br>
→ Eine Liste mit verschiedenen Optionen wird geöffnet.</p>
</li>
<li>
<p>Wähle ein Level aus.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die entsprechenden Log-Einträge werden angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Hierfür müssen bereits alle Level aktiv gesetzt sein.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Nach Referenztyp filtern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hier wird der Referenztyp angegeben, zu dem der Eintrag gehört (z.B. VariationID, OrderID etc.).</p>
</div>
<div class="paragraph instruction">
<p>Nach der Variable <strong>Referenztyp</strong> filtern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Log</strong>.</p>
</li>
<li>
<p>Klicke auf das Feld <strong>Referenztyp</strong>.<br>
→ Eine Liste mit verschiedenen Optionen wird geöffnet.</p>
</li>
<li>
<p>Wähle einen Referenztyp aus.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die entsprechenden Log-Einträge werden angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. Nach Referenzwert filtern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hier wird der Wert der Referenz angegeben. Beispielsweise wäre das beim Referenztyp <strong>ItemID</strong> der Wert dieser ID. Die Suchergebnisse werden auf Treffer mit diesem Wert reduziert.</p>
</div>
<div class="paragraph instruction">
<p>Nach der Variable <strong>Referenzwert</strong> filtern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Log</strong>.</p>
</li>
<li>
<p>Klicke auf das Feld <strong>Referenzwert</strong>.</p>
</li>
<li>
<p>Gib einen Referenzwert ein.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die entsprechenden Log-Einträge werden angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="80">8. Nach Datum filtern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hier können die Suchergebnisse individuell eingestellt und auf einen zeitlichen Rahmen begrenzt werden.</p>
</div>
<div class="paragraph instruction">
<p>Nach der Variable <strong>Datum</strong> filtern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Log</strong>.</p>
</li>
<li>
<p>Wähle ein Startdatum.</p>
</li>
<li>
<p>Wähle ein Enddatum.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die im definierten Zeitfenster erstellten Log-Einträge werden angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="90">9. Nach Uhrzeit filtern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hier können die Suchergebnisse individuell eingestellt und auf einen zeitlichen Rahmen begrenzt werden.</p>
</div>
<div class="paragraph instruction">
<p>Nach der Variable <strong>Uhrzeit</strong> filtern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Log</strong>.</p>
</li>
<li>
<p>Gib die Uhrzeit ein, ab der gesucht werden soll.</p>
</li>
<li>
<p>Gib die Uhrzeit ein, bis zu der gesucht werden soll.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die im definierten Zeitfenster erstellten Log-Einträge werden angezeigt.</p>
</li>
</ol>
</div>
</div>
</div>
</main>