<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Benutzerrechte vergeben</span></a></li>
<li><a href="#200"><span>2.</span><span> Löschwerte eingeben</span></a></li>
<li><a href="#300"><span>3.</span><span> Tickets automatisch löschen</span></a></li>
<li><a href="#400"><span>4.</span><span> Log einsehen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Datenbereinigung durchführen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite ist beschrieben, wie du im Menü <strong>Einrichtung » Einstellungen » Daten » Bereinigung</strong> bestimmte Datensätze nach Ablauf eines Zeitraums, den du selbst festlegst, automatisch löschst.</p>
</div>
<div class="paragraph">
<p>Für das Löschen von Daten mithilfe der Datenbereinigung gibt es 2 Hauptgründe:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Als Händler musst du gemäß der DSGVO personenbezogene Daten aus deinem System löschen.</p>
</li>
<li>
<p>Außerdem kannst du die Datenbereinigung nutzen, um den Speicherverbrauch zu reduzieren. Dies kann beispielsweise helfen, wenn du den kostenlos in deinem plentymarkets Tarif enthaltenen Speicherplatz überschreitest.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Benutzerrechte vergeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nutzer vom Typ <strong>Backend</strong> sehen nur bestimmte Bereiche und Menüs im plentymarkets Backend. Somit können sie nur eingeschränkt im System arbeiten. Sollen Mitarbeiter mit dem Zugang <strong>Backend</strong> die Datenbereinigung nutzen können, muss ein Nutzer vom Typ <strong>Admin</strong> zumindest die im folgenden beschriebenen Rechte für Benutzer mit dem Zugang <strong>Backend</strong> vergeben.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerrechte für Backend-Benutzer vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Nutze die Suchfunktion (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>) und öffne den zu bearbeitenden Benutzer.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Berechtigungen</strong> die Optionen <strong>Daten &gt; Datenbereinigung &gt; Datenbereinigung anzeigen</strong> und <strong>Daten &gt; Datenbereinigung &gt; Datenbereinigung bearbeiten</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Löschwerte eingeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Datensätze nach Ablauf eines bestimmten Zeitraums automatisch aus deinem plentymarkets System gelöscht werden, musst du Werte für diesen Zeitraum eingeben. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Weitere Funktionen in diesem Menü werden sukzessive ergänzt</div>
<div class="paragraph">
<p>Aktuell kannst du unzugeordnete Adressen, ungenutzte Kontakte, Aufträge, die Historie sowie IP-Adressen am Auftrag automatisch löschen. Sukzessive werden weitere Bereiche in diesem Menü ergänzt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Löschwerte eingeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Daten » Bereinigung</strong>.</p>
</li>
<li>
<p>Gib im Eingabefeld einen Wert ein. Beachte dazu die Erläuterungen in <a href="#tabelle-einstellungen-daten-bereinigung">Tabelle 1</a>.</p>
</li>
<li>
<p>Klicke auf die Umschaltfläche (<span class="icon"><i class="fa fa-toggle-off" style="color:red"></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Datenbereinigung ist aktiviert (<span class="icon"><i class="fa fa-toggle-off" style="color:green"></i></span>).</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-daten-bereinigung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen im Menü <strong>Einrichtung » Einstellungen » Daten » Bereinigung</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschung ungenutzter Adressen (nach Tagen)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl in Tagen eingeben. Nach diesem Zeitraum werden ungenutzte Adressen automatisch aus dem plentymarkets System gelöscht. Ungenutzte Adressen sind Adressen, die nicht mit einem Kontakt, einem Auftrag, einem POS oder einem Lager verknüpft sind.<br>
<strong><em>Hinweis:</em></strong> Die Prüfung nach ungenutzten Datensätzen erfolgt täglich. In diesem Zuge wird geprüft, ob es Adressen gibt, die länger als die eingestellte Zeit ungenutzt sind. Sind Adressen ungenutzt, werden diese am nächsten Tag gelöscht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschung ungenutzter Kontakte (nach Tagen)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl in Tagen eingeben. Nach diesem Zeitraum werden ungenutzte Kontakte automatisch aus dem plentymarkets System gelöscht. Ungenutzte Kontakte sind Kontakte, die nicht mit Wareneingängen, Tickets oder Aufträgen verknüpft sind.<br>
<strong><em>Hinweis:</em></strong> Die Prüfung nach ungenutzten Datensätzen erfolgt täglich. In diesem Zuge wird geprüft, ob es Kontakte gibt, die länger als die eingestellte Zeit ungenutzt sind. Sind Kontakte ungenutzt, werden diese am nächsten Tag gelöscht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschung von Aufträgen (nach Tagen)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl in Tagen eingeben. Nach diesem Zeitraum werden Aufträge automatisch aus dem plentymarkets System gelöscht. Aufträge werden mit den dazugehörigen Dokumenten gelöscht. Minimalwert: 60 Tage.<br>
<strong><em>Wichtig:</em></strong> Es handelt sich um steuerrechtlich relevante Daten, die nicht wiederhergestellt werden können.<br>
<strong><em>Hinweis 1</em>:</strong> Aufträge, die ein Dokument mit der letzten Nummer des Nummernkreises enthalten, werden nicht gelöscht, bis ein neueres Dokument in einem anderen Auftrag generiert wurde.<br>
<strong><em>Hinweis 2:</em></strong> Die Prüfung nach ungenutzten Datensätzen erfolgt täglich. In diesem Zuge wird geprüft, ob es Aufträge gibt, die länger als die eingestellte Zeit ungenutzt sind. Sind Aufträge ungenutzt, werden diese am nächsten Tag gelöscht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschung der Historie (nach Tagen)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl in Tagen eingeben. Nach diesem Zeitraum werden Einträge in der <a href="/crm/kontakte-verwalten#5100">Historie</a> automatisch aus dem plentymarkets System gelöscht. In der Historie werden Änderungen an Daten geloggt. Maximalwert: 365 Tage.<br>
<strong><em>Hinweis:</em></strong> Die Prüfung nach ungenutzten Datensätzen erfolgt täglich. In diesem Zuge wird geprüft, ob es Daten in der Historie gibt, die länger als die eingestellte Zeit ungenutzt sind. Sind Daten in der Historie ungenutzt, werden diese am nächsten Tag gelöscht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschung von IP-Adressen am Auftrag (nach Tagen)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl in Tagen eingeben. Nach diesem Zeitraum werden am Auftrag gespeicherte IP-Adressen automatisch aus dem plentymarkets System gelöscht.<br>
<strong><em>Hinweis:</em></strong> Die Prüfung nach ungenutzten Datensätzen erfolgt täglich. In diesem Zuge wird geprüft, ob es IP-Adressen gibt, die länger als die eingestellte Zeit ungenutzt sind. Sind IP-Adressen ungenutzt, werden diese am nächsten Tag gelöscht.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Umschaltfläche aktivieren</div>
<div class="paragraph">
<p>Daten werden nur gelöscht, wenn die Umschaltfläche aktiviert (= <span class="icon"><i class="fa fa-toggle-on" style="color:green"></i></span>) und die Einstellung gespeichert wurde.<br>
Wenn die Daten nicht mehr nach Ablauf des eingegebenen Wertes gelöscht werden sollen, Umschaltfläche deaktivieren (= <span class="icon"><i class="fa fa-toggle-off" style="color:red"></i></span>) und Einstellungen erneut speichern.<br>
<strong>Ausnahme</strong>: Die Löschung der Historie erfolgt auch bei einer Deaktivierung der Umschaltflächen, dafür wird der Maximalwert von 365 Tagen beachtet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Anzahl der zu löschenden Datensätzen</div>
<div class="paragraph">
<p>Aktuell werden bis zu 5000 Datensätze pro Tag gelöscht. plentymarkets wird dieses Verhalten beobachten und ggf. ebenfalls auf einen höheren Wert anpassen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Tickets automatisch löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lösche Tickets automatisch aus deinem Ticketsystem. Diese Einstellung nimmst du nicht im Menü <strong>Einrichtung » Einstellungen » Daten » Bereinigung</strong> vor, sondern über den Aktionsmanager im Ticketsystem im Menü <strong>Einrichtung » CRM » Ticketsystem » Aktionen</strong>.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen über das Ticketsystem sowie ein Beispielszenario zum Löschen von Tickets findest du auf der Handbuchseite <a href="/crm/ticketsystem-nutzen#3000">Ticketsystem nutzen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Log einsehen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Alle Änderungen, die im Menü <strong>Einrichtung » Einstellungen » Daten » Bereinigung</strong> vorgenommen werden, werden im Menü <strong>Daten » Log</strong> für 30 Tage gespeichert. So kannst du einsehen, welcher Benutzer wann den alten Wert in den neuen Wert geändert hat.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zum Log findest du auf der Handbuchseite <a href="/daten/datenlog">Datenlog</a>.</p>
</div>
</div>
</div>
</main>