<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Sichtbarkeit des Menüs für variablen Benutzer einstellen</span></a></li>
<li><a href="#200"><span>2.</span><span> Löschwerte eingeben</span></a></li>
<li><a href="#300"><span>3.</span><span> Tickets automatisch löschen</span></a></li>
<li><a href="#400"><span>4.</span><span> Log einsehen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Datenbereinigung durchführen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite wird beschrieben, wie Sie im Menü <strong>System » Systemeinstellungen » Einstellungen » Daten » Bereinigung</strong> bestimmte Datensätze nach Ablauf eines Zeitraums, den Sie selbst festlegen, automatisch löschen.<br></p>
</div>
<div class="paragraph">
<p>Für das Löschen von Daten mithilfe der Datenbereinigung gibt es 2 Hauptgründe. Als Händler müssen Sie gemäß der DSGVO personenbezogene Daten aus Ihrem System löschen. Außerdem können Sie die Datenbereinigung nutzen, um den Speicherverbrauch zu reduzieren. Dies kann beispielsweise helfen, wenn Sie den kostenlos in Ihrem plentymarkets Tarif enthaltenen Speicherplatz überschreiten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Sichtbarkeit des Menüs für variablen Benutzer einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit für Benutzer mit der Benutzerklasse <strong>Variabel</strong> das Menü <strong>System » Systemeinstellungen » Einstellungen » Daten » Bereinigung</strong> sichtbar ist, muss dieses Menü im Benutzerkonto freigeschaltet werden.</p>
</div>
<div class="paragraph">
<p>Außerdem müssen Berechtigungen im Bereich <strong>REST-API</strong> aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Sichtbarkeit des Menüs für variablen Benutzer einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Systemeinstellungen » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Benutzer mit der Benutzerklasse <strong>Variabel</strong>, für den Sie die Sichtbarkeit des Menüs aktivieren möchten.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Berechtigung</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Menü</strong>.</p>
</li>
<li>
<p>Klappen Sie den Bereich <strong>Einstellungen » Grundeinstellungen » Daten</strong> auf.</p>
</li>
<li>
<p>Aktivieren Sie die Option <strong>Bereinigung</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>REST-API</strong>.</p>
</li>
<li>
<p>Klappen Sie den Bereich <strong>Datenbereinigung</strong> auf.</p>
</li>
<li>
<p>Aktivieren Sie die Optionen <strong>Konfiguration anzeigen</strong> und <strong>Konfiguration speichern</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Löschwerte eingeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Datensätze nach Ablauf eines bestimmten Zeitraums automatisch aus Ihrem plentymarkets System gelöscht werden, müssen Sie Werte für diesen Zeitraum eingeben. Gehen Sie dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Weitere Funktionen in diesem Menü werden sukzessive ergänzt</div>
<div class="paragraph">
<p>Aktuell können Sie unzugeordnete Adressen, ungenutzte Kontakte, Aufträge, die Historie sowie IP-Adressen am Auftrag automatisch löschen. Sukzessive werden weitere Bereiche in diesem Menü ergänzt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Löschwerte eingeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Systemeinstellungen » Einstellungen » Daten » Bereinigung</strong>.</p>
</li>
<li>
<p>Geben Sie im Eingabefeld einen Wert ein. Beachten Sie die Erläuterungen in <a href="#tabelle-einstellungen-daten-bereinigung">Tabelle 1</a>.</p>
</li>
<li>
<p>Aktivieren Sie den Toggle-Button.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-daten-bereinigung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen im System » Systemeinstellungen » Einstellungen » Daten » Bereinigung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschung ungenutzter Adressen (nach Tagen)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl in Tagen eingeben. Nach diesem Zeitraum werden ungenutzte Adressen automatisch aus dem plentymarkets System gelöscht. Ungenutzte Adressen sind Adressen, die nicht mit einem Kontakt, einem Auftrag, einem POS oder einem Lager verknüpft sind.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschung ungenutzter Kontakte (nach Tagen)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl in Tagen eingeben. Nach diesem Zeitraum werden ungenutzte Kontakte automatisch aus dem plentymarkets System gelöscht. Ungenutzte Kontakte sind Kontakte, die nicht mit Wareneingängen, Tickets oder Aufträgen verknüpft sind.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschung von Aufträgen (nach Tagen)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl in Tagen eingeben. Nach diesem Zeitraum werden Aufträge automatisch aus dem plentymarkets System gelöscht. Aufträge werden mit den dazugehörigen Dokumenten gelöscht. Minimalwert: 60 Tage.<br>
<strong><em>Wichtig:</em></strong> Es handelt sich um steuerrechtlich relevante Daten, die nicht wiederhergestellt werden können.<br>
<strong><em>Hinweis</em>:</strong> Aufträge, die ein Dokument mit der letzten Nummer des Nummernkreises enthalten, werden nicht gelöscht, bis ein neueres Dokument in einem anderen Auftrag generiert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschung der Historie (nach Tagen)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl in Tagen eingeben. Nach diesem Zeitraum werde Einträge in der <a href="/crm/kontakte-verwalten#5100">Historie</a> automatisch aus dem plentymarkets System gelöscht. In der Historie werden Änderungen an Daten geloggt. Maximalwert: 365 Tage.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschung von IP-Adressen am Auftrag (nach Tagen)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl in Tagen eingeben. Nach diesem Zeitraum werden am Auftrag gespeicherte IP-Adressen automatisch aus dem plentymarkets System gelöscht.<br></p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Toggle-Button aktivieren</div>
<div class="paragraph">
<p>Daten werden nur gelöscht, wenn der Toggle-Button aktiviert und die Einstellung gespeichert wurde.<br>
Wenn die Daten nicht mehr nach Ablauf des eingegebenen Wertes gelöscht werden sollen, Toggle-Button deaktivieren und Einstellungen erneut speichern.<br>
<strong>Ausnahme</strong>: Die Löschung der Historie erfolgt auch bei einer Deaktivierung des Toggle-Buttons, dafür wird der Maximalwert von 365 Tagen beachtet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Anzahl der zu löschenden Datensätzen</div>
<div class="paragraph">
<p>Aktuell werden bis zu 5000 Datensätze pro Tag gelöscht. plentymarkets wird dieses Verhalten beobachten und ggf. ebenfalls auf einen höheren Wert anpassen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Tickets automatisch löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Löschen Sie Tickets automatisch aus Ihrem Ticketsystem. Diese Einstellung nehmen Sie nicht im Menü <strong>System » Systemeinstellungen » Einstellungen » Daten » Bereinigung</strong> vor, sondern über den Aktionsmanager im Ticketsystem im Menü <strong>System » Systemeinstellungen » CRM » Ticketsystem » Aktionen</strong>.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen über das Ticketsystem sowie ein Beispielszenario zum Löschen von Tickets finden Sie auf der Handbuchseite <a href="/crm/ticketsystem-nutzen#3000">Ticketsystem nutzen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Log einsehen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Alle Änderungen, die im Menü <strong>System » Systemeinstellungen » Einstellungen » Daten » Bereinigung</strong> vorgenommen werden, werden im Menü <strong>Daten » Log</strong> für 30 Tage gespeichert. So können Sie einsehen, welcher Benutzer wann den alten Wert in den neuen Wert geändert hat.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zum Log finden Sie auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/datenlog">Datenlog</a>.</p>
</div>
</div>
</div>
</main>