<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Abgleichfelder</span></a></li>
<li><a href="#20"><span>2.</span><span> Zuordnungsfelder</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Attribut</span></a>
<ul class="sectlevel3">
<li><a href="#40"><span>2.1.1.</span><span> Interner Name</span></a></li>
<li><a href="#50"><span>2.1.2.</span><span> Position</span></a></li>
<li><a href="#60"><span>2.1.3.</span><span> Bildverknüpfung möglich</span></a></li>
<li><a href="#70"><span>2.1.4.</span><span> Attributauswahl im Webshop</span></a></li>
<li><a href="#80"><span>2.1.5.</span><span> Gruppierbar in Artikellisten</span></a></li>
<li><a href="#90"><span>2.1.6.</span><span> Attribut löschen</span></a></li>
</ul>
</li>
<li><a href="#100"><span>2.2.</span><span> Attributwert</span></a>
<ul class="sectlevel3">
<li><a href="#110"><span>2.2.1.</span><span> Interner Name</span></a></li>
<li><a href="#120"><span>2.2.2.</span><span> Position</span></a></li>
<li><a href="#130"><span>2.2.3.</span><span> Bemerkung</span></a></li>
<li><a href="#140"><span>2.2.4.</span><span> Prozentualer Anteil</span></a></li>
<li><a href="#150"><span>2.2.5.</span><span> Attributwert löschen</span></a></li>
</ul>
</li>
<li><a href="#160"><span>2.3.</span><span> Attributname</span></a>
<ul class="sectlevel3">
<li><a href="#170"><span>2.3.1.</span><span> Name</span></a></li>
</ul>
</li>
<li><a href="#180"><span>2.4.</span><span> Attributwertname</span></a>
<ul class="sectlevel3">
<li><a href="#190"><span>2.4.1.</span><span> Name</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Attribute</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite erläutert die Abgleich- und Zuordnungsfelder, die dir beim Importieren von Attributen und Attributwerten zur Verfügung stehen.

Diese Seite dient lediglich als Referenz und setzt voraus, dass du bereits Grundkenntnisse über das <a href="/daten/daten-importieren/ElasticSync">Import-Tool</a> hast.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#table-matching-fields-attributes">Tabelle 1</a> werden Felder erläutert, die für den Abgleich von Attributdaten zur Verfügung stehen.
Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="table-matching-fields-attributes" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Abgleichfelder für Attribut-Import</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribut-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei werden Attribut-IDs aufgelistet? Wähle diese Spalte hier.
Diese Option ist sinnvoll, wenn du <em>bestehende Attribute aktualisieren</em> möchtest.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Jedes neu angelegte Attribut erhält automatisch eine ID, die nicht geändert werden kann.
Die ID dient zur eindeutigen Kennzeichnung des Attributs.
Da die ID eindeutig ist, lässt sich damit gut prüfen, ob der importierte Datensatz bereits in plentymarkets vorhanden ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID des Attributwertes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei werden Attributwert-IDs aufgelistet? Wähle diese Spalte hier.
Diese Option ist sinnvoll, wenn du <em>bestehende Attributwerte aktualisieren</em> möchtest.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Jeder neu angelegte Attributwert erhält automatisch eine ID, die nicht geändert werden kann.
Die ID dient zur eindeutigen Kennzeichnung des Attributwertes.
Da die ID eindeutig ist, lässt sich damit gut prüfen, ob der importierte Datensatz bereits in plentymarkets vorhanden ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attributname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei wird der interne Attributname aufgeführt? Wähle diese Spalte hier.
Diese Option ist sinnvoll, wenn du <em>neue Attribute erstellen</em> möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name des Attributwertes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei wird der interne Name des Attributwerts aufgeführt? Wähle diese Spalte hier.
Diese Option ist sinnvoll, wenn du <em>neue Attributwerte erstellen</em> möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externer Name des Attributes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei wird der externe Attributname aufgeführt? Wähle diese Spalte aus der ersten Dropdown-Liste und die Sprache aus der zweiten Dropdown-Liste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externer Name des Attributwertes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei wird der externe Name des Attributwerts aufgeführt? Wähle diese Spalte aus der ersten Dropdown-Liste und die Sprache aus der zweiten Dropdown-Liste.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Zuordnungsfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel werden Felder erläutert, die für die Zuordnung von Attributdaten zur Verfügung stehen.
Mithilfe dieser Felder legst du fest, welche <em>Spalte deiner Datei</em> welchem <em>Datenfeld in deinem System</em> entspricht.</p>
</div>
<div class="paragraph instruction">
<p>Grundlegende Vorgehensweise:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong><em>In deiner CSV-Datei</em></strong>: Gib einen zulässigen Importwert in eine Spalte ein.</p>
</li>
<li>
<p><strong><em>In plentymarkets</em></strong>: Ordne diese Spalte dem passenden Zuordnungsfeld zu.</p>
</li>
<li>
<p><strong><em>Nach dem Import</em></strong>: Prüfe das Ergebnis im Backend.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kein Zuordnungsfeld? Standardwert greift!</div>
<div class="paragraph">
<p>Wenn du eine bestimmte Information nicht in deine CSV-Datei aufnimmst, d.h. wenn du ein bestimmtes Zuordnungsfeld <em>nicht verwendest</em>, dann erhält dein Attribut den Standardwert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="30">2.1. Attribut</h3>
<div class="sect3">
<h4 id="40">2.1.1. Interner Name</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span> für neue Attribute</p>
</div>
<div class="paragraph">
<p>Gib den internen Namen des Attributs in die CSV-Datei ein.
Der interne Name wird nur im plentymarkets Backend geführt und ist nicht im Webshop sichtbar.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/attribute#100">Einrichtung » Artikel » Attribute » Tab: Grundeinstellungen » Eingabefeld: Name (intern)</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="50">2.1.2. Position</h4>
<div class="paragraph">
<p>Gib eine Positionsnummer in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/attribute#100">Einrichtung » Artikel » Attribute » Tab: Grundeinstellungen » Eingabefeld: Position</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="60">2.1.3. Bildverknüpfung möglich</h4>
<div class="paragraph">
<p>Soll sich das Artikelbild ändern, z.B. auf eBay, je nachdem, welche Größe oder Farbe dein Kunde gewählt hat? Sollen also automatisch die passenden Bilder auf eBay eingeblendet werden?</p>
</div>
<div class="paragraph">
<p>Gib deine Wahl in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-attributes-link-image" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nein. Häkchen ist nicht gesetzt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ja. Häkchen ist gesetzt.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/attribute#100">Einrichtung » Artikel » Attribute » Tab: Grundeinstellungen » Checkbox: Bildverknüpfung möglich</a></p>
</div>
<div class="paragraph">
<p><strong><em>Zusätzliche Einstellungen</em></strong>: Verknüpfe deine Varianten mit den passenden Bildern. Stelle sicher, dass du diese Bilder für den Marktplatz verfügbar gemacht hast. Verknüpfe außerdem die Variantenbilder mit Marktplatzattributen. Diese Schritte werden <a href="/artikel/einstellungen/attribute#900">in einem separaten Kapitel</a> näher beschrieben.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="70">2.1.4. Attributauswahl im Webshop</h4>
<div class="paragraph">
<p>Wie sollen Kunden Größen oder Farben in deinem Webshop wählen? Sollen sie den Namen aus einer Dropdown-Liste wählen oder auf eine Bildkachel klicken?</p>
</div>
<div class="paragraph">
<p>Gib deine gewünschte Auswahl-Methode in der CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>dropdown</code></p>
</div>
<table id="table-mapping-attribute-selection" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>dropdown</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Per Dropdown</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>image</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Per Bild</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>box</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Per Box</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/attribute#100">Einrichtung » Artikel » Attribute » Tab: Grundeinstellungen » Dropdown-Liste: Attributauswahl im Webshop</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="80">2.1.5. Gruppierbar in Artikellisten</h4>
<div class="paragraph">
<p>Sollen Varianten, die dieses Attribut haben, einzeln oder kumuliert im Webshop dargestellt werden?</p>
</div>
<div class="paragraph">
<p>Gib deine Wahl in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-attributes-groupable" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nein. Häkchen ist nicht gesetzt. Die Varianten werden kumuliert im Webshop dargestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ja. Häkchen ist gesetzt. Jede Variante wird als einzelnes Produkt im Webshop dargestellt.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/attribute#100">Einrichtung » Artikel » Attribute » Tab: Grundeinstellungen » Checkbox: Gruppierbar in Artikellisten</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="90">2.1.6. Attribut löschen</h4>
<div class="paragraph">
<p>Möchtest du das Attribut löschen?</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-attributes-delete-attribute" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribut wird <em>nicht</em> gelöscht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribut wird gelöscht</p></td>
</tr>
</tbody>
</table>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="100">2.2. Attributwert</h3>
<div class="sect3">
<h4 id="110">2.2.1. Interner Name</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span> für neue Attributwerte</p>
</div>
<div class="paragraph">
<p>Gib den internen Namen des Attributwerts in die CSV-Datei ein.
Der interne Name wird nur im plentymarkets Backend geführt und ist nicht im Webshop sichtbar.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/attribute#200">Einrichtung » Artikel » Attribute » Tab: Werte » Eingabefeld: Name (intern)</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="120">2.2.2. Position</h4>
<div class="paragraph">
<p>Gib eine Positionsnummer in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/attribute#200">Einrichtung » Artikel » Attribute » Tab: Werte » Eingabefeld: Position</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="130">2.2.3. Bemerkung</h4>
<div class="paragraph">
<p>Gib eine optional Bemerkung zu dem Attributwert in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/attribute#200">Einrichtung » Artikel » Attribute » Tab: Werte » Eingabefeld: Bemerkung</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="140">2.2.4. Prozentualer Anteil</h4>
<div class="paragraph">
<p>Gib einen Prozentwert für die automatische Mengenverteilung von Attributwerten ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/attribute#200">Einrichtung » Artikel » Attribute » Tab: Werte » Eingabefeld: Prozentualer Anteil</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="150">2.2.5. Attributwert löschen</h4>
<div class="paragraph">
<p>Möchtest du den Attributwert löschen?</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-attributevalue-delete-value" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributwert wird <em>nicht</em> gelöscht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributwert wird gelöscht</p></td>
</tr>
</tbody>
</table>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="160">2.3. Attributname</h3>
<div class="sect3">
<h4 id="170">2.3.1. Name</h4>
<div class="paragraph">
<p>Gib den externen Namen des Attributs in die CSV-Datei ein.
Dies ist der Name, der im Webshop angezeigt wird.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Gibst du keinen externen Namen an, wird stattdessen der interne Name verwendet.</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Liste auch die Sprache ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/attribute#1000">Einrichtung » Artikel » Attribute » Tab: Name</a></p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="180">2.4. Attributwertname</h3>
<div class="sect3">
<h4 id="190">2.4.1. Name</h4>
<div class="paragraph">
<p>Gib den externen Namen des Attributwerts in die CSV-Datei ein.
Dies ist der Name, der im Webshop angezeigt wird.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Gibst du keinen externen Namen an, wird stattdessen der interne Name verwendet.</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Liste auch die Sprache ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/attribute#200">Einrichtung » Artikel » Attribute » Tab: Werte » Eingabefeld: Name</a></p>
</div>
</div>
</div>
</div>
</div>
</main>