<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Abgleichfelder</span></a></li>
<li><a href="#20"><span>2.</span><span> Zuordnungsfelder</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Eigenschaft</span></a>
<ul class="sectlevel3">
<li><a href="#40"><span>2.1.1.</span><span> Position</span></a></li>
<li><a href="#50"><span>2.1.2.</span><span> Name</span></a></li>
<li><a href="#60"><span>2.1.3.</span><span> Bereich</span></a></li>
<li><a href="#70"><span>2.1.4.</span><span> Eigenschaftstyp</span></a></li>
<li><a href="#80"><span>2.1.5.</span><span> Eigenschaft löschen</span></a></li>
<li><a href="#90"><span>2.1.6.</span><span> Gruppenzuweisungen entfernen</span></a></li>
<li><a href="#100"><span>2.1.7.</span><span> Gruppen zuweisen</span></a></li>
</ul>
</li>
<li><a href="#110"><span>2.2.</span><span> Eigenschaft: Auswahl</span></a>
<ul class="sectlevel3">
<li><a href="#120"><span>2.2.1.</span><span> Alle Werte löschen</span></a></li>
<li><a href="#130"><span>2.2.2.</span><span> Einen Wert löschen</span></a></li>
<li><a href="#140"><span>2.2.3.</span><span> Wert(e) hinzufügen</span></a></li>
</ul>
</li>
<li><a href="#150"><span>2.3.</span><span> Eigenschaft: Name</span></a>
<ul class="sectlevel3">
<li><a href="#160"><span>2.3.1.</span><span> Name</span></a></li>
<li><a href="#170"><span>2.3.2.</span><span> Beschreibung</span></a></li>
</ul>
</li>
<li><a href="#180"><span>2.4.</span><span> Eigenschaftsgruppe</span></a>
<ul class="sectlevel3">
<li><a href="#190"><span>2.4.1.</span><span> Position</span></a></li>
<li><a href="#200"><span>2.4.2.</span><span> Name</span></a></li>
<li><a href="#210"><span>2.4.3.</span><span> Gruppe löschen</span></a></li>
<li><a href="#220"><span>2.4.4.</span><span> Eigenschaften entfernen</span></a></li>
<li><a href="#230"><span>2.4.5.</span><span> Eigenschaften hinzufügen</span></a></li>
</ul>
</li>
<li><a href="#240"><span>2.5.</span><span> Eigenschaftsgruppe: Name</span></a>
<ul class="sectlevel3">
<li><a href="#250"><span>2.5.1.</span><span> Name</span></a></li>
<li><a href="#260"><span>2.5.2.</span><span> Beschreibung</span></a></li>
</ul>
</li>
<li><a href="#270"><span>2.6.</span><span> Eigenschaftsgruppe: Optionen</span></a>
<ul class="sectlevel3">
<li><a href="#280"><span>2.6.1.</span><span> Gruppentyp</span></a></li>
<li><a href="#290"><span>2.6.2.</span><span> Aufpreistyp</span></a></li>
</ul>
</li>
<li><a href="#300"><span>2.7.</span><span> Amazon</span></a>
<ul class="sectlevel3">
<li><a href="#310"><span>2.7.1.</span><span> Kategorie</span></a></li>
<li><a href="#320"><span>2.7.2.</span><span> Feld</span></a></li>
<li><a href="#330"><span>2.7.3.</span><span> Plattform</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Eigenschaften</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite erläutert die Abgleich- und Zuordnungsfelder, die dir beim Importieren von Eigenschaften und Eigenschaftsgruppen zur Verfügung stehen.

Diese Seite dient lediglich als Referenz und setzt voraus, dass du bereits Grundkenntnisse über das <a href="/daten/daten-importieren/ElasticSync">Import-Tool</a> hast.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#table-matching-fields-properties">Tabelle 1</a> werden Felder erläutert, die für den Abgleich von Eigenschaftsdaten zur Verfügung stehen.
Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="table-matching-fields-properties" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Abgleichfelder für Eigenschaftsdaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschafts-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei werden Eigenschafts-IDs aufgelistet? Wähle diese Spalte hier. Diese Option ist sinnvoll, wenn du <em>bestehende Eigenschaften aktualisieren</em> möchtest.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Jede neu angelegte Eigenschaft erhält automatisch eine ID, die nicht geändert werden kann. Die ID dient zur eindeutigen Kennzeichnung der Eigenschaft. Da die ID eindeutig ist, lässt sich damit gut prüfen, ob der importierte Datensatz bereits in plentymarkets vorhanden ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaftsname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei ist der Name der Eigenschaft aufgeführt? Wähle diese Spalte hier. Diese Option ist sinnvoll, wenn du <em>neue Eigenschaften erstellen</em> möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID der Eigenschaftsgruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei werden Gruppen-IDs aufgelistet? Wähle diese Spalte hier. Diese Option ist sinnvoll, wenn du <em>bestehende Eigenschaftsgruppen aktualisieren</em> möchtest.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Jede neu angelegte Eigenschaftsgruppe erhält automatisch eine ID, die nicht geändert werden kann. Die ID dient zur eindeutigen Kennzeichnung der Gruppe. Da die ID eindeutig ist, lässt sich damit gut prüfen, ob der importierte Datensatz bereits in plentymarkets vorhanden ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name der Eigenschaftsgruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei ist der Name der Eigenschaftsgruppe aufgeführt? Wähle diese Spalte hier. Diese Option ist sinnvoll, wenn du <em>neue Eigenschaftsgruppen erstellen</em> möchtest.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Zuordnungsfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel werden Felder erläutert, die für die Zuordnung von Eigenschaftsdaten zur Verfügung stehen.
Mithilfe dieser Felder legst du fest, welche <em>Spalte deiner Datei</em> welchem <em>Datenfeld in deinem System</em> entspricht.</p>
</div>
<div class="paragraph instruction">
<p>Grundlegende Vorgehensweise:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong><em>In deiner CSV-Datei</em></strong>: Gib einen zulässigen Importwert in eine Spalte ein.</p>
</li>
<li>
<p><strong><em>In plentymarkets</em></strong>: Ordne diese Spalte dem passenden Zuordnungsfeld zu.</p>
</li>
<li>
<p><strong><em>Nach dem Import</em></strong>: Prüfe das Ergebnis im Backend.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kein Zuordnungsfeld? Standardwert greift!</div>
<div class="paragraph">
<p>Wenn du eine bestimmte Information nicht in deine CSV-Datei aufnimmst, d.h. wenn du ein bestimmtes Zuordnungsfeld <em>nicht verwendest</em>, dann erhält deine Eigenschaft den Standardwert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="30">2.1. Eigenschaft</h3>
<div class="sect3">
<h4 id="40">2.1.1. Position</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span> für neue Eigenschaften</p>
</div>
<div class="paragraph">
<p>Welche Eigenschaft soll als erste, zweite, dritte, usw. angezeigt werden?
Gib eine Positionsnummer in die CSV-Datei ein.
Hat die Variante, der Kontakt oder der Lagerort mehrere Eigenschaften, dann werden diese Eigenschaften aufsteigend nach Positionsnummer dargestellt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#700">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » Eingabefeld: Position</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="50">2.1.2. Name</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span> für neue Eigenschaften</p>
</div>
<div class="paragraph">
<p>Gib den Namen der Eigenschaft in die CSV-Datei ein.
Verfasse den Text in der Standardsprache deines plentymarkets Systems.
Verwende zusätzlich das Feld <a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften#160">Eigenschaft: Name / Name</a>, wenn du den Namen auch in weiteren Sprachen speichern möchtest.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#700">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » Eingabefeld: Name</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="60">2.1.3. Bereich</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span> für neue Eigenschaften</p>
</div>
<div class="paragraph">
<p>Wofür möchtest du die Eigenschaft nutzen?
Gib den entsprechenden Bereich in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>item</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>contact</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontakt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>stock</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerort</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#600">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » Drop-Down-Liste: Bereich</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="70">2.1.4. Eigenschaftstyp</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span> für neue Eigenschaften</p>
</div>
<div class="paragraph">
<p>Welche Art von Eigenschaft möchtest du anlegen?
Gib den entsprechenden Typ in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>empty</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kein</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>date</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>file</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datei</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>int</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ganze Zahl</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>float</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kommazahl</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>longText</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>shortText</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kurztext</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>selection</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswahl</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#600">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » Drop-Down-Liste: Eigenschaftstyp</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="80">2.1.5. Eigenschaft löschen</h4>
<div class="paragraph">
<p>Möchtest du die Eigenschaft löschen?</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigenschaft wird <em>nicht</em> gelöscht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigenschaft wird gelöscht</p></td>
</tr>
</tbody>
</table>
<hr>
</div>
<div class="sect3">
<h4 id="90">2.1.6. Gruppenzuweisungen entfernen</h4>
<div class="paragraph">
<p>Willst du die Eigenschaft aus einer Gruppe entfernen?
Gib die ID der Gruppe in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch (interne Gruppen-ID)</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#700">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » Drop-Down-Liste: Gruppe</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="100">2.1.7. Gruppen zuweisen</h4>
<div class="paragraph">
<p>Willst du die Eigenschaft in eine bestehende Gruppe einsortieren?
Gib die ID der Gruppe in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p>Bestehende Gruppen werden dabei nicht überschrieben.
Wenn die Eigenschaft also bereits zu einer Gruppe gehört und du importierst eine zweite Gruppe, dann wird die Eigenschaft zu beiden Gruppen gehören.
Verwende das Feld <a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften#90">Gruppenzuweisungen entfernen</a>, wenn du eine bestehende Gruppe entfernen möchtest.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch (interne Gruppen-ID)</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#700">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » Drop-Down-Liste: Gruppe</a></p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="110">2.2. Eigenschaft: Auswahl</h3>
<div class="sect3">
<h4 id="120">2.2.1. Alle Werte löschen</h4>
<div class="paragraph">
<p>Möchtest du alle Werte löschen, die für eine Eigenschaft vom Typ "Auswahl" gespeichert wurden?</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Auswahlwerte werden <em>nicht</em> gelöscht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es werden alle Auswahlwerte gelöscht.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#760">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » Werte</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="130">2.2.2. Einen Wert löschen</h4>
<div class="paragraph">
<p>Möchtest du einen Wert für eine Eigenschaft vom Typ "Auswahl" löschen?</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch (interne Wert-ID)</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#760">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » Werte</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="140">2.2.3. Wert(e) hinzufügen</h4>
<div class="paragraph">
<p>Möchtest du einen Wert zu einer Eigenschaft vom Typ "Auswahl" hinzufügen?
Gib den Namen des Wertes in die CSV-Datei ein.
Wenn du mehrere Werte speichern möchtest, gib die Namen der Werte semikolonsepariert und ohne Leerzeichen hintereinander in die Spalte ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#760">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » Werte</a></p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="150">2.3. Eigenschaft: Name</h3>
<div class="sect3">
<h4 id="160">2.3.1. Name</h4>
<div class="paragraph">
<p>Gib den Namen der Eigenschaft in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p>Im Gegensatz zum Feld <a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften#50">Eigenschaft / Name</a> kannst du dieses Feld verwenden, um den Eigenschaftsnamen in mehreren Sprachen zu speichern.
Füge das Feld einmal pro Sprache hinzu.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Liste auch die Sprache ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#700">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » Eingabefeld: Name</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="170">2.3.2. Beschreibung</h4>
<div class="paragraph">
<p>Gib eine Beschreibung der Eigenschaft in die CSV-Datei ein.
Wenn du die Beschreibung in mehreren Sprachen speichern willst, dann füge das Feld einmal pro Sprache hinzu.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Liste auch die Sprache ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#700">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » Eingabefeld: Beschreibung</a></p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="180">2.4. Eigenschaftsgruppe</h3>
<div class="sect3">
<h4 id="190">2.4.1. Position</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span> für neue Eigenschaftsgruppen</p>
</div>
<div class="paragraph">
<p>Welche Eigenschaftsgruppe soll als erste, zweite, dritte, usw. angezeigt werden?
Gib eine Positionsnummer in die CSV-Datei ein.
Hat die Variante, der Kontakt oder der Lagerort Eigenschaften aus mehreren Gruppen, dann werden die Gruppen aufsteigend nach Positionsnummer dargestellt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#1250">Einrichtung » Einstellungen » Eigenschaften » Gruppen » Eingabefeld: Position</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="200">2.4.2. Name</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span> für neue Eigenschaftsgruppen</p>
</div>
<div class="paragraph">
<p>Gib den Namen der Eigenschaftsgruppe in die CSV-Datei ein.
Verfasse den Text in der Standardsprache deines plentymarkets Systems.
Verwende zusätzlich das Feld <a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften#250">Eigenschaftsgruppe: Name / Name</a>, wenn du den Namen auch in weiteren Sprachen speichern möchtest.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#1250">Einrichtung » Einstellungen » Eigenschaften » Gruppen » Eingabefeld: Name</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="210">2.4.3. Gruppe löschen</h4>
<div class="paragraph">
<p>Möchtest du die Eigenschaftsgruppe löschen?</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gruppe wird <em>nicht</em> gelöscht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gruppe wird gelöscht</p></td>
</tr>
</tbody>
</table>
<hr>
</div>
<div class="sect3">
<h4 id="220">2.4.4. Eigenschaften entfernen</h4>
<div class="paragraph">
<p>Möchtest du die Eigenschaften aus der Gruppe entfernen?</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigenschaften werden <em>nicht</em> entfernt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigenschaften werden entfernt</p></td>
</tr>
</tbody>
</table>
<hr>
</div>
<div class="sect3">
<h4 id="230">2.4.5. Eigenschaften hinzufügen</h4>
<div class="paragraph">
<p>Möchtest du Eigenschaften zur Gruppe hinzufügen?
Gib die Eigenschaft-ID in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="240">2.5. Eigenschaftsgruppe: Name</h3>
<div class="sect3">
<h4 id="250">2.5.1. Name</h4>
<div class="paragraph">
<p>Gib den Namen der Eigenschaftsgruppe in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p>Im Gegensatz zum Feld <a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften#200">Eigenschaftsgruppe / Name</a> kannst du dieses Feld verwenden, um den Gruppennamen in mehreren Sprachen zu speichern.
Füge das Feld einmal pro Sprache hinzu.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Liste auch die Sprache ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#1250">Einrichtung » Einstellungen » Eigenschaften » Gruppen » Eingabefeld: Name</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="260">2.5.2. Beschreibung</h4>
<div class="paragraph">
<p>Gib eine Beschreibung der Eigenschaftsgruppe in die CSV-Datei ein.
Wenn du die Beschreibung in mehreren Sprachen speichern willst, dann füge das Feld einmal pro Sprache hinzu.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Liste auch die Sprache ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#1250">Einrichtung » Einstellungen » Eigenschaften » Gruppen » Eingabefeld: Beschreibung</a></p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="270">2.6. Eigenschaftsgruppe: Optionen</h3>
<div class="sect3">
<h4 id="280">2.6.1. Gruppentyp</h4>
<div class="paragraph">
<p>Wie viele Zusatzoptionen oder Dienstleistungen sollen deine Kunden aus der Gruppe wählen können?
Gib den entsprechenden Typ in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>none</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>none</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Keine</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>select</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>multiselect</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Multiselect</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#1250">Einrichtung » Einstellungen » Eigenschaften » Gruppen » Drop-Down-Liste: Gruppentyp</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="290">2.6.2. Aufpreistyp</h4>
<div class="paragraph">
<p>Hast du vor, Zusatzoptionen oder Dienstleistungen gegen Aufpreis anzubieten? Falls ja, dann gib an, ob der Aufpreis als Prozentsatz oder als Festbetrag behandelt werden soll, z.B. 5% oder 5 EUR.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>none</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>none</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Keine</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>flat</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pauschal</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>percental</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozent</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#1250">Einrichtung » Einstellungen » Eigenschaften » Gruppen » Drop-Down-Liste: Aufpreistyp</a></p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="300">2.7. Amazon</h3>
<div class="paragraph">
<p>Für die Verknüpfung von Eigenschaften mit Amazon über den Import stehen dir die in diesem Kapitel beschriebenen Felder zur Verfügung.</p>
</div>
<div class="sect3">
<h4 id="310">2.7.1. Kategorie</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span> für die Verknüpfung von Eigenschaften mit Amazon</p>
</div>
<div class="paragraph">
<p>Gib den Namen der Kategorie in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>none</code></p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <a href="/maerkte/amazon/varianten-vorbereiten#1395">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » Tab: Amazon</a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="320">2.7.2. Feld</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span> für die Verknüpfung von Eigenschaften mit Amazon</p>
</div>
<div class="paragraph">
<p>Gib den Namen des Feldes in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>none</code></p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <a href="/maerkte/amazon/varianten-vorbereiten#1395">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » Tab: Amazon</a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="330">2.7.3. Plattform</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span> für die Verknüpfung von Eigenschaften mit Amazon</p>
</div>
<div class="paragraph">
<p>Gib die Amazon-Plattform in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>none</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Optionen in der Dropdown-Liste im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>de</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.de</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>uk</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.co.uk</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>us</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.com</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>fr</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.fr</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>it</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.it</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>es</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.es</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>ca</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.ca</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>mx</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.com.mx</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>nl</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.nl</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>pl</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.pl</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>se</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.se</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>tr</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.tr</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>ae</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon.ae</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <a href="/maerkte/amazon/varianten-vorbereiten#1395">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » Tab: Amazon</a>.</p>
</div>
</div>
</div>
</div>
</div>
</main>