<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#abgleichfelder"><span>1.</span><span> Abgleichfelder</span></a></li>
<li><a href="#zuordnungsfelder"><span>2.</span><span> Zuordnungsfelder</span></a>
<ul class="sectlevel2">
<li><a href="#kampagnen-code"><span>2.1.</span><span> Kampagnen-Code</span></a>
<ul class="sectlevel3">
<li><a href="#code"><span>2.1.1.</span><span> Code</span></a></li>
<li><a href="#kampagnen-id"><span>2.1.2.</span><span> Kampagnen-ID</span></a></li>
<li><a href="#anzahl-einloesungen"><span>2.1.3.</span><span> Anzahl der Einlösungen</span></a></li>
<li><a href="#eingeloester-betrag"><span>2.1.4.</span><span> Eingelöster Betrag</span></a></li>
<li><a href="#rabattwert"><span>2.1.5.</span><span> Rabattwert</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Gutschein-Codes</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite erläutert die Abgleich- und Zuordnungsfelder, die dir beim Importieren von Gutschein-Codes und den dazugehörigen Daten zur Verfügung stehen. Diese Seite dient lediglich als Referenz und setzt voraus, dass du bereits Grundkenntnisse über das <a href="/daten/daten-importieren/ElasticSync">Import-Tool</a> hast.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="abgleichfelder">1. Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Abgleich von Gutschein-Codes und den dazugehörigen Daten steht dir das folgende Feld zur Verfügung. Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="tabelle-abgleichfeld-gutschein-codes" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Abgleichfeld für den Import von Gutschein-Codes und den dazugehörigen Daten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kampagnen-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei werden Kampagnen-IDs aufgelistet? Wähle diese Spalte hier. Diese Option ist sinnvoll, wenn du <em>bestehende Gutschein-Codes oder dazugehörige Daten aktualisieren</em> möchtest.<br>
Wenn du z.B. neue Gutschein-Codes importieren möchtest, lasse dieses Feld leer. Beim Import werden die IDs für die Kampagnen automatisch vergeben.</p>
<p class="tableblock"><strong><em>Hintergrund-Info:</em></strong> Jede neu angelegte Kampagne erhält automatisch eine ID, die nicht geändert werden kann. Die ID dient zur eindeutigen Kennzeichnung der Kampagne. Weil die ID eindeutig ist, lässt sich damit gut prüfen, ob der importierte Datensatz bereits in plentymarkets vorhanden ist.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="zuordnungsfelder">2. Zuordnungsfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel werden Felder erläutert, die für die Zuordnung von Gutschein-Codes und den dazugehörigen Daten zur Verfügung stehen. Mithilfe dieser Felder legst du fest, welche <em>Spalte deiner Datei</em> welchem <em>Datenfeld in deinem System</em> entspricht.</p>
</div>
<div class="paragraph instruction">
<p>Grundlegende Vorgehensweise:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong><em>In deiner CSV-Datei</em></strong>: Gib einen zulässigen Importwert in eine Spalte ein.</p>
</li>
<li>
<p><strong><em>In plentymarkets</em></strong>: Ordne diese Spalte dem passenden Zuordnungsfeld zu.</p>
</li>
<li>
<p><strong><em>Nach dem Import</em></strong>: Prüfe das Ergebnis im Backend.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kein Zuordnungsfeld? Standardwert greift!</div>
<div class="paragraph">
<p>Wenn du eine bestimmte Information nicht in deine CSV-Datei aufnimmst, d.h. wenn du ein bestimmtes Zuordnungsfeld <em>nicht verwendest</em>, dann erhält dein Gutschein den Standardwert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="kampagnen-code">2.1. Kampagnen-Code</h3>
<div class="sect3">
<h4 id="code">2.1.1. Code</h4>
<div class="paragraph">
<p>Gib den Gutschein-Code in deine CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert:</em></strong> kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte:</em></strong> Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <a href="/auftraege/gutscheine#gutschein-codes-generieren"><strong>Aufträge » Gutscheine</strong> » <em>Kampagne öffnen</em> im Tab <strong>Codes</strong></a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="kampagnen-id">2.1.2. Kampagnen-ID</h4>
<div class="paragraph">
<p>Wie lautet die ID der Kampagne, der der Gutschein-Code zugeordnet sein soll? Gib die ID der Kampagne in deine CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert:</em></strong> kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte:</em></strong> Numerisch (interne ID)</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <a href="/auftraege/gutscheine#kampagne-erstellen"><strong>Aufträge » Gutscheine</strong> in der Kampagnenübersicht</a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="anzahl-einloesungen">2.1.3. Anzahl der Einlösungen</h4>
<div class="paragraph">
<p>Gib die Anzahl der Einlösungen in deine CSV-Datei ein. Die Anzahl bezieht sich darauf, wie oft der Gutschein bereits eingelöst wurde.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert:</em></strong> kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte:</em></strong> Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <a href="/auftraege/gutscheine#kampagne-erstellen"><strong>Aufträge » Gutscheine</strong> in der Kampagnenübersicht</a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="eingeloester-betrag">2.1.4. Eingelöster Betrag</h4>
<div class="paragraph">
<p>Gib den eingelösten Betrag des Gutscheins in deine CSV-Datei ein. Der eingelöste Betrag kann nur für Gutscheine der Art <strong>Mehrzweckgutschein</strong> verwendet werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Beim Import wird <em>nicht</em> der Restwert des Gutscheins importiert, sondern der bereits eingelöste Betrag (siehe Beispiel unten).
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong><em>Standardwert:</em></strong> kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte:</em></strong> Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <a href="/auftraege/gutscheine#gutschein-codes-generieren"><strong>Aufträge » Gutscheine</strong> » <em>Kampagne öffnen</em> im Tab <strong>Codes</strong></a>.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel:</em></strong> Der Gutschein hat einen Wert über 100,00 EUR. Der Kunde löst 80,00 EUR ein. Somit beträgt der Restwert 20,00 EUR. Der Wert, der mit diesem Zuordnungsfeld importiert wird, beträgt 80,00 EUR.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="rabattwert">2.1.5. Rabattwert</h4>
<div class="paragraph">
<p>Gib den Rabattwert des Gutscheins in deine CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert:</em></strong> kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte:</em></strong> Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <a href="/auftraege/gutscheine#intable-gutscheinkampagne-rabattwert"><strong>Aufträge » Gutscheine</strong> in der Kampagnenübersicht und in der Kampagne im Bereich <strong>Gutschein</strong></a>.</p>
</div>
<hr>
</div>
</div>
</div>
</div>
</main>