<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#abgleichfelder"><span>1.</span><span> Abgleichfelder</span></a></li>
<li><a href="#zuordnungsfelder"><span>2.</span><span> Zuordnungsfelder</span></a>
<ul class="sectlevel2">
<li><a href="#newsletter"><span>2.1.</span><span> Newsletter</span></a>
<ul class="sectlevel3">
<li><a href="#id"><span>2.1.1.</span><span> ID</span></a></li>
<li><a href="#ordner-id"><span>2.1.2.</span><span> Ordner-ID</span></a></li>
<li><a href="#kontakt-id"><span>2.1.3.</span><span> Kontakt-ID</span></a></li>
<li><a href="#vorname"><span>2.1.4.</span><span> Vorname</span></a></li>
<li><a href="#nachname"><span>2.1.5.</span><span> Nachname</span></a></li>
<li><a href="#e-mail"><span>2.1.6.</span><span> E-Mail</span></a></li>
<li><a href="#geschlecht"><span>2.1.7.</span><span> Geschlecht</span></a></li>
<li><a href="#geburtstag"><span>2.1.8.</span><span> Geburtstag</span></a></li>
<li><a href="#sprache-vorlage"><span>2.1.9.</span><span> Sprache der Vorlage</span></a></li>
<li><a href="#bestätigt"><span>2.1.10.</span><span> Bestätigt am</span></a></li>
<li><a href="#ip-adresse"><span>2.1.11.</span><span> IP-Adresse</span></a></li>
<li><a href="#bestaetigungslink"><span>2.1.12.</span><span> Bestätigungslink</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Newsletter</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite erläutert die Abgleich- und Zuordnungsfelder, die dir beim Import von Newsletter-Empfängern zur Verfügung stehen. Diese Seite dient lediglich als Referenz und setzt voraus, dass du bereits Grundkenntnisse über das <a href="/daten/daten-importieren/ElasticSync">Import-Tool</a> hast.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="abgleichfelder">1. Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Abgleich von Newsletter-Empfängern steht das folgende Feld zur Verfügung. Anhand dieses Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="tabelle-abgleichfeld-newsletter-empfaenger" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Abgleichfeld für den Import von Newsletter-Daten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Abgleichfeld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei werden die IDs der E-Mail-Adressen, an die die Newsletter gesendet werden, aufgelistet? Wähle diese Spalte hier. Diese Option ist sinnvoll, wenn du  <em>bestehende Newsletter-Daten aktualisieren</em> möchtest.<br>
Wenn du neue E-Mail-Adressen importieren möchtest, lasse dieses Feld leer. Beim Import werden die IDs für die E-Mail-Adressen automatisch vergeben.</p>
<p class="tableblock"><strong><em>Hintergrund-Info:</em></strong> Jeder neu angelegte Newsletter-Datensatz erhält automatisch eine ID, die nicht geändert werden kann. Die ID dient zur eindeutigen Kennzeichnung des Kontakts. Weil die ID eindeutig ist, lässt sich damit gut prüfen, ob der importierte Datensatz bereits in plentymarkets vorhanden ist.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="zuordnungsfelder">2. Zuordnungsfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel werden Felder erläutert, die für die Zuordnung von Newsletter-Daten zur Verfügung stehen. Mithilfe dieser Felder legst du fest, welche <em>Spalte deiner Datei</em> welchem <em>Datenfeld in deinem System</em> entspricht.</p>
</div>
<div class="paragraph instruction">
<p>Grundlegende Vorgehensweise:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong><em>In deiner CSV-Datei</em></strong>: Gib einen zulässigen Importwert in eine Spalte ein.</p>
</li>
<li>
<p><strong><em>In plentymarkets</em></strong>: Ordne diese Spalte dem passenden Zuordnungsfeld zu.</p>
</li>
<li>
<p><strong><em>Nach dem Import</em></strong>: Prüfe das Ergebnis im Backend.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kein Zuordnungsfeld? Standardwert greift!</div>
<div class="paragraph">
<p>Wenn du eine bestimmte Information nicht in deine CSV-Datei aufnimmst, d.h. wenn du ein bestimmtes Zuordnungsfeld <em>nicht verwendest</em>, dann erhält der Newsletter den Standardwert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="newsletter">2.1. Newsletter</h3>
<div class="sect3">
<h4 id="id">2.1.1. ID</h4>
<div class="paragraph">
<p>Gib die ID der E-Mail-Adresse, an die der Newsletter gesendet wird, in deine CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert:</em></strong> kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte:</em></strong> Numerisch (interne ID)</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <a href="/crm/newsletter-versenden"><strong>Einrichtung » CRM » Newsletter » E-Mails</strong> » <em>Ordner aufklappen</em></a>, nachdem du die Suche (<span class="icon blue"><i class="fa fa-search  "></i></span>) ausgeführt hast.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="ordner-id">2.1.2. Ordner-ID</h4>
<div class="paragraph">
<p>Gib die ID des Ordners, in dem die E-Mail-Adresse des Newsletter-Empfängers gespeichert ist, in deine CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert:</em></strong> kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte:</em></strong> Numerisch (interne ID)</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <a href="/crm/newsletter-versenden"><strong>Einrichtung » CRM » Newsletter » E-Mails</strong> in der Übersicht <strong>E-Mails pro Ordner</strong></a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="kontakt-id">2.1.3. Kontakt-ID</h4>
<div class="paragraph">
<p>Möchtest du beim Import eine Verbindung zu einem bestehenden Kontakt herstellen? Gib die ID des Kontakts in deine CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert:</em></strong> kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte:</em></strong> Numerisch (interne ID)</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="vorname">2.1.4. Vorname</h4>
<div class="paragraph">
<p>Gib den Vornamen der Person, die den Newsletter erhalten soll, in deine CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert:</em></strong> kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte:</em></strong> Text</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <a href="/crm/newsletter-versenden"><strong>Einrichtung » CRM » Newsletter » E-Mails</strong> » <em>Ordner aufklappen</em></a>. Dann die Suche (<span class="icon blue"><i class="fa fa-search  "></i></span>) ausführen und den Datensatz aufklappen (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>). Der Wert ist im Feld <strong>Vorname</strong> gespeichert.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="nachname">2.1.5. Nachname</h4>
<div class="paragraph">
<p>Gib den Nachnamen der Person, die den Newsletter erhalten soll, in deine CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert:</em></strong> kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte:</em></strong> Text</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <a href="/crm/newsletter-versenden"><strong>Einrichtung » CRM » Newsletter » E-Mails</strong> » <em>Ordner aufklappen</em></a>. Dann die Suche (<span class="icon blue"><i class="fa fa-search  "></i></span>) ausführen und den Datensatz aufklappen (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>). Der Wert ist im Feld <strong>Nachname</strong> gespeichert.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="e-mail">2.1.6. E-Mail</h4>
<div class="paragraph">
<p>Gib die E-Mail-Adresse der Person, die den Newsletter erhalten soll, in deine CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert:</em></strong> kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte:</em></strong> Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <a href="/crm/newsletter-versenden"><strong>Einrichtung » CRM » Newsletter » E-Mails</strong> » <em>Ordner aufklappen</em></a>. Dann die Suche (<span class="icon blue"><i class="fa fa-search  "></i></span>) ausführen und den Datensatz aufklappen (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>). Der Wert ist im Feld <strong>E-Mail</strong> gespeichert.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="geschlecht">2.1.7. Geschlecht</h4>
<div class="paragraph">
<p>Gib das Geschlecht der Person, die den Newsletter erhalten soll, in deine CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert:</em></strong> kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte:</em></strong> Text</p>
</div>
<div class="paragraph">
<p>Diese Information kann beispielsweise für externe Newsletter-Anbieter nützlich sein.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="geburtstag">2.1.8. Geburtstag</h4>
<div class="paragraph">
<p>Gib das Geburtsdatum der Person, die den Newsletter erhalten soll, in deine CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert:</em></strong> kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte:</em></strong> Datum</p>
</div>
<div class="paragraph">
<p>Diese Information kann beispielsweise für externe Newsletter-Anbieter nützlich sein.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="sprache-vorlage">2.1.9. Sprache der Vorlage</h4>
<div class="paragraph">
<p>Gib die Sprache, die für die E-Mail-Vorlage gespeichert ist, in deine CSV-Datei ein.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Die Sprache wird in der E-Mail-Vorlage im Tab <strong>E-Mail-Nachricht</strong> eingestellt.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong><em>Standardwert:</em></strong> kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte:</em></strong> Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Diese Information kann beispielsweise für externe Newsletter-Anbieter nützlich sein.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="bestätigt">2.1.10. Bestätigt am</h4>
<div class="paragraph">
<p>Gib das Datum, an dem die Person den Erhalt des Newsletters bestätigt hat, in deine CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert:</em></strong> kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte:</em></strong> Datum</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <a href="/crm/newsletter-versenden"><strong>Einrichtung » CRM » Newsletter » E-Mails</strong> » <em>Ordner aufklappen</em></a>. Dann die Suche (<span class="icon blue"><i class="fa fa-search  "></i></span>) ausführen und den Datensatz aufklappen (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>). Der Wert ist im Feld <strong>Bestätigt am</strong> gespeichert.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="ip-adresse">2.1.11. IP-Adresse</h4>
<div class="paragraph">
<p>Gib die IP-Adresse, über die die Person den Newsletter-Empfang bestätigt hat, in deine CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert:</em></strong> kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte:</em></strong> Numerisch</p>
</div>
<div class="paragraph">
<p>Diese Information kann beispielsweise für externe Newsletter-Anbieter nützlich sein.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="bestaetigungslink">2.1.12. Bestätigungslink</h4>
<div class="paragraph">
<p>Wie lautet der Bestätigungslink, den Personen klicken müssen, um sich für den Erhalt deines Newsletters anzumelden? Gib diesen Bestätigungslink in deine CSV-Datei ein.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Der Bestätigungslink kann in der E-Mail-Vorlage über die Template-Variable <code>$NewsletterConfirmURL</code> ausgegeben werden.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong><em>Standardwert:</em></strong> kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte:</em></strong> URL</p>
</div>
<div class="paragraph">
<p>Diese Information kann beispielsweise für externe Newsletter-Anbieter nützlich sein.</p>
</div>
<hr>
</div>
</div>
</div>
</div>
</main>