<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Abgleichfelder</span></a></li>
<li><a href="#200"><span>2.</span><span> Zuordnungsfelder</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Auswahlwerte</span></a>
<ul class="sectlevel3">
<li><a href="#310"><span>2.1.1.</span><span> Eigenschaft-ID</span></a></li>
<li><a href="#320"><span>2.1.2.</span><span> Position</span></a></li>
<li><a href="#330"><span>2.1.3.</span><span> Name</span></a></li>
<li><a href="#340"><span>2.1.4.</span><span> Wert löschen</span></a></li>
</ul>
</li>
<li><a href="#400"><span>2.2.</span><span> Name von Auswahlwerten</span></a>
<ul class="sectlevel3">
<li><a href="#410"><span>2.2.1.</span><span> ID</span></a></li>
<li><a href="#420"><span>2.2.2.</span><span> Name</span></a></li>
<li><a href="#430"><span>2.2.3.</span><span> Beschreibung</span></a></li>
<li><a href="#440"><span>2.2.4.</span><span> Namen löschen</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Eigenschaften: Auswahlwerte</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hast du Eigenschaften vom Typ <strong>Auswahl</strong> oder <strong>Mehrfachauswahl</strong>?
Das Besondere an diesen beiden Eigenschafts-Typen ist, dass sie einzelne <em>Werte</em> haben, die zur <em>Auswahl</em> stehen.
Solche Auswahlwerte können manuell erstellt oder importiert werden.</p>
</div>
<div class="paragraph">
<p>Diese Seite erläutert die Abgleich- und Zuordnungsfelder, die dir beim Importieren von Auswahlwerten zur Verfügung stehen.

Diese Seite dient lediglich als Referenz und setzt voraus, dass du bereits Grundkenntnisse über das <a href="/daten/daten-importieren/ElasticSync">Import-Tool</a> hast.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Voraussetzungen</div>
<div class="paragraph">
<p>Du musst die Eigenschaften vom Typ <strong>Auswahl</strong> oder <strong>Mehrfachauswahl</strong> bereits angelegt haben.
Dies kann entweder <a href="/artikel/einstellungen/eigenschaften#600">manuell</a> oder <a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften">per Import</a> erfolgen.
Erst danach können die Auswahlwerte wie auf dieser Seite beschrieben importiert werden.</p>
</div>
<div class="paragraph">
<p>Anders gesagt: Es ist nicht möglich, die Eigenschaften und ihre Auswahlwerte zusammen in einem Import zu erstellen.
Dies muss durch zwei separate Importe erfolgen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#table-matching-fields-property-selection-values">Tabelle 1</a> werden Felder erläutert, die für den Abgleich von Auswahlwerten zur Verfügung stehen.
Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="table-matching-fields-property-selection-values" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Abgleichfelder für Auswahlwerte</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Abgleichfeld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahl-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei werden Auswahlwert-IDs aufgelistet?
Wähle diese Spalte hier.
Diese Option ist sinnvoll, wenn du <em>bestehende Auswahlwerte aktualisieren</em> möchtest.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Jeder neu angelegte Auswahlwert erhält automatisch eine ID, die nicht geändert werden kann.
Die ID dient zur eindeutigen Kennzeichnung des Auswahlwerts.
Da die ID eindeutig ist, lässt sich damit gut prüfen, ob der importierte Datensatz bereits in plentymarkets vorhanden ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahlname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei ist der Name des Auswahlwerts aufgeführt?
Wähle diese Spalte hier.
Dann wähle die Sprache des Namens aus der zweiten Dropdown-Liste aus.
Diese Option ist sinnvoll, wenn du <em>neue Auswahlwerte erstellen</em> möchtest.</p>
<p class="tableblock"><strong><em>Zusätzliche Einstellung</em></strong>:
Diese Option kann nur zusammen mit dem Abgleichfeld <strong>Eigenschaft-ID</strong> oder <strong>Eigenschaftsname</strong> verwendet werden.<br>
Warum?
Es ist möglich, denselben Auswahlnamen für verschiedene Eigenschaften zu hinterlegen.
Der Auswahlname ist also allein nicht eindeutig genug.
Verwende daher den Auswahlnamen zusammen mit der Eigenschafts-ID oder dem Eigenschaftsnamen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaft-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hast du <strong>Auswahlname</strong> als Abgleichfeld gewählt?
Falls ja, dann musst du zusätzlich entweder <strong>Eigenschaft-ID</strong> oder <strong>Eigenschaftsname</strong> verwenden.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>:
Es ist möglich, denselben Auswahlnamen für verschiedene Eigenschaften zu hinterlegen.
Der Auswahlname ist also allein nicht eindeutig genug.
Verwende daher den Auswahlnamen zusammen mit der Eigenschafts-ID oder dem Eigenschaftsnamen.</p>
<p class="tableblock">In welcher Spalte der CSV-Datei werden Eigenschaft-IDs aufgelistet?
Wähle diese Spalte hier.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigenschaftsname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hast du <strong>Auswahlname</strong> als Abgleichfeld gewählt?
Falls ja, dann musst du zusätzlich entweder <strong>Eigenschaft-ID</strong> oder <strong>Eigenschaftsname</strong> verwenden.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>:
Es ist möglich, denselben Auswahlnamen für verschiedene Eigenschaften zu hinterlegen.
Der Auswahlname ist also allein nicht eindeutig genug.
Verwende daher den Auswahlnamen zusammen mit der Eigenschafts-ID oder dem Eigenschaftsnamen.</p>
<p class="tableblock">In welcher Spalte der CSV-Datei ist der Name der Eigenschaft aufgeführt?
Wähle diese Spalte hier.
Dann wähle die Sprache des Eigenschaftsnamens aus der zweiten Dropdown-Liste aus.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Zuordnungsfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel werden Felder erläutert, die für die Zuordnung von Auswahlwerten zur Verfügung stehen.
Mithilfe dieser Felder legst du fest, welche <em>Spalte deiner Datei</em> welchem <em>Datenfeld in deinem System</em> entspricht.</p>
</div>
<div class="paragraph instruction">
<p>Grundlegende Vorgehensweise:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong><em>In deiner CSV-Datei</em></strong>: Gib einen zulässigen Importwert in eine Spalte ein.</p>
</li>
<li>
<p><strong><em>In plentymarkets</em></strong>: Ordne diese Spalte dem passenden Zuordnungsfeld zu.</p>
</li>
<li>
<p><strong><em>Nach dem Import</em></strong>: Prüfe das Ergebnis im Backend.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kein Zuordnungsfeld? Standardwert greift!</div>
<div class="paragraph">
<p>Wenn du eine bestimmte Information nicht in deine CSV-Datei aufnimmst, d.h. wenn du ein bestimmtes Zuordnungsfeld <em>nicht verwendest</em>, dann erhält dein Auswahlwert den Standardwert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="300">2.1. Auswahlwerte</h3>
<div class="sect3">
<h4 id="310">2.1.1. Eigenschaft-ID</h4>
<div class="paragraph">
<p>Dieses Feld ist für dich relevant, wenn du neue Auswahlwerte erstellen möchtest und du die Eigenschaft-ID <em>nicht</em> bereits als Abgleichfeld gewählt hast.
Dieses Feld teilt plentymarkets mit, für welche Eigenschaft die Werte erstellt werden sollen.</p>
</div>
<div class="paragraph">
<p>Gib die Eigenschaft-ID in die CSV-Datei ein.
Die Eigenschaft-IDs findest du im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch (interne ID)</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="320">2.1.2. Position</h4>
<div class="paragraph">
<p>Welcher Auswahlwert soll als erster, zweiter, dritter, usw. angezeigt werden?
Gib eine Positionsnummer in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#700">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » [Eigenschaft öffnen] » Werte</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="330">2.1.3. Name</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span> für neue Auswahlwerte</p>
</div>
<div class="paragraph">
<p>Gib den Namen des Auswahlwerts in die CSV-Datei ein.
Verfasse den Text in der Standardsprache deines plentymarkets Systems.
Verwende zusätzlich das Feld <a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften-auswahlwerte#420">Name von Auswahlwerten / Name</a>, wenn du den Namen auch in weiteren Sprachen speichern möchtest.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#700">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » [Eigenschaft öffnen] » Werte</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="340">2.1.4. Wert löschen</h4>
<div class="paragraph">
<p>Möchtest du den Auswahlwert löschen?</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswahlwert wird <em>nicht</em> gelöscht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswahlwert wird gelöscht.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#700">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » [Eigenschaft öffnen] » Werte</a></p>
</div>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="400">2.2. Name von Auswahlwerten</h3>
<div class="sect3">
<h4 id="410">2.2.1. ID</h4>
<div class="paragraph">
<p>Dieses Feld ist für dich relevant, wenn du den Namen eines Auswahlwerts löschen möchtest.
Dieses Feld teilt plentymarkets mit, für welchen Auswahlwert die Namen gelöscht werden sollen.</p>
</div>
<div class="paragraph">
<p>Gib die Auswahlwert-ID in die CSV-Datei ein.
Die Auswahlwert-IDs findest du im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration » [Eigenschaft öffnen] » Werte</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch (interne ID)</p>
</div>
<div class="paragraph">
<p><strong><em>Zusätzliche Einstellung</em></strong>:
Verwende dieses Feld zusammen mit dem Feld <a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften-auswahlwerte#440">Name von Auswahlwerten / Namen löschen</a>.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="420">2.2.2. Name</h4>
<div class="paragraph">
<p>Gib den Namen des Auswahlwerts in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p>Im Gegensatz zum Feld <a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften-auswahlwerte#330">Auswahlwerte / Name</a> kannst du dieses Feld verwenden, um den Namen in mehreren Sprachen zu speichern.
Füge das Feld einmal pro Sprache hinzu.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Liste auch die Sprache ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#700">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » [Eigenschaft öffnen] » Werte</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="430">2.2.3. Beschreibung</h4>
<div class="paragraph">
<p>Gib eine Beschreibung des Auswahlwerts in die CSV-Datei ein.
Wenn du die Beschreibung in mehreren Sprachen speichern willst, dann füge das Feld einmal pro Sprache hinzu.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Liste auch die Sprache ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/eigenschaften#700">Einrichtung » Einstellungen » Eigenschaften » Konfiguration » [Eigenschaft öffnen] » Werte</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="440">2.2.4. Namen löschen</h4>
<div class="paragraph">
<p>Möchtest du den Namen eines Auswahlwerts löschen?
Gib deine Antwort in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswahlwert wird <em>nicht</em> gelöscht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswahlwert wird gelöscht.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Liste auch die Sprache ein.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><strong><em>Zusätzliche Einstellung</em></strong>:
Verwende dieses Feld zusammen mit dem Feld <a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften-auswahlwerte#410">Name von Auswahlwerten / ID</a>.</p>
</div>
</div>
</div>
</div>
</div>
</main>