<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Abgleichfelder</span></a></li>
<li><a href="#20"><span>2.</span><span> Zuordnungsfelder</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Hersteller</span></a>
<ul class="sectlevel3">
<li><a href="#40"><span>2.1.1.</span><span> Name</span></a></li>
<li><a href="#50"><span>2.1.2.</span><span> Externer Name</span></a></li>
<li><a href="#60"><span>2.1.3.</span><span> Logo-URL</span></a></li>
<li><a href="#70"><span>2.1.4.</span><span> Homepage</span></a></li>
<li><a href="#80"><span>2.1.5.</span><span> Straße</span></a></li>
<li><a href="#90"><span>2.1.6.</span><span> Haus-Nr.</span></a></li>
<li><a href="#100"><span>2.1.7.</span><span> PLZ</span></a></li>
<li><a href="#110"><span>2.1.8.</span><span> Ort</span></a></li>
<li><a href="#120"><span>2.1.9.</span><span> Telefonnummer</span></a></li>
<li><a href="#130"><span>2.1.10.</span><span> Faxnummer</span></a></li>
<li><a href="#140"><span>2.1.11.</span><span> E-Mail</span></a></li>
<li><a href="#150"><span>2.1.12.</span><span> Land</span></a></li>
<li><a href="#160"><span>2.1.13.</span><span> Pixmania-ID</span></a></li>
<li><a href="#170"><span>2.1.14.</span><span> Neckermann.at Enterprise-ID</span></a></li>
<li><a href="#180"><span>2.1.15.</span><span> La Redoute-ID</span></a></li>
<li><a href="#190"><span>2.1.16.</span><span> Position</span></a></li>
<li><a href="#200"><span>2.1.17.</span><span> Kommentar</span></a></li>
<li><a href="#210"><span>2.1.18.</span><span> Hersteller löschen</span></a></li>
</ul>
</li>
<li><a href="#220"><span>2.2.</span><span> Hersteller (extern)</span></a>
<ul class="sectlevel3">
<li><a href="#230"><span>2.2.1.</span><span> Wert</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Hersteller</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite erläutert die Abgleich- und Zuordnungsfelder, die dir beim Importieren von Herstellerdatensätzen zur Verfügung stehen.

Diese Seite dient lediglich als Referenz und setzt voraus, dass du bereits Grundkenntnisse über das <a href="/daten/daten-importieren/ElasticSync">Import-Tool</a> hast.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Abgleichfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#table-matching-fields-manufacturers">Tabelle 1</a> werden Felder erläutert, die für den Abgleich von Herstellerdaten zur Verfügung stehen.
Anhand des gewählten Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="table-matching-fields-manufacturers" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Abgleichfelder für den Import von Herstellerdaten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei werden Hersteller-IDs aufgelistet? Wähle diese Spalte hier.
Diese Option ist sinnvoll, wenn du <em>bestehende Herstellerdatensätze aktualisieren</em> möchtest.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Jeder neu angelegte Hersteller erhält automatisch eine ID, die nicht geändert werden kann.
Die ID dient zur eindeutigen Kennzeichnung des Herstellers.
Da die ID eindeutig ist, lässt sich damit gut prüfen, ob der importierte Datensatz bereits in plentymarkets vorhanden ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herstellername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei wird der Name des Herstellers aufgeführt? Wähle diese Spalte hier.
Diese Option ist sinnvoll, wenn du <em>neue Herstellerdatensätze erstellen</em> möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externer Herstellername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte der CSV-Datei wird der externe Herstellername aufgeführt? Wähle diese Spalte hier.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Zuordnungsfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel werden Felder erläutert, die für die Zuordnung von Herstellerdaten zur Verfügung stehen.
Mithilfe dieser Felder legst du fest, welche <em>Spalte deiner Datei</em> welchem <em>Datenfeld in deinem System</em> entspricht.</p>
</div>
<div class="paragraph instruction">
<p>Grundlegende Vorgehensweise:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong><em>In deiner CSV-Datei</em></strong>: Gib einen zulässigen Importwert in eine Spalte ein.</p>
</li>
<li>
<p><strong><em>In plentymarkets</em></strong>: Ordne diese Spalte dem passenden Zuordnungsfeld zu.</p>
</li>
<li>
<p><strong><em>Nach dem Import</em></strong>: Prüfe das Ergebnis im Backend.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kein Zuordnungsfeld? Standardwert greift!</div>
<div class="paragraph">
<p>Wenn du eine bestimmte Information nicht in deine CSV-Datei aufnimmst, d.h. wenn du ein bestimmtes Zuordnungsfeld <em>nicht verwendest</em>, dann erhält dein Herstellerdatensatz den Standardwert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="30">2.1. Hersteller</h3>
<div class="sect3">
<h4 id="40">2.1.1. Name</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span> für neue Herstellerdatensätze</p>
</div>
<div class="paragraph">
<p>Gib den internen Namen des Herstellers in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/hersteller#100">Einrichtung » Artikel » Hersteller » Tab: Einstellungen » Eingabefeld: Name</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="50">2.1.2. Externer Name</h4>
<div class="paragraph">
<p>Gib den externen Namen des Herstellers in die CSV-Datei ein.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der externe Name ist für Kunden im plentyShop sichtbar.
Er ist auch <a href="/artikel/einstellungen/hersteller#450">für die Suchfunktion im plentyShop relevant</a>.</p>
</li>
<li>
<p>Wenn du deine Artikeldaten an Marktplätze überträgst, wird der externe Herstellername mitgeliefert.
Falls kein externer Herstellername existiert, wird stattdessen der interne Name verwendet.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/hersteller#100">Einrichtung » Artikel » Hersteller » Tab: Einstellungen » Eingabefeld: Externer Name</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="60">2.1.3. Logo-URL</h4>
<div class="paragraph">
<p>Gib die URL zum Logo des Herstellers in die CSV-Datei ein.
Die URL darf bis zu 2.000 Zeichen umfassen.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/hersteller#100">Einrichtung » Artikel » Hersteller » Tab: Einstellungen » Eingabefeld: Logo-URL</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="70">2.1.4. Homepage</h4>
<div class="paragraph">
<p>Gib die URL zur Homepage des Herstellers in die CSV-Datei ein.
Die URL darf bis zu 2.000 Zeichen umfassen.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/hersteller#100">Einrichtung » Artikel » Hersteller » Tab: Einstellungen » Eingabefeld: Homepage</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="80">2.1.5. Straße</h4>
<div class="paragraph">
<p>Gib den Straßennamen des Herstellers in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/hersteller#100">Einrichtung » Artikel » Hersteller » Tab: Einstellungen » Eingabefeld: Straße</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="90">2.1.6. Haus-Nr.</h4>
<div class="paragraph">
<p>Gib die Hausnummer des Herstellers in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/hersteller#100">Einrichtung » Artikel » Hersteller » Tab: Einstellungen » Eingabefeld: Haus-Nr.</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="100">2.1.7. PLZ</h4>
<div class="paragraph">
<p>Gib die Postleitzahl des Herstellers in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/hersteller#100">Einrichtung » Artikel » Hersteller » Tab: Einstellungen » Eingabefeld: PLZ</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="110">2.1.8. Ort</h4>
<div class="paragraph">
<p>Gib die Stadt des Herstellers in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/hersteller#100">Einrichtung » Artikel » Hersteller » Tab: Einstellungen » Eingabefeld: Ort</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="120">2.1.9. Telefonnummer</h4>
<div class="paragraph">
<p>Gib die Telefonnummer des Herstellers in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/hersteller#100">Einrichtung » Artikel » Hersteller » Tab: Einstellungen » Eingabefeld: Telefonnummer</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="130">2.1.10. Faxnummer</h4>
<div class="paragraph">
<p>Gib die Faxnummer des Herstellers in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/hersteller#100">Einrichtung » Artikel » Hersteller » Tab: Einstellungen » Eingabefeld: Faxnummer</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="140">2.1.11. E-Mail</h4>
<div class="paragraph">
<p>Gib die E-Mail-Adresse des Herstellers in die CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/hersteller#100">Einrichtung » Artikel » Hersteller » Tab: Einstellungen » Eingabefeld: E-Mail</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="150">2.1.12. Land</h4>
<div class="paragraph">
<p>Gib die passende <a href="/daten/interne-IDs#20">interne Länder-ID</a> in die CSV-Datei ein.
Das heißt, die plentymarkets ID für das Land.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>Unbekannt</code></p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch (interne Länder-IDs)</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/hersteller#100">Einrichtung » Artikel » Hersteller » Tab: Einstellungen » Dropdown-Liste: Land</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="160">2.1.13. Pixmania-ID</h4>
<div class="paragraph">
<p>Gib die Hersteller-ID des Marktplatzes in die CSV-Datei ein.
Die Hersteller-ID erhältst du beim Einrichten des Marktplatzes.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/hersteller#100">Einrichtung » Artikel » Hersteller » Tab: Einstellungen » Eingabefeld: PIXmania-ID</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="170">2.1.14. Neckermann.at Enterprise-ID</h4>
<div class="paragraph">
<p>Gib die Hersteller-ID des Marktplatzes in die CSV-Datei ein.
Die Hersteller-ID erhältst du beim Einrichten des Marktplatzes.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/hersteller#100">Einrichtung » Artikel » Hersteller » Tab: Einstellungen » Eingabefeld: Neckermann.at Enterprise-ID</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="180">2.1.15. La Redoute-ID</h4>
<div class="paragraph">
<p>Gib die Hersteller-ID des Marktplatzes in die CSV-Datei ein.
Die Hersteller-ID erhältst du beim Einrichten des Marktplatzes.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/hersteller#100">Einrichtung » Artikel » Hersteller » Tab: Einstellungen » Eingabefeld: La Redoute-ID</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="190">2.1.16. Position</h4>
<div class="paragraph">
<p>Gib eine Positionsnummer für den Hersteller in die CSV-Datei ein.
Lässt du dieses Feld leer, dann wird automatisch die Positionsnummer 0 vergeben.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/hersteller#100">Einrichtung » Artikel » Hersteller » Tab: Einstellungen » Eingabefeld: Position</a></p>
</div>
<div class="paragraph">
<p>Herstellerdatensätze können nach der Positionsnummer im Menü <strong>Einrichtung » Artikel » Hersteller</strong> sortiert werden.
Führe deinen Mauszeiger über die Spaltenüberschrift <strong>Position</strong>.
Klicke auf das kleine Dreieck (<span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span>), um die Hersteller in aufsteigender oder absteigender Reihenfolge nach Positionsnummer darzustellen.
Bei gleicher Position wird innerhalb der Position nach dem Namen sortiert.</p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="200">2.1.17. Kommentar</h4>
<div class="paragraph">
<p>Gib einen optionalen Kommentar über den Hersteller in die CSV-Datei ein.
Dies ist ein interner Kommentar, d.h. er ist nur in deinem plentymarkets System sichtbar.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/hersteller#100">Einrichtung » Artikel » Hersteller » Tab: Einstellungen » Eingabefeld: Kommentar</a></p>
</div>
<hr>
</div>
<div class="sect3">
<h4 id="210">2.1.18. Hersteller löschen</h4>
<div class="paragraph">
<p>Möchtest du den Herstellerdatensatz löschen?</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: <code>0</code></p>
</div>
<table id="table-mapping-attributes-delete-attribute" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zulässige Importwerte in CSV-Datei</th>
<th class="tableblock halign-left valign-top">Ergebnis im Backend</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller wird <em>nicht</em> gelöscht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller wird gelöscht</p></td>
</tr>
</tbody>
</table>
<hr>
</div>
</div>
<div class="sect2">
<h3 id="220">2.2. Hersteller (extern)</h3>
<div class="sect3">
<h4 id="230">2.2.1. Wert</h4>
<div class="paragraph">
<p>Gib die Hersteller-ID des Marktplatzes Netto Estores oder Cdiscount.com in die CSV-Datei ein.
Die Hersteller-ID erhältst du beim Einrichten des Marktplatzes.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Stelle mithilfe der Dropdown-Liste ein, ob sich die ID auf Netto Estores oder Cdiscount.com bezieht.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü: <a href="/artikel/einstellungen/hersteller#100">Einrichtung » Artikel » Hersteller » Tab: Einstellungen » Eingabefeld: Netto Estores-ID oder Cdiscount.com-ID</a></p>
</div>
</div>
</div>
</div>
</div>
</main>