<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#2010"><span>1.</span><span> Felder für den Auftragsabgleich</span></a></li>
<li><a href="#2020"><span>2.</span><span> Felder für die Auftragszuordnung</span></a>
<ul class="sectlevel2">
<li><a href="#2030"><span>2.1.</span><span> Auftrag</span></a>
<ul class="sectlevel3">
<li><a href="#2040"><span>2.1.1.</span><span> ID des Typs</span></a></li>
<li><a href="#2050"><span>2.1.2.</span><span> ID des Status</span></a></li>
<li><a href="#2060"><span>2.1.3.</span><span> ID des Eigners</span></a></li>
<li><a href="#2070"><span>2.1.4.</span><span> Referrer-ID</span></a></li>
<li><a href="#2080"><span>2.1.5.</span><span> PlentyID</span></a></li>
<li><a href="#2090"><span>2.1.6.</span><span> ID des Standorts</span></a></li>
<li><a href="#2120"><span>2.1.7.</span><span> ID des Elternauftrags</span></a></li>
</ul>
</li>
<li><a href="#2130"><span>2.2.</span><span> Auftragsposition</span></a>
<ul class="sectlevel3">
<li><a href="#2140"><span>2.2.1.</span><span> Typ</span></a></li>
<li><a href="#2150"><span>2.2.2.</span><span> Herkunft</span></a></li>
<li><a href="#2160"><span>2.2.3.</span><span> Name</span></a></li>
<li><a href="#2170"><span>2.2.4.</span><span> Attributwert</span></a></li>
<li><a href="#2180"><span>2.2.5.</span><span> Umsatzsteuersatz</span></a></li>
<li><a href="#2190"><span>2.2.6.</span><span> Umsatzsteuerbetrag</span></a></li>
<li><a href="#2200"><span>2.2.7.</span><span> Menge</span></a></li>
<li><a href="#2210"><span>2.2.8.</span><span> Varianten-ID</span></a></li>
<li><a href="#2220"><span>2.2.9.</span><span> Position</span></a></li>
<li><a href="#2230"><span>2.2.10.</span><span> Währung</span></a></li>
<li><a href="#2240"><span>2.2.11.</span><span> Wechselkurs</span></a></li>
<li><a href="#2250"><span>2.2.12.</span><span> Einkaufspreis</span></a></li>
<li><a href="#2260"><span>2.2.13.</span><span> Bruttopreis</span></a></li>
<li><a href="#2260"><span>2.2.14.</span><span> Nettopreis</span></a></li>
<li><a href="#2270"><span>2.2.15.</span><span> Preisaufschlag</span></a></li>
<li><a href="#2280"><span>2.2.16.</span><span> Rabatt</span></a></li>
<li><a href="#2290"><span>2.2.17.</span><span> Prozentualer Rabatt</span></a></li>
</ul>
</li>
<li><a href="#2300"><span>2.3.</span><span> Auftragspositionseigenschaften</span></a>
<ul class="sectlevel3">
<li><a href="#2310"><span>2.3.1.</span><span> Wert</span></a></li>
</ul>
</li>
<li><a href="#2320"><span>2.4.</span><span> Auftragsnotiz</span></a>
<ul class="sectlevel3">
<li><a href="#2330"><span>2.4.1.</span><span> Text</span></a></li>
</ul>
</li>
<li><a href="#2340"><span>2.5.</span><span> Adressrelation</span></a>
<ul class="sectlevel3">
<li><a href="#2350"><span>2.5.1.</span><span> ID der Adresse</span></a></li>
</ul>
</li>
<li><a href="#2360"><span>2.6.</span><span> Auftragseigenschaft</span></a>
<ul class="sectlevel3">
<li><a href="#2370"><span>2.6.1.</span><span> Wert</span></a></li>
</ul>
</li>
<li><a href="#2380"><span>2.7.</span><span> Auftragsdatum</span></a>
<ul class="sectlevel3">
<li><a href="#2390"><span>2.7.1.</span><span> Datum</span></a></li>
</ul>
</li>
<li><a href="#2400"><span>2.8.</span><span> Auftragsrelation</span></a>
<ul class="sectlevel3">
<li><a href="#2410"><span>2.8.1.</span><span> ID der Referenz</span></a></li>
</ul>
</li>
<li><a href="#2420"><span>2.9.</span><span> Adresse</span></a>
<ul class="sectlevel3">
<li><a href="#2430"><span>2.9.1.</span><span> Name 1 (Firma)</span></a></li>
<li><a href="#2440"><span>2.9.2.</span><span> Name 2 (Vorname)</span></a></li>
<li><a href="#2450"><span>2.9.3.</span><span> Name 3 (Nachname)</span></a></li>
<li><a href="#2460"><span>2.9.4.</span><span> Name 4 (Zusatz)</span></a></li>
<li><a href="#2470"><span>2.9.5.</span><span> Adresse 1 (Straße)</span></a></li>
<li><a href="#2480"><span>2.9.6.</span><span> Adresse 2 (Hausnummer)</span></a></li>
<li><a href="#2490"><span>2.9.7.</span><span> Adresse 3 (Zusatz)</span></a></li>
<li><a href="#2500"><span>2.9.8.</span><span> Adresse 4 (Frei)</span></a></li>
<li><a href="#2510"><span>2.9.9.</span><span> Postleitzahl</span></a></li>
<li><a href="#2520"><span>2.9.10.</span><span> Stadt</span></a></li>
<li><a href="#2530"><span>2.9.11.</span><span> ID des Landes</span></a></li>
<li><a href="#2540"><span>2.9.12.</span><span> ID des Bundeslandes</span></a></li>
<li><a href="#2550"><span>2.9.13.</span><span> Umsatzsteuer-ID</span></a></li>
<li><a href="#2560"><span>2.9.14.</span><span> Telefon</span></a></li>
<li><a href="#2570"><span>2.9.15.</span><span> E-Mail</span></a></li>
</ul>
</li>
<li><a href="#2580"><span>2.10.</span><span> Versandpaket</span></a>
<ul class="sectlevel3">
<li><a href="#2590"><span>2.10.1.</span><span> Gewicht (g)</span></a></li>
<li><a href="#2600"><span>2.10.2.</span><span> Paketnummer</span></a></li>
<li><a href="#2610"><span>2.10.3.</span><span> Retourenpaketnummer</span></a></li>
<li><a href="#2620"><span>2.10.4.</span><span> Packstückart</span></a></li>
<li><a href="#2630"><span>2.10.5.</span><span> Paletten-ID</span></a></li>
<li><a href="#2640"><span>2.10.6.</span><span> Ist geschlossen</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Aufträge</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Seite erläutert die Abgleich- und Zuordnungsfelder, die dir beim Importieren von Aufträgen zur Verfügung stehen.

Diese Seite dient lediglich als Referenz und setzt voraus, dass du bereits Grundkenntnisse über das <a href="/daten/daten-importieren/ElasticSync">Import-Tool</a> hast.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Praxisbeispiel: Auftragspositionen</div>
<div class="paragraph">
<p>Auf der Praxisbeispiel-Seite <a href="/daten/daten-importieren/elasticsync-best-practices/best-practices-elasticsync-auftragspositionen">Auftragspositionen</a> findest du weitere Informationen zum Import und der Aktualisierung von Auftragspositionen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="2010">1. Felder für den Auftragsabgleich</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In <a href="#tabelle-abgleichfelder-auftrag">Tabelle 1</a> werden Felder erläutert, die für den Abgleich von Auftragsdaten zur Verfügung stehen. Anhand des gewählten Abgleichsfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="tabelle-abgleichfelder-auftrag" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Abgleichfelder für Auftragsimport</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufträge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte deiner CSV-Datei werden die Auftrags-IDs aufgelistet? Wähle diese Spalte hier. Du kannst optional zusätzlich abstufen, ob es sich um eine plenty <strong>Auftrags-ID</strong> oder eine <strong>Externe Auftrags-ID</strong> handelt.<br>
Diese Einstellung ist sinnvoll, wenn du <em>bestehende Aufträge aktualisieren</em> möchtest.<br></p>
<p class="tableblock"><em>Hintergrund-Info</em>: Jeder neu angelegte Auftrag erhält automatisch eine ID, die nicht geändert werden kann. Die ID dient zur eindeutigen Kennzeichnung des Auftrags. Da die ID eindeutig ist, lässt sich damit gut prüfen, ob der importierte Auftrag bereits in plentymarkets vorhanden ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Paket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte deiner CSV-Datei werden die IDs der Versandpakete aufgelistet? Wähle diese Spalte hier.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsposition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte deiner CSV-Datei werden die Auftragspositionen aufgelistet? Wähle diese Spalte hier. Wähle anschließend aus, worum es sich genau handelt. Zur Verfügung stehen dir <strong>Auftragspositions-ID</strong>, <strong>Externe Artikel ID</strong> oder <strong>Externe Token ID</strong>.</p></td>
</tr>
</tbody>
</table>
<table id="table-supplement-data" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Daten ergänzen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erläuterung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte deiner CSV-Datei werden die Varianten-IDs aufgelistet? Wähle diese Spalte hier. Wähle anschließend aus, worum es sich genau handelt. Zur Verfügung stehen dir <strong>Marktplatz SKU</strong>, <strong>Externe Varianten ID</strong>, <strong>Variantennummer</strong>, <strong>Hersteller-Variantennummer</strong>, <strong>Barcode: GTIN 13</strong>, <strong>Barcode: GTIN 128</strong>, <strong>Barcode: UPC</strong> oder <strong>Barcode: ISBN</strong>.<br>
Wählst du dieses Abgleichfeld, werden die im System hinterlegten Informationen der Varianten geladen und dem Auftrag hinzugefügt. Auf diese Art, Daten werden ergänzt.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Neue Aufträge über Import anlegen und Pflichtfelder in der Zuordnung</div>
<div class="paragraph">
<p>Wenn du über den Import neue Aufträge anlegen möchtest, lasse die Felder im Bereich <strong>Abgleich</strong> leer. Beachte aber die markierten Pflichtfelder im Bereich <strong>Zuordnung</strong>. Diese gelten nur für das Anlegen neuer Aufträge. Möchtest du bestehende Aufträge aktualisieren, müssen nicht alle Pflichtfelder im Bereich Zuordnung ausgefüllt sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="2020">2. Felder für die Auftragszuordnung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel werden Felder erläutert, die für die Zuordnung von Auftragsdaten zur Verfügung stehen.
Mithilfe dieser Felder legst du fest, welche <em>Spalte deiner Datei</em> welchem <em>Datenfeld in deinem System</em> entspricht.</p>
</div>
<div class="paragraph instruction">
<p>Grundlegende Vorgehensweise:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong><em>In deiner CSV-Datei</em></strong>: Gib einen zulässigen Importwert in eine Spalte ein.</p>
</li>
<li>
<p><strong><em>In plentymarkets</em></strong>: Ordne diese Spalte dem passenden Zuordnungsfeld zu.</p>
</li>
<li>
<p><strong><em>Nach dem Import</em></strong>: Prüfe das Ergebnis im Backend.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kein Zuordnungsfeld? Standardwert greift!</div>
<div class="paragraph">
<p>Wenn du eine bestimmte Information nicht in deine CSV-Datei aufnimmst, d.h. wenn du ein bestimmtes Zuordnungsfeld <em>nicht verwendest</em>, dann erhält dein Auftrag den Standardwert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="2030">2.1. Auftrag</h3>
<div class="sect3">
<h4 id="2040">2.1.1. ID des Typs</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span></p>
</div>
<div class="paragraph">
<p>Um was für einen Auftrag handelt es sich? Gib die entsprechende ID in deine CSV-Datei ein.<br>
In plentymarkets gibt es verschiedene Auftragstypen, die im Import numerisch über eine ID abgebildet werden. Mit Eingabe der ID weiß das System, um welchen Auftragstyp es sich handelt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<table id="tabelle-zuordnung-auftragstyp" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zulässige Importwerte in CSV-Datei</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ergebnis im Backend</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>2</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferauftrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>3</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Retoure</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>4</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gutschrift</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>5</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Garantie</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>6</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reparaturauftrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>7</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Angebot</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>8</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorbestellung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>9</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sammelauftrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>10</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sammelgutschrift</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>11</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umbuchung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>12</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachbestellung</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="2050">2.1.2. ID des Status</h4>
<div class="paragraph">
<p>Welchen Status möchtest du dem Auftrag zuweisen? Gib diesen in deine CSV-Datei ein.<br>
28 Auftragsstatus sind im System vorangelegt, du kannst aber auch selbst Status definieren. Dafür stehen dir 19 Status mit je 4 Nachkommastellen zur Verfügung. Im Menü <strong>Einrichtung » Aufträge » Status</strong> kannst du deine Status bearbeiten. Beachte dazu den Handbuchabschnitt <a href="/auftraege/auftraege-verwalten#1200">Auftragsstatus nutzen</a>.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Einstellungen » Feld: Status</strong> sowie in der Auftragsübersicht.</p>
</div>
</div>
<div class="sect3">
<h4 id="2060">2.1.3. ID des Eigners</h4>
<div class="paragraph">
<p>Welchem Eigner soll der Auftrag zugewiesen sein? Gib die ID des Eigners in deine CSV-Datei ein.<br>
Die IDs von Eignern findest du im Backend im Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>. Stelle sicher, dass der zugewiesene Eigner die benötigten Rechte für den Bereich <strong>Aufträge</strong> hat.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Einstellungen » Feld: Eigner</strong> sowie in der Auftragsübersicht.</p>
</div>
</div>
<div class="sect3">
<h4 id="2070">2.1.4. Referrer-ID</h4>
<div class="paragraph">
<p>Welche Herkunft soll dem Auftrag zugeordnet werden? Gib die ID der Herkunft in deine CSV-Datei ein.<br>
Herkünfte sind im System mit IDs hinterlegt. Einige Herkünfte sind nicht veränderbar. Du kannst manuell Herkünfte hinzufügen. Herkünfte findest du im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Eingestellte Standardherkunft für Auftragseinstellungen</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Einstellungen » Feld: Herkunft</strong> sowie in der Auftragsübersicht.</p>
</div>
</div>
<div class="sect3">
<h4 id="2080">2.1.5. PlentyID</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span></p>
</div>
<div class="paragraph">
<p>Welcher Mandant gilt für den Auftrag? Gib die plentyID des Mandanten in deine CSV-Datei ein.<br>
Du findest die plentyID deines Mandanten im Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Einstellungen</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
</div>
<div class="sect3">
<h4 id="2090">2.1.6. ID des Standorts</h4>
<div class="paragraph">
<p>Welcher Standort gilt für den Auftrag? Gib die ID des Standortes in deine CSV-Datei ein.<br>
Du findest die Standort-IDs im Menü <strong>Einrichtung » Mandant » [Mandant wählen] »Standorte</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Einstellungen » Feld: Standort</strong> sowie in der Auftragsübersicht.</p>
</div>
</div>
<div class="sect3">
<h4 id="2120">2.1.7. ID des Elternauftrags</h4>
<div class="paragraph">
<p>Importierst oder aktualisierst du Aufträge, die einen übergeordneten Auftrag haben? Dann gib die ID dieses Elternauftrages in deine CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend unter anderem in der Auftragsübersicht im Menü <strong>Aufträge » Aufträge bearbeiten</strong>. Dort werden die IDs von Elternaufträgen mit einem Pfeil gekennzeichnet.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2130">2.2. Auftragsposition</h3>
<div class="sect3">
<h4 id="2140">2.2.1. Typ</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span></p>
</div>
<div class="paragraph">
<p>Welchem Typ entspricht die Auftragsposition? Gib die ID des Auftragspositionstyps in deine CSV-Datei ein.<br>
Die Auftragspositionstypen bilden verschiedene Kostenposten eines Auftrags ab. Die mit den Posten verbundenen Kosten können sowohl negativ als auch positiv sein. Wenn deine Spalte nicht die IDs enthält, kannst du eine eigene Zuordnung vornehmen.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<table id="tabelle-zuordnung-auftragspositionstyp" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zulässige Importwerte in CSV-Datei</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ergebnis im Backend</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>2</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelpaket</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>3</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Paketbestandteil</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>4</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktionsgutschein</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>5</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschenkgutschein</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>6</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandkosten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>7</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsaufschlag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>8</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschenkverpackung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>9</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unzugeordnete Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>10</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pfand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>11</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrag<br>
Dieser Auftragspositionstyp kommt zum Beispiel in Sammelaufträgen vor.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>12</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachbestellung</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="2150">2.2.2. Herkunft</h4>
<div class="paragraph">
<p>Welche Herkunft soll der Auftragsposition zugeordnet werden? Gib die ID der Herkunft in deine CSV-Datei ein.<br>
Herkünfte sind im System mit IDs hinterlegt. Einige Herkünfte sind nicht veränderbar. Du kannst manuell Herkünfte hinzufügen. Herkünfte findest du im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Eingestellte Standardherkunft für Auftragseinstellungen</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Einstellungen » Feld: Herkunft</strong> sowie in der Auftragsübersicht.</p>
</div>
</div>
<div class="sect3">
<h4 id="2160">2.2.3. Name</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span></p>
</div>
<div class="paragraph">
<p>Welchen Namen hat die Auftragsposition? Gib den Namen in deine CSV-Datei ein.<br>
Es wird standardmäßig davon ausgegangen, dass der Name in der Systemsprache eingegeben wird. Namen für Artikel vergibst du im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Artikeltab: Texte » Feld: Name</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Übersicht</strong> in der <strong>Artikelpositionstabelle</strong> sowie in der Auftragsübersicht.</p>
</div>
</div>
<div class="sect3">
<h4 id="2170">2.2.4. Attributwert</h4>
<div class="paragraph">
<p>Welchen Attributwert hat die Aufragsposition? Gib den Namen des Attributwertes in deine CSV-Datei ein.<br>
Es wird standardmäßig davon ausgegangen, dass der Attributwert in der Systemsprache eingegeben wird. Attribute können zum Beispiel Farben oder Größen sein. Neue Attribute legst du im Menü <strong>Einrichtung » Artikel » Attribute</strong> an. Beachte dazu den Handbuchabschnitt <a href="/artikel/einstellungen/attribute">Attribute</a>.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Übersicht</strong> in der <strong>Artikelpositionstabelle</strong> sowie in der Auftragsübersicht.</p>
</div>
</div>
<div class="sect3">
<h4 id="2180">2.2.5. Umsatzsteuersatz</h4>
<div class="paragraph">
<p>Welchen Umsatzsteuersatz hat die Auftragsposition? Gib den Umsatzsteuersatz in deine CSV-Datei ein.<br>
Gib den Prozentwert des Steuersatzes ohne Prozentzeichen ein. Ob der Satz kommasepariert oder punktsepariert eingetragen werden muss, hängt von deiner Einstellung im Bereich <strong>Abgleich</strong> des Imports ab.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Übersicht</strong> sowie in der Auftragsübersicht.</p>
</div>
</div>
<div class="sect3">
<h4 id="2190">2.2.6. Umsatzsteuerbetrag</h4>
<div class="paragraph">
<p>Welcher Umsatzsteuerbetrag gilt für die Auftragsposition? Gib den Betrag in deine CSV-Datei ein.<br></p>
</div>
<div class="paragraph">
<p>Es wird standardmäßig der Umsatzsteuerbetrag für die Menge 1 erwartet. Ob der Betrag kommasepariert oder punktsepariert eingetragen werden muss, hängt von deiner Einstellung im Bereich <strong>Abgleich</strong> des Imports ab.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Übersicht</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2200">2.2.7. Menge</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span></p>
</div>
<div class="paragraph">
<p>In welcher Anzahl ist die Auftragsposition in dem Auftrag vorhanden? Gib die Menge in deine CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Übersicht</strong> sowie in der Auftragsübersicht.</p>
</div>
</div>
<div class="sect3">
<h4 id="2210">2.2.8. Varianten-ID</h4>
<div class="paragraph">
<p>Gib die ID der Variante in deine CSV-Datei ein. Die ID findest du unter anderem in der Übersichtstabelle im Menü <strong>Artikel bearbeiten » Artikel</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Übersicht</strong> in der <strong>Artikelpositionstabelle</strong> sowie in der Auftragsübersicht.</p>
</div>
</div>
<div class="sect3">
<h4 id="2220">2.2.9. Position</h4>
<div class="paragraph">
<p>Gib die Position der Auftragsposition in deine CSV-Datei ein. Die Position gibt die Sortierung der Auftragspositionen innerhalb eines Auftrages wider.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Übersicht</strong> in der <strong>Artikelpositionstabelle</strong> sowie in der Auftragsübersicht.</p>
</div>
</div>
<div class="sect3">
<h4 id="2230">2.2.10. Währung</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtwert</span></p>
</div>
<div class="paragraph">
<p>In welcher Währung ist der Auftrag? Gib den ISO-Code der Währung in deine CSV-Datei ein.<br>
Eine Übersicht mit den verfügbaren Währungen in plentymarkets und den entsprechenden ISO-Codes findest du im Handbuchabschnitt <a href="/daten/interne-IDs#60">Währungen</a>.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Einstellungen » Feld: Währung</strong> sowie in der Auftragsübersicht.</p>
</div>
</div>
<div class="sect3">
<h4 id="2240">2.2.11. Wechselkurs</h4>
<div class="paragraph">
<p>Gib den Wechselkurs der Auftragswährung in die Standard-Währung in deine CSV-Datei ein.<br>
Die Standard-Währung findest du im Menü <strong>Einrichtung » Aufträge » Zahlung » Währungen</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Wenn kein Wechselkurs angegeben wird, wird der im Menü <strong>Einrichtung » Aufträge » Zahlung » Währung</strong> eingestellte Wechselkurs übernommen.</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Einstellungen » Feld: Umrechnungskurs</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2250">2.2.12. Einkaufspreis</h4>
<div class="paragraph">
<p>Welchen Einkaufspreis hat die Auftragsposition? Gib den Preis für die Menge 1 in deine CSV-Datei ein.<br>
Ob du den Preis punkt- oder kommasepariert eingeben musst, hängt von deiner Einstellung im Bereich <strong>Abgleich</strong> des Imports ab.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Der Einkaufspreis wird nicht direkt im Auftrag angezeigt. Er ermöglicht aber das Errechnen der Gewinnspanne, die du im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Übersicht » Feld: Gewinnspanne netto</strong> findest.</p>
</div>
</div>
<div class="sect3">
<h4 id="2260">2.2.13. Bruttopreis</h4>
<div class="paragraph">
<p>Welchen Bruttopreis hat die Auftragsposition? Gib den Preis für die Menge 1 in deine CSV-Datei ein.<br>
Ob du den Preis punkt- oder kommasepariert eingeben musst, hängt von deiner Einstellung im Bereich <strong>Abgleich</strong> des Imports ab.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend in der Artikelpositionstabelle im Menü <strong>Aufträge » Aufträge bearbeiten</strong>. Der Gesamtwarenwert brutto wird im Menü <strong>Aufträge » Aufträge bearbeiten » Tab: Übersicht » Feld: Warenwert brutto</strong> angezeigt.</p>
</div>
</div>
<div class="sect3">
<h4 id="2260">2.2.14. Nettopreis</h4>
<div class="paragraph">
<p>Welchen Nettopreis hat die Auftragsposition? Gib den Preis für die Menge 1 in deine CSV-Datei ein.<br>
Ob du den Preis punkt- oder kommasepariert eingeben musst, hängt von deiner Einstellung im Bereich <strong>Abgleich</strong> des Imports ab.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend in der Artikelpositionstabelle im Menü <strong>Aufträge » Aufträge bearbeiten</strong>. Der Gesamtwarenwert netto wird im Menü <strong>Aufträge » Aufträge bearbeiten » Tab: Übersicht » Feld: Warenwert netto</strong> angezeigt.</p>
</div>
</div>
<div class="sect3">
<h4 id="2270">2.2.15. Preisaufschlag</h4>
<div class="paragraph">
<p>Hat die Auftragsposition einen Preisaufschlag? Dann gib diesen Preisaufschlag für die Menge 1 in deine CSV-Datei ein.<br>
Ob du den Aufschlag punkt- oder kommasepariert eingeben musst, hängt von deiner Einstellung im Bereich <strong>Abgleich</strong> des Imports ab.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
</div>
<div class="sect3">
<h4 id="2280">2.2.16. Rabatt</h4>
<div class="paragraph">
<p>Hat die Auftragsposition einen Rabatt? Dann gib diesen Rabatt für die Menge 1 in deine CSV-Datei ein.<br>
Ob du den Rabatt punkt- oder kommasepariert eingeben musst, hängt von deiner Einstellung im Bereich <strong>Abgleich</strong> des Imports ab.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend in der Artikelpositionstabelle im Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2290">2.2.17. Prozentualer Rabatt</h4>
<div class="paragraph">
<p>Gilt für die Auftragsposition ein prozentualer Rabatt? Dann gib diesen prozentualen Rabatt in deine CSV-Datei ein.<br>
Ob du den prozentualen Rabatt punkt- oder kommasepariert eingeben musst, hängt von deiner Einstellung im Bereich <strong>Abgleich</strong> des Imports ab.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend in der Artikelpositionstabelle im Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2300">2.3. Auftragspositionseigenschaften</h3>
<div class="sect3">
<h4 id="2310">2.3.1. Wert</h4>
<div class="paragraph">
<p>Welche Eigenschaften hat die Auftragsposition? Gib den Wert in deine CSV-Datei ein und wähle in der Zuordnung den entsprechenden Eigenschaftstyp aus.<br>
Du kannst mehrere Eigenschaftstypen hinterlegen. Pro Eigenschaftstyp musst du eine eigene Spalte in deiner CSV-Datei anlegen und die entsprechende Auswahl in der Zuordnung treffen.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p><strong><em>Zur Verfügung stehende Eigenschaftstypen</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Lager</p>
</li>
<li>
<p>Gewicht</p>
</li>
<li>
<p>Breite</p>
</li>
<li>
<p>Länge</p>
</li>
<li>
<p>Höhe</p>
</li>
<li>
<p>Externe Token-ID</p>
</li>
<li>
<p>Externe Artikel-ID</p>
</li>
<li>
<p>Gutscheincode</p>
</li>
<li>
<p>Gutscheintyp</p>
</li>
<li>
<p>Einheit</p>
</li>
<li>
<p>Externe Versandartikel-ID</p>
</li>
<li>
<p>Retourengrund</p>
</li>
<li>
<p>Artikelstatus</p>
</li>
<li>
<p>Externe Auftragspositions-ID</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Eigene Eigenschaftstypen für Auftragspositionen können per <a href="https://developers.plentymarkets.com/api-doc/Order#element_113" target="_blank" rel="noopener">Interface</a> oder per <a href="https://developers.plentymarkets.com/rest-doc#/Order/post_rest_orders_properties_types" target="_blank" rel="noopener">REST</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> erstellt werden. Sie werden jedoch nicht in der UI angezeigt.<br></p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2320">2.4. Auftragsnotiz</h3>
<div class="sect3">
<h4 id="2330">2.4.1. Text</h4>
<div class="paragraph">
<p>Gibt es eine Auftragsnotiz zum Auftrag? Gib den Text, der der Auftragsnotiz zugeordnet sein soll, in deine CSV-Datei ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Übersicht » Feld: Auftragsnotiz</strong>.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2340">2.5. Adressrelation</h3>
<div class="sect3">
<h4 id="2350">2.5.1. ID der Adresse</h4>
<div class="paragraph">
<p>Zum Kontakt existiert bereits eine Adresse? Gib die ID der Adresse in deine CSV-Datei ein und wähle in der Zuordnung aus, ob es sich um die <strong>Rechnungsadresse</strong> oder um die <strong>Liederadresse</strong> handelt.<br>
Die ID der Adresse findest du unter anderem im Menü <strong>CRM » Kontake » [Kontakt öffnen] » Bereich: Details » Feld: Adressen</strong>. Wenn du eine neue Adresse importieren möchtest, nutze die Zuordnungsfelder unter <a href="/daten/daten-importieren/sync-typen/elasticSync-auftraege#2420">Adresse</a>.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Übersicht » Felder: Rechnungsanschrift bzw. Lieferanschrift</strong> sowie in der Auftragsübersicht.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2360">2.6. Auftragseigenschaft</h3>
<div class="sect3">
<h4 id="2370">2.6.1. Wert</h4>
<div class="paragraph">
<p>Welche Eigenschaften hat der Auftrag? Gib den Wert in deine CSV-Datei ein und wähle in der Zuordnung den entsprechenden Eigenschaftstyp aus.<br>
Du kannst mehrere Eigenschaftstypen hinterlegen. Pro Eigenschaftstyp musst du eine eigene Spalte in deiner CSV-Datei anlegen und die entsprechende Auswahl in der Zuordnung treffen.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p><strong><em>Zur Verfügung stehende Eigenschaftstypen</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Lager</p>
</li>
<li>
<p>Versandprofil</p>
</li>
<li>
<p>Zahlungsart</p>
</li>
<li>
<p>Zahlungsstatus</p>
</li>
<li>
<p>Externes Versandprofil</p>
</li>
<li>
<p>Sprache in Dokumenten</p>
</li>
<li>
<p>Externe Auftrags-ID</p>
</li>
<li>
<p>Kundenzeichen</p>
</li>
<li>
<p>Mahnstufe</p>
</li>
<li>
<p>Verkäufer Konto</p>
</li>
<li>
<p>Markierung</p>
</li>
<li>
<p>Dokumentennummer</p>
</li>
<li>
<p>Umsatzsteuer-Identifikationsnummer</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Eigene Eigenschaftstypen für Aufträge können per <a href="https://developers.plentymarkets.com/api-doc/Order#element_113" target="_blank" rel="noopener">Interface</a> oder per <a href="https://developers.plentymarkets.com/rest-doc#/Order/post_rest_orders_properties_types" target="_blank" rel="noopener">REST</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> erstellt werden.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2380">2.7. Auftragsdatum</h3>
<div class="sect3">
<h4 id="2390">2.7.1. Datum</h4>
<div class="paragraph">
<p>Du möchtest dem Auftrag ein bestimmtes Datum zuordnen? Gib das Datum in dem Format, das du im <strong>Abgleich</strong> gewählt hast, in deine CSV-Datei ein und wähle in der Zuordnung aus, um welchen Datumstyp es sich handelt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p><strong><em>Zur Verfügung stehende Datumstypen</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Gelöscht am</p>
</li>
<li>
<p>Erstellt am</p>
</li>
<li>
<p>Zahlungseingang</p>
</li>
<li>
<p>zuletzt aktualisiert</p>
</li>
<li>
<p>Warenausgang am</p>
</li>
<li>
<p>Retourniert am</p>
</li>
<li>
<p>Zahlungsziel</p>
</li>
<li>
<p>voraussichtliches Versanddatum</p>
</li>
<li>
<p>voraussichtliches Lieferdatum</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Übersicht » Feld: Eingabe</strong> sowie in der Auftragsübersicht.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2400">2.8. Auftragsrelation</h3>
<div class="sect3">
<h4 id="2410">2.8.1. ID der Referenz</h4>
<div class="paragraph">
<p>Soll dem Auftrag eine bestimmte Relation zugeordnet werden? Gib dafür eine Referenz-ID in deine CSV-Datei ein.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<table id="tabelle-zuordnung-auftragsrelation" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahl in der Zuordnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erläuterung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontakt - Sender</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die einzugebende Referenz-ID ist die ID eines bestehenden Kontakts. Dieser Kontakt wird dann als Sender des Auftrages übernommen. Die ID des Kontaktes findest du im Backend in der Übersichtstabelle im Menü <strong>CRM » Kontakte</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontakt - Empfänger</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die einzugebende Referenz-ID ist die ID eines bestehenden Kontakts. Dieser Kontakt wird dann als Empfänger des Auftrages übernommen. Die ID des Kontaktes findest du im Backend in der Übersichtstabelle im Menü <strong>CRM » Kontakte</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Firma - Sender</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die einzugebende Referenz-ID ist die ID einer bestehenden Firma. Diese Firma wird dann als Sender des Auftrages übernommen.  Die ID der Firma findest du im Backend wenn du auf <strong>Bearbeiten</strong> im Bereich <strong>Firma</strong> im Menü <strong>CRM » Kontakte</strong> klickst. Im Header des neuen Fensters steht die ID der Firma.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Firma - Empfänger</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die einzugebende Referenz-ID ist die ID einer bestehenden Firma. Diese Firma wird dann als Empfänger des Auftrages übernommen. Die ID der Firma findest du im Backend wenn du auf <strong>Bearbeiten</strong> im Bereich <strong>Firma</strong> im Menü <strong>CRM » Kontakte</strong> klickst. Im Header des neuen Fensters steht die ID der Firma.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager - Sender</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die einzugebende Referenz-ID ist die ID eines bestehenden Lagers. Dieses Lager wird dann als Sender des Auftrages übernommen. Die ID des Lagers findest du im Backend im Menü <strong>Einrichtung » Waren » Lager » [Lager wählen] » Einstellungen</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager - Empfänger</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die einzugebende Referenz-ID ist die ID eines bestehenden Lagers. Dieses Lager wird dann als Empfänger des Auftrages übernommen. Die ID des Lagers findest du im Backend im Menü <strong>Einrichtung » Waren » Lager » [Lager wählen] » Einstellungen</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="2420">2.9. Adresse</h3>
<div class="paragraph">
<p>Soll dem Auftrag eine noch nicht bestehende Adresse zugeordnet werden? Dann nutze die zu diesem Bereich gehörenden Zuordnungsfelder und gib die entsprechenden Werte in deine CSV-Datei ein. Bei jedem der Zuordnungsfelder in diesem Bereich musst du auswählen, ob es sich um die <strong>Rechnungsadresse</strong> oder um die <strong>Lieferadresse</strong> handelt.<br>
Wenn du eine bestehende Adresse zuordnen möchtest, nutze das Zuordnungsfeld <a href="/daten/daten-importieren/sync-typen/elasticSync-auftraege#2350">ID der Adresse</a>.</p>
</div>
<div class="sect3">
<h4 id="2430">2.9.1. Name 1 (Firma)</h4>
<div class="paragraph">
<p>Gib den Firmennamen des Kontaktes, dem der Auftrag zugeordnet werden soll, in deine CSV-Datei ein. Wähle in der Zuordnung aus, ob es sich um die <strong>Rechnungsadresse</strong> oder die <strong>Lieferadresse</strong> handelt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du unter anderem im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Kunde</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2440">2.9.2. Name 2 (Vorname)</h4>
<div class="paragraph">
<p>Gib den Vornamen des Kontaktes, dem der Auftrag zugeordnet werden soll, in deine CSV-Datei ein und. Wähle in der Zuordnung aus, ob es sich um die <strong>Rechnungsadresse</strong> oder die <strong>Lieferadresse</strong> handelt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du unter anderem im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Kunde</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2450">2.9.3. Name 3 (Nachname)</h4>
<div class="paragraph">
<p>Gib den Nachnamen des Kontaktes, dem der Auftrag zugeordnet werden soll, in deine CSV-Datei ein. Wähle in der Zuordnung aus, ob es sich um die <strong>Rechnungsadresse</strong> oder die <strong>Lieferadresse</strong> handelt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du unter anderem im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Kunde</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2460">2.9.4. Name 4 (Zusatz)</h4>
<div class="paragraph">
<p>Gib den Namenszusatz des Kontaktes, dem der Auftrag zugeordnet werden soll, in deine CSV-Datei ein. Wähle in der Zuordnung aus, ob es sich um die <strong>Rechnungsadresse</strong> oder die <strong>Lieferadresse</strong> handelt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du unter anderem im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Kunde</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2470">2.9.5. Adresse 1 (Straße)</h4>
<div class="paragraph">
<p>Gib den Straßennamen des Kontaktes, dem der Auftrag zugeordnet werden soll, in deine CSV-Datei ein. Wähle in der Zuordnung aus, ob es sich um die <strong>Rechnungsadresse</strong> oder die <strong>Lieferadresse</strong> handelt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du unter anderem im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Kunde</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2480">2.9.6. Adresse 2 (Hausnummer)</h4>
<div class="paragraph">
<p>Gib die Hausnummer des Kontaktes, dem der Auftrag zugeordnet werden soll, in deine CSV-Datei ein. Wähle in der Zuordnung aus, ob es sich um die <strong>Rechnungsadresse</strong> oder die <strong>Lieferadresse</strong> handelt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du unter anderem im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Kunde</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2490">2.9.7. Adresse 3 (Zusatz)</h4>
<div class="paragraph">
<p>Gib den Adresszusatz des Kontaktes, dem der Auftrag zugeordnet werden soll, in deine CSV-Datei ein. Wähle in der Zuordnung aus, ob es sich um die <strong>Rechnungsadresse</strong> oder die <strong>Lieferadresse</strong> handelt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du unter anderem im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Kunde</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2500">2.9.8. Adresse 4 (Frei)</h4>
<div class="paragraph">
<p>Gib freie Adressinformationen des Kontaktes, dem der Auftrag zugeordnet werden soll, in deine CSV-Datei ein. Wähle in der Zuordnung aus, ob es sich um die <strong>Rechnungsadresse</strong> oder die <strong>Lieferadresse</strong> handelt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du unter anderem im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Kunde</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2510">2.9.9. Postleitzahl</h4>
<div class="paragraph">
<p>Gib die Postleitzahl des Kontaktes, dem der Auftrag zugeordnet werden soll, in deine CSV-Datei ein. Wähle in der Zuordnung aus, ob es sich um die <strong>Rechnungsadresse</strong> oder die <strong>Lieferadresse</strong> handelt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du unter anderem im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Kunde</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2520">2.9.10. Stadt</h4>
<div class="paragraph">
<p>Gib den Ortsnamen des Kontaktes, dem der Auftrag zugeordnet werden soll, in deine CSV-Datei ein und. Wähle in der Zuordnung aus, ob es sich um die <strong>Rechnungsadresse</strong> oder die <strong>Lieferadresse</strong> handelt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du unter anderem im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Kunde</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2530">2.9.11. ID des Landes</h4>
<div class="paragraph">
<p>Gib die ID des Landes der Adresse des Kontaktes, dem der Auftrag zugeordnet werden soll, in deine CSV-Datei ein. Wähle in der Zuordnung aus, ob es sich um die <strong>Rechnungsadresse</strong> oder die <strong>Lieferadresse</strong> handelt.<br>
Standardmäßig wird hier die ID des Lieferlandes erwartet. Die plentymarkets Länder-IDs findest du im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du unter anderem im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Kunde</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2540">2.9.12. ID des Bundeslandes</h4>
<div class="paragraph">
<p>Gib die ID des Bundeslandes der Adresse des Kontaktes, dem der Auftrag zugeordnet werden soll, in deine CSV-Datei ein. Wähle in der Zuordnung aus, ob es sich um die <strong>Rechnungsadresse</strong> oder die <strong>Lieferadresse</strong> handelt.<br>
Die plentymarkets Bundesländer-IDs findest du in dieser <a href="https://www.plentymarkets.eu/documents/category/3507/Bundeslaender.pdf">PDF-Datei mit einer Liste der Bundesländer</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du unter anderem im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Kunde</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2550">2.9.13. Umsatzsteuer-ID</h4>
<div class="paragraph">
<p>Gib die Umsatzsteueridentifikationsnummer des Kontaktes, dem der Auftrag zugeordnet werden soll, in deine CSV-Datei ein. Wähle in der Zuordnung aus, ob es sich um die <strong>Rechnungsadresse</strong> oder die <strong>Lieferadresse</strong> handelt.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du unter anderem im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Kunde</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2560">2.9.14. Telefon</h4>
<div class="paragraph">
<p>Gib die Telefonnummer des Kontaktes, dem der Auftrag zugeordnet werden soll, in deine CSV-Datei ein. Wähle in der Zuordnung aus, ob es sich um die <strong>Rechnungsadresse</strong> oder die <strong>Lieferadresse</strong> handelt.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du unter anderem im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Kunde</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2570">2.9.15. E-Mail</h4>
<div class="paragraph">
<p>Gib die E-Mailadresse des Kontaktes, dem der Auftrag zugeordnet werden soll, in deine CSV-Datei ein. Wähle in der Zuordnung aus, ob es sich um die <strong>Rechnungsadresse</strong> oder die <strong>Lieferadresse</strong> handelt.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du unter anderem im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Kunde</strong>.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="2580">2.10. Versandpaket</h3>
<div class="paragraph">
<p>Sollen dem Auftrag Informationen zum Versand zugeordnet werden? Dann nutze die zu diesem Bereich gehörenden Zuordnungsfelder und gib die entsprechenden Werte in deine CSV-Datei ein. Bei jedem der Zuordnungsfelder in diesem Bereich musst zu zusätzlich auswählen, um welches Versandpaket es sich handelt.<br>
Versandpakete richtest du im Backend im Menü <strong>Einrichtung » Aufträge » Versand » Versandpakete</strong> ein. Mehr Informationen zu Versandpaketen findest du im Abschnitt <a href="/fulfillment/versand-vorbereiten#1900">Versandpaket erstellen</a> im Handbuch.</p>
</div>
<div class="sect3">
<h4 id="2590">2.10.1. Gewicht (g)</h4>
<div class="paragraph">
<p>Gib das Gewicht des Paketes in Gramm in deine CSV-Datei ein. Wähle in der Zuordnung aus, um welches Versandpaket es sich handelt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Übersicht » Feld: Gewicht</strong> sowie in der Auftragsübersichtstabelle.</p>
</div>
</div>
<div class="sect3">
<h4 id="2600">2.10.2. Paketnummer</h4>
<div class="paragraph">
<p>Gib die Paketnummer des Paketes in deine CSV-Datei ein. Du kannst mehrere Paketnummern kommasepariert in eine Zeile eingeben oder über mehrere Zeilen je eine Paketnummer pro Zeile angeben. Wähle in der Zuordnung aus, um welches Versandpaket es sich handelt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
<div class="paragraph">
<p>Das Ergebnis des Imports findest du im Backend im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen] » Tab: Einstellungen » Feld: Paketnummer</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="2610">2.10.3. Retourenpaketnummer</h4>
<div class="paragraph">
<p>Gib die Retourenpaketnummer des Paketes in deine CSV-Datei ein. Du kannst mehrere Retourenpaketnummern kommasepariert in eine Zeile eingeben oder über mehrere Zeilen je eine Retourenpaketnummer pro Zeile angeben. Wähle in der Zuordnung aus, um welches Versandpaket es sich handelt.<br>
Du findest Retourenpaketnummern im Backend im Menü <strong>Aufträge » Versand-Center » Tab: Retouren</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Alphanumerisch</p>
</div>
</div>
<div class="sect3">
<h4 id="2620">2.10.4. Packstückart</h4>
<div class="paragraph">
<p>Gib die ID der Packstückart in deine CSV-Datei ein. Wähle in der Zuordnung aus, um welches Versandpaket es sich handelt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
<table id="tabelle-zuordnung-packstückart" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zulässige Importwerte in CSV-Datei</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ergebnis im Backend</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">unverpackt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ballen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>2</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Behälter</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>3</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bund</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>4</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rollpalette</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>5</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Colli</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>6</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Container</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>7</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eimer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>8</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fass</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>9</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flaschen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>10</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Euro-Pool-Flachpalette</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>11</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gestell</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>12</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gasflasche</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>13</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gitterboxpalette</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>14</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hobbock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>15</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Halbe Palette</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>16</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lebensmittelpalette</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>17</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Holzuntersetzer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>18</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">IBC Container</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>19</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kanne</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>20</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Korbflasche</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>21</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kiste</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>22</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kanister</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>23</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kundenpalette</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>24</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Karton</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>25</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kombinationsverpackung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>26</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pack</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>27</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ring</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>28</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rolle</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>29</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sack</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>30</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stück</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>31</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tank</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>32</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trommel</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>34</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verschlag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>35</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Viertelpalette</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>36</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">sonstige Paletten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>37</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kasten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>38</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einwegpalette</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>39</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Folientüte</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="2630">2.10.5. Paletten-ID</h4>
<div class="paragraph">
<p>Gib die Paletten-ID in deine CSV-Datei ein. Wähle in der Zuordnung aus, um welches Versandpaket es sich handelt.<br>
Die Paletten-ID findest du im Backend im Menü <strong>Aufträge » Paketinhaltsliste</strong>.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<div class="paragraph">
<p><strong><em>Zulässige Importwerte</em></strong>: Numerisch</p>
</div>
</div>
<div class="sect3">
<h4 id="2640">2.10.6. Ist geschlossen</h4>
<div class="paragraph">
<p>Wähle, ob das Versandpaket geschlossen ist oder nicht. Wähle dann in der Zuordnung aus, um welches Versandpaket es sich handelt.</p>
</div>
<div class="paragraph">
<p><strong><em>Standardwert</em></strong>: Kein Standardwert</p>
</div>
<table id="Tabelle-Notizen-sichtbar" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Zulässige Importwerte in CSV-Datei</strong></th>
<th class="tableblock halign-left valign-top"><strong>Erläuterung</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>0</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Versandpaket ist noch offen. Es können noch Änderungen daran vorgenommen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>1</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Versandpaket ist geschlossen. Es können keine Änderungen mehr daran vorgenommen werden.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</main>