<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Feld für den Abgleich von Newsletter-Empfängern</span></a></li>
<li><a href="#200"><span>2.</span><span> Felder für die Zuordnung von Newsletter-Empfängern</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Newsletter-Empfänger</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit einem Sync des Typs <strong>Newsletter-Empfänger</strong> importierst du Newsletter-Daten oder aktualisieren bestehende Datensätze. Diese Daten sind z.B. die E-Mail-Adresse sowie Geburtstag und Name des Newsletter-Empfängers.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Feld für den Abgleich von Newsletter-Empfängern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Datenabgleich von Newsletter-Empfängern steht das folgende Feld zur Verfügung:</p>
</div>
<table id="tabelle-abgleichfeld-newsletter-empfaenger" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Feld für den Abgleich von Newsletter-Empfängern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Abgleichfeld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der E-Mail-Adresse, an die der Newsletter gesendet wird</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Anhand des Abgleichfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Felder für die Zuordnung von Newsletter-Empfängern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Import von Newsletter-Empfängern stehen die in <a href="#tabelle-zuordnungsfelder-newsletter-empfaenger">Tabelle 2</a> aufgelisteten Felder zur Verfügung. Anhand des gewählten Abgleichsfelds wird geprüft, ob der importierte Datensatz in plentymarkets vorhanden ist.</p>
</div>
<table id="tabelle-zuordnungsfelder-newsletter-empfaenger" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Felder für den Import von Newsletter-Empfängern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Zuordnungsfeld</th>
<th class="tableblock halign-left valign-top">Zulässiger Importwert</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch (interne ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der E-Mail-Adresse, an die der Newsletter gesendet wird</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ordner-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch (interne ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Ordners, in dem die E-Mail-Adresse des Newsletter-Empfängers gespeichert ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontakt-ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch (interne ID)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Kontakts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorname</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorname des Newsletter-Empfängers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachname</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachname des Newsletter-Empfängers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">E-Mail-Adresse des Newsletter-Empfängers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschlecht</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschlecht des Newsletter-Empfängers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geburtstag</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geburtsdatum des Newsletter-Empfängers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache der Vorlage</p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache, die für die E-Mail-Vorlage gespeichert ist.<br>
<strong><em>Hinweis:</em></strong> Die Sprache wird in der E-Mail-Vorlage im Tab <strong>E-Mail-Nachricht</strong> eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestätigt am</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum, an dem der Newsletter-Empfänger den Erhalt des Newsletters bestätigt hat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestätigungs-Link</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bestätigungs-Link, den der Kontakt in der E-Mail-Vorlage klicken muss, um sich für den Erhalt von Newslettern anzumelden.<br>
<strong><em>Hinweis:</em></strong> Der Bestätigungs-Link kann in der E-Mail-Vorlage über die Template-Variable <strong>$NewsletterConfirmURL</strong> ausgegeben werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">IP-Adresse</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Numerisch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">IP-Adresse, über die der Kontakt den Newsletter-Empfang bestätigt hat.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>