<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_legally_secure_working_with_plentymarkets_7"><span>1.</span><span> Legally secure working with plentymarkets 7</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Procedural documentation</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this manual page we provide you with the technical system documentation of plentymarkets. This system documentation serves as basis for creating your own procedural documentation.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_legally_secure_working_with_plentymarkets_7">1. Legally secure working with plentymarkets 7</h2>
<div class="sectionbody">
<div class="paragraph">
<p>According to GoBD (German regulation), sellers are, among other things, obliged to describe the procedure of the software they are using. This has to be done in form of a procedural documentation which has to be submitted in case of a tax audit. We support plentymarkets 7 users in creating a procedural documentation by providing a technical system documentation. This documentation includes the detailed breakdown of all working methods of plentymarkets 7 relevant in terms of tax law that can be used as a basis for a procedural documentation. Download the technical system documentation of plentymarkets <a href="https://github.com/plentymarkets/template-procedure-document/releases" target="_blank" rel="noopener">here</a>.<br></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Further software solutions</div>
<div class="paragraph">
<p>plentymarkets is generally only a part of the (software) solutions that have to be described. Please clarify with your tax consultant which additional information have to be described in the procedural documentation in your particular case.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>