<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Verbuche schnell Einlagen und Entnahmen!</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wechselgeld fehlt? Du willst etwas aus deiner Kasse entnehmen? Mit plentyPOS ganz einfach! Einlagen und Entnahmen verbuchst du in wenigen Sekunden. Wie das genau geht, erfährst du jetzt!</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/pos/arbeiten-mit-pos/einlagen-entnahmen-buchungskonten#video">Buchungskonten hinterlegen (0:35)</a></p>
<p class="tableblock"><a href="/videos/pos/arbeiten-mit-pos/einlagen-entnahmen-verbuchen#video">Einlage/Entnahme verbuchen (1:20)</a></p>
<p class="tableblock"><a href="/videos/pos/arbeiten-mit-pos/einlagen-entnahmen-beleg#video">Wo findest du den Beleg im Backend? (2:19)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/210418210#at=80" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>"Hildegard zur Kasse 3 bitte. Hildegard zur Kasse 3."<br>
Uh Oh, dem Kassierer gehen so langsam die Münzen aus, das wars dann mit Wechselgeld!
Ein Job für Hilde.
In diesem Fall heißt das: Geld in die Kasse einlegen und das Ganze natürlich auch dokumentieren.</p>
</div>
<div class="paragraph">
<p>Alles was nicht durch Verkäufe in deine Kasse strömt und auch wieder hinaus gelangt, musst du separat verbuchen und zwar als Einlage oder Entnahme!
Alle Konten, ob für Aufträge oder eben Kassenvorfälle wie Einlagen oder Entnahmen, werden im plentymarkets Backend im Bereich Buchhaltung hinterlegt.</p>
</div>
<div class="paragraph">
<p>Hier sind auch schon ein paar Standard-Vorfälle hinterlegt.
Diese erkennst du an der grauen Farbe. Und beachte bitte: Du kannst diese Standards weder umbenennen noch löschen.
Aber du hast natürlich die Möglichkeit eigene Vorfälle hinzuzufügen, wenn es bei dir andere Gründe für Entnahmen gibt, oder eben auch andere Gründe für Einlagen.</p>
</div>
<div class="paragraph">
<p>Außerdem kannst du hier auch direkt die passenden Buchungskonten hinterlegen.
Damit hast du die Möglichkeit zwischen Vorfällen, die sich auf deinen Umsatz auswirken, und jenen, die das nicht tun, zu unterscheiden.
Aber fyi: Es ist kein Kassenvorfall, wenn du in deinem Laden etwas verkaufst.
Stattdessen wird der Umsatz aus Verkäufen auf Konten gebucht, die hier in diesem Tab gespeichert werden.</p>
</div>
<div class="paragraph">
<p>Ok, nun zurück in deinen Laden.
Zuallererst wählst du im Dropdown einen Grund bzw den korrekten Kassenvorfall aus.
Das sind jetzt übrigens die Einstellungen aus dem plentymarkets Backend und die werden auch auf deinem GoBD-Export erscheinen.
Definiere den Vorfall also über die zusätzlichen Angaben möglichst genau, damit man später noch erkennen kann wieso Geld in oder aus der Kasse geflossen ist.</p>
</div>
<div class="paragraph">
<p>Danach fehlt nur noch der Betrag, den du über das Nummernpad hier unten eintippen kannst.
Je nachdem, ob Einlage oder Entnahme drückst du dann den entsprechenden Button und voila : Gebucht!
Und das funktioniert natürlich auch genauso andersum, also zum Beispiel wenn du Geld aus der Kasse zur Bank bringen möchtest.
Dein IST-Kassenbestand hat sich nun um den eingegebenen Betrag aktualisiert.</p>
</div>
<div class="paragraph">
<p>Außerdem wird nach dem Fingertip auf den jeweiligen Button wird dann schließlich die Kassenlade geöffnet und automatisch ein Beleg gedruckt, den du für deine Ablage aufbewahren solltest.
Auf dem Beleg findest du alles, was gerade passiert ist - mit den Infos, die du bei der Belegkonfiguration eingestellt hattest.</p>
</div>
<div class="paragraph">
<p>Aber Hildegard ist nicht die einzige, die abheftet und speichert.
Auch wenn der Vorgang quasi abgeschlossen ist, ist das allerdings noch längst nicht alles, was im Hintergrund passiert ist.
In deinem plentymarkets Backend unter dem Menüpunkt Aufträge im Bereich POS und dann Kassenjournal siehst du all deine Einlagen beziehungsweise Entnahmen und findest hier natürlich auch den eben erstellten Beleg.</p>
</div>
<div class="paragraph">
<p>Jetzt wo du gelernt hast, wie du Einlagen oder Entnahmen verbuchst, kannst du dich auch über die anderen Kassenfeatures informieren.
Das nächste Video wartet schon auf dich!</p>
</div>
</div>
</div>
</main>