<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kunden mit der plentymarkets App kassieren</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die plentymarkets App kannst du in deinem stationären Handel auch als Kasse einsetzen. In diesem Video zeigen wir dir den Umgang mit den Kassenfunktionen.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/pos/arbeiten-mit-pos/kassieren-artikel#video">Artikel hinzufügen (0:40)</a></p>
<p class="tableblock"><a href="/videos/pos/arbeiten-mit-pos/kassieren-rabatt#video">Gib einen Rabatt ein (1:16)</a></p>
<p class="tableblock"><a href="/videos/pos/arbeiten-mit-pos/kassieren-notiz#video">Lege eine Notiz an (1:33)</a></p>
<p class="tableblock"><a href="/videos/pos/arbeiten-mit-pos/kassieren-kunden#video">Wähle einen bestimmten Kunden (1:48)</a></p>
<p class="tableblock"><a href="/videos/pos/arbeiten-mit-pos/kassieren-parken#video">Parke deinen Bon (2:14)</a></p>
<p class="tableblock"><a href="/videos/pos/arbeiten-mit-pos/kassieren-zahlung#video">Zahlung einbuchen (2:31)</a></p>
<p class="tableblock"><a href="/videos/pos/arbeiten-mit-pos/kassieren-stornieren#video">Storniere den Auftrag (2:57)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/287008633#at=40" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Inzwischen ist Hilde mit der App vertraut. Bei der Konfiguration der App hatte Hilde viel Spass und die Funktionen kennt sie aus dem effeff.
Weil Stefan heute seine ersten Tag in Hildes Laden hat ist er relativ aufgeregt.
Aber alles kein Problem, mit der plentymarkets App ist es auch für ihn, nach einer Einweisung von Hilde, kinderleicht Kunden im Laden zu kassieren.</p>
</div>
<div class="paragraph">
<p>Mache es wie Stefan und logge dich, gestärkt durch einen großen Schluck deines morgendlichen Kaffes, in die App ein.
Nachdem Stefan das POS-Menü geöffnet hat, dauert es keine fünf Minuten und der erste Kunde möchte bereits 3 Gläser von Hildes berühmter Erdbeermarmelade kaufen.
Mit der plentymarkets App hast auch du jetzt verschiedene Möglichkeiten die Artikel zum kassieren zu suchen.</p>
</div>
<div class="paragraph">
<p>In der Suchfunktion kannst du zum Beispiel die Artikel-ID oder den Namen des Artikels suchen.
Deutlich einfacher ist es natürlich, wenn du Barcodes an deinen Artikeln pflegst, dann kannst du nämlich einen Scanner nutzen.
Die letzte Möglichkeit kannst du für Artikel nutzen, die in deinem Laden der Renner sind.
Lege einfach Favoriten für deine meistverkauften Artikel an.
Diese kannst du immer dann schnell auswählen, wenn es nötig ist.
Drei Gläser Erdbeermarmelade? Gerne!</p>
</div>
<div class="paragraph">
<p>Diese gekaufte Anzahl ruft nach einen Rabatt.
Um einen Rabatt von beispielsweise 5% einzugeben, tippe einfach auf das kleine Geschenk hier unten.
Gutscheine werden hier übrigens ebenfalls eingegeben, aber das ist eine Thema für ein weiteres Video.
Gib nun hier den prozentualen Wert des Rabatts ein.
Hier könntest du dann auch eine Notiz zu dem Auftrag hinterlegen.
Sinnvoll ist das zum Beispiel um den Rabatt, der vergeben wurde am Auftrag zu vermerken.</p>
</div>
<div class="paragraph">
<p>Um zwischen verschiedenen Kunden zu unterschieden kannst du diesen Button nutzen.
Angenommen Hilde hat eine Handvoll Stammkunden, die sie wegen ihrer Treue bevorzugt behandelst und ihnen über eine Kundenklasse einen günstigeren Preis einräumt.
Ansonsten nutzt Du natürlich den bekannten Standart-Kunden für die Aufträge.</p>
</div>
<div class="paragraph">
<p>Aber hoppla, der Kunde hat etwas vergessen und der nächste Kunde steht schon an der Kasse.
Du hast jetzt die Möglichkeit den Kaufvorgang bzw. den Bon des einen Kunden zu parken.
Dadurch kannst du in der Zwischenzeit andere Kunden kassieren.
Hier kannst du jetzt den Auftrag des einen Kunden abwickeln.
Du änderst also einfach mal die Anzahl der Artikel und kassierst dann die Differenz.
Anschließend kannst du den Bon des vorherigen Auftrages zurückholen und weiter bearbeiten.</p>
</div>
<div class="paragraph">
<p>Ich wär so gerne Millionär hat schon Hildes Lieblingsband gesungen und so sieht das auch Hilde:
Benutze diesen Button für EC-Karten- oder Kreditkartenzahlungen.
Zahlt der Kunde Bar kannst du einfach den gegebenen Betrag eingeben und ihm das Wechselgeld auszahlen.
Außerdem hast du die Möglichkeit den "passend zahlen Button" zu nutzen, wenn der Kunde dir das Geld passend gegeben hat.
Jetzt bist du bereit für den nächsten Kunden.</p>
</div>
<div class="paragraph">
<p>An seinem ersten Arbeitstag ist es natürlich möglich, dass man den einen oder anderen Fehler macht.
Wenn etwas mit dem Kauf des Kunden schief gegangen ist, kannst du diesen Vorgang stornieren und dem Kunden sein Geld zurück zahlen - dies ist aber nur solange möglich bis der Tagesabschluss am Ende des Tages erstellt wurde.
Sobald der Tagesabschluss erstellt ist können Aufträge von diesem Tag nicht mehr storniert werden.
Möchte ein Kunde den Kauf nach der Erstellung des Tagesabschlusses einen Kauf rückgängig machen musst du dies dann über eine Retoure realisieren.
Retouren können nämlich zu jeder Zeit angelegt werden.
Für mehr Informationen zum Thema Retouren schaue dir dieses Video an.</p>
</div>
<div class="paragraph">
<p>So, der erste Arbeitstag von Stefan neigt sich dem Ende entgegen.
Er hat sich ziemlich gut geschlagen.
Und wenn Stefan das drauf hat kannst du das auch!
Mit der plentymarkets App ist das Kassieren von Einkäufen ganz einfach.
Du kannst dich also auf das Wesentliche konzentrieren - auf deine Kunden!</p>
</div>
</div>
</div>
</main>