<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kassensturz mit deinem plentyPOS-System</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zähle, wieviel Geld in deiner Kasse ist und dokumentiere alles für deine Buchhaltung. Mit plentyPOS ist auch der Kassensturz kein Hexenwerk. Wir zeigen dir wie!</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/pos/arbeiten-mit-pos/kassensturz-eintragen#video">Kassensturz eintragen (0:22)</a></p>
<p class="tableblock"><a href="/videos/pos/arbeiten-mit-pos/kassensturz-differenzen#video">Differenzen verbuchen (1:33)</a></p>
<p class="tableblock"><a href="/videos/pos/arbeiten-mit-pos/kassensturz-beleg#video">Wo findest du den Beleg im Backend? (2:13)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/210430524#at=93" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Hildegards Schicht ist jetzt erstmal vorbei, aus der Küche strömt ihr schon der Geruch ihres selbstgekochten Eintopfs in die Nase, darauf freut sie sich schon den ganzen Tag.
Aber mittags schließen? Schlecht fürs Geschäft.
Gut, dass Hildegard schon vor langer Zeit einen Mitarbeiter eingestellt hat, der jetzt die Kasse übernehmen kann.
Also wollen wir doch mal zählen, wieviel Geld in der Kasse ist!</p>
</div>
<div class="paragraph">
<p>In deinem POS-Menü tippst du einmal auf den Punkt "Kassensturz" und bist sofort dort, wo du hin willst.
Außerdem öffnet sich jetzt auch automatisch die Kassenlade.</p>
</div>
<div class="paragraph">
<p>Nicht erschrecken, falls du das Ganze lieber auf deinem Smartphone machen möchtest.
Die Ansicht variiert hier etwas, da das Platzangebot auf einem Tablet natürlich etwas größer ist.
Etwas kompakter aber mit exakt der gleichen Funktionalität swipest du dich durch die einzelnen Scheine und gibst die jeweilige Menge an.
Auf einem Tablet siehst du alles auf einen Blick.</p>
</div>
<div class="paragraph">
<p>Kurz die Fingerspitzen befeuchtet - auf geht’s zur schönsten Zeit des Tages: Geld zählen.
Eine Methode: Die Stückelung der Scheine und Münzen!
Zähle dein Geld von pro Schein- oder Münzart, tippe auf das, was du gerade gezählt hast und gibst dann die Menge über das Nummernpad ein.
Hildegard hat zum Beispiel insgesamt 500€ in der Kasse, unterteilt in 7 10€, 5 20€ , 3 100€ Scheine und den Rest als Kleingeld.
Noch schneller geht das Ganze übrigens, wenn du die Entertaste nimmst, statt einzeln auf die Scheine zu tippen.</p>
</div>
<div class="paragraph">
<p>Oder du zählst alles komplett und tippst einmal auf den Button "Überschreiben", wodurch die einzelnen Scheine hier auf der linken Seite ausgegraut werden.
Über das Nummernpad gibst du nun den Gesamtbetrag ein.
So oder so, der IST-Kassenbestand hier oben ändert sich bei jeder Eingabe.
Fertig? Super! Dann tippst du auf den Button "Kassensturz speichern".</p>
</div>
<div class="paragraph">
<p>Im besten Fall sind der IST-Kassenbestand und der SOLL-Kassenbestand, der durch Kassenvorgänge, Käufe etc errechnet wurde, gleich.
Normalerweise vermeidest du eine Differenz, indem du all deine Einlagen oder Entnahmen vorab über die entsprechende Funktion buchst.
Allerdings hast du jetzt an dieser Stelle auch die Möglichkeit die Differenz als Einlage einfach auszubuchen.
Einen Grund kannst dafür diesmal aber nicht angeben, hier wird dann automatisch "Differenz aus Kassensturz" in deinem Kassenjournal angelegt.</p>
</div>
<div class="paragraph">
<p>Diesen Kassensturzbericht kannst du dir nun ausdrucken und abheften.
Über deinen konfigurierten Drucker kommt der Beleg zu dir mit allen Angaben, die du gerade gemacht hast.
Entweder mit den Einzelangaben oder eben als Gesamtbetrag.
In deinem plentymarkets Backend wird unter Aufträge&gt; Dokumentenarchiv zum einen dein Kassensturz gespeichert.
Filtere hier oben nach ebendiesem und du findest deinen erstellten Beleg in PDF-Form.</p>
</div>
<div class="paragraph">
<p>Falls du eine Differenz gebucht hast, findest du den Vorgang dazu außerdem im Kassenjournal.
Ebenfalls über den Navigationspunkt "Aufträge" und dann POS &gt; Kassenjournal kommst du genau dorthin und findest hier all deine Einlagen und Entnahmen - und schließlich die gebuchte Differenz.
Hildegard und du seid auf dem besten Weg echte POS-Profis zu werden!
Schau dir doch direkt am besten an, wie du einen Tag erfolgreich zu Ende bringst - mit den Tagesabschluss.</p>
</div>
</div>
</div>
</main>