<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Beende erfolgreich den Tag mit dem Tagesabschluss!</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alles was mit deiner Kasse passiert ist, muss dokumentiert werden. Dafür erstellst du einen Tagesabschluss. plentymarkets POS macht es dir so einfach wie möglich.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/pos/arbeiten-mit-pos/tagesabschluss-erstellen#video">Erstelle deinen Tagesabschluss (0:24)</a></p>
<p class="tableblock"><a href="/videos/pos/arbeiten-mit-pos/tagesabschluss-beleg#video">Wo findest du den Beleg im Backend? (0:50)</a></p>
<p class="tableblock"><a href="/videos/pos/arbeiten-mit-pos/tagesabschluss-zwischenbericht#video">Wo findest du den Beleg im Backend? (1:34)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/210440523#at=50" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Feierabend, wie das duftet!
Ein erfolgreicher Tag liegt hinter Hildegard, das Geschäft florierte, zufriedene Kunden - zufriedene Hildegard!
Um den Tag nun erfolgreich zum Ende zu bringen fehlt nun eigentlich nur noch eins: Hildegard muss ihre gesamten Kassenvorgänge dokumentieren, damit steuerrechtlich alles konform läuft.
Kurz gesagt: Sie braucht einen Tagesabschluss.</p>
</div>
<div class="paragraph">
<p>Natürlich ist auch das mit plentymarkets POS supereinfach erledigt.
In deinem POS-Menü tippst du auf die Funktion "Tagesabschluss".
Oben siehst du den SOLL-Bestand, der entweder durch deine Verkäufe und Co. errechnet wurde oder den du durch eine Differenzbuchung (Einlage / Entnahme) aus dem Kassensturz erfasst hast.
Du machst nun also alles offiziell und gibst den tatsächlichen IST-Bestand ein.</p>
</div>
<div class="paragraph">
<p>Mit einem Fingertip wird dein Tagesabschluss generiert und automatisch gedruckt.
Und wie immer gibt es diesen Beleg natürlich auch digital in deinem plentymarkets Backend.
Ein Tagesabschlussbericht dokumentiert die getätigten Umsätze und ist steuerrechtlich relevant.
Deshalb speichert plenty auch, welcher deiner Mitarbeiter diesen Bericht erstellt hat und wann das genau passiert ist.
Achte also auf die korrekte Uhrzeit am Gerät.
Außerdem kannst du nach dem Tagesabschluss keine AUfträge mehr stornieren, sondern musst eine Retoure einleiten.
Wie das geht, schaust du dir am besten in einem separaten Video an.</p>
</div>
<div class="paragraph">
<p>Beachte, dass im Tagesabschluss alle Werte kumuliert ausgegeben werden.
Wenn du lieber jeden einzelnen Kassenvorgang sehen würdest, findest du alles im Kassenjournal mit detaillierten Infos wann was passiert ist.
So, dein Tagesabschluss gibt dir eine Zusammenfassung des gesamten Tages.
Was ist aber, wenn du lieber zwischendurch mal die Lage checken willst?</p>
</div>
<div class="paragraph">
<p>Kann plentymarkets das auch? Natürlich!
Du kannst dir einfach und schnell so viele Zwischenberichte ziehen wie du möchtest.
Diese werden auch nicht gespeichert, sondern lediglich ausgedruckt.
Mit dem Tagesabschluss hast du nun alle wichtigen Infos zur Hand und kannst nun deine POS-Vorgängen wie ein Profi dokumentieren.</p>
</div>
</div>
</div>
</main>