<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 30. Juni 2020</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 25. Juni 2020 bis zum 30. Juni 2020 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Wochen für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="app-tab" data-toggle="tab" href="#app" role="tab" aria-controls="app" aria-selected="false">App</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_dokumente" class="discrete">Dokumente</h3>
<div class="ulist">
<ul>
<li>
<p>Bei dem Dokument <strong>Abhol-/Lieferschein</strong> steht nun auch die Einstellung zur Verwendung des neues Adresslayout zur Verfügung.</p>
</li>
</ul>
</div>
<h3 id="_elastischer_export" class="discrete">Elastischer Export</h3>
<div class="ulist">
<ul>
<li>
<p>Im Elastischen Export beim Typ <strong>Auftragsposition</strong>, wurde der Filter <code>Lager des Auftrags</code>
hinzugefügt.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/elastischer-export-auftragsposition-lager.png" alt="Lager-Filter am Typ Auftragsposition." width="640"></span></p>
</div>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort kann man über einen Toggle die nicht obligatorischen Felder ein- und ausblenden. Standardmäßig werden immer nur die Pflichtfelder des jeweiligen Kataloges angezeigt.</p>
</li>
<li>
<p>Ab sofort werden beim Kopiervorgang bereits zugeordnete Felder in die neue Katalogkategorie übernommen.</p>
</li>
</ul>
</div>
<h3 id="_kontakte" class="discrete">Kontakte</h3>
<div class="ulist">
<ul>
<li>
<p>Die neue UI zum Erstellen eines neuen Kontakts ist da! Wenn ihr euch im Menü <strong>CRM » Kontakte</strong> befindet und auf <strong>Neuen Kontakt erstellen</strong> klickt, seht ihr nun eine Default-Ansicht mit den 3 Komponenten Firma , Adressdetails und Kontaktdetails , die ihr individuell anpassen könnt.</p>
<div class="paragraph">
<p>Mit einem Klick in das Firmenfeld könnt ihr beim Eintippen von mindestens 3 Buchstaben nach bestehenden Firmen suchen und diese dann auswählen. Der Firmenname wird dann automatisch in die Adressdetails in das Feld <strong>Firma</strong> (ehemals: <strong>Name 1</strong>) übernommen.</p>
</div>
<div class="paragraph">
<p>Wenn ihr eine neue Firma erstellen möchtet, tippt den Firmennamen einfach in das Feld ein. Sobald ihr den Kontaktdatensatz speichert, wird auch die Firma erstellt und ist automatisch dem Kontakt zugewiesen.
Wenn ihr den Firmennamen nicht in der Firmenkomponente eingebt, sondern in den Adressdetails im Feld <strong>Firma</strong>, wird kein neuer Firmendatensatz erstellt, sondern der Wert (d.h. der Firmenname) wird nur für die Adresse gespeichert.</p>
</div>
</li>
</ul>
</div>
<h3 id="_listings" class="discrete">Listings</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt selbst entscheiden, ob die Bilder der Artikel in der Suche für Listings und aktive Listings angezeigt werden. Die Checkbox dafür findest du ganz oben in den Filtern.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_check24" class="discrete">Check24</h3>
<div class="ulist">
<ul>
<li>
<p>Der Auftragsimport für Check24 wird nun alle 20 Minuten durchgeführt. Bis zuletzt lief dieser nur stündlich.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_2" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben <strong>Template</strong> in <strong>Format</strong> umbenannt.</p>
</li>
<li>
<p>Da in naher Zukunft die Standardformate wie <code>Order</code>, <code>Item</code> usw. im Katalog verfügbar sein werden, haben wir den Export-Typ <code>variation</code> in <code>Artikel</code> umbenannt.</p>
</li>
<li>
<p>Es wurde eine Dropdown-Liste zur Sprachauswahl für Meta-Keywords im Katalog eingebaut.</p>
</li>
</ul>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>Die aktuelle Version der Merkmalsstrukur-Master-Datei vom 26.06.2020 von OTTO wurde eingespielt. Dadurch wurden für Attribut- und Merkmalverknüpfung neue Verknüpfungsmöglichkeiten und Vorgabewerte bereitgestellt. <a href="https://forum.plentymarkets.com/uploads/short-url/fZsHApuAa8TXrRhmypL5gr0xbgy.xlsx" target="_blank" rel="noopener">Die Datei könnt ihr hier herunterladen und als Referenz nutzen.</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<h3 id="_partner" class="discrete">Partner</h3>
<div class="ulist">
<ul>
<li>
<p>Partner können Testsysteme jetzt wieder direkt zu Partnersystemen umwandeln. Das Buchen eines neuen Systems ist daher nicht mehr zwingend notwendig.</p>
<div class="paragraph">
<p>Du findest diese Option in deinem Mein Konto-Bereich. Öffne das Menü <strong>Verträge</strong> und klicke am Vertrag des Testsystems auf <strong>In Partnersystem umwandeln</strong>.</p>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/testsystem-partnersystem-umwandeln.png" alt="Schaltfläche am Testsystem im Mein Konto-Bereich." width="640"></span></p>
</div>
</li>
</ul>
</div>
<h3 id="_zolltarifnummern" class="discrete">Zolltarifnummern</h3>
<div class="ulist">
<ul>
<li>
<p>Die Anpassung der Zolltarifnummer wurde die Variantengruppenfunktion umgezogen.</p>
</li>
</ul>
</div>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Über die Auftrags-UI (<strong>Aufträge » Aufträge bearbeiten</strong>) war es möglich einen Wechselkurs an der Währung zu hinterlegen, der 0 oder negativ ist. Dies konnte zu Problemen führen und ist nun nicht mehr möglich.</p>
</li>
<li>
<p>Es war unter Umständen nicht mehr möglich, Retouren und Gutschriften anzulegen ohne einen Hauptauftrag anzugeben. Das wurde behoben.</p>
</li>
<li>
<p>Bei den Dokumenteinstellungen wird der Adressen-Titel nun richtig gespeichert.</p>
</li>
</ul>
</div>
<h3 id="_bol_com" class="discrete">bol.com</h3>
<div class="ulist">
<ul>
<li>
<p>Bei der Versandmeldung an bol.com per Ereignisaktion kam es zu der Fehlermeldung <code>PUT-HTTP-Anfrage an den Endpoint orders/{order-item-id}/shipment fehlgeschlagen mit Fehlercode 400: „Bad Request“.</code>. Der Fehler trat abhängig von der Version ab folgendem Zeitpunkt auf:</p>
<div class="ulist">
<ul>
<li>
<p>beta - 12.06.2020</p>
</li>
<li>
<p>early - 17.06.2020</p>
</li>
<li>
<p>stable - 25.06.2020</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Zur nachträglichen Versandmeldung der betroffenen Aufträge aus plenty heraus musst du folgende Schritte durchführen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Suche unter <strong>Daten » Log</strong> mit den folgenden Suchparametern alle betroffenen Aufträge heraus und mache dir eine kommaseparierte Liste der Auftrags-IDs (z.B. 103, 104, 105 usw.):</p>
<div class="ulist">
<ul>
<li>
<p>Identifikator = <code>bol.com</code></p>
</li>
<li>
<p>Level = <code>error</code></p>
</li>
<li>
<p>Referenztyp = <code>action</code></p>
</li>
<li>
<p>Referenzwert = <code>ShipOrder</code></p>
</li>
</ul>
</div>
</li>
<li>
<p>Gehe zu <strong>Einrichtung » Aufträge » Ereignisse</strong> und öffne die Ereignisaktion, die die Aktion <strong>Versandbestätigung an bol.com senden</strong> enthält.</p>
<div class="ulist">
<ul>
<li>
<p>Wenn die Ereignisaktion für das Ereignis <strong>Statuswechsel</strong> konfiguriert wurde, überspringe Schritt 3 fahre gleich mit Schritt 4 bis 6 fort.</p>
</li>
<li>
<p>Wenn die Ereignisaktion nicht für das Ereignis <strong>Statuswechsel</strong> konfiguriert wurde, fahre mit Schritt 3 fort und arbeite alle Schritte von 3 bis 7 durch.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Konfiguriere eine neue Ereignisaktion mit folgenden Einstellungen:</p>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Ereignisaktion für bol.com</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Einstellung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Option</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Auswahl</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Hinweise</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ereignis</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Statuswechsel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">7.x</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Status kann frei gewählt werden, entweder legst du einen neuen Status unter <strong>Einrichtung » Aufträge » Status</strong> hierfür an oder verwendest einen bestehenden Status. Für gewöhnlich sollte ein Status im Bereich 7.0 bis 7.9999 verwendet werden. Bitte beachte, dass beim Wechsel des Status auch andere entsprechende Ereignisaktionen ausgelöst werden können, die auf das gleiche Ereignis reagieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter 1</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Auftrag » Auftragstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Auftrag</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter 2</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Auftrag » Herkunft</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>bol.com</p>
</div></div></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktion</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Versand » Versandbestätigung an bol.com senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</li>
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Suche mit der kommaseparierten Liste der Auftrags-IDs aus Schritt 1 nach den betroffenen Aufträgen.</p>
</li>
<li>
<p>Nachdem du kurz kontrolliert hast, dass die korrekten Aufträge angezeigt werden, markiere alle gefundenen Aufträge und verschiebe die Aufträge über die Gruppenfunktion in den Status, den du in der Ereignisaktion definiert hast. Falls diese Aufträge bereits in diesem Status sind, dann verschiebe die Aufträge erst in einen anderen Status und dann zurück in den Status, den du in der Ereignisaktion definiert hast. Kontrolliere vorher, ob Ereignisaktionen durch diesen Statuswechsel ausgelöst werden könnten, die du nicht auslösen möchtest.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn die Schritte korrekt durchgeführt wurden, solltest du jetzt unter Daten » Log mit den folgenden Suchparametern Erfolgsmeldungen zu diesen Aufträgen finden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Identifikator = bol.com</p>
</li>
<li>
<p>Referenztyp = action</p>
</li>
<li>
<p>Referenzwert = ShipOrder</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn die erfolgreiche Meldung aller Aufträge abgeschlossen ist, denke daran, Status und Ereignisaktionen, die du im Verlauf dieses ToDos erstellt hast, wieder zu löschen, falls du diese nicht weiter verwenden möchtest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Der Filteroperator steht nun wieder standardmäßig auf <code>Und</code>.</p>
</li>
</ul>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>In der neuen Plugin-UI wurden verschiedene Probleme behoben:</p>
<div class="ulist">
<ul>
<li>
<p>Nach dem Löschen eines Plugin-Sets, öffnet sich jetzt die Plugin-Set-Übersicht.</p>
</li>
<li>
<p>Nach dem Speichern von Prioritäten, öffnet sich jetzt die Detailansicht des Plugin-Sets.</p>
</li>
<li>
<p>Nach dem Speichern von Prioritäten wird die Plugin-Tabelle aktualisiert, ohne dass die Seite neu geladen werden muss.</p>
</li>
<li>
<p>Nach dem Speichern von Prioritäten wird die Nachricht, dass es ungespeicherte Änderungen bei den Prioritäten gibt nicht mehr angezeigt.</p>
</li>
<li>
<p>Nach dem Installieren eines Plugins wird die Suchfunktion in der Installationsansicht zurückgesetzt.</p>
</li>
<li>
<p>Nach dem Aktualisieren eines Plugins wird das Plugin in der Nachricht, dass neue Versionen von Plugins vorliegen nicht mehr angezeigt, ohne dass die Seite neu geladen werden muss.</p>
</li>
<li>
<p>Nach dem Wechseln eines Git-Branches wird der neue Branch in der Plugin-Tabelle angezeigt, ohne dass die Seite neu geladen werden muss.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h3 id="_shopbuilder" class="discrete">ShopBuilder</h3>
<div class="ulist">
<ul>
<li>
<p>Das Speichern von Kategorien im Shopbuilder ist wieder ohne Probleme möglich.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab"><div class="paragraph">
<p><strong>Einstellung</strong></p>
</div></div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab"><div class="paragraph">
<p><strong>Option</strong></p>
</div></div><div class="tab-pane fade" id="app" role="tabpanel" aria-labelledby="app-tab"><div class="paragraph">
<p><strong>Auswahl</strong></p>
</div></div></div>
</main>