<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 27. Mai 2020</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 21. Mai 2020 bis zum 27. Mai 2020 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Wochen für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_artikel" class="discrete">Artikel</h3>
<div class="ulist">
<ul>
<li>
<p>Der Import von Artikeldaten wurde beschleunigt. Beispielsweise wurde die Importzeit beim Anlegen von Varianten mit Preisen um bis zu 80% verringert. Das bedeutet, dass eure Artikeldaten deutlich schneller im System und aktuell sind.</p>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-do</div>
<div class="paragraph">
<p>Diese Änderung befindet sich momentan in einer Testphase. Um an der Testphase teilzunehmen, öffne das Menü <strong>Einrichtung » Artikel » Beta: Beschleunigung Artikelimport</strong> und aktiviere den Toggle.</p>
</div>
<div class="paragraph">
<p>Wir freuen uns auf euer Feedback in der Forumskategorie <a href="https://forum.plentymarkets.com/c/item/artikelimport">Beta: Beschleunigung Artikelimport</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<h3 id="_ebay" class="discrete">eBay</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt beim eBay-Listing-Import im Menü <strong>Daten » eBay-Listings</strong> entscheiden, ob beim Import eines Varianten-Listings die Hauptvariante mit Attributen oder ohne Attribute angelegt werden soll. Die Option dafür nennt sich <strong>Hauptvariante ohne Attribute erstellen (Varianten-Listings)</strong>.</p>
<div class="paragraph">
<p>Der Import hat bei angehakter Option nur dann Auswirkungen, wenn es sich bei dem zu importierenden Listing um ein Varinaten-Listing handelt.</p>
</div>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort können negative Bestandswerte mit den Formaten <code>Wareneingang</code>, <code>Warenbestand</code> und <code>Artikel</code> importiert werden.</p>
</li>
</ul>
</div>
<h3 id="_real_de" class="discrete">real.de</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist ab sofort möglich, Rechnungen über eine Ereignisaktion bei real.de hochzuladen.</p>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-do</div>
<div class="paragraph">
<p>Um das Hochladen der Rechnung zu aktualisieren, musst du eine Ereignisaktionen einrichten. Weitere Informationen findest du auf der Handbuchseite <a href="/maerkte/real-de/real-de-einrichten#895">real.de einrichten</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Das Event für Statuswechsel wird bei der Auftragsanlage nicht mehr gefeuert. Dadurch werden doppelte Ausführungen beim Anlegen von Aufträgen vermieden.</p>
</li>
<li>
<p>Über die Gruppenfunktion können keine Aufträge mehr gelöscht werden, wenn der Warenausgang gebucht ist.</p>
</li>
</ul>
</div>
<h3 id="_ebay_2" class="discrete">eBay</h3>
<div class="ulist">
<ul>
<li>
<p>Von nun an werden auch eBay-Nachrichten ins Ticketsystem importiert, die bei eBay bereits gelesen wurden. Zuvor konnten nur eBay-Nachrichten importiert werden, die auf eBay direkt noch nicht geöffnet wurden.</p>
</li>
</ul>
</div>
<h3 id="_bol_com" class="discrete">Bol.com</h3>
<div class="ulist">
<ul>
<li>
<p>Im Format <code>BolItemExport</code> für den Elastischen Export wird bei der Generierung die Spalte <strong>Product Classification</strong> nicht mehr als Pflichtfeld geprüft. Dadurch können auch Produkte ohne eine bol.com-Kategorieverknüpfung exportiert werden.</p>
</li>
</ul>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>Die aktuelle Version der Merkmalsstrukur-Master-Datei vom 22.05.2020 von OTTO wurde eingespielt. Dadurch wurden für Attribut- und Merkmalverknüpfung neue Verknüpfungsmöglichkeiten und Vorgabewerte bereitgestellt. <a href="https://forum.plentymarkets.com/uploads/short-url/8Y02AJFYgGrBQNHquKCH2GmLoFU.xlsx" target="_blank" rel="noopener">Die Datei könnt ihr hier herunterladen und als Referenz nutzen.</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Die Schaltfläche <strong>Abbrechen</strong> ist nun im Warenbezugkostenrechner der Nachbestellung hinzugefügt worden.</p>
</li>
</ul>
</div>
<h3 id="_bol_com_2" class="discrete">Bol.com</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Erstellen und Aktualisieren von Angeboten für bol.com FBB (Fulfillment by bol.com) kam es zu Validierungsfehlern, weil die Lieferzeit fehlt, obwohl diese bei FBB-Angeboten fehlen muss. Die Lieferzeit wird jetzt nur noch geprüft, wenn es sich um ein FBR-Angebot (Fulfillment by Retailer) handelt.</p>
</li>
<li>
<p>Nach dem erfolgreichen Erstellen eines Angebots konnte es vorkommen, dass die Aktivierung des Angebotes ausblieb. Grund dafür war, dass die Angebotserstellung asynchron abläuft und wir das Angebot erst nach Bestätigung der Erstellung auf bol.com über eine Aktualisierung aktivieren. Diese Aktualisierung erfolgte nicht, wenn ein bestimmter Zeitstempel an der SKU gesetzt war und die letzte Änderung der Variante nach diesem Zeitstempel erfolgte. Dieser Zeitstempel wird nun automatisch beim Bestätigen der Erstellung zurückgesetzt, um dieses Problem zu umgehen.</p>
</li>
</ul>
</div>
<h3 id="_import_2" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Aufgrund eines Fehlers kam es in der Sync-Benutzeroberfläche zu einem Fehlverhalten. Dieses Problem haben wir gelöst.</p>
</li>
<li>
<p>Der Bildschirm ist eingefroren wenn man bei Neuanlage eines Syncs den Quellentyp <code>HTTPS</code> auswählte. Diesen Fehler haben wir nun behoben.</p>
</li>
<li>
<p>Aufgrund eines Fehlers konnten die vorgenommenen Importeinstellungen nicht gespeichert werden. Dieses Fehlverhalten haben wir behoben.</p>
</li>
</ul>
</div>
<h3 id="_yatego" class="discrete">Yatego</h3>
<div class="ulist">
<ul>
<li>
<p>Aufträge, die mit Sofortüberweisung bezahlt wurden, wurden stattdessen mit der Zahlungsart <code>Vorkasse</code> importiert. Die Zahlungsart wird nun korrekt gesetzt.</p>
</li>
</ul>
</div>
<h3 id="_zalando" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Durch ein Problem bei den FTP-Einstellungen waren für jeden Händler mit den Zugangsdaten die Ordner aller Händler sichtbar, die die Silhouetten-Daten und Verarbeitungsberichte des Artikel-Exports enthalten.</p>
<div class="paragraph">
<p>Der FTP ist ab sofort nur noch für Zalando und uns direkt erreichbar. Händler können die eigenen Verarbeitungsberichte nur noch über <strong>Einrichtung » Märkte » Zalando » Einstellungen » Tab: Verarbeitungsberichte</strong> herunterladen.</p>
</div>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_dokumente" class="discrete">Dokumente</h3>
<div class="ulist">
<ul>
<li>
<p>Bei externen Gutschriften wird jetzt die Nummer der externen Gutschrift in der Auftragssuche angezeigt.</p>
</li>
<li>
<p>Die Warnung, dass eine Zahlung existiert, aber keine Rechnung / Gutschrift, wird nicht mehr angezeigt, wenn eine externe Rechnung / Gutschrift existiert.</p>
</li>
</ul>
</div>
<h3 id="_ebay_3" class="discrete">eBay</h3>
<div class="ulist">
<ul>
<li>
<p>Variantenbilder werden ab sofort beim Listing-Import separat behandelt und importiert.
Die Bilder werden nun beim Import schon mit den entsprechenden Varianten verlinkt und die Marktplatzattributverknüpfung wird so hinterlegt, wie es auch auf eBay der Fall ist.</p>
<div class="paragraph">
<p>Zuvor wurden Variantenbilder ohne jegliche Verknüpfungen am Artikel hinterlegt.</p>
</div>
</li>
</ul>
</div>
<h3 id="_import_3" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort findest du in der detaillierten Statusübersicht den Bereich <strong>Ergebnis</strong>. Hier wird dir genau angezeigt, was mit jeder Zeile aus deiner CSV passiert ist.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_dokumente_2" class="discrete">Dokumente</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist nicht mehr erlaubt, eine Gutschrift zu erstellen, wenn schon eine externe Gutschrift existiert.</p>
</li>
</ul>
</div>
<h3 id="_dpd" class="discrete">DPD</h3>
<div class="ulist">
<ul>
<li>
<p>Wie in <a href="https://forum.plentymarkets.com/t/klarheit-fuer-dpd-versand-benoetigt/585476/6" target="_blank" rel="noopener">diesem Beitrag</a> bereits angekündigt, haben wir die DPD-Menünamen im plentymarkets Backend verständlicher formuliert:</p>
<div class="ulist">
<ul>
<li>
<p><strong>DPD Cloud Webservice</strong> heißt nun <strong>DPD Cloud Webservice (My DPDBusiness)</strong></p>
</li>
<li>
<p><strong>DPD DELISprint</strong> heißt nun <strong>DPD Print</strong></p>
</li>
<li>
<p><strong>MyDPD Business / Iloxx</strong> heißt nun <strong>Iloxx</strong></p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Im Filter <strong>Artikel enthalten</strong> wurden seit dem Umbau der Order-Logik unzugeordnete Positionen (Artikel-ID -2) und Positionen von eingelösten Gutscheinen (Artikel-ID -1) nicht richtig interpretiert und haben dadurch nicht gegriffen. Dies wurde nun behoben.</p>
</li>
<li>
<p>Innerhalb der Status-Einstellungen wurden eine neue Komponente eingefügt. Dadurch wird das Komma bei manchen Browsern nicht mehr ignoriert.</p>
</li>
</ul>
</div>
<h3 id="_ereignisaktionen" class="discrete">Ereignisaktionen</h3>
<div class="ulist">
<ul>
<li>
<p>Die Ereignisaktion <strong>Paketnummer</strong> wird nun nicht mehr mehrfach bei einer Aktion gefeuert.</p>
</li>
</ul>
</div>
<h3 id="_lieferungen" class="discrete">Lieferungen</h3>
<div class="ulist">
<ul>
<li>
<p>Lieferungen von der Schweiz nach Liechtenstein oder umgekehrt werden jetzt nicht mehr als Ausfuhrlieferungen betrachtet.</p>
</li>
</ul>
</div>
<h3 id="_rücksendescheine" class="discrete">Rücksendescheine</h3>
<div class="ulist">
<ul>
<li>
<p>Die beiden Einstellungen <strong>Artikelpakete anzeigen</strong> und <strong>Basisartikel in Artikelpaketen anzeigen</strong> wurden nicht richtig interpretiert, sodass es nicht möglich war, nur die Basisartikel anzuzeigen. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h2 id="_gelöscht" class="discrete">Gelöscht</h2>
<div class="paragraph">
<p>Folgende Funktionalität wurde in den letzten 7 Tagen auf <strong>early</strong> gelöscht.</p>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Wie in <a href="https://forum.plentymarkets.com/t/ankuendigung-menue-crm-kunden-bearbeiten-deprecated-wird-abgeschaltet-deactivation-of-the-menu-edit-customer/586869" target="_blank" rel="noopener">diesem Beitrag</a> sowie über die plentymarkets Status-E-Mail angekündigt, wurde das <strong>Menü CRM » Kunden bearbeiten (deprecated)</strong> nun aus dem Backend entfernt und ist nicht mehr verfügbar.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/filterdrop_6603" target="_blank" rel="noopener">Ceres Beautifier: Filter Dropdown</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf Ceres Version 5.0.0 oder höher aktualisieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/energylabel_6160" target="_blank" rel="noopener">Energie Label</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.4.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/formatdesigner_6483" target="_blank" rel="noopener">FormatDesigner</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.17</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/hermesshippinginterface_5437" target="_blank" rel="noopener">Hermes</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/posinvoice_5590" target="_blank" rel="noopener">plentyPOS Kauf auf Rechnung</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/internetmarke_5004" target="_blank" rel="noopener">Internetmarke</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.2.15</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/sofort_5050">Sofort.</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.3.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/sumup_5141" target="_blank" rel="noopener">SumUp</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/voelkner_6811" target="_blank" rel="noopener">Voelkner-Marktplatz (Open Beta)</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>