<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#plugins-system-hinzufuegen"><span>1.</span><span> Plugins dem System hinzufügen</span></a></li>
<li><a href="#plugins-installieren"><span>2.</span><span> Plugins installieren</span></a></li>
<li><a href="#plugins-nutzen"><span>3.</span><span> Plugins nutzen</span></a></li>
<li><a href="#login"><span>4.</span><span> Login</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>FAQ: Plugins</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Seite findest du häufig gestellte Fragen zum Thema Plugins.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="plugins-system-hinzufuegen">1. Plugins dem System hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Abschnitt wird beschrieben, wie du häufig auftretende Probleme beim Einbinden von Plugins in dein System behandeln kannst.</p>
</div>
<div class="qlist qanda">
<ol>
<li>
<p><em>Ich habe ein Plugin auf plentyMarketplace erworben, aber es taucht nicht in der Liste meiner nicht installierten Plugins auf. Wo kann ich es finden?</em></p>
<p>plentymarkets verwendet einen Zwischenspeicher für die Plugins, die in deinem System zu Verfügung stehen. Wenn du ein Plugin gekauft hast und es noch nicht in der Liste angezeigt wird, warte einfach ein paar Minuten. Die Liste der Plugins wird alle 5&nbsp;Minuten aktualisiert.</p>
</li>
<li>
<p><em>Ich erhalte eine Fehlermeldung, wenn ich versuche, ein Git-Repository in mein System einzubinden. Was kann ich tun?</em></p>
<p>Prüfe zunächst deine Zugangsdaten und stelle sicher, dass der Branch, den du angegeben hast, auch wirklich existiert. Wenn der Fehler weiterhin auftritt, arbeitest du möglicherweise mit einer ungültigen Plugin-JSON. Diese Datei wird beim Einbinden des Repositorys von plentymarkets geprüft. Vergleiche deine Plugin-JSON mit den Anforderungen aus unserer <a href="https://developers.plentymarkets.com/dev-doc/plugin-information" target="_blank" rel="noopener">Entwicklerdokumentation</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="plugins-installieren">2. Plugins installieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Abschnitt geht es um häufig auftretende Fragen zum Verwenden von Plugins.</p>
</div>
<div class="qlist qanda">
<ol>
<li>
<p><em>Warum funktioniert mein Plugin nicht?</em></p>
<p>Stelle sicher, dass du das Plugin erfolgreich bereitgestellt hast. Ob das Plugin bereitgestellt ist erkennst du daran, dass in der Spalte <strong>Aktive Version</strong> eine Versionsnummer steht. Wenn dort keine Versionsnummer steht, stelle das Plugin-Set bereit (<span class="icon green"><i class="fa fa-save  "></i></span>).<br>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/plugins/assets/plugin-aktive-version.png" alt="plugin aktive version"></span></p>
</li>
<li>
<p><em>Ich habe das Plugin-Set bereitgestellt, es wird aber trotzdem keine aktive Version für das Plugin angezeigt. Woran liegt das?</em></p>
<p>Dafür kann es mehrere Gründe geben. Zum einen ist es möglich, dass das Bereitstellen nicht erfolgreich war. Ob der Bereitstellungsprozess erfolgreich abgeschlossen wurde, kannst du an dem Zeitstempel in der Plugin-Übersicht erkennen:<br>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/plugins/assets/plugin-set-zeitstempel.png" alt="plugin set zeitstempel"></span></p>
</li>
<li>
<p><em>Bei mir wird kein Zeitstempel angezeigt. Was kann ich tun?</em></p>
<p>Wenn bei dir kein Zeitstempel angezeigt wird, ist der Bereitstellungsprozess fehlgeschlagen. Du kannst dir stattdessen anzeigen lassen, warum der Prozess gescheitert ist, indem du auf die Schaltfläche <strong>Log</strong> klickst:<br>
<span class="image"><img src="{{plugin_path('PlentyManual')}}/images/plugins/assets/plugin-set-fehlerlog.png" alt="plugin set fehlerlog"></span></p>
</li>
<li>
<p><em>Im <strong>Log</strong> steht <code>Plugin MeinPlugin requires "xy".:</code>. Was bedeutet das?</em></p>
<p>Dieser Eintrag bedeutet, dass das Plugin eine Abhängigkeit zu einem anderen Plugin namens <em>xy</em> besitzt. Du musst dieses zweite Plugin in dem Plugin-Set installieren bevor du <em>MeinPlugin</em> bereitstellen kannst.</p>
</li>
<li>
<p><em>Es erscheint weder ein Zeitstempel noch ein Log-Eintrag. Was nun?</em></p>
<p>Prüfe, dass die DNS-Einstellungen deiner Domain richtig hinterlegt sind und du ein gültiges SSL-Zertifikat besitzt.<br>
Weitere Informationen zum Hinterlegen von DNS-Einstellungen findest du im Forumsbeitrag <a href="https://forum.plentymarkets.com/t/selbsthilfe-bei-dns-problemen-wie-hinterlege-ich-korrekte-dns-einstellungen/65559" target="_blank" rel="noopener">Selbsthilfe bei DNS-Problemen</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.<br>
Weitere Informationen zum Bestellen von SSL-Zertifikaten findest du im Forumsbeitrag <a href="https://forum.plentymarkets.com/t/leitfaden-ssl-bestellung/214417" target="_blank" rel="noopener">Leitfaden SSL-Bestellung</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="plugins-nutzen">3. Plugins nutzen</h2>
<div class="sectionbody">
<div class="qlist qanda">
<ol>
<li>
<p><em>Ich habe das Plugin erfolgreich bereitgestellt. Warum wird es jetzt nicht in meinem Webshop angezeigt?</em></p>
<p>Manche Plugins müssen noch konfiguriert werden bevor du sie einsetzen kannst. Prüfe nochmal die Anleitung des Plugins auf plentyMarketplace. Stelle inbesondere sicher, dass du alle <a href="/installierte-plugins-konfigurieren#container-verknuepfungen">Container-Verknüpfungen</a> gesetzt hast, falls vorhanden.</p>
</li>
<li>
<p><em>Das Plugin soll meinem Backend neue Menüpunkte hinzufügen. Warum werden diese nicht angezeigt?</em></p>
<p>Prüfe, dass das Plugin-Set, in dem du das Plugin installiert hast, auch als <a href="/hinzugefuegte-plugins-installieren#backend-plugin-set">Backend-Plugin-Set</a> mit deinem Benutzerkonto verknüpft ist.</p>
</li>
<li>
<p><em>Ich habe alle bisher genannten Punkte geprüft, das Plugin funktioniert aber immer noch nicht richtig. Gibt es noch etwas, das ich tun kann?</em></p>
<p>Eventuell wurde das Plugin nicht vollständig installiert. Du kannst die Installation erneut durchführen, indem du das Plugin reparierst. Öffne hierfür in der Plugin-Übersicht die Detailansicht des Plugins, klicke auf die Schaltfläche <strong>Reparieren</strong> und bestätige die Abfrage.<br>
Alle deine Einstellungen bleiben beim Reparieren erhalten.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="login">4. Login</h2>
<div class="sectionbody">
<div class="qlist qanda">
<ol>
<li>
<p><em>Nachdem ich ein Plugin installiert und bereitgestellt habe, kann ich mich nicht mehr in mein System einloggen. Wie komme ich wieder in mein Backend?</em></p>
<p>Log dich im <a href="/willkommen/login-rundgang#70">abgesicherten Modus</a> ein. <a href="/installierte-plugins-entfernen#plugin-deaktivieren">Deaktivere</a> das Plugin. Du solltest dich jetzt wieder normal einloggen können.</p>
</li>
</ol>
</div>
</div>
</div>
</main>