<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#plugin-set-erstellen"><span>1.</span><span> Plugin-Set erstellen</span></a></li>
<li><a href="#plugin-installieren"><span>2.</span><span> Plugin in einem Plugin-Set installieren</span></a></li>
<li><a href="#plugin-set-verknuepfen"><span>3.</span><span> Plugin-Set live schalten</span></a></li>
<li><a href="#backend-plugin-set"><span>4.</span><span> Plugin-Set mit Benutzerkonto verknüpfen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Hinzugefügte Plugins installieren</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph previous-next-navigation">
<p><a href="/plugins/plugins-system-hinzufuegen"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Plugins dem System hinzufügen</a>
<a href="/plugins/installierte-plugins-konfigurieren">Installierte Plugins konfigurieren <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>Um Plugins nutzen zu können, musst du sie zunächst in einem Plugin-Set einbinden und das Plugin-Set bereitstellen. <a href="#plugin-set-erstellen">Erstelle oder kopiere</a> zunächst ein neues Plugin-Set. Dort kannst du das Plugin <a href="#plugin-installieren">installieren und bereitstellen</a>. Um das Plugin zu nutzen, verknüpfst du es abschließend noch mit einem <a href="#plugin-set-verknuepfen">Mandanten</a> oder <a href="#backend-plugin-set">Benutzerkonto</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="plugin-set-erstellen">1. Plugin-Set erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Plugins können nur als Teil eines Plugin-Sets genutzt werden. Bevor du Plugins installieren kannst, musst du also zunächst ein neues Plugin-Set erstellen. Selbst wenn du Plugins in einem bestehenden Plugin-Set installieren möchtest, solltest du in einer Kopie des Sets arbeiten, damit du Änderungen bei Bedarf leicht verwerfen kannst.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Sicherheitskopie</div>
<div class="paragraph">
<p>Wenn du Änderungen in einem Plugin-Set vornehmen möchtest, erstelle zunächst eine Sicherheitskopie. Dadurch kannst du Änderungen leicht wieder verwerfen.</p>
</div>
<div class="paragraph">
<p>Um eine Kopie eines Plugin-Sets zu erstellen, öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>. Klicke dann in der Spalte <strong>Aktionen</strong> auf die Schaltfläche <strong>Plugin-Set kopieren</strong> (<span class="icon yellow"><i class="fa fa-clipboard  "></i></span>).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Plugin-Set erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Plugin-Set erstellen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Plugin-Set erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für das Plugin-Set ein.</p>
</li>
<li>
<p>Klicke auf <strong>Erstellen</strong>.
→ Das Plugin-Set wird erstellt und erscheint in der Liste aller Plugin-Sets.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Du kannst den Namen jederzeit in den <strong>Plugin-Set-Einstellungen</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>) ändern.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Plugin-Set-Name</div>
<div class="paragraph">
<p>Die Namen von Plugin-Sets dürfen nur bestimmte Zeichen enthalten. Erlaubt sind alle Buchstaben des deutschen Alphabets, inklusive Umlauten und Eszett, Ziffern, sowie die Zeichen '-', '_', '.' und Leerzeichen. Insgesamt muss der Name zwischen 3 und 255 Zeichen lang sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="plugin-installieren">2. Plugin in einem Plugin-Set installieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der gesamte Installationsprozess eines Plugins umfasst drei Schritte. Zunächst musst du das Plugin in einem Plugin-Set installieren. Dabei werden die Dateien des Plugins auf dein System übertragen. Im zweiten Schritt aktivierst du das Plugin. Dadurch gibst du an, welche Plugins beim Laden deines Systems oder Webshops mit berücksichtigt werden soll. Abschließend stellst du das Plugin-Set mit allen aktiven Plugins bereit. Dadurch schließt du den Installationsvorgang ab.</p>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) das Plugin-Set, das du bearbeiten möchtest.<br>
→ Das Plugin-Set wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Neues Plugin hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle das Plugin aus der Liste, das du installieren möchtest.
→ Es werden Informationen zu dem ausgewählten Plugin angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Version auswählen</strong> die Version des Plugins, die du installieren möchtest. Standardmäßig ist die neuste Version vorausgewählt.</p>
</li>
<li>
<p>Um das Plugin zu installieren, klicke auf <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert.<br>
→ Nachdem das Installieren abgeschlossen ist, wird das Plugin-Set angezeigt.<br>
→ <strong><em>Optional:</em></strong> Sobald du das Plugin installiert hast, kannst du es konfigurieren.</p>
<div class="paragraph">
<p>Ob ein Plugin konfiguriert werden muss und welche Einstellungen notwendig sind, kannst du der Beschreibung des Plugins auf <a href="https://marketplace.plentymarkets.com" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> entnehmen.</p>
</div>
</li>
<li>
<p>Ändere den Zustand des Plugins zu aktiv (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) das Plugin-Set.<br>
→ Wenn es beim Speichern ein Problem gibt, klicke auf <strong>Details öffnen</strong>, um weitere Informationen zu erhalten.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="plugin-set-verknuepfen">3. Plugin-Set live schalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du mit deinem Plugin-Set zufrieden bist, kannst du es live schalten, indem du es mit einem deiner Mandanten verlinkst. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Plugin-Set-Vorschau</div>
<div class="paragraph">
<p>Nutze die <strong>Plugin-Set-Vorschau</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>), um zu prüfen, wie dein Webshop mit dem gewählten Plugin-Set aussieht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Plugin-Set verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.<br>
<strong><em>Oder:</em></strong> Wenn du dich bereits in einem Plugin-Set befindest, klicke auf <strong>Mandanten verlinken</strong>.<br>
→ Eine Übersicht mit allen Mandanten und Plugin-Sets öffnet sich.</p>
</li>
<li>
<p>Ziehe den Mandanten, mit dem du das Plugin-Set verknüpfen möchtest, in den Bereich des Plugin-Sets.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="backend-plugin-set">4. Plugin-Set mit Benutzerkonto verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Plugin-Sets und die in den Sets aktivierten Plugins können sowohl dazu benutzt werden, deinem Shop neue Funktionalitäten hinzuzufügen als auch, um dein Backend um Menüeinträge und Benutzerschnittstellen zu erweitern. Dabei kann jede Benutzer:in ein eigenes Backend-Plugin-Set auswählen und die in dem Set aktivierten Plugins für das eigene Backend laden. Dies kann dann hilfreich sein, wenn du Zugriff auf bestimmte Funktionen benötigst, nicht jedoch auf andere. Wenn du das Plugin-Set für deine Backend-Ansicht ändern möchtest, gehe wie folgt vor.</p>
</div>
<div class="paragraph instruction">
<p>Backend-Plugin-Set wählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf das Benutzersymbol (<span class="icon "><i class="fa fa-user-circle  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Backend-Plugin-Set</strong>.<br>
→ Das Fenster <strong>Plugins</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf ein Plugin-Set.</p>
</li>
<li>
<p>Lade die Seite neu.<br>
→ Das gewählte Plugin-Set ist jetzt für dein Backend aktiviert.</p>
</li>
</ol>
</div>
<hr>
<div class="paragraph previous-next-navigation">
<p><a href="/plugins/plugins-system-hinzufuegen"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Plugins dem System hinzufügen</a>
<a href="/plugins/installierte-plugins-konfigurieren">Installierte Plugins konfigurieren <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</main>