<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#marketplace-plugins"><span>1.</span><span> Marketplace-Plugins</span></a></li>
<li><a href="#git-plugins"><span>2.</span><span> Git-Plugins</span></a>
<ul class="sectlevel2">
<li><a href="#branch-pullen"><span>2.1.</span><span> Branch pullen</span></a></li>
<li><a href="#branch-wechseln"><span>2.2.</span><span> Auf Branch wechseln</span></a></li>
<li><a href="#commit-wechseln"><span>2.3.</span><span> Auf Commit wechseln</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Installierte Plugins aktualisieren</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Manchmal stellen Plugin-Anbieter eine neuere Version ihres Plugins zu Verfügung. Hast du so ein Plugin bereits in einem Plugin-Set installiert, musst du es aktualisieren, um es in der neueren Version zu nutzen. Da es sich hierbei um eine Änderung an dem Plugin-Set handelt, solltest du vor dem Aktualiseren des Plugins eine Kopie des Sets erstellen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Sicherheitskopie</div>
<div class="paragraph">
<p>Wenn du Änderungen in einem Plugin-Set vornehmen möchtest, erstelle zunächst eine Sicherheitskopie. Dadurch kannst du Änderungen leicht wieder verwerfen.</p>
</div>
<div class="paragraph">
<p>Um eine Kopie eines Plugin-Sets zu erstellen, wähle beim Erstellen eines neuen Plugin-Sets aus der Dropdown-Liste <strong>Plugin-Set kopieren</strong> das Plugin-Set, das du bearbeiten möchtest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Plugin-Set erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Fenster <strong>Plugin-Set erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für das Plugin-Set ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Möglichkeiten zum Aktualisieren unterscheiden sich, je nachdem ob du das Plugin <a href="#marketplace-plugins">auf plentyMarketplace erworben</a> oder <a href="#git-plugins">über Git eingebunden</a> hast.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="marketplace-plugins">1. Marketplace-Plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn ein Update für ein Plugin verfügbar ist, wird in der Spalte <strong>Aktion</strong> die Schaltfläche <strong>Aktualisieren</strong> farbig gekennzeichnet.</p>
</div>
<div class="paragraph instruction">
<p>Marketplace-Plugins aktualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Um ein Plugin zu aktualisieren, klicke auf die Schaltfläche <strong>Aktualisieren</strong>.<br>
→ Ein Fenster zur Auswahl der zu installierenden Version öffnet sich.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Zu installierende Version</strong> die Version des Plugins aus, die du installieren möchtest. Standardmäßig ist die neuste Version ausgewählt.<br>
<strong><em>Hinweis:</em></strong> In einem Textfeld unterhalb der Dropdown-Liste wird der Changelog der aktuell ausgewählten Version angezeigt.</p>
</li>
<li>
<p>Um das Plugin auf die ausgewählte Version zu aktualisieren, klicke auf die Schaltfläche <strong>Installieren</strong>.<br>
→ Das Plugin wird aktualisiert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Es ist bei Marketplace-Plugins nicht möglich, die Version auf eine ältere herunterzustufen. Wenn du eine ältere Version eines Plugins verwenden möchtest, musst du es <a href="//plugins/installierte-plugins-entfernen#plugin-aus-plugin-set-loeschen">löschen</a> und dann <a href="#plugins/hinzugefuegte-plugins-installieren">neu installieren</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="git-plugins">2. Git-Plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Git-Plugins können auf unterschiedliche Arten aktualisiert werden. Um mit einer neueren Version des aktuellen Branches zu arbeiten, kannst du den <a href="#branch-pullen">Branch pullen</a>. Du hast aber auch die Möglichkeit, mit dem Stand eines anderen Branches zu arbeiten, indem du den <a href="#branch-wechseln">Branch wechselst</a>, oder einen <a href="#commit-wechseln">beliebigen Commit auszuchecken</a>, wenn du eine bestimmte ältere Version des Plugins verwenden möchtest.</p>
</div>
<div class="sect2">
<h3 id="branch-pullen">2.1. Branch pullen</h3>
<div class="paragraph">
<p>Wenn in deinem Git-Repository ein neuerer Stand deines Plugins vorliegt und du diesen Stand in plentymarkets verwenden möchtest, kannst du den Branch pullen.</p>
</div>
<div class="paragraph">
<p>Um ein Git-Plugin zu pullen, öffne das Menü <strong>Plugins » Plugin-Übersicht</strong> und klicke in der Spalte <strong>Aktion</strong> auf die Schaltfläche <strong>Branch pullen</strong> (<span class="icon yellow"><i class="fa fa-arrow-down  "></i></span>).</p>
</div>
<div class="paragraph">
<p>Alternativ kannst du Git-Plugins auch über die Git-Detailansicht pullen. Hier kannst du zusätzlich die letzten 50 Commits des ausgewählten Branches einsehen.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Git-Plugin pullen</div>
<div class="content">
<div class="paragraph instruction">
<p>Git-Plugin pullen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, das du bearbeiten möchtest.<br>
→ Der Bereich zum Bearbeiten des ausgewählten Plugin-Sets wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das Git-Plugin, das du bearbeiten möchtest.<br>
→ Die Plugin-Detailansicht wird geöffnet.</p>
</li>
<li>
<p>Öffne im Menübaum das Menü <strong>Git</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Pull</strong> (<span class="icon yellow"><i class="fa fa-arrow-down  "></i></span>).</p>
</li>
</ol>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="branch-wechseln">2.2. Auf Branch wechseln</h3>
<div class="paragraph">
<p>Du kannst zwischen den Branches eines Git-Repositorys wechseln. Bei der Auswahl des Branches handelt es sich um eine lokale Einstellungen. Das heißt, es kann für dasselbe Plugin in jedem Set ein anderer Branch ausgewählt werden. Somit kannst du beispielsweise den stabilen Branch in deinem aktiven Plugin-Set verwenden und gleichzeitig in einem inaktiven Set auf einem anderen Branch ein neues Feature testen.</p>
</div>
<div class="paragraph instruction">
<p>Branch wechseln:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, das du bearbeiten möchtest.<br>
→ Der Bereich zum Bearbeiten des ausgewählten Plugin-Sets wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das Git-Plugin, das du bearbeiten möchtest.<br>
→ Die Plugin-Detailansicht wird geöffnet.</p>
</li>
<li>
<p>Öffne im Menübaum das Menü <strong>Git</strong>.</p>
</li>
<li>
<p>Wähle aus dem Dropdown-Menü <strong>Branch</strong> den Branch aus, zu dem du wechseln möchtest.<br>
→ Eine Meldung bestätigt, dass das Wechseln des Branches erfolgreich war. Die Einstellungen werden automatisch gespeichert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="commit-wechseln">2.3. Auf Commit wechseln</h3>
<div class="paragraph">
<p>Wenn du einen anderen Stand deines Repositorys verwenden möchtest, für diesen Stand aber keinen eigenen Branch erstellt hast, kannst du auch auf einzelne Commits zugreifen.</p>
</div>
<div class="paragraph instruction">
<p>Auf Commit wechseln:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, das du bearbeiten möchtest.<br>
→ Der Bereich zum Bearbeiten des ausgewählten Plugin-Sets wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das Git-Plugin, das du bearbeiten möchtest.<br>
→ Die Plugin-Detailansicht wird geöffnet.</p>
</li>
<li>
<p>Öffne im Menübaum das Menü <strong>Git</strong>.</p>
</li>
<li>
<p>Kopiere die Commit-ID des Commits, auf den du wechseln möchtest.<br>
In der Detailansicht werden die letzten 50 Commits für den ausgewählten Branch angezeigt. Du kannst die Commit-ID kopieren, indem du in der Zeile des gewünschten Commits auf <strong>Commit-ID in Zwischenablage kopieren.</strong> (<span class="icon yellow"><i class="fa fa-clipboard  "></i></span>) klickst. Wenn du auf einen Commit wechseln möchtest, der mehr als 50 Commits zurückliegt, kannst du die gleichen Schritte in der Commits-Übersicht deines Git-Repositorys durchführen.</p>
</li>
<li>
<p>Füge die kopierte ID in das Feld <strong>Commit-ID</strong> ein.</p>
</li>
<li>
<p>Klicke auf <strong>Checkout</strong>.<br>
→ <span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Oder:</em></strong> Wenn du auf einen der letzten 50 Commits wechseln möchtest, kannst du auch auf den Namen des Commits klicken und den Wechsel durch Klicken auf <strong>Ok</strong> bestätigen.<br>
→ Eine Meldung bestätigt, dass das Wechseln auf den eingegeben Commit erfolgreich war und als Branch wird <strong>Head@Commit-ID</strong> angezeigt. Die Einstellungen werden automatisch gespeichert.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>