<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#lokale-vs-globale-konfiguration"><span>1.</span><span> Lokale vs. globale Konfiguration</span></a></li>
<li><a href="#konfiguration-exportieren-importieren"><span>2.</span><span> Lokale Konfigurationen exportieren und importieren</span></a></li>
<li><a href="#container-verknuepfungen"><span>3.</span><span> Container-Verknüpfungen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Installierte Plugins konfigurieren</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph previous-navigation">
<p><a href="/plugins/hinzugefuegte-plugins-installieren"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Hinzugefügte Plugins installieren</a></p>
</div>
<hr>
<div class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::./_textblocks/notes/installierte-plugins-konfigurieren.adoc[]</p>
</div>
<div class="paragraph">
<p>Auf dieser Seite findest du Themen, die die Konfiguration von Plugins allgemein betreffen. Dazu gehören der <a href="#lokale-vs-globale-konfiguration">Unterschied zwischen lokalen und globalen Einstellungen</a> sowie das <a href="#konfiguration-exportieren-importieren">Exportieren und Importieren von lokalen Konfigurationen</a>. Außerdem werden <a href="#container-verknuepfungen">Container-Verknüpfungen</a> erläutert.
Mit Container-Verknüpfungen kannst du Elemente, die von einem Plugin zu Verfügung gestellt werden in deinem Webshop platzieren. Dazu gehören z.B. Logos von Zahlungsanbietern und Versanddienstleistern.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="lokale-vs-globale-konfiguration">1. Lokale vs. globale Konfiguration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Plugin-Konfigurationen können entweder auf lokaler oder globaler Ebene definiert werden.</p>
</div>
<div class="paragraph">
<p>Eine lokale Konfiguration wird in der Detailansicht des Plugins vorgenommen. Wenn ein Plugin auf lokaler Ebene konfiguriert wird, ist diese Konfiguration nur für ein einziges Plugin-Set gültig. Das heißt, wenn das Plugin in zwei oder mehr Plugin-Sets installiert ist, muss es in jedem Set separat eingerichtet werden. Wird das Plugin gelöscht, wird auch die Konfiguration gelöscht.</p>
</div>
<div class="paragraph">
<p>Eine globale Konfiguration wird im Menü <strong>Einrichtung</strong> vorgenommen. Wenn ein Plugin auf globaler Ebene konfiguriert wird, ist diese Konfiguration für alle Plugin-Sets gültig, in denen das Plugin installiert ist.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Ausnahmen</div>
<div class="paragraph">
<p>Wenn ein Plugin vor der Einführung von Plugin-Sets entwickelt wurde, sind möglicherweise andere Einstellungen notwendig. Abweichungen sind in der Anleitungen des jeweiligen Plugins auf plentyMarketplace hinterlegt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="konfiguration-exportieren-importieren">2. Lokale Konfigurationen exportieren und importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst lokale Konfigurationen eines Plugins exportieren und importieren. Durch das Exportieren und Importieren kannst du die Konfiguration von bestimmten Plugins leicht von einem Plugin-Set auf ein anderes übertragen. Gehe dazu wie folgt vor:</p>
</div>
<div class="paragraph instruction">
<p>Plugin-Konfiguration exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins</strong> » <strong>Plugin Übersicht</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins, dessen Konfiguration du exportieren möchtest, indem du auf den Namen des Plugins klicken.</p>
</li>
<li>
<p>Klicke auf die Schaltfläche <strong>Konfiguration Im-/Export</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Konfiguration exportieren</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ Eine JSON-Datei mit der Konfiguration wird heruntergeladen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin-Konfiguration importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins</strong> » <strong>Plugin Übersicht</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins, dessen Konfiguration du importieren möchtest, indem du auf den Namen des Plugins klicken.</p>
</li>
<li>
<p>Klicke auf die Schaltfläche <strong>Konfiguration Im-/Export</strong>.</p>
</li>
<li>
<p>Klicke auf die Schaltfläche <strong>Datei wählen</strong> (<span class="icon "><i class="fa fa-ellipsis-h  "></i></span>) und wähle die zu importierende Datei aus.</p>
</li>
<li>
<p>Klicke auf <strong>Konfiguration importieren</strong> (<span class="icon purple"><i class="fa fa-upload  "></i></span>).<br>
→ Die Konfiguration wird importiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Limitierungen</div>
<div class="paragraph">
<p>Der Import kann nur mit einer validen JSON-Datei durchgeführt werden.</p>
</div>
<div class="paragraph">
<p>Es ist möglich, dass nicht alle Einstellungen importiert werden, wenn sich die Version des Plugins zwischen Export und Import geändert hat und dabei Konfigurationsmöglichkeiten umbenannt wurden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Plugin-Konfigurationen gesammelt übertragen</div>
<div class="paragraph">
<p>Du kannst die Konfigurationen aller Plugins eines Plugin-Sets gesammelt auf ein anderes Set übertragen. Um alle Konfigurationen zu exportieren bzw. importieren, öffne im Menü <strong>Plugins » Plugin-Übersicht</strong> die <strong>Plugin-Set-Einstellungen</strong> und gehe anschließend wie beim Exportieren und Importieren von einzelnen Konfigurationen vor.</p>
</div>
<div class="paragraph">
<p>Du kannst Konfigurationen auch gesammelt exportieren und importieren, wenn in dem Plugin-Set, in dem du den Import vornehmen möchtest nicht dieselben Plugins installiert sind wie in dem ursprünglichen Plugin-Set oder wenn Plugins in einer anderen Version vorliegen. In diesem Fall werden nicht vorhandene Einstellungen übersprungen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="container-verknuepfungen">3. Container-Verknüpfungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit Container-Verknüpfungen kannst du Elemente, die von einem Plugin zu Verfügung gestellt werden in deinem Webshop platzieren. Dazu gehören z.B. Logos von Zahlungsanbietern und Versanddienstleistern.
Du findest alle Container-Verknüpfungen im Menü <strong>CMS » Container-Verknüpfungen</strong>. Welche Container du verknüpfen kannst, kannst du der Anleitung des jeweiligen Plugins entnehmen.</p>
</div>
<div class="paragraph">
<p>In manchen Plugins sind Container-Verknüpfungen bereits vordefiniert. Dabei handelt es sich um sogenannte Standard-Container-Verknüpfungen. Um Standard-Container-Verknüpfungen zu wählen, gehe wie folgt vor:</p>
</div>
<div class="paragraph instruction">
<p>Standard-Container-Verknüpfung wählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins</strong> » <strong>Plugin Übersicht</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins, das du verknüpfen möchtest, indem du auf den Namen des Plugins klickst.</p>
</li>
<li>
<p>Klicke auf die Schaltfläche <strong>Standard-Container-Verknüpfung</strong>.</p>
</li>
<li>
<p>Wähle <span class="icon "><i class="fa fa-check-square  "></i></span> die Verknüpfungen, die du anlegen möchtest.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Vorhandene Verknüpfungen werden nicht überschrieben</div>
<div class="paragraph">
<p>Beim Speichern der Standard-Container-Verknüpfungen werden bereits vorhandene Verknüpfungen nicht überschrieben. Wenn du nur die Standard-Container-Verknüpfungen nutzen möchtest, musst du zunächst alle Verknüpfungen des Plugins im Menü <strong>CMS</strong> » <strong>Container-Verknüpfungen</strong> entfernen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<hr>
<div class="paragraph previous-navigation">
<p><a href="/plugins/hinzugefuegte-plugins-installieren"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Hinzugefügte Plugins installieren</a></p>
</div>
</div>
</div>
</main>