<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#plugin-deaktivieren"><span>1.</span><span> Plugin deaktivieren</span></a></li>
<li><a href="#plugin-aus-plugin-set-loeschen"><span>2.</span><span> Plugin aus einem Plugin-Set löschen</span></a></li>
<li><a href="#plugin-set-loeschen"><span>3.</span><span> Plugin-Set löschen</span></a></li>
<li><a href="#git-repository-loeschen"><span>4.</span><span> Git-Repository löschen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Installierte Plugins entfernen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Es gibt verschiedene Möglichkeiten, installierte Plugins zu entfernen. Du kannst Plugins einzeln <a href="#plugin-deaktivieren">deaktiveren</a>, damit sie nicht mehr in deinem Webshop und Backend geladen werden oder sie vollständig <a href="#plugin-aus-plugin-set-loeschen">aus einem Plugin-Set löschen</a>. Wenn du alle Plugins eines Sets löschen möchtest, kannst du stattdessen <a href="#plugin-set-löschen">das Plugin-Set selbst löschen</a>.</p>
</div>
<div class="paragraph">
<p>Du kannst Plugins, die du auf plentyMarketplace erworben hast, nicht vollständig aus deinem System entfernen. Handelt es sich allerdings um ein Git-Plugin, kannst du <a href="#git-repository-loeschen">das zugehörige Repository löschen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="plugin-deaktivieren">1. Plugin deaktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du ein Plugin deaktivierst, wird es nicht mehr in deinem Webshop und Backend geladen. Diese Änderung wird direkt übernommen, ohne dass ein erneutes Bereitstellen des Plugin-Sets notwendig ist. So deaktivierte Plugins können auf gleichem Wege auch wieder aktiviert werden, ohne dass das Plugin-Set bereitgestellt werden muss.</p>
</div>
<div class="paragraph">
<p>Deaktivierte Plugins werden beim Bereitstellen eines Plugin-Sets nicht berücksichtigt. Wenn du ein Plugin-Set einmal erfolgreich bereitgestellt hast, ohne dass ein bestimmtes Plugin aktiviert war, musst du nach dem Aktivieren des Plugins <a href="/plugins/hinzugefuegte-plugins-installieren#plugin-installieren">das Plugin-Set erneut bereitstellen</a> bevor das Plugin aktiv ist.</p>
</div>
<div class="paragraph">
<p>Ob du ein Plugin durch Aktivieren und Deaktivieren aktiv oder inaktiv schalten kannst, kannst du im Menü <strong>Plugins » Plugin-Übersicht</strong> an der Spalte <strong>Aktive Version</strong> erkennen. Ist hier eine Versionsnummer eingetragen, musst du das Set nicht bereitstellen, um das Plugin aktiv zu schalten.</p>
</div>
<div class="paragraph">
<p>Du solltest ein Plugin dann deaktivieren, wenn du es nur vorübergehend nicht nutzen möchtest. Anders als beim Löschen eines Plugins, bleibt beim Deaktivieren die <a href="/plugins/installierte-plugins-konfigurieren#lokale-vs-globale-konfiguration">lokale Konfiguration</a> des Plugin erhalten.</p>
</div>
<div class="paragraph">
<p>Zum Deaktivieren eines Plugins, andere den Zustand des Plugins zu inaktiv (<span class="icon "><i class="fa fa-toggle-off  "></i></span>).</p>
</div>
</div>
</div><div class="sect1">
<h2 id="plugin-aus-plugin-set-loeschen">2. Plugin aus einem Plugin-Set löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Löschen eines Plugins werden alle Dateien des Plugins vollständig aus dem Plugin-Set entfernt. Nutze diese Funktion, wenn du ein Plugin nicht mehr verwenden möchtest.</p>
</div>
<div class="paragraph">
<p>Wenn du ein Plugin löschst, gehen dabei alle <a href="/plugins/installierte-plugins-konfigurieren#lokale-vs-globale-konfiguration">lokalen Konfigurationen</a> und <a href="/plugins/installierte-plugins-konfigurieren#container-verknuepfungen">Container-Verknüpfungen</a> des Plugins verloren. Um lokale Konfigurationen nachhaltig zu sichern, <a href="/plugins/installierte-plugins-konfigurieren#konfiguration-exportieren-importieren">exportiere die Konfigurationen</a>. Container-Verknüpfungen können nicht gesichert werden.</p>
</div>
<div class="paragraph">
<p>Wenn du ein Plugin löschen möchtest, gehe wie folgt vor:</p>
</div>
<div class="paragraph instruction">
<p>Plugins löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile des Plugins, das du löschen möchtest, auf weitere Aktionen (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="material-delete"></i></span> <strong>Plugin löschen</strong>.<br>
→ Das Plugin wird aus dem Plugin-Set entfernt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nachdem du ein Plugin gelöscht hast, findest du es unter deinen nicht installierten Plugins. Handelt es sich um ein Plugin, das du auf plentyMarketplace erworben hast, ist es nicht möglich, das Plugin komplett aus dem System zu entfernen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="plugin-set-loeschen">3. Plugin-Set löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Löschen eines Plugin-Sets werden die Dateien aller im Set enthaltenen Plugins vollständig aus deinem aktiven Speicher entfernt. Nutze diese Funktion, wenn du keins der Plugins mehr in dieser Konfiguration verwenden möchtest.</p>
</div>
<div class="paragraph">
<p>Wenn du ein Plugin löschst, gehen dabei alle <a href="/plugins/installierte-plugins-konfigurieren#lokale-vs-globale-konfiguration">lokalen Konfigurationen</a> und <a href="/plugins/installierte-plugins-konfigurieren#container-verknuepfungen">Container-Verknüpfungen</a> des Plugins verloren. Um lokale Konfigurationen nachhaltig zu sichern, <a href="/plugins/installierte-plugins-konfigurieren#konfiguration-exportieren-importieren">exportiere die Konfigurationen</a>. Container-Verknüpfungen können nicht gesichert werden.</p>
</div>
<div class="paragraph">
<p>Wenn du ein Plugin-Set löschen möchtest, gehe wie folgt vor:</p>
</div>
<div class="paragraph instruction">
<p>Plugin-Sets löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Um ein Plugin-Set zu löschen, klicke in der Spalte <strong>Aktionen</strong> auf die Schaltfläche <strong>Plugin-Set löschen</strong> (<span class="icon red"><i class="fa fa-trash-o  "></i></span>).<br>
→ Das Fenster <strong>Plugin-Set löschen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib <code>DELETE</code> in das Textfeld ein.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong>.<br>
→ Das Plugin-Set wird gelöscht.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="git-repository-loeschen">4. Git-Repository löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du ein Git-Plugin nicht mehr benötigst, kannst du das zugehörige Repository löschen, um das Plugin vollständig aus deinem System zu entfernen. Damit du ein Git-Repository löschen kannst, musst du vorher <a href="#plugin-aus-plugin-set-loeschen">das zugehörige Plugin aus allen Plugin-Sets löschen</a>.</p>
</div>
<div class="paragraph instruction">
<p>Git-Repository löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Git</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>), um das entsprechende Repository aus dem System zu entfernen.</p>
</li>
</ol>
</div>
</div>
</div>
</main>