<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#marketplace-plugins-kaufen"><span>1.</span><span> Marketplace-Plugins kaufen</span></a></li>
<li><a href="#git-plugins"><span>2.</span><span> Plugins über Git hinzufügen</span></a>
<ul class="sectlevel2">
<li><a href="#git-plugins-hinzufuegen"><span>2.1.</span><span> Git-Plugins zum System hinzufügen</span></a></li>
<li><a href="#git-branches"><span>2.2.</span><span> Zwischen Branches eines Git-Plugins wechseln</span></a></li>
<li><a href="#git-commits"><span>2.3.</span><span> Auf Commits wechseln</span></a></li>
<li><a href="#git-repository-loeschen"><span>2.4.</span><span> Git-Repository aus dem System entfernen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Plugins dem System hinzufügen</h1><div class="sect1">
<h2 id="marketplace-plugins-kaufen">1. Marketplace-Plugins kaufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://marketplace.plentymarkets.com/de/" target="_blank" rel="noopener">plentyMarketplace</a> ist die Plattform für die Distribution von hauseigenen und externen plentymarkets Software-Erweiterungen. Diese Plattform ermöglicht Ihnen einen leichten Zugang zu Plugins, damit du schnell und einfach von allen Vorteilen profitieren. Gehe wie folgt vor, um ein Plugin zu kaufen.</p>
</div>
<div class="paragraph instruction">
<p>Plugin kaufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugins-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>plentyMarketplace</strong> (<span class="icon"><i class="fa fa-cart-plus" style="color:green"></i></span>).<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.<br>
→ <span class="icon"><i class="fa fa-map-signs"></i></span> <strong><em>Oder:</em></strong> Melde dich direkt auf <a href="http://marketplace.plentymarkets.com/de/" target="_blank" rel="noopener">plentyMarketplace</a> mit deinen Zugangsdaten aus dem Service-Center an.</p>
</li>
<li>
<p>Wähle ein Plugin aus einer Kategorie. Eine Übersicht aller Kategorien findest du in der Tabelle <a href="#tabelle-marketplace-kategorien">Tabelle 1</a>.</p>
</li>
<li>
<p>Klicke in der Detailansicht des Plugins auf <strong>Plugin kaufen</strong>. Eine Übersicht aller Kaufoptionen findest du in der Tabelle <a href="#tabelle-kaufoptionen">Tabelle 2</a>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Nutzungsbedingungen zur Kenntnis.</p>
</li>
<li>
<p>Klicke auf <strong>Jetzt kaufen</strong>.<br>
→ Das gekaufte Plugin ist als nicht installiertes Plugin im Menü <strong>Plugins&nbsp;» Plugin-Übersicht</strong> verfügbar.</p>
</li>
</ol>
</div>
<table id="tabelle-marketplace-kategorien" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. plentyMarketplace-Kategorien</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Kategorie</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Channels » Marktplätze</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anbindung an andere Marktplätze wie Rakuten und idealo. Weitere Informationen zum Anbinden von von plentymarkets entwickelten Marktplätzen unter <strong>Märkte</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Channels » Online-Shop</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verbindung zu anderen Shopsystemen wie Shopify. Enthält außerdem Templates für den Online-Shop. Weitere Informationen zu von plentymarkets entwickelten Templates unter <strong>Online-Shop</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Channels » Preisportale</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fügen Exportformate für den elastischen Export hinzu. Weitere Informationen zu allen Exportformaten <a href="https://knowledge.plentymarkets.com/https://knowledge.plentymarkets.com/daten/daten-exportieren/elastischer-export" target="_blank" rel="noopener">hier</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storefront » Themes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ändern das Design des Online-Shops.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storefront » Widgets</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fügen dem Online-Shop neue Elemente wie Schaltflächen für soziale Netzwerke oder Kontaktinformationen hinzu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geben Kunden die Möglichkeit, andere Zahlungsmöglichkeiten zu verwenden. Weitere Informationen zum Installieren und Einrichten dieser Plugins in der Artikelbeschreibung auf plentyMarketplace.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Integration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zusätzliche Funktionalität für das plentymarkets System durch externe Tools.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Services » Support</strong><br>
<strong>Services » Einrichtung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Agenturen bieten verschiedene, auf individuelle Ansprüche ausgelegte, Leistungen an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Services » Hardware</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkauf von Kassensystemen. Weitere Informationen zum Kassensystem plentyPOS unter <strong>Kassensystem/POS</strong>.</p></td>
</tr>
</tbody>
</table>
<table id="tabelle-kaufoptionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. plentyMarketplace-Kaufoptionen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Testen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin kann in vollem Umfang 30 Tage lang umsonst genutzt werden. Nicht mehr möglich, nachdem das Plugin bereits abonniert wurde. Ablaufdatum kann im <strong>Mein Konto</strong>-Bereich eingesehen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kaufen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einmalkauf. Plugins werden teilweise in verschiedenen Umfängen angeboten. Welche Funktionalitäten in welchem Umfang enthalten sind, kann der Artikelbeschreibung entnommen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Abonnement</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugins können abonniert werden, um sie in vollem Umfang für einen begrenzten Zeitraum zu nutzen. Je nach Plugin stehen unterschiedliche Zahlungszeiträume zu Verfügung. Abgerechnet wird immer am Anfang eines Zahlungszeitraums. Abonnements laufen nicht automatisch aus, sondern müssen im <strong>Mein Konto</strong>-Bereich gekündigt werden.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="git-plugins">2. Plugins über Git hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du plentymarkets erweitern möchtest, aber kein Plugin mit der entsprechenden Funktionalität auf plentyMarketplace finden, hast du die Möglichkeit, deinem System Plugins über Git hinzuzufügen. Manche externe Entwickler bieten Plugins auf diesem Weg an. Wenn du weitere Informationen zu so verfügbaren Plugins erhalten möchtest, solltest du direkt mit Entwicklern Kontakt aufnehmen. Nutze dafür entweder die <a href="https://www.plentymarkets.eu/service/partneragenturen/search/plugin-30/?aoff=s" target="_blank" rel="noopener">Partnerübersicht</a>, schreibe eine Nachricht in der Forumskategorie <a href="https://forum.plentymarkets.com/c/suche-biete/suche-biete-plugins" target="_blank" rel="noopener">Suche/Biete</a> oder erstelle eine <a href="https://marketplace.plentymarkets.com/plentyprojects" target="_blank" rel="noopener">neue Projektanfrage</a> auf plentyMarketplace.</p>
</div>
<table id="tabelle-git-plugins-hinzufuegen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Tabellenansicht des Menüs <strong>Plugins » Git</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neues Repository hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet eine Ansicht, in der Einstellungen für ein neues Repository vorgenommen werden können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Git-Repositorys</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet eine Ansicht, in der Einstellungen für das ausgewählte Repository vorgenommen werden können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entfernt das Repository aus dem System. Nicht auswählbar, wenn das Plugin noch in mindestens einem Plugin-Set installiert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Repository-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">HTTPS oder HTTP URL des Git-Repositorys.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Benutzername ist Bestandteil der Benutzerdaten des Anbieters (z.B. GitHub) für das Git-Repository.<br>
Bei öffentlichen Repositorys einen beliebigen Wert in das Feld eingeben, z.B. <strong>Gast</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Token ist Bestandteil der Benutzerdaten des Anbieters (z.B. GitHub) für das Git-Repository. Neue Tokens können in den Einstellungen des Anbieters erzeugt werden.<br>
Bei öffentlichen Repositorys einen beliebigen Wert in das Feld eingeben, z.B. <strong>Gast</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name des zu installierenden Branch (muss gültige plugin.json-Datei enthalten).</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Git-Repository muss eine valide Plugin.json-Datei enthalten. Die Eingabe ist für die Erstinstallation notwendig.</p></td>
</tr>
</tbody>
</table>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Tabellenansicht des Menüs <strong>Plugins » Plugin-Übersicht » Plugin-Detailansicht » Git</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fetch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lädt alle Commits der ausgewählten Branch herunter. Die Liste der Commits wird entsprechend aktualisiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pull</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lädt alle Commits der ausgewählten Branch herunter und aktualisiert alle Dateien. Die Liste der Commits wird entsprechend aktualisiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Branch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dropdown-Menü, mit dem zwischen Branches des Repositorys gewechselt werden kann. Der aktuell ausgewählte Branch wird angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Commit-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Textfeld für die Auswahl bestimmter Commits.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Checkout</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wechselt Branch auf die im Textfeld eingegebe Commit-ID, falls diese im Repository vorhanden ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Commits</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durch Klicken kann der Commit wie über <strong>Checkout</strong> ausgewählt werden. Bestätigung notwendig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Commit-ID in Zwischenablage kopieren.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die ID des Commits wird in die Zwischenablage kopiert und kann dann in das Feld <strong>Commit-ID</strong> eingefügt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auf GitHub ansehen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet die in dem Commit vorgenommenen Änderungen in einem neuen Tab.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="git-plugins-hinzufuegen">2.1. Git-Plugins zum System hinzufügen</h3>
<div class="paragraph">
<p>Möchtest du deinem System ein privates Repository hinzufügen, wird zusätzlich zur URL des Repositorys ein persönlicher Zugriffstoken benötigt. Dabei unterscheidet sich der Vorgang zum Erzeugen des Tokens leicht von Seite zu Seite. Hier werden exemplarisch die Vorgänge auf GitHub und Bitbucket beschrieben. Wenn du eine andere Seite nutzst und weitere Informationen benötigst, ziehe bitte die Dokumentation der entsprechenden Seite zu Rat.</p>
</div>
<div class="openblock collapseBox">
<div class="title">GitHub-Zugriffstoken</div>
<div class="content">
<div class="paragraph instruction">
<p>Einen persönlichen Zugriffstoken für private Repositorys auf GitHub erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne die <a href="https://github.com/settings/tokens" target="_blank" rel="noopener">Tokeneinstellungen</a> auf GitHub.</p>
</li>
<li>
<p>Klicke auf <strong>Generate new token</strong>.<br>
→ Gib dein Passwort ein, um fortzufahren.</p>
</li>
<li>
<p>Gib in das Feld <strong>Token description</strong> eine Beschreibung ein.</p>
</li>
<li>
<p>Aktiviere im Menü <strong>Select scopes</strong> das Kontrollkästchen <strong>repo:status</strong>.<br></p>
</li>
<li>
<p>Klicke auf <strong>Generate token</strong>.
→ Es wird ein neuer Token erzeugt. Dieser wird im nächsten Schritt benötigt, lass die Seite also geöffnet oder speicher den Token lokal. Wenn du den Token speicherst, solltest du ihn nach dem Hinzufügen des Repositorys zu plentymarkets wieder löschen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Bitbucket-Zugriffstoken</div>
<div class="content">
<div class="paragraph instruction">
<p>Einen persönlichen Zugriffstoken für private Repositorys auf Bitbucket erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne deine Kontoeinstellungen auf Bitbucket.</p>
</li>
<li>
<p>Öffne im Bereich <strong>Zugriffsverwaltung</strong> das Menü <strong>App-Passwörter</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>App-Passwort erstellen</strong>.</p>
</li>
<li>
<p>Gib einen Namen für das Passwort ein und aktiviere das Kontrollkästchen im Bereich <strong>Webhooks</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Erstellen</strong>.<br>
→ Es wird ein neuer Token erzeugt. Dieser wird im nächsten Schritt benötigt, lass die Seite also geöffnet oder speichere den Token lokal. Wenn du den Token speicherst, solltest du ihn nach dem Hinzufügen des Repositorys zu plentymarkets wieder löschen.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="paragraph">
<p>Damit hast du jetzt alle notwendigen Informationen, um das Git-Repository deinem plentymarkets System hinzuzufügen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Öffentliche Repositorys</div>
<div class="paragraph">
<p>Bei öffentlichen Repositorys müssen keine tatsächlichen Zugangsdaten als Benutzername und Token eingegeben werden. Die beiden Felder dürfen aber auch nicht leer sein. Gib also jeweils eine beliebige Zeichenfolge ein, beispielsweise „Gast“.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Git-Repository dem System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Git</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Repository hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Die Repository-Einstellungen werden angezeigt.</p>
</li>
<li>
<p>Gib in die entsprechenden Felder die URL des Repositorys, deinen Benutzernamen sowie den zuvor erzeugten Zugriffstoken in die dafür vorgesehenen Felder ein.</p>
</li>
<li>
<p>Gib in das Feld <strong>Branchname für Installation (Muss valide plugin.json enthalten)</strong> den Namen des Branches ein, auf das du standardmäßig zugreifen möchten. Standardmäßig ist der master-Branch angegeben. Je nach Benennungskonventionen des Entwicklers kann es jedoch zu Abweichungen kommen. In diesen Fällen muss die Angabe entsprechend angepasst werden. Du kannst nach der Installation zwischen den Branches des Repositorys wechseln.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Verbindung zum Git-Repository wird geprüft und hergestellt.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Valide Plugin-JSON</div>
<div class="paragraph">
<p>Wenn ein Plugin keine gültige Plugin-JSON enthält, führt dies beim Bereitstellen von plugin-Sets zu Fehlern. Deshalb wird beim Hinzufügen von Plugins über Git bereits überprüft, ob eine solche gültige Datei vorliegt.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zur Plugin-JSON findest du auf unserer <a href="https://developers.plentymarkets.com/marketplace/plugin-requirements#marketplace-pluginjson" target="_blank" rel="noopener">Entwicklerseite</a> (nur auf Englisch verfügbar).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="git-branches">2.2. Zwischen Branches eines Git-Plugins wechseln</h3>
<div class="paragraph">
<p>Es ist üblich, in einem Git-Repository mit verschiedenen Branches zu arbeiten, um Änderungen an Dateien vorzunehmen, ohne dass diese Änderungen direkte Auswirkungen auf die eigentliche Codebasis haben. Dadurch kann neuer Code vor dem tatsächlichen Implementieren nochmal überprüft werden. Auch in plentymarkets ist es möglich, mit verschiedenen Branches eines Repositorys zu arbeiten.</p>
</div>
<div class="paragraph instruction">
<p>Branch wechseln:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, das du bearbeiten möchtest.<br>
→ Der Bereich zum Bearbeiten des ausgewählten Plugin-Sets wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das Git-Plugin, das du bearbeiten möchtest.<br>
→ Die Plugin-Detailansicht wird geöffnet.</p>
</li>
<li>
<p>Öffne im Menübaum das Menü <strong>Git</strong>.</p>
</li>
<li>
<p>Wähle aus dem Dropdown-Menü <strong>Branch</strong> den Branch aus, zu dem du wechseln möchtest.<br>
→ Eine Meldung bestätigt, dass das Wechseln des Branches erfolgreich war. Die Einstellungen werden automatisch gespeichert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Bei der Auswahl des Branches handelt es sich um eine lokale Einstellungen. Das heißt, es kann für dasselbe Plugin in jedem Set ein anderer Branch ausgewählt werden. Somit kannst du beispielsweise den stabilen Branch in deinem aktiven Plugin-Set verwenden und gleichzeitig in einem inaktiven Set auf einem anderen Branch ein neues Feature testen.</p>
</div>
</div>
<div class="sect2">
<h3 id="git-commits">2.3. Auf Commits wechseln</h3>
<div class="paragraph">
<p>Wenn du eine andere Version deines Repositorys aktivieren möchtest, für diese Version aber keinen eigenen Branch erstellt hast, kannst du auch auf einzelne Commits zugreifen.</p>
</div>
<div class="paragraph instruction">
<p>Auf Commits wechseln:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, das du bearbeiten möchtest.<br>
→ Der Bereich zum Bearbeiten des ausgewählten Plugin-Sets wird geöffnet.</p>
</li>
<li>
<p>Klicke auf das Git-Plugin, das du bearbeiten möchtest.<br>
→ Die Plugin-Detailansicht wird geöffnet.</p>
</li>
<li>
<p>Öffne im Menübaum das Menü <strong>Git</strong>.</p>
</li>
<li>
<p>Kopiere die Commit-ID des Commits, auf den du wechseln möchtest. In der Detailansicht werden die letzten 50 Commits für den ausgewählten Branch angezeigt. Du kannst die Commit-ID kopieren, indem du in der Zeile des gewünschten Commits auf <strong>Commit-ID in Zwischenablage kopieren.</strong> (<span class="icon"><i class="fa fa-clipboard" style="background-color:yellow"></i></span>) klickst. Wenn du auf einen Commit wechseln möchtest, der mehr als 50 Commits zurückliegt, kannst du die gleichen Schritte in der Commits-Übersicht deines Git-Repositorys durchführen.</p>
</li>
<li>
<p>Füge die kopierte ID in das Feld <strong>Commit-ID</strong> ein.</p>
</li>
<li>
<p>Klicke auf <strong>Checkout</strong>.<br>
→ <span class="icon"><i class="fa fa-map-signs"></i></span> <strong><em>Oder:</em></strong> Wenn du auf einen der letzten 50 Commits wechseln möchtest, kannst du auch auf den Namen des Commits klicken und den Wechsel durch Klicken auf <strong>Ok</strong> bestätigen.<br>
→ Eine Meldung bestätigt, dass das Wechseln auf den eingegeben Commit erfolgreich war und als Branch wird <strong>Head@Commit-ID</strong> angezeigt. Die Einstellungen werden automatisch gespeichert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="git-repository-loeschen">2.4. Git-Repository aus dem System entfernen</h3>
<div class="paragraph">
<p>Wenn ein Repository nicht mehr benötigt wird, kannst du es komplett aus dem System entfernen. Beachte, dass Repositorys nur gelöscht werden können, wenn das entsprechende Plugin in keinem Plugin-Set mehr installiert ist.</p>
</div>
<div class="paragraph instruction">
<p>Git-Repository löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Git</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong> (<span class="icon"><i class="fa fa-minus-square" style="color:red"></i></span>), um das entsprechende Repository aus dem System zu entfernen.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>