<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#marketplace-plugins-kaufen"><span>1.</span><span> Marketplace-Plugins kaufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Plugins dem System hinzufügen</h1><div class="sect1">
<h2 id="marketplace-plugins-kaufen">1. Marketplace-Plugins kaufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://marketplace.plentymarkets.com/de/" target="_blank" rel="noopener">plentyMarketplace</a> ist die neue Plattform für die Distribution von hauseigenen und externen plentymarkets Software-Erweiterungen. Diese Plattform ermöglicht Ihnen einen leichten Zugang zu Plugins, damit Sie schnell und einfach von allen Vorteilen profitieren. Gehen Sie wie folgt vor, um ein Plugin zu kaufen.</p>
</div>
<div class="paragraph instruction">
<p>Plugin kaufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins » Plugins-Übersicht</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.<br>
→ <em>Oder</em>: Melden Sie sich direkt auf <a href="http://marketplace.plentymarkets.com/de/" target="_blank" rel="noopener">plentyMarketplace</a> mit Ihren Zugangsdaten aus dem Service-Center an.</p>
</li>
<li>
<p>Wählen Sie ein Plugin aus einer Kategorie. Eine Übersicht aller Kategorien finden Sie in der Tabelle <a href="#tabelle-marketplace-kategorien">Tabelle 1</a>.</p>
</li>
<li>
<p>Klicken Sie in der Detailansicht des Plugins auf <strong>Plugin kaufen</strong>. Eine Übersicht aller Kaufoptionen finden Sie in der Tabelle <a href="#tabelle-kaufoptionen">Tabelle 2</a>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Nutzungsbedingungen zur Kenntnis.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Jetzt kaufen</strong>.<br>
→ Das gekaufte Plugin ist als nicht installiertes Plugin im Menü <strong>Plugins&nbsp;» Plugin-Übersicht</strong> verfügbar.</p>
</li>
</ol>
</div>
<table id="tabelle-marketplace-kategorien" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. plentyMarketplace-Kategorien</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Kategorie</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Channels &gt;&gt; Marktplätze</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anbindung an andere Marktplätze wie Rakuten und idealo. Weitere Informationen zum Anbinden von von plentymarkets entwickelten Marktplätzen unter <strong>Märkte</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Channels &gt;&gt; Online-Shop</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verbindung zu anderen Shopsystemen wie Shopify. Enthält außerdem Templates für den Online-Shop. Weitere Informationen zu von plentymarkets entwickelten Templates unter <strong>Online-Shop</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Channels &gt;&gt; Preisportale</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fügen Exportformate für den elastischen Export hinzu. Weitere Informationen zu allen Exportformaten hier.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storefront &gt;&gt; Themes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ändern das Design des Online-Shops.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storefront &gt;&gt; Widgets</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fügen dem Online-Shop neue Elemente wie Schaltflächen für soziale Netzwerke oder Kontaktinformationen hinzu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geben Kunden die Möglichkeit, andere Zahlungsmöglichkeiten zu verwenden. Weitere Informationen zum Installieren und Einrichten dieser Plugins in der Artikelbeschreibung auf plentyMarketplace.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Integration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zusätzliche Funktionalität für das plentymarkets System durch externe Tools.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Services &gt;&gt; Support</strong><br>
<strong>Services &gt;&gt; Einrichtung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Agenturen bieten verschiedene, auf individuelle Ansprüche ausgelegte, Leistungen an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Services &gt;&gt; Hardware</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkauf von Kassensystemen. Weitere Informationen zum Kassensystem plentyPOS unter <strong>Kassensystem/POS</strong>.</p></td>
</tr>
</tbody>
</table>
<table id="tabelle-kaufoptionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Kaufoptionen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Testen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin kann in vollem Umfang 30 Tage lang umsonst genutzt werden. Nicht mehr möglich, nachdem das Plugin bereits abonniert wurde. Ablaufdatum kann im <strong>Mein Konto</strong>-Bereich eingesehen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kaufen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einmalkauf. Plugins werden teilweise in verschiedenen Umfängen angeboten. Welche Funktionalitäten in welchem Umfang enthalten sind, kann der Artikelbeschreibung entnommen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Abonnement</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugins können abonniert werden, um sie in vollem Umfang für einen begrenzten Zeitraum zu nutzen. Je nach Plugin stehen unterschiedliche Zahlungszeiträume zu Verfügung. Abgerechnet wird immer am Anfang eines Zahlungszeitraums. Abonnements laufen nicht automatisch aus, sondern müssen im <strong>Mein Konto</strong>-Bereich gekündigt werden.</p>
<p class="tableblock">[#git-plugins-hinzufuegen]
== Plugins über Git hinzufügen</p>
<p class="tableblock">Wenn Sie plentymarkets erweitern möchten, aber kein Plugin mit der entsprechenden Funktionalität auf plentyMarketplace finden, haben Sie die Möglichkeit, Ihrem System Plugins über Git hinzuzufügen. Manche externe Entwickler bieten Plugins auf diesem Wege an. Wenn Sie weitere Informationen zu so verfügbaren Plugins erhalten möchten, sollten Sie direkt mit Entwicklern Kontakt aufnehmen. Nutzen Sie dafür entweder die <a href="https://www.plentymarkets.eu/service/partneragenturen/search/plugin-30/?aoff=s" target="_blank" rel="noopener">Partnerübersicht</a>, schreiben Sie eine Nachricht in der Forumskategorie <a href="https://forum.plentymarkets.com/c/suche-biete/suche-biete-plugins" target="_blank" rel="noopener">Suche/Biete</a> oder erstellen Sie eine <a href="https://marketplace.plentymarkets.com/plentyprojects" target="_blank" rel="noopener">neue Projektanfrage</a> auf plentyMarketplace.</p>
<p class="tableblock">Handelt es sich um ein privates Repository, wird zusätzlich zur URL des Repositorys ein persönlicher Zugriffstoken benötigt. Hier wird nur beschrieben, wie Sie einen solchen Token auf GitHub erzeugen können, auf anderen Seiten wie GitLab ist der Vorgang jedoch ähnlich. Wenn Sie solch eine Seite nutzen und weitere Informationen benötigen, ziehen Sie bitte die Dokumentation der entsprechenden Seite zu Rate.</p>
<p class="tableblock">[.instruction]
Einen persönlichen Zugriffstoken für private Repositorys erzeugen:</p>
<p class="tableblock">. Öffnen Sie die <a href="https://github.com/settings/tokens" target="_blank" rel="noopener">Tokeneinstellungen</a> auf GitHub.
. Klicken Sie auf <strong>Generate new token</strong>.
→ Geben Sie Ihr Passwort ein, um fortzufahren.
. Geben Sie in das Feld <strong>Token description</strong> eine Beschreibung ein.
. Aktivieren Sie im Menü <strong>Select scopes</strong> das Kontrollkästchen <strong>repo:status</strong>.
. Klicken Sie auf <strong>Generate token</strong>.
→ Es wird ein neuer Token erzeugt. Dieser wird im nächsten Schritt benötigt, also lassen Sie die Seite geöffnet oder speichern Sie den Token lokal. Wenn Sie den Token speichern, sollten Sie ihn nach dem Hinzufügen des Plugins wieder löschen.</p>
<p class="tableblock">Damit haben Sie jetzt alle notwendigen Informationen, um das Git-Plugin Ihrem plentymarkets System hinzuzufügen.</p>
<p class="tableblock">[.instruction]
Git-Plugin dem System hinzufügen:</p>
<p class="tableblock">. Öffnen Sie das Menü <strong>Plugins » Git</strong>.
. Klicken Sie auf <strong>Neues Repository hinzufügen</strong>.<br>
→ Die Repository-Einstellungen werden angezeigt.
. Geben Sie die URL des Repositorys, Ihren Benutzernamen sowie den zuvor erzeugten Zugriffstoken in die dafür vorgesehenen Felder ein.
. Geben Sie den Branch an, der für die Installation verwendet werden soll. Standardmäßig ist hier der master-Branch angegeben, Sie sollten sich aber vom Entwickler des Plugins bestätigen lassen, welches der richtige Branch ist und das Feld entsprechend aktualisieren.
. <strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die Verbindung zum Git-Repository wird geprüft und hergestellt.</p>
<p class="tableblock">[NOTE]
.Öffentliche Repositorys
====
Bei öffentlichen Repositorys müssen keine tatsächlichen Zugangsdaten als Benutzername und Token eingegeben werden. Die beiden Felder dürfen aber auch nicht leer sein. Geben Sie also jeweils eine beliebige Zeichenfolge ein, beispielsweise „Gast“.
====</p>
<p class="tableblock"><a id="tabelle-git-plugins-hinzufuegen"></a>
.Tabellenansicht des Menüs <strong>Plugins &gt;&gt; Git</strong>
[cols="1,3"]</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>|Einstellung |Erläuterung</p>
</div>
<div class="paragraph">
<p>|*Neues Repository hinzufügen
|Öffnet eine Ansicht, in der Einstellungen für ein neues Repository vorgenommen werden können.</p>
</div>
<div class="paragraph">
<p>|Name des Git-Repositorys
|Öffnet eine Ansicht, in der Einstellungen für das ausgewählte Repository vorgenommen werden können.</p>
</div>
<div class="paragraph">
<p>|<strong>Löschen</strong>
|Entfernt das Repository aus dem System. Nicht auswählbar, wenn das Plugin noch in mindestens einem Plugin-Set installiert ist.</p>
</div>
<div class="paragraph">
<p>|<strong>Repository-URL</strong>
|HTTPS oder HTTP URL des Git-Repositorys.</p>
</div>
<div class="paragraph">
<p>|<strong>Benutzername</strong>
|Der Benutzername ist Bestandteil der Benutzerdaten des Anbieters (z.B. GitHub) für das Git-Repository.<br>
Bei öffentlichen Repositorys einen beliebigen Wert in das Feld eingeben, z.B. <strong>Gast</strong>.</p>
</div>
<div class="paragraph">
<p>|<strong>Token</strong>
|Der Token ist Bestandteil der Benutzerdaten des Anbieters (z.B. GitHub) für das Git-Repository. Neue Tokens können in den Einstellungen des Anbieters erzeugt werden.<br>
Bei öffentlichen Repositorys einen beliebigen Wert in das Feld eingeben, z.B. <strong>Gast</strong>.</p>
</div>
<div class="paragraph">
<p>|<strong>Name des zu installierenden Branch (muss gültige plugin.json-Datei enthalten).</strong>
|Das Git-Repository muss eine valide Plugin.json-Datei enthalten. Die Eingabe ist für die Erstinstallation notwendig.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 100%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">[tabelle-git-plugin-detailansicht]]
.Tabellenansicht des Menüs <strong>Plugins &gt;&gt; Plugin-Übersicht &gt;&gt; Plugin-Detailansicht &gt;&gt; Git</strong>
[cols="1,3"]</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>|Einstellung |Erläuterung</p>
</div>
<div class="paragraph">
<p>|<strong>Fetch</strong>
|Lädt alle Commits der ausgewählten Branch herunter. Die Liste der Commits wird entsprechend aktualisiert.</p>
</div>
<div class="paragraph">
<p>|<strong>Pull</strong>
|Lädt alle Commits der ausgewählten Branch herunter und aktualisiert alle Dateien. Die Liste der Commits wird entsprechend aktualisiert.</p>
</div>
<div class="paragraph">
<p>|<strong>Branch</strong>
|Dropdown-Menü, mit dem zwischen Branches des Repositorys gewechselt werden kann. Der aktuell ausgewählte Branch wird angezeigt.</p>
</div>
<div class="paragraph">
<p>|<strong>Commit-ID</strong>
|Textfeld für die Auswahl bestimmter Commits.</p>
</div>
<div class="paragraph">
<p>|<strong>Checkout</strong>
|Wechselt Branch auf die im Textfeld eingegebe Commit-ID, falls diese im Repository vorhanden ist.</p>
</div>
<div class="paragraph">
<p>|Name des Commits
|Durch Klicken kann der Commit wie über <strong>Checkout</strong> ausgewählt werden. Bestätigung notwendig.</p>
</div>
<div class="paragraph">
<p>|<strong>Commit-ID in Zwischenablage kopieren.</strong>
|Die ID des Commits wird in die Zwischenablage kopiert und kann dann in das Feld <strong>Commit-ID</strong> eingefügt werden.</p>
</div>
<div class="paragraph">
<p>|<strong>Auf GitHub ansehen</strong>
|Öffnet die in dem Commit vorgenommenen Änderungen in einem neuen Tab.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 100%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">[#git-plugins-hinzufuegen]
=== Git-Plugins zum System hinzufügen</p>
<p class="tableblock">[.instruction]
Git-Repository hinzufügen:</p>
<p class="tableblock">. Öffnen Sie das Menü <strong>Plugins &gt;&gt; Git</strong>.
. Klicken Sie auf <strong>Neues Repository hinzufügen</strong>.<br>
→ Die Ansicht <strong>Repository Einstellungen</strong> wird geöffnet.
. Geben Sie in das Feld <strong>Repository URL</strong> die URL des Git-Repositorys ein, das Sie hinzufügen möchten.
. Geben Sie in das Feld <strong>Benutzername</strong> den Namen Ihres Git-Kontos ein. Wenn Sie ein öffentliches Repository hinzufügen, geben Sie eine beliebige Zeichenfolge ein.
. Geben Sie in das Feld <strong>Passwort oder Token</strong> das mit dem Namen assoziierte Passwort oder den mit dem Namen assoziierten Token ein. Wenn Sie ein öffentliches Repository hinzufügen, geben Sie eine beliebige Zeichenfolge ein.
. Geben Sie in das Feld <strong>Branchname für Installation (Muss valide plugin.json enthalten)</strong> den Namen des Branches ein, auf den Sie standardmäßig zugreifen möchten. Standardmäßig ist <strong>master</strong> angegeben. Sie können nach der Installation zwischen den Branches des Repositorys wechseln. Beachten Sie, dass der ausgewählte Branch eine gültige plugin.json-Datei enthalten muss. Weitere Informationen zur plugin.json-Datei finden Sie auf unserer <a href="https://developers.plentymarkets.com/marketplace/plugin-requirements#marketplace-pluginjson" target="_blank" rel="noopener">Entwicklerseite</a> (nur auf Englisch verfügbar).
. <strong>Speichern</strong> Sie die Einstellungen.</p>
<p class="tableblock">[NOTE]
.plugin.json-Datei
====
Wenn ein Plugin keine gültige plugin.json-Datei enthält, führt dies beim Bereitstellen von plugin-Sets zu Fehlern. Deshalb wird beim Hinzufügen von Plugins über Git bereits überprüft, ob eine solche gültige Datei vorliegt.
====</p>
<p class="tableblock">[#git-branches]
=== Zwischen Branches eines Git-Plugins wechseln</p>
<p class="tableblock">Es ist üblich, in einem Git-Repository mit verschiedenen Branches zu arbeiten, um Änderungen an Dateien vorzunehmen, ohne dass diese Änderungen direkte Auswirkungen auf die eigentliche Codebasis haben. Dadurch kann neuer Code vor dem tatsächlichen Implementieren nochmal überprüft werden. Auch in plentymarkets ist es möglich, mit verschiedenen Branches eines Repositorys zu arbeiten.</p>
<p class="tableblock">[.instruction]
Branch wechseln:</p>
<p class="tableblock">. Öffnen Sie das Menü <strong>Plugins &gt;&gt; Plugin-Übersicht</strong>.
. Klicken Sie auf das Plugin-Set, das Sie bearbeiten möchten.<br>
→ Der Bereich, in dem Sie das ausgewählte Plugin-Set bearbeiten können, wird geöffnet.
. Klicken Sie auf das Git-Plugin, das Sie bearbeiten möchten.<br>
→ Die Plugin-Detailansicht wird geöffnet.
. Öffnen Sie im Menübaum das Menü <strong>Git</strong>.
. Wählen Sie aus dem Dropdown-Menü <strong>Branch</strong> den Branch aus, zu dem Sie wechseln möchten.<br>
→ Eine Meldung bestätigt, dass das Wechseln des Branches erfolgreich war. Die Einstellungen werden automatisch gespeichert.</p>
<p class="tableblock">Bei der Auswahl des Branches handelt es sich um eine lokale Einstellungen. Das heißt, es kann für dasselbe Plugin in jedem Set ein anderer Branch ausgewählt werden. Somit können Sie beispielsweise den stabilen Branch in Ihrem aktiven Plugin-Set verwenden und gleichzeitig in einem inaktiven Set auf einem anderen Branch ein neues Feature testen.</p>
<p class="tableblock">[#git-commits]
=== Auf Commits wechseln</p>
<p class="tableblock">Wenn Sie eine andere Version Ihres Repositorys aktivieren möchten, für diese Version aber keinen eigenen Branch erstellt haben, können Sie auch auf einzelne Commits zugreifen.</p>
<p class="tableblock">[.instruction]
Auf Commits wechseln:</p>
<p class="tableblock">. Öffnen Sie das Menü <strong>Plugins &gt;&gt; Plugin-Übersicht</strong>.
. Klicken Sie auf das Plugin-Set, das Sie bearbeiten möchten.<br>
→ Der Bereich, in dem Sie das ausgewählte Plugin-Set bearbeiten können, wird geöffnet.
. Klicken Sie auf das Git-Plugin, das Sie bearbeiten möchten.<br>
→ Die Plugin-Detailansicht wird geöffnet.
. Öffnen Sie im Menübaum das Menü <strong>Git</strong>.
. Kopieren Sie die Commit-ID des Commits, auf den Sie wechseln möchten. In der Detailansicht werden die letzten 50 Commits für den ausgewählten Branch angezeigt. Sie können die Commit-ID kopieren, indem Sie in der Zeile des gewünschten Commits auf <strong>Commit-ID in Zwischenablage kopieren.</strong> klicken. Wenn Sie auf einen Commit wechseln möchten, der mehr als 50 Commits zurückliegt, können Sie die gleichen Schritte in der Commits-Übersicht Ihres Git-Repositorys durchführen.
. Fügen Sie die kopierte ID in das Feld <strong>Commit-ID</strong> ein.
. Klicken Sie auf <strong>Checkout</strong>.<br>
→ <strong><em>Oder</em></strong>: Wenn Sie auf einen der letzten 50 Commits wechseln möchten, können Sie auch auf den Namen des Commits klicken und den Wechsel durch Klicken auf <strong>Ok</strong> bestätigen.<br>
→ Eine Meldung bestätigt, dass das Wechseln auf den eingegeben Commit erfolgreich war und als Branch wird <strong>Head@Commit-ID</strong> angezeigt. Die Einstellungen werden automatisch gespeichert.</p>
<p class="tableblock">[#git-plugins-loeschen]
=== Git-Plugins aus dem System entfernen</p>
<p class="tableblock">Wenn ein Git-Plugin nicht mehr benötigt wird, können Sie es komplett aus dem System entfernen. Beachten Sie, dass Plugins nur gelöscht werden können, wenn sie in keinem Plugin-Set mehr installiert sind.</p>
<p class="tableblock">[.instruction]
Git-Repository löschen:</p>
<p class="tableblock">. Öffnen Sie das Menü <strong>Plugins &gt;&gt; Git</strong>.
. Klicken Sie auf <strong>Löschen</strong>, um das entsprechende Repository aus dem System zu entfernen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>