<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#plugin-konfiguration"><span>1.</span><span> Plugin-Konfiguration</span></a>
<ul class="sectlevel2">
<li><a href="#konfiguration-export-import"><span>1.1.</span><span> Export und Import</span></a>
<ul class="sectlevel3">
<li><a href="#_plugin_konfiguration"><span>1.1.1.</span><span> Plugin-Konfiguration</span></a></li>
<li><a href="#_plugin_set_konfiguration"><span>1.1.2.</span><span> Plugin-Set-Konfiguration</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#container-verknüpfungen"><span>2.</span><span> Container-Verknüpfungen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Plugins einrichten</h1><div class="sect1">
<h2 id="plugin-konfiguration">1. Plugin-Konfiguration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nach der Installation müssen Plugins teilweise noch konfiguriert werden. Je nach Plugin gibt es hierbei eine von zwei Möglichkeiten. Entweder öffnet sich ein Fenster mit Einstellungsmöglichkeiten, wenn du auf den Namen des Plugins im Plugin-Set klickst oder es wird bei Installation des Plugins eine Schnittstelle zu dem Menü <strong>Systemeinstellungen</strong> hinzugefügt. Werden Einstellungen innerhalb eines Plugin-Sets vorgenommen, sind sie auf dieses eine Plugin-Set beschränkt. Einstellungen, die im Menü <strong>Systemeinstellungen</strong> vorgenommen werden, sind global und betreffen alle Plugin-Sets, auch wenn das Plugin erst später in dem Set installiert wird.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Konfigurationsausnahmen</div>
<div class="paragraph">
<p>Wenn ein Plugin vor der Einführung von Plugin-Sets entwickelt wurde, sind möglicherweise andere Einstellungen notwendig. Abweichungen sind in der Anleitungen des jeweiligen Plugins auf plentyMarketplace hinterlegt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="konfiguration-export-import">1.1. Export und Import</h3>
<div class="sect3">
<h4 id="_plugin_konfiguration">1.1.1. Plugin-Konfiguration</h4>
<div class="paragraph">
<p>Soll ein Plugin in mehr als einem Plugin-Set verwendet werden, kann die Konfiguration nicht direkt kopiert werden. Es ist allerdings möglich, die Plugin-Konfiguration zu exportieren und anschließend wieder zu importieren.</p>
</div>
<div class="paragraph instruction">
<p>Plugin-Konfiguration exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins</strong> » <strong>Plugin Übersicht</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins, dessen Konfiguration du exportieren möchtest, indem du auf den Namen des Plugins klicken.</p>
</li>
<li>
<p>Klicke auf die Schaltfläche <strong>Konfiguration Im-/Export</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Konfiguration exportieren</strong> (<span class="icon"><i class="fa fa-download" style="color:purple"></i></span>).<br>
→ Eine JSON-Datei mit der Konfiguration wird heruntergeladen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Systemeinstellungen</div>
<div class="paragraph">
<p>Beim Export werden nur Einstellungen exportiert, die in der Plugin-Detailansicht vorgenommen werden. Einstellungen aus den <strong>Systemeinstellungen</strong> werden nicht exportiert. Die entsprechenden Einstellungen bleiben allerdings auch dann erhalten, wenn das Plugin aus einem Plugin-Set gelöscht wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Plugin-Konfiguration importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins</strong> » <strong>Plugin Übersicht</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins, dessen Konfiguration du importieren möchtest, indem du auf den Namen des Plugins klicken.</p>
</li>
<li>
<p>Klicke auf die Schaltfläche <strong>Konfiguration Im-/Export</strong>.</p>
</li>
<li>
<p>Klicke auf die Schaltfläche <strong>Datei wählen</strong> (<span class="icon"><i class="fa fa-ellipsis-h"></i></span>) und wähle die zu importierende Datei aus.</p>
</li>
<li>
<p>Klicke auf <strong>Konfiguration importieren</strong> (<span class="icon"><i class="fa fa-upload" style="color:purple"></i></span>).<br>
→ Die Konfiguration wird importiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Limitierungen</div>
<div class="paragraph">
<p>Der Import kann nur mit einer validen JSON-Datei durchgeführt werden.</p>
</div>
<div class="paragraph">
<p>Es ist möglich, dass nicht alle Einstellungen importiert werden, wenn sich die Version des Plugins zwischen Export und Import geändert hat und dabei Konfigurationsmöglichkeiten umbenannt wurden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="_plugin_set_konfiguration">1.1.2. Plugin-Set-Konfiguration</h4>
<div class="paragraph">
<p>Wenn nicht nur die Konfiguration eines Plugins benötigt wird, sondern die Konfigurationen aller Plugins innerhalb eines Set, können diese zusammengefasst exportiert und importiert werden. Öffne dafür das Menü <strong>Plugin-Set-Einstellungen</strong> des Plugin-Sets und gehe für den Export und Import jeweils wie oben beschrieben vor.</p>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="container-verknüpfungen">2. Container-Verknüpfungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn durch ein Plugin neue Elemente zum Webshop hinzugefügt werden sollen, etwa das Logo für eine Zahlungsmethode, müssen diese Angaben mit sogenannten Containern im Webshop verknüpft werden.</p>
</div>
<div class="paragraph">
<p>Standardmäßig können diese Verknüpfungen im Menü <strong>CMS</strong> » <strong>Container-Verknüpfungen</strong> angelegt werden. Teilweise geben Entwickler aber auch standardmäßig Verknüpfungen an, die mit einem Klick in der Plugin-Detailansicht angelegt werden können.</p>
</div>
<div class="paragraph instruction">
<p>Standard-Container-Verknüpfung wählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins</strong> » <strong>Plugin Übersicht</strong>.</p>
</li>
<li>
<p>Öffne die Detailansicht des Plugins, das du verknüpfen möchtest, indem du auf den Namen des Plugins klickst.</p>
</li>
<li>
<p>Klicke auf die Schaltfläche <strong>Standard-Container-Verknüpfung</strong>.</p>
</li>
<li>
<p>Aktiviere die Kontrollkästchen der Verknüpfungen, die du anlegen möchtest.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Ob für ein Plugin Standard-Container-Verknüpfungen vorliegen, kannst du in der Artikelansicht des Plugins auf plentyMarketplace einsehen.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Vorhandene Verknüpfungen werden nicht überschrieben</div>
<div class="paragraph">
<p>Beim Speichern der Standard-Container-Verknüpfungen werden bereits vorhandene Verknüpfungen nicht überschrieben. Wenn du nur die Standard-Container-Verknüpfungen nutzen möchtest, musst du zunächst alle Verknüpfungen des Plugins im Menü <strong>CMS</strong> » <strong>Container-Verknüpfungen</strong> entfernen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>