<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Plugins und Plugin-Sets</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Plugins bieten dir die Möglichkeit, dein System und deinen Webshop um zusätzliche Funktionalitäten zu erweitern. Du kannst beispielsweise neue Zahlungsanbieter und Versanddienstleister hinzufügen oder externe Marktplätze anbinden, um mit ihnen Daten zu synchronisieren.</p>
</div>
<div class="paragraph">
<p>Ein Plugin-Set ist eine Sammlung von verschiedenen Plugins, die für einen oder für mehrere Mandanten zentral in der <strong>Plugin-Übersicht</strong> verwaltet werden können. Plugin-Sets können ein Plugin oder mehrere Plugins enthalten und beinhalten darüber hinaus ebenfalls die Einstellungen der Plugin-Konfiguration und Layout-Container. Plugin-Sets eignen sich insbesondere für Händler, die mehrere Webshops gleichzeitig über plentymarkets verwalten, da unterschiedliche Plugin-Sets für unterschiedliche Mandanten gesondert aktiviert und konfiguriert werden können.</p>
</div>
<div class="paragraph">
<p>In den folgenden Abschnitten wird beschrieben, welche Aktionen du durchführen musst, um neue Plugin-Sets zu erstellen, bereits existierende Plugin-Sets zu bearbeiten oder Plugin-Sets zu löschen.</p>
</div>
<div class="exampleblock">
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="#plugin-sets-erstellen">Plugin-Sets erstellen</a></p>
</li>
<li>
<p><a href="#plugin-sets-bearbeiten">Plugin-Sets bearbeiten</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="#plugin-set-namen-aendern">Plugin-Set-Name ändern</a></p>
</li>
<li>
<p><a href="#plugins-hinzufuegen">Plugins hinzufügen</a></p>
</li>
<li>
<p><a href="#plugins-aktualisieren">Plugins aktualisieren</a></p>
</li>
<li>
<p><a href="#plugins-entfernen">Plugins entfernen</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="#plugins-deaktivieren">Plugins deaktivieren</a></p>
</li>
<li>
<p><a href="#plugins-loeschen">Plugins löschen</a></p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
<li>
<p><a href="#plugin-sets-loeschen">Plugin-Sets löschen</a></p>
</li>
<li>
<p><a href="#funktionsuebersicht">Funktionsübersicht</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="plugin-sets-erstellen">1. Plugin-Sets erstellen</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Plugin-Set erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Plugin-Set erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für das Plugin-Set ein.</p>
</li>
<li>
<p><strong>Speichere</strong> <span class="icon"><i class="fa fa-save" style="color:green"></i></span> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Plugin-Set-Name</div>
<div class="paragraph">
<p>Die Namen von Plugin-Sets dürfen nur bestimmte Zeichen enthalten. Erlaubt sind alle Buchstaben des deutschen Alphabets, inklusive Umlauten und Eszett, Ziffern, sowie die Zeichen '-', '_', '.' und Leerzeichen. Insgesamt muss der Name zwischen 3 und 255 Zeichen lang sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="plugin-sets-bearbeiten">2. Plugin-Sets bearbeiten</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="plugin-set-namen-aendern">2.1. Plugin-Set-Name ändern</h3>
<div class="paragraph instruction">
<p>Plugin-Set-Namen ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf das Plugin-Set, das du bearbeiten möchtest.<br>
→ Der Bereich zum Bearbeiten des ausgewählten Plugin-Sets wird geöffnet.</p>
</li>
<li>
<p>Klicke auf die Schaltfläche <strong>Plugin-Set-Einstellungen</strong> (<span class="icon"><i class="fa fa-cog"></i></span>).<br>
→ Der Bereich <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib in das Textfeld <strong>Name</strong> den neuen Namen für das Plugin-Set ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Plugin-Set wird umbenannt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Sicherheitskopie</div>
<div class="paragraph">
<p>Wenn du ein Plugin-Set bearbeiten und entweder neue Plugins hinzufügen oder bereits existierende Plugins aktualisieren oder löschen möchtest, ist es empfehlenswert, eine Kopie dieses Plugin-Sets zu erstellen und die Änderungen zunächst dort vorzunehmen. Dadurch wird verhindert, dass die Änderungen unbeabsichtigte Auswirkungen auf deinen aktiven Shop haben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="plugins-hinzufuegen">2.2. Plugins hinzufügen</h3>
<div class="paragraph instruction">
<p>Plugin-Set kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Plugin-Set erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für das Plugin-Set ein.</p>
</li>
<li>
<p>Klicke auf <strong>Von Plugin-Set kopieren</strong>, um Einstellungen aus einem existierenden Plugin-Set zu übernehmen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Plugin-Set-Name</div>
<div class="paragraph">
<p>Die Namen von Plugin-Sets dürfen nur bestimmte Zeichen enthalten. Erlaubt sind alle Buchstaben des deutschen Alphabets, inklusive Umlauten und Eszett, Ziffern, sowie die Zeichen '-', '_', '.' und Leerzeichen. Insgesamt muss der Name zwischen 3 und 255 Zeichen lang sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Plugins installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf das Plugin-Set, das du bearbeiten möchtest.<br>
→ Der Bereich zum Bearbeiten des ausgewählten Plugin-Sets wird geöffnet.</p>
</li>
<li>
<p>Nutze die Filterfunktion indem du das Kontrollkästchen <strong>Nicht installiert</strong> aktivierst und auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>) klickst. Möchtest du Plugins installieren, die du über ein Git-Repository oder einen lokalen Speicher hinzugefügt hast, musst du vor der Suche auch das Kontrollkästchen <strong>Git</strong> beziehungsweise <strong>Lokal</strong> auswählen.<br>
→ Die Plugin-Übersicht wird entsprechend aktualisiert.</p>
</li>
<li>
<p>Wenn du ein Plugin installieren möchten, klicke in der entsprechenden Zeile in der Spalte <strong>Aktion</strong> auf die Schaltfläche <strong>Plugin installieren</strong> (<span class="icon"><i class="fa fa-download" style="color:purple"></i></span>).<br>
→ Ein Fenster zur Auswahl der zu installierenden Version öffnet sich. Wähle aus dem Dropdown-Menü <strong>Zu installierende Version</strong> die Version des Plugins aus, die du installieren möchtest. Standardmäßig ist die neuste Version ausgewählt. In einem Textfeld unterhalb des Dropdown-Menüs wird der Changelog der aktuell ausgewählten Version angezeigt. Wenn du dich für eine Version entschieden hast, klicke auf <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert und ist in der Plugin-Übersicht des Plugin-Sets verfügbar. Eine Ansicht mit allen installierten Plugins wird angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wenn du ein Plugin in einem Plugin-Set aktivieren möchtest, klicke in der entsprechenden Zeile in der Spalte <strong>Aktiv</strong> auf die Schaltfläche <strong>Inaktiv</strong> (<span class="icon"><i class="fa fa-globe"></i></span>).<br>
→ Aktive Plugins werden in Frontend und Backend geladen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Position eines Plugins ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wenn du die Position eines Plugins verändern möchtest, klicke in der entsprechenden Zeile in der Spalte <strong>Aktion</strong> auf die Schaltfläche <strong>Position festlegen</strong> (<span class="fa-stack fa-lg"><i class="fa fa-bars fa-stack-2x" style="background-color:yellow"></i><i class="fa fa-arrow-right fa-stack-1x lr" "=""></i></span>).<br>
→ Das Fenster <strong>Plugin-Position</strong> öffnet sich.</p>
</li>
<li>
<p>Gib in das Textfeld die gewünschte Position des Plugins ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Position des Plugins wird aktualisiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Plugin-Position</div>
<div class="paragraph">
<p>Die relative Position der Plugins bestimmt, in welcher Reihenfolge sie innerhalb des Sets geladen werden. Dabei gilt: Je niedriger die Position des Plugins desto früher wird es geladen. Aus diesem Grund sollte das Plugin IO die höchste Positionsnummer erhalten, das Plugin Ceres in der Regel die zweithöchste. Eine Ausnahme bilden Theme-Plugins. Diese müssen normalerweise zwischen Ceres und IO positioniert sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Plugin-Set-Vorschau öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Plugin-Set-Vorschau</strong> (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Wähle den Webshop, in dem du das Plugin-Set öffnen möchtest.<br>
→ Der gewählte Webshop wird mit dem gewählten Plugin-Set in einem neuen Browser-Tab geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin-Set speichern und bereitstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Eine Fortschrittsanzeige wird eingeblendet. Wenn der Prozess erfolgreich abgeschlossen wurde, wird stattdessen ein Zeitstempel mit dem Datum der letzten erfolgreichen Bereitstellung angezeigt. Sollte es während des Bereitstellungsprozesses zu Fehlern kommen, wird stattdessen eine blinkende Schaltfläche angezeigt. Klicke diese, um nährere Informationen zur Ursache des Problems zu erhalten.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du mit den Anpassungen zufrieden bist, kannst du das Set mit einem Mandanten verlinken.</p>
</div>
<div class="paragraph">
<p>Plugin-Set verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Plugin-Sets verknüpfen</strong> (<span class="icon"><i class="fa fa-globe" style="background-color:yellow"></i></span>).<br>
→ Das Fenster <strong>Plugin-Sets verknüpfen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste das Plugin-Set, das du mit deinem Mandanten verknüpfen möchtest.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Plugin-Sets verknüpfen</div>
<div class="paragraph">
<p>Das Verknüpfen eines Plugin-Sets mit einem Mandanten veröffentlicht alle Plugins im Plugin-Set. Dies geschieht mit sofortiger Wirkung. Teste das Plugin-Set ausgiebig und sieh dir die Vorschau an, bevor du es verknüpfst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="plugins-aktualisieren">2.3. Plugins aktualisieren</h3>
<div class="paragraph instruction">
<p>Plugin-Set kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Plugin-Set erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für das Plugin-Set ein.</p>
</li>
<li>
<p>Klicke auf <strong>Von Plugin-Set kopieren</strong>, um Einstellungen aus einem existierenden Plugin-Set zu übernehmen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Plugin-Set-Name</div>
<div class="paragraph">
<p>Die Namen von Plugin-Sets dürfen nur bestimmte Zeichen enthalten. Erlaubt sind alle Buchstaben des deutschen Alphabets, inklusive Umlauten und Eszett, Ziffern, sowie die Zeichen '-', '_', '.' und Leerzeichen. Insgesamt muss der Name zwischen 3 und 255 Zeichen lang sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Plugins aktualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wenn ein Update für ein Plugin verfügbar ist, wird in der entsprechenden Zeile in der Spalte <strong>Aktion</strong> die Schaltfläche <strong>Aktualisieren</strong> farbig gekennzeichnet. Klicke auf diese Schaltfläche, um das Plugin zu aktualisieren.<br>
→ Ein Fenster zur Auswahl der zu installierenden Version öffnet sich. Wähle aus dem Dropdown-Menü <strong>Zu installierende Version</strong> die Version des Plugins aus, die du installieren möchtest. Standardmäßig ist die neuste Version ausgewählt. In einem Textfeld unterhalb des Dropdown-Menüs wird der Changelog der aktuell ausgewählten Version angezeigt. Wenn du dich für eine Version entschieden hast, klicke auf die <strong>Installieren</strong>.<br>
→ Das Plugin wird aktualisiert.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Position eines Plugins ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wenn du die Position eines Plugins verändern möchtest, klicke in der entsprechenden Zeile in der Spalte <strong>Aktion</strong> auf die Schaltfläche <strong>Position festlegen</strong> (<span class="fa-stack fa-lg"><i class="fa fa-bars fa-stack-2x" style="background-color:yellow"></i><i class="fa fa-arrow-right fa-stack-1x lr" "=""></i></span>).<br>
→ Das Fenster <strong>Plugin-Position</strong> öffnet sich.</p>
</li>
<li>
<p>Gib in das Textfeld die gewünschte Position des Plugins ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Position des Plugins wird aktualisiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Plugin-Position</div>
<div class="paragraph">
<p>Die relative Position der Plugins bestimmt, in welcher Reihenfolge sie innerhalb des Sets geladen werden. Dabei gilt: Je niedriger die Position des Plugins desto früher wird es geladen. Aus diesem Grund sollte das Plugin IO die höchste Positionsnummer erhalten, das Plugin Ceres in der Regel die zweithöchste. Eine Ausnahme bilden Theme-Plugins. Diese müssen normalerweise zwischen Ceres und IO positioniert sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Plugin-Set-Vorschau öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Plugin-Set-Vorschau</strong> (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Wähle den Webshop, in dem du das Plugin-Set öffnen möchtest.<br>
→ Der gewählte Webshop wird mit dem gewählten Plugin-Set in einem neuen Browser-Tab geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin-Set speichern und bereitstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Eine Fortschrittsanzeige wird eingeblendet. Wenn der Prozess erfolgreich abgeschlossen wurde, wird stattdessen ein Zeitstempel mit dem Datum der letzten erfolgreichen Bereitstellung angezeigt. Sollte es während des Bereitstellungsprozesses zu Fehlern kommen, wird stattdessen eine blinkende Schaltfläche angezeigt. Klicke diese, um nährere Informationen zur Ursache des Problems zu erhalten.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du mit den Anpassungen zufrieden sind, kannst du das Set mit einem Mandanten verlinken.</p>
</div>
<div class="paragraph">
<p>Plugin-Set verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Plugin-Sets verknüpfen</strong> (<span class="icon"><i class="fa fa-globe" style="background-color:yellow"></i></span>).<br>
→ Das Fenster <strong>Plugin-Sets verknüpfen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste das Plugin-Set, das du mit deinem Mandanten verknüpfen möchtest.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Plugin-Sets verknüpfen</div>
<div class="paragraph">
<p>Das Verknüpfen eines Plugin-Sets mit einem Mandanten veröffentlicht alle Plugins im Plugin-Set. Dies geschieht mit sofortiger Wirkung. Teste das Plugin-Set ausgiebig und sieh dir die Vorschau an, bevor du es verknüpfst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="plugins-entfernen">2.4. Plugins entfernen</h3>
<div class="paragraph">
<p>Es gibt zwei Möglichkeiten, die Funktionalität eines Plugins von deinem Set zu entfernen. Wenn du ein Plugin deaktivierst, ist es weiterhin Teil des Sets und du kannst es später erneut aktivieren ohne es neu installieren oder bereitstellen zu müssen. Wenn du ein Plugin löschst, wird es vollständig aus dem Set entfernt.</p>
</div>
<div class="sect3">
<h4 id="plugins-deaktivieren">2.4.1. Plugins deaktivieren</h4>
<div class="paragraph instruction">
<p>Plugin-Set kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Plugin-Set erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für das Plugin-Set ein.</p>
</li>
<li>
<p>Klicke auf <strong>Von Plugin-Set kopieren</strong>, um Einstellungen aus einem existierenden Plugin-Set zu übernehmen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Plugin-Set-Name</div>
<div class="paragraph">
<p>Die Namen von Plugin-Sets dürfen nur bestimmte Zeichen enthalten. Erlaubt sind alle Buchstaben des deutschen Alphabets, inklusive Umlauten und Eszett, Ziffern, sowie die Zeichen '-', '_', '.' und Leerzeichen. Insgesamt muss der Name zwischen 3 und 255 Zeichen lang sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Plugins deaktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wenn du ein Plugin deaktivieren möchtest, klicke in der entsprechenden Zeile in der Spalte <strong>Aktiv</strong> auf die Schaltfläche <strong>Aktiv</strong> (<span class="icon"><i class="fa fa-globe" style="color:skyBlue"></i></span>).<br>
→ Inaktive Plugins werden in Frontend und Backend nicht geladen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin-Set-Vorschau öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Plugin-Set-Vorschau</strong> (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Wähle den Webshop, in dem du das Plugin-Set öffnen möchtest.<br>
→ Der gewählte Webshop wird mit dem gewählten Plugin-Set in einem neuen Browser-Tab geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin-Set speichern und bereitstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Eine Fortschrittsanzeige wird eingeblendet. Wenn der Prozess erfolgreich abgeschlossen wurde, wird stattdessen ein Zeitstempel mit dem Datum der letzten erfolgreichen Bereitstellung angezeigt. Sollte es während des Bereitstellungsprozesses zu Fehlern kommen, wird stattdessen eine blinkende Schaltfläche angezeigt. Klicke diese, um nährere Informationen zur Ursache des Problems zu erhalten.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du mit den Anpassungen zufrieden sind, kannst du das Set mit einem Mandanten verlinken.</p>
</div>
<div class="paragraph">
<p>Plugin-Set verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Plugin-Sets verknüpfen</strong> (<span class="icon"><i class="fa fa-globe" style="background-color:yellow"></i></span>).<br>
→ Das Fenster <strong>Plugin-Sets verknüpfen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste das Plugin-Set, das du mit deinem Mandanten verknüpfen möchtest.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Plugin-Sets verknüpfen</div>
<div class="paragraph">
<p>Das Verknüpfen eines Plugin-Sets mit einem Mandanten veröffentlicht alle Plugins im Plugin-Set. Dies geschieht mit sofortiger Wirkung. Teste das Plugin-Set ausgiebig und sieh dir die Vorschau an, bevor du es verknüpfst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="plugins-loeschen">2.4.2. Plugins löschen</h4>
<div class="paragraph instruction">
<p>Plugin-Set kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Plugin-Set erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für das Plugin-Set ein.</p>
</li>
<li>
<p>Klicke auf <strong>Von Plugin-Set kopieren</strong>, um Einstellungen aus einem existierenden Plugin-Set zu übernehmen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Plugin-Set-Name</div>
<div class="paragraph">
<p>Die Namen von Plugin-Sets dürfen nur bestimmte Zeichen enthalten. Erlaubt sind alle Buchstaben des deutschen Alphabets, inklusive Umlauten und Eszett, Ziffern, sowie die Zeichen '-', '_', '.' und Leerzeichen. Insgesamt muss der Name zwischen 3 und 255 Zeichen lang sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Plugins löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wenn du ein Plugin löschen möchtest, klicke in der entsprechenden Zeile in der Spalte <strong>Aktion</strong> auf die Schaltfläche <strong>Löschen</strong> (<span class="icon"><i class="fa fa-minus-square" style="color:red"></i></span>).</p>
</li>
<li>
<p>Bestätige das Löschen.<br>
→ Gelöschte Plugins werden von dem Plugin-Set entfernt.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin-Set-Vorschau öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Plugin-Set-Vorschau</strong> (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Wähle den Webshop, in dem du das Plugin-Set öffnen möchtest.<br>
→ Der gewählte Webshop wird mit dem gewählten Plugin-Set in einem neuen Browser-Tab geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin-Set speichern und bereitstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Eine Fortschrittsanzeige wird eingeblendet. Wenn der Prozess erfolgreich abgeschlossen wurde, wird stattdessen ein Zeitstempel mit dem Datum der letzten erfolgreichen Bereitstellung angezeigt. Sollte es während des Bereitstellungsprozesses zu Fehlern kommen, wird stattdessen eine blinkende Schaltfläche angezeigt. Klicke diese, um nährere Informationen zur Ursache des Problems zu erhalten.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du mit den Anpassungen zufrieden sind, kannst du das Set mit einem Mandanten verlinken.</p>
</div>
<div class="paragraph">
<p>Plugin-Set verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Plugin-Sets verknüpfen</strong> (<span class="icon"><i class="fa fa-globe" style="background-color:yellow"></i></span>).<br>
→ Das Fenster <strong>Plugin-Sets verknüpfen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste das Plugin-Set, das du mit deinem Mandanten verknüpfen möchtest.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Plugin-Sets verknüpfen</div>
<div class="paragraph">
<p>Das Verknüpfen eines Plugin-Sets mit einem Mandanten veröffentlicht alle Plugins im Plugin-Set. Dies geschieht mit sofortiger Wirkung. Teste das Plugin-Set ausgiebig und sieh dir die Vorschau an, bevor du es verknüpfst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="plugin-sets-loeschen">3. Plugin-Sets löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du ein Plugin-Set nicht mehr benötigst, kannst du es löschen. Dabei können Plugin-Sets nur gelöscht werden, wenn sie nicht mit einem Mandanten verknüpft sind. Die Verknüpfung muss zunächst aufgehoben werden.</p>
</div>
<div class="paragraph instruction">
<p>Plugin-Set-Verknüpfung aufheben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Plugin-Set verknüpfen</strong> (<span class="icon"><i class="fa fa-globe" style="background-color:yellow"></i></span>).<br>
→ Das Fenster <strong>Plugin-Set verknüpfen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste für alle Mandanten, mit denen das Plugin-Set verknüpft ist, die leere Zeile.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin-Sets löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke bei einem Plugin-Set auf <strong>Löschen</strong> (<span class="icon"><i class="fa fa-minus-square" style="color:red"></i></span>).<br>
→ Das Fenster <strong>Plugin-Set löschen</strong> wird geöffnet.</p>
</li>
<li>
<p>Bestätige das Löschen.<br>
→ Das Plugin-Set wird gelöscht.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="funktionsuebersicht">4. Funktionsübersicht</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die nachfolgende Tabelle enthält eine Liste aller Elemente des Menüs <strong>Plugin-Übersicht</strong> sowie eine kurze Beschreibung dieser Elemente.</p>
</div>
<table id="tabelle-plugin-uebersicht" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Tabellenansicht des Menüs <strong>Plugins » Plugin-Übersicht</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neues Plugin-Set erstellen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet ein Fenster zur Erstellung eines neuen Plugin-Sets.<br>
<strong>Speichern</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>): Speichert das neue Plugin-Set.<br>
<strong>Plugin-Set-Name</strong>: Der Name des Plugin-Sets.<br>
<strong>Plugin-Set kopieren</strong>: Wählt bestehendes Plugin-Set aus Dropdown-Liste aus, um Einstellungen zu übernehmen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin-Sets verknüpfen</strong> (<span class="icon"><i class="fa fa-globe" style="background-color:yellow"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein neues Fenster öffnet sich. Aus einer Dropdown-Liste kann für jedes Plugin-Set ein Mandant ausgewählt werden. Durch <strong>Speichern</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) der Einstellungen werden die Plugin-Sets mit den ausgewählten Mandanten verknüpft. Eine Verknüpfung kann vollständig aufgehoben werden, indem aus der Dropdown-Liste die leere Zeile für ein Set ausgewählt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Name des Plugin-Sets</em></strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lädt die Plugin-Übersicht des Plugin-Sets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin-Set löschen</strong> (<span class="icon"><i class="fa fa-minus-square" style="color:red"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löscht das Plugin-Set. Bestätigung notwendig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>): Lädt für das ausgewählte Plugin-Set in der Plugin-Übersicht alle Plugins, die die gewählten Filtereinstellungen erfüllen.<br>
<strong>Reset</strong>: Setzt die Filtereinstellungen auf die Standardeinstellungen zurück.<br>
<strong>Name</strong>: Filtert nach Plugins, deren Namen die eingegebene Zeichenfolge beinhaltet.<br>
<strong>plentyMarketplace</strong>: Filtert nach Plugins, die dem System über plentyMarketplace hinzugefügt wurden.<br>
<strong>Git</strong>: Filtert nach Plugins, die dem System über ein Git-Repository hinzugefügt wurden.<br>
<strong>Local</strong>: Filtert nach Plugins, die dem System über einen lokalen Speicher hinzugefügt wurden.<br>
<strong>Installiert</strong>: Filtert nach Plugins, die in dem ausgewählten Plugin-Set installiert sind.<br>
<strong>Nicht installiert</strong>: Filtert nach Plugins, die in dem ausgewählten Plugin-Set nicht installiert sind.<br>
<strong>Aktiv</strong>: Filtert nach Plugins, die in dem ausgewählten Plugin-Set aktiv sind.<br>
<strong>Nicht akitv</strong>: Filtert nach Plugins, die in dem ausgewählten Plugin-Set nicht aktiv sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Speichern &amp; Plugin bereitstellen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Speichert Änderungen am Plugin-Set und stellt das Plugin-Set zur weiteren Nutzung bereit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin-Set-Vorschau</strong> (<span class="icon"><i class="fa fa-eye" style="color:blue"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet ein Tab, in dem eine Vorschau des Frontends mit den derzeitigen Einstellungen angezeigt wird. Plugin-Set muss zuvor mittels der Schaltfläche <strong>Speichern &amp; Bereitstellen</strong> bereitgestellt worden sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentyDrive: Änderungen automatisch bereitstellen</strong> (<span class="icon"><i class="fa fa-toggle-off" style="color:red"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn aktiviert (<span class="icon"><i class="fa fa-toggle-on" style="color:green"></i></span>) und dem Plugin-Set ein Plugin innerhalb des Sets über plentyDrive geändert wird, wird das Plugin-Set automatisch gespeichert und bereitgestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin-Set-Einstellungen</strong> (<span class="icon"><i class="fa fa-cog"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet ein Fenster zur Bearbeitung des ausgewählten Plugin-Sets.<br>
<strong>Speichern</strong> (<span class="icon"><i class="fa fa-save"></i></span>): Speichert die geänderten Einstellungen.<br>
<strong>Name</strong>: Ändert den Namen des Plugin-Sets.<br>
<strong>Plugin-Set-ID</strong>: Die ID des Plugin-Sets.<br>
<strong>Konfiguration exportieren</strong> (<span class="icon"><i class="fa fa-download" style="color:purple"></i></span>): Exportiert Konfigurationen aller Plugins des Plugin-Sets als JSON-Datei.<br>
<strong>Konfigurationsdatei</strong>: Zeigt den Dateipfad der für den Konfigurationsimport ausgewählten Datei an.<br>
<strong>Datei wählen</strong> (<span class="icon"><i class="fa fa-ellipsis-h"></i></span>): Öffnet Dateiauswahl zur Auswahl einer lokalen Datei für den Konfigurationsimport.<br>
<strong>Zurücksetzen</strong>: Setzt den Dateipfad zurück.<br>
<strong>Konfiguration importieren</strong> (<span class="icon"><i class="fa fa-upload" style="color:purple"></i></span>): Importiert Konfigurationen für alle Plugins des Plugin-Sets von einer validen JSON-Datei.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Log</strong> (<span class="icon"><i class="fa fa-exclamation" style="color:red"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar, wenn Fehlermeldungen existieren. Zeigt diese an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong> (<span class="icon"><i class="fa fa-globe"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob das Plugin aktiv (<span class="icon"><i class="fa fa-globe" style="color:skyBlue"></i></span>) oder inaktiv (<span class="icon"><i class="fa fa-globe"></i></span>) ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Name des Plugins</em></strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Name des Plugins. Wenn installiert, klicken um Informationen und Einstellungsmöglichkeiten anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Installierte Version</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die neuste Version des Plugins, die installiert ist. Ein Symbol zeigt an, wenn eine neuere Version des Plugins existiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktive Version</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Version des Plugins, die aktiv ist und für das ausgewählte Plugin-Set in Frontend und Backend geladen wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Herkunft des Plugins, also plentyMarkets, Git oder ein lokaler Speicher.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin installieren</strong> (<span class="icon"><i class="fa fa-download" style="color:purple"></i></span>): Installiert das Plugin. Ein Fenster öffnet sich, in dem die zu installierende Version ausgewählt und der Changelog eingesehen werden kann. Wird nur angezeigt, wenn das Plugin nicht installiert ist.<br>
<strong>Aktualisieren</strong>: Aktualisiert das Plugin auf eine neuere Version. Ein Fenster öffnet sich, in dem die zu installierende Version ausgewählt und der Changelog eingesehen werden kann. Wird nur angezeigt, wenn eine neuere Version vorhanden ist.<br>
<strong>Keine Aktualisierung verfügbar</strong>: Die neuste Version des Plugins ist installiert.<br>
<strong>Position festlegen</strong> (<span class="fa-stack fa-lg"><i class="fa fa-bars fa-stack-2x" style="background-color:yellow"></i><i class="fa fa-arrow-right fa-stack-1x lr" "=""></i></span>): Legt die Reihenfolge fest, in der Plugins geladen werden. Plugins mit niedrigerer Position werden zuerst ausgeführt.<br>
<strong>Löschen</strong> (<span class="icon"><i class="fa fa-minus-square" style="color:red"></i></span>): Entfernt das Plugin aus dem Plugin-Set. Bestätigung notwendig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentyMarketplace</strong> (<span class="icon"><i class="fa fa-cart-plus" style="color:green"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet <a href="https://marketplace.plentymarkets.com/">plentyMarketplace</a> in einem neuen Tab.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>