<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#integrationen-assistent"><span>1.</span><span> Integrationen-Assistent</span></a></li>
<li><a href="#marketplace-plugins"><span>2.</span><span> Marketplace-Plugins</span></a></li>
<li><a href="#git-plugins"><span>3.</span><span> Git-Plugins</span></a>
<ul class="sectlevel2">
<li><a href="#zugriffstoken-private-repositorys"><span>3.1.</span><span> Zugriffstoken für private Repositorys erzeugen</span></a></li>
<li><a href="#git-repository-hinzufuegen"><span>3.2.</span><span> Git-Repository hinzufügen</span></a></li>
<li><a href="#git-repositorys-funktionsuebersicht"><span>3.3.</span><span> Funktionsübersicht</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Plugins dem System hinzufügen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph next-navigation">
<p><a href="/plugins/hinzugefuegte-plugins-installieren">Hinzugefügte Plugins installieren <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>Du hast verschiedene Möglichkeiten, um Plugins zu deinem plentymarkets System hinzuzufügen. Mit dem <a href="#integrationen-assistent">Integrationen-Assistenten</a> setzt du schnell und unkompliziert deinen Webshop auf. Über <a href="#marketplace-plugins">plentyMarketplace</a> kannst Plugins sowohl kostenlos als auch kostenpflichtig erwerben. Benötigst du ein Plugin, das speziell auf deine Anforderungen zugeschnitten ist, steht dir das <a href="#git-plugins">Hinzufügen über Git</a> zu Verfügung.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="integrationen-assistent">1. Integrationen-Assistent</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In einem neuen plentymarkets System sind zunächst keine Plugins vorhanden. Wenn du deinen eigenen Webshop betreiben oder Verbindungen zu den Shopsystemen Shopify oder WooCommerce einrichten möchtest, kannst du den <strong>Integrationen-Assistenten</strong> durchlaufen, um die wichtigsten Plugins gebündelt auszuwählen und zu installieren.</p>
</div>
<div class="paragraph">
<p>Folgende Plugins sind über den Assistenten verfügbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Webshops</p>
<div class="ulist">
<ul>
<li>
<p>plentyShop (Plugins: plentyShop LTS &amp; IO)</p>
</li>
<li>
<p>Shopify</p>
</li>
<li>
<p>WooCommerce</p>
</li>
</ul>
</div>
</li>
<li>
<p>Zahlungsarten</p>
<div class="ulist">
<ul>
<li>
<p>PayPal</p>
</li>
<li>
<p>Mollie</p>
</li>
<li>
<p>Vorkasse</p>
</li>
<li>
<p>Nachnahme</p>
</li>
<li>
<p>Kauf auf Rechnung</p>
</li>
<li>
<p>EBICS</p>
</li>
</ul>
</div>
</li>
<li>
<p>Versanddienstleister</p>
<div class="ulist">
<ul>
<li>
<p>DHL (DE)</p>
</li>
<li>
<p>Hermes (DE)</p>
</li>
<li>
<p>DPD (DE)</p>
</li>
<li>
<p>DPD (UK)</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Wenn du die Plugins über den Assistenten auswählst, sind keine weiteren Schritte für das Installieren erforderlich und du kannst direkt mit dem <a href="/plugins/installierte-plugins-konfigurieren">Konfigurieren der Plugins weitermachen</a>.
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="marketplace-plugins">2. Marketplace-Plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die meisten Plugins werden dem System über <a href="https://marketplace.plentymarkets.com" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> hinzugefügt. plentyMarketplace bietet dir eine reiche Auswahl unterschiedlicher Plugins, die du direkt kaufen und nutzen kannst. Gehe wie folgt vor, um ein Plugin auf plentyMarketplace zu kaufen.</p>
</div>
<div class="paragraph instruction">
<p>Plugin kaufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » plentyMarketplace</strong>.<br>
→ Der Marktplatz wird in einem neuen Tab geöffnet.<br>
→ <span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Oder:</em></strong> Melde dich direkt auf <a href="http://marketplace.plentymarkets.com/de/" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> mit deinen Zugangsdaten aus dem Mein Konto-Bereich an.</p>
</li>
<li>
<p>Wähle ein Plugin aus einer Kategorie.</p>
</li>
<li>
<p>Klicke in der Detailansicht des Plugins auf <strong>Plugin kaufen</strong>. Eine Übersicht aller Kaufoptionen findest du in <a href="#tabelle-kaufoptionen">Tabelle 1</a>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Nutzungsbedingungen zur Kenntnis.</p>
</li>
<li>
<p>Klicke auf <strong>Jetzt kaufen</strong>.<br>
→ Nach einigen Minuten kannst du das Plugin in einem Plugin-Set installieren.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Hinzugefügte Plugins installieren</div>
<div class="paragraph">
<p>Wenn du ein Plugin deinem System hinzugefügt hast, musst du es noch in einem Plugin-Set installieren bevor du es nutzen kannst.</p>
</div>
<div class="paragraph">
<p>Wie du Plugins installieren kannst erfährst du auf der Seite <a href="/plugins/hinzugefuegte-plugins-installieren">Hinzugefügte Plugins in Plugin-Sets installieren</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-kaufoptionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. plentyMarketplace-Kaufoptionen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Testen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin kann in vollem Umfang 30 Tage lang umsonst genutzt werden. Nicht mehr möglich, nachdem das Plugin bereits abonniert wurde. Ablaufdatum kann im <strong>Mein Konto</strong>-Bereich eingesehen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kaufen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einmalkauf. Plugins werden teilweise in verschiedenen Umfängen angeboten. Welche Funktionalitäten in welchem Umfang enthalten sind, kann der Artikelbeschreibung entnommen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Abonnement</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugins können abonniert werden, um sie in vollem Umfang für einen begrenzten Zeitraum zu nutzen. Je nach Plugin stehen unterschiedliche Zahlungszeiträume zu Verfügung. Abgerechnet wird immer am Anfang eines Zahlungszeitraums. Abonnements laufen nicht automatisch aus, sondern müssen im <strong>Mein Konto</strong>-Bereich gekündigt werden.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="git-plugins">3. Git-Plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du plentymarkets erweitern möchtest, aber kein Plugin mit der entsprechenden Funktionalität auf plentyMarketplace finden kannst, hast du die Möglichkeit, deinem System Plugins über Git hinzuzufügen. Manche externen Entwickler:innen bieten Plugins auf diesem Weg an. Wenn du weitere Informationen zu so verfügbaren Plugins erhalten möchtest, solltest du direkt mit diesen Entwicklern Kontakt aufnehmen. Nutze dafür entweder die <a href="https://marketplace.plentymarkets.com/partners" target="_blank" rel="noopener">Partnerübersicht</a>, schreibe eine Nachricht in der Forumskategorie <a href="https://forum.plentymarkets.com/c/suche-biete/suche-biete-plugins" target="_blank" rel="noopener">Suche/Biete</a> oder erstelle eine <a href="https://marketplace.plentymarkets.com/plentyprojects" target="_blank" rel="noopener">neue Projektanfrage</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> auf plentyMarketplace.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Keine Prüfung durch plentymarkets</div>
<div class="paragraph">
<p>Wenn ein Plugin auf plentyMarketplace hochgeladen wird, wird es durch Mitarbeiter:innen von plentymarkets geprüft. Bei Plugins, die nicht über plentyMarketplace vertrieben werden, findet keine Prüfung statt. Das heißt, dass plentymarkets die Funktionalität des Plugins in diesen Fällen nicht sicherstellen kann.</p>
</div>
<div class="paragraph">
<p>Möchtest du ein Plugin von einem Drittanbieter aus einer anderen Quelle als plentyMarketplace in deinem System einbinden, empfehlen wir dir, dich datenschutzrechtlich abzusichern und den Funktionsumfang des Plugins nach dem Einbinden gründlich zu prüfen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="zugriffstoken-private-repositorys">3.1. Zugriffstoken für private Repositorys erzeugen</h3>
<div class="paragraph">
<p>Möchtest du deinem System ein privates Repository hinzufügen, wird zusätzlich zur URL des Repositorys ein persönlicher Zugriffstoken benötigt. Dabei unterscheidet sich der Vorgang zum Erzeugen des Tokens leicht von Seite zu Seite. Hier werden exemplarisch die Vorgänge auf GitHub und Bitbucket beschrieben. Wenn du eine andere Seite nutzst und weitere Informationen benötigst, beziehe dich auf die Dokumentation des Anbieters.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="github-tab" data-toggle="tab" href="#github" role="tab" aria-controls="github" aria-selected="true">GitHub</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="bitbucket-tab" data-toggle="tab" href="#bitbucket" role="tab" aria-controls="bitbucket" aria-selected="false">Bitbucket</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="github" role="tabpanel" aria-labelledby="github-tab">
<div class="paragraph instruction">
<p>Einen persönlichen Zugriffstoken für private Repositorys auf GitHub erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne die <a href="https://github.com/settings/tokens" target="_blank" rel="noopener">Tokeneinstellungen</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> auf GitHub.</p>
</li>
<li>
<p>Klicke auf <strong>Generate new token</strong>.<br>
→ Gib dein Passwort ein, um fortzufahren.</p>
</li>
<li>
<p>Gib in das Feld <strong>Token description</strong> eine Beschreibung ein.</p>
</li>
<li>
<p>Aktiviere im Menü <strong>Select scopes</strong> das Kontrollkästchen <strong>repo</strong>.<br></p>
</li>
<li>
<p>Klicke auf <strong>Generate token</strong>.<br>
→ Es wird ein neuer Token erzeugt. Dieser wird im nächsten Schritt benötigt, lass die Seite also geöffnet oder speicher den Token lokal. Wenn du den Token lokal speicherst, solltest du ihn nach dem Hinzufügen des Repositorys zu plentymarkets wieder löschen.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="bitbucket" role="tabpanel" aria-labelledby="bitbucket-tab">
<div class="paragraph instruction">
<p>Einen persönlichen Zugriffstoken für private Repositorys auf Bitbucket erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne deine Kontoeinstellungen auf Bitbucket.</p>
</li>
<li>
<p>Öffne im Bereich <strong>Zugriffsverwaltung</strong> das Menü <strong>App-Passwörter</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>App-Passwort erstellen</strong>.</p>
</li>
<li>
<p>Gib einen Namen für das Passwort ein und aktiviere das Kontrollkästchen im Bereich <strong>Webhooks</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Erstellen</strong>.<br>
→ Es wird ein neuer Token erzeugt. Dieser wird im nächsten Schritt benötigt, lass die Seite also geöffnet oder speichere den Token lokal. Wenn du den Token lokal speicherst, solltest du ihn nach dem Hinzufügen des Repositorys zu plentymarkets wieder löschen.</p>
</li>
</ol>
</div>
</div></div>
</div>
<div class="sect2">
<h3 id="git-repository-hinzufuegen">3.2. Git-Repository hinzufügen</h3>
<div class="paragraph">
<p>Im Folgenden wird beschrieben, wie du ein Git-Repository zu deinem System hinzufügst. Dadurch kannst du das im Repository verwaltete Plugin nutzen.</p>
</div>
<div class="paragraph">
<p>Wenn du ein privates Repository hinzufügen möchtest, generiere zunächst einen Zugriffstoken wie zuvor beschrieben. Bei öffentlichen Repositorys benötigst du keinen Zugriffstoken.</p>
</div>
<div class="paragraph instruction">
<p>Git-Repository dem System hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Git</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Repository hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die Repository-Einstellungen werden angezeigt.</p>
</li>
<li>
<p>Gib in die entsprechenden Felder die URL des Repositorys, deinen Benutzernamen sowie den zuvor erzeugten Zugriffstoken in die dafür vorgesehenen Felder ein.<br>
<strong><em>Hinweis:</em></strong> Achte bei der URL darauf, die HTTPS-Adresse ohne die Endung <code>.git</code> zu verwenden.</p>
<div class="openblock">
<div class="content">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Öffentliche Repositorys</div>
<div class="paragraph">
<p>Bei öffentlichen Repositorys müssen keine tatsächlichen Zugangsdaten als Benutzername und Token eingegeben werden. Die beiden Felder dürfen aber auch nicht leer sein. Gib also jeweils eine beliebige Zeichenfolge ein, beispielsweise „Gast“.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</li>
<li>
<p>Gib in das Feld <strong>Branchname für Installation (Muss gültige plugin.json enthalten)</strong> den Namen eines Branches, auf dem es eine Datei namens <code>plugin.json</code>. Diese Datei muss so formatiert sein, wie in den <a href="https://developers.plentymarkets.com/dev-doc/plugin-information#plugin-json" target="_blank" rel="noopener">Anforderungen</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> beschrieben.<br>
Standardmäßig ist der master-Branch angegeben. Je nach Benennungskonvention der Entwickler:in kann es jedoch zu Abweichungen kommen. In diesen Fällen muss die Angabe entsprechend angepasst werden. Du kannst nach der Installation zwischen den Branches des Repositorys wechseln.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Verbindung zum Git-Repository wird geprüft und hergestellt.<br>
→ Konnte die Verbindung hergestellt werden, kannst du das Plugin in einem Plugin-Set installieren.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Hinzugefügte Plugins installieren</div>
<div class="paragraph">
<p>Wenn du ein Plugin deinem System hinzugefügt hast, musst du es noch in einem Plugin-Set installieren bevor du es nutzen kannst.</p>
</div>
<div class="paragraph">
<p>Wie du Plugins installieren kannst erfährst du auf der Seite <a href="/plugins/hinzugefuegte-plugins-installieren">Hinzugefügte Plugins in Plugin-Sets installieren</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="git-repositorys-funktionsuebersicht">3.3. Funktionsübersicht</h3>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Tabellenansicht des Menüs <strong>Plugins » Git</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neues Repository hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet eine Ansicht, in der Einstellungen für ein neues Repository vorgenommen werden können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Git-Repositorys</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet eine Ansicht, in der Einstellungen für das ausgewählte Repository vorgenommen werden können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entfernt das Repository aus dem System. Nicht auswählbar, wenn das Plugin noch in mindestens einem Plugin-Set installiert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Repository-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">HTTPS oder HTTP URL des Git-Repositorys.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Benutzername ist Bestandteil der Benutzerdaten des Anbieters (z.B. GitHub) für das Git-Repository.<br>
Bei öffentlichen Repositorys einen beliebigen Wert in das Feld eingeben, z.B. <strong>Gast</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Token ist Bestandteil der Benutzerdaten des Anbieters (z.B. GitHub) für das Git-Repository. Neue Tokens können in den Einstellungen des Anbieters erzeugt werden.<br>
Bei öffentlichen Repositorys einen beliebigen Wert in das Feld eingeben, z.B. <strong>Gast</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name des zu installierenden Branch (muss gültige plugin.json-Datei enthalten).</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Git-Repository muss eine <a href="https://developers.plentymarkets.com/dev-doc/plugin-information#plugin-json" target="_blank" rel="noopener">gültige Plugin.json-Datei</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> enthalten. Die Eingabe ist für die Erstinstallation notwendig.</p></td>
</tr>
</tbody>
</table>
<hr>
<div class="paragraph next-navigation">
<p><a href="/plugins/hinzugefuegte-plugins-installieren">Hinzugefügte Plugins installieren <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</div>
</main>