<div class="row margin-bottom-15">
	{% if $CheckoutMethodOfPaymentID == 5500 %}
			{% $_crefoFrame = Container_CheckoutCrefoPay() %}
		{% endif %}
		{% if strlen($_crefoFrame) %}
			{% if $_crefoFrame == "PENDING" || $_crefoFrame == "ACCEPTED" %}
			<div class="col-lg-6 col-md-6 col-sm-12">
				<h4>Vielen Dank für Ihre Bestellung!</h4>
				
				<hr>
				
				<p>
					Ihre Bestellung wurde erfolgreich an uns übermittelt. Sie erhalten eine entsprechende Bestätigung per E-Mail.
					Einen Überblick über Ihre Bestellungen finden Sie in der Auftragsübersicht.
				</p>
				<p>
					{% if $_crefoFrame == "PENDING"%}
					Ihre Zahlung wird bearbeitet. Zahlungsstatus => $_crefoFrame
					{% else %}
					Ihre Zahlung wurde bearbeitet. Zahlungsstatus => $_crefoFrame
					{% endif %}
				</p>
				
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<a class="btn btn-default btn-block" href="{% Link_Home() %}">
							<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Zurück zur Startseite
						</a>
					</div>
					
					<div class="col-lg-6 col-md-6 col-sm-6 margin-top-xs-1">
						<a class="btn btn-primary btn-block" href="{% Link_Home() %}?AccountShow=OrderOverView&OrderID=$_confirm->OrderID">
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Zur Auftragsübersicht
						</a>
					</div>
				</div>
			</div>
			{% else %}
				$_crefoFrame
			{% endif %}
		{% else %}
	
	<div class="col-lg-6 col-md-6 col-sm-12">
		<h4>Vielen Dank für Ihre Bestellung!</h4>
		
		<hr>
		
		<p>
			Ihre Bestellung wurde erfolgreich an uns übermittelt. Sie erhalten eine entsprechende Bestätigung per E-Mail.
			Einen Überblick über Ihre Bestellungen finden Sie in der Auftragsübersicht.
		</p>
		
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<a class="btn btn-default btn-block" href="{% Link_Home() %}">
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Zurück zur Startseite
				</a>
			</div>
			
			<div class="col-lg-6 col-md-6 col-sm-6 margin-top-xs-1">
				<a class="btn btn-primary btn-block" href="{% Link_Home() %}?AccountShow=OrderOverView&OrderID=$_confirm->OrderID">
					<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Zur Auftragsübersicht
				</a>
			</div>
		</div>
	</div>
	{% endif %}
</div>