<div class="row equal margin-bottom-1" data-plenty="UI.equalHeight(this, 'lg, md, sm')">
	
	{% $_apaAddress = Container_CheckoutAmazonPaymentsAdvancedAddressWidget() %}
	{% $_apaPayment = Container_CheckoutAmazonPaymentsAdvancedPaymentWidget() %} 
	
	
	<div class="col-lg-6 col-md-6 col-sm-6" data-plenty-checkout-template="MethodsOfPaymentList">
		{% if strlen($_apaPayment) > 0 %}
			$_apaPayment
		{% else %}
			{% Container_CheckoutMethodsOfPaymentList() %}
		{% endif %}
	</div>
	
	{% if strlen($_apaAddress) > 0 %}
		<div class="col-lg-6 col-md-6 col-sm-6" data-plenty-checkout-template="MethodsOfPaymentList">
			$_apaAddress		
		</div>	
	{% endif %}
	
	<div class="col-lg-6 col-md-6 col-sm-6 shipping-select" data-plenty-checkout-template="ShippingProfilesList">
		{% Container_CheckoutShippingProfilesList() %}
	</div>
	
</div>

<div class="text-right">
	<button class="btn btn-primary btn-lg btn-block-xs" id="goToOrderSummaryButton" data-plenty="click:Redirect.toCheckoutTab('next')">
		<span>Weiter</span><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	</button>
</div>