<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: ElasticSync</h1><p>Welcome to the topic Best Practices: ElasticSync. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/data/importing-data/elasticsync-best-practices/best-practices-elasticsync-storage-locations">Best Practices: Adjusting storage locations</a></li><li><a href="/en/data/importing-data/elasticsync-best-practices/best-practices-elasticsync-creating-variations">Best Practices: Creating variations</a></li><li><a href="/en/data/importing-data/elasticsync-best-practices/best-practices-elasticsync-client-links">Best Practices: Client links</a></li><li><a href="/en/data/importing-data/elasticsync-best-practices/best-practices-elasticsync-cross-selling-links">Best Practices: Cross-selling links</a></li><li><a href="/en/data/importing-data/elasticsync-best-practices/best-practices-elasticsync-property-links">Best Practices: Property links</a></li><li><a href="/en/data/importing-data/elasticsync-best-practices/best-practices-elasticsync-asin-epid">Best Practices: ASIN and ePID</a></li><li><a href="/en/data/importing-data/elasticsync-best-practices/best-practices-elasticsync-package-numbers-fulfilment">Best Practices: Package numbers and fulfilment</a></li><li><a href="/en/data/importing-data/elasticsync-best-practices/best-practices-elasticsync-contact-data">Best Practices: Contact data</a></li></ul>
</main>