<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Import types</h1><p>Welcome to the topic Import types. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/data/importing-data/sync-types/elasticSync-item">Item</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-assignment-taric-code">Assignment taric code</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-attributes">Attribute</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-orders">Orders</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-properties">Properties</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-facets">Facets</a></li><li><a href="/en/data/importing-data/sync-types/elasticsync-parts-compatibility-listing">Parts compatibility listing</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-coupon-codes">Coupon codes</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-manufacturer">Manufacturer</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-campaigns">Campaigns</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-categories">Categories</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-contacts">Contacts, accounts and addresses</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-warehouse">Warehouse</a></li><li><a href="/en/data/importing-data/sync-types/elasticsync-market-listing">Market listing</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-characteristic">Characteristics</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-newsletter">Newsletter</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-notes">Notes</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-stock">Stock</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-incoming-items">Incoming items</a></li></ul>
</main>