<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Sync types</h1><p>Welcome to the topic Sync types. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/data/importing-data/sync-types/elasticSync-item">Item</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-attributes">Attributes</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-orders">Orders</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-properties">Properties</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-facets">Facets</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-manufacturer">Manufacturer</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-categories">Categories</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-contacts">Contacts, companies and addresses</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-warehouse">Warehouse</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-characteristic">Characteristics</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-newsletter-recipient">Newsletter recipient</a></li><li><a href="/en/data/importing-data/sync-types/elasticSync-notes">Notes</a></li></ul>
</main>