<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_configuring_customer_feedback"><span>1.</span><span> Configuring customer feedback</span></a></li>
<li><a href="#_example_configuration_in_the_cms"><span>2.</span><span> Example configuration in the CMS</span></a></li>
<li><a href="#_sending_customers_a_feedback_reminder"><span>3.</span><span> Sending customers a feedback reminder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Customer feedback</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Old: CMS &amp; online store</div>
<div class="paragraph">
<p>This manual page describes functions that pertain to the old plentymarkets online shop <strong>Callisto</strong>. For information regarding the online store template <strong>Ceres</strong>, please refer to the <a href="/en/omni-channel/online-store/setting-up-ceres">Setting up Ceres page</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>By using the customer feedback module in the menu <strong>Setup » Client » Settings » Feedback</strong>, you can allow your customers to evaluate and comment on items, categories or blog entries in your online store. This menu also includes a <strong>Feedback</strong> tab. This is an answer function that allows customers to evaluate and comment on the feedback that was submitted by other customers.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_configuring_customer_feedback">1. Configuring customer feedback</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the menu <strong>Setup » Client » Settings » Feedback</strong> to specify which areas of your store customers should be allowed to give feedback in. The menu is divided into 4 tabs that represent different areas of the store.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Item</strong>: Evaluations of items</p>
</li>
<li>
<p><strong>Category</strong>: Evaluations of categories of the type <strong>Item</strong> and <strong>Content</strong></p>
</li>
<li>
<p><strong>Blog</strong>: Evaluations of blog entries</p>
</li>
<li>
<p><strong>Feedback</strong>: Evaluations of other customer feedback</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>All of the tabs include the same settings. Therefore, the configuration described below is identical for all tabs.</p>
</div>
<div class="paragraph instruction">
<p>Activating customer feedback:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Settings » Feedback</strong>.</p>
</li>
<li>
<p>Open the tab that you want to configure.</p>
</li>
<li>
<p>Pay attention to the explanations given in <a href="#table-activating-customer-feedback">Table 1</a> and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-activating-customer-feedback" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. activating customer feedback</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rating active?</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Specify whether the feedback function should be available and who should be able to use it.<br>
<strong>No</strong> = Deactivate feedback for this area.<br>
<strong>Always</strong> = Activate feedback for this area.<br>
<strong>Only for customers</strong> = Only activate feedback for customers who are logged in.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum rating</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the maximum value that can be given in the rating.<br>
<strong><em>Important</em></strong>: Use the setting <strong>1</strong> if you want your customers to vote on a specific issue. In this case, one star is a yes vote and zero stars is a no vote. Do not display a rating scale in this case. This also needs to be customised in the CMS area. Otherwise it would look like only low, one-star ratings were received.<br>
<strong><em>Caution</em></strong>: Evaluations that were already submitted can not be converted to a different rating scale. If this setting is changed after evaluations have been submitted, then the average rating will no longer match the rating scale.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comments active?</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Specify whether the comment function should be available and who should be able to use it.<br>
<strong>No</strong> = Deactivate comments for this area.<br>
<strong>Always</strong> = Activate comments for this area.<br>
<strong>Only for customers</strong> = Only activate comments for customers who are logged in.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Visibility of new comments</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Specify whether new comments should be visible in the online store as soon as they are received or whether they should initially be invisible. Comments are found in the menu <a href="/en/omni-channel/online-store/cms#customer-feedback">CMS » Customer feedback</a>. They can be made visible or invisible here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show customer name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Specify how customers' names should be displayed when they have logged in and left feedback.<br>
<strong>Show first name</strong> = Only the customer’s first name will be displayed.<br>
<strong>Show first name and surname</strong> = The customer’s first and last name will be displayed.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_example_configuration_in_the_cms">2. Example configuration in the CMS</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The customer feedback function is designed in the CMS menu. For further information about configuring the function as shown in <a href="#image-appearance-online-store">Figure 1</a> , refer to the <a href="/en/omni-channel/online-store/cms#customer-feedback">Customer feedback</a> page of the manual.</p>
</div>
<div id="image-appearance-online-store" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/extras/assets/EN-Client-Global-Customer-Feedback-01.png" alt="EN Client Global Customer Feedback 01">
</div>
<div class="title">Figure 1. appearance in the online store</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_sending_customers_a_feedback_reminder">3. Sending customers a feedback reminder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It is a good idea to send customers an email and let them know that they can submit feedback. This email can automatically be sent with help of the <a href="/en/automation/procedure-manager">procedure manager</a>. Create an <a href="/en/crm/sending-emails#1200">email template</a> in advance and link this template to the procedure.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Pay attention to the market’s terms and conditions</div>
<div class="paragraph">
<p>Understand each market’s terms and conditions before you request feedback for your online store. Some markets only allow you to request feedback if specific requirements are met. Some markets do not permit this at all. Exclude such markets from the automatic reminder function by opening the <strong>Procedure manager</strong> and using the <strong>Referrer</strong> option.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Manually sending an email template</div>
<div class="paragraph">
<p>You can also manually send a shipping confirmation email once you have shipped the items. Simply open the order and click on the <strong>Email</strong> tab to manually send an email. Customers will receive a link to the order overview in this email. Design the order overview so that it includes an area where customers can submit their feedback. Customers can use this link to change their feedback any time.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>