<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_items"><span>1.</span><span> Items</span></a>
<ul class="sectlevel2">
<li><a href="#_menu_structure"><span>1.1.</span><span> Menu structure</span></a></li>
<li><a href="#_new_items"><span>1.2.</span><span> New items</span></a></li>
<li><a href="#_data_formats"><span>1.3.</span><span> Data formats</span></a></li>
</ul>
</li>
<li><a href="#_variations"><span>2.</span><span> Variations</span></a>
<ul class="sectlevel2">
<li><a href="#_menu_structure_2"><span>2.1.</span><span> Menu structure</span></a></li>
<li><a href="#_new_variations"><span>2.2.</span><span> New variations</span></a></li>
<li><a href="#_variation_search"><span>2.3.</span><span> Variation search</span></a></li>
<li><a href="#_inheritance_of_variation_characteristics"><span>2.4.</span><span> Inheritance of variation characteristics</span></a></li>
<li><a href="#_variation_characteristics"><span>2.5.</span><span> Variation characteristics</span></a></li>
</ul>
</li>
<li><a href="#_units"><span>3.</span><span> Units</span></a></li>
<li><a href="#_barcodes"><span>4.</span><span> Barcodes</span></a></li>
<li><a href="#_sales_prices"><span>5.</span><span> Sales prices</span></a></li>
<li><a href="#_price_calculation"><span>6.</span><span> Price calculation</span></a></li>
<li><a href="#_customer_classes"><span>7.</span><span> Customer classes</span></a></li>
<li><a href="#_markets"><span>8.</span><span> Markets</span></a></li>
<li><a href="#_live_shopping"><span>9.</span><span> Live shopping</span></a></li>
<li><a href="#_template_variables"><span>10.</span><span> Template variables</span></a></li>
<li><a href="#_service_ticket"><span>11.</span><span> Service ticket</span></a></li>
<li><a href="#_payments_and_payment_providers"><span>12.</span><span> Payments and payment providers</span></a>
<ul class="sectlevel2">
<li><a href="#_splitting_payments"><span>12.1.</span><span> Splitting payments</span></a></li>
<li><a href="#_klarna_checkout"><span>12.2.</span><span> Klarna Checkout</span></a></li>
<li><a href="#_arvato_infoscore"><span>12.3.</span><span> arvato infoscore</span></a></li>
</ul>
</li>
<li><a href="#_soap_api"><span>13.</span><span> SOAP API</span></a></li>
<li><a href="#_customer"><span>14.</span><span> Customer</span></a>
<ul class="sectlevel2">
<li><a href="#10"><span>14.1.</span><span> Definition</span></a></li>
<li><a href="#_planned_sequence_of_the_migration"><span>14.2.</span><span> Planned sequence of the migration</span></a></li>
<li><a href="#_new_assignment_of_the_delivery_address_fields"><span>14.3.</span><span> New assignment of the delivery address fields</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Changes</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page provides you with a short overview of the most important changes in plentymarkets 7. The overview helps users get started with plentymarkets 7 after they have migrated their data. This description is geared towards experienced plentymarkets users. If you are unfamiliar with a certain function in plentymarkets, then take a look at the corresponding pages of the manual first.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">SOAP API only available for plentymarkets 7 Classic</div>
<div class="paragraph">
<p>After migrating to plentymarkets 7, the SOAP API is only available for customers with a Classic contract. Customers with a Zero contract cannot use the SOAP API. All plentymarkets 7 customers can use the REST API.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_items">1. Items</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_menu_structure">1.1. Menu structure</h3>
<div class="paragraph">
<p><strong>Item » Edit item » Open item</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>The menu <strong>Item » Edit item</strong> provides you with an overview of all your items, variations or your items along with their variations. Use the <strong>Table type</strong> search option to select which data you want to see.</p>
</li>
<li>
<p>A tab for the main variation is included in the menu <strong>Item » Edit item » Open item</strong> by default. This tab cannot be closed.</p>
</li>
<li>
<p>Further item variations are listed within the <strong>Variations</strong> tab. Click on a variation to open it.</p>
</li>
<li>
<p>Once a variation has been opened, it will appear in a new tab to the right of the main variation. These tabs can be closed.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_items">1.2. New items</h3>
<div class="paragraph">
<p><strong>Item » Edit item » Button: New</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>A main variation is always created when a new item is created. This main variation cannot be deleted.</p>
</li>
<li>
<p>Attributes can be selected when a new item is created. It will be possible to use these attributes for all of the item’s variations. If you create an item without attributes, then it will be possible to select all of the attributes that are available in the system when you create variations later. Once you have created a variation with attributes, it will only be possible to create additional variations with these attributes or without any attributes.</p>
</li>
<li>
<p>When creating a new item, you select between the item types <strong>Default</strong> and <strong>Set</strong>. An item set consists of several items. Customers can choose one of the variations of each of these items to make an individual set. In contrast to item bundles, when you offer sets, customers can select one of several variations for each product added to the Set item.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_data_formats">1.3. Data formats</h3>
<div class="paragraph">
<p><strong>Data » Dynamic export</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Incompatible item data formats are removed during migration.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_variations">2. Variations</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_menu_structure_2">2.1. Menu structure</h3>
<div class="paragraph">
<p><strong>Item » Edit item » Open item » Open variation</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Variations have their own <strong>Images</strong> tab.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_new_variations">2.2. New variations</h3>
<div class="paragraph">
<p><strong>Item » Edit item » Open item » Tab: Variations » Button: New</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Variations are created by defining the content and selecting the available attributes.</p>
</li>
<li>
<p>The number of variations that are created depends on the combinations of available attributes. The number of selected and possible combinations is displayed in the bottom right corner.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_variation_search">2.3. Variation search</h3>
<div class="paragraph">
<p>You can search for variations in the following menus:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Menu</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item » Edit item</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>New search filters <strong>Variation ID</strong> and <strong>Variation number</strong> as well as the table type <strong>Variation</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item » Edit item » Open item » Tab: Variations</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Searches for variations that belong to the item. It includes filters for the attributes that were assigned.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item » Edit item » Open item » Tab: Variations » Button: New</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Searches for the attributes that were saved for the item. This makes it possible to create new variations with these attributes.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: different ways to search for variations</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_inheritance_of_variation_characteristics">2.4. Inheritance of variation characteristics</h3>
<div class="paragraph">
<p>When a variation is created, it will inherit settings from the main variation. If you want to use different settings for the variation, then you will need to deactivate the inheritance function for the variation and carry out new settings.</p>
</div>
<div class="paragraph">
<p>The following table illustrates the various types of variation characteristics that can be inherited. The table lists the visual appearance, the behaviour and the process for deactivating the inheritance.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type of setting</th>
<th class="tableblock halign-left valign-top">Appearance if inheritance is active</th>
<th class="tableblock halign-left valign-top">Behaviour</th>
<th class="tableblock halign-left valign-top">Deactivation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Drop-down menu</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The first value in the drop-down menu is the setting for the main variation. Inherited values are displayed in grey font. Empty fields can also be inherited.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Only inherited if the first value is selected.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Inheritance is deactivated as soon as you select a value that differs from the main variation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Checkbox</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Checkbox with a red line through it. Next to it is a checkbox with the setting for the main variation.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>3 possible conditions:<br>
<strong>Activated</strong> (check mark)<br>
<strong>Deactivated</strong> (no check mark)<br>
<strong>Inherit</strong> (crossed out)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Click on the checkbox with a line through it</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Text field</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Inherited values are displayed in grey font. Empty fields can also be inherited.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Inheritance is automatically deactivated if a text field is cleared, filled with text or if the inherited content is edited.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If you want to have empty fields in the variations, then you need to leave the field blank in the main variation and instead manage this data in the variations.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Text fields with 1:n links</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Inherited values are displayed in grey font.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Either all or none of the data is inherited. It is not possible for only some of the data to be inherited.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Use the button in the header area to deactivate the inheritance.<br>
The inheritance is automatically deactivated if a value is changed or added to the variation. Unchanged values are inherited and saved directly for the variation. If the inheritance is activated again, then all of the values will be deleted and taken from the main variation again.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: inheritance logic</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_variation_characteristics">2.5. Variation characteristics</h3>
<div class="paragraph">
<p>Some characteristics that were previously managed for each item in the old architecture are now managed for each variation. The following tables list the variation characteristics that are now managed for each variation. The tables list the characteristics for each of the variation’s tabs. The inheritance logic is also described.</p>
</div>
<div class="paragraph subhead">
<p>Variation settings</p>
</div>
<div class="paragraph">
<p><strong>Item » Edit item » Open item » Open variation » Tab: Settings</strong></p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Area</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Inheritance</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Basic settings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Variation name</strong> = Further specification of the content;<br>
previously <strong>Unit 1</strong> and <strong>Unit 2</strong><br>
<strong>Variation No.</strong> = Unique variation identifier</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Individual inheritance of the following settings:<br>
<strong>External variation ID</strong><br>
<strong>Model</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Availability</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Active</strong> = Controls whether a variation is active.<br>
<strong>Note:</strong> If you do not want to sell a main variation, but rather you only want to use it to manage other variations, then do not activate it.<br>
This was previously set in the item’s <strong>Stock</strong> and <strong>Available</strong> tabs.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Individual inheritance of all settings<br>
Exception: <strong>Active</strong> is not inherited.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sales prices</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Replaces the price sets</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>All or none</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Barcode</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Replaces the GTIN (formerly EAN)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>None</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ASIN/ePID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>No change</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>None</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Dimensions</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Previous component of the price sets</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Individual inheritance of the settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Costs</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Previous component of the price sets</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Individual inheritance of the settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Previous component of the price sets</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Individual inheritance of the settings</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 3: variation settings</em></p>
</div>
<div class="paragraph subhead">
<p>Other variation tabs</p>
</div>
<div class="paragraph">
<p><strong>Item » Edit item » Open item » Open variation</strong></p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Variation tab</th>
<th class="tableblock halign-left valign-top">Tab components/explanation</th>
<th class="tableblock halign-left valign-top">Inheritance</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Categories</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Linked categories<br>
Default categories<br>
<strong>Position</strong> = The category’s priority<br></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Linked categories: all or none<br>
Default categories: none</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Supplier</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Supplier data</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>All or none</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warehouse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Warehouse data</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>All or none</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stock</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Incoming items<br>
Correction<br>
Stock</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>None</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bundle</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Variation bundle components<br>
Add variation</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>None</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Images</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Upload the images and link them to the variation. The images are saved on the item level. This means that you can link the images to other variations of the item as well. This can be done in the item’s <strong>Images</strong> tab.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>None</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Availability</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Markets = Availability on markets<br>
SKU = SKUs for exporting to markets<br>
Client (store) = client availability; replaces the item’s <strong>store visibility</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Markets: All or none<br>
SKU: None<br>
Client (store): All or none</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 4: variation tabs</em></p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_units">3. Units</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Item » Units</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Units are now defined in the menu <strong>System » Item » Units</strong>.</p>
</li>
<li>
<p>You can create other custom units there too.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_barcodes">4. Barcodes</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Item » Barcode</strong><br>
<strong>Item » Edit item » Open item » Open variation</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>The previous EAN were turned into barcodes.</p>
</li>
<li>
<p>EAN were renamed to GTIN (Global Trade Item Number).</p>
</li>
<li>
<p>There is no limit to the number of barcodes that can be created.</p>
</li>
<li>
<p>The barcode type is defined in the menu <strong>System » Item » Barcode</strong>.</p>
</li>
<li>
<p>Available barcode types: <strong>GTIN 8</strong>, <strong>GTIN 13</strong>, <strong>GTIN 14</strong>, <strong>GTIN 128</strong>, <strong>ISBN</strong>, <strong>QR</strong>, <strong>CODE 128</strong>, <strong>UPC</strong>.</p>
</li>
<li>
<p>Go to <strong>Item » Edit item » Open item » Open variation » Tab: Settings</strong> to select the barcode type and enter the code for each individual variation.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_sales_prices">5. Sales prices</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Item » Sales prices</strong><br>
<strong>Item » Edit item » Open item » Open variation » Tab: Settings</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Price columns were replaced with sales prices.</p>
</li>
<li>
<p>Sales prices are defined in the <strong>System » Item » Sales prices</strong> menu.</p>
</li>
<li>
<p>Go to <strong>Item » Edit item » Open item » Open variation » Tab: Settings</strong> to select the sales price and enter the price.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>System » Client » Select client » Item layouts » Settings</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Attribute surcharges were removed. They are now included in the sales prices. Therefore, the option <strong>Attribute surcharge</strong> was removed.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_price_calculation">6. Price calculation</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Item » Calculation</strong><br>
<strong>Item » Edit item » Open item » Open variation » Tab: Settings</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Flexible creation of price calculations.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_customer_classes">7. Customer classes</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Customers » Classes</strong></p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Change</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The option <strong>No discount</strong> was added.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The sales price will be calculated if you select this option.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The option <strong>Customer class discount</strong> was added.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select this option and then enter the appropriate discount in %.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The option <strong>Price column</strong> was removed.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Customer classes are now assigned to sales prices in the menu <strong>System » Item » Sales prices</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The options <strong>Discount scale based on standard price</strong> and <strong>Discount scale on a defined price column</strong> were removed.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Discount scales are now defined in the menu <strong>System » Item » Sales prices</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The <strong>Price visibility</strong> tab was removed.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The price visibility for customer classes is now defined in the menu <strong>System » Item » Sales prices</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 5: changes to the customer classes</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_markets">8. Markets</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Markets</strong></p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Menu</th>
<th class="tableblock halign-left valign-top">Change</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Price comparison portals</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>System » Markets » Price analysis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This menu was deactivated. Price portals were moved to the menu <strong>Data » Elastic export</strong>. The price portal’s URL will be renewed once you have migrated your data to plentymarkets 7. The old URLs will no longer work.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Amazon</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>System » Markets » Amazon » Settings » Access data</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This menu was removed. The settings have been moved to the <strong>Initial settings</strong> tab.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>System » Markets » Amazon » Settings » Initial settings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The <strong>Access data</strong> section now includes the settings that were previously found in the <strong>Access data</strong> tab.</p>
</div>
<div class="paragraph">
<p>The settings <strong>SKU structure for individual items</strong>, <strong>SKU structure for item variations</strong> and <strong>Assign SKU using</strong> were combined to form the setting <strong>SKU structure</strong>. SKU are managed for each individual variation. The <strong>SKU structure</strong> setting only goes into effect for items that do not have an SKU and are exported for the first time.</p>
</div>
<div class="paragraph">
<p>The setting <strong>Assignment by EAN</strong> was removed. GTIN were replaced with barcodes. Barcodes are defined in the menu <strong>System » Item » Barcode</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>System » Markets » Amazon » Settings » Item settings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The settings <strong>Price</strong>, <strong>Price for special offers</strong>, <strong>Price FBA</strong> and <strong>Price FBA for special offers</strong> were removed. Price columns were replaced with sales prices. Sales prices are defined in the <strong>System » Item » Sales prices</strong> menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>System » Markets » Amazon » Settings » Repricing</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This menu was removed. Starsellersworld export is not available in plentymarkets any longer. You have the opportunity to implement Starsellersworld export with a plugin.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item » Edit item » Open item » Tab: Available</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Go to <strong>Item » Edit item » Open item » Open variation » Tab: Availability</strong> to make individual Amazon platforms available for the main variation. Variations do not have to use the same availability settings as their main variation. They can be given individual availability settings in the menu <strong>Item » Edit item » Open item » Open variation » Tab: Availability</strong>.</p>
</div>
<div class="paragraph">
<p>The option <strong>FBA and Seller Central</strong> was removed from the drop-down menu <strong>Fulfillment by Amazon (FBA)</strong> and added to the selection of market availabilities.</p>
</div>
<div class="paragraph">
<p>The settings <strong>Amazon product type</strong>, <strong>Fulfillment by Amazon (FBA)</strong> and <strong>Shipment by Amazon (FBA)</strong> were added to the menu <strong>Item » Edit item » Open item » Tab: Multi-Channel</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Allyouneed</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>System » Markets » Allyouneed » Settings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The setting <strong>Price column</strong> was removed from the section <strong>Basic configuration</strong>. The settings <strong>EAN</strong> and <strong>Prefer ISBN over EAN</strong> were removed from the section <strong>Advanced options</strong>. Price columns were replaced with sales prices. Sales prices are defined in the <strong>System » Item » Sales prices</strong> menu. GTINs were replaced with barcodes. Barcodes are defined in the menu <strong>System » Item » Barcode</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Cdiscount</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>System » Markets » Cdiscount » Tab: Settings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The setting <strong>Item EAN</strong> was removed. GTINs were replaced with barcodes. Barcodes are defined in the menu <strong>System » Item » Barcode</strong>.</p>
</div>
<div class="paragraph">
<p>The setting <strong>Variation EAN</strong> was renamed <strong>Variation EAN barcode</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>eBay</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>System » Markets » eBay » Settings » Initial settings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The setting <strong>Use the item number as SKU</strong> was renamed <strong>Use variation number as SKU</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>System » Markets » eBay » Settings » Account settings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The setting <strong>Item availability</strong> was renamed <strong>Variation availability</strong>.</p>
</div>
<div class="paragraph">
<p>The setting <strong>Price column</strong> was removed. Price columns were replaced with sales prices. Sales prices are defined in the <strong>System » Item » Sales prices</strong> menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Data » eBay listings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The setting <strong>Compare the SKU to the item number</strong> was renamed <strong>Compare SKU to variation number</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item » Edit item » Create new listing</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The setting <strong>Content</strong> was added. In the past, the price set was linked. The new selection box contains different values in different situations:<br>
If an item has variations with attribute links, then you will only be able to select the content that was saved for one of these variations.<br>
If an item does not have any variations with attribute links, then you will be able to select any of the content options.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Flubit</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>System » Markets » Flubit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The setting <strong>Price column</strong> was removed. Price columns were replaced with sales prices. Sales prices are defined in the <strong>System » Item » Sales prices</strong> menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Fruugo</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>System » Markets » Fruugo » Settings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The settings <strong>EAN</strong> and <strong>Price column</strong> were removed. EAN were replaced with barcodes. Barcodes are defined in the menu <strong>System » Item » Barcode</strong>. Price columns were replaced with sales prices. Sales prices are defined in the <strong>System » Item » Sales prices</strong> menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Gimahhot</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>System » Markets » Gimahhot</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>On Gimahhot, item variations are not permitted. Therefore, plentymarkets 7 transfers all variations as single items. Variation attribute values are displayed together with the item name. Example: shirt, blue, M (blue and M are the attribute values of the variation).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Mercateo</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>System » Markets » Mercateo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>On Mercateo, item variations are not permitted. Therefore, plentymarkets 7 transfers all variations as single items. Variation attribute values are displayed together with the item name. Example: shirt, blue, M (blue and M are the attribute values of the variation).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Rakuten.de</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>System » Markets » Rakuten » Settings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Item export for Rakuten.de was removed from the basic settings. The item export is now carried out by the elastic export in the <strong>Data » Elastic export</strong> menu. When generating the <strong>RakutenDE</strong> data format for the first time, a new URL will be created and must be transferred to Rakuten.de once.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>ricardo.ch</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item » Edit item » Create new listing</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The setting <strong>Content</strong> was added. In the past, the price set was linked. The new selection box contains different values in different situations:<br>
If an item has variations with attribute links, then you will only be able to select the content that was saved for one of these variations.<br>
If an item does not have any variations with attribute links, then you will be able to select any of the content options.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Shopgate</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>System » Markets » Shopgate</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The setting <strong>Price column</strong> was removed. Price columns were replaced with sales prices. Sales prices are defined in the <strong>System » Item » Sales prices</strong> menu.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 6: changes to the markets</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_live_shopping">9. Live shopping</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Client » Settings » Live shopping</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>The sales price is now automatically selected for live shopping offers according to the sales price settings. You must have created a sales price of the price type <strong>Special offer</strong> and saved this sales price for the item.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_template_variables">10. Template variables</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following template variables for filtering properties are not available any more:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$FilterAttributes</p>
</li>
<li>
<p>$FilterAttributesExist</p>
</li>
<li>
<p>$FilterAvailability</p>
</li>
<li>
<p>$FilterAvailabilityExist</p>
</li>
<li>
<p>$FilterBrands</p>
</li>
<li>
<p>$FilterCategories</p>
</li>
<li>
<p>$FilterCategoryExist</p>
</li>
<li>
<p>$FilterCharacterGroups</p>
</li>
<li>
<p>$FilterCharacterGroupsExist</p>
</li>
<li>
<p>$FilterExists</p>
</li>
<li>
<p>$FilterString</p>
</li>
<li>
<p>$Request_CharacterID</p>
</li>
<li>
<p>$Request_CharacterName</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_service_ticket">11. Service ticket</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets no longer offers ticket support starting with plentymarkets&nbsp;7. This was replaced with the new forum. As such, the menu <strong>Start » Support ticket</strong> was removed.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_payments_and_payment_providers">12. Payments and payment providers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following changes in the <strong>Payment</strong> area result from updating to plentymarkets 7.</p>
</div>
<div class="sect2">
<h3 id="_splitting_payments">12.1. Splitting payments</h3>
<div class="paragraph">
<p>Manually booked incoming payments, imported bank postings as well as EBICS and HBCI payments can be split in the <strong>Orders » Payments</strong> menu. In this way, one payment can be assigned to multiple orders. Not that interim transaction reports cannot be split. To split payments, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Splitting a payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Payments</strong>.</p>
</li>
<li>
<p>In the line of an incoming payment, click on <strong>Split payment</strong>.<br>
→ The <strong>Split payment</strong> window will open and a list with all open orders will be displayed.</p>
</li>
<li>
<p>Filter the orders if needed.</p>
</li>
<li>
<p>Place a check mark next to the orders that you want to assign to the payment.</p>
</li>
<li>
<p>Click on <strong>Execute</strong>.<br>
⇒ The selected orders are assigned to the payment.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Newly assigned payments in the overview after splitting a payment</div>
<div class="paragraph">
<p>After clicking on <strong>Reload</strong>, new entries assigned to the previously selected orders will be created in the payments overview. In addition, an unassigned entry will also be created if there is a remaining amount of the split payment. Then again, the unassigned entry can be split. In order to restore or delete the previously split payment, delete all payments assigned by splitting first.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_klarna_checkout">12.2. Klarna Checkout</h3>
<div class="paragraph">
<p>When updating to plentymarkets 7 and changing to the Amazon Cloud, the code in the Select the country category must be changed. Update the <a href="/en/order-processing/payment/klarna-checkout#100">code for Klarna Checkout</a> in the category of the <strong>Container</strong> type.</p>
</div>
</div>
<div class="sect2">
<h3 id="_arvato_infoscore">12.3. arvato infoscore</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Note</div>
<div class="paragraph">
<p>As previously announced, arvato infoscore cannot be accounted with plentymarkets from version 7 on. Now, arvato and plentymarkets have reached the decision to end the cooperation on 31/09/2017. Starting 01/10/2017, the interface to plentymarkets 6 will cease to function. We apologise for any inconvenience caused.</p>
</div>
<div class="paragraph">
<p>You can find information on an alternative to arvato  <a href="https://www.plentymarkets.eu/blog/Unsere-Partnerschaft-mit-arvato-endet-ndash-die-Alternative-lautet-atriga/b-1908/" target="_blank" rel="noopener">here</a> (German language only).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_soap_api">13. SOAP API</h2>
<div class="sectionbody">
<div class="paragraph">
<p>All calls have been updated for plentymarkets 7. However, some calls should no longer be used because of the different item architectures in plentymarkets 6 and plentymarkets 7. These calls no longer return results. This page provides a list of calls that already process data in the new item architecture. You will also find a 2nd list of calls, which require special attention. Here you will need to pay extra attention to which value is specified for a parameter or which value is transmitted.</p>
</div>
<div class="paragraph">
<p>The following calls can no longer be used in plentymarkets 7. They are listed in alphabetical order.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>GetItemsPreviewLink</p>
</li>
<li>
<p>GetDeliveryCharges</p>
</li>
<li>
<p>GetMarketplaceTransactions</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The following calls contain parameters that require extra attention or that may not be intuitive from their parameter name:[#120]</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Parameter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>DeleteItems</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Specify a variation ID as the value for the request parameter ItemID to delete variations.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ExternalItemID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Specify a variation ID as the value for the request parameter ExternalItemID. This is because the prices are assigned to the variation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>DeletePriceSets</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Specify a variation ID as the value for the request parameter ItemID. This is because the prices are assigned to the variation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PriceID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Specify the ID of a sales price for the request parameter PriceID. Specify the ID of whichever sales price you want to delete from the variation. Pay attention to which sales prices and prices were assigned to each other in the menu SOAP migration.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>GetItemsBase</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>GetAttributeValueSets</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>If the value was set to <strong>true</strong> for this parameter, then all of the item’s variations have to be listed in the SOAP response. A variation’s parameter structure must exactly match the main variation’s structure. Due to the new item architecture, all of an item’s variations are directly listed as PlentySoapObject_ItemBase and no longer as PlentySoapObject_ItemAttributeValueSet. If the parameter GetAttributeValueSets is not set to true, then only the item’s main variation has to be displayed in the SOAP response.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PlentySoapObject_ItemAttributeValueSet</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The parameter is ignored for plentymarkets 7. Due to the new item architecture, all of an item’s variations are directly listed as PlentySoapObject_ItemBase.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>GetItemsPriceLists</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PlentySoapObject_ItemPriceSet</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The parameter PlentySoapObject_ItemPriceSet is displayed for every customer class in the response. This allows you to tell which price set applies to the customer class. You can recognise the customer classes with the response parameter ShowOnly. 0 means that the price set applies to all customer classes. 1 means that the price set only applies to B2C customers. 2 means that the price set applies to B2B customer classes.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>GetItemsSuppliers</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The variation ID has to be specified as the value for the parameter ItemID.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>GetItemsTexts</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemNumber</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The variation number has to be specified as the value for the parameter ItemNumber.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ExternalItemNumber</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The external variation number has to be specified as the value for the parameter ExternalItemNumber.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>GetItemsUpdated</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The variation’s IDs are returned in the response.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>GetLinkPriceColumnToReferrer</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PriceColumnID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The ID of the sales price is returned in the PriceColumnID parameter.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>GetMarketListingItemVariants</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The variation IDs are returned in the response message.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>GetMultiShops</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemPriceColumn</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The parameter ItemPriceColumn can no longer be called in plentymarkets 7. This is because price columns are no longer used in plentymarkets 7.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>SetAttributeValueSetsDetails</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MaxStock</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>A variation’s maximum stock can not be transferred using this call. Use the call <strong>SetItemsWarehouseSettings</strong> to transfer a variation’s maximum stock.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>StockBuffer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>A variation’s stock buffer cannot be transferred using this call. Use the call <strong>SetItemsWarehouseSettings</strong> to transfer a variation’s stock buffer.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>SetItemAttributeLinks</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemID<br>
AttributeID<br>
AttributeValueID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Item variations can be created with this call. The request parameters ItemID, AttributeID and AttributeValueID are mandatory.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The request parameter Activate is outdated. The variation’s attributes and attribute values will automatically be activated when the variation is created.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AttributeExtraCost</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The request parameter AttributeExtraCost is also outdated due to the new sales prices.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>SetItemAttributeVariants</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AttributeValueIDs</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The call is used to delete variations. Delete a variation by specifying the item ID in the parameter ItemID and by specifying which attribute value should be deleted in the parameter AttributeValueIDs. You will also need to set the request parameter delete to <strong>true</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>SetItemAvailability</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AvailabilityID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The variation ID has to be specified as the value for the parameter AvailabilityID.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>SetItemsBase</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This call can be used to create new items, to edit existing items and to edit variations. You will need to pay attention to different parameters depending on what you want to do.<br>
The following parameters are mandatory for creating new items:
* ItemNo
* Texts
* Categories
* PriceSet</p>
</div>
<div class="paragraph">
<p>Enter the value of a price set for the parameter PriceSet. Enter the value of whichever price set was assigned to the new sales prices. You will not be able to create an item if you do not assign the prices.<br>
If you want to edit an existing item, then specify the item ID in the parameter ItemID.<br>
If you want to edit a variation, then specify the variation ID as the value for the parameter PriceID.<br>
For the input parameter BaseItems.PlentySoapObject_SetItemsBaseItemBase.VATInternalID, do not enter the ID of the internal system VAT rate. Instead, enter the value 19 for 19%, the value 7 for 7% and the value 0 for 0%.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>SetItemCategory</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The variation ID has to be specified as the value for the parameter ItemID.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>SetItemsDefaultCategory</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The variation ID has to be specified as the value for the parameter ItemID.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>SetMarketListings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AttributeValueSetID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The variation ID has to be specified as the value for the parameter AttributeValueSetID.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>SetItemsSuppliers</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ItemID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The variation ID has to be specified as the value for the parameter ItemID.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_customer">14. Customer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The customer data area is currently being restructured. The rigid customer data model will be transferred into a flexible data model. This new model is a useful compromise of the requirements of a classic B2C online seller and a flexible CRM system.</p>
</div>
<div class="paragraph">
<p>You will not recognise the changes at first sight since the UI initially remains the same. It will be adapted gradually in the course of the project. The advantage of this procedure to transfer the changes little by little is that the scope of changes remains comprehensible making it possible to flexibly organise the project.</p>
</div>
<div class="paragraph">
<p>The most important changes are listed in the following:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The current customer data record consisting of company, customer and address data will be split in individual components (see chapter <a href="/en/basics/version-upgrade/changes#10">Definition</a>).</p>
</li>
<li>
<p>If an order is made via a guest account, no contact data record will be created. Instead only invoice and delivery address will be saved in the order to be able to correctly process the order.</p>
</li>
<li>
<p>It is no longer possible to save customer characteristics for guest orders.</p>
</li>
<li>
<p>It is no longer possible that multiple regular accounts with the same email address exist. During migration of these accounts, it will be checked which of these customer data records with at least one order was created last. The most current customer data record with the highest ID will be kept as regular account; all other accounts will be converted into a guest account.</p>
</li>
<li>
<p>The contact is equivalent to a person. This person can optionally be linked to one company or multiple companies.</p>
</li>
<li>
<p>You can link n addresses of various types to one contact.</p>
</li>
<li>
<p>A contact may have n contact options, e.g. multiple telephone numbers, multiple email addresses.</p>
</li>
<li>
<p>All addresses will be based on one model and one data structure. The type (invoice address, delivery address, more types will follow) will be defined within the link. This means that, e.g., one individual address data record can be linked to the same order both as invoice address and as delivery address.</p>
</li>
<li>
<p>At least one invoice address and one delivery address is linked to an order.</p>
</li>
<li>
<p>Each contact option must be defined by a type and a sub-type. This is important for clarity reasons and to define where it is used.</p>
</li>
<li>
<p>During migration, a company will not be created automatically for every contact. A company data record will only be created if the company name and in addition a payment due date, sales representative, VAT number or customer number are available.</p>
</li>
<li>
<p>If an address is created, an automatic check for duplicates will be carried out in the background. If the address already exists in the system, it will be linked to the existing data record (contact or order). In this case, no second address will be created.</p>
</li>
<li>
<p>During migration, the customer <strong>Cash sale</strong> which is available as a standard in version 6 and has the ID <strong>-1</strong> will receive a regular ID. This ID will be automatically assigned from the available ID range and saved in the system.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Image 1 shows an overview of the new structure in the are of customer data.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/version-upgrade/assets/AccountContactAddress-01-de.png" alt="AccountContactAddress 01 de">
</div>
<div class="title">Figure 1. Overview of the new structure</div>
</div>
<div class="sect2">
<h3 id="10">14.1. Definition</h3>
<div class="ulist">
<ul>
<li>
<p>Contact: a person</p>
</li>
<li>
<p>ContactOptions: Communication data such as telephone numbers, email addresses<br>
→ is composed of ContactID, TypeID, SubTypeID and the actual value</p>
</li>
<li>
<p>Type of the contact options: Email address, telephone number,&nbsp;…​</p>
</li>
<li>
<p>SubType of the contact options: private, business, mobile,&nbsp;…​</p>
</li>
<li>
<p>Company (account): Company-related data, multiple contacts can be linked to a company.</p>
</li>
<li>
<p>Address: general address data record</p>
</li>
<li>
<p>Address relation: Relation between address and contact or order<br>
→ Defines the type (e.g. invoice address or delivery address, more types will follow)</p>
</li>
<li>
<p>Address option: External ID, entry certificate, telephone number, email, VAT number,&nbsp;…​</p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/version-upgrade/assets/AccountContactAddress-04-de.png" alt="AccountContactAddress 04 de">
</div>
<div class="title">Figure 2. Detailed structure of a contact option</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/version-upgrade/assets/AccountContactAddress-03-de.png" alt="AccountContactAddress 03 de">
</div>
<div class="title">Figure 3. example</div>
</div>
</div>
<div class="sect2">
<h3 id="_planned_sequence_of_the_migration">14.2. Planned sequence of the migration</h3>
<div class="paragraph">
<p>The migration will be carried out in several steps. First, the new data tables will be created. Afterwards, these data tables will be filled with the existing data. In the course of the project, the new program code will be released. The last step includes a synchronisation of the delta between the data records already migrated and current data records. Systems that are currently in version beta 7 will be updated automatically.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/version-upgrade/assets/AccountContactAddress-02-de.png" alt="AccountContactAddress 02 de">
</div>
<div class="title">Figure 4. Data migration</div>
</div>
</div>
<div class="sect2">
<h3 id="_new_assignment_of_the_delivery_address_fields">14.3. New assignment of the delivery address fields</h3>
<div class="paragraph">
<p>The following table compares the delivery address fields of the previous and the new model.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Previous model</th>
<th class="tableblock halign-left valign-top">New model</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Company</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>name1</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>First name</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>name2</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Last name</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>name3</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>name4</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Street</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>address1</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>House number</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>address2</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Additional address information</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>address3</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>address4</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 8: new assignment of the fields in the delivery address</em></p>
</div>
</div>
</div>
</div>
</main>