<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_fehlerbehandlung_bei_prozessen"><span>1.</span><span> Fehlerbehandlung bei Prozessen</span></a></li>
<li><a href="#_konfiguration"><span>2.</span><span> Konfiguration</span></a></li>
<li><a href="#_aktionen_und_subaktionen"><span>3.</span><span> Aktionen und Subaktionen</span></a>
<ul class="sectlevel2">
<li><a href="#_übersicht"><span>3.1.</span><span> Übersicht</span></a></li>
<li><a href="#_aktion_e_mail"><span>3.2.</span><span> Aktion E-Mail</span></a></li>
<li><a href="#_aktion_auftrag"><span>3.3.</span><span> Aktion Auftrag</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Fehlerbehandlung</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Prozesse</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_fehlerbehandlung_bei_prozessen">1. Fehlerbehandlung bei Prozessen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um zu vermeiden, dass bei der Auftragsabwicklung ein Prozess aufgrund eines oder mehrerer fehlerhafter Aufträge abgebrochen wird, gibt es die Möglichkeit zur Fehlerbehandlung. Hierbei können zu fehlerhaften Aufträgen zum Beispiel Notizen zur späteren Korrektur hinterlassen werden. Alle anderen Aufträge laufen ordnungsgemäß durch den Prozess. Die Fehlerbehandlung muss zunächst für die betroffene Aktion wie nachfolgend beschrieben konfiguriert werden, um zu greifen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Verfügbarkeit der Fehlerbehandlung</div>
<div class="paragraph">
<p>Aktionen, für die eine Fehlerbehandlung verfügbar ist, sind mit einem grauen Käfer gekennzeichnet (Bild 1). Der Käfer färbt sich rot, sobald die Fehlerbehebung konfiguriert wurde (Bild 2).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Einen Überblick über die <em><strong>Fehlerbehandlung in Prozessen</strong></em> erhalten Sie auch im folgenden Videotutorial:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-3293/" target="_blank" rel="noopener">Fehlerbehandlung</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_konfiguration">2. Konfiguration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Konfiguration der Fehlerbehandlung wird im Folgenden am Beispiel der Aktion <a href="/basics/automatisierung/prozesse/aktionen#430">Versand-Center</a> erläutert.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Option für Aktionen mit Fehlerbehandlungsmöglichkeit</div>
<div class="paragraph">
<p>Die Option <strong>Im Fehlerfall</strong> steht bei den Aktionen mit der Möglichkeit zur Fehlerbehandlung zur Verfügung. Wählen Sie, wie im Fehlerfall mit dem Prozess fortgefahren werden soll. Entweder den <strong>Prozess abbrechen</strong>, zu einer bestimmten <strong>Aktion springen</strong> oder mit der <strong>nächsten Aktion fortfahren</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/prozesse/assets/DE-Prozesse-Fehlerfall-01.png" alt="Aktion **Versand-Center** mit Fehlerbehandlung">
</div>
<div class="title">Bild 1. Aktion <strong>Versand-Center</strong> mit Fehlerbehandlung</div>
</div>
<div class="paragraph instruction">
<p>Fehlerbehebung konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Prozesse</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Prozess mit der Aktion, für die Sie eine weitere Aktion für Fehlerfälle konfigurieren möchten.</p>
</li>
<li>
<p>Klicken Sie mit der <strong><em>rechten Maustaste</em></strong> auf die gewünschte Aktion mit einem grauen Käfer (Bild 1, blauer Pfeil).<br>
→ Ein Kontextmenü wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Kontextmenü auf die Option <strong>Aktion für Fehlerfall hinzufügen</strong> (Bild 1, roter Pfeil).</p>
</li>
<li>
<p>Wählen Sie die gewünschte <strong>Aktion</strong> (Kapitel 3) aus dem Dropdown-Menü.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>.<br>
→ Die Aktion wird angelegt. Innerhalb der Fehlerbehandlung angelegte Aktionen sind immer <em><strong>rot umrandet</strong></em> (Bild 2).</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_aktionen_und_subaktionen">3. Aktionen und Subaktionen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie haben die Wahl, entweder die Aktion <strong>Auftrag</strong> und/oder <strong>E-Mail</strong> hinzuzufügen.</p>
</div>
<div class="sect2">
<h3 id="_übersicht">3.1. Übersicht</h3>
<div class="paragraph">
<p>Verfügbare Aktionen und zugehörige Subaktionen in der Fehlerbehandlung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Aktion: <a href="/basics/automatisierung/prozesse/aktionen#220">E-Mail</a></p>
</li>
<li>
<p>Subaktion: <a href="/basics/automatisierung/prozesse/subaktionen#330">Versenden</a></p>
</li>
<li>
<p>Aktion: <a href="/basics/automatisierung/prozesse/aktionen#170">Auftrag</a></p>
</li>
<li>
<p>Subaktion: <a href="/basics/automatisierung/prozesse/subaktionen#290">Status ändern</a></p>
</li>
<li>
<p>Subaktion: <a href="/basics/automatisierung/prozesse/subaktionen#130">Auftragsnotizen hinzufügen</a></p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_aktion_e_mail">3.2. Aktion E-Mail</h3>
<div class="paragraph">
<p>Mit der Aktion <strong>E-Mail</strong> versenden Sie über die Subaktion <strong>Versenden</strong> eine E-Mail-Vorlage, z.B. als Erinnerung an die fehlerhaften Aufträge.</p>
</div>
</div>
<div class="sect2">
<h3 id="_aktion_auftrag">3.3. Aktion Auftrag</h3>
<div class="paragraph">
<p>Mit der Aktion <strong>Auftrag</strong> haben Sie die Möglichkeit, im Fehlerfall den fehlerhaften Auftrag über Subaktionen zu bearbeiten.<br>
Die Subaktion <strong>Status ändern</strong> ändert den Status des fehlerhaften Auftrags in den Status, den Sie aus dem Dropdown-Menü wählen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Eigener Status</div>
<div class="paragraph">
<p>Um fehlerhafte Aufträge leicht zu finden ist es ratsam, einen eigenen Status für diesen Fall anzulegen. Dieser Status wird in der Fehlerbehandlung fehlerhaften Aufträgen zugewiesen. Im Menü <strong>Aufträge</strong> filtern Sie dann nach diesem Status.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Mit der Subaktion <a href="/basics/automatisierung/prozesse/subaktionen#130">Auftragsnotizen hinterlegen</a> wird je nach Konfiguration eine Notiz entweder für jeden fehlerhaften Auftrag individuell hinterlegt oder es wird automatisch eine vorher gespeicherte Notiz für alle fehlerhaften Aufträge eines Prozesses hinterlegt. Zusätzlich empfehlen wir, die ausgegebene Fehlermeldung dem Auftrag anzuhängen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/automatisierung/prozesse/assets/DE-Prozesse-Fehlerfall-02.png" alt="Aktionen in der Fehlerbehandlung">
</div>
<div class="title">Bild 2. Aktionen in der Fehlerbehandlung</div>
</div>
<div class="paragraph">
<p>Fehlerhafte Aufträge werden bei dieser Vorgehensweise in Ihrem System mit einem neuen Status und einer Notiz hinterlegt. Diese Aufträge werden in der Auftragsübersicht schnell gefunden und können korrigiert werden. Nach der Korrektur kann der Auftrag den Prozess erneut durchlaufen und abgeschlossen werden.</p>
</div>
</div>
</div>
</div>
</main>