<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_prozess_ausführen"><span>1.</span><span> Prozess ausführen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Prozesse ausführen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Über das Menü <strong>plentymarkets Client » Prozesse</strong> führen Sie die Prozesse aus, die im Menü <strong><a href="/basics/automatisierung/prozesse/prozesse-einrichten">Einstellungen » Prozesse</a></strong> erstellt wurden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_prozess_ausführen">1. Prozess ausführen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um einen Prozess auszuführen. Beachten Sie, dass nur die Prozesse angezeigt werden, die Ihnen als Benutzer bzw. Ihrer Rolle <strong><a href="/basics/automatisierung/prozesse/prozesse-einrichten#10">zugeordnet</a></strong> wurden. Das Menü <strong>Prozesse</strong> ist für Benutzer der Klasse <strong>Variabel</strong> nur sichtbar, wenn ihnen im Menü <strong><a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten">Einstellungen » Grundeinstellungen » Benutzer » Konten » Benutzer öffnen » Tab: Berechtigung » Tab: Menü</a></strong> die Berechtigung <strong>Prozesse</strong> erteilt wurde.</p>
</div>
<div class="paragraph instruction">
<p>Prozess ausführen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie den plentymarkets Client.</p>
</li>
<li>
<p>Öffnen Sie das Menü <strong>Prozesse</strong>.<br>
→ Die verfügbaren Prozesse werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie auf einen Prozess.<br>
→ Der Prozess wird angezeigt und befindet sich im Status <strong>Wartend</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Start</strong>.<br>
→ Der Prozess wird gestartet.<br>
→ Die Balken im Tab <strong>Arbeitsschritte</strong> zeigen den Fortschritt der einzelnen Prozessschritte an.<br>
→ Abhängig vom gewählten Prozess ist während der Ausführung ein Eingreifen des Benutzers erforderlich.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Direktes Anzeigen von PDFs unter Windows nicht möglich.</div>
<div class="paragraph">
<p>PDF-Dateien können unter Windows nicht direkt im Client angezeigt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>