<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikel manuell importieren</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügt dein Unternehmen über viele Informationen, die in einer CSV-Dateien vorliegen? Mit ElasticSync kannst du diese Daten manuell in plentymarkets importieren. Dieses Video richtet sich insbesondere an neue plentymarkets Benutzer, die zunächst Produkt- oder Kundendaten übertragen möchten, während sie das System einrichten.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/datenuebernahme/grundlagen/artikel-manuell-importieren-bestand-abgleichen#video">Bestand flexibel abgleichen (0:26)</a></p>
<p class="tableblock"><a href="/videos/datenuebernahme/grundlagen/artikel-manuell-importieren-preis-aktualisieren#video">Preis aktualisieren (1:43)</a></p>
<p class="tableblock"><a href="/videos/datenuebernahme/grundlagen/artikel-manuell-importieren-filter-einstellen#video">Filter einstellen (2:12)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/321227748#at=132" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Du hast Daten, die aber noch nicht in deinem plentymarkets System hinterlegt sind?
Nehmen wir an, dass du neu bei plentymarkets bist und weder deine Artikel noch deine Kundendaten in deinem System angelegt hast.
Egal aus welchem Grund du noch keine Daten in deinem System hast, wir zeigen dir in diesem Video, wie du mit dem ElasticSync händisch Daten, die sich beispielsweise auf deinem Computer befinden, in dein System importierst.</p>
</div>
<div class="paragraph">
<p>Dieser einmalige Import eignet sich eben besonders dann, wenn du das erste Mal Daten in dein System bekommen möchtest. Natürlich ist er aber auch in anderen Fällen nützlich.
Ich habe hier eine CSV-Datei mit einigen wesentlichen Artikel-Daten.</p>
</div>
<div class="paragraph">
<p>In plentymarkets habe ich diese Daten bisher noch nicht gespeichert.
Mit anderen Worten: Du würdest die Artikel im System noch nicht finden, wenn du danach suchen würdest. Die Artikel sollen also importiert werden!</p>
</div>
<div class="paragraph">
<p>Bevor wir aber loslegen können, sollten wir uns nochmal über Pflichtangaben unterhalten.
Wenn du Artikel in plentymarkets importieren möchtest, musst du natürlich im Vorfeld Kategorien und Verkaufspreise anlegen.</p>
</div>
<div class="paragraph">
<p>Schau dir doch am Besten die entsprechenden Tutorials zu diesen Themen an, wenn du mit Kategorien und Verkaufspreisen noch nicht vertraut bist.
Wenn du bereits eine Kategoriestruktur in deinem System hast, weißt du, dass jeder Kategorie eine ID zugeordnet wird.</p>
</div>
<div class="paragraph">
<p>Und diese ID sollte auch in deiner CSV-Datei enthalten sein, um die korrekte Zuordnung zu gewährleisten.
Wenn Du diese Vorarbeiten abgeschlossen hast kannst du mit dem Import starten.
Am besten legst du mit der Konfiguration des Syncs so los, wie du es bereits in unserem Basic-Video zum ElasticSync gesehen hast.</p>
</div>
<div class="paragraph">
<p>Anschließend wählst du hier die Option HTTP, weil wir ja davon ausgehen, dass du eine Datei hochlädst, die sich auf deinem Computer befindet.
Der ElasticSync bietet dir eine komfortable Möglichkeit, Dateien bis zu einer Größe von 20MB von deinem Computer direkt in dein plentymarkets System zu importieren. Für größere Dateien solltest du aber einen FTP-Server nutzen.</p>
</div>
<div class="paragraph">
<p>Alles was du tun musst ist die Datei finden, diese auszuwählen, sie hier anzuklicken und anschließend mit dem Wählen-Button zu bestätigen.</p>
</div>
<div class="paragraph">
<p>Sobald du deine Einstellungen gespeichert hast, kannst du Abgleich und Zuordnungen so einstellen, wie wir es dir im Basic-Video gezeigt haben.
Da du ja gänzlich neue Daten in dein System importieren möchtest, solltest du entweder diese oder diese Option wählen.</p>
</div>
<div class="paragraph">
<p>Ansonsten hast du natürlich die Freiheit. Welche Daten du auch abgleichen und zuweisen möchtest. Es hängt nur davon ab, welche Daten sich in deiner CSV-Datei befinden.
Wenn du bereit bist, deine Daten zu importieren, begibst du dich zurück in das Einstellungs-Menü und stellst zunächst sicher, dass das Intervall inaktiv geschaltet ist. Wir wollen ja keinen regelmäßigen Datenimport, sondern einen einmaligen initialen Datenimport abwickeln.</p>
</div>
<div class="paragraph">
<p>Jetzt können wir den Import testen. Dabei werden 10 Zeilen deiner Datei ins System importiert. Dies bietet dir die Möglichkeit zu prüfen, ob der Sync korrekt arbeitet.
Schauen wir es uns an. Wenn du jetzt nach einem passenden Datensatz in plentymarkets suchst, wirst du auch genau diesen finden!</p>
</div>
<div class="paragraph">
<p>Öffne dir doch einfach einen bestimmten Artikel aus dem Import und schaue mal, ob alle Daten korrekt im System hinterlegt wurden.</p>
</div>
<div class="paragraph">
<p>Bist du zufrieden mit dem Ergebnis deines Tests, kannst du den eigentlichen Import starten und auch die restlichen Zeilen importieren.
Gratulation, durch den Import hast du schon eine Menge Zeit gespart.</p>
</div>
<div class="paragraph">
<p>Du hast mit dem ElasticSync die Möglichkeit, eine große Menge Daten mit möglichst wenig Aufwand auszutauschen. Dabei spielt es keine Rolle, ob Artikel-, Kunden- oder andere Daten!</p>
</div>
</div>
</div>
</main>