<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Daten automatisch importieren</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du deine Dateien jedes Mal manuell austauschen müsstest, wenn du neue Daten erhältst, wäre das sehr aufwändig. Wenn du aber einen FTP-Server hast, kannst du plentymarkets problemlos so konfigurieren, dass neue Dateien automatisch importiert und alte Dateien archiviert werden.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/322203826" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Deine Lieferanten schicken dir eine Menge Dateien mit verschiedensten Produktinformationen?
Vielleicht verkaufst du ja saisonale Artikel und die Produkte in deinem Shop ändern sich deswegen regelmäßig.</p>
</div>
<div class="paragraph">
<p>Wie auch immer: Wir halten mal fest, dass du regelmäßig CSV-Dateien von deinen Lieferanten erhältst.
Und natürlich ist es relativ aufwendig, diese Dateien jedes Mal aufs neue ins System zu importieren.</p>
</div>
<div class="paragraph">
<p>Mit diesem Video stellen wir dir einen komfortableren Weg vor!
Alles was du brauchst ist ein FTP-Server oder ein SFTP-Server.</p>
</div>
<div class="paragraph">
<p>Im Video zur grundlegenden Nutzung von ElasticSync hast du bereits erfahren, dass du zunächst Zugangsdaten eingeben musst, damit plentymarkets die Daten vom FTP-Server abrufen kann.
Anschließend sagst du plentymarkets, wie die Datei benannt ist.</p>
</div>
<div class="paragraph">
<p>So weit so gut! Du hast also sichergestellt, dass dein Lieferant die Datei immer am selben Ort und mit dem selben Namen ablegt.
Statt des letzten Teils des Namens kannst du aber auch ein Sternchen nutzen und in plenty so festlegen, dass die Datei nach dem Import automatisch archiviert werden soll.</p>
</div>
<div class="paragraph">
<p>Fassen wir also zusammen: Wenn dein Lieferant eine neue Datei am vereinbarten Ort ablegt, importiert plentymarkets automatisch zu einem festgelegten Zeitpunkt die abgelegte Datei.
Anschließend wird die importierte Datei automatisch in das Archiv verschoben und die nächste Datei, die dein Lieferant dir zur Verfügung stellt, kann importiert werden.</p>
</div>
<div class="paragraph">
<p>So einfach ist es! Du musst also veraltete Dateien nicht mehr händisch austauschen.
Der ElasticSync automatisiert diesen Vorgang für dich. Du und dein System bleiben so immer auf dem neusten Stand!</p>
</div>
</div>
</div>
</main>