# Die For-Schleife erzeugt eine Liste mit Optionsfeldern, mit der sich eine Zahlungsart auswählen lässt.
{% for $_payment in GetCheckoutMethodsOfPaymentList() %}
	{% if $_payment->MethodOfPaymentID > 0 %}

		{% $_pID = $_payment->MethodOfPaymentID %}
			<li class="radio clearfix">
				<label>
					<input type="radio" name="MethodOfPaymentID" value="$_pID"{% if $CheckoutMethodOfPaymentID == $_pID %} checked="checked"{% endif %}>
					$_payment->MethodOfPaymentName
					
					{% if $_payment->MethodOfPaymentExternalInfo %}
						<span class="payment-information">
							$_payment->MethodOfPaymentExternalInfo
							{% Link_MethodOfPaymentInfoPage($_payment->MethodOfPaymentID) %}
						</span>
					{% endif %}
				</label>
	
				
				<span class="pull-right">{% FormatMonetaryValue($_payment->MethodOfPaymentPrice, false, false) %} $CurrencySign</span>
				{# Lastschrift #}
				{% if $_payment->MethodOfPaymentID == 3 %}
					<div class="muted" data-plenty-is="edit-bank-account"{% if ! ( $_bankDetails->BankDetailsBankName && ( $_bankDetails->BankDetailsIBAN || $_bankDetails->BankDetailsAccountNumber ) ) %} style="display: none;"{% endif %}>
						<span data-plenty-is="bank-account-wrapper">
							<span data-plenty-is="bank-name">$_bankDetails->BankDetailsBankName</span>,
							{% if $_bankDetails->BankDetailsIBAN %}
								{% $_bank = substr($_bankDetails->BankDetailsIBAN, 0, 4) %}
								{% $_kto = substr($_bankDetails->BankDetailsIBAN, -4) %}
								<span data-plenty-is="iban-anonymized">$_bank&nbsp;XXXX&nbsp;XXXX&nbsp;XXXX&nbsp;$_kto</span>
							{% elseif $_bankDetails->BankDetailsAccountNumber %}
								{% $_kto = substr($_bankDetails->BankDetailsAccountNumber, -4) %}
								<span data-plenty-is="account-number-anonymized">XXX&nbsp;XXX&nbsp;$_kto</span>
							{% endif %}
						</span>
						<br>
						<a class="btn btn-default btn-xxs{% if $CheckoutMethodOfPaymentID != $_pID %} disabled{% endif %}" href="javascript:plenty.CheckoutService.editBankDetails();"><span class="glyphicon glyphicon-pencil"></span> ändern</a>
					</div>
				{% endif %}
				
	</li>
	{% endif %}	
{% endfor %}