<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#4300"><span>1.</span><span> Filtering Amazon Prime orders</span></a></li>
<li><a href="#4400"><span>2.</span><span> Creating a shipping label for Amazon Prime orders</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Processing Amazon Prime orders</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With filters in the order search and event procedures areas, orders with shipping conditions for Amazon Prime are treated separately in plentymarkets. Shipping labels for Amazon Prime orders are created via the Amazon Merchant Fulfilment API.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Mandatory fields for registering Amazon Prime orders</div>
<div class="paragraph">
<p>In order to handle Amazon Prime orders, certain information has to be saved in the <strong>Setup » Orders » Shipping » Shipping service provider » Settings</strong> menu. Amazon requires the following mandatory fields: <strong>Company</strong>, <strong>Street</strong>, <strong>House number,</strong> <strong>Postcode</strong>, <strong>Town</strong>, <strong>Country</strong>, <strong>Telephone</strong>, and <strong>Email</strong>. These mandatory field have to be filled in order to handle Amazon Prime orders.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="4300">1. Filtering Amazon Prime orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>All of your orders are displayed in the <strong>Orders » Edit orders</strong> menu. You can use <a href="/en/orders/managing-orders#1300">filters</a> to narrow down which orders are displayed. For example, you can display Amazon Prime orders only.</p>
</div>
<div class="paragraph">
<p>The <strong>Amazon</strong> filter includes the following options:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>ALL</strong> filters all Amazon orders.</p>
</li>
<li>
<p><strong>Prime</strong> filters all Amazon Prime orders except Prime SameDay, Prime NextDay, and Prime SecondDay.</p>
</li>
<li>
<p><strong>Prime (all)</strong> filters all Amazon Prime orders, including Prime SameDay, Prime NextDay, and Prime SecondDay.</p>
</li>
<li>
<p><strong>No</strong> = Amazon Prime orders will not be taken into consideration.</p>
</li>
<li>
<p><strong>Prime SameDay</strong> filters only Prime SameDay orders.</p>
</li>
<li>
<p><strong>Prime NextDay</strong> filters only Prime NextDay orders.</p>
</li>
<li>
<p><strong>Prime SecondDay</strong> filters only Prime SecondDay orders.</p>
</li>
<li>
<p><strong>SameDay</strong> filters Amazon orders that do not belong to Amazon Prime but need to be delivered the same day.</p>
</li>
<li>
<p><strong>NextDay</strong> filters Amazon orders that do not belong to Amazon Prime but need to be delivered the next day.</p>
</li>
<li>
<p><strong>SecondDay</strong> filters Amazon orders that do not belong to Amazon Prime but need to be delivered the day after tomorrow.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="4400">2. Creating a shipping label for Amazon Prime orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Amazon requires you to create shipping labels for Amazon Prime orders via the Amazon Merchant Fulfilment API. In return, Amazon provides shipping service providers that offer a discounted price. Learn how to link shipping profiles with Amazon Prime below.</p>
</div>
<div class="paragraph instruction">
<p>Linking shipping profiles with Amazon Prime:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Shipping » Settings » Tab: Shipping profiles</strong>.</p>
</li>
<li>
<p>Select the shipping profile that you want to link with Amazon Prime.</p>
</li>
<li>
<p>In the <strong>Loyalty program</strong> area, select the filter <strong>Amazon Prime</strong>.</p>
</li>
<li>
<p>Click on the <strong>Table of shipping charges</strong> tab.</p>
</li>
<li>
<p>In the <strong>Amazon Prime</strong> area, select the shipping method for the <strong>Amazon Prime Service</strong> option.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Pay attention to the shipping package</div>
<div class="paragraph">
<p>Pay attention to the shipping package saved for the shipping profile to prevent overpriced labelling.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Afterwards, register your Amazon Prime orders for the Amazon shipping provider that you have selected. To do so, go to <strong>Orders » Shipping centre » Tab: Register</strong>. You have to search for Amazon Prime orders in the <strong>Search</strong> tab before you can register them. The orders that were found are displayed here.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Pay attention to the shipping service provider</div>
<div class="paragraph">
<p>Pay attention to the selected shipping service provider. Otherwise, you won’t be able to set the correct Amazon services in the tables of shipping charges.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Registering Amazon Prime orders:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre » Tab: Search</strong>.</p>
</li>
<li>
<p>Search for the Amazon Prime order that you would like to register.</p>
</li>
<li>
<p>Click on the <strong>Register</strong> tab.</p>
</li>
<li>
<p>Select the option <strong>Amazon Prime</strong> from the <strong>Shipping service provider</strong> drop-down list.</p>
</li>
<li>
<p>Click on <strong>Register</strong>.</p>
</li>
<li>
<p>Open the order.<br>
→ After having successfully registered the order, a PDF icon appears in the <strong>Overview</strong> area. By clicking on this icon, you can download the shipping label.</p>
</li>
</ol>
</div>
</div>
</div>
</main>