<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Automatisierung</h1><!-- AUTO GENERATED --><ul><li><a href="/basics/automatisierung/prozesse">Prozesse</a></li><li><a href="/basics/automatisierung/plentybase-installieren">plentyBase installieren</a></li><li><a href="/basics/automatisierung/plentymarkets-client">plentymarkets Client</a></li><li><a href="/basics/automatisierung/vorgaenge-automatisieren">Vorgänge automatisieren</a></li><li><a href="/basics/automatisierung/aktionsmanager">Aktionsmanager</a></li><li><a href="/basics/automatisierung/ereignisaktionen">Ereignisaktionen</a></li></ul>
</main>