<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Automatisierung</h1><p>Willkommen im Themenbereich Automatisierung. Hier finden Sie folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/basics/automatisierung/prozesse">Prozesse</a></li><li><a href="/basics/automatisierung/plentybase-installieren">plentyBase installieren</a></li><li><a href="/basics/automatisierung/best-practices-automatisierung">Best Practices: Ereignisaktionen und Aktionsmanager</a></li><li><a href="/basics/automatisierung/aktionsmanager">Aktionsmanager</a></li><li><a href="/basics/automatisierung/ereignisaktionen">Ereignisaktionen</a></li></ul>
</main>