<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_was_ist_die_dsgvo"><span>1.</span><span> Was ist die DSGVO?</span></a></li>
<li><a href="#_wichtige_hinweise"><span>2.</span><span> Wichtige Hinweise</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>DSGVO</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite stellen wir unseren Händlern einen Auszug des Verzeichnisses der Verarbeitungstätigkeiten gemäß der DSGVO, deren Übergangsfrist am 25. Mai 2018 endet, zur Verfügung.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_was_ist_die_dsgvo">1. Was ist die DSGVO?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Am 25. Mai 2018 tritt die <a href="https://www.bfdi.bund.de/SharedDocs/Publikationen/Infobroschueren/INFO6.pdf%3F__blob%3DpublicationFile%26v%3D24" target="_blank" rel="noopener">Datenschutzgrundverordnung</a> offiziell und europaweit geltend in Kraft und löst somit nationale Regelungen ab.</p>
</div>
<div class="paragraph">
<p>Die DSGVO gilt für alle Unternehmen, die in der EU tätig sind und personenbezogene Daten wie Namen, Bankdaten und Adressdaten verarbeiten. Daher müssen Unternehmen ihre Prozesse, bei denen personenbezogene Daten verarbeitet werden, DSGVO-konform gestalten und dokumentieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_wichtige_hinweise">2. Wichtige Hinweise</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bitte beachten Sie, dass in diesem Verzeichnis lediglich die verarbeitenden Tätigkeiten innerhalb der Software plentymarkets beschrieben sind. Die Auflistung und Beschreibung weiterer verarbeitenden Tätigkeiten, die in Ihrem Unternehmen Anwendung finden (wie z.B. Lohnbuchhaltung oder Verfahren innerhalb einer anderen eingesetzten Software), obliegen dem eigenen Verantwortungsbereich des Händlers.</p>
</div>
<div class="paragraph">
<p>plentymarkets möchte ausdrücklich darauf hinweisen, dass dieses Verzeichnis keinen Anspruch auf Vollständigkeit und Richtigkeit erhebt und als Ergänzung zur eigenen Verarbeitungsverzeichnisses verwendet werden kann.</p>
</div>
<div class="paragraph">
<p>Laden Sie als Ergänzung Ihres eigenen Verzeichnisses der Verarbeitungstätigkeiten das Dokument <a href="https://github.com/plentymarkets/template-processing-directory/releases/tag/0.1" target="_blank" rel="noopener">hier</a> herunter. Dieses Dokument beschreibt lediglich die verarbeitenden Tätigkeiten innerhalb der Software plentymarkets.</p>
</div>
</div>
</div>
</main>