<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>EOL: Beendigung Softwarepflege und Bereitstellung</h1><div class="paragraph">
<p>Auf dieser Seite findest du eine Übersicht der Bereiche und Funktionen innerhalb von plentymarkets, deren Softwarepflege bzw. Bereitstellung beendet wird. Diese Übersicht ersetzt nicht den <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Changelog</a>-Beitrag oder den in der jeweiligen Kategorie angehefteten Beitrag im <a href="https://forum.plentymarkets.com/" target="_blank" rel="noopener">plentymarkets Forum</a>. Diese Seite soll euch zusätzlich eine zentrale Übersicht bieten, damit aufgrund der Fülle der Informationen im plentymarkets Forum derartige Informationen nicht verloren gehen.</p>
</div><table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. EOL-Übersicht</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bereich/Funktion</th>
<th class="tableblock halign-left valign-top">Beendigung der Softwarepflege</th>
<th class="tableblock halign-left valign-top">Beendigung der Bereitstellung<sup class="footnote">[<a id="_footnoteref_1" class="footnote" href="#_footnotedef_1" title="View footnote.">1</a>]</sup></th>
<th class="tableblock halign-left valign-top">Weitere Informationen</th>
<th class="tableblock halign-left valign-top">Datum der Bekanntgabe</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Solr-Facettensuche</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">07.10.2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">15.01.2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-eol-solr-facettensuche/560769" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">07.10.2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Callisto (alter Webshop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.09.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.03.2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/callisto-deine-tage-sind-gezaehlt-das-eol-steht-fest/222767" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">07.03.2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Callisto: Individueller Bestellvorgang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.09.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">03.02.2020</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/callisto-deine-tage-sind-gezaehlt-das-eol-steht-fest/222767" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">07.03.2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">CSV-Importfunktion im Menü <strong>Aufträge » Fulfillment » Import Paketnummern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">09.05.2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">15.11.2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-ersetzen-des-paketnummern-imports-im-bereich-fulfillment-durch-elasticsync-bis-zum-30-06-2019/540409" target="_blank" rel="noopener">Link zu Ankündigung 1</a><br>
<a href="https://forum.plentymarkets.com/t/ankuendigung-abschaltung-paketnummern-import-zum-15-11-2019/559443" target="_blank" rel="noopener">Link zu Ankündigung 2</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">09.05.2019</p></td>
</tr>
</tbody>
</table><table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Übersicht vergangener EOLs</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bereich/Funktion</th>
<th class="tableblock halign-left valign-top">Beendigung der Softwarepflege</th>
<th class="tableblock halign-left valign-top">Beendigung der Bereitstellung<sup class="footnote">[<a id="_footnoteref_2" class="footnote" href="#_footnotedef_2" title="View footnote.">2</a>]</sup></th>
<th class="tableblock halign-left valign-top">Weitere Informationen</th>
<th class="tableblock halign-left valign-top">Datum der Bekanntgabe</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Callisto Standard-Bestellvorgang (Callisto-Checkout)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.09.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">13.09.2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/callisto-deine-tage-sind-gezaehlt-das-eol-steht-fest/222767" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">07.03.2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alte <strong>EBICS</strong> Schnittstelle</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.10.2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">30.06.2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-abschaltung-der-ebics-schnittstelle-zum-30-06-2019/538653" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">26.04.2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SOAP-Calls <strong>Item/Order/Stock</strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Alle Calls, die die Bereiche Item, Order und Stock betreffen</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.02.2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Q2 2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-schrittweise-abschaltung-der-soap-api/526661" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28.01.2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ElasticSync-Plugin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28.02.2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">30.04.2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/plugin-elasticsync-ende-softwarepflege-und-abschaltung/527705" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">04.02.2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SOAP-Calls <strong>Customer</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>AddCustomerNote<br></p>
</li>
<li>
<p>GetCustomerClasses<br></p>
</li>
<li>
<p>GetCustomerDeliveryAddresses<br></p>
</li>
<li>
<p>GetCustomerOrderOverviewLink<br></p>
</li>
<li>
<p>GetCustomerOrders<br></p>
</li>
<li>
<p>GetCustomerScheduler<br></p>
</li>
<li>
<p>GetCustomers<br></p>
</li>
<li>
<p>GetCustomersNewsletterSubscriptions<br></p>
</li>
<li>
<p>SetCustomerDeliveryAddresses<br></p>
</li>
<li>
<p>SetCustomers<br></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.02.2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">16.04.2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-schrittweise-abschaltung-der-soap-api/526661" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28.01.2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dynamischer Import</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">31.01.2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">15.05.2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/eol-dynamischer-import/525832" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">21.01.2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SOAP-Calls <strong>Payment</strong><br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>AddIncomingPayments<br></p>
</li>
<li>
<p>GetActiveMethodOfPaymentList<br></p>
</li>
<li>
<p>GetIncomingPayments<br></p>
</li>
<li>
<p>GetMethodOfPayments<br></p>
</li>
<li>
<p>SetBankCreditCardData</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.02.2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">03.04.2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-schrittweise-abschaltung-der-soap-api/526661" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28.01.2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SOAP-Calls <strong>Marketplace</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>GetMarketAccounts<br></p>
</li>
<li>
<p>GetMarketDirectories<br></p>
</li>
<li>
<p>GetMarketItemNumbers<br></p>
</li>
<li>
<p>GetMarketListingItemVariants<br></p>
</li>
<li>
<p>GetMarketLogs<br></p>
</li>
<li>
<p>GetMarketShippingProfiles<br></p>
</li>
<li>
<p>GetMarketStoreCategories<br></p>
</li>
<li>
<p>GetMarketplaceTransactions<br></p>
</li>
<li>
<p>SetMarketItemNumbers<br></p>
</li>
<li>
<p>SetMarketListings</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>SOAP-Calls <strong>Dynamic Import/Export</strong><br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>SetDynamicExport<br></p>
</li>
<li>
<p>SetDynamicImport<br></p>
</li>
<li>
<p>GetDynamicExport<br></p>
</li>
<li>
<p>GetDynamicFormats<br></p>
</li>
<li>
<p>GetDynamicImportStack</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.02.2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">27.03.2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-schrittweise-abschaltung-der-soap-api/526661" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28.01.2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SOAP-Calls <strong>Categories</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>DeleteCategories<br></p>
</li>
<li>
<p>GetCategories<br></p>
</li>
<li>
<p>GetCategoryBranchID<br></p>
</li>
<li>
<p>GetCategoryMappingForMarket<br></p>
</li>
<li>
<p>GetCategoryPreview<br></p>
</li>
<li>
<p>GetMarketStoreCategories<br></p>
</li>
<li>
<p>UpdateCategoriesBranches<br></p>
</li>
<li>
<p>SetStoreCategories</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.02.2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">20.03.2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-schrittweise-abschaltung-der-soap-api/526661" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28.01.2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SOAP-Calls (vermischt)</p>
</div>
<div class="ulist">
<ul>
<li>
<p>GetRacksList<br></p>
</li>
<li>
<p>SetWarranties<br></p>
</li>
<li>
<p>GetTermsAndCancellation<br></p>
</li>
<li>
<p>GetLegalInformation<br></p>
</li>
<li>
<p>GetDeleteLog<br></p>
</li>
<li>
<p>GetPlentyMarketsVersion<br></p>
</li>
<li>
<p>GetCustomerNotes</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.02.2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">04.03.2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-schrittweise-abschaltung-der-soap-api/526661" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28.01.2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SOAP-Calls <strong>Listings</strong><br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>DeleteListingsLayoutTemplates<br></p>
</li>
<li>
<p>DeleteListingsProperties<br></p>
</li>
<li>
<p>DeleteListingsTemplates<br></p>
</li>
<li>
<p>GetListings<br></p>
</li>
<li>
<p>GetListingsLayoutTemplates<br></p>
</li>
<li>
<p>GetListingsProperties<br></p>
</li>
<li>
<p>GetListingsTemplates<br></p>
</li>
<li>
<p>GetPartsCompatibilityListings<br></p>
</li>
<li>
<p>SetListings<br></p>
</li>
<li>
<p>SetListingsLayoutTemplates<br></p>
</li>
<li>
<p>SetListingsTemplates<br></p>
</li>
<li>
<p>SetMarketListings<br></p>
</li>
<li>
<p>SetPartsCompatibilityListings<br></p>
</li>
<li>
<p>UpdateListingsRelist<br></p>
</li>
<li>
<p>UpdateListingsStart<br></p>
</li>
<li>
<p>UpdateListingsStop<br></p>
</li>
<li>
<p>UpdateListingsUpdate<br></p>
</li>
<li>
<p>UpdateListingsVerify</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.02.2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">27.02.2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-schrittweise-abschaltung-der-soap-api/526661" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28.01.2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SOAP-Calls <strong>Email Template</strong><br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>DeleteEmailTemplates<br></p>
</li>
<li>
<p>GetEmailFolderList<br></p>
</li>
<li>
<p>GetEmailTemplate<br></p>
</li>
<li>
<p>GetEmailTemplates<br></p>
</li>
<li>
<p>GetFolderEmails<br></p>
</li>
<li>
<p>SetEmailTemplates</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.02.2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">20.02.2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-schrittweise-abschaltung-der-soap-api/526661" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28.01.2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SOAP-Calls <strong>Ticket</strong><br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>AddTicket<br></p>
</li>
<li>
<p>AddTicketLeafe</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.02.2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">13.02.2019</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-schrittweise-abschaltung-der-soap-api/526661" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">28.01.2019</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TLS 1.0-Protokoll</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">30.09.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">30.09.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/abschaltung-des-tls-1-0-protokolls-zum-30-09-2018/500910" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">11.07.2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets Version 6</strong><br>
(inkl. <strong>plentyConnect</strong> und <strong>plentyShipping</strong>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.09.2016 (verlängert bis 01.02.2017)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.09.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/plentymarkets-6-hat-eol-erreicht-wartung-fokussiert-sich-auf-plentymarkets-7/40845" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.09.2016</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">04.02.2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">20.07.2018<sup class="footnote">[<a id="_footnoteref_3" class="footnote" href="#_footnotedef_3" title="View footnote.">3</a>]</sup></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/package-package-neuer-client-229-beta-package-package/42851" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">04.02.2017</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Classic-Backend</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">15.06.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">11.07.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/schrittweise-abschaltung-classic-backend/495411" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">04.06.2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SOAP-API-Versionen 112, 113, 114</strong><br>
(plentymarkets 6)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.02.2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">22.05.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-abschaltung-der-alten-soap-api-versionen/321185" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">09.04.2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SOAP-API-Versionen 105, 109, 110, 111</strong><br>
(plentymarkets 6)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.02.2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">23.04.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-abschaltung-der-alten-soap-api-versionen/321185" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">09.04.2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mobile Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.02.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">23.04.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/mobile-warehouse-stirb-langsam-teil-1/177744" target="_blank" rel="noopener">Link zu Ankündigung 1</a><br>
<a href="https://forum.plentymarkets.com/t/mobile-warehouse-stirb-langsam-teil-2/321278" target="_blank" rel="noopener">Link zu Ankündigung 2</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.02.2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SOAP-API-Versionen 105, 109, 110, 111, 112, 113, 114</strong><br>
(plentymarkets)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">23.04.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">23.04.2018<br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-abschaltung-der-alten-soap-api-versionen/321185" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">09.04.2018</p></td>
</tr>
</tbody>
</table><div id="footnotes">
<hr>
<div class="footnote" id="_footnotedef_1">
<a href="#_footnoteref_1">1</a>. Datum, ab wann die Funktion nicht mehr verfügbar ist
</div>
<div class="footnote" id="_footnotedef_2">
<a href="#_footnoteref_2">2</a>. Datum, ab wann die Funktion nicht mehr verfügbar ist
</div>
<div class="footnote" id="_footnotedef_3">
<a href="#_footnoteref_3">3</a>. Mit Abschaltung des Classic-Backends.
</div>
</div>
</main>