<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Übersicht EOL: Beendigung Softwarepflege und Bereitstellung</h1><div class="paragraph">
<p>Auf dieser Seite finden Sie eine Übersicht der Bereiche und Funktionen innerhalb von plentymarkets, deren Softwarepflege bzw. Bereitstellung beendet wird. Diese Übersicht ersetzt nicht den <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Changelog</a>-Beitrag oder den in der jeweiligen Kategorie angehefteten Beitrag im <a href="https://forum.plentymarkets.com/" target="_blank" rel="noopener">plentymarkets Forum</a>. Vielmehr soll diese Seite eine zentrale Übersicht bereitstellen, damit aufgrund der Fülle der Informationen im plentymarkets Forum derartige Informationen nicht verloren gehen.</p>
</div><table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. EOL-Übersicht</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
<col style="width: 20%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bereich/Funktion</th>
<th class="tableblock halign-left valign-top">Beendigung der Softwarepflege</th>
<th class="tableblock halign-left valign-top">Beendigung der Bereitstellung<sup class="footnote">[<a id="_footnoteref_1" class="footnote" href="#_footnote_1" title="View footnote.">1</a>]</sup></th>
<th class="tableblock halign-left valign-top">Weitere Informationen</th>
<th class="tableblock halign-left valign-top">Datum der Bekanntgabe</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets Version 6</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.09.2016 (verlängert bis 01.02.2017)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.09.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/plentymarkets-6-hat-eol-erreicht-wartung-fokussiert-sich-auf-plentymarkets-7/40845" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.09.2016</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">04.02.2017</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">05.02.2018<sup class="footnote">[<a id="_footnoteref_2" class="footnote" href="#_footnote_2" title="View footnote.">2</a>]</sup></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/package-package-neuer-client-229-beta-package-package/42851" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">04.02.2017</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mobile Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.02.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">23.04.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/mobile-warehouse-stirb-langsam-teil-1/177744" target="_blank" rel="noopener">Link zu Ankündigung 1</a> und <a href="https://forum.plentymarkets.com/t/mobile-warehouse-stirb-langsam-teil-2/321278" target="_blank" rel="noopener">Link zu Ankündigung 2</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">01.02.2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SOAP-API-Versionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">23.04.2018 bzw. 22.05.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>23.04.2018</strong> (plentymarkets Version 6: 105, 109, 110, 111
plentymarkets 7: 105, 109, 110, 111, 112, 113, 114)<br>
<strong>22.05.2018</strong> (plentymarkets 6: 112, 113, 114)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/ankuendigung-abschaltung-der-alten-soap-api-versionen/321185" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">09.04.2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Classic-Backend</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">15.06.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">11.07.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/schrittweise-abschaltung-classic-backend/495411" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">04.06.2018</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webshop-Checkout (Callisto, altes CMS)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">31.08.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">EOL für den Callisto-Checkout: 01.09.2018</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://forum.plentymarkets.com/t/callisto-deine-tage-sind-gezaehlt-das-eol-steht-fest/222767" target="_blank" rel="noopener">Link zum Forum</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">07.03.2018</p></td>
</tr>
</tbody>
</table><div id="footnotes">
<hr>
<div class="footnote" id="_footnote_1">
<a href="#_footnoteref_1">1</a>. Datum, ab wann die Funktion nicht mehr verfügbar ist
</div>
<div class="footnote" id="_footnote_2">
<a href="#_footnoteref_2">2</a>. Seit diesem Datum können die Installationsdateien nicht mehr heruntergeladen werden.
</div>
</div>
</main>