<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Rechtliches</h1><p>Willkommen im Themenbereich Rechtliches. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/basics/rechtliches/verfahrensdokumentation">Verfahrensdokumentation</a></li><li><a href="/basics/rechtliches/dsgvo">DSGVO</a></li><li><a href="/basics/rechtliches/best-practices-callisto-dsgvo">Best Practices: Callisto und DSGVO</a></li></ul>
</main>