<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_rundum_rechtssicher_arbeiten_mit_plentymarkets_7"><span>1.</span><span> Rundum rechtssicher arbeiten mit plentymarkets 7</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Verfahrensdokumentation</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite stellen wir unseren Händlern die technische Systemdokumentation von plentymarkets zur Verfügung, die jedoch lediglich als Grundlage zur Erstellung der Verfahrensdokumentation dient.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_rundum_rechtssicher_arbeiten_mit_plentymarkets_7">1. Rundum rechtssicher arbeiten mit plentymarkets 7</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nach GoBD müssen Händler unter anderem die Verfahrensweise der von ihnen verwendeten Software in Form einer Verfahrensdokumentation beschreiben und im Falle einer Steuerprüfung vorlegen. Wir unterstützen Nutzer von plentymarkets 7 bei der Erstellung einer Verfahrensdokumentation durch die Bereitstellung einer technischen Systemdokumentation. Darin werden sämtliche steuerrechtlich relevanten Arbeitsweisen von plentymarkets 7 detailliert aufgeschlüsselt, die als Grundlage für eine Verfahrensdokumentation verwendet werden können.<br>
<strong>Wichtig</strong>: plentymarkets ist in der Regel nur ein Teil der zu beschreibenden (Software-)Lösungen. Bitte klären Sie mit Ihrem Steuerberater welche für Ihren individuellen Fall relevanten Informationen zusätzlich in der Verfahrensdokumentation beschrieben werden müssen.<br>
Laden Sie die technische Systemdokumentation von plentymarkets <a href="https://github.com/plentymarkets/template-procedure-document/releases" target="_blank" rel="noopener">hier</a> herunter.</p>
</div>
</div>
</div>
</main>