<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Versionswechsel</h1><!-- AUTO GENERATED --><ul><li><a href="/basics/versionswechsel/migrationsleitfaden">Migrationsleitfaden</a></li><li><a href="/basics/versionswechsel/aenderungen">Änderungen</a></li></ul>
</main>