<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>PHPFunctions</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Folgende PHP-Funktionen stehen auch innerhalb der CMS-Syntax zur Verfügung. Die Verwendung ist weitestgehend identisch mit der Verwendung direkt in PHP.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_globale_template_funktionen">Globale Template-Funktionen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-array-key-exists">array_key_exists</a> — Prüft, ob ein Schlüssel in einem Array existiert.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-arsort">arsort</a> — Sortiert ein Array in umgekehrter Reihenfolge und erhält die Index-Assoziation.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-asort">asort</a> — Sortiert ein Array und erhält die Index-Assoziation.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-bin2hex">bin2hex</a> — Gibt einen ASCII-String zurück, der die hexadezimale Wiedergabe des Parameters enthält.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-ceil">ceil</a> — Liefert die nächste ganze Zahl, die größer oder gleich dem Parameter ist.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-count">count</a> — Zählt alle Elemente eines Arrays oder Attribute eines Objekts.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-curl-close">curl_close</a> — Beendet eine cURL-Session.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-curl-exec">curl_exec</a> — Führt eine cURL-Session aus.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-curl-init">curl_init</a> — Startet eine cURL-Session.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-curl-setopt">curl_setopt</a> — Setzt eine Option für einen cURL-Transfer.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-current">current</a> — Liefert das aktuelle Element eines Arrays.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-date">date</a> — Formatiert ein(e) angegebene(s) Ortszeit/Datum.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-explode">explode</a> — Teilt einen String anhand einer Zeichenkette zu einem Array.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-floor">floor</a> — Liefert die nächste ganze Zahl, die kleiner oder gleich dem Parameter ist.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-htmlentities">htmlentities</a> — Wandelt alle geeigneten Zeichen in entsprechende HTML-Codes um.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-implode">implode</a> — Verbindet Array-Elemente zu einem String.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-in-array">in_array</a> — Prüft, ob ein Wert in einem Array existiert.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-is-array">is_array</a> — Prüft, ob die Variable ein Array ist.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-is-numeric">is_numeric</a> — Prüft, ob eine Variable eine Zahl oder ein numerischer String ist.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-is-string">is_string</a> — Prüft, ob Variable vom Typ string ist.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-json-decode">json_decode</a> — Dekodiert eine JSON-Zeichenkette. Das Ergebnis kann in einer lokalen Template-Variablen gespeichert werden.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-json-encode">json_encode</a> — Gibt die JSON-Repräsentation eines Wertes zurück.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-krsort">krsort</a> — Sortiert ein Array nach Schlüsseln in umgekehrter Reihenfolge.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-ksort">ksort</a> — Sortiert ein Array nach Schlüsseln.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-md5">md5</a> — Errechnet den MD5-Hash eines Strings.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-natcasesort">natcasesort</a> — Sortiert ein Array in natürlicher Reihenfolge, Groß/Kleinschreibung wird ignoriert.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-natsort">natsort</a> — Sortiert ein Array in natürlicher Reihenfolge.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-nl2br">nl2br</a> — Fügt vor allen Zeilenumbrüchen eines Strings HTML-Zeilenumbrüche ein.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-number-format">number_format</a> — Formatiert eine Zahl mit Tausender-Gruppierung.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-print">print</a> — Gibt enthaltenen Wert als HTML aus. Erlaubte Werte sind eine Template-Variable oder ein String.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-round">round</a> — Rundet den ersten Parameter auf die im zweiten Paramter angegebene Anzahl von Nachkommastellen.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-rsort">rsort</a> — Sortiert ein Array in umgekehrter Reihenfolge.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-simplexml-load-string">simplexml_load_string</a> — Wandelt einen String in ein simpleXML-Objekt um und gibt dieses Objekt zurück.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-sort">sort</a> — Sortiert ein Array.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-str-replace">str_replace</a> — Ersetzt alle Vorkommen des Suchstrings durch einen anderen String.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-strip-tags">strip_tags</a> — Entfernt HTML-Tags aus einem String.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-stripos">stripos</a> — Findet das erste Vorkommen eines Strings, unabhängig von Groß- und Kleinschreibung.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-strlen">strlen</a> — Ermitteln der String-Länge.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-strpos">strpos</a> — Sucht das erste Vorkommen des Suchstrings.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-strtolower">strtolower</a> — Setzt einen String in Kleinbuchstaben um.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-strtotime">strtotime</a> — Wandelt ein beliebiges in englischer Textform angegebenes Datum in einen UNIX-Zeitstempel (Timestamp) um.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-strtoupper">strtoupper</a> — Wandelt alle Zeichen eines Strings in Großbuchstaben um.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-substr">substr</a> — Gibt einen Teil eines Strings zurück.</p>
</li>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions-trim">trim</a> — Entfernt Whitespaces (oder andere Zeichen) am Anfang und Ende eines Strings.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_globale_template_variablen">Globale Template-Variablen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>$ENT_COMPAT — Konstante: Konvertiert nur doppelte Anführungszeichen und lässt einfache Anführungszeichen unverändert.</p>
</li>
<li>
<p>$ENT_QUOTES — Konstante: Konvertiert sowohl doppelte als auch einfache Anführungszeichen.</p>
</li>
</ul>
</div>
</div>
</div>
</main>