<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Set up your invoice</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Learn how to configure and use a document template, as exemplified with the invoice template. First, learn how to import a PDF into plentymarkets and then how to link that PDF to the corresponding document template in your system.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/161169025" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Welcome to plentymarkets e-learning. In this video tutorial we’ll be looking at how to configure and use document templates. This video will use the invoice template as an example. An invoice always consists of a pdf template and a document template. The pdf template can be thought of a your company’s letter head. It is essentially a blank piece of paper that includes basic information about your company, such as a logo and contact information. The document template is the main content that is displayed on the invoice. For example, the order ID, the name of the item that was purchased, along with its price and shipping costs. All of the entries that appear in the document template are configured in your system. In this video, I’ll be showing you how to link your business letterhead in PDF format to the document template.</p>
</div>
<div class="paragraph">
<p>Okay, so let’s get started. As you can see, I’ve opened my letter head as a word document on my Mac. But of course, you can use any computer and software that allows you to create a pdf. I simply click on File, select 'Save as' and choose PDF from the Format dropdown menu. For my purposes here, I will simply save the PDF to my desktop.</p>
</div>
<div class="paragraph">
<p>Alright, now let’s switch to plentymarkets and I’ll show you how to import the PDF I just created and link it to the invoice document template. As you can see, I’ve opened my system to Settings » Client (store) » Standard » Locations. I then choose the location for which I want to create this document, so London in my case, and I select Documents and Invoice.</p>
</div>
<div class="paragraph">
<p>First, I need to specify which language the PDF template should be used for. Since my PDF template is in English, I’ll select en from the dropdown menu here. And just as a reminder, the language that is saved in a customer data record determines which language version of the invoice my customer will receive.</p>
</div>
<div class="paragraph">
<p>OK, so once I’ve selected the language, I’m ready to import the PDF that I just created into my system. To do so, I simply open the PDF template tab and then the subordinate tab 'New template'. Next, I select which payment methods the invoice should be created for. Here I can select a specific method or All, which is what I’m going to do. And under File, I select the PDF I just created. Lastly, I click save to import the file and save it to my system.</p>
</div>
<div class="paragraph">
<p>Alright, so now I’ve imported the PDF template, which will give my invoice a customized design. Next I need to define the main content that I want to appear on my invoice. There are a few different ways to do this. One way is to click on the "Template" tab. Here I can manually enter names for all of the fields that I want to appear on my invoice, as well as X-Y coordinates to specify where these fields should appear on the document.</p>
</div>
<div class="paragraph">
<p>However, manually entering all of the information for each language, location and document can quickly become very time-consuming. So, there’s also another way to enter information into these fields. This is by using the functions that are found in the "Transfer" tab. There are two basic functions included in this tab, which can save me time and effort when configuring document templates. I can use the default settings for the document by clicking on the gear wheel icon under 'Apply settings from default document template'. This can be a useful option if you haven’t entered any specific document template settings in your system yet and you want to quickly fill in a few field names and coordinates.</p>
</div>
<div class="paragraph">
<p>But just a head’s up here: If you’ve already entered any field names or coordinates in the document template, then they will be overwritten when you apply the default settings. So make sure you check the document’s settings and write down any important values or coordinates before carrying out this function.</p>
</div>
<div class="paragraph">
<p>The options in the lower part of the menu allow me to copy all of the settings for the template that is currently open, and apply these settings to another template. So for example, I currently have an English invoice open. I can copy all of the settings that are currently saved for this English invoice and apply them to another template as well. In the lower part of the menu, I simply select which template I want to apply the settings to. In this example, I’ll apply the settings to German invoices.</p>
</div>
<div class="paragraph">
<p>Now let’s take another look at the Template tab. I’ve already saved several settings for my invoice template in advance, and I’m ready to see what my invoice actually looks like. To do so, I click on the preview icon here and my invoice is shown with the formatting currently entered in the settings. Right off the bat, I can see that the formatting is a bit off and that the text of my invoice template is too high.</p>
</div>
<div class="paragraph">
<p>Let’s close the preview pop-up window and take a closer look at the settings. Under basic settings, I have several different options. Not only can I choose a font, but I can also choose the character set I want. I can also select whether I want the document template to be shown on subsequent pages, which means that my header will not only be shown on the first page of my invoice, but on any following pages as well. The next dropdown menu allows me to specify which information should be included in the invoice and delivery address. And the last option allows me to select the currency that is to appear on my invoice. Under Margins, I can specify the margins I want in millimeters.</p>
</div>
<div class="paragraph">
<p>Now let’s take a look at how to configure the mandatory elements. The settings here are all relatively similar. I have X and Y fields, which allow me to specify where a field should appear on the document. The x axis let’s me reposition my text to the left or right and the y axis moves my text up or down. In the next option I can enter the font size I want. And in the last dropdown I can choose whether or not I want my text to be displayed in bold.</p>
</div>
<div class="paragraph">
<p>As I mentioned before, there are some glitches in the formatting of my invoice. Let’s take a quick look at it again with the preview function. As you can see, the address is positioned a bit too high. I can fix this by making adjustments to the y axis. So I’ll just enter a higher value, so let’s say 66.5. I then save the setting and check the invoice in the preview again. Looks good! If I want to add further elements to the invoice, I simply enter the text that should be displayed on the invoice into these boxes here.</p>
</div>
<div class="paragraph">
<p>Now let’s scroll down to the 'Columns stock units' area where, in addition to several mandatory fields, I also have several optional settings that I can also display on my invoice. I want to add an Item number to my invoice. To do so, I simply enter the term I want displayed on my invoice in the corresponding field, so 'Item no'. But I also have to make the corresponding changes to the position and mm fields. Right, then I click save and check my invoice in the preview. The information I just entered into my template is shown here.</p>
</div>
<div class="paragraph">
<p>Right, so obviously my preferences might be different from your own so you’ll have to set up your templates according to your needs. But essentially this process is quite simple and allows you to create the document that is perfect for you. And once you’ve created the right template for yourself, you can apply the essential elements of that template to other documents.</p>
</div>
<div class="paragraph">
<p>Thanks for watching and I hope you enjoy setting up document templates in plentymarkets!</p>
</div>
</div>
</div>
</main>