<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Locations - Accounting</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Learn how to save accounting information separately for each individual location in plentymarkets. See how to configure basic settings, VAT rates and accounts. Also learn to apply revenue settings to multiple locations.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/134723653" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Welcome to plentymarkets e-learning. This video tutorial illustrates the basic settings that relate to accounting. With plentymarkets, it’s possible to save VAT rates and account information separately for every client and location that you work with. So let’s say, for example, that your company’s main branch is in the United Kingdom, and that you also have a smaller subsidiary in Germany. In plentymarkets, you’ll be able to save VAT and tax information separately for each of these locations.</p>
</div>
<div class="paragraph">
<p>Locations are also useful for sellers who use an FBA warehouse in Poland or the Czech Republic for products that are sold on Amazon. The seller would simply need to create a second location, for example, Poland, and then configure the tax rates accordingly. Let’s take a look at how such accounting information is configured in the plentymarkets back end.</p>
</div>
<div class="paragraph">
<p>I’ve already opened my system to the menu <strong>Settings » Client (store) » Standard » Locations</strong>. Here I see all of the different locations that I’ve configured for my standard online store. Accounting information is saved separately for each location. In other words, when I save VAT and tax information, I need to remember that it always applies to a specific location.</p>
</div>
<div class="paragraph">
<p>This video tutorial assumes that you already know how to create locations and edit their basic settings in this menu. So if you’re unfamiliar with this menu, then take a look at our introductory video to locations first. OK, let’s take a look at the accounting information that I’ve saved for my comany’s main branch in the United Kingdom.
This menu is divided into three tabs. First, let’s take a look at the "Basic settings" tab. Specifically, let’s look at the VAT number. This setting allows me to specify what should happen if I receive an order from a customer who has a VAT number.</p>
</div>
<div class="paragraph">
<p>I can either decide to give such customers a gross invoice - in other words an invoice that includes VAT - or I can give such customers a net invoice - or an invoice that does not include VAT. Please note that this setting only applies to deliveries within the EU. I can also decide whether gross invoices or net invoices should be generated for export shipping. Here, please note that gross invoices will always be issued if a VAT rate was saved for an export country of delivery.</p>
</div>
<div class="paragraph">
<p>The next option is called <strong>Show VAT for the shipping costs on the invoice</strong>. I use this option to decide whether I want the VAT on shipping costs to be displayed on every invoice, or whether I only want the VAT to be displayed for domestic and EU shipments.</p>
</div>
<div class="paragraph">
<p>The last setting in this tab is only relevant for Germany. This option applies to small businesses owners according to paragraph 19 of the German Value Added Tax Law. In other words, this setting is intended for businesses that are exempt from VAT because their revenue is below the VAT threshold. If a check mark is placed here, then VAT will neither be displayed on the invoice nor during the order process in the online store. This setting is optional. Even small businesses can choose to display the VAT if doing so is advantageous.</p>
</div>
<div class="paragraph">
<p>Now that I’ve finished configuring the basic settings, I can begin saving VAT rates for every country of delivery that I am required to pay VAT for. Let’s take a look at the VAT rates that I’ve saved for the United Kingdom. I simply click on a folder to see the VAT rates that are saved. The rates are sorted here by the date when they went into effect. Let’s take a look at this last VAT rate for example. As you may know, the standard VAT rate was increased to 20% in the United Kingdom on January 4th, 2011. The information saved here reflects this. Here I have both the standard 20% rate and the reduced 5% rate. And down at the bottom I’ve saved the date when these VAT rates go into effect.</p>
</div>
<div class="paragraph">
<p>Let’s suppose that I were hypothetically to learn that the VAT rate will increase again at the start of next year. With plentymarkets, I could already configure the new VAT rate in advance. I would simply save a new configuration with the new VAT rates and the date when they go into effect. The new rates would start being used on the date that was specified. Orders that I receive before this date would be given the old VAT rate. And orders that I receive on or after this date would be given the new VAT rate.</p>
</div>
<div class="paragraph">
<p>OK, so not only can you save up to four different VAT rates here and specify when they should go into effect, but you can also do a few other things in this menu. For example, if you have a country-specific VAT number, then you can enter it here. Please note that this is a country-specific VAT number. It is not the same thing as the standard VAT number, which is saved in the menu <strong>Settings » Basic settings » Master data</strong>.</p>
</div>
<div class="paragraph">
<p>Finally, I need to specify which items this VAT rate should be used for. If I place a check mark here, then the VAT rate will only apply to digital items. And please note that you’ll need to create a property in order to tell plentymarkets which items are digital. If you’re not sure how to create a property, then take a look at our other online reference materials.</p>
</div>
<div class="paragraph">
<p>OK, so this digital items setting refers to the EU regulation that went into effect on January 1st, 2015 and which mandates the sale of digital services. The buyer’s VAT rate needs to be used for digital items. If you’ve already saved a VAT rate for a country of delivery, for example, because the delivery threshold was exceeded, then you don’t need to create another VAT rate for digital items only. The existing VAT rate will be used.
Alright, now let’s take a look at the last tab in this menu. I can use this first area here to save posting keys or booking keys. Posting keys are used to identify different VAT rates when exporting financial accounting data. These posting keys are assigned when gross invoices are issued.</p>
</div>
<div class="paragraph">
<p>Next, I have an area for saving debtor accounts. These are the personal accounts for each customer that are also sometimes referred to as accounts receivable or debtor ledger accounts. A debtor account can be saved for every customer. There are a few different ways that they can be assigned to customers.</p>
</div>
<div class="paragraph">
<p>On the one hand, I can manually save the debtor account directly in a customer data record. Or on the other hand, I can use these three columns at the bottom of the screen to automatically assign customers to debtor accounts. It is possible to assign debtor accounts depending on the first letter of the customer’s name or company, depending on the country of delivery or depending on the payment method.</p>
</div>
<div class="paragraph">
<p>For example, if I want to assign debtor accounts based on the first letter of the customer’s last name, then I would simply enter the debtor accounts for each initial letter and I would make sure that "Initial letter" was selected as the automatic assignment method.</p>
</div>
<div class="paragraph">
<p>Then I would specify which customer information the initial letter refers to. With this example setting, the system would use the initial letter of the customer’s last name. If no last name is found, then the first name would be used. And again if no match is found, then the company would be used.</p>
</div>
<div class="paragraph">
<p>Alright, so I can either manually save a debtor account or I can assign one automatically. But what happens if an account was neither specified in the customer data record nor in the three columns below? In this case, the standard debtor account saved here will be used.</p>
</div>
<div class="paragraph">
<p>Finally, I can place a check mark here if I want the debtor account to be saved in the customer’s data record. If a check mark is placed, then whichever debtor account is used will be saved in the customer data record. So either the standard debtor account will be saved or the account that was automatically assigned based on letter, country or payment method. Of course, this is assuming that there is not already a debtor account saved in the customer data record.</p>
</div>
<div class="paragraph">
<p>Now let’s take a look at the next tab. Just as before, this tab is also sorted by country. I’ll click on the United Kingdom as an example. Here I can save a revenue account for every VAT rate. If you exceeded the delivery threshold for a country of delivery and you applied for an individual tax number, then save the VAT rates for this country of delivery and afterwards, define the individual revenue accounts for this country.
The revenue account that is saved here will be used for the DATEV/COLLMEX export if no revenue account is saved in the item master data.</p>
</div>
<div class="paragraph">
<p>Alright, now let’s take a look at the last tab in this menu. Here I can save debtor accounts for evenue that is exampe from VAT. I can save two different debtor accounts in this menu. One for revenue that comes from the EU and one for revenue that comes from export in countries outside of the EU. As always, be sure to save the settings once you have finished configuring the accounting menu.</p>
</div>
<div class="paragraph">
<p>Before saying good-bye, I’d like to show you one last function that is very useful if you work with several different clients or locations. In plentymarkets, there is an easy way to copy the revenue settings that are saved in this menu and apply them to other clients or to other locations. I simply click on the gear-wheel icon at the top of the screen.
A new window appears. If you work with multiple clients and locations, then you will see them all listed here at the top of the screen. In this example, I only work with the default client, so there are no other clients listed here.
But I do work with several different locations for my default client, and I can see them all listed here.
I simply place check marks next to whichever locations the settings should be applied to. And then I place check marks next to the different tabs that should be applied.</p>
</div>
<div class="paragraph">
<p>As always when managing your accounting information, it’s a good idea to get in contact with your tax adviser if you are unsure about the legal regulations and settings that apply to your own company.</p>
</div>
</div>
</div>
</main>