<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Managing numbers</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Learn how to configure numbering ranges in your system and how to set up different numbering ranges for various locations.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/161169184" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Welcome to plentymarkets e-learning. In this video tutorial, I’m going to show you how to configure numbering ranges in your system. I’ll also show you how to set up different numbering ranges for different locations.</p>
</div>
<div class="paragraph">
<p>In plentymarkets, it is possible to configure a different numbering range for each document. So once I’ve set up a numbering range for my invoices, for example, my system generates an invoice number and assigns it to the corresponding invoice as soon as it’s been created. It’s also important to note that documents such as invoices and credit notes are managed separately for each location and for each client (store). This means that the number ranges not only apply to a specific document, but also to a specific location and a specific client (store). Since each numbering range is created for a specific location, I can easily manage different bookkeeping locations centrally in my system. So I can set up one numbering range for all of the documents necessary for my Great Britain location and another numbering range for all of the documents relevant to my German location.</p>
</div>
<div class="paragraph">
<p>Alright, so let’s get started. First, I’d like to quickly mention one prerequisite to configuring a numbering range. Before you begin configuring a numbering range for a specific location, make sure that you’ve finished configuring the document template that the numbering range will apply to. So, I can access a document template by opening up the menu "Settings &gt; Client (store)". Here I first decide which store I want to configure the numbering range for.</p>
</div>
<div class="paragraph">
<p>In my system, I only work with the one store - the standard store. But if you manage multiple stores, then you will also see them listed here underneath the standard store. OK, so I’ll open the standard store and then "Locations". Now I also need to decide which location I want to configure the numbering range for. In this example, I’ll select my standard location, which is "London". Then I click on "Documents" and select the document type for which I want to configure the numbering range, so in my case Invoice. This is the document template, which I mentioned needs to be configured before you begin saving number ranges.</p>
</div>
<div class="paragraph">
<p>This video won’t go into all of the different settings that can be configured in the "Template", "Transfer" and "PDF template" tab. But if you need help configuring the document template, then refer to our other online resources.
 Alright, so let’s take a look at how to create numbering ranges. From this menu, I simply open the numbering tab. Most documents allow you to configure a numbering range, but the telltale sign that configuring numbering is possible for a certain document is when it offers this tab.</p>
</div>
<div class="paragraph">
<p>If you leave the fields blank, then your plentymarkets system will automatically generate numbers that it considers to be appropriate. But if you want to have full control over how the numbers are structured, then you can do so by entering information into this tab. The numbering system consists of a prefix and a starting range. The prefix can be composed of up to 5 characters, which include numbers, letters as well as symbols, such as a hyphen. The prefix will automatically be placed in front of the document’s actual number. I will enter the prefix 'GB16 hyphen' to represent invoices for my Great Britain location and the year 2016. The prefix can be changed at any time and doesn’t pose a problem for my tax authority if I can show them when exactly I made that change.</p>
</div>
<div class="paragraph">
<p>In the 'Number (starting value)' field I then enter the number I want my invoices to start with. If you want the invoice number to have a certain amount of digits, then simply enter the starting value with leading zeros (for example, 00001). The document numbers will then be generated in consecutive order. So in this example, the first document will receive the number 1, the second document will receive the number 2, and so on.
Of course, you don’t have to use the number 1 as your starting value. For example, if there are already several numbered invoices in your system, then it would make sense to pick a higher number as your starting point.
Since I haven’t yet saved any invoices in my system yet, I’m starting from scratch. So I COULD start with the number 00001, but since I don’t want my customers to know that I haven’t received a lot of orders yet, I will start my invoice number range with 00100. Under no circumstance can I use letters or special characters in this field since it would prevent my system from being able to create a correct sequence of numbers. And just as a side note, this value can only be changed if I haven’t already begun creating invoices with the numbering range.
Now that I’ve completed these first settings, I click save.</p>
</div>
<div class="paragraph">
<p>It is also possible to create individual numbering ranges for each of my active countries of delivery. In other words, I can use a different numbering range for every country that I ship my items to. To do so, I click on the plus icon here and configure the numbering as I’ve just explained. But before you go about entering values here willy-nilly, I would definitely recommend conferring with your tax advisor beforehand.
Also, never delete an invoice from your system as this creates a gap within your numbering range which can cause problems during an audit.</p>
</div>
<div class="paragraph">
<p>And just so you know, these individual numbering ranges for countries take priority over the general numbering range that I saved for the document as a whole. So if I saved numbering ranges for each countryof delivery, then these numbering ranges will be used and not the general numbering range for the document as a whole.
Since I work with more than one location, I will need to decide how I want to deal with numbering ranges for my second location too. Essentially, I have two different options. The first option would be to use the same numbering range for both locations. If I decide to do this, then I need to enter the same values into the 'Numbering prefix' and Number fields as I did for my London location. My system would then create a succession of invoice numbers taking invoices generated for both locations into account. The second option would be to use a different numbering range for my second location. To do so, I switch to my other location, so Germany, open Documents and Invoice and again switch to the Numbering tab. I then enter different information into the fields. For example, I could enter 'DE16 hyphen' into the Numbering prefix field as well as the value 00100 into the Number field. Setting up my system in this manner allows me to instantly see which location an invoice, or numbering range, applies to.</p>
</div>
<div class="paragraph">
<p>Thanks for watching and I hope you enjoyed learning how to set up and manage numbering ranges for various documents and locations in plentymarkets.</p>
</div>
</div>
</div>
</main>