<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#50"><span>1.</span><span> Practical example: First catalogue for reorders</span></a>
<ul class="sectlevel2">
<li><a href="#70"><span>1.1.</span><span> 1. Step: Which data do I need?</span></a></li>
<li><a href="#90"><span>1.2.</span><span> 2. Step: Add corresponding data fields</span></a></li>
<li><a href="#110"><span>1.3.</span><span> 3. Step: Filters for narrowing down results</span></a></li>
<li><a href="#130"><span>1.4.</span><span> 4. Step: Exporting the catalogue</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Practical example: First catalogue for redistributions</span></a>
<ul class="sectlevel2">
<li><a href="#220"><span>2.1.</span><span> 1. Step: Which data do I need?</span></a></li>
<li><a href="#90"><span>2.2.</span><span> 2. Step: Add corresponding data fields</span></a></li>
<li><a href="#110"><span>2.3.</span><span> 3. Step: Filters for narrowing down results</span></a></li>
<li><a href="#130"><span>2.4.</span><span> 4. Step: Exporting the catalogue</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Practical example: purchase orders</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page of the manual lists practical examples on how to create a catalogue for the export of reorders and redistributions as well as their order items. If you are not yet familiar with the catalogues, refer to the manual page <a href="/en/data/exporting-data/file-export">Using standard formats</a> first. There, you get all the general information you need for creating and managing catalogues.</p>
</div>
<div class="paragraph">
<p>The catalogue format Purchase order comprises all data fields for reorders and redistributions, order item data included. Thus, depending on your workflow, you can either create separate catalogues for the export of each data or you can combine them in one catalogue. The export of data records is limited to 60000.<br>
The catalogues offer a lot of options for compiling and arranging information. Therefore, decide first for what you want to use the exported data and then which data you need for this purpose and which compilation in catalogues is most useful. For example, you could create a catalogue for the statistical evaluation of data or a catalogue for the management of reorders. You decide how the catalogues are structured.</p>
</div>
<div class="paragraph">
<p>In the following, we give examples for catalogues for the export of reorder and redistribution data. The examples show how the export of order data can be structured with the catalogues. You can use the examples as guidance when you create your own catalogues, but you are free to set up the catalogues according to your requirements.</p>
</div>
<div class="paragraph">
<p>Select the following <a href="/en/data/exporting-data/managing-catalogues#120">basic settings</a> when you want to create a new catalogue for the export of purchase order data:</p>
</div>
<table id="table-basic-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Basic catalogue settings for the export of purchase orders</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standard format</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purchase order</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purchase order</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">1. Practical example: First catalogue for reorders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Let’s suppose you want export some basic data of reorders that were finished in the last month for evaluation purposes. Then proceed as described on this page.</p>
</div>
<div class="sect2">
<h3 id="70">1.1. 1. Step: Which data do I need?</h3>
<div class="paragraph">
<p>Think about which reorder data are relevant for you. Let’s assume you only need the following data for a first evaluation:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Reorder ID: To match data later on and to extend data, if needed.</p>
</li>
<li>
<p>Amounts: For a list of expenditures, for example.</p>
</li>
<li>
<p>Supplier: For an overview of frequented suppliers.</p>
</li>
<li>
<p>Variation ID: To break down which items are in demand.</p>
</li>
<li>
<p>Quantity: To break down how many of the items (defined by the variation ID) were sold.</p>
</li>
<li>
<p>Prices: For example, to compare prices.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can customise this list, either adapt or extend data. Also decide which combination of information is relevant for you. Maybe it is useful to group data and to combine them in several separate catalogues.</p>
</div>
</div>
<div class="sect2">
<h3 id="90">1.2. 2. Step: Add corresponding data fields</h3>
<div class="paragraph">
<p>Add the following <a href="/en/data/exporting-data/managing-catalogues#160">data fields</a> to combine the listed data in one catalogue. You add a data field by clicking on <strong>Add data field</strong> (<span class="icon "><i class="material-add"></i></span>).<br>
You can link data fields (<span class="icon "><i class="material-link"></i></span>) so that they are exported together, for example in one column of a CSV file. This is useful for some of the data, e.g. for the first and last name of a contact. You decide which links are useful for you.<br>
Save (<span class="icon "><i class="material-save"></i></span>) the catalogue after you added the data fields.</p>
</div>
<div class="ulist">
<div class="title">Data fields:</div>
<ul>
<li>
<p><strong>Purchase order &gt; Purchase order property</strong><br>
After you added the data field, select a purchase order property. In this context for example <strong>External order ID</strong>.</p>
</li>
<li>
<p><strong>Purchase order &gt; Purchase order amount</strong> &gt; <strong>Net amount</strong><br>
After you added the data field, select in which currency the amount is to be exported.</p>
</li>
<li>
<p><strong>Supplier &gt; Contact ID</strong> link with <strong>Supplier &gt; Last name</strong> link with <strong>Supplier &gt; First name</strong><br>
This way, the ID of the supplier is exported together with the corresponding name.</p>
</li>
<li>
<p><strong>Addresses</strong> &gt; <strong>Address ID</strong><br>
After adding the data field, select which ID is to be exported. In this context <strong>Supplier address</strong>, for example.</p>
</li>
<li>
<p><strong>Purchase order &gt; Purchase order item &gt; Variation ID</strong></p>
</li>
<li>
<p><strong>Purchase order &gt; Purchase order item &gt; Quantity</strong></p>
</li>
<li>
<p><strong>Purchase order &gt; Purchase order item &gt; Price net</strong><br>
After you added the data field, select in which currency the amount is to be exported.</p>
</li>
<li>
<p><strong>Purchase order &gt; Purchase order item &gt; Price net</strong><br>
After you added the data field, select in which currency the amount is to be exported.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Structure of data fields</div>
<div class="paragraph">
<p>The data fields (<span class="icon "><i class="psicon-order_return_create_edit"></i></span>) are grouped topically in folders. On the first level, you see the main folders. When you open a folder, data fields and more subfolders are listed. The subfolders can be opened as well, to have further data fields displayed.<br>
Note also that you can make further selections for some data fields after adding them. You can see this directly at the added data field. If you do not make a selection, no information is exported for these fields.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>If you take over the <a href="/en/data/exporting-data/managing-catalogues#165">order of data fields</a> as it is listed above, the data are also exported in this order. Because of this, decide which order is most useful to you before you start the export. For example, the order amount and the prices are not listed together, but you could also group them.</p>
</div>
<div class="paragraph">
<p>In addition, you could also adapt the <a href="/en/data/exporting-data/managing-catalogues#162">Export keys</a>. This is particularly recommended when you link data fields or when you add the same data field twice with different further selections. When you select the data field <strong>Adress ID</strong> for example, you can select between three different IDs. Adapt the export keyFor so that it is more significant.</p>
</div>
<div class="paragraph">
<p>Linking data fields is optional. You can add further data fields, link more of them or delete them and thus customise the catalogue according to your requirements. When linking data fields, take note of the order in which you link the data fields. Also, select <strong>Separators</strong> from the <strong>Settings</strong>(<span class="icon "><i class="material-settings"></i></span>) so that the exported data are displayed correctly in the export file.</p>
</div>
</div>
<div class="sect2">
<h3 id="110">1.3. 3. Step: Filters for narrowing down results</h3>
<div class="paragraph">
<p>Think about which orders are to be exported and how the results can be narrowed down. This is also helpful because otherwise large amounts of data are generated and there might be data included in the export which you don’t even need.</p>
</div>
<div class="paragraph">
<p>For the example we want data of the last 14 days, therefore we need this filter:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Order type</strong><br>
Click on <strong>Add filters</strong> and select <strong>Reorder</strong>.</p>
</li>
<li>
<p><strong>Finish date</strong><br>
Click on <strong>Add filter</strong> and select <strong>Period</strong> from the drop-down list. Use the date picker to select the required period.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The filters are individually extendable. For example, if you only want to export reorders that were delivered to a specific warehouse, you can additionally add the filter <strong>Inbound warehouse</strong> and then select the required warehouse from the drop-down list. By adding more filters, the results are narrowed down.<br>
Save (<span class="icon "><i class="material-save"></i></span>) the catalogue after setting the filters.</p>
</div>
</div>
<div class="sect2">
<h3 id="130">1.4. 4. Step: Exporting the catalogue</h3>
<div class="paragraph">
<p>After you selected all the necessary settings as well as data fields and filters, the catalogue is ready for export. Before that, you can use the <a href="/en/data/exporting-data/managing-catalogues#255">Preview</a> to check all your settings.</p>
</div>
<div class="paragraph">
<p>While your at it, also check the <a href="/en/data/exporting-data/managing-catalogues#150">Export settings</a> of your catalogue. You can use the setting <strong>Transfer</strong> to decide when the export is started, for example <strong>Daily</strong>. Or you select <strong>Schedule</strong> and then a specific time, e.g. <strong>11:40 pm - 12:00 am</strong>.<br>
Note that catalogues are only saved for 15 days after exporting them. Take this into consideration if you want to use a catalogue more than once. Therefore, factor in the <a href="/en/data/exporting-data/managing-catalogues#260">catalogue export</a> into your workflow.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Practical example: First catalogue for redistributions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Let’s suppose you want export some basic data of redistributions of the last 7 days that were booked into a specific warehouse.s. Then proceed as described on this page.</p>
</div>
<div class="sect2">
<h3 id="220">2.1. 1. Step: Which data do I need?</h3>
<div class="paragraph">
<p>Think about which redistribution data are relevant for you. Let’s assume you only need the following data for a first evaluation:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Owner: For an overview who worked on which redistrubution.</p>
</li>
<li>
<p>Ordered date: To see which redistribution was already initiated and when.</p>
</li>
<li>
<p>Warehouse: For an overview of outbound and inbound warehouses.</p>
</li>
<li>
<p>Stock movements: For an overview of stock movements.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can customise this list, either adapt or extend data. Also decide which combination of information is relevant for you. Maybe it is useful to group data and to combine them in several separate catalogues.</p>
</div>
</div>
<div class="sect2">
<h3 id="90">2.2. 2. Step: Add corresponding data fields</h3>
<div class="paragraph">
<p>Add the following <a href="/en/data/exporting-data/managing-catalogues#160">data fields</a> to combine the listed data in one catalogue. You add a data field by clicking on <strong>Add data field</strong> (<span class="icon "><i class="material-add"></i></span>).<br>
You can link data fields (<span class="icon "><i class="material-link"></i></span>) so that they are exported together, for example in one column of a CSV file. This is useful for some of the data, e.g. for the first and last name of a contact. You decide which links are useful for you.<br>
Save (<span class="icon "><i class="material-save"></i></span>) the catalogue after you added the data fields.</p>
</div>
<div class="ulist">
<div class="title">Data fields:</div>
<ul>
<li>
<p><strong>Purchase order &gt; Owner ID</strong><br></p>
</li>
<li>
<p><strong>Purchase order &gt; Purchase order date</strong><br>
After you added the data field, select in which date is to be exported. In this context you can select <strong>Purchase date</strong>, for example.</p>
</li>
<li>
<p><strong>Warehouse &gt; Warehouse ID</strong> link with <strong>Warehouse &gt; Type ID</strong><br>
After you added the second data field, select <strong>Inbound warehouse</strong>. By linking the fields, the ID and the warehouse will be exported together.</p>
</li>
<li>
<p><strong>Stock movements &gt; Quantity inbound</strong></p>
</li>
<li>
<p><strong>Stock movements &gt; Quantity outbound</strong></p>
</li>
<li>
<p><strong>Stock movements &gt; Quantity inbound cancelled</strong></p>
</li>
<li>
<p><strong>Stock movements &gt; Quantity outbound cancelled</strong></p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Structure of data fields</div>
<div class="paragraph">
<p>The data fields (<span class="icon "><i class="psicon-order_return_create_edit"></i></span>) are grouped topically in folders. On the first level, you see the main folders. When you open a folder, data fields and more subfolders are listed. The subfolders can be opened as well, to have further data fields displayed.<br>
Note also that you can make further selections for some data fields after adding them. You can see this directly at the added data field. If you do not make a selection, no information is exported for these fields.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>If you take over the <a href="/en/data/exporting-data/managing-catalogues#165">order of data fields</a> as it is listed above, the data are also exported in this order. Because of this, decide which order is most useful to you before you start the export. For example, the quantities are not grouped by inbound and outbound, which could be changed.</p>
</div>
<div class="paragraph">
<p>In addition, you could also adapt the <a href="/en/data/exporting-data/managing-catalogues#162">Export keys</a>. This is particularly recommended when you link data fields or when you add the same data field twice with different further selections, for example for the data field <strong>Type ID</strong>. Adapt the export keyFor so that it is more significant.</p>
</div>
<div class="paragraph">
<p>Linking data fields is optional. You can add further data fields, link more of them or delete them and thus customise the catalogue according to your requirements. When linking data fields, take note of the order in which you link the data fields. Also, select <strong>Separators</strong> from the <strong>Settings</strong>(<span class="icon "><i class="material-settings"></i></span>) so that the exported data are displayed correctly in the export file.</p>
</div>
</div>
<div class="sect2">
<h3 id="110">2.3. 3. Step: Filters for narrowing down results</h3>
<div class="paragraph">
<p>Think about which orders are to be exported and how the results can be narrowed down. This is also helpful because otherwise large amounts of data are generated and there might be data included in the export which you don’t even need.</p>
</div>
<div class="paragraph">
<p>For the example we want data of the last 14 days, therefore we need this filter:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Order type</strong><br>
Click on <strong>Add filters</strong> and select <strong>Redistribution</strong>.</p>
</li>
<li>
<p><strong>Ordered date</strong><br>
Click on <strong>Add filter</strong> and select <strong>Last</strong> from the drop-down list. Enter the number of days, for this example 7.</p>
</li>
<li>
<p><strong>Outbound warehouse</strong><br>
Click on <strong>Add filters</strong> and select the required warehouse.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The filters are individually extendable. For example, if you only want to export redistributions in a specific order status, you can additionally add the filter <strong>Order status</strong> and then select the order statuses from the drop-down list. By adding more filters, the results are narrowed down.<br>
Save (<span class="icon "><i class="material-save"></i></span>) the catalogue after setting the filters.</p>
</div>
</div>
<div class="sect2">
<h3 id="130">2.4. 4. Step: Exporting the catalogue</h3>
<div class="paragraph">
<p>After you selected all the necessary settings as well as data fields and filters, the catalogue is ready for export. Before that, you can use the <a href="/en/data/exporting-data/managing-catalogues#255">Preview</a> to check all your settings.</p>
</div>
<div class="paragraph">
<p>While your at it, also check the <a href="/en/data/exporting-data/managing-catalogues#150">Export settings</a> of your catalogue. You can use the setting <strong>Transfer</strong> to decide when the export is started, for example <strong>Daily</strong>. Or you select <strong>Schedule</strong> and then a specific time, e.g. <strong>11:40 pm - 12:00 am</strong>.<br>
Note that catalogues are only saved for 15 days after exporting them. Take this into consideration if you want to use a catalogue more than once. Therefore, factor in the <a href="/en/data/exporting-data/managing-catalogues#260">catalogue export</a> into your workflow.</p>
</div>
</div>
</div>
</div>
</main>