<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Locations - An introduction</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Learn how to manage information separately for all of the different branch offices where your company is located.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/168737534" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Welcome to plentymarkets e-learning. In this video tutorial, I’ll show you how to save information for all of the different branch offices where your company is located. When you’re done watching this video, you will understand how to manage information separately for each of these locations.</p>
</div>
<div class="paragraph">
<p>In plentymarkets, every client can have various locations. And users can save basic settings, accounting information and documents for each location. Let’s say, for example, that your company’s main branch is in the United Kingdom, and that you also have a smaller subsidiary in Germany. In plentymarkets, you’ll be able to save VAT and tax information separately for each of these locations. And you’ll also be able to save document templates that are customized for each location. Orders that you receive will automatically be assigned to locations based on which country the item’s warehouse is located in.</p>
</div>
<div class="paragraph">
<p>I’ve already opened the settings for my London warehouse. The setting that we’re going to look at here is the location. This drop-down menu lists all of the active countries of delivery in my system. So here I just specify which country the warehouse is located in. OK, now let’s close the "Stock" menu and take a look at the "Client" settings. Here I see all of the different clients that I manage with my plentymarkets system, and I can save location settings for each client individually.</p>
</div>
<div class="paragraph">
<p>In this example, I’ll show you the location settings that are saved for my standard client. Location settings are saved here under "Locations". I’ve already created two locations for this client - one for my company’s main branch in London, and one for my smaller subsidiary in Germany. If I want to create another location, then I simply klick on the small triangle at the end of the line. OK, so one thing that you’ll notice here is that in my example, London is marked as the standard location. But how do I tell my plentymarkets system which location it should treat as standard or default? Well, this is saved in the client’s basic settings.</p>
</div>
<div class="paragraph">
<p>I simply use this drop-down menu here to tell my system which location I want to treat as the default.
Now let’s take a closer look at a location. Each location contains the three menus - settings, accounting and documents. The settings menu is fairly straight forward. Here I see which country was selected when the location was created, but I can’t change this setting. It’s simply for reference.</p>
</div>
<div class="paragraph">
<p>What I can edit is the name of my location. So, here for example, I could be more specific and say that my branch office is located in Berlin. So when you work with locations, please keep in mind that your own locations could be a country like Germany, they could be cities like Berlin, Frankfurt and Munich. Or they could even be things like local counties or regions. It’s really up to you how you define your own locations. OK, next you’ll also see a delete button in the upper right corner. You can delete any locations except for the standard location. So in the standard location settings, this button is grayed out.</p>
</div>
<div class="paragraph">
<p>OK, and those are the very basics for working with different locations. Of course, you can also save VAT and tax information separately for each location and you can also save document templates that are customized for each location. Both of these topics are a bit more comprehensive, so they are discussed in separate videos. Make sure to check out these videos once you’ve got a handle on your basic location information and you’re ready to move on.</p>
</div>
</div>
</div>
</main>