<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>SEPA direct debit mandate</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Learn how to create a SEPA direct debit mandate in your plentymarkets system. Then see two different ways to send this document to your customer and learn how to confirm receipt once your customer has returned the signed document.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/182819159" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Welcome to plentymarkets e-learning. This video focuses on the SEPA direct debit mandate, which is simply a PDF document that customers sign if they want to grant a seller permission to collect payment from their bank account. So instead of a regular bank transfer, where the customer wires money to the seller.</p>
</div>
<div class="paragraph">
<p>SEPA direct debit is a way for customers to authorise sellers to take payment directly from their bank account. But of course, sellers are only allowed to take money directly from a customer’s bank account if the customer has given the seller written permission to do so. This written permission is called a SEPA direct debit mandate.</p>
</div>
<div class="paragraph">
<p>SEPA direct debit has been implemented throughout Europe and is very popular in several countries, for example in Germany. It is more-or-less similar to UK direct debit. But SEPA direct debit differs in a few ways. First off, all SEPA transactions are made in Euros. And second, if you want to collect SEPA payments, then you’ll need your customer’s BIC and IBAN, rather than their account number and sort code.</p>
</div>
<div class="paragraph">
<p>This video is divided into three parts. First, I’ll teach you how to create a SEPA direct debit mandate. Second, I’ll show you two different ways to send this document to your customers. And third, I’ll show you how to confirm that your customer has signed and returned the form to you. Alright, let’s get started.</p>
</div>
<div class="paragraph">
<p>First, I’ll show you how to create the PDF document that you will send to your customers. If you’re already familiar with document templates in plentymarkets, then this should all be pretty straight forward. Just open the menu "Settings » Client » Standard » Locations" and then select whichever location the PDF document should be used for and click on "Documents » SEPA direct debit mandate".</p>
</div>
<div class="paragraph">
<p>So as you can see from this menu path, it’s possible to save a different mandate for every client and location that you work with. In this example, I’m creating the mandate that I want to use for my standard or default online store and my German branch location.</p>
</div>
<div class="paragraph">
<p>Furthermore, it’s possible to save a different version of the mandate for every language that you work with. Alright, so there are just two steps to creating the SEPA direct debit mandate. First, you’ll upload a PDF template, which is simply a blank form that might look something like this or like this. You’ll be able to find lots of example PDF templates online, which you can use for inspiration. But just keep in mind that although you can more-or-less design the SEPA direct debit mandate however you want, there are in fact strict regulations about the actual content that needs to be included on the form.</p>
</div>
<div class="paragraph">
<p>For example, you’ll have to use this exact wording, so make sure that you don’t change the text here in any way. And when you’re creating your PDF template, it’s a good idea to contact your bank and ask them about what sort of PDF template they’ll accept. Your bank may be able to give you an example PDF template or give you a few other helpful tips about creating the template.</p>
</div>
<div class="paragraph">
<p>Alright, so first, you’ll upload a PDF template that looks something like this and second, you’ll fill in the blanks on this form. This is done by saving information in these fields here and using X-Y coordinates to specify where this information should appear. Enter information about the recipient of payment into the top portion of the menu. So in order words, enter information about your own company.</p>
</div>
<div class="paragraph">
<p>And then the lower portion of the menu is for information about your customer. In other words, information about whoever is liable to pay. And you’ll notice that you can’t actually enter any information into these lower fields. That’s because things like your customer’s address and bank details are taken directly from the customer data record.</p>
</div>
<div class="paragraph">
<p>So for example, if the SEPA mandate is sent to Joe Bloggs, then the address data saved here will automatically appear on the mandate along with the bank account information saved here.</p>
</div>
<div class="paragraph">
<p>Alright, so now that you understand how to arrange these pieces of information on the mandate, I’d like to show you a quick example of what the end result might look like. In this example, I first got a blank PDF template from my bank and now I’ll need to fill in this form, for example by adding my company’s name, address and creditor identifier.</p>
</div>
<div class="paragraph">
<p>So first I just upload the blank PDF template. Here I can find the template that I just uploaded and I can see a preview of the blank template if I want to. Back in the "Template" tab, I’m ready to add my company information and use X-Y coordinates to specify where this information should appear.</p>
</div>
<div class="paragraph">
<p>There’s just one setting up top that I’d like to explain briefly. The creditor identifier is a unique reference number, which identifies companys that collect payments with SEPA direct debit. So as a seller, you’re going to need a creditor identifier before you can collect payments with SEPA direct debit. If you’re familiar with UK direct debit, then you can think of this number as being similar to a Service User Number. Simply contact your bank to get a SEPA creditor identifier. Your bank will generate a number for you. Down at the bottom of the screen, there’s one other option that you may not find intuitive. If your PDF template spans several pages, then your can choose "Yes" if you want your customer to be sent all of the pages. Or you can choose "No" if you only want your customer to see the first page.</p>
</div>
<div class="paragraph">
<p>Here for example, I’ve added a second page to my template, which tells my customer where to fax the form back to. So this option here just lets me decide whether I want to include the second page. Now if I click on the preview icon up here, I’ll see what the form looks like when it’s been filled out.
Here you can see that this contact information was filled in automatically. And you’ll notice that this mandate reference number XXX here isn’t something that was entered in this menu. Rather, it’s the customer ID taken directly from the customer data record.</p>
</div>
<div class="paragraph">
<p>Down here I see the name, address and bank details for my customer. All of this information was also taken directly from the customer data record. Now that you’ve finished configuring the SEPA direct debit mandate, you’ll need to figure out how you want to send this mandate to your customers. Essentially, there are two different ways to do this. You can either email the form to your customer or you can allow your customer to download the form from the "My account" area of your online store. I’ll show you both methods in this video.</p>
</div>
<div class="paragraph">
<p>Let’s start with how to email the form to customers. Just like with any other email, you’ll need to create an email template in this menu. And you can attach the SEPA direct debit mandate to this email by selecting this PDF document like so. Just like with any other email template, you can manually send it to a customer. For example, by opening the customer’s order, clicking on the "Email" tab and using the "Direct emailing" function. But of course, it’s quite time consuming to manually send this email.</p>
</div>
<div class="paragraph">
<p>A much better solution would be to set up an event procedure, which automatically sends this email every time you receive a new order where the customer has chosen to pay with direct debit. I’ve already created just such an example event procedure in my system. Here you can see that the event procedure goes into effect every time I receive a new order where the customer has chosen to pay with direct debit. Whenever this occurs, my plentymarkets system will automatically email the SEPA direct debit mandate to the customer.</p>
</div>
<div class="paragraph">
<p>OK, so the first way to get the SEPA mandate to your customer is by sending it as an email attachment. And the second way is by allowing your customer to download the form from the "My account" area of your online store. In this menu here, just select "Show" to indicate that you want customers to be able to download the mandate on their own. If you’ve selected "Show" here, then customers will be able to download the SEPA mandate as soon as they’ve saved their bank details in the "MyAccount" area.</p>
</div>
<div class="paragraph">
<p>Once your customer’s got ahold of the SEPA direct debit mandate, he or she will just need to sign the form and send it back to you. And then last but certainly not least, you’ll need to confirm receipt of the signed form so that you’re legally authorized to withdraw payment from the customer’s bank account.
So once your customer’s sent the form back to you, just open the customer data record and click on the "Settings" tab. Here, place a check mark next to the option "SEPA direct debit mandate" to indicate that you’ve received the signed form from your customer. You won’t be able to use the pain.008 format to retrieve payment until you’ve checked this option here.</p>
</div>
<div class="paragraph">
<p>And one last little thing to note about this checkbox. If your customer’s bank details ever change in the future, then the check mark will automatically be removed from this box. So if your customers change their own bank details in the "MyAccount" area, or if one of your staff members changes the bank details saved in this menu, then the check mark here will disappear. It’s important to be aware of this because if your customer’s bank information changes, then you’ll need to have your customer fill out a new SEPA mandate.</p>
</div>
<div class="paragraph">
<p>Lastly, while you’ve got this menu open, you’ll also need to specify the type of mandate and the payment frequency. Both of these options are pretty straight forward.
The type of mandate just indicates whether this is a normal transaction between a business and a customer or whether this is a business to business transaction. And please note that business to business transactions require a separate mandate. So in general, you’re probably working with regular direct debits. The payment frequency is also quite easy to understand. Just specify whether the mandate authorizes you to collect a payment one time, or whether it allows you to collect multiple payments.</p>
</div>
<div class="paragraph">
<p>And that’s all there is to the SEPA direct debit mandate. At this point, you may want to continue by watching our video about the SEPA pain.008 format, which teaches you how to submit SEPA direct debits to your bank and collect your payment.</p>
</div>
</div>
</div>
</main>