<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_amazon_fba_amazon_stores_and_ships"><span>1.</span><span> Amazon FBA: Amazon stores and ships</span></a></li>
<li><a href="#_amazon_mfn_you_store_and_ship"><span>2.</span><span> Amazon MFN: You store and ship</span></a></li>
<li><a href="#_decisions_decisions_fba_or_mfn"><span>3.</span><span> Decisions, decisions: FBA or MFN?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>FBA vs. MFS</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>You can organise the shipping of variations sold on Amazon in two different ways:</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_amazon_fba_amazon_stores_and_ships">1. Amazon FBA: Amazon stores and ships</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The abbreviation FBA stands for Fulfilment by Amazon. Instead of dealing with the orders yourself, packaging the items and sending them, you let Amazon take care of this task for you with the FBA programme. Of course, you then have to store at least some of your items with Amazon. Learn how to set up the FBA service by Amazon on the <a href="/en/markets/amazon/amazon-fba">Using the FBA service by Amazon</a> page of the manual. In addition, the Multi-Channel function allows you to store your items with Amazon and have Amazon ship your items even though you sell these items on external markets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_amazon_mfn_you_store_and_ship">2. Amazon MFN: You store and ship</h2>
<div class="sectionbody">
<div class="paragraph">
<p>MFN is short for Merchant Fulfillment Network. That means: You process your Amazon orders and pack and ship the orders. Our <a href="/en/markets/amazon/best-practices-amazon-mfn-order-import">Best practice: MFN order import</a> tells you more.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_decisions_decisions_fba_or_mfn">3. Decisions, decisions: FBA or MFN?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Only you can decide whether the advantages tied to the FBA service outweigh the disadvantages for your personal situation as an online seller. Here we would only like to make reference to a few important points:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Amazon processes orders quickly and reliably. Peak times before Christmas run just as smoothly for store owners as the summer slump while most people are away on vacation.</p>
</li>
<li>
<p>Your listing on the market improves noticeably. You can expect higher sales figures.</p>
</li>
<li>
<p>The FBA service is subject to costs. Naturally, your gross margin will decrease. When doing a comprehensive comparison of the costs, keep in mind that the FBA service includes the expenses tied to storage, handling orders, customer service etc. and as such, relieves you from these expenditures.</p>
</li>
<li>
<p>Generally, items that are stored with Amazon can only be offered there as well. You need to have separate stock for other markets. Amazon’s Multi-Channel fulfilment service, however, is a variation that provides you with additional possibilities in this matter.</p>
</li>
<li>
<p>You have much less stress with deliveries that cannot be sent or that are delayed. Packages with the Amazon logo are generally given priority.</p>
</li>
</ul>
</div>
</div>
</div>
</main>