<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_the_most_important_amazon_fba_terms_and_definitions"><span>1.</span><span> The most important Amazon FBA terms and definitions</span></a></li>
<li><a href="#50"><span>2.</span><span> Setting up Amazon FBA</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>2.1.</span><span> Saving VAT rates for European Fulfilment Network (EFN)</span></a></li>
<li><a href="#60"><span>2.2.</span><span> Creating a warehouse for Amazon FBA</span></a></li>
<li><a href="#90"><span>2.3.</span><span> Setting up FBA Inbound shipments</span></a>
<ul class="sectlevel3">
<li><a href="#92"><span>2.3.1.</span><span> Selecting the label type for FBA inbound shipments</span></a></li>
<li><a href="#110"><span>2.3.2.</span><span> Saving contact details for FBA Inbound shipments</span></a></li>
</ul>
</li>
<li><a href="#70"><span>2.4.</span><span> Setting up FBA outbound orders</span></a>
<ul class="sectlevel3">
<li><a href="#80"><span>2.4.1.</span><span> Automatically importing FBA credit notes</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#3700"><span>3.</span><span> Setting up Amazon Multi-Channel</span></a>
<ul class="sectlevel2">
<li><a href="#3800"><span>3.1.</span><span> Creating a warehouse for Amazon Multi-Channel</span></a></li>
<li><a href="#3900"><span>3.2.</span><span> Activating the variation availability for Amazon Multi-Channel</span></a></li>
<li><a href="#4000"><span>3.3.</span><span> Carrying out settings for Amazon Multi-Channel</span></a></li>
<li><a href="#4100"><span>3.4.</span><span> Automatically transferring the shipping permission to FBA</span></a></li>
<li><a href="#2400"><span>3.5.</span><span> Synchronising stock for Amazon Multi-Channel</span></a></li>
</ul>
</li>
<li><a href="#120"><span>4.</span><span> Managing FBA Inbound orders</span></a>
<ul class="sectlevel2">
<li><a href="#_fba_inbound_workflow"><span>4.1.</span><span> FBA Inbound workflow</span></a></li>
<li><a href="#130"><span>4.2.</span><span> Creating an FBA shipment in Amazon Seller Central</span></a></li>
<li><a href="#125"><span>4.3.</span><span> Viewing FBA Inbound shipments in plentymarkets</span></a></li>
<li><a href="#140"><span>4.4.</span><span> Creating a redistribution for the shipment</span></a></li>
<li><a href="#150"><span>4.5.</span><span> Viewing FBA Inbound orders</span></a></li>
<li><a href="#160"><span>4.6.</span><span> Processing FBA Inbound orders in the warehouse</span></a>
<ul class="sectlevel3">
<li><a href="#200"><span>4.6.1.</span><span> Printing a pick list</span></a></li>
<li><a href="#170"><span>4.6.2.</span><span> Opening the package content list</span></a></li>
<li><a href="#180"><span>4.6.3.</span><span> Registering the FBA Inbound order with Amazon</span></a></li>
<li><a href="#185"><span>4.6.4.</span><span> Cancelling the FBA Inbound order with Amazon</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#20"><span>5.</span><span> Managing FBA Outbound orders</span></a>
<ul class="sectlevel2">
<li><a href="#22"><span>5.1.</span><span> Workflow of Outbound orders</span></a></li>
<li><a href="#30"><span>5.2.</span><span> FBA Outbound partial deliveries</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Using the FBA service by Amazon</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The abbreviation FBA stands for Fulfilment by Amazon. Instead of dealing with the orders yourself, packaging the items and sending them, you let Amazon take care of this task for you with the FBA programme. Of course, you then have to store at least some of your items with Amazon.</p>
</div>
<div class="paragraph">
<p>For further information about setting up Amazon FBA in plentymarkets, watch this video tutorial:</p>
</div>
<div class="videoblock">
<div class="title">Amazon FBA</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/314713940" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_the_most_important_amazon_fba_terms_and_definitions">1. The most important Amazon FBA terms and definitions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Amazon and this manual page use some specific terms in relation to Amazon FBA. These are explained here to help you get started.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Inbound</div>
<div class="content">
<div class="paragraph">
<p>Inbound means that you supply Amazon with items that Amazon then delivers to your customers.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Inbound shipments are your shipments to an Amazon FBA Fulfillment Center.</p>
</li>
<li>
<p>Inbound orders are the orders that are created in plentymarkets for your inbound shipments.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Outbound</div>
<div class="content">
<div class="paragraph">
<p>Outbound describes the sales and distribution process that Amazon takes over for you:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Amazon stores the items.</p>
</li>
<li>
<p>When a customer places an order, Amazon packs and ships the items.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Amazon Multi-Channel</div>
<div class="content">
<div class="paragraph">
<p>Amazon Multi-Channel allows you to store your items with Amazon and have Amazon ship your items even when you sell these items on external markets.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Amazon stores the items.</p>
</li>
<li>
<p>When a customer places an order on another market, Amazon packs and ships the items.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="50">2. Setting up Amazon FBA</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to set up Amazon FBA in your plentymarkets system.</p>
</div>
<div class="sect2">
<h3 id="40">2.1. Saving VAT rates for European Fulfilment Network (EFN)</h3>
<div class="paragraph">
<p>Amazon is continuously expanding its European Fulfilment Network for sellers who use shipment by Amazon. In order to use this network, you need to be fiscally registered in all countries in which you use FBA logistics centres. In order for your invoices to be generated correctly for these new logistics centres from the fiscal point of view, you can - in addition to your company location - select the warehouse location as basis for the default VAT rate. You can carry out these settings for each client in the <strong>Setup » Client » [Select client] » Locations » [Select location] » Accounting</strong> menu. In the <strong>VAT rates</strong> tab, you save the necessary tax rates for the countries.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/orders/accounting#_creating_a_new_location">How to set up a new location</a></p>
</li>
<li>
<p><a href="/en/orders/accounting#550">How to enter VAT rates</a></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong><em>Example:</em></strong> Logistics centre is located in Poland and items are shipped to Germany</div>
<div class="content">
<div class="paragraph">
<p>To avoid that the Polish tax rate is used for orders that are shipped to Germany from a logistics centre in Poland, you also have to enter the country Germany with the German tax rate for the location Poland. To do so, go to <strong>Setup » Client » [Select client] » Locations » Poland » Accounting » Tab: VAT rates</strong> and select the country <strong>Germany</strong>. Enter the German tax rate as well as the valid VAT number.<br>
<a href="/en/orders/accounting#550">How to enter VAT rates</a></p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="60">2.2. Creating a warehouse for Amazon FBA</h3>
<div class="paragraph">
<p>Start by creating warehouses for Amazon fulfilment orders. You need to create a warehouse in plentymarkets for every Amazon logistic warehouse that you send items to. This ensures that the complete range of stock management functions remain intact with the FBA programme and that you can keep track of the stock at Amazon in your plentymarkets system.</p>
</div>
<div class="paragraph instruction">
<p>Creating a warehouse:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Warehouse</strong>.</p>
</li>
<li>
<p>Click on <strong>New warehouse</strong>.</p>
</li>
<li>
<p>Enter a name for the warehouse.</p>
</li>
<li>
<p>Select a <strong>Warehouse type</strong>.<br>
<strong><em>Note:</em></strong> If you only want to use this warehouse for FBA stock, i.e. if you only want to offer the stock of this warehouse for Amazon FBA and not in your plentyShop or on other markets, then select the warehouse type <strong>Repair</strong>.</p>
</li>
<li>
<p>Select <strong>Amazon</strong> as <strong>Logistics type</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The warehouse is listed in the overview in alphabetical order and opened.</p>
</li>
<li>
<p>Carry out further settings according to the explanations on the <a href="/en/stock-management/setting-up-a-warehouse">Setting up a warehouse</a> page of the manual.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The warehouse is created.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="90">2.3. Setting up FBA Inbound shipments</h3>
<div class="paragraph">
<p>To allow Amazon to ship your items, you need to make sure that there is sufficient stock in one or more FBA fulfilment centers. Start with general settings for shipments to FBA fulfilment centers.</p>
</div>
<div class="sect3">
<h4 id="92">2.3.1. Selecting the label type for FBA inbound shipments</h4>
<div class="paragraph">
<p>Select the label type that you want to use for parcel shipments sent with an Amazon Partnered Carrier. You can download and print the label later in the size that you selected here after you have registered the order successfully.</p>
</div>
<div class="paragraph instruction">
<p>Selecting the label type for FBA inbound shipments:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Amazon FBA » Basic settings</strong>.</p>
</li>
<li>
<p>Select a <strong>Printer profile for labels</strong> from the drop-down list.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the setting.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="110">2.3.2. Saving contact details for FBA Inbound shipments</h4>
<div class="paragraph">
<p>Enter the contact details of the person in your company that Amazon can contact in case of any queries regarding the shipment.</p>
</div>
<div class="paragraph instruction">
<p>Saving contact details for FBA Inbound shipments:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Amazon FBA » Contact</strong>.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#fba-contact">Table 1</a>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The contact details are saved.</p>
</li>
</ol>
</div>
<table id="fba-contact" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Contact details for FBA Inbound shipments</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong>;<br>
<strong>Email address</strong>;<br>
<strong>Telephone number</strong>;<br>
<strong>Fax number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the contact details of the person that Amazon can contact in case of questions.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="70">2.4. Setting up FBA outbound orders</h3>
<div class="paragraph">
<p>Now specify how FBA orders from Amazon are to be processed.</p>
</div>
<div class="paragraph instruction">
<p>Setting up FBA outbound orders:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » Settings</strong>.</p>
</li>
<li>
<p>Select the Amazon account for which you want to activate FBA.</p>
</li>
<li>
<p>Click on the <strong>Order settings</strong> tab.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#fba-order-settings">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="fba-order-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings in the <strong>Order settings</strong> tab</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Shipment by Amazon (FBA)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Place a check mark to activate Amazon FBA. Your FBA orders automatically are imported into your plentymarkets system daily.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrers</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether only orders from Amazon should be processed with FBA or whether orders from other <a href="/en/orders/order-referrer">referrers</a> should be processed with FBA as well.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the <a href="/en/orders/managing-orders#1200">status</a> that is to be assigned to orders that are imported from Amazon.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select which <a href="#60">Amazon FBA warehouse</a> should be used for stock synchronisation with the account. This warehouse is also used to assign the FBA order to the account if no FBA order could be assigned to the country the order originates in because no warehouse is set up for the order country.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Outgoing items</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether outgoing items should be marked as booked or not. The option <strong>Mark as booked</strong> does not trigger an item movement. In order to trigger an item movement, select the option <strong>Do not mark as booked</strong> and set up an event procedure.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Returns import</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the option <strong>daily</strong> so FBA returns are automatically imported into your plentymarkets system once a day.<br>
<strong><em>Tip:</em></strong> In the case of a return, purchasers send the items back to Amazon. The return is imported into your plentymarkets system and listed in the order menu. It is given the return status that you selected in the <strong>Setup » Orders » Settings</strong> menu.<br>
<strong><em>Important:</em></strong> Returns will only be imported if the order exists in plentymarkets and its external order number was not changed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Include coupons to returns</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether coupons can be used for returns or not. If the FBA order was paid fully or partly with a coupon, the coupon is added to the return. A minimum order quantity for the coupon is not taken into consideration.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock import</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether the stock should be imported <strong>hourly</strong> or never.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status for transmitted orders</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the <a href="/en/orders/managing-orders#1200">order status</a> for orders that were successfully transferred to FBA.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ignore item discounts from campaigns during import</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Amazon order reports do not specify if any item discounts were granted by the seller or by Amazon. In both cases, the discounted amount is deducted from the order value during the order import. However, if Amazon granted the discount, the order value differs from the amount that Amazon pays you for the order. In such cases, you need to manually adjust the order. Otherwise, you do not pay enough VAT on the order.</p>
</div>
<div class="paragraph">
<p>Select how to deal with item discounts when orders are imported.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>No</strong> (default setting)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The discount amount is imported. If Amazon granted the discount, the order must be adjusted manually.</p>
</div>
<div class="paragraph">
<p>Discount granted by Amazon:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A customer buys one of your items for 10.00 GBP.</p>
</li>
<li>
<p>Amazon grants the customer a discount of 1.00 GBP.</p>
</li>
<li>
<p>The order is imported with an order value of 9.00 GBP.</p>
</li>
<li>
<p>Amazon pays you 10.00 GBP.<br>
→ The order value and the amount that Amazon pays you do not match. The order must be adjusted manually.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Discount granted by the seller:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A customer buys one of your items for 10.00 GBP.</p>
</li>
<li>
<p>You grant the customer a discount of 1.00 GBP.</p>
</li>
<li>
<p>The order is imported with an order value of 9.00 GBP.</p>
</li>
<li>
<p>Amazon pays you 9.00 GBP.<br>
→ All amounts are correct.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Yes</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The discounted amount is deducted from the order value during the import. This setting is recommended for sellers that do not offer their own discount campaigns on Amazon platforms. If the seller granted the discount, the order must be adjusted manually.</p>
</div>
<div class="paragraph">
<p>Discount granted by Amazon:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A customer buys one of your items for 10.00 GBP.</p>
</li>
<li>
<p>Amazon grants the customer a discount of 1.00 GBP.</p>
</li>
<li>
<p>Amazon pays you 10.00 GBP.</p>
</li>
<li>
<p>The order is imported with an order value of 10.00 GBP.<br>
→ All amounts are correct.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Discount granted by the seller:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A customer buys one of your items for 10.00 GBP.</p>
</li>
<li>
<p>You grant the customer a discount of 1.00 GBP.</p>
</li>
<li>
<p>The order is imported with an order value of 10.00 GBP.</p>
</li>
<li>
<p>Amazon pays you 9.00 GBP.<br>
→ The order value and the amount that Amazon pays you do not match. The order must be adjusted manually.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> To simplify the examples, the fees that you need to pay Amazon for the order are ignored.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ignore shipping discounts from campaigns during import</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Amazon order reports do not specify of any shipping discounts were granted by the seller or by Amazon. In both cases, the discounted amount is deducted from the order value during the order import. However, if Amazon granted the discount, the order value differs from the amount that Amazon pays you for the order. In such cases, you need to manually adjust the order. Otherwise, you do not pay enough VAT on the order.</p>
</div>
<div class="paragraph">
<p>Select how to deal with shipping discounts when orders are imported.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>No</strong> (default setting)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The discount amount is imported. If Amazon granted the discount, the order must be adjusted manually.</p>
</div>
<div class="paragraph">
<p>Discount granted by Amazon:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A customer buys one of your items for 10.00 GBP plus 3.00 GBP shipping.</p>
</li>
<li>
<p>Amazon waives the shipping costs.</p>
</li>
<li>
<p>The order is imported with an order value of 10.00 GBP plus 3.00 GBP shipping.</p>
</li>
<li>
<p>Amazon pays you 13.00 GBP.<br>
→ The order value and the amount that Amazon pays you do not match. The order must be adjusted manually.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Discount granted by the seller:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A customer buys one of your items for 10.00 GBP plus 3.00 GBP shipping.</p>
</li>
<li>
<p>You waive the shipping costs.</p>
</li>
<li>
<p>The order is imported with an order value of 10.00 GBP plus 3.00 GBP shipping.</p>
</li>
<li>
<p>Amazon pays you 13.00 GBP.<br>
→ All amounts are correct.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Yes</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The discounted amount is deducted from the order value during the import. This setting is recommended for sellers that do not offer their own discount campaigns on Amazon platforms. If the seller granted the discount, the order must be adjusted manually.</p>
</div>
<div class="paragraph">
<p>Discount granted by Amazon:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A customer buys one of your items for 10.00 GBP plus 3.00 GBP shipping.</p>
</li>
<li>
<p>Amazon waives the shipping costs.</p>
</li>
<li>
<p>The order is imported with an order value of 10.00 GBP plus 3.00 GBP shipping.</p>
</li>
<li>
<p>Amazon pays you 13.00 GBP.<br>
→ All amounts are correct.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Discount granted by the seller:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>A customer buys one of your items for 10.00 GBP plus 3.00 GBP shipping.</p>
</li>
<li>
<p>You waive the shipping costs.</p>
</li>
<li>
<p>The order is imported with an order value of 10.00 GBP plus 3.00 GBP shipping.</p>
</li>
<li>
<p>Amazon pays you 13.00 GBP.<br>
→ The order value and the amount that Amazon pays you do not match. The order must be adjusted manually.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> To simplify the examples, the fees that you need to pay Amazon for the order are ignored.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item bundles Multichannel</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select which positions should be transferred to Amazon.<br></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transmit all order positions</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Transmit all positions included in the order to Amazon. If you select this option, then both the package position and the contents of the package are transmitted to Amazon.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transmit package position only</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Only the package position is transferred to Amazon.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transmit without package position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Only the contents of the package are transferred to Amazon.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping category</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the shipping priority.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Normal shipping</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Expedited</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Express shipping</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Fastest shipping service</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="80">2.4.1. Automatically importing FBA credit notes</h4>
<div class="paragraph">
<p>Use the credit note import in order to automatically import FBA credit notes into your plentymarkets system. The credit notes are imported with the status which you have selected for the <strong>Standard status for credit note</strong> setting in the <strong>Setup » Orders » Settings</strong> menu. If you activate the credit note import, then FBA credit notes are imported into your plentymarkets system every 4 hours.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Do not import FBA returns as credit notes via an event procedure</div>
<div class="paragraph">
<p>If you activate the credit note import, FBA credit notes are automatically imported into your plentymarkets system every 4 hours. Therefore, in this case do not use an event procedure to create credit notes from FBA returns.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Activating the automatic credit note import:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » Settings</strong>.</p>
</li>
<li>
<p>Select the Amazon account.</p>
</li>
<li>
<p>Click on the <strong>Order settings</strong> tab.</p>
</li>
<li>
<p>For the setting <strong>Credit note import</strong>, select the option <strong>Yes</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="3700">3. Setting up Amazon Multi-Channel</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Amazon Multi-Channel Fulfillment is a service that enables you to fulfill orders from sales channels other than Amazon.com using the inventory that you have stored in the Amazon fulfillment center (source: Amazon).</p>
</div>
<div class="paragraph">
<p>In other words, the Multi-Channel function allows you to store your items with Amazon and have Amazon ship your items even though you sell these items on external markets. This chapter describes which settings you have to carry out in your plentymarkets system so that these orders can be processed by Amazon.</p>
</div>
<div class="paragraph">
<p>The following steps are necessary to configure your stock and item data for Amazon Multi-Channel.</p>
</div>
<div class="paragraph">
<p>Watch this video tutorial for more information about Amazon Multi-Channel and setting up the service in your plentymarkets system:</p>
</div>
<div class="videoblock">
<div class="title">Amazon FBA</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/314727596" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="sect2">
<h3 id="3800">3.1. Creating a warehouse for Amazon Multi-Channel</h3>
<div class="paragraph">
<p>Create a warehouse, if you have not yet created one as described in the <a href="#Using the FBA service by Amazon">Using the FBA service by Amazon</a> chapter. When using Multi-Channel fulfilment, it is important to set up a warehouse for each country-specific Amazon marketplace with the logistics type <strong>Amazon</strong> and the country as its location.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Example of matching Amazon platform and warehouse location</div>
<div class="paragraph">
<p>Multi-Channel fulfilment takes place via amazon.co.uk. Create a new warehouse Amazon UK with the logistics type <strong>Amazon</strong> and the location Great Britain. The items must actually be stored with Amazon in that country e.g. in Great Britain. Otherwise they cannot be handled and shipped by amazon.co.uk.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="3900">3.2. Activating the variation availability for Amazon Multi-Channel</h3>
<div class="paragraph">
<p>Carry out the following settings for the items that you want to make available for Amazon Multi-Channel.</p>
</div>
<div class="paragraph instruction">
<p>Activating the variation availability for Amazon Multi-Channel:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong>Multi-Channel</strong> tab.</p>
</li>
<li>
<p>Carry out the settings in the <strong>Amazon</strong> area. Pay attention to the explanations given in <a href="#item-availability-amazon">[item-availability-amazon]</a> in the <a href="#700">Setting the variation availability</a> chapter.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="4000">3.3. Carrying out settings for Amazon Multi-Channel</h3>
<div class="paragraph">
<p>Carry out the settings in the Amazon menu as described below.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Amazon Multi-Channel:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Order settings</strong> tab.</p>
</li>
<li>
<p>Carry out the settings in the <strong>Shipment by Amazon (FBA)</strong> area. Pay attention to the explanations given in <a href="#amazon-multi-channel">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="amazon-multi-channel" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Setting up Amazon Multi-Channel</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Place a check mark to activate the daily order import.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrers</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Only use for Amazon orders</strong> = Only process Amazon orders with FBA.<br>
<strong>Can be used for all orders</strong> = Process all orders with FBA.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the <a href="/en/orders/managing-orders#1200">order status</a> for orders that were imported from Amazon.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select which <a href="#60">warehouse</a> should be used for Amazon shipments.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Outgoing items</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether outgoing items should be marked as booked or not. The option <strong>Mark as booked</strong> does not trigger an item movement. In order to trigger an item movement, select the option <strong>Do not mark as booked</strong> and set up an event procedure.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Returns import</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether returns should be imported <strong>daily</strong> or <strong>never</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Include coupons to returns</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether coupons can be used for FBA returns or not. If the FBA order was paid fully or partly with a coupon, the coupon is added to the return. A minimum order quantity for the coupon is not taken into consideration.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock import</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the option <strong>Hourly</strong> to import stock on an hourly basis.<br>
Only changes in the stock data are taken into consideration. For further information about stock import options, refer to the <a href="#Synchronising stock">Synchronising stock</a> chapter.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status for transmitted orders</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Determines which order status should be used for multi-channel FBA orders that were transferred to FBA.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item bundles Multichannel</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select which positions should be transferred to Amazon.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Transmit all order positions</strong> = Transmit all positions included in the order to Amazon. If you select this option, then both the package position and the contents of the package are transmitted to Amazon.</p>
</li>
<li>
<p><strong>Transmit package position only</strong> = Only the package position is transferred to Amazon.</p>
</li>
<li>
<p><strong>Transmit without package position</strong> = Only the contents of the package are transferred to Amazon.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping category</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a shipping category.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Standard</strong> = Normal shipping</p>
</li>
<li>
<p><strong>Expedited</strong> = Express shipping</p>
</li>
<li>
<p><strong>Priority</strong> = Fastest shipping service</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="4100">3.4. Automatically transferring the shipping permission to FBA</h3>
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically inform Amazon about the order. After Amazon has received this information, the order is processed and the item(s) are made ready for shipping.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-fba-shipping-clearance">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#event-procedure-fba-shipping-clearance">Table 4</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-fba-shipping-clearance" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Event procedure for automatically transferring the shipping permission to FBA</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Status change &gt; [5] Cleared for shipping</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon Multi-Channel</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping &gt; Shipping by FBA only</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 3</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Important:</em></strong> Do not select an Amazon referrer. Otherwise, it may result in duplicate FBA orders.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping &gt; Transfer shipping permission to FBA</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>When switching to status 5, Amazon is informed that the items are cleared for shipping. Amazon ships the items and your plentymarkets system receives a confirmation from Amazon. The order switches to status 5.1, as determined in the <a href="#Carrying out order settings">order settings</a>. The package number is imported into your plentymarkets system.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Import of package numbers</div>
<div class="paragraph">
<p>Package numbers are imported once per day.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="2400">3.5. Synchronising stock for Amazon Multi-Channel</h3>
<div class="paragraph">
<p>Stock is synchronised with Amazon in the <strong>Setup » Markets » Amazon » Data exchange » FBA stock</strong> menu. There are a few different ways to do this. You can use the hourly automatic stock synchronisation, an automatic procedure or a CSV file.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Only for Amazon Multi-Channel</div>
<div class="paragraph">
<p>This feature is intended for <a href="#3700">Amazon Multi-Channel</a> only.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In plentymarkets, a distinction is made between automatic stock synchronisation and manual stock synchronisation. Both procedures are described below.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="automatically-synchronising-stock-tab" data-toggle="tab" href="#automatically-synchronising-stock" role="tab" aria-controls="automatically-synchronising-stock" aria-selected="true">Automatically synchronising stock</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="manually-synchronising-stock-tab" data-toggle="tab" href="#manually-synchronising-stock" role="tab" aria-controls="manually-synchronising-stock" aria-selected="false">Manually synchronising stock</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="automatically-synchronising-stock" role="tabpanel" aria-labelledby="automatically-synchronising-stock-tab">
<div class="paragraph">
<p>Proceed as follows to automatically synchronise stock.</p>
</div>
<div class="paragraph instruction">
<p>Automatically synchronising stock:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » Data exchange » FBA stock</strong>.</p>
</li>
<li>
<p>Select the Amazon account in the <strong>Automatically</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Synchronise Amazon FBA stock</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>4 minutes are allotted for this process. If Amazon does not provide the data within this time frame, then stock is not synchronised. The next request will use the previous data that was not transferred. This can lead to errors. Therefore, we recommend that you manually synchronise data with a CSV file as described in the next chapter.</p>
</div>
<div class="paragraph">
<p>Stock information is only synchronised for those items that had their stock changed on Amazon in the last 30 days. We recommend that you use the manual synchronisation for the first import. The stock is synchronised according to the <a href="#Carrying out the initial settings">initial settings</a> in plentymarkets.</p>
</div>
</div><div class="tab-pane fade" id="manually-synchronising-stock" role="tabpanel" aria-labelledby="manually-synchronising-stock-tab">
<div class="paragraph">
<p>Stock is synchronised manually via CSV file.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Assigning SKU numbers</div>
<div class="paragraph">
<p>If you want to manually synchronise data, then you also have to specify how SKU numbers should be assigned to the stock. This is specified in the <a href="/en/markets/amazon/amazon-setup#400">initial settings</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Before you carry out this synchronisation, you have to request the corresponding report file from Amazon in Seller Central. Download this CSV file and save it on your computer.</p>
</div>
<div class="paragraph instruction">
<p>Manually synchronising stock:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Amazon » Data exchange » FBA stock</strong>.</p>
</li>
<li>
<p>Click on the <strong>Manual</strong> tab.</p>
</li>
<li>
<p>Select the Amazon account.</p>
</li>
<li>
<p>Click on <strong>Select file</strong> to select the CSV file that you have just saved.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings to carry out the synchronisation.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div>
</div><div class="sect1">
<h2 id="120">4. Managing FBA Inbound orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Find out how to create, manage and ship FBA Inbound orders.</p>
</div>
<div class="sect2">
<h3 id="_fba_inbound_workflow">4.1. FBA Inbound workflow</h3>
<div class="paragraph">
<p>FBA Inbound shipments have the following workflow:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>You create an FBA Inbound shipment in Amazon Seller Central.<br>
→ The shipment is imported to plentymarkets.<br>
→ The shipment is listed in the <strong>Stock » Amazon: Shipments</strong> menu.</p>
</li>
<li>
<p>You create a redistribution for the shipment.<br>
→ An FBA Inbound order is created in the <strong>Stock » Amazon FBA Inbound</strong> menu.</p>
</li>
<li>
<p>The order can be processed in the warehouse.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Currently, item bundles cannot be processed using FBA Inbound.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="130">4.2. Creating an FBA shipment in Amazon Seller Central</h3>
<div class="paragraph">
<p>To start a shipment, create an FBA Inbound shipment in Amazon Seller Central. To do so, log into Amazon Seller Central and go to the area <strong>Send/Replenish Inventory</strong>. After you have create the shipment in Amazon Seller Central, the shipment is imported into plentymarkets and can be processed from the <strong>Stock » Amazon: Shipments</strong> menu.</p>
</div>
</div>
<div class="sect2">
<h3 id="125">4.3. Viewing FBA Inbound shipments in plentymarkets</h3>
<div class="paragraph">
<p>The <strong>Stock » Amazon: Shipments</strong> menu provides an overview of the FBA Inbound shipments that were created in Amazon Seller Central.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">SKU must be available</div>
<div class="paragraph">
<p>This menu only shows shipments where all items contained in the shipment can be synchronized with a variation in plentymarkets based on the SKU.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Viewing FBA Inbound shipments in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Amazon: Shipments</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Choose filters in the left column. Note <a href="#fba-inbound-shipments">Table 5</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The filtered shipments are shown in the overview to the right. <a href="#fba-inbound-shipments">Table 5</a> describes the information shown.</p>
</li>
</ol>
</div>
<table id="fba-inbound-shipments" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Viewing FBA Inbound shipments in plentymarkets</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Available filters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipment IDs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter shipment IDs to search for a shipment with this ID.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon account</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>From the drop-down list, select an Amazon account to search for shipments for this account.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Last update from</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a date in the calendar to search for shipments that were changed after this date.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Last update to</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a date in the calendar to search for shipments that were changed up to this date.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Information listed</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipment ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The ID that Amazon gave the shipment when you created it in Amazon Seller Central.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The status that Amazon gave the shipment.<br>
<strong><em>Note:</em></strong> Only those shipments are shown here that have the status “Created” and were created in the Amazon Seller Central.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The name that Amazon gave the shipment.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target fulfilment center</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The Amazon FBA fulfilment center the shipment is sent to.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Click on <strong>Create redistribution</strong> to create a redistribution for this shipment. If a redistribution already exists, the date on which is was created is shown.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Do not create stock movements in advance</div>
<div class="paragraph">
<p>The Amazon FBA warehouse does <em>not</em> have different storage locations, but always uses the standard storage location. As such, <em>do not create stock movements in the redistribution</em> before creating the pick list and using the package content list. Otherwise, the storage locations are incorrectly shown on the pick list.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="140">4.4. Creating a redistribution for the shipment</h3>
<div class="paragraph">
<p>Now, create a redistribution for the shipment. An FBA Inbound order is then created in the <strong>Stock » Amazon FBA Inbound</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Creating a redistribution for the shipment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Amazon: Shipments</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select filters from the right column to limit the FBA Inbound shipments shown. Note <a href="#fba-inbound-redistribution">Table 6</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The shipments are shown on the right.</p>
</li>
<li>
<p>In the column <strong>Purchase order</strong>, click on <strong>Create redistribution</strong> (<span class="icon "><i class="psicon-stock"></i></span>).<br>
→ The <strong>Create redistribution</strong> menu opens.</p>
</li>
<li>
<p>Pay attention to the explanations given in <a href="#fba-inbound-redistribution">Table 6</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ A redistribution for this shipment is created that contains all variations of the shipment.<br>
→ An FBA Inbound order is created in the <strong>Stock » Amazon FBA Inbound</strong> menu.<br>
→ The FBA Inbound order can be processed.</p>
</li>
</ol>
</div>
<table id="fba-inbound-redistribution" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Creating a redistribution for the shipment</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Available filters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipment IDs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter shipment IDs to search for a shipment with this ID.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon account</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>From the drop-down list, select an Amazon account to search for shipments for this account.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Last update from</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a date in the calendar to search for shipments that were changed after this date.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Last update to</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a date in the calendar to search for shipments that were changed up to this date.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Menu <strong>Create redistribution</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Source warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the warehouse from which the variations are to be sent to the Amazon FBA fulfilment center.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>From the drop-down list, select the status to be assigned to the FBA Inbound order.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID of a reference order</strong><br>
(optional)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If you want to create the redistribution as a child order of an existing order, enter the ID of that order.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="150">4.5. Viewing FBA Inbound orders</h3>
<div class="paragraph">
<p>FBA Inbound orders are listed in the <strong>Stock » Amazon FBA Inbound</strong> menu. Note that an FBA Inbound order only is created after you created a redistribution for the shipment.</p>
</div>
<div class="paragraph instruction">
<p>Viewing FBA Inbound orders:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Amazon FBA Inbound</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Choose filters in the left column. Note <a href="#fba-inbound-orders">Table 7</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The filtered FBA Inbound orders are shown in the right column.<br>
<strong><em>Tip:</em></strong> Click on the FBA Inbound order to access options for processing the order.</p>
</li>
</ol>
</div>
<table id="fba-inbound-orders" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Viewing FBA Inbound orders</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Available filters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>From the drop-down list, select an owner to search for FBA Inbound orders created by this person.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a warehouse from the drop-down list to search for FBA Inbound orders that were redistributed to this warehouse.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the ID of an FBA Inbound order to search for the order with this ID.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a status to search for orders in this status.<br>
The statuses <strong>Open</strong>, <strong>Done</strong> and <strong>All</strong> are available.<br>
<strong><em>Note:</em></strong> If your parcels are shipped with an Amazon partnered carrier and you select the status <strong>Done</strong>, all orders that were confirmed are displayed. If you send your parcels with your own shipping service provider and you select the status <strong>Done</strong>, all orders that have a tracking number saved are displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Information listed</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The person who created the redistribution</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sender warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The plentymarkets FBA warehouse</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>plentymarkets ID of the FBA Inbound order</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipment ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The ID that Amazon assigned to the shipment when you created it in Amazon Seller Central</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="160">4.6. Processing FBA Inbound orders in the warehouse</h3>
<div class="paragraph">
<p>FBA Inbound orders are then processed in the warehouse. The order is packed and registered with Amazon in the warehouse. How your warehouse staff processes the order depends on your fulfilment processes. This describes how to print a pick list, access the package content list and register the package with Amazon for an FBA Inbound order.</p>
</div>
<div class="sect3">
<h4 id="200">4.6.1. Printing a pick list</h4>
<div class="paragraph">
<p>In the menu <strong>Stock » Amazon FBA Inbound</strong> you can print a <a href="/en/orders/order-documents/pick-list">pick list</a> for the FBA Inbound order.</p>
</div>
<div class="paragraph instruction">
<p>Printing a pick list:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Amazon FBA Inbound</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Choose filters in the left column. Note <a href="#fba-inbound-orders">Table 7</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The filtered FBA Inbound orders are shown in the right column.</p>
</li>
<li>
<p>Click on the order.<br>
→ The options for editing the order are shown.</p>
</li>
<li>
<p>Click on <strong>Print FBA Inbound pick list</strong>.<br>
→ The pick list is downloaded as PDF file and you can print it.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="170">4.6.2. Opening the package content list</h4>
<div class="paragraph">
<p>A <a href="/en/orders/package-content-list">packet content list</a> lists the content of pallets, packages and items. The package content list informs Amazon about what items are in the packages that it stores and ships for you.</p>
</div>
<div class="paragraph">
<p>The package content list prepares the packages based on the settings in the variation. You can change these settings. To do so, go to <strong>Item » Edit item » [Open item] » Tab: Settings » Area: Shipping</strong> and change the option in the drop-down list <strong>Packages</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Menu <strong>Orders » Package content list</strong></div>
<div class="paragraph">
<p>You can also open and work on the package content list in the <strong>Orders » Package content list</strong>. The Register button is only shown when you open the package content list from the Stock » Amazon FBA Inbound menu and closed all packages and pallets. You need the <strong>Register</strong> button to register the finished packages with Amazon.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Opening the package content list:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Amazon FBA Inbound</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Choose filters in the left column. Note <a href="#fba-inbound-orders">Table 7</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The filtered FBA Inbound orders are shown in the right column.</p>
</li>
<li>
<p>Click on the order.<br>
→ The options for editing the order are shown.</p>
</li>
<li>
<p>Click on <strong>Package content list</strong>.<br>
→ The order is shown in the <strong>Orders » Packet content list</strong>.</p>
</li>
<li>
<p>Pick and pack the order based on the <a href="/en/orders/package-content-list">package content list</a>.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="180">4.6.3. Registering the FBA Inbound order with Amazon</h4>
<div class="paragraph">
<p>Once the FBA Inbound order has been packed based on the package content list, you register the order with Amazon. When you register, a package content list is sent to Amazon at the same time. If you use your own shipping service provider, you need the tracking number to register the FBA Inbound order with Amazon.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Always pack before registering</div>
<div class="paragraph">
<p>Once you have registered the order with Amazon, you can no longer change the content of the packages and pallets. As such, only register the order with Amazon once picking and packing is complete.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="shipping-with-your-own-shipping-service-provider-tab" data-toggle="tab" href="#shipping-with-your-own-shipping-service-provider" role="tab" aria-controls="shipping-with-your-own-shipping-service-provider" aria-selected="true">Shipping with your own shipping service provider</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="shipping-with-an-amazon-partnered-carrier-tab" data-toggle="tab" href="#shipping-with-an-amazon-partnered-carrier" role="tab" aria-controls="shipping-with-an-amazon-partnered-carrier" aria-selected="false">Shipping with an Amazon Partnered Carrier</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="shipping-with-your-own-shipping-service-provider" role="tabpanel" aria-labelledby="shipping-with-your-own-shipping-service-provider-tab">
<div class="paragraph instruction">
<p>Registering the FBA Inbound order with Amazon (own shipping service provider):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Amazon FBA Inbound</strong>.</p>
</li>
<li>
<p>Click on the order.<br>
→ The options for editing the order are shown.</p>
</li>
<li>
<p>Click on <strong>Package content list</strong>.<br>
→ The order is shown in the <strong>Orders » Packet content list</strong>.</p>
</li>
<li>
<p>Click on <strong>Register</strong>.<br>
<strong><em>Note:</em></strong> The <strong>Register</strong> button is only shown when you open the package content list from the <strong>Stock » Amazon FBA Inbound</strong> menu.<br>
→ The window <strong>Register order</strong> opens.</p>
</li>
<li>
<p>Select a <strong>Shipment type for non Amazon-partnered carriers</strong> from the drop-down list.<br>
<strong><em>Note:</em></strong> The shipping types <strong>SP - Small parcel</strong> and <strong>LTL - Less Than Truckload/Full Truckload</strong> are available.</p>
</li>
<li>
<p>Enter the tracking number for all packages.<br>
<strong><em>Note:</em></strong> If you select the shipping type <strong>LTL - Less Than Truckload/Full Truckload</strong>, you have to enter the PRO number. The shipping service provider assigns the PRO number to the shipment.</p>
</li>
<li>
<p>Click on <strong>Yes</strong>.<br>
→ The order is registered with Amazon.</p>
</li>
<li>
<p>Send the package to the Amazon FBA warehouse.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Disabled fields when you ship the parcels without an Amazon Partnered Carrier</div>
<div class="paragraph">
<p>When you send the parcels without an Amazon Partnered Carrier, the buttons <strong>Request shipping fee</strong>, <strong>Accept shipping fee</strong>, <strong>Void confirmation</strong> and <strong>Print labels</strong> are not available.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div><div class="tab-pane fade" id="shipping-with-an-amazon-partnered-carrier" role="tabpanel" aria-labelledby="shipping-with-an-amazon-partnered-carrier-tab">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Amazon decides which shipping service provider is used</div>
<div class="paragraph">
<p>If you send the shipment with an Amazon Partnered Carrier, Amazon decides which shipping service provider is used.<br>
In Amazon Seller Central, you therefore have to accept the terms and conditions for the Amazon Partnered Carrier Program as well as the terms and conditions for all shipping service providers that are available. Otherwise, errors could occur if Amazon selects a shipping service provider that you usually do not use.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Registering the FBA Inbound order with Amazon (Amazon Partnered Carrier):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Amazon FBA Inbound</strong>.</p>
</li>
<li>
<p>Click on the order.<br>
→ The options for editing the order are shown.</p>
</li>
<li>
<p>Click on <strong>Package content list</strong>.<br>
→ The order is shown in the <strong>Orders » Packet content list</strong>.</p>
</li>
<li>
<p>Click on <strong>Register</strong>.<br>
<strong><em>Note:</em></strong> The <strong>Register</strong> button is only shown when you open the package content list from the <strong>Stock » Amazon FBA Inbound</strong> menu and closed all packages and pallets.<br>
→ The window <strong>Register order</strong> opens.</p>
</li>
<li>
<p>Select a <strong>Shipping method</strong> from the drop-down list.<br>
<strong><em>Note:</em></strong> When you use an Amazon Partnered Carrier, only the shipping method <strong>SP - Small parcel</strong> is available.</p>
</li>
<li>
<p>Select the option <strong>Amazon-partnered carrier</strong>.</p>
</li>
<li>
<p>Select an option for the shipment with an Amazon-partnered carrier from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Yes</strong>.<br>
→ A new view opens.</p>
</li>
<li>
<p>Click on <strong>Request shipping fee</strong> to send a request about the estimated shipping costs to Amazon.<br>
→ The estimated shipping costs are imported to plentymarkets.</p>
</li>
<li>
<p>To accept the shipping costs, click on <strong>Accept fee</strong>.<br>
→ The order is registered with Amazon.<br>
→ The status changes to <em>Confirmed</em>.<br>
→ The shipping labels are generated.</p>
</li>
<li>
<p>Click on <strong>Print labels</strong>.<br>
→ The shipping label is downloaded and you can print it.</p>
</li>
<li>
<p>Attach the shipping label to the package.</p>
</li>
<li>
<p>Send the package to the Amazon FBA warehouse.</p>
</li>
</ol>
</div>
</div></div>
</div>
<div class="sect3">
<h4 id="185">4.6.4. Cancelling the FBA Inbound order with Amazon</h4>
<div class="paragraph">
<p>If you have registered the FBA Inbound order with Amazon by mistake, you can undo the registration by cancelling the shipment.</p>
</div>
<div class="paragraph">
<p>To do so, click on the <strong>Void confirmation</strong> button. Once the shipment has been cancelled successfully, the order steps back to the status <em>Working</em>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Observe time limits for cancelling shipments</div>
<div class="paragraph">
<p>Observe the following time limits that Amazon sets for cancelling shipments:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You can cancel small parcels within 24 hours.</p>
</li>
<li>
<p>Full truck loads and less than truckloads can be cancelled within 1 hour.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Cancelling a FBA Inbound order with Amazon:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Stock » Amazon FBA Inbound</strong>.</p>
</li>
<li>
<p>Click on the order.<br>
→ The options for editing the order are shown.</p>
</li>
<li>
<p>Click on <strong>Void confirmation</strong>.<br>
→ The cancellation is sent to Amazon.<br>
→ The status changes to <em>Working</em>.<br>
<strong><em>Tip:</em></strong> You can register the shipment again at any time by requesting and accepting the shipping costs.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
If you want to delete a shipment, you have to delete it in the Amazon Seller Central. Shipments cannot be deleted in plentymarkets.
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="20">5. Managing FBA Outbound orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter provides information on processing FBA orders. A quick reminder: Outbound means that Amazon sells and ships for you.</p>
</div>
<div class="sect2">
<h3 id="22">5.1. Workflow of Outbound orders</h3>
<div class="paragraph">
<p>Outbound orders have the following workflow:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Customers order on Amazon.</p>
</li>
<li>
<p>Amazon sends the items.</p>
</li>
<li>
<p>The plentymarkets system requests a report.</p>
</li>
<li>
<p>Amazon creates the report.</p>
</li>
<li>
<p>The next day, plentymarkets automatically checks whether any Amazon reports exist. If yes, then these reports are imported.</p>
</li>
<li>
<p>From the information contained in these reports, orders and contacts are generated in plentymarkets.</p>
</li>
<li>
<p>30 days after the order is created, the contacts are anonymized:</p>
<div class="ulist">
<ul>
<li>
<p>First name and last name of the contact is anonymized.</p>
</li>
<li>
<p>The following data is deleted:</p>
<div class="ulist">
<ul>
<li>
<p>Addresses and address relations</p>
</li>
<li>
<p>Address options</p>
</li>
<li>
<p>Order relations</p>
</li>
<li>
<p>Contact options</p>
</li>
<li>
<p>Any relation to a company</p>
</li>
<li>
<p>Bank details</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p>Amazon FBA outbound orders are imported with the parameters <strong>Status</strong> and <strong>Referrer</strong>. Select the <strong>Status</strong> that is most appropriate for your process. For example, this could be status <strong>[7] Outgoing items booked</strong>. The referrer is automatically set to Amazon FBA or an Amazon FBA sub-referrer, e.g. Amazon FBA USA. The date when items are shipped is saved directly in plentymarkets. Therefore, stock is not reserved for items that are included in the order.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Event procedures for fulfilment</div>
<div class="paragraph">
<p>Configure the event procedures that are necessary for the fulfilment process. Such event procedures are having invoices generated and sent to your customers with the help of automatic emails, and having the order then switch to another status.<br>
For further information, refer to the <a href="/en/automation/event-procedures">Event procedures</a> and <a href="/en/fulfilment">Fulfilment</a> pages of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Note regarding the order import</div>
<div class="paragraph">
<p>Amazon only generates a list of orders once per day. Because it can take up to 2 days before an item is ready for shipping, FBA orders are available in your system with a time delay. Generally, the order confirmation that was generated by Amazon is available in your system two days after the item was shipped or a total of up to 4 days after it was ordered. The punctuality of the deliveries, however, is not affected. They will be carried out with the quickness that is customary for Amazon.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="30">5.2. FBA Outbound partial deliveries</h3>
<div class="paragraph">
<p>Amazon will send Amazon FBA partial deliveries if the items ordered by the customer are stored in separate warehouses. Hence, the customer receives multiple packages for one order.
In plentymarkets, each FBA Outbound partial delivery is saved as a separate order, depending on the FBA warehouse which sends the item. You can import one tracking number from Amazon for each partial delivery and then assign it to the according partial delivery. You can generate a separate invoice for each partial delivery. This is necessary if the Amazon warehouses are located in different countries due to differing taxes.</p>
</div>
</div>
</div>
</div>
</main>