<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_gelangensbestätigung_erzeugen"><span>1.</span><span> Gelangensbestätigung erzeugen</span></a></li>
<li><a href="#_optionen"><span>2.</span><span> Optionen</span></a></li>
<li><a href="#_gelangensbestätigung_erzeugen_2"><span>3.</span><span> Gelangensbestätigung erzeugen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Gelangensbestätigung erzeugen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Aufträge » Fulfillment » Gelangensbestätigung erzeugen</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_gelangensbestätigung_erzeugen">1. Gelangensbestätigung erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Menü werden Gelangensbesätigungen mit Hilfe einer <strong>Gruppenfunktion</strong> erzeugt. So können beispielsweise über eine Suchanfrage mit der Option <strong>Auftragsstatus [5] Freigabe Versand</strong> per Gruppenfunktion für alle Aufträge Gelangensbestätigungen generiert werden, die aktuell bereit zum Versand sind.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_optionen">2. Optionen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Einstellungen zum Layout der Gelangensbestätigung können Sie im Menü <strong>Einstellungen &gt;</strong><strong>Aufträge &gt;</strong><strong>Dokumente</strong> vornehmen.</p>
</div>
<div class="paragraph">
<p>Im Menü <strong>Einstellungen &gt;</strong><strong>Aufträge &gt;</strong><strong>Ereignisaktionen</strong> definieren Sie, welche <strong>Aktion(en)</strong> bei der Generierung der Gelangensbestätigung zusätzlich ausgeführt werden soll(en).</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_gelangensbestätigung_erzeugen_2">3. Gelangensbestätigung erzeugen</h2>
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Gelangensbestätigung erzeugen:</div>
<div class="paragraph">
<p>Öffnen Sie das Menü <strong>Gelangensbestätigung erzeugen</strong> (Pfad siehe oben).</p>
</div>
<div class="paragraph">
<p>Nehmen Sie die <strong>Einstellungen</strong> für den <strong>Suchfilter</strong> gemäß Tabelle 1 auf dieser Seite vor.</p>
</div>
<div class="paragraph">
<p>Wählen Sie unter <strong>Aktion</strong> einen neuen <strong>Auftragsstatus</strong>, der den gewählten Aufträgen nach erfolgreicher Erstellung der Gelangensbestätigung zugewiesen werden soll und geben Sie, wenn gewünscht, einen <strong>Kommentar</strong> ein.</p>
</div>
<div class="paragraph">
<p>Wenn Sie alle Einstellungen vorgenommen haben, klicken Sie auf das <strong>Zahnrad</strong>.<br>
→ Sie erhalten eine <strong>pdf-Datei</strong>, welche die zugehörigen Gelangensbestätigungen aller von Ihnen durch die Filteroptionen bestimmten Aufträge beinhaltet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/auftragsabwicklung/auftraege/auftragsdokumente/assets/DE-Auf-Fulfillment-Gelangensbestaetigung-01-SI.png" alt="DE Auf Fulfillment Gelangensbestaetigung 01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Menü: <strong>Gelangensbestätigung erzeugen</strong></em></p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsstatus</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen Sie den <strong>Status</strong>, in dem sich die Aufträge befinden, für die Sie Gelangensbestätigungen erzeugen möchten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eigner</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen Sie <strong>einen Eigner</strong> der zu suchenden Aufträge oder die Option <strong>ALLE</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mandant (Shop)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen Sie einen <strong>Shop</strong> oder die Option <strong>ALLE</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lager</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Begrenzen Sie die Suche auf ein <strong>Lager</strong> oder führen Sie die Suche für <strong>ALLE</strong> Lager aus.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungsart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen Sie eine der <strong>Zahlungsarten</strong> oder die Option <strong>ALLE</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sortierung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bestimmen Sie, nach welcher Option die erzeugten Gelangensbestätigungen sortiert werden sollen. Optionen: <strong>Auftrags-ID</strong>, <strong>Kunden-ID</strong>, <strong>Artikel-ID</strong>. Bei der Sortierungsoption <strong>Artikel-ID</strong> werden die Gelangensbestätigungen automatisch auch nach der <strong>Auftrags-ID</strong> sortiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Limit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sie müssen die Erstellung der Gelangensbestätigungen auf einen der Werte im Drop-down-Menü <strong>begrenzen</strong>. Das Maximum sind <strong>200</strong> Gelangensbestätigungen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ändere Auftragsstatus</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen Sie einen neuen <strong>Auftragsstatus</strong> aus, der den gewählten Aufträgen nach erfolgreicher Erzeugung der Gelangensbestätigungen zugewiesen werden soll oder wählen Sie die Option <strong>Keine Änderung</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kommentar</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sie können hier einen <strong>Text</strong> verfassen, der später auf allen Gelangensbestätigungen <strong>unterhalb der Artikelpositionen</strong> erscheint. Die Eingabe ist optional.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gelangensbestätigungs-Layout ändern</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Klicken Sie auf diesen Link um den Bereich <strong>Einstellungen &gt;</strong><strong>Aufträge &gt;</strong><strong>Dokumente</strong> in einem neuen Fenster zu öffnen. Dort haben Sie die Möglichkeit, detaillierte Einstellungen für die Gelangensbestätigungs-Vorlage vorzunehmen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ereignisaktion</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Klicken Sie auf diesen Link um den Bereich <strong>Einstellungen &gt;</strong><strong>Aufträge &gt;</strong><strong>Ereignisaktionen</strong> in einem neuen Fenster zu öffnen. Dort können Sie neue Ereignisaktionen erstellen und bestehende bearbeiten.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: <strong>Einstellungen</strong> im Menü <strong>Gelangensbestätigung erzeugen</strong></em></p>
</div>
</div>
</div>
</main>