<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Allgemeines zu Gutschriften</span></a></li>
<li><a href="#200"><span>2.</span><span> Dokumentenvorlage für Gutschriften einrichten</span></a></li>
<li><a href="#300"><span>3.</span><span> Gutschriften erzeugen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Gutschriften erzeugen</h1><div class="sect1">
<h2 id="100">1. Allgemeines zu Gutschriften</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets können Sie Gutschriften als PDF-Dateien generieren, um diese z.B. zu drucken oder Ihren Kunden als E-Mail Anhang zukommen zu lassen.<br>
Gutschriften nutzen Sie beispielsweise, um bei bereits bezahlten Aufträgen nachträgliche Preisnachlässe zu gewähren oder wenn im Rahmen von Retouren Rückerstattungen veranlasst werden sollen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Dokumentenvorlage für Gutschriften einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bevor Sie Gutschriften generieren können, muss eine Dokumentenvorlage eingerichtet werden. Dies geschieht im Menü <strong>System » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente</strong>.<br>
Weitere Informationen und Anleitungen zur Einrichtung der Dokumentenvorlage finden Sie auf der Handbuchseite <a href="/auftragsabwicklung/auftraege/auftragsdokumente">Auftragsdokumente</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Gutschriften erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem Sie eine Dokumentenvorlage für Gutschriften eingerichtet haben, können Sie Gutschriften als PDF-Dateien erzeugen. Dabei können Sie über einen Suchfilter festlegen, welche Aufträge berücksichtigt werden und ob beispielsweise eine Statusänderung erfolgen soll, nachdem die Gutschriften erzeugt wurden.</p>
</div>
<div class="paragraph instruction">
<p>Gutschriften erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Fulfillment » Gutschriften / Korrekturbelege erzeugen</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen anhand <a href="#tabelle-einstellungen-fulfillment-gutschriften">Tabelle 1</a> vor.</p>
</li>
<li>
<p>Klicken Sie auf das <strong>Zahnrad</strong>, um die Gutschriften zu erzeugen.<br>
→ Es öffnet sich eine <strong>PDF-Datei</strong>, welche die zugehörigen Gutschriften aller von Ihnen durch die Suchfilter bestimmten Aufträge beinhaltet.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-fulfillment-gutschriften" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Optionen im Menü <strong>Gutschriften / Korrekturbelege erzeugen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokumenttyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen Sie, ob Dokumente vom Typ <strong>Gutschrift</strong> oder <strong>Korrekturbeleg</strong> erzeugt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aus der Liste den Status der Aufträge wählen, die für die Erstellung der Gutschriften berücksichtigt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen Sie einen Eigner aus, für dessen Aufträge die Gutschriften erzeugt werden sollen oder die Option <strong>ALLE</strong>, wenn für alle Eigner die Gutschriften erzeugt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen Sie einen Standort aus, für den die Gutschriften erzeugt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen Sie ein Lager oder <strong>ALLE</strong> aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen Sie eine der Zahlungsarten oder <strong>ALLE</strong> aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sortierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legen Sie fest, wie die erzeugten Gutschriften sortiert werden sollen. Die Optionen <strong>Gutschriftnummer</strong>, <strong>Auftrags-ID</strong>, <strong>Kunden-ID</strong> und <strong>Artikel-ID</strong> geben verschiedene Sortierungen aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ändere Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen Sie einen Status, in den die Aufträge nach Erzeugung der Gutschriften wechseln sollen.<br>
Der Statuswechsel ist wichtig, damit für bereits bearbeitete Aufträge ein Prozess nicht noch einmal durchgeführt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kommentar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sie können hier einen Text verfassen, der später auf allen erzeugten Gutschriften unterhalb der Artikelpositionen erscheint. Die Eingabe ist optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>