<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Admin tasks</h1><p>Welcome to the topic Admin tasks. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/basics/admin-tasks/plentymarkets-account">Your plentymarkets account</a></li><li><a href="/en/basics/admin-tasks/manage-users">Managing user accounts</a></li><li><a href="/en/basics/admin-tasks/rest-api">Setting up REST API</a></li><li><a href="/en/basics/admin-tasks/printer">Managing printers</a></li><li><a href="/en/basics/admin-tasks/installing-plentybase">Installing plentyBase</a></li><li><a href="/en/basics/admin-tasks/version-cycle">Changing state of development</a></li><li><a href="/en/basics/admin-tasks/ftp-access">FTP access</a></li></ul>
</main>