<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>First steps</h1><!-- AUTO GENERATED --><ul><li><a href="/basics/first-steps/system-requirements">System requirements</a></li><li><a href="/en/basics/first-steps/quick-start">Quick start</a></li><li><a href="/en/basics/first-steps/master-data">Master data</a></li><li><a href="/en/basics/first-steps/plugins">Managing plugins</a></li></ul>
</main>