<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_what_is_gdpr"><span>1.</span><span> What is GDPR?</span></a></li>
<li><a href="#_important_notes"><span>2.</span><span> Important notes</span></a></li>
<li><a href="#_download_link"><span>3.</span><span> Download link</span></a></li>
<li><a href="#_contract_for_processing_acc_to_art_28_3_general_data_protection_regulation_gdpr"><span>4.</span><span> Contract for processing acc. to art. 28 §3 General Data Protection Regulation (GDPR)</span></a></li>
<li><a href="#_change_history_for_contact_data"><span>5.</span><span> Change history for contact data</span></a></li>
<li><a href="#_transferring_the_email_address_and_telephone_number_of_the_customer_to_shipping_service_providers"><span>6.</span><span> Transferring the email address and telephone number of the customer to shipping service providers</span></a></li>
<li><a href="#_download_all_data_of_a_contact"><span>7.</span><span> Download all data of a contact</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>GDPR</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page of the manual includes a download link of an abriged version of the record of processing activities within plentymarkets in accordance with GDPR whose transition period ends on May 25, 2018.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_what_is_gdpr">1. What is GDPR?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As of May 25, 2018, the <a href="http://data.consilium.europa.eu/doc/document/ST-5419-2016-INIT/en/pdf" target="_blank" rel="noopener">General Data Protection Regulation</a> goes into effect throughout Europe and thus replaces all national regulations.</p>
</div>
<div class="paragraph">
<p>The GDPR applies to all companies operating in the European Union and processing personal data such as names, bank data and address data. It requires companies to organise and document any processes where personal data is processed in line with the GDPR.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_important_notes">2. Important notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Please note that this record only contains the processing activities within the software plentymarkets. You will need to add the names and descriptions of any other processing activities that take place within your company (e.g. payroll accounting or processes within other software programs).</p>
</div>
<div class="paragraph">
<p>plentymarkets makes no claim to completeness regarding this record. It is intended to be a supplement when creating your own record of processing activities.</p>
</div>
<div class="paragraph">
<p>Please note that only <strong>plentymarkets 7</strong> systems are GDPR compliant. The plentymarkets 7 online store plugin <strong>Ceres</strong> will be GDPR compliant after the checkbox for consenting to the data transmission to shipping service providers has been added with the release of <strong>version 2.9.0</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_download_link">3. Download link</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Download the document as a supplement to your own record of processing activities <a href="https://github.com/plentymarkets/template-processing-directory/releases" target="_blank" rel="noopener">here</a>. This document only describes the processing activities within the software plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_contract_for_processing_acc_to_art_28_3_general_data_protection_regulation_gdpr">4. Contract for processing acc. to art. 28 §3 General Data Protection Regulation (GDPR)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>On Thursday, 24th of May, 2018, plentymarkets 7 is updated in order to manage the conclusion of contracts for processing according to article 28 § 3 of the General Data Protection Regulation (GDPR) in a digital fashion.
Concluding the contract is done digitally in the <strong>Contracts</strong> (German: <strong>Verträge</strong>) menu. Users with administration rights can access the menu in the plentymarkets 7 Terra backend.
The new entry <strong>Contracts</strong> is located under the first menu item - the red plenty P.
In this area, click on the contract "Vertragsanlage zur Auftragsverarbeitung (DS-GVO) Mai 2018". The contract is only available in German.
You can download the contract document on the following page by clicking the icon in the <strong>Dokument</strong> column.
Enter your name and send the form. This concludes the contract.
This process forgoes the need for concluding the contract by mail, thereby saving time and money.</p>
</div>
<div class="paragraph">
<p>After the contract has been concluded, you can download a version of the contract including the name of the signatory and the date of the contract conclusion.
Simply access the <strong>Contracts</strong> (ger.: Verträge) area again and click on <strong>Vertragsdokument signiert herunterladen</strong>.
Please keep this document for the purpose of contractual documentation.</p>
</div>
<div class="paragraph">
<p>For further information, please refer to this <a href="https://forum.plentymarkets.com/t/vertragsanlage-zur-auftragsverarbeitung-i-s-d-art-28-abs-3-datenschutz-grundverordnung-dsgvo/483954" target="_blank" rel="noopener">forum thread</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_change_history_for_contact_data">5. Change history for contact data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Data » Change history</strong> menu, a new change history is available via which you can see which user – for example, an employee or the customer in the online store – has changed data. This can be addresses, contact options, address options, company data and bank data, for example.</p>
</div>
<div class="paragraph">
<p>For further information, please refer to this <a href="https://forum.plentymarkets.com/t/dsgvo-aenderungshistorie-fuer-kontaktdaten-integriert/486705" target="_blank" rel="noopener">forum thread</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_transferring_the_email_address_and_telephone_number_of_the_customer_to_shipping_service_providers">6. Transferring the email address and telephone number of the customer to shipping service providers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Please note that plentymarkets as a software must comply with the principle of <em>Privacy by default</em> in accordance with GDPR. This is why we generally implemented the setting that this data (email and telephone number) is not transferred to the shipping service providers.</p>
</div>
<div class="paragraph">
<p>This means that you can choose from now on whether the data of your customers is transferred or whether you want to transfer an alternative value. Or simply leave the default setting and do not transfer this data.</p>
</div>
<div class="paragraph">
<p>For further information, please refer to this <a href="https://forum.plentymarkets.com/t/dsgvo-uebertragung-von-e-mail-adresse-und-telefonnummer-an-versanddienstleister/486536" target="_blank" rel="noopener">forum thread</a>. At the bottom of the thread, you will find a link to expand the English version.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_download_all_data_of_a_contact">7. Download all data of a contact</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>CRM » Quick search</strong> menu, it is possible to download all data that is saved for a contact in a machine-parsable format.</p>
</div>
</div>
</div>
</main>