<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_what_is_gdpr"><span>1.</span><span> What is GDPR?</span></a></li>
<li><a href="#_important_notes"><span>2.</span><span> Important notes</span></a></li>
<li><a href="#_download_link"><span>3.</span><span> Download link</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>GDPR</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page of the manual includes a download link of an abriged version of the record of processing activities within plentymarkets in accordance with GDPR whose transition period ends on May 25, 2018.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_what_is_gdpr">1. What is GDPR?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As of May 25, 2018, the <a href="http://data.consilium.europa.eu/doc/document/ST-5419-2016-INIT/en/pdf" target="_blank" rel="noopener">General Data Protection Regulation</a> goes into effect throughout Europe and thus replaces all national regulations.</p>
</div>
<div class="paragraph">
<p>The GDPR applies to all companies operating in the European Union and processing personal data such as names, bank data and address data. It requires companies to organise and document any processes where personal data is processed in line with the GDPR.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_important_notes">2. Important notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Please note that this record only contains the processing activities within the software plentymarkets. You will need to add the names and descriptions of any other processing activities that take place within your company (e.g. payroll accounting or processes within other software programs).</p>
</div>
<div class="paragraph">
<p>plentymarkets makes no claim to completeness regarding this record. It is intended to be a supplement when creating your own record of processing activities.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_download_link">3. Download link</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Download the document as a supplement to your own record of processing activities <a href="https://github.com/plentymarkets/template-processing-directory/releases" target="_blank" rel="noopener">here</a>. This document only describes the processing activities within the software plentymarkets.</p>
</div>
</div>
</div>
</main>