<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Procedural documentation ¤:lang: en ¤include::../_includes/_header.adoc[] ¤:description: On this page you can download the technical system documentation of plentymarkets which serves plentymarkets users only as basis for creating their procedural documentation. ¤:keywords: GoBD, GOBD, gobd, fiscal, tax law, system documentation, procedural documentation, procedure, used software ¤:position: 50</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this manual page we provide you with the technical system documentation of plentymarkets. This system documentation serves as basis for creating your own procedural documentation.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_legally_secure_working_with_plentymarkets_7">Legally secure working with plentymarkets 7</h2>
<div class="sectionbody">
<div class="paragraph">
<p>According to GoBD, sellers are, among other things, obliged to describe the procedure of the software they are using. This has to be done in form of a procedural documentation which has to be submitted in case of a tax audit. We support plentymarkets 7 users in creating a procedural documentation by providing a technical system documentation. This documentation includes the detailed breakdown of all working methods of plentymarkets 7 relevant in terms of tax law that can be used as a basis for a procedural documentation. Download the technical system documentation of plentymarkets <a href="https://github.com/plentymarkets/template-procedure-document/releases" target="_blank" rel="noopener">here</a>.<br></p>
</div>
<div class="paragraph">
<p>[IMPORTANT] ¤.Further software solutions ¤==== ¤plentymarkets is generally only a part of the (software) solutions that have to be described. Please clarify with your tax consultant which additional information have to be described in the procedural documentation in your particular case. ¤==== ¤</p>
</div>
</div>
</div>
</main>