<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Getting to know the statistic types</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> General statistics: Revenue</span></a></li>
<li><a href="#30"><span>1.2.</span><span> General statistics: Processes</span></a></li>
<li><a href="#40"><span>1.3.</span><span> General statistics: Orders</span></a></li>
<li><a href="#50"><span>1.4.</span><span> General statistics: Items</span></a></li>
<li><a href="#60"><span>1.5.</span><span> General statistics: Warehouse</span></a></li>
<li><a href="#70"><span>1.6.</span><span> General statistics: Customer</span></a></li>
<li><a href="#80"><span>1.7.</span><span> General statistics: Tickets</span></a></li>
<li><a href="#90"><span>1.8.</span><span> Item statistics</span></a></li>
<li><a href="#100"><span>1.9.</span><span> Customer statistics</span></a></li>
<li><a href="#_visitor_statistics_webalizer"><span>1.10.</span><span> Visitor statistics/Webalizer</span></a></li>
</ul>
</li>
<li><a href="#_managing_statistics"><span>2.</span><span> Managing statistics</span></a>
<ul class="sectlevel2">
<li><a href="#120"><span>2.1.</span><span> Creating a statistic</span></a></li>
<li><a href="#140"><span>2.2.</span><span> Modifying statistics</span></a></li>
</ul>
</li>
<li><a href="#150"><span>3.</span><span> Analysing a statistic</span></a>
<ul class="sectlevel2">
<li><a href="#160"><span>3.1.</span><span> Types of chart</span></a></li>
<li><a href="#170"><span>3.2.</span><span> Amounts and costs</span></a></li>
</ul>
</li>
<li><a href="#195"><span>4.</span><span> Exporting statistics data</span></a>
<ul class="sectlevel2">
<li><a href="#190"><span>4.1.</span><span> Exporting statistics data</span></a></li>
<li><a href="#220"><span>4.2.</span><span> Exporting raw data</span></a></li>
<li><a href="#190"><span>4.3.</span><span> Export data fields</span></a></li>
<li><a href="#200"><span>4.4.</span><span> Troubleshooting: Correcting incorrect values in CSV file</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Statistics</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The plentymarkets statistics module allows you to keep track of everything that is happening in your organisation and more importantly to analyse revenue based on your different sales channels. Use filters to adjust the analysis to your needs. You can show the data either as a chart or listed in tables.</p>
</div>
<div class="paragraph">
<p>Statistics are grouped in tabs. You can create up to 4 statistics per tab. These tabs help you to group and sort your statistics. The name of these tabs should reflect the statistics grouped in this section.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Do not close the statistics tabs</div>
<div class="paragraph">
<p>When you click on the tab’s <strong>X</strong>, the tab is deleted, not closed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Getting to know the statistic types</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter provides an overview and a short description of the statistics available in plentymarkets. The statistics are created based on the system data. The filters allow you to create very specific individual statistics. For example, you can create statistics for individual markets by selecting the relevant order referrers.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Opening the Statistics menu</div>
<div class="paragraph">
<p>Go to <strong>Start » Statistics</strong> to open the Statistics menu. Alternatively, click on the <strong>Statistics</strong> button in the plentymarkets title bar.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="20">1.1. General statistics: Revenue</h3>
<div class="paragraph">
<p>Revenue statistics provide an overview of the most important key values of your online store and allow not only to run helpful default statistics but also to configure a number of individual statistics to show the specific revenue data you need to optimise your business.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Types of <strong>Revenue</strong> statistics</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type of statistic</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Total revenue development</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the number of orders and the revenue for the order status.<br>
Returns and credit notes are not included in the number of orders. The number of returned items from item bundles will be analyzed. However, the corresponding revenue will not. This statistic shows when a few orders generated a large amount of revenue or many orders generated only a small amount of revenue.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Returns/credit notes/cancellations</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the monetary amounts of returns, credit notes and cancellations for the selected period. This analysis helps you to monitor refunds. Use the <strong>Reasons for return</strong> statistic to correlate reasons for return statistic e.g. to referrers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue by item group</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the revenue by item groups of orders for the selected period and order statuses. Different filters allow you analysing based on specific item groups, e.g. by filtering by flags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue by referrer per item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the revenue by order referrer of items for the selected period and order statuses. The statistic shows which order referrers were profitable and which referrers generated little or no revenue.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue by referrer per order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the revenue by order referrer of orders for the selected period and order statuses. The statistic shows which order referrers were profitable and which order referrers generated little or no revenue.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue by sales representative</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the gross revenue and the number of orders per sales representative for the selected period.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue by manufacturer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the gross revenue and the number of items sold per manufacturer for the selected period. The statistic shows revenue by manufacturer and the ratio of item quantities to revenue.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue by category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the gross revenue and the number of items sold per category for the selected period. It shows the revenue distribution according to categories and also the efficiency of categories when it comes to the revenue they generate.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue by country of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the revenue per country of delivery for the selected period. The statistic shows the countries of delivery that generated the most revenue, i.e. the most lucrative countries of delivery.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue by shipping region</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the revenue per shipping region for the selected period. Allows you to analyse which shipping regions are particularly profitable.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue by payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the revenue and the number of orders per payment method for the selected period. The statistic shows the payment methods that generated the most revenue, i.e. the most popular payment methods.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs generated per shipping service provider</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the shipping costs by shipping service provider for the selected period. The statistics is based on the date of outgoing items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shopping cart development</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the average shopping cart value and the average shipping costs for the selected period. Provides an overview of shopping carts' development month by month. This allows you e.g. to check if high shipping costs often prevent customers from going through with buying the items they placed in the shopping cart.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="30">1.2. General statistics: Processes</h3>
<div class="paragraph">
<p>The process statistics provide data for order processing processes, e.g. processing times, status changes and dunning.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Types of <strong>Processes</strong> statistics</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type of statistic</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order processing times</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows whether the majority of the order processing time was used in reaching the status <strong>paid</strong> or the status <strong>shipped</strong>. You will also see the percentage of total processing time that was needed. The statistic shows how long it took for orders to get paid and shipped. In addition, it helps you to determine if there is any need for corrective measures due to disproportionately long processing times.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pending amount by payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the total pending amount and dunning level per payment method for the order status selected. This statistic shows the payment methods with the largest pending amounts and the highest dunning levels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status of the current orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the number of orders and the revenue for the order status. The <strong>Shipped</strong> status only includes orders from the current day. The statistic offers an overview of how orders are distributed across the different order statuses. For example, it allows you to see the number of unpaid orders at a glance.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping orders by shipping service provider</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the number of shipping orders by shipping service provider for the selected period. The statistics is based on the date of outgoing items. The statistic shows how shipping orders are distributed across the different shipping service providers.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="40">1.3. General statistics: Orders</h3>
<div class="paragraph">
<p>Use the order statistics to analyse your order data. For example, you can gain insights into the most common reasons why customers return items.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Types of <strong>Order</strong> statistics</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type of statistic</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The order parameters and a variety of information about the revenue will be shown in a data table for the selected time span. The statistic shows how revenue data of orders is composed. Tables allow you to compare amounts directly.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reasons for return</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the number of returns and the revenue from returns for the selected period. Returns are shown sorted by reason for return. The statistic shows the number of returns and how much revenue was lost due to returns in the selected period. Furthermore, you can determine how the number of returns and the corresponding amounts are distributed among the different reasons for returns. The statistic allows you to monitor refunds and returns. By filtering by referrer, you can spot recurring reasons for return for specific referrers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sent email templates</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the ID and name of the email templates and the number of emails sent for the selected period. Statistic shows which email templates were used in the selected period. This can help you to determine which processes are frequent and which do not occur very often.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="50">1.4. General statistics: Items</h3>
<div class="paragraph">
<p>The item statistics allow you to analyse item data as a whole or filter them based on specific criteria such as flags, categories or referrers.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. Types of <strong>Item</strong> statistics</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type of statistic</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sold quantities</strong> / <strong>returns</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the number of items sold and the number of returns and the revenue for the selected period. All items are shown, i.e. including those items without returns. The return rate shows you the relationship between how many times an item was sold and how many times it was returned.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tops / Flops</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the top items, i.e. those sold most often, and/or the flops, i.e. the least sold variations for the selected period. The variations are shown in descending order. This list will end with whichever top variation was sold the least often. The list of flops begins with the variation that was sold the least often and progresses with variations that were sold more and more often.<br>
You can only analyse and export data for a period of 6 months.<br>
This statistic takes sold quantities into consideration when calculating basic items from item bundles. However, the purchase price and the revenue are not taken into consideration. This statistic shows which items are not lucrative. For example, you may notice that the warehouse and operating costs of an item are higher than the profit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sold item quantities</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows items in sales ranges based on the number of items sold for the selected period. Furthermore, the total number of sold items and the percentage of total revenue is displayed for each sales range. This statistic shows how many items were sold in each sales range and what percentage of the revenue each sales range generated.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="60">1.5. General statistics: Warehouse</h3>
<div class="paragraph">
<p>The warehouse statistics not only provide data regarding sold quantities and associated revenue but also allow you to analyse the value of one or more warehouse based on different criteria.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. Types of <strong>Warehouse</strong> statistics</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type of statistic</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Current stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the value of items per category and the stock by warehouse. This statistic shows the available and reserved stock and stock values in each or all warehouses.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Estimated stock turnover and reorder levels</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the stock turnover of items sorted into categories according to their stock turnover in days. It also shows how many items were sold in one category during the selected period. This data will be used to calculate the stock turnover in days and group the data into categories. This statistic shows whether there are items that only have enough stock to last a few more days.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the value of items per variation and the stock by warehouse. This statistic shows the available and reserved stock and stock values for variations in each or all warehouses.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming items by date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the number of items and the value of incoming items by date. The statistic shows the values of incoming items and the item quantity per supplier per warehouse for the selected period.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming items by supplier</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the number of items and the net value of items by warehouse and supplier. The statistic shows all values of incoming items and the item quantity per supplier for the selected warehouses.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item revenue</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows an analysis of the value of items by warehouse, order referrer, payment method and shipping profile for the selected period. The statistic shows how revenue data is composed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Value of items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows an analysis of the value of items by warehouse, price and supplier for the selected period. Statistic shows the value of items and the quantity by warehouse.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Value of items by supplier</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the number of items and the net value of items by supplier for the selected period and warehouse. The statistic shows the value of items and the quantity by supplier.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customs list for outgoing items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows an analysis of your outgoing items based on when the orders were received and the selected order type for the selected period. This statistic provides you with a variety of information about your orders and customers, which you can use for customs forms or for other purposes.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="70">1.6. General statistics: Customer</h3>
<div class="paragraph">
<p>Customer statistics provide insights into the profitability and shopping habits of your customers.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 6. Types of <strong>Customer</strong> statistics</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type of statistic</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Consumer behaviour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows how many customers (grouped by order quantity) generated a certain amount of revenue. For example, you can see which customers generate the most revenue: those who rarely purchase in your store or those who make purchases regularly. The order quantities apply per customer. As such, e.g. the quantity <strong>&lt;3</strong> means that the customers shown have generated less than 3 orders per customer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Top / Flop customers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the revenue data sorted by customers who generated the most revenue and those who generated the least revenue in the selected period. The customers will be listed in descending order. In other words, the list will begin with the customer who generated the most or least revenue. The statistic shows which customers generate a lot or very little revenue, which will help you to analyse their purchase behaviour and target your promotional activities.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue by customer class / feedback</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows revenues and orders by customer class for the selected period and the selected order status. Statistic shows which customer classes are particularly profitable.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="80">1.7. General statistics: Tickets</h3>
<div class="paragraph">
<p>The ticket statistics help you analyse tickets by status and system state.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 7. Types of <strong>Tickets</strong> statistics</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type of statistic</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tickets by current status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Analyses tickets by current status at the time when the statistic was created. The tickets are grouped by the types and statuses selected. A tooltip displays the number of tickets as a percentage of all the displayed tickets. The statistic shows the number of tickets of a type in a particular system state.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tickets by status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Displays the tickets based on status and ticket type for the selected period. Statistic shows the number of tickets of a type in a particular system state.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tickets by system state</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Displays the tickets based on system state and ticket type for the selected period. The system state is assigned to a ticket automatically and cannot be changed.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="90">1.8. Item statistics</h3>
<div class="paragraph">
<p>To analyse individual items statistically, go to <strong>Item » Edit item » Open item</strong> and create a statistic in the <strong>Statistics</strong> tab of an item. Once you create and save a statistic in an item’s <strong>Statistics</strong> tab, this statistic is shown in the <strong>Statistics</strong> tab of all other items as well. In contrast to the general item statistics, the statistics of an item’s <strong>Statistics</strong> tab show data for individual items.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 8. Statistic types in the <strong>Statistics</strong> tab of an item</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type of statistic</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Returns</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the monetary amounts of returns by reason for return for the selected period. The statistic shows the number of returns and the revenues affected by returns. Furthermore, you can determine how the number of returns and the corresponding amounts are distributed among the different reasons for returns. This helps you to monitor refunds.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue by date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the item revenues (e.g. gross or net revenue) for the selected period.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue by referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the order revenues by the referrer shown for the selected period.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue by country of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the order revenues by country of delivery for the selected period.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue by client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the item revenues (e.g. gross or net revenue) by online store and/or client (store) for the selected period.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue by item variation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the revenue per variation of the item, e.g. gross revenue or contribution margin. This statistic shows which item variations are lucrative and which are not. For example, you may notice that the warehouse and operating costs of an item are too high and negatively influence the profit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the current stock by variation. Shows the value and the number of items of the available stock and of the reserved stock. It also shows several other stock parameters. This statistic shows the available and reserved stock and stock values per variation in each or all warehouses.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming items by date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This statistic shows the incoming items by date within the selected time span. The data is displayed for the warehouse(s) and supplier(s) that were chosen. The statistic shows the value of items and the quantity by supplier. In addition, the value totals are shown by date in a line chart, e.g. the item quantity and the value of items per month.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming items by supplier</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Analysis of incoming items by warehouse and supplier in the selected period. Statistic shows the value and quantity of items per supplier for the entire period selected.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Value of items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows an analysis of the value of items by warehouse, price and supplier for the selected period. The statistic shows the value of items and the quantity by warehouse.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Value of items by supplier</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Analysis of the value of items and the number of items by warehouse and supplier. Shows the number of items and the net value of items by supplier for the selected warehouses. The statistic shows the value of items and the quantity by supplier.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="100">1.9. Customer statistics</h3>
<div class="paragraph">
<p>To statistically analyse individual customers, use the <strong>CRM » Edit customer » Open customer » Tab: Customer data</strong> menu. The tabs and statistics types correspond to those the statistics menu. Once you create and save a statistic in an customer’s Statistics tab, this statistic is shown in the <strong>Statistics</strong> tab of all other customers as well. In contrast to the general customer statistics, these statistics show data for individual customers.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 9. Statistic types in the <strong>Statistics</strong> tab of a customer</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type of statistic</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Total revenue</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the number of orders and the revenue for a specific customer and the selected period.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue by referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows how much revenue was generated by each order referrer. Furthermore, it shows which percentage of the total revenue each referrer generated. This statistic shows how much revenue the customer generated with each referrer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Revenue by category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows revenue per category and the number of items purchased by the customer by date. This statistic shows how much revenue the customer generated in each of the different categories. If you change the time span, then you can also see how much revenue the customer generated in the different categories during a specific period of time.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_visitor_statistics_webalizer">1.10. Visitor statistics/Webalizer</h3>
<div class="paragraph">
<p>In addition to the statistics for analysing your business data, plentymarkets also offers a tool for analysing visitor numbers for your online store. The different areas of the Webalizer provide you with information about visits to your online store, e.g. the number or percentage of total hits and the number of hits within a specific category. Go to <strong>System » Client » Settings » Statistics</strong> to access the visitor statistics.</p>
</div>
<div class="paragraph instruction">
<p>Opening the visitor statistics:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Settings » Statistics</strong>.<br>
→ The menu opens.<br>
→ The login details are shown.
.Click on <strong>Open Webalizer statistics</strong>.<br>
→ The <strong>Authentication Required</strong> window will open.
.Enter the login details into the fields <strong>User Name</strong> and <strong>Password</strong>.
.Click on <strong>Login</strong>.<br>
→ The statistics will open in a new browser tab.
.Click on a month to see a detailed analysis for the period.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_managing_statistics">2. Managing statistics</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="120">2.1. Creating a statistic</h3>
<div class="paragraph">
<p>Statistics are grouped in tabs in the <strong>Start » Statistics</strong> menu. You can create up to 4 statistics per tab. Note that clicking on the tab’s <strong>X</strong> deletes the tab instead of merely closing it. Proceed as described below to create a statistic. Table 10 shows the available options in the Tab view.</p>
</div>
<div class="paragraph instruction">
<p>Creating a statistic:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Statistic</strong>.</p>
</li>
<li>
<p>Select the <strong>tab</strong>.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> of one of the four tab fields.<br>
→ The <strong>New statistic</strong> window will open.</p>
</li>
<li>
<p>Select a statistics type.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The statistic is created using the default settings.<br>
<strong><em>Tip:</em></strong> Table 10 explains the statistics view.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 10. Statistic layout</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The statistic’s display name is shown in the top left corner of the title bar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Period</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The period considered in the statistic is shown in the statistic’s title bar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reload</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click to update the chart with the current data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pencil icon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click to edit the statistic.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zoom</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the statistic in a new window. Enlarge the window by dragging the bottom right corner. The window’s size is saved.<br>
<em><strong>Tip</strong></em>: Left-click on the mouse and drag along a section of the column line combination chart to zoom in. Click <strong>Show all</strong> to end zooming and show the entire statistic.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Totals</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In tables, totals are displayed underneath the rows. There, you will see the column’s total value as well as the column’s average value.<br>
<em><strong>Note:</strong></em> If the data table spans several pages, the totals are calculated for the entire table and not for the page currently visible.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mouseover info</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on an area to show additional information.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="140">2.2. Modifying statistics</h3>
<div class="paragraph">
<p>Default values are preset when a statistic is created. Modify the default values for the analysis to reflect your specific needs.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: No data available?</div>
<div class="paragraph">
<p>Not all referrers are shown for all statistics by default. If no data is shown for a statistic, click on the pen icon and select a longer period or additional referrers.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Modifying statistics:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Statistic</strong>.</p>
</li>
<li>
<p>Select a <strong>Tab</strong>.</p>
</li>
<li>
<p>Click on the <strong>pen</strong> of the statistic you want to adjust.<br>
→ The statistic settings are shown.</p>
</li>
<li>
<p>Carry out the settings. Table 11 explains the most important settings.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The data is updated.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 11. Editing a statistic</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Chart view</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type of chart</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how the values should be shown. Values can be grouped in tables or in different types of charts.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click to export the statistic data to a CSV file. The statistics export only contains the values shown in the chart type Data table.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Raw data export</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click to export the raw data to a CSV file. The raw data export contains the data pool on which the values shown in the statistic are based.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Display name of the statistic The name can be changed at any time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Period</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the email folder from the drop-down list. Select a default value or select <strong>Date selection</strong> and set a starting date and an ending date.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Starting date</strong>;<br>
<strong>End date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a starting and ending date instead of selecting a <strong>Time span</strong> (optional). Only available if the option <strong>Date selection</strong> is selected.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date based on</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which event should be used for analyzing the data: <strong>Order received</strong>, <strong>Incoming payment</strong> or <strong>Outgoing items</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>From status / To status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Depending on the type of statistic there are different options available to narrow down the <strong>status</strong>. Default values are preset.<br>
<em><strong>Note</strong></em>: All types of orders are included in the statistical analysis except for cancellations. As such, <strong>Status 8</strong> and <strong>Status 8.1</strong> are excluded from the statistic.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the stores that you would like to include into the statistic.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the order referrers that you would like to include in the statistic.<br>
The order referrers correspond to individual orders and not to order items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the country that you would like to include in the statistic. Select <strong>All</strong> to include all countries.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the payment method that you would like to include in the statistic. Select <strong>All</strong> to include all payment methods.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping profile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the shipping profile that you would like to include in the statistic. Select <strong>All</strong> to include all shipping profiles.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Paid orders only</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select to include paid orders only in the statistic.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Orders with outgoing items booked only</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select to include orders with outgoing items booked in the statistic.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Chart</strong></p></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which revenue should be calculated for the statistic.<br>
<strong>Net revenue</strong> = Amounts minus VAT<br>
<strong>Gross revenue</strong> = Amounts including VAT<br>
<strong>Contribution margin II</strong> = Revenue minus taxes, purchase price and the additional costs that were selected, see <a href="/en/_entwurfsseiten/kathrin/entwurf-kb-1#170">Amounts</a>.<br>
The following costs can be deducted respectively:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Payment commission</p>
</li>
<li>
<p>Manufacturer commission</p>
</li>
<li>
<p>Transportation costs</p>
</li>
<li>
<p>Storage costs</p>
</li>
<li>
<p>Operating costs</p>
</li>
<li>
<p>Customs</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The contribution margin II is reduced by any costs activated with a check mark.<br>
<strong><em>Tip:</em></strong> Transportation costs, storage costs, operating costs and customs are saved in the <strong>Settings</strong> tab of the variation. <strong><em>Note:</em></strong> Item bundles are not taken into consideration. Fees for markets are added to the gross price (sales price).<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the Amazon account that you would like to include in the statistic.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the eBay account that you would like to include in the statistic.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="150">3. Analysing a statistic</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this chapter, we will show you how to interpret and use the data you gain from the statistics. To interpret the statistics note the information provided in table 1. Also make sure you understand the pool of data shown in the statistic you are interested in. Depending on the statistic, the values shown may be total values or values per unit, e.g. per customer or per order.</p>
</div>
<div class="sect2">
<h3 id="160">3.1. Types of chart</h3>
<div class="paragraph">
<p>The data is shown in different formats depending on the chart type selected. To compare statistics, select identical chart types and periods for the statistics you want to compare. The following chart types are available:</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Use the tool tips</div>
<div class="paragraph">
<p>The graphical charts provide additional values in tool tips. Move the cursor over a chart to show this information.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 12. Available chart types</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Schema</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Data table</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the data as a table.<br>
<strong><em>Tip:</em></strong> Tables offer very detailed values at a glance. However, they do not show developments over time as clearly as line, column or bar charts.<br>
<strong><em>Note:</em></strong> If the data table spans several pages, the totals are calculated for the entire table and not for the page currently visible.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Column chart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the data in columns.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Line chart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the data as lines.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Column line combination chart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows one value as a column, i.e. vertically, and another value as a line, i.e. horizontally.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bar and line chart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows one value as a bar, i.e. horizontally, and another value as a line, i.e. vertically.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stacked column chart with percentages</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the data in columns. The percentage data is stacked and shown in different colours.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stacked double column chart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the data in columns. The data is stacked and distinguished by different colours.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stacked bar chart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the data as different coloured bars.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Multi line chart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the data as different coloured lines.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>2D pie chart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the data as two-dimensional pie chart.<br>
<strong><em>Tip:</em></strong> Click on a pie piece to move it out of the pie. Click on each of the pie pieces to move all pie pieces out of the pie chart. Click on the pie piece again to move it back to its original position.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>3D pie chart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shows the data as three-dimensional pie chart.<br>
<strong><em>Tip:</em></strong> Click on a pie piece to move it out of the pie. Click on each of the pie pieces to move all pie pieces out of the pie chart. Click on the pie piece again to move it back to its original position.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="170">3.2. Amounts and costs</h3>
<div class="paragraph">
<p>The following amounts are used for the statistics. The amounts do not take into consideration item bundles. Fees for markets are added to the gross price (sales price).</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 13. Amounts</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Amount</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amounts minus VAT</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gross</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amounts including VAT</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Total</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Revenue including shipping costs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adjusted gross revenue</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gross revenue minus credit notes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adjusted net revenue</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net revenue minus credit notes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contribution margin I</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Revenue minus purchase price, VAT and shipping costs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contribution margin II</p></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Revenue minus purchase price, VAT, shipping costs and the selected additional cost<br>
The following costs can be deducted respectively:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Payment commission</p>
</li>
<li>
<p>Manufacturer commission</p>
</li>
<li>
<p>Transportation costs</p>
</li>
<li>
<p>Storage costs</p>
</li>
<li>
<p>Operating costs</p>
</li>
<li>
<p>Customs</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The contribution margin II is reduced by any costs activated with a check mark.<br>
<strong><em>Tip:</em></strong> Transportation costs, storage costs, operating costs and customs are saved in the <strong>Settings</strong> tab of the variation.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="195">4. Exporting statistics data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can export to a CSV file either the data shown or the raw data that the statistic is based on:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The statistics export only contains the values shown in the chart type <strong>Data table</strong>.</p>
</li>
<li>
<p>The raw data export contains the data pool on which the values shown in the statistic are based</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="190">4.1. Exporting statistics data</h3>
<div class="paragraph">
<p>Proceed as described below to export the data of a statistic to a CSV file. The export contains the data shown in the chart type <strong>Data table</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Exporting basic statistics data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Statistic</strong>.</p>
</li>
<li>
<p>Open the statistic’s tab.</p>
</li>
<li>
<p>Click on the <strong>pen</strong> of the statistic you want to export.<br>
→ An editing window will open.</p>
</li>
<li>
<p>Click on the green arrow <strong>Export</strong> above the chart view.</p>
</li>
<li>
<p>Select a storage location and confirm your selection.<br>
→ The CSV file is saved.<br>
<strong><em>Tip:</em></strong> You can export up to 10,000 rows of data. If this amount is exceed, only the first 10,000 rows will be exported. If you want to export a full set of data, limit the data volume by applying filter options.</p>
</li>
<li>
<p>Open the file with a spreadsheet program, e.g. Microsoft Excel.<br>
→ The data fields contained in the CSV file depend on which statistic is exported. Table 14 explains the available data fields.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="220">4.2. Exporting raw data</h3>
<div class="paragraph">
<p>The raw data export contains the data pool on which the values shown in the statistic are based. Proceed as described below to export the raw data of a statistic to a CSV file.</p>
</div>
<div class="paragraph instruction">
<p>Exporting raw data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Statistic</strong>.</p>
</li>
<li>
<p>Open the statistic’s tab.</p>
</li>
<li>
<p>Click on the <strong>pen</strong> of the statistic you want to export.<br>
→ An editing window will open.</p>
</li>
<li>
<p>Click on <strong>Raw data export</strong>, i.e. the document with the green arrow above the chart view.</p>
</li>
<li>
<p>Select a storage location and confirm your selection.<br>
→ The CSV file is saved.<br>
<strong><em>Tip:</em></strong> You can export up to 10,000 rows of data. If this amount is exceed, only the first 10,000 rows will be exported. If you want to export a full set of data, limit the data volume by applying filter options.</p>
</li>
<li>
<p>Open the file with a spreadsheet program, e.g. Microsoft Excel.<br>
→ The data fields contained in the CSV file depend on which statistic is exported. Table 14 explains the available data fields.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="190">4.3. Export data fields</h3>
<div class="paragraph">
<p>The following table explains the data fields of the export files. The data fields contained in the CSV file depend on which statistic is exported.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 14. Data fields of the CSV exports</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data field</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AdjustedItems</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adjusted items</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AdjustedSales</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adjusted revenue</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AdjustedSalesNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adjusted net revenue</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeValueSetID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the item variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AveragePurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Average purchase price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AverageSales</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Average revenues</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AverageShipping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Average shipping costs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>City</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Town</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Claim</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pending amount</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Company</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Company</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CountryID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CountryOfDelivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Country of delivery</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CreditNotes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Credit note amounts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CreditNotesNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net credit note amounts</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerGroupID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customer class ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer’s name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerRating</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feedback by customer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Customs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DatePaid</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Incoming payment</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DateShipped</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items shipped on</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DistributionMarginOne</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contribution margin I</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DistributionMarginTwo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Contribution margin II</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Division</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Partition number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DivisionDefinition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order range, e.g. stock turnover</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DunningLevel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dunning level</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EmailTemplateID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of email template</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EmailTemplateName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of email template</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EntryDate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Incoming orders</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ExternalItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">External item ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FirstName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">First name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GrossPrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gross price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HouseNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">House number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>InvoiceNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Invoice number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>InvoiceTotalGross</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gross invoice amount</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>InvoiceTotalNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net invoice amount</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemMarking1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag 1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemMarking2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flag 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemPriceTotal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s gross total price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemPriceTotalNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s net total price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemPriceUnit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unit price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemPriceUnitNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net unit price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemPurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purchase price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemQuantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item quantity</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of items</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemSellingPrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sales price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemWeight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item weight</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Surname</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Legend</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legend</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Losses</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Refunds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Default store or client</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MethodeOfPayment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NetItemValue</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net value of items</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NetPrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NetStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Available stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OperatingCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Operating costs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderRowID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order item ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order type</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PaidAmount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amount paid</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PaymentCommission</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Commission of payment method</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PaymentMethodID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PaymentMethodName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Percentage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PhysicalStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Total stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ProducerCommission</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer commission</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">**ProducerID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ProducerName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purchase price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of item intakes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QuantityOfBundleItems</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items in item bundles</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QuantityOfCreditNotes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of credit notes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QuantityOfCustomers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of customs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QuantityOfItems;<br>
QuantityItem</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of items</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QuantityOfItemsBundle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items in item bundles</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QuantityOfMessagesSent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of sent messages</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QuantityOfOrders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of orders</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QuantityOfReturns</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of returns</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReasonOfReturnID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reason for return ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReasonOfReturnName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of reason for return</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order referrer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReferrerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Referrer ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReservedStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reserved stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReturnedItems</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of returned items</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReturnRate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Return rate</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Returns</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gross amount returns</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReturnsNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net amount returns</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gross revenue</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesAdjusted</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adjusted revenue</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesAdjustedNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adjusted net revenue</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesGross</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gross revenue</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net revenue</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesPercentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Percentage of revenue</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesWithoutShippingCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Revenue minus shipping costs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gross shipping costs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingCostsGross</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gross shipping costs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingCostsNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Net shipping costs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingProviderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping service provider ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingProviderName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the shipping service provider</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingRegion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping region</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SoldItems</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sold items</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order status</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StockCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storage costs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StoreID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the online store</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Street</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Street</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Store</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Default store or client</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SupplierID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Supplier ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SupplierName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Supplier name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Timestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date that the order was received</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TimestampPaid</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of incoming payment</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TimestampShipped;<br>
TimestampShipping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items shipped on;<br>
(Processing times)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ToPaidHoursAverage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Average number of hours needed for the order status to reach <strong>Paid</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ToPaidPercentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Percentage of total processing time needed for orders to be paid</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ToPaidHoursPercentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Average number of hours needed for the order status to reach <strong>Shipped</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ToShippedPercentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Percentage of total processing time needed for orders to be shipped</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Total</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Revenue including shipping costs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TradeRepresentativeCompany</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Company of sales representative</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TradeRepresentativeID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sales representative ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TradeRepresentativeLastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last name of sales representative</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TradeRepresentativeName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of sales representative</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TransportationCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Transportation costs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order type</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UserID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">User ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UserName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">User name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationPurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item variation’s purchase price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ValueOfNetStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value of available stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ValueOfPhysicalStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value of stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ValueOfReservedStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Value of reserved stock</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute values of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariantID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariantName</strong>;<br>
<strong>VariationName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name of the warehouse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ZIPCode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postcode</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="200">4.4. Troubleshooting: Correcting incorrect values in CSV file</h3>
<div class="paragraph">
<p>In the spreadsheet program Microsoft Excel, values may be shown incorrectly depending on the separator configuration. If the CSV file shows incorrect values, you may need to adjust the Advanced settings in Excel:</p>
</div>
<div class="paragraph instruction">
<p>Adjusting separator settings in Excel 2007:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open Microsoft Excel.</p>
</li>
<li>
<p>Open the menu <strong>File &gt; Options &gt; Advanced</strong>.</p>
</li>
<li>
<p>Deactivate the option <strong>Use system separators</strong>.</p>
</li>
<li>
<p>Enter a period as the <strong>decimal separator</strong>.</p>
</li>
<li>
<p>Click on <strong>OK</strong>.</p>
</li>
<li>
<p>Reopen the CSV file in Excel.<br>
→ The values are shown correctly.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>