<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>User</h1><p>Welcome to the topic User. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/basics/user/simultaneously-logged-in-users">Limitation of simultaneously logged in users in the back end</a></li></ul>
</main>