<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Version upgrade</h1><p>Welcome to the topic Version upgrade. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/basics/version-upgrade/migration-guide">Migration guide</a></li><li><a href="/en/basics/version-upgrade/version-cycle">Changing state of development</a></li></ul>
</main>