<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Neue Aktion anlegen</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Allgemeine Einstellungen vornehmen</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Filtereinstellungen vornehmen</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Aktionen auswählen</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.</span><span> Aktion aktivieren</span></a></li>
<li><a href="#600"><span>3.</span><span> Aktionen verwalten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Aktionsmanager</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets lässt du tägliche Ereignisse automatisch über den <strong>Aktionsmanager</strong> zu bestimmten Uhrzeiten ausführen.</p>
</div>
<div class="paragraph">
<p>So kannst du den Aktionsmanager beispielsweise nutzen, um einen täglichen Zeitpunkt festzulegen, zu dem nicht zahlende Kunden von eBay oder deinem eigenen Webshop eine Zahlungserinnerung oder eine Mahnung erhalten sollen und diese automatisch per E-Mail versenden lassen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Neue Aktion anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Anlegen einer Aktion besteht immer aus folgenden Schritten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/automatisierung/aktionsmanager#200">Allgemeine Einstellungen vornehmen</a></p>
</li>
<li>
<p><a href="/automatisierung/aktionsmanager#300">Filtereinstellungen vornehmen </a></p>
</li>
<li>
<p><a href="/automatisierung/aktionsmanager#400">Eine oder mehrere Aktionen auswählen</a></p>
</li>
<li>
<p><a href="/automatisierung/aktionsmanager#500">Aktion aktivieren</a></p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="200">1.1. Allgemeine Einstellungen vornehmen</h3>
<div class="paragraph">
<p>Im ersten Schritt benennst du die Aktion und legen einen Zeitpunkt für die Ausführung fest.</p>
</div>
<div class="paragraph instruction">
<p>Neue Aktion einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Aktionen</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Neue Aktion</strong>.</p>
</li>
<li>
<p>Trage einen aussagekräftigen Namen für die Aktion ein.</p>
</li>
<li>
<p>Wähle einen Zeitpunkt, zu dem die Aktion täglich ausgeführt werden soll.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Aktion wird angelegt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Filtereinstellungen vornehmen</h3>
<div class="paragraph">
<p>Wähle im nächsten Schritt einen genauen Filter für die Aktion, damit die Aktion nur bei den gewünschten Aufträgen greift. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Filtereinstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Aktionen</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Filter</strong>.</p>
</li>
<li>
<p>Nimm die gewünschten Einstellungen anhand der Informationen in <a href="#tabelle-aktionsmanager-filter">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-aktionsmanager-filter" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen im Tab <strong>Filter</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den <a href="/auftraege/auftraege-verwalten#1200">Auftragsstatus</a> der Aufträge wählen, auf die die Aktion automatisch angewendet werden soll. Hier ist nur ein Status wählbar. Die Aktion wird dann zum gewählten Zeitpunkt auf alle Aufträge angewendet, die sich in exakt diesem Status befinden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen oder mehrere Auftragstypen wählen, für die die Aktion angewendet werden soll. Eine Mehrfachauswahl ist durch Strg/cmd + Klick möglich. <strong>Alle</strong> wählen, wenn alle Auftragstypen berücksichtigt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Letzter Statuswechsel</strong>, <br>
<strong>Rückgabedatum</strong><br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Heute</strong>, <strong>gestern</strong> oder die Option <strong>Tage eingeben</strong> wählen und die Anzahl an Tagen eintragen.<br>
Diese Angabe ist besonders für Erinnerungen oder Mahnungen wichtig, um sicherzustellen, dass nur Aufträge in die Aktion eingeschlossen sind, bei denen der Zeitraum vergangen ist.<br>
<strong><em>Wichtig</em></strong>: Der Filter <strong>Letzter Statuswechsel</strong> greift nur für Vorgänge, bei denen ein Status hinterlegt ist, somit z.B. nicht bei manueller Buchung eines Zahlungseingangs, bei dem kein Status hinterlegt ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragseingang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Heute</strong>, <strong>gestern</strong> oder die eine Zeitspanne von <strong>2</strong> bis <strong>110</strong> Tage auswählen. Die Aktion greift dann nur für Aufträge, die im angegebenen Zeitraum eingehen oder eingegangen sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag beinhaltet ein komplettes Sortiment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> wählen und dann darunter ein Attribut aus der Dropdown-Liste auswählen. Der Filter prüft den Bestand der Artikel im Auftrag, auf die das gewählte Attribut zutrifft. Hat einer dieser Artikel keinen Bestand, greift der Filter für diesen Auftrag nicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel enthalten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die <strong>IDs</strong> der Artikel kommagetrennt eintragen, die in den Aufträgen enthalten sein müssen, damit die Aktion angewendet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay-Bewertung abgegeben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Filter prüft, ob Käufer für eBay-Aufträge bereits eine positive Bewertung für dich als Verkäufter abgegeben haben. Wähle die Option <strong>JA</strong>, wenn nur Aufträge berücksichtigt werden sollen, bei denen dies geschehen ist. Weitere Informationen zum Filter <strong>eBay-Bewertung abgeben</strong> findest du auf der Handbuchseite zum Thema <a href="/maerkte/ebay/ebay-einrichten#1300">eBay</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenausgang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Filter prüft, ob der Warenausgang <strong>OFFEN</strong> oder bereits <strong>GEBUCHT</strong> ist. Wähle die Option <strong>KEINE RELEVANZ</strong>, wenn die Buchung des Warenausgangs nicht berücksichtigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungseingang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine der folgenden Optionen wählen:<br>
<strong>KEINE RELEVANZ</strong> = Der Zahlungseingang wird nicht für die Ausführung der Aktion berücksichtigt.<br>
<strong>OFFEN</strong> = Berücksichtigt nur Aufträge, die noch nicht bezahlt oder zu denen noch keine Zahlungen im deinem plentymarkets System verbucht sind.<br>
<strong>GEBUCHT</strong> = Berücksichtigt nur Aufträge, zu denen im Allgemeinen schon Zahlungen in deinem plentymarkets System verbucht sind.<br>
<strong>TEILGEBUCHT</strong> = Berücksichtigt nur Aufträge, zu denen teilweise Zahlungen in deinem plentymarkets System verbucht sind.<br>
<strong>KOMPLETT GEBUCHT</strong> = Berücksichtigt nur Aufträge, zu deinen entweder eine vollständige Zahlung oder oder eine Überzahlung verbucht sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine der folgenden Optionen wählen:<br>
<strong>KEINE RELEVANZ</strong> = Die Zahlungsart wird nicht für die Ausführung der Aktion berücksichtigt.<br>
Je nachdem, welche Zahlungsarten du in deinem plentymarkets System aktiviert hast, erscheinen entsprechend weitere Optionen im Dropdown-Menü. Wähle die Zahlungsart, die an den Aufträgen hinterlegt sein muss, damit die Aktion angewendet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine oder mehrere Auftragsherkünfte wählen, für die die Aktion angewendet werden soll. Eine Mehrfachauswahl ist durch Strg/cmd + Klick möglich. <strong>ALLE</strong> auswählen, wenn Aufträge aller Herkünfte berücksichtigt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen oder <strong>ALLE</strong> Eigner wählen, auf dessen zugeordete Aufträge die Aktion angewendet werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versanddatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, in welcher Form das voraussichtliche Versanddatum des Auftrags berücksichtigt wird. Hier wird das Datum berücksichtigt, das im Feld <strong>Versanddatum</strong> im Tab <strong>Einstellungen</strong> eines Auftrags gespeichert ist. Wähle die Option <strong>Heute</strong>, um Aufträge zu berücksichtigen, die am aktuellen Datum versendet werden sollen. Wähle alternativ eine der Optionen <strong>Gestern</strong>, <strong>vor 2 Tagen</strong> oder <strong>vor 3 Tagen</strong>, um andere Zeiträume zu berücksichtigen. Wähle die Option <strong>ALLE</strong>, wenn das Versanddatum nicht berücksichtigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenausgangsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, in welcher Form das Warenausgangsdatum des Auftrags berücksichtigt wird. Hier wird das Datum des tatsächlichen Warenausgangs berücksichtigt. Wähle die Option <strong>Heute</strong>, um Aufträge zu berücksichtigen, für die am aktuellen Datum der Warenausgang gebucht wurde. Wähle alternativ eine der Optionen <strong>Gestern</strong>, <strong>vor 2 Tagen</strong> oder <strong>vor 3 Tagen</strong>, um andere Zeiträume zu berücksichtigen. Wähle die Option <strong>ALLE</strong>, wenn das Warenausgangsdatum nicht berücksichtigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Option <strong>ALLE</strong>, um Aufträge aller Mandanten zu berücksichtigen, oder die Option <strong>Standard-Webshop</strong>, wenn nur über den Standard-Webshop eingegangene Aufträge berücksichtigt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsziel überschritten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Anzahl (in Tagen) eingeben. Die Aktion berücksichtigt dann die Aufträge, bei denen das Zahlungsziel um genau diese Anzahl von Tagen überschritten ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">ODER</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn hier der Filter <strong>positive Bewertung erhalten</strong> gewählt wird, werden alle darüber liegenden Filter deaktiviert. Das bedeutet, der eBay-Filter greift nur alleine und nicht in Kombination mit anderen Filtern. Triff keine Auswahl für die Option <strong>eBay</strong>, um genau die zuvor eingestellten Filter zu verwenden.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">1.3. Aktionen auswählen</h3>
<div class="paragraph">
<p>Nach der Auswahl der Filtereinstellungen wählst du, welche konkreten <strong>Aktionen</strong> automatisch zum eingestellten Zeitpunkt für die gefilterten Aufträge von deinem plentymarkets System ausgeführt werden. Versende zum Beispiel automatisch eine E-Mail-Vorlage oder veranlasse, dass der Status des Auftrags oder die Mahnstufe automatisch geändert werden. Für eBay-Aufträge ist es möglich, eine <a href="/maerkte/ebay/ebay-einrichten#1300">Bewertung automatisch abzugeben</a> oder den Disputprozess zu starten. Darüber hinaus schaltest du einen der aufgeführten <a href="/payment#400">Inkassodienstleister</a> durch Wählen der Option <strong>AKTIV</strong> ein. Betroffene Aufträge werden dann automatisch von uns an den Dienstleister gemeldet. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Aktion auswählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Aktionen</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Aktion</strong>.</p>
</li>
<li>
<p>Nimm die gewünschten Einstellungen anhand der Informationen in <a href="#tabelle-aktionsmanager-aktionen">Tabelle 2</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Aktion wird hinzugefügt.</p>
</li>
</ol>
</div>
<table id="tabelle-aktionsmanager-aktionen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen im Tab <strong>Aktion</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versende E-Mail-Vorlage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine E-Mail-Vorlage aus der Dropdown-Liste. Achte darauf, dass die gewählte Vorlage <a href="/crm/e-mails-versenden#1200">korrekt eingestellt</a> ist. Belasse die Auswahl auf <strong>---</strong>, wenn keine E-Mail-Vorlage versendet werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ändere Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle den <a href="/auftraege/auftraege-verwalten#1200">Auftragsstatus</a>, in den die von der Aktion betroffenen Aufträge wechseln sollen.  Belasse die Auswahl auf <strong>---</strong>, wenn kein Statuswechsel stattfinden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ändere Mahnstufe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Mahnstufe, auf die von der Aktion betroffene Aufträge wechseln sollen. Dadurch wird die Mahnstufe geändert, die im Tab <strong>Übersicht</strong> eines Auftrags gespeichert ist. Belasse die Auswahl auf <strong>---</strong>, wenn die Mahnstufe nicht geändert werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Markierung, die von der Aktion betroffene Aufträge erhalten sollen. Dadurch wird die Markierung geändert, die im Tab <strong>Übersicht</strong> eines Auftrags gespeichert ist. Belasse die Auswahl auf <strong>---</strong>, wenn die Markierung nicht geändert werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Aktion, die für Aufträge mit der Herkunft <strong>eBay</strong> automatisch auf eBay ausgeführt werden soll. Zur Verfügung stehen die Option <strong>positive Bewertung abgeben</strong> und <strong>Disputprozess starten</strong>. Belasse die Auswahl auf <strong>---</strong>, wenn keine Aktion auf eBay ausgeführt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>atriga (Inkasso)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Option <strong>AKTIV</strong>, wenn du den Inkassodienstleister <a href="/payment/zahlungsanbieter/atriga">atriga</a> in deinem plentymarkets System verwendest. Betroffene Aufträge werden dann automatisch von plentymarkets an atriga gemeldet. Belasse die Auswahl auf <strong>---</strong>, wenn du atriga nicht nutzt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>mediafinanz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Option <strong>AKTIV</strong>, wenn du den Inkassodienstleister <a href="/payment/zahlungsanbieter/mediafinanz">mediafinanz</a> in deinem plentymarkets System verwendest. Betroffene Aufträge werden dann automatisch von plentymarkets an mediafinanz gemeldet. Belasse die Auswahl auf <strong>---</strong>, wenn du mediafinanz nicht nutzt.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. Aktion aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du die gewünschten Einstellungen bezüglich der Filter und Aktionen vorgenommen hast, muss die Aktion als Ganze noch aktiviert werden. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Aktion aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Aktionen</strong>.</p>
</li>
<li>
<p>Im Tab <strong>Aktionen</strong> wird die soeben angelegte Aktion angezeigt.</p>
</li>
<li>
<p>Öffne die Aktion durch Klick auf das <strong>Plus</strong>-Icon am linken Rand.<br>
→ Die Aktion wird geöffnet.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Aktion wird aktiviert.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">3. Aktionen verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Tab <strong>Aktion</strong> im Menü <strong>Einrichtung » Aufträge » Aktionen</strong> bietet dir jederzeit eine Übersicht aller von dir angelegten Aktionen. In dieser Auflistung kannst du einzelne Aktionen bei Bedarf aktivieren, deaktivieren, umbenennen oder auch löschen.<br>
Zudem wird dir zu jeder einzelnen Aktion der Zeitpunkt der letzten Ausführung und des letzten erfolgreichen Abschlusses der Aktion angezeigt.</p>
</div>
</div>
</div>
</main>