<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_praxisbeispiele_ereignisaktionen"><span>1.</span><span> Praxisbeispiele: Ereignisaktionen</span></a>
<ul class="sectlevel2">
<li><a href="#_bestellbestätigung_versenden"><span>1.1.</span><span> Bestellbestätigung versenden</span></a></li>
<li><a href="#_zahlungsbestätigung_versenden"><span>1.2.</span><span> Zahlungsbestätigung versenden</span></a></li>
<li><a href="#_e_mail_vorlagen_an_mitarbeiter_versenden"><span>1.3.</span><span> E-Mail-Vorlagen an Mitarbeiter versenden</span></a></li>
<li><a href="#_rechnung_erzeugen_und_versenden"><span>1.4.</span><span> Rechnung erzeugen und versenden</span></a></li>
<li><a href="#_gratis_artikel_zu_aufträgen_hinzufügen"><span>1.5.</span><span> Gratis-Artikel zu Aufträgen hinzufügen</span></a></li>
<li><a href="#_versandbestätigung_an_kunden_versenden"><span>1.6.</span><span> Versandbestätigung an Kunden versenden</span></a></li>
</ul>
</li>
<li><a href="#_praxisbeispiele_aktionsmanager"><span>2.</span><span> Praxisbeispiele: Aktionsmanager</span></a>
<ul class="sectlevel2">
<li><a href="#_zahlungserinnerung_versenden"><span>2.1.</span><span> Zahlungserinnerung versenden</span></a></li>
<li><a href="#_ebay_disputprozess_starten"><span>2.2.</span><span> eBay-Disputprozess starten</span></a></li>
<li><a href="#_ebay_bewertungen_abgeben"><span>2.3.</span><span> eBay-Bewertungen abgeben</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: Aktionsmanager und Ereignisaktionen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Ein nicht unerheblicher Teil deines Tagesgeschäfts als Händler entfällt auf einfache Routineaufgaben. Zur Automatisierung dieser Aufgaben bietet dir plentymarkets verschiedene effektive Werkzeuge.<br>
Auf dieser Handbuchseite findest du praktische Einrichtungsbeispiele zu den <strong>Ereignisaktionen</strong> und zum <strong>Aktionsmanager</strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Voraussetzung für Automatismen</div>
<div class="paragraph">
<p>Einige der auf dieser Seite genannten Einrichtungsbeispiele versenden E-Mail-Vorlagen oder erzeugen bestimmte Auftragsdokumente. Stelle daher sicher, dass die entsprechenden <strong>E-Mail-Vorlagen</strong> im Menü <strong>Einrichtung » Mandant » Mandant wählen » E-Mail » Vorlagen</strong> erstellt sind. Ebenso müssen vor dem Einrichten und Verwenden der Automatismen, die Dokumente erzeugen, die entsprechenden Dokumentenvorlagen im Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente</strong> eingerichtet sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_praxisbeispiele_ereignisaktionen">1. Praxisbeispiele: Ereignisaktionen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Grundprinzip von Ereignisaktionen ist leicht verständlich: Bestimmte <strong>Ereignisse</strong> im Webshop lösen, gesteuert mit einer Ereignisaktion bestimmte <strong>Aktionen</strong> aus. Genaue Anleitungen zum Einrichten von Ereignisaktionen sowie zu den zur Verfügung stehenden Ereignisse, Filter und Aktionen findest du auf der Handbuchseite <a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a>.<br>
Im Folgenden findest du eine Auflistung von Beispielen für automatische Aktionen, die mit Ereignisaktionen ausgelöst werden.</p>
</div>
<div class="sect2">
<h3 id="_bestellbestätigung_versenden">1.1. Bestellbestätigung versenden</h3>
<div class="paragraph">
<p>Wenn du schon beim Auftragseingang über den Webshop eine Bestellbestätigung an deine Kunden versenden möchtest, empfehlen wir die in <a href="#tabelle-ereignisaktion-bestellbestaetigung">Tabelle 1</a> beschriebene Ereignisaktion.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-ereignisaktion-bestellbestaetigung">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm Einstellungen gemäß <a href="#tabelle-ereignisaktion-bestellbestaetigung">Tabelle 1</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-ereignisaktion-bestellbestaetigung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Ereignisaktion "Bestellbestätigung an Kunden versenden" einrichten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsanlage &gt; Neuer Auftrag</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunde &gt; E-Mail versenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Über das Plus-Symbol für den <strong>Kunden</strong> die Vorlage <strong>Webshop: Eingangsbestätigung Bestellung</strong> wählen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_zahlungsbestätigung_versenden">1.2. Zahlungsbestätigung versenden</h3>
<div class="paragraph">
<p>Möchtest du nach vollständiger Buchung des Zahlungseingangs eine entsprechende E-Mail an deine Kunden versenden, empfehlen wir die in <a href="#tabelle-ereignisaktion-zahlungsbestaetigung">Tabelle 2</a> beschriebene Ereignisaktion.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-ereignisaktion-zahlungsbestaetigung">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-ereignisaktion-zahlungsbestaetigung">Tabelle 2</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-ereignisaktion-zahlungsbestaetigung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Ereignisaktion "Zahlungsbestätigung an Kunden versenden" einrichten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlung &gt; Teilzahlung</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunde &gt; E-Mail versenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Über das Plus-Symbol für den <strong>Kunden</strong> die Vorlage <strong>Auftrag: Zahlungseingang vollständig</strong> wählen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_e_mail_vorlagen_an_mitarbeiter_versenden">1.3. E-Mail-Vorlagen an Mitarbeiter versenden</h3>
<div class="paragraph">
<p>Möchtest du deine Mitarbeiter per E-Mail über Zusatzwünsche zu einem Auftrag informieren, empfehlen wir die in <a href="#tabelle-ereignisaktion-zusatzwunsch-ma">Tabelle 3</a> beschriebene Ereignisaktion.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-ereignisaktion-zusatzwunsch-ma">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-ereignisaktion-zusatzwunsch-ma">Tabelle 3</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-ereignisaktion-zusatzwunsch-ma" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Ereignisaktion "Zusatzwünsche an Mitarbeiter senden" einrichten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung &gt; Auftragsnotiz vom Kunden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunde &gt; E-Mail versenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Über das Plus-Symbol für den <strong>Mitarbeiter</strong> die gewünschte E-Mail-Vorlage wählen.<br>
Die E-Mail wird an die Adresse des gewählten Mitarbeiters versendet. Damit eine E-Mail-Adresse hier wählbar ist, muss sie im Menü <a href="/basics/admin-aufgaben/benutzer-verwalten#42">Einrichtung » Einstellungen » Benutzer » Konten</a> beim Benutzer eingetragen sein.<br>
<strong><em>Tipp</em></strong>: Den Platzhalter <strong>$CustomerSpecialWishes</strong> in die E-Mail-Vorlage einfügen. Der Platzhalter gibt den vom Kunden eingetragenen Text aus.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Möchtest du deine Mitarbeiter per E-Mail informieren, sobald ein Auftrag in den Status <strong>[5] Freigabe Versand</strong> wechselt, empfehlen wir die in <a href="#tabelle-ereignisaktion-statuswechsel-ma">Tabelle 4</a> beschriebene Ereignisaktion.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-ereignisaktion-statuswechsel-ma">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-ereignisaktion-statuswechsel-ma">Tabelle 4</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-ereignisaktion-statuswechsel-ma" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion "Mitarbeiter über Statuswechsel informieren" einrichten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung &gt; Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Status <strong>[5] Freigabe Versand</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunde &gt; E-Mail versenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Über das Plus-Symbol für den <strong>Mitarbeiter</strong> die gewünschte E-Mail-Vorlage wählen, z.B die Vorlage <strong>Auftrag &gt; Versandbestätigung</strong>.<br>
Die E-Mail wird an die Adresse des gewählten Mitarbeiters versendet. Damit eine E-Mail-Adresse hier wählbar ist, muss sie im Menü <a href="/basics/admin-aufgaben/benutzer-verwalten#42">Einrichtung » Einstellungen » Benutzer » Konten</a> beim Benutzer eingetragen sein.<br></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_rechnung_erzeugen_und_versenden">1.4. Rechnung erzeugen und versenden</h3>
<div class="paragraph">
<p>Möchtest du eine Rechnung erzeugen, sobald der Warenausgang für den Auftrag gebucht wird, empfehlen wir die in <a href="#tabelle-ereignisaktion-rechnung-erzeugen">Tabelle 5</a> beschriebene Ereignisaktion.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Dokument per Ereignisaktion erzeugen</div>
<div class="paragraph">
<p>Mit der folgenden Ereignisaktion findet lediglich die Erzeugung des Dokuments Rechnung statt. Richte dir zusätzlich die zweite beschriebene Ereignisaktion ein, wenn deine Kunden die Rechnung als Anhang in einer E-Mail erhalten sollen. Werden Dokumente mit einer einzigen Ereignisaktion gleichzeitig erzeugt und versendet, erfolgt der E-Mail-Versand unter Umständen, bevor die Rechnung vollständig erzeugt wurde. Deshalb empfehlen wir grundsätzlich, zwei separate Ereignisaktionen für die Erzeugung und den Versand von Dokumenten anzulegen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-ereignisaktion-rechnung-erzeugen">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-ereignisaktion-rechnung-erzeugen">Tabelle 5</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-ereignisaktion-rechnung-erzeugen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktion "Rechnung erzeugen" einrichten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung &gt; Warenausgang gebucht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokumente &gt; Rechnung erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei Bedarf die Optionen <strong>Zahlungsziel</strong> und <strong>Skonto</strong> aktivieren oder einen <strong>Kommentar</strong> eingeben, der auf der erzeugten Rechnung angezeigt wird.<br></p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Möchtest du die Rechnung nach Erzeugung des Dokuments direkt als E-Mail-Anhang an deine Kunden versenden, empfehlen wir die in <a href="#tabelle-ereignisaktion-rechnung-versenden">Tabelle 6</a> beschriebene Ereignisaktion.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen eindeutigen Namen für die Ereignisaktion ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-ereignisaktion-rechnung-versenden">Tabelle 6</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-ereignisaktion-rechnung-versenden">Tabelle 6</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-ereignisaktion-rechnung-versenden" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Ereignisaktion "Rechnung versenden" einrichten</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokumente &gt; Rechnung generiert</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunde &gt; E-Mail versenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Über das Plus-Symbol für den <strong>Kunden</strong> die E-Mail-Vorlage <strong>Auftrag: Rechnung PDF-Anhang</strong> wählen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_gratis_artikel_zu_aufträgen_hinzufügen">1.5. Gratis-Artikel zu Aufträgen hinzufügen</h3>
<div class="paragraph">
<p>Möchtest du zu Aufträgen ab einem bestimmten Warenwert oder zu Werbezwecken Gratis-Artikel hinzufügen, empfehlen wir die in <a href="#tabelle-ereignisaktion-auftrag-gratiszugabe">Tabelle 7</a> beschriebene Ereignisaktion.<br>
Weitere Information zu Gratis-Artikeln findest du auch auf der Handbuchseite <a href="/artikel/artikel-verwalten#4300">Artikel verwalten</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion erstellen</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-ereignisaktion-auftrag-gratiszugabe">Tabelle 7</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-ereignisaktion-auftrag-gratiszugabe">Tabelle 7</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-ereignisaktion-auftrag-gratiszugabe" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Ereignisaktion "Gratis-Artikel hinzufügen" einrichten</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsanlage &gt; Neuer Auftrag</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenwert (brutto)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Operator wählen und Warenwert eingeben.<br>
<strong><em>Beispiel:</em></strong> Operator <strong>&gt;=</strong>, Warenwert <strong>50,00</strong> = Variante wird ab 50 Euro Warenwert hinzugefügt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante &gt; Variante hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Variante eingeben.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_versandbestätigung_an_kunden_versenden">1.6. Versandbestätigung an Kunden versenden</h3>
<div class="paragraph">
<p>Möchtest du Kunden eine Versandbestätigung senden, sobald die Paketnummer der Sendung in dein plentymarkets System importiert wurde, empfehlen wir die in <a href="#tabelle-ereignisaktion-versandbestaetigung">Tabelle 8</a> beschriebene Ereignisaktion. Mit dieser Ereignisaktion wird gleichzeitig der Status der Bestellung auf 7 gesetzt und der Warenausgang im Lager gebucht, damit die physischen Lagerbestände aktualisiert werden.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#tabelle-ereignisaktion-versandbestaetigung">Tabelle 8</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-ereignisaktion-versandbestaetigung">Tabelle 8</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="tabelle-ereignisaktion-versandbestaetigung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Ereignisaktion "Automatische Versandbestätigung" versenden</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung &gt; Paketnummer</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunde &gt; E-Mail versenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Über das Plus-Symbol für den <strong>Kunden</strong> die E-Mail-Vorlage <strong>Versandbestätigung</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Warenausgang buchen</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tracking-URL in Versandbestätigung anzeigen</div>
<div class="paragraph">
<p>Fast alle Versanddienstleister bieten deinen Kunden eine Online-Sendungsverfolgung an. Bei der Einrichtung deiner Versanddienstleister hast du bereits eine Tracking-URL gespeichert. Mit der Eingabe der Paketnummer verfügt dein plentymarkets System nun über alle nötigen Informationen, um deinen Kunden eine Tracking-URL zur Verfolgung ihrer Pakete zu senden. Stelle dazu, dass die E-Mail-Vorlage deiner Versandbestätigung die Variable <strong>$TrackingURL</strong> enthält. Teste dann bei den ersten Aufträgen, ob die Tracking-URLs korrekt verarbeitet werden und den Kunden die entsprechenden Informationen anzeigen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_praxisbeispiele_aktionsmanager">2. Praxisbeispiele: Aktionsmanager</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Aktionsmanager richtest du automatische Prozesse ein, die Aktionen täglich zu bestimmten Zeitpunkten ausführen. Im Gegensatz zu den Ereignisaktionen werden die Aktionen im Aktionsmanager in der Regel nicht von bestimmten Ereignissen ausgelöst, sondern finden automatisch statt, sobald eine festgelegte Zeitspanne vergangen ist. Beispielsweise kannst du täglich eine automatische Zahlungserinnerung an alle Kunden schicken, die nicht innerhalb der letzten 7 Tage ihre Waren bezahlt haben.<br>
Genaue Anleitungen zum Einrichten des Aktionsmanagers sowie zu den zur Verfügung stehenden Filtern und Aktionen findest du auf der Handbuchseite <a href="/automatisierung/aktionsmanager">Aktionsmanager</a>.</p>
</div>
<div class="sect2">
<h3 id="_zahlungserinnerung_versenden">2.1. Zahlungserinnerung versenden</h3>
<div class="paragraph">
<p>Wenn du Käufer mit Aufträgen der Zahlungsart <strong>Vorkasse</strong> an eine ausstehende Zahlung erinnern möchtest, nutze die in <a href="#tabelle-aktionsmanager-zahlungserinnerung">Tabelle 9</a> beschriebene Aktion. Beachte bei den Einstellungen, dass Aufträge mit der Zahlungsart <strong>Vorkasse</strong> in deinem plentymarkets System direkt den Status <strong>[3] Warten auf Zahlung</strong> erhalten.</p>
</div>
<table id="tabelle-aktionsmanager-zahlungserinnerung" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 9. Aktion "Zahlungserinnerung versenden" einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tab</th>
<th class="tableblock halign-left valign-top">Einstellung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einstellungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den <strong>Zeitpunkt</strong> der Aktion einstellen, zu dem die Aktion täglich ausgeführt werden soll. Einen <strong>Namen</strong> eintragen und die Option <strong>Aktiv</strong> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unter <strong>Status</strong> die Option <strong>Warten auf Zahlung</strong> wählen. Unter <strong>Letzter Statuswechsel</strong> die Option <strong>Tage eingeben</strong> wählen. <strong>7</strong> in das Feld <strong>Tage</strong> eintragen.<br>
Somit werden alle Aufträge gefunden, die sich seit genau sieben Tagen im Status <strong>[3] Warten auf Zahlung</strong> befinden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unter <strong>Versende E-Mail-Vorlage</strong> die für diesen Fall erstellte <strong>E-Mail-Vorlage</strong> wählen, beispielsweise die Vorlage <strong>Auftrag: Zahlungserinnerung</strong>.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Aktionsvarianten</div>
<div class="paragraph">
<p>Es empfiehlt sich, diese Aktion in mehreren Varianten anzulegen. Eine zusätzliche E-Mail mit einer weiteren Zahlungsaufforderung kann so einige Tage später versendet werden. Noch einige Tage später kann direkt eine weitere Aktion ausgeführt werden, die den Status auf <strong>8</strong> setzt, um den Auftrag zu stornieren. Dieser Statuswechsel bewirkt auch, dass der für diesen Auftrag reservierte Warenbestand wieder freigegeben wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_ebay_disputprozess_starten">2.2. eBay-Disputprozess starten</h3>
<div class="paragraph">
<p>Mithilfe des Aktionsmanagers kannst du auch eBay-Disputprozesse automatisch starten. Dabei erhält der Käufer über eBay eine Zahlungsaufforderung. Wir empfehlen, den Filter für diese Aktion ähnlich dem der Aktion <strong>Zahlungserinnerung versenden</strong> aus dem vorherigen Beispiel zu gestalten. Als Aktion wird dazu aber <strong>eBay: Disputprozess starten</strong> gewählt.</p>
</div>
<div class="paragraph">
<p>Der Disputprozess ist für Aufträge vorgesehen, bei denen du länger als mindestens 4 Tage auf die Zahlung wartest. Diese Aufträge werden in plentymarkets als <strong>ausstehende Aufträge</strong> bezeichnet und sind im Menü <strong><a href="/maerkte/ebay/ebay-einrichten#7300">Einrichtung » Märkte » eBay » Datenaustausch</a></strong> einsehbar und können hier importiert werden. Damit der Disputprozess per Aktionsmanager gestartet wird, musst du diese ausstehenden Aufträge zunächst importieren.</p>
</div>
<div class="paragraph">
<p>Nutze zum automatischen Starten des eBay-Disputprozesses die in <a href="#tabelle-aktionsmanager-ebay-disputprozess">Tabelle 10</a> beschriebene Aktion.</p>
</div>
<table id="tabelle-aktionsmanager-ebay-disputprozess" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 10. Aktion "eBay-Disputprozess starten" einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tab</th>
<th class="tableblock halign-left valign-top">Einstellung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einstellungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den <strong>Zeitpunkt</strong> der Aktion einstellen, zu dem die Aktion täglich ausgeführt werden soll. Einen <strong>Namen</strong> eintragen und die Option <strong>Aktiv</strong> aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unter <strong>Status</strong> die Option <strong>Unvollständige Daten</strong> wählen. Unter <strong>Letzter Statuswechsel</strong> die Option <strong>Tage eingeben</strong> wählen. <strong>10</strong> in das Feld <strong>Tage</strong> eintragen.<br>
Somit werden alle Aufträge gefunden, die sich seit genau 10 Tagen im Status <strong>[1] Unvollständige Daten</strong> befinden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unter <strong>eBay</strong> die Option <strong>Disputprozess starten</strong> wählen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_ebay_bewertungen_abgeben">2.3. eBay-Bewertungen abgeben</h3>
<div class="paragraph">
<p>Der Aktionsmanager bietet dir die Möglichkeit, Käufer bei Erhalt einer positiven Bewertung automatisch ebenfalls positiv zu bewerten. Für diesen Prozess muss eine entsprechende Aktion im <strong>Aktionsmanager</strong> eingerichtet sowie <strong>Bewertungstexte</strong> hinterlegt werden. Diese Aktion ist die einzige im Aktionsmanager, die von einem Ereignis und nicht von einem bestimmten Zeitpunkt ausgelöst wird. Beachte dazu weiteren Informationen auf der Handbuchseite <strong><a href="/maerkte/ebay/ebay-einrichten#1300">eBay</a></strong>.</p>
</div>
</div>
</div>
</div>
</main>