<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Neue Ereignisaktion anlegen</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>1.1.</span><span> Ereignis wählen</span></a></li>
<li><a href="#120"><span>1.2.</span><span> Filter hinzufügen</span></a></li>
<li><a href="#130"><span>1.3.</span><span> Aktion(en) hinzufügen</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Ereignisaktion aktivieren</span></a></li>
<li><a href="#300"><span>3.</span><span> Ereignisaktion bearbeiten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Ereignisaktionen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Ein großer Teil der Auftragsbearbeitung besteht aus Routineaufgaben, die du automatisiert durch dein plentymarkets System erledigen lassen kannst. Besonders der Versand von E-Mails an deine Kunden ist eine sehr aufwendige Aufgabe, für die Kunden- und Serviceorientierung deines Webshops aber unverzichtbar.
Mit den <strong>Ereignisaktionen</strong> stellt dir plentymarkets ein effektives Werkzeug zur Verfügung, mit dem du solche Automatismen einstellen und zuverlässig durch das System ausführen lassen kannst.
Das Grundprinzip von Ereignisaktionen ist leicht verständlich: Bestimmte <strong>Ereignisse</strong> im Webshop lösen bestimmte <strong>Aktionen</strong> aus.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel: Bestellbestätigung versenden</div>
<div class="paragraph">
<p>Um bei Auftragseingang automatisch eine Bestellbestätigung zu verschicken, erstelle eine Ereignisaktion, bei der auf das Ereignis <strong>Neuer Auftrag</strong> die Aktion <strong>E-Mail-Versand</strong> folgt. Mithilfe der <strong>Filter</strong> kannst du genau eingrenzen, für welche neuen Aufträge der E-Mail-Versand erfolgen soll.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Das Anlegen einer Ereignisaktion besteht immer aus folgenden Schritten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#100">Ereignisaktion anlegen</a></p>
</li>
<li>
<p><a href="#110">Ereignis wählen</a></p>
</li>
<li>
<p><a href="#120">Einen oder mehrere Filter hinzufügen</a></p>
</li>
<li>
<p>Festlegen, welche <a href="#130">Aktionen</a> vom System im Ereignisfall auszuführen sind</p>
</li>
<li>
<p>Ereignisaktion <a href="#200">aktivieren</a></p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Einige praktische Anwendungsbeispiele für die Verwendung von Ereignisaktionen findest du auf der Handbuchseite <a href="/automatisierung/best-practices-automatisierung">Best Practices: Ereignisaktionen und Aktionsmanager</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Neue Ereignisaktion anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Aufträge » Ereignisse</strong> legst du neue Ereignisaktionen an. Dort kannst du auch alle bereits von dir angelegten Ereignisaktionen einsehen und <a href="/automatisierung/ereignisaktionen#300">bearbeiten</a>.</p>
</div>
<div class="paragraph instruction">
<p>Neue Ereignisaktion erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke links unten auf das <strong>grüne Plus</strong>, um eine neue Ereignisaktion zu erstellen.</p>
</li>
<li>
<p>Trage im Bearbeitungsfenster einen eindeutigen <strong>Namen</strong> ein.</p>
</li>
<li>
<p>Wähle ein <strong>Ereignis</strong>. Nähere Erläuterungen zu Ereignissen findest du in <a href="#tabelle-ereignisaktionen-ereignisgruppen">Tabelle 1</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.<br>
→ Die Ereignisaktion wird angelegt.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="110">1.1. Ereignis wählen</h3>
<div class="paragraph">
<p>Im ersten Schritt wählst du für eine <strong>neue Ereignisaktion</strong> das auslösende <strong>Ereignis</strong>.<br>
<a href="#tabelle-ereignisaktionen-ereignisgruppen">Tabelle 1</a> beschreibt die verfügbaren Ereignisse nach ihren Ereignisgruppen sortiert.</p>
</div>
<table id="tabelle-ereignisaktionen-ereignisgruppen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verfügbare Ereignisse und Ereignisgruppen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ereignis</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Ereignisgruppe <strong>Auftragsanlage</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neuer Auftrag</strong>,<br>
<strong>Neuer unvollständiger Auftrag</strong>,<br>
<strong>Neuer Lieferauftrag</strong>,<br>
<strong>Neue Retoure</strong>,<br>
<strong>Neue Retoure (durch Kunde)</strong>,<br>
<strong>Neue Gutschrift</strong>,<br>
<strong>Neue Reparatur</strong>,<br>
<strong>Neuer Sammelauftrag</strong>,<br>
<strong>Neue Sammelgutschrift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Ereignisaktion wird ausgelöst, wenn einer der nebenstehenden Auftragstypen neu angelegt wird.<br>
Das Ereignis <strong>Neue Retoure (durch Kunde)</strong> bezieht sich auf Retouren, die durch Kunden im <strong>Mein Konto</strong>-Bereich des Webshops ausgelöst werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Ereignisgruppe <strong>Auftragsänderung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn ein Auftrag den Status wechselt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Paketnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn für einen Auftrag eine Paketnummer hinterlegt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenausgang gebucht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn der Warenausgang automatisch oder manuell gebucht wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsnotiz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn eine Information zu einem Auftrag hinterlegt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsnotiz vom Kunden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn der Kunde in der <strong>Auftragsabwicklung</strong> eine neue Information für dich hinterlässt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erweiterung der Bestellung durch Kunde</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn der Kunde die Bestellung im <strong>Bestellvorgang</strong> erweitert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manuelle Lageränderung an Artikelpositionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn bei einer Artikelposition in einem Auftrag manuell das Lager geändert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wechsel der Auftragsart</strong>,<br>
<strong>Wechsel des Reparaturstatus</strong>,<br>
<strong>Wechsel der Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn ein Wechsel der folgenden einstellbaren Parameter in einem Auftrag erfolgt, wird die Ereignisaktion ausgelöst. Folgende Ereignisse sind verfügbar: <strong>Wechsel des Auftragstyps</strong>, …​ des <strong>Reparaturstatus</strong>, …​ der <strong>Zahlungsart</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neue OpenTrans-Bestellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn eine neue OpenTrans-Bestellung durchgeführt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Ereignisgruppe <strong>Dokumente</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnung generiert</strong>,<br>
<strong>Kassenbeleg generiert</strong>,<br>
<strong>Lieferschein generiert</strong>,<br>
<strong>Lieferanschriftenliste generiert</strong>,<br>
<strong>Pickliste generiert</strong>,<br>
<strong>Packliste generiert</strong>,<br>
<strong>Angebot generiert</strong>,<br>
<strong>Mahnung generiert</strong>,<br>
<strong>Auftragsbestätigung generiert</strong>,<br>
<strong>Gutschrift generiert</strong>,<br>
<strong>Korrekturbeleg generiert</strong>,<br>
<strong>Rücksendeschein generiert</strong>,<br>
<strong>Stornobeleg Rechnung generiert</strong>,<br>
<strong>Stornobeleg Gutschrift generiert</strong>,<br>
<strong>Proformarechnung generiert</strong>,<br>
<strong>Retourenlabel generiert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Ereignisaktion wird ausgelöst, wenn eines der nebenstehenden Dokumente generiert wird.<br>
<strong><em>Wichtig</em></strong>: Dieses Ereignis kann auch durch eine andere Ereignisaktion ausgelöst werden, wenn du die Aktion <strong>Rechnung erzeugen</strong> parallel in einer weiteren Ereignisaktion verwendest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Ereignisgruppe <strong>Zahlung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vollständig</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn eine vollständige Zahlung eingebucht und einem Auftrag zugewiesen wird, also der Auftrag vollständig bezahlt ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Teilzahlung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn vom Kunden eine Teilzahlung eingebucht wird.<br>
Dieses Ereignis kann mehrfach ausgelöst werden, beispielsweise wenn ein Kunde mehrere Teilzahlungen leistet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Überzahlung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn ein Kunde zu viel für einen Auftrag gezahlt hat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ablehnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn eine Zahlung durch einen Zahlungsanbieter abgelehnt wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahlung vollständig</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn eine Anzahlung auf Produktionsware vollständig geleistet wurde.<br>
Den Prozentwert für Anzahlungen auf Produktionsware hinterlegst du im Menü <strong><a href="/auftraege/grundeinstellungen">Einrichtung » Aufträge » Einstellungen</a></strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlung vom Kunden storniert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn eine geleistete Zahlung von einem Kunden storniert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Ereignisgruppe <strong>Bestellwesen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Waren geliefert</strong>,<br>
<strong>Teilweise geliefert</strong>,<br>
<strong>Ausgebucht</strong>,<br>
<strong>Teilweise ausgebucht</strong>,<br>
<strong>Eingebucht</strong>,<br>
<strong>Teilweise eingebucht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Ereignisse beziehen sich ausschließlich auf den Auftragstyp Nachbestellung. Je nach der Auswahl, die du hier triffst, ist das auslösende Ereignis eine vollständige oder teilweise Ein- oder Ausbuchung beim Wareneingang oder -ausgang der nachbestellten Waren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellung ausgelöst</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn eine Nachbestellung oder Umbuchung ausgelöst wurde. Bei Nachbestellungen bedeutet deis, dass die Bestellung an den Lieferanten übermittelt wurde. Bei Umbuchungen bezeichnet das Auslösen den Beginn der Umbuchung von Waren von einem Senderlager in ein Empfängerlager.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellung abgeschlossen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn eine Nachbestellung oder Umbuchung abgeschlossen wurde. Dies ist beispielsweise der Fall, wenn alle in der Nachbestellung oder Umbuchung enthaltenen Waren vollständig ein- bzw. umgebucht wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PO Lieferschein generiert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn in einem Auftrag vom Typ Umbuchung das entsprechende Dokument <strong>PO Lieferschein</strong> generiert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachbestellungsdokument generiert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn in einem Auftrag vom Typ Nachbestellung das entsprechende Nachbestellungsdokument generiert wurde.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="120">1.2. Filter hinzufügen</h3>
<div class="paragraph">
<p>Nachdem du ein Ereignis gewählt hast, das die Ereignisaktion auslöst, wählst du einen oder mehrere <strong>Filter</strong>. Durch Filter bestimmst du, welche Aufträge von der Ereignisaktion erfasst werden sollen.</p>
</div>
<div class="paragraph">
<p>Die verfügbaren Filter sind genau wie die Ereignisse in Gruppen unterteilt. <a href="#tabelle-ereignisaktionen-filtergruppen">Tabelle 2</a> beschreibt die verfügbaren Filter nach ihren Filtergruppen sortiert.</p>
</div>
<div class="paragraph instruction">
<p>Einen Filter hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf die Ereignisaktion, der du einen Filter hinzufügen möchtest.</p>
</li>
<li>
<p>Klicke im Bereich Filter auf das <strong>grüne Plus</strong>.</p>
</li>
<li>
<p>Wähle den gewünschten <strong>Filtertyp</strong> aus der passenden Filtergruppe.<br></p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong>.</p>
</li>
<li>
<p>Nimm im Filter die gewünschten Einstellungen vor.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Mehrere Filter für eine Ereignisaktion</div>
<div class="paragraph">
<p>Es ist möglich, mehrere Filter für eine Ereignisaktion zu wählen. Diese Filter werden dann der Reihe nach berücksichtigt. Nur Aufträge, die allen gewählten Filtern entsprechen, werden letztendlich in der Ereignisaktion berücksichtigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-ereignisaktionen-filtergruppen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Verfügbare Filter und Filtergruppen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Filtergruppe <strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragstyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen, mehrere oder alle Auftragstypen wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragslager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge anhand des Lagers bzw. mehrerer Lager wählen.<br>
<strong>Ein Lager in allen Positionen</strong> = Nur Aufträge werden gefiltert, deren Artikelpositionen dem gleichen Lager zugeordnet sind.<br>
<strong>Mehrere Lager pro Auftrag</strong> = Nur Aufträge werden gefiltert, deren Artikelpositionen verschiedenen Lagern zugeordnet sind.<br>
<span class="icon"><i class="fa fa-map-signs"></i></span> <strong><em>Oder:</em></strong> Ein oder mehrere Lager wählen, um nur Aufträge des einen und/oder des anderen gewählten Lagers zu berücksichtigen.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl Positionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand der Anzahl der Auftragspositionen gefiltert, die pro Auftrag enthalten sind. Wählen, ob das System nach Aufträgen mit der exakt angegebenen Anzahl (==) der Positionen oder nach Werten größer (&gt;), größer gleich (&gt;=), kleiner (&lt;), kleiner gleich (⇐) der gewählten Anzahl filtert. Optional die Filterergebnisse über einen zweiten optionalen Operator eingrenzen.<br>
<strong><em>Beispiel</em></strong>: Filterung nach allen Aufträgen mit mehr als 5 aber weniger oder gleich 10 Positionen:  &gt; 5 ⇐ 10.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiver Benutzer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand des aktiven Benutzers gefiltert, d.h. des Benutzers, der den durch die Ereignisaktion aktivierten Vorgang auslöst. Es sind auch <strong>alle</strong> Benutzer auf einmal wählbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Click &amp; Collect</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand der Versandart Click &amp; Collect gefiltert. Click &amp; Collect ist nur für Aufträge mit der Herkunft eBay UK und dem Lieferland UK nutzbar. Weitere Informationen findest du im Kapitel zum Thema <a href="/maerkte/ebay/ebay-einrichten#7010">Click &amp; Collect</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand einer oder mehrerer Herkünfte gefiltert. Es sind auch <strong>alle</strong> Herkünfte zugleich wählbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mahnstufe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand einer oder mehrerer Mahnstufen gefiltert. Es sind <strong>alle</strong> Mahnstufen zugleich wählbar sowie die Eigenschaft <strong>Keine</strong>, wenn nur Aufträge ohne Mahnstufe gefiltert werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand eines oder mehrerer Webshops bzw. Mandanten (Shop) gefiltert. Es sind <strong>alle</strong> Webshops zugleich wählbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand einer oder mehrerer Markierungen gefiltert. Es sind <strong>alle</strong> Markierungen zugleich wählbar sowie die Eigenschaft <strong>Keine</strong>, wenn nur Aufträge ohne Markierung gefiltert werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenwert (brutto)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand des Brutto-Warenwertes gefiltert. Es können zwei Beträge eingetragen werden, denen jeweils mehrere Operatoren vorangestellt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand einer oder mehrerer Zahlungsarten gefiltert. Es sind <strong>alle</strong> Zahlungsarten zugleich wählbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand des Zahlungsstatus gefiltert. Dieser Status kann z.B. die Ablehnung einer Zahlung sein oder ein Wartestatus.<br>
<strong><em>Beispiel</em></strong>: Wenn ein Zahlungsanbieter bei der Bestellung des Kunden im Webshop die Zahlung ablehnt, kann anhand dieses Ereignisses hier eine Aktion eingestellt werden, beispielsweise der Versand einer automatischen E-Mail.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Treueprogramm</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand des Treueprogramms gefiltert.<br>
<strong>ALLE</strong> = Alle Aufträge werden gefiltert.<br>
<strong>Ohne</strong> = Es werden nur Aufträge gefiltert, die zu keinem Treueprogramm gehören.<br>
<strong>Amazon SameDay</strong> = Es werden nur Amazon-Aufträge gefiltert, deren Versand am selben Tag erfolgen muss.<br>
<strong>Amazon NextDay</strong> = Es werden nur Amazon-Aufträge gefiltert, deren Versand am nächsten Tag erfolgen muss.<br>
<strong>Amazon SecondDay</strong> = Es werden nur Amazon-Aufträge gefiltert, deren Versand am übernächsten Tag erfolgen muss.<br>
<strong>Amazon Prime</strong> = Es werden nur Amazon Prime-Aufträge gefiltert.<br>
<strong>Amazon Prime SameDay</strong> = Es werden nur Amazon Prime-Aufträge gefiltert, deren Versand am selben Tag erfolgen muss.<br>
<strong>Amazon Prime NextDay</strong> = Es werden nur Amazon Prime-Aufträge gefiltert, deren Versand am nächsten Tag erfolgen muss.<br>
<strong>Amazon Prime SecondDay</strong> = Es werden nur Amazon Prime-Aufträge gefilterter, deren Versand am übernächsten Tag erfolgen muss.<br>
<strong>eBay Plus</strong> = Es werden nur eBay Plus-Aufträge gefiltert.<br>
Weitere Informationen zu Amazon- und Amazon Prime-Aufträgen findest du auf den Handbuchseite zu <a href="/maerkte/amazon/amazon-einrichten#4200">Amazon</a> und <a href="/maerkte/ebay/ebay-einrichten#100">eBay</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsgewicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand des gesamten Gewichts aller im Auftrag enthaltenen Artikel gefiltert. Mit Operatoren wie größer als, kleiner als und gleich sowie den Einheiten g und kg filterst du nach Aufträgen, die ein bestimmtes Gewicht haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dokument</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand des am Auftrag vorhandenen Dokuments gefiltert. Die Operatoren <strong>Aktuelle Rechnung</strong> und <strong>Stornobeleg Rechnung</strong> sowie <strong>Nicht verfügbar</strong> und <strong>Verfügbar</strong> können eingestellt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragseingang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand des Zeitpunkts des Auftragseingangs gefiltert. Hier ist der Zeitraum zwischen <strong>bis vor 1 Tag</strong> und <strong>bis vor 31 Tagen</strong> im Bezug auf das aktuelle Datum wählbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungseingang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand des Zeitpunkts des Zahlungseingangs gefiltert. Hier ist der Zeitraum zwischen <strong>bis vor 1 Tag</strong> und <strong>bis vor 31 Tagen</strong> im Bezug auf das aktuelle Datum wählbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand des Auftragsstatus gefiltert. Hier ist ein bestimmter Status wählbar. Mit Operatoren wie größer als, kleiner als und gleich filterst du nach Aufträgen, die dem gewählten Status beispielsweise entsprechen, über- oder unterschreiten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Postleitzahlen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand einer Postleitzahl bzw. mehrerer Postleitzahlen gefiltert. Hier kann ein Wert eingegeben werden. Dieser Wert wird als Startwert betrachtet. Mehrere Werte kommagetrennt eingeben.<br>
<strong><em>Beispiel:</em></strong> Wenn man den Wert "34" eingibt, werden alle Postleitzahlen, die mit "34" beginnen, berücksichtigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Filtergruppe <strong>Artikel</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerware enthalten</strong>,<br>
<strong>Produktionsware enthalten</strong>,<br>
<strong>Bestellware enthalten</strong><br>
<strong>Colli enthalten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand der nebenstehenden Warenart, die im Auftrag enthalten ist, gefiltert. Pro Auftrag können Artikel mit verschiedenen Warenarten enthalten sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerware ausschließlich enthalten</strong>,<br>
<strong>Produktionsware ausschließlich enthalten</strong>,<br>
<strong>Bestellware ausschließlich enthalten</strong>,<br>
<strong>Colli ausschließlich enthalten</strong><br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Siehe oben. Es werden Aufträge gefiltert, die ausschließlich die nebenstehende Warenart enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel enthalten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Artikel-IDs der Artikel eintragen, nach denen gefiltert werden soll. Somit werden alle Aufträge gefiltert, die den oder diese Artikel enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante(n) enthalten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Varianten-IDs der Varianten eintragen, nach denen gefiltert werden soll. Somit werden alle Aufträge gefiltert, die den oder diese Variante(n) enthalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikeleigenschaft vorhanden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Filter prüft auf im Auftrag enthaltene Artikel, an denen du im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong> eine bestimmte <a href="/artikel/artikel-verwalten#3000">Eigenschaft</a> hinterlegt hast. Innerhalb des Filters wählst du eine Eigenschaft, nach der Artikel gefiltert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Filtergruppe <strong>Kunde</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenbewertung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand der Kundenbewertung gefiltert, denen jeweils ein Operator vorangestellt wird.<br>
Wenn nur Aufträge ohne Kundenbewertung gefiltert werden sollen, den Operator <strong>==</strong> und die <strong>grauen Sterne</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand der Kundenklasse oder mehrerer Kundenklassen gefiltert. Es sind <strong>alle</strong> Kundenklassen zugleich wählbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundentyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand des Kundentyps gefiltert. Die Kundentypen <strong>Kunde</strong>, <strong>Interessent</strong>, <strong>Handelsvertreter</strong>, <strong>Lieferant</strong>, <strong>Hersteller</strong> oder <strong>Partner</strong> sind wählbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Altersfreigabe Rechnungsadresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand einer oder mehrerer Altersfreigaben gefiltert, die an der Rechnungsadresse hinterlegt sind. Es sind <strong>alle</strong> Altersfreigaben zugleich wählbar sowie die Eigenschaft <strong>Keine</strong>, wenn nur Aufträge ohne Altersfreigabe gefiltert werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatzsteuer-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand des Vorhandenseins einer Umsatzsteuer-ID gefiltert. Die Optionen <strong>vorhanden</strong> oder <strong>nicht vorhanden</strong> sind wählbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl der Aufträge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand der Anzahl der Aufträge eines Kunden gefiltert. Die Anzahl lässt sich durch Operatoren wie <strong>größer als</strong>, <strong>kleiner als</strong> oder <strong>gleich</strong> eingrenzen.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand der dazugehörigen Umsätze gefiltert. Die Umsätze lassen sich durch Operatoren wie <strong>größer als</strong>, <strong>kleiner als</strong> oder <strong>gleich</strong> eingrenzen. Zusätzlich kannst du Umsätze nach Betrag, <strong>Zeitraum</strong> und optional nach Retouren filtern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gastbestellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand ihres Status als Gastbestellung gefiltert. Die Optionen <strong>Ja</strong> und <strong>Nein</strong> sind wählbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Filtergruppe <strong>Versand</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gültige DHL-Packstation/Postfiliale</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand einer gültigen DHL-Packstation oder Postfiliale in der Lieferanschrift gefiltert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fehlerhafte DHL-Packstation/Postfiliale</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden ahnand einer fehlerhaften DHL-Packstation oder Postfiliale in der Lieferanschrift gefiltert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferland</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand des Lieferlandes oder mehrerer Lieferländer gefiltert. Es sind auch <strong>alle</strong> Lieferländer zugleich wählbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand anhand der Versandart oder mehrerer Versandarten gefiltert. Es sind auch <strong>alle</strong> Versandarten zugleich wählbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versanddatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand des Versanddatums gefiltert. Optionen: <strong>Vorhanden</strong>, <strong>Nicht vorhanden</strong> oder <strong>In der Zukunft</strong> sind wählbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten (brutto)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand der Brutto-Versandkosten gefiltert. Du kannst einen Betrag eintragen und diesem einen der Operatoren wie <strong>größer als</strong>, <strong>kleiner als</strong> oder <strong>gleich</strong> voranstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand ausschließlich durch FBA</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Filter sucht Aufträge, die komplett über Amazon Multi-Channel durch Amazon verschickt werden.<br>
Diesen Filter verwenden, um Aufträge zu suchen, die aus mehreren Sendungen bestehen, um dann beispielsweise den Empfänger zu informieren, dass er mehrere Sendungen erhält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versand teilweise durch FBA</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Filter sucht Aufträge, die Artikel enthalten, die teilweise über Amazon Multi-Channel durch Amazon verschickt werden.<br>
Diesen Filter verwenden, wenn solche Aufträge markiert werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenausgang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand des Datums des Warenausgangs gebucht. Wählbar ist ein Zeitraum zwischen <strong>bis vor 1 Tag</strong> und <strong>bis vor 31 Tagen</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Telefonnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand des Kriterums durchsucht, ob eine Telefonnummer <strong>Vorhanden</strong> oder <strong>Nicht vorhanden</strong> ist. Die <strong>Lieferadresse</strong>, die <strong>Rechnungsadresse</strong> sowie <strong>Beide</strong> zugleich sind durchsuchbar. Suchst du nach Aufträgen, in denen Telefonnummern <strong>Vorhanden</strong> sind, kannst du zusätzlich die <strong>Minimale Länge der Nummer</strong> eingeben.<br>
<strong><em>Beispiel</em></strong>: Gibst du als minimale Länge die 4 ein, sucht das System nach Aufträgen mit Telefonnummern, die aus 4 oder mehr Stellen besteht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Filtergruppe <strong>Marktplatz</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden gefiltert, die über den Marktplatz eBay generiert wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Filtergruppe <strong>Bestellwesen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Filter durchsucht Aufträge des Typs Nachbestellung anhand des Lieferanten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Senderlager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei Umbuchungen durchsucht dieser Filter Aufträge anhand des Lagers, aus dem Waren abgebucht werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Emfängerlager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Filter durchsucht Aufträge des Typs Nachbestellung anhand des Empfängerlagers, an das die nachbestellten Waren gesendet werden. Bei Umbuchungen durchsucht dieser Filter Aufträge anhand des Lagers, in das Waren umgebucht werden.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="130">1.3. Aktion(en) hinzufügen</h3>
<div class="paragraph">
<p>Nachdem du die gewünschte Ereignisgruppe sowie einen oder mehrere Filter ausgewählt hast, lege im letzten Schritt eine oder mehrere Aktionen fest. Diese Aktion(en) werden dann im Ereignisfall für die mithilfe der Filter ausgewählten Aufträge ausgeführt. <a href="#tabelle-ereignisaktionen-aktionsgruppen">Tabelle 3</a> beschreibt die verfügbaren Aktionen nach ihren Aktionsgruppen sortiert.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Mehrere Aktionen auswählen</div>
<div class="paragraph">
<p>Wenn du mehrere Aktionen zugleich auswählst, werden diese nacheinander abgearbeitet. Klicke auf die grau hinterlegten <strong>Pfeile</strong> an den bereits hinzugefügten Aktionen, um die Reihenfolge zu ändern, in der die Aktionen ausgeführt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Aktion(en) hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf die Ereignisaktion, der du eine eine Aktion hinzufügen möchtest.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Aktionen</strong> auf das <strong>grüne Plus</strong>.</p>
</li>
<li>
<p>Wähle den gewünschten <strong>Aktionstyp</strong> aus der passenden Aktionsgruppe.<br></p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong>.</p>
</li>
<li>
<p>Nimm in der Aktion die gewünschten Einstellungen vor.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-ereignisaktionen-aktionsgruppen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Verfügbare Aktionen und Aktionsgruppen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Aktion</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Aktionsgruppe <strong>Artikel</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Varianten-ID eintragen. Die Aktion fügt einem Auftrag eine bestimmte Variante hinzu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutschein-Artikel an Hersteller senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Vorlage wählen. Die Aktion versendet einen Gutschein-Artikel in der gewählten Vorlage an den Hersteller.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Seriennummern zuordnen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Aktion ordnet dem Auftrag eine Seriennummer zu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Aktionsgruppe <strong>Auftrag</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutschrift (Auftrag) anlegen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatische Erzeugung eines Gutschriftauftrags bei Eintreten des eingestellten Ereignisses.<br>
Bei der Option <strong>Datum</strong> eine der folgenden Einstellungen wählen:<br>
<strong>Standard</strong> = Wird mit aktuellem Datum und Uhrzeit erzeugt.<br>
<strong>Retourendatum</strong> = Wird mit dem Erstellungsdatum der Retoure erzeugt.<br>
<strong>Auftragsdatum</strong> = Wird mit dem Erstellungsdatum des Auftrags erzeugt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-Vorlage verwenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatische Verwendung einer bestimmten Auftragsvorlage. Auftragsvorlagen werden im Menü <strong>Einrichtung » Aufträge » Auftragsvorlage</strong> erstellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferaufträge generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatische Erzeugung von Lieferaufträgen bei Eintreten des eingestellten Ereignisses.<br>
<strong>Wichtig</strong>: Diese Option wird nur angezeigt, wenn die für Lieferaufträge nötige <a href="/auftraege/auftraege-verwalten#320">Lagerzuordnung</a> korrekt vorgenommen wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nach Brutto-Warenwert in Lieferaufträge teilen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Teilt die Auftragspositionen eines Auftrages in verschiedene Lieferaufträge anhand eines Betrages, den die Auftragspositionen in einem Lieferauftrag nicht übersteigen sollen. Für den Fall, dass der gewählte Betrag von einer Auftragsposition überschritten wird, einen Fehlerstatus einstellen, in den solche Lieferaufträge versetzt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nach Artikelverfügbarkeit in Lieferaufträge teilen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden nach Artikelverfügbarkeit in Lieferaufträge gesplittet. Die Verfügbarkeiten anhand von <strong>Gruppen</strong> bestimmen, die du durch Verschieben der gewünschten Verfügbarkeit(en) nach rechts einstellen kannst. Pro Gruppe wird ein weiterer Auftrag angelegt, der die Artikel mit der hinterlegten Verfügbarkeit (oder mehrere) enthält.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nach Artikelverfügbarkeit in Aufträge teilen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Siehe Aktion <strong>Nach Artikelverfügbarkeit in Lieferaufträge teilen</strong>. Bei dieser Aktion werden Aufträge nach Artikelverfügbarkeit in einzelne Aufträge gesplittet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nach verfügbarem Sortiment teilen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden anhand eines wählbaren Attributs nach verfügbarem Bestand geteilt. Wenn verschiedene Varianten eines Artikels bestellt wurden und ein Teil der Varianten nicht verfügbar ist, wird der Auftrag geteilt. Artikel, die sofort verfügbar sind, verbleiben im ursprünglichen Auftrag. Für Artikel, bei denen beispielsweise Varianten fehlen, werden entsprechende Lieferaufträge angelegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nach Lieferdatum teilen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufträge werden automatisch anhand des hinterlegten Lieferdatums in Aufträge gesplittet. Das Lieferdatum kann in der Kaufabwicklung durch den Kunden hinterlegt werden. Im Auftrag besteht ebenfalls die Möglichkeit, das Lieferdatum der Artikelpositionen zu hinterlegen oder zu ändern. Ein Lieferdatum kann Aufträgen auch per <strong>Gruppenfunktion</strong> zugewiesen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragstyp ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Auftragstyp wählen, in den ein Auftrag geändert werden soll. Die Optionen <strong>Auftrag</strong>, <strong>Angebot</strong> und <strong>Vorbestellung</strong> sind wählbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Status wählen, der durch die Ereignisaktion eingestellt werden soll.<br>
<strong><a href="/auftraege/auftraege-verwalten#300">Lieferaufträge</a> ignorieren</strong>: Bei der Aktion <strong>Status ändern</strong> werden im Standard bei einem Auftrag mit Lieferaufträgen auch die Status der Lieferaufträge geändert. Sollen diese nicht geändert werden, sondern nur der Status des Hauptauftrags, bei dieser Option ein Häkchen setzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Markierung wählen, die durch die Ereignisaktion eingestellt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mahnstufe ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Mahnstufe wählen, die durch die Ereignisaktion eingestellt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status des Hauptauftrags ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Status des Hauptauftrages wählen, der bei Teilung eines Auftrags (Funktion: <strong>Auftrag teilen</strong> in der Auftragsbearbeitung) oder bei der Funktion <strong>Lieferaufträge generieren</strong> eingestellt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatzdaten für Umsatzexport berechnen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Generell werden Umsatzdaten aus Performance-Gründen bei der Rechnungs- bzw. Gutschrifterzeugung in einer eigenen Datenbank abgelegt. Da für manche Zahlungsarten wie <strong>Klarna</strong>, <strong>Neckermann</strong> oder <strong>Quelle</strong> keine internen Rechnungen generiert werden dürfen, enthält diese Datenbank jedoch keine Daten für Aufträge dieser Zahlungsarten. Es besteht aber die Möglichkeit, die Exportdaten für solche Aufträge (COLLMEX, DATEV etc.) über eine Ereignisaktion anhand dieser Aktion zu erzeugen.<br>
<strong><em>Wichtig</em></strong>: Diese Aktion greift nur, wenn die Zahlungsart <strong>Quelle</strong>, <strong>Klarna</strong> oder <strong>Neckermann</strong> ist. Deshalb sollten auch diese im Filter gewählt sein. Als <strong>Auftragstyp</strong> sollten die Filter <strong>Auftrag</strong>, <strong>Gewährleistung</strong> und/oder <strong>Reparatur</strong> gewählt sein, weil für andere Auftragstypen keine Rechnungen generiert werden können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenausgang buchen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Häkchen setzen, wenn bei Eintritt des Ereignisses der Warenausgang gebucht werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung an Otto melden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit dieser Aktion werden Statusänderungen von Aufträgen, die vom Marktplatz <strong>Otto</strong> stammen, an Otto gemeldet. Die Meldung erfolgt beim Wechsel in die Auftragsstatus <strong>Auftragseingang</strong>, <strong>Warenausgang gebucht</strong>, <strong>Retoure</strong> und <strong>Stornierung</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stornierung an Otto Direktversand melden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit dieser Aktion wird die Stornierung eines Auftrags an Otto Direktversand gemeldet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandbestätigung an Otto Direktversand senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit dieser Aktion wird eine Versandbestätigung an Otto Direktversand gesendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL aufrufen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit dieser Aktion wird eine hier hinterlegte URL aufgerufen. Es können damit Informationen zu Aufträgen übermittelt werden, z.B. die Auftrags-ID durch Anhängen der Template-Variablen <strong>OrderID</strong> an die URL. Die URL muss vollständig, nach dem dort gegebenen Muster <strong><a href="http://www.beispiel.de" class="bare">http://www.beispiel.de</a></strong>, eingetragen werden.<br>
Beispiel mit der angehängten OrderID: <strong><a href="http://www.beispiel.de/">OrderID</a>/</strong>.<br>
In der Aktion werden die verwendbaren Template-Variablen angezeigt.<br>
<strong>HTTP-Methode</strong> = Zur Auswahl stehen <strong>GET</strong>, <strong>PUT</strong> und <strong>POST</strong>.<br>
<strong>Content-Typ</strong> = Hier wird der Inhaltstyp für den URL-Aufruf hinterlegt.<br>
<strong>Beispiel</strong>: Wenn ein XML-Inhalt übertragen werden soll, trage <strong>text/xml</strong> ein.<br>
<strong>Request Content</strong> = Hier kannst du Texte übertragen, z.B. XML- oder JSON-Inhalte.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Handelsvertreter dem Auftrag zuordnen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Aktion hinterlegt einen Handelsvertreter in einem Auftrag. Die Zuordnung des Handelsvertreters erfolgt anhand der PLZ des Empfängers des Auftrags. Voraussetzung für die Zuordnung des Handelsvertreters ist, dass in den Kontaktdaten des Handelsvertreters der Postleitzahlbereich hinterlegt ist. Es wird die Kontakt-ID des Handelsvertreters hinterlegt, nicht der Name.<br>
Details siehe Handbuchseite <a href="/crm/kontakte-verwalten">Kontakte verwalten</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnung von Klarna löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löscht eine Rechnung der Zahlungsart <strong>Klarna</strong> bei einer Stornierung. Erläuterungen dazu sowie zu weiteren Ereignisaktionen auf der Handbuchseite zum Thema <a href="/payment/zahlungsanbieter/klarna">Klarna</a> beachten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsbestätigung an Fruugo senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Aktion sendet eine Auftragsbestätigung an den Marktplatz <a href="/maerkte/fruugo">Fruugo</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stornierung an Fruugo senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit dieser Aktion wird die Stornierung eines Auftrags an den Marktplatz <a href="/maerkte/fruugo">Fruugo</a> gemeldet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung an Cdiscount melden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit dieser Aktion werden Statusänderungen von Aufträgen, die vom Marktplatz Cdiscount stammen, an <a href="/maerkte/cdiscount">Cdiscount</a> gemeldet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stornierung an Flubit senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit dieser Aktion wird die Stornierung eines Auftrags an den Marktplatz <a href="/maerkte/flubit">Flubit</a> gemeldet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsbestätigung an idealo senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Aktion sendet eine Auftragsbestätigung an den Marktplatz <a href="/maerkte/idealo/idealo-einrichten">idealo</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stornierung an idealo senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit dieser Aktion wird die Stornierung eines Auftrags an den Marktplatz <a href="/maerkte/idealo/idealo-einrichten">idealo</a> gemeldet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stornierung an bol.com senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit dieser Aktion wird die Stornierung eines Auftrags an den Marktplatz <a href="/maerkte/bol-com">bol.com</a> gemeldet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stornierung an real.de senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit dieser Aktion wird die Stornierung eines Auftrags an den Marktplatz <a href="/maerkte/real-de/real-de-einrichten">real.de</a> gemeldet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandprofil ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ändert das am Auftrag hinterlegte Versandprofil je nach der Option, die du in der Aktion auswählst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandprofil der Auftragspositionen neu ermitteln</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit dieser Aktion wird das an den einzelnen Auftragspositionen hinterlegte Versandprofil neu ermittelt und ggf. neu gesetzt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Aktionsgruppe <strong>Dokumente</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnung erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatische Erzeugung der Rechnung bei Eintreten des eingestellten Ereignisses. <br>
Bei Wahl dieser Aktion erscheinen weitere Optionen: Ein <strong>Zahlungsziel</strong> einstellen, <strong>Skonto</strong> hinterlegen sowie einen <strong>Kommentar</strong> einfügen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sammelrechnung erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatische Erzeugung einer Sammelrechnung bei Eintreten des eingestellten Ereignisses.<br>
Ein <strong>Kommentar</strong> kann optional eingegeben und erscheint dann unterhalb der Artikelpositionen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsbestätigung erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatische Erzeugung einer Auftragsbestätigung bei Eintreten des eingestellten Ereignisses.<br>
Ein <strong>Kommentar</strong> kann optional eingegeben und erscheint dann unterhalb der Artikelpositionen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutschrift (Dokument) erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatische Erzeugung einer Gutschriftbelegs bei Eintreten des eingestellten Ereignisses.<br>
Bei der Option <strong>Datum</strong> eine der folgenden Einstellungen wählen:<br>
<strong>Standard</strong> = Wird mit aktuellem Datum und Uhrzeit erzeugt.<br>
<strong>Gutschriftsdatum</strong> = Wird mit dem Eingangsdatum der zugehörigen Gutschrift erzeugt.<br>
Ein <strong>Kommentar</strong> kann optional eingegeben und erscheint dann unterhalb der Artikelpositionen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Korrekturbeleg erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatische Erzeugung eines Korrekturbelegs bei Eintreten des eingestellten Ereignisses.<br>
Ein Korrekturbeleg wird z.B. für Gutschriften, die nicht ausbezahlt werden, als Beleg für die Buchhaltung verwendet, oder um eine Erstattung z.B. von einer Storno-Rechnung zu belegen.<br>
Ein <strong>Kommentar</strong> kann optional eingegeben und erscheint dann unterhalb der Artikelpositionen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sammelgutschrift erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatische Erzeugung einer Sammelgutschrift bei Eintreten des eingestellten Ereignisses.<br>
Ein <strong>Kommentar</strong> kann optional eingegeben und erscheint dann unterhalb der Artikelpositionen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferschein erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatische Erzeugung des Lieferscheins bei Eintreten des eingestellten Ereignisses.<br>
Ein <strong>Kommentar</strong> kann optional eingegeben und erscheint dann unterhalb der Artikelpositionen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mahnung erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatische Erzeugung einer Mahnung bei Eintreten des eingestellten Ereignisses.<br>
Füge zur Darstellung der Mahngebühr die <strong>Varianten-ID</strong> des <a href="/auftraege/auftragsdokumente/mahnungen-erzeugen#200">Artikels für die Mahngebühr</a> ein, den du in deinem plentymarkets System angelegt hast.<br>
Ein <strong>Kommentar</strong> kann optional eingegeben und erscheint dann unterhalb der Artikelpositionen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rücksendeschein erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatische Erzeugung eines Rücksendescheins bei Eintreten des eingestellten Ereignisses.<br>
Ein <strong>Kommentar</strong> kann optional eingegeben und erscheint dann unterhalb der Artikelpositionen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufsgutschein erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatische Erzeugung eines Verkaufsgutscheins bei Eintreten des eingestellten Ereignisses.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stornobeleg Rechnung erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatische Erzeugung eines Stornobelegs (Rechnung) bei Eintreten des eingestellten Ereignisses. Ein Stornobeleg storniert eine Rechnung und nicht einen Auftrag. Deshalb wird der Stornobeleg nur erzeugt, wenn der Auftrag eine Rechnung hat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stornobeleg Gutschrift erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatische Erzeugung eines Stornobelegs (Gutschrift) bei Eintreten des eingestellten Ereignisses.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Proformarechnung erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatische Erzeugung einer Proformarechnung bei Eintreten des eingestellten Ereignisses.<br>
Bei Wahl dieser Aktion erscheinen weitere Optionen: Ein <strong>Zahlungsziel</strong> einstellen, <strong>Skonto</strong> hinterlegen sowie einen <strong>Kommentar</strong> einfügen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Aktionsgruppe <strong>Kunde</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenbewertung ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Kundenbewertung wählen, zu der die Kundenbewertung geändert werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundentyp ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Kundentyp wählen, zu dem der Kundentyp geändert werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail versenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellen, welche Art von E-Mails an welche Empfänger bzw. Kunden geschickt werden sollen. Die gewünschte Kombination aus <strong>Vorlage</strong> und <strong>Empfänger</strong> wählen und auf <strong>Hinzufügen</strong> klicken, um die Aktion hinzuzufügen. Innerhalb dieser Aktion sind verschiedene Kombinationen möglich. Durch Klick auf <strong>Löschen</strong> werden die angelegten Empfänger gelöscht. Wenn zu einer Ereignisaktion (noch) keine E-Mail-Empfänger definiert wurden, wird der Hinweis <strong>Keine Empfänger</strong> angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay-Nachricht versenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Für die Nachricht die gewünschte E-Mail-Vorlage wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Handelsvertreter dem Kunden zuordnen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit dieser Aktion werden automatisch Handelsvertreter in Kundendaten hinterlegt. Die Voraussetzung ist, dass jeweils Postleitzahlangaben in den Kundendaten der Handelsvertreter hinterlegt sind. Es wird die <strong>Kunden-ID</strong> des Handelsvertreters hinterlegt, nicht der Name. Weitere Details dazu findest du auf der Handbuchseite <a href="/crm/kontakte-verwalten">Kontakte verwalten</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenklasse ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Kundenklasse wählen, zu der die Kundenklasse geändert werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Aktionsgruppe <strong>Versand</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort zuweisen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Option <strong>Alten Lagerort lösen</strong> aktivieren, wenn bei Eintritt des Ereignisses ein neuer Lagerort zugewiesen werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort lösen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Aktion löst beim Eintritt des Ereignisses die Lagerorte, die an den Auftragspositionen hinterlegt sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandpakete anlegen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legt Versandpakete für einen Auftrag an, bevor der Auftrag im Versand-Center geöffnet wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FBA-Versandfreigabe erteilen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sendet eine Freigabe an <a href="/maerkte/amazon/amazon-einrichten#3300">FBA</a>, damit der Versand durch FBA vorgenommen wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandbestätigung senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sendet eine Versandbestätigung an einen Marktplatz oder Zahlungsanbieter, wenn die Ware, die über diesen Marktplatz oder Zahlungsanbieter erworben wurde, versendet wurde.<br>
Jeweils eigene Aktionen sind verfügbar für: <a href="/payment/zahlungsanbieter/amazon-pay">Amazon Pay</a>, <a href="/payment/zahlungsanbieter/crefopay">CrefoPay</a>, <a href="/payment/zahlungsanbieter/klarna">Klarna</a>, <a href="/payment/zahlungsanbieter/klarna-checkout-uk">Klarna UK</a>, <a href="/payment/zahlungsanbieter/masterpayment">Masterpayment</a>, <a href="/payment/zahlungsanbieter/payolution">Payolution</a>, <a href="/payment/zahlungsanbieter/payone">PAYONE</a>, <a href="/maerkte/plus-gartenxxl">Netto eStores</a>, <a href="/payment/zahlungsanbieter/postpay">POSTPAY</a>, <strong>Zentralverkauf</strong>, <a href="/maerkte/hood">Hood</a>, <a href="/maerkte/ebay/ebay-einrichten">eBay</a>, <a href="/maerkte/rakuten/rakuten-einrichten">Rakuten.de</a>, <a href="/maerkte/fruugo">Fruugo</a>, <a href="/maerkte/flubit">Flubit</a>, <a href="/maerkte/idealo/idealo-einrichten">idealo</a> und <a href="/maerkte/bol-com">bol.com</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sendungsverfolgung an Rakuten senden</strong>,<br>
<strong>Versandvorbereitung an Rakuten melden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Aktionen senden die Sendungsverfolgungsnummer oder eine Bestätigung darüber, dass sich der Auftrag in der Versandvorbereitung findet, an den Marktplatz <a href="/maerkte/rakuten/rakuten-einrichten">Rakuten.de</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Aktionsgruppe <strong>Zahlungsarten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gutschrift senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird eine Gutschrift an einen Zahlungsanbieter gesendet.<br>
Jeweils eigene Aktionen sind verfügbar für: <strong>ClickandBuy</strong>, <a href="/payment/zahlungsanbieter/payone">PAYONE</a>, <a href="/payment/zahlungsanbieter/postpay">POSTPAY</a>, <a href="/payment/zahlungsanbieter/worldpay">Worldpay</a> und <a href="/payment/zahlungsanbieter/klarna">Klarna</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag an Klarna senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird ein Auftrag an <a href="/payment/zahlungsanbieter/klarna">Klarna</a> gesendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung an Klarna melden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird eine Auftragsänderung an <a href="/payment/zahlungsanbieter/klarna">Klarna</a> gemeldet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rückbuchung an ClickandBuy senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird eine Rückbuchung an ClickandBuy gesendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rückerstattung senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird eine Rückerstattung an einen Zahlungsanbieter gesendet.<br>
Jeweils eigene Aktionen sind verfügbar für: <a href="/payment/zahlungsanbieter/amazon-pay">Amazon Pay</a>, <a href="/payment/zahlungsanbieter/crefopay">CrefoPay</a>, <a href="/payment/zahlungsanbieter/payolution">Payolution</a> und <a href="/payment/zahlungsanbieter/klarna-checkout-uk">Klarna UK</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rückzahlung senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird eine Rückzahlung an einen Zahlungsanbieter gesendet.<br>
Jeweils eigene Aktionen sind verfügbar für: <a href="/payment/zahlungsanbieter/masterpayment">Masterpayment</a>, <a href="/payment/zahlungsanbieter/paypal-plus">PayPal PLUS</a> und <a href="/payment/zahlungsanbieter/paypal">PayPal</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stornierung senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Es wird eine Stornierung an einen Zahlungsanbieter gesendet.<br>
Jeweils eigene Aktionen sind verfügbar für: <a href="/payment/zahlungsanbieter/crefopay">CrefoPay</a>, <a href="/payment/zahlungsanbieter/amazon-pay">Amazon Pay</a>, <strong>ClickandBuy</strong>, <a href="/payment/zahlungsanbieter/paymorrow">paymorrow</a>, <a href="/maerkte/plus-gartenxxl">Netto eStores</a>, <a href="/payment/zahlungsanbieter/postpay">POSTPAY</a>, <a href="/maerkte/rakuten/rakuten-einrichten">Rakuten</a>, <a href="/payment/zahlungsanbieter/worldpay">Worldpay</a>, <a href="/payment/zahlungsanbieter/sage-pay">SagePay</a>, <a href="/payment/zahlungsanbieter/klarna-checkout-uk">Klarna UK</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlung per Lastschrift erlauben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart <strong>Lastschrift</strong> per Ereignisaktion aktivieren oder deaktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlung per Rechnung erlauben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart <strong>Rechnung</strong> per Ereignisaktion aktivieren oder deaktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Aktionsgruppe <strong>Retoure</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DHL-Retourenlabel generieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erzeugt ein DHL-Retourenlabel über <a href="/fulfillment/versand-vorbereiten#3200">DHL Online Retoure</a> oder <a href="/fulfillment/versand-vorbereiten#3100">DHL Retoure Beilegeretikett</a>, das im <strong>Versand-Center</strong> bzw. im Webshop im Bereich <strong>Mein Konto</strong> verfügbar ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Retoure an einen Marktplatz oder Zahlungsanbieter senden.<br>
Jeweils eigene Aktionen sind verfügbar für: <a href="/payment/zahlungsanbieter/klarna">Klarna</a>, <a href="/maerkte/amazon/amazon-einrichten">Amazon</a>, <a href="/maerkte/plus-gartenxxl">Netto eStores</a>, <a href="/payment/zahlungsanbieter/postpay">POSTPAY</a>, <a href="/maerkte/rakuten/rakuten-einrichten">Rakuten</a>, <a href="/maerkte/shopgate">Shopgate</a>, <a href="/maerkte/flubit">Flubit</a>, <a href="/maerkte/idealo/idealo-einrichten">idealo</a>, <a href="/maerkte/fruugo">Fruugo</a> und <a href="/maerkte/cdiscount">Cdiscount</a>.<br>
Siehe dazu auch die Handbuchseite der <a href="/payment/zahlungsanbieter">Zahlungsart</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retourenstatus an bol.com senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sendet den Status der Retoure an den Marktplatz <a href="#maerkte/bol-com">bol.com</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Aktionsgruppe <strong>Market-Listings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bewertung abgeben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erzeugt automatisch eine Bewertung für ein Listing.<br>
Jeweils eigene Aktionen sind verfügbar für: <a href="/maerkte/hood#600">Hood</a>, <a href="/maerkte/ricardo-ch#700">ricardo</a> und <a href="/maerkte/ebay/ebay-einrichten#1300">eBay</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsbestätigung senden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sendet automatisch eine Zahlungsbestätigung.<br>
Jeweils eigene Aktionen sind verfügbar für: <a href="/maerkte/hood#600">Hood</a> und <a href="/maerkte/ebay/ebay-einrichten#1300">eBay</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay-Retouren-Autorisierung</strong>,<br>
<strong>eBay-Rückerstattung veranlassen (PayPal)</strong>,<br>
<strong>eBay-Retoure als erhalten markieren</strong>,<br>
<strong>eBay-Rückerstattung als gesendet markieren (ohne PayPal)</strong>,<br>
<strong>Eigenes Retouren-Etikett bei eBay hochladen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beim Eintreten des eingestellten Ereignisses werden die nebenstehenden Aktionen im Rahmen der Retouren- und Rückerstattungsabwicklung bei <a href="/maerkte/ebay/ebay-einrichten#1300">eBay</a> ausgelöst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay-Kaufabbruch ablehnen</strong>,<br>
<strong>eBay-Kaufabbruch akzeptieren</strong>,<br>
<strong>Kaufabbruch auf eBay starten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beim Eintreten des eingestellten Ereignisses werden die nebenstehenden Aktionen im Rahmen von Kaufabbrüchen bei <a href="/maerkte/ebay/ebay-einrichten#1300">eBay</a> ausgelöst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mahnung/Dispute auf eBay starten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sendet automatisch eine Mahnung bzw. startet einen Disput bei <a href="/maerkte/ebay/ebay-einrichten#1300">eBay</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Aktionsgruppe <strong>Board</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Karte erstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beim Eintreten des gewählten Ereignisses wird im Menü <strong>plentymarkets Logo (Start) » Boards</strong> eine <a href="/basics/arbeiten-mit-plentymarkets/boards#30">neue Karte</a> hinzugefügt.<br>
Innerhalb der Aktion wählst du das <strong>Board</strong> und die <strong>Spalte</strong> als Ort für die neue Karte aus. Innerhalb der Aktion kannst du optional einen <strong>Präfix</strong> für die neue Karte eingeben. Der Präfix dient zur besseren Unterscheidung der Karten und wird automatisch am Anfang des Kartentitels eingefügt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Karten löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beim Eintreten des gewählten Ereignisses werden im Menü <strong>plentymarkets Logo (Start) » Boards</strong> ausgewählte Karten <a href="/basics/arbeiten-mit-plentymarkets/boards#40">gelöscht</a>.<br>
Innerhalb der Aktion wählst du das <strong>Board</strong> und die <strong>Spalte(n)</strong>, deren enthaltene Karten gelöscht werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Karten verschieben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beim Eintreten des gewählten Ereignisses werden im Menü <strong>plentymarkets Logo (Start) » Boards</strong> ausgewählte Karten <a href="/basics/arbeiten-mit-plentymarkets/boards#40">verschoben</a>.<br>
Innerhalb der Aktion wählst du das <strong>Board</strong> und die <strong>Spalte(n)</strong>, von und zu denen die Karten verschoben werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Aktionsgruppe <strong>Bestellwesen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setze Lieferdatum (nur Nachbestellung)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei Aufträgen vom Typ Nachbestellung wird an der Nachbestellung das voraussichtliche Lieferdatum gespeichert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellung auslösen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beim Eintreten des gewählten Ereignisses werden Nachbestellungen oder Umbuchungen ausgelöst. Bei Nachbestellungen bedeutet dies, dass die Bestellung an den Lieferanten übermittelt wird. Bei Umbuchungen beginnt mit dieser Aktion die Umbuchung von Waren von einem Senderlager in ein Empfängerlager.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellung abschließen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beim Eintreten des gewählten Ereignisses werden Nachbestellungen oder Umbuchungen abgeschlossen. Eine Bearbeitung ist dann nicht mehr möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachbestellungsdokument erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beim Eintreten des gewählten Ereignisses wird für Aufträge vom Typ <strong>Nachbestellung</strong> das Nachbestellungsdokument erzeugt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PO Lieferschein erzeugen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beim Eintreten des gewählten Ereignisses wird für Aufträge vom Typ <strong>Umbuchung</strong> das Dokument <strong>PO Lieferschein</strong> erzeugt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Aktionsgruppe <strong>Plugins</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag beim Versanddienstleister anmelden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Aktion meldet den Auftrag über die bereits eingerichtete Schnittstelle oder das Plugin an. Der Auftrag wird anhand des gewählten Versandprofils am Auftrag angemeldet.<br>
<strong><em>Hinweis:</em></strong> Diese Aktion kann nur in Verbindung mit eingerichteten Schnittstellen oder Plugins von Versanddienstleistern genutzt werden. Eine Nutzung der Aktion mit dem Amazon-Service <strong>Amazon Prime</strong> ist nicht möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure beim Versanddienstleister anmelden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Aktion meldet die Retoure über die bereits eingerichtete Schnittstelle oder das Plugin an, sofern der Versanddienstleister die Retourenanmeldung erlaubt.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Ereignisaktion aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald Ereignis, Filter und Aktion(en) für eine Ereignisaktion festgelegt sind, musst du die Ereignisaktion abschließend aktivieren. Ab dem Zeitpunkt der Aktivierung greift die Ereignisaktion mit den von dir gewählten Einstellungen.</p>
</div>
<div class="paragraph">
<p>Solltest du eine bestimmte Ereignisaktion vorübergehend nicht benötigen, kannst du sie deaktivieren.</p>
</div>
<div class="paragraph instruction">
<p>Ereignisaktion aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Wähle die gewünschte Ereignisaktion aus dem links angezeigten Verzeichnis aus.<br>
→ Die Ereignisaktion öffnet sich.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Aktiv</strong> im Bereich <strong>Einstellungen</strong>.<br>
→ Die Ereignisaktion wird aktiviert.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Einstellungen vor Aktivierung prüfen</div>
<div class="paragraph">
<p>Wir empfehlen, zuerst alle gewünschten Ereignisse, Filter und Aktionen auszuwählen und die Einstellungen zu prüfen, bevor du die Ereignisaktion aktivierst. Bei der Aktivierung von nur teilweise angelegten Ereignisaktionen kann es zu Fehlfunktionen kommen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Ereignisaktion bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Name</strong>, <strong>Ereignis</strong>, <strong>Filter</strong> und <strong>Aktion(en)</strong> einer Ereignisaktion kannst du sowohl während als auch nach dem Anlegen der Ereignisaktion bearbeiten. Einzelne Filter und Aktionen entfernst du über die Funktion <strong>Löschen</strong>, die neben jeder ausgewählten Option angezeigt wird. <strong>Speichere</strong> die Einstellungen ab, um die Änderungen zu übernehmen.</p>
</div>
</div>
</div>
</main>