<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Warum du Prozesse nutzen solltest</span></a></li>
<li><a href="#200"><span>2.</span><span> Wie werden Prozesse eingerichtet?</span></a></li>
<li><a href="#300"><span>3.</span><span> Welche Funktionen stehen dir zur Verfügung?</span></a></li>
<li><a href="#400"><span>4.</span><span> Brauchst du Hilfe?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Prozesse</h1><div class="sect1">
<h2 id="100">1. Warum du Prozesse nutzen solltest</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ähnlich wie die <a href="/automatisierung/ereignisaktionen">Ereignisaktionen</a> helfen dir Prozesse dabei, komplexe Abläufe in deinem plentymarkets System zu automatisieren. Die Prozesse erlauben es dir aber auch, Auftragsdokumente oder Versandlabels automatisiert ausdrucken zu lassen. Um Prozesse verwenden zu können, muss das Tool <a href="https://marketplace.plentymarkets.com/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentymarkets Marketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> auf deinem Rechner installiert und gestartet sein.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Wie werden Prozesse eingerichtet?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Neue Prozesse legst du unter dem Menüpunkt <strong>Einrichtung » Prozesse » Neuer Prozess</strong> an. Weitere Informationen dazu findest du auf der Handbuchseite <a href="/automatisierung/prozesse/prozesse-einrichten">Prozesse einrichten</a>.</p>
</div>
<div class="paragraph">
<p>Bereits angelegte Prozesse kannst du jederzeit ansehen und starten, wenn du in der oberen Menüleiste im plentymarkets Backend auf den Punkt <strong>Prozesse</strong> klickst. Was genau beim Ausführen von Prozessen beachten zu ist, erfährst du auf der Handbuchseite <a href="/automatisierung/prozesse/prozesse-ausfuehren">Prozesse ausführen</a>.</p>
</div>
<div class="paragraph">
<p>Du schaust dir die Einrichtung lieber Schritt für Schritt in anschaulichen Videos an? Kein Problem! In unseren <a href="/automatisierung/prozesse/best-practices">Praxisbeispielen</a> haben wir einige nützliche Videotutorials für dich gesammelt. Schau dir auch unseren <a href="https://www.youtube.com/watch?v=p5NF6rLr7ho" target="_blank" rel="noopener">Deep Dive</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> (ab 03:52:00) an. Dort zeigen wir dir, wie du Wareneingänge in den Prozessen abbildest.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Welche Funktionen stehen dir zur Verfügung?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für Prozesse stehen dir vielfältige Einrichtungmsöglichkeiten zur Verfügung. Diese werden über 3 verschiedene Einstellungstypen abgebildet, die du innerhalb der Prozesse verwenden kannst:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/automatisierung/prozesse/arbeitsschritte">Arbeitsschritte</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/aktionen">Aktionen/Steuerelemente</a></p>
</li>
<li>
<p><a href="/automatisierung/prozesse/subaktionen">Subaktionen</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Brauchst du Hilfe?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Genau wie die Abläufe innerhalb deines Unternehmens können auch die Prozesse in ihrer Funktionsweise sehr komplex sein. Auf <a href="/automatisierung/prozesse/FAQ">dieser Handbuchseite</a> haben wir die häufigsten Fehlermeldungen gesammelt und geben dir Tipps, wie du mit ihnen umgehst. Auch in unserer <a href="https://forum.plentymarkets.com/c/prozesse" target="_blank" rel="noopener">Kategorie im plentymarkets Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> helfen wir dir gern weiter.</p>
</div>
</div>
</div>
</main>