<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Searching for a shipping order</span></a></li>
<li><a href="#200"><span>2.</span><span> Editing a shipping package in a pending shipping order</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Editing a shipping package</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Adding a shipping package</span></a></li>
<li><a href="#500"><span>2.3.</span><span> Removing a shipping package</span></a></li>
</ul>
</li>
<li><a href="#600"><span>3.</span><span> Splitting up orders into delivery orders</span></a></li>
<li><a href="#700"><span>4.</span><span> Registering a shipping order</span></a></li>
<li><a href="#800"><span>5.</span><span> Editing a registered shipping order</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>5.1.</span><span> Displaying a registered order</span></a></li>
<li><a href="#1000"><span>5.2.</span><span> Editing the package number</span></a></li>
<li><a href="#1100"><span>5.3.</span><span> Cancelling a shipping order</span></a></li>
<li><a href="#1200"><span>5.4.</span><span> Resetting a shipping order</span></a></li>
<li><a href="#1300"><span>5.5.</span><span> Printing the shipping label</span></a></li>
</ul>
</li>
<li><a href="#1400"><span>6.</span><span> Generating a polling file</span></a></li>
<li><a href="#1500"><span>7.</span><span> Generating an order summary</span></a></li>
<li><a href="#1600"><span>8.</span><span> Retrieving a return label</span></a>
<ul class="sectlevel2">
<li><a href="#1700"><span>8.1.</span><span> Retrieving a return label via the main order</span></a></li>
<li><a href="#1800"><span>8.2.</span><span> Retrieving a return label via the return</span></a></li>
</ul>
</li>
<li><a href="#1900"><span>9.</span><span> Generating a label</span></a></li>
<li><a href="#2000"><span>10.</span><span> Possible errors when registering a shipping order</span></a>
<ul class="sectlevel2">
<li><a href="#2100"><span>10.1.</span><span> Character set</span></a></li>
<li><a href="#2200"><span>10.2.</span><span> Additional address information</span></a></li>
<li><a href="#2300"><span>10.3.</span><span> Shipping profile</span></a></li>
<li><a href="#2400"><span>10.4.</span><span> Shipping packages</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Using the shipping centre</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Orders » Shipping centre</strong> menu, you can use the integrated interfaces to control all of the processes that are related to shipping your items. You cannot only search for and edit shipping orders but also <a href="/en/order-processing/fulfilment/shipping-centre#700">register</a> shipping orders directly with a shipping service provider or alternatively create a <a href="/en/order-processing/fulfilment/shipping-centre#1400">polling file</a> to hand over to a shipping service provider. The appropriate action depends on the shipping service provider and the software used by these providers.</p>
</div>
<div class="paragraph">
<p>On this page of the manual, you will also learn how to generate an <a href="/en/order-processing/fulfilment/shipping-centre#1500">order summary</a> of the <a href="/en/order-processing/fulfilment/preparing-the-shipment#2500">shipping service providers set up in plentymarkets</a>. Furthermore, it is also described how to <a href="/en/order-processing/fulfilment/shipping-centre#1600">register returns</a> and <a href="/en/order-processing/fulfilment/shipping-centre#1900">generate labels</a>.</p>
</div>
<div class="paragraph">
<p>Learn more about the shipping centre in the following video tutorial. The shipping service provider DHL Intraship/Versenden is used as an example.</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/188628086" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Searching for a shipping order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Search</strong> tab is automatically displayed when you open the shipping centre. Various search filters are available to help you search shipping orders.</p>
</div>
<div class="paragraph instruction">
<p>Searching for a shipping order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Select filters. Pay attention to the information given in <a href="#table-search-shipping-order">Table 1</a>.</p>
</li>
<li>
<p>Click on the magnifying glass to start searching.<br>
→ The results will be listed depending on the selected filters.</p>
</li>
</ol>
</div>
<table id="table-search-shipping-order" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Filter options for searching in the shipping centre</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter an order ID to search for shipping orders with this ID. Separate multiple IDs using commas.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Customer ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the customer ID to search for shipping orders with this customer ID.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping status</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a shipping status to search for shipping orders with this status only.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping service provider</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a shipping service provider to search for shipping orders of this shipping service provider only.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping profile</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a shipping profile to search for shipping orders with this profile only.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>per page</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select how many shipping orders should be displayed per page.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order status</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select an order status to search for orders with this status only.<br>
<strong><em>Note</em></strong>: Users with the user class <strong>Variable</strong> who select the filter option <strong>ALL</strong> still only see those orders that are in a particular status. This is done by opening the variable user’s account and selecting one or more statuses under <strong>Visible order status</strong>. Afterwards, the variable user will only see orders that have this status, even if he or she chose the filter setting ALL.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Owner</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select an owner to search for orders that this owner is responsible for only.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Client (store)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a client (store) to search for shipping orders of this store only.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warehouse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a warehouse to search for shipping orders for this warehouse only.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment method</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a payment method to search for shipping orders that were paid using this payment method only.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Once you have found the shipping orders you are looking for, you can edit these shipping orders or register them with the shipping service provider. Proceed as follows to edit shipping orders. Refer to the chapters <a href="/en/order-processing/fulfilment/shipping-centre#700">Registering a shipping order</a> and <a href="/en/order-processing/fulfilment/shipping-centre#1400">Generating a polling file</a> on this page of the manual to learn how to register shipping orders.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Editing a shipping package in a pending shipping order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It is possible to edit shipping packages in a pending shipping order. You can also add shipping packages to or delete them from a pending shipping order. You can change the customer data of the recipient in the <a href="/en/crm/managing-customer-data#1300">CRM » Edit customers</a> menu. Open the customer’s data record by clicking on the customer’s ID in the shipping order.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Return labels in a shipping order</div>
<div class="paragraph">
<p>In the <strong>Return</strong> tab of a shipping order, return labels are displayed. You can also link orders of the type Return to the registered returns. A return is usually only created after the item was shipped. Therefore, the tab of any pending orders that are not yet registered is empty.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="300">2.1. Editing a shipping package</h3>
<div class="paragraph">
<p>Proceed as described below to edit a shipping package. The parameters such as weight and volume are calculated based on the item data. Therefore, check the shipping package information and correct it if necessary.</p>
</div>
<div class="paragraph instruction">
<p>Editing a shipping package:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Select the search criteria. Pay attention to the information given in the <a href="/en/order-processing/fulfilment/shipping-centre#100">Searching for a shipping order</a> chapter.</p>
</li>
<li>
<p>Click on the magnifying glass.<br>
→ The shipping orders that match the search criteria you selected will be displayed.</p>
</li>
<li>
<p>Expand the shipping order.</p>
</li>
<li>
<p>In the <strong>Shipping packages</strong> tab, click on the pencil icon to edit the shipping order.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-edit-shipping-package">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-edit-shipping-package" class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Editing a shipping package</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping package</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a shipping package to assign a package size to the shipping order.<br>
If you have not yet configured shipping packages in the <strong>Orders » Shipping » Shipping packages</strong> menu, then standard packages will be assigned to the shipping order.<br>
<strong><em>Important</em></strong>: The number of shipping packages entered in the <strong>Orders » Edit orders » Open order » Tab: Settings</strong> menu does not influence the packages saved here, i.e. changes you make in that menu are not updated here. This is why you should change the number of packages in the shipping centre only.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Weight</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the weight of the shipping package.<br>
If a weight was saved for the item, this weight is carried over to the shipping order. If no weight was saved for the item, a weight of 100 g is entered automatically as standard. If the item consists of more than one packing unit, the weight is distributed between the number of packages it consists of.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Packing unit type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select or edit the packing unit type.<br>
If a packing unit type was saved for the item, this is displayed here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Volumes</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter or edit the volume.<br>
If the length, width and height was saved for the item, the volume is calculated automatically based on these values.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">2.2. Adding a shipping package</h3>
<div class="paragraph">
<p>Proceed as described below to add a shipping package.</p>
</div>
<div class="paragraph instruction">
<p>Adding a shipping package:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre » Tab: Search</strong>.</p>
</li>
<li>
<p>Select the search criteria. Pay attention to the information given in the <a href="/en/order-processing/fulfilment/shipping-centre#100">Searching for a shipping order</a> chapter.</p>
</li>
<li>
<p>Click on the magnifying glass.<br>
→ The shipping orders that match the search criteria you selected will be displayed.</p>
</li>
<li>
<p>Expand the shipping order.</p>
</li>
<li>
<p>Click on the <strong>Add</strong> tab.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-edit-shipping-package">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The shipping package is added and the <strong>Shipping package</strong> tab will open.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="500">2.3. Removing a shipping package</h3>
<div class="paragraph">
<p>Proceed as described below to remove a shipping package.</p>
</div>
<div class="paragraph instruction">
<p>Removing a shipping package:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre » Tab: Search</strong>.</p>
</li>
<li>
<p>Select the search criteria. Pay attention to the information given in the <a href="/en/order-processing/fulfilment/shipping-centre#100">Searching for a shipping order</a> chapter.</p>
</li>
<li>
<p>Click on the magnifying glass.<br>
→ The shipping orders that match the search criteria you selected will be displayed.</p>
</li>
<li>
<p>Expand the shipping order.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> in the <strong>Shipping packages</strong> tab.<br>
→ The shipping package will be deleted.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">3. Splitting up orders into delivery orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Here you can define which criteria will be used to split orders into delivery orders. <strong>Warehouse</strong>, <strong>shipping profile</strong>, <strong>warehouse and shipping profile</strong>, or <strong>stock and net stock</strong> can be selected.</p>
</div>
<div class="paragraph">
<p>Learn more about delivery orders in the following video tutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/165303429" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/order-processing/orders/managing-orders">Orders</a> area.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">4. Registering a shipping order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Orders » Shipping centre » Tab: Register</strong> menu , you can register your orders with a shipping service provider and simultaneously transmit the orders to the service provider. You have to <a href="/en/order-processing/fulfilment/shipping-centre#100">search for orders</a> in the <strong>Search</strong> tab before you can register them. The orders that were found will be displayed here. You can use the search function’s filter settings in the shipping centre to display orders for a specific shipping service provider or for all shipping service providers. During the registration process, you will receive messages from the shipping service provider informing you of both success and errors.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Transferring shipment numbers to Hermes (ProfiPaketService)</div>
<div class="paragraph">
<p>If you register shipping orders at Hermes ProfiPaketService (professional parcel service) and wish to transfer the shipment numbers, you must activate the option <strong>Request labels</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The following information gives an example of registering orders with the shipping service provider <strong>DHL Freight</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Registering a shipping order at DHL Freight:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Select the option <strong>open</strong> from the drop-down menu <strong>Shipping status</strong>.</p>
</li>
<li>
<p>Select the option <strong>DHL</strong> from the drop-down menu <strong>Shipping service provider</strong>.</p>
</li>
<li>
<p>Click on the magnifying glass.<br>
→ You will see a list of open shipping orders for DHL.</p>
</li>
<li>
<p>Click on the <strong>Register</strong> tab.</p>
</li>
<li>
<p>Select the option <strong>DHL Freight</strong> from the drop-down menu <strong>Shipping service provider</strong>.</p>
</li>
<li>
<p>Select the order status from the drop-down menu <strong>Change order status</strong>. Select the status that you want the orders to receive after they are registered. <br>
→ You can combine this function using an <a href="/en/basics/automation/event-procedures">event procedure</a> which, for example, automatically books outgoing items.</p>
</li>
<li>
<p>Select the orders that you want to register with DHL Freight.</p>
</li>
<li>
<p>Click on <strong>Register</strong> to transfer the orders.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Choosing the option <strong>Select all</strong> will select all of the orders on the current page.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Some shipping service providers have additional options</div>
<div class="paragraph">
<p>Depending on which service provider was selected, additional options will be displayed on the right side in the <strong>Register</strong> tab. Most of the shipping service providers do not offer additional services, meaning that the right side usually remains blank. The additional options allow you to change the shipping profile for selected orders after they have been registered. They also allow you to change the shipping date so that it is predated or postdated.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Also note the chapter <a href="/en/order-processing/fulfilment/shipping-centre#2000">Possible errors when registering a shipping order </a> on this page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="800">5. Editing a registered shipping order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have registered a shipping order with a shipping service provider, this shipping service provider will be displayed behind the <strong>registered</strong> status, e.g. <strong>registered DHL Intraship/Versenden</strong>.</p>
</div>
<div class="paragraph">
<p>Registered shipping orders receive a package number and usually also a transaction number from the shipping service provider. Furthermore, they include a file that contains the shipping label for printing. The shipping costs are also displayed if the shipping service provider supports this function. The tabs that are displayed depend on the shipping service provider, e.g. the tabs <strong>Cancellation</strong> and <strong>Reset</strong> for DHL Intraship/Versenden. Different or additional tabs might be available for other shipping service providers.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Cancelling a shipping order vs. resetting a shipping order</div>
<div class="paragraph">
<p>If you cancel a shipping order, the registration is cancelled in plentymarkets and with the shipping service provider. This means that the order will not be collected.</p>
</div>
<div class="paragraph">
<p>If you reset an order, it is available as a pending order in plentymarkets. However, it is still registered with the shipping service provider and you will be billed for it. The <strong>Reset</strong> function simply resets the registration. The shipping order itself is not cancelled with the service provider. Therefore, we recommend that you always cancel the order.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="900">5.1. Displaying a registered order</h3>
<div class="paragraph">
<p>The following example describes how to display registered orders with DHL Intraship/Versenden.</p>
</div>
<div class="paragraph instruction">
<p>Displaying a registered order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre » Tab: Search</strong>.</p>
</li>
<li>
<p>Select the option <strong>registered DHL Intraship/Versenden</strong> from the drop-down menu <strong>Shipping status</strong>.</p>
</li>
<li>
<p>Click on the magnifying glass.<br>
→ The orders that are registered with DHL Intraship/Versenden will be displayed.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1000">5.2. Editing the package number</h3>
<div class="paragraph">
<p>This section teaches you how to edit the package number once you have found the order that was registered.</p>
</div>
<div class="paragraph instruction">
<p>Editing the package number:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Expand the registered order in the <strong>Orders » Shipping centre » Tab: Search</strong> menu. How to display the registered order is described in the <a href="/en/order-processing/fulfilment/shipping-centre#900">Displaying a registered order </a> chapter.</p>
</li>
<li>
<p>Click on the pencil icon in the <strong>Shipping packages</strong> tab.<br>
→ The package number will be opened.</p>
</li>
<li>
<p>Enter a different package number.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For further information about importing package numbers, refer to the <a href="/en/order-processing/fulfilment/generating-documents#800">Importing package numbers</a> chapter on the <a href="/en/order-processing/fulfilment/generating-documents">Generating documents</a> page of the manual.</p>
</div>
</div>
<div class="sect2">
<h3 id="1100">5.3. Cancelling a shipping order</h3>
<div class="paragraph">
<p>Cancel the shipping order if something about the shipment is incorrect or has been changed, e.g. if items were added or removed. Afterwards, the order can then be re-registered for shipping.</p>
</div>
<div class="paragraph instruction">
<p>Cancelling a shipping order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Open the registered shipping order.</p>
</li>
<li>
<p>Expand the registered shipping order.</p>
</li>
<li>
<p>Click on the <strong>Cancellation</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Cancel shipping</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1200">5.4. Resetting a shipping order</h3>
<div class="paragraph">
<p>The <strong>Reset</strong> function simply resets the registration. The shipping order itself is not cancelled with the service provider. This is why we recommend cancelling the order.</p>
</div>
<div class="paragraph instruction">
<p>Resetting a shipping order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Search the shipping order.</p>
</li>
<li>
<p>Expand the shipping order.</p>
</li>
<li>
<p>Click on the <strong>Reset</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Cancel shipping</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1300">5.5. Printing the shipping label</h3>
<div class="paragraph">
<p>A shipping label is available in the <strong>Orders » Shipping centre</strong> menu in the registered shipping order. Alternatively, the <a href="/en/order-processing/fulfilment/shipping-centre#1900">Label </a> tab in the shipping centre allows you to generate and print one PDF file that contains labels for all of the shipping orders registered with a certain service provider.</p>
</div>
<div class="paragraph instruction">
<p>Printing the shipping label in the shipping order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre » Tab: Search</strong>.</p>
</li>
<li>
<p>Select the search criteria. Pay attention to the information given in the <a href="/en/order-processing/fulfilment/shipping-centre#100">Searching for a shipping order</a> chapter.</p>
</li>
<li>
<p>Click on the magnifying glass.</p>
</li>
<li>
<p>Open the registered shipping order.</p>
</li>
<li>
<p>Click on the PDF symbol in the <strong>Overview</strong> tab.<br>
→ The shipping label will be opened in a separate window and can be printed.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">6. Generating a polling file</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Orders » Shipping centre » Tab: Polling</strong> menu, you can generate a polling file containing the selected orders. This file is generated for the software that is used by a shipping service provider. A polling file is necessary if no direct interface to the shipping service provider’s software exists, i.e. if shipping orders cannot be registered in the <strong>Register</strong> tab. The polling file generated in plentymarkets is usually a CSV file.</p>
</div>
<div class="paragraph instruction">
<p>Generating a polling file:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.</p>
</li>
<li>
<p>Select the search criteria for the order. Pay attention to the information given in the <a href="/en/order-processing/fulfilment/shipping-centre#100">Searching for a shipping order</a> chapter.</p>
</li>
<li>
<p>Activate the order.</p>
</li>
<li>
<p>Click on the <strong>Polling</strong> tab.</p>
</li>
<li>
<p>Select the <strong>shipping service provider</strong>.</p>
</li>
<li>
<p>Select the <strong>order status</strong> that you want the orders to switch to.</p>
</li>
<li>
<p>Activate all of the orders that you want to ship with the selected shipping service provider.</p>
</li>
<li>
<p>Click on <strong>Register</strong> to generate the polling file.<br>
→ The polling file will be generated. Save it to your computer.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">DHL Easylog header</div>
<div class="paragraph">
<p>You will also see the option <strong>Header</strong> if you selected the shipping service provider <strong>DHL Easylog</strong>. Use this option to choose whether the header should be displayed in the CSV file. For further information, refer to the <a href="/en/order-processing/fulfilment/preparing-the-shipment#2700">DHL Easylog</a> section on the <a href="/en/order-processing/fulfilment/preparing-the-shipment">Preparing the shipment</a> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">7. Generating an order summary</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Orders » Shipping centre » Tab: Summary</strong> menu, you can generate an order summary or a manifest for the shipping service providers that are set up in your plentymarkets system.</p>
</div>
<div class="paragraph instruction">
<p>Generating an order summary:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre » Tab: Summary</strong>.</p>
</li>
<li>
<p>Select the shipping service provider for the summary from the drop-down menu.<br>
→ Additional options for the shipping service provider will be displayed, if available.</p>
</li>
<li>
<p>Select the options.</p>
</li>
<li>
<p>Click on <strong>Execute</strong>.<br>
→ A PDF file will be generated.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Export the order summary via dynamic data export</div>
<div class="paragraph">
<p>As an alternative to the order summary of one day in the <strong>Orders » Shipping centre » Tab: Summary</strong> menu, you can also carry out a <a href="/en/basics/datenaustausch/daten-exportieren">dynamic data export</a>. Use the data format <a href="/en/basics/data-exchange/data-formats/order">Order</a> and use filters to search by shipping service provider and date. Use the data field <strong>PackageNo</strong> e.g. to export the package numbers.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">8. Retrieving a return label</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Orders » Shipping centre » Tab: Return</strong> menu, you can register returns with a shipping service provider. After you registered a return, the return labels are available as PDF files. You can register a return via the main order or via the return.</p>
</div>
<div class="paragraph">
<p>To retrieve return labels, you register the return with a shipping service provider in the shipping centre.</p>
</div>
<div class="sect2">
<h3 id="1700">8.1. Retrieving a return label via the main order</h3>
<div class="paragraph">
<p>Proceed as described below to retrieve a return label in the main order. The process for assigning <strong>returns</strong> varies depending on whether you have already created a return for the order in the <strong>Orders</strong> menu. First retrieve the label and then assign it to the order of the type <strong>return</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Retrieving a return label via the main order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre » Tab: Search</strong>.</p>
</li>
<li>
<p>Select the search criteria for the order. Pay attention to the information given in the <a href="/en/order-processing/fulfilment/shipping-centre#100">Searching for a shipping order</a> chapter.</p>
</li>
<li>
<p>Click on the <strong>Return</strong> tab.</p>
</li>
<li>
<p>Activate the order.</p>
</li>
<li>
<p>Select the <strong>Return service provider</strong>.</p>
</li>
<li>
<p>Click on <strong>Register</strong> to transfer the orders.<br>
→ Click on the PDF icon to view the label as a PDF file.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you have already created a return order in the <strong>Orders</strong> menu, you can now assign this return to the label. This is done by selecting the <strong>Return ID</strong>.</p>
</div>
<div class="paragraph">
<p>If you have not created a return order in the <strong>Orders</strong> menu, do so now by opening the main order and creating a return. When creating an order of the type <strong>return</strong> at this point, the return order will automatically be assigned to the return label in the shipping order.</p>
</div>
</div>
<div class="sect2">
<h3 id="1800">8.2. Retrieving a return label via the return</h3>
<div class="paragraph">
<p>If you have already created a return order in the <strong>Orders</strong> menu, you can also retrieve the return label directly via this return order. You need the return ID to do so. Returns can only be found in the shipping centre by specifying the return ID.</p>
</div>
<div class="paragraph instruction">
<p>Retrieving a return label via the return:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre</strong>.<br>
→ The <strong>Search</strong> tab will open.</p>
</li>
<li>
<p>Enter the return ID into the <strong>Order ID</strong> field.</p>
</li>
<li>
<p>Click on the magnifying glass.</p>
</li>
<li>
<p>Click on the <strong>Return</strong> tab.</p>
</li>
<li>
<p>Activate the return.</p>
</li>
<li>
<p>Select the <strong>Return service provider</strong>.</p>
</li>
<li>
<p>Click on <strong>Login</strong>.</p>
</li>
<li>
<p>Expand the shipping order.<br>
→ In the <strong>Return labels</strong> tab, click on the PDF icon to view the label as a PDF file.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can provide the labels to end customers for download in the My account area of the online store. For further information, refer to the <a href="/en/auftragsabwicklung/fulfillment/versand-vorbereiten">Preparing the shipment</a> page of the manual. Specifically, refer to the <a href="/en/auftragsabwicklung/fulfillment/versand-vorbereiten#3200">DHL Retoure Online</a> chapter.</p>
</div>
<div class="paragraph">
<p>You register returns in the <strong>Return</strong> tab of the <strong>Shipping centre</strong> for orders that the customer has already received. For <a href="/en/order-processing/fulfilment/preparing-the-shipment#3100">DHL RETOURE with enclosed return label</a>, you already enclose return labels in packages before sending them to customers. These enclosed return labels are also displayed in the <strong>Return labels</strong> tab of the shipping order.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1900">9. Generating a label</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Orders » Shipping centre » Tab: Label</strong> menu, you can generate address labels for your shipping orders based on the shipping service provider. These labels will be made available as download files in PDF format. A PDF file will be generated for each shipping service provider. It is possible to download all of the PDF files at once.</p>
</div>
<div class="paragraph instruction">
<p>Generating labels:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Shipping centre » Tab: Label</strong>.</p>
</li>
<li>
<p>Click on the PDF icon behind the shipping service provider. <br>
→ The labels will be available for download.</p>
</li>
<li>
<p>Click on <strong>Generate</strong>.<br>
→ You will receive the PDF files for download and can then print the labels.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="2000">10. Possible errors when registering a shipping order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this section, we describe possible errors that may result in data not being transferred to the shipping service provider. An error message will be displayed if an order cannot be registered.</p>
</div>
<div class="paragraph">
<p>Refer to the menu <strong>Data exchange » API log » Tab: Shipping centre API log</strong> when searching for errors. Entries are saved in this menu for 7 days.</p>
</div>
<div class="sect2">
<h3 id="2100">10.1. Character set</h3>
<div class="paragraph">
<p>Some shipping interfaces (APIs) only allow Roman character sets (ISO-8859-X) but no Unicode. Therefore, shipping addresses should not contain Unicode characters. For example, you cannot register orders with DHL Intraship/Versenden if the address was saved in Greek letters.</p>
</div>
</div>
<div class="sect2">
<h3 id="2200">10.2. Additional address information</h3>
<div class="paragraph">
<p>Some shipping service providers do not process <strong>additional address information</strong> saved with the delivery address. Therefore, shipping service providers might in some rare cases be unable to deliver packages.<br>
Additional address information is not transmitted to the following shipping service providers at the moment:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>DHL Freight</p>
</li>
<li>
<p>DHL Supply Chain</p>
</li>
<li>
<p>Swiss Post</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Check if the additional address information is transmitted to your shipping service provider correctly. If the additional address information is not transmitted, adjust your online store design so that the field for entering additional address information is shown or hidden depending on the shipping service provider selected. Alternatively, you can adjust your design so that a note is displayed to customers.</p>
</div>
</div>
<div class="sect2">
<h3 id="2300">10.3. Shipping profile</h3>
<div class="paragraph">
<p>Error message: Code 1: The process could not be carried out correctly. Check data entered. Invalid parameter value passed: DHLFreightDataSet_ShippingInformation.</p>
</div>
<div class="paragraph">
<p>Solution: Incorrect configuration of the shipping profile or an incompatible shipping service provider was selected.</p>
</div>
</div>
<div class="sect2">
<h3 id="2400">10.4. Shipping packages</h3>
<div class="paragraph">
<p>It is not possible to add packages in the order’s <a href="/en/order-processing/orders/managing-orders#changing-order">Settings</a> tab. If you want to add further packages to an order or change the quantity, then open the order in the shipping centre and make the changes in the <a href="/en/order-processing/fulfilment/shipping-centre#400">Add</a> tab.</p>
</div>
</div>
</div>
</div>
</main>