<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Cancelling orders</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Your customer’s changed his mind and no longer wants the item that he’s purchased? No problem! plentymarkets lets you cancel orders with just a few clicks of your mouse.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/order-processing/returns-and-cancellations/cancelling-orders-cancellation#video">Cancelling an order (0:28)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/returns-and-cancellations/cancelling-orders-reserve-stock#video">Deciding when to reserve stock (0:54)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/returns-and-cancellations/cancelling-orders-event-procedure#video">Automating the job with an event procedure (1:52)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/236752993" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Two sellers - one task. The customer’s changed his mind and no longer wants the item that he’s purchased. Our first seller’s already received payment and shipped the item.
Whereas our second seller hasn’t. So what’s the difference? How should each seller proceed?</p>
</div>
<div class="paragraph">
<p>If you’ve already received payment and shipped the item, then your customer will need to return the item and you’ll need to refund the payment with a credit note.
Otherwise you can simply cancel the order in just a few clicks. Cancelling an order is really easy. Simply open the order and switch its status to 8.
That’s all there is to it! Now here in the overview, you can see that the order has been cancelled.</p>
</div>
<div class="paragraph">
<p>Status changes are an easy way for you and your employees to see an overview of all the orders that have been cancelled. But that’s not all they can do!
Let me explain. Every time you receive an order, plentymarkets automatically reserves the items that were purchased. In other words, the item is still technically part of the stock in your warehouse. But plentymarkets knows not to sell the item again because it’s already reserved for a specific customer. But when you cancel an order, you’ll also want the item to stop being reserved.
And that’s the second thing that status 8 can do!</p>
</div>
<div class="paragraph">
<p>Here in the settings, simply tell plentymarkets when items should be reserved. So in my case, items are reserved for any order that’s in status 3 to 14.
But wait a minute. I cancel orders by switching their status to 8. Since 8 is between 3 and 14 I’ll need to tell plentymarkets when it should make an exception to the rule. So here, simply tell plentymarkets which statuses you use for cancelled orders.
Taken all together, this means that items will be reserved for any order that’s in status 3 to 14 with the exception of orders that are in status 8 to 8.1.</p>
</div>
<div class="paragraph">
<p>Pretty easy, right? Now there’s just one more thing to do. You’ll need to notify your customer that his order’s been cancelled.
But it would take way too long to manually search for the customer’s email address and then add an order note to explain the steps you’ve taken.
It’s way more efficient to set up an event procedure and automate the process completely.
For example, you may want to send your customers a cancellation email as soon as an order has been switched to status 8.</p>
</div>
<div class="paragraph">
<p>Here at plentymarkets, we hope that sellers will never need to cancel orders. But just in case, we’ve made the cancellation process as simple as possible, so that you can put the paperwork aside and focus on making sales.</p>
</div>
</div>
</div>
</main>