<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Compensating customers</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Your customer has just returned an item and needs compensation. Learn how to issue a monetary refund, exchange a defective item for a new one, or repair a defective item.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/order-processing/returns-and-cancellations/compensating-customers-monetary-refund#video">Issuing a monetary refund (0:17)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/returns-and-cancellations/compensating-customers-defective-item#video">Exchanging a defective item for a new one (2:58)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/returns-and-cancellations/compensating-customers-repair#video">Repairing a defective item (3:51)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/238946285#at=231" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>So far, so good! You’ve already created a return and you know how to work with it in plentymarkets.
Now let’s talk about how to compensate customers. In other words, let’s learn how to issue monetary refunds, exchange defective items for new ones, or repair defective items.</p>
</div>
<div class="paragraph">
<p>First up, credit notes and refunds!
Simply open your return and create a credit note like so. The credit note opens in a new tab and it can be edited further.
Here, you can see that the credit note appears in the overview and you can see which order the credit note relates to.
Now it’s time to refund your customer. Imagine you had a walk-in customer who paid in cash when buying the items from your store downtown. It wouldn’t make sense to refund this customer with a payment provider like PayPal. Instead, you always have to refund customers with the same payment method that they used when buying the item.
So depending on how your customer paid for the order, you’ll need to proceed a little bit differently when issuing a refund.</p>
</div>
<div class="paragraph">
<p>For example, if your customer transferred money directly to your bank account with a wire transfer then simply click on the "Payment" tab and use a debit to subtract the amount from the balance in your system. Then refund your customer by wiring the money back to them.
On the other hand, if your customer used a payment provider such as PayPal then the "Settings" tab will include an icon for refunding the customer directly.</p>
</div>
<div class="paragraph">
<p>However you proceed, you’ll want to keep track of the refund for financial accounting purposes.
Simply head on over to the "Receipts" tab and manually generate a paper record of the credit note.
Of course, you can also use event procedures to automate the process instead.
Simply create one event procedure which generates the credit note document as soon as a new credit note is generated in plentymarkets.
Then create a second event procedure which then emails the credit note document to your accounting department.
As soon as you’ve created the document for your accounting department the corresponding credit note will be locked and you’ll no longer be able to modify it.
By locking credit notes that were already documented, it’s impossible for sellers to accidentally change any information that is relevant for financial accounting purposes.</p>
</div>
<div class="paragraph">
<p>But what should you do if you’ve already generated the document and then you notice something that needs to be changed?
Well, in this case you’ll need to issue something called a reversal document, which completely negates the original receipt.
If this is your first time issueing such a reversal, then head on over to the template settings and decide which text should appear on the document.
Once you’ve created a reversal document for a credit note it will be unlocked and you can modify the credit note as needed.
Once you’re finished, issue a new credit note document and send it to your accounting department.</p>
</div>
<div class="paragraph">
<p>Now let’s look at the second way to compensate customers. Namely, by exchanging a defective item for a new one.
Here, again, we start out by opening up the return but this time we create a warranty. This new warranty inherits all of the same information that was found in the original order - with one main difference. Here in the warranty, the item value is set to 0. Otherwise the warranty is processed just like any other normal order. A replacement item is swapped in and the order is shipped to the customer.
And there’s one other thing that you’ll want to note here about warranties. Here you can see that the shipping costs are also set to 0. So in other words, I’m not asking my customer to pay for shipping on this replacement item.
That’s because in the menu "Settings » Orders » Basic settings" I’ve specified that I do not want shipping costs to be included in the warranty.</p>
</div>
<div class="paragraph">
<p>Now let’s look at the last way to compensate customers. In some situations, you may not want to just swap out a defective item for a new one. But rather, you might want to repair a defective item and then return it to the customer.
The process for doing so is really similar to what you’ve already seen. There’s just one thing that you’ll need to do in advance, which is open the "Repair" menu
and save repair statuses. Up top, save statuses to indicate how the repair is coming along.
And down below, save conditions to indicate how damaged the item is or what exactly is wrong with the item.</p>
</div>
<div class="paragraph">
<p>Once you’ve done that, you’re ready to go. Again, start out by opening up the return and then just click here to create a repair.
Here you can select the status and the condition that you saved just a moment ago.
And then you can create the repair. Once the defective item has been fixed, it’s shipped back to the customer just like any other order.</p>
</div>
<div class="paragraph">
<p>Thanks for watching this series of videos and I hope you enjoyed learning how plentymarkets assists you in managing returned items.</p>
</div>
</div>
</div>
</main>