<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Customising your return settings</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Learn how to manage returns like a pro! This video walks you through three basic settings that you’ll need to configure before you start working with returns.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/order-processing/returns-and-cancellations/return-settings-reasons#video">Saving reasons for returns (0:23)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/returns-and-cancellations/return-settings-repair-warehouse#video">Setting up a repair warehouse (2:13)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/returns-and-cancellations/return-settings-return-through-customer#video">Letting customers initiate returns (3:08)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/236753676#at=133" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Sales are skyrocketing and your business is growing day by day. But even the most lucrative store gets the occassional return. No problem! plentymarkets lets you manage returns like a pro. After watching this series of videos, you’ll be ready to take on the job in no time.
This first video gets you started by looking at three basic settings that you’ll need to configure before you start working with returns.</p>
</div>
<div class="paragraph">
<p>First up, reasons! Put yourself in your customer’s shoes and think about why they may want to send items back in the first place. If you sell clothes, then perhaps your customer ordered the wrong size.
Or if the item was handled carelessly, then perhaps it was damaged in transport.
Once you’ve finished brainstorming, just open up your plentymarkets system and enter all of your reasons into the fields here.
But make sure that you keep your reasons appropriate and on-topic. Because depending on how you configure the settings, your customers will be able to see these reasons in your online store.</p>
</div>
<div class="paragraph">
<p>Let me show you what I mean. So typically, if your customer wants to return an item, then she’ll just need to log into her "My account" area and click on this button to return the item.
Here your customer will be able to select a reason for returning the item.
And one more thing to note. The reasons here are listed in the same order as they were saved in your plentymarkets system. So make sure that you use the first field to save whichever reason should be displayed first. Then the second to save the reason that’s displayed second. And so forth.
Now why is this important? Well, I mention this because the first status is pre-selected. So if your customer doesn’t actively open the drop-down and select a different status, then this first status here will be used by default. So if you save something like "The item is broken" as your first status, then you may end up getting a lot of returned items that are allegedly broken but where in reality, the customer just didn’t select a status.</p>
</div>
<div class="paragraph">
<p>Alright, so every time that a customer returns an item, you’ll also get a reason. And once a bit of time has passed, you may have dealt with lots of returns and now you’re interested in finding out which reaons customers cite most often for wanting to return an item.
Well, plentymarkets includes a statistic that tells you just that. This feedback lets you know what can be tweaked so that fewer items are returned in the future.</p>
</div>
<div class="paragraph">
<p>Once you’ve finished saving reasons for returns, you’ll want to spend some time thinking about where the returned items should be sent. Since an item may be broken or damaged when it’s returned, you probably don’t want to mix it in with other copies of the item that are currently for sale. So in other words, you probably don’t want returns to be sent directly to your sales warehouse. Rather, you probably have a separate repair warehouse, where returned items are temporarily stored until they have been repaired and are ready to be sold again.</p>
</div>
<div class="paragraph">
<p>Let’s look at how this is configured in plentymarkets. Simply navigate to the "Warehouse" menu open whichever warehouse you want to use for repairs and use this setting here to specify that it’s your repair warehouse.
Next, open whichever sales warehouse you want the returned items to be sent to once they’re finished being repaired and are ready to be sold again.
Here, make sure that this one is a sales warehouse and then specify which repair warehouse it corresponds to.</p>
</div>
<div class="paragraph">
<p>Last but certainly not least, you’ll want to spend some time thinking about how you’ll deal with returns. In other words, you’ll need to decide if you allow customers to initiate returns by logging into the "My account" area of your store.
Let’s see how it’s done in plentymarkets. Start out by opening the "My Account" settings and looking at the "Return" setting here.
If this setting is activated then customers will be able to return items by logging into their "My account" area and clicking on this button.
They just select a reason for return and specify how many copies of the item they’re returning.
Customers can then open and print out a return label themselves.</p>
</div>
<div class="paragraph">
<p>When a customer initiates a return like this, the corresponding data record is automatically created in your plentymarkets backend.
Here you can see that the return is given its own ID and here you can see the ID of whichever order this return corresponds to.
And here you can see that the return was automatically given status 9. Now why status 9?
Well, quite simply. This is the default status that I told plentymarkets to use whenever it automatically creates a return. You can tell your own plentymarkets system which status it should use. Just open the order settings and use this option here to select the status.</p>
</div>
<div class="paragraph">
<p>OK, so that’s how the return process works if you activated this setting here. Customers are able to initate returns and print return labels on their own. And the returns automatically appear in your plentymarkets back end.
Now let’s talk about what happens if returns are deactivated. If you select "Deactivated" here then customers will not see this button. Deactivated means that customers won’t be able to initiate a return on their own and the corresponding data record will not automatically appear in your plentymarkets back end.
Instead, you’ll need to open up plentymarkets and create the return manually.</p>
</div>
<div class="paragraph">
<p>Stay tuned because that’s exactly where we’re going in the next video. So grab a cup of coffee, and when you’re ready, continue on with the next video, where you’ll learn how to manually create returns in your plentymarkets back end.</p>
</div>
</div>
</div>
</main>