<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikelstruktur und Importoptionen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Analogie eines Hauses mit Eltern und Kinder macht dir auf einfache Art verständlich, wie Artikel in deinem System strukturiert sind. Außerdem erhältst du Infos über die vielen Möglichkeiten, deine Artikel ins System zu bekommen.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/artikel/artikelstruktur-unterschied#video">Was ist der Unterschied zwischen Artikeln und Varianten? (0:20)</a></p>
<p class="tableblock"><a href="/videos/artikel/artikelstruktur-importieren#video">Wie kann ich Artikeln in plentymarkets importieren? (3:43)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/257449655#at=223" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Jetzt, da du plentymarkets hast, ist es an der Zeit, deine Artikel in die große weite Welt des Online-Handels zu bringen. Aber bevor du damit beginnst, sollten wir noch über einige Grundlagen sprechen. Wie sind deine Artikel aufgebaut, welche Rollen spielen Varianten und Vererbung und wie bekommst du eigentlich deine Artikel manuell oder via Import in dein System?</p>
</div>
<div class="paragraph">
<p>Fangen wir direkt an! Stellen wir uns den Artikel als Familienheim vor. In diesem Haus leben Eltern mit ihren Kindern. Das Haus stellt den Rahmen für das Familienleben. Mit anderen Worten werden am Artikel wesentliche Daten, die den Artikel betreffen, global und für alle Varianten gültig hinterlegt. An der Hauptvariante hinterlegst du vor allem Informationen, die dann für alle Varianten dieser Hauptvariante gelten können. Anders gesagt können also Informationen wie der Verkaufspreis von den Eltern bzw. der Hauptvariante an die Kinder bzw. die Varianten vererbt werden. Alle Varianten, also auch die Hauptvariante, sind dann deine Produkte, die du über alle möglichen Kanäle verkaufen kannst.</p>
</div>
<div class="paragraph">
<p>Schauen wir uns das im Detail an diesem Waschbären-Shirt an: Im Tab Global hinterlegst du beispielsweise Einstellungen zum Hersteller oder zum Zustand. Im Tab Texte Hinterlegst du dagegen zentral deine Text wie Namen und Beschreibungen.</p>
</div>
<div class="paragraph">
<p>Wenn du einen neuen Artikel angelegt hast wird auch automatisch die Hauptvariante, die du nicht mehr ohne weiteres löschen kannst, erstellt. Hier erkennst du direkt, dass dieser Artikel für 29,99€ verkauft wird. Das ist auch schon eine der Hauptaufgaben der Elternvariante: Du pflegst wichtige Informationen wie eben zum Beispiel den Preis einmalig und kannst diesen an die Kindervariante weitervererben. Und nicht vergessen, die Verkaufspreise konfigurierst du natürlich noch bevor du neue Artikel anlegst.</p>
</div>
<div class="paragraph">
<p>Du denkst jetzt "Kindervarianten"? Angenommen du verkaufst T-Shirts. Die Hauptvariante hast du angelegt und kannst nun Attribute miteinander verknüpfen und so Varianten bilden. Du hast zum Beispiel die Attribute Farbe und Größe. Daraus werden dann die Variante Gelb/Größe S, Gelb/Größe M, Gelb/Größe L usw. gebildet.
Nur noch kurz einen Hinweis zur Hauptvariante: Diese kann nämlich ein verkaufbares oder ein virtuelles Produkt sein. Dabei ist ein virtuelles Produkt viel unspektakulärer, als sein Name vermuten lässt. Als virtuelles Produkt dient nämlich die Hauptvariante ausschließlich dazu die anderen Varianten zu verwalten. Letztlich meint virtuelles Produkt eine Variante, die nicht kaufbar ist.</p>
</div>
<div class="paragraph">
<p>Innerhalb der gebildeten Varianten hast du dann die Wahl. Es könnte ja sein, dass eine Variante preislich von der Hauptvariante abweicht. Ist dies der Fall hebst du ganz einfach die Vererbung auf und pflegst den Verkaufspreis an jeder Variante separat. Du hast sogar die Möglichkeit ein Artikelbild mit einer Variante zu verknüpfen, sodass im Webshop dann auch ein Bild eines gelben T-Shirts bei der Variante Gelb angezeigt wird.</p>
</div>
<div class="paragraph">
<p>Das Schöne an den Varianten ist, dass du viele Möglichkeiten hast deine Produkte, die du zum Kauf anbietest, zu
strukturieren. Du solltest nur daran denken, dass du deine Attribute anlegen und pflegen musst um Varianten optimal einzusetzen. Schau doch unsere weiterführenden Videos an und lerne im Detail wie du Artikel anlegen kannst.</p>
</div>
<div class="paragraph">
<p>So wie ein einzelnes Einfamilienhaus noch lange keine Stadt ausmacht, benötigt man meistens mehr als einen einzelnen Artikel für ein gut laufendes Geschäft. Aber wie genau sorgst du dafür, dass deine Stadt wächst, bzw. wie bekommst du weitere Artikel in dein System?</p>
</div>
<div class="paragraph">
<p>Hier kannst du natürlich deine Artikel manuell anlegen. Klicke einfach den Neu-Button und konfiguriere dann deinen neuen Artikel.</p>
</div>
<div class="paragraph">
<p>Was aber, wenn du bereits über Artikel in digitaler Form verfügst. Beispielsweise hat dir dein Lieferant Artikel in Form von Artikellisten zur Verfügung gestellt.</p>
</div>
<div class="paragraph">
<p>Du hast nun mehrere Möglichkeiten, diese in dein System zu importieren. Hier oben findest du den Menüpunkt Daten. Mit dem ElasticSync kannst du beispielsweise Artikeldaten aus einer CSV-Datei in dein System importieren.</p>
</div>
<div class="paragraph">
<p>Vielleicht hast du aber deine Artikel bereits auf eBay gelistet. Dann kannst du einfach die eBay-Importfunktion nutzen, um die gelisteten Artikel in dein System zu importieren.</p>
</div>
<div class="paragraph">
<p>Arbeitest du beispielsweise als Dropshipper und und beziehst deine Artikeldaten in Echtzeit über den Lieferanten, bietet sich in plentymarkets der ElasticSync an. Installiere ganz einfach das ElasticSync-Plugin in deinem System und importiere damit große Datenmenge automatisiert in dein System.</p>
</div>
<div class="paragraph">
<p>Du weißt jetzt also wie ein Artikel aufgebaut ist und wie du bereits bestehende Artikel in dein System bekommst. Verliere also keine Zeit und baue dir deinen Artikelstamm auf!</p>
</div>
</div>
</div>
</main>