<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Attribute und Varianten anlegen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn deine Kunden zwischen mehreren Artikelausführungen entscheiden sollen, heißt die Lösung: Varianten! Doch ohne Attribute keine Variantenartikel! Wie du beides anlegst und welche Rolle diese Einstellungen überhaupt spielen, erfährst du in diesem Video.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/artikel/attribute-anlegen#video">Attribute verstehen und anlegen (0:55)</a></p>
<p class="tableblock"><a href="/videos/artikel/attribute-variante#video">Varianten erstellen (2:15)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/265389643#at=55" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>In unseren letzten Tutorials hast du mehr und mehr über die Welt der Artikel gelernt.
Welche Daten wichtig bei der Erstellung eines Artikel sind. Und dass Vererbung eine große Rolle in der familienartigen Struktur spielt.</p>
</div>
<div class="paragraph">
<p>Nun ist ja jedes Familienmitglied eigen.
Oder wie plentymarkets sagen würde: eine Variante!
Aber was macht denn eine Variante überhaupt so besonders? Attribute!
Sie sind dafür verantwortlich, dass Varianten überhaupt entstehen können.
Also wenn du deinen Kunden Artikel in mehreren Ausführungen anbieten möchtest, dann ist dieses Video für dich!
Bevor wir weitermachen, lass uns aber noch kurz den Unterschied zwischen Attributen und Merkmalen oder Eigenschaften klären, denn beide zu verwechseln geht schnell.</p>
</div>
<div class="paragraph">
<p>In plentymarkets nutzen wir Merkmale oder Eigenschaften, um Eigenheiten in Form von Features auszudrücken.
Dabei handelt es sich um passive Charakteristiken, die du nicht unbedingt brauchst, um Artikel anlegen zu können, die aber zum Beispiel bestimmte technische Daten hervorheben.
Wie beispielsweise WLAN-Fähigkeit.</p>
</div>
<div class="paragraph">
<p>Und jetzt geht es wieder weiter mit dem eigentlichen Thema:
Das T-Shirt aus den letzten Videos soll uns auch hier wieder als Beispiel dienen - nur dieses Mal stellen wir uns vor, dass wir nicht nur ein einziges Shirt verkaufen, sondern der Kunde die Auswahl zwischen verschiedenen Farben und Größen hat.
Egal, ob du alles manuell anlegst oder per Import einer csv-Datei:
Attribute gehören zu den Artikeldaten, die zentral im Systemmenü angelegt und schließlich mit dem Artikeldatensatz verknüpft werden.
Das macht die Verwaltung schön übersichtlich und flexibel.</p>
</div>
<div class="paragraph">
<p>Das war jetzt erstmal viel Theorie, also wandeln wir jetzt doch das "Blabla" in ein "aha!" um!
Bei unserem Beispiel, dem Waschbär-T-Shirt kann der Kunde zwischen unterschiedlichen Größen und Farben wählen.
Jede Art der Ausführung ist ein eigenes Attribut.
Die eigentlichen Ausführungen werden dann als Attributwerte hinterlegt.
Also ist das erste Attribut hier "Größe" mit den Werten S, M, L.
Für die Farbauswahl benötigst du nun ein weiteres Attribut im System.
Also der Kern der Attributanlage ist eigentlich nur ein Name und schließlich deine Attributwerte.
In unserem Fall die Farben rot, gelb und schwarz.
Ziemlich easy, nicht?</p>
</div>
<div class="paragraph">
<p>In plentymarkets wird dir beim Thema "Namen" wahrscheinlich häufig der Begriff "intern" begegnen, was nichts anderes bedeutet als der Name, der nicht für die Kunden sichtbar ist, sondern nur für dich.
Als kleine Faustregel gilt: Halte den Backend-Namen so einzigartig/individuell wie möglich und den Frontend-Namen so einfach wie möglich.
Attribute sind übrigens multilingual.
Also wenn du alles auch auf Bulgarisch, Chinesisch, Englisch etc brauchst, benötigst du keine extra Attribute, sondern pflegst den Namen sowie die Werte einfach in mehreren Sprachen.
So, Größe, Farbe, Check, Check!</p>
</div>
<div class="paragraph">
<p>Sobald die Attribute einmal im System hinterlegt sind, kannst du Artikel in verschiedenen Ausführungen erstellen.
Hier ist unser T-Shirt, frisch angelegt mit den wichtigsten Artikeldaten. Aber ohne Attribute.
Varianten werden über die Artikelebene erstellt und somit der Artikel-ID untergeordnet.
Also Bienchen und Blümchen: Erstellen wir uns eine neue Variante!
Letzlich entstehen sie durch die Kombination deiner Attribute und der Attributwerte.
In diesem Beispiel: Farbe und Größe = 9 Varianten.</p>
</div>
<div class="paragraph">
<p>Sollten einmal neue Werte hinzukommen, kannst du diese einfach ergänzen und daraus Varianten erstellen.
Aber bei komplett neuen Attributen klappt das nicht, also solltest du darauf achten, dass du wirklich alle Attribute im System hast.</p>
</div>
<div class="paragraph">
<p>Und Freunde des automatischen Imports: Attribute könnt ihr in den CSV-Dateien auf zweierlei Weise schreiben, damit sie korrekt zugeordnet werden.
Deine Varianten erhalten jeweils eine eigene ID, über die du sie komfortabel finden kannst und sehen eigentlch genauso aus wie die Hauptvariante.</p>
</div>
<div class="paragraph">
<p>Außer, dass sie mit Attributen versehen wurden, und die Fähigkeit haben von deiner Hauptvariante zu erben, sprich: Einstellungen, die für alle gleich sein sollen, brauchst du nur über deine Hauptvariante zu pflegen.
Aber "individuell" ist ihr zweiter Vorname.
Denn nun hast du die Möglichkeit für jede Farbe ein eigenes Bild hochzuladen.
Eigene Barcodes zu hinterlegen.
Eigene Bestände zu pflegen.
Oder vielleicht doch den Preis für große Größen noch etwas zu verändern? Es liegt ganz bei dir!
Varianten eröffnen dir eine neue Welt voller Möglichkeiten.</p>
</div>
<div class="paragraph">
<p>Tada, du hast in kurzer Zeit gelernt, wie man Attribute anlegt. Also leg direkt los und leg deine Produkte mit verschiedenen Varianten an.
Deine Kunden werden es dir danken!</p>
</div>
</div>
</div>
</main>