<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Pflichtfelder und wichtige Artikeldaten</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Um einen Artikel überhaupt anlegen zu können, müssen bestimmte Pflichtfelder gefüllt sein. Aber damit er auch wirklich zum Verkauf angeboten werden kann, spielen noch weitere Faktoren eine große Rolle. Lerne, wie du mit wenigen Einstellungen einen verkaufbaren Artikel erstellst.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/artikel/pflichtfelder-drei#video">Die drei Pflichtfelder bei der Neuanlage (1:07)</a></p>
<p class="tableblock"><a href="/videos/artikel/pflichtfelder-einstellungen#video">Wichtige Einstellungen am Artikel (2:10)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/263297236#at=67" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Im letzten Video hast du dich mit der Artikelstruktur in plentymarkets auseinander gesetzt?
Gut, denn dieses Wissen ist essentiell für alles was folgt.
Womit geht es also weiter?</p>
</div>
<div class="paragraph">
<p>Egal ob du deine Artikel manuell einpflegst oder per praktischem Import; die Frage, die wir uns in diesem Video stellen ist:
Welche Angaben solltest du denn eigentlich mindestens im System haben, damit du einen speicherbaren und vor allem verkaufbaren Artikel auf all deinen Verkaufskanälen zeigen kannst?</p>
</div>
<div class="paragraph">
<p>First things first: Als erfolgreicher Händler hast du dir sicher schon Gedanken über deine Shopstruktur gemacht, sprich: Welche Kategorien für deine Artikel in Frage kommen.
Wenn nicht, ist genau jetzt der richtige Zeitpunkt dafür.
Denn Kategorien sind nicht nur eine Pflichtangabe in plentymarkets, sondern begegnen dir in deinem Webshop, auf Marktplätzen und last but not least sorgen sie für eine ordentliche Sortierung deiner Ware im Backend.</p>
</div>
<div class="paragraph">
<p>Damit du dir bei deinen ersten Schritten durchs Backend nicht total überrumpelt vorkommst und dir die Zusammenhänge der Artikelebenen etwas klarer werden, bewegen wir uns wie bei einer manuellen Anlage.
Allerdings soll dir dieses Video zur Orientierung dienen, egal, ob du per Hand oder automatisch per Import deine Artikel erstellst.
Es steht dir natürlich frei sämtliche Angaben zu pflegen - die Hauptsache, damit du beim Anlegen keine Fehlermeldung erhältst sind allerdings erstmal 3 Pflichtfelder.</p>
</div>
<div class="paragraph">
<p>Das wäre einmal der Name des Artikels, der Inhalt, also woraus dein Artikel eigentlich besteht und schließlich die Kategorie, in die er passt.
Und keine Bange, das ist natürlich alles nicht in Stein gemeißelt, sondern kann bearbeitet werden.</p>
</div>
<div class="paragraph">
<p>Mit diesen 3 Angaben - Name, Inhalt, Kategorie - hast du es also schon mal geschafft, dass du den Artikel überhaupt anlegen kannst und er sähe hypothetisch so aus.
Überwältigend. Nicht. Und so wird dein Artikel natürlich auch nicht aussehen.
Aber es zeigt dir, dass nach der Anlage noch mehr zu tun ist, damit deine Ware mit einigen wichtigen Angaben verkaufbar gemacht wird.
Die Artikelstruktur bietet dir durch Varianten eine Vielzahl an Einstellungen, die du entweder für jede Ausführung individuell, also auf Variantenebene oder für den gesamten Datensatz, also auf Artikelebene, vornimmst.</p>
</div>
<div class="paragraph">
<p>Texte dienen zur Beschreibung deines Artikels also: wichtig.
Mit Vorschau- und Beschreibungstexten, sowie Technischen Daten erhält dein Kunde alle wichtigen Infos und ist somit dem "Kaufen"-Button einen Schritt näher.
Und da dein Kunde deinen Artikel auch gern "sehen" möchte, hinterlegst du am besten noch ein passendes Bild.
Das sind die Basics für ein gut beschriebenes und attraktives Angebot und wie gesagt kannst du sie entweder für den gesamten Datensatz oder, falls du verschiedene Ausführungen hast, jeweils individuell pflegen.</p>
</div>
<div class="paragraph">
<p>Es gibt allerdings auch Einstellungen, die nur auf Variantenebene Sinn machen.
Was uns zu den nächsten Punkten unserer "Must-Haves" bringt:
Deine Artikel zu verschenken ist vielleicht großzügig, aber wirtschaftlich weniger sinnvoll.
Deshalb gehört es zu deinen ersten Schritten, einen Preis zu hinterlegen.</p>
</div>
<div class="paragraph">
<p>Das nächste Thema: Bestand.
Du musst nicht, aber du solltest deinen Bestand in plenty hinterlegen und up to date halten.
Neben Überverkäufen vermeidest du so zum Beispiel auch, dass deine Artikel überhaupt angezeigt werden, wenn sie gar nicht mehr vorrätig sind.
Und schließlich die Freischaltung deines Angebots, damit der Verkauf endlich starten kann.
Zum einen schaltest du den Artikel über die Verfügbarkeit und den Mandanten für deinen Handel allgemein frei.
Zum anderen musst du ihn aktivieren, damit er deinen Kunden angezeigt wird.</p>
</div>
<div class="paragraph">
<p>Und dann sieht dein Artikel schon mal gar nicht schlecht aus!
Du willst jetzt alles auf Hochglanz polieren und hast noch mehr Angaben, die du hinterlegen möchtest?
Oder du möchtest, dass deine Kunden zwischen mehreren Ausführungen wählen können?
Dann mach dich bereit für das nächste Video, in dem wir uns ein Fallbeispiel anschauen, dass all deine Fragen beantworten sollte!</p>
</div>
</div>
</div>
</main>