<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Vererbung</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">An der Hauptvariante eines Artikels hinterlegte Daten können schnell und einfach an zugehörige Varianten vererbt werden.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/artikel/vererbung-was#video">Was kann vererbt werden? (1:00)</a></p>
<p class="tableblock"><a href="/videos/artikel/vererbung-darstellung#video">Darstellung der Vererbung (1:37)</a></p>
<p class="tableblock"><a href="/videos/artikel/vererbung-verkaufspreise#video">Verkaufspreise erben (2:51)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/167716545" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Es gibt kein Transkript für dieses Video.</p>
</div>
</div>
</div>
</main>