<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Verkaufspreise verwalten</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkaufspreise sind für dich als Geschäftsmann natürlich ein großes Thema. In plentymarkets verwaltest du sie zentral im Systemmenü - was große Vorteile und sehr viel mehr Flexibilität mit sich bringt. Außerdem kannst du deine Preise auch automatisch kalkulieren lassen. Lerne in diesem Video alles über Verkaufspreise, Preiskalkulationen, deren Einstellungen und deine Möglichkeiten damit.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/artikel/verkaufspreise-preise#video">Preise anlegen (1:17)</a></p>
<p class="tableblock"><a href="/videos/artikel/verkaufspreise-preiskalkulationen#video">Preiskalkulationen anlegen (3:16)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/265406117#at=77" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>"Willkommen in meinem Online-Shop! Meine Produkte kosten keinen Cent!"<br>
Würdest du vielleicht sagen, wenn das Ganze doch eher nur ein Hobby wäre, aber: Du bist Geschäftsmann!</p>
</div>
<div class="paragraph">
<p>Das wirst du heute lernen: Die Verwaltung von Verkaufspreisen für jeden Verkaufskanal, den du möchtest und vielleicht sogar automatisierte Kalkulkationen.
Na, wenn das kein Pageturner ist!
Sag "Willkommen zurück" zu unserem bereits angelegten T-Shirt, das dir sicher mit jedem Video mehr ans Herz wächst.</p>
</div>
<div class="paragraph">
<p>Was einen Preis in plentymarkets am ehestens ausmacht ist wahrscheinlich seine Flexibilität und der Grund dafür ist hauptsächlich, dass du ihn auf Variantenebene pflegst.
Verkaufst du Artikel in mehreren Ausführungen, die alle gleich viel kosten, musst du den Preis nur einmal an der Hauptvariante pflegen und er wird automatisch erstmal für alle weiteren Varianten übernommen.
Danke Vererbungsprinzip!</p>
</div>
<div class="paragraph">
<p>Aber natürlich kannst du bei unterschiedlichen Preisen auch die Vererbung deaktivieren und jede einzelne Variante unterschiedlich einstellen.
Verkaufspreise gehören wie Attribute, Merkmale, Kategorien und so weiter zu den Artikeldaten, die letztendlich über eine Verknüpfung an den Datensatz kommen.
Verwaltet und gepflegt werden sie allerdings zentral im Systemmenü.
Das bringt einige Vorteile mit sich, die sich gleich zeigen werden.</p>
</div>
<div class="paragraph">
<p>Wir hatten am T-Shirt schon einen Preis hinterlegt, mit dem kreativen Namen: Preis.
Den finden wir hier auch wieder und auch in deinem System sollten standardmäßig bereits zwei Verkaufspreise vorinstalliert sein.
Unser "Preis" ist für alle Währungen konfiguriert, alle Mandanten, Kunden und Länder.
Aber nur für Artikel, die in deinem Online-Shop gelistet sind.
Und das ist ein weiterer Punkt für die Flexibilität.
Denn du kannst für jeden Verkaufskanal einen eigenen Preis erstellen und dich so perfekt im Mitbewerb platzieren.
Wenn du das möchtest.
Natürlich kannst du auch einfach einen Preis für alles freischalten.
Aber gehen wir mal davon aus, dass du auf Amazon und ebay vertreten bist und du möchtest jeweils unterschiedliche Preise anbieten.</p>
</div>
<div class="paragraph">
<p>ebay haben wir schon, fehlt also noch Amazon.
Ein neuer Preis benötigt eine Position, also Sortierung, einen Namen, und auch wieder intern, also nur für dich, und extern, also für den Kunden, ab welcher Menge er gilt Währung und schließlich einige Freischaltungen nach deinen Belieben.
Die Herkunft ist schließlich der Ort, an dem du deinen Artikel zum Verkauf anbietest.
Und da wir diesen Preis gern für Amazon nutzen möchten, müssen wir auch die passende Plattform und das verknüpfte Amazon-Konto freischalten.</p>
</div>
<div class="paragraph">
<p>Und schon haben wir uns einen neuen Verkaufspreis erstellt.
Übrigens auch mit einer automatisch vergebenen ID, das heißt bei einem Import kannst du diese in deiner CSV-Datei ergänzen und somit den korrekten Preis hinterlegen.
Dabei passiert dann letztendlich auch nichts anderes als eine Verknüpfung mit deinen Varianten.
Auf Amazon wollen wir in diesem Beispiel etwas günstiger sein, also geben wir den Preis ein und würden dann mit der Amazon-Verknüpfung und Freischaltung weitermachen.</p>
</div>
<div class="paragraph">
<p>Ein Weg, unterschiedliche Preise zu pflegen. Aber vielleicht hast du ja gar keine Lust, dir überall komplett neue Preise zu berechnen, sondern möchtest zum Beispiel immer automatisch 120% Gewinnspanne auf deinen Einkaufspreis kalkulieren? Geht auch!
Und zwar so: Du wählst einen Verkaufspreis oder erstellst dir einen neuen, den du automatisch berechnet haben möchtest.</p>
</div>
<div class="paragraph">
<p>In unserem Beispiel soll das jetzt der ebay-Preis sein, den wir zwar erstellt, aber noch nicht verknüpft haben.
Dazu benötigen wir eine "Preiskalkulation".
Neue Preiskalkulationen benötigen einen Namen, der aber nur für dich sichtbar ist und eine Preisquelle, also was wird als Grundlage genutzt.
In diesem Beispiel: Der Einkaufspreis, den wir am Artikel gepflegt haben.
Hast du an der Stelle auch noch weitere Kosten eingetragen für Transport, Lagerung etc, kannst du diese auch schon auf den EK rechnen.</p>
</div>
<div class="paragraph">
<p>In unserem Beispiel möchten wir aber, dass eine Gewinnspanne einem bestimmten Preis hinzugefügt werden soll, also müssen wir die Preisquelle mit ebendiesem verknüpfen.
Ziel ist dann der Preis, bei uns "Preis ebay", wir möchten einen Prozentsatz addieren, dieser beträgt 120%.
Zurück beim Artikel verknüpfen wir zuerst den Zielpreis, also Preis ebay.
Unsere Preiskalkulation betritt die Bühne, speichern, let the magic happen!
Booyah! Welcome to life on easy street
3 verschiedene Preise auf 3 verschiedenen Kanälen in kürzester Zeit.
Verkaufspreise sind essentiell aber gar nicht so schwierig.</p>
</div>
</div>
</div>
</main>