<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Lager anlegen und verwalten</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deine Artikel liegen natürlich nicht irgendwo im Nirgendwo, sondern auf fest definierten Lagerorten. Wie du dein physisches Lager samt komplettem Layout und allen Dimensionen virtuell in plentymarkets überträgst, lernst du in diesem Video.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/warenwirtschaft/lager-anlegen-und-verwalten-neues-lager#video">Neues Lager anlegen (0:53)</a></p>
<p class="tableblock"><a href="/videos/warenwirtschaft/lager-anlegen-und-verwalten-dimensionen#video">Dimensionen verwalten (2:05)</a></p>
<p class="tableblock"><a href="/videos/warenwirtschaft/lager-anlegen-und-verwalten-lagerorte#video">Lagerorte anlegen und generieren (3:28)</a></p>
<p class="tableblock"><a href="/videos/warenwirtschaft/lager-anlegen-und-verwalten-label#video">Label erstellen (4:57)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/271224764#at=208" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Warenwirtschaft - unendliche Weiten …​ deine Artikel trudeln im plentymarkets System umher, schwarze Löcher schlucken ihre Bestände…​oder?
Nee eigentlich nicht! Eigentlich befinden sich deine Artikel ja bereits gut geordnet, sortiert in Regalen, Hallen, Zonen - sie liegen in Lagern!</p>
</div>
<div class="paragraph">
<p>Deine Warenwirtschaft ist ein eigener Kosmos, den du dir gut überlegt und ausgearbeitet hast. Er beinhaltet unterschiedliche Lager mit unterschiedlichen Zwecken, in denen deine Artikel in Dimensionen sortiert sind und auf präzisen Lagerorten liegen, damit deine Mitarbeiter so wegeoptimiert wie möglich arbeiten und die Artikel schnell an deine Kunden verschicken können.
Und egal wie dein Lager-Kosmos auch aufgebaut ist - du kannst ihn sehr einfach in dein plenty System integrieren. Du kannst auf diese bereits bestehenden Lager aufbauen oder du beginnst mit dem Urknall.</p>
</div>
<div class="paragraph">
<p>Es gibt verschiedene Lagertypen - also: Wozu nutzt du dieses Lager?
Liegen dort alle verkäuflichen Artikel und können von dort auf den Weg zum Kunden gehen? Und möchtest du das Lager in automatisierten Prozessen nutzen? Oder dient es zur Lagerung von defekter Ware, die repariert werden und daher erstmal nicht mehr im Webshop angezeigt werden soll?</p>
</div>
<div class="paragraph">
<p>Verschiedene Lagertypen bedeuten verschiedene Funktionen. Welche genau, kannst du detailliert in unserem Handbuch nachlesen.</p>
</div>
<div class="paragraph">
<p>In diesem Beispiel entscheiden wir uns für den Standard - also ein Vertriebslager. Und es gibt unterschiedliche Logistiktypen. Wer führt dein Lager?</p>
</div>
<div class="paragraph">
<p>Wenn du nicht über Dienstleister wie Amazon FBA oder DHL arbeitest, dann hast du also dein "eigenes Lager" und kannst es hier auswählen. Der Urknall also - dein Lager ist erstellt.
Nun gilt es, dieses zu füllen - noch nicht mit Artikeln, sondern mit dem sogenannten Layout. Also Lagerdimensionen wie Halle, Lagerzonen, Regale, Regalböden und so weiter. Und natürlich Lagerorten - den Plätzen, auf denen deine Artikel tatsächlich zu finden sind.</p>
</div>
<div class="paragraph">
<p>Jedes neue Lager zeigt dir zwei Beispieldimensionen, die noch nicht Teil deines Layouts sind, aber auch so schon gespeichert werden können, je nachdem, wie sie in dein tatsächliches Layout passen.
Und mindestens eine benötigst du auf jeden Fall, wenn du dann später deinen Artikel Lagerorten zuweisen willst.</p>
</div>
<div class="paragraph">
<p>Keine Bange, die Einstellungen sind nicht "aus einer anderen Dimension", sondern ganz bodenständig! Gehen wir mal von Böden in Regalen aus, die in Zonen stehen. Die Beispiele hier im System können wir dann so übernehmen, wenn du magst kannst du sie aber auch anpassen.
Fehlt noch die Zone mit einem gut nachvollziehbaren Präfix - da bietet sich ein "Z" an. Der Trenner ist einfach das, was die Präfixe im Lagerortnamen - du ahnst es - trennt.</p>
</div>
<div class="paragraph">
<p>In der Vorschau siehst du, wie deinem Mitarbeiter der eigentliche Platz des Artikels angezeigt, also wie der Lagerortname dann aussehen wird. Also zum Beispiel "Artikel liegt auf Regal 1, Boden 1" + der Lagerort, den wir später erstellen werden.
Unsere eben angelegte Zone wurde natürlich nicht von einem schwarzen Loch verschluckt, sondern im Namen ausgeblendet. Das kann vorteilhaft sein, wenn du zum Beispiel eh nur eine Zone hast und den Namen schön kurz halten möchtest.</p>
</div>
<div class="paragraph">
<p>Egal welche Dimension, du kannst über diese Checkbox einstellen, was im Namen angezeigt wird. Das Gleiche gilt für die Laufwegoptimierung. Du kannst entscheiden, welche Dimensionen in den Laufweg einfließen sollen.</p>
</div>
<div class="paragraph">
<p>So, hast du all deine Dimensionen im System hinterlegt? Dann ist der nächste Schritt, diese Vorschau in etwas Echtes zu verwandeln und die tatsächlichen Lagerorte zu erstellen.
Hier sind deine Dimensionen …​ aber vielleicht hast du dich schon gefragt, woher denn plenty jetzt weiß, wie viele Regale du beispielsweise hast - das kommt jetzt!</p>
</div>
<div class="paragraph">
<p>Hast du beispielsweise zwei Lagerzonen, willst du also wahrscheinlich von Zone 1 bis Zone 2 berücksichtigen. Oder wenn deine Zonen nicht 1 und 2, sondern A und B heißen, geht das natürlich auch. Alle zulässigen Werte, die du hier eintragen kannst, findest du übrigens auch im Handbuch.
Die Startposition zeigt an, wo der Laufweg zum Picken beginnt, in diesem Fall soll das 1 sein.</p>
</div>
<div class="paragraph">
<p>Das machst du für alle Dimensionen, zum Beispiel zwei Zonen mit jeweils 4 Regalen, in denen wiederum 3 Böden liegen. Und dann gehts an die Lagerorte.
In diesem Beispiel wollen wir die Lagerorte A bis Z benennen und starten mit der Position 1 und erhalten mit dem Klick auf Speichern eine Vorschau der ersten und letzten 500 Lagerorte. Das sieht gut aus! Das Präfix SL steht hier übrigens für Storage Location und ist kein Pflichtfeld. Außerdem kannst du es nach Belieben anpassen.
Also: Vorbereiten auf Lichtgeschwindigkeit!</p>
</div>
<div class="paragraph">
<p>Dein System generiert die Lagerorte im Hintergrund und je nachdem, wie viele Kombinationen du hast, kann es etwas dauern, bis die Lagerortnamen korrekt angezeigt werden.
So einfach geht das. Für deine Lagerorte kannst du übrigens auch Label drucken, die du natürlich vorab so konfigurieren kannst, wie es dir am besten passt.</p>
</div>
<div class="paragraph">
<p>Mit deinem Scanner kannst du schnell deine Label erfassen und somit deine Artikel den korrekten Lagerorten zuweisen.
Lager anlegen? Kannst du! Zeit, deinen eigenen Kosmos zu erstellen. Viel Spaß beim Ausprobieren! Lebe lang und in Frieden!</p>
</div>
</div>
</div>
</main>