<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#ansicht-einrichten"><span>1.</span><span> Ansicht einrichten</span></a></li>
<li><a href="#kontakt-erstellen"><span>2.</span><span> Kontakt erstellen</span></a></li>
<li><a href="#vorausgewaehlte-felder-neuer-kontakt"><span>3.</span><span> Automatisch vorausgewählte Felder</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kontakt erstellen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph previous-next-navigation">
<p><a href="/crm/kontakte/vorbereitende-einstellungen"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Vorbereitende Einstellungen</a>
<a href="/crm/kontakte/kontakt-suchen">Kontakt suchen <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>Du möchtest ganz einfach, schnell und mit einer individuell anpassbaren Bedienoberfläche neue Kontakte zum Beispiel während eines Telefonats erstellen? Richte dir zunächst eine <a href="#ansicht-einrichten">neue Ansicht</a> ganz nach deinen Wünschen ein.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="ansicht-einrichten">1. Ansicht einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Bedienoberfläche zum Erstellen eines neuen Kontakts erlaubt dir viel Flexibilität beim Anordnen von Inhalten und Daten. Grundsätzlich platzierst du Darstellungsbereiche und Elemente intuitiv per Drag-and-drop. Jeder Bereich und jedes Element kann per Klick auf <strong>Ansicht bearbeiten</strong> (<span class="icon "><i class="psicon-design_inline_edit"></i></span>) oben rechts im Kontaktdatensatz weiter bearbeitet werden. <a href="#table-functions-new-contact">Tabelle 1</a> enthält einen Überblick über die Funktionen, die im Bearbeitungsmodus des Kontaktdatensatzes zur Verfügung stehen.</p>
</div>
<table id="table-functions-new-contact" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verfügbare Funktionen beim Erstellen eines neuen Kontakts</caption>
<colgroup>
<col style="width: 22.2222%;">
<col style="width: 11.1111%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bedienelement</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Symbol</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erläuterung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ansicht bearbeiten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-design_inline_edit"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet den Kontaktdatensatz zur Bearbeitung.<br>
<strong><em>Hinweis:</em></strong> In der Standardansicht sind die Bereiche <strong>Firma</strong>, <strong>Adressdetails</strong> und <strong>Kontaktdetails</strong> sichtbar. Du kannst hier die Komponenten per Drag-and-drop an einer anderen Stelle positionieren und die Größe der Komponenten anpassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rückgängig</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-undo"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Macht die letzte Änderung rückgängig, soweit die betreffende Änderung noch nicht gespeichert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wiederherstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-redo"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt eine rückgängig gemachte Änderung wieder her.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standardansicht</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Bereich zeigt an, welche Ansicht aktuell geöffnet ist. Klicke auf <span class="icon darkGrey"><i class="fa fa-sort-down  "></i></span>, um zu einer anderen Ansicht zu wechseln oder eine neue Ansicht zu erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Letzten Speicherpunkt wiederherstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-history"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt den Kontaktdatensatz auf den Stand zurück, der beim letzten Speichern vorhanden war.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Speichern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-save"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Speichert die am Kontaktdatensatz vorgenommenen Änderungen. Auf diese Weise kannst du beliebig viele Ansichten nach deinen Wünschen speichern.<br>
Wenn du das nächste Mal einen Kontaktdatensatz erstellen möchtest, kannst du die von dir bevorzugte Ansicht über die Dropdown-Liste oben rechts öffnen und mit dem Erstellen eines neuen Kontakts beginnen. Ebenfalls über diese Dropdown-Liste erstellst du mit einem Klick auf <span class="icon "><i class="fa fa-plus  "></i></span> <strong>Neue Ansicht erstellen</strong> eine neue Ansicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-more_vert"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit einem Klick auf dieses Symbol zwischen den Komponenten fügst du Spalten und Zeilen hinzu oder entfernst diese oder du verkleinerst bzw. vergrößerst die Spalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bearbeiten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-edit"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du die Komponente bearbeitest, siehst du auf der rechten Seite im Bereich <strong>Elemente</strong>, welche Elemente in dieser Komponente noch nicht verwendet wurden und dir somit noch zur Verfügung stehen. Bereits verwendete Elemente sind deaktiviert und können <em>nicht</em> ein weiteres Mal verwendet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-delete"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löscht die Komponente.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schließen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="material-close"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beendet den Bearbeitungsmodus. Wenn du die Änderungen nicht gespeichert hast, wird eine Sicherheitsabfrage angezeigt.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="kontakt-erstellen">2. Kontakt erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe nun wie im Folgenden beschrieben vor, um einen Kontakt zu erstellen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Die folgende Handlungsanweisung beschreibt die Standardansicht mit den 3 Komponenten <strong>Firma</strong>, <strong>Adressdetails</strong> und <strong>Kontaktdetails</strong> mit allen Feldern. Je nachdem, wie du deine Bedienoberfläche später anpasst, können die in <a href="#table-create-contact">Tabelle 2</a> beschriebenen Einstellungen von der Ansicht in deinem plentymarkets System abweichen.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kontakt erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Kontakte (Testphase)</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="fa fa-plus  "></i></span> <strong>Neuer Kontakt</strong>.<br>
→ Die Standardansicht wird angezeigt. Die Standardansicht besteht aus 3 Bereichen: Firma, Adressdetails, Kontaktdetails.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in Tabelle <a href="#table-create-contact">Tabelle 2</a> und die Informationen zu den bereits <a href="#vorausgewaehlte-felder-neuer-kontakt">vorausgewählten Feldern</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon "><i class="material-save"></i></span>) die Einstellungen.<br>
→ Der Kontakt wird erstellt.</p>
</li>
</ol>
</div>
<table id="table-create-contact" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Kontakt erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Firma</strong><br>
Mit einem Klick in das Feld <strong>Firma suchen</strong> kannst du nach <a href="/crm/firmen">bestehenden Firmendatensätzen</a>, die du im Menü <strong>CRM » Firmen</strong> bereits erstellt hast, suchen. Gib dort mindestens 3 Buchstaben des Namens, des Orts, der Straße oder des Landes der Firma ein.<br>
Wenn du eine Firma aus der Vorschlagsliste gewählt hast, wird diese automatisch in das Feld <strong>Firma (Name 1)</strong> im Bereich <strong>Adressdetails</strong> übernommen.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Adressdetails</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnungsadresse</strong> / <strong>Lieferadresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), ob es sich bei der Adresse, um die Rechnungsadresse oder die Lieferadresse oder beide Adressen handelt.<br>
<strong><em>Hinweis:</em></strong> Beide Adresstypen sind bereits automatisch vorausgewählt (<span class="icon blue"><i class="fa fa-check-square  "></i></span>). Du kannst die Einstellungen vor dem Speichern natürlich anpassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anrede</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet die Anrede des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Firma (Name 1)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet der Name der Firma? Dies ist ein Pflichtfeld, wenn du in den Feldern <strong>Vorname (Name 2)</strong> und <strong>Nachname (Name 3)</strong> nichts eingibst.<br>
<strong><em>Hinweis:</em></strong> Wenn du die Firma aus der Vorschlagsliste im Bereich <strong>Firma</strong> gewählt hast, wird diese automatisch in dieses Feld hier übernommen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorname (Name 2)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet der Vorname des Kontakts? Dies ist ein Pflichtfeld, wenn du in den Feldern <strong>Firma (Name 1)</strong> und <strong>Nachname (Name 3)</strong> nichts eingibst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachname (Name 3)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet der Nachname des Kontakts? Dies ist ein Pflichtfeld, wenn du in den Feldern <strong>Firma (Name 1)</strong> und <strong>Vorname (Name 2)</strong> nichts eingibst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Adresse 1 (Straße)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet die Straße des Kontakts? Dies ist ein Pflichtfeld, wenn du in den Feldern <strong>Adresse 2 (Hausnummer)</strong> und <strong>Adresse 3 (Adresszusatz)</strong> nichts eingibst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Adresse 2 (Hausnummer)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet die Hausnummer des Kontakts? Dies ist ein Pflichtfeld, wenn du in den Feldern <strong>Adresse 1 (Straße)</strong> und <strong>Adresse 3 (Adresszusatz)</strong> nichts eingibst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Adresse 3 (Adresszusatz)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Möchtest du einen Adresszusatz eingeben? Zum Beispiel: Apartment 12a. Dies ist ein Pflichtfeld, wenn du in den Feldern <strong>Adresse 1 (Straße)</strong> und <strong>Adresse 2 (Hausnummer)</strong> nichts eingibst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Adresse 4 (Frei)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieses Feld steht zur freien Verfügung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail-Adresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet die E-Mail-Adresse des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Telefon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet die Telefonnummer des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>USt-IdNr.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Möchtest du für den Kontakt eine Umsatzsteuer-Identifikationsnummer speichern?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ansprechpartner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Möchtest du für den Kontakt eine Ansprechpartner:in speichern?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Personennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hat der Kontakt eine Personennummer?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Postnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hat der Kontakt eine Postnummer?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Geburtsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet das Geburtsdatum des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Postleitzahl</strong> / <strong>Ort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lauten Postleitzahl und Ort des Kontakts? Das Feld <strong>Ort</strong> ist ein Pflichtfeld.<br>
Diese Angaben werden z.B. für die Rechnungsadresse verwendet. Bei bestimmten Ländern, z.B. Vereinigtes Königreich, wird die Reihenfolge von Postleitzahl und Ort getauscht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land</strong><br>
<strong>Region/Bezirk</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Werte aus den Dropdown-Listen.<br>
<strong><em>Hinweis:</em></strong> Die Dropdown-Liste <strong>Region/Bezirk</strong> ist <em>nicht</em> für alle Länder verfügbar.<br>
<strong><em>Hinweis:</em></strong> Die Einstellung <strong>Deutschland</strong> ist bereits automatisch vorausgewählt. Du kannst die Einstellung vor dem Speichern natürlich anpassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Kontaktdetails</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anrede</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet die Anrede des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Titel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet der Titel des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet der Vorname des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet der Nachname des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail privat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet die private E-Mail-Adresse des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail geschäftlich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet die geschäftliche E-Mail-Adresse des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Telefon privat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet die private Telefonnummer des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Telefon geschäftlich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet die geschäftliche Telefonnummer des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mobil privat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet die private Handynummer des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mobil geschäftlich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet die geschäftliche Handynummer des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fax privat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet die private Faxnummer des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fax geschäftlich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet die geschäftliche Faxnummer des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webseite privat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet die private Webseite des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webseite geschäftlich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet die geschäftliche Webseite des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay Benutzername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet der eBay-Benutzername des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Möchtest du eine eigene Kundennummer für den Kontakt speichern? Kundennummern können für eine eigene interne Zuordnung genutzt werden und werden <em>nicht</em> automatisch vergeben. Du entscheidest, ob und in welcher Form du interne Kundennummern verwenden möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Externe Nummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Möchtest du eine externe Nummer für den Kontakt speichern? Externe Nummern können für interne Zwecke genutzt werden und werden nicht automatisch vergeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bewertung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Möchtest du bereits jetzt eine Bewertung für diesen Kontakt speichern? Diese Einstellung dient nur für interne Zwecke.<br>
5 rote Sterne stehen für die schlechteste und 5 gelbe Sterne für die beste Bewertung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gastzugang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Möchtest du keinen Kontaktdatensatz, sondern einen Gastzugang erstellen? Dann wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) diese Option.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Debitorenkonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Möchtest du weitere separate Kundennummern speichern? Die Nummer des Debitorenkontos entspricht in der Regel der Kundennummer bzw. Debitorennummer in deiner Finanzbuchhaltung und ist zur weiteren Bearbeitung deiner Belege hilfreich. Dieses Feld kann ggf. auch automatisch befüllt werden.
Weitere Informationen zum Debitorenkonto findest du auf der Handbuchseite <a href="/auftraege/buchhaltung#750">Buchhaltung</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Geburtsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet das Geburtsdatum des Kontakts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welcher Typ soll dem Kontakt zugeordnet werden?<br>
<strong><em>Hinweis:</em></strong> Der Typ <strong>Kunde</strong> ist automatisch vorausgewählt. Dies ist der <a href="/crm/kontakte/vorbereitende-einstellungen#typ-erstellen">Typ</a> mit der niedrigsten ID im Menü <strong>Einrichtung » CRM » Typen</strong>. Du kannst die Einstellung vor dem Speichern natürlich anpassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Klasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welche Klasse soll dem Kontakt zugeordnet werden?<br>
<strong><em>Hinweis:</em></strong> Die <a href="/crm/kontakte/vorbereitende-einstellungen#kundenklasse-erstellen">Kundenklasse</a> mit der niedrigsten Position, die du im Menü <strong>Einrichtung » CRM » Kundenklassen</strong> gespeichert hast, ist hier automatisch vorausgewählt. Du kannst die Einstellung vor dem Speichern natürlich anpassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welcher Mandant soll dem Kontakt zugeordnet werden?<br>
<strong><em>Hinweis:</em></strong> Der Standardmandant ist hier automatisch vorausgewählt. Du kannst die Einstellung vor dem Speichern natürlich anpassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welche Sprache spricht der Kontakt?<br>
<strong><em>Hinweis:</em></strong> Abhängig von der gewählten Standardeinstellung im System, ist hier die Systemsprache automatisch vorausgewählt. Du kannst die Einstellung vor dem Speichern natürlich anpassen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontakt gesperrt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, ob der Kontakt für den eingestellten Mandanten gesperrt sein soll oder nicht.<br>
Wenn die Option gewählt ist (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), ist der Kontakt gesperrt und kann sich <em>nicht</em> mehr in deinem plentyShop einloggen. Wenn die Option nicht gewählt ist (<span class="icon "><i class="fa fa-square-o  "></i></span>), kann sich der Kontakt in deinem plentyShop einloggen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welcher Eigner soll dem Kontakt zugeordnet werden? Wähle einen Namen aus der Dropdown-Liste.<br>
<strong><em>Hinweis:</em></strong> In der Liste werden alle Benutzer:innen (Eigner) angezeigt, bei denen im Benutzer:innenkonto im Tab <strong>Eigner</strong> die Option <strong>Kunde</strong> aktiviert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Möchtest du dem Kontakt Tags zuweisen? Wähle die Tags aus der Vorschlagsliste.<br>
In dieser Liste erscheinen alle Tags, die du im Menü <strong>Einrichtung » Einstellungen » Tags</strong> <a href="/crm/kontakte/vorbereitende-einstellungen#tags-erstellen">erstellt</a> hast und die für den Bereich <strong>Kontakte</strong> aktiviert wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnung erlauben</strong> / <strong>Lastschrift erlauben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du die beiden Zahlungsarten <strong>Rechnung</strong> und <strong>Lastschrift</strong> bereits in der <a href="/crm/kontakte/vorbereitende-einstellungen#kundenklasse-erstellen">Kundenklasse</a> erlaubt hast, musst du hier <em>keine</em> Einstellungen vornehmen. Denn: Die Einstellungen in der Kundenklasse haben Priorität vor den Einstellungen im Kontaktdatensatz.<br></p>
<p class="tableblock"><span class="icon blue"><i class="fa fa-check-square  "></i></span> = Der Kontakt kann mit dieser Zahlungsart zahlen, selbst wenn du diese Zahlungsart sonst <em>nicht</em> in deinem plentyShop anbietest.<br></p>
<p class="tableblock"><strong><em>Beispiel:</em></strong> Ein Kontakt, der bereits mehrfach bei dir bestellt hat, soll auf Rechnung einkaufen können.<br></p>
<p class="tableblock">Notwendige Einstellungen:<br>
- Aktiviere die Zahlungsart im Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>, damit diese Zahlungsart im Auftrag zur Verfügung steht.<br>
<strong><em>Wichtig:</em></strong> Wähle keine Lieferländer, weil die Zahlungsart ansonsten in deinem plentyShop verfügbar ist und dies in diesem Fall nicht gewünscht ist.<br></p>
<p class="tableblock">- Die Zahlungsart <strong>Rechnung</strong> bzw. <strong>Lastschrift</strong> muss in mindestens einem Versandprofil verfügbar sein, d.h. sie darf dort <em>nicht</em> gesperrt sein.<br></p>
<p class="tableblock">- Aktiviere das Versandprofil bei den Artikeln.<br></p>
<p class="tableblock">Prüfe die hier genannten notwendigen Einstellungen und aktiviere dann die Zahlungsart, um dem Kontakt die Nutzung dieser Zahlungsart zu erlauben.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="vorausgewaehlte-felder-neuer-kontakt">3. Automatisch vorausgewählte Felder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du einen neuen Kontakt erstellst, sind einige Felder bereits vorausgewählt. Diese Felder kannst du natürlich vor dem Speichern des neuen Kontaktdatensatzes anpassen. Im Folgenden werden die vorausgewählten Felder aufgelistet:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In den Adressdetails:</p>
<div class="ulist">
<ul>
<li>
<p>der Adresstyp <strong>Rechnungsadresse</strong></p>
</li>
<li>
<p>das Land <strong>Deutschland</strong> (das ist abhängig von der gewählten Standardeinstellung im System)</p>
</li>
</ul>
</div>
</li>
<li>
<p>In den Kontaktdetails:</p>
<div class="ulist">
<ul>
<li>
<p>der Typ <strong>Kunde</strong> (das ist der Typ mit der niedrigsten ID im Menü <strong>Einrichtung » CRM » Typen</strong>)</p>
</li>
<li>
<p>die Kundenklasse mit der niedrigsten Position, die du im Menü <strong>Einrichtung » CRM » Kundenklassen</strong> gespeichert hast</p>
</li>
<li>
<p>der Standardmandant (Shop)</p>
</li>
<li>
<p>die Sprache <strong>Deutsch</strong> (das ist abhängig von der gewählten Standardeinstellung im System)</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h2 id="dublettenpruefung-kontakt-erstellen" class="discrete">Dublettenprüfung bei Kontaktdatensätzen mit identischer E-Mail-Adresse</h2>
<div class="paragraph">
<p>Beim Erstellen neuer und beim Aktualisieren bestehender Kontaktdatensätze erfolgt eine Prüfung anhand der E-Mail-Adresse, um Dubletten im System zu vermeiden.</p>
</div>
<div class="paragraph">
<p>Die Logik funktioniert folgendermaßen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Beim Erstellen eines neuen Kontakts wird nach einem vorhandenen regulären Kontakt mit identischer privater E-Mail-Adresse gesucht. Wird ein Kontakt gefunden, wird dieser mit den neuen Daten aktualisiert. Wird <em>kein</em> Kontakt gefunden, wird ein neuer regulärer Kontakt erstellt.</p>
</li>
<li>
<p>Wenn beim Aktualisieren eines bestehenden regulären Kontaktes die private E-Mail-Adresse geändert wird, wird zunächst gesucht, ob ein anderer regulärer Kontakt mit derselben privaten E-Mail-Adresse existiert. Ist dies der Fall, wird die private E-Mail-Adresse des aktuellen Kontaktes <em>nicht</em> aktualisiert, alle anderen Daten jedoch schon.</p>
</li>
</ul>
</div>
<hr>
<div class="paragraph previous-next-navigation">
<p><a href="/crm/kontakte/vorbereitende-einstellungen"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Vorbereitende Einstellungen</a>
<a href="/crm/kontakte/kontakt-suchen">Kontakt suchen <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</main>