<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#aktuellen-filter-speichern"><span>1.</span><span> Aktuellen Filter speichern</span></a></li>
<li><a href="#gespeicherte-filter-anwenden"><span>2.</span><span> Gespeicherte Filter anwenden</span></a></li>
<li><a href="#filter-als-standard"><span>3.</span><span> Filter als Standard festlegen</span></a></li>
<li><a href="#spalten-konfigurieren"><span>4.</span><span> Spalten in der Übersicht konfigurieren</span></a></li>
<li><a href="#kontextmenue-uebersicht"><span>5.</span><span> Kontextmenü in der Übersicht</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kontakt suchen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph previous-next-navigation">
<p><a href="/crm/kontakte/kontakt-erstellen"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Kontakt erstellen</a>
<a href="/crm/kontakte/kontakt-bearbeiten">Kontakt bearbeiten <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>Um einen bestimmten Kontakt zu suchen, gibst du die dir bekannten Suchbegriffe in die Filter ein. Es ist auch möglich, mehrere Suchbegriffe gleichzeitig in die Suchfelder einzugeben. Dies ermöglicht eine schnellere und genauere Suche.</p>
</div>
<div class="paragraph instruction">
<p>Kontakt suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Kontakte (Testphase)</strong>.</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Möglichkeit 1:</em></strong> Klicke auf <strong>Suchen</strong> (<span class="icon "><i class="material-search"></i></span>), um eine Liste aller Kontakte zu sehen.</p>
</li>
<li>
<p><strong><em>Möglichkeit 2:</em></strong> Klicke auf <span class="icon "><i class="material-filter_alt"></i></span>, um die Suchergebnisse mit Hilfe von Filtern einzugrenzen.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Beachte die Erläuterungen zu den Filtern in <a href="#table-search-contact">Tabelle 1</a>. <br>
<strong><em>Tipp:</em></strong> Gib eine Kombination aus allen oder mehreren Werten und Optionen ein, um die Suche noch genauer einzugrenzen.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong>.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
</ol>
</div>
<table id="table-search-contact" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verfügbare Filter für die Kontaktsuche</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine ID ein, um nach dem Kontakt mit genau dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen ein, um nach dem Kontakt mit genau diesem Namen zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontaktdaten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In diesem Feld kannst du nach dem Namen, der Adresse, der Firma, der Kundennummer und dem eBay-Namen suchen.<br>
<strong><em>Hinweis:</em></strong> Um nach dem eBay-Namen zu suchen, gib zuerst den Parameter <code>ebay:</code> gefolgt vom gesuchten eBay-Namen ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Adresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Straßenname und/oder die Hausnummer ein, wie im Kontaktdatensatz gespeichert. Es ist möglich, nur nach Teilen des Straßennamens und Teilen der Hausnummer zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PLZ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Postleitzahl, die im Kontaktdatensatz gespeichert sind, ein. Es wird auch nach Postleitzahlen, die in den Adressdatensätzen des Kontakts gespeichert sind, gesucht. Es ist möglich, nur nach Teilen der Postleitzahl zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Ort, der im Kontaktdatensatz gespeichert ist, ein. Es wird auch nach Orten, die in den Adressdatensätzen des Kontakts gespeichert sind, gesucht. Es ist möglich, nur nach Teilen des Ortsnamens zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die komplette E-Mail-Adresse ein, um nach dem Kontakt mit genau dieser E-Mail-Adresse zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Telefon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Telefonnummer ein, um nach dem Kontakt mit genau dieser Telefonnummer zu suchen. Es kann auch nach Teilen der Telefonnummer gesucht werden. Gib mindestens 3 Ziffern ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) einen Tag, um nur Kontakte, denen dieses Tag zugeordnet ist, anzuzeigen. Du kannst nach einem oder mehreren Tags gleichzeitig filtern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein Land, um nur nach Kontakten aus diesem Land zu suchen. Das Land ist in den Kontaktdaten gespeichert.<br>
Wähle die Einstellung <strong>Alle außer Deutschland</strong>, um nur Kontakte aus allen Ländern außer Deutschland anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Eigner, um nur nach Kontakten zu suchen, die mit diesem Eigner verknüpft sind. Der Eigner muss in den Kontaktdaten gespeichert sein.<br>
<strong><em>Wichtig:</em></strong> In der Dropdown-Liste werden nur Benutzer:innen (Eigner) angezeigt, bei denen im Benutzer:innenkonto im Tab <strong>Eigner</strong> die Option <strong>Kunde</strong> aktiviert ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Typen, um nach Kontakten mit diesem Typ zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bewertung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Bewertung, um nur nach Kontakten mit dieser Bewertung zu suchen. 5 gelbe Sterne stehen für die beste und 5 rote Sterne für die schlechteste Bewertung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenklasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Klasse, um nach Kontakten mit dieser Klasse zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ZURÜCKSETZEN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt die gewählten Filterkriterien zurück.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SUCHEN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Führt die Suche aus. Die gefundenen Kontakte werden in der Übersicht angezeigt.<br>
<strong><em>Tipp:</em></strong> Setze keine Filter, wenn du alle Kontakte in der Übersicht sehen möchtest.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="aktuellen-filter-speichern">1. Aktuellen Filter speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du eine Suche ausführst, siehst du deine gewählten Filter oben als so genannte "Chips" dargestellt. Diese Filter kannst du speichern, um sie in Zukunft schneller und einfacher wieder verwenden zu können.</p>
</div>
<div class="paragraph instruction">
<p>Aktuellen Filter speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Führe eine Suche aus.</p>
</li>
<li>
<p>Klicke auf <strong>Gespeicherte Filter</strong> (<span class="icon "><i class="material-bookmarks"></i></span>).</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="material-bookmark_border"></i></span> <strong>Aktuellen Filter speichern</strong>.</p>
</li>
<li>
<p>Gib einen Namen für den Filter ein.</p>
</li>
<li>
<p>Entscheide, ob</p>
<div class="ulist">
<ul>
<li>
<p>dieser <a href="#filter-als-standard">Filter als Standard</a> festgelegt werden soll (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>)</p>
</li>
<li>
<p>dieser Filter für alle Benutzer:innen erstellt werden soll (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
</ul>
</div>
</li>
<li>
<p>Klicke auf <strong>SPEICHERN</strong>.<br>
→ Der Filter erscheint nun unter <strong>Gespeicherte Filter</strong> (<span class="icon "><i class="material-bookmarks"></i></span>).</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Lege die Reihenfolge der Filter per Drag-and-drop mit einem Klick auf <strong>Verschieben</strong> (<span class="icon "><i class="material-drag_indicator"></i></span>) fest. Klicke auf <span class="icon "><i class="material-delete"></i></span>, um einen Filter zu löschen.
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="gespeicherte-filter-anwenden">2. Gespeicherte Filter anwenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden vor, um einen gespeicherten Filter in der Suche anzuwenden.</p>
</div>
<div class="paragraph instruction">
<p>Gespeicherte Filter anwenden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Gespeicherte Filter</strong> (<span class="icon "><i class="material-bookmarks"></i></span>).</p>
</li>
<li>
<p>Klicke auf einen bereits erstellten Filter.<br>
→ Die Suche wird ausgeführt und die verwendeten Filtereinstellungen werden oben als so genannte "Chips" dargestellt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="filter-als-standard">3. Filter als Standard festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit du einen häufig verwendeten Filter nicht jedes Mal beim Öffnen des Menüs <strong>CRM » Kontakte (Testphase)</strong> erst aus der Liste deiner <a href="#gespeicherte-filter-anwenden">gespeicherten Filter</a> wählen musst, kannst du einen erstellten Filter als Standard festlegen. Jedes Mal, wenn du die Kontakte-UI öffnest, wird dieser Filter dann also automatisch ausgeführt.</p>
</div>
<div class="paragraph">
<p>Du kannst einen Filter direkt beim Erstellen als Standard festlegen wie im Kapitel <a href="#aktuellen-filter-speichern">Aktuellen Filter speichern</a> beschrieben oder du legst den Filter nachträglich aus der Übersicht heraus als Standard fest.</p>
</div>
<div class="paragraph">
<p>Klicke in der Zeile des gespeicherten Filters auf <span class="icon "><i class="fa fa-star-o  "></i></span> <strong>Als Standard festlegen</strong>.</p>
</div>
<div class="paragraph">
<p>Wenn du einen anderen Filter als Standard festlegen möchtest, deaktiviere den aktuell gewählten Standardfilter mit einem Klick auf <span class="icon "><i class="fa fa-star  "></i></span> <strong>Nicht als Standard verwenden</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="spalten-konfigurieren">4. Spalten in der Übersicht konfigurieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Klicke in der Übersicht oben rechts auf <strong>Spalten konfigurieren</strong> <span class="icon "><i class="material-settings"></i></span>, wähle die gewünschten Spalten und klicke auf <strong>Bestätigen</strong>. Die folgenden Spalten sind verfügbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ID</p>
<div class="ulist">
<ul>
<li>
<p>Sortiere deine Kontakte mit den Pfeilen <span class="icon "><i class="material-arrow_upward"></i></span> und <span class="icon "><i class="material-arrow_downward"></i></span> auf- und absteigend anhand der ID.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Gast</p>
<div class="ulist">
<ul>
<li>
<p>Zeigt mit dem Symbol <span class="icon "><i class="material-done"></i></span> an, ob es sich bei dem Datensatz um einen Gast handelt.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Firma</p>
</li>
<li>
<p>Bewertung</p>
<div class="ulist">
<ul>
<li>
<p>Sortiere deine Kontakte mit den Pfeilen <span class="icon "><i class="material-arrow_upward"></i></span> und <span class="icon "><i class="material-arrow_downward"></i></span> auf- und absteigend anhand der Anzahl der Sterne in der Bewertung.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Vorname</p>
<div class="ulist">
<ul>
<li>
<p>Sortiere deine Kontakte mit den Pfeilen <span class="icon "><i class="material-arrow_upward"></i></span> und <span class="icon "><i class="material-arrow_downward"></i></span> alphabetisch anhand des Vornamens.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Nachname</p>
<div class="ulist">
<ul>
<li>
<p>Sortiere deine Kontakte mit den Pfeilen <span class="icon "><i class="material-arrow_upward"></i></span> und <span class="icon "><i class="material-arrow_downward"></i></span> alphabetisch anhand des Nachnamens.</p>
</li>
</ul>
</div>
</li>
<li>
<p>E-Mail</p>
<div class="ulist">
<ul>
<li>
<p>Mit einem Klick auf die E-Mail-Adresse kopierst du die E-Mail-Adresse in die Zwischenablage.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Telefon</p>
</li>
<li>
<p>Kundenklasse</p>
</li>
<li>
<p>Aufträge</p>
<div class="ulist">
<ul>
<li>
<p>Sortiere deine Kontakte mit den Pfeilen <span class="icon "><i class="material-arrow_upward"></i></span> und <span class="icon "><i class="material-arrow_downward"></i></span> auf- und absteigend anhand der Anzahl der Aufträge.</p>
</li>
</ul>
</div>
</li>
<li>
<p>PLZ</p>
<div class="ulist">
<ul>
<li>
<p>Sortiere deine Kontakte mit den Pfeilen <span class="icon "><i class="material-arrow_upward"></i></span> und <span class="icon "><i class="material-arrow_downward"></i></span> auf- und absteigend anhand der Postleitzahl.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Land</p>
</li>
<li>
<p>Typ</p>
</li>
<li>
<p>Mandant</p>
</li>
<li>
<p>Debitorenkonto</p>
<div class="ulist">
<ul>
<li>
<p>Sortiere deine Kontakte mit den Pfeilen <span class="icon "><i class="material-arrow_upward"></i></span> und <span class="icon "><i class="material-arrow_downward"></i></span> auf- und absteigend anhand der Nummer des Debitorenkontos.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Sprache</p>
<div class="ulist">
<ul>
<li>
<p>Sortiere deine Kontakte mit den Pfeilen <span class="icon "><i class="material-arrow_upward"></i></span> und <span class="icon "><i class="material-arrow_downward"></i></span> alphabetisch anhand der Sprache.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Fax</p>
</li>
<li>
<p>Newsletter</p>
</li>
<li>
<p>Kontextmenü</p>
<div class="ulist">
<ul>
<li>
<p>Welche Funktionen dir über das Kontextmenü zur Verfügung stehen, erfährst du im Kapitel <a href="#kontextmenue-uebersicht">Kontextmenü in der Übersicht</a>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p>Über die Schaltfläche <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="material-settings"></i></span>) oben rechts in der Übersicht kannst du bereits angezeigte Spalten in der Übersicht wieder deaktivieren. Klicke auf <span class="icon "><i class="material-sort"></i></span>, um die Reihenfolge der Spalten per Drag-and-drop zu verschieben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="kontextmenue-uebersicht">5. Kontextmenü in der Übersicht</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit einem Klick auf <span class="icon "><i class="material-more_vert"></i></span> in der Zeile eines Kontakts in der Übersicht, öffnet sich das Kontextmenü.</p>
</div>
<div id="image-contact-context-menu" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/crm/assets/kontakte-neu-kontexmenue.png" alt="kontakte neu kontexmenue" width="640" height="360">
</div>
<div class="title">Bild 1. Kontextmenü in der Übersicht</div>
</div>
<div class="paragraph">
<p>Das Kontextmenü bietet dir einen Schnellzugriff auf die folgenden Menüs und Funktionen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><span class="icon "><i class="material-shopping_cart"></i></span> Aufträge</p>
<div class="ulist">
<ul>
<li>
<p>Aufträge</p>
<div class="ulist">
<ul>
<li>
<p>Öffnet die Auftragsübersicht des Kontakts im Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Neuer Auftrag</p>
<div class="ulist">
<ul>
<li>
<p>Öffnet den Bereich <strong>Neuer Auftrag</strong> im Menü <strong>Aufträge » Aufträge bearbeiten</strong>. Der Auftragstyp <strong>Auftrag</strong> und die Rechnungsadresse des Kontakts sind bereits vorausgewählt.<br>
Weitere Informationen findest du auf der Handbuchseite <a href="/auftraege/auftraege-verwalten">Aufträge verwalten</a> im Kapitel <a href="/auftraege/auftraege-verwalten#240">beta: Auftrag oder Angebot aus der Kontaktübersicht anlegen</a>.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Neues Angebot</p>
<div class="ulist">
<ul>
<li>
<p>Öffnet den Bereich <strong>Neuer Auftrag</strong> im Menü <strong>Aufträge » Aufträge bearbeiten</strong>. Der Auftragstyp <strong>Angebot</strong> und die Rechnungsadresse des Kontakts sind bereits vorausgewählt.<br>
Weitere Informationen findest du auf der Handbuchseite <a href="/auftraege/auftraege-verwalten">Aufträge verwalten</a> im Kapitel <a href="/auftraege/auftraege-verwalten#240">beta: Auftrag oder Angebot aus der Kontaktübersicht anlegen</a>.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Neuer Auftrag [beta]</p>
<div class="ulist">
<ul>
<li>
<p>Öffnet die neue Bedienoberfläche zum Anlegen eines neuen Auftrags. Der Auftragstyp <strong>Auftrag</strong>, die Rechnungsadresse und die Lieferadresse des Kontakts sind bereits vorausgewählt.<br>
Weitere Informationen findest du auf der Handbuchseite <a href="/auftraege/auftraege-verwalten">Aufträge verwalten</a> im Kapitel <a href="/auftraege/auftraege-verwalten#240">beta: Auftrag oder Angebot aus der Kontaktübersicht anlegen</a>.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Neues Angebot [beta]</p>
<div class="ulist">
<ul>
<li>
<p>Öffnet die neue Bedienoberfläche zum Anlegen eines neuen Angebots. Der Auftragstyp <strong>Angebot</strong>, die Rechnungsadresse und die Lieferadresse des Kontakts sind bereits vorausgewählt.<br>
Weitere Informationen findest du auf der Handbuchseite <a href="/auftraege/auftraege-verwalten">Aufträge verwalten</a> im Kapitel <a href="/auftraege/auftraege-verwalten#240">beta: Auftrag oder Angebot aus der Kontaktübersicht anlegen</a>.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Neues Abonnement [beta]</p>
<div class="ulist">
<ul>
<li>
<p>Öffnet ein neues Abonnement im Menü <strong>Aufträge » Abonnement (Testphase)</strong>. Die Rechnungsadresse und die Lieferadresse des Kontakts sind bereits vorausgewählt.<br>
Weitere Informationen findest du auf der Handbuchseite <a href="/auftraege/abonnement">Abonnement</a>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
<li>
<p><span class="icon "><i class="material-event_note"></i></span> Neues Ticket</p>
<div class="ulist">
<ul>
<li>
<p>Öffnet den Bereich <strong>Neues Ticket</strong> im Menü <strong>CRM » Ticketsystem</strong>. Die Kontakt-ID, die Firma (falls vorhanden) und der Name des Kontakts sind im Ticket bereits vorausgewählt.<br>
Weitere Informationen findest du auf der Handbuchseite <a href="/crm/ticketsystem-nutzen">Ticketsystem</a>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><span class="icon "><i class="material-message"></i></span> Messenger</p>
<div class="ulist">
<ul>
<li>
<p>Öffnet den Messenger. Mit einem Klick auf <strong>Neue Nachricht</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>) erstellst du eine neue Nachricht für den Kontakt.<br>
Weitere Informationen findest du auf der Handbuchseite <a href="/crm/messenger">Messenger</a>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="ulist">
<ul>
<li>
<p><span class="icon "><i class="material-delete"></i></span> Kontakt löschen</p>
<div class="ulist">
<ul>
<li>
<p><a href="/crm/kontakte/kontakt-bearbeiten#kontakt-loeschen">Löscht</a> den Kontakt nach dem Bestätigen der Sicherheitsabfrage.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<hr>
<div class="paragraph previous-next-navigation">
<p><a href="/crm/kontakte/kontakt-erstellen"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Kontakt erstellen</a>
<a href="/crm/kontakte/kontakt-bearbeiten">Kontakt bearbeiten <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</main>