<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#adress-layout"><span>1.</span><span> Adress-Layout für Lieferscheine einrichten</span></a></li>
<li><a href="#rechte-vergeben"><span>2.</span><span> Rechte für Backend-Benutzer:innen vergeben</span></a></li>
<li><a href="#kundenklasse-erstellen"><span>3.</span><span> Kundenklasse erstellen</span></a></li>
<li><a href="#typ-erstellen"><span>4.</span><span> Typ erstellen</span></a></li>
<li><a href="#tags-erstellen"><span>5.</span><span> Tags für Kontakte erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#rechte-tags"><span>5.1.</span><span> Rechte für Backend-Benutzer:innen vergeben</span></a></li>
<li><a href="#tag-erstellen"><span>5.2.</span><span> Tags erstellen</span></a></li>
</ul>
</li>
<li><a href="#eigenschaften-einleitung"><span>6.</span><span> Eigenschaften erstellen</span></a>
<ul class="sectlevel2">
<li><a href="#eigenschaften-erstellen"><span>6.1.</span><span> Neue Eigenschaften erstellen</span></a>
<ul class="sectlevel3">
<li><a href="#property-details"><span>6.1.1.</span><span> Details</span></a></li>
<li><a href="#property-names"><span>6.1.2.</span><span> Namen</span></a></li>
<li><a href="#property-selection-values"><span>6.1.3.</span><span> Auswahlwerte</span></a></li>
<li><a href="#property-groups"><span>6.1.4.</span><span> Gruppen</span></a></li>
<li><a href="#property-visibilities"><span>6.1.5.</span><span> Sichtbarkeiten</span></a></li>
<li><a href="#property-options"><span>6.1.6.</span><span> Optionen</span></a></li>
</ul>
</li>
<li><a href="#eigenschaften-verknuepfen"><span>6.2.</span><span> Eigenschaften mit dem Kontakt verknüpfen</span></a></li>
<li><a href="#eigenschaften-auf-dokumenten"><span>6.3.</span><span> Eigenschaften auf Dokumenten ausgeben</span></a></li>
<li><a href="#eigenschaften-gruppieren"><span>6.4.</span><span> Eigenschaften gruppieren</span></a>
<ul class="sectlevel3">
<li><a href="#neue-gruppe-erstellen"><span>6.4.1.</span><span> Neue Gruppe erstellen</span></a>
<ul class="sectlevel4">
<li><a href="#group-details"><span>Details</span></a></li>
<li><a href="#group-names"><span>Namen</span></a></li>
</ul>
</li>
<li><a href="#assign-properties-to-group"><span>6.4.2.</span><span> Eigenschaften einer Gruppe zuordnen</span></a></li>
<li><a href="#search-for-groups"><span>6.4.3.</span><span> Bestehende Gruppen suchen</span></a></li>
<li><a href="#delete-groups"><span>6.4.4.</span><span> Gruppen wieder löschen</span></a></li>
</ul>
</li>
<li><a href="#mit-eigenschaften-arbeiten"><span>6.5.</span><span> Mit bestehenden Eigenschaften arbeiten</span></a>
<ul class="sectlevel3">
<li><a href="#eigenschaften-suchen"><span>6.5.1.</span><span> Eigenschaften suchen</span></a></li>
<li><a href="#eigenschaften-importieren"><span>6.5.2.</span><span> Eigenschaften importieren</span></a></li>
<li><a href="#eigenschaften-exportieren"><span>6.5.3.</span><span> Eigenschaften exportieren</span></a></li>
<li><a href="#eigenschaften-loeschen"><span>6.5.4.</span><span> Eigenschaften wieder löschen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#rabattsystem-nutzen"><span>7.</span><span> Rabattsystem nutzen (optional)</span></a>
<ul class="sectlevel2">
<li><a href="#kundenklassenrabatt"><span>7.1.</span><span> Kundenklassenrabatt einrichten</span></a></li>
<li><a href="#rabbatstaffel-nettowarenwert"><span>7.2.</span><span> Rabattstaffel auf Nettowarenwert einrichten</span></a></li>
<li><a href="#rabatt-zahlungsart"><span>7.3.</span><span> Rabatt auf Zahlungsart einrichten</span></a></li>
<li><a href="#rabatt-verkaufspreis"><span>7.4.</span><span> Verkaufspreis als Rabatt speichern</span></a></li>
<li><a href="#rabatt-manuell"><span>7.5.</span><span> Manuellen Rabatt eingeben</span></a>
<ul class="sectlevel3">
<li><a href="#rabatt-einzelner-artikel-auftragssuche"><span>7.5.1.</span><span> Rabatt für einzelnen Artikel in der Auftragssuche eingeben</span></a></li>
<li><a href="#rabatt-einzelner-artikel-auftrag"><span>7.5.2.</span><span> Rabatt für einzelnen Artikel im Auftrag eingeben</span></a></li>
<li><a href="#rabatt-alle-artikel-im-auftrag"><span>7.5.3.</span><span> Rabatt für alle Artikel eines Auftrags eingeben</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Vorbereitende Einstellungen vornehmen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph next-navigation">
<p><a href="/crm/kontakte/kontakt-suchen">Kontakt suchen <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>Du musst einige vorbereitende Einstellungen vornehmen, damit du die Kontaktverwaltung im Menü <strong>CRM » Kontakte (Testphase)</strong> optimal nutzen kannst.</p>
</div>
<div class="paragraph">
<p>Mit einem Klick auf einen Eintrag in der folgenden Liste gelangst du direkt in das jeweilige Unterkapitel:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#adress-layout">Adress-Layout für Lieferscheine einrichten</a></p>
</li>
<li>
<p><a href="#rechte-vergeben">Rechte für Backend-Benutzer:innen vergeben</a></p>
</li>
<li>
<p><a href="#kundenklasse-erstellen">Kundenklasse erstellen</a></p>
</li>
<li>
<p><a href="#typ-erstellen">Typ erstellen</a></p>
</li>
<li>
<p><a href="#tags-erstellen">Tags erstellen</a></p>
</li>
<li>
<p><a href="#eigenschaften-einleitung">Eigenschaften erstellen</a></p>
</li>
<li>
<p><a href="#rabattsystem-nutzen">Rabattsystem nutzen</a> (optional)</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="adress-layout">1. Adress-Layout für Lieferscheine einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » CRM » Adress-Layout</strong> kannst du individuell Adress-Layouts für deine Lieferländer für das Auftragsdokument <strong>Lieferschein</strong> einrichten. Die Adress-Layouts für die Lieferländer Deutschland, Frankreich und das Vereinigte Königreich sind bereits standardmäßig in deinem plentymarkets System enthalten. Gehe wie im Folgenden beschrieben vor, um ein Adress-Layout für Lieferscheine einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Adress-Layout für Lieferscheine einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Adress-Layout</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Layout</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Nimm die gewünschten Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#table-set-up-address-layout">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-set-up-address-layout" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Adress-Layout einrichten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Allgemeine Einstellungen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Layout-Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wie lautet der Name des Layouts?</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Als Standard-Adress-Layout verwenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll dieses Layout als Standard verwendet werden? Dann aktiviere die Umschaltfläche (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>). In der Übersicht auf der linken Seite ist das Standard-Adress-Layout mit einem Sternchen gekennzeichnet.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>List der Feldnamen</strong><br>
Wenn gewünscht, gib den englischen und den deutschen Namen für die Feldnamen ein, damit diese Namen dann beim Gestalten des Adress-Layouts angezeigt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Zum Layout-Design wechseln</strong><br>
Mit einem Klick auf <span class="icon "><i class="fa fa-exchange  "></i></span> wechselst du zum Layout-Design. Die Bereiche <strong>Länder</strong>, <strong>Layout</strong> und <strong>Felder</strong> werden sichtbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Länder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein Land oder mehrere Länder aus der Liste, für die das Adress-Layout gelten soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Layout</strong> /<br>
<strong>Felder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ziehe aus dem Bereich <strong>Felder</strong> die Adressfelder in den Bereich <strong>Layout</strong> und gestalte das Adress-Layout individuell für jedes Land.<br>
<strong><em>Tipp:</em></strong> Es ist möglich, weitere Reihen (maximale Anzahl der Reihen:&nbsp;6) hinzuzufügen, einzelne Felder zu entfernen und komplette Reihen zu entfernen. Auch leere Reihen sind erlaubt. Eine Beschränkung der Feldanzahl pro Reihe ist <em>nicht</em> vorhanden.</p></td>
</tr>
</tbody>
</table>
<h3 id="_neues_adress_layout_im_lieferschein_aktivieren" class="discrete">Neues Adress-Layout im Lieferschein aktivieren</h3>
<div class="paragraph">
<p>Damit die Lieferscheine für die Lieferländer automatisch in den erstellten Adress-Layouts ausgegeben werden, musst du eine Einstellung im <a href="/auftraege/auftragsdokumente/lieferscheine-erzeugen">Lieferschein</a> vornehmen. Dein plentymarkets System prüft dann automatisch das Lieferland aus dem Auftrag und gibt den Lieferschein in den im Menü <strong>Einrichtung » CRM » Adress-Layout</strong> aufgelisteten Layout aus. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Neues Adress-Layout im Lieferschein aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Standorte » [Standort wählen] » Dokumente » Lieferschein</strong>.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Grundeinstellungen:&nbsp;Lieferschein</strong> die Option <strong>Neues Adresslayout</strong>.<br>
→ Die Option darüber <strong>Aufbau der Rechnungs-/ Lieferanschrift</strong> wird ausgeblendet und die Lieferscheine werden in den Adresslayouts im Menü <strong>Einrichtung » CRM » Adress-Layout</strong> ausgegeben.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Aktuell ist diese Einstellung vorerst nur für Lieferscheine verfügbar. Fü weitere Dokumente wird diese Einstellung folgen.</p>
</div>
<h3 id="_rechte_für_das_adress_layout_für_backend_benutzerinnen_vergeben" class="discrete">Rechte für das Adress-Layout für Backend-Benutzer:innen vergeben</h3>
<div class="paragraph">
<p>Personen mit <strong>Backend</strong>-Zugriffsrechten können <a href="/business-entscheidungen/benutzerkonten-zugaenge#105">nur bestimmte Bereiche und Menüs</a> in plentymarkets sehen. Sie können also nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> Address-Layouts sehen und bearbeiten können, benötigen sie mindestens die folgenden Rechte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CRM &gt; Adress-Layout &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>CRM &gt; Adress-Layout &gt; Erstellen</strong></p>
</li>
<li>
<p><strong>CRM &gt; Adress-Layout &gt; Aktualisieren</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tipp: So vergibst du Rechte</strong></div>
<div class="content">
<div class="paragraph">
<p>Beachte, dass nur <strong>Admins</strong> Rechte vergeben können.</p>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.<br>
→ Die Benutzerkonten werden in einer Übersicht angezeigt.</p>
</li>
<li>
<p>Klicke auf ein Benutzerkonto.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für den jeweiligen Bereich durch Anklicken der Checkboxen, die oben angegeben sind.<br>
<strong><em>Hinweis</em></strong>: Du kannst entweder Rechte für einen kompletten Bereich vergeben oder dem Konto nur eingeschränkt Rechte gewähren. Klappe für diese Option den Bereich auf.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Bereiche <strong>Berechtigungen</strong> und <strong>Menü-Sichtbarkeiten</strong> sind verknüpft. Wenn du also Rechte in einem der beiden Bereiche aktivierst, sind sie automatisch auch für den anderen Bereich aktiv.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="rechte-vergeben">2. Rechte für Backend-Benutzer:innen vergeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Personen mit <strong>Backend</strong>-Zugriffsrechten können <a href="/business-entscheidungen/benutzerkonten-zugaenge#105">nur bestimmte Bereiche und Menüs</a> in plentymarkets sehen. Sie können also nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> mit dem Menü <strong>CRM » Kontakte (Testphase)</strong> arbeiten können, benötigen sie mindestens die folgenden Rechte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CRM &gt; Adresse &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>CRM &gt; Kontakt &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Einrichtung &gt; Eigenschaft &gt; Anzeigen</strong></p>
</li>
<li>
<p><strong>Einrichtung &gt; Tag &gt; Anzeigen</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tipp: So vergibst du Rechte</strong></div>
<div class="content">
<div class="paragraph">
<p>Beachte, dass nur <strong>Admins</strong> Rechte vergeben können.</p>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.<br>
→ Die Benutzerkonten werden in einer Übersicht angezeigt.</p>
</li>
<li>
<p>Klicke auf ein Benutzerkonto.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für den jeweiligen Bereich durch Anklicken der Checkboxen, die oben angegeben sind.<br>
<strong><em>Hinweis</em></strong>: Du kannst entweder Rechte für einen kompletten Bereich vergeben oder dem Konto nur eingeschränkt Rechte gewähren. Klappe für diese Option den Bereich auf.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Bereiche <strong>Berechtigungen</strong> und <strong>Menü-Sichtbarkeiten</strong> sind verknüpft. Wenn du also Rechte in einem der beiden Bereiche aktivierst, sind sie automatisch auch für den anderen Bereich aktiv.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<h3 id="ansichten-freigeben-andere-benutzer" class="discrete">Ansichten für andere Benutzer:innen freigeben</h3>
<div class="paragraph">
<p>Zu einem späteren Zeitpunkt wirst du vielleicht eine <a href="/crm/kontakte/kontakt-erstellen">neue Ansicht zum Erstellen eines neues Kontakts</a> oder eine <a href="/crm/kontakte/kontakt-bearbeiten#ansicht-bearbeiten#">neue Ansicht zum Bearbeiten eines bestehenden Kontakts</a> einrichten. Du kannst diese Ansichten dann auch anderen Benutzer:innen in deinem plentymarkets System freigeben, damit sie mit den Ansichten arbeiten können.<br>
Die Standardansicht ist für alle Benutzer:innen standardmäßig aktiviert. Du hast auch die Möglichkeit, einer Benutzer:in die Rechte für die Standardansicht zu entziehen.</p>
</div>
<div class="paragraph">
<p>Alle Einstellungen, die sich auf die Freigabe von Ansichten beziehen, nimmst du im Benutzer:innenkonto im Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong> im Menüpunkt <strong>Ansichten</strong> vor.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Ansichten zum Erstellen eines neuen Kontaktdatensatzes für Benutzer:innen freigeben:<br>
Öffne im Benutzer:innenkonto im Menüpunkt <strong>Ansichten</strong> den Bereich <strong>CRM &gt; Kontakte &gt; Neuer Kontakt &gt; Eigene Ansichten</strong>. Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die gewünschten Ansichten aus der Liste.</p>
</li>
<li>
<p>Ansichten zum Bearbeiten eines bestehenden Kontaktdatensatzes für Benutzer:innen freigeben:<br>
Öffne im Benutzer:innenkonto im Menüpunkt <strong>Ansichten</strong> den Bereich <strong>CRM &gt; Kontaktdetails &gt; Eigene Ansichten</strong>. Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die gewünschten Ansichten aus der Liste.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="kundenklasse-erstellen">3. Kundenklasse erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit Kundenklassen unterteilst du deinen Kundenstamm nach unterschiedlichen Kriterien. So kannst du eine Kundenklasse festlegen, die an Endkund:innen (B2C) angepasst ist und mit deren Einstellungen die Artikel mit Bruttopreisen im plentyShop angezeigt werden. Für Händler:innen (B2B) erstellst du eine weitere Kundenklasse, mit deren Einstellungen die Artikel mit Nettopreisen im plentyShop angezeigt werden. Weitere Optionen, die festgelegt werden können, sind z.B. Rabatte auf den Nettowarenwert, Rabatte auf die Zahlungsart oder Rabattstaffeln, die nur für eine bestimmte Kundenklasse gelten.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Wenn sich ein Kontakt in deinem plentyShop registriert und die Anrede in das Feld <strong>Firma</strong> ändert, greift automatisch die Kundenklasse, die du für B2B-Kontakte erstellt hast.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Vorab Konzept für Typen und Klassen überlegen</div>
<div class="paragraph">
<p>Für die Einteilung deines Kundenstamms in Typen und Klassen ist es empfehlenswert, ein Konzept zu entwickeln, bevor du größere Mengen an Kontaktdaten erstellst. Dadurch vermeidest du späteren Änderungsaufwand, z.B. wenn Typen bei fehlender Einstellung automatisch zugewiesen werden. Überlege dir also am besten vorab, welche Typen und Klassen du benötigst, erstelle die Typen und Klassen und weise sie beim Erstellen deinen Kontakten zu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Du kannst beliebig viele Kundenklassen im Menü <strong>Einrichtung » CRM » Kundenklassen</strong> erstellen und individuell einrichten. Kundenklassen erhalten automatisch eine ID, die in der Übersicht vor dem Namen der Kundenklasse angezeigt wird. Die ID bestimmt jedoch <em>keine</em> Reihenfolge, diese wird durch die <strong>Position</strong> festgelegt.</p>
</div>
<div class="paragraph">
<p>Wenn du eine neue Kundenklasse erstellt hast, steht diese Kundenklasse in der Detailansicht des Kontakts im Menü <strong>CRM » Kontakte (Testphase) » [Kontakt öffnen]</strong> als Auswahl zur Verfügung.</p>
</div>
<div class="paragraph instruction">
<p>Kundenklasse erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Kundenklassen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neue Kundenklasse</strong>.</p>
</li>
<li>
<p>Nimm die gewünschten Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#table-create-customer-class">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-create-customer-class" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Kundenklasse erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-minimum-order-value">Mindestbestellmenge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die Mindestbestellmenge ein, wenn pro Artikel eine bestimmte Anzahl bestellt werden muss oder um eine Mindestbestellmenge für die Mengenrabatte zu gewährleisten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-name">Bezeichnung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib den Namen für die neue Kundenklasse ein, z.B. <strong>Großhändler</strong> oder <strong>Premiumkunde</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-position">Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn keine Zahl eingegeben wird, wird eine Position automatisch anschließend an die höchste vorhandene Position vergeben. In erster Linie dient die Position der Sortierung der Kundenklassen im Menü. Dies ist z.B. in Kombination mit der Gestaltung der Sichtbarkeit der Artikelpreise im plentyShop wichtig. Dies wird unter <strong>Anzeige der Preise im Webshop</strong> eingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-terms-of-payment">Zahlungsziel, Skontosatz, Skontofrist und Valuta</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsziel, Skontosatz, Skontofrist und Valuta stellen die Zahlungsbedingungen dar.<br>
<strong><em>Wichtig:</em></strong> Die im Kontaktdatensatz gespeicherten Zahlungsbedingungen haben Priorität vor den hier eingegebenen Werten.<br>
Die Zahlungsbedingungen werden in den <a href="/auftraege/auftraege-verwalten#intable-zahlungsbedingungen-auftrag">Auftragseinstellungen</a> übernommen. Auch in den Auftragseinstellungen haben die Werte im Kontaktdatensatz Priorität. Im Auftrag können sie optional entweder manuell angepasst oder eingetragen werden, falls am Kontakt und in der Kundenklasse nichts hinterlegt sein sollte. Die im Auftrag gespeicherten Zahlungsbedingungen werden dann auf <a href="/auftraege/auftragsdokumente#intable-zahlungsbedingungen-dokumente">Dokumenten</a> ausgegeben. Beachte das Beispiel <a href="/crm/firmen#beispiel-zahlungsbedingungen">Gestaltung von Zahlungsbedingungen mit Valuta, Zahlungsziel, Skontofrist udn Skontosatz</a> auf der Handbuchseite <a href="/crm/firmen">Firmen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-contact-id">Kunden-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib die ID des Kontakts ein, an den Sammelrechnungen bei <a href="/auftraege/auftraege-verwalten#800">Sammelaufträgen</a> geschickt werden sollen. Die Sammelaufträge werden kundenklassenspezifisch angelegt und die Rechnung wird an den Kontakt gesendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-discount-type">Rabattart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Rabattart. Je nach Rabattart werden mehr oder weniger Optionen eingeblendet. Wenn du keinen Rabatt vergeben möchtest, wähle die Option <strong>Kein Rabatt</strong>. Weitere Informationen sowie Erläuterungen zu den Rabattarten in plentymarkets findest du im Kapitel <a href="#rabattsystem-nutzen">Rabattsystem nutzen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-volumen-discount">Mengenrabatt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, ob der im Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong> eingegebene Wert unter <strong>Ab Menge</strong> berücksichtigt werden soll oder nicht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-allowed-payment-methods">Erlaubte Zahlungsarten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, welche der im plentyShop verfügbaren Zahlungsarten für die Kundenklasse erlaubt sein sollen.<br>
In der Grundeinstellung sind alle verfügbaren Zahlungsarten erlaubt. Werden neue Zahlungsarten integriert, müssen diese Zahlungsarten hier erlaubt werden, weil neue Zahlungsarten nicht automatisch mit in die Liste der erlaubten Zahlungsarten aufgenommen werden.<br>
<strong><em>Wichtig:</em></strong> Beachte dabei die Einstellungen hinsichtlich der <a href="/fulfillment/versand-vorbereiten#1000">gesperrten Zahlungsarten in den Versandprofilen</a>, die für die Kundenklasse verwendet werden. Prüfe diese Einstellung, damit es an dieser Stelle nicht zu ungewollten Überschneidungen kommt. Die Zahlungsart, die für eine Kundenklasse erlaubt sein soll, darf in den Versandprofilen <em>nicht</em> gesperrt sein und auch die Kundenklasse darf dort <em>nicht</em> gesperrt sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-payment-instruction">Zahlungshinweis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein hier eingegebener Zahlungshinweis wird auf Einzelrechnungen angezeigt. Das können z.B. besondere Angaben zur Zahlung für eine bestimmte Kundenklasse sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-customer-class-display-online-shop">Anzeige der Preise im Webshop</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, ob die Preise im plentyShop <strong>Brutto</strong> oder <strong>Netto</strong> angezeigt werden sollen.<br>
<strong><em>Wichtig:</em></strong> Diese Option legt nur die Anzeige der Preise fest, nicht die Berechnung der Preise für die Kundenklasse. Einstellung besonders für die Kundenklasse der Position 1 beachten, weil diese Kundenklassen Kontakten automatisch zugewiesen wird, wenn keine Kundenklasse im Kontaktdatensatz gewählt wurde.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Du kannst Verkaufspreise mit Kundenklassen verknüpfen. Wähle dazu im Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong> unter der Einstellung <strong>Klasse</strong> eine von dir erstellte Kundenklasse. Weitere Informationen findest du auf der Handbuchseite <a href="/artikel/einstellungen/preise#100">Verkaufspreise und Preiskalkulation</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="typ-erstellen">4. Typ erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Typen dienen der Einordnung und Unterscheidung von Kontakten. Einige Typen sind bereits standardmäßig in deinem plentymarkets System angelegt und können <em>nicht</em> gelöscht werden. Diese Typen sind <strong>Kunde</strong>, <strong>Handelsvertreter</strong>, <strong>Lieferant</strong>, <strong>Partner</strong>, <strong>Hersteller</strong> und <strong>Interessent</strong>. Die erstellten Typen stehen im Menü <strong>CRM » Kontakte (Testphase)</strong> in der Dropdown-Liste <strong>Typ</strong> zur Verfügung.</p>
</div>
<div class="paragraph">
<p>Beim Erstellen eines neuen Kontaktdatensatzes ist automatisch der Typ <strong>Kunde</strong> als Standard eingestellt. Kund:innen des Typs <strong>Lieferant</strong> stehen als Lieferanten zur Verfügung, z.B. im Tab <strong>Lieferant</strong> einer Variante.</p>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um eigene Typen zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Typ erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Typen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Typ hinzufügen</strong>.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="tags-erstellen">5. Tags für Kontakte erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du hast die Möglichkeit, deinen Kontakten Tags zuzuordnen und nach diesen Tags auch in der Übersicht zu filtern. Tags sind Schlagworte, die du deinen Kontakten zuordnen kannst.</p>
</div>
<div class="paragraph">
<p>Welche Benutzer:innenrechte notwendig sind und wie du Tags erstellst, ist nachfolgend beschrieben.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tags für den Bereich Kontakte</div>
<div class="paragraph">
<p>Nur Tags, für die der Bereich <strong>Kontakte</strong> im Menü <strong>Einrichtung » Einstellungen » Tags</strong> aktiviert wurde, stehen am Kontakt und in der Kontaktsuche als Auswahl zur Verfügung.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="rechte-tags">5.1. Rechte für Backend-Benutzer:innen vergeben</h3>
<div class="paragraph">
<p>Personen mit <strong>Backend</strong>-Zugriffsrechten können <a href="/business-entscheidungen/benutzerkonten-zugaenge#105">nur bestimmte Bereiche und Menüs</a> in plentymarkets sehen. Sie können also nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit dem Zugang <strong>Backend</strong> sinnvoll mit Tags arbeiten können, benötigen sie mindestens die folgenden Rechte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Einrichtung &gt; Tag</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tipp: So vergibst du Rechte</strong></div>
<div class="content">
<div class="paragraph">
<p>Beachte, dass nur <strong>Admins</strong> Rechte vergeben können.</p>
</div>
<div class="paragraph instruction">
<p>Rechte vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.<br>
→ Die Benutzerkonten werden in einer Übersicht angezeigt.</p>
</li>
<li>
<p>Klicke auf ein Benutzerkonto.<br>
→ Der Menüpunkt <strong>Rechte</strong> mit den Sichtbarkeiten wird geöffnet.</p>
</li>
<li>
<p>Vergib die Rechte für den jeweiligen Bereich durch Anklicken der Checkboxen, die oben angegeben sind.<br>
<strong><em>Hinweis</em></strong>: Du kannst entweder Rechte für einen kompletten Bereich vergeben oder dem Konto nur eingeschränkt Rechte gewähren. Klappe für diese Option den Bereich auf.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Bereiche <strong>Berechtigungen</strong> und <strong>Menü-Sichtbarkeiten</strong> sind verknüpft. Wenn du also Rechte in einem der beiden Bereiche aktivierst, sind sie automatisch auch für den anderen Bereich aktiv.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="tag-erstellen">5.2. Tags erstellen</h3>
<div class="paragraph">
<p>Erstelle zunächst die Tags, die du verwenden möchtest.</p>
</div>
<div class="paragraph instruction">
<p>Tag erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Tags</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Tag erstellen</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ Rechts wird ein Fenster geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor.<br>
<strong><em>Tipp:</em></strong> Klappe die Info-Box unten auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), um mehr über die Einstellungen zu erfahren.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Tag wird erstellt und zur Liste hinzugefügt.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Mehr über die Einstellungen</strong></div>
<div class="content">
<table id="table-tag-settings" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Tag-ID wird automatisch vergeben und ist nicht änderbar.
Sie dient zur eindeutigen Kennzeichnung deiner Tags.</p>
<p class="tableblock"><strong><em>Anwendungsfall</em></strong>: Tag-Verknüpfungen können importiert werden.
Während du also z.B. Artikel- und Variantendaten importierst, kannst du die passenden Tags auch direkt verknüpfen.
Dies geschieht z.B. durch Angabe der Tag-ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name DE</strong><br>
<span class="red">(Pflichtfeld)</span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen für das Tag ein.
Der Name ist das Schlagwort, das den Datensatz hervorhebt.</p>
<p class="tableblock"><strong><em>Tipp</em></strong>: Der Name darf Leerzeichen enthalten. Der Name kann also auch aus mehreren Wörtern bestehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Farbe</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Hintergrundfarbe soll der Tag-Text haben?
Es gibt drei Möglichkeiten, die Farbe zu wählen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Gib die Farbe als Hexadezimalwert ein.</p>
</li>
<li>
<p>Gib die englische Bezeichnung einer der 16 Grundfarben ein (black, red, silver, white etc.)</p>
</li>
<li>
<p>Klicke auf das Quadrat rechts und klicke in das Farbspektrum.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-bereich">Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Arten von Datensätzen wirst du mit diesem Tag verknüpfen?
Wähle alle zutreffenden Bereiche (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bereich</th>
<th class="tableblock halign-left valign-top">Anwendungsbeispiel</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Board</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Willst du bestimmte Aufgabenkarten auf Boards markieren?<br>
<strong><em>Beispiel:</em></strong> Gib an, dass manche Aufgaben eine hohe oder niedrige Priorität haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Willst du bestimmte Kategorien im Backend markieren?<br>
<strong><em>Beispiel:</em></strong> Gib an, dass eine Kategorie nur für saisonale Angebote verwendet werden soll.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Kategorie-Tags sind für Kund:innen im Webshop <em>nicht sichtbar</em>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ticket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Willst du bestimmte Tickets im Ticketsystem markieren?<br>
<strong><em>Beispiel:</em></strong> Gib an, dass sich das Ticket auf einen bestimmten Verkaufskanal bezieht, zum Beispiel Amazon oder eBay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontakt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Willst du bestimmte Kontakte markieren?<br>
<strong><em>Beispiel:</em></strong> Gib die vom Kunden bevorzugte Kommunikationsmethode an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variante</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Willst du bestimmte Varianten markieren?<br>
<strong><em>Beispiel:</em></strong> Wenn du z.B. Leitern verkaufst, kannst du angeben, dass einige Leitern TÜV-zertifiziert sind.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Varianten-Tags können für Kunden im Webshop <em>sichtbar</em> gemacht werden.
<a href="#intable-mandant">Wähle dazu den entsprechenden Mandanten</a> weiter unten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Willst du bestimmte Nachbestellungen und Umbuchungen markieren?<br>
<strong><em>Beispiel</em></strong>: Gib an, welche Art von Waren umgebucht oder nachbestellt worden sind.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Tags können derzeit nur für Nachbestellungen und Umbuchungen genutzt werden. Für andere Auftragstypen sind Tags noch nicht nutzbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachrichten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Willst du bestimmte Nachrichten im Messenger markieren?<br>
<strong><em>Beispiel:</em></strong> Gib an, dass sich die Nachricht auf einen bestimmten Vertriebskanal bezieht, zum Beispiel Amazon oder eBay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nachrichten (kostenpflichtig)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schreibst du manchmal kostenpflichtige Nachrichten im Messenger?
Sollen also die Minuten, die beim Schreiben der Nachricht verstrichen sind, in Rechnung gestellt werden?</p>
<p class="tableblock">Beim Schreiben einer kostenpflichtigen Nachricht musst du mindestens ein Tag dieses Bereichs wählen.
Sonst kann die Nachricht nicht erstellt werden.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-mandant">Mandant</strong><br>
(ab plentyShop LTS 5.0 wirksam)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welchen plentyShops soll das Tag für Kund:innen sichtbar sein?
Wähle alle zutreffenden Webshops (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Diese Option wird nur angezeigt, wenn du oben <a href="#intable-bereich">den Bereich Variante gewählt</a> hast.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name EN</strong><br>
<strong>Name FR</strong><br>
<strong>Name IT</strong><br>
usw.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Übersetze den Tag-Namen in weitere Sprachen.</p>
<p class="tableblock"><strong><em>Anwendungsbeispiel</em></strong>: Varianten-Tags können für Kund:innen im Webshop sichtbar gemacht werden.
Wenn dein Webshop in mehreren Sprachen verfügbar ist, sollten auch die Tag-Namen in diesen Sprachen erscheinen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tags können jederzeit bearbeitet werden</div>
<div class="paragraph">
<p>Verwende die Suche, um Tags zu finden.
Mit den optionalen Filtern grenzt du das Suchergebnis ein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Name</strong> = Gib den Namen des Tags in der Hauptsprache deines plentymarkets Systems ein.</p>
</li>
<li>
<p><strong>Bereich</strong> = Wähle einen oder mehrere Bereiche. In den Suchergebnissen werden nur die Tags angezeigt, die für diesen Bereich aktiviert wurden.</p>
</li>
<li>
<p><strong>Sprache</strong> = Wähle eine oder mehrere Sprachen. In den Suchergebnissen werden nur die Tags angezeigt, deren Name in dieser Sprache gespeichert ist.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="eigenschaften-einleitung">6. Eigenschaften erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eigenschaften sind wiederholt auftretende Informationen und können für die nähere Charakterisierung deiner Kontakte verwendet werden. Beispielsweise kannst du in jedem Kontaktdatensatz speichern, auf welchem Weg der Kontakt kontaktiert werden soll und ob er die Zusendung deines neuen Produktkatalogs wünscht.</p>
</div>
<div class="paragraph">
<p>Du kannst die meisten Eigenschaften auch auf deinen <a href="#eigenschaften-auf-dokumenten">Auftragsdokumenten</a> anzeigen.</p>
</div>
<div class="paragraph">
<p>Außerdem hast du die Möglichkeit, <a href="#eigenschaften-gruppieren">Eigenschaftsgruppen</a> zu erstellen, um so einen besseren Überblick zu behalten, wenn du mit sehr vielen Eigenschaften arbeitest.</p>
</div>
<div class="paragraph">
<p>Die folgenden Unterkapitel beschreiben, wie du Eigenschaften <a href="#eigenschaften-erstellen">erstellst</a>, mit dem Kontakt <a href="#eigenschaften-verknuepfen">verknüpfst</a>, <a href="#eigenschaften-suchen">suchst</a> und <a href="#eigenschaften-loeschen">löschst</a> und wie du Eigenschaften <a href="#eigenschaften-gruppieren">gruppierst</a> sowie Eigenschaften <a href="#eigenschaften-importieren">importierst</a> und <a href="#eigenschaften-exportieren">exportierst</a>.</p>
</div>
<div class="sect2">
<h3 id="eigenschaften-erstellen">6.1. Neue Eigenschaften erstellen</h3>
<div class="paragraph">
<p>Eigenschaften erstellst du im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>. <a href="#970">Verknüpfe</a> die Eigenschaft anschließend mit dem Kontakt. Gehe wie im Folgenden beschrieben vor, um eine Eigenschaft zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Neue Eigenschaft erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Eigenschaft erstellen</strong>.</p>
</li>
<li>
<p>Passe die Einstellungen an deine Bedürfnisse an.</p>
</li>
<li>
<p>Speichere (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="sect3">
<h4 id="property-details">6.1.1. Details</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sobald du die Eigenschaft erstmalig gespeichert hast, erhält sie automatisch eine fortlaufende und einzigartige ID.
Die ID kann nicht geändert werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong><br>
(<span class="red">Pflichtfeld</span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wofür möchtest du die Eigenschaft nutzen?
Wähle den entsprechenden Bereich aus der Dropdown-Liste.
Je nachdem, welchen Bereich du hier wählst, ändern sich die weiteren Einstellungen im Menü.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Einstellung kann nach dem Speichern nicht mehr geändert werden.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Handbuchseite erklärt Eigenschaften vom Bereich <strong>Kontakt</strong>.
Solche Eigenschaften werden z.B. zur Ausgabe von Kontakteigenschaften auf deinen Dokumenten verwendet.
Eigenschaften können aber auch für die nähere Charakterisierung von <a href="/artikel/einstellungen/eigenschaften#500">Artikeln</a> oder <a href="/warenwirtschaft/lager-einrichten#850">Lagerorten</a> verwendet werden.
Klicke auf die Links, um mehr über diese anderen Anwendungsfälle zu erfahren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong><br>
(<span class="red">Pflichtfeld</span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Art von Eigenschaft möchtest du anlegen?
Wähle den Eigenschaftstyp aus der Dropdown-Liste.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Einstellung kann nach dem Speichern nicht mehr geändert werden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Typ</th>
<th class="tableblock halign-left valign-top">Wofür ist der Typ geeignet?</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kein</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle diese Option, wenn Eigenschaften außerhalb der Bereiche <strong>Artikel</strong>, <strong>Lagerort</strong> und <strong>Kontakt</strong> verwendet werden sollen, wie z.B. für die Facettensuche.<br>
<strong><em>Hinweis:</em></strong> Dieser Eigenschaftstyp kann <em>nicht</em> auf deinen Dokumenten ausgegeben werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ganze Zahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine ganze Zahl ein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kommazahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Zahl mit Kommastellen ein. Zulässig sind 8 Vor- und 4 Nachkommastellen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ermöglicht es, Werte einzugeben und anschließend einen dieser Werte aus einer Dropdown-Liste zu wählen.<br>
<strong><em>Hinweis:</em></strong> Dieser Eigenschaftstyp kann <em>nicht</em> auf deinen Dokumenten ausgegeben werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mehrfachauswahl</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ermöglicht es, Werte einzugeben und anschließend eine oder mehrere Optionen zu wählen.<br>
<strong><em>Hinweis:</em></strong> Dieser Eigenschaftstyp kann <em>nicht</em> auf deinen Dokumenten ausgegeben werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Kurztext ein. Dieser Text kann nicht formatiert werden.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Dieser Eigenschaftstyp ist sprachspezifisch.
Der Text wird also für jede Sprache einzeln hinterlegt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HTML</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Text ein. Dieser Text kann formatiert werden.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Dieser Eigenschaftstyp ist sprachspezifisch.
Der Text wird also für jede Sprache einzeln hinterlegt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeichenkette</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eine alphanumerische Zeichenkette kann im plentyShop angezeigt werden.
Im Gegensatz zu den Typen <strong>HTML</strong> und <strong>Text</strong> ist diese Zeichenkette <em>nicht sprachabhängig</em>.
Die Zeichenkette wird also <em>nicht</em> für jede Sprache einzeln hinterlegt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle diese Option, um die Eingabe eines Datums oder die Wahl des Datums aus einem Kalender zu ermöglichen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datei</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle diese Option, um das Hochladen einer Datei zu ermöglichen.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong><br>
(<span class="red">Pflichtfeld</span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Positionsnummer für die Eigenschaft ein.
Standardmäßig wird aufsteigend nach Positionsnummer sortiert.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipp</em></strong>: Speichere die Positionsnummern in 10er-Schritten, damit du mögliche neue Eigenschaften dazwischen einfügen kannst.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="property-names">6.1.2. Namen</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong><br>
(<span class="red">Pflichtfeld</span>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Namen für die Eigenschaft in der angegebenen Sprache ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span>, um den Namen in weitere Sprachen zu übersetzen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Beschreibung für die Eigenschaft in der angegebenen Sprache ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span>, um die Beschreibung in weitere Sprachen zu übersetzen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-plus  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ist dein plentyShop in mehreren Sprachen verfügbar?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> und wähle eine Sprachversion aus der Dropdown-Liste.</p>
</li>
<li>
<p>Gib Übersetzungen für den Namen und die Beschreibung ein.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="property-selection-values">6.1.3. Auswahlwerte</h4>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Nicht für jeden Eigenschaftstyp sichtbar</div>
<div class="paragraph">
<p>Diesen Bereich siehst du nur, wenn du mit einer Eigenschaft vom Typ <strong>Auswahl</strong> oder <strong>Mehrfachauswahl</strong> arbeitest.
Dieser Bereich ist für alle anderen Eigenschaftstypen unsichtbar.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Hier definierst du die einzelnen Werte, die zur Auswahl stehen.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Auswahlwert anlegen</strong> (<span class="icon darkGrey"><i class="fa fa-plus  "></i></span>).<br>
→ Das Fenster <strong>Auswahlwert anlegen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für den Wert in der angegebenen Sprache ein.<br>
<strong><em>Hinweis</em></strong>: Der Name ist auf 255 Zeichen begrenzt.
Es gibt keine visuelle Anzeige, wenn diese Grenze überschritten wird.
Beim Speichern des Auswahlwertes wird der Name nach 255 Zeichen abgeschnitten.</p>
</li>
<li>
<p>Wähle bei Bedarf eine Positionsnummer.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>.<br>
→ Der Wert wird erstellt und in der Übersicht angezeigt.
Der Wert erhält automatisch eine fortlaufende und einzigartige ID, die nicht geändert werden kann.</p>
</li>
<li>
<p>Ist dein plentyShop in mehreren Sprachen verfügbar?
Dann klicke auf den Wert, um eine Detailansicht zu öffnen.
Dort kannst du Übersetzungen und Beschreibungen für den Wert eingeben.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="property-groups">6.1.4. Gruppen</h4>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-warning  "></i></span> <span class="red">Pflichtfeld</span></p>
</div>
<div class="paragraph">
<p>Jede Eigenschaft muss zu mindestens einer <a href="/artikel/einstellungen/eigenschaften#1200">Gruppe</a> gehören.
Wähle die passende Gruppe aus der Dropdown-Liste aus.
Die gewählten Gruppen werden hier als sogenannte "Chips" dargestellt.
Klicke auf <span class="icon "><i class="fa fa-close  "></i></span>, um eine Gruppe wieder zu entfernen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Dropdown-Liste enthält nur <a href="/artikel/einstellungen/eigenschaften#1200">Eigenschaftsgruppen, die bereits angelegt wurden</a>.</p>
</div>
<h5 id="_mehrere_eigenschaften_einer_gruppe_zuordnen" class="discrete">Mehrere Eigenschaften einer Gruppe zuordnen</h5>
<div class="paragraph">
<p>plentymarkets enthält eine Funktion, mit der du mehrere Eigenschaften gleichzeitig einer Gruppe zuordnen kannst.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Eigenschaften einer Gruppe zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Wähle die Eigenschaften (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die du der Gruppe zuordnen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Gruppen verknüpfen</strong> (<span class="icon "><i class="material-link"></i></span>).<br>
→ Das Fenster <strong>Gruppen verknüpfen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle eine oder mehrere Eigenschaftsgruppen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Link</strong>.<br>
→ Die gewählten Eigenschaften werden den Gruppen zugeordnet.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="property-visibilities">6.1.5. Sichtbarkeiten</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll die Eigenschaft nur für bestimmte Mandanten (Shops) gelten? Falls ja, dann wähle alle Mandanten (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), für die diese Eigenschaft gelten soll.
Gib ein Wort in die Suchleiste ein, um die Ergebnisliste in Echtzeit einzugrenzen.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Mit plentymarkets kannst du mehrere Webshops, d.h. <a href="/webshop/mandanten-verwalten">mehrere Mandanten</a>, mit nur einer Software verwalten. Somit ist es möglich, über ein plentymarkets System mehrere unterschiedliche Geschäftsbereiche zu realisieren. Das ist ein großer Vorteil. Aber es bedeutet auch, dass du plentymarkets immer mitteilen musst, für welchen Webshop die Eigenschaft gilt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sichtbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, für welche Kundentypen die Eigenschaft sichtbar sein soll.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="property-options">6.1.6. Optionen</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pflichtfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktiviere diese Option, damit die Eigenschaft zu einer Pflichtangabe wird. Pflichtfelder werden in der Detailansicht des Kontakts im Bereich <strong>Eigenschaften</strong> und im Bestellvorgang im plentyShop fett markiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestellvorgang</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktiviere diese Option, damit die Eigenschaft im Bestellvorgang im plentyShop angezeigt wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundenregistrierung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Aktiviere diese Option, damit die Eigenschaft in der Kundenregistrierung im plentyShop angezeigt wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontaktsuche</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Diese Option ist aktuell noch ohne Funktion. Es soll später möglich sein, nach Eigenschaften im Menü <strong>CRM » Kontakte</strong> filtern zu können.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="eigenschaften-verknuepfen">6.2. Eigenschaften mit dem Kontakt verknüpfen</h3>
<div class="paragraph">
<p>Nachdem du die Eigenschaft im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong> erstellt hast, kannst du die Eigenschaft mit dem Kontakt verknüpfen. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaft mit dem Kontakt verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CRM » Kontakte (Testphase)</strong>.</p>
</li>
<li>
<p>Suche den Kontakt anhand der Filtereinstellungen. Beachte dazu <a href="#table-search-contact">[table-search-contact]</a> auf der Seite <a href="/crm/kontakte/kontakt-suchen">Kontakt suchen</a>.<br>
→ Die Kontakte, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicke in die Zeile des Kontakts, um den Datensatz zu öffnen.</p>
</li>
<li>
<p>Klicke auf der linken Seite auf <strong>Eigenschaften</strong>.<br>
→ Alle für den Kontakt verfügbaren Eigenschaften werden angezeigt und du kannst diese dort hinzufügen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="eigenschaften-auf-dokumenten">6.3. Eigenschaften auf Dokumenten ausgeben</h3>
<div class="paragraph">
<p>Du kannst die Kontakteigenschaften auf deinen <a href="/auftraege/auftragsdokumente">Auftragsdokumenten</a>, wie z.B. auf deinen Angeboten, ausgeben.</p>
</div>
<div class="paragraph">
<p>Die Vorlage erstellst du im Menü <strong>Einrichtung » Mandant » [Mandant wählen] » Standorte » [Standort wählen] » Dokumente » [Dokument wählen]</strong>. Dort siehst du im Bereich <strong>Kundeneigenschaften</strong> alle verfügbaren Eigenschaften, die du für den Bereich <strong>Kontakt</strong> erstellt hast.</p>
</div>
<div class="paragraph">
<p>Damit die Eigenschaft genau nach deinen Wünschen auf deinen Dokumenten ausgegeben wird, musst du die Eigenschaft im Textfeld rechts daneben umbenennen. Du könntest z.B. für den Eigenschaftstyp <strong>Kurztext</strong> den Text <em>Ansprechpartner Vertrieb</em> und für den Eigenschaftstyp <strong>Ganze Zahl</strong> deine Telefonnummer für eventuelle Rückfragen eingeben.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Vergiss nicht im Feld darunter, die Koordinaten für die X- und Y-Achsen einzugeben, damit die Inhalte korrekt auf deinem Dokument positioniert werden. Weitere Informationen dazu findest du auf der Handbuchseite <a href="/auftraege/auftragsdokumente#600">Auftragsdokumente</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Positionierung der Eigenschaften auf dem Dokument prüfen</div>
<div class="paragraph">
<p>Ob du alle Eigenschaften korrekt und nach deinen Wünschen positioniert hast, kannst du ganz einfach prüfen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Öffne den Kontaktdatensatz im Menü <strong>CRM » Kontakte (Testphase)</strong>.</p>
</li>
<li>
<p>Klicke auf der linken Seite auf <strong>Aufträge</strong>.<br>
→ Der Auftrag wird im Menü <strong>Aufträge » Aufträge bearbeiten</strong> geöffnet.</p>
</li>
<li>
<p>Klicke im Auftrag auf das Tab <strong>Belege</strong>.</p>
</li>
<li>
<p>Wähle das Dokument, für das du die Kundeneigenschaften in der Dokumentenvorlage eingerichtet hast, z.B. <em>Angebot</em>, aus der Dropdown-Liste.<br>
→ Die Vorlage wird geöffnet.</p>
</li>
<li>
<p>Prüfe die korrekte Positionierung der Kundeneigenschaften auf dem Dokument.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="eigenschaften-gruppieren">6.4. Eigenschaften gruppieren</h3>
<div class="paragraph">
<p>Wenn du viele Eigenschaften hast, dann kannst du sie gruppieren und somit leichter den Überblick in deinem plentymarkets Backend behalten.</p>
</div>
<div class="sect3">
<h4 id="neue-gruppe-erstellen">6.4.1. Neue Gruppe erstellen</h4>
<div class="paragraph instruction">
<p>Neue Gruppe erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Gruppen</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Gruppe erstellen</strong>.</p>
</li>
<li>
<p>Passe die Einstellungen an deine Bedürfnisse an.</p>
</li>
<li>
<p>Speichere (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="sect4">
<h5 id="group-details">Details</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sobald du die Gruppe erstmalig gespeichert hast, erhält sie automatisch eine fortlaufende und einzigartige ID.
Die ID kann nicht geändert werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Positionsnummer für die Eigenschaftsgruppe ein.
Standardmäßig wird aufsteigend nach Positionsnummer sortiert.
Wenn ein Kontakt Eigenschaften aus mehreren Gruppen hat, werden die Gruppen aufsteigend dargestellt.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipp</em></strong>: Speichere die Positionsnummern in 10er-Schritten, damit du mögliche neue Eigenschaftsgruppen dazwischen einfügen kannst.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppentyp</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle einen Gruppentyp aus der Dropdown-Liste.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>None</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eigenschaften werden standardmäßig nicht gruppiert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Eine der gruppierten Eigenschaften ist per Dropdown-Liste wählbar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Multiselect</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Mehrere Eigenschaften sind wählbar.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufpreistyp</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hast du vor, Zusatzoptionen oder Dienstleistungen gegen Aufpreis anzubieten?
Falls ja, dann wähle, ob der Aufpreis als Prozentsatz oder als Festbetrag behandelt werden soll, z.B. 5% oder 5 EUR.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect4">
<h5 id="group-names">Namen</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Namen für die Eigenschaftsgruppe in der angegebenen Sprache ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span>, um den Namen in weitere Sprachen zu übersetzen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Beschreibung für die Eigenschaftsgruppe in der angegebenen Sprache ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span>, um die Beschreibung in weitere Sprachen zu übersetzen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-plus  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Ist dein plentyShop in mehreren Sprachen verfügbar?</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> und wähle eine Sprachversion aus der Dropdown-Liste.</p>
</li>
<li>
<p>Gib Übersetzungen für den Namen und die Beschreibung ein.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect3">
<h4 id="assign-properties-to-group">6.4.2. Eigenschaften einer Gruppe zuordnen</h4>
<div class="paragraph">
<p>plentymarkets enthält eine Funktion, mit der du mehrere Eigenschaften gleichzeitig einer Gruppe zuordnen kannst.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaften einer Gruppe zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Wähle die Eigenschaften (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die du der Gruppe zuordnen möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Gruppen verknüpfen</strong> (<span class="icon "><i class="material-link"></i></span>).<br>
→ Das Fenster <strong>Gruppen verknüpfen</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle eine oder mehrere Eigenschaftsgruppen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Link</strong>.<br>
→ Die gewählten Eigenschaften werden den Gruppen zugeordnet.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="search-for-groups">6.4.3. Bestehende Gruppen suchen</h4>
<div class="paragraph">
<p>Zuvor erstellte Eigenschaftsgruppen werden in einer Übersicht angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Bestehende Gruppen suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Gruppen</strong>.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong><em>Option 1</em></strong>: Klicke auf <span class="icon darkGrey"><i class="fa fa-search  "></i></span>, um eine Liste aller Gruppen zu sehen.</p>
</li>
<li>
<p><strong><em>Option 2</em></strong>: Klicke auf <span class="icon darkGrey"><i class="fa fa-filter  "></i></span>, um die Suchergebnisse mit Hilfe von Filtern einzugrenzen.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Klicke auf eine Gruppe in der Ergebnisliste, um eine Detailansicht zu öffnen.
Dort kannst du die Einstellungen der Gruppe ändern.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine ID ein, um nach der Gruppe mit genau dieser ID zu suchen.</p>
<p class="tableblock"><strong><em>Hintergrund-Info</em></strong>: Bei der Erstellung erhält jede Gruppe automatisch eine fortlaufende und einzigartige ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen ein, um nach Gruppen mit diesem Namen zu suchen.
Es ist auch möglich, nach Teilen des Namens zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ZURÜCKSETZEN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt die gewählten Filterkriterien zurück.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SUCHEN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Führt die Suche aus. Die gefundenen Gruppen werden in der Übersicht angezeigt.</p>
<p class="tableblock"><strong><em>Tipp</em></strong>: Setze keine Filter, wenn du alle Gruppen in der Übersicht sehen möchtest.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="delete-groups">6.4.4. Gruppen wieder löschen</h4>
<div class="paragraph">
<p>Bereits erstellte Gruppen werden im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Gruppen</strong> angezeigt.
Gruppen können hier auch gelöscht werden.</p>
</div>
<div class="paragraph instruction">
<p>Gruppen löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wähle die Gruppen (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die du löschen möchtest.</p>
</li>
<li>
<p>Klicke oben links auf <span class="icon darkGrey"><i class="fa fa-trash  "></i></span>.</p>
</li>
<li>
<p>Bestätige deine Entscheidung.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Die Eigenschaften, die den Gruppen zugeordnet sind, bleiben erhalten.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="mit-eigenschaften-arbeiten">6.5. Mit bestehenden Eigenschaften arbeiten</h3>
<div class="sect3">
<h4 id="eigenschaften-suchen">6.5.1. Eigenschaften suchen</h4>
<div class="paragraph instruction">
<p>Eigenschaften suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong><em>Option 1</em></strong>: Klicke auf <span class="icon darkGrey"><i class="fa fa-search  "></i></span>, um eine Liste aller Eigenschaften zu sehen.</p>
</li>
<li>
<p><strong><em>Option 2</em></strong>: Klicke auf <span class="icon darkGrey"><i class="fa fa-filter  "></i></span>, um die Suchergebnisse mit Hilfe von Filtern einzugrenzen.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Klicke auf eine Eigenschaft in der Ergebnisliste, um eine Detailansicht zu öffnen.
Dort kannst du die Einstellungen der Eigenschaft ändern.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine ID ein, um nach der Eigenschaft mit genau dieser ID zu suchen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hintergrund-Info</em></strong>: Bei der Erstellung erhält jede Eigenschaft automatisch eine fortlaufende und einzigartige ID.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Namen ein, um nach Eigenschaften mit diesem Namen zu suchen.
Es ist auch möglich, nach Teilen des Namens zu suchen.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel</em></strong>: Die Eingabe von "start" würde eine Eigenschaft namens "Startdatum" und "Startpaket" finden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gruppen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle eine oder mehrere Gruppen aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um nach den Eigenschaften dieser Gruppen zu suchen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Diese Liste enthält nur bereits erstellten Gruppen. Hast du noch keine <a href="/artikel/einstellungen/eigenschaften#1200">Eigenschaftsgruppen erstellt</a>, siehst du hier auch keine Gruppennamen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle einen oder mehrere Bereiche aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um nach den Eigenschaften zu suchen, die für diesen Bereich verwendet werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle einen oder mehrere Eigenschaftstypen aus (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), um nach den Eigenschaften dieses Typs zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ZURÜCKSETZEN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Setzt die gewählten Filterkriterien zurück.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SUCHEN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Führt die Suche aus. Die gefundenen Eigenschaften werden in der Übersicht angezeigt.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipp</em></strong>: Setze keine Filter, wenn du alle Eigenschaften in der Übersicht sehen möchtest.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="eigenschaften-importieren">6.5.2. Eigenschaften importieren</h4>
<div class="paragraph">
<p>Mit dem Import-Tool und dem Import-Typ <strong>Eigenschaften</strong> kannst du Eigenschaften in dein plentymarkets System importieren. Welche Felder du für den Abgleich und die Zuordnung verwenden kannst, ist auf der Handbuchseite des Import-Typs <a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften">Eigenschaften</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Allgemeine Informationen zum Importieren von Daten in dein plentymarkets System findest du auf der Handbuchseite <a href="/daten/daten-importieren/ElasticSync">Import-Tool nutzen</a>.</p>
</div>
</div>
<div class="sect3">
<h4 id="eigenschaften-exportieren">6.5.3. Eigenschaften exportieren</h4>
<div class="paragraph">
<p>Möchtest du Informationen über Eigenschaften aus deinem plentymarkets System exportieren? Das geht in zwei Schritten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Zuerst verwendest du den <a href="/daten/daten-exportieren/FormatDesigner">FormatDesigner</a>, um ein sogenanntes Datenformat zu erstellen.</p>
<div class="ulist">
<ul>
<li>
<p>Verwende dabei den Formattyp <a href="/daten/daten-exportieren/FormatDesigner/format-typen/eigenschaften">Eigenschaften</a>, wenn du die eigentlichen Eigenschaften und Eigenschaftsgruppen exportieren willst.</p>
</li>
<li>
<p>Verwende dabei den Formattyp <strong>contact</strong> mit den Datenfeldern <a href="/daten/daten-exportieren/FormatDesigner/format-typen/kontakte#750">ContactProperty</a>, wenn du die Verknüpfungen zwischen Eigenschaften und Kontakten exportieren willst.</p>
</li>
</ul>
</div>
</li>
<li>
<p>In einem zweiten Schritt verwendest du den <a href="/daten/daten-exportieren/elastischer-export">Elastischen Export</a>, um die soeben erstellten Datenformate zu exportieren.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="eigenschaften-loeschen">6.5.4. Eigenschaften wieder löschen</h4>
<div class="paragraph">
<p>Bereits erstellte Eigenschaften werden im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong> angezeigt.
Eigenschaften können hier auch gelöscht werden.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaft löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wähle die Eigenschaften (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), die du löschen möchtest.</p>
</li>
<li>
<p>Klicke oben links auf <strong>Eigenschaften löschen</strong> (<span class="icon darkGrey"><i class="fa fa-trash  "></i></span>).</p>
</li>
<li>
<p>Bestätige deine Entscheidung.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="rabattsystem-nutzen">7. Rabattsystem nutzen (optional)</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Einrichten des Rabattsystems ist optional</div>
<div class="paragraph">
<p>Das Einrichten des Rabattsystems in plentymarkets ist optional. Lies dir die Möglichkeiten zur Rabattierung in den folgenden Unterkapiteln durch und entscheide dann, ob du Rabattierungen, beispielsweise über die Kundenklassen, erlauben möchtest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In plentymarkets hast du mehrere Möglichkeiten der Rabattierung. Du kannst deinen Kontakten einen <a href="#kundenklassenrabatt">Kundenklassenrabatt</a>, einen <a href="#rabatt-zahlungsart">Rabatt auf die Zahlungsart</a> sowie eine <a href="#rabbatstaffel-nettowarenwert">Rabattstaffel auf den Nettowarenwert einer Bestellung</a> gewähren. Außerdem kannst du <a href="#rabatt-verkaufspreis">Verkaufspreise als Rabatte</a> speichern und <a href="#rabatt-manuell">manuelle Rabatte</a> eingeben. Nimm die gewünschten Einstellungen für die Rabattarten im Menü <strong>Einrichtung » CRM » Kundenklassen</strong> vor. Wie du die Rabatte gewährst, ist in den folgenden Unterkapiteln beschrieben.</p>
</div>
<div class="sect2">
<h3 id="kundenklassenrabatt">7.1. Kundenklassenrabatt einrichten</h3>
<div class="paragraph">
<p>In einer Kundenklasse legst du Rabatte fest, die dann nur für diese Kundenklasse wirksam werden. Darüber hinaus bestehen hier weitere Einstellungsmöglichkeiten, z.B. das Aktivieren von Mengenrabatten der Verkaufspreise. Beachte dabei, dass sich je nach Einstellung Rabatte addieren können.</p>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um einen Rabatt für Kundenklassen einzugeben.</p>
</div>
<div class="paragraph instruction">
<p>Kundenklassenrabatt einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Kundenklassen</strong>.</p>
</li>
<li>
<p>Klappe die Kundenklasse, für die der Rabatt gelten soll, auf (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Aktiviere unter <strong>Rabattart</strong> die Option <strong>Kundenklassenrabatt</strong>.<br>
→ Eine weitere Einstellung wird geöffnet.</p>
</li>
<li>
<p>Gib unter <strong>Rabatt in %</strong> den Prozentwert für den Rabattabzug ein.</p>
</li>
<li>
<p>Wähle, ob der <strong>Mengenrabatt</strong> berücksichtigt werden soll.</p>
</li>
<li>
<p>Wähle, welche der im plentyShop verfügbaren Zahlungsarten für die Kundenklasse erlaubt sein sollen.</p>
</li>
<li>
<p>Gib einen Zahlungshinweis ein.<br>
→ Dieser Zahlungshinweis wird auf Einzelrechnungen angezeigt.</p>
</li>
<li>
<p>Wähle, ob die Preise im plentyShop <strong>brutto</strong> (inklusive Mehrwertsteuer) oder <strong>netto</strong> (exklusive Mehrwertsteuer) angezeigt werden sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="rabbatstaffel-nettowarenwert">7.2. Rabattstaffel auf Nettowarenwert einrichten</h3>
<div class="paragraph">
<p>Möchtest du deine Kontakte mit Rabatten belohnen, wenn diese häufig und umsatzsteigernd in deinem plentyShop einkaufen? Dann kannst du hier Rabattwerte auf den Nettowarenwert des Auftrages festlegen.</p>
</div>
<div class="paragraph instruction">
<p>Rabattstaffel auf Nettowarenwert einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Kundenklassen</strong>.</p>
</li>
<li>
<p>Klappe die Kundenklasse, für die die Rabattstaffel gelten soll, auf (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Aktiviere unter <strong>Rabattart</strong> die Option <strong>Rabattstaffel auf Nettowarenwert</strong>.<br>
→ Eine Tabelle mit weiteren Einstellungen wird geöffnet.</p>
</li>
<li>
<p>Gib unter <strong>ab Nettowarenwert</strong> die Betragsangaben aufsteigend ein.</p>
</li>
<li>
<p>Gib unter <strong>Rabatt in %</strong> die Prozentwerte für den Rabattabzug aufsteigend ein.<br>
→ Wenn du z.B. im Feld <strong>ab Nettowarenwert</strong> 50 eingibst und im Feld <strong>Rabatt in %</strong> 2 eingibst, werden ab 50 Euro 2% Rabatt gewährt.</p>
</li>
<li>
<p>Wähle, ob der <strong>Mengenrabatt</strong> berücksichtigt werden soll.</p>
</li>
<li>
<p>Wähle, welche der im plentyShop verfügbaren Zahlungsarten für die Kundenklasse erlaubt sein sollen.</p>
</li>
<li>
<p>Gib einen Zahlungshinweis ein.<br>
→ Dieser Zahlungshinweis wird auf Einzelrechnungen angezeigt.</p>
</li>
<li>
<p>Wähle, ob die Preise im plentyShop <strong>brutto</strong> (inklusive Mehrwertsteuer) oder <strong>netto</strong> (exklusive Mehrwertsteuer) angezeigt werden sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<h4 id="_wie_sehen_deine_kundinnen_den_rabatt_in_deinem_plentyshop" class="discrete">Wie sehen deine Kund:innen den Rabatt in deinem plentyShop?</h4>
<div class="paragraph">
<p>Der Rabatt wird berechnet und angezeigt, wenn der Kontakt seinen Einkauf beendet und zur Kasse geht. Im Warenkorb wird zunächst nur der gesamte Rabattbetrag ausgewiesen. Wenn der Kontakt die Bestellung abschließt, wird zusätzlich zum Gesamtrabatt der Rabatt auf die einzelnen Artikelpositionen berechnet und angezeigt.</p>
</div>
</div>
<div class="sect2">
<h3 id="rabatt-zahlungsart">7.3. Rabatt auf Zahlungsart einrichten</h3>
<div class="paragraph">
<p>Mit der Rabattart <strong>Rabatt auf Zahlungsart</strong> gewährst du deinen Kontakten einen Rabatt auf die Verwendung einer oder mehrerer Zahlungsarten.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Rabatt auf Zahlungsart direkt hinterlegen</div>
<div class="paragraph">
<p>Alternativ zu der Einstellung, die du in diesem Menü vornimmst, ist es möglich, direkt bei einer Zahlungsart einen globalen Rabatt für diese Zahlungsart zu hinterlegen. Ein Beispiel ist ein prozentualer Rabatt bei der Zahlungsart <strong>Vorkasse</strong>. Beachte dazu die Handbuchseite <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten verwalten</a>. Die Einstellung direkt bei der Zahlungsart erlaubt jedoch keine detaillierteren Einstellungen als bei der Option <strong>Rabatt auf Zahlungsart</strong> im Menü <strong>Einrichtung » CRM » Kundenklassen</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um einen Rabatt auf eine oder mehrere Zahlungsarten einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Rabatt auf Zahlungsart einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Kundenklassen</strong>.</p>
</li>
<li>
<p>Klappe die Kundenklasse, für die der Rabatt gelten soll, auf (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Gib ein <strong>Zahlungsziel</strong> in Tagen ein, das du dieser Kundenklasse einräumen möchtest.</p>
</li>
<li>
<p>Aktiviere unter <strong>Rabattart</strong> die Option <strong>Rabatt auf Zahlungsart</strong>.<br>
→ Eine Tabelle mit weiteren Einstellungen wird geöffnet.</p>
</li>
<li>
<p>Wähle eine oder mehrere Zahlungsarten, für die der Rabatt gelten soll.</p>
</li>
<li>
<p>Gib unter <strong>Rabatt in %</strong> den Prozentwert für den Rabattabzug ein.</p>
</li>
<li>
<p>Wähle, ob der <strong>Mengenrabatt</strong> berücksichtigt werden soll.</p>
</li>
<li>
<p>Wähle, welche der im Webshop verfügbaren Zahlungsarten für die Kundenklasse erlaubt sein sollen.</p>
</li>
<li>
<p>Gib einen Zahlungshinweis ein.<br>
→ Dieser Zahlungshinweis wird auf Einzelrechnungen angezeigt.</p>
</li>
<li>
<p>Wähle, ob die Preise im Webshop <strong>brutto</strong> (inklusive Mehrwertsteuer) oder <strong>netto</strong> (exklusive Mehrwertsteuer) angezeigt werden sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="rabatt-verkaufspreis">7.4. Verkaufspreis als Rabatt speichern</h3>
<div class="paragraph">
<p>Ein mengenbezogener Rabatt wird im Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong> als eigener Preis angelegt. Dort legst du mit der Option <strong>Ab Menge</strong> im Bereich <strong>Einstellungen</strong> für den Verkaufspreis fest, ab welcher Artikelmenge der rabattierte Preis gelten soll. Eine Staffelung realisierst du durch das Erstellen entsprechender Verkaufspreise mit den gewünschten Mindestmengen.</p>
</div>
<div class="paragraph">
<p>Der rabattierte Verkaufspreis wird aktiviert, wenn du in der Kundenklasse die Option <strong>Mengenrabatt</strong> auf <strong>Berücksichtigen</strong> setzt. Ein Kontakt erhält den Rabatt, wenn der Kontakt erstens zu der betreffenden Kundenklasse gehört und zweitens mindestens die beim Verkaufspreis gespeicherte Menge bestellt.</p>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis als Rabatt speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong>.</p>
</li>
<li>
<p>Öffne den Verkaufspreis.</p>
</li>
<li>
<p>Gib im Tab <strong>Einstellungen</strong> im Feld <strong>Ab Menge</strong> eine Ziffer ein, ab welcher Artikelmenge der rabattierte Preis gelten soll.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Klasse</strong> die Kundenklassen, für die der Verkaufspreis gelten soll.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Informationen zu Verkaufspreisen findest du auf der Handbuchseite <a href="/artikel/einstellungen/preise#100">Verkaufspreise und Preiskalkulation</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="rabatt-manuell">7.5. Manuellen Rabatt eingeben</h3>
<div class="paragraph">
<p>Zusätzlich zur Vergabe von automatischen Rabatten hast du die Möglichkeit, einzelnen oder allen Artikelpositionen eines Auftrags manuell einen Rabatt zuzuweisen. Du kannst manuelle Rabatte in 2 verschiedenen Ansichten eingeben: in der Listenansicht der <a href="/auftraege/auftraege-verwalten#1300">Auftragssuche</a> und im Bearbeitungsfenster eines <a href="/auftraege/auftraege-verwalten#1530">Auftrags</a>.</p>
</div>
<div class="sect3">
<h4 id="rabatt-einzelner-artikel-auftragssuche">7.5.1. Rabatt für einzelnen Artikel in der Auftragssuche eingeben</h4>
<div class="paragraph">
<p>Wenn du schnell einzelnen Artikelpositionen eines Auftrags einen Rabatt zuweisen oder den Rabattwert ändern möchtest, kannst du dies direkt in der Auftragssuche tun. Gehe wie im Folgenden beschrieben vor, um einen Rabatt für einzelne Artikel in der Auftragssuche einzugeben oder zu ändern.</p>
</div>
<div class="paragraph instruction">
<p>Rabatt für einzelnen Artikel in der Auftragssuche eingeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.<br>
→ Die Auftragssuche wird angezeigt.</p>
</li>
<li>
<p>Klicke rechts in der Ansicht eines Auftrags auf <strong>Rabatt</strong> (Standard:&nbsp;0%).<br>
→ Ein Fenster zur Eingabe des Prozentsatzes wird geöffnet.</p>
</li>
<li>
<p>Gib den als Rabatt gewünschten Prozentsatz ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Der Rabattwert wird angezeigt und der Rabatt wird von der Artikelposition abgezogen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="rabatt-einzelner-artikel-auftrag">7.5.2. Rabatt für einzelnen Artikel im Auftrag eingeben</h4>
<div class="paragraph">
<p>In der Auftragsübersicht werden ganz unten die Artikelpositionen angezeigt. Auch hier hast du die Möglichkeit, einzelnen Artikelpositionen einen Rabattwert zuzuweisen oder den Rabattwert zu ändern. Gehe wie im Folgenden beschrieben vor, um einen Rabatt für einen Artikel im Auftrag einzugeben oder zu ändern.</p>
</div>
<div class="paragraph instruction">
<p>Rabatt für einzelnen Artikel im Auftrag eingeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Auftrag, auf den ein Rabatt gewährt werden soll, mit einem Klick auf die Auftragsnummer.</p>
</li>
<li>
<p>Öffne im Tab <strong>Übersicht</strong> des Auftrags im unteren Bereich das Tab <strong>Bearbeiten</strong> (<span class="icon "><i class="fa fa-pencil  "></i></span>).</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Rabatt</strong> den Rabattsatz.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="rabatt-alle-artikel-im-auftrag">7.5.3. Rabatt für alle Artikel eines Auftrags eingeben</h4>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um einen Rabatt für alle Artikelpositionen eines Auftrags einzugeben bzw. zu ändern.</p>
</div>
<div class="paragraph instruction">
<p>Rabatt für alle Artikel eines Auftrags eingeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Auftrag, auf den ein Rabatt gewährt werden soll, mit einem Klick auf die Auftragsnummer.</p>
</li>
<li>
<p>Öffne im Tab <strong>Übersicht</strong> des Auftrags im unteren Bereich das Tab <strong>Bearbeiten</strong> (<span class="icon "><i class="fa fa-pencil  "></i></span>).</p>
</li>
<li>
<p>Klicke unterhalb der Liste der Artikelpositionen auf den Link <strong>Rabatt für alle Artikel vergeben</strong>.</p>
</li>
<li>
<p>Wähle aus der angezeigten Dropdown-Liste den Rabattsatz.</p>
</li>
<li>
<p>Klicke rechts neben der Dropdown-Liste auf <strong>Speichern</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<hr>
<div class="paragraph next-navigation">
<p><a href="/crm/kontakte/kontakt-suchen">Kontakt suchen <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</div>
</div>
</main>