<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_checkliste_artikelsichtbarkeit_im_webshop"><span>1.</span><span> Checkliste: Artikelsichtbarkeit im Webshop</span></a>
<ul class="sectlevel2">
<li><a href="#_ist_die_variante_im_bereich_aktiv_geschaltet"><span>1.1.</span><span> Ist die Variante im Bereich aktiv geschaltet?</span></a></li>
<li><a href="#_ist_ein_verkaufspreis_mit_der_variante_verknüpft"><span>1.2.</span><span> Ist ein Verkaufspreis mit der Variante verknüpft?</span></a></li>
<li><a href="#_ist_eine_kategorie_mit_der_variante_verknüpft"><span>1.3.</span><span> Ist eine Kategorie mit der Variante verknüpft?</span></a></li>
<li><a href="#_ist_die_mandantenverfügbarkeit_gesetzt"><span>1.4.</span><span> Ist die Mandantenverfügbarkeit gesetzt?</span></a></li>
<li><a href="#_haben_die_varianten_positiven_netto_warenbestand"><span>1.5.</span><span> Haben die Varianten positiven Netto-Warenbestand?</span></a></li>
<li><a href="#_sind_die_verfügbarkeiten_für_den_shop_aktiviert"><span>1.6.</span><span> Sind die Verfügbarkeiten für den Shop aktiviert?</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: Artikel</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hier findest du Best Practices zum Thema Artikel.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_checkliste_artikelsichtbarkeit_im_webshop">1. Checkliste: Artikelsichtbarkeit im Webshop</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Diese Checkliste soll helfen, mögliche Fehlerquellen bei der Artikelsichtbarkeit ausfindig zu machen. Bei unseren Beispiel-Screenshots handelt es sich um Einstellungen aus einem Standardsystem, Abweichungen sind möglich.</p>
</div>
<div class="sect2">
<h3 id="_ist_die_variante_im_bereich_aktiv_geschaltet">1.1. Ist die Variante im Bereich aktiv geschaltet?<br></h3>
<div class="paragraph">
<p>Der Haken wird im Bereich <strong>Verfügbarkeit</strong> des Variantentabs <strong>Einstellungen</strong> gesetzt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/best-practices/assets/Checkliste_Artikel_aktiv.png" alt="Aktiv" width="700">
</div>
<div class="title">Bild 1. Einstellungstab einer Variante.</div>
</div>
</div>
<div class="sect2">
<h3 id="_ist_ein_verkaufspreis_mit_der_variante_verknüpft">1.2. Ist ein Verkaufspreis mit der Variante verknüpft?<br></h3>
<div class="paragraph">
<p>Folgende Parameter müssen passend für den Shop im Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong> gesetzt sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Währung</p>
</li>
<li>
<p>kein UVP, Aktionspreis oder Setpreis</p>
</li>
<li>
<p>Mandant</p>
</li>
<li>
<p>Kundenklasse</p>
</li>
<li>
<p>Land</p>
</li>
<li>
<p>Herkunft</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_ist_eine_kategorie_mit_der_variante_verknüpft">1.3. Ist eine Kategorie mit der Variante verknüpft?<br></h3>
<div class="paragraph">
<p>Eine Kategorieverknüpfung wird im Tab <strong>Kategorien</strong> einer Variante hinterlegt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/best-practices/assets/Checkliste_Artikel_Kategorieverknuepfung.png" alt="Kategorieverknüpfung" width="700">
</div>
<div class="title">Bild 2. Im Kategorien-Tab werden die angelegten Kategorien mit der Variante verknüpft.</div>
</div>
</div>
<div class="sect2">
<h3 id="_ist_die_mandantenverfügbarkeit_gesetzt">1.4. Ist die Mandantenverfügbarkeit gesetzt?<br></h3>
<div class="paragraph">
<p>Die Mandantenverfügbarkeit wird im Bereich <strong>Mandant (Shop)</strong> des Tabs <strong>Verfügbarkeit</strong> für die Variante gesetzt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/best-practices/assets/Checkliste_Artikel_Mandantenverfuegbarkeit.png" alt="Mandantenverfügbarkeit" width="700">
</div>
<div class="title">Bild 3. Bei Mandantenverfügbarkeit auf automatische Webshopsichtbarkeit achten.</div>
</div>
</div>
<div class="sect2">
<h3 id="_haben_die_varianten_positiven_netto_warenbestand">1.5. Haben die Varianten positiven Netto-Warenbestand?</h3>
<div class="paragraph">
<p>Auf die Bestandsbeschränkung achten!</p>
</div>
<div class="paragraph">
<p>Der o.g. Punkt gilt nur, wenn die Varianten auf Netto-Warenbestand beschränkt sind.
Führt man keinen Bestand oder nutzt keine Beschränkung, brauchen die Varianten keinen positiven Netto-Warenbestand.</p>
</div>
</div>
<div class="sect2">
<h3 id="_sind_die_verfügbarkeiten_für_den_shop_aktiviert">1.6. Sind die Verfügbarkeiten für den Shop aktiviert?<br></h3>
<div class="paragraph">
<p>Verfügbarkeiten müssen im Menü <strong>Einrichtung » Mandant » Standard Shop » Artikelansichten » Verfügbarkeit</strong> gesetzt werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/artikel/best-practices/assets/Checkliste_Artikel_Verfuegbarkeit.png" alt="Verfügbarkeit" width="700">
</div>
<div class="title">Bild 4. Die Verfügbarkeiten werden in diesem Bereich für den Shop aktiviert.</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Cache</div>
<div class="paragraph">
<p>Wenn die Varianten richtig konfiguriert sind, kann es Cache-bedingt dennoch bis zu einer Stunde dauern, bis Artikel im Webshop sichtbar sind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>