<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>E-Mail</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die in diesem Bereich aufgelisteten Template-Funktionen und -Variablen können ausschließlich in E-Mail-Vorlagen verwendet werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_inhaltsverzeichnis">Inhaltsverzeichnis</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#e-mail-email">Email</a> — E-Mail</p>
</li>
</ul>
</div>
</div>
</div>
</main>