<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Global</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Bereich findest du <strong>PHP-Funktionen</strong>, welche auch innerhalb der CMS-Syntax verwendet werden können. Diese Funktionen sind sowohl im Bereich <strong>Webdesign</strong> und <strong>Kategorien</strong> als auch in <strong>E-Mail-Vorlagen</strong> verfügbar.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_inhaltsverzeichnis">Inhaltsverzeichnis</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/webshop/webshop-einrichten/cms-syntax#global-phpfunctions">PHPFunctions</a> — Folgende PHP-Funktionen stehen auch innerhalb der CMS-Syntax zur Verfügung. Die Verwendung ist weitestgehend identisch mit der Verwendung direkt in PHP.</p>
</li>
</ul>
</div>
</div>
</div>
</main>