<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Grundlagen</h1><div class="sect1">
<h2 id="_inhaltsverzeichnis">Inhaltsverzeichnis</h2>
<div class="sectionbody">
<hr>
<div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-4">
<div class="title">Example 1. Grundlagen</div>
<div class="content">
<div class="paragraph">
<p><a href="/webshop/webshop-einrichten/cms-syntax#grundlagen-compiler">Compiler</a><br>
<a href="/webshop/webshop-einrichten/cms-syntax#grundlagen-code-block">Block</a><br>
<a href="/webshop/webshop-einrichten/cms-syntax#grundlagen-kommentar">Kommentar</a></p>
</div>
</div>
</div>
<div class="exampleblock col-md-4">
<div class="title">Example 2. Typen</div>
<div class="content">
<div class="paragraph">
<p><a href="/webshop/webshop-einrichten/cms-syntax#grundlagen-typen">Primitive Typen</a></p>
</div>
</div>
</div>
<div class="exampleblock col-md-4">
<div class="title">Example 3. Variablen</div>
<div class="content">
<div class="paragraph">
<p><a href="/webshop/webshop-einrichten/cms-syntax#grundlagen-variablen">Eigene Variablen</a><br>
<a href="/webshop/webshop-einrichten/cms-syntax#grundlagen-template-variablen">Template-Variablen</a></p>
</div>
</div>
</div>
</div>
</div>
<div class="exampleblock row">
<div class="content">
<div class="exampleblock col-md-4">
<div class="title">Example 4. Operatoren</div>
<div class="content">
<div class="paragraph">
<p><a href="/webshop/webshop-einrichten/cms-syntax#grundlagen-operatoren">Operatoren</a></p>
</div>
</div>
</div>
<div class="exampleblock col-md-4">
<div class="title">Example 5. Kontrollstrukturen</div>
<div class="content">
<div class="paragraph">
<p><a href="/webshop/webshop-einrichten/cms-syntax#grundlagen-if">if/elseif/else</a><br>
<a href="/webshop/webshop-einrichten/cms-syntax#grundlagen-for">for</a></p>
</div>
</div>
</div>
<div class="exampleblock col-md-4">
<div class="title">Example 6. Funktionen</div>
<div class="content">
<div class="paragraph">
<p><a href="/webshop/webshop-einrichten/cms-syntax#grundlagen-template-funktionen">Template-Funktionen</a></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</main>