<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Webdesign</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die in diesem Bereich aufgelisteten Template-Funktionen und -Variablen dienen zur Gestaltung deines Online-Shopsund können in den Bereichen <strong>CMS » Webdesign</strong> und <strong>Artikel » Kategorien</strong> verwendet werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_inhaltsverzeichnis">Inhaltsverzeichnis</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-pagedesign">PageDesign</a> — Die unterschiedlichen Seitenlayouts können über diese Funktionen gestaltet werden, weiterhin stehen dir viele Variablen mit global relevanten Informationen zur Verfügung.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation">Navigation</a> — Gestaltung sämtlicher Kategorie-Navigationen und Variablen zur aktuellen Navigationsposition (Kategorien) findest du in diesem Bereich.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview">ItemView</a> — Die Funktionen und Variablen zur Gestaltung von Artikeldarstellungen, z.B. Listen, Produktseiten oder die Artikelsuche, findest du in diesem Bereich.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-category">Category</a> — Die Funktionen und Variablen zur Gestaltung von Kategorien des Typs Content.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-categoryview">CategoryView</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-blogdesign">BlogDesign</a> — Die Funktionen und Variablen zur Gestaltung von Blogs oder der Blogsuche findest du in diesem Bereich.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-blogentry">BlogEntry</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout">Checkout</a> — Die Funktionen und Variablen zur Gestaltung des Bestellvorgangs, wie Warenkorb, Rechnungsanschrift oder die Auswahl der Zahlungsart, findest du in diesem Bereich.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-misc">Misc</a> — Die übrigen Funktionen und Variablen, welche keinem der anderen Bereiche zugewiesen werden kann, findest du in diesem Bereich.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-validator">Validator</a> — Die Funktionen und Variablen zur Gestaltung der Validatoren findest du in diesem Bereich. Ein Validator übernimmt die Prüfung der eingegebenen Daten eines Kunden, bevor die Daten gespeichert werden. Sobald Daten des Bestellvorgangs übermittelt wurden, wird das entsprechende Validator-Template aufgerufen. Wird beispielsweise die Rechnungsadresse abgesendet, wird das Template ValidatorCustomerInvoiceAddress aufgerufen. Hat der Kunde Felder der Rechnungsadresse nicht ausgefüllt, die im Template als Pflichtangaben definiert sind, werden die entsprechenden Fehlermeldungen ausgegeben. Die Daten werden nicht gespeichert, solange hierbei Fehlermeldungen ausgegeben werden.</p>
</li>
</ul>
</div>
</div>
</div>
</main>