<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikel zu Amazon exportieren</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">In diesem Video erfährst du, wie du deine Artikeldaten von plentymarkets an Amazon exportierst. Du erfährst, wie du deinen gesamten Produktkatalog manuell überträgst, wenn du neu bei Amazon bist. Außerdem zeigen wir dir, wie du geänderte Informationen, Preise und Lagerbestände automatisch aktualisierst, wenn du bereits auf Amazon verkaufst.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/amazon/artikel/artikelexport-automatismen#video">Automatismen einstellen (0:24)</a></p>
<p class="tableblock"><a href="/videos/amazon/artikel/artikelexport-exportiflter#video">Exportfilter setzen (1:30)</a></p>
<p class="tableblock"><a href="/videos/amazon/artikel/artikelexport-exporteinstellungen#video">Exporteinstellungen (2:32)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/197490065#at=152" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Du kommst gut voran auf deiner Reise. Deine Artikel strahlen und sind bereit auf den Weg zu Amazon gebracht zu werden.</p>
</div>
<div class="paragraph">
<p>Dieses Video zeigt dir, wie du festlegst, welche Artikel im Einzelnen auf die Reise geschickt werden! Zuerst legen wir fest, welche deiner Artikel für Amazon relevant sind. Außerdem erfährst du, welche SKU-Einstellungen konfiguriert werden müssen, bevor du Artikel zum ersten Mal an Amazon übergibst. Auf deinem Weg wird dir auch eine Gabelung begegnen. Hier werden wir etwas konkreter in deiner Einrichtung. In die eine Richtung solltest du gehen, wenn du Amazon völlig neu einrichtest und deine Artikel erstmals an die Plattform übertragen möchtest. Wenn du bereits auf Amazon verkaufst und nur kürzlich geänderte Informationen, Preise oder Lagerbestände aktualisieren möchtest, gehst du den anderen Weg.</p>
</div>
<div class="paragraph">
<p>Okay - Schritt Eins: In plentymarkets stellst du ein, welche Artikel im Einzelnen für Amazon relevant sind. Dazu aktivierst du im System zunächst den Artikel und öffnest dann den Verfügbarkeiten-Tab.</p>
</div>
<div class="paragraph">
<p>Im Bereich Märkte wählst du dann die Amazon-Plattform aus, für die deine Artikel relevant sind und die Web-API.</p>
</div>
<div class="paragraph">
<p>Nun kannst du dir direkt den Multi-Channel-Tab öffnen und den entsprechenden Produkttypen, auf den wir im Laufe des Videos zu sprechen kommen, festlegen.</p>
</div>
<div class="paragraph">
<p>Für weitere Einstellungen kannst du genauso vorgehen, wie ich es dir gerade gezeigt habe oder mit den beiden Gruppenfunktionen die Einstellungen für mehrere Artikel gleichzeitig hinterlegen.</p>
</div>
<div class="paragraph">
<p>Bevor du damit beginnst, deine Artikel an Amazon zu übertragen, solltest du dir noch dringend eine weitere Einstellung anschauen!</p>
</div>
<div class="paragraph">
<p>SKUs sind im Wesentlichen Referenzwerte, um deine Artikel auf Amazon zu identifizieren. Im Prinzip kannst du hier frei wählen, aus welchen Informationen deine SKUs gebildet werden. Wähle also hier, welche Information plentymarkets als SKU beim ersten Export zu Amazon übergeben soll.</p>
</div>
<div class="paragraph">
<p>plentymarkets fügt der gewählten Option übrigens immer das Suffix afn oder mfn am Ende der SKU hinzu. Solltest du eine benutzerdefinierte SKU ohne Suffix nutzen wollen, musst du dazu die entsprechende Variante öffnen und die SKU händisch hinterlegen.</p>
</div>
<div class="paragraph">
<p>Am Horizont erscheint nun die angesprochene Weggablung. Wenn du neu bei Amazon bist, ist es sinnvoll, deine Artikel vollumfänglich zu übergeben. Wenn du deine Artikel aber bereits auf Amazon anbietest, möchtest du vielleicht nur, dass Preise, Lagerbestände und Artikeldaten synchronisiert werden.</p>
</div>
<div class="paragraph">
<p>Um in die erste Richtung weiterzugehen, navigieren wir zum Amazon Datenexport-Menü. Hier kannst du entweder die CSV-Datei für dein Seller-Central-Konto oder den Marketplace herunterladen. Wähle einfach deinen Amazon-Account, sowie den entsprechenden Artikel-Katalog.</p>
</div>
<div class="paragraph">
<p>Denk aber daran, wenn du Artikel in mehreren Kategorien verkaufen willst, musst du für jede Kategorie eine separate CSV-Datei exportieren.</p>
</div>
<div class="paragraph">
<p>Mit diesen Optionen kannst du die Artikel, die in den Export mit einbezogen werden sollen weiter begrenzen. Du kannst beispielsweise nur Artikel mit einem bestimmten Flag, Artikel, die zu einem bestimmten Zeitpunkt erstellt oder geändert wurden, oder Artikel eines bestimmten Herstellers exportieren.</p>
</div>
<div class="paragraph">
<p>Sobald du diese Optionen ausgewählt hast, klickst du einfach diesen Icon, um die CSV-Datei herunterzuladen. Diese beinhaltet dann alle mit den Filtermerkmalen markierten Artikel, die in den letzten 24Stunden geändert wurden. Die heruntergeladene Datei kannst du dann mit einem Tabellenkalkulationsprogramm öffnen und dir alle enthaltenen Artikel anschauen. Wenn du die Daten geprüft hast, kannst du die Datei direkt in deinem Seller Central-Konto hochladen.</p>
</div>
<div class="paragraph">
<p>Innerhalb des Seller Centrals verfügst du über ein Tool, mit dem du verschiedene Standards deiner Datei prüfen kannst, bevor du die Datei zu Amazon hochlädst. Somit kannst du einige mögliche Fehler im Voraus ausschließen.</p>
</div>
<div class="paragraph">
<p>Okay, der manuelle Export ist eine großartige Möglichkeit, erstmalig deine Artikel an Amazon zu übertragen. Sind deine Artikel allerdings auf Amazon schon sichtbar, möchtest du vielleicht, dass Dinge wie Bestand oder Preise automatisch auf Amazon angepasst werden.</p>
</div>
<div class="paragraph">
<p>Wenn du bereits ASINs für Amazon hast, benutzt du diese Optionen, um einmal täglich all deine Artikelinformationen wie z.B. Artikeltexte zu synchronisieren.</p>
</div>
<div class="paragraph">
<p>Mit diesen Einstellungen dagegen legst du fest, in welchem Intervall deine Preiseänderungen, der Bestandsabgleich und die Bestandsänderungen übergeben werden.</p>
</div>
<div class="paragraph">
<p>Für unser Beispiel legen wir fest, dass einmal täglich alle Artikelinformationen an Amazon übergeben werden.</p>
</div>
<div class="paragraph">
<p>Mit diesen Filtern stellen wir ein, dass nur Artikel synchronisiert werden, die innerhalb von 48 Stunden versendet werden, in der Kategorie Kleidung verkauft werden und im Webshop sichtbar sind.</p>
</div>
<div class="paragraph">
<p>Wie du siehst, ist es mit den Filtern möglich, sehr detailliert spezielle Artikel für die Synchronisation festzulegen.</p>
</div>
<div class="paragraph">
<p>Du solltest dir aber besser zweimal überlegen, ob du deine Artikelinformationen täglich automatisiert zu Amazon übergibst. Diese Option exportiert nämlich alle Änderungen, beispielsweise an Artikeltexten, einmal täglich zu Amazon. Wenn du also beispielsweise viel Zeit mit der Konfiguration deiner Artikel auf Amazon verbracht hast und deine Artikel weniger detailliert in plentymarkets hinterlegt hast, solltest du auf den automatischen Export verzichten, da deine Artikel auf Amazon durch den Export überschrieben werden.</p>
</div>
<div class="paragraph">
<p>Anschließend kannst du auch diese drei Einstellungen nutzen, um festzulegen, in welchen Intervallen beispielsweise Lagerbestände oder Preise abgeglichen werden sollen.</p>
</div>
<div class="paragraph">
<p>Du bist weiter auf dem Pfad durch Amazonien. Unentdeckte Reichtümer warten darauf, gefunden zu werden. Schaue dir einfach die weiteren Tutorials zum Thema Amazon an!</p>
</div>
</div>
</div>
</main>