<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikel für den Verkauf auf Amazon vorbereiten</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hast du dir Gedanken über deine Artikel, die du bei Amazon verkaufen möchtest, gemacht? In diesem Video erfährst du, wie du ihnen Namen, Beschreibung, Lagerbestand und Preise der Artikel an Amazon übergeben kannst.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/amazon/artikel/verkauf-name-beschreibung#video">Name und Beschreibung wählen (0:48)</a></p>
<p class="tableblock"><a href="/videos/amazon/artikel/verkauf-lagerbestand-lieferzeit#video">Lagerbestand und Lieferzeit (1:55)</a></p>
<p class="tableblock"><a href="/videos/amazon/artikel/verkauf-kategorie-verknuepfen#video">Artikel mit Amazon-Kategorie verknüpfen (3:41)</a></p>
<p class="tableblock"><a href="/videos/amazon/artikel/verkauf-verkaufspreis#video">Verkaufspreis für Amazon festlegen (4:32)</a></p>
<p class="tableblock"><a href="/videos/amazon/artikel/verkauf-attribute#video">Attribute verknüpfen (5:27)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/199993489#at=327" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Hast Du dir schonmal Gedanken über die Artikel gemacht, die Du bei Amazon verkaufen möchtest? Über den Namen, die Beschreibung, den Lagerbestand, Preise und die Kategorie?</p>
</div>
<div class="paragraph">
<p>In diesem Video zeigen wir dir, wie du Namen und Beschreibungen hinterlegst. Du erfährst, wie der Lagerbestand und die Lieferzeit deiner Artikel berechnet werden. Außerdem erfährst du, wie du sicherstellen kannst, dass deine Artikel in die korrekten Amazon-Kategorien sortiert und mit den richtigen Verkaufspreisen und Attributen angezeigt werden. Schnüre deine Stiefel und begebe dich auf den Konfigurationspfad deiner Artikel.</p>
</div>
<div class="paragraph">
<p>Für das Video gehen wir davon aus, dass du deine Artikel und Kategorien bereits bei plentymarkets gepflegt hast. Sollte dies nicht der Fall sein, dann schaue dir die Videos zur Artikelstruktur an, bevor du fortfährst.</p>
</div>
<div class="paragraph">
<p>Soweit so gut, auf der ersten Etappe deiner Reise entscheidest Du, welcher Name und welche Beschreibung für Amazon verwendet werden soll.</p>
</div>
<div class="paragraph">
<p>Öffne also zunächst einen Artikel deiner Wahl und klicke das Text-Tab. Hier kannst du drei verschiedene Namen für deinen Artikel, sowie einen Vorschautext und eine Artikelbeschreibung eingeben.</p>
</div>
<div class="paragraph">
<p>Aber wie steuerst du, welcher dieser Texte auf Amazon angezeigt werden soll? Navigiere doch einfach zu den Amazon-Einstellungen und öffne die Artikeleinstellungen. Hier unten kannst du dann auswählen, welcher Name und welche Beschreibung zu Amazon übergeben werden sollen. Entscheide einfach, ob du den Namen 1, 2 oder 3 als Artikelname auf Amazon nutzen möchtest und ob die Vorschau oder die Artikelbeschreibung bei Amazon angezeigt werden soll.</p>
</div>
<div class="paragraph">
<p>Diese Einstellung solltest du auf nein Stellen, damit nicht unbeabsichtigt HTML-Tags aus deinen Artikeln zu Amazon übergeben werden. Bis auf wenige Ausnahmen verbietet Amazon nämlich diese HTML-Tags.</p>
</div>
<div class="paragraph">
<p>Mit diesen Einstellungen gibst du an, wie die Lagerbestände deiner Artikel bei Amazon berechnet werden und wie lange es für gewöhnlich dauert dauert, deine Artikel zu versenden.</p>
</div>
<div class="paragraph">
<p>Fangen wir damit an, plentymarkets zu sagen welchen Lagerbestand bzw. welche Lagerbestände zu Amazon übertragen werden sollen. Im Wesentlichen wird das von dir gewählte Lager als Bezugspunkt verwendet, um festzustellen, wie viele Exemplare deines Artikels auf Lager sind. In einigen Fällen möchtest du das Lager aber möglicherweise selber wählen. Wenn du dann hier ein bestimmtes Lager auswählst, solltest du auf jeden Fall darauf achten, dass es sich dabei nicht um ein FBA-Lager handelt!</p>
</div>
<div class="paragraph">
<p>Zuerst schauen wir uns jetzt diese Einstellung an, weil sie ziemlich einfach ist. Hier definierst du den maximalen Lagerbestand, den du an Amazon meldest. Gibst du also beispielsweise 60 ein, übergibt plentymarkets als Lagerbestand höchstens 60 Einheiten eines Artikels, auch mehr davon auf Lager sind.</p>
</div>
<div class="paragraph">
<p>Als nächstes schauen wir uns den Bestandspuffer an. Dieser Puffer gilt grundsätzlich nur für Artikel, deren Nettowarenbestand beschränkt ist. Gib hier einfach eine Zahl ein und Tadaaaa, so hast du immer einen kleinen Pufferbestand in deinem Lager.</p>
</div>
<div class="paragraph">
<p>Die letzte Option ist dann nützlich, wenn einige deiner Artikel nicht auf Nettowarenbestand beschränkt sind.</p>
</div>
<div class="paragraph">
<p>Sag plentymarkets, wie viele Einheiten deiner Artikel an Amazon übertragen werden sollen. In diesem Beispiel wird die Information an Amazon übergeben, dass für alle Artikel, die nicht nettowarenbestandbeschränkt sind, 5 Einheiten verfügbar sind.</p>
</div>
<div class="paragraph">
<p>Schließlich entscheidest Du, ob die durchschnittliche Lieferzeit des Artikels zu Amazon übergeben werden soll oder sogar zusätzlich dazu eine Bearbeitungszeit, welche auf die durchschnittliche Lieferzeit aufaddiert wird. Beachte bitte, dass dieser Wert nicht exklusiv als Lieferzeit an Amazon übergeben wird. Vielmehr wird er zu dem Wert addiert, den Du am Versandprofil im Sellercentral hinterlegen kannst. Die restlichen Einstellungen in diesem Menü kannst du vorerst ignorieren und einfach auf speichern klicken.</p>
</div>
<div class="paragraph">
<p>Um unsere Route weiter zu gehen müssen nun deine Kategorien mit den Kategorien von Amazon abgestimmt werden.</p>
</div>
<div class="paragraph">
<p>Stellen wir uns jede Amazon-Kategorie mit einer ID vor, diese wird als Browse-Node bezeichnet. Jetzt musst du deine Kategorien mit den Browse-Nodes verknüpfen.</p>
</div>
<div class="paragraph">
<p>Also frisch ans Werk und das Menü Kategorieverknüpfung geöffnet. Wenn Du hier die Lupe klickst wirst du zum Amazon-Klassifikationsassistenten weitergeleitet.</p>
</div>
<div class="paragraph">
<p>Mit Hilfe des Assistenten kannst du die für dich korrekte Kategorie-ID herausfinden. Für jede deiner Kategorien kannst du hier Browse-Nodes hinterlegen und die Eingabe mit einem Klick auf das Zahnrad bestätigen. Auch wenn du hier zwei Browse-Nodes eintragen kannst, übergeben wir in den meisten Fällen nur eine Browse-Node, da nur dies von Amazon so erlaubt ist.</p>
</div>
<div class="paragraph">
<p>Wenn wir unsere Reise fortsetzen, kommen wir zu dem Thema, das für dich wortwörtlich Gold wert ist. Verkaufspreise! Mit plentymarkets können Verkäufer für jede Verkaufsplattform unterschiedliche Preise anlegen. Mit anderen Worten, dein Artikel kann zu einem Preis in deinem WebShop verkauft werden, bei Amazon verfügt der selbe Artikel aber über einen anderen Preis.</p>
</div>
<div class="paragraph">
<p>In plentymarkets erstellst du ganz einfach einen neuen Verkaufspreis oder erweiterst einen bestehenden Verkaufspreis um die Herkunft Amazon. Dazu setzt du hier einfach einen Haken bei der Amazon-Plattform und bei dem Amazon-Account, für den der Preis gültig sein soll. Kleine Anmerkung - Du solltest bei dem Namen des Verkaufspreises darauf achten, dass du diesen in der Sprache der entsprechenden Amazon-Plattform hinterlegst. Willst du also beispielsweise auf Amazon.co.uk verkaufen musst du den Namen zwingend in Englisch hinterlegt haben! Natürlich klickst du anschließend auch hier den Speichern-Button.</p>
</div>
<div class="paragraph">
<p>Es gibt wahrscheinlich auch einige Artikel, die Du in mehreren Größen oder Farben verkaufen möchtest. Auf Amazon werden von den Kunden Suchfilter benutzt, die es auch erlauben, dass deine Artikel zu finden sind. Dein safari-gelbes T-Shirt soll also bei der Betätigung des gelben Filters auf Amazon angezeigt werden. Hier kommt die Attributverknüpfung ins Spiel. Mit anderen Worten, navigiere einfach zu den Attribut-Einstellungen in plentymarkets und öffne das Attribut, das du mit Amazon verbinden möchtest. Grundsätzlich wird als Farbe der Wert übergeben, den du hier im Feld Name hinterlegt hast. Also in unserem Fall safari-gelb. Diesen Wert findest du dann innerhalb des Artikels bei Amazon.</p>
</div>
<div class="paragraph">
<p>Aber woher weiß Amazon, dass dein safari-gelb bei einem Klick auf den Amazon-Filter Gelb angezeigt werden soll? In plentymarkets öffnest du dir ganz einfach diesen Tab und Amazon.</p>
</div>
<div class="paragraph">
<p>Als nächstes wählst du aus diesem Dropdown die entsprechende Amazon-Kategorie und gibst dann den Namen des entsprechenden Amazon-Filters ein. Solltest du nicht wissen, welche Werte Amazon hier erlaubt, empfiehlt sich ein Blick in das Flat File der entsprechenden Kategorie. Auch hier klickst du natürlich wieder den Speichern-Button.</p>
</div>
<div class="paragraph">
<p>Deine Artikel sehen super aus! Du hast ihnen jede Menge Informationen mitgegeben. Jetzt kannst du deine Artikel selber auf die Reise schicken.</p>
</div>
</div>
</div>
</main>