<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Migrating customer reviews</span></a></li>
<li><a href="#300"><span>2.</span><span> Searching for customer reviews</span></a></li>
<li><a href="#500"><span>3.</span><span> Releasing customer reviews</span></a></li>
<li><a href="#700"><span>4.</span><span> Editing customer reviews</span></a></li>
<li><a href="#900"><span>5.</span><span> Deleting customer reviews</span></a></li>
<li><a href="#1100"><span>6.</span><span> Replying to customer reviews</span></a>
<ul class="sectlevel2">
<li><a href="#1300"><span>6.1.</span><span> Displaying replies</span></a></li>
<li><a href="#1500"><span>6.2.</span><span> Editing replies</span></a></li>
<li><a href="#1700"><span>6.3.</span><span> Deleting replies</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Managing feedbacks</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Note about the Managing feedbacks page of the manual</div>
<div class="paragraph">
<p>This page of the manual describes all settings that are available in the <strong>CRM » Feedback ratings</strong> menu in the Terra back end using the centralised login. The <a href="/en/omni-channel/online-store/setting-up-clients/extras/customer-feedback">Customer feedback</a> page of the manual and the <a href="/en/omni-channel/online-store/setting-up-clients/cms#customer-feedback">Customer feedback</a> chapter that describe the settings in the <strong>CMS » Customer feedback</strong> and <strong>System » Client » Settings » Feedback</strong> menus will be simultaneously available. Once the new <strong>CMS » Feedback ratings</strong> menu has completely replaced the old <strong>CMS » Customer feedback</strong> menu, the <strong>CMS » Customer feedback</strong> menu as well as the <strong>Customer feedback</strong> page of the manual will be removed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><a href="https://marketplace.plentymarkets.com/en/plugins/widgets/Feedback_5115" target="_blank" rel="noopener">Customer feedback</a> is a plugin for the <a href="https://marketplace.plentymarkets.com/en/plugins/templates/Ceres_4697" target="_blank" rel="noopener">Ceres</a> online store. Install this plugin to display customer reviews in the online store and reply to feedbacks. Release reviews submitted by your customers in the <strong>CMS » Feedback ratings</strong> menu. In this menu, you also reply to customer feedbacks or edit them. It is also possible to migrate existing customer reviews or delete reviews in this menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Migrating customer reviews</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When switching from your old Callisto online store to the new Ceres online store, your existing customer reviews will also be available in Ceres after migrating them. To migrate existing customer reviews, proceed as follows.</p>
</div>
<div id="200" class="paragraph instruction">
<p>Migrating existing customer reviews:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Feedback ratings</strong>.</p>
</li>
<li>
<p>Click on <strong>Migrate existing feedbacks</strong>.<br>
→ The existing feedbacks will be migrated.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Migration of existing customer reviews</div>
<div class="paragraph">
<p>During the migration process, existing customer reviews will be transferred to the new data base structure. Customer reviews will have a maximum rating of 5 in the new structure. Customer reviews using a rating scale of 10 rating points, will be converted into a maximum of 5 rating points when migrating:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>1 to 2 stars will be converted into 1 star</p>
</li>
<li>
<p>3 to 4 stars will be converted into 2 stars</p>
</li>
<li>
<p>5 to 6 stars will be converted into 3 stars</p>
</li>
<li>
<p>7 to 8 stars will be converted into 4 stars</p>
</li>
<li>
<p>9 to 10 stars will be converted into 5 stars</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">2. Searching for customer reviews</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Filter</strong> view, you can search for customer reviews according to specific criteria. The search results will be listed in the <strong>Overview</strong> view. The overview currently displays the following information: ID, type, reference ID, title, author, date, comment, rating, replies, visibility. Learn how to edit customer reviews in the <a href="#700">Editing customer reviews</a> chapter.</p>
</div>
<div class="paragraph">
<p>In order to search for specific customer reviews, enter an ID in the search field or select the appropriate drop-down list settings.</p>
</div>
<div id="400" class="paragraph instruction">
<p>Searching for customer reviews:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Feedback ratings</strong>.</p>
</li>
<li>
<p>In the <strong>Filter</strong> view, enter the ID in the search field or set the filter options in the drop-down lists. Pay attention to the information given in <a href="#table-filters-customer-reviews">Table 1</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The customer reviews that correspond to the search criteria entered will be displayed.</p>
</li>
<li>
<p>Click in the line of the customer review.<br>
→ The detail view of the customer review will open.</p>
</li>
</ol>
</div>
<table id="table-filters-customer-reviews" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Filters for customer reviews</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Search</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Search</strong> without selecting any filter settings. This will display all customer reviews. Alternatively, limit the search results by using filters and click on <strong>Search</strong>. The customer reviews found will be listed in the overview.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets the filter criteria that was entered.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Feedback ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Each customer review automatically receives a consecutive and unique ID. The ID is always a real number. <strong>00521</strong> or <strong>ADF8354</strong> e.g. are invalid.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Visibility</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>ALL</strong>, <strong>Yes</strong> or <strong>No</strong>.<br>
<strong>ALL</strong> = All customer reviews found will be listed in the overview.<br>
<strong>Yes</strong> = Only customer reviews visible in the online store will be listed in the overview.<br>
<strong>No</strong> = Only customer reviews not visible in the online store will be listed in the overview.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">*Rating from;<br>
*Rating to;</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select rating points to search for customer reviews with the selected rating.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>From;<br>
To</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a date or select a date in the calendar to search for customer reviews that were submitted within this date range.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">3. Releasing customer reviews</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you do not want to release customer reviews automatically in the plugin, release them manually.</p>
</div>
<div id="600" class="paragraph instruction">
<p>Manually releasing customer reviews:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Feedback ratings</strong>.</p>
</li>
<li>
<p>Activate one or multiple customer reviews.</p>
</li>
<li>
<p>Click on <strong>Visible</strong> to make the reviews visible.<br>
→ Customer reviews will be displayed in the single item view.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">4. Editing customer reviews</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When evaluations and comments are submitted in your online store, they are also listed in the menu <strong>CMS » Feedback ratings</strong>. Here you can make feedback visible or invisible and you can edit comments if they do not meet your standards for netiquette. If you want to edit a customer review, proceed as follows.</p>
</div>
<div id="800" class="paragraph instruction">
<p>Editing customer reviews:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Feedback ratings</strong>.</p>
</li>
<li>
<p>Click on the respective customer review.<br>
→ The customer review will open.</p>
</li>
<li>
<p>Edit the title.</p>
</li>
<li>
<p>Edit the review text.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The customer review will be updated in the online store.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">5. Deleting customer reviews</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Delete customer reviews in order to remove them from the online store. Alternatively, make customer reviews invisible.</p>
</div>
<div id="1000" class="paragraph instruction">
<p>Deleting customer reviews:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Feedback ratings</strong>.</p>
</li>
<li>
<p>Activate one or multiple customer reviews.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ The <strong>Delete feedbacks</strong> window will open.</p>
</li>
<li>
<p>Click on <strong>Ok</strong> to delete the reviews.<br>
→ The customer reviews will be deleted.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">6. Replying to customer reviews</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you want to reply to a customer review, proceed as follows.</p>
</div>
<div id="1200" class="paragraph instruction">
<p>Replying to customer reviews:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Feedback ratings</strong>.</p>
</li>
<li>
<p>Click on the respective customer review.<br>
→ The customer review will open.</p>
</li>
<li>
<p>Click on <strong>Reply</strong>.<br>
→ The reply field will open.</p>
</li>
<li>
<p>Enter a reply.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The reply will be added and displayed in the online store.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="1300">6.1. Displaying replies</h3>
<div class="paragraph">
<p>Display replies for your customer reviews in the detail view of a customer review.</p>
</div>
<div id="1400" class="paragraph instruction">
<p>Displaying replies:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Feedback ratings</strong>.</p>
</li>
<li>
<p>Click on the respective customer review.<br>
→ The customer review will open.</p>
</li>
<li>
<p>Click on <strong>Feedback replies</strong>.<br>
→ The list of replies will open.</p>
</li>
<li>
<p>Click on a reply.<br>
→ The reply will be displayed.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1500">6.2. Editing replies</h3>
<div class="paragraph">
<p>To edit the replies for customer reviews, proceed as follows.</p>
</div>
<div id="1600" class="paragraph instruction">
<p>Editing replies:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Feedback ratings</strong>.</p>
</li>
<li>
<p>Click on the respective customer review.<br>
→ The customer review will open.</p>
</li>
<li>
<p>Click on <strong>Feedback replies</strong>.<br>
→ The list of replies will open.</p>
</li>
<li>
<p>Click on a reply.</p>
</li>
<li>
<p>Edit the text of the reply.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The reply will be updated.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1700">6.3. Deleting replies</h3>
<div class="paragraph">
<p>Finally, it is also possible to delete replies of your customer reviews.</p>
</div>
<div id="1800" class="paragraph instruction">
<p>Deleting replies:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Feedback ratings</strong>.</p>
</li>
<li>
<p>Click on the respective customer review.<br>
→ The customer review will open.</p>
</li>
<li>
<p>Click on <strong>Show replies</strong>.<br>
→ The list of replies will open.</p>
</li>
<li>
<p>Click on a reply.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ The <strong>Delete reply</strong> window will open.</p>
</li>
<li>
<p>Click on <strong>Ok</strong>.<br>
→ The reply will be deleted.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>