<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#20"><span>1.</span><span> Editing IO settings</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Setting up IO</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The plentymarkets 7 online store is split into two plugins: <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">Ceres</a> provides the design of the online store and can be adapted to suit your personal needs.
The plugin <a href="https://marketplace.plentymarkets.com/plugins/templates/IO_4696" target="_blank" rel="noopener">IO</a> containts the base PHP functions for the online store and provides the logic for all design plugins.
On this manual page, you will learn how to set up the IO plugin.</p>
</div>
<div id="10" class="paragraph">
<p>==Setting up IO in plentymarkets</p>
</div>
<div class="paragraph">
<p>In order to set up a Ceres online store, the plugins Ceres and IO need to be saved and deployed in a <a href="/en/basics/first-steps/plugins#20">plugin set</a>.
Furthermore, the plugin IO needs to be assigned the highest position number in the plugin set via the <strong>Set position</strong> action in the <strong>Plugins » Plugin overview</strong> menu.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Old online store will be unavailable</div>
<div class="paragraph">
<p>When deploying the online store plugins <strong>Ceres</strong> and <strong>IO</strong> in <a href="/en/basics/first-steps/plugins#70">plugin set</a>, the old plentymarkets online store Callisto will be unavailable. <strong>Ceres</strong> and <strong>IO</strong> will use the URL of the online store.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>After these preparations, go to <strong>Plugins » Plugin overview</strong> and click on the plugin <strong>IO</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">1. Editing IO settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>IO</strong> configuration contains the 3 tabs <strong>Template</strong>, <strong>Number formats</strong> and <strong>Routeing</strong>.</p>
</div>
<table id="table-io-configuration" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Editing IO settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Template</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Namespace of the used template plugin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the template plugin you are using. This is <strong>Ceres</strong> in almost every case. Users who want to replace Ceres with a completely different template plugin need to the enter its name in this field, so that IO can properly interact with the plugin. This setting is directed at advanced users only. If you enter a different name while still using the <strong>Ceres</strong> template plugin, it is likely that issues will arise in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Number formats</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number of decimal places</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of decimal places to be used in the online store. The default number of decimal places is two.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Decimal separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the decimal separator you want to use in the online store. The default decimal separator is the comma.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Thousands separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the thousands separator you want to use in the online store. The defaul thousands separator is the period.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use customer-specific price format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select if prices are to be displayed in the respective price formats of your online store customers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Routing</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enable routes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the routes used in Ceres. All routes need to be active for using the unmodified version of <strong>Ceres</strong>. If you want to implement the <strong>Ceres checkout</strong> in your Callisto online store, several routes have to be deactivated. Please refer to our <a href="/en/omni-channel/online-store/best-practices#checkout">Best Practice</a> for further information.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>