<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Editing the Ceres homepage with the ShopBuilder</span></a>
<ul class="sectlevel3">
<li><a href="#30"><span>1.1.</span><span> Editing elements of the Ceres homepage with the ShopBuilder</span></a></li>
</ul>
</li>
<li><a href="#40"><span>2.</span><span> Editing design settings in the ShopBuilder</span></a>
<ul class="sectlevel2">
<li><a href="#_editing_colour_settings_in_the_shopbuilder"><span>2.1.</span><span> Editing colour settings in the ShopBuilder</span></a></li>
<li><a href="#_editing_fonts_in_the_shopbuilder"><span>2.2.</span><span> Editing fonts in the ShopBuilder</span></a></li>
</ul>
</li>
<li><a href="#50"><span>3.</span><span> Carry out additional settings</span></a></li>
<li><a href="#60"><span>4.</span><span> Creating a page in the ShopBuilder</span></a>
<ul class="sectlevel2">
<li><a href="#_editing_a_page_in_the_shopbuilder"><span>4.1.</span><span> Editing a page in the ShopBuilder</span></a></li>
<li><a href="#_deleting_a_page_in_the_shopbuilder"><span>4.2.</span><span> Deleting a page in the ShopBuilder</span></a></li>
<li><a href="#_deleting_links_of_shopbuilder_pages_to_the_homepage"><span>4.3.</span><span> Deleting links of ShopBuilder pages to the homepage</span></a></li>
<li><a href="#_recreating_links_of_shopbuilder_pages_to_the_homepage"><span>4.4.</span><span> Recreating links of ShopBuilder pages to the homepage.</span></a></li>
<li><a href="#_duplicating_content"><span>4.5.</span><span> Duplicating content</span></a></li>
</ul>
</li>
<li><a href="#70"><span>5.</span><span> Selecting a language</span></a></li>
<li><a href="#_displaying_client_preview"><span>6.</span><span> Displaying client preview</span></a></li>
<li><a href="#80"><span>7.</span><span> Creating new categories in the ShopBuilder</span></a></li>
<li><a href="#95"><span>8.</span><span> Creating a header or a footer in the ShopBuilder</span></a></li>
<li><a href="#_editing_the_header"><span>9.</span><span> Editing the header</span></a></li>
<li><a href="#_editing_the_footer"><span>10.</span><span> Editing the footer</span></a></li>
<li><a href="#105"><span>11.</span><span> Using the standard homepage template</span></a></li>
<li><a href="#_using_the_standard_homepage_template"><span>12.</span><span> Using the standard homepage template</span></a></li>
<li><a href="#_using_the_standard_footer_template"><span>13.</span><span> Using the standard footer template</span></a></li>
<li><a href="#90"><span>14.</span><span> Ideal image sizes for the ShopBuilder</span></a></li>
<li><a href="#100"><span>15.</span><span> Scripts in the text widget</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up the ShopBuilder</h1><div id="preamble">
<div class="sectionbody">
<div id="10" class="paragraph">
<p>The plentymarkets ShopBuilder is an online store construction kit, with which you can assemble your <a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">Ceres online store</a> quickly and easily via Drag&amp;Drop. No programming skills are required.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Version requirements of the ShopBuilder</div>
<div class="ulist">
<ul>
<li>
<p>In order to use the ShopBuilder you must have a valid SSL certificate</p>
</li>
<li>
<p>The respective store must not be <strong>blocked</strong>.</p>
</li>
<li>
<p>The ShopBuilder is only compatible with Ceres and IO versions 2.8.1 and higher. If you are using an older version, please go to the <a href="https://marketplace.plentymarkets.com" target="_blank" rel="noopener">plentyMarketplace</a> to install the current version.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Functionality of the ShopBuilder</div>
<div class="paragraph">
<p>Currently, it is only possible to create and edit the homepage of your Ceres online store with the ShopBuilder. The functionality of the ShopBuilder module is constantly expanding and it will be possible in the future to arrange the entire Ceres store through this tool.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Displaying the homepage created with the ShopBuilder</div>
<div class="paragraph">
<p>Please note that the homepage created with the ShopBuilder has to be activated first. Go to <strong>CMS » ShopBuilder&nbsp;» Overview&nbsp;» Settings&nbsp;» Homepage</strong>. Activate the option <strong>Show ShopBuilder homepage</strong> and deactivate the option <strong>Show default homepage</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Editing the Ceres homepage with the ShopBuilder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the preview area, you can add elements to the homepage to adjust it to your individual needs.</p>
</div>
<div class="paragraph instruction">
<p>Adding an element to the preview area:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The ShopBuilder opens.</p>
</li>
<li>
<p>Click on <strong>homepage</strong>.</p>
</li>
<li>
<p>Click <strong>New</strong> or click an existing homepage.<br>
→ The preview area of the homepage opens.</p>
</li>
<li>
<p>Move elements from the left side into the preview area via drag &amp; drop. Pay attention to the information given in <a href="#table-elements-shop-builder">Table 1</a>.
→ New elements are automatically added below the existing ones or can be dragged into a structure element.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The homepage of your online store is displayed with the selected elements.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The ShopBuilder contains structure elements that arrange the layout of the page and the so-called widgets, thus, several page elements that can be used to fill structure elements. In the following table these elements are further explained:</p>
</div>
<table id="table-elements-shop-builder" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Elements of the ShopBuilder</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Structure elements</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>2 boxes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a structure element with 2 boxes that can be filled with the widgets listed below. Click <strong>Edit</strong> to change the layout. Select a size ratio from the <strong>Layout</strong> drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>3 boxes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a structure element with 3 boxes that can be filled with the widgets listed below. Click <strong>Edit</strong> to change the layout. Select a size ratio from the <strong>Layout</strong> drop-down list. <strong>Stacked</strong> options display 2 boxes on top of each other.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>4 boxes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provides a structure element with 4 boxes that can be filled with the widgets listed below. The size ratio cannot be adjusted. ¤2+</p></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="30">1.1. Editing elements of the Ceres homepage with the ShopBuilder</h4>
<div class="paragraph">
<p>In the preview area, you can edit elements of the homepage to adjust it to your individual needs.</p>
</div>
<div class="paragraph instruction">
<p>Editing elements in the preview area:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The ShopBuilder opens.</p>
</li>
<li>
<p>Move the cursor over the element you want to edit.<br>
→ The context menu opens.</p>
</li>
<li>
<p>Click <strong>Edit</strong>.<br>
→ The <strong>Settings</strong> bar is displayed.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-elements-shop-builder">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The homepage of the online store is modified according to the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can also remove elements.</p>
</div>
<div class="paragraph instruction">
<p>Removing elements from the preview area:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The preview area opens.</p>
</li>
<li>
<p>Move the cursor over the element in the preview area you want to remove.<br>
→ The context menu opens.</p>
</li>
<li>
<p>Click <strong>Delete</strong> to remove the element.<br>
→ The element is removed.<br>
→ The surrounding elements are regrouped and replace the deleted element.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The homepage of the online store is modified according to the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="40">2. Editing design settings in the ShopBuilder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can open the design menu by clicking the <strong>Design</strong> button in the ShopBuilder editor. Here, you can edit colour settings and select or upload fonts for your online store.</p>
</div>
<div class="sect2">
<h3 id="_editing_colour_settings_in_the_shopbuilder">2.1. Editing colour settings in the ShopBuilder</h3>
<div class="paragraph">
<p>You can globally manage the colour scheme of all your pages in the Shop Builder.</p>
</div>
<div class="paragraph instruction">
<p>Editing colour settings in the ShopBuilder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The ShopBuilder opens.</p>
</li>
<li>
<p>Click on <strong>homepage</strong>.<br>
→ The preview area of the homepage opens.</p>
</li>
<li>
<p>Click on <strong>Design</strong> in the toolbar.<br>
→ The <strong>Design</strong> menu opens.</p>
</li>
<li>
<p>Carry out the settings in the <strong>Colours</strong> section. Pay attention to the information given in <a href="#table-colours-shop-builder">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-colours-shop-builder" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Global colour settings in the ShopBuilder</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Primary colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the primary colour of your online store. It determines the colouring of the buttons in your online store. Choose a colour from the colour picker or enter a hexadecimal value.<br>
<strong><em>Note:</em></strong> This value can be used by theme plugins for different colour schemes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Secondary colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This attribute changes the secondary colour of the online store. You can use them for the colour sheme of your widgets. Choose a colour from the colour picker or enter a hexadecimal value.<br>
<strong><em>Note:</em></strong> This value can be used by theme plugins for different colour schemes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Success colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This attribute changes the colour of the success notifications in the online store. Choose a colour from the colour picker or enter a hexadecimal value.<br>
<strong><em>Note:</em></strong> This value can be used by theme plugins for different colour schemes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Information colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This attribute changes the colour of information notifications in the online store. Choose a colour from the colour picker or enter a hexadecimal value.<br>
<strong><em>Note:</em></strong> This value can be used by theme plugins for different colour schemes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warning colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This attribute changes the colour of warning notifications in the online store. Choose a colour from the colour picker or enter a hexadecimal value.<br>
<strong><em>Note:</em></strong> This value can be used by theme plugins for different colour schemes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Danger colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This attribute changes the colour of error notifications in the online store. Choose a colour from the colour picker or enter a hexadecimal value.<br>
<strong><em>Note:</em></strong> This value can be used by theme plugins for different colour schemes.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_editing_fonts_in_the_shopbuilder">2.2. Editing fonts in the ShopBuilder</h3>
<div class="paragraph">
<p>The Shop Builder also offers the possibility of selecting individual fonts for the online store. You can either enter the URL of a font or upload a font file.</p>
</div>
<div class="paragraph instruction">
<p>Editing fonts:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The ShopBuilder opens.</p>
</li>
<li>
<p>Click on <strong>homepage</strong>.<br>
→ The preview area of the homepage opens.</p>
</li>
<li>
<p>Click on <strong>Design</strong>.<br>
→ The window <strong>Design</strong> opens.</p>
</li>
<li>
<p>Carry out the settings in the <strong>Fonts</strong> section. Pay attention to the information given in <a href="#table-fonts-shop-builder">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-fonts-shop-builder" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Editing fonts in the ShopBuilder</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enter font URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a URL in the respective fields (regular, <strong>bold</strong>, <em>italic</em> or <strong><em>bold-italic</em></strong>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload font</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a font file from your computer. Select the font file you want to use in the respective fields (regular, <strong>bold</strong>, <em>italic</em> or <strong><em>bold-italic</em></strong>).</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="50">3. Carry out additional settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The ShopBuilder also serves to carry out all settings available in the Ceres configuration. To do so, proceed as follows.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The ShopBuilder opens.</p>
</li>
<li>
<p>Click on <strong>Settings</strong>.<br>
→ The menu <strong>Plugin configuration</strong> opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="/en/omni-channel/online-store/setting-up-ceres#20">Setting up Ceres</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Selecting a plugin set in the ShopBuilder</div>
You can select a plugin set from the drop-down list. The page preview displays the settings carried out for the plugin set (e.g. which item is visible).
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="60">4. Creating a page in the ShopBuilder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The overview of the ShopBuilder offers the possibility of creating and naming new pages for the homepage.</p>
</div>
<div class="paragraph instruction">
<p>Creating a page:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The window <strong>Create new page</strong> opens.</p>
</li>
<li>
<p>Click <strong>Add page</strong>.<br>
→ The window <strong>Page name</strong> opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The newly created page is displayed in the overview.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="_editing_a_page_in_the_shopbuilder">4.1. Editing a page in the ShopBuilder</h3>
<div class="paragraph">
<p>Currently, the overview only enables to edit the name of a page. However, further settings will be available soon.</p>
</div>
<div class="paragraph instruction">
<p>Editing the name of a page:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Move the mouse cursor over the page you want to edit.</p>
</li>
<li>
<p>Click on the <strong>Options</strong> button.</p>
</li>
<li>
<p>Click on <strong>Edit</strong>.<br>
→ The <strong>Edit</strong> window opens.</p>
</li>
<li>
<p>Click <strong>Edit</strong> to edit the name of the page.</p>
</li>
<li>
<p>Enter any desired name for the page.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_deleting_a_page_in_the_shopbuilder">4.2. Deleting a page in the ShopBuilder</h3>
<div class="paragraph">
<p>Pages created in the ShopBuilder can also be removed.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a page:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Move the mouse cursor over the element you want to delete.</p>
</li>
<li>
<p>Click on the <strong>Options</strong> button.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ The <strong>Delete</strong> window opens.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> to delete the page.<br></p>
</li>
<li>
<p>Click <strong>Delete</strong> to delete a page.<br>
→ The page is deleted.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_deleting_links_of_shopbuilder_pages_to_the_homepage">4.3. Deleting links of ShopBuilder pages to the homepage</h3>
<div class="paragraph">
<p>Every page that is created in the ShopBuilder is automatically linked to the homepage. However, the link can be deleted.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a link:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Move the mouse cursor over the page whose link to the homepage you want to delete.</p>
</li>
<li>
<p>Click on the <strong>Options</strong> button.</p>
</li>
<li>
<p>Click on <strong>Deactivate</strong>.<br>
→ The link to the homepage is deleted.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_recreating_links_of_shopbuilder_pages_to_the_homepage">4.4. Recreating links of ShopBuilder pages to the homepage.</h3>
<div class="paragraph">
<p>A deleted link of a ShopBuilder page to the homepage can be recreated.</p>
</div>
<div class="paragraph instruction">
<p>Creating a link:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Move the mouse cursor over the page that you want to link to the homepage.</p>
</li>
<li>
<p>Click on the <strong>Options</strong> button.</p>
</li>
<li>
<p>Click on <strong>Activate</strong>.<br></p>
</li>
<li>
<p>Select the page that you want to link to the homepage.</p>
</li>
<li>
<p>Click on <strong>Deactivate</strong>.<br>
→ The selected page is linked to the homepage.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The blue marking indicates that a link exists.</p>
</div>
</div>
<div class="sect2">
<h3 id="_duplicating_content">4.5. Duplicating content</h3>
<div class="paragraph">
<p>In the overview of the ShopBuilder you can duplicate content.</p>
</div>
<div class="paragraph instruction">
<p>Duplicating content:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Move the mouse cursor over the page whose content you want to duplicate.</p>
</li>
<li>
<p>Click on the <strong>Options</strong> button.</p>
</li>
<li>
<p>Click on <strong>Duplicate content</strong>.<br>
→ The window <strong>Duplicate content</strong> opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-duplicate-content">Table 4</a>.</p>
</li>
<li>
<p>Click on <strong>Duplicate content</strong>.<br>
→ The content is duplicated.</p>
</li>
</ol>
</div>
<table id="table-duplicate-content" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Duplicating content</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Here, the initial name with the addition (Copy) is entered by default. However, you can change the name for the duplicated content.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select plugin set</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a plugin set for the duplicated content.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a language for the duplicated content.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the desired position for the duplicated content.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="70">5. Selecting a language</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It is possible to create homepages with different languages independently of one another.</p>
</div>
<div class="paragraph instruction">
<p>Selecting a language:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Select a language from the drop-down list.</p>
</li>
<li>
<p>Click <strong>Add page</strong>.</p>
</li>
<li>
<p>Enter a name for the page.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The language settings for the page will be saved automatically.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_displaying_client_preview">6. Displaying client preview</h2>
<div class="sectionbody">
<div class="paragraph">
<p>On the editing page, it is possible to view the created page for the different clients (preview).</p>
</div>
<div class="paragraph instruction">
<p>Displaying client preview:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Select a page.<br>
→ The selected page opens.</p>
</li>
<li>
<p>Select the desired client from the drop-down list <strong>Client for preview</strong>.<br>
→ The created page is displayed for the selected client.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="80">7. Creating new categories in the ShopBuilder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The categories in the ShopBuilder are displayed on the left in the overview. Here you can create new categories as main or sub categories.<br></p>
</div>
<div class="paragraph instruction">
<p>Creating new categories in the ShopBuilder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>On the left of the category tree, click <strong>New category</strong>.<br>
→ The window <strong>Create new category</strong> will open.</p>
</li>
<li>
<p>Enter a name and select <strong>Main page</strong> for a main category or <strong>Subpage</strong> for a subcategory.</p>
</li>
<li>
<p>If you want to create a subpage, click in the editing window on the category in which you want to create the subcategory.</p>
</li>
<li>
<p>Click <strong>Create</strong>.<br>
→ The new category has been added to the category tree.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="95">8. Creating a header or a footer in the ShopBuilder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the ShopBuilder you can create a header and a footer. The header and the footer are globally effective for the whole online store.</p>
</div>
<div class="paragraph instruction">
<p>Creating a header or a footer in the ShopBuilder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>In the section <strong>Header elements</strong> or <strong>Footer elements</strong>, click <strong>New</strong>.<br>
→ The window <strong>Create new page</strong> will open.</p>
</li>
<li>
<p>Select <strong>Create header</strong> or <strong>Create footer</strong>.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select either the standard header or the standard footer.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The header or the footer has been created.</p>
</li>
<li>
<p>Click <strong>Activate/deactivate link</strong> to link the header or the footer.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_editing_the_header">9. Editing the header</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The settings carried out in the header are globally effective. For the header, the widgets <strong>Top bar</strong>, <strong>Category navigation</strong> and <strong>Breadcrumbs</strong> are available for selection.</p>
</div>
<div class="paragraph instruction">
<p>Globally editing the header:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Click on the header.<br>
→ The page created for the header will open.</p>
</li>
<li>
<p>Via Drag&amp;Drop, move the desired widget into the preview area.</p>
</li>
<li>
<p>Click <strong>Edit</strong>.<br>
→ The respective editing window will open.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-elements-shop-builder">Table 1</a>.
→ The settings are saved automatically.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_editing_the_footer">10. Editing the footer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The settings carried out in the footer are globally effective. For the footer, the widget <strong>Legal information</strong> is additionally available for selection.</p>
</div>
<div class="paragraph instruction">
<p>Globally editing the footer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>Click on the footer.<br>
→ The page created for the footer will open.</p>
</li>
<li>
<p>Via Drag&amp;Drop, move the desired widget into the preview area.</p>
</li>
<li>
<p>Click <strong>Edit</strong>.<br>
→ The respective editing window will open.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-elements-shop-builder">Table 1</a>.</p>
</li>
<li>
<p>The settings are saved automatically.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="105">11. Using the standard homepage template</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For the homepage you can use the standard homepage template. Some widgets are already preset and can be edited. Moreover, further widgets can be added. Settings that have already been carried out in the Ceres configuration or the multilingualism are considered.</p>
</div>
<div class="paragraph instruction">
<p>Using the standard header template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>. + ¤The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>In the section Header elements, click <strong>New</strong>.<br>
The window <strong>Create new page</strong> will open.</p>
</li>
<li>
<p>Enter a name and select the <strong>Standard header</strong> in the <strong>template</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The section is created in the section Header elements.</p>
</li>
<li>
<p>Click on the page.<br>
→ The preview with the default settings for the standard header opens.</p>
</li>
<li>
<p>In order to edit the default settings, click <strong>Edit</strong> in the respective widget.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-elements-shop-builder">Table 1</a>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_using_the_standard_homepage_template">12. Using the standard homepage template</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For the homepage you can use the standard homepage template. Some widgets are already preset and can be edited. Moreover, further widgets can be added.
Settings that have already been carried out in the Ceres configuration or in the multilingualism are taken into account.</p>
</div>
<div class="paragraph instruction">
<p>Using the standard homepage template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>In the section Content, click <strong>New</strong>.<br>
→ The window <strong>Create new page</strong> will open.</p>
</li>
<li>
<p>Enter a name and select the <strong>Standard homepage</strong> in the <strong>template</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The page is created in the section Content.</p>
</li>
<li>
<p>Click on the page.<br>
→ The preview with the default settings for the standard homepage opens.</p>
</li>
<li>
<p>In order to edit the default settings, click <strong>Edit</strong> in the respective widget.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-elements-shop-builder">Table 1</a>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_using_the_standard_footer_template">13. Using the standard footer template</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For the footer you can use the standard footer template. Some widgets are already preset and can be edited. Moreover, further widgets can be added. ¤Settings that have already been carried out in the Ceres configuration or in the multilingualism are taken into account.</p>
</div>
<div class="paragraph instruction">
<p>Using the standard footer template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » ShopBuilder</strong>.<br>
→ The overview of the ShopBuilder opens.</p>
</li>
<li>
<p>In the section Footer elements, click <strong>New</strong>.<br>
The window <strong>Create new page</strong> will open.</p>
</li>
<li>
<p>Enter a name and select the <strong>Standard footer</strong> in the <strong>template</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The page is created in the section Footer elements</p>
</li>
<li>
<p>Click on the page.<br>
→ The preview with the default settings for the standard footer opens.</p>
</li>
<li>
<p>In order to edit the default settings, click <strong>Edit</strong> in the respective widget.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-elements-shop-builder">Table 1</a>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="90">14. Ideal image sizes for the ShopBuilder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are 4 different aspect ratios for images in the <strong>Image box</strong> and <strong>Image carousel</strong> widgets. These ratios are dependent on whether the widget is integrated as a standalone or in a grid with 2, 3 or 4 columns as well as which layout setting is selected for the grid.</p>
</div>
<div class="paragraph">
<p>For image widgets that are integrated <strong>without a grid</strong> or in a <strong>2 column grid</strong> with the layout setting <strong>50%:50%</strong>, the ideal image aspect ratio of width to height is <strong>3:1</strong>. If you change the layout settings, the aspect ratio changes to <strong>2:1</strong> (for 66.6% elements) and <strong>1:1</strong> (for 33.3% elements).</p>
</div>
<div class="paragraph">
<p>For image widgets in a <strong>3 column grid</strong> with the layout setting <strong>30%:30%:30%</strong>, the ideal image aspect ratio of width to height is <strong>1.5:1</strong>. Depending on the layout settings, the aspect ratio changes according to the table below.</p>
</div>
<div class="paragraph">
<p>For image widgets in a <strong>4 column grid</strong>, the ideal image aspect ratio of width to height is <strong>1:1</strong>. The layout for this type of grid cannot be changed.</p>
</div>
<table id="tabelle-bildergroesse-shop-builder" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Ideal image sizes for ShopBuilder widgets</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Number of grid columns</th>
<th class="tableblock halign-left valign-top">Layout setting (%)</th>
<th class="tableblock halign-left valign-top">Aspect ratio</th>
<th class="tableblock halign-left valign-top">Example size</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>No grid</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>-</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x400px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>50%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x400px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>66.6%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x600px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>33.3%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x1200px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>33.3%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1.5:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x800px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>50%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>2:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x600px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>25%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x1200px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>66.6% (stacked)</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1.5:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x800px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>3</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>33.3%</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1.5:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x800px</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>4</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>-</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1:1</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>1200x1200px</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">15. Scripts in the text widget</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to use JavaScript scripts in the online store, you can implement <strong>&lt;script2&gt;</strong> tags in the text widget of the ShopBuilder. This tag functions like a common &lt;script&gt; tag. ¤For the documentation of the framework used for the ShopBuilder, see <a href="https://github.com/taoeffect/vue-script2" target="_blank" rel="noopener">here</a>.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;script2 src="https://momentjs.com/downloads/moment.js"&gt;&lt;/script2&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>Explanation</strong>: Here a &lt;script2&gt; tag is used only with the src attribute to load an external script.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;script2&gt;
    var today = moment().format('dddd');
    alert("today is " + today);
&lt;/script2&gt;</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>Explanation</strong>: JavaScript code is written within the script2 tag. moment.js is accessed here, which was loaded in the previous script.</p>
</div>
<div class="paragraph">
<p><strong>Tip</strong>: External scripts can be uploaded in the webspace and integrated via the ShopBuilder. You can access the URL of the script in the plentymarkets webspace.</p>
</div>
</div>
</div>
</main>