<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Installiere die App und kopple diese mit deinem plentyPOS</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sobald du die plentymarkets-App auf dein Tablet oder Smartphone heruntergeladen hast, kannst du dich zum ersten Mal anmelden und einige Grundeinstellungen speichern. Dieses Video führt dich durch die EInstellungen und zeigt dir, wie Du die App mit den POS-Einstellungen verknüpfst, die du bereits in Ihrem plentymarkets-System konfiguriert haben.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/pos/pos-einrichtung/app-einloggen#video">Zum ersten Mal in die App einloggen (0:40)</a></p>
<p class="tableblock"><a href="/videos/pos/pos-einrichtung/app-verknuepfen#video">Verknüpfen dein POS-System mit der App (1:31)</a></p>
<p class="tableblock"><a href="/videos/pos/pos-einrichtung/app-drucker#video">Arbeiten mit mehreren Druckern (3:08)</a></p>
<p class="tableblock"><a href="/videos/pos/pos-einrichtung/app-anpassen#video">Anpassen der App (3:56)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/282851251#at=236" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>"Haallooo Google. Wie bekomme ich Apps aus diesem Internet?"<br>
Folge einfach dem Beispiel von Hilde und lade die App aus dem play store oder Appstore runter.
Dein erster Blick sollte auf die Einstellungen deines Tablets fallen. Zeit und Datum des Betriebssystems müssen geprüft werden.
Du solltest sicherstellen, dass die Uhr automatisch auf Sommerzeit gestellt wird.
Dies ist wichtig, damit das Tablet weiß, wie spät es ist - oder anders gesagt, das Tablet weiß dann genau, wann die Artikel gekauft wurden.
Nimmst du die Einstellungen nicht vor kann es passieren, dass falsche Aufträge Beispielsweise im Tagesabschluss enthalten sind.</p>
</div>
<div class="paragraph">
<p>Anschließend kannst du dich direkt über die App in ihr System einloggen.
Nachdem du die Sprache ausgewählt hast muss die Basis-URL deines Systems eingeben werden.
Danach den Benutzername und Passwort eingeben mit denen du dich in dein plenty-System einloggt.
Du bleibst übrigens in jedem Fall eingeloggt.
Mit anderen Worten, du kannst die App schließen und öffnen, ohne dich jedes Mal neu anmelden zu müssen.</p>
</div>
<div class="paragraph">
<p>Angekommen in der App hast du Zugriff auf viel Funktionen deines plentymarkets-Systems.
Öffne das Menü hier oben links.
Beispielsweise kannst du hier deine Aufträge einsehen, du kannst Artikel in deinem Lager picken und natürlich kannst du auch Kunden in deinem stationären Handel kassieren.
Bevor du aber dieses Menü öffnest, sollte du die Einstellungen der App öffnen und das POS-System mit deinem Tablet oder Handy verbinden.</p>
</div>
<div class="paragraph">
<p>Du solltest also den Mandant sowie das POS-System, dass du bereits in deinem Backend konfiguriert hast, auswählen.
Keine Panik, die umfangreichen Konfigurationsmöglichkeiten erklären wir dir in diesem Video.
Als nächstes musst du entscheiden, ob du dem Kunden in deinem Laden Brutto oder Nettopreise berechnen möchtest.
Außerdem solltest du die IP-Adresse deines Bon-Druckers in diesem Feld hinterlegen.
Ganz unten kannst du den automatischen Druck einstellen, damit Belege automatisch nach dem Zahlungsvorgang gedruckt werden.
Alternativ kann der Druck beispielsweise von Belegen auch manuell ausgelöst werden.
Um die Einstellungen zu kontrollieren kann sich Hilde dann hier eine Testseite drucken lassen.
Zu guter Letzt musst du entscheiden, ob du den Bildschirm lieber wie ein Tablet oder Smartphone aussehen lassen möchtest.
Mit anderen Worten möchtest du das Display horizontal oder vertikal nutzen?</p>
</div>
<div class="paragraph">
<p>Sobald du alle Einstellungen getätigt hast, klickst du speichern und koppelst so deine App mit dem ausgewählten POS-System.
Im Prinzip kannst du jetzt in deinem Laden mit dem Kassieren über die App beginnen.
In plentymarkets kannst du sogar erkennen, welche POS-Systeme bereits mit einem Gerät verknüpft sind, da die UUID dieses Geräts hier angezeigt wird.
Du solltest aber beachten, dass nur ein Gerät pro Kassensystem verknüpft werden kann.
Wenn du beispielsweise zwei verschiedenen Tablets als Kasse nutzen möchtest, musst du in plentymarkets auch zwei POS-Systeme erstellen.</p>
</div>
<div class="paragraph">
<p>Bevor du jetzt mit der App arbeitest solltest du nochmal in die POS-Einstellungen schauen.
Wahrscheinlich hast du bemerkt, dass ich dir in diesem Bereich einige Einstellungen unterschlagen habe.
Die Einstellungen im Bereich Drucker sind aber nur dann relevant, wenn deine Dokumente und Belege auf anderen Druckern ausdruckst bzw. in verschiedenen Formaten ausgedruckt werden.
Wenn du deine Belege zum Beispiel in Din A4 ausdrucken möchtest solltest du dir zusätzlich zur App plentyBase herunterladen, konfigurieren und anschließend das Menü plentyBase deiner App öffnen.
Hier gibst du die IP Adresse des Computers ein, auf dem plentyBase läuft.
Außerdem hinterlegst du hier den HTTP-Port, den du in der Konfiguration von plentyBase findest sowie den Access-Token den du in deinem Backend findest.</p>
</div>
<div class="paragraph">
<p>Die App hast du jetzt fertig eingerichtet. Nun kannst du der App noch eine persönliche Note geben.
Für den Anfang ist es wichtig die verschiedenen Kennzahlen des Unternehmens im Blick zu behalten.
Du fügst also die Kennzahl Aufträge sowie unbezahlte Aufträge hinzu.
Sogar das Hintergrundbild der App lässt sich ganz einfach ändern.
Wenn du wie Hilde vorgegangen bist und dir die App heruntergeladen und mit deiner Hardware verknüpft hast, kannst du in deinem Laden direkt durchstarten!</p>
</div>
</div>
</div>
</main>