<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Richte deine Kasse im plentymarkets Backend ein</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Im plentymarkets Backend gibt es einige Einstellungen, die vornehmen musst. Aber keine Bange: Unser Video erklärt dir alles Schritt-für-Schritt, damit du perfekt vorbereitet wirst.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/pos/pos-einrichtung/backend-kasse#video">Kasse anlegen und Standortdaten hinterlegen (0:19)</a></p>
<p class="tableblock"><a href="/videos/pos/pos-einrichtung/backend-artikelfilter#video">Artikelfilter einstellen und Lager auswählen (0:57)</a></p>
<p class="tableblock"><a href="/videos/pos/pos-einrichtung/backend-favoriten#video">Favoriten einstellen (1:44)</a></p>
<p class="tableblock"><a href="/videos/pos/pos-einrichtung/backend-preise#video">Preise und Zahlungsarten freischalten (2:27)</a></p>
<p class="tableblock"><a href="/videos/pos/pos-einrichtung/backend-benutzerrollen#video">Benutzerrollen verknüpfen (4:03)</a></p>
<p class="tableblock"><a href="/videos/pos/pos-einrichtung/backend-standardkunden#video">Standardkunden anlegen (4:55)</a></p>
<p class="tableblock"><a href="/videos/pos/pos-einrichtung/backend-versandprofil#video">Versandprofil für Selbstabholer anlegen (5:31)</a></p>
<p class="tableblock"><a href="/videos/pos/pos-einrichtung/backend-ereignisaktion#video">Ereignisaktion anlegen (6:32)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/207113532#at=19" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Hast du dir das plentyPOS Modul gebucht und die Hardware steht bereit?
Dann auf zu deinem Computer, denn nach Buchung des Moduls entdeckst du dann schnell in den Systemeinstellungen &gt; Mandant &gt; Standard den Punkt POS. Und dann kann es auch schon mit der Einrichtung deiner Kasse in plentymarkets losgehen.
Natürlich gibt es einige Punkte, die du nun durchgehen musst. Aber dieses Video soll dir nicht nur das was erklären, sondern auch das warum - und dann bist du nur noch ein paar Minuten entfernt von "Wow, das war ja einfach!"</p>
</div>
<div class="paragraph">
<p>Also als erstes schaffst du die Basis und legst deine Kasse oder deine Kassen im System an, jeweils mit einem eindeutigen Namen.
Dein Laden, ob groß oder klein, steht für dich bereit; und genau dieser Standort ist sehr wichtig, um letztlich GoBD-konform arbeiten zu können.
Deine Daten hinterlegst du also am besten direkt an der Kasse im System. So bist du auf jeden Fall auf der sicheren Seite.
Und wenn du schon dabei bist und deine Daten zur Hand hast, trag sie direkt in deinen Beleg ein. Alternativ werden hier allerdings auch automatisch deine Stammdaten genommen, solltest du sie bereits im System hinterlegt haben.</p>
</div>
<div class="paragraph">
<p>Ein Shop braucht natürlich auch Artikel. Nicht nur physisch in den Ladenregalen, für deine Kunden zum Greifen nah, sondern auch virtuell in deinem plentymarkets System hinterlegt.
Typischerweise stellst du in plenty über die Verfügbarkeiten ein, auf welchen Verkaufskanälen deine Artikel angeboten werden.
Diese Filter greifen genau darauf zurück. Du kannst mit einem simplen Klick nur die Artikel in der Kasse anzeigen lassen, die du im Datensatz auch für den Marktplatz "Kasse" freigegeben hast.
Und das gleiche gilt für Artikel, die im Datensatz auf aktiv gestellt wurden.
Wichtig ist dann noch, in welchem Lager deine verkäuflichen Artikel liegen und in welchem eventuellen Retouren für die Reparatur gelagert werden sollen.</p>
</div>
<div class="paragraph">
<p>Du kennst deine Artikel sehr gut und weißt, welche davon sich immer gut verkaufen. Damit es mit ebendiesen Artikeln noch schneller an der Kasse geht, hast du die Möglichkeit, Favoriten einzustellen, die dann direkt beim Start der Kasse angezeigt und per Touch abgerechnet/hinzugefügt werden können.
Was genau als Favorit gilt, wählst du in diesem Tab hier aus.
Die selbst gestrickten Socken gehen immer gut weg und Marmelade ist gerade im Angebot. Aber nur Erdbeere - was kein Problem ist, da du sehr flexibel aus deinen eingestellten Varianten wählen kannst.
Wenn du möchtest, dann wird mit diesem Haken automatisch die Menge 1 hinzugefügt oder du gibst die Menge dann nach dem Touch nochmals manuell ein.</p>
</div>
<div class="paragraph">
<p>Super, dein Sortiment steht also in deinen Regalen und deine Kasse ist darauf getrimmt, es genau so zu verkaufen wie du es willst.
Nur eine Sache fehlt noch, damit deine Ware perfekt vorbereitet ist: Preise!
Und die funktionieren in plentymarkets per Verknüpfung am Artikel und per Freischaltung für die jeweiligen Verkaufskanäle, in diesem Fall, die Kasse beziehungsweise dein POS-System.
Unter Artikel &gt; Verkaufspreise suchst du dir entweder einen vorhandenen Preis aus oder erstellst dir einen komplett neuen, den du nur für POS verwendest.
So oder so, wichtig ist, dass du beim Punkt "Herkunft" dein Kassensystem aktivierst.
Sollte dein Kassensystem hier nicht auffindbar sein, musst du es vorher unter System &gt; Aufräge &gt; Auftragsherkunft aktivieren.
Natürlich willst du deinen Kunden nicht nur die Preise zeigen - sie sollen sie auch bezahlen.
Je nachdem wie du deinen laden führst, möchtest du deinen Kunden vielleicht unterschiedliche Zahlungsarten ermöglichen.
Beispielsweise Barzahlung.
Also aktivierst du diese Zahlungsart verknüpfst sie mit dem korrekten Mandanten und achtest auch darauf, dass du keine Aufpreise eingetragen hast.
Natürlich gibt es noch weitere Zahlungsmöglichkeiten, wie Gutscheine. Oder die beliebte EC-Karte, die du sogar in plentymarkets direkt über eine ZVT Schnittstelle anbinden kannst! Das ist auch nicht komplex, aber funktioniert durch ebendiese ZVT Anbindung ein wenig anders, also erfährst du alles dazu in separaten Videos.</p>
</div>
<div class="paragraph">
<p>Nun wirst du sehr wahrscheinlich nicht komplett allein in deinem Laden stehen, sondern hast vielleicht noch einen oder mehrere Mitarbeiter, die beim Kassieren unterstützen sollen.
Ist dies der Fall, benötigen diese Kassierer lediglich ein Benutzerkonto für dein plentymarkets System. Admin-Nutzer haben dabei direkt Zugang zur App. Variablen Nutzern musst du noch entsprechende POS-Berechtigungen geben.
Wir empfehlen dir eine Rolle für deine Kassierer anzulegen, für die du schließlich die Berechtigungen für das Kassensystem gibst. Denn so kannst du diese Rolle den Nutzern zuweisen und musst nicht jede Berechtigung einzeln geben.
Alles zu den passenden Berechtigungen findest du in unserem Handbuch.</p>
</div>
<div class="paragraph">
<p>Neben Artikeln und Mitarbeitern benötigt es jetzt eigentlich nur noch eins, damit dein Laden läuft. Und das sind, palimm palimm, Kunden.
Wo ein verkaufter Artikel, dort auch ein Kunde! Ebendiesen kennst du allerdings nicht immer. Anders gesagt: Du verkaufst hier also an deinen Standardkunden. Und für diesen benötigst du in plenty einen Datensatz.
Diesen Datensatz, der für deine Standardkunden genutzt werden soll, legst du unter dem Menüpunkt "CRM &gt; Kontakte" an.
Dabei kannst du auch ruhig Standard eintragen, das ist nämlich nur für dich sichtbar.
Sobald du damit fertig bist, wechselst du wieder in deine POS-Konfiguration und packst diesen Datensatz in das Feld "Standardkunde".</p>
</div>
<div class="paragraph">
<p>Hat sich dein Kunde für einen Artikel entschieden, spaziert er also zur Kasse und zahlt. Ein Auftrag entsteht im System - und jeder Auftrag in plentymarkets benötigt ein Versandprofil. Wenn dein Kunde seinen Artikel nämlich direkt mitnimmt, regelst du darüber, dass keine Kosten im System entstehen.
Für alle Verkäufe aus deinem Laden, bei denen der Kunde seine Artikel direkt mitnimmt legst du dir jetzt ein eigenes Versandprofil an.
Zuerst benötigst du dafür einen neuen Versanddienstleister.
In diesem Fall nimmt der Kunde ja dein Produkt direkt mit - ist also ein Selbstabholer.
Hast du den also angelegt, sorgst du dann mit einem Profil dafür, dass der Kunde natürlich nichts dafür zahlt.
Am besten gehst du bei der Erstellung eines neues Versandprofils die Anleitung in unserem Handbuch durch.
Der Tab Portotabelle ist dann entscheidend, denn schließlich willst du deinen stationären Shoppern nichts berechnen.
Also trägst du hier überall 0€ ein und speicherst alles ab.
Vergiss nicht, dass du, wie im Handbuch beschrieben, das Profil mit deinen Artikel verknüpfen musst, damit alles korrekt funktioniert.</p>
</div>
<div class="paragraph">
<p>Ok, dein Kunde sucht sich also etwas aus deinem umfassenden Sortiment, bezahlt es, nimmt es mit und dann?
Während er aus deinem Laden spaziert und sein Leben nicht besser sein könnte, müsstest du deine restliche Kundschaft jetzt erstmal warten lassen und den gekauften Artikel aus deinem Lager ausbuchen. Aber plenty wäre ja nicht plenty, wenn wir nicht auch da noch einen Trick parat hätten. Eine Ereignisaktion sorgt dafür, dass beim Kauf automatisch der Warenausgang gebucht wird.
Diese Ereignisaktion konfigurierst du ebenfalls im Menü System &gt; Aufträge &gt; Ereignisse.
Definiere das Ereignis, also "Kassenbeleg generiert", filtere nach der Herkunft - deinem Kassensystem und lege fest, dass auf dieses Ereignis die gewünschten Aktionen folgen sollen - nämlich Warenausgang buchen.
Für den umgekehrten Fall, nämlich "Kunde will stornieren" gibt es eine kleine Checkbox, die auch die Rückbuchung automatisiert. Mit einem Klick musst du stornierte Artikel dann auch nicht mehr manuell auf ihren alten Lagerplatz buchen.</p>
</div>
<div class="paragraph">
<p>Ok, das war jetzt einiges an Input, also lassen wir nochmal Revue passieren. Du hast gelernt:
Wie du dein plentymarkets Backend für die Nutzung der Kasse konfigurierst, wie du Verkaufspreise freischaltest, Nutzerkonten für deine Mitarbeiter anlegst, wie du für das System Kundendatensätze und Versandprofile erstellst und automatisch Warenausgänge buchst.
Im Anhang dieses Videos findest du nochmals eine Checkliste, die du in Ruhe abarbeiten kannst.
Viel Erfolg beim Einrichten deiner Kasse!</p>
</div>
</div>
</div>
</main>