<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Verkaufe Diversartikel mit Dummy-Datensätzen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Saisonware, Diversartikel, Produkte, die nur in geringen Stückzahlen vorliegen oder die den gleichen Preis haben etc. - all das sind Artikel, für die sich die komplette Erfassung meistens nicht lohnt. Damit du sie dennoch kassieren kannst, erstellst du dir ganz einfach Dummy-Artikel. Wie das geht, lernst du in diesem Video.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/pos/pos-einrichtung/diversartikel-datensansatz#video">Dummy-Datensatz anlegen (0:59)</a></p>
<p class="tableblock"><a href="/videos/pos/pos-einrichtung/diversartikel-preisabfrage#video">Preisabfrage aktivieren (1:57)</a></p>
<p class="tableblock"><a href="/videos/pos/pos-einrichtung/diversartikel-rechte#video">Kassierern Rechte erteilen (2:08)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/285256821#at=117" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Spät in der Nacht, die ganze Stadt schläft.
Die ganze Stadt?
Nein, in einem kleinen Lädchen brennen noch die Lichter und noch ist kein Ende in Sicht.
Hildegard - Händlerin mit Leib und Seele.
Um ihren Kunden im Kassenbereich noch ein paar Schokoriegel und einen 1€-Wühltisch anbieten zu können, erstellt sie gerade Datensätze in plentymarkets.
Für jeden - einzelnen - Artikel.
Denn ohne Datensatz kann sie schließlich auch nicht kassieren.
Ach hätte Hilde doch nur dieses Video vorher gesehen - die Nächte wären wieder zum Schlafen da und sie würde mit sogenannten Dummy-Artikeln arbeiten.
Aber liebe Hilde und lieber Händler, dann holen wir das eben jetzt nach.</p>
</div>
<div class="paragraph">
<p>Dummy-Artikel kannst du für all die Produkte anlegen, für die eine komplette Erfassung und Bestandspflege zu aufwendig wäre.
Und das geht schneller als Hildegard einen Schokoriegel essen kann.
Du benötigst natürlich erstmal einen Artikeldatensatz - und zwar für jeden Umsatzsteuersatz, der für dein Portfolio relevant ist.
Dann musst du deine Kasse so konfigurieren, dass sie dich bei Dummy-Artikeln nach dem Preis fragt.
Und schließlich sorgst du dafür, dass all deine Kassierer überhaupt Dummy-Artikel kassieren können.</p>
</div>
<div class="paragraph">
<p>Los geht’s und zwar mit dem wofür wir eigentlich hier sind: Der Artikeldatensatz, den letztlich als Dummy nutzen wirst.
Beim Anlegen unterscheidet er sich überhaupt nicht von all deinen anderen Artikeln, die du im Laden anbietest.
Es sind aber drei bestimmte Einstellungen, die ihn besonders machen.
Als erstes: Der Umsatzsteuersatz.
Hildes Wühltisch wird mit 19% besteuert, die schmackhaften Schokoriegel mit 7%.
Also braucht sie zwei Dummy-Artikel, bei denen sie jeweils in der Hauptvariante den korrekten Steuersatz einstellt.
Dann: Die Bestandsbeschränkung.
Du möchtest keinen Bestand für diese Produkte führen, deswegen sind wir ja hier.
Also muss die Beschränkung auf "Keinen WB für diese Variante führen" eingestellt werden.
Und der Preis.
Haben die Produkte alle den gleichen Preis, trägst du den hier dann auch schon ein, falls nicht muss eine 0 in das Feld.
Und "Nein", du verschenkst diese Artikel natürlich nicht.
Dadurch entsteht lediglich die Möglichkeit, beim Kassieren den Preis einzugeben.</p>
</div>
<div class="paragraph">
<p>Damit das funktioniert muss die entsprechende Funktion in deiner Kassenkonfiguration aktiviert sein.
Durch den Haken fragt deine Kasse bei einem 0€-Preis, wieviel abgerechnet werden soll.
Und damit das wiederum auch möglich ist, benötigen deine Kassierer die passende Berechtigung.
Ob Benutzer oder Benutzerrolle, im Tab Berechtigungen findest du den Reiter Mobile.
Und dort kannst du die POS-Funktion "Preis bearbeiten" freischalten.
Außerdem empfehlen wir dir, dass du es auch erlaubst, Artikelpositionen umzubenennen.
So kann an der Kasse noch spezifiziert werden, was genau verkauft wurde.</p>
</div>
<div class="paragraph">
<p>Das eigentliche Kassieren dieser Dummy-Artikel ist total einfach und unterscheidet sich auch gar nicht vom Verkauf eines ganz normalen Artikels.
Man fügt den Artikel hinzu und wird direkt nach der Preiseingabe gefragt.
Artikel umbenennen, falls nötig und möglich und wenn alles fertig ist, werden die Kunden ganz normal weiter bedient, sie können zahlen und das Geschäft glücklich mit ihrem neuen Artikel verlassen.</p>
</div>
<div class="paragraph">
<p>Also los geht’s für dich und Hildegard!
Erstellt Dummies, für Divers-, Saison- oder Impulsartikel und spart euch viel Zeit!</p>
</div>
</div>
</div>
</main>