<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#200"><span>1.</span><span> Lieferanschriftenliste exportieren</span></a></li>
<li><a href="#800"><span>2.</span><span> Paketnummern importieren</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>2.1.</span><span> Paketnummern per CSV-Datei importieren</span></a></li>
<li><a href="#1000"><span>2.2.</span><span> Paketnummern manuell importieren</span></a></li>
<li><a href="#1010"><span>2.3.</span><span> Paketnummern mit Hilfe eines Barcodescanners importieren</span></a></li>
</ul>
</li>
<li><a href="#300"><span>3.</span><span> Adressetikett einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#400"><span>3.1.</span><span> Adressetikettenvorlage erstellen</span></a></li>
<li><a href="#500"><span>3.2.</span><span> PDF-Vorlage hinterlegen</span></a></li>
<li><a href="#600"><span>3.3.</span><span> Artikelauflistung</span></a></li>
<li><a href="#700"><span>3.4.</span><span> Adressetikett erzeugen</span></a></li>
</ul>
</li>
<li><a href="#1100"><span>4.</span><span> Einlieferungsliste generieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Dokumente erzeugen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite wird beschrieben, wie Sie die Lieferanschriftenliste zu Ihrem Versanddienstleister exportieren und anschließend die Paketnummern, die Sie von Ihrem Versanddienstleister erhalten, importieren. Versandlabels können Sie drucken, nachdem Sie Ihre Aufträge online bei Ihrem Versanddienstleister angemeldet haben. Außerdem erfahren Sie, wie Sie Adressetiketten per Vorlage einrichten und Einlieferungslisten generieren.</p>
</div>
<div class="paragraph">
<p>Wie Sie die anderen in plentymarkets verfügbaren Dokumente wie z.B. Rechnung, Auftragsbestätigung oder Lieferschein einrichten, erfahren Sie im Bereich <a href="/auftragsabwicklung/auftraege">Aufträge</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">1. Lieferanschriftenliste exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn Sie Pakete über einen Versanddienstleister versenden, benötigen Sie eine Lieferanschriftenliste. Dabei handelt es sich um eine Exportdatei mit Sendungsinformationen, die Sie dem Versanddienstleister anschließend bereitstellen, so dass dieser Ihnen wiederum gültige Versandlabels für Ihre Pakete zur Verfügung stellen kann. Mit diesem Export können Sie schnell und einfach größere Mengen an Paketen für den Versand vorbereiten. Im Folgenden wird beschrieben, wie Sie die Lieferanschriften Ihrer Aufträge in eine Datei, die Sie für die Software Ihres Versanddienstleisters benötigen, exportieren.</p>
</div>
<div class="paragraph">
<p>Bei Fragen zum Dateiimport in die Software des Versanddienstleisters oder zur Benutzung der Software kontaktieren Sie den Anbieter.</p>
</div>
<div class="paragraph instruction">
<p>Lieferanschriftenliste exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Fulfillment</strong>.</p>
</li>
<li>
<p>Klappen Sie den Bereich <strong>Lieferanschriftenliste</strong> auf.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 1.</p>
</li>
<li>
<p>Klicken Sie auf das Zahnrad.<br>
→ Sie erhalten eine Datei, die Sie auf Ihrem Computer speichern.</p>
</li>
<li>
<p>Importieren Sie die Datei anschließend in die Software Ihres Versanddienstleisters.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Einstellungen im Menü <strong>Aufträge » Fulfillment » Bereich:&nbsp;Lieferanschriftenliste</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Suchfilter</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsstatus</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auftragsstatus wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Eigner</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eigner wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungsart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versandart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Versandart wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungseingang</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungseingang wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Datenformat</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datenformat der Software Ihres Versanddienstleisters wählen.<br>
Wenn für die bearbeiteten Aufträge mehrere Versanddienstleister relevant sind, den Exportprozess nacheinander für alle Datenformate durchführen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Trennzeichen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Trennzeichen wählen.<br>
Dieses Trennzeichen auch beim Import der Datei in die Software Ihres Versanddienstleisters wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Aktion</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ändere Auftragsstatus</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auftragsstatus wählen, der den Aufträgen beim Export zugewiesen werden soll.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Datenformat UPS WorldShip 11</div>
<div class="paragraph">
<p>Wenn Sie eine Lieferanschriftenliste mit dem Datenformat UPS WorldShip 11 generieren, wird der Inhalt des Feldes <strong>Adresszusatz</strong> der Lieferanschrift in den Spalten <strong>Str2</strong> bzw. <strong>Str3</strong> ausgegeben. Der Adresszusatz wird in Teilen zu je 35 Zeichen fortlaufend auf diese Spalten verteilt, soweit diese leer sind. Sind diese nicht leer, wird der Adresszusatz nicht ausgegeben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="800">2. Paketnummern importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit einem Paketnummernimport im Menü <strong>Aufträge » Fulfillment » Tab: Import Paketnummern</strong> können Sie auch größere Mengen an Paketnummern komfortabel in Ihrem plentymarkets System bearbeiten.</p>
</div>
<div class="paragraph">
<p>Das Tab <strong>Import Paketnummern</strong> ist in die Bereiche <strong>CSV-Import</strong> und <strong>Listen-Import</strong> unterteilt. Im Bereich <strong>CSV-Import</strong> laden Sie eine Datei Ihres Versanddienstleisters in Ihr plentymarkets System. Im Bereich <strong>Listen-Import</strong> haben Sie die Möglichkeit, die Paketnummern mit Hilfe eines <a href="/auftragsabwicklung/fulfillment/dokumente-erzeugen#1010">Barcodescanners</a> zu importieren oder die Paketnummern manuell einzugeben.</p>
</div>
<div class="sect2">
<h3 id="900">2.1. Paketnummern per CSV-Datei importieren</h3>
<div class="paragraph">
<p>Gehen Sie wie im Folgenden beschrieben vor, um die Paketnummern per CSV-Datei zu importieren. Die CSV-Datei, die Sie importieren, wurde von einer Software Ihres Versanddienstleisters generiert.</p>
</div>
<div class="paragraph instruction">
<p>Paketnummern per CSV-Datei importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Fulfillment</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Import Paketnummern</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen im Bereich <strong>CSV-Import</strong> vor. Beachten Sie dazu die Erläuterungen in Tabelle 2.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Import</strong>.<br>
→ Die Paketnummern werden in Ihr plentymarkets System importiert.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Einstellungen im Menü <strong>Aufträge » Fulfillment » Tab: Import Paketnummern</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Einstellung</strong></th>
<th class="tableblock halign-left valign-top"><strong>Erläuterung</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Option im Dropdown-Menü</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Option im Dropdown-Menü wählen, z.B. <strong>Auftrags-ID</strong>. Spalte der CSV-Datei wählen, in der z.B. die <strong>Auftrags-ID</strong> oder eine andere Option enthalten ist, die zur Identifizierung der Pakete verwendet werden soll.<br>
Die Auftrags-ID sowie die Versandpaket-ID wird vom plentymarkets System generiert. Das <strong>Zeichen Kunde</strong> wird im Tab <strong>Einstellungen</strong> eines Auftrags gespeichert.<br>
Verfügbar sind folgende Optionen:
* Auftrags-ID
* Barcode Auftrags-ID
* Versandpaket-ID
* Auftrags- und Versandpaket-ID
* Zeichen Kunde</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Paketnummer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Spalte der CSV-Datei wählen, in der die Paketnummer enthalten ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Feldtrennzeichen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Trennzeichen wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Datei</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Nach Klick auf <strong>Datei auswählen</strong> die CSV-Datei des Versanddienstleisters für den Import der Paketnummern wählen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1000">2.2. Paketnummern manuell importieren</h3>
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Fulfillment » Tab: Import Paketnummern</strong> im Bereich <strong>Listen-Import</strong> haben Sie die Möglichkeit, die Paketnummern mit der Auftrags-ID manuell einzutragen. Alternativ können Sie diese mit einem Barcodescanner von der Packliste abscannen. Wie Sie dabei vorgehen müssen, wird im nächsten Kapitel beschrieben.</p>
</div>
</div>
<div class="sect2">
<h3 id="1010">2.3. Paketnummern mit Hilfe eines Barcodescanners importieren</h3>
<div class="paragraph">
<p>Wenn ein Auftrag fertig gepackt wurde, sollte in plentymarkets der Warenausgang gebucht werden. Hierbei wird der <strong>Status [7] Warenausgang gebucht</strong> und das aktuelle Datum als Warenausgangsdatum am Auftrag hinterlegt. Dieser Vorgang kann beispielsweise mittels Abscannen des Barcodes auf der Rechnung, Lieferschein, Packliste oder dem Adressetikett durchgeführt werden. Achten Sie auf die korrekte Konfiguration Ihres Barcodescanners.</p>
</div>
<div class="paragraph">
<p>Im Folgenden wird der Scan-Vorgang beispielhaft anhand der Packliste beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Paketnummern mit Hilfe eines Barcodescanners importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Fulfillment</strong>.</p>
</li>
<li>
<p>Klappen Sie den Bereich <strong>Rechnungen erzeugen</strong> auf.</p>
</li>
<li>
<p>Erzeugen Sie eine oder mehrere Rechnungen. Beachten Sie dazu die Erläuterungen auf der Handbuchseite <a href="/auftragsabwicklung/auftraege/auftragsdokumente/rechnungen-erzeugen">Rechnungen erzeugen</a>.</p>
</li>
<li>
<p>Erstellen Sie aus diesen Rechnungen eine Packliste aller Aufträge, die nun verpackt werden müssen. Beachten Sie dazu die Erläuterungen auf der Handbuchseite <a href="/auftragsabwicklung/auftraege/auftragsdokumente/packliste">Packliste</a>.</p>
</li>
<li>
<p>Sobald ein Paket gepackt wurde, markieren Sie diesen Auftrag auf der Packliste.</p>
</li>
<li>
<p>Kleben Sie außerdem unterhalb des Barcodes der Auftrags-ID einen kleinen Aufkleber mit der Paketnummer (Lightlabel) auf.</p>
</li>
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Fulfillment</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Import Paketnummern</strong>.</p>
</li>
<li>
<p>Platzieren Sie den Cursor im ersten Feld im Bereich <strong>Listen-Import</strong>.</p>
</li>
<li>
<p>Scannen Sie zunächst die Auftrags-ID und anschließend die Paketnummer.<br>
→ Durch einen Klick auf <strong>Speichern</strong> werden die Paketnummern bei allen Aufträgen im Tab <strong>Einstellungen</strong> gespeichert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Richten Sie im Menü <strong>System » Aufträge » Ereignisse</strong> eine Ereignisaktion ein und wählen Sie für das Ereignis <strong>Auftragsänderung &gt; Paketnummer</strong> die Aktion <strong>Auftrag &gt; Warenausgang buchen</strong>. Zudem können Sie Ihren Kunden eine E-Mail-Vorlage mit der Paketnummer und einem Link zu Paketverfolgung senden. Weitere Informationen zu Ereignisaktionen finden Sie auf der Handbuchseite <a href="/basics/automatisierung/ereignisaktionen">Ereignisaktionen</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Adressetikett einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Gegensatz zu Versandlabels können Sie für Adressetiketten in plentymarkets genau festlegen, welche Informationen an welcher Stelle enthalten sein sollen. Da Sie Adressetiketten nicht vorgefertigt von einem Versanddienstleister erhalten, ist weder das Porto bereits abgerechnet, noch eine Sendungsnummer enthalten. Die Verwendung von Adressetiketten eignet sich besonders für Warensendungen, z.B. den Versand von Büchern, die Sie durch den individuellen Aufdruck Büchersendung u.U. günstiger versenden können als über das Gewicht des Pakets. Sie können in plentymarkets die Adressetikettenvorlage einrichten, eine PDF-Datei erzeugen und mit dieser dann Etiketten drucken.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wann Paketdienst-Software nutzen?</div>
<div class="paragraph">
<p>Das Generieren von Adressetiketten in plentymarkets ist besonders für Warensendungen vorgesehen. Erfolgt der Versand als Paket über einen Paketdienst, nutzen Sie die Software dieses Paketdienstes, um Versandlabels zu drucken. plentymarkets unterstützt den Datenaustausch mit verschiedenen Paketdiensten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wenn Sie bereits eine Adressetikettenvorlage erstellt und eine PDF-Vorlage hinterlegt haben, fahren Sie fort mit Kapitel <a href="/auftragsabwicklung/fulfillment/dokumente-erzeugen#700">Adressetikett erzeugen</a>.</p>
</div>
<div class="sect2">
<h3 id="400">3.1. Adressetikettenvorlage erstellen</h3>
<div class="paragraph">
<p>Bevor Adressetiketten gedruckt werden können, müssen Sie eine Vorlage erstellen. Gehen Sie wie im Folgenden beschrieben vor, um eine neue Vorlage zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Adressetikettenvorlage erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Dokumente » Adressetikett</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Neue Vorlage</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 3.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Positionierung durch Koordinaten</div>
<div class="paragraph">
<p>Die Inhalte eines Etiketts werden durch Eingabe von Koordinaten (X, Y) positioniert. Dabei wird als Ausgangspunkt die obere linke Ecke eines Etiketts angenommen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Einstellungen im Menü <strong>System » Aufträge » Dokumente » Adressetikett</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Layout-Titel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name der Adressetikettenvorlage. Dieser Name erscheint in Dropdown-Menüs zur Auswahl der Vorlage.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zeichensatz</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Unicode</strong> oder <strong>ISO-8859-1</strong> wählen. Das Generieren von PDF-Dokumenten kann länger dauern, wenn der Zeichensatz Unicode verwendet wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seite</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Werte (in mm) für die <strong>Breite</strong> und die <strong>Höhe</strong> des verwendeten Etikettenpapiers eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seitenrand</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Werte (in mm) für den linken und den oberen Seitenrand eingeben.<br>
Der rechte und der untere Seitenrand müssen beim Druck ebenfalls beachtet werden. In der Regel sind die Abstände die gleichen wie der linke und der obere Rand. Dazu ggf. die Angaben des Etikettenherstellers beachten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Etikett</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Werte (in mm) für die <strong>Breite</strong> und die <strong>Höhe</strong> der verwendeten Etiketten eingeben.<br>
Die genauen Maße sind beim Etikettenpapier angegeben. Die Seitenränder sowie die Maße des verwendeten Druckpapiers beachten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zeilen pro Seite</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Anzahl der Zeilen, die pro Seite erzeugt werden sollen, eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Spalten pro Seite</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Anzahl der Spalten, die pro Seite erzeugt werden sollen, eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Reihenfolge von Ort und Postleitzahl</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Reihenfolge im Dropdown-Menü wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ort und Land in Lieferanschrift in Großbuchstaben ausgeben</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, ob Ort und Land in der Lieferanschrift in Großbuchstaben ausgegeben werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Deutschland in Lieferanschrift ausgeben</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, ob Deutschland in der Lieferanschrift ausgegeben wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Weitere Optionen wie z.B. <strong>Lieferanschrift</strong>, <strong>Rechnungsanschrift</strong>, <strong>Name</strong> und <strong>Kunden-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlen für die Positionierung eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikelauflistung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Artikelauflistung bestimmt, wie die Artikeldaten auf dem Etikett angezeigt werden. Es gibt zwei Typen: <strong>Standard</strong> und <strong>Individuell</strong>. Eine Erläuterung zu diesen beiden Typen finden Sie im Kapitel <a href="/auftragsabwicklung/fulfillment/dokumente-erzeugen#600">Artikelauflistung</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Inhalt der Auftrags-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrags-ID des Hauptauftrages</strong> oder <strong>Auftrags-ID des Lieferauftrages</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Barcode horizontal</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Koordinaten zur Positionierung des Barcodes und Maße eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Infoleiste</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Infoleiste beinhaltet alle wichtigen Informationen. Diese Informationen werden in einer Zeile zusammengefasst, was wie folgt aussieht:<br>
RG:Rechnungs.NR / ZA: (Zahlungsart) / SU: Preissumme / Datum</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kundeneigenschaften</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Koordinaten zur Positionierung der Kundeneigenschaften eingeben. Die <a href="/crm/kundendaten-verwalten#400">Eigenschaft</a> aus dem Dropdown-Menü wählen. Auf den Adressetiketten wird der Text angezeigt, der im Menü <a href="/crm/kundendaten-verwalten#1500">CRM » Kunden bearbeiten » Kunde suchen » Kunde öffnen » Tab: Eigenschaften</a> gespeichert wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Freitextfelder 1 bis 10</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Freitextfelder ermöglichen das Anzeigen beliebiger Texte, die dort eingegeben wurden.<br>
<strong><em>Beispiel</em></strong>: Ein verbreitetes Anwendungsbeispiel ist das Hinterlegen des Absenders.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Bereits erstellte Vorlagen können Sie im Menü <strong>System » Aufträge » Dokumente » Adressetikett » Tab: Vorlagen</strong> im Dropdown-Menü <strong>Vorlage</strong> wählen und bearbeiten. Sie haben auch die Möglichkeit, eine Vorschau des Etiketts anzuzeigen und die Vorlage im Vorschaumodus direkt zu drucken. Wenn Sie die Vorlage löschen, wird auch die Verknüpfung der PDF-Vorlage gelöscht.</p>
</div>
<div class="paragraph">
<p>Der Bereich <strong>PDF-Vorlage</strong> wird erst nach dem Speichern einer Vorlage sichtbar und dient dazu, dem Dokument optional eine PDF-Vorlage zu hinterlegen. Wie Sie die PDF-Vorlage hinterlegen, wird im nächsten Kapitel beschrieben.</p>
</div>
</div>
<div class="sect2">
<h3 id="500">3.2. PDF-Vorlage hinterlegen</h3>
<div class="paragraph">
<p>Wenn Sie eine Adressetikettenvorlage erstellt haben, wird im Menü <strong>System » Aufträge » Dokumente » Adressetikett</strong> über dem Bereich <strong>Einstellungen</strong> der Bereich <strong>PDF-Vorlage</strong> sichtbar. Sie können dort pro Adressetikettenvorlage eine PDF-Vorlage hinterlegen, um z.B. Ihren Adressetiketten ein bestimmtes Layout zu hinterlegen.</p>
</div>
<div class="paragraph instruction">
<p>PDF-Vorlage hinterlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Aufträge » Dokumente » Adressetikett</strong>.</p>
</li>
<li>
<p>Wählen Sie die <strong>Vorlage</strong>.</p>
</li>
<li>
<p>Klicken Sie bei <strong>Upload</strong> auf <strong>Datei auswählen</strong>.</p>
</li>
<li>
<p>Wählen Sie die PDF-Datei von Ihrem Computer.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nach erneutem Öffnen der Adressetikettenvorlage ist unter <strong>Vorlage</strong> der Link <strong>Vorlage anzeigen</strong> sichtbar. Über diesen Link können Sie die PDF-Vorlage ansehen, die dieser Adressetikettenvorlage hinterlegt ist. Wenn Sie eine andere PDF-Vorlage hinterlegen möchten, laden Sie, wie zuvor beschrieben, eine neue PDF-Datei hoch. Die bestehende PDF-Vorlage wird dabei überschrieben.</p>
</div>
</div>
<div class="sect2">
<h3 id="600">3.3. Artikelauflistung</h3>
<div class="paragraph">
<p>Die Artikelauflistung bestimmt, wie die Artikeldaten auf dem Etikett angezeigt werden. Sie können zwischen den Typen <strong>Standard</strong> und <strong>Individuell</strong> wählen.</p>
</div>
<div class="paragraph subhead">
<p>Typ: Standard</p>
</div>
<div class="paragraph">
<p>Wenn Sie die Option <strong>Standard</strong> wählen, müssen Sie die Koordinaten der Artikelauflistung, die Schriftgröße und den Schriftschnitt eingeben. Sie bestimmen damit die Position der gesamten Artikelauflistung auf den Etiketten. Die einzelnen Textelemente, wie z.B. Artikel-ID bzw. Varianten-Nr., Name und Menge, werden im Gegensatz zur Option <strong>Individuell</strong> jedoch automatisch positioniert.</p>
</div>
<div class="paragraph subhead">
<p>Typ: Individuell</p>
</div>
<div class="paragraph">
<p>Wenn Sie die Option <strong>Individuell</strong> wählen, werden weitere Optionen eingeblendet, für die Sie individuell die Positionen auf dem Etikett einstellen können. Geben Sie die Koordinaten der Artikelauflistung, die Schriftgröße und den Schriftschnitt ein. Sie bestimmen damit die Position der gesamten Artikelauflistung auf den Etiketten. Entscheiden Sie außerdem, welche Textelemente, d.h. <strong>Menge</strong>, <strong>Name</strong>, <strong>Artikel-ID</strong> bzw. <strong>Varianten-Nr.</strong>, <strong>Gewicht (kg)</strong>, <strong>Wert</strong>, <strong>Zolltarifnummer</strong>, <strong>Herstellerland</strong>, <strong>Lagerort</strong> und <strong>Limit</strong> auf den Etiketten angezeigt werden sollen und positionieren Sie diese Elemente. Anhand der X-Koordinate, des Schriftschnitts und der Breite legen Sie fest, wie die einzelnen Elemente der Artikelauflistung aussehen sollen. Die Option <strong>Breite</strong> legt fest, bis zu welcher Textbreite (in mm) jede der Optionen angezeigt werden soll.</p>
</div>
</div>
<div class="sect2">
<h3 id="700">3.4. Adressetikett erzeugen</h3>
<div class="paragraph">
<p>Nachdem Sie eine Vorlage für das Adressetikett erstellt und gespeichert haben, drucken Sie das Etikett über das Menü <strong>Aufträge » Fulfillment » Adressetiketten</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Adressetikett erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Fulfillment</strong>.</p>
</li>
<li>
<p>Klappen Sie den Bereich <strong>Adressetiketten</strong> auf.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 4.</p>
</li>
<li>
<p>Klicken Sie auf das Zahnrad.<br>
→ Das Adressetikett wird in einem separaten Fenster geöffnet und kann dann gedruckt werden.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 4. Einstellungen im Menü <strong>Aufträge » Fulfillment » Bereich:&nbsp;Adressetiketten</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Suchfilter</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Etiketten-Vorlage</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Vorlage aus dem Dropdown-Menü wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsstatus</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Status wählen, in dem sich die Aufträge befinden, für die Adressetiketten gedruckt werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrags-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine oder mehrere Auftrags-IDs eingeben. Adressetiketten werden dann ausschließlich für die eingegebenen Aufträge generiert. Mehrere IDs kommagetrennt eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kunden-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine oder mehrere Kunden-IDs eingeben. Adressetiketten werden dann ausschließlich für die eingegebenen Kunden generiert. Mehrere IDs kommagetrennt eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine oder mehrere Artikel-IDs eingeben. Adressetiketten werden dann ausschließlich für die eingegebenen Artikel generiert. Mehrere IDs kommagetrennt eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Typ</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Typ aus dem Dropdown-Menü wählen. Option <strong>Auftrag</strong> wählen, um Adressetiketten nur für Aufträge zu generieren. Option <strong>ALLE</strong> wählen, um Adressetiketten für alle Auftragstypen, wie z.B. auch Gutschriften und Retouren, zu generieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versanddienstleister</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Versanddienstleister aus dem Dropdown-Menü wählen, um Adressetiketten nur für einen Versanddienstleister zu generieren. Option <strong>ALLE</strong> wählen, um Adressetiketten für alle Versanddienslteister zu generieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mandant (Shop)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mandant (Shop) aus dem Dropdown-Menü wählen, um Adressetiketten nur für einen Mandaten zu generieren. Option <strong>ALLE</strong> wählen, um Adressetiketten für alle Mandanten zu generieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lager</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Lager aus dem Dropdown-Menü wählen, um Adressetiketten nur für ein Lager zu generieren. Option <strong>ALLE</strong> wählen, um Adressetiketten für alle Lager zu generieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>starten ab Zeile</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahl eingeben, ab welcher Zeile der Druck starten soll.<br>
Diese Option ist hilfreich, wenn Sie Etikettenpapier verwenden. Wenn Sie z.B. letzten Druckvorgang nur die ersten 3 Zeilen auf einer Seite Etikettenpapier benutzt haben, könnten Sie den nächsten Druckvorgang ab Zeile 4 starten. Somit können Sie noch die restlichen Etiketten auf der Seite verwenden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sortierung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, nach welchem Erkennungsmerkmal die erzeugten Adressetiketten sortiert werden sollen. Option <strong>KEINE</strong> wählen, wenn keine spezielle Sortierung gewünscht ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gruppierung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, nach welchem Kriterium die erzeugten Adressetiketten generiert und gruppiert werden sollen. Eine der folgenden Optionen wählen:<br>
<strong>Ein Etikett pro Auftrag</strong> = Wird das Adressetikett vom Auftrag aus generiert, wird nur ein Etikett für den gesamten Auftrag erzeugt.<br>
<strong>Ein Etikett pro Auftragsposition</strong> = Für jede Position im Auftrag wird im PDF ein Etikett erzeugt.<br>
<strong>Ein Etikett pro Artikel</strong> = Für jeden Artikel im Auftrag wird im PDF ein Etikett erzeugt.<br>
<strong>Ein Etikett pro Versandpaket</strong> = Für jedes Versandpaket wird im PDF ein Etikett erzeugt. Gemeint sind die <a href="/auftragsabwicklung/fulfillment/versand-vorbereiten#1900">Versandpakete</a> des Auftrags, wie diese im Versand-Center zu sehen sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Limit</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, wie viele Aufträge pro Durchgang bearbeitet werden sollen.<br>
Pro Durchgang kann höchstens das maximal einstellbare Limit an Aufträgen bearbeitet werden. Wenn die Anzahl der Aufträge, die bearbeitet werden sollen, größer ist als das höchste einstellbare Limit, muss der Prozess entsprechend oft wiederholt werden. In der Grundeinstellung ist in manchen der Untermenüs das geringste Limit eingestellt, um eine optimale Systemleistung zu gewährleisten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Aktion</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ändere Auftragsstatus</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Status wählen, der den Aufträgen nach erfolgreichem Rechnungsabruf zugewiesen werden soll.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Etikettendrucker verwenden</div>
<div class="paragraph">
<p>Die Verwendung von Etikettendruckern ist möglich. Dabei kommen meist Etikettenrollen zum Einsatz. Die dafür benötigten Etiketten können Sie im Menü <strong>System » Aufträge » Dokumente » Adressetikett</strong> erzeugen. Geben Sie <strong>1</strong> bei den Optionen <strong>Zeilen pro Seite</strong> und <strong>Spalten pro Seite</strong> ein. Dadurch erhalten Sie pro PDF-Seite ein Etikett. Die Maße des Etiketts würden in dem Fall denen der Seite entsprechen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">4. Einlieferungsliste generieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Fulfillment » Bereich:&nbsp;Einlieferungsliste</strong> nehmen Sie Einstellungen vor, mit denen Sie definieren, welche Pakete sich auf der anschließend zu generierenden Einlieferungsliste befinden sollen. Durch Auswahl der Suchfilter können Sie z.B. eine Einlieferungsliste für alle Aufträge, die sich im <strong>Status [6] Gerade im Versand</strong> befinden, generieren.</p>
</div>
<div class="paragraph instruction">
<p>Einlieferungsliste generieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Fulfillment</strong>.</p>
</li>
<li>
<p>Klappen Sie den Bereich <strong>Einlieferungsliste</strong> auf.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen für die Suchfilter vor. Beachten Sie dazu die Erläuterungen in Tabelle 5.</p>
</li>
<li>
<p>Klicken Sie auf das Zahnrad, um die Einlieferungsliste zu generieren.<br>
→ Eine Datei mit den Daten, die den von Ihnen gewählten Suchkriterien entsprechen, wird generiert.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 5. Einstellungen im Menü <strong>Aufträge » Fulfillment » Bereich:&nbsp;Einlieferungsliste</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsstatus</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Status der zu suchenden Aufträge wählen. Nur Aufträge mit diesem Status werden in die Einlieferungsliste miteinbezogen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Eigner</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eigner der zu suchenden Aufträge oder die Option <strong>ALLE</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Warenausgang</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mit einem Klick in das Feld wird ein Kalender eingeblendet. Datum aus dem Kalender wählen oder Datum manuell eingeben, um die Aufträge der Einlieferungsliste einzugrenzen. Aufträge werden nur in die Einlieferungsliste miteinbezogen, wenn der Warenausgang an diesem Tag gebucht wurde. Wenn kein Datum gewählt bzw. eingegeben wird, wird nach Aufträgen, in denen kein Warenausgang gebucht wurde, gesucht.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versandart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Versanddienstleister der zu suchenden Aufträge oder die Option <strong>ALLE</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Listennummer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Nummer der Einlieferungsliste eingeben. Diese Zahl wird auf der generierten Einlieferungsliste angezeigt. Wenn die Einlieferungsliste zum ersten Mal generiert wird, steht standardmäßig die Zahl 1 in diesem Feld. Jedes Mal, wenn eine Einlieferungsliste generiert wird, erhöht sich dieser Wert automatisch um 1.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kundennummer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kundennummer eingeben. Diese Zahl wird auf der generierten Einlieferungsliste angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Titel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Titel für die Einlieferungsliste eingeben. Der Titel wird auf der generierten Einlieferungsliste angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name eingeben. Der Name sowie die Kontaktdaten (Anschrift, PLZ und Ort) werden auf der generierten Einlieferungsliste angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Anschrift</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eigene Anschrift eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PLZ / Ort</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>PLZ und Ort eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ausgabeformat</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, in welchem Format die Einlieferungsliste generiert werden soll. Zur Auswahl stehen <strong>PDF</strong> und <strong>CSV</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>