<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Versandauftrag suchen</span></a></li>
<li><a href="#200"><span>2.</span><span> Versandpaket im offenen Versandauftrag bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Versandpaket bearbeiten</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Versandpaket hinzufügen</span></a></li>
<li><a href="#500"><span>2.3.</span><span> Versandpaket entfernen</span></a></li>
</ul>
</li>
<li><a href="#600"><span>3.</span><span> Aufträge in Lieferaufträge splitten</span></a></li>
<li><a href="#700"><span>4.</span><span> Versandauftrag anmelden</span></a></li>
<li><a href="#800"><span>5.</span><span> Angemeldeten Versandauftrag bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>5.1.</span><span> Angemeldeten Auftrag anzeigen</span></a></li>
<li><a href="#1000"><span>5.2.</span><span> Paketnummer bearbeiten</span></a></li>
<li><a href="#1100"><span>5.3.</span><span> Versandauftrag stornieren</span></a></li>
<li><a href="#1200"><span>5.4.</span><span> Versandauftrag zurücksetzen</span></a></li>
<li><a href="#1300"><span>5.5.</span><span> Versandlabel drucken</span></a></li>
</ul>
</li>
<li><a href="#1400"><span>6.</span><span> Polling-Datei erzeugen</span></a></li>
<li><a href="#1500"><span>7.</span><span> Auftragszusammenfassung erzeugen</span></a></li>
<li><a href="#1600"><span>8.</span><span> Retourenetikett abrufen</span></a>
<ul class="sectlevel2">
<li><a href="#1700"><span>8.1.</span><span> Retourenetikett über Hauptauftrag abrufen</span></a></li>
<li><a href="#1800"><span>8.2.</span><span> Retourenetikett über Retoure abrufen</span></a></li>
</ul>
</li>
<li><a href="#1900"><span>9.</span><span> Label erzeugen</span></a></li>
<li><a href="#2000"><span>10.</span><span> Mögliche Fehlerquellen beim Anmelden des Versandauftrags</span></a>
<ul class="sectlevel2">
<li><a href="#2100"><span>10.1.</span><span> Zeichensatz</span></a></li>
<li><a href="#2200"><span>10.2.</span><span> Adresszusatz</span></a></li>
<li><a href="#2300"><span>10.3.</span><span> Versandprofil</span></a></li>
<li><a href="#2400"><span>10.4.</span><span> Versandpakete</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Versand-Center nutzen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Versand-Center</strong> steuern Sie alle Aktionen, die im Zusammenhang mit dem Versand Ihrer Artikel über die integrierten Versandschnittstellen stehen. Neben der Suche und Bearbeitung von Versandaufträgen haben Sie die Möglichkeit, Versandaufträge direkt bei einem Versanddienstleister <a href="/auftragsabwicklung/fulfillment/versand-center#700">anzumelden</a> oder eine <a href="/auftragsabwicklung/fulfillment/versand-center#1400">Polling-Datei</a> zu erzeugen, um diese einem Versanddienstleister zu übergeben. Je nach Versanddienstleister und Versanddienstleister-Software ist der eine oder andere Weg notwendig.</p>
</div>
<div class="paragraph">
<p>Außerdem erfahren Sie auf dieser Handbuchseite, wie Sie eine <a href="/auftragsabwicklung/fulfillment/versand-center#1500">Auftragszusammenfassung</a> der in plentymarkets <a href="/auftragsabwicklung/fulfillment/versand-vorbereiten#2500">eingerichteten Versanddienstleister</a> erzeugen, <a href="/auftragsabwicklung/fulfillment/versand-center#1600">Retouren anmelden</a> und <a href="/auftragsabwicklung/fulfillment/versand-center#1900">Labels erzeugen</a>.</p>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr über das Versand-Center am Beispiel des Versanddienstleisters DHL Intraship/Versenden im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/85427630" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Versandauftrag suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn Sie das Versand-Center öffnen, wird das Tab <strong>Suche</strong> automatisch geöffnet. Für die Suche von Versandaufträgen stehen Ihnen verschiedene Filter zur Verfügung, die im Folgenden beschrieben sind.</p>
</div>
<div class="paragraph instruction">
<p>Versandauftrag suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Wählen Sie die Filter. Beachten Sie dazu die Erläuterungen in Tabelle 1.</p>
</li>
<li>
<p>Klicken Sie auf die Lupe, um die Suche auszuführen.<br>
→ Die Ergebnisse werden anhand der gewählten Filter aufgelistet.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Filteroptionen zur Suche im Versand-Center</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftrags-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auftrags-ID eingeben, um Versandaufträge anhand der ID zu suchen. Mehrere IDs durch Komma getrennt eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kunden-ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kunden-ID eingeben, um Versandaufträge anhand der Kunden-ID zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versandstatus</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Versandstatus wählen, um nur Versandaufträge in diesem Status zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versanddienstleister</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Versanddienstleister wählen, um Versandaufträge dieses Dienstleisters zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versandprofil</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Versandprofil wählen, um nur Versandaufträge mit diesem Profil zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>pro Seite</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, wie viele gefundene Versandaufträge pro Seite angezeigt werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auftragsstatus</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auftragsstatus wählen, um nur Aufträge in diesem Status zu suchen.<br>
<strong><em>Hinweis</em></strong>: Wenn ein Benutzer mit der Benutzerklasse <strong>Variabel</strong> die Filteroption <strong>ALLE</strong> wählt, werden ihm trotzdem nur die Aufträge angezeigt, deren Status für ihn im Benutzerkonto als <strong>sichtbare Auftragsstatus</strong> ausgewählt sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Eigner</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eigner wählen, um nur Aufträge zu suchen, für die der Eigner verantwortlich ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mandant (Shop)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mandant (Shop) wählen, um nur die Versandaufträge eines Shops zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lager</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Lager wählen, um nur Versandaufträge dieses Lagers zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungsart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zahlungsart wählen, um nur Versandaufträge zu suchen, die mit dieser Zahlungsart bezahlt wurden.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Nachdem Sie die gesuchten Versandaufträge gefunden haben, können Sie diese bearbeiten oder beim Versanddienstleister anmelden. Wie Sie Versandaufträge bearbeiten, wird im Folgenden beschrieben. Wie Sie Versandaufträge anmelden, wird in den Kapiteln <a href="/auftragsabwicklung/fulfillment/versand-center#700">Versandauftrag anmelden</a> und <a href="/auftragsabwicklung/fulfillment/versand-center#1400">Polling-Datei erzeugen</a> auf dieser Handbuchseite beschrieben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Versandpaket im offenen Versandauftrag bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In einem offenen Versandauftrag können Sie Versandpakete bearbeiten, hinzufügen oder entfernen. Die Kundendaten des Empfängers bearbeiten Sie im Menü <a href="/crm/kundendaten-verwalten#1300">CRM » Kunden bearbeiten</a>. Wenn Sie im Versandauftrag auf die ID des Kunden klicken, wird der Kundendatensatz geöffnet.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Retourenetiketten im Versandauftrag</div>
<div class="paragraph">
<p>Im Tab <strong>Retourenetiketten</strong> eines Versandauftrages werden Retourenetiketten angezeigt und Aufträge des Typs Retoure mit den angemeldeten Retouren verknüpft. Eine Retoure wird im Normalfall erst nach dem Versand angelegt, weshalb bei einem offenen, nicht angemeldeten Auftrag das Tab leer ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="300">2.1. Versandpaket bearbeiten</h3>
<div class="paragraph">
<p>Gehen Sie wie im Folgenden beschrieben vor, um ein Versandpaket zu bearbeiten. Die Parameter, wie das Gewicht und Volumen, werden aus den Artikeldaten ermittelt. Prüfen Sie daher die Angaben der Versandpakete und nehmen Sie ggf. Korrekturen vor.</p>
</div>
<div class="paragraph instruction">
<p>Versandpaket bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Wählen Sie die Suchkriterien. Beachten Sie dazu die Informationen in Kapitel <a href="/auftragsabwicklung/fulfillment/versand-center#100">Versandauftrag suchen</a>.</p>
</li>
<li>
<p>Klicken Sie auf die Lupe.<br>
→ Die Versandaufträge, die mit den von Ihnen gewählten Suchkriterien übereinstimmen, werden angezeigt.</p>
</li>
<li>
<p>Klappen Sie den Versandauftrag auf.</p>
</li>
<li>
<p>Klicken Sie im Tab <strong>Versandpakete</strong> auf den Stift, um den Versandauftrag zu bearbeiten.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 2.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Versandpaket bearbeiten</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versandpaket</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Versandpaket wählen, um dem Versandauftrag eine Paketgröße zuzuordnen.<br>
Wenn noch keine Versandpakete im Menü <strong>Aufträge » Versand » Versandpakete</strong> angelegt sind, werden den Versandaufträgen Standardpakete zugeordnet.<br>
<strong><em>Wichtig</em></strong>: Die Anzahl der Versandpakete im Menü <strong>Aufträge » Aufträge bearbeiten » Auftrag öffnen » Tab: Einstellungen</strong> hat keinen Einfluss auf die hier hinterlegten Pakete und wird bei Änderungen nicht angepasst. Daher die Anzahl der Pakete ausschließlich im Versand-Center ändern.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gewicht</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Gewicht des Versandpakets eingeben.<br>
Wenn am Artikel ein Gewicht gespeichert ist, wird das Gewicht in den Versandauftrag übernommen. Wenn kein Gewicht am Artikel gespeichert ist, wird standardmäßig 100 g eingetragen. Wenn der Artikel aus mehreren Packstücken besteht, wird das Gewicht auf die Anzahl der Packstücke aufgeteilt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Packstückart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Packstückart nachträglich wählen.<br>
Wenn am Artikel eine Packstückart gespeichert ist, wird diese hier angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Volumen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Volumen nachträglich eingeben.<br>
Wenn am Artikel die Länge, Breite und Höhe gespeichert sind, wird das Volumen aus diesen Werten berechnet.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">2.2. Versandpaket hinzufügen</h3>
<div class="paragraph">
<p>Gehen Sie wie im Folgenden beschrieben vor, um ein Versandpaket hinzuzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Versandpaket hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Versand-Center » Tab: Suche</strong>.</p>
</li>
<li>
<p>Wählen Sie die Suchkriterien. Beachten Sie dazu die Informationen in Kapitel <a href="/auftragsabwicklung/fulfillment/versand-center#100">Versandauftrag suchen</a>.</p>
</li>
<li>
<p>Klicken Sie auf die Lupe.<br>
→ Die Versandaufträge, die mit den von Ihnen gewählten Suchkriterien übereinstimmen, werden angezeigt.</p>
</li>
<li>
<p>Klappen Sie den Versandauftrag auf.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Hinzufügen</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in Tabelle 2.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Das Versandpaket wird hinzugefügt und das Tab <strong>Versandpaket</strong> geöffnet.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="500">2.3. Versandpaket entfernen</h3>
<div class="paragraph">
<p>Gehen Sie wie im Folgenden beschrieben vor, um ein Versandpaket zu entfernen.</p>
</div>
<div class="paragraph instruction">
<p>Versandpaket entfernen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Versand-Center » Tab: Suche</strong>.</p>
</li>
<li>
<p>Wählen Sie die Suchkriterien. Beachten Sie dazu die Informationen in Kapitel <a href="/auftragsabwicklung/fulfillment/versand-center#100">Versandauftrag suchen</a>.</p>
</li>
<li>
<p>Klicken Sie auf die Lupe.<br>
→ Die Versandaufträge, die mit den von Ihnen gewählten Suchkriterien übereinstimmen, werden angezeigt.</p>
</li>
<li>
<p>Klappen Sie den Versandauftrag auf.</p>
</li>
<li>
<p>Klicken Sie im Tab <strong>Versandpakete</strong> auf <strong>Löschen</strong>.<br>
→  Das Versandpaket wird gelöscht.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">3. Aufträge in Lieferaufträge splitten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie haben die Möglichkeit festzulegen, nach welchen Kriterien Aufträge in Lieferaufträge gesplittet werden sollen. Zur Auswahl stehen die Optionen <strong>Lager</strong>, <strong>Versandprofil</strong>, <strong>Lager und Versandprofil</strong> und <strong>Lager- und Nettowarenbestand</strong>.</p>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr über Lieferaufträge im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/87113504" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="paragraph">
<p>Weitere Informationen finden Sie im Bereich <a href="/auftragsabwicklung/auftraege">Aufträge</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">4. Versandauftrag anmelden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Versand-Center » Tab: Anmelden</strong> melden Sie Ihre Aufträge bei einem Versanddienstleister an und übertragen diese gleichzeitig an den Dienstleister. Voraussetzung für die Anmeldung ist, dass Sie zuvor im Tab <strong>Suche</strong> <a href="/auftragsabwicklung/fulfillment/versand-center#100">Aufträge gesucht</a> haben, die jetzt hier angezeigt werden. Sie haben z.B. die Möglichkeit, mithilfe der Filtereinstellungen in der Suche des Versand-Centers nur Aufträge für einen oder für alle Versanddienstleister anzuzeigen. Bei der Anmeldung erhalten Sie sowohl im Erfolgsfall als auch im Fehlerfall eine Meldung vom Versanddienstleister.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Sendungsnummer zu Hermes (ProfiPaketService) übertragen</div>
<div class="paragraph">
<p>Wenn Sie Versandaufträge bei Hermes (ProfiPaketService) anmelden und die Sendungsnummern übertragen möchten, müssen Sie die Option <strong>Etiketten anfordern</strong> aktivieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Nachfolgend wird beispielhaft die Anmeldung von Aufträgen bei dem Versanddienstleister <strong>DHL Freight</strong> beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Versandauftrag bei DHL Freight anmelden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Wählen Sie aus dem Dropdown-Menü <strong>Versandstatus</strong> die Option <strong>offen</strong>.</p>
</li>
<li>
<p>Wählen Sie aus dem Dropdown-Menü <strong>Versanddienstleister</strong> die Option <strong>DHL</strong>.</p>
</li>
<li>
<p>Klicken Sie auf die Lupe.<br>
→ Die offenen Versandaufträge für DHL werden angezeigt.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Anmelden</strong>.</p>
</li>
<li>
<p>Wählen Sie aus dem Dropdown-Menü <strong>Versanddienstleister</strong> die Option <strong>DHL Freight</strong> aus.</p>
</li>
<li>
<p>Wählen Sie aus dem Dropdown-Menü <strong>Ändere Auftragsstatus</strong> den Auftragsstatus, den die Aufträge nach erfolgreicher Anmeldung erhalten sollen. <br>
→ Diese Funktion kann mit einer <a href="/basics/automatisierung/ereignisaktionen">Ereignisaktion</a>, die z.B. automatisch den Warenausgang bucht, kombiniert werden.</p>
</li>
<li>
<p>Aktivieren Sie die Aufträge, die Sie bei DHL Freight anmelden möchten.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Anmelden</strong>, um die Aufträge zu übertragen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mit der Option <strong>Alle auswählen</strong> werden alle Aufträge der aktuellen Seite ausgewählt.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zusatzoptionen bei manchen Versanddienstleistern verfügbar</div>
<div class="paragraph">
<p>Auf der rechten Seite im Tab <strong>Anmelden</strong> werden abhängig vom Dienstleister zusätzliche Optionen angezeigt. Die meisten Versanddienstleister haben keine Zusatzoptionen, daher bleibt die rechte Seite leer. Die Zusatzoptionen ermöglichen es, das Versandprofil für ausgewählte Aufträge nachträglich zu ändern sowie das Versanddatum vor- oder zurückzudatieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Beachten Sie auch das Kapitel <a href="/auftragsabwicklung/fulfillment/versand-center#2000">Mögliche Fehlerquellen beim Anmelden des Versandauftrags</a> auf dieser Handbuchseite.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="800">5. Angemeldeten Versandauftrag bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn Sie einen Versandauftrag bei einem Versanddienstleister anmelden, wird der jeweilige Versanddienstleister in Klammern hinter dem Versandstatus <strong>angemeldet</strong> eingetragen, z.B. <strong>angemeldet (DHL Intraship/Versenden)</strong>.</p>
</div>
<div class="paragraph">
<p>Angemeldete Versandaufträge erhalten eine Paketnummer sowie meist eine Transaktionsnummer des Versanddienstleisters. Außerdem steht eine Datei mit dem Versandlabel zur Verfügung, sodass Sie das Label drucken können. Die Versandkosten werden ebenfalls angezeigt, wenn der Versanddienstleister diese Funktion unterstützt. Einige Bearbeitungsmöglichkeiten werden je nach Versanddienstleister angezeigt, z.B. die Tabs <strong>Stornierung</strong> und <strong>Zurücksetzen</strong> bei DHL Intraship/Versenden. Es können auch andere oder weitere Tabs angezeigt werden.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Versandauftrag stornieren vs. Versandauftrag zurücksetzen</div>
<div class="paragraph">
<p>Wenn Sie einen Versandauftrag stornieren, wird die Anmeldung in plentymarkets und auch beim Versanddienstleister zurückgenommen, sodass der Auftrag nicht abgeholt wird.</p>
</div>
<div class="paragraph">
<p>Wenn Sie einen Auftrag zurücksetzen, ist er in plentymarkets wieder als offener Auftrag verfügbar, aber beim Versanddienstleister weiterhin angemeldet und wird berechnet. Die Funktion <strong>Zurücksetzen</strong> setzt lediglich die Anmeldungen zurück. Der Versandauftrag wird dabei nicht beim Dienstleister storniert. Daher sollten Sie den Auftrag generell stornieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="900">5.1. Angemeldeten Auftrag anzeigen</h3>
<div class="paragraph">
<p>Im Folgenden wird beschrieben, wie Sie z.B. beim Dienstleister DHL Intraship/Versenden angemeldete Aufträge anzeigen.</p>
</div>
<div class="paragraph instruction">
<p>Angemeldeten Auftrag anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Versand-Center » Tab: Suche</strong>.</p>
</li>
<li>
<p>Wählen Sie aus dem Dropdown-Menü <strong>Versandstatus</strong> die Option <strong>angemeldet DHL Intraship/Versenden</strong>.</p>
</li>
<li>
<p>Klicken Sie auf die Lupe.<br>
→ Die bei DHL Intraship/Versenden angemeldeten Aufträge werden angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1000">5.2. Paketnummer bearbeiten</h3>
<div class="paragraph">
<p>Im Folgenden wird beschrieben, wie Sie die Paketnummer bearbeiten, wenn Sie den angemeldeten Auftrag bereits gefunden haben.</p>
</div>
<div class="paragraph instruction">
<p>Paketnummer bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klappen Sie im Menü <strong>Aufträge » Versand-Center » Tab: Suche</strong> den angemeldeten Auftrag auf. Wie Sie den angemeldeten Auftrag anzeigen, ist im Kapitel <a href="/auftragsabwicklung/fulfillment/versand-center#900">Angemeldeten Auftrag anzeigen</a> beschrieben.</p>
</li>
<li>
<p>Klicken Sie auf den Stift im Tab <strong>Versandpakete</strong>.<br>
→ Die Paketnummer wird geöffnet.</p>
</li>
<li>
<p>Geben Sie eine andere Paketnummer ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Informationen zum Import von Paketnummern finden Sie im Kapitel <a href="/auftragsabwicklung/fulfillment/dokumente-erzeugen#800">Paketnummern importieren</a> auf der Handbuchseite <a href="/auftragsabwicklung/fulfillment/dokumente-erzeugen">Dokumente erzeugen</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="1100">5.3. Versandauftrag stornieren</h3>
<div class="paragraph">
<p>Wenn sich etwas an der Sendung geändert hat, z.B. ein Artikel hinzugefügt oder entnommen wurde, stornieren Sie den Versandauftrag. Der Auftrag kann danach erneut zum Versand angemeldet werden.</p>
</div>
<div class="paragraph instruction">
<p>Versandauftrag stornieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Suchen Sie den angemeldeten Versandauftrag.</p>
</li>
<li>
<p>Klappen Sie den angemeldeten Versandauftrag auf.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Stornierung</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Versand stornieren</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1200">5.4. Versandauftrag zurücksetzen</h3>
<div class="paragraph">
<p>Die Funktion <strong>Zurücksetzen</strong> setzt lediglich die Anmeldung zurück. Der Versandauftrag wird dabei nicht beim Dienstleister storniert. Stornieren Sie deshalb den Auftrag, wie im vorigen Kapitel beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Versandauftrag zurücksetzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Suchen Sie den Versandauftrag.</p>
</li>
<li>
<p>Klappen Sie den Versandauftrag auf.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Zurücksetzen</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Versand zurücksetzen</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1300">5.5. Versandlabel drucken</h3>
<div class="paragraph">
<p>Das Versandlabel steht Ihnen im Menü <strong>Aufträge » Versand-Center</strong> im angemeldeten Versandauftrag zur Verfügung. Außerdem haben Sie im Versand-Center im Tab <a href="/auftragsabwicklung/fulfillment/versand-center#1900">Label</a> die Möglichkeit, die komplette Label-Anzahl sämtlicher Versandaufträge eines Dienstleisters in einer PDF-Datei zu generieren und auszudrucken.</p>
</div>
<div class="paragraph instruction">
<p>Versandlabel im Versandauftrag drucken:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Versand-Center » Tab: Suche</strong>.</p>
</li>
<li>
<p>Wählen Sie die Suchkriterien. Beachten Sie dazu die Informationen in Kapitel <a href="/auftragsabwicklung/fulfillment/versand-center#100">Versandauftrag suchen</a>.</p>
</li>
<li>
<p>Klicken Sie auf die Lupe.</p>
</li>
<li>
<p>Öffnen Sie den angemeldeten Versandauftrag.</p>
</li>
<li>
<p>Klicken Sie im Tab <strong>Übersicht</strong> auf das PDF-Symbol.<br>
→ Das Versandlabel wird in einem separaten Fenster geöffnet und kann dann gedruckt werden.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">6. Polling-Datei erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Versand-Center » Tab: Polling</strong> erzeugen Sie für die Software eines Versanddienstleisters eine Polling-Datei, die zuvor gewählte Aufträge enthält. Eine Polling-Datei wird benötigt, wenn keine direkte Schnittstelle zu der Software des Versanddienstleisters besteht und somit die Anmeldung des Versandauftrags nicht über das Tab <strong>Anmelden</strong> erfolgt. Die in plentymarkets erzeugte Polling-Datei ist im Regelfall eine CSV-Datei.</p>
</div>
<div class="paragraph instruction">
<p>Polling-Datei erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Wählen Sie die Suchkriterien für den Auftrag. Beachten Sie dazu die Informationen in Kapitel <a href="/auftragsabwicklung/fulfillment/versand-center#100">Versandauftrag suchen</a>.</p>
</li>
<li>
<p>Aktivieren Sie den Auftrag.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Polling</strong>.</p>
</li>
<li>
<p>Wählen Sie den <strong>Versanddienstleister</strong>.</p>
</li>
<li>
<p>Wählen Sie den <strong>Auftragsstatus</strong>, in den die Aufträge geändert werden sollen.</p>
</li>
<li>
<p>Aktivieren Sie die Aufträge, die über den gewählten Versanddienstleister verschickt werden sollen.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Anmelden</strong>, um die Polling-Datei zu erzeugen.<br>
→ Die Polling-Datei wird erzeugt. Speichern Sie diese auf Ihrem Computer.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">DHL Easylog Kopfzeile</div>
<div class="paragraph">
<p>Wenn der Versanddienstleister <strong>DHL Easylog</strong> gewählt ist, steht die Option <strong>Kopfzeile</strong> zur Verfügung. Mit dieser Option wählen Sie, ob die Kopfzeile in der CSV-Datei angezeigt werden soll. Weitere Informationen dazu finden Sie auf der Handbuchseite <a href="/auftragsabwicklung/fulfillment/versand-vorbereiten">Versand vorbereiten</a> im Kapitel <a href="/auftragsabwicklung/fulfillment/versand-vorbereiten#2700">DHL Easylog</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">7. Auftragszusammenfassung erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Versand-Center » Tab: Zusammenfassung</strong> erzeugen Sie eine Auftragszusammenfassung bzw. Tagesabschlussliste von in Ihrem plentymarkets System eingerichteten Versanddienstleistern.</p>
</div>
<div class="paragraph instruction">
<p>Auftragszusammenfassung erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Versand-Center » Tab: Zusammenfassung</strong>.</p>
</li>
<li>
<p>Wählen Sie den Versanddienstleister für die Zusammenfassung aus dem Dropdown-Menü.<br>
→ Falls vorhanden, werden weitere Optionen des Versanddienstleisters eingeblendet.</p>
</li>
<li>
<p>Nehmen Sie Einstellungen für die Optionen vor.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ausführen</strong>.<br>
→ Eine PDF-Datei wird erzeugt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Auftragszusammenfassung per dynamischem Datenexport exportieren</div>
<div class="paragraph">
<p>Als Alternative zur Auftragszusammenfassung eines Tages im Menü <strong>Aufträge » Versand-Center » Tab: Zusammenfassung</strong> können Sie einen <a href="/basics/datenaustausch/daten-exportieren">dynamischen Datenexport</a> durchführen. Nutzen Sie dazu das Datenformat <a href="/basics/datenaustausch/datenformate/order">Order</a> und filtern Sie nach Versanddienstleister und Datum. Mit dem Datenfeld <strong>PackageNo</strong> wird z.B. die Paketnummer exportiert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">8. Retourenetikett abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Versand-Center » Tab: Retoure</strong> melden Sie Retouren bei einem Versanddienstleister an. Nach dem Anmelden der Retoure sind die Etiketten als PDF-Dateien verfügbar. Sie melden eine Retoure entweder über den Hauptauftrag oder über die Retoure an.</p>
</div>
<div class="paragraph">
<p>Um Retourenetiketten abzurufen, melden Sie Retouren im Versand-Center bei einem Versanddienstleister an.</p>
</div>
<div class="sect2">
<h3 id="1700">8.1. Retourenetikett über Hauptauftrag abrufen</h3>
<div class="paragraph">
<p>Wie Sie ein Retourenetikett im Hauptauftrag abrufen, wird im Folgenden beschrieben. Je nachdem, ob Sie im Menü <strong>Aufträge</strong> bereits eine Retoure für den Auftrag angelegt haben oder nicht, erfolgt die Zuweisung eines Auftrags des Typs <strong>Retoure</strong> zur angemeldeten Retoure leicht unterschiedlich. Rufen Sie zunächst das Etikett ab und nehmen Sie anschließend die Zuordnung zum Auftrag des Typs <strong>Retoure</strong> vor.</p>
</div>
<div class="paragraph instruction">
<p>Retourenetikett über Hauptauftrag abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Versand-Center » Tab: Suche</strong>.</p>
</li>
<li>
<p>Wählen Sie die Suchkriterien für den Auftrag. Beachten Sie dazu die Informationen in Kapitel <a href="/auftragsabwicklung/fulfillment/versand-center#100">Versandauftrag suchen</a>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Retoure</strong>.</p>
</li>
<li>
<p>Aktivieren Sie den Auftrag.</p>
</li>
<li>
<p>Wählen Sie den <strong>Retouren-Dienstleister</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Anmelden</strong>, um die Retoure anzumelden.<br>
→ Das Etikett ist über das PDF-Symbol als PDF-Datei verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn Sie bereits einen Retourenauftrag im Menü <strong>Aufträge</strong> angelegt haben, dann weisen Sie diese Retoure durch Wahl der <strong>Retouren-ID</strong> dem Etikett zu.</p>
</div>
<div class="paragraph">
<p>Wenn Sie noch keinen Retourenauftrag im Menü <strong>Aufträge</strong> angelegt haben, öffnen Sie den Hauptauftrag und legen eine Retoure an. Beim nachträglichen Anlegen eines Auftrags des Typs <strong>Retoure</strong> wird der Retourenauftrag im Versandauftrag automatisch dem Retourenetikett zugewiesen.</p>
</div>
</div>
<div class="sect2">
<h3 id="1800">8.2. Retourenetikett über Retoure abrufen</h3>
<div class="paragraph">
<p>Wenn Sie bereits eine Retoure im Menü <strong>Aufträge</strong> angelegt haben, kann das Retourenetikett auch direkt über die Retoure abgerufen werden. Dazu benötigen Sie die ID der Retoure, denn Retouren werden im Versand-Center nur bei Angabe der Retouren-ID gefunden.</p>
</div>
<div class="paragraph instruction">
<p>Retourenetikett über Retoure abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Versand-Center</strong>.<br>
→ Das Tab <strong>Suche</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie die ID der Retoure in den Suchfilter <strong>Auftrags-ID</strong> ein.</p>
</li>
<li>
<p>Klicken Sie auf die Lupe.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Retoure</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Retoure.</p>
</li>
<li>
<p>Wählen Sie den <strong>Retouren-Dienstleister</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Anmelden</strong>.</p>
</li>
<li>
<p>Klappen Sie den Versandauftrag auf.<br>
→ Das Etikett ist im Tab <strong>Retourenetiketten</strong> über das PDF-Symbol als PDF-Datei verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Etiketten können Sie dem Endkunden im Mein-Konto-Bereich des Webshops zum Download zur Verfügung stellen. Beachten Sie dazu auch das Kapitel <a href="/auftragsabwicklung/fulfillment/versand-vorbereiten#3200">DHL Retoure Online</a> auf der Handbuchseite <a href="/auftragsabwicklung/fulfillment/versand-vorbereiten">Versand vorbereiten</a>.</p>
</div>
<div class="paragraph">
<p>Bei Retouren, die Sie hier im Tab <strong>Retoure</strong> des <strong>Versand-Centers</strong> anmelden und dann das Retourenetikett erhalten, wurde das Paket schon ausgeliefert und der Kunde hat die Ware erhalten. Bei <a href="/auftragsabwicklung/fulfillment/versand-vorbereiten#3100">DHL Retoure Beileger</a> legen Sie Paketen schon vor der Lieferung an den Kunden Retourenetiketten bei. Diese Beilegeretiketten werden ebenfalls im Tab <strong>Retourenetiketten</strong> des Versandauftrages angezeigt.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1900">9. Label erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Versand-Center » Tab: Label</strong> haben Sie die Möglichkeit, für Ihre Versandaufträge Adressetiketten nach Versanddienstleister getrennt zu drucken. Diese werden in einer PDF-Datei zum Download zur Verfügung gestellt. Pro Versanddienstleister wird eine PDF-Datei erzeugt. Die PDF-Dateien können Sie jedoch alle in einem Arbeitsgang abrufen.</p>
</div>
<div class="paragraph instruction">
<p>Labels erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Aufträge » Versand-Center » Tab: Label</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das PDF-Symbol hinter dem Versanddienstleister. <br>
→ Die Labels werden zum Download hinzugefügt.</p>
</li>
<li>
<p>Kicken Sie auf <strong>Generieren</strong>.<br>
→ Sie erhalten die PDF-Dateien per Download und können die Labels drucken.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="2000">10. Mögliche Fehlerquellen beim Anmelden des Versandauftrags</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel werden mögliche Fehlerquellen genannt, durch die Daten zum Versanddienstleister nicht übertragen werden. Wenn ein Auftrag nicht angemeldet werden kann, wird eine Fehlermeldung angezeigt.</p>
</div>
<div class="paragraph">
<p>Beachten Sie bei der Fehlersuche auch das Menü <strong>Daten » API-Log » Tab: Versand-Center API-Log</strong>. Die darin verfügbaren Einträge bleiben 7 Tage lang gespeichert.</p>
</div>
<div class="sect2">
<h3 id="2100">10.1. Zeichensatz</h3>
<div class="paragraph">
<p>Einige Versandschnittstellen (APIs) erlauben nur lateinische Zeichensätze (ISO-8859-X) jedoch keinen Unicode, daher sollten Lieferanschriften keine Unicode-Zeichen enthalten. So sind mit DHL Intraship/Versenden z.B. keine Anmeldungen möglich, wenn die Anschrift in griechischen Buchstaben hinterlegt ist.</p>
</div>
</div>
<div class="sect2">
<h3 id="2200">10.2. Adresszusatz</h3>
<div class="paragraph">
<p>Manche Versanddienstleister verarbeiten die Angabe <strong>Adresszusatz</strong> aus der Lieferanschrift nicht. In seltenen Fällen kann deshalb eine Sendung nicht zugestellt werden.<br>
Zu folgenden Versanddienstleistern wird derzeit der Adresszusatz nicht übermittelt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>DHL Freight</p>
</li>
<li>
<p>DHL Supply Chain</p>
</li>
<li>
<p>Swiss Post</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Achten Sie darauf, ob der Adresszusatz korrekt zu Ihrem Versanddienstleister übertragen wird. Wenn der Adresszusatz nicht übertragen wird, passen Sie Ihr Webshop-Design so an, dass in Abhängigkeit des gewählten Versanddienstleisters der Adresszusatz im Webshop ein- oder ausgeblendet oder ein Hinweis für den Kunden eingeblendet wird.</p>
</div>
</div>
<div class="sect2">
<h3 id="2300">10.3. Versandprofil</h3>
<div class="paragraph">
<p>Fehlermeldung: Code 1: Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Es wurde ein ungültiger Parameterwert übergeben: DHLFreightDataSet_ShippingInformation.</p>
</div>
<div class="paragraph">
<p>Lösung: Fehlerhafte Konfiguration des Versandprofils oder es wurde ein nicht dazu passender Versanddienstleister gewählt.</p>
</div>
</div>
<div class="sect2">
<h3 id="2400">10.4. Versandpakete</h3>
<div class="paragraph">
<p>Es ist nicht möglich, Pakete im Auftrag im Tab <a href="/auftragsabwicklung/auftraege/auftraege-verwalten#auftrag-aendern-40">Einstellungen</a> hinzuzufügen. Wenn Sie weitere Pakete zu einen Auftrag hinzufügen oder die Anzahl ändern möchten, öffnen Sie den Auftrag im Versand-Center und bearbeiten Sie diesen im Tab <a href="/auftragsabwicklung/fulfillment/versand-center#400">Hinzufügen</a>.</p>
</div>
</div>
</div>
</div>
</main>