<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Checkout</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Funktionen und Variablen zur Gestaltung des Bestellvorgangs, wie Warenkorb, Rechnungsanschrift oder die Auswahl der Zahlungsart, findest du in diesem Bereich.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_globale_template_funktionen">Globale Template-Funktionen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-basketitempriceselect">BasketItemPriceSelect</a> — Liefert die Auswahl von Preissets eines Artikels im Warenkorb.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-basketitempriceselectname">BasketItemPriceSelectName</a> — Liefert den Formularnamen für die Auswahl von Preissets eines Artikels im Warenkorb.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-basketitemquantityinput">BasketItemQuantityInput</a> — Liefert das Formular-Eingabefeld für die Anzahl eines Artikels im Warenkorb.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-basketitemquantityinputname">BasketItemQuantityInputName</a> — Liefert den Namen des Formular-Eingabefelds für die Anzahl eines Artikels im Warenkorb.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-basketproceedorderbutton">BasketProceedOrderButton</a> — Liefert eine Schaltfläche, die zur Bestellübersicht weiterleitet, nachdem ein Artikel in den Warenkorb gelegt wurde.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-basketproceedshoppingbutton">BasketProceedShoppingButton</a> — Liefert eine Schaltfläche, über die man zur Seite des Artikels zurückgelangt, nachdem ein Artikel in den Warenkorb gelegt wurde.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-buttonbasketsave">ButtonBasketSave</a> — Liefert eine Schaltfläche zum Speichern von Änderungen im Warenkorb.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkoutagerestrictioncheckbox">CheckoutAgeRestrictionCheckbox</a> — Liefert die Checkbox, über die das Alter bestätigt wird.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkoutamazonpaymentsadvancedbutton">CheckoutAmazonPaymentsAdvancedButton</a> — Liefert die Schaltfläche für Amazon Payments Advanced.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkoutamazonpaymentsadvancedreadaddress">CheckoutAmazonPaymentsAdvancedReadAddress</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkoutamazonpaymentsadvancedreadwallet">CheckoutAmazonPaymentsAdvancedReadWallet</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkoutamazonpaymentsbutton">CheckoutAmazonPaymentsButton</a> — Liefert die Schaltfläche für Amazon Payments.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkoutattributeselection">CheckoutAttributeSelection</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkoutformsavebutton">CheckoutFormSaveButton</a> — Liefert eine Schaltfläche zum Speichern eines Formulars innerhalb des Bestellvorgangs.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkoutklarnatermsandconditionscheckbox">CheckoutKlarnaTermsAndConditionsCheckbox</a> — Liefert eine Checkbox, über die die Allgemeinen Geschäftsbedingungen von Klarna akzeptiert werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkoutnewslettercheckbox">CheckoutNewsletterCheckbox</a> — Liefert eine Checkbox, über die ein Newsletter abonniert werden kann.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkoutnextordersteporderbutton">CheckoutNextOrderStepOrderButton</a> — Liefert eine Schaltfläche, der im Bestellvorgang zum nächsten Schritt weiterleitet.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkoutpaypalexpressbutton">CheckoutPayPalExpressButton</a> — Liefert eine Schaltfläche für den PayPal Express Checkout.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkoutpayonedirectdebitmandatecheckbox">CheckoutPayoneDirectDebitMandateCheckbox</a> — Liefert eine Checkbox, über die der Lastschriftauftrag von PAYONE akzeptiert werden kann.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkoutpayoneinvoicecheckbox">CheckoutPayoneInvoiceCheckbox</a> — Liefert eine Checkbox, über die die PAYONE-Bonitätsprüfung über Klarna akzeptiert werden kann.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkoutpostpaybutton">CheckoutPostPayButton</a> — Liefert eine Schaltfläche für den externen Checkout über POSTPAY.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkoutpreviousordersteporderbutton">CheckoutPreviousOrderStepOrderButton</a> — Liefert eine Schaltfläche, über den man im Bestellvorgang einen Schritt zurückgeleitet wird.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkoutprivacypolicycheckbox">CheckoutPrivacyPolicyCheckbox</a> — Liefert eine Checkbox, über die die Datenschutzbestimmungen akzeptiert werden können.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkoutsteppageid">CheckoutStepPageID</a> — Liefert die ID der Kategorie für den übergebenen Schritt des Bestellvorgangs.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkouttermsandconditionscheckbox">CheckoutTermsAndConditionsCheckbox</a> — Liefert eine Checkbox, über die die Allgemeinen Geschäftsbedingungen akzeptiert werden können.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-checkoutwithdrawalcheckbox">CheckoutWithdrawalCheckbox</a> — Liefert eine Checkbox, über die die Widerrufsbelehrung akzeptiert werden kann.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutamazonpaymentsadvancedaddresswidget">Container_CheckoutAmazonPaymentsAdvancedAddressWidget</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutamazonpaymentsadvancedpaymentwidget">Container_CheckoutAmazonPaymentsAdvancedPaymentWidget</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutbasketitemslist">Container_CheckoutBasketItemsList</a> — Liefert den Inhalt der im Warenkorb befindlichen Artikelliste. Der Inhalt wird im Template CheckoutBasketItemsList definiert.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutcoupon">Container_CheckoutCoupon</a> — Liefert den Inhalt des Gutschein-Containers. Der Inhalt wird im Template CheckoutCoupon definiert.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutcrefopay">Container_CheckoutCrefoPay</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutcustomerinvoiceaddress">Container_CheckoutCustomerInvoiceAddress</a> — Liefert den Inhalt des Containers für die Rechnungsadresse. Der Inhalt wird im Template CheckoutCustomerInvoiceAddress definiert.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutcustomershippingaddress">Container_CheckoutCustomerShippingAddress</a> — Liefert den Inhalt des Containers für die Lieferadresse. Der Inhalt wird im Template CheckoutCustomerShippingAddress definiert.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutcustomershippingaddresslist">Container_CheckoutCustomerShippingAddressList</a> — Liefert den Inhalt des Containers für die Liste der Versandadressen. Der Inhalt wird im Template CheckoutCustomerInvoiceAddressList definiert.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutklarnacheckout">Container_CheckoutKlarnaCheckout</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutklarnapayment">Container_CheckoutKlarnaPayment</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutmethodsofpaymentlist">Container_CheckoutMethodsOfPaymentList</a> — Liefert den Inhalt des Containers für die Liste der Zahlungsarten. Der Inhalt wird im Template CheckoutMethodsOfPaymentList definiert.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutorderconfirmation">Container_CheckoutOrderConfirmation</a> — Liefert den Inhalt des Containers für die Bestellbestätigung. Der Inhalt wird im Template CheckoutOrderConfirmation definiert.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutorderparamslist">Container_CheckoutOrderParamsList</a> — Liefert den Inhalt des Containers für die Auswahl von Bestellmerkmalen.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutpaypalplus">Container_CheckoutPayPalPlus</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutpaymentinformationbankdetails">Container_CheckoutPaymentInformationBankDetails</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutpaymentinformationcreditcard">Container_CheckoutPaymentInformationCreditCard</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutpayone">Container_CheckoutPayone</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutscheduler">Container_CheckoutScheduler</a> — Liefert den Inhalt des Abonnement-Containers. Der Inhalt wird im Template CheckoutScheduler definiert.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutshippingcountrieslist">Container_CheckoutShippingCountriesList</a> — Liefert den Inhalt des Containers für die Liste der Lieferländer. Der Inhalt wird im Template CheckoutShippingCountriesList definiert.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkoutshippingprofileslist">Container_CheckoutShippingProfilesList</a> — Liefert den Inhalt des Containers für die Liste der Versandprofile. Der Inhalt wird im Template CheckoutShippingProfilesList definiert.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-container-checkouttotals">Container_CheckoutTotals</a> — Liefert den Inhalt des Containers für die Liste der Gesamtsummen. Der Inhalt wird im Template CheckoutTotals definiert.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-couponactiontypeinput">CouponActionTypeInput</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-couponcodeinput">CouponCodeInput</a> — Liefert das Formular-Eingabefeld für einen Gutschein.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddressadditional">CustomerInvoiceAddressAdditional</a> — Liefert das Formular-Eingabefeld für den Adresszusatz.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddressbirthday">CustomerInvoiceAddressBirthDay</a> — Liefert das Formular-Eingabefeld für den Geburtstag im Format "DD".</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddressbirthmonth">CustomerInvoiceAddressBirthMonth</a> — Liefert das Formular-Eingabefeld für den Geburtsmonat im Format "MM".</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddressbirthyear">CustomerInvoiceAddressBirthYear</a> — Liefert das Formular-Eingabefeld für das Geburtsjahr im Format "YYYY".</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddresscity">CustomerInvoiceAddressCity</a> — Liefert das Formular-Eingabefeld für den Ort.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddresscompany">CustomerInvoiceAddressCompany</a> — Liefert das Formular-Eingabefeld für den Firmennamen.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddresscountryselect">CustomerInvoiceAddressCountrySelect</a> — Liefert eine Auswahlmöglichkeit für das Lieferland.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddressemail">CustomerInvoiceAddressEmail</a> — Liefert das Formular-Eingabefeld für die E-Mail-Adresse.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddressemailrepeat">CustomerInvoiceAddressEmailRepeat</a> — Liefert das Formular-Eingabefeld für die Wiederholung der E-Mail-Adresse.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddressfaxnumber">CustomerInvoiceAddressFaxNumber</a> — Liefert das Formular-Eingabefeld für die Faxnummer.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddressfirstname">CustomerInvoiceAddressFirstName</a> — Liefert das Formular-Eingabefeld für den Vorname.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddressformofaddressselect">CustomerInvoiceAddressFormOfAddressSelect</a> — Liefert die Auswahlmöglichkeit für die Anrede.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddressguestaccount">CustomerInvoiceAddressGuestAccount</a> — Liefert ein Auswahlfeld, ob es sich um ein Gast-Konto handelt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddresshouseno">CustomerInvoiceAddressHouseNo</a> — Liefert das Formular-Eingabefeld für die Hausnummer.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddresslastname">CustomerInvoiceAddressLastName</a> — Liefert das Formular-Eingabefeld für den Nachname.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddressmobilenumber">CustomerInvoiceAddressMobileNumber</a> — Liefert das Formular-Eingabefeld für die Handynummer.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddresspassword">CustomerInvoiceAddressPassword</a> — Liefert das Formular-Eingabefeld für das Passwort.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddresspasswordrepeat">CustomerInvoiceAddressPasswordRepeat</a> — Liefert das Formular-Eingabefeld für die Wiederholung des Passworts.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddresspersonalid">CustomerInvoiceAddressPersonalID</a> — Liefert das Formular-Eingabefeld für die Personennummer.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddressphonenumber">CustomerInvoiceAddressPhoneNumber</a> — Liefert das Formular-Eingabefeld für die Telefonnummer.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddresspostident">CustomerInvoiceAddressPostIdent</a> — Liefert das Formular-Eingabefeld für die Postnummer.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddressregisteraccount">CustomerInvoiceAddressRegisterAccount</a> — Liefert ein Auswahlfeld, ob es sich um ein registriertes Konto handelt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddressstateselect">CustomerInvoiceAddressStateSelect</a> — Liefert die Auswahlmöglichkeit für das Bundesland.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddressstreet">CustomerInvoiceAddressStreet</a> — Liefert das Formular-Eingabefeld für die Straße.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddressvatnumber">CustomerInvoiceAddressVATNumber</a> — Liefert das Formular-Eingabefeld für die USt-IdNr.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customerinvoiceaddresszip">CustomerInvoiceAddressZIP</a> — Liefert das Formular-Eingabefeld für die Postleitzahl.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customershippingaddressadditional">CustomerShippingAddressAdditional</a> — Liefert das Formular-Eingabefeld für den Adresszusatz.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customershippingaddresscity">CustomerShippingAddressCity</a> — Liefert das Formular-Eingabefeld für den Ort.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customershippingaddresscompany">CustomerShippingAddressCompany</a> — Liefert das Formular-Eingabefeld für den Firmennamen.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customershippingaddresscountryselect">CustomerShippingAddressCountrySelect</a> — Liefert eine Auswahlmöglichkeit für das Lieferland.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customershippingaddressemail">CustomerShippingAddressEmail</a> — Liefert das Formular-Eingabefeld für die E-Mail-Adresse.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customershippingaddressfaxnumber">CustomerShippingAddressFaxNumber</a> — Liefert das Formular-Eingabefeld für die Faxnummer.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customershippingaddressfirstname">CustomerShippingAddressFirstName</a> — Liefert das Formular-Eingabefeld für den Vorname.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customershippingaddressformofaddressselect">CustomerShippingAddressFormOfAddressSelect</a> — Liefert die Auswahlmöglichkeit für die Anrede.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customershippingaddresshouseno">CustomerShippingAddressHouseNo</a> — Liefert das Formular-Eingabefeld für die Hausnummer.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customershippingaddresslastname">CustomerShippingAddressLastName</a> — Liefert das Formular-Eingabefeld für den Nachname.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customershippingaddressphonenumber">CustomerShippingAddressPhoneNumber</a> — Liefert das Formular-Eingabefeld für die Telefonnummer.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customershippingaddresspostident">CustomerShippingAddressPostIdent</a> — Liefert das Formular-Eingabefeld für die Postnummer.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customershippingaddressradio">CustomerShippingAddressRadio</a> — Liefert eine Optionsfeld zur Auswahl der Lieferadresse.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customershippingaddressstateselect">CustomerShippingAddressStateSelect</a> — Liefert die Auswahlmöglichkeit für das Bundesland.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customershippingaddressstreet">CustomerShippingAddressStreet</a> — Liefert das Formular-Eingabefeld für die Straße.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customershippingaddressvatnumber">CustomerShippingAddressVATNumber</a> — Liefert das Formular-Eingabefeld für die USt-IdNr.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-customershippingaddresszip">CustomerShippingAddressZIP</a> — Liefert das Formular-Eingabefeld für die Postleitzahl.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-formopencheckout">FormOpenCheckout</a> — Liefert ein Form-Element, dass zum Absenden von Daten aus dem Bestellvorgang genutzt werden kann.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-formatdecimalvalue">FormatDecimalValue</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-formatmonetaryvalue">FormatMonetaryValue</a> — Liefert einen formatierten Währungsbetrag.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutaddresssuggestionresultslist">GetCheckoutAddressSuggestionResultsList</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutbasketitemattributeslist">GetCheckoutBasketItemAttributesList</a> — Liefert eine Liste von Attributen, die zu einem Artikel gehören.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutbasketitemitemparamslist">GetCheckoutBasketItemItemParamsList</a> — Liefert eine Liste von Merkmalen, die zu einem Artikel gehören.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutbasketitemorderparamslist">GetCheckoutBasketItemOrderParamsList</a> — Liefert die aktuellen Bestellmerkmale eines Warenkorb-Artikels.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutbasketitempricesetlist">GetCheckoutBasketItemPriceSetList</a> — Liefert eine Liste von Preissets, die zu einem Artikel gehören.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutbasketitemslist">GetCheckoutBasketItemsList</a> — Liefert den Inhalt der im Warenkorb befindlichen Artikelliste.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutcoupon">GetCheckoutCoupon</a> — Liefert den Inhalt des Gutschein-Containers.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutcreditcardproviderlist">GetCheckoutCreditCardProviderList</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutcustomerinvoiceaddress">GetCheckoutCustomerInvoiceAddress</a> — Liefert ein Objekt mit den Daten der Rechnungsadresse.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutcustomerpropertiesinput">GetCheckoutCustomerPropertiesInput</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutcustomerpropertieslist">GetCheckoutCustomerPropertiesList</a> — Liefert ein Objekt mit den Daten der Kunden-Eigenschaften.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutcustomerpropertyvalueslist">GetCheckoutCustomerPropertyValuesList</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutcustomershippingaddress">GetCheckoutCustomerShippingAddress</a> — Liefert ein Objekt mit den Daten der Lieferadresse.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutcustomershippingaddresslist">GetCheckoutCustomerShippingAddressList</a> — Liefert ein Objekt mit der Liste der Versandadressen.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutmethodsofpaymentlist">GetCheckoutMethodsOfPaymentList</a> — Liefert ein Objekt mit den Daten die Zahlungsarten.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutorderconfirmation">GetCheckoutOrderConfirmation</a> — Liefert ein Objekt mit den Daten der Bestellbestätigung.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutorderconfirmationitemattributeslist">GetCheckoutOrderConfirmationItemAttributesList</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutorderconfirmationitemslist">GetCheckoutOrderConfirmationItemsList</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutorderparambasketitemslist">GetCheckoutOrderParamBasketItemsList</a> — Die Liste der einzelnen Artikelausführungen welche Bestellmerkmale benötigen.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutorderparamgroupslist">GetCheckoutOrderParamGroupsList</a> — Die Liste der benötigten Merkmal-Gruppen.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutorderparamvalueslist">GetCheckoutOrderParamValuesList</a> — Die Liste der benötigten Merkmale.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutpaymentinformationbankdetails">GetCheckoutPaymentInformationBankDetails</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutpaymentinformationcreditcard">GetCheckoutPaymentInformationCreditCard</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutscheduler">GetCheckoutScheduler</a> — Liefert den Inhalt des Abonnement-Containers.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutshippingaddresspostfinder">GetCheckoutShippingAddressPostfinder</a> — Liefert einen HTML-Container mit einer Liste von Packstationen und Postfilialen.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutshippingaddresspostfinderlist">GetCheckoutShippingAddressPostfinderList</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutshippingcountrieslist">GetCheckoutShippingCountriesList</a> — Liefert eine Liste von Lieferländern.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutshippingcountriesstateslist">GetCheckoutShippingCountriesStatesList</a> — Liefert eine Liste von Bundesländern zu einem Land.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckoutshippingprofileslist">GetCheckoutShippingProfilesList</a> — Liefert eine Liste von Versandprofilen.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckouttotals">GetCheckoutTotals</a> — Liefert die Liste der Gesamtsummen des Warenkorbs.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckouttotalsmarkuplist">GetCheckoutTotalsMarkupList</a> — Liefert die Summen der Merkmal-Aufpreise im Warenkorb.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckouttotalsvatlist">GetCheckoutTotalsVatList</a> — Liefert die Liste der MwSt-Sätze und Beträge im Warenkorb.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getcheckouttrustedshopsbuyerprotectionitem">GetCheckoutTrustedShopsBuyerProtectionItem</a> — Liefert ein Objekt zur Darstellung des Trustes Shops Käuferschutz Excellence Artikels.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getexternalpaymentcancelbutton">GetExternalPaymentCancelButton</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getexternalpaymentproceedbutton">GetExternalPaymentProceedButton</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getiso2codebycountryid">GetISO2CodeByCountryID</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getiso3codebycountryid">GetISO3CodeByCountryID</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-getschedulerintervalrebateslist">GetSchedulerIntervalRebatesList</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-iseucountry">IsEUCountry</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-isexportdelivery">IsExportDelivery</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-isinvoiceaddressstatemandatory">IsInvoiceAddressStateMandatory</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-isshippingaddressstatemandatory">IsShippingAddressStateMandatory</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-link-methodofpaymentinfopage">Link_MethodOfPaymentInfoPage</a> — Liefert einen Link zur Info-Seite einer bestimmten Zahlungsart.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-link-setmethodofpayment">Link_SetMethodOfPayment</a> — Liefert einen Link zum Setzen der Zahlungsart.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-link-setshippingcountry">Link_SetShippingCountry</a> — Liefert einen Link zum Setzen des Lieferlandes.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-link-setshippingprofile">Link_SetShippingProfile</a> — Liefert einen Link zum Setzen der Versandprofils.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-methodofpaymentcustomerbirthdateinput">MethodOfPaymentCustomerBirthdateInput</a> — Liefert die Eingabemöglichkeit für das Geburtsdatum des Kunden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-methodofpaymentselect">MethodOfPaymentSelect</a> — Liefert eine Auswahlmöglichkeit der Zahlungsart.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-placeorderbutton">PlaceOrderButton</a> — Liefert eine Schaltfläche, über die die Bestellung abgeschlossen werden kann.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-postfinderbutton">PostfinderButton</a> — Liefert eine Schaltfläche zum Suchen von Packstationen und Postfilialen.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-savecheckoutcouponbutton">SaveCheckoutCouponButton</a> — Liefert eine Schaltfläche für die Auftragsübersicht, über die ein Gutscheincode eingelöst werden kann.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-savecheckoutschedulerbutton">SaveCheckoutSchedulerButton</a> — Liefert eine Schaltfläche für die Auftragsübersicht, über den ein Abonnement gespeichert werden kann.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-savecustomerinvoiceaddressbutton">SaveCustomerInvoiceAddressButton</a> — Liefert eine Schaltfläche für die Auftragsübersicht, über den die Rechnungsadresse gespeichert werden kann.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-savecustomershippingaddressbutton">SaveCustomerShippingAddressButton</a> — Liefert eine Schaltfläche für die Auftragsübersicht, über den die Versandadresse gespeichert werden kann.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-schedulerdateinput">SchedulerDateInput</a> — Liefert die Eingabemöglichkeit für das Hinterlegen eines Abonnement-Startdatums.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-schedulerintervalselect">SchedulerIntervalSelect</a> — Liefert die Eingabemöglichkeit für das Intervall eines Abonnements.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-schedulerrepeatingselect">SchedulerRepeatingSelect</a> — Liefert eine Auswahlmöglichkeit für die Wiederholungen eines Abonnement-Auftrags.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-shippingcountryselect">ShippingCountrySelect</a> — Liefert eine Auswahlmöglichkeit für das Lieferland.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-shippingprofileselect">ShippingProfileSelect</a> — Liefert die Auswahlmöglichkeit für ein Versandprofil.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-checkout-submitcustomershippingaddressbutton">SubmitCustomerShippingAddressButton</a> — Liefert eine Schaltfläche, über den die eingegebene Versandadresse gespeichert werden kann.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_globale_template_variablen">Globale Template-Variablen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>$CheckoutAgeRestrictionCheckboxName — Liefert den Name-Attribut-Wert für die Checkbox des Altersnachweises.</p>
</li>
<li>
<p>$CheckoutBasketIsNet — Gibt an, ob es sich bei den Artikelpreisen im Warenkorb um Netto-Preise handelt.</p>
</li>
<li>
<p>$CheckoutBasketIsTinyBasket — Gibt an, ob es sich um den verkürzten Bestellvorgang handelt, wenn der Auftrag von eBay kommt.</p>
</li>
<li>
<p>$CheckoutCurrentStep — Gibt die Nummer des aktuellen Bestellschrittes aus.</p>
</li>
<li>
<p>$CheckoutCustomerShippingAddressID — Gibt die ID der aktuellen Lieferadresse aus.</p>
</li>
<li>
<p>$CheckoutCustomerSign — Beinhaltet das Kundenzeichen.</p>
</li>
<li>
<p>$CheckoutCustomerSignInputName — Liefert den Name-Attribut-Wert für das Eingabefeld des Kundenzeichens.</p>
</li>
<li>
<p>$CheckoutKlarnaTermsAndConditionsCheckboxInfo</p>
</li>
<li>
<p>$CheckoutKlarnaTermsAndConditionsCheckboxName — Liefert den Name-Attribut-Wert für die Checkbox des der Klarna-AGB.</p>
</li>
<li>
<p>$CheckoutMethodOfPaymentAdditionalContent — Liefert Ausgaben, die zur aktuellen Zahlungsart gehören. Beispielsweise zusätzliche Eingabefelder, die direkt vom Zahlunsanbieter übermittelt werden.</p>
</li>
<li>
<p>$CheckoutMethodOfPaymentID — Beinhaltet die ID der Zahlungsmethode.</p>
</li>
<li>
<p>$CheckoutMethodOfPaymentRedirectURL — Liefert eine URL des aktuellen Zahlungsanbieters, wenn der Zahlungsanbieter eine Umleitung wünscht.</p>
</li>
<li>
<p>$CheckoutNewsletterCheckboxName — Liefert den Name-Attribut-Wert für die Checkbox der Newsletter-Registrierung.</p>
</li>
<li>
<p>$CheckoutOrderId</p>
</li>
<li>
<p>$CheckoutOrderInfoText — Beinhaltet die Angaben von zusätzlichen Kundenwünschen.</p>
</li>
<li>
<p>$CheckoutOrderInfoTextInputName — Liefert den Name-Attribut-Wert für das Eingabefeld von zusätzlichen Kundenwünschen.</p>
</li>
<li>
<p>$CheckoutPayoneDirectDebitMandateCheckboxInfo</p>
</li>
<li>
<p>$CheckoutPayoneDirectDebitMandateCheckboxName — Liefert den Name-Attribut-Wert für die Checkbox des Lastschriftauftrags von PAYONE.</p>
</li>
<li>
<p>$CheckoutPayoneInvoiceCheckboxInfo</p>
</li>
<li>
<p>$CheckoutPayoneInvoiceCheckboxName — Liefert den Name-Attribut-Wert für die Checkbox der PAYONE-Bonitätsprüfung über Klarna.</p>
</li>
<li>
<p>$CheckoutPrivacyPolicyCheckboxName — Liefert den Name-Attribut-Wert für die Checkbox des Lastschriftauftrags von PAYONE.</p>
</li>
<li>
<p>$CheckoutShippingCountryID — Liefert die ID des Lieferlandes</p>
</li>
<li>
<p>$CheckoutShippingProfileID — Liefert die ID der Versandadresse</p>
</li>
<li>
<p>$CheckoutTermsAndConditionsCheckboxName — Liefert den Name-Attribut-Wert für die Checkbox der Allgemeinen Geschäftsbedingungen.</p>
</li>
<li>
<p>$CheckoutWithdrawalCheckboxName — Liefert den Name-Attribut-Wert für die Checkbox des Widerrufsrechts.</p>
</li>
<li>
<p>$CouponCodeInputName — Liefert den Name-Attribut-Wert für das Eingabefeld des Gutschein-Codes.</p>
</li>
<li>
<p>$CustomerShippingAddressSelectName — Beinhaltet den Formularnamen für die Auswahl der Lieferadresse.</p>
</li>
<li>
<p>$FormClosePlaceOrder — Liefert ein schließendes Form-Element.</p>
</li>
<li>
<p>$FormOpenPlaceOrder — Liefert ein Form-Element, dass zum Absenden der Bestellung genutzt werden kann.</p>
</li>
<li>
<p>$IsCheckoutBasketFSK18</p>
</li>
<li>
<p>$IsCustomerWithOpenOrders</p>
</li>
<li>
<p>$MethodOfPaymentCustomerBirthdateInputName — Beinhaltet den Formularnamen für die Geburstdatum-Eingabe. Diese wird von gewissen Zahlungsarten benötigt.</p>
</li>
<li>
<p>$MethodOfPaymentSelectName — Beinhaltet den Formularnamen der Zahlungsartauswahl.</p>
</li>
<li>
<p>$MinimumOrderValue — Beinhaltet den Mindestbestellwert des aktuellen Mandanten.</p>
</li>
<li>
<p>$ORDER_PARAMS_GROUP_TYPE_DEFAULT — Art der Merkmalgruppe ohne Gruppierung der untergeordneten Merkmale.</p>
</li>
<li>
<p>$ORDER_PARAMS_GROUP_TYPE_MULTI — Art der Merkmalgruppe mit Gruppierung der untergeordneten Merkmale für eine Mehrfachauswahl.</p>
</li>
<li>
<p>$ORDER_PARAMS_GROUP_TYPE_NONE — Diese Art enthällt Merkmale die keiner Merkmalgruppe zugeordnet sind.</p>
</li>
<li>
<p>$ORDER_PARAMS_GROUP_TYPE_SINGLE — Art der Merkmalgruppe mit Gruppierung der untergeordneten Merkmale für eine Einfachauswahl.</p>
</li>
<li>
<p>$ORDER_PARAMS_VALUE_TYPE_EMPTY — Merkmaltyp "kein". Bestellmerkmale mit diesem Typ, sollten als Checkbox abgebildet werden.</p>
</li>
<li>
<p>$ORDER_PARAMS_VALUE_TYPE_FILE — Merkmaltyp "Datei".</p>
</li>
<li>
<p>$ORDER_PARAMS_VALUE_TYPE_FLOAT — Merkmaltyp "Kommazahl".</p>
</li>
<li>
<p>$ORDER_PARAMS_VALUE_TYPE_INT — Merkmaltyp "ganze Zahl".</p>
</li>
<li>
<p>$ORDER_PARAMS_VALUE_TYPE_SELECTION — Merkmaltyp "Auswahl".</p>
</li>
<li>
<p>$ORDER_PARAMS_VALUE_TYPE_TEXT — Merkmaltyp "Text".</p>
</li>
<li>
<p>$SchedulerDateInputName — Beinhaltet den Formularnamen des Abo-Auftrags.</p>
</li>
<li>
<p>$SchedulerIntervalSelectName — Beinhaltet den Formularnamen der Interval-Auswahl.</p>
</li>
<li>
<p>$SchedulerRepeatingSelectName — Beinhaltet den Formularnamen für die Auswahl der Anzahl von Wiederholdungen.</p>
</li>
<li>
<p>$ShippingCountrySelectName — Beinhaltet den Formularnamen der Lieferlandauswahl.</p>
</li>
<li>
<p>$ShippingProfileSelectName — Beinhaltet den Formularnamen der Versandprofilauswahl.</p>
</li>
<li>
<p>$TrustedShopsBuyerProtectionCheckboxName — Beinhaltet den Formularnamen für die Aktivierung des Trustedshops Käuferschutzes.</p>
</li>
</ul>
</div>
</div>
</div>
</main>