<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>ItemView</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Funktionen und Variablen zur Gestaltung von Artikeldarstellungen, z.B. Listen, Produktseiten oder die Artikelsuche, findest du in diesem Bereich.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_globale_template_funktionen">Globale Template-Funktionen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-formitemfeedback">Container_FormItemFeedback</a> — Gibt das Template FormItemFeedback aus. Mit diesem Template wird ein Formular dargestellt, über das Kunden Artikel bewerten können.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewadvancedorderitemslist">Container_ItemViewAdvancedOrderItemsList</a> — Gibt das Template ItemViewAdvancedOrderItemsList aus. Mit diesem Template wird eine Liste vorbestellter Artikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewadvancedorderitemslist2">Container_ItemViewAdvancedOrderItemsList2</a> — Gibt das Template ItemViewAdvancedOrderItemsList2 aus. Mit diesem Template wird eine Liste vorbestellter Artikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewadvancedorderitemslist3">Container_ItemViewAdvancedOrderItemsList3</a> — Gibt das Template ItemViewAdvancedOrderItemsList3 aus. Mit diesem Template wird eine Liste vorbestellter Artikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewadvancedorderitemsmultipageslist">Container_ItemViewAdvancedOrderItemsMultiPagesList</a> — Gibt das Template ItemViewAdvancedOrderItemsMultiPagesList aus. Mit diesem Template wird eine mehrseitige Liste vorbestellter Artikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewbasketitemslist">Container_ItemViewBasketItemsList</a> — Gibt das Template ItemViewBasketItemsList aus. Mit diesem Template wird eine Liste der Warenkorbartikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewbasketitemslist2">Container_ItemViewBasketItemsList2</a> — Gibt das Template ItemViewBasketItemsList2 aus. Mit diesem Template wird eine Liste der Warenkorbartikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewbasketpreviewlist">Container_ItemViewBasketPreviewList</a> — Gibt das Template ItemViewBasketPreviewList aus. Mit diesem Template wird eine Vorschau der Warenkorbartikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcategorieslist">Container_ItemViewCategoriesList</a> — Gibt das Template ItemViewCategoriesList aus. Mit diesem Template werden Artikel einer Kategorie dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcategorieslist2">Container_ItemViewCategoriesList2</a> — Gibt das Template ItemViewCategoriesList2 aus. Mit diesem Template werden Artikel einer Kategorie dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcategorieslist3">Container_ItemViewCategoriesList3</a> — Gibt das Template ItemViewCategoriesList3 aus. Mit diesem Template werden Artikel einer Kategorie dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcategorieslist4">Container_ItemViewCategoriesList4</a> — Gibt das Template ItemViewCategoriesList4 aus. Mit diesem Template werden Artikel einer Kategorie dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcategorieslist5">Container_ItemViewCategoriesList5</a> — Gibt das Template ItemViewCategoriesList5 aus. Mit diesem Template werden Artikel einer Kategorie dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcategorieslist6">Container_ItemViewCategoriesList6</a> — Gibt das Template ItemViewCategoriesList6 aus. Mit diesem Template werden Artikel einer Kategorie dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcategorieslist7">Container_ItemViewCategoriesList7</a> — Gibt das Template ItemViewCategoriesList7 aus. Mit diesem Template werden Artikel einer Kategorie dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcategorieslist8">Container_ItemViewCategoriesList8</a> — Gibt das Template ItemViewCategoriesList8 aus. Mit diesem Template werden Artikel einer Kategorie dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcategorieslist9">Container_ItemViewCategoriesList9</a> — Gibt das Template ItemViewCategoriesList9 aus. Mit diesem Template werden Artikel einer Kategorie dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcategorieslist10">Container_ItemViewCategoriesList10</a> — Gibt das Template ItemViewCategoriesList10 aus. Mit diesem Template werden Artikel einer Kategorie dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcrosssellingitemslist">Container_ItemViewCrossSellingItemsList</a> — Gibt das Template ItemViewCrossSellingItemsList aus. Mit diesem Template wird eine Liste von Cross-Selling-Artikeln dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcrosssellingitemslist2">Container_ItemViewCrossSellingItemsList2</a> — Gibt das Template ItemViewCrossSellingItemsList2 aus. Mit diesem Template wird eine Liste von Cross-Selling-Artikeln dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewcrosssellingitemslist3">Container_ItemViewCrossSellingItemsList3</a> — Gibt das Template ItemViewCrossSellingItemsList3 aus. Mit diesem Template wird eine Liste von Cross-Selling-Artikeln dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewfurtheritemslist">Container_ItemViewFurtherItemsList</a> — Gibt das Template ItemViewFurtherItemsList aus. Dieses Template ermöglicht den Wechsel der Darstellung von Artikeln innerhalb einer Artikelliste, indem ein anderes Template darauf angewendet wird.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewfurtheritemslist2">Container_ItemViewFurtherItemsList2</a> — Gibt das Template ItemViewFurtherItemsList2 aus. Dieses Template ermöglicht den Wechsel der Darstellung von Artikeln innerhalb einer Artikelliste, indem ein anderes Template darauf angewendet wird.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewfurtheritemslist3">Container_ItemViewFurtherItemsList3</a> — Gibt das Template ItemViewFurtherItemsList3 aus. Dieses Template ermöglicht den Wechsel der Darstellung von Artikeln innerhalb einer Artikelliste, indem ein anderes Template darauf angewendet wird.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewfurtheritemslist4">Container_ItemViewFurtherItemsList4</a> — Gibt das Template ItemViewFurtherItemsList4 aus. Dieses Template ermöglicht den Wechsel der Darstellung von Artikeln innerhalb einer Artikelliste, indem ein anderes Template darauf angewendet wird.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewfurtheritemslist5">Container_ItemViewFurtherItemsList5</a> — Gibt das Template ItemViewFurtherItemsList5 aus. Dieses Template ermöglicht den Wechsel der Darstellung von Artikeln innerhalb einer Artikelliste, indem ein anderes Template darauf angewendet wird.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewfurtheritemslist6">Container_ItemViewFurtherItemsList6</a> — Gibt das Template ItemViewFurtherItemsList6 aus. Dieses Template ermöglicht den Wechsel der Darstellung von Artikeln innerhalb einer Artikelliste, indem ein anderes Template darauf angewendet wird.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewitemtobasketconfirmationoverlay">Container_ItemViewItemToBasketConfirmationOverlay</a> — Gibt das Template ItemViewItemToBasketConfirmationOverlay aus. Mit diesem Template wird ein Overlay dargestellt, über das bestätigt wird, dass der Artikel in den Warenkorb gelegt wurde.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewitemsbypositionlist">Container_ItemViewItemsByPositionList</a> — Gibt das Template ItemViewItemsByPositionList aus. Mit diesem Template wird eine Liste der absteigend nach Artikelposition sortierten Artikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewitemsbypositionlist2">Container_ItemViewItemsByPositionList2</a> — Gibt das Template ItemViewItemsByPositionList2 aus. Mit diesem Template wird eine Liste der absteigend nach Artikelposition sortierten Artikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewitemsbypositionmultipageslist">Container_ItemViewItemsByPositionMultiPagesList</a> — Gibt das Template ItemViewItemsByPositionMultiPagesList aus. Mit diesem Template wird eine mehrseitige Liste der absteigend nach Artikelposition sortierten Artikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewlastseenlist">Container_ItemViewLastSeenList</a> — Gibt das Template ItemViewLastSeenList aus. Mit diesem Template wird eine Liste der zuletzt angesehenen Artikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewlastseenlist2">Container_ItemViewLastSeenList2</a> — Gibt das Template ItemViewLastSeenList2 aus. Mit diesem Template wird eine Liste der zuletzt angesehenen Artikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewlatestitemslist">Container_ItemViewLatestItemsList</a> — Gibt das Template ItemViewLatestItemsList aus. Mit diesem Template wird eine Liste der neuesten Artikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewlatestitemslist2">Container_ItemViewLatestItemsList2</a> — Gibt das Template ItemViewLatestItemsList2 aus. Mit diesem Template wird eine Liste der neuesten Artikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewlatestitemslist2bydate">Container_ItemViewLatestItemsList2ByDate</a> — Gibt das Template ItemViewLatestItemsList2ByDate aus. Mit diesem Template wird eine Liste der neuesten Artikel nach Datum sortiert dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewlatestitemslist3">Container_ItemViewLatestItemsList3</a> — Gibt das Template ItemViewLatestItemsList3 aus. Mit diesem Template wird eine Liste der neuesten Artikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewlatestitemslist3bydate">Container_ItemViewLatestItemsList3ByDate</a> — Gibt das Template ItemViewLatestItemsList3ByDate aus. Mit diesem Template wird eine Liste der neuesten Artikel nach Datum sortiert dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewlatestitemslistbydate">Container_ItemViewLatestItemsListByDate</a> — Gibt das Template ItemViewLatestItemsListByDate aus. Mit diesem Template wird eine Liste der neuesten Artikel nach Datum sortiert dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewlatestitemsmultipageslist">Container_ItemViewLatestItemsMultiPagesList</a> — Gibt das Template ItemViewLatestItemsMultiPagesList aus. Mit diesem Template wird eine mehrseitige Liste der neuesten Artikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewlatestitemsmultipageslist2">Container_ItemViewLatestItemsMultiPagesList2</a> — Gibt das Template ItemViewLatestItemsMultiPagesList2 aus. Mit diesem Template wird eine mehrseitige Liste der neuesten Artikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewlatestitemsmultipageslist2bydate">Container_ItemViewLatestItemsMultiPagesList2ByDate</a> — Gibt das Template ItemViewLatestItemsMultiPagesList2ByDate aus. Mit diesem Template wird eine mehrseitige Liste der neuesten Artikel nach Datum sortiert dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewlatestitemsmultipageslistbydate">Container_ItemViewLatestItemsMultiPagesListByDate</a> — Gibt das Template ItemViewLatestItemsMultiPagesListByDate aus. Mit diesem Template wird eine mehrseitige Liste der neuesten Artikel nach Datum sortiert dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewliveshopping">Container_ItemViewLiveShopping</a> — Gibt das Template ItemViewLiveShopping aus. Mit diesem Template wird eine Live-Shopping-Ansicht dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewliveshopping2">Container_ItemViewLiveShopping2</a> — Gibt das Template ItemViewLiveShopping2 aus. Mit diesem Template wird eine Live-Shopping-Ansicht dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewmanualselectionlist">Container_ItemViewManualSelectionList</a> — Gibt das Template ItemViewManualSelectionList aus. Mit diesem Template wird eine Liste von manuell zusammengestellten Artikeln dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewmanualselectionlist2">Container_ItemViewManualSelectionList2</a> — Gibt das Template ItemViewManualSelectionList2 aus. Mit diesem Template wird eine Liste von manuell zusammengestellten Artikeln dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewmanualselectionlist3">Container_ItemViewManualSelectionList3</a> — Gibt das Template ItemViewManualSelectionList3 aus. Mit diesem Template wird eine Liste von manuell zusammengestellten Artikeln dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewmanualselectionlist4">Container_ItemViewManualSelectionList4</a> — Gibt das Template ItemViewManualSelectionList4 aus. Mit diesem Template wird eine Liste von manuell zusammengestellten Artikeln dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewmanualselectionlist5">Container_ItemViewManualSelectionList5</a> — Gibt das Template ItemViewManualSelectionList5 aus. Mit diesem Template wird eine Liste von manuell zusammengestellten Artikeln dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewmanualselectionlist6">Container_ItemViewManualSelectionList6</a> — Gibt das Template ItemViewManualSelectionList6 aus. Mit diesem Template wird eine Liste von manuell zusammengestellten Artikeln dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewrandomlist">Container_ItemViewRandomList</a> — Gibt das Template ItemViewRandomList aus. Mit diesem Template wird eine Liste zufälliger Artikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewsinglecrosssellingitem">Container_ItemViewSingleCrossSellingItem</a> — Gibt das Template ItemViewSingleCrossSellingItem aus. Mit diesem Template wird die Einzelartikelansicht eines Cross-Selling-Artikels dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewsingleitem">Container_ItemViewSingleItem</a> — Gibt das Template ItemViewSingleItem aus. Mit diesem Template wird Einzelartikelansicht dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewsingleitem2">Container_ItemViewSingleItem2</a> — Gibt das Template ItemViewSingleItem2 aus. Mit diesem Template wird Einzelartikelansicht dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewsingleitem3">Container_ItemViewSingleItem3</a> — Gibt das Template ItemViewSingleItem3 aus. Mit diesem Template wird Einzelartikelansicht dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewsingleitem4">Container_ItemViewSingleItem4</a> — Gibt das Template ItemViewSingleItem4 aus. Mit diesem Template wird Einzelartikelansicht dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewsingleitem5">Container_ItemViewSingleItem5</a> — Gibt das Template ItemViewSingleItem5 aus. Mit diesem Template wird Einzelartikelansicht dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewspecialofferslist">Container_ItemViewSpecialOffersList</a> — Gibt das Template ItemViewSpecialOffersList aus. Mit diesem Template wird eine Liste der Artikel im Angebot dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewspecialofferslist2">Container_ItemViewSpecialOffersList2</a> — Gibt das Template ItemViewSpecialOffersList2 aus. Mit diesem Template wird eine Liste der Artikel im Angebot dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewspecialoffersmultipageslist">Container_ItemViewSpecialOffersMultiPagesList</a> — Gibt das Template ItemViewSpecialOffersMultiPagesList aus. Mit diesem Template wird eine mehrseitige Liste der Artikel im Angebot dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewtopsellerslist">Container_ItemViewTopSellersList</a> — Gibt das Template ItemViewTopSellersList aus. Mit diesem Template wird eine Liste meistverkaufter Artikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewtopsellerslist2">Container_ItemViewTopSellersList2</a> — Gibt das Template ItemViewTopSellersList2 aus. Mit diesem Template wird eine Liste meistverkaufter Artikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewtopsellersmultipageslist">Container_ItemViewTopSellersMultiPagesList</a> — Gibt das Template ItemViewTopSellersMultiPagesList aus. Mit diesem Template wird eine mehrseitige Liste meistverkaufter Artikel dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-yoochoose-recommendations">Container_YOOCHOOSE_Recommendations</a> — Entspricht dem Template Container_ItemViewCrossSellingItemsList bzw. Container_ItemViewCrossSellingItemsList2, nutzt jedoch statt der Cross-Selling-Artikel die von YOOCHOOSE empfohlenen Artikel. Yoochoose muss im Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » YOOCHOOSE</strong> aktiviert werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getdeliverydate">GetDeliveryDate</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitempropertieslistbygroupid">GetItemPropertiesListByGroupId</a> — Liefert ein Array mit Datenfeldern für alle sich in einer Merkmalgruppe befindlichen Merkmale.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewadvancedorderitemslist">GetItemViewAdvancedOrderItemsList</a> — Liefert ein Array mit vorbestellbaren Artikeln zurück.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewadvancedorderitemslist2">GetItemViewAdvancedOrderItemsList2</a> — Liefert ein Array mit vorbestellbaren Artikeln zurück.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewadvancedorderitemslist3">GetItemViewAdvancedOrderItemsList3</a> — Liefert ein Array mit vorbestellbaren Artikeln zurück.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewadvancedorderitemsmultipageslist">GetItemViewAdvancedOrderItemsMultiPagesList</a> — Liefert ein Array mit vorbestellbaren Artikeln auf mehreren Seiten zurück. Optional kann die Anzahl der Artikel pro Seite eingeschränkt und die Darstellung auf Artikel der aktuellen Kategorie beschränkt werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewbasketitemslist">GetItemViewBasketItemsList</a> — Liefert ein Array mit den Artikeln im Warenkorb zurück.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewbasketitemslist2">GetItemViewBasketItemsList2</a> — Liefert ein Array mit den Artikeln im Warenkorb zurück.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewbasketpreviewlist">GetItemViewBasketPreviewList</a> — Liefert ein Array mit einer Vorschau der Artikel im Warenkorb zurück.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewcategorieslist">GetItemViewCategoriesList</a> — Liefert ein Array mit allen Artikeldaten zurück, die mit der aktuellen Kategorie verknüpft wurden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewcategorieslist2">GetItemViewCategoriesList2</a> — Liefert ein Array mit allen Artikeldaten zurück, die mit der aktuellen Kategorie verknüpft wurden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewcategorieslist3">GetItemViewCategoriesList3</a> — Liefert ein Array mit allen Artikeldaten zurück, die mit der aktuellen Kategorie verknüpft wurden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewcategorieslist4">GetItemViewCategoriesList4</a> — Liefert ein Array mit allen Artikeldaten zurück, die mit der aktuellen Kategorie verknüpft wurden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewcategorieslist5">GetItemViewCategoriesList5</a> — Liefert ein Array mit allen Artikeldaten zurück, die mit der aktuellen Kategorie verknüpft wurden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewcategorieslist6">GetItemViewCategoriesList6</a> — Liefert ein Array mit allen Artikeldaten zurück, die mit der aktuellen Kategorie verknüpft wurden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewcategorieslist7">GetItemViewCategoriesList7</a> — Liefert ein Array mit allen Artikeldaten zurück, die mit der aktuellen Kategorie verknüpft wurden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewcategorieslist8">GetItemViewCategoriesList8</a> — Liefert ein Array mit allen Artikeldaten zurück, die mit der aktuellen Kategorie verknüpft wurden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewcategorieslist9">GetItemViewCategoriesList9</a> — Liefert ein Array mit allen Artikeldaten zurück, die mit der aktuellen Kategorie verknüpft wurden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewcategorieslist10">GetItemViewCategoriesList10</a> — Liefert ein Array mit allen Artikeldaten zurück, die mit der aktuellen Kategorie verknüpft wurden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewcrosssellingitemslist">GetItemViewCrossSellingItemsList</a> — Liefert ein Array mit allen Artikeldaten zurück, die als Cross-Selling-Artikel definiert wurden. Je nach Übergabeparameter werden hier die Cross-Selling-Artikel des aktuellen Artikels (SingleItem), der zuletzt angesehenen Artikel (LastSeenItem) oder der Artikel im Warenkorb zurückgegeben.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewcrosssellingitemslist2">GetItemViewCrossSellingItemsList2</a> — Liefert ein Array mit allen Artikeldaten zurück, die als Cross-Selling-Artikel definiert wurden. Je nach Übergabeparameter werden hier die Cross-Selling-Artikel des aktuellen Artikels (SingleItem), der zuletzt angesehenen Artikel (LastSeenItem) oder der Artikel im Warenkorb zurückgegeben.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewcrosssellingitemslist3">GetItemViewCrossSellingItemsList3</a> — Liefert ein Array mit allen Artikeldaten zurück, die als Cross-Selling-Artikel definiert wurden. Je nach Übergabeparameter werden hier die Cross-Selling-Artikel des aktuellen Artikels (SingleItem), der zuletzt angesehenen Artikel (LastSeenItem) oder der Artikel im Warenkorb zurückgegeben.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewcrosssellingitemslistbycharacter">GetItemViewCrossSellingItemsListByCharacter</a> — Liefert ein Array mit Artikeln zurück, mit denen das übergegebene Merkmal verknüpft wurde. Die Artikel-ID und die Merkmal-ID müssen angegeben werden. Optional kann die Darstellung auf einen bestimmten Cross-Selling-Typ beschränkt werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewcrosssellingitemslistbytype">GetItemViewCrossSellingItemsListByType</a> — Liefert ein Array mit den Artikeln zurück, die als Cross-Selling-Artikel mit der übergegebenen Cross-Selling-Beziehung definiert wurden. Die Artikel-ID und der Cross-Selling-Typ müssen angegeben werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewitemparamslist">GetItemViewItemParamsList</a> — Liefert ein Array mit Merkmalen zurück, die zu einem Artikel gehören. Die Artikel-ID muss angegeben werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewitemsbypositionlist">GetItemViewItemsByPositionList</a> — Liefert ein Array mit nach Artikelposition sortierten Artikeln zurück.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewitemsbypositionlist2">GetItemViewItemsByPositionList2</a> — Liefert ein Array mit nach Artikelposition sortierten Artikeln zurück.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewitemsbypositionmultipageslist">GetItemViewItemsByPositionMultiPagesList</a> — Liefert ein Array mit nach Artikelposition sortierten Artikeln zurück. Die Liste wird auf mehreren Seiten dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewitemslistbycharacter">GetItemViewItemsListByCharacter</a> — Liefert ein Array mit Artikeln zurück, mit denen das übergegebene Merkmal verknüpft wurde.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewlastseenlist">GetItemViewLastSeenList</a> — Liefert ein Array mit den zuletzt angezeigten Artikeln zurück. Optional kann die Darstellung auf Artikel der aktuellen Kategorie beschränkt werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewlastseenlist2">GetItemViewLastSeenList2</a> — Liefert ein Array mit den zuletzt angezeigten Artikeln zurück. Optional kann die Darstellung auf Artikel der aktuellen Kategorie beschränkt werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewlatestitemslist">GetItemViewLatestItemsList</a> — Liefert ein Array mit den neuesten Artikeln zurück. Optional kann die Darstellung auf Artikel der aktuellen Kategorie beschränkt werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewlatestitemslist2">GetItemViewLatestItemsList2</a> — Liefert ein Array mit den neuesten Artikeln zurück. Optional kann die Darstellung auf Artikel der aktuellen Kategorie beschränkt werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewlatestitemslist2bydate">GetItemViewLatestItemsList2ByDate</a> — Liefert ein Array mit den neuesten Artikeln nach Datum sortiert zurück. Optional kann die Darstellung auf Artikel der aktuellen Kategorie beschränkt werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewlatestitemslist3">GetItemViewLatestItemsList3</a> — Liefert ein Array mit den neuesten Artikeln zurück. Optional kann die Darstellung auf Artikel der aktuellen Kategorie beschränkt werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewlatestitemslist3bydate">GetItemViewLatestItemsList3ByDate</a> — Liefert ein Array mit den neuesten Artikeln nach Datum sortiert zurück. Optional kann die Darstellung auf Artikel der aktuellen Kategorie beschränkt werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewlatestitemslistbydate">GetItemViewLatestItemsListByDate</a> — Liefert ein Array mit den neuesten Artikeln nach Datum sortiert zurück. Optional kann die Darstellung auf Artikel der aktuellen Kategorie beschränkt werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewlatestitemsmultipageslist">GetItemViewLatestItemsMultiPagesList</a> — Liefert ein Array mit den neuesten Artikeln auf mehreren Seiten zurück. Optional kann die Darstellung auf Artikel der aktuellen Kategorie beschränkt werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewlatestitemsmultipageslist2">GetItemViewLatestItemsMultiPagesList2</a> — Liefert ein Array mit den neuesten Artikeln auf mehreren Seiten zurück. Optional kann die Darstellung auf Artikel der aktuellen Kategorie beschränkt werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewlatestitemsmultipageslist2bydate">GetItemViewLatestItemsMultiPagesList2ByDate</a> — Liefert ein Array mit den neuesten Artikeln auf mehreren Seiten nach Datum sortiert zurück. Optional kann die Darstellung auf Artikel der aktuellen Kategorie beschränkt werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewlatestitemsmultipageslistbydate">GetItemViewLatestItemsMultiPagesListByDate</a> — Liefert ein Array mit den neuesten Artikeln auf mehreren Seiten nach Datum sortiert zurück.  Optional kann die Darstellung auf Artikel der aktuellen Kategorie beschränkt werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewmanualselectionlist">GetItemViewManualSelectionList</a> — Liefert ein Array mit manuell zusammengestellten Artikeln zurück.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewmanualselectionlist2">GetItemViewManualSelectionList2</a> — Liefert ein Array mit manuell zusammengestellten Artikeln zurück.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewmanualselectionlist3">GetItemViewManualSelectionList3</a> — Liefert ein Array mit manuell zusammengestellten Artikeln zurück.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewmanualselectionlist4">GetItemViewManualSelectionList4</a> — Liefert ein Array mit manuell zusammengestellten Artikeln zurück.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewmanualselectionlist5">GetItemViewManualSelectionList5</a> — Liefert ein Array mit manuell zusammengestellten Artikeln zurück.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewmanualselectionlist6">GetItemViewManualSelectionList6</a> — Liefert ein Array mit manuell zusammengestellten Artikeln zurück.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewrandomlist">GetItemViewRandomList</a> — Liefert ein Array mit zufällig ausgewählten Artikeln zurück.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewspecialofferslist">GetItemViewSpecialOffersList</a> — Liefert ein Array mit den Artikeln zurück, die als Angebotsartikel definiert wurden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewspecialofferslist2">GetItemViewSpecialOffersList2</a> — Liefert ein Array mit den Artikeln zurück, die als Angebotsartikel definiert wurden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewspecialoffersmultipageslist">GetItemViewSpecialOffersMultiPagesList</a> — Liefert ein Array mit den Artikeln zurück, die als Angebotsartikel definiert wurden. Die Liste wird auf mehreren Seiten dargestellt.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewtopsellerslist">GetItemViewTopSellersList</a> — Liefert ein Array mit den meistverkauften Artikeln zurück. Optional kann die Darstellung auf Artikel der aktuellen Kategorie beschränkt werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewtopsellerslist2">GetItemViewTopSellersList2</a> — Liefert ein Array mit den meistverkauften Artikeln zurück. Optional kann die Darstellung auf Artikel der aktuellen Kategorie beschränkt werden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-getitemviewtopsellersmultipageslist">GetItemViewTopSellersMultiPagesList</a> — Liefert ein Array mit den meistverkauften Artikeln zurück. Die Liste wird auf mehreren Seiten dargestellt. Optional kann die Darstellung auf Artikel der aktuellen Kategorie beschränkt werden.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_templates">Templates</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-itemviewitemtobasketconfirmationcontainer">ItemViewItemToBasketConfirmationContainer</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_globale_template_variablen">Globale Template-Variablen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>$CHANGE_VIEW_TO_FURTHER_ITEMS_LIST — Ist eine Konstante zur Änderung der Artikelansicht. Entspricht der Einstellung <strong>ItemViewFurtherItemsList</strong>.</p>
</li>
<li>
<p>$CHANGE_VIEW_TO_FURTHER_ITEMS_LIST2 — Ist eine Konstante zur Änderung der Artikelansicht. Entspricht der Einstellung <strong>ItemViewFurtherItemsList2</strong>.</p>
</li>
<li>
<p>$CHANGE_VIEW_TO_FURTHER_ITEMS_LIST3 — Ist eine Konstante zur Änderung der Artikelansicht. Entspricht der Einstellung <strong>ItemViewFurtherItemsList3</strong>.</p>
</li>
<li>
<p>$CHANGE_VIEW_TO_FURTHER_ITEMS_LIST4 — Ist eine Konstante zur Änderung der Artikelansicht. Entspricht der Einstellung <strong>ItemViewFurtherItemsList4</strong>.</p>
</li>
<li>
<p>$CHANGE_VIEW_TO_FURTHER_ITEMS_LIST5 — Ist eine Konstante zur Änderung der Artikelansicht. Entspricht der Einstellung <strong>ItemViewFurtherItemsList5</strong>.</p>
</li>
<li>
<p>$CHANGE_VIEW_TO_FURTHER_ITEMS_LIST6 — Ist eine Konstante zur Änderung der Artikelansicht. Entspricht der Einstellung <strong>ItemViewFurtherItemsList6</strong>.</p>
</li>
<li>
<p>$CurrentItemId — Beinhaltet die ID des aktuellen Artikels.</p>
</li>
<li>
<p>$CurrentPage — Beinhaltet die Seitennummer der aktuellen Seite.</p>
</li>
<li>
<p>$GROUP_ITEMS_BY_ATTRIBUTES — Ist eine Konstante zur Gruppierung von Artikeln in der Artikelkategorieansicht. Entspricht der Einstellung <strong>Gruppierung nach Attributen</strong>.</p>
</li>
<li>
<p>$GROUP_ITEMS_BY_VARIANT — Ist eine Konstante zur Gruppierung von Artikeln in der Artikelkategorieansicht. Entspricht der Einstellung <strong>Gruppierung nach Varianten</strong>.</p>
</li>
<li>
<p>$GROUP_ITEMS_NO — Ist eine Konstante zur Variantengruppierung der Artikelkategorieansicht. Entspricht der Einstellung <strong>keine Gruppierung</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_ID_DESC — Ist eine Konstante zur Sortierung von Artikeln. Entspricht der Einstellung <strong>Artikel-ID absteigend</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_NAME_ASC — Ist eine Konstante zur Sortierung von Artikeln. Entspricht der Einstellung <strong>Artikelname aufsteigend</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_NAME_DESC — Ist eine Konstante zur Sortierung von Artikeln. Entspricht der Einstellung <strong>Artikelname absteigend</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_POSITION_ASC — Ist eine Konstante zur Sortierung von Artikeln. Entspricht der Einstellung <strong>Artikelposition aufsteigend</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_POSITION_DESC — Ist eine Konstante zur Sortierung von Artikeln. Entspricht der Einstellung <strong>Artikelposition absteigend</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_PRICE_ASC — Ist eine Konstante zur Sortierung von Artikeln. Entspricht der Einstellung <strong>Preis aufsteigend</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_PRICE_DESC — Ist eine Konstante zur Sortierung von Artikeln. Entspricht der Einstellung <strong>Preis absteigend</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_PRODUCER_NAME_ASC — Ist eine Konstante zur Sortierung von Artikeln. Entspricht der Einstellung <strong>Herstellername aufsteigend</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_PUBLICATION_DATE_ASC</p>
</li>
<li>
<p>$ITEM_SORTING_PUBLICATION_DATE_DESC</p>
</li>
<li>
<p>$ITEM_SORTING_RANDOM — Ist eine Konstante zur Sortierung von Artikeln. Entspricht der Einstellung <strong>item_random</strong> und bedeutet eine zufällige Artikelsortierung.</p>
</li>
<li>
<p>$ITEM_SORTING_RELEASE_DATE_ASC — Ist eine Konstante zur Sortierung von Artikeln. Entspricht der Einstellung <strong>Erscheinungsdatum aufsteigend</strong>.</p>
</li>
<li>
<p>$ITEM_SORTING_RELEASE_DATE_DESC — Ist eine Konstante zur Sortierung von Artikeln. Entspricht der Einstellung <strong>Erscheinungsdatum absteigend</strong>.</p>
</li>
</ul>
</div>
</div>
</div>
</main>