<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Navigation</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gestaltung sämtlicher Kategorie-Navigationen und Variablen zur aktuellen Navigationsposition (Kategorien) findest du in diesem Bereich.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_globale_template_funktionen">Globale Template-Funktionen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-container-formcategoryfeedback">Container_FormCategoryFeedback</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-container-navigationbreadcrumbslist">Container_NavigationBreadcrumbsList</a> — Liefert die Breadcrumbs-Navigation aus. Bietet außerdem die Möglichkeit, einige Parameter im Vorfeld zu setzen, so dass sich diese Parameter von den Einstellungen im Template unterscheiden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-container-navigationcategories">Container_NavigationCategories</a> — Liefert die Kategorienavigation aus. Bietet außerdem die Möglichkeit, einige Parameter im Vorfeld zu setzen, so dass sich diese Parameter von den Einstellungen im Template unterscheiden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-container-navigationcategories2">Container_NavigationCategories2</a> — Liefert die Kategorienavigation 2 aus. Bietet außerdem die Möglichkeit, einige Parameter im Vorfeld zu setzen, so dass sich diese Parameter von den Einstellungen im Template unterscheiden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-container-navigationcategories3">Container_NavigationCategories3</a> — Liefert die Kategorienavigation 3 aus. Bietet außerdem die Möglichkeit, einige Parameter im Vorfeld zu setzen, so dass sich diese Parameter von den Einstellungen im Template unterscheiden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-container-navigationcategories4">Container_NavigationCategories4</a> — Liefert die Kategorienavigation 4 aus. Bietet außerdem die Möglichkeit, einige Parameter im Vorfeld zu setzen, so dass sich diese Parameter von den Einstellungen im Template unterscheiden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-container-navigationcategories5">Container_NavigationCategories5</a> — Liefert die Kategorienavigation 5 aus. Bietet außerdem die Möglichkeit, einige Parameter im Vorfeld zu setzen, so dass sich diese Parameter von den Einstellungen im Template unterscheiden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-container-navigationcategories6">Container_NavigationCategories6</a> — Liefert die Kategorienavigation 6 aus. Bietet außerdem die Möglichkeit, einige Parameter im Vorfeld zu setzen, so dass sich diese Parameter von den Einstellungen im Template unterscheiden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-container-navigationcategories7">Container_NavigationCategories7</a> — Liefert die Kategorienavigation 7 aus. Bietet außerdem die Möglichkeit, einige Parameter im Vorfeld zu setzen, so dass sich diese Parameter von den Einstellungen im Template unterscheiden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-container-navigationcategories8">Container_NavigationCategories8</a> — Liefert die Kategorienavigation 8 aus. Bietet außerdem die Möglichkeit, einige Parameter im Vorfeld zu setzen, so dass sich diese Parameter von den Einstellungen im Template unterscheiden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-container-navigationcategories9">Container_NavigationCategories9</a> — Liefert die Kategorienavigation 9 aus. Bietet außerdem die Möglichkeit, einige Parameter im Vorfeld zu setzen, so dass sich diese Parameter von den Einstellungen im Template unterscheiden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-container-navigationcategories10">Container_NavigationCategories10</a> — Liefert die Kategorienavigation 10 aus. Bietet außerdem die Möglichkeit, einige Parameter im Vorfeld zu setzen, so dass sich diese Parameter von den Einstellungen im Template unterscheiden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-container-navigationcategoriesstepbysteplist">Container_NavigationCategoriesStepByStepList</a> — Liefert die nachladende Kategorieliste aus. Bietet außerdem die Möglichkeit, einige Parameter im Vorfeld zu setzen, so dass sich diese Parameter von den Einstellungen im Template unterscheiden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-container-navigationcategoriesstepbysteplist2">Container_NavigationCategoriesStepByStepList2</a> — Liefert die zweite nachladende Kategorieliste aus. Bietet außerdem die Möglichkeit, einige Parameter im Vorfeld zu setzen, so dass sich diese Parameter von den Einstellungen im Template unterscheiden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-container-navigationcategoriessublevelselect">Container_NavigationCategoriesSublevelSelect</a> — Liefert die Kategorienavigation in Dropdown-Listen aus. Bietet außerdem die Möglichkeit, einige Parameter im Vorfeld zu setzen, so dass sich diese Parameter von den Einstellungen im Template unterscheiden.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-container-navigationfacetslist">Container_NavigationFacetsList</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-findologicfiltercontainer">FindologicFilterContainer</a> — Liefert die von Findologic zurückgelieferten Filter aus.</p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-findologicheader">FindologicHeader</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-getnavigationbreadcrumbslist">GetNavigationBreadcrumbsList</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-getnavigationcategories2list">GetNavigationCategories2List</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-getnavigationcategories3list">GetNavigationCategories3List</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-getnavigationcategories4list">GetNavigationCategories4List</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-getnavigationcategories5list">GetNavigationCategories5List</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-getnavigationcategories6list">GetNavigationCategories6List</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-getnavigationcategories7list">GetNavigationCategories7List</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-getnavigationcategories8list">GetNavigationCategories8List</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-getnavigationcategories9list">GetNavigationCategories9List</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-getnavigationcategories10list">GetNavigationCategories10List</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-getnavigationcategorieslist">GetNavigationCategoriesList</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-getnavigationcategoriesstepbysteplist">GetNavigationCategoriesStepByStepList</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-getnavigationcategoriesstepbysteplist2">GetNavigationCategoriesStepByStepList2</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-getnavigationfacetvalueslist">GetNavigationFacetValuesList</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-getnavigationfacetvalueslistbycategory">GetNavigationFacetValuesListByCategory</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-getnavigationfacetslist">GetNavigationFacetsList</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-getnavigationfacetslistbyfacetids">GetNavigationFacetsListByFacetIDs</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-getnavigationpricefacet">GetNavigationPriceFacet</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-link-activatefacetvalue">Link_ActivateFacetValue</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-link-deactivatefacetvalue">Link_DeactivateFacetValue</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-link-resetfacetcategory">Link_ResetFacetCategory</a></p>
</li>
<li>
<p><a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-navigation-navigationfacetslistavailable">NavigationFacetsListAvailable</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_globale_template_variablen">Globale Template-Variablen</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>$CATEGORY_TYPE_ALL</p>
</li>
<li>
<p>$CATEGORY_TYPE_CONTENT</p>
</li>
<li>
<p>$CATEGORY_TYPE_ITEMS</p>
</li>
<li>
<p>$CUSTOMER_SALUTATION_COMPANY — Konstante liefert die Anrede "Firma".</p>
</li>
<li>
<p>$CUSTOMER_SALUTATION_FAMILY — Konstante liefert die Anrede "Familie".</p>
</li>
<li>
<p>$CUSTOMER_SALUTATION_FEMALE — Konstante liefert die Anrede "Frau".</p>
</li>
<li>
<p>$CUSTOMER_SALUTATION_MALE — Konstante liefert die Anrede "Herr".</p>
</li>
<li>
<p>$CurrentCategoryDescription1/$CurrentCategoryDescription1[Level1] …​$CurrentCategoryDescription1[Level6] — Liefert die Beschreibung 1 der aktuellen Kategorie. Mithilfe der Angabe einer Ebene können die Beschreibungen der übergeordneten Kategorien ausgegeben werden.</p>
</li>
<li>
<p>$CurrentCategoryDescription2/$CurrentCategoryDescription2[Level1] …​$CurrentCategoryDescription2[Level6] — Liefert die Beschreibung 2 der aktuellen Kategorie. Mithilfe der Angabe einer Ebene können die Beschreibungen der übergeordneten Kategorien ausgegeben werden.</p>
</li>
<li>
<p>$CurrentCategoryID/$CurrentCategoryID[Level1] …​$CurrentCategoryID[Level6] — Liefert die ID der aktuellen Kategorie. Mithilfe der Angabe einer Ebene können die IDs der übergeordneten Kategorien ausgegeben werden.</p>
</li>
<li>
<p>$CurrentCategoryImageUrl — Beinhaltet die URL des ersten Kategoriebilds. Im Tab <strong>Dokumente</strong> einer Kategorie wird das Bild 1 festgelegt.</p>
</li>
<li>
<p>$CurrentCategoryImageUrl2 — Beinhaltet die URL des zweiten Kategoriebilds. Im Tab <strong>Dokumente</strong> einer Kategorie wird das Bild 2 festgelegt.</p>
</li>
<li>
<p>$CurrentCategoryName/$CurrentCategoryName[Level1] …​$CurrentCategoryName[Level6] — Liefert den Namen der aktuellen Kategorie. Mithilfe der Angabe einer Ebene können die Namen der übergeordneten Kategorien ausgegeben werden.</p>
</li>
<li>
<p>$CurrentCategoryShortDescription/$CurrentCategoryShortDescription[Level1] …​$CurrentCategoryShortDescription[Level6] — Liefert die Kurzbeschreibung der aktuellen Kategorie. Mithilfe der Angabe einer Ebene können die Kurzbeschreibungen der übergeordneten Kategorien ausgegeben werden.</p>
</li>
<li>
<p>$CurrentCategoryType/$CurrentCategoryType[Level1] …​$CurrentCategoryType[Level6] — Liefert den Typ der aktuellen Kategorie, entweder content oder item. Mithilfe der Angabe einer Ebene können die Typen der übergeordneten Kategorien ausgegeben werden.</p>
</li>
<li>
<p>$CurrentCategoryURLName/$CurrentCategoryURLName[Level1] …​$CurrentCategoryURLName[Level6] — Liefert den URL-Namen der aktuellen Kategorie. Mithilfe der Angabe einer Ebene können die URL-Namen der übergeordneten Kategorien ausgegeben werden.</p>
</li>
<li>
<p>$CurrentSearchEngine</p>
</li>
<li>
<p>$DeepestCategoryLevelReached — Beinhaltet die Information, ob die unterste Kategorieebene erreicht ist oder nicht.</p>
</li>
<li>
<p>$FACET_TYPE_DYNAMIC</p>
</li>
<li>
<p>$FACET_TYPE_PRICE</p>
</li>
<li>
<p>$FilterExistsAttributes — Beinhaltet die Information, ob ein Attributfilter gesetzt wurde oder nicht.</p>
</li>
<li>
<p>$FilterExistsCat3</p>
</li>
<li>
<p>$FilterExistsProducer — Beinhaltet die Information, ob ein Herstellerfilter gesetzt wurde oder nicht.</p>
</li>
<li>
<p>$Jump2FirstCategoryOfNextLevel — Beinhaltet einen Link zur ersten Kategorie der darunterliegenden Ebene.</p>
</li>
<li>
<p>$NavigationFacetsActive</p>
</li>
<li>
<p>$SEARCH_ENGINE_DEFAULT</p>
</li>
<li>
<p>$SEARCH_ENGINE_FACETTED_SEARCH</p>
</li>
<li>
<p>$SEARCH_ENGINE_FACTFINDER</p>
</li>
<li>
<p>$SEARCH_ENGINE_FINDOLOGIC</p>
</li>
</ul>
</div>
</div>
</div>
</main>