<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Creating and starting processes</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Follow along and create an example process in your plentymarkets system. Learn out how to build the process and add elements to it. Then try it out for yourself by running your example process.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/automation/processes/creating-starting-creating#video">Creating a new process (0:34)</a></p>
<p class="tableblock"><a href="/en/videos/automation/processes/creating-starting-elements#video">Adding elements to your process (2:15)</a></p>
<p class="tableblock"><a href="/en/videos/automation/processes/creating-starting-starting#video">Starting your process (4:13)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/223469331#at=253" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Our plentymarkets hero, Dr. Process, is getting ready for battle. He’s going up against the hoard of routine tasks that sellers face when shipping items to customers.
What’s his strategy? How will he tackle this mountain of work?
Watch as our hero first builds a strong foundation and then uses four secret weapons to help him get the job done - work steps, procedures, control elements and sub-procedures. With a sturdy foundation and his four trusty tools, our hero is able to build and deploy processes that conquer even the toughest job.</p>
</div>
<div class="paragraph">
<p>Follow along with our hero and start building your own process in the menu "Settings » Processes". Here you’ll be able to create new processes or edit any existing ones.
Here on the left, you’ll notice four folders, which we’ll talk more about in just a minute. But for now, simply move your mouse over any folder and click on the little triangle to create a new process.
Start out by giving your process a name and picking a color for it.
This name and color will help you find your process later on, once you’ve finished making it and you’re ready to get started in the main "Processes" menu.
OK, but for now, back in the basic settings, tell plentymarkets which of your warehouses this shipping process should be used for.</p>
</div>
<div class="paragraph">
<p>Alright, and last but not least, remember these four folders?
Well, that’s what these last few settings relate to.
Your process will be sorted into one of these four folders, depending on which settings you choose here.
For example, right now, I’m logged into plentymarkets with my "Joan Doe" user account.
So if I select the user Joan Doe, then I’ll be creating my own process. In other words, I’ll be the only user who’s allowed to work with this process.
Alternatively, you may want to create a process for a different employee or for a department, like your customer support team or fulfillment team.
And if you want to allow the staff member to edit the process settings in this menu as well, then just place a check mark here.</p>
</div>
<div class="paragraph">
<p>When I’m done, my process is sorted into the folder structure on the left and it opens automatically.
If you ever need to change any of these settings again in the future, just click on the gear-wheel icon.
Now that our hero has laid the foundation for his process, he’s ready to pull out his four secret weapons and start building.</p>
</div>
<div class="paragraph">
<p>First and foremost, every process always includes at least one work step.
Just pick the type of work step that you’d like to use and customize the settings as needed.
Don’t worry if you’re not completely sure which work step you should pick or how you should configure it’s settings. We’ve got a separate video devoted exclusively to that topic.
Now you can add more work steps the same way or you can add the next level of weapons to your process.</p>
</div>
<div class="paragraph">
<p>Here on the second level, you can add control elements and procedures.
Again, you could keep adding other procedures the same way or you could move down and create a third level of weapons for your process.
You can think of sub-procedures as answering the question "so what do you want to do with the procedure above?"
For example, I’d like to see the note displayed on my screen.
And I’d like to play a sound that alerts me to the note.
So here we’ve got a very simple process that’s composed of one work step, one procedure and two sub-procedures.</p>
</div>
<div class="paragraph">
<p>Last but not least, you can add a wide variety of control elements. They allow you to do things like carry out procedures if specific conditions are met or repeat certain parts of a process. Each control element works a little bit differently, so we’ve got a series of short videos to teach you about each one.
So far so good. But what if you make a mistake while creating a process? Just move your mouse over an element to delete it from the process.
Or click on the edit icon if you change your mind about any of its settings.
You can also right-click on an element if you’d like to move it a bit further up or down in your process.
Here you’ll also see that right-clicks are another way to add additional work steps, procedures and sub-procedures.</p>
</div>
<div class="paragraph">
<p>Now that Dr. Process has finished configuring the settings, he’s ready to put his new process to work.
Once you’ve finished setting up a process, you can run it from this main "Processes" menu here.
This menu contains a button for every process.
Simply click on whichever process you want to carry out.
This next screen here is divided into a few different areas. The left side of the screen displays the same work steps, procedures and sub-procedures that we also saw in the settings menu a moment ago.
Simply click on the "Start" button to carry out the process. The blue percentage bars indicate how much progress has been made toward completing each step of the process.
The green number next to the start button indicates how many times this process has been carried out.
And the yellow "Processes" button takes me back to the main list of processes.</p>
</div>
<div class="paragraph">
<p>In this video, you learned how to create a new process in the settings menu and how to add work steps, procedures, control elements, and sub-procedures. You also learned how to start processes once you’ve finished setting them up. Once you feel comfortable with these topics continue on and learn more about the different types of work steps and control elements that are available to you.</p>
</div>
</div>
</div>
</main>