<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Example process - Multi-order picking</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">See an example process in action! Watch our warehouse technician use this process to register all of the items on a pick list and print the corresponding documents. Download this example process below the video.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/automation/processes/example-multi-finding#video">Finding pick lists and scanning items (1:32)</a></p>
<p class="tableblock"><a href="/en/videos/automation/processes/example-multi-removing#video">Removing orders from the process (2:01)</a></p>
<p class="tableblock"><a href="/en/videos/automation/processes/example-multi-registering#video">Registering serial numbers (2:55)</a></p>
<p class="tableblock"><a href="/en/videos/automation/processes/example-multi-printing#video">Printing documents (4:00)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/228965327" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="paragraph">
<p>File for this video:
<a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/plentyprocess/Multi-Order-Picking-Prozess_2017.plentyprocess" target="_blank" rel="noopener">Multi-Order-Picking-Process_2017</a></p>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Let’s get down to work! Now that you know how to create processes and add elements to them, let’s put Dr. Process to the test.
In this example process, our warehouse technician scans all of the items included on a pick list and then plentymarkets automatically prints the necessary DHL shipping labels, invoices and delivery notes.</p>
</div>
<div class="paragraph">
<p>If you want to follow along with the example process that we’ll be using in this video, then just download it from the description below and import the file into your plentymarkets system. But watch out. There are a few common errors that can occur when importing a process.
So make sure you’ve watched our video on this topic before you continue.
OK, there’s our process! But, as I mentioned just a moment ago, there are always a few settings that can cause trouble. Beyond the typical printer settings and order statuses, you’ll want to take a look at the "Item registration" element.
The problem here is that sometimes newly imported processes don’t know where to jump to. And this happens because the IDs in your system are likely different than the IDs in another person’s system.
No problem. Just tell plentymarkets that you want to jump down to this filter right here.
That’ll be my filter with the ID 1467.</p>
</div>
<div class="paragraph">
<p>OK, now that the settings are all squared away, what’s this process going to do anyway? Well, basically just four things.
One…​ two…​ three…​ four.
First off, the process will search for any pick lists that you’ve created in your system.
And your warehouse technician will scan the barcodes of every item included on that list.
Let’s see it in action.
First, my process searches for any pick lists that I’ve already created in my system.
And then I see an entry field where I can enter the IDs for every item included on the list.
If I want to, then I can also see information about the orders that I’m working with.</p>
</div>
<div class="paragraph">
<p>And this brings us to the second thing that our process can do.
If my warehouse technician notices that an item is out of stock, then he can click on a button to remove the order from the process.
Let’s see how it’s done.
Our employee just clicks on this button right here and then indicates that the item is out of stock.
The order’s status is changed and it’s removed from the process.
And the screen switches back to the item registration window.</p>
</div>
<div class="paragraph">
<p>But hang on just a second. Where did this "Execute" button come from anyway?
Well, this is an option that we’ve built into the "Item registration" procedure.
Here in the options, you can choose to display an "Execute" button as well as a "Split order" button.
Remember, with the execute button, you just tell plentymarkets where it should jump down to.
In our case, we jump down to a filter, which then ultimately leads down to our dialogue.</p>
</div>
<div class="paragraph">
<p>Our warehouse technician has come up against the next challenge. He needs to ship an electronic item that has a serial number and he wants to make sure that this serial number shows up on the customer’s invoice. This will keep his company on the safe side. If the customer returns the item, then he’ll be able to check the serial number and make sure he’s not getting a fake replica back.
OK, so in our process here, first off you see two loops directly after each other.
When loops are nested like this, the first one refers to the entire order as a whole and the second one refers to the individual items that are included in that order.
So when you look at your orders, this first loop refers to the entire order as a whole and the second loop refers to the individual items within that order.
So by the time we get down here to our filter, we’re talking about individual items and we’re filtering so that we only include items where the "Serial number" option was set to "Yes" in the item’s "Global" tab.
If our process finds such an item, then our warehouse technician simply scans the serial number like so.</p>
</div>
<div class="paragraph">
<p>And this brings us to the last part of our process, where all of the necessary documents are printed.
Our warehouse technician goes about scanning items. As soon as he’s finished scanning all of the items included in an order, the corresponding DHL shipping label, invoice and delivery note are printed automatically.</p>
</div>
<div class="paragraph">
<p>Now let’s see it in action!
Here in this example, our warehouse technician is scanning the items included in two different orders.
Once all of the items have been scanned for an order, the corresponding documents are printed.
And to finish the whole thing off, our process jumps back to the item registration window.</p>
</div>
<div class="paragraph">
<p>Yes! We’ve made it! The process has gone through one entire cycle. But now what? What should your employee do from here?
Well, now might be the time when you want to automatically book the item as outgoing.
Our process has just printed a DHL shipping label, which means that plentymarkets has also automatically generated a package number as well.
In plentymarkets, it’s really easy to set up an event procedure, which books items as outgoing as soon as a package number was generated.</p>
</div>
<div class="paragraph">
<p>In this video, you saw an example process in action! Now that you have a basic idea of what this process does, try it out for yourself! Download the process file and customize it to match your company’s own fulfillment processes.</p>
</div>
</div>
</div>
</main>