<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Filter - Sift through input in a process</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Check out the filter in context: a simple process gives you a basic understanding of the functions and a more complex multi-order picking process shows you the filter in a more sophisticated situation.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/228966360" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Dr. Process and his arsenal of superpowers at your service! Next up: the süper filtör!
In a plentymarkets process, a filter is basically a sorting device that evaluates one or more conditions for something to happen. In other words, a specific action only takes place if certain conditions are met.</p>
</div>
<div class="paragraph">
<p>We’ll start with a relatively straightforward example and move on to our more complex multi-order picking process in a moment.
Okay, so the purpose of this process is simply to continuously run through orders looking for serial numbers and then registering them. The filter sifts through orders looking for serial numbers and if it finds one, it is automatically registered in your system.</p>
</div>
<div class="paragraph">
<p>Let’s take a look at the filter in detail. As we said, a filter sifts through conditions. So depending on the procedure above the filter, you’ve got a wide range of conditions available to you. In our example, the condition stipulates that a serial number must be found. If the condition is met, the process always continues along the arrow jutting out to the right and a specific action takes place.</p>
</div>
<div class="paragraph">
<p>In that way, the filter control element has similarities to the split only that the process does not have to continue if the condition set in the filter is not met. And since you want a specific action to take place after your filter has done its magic, you need to enter a destination so that the process continues where you want it to. In this case, serial numbers that have been found are registered in your system.
But if the condition is not met, the process can simply stop or it continues along the downward arrow to the next step if you’ve included one. In this example, our jump brings us right back up to the second loop.
Also, it’s always necessary to include a reset filter in the right place to end the function. So if you’ve included a filter that applies to your entire process, then it would be smart to reset that filter somewhere near the end. And also, never forget to link your reset filter to its corresponding filter like so.</p>
</div>
<div class="paragraph">
<p>Alright, so now that you know how the filter works, let’s look at it in our more complex multi-order picking process which includes a whopping three filters!
Our first filter is included in the item registration part of the process and specifies that an item must be registered completely. It’s reset filter is the last reset filter of the three and is located near the end because it applies to the entire process.
The second filter with ID 1521 simply specifies that an order is in progress. It’s corresponding reset filter can be found soon afterwards and specifies the filter that needs to be reset.
Now this part of the process should look familiar to you because it’s the simpler process we looked at a moment ago, only that it’s been embedded in a more complex process. So here we have the filter and the reset filter follows shortly afterwards.
Dr. Process' süper filtör - when you need that extra specific condition!</p>
</div>
</div>
</div>
</main>