<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Loop - The cyclical control element</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Check out the loop in context: a simple process gives you a basic understanding of the functions and a more complex multi-order picking process shows you the loop with all of its sophisticated potential.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/225378644" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Now you already know that Dr. Process has an impressive arsenal of superpowers at his disposal and the loop is just one of them!
A loop is essentially a cycle that repeats a procedure or a chain of procedures until all the elements included in that procedure have been run through.</p>
</div>
<div class="paragraph">
<p>So obviously this process isn’t particularly realistic - I’ll show you how a loop is embedded in a more complex example in a moment.
But first, let’s check out the basic idea behind a loop and see what this little guy can do!</p>
</div>
<div class="paragraph">
<p>Alright, so I’ve set up a work step to filter for a maximum of 50 orders in status 5. The status of these orders is then changed to 6. So my system runs through all orders in status 5 and for every order creates a note, makes a sound and displays that note on the screen.
It’s always important to include a jump with a loop so that the cycle continues - because that cycle by definition constitutes a loop.
And once there are no more orders in status 5 to run through, my process comes to an end.
So let’s start the process and see what happens.
There you are! Pretty simple actually.</p>
</div>
<div class="paragraph">
<p>Now how does the loop function translate to the more complex process we’ve been talking about?
Well, as you can see, we’re dealing with two loops here. What’s interesting is that the second loop is embedded in the first. When loops are nested like this, the first one refers to the entire order as a whole and the second one refers to the individual items that are included in that order.
In this second loop, items are registered using serial numbers. So your system continuously runs through orders looking for - or rather filtering - serial numbers. If none are found, the process simply jumps back up to the loop and passes through the filter again.
When items with serial numbers are found, the process continues here and the serial number is registered. And this last jump brings us right back up to the loop we started out with. As you already know, a loop only works in connection with a jump since the jump is what brings us right back to the start.
This loop is run through until all the serial numbers in this batch of orders have been registered and the orders can go through the shipping centre one after the other.</p>
</div>
<div class="paragraph">
<p>Dr Process' Super Loop - when you need that special cyclical component in your plentymarkets process.</p>
</div>
</div>
</div>
</main>