<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Installing plentyBase</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Processes are great for automating routine tasks like printing invoices. But how do processes know which printers are connected or where you’ve saved documents? Easy: with the help of plentyBase!</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/232836578" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Let me introduce you to Dr. Process! This talented superhero helps you fulfill orders in the blink of an eye. He uses his superpowers to automate routine tasks such as printing invoices and shipping labels.
But Dr. Process doesn’t do it all alone! He can always count on help from his trusty sidekick, plentyBase.  Whenever Dr. Process springs into action, his sidekick is right there with him.</p>
</div>
<div class="paragraph">
<p>plentyBase helps out by communicating directly with your computer. He knows which printers you’ve connected and where you’ve saved documents.
You can think of plentyBase as a kind of translator, who helps Dr. Process talk to your computer.
Since plentyBase is a sidekick, he usually stays out of the limelight and you won’t even notice that he’s there unless you try to run processes without him.
Then an error message will let you know he’s not on board.</p>
</div>
<div class="paragraph">
<p>Not to worry! Just open up the plentyBase menu to see what’s going on. Here you’ll see loads of information about plentyBase and if you haven’t installed this program yet then you can click on the button here and download it from our marketplace.
Take a look at our step-by-step instructions, if you’d like some help with the installation process.
Once you’re ready to roll, simply choose your operating system and download the file.
You can install plentyBase just like you would any other program on your computer. Simply follow the steps in the installation wizard and refer to our user guide if you need assistance.</p>
</div>
<div class="paragraph">
<p>Ready? Then launch plentyBase from the folder where it’s saved or head back to the dashboard to check your connection status.
You’ve done it! plentyBase is on board and ready to heed the call of duty. With the help of his trusty sidekick, Dr. Process can get to work and start fulfilling orders in the blink of an eye.
What are you waiting for? Head on over to the marketplace and download plentyBase today.</p>
</div>
</div>
</div>
</main>