<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>What are procedures and sub-procedures?</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Procedures and sub-procedures are the meat and bones of your plentymarkets processes. Learn how to combine these elements and customise their settings. Then see an example process in action!</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/automation/processes/procedures-combining#video">Combining procedures and sub-procedures (0:27)</a></p>
<p class="tableblock"><a href="/en/videos/automation/processes/procedures-settings#video">Customising their settings (1:40)</a></p>
<p class="tableblock"><a href="/en/videos/automation/processes/procedures-example#video">Our example process in action (4:13)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/225363898" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Dr. Process is planning his next big move. He’s already figured out what kind of process he’d like to build. And now he’s giving some thought to the actual meat and bones of the process.
In other words, he’s picking out the procedures and sub-procedures that will help bring his process to life.</p>
</div>
<div class="paragraph">
<p>Let’s see what he’s chosen.
Here in the editing window, you’ll find procedures centered in the middle of the screen and sub-procedures located in the right-hand column.
In most cases, procedures and sub-procedures go together like Superman and Lois Lane.
That’s because sub-procedures answer the question "so what do you want to actually do with the procedure above?"
For example, the pick list should be printed or the note should be displayed.
Sometimes you just expect to find things together. Like salt and pepper, yin and yang, Batman and Robin or Superman and Lois Lane.</p>
</div>
<div class="paragraph">
<p>But Batman and Lois Lane? Nope, there’s just no chemistry.
Keep that in mind when adding procedures and sub-procedures.
Some combinations go together, like "Invoice" and "Print".
Whereas other combinations wouldn’t work. For example, you couldn’t print outgoing items.
So, unsurprisingly, "Print" isn’t listed as one of the sub-procedures that you can choose here.
Take a look at our online manual, if you want to use a specific procedure or sub-procedure, but you’re not sure what matches up with it. We’ve got a comprehensive list that you can look at for reference.</p>
</div>
<div class="paragraph">
<p>OK, so most of the time, procedures and sub-procedures go together.
But in a few select cases, procedures work just fine on their own.
Here, for example, you’ll notice that this procedure doesn’t have a little green plus icon, which would allow you to add a sub-procedure.</p>
</div>
<div class="paragraph">
<p>Now that you understand how procedures and sub-procedures are organized, let’s get right down to it, and look at how you can customize these elements to meet your needs.
Starting out, pretty much every procedure you ever work with is going to have these three settings here.
The position is easy enough to understand. This is just where the procedure appears after a work step.
So, for example, position 3 means that this procedure appears in spot, 1, 2, 3 after the work step.
"Show" is also pretty simple.
This just tells plentymarkets, whether you want to actually see this procedure while it’s running in the main "Processes" menu or whether you’d prefer that it be invisible and just run in the background.
Last but not least, this setting here tells plentymarkets what should happen in case an error occurs during this part of the process.
You can either instruct plentymarkets to abort the process altogether or to just skip this procedure and jump down to the next one or to jump down to any other procedure of your choice.</p>
</div>
<div class="paragraph">
<p>While nearly every procedure includes these three basic settings, many other procedures also include additional settings that let you customize the element down to the last detail.
Here, for example, you can specify how information should be arranged on a document.
Or here, for example, you can tell plentymarkets which search fields you’d like to see displayed while the process is running.
Since every procedure works a little bit differently, you may occasionally come across a setting that you don’t understand. In such situations, just turn to our online manual, which contains a comprehensive list of all the settings that are available for every procedure and sub-procedure.</p>
</div>
<div class="paragraph">
<p>Now let’s see our process in action.
Just as a quick refresher, our first work step is going to take the next 20 orders that are in status 5.
Then we’ll print a pick list that includes information about these 20 orders.
And we’ll display a note to alert our warehouse technician that the pick list has been printed and that he can begin collecting items in the warehouse.
Once he’s finished collecting items, he’ll see a search field, where he’ll be able to enter an order ID to continue processing that one particular order.
By entering the order ID, our warehouse technician will trigger both the invoice, and the delivery note, to be printed.
Finally, items included in the order will be booked as outgoing and the process will jump back up here - meaning that our warehouse technician will again see a search field where he’ll be prompted to enter the next order ID.</p>
</div>
<div class="paragraph">
<p>OK, let’s take it for a test drive.
The pick list is printed and the note appears on my screen.
When I click on "OK", my screen switches to display a search field.
Here, I simply enter the order ID and click on the magnifying glass.
Then plentymarkets displays the relevant information for this order.
When I’m ready to go, I just click on the save button.
This causes documents to be printed and the items to be booked as outgoing.
Finally, my process jumps back to the top and waits for me to enter the next order ID.</p>
</div>
<div class="paragraph">
<p>In this video, you learned how procedures and sub-procedures work together to bring your processes to life. You saw some of the typical settings that you’re likely to encounter while configuring procedures. And you saw an example procedure in action. Once you feel comfortable with these topics, continue on by learning about control elements or by looking at a few case examples.</p>
</div>
</div>
</div>
</main>