<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>System mit Marketplace-Plugins individualisieren</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tauche ein in die Welt der Plugins und shoppe dich durch den plentyMarketplace. Lade dir Plugins herunter und erfahre alles zu deinen Wunschplugins.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/225366894" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</main>