<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Global</h1><div class="sect1">
<h2 id="_table_of_contents">Table of Contents</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions">PHPFunctions</a> — The following PHP functions can also be used in the CMS syntax. Their usage corresponds to that directly in PHP.</p>
</li>
</ul>
</div>
</div>
</div>
</main>