<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>This section contains information on the functions and variables for designing layout templates for listings.</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>…​</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_table_of_contents">Table of Contents</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#listing-listing">Listing</a> — This section contains information on the functions and variables for designing layout templates for listings.</p>
</li>
</ul>
</div>
</div>
</div>
</main>