<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Web design</h1><div class="sect1">
<h2 id="_table_of_contents">Table of Contents</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-pagedesign">PageDesign</a> — Use these functions to design the different page layouts. In addition, several variables with globally relevant information are available.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-navigation">Navigation</a> — This section contains information on designing all category navigations and on variables for the current navigation position (categories).</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-itemview">ItemView</a> — This section contains information on the functions and variables for designing item layouts, e.g. lists, product pages and the item search.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-category">Category</a> — The functions and variables for designing categories of the type Content.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-categoryview">CategoryView</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-blogdesign">BlogDesign</a> — This section contains information on the functions and variables for designing blogs and the blog search function.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-blogentry">BlogEntry</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-checkout">Checkout</a> — This section contains information on the functions and variables for designing the order process, e.g. shopping cart, invoice address and the selection of the payment method.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-misc">Misc</a></p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#web-design-validator">Validator</a> — This section contains information on the functions and variables for designing the validators. Validators check the details customers enter before these are saved. As soon as the order process data is submitted, the relevant validator template is called. For example, if the invoice address is submitted, the template ValidatorCustomerInvoiceAddress is called. If the customer did not fill in any fields of the invoice address that were defined as mandatory in the template, the respective error messages are returned. The data is not saved while error messages are still returned.</p>
</li>
</ul>
</div>
</div>
</div>
</main>