<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Running a process</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Running processes</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Install plentyBase</div>
<div class="paragraph">
<p>You need <a href="/en/automation/processes/installing-plentybase">plentyBase</a> to create and run processes in the plentymarkets back end. You can download the installation files for plentyBase in the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/plentyBase_5053" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Once you’ve finished creating a process under <a href="/en/automation/processes/setting-up-processes">Setup » Processes</a>, you’ll be able to run it in the <strong>Processes</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Running a process</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to run a process. Note that you can only see those processes that have been assigned to your user account or that have been assigned to your role.</p>
</div>
<h3 id="_assigning_rights_for_back_end_users" class="discrete">Assigning rights for back end users</h3>
<div class="paragraph">
<p>People with <strong>Back end</strong> access rights can <a href="/en/business-decisions/user-accounts-access#105">only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to see and run processes, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Processes &gt; Edit</strong></p>
</li>
<li>
<p><strong>Processes &gt; Show</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tip: How to grant rights</strong></div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admins</strong> can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The user accounts are displayed in an overview.</p>
</li>
<li>
<p>Click on a user account.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="paragraph instruction">
<p>Running a process:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Processes</strong> menu.<br>
→ The available processes are displayed.</p>
</li>
<li>
<p>Click on a process.<br>
→ The process is displayed and it has the status <strong>Waiting</strong>.</p>
</li>
<li>
<p>Click on Start.<br>
→ The process starts.<br>
→ Bars in the <strong>Work steps</strong> tab show the progress of the individual process steps.<br>
→ Depending on the process, input may be required from the user.</p>
</li>
</ol>
</div>
</div>
</div>
</main>