<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Running a process</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Running processes</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Install plentyBase</div>
<div class="paragraph">
<p>You need plentyBase to create and run processes in the plentymarkets back end. You can download the installation files for plentyBase in the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/plentyBase_5053" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Once you’ve finished creating a process under <a href="/en/automation/processes/setting-up-processes">Setup » Processes</a>, you’ll be able to run it in the <strong>Processes</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Running a process</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to run a process. Note that you can only see those processes that have been assigned to your user account or that have been assigned to your role.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Visibility of the Processes menu</div>
<div class="paragraph">
<p>Admin users are automatically allowed to access the <strong>Processes</strong> menu and run the processes in this menu. <strong>Backend</strong> users need to be granted this right. Go to <strong>Setup » Settings » User » Rights » User</strong>. Open the user account. In the <strong>Rights</strong> area, place a check mark next to the menu visibility <strong>Processes</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Running a process:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Processes</strong> menu.<br>
→ The available processes are displayed.</p>
</li>
<li>
<p>Click on a process.<br>
→ The process is displayed and it has the status <strong>Waiting</strong>.</p>
</li>
<li>
<p>Click on Start.<br>
→ The process starts.<br>
→ Bars in the <strong>Work steps</strong> tab show the progress of the individual process steps.<br>
→ Depending on the process, input may be required from the user.</p>
</li>
</ol>
</div>
</div>
</div>
</main>