<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Finding plentyBase log files</span></a></li>
<li><a href="#200"><span>2.</span><span> Error code 1206: Correct sub procedure (ID x)</span></a></li>
<li><a href="#300"><span>3.</span><span> Error message “Document not saved”</span></a></li>
<li><a href="#400"><span>4.</span><span> Error message “Previously started box picking exists for user”</span></a></li>
<li><a href="#500"><span>5.</span><span> Error message “Documents not saved”</span></a></li>
<li><a href="#600"><span>6.</span><span> The storage locations are not sorted properly</span></a></li>
<li><a href="#650"><span>7.</span><span> No items are found in the item registration</span></a></li>
<li><a href="#700"><span>8.</span><span> Authentication for plentyBase tool missing. Check access token settings.</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>FAQ: Processes</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The errors listed here are intended to help you identify possible reasons for malfunctions when working with the <a href="/en/automation/processes">processes</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Finding plentyBase log files</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Log files may help to identify the source of errors that occur while processes are running. If appropriate, our support staff will ask you to send the log files of the corresponding process. Proceed as described below to access the log files and forward them.</p>
</div>
<div class="paragraph instruction">
<p>Finding plentyBase log files:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Start plentyBase.</p>
</li>
<li>
<p>Run to process until the malfunction occurs.</p>
</li>
<li>
<p>Click on the plentyBase logo and then on <strong>Show plugin folder</strong>.<br>
→ If the malfunction occurred on an earlier date, select the file of the corresponding day.</p>
</li>
<li>
<p>Only send log files after they have been <strong><em>specifically requested</em></strong> by support staff and always use a private message to do so.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<div class="title">How to send log files</div>
<p>If possible, include a link to your original forum post in your private message. Without this reference, there might be delays in providing support, which we would like to avoid.<br>
<strong><em>Note:</em></strong> Always use private messages. Never attach log files to a public post! To learn how to send private messages in the plentymarkets forum, take a look at link::https://forum.plentymarkets.com/t/wie-sende-ich-private-nachrichten/3024[this post^] (German only).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Error code 1206: Correct sub procedure (ID x)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The error message <code>Correct sub procedure (ID x): Code 1206</code> is a very frequent one. This error message occurs due to changes being made to procedures for printing and saving. For example, if you use computer A to make changes to a process, such as adding procedures for saving or printing, you have to select the respective printer or storage path when creating the procedures. However, the printer or storage path is only valid for the specific computer that is being used at that moment. This is due to the fact that settings for printing and saving are stored locally on your computer. If you now try to run the process on computer B, the error message <code>Correct sub procedure (ID x): Code 1206</code> appears for every procedure used for saving or printing. Proceed as described below to resolve the error.</p>
</div>
<div class="paragraph instruction">
<p>Resolving the error:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Processes</strong>.</p>
</li>
<li>
<p>Open the process that is causing the error message.</p>
</li>
<li>
<p>Edit every procedure used for printing and saving.</p>
</li>
<li>
<p>For every printer, add the printer that should be addressed by this procedure.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Open the sub-procedure <strong>Print</strong>.<br>
image::automation/processes/assets/beispiel_drucken_1-EN.png[]</p>
</li>
<li>
<p>Select the printer.<br>
image::automation/processes/assets/beispiel_drucken_2-EN.png[]</p>
</li>
<li>
<p>Save the change.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Add a storage path to each procedure used for saving.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Open the sub-procedure <strong>Save</strong>.<br>
image::automation/processes/assets/beispiel_speichern_1-EN.png[]</p>
</li>
<li>
<p>Select the storage path.<br>
image::automation/processes/assets/beispiel_speichern_2-EN.png[]</p>
</li>
<li>
<p>Save the change.</p>
</li>
</ol>
</div>
</li>
<li>
<p>The error message can also appear with procedures of the type “In case of error”. Thus, also check if a procedure of this type has been set up for the original procedure.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Within the procedures, click on the <strong>bug</strong>.<br>
image::automation/processes/assets/beispiel_speichern_3-EN.png[]</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Error message “Document not saved”</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sometimes, the error <code>{Document type} not saved: No documents available. Relevant IDs: {xxx}</code> occurs. Proceed as described below to resolve the error.</p>
</div>
<div class="paragraph instruction">
<p>Create temp and cache folder:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the following folder:<br>
Windows: <strong>C:\\Users\\"YourUser"\\AppData\\Local\\plentymarkets\\plentybase\\Downloads</strong><br>
MacOS: <strong>/Users/"YourUser"/Library/Caches/eu.plentymarkets.plentybase/Downloads</strong>.</p>
</li>
<li>
<p>Check if the subfolder <strong>temp</strong> exists.</p>
</li>
<li>
<p>If it does not exist, create a subfolder named <strong>temp</strong>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Error message “Previously started box picking exists for user”</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The message <code>Previously started box picking exists for user</code> is not exactly an error message. Rather, it informs you that the user has already started box picking, but has not finished it yet.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Check whether the setting <strong>Previously started box picking</strong> is set to <strong>Continue</strong> in the work step <strong>Order group processing</strong>. With this setting, the previous round of box picking is continued when the process is next started.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If this error message persists or if you would like to discontinue box picking, you can reset it:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open the user account.</p>
</li>
<li>
<p>Click on the <strong>Processes</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Reset previously started box picking</strong>.<br>
→ The previous round of box picking is reset.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Error message “Documents not saved”</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If the error message <code>Documents not saved. No order data available. Relevant IDs: {xxx}</code> occurs, you should check if the shipping service provider that the process should register the shipment with is linked with the order.</p>
</div>
<div class="paragraph">
<p>This error message occurs if e.g. the shipping service provider Hermes is saved for the order, while the process tries to register the order for shipment with DHL.</p>
</div>
<div class="paragraph">
<p>In this case, either adjust the shipping profile in the order or change the process so that only orders for a specific shipping service provider are filtered.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. The storage locations are not sorted properly</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This problem may occur with different documents (pick list, packing list, etc.) or within the work steps. You can resolve this problem by setting up an event procedure.
Without the event procedure, the assignment within the processes always applies the first order document. However, this is too late for proper sorting within the process.</p>
</div>
<div class="paragraph instruction">
<p>Setting up an event procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in <a href="#table-bp-ep-storage-location-sorting">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#tabelle-BP-EA-lagerortsortierung">[tabelle-BP-EA-lagerortsortierung]</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-bp-ep-storage-location-sorting" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Event procedure for sorting storage locations</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong><br>
<strong>Delivery order</strong><br>
<strong>Warranty</strong><br>
<strong>Repair</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping &gt; Assign storage location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unassign old storage location</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="650">7. No items are found in the item registration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When carrying out the <strong>Item processing</strong> procedure, it may happen that no items are found. This error occurs when no sales prices are saved for the items that should be processed during item registration.
Thus, go to <strong>Setup » Item » Sales prices</strong> and check if</p>
</div>
<div class="ulist">
<ul>
<li>
<p>a <a href="/en/item/settings/prices#400">price type</a> is saved for the item and</p>
</li>
<li>
<p>the &lt;<a href="/en/item/settings/prices#400">price type</a> is linked to the default client (store).</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Carry out the settings in case they do not exist yet. Afterwards, the respective items should be found by the <strong>Item processing</strong> procedure.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">8. Authentication for plentyBase tool missing. Check access token settings.</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This message is not exactly an error message. Rather, it informs you that you have not yet set up an access token to establish a secure connection between plentymarkets and plentyBase.</p>
</div>
<div class="paragraph">
<p>Create a token in plentymarkets and save it in plentyBase to keep this message from appearing. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Starting plentyBase and opening the menu:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Start plentyBase.</p>
</li>
<li>
<p>Log in to the back end of your plentymarkets system.</p>
</li>
<li>
<p>Go to <strong>plentymarkets Logo (Start) » plentyBase</strong>.</p>
</li>
<li>
<p>Open the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Generate a token and copy it to the clipboard.</p>
</li>
<li>
<p><strong>Save</strong> the changes.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/automatisierung/processes/assets/accesstoken-EN.png" alt="accesstoken EN"></span></p>
</div>
<div class="paragraph instruction">
<p>Opening the settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the plentyBase logo in your computer’s task bar and click on <strong>Open configuration</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Saving a token:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Manage access token</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>On the right, paste the copied token from the clipboard. To the right, enter <strong>plentymarkets</strong>, for example.</p>
</li>
<li>
<p>Click on <strong>OK</strong>.</p>
</li>
</ol>
</div>
</div>
</div>
</main>