<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Why do I need plentyBase?</span></a></li>
<li><a href="#200"><span>2.</span><span> Installing plentyBase</span></a></li>
<li><a href="#300"><span>3.</span><span> Saving plentyBase connection data in the plentymarkets back end</span></a></li>
<li><a href="#400"><span>4.</span><span> Limiting access to local directories via plentyBase</span></a></li>
<li><a href="#500"><span>5.</span><span> Granting plentyBase access to additional domains</span></a></li>
<li><a href="#600"><span>6.</span><span> Making plentyBase available in a network</span></a>
<ul class="sectlevel2">
<li><a href="#610"><span>6.1.</span><span> Installing plentyBase on a network computer</span></a></li>
<li><a href="#620"><span>6.2.</span><span> Saving IP data in HOSTS file of other network computers</span></a></li>
<li><a href="#700"><span>6.3.</span><span> Saving plentyBase connection data in the plentymarkets app</span></a></li>
</ul>
</li>
<li><a href="#800"><span>7.</span><span> Installing a plugin for plentyBase</span></a></li>
<li><a href="#900"><span>8.</span><span> Sending plentyBase log files to the plentymarkets support</span></a></li>
<li><a href="#1000"><span>9.</span><span> plentyBase: FAQ and error handling</span></a>
<ul class="sectlevel2">
<li><a href="#1100"><span>9.1.</span><span> "Authentication for plentyBase tool missing. Check access token settings.”</span></a></li>
<li><a href="#1200"><span>9.2.</span><span> “plentyBase not connected. Check status”</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentyBase</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>plentyBase is a tool that enables your local computer to communicate with plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Why do I need plentyBase?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to install and run plentyBase to perform the following tasks from the plentymarkets back end:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Carrying out processes that automatically print documents or shipping labels</p>
</li>
<li>
<p>Print documents from the plentymarkets back end</p>
</li>
<li>
<p>Show print history in the plentymarkets back end</p>
</li>
<li>
<p>Print plentyPOS receipts on local printers</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Learn about plentyBase in our playful tutorial:</p>
</div>
<div class="videoblock">
<div class="title">plentyBase</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/232836578" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Installing plentyBase</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before you install plentyBase, make sure that the general <a href="/en/welcome/quick-start/quick-start-system-requirements">system requirements</a> that also apply to your regular plentymarkets system are fulfilled.</p>
</div>
<div class="paragraph">
<p>You can find the installation files for plentyBase in the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/plentybase_5053" target="_blank" rel="noopener">plentyMarketplace</a>. Select your operating system from the drop-down list the right side before clicking on <strong>Free download</strong>.</p>
</div>
<div class="paragraph">
<p>Then, install plentyBase on your computer just as you would any other program. Since the installation process differs depending on your operating system, only plentyBase specific settings are described in the following.</p>
</div>
<div class="paragraph instruction">
<p>Installing plentyBase:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Run the installation file.</p>
</li>
<li>
<p>During the installation process, select the HTTPS port for communication between the computer and plentyBase for the option <strong>Enter a HTTPS port above 1023</strong>.<br>
<strong><em>Note:</em></strong> The HTTPS port 7331 is selected by default because it is free on most computers. Only change this default value if the port 7331 is already in use on your computer.<br>
<strong><em>Tip:</em></strong> Open the command line and use one of the following commands to see which ports of your computer are already in use:</p>
<div class="ulist">
<ul>
<li>
<p>Windows: netstat -ano | find/i “listening”<br></p>
</li>
<li>
<p>Mac OSX: sudo lsof -i -P | grep -i LISTEN<br>
<strong><em>Note:</em></strong> If you want to connect plentyBase to the plentymarkets app to print plentyPOS receipts using a local printer, activate the option <strong>Add HTTP server with the following port:</strong> and enter an HTTP port.  The HTTP port 7332 is selected by default because it is free on most computers. Only change this default value if the port 7332 is already in use on your computer.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Complete the installation process.<br>
→ plentyBase is installed on the computer.<br>
→ plentyBase is added to the auto-start programs of the operating system (Windows and MacOS only).</p>
</li>
<li>
<p>Click on the plentyBase icon in the computer’s task bar.</p>
</li>
<li>
<p>Select the option <strong>Open configuration</strong> from the drop-down list.<br>
→ The <strong>Configuration</strong> window opens.</p>
</li>
<li>
<p>Activate the option <strong>Check for updates on plentyBase startup</strong>.</p>
</li>
<li>
<p>Click on <strong>OK</strong> to save the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Saving plentyBase connection data in the plentymarkets back end</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After installation, save the connection data in the plentymarkets back end. This ensures that your plentymarkets system can communicate with plentyBase.</p>
</div>
<div class="paragraph instruction">
<p>Saving plentyBase connection data in the plentymarkets back end:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log in to the back end of your plentymarkets system.</p>
</li>
<li>
<p>Go to <strong>plentymarkets Logo (Start) » plentyBase</strong>.<br>
→ The plentyBase dashboard opens.</p>
</li>
<li>
<p>Open the <strong>Settings</strong> view.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-plentybase-connection-data">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ plentyBase is now active and offers its functionalities to all users of your plentymarkets system.<br>
→ The plentyBase icon is displayed in the computer’s task bar. This shows that the tool is running.</p>
</li>
<li>
<p>Copy the access token to the clipboard.</p>
</li>
<li>
<p>Click on the plentyBase icon in the computer’s task bar.</p>
</li>
<li>
<p>Select the option <strong>Open configuration</strong> from the drop-down list.</p>
</li>
<li>
<p>Activate the option <strong>Use authentication</strong>.</p>
</li>
<li>
<p>Click on <strong>Manage access token</strong>.<br>
→ The <strong>Manage access token</strong> window opens.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The <strong>Add access tokens</strong> window opens.</p>
</li>
<li>
<p>Paste the access token from the clipboard to the <strong>Access token</strong> field.</p>
</li>
<li>
<p>Enter a description of the token (optional).</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The access token is saved.</p>
</li>
</ol>
</div>
<table id="table-plentybase-connection-data" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Saving plentyBase connection data in the plentymarkets back end</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setting</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Server address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not change the default address <code><a href="https://local.plentybase.de" class="bare">https://local.plentybase.de</a></code> saved in this field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The HTTPS port that you assigned to plentyBase during installation. The default value is 7331. If a different HTTPS port was specified during installation, enter the number of that HTTPS port.<br>
<strong><em>Note:</em></strong> The ports 0 to 1023 are system ports and cannot be used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Test connection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Checks if plentymarkets is connected to plentyBase.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate system-wide access token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The access token is used for authentication with the plentyBase API interface. Click on <strong>Generate token</strong> and confirm your action to generate a new access token.<br>
<strong><em>Note:</em></strong> The previous access token is overwritten whenever you generate a new access token. Save the new token immediately in the plentyBase settings after generating it. Are you using plentyBase on multiple computers? If yes, make sure that the token is saved on every device.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. Limiting access to local directories via plentyBase</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By default, plentyBase has access on all directories of your computer. Do you want to restrict access to specific directories? If so, proceed as described below to grant access to selected directories only. As a result, all directories on your computer that you have not selected will be automatically blocked for access via plentyBase.</p>
</div>
<div class="paragraph instruction">
<p>Limiting access to local directories via plentyBase:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the plentyBase icon in the computer’s task bar.</p>
</li>
<li>
<p>Select the option <strong>Open configuration</strong> from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Manage directory access</strong>.<br>
→ The <strong>Manage directory access</strong> window opens.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The directories available on the computer are listed in the <strong>Open</strong> window.</p>
</li>
<li>
<p>Click on the directory that you want to grant access to.</p>
</li>
<li>
<p>Click on <strong>Select</strong>.<br>
→ The directory is shown in the list of the <strong>Manage directory access</strong> window. The option <strong>Access</strong> is automatically activated.</p>
</li>
<li>
<p>To grant access to all subdirectories of the directory, activate the check box in the <strong>Subdirectories</strong> column.</p>
</li>
<li>
<p>Add additional directories as necessary.</p>
</li>
<li>
<p>Click on <strong>OK</strong> to save the settings.<br>
→ plentyBase can now only access the directories activated in the <strong>Access</strong> column.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Granting plentyBase access to additional domains</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentyBase provides an interface between plentymarkets and the computer on which plentyBase is installed. To prevent unauthorised access, plentyBase can only access the local computer via the following plentymarkets domains:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><code>plentymarkets-cloud-de.com</code></p>
</li>
<li>
<p><code>plentymarkets-cloud-ie.com</code></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Additional domains must be specified in the plentyBase settings. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Granting plentyBase access to additional domains:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the plentyBase icon in the computer’s task bar.</p>
</li>
<li>
<p>Select the option <strong>Open configuration</strong> from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Manage domain access</strong>.<br>
→ The <strong>Manage domain access</strong> window opens.<br>
→ A list of the saved domains is shown.<br></p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ An additional empty line is inserted.</p>
</li>
<li>
<p>In the <strong>Domain</strong> column, double-click on the empty line.</p>
</li>
<li>
<p>Enter the domain without the leading <strong>https://</strong> or <strong>http://</strong>.</p>
</li>
<li>
<p>Activate the check box in the <strong>Access</strong> column.</p>
</li>
<li>
<p>Add additional domains and grant accecss as necessary.</p>
</li>
<li>
<p>Click on <strong>OK</strong> to save the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Making plentyBase available in a network</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can install plentyBase on one computer of a network and make it available for other computers within the same network. To use plentyBase within a network, the IP address and the host name of the computer on which plentyBase is installed need to be saved in the HOSTS files of the other computers in the network.</p>
</div>
<div class="sect2">
<h3 id="610">6.1. Installing plentyBase on a network computer</h3>
<div class="ulist">
<ul>
<li>
<p>First, <a href="#200">install plentyBase</a> on a computer within the network.</p>
</li>
<li>
<p>Write down the IP-address of the host computer on which plentyBase is installed.</p>
</li>
<li>
<p><strong><em>Note:</em></strong> We recommend assigning a static IP address to the host computer.</p>
</li>
<li>
<p>If you did not use the default HTTPS port 7331, also write down the HTTPS port number you entered during installation.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="620">6.2. Saving IP data in HOSTS file of other network computers</h3>
<div class="paragraph">
<p>The HOSTS file is a local text file of the operating system in which host names are assigned to specific IP addresses.  In the HOSTS file of the client computer, you enter the IP address and host name of the computer in the network on which plentyBase is installed. This way, the client computer can access plentyBase. You need admin rights to edit the HOSTS file of the client computer.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Edit the HOSTS file at your own risk</div>
<div class="paragraph">
<p>The HOSTS file is an important system file. You edit this file at your own risk. plentymarkets does not assume any guarantee or liability for any damages, subsequent damages or loss that may be caused by modifying the HOSTS file. Also note the following:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Before editing the host file, create a backup copy of the host file.</p>
</li>
<li>
<p>Do not delete or edit existing entries in the HOSTS file.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The process of editing the HOSTS file differs according to the operating system that you are using. Click on the appropriate tab to view instructions for your operating system.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="windows-tab" data-toggle="tab" href="#windows" role="tab" aria-controls="windows" aria-selected="true">Windows</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="macosx-tab" data-toggle="tab" href="#macosx" role="tab" aria-controls="macosx" aria-selected="false">MacOSX</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="linux-tab" data-toggle="tab" href="#linux" role="tab" aria-controls="linux" aria-selected="false">Linux</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="windows" role="tabpanel" aria-labelledby="windows-tab">
<div class="paragraph instruction">
<p>Editing the HOSTS file in Windows:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the Windows symbol at the bottom left.<br>
<strong><em>Windows 8 only:</em></strong> Navigate to the tile view.</p>
</li>
<li>
<p>Search for <strong>Editor</strong>.<br>
→ The editor is shown in the list of programs.</p>
</li>
<li>
<p>Right-click on the editor shortcut and select <strong>Run as administrator</strong>.</p>
</li>
<li>
<p>Confirm the dialogue by clicking on <strong>Yes</strong>.<br>
→ The editor opens.</p>
</li>
<li>
<p>Click on <strong>File » Open</strong>.</p>
</li>
<li>
<p>Navigate to the path C:\\Windows\\System32\\Drivers\\etc.<br>
<strong><em>Tip:</em></strong> From the drop-down list on the bottom right, select the option*All files*.<br>
→ The HOSTS file opens and can be edited.</p>
</li>
<li>
<p>At the bottom of the file, enter the IP address of the host computer on which plentyBase is installed followed by the host address <code>local.plentybase.de</code>. This results in the following pattern:<br>
[IP address of the host computer] local.plentybase.de<br>
<strong><em>Example:</em></strong> 123.123.1.123 local.plentybase.de<br>
<strong><em>Note:</em></strong> Lines beginning with <code><mark></mark></code> are comments and will not be interpreted. Thus, your entry cannot start with <code></code>.</p>
</li>
<li>
<p><strong>Save</strong> the file.<br>
<strong><em>Tip:</em></strong> If plentymarkets is open in a browser, reload the browser tab.</p>
</li>
<li>
<p>If you did not enter the default port HTTPS port 7331during installation on the host computer, <a href="#300">enter the HTTPS port of the host computer in the plentymarkets back end</a>.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="macosx" role="tabpanel" aria-labelledby="macosx-tab">
<div class="paragraph instruction">
<p>Editing the HOSTS file in MacOSX:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the Finder.</p>
</li>
<li>
<p>In the task bar, click on <strong>Go to » Go to folder …​</strong>.<br>
→ The window <strong>Go to folder …​</strong> window opens.</p>
</li>
<li>
<p>Enter <code>/private/etc</code> into the field.<br>
→ The file <strong>etc</strong> opens.</p>
</li>
<li>
<p>Copy the <strong>hosts</strong> file.</p>
</li>
<li>
<p>Paste the copy to a different folder or to the desktop.</p>
</li>
<li>
<p>Open the copy of the <strong>hosts</strong> file with TextEdit or another editor.</p>
</li>
<li>
<p>At the bottom of the file, enter the IP address of the host computer on which plentyBase is installed followed by the host address <code>local.plentybase.de</code>. This results in the following pattern:<br>
[IP address of the host computer] local.plentybase.de<br>
<strong><em>Example:</em></strong> 123.123.1.123 local.plentybase.de<br>
<strong><em>Note:</em></strong> Lines beginning with <code><mark></mark></code> are comments and will not be interpreted. Thus, your entry cannot start with <code></code>.</p>
</li>
<li>
<p><strong>Save</strong> the file.</p>
</li>
<li>
<p>Drag and drop the edited copy of the file to the original folder <strong>/private/etc</strong>.<br>
→ A warning is displayed.</p>
</li>
<li>
<p>Confirm that you want to replace the unedited file.</p>
</li>
<li>
<p>Enter your user password to confirm the replacement.<br>
→ The file is saved.<br>
<strong><em>Tip:</em></strong> If plentymarkets is open in a browser, reload the browser tab.</p>
</li>
<li>
<p>If you did not enter the default port HTTPS port 7331during installation on the host computer, <a href="#300">enter the HTTPS port of the host computer in the plentymarkets back end</a>.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="linux" role="tabpanel" aria-labelledby="linux-tab">
<div class="paragraph instruction">
<p>Editing the HOSTS file in Linux:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the file manager.</p>
</li>
<li>
<p>Navigate to the path <code>/etc</code>.<br>
→ Open the <strong>hosts</strong> file with a text editor and administrator rights.</p>
</li>
<li>
<p>At the bottom of the file, enter the IP address of the host computer on which plentyBase is installed followed by the host address <code>local.plentybase.de</code>. This results in the following pattern:<br>
[IP address of the host computer] local.plentybase.de<br>
<strong><em>Example:</em></strong> 123.123.1.123 local.plentybase.de<br>
<strong><em>Note:</em></strong> Lines beginning with <code><mark></mark></code> are comments and will not be interpreted. Thus, your entry cannot start with <code></code>.</p>
</li>
<li>
<p><strong>Save</strong> the file.<br>
<strong><em>Tip:</em></strong> If plentymarkets is open in a browser, reload the browser tab.</p>
</li>
<li>
<p>If you did not enter the default port HTTPS port 7331during installation on the host computer, <a href="#300">enter the HTTPS port of the host computer in the plentymarkets back end</a>.</p>
</li>
</ol>
</div>
</div></div>
</div>
<div class="sect2">
<h3 id="700">6.3. Saving plentyBase connection data in the plentymarkets app</h3>
<div class="paragraph">
<p>You can also connect plentyBase to the plentymarkets app. To establish a connection between plentyBase and the plentymarkets app, you need to activate the option <strong>HTTP port</strong> in the plentyBase configuration settings and enter a HTTP port. The HTTP port 7332 is selected by default.</p>
</div>
<div class="paragraph">
<p>After saving the plentyBase connection data in the plentymarkets app, you can:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Print plentyPOS receipts on any printers that can be accessed from the computer on which plentyBase is installed.</p>
</li>
<li>
<p>Run plugins that require plentyBase in the app.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You need the following data to save the plentyBase connection data in the plentymarkets app:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The IP address of the computer on which plentyBase is installed.</p>
</li>
<li>
<p>The HTTP port that was assigned to plentyBase on the computer.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Information on receipt printers</div>
<div class="paragraph">
<p>Receipt printers are linked to the plentymarkets app via their IP address. Thus, plentyBase is not required to run a receipt printer.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Saving plentyBase connection data in the plentymarkets app:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into the plentymarkets app.</p>
</li>
<li>
<p>In the menu bar, tap the <strong>menu symbol</strong>.</p>
</li>
<li>
<p>Tap on <strong>Settings</strong>.</p>
</li>
<li>
<p>Tap on <strong>plentyBase</strong>.<br>
→ The <strong>plentyBase</strong> settings menu opens.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-plentybase-connection-data-app">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-plentybase-connection-data-app" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Saving plentyBase connection data in the plentymarkets app</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setting</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IP address</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The IP address of the computer on which plentyBase is installed. If plentyBase is installed in a network and can be accessed by other computers, enter the IP address of the host computer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HTTP port</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the HTTP port that was assigned to plentyBase on the computer.
 Port 7332 is selected by default. Click on the plentyBase icon in the computer’s task bar and then on <strong>Open configuration</strong> to see which HTTP port is used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Test connection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tap to test if a connection to the computer on which plentyBase is installed can be established.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Authentication</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Access token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the access token that is saved in plentyBase for this computer.<br>
<strong><em>Tip:</em></strong> The access token is displayed as a QR code in the <strong>plentymarkets logo (Start) » plentyBase » View: Settings</strong> in the plentymarkets back end. To scan the QR code, tap the QR code symbol at the top right of the app screen and scan the QR code.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate access token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tap to generate a new access token.<br>
<strong><em>Note:</em></strong> If a new access token is generated in the plentymarkets app, this token must also be saved in the settings of the plentyBase tool. Make sure to save the new token on all computers and mobile devices on which plentyBase is used.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="800">7. Installing a plugin for plentyBase</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following plugins are available in the plentyMarketplace and require that plentyBase is already installed:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plentybaseitemcachepos_6313" target="_blank" rel="noopener">plentyBase ItemCachePOS</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plentybasepackbylight_6367" target="_blank" rel="noopener">plentyBase PackByLight</a></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plentybasecustomerdisplaypos_6359" target="_blank" rel="noopener">plentyBase CustomerDisplayPOS</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Pay attention to the following instructions when installing one of those plugins.</p>
</div>
<div class="paragraph instruction">
<p>Installing a plugin for plentyBase:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Save the installation file of the plugin on the computer on which plentyBase is installed.<br>
<strong><em>Note:</em></strong> The installation files of plentyBase plugins always have the file ending <strong>.jar</strong>.</p>
</li>
<li>
<p>Log in to the back end of your plentymarkets system.</p>
</li>
<li>
<p>Go to <strong>plentymarkets Logo (Start) » plentyBase</strong>.<br>
→ The plentyBase dashboard opens.</p>
</li>
<li>
<p>Open the <strong>Plugins</strong> view.</p>
</li>
<li>
<p>Click on <strong>Install plugin</strong>.</p>
</li>
<li>
<p>Navigate to the plugin installation file.</p>
</li>
<li>
<p>Select the installation file.<br>
→ The plugin is installed.<br>
→ The plugin is displayed in the list of plugins.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">8. Sending plentyBase log files to the plentymarkets support</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to send plentyBase log files to the plentymarkets support.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Only send log files upon request</div>
<div class="paragraph">
<p>Always wait until a member of the plentymarkets support team requests the log files before sending them. Always send the file as an attachment of a private message to the group @plenty-prozesse in the plentymarkets forum.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Sending plentyBase log files to the plentymarkets support:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Start plentyBase.</p>
</li>
<li>
<p>Run the process until the behaviour that you would like to report occurs.</p>
</li>
<li>
<p>Click on the plentyBase icon in the computer’s task bar.</p>
</li>
<li>
<p>Click on <strong>Show log files</strong>.<br>
→ The <strong>Logs</strong> file is displayed.</p>
</li>
<li>
<p>Pack the <code>plentyBase.log`file as a ZIP or RAR file.<br>
<strong><em>Tip:</em></strong> The `plentyBase.log</code> file always contains the latest log data. Did the behaviour occur on a different day? Then pack the file with the date on which the behaviour occured.</p>
</li>
<li>
<p>Send the file as an attachment of a private message to the group @plenty-prozesse in the plentymarkets forum. If possible, include a link to your original forum thread. Alternatively, include the error message(s) displayed and the IDs of orders and items that are affected by the behaviour. This helps the support team to analyse possible errors faster.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">9. plentyBase: FAQ and error handling</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following sub-chapters list the questions and errors that frequently arise in connection with plentyBase.</p>
</div>
<div class="sect2">
<h3 id="1100">9.1. "Authentication for plentyBase tool missing. Check access token settings.”</h3>
<div class="paragraph">
<p>This message is not exactly an error message. Rather, it informs you that you have not yet set up an access token to establish a secure connection between plentymarkets and plentyBase.</p>
</div>
<div class="paragraph">
<p>Create a token in plentymarkets and save it in plentyBase to keep this message from appearing. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Starting plentyBase and opening the menu:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Start plentyBase.</p>
</li>
<li>
<p>Log in to the back end of your plentymarkets system.</p>
</li>
<li>
<p>Go to <strong>plentymarkets Logo (Start) » plentyBase</strong>.</p>
</li>
<li>
<p>Open the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Generate a token and copy it to the clipboard.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon lightGrey"><i class="fa fa-save  "></i></span>) the changes.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automation/prozesse/assets/accesstoken-EN.png" alt="accesstoken EN" width="640">
</div>
</div>
<div class="paragraph instruction">
<p>Opening the settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on the plentyBase logo in your computer’s task bar and click on <strong>Open configuration</strong>.<br></p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automation/processes/assets/process.png" alt="process">
</div>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/automatisierung/prozesse/assets/baseWin.png" alt="baseWin" width="640" height="360">
</div>
</div>
<div class="paragraph instruction">
<p>Saving a token:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Manage access token</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>On the right, paste the copied token from the clipboard. To the right, enter <strong>plentymarkets</strong>, for example.</p>
</li>
<li>
<p>Click on <strong>OK</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1200">9.2. “plentyBase not connected. Check status”</h3>
<div class="paragraph">
<p>The error message “plentyBase not conneected. Check status` refers to different connection problems that may occur with plentyBase. First, make sure that you have correctly generated <strong>and</strong> saved the plenty access token <a href="#700">as described above</a>.</p>
</div>
<div class="paragraph">
<p>If you are using a Fritz!Box, connection problems might be directly related to it. Users operating a Fritz!Box can find a suitable forum <a href="https://forum.plentymarkets.com/t/es-kann-keine-verbindung-zu-plentybase-hergestellt-werden-fritzbox-benutzer-loesungsvorschlag/607564" target="_blank" rel="noopener">in this forum topic</a>.</p>
</div>
</div>
</div>
</div>
</main>