<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Bei Neckermann.at registrieren</span></a></li>
<li><a href="#200"><span>2.</span><span> Neckermann.at in plentymarkets einrichten</span></a></li>
<li><a href="#250"><span>3.</span><span> Auftragsherkunft aktivieren</span></a></li>
<li><a href="#300"><span>4.</span><span> Auftragsstatus einstellen</span></a></li>
<li><a href="#400"><span>5.</span><span> FTP-Serverzugang einrichten</span></a></li>
<li><a href="#500"><span>6.</span><span> Komponenten importieren</span></a></li>
<li><a href="#600"><span>7.</span><span> Merkmale verknüpfen</span></a></li>
<li><a href="#700"><span>8.</span><span> Logos importieren</span></a></li>
<li><a href="#800"><span>9.</span><span> Kategorien verknüpfen</span></a></li>
<li><a href="#900"><span>10.</span><span> Primär-Kategorien aktivieren</span></a></li>
<li><a href="#1000"><span>11.</span><span> Attribute verknüpfen</span></a></li>
<li><a href="#1100"><span>12.</span><span> Hersteller verknüpfen</span></a></li>
<li><a href="#1200"><span>13.</span><span> Exportierte Artikel anzeigen</span></a></li>
<li><a href="#1300"><span>14.</span><span> Fehlerberichte anzeigen</span></a></li>
<li><a href="#1400"><span>15.</span><span> Artikelverfügbarkeit einstellen</span></a></li>
<li><a href="#1450"><span>16.</span><span> SKU manuell festlegen</span></a></li>
<li><a href="#1500"><span>17.</span><span> Energieeffizienz angeben</span></a></li>
<li><a href="#1600"><span>18.</span><span> Zahlungsart aktivieren</span></a></li>
<li><a href="#1700"><span>19.</span><span> Retouren erstellen</span></a></li>
<li><a href="#1800"><span>20.</span><span> Aufträge stornieren</span></a></li>
<li><a href="#1850"><span>21.</span><span> Neckermann-Rechnung erzeugen</span></a></li>
<li><a href="#1900"><span>22.</span><span> API-Log abrufen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Neckermann.at einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Neckermann Österreich bietet dir die Möglichkeit, deine Produkte auf dem Marktplatz <strong>neckermann.at</strong> zu präsentieren. Du erhältst auf dieser Handbuchseite detaillierte Informationen zur Vorgehensweise, um den Marktplatz Neckermann Österreich für dein plentymarkets System einzurichten. Beachte diese Informationen, um eine möglichst reibungslose Anbindung zu gewährleisten.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Bei Neckermann.at registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du Partner bei <a href="http://www.neckermann.at/" target="_blank" rel="noopener">Neckermann Österreich</a> werden möchtest, wende dich bitte zunächst direkt an Neckermann.at.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Ansprechpartner</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ansprechpartner</th>
<th class="tableblock halign-left valign-top">E-Mail-Adresse</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>René Riebenbauer</strong> - Leitung Vertriebsplattform und Contentmanagement</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="mailto:rene.riebenbauer@neckermann.at" target="_blank" rel="noopener">rene.riebenbauer@neckermann.at</a></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Neckermann.at in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du Neckermann-Partner geworden bist, verwende deine Zugangsdaten, um den Marktplatz in plentymarkets einzurichten. Du kannst die Plattform Neckermann.at Enterprise an plentymarkets anbinden. Um Neckermann.at Enterprise in plentymarkets einzurichten, gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Neckermann.at in plentymarkets einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Neckermann Österreich Enterprise</strong>.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Grundeinstellungen</strong> auf.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#grundeinstellungen-neckermann">Tabelle 2</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="grundeinstellungen-neckermann" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Grundeinstellungen des Marktplatzes Neckermann.at</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schnittstellenmodus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schnittstellenmodus wählen.<br>
<strong>Testmodus EIN</strong> = Wählen, wenn Einstellungen und Vorbereitungen an Schnittstelle und Artikeln getroffen werden.<br>
<strong>Aktivmodus EIN</strong> = Wählen, nachdem du sicher bist, dass alle Einstellungen korrekt vorgenommen wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Vertriebspartner-Information</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Partner-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, wie von Neckermann erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Firmenname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Firmen- oder Webshop-Name eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong>, <strong>Vorname (Kontaktperson)</strong>; <br>
<strong>Telefonnummer (Kontaktperson)</strong>;<br>
<strong>E-Mail-Adresse (Kontaktperson)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name, Telefonnummer und E-Mail-Adresse der Kontaktperson eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Artikeleinstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Regelsteuersatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>10 %</strong> oder <strong>20 %</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ermäßigter Steuersatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>7 %</strong> oder <strong>19 %</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Textfeld wählen, das als Artikelname an Neckermann übertragen wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname (maximale Länge)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>35 Zeichen</strong> oder <strong>65 Zeichen</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelvorschautext</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Textfeld wählen, das als Artikelvorschautext an Neckermann übertragen wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelvorschautext (maximale Länge)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>30 Zeichen</strong> oder <strong>50 Zeichen</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelkurztext</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Textfeld wählen, das als Artikelkurztext an Neckermann übertragen wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelbeschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Textfeld wählen, das als Artikelbeschreibung an Neckermann übertragen wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel ohne Markenzuordnung übertragen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nein</strong> = Artikel werden standardmäßig mit Markenzuordnung übertragen.<br>
<strong>Ja</strong> = Artikel werden ohne Markenzuordnung übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bildposition für das Energieetikett</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ziffer der Bildposition des Artikelbildes eingeben, wenn das Energieetikett als Artikelbild und nicht als Merkmal gespeichert wurde. Weitere Informationen zum Energieetikett findest du im Kapitel <a href="#1500">Energieeffizienz angeben</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cross-Selling übertragen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nein</strong> = Cross-Selling-Einstellungen werden standardmäßig nicht übertragen.<br>
<strong>Ja</strong> = Cross-Selling-Einstellungen werden übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UVP übertragen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nein</strong> = Die UVP wird standardmäßig nicht übertragen.<br>
<strong>Ja</strong> = Die UVP wird übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Am Artikel hinterlegte Artikelmaße</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelmaße wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandanten (Shop) ID übertragen?</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nein</strong> = Die ID wird standardmäßig nicht übertragen.<br>
<strong>Ja</strong> = Die ID wird übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standardprovisionsmodell</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provisionsmodell wählen, wie von Neckermann erhalten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandspuffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der übertragene Bestand von Artikeln wird um den eingegebenen Wert reduziert, damit der Arikel auf diesem Marktplatz nicht vollständig abverkauft wird.<br>
<strong>Beispiel</strong>: Für einen Artikel mit einem Bestand von 50 und einem Bestandspuffer von 10 wird der Bestandswert 40 übertragen. Weitere Informationen findest du auf der Handbuchseite <a href="/warenwirtschaft/warenbestaende-verwalten">Warenbestände verwalten</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferzeiten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standardlieferzeiten</strong> = Lieferzeit in Tagen eingeben. Diese Lieferzeit ist die Standardlieferzeit, die Sie für die meisten Ihrer Sendungen benötigen.<br>
<strong>Artikel-Lieferzeit 1 - 5</strong> = Lieferzeit in Tagen bei jeder Option eingeben. Die Optionen für Artikelverfügbarkeit werden im Menü <strong>Einrichtung » Artikel » Verfügbarkeit</strong> eingerichtet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Feature-Liste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Textfeld oder <strong>Nicht übertragen</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelnummer übertragen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nein</strong> = Artikelnummer wird nicht übertragen.<br>
<strong>Ja</strong> = Artikelnummer wird beim Artikelexport übertragen. Maximal 20 Zeichen werden übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit für Artikel ohne Bestandsbeschränkung, falls der Bestand 0 ist, überschreiben?</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja, mit Artikelverfügbarkeit 1 bis 5</strong> = Verfügbarkeit durch Artikelverfügbarkeit 1 bis 5 (siehe Lieferzeiten) überschreiben. <br>
<strong>Nein</strong> = Verfügbarkeit nicht überschreiben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandsmenge für Artikel ohne Bestandsbeschränkung, falls der Bestand 0 ist</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eingeben, welche Bestandsmenge bei fehlendem Bestand angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bestelleinstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufträge als nicht bezahlt buchen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> = In der Grundeinstellung kommen die Aufträge als <strong>nicht bezahlt</strong> im System an, da die Zahlung zu einem späteren Zeitpunkt abgewickelt wird.<br>
<strong>Nein</strong> = Aufträge werden als <strong>bezahlt</strong> gebucht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Paketnummer speichern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> = Die Paketnummer wird standardmäßig übertragen.<br>
<strong>Nein</strong> = Die Paketnummer wird nicht übertragen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die Anbindung des Marktplatzes stellt folgende automatisierten Funktionen bereit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Täglicher Artikelexport</p>
</li>
<li>
<p>Stündlicher Bestandsabgleich</p>
</li>
<li>
<p>Stündlicher Auftragsimport</p>
</li>
<li>
<p>Stündliche Meldung von Versandbestätigungen</p>
</li>
<li>
<p>Stündliche Meldung von Retouren</p>
</li>
<li>
<p>Stündliche Meldung von Stornierungen</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Paketnummern übertragen</div>
<div class="paragraph">
<p>Jeder einzelne Neckermann-Auftrag darf nicht mehr als eine Paketnummer besitzen. Wird diese Bedingung nicht erfüllt, werden die entsprechenden Aufträge nicht an Neckermann gemeldet!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Auftragsherkunft aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit du Artikel, Merkmale etc. mit Neckermann.at verknüpfen kannst, muss im Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> die Auftragsherkunft <strong>Neckermann.at Enterprise</strong> aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsherkunft für Neckermann.at aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Auftragsherkunft</strong>.</p>
</li>
<li>
<p>Setze bei <strong>Neckermann.at Enterprise</strong> ein Häkchen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Auftragsstatus einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Bereich stellst du deine Auftragsstatus für Stornierungen ein und legst fest, wann Retouren an Neckermann gemeldet werden.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsstatus einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Neckermann Österreich Enterprise</strong>.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Auftragsstatus</strong> auf.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#auftragsstatus-neckermann">Tabelle 3</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="auftragsstatus-neckermann" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Auftragsstatus einstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstatus für Komplettstornierung "Bestandsstorno"</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status wählen, z.B. <strong>[8] Storniert</strong>, <strong>[9] Retoure</strong> oder <strong>[10] Gewährleistung</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstatus für Komplettstornierung "Kundenstorno"</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status wählen, z.B. <strong>[8] Storniert</strong>, <strong>[9] Retoure</strong> oder <strong>[10] Gewährleistung</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retouren melden wenn in Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status wählen, z.B. <strong>[9] Retoure</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">5. FTP-Serverzugang einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Bereich richtest du den Zugang zum FTP-Server ein. Der Zugang wird für den Auftrags- und Rechnungsimport von Neckermann benötigt.</p>
</div>
<div class="paragraph instruction">
<p>FTP-Serverzugang einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Neckermann Österreich Enterprise</strong>.</p>
</li>
<li>
<p>Klappe den Bereich <strong>FTP-Server</strong> auf.</p>
</li>
<li>
<p>Gib die Zugangsdaten ein, die du von Neckermann erhalten hast.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">6. Komponenten importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Komponenten beim Marktplatz Neckermann entsprechen den Merkmalen in plentymarkets. Merkmale in plentymarkets müssen mit Komponenten von Neckermann verknüpft werden. plentymarkets Merkmale werden durch Hochladen einer CSV-Datei, welche die Neckermann-Komponenten enthält, mit Neckermann-Komponenten verknüpft. Die notwendige Datei erhältst du von Neckermann bei Vertragsabschluss.</p>
</div>
<div class="paragraph instruction">
<p>Neckermann-Komponenten importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne die Datei von Neckermann.</p>
</li>
<li>
<p>Markiere und kopiere die Spalten <strong>COMPONENT_ID</strong> und <strong>COMPONENT_NAME</strong>.</p>
</li>
<li>
<p>Füge die Spalten in eine neue Datei einer Tabellenkalkulationssoftware ein.</p>
</li>
<li>
<p>Speichere die Datei im CSV-Format auf deinem Rechner.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Neckermann Österreich Enterprise</strong>.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Komponenten-Import</strong> auf.</p>
</li>
<li>
<p>Wähle das Feldtrennzeichen.</p>
</li>
<li>
<p>Klicke auf <strong>Datei auswählen</strong>.</p>
</li>
<li>
<p>Öffne die CSV-Datei.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Neckermann-Komponenten können nun in den Dropdown-Listen der Merkmale gewählt werden.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">7. Merkmale verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Als nächstes verknüpfst du deine <a href="/artikel/artikel-verwalten#480">Merkmale</a> mit den Neckermann-Komponenten.</p>
</div>
<div class="paragraph instruction">
<p>Merkmale verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Klappe ein Merkmal auf.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste im Feld <strong>Neckermann.at EP Komponente</strong> die Neckermann-Komponente.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">8. Logos importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Neckermann stellt verschiedene Logos, z. B. für Eigenschaften oder Qualitätsmerkmale zur Verfügung. Logos werden durch Hochladen einer CSV-Datei importiert, die Daten von Neckermann enthält. Logos verknüpfst du auf die gleiche Weise wie Neckermann-Komponenten.</p>
</div>
<div class="paragraph instruction">
<p>Neckermann-Logos importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne die Datei von Neckermann.</p>
</li>
<li>
<p>Markiere und kopiere die Spalten <strong>LOGO_ID</strong>, <strong>LOGO_DESCRIPTION</strong> und <strong>Kurzbeschreibung</strong>.</p>
</li>
<li>
<p>Füge die Spalten in eine neue Datei einer Tabellenkalkulationssoftware ein, die den Spaltennamen <strong>LOGO_ID;LOGO_NAME;SHORT_NAME</strong> hat.</p>
</li>
<li>
<p>Speichere die Datei im CSV-Format auf deinem Rechner.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Neckermann Österreich Enterprise</strong>.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Infologo-Import</strong> auf.</p>
</li>
<li>
<p>Wähle das Feldtrennzeichen.</p>
</li>
<li>
<p>Klicke auf <strong>Durchsuchen…​</strong>.</p>
</li>
<li>
<p>Öffne die CSV-Datei.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Neckermann-Logos können nun in den Dropdown-Listen der Merkmale gewählt werden.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">9. Kategorien verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du erhältst von Neckermann eine Datei mit Kategorien, in die du deine Webshop-Kategorien einordnen musst. Die Kategorien werden dann verknüpft und weitere Artikel der verknüpften Kategorien werden automatisch zugewiesen.</p>
</div>
<div class="paragraph instruction">
<p>Kategorien verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Neckermann Österreich Enterprise</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Kategorien importieren</strong>.</p>
</li>
<li>
<p>Gib die Kategorien in die Spalte <strong>Neckermann-Kategorie-ID</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">10. Primär-Kategorien aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du einen Artikel mit mehreren Kategorien verknüpft hast, z.B. wenn du verschiedene Kategorieverknüpfungen für verschiedene Marktplätze verwendest, kannst du im Tab <strong>Kategorien</strong> eines Artikels die Primärkategorie aktivieren. Wenn du keine Primär-Kategorie aktivierst, wird automatisch die erste Kategorie als Primär-Kategorie verwendet.</p>
</div>
<div class="paragraph instruction">
<p>Primär-Kategorie aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne einen Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Kategorien</strong>.<br>
→ Primär-Kategorien sind nur unter <strong>Kategorieverknüpfungen</strong> verfügbar, wenn der Marktplatz <strong>Neckermann</strong> aktiviert ist.</p>
</li>
<li>
<p>Aktiviere eine Primär-Kategorie.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">11. Attribute verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du <a href="/artikel/artikel-verwalten#390">Attribute</a> im plentymarkets System erstellt hast, müssen diese Attribute mit Neckermann verknüpft werden. Dazu musst du zunächst die <a href="#500">Neckermann-Komponenten</a> importieren. Nachfolgend wird beschrieben, wie du das Attribut Farbe mit Neckermann verknüpfst. Verknüpfe andere Attribute auf die gleiche Weise.</p>
</div>
<div class="paragraph instruction">
<p>Attribute verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute</strong>.<br>
→ Eine Übersicht aller erstellten Attribute wird geöffnet.</p>
</li>
<li>
<p>Klappe das Attribut <strong>Farbe</strong> auf.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Marktplatzvariation</strong>.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Marktplatz</strong> die Option <strong>Neckermann.at Enterprise</strong>.<br>
→ Eine zusätzliche Dropdown-Liste <strong>Neckermann.at Enterprise</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste <strong>Neckermann.at Enterprise</strong> das Attribut <strong>Farbe</strong>.</p>
</li>
<li>
<p>Gib unter <strong>Marktplatzvariation</strong> Werte in der Spalte <strong>Neckermann.at Enterprise</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">12. Hersteller verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Brand-IDs für Neckermann.at werden über den dynamischen Datenaustausch importiert.</p>
</div>
<div class="paragraph instruction">
<p>Brand-IDs von Neckermann.at importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Dynamischer Export » Tab: Neues Datenformat</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Datenformat-Typ</strong> die Einstellung <strong>Producer</strong>.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Aktiviere die Felder <strong>ProducerID</strong>, <strong>ProducerName</strong> und <strong>ProducerNeckermannID_AT_EP</strong> bzw. <strong>ProducerNeckermannID_AT_CD</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Tab <strong>Datenformat bearbeiten</strong> wird geöffnet.</p>
</li>
<li>
<p>Klappe das Datenformat auf.</p>
</li>
<li>
<p>Klicke auf <strong>Daten exportieren</strong>.</p>
</li>
<li>
<p>Speichere die CSV-Datei auf deinem Rechner.</p>
</li>
<li>
<p>Gib in die CSV-Datei unter <strong>ProducerNeckermannID</strong> die passenden Hersteller-IDs ein.<br>
→ Die IDs findest du in der Datei von Neckermann.</p>
</li>
<li>
<p>Öffne das Menü <strong>Daten » Dynamischer Import</strong>.</p>
</li>
<li>
<p>Wähle das Feldtrennzeichen.</p>
</li>
<li>
<p>Wähle unter <strong>Format</strong> dein Datenformat.</p>
</li>
<li>
<p>Klicke auf <strong>Durchsuchen…​</strong>.</p>
</li>
<li>
<p>Öffne die CSV-Datei.</p>
</li>
<li>
<p>Klicke auf <strong>Import</strong>.<br>
→ Nach dem Import der Brand-IDs findest du die Neckermann-ID eines Herstellers im Menü <strong>Einrichtung » Artikel » Hersteller</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Format der CSV-Datei</div>
<div class="paragraph">
<p>Die CSV-Datei darf keine Kopfzeile enthalten. Die erste Spalte enthält die Hersteller-ID und die zweite Spalte die Brand-IDs von Neckermann. Die Hersteller-ID der ersten Spalte ist der entsprechenden Brand-ID der zweiten Spalte zugeordnet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">13. Exportierte Artikel anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » Neckermann Österreich Enterprise » Tab: Übertragene Artikel</strong> suchst du nach bereits an Neckermann übertragenen Artikeln. Gib dazu die Artikel-ID, den Namen oder die Neckermann-Nummer ein, um nach bestimmten Artikeln zu suchen oder lasse das Suchfeld leer, um alle Ergebnisse anzuzeigen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">14. Fehlerberichte anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sämtliche Vorgänge des Marktplatzes Neckermann werden in deinem plentymarkets System protokolliert. Du kannst diese Meldungen aufrufen und erhältst eine Auflistung der Fehlermeldungen bzw. Hinweise mit den zugehörigen IDs. Im Menü <strong>Fehlerberichte</strong> werden Fehler aufgelistet, die mit deinem Warenbestand bei Neckermann zu tun haben. Die folgenden Fehlerarten werden unterschieden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Hinweis</strong>: Ein Hinweis wird angezeigt.</p>
</li>
<li>
<p><strong>Warnung</strong>: Bei Warnungen werden alle Artikel importiert.</p>
</li>
<li>
<p><strong>Fehler</strong>: Bei Fehlern werden keine fehlerhaften Artikel importiert.</p>
</li>
<li>
<p><strong>Kritischer Fehler</strong>: Bei kritischen Fehlern werden keine Artikel importiert.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Fehlerberichte abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Neckermann Österreich Enterprise</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Fehlerberichte</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Fehlerberichte abrufen</strong>.<br>
→ Die Fehlerberichte werden abgerufen und anschließend angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In der Liste <strong>Neueste Fehlerberichte</strong> erhältst du Hinweise über Art und Anzahl der Fehler zu folgenden Datentypen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Media (Bilder)</strong>: Informationen zu Mediendateien.</p>
</li>
<li>
<p><strong>Katalog</strong>: Informationen zum Katalog und aller darin enthaltenen Artikel eines Händlers.</p>
</li>
<li>
<p><strong>Bestandsabgleich</strong>: Informationen zum stündlichen Warenbestandsabgleich sowie Preisabgleich.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Bei Fehlern, die beim Artikelexport aus plentymarkets aufgrund fehlerhafter Artikeldaten auftreten, findest du in der Fehlermeldung Informationen zum betreffenden Artikel sowie zur Fehlerart. Behebe den Fehler und prüfe nach dem nächsten automatischen Artikelexport, ob weitere Fehlermeldungen vorliegen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Fehlermeldungsbeschreibung</div>
<div class="paragraph">
<p>Nähere Angaben zu den Fehlermeldungen erhältst du direkt von Neckermann. Kontaktiere ggf. deinen dortigen Ansprechpartner.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">15. Artikelverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Artikel, die du auf Neckermann.at verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Artikelverfügbarkeit für Neckermann.at einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Hauptvariante im Bereich <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld. <br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere Neckermann.at Enterprise.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Multi-Channel</strong>.</p>
</li>
<li>
<p>Wähle ein <strong>Provisionsmodell</strong>.</p>
</li>
<li>
<p>Wähle einen <strong>Produkttyp</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Verfügbarkeit für Varianten kann im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten » Variante öffnen » Tab: Varianten-ID » Tab: Verfügbarkeit</strong> angepasst werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1450">16. SKU manuell festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID</strong> im Tab <strong>Verfügbarkeit</strong> fügst du, wenn nötig, marktplatzspezifische SKUs hinzu.</p>
</div>
<div class="paragraph instruction">
<p>SKU hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » Artikel öffnen » Tab: Varianten-ID » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>SKU</strong> auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Bearbeitungsfenster <strong>Neue SKU</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle die Herkunft <strong>Neckermann.at</strong>.</p>
</li>
<li>
<p>Gib die SKU ein.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Die SKU wird gespeichert und angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Informationen zum Provisionsmodell und zur Produkttyp erhältst du von Neckermann.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">17. Energieeffizienz angeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für die Auszeichnung deiner Artikel für Neckermann gemäß der neuen Verordnung der EU zur Energieeffizienzrichtlinie sind ab 1.1.2015 Angaben zur Energieeffizienz sowie die Bereitstellung von Produktdatenblättern vorgeschrieben. Erstelle dazu folgende <a href="/artikel/artikel-verwalten#480">Merkmale</a>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Energieeffizienzklasse</strong><br>
Merkmal-Typ: <strong>Kein</strong></p>
</li>
<li>
<p><strong>Energieetikett</strong><br>
Merkmal-Typ: <strong>Datei</strong><br>
Dateiformat: z.B. <strong>JPG</strong> oder <strong>PNG</strong> (Bildformat)</p>
</li>
<li>
<p><strong>Produktdatenblatt</strong><br>
Merkmal-Typ: <strong>Datei</strong><br>
Dateiformat: <strong>PDF</strong></p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Merkmal Energieeffizienzklasse erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Gib den Namen unter <strong>Name (intern)</strong> ein.</p>
</li>
<li>
<p>Wähle den Merkmaltyp <strong>Kein</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Für die Merkmale Energieetikett und Produktdatenblatt wählst du den Merkmaltyp <strong>Datei</strong> und das Neckermann-Merkmal <strong>Energieetikett</strong> bzw. <strong>Produktdatenblatt</strong>. Im Folgenden wird beispielhaft beschrieben, wie du das Energieetikett für Neckermann.at erstellst.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal Energieetikett erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neues Merkmal</strong>.</p>
</li>
<li>
<p>Gib den Namen unter <strong>Backendname</strong> ein.</p>
</li>
<li>
<p>Wähle den Merkmaltyp <strong>Datei</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>Neckermann.at EP Merkmal</strong> das Merkmal <strong>Energieetikett</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Merkmale verknüpfst du im Tab <strong>Merkmale</strong> eines Artikels.</p>
</div>
<div class="paragraph instruction">
<p>Energieeffizienz-Merkmale verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Merkmale</strong>.</p>
</li>
<li>
<p>Aktiviere die soeben erstellten Merkmale <strong>Energieeffizienzklasse</strong>, <strong>Energieetikett</strong> und <strong>Produktdatenblatt</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Merkmale werden in der Liste angezeigt.</p>
</li>
<li>
<p>Lade beim Merkmal <strong>Energieetikett</strong> die Bilddatei des Energieetiketts hoch.</p>
</li>
<li>
<p>Lade beim Merkmal <strong>Produktdatenblatt</strong> die PDF-Datei des Produktdatenblatts hoch.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><span class="icon"><i class="fa fa-map-signs"></i></span> <strong><em>Oder:</em></strong> Speichere das Energieetikett im Tab <strong>Bilder</strong> des Artikels. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Energieetikett als Bild hinterlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Bilder</strong>.</p>
</li>
<li>
<p>Füge die Bilddatei des Energieetiketts entweder über <strong>Dateien auswählen</strong> oder per Drag &amp; Drop-Funktion hinzu.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Neckermann Österreich Enterprise</strong>.</p>
</li>
<li>
<p>Gib die Positionsnummer des Bildes im Bereich <strong>Grundeinstellungen</strong> bei der Option <strong>Bildposition für das Energieetikett</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">18. Zahlungsart aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Aktiviere die <a href="/payment/zahlungsarten-verwalten">Zahlungsart</a> <strong>Neckermann Payment</strong>, wie im Folgenden beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Neckermann-Zahlungsarten aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong>.</p>
</li>
<li>
<p>Aktiviere die Einstellung <strong>Auch inaktive zeigen</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>International</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neckermann Payment</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#zahlungsart-neckermann">Tabelle 4</a>.</p>
</li>
<li>
<p>Setze ein Häkchen bei der Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="zahlungsart-neckermann" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Einstellungen der Zahlungsart</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Folgende Optionen werden sprachabhängig gespeichert: <strong>Name</strong>, <strong>Infoseite</strong>, <strong>Infoseite (Intern)</strong>, <strong>Logo</strong> und <strong>Logo hochladen</strong>. Damit hast du die Möglichkeit, die Werte für diese Optionen in mehreren Sprachen einzugeben. Die Werte einer Sprache werden aktiviert, wenn Käufer im Webshop die Sprache wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name eingeben, der im Webshop und auf Rechnungen etc. angezeigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Als Information zur Zahlungsart eine Kategorieseite vom Typ <strong>Content</strong> oder die URL einer Webseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Infoseite (Extern)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Infoseite</strong> die Einstellung <strong>Infoseite (Extern)</strong> gewählt wurde, hier die URL der Infoseite eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferländer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kein Lieferland wählen.<br>
Du kannst die Zahlungsart nicht in deinem Webshop verwenden. Deshalb wird diese Zahlungsart in plentymarkets nur aktiviert, aber nicht vollständig eingerichtet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine der folgenden Optionen für die Anzeige eines Logos wählen:<br>
<strong>Standardlogo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird angezeigt.<br>
<strong>Kein Logo anzeigen</strong> = Das in plentymarkets für die Zahlungsart eingestellte Logo wird nicht angezeigt.<br>
<strong>Upload-Logo anzeigen</strong> = Blendet die Optionen <strong>Logoansicht</strong> und <strong>Logo hochladen</strong> ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logoansicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, wird das hochgeladene Logo hier angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo hochladen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn unter <strong>Logo</strong> die Option <strong>Upload-Logo anzeigen</strong> gewählt wurde, hier ein externes Logo hochladen.<br>
Auf <strong>Dateien hochladen</strong> klicken und das Logo wählen, das für die Zahlungsart hochgeladen werden soll. Erlaubte Datenformate: GIF, PNG und JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priorität für die Anzeige der Zahlungsart im Webshop wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kosten: Pauschal oder Prozentual</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn bei der Zahlungsart zusätzliche Kosten berechnet werden, den Prozentwert oder Pauschalwert gemäß der Vertragskonditionen eingeben. <strong>Wichtig</strong>: Nicht in beide Felder einen Wert eingeben.<br>
Weitere Informationen findest du auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/statistik/statistiken-verwalten">Statistiken verwalten</a>. Ein Beispiel für pauschale und prozentuale Kosten findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten#20">Zahlungsarten verwalten</a>.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zahlungsart in Kundenklassen erlauben</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » CRM » Kundenklassen</strong> aktivierst oder deaktivierst du <strong>erlaubte Zahlungsarten</strong>.<br>
Weitere Informationen findest du im Kapitel <a href="/payment/zahlungsarten-verwalten#30">Zahlungsart in Kundenklasse erlauben</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/payment/zahlungsarten-verwalten">Zahlungsarten verwalten</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1700">19. Retouren erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Retouren für Neckermann erstellst du im Menü <strong>Aufträge » Aufträge bearbeiten</strong>. Dafür benötigst du den <strong>Paketcode</strong>, der sich auf dem Rücksendeschein der Retoure befindet.</p>
</div>
<div class="paragraph instruction">
<p>Retoure erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Auftrag.</p>
</li>
<li>
<p>Wähle im Tab <strong>Übersicht</strong> aus der Dropdown-Liste <strong>Retoure…​</strong> die Option <strong>anlegen</strong>.<br>
→ Das Fenster <strong>Retoure zum Auftrag</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib den <strong>Paketcode der Retoure</strong> ein.</p>
</li>
<li>
<p>Aktiviere unter <strong>Artikel</strong> in der Spalte <strong>Übernehmen</strong> das Kontrollkästchen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Retoure wird erstellt und geöffnet. Der Code ist im Tab <strong>Einstellungen</strong> der Retoure gespeichert.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Paketcode der Retoure</div>
<div class="paragraph">
<p>Der Paketcode lässt sich nicht nachträglich in der Retoure eingeben, sondern nur direkt wenn die Retoure erstellt wurde.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1800">20. Aufträge stornieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Da für Stornierungen von z.B. einzelnen Artikeln eines Auftrages keine Möglichkeit des Löschens zur Verfügung steht, setzt du in einem solchen Fall die Menge des betreffenden Artikels auf 0. Zu jeder Stornierung muss ein Grund angegeben werden, entweder <strong>Ware nicht auf Lager</strong> oder <strong>Kundenstornierung</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1850">21. Neckermann-Rechnung erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Vorgehensweise zur Erzeugung von Neckermann-Rechnungen ist, verglichen mit den anderen Auftragsherkünften, ein Sonderfall. Deshalb gibt es in plentymarkets ein zusätzliches Menü für Neckermann-Rechnungen. Rechnungen für <strong>Neckermann-Aufträge</strong> werden nicht erst in deinem plentymarkets System erzeugt, wie bei Rechnungen anderer Auftragsherkünfte. Stattdessen erhält dein plentymarkets System eine spezielle Datei (pcl-Format) mit den für dich eingegangenen Aufträgen direkt von Neckermann.</p>
</div>
<div class="paragraph">
<p>Einstellungen zum Layout aller Rechnungen kannst du im Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Dokumente » Rechnung</strong> vornehmen. Im Menü <strong>Einrichtung » Aufträge » Ereignisse</strong> definierst du, welche Aktion beim Rechnungsdruck durch eine Ereignisaktion zusätzlich ausgeführt werden soll. Vergiss dabei nicht, einen Filter des Filtertyps <strong>Herkunft</strong> zu setzen und dort <strong>Neckermann</strong> auszuwählen, wenn die Aktion nur auf Aufträge von diesem Marktplatz beschränkt sein soll.</p>
</div>
<div class="paragraph">
<p>Nutze das Menü <strong>Neckermann-Rechnungen erzeugen</strong>, um aus den erhaltenen Neckermann-Aufträgen die von dir gewünschten Aufträge herauszufiltern und die zugehörigen Rechnungen in einer gesonderten Datei zu öffnen. Nutze den Suchfilter in diesem Bereich, um die Kriterien zu bestimmen, nach denen die Aufträge zum Rechnungsabruf ausgewählt werden.</p>
</div>
<div class="paragraph instruction">
<p>Neckermann-Rechnungen abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Fulfillment » Neckermann-Rechnungen erzeugen</strong>.</p>
</li>
<li>
<p>Stelle die gewünschten Optionen für den <strong>Suchfilter</strong> ein.</p>
</li>
<li>
<p>Wähle unter <strong>Aktion</strong> einen neuen <strong>Auftragsstatus</strong>, der den gewählten Aufträgen nach erfolgreichem Rechnungsabruf zugewiesen werden soll.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu <a href="#einstellungen-neckermann-rechnungen">Tabelle 5</a>.</p>
</li>
<li>
<p>Klicke auf das <strong>Zahnrad</strong>.<br>
→ Eine <strong>zip-Datei</strong> wird erstellt, welche die zugehörigen Rechnungen aller von dir durch die Filteroptionen bestimmten Aufträge enthält.</p>
</li>
<li>
<p>Nach Entpacken dieser zip-Datei werden die Rechnungen gespeichert und ausgedruckt.</p>
</li>
</ol>
</div>
<table id="einstellungen-neckermann-rechnungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Einstellungen für Neckermann-Rechnungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong> wählen, in dem sich die Aufträge befinden, für die Rechnungen erzeugt werdem sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenausgangsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum aus dem Kalender wählen. Das Warenausgangsdatum wird nur als Filter wirksam, wenn in der Dropdown-Liste <strong>Auftragsstatus</strong> der Status <strong>[7] Warenausgang gebucht</strong> gewählt ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong> der zu suchenden Aufträge oder die Option <strong>ALLE</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen <strong>Shop</strong> oder die Option <strong>ALLE</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suche auf ein <strong>Lager</strong> begrenzen oder die Suche für <strong>ALLE</strong> Lager ausführen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungserstellung muss auf einen der Werte im Drop-down-Menü begrenzt werden. Maximum sind 200 Rechnungen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ändere Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen neuen <strong>Auftragsstatus</strong> wählen, der den gewählten Aufträgen nach erfolgreichem Rechnungsabruf zugewiesen werden soll oder die Option <strong>Keine Änderung</strong> wählen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1900">22. API-Log abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Daten » API-Log</strong> findest du eine Historie über Vorgänge, die über die Neckermann-Schnittstelle ausgeführt wurden. Die Formate <strong>NeckermannATEP</strong> und <strong>NeckermannATCD</strong> stehen dir für Neckermann zur Verfügung.</p>
</div>
<div class="paragraph instruction">
<p>API-Log abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » API-Log</strong>.</p>
</li>
<li>
<p>Wähle das Format <strong>NeckermannATEP</strong> aus der Dropdown-Liste <strong>Vorgang</strong>.</p>
</li>
<li>
<p>Wähle ggf. ein Datum, um nur Einträge eines bestimmten Tages zu erhalten.</p>
</li>
<li>
<p>Wähle die Anzahl der Ergebnisse pro Seite.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>), um die Ergebnisse anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
</main>