<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>asort</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sortiert ein Array und erhält die Index-Assoziation.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">asort( array $_array  ) :</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_beispiele">Beispiele</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;
	$_array = {"Id":"100","Name":"Couch Red","Price":"400 €"};

	$_array = asort($_array);
	for ($_key, $_value in $_array)
	{
		print($_key.":".$_value."&amp;nbsp;&amp;nbsp;&amp;nbsp;");
	}
&#37;&#125;

{# Outputs: Id:100   Price:400 €   Name:Couch Red    #}</code></pre>
</div>
</div>
</div>
</div>
</main>