<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>htmlentities</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wandelt alle geeigneten Zeichen in entsprechende HTML-Codes um.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">htmlentities( string $_string  , int $_flags   =  ENT_QUOTES ) : string</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_beispiele">Beispiele</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37; $_string = 'A "quote" is &lt;b&gt;bold&lt;/b&gt;' &#37;&#125;

{# Outputs: A &amp;quot;quote&amp;quot; is &amp;lt;b&amp;gt;bold&amp;lt;/b&amp;gt;  #}
&#123;&#37; htmlentities($_string, $ENT_QUOTES) &#37;&#125;</code></pre>
</div>
</div>
</div>
</div>
</main>