<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>is_array</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Prüft, ob die Variable ein Array ist.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">is_array( mixed $_var  ) : bool</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_beispiele">Beispiele</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37; $_array = ["item1", "item2"] &#37;&#125;

&#123;&#37; if is_array($_array) &#37;&#125;
    is an array &lt;br /&gt;
&#123;&#37; else &#37;&#125;
    is NOT an array &lt;br /&gt;
&#123;&#37; endif &#37;&#125;


&#123;&#37; $_string = "Some text" &#37;&#125;

&#123;&#37; if is_array($_string) &#37;&#125;
    is an array &lt;br /&gt;
&#123;&#37; else &#37;&#125;
    is NOT an array &lt;br /&gt;
&#123;&#37; endif &#37;&#125;


{# Outputs:

is an array
is NOT an array

#}</code></pre>
</div>
</div>
</div>
</div>
</main>