<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>is_numeric</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Prüft, ob eine Variable eine Zahl oder ein numerischer String ist.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">is_numeric( mixed $_var  ) : bool</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_beispiele">Beispiele</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37; $_array = ["42", 1337, 2471, "not numeric"] &#37;&#125;

&#123;&#37; for $_i in $_array &#37;&#125;

	&#123;&#37; if is_numeric($_i) &#37;&#125;
		$_i is numeric &lt;br /&gt;
	&#123;&#37; else &#37;&#125;
		$_i is NOT numeric &lt;br /&gt;
	&#123;&#37; endif &#37;&#125;

&#123;&#37; endfor &#37;&#125;

{# Outputs:

42 is numeric
1337 is numeric
2471 is numeric
not numeric is NOT numeric

#}</code></pre>
</div>
</div>
</div>
</div>
</main>