<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>is_string</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Prüft, ob Variable vom Typ string ist.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">is_string( mixed $_var  ) : bool</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_beispiele">Beispiele</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37; $_array = [true, false, 'abc', '23', 23, '23.5', 23.5, '', ' ', '0', 0] &#37;&#125;

&#123;&#37; for $_i in $_array &#37;&#125;

    &#123;&#37; if is_string($_i) &#37;&#125;
        $_i is a string &lt;br /&gt;
    &#123;&#37; else &#37;&#125;
        $_i is NOT a string &lt;br /&gt;
    &#123;&#37; endif &#37;&#125;

&#123;&#37; endfor &#37;&#125;

{# Outputs:

1 is NOT a string
is NOT a string
abc is a string
23 is a string
23 is NOT a string
23.5 is a string
23.5 is NOT a string
is a string
is a string
0 is a string
0 is NOT a string

#}</code></pre>
</div>
</div>
</div>
</div>
</main>