<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>md5</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Errechnet den MD5-Hash eines Strings.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">md5( string $_str  ) :</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_beispiele">Beispiele</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;
	$_encriptedPassword = "94a9e05da7d36da78ebcede30f38311a";

	$_password = "SeCuR3PasSw0rD";

	$_mD5Value = md5($_password);

	if ($_mD5Value == $_encriptedPassword)
	{
		print("You password is correct!");
	}

	#Outputs: You password is correct!
&#37;&#125;</code></pre>
</div>
</div>
</div>
</div>
</main>