<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>nl2br</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Fügt vor allen Zeilenumbrüchen eines Strings HTML-Zeilenumbrüche ein.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">nl2br( string $_str  ) :</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_beispiele">Beispiele</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;

	$_string = "This is a text that has linebreaks.
				To show them on web it has to be converted.";

	$_webString = nl2br($_string);

	print($_webString);

	#Output: This is a text that has linebreaks.&lt;br&gt;To show them on web it has to be converted.

&#37;&#125;</code></pre>
</div>
</div>
</div>
</div>
</main>