<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>number_format</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Formatiert eine Zahl mit Tausender-Gruppierung.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">number_format( float $_number  , int $_decimals   =  0 , string $_decPoint   =  '.' , string $_thousandsPoint   =  ',' ) : string</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_beispiele">Beispiele</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37; $_number = 1234.56 &#37;&#125;

{# english notation (default) #}
&#123;&#37; $_english_format_number = number_format($_number) &#37;&#125;
{# 1,235 #}


{# French notation #}
&#123;&#37; $_nombre_format_francais = number_format($_number, 2, ',', ' ') &#37;&#125;
{# 1 234,56 #}


&#123;&#37; $_number = 1234.5678 &#37;&#125;

{# english notation without thousands separator #}
&#123;&#37; $_english_format_number = number_format($_number, 2, '.', '') &#37;&#125;
{# 1234.57 #}</code></pre>
</div>
</div>
</div>
</div>
</main>