<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>strip_tags</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Entfernt HTML-Tags aus einem String.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">strip_tags( string $_str  , string $_allowable_tags  ) :</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_beispiele">Beispiele</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;

	$_text = "This is a text that has html-Tags.&lt;br&gt; You do not want these tags if you parse something in the text.";

	$_clearText = strip_tags($_text);

	print($_clearText);

	# Outputs : This is a text that has html-Tags. You do not want these tags if you parse something in the text.

&#37;&#125;</code></pre>
</div>
</div>
</div>
</div>
</main>