<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>strpos</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sucht das erste Vorkommen des Suchstrings.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">strpos( string $_haystack  , string $_needle  , int $_offset  ) :</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_beispiele">Beispiele</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;
	$_text = "I wrote this text";

	$_pos = strpos($_text, "i");

	# Outputs: The first occurence of the letter 'i' is on position 10. It IS case sensitive!

	print("The first occurence of the letter 'i' is on position ");
	print($_pos);
	print(". It IS case sensitive!");
&#37;&#125;</code></pre>
</div>
</div>
</div>
</div>
</main>