<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>strtoupper</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wandelt alle Zeichen eines Strings in Großbuchstaben um.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">strtoupper( string $_string  ) : string</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_beispiele">Beispiele</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37; $_string = "Mary Had A Little Lamb and She LOVED It So" &#37;&#125;
&#123;&#37; $_string = strtoupper($_string) &#37;&#125;

&lt;strong&gt;$_string&lt;/strong&gt; {# Prints &lt;strong&gt;MARY HAD A LITTLE LAMB AND SHE LOVED IT SO&lt;/strong&gt; #}</code></pre>
</div>
</div>
</div>
</div>
</main>