<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>strtotime</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wandelt ein beliebiges in englischer Textform angegebenes Datum in einen UNIX-Zeitstempel (Timestamp) um.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">strtotime( string $_time  , int $_now  ) : int</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_beispiele">Beispiele</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37; strtotime("now") &#37;&#125;
&#123;&#37; strtotime("10 September 2000") &#37;&#125;
&#123;&#37; strtotime("+1 day") &#37;&#125;
&#123;&#37; strtotime("+1 week") &#37;&#125;
&#123;&#37; strtotime("next Thursday") &#37;&#125;
&#123;&#37; strtotime("last Monday") &#37;&#125;


{# Prints something like: 11.09.2014 #}

&#123;&#37; $_timeNextThursday = strtotime("next Thursday") &#37;&#125;
&#123;&#37; date("d.m.Y", $_timeNextThursday) &#37;&#125;


{# Prints: 23.07.1980 #}

&#123;&#37; $_someDate = strtotime("1980-07-23") &#37;&#125;
&#123;&#37; date("d.m.Y", $_someDate) &#37;&#125;</code></pre>
</div>
</div>
</div>
</div>
</main>