<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>substr</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gibt einen Teil eines Strings zurück.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">substr( string $_string  , int $_start  , int $_length  ) : string</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_beispiele">Beispiele</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37; $_rest = substr("abcdef", 0, -1) &#37;&#125;  {# returns "abcde" #}
&#123;&#37; $_rest = substr("abcdef", 2, -1) &#37;&#125;  {# returns "cde" #}
&#123;&#37; $_rest = substr("abcdef", 4, -4) &#37;&#125;  {# returns false #}
&#123;&#37; $_rest = substr("abcdef", -3, -1) &#37;&#125; {# returns "de" #}
&#123;&#37; $_rest = substr("abcdef", -1) &#37;&#125;     {# returns "f" #}
&#123;&#37; $_rest = substr("abcdef", -2) &#37;&#125;     {# returns "ef" #}
&#123;&#37; $_rest = substr("abcdef", -3, 1) &#37;&#125;  {# returns "d" #}</code></pre>
</div>
</div>
</div>
</div>
</main>