<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_was_bedeutet_inbound"><span>1.</span><span> Was bedeutet Inbound?</span></a></li>
<li><a href="#_wie_ist_der_fba_inbound_ablauf"><span>2.</span><span> Wie ist der FBA Inbound-Ablauf?</span></a></li>
<li><a href="#_was_muss_ich_einrichten"><span>3.</span><span> Was muss ich einrichten?</span></a></li>
<li><a href="#_wo_finde_ich_weitere_informationen"><span>4.</span><span> Wo finde ich weitere Informationen?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Amazon FBA Inbound</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Seite findest du einen Überblick über Amazon FBA Inbound sowie die wichtigsten Links, die du im Zusammenhang mit der Einrichtung von Amazon FBA Inbound benötigst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_was_bedeutet_inbound">1. Was bedeutet Inbound?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Inbound bedeutet, dass du Amazon mit Waren versorgst, die Amazon an deine Kundschaft liefert.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Inbound-Sendungen sind deine Sendungen an ein Amazon FBA-Logistikzentrum.</p>
</li>
<li>
<p>Inbound-Aufträge sind die Aufträge, die in plentymarkets für deine Inbound-Sendungen erstellt werden.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_wie_ist_der_fba_inbound_ablauf">2. Wie ist der FBA Inbound-Ablauf?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>FBA-Inbound-Sendungen haben den folgenden Ablauf:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Du erstellst im Amazon Seller Central eine FBA-Inbound-Sendung.<br>
→ Die Sendung wird in plentymarkets importiert.<br>
→ Die Sendung wird im Menü <strong>Waren » Amazon: Shipments</strong> angezeigt.</p>
</li>
<li>
<p>Du erstellst eine Umbuchung für die Sendung.<br>
→ In plentymarkets wird ein FBA-Inbound-Auftrag im Menü <strong>Waren » Amazon FBA Inbound</strong> erstellt.</p>
</li>
<li>
<p>Der Auftrag kann im Lager weiter bearbeitet werden.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_was_muss_ich_einrichten">3. Was muss ich einrichten?</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Welche Einstellungen muss ich vorab vornehmen?</div>
<div class="paragraph">
<p>Im Vorfeld musst du folgende Punkte bereits erledigt haben:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#maerkte/amazon/amazon-einrichten">Amazon</a> ist eingerichtet</p>
</li>
<li>
<p>deine <a href="#maerkte/amazon/varianten-vorbereiten">Varianten</a> sind vorbereitet</p>
</li>
<li>
<p>der <a href="#maerkte/amazon/variantendaten-exportieren">Variantenexport</a> ist eingerichtet</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_wo_finde_ich_weitere_informationen">4. Wo finde ich weitere Informationen?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wie du nun Amazon FBA Inbound einrichtest und deine Inbound-Sendungen an ein Amazon FBA-Logistikzentrum sendest, ist auf der Handbuchseite <a href="#maerkte/amazon/amazon-fba-nutzen">FBA-Service von Amazon nutzen</a> beschrieben.</p>
</div>
<div class="paragraph">
<p>Wenn du schnell und gezielt zu bestimmten Kapiteln gelangen möchtest, hilft dir die folgende Liste weiter:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/amazon/amazon-fba-nutzen#60">Lager für Amazon FBA erstellen</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/amazon-fba-nutzen#90">Einstellungen für FBA-Inbound-Sendungen vornehmen</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/amazon-fba-nutzen#130">FBA-Sendung in Amazon Seller Central erstellen</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/amazon-fba-nutzen#125">FBA-Inbound-Sendungen in plentymarkets anzeigen</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/amazon-fba-nutzen#140">Umbuchung für die Sendung erstellen</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/amazon-fba-nutzen#150">FBA-Inbound-Aufträge anzeigen</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/amazon-fba-nutzen#160">FBA-Inbound-Aufträge im Lager bearbeiten</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/amazon/amazon-fba-nutzen#200">Pickliste drucken</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/amazon-fba-nutzen#170">Paketinhaltsliste öffnen</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/amazon-fba-nutzen#180">FBA-Inbound-Auftrag bei Amazon anmelden</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/amazon-fba-nutzen#185">FBA-Inbound-Auftrag bei Amazon stornieren</a></p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</main>