<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#best-practices-geoblocking"><span>1.</span><span> Kurzfassung: Was bedeutet die "Geoblocking-Verordnung"?</span></a></li>
<li><a href="#_wie_kann_ich_diese_workarounds_nutzen"><span>2.</span><span> Wie kann ich diese Workarounds nutzen?</span></a></li>
<li><a href="#_weitere_bereiche"><span>3.</span><span> Weitere Bereiche</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: Versandartwahl/Geoblocking</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Seite erfahrt ihr mehr über die Versandartwahl für Länder, in denen ihr <strong>nicht</strong> gewerblich tätig seid.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="best-practices-geoblocking">1. Kurzfassung: Was bedeutet die "Geoblocking-Verordnung"?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ganz grob bedeutet dies, dass ein Kunde, der online Artikel bestellen möchte, nicht aufgrund seines Wohnsitzes unterschiedlich behandelt oder gar ausgeschlossen werden darf.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen findet ihr auf der Webseite der <a href="https://www.it-recht-kanzlei.de/geoblocking-faq.html" target="_blank" rel="noopener">IT-Recht Kanzlei</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_wie_kann_ich_diese_workarounds_nutzen">2. Wie kann ich diese Workarounds nutzen?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wir haben aus dem Forum Information von anderen Nutzern gesammelt und schreiben diese hier für euch nieder, damit ihr dies für euch nutzen könnt. Danke an dieser Stelle, dass ihr mit eurer Arbeit anderen helft.</p>
</div>
<div class="paragraph">
<p>An sich gibt es zwei Möglichkeiten, die bestimmten Länder zu berücksichtigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Nur Selbstabholung (z.B in Deutschland) erlauben</p>
</li>
<li>
<p>Keine Versandartwahl anbieten (Fehlermeldung im Webshop)</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Generell wäre der erste Schritt, dass die "übrigen" Länder, in denen ihr bisher nicht als Händler bereits gewerblich tätig seid, unter <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Lieferländer</strong> auf <strong>Aktiv</strong> gesetzt werden.</p>
</div>
<div class="paragraph">
<p>Im folgenden wird eine Region benötigt, zu der diese Länder hinzugefügt werden unter <strong>Einrichtung » Aufträge » Versand » Optionen » Tab: Regionen</strong></p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/GEO_Region.png" alt="GEO Region">
</div>
<div class="title">Bild 1. Region mit Lieferländern</div>
</div>
<div class="paragraph">
<p>Wenn ihr Selbstabholung erlauben möchtet, ist es erforderlich, dass ihr die neue Region in entsprechenden Versandprofilen in der Portotabelle aktiviert, so dass es auch gültig ist.
Es ist möglich, dass diese Länder keiner Region hinzugefügt werden, es also zu einer Fehlermeldung im Webshop führt.</p>
</div>
<div class="paragraph">
<p>Eine Region ist nicht automatisch für ein Versandprofil aktiviert. Dieser Eindruck könnte aufkommen, da die neue Region ebenfalls in der Portotabelle auftaucht. Es erfordert jedoch aktiv das Betätigen der Schaltfläche <strong>Speichern</strong>. Eine nicht aktivierte Portotabelle für eine Region würde z.B. so aussehen:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/GEO_Versandprofil_nicht_aktiv.png" alt="GEO Versandprofil nicht aktiv">
</div>
<div class="title">Bild 2. Nicht aktivierte Region eines Versandprofils</div>
</div>
<div class="paragraph">
<p>Im ersten Fall würde mit einem Lieferland in der "Geoblocking-Region" nur noch das Versandprofil <strong>Selbstabholung</strong> im Webshop wählbar sein. Hier solltet ihr einen Hinweis hinzuzufügen, wo die Abholung möglich ist.</p>
</div>
<div class="paragraph">
<p>Im zweiten Fall würde keine Auswahl eines Versandprofils im Webshop möglich sein, so dass eine Fehlermeldung erscheint.</p>
</div>
<div class="paragraph">
<p>Eine Anpassung der Fehlermeldung führt ihr unter <strong>Einrichtung » Mandant » Global » Sprachpakete</strong> durch. Wählt dazu den Bereich "Fehlermeldungen" aus und klickt auf die Lupe. Die Fehlermeldung 53 und 156 bieten sich hier an.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/GEO_Fehlermeldung_anpassen.png" alt="GEO Fehlermeldung anpassen">
</div>
<div class="title">Bild 3. Fehlermeldung im Sprachpaket anpassen</div>
</div>
<div class="paragraph">
<p>Die Ausgabe könnte dann so aussehen:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/GEO_Webshop_Ausgabe.png" alt="GEO Webshop Ausgabe">
</div>
<div class="title">Bild 4. Anzeige im Webshop</div>
</div>
<div class="paragraph">
<p>Die Versandbedingungen im eigenen Webshop solltet ihr entsprechend anpassen und z.B. einen Hinweis ergänzen, damit dies nicht erst während des Bestellvorgangs für einen Kunden erkennbar ist. In dem Hinweis sollte also stehen, in welchen Ländern ihr "gewerblich tätig" seid bzw. in welche Länder eine Lieferung an den Kunden und gegebenenfalls eine Abholung durch den Kunden möglich ist.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_weitere_bereiche">3. Weitere Bereiche</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wir beschreiben hier die Workarounds, bezogen auf die Versandarten, jedoch sollten noch weitere Einstellungen kontrolliert werden, bei denen nicht automatisch neue Länder aktiviert werden.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Zahlungsarten</strong></p>
</li>
<li>
<p><strong>Verkaufspreise</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Der Pfad zu den Einstellungen der Zahlungsarten, die ihr anbietet, kann je nach Plugin variieren: Für plentymarkets sind diese unter  <strong>Einrichtung » Aufträge » Zahlung » Plugins</strong> oder <strong>Einrichtung » Aufträge » Zahlung » Zahlungsarten</strong> zu finden. Gewünschte Zahlungsarten müssen dann entsprechend verknüpft werden.</p>
</div>
<div class="paragraph">
<p>Unter <strong>Einrichtung » Artikel » Verkaufspreise</strong> solltet ihr kontrollieren, ob ein gültiger Verkaufspreis vorhanden ist, damit ein Käufer Artikel in den Warenkorb legen kann.</p>
</div>
</div>
</div>
</main>