<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#best-practices-ups"><span>1.</span><span> Fehlerbehebung UPS</span></a>
<ul class="sectlevel3">
<li><a href="#100"><span>1.1.</span><span> Keine Auftragsdaten vorhanden</span></a></li>
<li><a href="#200"><span>1.2.</span><span> 120110 (Hard): Missing or invalid Shipper AttentionName oder 120101 (Hard): Missing or invalid Shipper Name</span></a></li>
<li><a href="#300"><span>1.3.</span><span> 120209 (Hard): Missing or invalid Ship to phone number</span></a></li>
<li><a href="#400"><span>1.4.</span><span> 120109 (Hard): Missing or invalid shipper phone number</span></a></li>
<li><a href="#500"><span>1.5.</span><span> 120500 (Hard): Missing or invalid service code</span></a></li>
<li><a href="#600"><span>1.6.</span><span> 120124 (Hard) : The requested service is unavailable between the selected locations</span></a></li>
<li><a href="#700"><span>1.7.</span><span> 120122 (Hard): Invalid Shipper ShipperNumber</span></a></li>
<li><a href="#800"><span>1.8.</span><span> Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. 10001: The XML document is not well formed</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: UPS</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hier findest du Best Practices zum Versanddienstleister UPS.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="best-practices-ups">1. Fehlerbehebung UPS</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In den folgenden Unterkapiteln findest du Fehlermeldungen, die von UPS an plentymarkets über die Schnittstelle zurückgesendet werden, sowie mögliche Lösungen.</p>
</div>
<div class="paragraph">
<p>Die Anmeldedaten und die Antwort mit eventuellen Fehlermeldungen können für zwei Wochen im Menü <strong>Daten » API-Log » Tab: Versand Center API-Log</strong> abgerufen werden. In der Spalte ganz rechts wird mit einem Klick auf <strong>Anfrageprotokoll öffnen</strong> ein Fenster geöffnet, das die Anmeldedaten anzeigt. Ein Klick auf <strong>Antwortprotokoll öffnen</strong> öffnet ein Fenster mit der Rückmeldung von UPS.</p>
</div>
<div id="bild-versand-center-api-log" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/UPS_Versand_Center_API_Log.png" alt="UPS Versand Center API Log" width="640" height="360">
</div>
<div class="title">Bild 1. Versand-Center API-Log</div>
</div>
<div class="sect3">
<h4 id="100">1.1. Keine Auftragsdaten vorhanden</h4>
<div class="paragraph">
<p>Diese Fehlermeldung deutet darauf hin, dass der Versanddienstleister und/oder das Versandprofil am Auftrag nicht zu der versuchten Anmeldung passt. Z.B. nachdem der Versanddienstleister am Auftrag geändert wurde, jedoch nicht das passende Versandprofil ausgesucht wurde.</p>
</div>
<div class="paragraph">
<p>Screenshot aus dem Testsystem:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/UPS_Versandprofil.png" alt="UPS Versandprofil" width="640" height="360">
</div>
</div>
<div class="paragraph">
<p>Eine andere Ursache wäre, wenn das Standardversandprofil am Auftrag hinterlegt wurde, weil kein gültiges gefunden wurde. Es würde bei der Bearbeitung des Versandprofils die Meldung <code>Kein Wert gefunden</code> angezeigt werden.</p>
</div>
</div>
<div class="sect3">
<h4 id="200">1.2. 120110 (Hard): Missing or invalid Shipper AttentionName oder 120101 (Hard): Missing or invalid Shipper Name</h4>
<div class="paragraph">
<p>Wie andere Versanddienstleister auch benötigt UPS Absenderdaten. Diese müssen jedoch nicht in den Einstellungen zum Versanddienstleister selbst gespeichert werden, sondern sind im Menü <strong>Einrichtung » Aufträge » Versand » Dienstleister » Einstellungen</strong> für die benötigten Lager anzugeben. <strong>Shipper AttentionName</strong> ist die Kontaktperson, <strong>Shipper Name</strong> die Angabe für Firma.</p>
</div>
</div>
<div class="sect3">
<h4 id="300">1.3. 120209 (Hard): Missing or invalid Ship to phone number</h4>
<div class="paragraph">
<p>Die Telefonnummer des Empfängers wird bei internationalem Versand benötigt und darf nicht fehlen. Über die Schnittstelle wird jedoch auch für den Versand <strong>innerhalb Deutschlands</strong> eine Telefonnummer gefordert, auch wenn es z.B. über das UPS-Backend selbst nicht der Fall ist.</p>
</div>
</div>
<div class="sect3">
<h4 id="400">1.4. 120109 (Hard): Missing or invalid shipper phone number</h4>
<div class="paragraph">
<p>Die Telefonnummer des Absenders darf nicht fehlen. Das für den Auftrag gewählte Lager wird unter <strong>Einrichtung » Aufträge » Versand » Dienstleister » Einstellungen</strong> nicht das geforderte Feld ausgefüllt haben. Dieses müsste in diesem Menü nachgepflegt werden. Beachte bitte, dass dies die "erste" Meldung sein kann, die wir zurückerhalten und daraufhin die weiteren Felder geprüft werden. Firma und Ansprechpartner müssen ebenfalls ausgefüllt sein, wie oben für Fehlercode <a href="/fulfillment/best-practices-ups#200">120110 und 120101</a>  beschrieben.</p>
</div>
</div>
<div class="sect3">
<h4 id="500">1.5. 120500 (Hard): Missing or invalid service code</h4>
<div class="paragraph">
<p>Bei dieser Fehlermeldung sollte die Portotabelle des Versandprofils geprüft werden. Es kann kein Service übertragen werden, wenn die Portotabelle einer Region nicht gespeichert wurde. Erkennbar ist dies an dem folgenden Hinweis:</p>
</div>
<div class="paragraph">
<p><code>Region wird im Versandprofil nicht verwendet. Preis eintragen und speichern, um Region zu verwenden. Portotabelle speichern und neu laden, um Versanddienstleister-Einstellungen anzulegen.</code></p>
</div>
<div class="paragraph">
<p>Screenshot aus dem Testsystem:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/UPS_Portotabelle.png" alt="UPS Portotabelle" width="640" height="360">
</div>
</div>
</div>
<div class="sect3">
<h4 id="600">1.6. 120124 (Hard) : The requested service is unavailable between the selected locations</h4>
<div class="paragraph">
<p>Sollte der gewählte UPS Service in der Portotabelle nicht für die Länder von Versender und Empfänger erlaubt sein, erscheint diese Fehlermeldung. Als Standardeinstellung wird der erste Wert für <strong>UPS Services</strong> beim Speichern der Portotabelle ausgewählt, welcher nicht unbedingt zulässig für bestimmte Länderkombinationen ist. Erfrage bitte, bei UPS, welche Länderkombinationen gültig sind.</p>
</div>
</div>
<div class="sect3">
<h4 id="700">1.7. 120122 (Hard): Invalid Shipper ShipperNumber</h4>
<div class="paragraph">
<p>Hierzu sind uns zwei Ursachen bekannt, die zu der Meldung führen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Die im Menü <strong>Einrichtung » Aufträge » Versand » Dienstleister » UPS</strong> angegebene Kundennummer ist falsch.</p>
</li>
<li>
<p>Die im Menü <strong>Einrichtung » Aufträge » Versand » Dienstleister » UPS</strong> angegebene Kundennummer wurde von UPS noch nicht verifiziert.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="800">1.8. Code 1 : Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. 10001: The XML document is not well formed</h4>
<div class="paragraph">
<p>Hier befindet sich die Ursache in den Daten, die übermittelt werden und die Datei "nicht gültig" machen. Es ist z.B. möglich, dass der direkte Login zu UPS funktioniert, die Schnittstelle jedoch strikter handelt. So könnten im Menü <strong>Einrichtung » Aufträge » Versand » Dienstleister » UPS</strong> Sonderzeichen und/oder Umlaute im Benutzernamen oder Passwort mit angegeben worden sein. Dies muss entsprechend angepasst werden.
Versuche danach bitte die Anmeldung erneut.</p>
</div>
</div>
</div>
</div>
</main>