<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#best-practices-postcode-filter"><span>1.</span><span> Wie arbeitet der Postleitzahlenfilter?</span></a></li>
<li><a href="#_was_sollte_man_einrichten"><span>2.</span><span> Was sollte man einrichten?</span></a></li>
<li><a href="#_anwendungsbeispiel"><span>3.</span><span> Anwendungsbeispiel</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: Postleitzahlenfilter</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Best Practice beschreiben wir den Postleitzahlenfilter etwas näher und ihr könnt im Anwendungsbeispiel sehen, wie eine Ereignisaktion aussehen könnte.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="best-practices-postcode-filter">1. Wie arbeitet der Postleitzahlenfilter?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Postleitzahlenfilter ist ein weiterer Filter in den <a href="https://knowledge.plentymarkets.com/basics/automatisierung/ereignisaktionen" target="_blank" rel="noopener">Ereignisaktionen</a>.</p>
</div>
<div class="paragraph">
<p>Er wird auf die Postleitzahl der <strong>Lieferadresse</strong> im Auftrag angewendet. Dabei werden die eingegebenen Werte mit der Angabe in der Lieferadresse verglichen. Sollte z.B. <code>35</code> im Filter eingestellt sein, würden alle Angaben mit <code>35</code> am Anfang der Postleitzahl abgefangen werden und die Aktionen in der Ereignisaktionen werden abgearbeitet.
Mehrere Werte können kommagetrennt eingetragen werden. Postleitzahlen, die Buchstaben enthalten, wie z.B. <code>W1U 6AG</code> für London oder <code>1011 DK</code> für Amsterdam, werden ebenfalls berücksichtigt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_was_sollte_man_einrichten">2. Was sollte man einrichten?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Je nach dem, wie ihr eueren Workflow aufgebaut habt, empfiehlt es sich, bereits einige Einstellungen im Vorfeld vorzunehmen wie z.B. die "besonderen" Lieferländer zu aktivieren, in die ihr liefern möchtet. Das können u.a. Helgoland oder die Kanarischen Inseln sein.</p>
</div>
<div class="paragraph">
<p>Als sinnvolle Erweiterung können neue Auftragsstatus angelegt werden, die später helfen, die bearbeiteten Aufträge z.B. in der Auftrasgsübersicht wieder zu finden.</p>
</div>
<div class="paragraph">
<p>Im folgenden Beispiel haben wir bereits im Menü <strong>Einrichtung » Aufträge » Status</strong> den Status <strong>Lieferanschrift prüfen</strong> erstellt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/Neuer_Auftragsstatus.png" alt="Neuer Auftragsstatus">
</div>
<div class="title">Bild 1. Neuer Auftragsstatus</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_anwendungsbeispiel">3. Anwendungsbeispiel</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wir erhalten immer wieder Bestellungen aus Sonderregionen, die wir für unsere Anmeldung beim Versanddienstleister anders behandeln muss, da wir zu DHL weitere zolltechnischen Informationen senden müssen, die für das Land für gewöhnlich nicht notwendig sind.
Ein Beispiel ist Las Palmas: Die Postleitzahlen der Kanarischen Inseln beginnen mit <code>35</code> oder <code>38</code>; politisch gehören die Inseln zu Spanien, aber man muss Lieferungen dorthin als Ausfuhrlieferungen anmelden.</p>
</div>
<div class="paragraph">
<p>Für unsere neue Ereignisaktion gehen wir in das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong> und erstellen uns eine neue Ereignisaktion, die wir "PLZ-Filter" nennen.</p>
</div>
<div class="paragraph">
<p>Das Ereignis <strong>Statuswechsel</strong> passt für uns am besten, da alle Aufträge zuerst durch den Status <strong>In Versandvorbereitung</strong> laufen. Also wählen wir diesen Status.</p>
</div>
<div class="paragraph">
<p>Danach klicken wir auf das "+", um einen neuen Filter hinzuzufügen und wählen <strong>Postleitzahlen</strong> im Ordner <strong>Auftrag</strong> aus.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/Ereignisaktion_Postleitzahlfilter.png" alt="Ereignisaktion Postleitzahlfilter">
</div>
<div class="title">Bild 2. Postleitzahlenfilter</div>
</div>
<div class="paragraph">
<p>In das Feld des Filters schreiben wir nun <code>35, 38</code>, damit alle Postleitzahlen, die mit <code>35</code> oder <code>38</code> beginnen, abgefangen werden. Zudem fügen wir noch einen weiteren Filter <strong>Versand → Lieferland</strong> hinzu und aktivieren <strong>Spanien</strong>, da Marburg in Deutschland sonst auch die Ereignisaktion auslösen würde, weil die Marburger Postleitzahlen ebenfalls mit <code>35</code> beginnen.</p>
</div>
<div class="paragraph">
<p>Als Aktion wählen wir <strong>Status ändern</strong> im Ordner <strong>Auftrag</strong> aus und stellen den zuvor erstellten Auftragsstatus aus.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/fulfillment/assets/Ereignisaktion_Postleitzahl.png" alt="Ereignisaktion Postleitzahl">
</div>
<div class="title">Bild 3. Neue Ereignisaktion</div>
</div>
<div class="paragraph">
<p>Nun prüft die Ereignisaktion bei allen unseren neuen Aufträgen, die in den Status <strong>In Versandvorbereitung</strong> gelangen, ob diese auch nach Spanien versendet werden sollen und ob die Postleitzahl durch den Filter aufgegriffen wird.</p>
</div>
<div class="paragraph">
<p>Es sind nun zwei Szenarien möglich:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Die Filter der Ereignisaktionen passen nicht zum Auftrag<br>
→ Die Ereignisaktion hat keine Auswirkung auf den Auftrag</p>
</li>
<li>
<p>Die Filter der Ereignisaktion passen zum Auftrag<br>
→ Die Ereignisaktion greift und schiebt den Auftrag in den Status <strong>Lieferanschrift prüfen</strong></p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Weitere Möglichkeiten in den Ereignisaktionen</div>
<div class="paragraph">
<p>Mit dem Filter sind auch weitere Kombinationen möglich, sodass auch Herkünfte oder Auftragstypen als zusätzliche Filter hinzugefügt werden können, um die Ereignisaktion noch feiner einstellen zu können. Ihr wisst am Besten, was ihr benötigt!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>