<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_plugin_kaufen_und_installieren"><span>1.</span><span> Plugin kaufen und installieren</span></a></li>
<li><a href="#_plugin_kaufen_und_installieren_2"><span>2.</span><span> Plugin kaufen und installieren</span></a></li>
<li><a href="#_sku_anlegen"><span>3.</span><span> SKU anlegen</span></a></li>
<li><a href="#_lager_einrichten"><span>4.</span><span> Lager einrichten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Manual</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Einleitung</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_plugin_kaufen_und_installieren">1. Plugin kaufen und installieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Laden Sie das Plugin kostenlos im plentyMarketplace herunter.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_plugin_kaufen_und_installieren_2">2. Plugin kaufen und installieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Laden Sie das Plugin kostenlos im plentyMarketplace herunter.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_sku_anlegen">3. SKU anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Barcodes dienen der Kennzeichnung von Artikeln in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_lager_einrichten">4. Lager einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Richten Sie zwei Lager ein.</p>
</div>
</div>
</div>
</main>