<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#auftrag-suchen"><span>1.</span><span> Auftrag im Versand-Center suchen</span></a></li>
<li><a href="#gruppenfunktion"><span>2.</span><span> Gruppenfunktion nutzen</span></a></li>
<li><a href="#einzelnen-auftrag-bearbeiten"><span>3.</span><span> Einzelnen Auftrag bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#auftrag-anzeigen"><span>3.1.</span><span> Auftrag anzeigen</span></a>
<ul class="sectlevel3">
<li><a href="#uebersicht"><span>3.1.1.</span><span> Übersicht</span></a></li>
<li><a href="#empfaenger"><span>3.1.2.</span><span> Empfänger</span></a></li>
<li><a href="#pakete"><span>3.1.3.</span><span> Pakete</span></a></li>
<li><a href="#retouren"><span>3.1.4.</span><span> Retouren</span></a></li>
</ul>
</li>
<li><a href="#auftrag-anmelden"><span>3.2.</span><span> Einzelnen Auftrag anmelden</span></a></li>
<li><a href="#versandlabels-herunterladen"><span>3.3.</span><span> Versandlabels herunterladen</span></a></li>
<li><a href="#auftrag-zuruecksetzen"><span>3.4.</span><span> Einzelnen Auftrag zurücksetzen</span></a></li>
<li><a href="#auftrag-stornieren"><span>3.5.</span><span> Einzelnen Auftrag stornieren</span></a></li>
<li><a href="#polling-einzelner-auftrag"><span>3.6.</span><span> Polling-Datei für einzelnen Auftrag erzeugen</span></a></li>
<li><a href="#retoure-anmelden"><span>3.7.</span><span> Retoure für einzelnen Auftrag anmelden</span></a></li>
<li><a href="#retourenlabel-abrufen"><span>3.8.</span><span> Retourenlabel abrufen</span></a></li>
<li><a href="#exportlabels-herunterladen"><span>3.9.</span><span> Exportlabels herunterladen</span></a></li>
</ul>
</li>
<li><a href="#versandpaket-bearbeiten"><span>4.</span><span> Versandpaket bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#versandpaket-hinzufuegen"><span>4.1.</span><span> Versandpaket hinzufügen</span></a></li>
<li><a href="#versandpaket-loeschen"><span>4.2.</span><span> Versandpaket löschen</span></a></li>
</ul>
</li>
<li><a href="#in-lieferauftraege-splitten"><span>5.</span><span> Aufträge in Lieferaufträge splitten</span></a></li>
<li><a href="#faq"><span>6.</span><span> FAQ</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Versand-Center 2.0 (closed beta)</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Versand-Center 2.0</strong> steuerst du alle Aktionen, die im Zusammenhang mit dem Versand deiner Artikel über die integrierten Versandschnittstellen stehen. Neben dem <a href="#auftrag-suchen">Suchen</a> und <a href="#einzelnen-auftrag-bearbeiten">Bearbeiten</a> von Versandaufträgen hast du die Möglichkeit, deine Aufträge direkt bei einem Versanddienstleister anzumelden oder eine Polling-Datei und eine Auftragszuammenfassung zu erzeugen, um diese einem Versanddienstleister zu übergeben. Über die <a href="#gruppenfunktion">Gruppenfunktion</a> kannst du beispielsweise mehrere Aufträge oder Retouren gleichzeitig anmelden oder mehrere Aufträge gleichzeitig zurücksetzen.</p>
</div>
<div class="paragraph">
<p>Diese Handbuchseite beschreibt das neue Versand-Center 2.0, das im September 2021 in einer geschlossenen Betaphase veröffentlicht wurde. Geschlossene Betaphase bedeutet, dass das Versand-Center 2.0 zunächst von einer kleinen Personengruppe getestet wird. Sobald das Versand-Center 2.0 weiter ausgereift ist und mögliche Fehler behoben wurden, wird die offene Betaphase beginnen.</p>
</div>
<div class="paragraph">
<p>Das Menü <strong>Aufträge » Versand-Center 2.0</strong> ist wie folgt aufgebaut:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/versand-center-2-0-menueaufbau.png" alt="versand center 2 0 menueaufbau" width="640" height="360">
</div>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Navigation</strong>: Hier navigierst du durch die einzelnen Bereiche des Menüs. Der aktuell ausgewählte Bereich (blaue Schrift) wird im Hauptfenster rechts angezeigt. Falls du mehrere Versandaufträge gleichzeitig geöffnet hast, werden diese untereinander angezeigt. Klicke auf <span class="icon "><i class="fa fa-bars  "></i></span>, um die Navigationsleiste ein- und auszublenden.</p>
</li>
<li>
<p><strong>Toolbar</strong>: Hier kannst du nach Versandaufträgen <a href="#auftrag-suchen">suchen</a>, die <a href="#uebersicht-anpassen">Spalten in der Übersicht anpassen</a>, die Ergebnisse pro Seite, die du angezeigt haben möchtest, einstellen und durch die Seiten mit den Versandaufträgen klicken.<br>
<strong><em>Hinweis:</em></strong> Als Standardfilter ist immer die Zeitspanne der letzten 4 Wochen bis zum heutigen Tag gesetzt.</p>
</li>
<li>
<p><strong>Hauptfenster</strong>: Hier wird der aktuell geöffnete Bereich angezeigt.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Übersicht</strong>: Wenn du eine Suche ausführst, siehst du die Ergebnisse in einer Übersicht. Die Übersicht liefert auf einen Blick Informationen zu den gefundenen Versandaufträgen. Zum Beispiel siehst du mit welchem Versanddienstleister der Auftrag angemeldet wurde, wie viele Pakete im Auftrag enthalten sind und die Empfängerregion.</p>
</li>
<li>
<p><strong>Detailansicht</strong>: Wenn du einen Versandauftrag öffnest, werden die Details im Hauptfenster auf der rechten Seite angezeigt. Die Detailansicht eines Versandauftrags ist in die folgenden Bereiche unterteilt: <a href="#uebersicht">Übersicht</a>, <a href="#empfaenger">Empfänger</a>, <a href="#pakete">Pakete</a> und <a href="#retouren">Retouren</a>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h3 id="_neue_features" class="discrete">Neue Features</h3>
<div class="openblock collapseBox">
<div class="title">Neue Features im Vergleich zum "alten" Versand-Center</div>
<div class="content">
<div class="paragraph">
<p>Du findest die folgenden Neuerungen im Versand-Center 2.0, die es vorher im "alten" Versand-Center nicht gab:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du kannst bei der Auftragsanmeldung nun jeweils einen Auftragsstatus für den Erfolgsfall und für den Fehlerfall wählen, in denen die Aufträge nach der erfolgreichen bzw. fehlgeschlagenen Anmeldungen landen sollen.</p>
</li>
<li>
<p>Gruppenfunktion zum Zurücksetzen von Aufträgen</p>
</li>
<li>
<p>Gruppenfunktion zum Gruppieren von Retourenlabels</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="auftrag-suchen">1. Auftrag im Versand-Center suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Über die Übersicht im Versand-Center 2.0 kannst du alle Aufträge in einer Liste öffnen oder du wählst Filter (<span class="icon "><i class="fa fa-filter  "></i></span>), um die Suchergebnisse einzugrenzen. Standardmäßig ist der Datumsbereich der letzten 4 Wochen gesetzt.</p>
</div>
<div class="paragraph instruction">
<p>Auftrag im Versand-Center suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center 2.0</strong>.<br>
<strong><em>Hinweis:</em></strong> Standardmäßig ist der Datumsbereich der letzten 4 Wochen gesetzt. Du kannst die Zeitspanne natürlich über den Filter anpassen.</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Möglichkeit 1:</em></strong> Klicke auf <span class="icon "><i class="material-search"></i></span>, um eine Liste aller Aufträge zu sehen.</p>
</li>
<li>
<p><strong><em>Möglichkeit 2:</em></strong> Klicke auf <span class="icon "><i class="fa fa-filter  "></i></span>, um die Suchergebnisse mit Hilfe von Filtern einzugrenzen.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Beachte die Erläuterungen zu den Filtern in <a href="#table-search-shipping-order">Tabelle 1</a>.</p>
</li>
</ol>
</div>
<table id="table-search-shipping-order" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Filteroptionen im Versand-Center</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine ID ein, um nach dem Auftrag mit genau dieser ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Angemeldet mit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Versanddienstleister, um nach Aufträgen zu suchen, die mit diesem Versanddienstleister angemeldet wurden.<br>
<strong><em>Hinweis:</em></strong> Wähle die Option <strong>Alle</strong>, um nach allen Aufträgen zu suchen.<br>
Wähle die Option <strong>Offen</strong>, um nur nach Aufträgen zu suchen, die noch nicht angemeldet wurden.<br>
Wähle die Option <strong>Angemeldet</strong>, um nach allen angemeldeten Aufträgen – unabhängig vom Versanddienstleister – zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versanddienstleister</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Versanddienstleister, um nach Aufträgen mit diesem Versanddienstleister zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandprofil</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein Versandprofile, um nach Aufträgen mit diesem Versandprofil zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein Land, um nach Aufträgen in diesem Status zu suchen.<br>
<strong><em>Hinweis:</em></strong> In dieser Liste werden alle Länder angezeigt, die im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Lieferländer</strong> auf aktiv gesetzt sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Auftragsstatus, um nach Aufträgen in diesem Status zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Eigner, um nach Aufträgen mit diesem Eigner zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Mandant (Shop), um nach Aufträgen mit diesem Mandanten (Shop) zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein Lager, um nach Aufträgen mit diesem Lager zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsdatum von / bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle die Daten aus den Kalendern (<span class="icon "><i class="fa fa-calendar  "></i></span>), um nach Aufträgen in einem bestimmten Zeitraum zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zurücksetzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt die gewählten Filterkriterien zurück.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suchen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Führt die Suche aus. Die gefundenen Aufträge werden in der Übersicht angezeigt.<br>
<strong><em>Tipp:</em></strong> Setze keine Filter, wenn du alle Aufträge in der Übersicht sehen möchtest.</p></td>
</tr>
</tbody>
</table>
<h2 id="uebersicht-anpassen" class="discrete">Übersicht im Versand-Center 2.0 anpassen</h2>
<div class="paragraph">
<p>Die Übersicht des Versand-Centers 2.0 zeigt standardmäßig die folgenden Spalten an:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftrags-ID</p>
</li>
<li>
<p>Auftragstyp</p>
</li>
<li>
<p>Auftragsstatus</p>
</li>
<li>
<p>Angemeldet mit</p>
</li>
<li>
<p>Versandprofil</p>
</li>
<li>
<p>Pakete</p>
</li>
<li>
<p>Empfängername</p>
</li>
<li>
<p>Empfängerregion</p>
</li>
<li>
<p>Auftrag erstellt am</p>
</li>
<li>
<p>Auftrag angemeldet am</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Über die Schaltfläche <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="material-settings"></i></span>) ganz oben rechts in der Übersicht kannst du bereits angezeigte Spalten in der Übersicht wieder deaktivieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="gruppenfunktion">2. Gruppenfunktion nutzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald du einen Auftrag markiert hast (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), werden die verschiedenen Schaltflächen sichtbar (siehe <a href="#image-group-function-overview">Bild 1</a>). Wähle mindestens 2 Aufträge aus der Liste, um die Gruppenfunktionen nutzen zu können. In <a href="#table-group-functions">Tabelle 2</a> sind die Bedienelemente aus der Gruppenfunktion sowie deren Erläuterungen aufgelistet.</p>
</div>
<div id="image-group-function-overview" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/versand-center-gruppenfunktion.png" alt="versand center gruppenfunktion" width="640" height="360">
</div>
<div class="title">Bild 1. Gruppenfunktion in der Übersicht</div>
</div>
<table id="table-group-functions" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Gruppenfunktion im Versand-Center nutzen</caption>
<colgroup>
<col style="width: 22.2222%;">
<col style="width: 11.1111%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bedienelement</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufträge bearbeiten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-edit"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt alle markierten Aufträge auf der linken Seite in einer Liste an.<br>
Klicke in die Zeile des Auftrags <span class="icon blue"><i class="fa fa-shopping-cart  "></i></span> <strong>Auftrags-ID</strong>, um den Auftrag in der Detailansicht zu öffnen. Mit einem Klick auf <span class="icon "><i class="fa fa-times  "></i></span> entfernst du den Auftrag wieder aus der Liste. Mit einem Klick auf <span class="icon "><i class="fa fa-angle-left  "></i></span> in der Zeile eines Auftrags öffnet sich eine Liste mit den Bereichen des Auftrags: Übersicht, Empfänger, Pakete, Retouren. Klicke auf einen der Bereiche, um den Auftrag in der Detailansicht zu öffnen. Mit einem Klick auf <span class="icon "><i class="fa fa-angle-down  "></i></span> schließt du die Bereiche des Auftrags wieder. Der Auftrag bleibt aber in der Liste sichtbar.<br>
<strong><em>Tipp:</em></strong> Eine detaillierte <a href="#schritt-für-schritt">Schritt-für-Schritt-Anleitung</a> zum Bearbeiten der Aufträge findest du unterhalb dieser Tabelle.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufträge anmelden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-outgoing_items"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meldet alle markierten Aufträge an.<br>
Nach dem Klick auf <strong>Aufträge anmelden</strong> öffnet sich ein Fenster. Wähle dort den Versanddienstleister, mit dem du die markierten Aufträge anmelden möchtest, aus der Dropdown-Liste. Zwei weitere Dropdown-Listen sind verfügbar, aus denen du die Auftragsstatus wählst, in denen sich die Aufträge bei erfolgreicher und fehlgeschlagener Anmeldung befinden sollen.<br>
<strong><em>Tipp:</em></strong> Eine detaillierte <a href="#schritt-für-schritt">Schritt-für-Schritt-Anleitung</a> zum Anmelden von Aufträgen findest du unterhalb dieser Tabelle.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Polling</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-file_extension_csv"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erstellt eine Polling-Datei im CSV-Format für alle markierten Aufträge.<br>
Nach dem Klick auf <strong>Polling</strong> öffnet sich ein Fenster. Wähle dort den Dienstleister und den Auftragsstatus aus den Dropdown-Listen.<br>
<strong><em>Tipp:</em></strong> Eine detaillierte <a href="#schritt-für-schritt">Schritt-für-Schritt-Anleitung</a> zum Erstellen der Polling-Datei findest du unterhalb dieser Tabelle.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retouren anmelden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-order_return"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meldet für alle markierten Aufträge eine Retoure an.<br>
Nach dem Klick auf <strong>Retouren anmelden</strong> öffnet sich ein Fenster. Wähle dort den Retourendienstleister aus der Dropdown-Liste.<br>
<strong><em>Hinweis:</em></strong> Wenn du das Plugin <strong>DHL Retoure Online</strong> installiert und bereitgestellt hast, sind verschiedene Einstellungen für das Generieren der Labels sichtbar: ein Label pro Auftrag (eine Datei), ein Label pro Paket, ein Label pro Paket (mehrere Dateien).<br>
<strong><em>Tipp:</em></strong> Eine detaillierte <a href="#schritt-für-schritt">Schritt-für-Schritt-Anleitung</a> zum Anmelden von Retouren findest du unterhalb dieser Tabelle.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zusammenfassung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-order_note"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erstellt eine Zusammenfassung für alle markierten Aufträge im PDF-Format.<br>
Nach dem Klick auf <strong>Zusammenfassung</strong> öffnet sich ein Fenster. Wähle dort den Dienstleister aus der Dropdown-Liste.<br>
<strong><em>Tipp:</em></strong> Eine detaillierte <a href="#schritt-für-schritt">Schritt-für-Schritt-Anleitung</a> zum Erstellen der Auftragszusammenfassung findest du unterhalb dieser Tabelle.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandlabels gruppieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-order_open"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fasst die Versandlabels bereits angemeldeter Aufträge im PDF-Format zusammen.<br>
Die Anzahl der PDF-Dateien entspricht der Anzahl der Versanddienstleister. Das bedeutet: Pro Versanddienstleister wird eine PDF-Datei generiert.<br>
<strong><em>Tipp:</em></strong> Eine detaillierte <a href="#schritt-für-schritt">Schritt-für-Schritt-Anleitung</a> zum Gruppieren von Versandlabels findest du unterhalb dieser Tabelle.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retourenlabels gruppieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-order_return_slip"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fasst die Retourenlabels bereits angemeldeter Retouren im PDF-Format zusammen.<br>
Die Anzahl der PDF-Dateien entspricht der Anzahl der Retourendienstleister. Das bedeutet: Pro Retourendienstleister wird eine PDF-Datei generiert.<br>
<strong><em>Tipp:</em></strong> Eine detaillierte <a href="#schritt-für-schritt">Schritt-für-Schritt-Anleitung</a> zum Gruppieren von Retourenlabels findest du unterhalb dieser Tabelle.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufträge zurücksetzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-reset"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt alle markierten Aufträge zurück.<br>
Nach dem Klick auf <strong>Aufträge zurücksetzen</strong> öffnet sich ein Fenster zum Bestätigen der Aktion.
<strong><em>Hinweis:</em></strong> Das Stornieren eines Auftrags ist nur über die Detailansicht möglich, <em>nicht</em> über die Gruppenfunktion in der Übersicht.<br>
<strong><em>Tipp:</em></strong> Eine detaillierte <a href="#schritt-für-schritt">Schritt-für-Schritt-Anleitung</a> zum Zurücksetzen von Aufträgen findest du unterhalb dieser Tabelle.</p></td>
</tr>
</tbody>
</table>
<h3 id="schritt-für-schritt" class="discrete">Schritt-für-Schritt-Anleitungen für die Gruppenfunktionen</h3>
<div class="paragraph">
<p>Klicke auf einen der folgenden Tabs, um eine Schritt-für-Schritt-Anleitung der einzelnen Gruppenfunktionen zu sehen.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="auftr-ge-bearbeiten-tab" data-toggle="tab" href="#auftr-ge-bearbeiten" role="tab" aria-controls="auftr-ge-bearbeiten" aria-selected="true">Aufträge bearbeiten</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="auftr-ge-anmelden-tab" data-toggle="tab" href="#auftr-ge-anmelden" role="tab" aria-controls="auftr-ge-anmelden" aria-selected="false">Aufträge anmelden</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="polling-datei-erzeugen-tab" data-toggle="tab" href="#polling-datei-erzeugen" role="tab" aria-controls="polling-datei-erzeugen" aria-selected="false">Polling-Datei erzeugen</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="retouren-anmelden-tab" data-toggle="tab" href="#retouren-anmelden" role="tab" aria-controls="retouren-anmelden" aria-selected="false">Retouren anmelden</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="zusammenfassung-erstellen-tab" data-toggle="tab" href="#zusammenfassung-erstellen" role="tab" aria-controls="zusammenfassung-erstellen" aria-selected="false">Zusammenfassung erstellen</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="versandlabels-gruppieren-tab" data-toggle="tab" href="#versandlabels-gruppieren" role="tab" aria-controls="versandlabels-gruppieren" aria-selected="false">Versandlabels gruppieren</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="retourenlabels-gruppieren-tab" data-toggle="tab" href="#retourenlabels-gruppieren" role="tab" aria-controls="retourenlabels-gruppieren" aria-selected="false">Retourenlabels gruppieren</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="auftr-ge-zur-cksetzen-tab" data-toggle="tab" href="#auftr-ge-zur-cksetzen" role="tab" aria-controls="auftr-ge-zur-cksetzen" aria-selected="false">Aufträge zurücksetzen</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="auftr-ge-bearbeiten" role="tabpanel" aria-labelledby="auftr-ge-bearbeiten-tab">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um mehrere Aufträge über die Gruppenfunktion zu bearbeiten.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Aufträge über die Gruppenfunktion bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center 2.0</strong>.</p>
</li>
<li>
<p>Suche die Aufträge anhand der Filtereinstellungen wie im Kapitel <a href="#auftrag-suchen">Auftrag im Versand-Center suchen</a> beschrieben.<br>
→ Die Aufträge, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die Aufträge, die du bearbeiten möchtest.</p>
</li>
<li>
<p>Klicke in der Symbolleiste ganz oben auf <strong>Aufträge bearbeiten</strong> (<span class="icon "><i class="psicon-edit"></i></span>).<br>
→ Die gewählten Aufträge werden auf der linken Seite angezeigt.</p>
</li>
<li>
<p>Klicke in die Zeile des Auftrags <span class="icon blue"><i class="fa fa-shopping-cart  "></i></span> <strong>Auftrags-ID</strong>, um den Auftrag in der Detailansicht zu öffnen.</p>
</li>
<li>
<p>Nimm die gewünschten Änderungen vor.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="fa fa-times  "></i></span> in der Zeile eines Auftrags, um den Auftrag wieder aus der Liste zu entfernen.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="fa fa-angle-left  "></i></span> in der Zeile eines Auftrags, um eine Liste mit den Bereichen des Auftrags zu öffnen.<br>
→ Klicke auf einen der Bereiche, um den Auftrag in der Detailansicht zu öffnen.</p>
</li>
<li>
<p>Klicke auf <span class="icon "><i class="fa fa-angle-down  "></i></span>, um die Bereiche des Auftrags wieder zu schließen.<br>
→ Der Auftrag bleibt aber in der Liste sichtbar.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="auftr-ge-anmelden" role="tabpanel" aria-labelledby="auftr-ge-anmelden-tab">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um mehrere Aufträge über die Gruppenfunktion in der Übersicht anzumelden.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Aufträge über die Gruppenfunktion anmelden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center 2.0</strong>.</p>
</li>
<li>
<p>Suche die Aufträge anhand der Filtereinstellungen wie im Kapitel <a href="#auftrag-suchen">Auftrag im Versand-Center suchen</a> beschrieben.<br>
→ Die Aufträge, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die Aufträge, die du anmelden möchtest.</p>
</li>
<li>
<p>Klicke in der Symbolleiste ganz oben auf <strong>Aufträge anmelden</strong> (<span class="icon "><i class="psicon-outgoing_items"></i></span>).<br>
→ Das Fenster <strong>Aufträge anmelden</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle den Versanddienstleister, bei dem du die Aufträge anmelden möchtest, aus der Dropdown-Liste.<br>
<strong><em>Hinweis:</em></strong> Abhängig vom gewählten Versanddienstleister sind weitere Dropdown-Listen verfügbar mit zusätzlichen Optionen verfügbar. Diese zusätzlichen Optionen ermöglichen es dir, das Versandprofil für ausgewählte Aufträge nachträglich zu ändern oder das Versanddatum vor- oder zurückzudatieren.</p>
</li>
<li>
<p>Wähle den Auftragsstatus, in dem sich die Aufträge nach erfolgreicher Anmeldung beim Versanddienstleister befinden sollen, aus der Dropdown-Liste.<br>
<strong><em>Hinweis:</em></strong> Du kannst den Wechsel in diesen Auftragsstatus dann mit einer <a href="#automatisierung/ereignisaktionen">Ereignisaktion</a>, die z.B. automatisch den Warenausgang bucht, verknüpfen.</p>
</li>
<li>
<p>Wähle den Auftragsstatus, in dem sich die Aufträge nach fehlgeschlagener Anmeldung beim Versanddienstleister befinden sollen, aus der Dropdown-Liste.<br>
<strong><em>Hinweis:</em></strong> Du kannst den Wechsel in diesen Auftragsstatus dann mit einer <a href="#automatisierung/ereignisaktionen">Ereignisaktion</a> verknüpfen.</p>
</li>
<li>
<p>Klicke auf <strong>Aufträge anmelden</strong>.<br>
→ Die Aufträge werden beim Versanddienstleister angemeldet.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="polling-datei-erzeugen" role="tabpanel" aria-labelledby="polling-datei-erzeugen-tab">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um eine Polling-Datei für mehrere Aufträge über die Gruppenfunktion zu erzeugen.</p>
</div>
<div class="paragraph instruction">
<p>Polling-Datei für mehrere Aufträge erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center 2.0</strong>.</p>
</li>
<li>
<p>Suche die Aufträge anhand der Filtereinstellungen wie im Kapitel <a href="#auftrag-suchen">Auftrag im Versand-Center suchen</a> beschrieben.<br>
→ Die Aufträge, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die Aufträge, für die du eine Polling-Datei erzeugen möchtest.</p>
</li>
<li>
<p>Klicke in der Symbolleiste ganz oben auf <strong>Polling</strong> (<span class="icon "><i class="psicon-file_extension_csv"></i></span>).</p>
</li>
<li>
<p>Wähle den Dienstleister aus der Dropdown-Liste.<br>
<strong><em>Hinweis:</em></strong> Abhängig vom gewählten Dienstleister sind weitere Einstellungen möglich.</p>
</li>
<li>
<p>Wähle den Auftragsstatus, in den die Aufträge geändert werden sollen.</p>
</li>
<li>
<p>Klicke auf <strong>Polling-Datei erstellen</strong>.<br>
→ Die Polling-Datei wird erzeugt.</p>
</li>
<li>
<p>Speichere die Datei auf deinem Computer und sende sie an den Versanddienstleister.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="retouren-anmelden" role="tabpanel" aria-labelledby="retouren-anmelden-tab">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für mehrere Aufträge über die Gruppenfunktion eine Retoure anzumelden.</p>
</div>
<div class="paragraph instruction">
<p>Retouren für mehrere Aufträge anmelden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center 2.0</strong>.</p>
</li>
<li>
<p>Suche die Aufträge anhand der Filtereinstellungen wie im Kapitel <a href="#auftrag-suchen">Auftrag im Versand-Center suchen</a> beschrieben.<br>
→ Die Aufträge, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die Aufträge, für die du eine Retoure anmelden möchtest.</p>
</li>
<li>
<p>Klicke in der Symbolleiste ganz oben auf <strong>Retouren anmelden</strong> (<span class="icon "><i class="psicon-order_return"></i></span>).<br>
→ Das Fenster <strong>Retouren anmelden</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle den Retourendienstleister, bei dem du die Retouren anmelden möchtest, aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Retouren anmelden</strong>.<br>
→ Die Aufträge werden beim Retourendienstleister angemeldet und die Paketnummern werden am Auftrag gespeichert.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="zusammenfassung-erstellen" role="tabpanel" aria-labelledby="zusammenfassung-erstellen-tab">
<div class="paragraph">
<p>Erzeuge eine Auftragszusammenfassung bzw. Tagesabschlussliste von in deinem plentymarkets System eingerichteten Versanddienstleistern.</p>
</div>
<div class="paragraph">
<p>Eine solche Zusammenfassung enthält alle Aufträge, die an einem Tag bei dem Versanddienstleister angemeldet wurden und vom Versanddienstleister abgeholt werden sollen. Die im Auftrag des Versanddienstleisters abholende Person unterschreibt dann diese Liste statt jedes Versandlabel einzeln zu unterschreiben. Die Liste dient also als Abholbeleg.</p>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für mehrere Aufträge über die Gruppenfunktion eine Zusammenfassung zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Auftragszusammenfassung für mehrere Aufträge erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center 2.0</strong>.</p>
</li>
<li>
<p>Suche die Aufträge anhand der Filtereinstellungen wie im Kapitel <a href="#auftrag-suchen">Auftrag im Versand-Center suchen</a> beschrieben.<br>
→ Die Aufträge, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die Aufträge, für die du eine Auftragszusammenfassung erstellen möchtest.</p>
</li>
<li>
<p>Klicke in der Symbolleiste ganz oben auf <strong>Zusammenfassung</strong> (<span class="icon "><i class="psicon-order_note"></i></span>).</p>
</li>
<li>
<p>Wähle den Dienstleister aus der Dropdown-Liste.<br>
<strong><em>Hinweis:</em></strong> Falls vorhanden, werden weitere Optionen des Versanddienstleisters eingeblendet.</p>
</li>
<li>
<p>Nimm ggf. Einstellungen für die Optionen wie z.B. das Wählen des Versanddatums vor.</p>
</li>
<li>
<p>Klicke auf <strong>Zusammenfassung erstellen</strong>.<br>
→ Die PDF-Datei wird erzeugt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Auftragszusammenfassung über den elastischem Export exportieren</div>
<div class="paragraph">
<p>Als Alternative zur Auftragszusammenfassung eines Tages im Menü <strong>Aufträge » Versand-Center 2.0</strong> kannst du einen <a href="/daten/daten-exportieren/elastischer-export">elastischen Export</a> durchführen. Erstelle dazu im Vorfeld ein Exportformat mit dem <a href="/daten/daten-exportieren/FormatDesigner">FormatDesigner</a> vom Typ <a href="#daten/daten-exportieren/FormatDesigner/format-typen/auftraege#1100">Aufträge</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div><div class="tab-pane fade" id="versandlabels-gruppieren" role="tabpanel" aria-labelledby="versandlabels-gruppieren-tab">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für mehrere Aufträge Versandlabels über die Gruppenfunktion zu gruppieren.</p>
</div>
<div class="paragraph instruction">
<p>Versandlabels über die Gruppenfunktion gruppieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center 2.0</strong>.</p>
</li>
<li>
<p>Suche die Aufträge anhand der Filtereinstellungen wie im Kapitel <a href="#auftrag-suchen">Auftrag im Versand-Center suchen</a> beschrieben.<br>
→ Die Aufträge, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die Aufträge, für die du Versandlabels gruppieren möchtest.</p>
</li>
<li>
<p>Klicke in der Symbolleiste ganz oben auf <strong>Versandlabels gruppieren</strong> (<span class="icon "><i class="psicon-order_open"></i></span>).<br>
→ Die PDF-Datei wird generiert und du kannst sie auf deinem Computer speichern.<br>
<strong><em>Hinweis:</em></strong> Die Anzahl der PDF-Dateien entspricht der Anzahl der Versanddienstleister. Das bedeutet: Pro Versanddienstleister wird eine PDF-Datei generiert.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="retourenlabels-gruppieren" role="tabpanel" aria-labelledby="retourenlabels-gruppieren-tab">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für mehrere Aufträge Retourenlabels über die Gruppenfunktion zu gruppieren.</p>
</div>
<div class="paragraph instruction">
<p>Retourenlabels über die Gruppenfunktion gruppieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center 2.0</strong>.</p>
</li>
<li>
<p>Suche die Aufträge anhand der Filtereinstellungen wie im Kapitel <a href="#auftrag-suchen">Auftrag im Versand-Center suchen</a> beschrieben.<br>
→ Die Aufträge, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die Aufträge, für die du Retourenlabels gruppieren möchtest.</p>
</li>
<li>
<p>Klicke in der Symbolleiste ganz oben auf <strong>Retourenlabels gruppieren</strong> (<span class="icon "><i class="psicon-order_return_slip"></i></span>).<br>
→ Die PDF-Datei wird generiert und du kannst sie auf deinem Computer speichern.<br>
<strong><em>Hinweis:</em></strong> Die Anzahl der PDF-Dateien entspricht der Anzahl der Retourendienstleister. Das bedeutet: Pro Retourendienstleister wird eine PDF-Datei generiert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Tipp:</em></strong> Wie du Retourenlabels über das Plugin <strong>DHL Retoure Online</strong> automatisch über eine Ereignisaktion oder einen Prozess generierst, ist auf der Handbuchseite <a href="/fulfillment/versanddienstleister-plugins/plugin-dhl-retoure-online#optionen-retourenlabels-generieren">DHL Retoure Online</a> beschrieben.</p>
</div>
</div><div class="tab-pane fade" id="auftr-ge-zur-cksetzen" role="tabpanel" aria-labelledby="auftr-ge-zur-cksetzen-tab">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um mehrere Aufträge über die Gruppenfunktion zurückzusetzen.</p>
</div>
<div class="paragraph instruction">
<p>Mehrere Aufträge über die Gruppenfunktion zurücksetzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center 2.0</strong>.</p>
</li>
<li>
<p>Suche die Aufträge anhand der Filtereinstellungen wie im Kapitel <a href="#auftrag-suchen">Auftrag im Versand-Center suchen</a> beschrieben.<br>
→ Die Aufträge, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) die Aufträge, die du zurücksetzen möchtest.</p>
</li>
<li>
<p>Klicke in der Symbolleiste ganz oben auf <strong>Aufträge zurücksetzen</strong> (<span class="icon "><i class="psicon-reset"></i></span>).<br>
→ Ein Fenster mit einer Sicherheitsabfrage öffnet sich.</p>
</li>
<li>
<p>Bestätige die Aktion mit einem Klick auf <strong>Aufträge zurücksetzen</strong>.<br>
→ Die Aufträge werden zurückgesetzt.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Auftrag stornieren vs. Auftrag zurücksetzen</div>
<div class="paragraph">
<p>Wenn du einen Auftrag im Versand-Center stornierst, wird die Anmeldung in plentymarkets und auch beim Versanddienstleister zurückgenommen, sodass der Auftrag <em>nicht</em> abgeholt wird.</p>
</div>
<div class="paragraph">
<p>Wenn du einen Auftrag zurücksetzt, ist er in plentymarkets wieder als offener Auftrag verfügbar, aber beim Versanddienstleister weiterhin angemeldet und wird berechnet. Die Funktion <strong>Zurücksetzen</strong> setzt lediglich die Anmeldungen zurück. Der Auftrag wird aber <em>nicht</em> beim Dienstleister storniert. Daher solltest du den Auftrag generell stornieren.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Das Stornieren ist nur für einzelne Aufträge möglich, <em>nicht</em> über die Gruppenfunktion. Weitere Informationen dazu findest du im Kapitel <a href="#auftrag-stornieren">Einzelnen Auftrag stornieren</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="einzelnen-auftrag-bearbeiten">3. Einzelnen Auftrag bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In den folgenden Unterkapiteln ist beschrieben, welche Bearbeitungsmöglichkeiten du für einen einzelnen Auftrag hast. Die folgenden Unterkapitel stehen dir hier zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#auftrag-anzeigen">Auftrag anzeigen</a></p>
</li>
<li>
<p><a href="#auftrag-anmelden">Einzelnen Auftrag anmelden</a></p>
</li>
<li>
<p><a href="#versandlabels-herunterladen">Versandlabels herunterladen</a></p>
</li>
<li>
<p><a href="#auftrag-zuruecksetzen">Einzelnen Auftrag zurücksetzen</a></p>
</li>
<li>
<p><a href="#auftrag-stornieren">Einzelnen Auftrag stornieren</a></p>
</li>
<li>
<p><a href="#polling-einzelner-auftrag">Polling-Datei für einzelnen Auftrag erzeugen</a></p>
</li>
<li>
<p><a href="#retoure-anmelden">Retoure für einzelnen Auftrag anmelden</a></p>
</li>
<li>
<p><a href="#retourenlabel-abrufen">Retourenlabel abrufen</a></p>
</li>
<li>
<p><a href="#exportlabels-herunterladen">Exportlabels herunterladen</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="auftrag-anzeigen">3.1. Auftrag anzeigen</h3>
<div class="paragraph">
<p>Wenn du einen Auftrag öffnest, siehst du die folgenden 4 Bereiche in der Detailansicht:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Übersicht</p>
</li>
<li>
<p>Empfänger</p>
</li>
<li>
<p>Pakete</p>
</li>
<li>
<p>Retouren</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese Bereiche werden in den folgenden Unterkapiteln näher erläutert.</p>
</div>
<div class="paragraph">
<p>Außerdem stehen dir im Auftrag die folgenden Funktionen in der Symbolleiste ganz oben zur Verfügung:</p>
</div>
<div id="image-functions-toolbar-order" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/versand-center-funktionen-einzelner-auftrag.png" alt="versand center funktionen einzelner auftrag" width="640" height="360">
</div>
<div class="title">Bild 2. Verfügbare Funktionen im einzelnen Auftrag</div>
</div>
<div class="paragraph">
<p>In <a href="#table-functions-single-order">Tabelle 3</a> sind die Bedienelemente aus dem einzelnen Auftrag sowie deren Erläuterungen aufgelistet.</p>
</div>
<table id="table-functions-single-order" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Verfügbare Funktionen im einzelnen Auftrag</caption>
<colgroup>
<col style="width: 22.2222%;">
<col style="width: 11.1111%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Bedienelement</th>
<th class="tableblock halign-left valign-top">Symbol</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag anmelden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-outgoing_items"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meldet den Auftrag an.<br>
Nach dem Klick auf <strong>Auftrag anmelden</strong> öffnet sich ein Fenster. Wähle dort den Versanddienstleister, mit dem du den Auftrag anmelden möchtest, aus der Dropdown-Liste.<br>
Zwei weitere Dropdown-Listen sind verfügbar, aus denen du die Auftragsstatus wählst, in dem sich der Auftrag bei erfolgreichern und fehlgeschlagener Anmeldung befinden soll.<br>
<strong><em>Tipp:</em></strong> Eine detaillierte Schritt-für-Schritt-Anleitung zum Anmelden eines Auftrags findest du im Kapitel <a href="#auftrag-anmelden">Einzelnen Auftrag anmelden</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Polling</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-file_extension_csv"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erstellt eine Polling-Datei im CSV-Format.<br>
Nach dem Klick auf <strong>Polling</strong> öffnet sich ein Fenster. Wähle dort den Dienstleister und den Auftragsstatus aus den Dropdown-Listen.<br>
<strong><em>Tipp:</em></strong> Eine detaillierte Schritt-für-Schritt-Anleitung zum Erstellen der Polling-Datei für einen einzelnen Auftrag findest du im Kapitel <a href="#polling-einzelner-auftrag">Polling-Datei für einzelnen Auftrag erzeugen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retoure anmelden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-order_return"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meldet eine Retoure an.<br>
Nach dem Klick auf <strong>Retoure anmelden</strong> öffnet sich ein Fenster. Wähle dort den Retourendienstleister aus der Dropdown-Liste.<br>
<strong><em>Hinweis:</em></strong> Wenn du das Plugin <strong>DHL Retoure Online</strong> installiert und bereitgestellt hast, sind verschiedene Einstellungen für das Generieren der Labels sichtbar: ein Label pro Auftrag (eine Datei), ein Label pro Paket, ein Label pro Paket (mehrere Dateien).<br>
<strong><em>Tipp:</em></strong> Eine detaillierte Schritt-für-Schritt-Anleitung zum Anmelden einer Retoure findest du im Kapitel <a href="#retoure-anmelden">Retoure für einzelnen Auftrag anmelden</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag zurücksetzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-reset"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt den Auftrag zurück.<br>
Nach dem Klick auf <strong>Auftrag zurücksetzen</strong> öffnet sich ein Fenster zum Bestätigen der Aktion.<br>
<strong><em>Tipp:</em></strong> Eine detaillierte Schritt-für-Schritt-Anleitung zum Zurücksetzen eines Auftrags findest du im Kapitel <a href="#auftrag-zuruecksetzen">Einzelnen Auftrag zurücksetzen</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag stornieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="fa fa-times-circle  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Storniert den Auftrag.<br>
Nach dem Klick auf <strong>Auftrag stornieren</strong> öffnet sich ein Fenster zum Bestätigen der Aktion.<br>
<strong><em>Tipp:</em></strong> Eine detaillierte Schritt-für-Schritt-Anleitung zum Stornieren eines Auftrags findest du im Kapitel <a href="#auftrag-stornieren">Einzelnen Auftrag stornieren</a>.</p></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="uebersicht">3.1.1. Übersicht</h4>
<div class="paragraph">
<p>Im Bereich <strong>Übersicht</strong> siehst du allgemeine Informationen zum Anmeldestatus des Auftrags:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftrags-ID</p>
<div class="ulist">
<ul>
<li>
<p>Mit einem Klick auf die ID landest du direkt im Auftrag im Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Angemeldet mit</p>
<div class="ulist">
<ul>
<li>
<p>Hier siehst du den Namen des Versanddienstleisters, mit dem der Auftrag angemeldet wurde.<br>
<strong><em>Hinweis:</em></strong> Wenn der Auftrag noch nicht angemeldet wurde, steht hier der Hinweis <em>Nicht angemeldet</em>.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Anzahl der Pakete</p>
</li>
<li>
<p>Anmeldezeit des Versandlabels</p>
<div class="ulist">
<ul>
<li>
<p>Datum und Uhrzeit der Auftragsanmeldung</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="empfaenger">3.1.2. Empfänger</h4>
<div class="paragraph">
<p>Im Bereich <strong>Empfänger</strong> siehst du einige Lieferdetails wie die Versandregion und die Adresse der Empfänger:in. Mit einem Klick auf die Kontakt-ID landest du direkt im Kontaktdatensatz im Menü <strong>CRM » Kontakte</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="pakete">3.1.3. Pakete</h4>
<div class="paragraph">
<p>Der Bereich <strong>Pakete</strong> zeigt standardmäßig die folgenden Spalten an:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ID</p>
</li>
<li>
<p>Bezeichnung</p>
<div class="ulist">
<ul>
<li>
<p>Hier wird <em>Standardpaket</em> bzw. der Name des Versandpakets, das du im Menü <strong>Einrichtung » Aufträge » Versand » Versandpakete</strong> erstellt hast, angezeigt.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Gewicht</p>
</li>
<li>
<p>Maße</p>
</li>
<li>
<p>Volumen</p>
</li>
<li>
<p>Anzahl der Artikel</p>
</li>
<li>
<p>Typ</p>
<div class="ulist">
<ul>
<li>
<p>Hier wird die Packstückart angezeigt.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Paketnummer</p>
<div class="ulist">
<ul>
<li>
<p>Hier wird die Paketnummer angezeigt, die nach erfolgreicher Anmeldung des Auftrags vom Versanddienstleister zurückkommt.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p>Über die Schaltfläche <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="material-settings"></i></span>) kannst du bereits angezeigte Spalten in der Übersicht wieder deaktivieren.</p>
</div>
<div class="paragraph">
<p>Eine detaillierte Beschreibung zu den Versandpaketen findest du weiter unten auf dieser Seite im Kapitel <a href="#versandpaket-bearbeiten">Versandpaket bearbeiten</a>.</p>
</div>
</div>
<div class="sect3">
<h4 id="retouren">3.1.4. Retouren</h4>
<div class="paragraph">
<p>Der Bereich <strong>Retouren</strong> zeigt standardmäßig die folgenden Spalten an:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ID</p>
</li>
<li>
<p>Retouren-ID</p>
<div class="ulist">
<ul>
<li>
<p>Wenn die Retoure über den Hauptauftrag angemeldet wurde, steht in diesem Feld <em>keine</em> ID. Wenn die Retoure ein Auftrag vom Typ <strong>Retoure</strong> ist, ist in diesem Feld die ID zu sehen.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Retourendienstleister</p>
</li>
<li>
<p>Angemeldet am</p>
<div class="ulist">
<ul>
<li>
<p>Datum und Uhrzeit der Retourenanmeldung</p>
</li>
</ul>
</div>
</li>
<li>
<p>Gültig bis</p>
<div class="ulist">
<ul>
<li>
<p>Gültigkeit, wie lange die Labels in deinem plentyShop deinen Kund:innen zum Download zur Verfügung stehen.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Paketnummer</p>
<div class="ulist">
<ul>
<li>
<p>Hier wird die Paketnummer angezeigt, die nach erfolgreicher Anmeldung der Retoure vom Retourendienstleister zurückkommt.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p>Über die Schaltfläche <strong>Spalten konfigurieren</strong> (<span class="icon "><i class="material-settings"></i></span>) kannst du bereits angezeigte Spalten in der Übersicht wieder deaktivieren.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="auftrag-anmelden">3.2. Einzelnen Auftrag anmelden</h3>
<div class="paragraph">
<p>Wenn du deine Aufträge im Versand-Center bei einem Versanddienstleister anmeldest, werden diese auch direkt an den Versanddienstleister übertragen.</p>
</div>
<div class="paragraph">
<p>Verwende z.B. die <a href="#auftrag-suchen">Filtereinstellungen</a> in der Suche des Versand-Centers, um nur Aufträge für einen bestimmten Versanddienstleister in einem bestimmten Auftragsstatus anzuzeigen. Bei der Anmeldung erhältst du sowohl im Erfolgsfall als auch im Fehlerfall eine Meldung vom Versanddienstleister.</p>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um einen Auftrag einzeln anzumelden.</p>
</div>
<div class="paragraph instruction">
<p>Einzelnen Auftrag anmelden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center 2.0</strong>.</p>
</li>
<li>
<p>Suche den Auftrag, den du anmelden möchtest, anhand der Filtereinstellungen wie im Kapitel <a href="#auftrag-suchen">Auftrag im Versand-Center suchen</a> beschrieben.<br>
→ Die Aufträge, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Öffne den Auftrag, den du anmelden möchtest.</p>
</li>
<li>
<p>Klicke in der Symbolleiste ganz oben auf <strong>Auftrag anmelden</strong> (<span class="icon "><i class="psicon-outgoing_items"></i></span>).<br>
→ Das Fenster <strong>Auftrag anmelden</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle den Versanddienstleister, bei dem du den Auftrag anmelden möchtest, aus der Dropdown-Liste.<br>
<strong><em>Hinweis:</em></strong> Abhängig vom gewählten Versanddienstleister sind weitere Dropdown-Listen verfügbar mit zusätzlichen Optionen verfügbar. Diese zusätzlichen Optionen ermöglichen es dir, das Versandprofil für ausgewählte Aufträge nachträglich zu ändern oder das Versanddatum vor- oder zurückzudatieren.</p>
</li>
<li>
<p>Wähle den Auftragsstatus, in dem sich der Auftrag nach erfolgreicher Anmeldung beim Versanddienstleister befinden soll, aus der Dropdown-Liste.<br>
<strong><em>Hinweis:</em></strong> Du kannst den Wechsel in diesen Auftragsstatus dann mit einer <a href="#automatisierung/ereignisaktionen">Ereignisaktion</a>, die z.B. automatisch den Warenausgang bucht, verknüpfen.</p>
</li>
<li>
<p>Wähle den Auftragsstatus, in dem sich der Auftrag nach fehlgeschlagener Anmeldung beim Versanddienstleister befinden soll, aus der Dropdown-Liste.<br>
<strong><em>Hinweis:</em></strong> Du kannst den Wechsel in diesen Auftragsstatus dann mit einer <a href="#automatisierung/ereignisaktionen">Ereignisaktion</a> verknüpfen.</p>
</li>
<li>
<p>Klicke auf <strong>Anmelden</strong>.<br>
→ Der Auftrag wird beim Versanddienstleister angemeldet.<br>
→ Der angemeldete Auftrag erhält eine Paketnummer im Bereich <a href="#pakete">Pakete</a>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="versandlabels-herunterladen">3.3. Versandlabels herunterladen</h3>
<div class="paragraph">
<p>Wenn der Auftrag erfolgreich angemeldet wurde, ist das Versandlabel im Bereich <strong>Pakete</strong> verfügbar. Mit einem Klick auf <strong>Versandlabels herunterladen</strong> (<span class="icon "><i class="psicon-order_open"></i></span>) kannst du das Label bzw. die Labels auf deinem Computer speichern und anschließend drucken.</p>
</div>
<h4 id="_versandlabel_automatisch_per_e_mail_versenden" class="discrete">Versandlabel automatisch per E-Mail versenden</h4>
<div class="paragraph">
<p>Du kannst Versandlabels automatisch über eine Ereignisaktion generieren und diese dann per E-Mail versenden. Für dieses Vorgehen benötigst du 2 Ereignisaktionen. Diese sind im Folgenden aufgelistet.</p>
</div>
<h5 id="_ereignisaktion_zum_anmelden_des_auftrags" class="discrete">Ereignisaktion zum Anmelden des Auftrags</h5>
<div class="paragraph">
<p>Richte zunächst eine <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, die den Auftrag anmeldet und die Paketnummer zurückgibt.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion zum Anmelden des Auftrags einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#table-event-procedure-register-order">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#table-event-procedure-register-order">Tabelle 4</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-event-procedure-register-order" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Ereignisaktion zum automatischen Anmelden des Auftrags</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Statuswechsel: Neuer Auftrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Freigabe Versand</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Auftrag beim Versanddienstleister anmelden</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Status ändern</strong> (optional)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status wählen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<h5 id="_ereignisaktion_für_den_e_mail_versand" class="discrete">Ereignisaktion für den E-Mail-Versand</h5>
<div class="paragraph">
<p>Richte nun eine weitere <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a> ein, die auf den erfolgreich angemeldeten Auftrag reagiert und die E-Mail mit dem Versandlabel an deine Kund:innen versendet.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Ereignisaktion für den E-Mail-Versand einrichten</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Ereignisse</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Ereignisaktion hinzufügen</strong>.<br>
→ Das Fenster <strong>Neue Ereignisaktion erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle das <strong>Ereignis</strong> gemäß <a href="#table-event-procedure-send-email-with-shipping-label">Tabelle 5</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#table-event-procedure-send-email-with-shipping-label">Tabelle 5</a> vor.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-event-procedure-send-email-with-shipping-label" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Ereignisaktion zum automatischen Erstellen von Retourenetiketten für DHL</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Auswahl</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ereignis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsänderung: Paketnummer</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunde &gt; E-Mail versenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle aus der ersten Dropdown-Liste die E-Mail-Vorlage, in der als Anhang das <strong>Versandlabel</strong> gespeichert wurde. Wähle aus der zweiten Dropdown-Liste als Empfänger die Option <strong>Kunde</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag &gt; Status ändern</strong> (optional)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status wählen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="auftrag-zuruecksetzen">3.4. Einzelnen Auftrag zurücksetzen</h3>
<div class="paragraph">
<p>Beachte das Ende des Versandtages, das du bei deinem Versanddienstleister definiert hast. Nachdem das Ende des Versandtages erreicht ist (oft ist dies ein Zeitpunkt zwischen 16:00 und 18:00 Uhr), kannst du den Auftrag nur noch zurücksetzen, aber nicht mehr <a href="#auftrag-stornieren">stornieren</a>.</p>
</div>
<div id="unterschied-zuruecksetzen-stornieren" class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Unterschied zwischen Auftrag stornieren und Auftrag zurücksetzen</div>
<div class="paragraph">
<p>Wenn du einen Auftrag im Versand-Center stornierst, wird die Anmeldung in plentymarkets und auch beim Versanddienstleister zurückgenommen, sodass der Auftrag <em>nicht</em> abgeholt wird.</p>
</div>
<div class="paragraph">
<p>Wenn du einen Auftrag zurücksetzt, ist er in plentymarkets wieder als offener Auftrag verfügbar, aber beim Versanddienstleister weiterhin angemeldet und wird berechnet. Die Funktion <strong>Zurücksetzen</strong> setzt lediglich die Anmeldungen zurück. Der Auftrag wird aber <em>nicht</em> beim Dienstleister storniert. Daher solltest du den Auftrag generell stornieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden vor, um einen einzelnen Auftrag zurückzusetzen.</p>
</div>
<div class="paragraph instruction">
<p>Einzelnen Auftrag zurücksetzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center 2.0</strong>.</p>
</li>
<li>
<p>Suche den Auftrag, den du zurücksetzen möchtest, anhand der Filtereinstellungen wie im Kapitel <a href="#auftrag-suchen">Auftrag im Versand-Center suchen</a> beschrieben.<br>
→ Die Aufträge, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Öffne den Auftrag.</p>
</li>
<li>
<p>Klicke in der Symbolleiste ganz oben auf <strong>Auftrag zurücksetzen</strong> (<span class="icon "><i class="psicon-reset"></i></span>).<br>
→ Ein Fenster mit einer Sicherheitsabfrage öffnet sich. Beachte den Hinweis in der Box <a href="#unterschied-zuruecksetzen-stornieren">Unterschied zwischen Auftrag stornieren und Auftrag zurücksetzen</a> am Anfang dieses Kapitels.</p>
</li>
<li>
<p>Bestätige die Aktion mit einem Klick auf <strong>Auftrag zurücksetzen</strong>.<br>
→ Der Auftrag wird zurückgesetzt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="auftrag-stornieren">3.5. Einzelnen Auftrag stornieren</h3>
<div class="paragraph">
<p>Beachte das Ende des Versandtages, das du bei deinem Versanddienstleister definiert hast. Nachdem das Ende des Versandtages erreicht ist (oft ist dies ein Zeitpunkt zwischen 16:00 und 18:00 Uhr), kannst du den Auftrag nicht mehr stornieren, sondern nur noch <a href="#auftrag-zuruecksetzen">zurücksetzen</a>.</p>
</div>
<div id="unterschied-stornieren-zuruecksetzen" class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Unterschied zwischen Auftrag stornieren und Auftrag zurücksetzen</div>
<div class="paragraph">
<p>Wenn du einen Auftrag im Versand-Center stornierst, wird die Anmeldung in plentymarkets und auch beim Versanddienstleister zurückgenommen, sodass der Auftrag <em>nicht</em> abgeholt wird.</p>
</div>
<div class="paragraph">
<p>Wenn du einen Auftrag zurücksetzt, ist er in plentymarkets wieder als offener Auftrag verfügbar, aber beim Versanddienstleister weiterhin angemeldet und wird berechnet. Die Funktion <strong>Zurücksetzen</strong> setzt lediglich die Anmeldungen zurück. Der Auftrag wird aber <em>nicht</em> beim Dienstleister storniert. Daher solltest du den Auftrag generell stornieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden vor, um einen einzelnen Auftrag zu stornieren.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Beachte, dass du einen Auftrag nur über die Detailansicht eines einzelnen Auftrags stornieren kannst, aber <em>nicht</em> über die Gruppenfunktion.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Einzelnen Auftrag stornieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center 2.0</strong>.</p>
</li>
<li>
<p>Suche den Auftrag, den du stornieren möchtest, anhand der Filtereinstellungen wie im Kapitel <a href="#auftrag-suchen">Auftrag im Versand-Center suchen</a> beschrieben.<br>
→ Die Aufträge, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Öffne den Auftrag.</p>
</li>
<li>
<p>Klicke in der Symbolleiste ganz oben auf <strong>Auftrag stornieren</strong> (<span class="icon "><i class="fa fa-times-circle  "></i></span>).<br>
→ Ein Fenster mit einer Sicherheitsabfrage öffnet sich. Beachte den Hinweis in der Box <a href="#unterschied-stornieren-zuruecksetzen">Unterschied zwischen Auftrag stornieren und Auftrag zurücksetzen</a> am Anfang dieses Kapitels.</p>
</li>
<li>
<p>Bestätige die Aktion mit einem Klick auf <strong>Auftrag zurücksetzen</strong>.<br>
→ Der Auftrag wird zurückgesetzt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="polling-einzelner-auftrag">3.6. Polling-Datei für einzelnen Auftrag erzeugen</h3>
<div class="paragraph">
<p>Erzeuge für die Software eines Versanddienstleisters eine Polling-Datei. Eine Polling-Datei wird benötigt, wenn keine direkte Schnittstelle zu dem Versanddienstleisters besteht und somit die Anmeldung des Auftrags nicht über das Versand-Center 2.0 erfolgen kann. Die in plentymarkets erzeugte Polling-Datei ist im Regelfall eine CSV-Datei.</p>
</div>
<div class="paragraph instruction">
<p>Polling-Datei für einzelnen Auftrag erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center 2.0</strong>.</p>
</li>
<li>
<p>Suche den Auftrag anhand der Filtereinstellungen wie im Kapitel <a href="#auftrag-suchen">Auftrag im Versand-Center suchen</a> beschrieben.<br>
→ Die Aufträge, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Öffne den Auftrag.</p>
</li>
<li>
<p>Klicke in der Symbolleiste ganz oben auf <strong>Polling</strong> (<span class="icon "><i class="psicon-file_extension_csv"></i></span>).</p>
</li>
<li>
<p>Wähle den Dienstleister aus der Dropdown-Liste.<br>
<strong><em>Hinweis:</em></strong> Abhängig vom gewählten Dienstleister sind weitere Einstellungen möglich.</p>
</li>
<li>
<p>Wähle den Auftragsstatus, in den der Auftrag geändert werden soll.</p>
</li>
<li>
<p>Klicke auf <strong>Polling-Datei erstellen</strong>.<br>
→ Die Polling-Datei wird erzeugt.</p>
</li>
<li>
<p>Speichere die Datei auf deinem Computer und sende sie an den Versanddienstleister.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="retoure-anmelden">3.7. Retoure für einzelnen Auftrag anmelden</h3>
<div class="paragraph">
<p>Nachdem du die Retoure angemeldet hast, ist das Retourenlabel als PDF-Datei zum Download verfügbar. Du meldest eine Retoure entweder über den Hauptauftrag oder über den Auftragstyp <strong>Retoure</strong> an. Weitere Informationen zum Auftragstyp <strong>Retoure</strong> findest du auf der Handbuchseite <a href="/auftraege/auftraege-verwalten#400">Aufträge verwalten</a>.</p>
</div>
<div class="paragraph instruction">
<p>Retoure für einzelnen Auftrag anmelden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center 2.0</strong>.</p>
</li>
<li>
<p>Suche den Auftrag, für den du eine Retoure anmelden möchtest, anhand der Filtereinstellungen wie im Kapitel <a href="#auftrag-suchen">Auftrag im Versand-Center suchen</a> beschrieben.<br>
→ Die Aufträge, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Öffne den Auftrag.</p>
</li>
<li>
<p>Klicke in der Symbolleiste ganz oben auf <strong>Retoure anmelden</strong> (<span class="icon "><i class="psicon-order_return"></i></span>).<br>
→ Das Fenster <strong>Retoure anmelden</strong> öffnet sich.</p>
</li>
<li>
<p>Wähle den Retourendienstleister aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <strong>Retoure anmelden</strong>.<br>
→ Die Retoure wird für den Auftrag angemeldet und die Paketnummer wird am Auftrag gespeichert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="retourenlabel-abrufen">3.8. Retourenlabel abrufen</h3>
<div class="paragraph">
<p>Wenn die Retoure erfolgreich angemeldet wurde, ist das Retourenlabel im Bereich <strong>Retouren</strong> verfügbar. Mit einem Klick auf <strong>Retourenlabel</strong> (<span class="icon "><i class="psicon-order_open"></i></span>) kannst du das Label auf deinem Computer speichern und es anschließend drucken.</p>
</div>
<div class="paragraph">
<p><a href="#image-return-label">Bild 3</a> zeigt als Beispiel eine bei DHL Retoure Online angemeldete Retoure mit der Einstellung, dass pro Paket ein Label generiert wird. Wenn mehrere Pakete vorhanden sind, wird jeweils eine PDF-Datei pro Retourenlabel generiert.</p>
</div>
<div id="image-return-label" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/versand-center-retourenlabel-drucken.png" alt="versand center retourenlabel drucken" width="640" height="360">
</div>
<div class="title">Bild 3. Retourenlabel drucken</div>
</div>
<div class="paragraph">
<p>Neben der manuellen Möglichkeit kannst du z.B. bei DHL Retoure Online die Retourenlabels automatisch über eine Ereignisaktion oder einen Prozess generieren:</p>
</div>
<div class="paragraph">
<p>Die folgenden Optionen stehen dir sowohl in den Ereignisaktionen als auch in den Prozessen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Plugins &gt; DHL Retoure Online-Label generieren</strong></p>
<div class="ulist">
<ul>
<li>
<p>Meldet die Retoure bei DHL Retoure Online an. Pro Auftrag wird unabhängig von der Paketanzahl ein Label generiert.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Plugins &gt; DHL Retoure Online-Label generieren (1 Label/Paket: 1 Datei)</strong></p>
<div class="ulist">
<ul>
<li>
<p>Meldet die Retoure bei DHL Retoure Online an. Pro Paket wird ein Label generiert. Wenn mehrere Pakete vorhanden sind, wird eine PDF-Datei mit allen Retourenlabels generiert.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Plugins &gt; DHL Retoure Online-Label generieren (1 Label/Paket: mehrere Dateien)</strong></p>
<div class="ulist">
<ul>
<li>
<p>Meldet die Retoure bei DHL Retoure Online an. Pro Paket wird ein Label generiert. Wenn mehrere Pakete vorhanden sind, wird jeweils eine PDF-Datei pro Retourenlabel generiert.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die genannten Optionen kannst du in den folgenden Bereichen des plentymarkets Backend wählen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>in der Aktionsgruppe <strong>Plugins</strong> der Ereignisaktionen</p>
</li>
<li>
<p>als <strong>Retourentyp</strong> in der Aktion <strong>Retourenetikett</strong> in Prozessen</p>
</li>
<li>
<p>im Versand-Center beim Anmelden der Retoure</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Weitere Informationen zum Plugin <strong>DHL Retoure Online</strong> findest du auf der Handbuchseite <a href="/fulfillment/versanddienstleister-plugins/plugin-dhl-retoure-online">DHL Retoure Online</a>.</p>
</div>
<h4 id="retourenlabel-als-e-mail-anhang" class="discrete">Retourenlables aller verfügbaren Dienstleister als E-Mail-Anhang mit einer Ereignisaktion versenden</h4>
<div class="paragraph">
<p>Wenn du im Menü <strong>CRM » EmailBuilder</strong> in der E-Mail-Vorlage die Einstellung <strong>Retourenlabel</strong> aus der Dropdown-Liste der dynamischen Anhänge wählst, können die Retourenlabels aller in plentymarkets eingebundenen Versanddienstleister – sei es über ein Plugin oder eine feste Integration – als E-Mail-Anhang versendet. Dazu musst du nur noch die E-Mail-Vorlage mit dieser Einstellung mit einer Ereignisaktion verknüpfen, damit die E-Mail-Vorlage bei Eintritt des Ereignisses automatisch an deine Kund:innen versendet wird.</p>
</div>
</div>
<div class="sect2">
<h3 id="exportlabels-herunterladen">3.9. Exportlabels herunterladen</h3>
<div class="paragraph">
<p>Pakete, die du in Länder außerhalb der EU versendest, benötigen eine Zollinhaltserklärung, das sogenannte <em>CN23-Formular</em>. Sobald du eine Sendung erfolgreich angemeldet hast, deren Lieferland ein Land außerhalb der EU ist, ist im Bereich <strong>Pakete</strong> automatisch das Exportlabel verfügbar.</p>
</div>
<div class="paragraph instruction">
<p>Exportlabel herunterladen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center 2.0</strong>.</p>
</li>
<li>
<p>Suche den Auftrag anhand der Filtereinstellungen wie im Kapitel <a href="#auftrag-suchen">Auftrag im Versand-Center suchen</a> beschrieben.<br>
→ Die Aufträge, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Öffne den Auftrag.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Pakete</strong> auf <strong>Exportlabels herunterladen</strong> (<span class="icon "><i class="psicon-data_export"></i></span>).<br>
→ Die PDF-Datei wird generiert und du kannst sie auf deinem Computer speichern.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="versandpaket-bearbeiten">4. Versandpaket bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn ein Auftrag noch nicht angemeldet wurde, kannst du die Versandpakete jederzeit bearbeiten, hinzufügen oder löschen. Die Parameter wie Gewicht und Volumen werden aus den Artikeldaten ermittelt. Prüfe daher die Angaben der Versandpakete und nimm ggf. Korrekturen vor.</p>
</div>
<div class="paragraph">
<p>Wenn du Versandpakete aus dem Versand-Center 2.0 heraus bearbeitest, öffnet sich in einem neuen Tab die <a href="/auftraege/paketinhaltsliste">Paketinhaltsliste</a>.</p>
</div>
<div class="paragraph instruction">
<p>Versandpaket bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center 2.0</strong>.</p>
</li>
<li>
<p>Suche den Auftrag anhand der Filtereinstellungen wie im Kapitel <a href="#auftrag-suchen">Auftrag im Versand-Center suchen</a> beschrieben.<br>
→ Die Aufträge, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Öffne den Auftrag.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Pakete</strong> auf die Paket-ID.<br>
→ Die Paketinhaltsliste öffnet sich in einem neuen Tab.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Pakete</strong> auf <strong>Paket bearbeiten</strong> (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>).<br>
→ Das Fenster <strong>Paket bearbeiten</strong> öffnet sich.</p>
</li>
<li>
<p>Nimm die gewünschten Änderungen vor. Beachte dazu die Erläuterungen in <a href="#table-edit-shipping-package">Tabelle 6</a>.<br>
<strong><em>Hinweis:</em></strong> Aktiviere die Option ganz unten, wenn du möchtest, dass die Einstellungen auf alle Pakete in der Palette übertragen werden.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-edit-shipping-package" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Versandpaket in der Paketinhaltsliste bearbeiten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandpaket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle das Versandpaket, um dem Auftrag eine Paketgröße zuzuordnen.<br>
<strong><em>Hinweis:</em></strong> Wenn du noch kein Versandpaket im Menü <strong>Einrichtung » Aufträge » Versand » Versandpakete</strong> erstellt hast, werden den Aufträgen <em>Standardpakete</em> zugeordnet.<br>
<strong><em>Wichtig:</em></strong> Die Anzahl der Versandpakete im Menü <strong>Aufträge » Aufträge bearbeiten » [Auftrag öffnen]</strong> im Tab <strong>Einstellungen</strong> hat keinen Einfluss auf die hier gespeicherten Pakete und wird bei Änderungen nicht angepasst. Ändere daher die Anzahl der Pakete ausschließlich im Versand-Center 2.0.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gewicht (g)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib das Gewicht des Versandpakets ein.<br>
Wenn du am Artikel ein Gewicht gespeichert hast, wird dieses Gewicht in den Versandauftrag übernommen.<br>
Wenn du <em>kein</em> Gewicht am Artikel gespeichert hast, wird standardmäßig <em>100 g</em> eingetragen.<br>
Wenn der Artikel aus mehreren Packstücken besteht, wird das Gewicht auf die Anzahl der Packstücke aufgeteilt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verpackungseinheit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle eine Verpackungseinheit.<br>
Wenn du am Artikel eine Packstückart gewählt hast, wird diese Packstückart hier angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Volumen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib das Volumen ein.<br>
Wenn du am Artikel die Länge, Breite und Höhe gespeichert hast, wird das Volumen aus diesen Werten berechnet.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="versandpaket-hinzufuegen">4.1. Versandpaket hinzufügen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um dem Versandauftrag ein Versandpaket hinzuzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Versandpaket hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center 2.0</strong>.</p>
</li>
<li>
<p>Suche den Auftrag anhand der Filtereinstellungen wie im Kapitel <a href="#auftrag-suchen">Auftrag im Versand-Center suchen</a> beschrieben.<br>
→ Die Aufträge, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Öffne den Auftrag.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Pakete</strong> auf <strong>Paket hinzufügen</strong> (<span class="icon "><i class="fa fa-plus  "></i></span>).<br>
→ Die Paketinhaltsliste öffnet sich in einem neuen Tab.</p>
</li>
<li>
<p>Klicke auf die Schaltfläche <strong>Paket hinzufügen</strong>.<br>
→ Das Paket wird hinzugefügt und du kannst es nun bearbeiten.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Pakete</strong> auf <strong>Paket bearbeiten</strong> (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>).<br>
→ Das Fenster <strong>Paket bearbeiten</strong> öffnet sich.</p>
</li>
<li>
<p>Nimm die gewünschten Änderungen vor. Beachte dazu die Erläuterungen in <a href="#table-edit-shipping-package">Tabelle 6</a>.<br>
<strong><em>Hinweis:</em></strong> Aktiviere die Option ganz unten, wenn du möchtest, dass die Einstellungen auf alle Pakete in der Palette übertragen werden.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="versandpaket-loeschen">4.2. Versandpaket löschen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um ein Versandpaket aus dem Versandauftrag zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Versandpaket löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center 2.0</strong>.</p>
</li>
<li>
<p>Suche den Auftrag anhand der Filtereinstellungen wie im Kapitel <a href="#auftrag-suchen">Auftrag im Versand-Center suchen</a> beschrieben.<br>
→ Die Aufträge, die den eingestellten Suchkriterien entsprechen, werden in der Übersicht angezeigt.</p>
</li>
<li>
<p>Öffne den Auftrag.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Pakete</strong> auf die Paket-ID.<br>
→ Die Paketinhaltsliste öffnet sich in einem neuen Tab.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Pakete</strong> bei dem Paket, das du löschen möchtest, auf <strong>Paket löschen</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>).<br>
→ Ein Fenster mit einer Sicherheitsabfrage öffnet sich.</p>
</li>
<li>
<p>Bestätige die Aktion mit einem Klick auf <strong>Ja</strong>.<br>
→ Das Versandpaket wird gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="in-lieferauftraege-splitten">5. Aufträge in Lieferaufträge splitten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Lege fest, nach welchen Kriterien Aufträge in Lieferaufträge gesplittet werden sollen. Zur Auswahl stehen die folgenden Optionen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Lager</p>
</li>
<li>
<p>Versandprofil</p>
</li>
<li>
<p>Lager und Versandprofil</p>
</li>
<li>
<p>Lager- und Nettowarenbestand</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du im Bereich <a href="#auftraege">Aufträge</a> im Kapitel <a href="/auftraege/auftraege-verwalten#300">Auftragstyp Lieferauftrag nutzen</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="faq">6. FAQ</h2>
<div class="sectionbody">
<div id="faq-fehlerbericht" class="openblock collapseBox">
<div class="title">Wo kann ich Fehlerberichte einsehen, wenn die Anmeldung des Auftrags fehlgeschlagen ist?</div>
<div class="content">
<div class="paragraph">
<p>Wenn ein Auftrag nicht angemeldet werden kann, wird eine Fehlermeldung angezeigt.</p>
</div>
<div class="paragraph">
<p>Beachte bei der Fehlersuche auch das Menü <strong>Daten » Log</strong>. Die darin verfügbaren Einträge bleiben 4 Wochen lang gespeichert. Weitere Informationen findest du auf der Handbuchseite <a href="/daten/datenlog">Daten-Log</a>.</p>
</div>
</div>
</div>
<div id="faq-forumskategorie" class="openblock collapseBox">
<div class="title">FAQ-Beitrag im Forum beachten</div>
<div class="content">
<div class="paragraph">
<p>Wenn du einmal nicht weiterkommst, lohnt sich ein Blick in den umfangreichen Forumsbeitrag in unserer Fulfillment-Kategorie, in dem die häufigsten Fehler sowie deren Lösung aufgezeigt werden. Du findest den Beitrag <a href="https://forum.plentymarkets.com/t/fulfillment-faq/591262" target="_blank" rel="noopener">hier</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="paragraph">
<p>Der Beitrag ist in 4 große Themenblöcke aufgeteilt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://forum.plentymarkets.com/t/fulfillment-faq/591262/2" target="_blank" rel="noopener">DHL Shipping (Versenden): die häufigsten Fehlermeldungen</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://forum.plentymarkets.com/t/fulfillment-faq/591262/3" target="_blank" rel="noopener">DHL Retoure Online: die häufigsten Fehlermeldungen</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://forum.plentymarkets.com/t/fulfillment-faq/591262/4" target="_blank" rel="noopener">Versandeinstellungen werden nicht geladen oder Versanddienstleister wird nicht angezeigt, was muss geprüft werden?</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://forum.plentymarkets.com/t/fulfillment-faq/591262/5" target="_blank" rel="noopener">Versandprofil wird nicht ermittelt / Bei der Versandkostenberechnung kam es zu einem Fehler. Was mache ich?</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>