<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#versandauftrag-suchen"><span>1.</span><span> Versandauftrag suchen</span></a></li>
<li><a href="#versandpaket-offener-versandauftrag"><span>2.</span><span> Versandpaket im offenen Versandauftrag bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#versandpaket-bearbeiten"><span>2.1.</span><span> Versandpaket bearbeiten</span></a></li>
<li><a href="#versandpaket-hinzufuegen"><span>2.2.</span><span> Versandpaket hinzufügen</span></a></li>
<li><a href="#versandpaket-loeschen"><span>2.3.</span><span> Versandpaket löschen</span></a></li>
</ul>
</li>
<li><a href="#auftraege-lieferauftraege"><span>3.</span><span> Aufträge in Lieferaufträge splitten</span></a></li>
<li><a href="#versandauftrag-anmelden"><span>4.</span><span> Versandauftrag anmelden</span></a></li>
<li><a href="#angemeldeten-versandauftrag-bearbeiten"><span>5.</span><span> Angemeldeten Versandauftrag bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#angemeldeten-auftrag-anzeigen"><span>5.1.</span><span> Angemeldeten Auftrag anzeigen</span></a></li>
<li><a href="#paketnummer-bearbeiten"><span>5.2.</span><span> Paketnummer bearbeiten</span></a></li>
<li><a href="#versandauftrag-stornieren"><span>5.3.</span><span> Versandauftrag stornieren</span></a></li>
<li><a href="#versandauftrag-zuruecksetzen"><span>5.4.</span><span> Versandauftrag zurücksetzen</span></a></li>
<li><a href="#versandlabel-drucken"><span>5.5.</span><span> Versandlabel drucken</span></a></li>
</ul>
</li>
<li><a href="#polling-datei-erzeugen"><span>6.</span><span> Polling-Datei erzeugen</span></a></li>
<li><a href="#auftragszusammenfassung-erzeugen"><span>7.</span><span> Auftragszusammenfassung erzeugen</span></a></li>
<li><a href="#retourenetikett-abrufen"><span>8.</span><span> Retourenetikett abrufen</span></a>
<ul class="sectlevel2">
<li><a href="#retourenetikett-hauptauftrag-abrufen"><span>8.1.</span><span> Retourenetikett über Hauptauftrag abrufen</span></a></li>
<li><a href="#retourenetikett-retoure-abrufen"><span>8.2.</span><span> Retourenetikett über Retoure abrufen</span></a></li>
</ul>
</li>
<li><a href="#label-erzeugen"><span>9.</span><span> Label erzeugen</span></a></li>
<li><a href="#fehlerquellen-anmeldung-versandauftrag"><span>10.</span><span> Mögliche Fehlerquellen beim Anmelden des Versandauftrags</span></a>
<ul class="sectlevel2">
<li><a href="#zeichensatz"><span>10.1.</span><span> Zeichensatz</span></a></li>
<li><a href="#adresszusatz"><span>10.2.</span><span> Adresszusatz</span></a></li>
<li><a href="#versandprofil"><span>10.3.</span><span> Versandprofil</span></a></li>
<li><a href="#versandpakete"><span>10.4.</span><span> Versandpakete</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Versand-Center nutzen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Versand-Center</strong> steuerst du alle Aktionen, die im Zusammenhang mit dem Versand deiner Artikel über die integrierten Versandschnittstellen stehen. Neben der Suche und Bearbeitung von Versandaufträgen hast du die Möglichkeit, Versandaufträge direkt bei einem Versanddienstleister <a href="/fulfillment/versand-center#versandauftrag-anmelden">anzumelden</a> oder eine <a href="/fulfillment/versand-center#polling-datei-erzeugen">Polling-Datei</a> zu erzeugen, um diese einem Versanddienstleister zu übergeben. Je nach Versanddienstleister und Versanddienstleister-Software ist der eine oder andere Weg notwendig.</p>
</div>
<div class="paragraph">
<p>Außerdem erfährst du auf dieser Handbuchseite, wie du eine <a href="/fulfillment/versand-center#auftragszusammenfassung-erzeugen">Auftragszusammenfassung</a> der in plentymarkets <a href="/fulfillment/versand-vorbereiten#2500">eingerichteten Versanddienstleister</a> erzeugst, <a href="/fulfillment/versand-center#retourenetikett-abrufen">Retouren anmeldest</a> und <a href="/fulfillment/versand-center#label-erzeugen">Labels erzeugst</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="versandauftrag-suchen">1. Versandauftrag suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du das Versand-Center öffnest, wird das Tab <strong>Suche</strong> automatisch geöffnet. Für die Suche von Versandaufträgen stehen dir verschiedene Filter zur Verfügung, die im Folgenden beschrieben sind.</p>
</div>
<div class="paragraph instruction">
<p>Versandauftrag suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Wähle die Filter. Beachte dazu die Erläuterungen in <a href="#tabelle-versandauftrag-suchen">Tabelle 1</a>.</p>
</li>
<li>
<p>Klicke auf die Lupe (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>), um die Suche auszuführen.<br>
→ Die Ergebnisse werden anhand der gewählten Filter aufgelistet.</p>
</li>
</ol>
</div>
<table id="tabelle-versandauftrag-suchen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Filteroptionen zur Suche im Versand-Center</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrags-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-ID eingeben, um Versandaufträge anhand der ID zu suchen. Mehrere IDs durch Komma getrennt eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunden-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kunden-ID eingeben, um Versandaufträge anhand der Kunden-ID zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandstatus wählen, um nur Versandaufträge in diesem Status zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versanddienstleister</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versanddienstleister wählen, um Versandaufträge dieses Dienstleisters zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandprofil</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandprofil wählen, um nur Versandaufträge mit diesem Profil zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>pro Seite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, wie viele gefundene Versandaufträge pro Seite angezeigt werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstatus</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsstatus wählen, um nur Aufträge in diesem Status zu suchen.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigner wählen, um nur Aufträge zu suchen, für die der Eigner verantwortlich ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandant (Shop) wählen, um nur die Versandaufträge eines Shops zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lager wählen, um nur Versandaufträge dieses Lagers zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart wählen, um nur Versandaufträge zu suchen, die mit dieser Zahlungsart bezahlt wurden.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Nachdem du die gesuchten Versandaufträge gefunden haben, kannst du diese bearbeiten oder beim Versanddienstleister anmelden. Wie du Versandaufträge bearbeitest, ist im Folgenden beschrieben. Wie du Versandaufträge anmeldest, ist in den Kapiteln <a href="/fulfillment/versand-center#versandauftrag-anmelden">Versandauftrag anmelden</a> und <a href="/fulfillment/versand-center#polling-datei-erzeugen">Polling-Datei erzeugen</a> auf dieser Handbuchseite beschrieben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="versandpaket-offener-versandauftrag">2. Versandpaket im offenen Versandauftrag bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In einem offenen Versandauftrag kannst du Versandpakete bearbeiten, hinzufügen oder löschen. Die Kundendaten des Empfängers bearbeitest du im Menü <a href="/crm/kontakte-verwalten#300">CRM » Kontakte</a>. Wenn du im Versandauftrag auf die ID des Kunden klickst, wird der Kundendatensatz geöffnet.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Retourenetiketten im Versandauftrag</div>
<div class="paragraph">
<p>Im Tab <strong>Retourenetiketten</strong> eines Versandauftrages werden Retourenetiketten angezeigt und Aufträge des Typs Retoure mit den angemeldeten Retouren verknüpft. Eine Retoure wird im Normalfall erst nach dem Versand angelegt, weshalb bei einem offenen, nicht angemeldeten Auftrag das Tab leer ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="versandpaket-bearbeiten">2.1. Versandpaket bearbeiten</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um ein Versandpaket zu bearbeiten. Die Parameter, wie das Gewicht und Volumen, werden aus den Artikeldaten ermittelt. Prüfe daher die Angaben der Versandpakete und nimm ggf. Korrekturen vor.</p>
</div>
<div class="paragraph instruction">
<p>Versandpaket bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Wähle die Suchkriterien. Beachte dazu die Informationen in Kapitel <a href="/fulfillment/versand-center#versandauftrag-suchen">Versandauftrag suchen</a>.</p>
</li>
<li>
<p>Klicke auf die Lupe (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die Versandaufträge, die mit den von dir gewählten Suchkriterien übereinstimmen, werden angezeigt.</p>
</li>
<li>
<p>Klappe den Versandauftrag auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Klicke im Tab <strong>Versandpakete</strong> auf den Stift (<span class="icon"><i class="fa fa-pencil" style="background-color:yellow"></i></span>), um den Versandauftrag zu bearbeiten.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-versandpaket-bearbeiten">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-versandpaket-bearbeiten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Versandpaket bearbeiten</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandpaket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandpaket wählen, um dem Versandauftrag eine Paketgröße zuzuordnen.<br>
Wenn noch keine Versandpakete im Menü <strong>Aufträge » Versand » Versandpakete</strong> angelegt sind, werden den Versandaufträgen Standardpakete zugeordnet.<br>
<strong><em>Wichtig:</em></strong> Die Anzahl der Versandpakete im Menü <strong>Aufträge » Aufträge bearbeiten</strong> » <em>Auftrag öffnen</em> im Tab <strong>Einstellungen</strong> hat keinen Einfluss auf die hier hinterlegten Pakete und wird bei Änderungen nicht angepasst. Daher die Anzahl der Pakete ausschließlich im Versand-Center ändern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gewicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gewicht des Versandpakets eingeben.<br>
Wenn am Artikel ein Gewicht gespeichert ist, wird das Gewicht in den Versandauftrag übernommen. Wenn kein Gewicht am Artikel gespeichert ist, wird standardmäßig 100 g eingetragen. Wenn der Artikel aus mehreren Packstücken besteht, wird das Gewicht auf die Anzahl der Packstücke aufgeteilt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Packstückart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Packstückart nachträglich wählen.<br>
Wenn am Artikel eine Packstückart gespeichert ist, wird diese hier angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Volumen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Volumen nachträglich eingeben.<br>
Wenn am Artikel die Länge, Breite und Höhe gespeichert sind, wird das Volumen aus diesen Werten berechnet.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="versandpaket-hinzufuegen">2.2. Versandpaket hinzufügen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um ein Versandpaket hinzuzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Versandpaket hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Wähle die Suchkriterien. Beachte dazu die Informationen in Kapitel <a href="/fulfillment/versand-center#versandauftrag-suchen">Versandauftrag suchen</a>.</p>
</li>
<li>
<p>Klicke auf die Lupe (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die Versandaufträge, die mit den von dir gewählten Suchkriterien übereinstimmen, werden angezeigt.</p>
</li>
<li>
<p>Klappe den Versandauftrag auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Hinzufügen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-versandpaket-bearbeiten">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Versandpaket wird hinzugefügt und das Tab <strong>Versandpaket</strong> geöffnet.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="versandpaket-loeschen">2.3. Versandpaket löschen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um ein Versandpaket zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Versandpaket löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Wähle die Suchkriterien. Beachte dazu die Informationen in Kapitel <a href="/fulfillment/versand-center#versandauftrag-suchen">Versandauftrag suchen</a>.</p>
</li>
<li>
<p>Klicke auf die Lupe (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die Versandaufträge, die mit den von dir gewählten Suchkriterien übereinstimmen, werden angezeigt.</p>
</li>
<li>
<p>Klappe den Versandauftrag auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Klicke im Tab <strong>Versandpakete</strong> auf <strong>Löschen</strong> (<span class="icon"><i class="fa fa-minus-square" style="color:red"></i></span>).<br>
→ Das Versandpaket wird gelöscht.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="auftraege-lieferauftraege">3. Aufträge in Lieferaufträge splitten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst festzulegen, nach welchen Kriterien Aufträge in Lieferaufträge gesplittet werden sollen. Zur Auswahl stehen die Optionen <strong>Lager</strong>, <strong>Versandprofil</strong>, <strong>Lager und Versandprofil</strong> und <strong>Lager- und Nettowarenbestand</strong>.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du im Bereich <a href="/auftraege">Aufträge</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="versandauftrag-anmelden">4. Versandauftrag anmelden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Versand-Center</strong> im Tab <strong>Anmelden</strong> meldest du deine Aufträge bei einem Versanddienstleister an und überträgst diese gleichzeitig an den Dienstleister. Voraussetzung für die Anmeldung ist, dass du zuvor im Tab <strong>Suche</strong> <a href="/fulfillment/versand-center#versandauftrag-suchen">Aufträge gesucht</a> hast, die jetzt hier angezeigt werden. Du hast z.B. die Möglichkeit, mit den Filtereinstellungen in der Suche des Versand-Centers nur Aufträge für einen oder für alle Versanddienstleister anzuzeigen. Bei der Anmeldung erhältst du sowohl im Erfolgsfall als auch im Fehlerfall eine Meldung vom Versanddienstleister.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Sendungsnummer zu Hermes ProfiPaketService übertragen</div>
<div class="paragraph">
<p>Wenn du Versandaufträge bei Hermes ProfiPaketService anmelden und die Sendungsnummern übertragen möchtest, musst du die Option <strong>Etiketten anfordern</strong> aktivieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Im Folgenden ist beispielhaft die Anmeldung von Aufträgen bei dem Versanddienstleister <strong>DHL Freight</strong> beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Versandauftrag bei DHL Freight anmelden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Versandstatus</strong> die Option <strong>offen</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Versanddienstleister</strong> die Option <strong>DHL</strong>.</p>
</li>
<li>
<p>Klicke auf die Lupe (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die offenen Versandaufträge für DHL werden angezeigt.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Anmelden</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Versanddienstleister</strong> die Option <strong>DHL Freight</strong> aus.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Ändere Auftragsstatus</strong> den Auftragsstatus, den die Aufträge nach erfolgreicher Anmeldung erhalten sollen. <br>
→ Diese Funktion kann mit einer <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a>, die z.B. automatisch den Warenausgang bucht, kombiniert werden.</p>
</li>
<li>
<p>Aktiviere die Aufträge, die du bei DHL Freight anmelden möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Anmelden</strong>, um die Aufträge zu übertragen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mit der Option <strong>Alle auswählen</strong> werden alle Aufträge der aktuellen Seite ausgewählt.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Zusatzoptionen bei manchen Versanddienstleistern verfügbar</div>
<div class="paragraph">
<p>Auf der rechten Seite im Tab <strong>Anmelden</strong> werden abhängig vom Dienstleister zusätzliche Optionen angezeigt. Die meisten Versanddienstleister haben keine Zusatzoptionen, daher bleibt die rechte Seite leer. Die Zusatzoptionen ermöglichen es, das Versandprofil für ausgewählte Aufträge nachträglich zu ändern sowie das Versanddatum vor- oder zurückzudatieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Beachte auch das Kapitel <a href="/fulfillment/versand-center#fehlerquellen-anmeldung-versandauftrag">Mögliche Fehlerquellen beim Anmelden des Versandauftrags</a> auf dieser Handbuchseite.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="angemeldeten-versandauftrag-bearbeiten">5. Angemeldeten Versandauftrag bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du einen Versandauftrag bei einem Versanddienstleister anmeldest, wird der Versanddienstleister in Klammern hinter dem Versandstatus <strong>angemeldet</strong> eingetragen, z.B. <strong>angemeldet (DHL Intraship/Versenden)</strong>.</p>
</div>
<div class="paragraph">
<p>Angemeldete Versandaufträge erhalten eine Paketnummer sowie meist eine Transaktionsnummer des Versanddienstleisters. Außerdem steht eine Datei mit dem Versandlabel zur Verfügung, sodass du das Label drucken kannst. Die Versandkosten werden ebenfalls angezeigt, wenn der Versanddienstleister diese Funktion unterstützt. Einige Bearbeitungsmöglichkeiten werden je nach Versanddienstleister angezeigt, z.B. die Tabs <strong>Stornierung</strong> und <strong>Zurücksetzen</strong> bei DHL Intraship/Versenden. Es können auch andere oder weitere Tabs angezeigt werden.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Versandauftrag stornieren vs. Versandauftrag zurücksetzen</div>
<div class="paragraph">
<p>Wenn du einen Versandauftrag stornierst, wird die Anmeldung in plentymarkets und auch beim Versanddienstleister zurückgenommen, sodass der Auftrag nicht abgeholt wird.</p>
</div>
<div class="paragraph">
<p>Wenn du einen Auftrag zurücksetzt, ist er in plentymarkets wieder als offener Auftrag verfügbar, aber beim Versanddienstleister weiterhin angemeldet und wird berechnet. Die Funktion <strong>Zurücksetzen</strong> setzt lediglich die Anmeldungen zurück. Der Versandauftrag wird nicht beim Dienstleister storniert. Daher solltest du den Auftrag generell stornieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="angemeldeten-auftrag-anzeigen">5.1. Angemeldeten Auftrag anzeigen</h3>
<div class="paragraph">
<p>Im Folgenden ist beschrieben, wie du z.B. beim Dienstleister DHL Intraship/Versenden angemeldete Aufträge anzeigst.</p>
</div>
<div class="paragraph instruction">
<p>Angemeldeten Auftrag anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Versandstatus</strong> die Option <strong>angemeldet DHL Intraship/Versenden</strong>.</p>
</li>
<li>
<p>Klicke auf die Lupe (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die bei DHL Intraship/Versenden angemeldeten Aufträge werden angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="paketnummer-bearbeiten">5.2. Paketnummer bearbeiten</h3>
<div class="paragraph">
<p>Im Folgenden ist beschrieben, wie du die Paketnummer bearbeitest, wenn du den angemeldeten Auftrag bereits gefunden hast.</p>
</div>
<div class="paragraph instruction">
<p>Paketnummer bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klappe im Menü <strong>Aufträge » Versand-Center</strong> den angemeldeten Auftrag auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).<br>
→ <strong><em>Hinweis:</em></strong> Wie du den angemeldeten Auftrag anzeigst, ist im Kapitel <a href="/fulfillment/versand-center#angemeldeten-auftrag-anzeigen">Angemeldeten Auftrag anzeigen</a> beschrieben.</p>
</li>
<li>
<p>Klicke auf den Stift im Tab <strong>Versandpakete</strong> (<span class="icon"><i class="fa fa-pencil" style="background-color:yellow"></i></span>).<br>
→ Die Paketnummer wird geöffnet.</p>
</li>
<li>
<p>Gib eine andere Paketnummer ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Informationen zum Import von Paketnummern findest du im Kapitel <a href="/fulfillment/dokumente-erzeugen#paketnummern-importieren">Paketnummern importieren</a> auf der Handbuchseite <a href="/fulfillment/dokumente-erzeugen">Dokumente erzeugen</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="versandauftrag-stornieren">5.3. Versandauftrag stornieren</h3>
<div class="paragraph">
<p>Wenn sich etwas an der Sendung geändert hat, z.B. ein Artikel hinzugefügt oder entnommen wurde, storniere den Versandauftrag. Der Auftrag kann danach erneut zum Versand angemeldet werden.</p>
</div>
<div class="paragraph instruction">
<p>Versandauftrag stornieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Suche den angemeldeten Versandauftrag (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Klappe den angemeldeten Versandauftrag auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Stornierung</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Versand stornieren</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="versandauftrag-zuruecksetzen">5.4. Versandauftrag zurücksetzen</h3>
<div class="paragraph">
<p>Die Funktion <strong>Zurücksetzen</strong> setzt lediglich die Anmeldung zurück. Der Versandauftrag wird nicht beim Dienstleister storniert. Storniere deshalb den Auftrag, wie im Kapitel <a href="/fulfillment/versand-center#versandauftrag-stornieren">Versandauftrag stornieren </a> beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Versandauftrag zurücksetzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Suche den Versandauftrag (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Klappe den Versandauftrag auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Zurücksetzen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Versand zurücksetzen</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="versandlabel-drucken">5.5. Versandlabel drucken</h3>
<div class="paragraph">
<p>Das Versandlabel steht dir im Menü <strong>Aufträge » Versand-Center</strong> im angemeldeten Versandauftrag zur Verfügung. Außerdem hast du im Versand-Center im Tab <a href="/fulfillment/versand-center#label-erzeugen">Label</a> die Möglichkeit, die komplette Label-Anzahl sämtlicher Versandaufträge eines Dienstleisters in einer PDF-Datei zu generieren und auszudrucken.</p>
</div>
<div class="paragraph instruction">
<p>Versandlabel im Versandauftrag drucken:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Wähle die Suchkriterien. Beachte dazu die Informationen in Kapitel <a href="/fulfillment/versand-center#versandauftrag-suchen">Versandauftrag suchen</a>.</p>
</li>
<li>
<p>Klicke auf die Lupe (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Klappe den angemeldeten Versandauftrag auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Klicke im Tab <strong>Übersicht</strong> auf das PDF-Symbol.<br>
→ Das Versandlabel wird in einem separaten Fenster geöffnet und kann dann gedruckt werden.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="polling-datei-erzeugen">6. Polling-Datei erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Versand-Center</strong> im Tab <strong>Polling</strong> erzeugst du für die Software eines Versanddienstleisters eine Polling-Datei, die zuvor gewählte Aufträge enthält. Eine Polling-Datei wird benötigt, wenn keine direkte Schnittstelle zu der Software des Versanddienstleisters besteht und somit die Anmeldung des Versandauftrags nicht über das Tab <strong>Anmelden</strong> erfolgen kann. Die in plentymarkets erzeugte Polling-Datei ist im Regelfall eine CSV-Datei.</p>
</div>
<div class="paragraph instruction">
<p>Polling-Datei erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Wähle die Suchkriterien für den Auftrag. Beachte dazu die Informationen in Kapitel <a href="/fulfillment/versand-center#versandauftrag-suchen">Versandauftrag suchen</a>.</p>
</li>
<li>
<p>Aktiviere den Auftrag.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Polling</strong>.</p>
</li>
<li>
<p>Wähle den <strong>Versanddienstleister</strong>.</p>
</li>
<li>
<p>Wähle den <strong>Auftragsstatus</strong>, in den die Aufträge geändert werden sollen.</p>
</li>
<li>
<p>Aktiviere die Aufträge, die über den gewählten Versanddienstleister verschickt werden sollen.</p>
</li>
<li>
<p>Klicke auf <strong>Anmelden</strong> (<span class="icon"><i class="fa fa-cog"></i></span>), um die Polling-Datei zu erzeugen.<br>
→ Die Polling-Datei wird erzeugt. Speichere die Datei auf deinem Computer.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">DHL Easylog Kopfzeile</div>
<div class="paragraph">
<p>Wenn der Versanddienstleister <strong>DHL Easylog</strong> gewählt ist, steht die Option <strong>Kopfzeile</strong> zur Verfügung. Mit dieser Option wählst du, ob die Kopfzeile in der CSV-Datei angezeigt werden soll. Weitere Informationen dazu findest du auf der Handbuchseite <a href="/fulfillment/versand-vorbereiten">Versand vorbereiten</a> im Kapitel <a href="/fulfillment/versand-vorbereiten#2700">DHL Easylog</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="auftragszusammenfassung-erzeugen">7. Auftragszusammenfassung erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Versand-Center</strong> im Tab <strong>Zusammenfassung</strong> erzeugst du eine Auftragszusammenfassung bzw. Tagesabschlussliste von in deinem plentymarkets System eingerichteten Versanddienstleistern.</p>
</div>
<div class="paragraph instruction">
<p>Auftragszusammenfassung erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Zusammenfassung</strong>.</p>
</li>
<li>
<p>Wähle den Versanddienstleister für die Zusammenfassung aus der Dropdown-Liste.<br>
→ <strong><em>Hinweis:</em></strong> Falls vorhanden, werden weitere Optionen des Versanddienstleisters eingeblendet.</p>
</li>
<li>
<p>Nimm Einstellungen für die Optionen vor.</p>
</li>
<li>
<p>Klicke auf <strong>Ausführen</strong> (<span class="icon"><i class="fa fa-cog"></i></span>).<br>
→ Eine PDF-Datei wird erzeugt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Auftragszusammenfassung per elastischem Export exportieren</div>
<div class="paragraph">
<p>Als Alternative zur Auftragszusammenfassung eines Tages im Menü <strong>Aufträge » Versand-Center</strong> im Tab <strong>Zusammenfassung</strong> kannst du einen <a href="/daten/daten-exportieren/elastischer-export">elastischen Export</a> durchführen. Erstelle dazu im Vorfeld ein Exportformat mit dem <a href="/daten/daten-exportieren/FormatDesigner">FormatDesigner</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="retourenetikett-abrufen">8. Retourenetikett abrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Versand-Center</strong> im Tab <strong>Retoure</strong> meldest du Retouren bei einem Versanddienstleister an. Nach dem Anmelden der Retoure sind die Etiketten als PDF-Dateien verfügbar. Du meldest eine Retoure entweder über den Hauptauftrag oder über die Retoure an.</p>
</div>
<div class="paragraph">
<p>Um Retourenetiketten abzurufen, meldest du Retouren im Versand-Center bei einem Versanddienstleister an.</p>
</div>
<div class="sect2">
<h3 id="retourenetikett-hauptauftrag-abrufen">8.1. Retourenetikett über Hauptauftrag abrufen</h3>
<div class="paragraph">
<p>Wie du ein Retourenetikett im Hauptauftrag abrufst, ist im Folgenden beschrieben. Je nachdem, ob du im Menü <strong>Aufträge</strong> bereits eine Retoure für den Auftrag angelegt hast oder nicht, erfolgt die Zuweisung eines Auftrags des Typs <strong>Retoure</strong> zur angemeldeten Retoure leicht unterschiedlich. Rufe zunächst das Etikett ab und nimm anschließend die Zuordnung zum Auftrag des Typs <strong>Retoure</strong> vor.</p>
</div>
<div class="paragraph instruction">
<p>Retourenetikett über Hauptauftrag abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Wähle die Suchkriterien für den Auftrag. Beachte dazu die Informationen in Kapitel <a href="/fulfillment/versand-center#versandauftrag-suchen">Versandauftrag suchen</a>.</p>
</li>
<li>
<p>Klicke auf die Lupe (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Retoure</strong>.</p>
</li>
<li>
<p>Aktiviere den Auftrag.</p>
</li>
<li>
<p>Wähle den <strong>Retouren-Dienstleister</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Anmelden</strong> (<span class="icon"><i class="fa fa-cog"></i></span>), um die Retoure anzumelden.<br>
→ Das Etikett ist über das PDF-Symbol als PDF-Datei verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn du bereits einen Retourenauftrag im Menü <strong>Aufträge</strong> angelegt hast, weise diese Retoure durch Wahl der <strong>Retouren-ID</strong> dem Etikett zu.</p>
</div>
<div class="paragraph">
<p>Wenn du noch keinen Retourenauftrag im Menü <strong>Aufträge</strong> angelegt hast, öffne den Hauptauftrag und lege eine Retoure an. Beim nachträglichen Anlegen eines Auftrags des Typs <strong>Retoure</strong> wird der Retourenauftrag im Versandauftrag automatisch dem Retourenetikett zugewiesen.</p>
</div>
</div>
<div class="sect2">
<h3 id="retourenetikett-retoure-abrufen">8.2. Retourenetikett über Retoure abrufen</h3>
<div class="paragraph">
<p>Wenn du bereits eine Retoure im Menü <strong>Aufträge</strong> angelegt hast, kann das Retourenetikett auch direkt über die Retoure abgerufen werden. Dazu benötigst du die ID der Retoure, denn Retouren werden im Versand-Center nur bei Angabe der Retouren-ID gefunden.</p>
</div>
<div class="paragraph instruction">
<p>Retourenetikett über Retoure abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center</strong>.<br></p>
</li>
<li>
<p>Gib die ID der Retoure in den Suchfilter <strong>Auftrags-ID</strong> ein.</p>
</li>
<li>
<p>Klicke auf die Lupe (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Retoure</strong>.</p>
</li>
<li>
<p>Aktiviere die Retoure.</p>
</li>
<li>
<p>Wähle den <strong>Retouren-Dienstleister</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Anmelden</strong> (<span class="icon"><i class="fa fa-cog"></i></span>).</p>
</li>
<li>
<p>Klappe den Versandauftrag auf (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).<br>
→ Das Etikett ist im Tab <strong>Retourenetiketten</strong> über das PDF-Symbol als PDF-Datei verfügbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Etiketten kannst du dem Endkunden im Mein-Konto-Bereich des Webshops zum Download zur Verfügung stellen. Beachte dazu auch das Kapitel <a href="/fulfillment/versand-vorbereiten#3200">DHL Retoure Online</a> auf der Handbuchseite <a href="/fulfillment/versand-vorbereiten">Versand vorbereiten</a>.</p>
</div>
<div class="paragraph">
<p>Bei Retouren, die du hier im Tab <strong>Retoure</strong> des <strong>Versand-Centers</strong> anmeldest und dann das Retourenetikett erhältst, wurde das Paket schon ausgeliefert und der Kunde hat die Ware erhalten. Bei <a href="/fulfillment/versand-vorbereiten#3100">DHL Retoure Beileger</a> legst du Paketen schon vor der Lieferung an den Kunden Retourenetiketten bei. Diese Beilegeretiketten werden ebenfalls im Tab <strong>Retourenetiketten</strong> des Versandauftrages angezeigt.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="label-erzeugen">9. Label erzeugen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Versand-Center</strong> im Tab <strong>Label</strong> hast du die Möglichkeit, für deine angemeldeten Aufträge Versandlabels zu erzeugen und diese dann anschließend zu drucken. Die Labels werden in einer PDF-Datei zum Download zur Verfügung gestellt. Pro Versanddienstleister wird eine PDF-Datei erzeugt.</p>
</div>
<div class="paragraph instruction">
<p>Labels erzeugen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Suche anhand der Filter die Aufträge, für die du ein Sammel-PDF der Labels generieren möchtest.</p>
</li>
<li>
<p>Aktiviere die Aufträge.</p>
</li>
<li>
<p>Wechsele ins Tab <strong>Label</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Generieren</strong> (<span class="icon"><i class="fa fa-cog"></i></span>).<br>
→ Du erhältst die Labels als PDF-Datei für den Download und kannst die Datei anschließend drucken.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="fehlerquellen-anmeldung-versandauftrag">10. Mögliche Fehlerquellen beim Anmelden des Versandauftrags</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel werden mögliche Fehlerquellen genannt, durch die Daten zum Versanddienstleister nicht übertragen werden. Wenn ein Auftrag nicht angemeldet werden kann, wird eine Fehlermeldung angezeigt.</p>
</div>
<div class="paragraph">
<p>Beachte bei der Fehlersuche auch das Menü <strong>Daten » API-Log » Tab: Versand-Center API-Log</strong>. Die darin verfügbaren Einträge bleiben 7 Tage lang gespeichert.</p>
</div>
<div class="sect2">
<h3 id="zeichensatz">10.1. Zeichensatz</h3>
<div class="paragraph">
<p>Einige Versandschnittstellen (APIs) erlauben nur lateinische Zeichensätze (ISO-8859-X) jedoch keinen Unicode. Daher sollten Lieferanschriften keine Unicode-Zeichen enthalten. So sind mit DHL Intraship/Versenden z.B. keine Anmeldungen möglich, wenn die Anschrift in griechischen Buchstaben gespeichert ist.</p>
</div>
</div>
<div class="sect2">
<h3 id="adresszusatz">10.2. Adresszusatz</h3>
<div class="paragraph">
<p>Manche Versanddienstleister verarbeiten die Angabe <strong>Adresszusatz</strong> aus der Lieferanschrift nicht. In seltenen Fällen kann deshalb eine Sendung nicht zugestellt werden.<br>
Zu folgenden Versanddienstleistern wird derzeit der Adresszusatz nicht übermittelt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>DHL Freight</p>
</li>
<li>
<p>DHL Supply Chain</p>
</li>
<li>
<p>Swiss Post</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Prüfe, ob der Adresszusatz korrekt zu deinem Versanddienstleister übertragen wird. Wenn der Adresszusatz nicht übertragen wird, passe dein Webshop-Design so an, dass in Abhängigkeit des gewählten Versanddienstleisters der Adresszusatz im Webshop ein- oder ausgeblendet oder ein Hinweis für den Kunden eingeblendet wird.</p>
</div>
</div>
<div class="sect2">
<h3 id="versandprofil">10.3. Versandprofil</h3>
<div class="paragraph">
<p>Fehlermeldung: <code>Code 1: Der Vorgang konnte nicht korrekt durchgeführt werden. Bitte Dateneingabe prüfen. Es wurde ein ungültiger Parameterwert übergeben: DHLFreightDataSet_ShippingInformation.</code></p>
</div>
<div class="paragraph">
<p><strong>Lösung</strong>: Das Versandprofil wurde nicht korrekt eingerichtet oder es wurde ein Versanddienstleister, der nicht zum Versandpofil passt, gewählt.</p>
</div>
</div>
<div class="sect2">
<h3 id="versandpakete">10.4. Versandpakete</h3>
<div class="paragraph">
<p>Es ist nicht möglich, Pakete im Auftrag im Tab <a href="/auftraege/auftraege-verwalten#1540">Einstellungen</a> hinzuzufügen. Wenn du weitere Pakete zu einen Auftrag hinzufügen oder die Anzahl ändern möchtest, öffne den Auftrag im Versand-Center und bearbeite  diesen im Tab <a href="/fulfillment/versand-center#versandpaket-hinzufuegen">Hinzufügen</a>.</p>
</div>
</div>
</div>
</div>
</main>