<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Statistiktypen kennenlernen</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Allgemeine Statistiken: Umsatz</span></a></li>
<li><a href="#30"><span>1.2.</span><span> Allgemeine Statistiken: Prozesse</span></a></li>
<li><a href="#40"><span>1.3.</span><span> Allgemeine Statistiken: Aufträge</span></a></li>
<li><a href="#50"><span>1.4.</span><span> Allgemeine Statistiken: Artikel</span></a></li>
<li><a href="#60"><span>1.5.</span><span> Allgemeine Statistiken: Lager</span></a></li>
<li><a href="#70"><span>1.6.</span><span> Allgemeine Statistiken: Kunden</span></a></li>
<li><a href="#80"><span>1.7.</span><span> Allgemeine Statistiken: Tickets</span></a></li>
<li><a href="#90"><span>1.8.</span><span> Artikelstatistiken</span></a></li>
<li><a href="#100"><span>1.9.</span><span> Kundenstatistiken</span></a></li>
<li><a href="#_besucherstatistikwebalizer"><span>1.10.</span><span> Besucherstatistik/Webalizer</span></a></li>
</ul>
</li>
<li><a href="#_statistiken_verwalten"><span>2.</span><span> Statistiken verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#120"><span>2.1.</span><span> Statistik erstellen</span></a></li>
<li><a href="#140"><span>2.2.</span><span> Statistik anpassen</span></a></li>
</ul>
</li>
<li><a href="#150"><span>3.</span><span> Statistik auswerten</span></a>
<ul class="sectlevel2">
<li><a href="#160"><span>3.1.</span><span> Diagrammtypen</span></a></li>
<li><a href="#170"><span>3.2.</span><span> Beträge und Kosten</span></a></li>
</ul>
</li>
<li><a href="#195"><span>4.</span><span> Statistikdaten exportieren</span></a>
<ul class="sectlevel2">
<li><a href="#190"><span>4.1.</span><span> Statistikdaten exportieren</span></a></li>
<li><a href="#220"><span>4.2.</span><span> Rohdaten exportieren</span></a></li>
<li><a href="#190"><span>4.3.</span><span> Export-Datenfelder</span></a></li>
<li><a href="#200"><span>4.4.</span><span> Troubleshooting: Inkorrekte Werte in CSV-Datei korrigieren</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Statistiken verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem plentymarkets Statistikmodul behältst du stets den Überblick über sämtliche Bewegungen in deinem Unternehmen und wertest die Umsätze deiner verschiedenen Vertriebskanäle aus. Über diverse Filter passt du Auswertungen an dein aktuelles Anliegen an und zeigst die Ergebnisse entweder als Diagramm oder Tabelle an.</p>
</div>
<div class="paragraph">
<p>Statistiken werden in Tabs gruppiert. Pro Tab können bis zu 4 Statistiken erstellt werden. Die Tabs helfen dir, Statistiken zu gruppieren und zu sortieren. Wähle den Namen eines Tabs so, dass du anhand des Namens erkennst, welche Statistiken in diesem Bereich gruppiert sind.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Statistik-Tab nicht schließen</div>
<div class="paragraph">
<p>Mit einem Klick auf das <strong>X</strong> des Tabs wird das Statistik-Tab nicht geschlossen, sondern gelöscht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Statistiktypen kennenlernen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel findest du eine Übersicht der verfügbaren Statistiktypen mit einer kurzen Beschreibung wichtiger Eigenschaften. Die Statistiken werden anhand deiner Systemdaten erstellt. Dank der Filter ergeben sich vielfältige Möglichkeiten, die Statistiken zu individualisieren und z.B. marktplatzbezogene Statistiken durch die Wahl bestimmter Auftragsherkünfte zu erstellen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Statistikmenü öffnen</div>
<div class="paragraph">
<p>Das Statistikmenü öffnest du über den Menüpfad <strong>plentymarkets Logo (Start) » Statistik</strong>. Klicke alternativ auf die Schaltfläche <strong>Statistik</strong> in der Titelleiste in plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="20">1.1. Allgemeine Statistiken: Umsatz</h3>
<div class="paragraph">
<p>Die Umsatzstatistiken geben dir einen Überblick über die wichtigsten Zahlen deines Webshops und ermöglichen neben den hilfreichen Standardstatistiken zahllose individuelle Möglichkeiten, Umsatzgrößen anzuzeigen.</p>
</div>
<table id="tabelle-statistik-typen-umsatz" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Statistiktypen im Bereich <strong>Umsatz</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Statistik-Typ</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gesamtumsatzverlauf</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Anzahl der Aufträge und den Umsatz für den gewählten Zeitraum.<br>
Retouren und Gutschriften werden bei der Anzahl der Aufträge nicht berücksichtigt. Retouren-Artikel aus Artikelpaketen werden nach Menge, jedoch nicht nach Umsatz ausgewertet. Die Statistik zeigt, ob mit wenigen Aufträgen viel Umsatz und mit einer großen Zahl von Aufträgen nur wenig Umsatz erzielt wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retouren/Gutschriften/Stornierungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Beträge der Retouren, Gutschriften und Stornierungen für den gewählten Zeitraum an. Die Auswertung dient dem Controlling von Rückläufern. Um Retourengründe z.B. herkunftsbezogen zuzuordnen, die Statistik <strong>Retourengründe</strong> verwenden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz nach Artikelgruppe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Umsatz nach Artikelgruppen der Aufträge für den gewählten Zeitraum und die gewählten Auftragsstatus an. Verschiedene Filter ermöglichen eine Auswertung nach bestimmten Artikelgruppen, z.B. durch Filtern nach Markierungen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz nach Herkunft pro Artikel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Umsatz nach den Auftragsherkünften der Artikel für den gewählten Zeitraum und die gewählten Auftragsstatus an. Die Statistik zeigt, welche Auftragsherkünfte lukrativ waren und mit welchen Herkünften wenig oder gar kein Umsatz generiert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz nach Herkunft pro Auftrag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Umsatz nach den Auftragsherkünften der Aufträge für den gewählten Zeitraum und die gewählten Auftragsstatus an. Die Statistik zeigt, welche Auftragsherkünfte lukrativ waren und mit welchen Auftragsherkünften wenig oder gar kein Umsatz generiert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz nach Handelsvertreter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Brutto-Umsatz und die Anzahl der Aufträge pro Handelsvertreter für den gewählten Zeitraum an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz nach Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Brutto-Umsatz und die Anzahl der verkauften Artikel pro Hersteller für den gewählten Zeitraum an. Die Statistik zeigt, wie viel Umsatz mit den verschiedenen Herstellern erzielt wurde und das Verhältnis von Artikelmengen zu Umsatz.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz nach Kategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Brutto-Umsatz und die Anzahl der verkauften Artikel pro Kategorie für den gewählten Zeitraum an. Es wird die Umsatzverteilung kategoriebezogen deutlich sowie die Effizienz der Kategorien, bezogen auf den Umsatz.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz nach Lieferland</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Umsatz pro Lieferland für den gewählten Zeitraum an. Die Statistik zeigt, in welchen Lieferländern der meiste Umsatz generiert wurde, also welche Lieferländer besonders lukrativ sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz nach Versandregion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Umsatz pro Versandregion für den gewählten Zeitraum an. Ermöglicht es zu ermitteln, welche Versandregionen für den Verkauf besonders lohnend sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz nach Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Umsatz und die Anzahl der Aufträge pro Zahlungsart für den gewählten Zeitraum an. Die Statistik zeigt, mit welchen Zahlungsarten der meiste Umsatz generiert wurde, also welche Zahlungsarten besonders beliebt sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz Versandkosten nach Versanddienstleister</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Versandkosten pro Versanddienstleister für den gewählten Zeitraum an. Ausschlaggebend ist das Datum des Warenausgangs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenkorbentwicklung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den durchschnittlichen Warenkorbwert und die durchschnittlichen Versandkosten für den gewählten Zeitraum an. Ermöglicht eine Übersicht der monatsweisen Entwicklung des Warenkorbs. So kann z.B. geprüft werden, ob es wegen zu hoher Versandkosten oft zu Kaufabbrüchen im Warenkorb kommt.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="30">1.2. Allgemeine Statistiken: Prozesse</h3>
<div class="paragraph">
<p>Die Prozessstatistiken stellen Daten über die Prozesse der Auftragsbearbeitung bereit, z.B. Durchlaufzeiten, Statuswechsel und Mahnungen.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Statistiktypen im Bereich <strong>Prozesse</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Statistik-Typ</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Durchlaufzeiten der Auftragsbearbeitung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Aufteilung der Aufträge auf die Status <strong>Bezahlt</strong> und <strong>Versendet</strong> zu jedem Zeitraum und den prozentualen Anteil an der Bearbeitungszeit insgesamt für die gewählten Auftragsstatus an. Die Statistik zeigt, wie lange Aufträge gebraucht haben, um bezahlt und versendet zu werden und ob z.B. aufgrund zu häufiger langer Durchlaufzeiten Handlungsbedarf besteht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Forderungen nach Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Summe der offenen Forderungen pro Zahlungsart und Mahnstufe für die gewählten Auftragsstatus an. Die Statistik zeugt, bei welchen Zahlungsarten die meisten offenen Forderungen und Mahnstufen auftreten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status der aktuellen Aufträge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Anzahl der Aufträge und den Umsatz für den Auftragsstatus an. Für den Status <strong>Versandt</strong> werden nur Aufträge des aktuellen Tags berücksichtigt. Die Statistik gibt einen Überblick über die Verteilung der Aufträge nach Auftragsstatus. Die Statistik ermöglicht es z.B. auf einen Blick zu erkennen, wie viele Aufträge noch nicht bezahlt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandaufträge nach Versanddienstleister</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Anzahl der Versandaufträge pro Versanddienstleister für den gewählten Zeitraum an. Ausschlaggebend ist das Datum des Warenausgangs. Die Statistik zeigt die Verteilung der Versandaufträge auf die Versanddienstleister.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="40">1.3. Allgemeine Statistiken: Aufträge</h3>
<div class="paragraph">
<p>Mit den Auftragsstatistiken wertest du die Auftragsdaten aus und erhältst z.B. einen Überblick über die häufigsten Gründe, warum Waren zurückgeschickt wurden.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Statistiktypen im Bereich <strong>Aufträge</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Statistik-Typ</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragspositionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Auftragsparameter und verschiedene Angaben zum Umsatz für den gewählten Zeitraum in einer Datentabelle an. Die Statistik zeigt, wie sich die Umsatzdaten der Aufträge zusammensetzen. Die Tabelle ermöglicht einen direkten Vergleich der Beträge.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retourengründe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Anzahl und den Umsatz durch Retouren für den gewählten Zeitraum an. Die Retouren werden nach Retourengründen sortiert dargestellt. Die Statistik zeigt die Anzahl der Retouren und wie viel Umsatz im eingestellten Zeitraum durch Retouren verloren geht. Außerdem lässt sich auswerten, wie Anzahl und Umsatz sich auf die Retourengründe verteilen. Die Statistik dient dem Controlling der Rückläufer und hilft in Verbindung mit dem Filter nach Herkunft dabei, häufige Retourengründe herkunftsbezogen zu erkennen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versendete E-Mail-Vorlagen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die ID und den Namen der E-Mail-Vorlagen sowie die Anzahl der versendeten E-Mails für den gewählten Zeitraum an. Die Statistik zeigt, welche E-Mail-Vorlagen in welchen Zeiträumen genutzt wurden. Hieraus lässt sich schließen, welche Vorgänge besonders häufig und welche selten ausgeführt wurden.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="50">1.4. Allgemeine Statistiken: Artikel</h3>
<div class="paragraph">
<p>Mit den Artikelstatistiken wertest du die Daten aller Artikel aus oder filterst Artikel anhand verschiedener Kriterien, z.B. Markierungen, Kategorien oder Artikelherkünften.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Statistiktypen im Bereich <strong>Artikel</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Statistik-Typ</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelmengen</strong> / <strong>Retouren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die verkaufte Artikelmenge und die Anzahl der Retouren sowie den Umsatz für den gewählten Zeitraum an. Alle Artikel werden angezeigt, also auch Artikel, für die noch keine Retouren gebucht wurden. Anhand der Retourenrate wird das Verhältnis zwischen Verkaufsmengen und Retouren eines Artikels dargestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Renner / Penner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Renner, also die am meisten verkauften Varianten, und die Penner, also die am wenigsten verkauften Varianten, für den gewählten Zeitraum an. Die Varianten werden absteigend sortiert angezeigt. Am Schluss der Renner-Statistik steht also die Variante, die von den Rennern am wenigsten verkauft wurde. Bei der Penner-Statistik stehen die Varianten mit den wenigsten Verkäufen ganz oben, dann absteigend die Varianten mit immer mehr Verkäufen.<br>
Auswertung und Datenexport sind auf einen Zeitraum von 6 Monaten beschränkt.<br>
Bei der Berechnung von Basisartikeln aus Artikelpaketen fließen die verkauften Mengen in die Anzahl der verkauften Artikel ein. Einkaufspreis und Umsatz werden jedoch nicht berücksichtigt. Die Statistik zeigt, welche Artikel wenig oder gar nicht rentabel sind, weil die Artikel z.B. mehr Lager- und Betriebskosten verursachen als Gewinn einbringen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufte Artikelmengen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Artikel in Mengenkategorien gemäß den verkauften Stückzahlen für den gewählten Zeitraum an. Außerdem wird die Gesamtanzahl der verkauften Artikel für jede Mengenkategorie und der Umsatzanteil in Prozent in Bezug zu den übrigen Mengenkategorien angezeigt. Die Statistik zeigt, wie viele Artikel pro Mengenkategorie verkauft wurden und wie die prozentuale Verteilung im Verhältnis zu den übrigen Mengenkategorien aussieht.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="60">1.5. Allgemeine Statistiken: Lager</h3>
<div class="paragraph">
<p>Neben den Zahlen über verkaufte Mengen und Umsätze bieten dir die Lagerstatistiken die Möglichkeit, den Wert eines oder mehrerer Lager anhand verschiedener Kriterien auszuwerten.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Statistiktypen im Bereich <strong>Lager</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Statistik-Typ</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktueller Lagerbestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Warenwert pro Kategorie und den Warenbestand nach Lager an. Die Statistik zeigt, welche verfügbaren und reservierten Warenwerte und Warenbestände in einzelnen Lagern oder insgesamt vorhanden sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reichweitenabschätzung und Meldebestände</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Reichweiten des Artikelbestandes in verschiedenen Reichweitenkategorien und wie viele Artikel in einer Reichweitenkategorie verkauft wurden für den gewählten Zeitraum an. Daraus wird die Reichweite berechnet und die Einteilung in die Reichweitenkategorie vorgenommen. Statistik verdeutlicht, ob es Artikel gibt, die nur noch eine geringe Reichweite haben und nachbestellt werden müssen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenbestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Warenwert pro Variante und den Warenbestand pro Lager an. Die Statistik zeigt, welche verfügbaren und reservierten Warenwerte und Warenbestände im Lager oder insgesamt für welche Varianten vorhanden sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wareneingang nach Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Anzahl der Artikel und den Warenwert in Euro des Wareneingangs nach Datum an. Die Statistik zeigt die Werte der Wareneingänge und die Artikelmenge pro Lieferant für die gewählten Lager und pro Zeitraum.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wareneingang nach Lieferant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Anzahl der Artikel und den Nettowarenwert nach Lager und Lieferanten gesplittet an. Die Statistik zeigt die gesamten Werte der Wareneingänge und die Artikelmenge pro Lieferant für die gewählten Lager.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenumsatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt eine Auswertung des Warenumsatzes der Artikel nach Lager, Auftragsherkunft, Zahlungsart und Versandprofil für den gewählten Zeitraum an. Die Statistik zeigt, wie sich die Umsatzdaten zusammensetzen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenwert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt eine Auswertung des Warenwertes der Artikel nach Lager, Preis sowie den Lieferanten für den gewählten Zeitraum an. Die Statistik zeigt den Warenwert und die Artikelmenge pro Lager.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenwert nach Lieferant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Anzahl der Artikel und den Nettowarenwert nach Lieferanten gesplittet für den gewählten Zeitraum und das gewählte Lager an. Die Statistik zeigt, wie hoch der Warenwert und die Artikelmenge pro Lieferant ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zollliste Warenausgang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt eine Auswertung des Warenausgangs der Artikel für den Auftragseingang sowie den Warenausgang für den gewählten Auftragstyp und den gewählten Zeitraum an. In dieser Statistik sind Auftrags- und Kundenparameter zusammengefasst, die für Zollunterlagen verwendet werden können.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="70">1.6. Allgemeine Statistiken: Kunden</h3>
<div class="paragraph">
<p>Mit den Kundenstatistiken ermittelst du Umsatzdaten und Kaufverhalten.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Statistiktypen im Bereich <strong>Kunden</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Statistik-Typ</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kaufverhalten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt nach Auftragsmengen gestaffelt, wie viele Kunden mit welchen Auftragsmengen für wie viel Umsatz gesorgt haben. Es wird damit z.B. deutlich, ob Kunden, die nicht oft im Webshop eingekauft haben oder jene, die sehr häufig kaufen, den meisten Umsatz generieren. Die Auftragsmengen gelten pro Kunde. Die Menge <strong>&lt;3</strong> bedeutet also zum Beispiel, dass die angegebenen Kunden weniger als 3 Aufträge pro Kunde generiert haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kunden Renner / Penner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Umsatzdaten sortiert nach Kunden, die im gewählten Zeitraum den höchsten und am wenigsten Umsatz generieren. Die Kunden werden absteigend angezeigt, also beginnend mit dem Kunden mit den höchsten beziehungsweise niedrigsten Umsatz. Die Statistik zeigt, welche Kunden viel oder besonders wenig Umsatz generieren, was zur Auswertung des Kaufverhaltens sowie für die Planung besonderer Aktionen hilfreich ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz nach Kundenklasse / Bewertung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt Umsätze und Aufträge nach Kundenklassen für den gewählten Zeitraum und den gewählten Auftragsstatus an. Die Statistik zeigt, welche Kundenklassen besonders gewinnbringend sind.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="80">1.7. Allgemeine Statistiken: Tickets</h3>
<div class="paragraph">
<p>Mit den Ticketstatistiken wertest du Tickets nach Status und Zustand aus.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 7. Statistiktypen im Bereich <strong>Tickets</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Statistik-Typ</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tickets nach aktuellem Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Liefert eine Auswertung der Tickets nach aktuellen Status nach Ticket-Typen und Ticket-Status zum Zeitpunkt der Statistikerstellung. Als Tooltip wird die Ticketanzahl auch prozentual im Verhältnis zu allen angezeigten Tickets wiedergegeben. Die Statistik zeigt, wie hoch die aktuelle Anzahl der Tickets eines Typs im Status ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tickets nach Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswertung des Tickets nach Status nach Ticket-Typ im gewählten Zeitraum. Die Statistik zeigt die Anzahl der Tickets eines Typs im Status.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tickets nach Zustand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswertung des Tickets nach Zustand und Ticket-Typ im gewählten Zeitraum. Der Zustand eines Tickets wird automatisch zugeordnet und ist nicht änderbar.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="90">1.8. Artikelstatistiken</h3>
<div class="paragraph">
<p>Um einzelne Artikel statistisch auszuwerten, lege im Tab <strong>Statistik</strong> unter <strong>Artikel » Artikel bearbeiten</strong> analog zum Statistikmenü Statistik-Tabs und Statistiktypen an. Statistiken, die du im Tab <strong>Statistik</strong> eines Artikels erstellst, werden nach dem Speichern bei allen Artikeln im Tab <strong>Statistik</strong> angezeigt. Im Gegensatz zur allgemeinen Statistik für Artikel werden im Tab <strong>Statistik</strong> der Artikel jedoch nur die Daten eines Artikels ausgewertet.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 8. Statistiktypen im Tab <strong>Statistik</strong> eines Artikels</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Statistik-Typ</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retouren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Beträge der Retouren nach Retourengrund für den gewählten Zeitraum an. Die Statistik zeigt, wie viele Retouren vorhanden sind und welche Umsätze von Retouren betroffen sind. Außerdem wird aufgeschlüsselt, wie Anzahl und Umsatz sich auf die Retourengründe verteilen. Diese Daten dient dem Controlling der Rückläufer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz nach Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Umsatz des Artikels (z.B. Brutto-Umsatz oder Gewinn) im gewählten Zeitraum an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz nach Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Umsatz der Aufträge der angezeigten Herkunft im gewählten Zeitraum an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz nach Lieferland</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Umsatz der Aufträge nach Lieferland im gewählten Zeitraum an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz nach Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Umsatz des Artikels (z.B. Brutto-Umsatz oder Gewinn) im gewählten Zeitraum pro Mandanten an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz nach Variante</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Umsatz pro Variante des Artikels an, z.B. Brutto-Umsatz oder Deckungsbeitrag. Die Statistik zeigt, welche Variante eines Artikels am meisten Gewinn bringt und welche Varianten wenig oder gar nicht rentabel sind, da die Varianten z.B. zu hohe Lager- und Betriebskosten verursachen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenbestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den aktuellen Warenbestand nach Varianten gesplittet an. Es wird der Warenwert und die Artikelanzahl des verfügbaren und des reservierten Bestandes sowie vieler weiterer Parameter zum Bestand angezeigt. Die Statistik zeigt, welche verfügbaren und reservierten Warenwerte und Warenbestände im Lager oder insgesamt zu welchen Varianten vorhanden sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wareneingang nach Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswertung des Wareneingangs nach Datum der Artikel gemäß den gewählten Lagern sowie den Lieferanten innerhalb einem gewählten Zeitraum. Die Statistik zeigt, wie hoch der Warenwert und die Artikelmenge pro Lieferant ist. Außerdem werden auch die Summen der Werte nach Datum als Liniendiagramm angezeigt, z.B. die gesamte Artikelmenge und der Warenwert pro Monat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wareneingang nach Lieferant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswertung des Wareneingangs nach Lieferant der Artikel nach Lager und Lieferant im gewählten Zeitraum. Die Statistik zeigt die Warenwerte und Artikelmengen pro Lieferant nur für den gewählten Zeitraum, ohne weitere zeitliche Unterteilung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenwert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswertung des Warenwertes der Artikel nach Lager, Preis sowie Lieferant im gewählten Zeitraum. Die Statistik zeigt, wie hoch der Warenwert und die Artikelmenge in jedem Lager ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenwert nach Lieferant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auswertung des Warenwertes und der Menge der Artikel nach Lager und Lieferant. Es wird nach Lieferanten gesplittet die Anzahl der Artikel und der Nettowarenwert für die gewählten Lager angezeigt. Die Statistik zeigt, wie hoch der Warenwert und die Artikelmenge insgesamt pro Lieferant ist.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="100">1.9. Kundenstatistiken</h3>
<div class="paragraph">
<p>Um einzelne Kontakte statistisch auszuwerten, kannst du im Menü <strong>CRM » Kontakte » Kontakt öffnen » Ansicht: Statistik</strong> analog zum Statistikmenü Tabs und Statistiktypen erstellen. Statistiken, die du in diesem Menü für einen Kontakt erstellen, werden nach dem Speichern bei allen Kontaktdatensätzen im Tab <strong>Statistik</strong> angezeigt. Im Gegensatz zur allgemeinen Statistik für Kontakte werden hier nur die Daten eines Kontakts ausgewertet.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 9. Statistiktypen im Tab <strong>Statistik</strong> eines Kunden</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Statistik-Typ</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gesamtumsatz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Umsatzdaten des Kunden nach Anzahl der Aufträge und dem Umsatz im gewählten Zeitraum an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz nach Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Umsatz nach den Herkünften der Aufträge des Kunden gesplittet an, außerdem den prozentuale Anteil am Umsatz aller angezeigten Herkünfte. Statistik zeigt, wie viel Umsatz der Kunde über welche Auftragsherkunft erzielt hat und über welche Auftragsherkünfte der Kunde wenig oder gar keinen Umsatz generiert hat.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz nach Kategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Umsatz pro Kategorie sowie die Anzahl der Artikel des Kunden nach Datum an. Die Statistik zeigt, wie viel Umsatz der Kunde in den verschiedenen Kategorien erzielt hat oder durch Änderung des Zeitraums, in welchen Zeiträumen der Kunde wie viel Umsatz in welchen Kategorien generiert hat.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_besucherstatistikwebalizer">1.10. Besucherstatistik/Webalizer</h3>
<div class="paragraph">
<p>Zusätzlich zu den Statistiken zur Analyse deiner Unternehmensdaten verfügt plentymarkets über ein Tool zur Auswertung der Besucherzahlen deines Webshops. In den verschiedenen Bereichen des Webalizers erhältst du vielfältige Informationen zu den Webbesuchen deines Webshops, z.B. die Anzahl der Seitenaufrufe mit prozentualer Angabe und die Anzahl der Aufrufe einer Kategorie. Anders als die anderen hier beschriebenen Statistiken rufst du den Webalizer über das Menü <strong>Einrichtung » Mandant » Global » Statistik</strong> auf.</p>
</div>
<div class="paragraph instruction">
<p>Besucherstatistik öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Statistik</strong>.<br>
→ Das Menü wird geöffnet.<br>
→ Die Login-Daten werden angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Webalizer-Statistik öffnen</strong>.<br>
→ Das Fenster <strong>Authentifizierung erforderlich</strong> wird angezeigt.</p>
</li>
<li>
<p>Gib die Login-Daten in die Textfelder <strong>Nutzername</strong> und <strong>Passwort</strong> ein.</p>
</li>
<li>
<p>Klicke auf <strong>Anmelden</strong>.<br>
→ Die Statistik wird in einem neuen Browser-Tab angezeigt.</p>
</li>
<li>
<p>Klicke auf den gewünschten Monat, um eine detaillierte Auswertung des Monats anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_statistiken_verwalten">2. Statistiken verwalten</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="120">2.1. Statistik erstellen</h3>
<div class="paragraph">
<p>Statistiken werden im Menü <strong>plentymarkets Logo (Start) » Statistik</strong> in Tabs gruppiert. Pro Tab können bis zu 4 Statistiken erstellt werden. Beachte, dass mit einem Klick auf das <strong>X</strong> des Tabs das Tab nicht geschlossen, sondern gelöscht wird.</p>
</div>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um eine Statistik zu erstellen. <a href="#tabelle-statistik-statistikansicht">Tabelle 10</a> zeigt die verfügbaren Optionen in der Tab-Ansicht.</p>
</div>
<div class="paragraph instruction">
<p>Statistik erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Statistik</strong>.</p>
</li>
<li>
<p>Wähle das gewünschte <strong>Tab</strong>.</p>
</li>
<li>
<p>Klicke auf das grüne <strong>Plus</strong> eines der vier Felder des Tabs.<br>
→ Das Fenster <strong>Neue Statistik</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle den Statistiktyp.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die Statistik wird mit den Standardeinstellungen erstellt.<br>
<strong><em>Tipp:</em></strong> <a href="#tabelle-statistik-statistikansicht">Tabelle 10</a> erläutert die Statistikansicht.</p>
</li>
</ol>
</div>
<table id="tabelle-statistik-statistikansicht" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 10. Statistikansicht</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Anzeigename der Statistik wird links oben in der Titelleiste angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitraum</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Zeitraum, für den die Statistik erstellt und dargestellt wird, wird in der Titelleiste der Statistik angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reload</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klicken, um die Ansicht mit den aktuellen Daten zu aktualisieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stift</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klicken, um die Statistik zu bearbeiten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zoom</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet die Statistik in einem neuen Fenster. Das Fenster durch Ziehen an der Ecke unten rechts vergrößern. Die Fenstergröße wird gespeichert.<br>
<strong><em>Tipp:</em></strong> Mit gedrückter linker Maustaste den gewünschten Bereich überziehen, um den Ausschnitt eines Verbunddiagramms zu vergrößern. Auf <strong>Show all</strong> klicken, um die Vergrößerung aufzuheben und die Gesamtansicht anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Summen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Summen werden in einer Tabellenansicht unter den Spalten angezeigt, wobei nach Summe aller Positionen und Durchschnitt aller Positionen unterschieden wird.<br>
<strong><em>Hinweis:</em></strong> Bei mehrseitigen Tabellen werden die Summen für den gesamten Inhalt der Tabelle einer Statistik angezeigt, nicht nur für den sichtbaren Tabelleninhalt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mouseover-Info</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf einen Bereich zeigen, um weitere Informationen anzuzeigen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="140">2.2. Statistik anpassen</h3>
<div class="paragraph">
<p>Beim Erstellen einer Statistik sind Standardwerte eingestellt. Passe diese Standardwerte ggf. so an, dass die dargestellte Auswertung deinen Anforderungen entspricht.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Meldung "Keine Daten verfügbar"?</div>
<div class="paragraph">
<p>Wenn zu einer Statistik keine Daten angezeigt werden, klicke auf den Stift und wähle einen größeren Zeitraum oder weitere Auftragsherkünfte, da nicht für alle Statistiken standardmäßig alle Herkünfte angezeigt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Statistik anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Statistik</strong>.</p>
</li>
<li>
<p>Wähle ein <strong>Tab</strong>.</p>
</li>
<li>
<p>Klicke auf den <strong>Stift</strong> der Statistik, die du anpassen möchtest.<br>
→ Die Einstellungen der Statistik werden angezeigt.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. <a href="#tabelle-statistik-bearbeiten">Tabelle 11</a> erläutert die wichtigsten Einstellungsmöglichkeiten.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Die angezeigten Statistikdaten werden aktualisiert.</p>
</li>
</ol>
</div>
<table id="tabelle-statistik-bearbeiten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 11. Statistik bearbeiten</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Diagrammanzeige</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diagrammtyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, wie die Werte dargestellt werden sollen. Werte können in Tabellen oder verschiedenen Diagrammen dargestellt werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klicken, um die Statistikdaten in eine CSV-Datei zu exportieren. Der Statistikexport enthält nur die im Diagrammtyp Datentabelle der Statistik angezeigten Werte.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rohdaten-Export</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Klicken, um die Rohdaten in eine CSV-Datei zu exportieren. Der Rohdatenexport enthält die Datenbasis, die den in der Statistik angezeigten Werten zugrunde liegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Einstellungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzeigename der Statistik. Der Name ist jederzeit änderbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeitraum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitraum aus der Dropdown-Liste wählen. Standardwert wählen oder <strong>Datumsauswahl</strong> einstellen und Startdatum und Enddatum wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Startdatum</strong>;<br>
<strong>Enddatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datumsbereich alternativ zur Option <strong>Zeitraum</strong> eingrenzen. Nur in Kombination mit der Option <strong>Datumsauswahl</strong> einstellbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datumsgrundlage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, anhand welchen Ereignisses die Daten ausgewertet werden sollen: <strong>Auftragseingang</strong>, <strong>Zahlungseingang</strong> oder <strong>Warenausgang</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Von Status / Bis Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Je nach Statistiktyp stehen zur Eingrenzung des <strong>Status</strong> verschiedene Optionen zur Verfügung. Es sind Standardwerte voreingestellt.<br>
<strong><em>Hinweis:</em></strong> Für die Auswertung der Statistik werden alle Auftragsarten berücksichtigt außer Stornierungen. <strong>Status 8</strong> und <strong>Status 8.1</strong> werden also nicht in die Auswertung einbezogen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant (Shop)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Webshops wählen, deren Daten für die Statistik verwendet werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Auftragsherkünfte wählen, deren Daten für die Statistik verwendet werden sollen.<br>
Die Auftragsherkünfte beziehen sich auf den Auftrag, nicht auf die Auftragspositionen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Land wählen, das für die Statistik berücksichtigt werden soll. <strong>Alle</strong> wählen, um alle Länder einzubeziehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Zahlungsart wählen, die für die Statistik berücksichtigt werden soll. <strong>Alle</strong> wählen, um alle Zahlungsarten einzubeziehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandprofil</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Versandprofil wählen, das für die Statistik berücksichtigt werden soll. <strong>Alle</strong> wählen, um alle Versandprofile einzubeziehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur bezahlte Aufträge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Häkchen setzen, um nur bezahlte Aufträge in die Statistik einzubeziehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur Aufträge mit gebuchtem Warenausgang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Häkchen setzen, um nur Aufträge mit gebuchtem Warenausgang in die Statistik einzubeziehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diagramm</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wählen, welcher Umsatz für die Statistik berechnet werden soll.<br>
<strong>Netto-Umsatz</strong> = Umsatz abzüglich Umsatzsteuer<br>
<strong>Brutto-Umsatz</strong> = Umsatz inklusive Umsatzsteuer<br>
<strong>Deckungsbeitrag II</strong> = Umsatz abzüglich Umsatzsteuer, EK und der gewählten zusätzlichen Kosten.<br>
Folgende Kosten können separat abgezogen werden:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Zahlungsprovision</p>
</li>
<li>
<p>Herstellerprovision</p>
</li>
<li>
<p>Transportkosten</p>
</li>
<li>
<p>Lagerkosten</p>
</li>
<li>
<p>Betriebskosten</p>
</li>
<li>
<p>Zoll</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Der Deckungsbeitrag II wird um die Kostenwerte reduziert, die mit einem Häkchen markiert wurden.<br>
<strong><em>Tipp:</em></strong> Transportkosten, Lagerkosten, Betriebskosten und Zoll werden im Tab <strong>Einstellungen</strong> der Variante gepflegt. <strong><em>Hinweis:</em></strong> Artikelpakete werden nicht berücksichtigt. Gebühren für Marktplätze werden auf den Bruttopreis (VK) aufgeschlagen.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon-Konto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Amazon-Konto wählen, das für die Statistik berücksichtigt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay-Konto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das eBay-Konto wählen, das für die Statistik berücksichtigt werden soll.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="150">3. Statistik auswerten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erfährst du, wie du die angezeigten statistischen Daten interpretierst und optimal nutzt. Zur Auswertung einer Statistik beachte die Erläuterungen in <a href="#tabelle-statistik-typen-umsatz">Tabelle 1</a>. Achte außerdem darauf, ob es sich bei den in der Statistik angezeigten Werten um Gesamtwerte oder um Werte pro Einheit handelt, also z.B. pro Kunde oder pro Auftrag.</p>
</div>
<div class="sect2">
<h3 id="160">3.1. Diagrammtypen</h3>
<div class="paragraph">
<p>Je nach Diagrammtyp werden die Statistikdaten unterschiedlich dargestellt. Wenn du Statistiken vergleichen möchtest, wähle für die Statistiken die gleiche Darstellungsart und den gleiche Zeitraum. Folgende Diagrammtypen sind verfügbar:</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Tooltips nutzen</div>
<div class="paragraph">
<p>In den grafischen Diagrammen werden zusätzliche Werte über Tooltips angezeigt. Bewege den Mauszeiger über ein Diagramm, um diese Informationen anzuzeigen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-statistik-diagrammtypen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 12. Verfügbare Diagrammtypen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Darstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daten-Tabelle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Daten in Tabellenform dar.<br>
<strong><em>Tipp:</em></strong> Datentabellen bieten sehr detaillierte Werte auf einen Blick. Allerdings zeigen Datentabellen Entwicklungen nicht so deutlich auf wie z.B. Linien-, Säulen- oder Balkendiagramme.<br>
<strong><em>Hinweis:</em></strong> Bei mehrseitigen Tabellen werden die Summen für den gesamten Inhalt der Tabelle einer Statistik angezeigt, nicht nur für den sichtbaren Tabelleninhalt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Säulendiagramm</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Daten als Säulen dar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Liniendiagramm</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Daten als Linien dar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verbunddiagramm (Säule, Linie)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt einen Wert als Säule, also vertikal, und einen weiteren Wert als Linie, also horizontal, dar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Balken- und Liniendiagramm</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt einen Wert als Balken, also horizontal, und einen weiteren Wert als Linie, also vertikal, dar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gestapeltes Säulendiagramm mit Prozentaufteilung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Daten als Säulen dar. Die prozentualen Anteile werden in verschiedenen Farben gestapelt dargestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gestapeltes Doppel-Säulendiagramm</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Daten als Säulen dar. Die Daten werden in verschiedenen Farben gestapelt dargestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gestapeltes-Balkendiagramm</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Daten als Balken in verschiedenen Farben dar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Multi-Liniendiagramm</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Daten als Linien in verschiedenen Farben dar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>2D-Kreisdiagramm</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Daten als flächige Kreissektoren dar.<br>
<strong><em>Tipp:</em></strong> Auf einen Kreisanteil des Kreisdiagramms klicken, um den Anteil leicht nach außen zu verschieben. Die Kreisanteile nacheinander anklicken, um alle Kreisanteile aus dem Kreis zu lösen. Kreisanteil erneut anklicken, um ihn in die ursprüngliche Position zu verschieben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>3D-Kreisdiagramm</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stellt die Daten als dreidimensionale Kreissektoren dar.<br>
<strong><em>Tipp:</em></strong> Auf einen Kreisanteil des Kreisdiagramms klicken, um den Anteil leicht nach außen zu verschieben. Die Kreisanteile nacheinander anklicken, um alle Kreisanteile aus dem Kreis zu lösen. Kreisanteil erneut anklicken, um ihn in die ursprüngliche Position zu verschieben.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="170">3.2. Beträge und Kosten</h3>
<div class="paragraph">
<p>Die folgenden Beträge werden in den Statistiken verwendet. Artikelpakete werden in den Beträgen nicht berücksichtigt. Gebühren für Marktplätze werden auf den Bruttopreis (VK) aufgeschlagen.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 13. Beträge</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Betrag</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Netto</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beträge abzüglich Umsatzsteuer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Brutto</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beträge inklusive Umsatzsteuer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Total</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatz inklusive Versandkosten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Brutto-Umsatz bereinigt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Brutto-Umsatz abzüglich Gutschriften</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Netto-Umsatz bereinigt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Netto-Umsatz abzüglich Gutschriften</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deckungsbeitrag I</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatz abzüglich Einkaufspreis, Steuern und Versandkosten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deckungsbeitrag II</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Umsatz abzüglich Einkaufspreis, Steuern, Versandkosten und der gewählten zusätzlichen Kosten<br>
Folgende Kosten können separat abgezogen werden:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Zahlungsprovision</p>
</li>
<li>
<p>Herstellerprovision</p>
</li>
<li>
<p>Transportkosten</p>
</li>
<li>
<p>Lagerkosten</p>
</li>
<li>
<p>Betriebskosten</p>
</li>
<li>
<p>Zoll</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Der Deckungsbeitrag II wird um die Kostenwerte reduziert, die mit einem Häkchen markiert wurden.<br>
<strong><em>Tipp:</em></strong> Transportkosten, Lagerkosten, Betriebskosten und Zoll werden im Tab <strong>Einstellungen</strong> der Variante gepflegt.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="195">4. Statistikdaten exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst entweder die angezeigten Statistikdaten exportieren oder die Rohdaten als CSV-Datei, die der Statistik zugrunde liegen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der Statistikexport enthält nur die im Diagrammtyp <strong>Datentabelle</strong> der Statistik angezeigten Werte.</p>
</li>
<li>
<p>Der Rohdatenexport enthält die Datenbasis, die den in der Statistik angezeigten Werten zugrunde liegt</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="190">4.1. Statistikdaten exportieren</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um die Daten einer Statistik in eine CSV-Datei zu exportieren. Der Export enthält die im Diagrammtyp <strong>Datentabelle</strong> dargestellten Daten.</p>
</div>
<div class="paragraph instruction">
<p>Einfache Statistikdaten exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Statistik</strong>.</p>
</li>
<li>
<p>Öffne das Tab der Statistik.</p>
</li>
<li>
<p>Klicke auf den <strong>Stift</strong> der Statistik, die du exportieren möchtest.<br>
→ Das Bearbeitungsfenster wird angezeigt.</p>
</li>
<li>
<p>Klicke auf den grünen Pfeil <strong>Export</strong> oberhalb der Diagrammansicht.</p>
</li>
<li>
<p>Wähle einen Speicherort und bestätige die Speicherung.<br>
→ Die CSV-Datei wird gespeichert.<br>
<strong><em>Tipp:</em></strong> Du kannst bis zu 10.000 Datenzeilen exportieren. Wird dieser Wert überschritten, werden nur die ersten 10.000 Zeilen exportiert. Schränke die Datenmenge anhand der Filteroptionen ein, um die Statistikdaten komplett zu exportieren.</p>
</li>
<li>
<p>Öffne die Datei in einem Tabellenkalkulationsprogramm, z.B. Microsoft Excel.<br>
→ Welche Datenfelder in der CSV-Datei enthalten sind, ist von der exportieren Statistik abhängig. <a href="#tabelle-statistik-datenfelder-csv-exporte">Tabelle 14</a> erläutert die möglichen Datenfelder.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="220">4.2. Rohdaten exportieren</h3>
<div class="paragraph">
<p>Der Rohdatenexport enthält die Datenbasis, die den in der Statistik angezeigten Werten zugrunde liegt. Gehe wie unten beschrieben vor, um die Rohdaten einer Statistik in eine CSV-Datei zu exportieren.</p>
</div>
<div class="paragraph instruction">
<p>Rohdaten exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Statistik</strong>.</p>
</li>
<li>
<p>Öffne das Tab der Statistik.</p>
</li>
<li>
<p>Klicke auf den <strong>Stift</strong> der Statistik, die du exportieren möchtest.<br>
→ Das Bearbeitungsfenster wird angezeigt.</p>
</li>
<li>
<p>Klicke auf das Dokument mit grünem Pfeil <strong>Rohdaten-Export</strong> oberhalb der Diagrammansicht.</p>
</li>
<li>
<p>Wähle einen Speicherort und bestätige die Speicherung.<br>
→ Die CSV-Datei wird gespeichert.<br>
<strong><em>Tipp:</em></strong> Du kannst bis zu 10.000 Datenzeilen exportieren. Wird dieser Wert überschritten, werden nur die ersten 10.000 Zeilen exportiert. Schränke die Datenmenge anhand der Filteroptionen ein, um die Statistikdaten komplett zu exportieren.</p>
</li>
<li>
<p>Öffne die Datei in einem Tabellenkalkulationsprogramm, z.B. Microsoft Excel.<br>
→ Welche Datenfelder in der CSV-Datei enthalten sind, ist von der exportieren Statistik abhängig. <a href="#tabelle-statistik-datenfelder-csv-exporte">Tabelle 14</a> erläutert die möglichen Datenfelder.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="190">4.3. Export-Datenfelder</h3>
<div class="paragraph">
<p><a href="#tabelle-statistik-datenfelder-csv-exporte">Tabelle 14</a> erläutert die Datenfelder der Exportdateien. Welche Datenfelder in der CSV-Datei enthalten sind, ist von der exportieren Statistik abhängig.</p>
</div>
<table id="tabelle-statistik-datenfelder-csv-exporte" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 14. Datenfelder der CSV-Exporte</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Datenfeld</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AdjustedItems</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bereinigte Artikel</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AdjustedSales</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatz bereinigt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AdjustedSalesNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Netto-Umsatz bereinigt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeValueSetID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Artikelvariante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AveragePurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchschnittlicher Einkaufspreis</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AverageSales</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchschnittliche Umsätze</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AverageShipping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchschnittliche Versandkosten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Kategorie</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Kategorie</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>City</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ort</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Claim</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Offene Forderung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Company</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Firma</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CountryID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lands</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Land</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CountryOfDelivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferland</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CreditNotes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gutschriftbeträge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CreditNotesNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettogutschriftbeträge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kunden-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerGroupID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Kundenklasse</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Kunden</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CustomerRating</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bewertung durch den Kunden</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zoll</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DatePaid</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungseingang</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DateShipped</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warenausgangsdatum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DistributionMarginOne</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deckungsbeitrag I</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DistributionMarginTwo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deckungsbeitrag II</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Division</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufteilungsnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DivisionDefinition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufteilungsbereiche, z.B. Reichweiten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DunningLevel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mahnstufe</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EmailTemplateID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der E-Mail-Vorlage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EmailTemplateName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der E-Mail-Vorlage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EntryDate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragseingang</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ExternalItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Externe Artikel-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FirstName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vorname</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GrossPrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bruttopreis</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HouseNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hausnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>InvoiceNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Rechnungsnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>InvoiceTotalGross</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bruttorechnungsbetrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>InvoiceTotalNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettorechnungsbetrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemMarking1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung 1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemMarking2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Artikels</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelnummer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemPriceTotal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bruttogesamtpreis des Artikels</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemPriceTotalNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettogesamtpreis des Artikels</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemPriceUnit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grundpreis</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemPriceUnitNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettogrundpreis</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemPurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einkaufspreis</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemQuantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelmenge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Artikel</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemSellingPrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkaufspreis</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemWeight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikelgewicht</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachname</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Legend</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legende</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Losses</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erstattungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Webshop/Mandant</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MethodeOfPayment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungsart</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NetItemValue</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettowarenwert</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NetPrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettopreis</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NetStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarer Warenbestand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OperatingCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Betriebskosten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderRowID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Auftragsposition</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OrderType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsart</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PaidAmount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bezahlter Betrag</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PaymentCommission</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Provision der Zahlungsart</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PaymentMethodID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Zahlungsart</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PaymentMethodName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Zahlungsart</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozentualer Anteil</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PhysicalStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warenbestand gesamt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ProducerCommission</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herstellerprovision</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ProducerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ProducerName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einkaufspreis</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Wareneingänge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QuantityOfBundleItems</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel aus Artikelpaketen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QuantityOfCreditNotes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Gutschriften</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QuantityOfCustomers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Kunden</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QuantityOfItems;<br>
QuantityItem</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Artikel</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QuantityOfItemsBundle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel aus Artikelpaketen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QuantityOfMessagesSent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der versendeten Nachrichten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QuantityOfOrders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Aufträge</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QuantityOfReturns</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Retouren</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReasonOfReturnID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Retourengrunds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReasonOfReturnName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bezeichnung des Retourengrunds</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsherkunft</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReferrerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Herkunft</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReservedStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reservierter Warenbestand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReturnedItems</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der retournierten Artikel</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReturnRate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Retourenrate</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Returns</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bruttobetrag Retouren</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ReturnsNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettobetrag Retouren</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Brutto-Umsatz</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesAdjusted</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bereinigter Umsatz</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesAdjustedNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bereinigter Netto-Umsatz</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesGross</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Brutto-Umsatz</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Netto-Umsatz</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesPercentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzanteil in Prozent</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SalesWithoutShippingCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatz abzüglich der Versandkosten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bruttoversandkosten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingCostsGross</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bruttoversandkosten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingCostsNet</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nettoversandkosten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingProviderID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Versanddienstleisters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingProviderName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Versanddienstleisters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingRegion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandregion</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SoldItems</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verkaufte Artikel</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsstatus</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StockCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerkosten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>StoreID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Webshops/Mandanten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Street</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Straße</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Store</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Webshop/Mandant</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SupplierID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferanten-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SupplierName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferanten-Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Timestamp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragseingangsdatum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TimestampPaid</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahlungseingangsdatum</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TimestampShipped;<br>
TimestampShipping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warenausgangsdatum;<br>
(Durchlaufzeiten)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ToPaidHoursAverage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchschnittlicher Zeitraum in Stunden für den Auftragsstatus bis <strong>Bezahlt</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ToPaidPercentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozentsatz für den Auftragsstatus bis <strong>Bezahlt</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ToPaidHoursPercentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Durchschnittlicher Zeitraum in Stunden für den Auftragsstatus bis <strong>Versandt</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ToShippedPercentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozentsatz für den Auftragsstatus bis <strong>Versandt</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Total</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatz inkl. Versandkosten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TradeRepresentativeCompany</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Firma des Handelsvertreters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TradeRepresentativeID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Handelsvertreter-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TradeRepresentativeLastName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nachname des Handelsvertreters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TradeRepresentativeName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Handelsvertreters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TransportationCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Transportkosten</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragstyp</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UserID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzer-ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UserName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzername</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationPurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einkaufspreis der Artikelvariante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ValueOfNetStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert des verfügbaren Warenbestands</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ValueOfPhysicalStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert des Warenbestands</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ValueOfReservedStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wert des reservierten Warenbestands</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attributwerte der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariantID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariantName</strong>;<br>
<strong>VariationName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Variante</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mehrwertsteuer</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WarehouseName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ZIPCode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Postleitzahl</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="200">4.4. Troubleshooting: Inkorrekte Werte in CSV-Datei korrigieren</h3>
<div class="paragraph">
<p>Im Tabellenkalkulationsprogramm Microsoft Excel können die Werte der CSV-Datei falsch angezeigt werden, wenn die Trennzeichen nicht korrekt konfiguriert sind. Wenn in der CSV-Datei falsche Werte angezeigt werden, korrigiere die erweiterten Einstellungen in Excel wie folgt:</p>
</div>
<div class="paragraph instruction">
<p>Einstellung für Trennzeichen in Excel 2007 anpassen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne Microsoft Excel.</p>
</li>
<li>
<p>Öffne das Menü <strong>Datei &gt; Optionen &gt; Erweitert</strong>.</p>
</li>
<li>
<p>Deaktiviere die Option <strong>Trennzeichen vom Betriebssystem übernehmen</strong>.</p>
</li>
<li>
<p>Gib als <strong>Dezimaltrennzeichen</strong> einen Punkt ein.</p>
</li>
<li>
<p>Klicke auf <strong>OK</strong>.</p>
</li>
<li>
<p>Öffne die CSV-Datei erneut in Excel.<br>
→ Die Werte werden korrekt angezeigt.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>