<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <div class="sect1">
<h2 id="_amazon_geschenkservice_nutzen">Amazon-Geschenkservice nutzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>:stem:latexmath
:keywords: Amazon Geschenkservice, Amazon-Geschenkservice, Geschenkservice, Geschenkoptionen, Amazon Geschenkoptionen
:description: Multi-Channel in plentymarkets: Aktiviere die Geschenkoptionen von Amazon.
:position: 11
:url: maerkte/amazon/amazon-geschenkservice-nutzen
:id: 8BNFHBO
:author: team-multi-channel</p>
</div>
<div class="paragraph">
<p>Mit der Aktivierung des Amazon-Geschenkservices können deine Kunden optional während des Bestellprozesses auf Amazon einen Geschenkpapierservice nutzen und ggf. eine Grußbotschaft eingeben. Diese Optionen werden beim automatischen Auftragsabruf übernommen, ohne dass weitere Einstellungen erforderlich sind. Für jede Auftragsposition mit Geschenkoption wird eine zusätzliche Auftragsposition mit der ID <strong>-2</strong> und Informationen direkt hinter dem bestellten Artikel angefügt. Dazu gehören die Verpackungsart sowie ggf. eine Grußbotschaft.</p>
</div>
<div class="paragraph">
<p>Aktiviere die Geschenkoptionen in der Amazon Seller Central, um den Geschenkservice zu nutzen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Mehrere Verpackungsarten und Aufpreise</div>
<div class="paragraph">
<p>Du kannst mehrere Verpackungsarten hinzufügen und Aufpreise definieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><!-- AUTO GENERATED --><ul></ul>
</main>