<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#4555"><span>1.</span><span> Amazon Business aktivieren</span></a></li>
<li><a href="#4560"><span>2.</span><span> Verkaufspreis anlegen</span></a>
<ul class="sectlevel2">
<li><a href="#4565"><span>2.1.</span><span> Verkaufspreis anlegen</span></a></li>
<li><a href="#4570"><span>2.2.</span><span> Verkaufspreis für Mengenrabatt anlegen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Amazon Business einrichten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Mit Amazon Business verkaufst du deine Artikel an gewerbliche Kunden. Bevor du Einstellungen in plentymarkets vornimmst, <a href="https://services.amazon.de/programme/b2b-verkaufen/merkmale-und-vorteile.html" target="_blank" rel="noopener">registriere</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> dich bei Amazon für das Verkäuferprogramm. Damit deine Artikel als B2B-Artikel an Amazon Business übermittelt werden, muss Amazon Business für das Amazon-Konto freigeschaltet werden. Du kannst einen Standard-Verkaufspreis für Amazon Business erstellen und bis zu 5 weitere Verkaufspreise erstellen, wenn du Mengenrabatte für Amazon Business anbieten möchtest. Nimm die im Folgenden beschriebenen Einstellungen vor, um Artikel an Amazon Business zu übermitteln.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hinweis zu Amazon Business</div>
<div class="paragraph">
<p>Aktuell ist Amazon Business für die Länderplattformen Amazon.co.uk, Amazon.de, Amazon.es, Amazon.fr, Amazon.it, Amazon.es FBA, Amazon.fr FBA und Amazon.it FBA verfügbar.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="4555">1. Amazon Business aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen</strong> aktivierst du das Amazon-Konto für Amazon Business.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Amazon Business nur mit Amazon VCS nutzen</div>
<div class="paragraph">
<p>Zum Erstellen von B2B-Rechnungen benötigst du den <a href="/maerkte/amazon/amazon-einrichten#6800">VCS-Service von Amazon</a>, bei dem Amazon die Umsatzsteuer für Amazon-Aufträge berechnet. Aktiviere deshalb die Option <strong>VCS plentymarkets</strong> (VCS Lite) oder <strong>VCS Amazon</strong>, wenn du Amazon Business nutzen möchtest.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Amazon-Konto für Amazon Business aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen »</strong> <em>Konto öffnen</em> <strong>» Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>B2B</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="4560">2. Verkaufspreis anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem das Amazon-Konto für Amazon Business freigeschaltet wurde, hast du die Möglichkeit, Verkaufspreise für B2B-Artikel zu erstellen und zu verknüpfen. Du kannst neben dem Standardpreis für Artikel ab Menge 1 bis zu 5 weitere Preise für Mengenrabatte anlegen. Dabei können Preise für Mengenrabatt als Festpreis oder prozentual angelegt werden.<br></p>
</div>
<div class="paragraph">
<p>Wenn du keinen separaten Verkaufspreis für Amazon Business erstellst, wird der Standard-Verkaufspreis für Amazon übertragen, sofern Amazon Business an diesem Preis aktiviert wurde.</p>
</div>
<div class="sect2">
<h3 id="4565">2.1. Verkaufspreis anlegen</h3>
<div class="paragraph">
<p>Lege zunächst einen Standardpreis für B2B-Artikel an. Dabei müssen im Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong> die Option <strong>Ab Menge</strong>, die <strong>Herkunft</strong> und das <strong>Amazon-Konto</strong> eingestellt werden.</p>
</div>
<div class="paragraph instruction">
<p>Standardverkaufspreis für B2B-Artikel anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Tab <strong>Neu</strong> wird geöffnet.</p>
</li>
<li>
<p>Trage bei der Option <strong>Ab Menge</strong> eine <strong>1</strong> ein.</p>
</li>
<li>
<p>Wählen die Herkunft <strong>Amazon Germany B2B</strong>.</p>
</li>
<li>
<p>Wähle das <strong>Amazon-Konto</strong>, das für Amazon B2B freigeschaltet ist.</p>
</li>
<li>
<p>Nimm weitere Einstellungen gemäß der Tabelle auf der Seite <a href="/artikel/einstellungen/preise#400">Verkaufspreise und Preiskalkulation</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="4570">2.2. Verkaufspreis für Mengenrabatt anlegen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um Amazon Business-Kund*innen Mengenrabatte anzubieten.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="verkaufspreis-f-r-mengenrabatt-erstellen-tab" data-toggle="tab" href="#verkaufspreis-f-r-mengenrabatt-erstellen" role="tab" aria-controls="verkaufspreis-f-r-mengenrabatt-erstellen" aria-selected="true">Verkaufspreis für Mengenrabatt erstellen</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="mengenrabatt--ber-merkmalverkn-pfungen-darstellen-tab" data-toggle="tab" href="#mengenrabatt--ber-merkmalverkn-pfungen-darstellen" role="tab" aria-controls="mengenrabatt--ber-merkmalverkn-pfungen-darstellen" aria-selected="false">Mengenrabatt über Merkmalverknüpfungen darstellen</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="verkaufspreis-f-r-mengenrabatt-erstellen" role="tabpanel" aria-labelledby="verkaufspreis-f-r-mengenrabatt-erstellen-tab">
<div class="paragraph instruction">
<p>Verkaufspreis für Mengenrabatt erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Tab <strong>Neu</strong> wird geöffnet.</p>
</li>
<li>
<p>Trage bei der Option <strong>Ab Menge</strong> die Menge ein, ab welcher der Verkaufspreis gelten soll. Die Menge muss größer als 1 sein.</p>
</li>
<li>
<p>Wähle die Herkunft <strong>Amazon Germany B2B</strong>.</p>
</li>
<li>
<p>Wähle das <strong>Amazon-Konto</strong>, das für Amazon B2B freigeschaltet ist.</p>
</li>
<li>
<p>Nimm weitere Einstellungen gemäß der Seite <a href="/artikel/einstellungen/preise#400">Verkaufspreise und Preiskalkulation</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="mengenrabatt--ber-merkmalverkn-pfungen-darstellen" role="tabpanel" aria-labelledby="mengenrabatt--ber-merkmalverkn-pfungen-darstellen-tab">
<div class="paragraph">
<p>Bis zu 5 Verkaufspreise für den Mengenrabatt können auch prozentual über Merkmalverknüpfungen dargestellt werden. Dafür wird beim Anlegen des Merkmals vom Typ <strong>Auswahl</strong> oder <strong>Text</strong> die Amazon-Verküpfung <strong>quantity_price_type</strong> gewählt und bei der Artikelverknüpfung der Wert <strong>percent</strong> eingegeben. Zusätzlich müssen Merkmale mit den Amazon-Verknüpfungen <strong>quantity_lower_bound1-5</strong> für die Rabattmenge und <strong>quantity_price1-5</strong> für die Prozentzahl angelegt werden.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal quantity_price_type anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Klappe das Merkmal auf, das du für Amazon verwenden möchtest (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).<br>
→ Der Bearbeitungsbereich des Merkmals wird geöffnet.</p>
</li>
<li>
<p>Wähle bei <strong>Amazon-Verknüpfung</strong> den Produkttyp.<br>
→ Eine neue Dropdown-Liste wird angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste das Amazon-Feld <strong>quantity_price_type</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die Verknüpfung wird angelegt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Aktiviere nun das <a href="/artikel/einstellungen/eigenschaften#100">Merkmal</a> in den Artikeleinstellungen und hinterlege den Wert <strong>percent</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal am Artikel aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Merkmale</strong>.</p>
</li>
<li>
<p>Aktiviere das Merkmal.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Das Feld für die Eingabe des Wertes wird angelegt.</p>
</li>
<li>
<p>Trage den Wert <strong>percent</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Lege die Merkmale mit den Amazon-Verknüpfungen <strong>quantity_lower_bound1-5</strong> und <strong>quantity_price1-5</strong> auf die gleiche Weise an. Wähle dabei für <strong>quantity_lower_bound1-5</strong> Merkmale vom Typ <strong>ganze Zahl</strong> und für <strong>quantity_price1-5</strong> Merkmale vom Typ <strong>ganze Zahl</strong> oder <strong>Kommazahl</strong>.</p>
</div>
</div></div>
</div>
</div>
</div>
</main>