<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Amazon Pay einrichten</h1><div class="paragraph">
<p><strong>Bezahlen mit Amazon</strong> ist eine umfassende Zahlungslösung für Online-Händler:innen. Durch <strong>Bezahlen mit Amazon</strong> gibst du Millionen von Amazon-Kund:innen die Möglichkeit, sicher auf deiner Website einzukaufen, ohne Versand- und Zahlungsinformationen erneut einzugeben. Kund:innen können Einkäufe rasch abschließen, ohne deine Website zu verlassen.</p>
</div><div class="paragraph">
<p>Die Besonderheit der Advanced-Option von Bezahlen mit Amazon liegt darin, dass sie eine reine Zahlungsabwicklung bietet. Du übermittelst nur den zur Abwicklung der Transaktion notwendigen Zahlungsbetrag – ohne Details zum Warenkorb oder zu Artikeldaten (vgl. Amazon).</p>
</div><div class="paragraph">
<p>Amazon Pay wird per Plugin in plentymarkets bereitgestellt. Weitere Informationen zur Integration findest du im <a href="https://marketplace.plentymarkets.com/plugins/payment/AmazonLoginAndPay_5072" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Lieferzeiten beachten</div>
<div class="paragraph">
<p>Aufträge mit der Zahlungsart Amazon Pay sollten innerhalb von 30 Tagen abgewickelt werden, da sie sonst nach 30 Tagen automatisch storniert werden. Wenn du generell Artikel mit längeren Lieferzeiten verkaufst, kontaktiere bitte den Support von Amazon Pay. In Ausnahmefällen kann die 30-Tage-Frist verlängert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</main>