<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> MWS-Registrierung</span></a></li>
<li><a href="#200"><span>2.</span><span> Auth-Token abgelaufen</span></a></li>
<li><a href="#300"><span>3.</span><span> Zugangsdaten nicht korrekt</span></a></li>
<li><a href="#400"><span>4.</span><span> Scheduled reports</span></a></li>
<li><a href="#500"><span>5.</span><span> Weitere Fehlermeldung</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practice: MFN-Auftragsimport</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Best Practice werden unterschiedliche Lösungswege für Probleme aufgezeigt , welche dazu führen können, dass eure MFN-Aufträge (MFN = merchant fulfillment network, sprich Händlerversand) nicht importiert werden. Dabei gehen wir davon aus, dass in den Amazon-Grundeinstellungen der Auftragsimport bereits aktiviert wurde.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. MWS-Registrierung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die MWS-Registrierung ist dafür zuständig, uns als Entwickler für den Zugriff auf euren Amazon-Account zu autorisieren. Durch die Registrierung wird das Zugriffrecht auch in eurer Seller Central unter <strong>Einstellungen » Benutzerberechtigungen</strong> im Bereich <strong>Amazon MWS Entwicklerberechtigungen</strong> sichtbar. Ist diese Berechtigung nicht vorhanden, können wir weder Daten von Amazon abrufen, noch Daten zu Amazon senden (die Anfragen werden von Amazon blockiert).</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Ihr könnt diesen Fall erkennen, indem ihr in dem oben genannten Bereich im Seller Central prüft, ob die Berechtigung vorliegt.
Ein weiteres Anzeichen dafür ist die Fehlermeldung: <em>Error:Access to Reports. (GetReportScheduleList) is denied</em> welche ihr dann in fast allen Anfragen bekommt. Zu finden ist diese in den Logs oder im Bereich <strong>Einrichtung » Märkte » Amazon » Datenaustausch » Berichte</strong>, wenn ihr, wie im nächsten Punkt beschrieben, die <em>scheduled reports</em> setzt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In unserem <a href="/maerkte/amazon/amazon-einrichten#100">Handbuch</a> wird beschrieben, wie ihr die MWS-Registrierung ausführt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Auth-Token abgelaufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Auth-Token wird bei der MWS-Registrierung generiert. Dieser wird für jeden Abgleich zwischen uns und Amazon verwendet und hängt direkt mit der Berechtigung zusammen. Dieser Token wurde seit geraumer Zeit mit einem Ablaufdatum versehen (letztlich zu eurem Schutz, damit bereits deaktivierte Schnittstellen auch wirklich keinen Zugriff mehr haben, nachdem der Token abgelaufen ist).
Im Umkehrschluss bedeutet dies, dass der Token auch aktualisiert werden muss. Denn wenn dieser abläuft, ist die Entwicklerberechtigung der MWS-Registrierung außer Kraft gesetzt und es können keine Abgleiche mehr ausgeführt werden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Ob der Token abgelaufen ist, erkennt ihr ebenfalls anhand der Entwicklerberechtigungen in eurem Seller Central, oder an der Fehlermeldung <em>Access denied</em>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Den Auth-Token könnt ihr unter diesem <a href="https://sellercentral.amazon.de/apps/manage" target="_blank" rel="noopener">Link</a> aktualisieren (das Ablaufdatum wird in der Zukunft gesetzt, somit ist die Berechtigung wieder aktiv).</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Zugangsdaten nicht korrekt</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Selbstverständlich müssen die Zugangsdaten in den Grundeinstellungen korrekt sein, damit von unserem System aus Kontakt mit eurem Amazon-Konto aufgenommen werden kann.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Fehlermeldung dazu lautet unter anderem <em>ERROR: AuthToken is not valid for SellerId and AWSAccountId</em>, wenn der Händler-Token in den Grundeinstellungen nicht korrekt eingetragen ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Der korrekte Token und eure Verkäufer-ID (auch Merchant-ID genannt) ist über die <a href="/maerkte/amazon/amazon-einrichten#100">MWS Registrierung</a> zu finden (am Ende des Registrierungsvorgangs zu sehen). Alternativ kann auch die Verkäufer-ID in das Feld <strong>Händler-Token</strong> eingetragen werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Nachdem ihr den Händler-Token in den Amazon-Grundeinstellungen geändert habt, führt bitte einmal <strong>Einrichtung » Märkte » Amazon » Datenaustausch » Berichte » Tab: Token-Refresh</strong> aus, damit die Änderung direkt greifen kann.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Scheduled reports</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sind die oberen Punkte korrekt konfiguriert, können die Abgleiche ausgeführt werden. Damit Aufträge importiert werden können, muss Amazon Berichte erzeugen, in denen die Aufträge enthalten sind. Diese Berichte werden von vom plentymarkets System abgerufen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Die Erzeugung der Berichte ist nicht von Amazon voreingestellt. Eine Handlung von euch ist erforderlich.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Unter <strong>Einrichtung » Märkte » Amazon » Datenaustausch » Berichte</strong> könnt ihr die automatische kontinuierliche Erzeugung im <strong>Tab: Geplante Berichte</strong> festlegen. Das Ganze nennt sich Scheduler bzw. in diesem Fall, da es sich um Berichte handelt, <strong>scheduled reports</strong>.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>Amazon-Konto</strong> wählen.</p>
</li>
<li>
<p>Unter <strong>MFN Orders</strong> das Intervall wählen.</p>
</li>
<li>
<p><strong>schedule mfn order report</strong> ausführen (Zahnrad).</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Da wir alle 15 Minuten einen Abruf ausführen, mit welchem wir die noch nicht als abgeholt markierten Berichte von Amazon herunterladen, empfehlen wir das 15-minütige Intervall.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Ob die Ausführung korrekt übernommen wurde, könnt ihr über die Lupe erkennen.</p>
</div>
<div id="scheduledreports" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-amazon-mfn-auftragsimport-Lupe.png" alt="Lupe Scheduled Reports">
</div>
<div class="title">Bild 1. Scheduled Reports einsehen</div>
</div>
<div class="paragraph">
<p>Als Ergebnis seht ihr die bisher auf eurem Amazon-Konto aktivierten Scheduler. Für den MFN-Auftragsimport ist der Report Type <strong>Get Orders Data</strong> relevant und sollte auf 15 Minuten eingestellt sein. Diese Einstellung kann auch die Ursache dafür sein, dass Aufträge erst sehr spät importiert werden (hier sind von täglich bis wöchentlich schon alle Intervalle vorgekommen).</p>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Weitere Fehlermeldung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei der Fehlermeldung <em>The seller does not have an eligible Amazon account to call Amazon MWS.</em> kann es ebenfalls die Ursache sein, dass keine Berechtigung für den Zugriff von unserem System auf Amazon vorliegt. Dazu einmal wie oben beschrieben die Entwicklerberechtigungen prüfen und wenn nicht vorhanden jene über die MWS-Registrierung hinzufügen.
Sollte dies nicht helfen, bitte mit Amazon in Kontakt treten (entweder ist euer Seller-Account kein Power-Anbieter und die Amazon MWS-API kann nicht genutzt werden, oder euer Account ist noch nicht komplett freigeschaltet).</p>
</div>
</div>
</div>
</main>