<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Vorgehensweise, wenn FBA-Retouren fehlen:</span></a>
<ul class="sectlevel3">
<li><a href="#150"><span>1.1.</span><span> Import bei plentymarkets</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Vorgehensweise, wenn FBA-Aufträge fehlen:</span></a>
<ul class="sectlevel3">
<li><a href="#250"><span>2.1.</span><span> Import bei plentymarkets</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practice: Manuelle Berichtserstellung für FBA-Aufträge und Retouren</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In Einzelfällen kann es vorkommen, dass Amazon FBA-Retouren / FBA-Aufträge fehlen bzw. nicht importiert wurden. Die Gründe hierfür sind vielfältig.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Vorgehensweise, wenn FBA-Retouren fehlen:</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In der <a href="https://sellercentral.amazon.de/" target="_blank" rel="noopener">Amazon Seller Central für Europa</a> einloggen und in das Menü <strong>Berichte » Versand durch Amazon</strong> wechseln.</p>
</li>
<li>
<p>Den Punkt <strong>Kundenreklamationen » Warenrücksendungen</strong> auswählen.</p>
</li>
<li>
<p>In diesem Menü kann ein sogenannter “FBA Retouren-Bericht” erstellt werden.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Hier ein Screenshot des Menüs:</em></strong></p>
</div>
<div id="bild-sc" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-manual-fba.png" alt="Bild Seller Central">
</div>
<div class="title">Bild 1. Menü in der Amazon Seller Central</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hinweis 1:</div>
<div class="paragraph">
<p>Bitte achtet immer darauf, dass bei der Auswahl des Zeitraums der Zeitpunkt berücksichtigt wird, an dem die FBA-Retoure bei Amazon angelegt wurde.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hinweis 2:</div>
<div class="paragraph">
<p>Bitte achtet weiterhin darauf, den kleinstmöglichen Zeitpunkt bei der Erstellung dieses Berichts zu wählen. Wenn der Zeitraum zu groß ist kann es (je nach Auftragsmenge) zu Problemen beim Import kommen und der Prozess hängt sich im schlimmsten Fall auf. Dies führt dazu, dass 10 Stunden lang keine Berichte abgerufen werden können.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hinweis 3:</div>
<div class="paragraph">
<p>Bitte achtet weiterhin darauf, dass ihr nicht ununterbrochen Berichte erstellt, da nur eine begrenzte Anzahl von Berichten abgerufen werden kann. Im Normalfall sollte die Erstellung eines Berichts ausreichen, wenn dies einmal vonnöten sein sollte.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="150">1.1. Import bei plentymarkets</h4>
<div class="paragraph">
<p>Der hier erstellte Auftragsbericht wird automatisch stündlich eingelesen. Die Option eines manuellen Imports ist hierfür nicht vorgesehen.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Vorgehensweise, wenn FBA-Aufträge fehlen:</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>In der <a href="https://sellercentral.amazon.de/" target="_blank" rel="noopener">Amazon Seller Central für Europa</a> einloggen und in das Menü <strong>Berichte » Versand durch Amazon</strong> wechseln.</p>
</li>
<li>
<p>Den Punkt <strong>Verkäufe » Von Amazon versandte Sendungen</strong> auswählen.</p>
</li>
<li>
<p>In diesem Menü kann ein sogenannter “FBA-Auftragsbericht” erstellt werden.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Hier ein Screenshot des Menüs:</em></strong></p>
</div>
<div id="bild-retoure" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-manual-fba2.png" alt="Bild Retoure Seller Central">
</div>
<div class="title">Bild 2. Menü in der Amazon Seller Central</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hinweis 1:</div>
<div class="paragraph">
<p>Bitte achtet immer darauf, dass bei der Auswahl des Zeitraums der Zeitpunkt berücksichtigt wird, an dem der FBA-Auftrag bei Amazon angelegt wurde.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hinweis 2:</div>
<div class="paragraph">
<p>Bitte achtet weiterhin darauf, den kleinstmöglichen Zeitpunkt bei der Erstellung dieses Berichts zu wählen. Wenn der Zeitraum zu groß ist kann es (je nach Auftragsmenge) zu Problemen beim Import kommen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hinweis 3:</div>
<div class="paragraph">
<p>Bitte achtet weiterhin darauf, dass ihr nicht ununterbrochen Berichte erstellt, da nur eine begrenzte Anzahl von Berichten abgerufen werden kann. Im Normalfall sollte die Erstellung eines Berichts ausreichen, wenn dies einmal vonnöten sein sollte.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hinweis 4:</div>
<div class="paragraph">
<p>Wenn der Bericht lediglich für interne Zwecke dienen soll und nicht abgerufen werden soll, muss der Bericht bei Amazon als “gelesen” markiert werden. Dies kann nur über den Amazon-Support, über uns, oder aber über einen eigenen Entwicklerzugang (externes Programm) erledigt werden. Wie man einen externen Zugriff bekommt, ist im Forum nachzulesen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="250">2.1. Import bei plentymarkets</h4>
<div class="paragraph">
<p>Der hier erstellte Auftragsbericht wird automatisch alle vier Stunden eingelesen. Die Option eines manuellen Imports ist hierfür nicht vorgesehen.</p>
</div>
</div>
</div>
</div>
</main>