<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#700"><span>1.</span><span> Variantenverfügbarkeit einstellen</span></a></li>
<li><a href="#750"><span>2.</span><span> SKU manuell festlegen</span></a></li>
<li><a href="#760"><span>3.</span><span> Zusätzliche SKUs manuell festlegen</span></a></li>
<li><a href="#770"><span>4.</span><span> ASIN mit Varianten verknüpfen</span></a>
<ul class="sectlevel2">
<li><a href="#773"><span>4.1.</span><span> ASINs mit Varianten verknüpfen</span></a></li>
<li><a href="#775"><span>4.2.</span><span> ASINs per Gruppenfunktion verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#780"><span>5.</span><span> Preise festlegen</span></a>
<ul class="sectlevel2">
<li><a href="#800"><span>5.1.</span><span> Verkaufspreis festlegen</span></a></li>
<li><a href="#820"><span>5.2.</span><span> UVP festlegen</span></a></li>
<li><a href="#850"><span>5.3.</span><span> Aktionspreis festlegen</span></a></li>
<li><a href="#860"><span>5.4.</span><span> Export von Grundpreisangaben vorbereiten</span></a>
<ul class="sectlevel3">
<li><a href="#bp-100"><span>5.4.1.</span><span> Eigenschaften für Grundpreisangaben erstellen</span></a></li>
<li><a href="#bp-200"><span>5.4.2.</span><span> Grundpreisangaben an Variante speichern</span></a></li>
<li><a href="#bp-300"><span>5.4.3.</span><span> Beispiele für Grundpreisangaben</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#country-of-origin"><span>6.</span><span> Herstellungsland speichern</span></a></li>
<li><a href="#900"><span>7.</span><span> Frei definierbare Felder im Amazon-Export Seller Central einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#1000"><span>7.1.</span><span> Freitextfelder erstellen</span></a></li>
<li><a href="#1100"><span>7.2.</span><span> Freitextfelder verknüpfen</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>8.</span><span> Frei definierbare Felder im Amazon-Export Marketplace einrichten</span></a></li>
<li><a href="#1300"><span>9.</span><span> Kategorien verknüpfen</span></a></li>
<li><a href="#1350"><span>10.</span><span> Attribute und Attributwerte verknüpfen</span></a></li>
<li><a href="#1390"><span>11.</span><span> Eigenschaften mit Amazon verknüpfen</span></a></li>
<li><a href="#1400"><span>12.</span><span> Merkmale mit Amazon verknüpfen</span></a></li>
<li><a href="#6700"><span>13.</span><span> FAQ</span></a>
<ul class="sectlevel2">
<li><a href="#_preis_und_bestandsabgleich"><span>13.1.</span><span> Preis- und Bestandsabgleich</span></a></li>
</ul>
</li>
<li><a href="#next-steps"><span>14.</span><span> Nächste Schritte</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Amazon: Varianten vorbereiten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph previous-next-navigation">
<p><a href="/maerkte/amazon/amazon-einrichten"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Amazon in plentymarkets einrichten</a>
<a href="/maerkte/amazon/variantendaten-exportieren">Amazon-Variantenexport per Katalog einrichten <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<div class="paragraph text-right">
<p><em>oder</em></p>
</div>
<div class="paragraph next-navigation">
<p><a href="/maerkte/amazon/variantendaten-exportieren-alt">Variantenexport über alte Technologie einrichten <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<hr>
<div class="paragraph">
<p>Du hast die Schnittstelle zu Amazon <a href="/maerkte/amazon/amazon-einrichten">eingerichtet</a>? Super. Dann bereite nun deine Varianten für den Export zu Amazon vor.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">1. Variantenverfügbarkeit einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Varianten, die du auf Amazon-Länderplattformen verkaufen möchtest, müssen im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]</strong> im Tab <strong>Verfügbarkeit</strong> aktiviert werden.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Gruppenfunktion oder Stapelverarbeitung nutzen</div>
<div class="paragraph">
<p>Die Verfügbarkeit für mehrere Varianten bearbeitest du entweder über die <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#100">Varianten-Gruppenfunktion</a> oder die <a href="/artikel/import-export-anlage/anlage/massenbearbeitung#400">Stapelverarbeitung</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Variantenverfügbarkeit für Amazon-Länderplattform einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]</strong>.<br>
→ Das Tab <strong>Einstellungen</strong> der Variante wird geöffnet.<br>
<strong><em>Tipp:</em></strong> Um alle Varianten eines Artikels auf der Amazon-Länderplattform zu verkaufen, nimm die Einstellungen an der Hauptvariante vor. Die Verfügbarkeit wird dann für alle Varianten des Artikels aktiviert.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Verfügbarkeit</strong> die Option <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Märkte</strong> in das Auswahlfeld.<br>
→ Eine Liste mit allen verfügbaren Märkten wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Amazon-Länderplattform(en), für die die Variante verfügbar sein soll.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Web-API</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Der Marktplatz wird hinzugefügt.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Multi-Channel</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen im Bereich <strong>Amazon</strong> vor. Beachte dazu die Erläuterungen in <a href="#artikelverfügbarkeit-amazon">Tabelle 1</a>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="artikelverfügbarkeit-amazon" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Variantenverfügbarkeit für Amazon einstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produkttyp</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wähle den passenden Amazon-Produkttyp aus der Dropdown-Liste.
Der Produkttyp ist sozusagen die Amazon-Kategorie, unter der dieser Artikel erscheinen soll.
<a href="/maerkte/amazon/amazon-variantenexport">Wenn du deine Artikel an Amazon überträgst</a>, wirst du immer nur einen Produkttyp, d.h. eine Kategorie, auf einmal übertragen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Eine Übersicht der Amazon-Produkttypen kannst du <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/plenty_article_amazon_type.csv" target="_blank" rel="noopener">hier</a> herunterladen.
Die Tabelle enthält die Produkttypen und ihre entsprechenden IDs.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FBA-Abwicklung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Soll der Artikel über FBA vermarktet werden?
Falls ja, dann wähle den passenden Amazon-Marktplatz aus der Dropdown-Liste.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>AMAZON_EU</strong> = Europa</p>
</li>
<li>
<p><strong>AMAZON_FE</strong> = Ferner Osten</p>
</li>
<li>
<p><strong>AMAZON_NA</strong> = Nordamerika</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon FBA</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Soll der Artikel über FBA vermarktet werden?
Falls ja, dann wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Dadurch können für diesen Artikel FBA-Bestände in plentymarkets importiert werden und Amazon Multi-Channel-Aufträge, die mit FBA versendet werden, können angemeldet werden.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Variantenverfügbarkeit für MFN und FBA</div>
<div class="paragraph">
<p>Wenn du deine Varianten für MFN und FBA verfügbar stellen möchtest, wähle, am Beispiel für Deutschland, die Amazon Länderplattform <strong>Amazon Germany</strong> und die Länderplattform <strong>Amazon FBA Germany</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="750">2. SKU manuell festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]</strong> im Tab <strong>Verfügbarkeit</strong> fügst du, wenn nötig, manuell marktplatzspezifische SKUs sowie Parent-SKUs hinzu. Wenn du zum Beispiel schon auf Amazon verkaufst und nun anfangen möchtest, deine Artikel über plentymarkets auf Amazon zu verkaufen, ordne deine bestehenden SKU-Nummern in diesem Menü zu.</p>
</div>
<div class="paragraph instruction">
<p>SKU hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>SKU</strong> auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Bearbeitungsfenster <strong>Neue SKU</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle die Herkunft <strong>Amazon</strong>, um die SKU hinzuzufügen.</p>
</li>
<li>
<p>Wähle das dazugehörige Marktplatzkonto.</p>
</li>
<li>
<p>Gib die SKU ein.</p>
</li>
<li>
<p>Gib die Parent-SKU ein.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die SKUs werden gespeichert und angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>SKUs können nachträglich geändert werden. Beachte allerdings, dass SKU-Änderungen dazu führen können, dass Amazon die Artikel nicht mehr erkennen bzw. nicht mehr zuordnen kann.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Parent-SKU</div>
<div class="paragraph">
<p>Parent-SKUs können sowohl für den Artikel als auch für Varianten gespeichert werden. Die manuelle SKU-Pflege erlaubt es, für Varianten eines Artikels die Parent-SKU komplett anderer Artikelvarianten zu vergeben. So kann zum Beispiel für einen Artikel mit 5 Varianten 5 mal die Parent-SKU einer Variante, die einem ganz anderen Artikel angehört, vergeben werden. Diese Varianten werden auf Amazon als Varianten des Artikels, mit dessen Parent-SKU sie verknüpft sind, gelistet.<br>
Wird bei einer Variante eine andere Parent-SKU vergeben als bei den restlichen Varianten eines Artikels, werden auf Amazon zwei verschiedene Artikel gelistet, aber in plentymarkets muss dafür nur ein Artikel gepflegt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="760">3. Zusätzliche SKUs manuell festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]</strong> im Tab <strong>Verfügbarkeit</strong> fügst du, wenn nötig, manuell SKUs hinzu.</p>
</div>
<div class="paragraph instruction">
<p>SKU hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Verfügbarkeit</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Zusätzliche SKU</strong> auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Das Bearbeitungsfenster <strong>Neue zusätzliche SKU</strong> wird angezeigt.</p>
</li>
<li>
<p>Wähle die Herkunft <strong>Amazon</strong>, um die SKU hinzuzufügen.</p>
</li>
<li>
<p>Wähle das dazugehörige Marktplatzkonto.</p>
</li>
<li>
<p>Gib die SKU ein.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong>.<br>
→ Die SKUs werden gespeichert und angezeigt.<br>
<strong><em>Tipp:</em></strong> SKUs können nachträglich geändert werden.</p>
</li>
</ol>
</div>
<h5 id="_bestands_und_preisabgleich_für_zusätzliche_skus_aktivieren" class="discrete">Bestands- und Preisabgleich für zusätzliche SKUs aktivieren</h5>
<div class="paragraph">
<p>Zusätzliche SKUs werden beim Amazon-Auftragsimport automatisch berücksichtigt. Den Bestands- und Preisabgleich für zusätzliche SKUs aktivierst du manuell im Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen » Tab: Artikeleinstellungen</strong>.<br></p>
</div>
<div class="paragraph">
<p>Der Bestands- und Preisabgleich für zusätzliche SKUs läuft zusammen mit dem normalen Bestands- und Preisabgleich in dem Intervall, das du unter <strong>Einrichtung » Märkte » Amazon » Einstellungen » Tab: Artikeleinstellungen</strong> im Bereich <strong>Automatismen</strong> für die Optionen <strong>Preisänderungen</strong> und <strong>Bestandabgleich</strong> gewählt hast.<br></p>
</div>
<div class="paragraph">
<p>Beim Bestandsabgleich für zusätzliche SKUs werden auch FBA-Bestände aktualisiert (Import).</p>
</div>
<div class="paragraph instruction">
<p>Bestands- und Preisabgleich aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Einstellungen » Tab: Artikeleinstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Exporteinstellungen</strong> für die Option <strong>Zusätzliche SKU</strong> die Einstellungen <strong>Bestandsabgleich</strong> und <strong>Preisabgleich</strong>, je nachdem, welche Optionen du aktivieren möchtest. <strong>ALLE</strong> aktiviert den Bestandsabgleich und den Preisabgleich.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="770">4. ASIN mit Varianten verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die ASIN (= Amazon Standard Identification Number) ist eine eindeutige Produktkennzeichnung auf Amazon, die den Verkauf auf Amazon erleichtert. Um unkompliziert und schnell Produkte auf Amazon verkaufen zu können, die dort bereits gelistet sind, sollte deshalb an jeder Variante eine ASIN gespeichert sein.<br></p>
</div>
<div class="paragraph">
<p>Wenn eine ASIN an der Variante gespeichert ist, musst du nur noch Preis, Bestand und GTIN an der Variante pflegen und kannst den Artikel bereits mit diesen Daten auf Amazon verkaufen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">GTIN an Variante speichern</div>
<div class="paragraph">
<p>ASINs werden anhand des Barcodes GTIN13 auf Amazon gesucht und in plentymarkets importiert. Stelle deshalb sicher, dass an allen Varianten ein Barcode (GTIN13) gespeichert ist, da sonst keine ASINs gefunden werden können.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Amazon ASIN-Import Assistenten durchlaufen</div>
<div class="paragraph">
<p>Durchlaufe zunächst den <strong>Amazon ASIN-Import</strong>-Assistenten im Menü <strong>Einrichtung » Assistenten » Omni-Channel</strong>, um passende ASINs zu deinen Varianten in dein plentymarkets System zu importieren. Mit dem Assistenten legst du zudem fest, ob und wie importierte ASINs mit Varianten verknüpft werden sollen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Märkte » Amazon » ASIN-Verknüpfung</strong> erhältst du eine Übersicht zu importierten ASINs. Hier werden alle importierten ASINs angezeigt, d.h. ASINs, die bereits mit einer Variante verknüpft sind und ASINs, die noch nicht mit einer Variante verknüpft sind. In diesem Menü hast du außerdem die Möglichkeit, ASINs einzeln oder per Gruppenfunktion mit Varianten zu verknüpfen.</p>
</div>
<div class="paragraph">
<p>ASINs werden schrittweise in dein plentymarkets System importiert. Deshalb werden in dieser Übersicht nicht sofort alle Varianten angezeigt, die mit ASINs verknüpft werden können.</p>
</div>
<table id="asin-verknuepfung-uebersicht" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Übersicht zu importierten ASINs</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GTIN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die an der Variante gespeicherte GTIN.<br>
GTIN anklicken, um den Artikel zu öffnen.<br>
Falls diese GTIN an mehreren Varianten gespeichert ist, wird der Artikel der ersten gefundenen Variante geöffnet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Der Artikelname der Variante.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attributsname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die an der Variante gespeicherten Attribute.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plattform</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Die Amazon-Plattform, auf der die Variante eingestellt ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ASINs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hier stehen die verfügbaren ASINs zu der Variante. Es kann auch mehrere passende ASINs zu einer Variante geben.<br>
In dieser Spalte können ASINs verknüpft werden. Um eine ASIN mit einer Variante zu verknüpfen, die ASIN aktivieren, die verknüpft werden soll und auf <strong>Speichern</strong> klicken.<br>
Wenn für diese Amazon-Plattform mehrere passende ASINs zu der Variante gefunden wurden, werden die gefundenen ASINs in einer Dropdown-Liste angezeigt. Es können eine, mehrere, oder alle ASINs mit der Variante verknüpft werden. Um eine oder mehrere ASINs zu verknüpfen, die gewünschten ASINs aktivieren und auf <strong>Speichern</strong> klicken.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorschau</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Öffnet eine Vorschau der Amazon-Produktseite.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fehler</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hier werden Fehlermeldungen aufgeführt, die beim Import der ASIN aufgetreten sind. Folgende Fehlermeldungen können auftreten:<br>
Anfrage an Amazon fehlgeschlagen. = Die Anfrage zur Suche von ASINs konnte von Amazon nicht verarbeitet werden.<br>
Keine passende ASIN zu dieser GTIN gefunden. = Zu dieser GTIN konnten auf Amazon keine passenden ASINs gefunden werden.<br>
Abrufen der ASIN fehlgeschlagen. = Die ASIN konnte nicht importiert werden.<br>
Kein Eintrag für Datenbank erstellt. = Die ASIN wurde nicht in der Datenbank gespeichert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verknüpfung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Zeigt an, ob die ASIN bereits mit einer Variante verknüpft ist (Häkchen) oder nicht (X).</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="773">4.1. ASINs mit Varianten verknüpfen</h3>
<div class="paragraph">
<p>ASINs werden im Menü <strong>Einrichtung » Märkte » Amazon » ASIN-Verknüpfung</strong> manuell mit Varianten verknüpft.</p>
</div>
<div class="paragraph instruction">
<p>ASIN mit Variante verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » ASIN-Verknüpfung</strong>.</p>
</li>
<li>
<p>Aktiviere in der Zeile der Variante im Feld <strong>ASIN</strong> eine oder mehrere ASINs, die mit der Variante verknüpft werden sollen.<br>
→ Wenn mehrere ASINs zu der Variante gefunden wurden, werden die verfügbaren ASINs in einer Dropdown-Liste angezeigt.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="775">4.2. ASINs per Gruppenfunktion verknüpfen</h3>
<div class="paragraph">
<p>Nutze die Gruppenfunktion im Menü <strong>Einrichtung » Märkte » Amazon » ASIN-Verknüpfung</strong>, um manuell mehrere ASINs auf einmal mit Varianten zu verknüpfen.</p>
</div>
<div class="paragraph instruction">
<p>Gruppenfunktion ausführen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » ASIN-Verknüpfung</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Gruppenfunktion</strong>.<br>
→ Ein Bereich mit den Aktionen der Gruppenfunktion wird ausgeklappt.</p>
</li>
<li>
<p>Wähle im Bereich <strong>Gruppenfunktion</strong> die Aktion, die du ausführen möchtest. Beachte dazu die Erläuterungen in <a href="#gruppenfunktion-gtin-asin">Tabelle 3</a>.</p>
</li>
<li>
<p>Aktiviere die Zeilen der Varianten, die du mit der Gruppenfunktion bearbeiten möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Gruppenfunktion ausführen</strong>.</p>
</li>
</ol>
</div>
<table id="gruppenfunktion-gtin-asin" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Aktionen der Gruppenfunktion</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatisch die erste ASIN verknüpfen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wenn mehrere passende ASINs zu der Variante gefunden wurden, wird die erste ASIN verknüpft, die gefunden wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle verknüpfen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wenn mehrere passende ASINs zu der Variante gefunden wurden, werden alle gefundenen ASINs mit der Variante verknüpft.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="780">5. Preise festlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erfährst du, wie du Verkaufspreise, UVPs und Aktionspreise für Amazon bestimmst. Außerdem wird beschrieben, wie du die Informationen überträgst, die Amazon für die Berechnung des Grundpreises erwartet.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Verkaufspreis ohne Preistyp festlegen</div>
<div class="paragraph">
<p>Lege einen Verkaufspreis ohne Preistyp (UVP, Aktionspreis, Setpreis) fest, da deine Artikel sonst nicht zu Amazon übertragen werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="800">5.1. Verkaufspreis festlegen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für Amazon-Länderplattformen einen Verkaufspreis festzulegen. Dieser Preis wird auf den Länderplattformen angezeigt.</p>
</div>
<div class="exampleblock">
<div class="content">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Wenn du für den Export schon die neuen Kataloge nutzt, kannst du den Schritt <strong>Verkaufspreis für Länderplattformen festlegen</strong> überspringen. Der Assistent <strong>Kataloge erstellen - Amazon</strong> kann automatisch einen Verkaufspreis erstellen.
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="paragraph instruction">
<p>Verkaufspreis für Länderplattformen festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » [Verkaufspreis öffnen] » Tab: Einstellungen</strong>.<br>
<strong><em>Hinweis:</em></strong> Wähle einen Verkaufspreis ohne Preistyp (UVP, Aktionspreis, Setpreis). Deine Artikel werden sonst nicht übertragen.</p>
</li>
<li>
<p>Aktiviere die gewünschte Amazon-Herkunft.</p>
</li>
<li>
<p>Aktiviere das gewünschte Amazon-Konto.</p>
</li>
<li>
<p>Öffne das Tab <strong>Sprache</strong>.</p>
</li>
<li>
<p>Gib in die Felder <strong>Interner Name</strong> und <strong>Externer Name</strong> die gewünschten Namen ein.<br>
<strong><em>Hinweis:</em></strong> Wenn diese Felder leer sind, wird der Preis nicht berücksichtigt.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="820">5.2. UVP festlegen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um für Amazon-Länderplattformen einen UVP festzulegen. Dieser Preis wird als <strong>List-Price</strong> zu Amazon übertragen.</p>
</div>
<div class="paragraph instruction">
<p>UVP für Länderplattformen festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » [Verkaufspreis öffnen] » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere in der Zeile <strong>Preistyp</strong> die Option <strong>UVP</strong>.</p>
</li>
<li>
<p>Aktiviere die gewünschte Amazon-Herkunft.</p>
</li>
<li>
<p>Aktiviere das gewünschte Amazon-Konto.</p>
</li>
<li>
<p>Öffne das Tab <strong>Sprache</strong>.</p>
</li>
<li>
<p>Gib in die Felder <strong>Interner Name</strong> und <strong>Externer Name</strong> die gewünschten Namen ein.<br>
<strong><em>Hinweis:</em></strong> Wenn diese Felder leer sind, wird der Preis nicht berücksichtigt.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="850">5.3. Aktionspreis festlegen</h3>
<div class="paragraph">
<p>Um Aktionspreise an Amazon zu übermitteln, legst du zusätzlich zum regulären Verkaufspreis einen weiteren Verkaufspreis vom Preistyp <strong>Aktionspreis</strong> an und verknüpfst ihn mit der Variante. Außerdem erstellst du die Eigenschaften <strong>SaleStartDate</strong> und <strong>SaleEndDate</strong> und verknüpfst sie mit der Variante. Gehe wie im Folgenden beschrieben vor, um Aktionspreise für Amazon-Artikel festzulegen.</p>
</div>
<div class="paragraph instruction">
<p>Aktionspreis für Amazon-Länderplattformen festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise » [Verkaufspreis öffnen] » Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Aktiviere in der Zeile <strong>Preistyp</strong> die Option <strong>Aktionspreis</strong>.</p>
</li>
<li>
<p>Aktiviere die gewünschte Amazon-Herkunft.</p>
</li>
<li>
<p>Aktiviere das gewünschte Amazon-Konto.</p>
</li>
<li>
<p>Öffne das Tab <strong>Sprache</strong>.</p>
</li>
<li>
<p>Gib in die Felder <strong>Interner Name</strong> und <strong>Externer Name</strong> die gewünschten Namen ein.<br>
<strong><em>Hinweis:</em></strong> Wenn diese Felder leer sind, wird der Preis nicht berücksichtigt.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nun erstellst du die Eigenschaften <strong>SaleStartDate</strong> und <strong>SaleEndDate</strong> und verknüpfst diese Eigenschaften mit Amazon-Kategorien. Gehe wie im Folgenden beschrieben vor, um die Eigenschaft <strong>SaleStartDate</strong> zu erstellen und zu verknüpfen. Gehe bei der Eigenschaft <strong>SaleEndDate</strong> auf die gleiche Weise vor, wobei du als Namen <strong>SaleEndDate</strong> eingibst und bei der Verknüpfung das Amazon-Feld <strong>sale_end_date</strong> wählst.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du arbeitest zum ersten Mal mit den Eigenschaften? Dann mach dich zuerst <a href="/artikel/einstellungen/eigenschaften#10">mit dem Prinzip der Eigenschaften vertraut</a>.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Eigenschaft für Aktionspreis erstellen und mit Amazon-Produkttyp verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Klicke auf <strong><span class="icon darkGrey"><i class="fa fa-plus-square  "></i></span> Eigenschaft erstellen</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Bereich</strong> die Option <strong>Artikel</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Typ</strong> die Option <strong>Datum</strong>.</p>
</li>
<li>
<p>Gib in das Feld <strong>Name</strong> den Namen <strong>SaleStartDate</strong> ein.<br>
<strong><em>Wichtig:</em></strong> Für die Eigenschaft darf nur dieser Name <strong>SaleStartDate</strong> benutzt werden. Der Aktionspreis wird sonst nicht an Amazon übermittelt.</p>
</li>
<li>
<p>Gib eine Positionsnummer für die Eigenschaft ein.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Wenn du international verkaufst, speichere den Namen <strong>SaleStartDate</strong> für weitere Sprachen.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Amazon</strong> auf <strong>Verknüpfung hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste eine <strong>Amazon-Plattform</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Kategorie</strong> eine Kategorie.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Feld</strong> das Feld <strong>sale_from_date</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Die Verknüpfung wird gespeichert.</p>
</li>
<li>
<p>Erstelle nun die Eigenschaft <strong>SaleEndDate</strong> genauso. Als <strong>Feld</strong> wählst du <strong>sales_end_date</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Du hast einen Aktionspreis und die Eigenschaften <strong>SalesStartDate</strong> und <strong>SalesEndDate</strong> erstellt. Nun legst du fest, für welche Varianten und in welchem Zeitraum der Aktionspreis gelten soll. Außerdem speicherst du einen Preis.</p>
</div>
<div class="paragraph instruction">
<p>Aktionspreis an einer Variante speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Einstellungen</strong>.</p>
</li>
<li>
<p>Füge im Bereich <strong>Verkaufspreise</strong> den Aktionspreis hinzu (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Gib einen Preis ein.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Eigenschaften</strong>.</p>
</li>
<li>
<p>Gib im Bereich <strong>Varianteneigenschaften</strong> den Eigenschaftsnamen <strong>SalesStartDate</strong> ein.
<strong><em>Hinweis:</em></strong> Wenn du die Eigenschaft nicht findest, prüfe, ob du die richtige Amazon-Kategorie verknüpft hast.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong>.<br>
→ Die Eigenschaft wird hinzugefügt.</p>
</li>
<li>
<p>Klicke in die Spalte <strong>Wert</strong>.<br>
→ Der Kalender wird eingeblendet.</p>
</li>
<li>
<p>Wähle ein Startdatum für den Aktionspreis.</p>
</li>
<li>
<p>Gib im Bereich <strong>Varianteneigenschaften</strong> den Eigenschaftsnamen <strong>SalesEndDate</strong> ein.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong>.<br>
→ Die Eigenschaft wird hinzugefügt.</p>
</li>
<li>
<p>Klicke in die Spalte <strong>Wert</strong>.<br>
→ Der Kalender wird eingeblendet.</p>
</li>
<li>
<p>Wähle ein Enddatum für den Aktionspreis.<br>
<strong><em>Tipp:</em></strong> Das Enddatum muss nach dem Startdatum liegen.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="860">5.4. Export von Grundpreisangaben vorbereiten</h3>
<div class="paragraph">
<p>Die deutsche Grundpreisverordnung schreibt vor, dass für Produkte, die nach Gewicht, Volumen, Länge oder Fläche verkauft werden, der Grundpreis in unmittelbarer Nähe des Endpreises anzugeben ist.</p>
</div>
<div class="paragraph">
<p>Amazon berechnet den Grundpreis aus dem übermittelten Preis und den Angaben zu Menge und Einheit. Je nach Kategorie erwartet Amazon dabei andere Felder. Informationen dazu, welche Werte für eine Kategorie übermittelt werden müssen, findest du in der Lagerbestandsdateivorlage der Amazon-Kategorie.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Erstelle eine Eigenschaft für jedes Feld, das Amazon für die Grundpreisangabe deiner Varianten erwartet.</p>
</li>
<li>
<p>Verknüpfe die Eigenschaften mit deinen Varianten und speichere Werte für die Varianten.</p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="bp-100">5.4.1. Eigenschaften für Grundpreisangaben erstellen</h4>
<div class="ulist">
<ul>
<li>
<p>Du arbeitest zum ersten Mal mit den Eigenschaften? Dann mach dich zuerst <a href="/artikel/einstellungen/eigenschaften#10#">mit dem Prinzip der Eigenschaften vertraut</a>.</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Klicke auf <strong><span class="icon darkGrey"><i class="fa fa-plus-square  "></i></span> Eigenschaft erstellen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Informationen in <a href="#table-amazon-property-base-price">Tabelle 4</a>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</li>
</ul>
</div>
<table id="table-amazon-property-base-price" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Eigenschaft erstellen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Details</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Option <strong>Artikel</strong> wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Für Mengenangaben Option <strong>Kommazahl</strong> wählen.</p>
</li>
<li>
<p>Für Maßeinheiten Option <strong>Auswahl</strong> wählen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Namen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Name des Amazon-Felds eingeben.<br>
<strong><em>Hinweis:</em></strong> Speichere den Namen für alle Sprachen, die für eine Amazon-Plattform genutzt werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Sichtbarkeiten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gewünschte Amazon-Plattformen aktivieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Werte</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Werte</strong> (nur bei Typ <strong>Auswahl</strong>)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Werte für die von Amazon erlaubten Maßeinheiten speichern.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Bereich <strong>Amazon</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon-Plattform</strong>;<br>
<strong>Kategorie</strong>;<br>
<strong>Feld</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Amazon-Plattform, Kategorie und Feld aus den Dropdown-Listen wählen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="bp-200">5.4.2. Grundpreisangaben an Variante speichern</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Eigenschaften</strong>.<br>
<strong><em>Tipp:</em></strong> Um alle Varianten eines Artikels zu verknüpfen, nimm diese Einstellung an der Hauptvariante vor. Die Einstellung wird an alle Varianten des Artikels vererbt.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Varianteneigenschaften</strong> in das Feld <strong>Eigenschaften</strong>.<br>
→ Eine Dropdown-Liste mit den verfügbaren Eigenschaften wird angezeigt.</p>
</li>
<li>
<p>Aktiviere die Eigenschaft, die du gerade erstellt hast.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die Eigenschaft wird in der Liste der Eigenschaften angezeigt.</p>
</li>
<li>
<p>Wähle in der Spalte <strong>Wert</strong> aus der Dropdown-Liste die Einheit, zum Beispiel <strong>GR</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="bp-300">5.4.3. Beispiele für Grundpreisangaben</h4>
<div class="paragraph">
<p>In den folgenden Beispielen wird beschrieben, wie du das Amazon-Feld für Mengenangaben <strong>item_display_weight</strong> und das Amazon-Feld für Maßeinheiten <strong>item_display_weight_unit_of_measure</strong> erstellst. Beachte jedoch, dass Amazon je nach Kategorie andere Felder erwartet. Informationen dazu, welche Werte für eine Amazon-Kategorie übermittelt werden müssen, findest du in der Lagerbestandsdateivorlage dieser Amazon-Kategorie.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong><em>Beispiel:</em></strong> Mengenangabe <strong>item_display_weight</strong></div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p>Erstelle eine Eigenschaft <strong>item_display_weight</strong> mit folgenden Einstellungen:</p>
<div class="ulist">
<ul>
<li>
<p>Bereich = Artikel</p>
</li>
<li>
<p>Typ = Kommazahl</p>
</li>
<li>
<p>Name = item_display_weight<br>
<strong><em>Hinweis:</em></strong> Speichere den Namen für alle Sprachen, die für eine Amazon-Plattform genutzt werden.</p>
</li>
<li>
<p>Herkunft = gewünschte Amazon-Plattformen</p>
</li>
<li>
<p>Amazon-Plattform = gewünschte Amazon-Plattform</p>
</li>
<li>
<p>Kategorie = gewünschte Kategorie</p>
</li>
<li>
<p>Feld = item_display_weight</p>
</li>
</ul>
</div>
</li>
<li>
<p>Verknüpfe die Eigenschaft <strong>item_display_weight</strong> mit den gewünschten Varianten und speichere für jede Variante ein Gewicht.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong><em>Beispiel:</em></strong> Maßeinheit <strong>item_display_weight_unit_of_measure</strong></div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p>Erstelle eine Eigenschaft <strong>item_display_weight_unit_of_measure</strong> mit folgenden Einstellungen:</p>
<div class="ulist">
<ul>
<li>
<p>Bereich = Artikel</p>
</li>
<li>
<p>Typ = Auswahl</p>
</li>
<li>
<p>Werte = <strong>KG</strong> für Kilogramm und <strong>GR</strong> für Gramm</p>
</li>
<li>
<p>Name = item_display_weight_unit_of_measure<br>
<strong><em>Hinweis:</em></strong> Speichere den Namen für alle Sprachen, die für eine Amazon-Plattform genutzt werden.</p>
</li>
<li>
<p>Herkunft = gewünschte Amazon-Plattformen</p>
</li>
<li>
<p>Amazon-Plattform = gewünschte Amazon-Plattform</p>
</li>
<li>
<p>Kategorie = gewünschte Kategorie</p>
</li>
<li>
<p>Feld = item_display_weight_unit_of_measure</p>
</li>
</ul>
</div>
</li>
<li>
<p>Verknüpfe die Eigenschaft <strong>item_display_weight_unit_of_measure</strong> mit einer Variante und wähle einen Eigenschaftswert.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="country-of-origin">6. Herstellungsland speichern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für alle Produkte muss das Herstellungsland (Country of Origin, COO) angegeben werden. Das Herstellungsland speicherst du für alle Varianten eines Artikels. Falls die Varianten eines Artikels in verschiedenen Ländern hergestellt werden, kannst du stattdessen Eigenschaften verwenden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
Wenn du eine Eigenschaft mit dem Amazon-Feld <strong>country_of_origin</strong> verknüpft und diese Eigenschaft mit einer Variante verknüpft hast, hat diese Eigenschaft Priorität vor der Einstellung <strong>Herstellungsland</strong> des Artikels.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Herstellungsland für alle Varianten eines Artikels speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen]</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Global</strong>.<br>
→ Die Einstellung für das Herstellungsland findest du im Bereich <strong>Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste das Herstellungsland.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Das Herstellungsland wird für alle Varianten des Artikels exportiert.<br>
→ Der Name des Landes wird automatisch in die Sprache jeder Amazon-Plattform übersetzt.<br>
<strong><em>Tipp:</em></strong> Um mehrere Artikel zu bearbeiten, nutze die Möglichkeiten für die <a href="/artikel/import-export-anlage/anlage/massenbearbeitung">Massenbearbeitung</a>.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Herstellungsland für eine Variante eines Artikels speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Erstelle eine Eigenschaft des Typs <strong>Text</strong>.</p>
</li>
<li>
<p>Verknüpfe die Eigenschaft mit dem Amazon-Feld <strong>country_of_origin</strong>.<br>
<strong><em>Tipp:</em></strong> Pro Kombination aus Amazon-Plattform und Amazon-Kategorie benötigst du eine eigene Verknüpfung.</p>
</li>
<li>
<p>Verknüpfe die Eigenschaft mit der Variante.<br></p>
</li>
<li>
<p>Speichere als Eigenschaftswert den Namen des Herstellungslands der Variante in allen benötigten Sprachen.<br>
→ Der an der Variante gespeicherte Wert der Eigenschaft wird exportiert.<br>
<strong><em>Achtung:</em></strong> Für den Parent-Eintrag wird der Eigenschaftswert der Variante mit der niedrigsten ID verwendet. Der Wert für <strong>country_of_origin</strong> kann also nicht für den Parent-Eintrag gespeichert werden.<br>
<strong><em>Tipp:</em></strong> Wenn du nicht zu viele Herstellungsländer hast, kannst du statt einer Eigenschaft des Typs <strong>Text</strong> auch eine Eigenschaft des Typs <strong>Auswahl</strong> nutzen. Die Ländernamen speicherst du dann schon in der Eigenschaft in den verschiedenen Sprachen. Auch das Risiko für Tippfehler wird dadurch reduziert.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">7. Frei definierbare Felder im Amazon-Export Seller Central einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die frei definierbaren Felder dienen der Anpassung der Daten, die du zu Amazon exportierst. Diese Felder müssen mit <a href="/artikel/einstellungen/freitextfelder">Freitextfeldern</a> verknüpft werden. Die Freitextfelder ermöglichen dir eine individuelle Anpassung der Artikeldaten und somit eine genaue Beschreibung der Artikel.</p>
</div>
<div class="sect2">
<h3 id="1000">7.1. Freitextfelder erstellen</h3>
<div class="paragraph">
<p>Erstelle im ersten Schritt die <a href="/artikel/einstellungen/freitextfelder">Freitextfelder</a>, die du mit den frei definierbaren Feldern bei Amazon verknüpfen möchtest. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Freitextfelder erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Freitextfelder</strong>.</p>
</li>
<li>
<p>Gib unter <strong>Feldbezeichnung</strong> den Namen ein.</p>
</li>
<li>
<p>Wähle den <strong>Datentyp</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Gib die maximal mögliche <strong>Zeichenlänge</strong> für das Freitextfeld ein.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Die Freitextfelder stehen am nächsten Tag im Bearbeitungsfenster der Artikel im Tab <strong>Felder</strong> zur Verfügung. Dort trägst du den eigentlichen Text ein.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1100">7.2. Freitextfelder verknüpfen</h3>
<div class="paragraph">
<p>Nachdem du die Freitextfelder eingerichtet hast, verknüpfst du diese wie im Folgenden beschrieben mit den Exportfeldern bei Amazon Seller Central.</p>
</div>
<div class="paragraph instruction">
<p>Freitextfelder mit Amazon-Exportfeldern verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Frei definierbare Felder</strong>.</p>
</li>
<li>
<p>Öffne das Untermenü <strong>Frei definierbare Felder im Amazon-Export (Seller Central)</strong> (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Klappe die Kategorie auf (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Wähle ein <strong>Exportfeld</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Wähle das passende Feld aus der Dropdown-Liste <strong>Freitextfeld</strong>.<br>
→ Du kannst nur Felder auswählen, die du erstellt hast.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">8. Frei definierbare Felder im Amazon-Export Marketplace einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Frei definierbare Felder im Amazon-Export Marketplace verknüpfst du für die BMVD-Kategorien Bücher, Musik, Video und DVD.</p>
</div>
<div class="paragraph instruction">
<p>Freitextfelder verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Frei definierbare Felder</strong>.</p>
</li>
<li>
<p>Öffne das Untermenü <strong>Frei definierbare Felder im Amazon-Export (Marketplace)</strong>.</p>
</li>
<li>
<p>Wähle die Freitextfelder aus den Dropdown-Listen aus.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Freitextfelder</strong>.</p>
</li>
<li>
<p>Gib bei den eben gewählten Freitextfeldern unter <strong>Feldbezeichnung</strong> den Namen ein.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste in der Spalte <strong>Datentyp</strong> einen Typ aus.</p>
</li>
<li>
<p>Gib die maximal mögliche <strong>Zeichenlänge</strong> für das Freitextfeld ein.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Am nächsten Tag stehen diese Freitextfelder im Bearbeitungsfenster der Artikel im Tab <strong>Felder</strong> zur Verfügung. Dort trägst du die <strong>Ziffern</strong> gemäß <a href="#optionen-item-condition">Tabelle 5</a> und <a href="#optionen-will-ship-internationally">Tabelle 6</a> ein.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Freitextfelder mit Einschränkung</div>
<div class="paragraph">
<p>Für die Felder <strong>item-condition</strong> und <strong>will-ship-internationally</strong> sind nur vorgegebene Werte möglich. Das Feld <strong>item-note</strong> kann als Textfeld genutzt und für jeden Artikel neu formuliert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Amazon-Produkttyp und Artikeldaten eingeben</div>
<div class="paragraph">
<p>Damit der Export richtig funktioniert, muss im Menü <strong>Artikel » Artikel bearbeiten</strong> im Tab <strong>Multi-Channel</strong> der <strong>Amazon-Produkttyp</strong> ausgewählt sein: <strong>Marketplace - Bücher</strong>, <strong>Marketplace - Musik</strong>, <strong>Marketplace - Video</strong>, <strong>Marketplace - DVD</strong>. Des Weiteren muss in den Artikeldaten entweder eine <strong>EAN</strong>, <strong>UPC</strong> oder <strong>ISBN</strong> eingegeben sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Folgende Werte sind für das Feld <strong>item-condition</strong> möglich:</p>
</div>
<table id="optionen-item-condition" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 5. Optionen für das Feld <strong>item-condition</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ziffer</th>
<th class="tableblock halign-left valign-top">Bedeutung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>1</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Used, Like New (Gebraucht, wie neu)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>2</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Used, Very Good (Gebraucht, sehr gut)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>3</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Used, Good (Gebraucht, gut)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>4</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Used, Acceptable (Gebraucht, annehmbar)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>5</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Collectible, Like New (Sammlerstück, wie neu)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>6</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Collectible, Very Good (Sammlerstück, sehr gut)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>7</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Collectible, Good (Sammlerstück, gut)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>8</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Collectible, Acceptable (Sammlerstück, annehmbar)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>9</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Not used (Nicht benutzt)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>10</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Refurbished (for computers, kitchen &amp; housewares, electronics, and camera &amp; photo only) (B-Ware)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>11</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>New (Neu)</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Folgende Werte sind für das Feld <strong>will-ship-internationally</strong> möglich:</p>
</div>
<table id="optionen-will-ship-internationally" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 6. Optionen für das Feld <strong>will-ship-internationally</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ziffer</th>
<th class="tableblock halign-left valign-top">Bedeutung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>7</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Versand innerhalb Deutschlands</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>8</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Versand innerhalb Europas (auch Nicht-EU-Länder)</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>9</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Versand innerhalb der EU, der Schweiz und Liechtenstein</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>10</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Versand weltweit</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1300">9. Kategorien verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit deine Artikel beim Export zum Marktplatz Amazon automatisch in die dort vorhandenen Kategorien einsortiert werden, musst du in plentymarkets bestimmte Informationen in deinen Kategorien eingeben. Amazon stellt dazu Klassifikationslisten bereit, die sogenannten Browse Tree Guides (BTG). Diese Listen im Format MS Excel (.xls) enthalten eindeutige Klassifikationsnummern, die Browse Node IDs, die du deinen plentymarkets Kategorien zuweisen musst. Die Listen sind über das Hilfe-Center im Seller Central abrufbar oder über diesen <a href="https://sellercentral-europe.amazon.com/gp/help/help-folder.html/?ie=UTF8&amp;itemID=1661" target="_blank" rel="noopener">Link</a>.</p>
</div>
<div class="paragraph">
<p>Mit der Verwendung der offiziellen Amazon.de Browse Tree Guides stellst du sicher, dass deine Produkte schnell und einfach im Katalog von Amazon.de gefunden werden. Die genannten Klassifikationsnummern bilden die Grundlage für die Produktzuordnung sowohl in der Navigation als auch für die Produktsuche. Angesichts der Vielzahl der bei Amazon.de angebotenen Artikel entscheidet eine eindeutige Zuordnung deiner Artikel zu diesen Browse Node IDs darüber, ob Kund:innen deine Produkte in den entsprechenden Kategorien finden können oder nicht. Nimm dir also für den nächsten Schritt etwas Zeit und wähle die Browse Node IDs sorgfältig aus.</p>
</div>
<div class="paragraph">
<p>Die Kategorieverknüpfung führst du im Menü <strong>Einrichtung » Märkte » Amazon » Kategorieverknüpfung</strong> durch. In plentymarkets kannst du jeder Artikelkategorie bis zu zwei Amazon-Klassifikationsnummern aus den Browse Tree Guides zuweisen.</p>
</div>
<div class="paragraph">
<p>Die eingegebenen Werte müssen unbedingt pro Zeile separat verknüpft werden.</p>
</div>
<div class="paragraph">
<p>Die Kategorieverknüpfungen werden nur für Standard-Kategorien berücksichtigt, die im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Artikel-Tab: Kategorien</strong> des Artikels gewählt wurden.</p>
</div>
<div class="paragraph instruction">
<p>Amazon-Kategorien verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Rufe über diesen <a href="https://sellercentral-europe.amazon.com/gp/help/help-folder.html/?ie=UTF8&amp;itemID=1661" target="_blank" rel="noopener">Link</a> das Hilfe-Center im Seller Central auf.</p>
</li>
<li>
<p>Wähle die Klassifikationsliste, zum Beispiel Bekleidung.</p>
</li>
<li>
<p>Suche in der Spalte <strong>Kategorie</strong> nach der Produktbezeichnung, zum Beispiel Bluse.</p>
</li>
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » Amazon » Kategorieverknüpfung</strong> in deinem plentymarkets Backend.</p>
</li>
<li>
<p>Gib die Browse Node ID aus der Liste in die Tabelle bei der entsprechenden Kategorie ein.</p>
</li>
<li>
<p>Klicke auf das <strong>Zahnrad</strong> in der Zeile der Kategorie, um die Verknüpfungen herzustellen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Export der Browse Node ID</div>
<div class="paragraph">
<p>Die bei der Kategorieauswahl zugeordnete Browse Node ID wird beim Datenexport in das Feld <strong>RecommendedBrowseNode1</strong> übertragen. Das Feld <strong>RecommendedBrowseNode2</strong> wird nur für mehrfach verknüpfte Kategorien verwendet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1350">10. Attribute und Attributwerte verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Auch <a href="/artikel/einstellungen/attribute">Attribute</a> müssen verknüpft werden, bevor deine Artikel zu Amazon übertragen werden können. Die Attributverknüpfung ist für Amazon auch mehrsprachig möglich.</p>
</div>
<div class="paragraph instruction">
<p>Attribute und Attributwerte verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Attribute</strong>.<br>
→ Die Übersicht aller in deinem Katalog verwendeten Attribute wird geöffnet.</p>
</li>
<li>
<p>Öffne ein Attribut.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Attributverknüpfung</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Amazon</strong>. <br>
→ Der Bereich Amazon für die Attributverknüpfung wird geöffnet.</p>
</li>
<li>
<p>Wähle die passende Amazon-Kategorie aus dem Drop-Down-Menü.</p>
</li>
<li>
<p>Gib die zu deinen Attributwerten passenden Amazon-Attributwerte ein.<br>
<strong><em>Hinweis:</em></strong> Die zweite Spalte für <strong>Marktplatz-Attributwerte</strong> wird momentan nur für die Kategorie <strong>Size</strong> in der Flatfile <strong>Shoes</strong> verwendet. Beim Export dieser Flatfile wird die Spalte <strong>footwear_size</strong> mit dem in der zweiten Spalte eingegebenem Wert befüllt. Wenn kein Wert in der zweiten Spalte eingegeben wird, wird <strong>footwear_size</strong> mit dem Wert aus der ersten Spalte befüllt.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Wiederhole den Vorgang für alle weiteren Attribute.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hauptvariante ohne Attributverknüpfung deaktivieren</div>
<div class="paragraph">
<p>Wenn ein Artikel Varianten mit Attributverknüpfungen hat, aber die Hauptvariante keine Attributverknüpfung besitzt, muss die Hauptvariante auf inaktiv gestellt werden, damit die Hauptvariante nicht als Einzelartikel exportiert wird. Hat die Hauptvariante eine Attributverknüpfung, muss sie auf aktiv gestellt sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1390">11. Eigenschaften mit Amazon verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit <a href="/artikel/einstellungen/eigenschaften#500">Eigenschaften</a> hast du die Möglichkeit, Varianten detaillierter zu beschreiben. Mit einer Eigenschaft kannst du zum Beispiel technische Details einer Variante, wie Bluetooth oder WLAN, abbilden.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="eine-eigenschaft-mit-amazon-verkn-pfen-tab" data-toggle="tab" href="#eine-eigenschaft-mit-amazon-verkn-pfen" role="tab" aria-controls="eine-eigenschaft-mit-amazon-verkn-pfen" aria-selected="true">Eine Eigenschaft mit Amazon verknüpfen</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="eigenschaften-per-import-mit-amazon-verkn-pfen-tab" data-toggle="tab" href="#eigenschaften-per-import-mit-amazon-verkn-pfen" role="tab" aria-controls="eigenschaften-per-import-mit-amazon-verkn-pfen" aria-selected="false">Eigenschaften per Import mit Amazon verknüpfen</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="eine-eigenschaft-mit-amazon-verkn-pfen" role="tabpanel" aria-labelledby="eine-eigenschaft-mit-amazon-verkn-pfen-tab">
<div class="paragraph">
<p>Eigenschaften, die du im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong> erstellt hast und zu einer Variante hinzugefügt hast, verknüpfst du im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration » [Eigenschaft öffnen] » Tab: Amazon</strong> mit Amazon.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaft mit Amazon verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong>.</p>
</li>
<li>
<p>Öffne die Eigenschaft.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Sichtbarkeiten</strong> in der Dropdown-Liste <strong>Herkunft</strong> eine <strong>Amazon-Herkunft</strong>.</p>
</li>
<li>
<p>Klicke im Bereich <strong>Amazon</strong> auf <strong>Verknüpfung hinzufügen</strong>.</p>
</li>
<li>
<p>Wähle die <strong>Amazon-Plattform</strong>.</p>
</li>
<li>
<p>Wähle die Amazon-<strong>Kategorie</strong>.</p>
</li>
<li>
<p>Wähle das Amazon-<strong>Feld</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Die Eigenschaft wird mit Amazon verknüpft und beim nächsten Artikelexport übertragen.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="eigenschaften-per-import-mit-amazon-verkn-pfen" role="tabpanel" aria-labelledby="eigenschaften-per-import-mit-amazon-verkn-pfen-tab">
<div class="paragraph">
<p>Eigenschaften können auch über den Import mit Amazon verknüpft werden. Dies geht allerdings nur, wenn du neue Daten importierst.</p>
</div>
<div class="paragraph instruction">
<p>Eigenschaften via Import mit Amazon verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Import</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Import hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Erstelle einen neuen Import vom Typ Eigenschaft.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Gib im Tab <strong>Abgleich</strong> den Wert für die Eigenschafts-ID ein.</p>
</li>
<li>
<p>Wähle bei den Import-Optionen entweder <strong>Neue Daten importieren, vorhandene aktualisieren</strong> oder <strong>Nur neue Daten importieren</strong>.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Erstelle im Tab <strong>Zuordnung</strong> eine Zuordnung für die Kategorie, das Feld und die Plattform.</p>
</li>
<li>
<p>Wähle als Quelle der jeweiligen Zeile <strong>Eigener Wert</strong>.</p>
</li>
<li>
<p>Gib jeweils den Wert für die Kategorie, das Feld oder die Plattform ein.</p>
</li>
<li>
<p>Ordne das entsprechende plentymarkets Datenfeld als Ziel zu.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br></p>
</li>
<li>
<p>Klicke auf <strong>Import ausführen</strong> (<span class="icon grey"><i class="fa fa-play-circle  "></i></span>), um die Eigenschaften zu importieren.<br>
→ Die Verknüpfung ist im Menü <strong>Einrichtung » Einstellungen » Eigenschaften » Konfiguration</strong> sichtbar.</p>
</li>
</ol>
</div>
</div></div>
<div class="paragraph">
<p>Hast du deine Werte in einer CSV-Datei vorliegen, kannst du mehrere Plattformen auf einmal verknüpfen. Verwendest du hingegen den Eigenen Wert, benötigst du eine Zuordnung pro Verknüpfung an eine Plattform.</p>
</div>
<div class="exampleblock">
<div class="content">
<div class="openblock">
<div class="content">

</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">12. Merkmale mit Amazon verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für den Fall, dass du für den Marktplatz Amazon die Definition von Parametern für die Artikel benötigst, die du nicht direkt mit plentymarkets einrichten kannst, haben wir die hier beschriebene Lösung entwickelt: Die Integration der Parameter bzw. Werte wird über die Merkmale vorgenommen.</p>
</div>
<div class="exampleblock">
<div class="content">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
Merkmale sind ein veraltetes Feature. Wir empfehlen dir deshalb, keine neuen Merkmale mehr zu erstellen. Nutze stattdessen die <a href="#1390">Eigenschaften</a>.
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="paragraph">
<p>Das Merkmal eines Artikels wird im Menü <strong>Einrichtung » Artikel » Merkmale</strong> mit dem Amazon-Produkttyp verknüpft. In plentymarkets können maximal 16 Verknüpfungen pro Merkmal gespeichert werden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Eigenschaften werden beim Export vor Merkmalen priorisiert</div>
<div class="paragraph">
<p>Wenn du ein Merkmal und eine Eigenschaft mit demselben Amazon-Feld verknüpft hast, wird die Eigenschaft bevorzugt und das Merkmal, das mit diesem Amazon-Feld verknüpft ist, beim Artikelexport mit der Eigenschaft überschrieben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Merkmal mit Amazon-Produkttyp verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Merkmale</strong>.</p>
</li>
<li>
<p>Klappe das Merkmal auf, das du für Amazon verwenden möchtest (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).<br>
→ Der Bearbeitungsbereich des Merkmals wird geöffnet.</p>
</li>
<li>
<p>Wähle bei <strong>Amazon-Verknüpfung</strong> die Kategorie.<br>
→ Eine Dropdown-Liste wird angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste das Amazon-Feld.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Die Verknüpfung wird erstellt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: Merkmal multilingual übertragen</div>
<div class="paragraph">
<p>Generell können für die Amazon-Verknüpfung alle Merkmaltypen verwendet werden. Mit Merkmalen des Typs <strong>Auswahl</strong> und <strong>Text</strong> hast du die Möglichkeit, die Merkmale multilingual zu übertragen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h5 id="_merkmal_am_artikel_aktivieren" class="discrete">Merkmal am Artikel aktivieren</h5>
<div class="paragraph">
<p>Im letzten Schritt aktivierst du das <a href="/artikel/einstellungen/eigenschaften#100">Merkmal</a> in den Artikeleinstellungen und trägst einen Wert ein.</p>
</div>
<div class="paragraph instruction">
<p>Merkmal am Artikel aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne den Artikel.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Merkmale</strong>.</p>
</li>
<li>
<p>Aktiviere das Merkmal.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.<br>
→ Das Feld für die Eingabe des Wertes wird erstellt.</p>
</li>
<li>
<p>Gib einen Wert ein.</p>
</li>
<li>
<p>Speichere (<span class="icon "><i class="psicon-save"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">EU Compliance-Export</div>
<div class="paragraph">
<p>EU Compliance-Hinweise werden über Merkmal eingegebenen und als eigene Flatfile zu Amazon übetragen. Wähle dazu das Amazon-Feld <strong>EU Compliance</strong> beim jeweiligen Amazon-Produkttyp, verknüpfe das Merkmal mit dem Artikel und wähle in den Amazon Grundeinstellungen im Tab <strong>Artikeleinstellungen</strong> die passende Export-Kategorie.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="6700">13. FAQ</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_preis_und_bestandsabgleich">13.1. Preis- und Bestandsabgleich</h3>
<div id="67001" class="openblock collapseBox">
<div class="title">Welche Einstellungen muss ich vornehmen, damit Preise an Amazon übermittelt werden?</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><strong>Verkaufspreis</strong> aktivieren: Achte darauf, dass der Verkaufspreis des Artikels im Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong> für das Amazon-Konto und die Amazon-Herkunft aktiviert ist. Außerdem muss für den Verkaufspreis ein Name in der Sprache der Plattform gespeichert sein, auf der der Artikel verkauft werden soll. Sprachspezifische Namen werden im Tab <strong>Sprache</strong> eines Verkaufspreises gespeichert.</p>
</li>
<li>
<p>Aktiviere den Artikel im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen]</strong>. Dazu aktivierst du zunächst im <strong>Tab: Einstellungen</strong> die Option <strong>Aktiv</strong> im Bereich <strong>Verfügbarkeit</strong>. Aktiviere außerdem im <strong>Tab: Verfügbarkeit</strong> in der Dropdown-Liste im Bereich <strong>Märkte</strong> die Option <strong>Web-API</strong> und die gewünschte <strong>Amazon-Herkunft</strong>.</p>
</li>
<li>
<p><strong>Amazon-Produkttyp</strong>: Im <strong>Tab: Multi-Channel</strong> des Artikels muss im Bereich <strong>Amazon</strong> ein <strong>Produkttyp</strong> ausgewählt sein.</p>
</li>
<li>
<p><strong>SKU</strong>: Füge im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Verfügbarkeit</strong> im Bereich <strong>SKU</strong> eine SKU mit der Herkunft <strong>Amazon</strong> hinzu.</p>
</li>
</ul>
</div>
</div>
</div>
<div id="67002" class="openblock collapseBox">
<div class="title">Welche Einstellungen muss ich vornehmen, damit Bestände an Amazon übermittelt werden?</div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p>Aktiviere den Artikel im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Verfügbarkeit</strong>. Dazu aktivierst du zunächst im <strong>Tab: Einstellungen</strong> die Option <strong>Aktiv</strong> im Bereich <strong>Verfügbarkeit</strong>. Aktiviere außerdem im <strong>Tab: Verfügbarkeit</strong> in der Dropdown-Liste im Bereich <strong>Märkte</strong> die Option <strong>Web-API</strong> und die gewünschte <strong>Amazon-Herkunft</strong>.</p>
</li>
<li>
<p><strong>Amazon Produkttyp</strong>: Im <strong>Tab: Multi-Channel</strong> des Artikels muss im Bereich <strong>Amazon</strong> ein <strong>Produkttyp</strong> ausgewählt sein.</p>
</li>
<li>
<p><strong>SKU</strong>: Füge im Menü <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » [Variante öffnen] » Varianten-Tab: Verfügbarkeit</strong> im Bereich <strong>SKU</strong> eine SKU mit der Herkunft <strong>Amazon</strong> hinzu.</p>
</li>
<li>
<p>Exportfilter <strong>Shop-Artikel</strong> beachten: Wenn du unter <strong>Einrichtung » Märkte » Amazon » Einstellungen » Tab: Artikeleinstellungen</strong> im Bereich <strong>Exportfilter</strong> für die Einstellung <strong>Shop-Artikel</strong> die Option <strong>Nur im Webshop sichtbare Artikel</strong> gewählt hast, achte darauf, dass der Artikel im <strong>Tab: Einstellungen</strong> auch für den plentyShop aktiviert ist.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="next-steps">14. Nächste Schritte</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du hast nun die Schnittstelle zu Amazon in plentymarkets eingerichtet und deine Varianten vorbereitet. Entscheide nun, ob du deine Varianten per Katalog (BETA) oder über den alten Artikelexport zu Amazon exportieren möchtest.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/maerkte/amazon/variantendaten-exportieren">Amazon-Variantenexport per Katalog einrichten</a></p>
</li>
<li>
<p><a href="/maerkte/amazon/variantendaten-exportieren-alt">Variantenexport über alte Technologie einrichten</a></p>
</li>
</ul>
</div>
<hr>
<div class="paragraph previous-next-navigation">
<p><a href="/maerkte/amazon/amazon-einrichten"><span class="icon "><i class="fa fa-long-arrow-left  "></i></span> Amazon in plentymarkets einrichten</a>
<a href="/maerkte/amazon/variantendaten-exportieren">Amazon-Variantenexport per Katalog einrichten <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
<div class="paragraph text-right">
<p><em>oder</em></p>
</div>
<div class="paragraph next-navigation">
<p><a href="/maerkte/amazon/variantendaten-exportieren-alt">Variantenexport über alte Technologie einrichten <span class="icon "><i class="fa fa-long-arrow-right  "></i></span></a></p>
</div>
</div>
</div>
</main>