<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Completing the assistant</span></a></li>
<li><a href="#30"><span>2.</span><span> Customer classes and shipping profiles</span></a></li>
<li><a href="#40"><span>3.</span><span> Linking bank details with template containers</span></a></li>
<li><a href="#50"><span>4.</span><span> Initialising payment again</span></a></li>
<li><a href="#60"><span>5.</span><span> Linking the logo with template containers</span></a></li>
<li><a href="#70"><span>6.</span><span> Editing text elements</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Cash in advance</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With the Cash in advance plugin, you integrate the payment method Cash in advance in your online shop and make it available to your customers. To do so, download the Cash in advance plugin from the <a href="https://marketplace.plentymarkets.com/en/prepayment_4758" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Setup of the payment method is done with an assistant. You also have to carry out a few basic settings in your plentymarkets system so that the payment method is activated in your system.<br>
The explanations in this section apply after adding the plugin. You can find more information on adding and installing plugins in the <a href="/en/plugins">Plugins</a> section of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Completing the assistant</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After you have installed the plugin the corresponding assistant is available. Proceed as follows to complete the assistant and thus set up the payment method.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Plugins » [select Plugin set]</strong>.</p>
</li>
<li>
<p>Select the assistant <strong>Cash in advance</strong>.</p>
</li>
<li>
<p>Complete the assistant.<br></p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The payment method Cash in advance is available in your online shop.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">2. Customer classes and shipping profiles</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Make sure the payment method is allowed in the <a href="/en/crm/managing-contacts#15">customer classes</a> and is not deactivated in the <a href="/en/fulfilment/preparing-the-shipment#1800">shipping profiles</a>. For this, you should consider first for which customer classes and shipping profiles the payment method should be allowed. This can be set individually.</p>
</div>
<div class="paragraph instruction">
<p>Permitting the payment method in a customer class:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » CRM » Customer classes</strong>.</p>
</li>
<li>
<p>Open the customer class for which you want to permit the payment method.</p>
</li>
<li>
<p>Select the payment method from the list <strong>Permitted payment methods</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>If needed, repeat these steps for other customer classes as well.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Checking payment method in existing shipping profiles:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Shipping » Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Shipping profiles</strong> tab.</p>
</li>
<li>
<p>Open the shipping profile in which the payment method should be allowed.</p>
</li>
<li>
<p>Check whether the payment method is selected in the <strong>Blocked payment methods</strong> area.</p>
</li>
<li>
<p>Deselect the payment method if you want to allow it for this shipping profile.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>If needed, repeat these steps for shipping profiles as well.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="40">3. Linking bank details with template containers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To display your bank details on the order confirmation page of the online shop when customers select the payment method Cash in advance, you have to link the corresponding template containers. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Linking bank details:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open the plugin set you want to edit.</p>
</li>
<li>
<p>Open the plugin <strong>Cash in advance</strong>.</p>
</li>
<li>
<p>Click on <strong>Container links</strong>.</p>
</li>
<li>
<p>Expand the area <strong>Container links</strong>.</p>
</li>
<li>
<p>Select <strong>Cash in advance bank details</strong> from the <strong>Data provider</strong> drop-down list.</p>
</li>
<li>
<p>Activate the container <strong>Order confirmation: Additional payment information</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The bank details are displayed on the order confirmation page of your online shop.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="50">4. Initialising payment again</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you want to allow your customers to initialise the payment again you have to link the following template containers.</p>
</div>
<div class="paragraph instruction">
<p>Initialising payment again:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open the plugin set you want to edit.</p>
</li>
<li>
<p>Open the plugin <strong>Cash in advance</strong>.</p>
</li>
<li>
<p>Click on <strong>Container links</strong>.</p>
</li>
<li>
<p>Expand the area Container links.</p>
</li>
<li>
<p>Select <strong>Cash in advance Reinitialise Payment</strong> from the <strong>Data provider</strong> drop-down list.</p>
</li>
<li>
<p>Activate the container <strong>My account: Additional payment information</strong>.<br>
→ Customers can now initialise the payment again in the order history of the My account area.</p>
</li>
<li>
<p>Activate the container <strong>Order confirmation: Additional payment information</strong>.<br>
→ Customers can now initialise the payment again from the order confirmation page.</p>
</li>
<li>
<p>Select the data provider <strong>Cash in advance Reinitialize Payment Script</strong>.</p>
</li>
<li>
<p>Activate the container <strong>Script loader: After scripts loaded</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">5. Linking the logo with template containers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If needed, you can link the logo of the payment method to the homepage of your online shop. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Linking logo:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open the plugin set you want to edit.</p>
</li>
<li>
<p>Open the plugin <strong>Cash in advance</strong>.</p>
</li>
<li>
<p>Click on <strong>Container links</strong>.</p>
</li>
<li>
<p>Expand the area Container links.</p>
</li>
<li>
<p>Select <strong>Cash in advance icon</strong> from the <strong>Data provider</strong> drop-down list.</p>
</li>
<li>
<p>Activate the container <strong>Homepage: Payment method container</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The logo of the payment method Cash in advance will be displayed on the homepage of your online shop.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">6. Editing text elements</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can edit texts of the plugin in the <strong>CMS » Multilingualism</strong> menu. The texts can be adapted into all available system languages. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Adapting language files:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Multilingualism</strong>.</p>
</li>
<li>
<p>On the left side, select the <strong>Source language</strong> from the drop-down list.</p>
</li>
<li>
<p>On the right side, select the <strong>Target language</strong> from the drop-down list.</p>
</li>
<li>
<p>Expand the sections <strong>bank data</strong>, <strong>designated use</strong>, <strong>payment method</strong> and <strong>reinitialization</strong> in the <strong>PrePayment</strong> area.</p>
</li>
<li>
<p>Enter the text for the individual text elements in the area of the target language.</p>
</li>
<li>
<p>Save (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Find more information in how to edit online shop texts on the manual page <a href="/en/online-store/setting-up-ceres#231">Editing online store texts</a>.</p>
</div>
</div>
</div>
</main>