<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#70"><span>1.</span><span> Applying for EBICS at your bank</span></a>
<ul class="sectlevel2">
<li><a href="#80"><span>1.1.</span><span> Account numbers</span></a></li>
<li><a href="#90"><span>1.2.</span><span> Provision of bank statements</span></a></li>
<li><a href="#100"><span>1.3.</span><span> Participants</span></a></li>
<li><a href="#110"><span>1.4.</span><span> Order type</span></a></li>
</ul>
</li>
<li><a href="#120"><span>2.</span><span> Creating an EBICS account</span></a>
<ul class="sectlevel2">
<li><a href="#130"><span>2.1.</span><span> Carrying out EBICS account settings</span></a></li>
<li><a href="#140"><span>2.2.</span><span> Initialising the account</span></a></li>
</ul>
</li>
<li><a href="#150"><span>3.</span><span> Retrieval times of transactions</span></a></li>
<li><a href="#160"><span>4.</span><span> Retrieval times of interim transaction reports</span></a></li>
<li><a href="#170"><span>5.</span><span> Managing transactions</span></a>
<ul class="sectlevel2">
<li><a href="#_loading_inactive_transactions"><span>Loading inactive transactions</span></a></li>
<li><a href="#190"><span>5.1.</span><span> Adding new transactions</span></a></li>
</ul>
</li>
<li><a href="#200"><span>6.</span><span> Migrating the old integration</span></a></li>
<li><a href="#210"><span>7.</span><span> FAQ about the EBICS plugin</span></a>
<ul class="sectlevel2">
<li><a href="#220"><span>7.1.</span><span> How do I use the EBICS plugin?</span></a></li>
<li><a href="#230"><span>7.2.</span><span> How do I open a new account?</span></a></li>
<li><a href="#250"><span>7.3.</span><span> Payments are not retrieved. What can I do?</span></a></li>
<li><a href="#260"><span>7.4.</span><span> The bank provides the transaction file at X o’clock. Why does plentymarkets retrieve the file later?</span></a></li>
<li><a href="#270"><span>7.5.</span><span> What do the fields daily account statement and interim transaction report mean?</span></a></li>
<li><a href="#280"><span>7.6.</span><span> What is the difference between CAMT and MT?</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>EBICS</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With the plugin EBICS, you integrate <strong>EBICS</strong> (Electronic Banking Internet Communication Standard) into your system. To do so, download the EBICS plugin from the <a href="https://marketplace.plentymarkets.com/en/ebics_5098" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. To set up EBICS you have to carry out a few basic settings in your plentymarkets system.<br></p>
</div>
<div class="paragraph">
<p>EBICS (Electronic Banking Internet Communication Standard) is a transmission protocol for banking information for usage by banking clients. With the help of the standardised EBICS procedure, retrieving payments has become even easier. This plugin completely integrates EBICS in plentymarkets. No third party providers are required.</p>
</div>
<div class="paragraph">
<p>For communication via EBICS, your sales figures are saved on the bank server in a file, comparable to bank statements. This file is imported in your plentymarkets system and the sales figures are booked in plentymarkets. The linked EBICS account can be seen as a combined account of several bank accounts. A file with the sales figures of an EBICS account is generated daily (Format CAMT053 or MT940) after activation by the bank. This file can be retrieved at night and all incoming payments are available the next morning. In addition, multiple interim transaction report files are generated daily (Format CAMT052 or MT942) which can be retrieved to book interim transaction reports in your plentymarkets system.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Booking the EBICS module</div>
<div class="paragraph">
<p>To set up an account, the EBICS module first has to be booked in the configurator.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="70">1. Applying for EBICS at your bank</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The first step in using EBICS in plentymarkets is registering for the procedure with your bank to receive the necessary documents to fill out and return.  Once completed, you will receive all data you need to use EBICS, e.g., the bank customer ID.<br>
The following details for EBICS have to be entered in the form.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Existing EBICS accounts</div>
<div class="paragraph">
<p>It is not allowed to set up existing EBICS accounts which are already in use in plentymarkets. Multiple users (participants) can be listed in an EBICS account.  If you already hold an account, then apply for a new one (technical user is also possible). Only use this account for plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="80">1.1. Account numbers</h3>
<div class="paragraph">
<p>Enter the account numbers for the accounts that you would like revenue to be retrieved and booked into plentymarkets from. Entering account numbers is optional because the retrieval is technically based on the user data.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Only save business accounts</div>
<div class="paragraph">
<p>There is currently no option in plentymarkets for setting up accounts individually for EBICS retrieval. This means that payment transactions can only be retrieved globally by the plentymarkets system for all accounts saved. This includes e.g. payment transactions on your private account as well, if this account was saved. For this reason, only save the account numbers of your business accounts.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">One account for several users</div>
<div class="paragraph">
<p>If several different users all refer to the same account (some banks manage multiple accounts together), then problems may occur if retrieval is carried out simultaneously. This is true even if the users work with different plentymarkets systems. There is currently no solution to prevent this.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="90">1.2. Provision of bank statements</h3>
<div class="paragraph">
<p>Provisioning of bank statements can either be done based on the date of the bookkeeping entry or based on bank statements.</p>
</div>
<table id="table-provision-bank-statements" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Provision of bank statements</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Based on date of bookkeeping entry</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A fictitious, consecutive number is included. This setting is activated by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Based on bank statements</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">An effective bank statement number is included. Provided that automatic bank statement retrieval is carried out on a daily basis.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="100">1.3. Participants</h3>
<div class="paragraph">
<p>When setting up your accounts for EBICS, you create one or more <a href="/en/business-decisions/user-accounts-access#10">users</a> for your accounts. EBICS users are called participants (German: Teilnehmer). You can create participants including different order types. One of these participants has to be saved in the plentymarkets system with the <strong>participant ID</strong> that you received from your bank.</p>
</div>
<div class="paragraph">
<p>plentymarkets only requires one participant, e.g. a user account with the lowest rights, in order to carry out the EBICS payment retrieval. Only one participant may be set up per EBICS account.</p>
</div>
</div>
<div class="sect2">
<h3 id="110">1.4. Order type</h3>
<div class="paragraph">
<p>Plentymarkets needs the order types as explained in <a href="#table-order-signature-types">Table 2</a> in order to successfully retrieve the transactions on your EBICS account. Also pay attention to the notes about order and signature types given on your bank’s forms.</p>
</div>
<table id="table-order-signature-types" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Order and signature types</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>STA</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Statement of account <strong>MT940</strong> or <strong>CAMT053</strong>. <a href="/en/payment/managing-bank-details#180">Retrieval of the transactions</a> at the end of the day.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VMK</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interim transaction report <strong>MT942</strong> or <strong>CAMT052.</strong> Depending on the respective bank, interim transaction reports are created and made ready for retrieval several times a day. This <a href="/en/payment/managing-bank-details#190">information</a> is optional for plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EU Type "T"</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Signature type that provides authorisation exclusively for the retrieval of transaction data.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="120">2. Creating an EBICS account</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To use EBICS, you have to create an account first. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Creating an account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Plugin » EBICS</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new account</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new account</strong> window opens.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-ebics-account-settings">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The account is created.</p>
</li>
</ol>
</div>
<table id="table-ebics-account-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. EBICS account settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Toggle to mark the account as active.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the internal name under which the account appears in the overview.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>First name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the account holder’s first name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Last name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the account holder’s last name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bank subscriber ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the bank subscriber ID as submitted by the bank.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bank customer ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the bank customer ID as submitted by the bank.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bank</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a bank from the list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Create new bank</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to add a bank not listed in the list.<br>
<strong>Bank</strong>: Enter the name of the bank.<br>
<strong>URL</strong>: Enter the host URL as submitted by the bank.<br>
This option is only available when creating a new account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account version</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select from the drop-down list which account version is be used. Details are available at the bank.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EBICS version</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select from the drop-down list which EBICS version your bank is using. Details are available at the bank.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interim transaction report</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select from the drop-down list with which method the interim transaction reports are accessed. Details are available at the bank.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daily account statements</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select from the drop-down list with which method the daily account statements are accessed. Details are available at the bank.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IBAN / Account number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter IBANs resp. account numbers of linked accounts separated by commas. The CAMT method requires the IBAN, the MT method requires the account number.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="130">2.1. Carrying out EBICS account settings</h3>
<div class="paragraph">
<p>After creating the account, you can change the settings by accessing it from the account overview. With a set up account, several functions are available to you. These are described in the following. In addition, the log next to the account lists the events for the specific account.</p>
</div>
<div class="paragraph instruction">
<p>Editing the account</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Plugin » EBICS</strong>.</p>
</li>
<li>
<p>Click on <strong>Edit</strong> to open the account.<br>
→ The window <strong>Account settings</strong> is opened.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-ebics-settings">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Domain transfer</div>
<div class="paragraph">
<p>Save the basic settings again after carrying out a <a href="/en/business-decisions/system-administration/domains">domain transfer</a>. This updates the EBICS data.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-ebics-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. EBICS settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The settings for the selected account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transactions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manages the business transactions to be retrieved.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manual payment retrieval</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Retrieves all orders of a certain date in case of a technical error.<br>
<em>Note</em>: This function only retrieves the data already saved in the system; the bank is not contacted again.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Get status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Retrieves the current initialisation status from the EBICS tool.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Get order types</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Retrieves the order types available on the account. These are the order types currently available on the server. Attention: Using this function too often can cause errors.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Initialise account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The keys are generated and sent to the bank via INI. HIA is activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Initialisation letter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Creates a PDF initialisation letter from the generated keys and downloads the document. It has to be signed and sent to the bank for initialisation. The button is inactive until the keys are successfully created.<br>
<em>Note</em>: For the download of the initialisation letter to work properly, the pop-up blocker of your browser has to be deactivated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Finish initialisation (HPB)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Completes the initialisation with the bank.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Expert Mode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All the following buttons are exclusively intended for the case that the bank required a new execution. The buttons are only available after the activation of the toggle.<br>
<em>Important:</em> Using the expert mode can damage your account in a way it has to be reset by the bank. Use these functions only if demanded by your bank.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Create keys</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Creates keys for initialisation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>INI</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Initialises the EBICS account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HIA</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activates HIA.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HPB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activates HPB.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Contact your bank before making changes</div>
<div class="paragraph">
<p>Carry out changes only after consultation with your bank. For example, if you want to use the new CAMT formats, then ask your bank whether or not this format is supported and have the format activated. Then make any necessary changes to the account settings and interim transaction report as described here.</p>
</div>
<div class="paragraph">
<p>If an account was reset and your bank needs new keys, then we recommend that you set up the EBICS account again in plentymarkets. This way new keys will be generated.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="140">2.2. Initialising the account</h3>
<div class="paragraph">
<p>After you have entered your access data into plentymarkets, the system electronically registers at your bank. Secret key values are necessary for retrieval via EBICS. They are generated by the system. After these key values were created and the initial electronic registration was carried out, the values have to be printed out, signed and handed in at your bank. Only the participant saved in plentymarkets is authorised to sign this document. The bank will not activate the EBICS interface if the signature was not given by the participant saved in the system.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Browser pop-up blocker</div>
<div class="paragraph">
<p>For the download of the initialisation letter to work properly, the pop-up blocker of your browser has to be deactivated.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Initialising the account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Plugin » EBICS</strong>.</p>
</li>
<li>
<p>Click on the card of the account you want to initialise on <strong>Edit</strong>.<br>
→ The window <strong>Account settings</strong> is opened.</p>
</li>
<li>
<p>Click on <strong>Initialise account</strong>.<br>
→ The keys are generated, INI and HIA are executed.<br>
Once all processes are completed successfully, the button <strong>Create initialisation letter</strong> is activated.</p>
</li>
<li>
<p>Click on <strong>Create initialisation letter</strong>.<br>
→ The initialisation letter is downloaded as a pdf document.</p>
</li>
<li>
<p>Sign the initialisation letter and submit it to your bank.<br>
→ The bank checks the information and approves the account. You are informed once this process is complete.</p>
</li>
<li>
<p>Click on <strong>Finish initialisation (HPB)</strong>.<br>
→ The account is successfully initialised.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The electronically submitted values will be compared with the values on the printed document. Then, the EBICS interface will be activated. From this moment on, the transactions will be retrieved at the retrieval times listed below.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="150">3. Retrieval times of transactions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Maximum twice a day, your bank provides the day’s transactions in a data format. Currently, plentymarkets retrieves this data at 6am, 1pm and 11pm. Transaction data is available in the system approximately one hour after the retrieval. In addition, the bank provides interim transaction reports in data format several times a day. These can be retrieved and include the transactions of the current day.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="160">4. Retrieval times of interim transaction reports</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Since the times when interim transaction reports are made available differ from bank to bank, plentymarkets retrieves them from the banks, if they are available, every hour between 8am and 6pm. For EBICS postings that have unconfirmed interim transactions, the words <strong>interim transaction</strong> will be displayed in red. If the interim transaction has been confirmed, then the lettering will change from red to green. Additionally, the confirmed posting will be assigned to the corresponding order without having to book the payment again.  You have to activate the statement of account in order for interim transaction reports to be confirmed. Pay attention to the explanations given in <a href="#table-provision-bank-statements">Table 1</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="170">5. Managing transactions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Business transactions are all order types you conduct with your credit institute. The plugin installation does not imbed any transactions. To automatically import and assign the most common transactions, activate the following standard business transactions:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>005 – Direct Debit</p>
</li>
<li>
<p>006 – Other debit entry advice</p>
</li>
<li>
<p>020 - Transfer order</p>
</li>
<li>
<p>051 - Transfer credit note</p>
</li>
<li>
<p>052 – Recurring entry credit memo</p>
</li>
<li>
<p>063 – Remittance credit – EU standard remittance</p>
</li>
<li>
<p>065 – Remittance credit (cross-border remittance without reporting data)</p>
</li>
<li>
<p>070 – Cheque presentation</p>
</li>
<li>
<p>088 – Remittance credit with fixed value date</p>
</li>
<li>
<p>104 - SEPA Direct Debit (single entry – debit, B2B)</p>
</li>
<li>
<p>105 - SEPA Direct Debit (single entry – debit, Core)105 - SEPA Direct Debit (single entry – debit, B2B)</p>
</li>
<li>
<p>106 – SEPA Cards Clearing (single entry - debit)</p>
</li>
<li>
<p>107 – SEPA Direct Debit (single entry - debit, direct debit generated by debit card at the point of sale)</p>
</li>
<li>
<p>152 – SEPA Credit Transfer (credit, recurring instalment payment)</p>
</li>
<li>
<p>159 – SEPA Credit Transfer return (credit) for remittance that cannot be credited (reverse remittance)</p>
</li>
<li>
<p>166 - SEPA Credit Transfer (single entry – credit)</p>
</li>
<li>
<p>169 – SEPA Credit Transfer (single entry – credit, charity payment)</p>
</li>
<li>
<p>181 – SEPA Direct Debit (credit; recredit, Core)</p>
</li>
<li>
<p>184 – SEPA Direct Debit (credit; recredit, B2B)</p>
</li>
<li>
<p>201 – Payment order</p>
</li>
<li>
<p>202 – Cross-border payment</p>
</li>
<li>
<p>206 – Cross-border remittance</p>
</li>
<li>
<p>211 – Receipt of electronic payment</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Managing transactions:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Plugin » EBICS</strong>.</p>
</li>
<li>
<p>Click on the card of the account you want to manage on <strong>Edit</strong>.<br>
→ The window <strong>Account settings</strong> is opened.</p>
</li>
<li>
<p>Click on <strong>Transactions</strong>.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-ebics-settings-transactions">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-ebics-settings-transactions" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Managing settings for business transactions</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Code</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the code of a specific transaction and click <strong>Search</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the description of a specific transaction and click <strong>Search</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">As a standard, only active transactions are displayed.<br>
<strong>All</strong>: Displays a list of all transactions.<br>
<strong>Active only</strong>: Displays all active transactions.<br>
<strong>Inactive only</strong>: Displays all inactive transactions.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>All</strong>: Displays a list of all transactions.<br>
<strong>Credit</strong>: Displays all transactions of type Credit.<br>
<strong>Debit</strong>: Displays all transactions of type Debit.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="_loading_inactive_transactions">Loading inactive transactions</h3>
<div class="paragraph">
<p>If you receive payments with a transaction you have not activated, the EBICS plugin cannot process them. Add these transactions to your account.</p>
</div>
<div class="paragraph instruction">
<p>Loading inactive transactions:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Plugin » EBICS</strong>.</p>
</li>
<li>
<p>Click on the card of the account you want to initialise on <strong>Edit</strong>.<br>
→ The window <strong>Account settings</strong> is opened.</p>
</li>
<li>
<p>Click on <strong>Transactions</strong>.</p>
</li>
<li>
<p>Click on <strong>Load inactive transactions</strong>.<br>
→The search window is opened.</p>
</li>
<li>
<p>Enter the date for which you want to load the transactions.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ All payments for the selected date which do not fall under the activated transactions are displayed.</p>
</li>
<li>
<p>Select the transactions you want to activate.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The transactions are activated.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>To assign the payments, execute the Manual payment retrieval as described above. All future payments are automatically assigned.</p>
</div>
</div>
<div class="sect2">
<h3 id="190">5.1. Adding new transactions</h3>
<div class="paragraph">
<p>If you receive payments with a transaction code that has not yet been activated, it will automatically be added to the global list. From there, they can be activated as described above.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">6. Migrating the old integration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you are using the current EBICS integration, you can migrate your existing accounts to the new plugin. To do so, proceed as follows.
The migration button is displayed only if the old integration has accounts that are active and correctly initialised by the bank.</p>
</div>
<div class="paragraph instruction">
<p>Migrating data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Plugin » EBICS</strong>.</p>
</li>
<li>
<p>Click on <strong>Migration of existing EBICS accounts</strong>.<br>
→ All data of the existing integration are migrated to the plugin.<br>
→ The button is deactivated.<br>
→ All accounts are activated in the plugin.<br></p>
</li>
<li>
<p>Deactivate the accounts in the old integration.</p>
</li>
<li>
<p>Activate the transactions in the accounts in the plugin as described above.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="210">7. FAQ about the EBICS plugin</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this section, FAQ about configuring the EBICS plugin are compiled.</p>
</div>
<div class="paragraph">
<p>For general information about the development of the plugin, you can also read this German <a href="https://www.plentymarkets.eu/blog/plentyCommunity-Projekt-EBICS-Komplett-auf-den-Anwender-ausgerichtet/b-1941/" target="_blank" rel="noopener">Blog entry</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="sect2">
<h3 id="220">7.1. How do I use the EBICS plugin?</h3>
<div class="paragraph">
<p>To use the EBICS plugin, you first have download it from the <a href="https://marketplace.plentymarkets.com/en/ebics_5098" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. To set up EBICS you have to carry out a few basic settings in your plentymarkets system. These are explained <a href="#70">at the top of this manual page</a>.</p>
</div>
<div class="paragraph">
<p>You can find more information on adding and installing plugins in the <a href="/en/plugins">Plugins</a> section of the manual.</p>
</div>
</div>
<div class="sect2">
<h3 id="230">7.2. How do I open a new account?</h3>
<div class="paragraph">
<p>First, a new account is created with the data from the bank’s letter.
When you select a bank, verify that the URL as well as the host parameter are identical with the ones on the bank letter.</p>
</div>
<div class="paragraph">
<p>Keys are generated and the INI- as well as the HIA-Call are performed via the <strong>initialise account</strong> button on the <strong>Setup » Orders » Payment » Plugins » EBICS</strong> menu. After this, the INI-letter can be issued. This takes place in your browser via a direct pdf download. Make sure that pop-ups are not deactivated while doing this.<br>
The INI-letter has to be signed and send to the bank as fast as possible.
he initialisation is discarded after <strong>2 weeks</strong> if the INI-letter has failed to arrive.
The bank activates the account when everything is set up correctly.
Only click on the button <strong>conclude account-initialisation (HPB)</strong> in the account settings after clearance from the bank. After this, the account is successfully initialised.Find more information about initialisation in the section <a href="#140">Initialising the account</a>.</p>
</div>
<div class="paragraph">
<p>In order to have the payments imported, make sure that the <strong>business transactions</strong> are activated for the payment retrieval in the <strong>Setup » Orders » Payment » Plugins » EBICS</strong> menu. Find more information about transactions in the section <a href="#170">Managing transactions</a>.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The button <strong>initialise account</strong> should only be clicked once.
If you click several times, problems and consequential errors can occur.
You can track the individual steps in the log.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="250">7.3. Payments are not retrieved. What can I do?</h3>
<div class="paragraph">
<p>Check the following:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Is the EBICS account set up completely?
→ Check this with the help of the explanations on the <a href="#70">manual page</a>.</p>
</li>
<li>
<p>Are the access data correct? If the error message <strong>EBICS_AUTHENTICATION_FAILED</strong> is displayed, authentication failed because access data are wrong.</p>
</li>
<li>
<p>Do you work with external programmes that also retrieve payments? In this case, the payments do not get imported int your plentymrkets system because payments are not retrieved several times.</p>
</li>
<li>
<p>Check whether the interim transaction report and the daily account statements are using the correct formatting. Formatting can be adjusted in the <a href="#130">account settings</a>. The bank is providing the transaction file in the format CAMT or MT.</p>
</li>
<li>
<p>Are all required transaction active?
→ Proceed as follows to activate transactions.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Activating transactions:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select the active account the the <strong>Setup » Orders » Payment » Plugin » EBICS</strong> menu.</p>
</li>
<li>
<p>Select the menu entry <strong>business transactions</strong> in the account settings.</p>
</li>
<li>
<p>Activate the inactive business transactions.</p>
</li>
<li>
<p><strong>After the first payment retrieval</strong>: load inactive business transactions.</p>
</li>
<li>
<p>Choose the inactive business transaction via the drop-down list <strong>Show</strong> and activate as required.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/EBICS-geschaeftsvorfall.png" alt="EBICS geschaeftsvorfall">
</div>
<div class="title">Figure 1. Activating transactions</div>
</div>
</div>
<div class="sect2">
<h3 id="260">7.4. The bank provides the transaction file at X o’clock. Why does plentymarkets retrieve the file later?</h3>
<div class="paragraph">
<p>The retrieval takes place once a day via a cron. The cron inquires hourly whether there is a transaction file. The payment retrieval mostly takes place in the evening or at night. This is connected to the provision of the transaction files by the bank.<br>
The daily account statement can also be provided several times a day. The transaction file for the daily account statement and the interim transaction report are provided at different times.</p>
</div>
</div>
<div class="sect2">
<h3 id="270">7.5. What do the fields daily account statement and interim transaction report mean?</h3>
<div class="ulist">
<ul>
<li>
<p>Daily account statement = Confirmed booking which is mostly only provided once a day.<br></p>
</li>
<li>
<p>Interim transaction report = Authorised booking which is provided several times a day and reserves the incoming payments.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The interim transaction report is overridden by the confirmed booking.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The daily account statement and the interim transaction report should always have the same formatting. Otherwise, errors in the allocation of payments might occur.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="280">7.6. What is the difference between CAMT and MT?</h3>
<div class="paragraph">
<p>CAMT and MT are data transaction formats that are used in the transaction files. Only one format is used in the transaction file itself.</p>
</div>
<table id="table-comparison-camt-mt" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. The formats CAMT and MT in comparison</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">CAMT</th>
<th class="tableblock halign-left valign-top">MT</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Cash management</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Message type</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IBAN field in account settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">IBAN</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Account number</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaction files</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Uniform format of SEPA, supersedes the SWIFT-format</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">SWIFT standard format</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can get more information about these formats in the following German <a href="https://forum.plentymarkets.com/t/vormerkposten-camt052-oder-mt942-bei-postbank-taeglich-abruf-um-13-uhr-und-17-uhr-moeglich/120442/2" target="_blank" rel="noopener">forum’s entry</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</div>
</main>