<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Requirement: Registering with Mollie</span></a></li>
<li><a href="#20"><span>2.</span><span> Completing the assistant</span></a></li>
<li><a href="#30"><span>3.</span><span> Linking template containers</span></a></li>
<li><a href="#50"><span>4.</span><span> Customer classes and shipping profiles</span></a></li>
<li><a href="#60"><span>5.</span><span> Setting up event procedures</span></a>
<ul class="sectlevel2">
<li><a href="#70"><span>5.1.</span><span> Registering shipment with Mollie</span></a></li>
<li><a href="#80"><span>5.2.</span><span> Registering cancellations with Mollie</span></a></li>
<li><a href="#90"><span>5.3.</span><span> Registering refunds with Mollie</span></a></li>
</ul>
</li>
<li><a href="#100"><span>6.</span><span> Editing text elements</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Mollie</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With the Mollie plugin, you integrate the Mollie payment methods in your online shop and make them available to your customers. To do so, download the Mollie plugin from the <a href="https://marketplace.plentymarkets.com/en/mollie_6272" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Setup of the payment method is done with an assistant. You also have to carry out a few basic settings in your plentymarkets system so that the payment method is activated in your system.<br>
The explanations in this section apply after adding the plugin. You can find more information on adding and installing plugins in the <a href="/en/plugins">Plugins</a> section of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Requirement: Registering with Mollie</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To use Mollie, you need a Mollie account and the login data. Without these, the plugin cannot be set up and is not usable. If you don’t have a Mollie account yet, <a href="https://www.mollie.com/dashboard/signup/5543454?lang=de" target="_blank" rel="noopener">register first</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> .</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Completing the assistant</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::../../_textblocks/instructions/completing-assistant-payment-method.adoc[]</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Completing the assistant again</div>
<div class="paragraph">
<p>In some cases, you have to complete the assistant again. If you deactivate a Mollie payment method, which is activated in your plentymarkets system, directly via the dashboard in your Mollie account after you have already completed the assistant, you have to complete it again. If you run it again, the settings will match and cannot lead to a misconfiguration.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Single-click payments</strong></div>
<div class="content">
<div class="paragraph">
<p>With the function Single-click payments, your customers can save their credit card details directly with Mollie by creating a Mollie customer account. This way, they don’t have to enter their payment details every time they buy something and payment processing is faster. If you want to make this function available to your customers, you have to activate it in the assistant.<br>
If you have activated Single-click payments, you can see which of your customers use this function. In this case, a unique ID assigned by Mollie is saved in the corresponding contact data set in plentymarkets. In addition, the customers who use Single-click payments are also listed in your Mollie account.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Only when using a payment method for several clients: Complete assistant several times</strong></div>
<div class="content">
<div class="paragraph">
<p>Depending on the configuration of your plugin sets and clients, the Mollie assistant has to be completed more than once. Only this ensures that the {payment-method-name} payment methods are configured correctly and all functions such as event procedures and crons run smoothly in the background.</p>
</div>
<div class="paragraph">
<p>The following tables show you which assistants you have to complete in which plugin set. The upper row displays the configuration of the plugin sets and clients. The second row lists correspondingly, in which set the Mollie assistant has to be completed for which client.</p>
</div>
<div class="paragraph">
<p><strong><em>Important</em></strong>: The examples are not about either or. The assistant has to be completed several times for multi-clients because it always also has to be completed in the plugin set which is linked with the main client.</p>
</div>
<div class="paragraph">
<p><strong>Example 1:</strong></p>
</div>
<table id="multi-client-and-assistants-example-one" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Your plugin sets and clients:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 1 is linked with the main client</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 2 is linked with multi-client 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 3 is linked with multi-client 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Complete the assistant:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the Mollie assistant in this plugin set for all the clients. This means for the main client, for multi-client 1 and for multi-client 2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the Mollie assistant in this plugin set for multi-client 1.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the Mollie assistant in this plugin set for multi-client 2.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Example 2:</strong></p>
</div>
<table id="multi-client-and-assistants-example-two" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Your plugin sets and clients:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 1 is linked with the main client</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 2 is linked with multi-client 1 and multi-client 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Complete the assistant:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the Mollie assistant in this plugin set for all the clients. This means for the main client, for multi-client 1 and for multi-client 2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the Mollie assistant in this plugin set for multi-client 1 and for multi-client 2.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Example 3:</strong></p>
</div>
<table id="multi-client-and-assistants-example-three" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Your plugin sets and clients:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 1 is linked with the main client and to multi-client 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 2 is linked with multi-client 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Complete the assistant:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the Mollie assistant in this plugin set for all the clients. This means for the main client, for multi-client 1 and for multi-client 2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the Mollie assistant in this plugin set for multi-client 2.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Example 4:</strong></p>
</div>
<table id="multi-client-and-assistants-example-four" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Your plugin sets and clients:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 1 is linked with the main client, with multi-client 1 and with multi-client 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Complete the assistant:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the Mollie assistant in this plugin set for all the clients. This means for the main client, for multi-client 1 and for multi-client 2.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Linking template containers</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Proceed as follows to set up container links:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open the plugin set you want to edit.</p>
</li>
<li>
<p>Open the plugin <strong>Mollie</strong>.</p>
</li>
<li>
<p>Open the <strong>Container links</strong>.</p>
</li>
<li>
<p>Select one or more containers in which the previously selected content is to be displayed.<br>
→ Pay attention to the information provided in <a href="#table-mollie-template-container">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The content is linked to the containers.</p>
</li>
</ol>
</div>
<table id="table-mollie-template-container" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Linking template containers</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Content</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment button (Mollie)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The containers <strong>Order confirmation: Additional payment information</strong> and <strong>My account: Additional payment information</strong> have to be linked to display the payment Mollie payment button in the checkout.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">4. Customer classes and shipping profiles</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::../../_textblocks/instructions/customer-class-and-shipping-profile.adoc[]</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">5. Setting up event procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To send all the necessary data to Mollie, 3 separate event procedures are needed. The events are the shipping of the order items, cancellations and refunds. Mollie needs to be informed if these are initiated. Proceed as follows to set up the event procedures.</p>
</div>
<div class="sect2">
<h3 id="70">5.1. Registering shipment with Mollie</h3>
<div class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::../../_textblocks/instructions/EA.adoc[]</p>
</div>
<table id="table-procedure-mollie-shipment" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Event procedure “Mollie | Register shipment”</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the event to trigger a shipment.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order &gt; Payment method</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin: Mollie:*</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin &gt; Mollie:</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Register shipment</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>This event procedure can also be used for delivery orders. The delivery order is then registered with Mollie as a partial shipment.</p>
</div>
</div>
<div class="sect2">
<h3 id="80">5.2. Registering cancellations with Mollie</h3>
<div class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::../../_textblocks/instructions/EA.adoc[]</p>
</div>
<table id="table-procedure-mollie-cancellation" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Event procedure: *Mollie | Register cancellation”</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the event to trigger a shipment.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order &gt; Payment method</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin: Mollie:*</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin &gt; Mollie</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Register cancellation</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Note</em> that an order cannot be cancelled as long as a payment is pending. The expiry times for the different payment methods are determined by Mollie and can be found <a href="https://docs.mollie.com/payments/status-changes#expiry-times-per-payment-method" target="_blank" rel="noopener">on this page</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
<div class="sect2">
<h3 id="90">5.3. Registering refunds with Mollie</h3>
<div class="paragraph">
<p>If you create a credit note order for an order which was paid with Mollie, Mollie has to be informed about this. Make sure that the order items which are to be refunded are contained in the credit note order. You can find more information about credit note orders in general in the chapter <a href="/en/orders/managing-orders#500">Working with credit note orders</a> of the manual.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">E-Mail-Versand</div>
<div class="paragraph">
<p>We recommend to connect the registration of a refund with the status change of an order as an event.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::../../_textblocks/instructions/EA.adoc[]</p>
</div>
<table id="table-procedure-mollie-refunds" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Event procedure “Mollie | Register refund”</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the event to trigger a shipment.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order &gt; Payment method</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin: Mollie:*</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin &gt; Mollie</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Register refund</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Following the procedure <strong>Mollie | Register refund</strong>, two additional events are available to illustrate the further process of the order: <strong>Mollie refund failed</strong> and <strong>Mollie refund successful</strong>.   You can optionally set up event procedures with these events in the same way as described above.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">6. Editing text elements</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can edit texts of the plugin in the <strong>CMS » Multilingualism</strong> menu. The texts can be adapted into all available system languages. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Adapting language files:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Multilingualism</strong>.</p>
</li>
<li>
<p>On the left side, select the <strong>Source language</strong> from the drop-down list.</p>
</li>
<li>
<p>On the right side, select the <strong>Target language</strong> from the drop-down list.</p>
</li>
<li>
<p>Expand the sections <strong>messages</strong> and <strong>payment methods</strong> in the <strong>Mollie</strong> area.</p>
</li>
<li>
<p>Enter the text for the individual text elements in the area of the target language.</p>
</li>
<li>
<p>Save (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Find more information in how to edit online shop texts on the manual page <a href="/en/online-store/setting-up-ceres#231">Editing online store texts</a>.</p>
</div>
</div>
</div>
</main>