<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Requirement: Opening a merchant account</span></a></li>
<li><a href="#20"><span>2.</span><span> Setting up a payment method</span></a></li>
<li><a href="#40"><span>3.</span><span> Customer classes and shipping profiles</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Online bank transfer</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With the Online bank transfer plugin, you integrate the Klarna payment method Online bank transfer (Klarna Sofort) in your online shop and make it available to your customers. To do so, download the Online bank transfer plugin from the <a href="https://marketplace.plentymarkets.com/en/sofort_5050" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. You also have to carry out a few basic settings in your plentymarkets system so that the payment methods are activated in your system.<br>
The explanations in this section apply after adding the plugin. You can find more information on adding and installing plugins in the <a href="/en/plugins">Plugins</a> section of the manual.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Requirement</div>
<div class="paragraph">
<p>The sofort-Plugin has been developed for use with plentyShop (Ceres) and only works with its structure or other template plugins.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Requirement: Opening a merchant account</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To work with Sofort, you first need a <a href="https://www.sofort.com/payment/users/register" target="_blank" rel="noopener">merchant account</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. You get information as well as login details when you open the account. Without these, the plugin cannot be set up and is not usable.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Setting up a payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before you can use the Online bank transfer plugin you first have to link your merchant account with your plentymarkets system.</p>
</div>
<div class="paragraph instruction">
<p>Linking the merchant account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview » [select Plugin set]</strong>.</p>
</li>
<li>
<p>Open the plugin <strong>Online bank transfer</strong>.</p>
</li>
<li>
<p>In the plugin, go to the <strong>Configuration » Base settings</strong> menu.<br>
→ Note the explanations in <a href="#table-plugin-settings">Table 1</a>.</p>
</li>
<li>
<p>Enter the Configuration key.<br>
→ You get this key during the registration process.</p>
</li>
<li>
<p>Carry out further settings in the <strong>Extended settings</strong> area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-plugin-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Linking template containers</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Basic settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate the payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>No</strong> is selected as default.<br>
To activate the payment method, select <strong>Yes</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Configuration key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You get the configuration key during the <a href="https://www.sofort.com/payment/users/register" target="_blank" rel="noopener">configuration process</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.
The payment method is not activated without a correct input of the key.<br>
Example for the structure of a configuration key: {Customer number}:{Project ID}:{API key}</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Set order status directly to 4/5</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option if orders with the payment method <strong>Online bank transfer</strong> should automatically get the order status 4 or 5 after payment.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Advanced settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reason 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets up the reason for the bank transfer (max. 27 characters, special characters are be replaced/removed).  The following placeholders are allowed:<br>
transaction_id = Transaction ID<br>
customer_name = Name of the customer<br>
customer_email = The email address of the customer<br>
Standard: transaction_id</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reason 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sets up the reason for the bank transfer (max. 27 characters, special characters are be replaced/removed).  Additionally, the following placeholders are possible:<br>
customer_id = Customer ID<br>
customer_company = Company name of the customer<br>
Default: –</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="40">3. Customer classes and shipping profiles</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Make sure that the payment method is allowed in the <a href="/en/crm/managing-contacts#15">customer classes</a> and is not deactivated in the <a href="/en/fulfilment/preparing-the-shipment#1800">shipping profiles</a>. For this, you should consider first for which customer classes and shipping profiles the payment method should be allowed. This can be set individually.</p>
</div>
<div class="paragraph instruction">
<p>Permitting the payment method in a customer class:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » CRM » Classes</strong>.</p>
</li>
<li>
<p>Open the customer class for which you want to permit the payment method.</p>
</li>
<li>
<p>Select the payment method from the list <strong>Permitted payment methods</strong> by clicking on it.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If needed, repeat these steps for other customer classes as well.</p>
</div>
<div class="paragraph instruction">
<p>Checking payment method in existing shipping profiles:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Shipping » Settings</strong>.</p>
</li>
<li>
<p>Change into the <strong>Shipping profiles</strong> tab.</p>
</li>
<li>
<p>Open the shipping profile in which the payment method should be allowed.</p>
</li>
<li>
<p>Check whether the payment method is selected in the <strong>Blocked payment methods</strong> area.</p>
</li>
<li>
<p>Deselect the payment method if you want to allow it for this shipping profile.</p>
</li>
<li>
<p>Save (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If needed, repeat these steps for shipping profiles as well.</p>
</div>
</div>
</div>
</main>