<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Requirement: Opening a PayPal business account</span></a></li>
<li><a href="#20"><span>2.</span><span> Completing the assistant</span></a></li>
<li><a href="#30"><span>3.</span><span> ShopBuilder widgets</span></a></li>
<li><a href="#40"><span>4.</span><span> Linking template containers</span></a>
<ul class="sectlevel2">
<li><a href="#50"><span>4.1.</span><span> Additional information about the PayPal PLUS Wall</span></a></li>
</ul>
</li>
<li><a href="#60"><span>5.</span><span> Activating webhook notifications</span></a></li>
<li><a href="#80"><span>6.</span><span> Customer classes and shipping profiles</span></a></li>
<li><a href="#90"><span>7.</span><span> Automatically refunding PayPal payments</span></a></li>
<li><a href="#100"><span>8.</span><span> Editing text elements</span></a></li>
<li><a href="#110"><span>9.</span><span> FAQ about the PayPal plugin</span></a>
<ul class="sectlevel2">
<li><a href="#120"><span>9.1.</span><span> Configuring PayPal using the assistant</span></a></li>
<li><a href="#130"><span>9.2.</span><span> First aid: Problems with linking your PayPal account</span></a>
<ul class="sectlevel3">
<li><a href="#140"><span>9.2.1.</span><span> What am I to do if I am not redirected to plentymarkets after I activated my PayPal account?</span></a></li>
<li><a href="#150"><span>9.2.2.</span><span> What am I to do if I am asked to sign up for a business account again?</span></a></li>
</ul>
</li>
<li><a href="#160"><span>9.3.</span><span> Problems with the PayPal PLUS Wall</span></a>
<ul class="sectlevel3">
<li><a href="#170"><span>9.3.1.</span><span> What do I do if the PayPal PLUS Wall is not displayed?</span></a></li>
<li><a href="#180"><span>9.3.2.</span><span> Why are not all payment methods displayed in the PayPal PLUS Wall?</span></a></li>
</ul>
</li>
<li><a href="#190"><span>9.4.</span><span> Event procedures and the old PayPal integration</span></a></li>
</ul>
</li>
<li><a href="#300"><span>10.</span><span> PayPal Dispute</span></a>
<ul class="sectlevel2">
<li><a href="#320"><span>10.1.</span><span> Requirements and installation</span></a></li>
<li><a href="#330"><span>10.2.</span><span> Using PayPal dispute in plentymarkets</span></a>
<ul class="sectlevel3">
<li><a href="#340"><span>10.2.1.</span><span> Inspecting PayPal dispute messages</span></a></li>
<li><a href="#350"><span>10.2.2.</span><span> Writing a message to your customer</span></a></li>
<li><a href="#360"><span>10.2.3.</span><span> Using dispute resolution options</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>PayPal</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With the PayPal plugin, you integrate the PayPal payment methods in your online shop and make them available to your customers. To do so, download the PayPal plugin from the <a href="https://marketplace.plentymarkets.com/en/payone_5434" target="_blank" rel="noopener">plentyMarketplace</a>. Setup of the payment method is done with an assistant. You also have to carry out a few basic settings in your plentymarkets system so that the payment methods are activated in your system.<br>
The explanations in this section apply after adding the plugin. You can find more information on adding and installing plugins in the <a href="/en/plugins# Plugins">/en/plugins</a> section of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Requirement: Opening a PayPal business account</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To work with PayPal, you first need a PayPal business account. You get information as well as login details when you open the account. Without these, the plugin cannot be set up and is not usable. If you don’t have one yet, open a <a href="https://www.paypal.com/de/business" target="_blank" rel="noopener">PayPal business acount</a> first.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Completing the assistant</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Activating the plugin set in the main client</div>
<div class="paragraph">
<p>For account linking and the functionality of event procedures, the PayPal plugin has to be activated in the plugin set used for the main client. Since there is a dependency on the IO plugin, IO must be active for the deployment process (saving the plugin set).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>After you have installed the plugin the corresponding assistant is available. Proceed as follows to complete the assistant and thus set up the payment method.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Plugins » [select Plugin set]</strong>.</p>
</li>
<li>
<p>Select the assistant <strong>PayPal</strong>.</p>
</li>
<li>
<p>Complete the assistant.<br></p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The payment method PayPal is available in your online shop.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Information about address validation</strong></div>
<div class="content">
<div class="paragraph">
<p>The PayPal assistant contains the option <strong>Address validation</strong> in the section <strong>Order processing</strong>. This validation is <em>automatically activated</em>. You have to select to deactivate the validation. You can either deactivate the validation for selected or for all countries. To do so, check (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the countries for which addresses are <em>not to be validated</em>.<br>
If the payment should also be executed with an incomplete address you should deactivate the address validation.</p>
</div>
<div class="paragraph">
<p>The default validation is a PayPal requirement. The validation checks if there is a complete address. It is not validated whether this is an actually existing address. The payment is only executed successfully if there is a complete address.<br>
The PayPal address validation is important for the coverage when shipping goods. Moreover, PayPal offers buyer and customer protection, which is especially important when orders are processed with PayPal Express. In this case, the address is transmitted by PayPal itself.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Only when using a payment method for several clients: Complete assistant several times</strong></div>
<div class="content">
<div class="paragraph">
<p>Depending on the configuration of your plugin sets and clients, the PayPal assistant has to be completed more than once. Only this ensures that the PayPal payment methods are configured correctly and all functions such as event procedures and crons run smoothly in the background.</p>
</div>
<div class="paragraph">
<p>The following tables show you which assistants you have to complete in which plugin set. The upper row displays the configuration of the plugin sets and clients. The second row lists correspondingly, in which set the PayPal assistant has to be completed for which client.</p>
</div>
<div class="paragraph">
<p><strong><em>Important</em></strong>: The examples are not about either or. The assistant has to be completed several times for multi-clients because it always also has to be completed in the plugin set which is linked with the main client.</p>
</div>
<div class="paragraph">
<p><strong>Example 1:</strong></p>
</div>
<table id="multi-client-and-assistants-example-one" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Your plugin sets and clients:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 1 is linked with the main client</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 2 is linked with multi-client 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 3 is linked with multi-client 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Complete the assistant:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the PayPal assistant in this plugin set for all the clients. This means for the main client, for multi-client 1 and for multi-client 2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the PayPal assistant in this plugin set for multi-client 1.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the PayPal assistant in this plugin set for multi-client 2.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Example 2:</strong></p>
</div>
<table id="multi-client-and-assistants-example-two" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Your plugin sets and clients:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 1 is linked with the main client</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 2 is linked with multi-client 1 and multi-client 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Complete the assistant:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the PayPal assistant in this plugin set for all the clients. This means for the main client, for multi-client 1 and for multi-client 2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the PayPal assistant in this plugin set for multi-client 1 and for multi-client 2.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Example 3:</strong></p>
</div>
<table id="multi-client-and-assistants-example-three" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Your plugin sets and clients:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 1 is linked with the main client and to multi-client 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 2 is linked with multi-client 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Complete the assistant:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the PayPal assistant in this plugin set for all the clients. This means for the main client, for multi-client 1 and for multi-client 2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the PayPal assistant in this plugin set for multi-client 2.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Example 4:</strong></p>
</div>
<table id="multi-client-and-assistants-example-four" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Your plugin sets and clients:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 1 is linked with the main client, with multi-client 1 and with multi-client 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Complete the assistant:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the PayPal assistant in this plugin set for all the clients. This means for the main client, for multi-client 1 and for multi-client 2.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. ShopBuilder widgets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The PayPal Express Checkout Button and the Banners for PayPal Installment are available as widgets in the ShopBuilder.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Linking template containers</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Information about linking containers</div>
<div class="paragraph">
<p>The containers needed by default are automatically linked during setup with the PayPal assistant. Up from version 5.4.0 on, required as well as optional containers are linked in the same plugin set in which the assistant is completed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You have different options how to integrate PayPal PLUS, the PayPal Express Checkout button and the Banners for PayPal Installments in your online shop. To do this, the plentymarkets system offers containers at relevant places which can be filled with content to meet your needs.</p>
</div>
<div class="paragraph instruction">
<p>Linking template containers:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open the plugin set you want to edit.</p>
</li>
<li>
<p>Open the plugin <strong>PayPal</strong>.</p>
</li>
<li>
<p>Click on <strong>Container links</strong>.</p>
</li>
<li>
<p>From the drop-down list, select the data provider you want to link.</p>
</li>
<li>
<p>Select the container you want to link to the data provider. Pay attention to the explanations given in <a href="#table-paypal-template-container">Table 1</a>.</p>
</li>
<li>
<p>Repeat steps 5 and 6 for all data providers you want to link to containers.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-paypal-template-container" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Linking template containers</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Content</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>General</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Checkout Scripts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The container <strong>Checkout: After scripts loaded</strong> has to be linked.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Confirmation Scripts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The container <strong>Script loader: After scripts loaded</strong> has to be linked.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Express Button Scripts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The container <strong>Script loader: After scripts loaded</strong> has to be linked.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Styles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The container <strong>Template: style</strong> has to be linked to activate the styles required by PayPal and to offer optimal functionality.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Express Checkout button</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optional: The PayPal Express Checkout button can be individually placed, e.g. next to the shopping cart.  By clicking on this button, customers can purchase the content of the shopping cart immediately without going through the regular checkout. Instead, the customer is immediately forwarded to the PayPal payment process. The shipping address is provided by PayPal.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Banners for PayPal Installments</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optional: The Banners for PayPal Installments can be placed in many different ways to promote this payment method. You can choose between a graphic banner (PayPal Installment Graphical Promotion Banner) and a text banner (PayPal Installment Text Promotion Banner). A separate integration is not necessary. In the assistant, the banners can automatically be linked to an item page, the cart or the checkout. Additionally, the banners are also available to you as widgets in the ShopBuilder. Thus, they can be placed where they are needed, e.g. on landing pages, item pages, the shopping cart or the checkout.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Reinitialize Payment / PayPal PLUS Reinitialize Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A link with the container <strong>My account: Additional payment information</strong> allows the customer to reinitialise the payment in the <strong>My account</strong> area after an unsuccessful transaction. For PayPal, the <strong>Order now</strong> button is displayed, for PayPal PLUS, the Wall is displayed.<br>
A link with the container <strong>Order confirmation: Additional payment information</strong> allows the customer to reinitialise the payment in the order confirmation area after an unsuccessful transaction. For PayPal, the <strong>Order now</strong> button is displayed, for PayPal PLUS, the Wall is displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>PayPal PLUS</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-paypal-plus-wall">PayPal PLUS Wall</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A link with the container <strong>Checkout: Override payment method</strong> replaces all previous payment methods with the PayPal PLUS Wall.  Any payment methods offered in addition to those included in the Wall – PayPal, Debit and Credit card – are displayed below these four inside the wall in the order of their priority.<br>
In the assistant, different options how to display the PayPal PLUS Wall are available: <strong>Wall replaces the payment list</strong>, <strong>Wall within the payment list</strong> or <strong>Wall in an overlay during the purchase</strong>.<br>
Also pay attention to <a href="/en/payment/payment-plugins/paypal#50">Additional information about the PayPal PLUS Wall</a>. Additional information as well as restrictions are described there.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="50">4.1. Additional information about the PayPal PLUS Wall</h3>
<div class="paragraph">
<p>Apart from the PayPal PLUS payment methods, 10 further payment methods can be shown in the checkout within the PayPal PLUS Wall.<br>
For Germany, for example, the payment methods Debit and Credit card are possible. With this, a maximum of 14 payment methods can be shown in the checkout.
But if, for example, only PayPal and Credit card are allowed for a certain delivery country, the maximum number is restricted to 12.</p>
</div>
<div class="paragraph">
<p>Moreover, PayPal PLUS limits the number of characters for the names of the other payment methods. The maximum number of characters is limited to 25.  If a name has more than 25 characters, it is truncated. <br>
Note that special characters, e.g. an umlaut, reduces the number of characters, because they are read out in HTML-style.</p>
</div>
<div class="paragraph">
<p>PayPal states the following:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>max. image size of 100 x 25 px<br></p>
</li>
<li>
<p>max. 25 characters for <strong>methodName</strong><br></p>
</li>
<li>
<p>max. 120 characters for <strong>description</strong></p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">5. Activating webhook notifications</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Information about webhooks</div>
<div class="paragraph">
<p>The webhooks needed by default are automatically activated during setup with the PayPal assistant. You can carry out individual settings for webhooks in the <strong>Additional settings</strong> step of the assistant.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Your plentymarkets system and the PayPal interface communicate with the help of webhooks. For certain events, such as an incoming payment, PayPal sends a webhook notification to plentymarkets. plentymarkets automatically responds to these notifications.</p>
</div>
<table id="table-activating-webhook-notifications" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Webhook notifications</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Webhook</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PAYMENT.SALE.COMPLETED</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A payment has been completed. When PayPal sends this notification, a pending payment is marked as paid in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PAYMENT.SALE.DENIED</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A payment has been denied. When PayPal sends this notification, a pending payment is marked as unpaid in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PAYMENT.SALE.PENDING</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">There is a pending payment. When PayPal sends this notification, a pending payment is created in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PAYMENT.SALE.REFUNDED</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A payment has been partially or completely refunded by the seller. When PayPal sends this notification, a credit note for the payment is created in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PAYMENT.SALE.REVERSED</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A payment has been reversed by PayPal.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="80">6. Customer classes and shipping profiles</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Make sure the payment method is allowed in the <a href="/en/crm/managing-contacts#15">customer classes</a> and is not deactivated in the <a href="/en/fulfilment/preparing-the-shipment#1800">shipping profiles</a>. For this, you should consider first for which customer classes and shipping profiles the payment method should be allowed. This can be set individually.</p>
</div>
<div class="paragraph instruction">
<p>Permitting the payment method in a customer class:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » CRM » Customer classes</strong>.</p>
</li>
<li>
<p>Open the customer class for which you want to permit the payment method.</p>
</li>
<li>
<p>Select the payment method from the list <strong>Permitted payment methods</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>If needed, repeat these steps for other customer classes as well.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Checking payment method in existing shipping profiles:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Shipping » Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Shipping profiles</strong> tab.</p>
</li>
<li>
<p>Open the shipping profile in which the payment method should be allowed.</p>
</li>
<li>
<p>Check whether the payment method is selected in the <strong>Blocked payment methods</strong> area.</p>
</li>
<li>
<p>Deselect the payment method if you want to allow it for this shipping profile.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>If needed, repeat these steps for shipping profiles as well.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="90">7. Automatically refunding PayPal payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an event procedure to automatically refund a PayPal payment.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#table-procedure-paypal-refund">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the additional settings according to <a href="#table-procedure-paypal-refund">Table 3</a>.</p>
</li>
<li>
<p>Select the setting <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-procedure-paypal-refund" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Event procedure for automatically refunding PayPal payments</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the event that should trigger a refund.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin: PayPal</strong><br>
<strong>Plugin: PayPalExpress</strong><br>
<strong>PayPal: PayPalPlus</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Refunding a PayPal payment</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Following the procedure <strong>Refunding a PayPal payment</strong>, two additional event procedures are available to follow the further process of the order: <strong>PayPal refund successful</strong> and <strong>PayPal refund failed</strong>. You can optionally set up event procedures with these events in the same way as described above.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">8. Editing text elements</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can edit texts of the plugin in the <strong>CMS » Multilingualism</strong> menu. The texts can be adapted into all available system languages. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Adapting language files:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Multilingualism</strong>.</p>
</li>
<li>
<p>On the left side, select the <strong>Source language</strong> from the drop-down list.</p>
</li>
<li>
<p>On the right side, select the <strong>Target language</strong> from the drop-down list.</p>
</li>
<li>
<p>Expand the various sections in the <strong>PayPal</strong> area.</p>
</li>
<li>
<p>Enter the text for the individual text elements in the area of the target language.</p>
</li>
<li>
<p>Save (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Deploy the plugin set again to apply these changes.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>By selecting <strong>German</strong> as the <strong>Target language</strong>, you can adapt the German labels for your online shop. The selected labels are then also applied in the back end, only the addition <em>Plugin: PayPal</em> remains. This way, it remains traceable where a payment method comes from. Reload the back end to see the changes.</p>
</div>
<div class="paragraph">
<p>Find more information on how to edit online shop texts on the manual page <a href="/en/online-store/setting-up-ceres#231">Editing online store texts</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="110">9. FAQ about the PayPal plugin</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this section, FAQ about linking the PayPal with plentymarkets are compiled. Additionally, you can also make use of our <a href="https://forum.plentymarkets.com/c/payment" target="_blank" rel="noopener">Forum</a>. You can either look for information in already existing threads or open a new thread and ask our supporters.</p>
</div>
<div class="sect2">
<h3 id="120">9.1. Configuring PayPal using the assistant</h3>
<div class="paragraph">
<p>When configuring PayPal with the assistant, problems in the online shop may occur under certain circumstances. Updating the PayPal plugin often helps with this:</p>
</div>
<div class="paragraph">
<p>I want to update PayPal. How should I proceed?
    If you want to update the PayPal plugin in a copy of your plugin set, you have to change the back end plugin set that is linked to your user account. For further information on how to change your back end plugin set, refer to the page <a href="/en/plugins/installing-added-plugins">Installing added plugins</a>. After reloading your back end, you can complete the assistant.</p>
</div>
</div>
<div class="sect2">
<h3 id="130">9.2. First aid: Problems with linking your PayPal account</h3>
<div class="paragraph">
<p>If you have problems with linking your PayPal account with plentymarkets, it is advisable to use a different <a href="/en/welcome/quick-start/quick-start-system-requirements#100">browser,</a> just to eliminate this as a source of errors. Moreover, you should make sure that there are no basic problems with your PayPal account itself. Possibly, the email address was not confirmed yet, PayPal PLUS was not activated yet or you did not set a password yet. More possible sources of error and their solutions are described below.</p>
</div>
<div class="sect3">
<h4 id="140">9.2.1. What am I to do if I am not redirected to plentymarkets after I activated my PayPal account?</h4>
<div class="paragraph">
<p>First check whether the  <a href="https://marketplace.plentymarkets.com/paypal_4690">latest PayPal version</a> is installed and deployed in your plentymarkets system. How to update plugins is explained in the manual chapter <a href="/en/plugins/updating-installed-plugins">Updating installed plugins</a>.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Activation and preview of the plugin</div>
<div class="paragraph">
<p>Make sure that the PayPal plugin is already activated and deployed in the plugin set of the main client when you are linking your account with plentymarkets. If this is not the case, malfunctions can occur.<br>
Attention: The plugin-set preview must <em>not</em> be open while the PayPal account is linked with plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PP-Plugin_Fehler_1.png" alt="Plugin Fehlermeldung 1">
</div>
<div class="title">Figure 1. Redirection to plentymarkets is not possible</div>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Solution 1</strong>: Change the browser and try again. plentymarkets supports the browsers Google Chrome and Mozilla Firefox.</p>
</li>
<li>
<p><strong>Solution 2</strong>: There is still an active API right in the PayPal account. Remove the rights for plentymarkets. The API authorisation can be found on the following website: <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_profile-api-list-auths" class="bare">https://www.paypal.com/cgi-bin/webscr?cmd=_profile-api-list-auths</a>.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">NOTE</div>
<div class="paragraph">
<p>With removing the API rights, all linked PayPal accounts are disconnected from your plentymarkets system. In case a PayPal account is linked with the market <strong>eBay</strong>, this account has to be linked with the PayPal interface again.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="150">9.2.2. What am I to do if I am asked to sign up for a business account again?</h4>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/payment/assets/paypal-business-account.png" alt="Business account">
</div>
<div class="title">Figure 2. New PayPal business account</div>
</div>
<div class="paragraph">
<p>If this window opens, check whether the data in the <strong>Account</strong> step were correctly inserted.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/payment/assets/paypal-assistant-account-en.png" alt="Account setup">
</div>
<div class="title">Figure 3. Account setup in assistant</div>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Adding an account</strong>: Was the right option selected? Add new account or use existing account.</p>
</li>
<li>
<p><strong>New account</strong>: Check whether the email address of the PayPal business account has been entered correctly.</p>
</li>
<li>
<p><strong>Activate PayPal PLUS</strong>: Only activate this option if you also signed up for PayPal PLUS with this account.</p>
</li>
<li>
<p><strong>Use PayPal test environment</strong>: If this option is activated, you don’t use PayPal live but only in a test mode. To actually use PayPal, do not activate this option.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect2">
<h3 id="160">9.3. Problems with the PayPal PLUS Wall</h3>
<div class="paragraph">
<p>If the PayPal PLUS Wall is not or only incorrectly displayed, the reason often has to do with missing access or restrictions of the Wall itself. Also pay attention to <a href="/en/payment/payment-plugins/paypal#50">Additional information about the PayPal PLUS Wall</a>.</p>
</div>
<div class="sect3">
<h4 id="170">9.3.1. What do I do if the PayPal PLUS Wall is not displayed?</h4>
<div class="paragraph">
<p>If the PayPal PLUS Wall is not displayed, check the following:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Make sure that you are allowed by PayPal to use PayPal PLUS.</p>
</li>
<li>
<p>Check the settings in the PayPal assistant.<br>
→ PayPal PLUS has to be activated in <strong>Account</strong> step of the assistant.</p>
</li>
<li>
<p>Check the <a href="/en/payment/payment-plugins/paypal#intable-paypal-plus-wall">container links</a>. They should be created automatically by completing the assistant but can also be set manually.</p>
</li>
<li>
<p>In order to use PayPal PLUS the payment method has to be <a href="/en/payment/payment-plugins/paypal#80">allowed in customer classes and unblocked in shipping profiles</a>.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="180">9.3.2. Why are not all payment methods displayed in the PayPal PLUS Wall?</h4>
<div class="paragraph">
<p>Not the following if a payment methods is not shown in the PayPal PLUS Wall:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Payment methods depend on the delivery country. For example, debit is only cleared for Germany. Also pay attention to <a href="/en/payment/payment-plugins/paypal#50">Additional information about the PayPal PLUS Wall</a>.</p>
</li>
<li>
<p>If a payment method is not cleared, contact  <a href="https://www.paypal.com/uk/business">PayPal</a> directly about this. They can activate payment methods for your PayPal business account.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect2">
<h3 id="190">9.4. Event procedures and the old PayPal integration</h3>
<div class="paragraph">
<p>Since the old payment integrations are no longer supported, procedures and filters for event procedures have to be selected from the respective plugin groups. However, from version 5.3.1 on of the PayPal plugin, the procedure <strong>Refund PayPal payment</strong> also works for the old PayPal integration.<br>
In order to see all changes to the PayPal plugin and to not miss any updates, use the <a href="https://marketplace.plentymarkets.com/en/paypal_4690">changelog of the PayPal plugins</a>. In general we recommend to use the plugin payment methods available on the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/payment-integrations" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">10. PayPal Dispute</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>PayPal Dispute plugin</strong> allows you to work on problems and solve conflicts with your customers directly in your plentymarkets system. In plentymarkets, the notifications and the messenger are used for this.</p>
</div>
<div class="sect2">
<h3 id="320">10.1. Requirements and installation</h3>
<div class="paragraph">
<p>Using PayPal Dispute requires setting up the <a href="/en/payment/payment-plugins/paypal#10">PayPal plugin</a> first. You need version 5.0.0 or higher of the PayPal plugin. Moreover, required are plentyShop LTS and IO from version 5.0.0 and higher.</p>
</div>
<div class="paragraph">
<p>Download and install the <a href="https://marketplace.plentymarkets.com/en/paypaldispute_6582">PayPal Dispute-Plugin</a> to integrate PayPal Dispute into your plentymarkets system. After the installation of the plugin, the corresponding assistant is available. With the help of this assistant you can add those PayPal accounts for which you want to use PayPal Dispute. Proceed as follows, to complete the assistant and set up PayPal Dispute.</p>
</div>
<div class="paragraph instruction">
<p>Setting up PayPal Dispute with the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Plugins » [select Plugin set]</strong>.</p>
</li>
<li>
<p>Select the assistant <strong>PayPal Dispute</strong>.</p>
</li>
<li>
<p>Complete the assistant.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>PayPal Dispute is now set up in your plentymarkets system.</p>
</div>
</div>
<div class="sect2">
<h3 id="330">10.2. Using PayPal dispute in plentymarkets</h3>
<div class="paragraph">
<p>The advantage of using the PayPal Dispute plugin is that you will be informed about all cases of customers that reported a problem with a merchandise or service to PayPal directly in your plentymarkets back end. Go to <strong>CRM » Messenger</strong> to see all dispute messages. The buyer has 4 options to report a problem. The reactions available to you depend on the problem reported by the customer and on the level of escalation the problem has reached. There are 2 levels of escalation. The first level is called dispute and the second level is called claim. The 4 options available to the buyer are the following:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Item not received</p>
</li>
<li>
<p>Item not as described</p>
</li>
<li>
<p>Unauthorised activity</p>
</li>
<li>
<p>Billing issue</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>As long as a problem is still on the first level of escalation, the dispute level, you can still exchange messages with the customer to solve the problem. Once a problem is escalated to PayPal the level of escalation will be set to claim and simple messages will no longer be send to PayPal.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Loading of new cases</div>
<div class="paragraph">
<p>Once you have opened a case in the Dispute plugin no other case will be loaded. This means you need to close the Dispute plugin tab every time you want to open a different case.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The following table explains the options you have when you want to react to new dispute cases.</p>
</div>
<table id="table-reactions-to-problems" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Response options for dispute cases</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Dispute case</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Response options</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer did not receive the item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Your customer says that he did not receive the item. The case is on dispute level and you have 3 options to respond to it. Depending on your response, there are different options available.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You have the following 3 basic response options:<br>
* writing a message to the customer<br>
* treat as conflict and accept claim<br>
* treat as conflict and escalate to PayPal</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer says that the item is not as described</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Your customer says that the item he received is not as described. The case is on dispute level and you have 6 options to respond to it. Depending on your response, there are different options available.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You have the following 6 basic response options:<br>
* writing a message to the customer<br>
* treat as conflict and accept claim<br>
* treat as conflict and offer a full refund with item return<br>
* treat as conflict and offer a partial refund<br>
* treat as conflict and offer replacement<br>
* treat as conflict and escalate to PayPal</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer reported an unauthorised transaction</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The customer says that he did not buy the item and the access to the account was not authorised. The case is on claim level and this means the customer requested buyer protection. Depending on your response, there are different options available.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Your 2 basic response options are:<br>
* respond to buyer protection case and accept claim<br>
* respond to buyer protection case and provide evidence</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer reported a billing issue</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Your customer reported that the invoice is not correct. This might be the case if the invoiced amount is not correct or the invoice applies to recurring billing agreement that was cancelled. In these cases you will be informed about the issue, but cannot edit it in plentymarkets. You need to log into your PayPal account to edit the case.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">NONE - You need to log into your PayPal account to edit the case.</p></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="340">10.2.1. Inspecting PayPal dispute messages</h4>
<div class="paragraph">
<p>To get an overview of all issues, navigate to <strong>CRM » Messenger</strong>. Once you have opened an issue message you can either answer the buyer or use one of the PayPal response options. If you activated the Notifications in the assistant, you are directly informed about new cases, updates to cases and when cases are closed.</p>
</div>
<div class="paragraph instruction">
<p>See messages:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Navigate to <strong>CRM » Messenger</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ All messages are listed.</p>
</li>
<li>
<p>Click on the message you want to respond to.<br>
→ The message history for this issue opens.</p>
</li>
<li>
<p>Write a message to the buyer or use one of the PayPal response options.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Change visibility</div>
<div class="paragraph">
<p>You can use the visibility to restrict who can read the messages of an issue. At first all issues are visible to every user. The visibility can only be restricted after the first message has been received. The setting applies to all messages of an issue.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-editing-progress" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Editing process</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Icon</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Blue circle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The message is unread.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Green check mark</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The issue was solved or needs to be edited in your PayPal account.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="350">10.2.2. Writing a message to your customer</h4>
<div class="paragraph">
<p>You want to send a simple message to the customer to solve the issue. You can only write messages as long as an issue is on dispute level. The message history is only between you and your customer. PayPal does not take a closer look at issues on dispute level. Proceed as described below to send a message to the customer.</p>
</div>
<div class="paragraph instruction">
<p>Writing a message to a customer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Navigate to <strong>CRM » Messenger</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ All messages are listed.</p>
</li>
<li>
<p>Click on the message you want to respond to.<br>
→ The message history for this issue opens.</p>
</li>
<li>
<p>Click on <strong>Reply</strong>.<br>
→ An input field opens.</p>
</li>
<li>
<p>Enter your text.</p>
</li>
<li>
<p>Click on <strong>Send</strong>.<br>
→ The message is send to PayPal and will be displayed in the customer’s PayPal account.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Whisper</div>
<div class="paragraph">
<p>The message is not transmitted to PayPal if you whisper the message. Whispering is for internal conversations. Whispering must be individually set for every message.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="360">10.2.3. Using dispute resolution options</h4>
<div class="paragraph">
<p>The PayPal Dispute plugin opens if you treat an issue as conflict. The resolution options available to you depend on the issue that was reported by the customer. The options are exactly the same as in your PayPal account.</p>
</div>
<div class="paragraph instruction">
<p>Treating an issue as a conflict:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Navigate to <strong>CRM » Messenger</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ All messages are listed.</p>
</li>
<li>
<p>Click on the message you want to respond to.<br>
→ The message history for this issue opens.</p>
</li>
<li>
<p>Click on <strong>Conflict: React to this case</strong> below the customer’s message.<br>
→ The PayPal Dispute plugin opens.</p>
</li>
<li>
<p>Choose a response option and take the explanations in <a href="#table-responce-options-for-conflicts">Table 6</a> into consideration.</p>
</li>
<li>
<p>Enter further information.</p>
</li>
<li>
<p>Click on <strong>Send to PayPal</strong>.<br>
→ The message is transmitted to PayPal.</p>
</li>
</ol>
</div>
<table id="table-responce-options-for-conflicts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Response options for conflicts</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Level of escalation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Accept claim</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choosing this option means that you refund the total amount to the customer or a partial amount if the customer requested a partial refund. This resolves and closes the case.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The case is on dispute level and will be closed as soon as you accept the claim.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offer a full refund while requesting the return of the item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You are asking the customer to return the item while sending a full refund. The case will be closed as soon as the buyer accepts your offer and once you confirm the return.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The issue is on dispute level and therefore you can write messages with the customer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offer a partial refund</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You are offering a partial refund and in some cases you want the item to be returned or you are offering an additional replacement. The case will be closed as soon as the buyer accepts your offer and once the buyer confirms the receipt of the replacement or once you confirm the return.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The issue is on dispute level and therefore you can write messages with the customer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offer replacement</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You are offering a replacement. The case will be closed as soon as the buyer accepts your offer and confirms the receipt of the replacement.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The issue is on dispute level and therefore you can write messages with the customer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Escalate to PayPal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Once you have escalated the issue to PayPal the following options will be available. You can either <strong>Accept claim</strong> or <strong>Provide evidence</strong>.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The issue will be elevated to claim level. On claim level you can no longer write messages to the customer and therefore you need to wait for PayPal to decide the case.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provide evidence</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option is available if your customer says that the payment was unauthorised or an issue was escalated to PayPal.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The issue is only available on claim level. On claim level you can no longer write messages to the customer and therefore you need to wait for PayPal to decide the case.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</main>