<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Requirement: Opening a PayPal business account</span></a></li>
<li><a href="#20"><span>2.</span><span> Completing the assistant</span></a></li>
<li><a href="#30"><span>3.</span><span> ShopBuilder widgets</span></a></li>
<li><a href="#40"><span>4.</span><span> Linking template containers</span></a>
<ul class="sectlevel2">
<li><a href="#50"><span>4.1.</span><span> Additional information about the PayPal PLUS Wall</span></a></li>
</ul>
</li>
<li><a href="#60"><span>5.</span><span> Activating webhook notifications</span></a></li>
<li><a href="#80"><span>6.</span><span> Customer classes and shipping profiles</span></a></li>
<li><a href="#90"><span>7.</span><span> Automatically refunding PayPal payments</span></a></li>
<li><a href="#100"><span>8.</span><span> Editing text elements</span></a></li>
<li><a href="#110"><span>9.</span><span> FAQ about the PayPal plugin</span></a>
<ul class="sectlevel2">
<li><a href="#120"><span>9.1.</span><span> Configuring PayPal using the assistant</span></a></li>
<li><a href="#130"><span>9.2.</span><span> First aid: Problems with linking your PayPal account</span></a>
<ul class="sectlevel3">
<li><a href="#140"><span>9.2.1.</span><span> I am using Ceres and the PayPal Plugin. What am I to do if I am not redirected to plentymarkets after I activated my PayPal account?</span></a></li>
<li><a href="#140"><span>9.2.2.</span><span> I am using Ceres and the PayPal Plugin. What am I to do if I am asked to sign up for a business account again?</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>PayPal</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With the PayPal plugin, you integrate the PayPal payment methods in your online shop and make them available to your customers. To do so, download the PayPal plugin from the <a href="https://marketplace.plentymarkets.com/en/payone_5434" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Setup of the payment method is done with an assistant. You also have to carry out a few basic settings in your plentymarkets system so that the payment methods are activated in your system.<br>
The explanations in this section apply after adding the plugin. You can find more information on adding and installing plugins in the <a href="/en/plugins">Plugins</a> section of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Requirement: Opening a PayPal business account</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To work with PayPal, you first need a PayPal business account. You get information as well as login details when you open the account. Without these, the plugin cannot be set up and is not usable. If you don’t have one yet, open a <a href="https://www.paypal.com/de/business" target="_blank" rel="noopener">PayPal business acount</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> first.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Completing the assistant</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Activating the plugin set in the main client</div>
<div class="paragraph">
<p>For account linking and the functionality of event procedures, the PayPal plugin has to be activated in the plugin set used for the main client. Since there is a dependency on the IO plugin, IO must be active for the deployment process (saving the plugin set).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>After you installed the plugin, the corresponding assistant is available in the <strong>Setup » Assistants » Plugins</strong> menu. Proceed as follows to complete the assistant and thus set up the payment method.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Plugins » [select Plugin set]</strong>.</p>
</li>
<li>
<p>Select the assistant <strong>PayPal</strong>.</p>
</li>
<li>
<p>Complete the assistant.<br>
→ {name-payment-method} is available in your online shop.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Information about address validation</strong></div>
<div class="content">
<div class="paragraph">
<p>The PayPal assistant contains the option <strong>Address validation</strong> in the section <strong>Order processing</strong>. This validation is <em>automatically activated</em>. You have to select to deactivate the validation. You can either deactivate the validation for selected or for all countries. To do so, check (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the countries for which addresses are not to be validated.<br>
If the payment should also be executed with an incomplete address you should deactivate the address validation.</p>
</div>
<div class="paragraph">
<p>The default validation is a PayPal requirement. The validation checks if there is a complete address. It is not validated whether this is an actually existing address. The payment is only executed successfully if there is a complete address.<br>
The PayPal address validation is important for the coverage when shipping goods. Moreover, PayPal offers buyer and customer protection, which is especially important when orders are processed with PayPal Express. In this case, the address is transmitted by PayPal itself.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Only when using a payment method for several clients: Complete assistant several times</strong></div>
<div class="content">
<div class="paragraph">
<p>Depending on the configuration of your plugin sets and clients, the PayPal assistant has to be completed more than once. Only this ensures that the PayPal payment methods are configured correctly and all functions such as event procedures and crons run smoothly in the background.</p>
</div>
<div class="paragraph">
<p>The following tables show you which assistants you have to complete in which plugin set. The upper row displays the configuration of the plugin sets and clients. The second row lists correspondingly, in which set the PayPal assistant has to be completed for which client.</p>
</div>
<div class="paragraph">
<p><strong><em>Important</em></strong>: The examples are not about either or. The assistant has to be completed several times for multi-clients because it always also has to be completed in the plugin set which is linked with the main client.</p>
</div>
<div class="paragraph">
<p><strong>Example 1:</strong></p>
</div>
<table id="multi-client-and-assistants-example-one" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Your plugin sets and clients:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 1 is linked with the main client</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 2 is linked with multi-client 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 3 is linked with multi-client 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Complete the assistant:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the PayPal assistant in this plugin set for all the clients. This means for the main client, for multi-client 1 and for multi-client 2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the PayPal assistant in this plugin set for multi-client 1.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the PayPal assistant in this plugin set for multi-client 2.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Example 2:</strong></p>
</div>
<table id="multi-client-and-assistants-example-two" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Your plugin sets and clients:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 1 is linked with the main client</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 2 is linked with multi-client 1 and multi-client 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Complete the assistant:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the PayPal assistant in this plugin set for all the clients. This means for the main client, for multi-client 1 and for multi-client 2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the PayPal assistant in this plugin set for multi-client 1 and for multi-client 2.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Example 3:</strong></p>
</div>
<table id="multi-client-and-assistants-example-three" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Your plugin sets and clients:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 1 is linked with the main client and to multi-client 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 2 is linked with multi-client 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Complete the assistant:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the PayPal assistant in this plugin set for all the clients. This means for the main client, for multi-client 1 and for multi-client 2.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the PayPal assistant in this plugin set for multi-client 2.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong>Example 4:</strong></p>
</div>
<table id="multi-client-and-assistants-example-four" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Your plugin sets and clients:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin set 1 is linked with the main client, with multi-client 1 and with multi-client 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Complete the assistant:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Complete the PayPal assistant in this plugin set for all the clients. This means for the main client, for multi-client 1 and for multi-client 2.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. ShopBuilder widgets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The PayPal Express Checkout Button and the Banners for PayPal Installment are available as widgets in the ShopBuilder.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Linking template containers</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Information about linking containers</div>
<div class="paragraph">
<p>The containers needed by default are automatically linked during the setup with the PayPal assistant. From version 5.4.0 on, required as well as optional containers are linked in the same plugin set in which the assistant is completed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You have different options how to integrate PayPal PLUS, the PayPal Express Checkout button and the Banners for PayPal Installments in your online shop. To do this, the plentymarkets system offers containers at relevant places which can be filled with content to meet your needs.</p>
</div>
<div class="paragraph instruction">
<p>Linking template containers:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open the plugin set you want to edit.</p>
</li>
<li>
<p>Open the plugin <strong>PayPal</strong>.</p>
</li>
<li>
<p>Click on <strong>Container links</strong>.</p>
</li>
<li>
<p>From the drop-down list, select the data provider you want to link.</p>
</li>
<li>
<p>Select the container you want to link to the data provider. → Pay attention to the information provided in <a href="#table-paypal-template-container">Table 1</a>.</p>
</li>
<li>
<p>Repeat steps 5 and 6 for all data providers you want to link to containers.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-paypal-template-container" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Linking template containers</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Content</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>General</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Checkout Scripts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The container <strong>Checkout: After scripts loaded</strong> has to be linked.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Confirmation Scripts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The container <strong>Script loader: After scripts loaded</strong> has to be linked.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Express Button Scripts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The container <strong>Script loader: After scripts loaded</strong> has to be linked.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Styles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The container <strong>Template: style</strong> has to be linked to activate the styles required by PayPal and to offer optimal functionality.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Express Checkout button</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optional: The PayPal Express Checkout button can be individually placed, e.g. next to the shopping cart.  By clicking on this button, customers can purchase the content of the shopping cart immediately without going through the regular checkout. Instead, the customer is immediately forwarded to the PayPal payment process. The shipping address is provided by PayPal.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Banners for PayPal Installments</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Optional: The Banners for PayPal Installments can be placed in many different ways to promote this payment method. You can choose between a graphic banner (PayPal Installment Graphical Promotion Banner) and a text banner (PayPal Installment Text Promotion Banner). A separate integration is not necessary. In the assistant, the banners can automatically be linked to an item page, the cart or the checkout. Additionally, the banners are also available to you as widgets in the ShopBuilder. Thus, they can be placed where they are needed, e.g. on landing pages, item pages, the shopping cart or the checkout.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal Reinitialize Payment / PayPal PLUS Reinitialize Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A link with the container <strong>My account: Additional payment information</strong> allows the customer to reinitialise the payment in the <strong>My account</strong> area after an unsuccessful transaction. For PayPal, the <strong>Order now</strong> button is displayed, for PayPal PLUS, the Wall is displayed.<br>
A link with the container <strong>Order confirmation: Additional payment information</strong> allows the customer to reinitialise the payment in the order confirmation area after an unsuccessful transaction. For PayPal, the <strong>Order now</strong> button is displayed, for PayPal PLUS, the Wall is displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>PayPal PLUS</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal PLUS Wall</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A link with the container <strong>Checkout: Override payment method</strong> replaces all previous payment methods with the PayPal PLUS Wall.  Any payment methods offered in addition to those included in the Wall – PayPal, Debit, Credit card and Payment upon invoice – are displayed below these four inside the wall in the order of their priority.<br>
In the assistant, different options how to display the PayPal PLUS Wall are available: <strong>Wall replaces the payment list</strong>, <strong>Wall within the payment list</strong> or <strong>Wall in an overlay during the purchase</strong>.<br>
Also pay attention to <a href="/en/payment/payment-plugins/paypal#50">Additional information about the PayPal PLUS Wall</a>. Additional information as well as restrictions are described there.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="50">4.1. Additional information about the PayPal PLUS Wall</h3>
<div class="paragraph">
<p>Apart from the PayPal PLUS payment methods, 10 further payment methods can be shown in the checkout within the PayPal PLUS Wall.<br>
For Germany, for example, the payment methods Debit, Credit card and Invoice are possible. With this, a maximum of 14 payment methods can be shown in the checkout.
But if, for example, only PayPal and Credit card are allowed for a certain delivery country, the maximum number is restricted to 12.</p>
</div>
<div class="paragraph">
<p>Moreover, PayPal PLUS limits the number of characters for the names of the other payment methods. The maximum number of characters is limited to 25.  If a name has more than 25 characters, it is truncated.<br>
Note that special characters, e.g. an umlaut, reduces the number of characters, because they are read out in HTML-style.</p>
</div>
<div class="paragraph">
<p>PayPal states the following:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>max. image size of 100 x 25 px<br></p>
</li>
<li>
<p>max. 25 characters for <strong>methodName</strong><br></p>
</li>
<li>
<p>max. 120 characters for <strong>description</strong></p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">5. Activating webhook notifications</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Information about linking containers</div>
<div class="paragraph">
<p>The webhooks neded by default are automatically activated during setup with the PayPal assistant. You can carry out individual settings for webhooks in the <strong>Additional settings</strong> step of the assistant.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Your plentymarkets system and the PayPal interface communicate with the help of webhooks. For certain events, such as an incoming payment, PayPal sends a webhook notification to plentymarkets. plentymarkets automatically responds to these notifications. <a href="#table-activating-webhook-notifications">Table 2</a> contains additional information on the webhooks.</p>
</div>
<table id="table-activating-webhook-notifications" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Webhook notifications</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Webhook</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PAYMENT.SALE.COMPLETED</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A payment has been completed. When PayPal sends this notification, a pending payment is marked as paid in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PAYMENT.SALE.DENIED</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A payment has been denied. When PayPal sends this notification, a pending payment is marked as unpaid in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PAYMENT.SALE.PENDING</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">There is a pending payment. When PayPal sends this notification, a pending payment is created in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PAYMENT.SALE.REFUNDED</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A payment has been partially or completely refunded by the seller. When PayPal sends this notification, a credit note for the payment is created in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PAYMENT.SALE.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A payment has been reversed by PayPal.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="80">6. Customer classes and shipping profiles</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Make sure that the payment method is allowed in the <a href="/en/crm/managing-contacts#15">customer classes</a> and is not deactivated in the <a href="/en/fulfilment/preparing-the-shipment#1800">shipping profiles</a>. For this, you should consider first for which customer classes and shipping profiles the payment method should be allowed. This can be set individually.</p>
</div>
<div class="paragraph instruction">
<p>Permitting the payment method in a customer class:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » CRM » Classes</strong>.</p>
</li>
<li>
<p>Open the customer class for which you want to permit the payment method.</p>
</li>
<li>
<p>Select the payment method from the list <strong>Permitted payment methods</strong> by clicking on it.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If needed, repeat these steps for other customer classes as well.</p>
</div>
<div class="paragraph instruction">
<p>Checking payment method in existing shipping profiles:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Shipping » Settings</strong>.</p>
</li>
<li>
<p>Change into the <strong>Shipping profiles</strong> tab.</p>
</li>
<li>
<p>Open the shipping profile in which the payment method should be allowed.</p>
</li>
<li>
<p>Check whether the payment method is selected in the <strong>Blocked payment methods</strong> area.</p>
</li>
<li>
<p>Deselect the payment method if you want to allow it for this shipping profile.</p>
</li>
<li>
<p>Save (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If needed, repeat these steps for shipping profiles as well.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="90">7. Automatically refunding PayPal payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an event procedure to automatically refund a PayPal payment.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Setting up an event procedure</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Setup of an event procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the event as listed in <a href="#table-procedure-paypal-refund">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Select the settings as listed in <a href="#table-procedure-paypal-refund">Table 3</a>.</p>
</li>
<li>
<p>Activate the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-procedure-paypal-refund" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Event procedure for automatically refunding PayPal payments</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the event that will trigger a refund.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order &gt; Payment method</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin: PayPal<br>
Plugin: PayPalExpress<br>
PayPal: PayPalPlus</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin &gt; Refunding a PayPal payment&lt;</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Following the procedure <strong>Refunding a PayPal payment</strong>, two additional event procedures are available to follow the further process of the order: <strong>PayPal refund successful</strong> and <strong>PayPal refund failed</strong>. You can optionally set up event procedures with these events in the same way as described above.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">8. Editing text elements</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can edit texts of the plugin in the <strong>CMS » Multilingualism</strong> menu. The texts can be adapted into all available system languages. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Adapting language files:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Multilingualism</strong>.</p>
</li>
<li>
<p>On the left side, select the <strong>Source language</strong> from the drop-down list.</p>
</li>
<li>
<p>On the right side, select the <strong>Target language</strong> from the drop-down list.</p>
</li>
<li>
<p>Expand the various sections in the <strong>PayPal</strong> area.</p>
</li>
<li>
<p>Enter the text for the individual text elements in the area of the target language.</p>
</li>
<li>
<p>Save (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Find more information in how to edit online shop texts on the manual page <a href="/en/online-store/setting-up-ceres#231">Editing online store texts</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="110">9. FAQ about the PayPal plugin</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this section, FAQ about linking the PayPal with plentymarkets are compiled. Additionally, you can also make use of our <a href="https://forum.plentymarkets.com/c/payment" target="_blank" rel="noopener">Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. You can either look for information in already existing threads or open a new thread and ask our supporters.</p>
</div>
<div class="sect2">
<h3 id="120">9.1. Configuring PayPal using the assistant</h3>
<div class="paragraph">
<p>When configuring PayPal with the assistant, problems in the online shop may occur under certain circumstances.</p>
</div>
<div class="qlist qanda">
<ol>
<li>
<p><em>I want to update PayPal. How should I proceed?</em></p>
<p>If you want to update the PayPal plugin in a copy of your plugin set, you have to change the back end plugin set that is linked to your user account. For further information on how to change your back end plugin set, refer to the page <a href="/en/plugins/installing-added-plugins">Installing added plugins</a>. After reloading your back end, you can complete the assistant.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="130">9.2. First aid: Problems with linking your PayPal account</h3>
<div class="paragraph">
<p>If you have problems with linking your PayPal account with plentymarkets, it is advisable to use a different browser, just to eliminate this as a source of errors.
Moreover, you should make sure that there are no basic problems with your PayPal account itself.
Possibly, the email address was not confirmed yet, PayPal PLUS was not activated yet or you did not set a password yet.
More possible sources of error and their solutions are described below.</p>
</div>
<div class="sect3">
<h4 id="140">9.2.1. I am using Ceres and the PayPal Plugin. What am I to do if I am not redirected to plentymarkets after I activated my PayPal account?</h4>
<div class="paragraph">
<p>Check first whether the <a href="/en/plugins/updating-installed-plugins">latest PayPal plugin version</a> is installed and deployed in your plentymarkets system.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Activation and preview of the plugin</div>
<div class="paragraph">
<p>Make sure that the PayPal plugin is already activated and deployed in the Plugin-Set of the main client when you are linking your account with plentymarkets. If this is not the case, malfunctions can occur.<br></p>
</div>
<div class="paragraph">
<p>Attention: The plugin-set preview must <em>not</em> be open while the PayPal account is linked with plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PP-Plugin_Fehler_1.png" alt="Plugin Fehlermeldung 1">
</div>
<div class="title">Figure 1. Redirection to plentymarkets is not possible</div>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Solution 1</strong>: Change the browser and try again. plentymarkets supports the browsers Google Chrome and Mozilla Firefox.</p>
</li>
<li>
<p><strong>Solution 2</strong>: There is still an active API right in the PayPal account. Remove the rights for plentymarkets. Die API-Berechtigung ist unter folgender URL zu finden: <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_profile-api-list-auths" class="bare">https://www.paypal.com/cgi-bin/webscr?cmd=_profile-api-list-auths</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">NOTE</div>
<div class="paragraph">
<p>With removing the API rights, all linked PayPal accounts are disconnected from your plentymarkets system. In case a PayPal account is linked with the market <strong>eBay</strong>, this account has to be linked with the PayPal interface again.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="140">9.2.2. I am using Ceres and the PayPal Plugin. What am I to do if I am asked to sign up for a business account again?</h4>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PP-Plugin_Fehler_2.png" alt="Plugin Fehlermeldung 2">
</div>
<div class="title">Figure 2. Account setting</div>
</div>
<div class="paragraph">
<p>If this window opens, check whether the data in the <strong>add PayPal account</strong> step were correctly inserted.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/auftragsabwicklung/Payment/assets/PP-Plugin_Dateneingabe.png" alt="Plugin Daten">
</div>
<div class="title">Figure 3. Entry fields in plentymarkets</div>
</div>
<div class="paragraph">
<p><strong>Email</strong>: Use the email address you are also using for your PayPal login.<br>
<strong>Environment</strong> Choose whether you want to use the account for the test version or the live version.<br>
<strong>PayPal PLUS</strong>: Only activate this, if you also signed up for PayPal PLUS.</p>
</div>
</div>
</div>
</div>
</div>
</main>