<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 18. November 2020</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 12. November 2020 bis zum 18. November 2020 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Wochen für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Diese Änderungen wurden für die Benutzeroberfläche der Neuen Auftragsanlage vorgenommen:</p>
<div class="ulist">
<ul>
<li>
<p>Wenn der Kontakt keine Lieferadresse hat, wird die Dropdown-Liste im Lieferadressenfeld nicht länger automatisch mit der Rechnungsadressenliste gefüllt.</p>
</li>
<li>
<p>Wenn der Kontakt keine Lieferadresse hat und die Rechnungsadresse als <strong>Primär</strong> markiert ist, wird das Feld <strong>Lieferadresse</strong> automatisch mit der primären Rechnungsadresse gefüllt.</p>
</li>
<li>
<p>Das Feld <strong>Eigner</strong> wird automatisch mit dem aktiven Benutzer gefüllt.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Die Tabellen in der Nachbestellung und der Umbuchung werden mit den Standard Tabellen-Headern angezeigt. Alle Tabellen in der Umbuchung und der Nachbestellung sind individuell anpassbar. Klicke dafür auf <strong>Spalten konfigurieren</strong>.</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort können Kataloge importiert und exportiert werden.</p>
</li>
<li>
<p>Ab sofort findest du in den Katalogeinstellungen den Punkt Download. Dort kannst du diverse Einstellungen wie <strong>Token verwenden</strong>, <strong>Hash verwenden</strong> usw. vornehmen. Des Weiteren findest du hier nach jedem generierten Export den entsprechenden Download-Link.</p>
</li>
<li>
<p>Ab sofort wird beim Starten des manuellen Exports eine Warnmeldung ausgegeben. Diese informiert euch darüber, dass der Katalog beim Starten des manuellen Exports nicht an den Marktplatz übertragen wird.</p>
</li>
<li>
<p>Es wurde eine Vorschaufunktion für die Standardformate hinzugefügt.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_ebay" class="discrete">eBay</h3>
<div class="ulist">
<ul>
<li>
<p>Das Starten eines Disputprozesses für eBay Payments Aufträgen wird nun in Absprache mit eBay durch plentymarkets unterbunden. Dies gilt sowohl für die Ereignisaktion, das Starten eines Disputprozesses aus der Auftragsposition heraus und den Aktionsmanager.</p>
<div class="paragraph">
<p>eBay Payments Aufträge sind bei eBay schon bezahlt und es ist nicht mehr erforderlich einen Disputprozess zu starten. Stattdessen reicht es aus eine Rückerstattung über eine Ereignisaktion zu veranlassen.
Der Hintergrund ist hier, dass es immer wieder Probleme bei der Rückerstattung gab, wenn ein Disputprozess eröffnet wurde. Die Rückerstattung der Gebühren erfolgt nun nach der Rückerstattung an den Käufer ebenfalls automatisch.</p>
</div>
</li>
</ul>
</div>
<h3 id="_shopbuilder" class="discrete">ShopBuilder</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Zuweisen eines Plugin-Sets zu einem Mandanten kam es zu einem ungewolltem Verhalten im Bereich des ShopBuilders. Deshalb wurde aas erneute Generieren von ShopBuilder-Inhalten beim Zuweisen eines Plugin-Sets zu einem Mandanten vorübergehend deaktiviert. Die Funktion wird grundlegend überarbeitet und für beta7-Systeme erneut bereitgestellt.</p>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Nach dem Wechsel des Plugin-Sets eines Mandanten sollten ShopBuilder-Inhalte dieses Plugin-Sets manuell neu generiert werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_artikel" class="discrete">Artikel</h3>
<div class="ulist">
<ul>
<li>
<p>Die über die Gruppenfunktion aktivierte Vererbung der verknüpften Eigenschaften liess sich nicht mehr deaktivieren. Dieser Fehler wurde behoben. <strong>Hinweis:</strong> Wenn die aktivierte Vererbung versucht wird wieder über die Gruppenfunktion zu deaktivieren, werden die Eigenschaftsverknüpfungen dupliziert. Das kann zu weiteren Fehlern führen.</p>
</li>
</ul>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Ändern von Auftragsinhalten in Aufträgen mit bereits existierenden Lieferaufträgen, z.B. durch Hinzufügen weiterer Auftragspositionen, wurden die Bestandszuordnungen nicht aktualisiert. Dies wurde behoben.</p>
</li>
<li>
<p>In der Auftragspositionstabelle in der Umbuchung und der Nachbestellung wurden nur bis zu 50 Positionen auf einer Seite dargestellt. Dies wurde behoben, es können wieder mehr als 50 Positionen in der Tabelle dargestellt werden.</p>
</li>
<li>
<p>Der Lieferant konnte nicht ausgewählt werden, weil das Feld gesperrt war wenn eine Nachbestellung geöffnet war und eine neue erstellt werden sollte. Dieses Verhalten wurde nun behoben, das Feld wird nicht mehr gesperrt und der Lieferant kann angepasst werden.</p>
</li>
<li>
<p>In der Nachbestellung und der Umbuchung können die Auftragspositionen nun nach Artikel-ID, Artikelname oder Varianten-ID sortiert werden.</p>
</li>
<li>
<p>Es wurde beim manuellen Hinzufügen von Artikeln zu Aufträgen unter Umständen der falsche Preis ermittelt.</p>
</li>
<li>
<p>Die Begrenzung auf 250 angezeigte Auftragspositionen im Warenkorb der Nachbestellung und der Umbuchung wurde entfernt. Des Weiteren kommt es nicht mehr zu der Übertragung von Artikeln im Warenkorb, wenn eine neue Nachbestellung oder Umbuchung angelegt wird.</p>
</li>
<li>
<p>In der Warenbewegungstabelle der Nachbestellung und der Umbuchung wurden die Spalten Charge und MHD nicht angezeigt. Dies ist nun behoben, die zwei Spalten können angezeigt werden. Sie werden standardmäßig nicht in der Tabelle angezeigt, sind aber mit der Spalten konfigurieren Funktion hinzufügbar.</p>
</li>
</ul>
</div>
<h3 id="_ereignisaktionen" class="discrete">Ereignisaktionen</h3>
<div class="ulist">
<ul>
<li>
<p>Das Ereignis <strong>Erweiterung der Bestellung durch Kunde</strong> der Auftrags-Ereignisaktionen wurde zu oft ausgelöst.</p>
</li>
</ul>
</div>
<h3 id="_formatdesigner" class="discrete">FormatDesigner</h3>
<div class="ulist">
<ul>
<li>
<p>Es konnten keine Bilder mit dem Format <code>Artikelbilder</code> exportiert werden, wenn das Bild mit keiner Bildverfügbarkeit verknüpft war. Diesen Fehler konnten wir beheben.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_2" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Aufgrund eines Fehlers wurden bereits verknüpfte Datenfelder weder angezeigt noch an Otto übertragen. Diesen Fehler haben wir behoben.</p>
</li>
<li>
<p>Es war nicht möglich, Eigenschaften mit zu langem Namen hinzuzufügen. Diesen Fehler haben wir behoben.</p>
</li>
</ul>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Nach dem Ausschalten der plentyShop-Vorschau wird in der Dropdown-Liste nicht mehr das erste Plugin-Set angezeigt, sondern das Plugin-Set, das mit dem Mandanten verknüpft ist.</p>
</li>
<li>
<p>Container-Verknüpfungen werden nicht mehr automatisch gelöscht, wenn der Datenanbieter nicht erreichbar ist.</p>
</li>
</ul>
</div>
<h3 id="_zalando" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Preisupdate kam es zu einem Fehler, wenn man im Assistenten für den reduzierten Preis einen Verkaufspreis definiert hat, aber selbiger Preis nicht an der Variante hinterlegt war. In diesen Fällen wurde der reguläre Preis auch als reduzierter Preis übermittelt, was wiederum zu einem Validierungsfehler bei Zalando führte. Dieser Fehler wurde nun behoben, sodass in diesen Fällen dann korrekterweise kein reduzierter Preis exportiert wird.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Es wurden weitere Stellen der Auftrag Detailansicht und die Auftrags-Gruppenfunktionen auf die neue Auftragslogik umgeschaltet. Dies sollte keine Änderung im Verhalten verursachen.</p>
</li>
<li>
<p>Durch den Brexit wird Großbritannien voraussichtlich ab dem 01.01.2021 nicht mehr Teil des Wirtschaftsraumes der EU sein. Die interne Prüfung, ob ein Land Teil der EU ist, wurde mit einem Zeitstempel erweitert, sodass das kommende Ereignis korrekt im System abgebildet werden kann.</p>
</li>
<li>
<p>Die Umbuchungs-UI wurde beim Öffnen wegen einer fehlenden Spalte in der Auftragspositionstabelle nicht richtig dargestellt. Dies wurde behoben. Die Umbuchung-UI funktioniert wieder.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_aufträge_4" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn ein Auftrag über eBay ohne die Eigenschaft <code>E-Mail des Absenders</code> an der PayPal-Zahlung eingeht, wird die Eigenschaft nun mit der E-Mail aus der PayPal Transaktion aktualisiert. Diese Korrektur wird dazu beitragen die Übereinstimmungsraten für die automatische Zuordnung einer Zahlung zu einem eBay-Auftrag zu erhöhen.</p>
</li>
<li>
<p>Durch Anpassungen bzgl. des kommenden Brexit wurde innerhalb des Collmex-Spezialexports die Spalte <strong>orderEntryDate</strong> ausgegeben. Diese wurde nun ausgeblendet.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>In Retouren-Prozessen wurde unter Umständen der Artikelwert nicht korrekt aktualisiert. Dieses Verhalten ist nun behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cfourarticlenotifications5_6976" target="_blank" rel="noopener">Artikel Verfügbarkeitsbenachrichtigung 5</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/channelpilotsalestracking_5328" target="_blank" rel="noopener">ChannelPilot-Salestracking</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cytcategorycrossselling_6975" target="_blank" rel="noopener">Cross-Selling: Weitere Artikel derselben Kategorie</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/datawowsmartcontrolling_6754" target="_blank" rel="noopener">DataWow - Smart Controlling</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ekomifeedback_5253" target="_blank" rel="noopener">EkomiFeedback</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.3.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cfourseochecktool5_6973" target="_blank" rel="noopener">SEO Check Frontend Tool 5</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cfourwhatsappshare_5323" target="_blank" rel="noopener">Whatsapp Share Button</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ab v.1.1.4 ist ein Ceres-Shop mit installierten Ceres V.5 sowie das IO V.5 Plugins als Basis benötigt.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>.</p>
</div>
</div></div>
</main>