<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 04. November 2020</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 29. November 2020 bis zum 04. November 2020 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Wochen für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>In der neuen Auftragserstellung (Beta) wurde die Möglichkeit hinzugefügt, eine neue Lieferadresse hinzuzufügen. Die neue Lieferadresse kann über der Option <strong>Neue Lieferadresse hinzufügen</strong> im Drop-down <strong>Lieferadresse</strong> hinzugefügt werden.</p>
</li>
</ul>
</div>
<h3 id="_webshop" class="discrete">Webshop</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist jetzt möglich, den Webshop über ein iFrame einzubinden. Dafür muss man unter <strong>Einrichtung » Mandant » <em>Name des Mandanten</em> » SEO » iFrame Richtlinien</strong> die Domain der Webseite, die den Shop einbinden soll, hinterlegen. Nicht hinterlegte Domains können den Webshop nicht über ein iFrame einbinden.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_ebay" class="discrete">eBay</h3>
<div class="ulist">
<ul>
<li>
<p>Eine Rückerstattung ist nun bereits dann für variable Nutzer möglich, wenn die Berechtigung für das Auslösen der Ereignisaktion gesetzt ist. Weitere Berechtigungen werden von nun annicht mehr benötigt.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Es konnte beim Speichern einer Nachbestellung der Fehler <code>422 Unprocessable Entity</code> im Zusammenhang mit dem Händlerzeichen auftreteten.</p>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Hinzufügen von Filtern kam es zu merkwürdigem Fehlverhalten innerhalb der UI. Diesen Fehler haben wir behoben.</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Das Datenfeld <code>Mehrwertsteuersatz</code> konnte nicht hinzugefügt werden. Diesen Fehler haben wir behoben.</p>
</li>
<li>
<p>Aufgrund eines Fehlers konnte es passieren, dass der Data Picker nicht sichtbar war, wenn man im unteren Bereich des Kataloges ein Datenfeld hinzufügen wollte. Diesen Fehler haben wir behoben.</p>
</li>
</ul>
</div>
<h3 id="_kategorien" class="discrete">Kategorien</h3>
<div class="ulist">
<ul>
<li>
<p>Nach dem Vererben der Kategorien an der Variante ist die Standardkategorie von der manuellen Auswahl auf den Wert (<strong>Automatisch <em>Kategoriename</em></strong>) gesprungen. Dieses Verhalten konnte behoben werden, so dass die manuelle Auswahl bestehen bleibt.</p>
</li>
</ul>
</div>
<h3 id="_otto_market" class="discrete">OTTO Market</h3>
<div class="ulist">
<ul>
<li>
<p>Aufgrund eines Fehlers wurden Authentifizierungs-Anfragen an die API von OTTO Market zu oft vorgenommen. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Es wurde ein Großteil der Funktionalität in der Auftrag Detailansicht auf die neue Auftragslogik umgeschaltet. Dies sollte keine Änderung im Verhalten verursachen.</p>
</li>
<li>
<p>In den UIs für Nachbestellungen und Umbuchungen  wurden die Terra-Tabellen wurden durch Angular Material Komponenten ersetzt. Außerdem sind sind die Spalten nun frei konfigurierbar.</p>
</li>
</ul>
</div>
<h3 id="_myview" class="discrete">MyView</h3>
<div class="ulist">
<ul>
<li>
<p>In einer MyView kannst du als Admin ab sofort direkt zur Rechteverwaltung der Rollen springen. Um dort hinzugelangen, klicke unterhalb der Einstellungen auf Rechteverwaltung » Rollenrechte. Die Rechte für einzelne Benutzer können zurzeit noch nicht verwaltet werden, sind aber bereits in Planung.</p>
</li>
<li>
<p>Ab sofort kann der Name einer Ansicht im dafür vorhandenen Eingabefeld in den Einstellungen geändert werden. Dies gilt allerdings nicht für die Standardansicht.</p>
</li>
</ul>
</div>
<hr>
<h3 id="_warenwirtschaft" class="discrete">Warenwirtschaft</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist nicht mehr möglich Positionsnummer für alte Dimensionen über Feld <strong>Neue Lagerorte anlegen</strong> zu ändern, sondern sie nur bei der Erstellung einzugeben. Will man Positionsnummer ändern, kann das nur über A*ufbau anpassen* oder via <strong>Elastic Sync Format Lager</strong> stattfinden.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_aufträge_4" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Der Zahlungsbetrag wird in Fremdwährung und Systemwährung angezeigt, wenn die Zahlung in Fremdwährung getätigt wurde.</p>
</li>
<li>
<p>Die Autovervollständigung bei Zahlungsarten (Suche) funktioniert nun mit Groß- und Kleinbuchstaben.</p>
</li>
<li>
<p>Für den Transaktionstyp <strong>Vormerkposten</strong> wurde der Zusatz <strong>Vormerkposten</strong> zur Tabellenspalte <strong>Verwendungszweck</strong> hinzugefügt.</p>
</li>
<li>
<p>Wurden die Positionen von Aufträgen mit Artikelpaketen abgespeichert, dann wurden die Pakete erneut gesplittet. Der Fehler trat nur auf Beta auf.</p>
</li>
<li>
<p>In der Nachbestellung wurden die Spalten <strong>Einkaufspreis</strong> und <strong>Bestellt</strong> nicht richtig angezeigt. Ebenso wurde in der Umbuchung in der Spalte <strong>Bestellt</strong> der Einkaufspreis anstatt die Menge angezeigt. Dies wurde nun behoben und die richtigen Werte werden in den Tabellenspalten angezeigt.</p>
</li>
<li>
<p>Es wurde bei der manuellen Auftragsanlage das Versandprofil zwar korrekt bestimmt, aber in der UI nicht angezeigt. Der Fehler ist nur auf Beta und Early aufgetreten.</p>
</li>
</ul>
</div>
<h3 id="_ereignisaktionen" class="discrete">Ereignisaktionen</h3>
<div class="ulist">
<ul>
<li>
<p>Es konnte unter Umständen vorkommen, dass Änderungen an Auftragsadressen in Plugin Ereignisaktionen wieder durch die alten Werte Überschrieben wurden.</p>
</li>
</ul>
</div>
<h3 id="_import_2" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Der Abgleich der Variante hatte im Zusammenspiel mit dem Import von Versandkosten nicht korrekt funktioniert.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Deposit-Artikel (TypeId <code>10</code>, in plentymarkets je nach Benutzerkonfiguration beispielsweise als Pfandartikel verwendet) werden ab sofort nicht mehr in der Artikelerfassung berücksichtigt. Somit sollte es aufgrund dieser Artikel zu keinem Fehlverhalten mehr kommen.</p>
</li>
</ul>
</div>
<h3 id="_warenwirtschaft_2" class="discrete">Warenwirtschaft</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn man neue Lagerorte oder neue Dimensionen (neue Böden oder neue Regale) über die Felder <strong>Neue Lagerorte anlegen</strong> oder <strong>Aufbau anpassen</strong> erstellte, wurden die Positionsnummer der alten Lagerorte bzw. der alten Dimensionen geändert. Der Fehler wurde jetzt behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/customforms_6318" target="_blank" rel="noopener">Benutzerdefinierte Formulare</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/logwatch_6960" target="_blank" rel="noopener">LogWatch</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>