<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Artikelansicht bearbeiten</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sobald dein Design steht, fehlen eigentlich nur noch deine Artikel im Shop. Sobald du diese angelegt hast, gibt dir der Shopbuilder die Möglichkeit sie als Highlight auf der Startseite zu platzieren! Wie genau das geht, erfährst du in diesem Video.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/webshop/deine-artikel-startseite#video">Artikel auf Startseite platzieren (0:51)</a></p>
<p class="tableblock"><a href="/videos/webshop/deine-artikel-kategorieseiten#video">Kategorieseiten bearbeiten (3:09)</a></p>
<p class="tableblock"><a href="/videos/webshop/deine-artikel-artikelansicht#video">Artikelansicht bearbeiten (3:51)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/270290977#at=231" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Ein paar kleinere Anpassungen haben deinen Online-Shop zu etwas Besonderem gemacht und er sieht auch schon recht schick aus. Nur von "schick" kommt aber kein Geld ins Unternehmen. Also geht es jetzt daran, deine Artikel angemessen im Shop zu präsentieren und vielleicht sogar den einen oder anderen Topseller als Highlight hervorzuheben.</p>
</div>
<div class="paragraph">
<p>Voraussetzung dafür ist natürlich, dass deine Artikel bereits im System hinterlegt sind. Falls das noch nicht der Fall ist, schau mal in dem verlinkten Video-Modul vorbei, das dir alles Wichtige für die Artikelanlage beibringt.</p>
</div>
<div class="paragraph">
<p>Sobald du deine Artikel korrekt eingepflegt hast, führt dich der erste Schritt in die Darstellung deiner Produkte auf der Startseite deines Shops, z.B. als Highlights. Dann schauen wir uns an, wie sie auf Kategorieseiten und schließlich auf ihren ganz eigenen Produktseiten aussehen sollen.</p>
</div>
<div class="paragraph">
<p>Okay, also Startseite: Stell dir vor du möchtest, dass deine Kunden bestimmten Produkten besondere Aufmerksamkeit widmen und sie schon sofort auf der Startseite erspähen. Diese Highlights stellen wir jetzt mit unserem alten Freund, dem ShopBuilder, ein.</p>
</div>
<div class="paragraph">
<p>Auf der Seite, die du bearbeiten möchtest (hier die Startseite), suchst du in der Seitenleiste das passende Element, um einige Produkte hervorzuheben. Zum Beispiel eine sogenannte Arikelliste. Elemente bearbeitest du über den kleinen Stift, der jeweils bei Mouse-Over erscheint. In dieser Artikelliste könntest du jetzt Artikel aus deinen vorhandenen Kategorien darstellen. Und die Sortierung stellst du auch ganz einfach so ein, wie es dir passt.</p>
</div>
<div class="paragraph">
<p>Tags sind eine super Möglichkeit, bestimmte Produkte im System als Highlight zu markieren und auf deiner Startseite hervorzuheben, z.B. Produkte, die ganz neu im Sortiment sind, oder Artikel im Sale.</p>
</div>
<div class="paragraph">
<p>Bevor du diese Verschlagwortung daür nutzen kannst, müssen wir kurz einen Schlenker über das entsprechende Menü machen, um dir all die Tags anzulegen, die du für deine Produkte nutzen möchtest. Unser Beispiel - Neu im Verkauf - soll natürlich für Artikel verwendet werden. Und schon hast du deinen ersten Tag. Weiter geht es dann mit dem Verknüpfen an den entsprechenden Artikeln.</p>
</div>
<div class="paragraph">
<p>Ist dir eigentlich aufgefallen, dass deinem neuen Tag eine eigene ID zugeordnet wurde? Die brauchst du jetzt wieder im ShopBuilder, damit deine Ceres-Shop weiß, welche Artikel in welcher Artikelliste angezeigt werden sollen.</p>
</div>
<div class="paragraph">
<p>Ähnlich wie Artikellisten funktionieren auch Bilderboxen. Sie bieten dir eine weitere Möglichkeit, deine Produkte zu präsentieren. Der einzige Unterschied ist, dass du eben nur einen Artikel darstellst. Alles was du dafür tun musst, ist den Stift zu klicken und die ID der entsprechenden Variante einzugeben. Standardmäßig werden der Name und das Bild des Artikels angezeigt. Diese Einstellungen lassen sich allerdings auch ändern: Beispielsweise kannst du auch ein Kategoriebild oder ein anderes hochgeladenes Bild anzeigen und bestimmen, ob der Artikelname angezeigt werden soll.</p>
</div>
<div class="paragraph">
<p>Wenn du deine Einstellungen abgeschlossen hast, kannst du sie dir in der Vorschau ansehen. Sieht gut aus!</p>
</div>
<div class="paragraph">
<p>So. Die Startseite führt deine Kunden nun also zu den Top-Highlights in deinem Sortiment. Als nächstes wollen wir mal die Kategorieseiten ein wenig aufhübschen.</p>
</div>
<div class="paragraph">
<p>Ein Kategorietext sorgt nochmal dafür, dass sich Kunden gut aufgehoben fühlen und für emotionales Shoppen sorgt ein schönes Bild. Bevor wir uns jetzt gleich anschauen können, was wir damit bewirkt haben, geht es noch fix zur Plugin-Übersicht…​ ins Ceres-Shop-Plugin…​ und zur Artikelansicht. Damit nämlich Kategoriebeschreibung und -bild angezeigt werden, müssen die beiden Einstellungen aktiviert sein.</p>
</div>
<div class="paragraph">
<p>Und ist das der Fall, kannst du über die bekannte Shop-Vorschau deine Änderungen bewundern.</p>
</div>
<div class="paragraph">
<p>Last but not least, bearbeiten wir jetzt noch die Seite, auf der jeder einzelne Artikel ein Star sein kann: die Artikeleinzelansicht. Du kannst z.B. auswählen, welcher Name aus dem System gezogen werden soll, also entweder der Variantenname, der Artikelname, oder eine Mischung aus beidem.</p>
</div>
<div class="paragraph">
<p>Kurzer Exkurs: Am Artikeldatensatz findest du den Variantennamen in den Varianteneinstellungen und den Artikelnamen im Texte-Tab, wo du übrigens auch nochmal 3 verschiedene Namen vergeben könntest. Deshalb musst du zurück am Plugin den gewünschten Namen anhand des Feldes 1, 2 oder 3 auswählen.</p>
</div>
<div class="paragraph">
<p>Auf der Artikeleinzelansicht gehört die Bühne ganz deinem Produkt. Und so findet sich dort auch eine Informationstabelle, die du anpassen kannst. In den Einstellungen wählst du einfach über die Haken die Infos aus, die in eben dieser Tabelle dargestellt werden sollen, oder eben nicht dargestellt werden sollen.</p>
</div>
<div class="paragraph">
<p>Jetzt bist du dran! Probiere die EInstellungen einfach mal aus und lass dein Produkt in einem besonderen Licht erstrahlen.</p>
</div>
</div>
</div>
</main>