<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Individualisiere den Look deines Ceres-Shops</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier erfährst du, wie du deinen neuen Ceres-Webshop mit wenigen Klicks nach deinen eigenen Vorstellungen anpassen kannst. Lerne wie man Logos austauscht, Farben und Schriftarten anpasst und wie du deiner Startseite Widgets hinzufügst.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/webshop/individualisiere-look-deines-ceres-shops-logo#video">Logo ändern (0:38)</a></p>
<p class="tableblock"><a href="/videos/webshop/individualisiere-look-deines-ceres-shops-kontaktformular#video">Kontaktformular und Daten anzeigen lassen (1:05)</a></p>
<p class="tableblock"><a href="/videos/webshop/individualisiere-look-deines-ceres-shops-farben#video">Farben anpassen (3:02)</a></p>
<p class="tableblock"><a href="/videos/webshop/individualisiere-look-deines-ceres-shops-startseite#video">Startseitenslider anpassen (3:56)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/257452650" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Dein Online-Shop definiert sich vor allem durch deine Artikel, klar! Aber trotzdem sollen deine Kunden auch <em>dich</em> in deinem Store erkennen. Das <em>Du</em> im Online-shop sind dein Logo, deine Kontaktdaten, deine Farbpalette, deine Schriftart und - das, was Kunden als erstes sehen werden - deine Startseite.
Das Schöne: Durch das angelegte Test-Plugin-Set kannst du in Ruhe alles so einstellen, wie es dir passt. Und erste wenn du fertig bist, lüftest du den Vorhang deines neuen Online-Shops.</p>
</div>
<div class="paragraph">
<p>Der erste Klick dieses Videos führt dich direkt in das Ceres-Plugin, also dein Shop-Template, und zum Logo. Wenn du ganz neu startest, ist immer das Ceres-Logo als Standard eingestellt. Schnell geändert ist das, indem du dein ganz eigenes Logo hochlädst und auswählst. Und genauso kannst du verfahren…​ mit dem Favicon, also das kleine Icon, das in den Browser-Tabs angezeigt wird. Bevor wir uns gleich anschauen, ob das geklappt hat, werfen wir noch einen Blick auf diesen Bereich hier. Dein neuer Shop geht standardmäßig mit einem Kontaktformular an den Start, über das deine Kunden Mails an dich schicken können. Angezeigt wird es, wenn du deine Wunsch-Mailadresse eingibst, an die ebendiese Anfragen geschickt werden sollen. Wenn du möchtest, dass auf deiner Kontaktseite noch weitere Infos zu dir und deinem Handel stehen, wählst du per Häkchen alles relevante aus. Übrigens: Diese Infos zieht sich das System aus deinen Stammdaten in den Systemeinstellungen.</p>
</div>
<div class="paragraph">
<p>Okay. Wie sieht der Shop jetzt aus?
Cool. Logo ist da, Favicon wird angezeigt, und das Kontaktformular sieht auch gut aus. Apropos gutes Aussehen: Die Standard-Startseite ist zwar ganz hübsch, aber wir können natürlich auch verstehen, wenn du lieber deinen eigenen Slider und dein Shop-Farben nutzen möchtest. Das Tolle: Du musst kein HTML/CSS-Crack sein, um deine Startseite richtig aufzuhübschen. plentymarkets bietet dir einen eigenen Baukasten, der ganz simpel zu bedienen ist:</p>
</div>
<div class="paragraph">
<p>ShopBuilder!</p>
</div>
<div class="paragraph">
<p>Damit du den nutzen kannst, gehts nochmal kurz ins Ceres-Plugin in den Bereich Startseite. Falls du hier schon mal warst und dichg efragt hast: Was ist eine ShopBuilder-Startseite und was bringt e mir wenn ich die anzeigen lasse statt dem Standard? Die Antwort kommt jetzt. Dadurch hast du quasi ein ganz frisches und noch leeres, virtuelles Schaufenster, das du nach und nach aufbauen kannst. Beachte, dass du ja wieder unbemerkt hinterm Vorhang, also in deinem Test-Plugin-Set arbeiten möchtest. Außerdem kannst du deinen Shop in mehreren Sprachen aufsetzen. Über die <strong>Neu</strong>-Kachel kannst du dir verschiedene Entwürfe für deine Startseite anlegen. Superpraktisch, wenn du verschiedene Versionen ausprobieren willst.</p>
</div>
<div class="paragraph">
<p>Und über die Kachel kommst du in den Editor. Duz könntest jetzt deinen Ideen freien Lauf lassen und die komplette Startseite auf deine Vorstellungen anpassen. Und zwar sowohl für Desktop, als auch Smartphone und Tablet.</p>
</div>
<div class="paragraph">
<p>Kümmern wir uns allerdings als erstes um die Farben deines Shops. Der Bereich Design, den du über diese Leiste hier oben öffnest, bietet die die Möglichkeit, jede sichtbare Farbe zu ändern. Tob dich also über den Farbwähler aus oder trag direkt die Hex-Codes hier vorne ein. Mit den Häkchen bestätigst du deine Änderungen und kannst sie auch direkt in der Vorschau hier bestaunen.</p>
</div>
<div class="paragraph">
<p>Genauso einfach geht das übrigens auch mit Schriftarten. Entweder du rägst jeweils eine Schrift-URL ein oder du lädst die Dateien hoch und fählst dann für jede Ausführung die korrekte Font aus. Deine geänderten Schriften siehst du ebenfalls nach einem Klick auf das Bestätigungshäkchen. Mit deiner eigenen Farbe und deiner Font hast du schonmal die ersten Schritte getan. Aber da geht natürlich noch etwas mehr.</p>
</div>
<div class="paragraph">
<p>Zum Beispiel ein ansprechender Slider, der deine Kunden zum Shoppen anregt. Das passende Element ist hier auch schon hinterlegt. Falls nicht, ziehst du es von der Seitenleiste einfach in deinen Shop. Elemente bearbeitest über den kleinen Stift, der jeweils bei Mouse-Over erscheint. Okay, im Slider könntest du Bilder direkt aus deinen Artikeldatensätzen ziehen lassen oder du lädst eigene Sliderbilder hoch. Um dem Namen gerecht zu werden, kannst du bis zu 3 Slides erstellen.</p>
</div>
<div class="paragraph">
<p>Noch ein Beispielelement gefällig?</p>
</div>
<div class="paragraph">
<p>Gut! Dann ändern wir jetzt noch den Titeltext deines Shops. Und fügen vielleicht noch eine Textbox hinzu, mit einer netten Begrüßung an deine Kunden. Für den Anfang sieht das doch schonmal sehr hübsch aus.</p>
</div>
<div class="paragraph">
<p>Das Schöne am ShopBuilder ist, dass du immer direkt sehen kannst, was du änderst, es sich aber nicht sofort auf deinen Shop auswirkt. Und so steht deiner Kreativität nichts im Weg.</p>
</div>
<div class="paragraph">
<p>Bist du dann fertig, musst du deinen Entwurf noch speichern und ihn mit deinem Plugin-Set verlinken. Hier nochmal kurz zur Erinnerung: Wir befinden uns immer noch in einem inaktiven Set, das noch keine Auswirkungen auf den Live-Betrieb hat. Um all deine Änderungen dann schließlich auch in dieser Shop-Preview sehen zu können,speicherst du dein Seit nochmals und stößt wieder damit einen Bereitstellungsprozess an, der einige Minuten in Anspruch nehmen kann. Wenn du diese Seite über Klick auf das entsprechende Set neu lädst und der Speicher-Button nicht mehr ausgegraut ist, rufst du dir hier übder das Auge eine Preview auf und diesen Link kannst du, wie gesagt, auch an Kollegen, Partner, usw. verschicken.</p>
</div>
<div class="paragraph">
<p>Mit wenigen Klicks und einem Baukastenprinzip hast du also schon etwas mehr Individualität in deinen Shop gebracht. Und ist dein Design erstmal umgesetzt, kannst du damit beginnen, dein virtuelles Schaufenster aufzufüllen und deine Artikel zu präsentieren.</p>
</div>
</div>
</div>
</main>