<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Erste Schritte mit deinem Online-Shop</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hier erfährst du, wie du die Plugins Ceres und IO deinem System hinzufügst, wie man ein Plugin-Set anlegt und wie du deinen Webshop live schalten kannst.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/webshop/erste-schritte-ceres#video">Hol dir IO und Ceres (1:03)</a></p>
<p class="tableblock"><a href="/videos/webshop/erste-schritte-set#video">Lege neues Plugin-Set an (1:35)</a></p>
<p class="tableblock"><a href="/videos/webshop/erste-schritte-installieren#video">Installieren und aktivieren (2:00)</a></p>
<p class="tableblock"><a href="/videos/webshop/erste-schritte-live#video">Live stellen (3:51)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/257451791" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Was ist ein Online-Shop?</p>
</div>
<div class="paragraph">
<p>Deine Individualität, dein Image, dein virtuelles Schaufenster!
Und das Schöne: Mit plentymarkets hält dich nichts davon ab, deine Vorstellungen mit einfachen Mitteln umzusetzen.</p>
</div>
<div class="paragraph">
<p>Dein virtuelles Schaufenster besteht aus 2 essentiellen Komponenten: Dem Fundament, in dem die Shop-Logik steckt, das ist das Plugin <strong>IO</strong>. Und: Einem schicken und schnellen Template: <strong>Ceres</strong>. Hast du beide im System, fasst du sie zu einem sogenannten Plugin-Set zusammen und schaffst dir so eine Art Testmodus. In diesem Modus installierst du IO und Ceres. Danach individualisierst und passt den Shop nach deinen Wünschen an und testest ihn. Und hast du deine Testphase abgeschlossen,stellst du alles live.</p>
</div>
<div class="paragraph">
<p>Dein neuer Online-Shop kommt als Plugin in dein System. Das heißt: Er ist einfach zu installieren, update-fähig und flexibel nach deinen Wünschen anpassbar. Und das Beste: In allen neuen Systemen sind die Basis-Online-Shop-Plugins bereits hinterlegt und warten nur noch auf den Startschuss. Falls das bei dir nicht der Fall ist, gelangst du von hier aus auch direkt in den Marketplace und kannst dir unter anderem IO und Ceres laden.</p>
</div>
<div class="paragraph">
<p>Egal ob du schon lange mit plentymarkets arbeitest oder ganz frisch einsteigst: Es existiert immer mindestens ein Plugin-Set in deinem System, das auch bereits aktiv ist. Das erkennst du an dem grünen Punkt. Das bedeutet, alle Plugins, die du hier aktivierst, wirken sich sofort auf deinen Live-Betrieb aus. Das ist gerade bei einem Online-Shop im Aufbau eher unpraktisch, denn du möchtest deinen Kunden schließlich nichts unfertiges präsentieren.</p>
</div>
<div class="paragraph">
<p>Indem du dir ein neues Plugin-Set über das Plus hier oben anlegst, ziehst du quasi einen Vorhang über dein Schaufenster und kannst dahinter alles aufbauen und testen. Falls du schon mit einigen Plugins erfolgreich arbeitest, solltest du das aktuelle Set kopieren. In welchem Set du dich gerade bewegst, erkennst du an der blauen Farbe. Auswählen kannst du dein neues Set mit einem simplen Klick.</p>
</div>
<div class="paragraph">
<p>IO und Ceres warten schon auf dich und sind bereit für eine Installation. Die stößt du über den entsprechenden Button an. Die Installation kann ein paar Minuten in Anspruch nehmen. Und nachdem sie abgeschlossen ist, aktivierst du beide Plugins und speicherst. Dadurch wird ein Breitstellungsprozess angestoßen, der je nach Anzahl der Plugins unterschiedlich lang dauern kann.</p>
</div>
<div class="paragraph">
<p>Ob alles geklappt hat, prüfst du durch Neuladen der Seite, also ein erneuter Klick auf das Plugin-Set, und einen Blick auf deinen Speicher-Button: Ist der ausgegraut, läuft der Prozess noch. Wenn nicht, checkst du als nächstes, ob die Versionsnummern von <strong>aktiv</strong> und <strong>installiert</strong> übereinstimmen. Und dann steht dein Shop für dich bereit.</p>
</div>
<div class="paragraph">
<p>Sollte doch etwas schiefgelaufen sein, wird dir übrigens ein Icon angezeigt, das bei Klick eine Fehlermeldung ausschmeißt.</p>
</div>
<div class="paragraph">
<p>Klick jetzt mal auf das Vorschauauge. Denn dadurch wirst du zu einer Preview-Seite weitergeleitet. Da ist sie also: Die Basis deines Shops. Diesen Preview-Link kannst du an Partner, Kollegen &amp; Co. versenden und in Ruhe durchtesten lassen. Beachte nur, dass der Link nur 24 Stunden gültig ist.</p>
</div>
<div class="paragraph">
<p>Okay, jetzt kann dich also nichts mehr stoppen und du kannst dein Logo einfügen, deine Startseite anpassen, deine Artikel einstellen…​ und weil du eben in einem inaktiven Plugin-Set, bzw. in einer Preview arbeitest, kannst du dich vollends austoben, ohne dass deine Kunden es mitbekommen.</p>
</div>
<div class="paragraph">
<p>Also schau jetzt am besten weitere Videos im Modul, konfiguriere deinen Ceres-Shop direkt am Plugin, individualisiere deinen Store mit dem ShopBuilder, erweitere ihn mit neuen Plugins, wie Themes, Zahlungsarten, Widgets, usw. Wichtig ist nur, dass du alles in diesem Test-Plugin-Set installierst, aktivierst und am besten über die Preview-Funktion direkt ausprobierst.</p>
</div>
<div class="paragraph">
<p>Wenn dann alles fertig ist, aktiviere das Plugin-Set über die Weltkugel, um es live zu stellen, indem du es mit einem plenty-Mandanten verknüpfst. Das alte Plugin-Set deaktivierst du damit automatisch und lüftest den Vorhang deines virtuellen Schaufensters.</p>
</div>
</div>
</div>
</main>