<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Creating a new event procedure</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>1.1.</span><span> Selecting an event</span></a></li>
<li><a href="#120"><span>1.2.</span><span> Adding filters</span></a></li>
<li><a href="#130"><span>1.3.</span><span> Adding procedures</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Activating an event procedure</span></a></li>
<li><a href="#300"><span>3.</span><span> Editing an event procedure</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Event procedures</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Order processing mostly consists of routine tasks. To a large extent, you can let your plentymarkets system take care of these tasks. In particular, sending emails to your customer is a time-consuming tasks, but nonetheless a vital aspect of a service- and customer-oriented online store.
With the <strong>Event procedures</strong>, plentymarkets provides you with an efficient tool for setting up such automatic processes that are reliably managed by your plentymarkets system.
The basic principle of event procedures is simple: Certain <strong>Events</strong> that occur in the online store trigger specific <strong>Procedures</strong>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example: Sending order confirmations</div>
<div class="paragraph">
<p>To automatically send an order confirmation to the customer as soon as a new order is placed, you can create an event procedure in which the Event <strong>New order</strong> is followed by the procedure <strong>Send email</strong>. With the help of the <strong>Filter</strong> function, you can define for which of the new orders emails should be sent.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Creating an event procedure always consists of the following steps:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="#100">Creating an event procedure</a></p>
</li>
<li>
<p><a href="#110">Selecting an event</a></p>
</li>
<li>
<p><a href="#120">Adding one or multiple filters</a></p>
</li>
<li>
<p>Determining which <a href="#130">Procedures</a> should be carried out by the system once the selected event takes place</p>
</li>
<li>
<p><a href="#200">Activating</a> the event procedure</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For practical examples of how to use event procedures effectively, refer to the <a href="/en/automation/best-practices-automation">Best Practices: Procedure manager and event procedures</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Creating a new event procedure</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>System » System settings » Orders » Events</strong> to create a new event procedure. In this menu, you can also view the already existing event procedures and <a href="/en/automation/event-procedures#300">edit</a> them.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new event procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on the <strong>green plus icon</strong> to create a new event procedure.</p>
</li>
<li>
<p>In the editing window that opens, assign a distinct <strong>Name</strong> to the event procedure.</p>
</li>
<li>
<p>Select an <strong>Event</strong>. For more detailed information about events, refer to <a href="#table-event-procedures-event-groups">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The event procedure is created.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="110">1.1. Selecting an event</h3>
<div class="paragraph">
<p>The first steps consists of selecting an <strong>Event</strong> that triggers the <strong>new event procedure</strong>.<br>
<a href="#table-event-procedures-event-groups">Table 1</a> describes the available events according to their event groups.</p>
</div>
<table id="table-event-procedures-event-groups" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Available events and event groups</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Event</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Event group <strong>Order generation</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New order</strong>,<br>
<strong>New incomplete order</strong>,<br>
<strong>New delivery order</strong>,<br>
<strong>New return</strong>,<br>
<strong>New return (by customer)</strong>,<br>
<strong>New credit note</strong>,<br>
<strong>New repair</strong>,<br>
<strong>New multi-order</strong>,<br>
<strong>New multi credit note</strong>,</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The event procedure is triggered as soon as one of the listed order types is created.<br>
The event <strong>New return (by customer)</strong> refers to returns that are initiated by customers in the <strong>My account</strong> area of the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Event group <strong>Order change</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When the status of an order changes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Package number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When a package number is provided for an order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Outgoing items booked</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When outgoing items are booked automatically or manually.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order note</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When an order note is added to an order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order note from customer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When the customer leaves new information for you during <strong>Order processing</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order extended by customer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When the customer extends the order during the <strong>Order process</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manual warehouse change for stock units</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When the warehouse is changed manually for a variation included in the order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change of order type</strong>,<br>
<strong>Change of repair status</strong>,<br>
<strong>Change of payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The event procedure is triggered when the settings for one of the following parameters in an order are changed. The following events are available: <strong>Change of order type</strong>, …​ of <strong>repair status</strong>, …​ of <strong>payment method</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New OpenTrans order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When a new OpenTrans order is created.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Event group <strong>Documents</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Invoice generated</strong>,<br>
<strong>Receipt generated</strong>,<br>
<strong>Delivery note generated</strong>,<br>
<strong>List of delivery addresses generated</strong>,<br>
<strong>Pick list generated</strong>,<br>
<strong>Packing list generated</strong>,<br>
<strong>Offer generated</strong>,<br>
<strong>Dunning letter generated</strong>,<br>
<strong>Order confirmation generated</strong>,<br>
<strong>Credit note generated</strong>,<br>
<strong>Correction document generated</strong>,<br>
<strong>Return slip generated</strong>,<br>
<strong>Invoice reversal document generated</strong>,<br>
<strong>Refund reversal generated</strong>,<br>
<strong>Pro forma invoice generated</strong>,<br>
<strong>Return label saved</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The event procedure is triggered as soon as one of the documents listed is generated.<br>
<strong><em>Important</em></strong>: If you use the procedure <strong>Generate invoice</strong> simultaneously in another event procedure, this event may be triggered twice.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Event group <strong>Payment</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Complete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When complete payment is booked for and assigned to an order, thus leaving the order fully paid.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Partial payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If partial payment made by the customer is booked.<br>
This event is triggered several times if the customer effects multiple partial payments.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Overpay</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When the customer has overpaid the order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rejected</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When a payment is rejected by a payment provider.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Initial payment complete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When a deposit on production items has been fully paid.<br>
Enter the percentage value for deposits on production items in the <strong><a href="/en/orders/basic-settings">System » System settings » Orders » Settings</a></strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment cancelled by the customer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When an already effected payment is cancelled by the customer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Event group <strong>Purchase order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Goods delivered</strong>,<br>
<strong>Partly delivered</strong>,<br>
<strong>Booked out</strong><br>
<strong>Partly booked out</strong>,<br>
<strong>Booked in</strong>,<br>
<strong>Partly booked in</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">These events only apply to the order type purchase order. Depending on your selection here, the event triggering the event procedure is a complete or partial booking in or booking out of reordered stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Purchase order initiated</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When a reorder or redistribution is initiated. With reorders, this means that the reorder has been transmitted to the supplier. Redistributions are initiated when the process of booking items from a source warehouse to a target warehouse is started.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Purchase order finished</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When a reorder or redistribution is finished. For example, this is the case as soon as all items contained in the reorder or redistribution have been fully booked in or booked.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PO delivery note generated</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When the document <strong>PO delivery note</strong> is generated in an order of the type redistribution.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reorder document generated</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When the reorder document is generated in an order of the type reorder.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="120">1.2. Adding filters</h3>
<div class="paragraph">
<p>After selecting an event that triggers the event procedure, select a <strong>Filter</strong> or several. Filters determine which orders are affected by the event procedure.</p>
</div>
<div class="paragraph">
<p>Like the events, the available filters are subdivided into groups. <a href="#table-event-procedures-filter-groups">Table 2</a> lists the available filters according to their filter groups.</p>
</div>
<div class="paragraph instruction">
<p>Adding a filter:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on the event procedure to add a filter to it.</p>
</li>
<li>
<p>Click on the <strong>green plus</strong> in the filter area.</p>
</li>
<li>
<p>Select the desired <strong>Flter type</strong> from the suitable filter group.<br></p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Carry out the desired settings in the filter.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Several filters for one event procedure</div>
<div class="paragraph">
<p>It is possible to select several filters for the same event procedure. In that case, the filters are applied one after the other. Thus, only orders that match all selected filters are affected by the event procedure.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-event-procedures-filter-groups" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Available filters and filter groups</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Filter group <strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one, multiple or all order types.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select orders according to their warehouse or several warehouses.<br>
<strong>One warehouse per order</strong> = Only orders whose variations are assigned to the same warehouse are filtered.<br>
<strong>Multiple warehouses per order</strong> = Only orders whose variations are assigned to different warehouses are filtered.<br>
<strong><em>Or:</em></strong> Select one or more warehouses to filter the orders according to the warehouse(s) assigned to them.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number of order items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are filtered according to the number of variations included per order. Select whether the system filters orders according to a fixed number (==) of variations or according to values greater than (&gt;), greater than or equal to (&gt;=), less than (&lt;) or less than or equal to (⇐) of the selected quantity. You can also limit results by using a second (optional) operator.<br>
<strong><em>Example</em></strong>: The required setting for filtering all orders with more than 5, but less than or equal to 10 variations: &gt;5 ⇐10.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active user</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are filtered according to the active user. The active user is the user who triggers the event procedure. You can also select <strong>ALL</strong> users at once.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Click &amp; Collect</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are filtered according to the shipping method Click &amp; Collect. Click &amp; Collect can only be used for orders that are referred from eBay UK and have the UK as their delivery country. For further information, refer to the chapter on <a href="/en/markets/ebay/ebay-setup#7010">Click &amp; Collect</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are filtered according to one or multiple referrers. You can also select <strong>ALL</strong> referrers at once.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dunning level</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are filtered according to one or multiple dunning levels. You can select <strong>ALL</strong> dunning levels at once or select the option <strong>None</strong> if only orders without any dunning level should be filtered.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are filtered according to one or multiple clients and online stores. You can select <strong>ALL</strong> online stores at once.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are filtered according to one or multiple flags. You can select <strong>ALL</strong> flags at once or select the option <strong>None</strong> if only orders without any flag should be filtered.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Value of items (gross)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are filtered according to their gross value of included variations. You can enter two values and add several operators for both values.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are filtered according to one or multiple payment methods. You can select <strong>ALL</strong> payment methods at once.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are filtered according to their payment status. For example, this status can consist of rejection of a payment or a waiting status.<br>
<strong><em>Example</em></strong>: If a payment provider rejects the payment made by a customer during the order process in the online store, you can use this event so that it is followed by a procedure such as automatically sending an email notification to the customer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Loyalty program</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are filtered according to their loyalty program.<br>
<strong>ALL</strong> = all orders are filtered.<br>
<strong>Without</strong> = Only orders not belonging to any loyalty program are filtered.<br>
<strong>Amazon SameDay</strong> = Only Amazon orders that have to be shipped on the same day are filtered.<br>
<strong>Amazon NextDay</strong> = Only Amazon orders that have to be shipped on the following day are filtered.<br>
<strong>Amazon SecondDay</strong> = Only Amazon orders that have to be shipped 2 days after placement of the order are filtered.<br>
<strong>Amazon Prime</strong> = Only Amazon Prime orders are filtered.<br>
<strong>Amazon Prime SameDay</strong> = Only Amazon Prime orders that have to be shipped on the same day are filtered.<br>
<strong>Amazon Prime NextDay</strong> = Only Amazon Prime orders that have to be shipped on the following day are filtered.<br>
<strong>Amazon Prime SecondDay</strong> = Only Amazon Prime orders that have to be shipped 2 days after placement of the order are filtered.<br>
<strong>eBay Plus</strong> = Only eBay Plus orders are filtered.<br>
For more information on Amazon and ebay orders, refer to the respective manual pages on <a href="/en/markets/amazon/amazon-setup#4200">Amazon</a> and <a href="/en/markets/ebay/ebay-setup#100">eBay</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are filtered according to the total weight of the variations included in the order. Use the operators greater than, less than or equal to as well as the measuring units g and kg to filter orders with a certain weight.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Document</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are filtered according to the documents generated in the order. The operators <strong>Current invoice</strong> and <strong>Reversal invoice</strong> as well as <strong>Not available</strong> and <strong>Available</strong> can be used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are filtered according to the date of incoming order. Here, you can select the period between <strong>until 1 day</strong> and <strong>until 31 days</strong> in relation to the current date.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are filtered according to the date of incoming payment. Here, you can select the period between <strong>until 1 day</strong> and <strong>until 31 days</strong> in relation to the current date.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are filtered according to their order status. A particular status can be selected. Use the operators greater than, less than or equal to to filter orders that correspond to the selected status or that are in statuses below or above the selected status.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Postcodes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are filtered according to one or several postcodes. A value can be entered here. This value is considered as the start value. Enter several values (separated by a comma).<br>
<strong><em>Example:</em></strong> If you enter the value “34”, all postcodes beginning with “34” are considered.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Filter group <strong>Item</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contains stocked item(s)</strong>,<br>
<strong>Contains production item(s)</strong>,<br>
<strong>Contains special order item(s)</strong>,<br>
<strong>Contains colli</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are filtered according to the item type included in the order. Items belonging to different item types may be contained in an order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contains only stocked items</strong>,<br>
<strong>Contains only production item(s)</strong><br>
<strong>Contains only special order item(s)</strong><br>
<strong>Contains only collis</strong><br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">See above. Orders that exclusively consist of the item types listed are filtered.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item(s) included</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter one or several item ID’s of the items according to which orders should be filtered. This way, all orders containing the item(s) with this particular ID are filtered.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation(s) included</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the variation ID’s of the variations according to which orders should be filtered. This way, all orders containing the variation(s) with this particular ID are filtered.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="130">1.3. Adding procedures</h3>
<div class="paragraph">
<p>After having selected the desired event group as well as one or multiple filters, the last step consists of deciding which procedure(s) should be carried out. In case the selected event takes place, these procedures are carried out for the orders according to the filter settings. <a href="#table-event-procedures-procedure-groups">[table-event-procedures-procedure-groups]</a> describes the available procedures and procedure groups.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Selecting several procedures</div>
<div class="paragraph">
<p>If you select several procedures, they are carried out one after the other. To change the order in which procedures are carried out, click on the grey <strong>arrows</strong> next to the procedures that you have already added.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Adding procedures:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on the event procedure for which a procedure should be added.</p>
</li>
<li>
<p>Click on the <strong>green plus</strong> in the <strong>Procedures</strong> area.</p>
</li>
<li>
<p>Select the desired <strong>Procedure type</strong> from the suitable procedure group.<br></p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Carry out the desired settings in the procedure.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-event-procedures-procedure-group" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Available procedures and procedure groups</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Procedure</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Procedure group <strong>Item</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add variation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a variation ID. This procedure adds a particular variation to an existing order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send coupon item to manufacturer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a template. This procedure sends a coupon item in the form of the selected template to the manufacturer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Assign serial numbers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure assigns a serial number to the order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Procedure group <strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Create credit note (order)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure automatically creates a credit note order as soon as the selected event takes place.<br>
Choose one of the following settings for the <strong>Date</strong> option:<br>
<strong>Standard</strong> = The credit note order is created with the current date.<br>
<strong>Return date</strong> = The credit note order is created with the date of the return.<br>
<strong>Order date</strong> = The credit note order is created with the date of the creation of the order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use order template</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure automatically uses a certain order template. Order templates are created in the <strong>System » System settings » Orders » Order template</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate delivery orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure automatically creates delivery orders as soon as the selected event takes place.<br>
<strong>Important</strong>: This option is only displayed if the correct <a href="/en/orders/managing-orders#320">assignment of warehouses</a> has been carried out beforehand.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Split into delivery orders by gross value of items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Splits the order items of an order into various delivery orders. The delivery orders are split by an amount that the order items in a delivery order are not allowed to exceed. You can set up an error status that is assigned to the delivery order in case one of its order items exceeds the selected amount.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Split into delivery orders by item availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are split into delivery orders according to availability of the order items. Create <strong>Availability groups</strong> by dragging the desired item availabilities to the right. For every group, a new delivery order including the order items with the determined availability is created.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Split into orders by item availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">See procedure <strong>Split into delivery orders by item availability</strong> This procedure splits orders into separate orders according to item availability.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Split by available line of items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are split according to both an attribute selected by you and available stock. The order is split if different variations of an item have been ordered and not all variations are available. Items that are immediately available remain in the original order. Delivery orders will be created for items that have missing variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Split by delivery date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are automatically split up into delivery orders according to the delivery date saved in the order. The customer can indicate the delivery date during the checkout process. It is also possible to save or change the delivery date of order items in the order itself. In addition, you can use a <strong>Group function</strong> to assign delivery dates to orders.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the order type that an order should be changed into. The options <strong>Order</strong>, <strong>Offer</strong> and <strong>Advance order</strong> are available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status that should be assigned to the order by the event procedure.<br>
<strong>Ignore<a href="/en/orders/managing-orders#300">delivery orders</a></strong>: The procedure <strong>Change status</strong> changes the status of both the main order and its delivery orders by default. Activate the option if you only want the status of the main order to be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change flag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a flag that should be applied by the event procedure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change dunning level</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a dunning level that should be applied by the event procedure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change status of main order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the status that should be assigned to the main order if the order is split (function: <strong>Split up order</strong>) or when using the function <strong>Generate delivery orders</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Calculate sales data for data export</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Revenue data is usually stored in a separate database to maintain a high level of system performance during the generation of invoices or credit notes. Since it is not allowed to generate internal invoices for certain payment methods, such as <strong>Klarna</strong>, <strong>Neckermann</strong> or <strong>Quelle</strong>, this database does not contain any data for orders with these payment methods. However, you can use this procedure to generate export data for those orders (COLLMEX, DATEV etc.) with the help of an event procedure.<br>
<strong><em>Important</em></strong>: The procedure is only carried out if the payment method of the order is <strong>Quelle</strong>, <strong>Klarna</strong> or <strong>Neckermann</strong>. Thus, these payment methods should be selected in the filter of the event procedure. The <strong>Order type</strong> should be defined by the filters <strong>Order</strong>, <strong>Warranty</strong> and/or <strong>Repair</strong>, since invoices can only be generated for these order types.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Book outgoing items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Check the box if outgoing items should be booked as soon as the event takes place.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Notify Otto of changes to the order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure informs Otto of changes to orders received from the market <strong>Otto</strong>. The notification is sent when the order changes to the statuses <strong>Order received</strong>, <strong>Outgoing items booked</strong>, <strong>Return</strong> and <strong>Cancellation</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send cancellation to Otto Direktversand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure notifies Otto Direktversand of the cancellation of an order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send shipping confirmation to Otto Direktversand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure provides Otto Direktversand with a shipping confirmation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Open URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure opens a URL provided within the procedure. The URL can be used to transmit information on orders. For example, the order ID can be included by attaching the template variable <strong>OrderID</strong> to the URL. The URL must be entered in its full length and according to the template <strong><a href="http://www.example.com" class="bare">http://www.example.com</a></strong>.<br>
Example including the attached order ID: <strong><a href="http://www.example.com/">OrderID</a>/</strong>.<br>
The available template variables are listed within the procedure.<br>
<strong>HTTP method</strong> = Select <strong>GET</strong>, <strong>PUT</strong> or <strong>POST</strong>.<br>
<strong>Content type</strong> = Save the content type for the URL.<br>
<strong>Example</strong>: If XML content should be transferred, enter <strong>text/xml</strong>.<br>
<strong>Request Content</strong> = You can transfer texts here, for example XML or JSON content.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Assign sales representative to order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure saves a sales representative in an order. The sales representative is assigned according to the postcode of the address linked to the recipient of the order. For a sales representative to be assigned, it is mandatory that a range of postcodes is saved in the representative’s contact data. The contact ID of the sales representative is saved instead of the name.<br>
For more detailed information, refer to the <a href="/en/crm/managing-contacts">Managing contacts</a> page of the manual.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete Klarna invoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure deletes an invoice with the payment method <strong>Klarna</strong> when an order is cancelled. For further information on order cancellations and further event procedures, refer to the <a href="/en/payment/payment-providers/klarna">Klarna</a> page of the manual.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send order confirmation to Fruugo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure sends an order confirmation to the market <a href="/en/markets/fruugo">Fruugo</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send cancellation to Fruugo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure notifies the market <a href="/en/markets/fruugo">Fruugo</a> of an order cancellation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Notify Cdiscount of order changes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure informs <a href="/en/markets/cdiscount">Cdiscount</a> of status changes in orders received from the market Cdiscount.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send cancellation to Flubit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure notifies the market <a href="/en/markets/flubit">Flubit</a> of the cancellation of an order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send order confirmation to idealo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure sends an order confirmation to the market <a href="/en/markets/idealo-checkout/idealo-setup">idealo</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send cancellation to idealo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure notifies the market <a href="/en/markets/idealo-checkout/idealo-setup">idealo</a> of the cancellation of an order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send order cancellation to bol.com</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure notifies the market <a href="/en/markets/bol-com">bol.com</a> of the cancellation of an order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send cancellation to real.de</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure notifies the market <a href="/en/markets/real-de/real-setup">real</a> of the cancellation of an order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change shipping profile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure changes the shipping profile saved in the order according to the option you select within the procedure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Recalculate shipping profiles of order items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure recalculates the shipping profiles assigned to the individual order items and saves the updated shipping profiles with the order items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Procedure group <strong>Documents</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate invoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure automatically generates an invoice as soon as the selected event takes place. <br>
Further options appear when the procedure is selected: Indicate a <strong>Payment due</strong> date, set up an <strong>Early payment discount</strong> or add a <strong>Comment</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate multi-invoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure automatically generates a multi-invoice as soon as the selected event takes place.<br>
An optional <strong>Comment</strong> can be entered and appears below the list of variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate order confirmation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure automatically generates an order confirmation as soon as the selected event takes place.<br>
An optional <strong>Comment</strong> can be entered and appears below the list of variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate credit note (Document)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure automatically generates a credit note (document) as soon as the selected event takes place.<br>
Choose one of the following settings for the <strong>Date</strong> option:<br>
<strong>Standard</strong> = The credit note document is generated with the current date.<br>
<strong>Credit note date</strong> = The credit note document is generated with the date on which the original credit note order has been created.<br>
An optional <strong>Comment</strong> can be entered and appears below the list of variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate adjustment form</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure automatically generates an adjustment form as soon as the selected event takes place.<br>
An adjustment forms are used for credit notes that have not been paid off, as written records for accounting purposes and serve as proof for the reimbursement of a cancelled invoice.<br>
An optional <strong>Comment</strong> can be entered and appears below the list of variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate multi credit note</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure automatically generates a multi credit note as soon as the selected event takes place.<br>
An optional <strong>Comment</strong> can be entered and appears below the list of variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate delivery note</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure automatically generates a delivery note as soon as the selected event takes place.<br>
An optional <strong>Comment</strong> can be entered and appears below the list of variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate dunning letter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure automatically generates a dunning letter as soon as the selected event takes place.<br>
To display the dunning fee, enter the <strong>Variation ID</strong> of the <a href="/en/orders/order-documents/generating-dunning-letters#200">Item representing the dunning charge</a> which you have created in your plentymarkets system beforehand.<br>
An optional <strong>Comment</strong> can be entered and appears below the list of variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate return slip</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure automatically generates a return slip as soon as the selected event takes place.<br>
An optional <strong>Comment</strong> can be entered and appears below the list of variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate gift card</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure automatically generates a gift card as soon as the selected event takes place.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate invoice reversal document</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure automatically generates an invoice reversal document as soon as the selected event takes place. A reversal document cancels the invoice and not the order itself. Thus, the reversal document is only generated if an invoice already exists for the order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate refund reversal document</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure automatically generates a refund reversal document as soon as the selected event takes place.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate pro forma invoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure automatically generates a proforma invoice as soon as the selected event takes place.<br>
Further options appear when the procedure is selected: Indicate a <strong>Payment due</strong> date, set up an <strong>Early payment discount</strong> or add a <strong>Comment</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Procedure group <strong>Customer</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change customer rating</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the seller rating to which the previously set seller rating should be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change customer type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the customer type to which the previously set customer type should be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which kind of email should be sent to which recipients or customers. Select the desired combination of <strong>Template</strong> and <strong>Recipient</strong> and click on <strong>Add</strong> to set up the procedure. Different combinations are possible within this procedure. Click on <strong>Delete</strong> to remove recipients that you have previously set up. If no email recipient has (yet) been defined for an event procedure, the note <strong>No recipients</strong> is displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send eBay message</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the desired email template for the message.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Assign sales representative to customer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure automatically saves sales representatives in contact data. For a sales representative to be assigned, a range of postcodes has to be saved in the sales representative’s contact data. The <strong>Contact ID</strong> of the sales representative is saved instead of the name. For further information, refer to the <a href="/en/crm/managing-contacts">Managing contacts</a> page of the manual.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change customer class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the customer classs to which the previously set customer class should be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Procedure group <strong>Shipping</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Assign storage location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the option <strong>Unassign old storage location</strong> if a new storage location should be assigned once the selected event takes place.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unassign storage location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure unassigns the storage locations linked to the order item once the selected event takes place.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Create shipping packages</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Creates shipping packages for an order before the order is opened in the shipping center.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer shipping permission to FBA</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure sends a shipping permission to <a href="/en/markets/amazon/amazon-setup#3300">FBA</a> so that shipping is initiated by FBA.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send shipping confirmation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sends a shipping confirmation to a market or a payment provider once the orders placed via this market or payment provider has been shipped.<br>
Individual procedures are available for: <a href="/en/payment/payment-providers/amazon-pay">Amazon Pay</a>, <a href="/en/payment/payment-providers/crefopay">CrefoPay</a>, <a href="/en/payment/payment-providers/klarna">Klarna</a>, <a href="/en/payment/payment-providers/klarna-checkout-uk">Klarna UK</a>, <a href="/en/payment/payment-providers/masterpayment">Masterpayment</a>, <a href="/en/payment/payment-providers/payolution">Payolution</a>, <a href="/en/payment/payment-providers/payone">PAYONE</a>, <a href="/en/markets/plus-gartenxxl">Netto eStores</a>, <a href="#payment/payment-providers/POSTPAY">[payment/payment-providers/POSTPAY]</a>, <strong>Zentralverkauf</strong>, <a href="/en/markets/hood">Hood</a>, <a href="/en/markets/ebay/ebay-setup#. eBay">/en/markets/ebay/ebay-setup</a>, <a href="/en/markets/rakuten/rakuten-setup">Rakuten.de</a>, <a href="/en/markets/fruugo">Fruugo</a>, <a href="/en/markets/flubit">Flubit</a>, <a href="/en/markets/idealo-checkout/idealo-setup">idealo</a> and <a href="/en/markets/bol-com">bol.com</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send tracking information to Rakuten</strong>,<br>
<strong>Send preparation for shipping to Rakuten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This procedure sends the tracking number or a confirmation that the order is currently being prepared for shipping to the market <a href="/en/markets/rakuten/rakuten-setup">Rakuten.de</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Procedure group <strong>Payment methods</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send credit note</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A credit note is sent to the payment provider.<br>
Individual procedures are available for: <strong>ClickandBuy</strong>, <a href="/en/payment/payment-providers/payone">PAYONE</a>, <a href="/en/payment/payment-providers/postpay">POSTPAY</a>, <a href="/en/payment/payment-providers/worldpay">Worldpay</a> and <a href="/en/payment/payment-providers/klarna">Klarna</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send order to Klarna</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">An order is sent to <a href="/en/payment/payment-providers/klarna">Klarna</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Notify Klarna of changes to the order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A notification on changes on an order is sent to <a href="/en/payment/payment-providers/klarna">Klarna</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send reversal to ClickandBuy</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A reversal is sent to ClickandBuy.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send refund</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A refund is sent to the payment provider.<br>
Individual procedures are available for: <a href="/en/payment/payment-providers/amazon-pay">Amazon Pay</a>, <a href="/en/payment/payment-providers/upg">UPG</a>, <a href="/en/payment/payment-providers/payolution">Payolution</a> and <a href="/en/payment/payment-providers/klarna-checkout-uk">Klarna UK</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send refund</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A refund is sent to the payment provider.<br>
Individual procedures are available for: <a href="/en/payment/payment-providers/masterpayment">Masterpayment</a>, <a href="/en/payment/payment-providers/paypal-plus">PayPal PLUS</a> and <a href="/en/payment/payment-providers/paypal">PayPal</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send cancellation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A cancellation is sent to the payment provider.<br>
Individual procedures are available for: <a href="/en/payment/payment-providers/upg">UPG</a>, <a href="/en/payment/payment-providers/amazon-pay">Amazon Pay</a>, <strong>ClickandBuy</strong>, <a href="/en/payment/payment-providers/paymorrow">paymorrow</a>, <a href="/en/markets/plus-gartenxxl.de">Netto eStores</a>, <a href="/en/payment/payment-providers/postpay">POSTPAY</a>, <a href="/en/markets/rakuten/rakuten-setup">Rakuten.de</a>, <a href="/en/payment/payment-providers/worldpay">Worldpay</a>, <a href="/en/payment/payment-providers/sage-pay">SagePay</a>, <a href="/en/payment/payment-providers/klarna-checkout-uk">Klarna UK</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Permit payment via direct debit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the event procedure to activate or deactivate the payment method <strong>Direct debit</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Permit payment on invoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the event procedure to activate or deactivate the payment method <strong>Invoice</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Procedure group <strong>Return</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate DHL return label</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Generates a DHL return label via <a href="/en/fulfilment/preparing-the-shipment#3200">DHL Retoure Online</a> or <a href="/en/fulfilment/preparing-the-shipment#3100">DHL Retoure with enclosed return labels</a>. The generated return label is made available in the <strong>Shipping center</strong> or in the <strong>My account</strong> area of the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send return</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sends a return to a market or a payment provider.<br>
Individual procedures are available for: <a href="/en/payment/payment-providers/klarna">Klarna</a>, <a href="/en/markets/amazon/amazon-setup">Amazon</a>, <a href="/en/markets/plus-gartenxxl">Netto eStores</a>, <a href="/en/payment/payment-providers/postpay">POSTPAY</a>, <a href="/en/markets/rakuten/rakuten-setup">Rakuten</a>, <a href="/en/markets/shopgate">Shopgate</a>, <a href="/en/markets/flubit">Flubit</a>, <a href="/en/markets/idealo-checkout/idealo-setup">/en/markets/idealo-checkout/idealo-setup</a>, <a href="/en/markets/fruugo">Fruugo</a> and <a href="/en/markets/cdiscount">Cdiscount</a>.<br>
For further information refer to the manual page on the respective <a href="/en/payment/payment-providers">payment method</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send return status to bol.com</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sends the status of the return to the market <a href="/en/markets/bol-com">bol.com</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Procedure group <strong>Market listings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Post feedback</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatically generates feedback for a listing.<br>
Individual procedures are available for <a href="/en/markets/hood#600">hood</a>, <a href="/en/markets/ricardo-ch#700">ricardo</a> and <a href="/en/markets/ebay/ebay-setup#1300">eBay</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send payment notification</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatically sends a payment confirmation.<br>
Individual procedures are available for <a href="/en/markets/hood#600">Hood</a> and <a href="/en/markets/ebay/ebay-setup#1300">eBay</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay return</strong>,<br>
<strong>Issue eBay refund to customer</strong>,<br>
<strong>Mark eBay return as received</strong>,<br>
<strong>eBay refund sent</strong>,<br>
<strong>Upload own return label at eBay</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Once the selected event takes place, the listed procedures are triggered within the management of returns and refunds at <a href="/en/markets/ebay/ebay-setup#1300">eBay</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reject eBay cancellation request</strong>,<br>
<strong>Accept eBay cancellation request</strong>,<br>
<strong>Create an order cancellation on eBay</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Once the selected event takes place, the listed procedures are triggered within the management of order cancellations at <a href="/en/markets/ebay/ebay-setup#1300">eBay</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start dunning/dispute process on eBay</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatically sends a dunning letter or starts a dispute on <a href="/en/markets/ebay/ebay-setup#1300">eBay</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Procedure group <strong>Board</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Create card</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Once the selected event happens, a new card is <a href="/en/basics/working-with-pletnymarkets/boards#30">added</a> in the <strong>Start » Boards</strong> menu.<br>
Select the <strong>Board</strong> and the <strong>Column</strong> as the place for the new card within the procedure. Within the procedure, you can assign an optional <strong>Prefix</strong> for the new card. The prefix can be used for better distinction between the cards and is automatically added at the beginning of the card title.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete cards</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Once the selected event happens, selected cards are <a href="/en/basics/working-with-plentymarkets/boards#40">deleted</a> in the <strong>Start » Boards</strong> menu.<br>
Select the <strong>Board</strong> and the <strong>Column(s)</strong> whose cards should be deleted within the procedure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Move cards</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Once the selected event happens, selected cards are <a href="/en/basics/working-with-plentymarkets/boards">moved</a> in the <strong>Start » Boards</strong> menu.<br>
Select the <strong>Board</strong> and the <strong>Column(s)</strong> from and to which the cards should be moved within the procedure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Procedure group <strong>Purchase order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Set delivery date (reorder only)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">For orders of the type reorder, the estimated delivery date is saved in the reorder.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Initiate purchase order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Once the selected events happens, reorders or redistributions are initiated. With reorders, this means that the reorder is transmitted to the supplier. With redistributions, this means that the process of booking items from a source warehouse to a target warehouse begins with this procedure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Finish purchase order</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Once the selected events happens, reorders or redistributions are finished. Once the orders are finished, editing these orders is not possible any more.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate reorder document</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Once the selected event happens, the reorder document is generated for orders of the type <strong>Reorder</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate PO delivery note</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Once the selected event happens, the document <strong>PO delivery note</strong> is generated for orders of the type <strong>Redistribution</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Activating an event procedure</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As soon as you have selected the event, filter(s) and procedure(s) for an event procedure, the event procedure must be activated. From the point of activation onwards, the event procedure applies your settings to the selected orders.</p>
</div>
<div class="paragraph">
<p>In case an event procedure is temporarily not needed, you can deactivate it.</p>
</div>
<div class="paragraph instruction">
<p>Activating an event procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Events</strong>.</p>
</li>
<li>
<p>Select the event procedure from the list displayed on the left.<br>
→ The event procedure opens.</p>
</li>
<li>
<p>Activate the option <strong>Active</strong> in the <strong>Settings</strong> area.<br>
→ The event procedure is activated.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Check the settings before activation</div>
<div class="paragraph">
<p>We recommend that you check the selected events, filters, procedures and all related settings carefully before you activate the event procedure. Activating event procedures that are not fully set up can cause malfunctions and errors.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Editing an event procedure</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can edit the <strong>Name</strong>, the <strong>Event</strong>, the <strong>Filter</strong> and the <strong>Procedure</strong> during or after the set-up of the respective event procedure. Delete individual filters or procedures by using the <strong>Delete</strong> function displayed next to each selected option. <strong>Save</strong> the settings to apply the changes.</p>
</div>
</div>
</div>
</main>