<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Creating a new procedure</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Carrying out basic settings</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Carrying out filter settings</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Selecting one or multiple procedures</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.</span><span> Activating the procedure</span></a></li>
<li><a href="#600"><span>3.</span><span> Managing procedures</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Procedure manager</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, you can use the <strong>Procedure manager</strong> to automatically carry out procedures at fixed times of the day.</p>
</div>
<div class="paragraph">
<p>For example, use the procedure manager to determine a fixed point in time at which customers who have not effected payment for orders placed via eBay or your own online store are sent reminders or dunning letters. These email notifications can be sent automatically using the procedure manager.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Creating a new procedure</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Creating a procedure always consists of the following steps:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/automation/procedure-manager#200">Carrying out basic settings</a></p>
</li>
<li>
<p><a href="/en/automation/procedure-manager#300">Carrying out filter settings </a></p>
</li>
<li>
<p><a href="/en/automation/procedure-manager#400">Selecting one or multiple procedures</a></p>
</li>
<li>
<p><a href="/en/automation/procedure-manager#500">Activating the procedure</a></p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="200">1.1. Carrying out basic settings</h3>
<div class="paragraph">
<p>In the first step, you name the procedure and determine a point in time at which it is carried out.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Procedures</strong>.</p>
</li>
<li>
<p>Open the <strong>New procedure</strong> tab.</p>
</li>
<li>
<p>Enter a distinct name for the procedure.</p>
</li>
<li>
<p>Choose a point in time at which the procedure should be carried out on a daily basis.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The procedure is created.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Carrying out filter settings</h3>
<div class="paragraph">
<p>In the next step, you select a precise filter for the procedure so that the procedure is only executed for specific orders. To do so, prroceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out filter settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Procedures</strong>.</p>
</li>
<li>
<p>Open the tab <strong>Filter</strong>.</p>
</li>
<li>
<p>Carry out the desired settings according to the information provided in <a href="#table-procedure-manager-filters">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-procedure-manager-filters" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings in the <strong>Filter</strong> tab</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the <a href="/en/orders/managing-orders#1200">order status</a> of the orders to which the procedure should be applied automatically. Only one status can be selected here. At the selected point in time, the procedure is applied to all orders that are in precisely this status.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more order types to which the procedure should be applied. Several order types can be selected by pressing Ctrl/cmd + clicking. Select the option <strong>All</strong> if all order types should be considered.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Last status change</strong>, <br>
<strong>Return date</strong><br></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the options <strong>today</strong>, <strong>yesterday</strong> or <strong>Enter the days</strong> and enter the number of days.<br>
This selection is especially important for reminders and dunning letters to make sure that the procedure is only applied to orders for which the indicated timespan has passed.<br>
<strong><em>Important</em></strong>: This filter <strong>Last status change</strong> only affects processes for which a status has been saved. Thus, it does not affect e.g., manually booked incoming payments that no status has been saved for.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the options <strong>today</strong> or <strong>yesterday</strong> or choose a timespan between <strong>2</strong> and <strong>110</strong> days. The procedure then only applies to orders that came or are coming in during the selected timespan.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>The order includes an entire line of items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Yes</strong> and select an attribute from the drop-down list appearing below. This filter searches for the number of items included in the order to which the selected attribute applies. If one of these items is out of stock, the filter is not applied to the respective order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item is included</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the <strong>IDs</strong> of the items separated by a comma. For the procedure to be applied, these items have to be included in the order.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>give eBay feedback</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This filter only affects processes for eBay orders for which you as the seller have already received positive feedback from the customers. Select the option <strong>YES</strong> if only orders for which this has happened should be affected by the procedure. For further information on the filter <strong>give eBay feedback</strong>, refer to the <a href="/en/omni-channel/multi-channel/ebay/ebay-setup#1300">eBay</a> page of the manual.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Outgoing items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how the status of outgoing items should be considered for the procedure. Select the option <strong>OPEN</strong> to search for orders for which outgoing items have not booked yet. Select the option <strong>BOOKED</strong> to search for orders for which outgoing items have been booked. Select the option <strong>NO RELEVANCE</strong> if the status of outgoing items should not be considered.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options:<br>
<strong>NO RELEVANCE</strong> = Incoming payment is not considered for the procedure.<br>
<strong>OPEN</strong> = This filter searches for unpaid orders or order for which incoming payment has not yet been booked in your plentymarkets system.<br>
<strong>BOOKED</strong> = This filter searches for orders for which incoming payment in general has already been booked in your plentymarkets system.<br>
<strong>PARTIALLY BOOKED</strong> = This filter searches for orders for which incoming payment has been partially booked in your plentymarkets system.<br>
<strong>COMPLETELY BOOKED</strong> = This filter searches for orders to which complete payment has been booked or which are overpaid.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options:<br>
<strong>NO RELEVANCE</strong> = The payment method is not considered for the procedure.<br>
According to the payment methods you have set up in your plentymarkets system, further options appear in the drop-down menu. Select the payment method linked to the orders to which the procedure should be applied.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more order referrers to which the procedure should be applied. Several order types can be selected by pressing Ctrl/cmd + clicking. Select the option <strong>All</strong> if all order referrers should be considered.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or <strong>ALL</strong> owners to whose orders the procedure should be applied.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipped on</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how the estimated shipping date of the order should be considered for the procedure. The relevant date here is the date saved in the field <strong>Shipped on</strong> in the <strong>Settings</strong> tab of an order. Select the option <strong>Today</strong> to search for orders that are to be shipped on the same date. Alternatively, select one of the options <strong>Yesterday</strong>, <strong>2 days ago</strong> or <strong>3 days ago</strong> to determine other timespans. Select the option <strong>ALL</strong> if no particular shipping date should be considered for the procedure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Items shipped on</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select how the shipping date of the order should be considered for the procedure. The relevant date here is the actual date of outgoing items. Select the option <strong>Today</strong> to search for orders for which outgoing items have been booked on the same date. Alternatively, select one of the options <strong>Yesterday</strong>, <strong>2 days ago</strong> or <strong>3 days ago</strong> to determine other timespans. Select the option <strong>ALL</strong> if the date of outgoing items should not be considered for the procedure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the option <strong>ALL</strong> if the procedure should be applied to orders assigned to all clients or select the option <strong>Default store</strong> to search for orders placed in the default online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment due date was exceeded</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number (in days). This filter searches for orders in which the payment due date has been exceeded by the indicated number of days.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>OR</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you activate the filter <strong>positive feedback received</strong>, all other filter selections are deativated. The eBay filter can only be used on its own and not in combination with other filters. Do not make any selection for the option <strong>eBay</strong> if you wish to use the previously set up filters.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">1.3. Selecting one or multiple procedures</h3>
<div class="paragraph">
<p>After selecting the desired filters, you choose the concrete <strong>Procedures</strong> that should be carried out for the filtered orders automatically by your plentymarkets system. For example, select an email template to be sent to customers or use a procedure to change the status or the dunning level of an order automatically. For eBay orders, it is possible to post <a href="/en/omni-channel/multi-channel/ebay/ebay-setup#1300">feedback</a> automatically or start the dispute process. In addition, you can involve one of the listed <a href="/en/payment#400">collection agencies</a> by placing a check mark next to the option <strong>Active</strong>. Debt collectors are then automatically informed about the concerned orders by your plentymarkets system. Proceed as described below to select one or multiple procedures.</p>
</div>
<div class="paragraph instruction">
<p>Selecting a procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Procedures</strong>.</p>
</li>
<li>
<p>Open the <strong>Procedure</strong> tab.</p>
</li>
<li>
<p>Carry out the desired settings according to the information provided in <a href="#table-procedure-manager-procedures">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The procedure is added.</p>
</li>
</ol>
</div>
<table id="table-procedure-manager-procedures" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings in the <strong>Procedure</strong> tab</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send email template</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an email template from the drop-down list. Make sure that the selected template has been <a href="/en/crm/sending-emails#1200">set up</a> correctly beforehand. Leave the selection on the option <strong>---</strong> if no email template should be sent.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the <a href="/en/orders/managing-orders#1200">order status</a> that should be assigned to the orders affected by the procedure.  Leave the selection on the option <strong>---</strong> if no status change should take place.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change dunning level</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the dunning level that should be assigned to the orders affected by the procedure. This procedure changes the dunning level saved in the <strong>Overview</strong> tab of an order. Leave the selection on the option <strong>---</strong> if the dunning level should not be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change flag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the flag that should be assigned to the orders affected by the procedure. This procedure changes the flag saved in the <strong>Overview</strong> tab of an order. Leave the selection on the option <strong>---</strong> if the flag should not be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a procedure that should be carried out automatically on eBay for orders with the order referrer <strong>eBay</strong>. The options <strong>give positive feedback</strong> and <strong>Start dispute process</strong> are available. Leave the selection on the option <strong>---</strong> if no procedure should be carried out on eBay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>atriga (debt collection)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the option <strong>ACTIVE</strong> if you have set up the debt collection provider <a href="/en/payment/payment-providers/atriga">atriga</a> in your plentymarkets system. atriga is then automatically informed about the concerned orders by your plentymarkets system. Leave the selection on the option <strong>---</strong> if you do not work with atriga.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>mediafinanz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the option <strong>ACTIVE</strong> if you have set up the debt collection provider <a href="/en/payment/payment-providers/mediafinanz">mediafinanz</a> in your plentymarkets system. mediafinanz is then automatically informed about the concerned orders by your plentymarkets system. Leave the selection on the option <strong>---</strong> if you do not work with mediafinanz.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. Activating the procedure</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After having carried out the settings for filters and procedures, you have to activate the procedure as a whole. Proceed as described below to activate the procedure.</p>
</div>
<div class="paragraph instruction">
<p>Activating the procedure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Procedures</strong>.</p>
</li>
<li>
<p>The procedure set up by you is displayed in the <strong>Procedures</strong> tab.</p>
</li>
<li>
<p>Open the procedure by clicking on the <strong>plus</strong> icon on the left.<br>
→ The procedure is opened.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The procedure is activated.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">3. Managing procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Procedures</strong> tab in the <strong>System » Orders » Procedures</strong> menu offers you an overview of all procedures that you have set up. In this list, you can activate, deactivate, rename or delete individual procedures, if necessary.<br>
In addition, the times at which the procedures were last started and successfully completed are displayed for each procedure.</p>
</div>
</div>
</div>
</main>