<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Why you should use processes</span></a></li>
<li><a href="#200"><span>2.</span><span> How are processes set up?</span></a></li>
<li><a href="#300"><span>3.</span><span> Which functions are available?</span></a></li>
<li><a href="#400"><span>4.</span><span> Do you need help?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Processes</h1><div class="sect1">
<h2 id="100">1. Why you should use processes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Similar to <a href="/en/automation/event-procedures">event procedures</a>, processes help you to automate complex workflows in your plentymarkets system. However, processes allow you to automatically print order documents or shipping labels and, depending on the workflow at hand, include user dialogues including different options. To use the processes, the tool <a href="https://marketplace.plentymarkets.com/en/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentyBase</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> has to be installed and running on your local computer.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. How are processes set up?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As soon as you have installed and started <a href="https://marketplace.plentymarkets.com/en/plugins/externe-tools/plentyBase_5053/" target="_blank" rel="noopener">plentyBase</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> on your local computer, you are ready to go.</p>
</div>
<div class="paragraph">
<p>Go to <strong>Setup » Processes » New process</strong> to set up a new process. Refer to the <a href="/en/automation/processes/setting-up-processes">Setting up processes</a> page of the manual for more information on how to set up processes.</p>
</div>
<div class="paragraph">
<p>You can access and run the processes you have already set up any time. Click on <strong>Processes</strong> in the upper menu bar of the plentymarkets back end to do so. The manual page on <a href="/en/automation/processes/carrying-out-processes">running processes</a> describes the necessary steps to run processes.</p>
</div>
<div class="paragraph">
<p>You prefer watching the setup process in videos that are easy to follow? No problem! We have listed some useful video tutorials in our <a href="/en/automatisierung/prozesse/best-practices">practical examples</a> (German only). Also note our <a href="https://www.youtube.com/watch?v=p5NF6rLr7ho" target="_blank" rel="noopener">Deep Dive</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> (from 03:52:00, German only). It shows you how to set up several processes for your shipping and fulfillment procedures. Refer to our <a href="https://forum.plentymarkets.com/t/plentymarkets-deep-dive-beispiel-prozesse/584693" target="_blank" rel="noopener">forum</a> to download the sample processes shown in the video (German only).</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Which functions are available?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Processes provide you with a variety of different settings and options. These are represented by 3 different types of settings that you can use within the processes:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/automation/processes/work-steps">Work steps</a></p>
</li>
<li>
<p><a href="/en/automation/processes/procedures">Procedures/Control elements</a></p>
</li>
<li>
<p><a href="/en/automation/processes/sub-procedures">Sub-procedures</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Do you need help?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Just like the workflows within your business, processes and their functions can be quite complex. On <a href="#automatisierung/prozesse/FAQ">this manual page</a>, you can find a list of the most common errors as well as tips on how to deal with them (German only). In case of further questions or problems, we are always happy to assist you in our <a href="https://forum.plentymarkets.com/c/prozesse" target="_blank" rel="noopener">forum category</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</main>