<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_ftp_programs"><span>1.</span><span> FTP programs</span></a></li>
<li><a href="#_setting_up_ftp_access"><span>2.</span><span> Setting up FTP access</span></a></li>
<li><a href="#_accessing_the_ftp_server_via_an_ftp_program"><span>3.</span><span> Accessing the FTP server via an FTP program</span></a></li>
<li><a href="#_accessing_files_via_webspace_tool"><span>4.</span><span> Accessing files via Webspace tool</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>FTP access</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>To make images, PDF files and other files accessible in your online store, these files must be saved in your plentymarkets system. Upload larger amounts of data using the file transfer protocol (FTP). In order to do this, you need an FTP program, also called an "FTP client", and the FTP access data.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Access to item images on AWS systems</div>
<div class="paragraph">
<p>Item images of plentymarkets systems hosted on AWS are moved from the FTP server to Amazon S3 storage after upload. As such, you cannot access saved item images via the FTP server.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Custom PHP and CGI scripts</div>
<div class="paragraph">
<p>Due to security reasons, implementing custom PHP and CGI scripts is not permitted. If you would like third-party software to be installed, contact the plentymarkets support. Alternatively, you can turn to a classic web hosting service.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_ftp_programs">1. FTP programs</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Programs for transferring files via FTP can be found for free on the internet or for a small fee. We have gathered a small selection of FTP tools for Windows and Mac OS X:</p>
</div>
<div class="paragraph">
<p><strong>FTP programs for Windows</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://filezilla-project.org/" target="_blank" rel="noopener">FileZilla</a></p>
</li>
<li>
<p><a href="http://www.smartftp.com/" target="_blank" rel="noopener">SmartFTP</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>FTP programs for Mac OS X</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="http://cyberduck.ch/" target="_blank" rel="noopener">Cyberduck</a></p>
</li>
<li>
<p><a href="https://filezilla-project.org/download.php/" target="_blank" rel="noopener">FileZilla</a></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can also do the following instead of working with an FTP program:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Use the integrated file browser</p>
</li>
<li>
<p>Set up an FTP connection as a Windows network resource</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_ftp_access">2. Setting up FTP access</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need the following information to set up a connection to a your plentymarkets system and transfer files with an FTP program:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Host/server</p>
</li>
<li>
<p>User name</p>
</li>
<li>
<p>Password</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The server and user name are already saved in your system. Select a secure password.</p>
</div>
<div class="paragraph instruction">
<p>Setting up FTP access:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>plentymarkets Logo (Start) » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on <strong>FTP account</strong>.<br>
→ The details of your FTP account are shown.</p>
</li>
<li>
<p>Make a note of the entry listed in the line <strong>FTP user name</strong>.</p>
</li>
<li>
<p>Make a note of the entry listed in the line <strong>FTP host</strong>.</p>
</li>
<li>
<p>Enter a <strong>new password</strong>.</p>
</li>
<li>
<p>To confirm the password, also enter it in the <strong>Repeat new password</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The password is activated.<br>
→ Access to the FTP server is activated. The activation takes approximately 60 minutes.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_accessing_the_ftp_server_via_an_ftp_program">3. Accessing the FTP server via an FTP program</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Now save the access data that you noted down in the FTP program. If you are asked for a port while setting up the connection, enter the default value <strong>21</strong> or leave this field blank. Once you have saved the access data, connect to the FTP server to gain access to the server’s file system. Now you can use FTP to upload files onto the server or download them onto your computer. Additionally, you can create and open directories and rename or delete directories and files. For security reasons, it makes sense to close the FTP connection after transferring files. For further information, refer to the documentation of the FTP program used.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Problems connecting?</div>
<div class="paragraph">
<p>When using these settings, connection problems usually are related to special network settings (e.g. Proxy Server, Firewalls) or to the particular characteristics of your online service. If you encounter problems, contact your network administrator first and/or call your online service’s hotline!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_accessing_files_via_webspace_tool">4. Accessing files via Webspace tool</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Instead of working with an FTP program, you also can change data with our webspace tool, which you can access by going to <strong>CMS » Webspace</strong>. For further information about using the ajaxplorer, refer to our <a href="https://www.plentymarkets.eu/-plentymarkets-4-120-Nun-mit-komfortablem-Dateibrowser/b-138/">blog post</a> on this topic (German).</p>
</div>
</div>
</div>
</main>