<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Overview of the new structure</span></a></li>
<li><a href="#_looking_ahead"><span>2.</span><span> Looking ahead</span></a></li>
<li><a href="#200"><span>3.</span><span> Migration requirements</span></a></li>
<li><a href="#20"><span>4.</span><span> Migration</span></a>
<ul class="sectlevel2">
<li><a href="#21"><span>4.1.</span><span> Migrating the item data</span></a>
<ul class="sectlevel3">
<li><a href="#_migration_pattern"><span>4.1.1.</span><span> Migration pattern</span></a></li>
<li><a href="#22"><span>4.1.2.</span><span> Particularities</span></a></li>
</ul>
</li>
<li><a href="#26"><span>4.2.</span><span> Migrating the price columns</span></a></li>
</ul>
</li>
<li><a href="#30"><span>5.</span><span> Preparation in detail</span></a>
<ul class="sectlevel2">
<li><a href="#_system_settings_before_switching_to_plentymarkets_7"><span>5.1.</span><span> System settings before switching to plentymarkets 7</span></a>
<ul class="sectlevel3">
<li><a href="#35"><span>5.1.1.</span><span> Carrying out the migration settings</span></a></li>
<li><a href="#38"><span>5.1.2.</span><span> Creating a pattern for new variation numbers</span></a></li>
</ul>
</li>
<li><a href="#_item_data"><span>5.2.</span><span> Item data</span></a>
<ul class="sectlevel3">
<li><a href="#55"><span>5.2.1.</span><span> Checking EAN/GTIN</span></a></li>
<li><a href="#50"><span>5.2.2.</span><span> Checking the units</span></a></li>
<li><a href="#_checking_category_links"><span>5.2.3.</span><span> Checking category links</span></a></li>
</ul>
</li>
<li><a href="#_price_columns"><span>5.3.</span><span> Price columns</span></a>
<ul class="sectlevel3">
<li><a href="#60"><span>5.3.1.</span><span> Checking combinations of price columns</span></a></li>
<li><a href="#70"><span>5.3.2.</span><span> Checking the currency settings</span></a></li>
<li><a href="#80"><span>5.3.3.</span><span> Comparing the price columns for referrers</span></a></li>
<li><a href="#90"><span>5.3.4.</span><span> Checking the price visibility as it pertains to customer classes</span></a></li>
</ul>
</li>
<li><a href="#_checking_amazon_item_availability_for_sku_migration"><span>5.4.</span><span> Checking Amazon item availability for SKU migration</span></a></li>
<li><a href="#_using_template_variables_in_layout_templates"><span>5.5.</span><span> Using template variables in layout templates</span></a></li>
</ul>
</li>
<li><a href="#_external_stores"><span>6.</span><span> External stores</span></a>
<ul class="sectlevel2">
<li><a href="#_check_system_for_external_stores"><span>6.1.</span><span> Check system for external stores</span></a></li>
<li><a href="#_deleting_unneeded_external_stores"><span>6.2.</span><span> Deleting unneeded external stores</span></a></li>
<li><a href="#_connecting_plentymarkets_to_shopware"><span>6.3.</span><span> Connecting plentymarkets to Shopware</span></a></li>
</ul>
</li>
<li><a href="#210"><span>7.</span><span> Making an appointment for the migration</span></a></li>
<li><a href="#_after_migration"><span>8.</span><span> After migration</span></a>
<ul class="sectlevel2">
<li><a href="#100"><span>8.1.</span><span> Correcting GTIN (only for GTIN with leading zeros)</span></a></li>
<li><a href="#_assigning_unit_price_specification_for_listings"><span>8.2.</span><span> Assigning unit price specification for listings</span></a></li>
<li><a href="#_preparing_to_exchange_data_via_soap_api"><span>8.3.</span><span> Preparing to exchange data via SOAP API</span></a>
<ul class="sectlevel3">
<li><a href="#_assigning_prices_for_soap"><span>8.3.1.</span><span> Assigning prices for SOAP</span></a></li>
<li><a href="#_assigning_barcodes_for_soap"><span>8.3.2.</span><span> Assigning barcodes for SOAP</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#_migration_of_markets"><span>9.</span><span> Migration of markets</span></a></li>
<li><a href="#_mention_interface_information"><span>10.</span><span> Mention interface information</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Migration guide</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This page includes important information about migrating to plentymarkets 7. The item architecture was completely redone for plentymarkets 7. This page describes the new architecture and provides you with an overview of its features. Some of these new features are still in development. It also describes the procedure for migrating data to the new version. You will learn how to prepare your system for the migration. Please note that the migration process cannot be reversed. If you do not adequately prepare your system for the migration, then you will likely spend a lot of time and energy fixing errors after the migration. At worst, you may lose some of your data. Therefore, read the following information carefully and prepare your data for the migration as described here.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">SOAP API only available for plentymarkets 7 Classic</div>
<div class="paragraph">
<p>After migrating to plentymarkets 7, the SOAP API is only available for customers with a Classic contract. Customers with a Zero contract cannot use the SOAP API. All plentymarkets 7 customers can use the REST API.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Overview of the new structure</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the new item architecture, an item is a complete data record. It is composed of one main variation and any additional variations. In other words, an item is composed of global data that applies to all of the item variations (item data) as well as data that is managed separately for each variation (variation data).</p>
</div>
<div class="paragraph">
<p>Item data:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Global settings (condition, manufacturer, age rating, etc.)</p>
</li>
<li>
<p>Texts</p>
</li>
<li>
<p>Properties</p>
</li>
<li>
<p>Cross-selling settings</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Variation data:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Images</p>
</li>
<li>
<p>Market visibility</p>
</li>
<li>
<p>Sales prices</p>
</li>
<li>
<p>Barcodes</p>
</li>
<li>
<p>Units</p>
</li>
<li>
<p>Warehouse</p>
</li>
<li>
<p>Stock</p>
</li>
<li>
<p>Categories</p>
</li>
<li>
<p>Suppliers</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Every item has a main variation that cannot be deleted. This main variation is not the same thing as the item. Rather, it differs from the other variations in that its characteristics can be passed on to other variations of the item. The main variation can either be sold to customers or it can be a virtual variation, which is only used to manage other variations of the item.</p>
</div>
<div class="paragraph">
<p>Image 1 shows a schematic representation of the item architecture in plentymarkets 7.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/version-upgrade/assets/EN-plentymarkets-7-Migration-Guide-01.png" alt="EN plentymarkets 7 Migration Guide 01">
</div>
<div class="title">Figure 1. Current state of the new item architecture</div>
</div>
<div class="paragraph">
<p>There are many advantages to the new item architecture. The most important goal was to give users more flexibility when managing prices, item data and variations. The information below provides a short overview of the new features and their advantages.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The price sets and price columns were replaced with sales prices. These sales prices are created and managed centrally. They are then assigned to variations. This concept makes it easier for you to manage your prices. It also provides you with more flexibility when creating very specific prices. For example, the discount scales that were previously created for specific items and customer classes can now be set up with sales prices. This gives you more flexibility when creating graduated prices.</p>
</li>
<li>
<p>More flexibility when working with variations. It is now possible to save individual values for variations, e.g. values for the weight, dimensions, suppliers, shipping costs and other costs. It is also possible for the main variation to pass on data to other variations. This helps minimise the time and effort needed to manage similar variations.</p>
</li>
<li>
<p>The main variation can pass on specific item data to the other variations. This reduces the time and effort needed to manage data without making the configuration any less flexible. The inheritance feature allows you to manage characteristics centrally for the main variation and then to update the values for several other variations all at once. Settings that were saved for the main variation can automatically be transferred to the other variations when they are created. You can even change the main variation later on. The variations will still automatically inherit the new settings as long as you have activated the inheritance function. You can also deactivate the inheritance function if you want to carry out settings for the variations individually.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_looking_ahead">2. Looking ahead</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets subscribes to the principles of agile software development. This means that we do not follow classic development cycles, in which new features are all released together in one large batch. Instead, we break projects into smaller pieces or increments which are released in regular intervals. Since the item structure encompasses nearly all areas of plentymarkets, the smallest possible increment was still quite large and required us to make a comprehensive change. Nonetheless, we are still using the principles of agile software development while restructuring the item data. This current version is only the first step of the process. We have developed enough at this point to give you a first glimpse of the new features. While you get accustomed to the new structure, we will continue to make adjustments and will regularly release these improvements according to the agile philosophy. We are going to tackle the following projects in the next increments:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The ability to save a different name, short description, description etc. for each variation and possibly for each variation and client</p>
</li>
<li>
<p>The ability to define different properties for each variation</p>
</li>
<li>
<p>The ability to manage prices for each customer</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Image 2 shows our goal of being able to manage item texts and properties for each variation.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/version-upgrade/assets/EN-plentymarkets-7-Migration-Guide-02.png" alt="EN plentymarkets 7 Migration Guide 02">
</div>
<div class="title">Figure 2. Looking ahead; managing data for each variation</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. Migration requirements</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Note the following requirements for migrating your system to plentymarkets 7.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Hosting</strong>: If you are hosting plentymarkets on an own server or in the plentymarkets cloud (cluster), you need to relocate to the AWS cloud to migrate to plentymarkets 7.<br>
→ If the system’s main domain is hosted by an external provider, you also need to save the new IP address with your external domain provider after <a href="/en/basics/working-with-plentymarkets/plentymarkets-account#relocation">relocating to the AWS cloud</a>.</p>
</li>
<li>
<p><strong>SOAP</strong>: SOAP interfaces developed by you, partners or agencies must be tested for plentymarkets 7 Stable compatibility before the migration. Check with the developer or agency that the interface is compatible with plentymarkets 7 Stable.</p>
</li>
<li>
<p><strong>plentymarkets Shipping</strong>: plentymarkets Shipping cannot be used with plentymarkets 7 and is no longer supported. It was completely taken over from the processes and
You need to install <a href="https://marketplace.plentymarkets.com/en/plugins/integration/plentyBase_5053">plentyBase</a> to be able to work with them.<br>
The software plentyBase works in the background, you only need to login with your user name to the plentymarkets Backend via a browser as usual.</p>
</li>
<li>
<p><strong>Markets</strong>: At this stage, not all markets are functioning in plentymarkets 7. Before migrating, check the <a href="/en/basics/version-upgrade">list</a> of those markets that have not been migrated yet.</p>
</li>
<li>
<p><strong>Preparation</strong>: Read this migration guide and follow the preparations described.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Also note that the SOAP API is only available to customers with a Classic contract after migration to plentymarkets 7. Customers with a Zero contract cannot use the SOAP API. All plentymarkets 7 customers can use the REST API.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">4. Migration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter teaches you how to migrate your data to the new item architecture. The description is divided into two main parts, which teach you how to migrate <strong>item data</strong> and <strong>price columns</strong>. Both parts require you to do a little bit of work in advance. The preparatory work is briefly described in this chapter. However, you can find a detailed description in the chapter <a href="/en/basics/version-upgrade/migration-guide#30">Preparation in detail</a>.</p>
</div>
<div class="sect2">
<h3 id="21">4.1. Migrating the item data</h3>
<div class="sect3">
<h4 id="_migration_pattern">4.1.1. Migration pattern</h4>
<div class="paragraph">
<p>The following pattern is used when migrating item data to the new item architecture:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Migrating the item data</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Migrated data type</th>
<th class="tableblock halign-left valign-top">Behaviour</th>
<th class="tableblock halign-left valign-top">Exceptions</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Master item (item without variations) ⇒ Main variation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s settings and data will be carried over.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation⇒ Variation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The variation’s settings and data will be carried over.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variations without settings<br>
⇒ Variation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The main variation’s settings and data will be carried over.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item/variation number will only be assigned once.<br>
New variation numbers will be generated for all of the other variations (see below).</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Not all data formats are migrated</div>
<div class="paragraph">
<p>Due to the new item structure, not all item data formats of the <strong>Data exchange » Dynamic export</strong> will be migrated. Incompatible data formats are removed during migration.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph subhead">
<p>Exception: Item/Variation numbers</p>
</div>
<div class="paragraph">
<p>In the new item architecture, each variation number can only be used once. This means that new variation numbers may need to be assigned during the migration in some cases. The following pattern is used when migrating data:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Migrating item/variation numbers</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top"><strong>Item/Variation number</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">New path</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exception 1:<br>
Items/Variations without item/variation numbers</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A new, unique variation number will be generated for each variation. This variation number is composed of a prefix and the next variation number. Before data is migrated, go to <a href="/en/item/managing-items#15">System » Item » Settings</a> and use the settings <strong>Prefix for new variation numbers (plentymarkets 7 and higher)</strong> and <strong>Next variation number (plentymarkets 7 and higher)</strong> to specify this information.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exception 2:<br>
Items/Variations with the same item/variation number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The variation that is migrated first receives the item/variation number. A new, unique variation number will be generated for all of the other variations. This variation number is determined by the <a href="/en/basics/version-upgrade/migration-guide#35">migration settings</a> found in the menu <strong>System » Settings » Data » Migration</strong>. It is controlled with the setting <strong>Duplicate number</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Exception 3:<br>
Items with multiple price sets</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">One variation can be turned into several different variations. When the first price set is migrated, the variation receives the item/variation number. A new, unique variation number will be generated for all of the other variations. This variation number is determined by the <a href="/en/basics/version-upgrade/migration-guide#35">migration settings</a> found in the menu <strong>System » Settings » Data » Migration</strong>. It is controlled with the setting <strong>Duplicate number</strong>.<br>
<strong>Note:</strong> If you migrate an item that has multiple price sets and you have saved the same <strong>Content</strong> and <strong>Unit</strong> for several of the price sets, then only the first price set will be migrated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preparation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Carry out or check the <a href="/en/basics/version-upgrade/migration-guide#35">migration settings</a>.<br>
Go to <a href="/en/item/managing-items#15">System » Item » Settings</a> and configure the settings <strong>Prefix for new variation numbers (plentymarkets 7 and higher)</strong> and <strong>Next variation number (plentymarkets 7 and higher)</strong>.<br>
<a href="/en/basics/version-upgrade/migration-guide#50">Check</a> whether you have items with multiple price sets. Then check whether any of these price sets use the same content and unit. Change the content and unit for the additional price sets.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="22">4.1.2. Particularities</h4>
<div class="paragraph subhead">
<p><strong>Unit 1</strong> and <strong>Unit 2</strong></p>
</div>
<div class="paragraph">
<p>In the new item architecture, the fields <strong>Unit 1</strong> and <strong>Unit 2</strong> were replaced with the field <strong>Variation name</strong>. Use the <a href="/en/basics/version-upgrade/migration-guide#35">migration settings</a> to specify how the content of these fields should be migrated. The following pattern is used when migrating data:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Migrating the fields <strong>Unit 1</strong> and <strong>Unit 2</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top"><strong>Unit 1</strong>, <strong>Unit 2</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">New path</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Behaviour</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Depending on how you configured the <a href="/en/basics/version-upgrade/migration-guide#35">migration settings</a>, the system will either discard one of the units or it will merge both of the fields together.<br>
If you want the fields <strong>Unit 1</strong> and <strong>Unit 2</strong> to be combined together in the field <strong>Variation name</strong>, then open the <a href="/en/basics/version-upgrade/migration-guide#35">migration settings</a> and specify which separator should be used. The content of both fields will be inserted into the <strong>Variation name</strong> field and will be separated from each other with this character.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preparation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/basics/version-upgrade/migration-guide#50">Check</a> the units and specify the separator. Change the fields <strong>Unit 1</strong> and/or <strong>Unit 2</strong> if needed.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph subhead">
<p>Store visibility</p>
</div>
<div class="paragraph">
<p>The new client visibility setting controls whether a variation is visible in the online store. There is no longer one central setting to control whether an entire item is visible in the online store. Rather, the client visibility is defined for each individual variation. This setting is found in the variation’s <strong>Availability</strong> tab.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Migrating the store visibility</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top"><strong>Store visibility</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">New path</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Availability</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preparation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">None</p></td>
</tr>
</tbody>
</table>
<div id="25" class="paragraph subhead">
<p>GTIN1 to GTIN4, ISBN</p>
</div>
<div class="paragraph">
<p>EAN/GTIN and ISBN numbers are now saved as barcode definitions in the new item architecture. There is no longer a limit on how many GTIN/ISBN numbers can be saved. You can save as many barcode definitions as you want for each variation. Five barcode definitions are created during the migration. They match the current GTIN and ISBN. The following pattern is used when migrating data:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Migrating GTIN1 to GTIN4/ISBN</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top"><strong>GTIN1</strong> to <strong>GTIN4</strong>, <strong>ISBN</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">New path</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Behaviour</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item:</strong> Current GTIN1 to GTIN4 and ISBN will be saved as barcodes for the main variation.<br>
<strong>Variations:</strong> Existing GTIN1 to GTIN4 will be saved as barcodes for the variations. Barcodes will not be created for any variations that do not have their own GTIN, i.e. the item’s GTIN will not be used.<br>
Assignment of existing GTIN during the migration:<br>
<strong>GTIN13</strong> if there are 13 characters that are all numbers.<br>
<strong>UPC</strong> if there are 12 characters that are all numbers.<br>
<strong>GTIN128</strong> if there is a different number of characters that are all numbers.<br>
<strong>Code128</strong> if there is a different number of characters and at least one of these characters is not a number.<br>
<strong><em>Note:</em></strong> Leading zeros of GTIN codes are truncated during migration. Because this changes the code’s character count, the GTIN is not migrated as a GTIN data record but instead is saved as a Code128 or UPC.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preparation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/basics/version-upgrade/migration-guide#100">Check</a> for EAN/GTIN that start with a zero.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="26">4.2. Migrating the price columns</h3>
<div class="paragraph">
<p>The previously existing price sets and price columns were replaced with sales prices in the new item architecture. These sales prices are defined in the <strong>System » Item » Sales prices</strong> menu. When you open a variation, you will be able to add these sales prices and then save the actual monetary amounts. The new sales prices are composed of the following settings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Referrer</p>
</li>
<li>
<p>Currency</p>
</li>
<li>
<p>Customer class</p>
</li>
<li>
<p>Client (store)</p>
</li>
<li>
<p>Amazon accounts</p>
</li>
<li>
<p>eBay accounts</p>
</li>
<li>
<p>Country of delivery</p>
</li>
<li>
<p>Price type</p>
</li>
<li>
<p>Item quantity, starting from which the price applies</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You will need to open a variation and add sales prices to it before you can enter actual prices, i.e. monetary amounts. Previously, prices were calculated from a combination of settings in various areas (table 6). These settings are now used to create your new sales prices. The number of sales prices that are created depends on the complexity of the previous settings. Existing price columns are analysed and given the following priority during the migration process. This information is then used to calculate the new sales prices:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Priority when creating sales prices</caption>
<colgroup>
<col style="width: 10%;">
<col style="width: 30%;">
<col style="width: 30%;">
<col style="width: 30%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Priority</th>
<th class="tableblock halign-left valign-top">Price column definition</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Preparation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System » Orders » Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The order referrer’s price column has the highest priority for referrers greater than or equal to 2.0.<br>
<strong>Exception:</strong> Referrers that have price columns for specific accounts/platforms, e.g. eBay, Amazon</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Check which price columns were set up in the <strong>Order referrer</strong> menu and <a href="/en/basics/version-upgrade/migration-guide#80">compare</a> them to the price columns saved for individual markets. Make any changes as needed.<br>
<strong>Fallback:</strong> Some markets allow you to specify an individual price column (e.g. Shopgate). If you selected the standard price for these markets but you also selected a different price column under <strong>System » Orders » Order referrer</strong>, then this price column will be used instead of the standard price.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System » Orders » Payment » Currencies</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Take a look at the <strong>Currency conversion</strong> option:<br>
<strong>Use price column</strong> = The amount will be taken directly from the price column.<br>
<strong>Live conversion</strong> = The current exchange rate will be used to convert the amount in the price column.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Check the <strong>Currency conversion</strong> setting for every client. If your clients use different settings, then consider whether it makes sense to change them so that <a href="/en/basics/version-upgrade/migration-guide#70">all clients use the same settings</a>, thus reducing the number of newly created sales prices.</p>
</li>
<li>
<p>Clients with the setting "Use price column":<br>
<a href="/en/basics/version-upgrade/migration-guide#75">Check</a> which price columns were linked to currencies in the menu <strong>System » Orders » Payment » Currencies</strong>. Make sure that all of your items have amounts saved in these price columns.<br>
<strong>Important:</strong> If you did not save an amount, then the variation’s standard price will be used for the same currency. Depending on the exchange rate, this can cause new prices to drastically differ from one another.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System » CRM » Classes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Goes into effect if price columns are irrelevant for order referrers and currencies.<br>
<strong>Note:</strong> Volume discounts are no longer defined for customer classes. Rather, they are defined as sales prices.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>A sales price is created for every price column and price visibility that is currently used (<strong>Show everyone</strong>, <strong>Only show B2C customer classes</strong>, <strong>Only show B2B customer classes</strong>). Therefore, check the <strong>Price visibility</strong> setting as it pertains to <a href="/en/basics/version-upgrade/migration-guide#90">customer classes</a>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System » Client » Select client » Online store » Settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Goes into effect if there are no other settings with a higher priority.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Check the price columns that were selected in the menus <a href="/en/basics/version-upgrade/migration-guide#60">Referrer, Currency, Customer class, Client (store)</a>. If the same price column is selected in more than one of these menus, then the settings will be combined. Check these combinations and make sure that the settings do not lead to any unexpected behaviour.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Price columns are converted into sales prices one at a time. The standard price is migrated first along with all of its settings. The priority described above is used for the migration. All of the relevant sales prices are created during the migration process. All of the other price columns are then migrated one at a time, e.g. price column 1, price column 2, etc. If a price column is not used or included in any item, then it will not be migrated.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="30">5. Preparation in detail</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Check and update your item data</div>
<div class="paragraph">
<p>Make sure that your item data is up-to-date before you begin the migration. Delete any old test items and make sure that your prices are accurate. This will make it much easier to migrate the data and will reduce the amount of time needed for correcting any errors after the migration.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Prepare your system as described in this chapter to ensure that your item data is migrated without any problems. Make sure that you have completed all of these preparatory tasks before you begin migrating your item data. Otherwise, you may need to spend a large amount of time correcting errors after the migration. At worst, inadequate preparation may cause you to lose data.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Carry out the settings and preparatory tasks in your current plentymarkets 6 version before you begin the migration process.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_system_settings_before_switching_to_plentymarkets_7">5.1. System settings before switching to plentymarkets 7</h3>
<div class="sect3">
<h4 id="35">5.1.1. Carrying out the migration settings</h4>
<div class="paragraph">
<p>Carry out the following migration settings before you switch to plentymarkets 7.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the migration settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » Data » Migration</strong>.</p>
</li>
<li>
<p>Expand the menu <strong>Items (settings for migrating to plentymarkets 7)</strong>.<br>
→ The migration settings will be displayed.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the explanations given in table 7.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Migration settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Create main variation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide how items with variations should be migrated. Select whether a main variation should be created from the item data.<br>
<strong>Yes</strong> (default setting) = An additional variation will be created. The item data will be saved in this variation. This variation will be the main variation.<br>
<strong>Example:</strong> You have one item with 4 variations before the migration. This will turn into 5 variations after the migration. The former item will become the main variation.<br>
<strong>No</strong> = The data that is saved for the item will be discarded.<br>
<strong>Example:</strong> You have one item with 4 variations before the migration. This will turn into 4 variations after the migration. One of the former variations will be the main variation.<br>
<strong>Important:</strong> Item data will not be migrated if you select the option <strong>No</strong>. The data will be discarded. For markets (e.g. Amazon, Zalando etc.) with parent child item relationships, plentymarkets is not synchronised with the market. Therefore, we recommend using the default setting <strong>Yes</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Merge Unit 1 + 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The fields Unit 1 and Unit 2 are combined together during the migration to form the field <strong>Variation name</strong>.<br>
Decide how the units should be migrated:<br>
<strong>Unit 1 + Unit 2</strong> = The fields will be combined together. The content will be displayed in the order <strong>Unit 1</strong><strong>Unit 2</strong>. Use the option <strong>Separator for merging Unit 1 + 2</strong> to decide which separator should be used.<br>
<strong>Unit 2 + Unit 1</strong> = The fields will be combined together. The content will be displayed in the order <strong>Unit 2</strong><strong>Unit 1</strong>. Use the option <strong>Separator for merging Unit 1 + 2</strong> to decide which separator should be used.<br>
<strong>Unit 1</strong> = Only the content of the field <strong>Unit 1</strong> will be migrated. The content of the field <strong>Unit 2</strong> will not be migrated.<br>
<strong>Unit 2</strong> = Only the content of the field <strong>Unit 2</strong> will be migrated. The content of the field <strong>Unit 1</strong> will not be migrated.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Separator for merging Unit 1 + 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option is relevant if you selected <strong>Unit 1 + Unit 2</strong> or <strong>Unit 2 + Unit 1</strong>:<br>
Enter the separator that should be displayed between these two units. The separator can be any combination of spaces, characters (commas, semicolons, slashes, etc.) and letters.<br>
<strong>Note:</strong> The separator will be used exactly as it was entered into this field. In other words, you need to enter spaces if you want them to be part of the separator.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Duplicate number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In plentymarkets 7, each variation number can only be used once. If an item/variation number is used multiple times, then the variation that is migrated first receives the existing number. A new, unique variation number will be assigned for all of the other variations. Decide how you want these variation numbers to be assigned.<br>
<strong>Generate new number</strong> = The variation that is migrated first receives the item/variation number. New numbers are generated for the rest of the variations. Go to <a href="/en/item/managing-items#15">System » Item » Settings</a> and enter the prefix and next variation number that should be used for generating these numbers.<br>
<strong>Add counter to make existing number unique</strong> = The variation that is migrated first receives the item/variation number. The rest of the variations will be made unique by adding ascending numbers to the end of this existing number.<br>
<strong>Example:</strong> The item/variation number XY12345 is used three times in the system. Three different variations are created during the migration. These new variations receive the variation numbers XY12345, XY123452 and XY123453.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="38">5.1.2. Creating a pattern for new variation numbers</h4>
<div class="paragraph">
<p>Before you switch to plentymarkets 7, decide how new variation numbers should be created. Proceed as described below to specify the pattern.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Settings</strong>.</p>
</li>
<li>
<p>Configure the settings <strong>Prefix for new variation numbers (plentymarkets 7 and higher)</strong> and <strong>Next variation number (plentymarkets 7 and higher)</strong>. Pay attention to the explanations given in table 8.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. Pattern for the next variation number</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prefix for new variation numbers (plentymarkets 7 and higher)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a prefix that should be added to the beginning of the number when new variation numbers are generated. If the field is empty, the prefix <strong>NEW-</strong> is used.<br>
<strong>Note:</strong> The setting only goes into effect for plentymarkets 7 and higher.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Next variation number (plentymarkets 7 and higher)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the variation number that should be assigned next. Any new variation numbers that are generated afterwards will be given ascending numbers starting from this point.<br>
The next variation number that is displayed here will be updated as soon as a new variation number was generated. In other words, you will always see the number that will be assigned for the next variation.<br>
<strong>Note:</strong> The setting only goes into effect for plentymarkets 7 and higher.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="_item_data">5.2. Item data</h3>
<div class="sect3">
<h4 id="55">5.2.1. Checking EAN/GTIN</h4>
<div class="paragraph">
<p>Leading zeros in EAN/GTIN codes are truncated during migration. Because this changes the code’s character count, the EAN/GTIN is not migrated as a GTIN but instead is saved as a Code128 or UPC. As such, check if GTIN with one or more leading zeros exist before migration. If EAN with leading zeros exist, you will need to correct these GTIN <a href="/en/basics/version-upgrade/migration-guide#100">after the migration</a>.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to export the EAN/GTIN data.</p>
</div>
<div class="paragraph instruction">
<p>Exporting EAN data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data exchange » Export » Dynamic export</strong>.</p>
</li>
<li>
<p>Create a new <a href="/en/data/export-import/exporting-data">data format</a> of the type <a href="/en/data/export-import/data-formats/item">Item</a>.<br>
→ The recommended data fields and import procedures are listed in table 9.</p>
</li>
<li>
<p>Open the CSV file.</p>
</li>
<li>
<p>Check the GTIN.<br>
❏ Do any GTIN start with one or more zeros?<br>
→ If no GTIN with leading zeros exist, you do not need to take any action.</p>
</li>
<li>
<p>If you find GTIN with leading zeros, save the CSV file for later use. You will need this GTIN data to correct the GTIN <a href="/en/basics/version-upgrade/migration-guide#100">after the migration</a>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 9. Data fields of the data format <strong>Item</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Procedure</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">None</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemEAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">None</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">GTIN code for an item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemEAN2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">None</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional GTIN code for an item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemEAN3</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">None</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional GTIN code for an item</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemEAN4</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">None</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional GTIN code for an item</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="50">5.2.2. Checking the units</h4>
<div class="paragraph">
<p>Units are somewhat of an anomaly when migrating price sets and require a bit of extra attention.</p>
</div>
<div class="paragraph subhead">
<p>Checking the fields "Unit 1" and "Unit 2"</p>
</div>
<div class="paragraph">
<p>In the new item architecture, the fields <strong>Unit 1</strong> and <strong>Unit 2</strong> were replaced with the field <strong>Variation name</strong>.  Use the <a href="/en/basics/version-upgrade/migration-guide#35">migration settings</a> to specify whether the content of one field or both fields should be migrated. If you want both fields to be migrated, then enter the separator that should be displayed between the two units. Decide on an appropriate separator before you begin migrating your data. This will ensure that the resulting varition name meets your needs. Edit the content of the fields <strong>Unit 1</strong> and/or <strong>Unit 2</strong> if needed.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 10. Example for migrating the fields <strong>Unit 1</strong> and <strong>Unit 2</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Old</th>
<th class="tableblock halign-left valign-top">New</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit 1:</strong> 50 g<br>
<strong>Unit 2:</strong> 60,00 € per 1000 g<br>
<strong>Merge Unit 1 + 2</strong>: Unit 1 + Unit 2<br>
<strong>Separator for merging Unit 1 + 2</strong>: "; " (i.e. semicolon+space)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation name:</strong> 50 g; €60.00 per 1000 g</p></td>
</tr>
</tbody>
</table>
<div class="paragraph subhead">
<p>Checking the fields "Unit" and "Content"</p>
</div>
<div class="paragraph">
<p>In the old item architecture, items were uniquely identified by their SKU, which was composed of the <strong>item ID</strong>, <strong>price ID</strong> and <strong>variation ID</strong>. In the new item architecture, the variation ID is now used to uniquely identify data records. However, the new item architecture only allows there to be one variation composed of the <strong>AttributeValueSetID</strong> + <strong>unit</strong> + <strong>content</strong>. If you migrate items that have multiple price sets and you have saved the same <strong>Content</strong> and <strong>Unit</strong> for several of the price sets, then only the first price set will be migrated. Any other price sets for the item will be discarded. Therefore, check whether you have items with multiple price sets. Then check whether any of these price sets use the same content and unit. Change the content and unit for the additional price sets.</p>
</div>
<div class="paragraph">
<p>The following example uses a pack of cigarillos to illustrate the changes that need to be made before migrating the data.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 11. Example of identical content saved for the <strong>Content</strong> and <strong>Unit</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Price set 1</th>
<th class="tableblock halign-left valign-top">Price set 2</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pack of 20 cigarillos.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pack of 5 cigarillos.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price</strong>: 5.80 EUR</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price</strong>: 1.80 EUR</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit</strong>: Packet</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit</strong>: Packet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Content</strong>: 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Content</strong>: 1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit 1</strong>: 20</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit 1</strong>: 5</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit 2</strong>: Cigarillos</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit 2</strong>: Cigarillos</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>In this example, it makes sense to change the <strong>Unit</strong> to <strong>Each</strong> and to save a <strong>Content</strong> of <strong>20</strong> for price set 1 and <strong>5</strong> for price set 2. Delete the content of the fields <strong>Unit 1</strong> and <strong>Unit 2</strong>. The new data record will look like this:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 12. Example of new content saved for <strong>Content</strong> and <strong>Unit</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Price set 1</th>
<th class="tableblock halign-left valign-top">Price set 2</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pack of 20 cigarillos.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pack of 5 cigarillos.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price</strong>: 5.80 EUR</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price</strong>: 1.80 EUR</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit</strong>: Each</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit</strong>: Each</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Content</strong>: 20</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Content</strong>: 5</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit 1</strong>:</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit 1</strong>:</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit 2</strong>:</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit 2</strong>:</p></td>
</tr>
</tbody>
</table>
<div class="paragraph subhead">
<p>Instructions</p>
</div>
<div class="paragraph">
<p>Check whether you have items with multiple price sets. Then check whether any of these price sets use the same content and unit. This can be done with the data format <a href="/en/data/export-import/data-formats/itemprice">ItemPrice</a> in the dynamic export. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Checking the units:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data exchange » Export » Dynamic export</strong>.</p>
</li>
<li>
<p>Create a new <a href="/en/data/export-import/exporting-data">data format</a> of the type <a href="/en/data/export-import/data-formats/itemprice">ItemPrice</a>.<br>
→ The recommended data fields and import procedures are listed in table 13.</p>
</li>
<li>
<p>Export the data format.</p>
</li>
<li>
<p>Use the column <strong>ItemID</strong> to sort the exported data. This will allow you to find items with multiple price sets.</p>
</li>
<li>
<p>Check the fields <strong>Content</strong> and <strong>Unit</strong> for all of the items with multiple price sets.<br>
❏ Do multiple price sets have identical content in the columns <strong>Unit</strong> and <strong>Lot</strong>?</p>
</li>
<li>
<p>If the content is identical, then change the content of these columns as needed (see example above).</p>
</li>
<li>
<p>Now check the content of the columns <strong>Unit 0</strong> and <strong>Unit 1</strong> for all of the items.<br>
❏ Do you need the content of both columns?<br>
❏ If yes, then can these fields be merged together into one field as they are?<br>
❏ Which field should be displayed first? <strong>Unit 1 + Unit 2</strong> or <strong>Unit 2 + Unit 1</strong>?<br>
❏ Which separator is appropriate for merging the content?</p>
</li>
<li>
<p>Change the content of the columns as needed so that they can be merged together to form a meaningful unit.</p>
</li>
<li>
<p>Save the changes to the CSV file.</p>
</li>
<li>
<p><a href="/en/data/export-import/importing-data">Import</a> the CSV file back into plentymarkets if you made any changes.</p>
</li>
<li>
<p>Go to <strong>System » Settings » Data » Migration</strong> and configure the settings for the options <strong>Merge Unit 1 + 2</strong> and <strong>Separator for merging Unit 1 + 2</strong>.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 13. Data fields of the data format <strong>ItemPrice</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Procedure</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Synchronisation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PriceID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Synchronisation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price set ID<br>
<strong>Note:</strong> Select the <strong>Synchronisation</strong> procedure. Otherwise only price set 1 will be exported for each item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">None</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sorting for multiple price sets</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price1</strong> to <strong>Price12</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s prices 1 to 12</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Default unit</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lot</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Content; determines the number of packaging entities that are included in each unit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit0</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unit 1:</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unit 2</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_checking_category_links">5.2.3. Checking category links</h4>
<div class="paragraph">
<p>In plentymarkets 7, items must be linked to at least one category. Items that are not linked to a category will not be visible in the online store. As such, make sure that all items are linked with a category before the migration. Proceed as described below to verify that all items are linked with a category.</p>
</div>
<div class="paragraph instruction">
<p>Checking category links:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the <strong>Inactive</strong> filter to <strong>ALL</strong>.</p>
</li>
<li>
<p>Activate the <strong>Search without category</strong>.<br>
→ All items not linked to a category are listed.</p>
</li>
<li>
<p>Before migration, link all items without a category link to a category. You can do this either manually or using the group function.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_price_columns">5.3. Price columns</h3>
<div class="sect3">
<h4 id="60">5.3.1. Checking combinations of price columns</h4>
<div class="paragraph">
<p>Various price column settings are combined during the migration process and used to calculate the new sales prices. Therefore, check which price columns are saved in the menus <strong>Order referrer</strong>, <strong>Currencies</strong>, <strong>Customer classes</strong> and <strong>Client (store)</strong> before you migrate the data. If the same price column is selected in more than one of these menus, then this combination may lead to unexpected behaviour. Therefore, check whether these combinations make sense. To do so, proceed as follows.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">0 Euro prices</div>
<div class="paragraph">
<p>In plentymarkets 6, if price columns were linked to customer classes without a price (i.e. a price of 0.00), the default price is used as a fallback. This behaviour is also applied during migration. As such, these prices are filled with the previous default price. If you want to offer items with a price of 0, you need to edit the prices after the migration.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Checking combinations of price columns:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menus listed in table 15.</p>
</li>
<li>
<p>Make note of the price columns that are saved in these menus.</p>
</li>
<li>
<p>Compare these price columns.<br>
❏ Is the same price column used in more than one of these menus?<br>
❏ Do these combinations meet your requirements?</p>
</li>
<li>
<p>Make changes to the settings as needed.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 14. Menus for price columns</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Path</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System » Orders » Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Check the <strong>Price column</strong> setting for every referrer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System » Orders » Payment » Currencies</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Check the <strong>Price column</strong> setting for every currency.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System » CRM » Classes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Check the <strong>Price column</strong> setting for every customer class.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System » Client » Select client » Online store » Settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Check the <strong>Price column</strong> setting for every client.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="70">5.3.2. Checking the currency settings</h4>
<div class="paragraph subhead">
<p>Currency conversion for multiple clients</p>
</div>
<div class="paragraph">
<p>Some combinations of settings can cause a large number of sales prices to be created while migrating the price sets. If you work with multiple clients, then you should check which <strong>Currency conversion</strong> setting was saved for each of your clients before you migrate your data. If some clients use the setting <strong>Use price column</strong> and others use the setting <strong>Live conversion</strong>, then check whether these settings are correct. Consider whether it makes sense to change them so that all clients use the same settings, thus reducing the number of newly created sales prices. We recommend proceeding as follows.</p>
</div>
<div class="paragraph instruction">
<p>Checking the currency settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Online store » Currency</strong>. Access this menu for every client that you work with.</p>
</li>
<li>
<p>Make note of which <strong>Currency conversion</strong> setting was saved for each of your clients.</p>
</li>
<li>
<p>Compare the settings.<br>
❏ Do these settings meet your needs?</p>
</li>
<li>
<p>Consider whether it makes more sense to use the same settings for all of your clients.<br>
→ If you change the <strong>Currency conversion</strong> setting, then make sure to also change the prices that are linked to it.</p>
</li>
</ol>
</div>
<div id="75" class="paragraph subhead">
<p>Currency settings for clients with the setting "Use price column"</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Only for clients with the setting "Use price column"</div>
<div class="paragraph">
<p>Go to <strong>System » Client » Select client » Online store » Currency</strong>. You will only need to check the currency settings if you have clients where the option <strong>Currency conversion</strong> is set to <strong>Use price column</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For every client that has the setting <strong>Use price column</strong>, check which prices were linked to currencies in the menu <strong>System » Orders » Payment » Currencies</strong>. Then make sure that all of your items have amounts saved for these prices. If you did not save an amount, then the variation’s standard price will be used. However, the currency will remain the same. Depending on the exchange rate, this can cause prices to drastically differ from one another. Proceed as described below to check the settings.</p>
</div>
<div class="paragraph instruction">
<p>Checking the currency settings for clients with the setting "Use price column":</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Online store » Currency</strong>. Access this menu for every client that you work with.</p>
</li>
<li>
<p>Make note of which clients use the setting "Use price column" for the option <strong>Currency conversion</strong>.</p>
</li>
<li>
<p>Go to <strong>System » Orders » Payment » Currencies</strong>.</p>
</li>
<li>
<p>Make note of all the currencies that were not assigned to the standard price. Note which prices these currencies were assigned to.</p>
</li>
<li>
<p>Go to <strong>Data exchange » Export » Dynamic export</strong>.</p>
</li>
<li>
<p>Create a new <a href="/en/data/export-import/exporting-data">data format</a> of the type <a href="/en/data/export-import/data-formats/itemprice">ItemPrice</a>.<br>
→ The recommended data fields and import procedures are listed in table 16a.</p>
</li>
<li>
<p>Export the data format.</p>
</li>
<li>
<p>Create a new <a href="/en/data/export-import/exporting-data">data format</a> of the type <a href="/en/data/export-import/data-formats/item">Item</a>.<br>
→ The recommended data fields and import procedures are listed in table 16b.</p>
</li>
<li>
<p>Open both CSV files.</p>
</li>
<li>
<p>In the <strong>Item</strong> file, filter the data by client (column <strong>ItemStoreIDs</strong>).</p>
</li>
<li>
<p>In the <strong>ItemPrice</strong> file, filter the data by the prices that you made note of in step 4.</p>
</li>
<li>
<p>Compare the filtered item IDs in both documents.<br>
❏ Are monetary amounts saved for all of these prices?<br>
→ If no monetary amounts are saved, then the variation’s standard price will be used as the price. The currency will remain the same.</p>
</li>
<li>
<p>Make sure that the standard price and selected currency meet your needs for all of the items that do not have monetary amounts saved for them. Otherwise, save the desired price in the <strong>ItemPrice</strong> file.</p>
</li>
<li>
<p>Save your changes to the CSV file.</p>
</li>
<li>
<p><a href="/en/data/export-import/importing-data">Import</a> the CSV file <strong>ItemPrice</strong> back into plentymarkets if you made any changes.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 15. Data fields of the data format <strong>ItemPrice</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Procedure</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Synchronisation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PriceId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Synchronisation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price set ID<br>
<strong>Note:</strong> Select the <strong>Synchronisation</strong> procedure. Otherwise only price set 1 will be exported for each item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">None</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sorting for multiple price sets</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price1</strong> to <strong>Price12</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s prices 1 to 12</p></td>
</tr>
</tbody>
</table>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 16. Data fields of the data format <strong>Item</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Procedure</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Synchronisation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemStoreIDs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">None</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Client IDs</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="80">5.3.3. Comparing the price columns for referrers</h4>
<div class="paragraph">
<p>Compare the price columns that were saved in the menu <strong>System » Orders » Order referrer</strong> with the settings that were saved for referrers that have their own price columns. If the settings differ, then consider whether it makes more sense to use the same settings. These referrers are:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Amazon</p>
</li>
<li>
<p>Flubit</p>
</li>
<li>
<p>Fruugo</p>
</li>
<li>
<p>eBay</p>
</li>
<li>
<p>Hitmeister</p>
</li>
<li>
<p>Neckermann</p>
</li>
<li>
<p>Otto</p>
</li>
<li>
<p>Shopgate</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Fallback:</strong> Some markets allow you to specify an individual price column (e.g. Shopgate). If you selected the standard price for these markets but you also selected a different price column under <strong>System » Orders » Order referrer</strong>, then this price column will be migrated instead of the standard price.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to check the price columns that were selected.</p>
</div>
<div class="paragraph instruction">
<p>Comparing the price columns for referrers:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Make note of which price column was selected for the markets listed above.</p>
</li>
<li>
<p>Open the menus listed in table 17.<br>
❏ Do the price columns in these menus match the settings that you noted?</p>
</li>
<li>
<p>Make changes to the settings as needed.</p>
</li>
<li>
<p>Also check the prices and adjust them as needed if you changed the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 17. Markets with their own price columns</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Market</th>
<th class="tableblock halign-left valign-top">Path</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System » Markets » Amazon » Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flubit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System » Markets » Flubit</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Fruugo</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System » Markets » Fruugo » Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eBay</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System » Markets » eBay » Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hitmeister</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System » Markets » Hitmeister » Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neckermann</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System » Markets » Neckermann Austria Enterprise<br>
Settings » Markets » Neckermann » Neckermann Austria Cross-Docking</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Otto</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System » Markets » Otto » Integration</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shopgate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>System » Markets » Shopgate</strong></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="90">5.3.4. Checking the price visibility as it pertains to customer classes</h4>
<div class="paragraph">
<p>During the migration of prices, one sales price will be created for every price column and price visibility that is currently used, i.e. <strong>Show everyone</strong>, <strong>Only show B2C customer classes</strong>, <strong>Only show B2B customer classes</strong>. In other words, up to three sales prices will be created per price column. Before you begin the migration, check the <strong>Price visibility</strong> setting as it pertains to customer classes. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Checking the price visibility as it pertains to customer classes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data exchange » Export » Dynamic export</strong>.</p>
</li>
<li>
<p>Create a new <a href="/en/data/export-import/exporting-data">data format</a> of the type <a href="/en/data/export-import/data-formats/itemprice">ItemPrice</a>.<br>
→ The recommended data fields and import procedures are listed in table 18.</p>
</li>
<li>
<p>Export the data format.</p>
</li>
<li>
<p>Check the values in the column <strong>PriceShowOnly</strong>.<br>
❏ Is the visibility limited to specific customer classes?<br>
❏ Do these limitations meet your needs?<br>
❏ Can any of the settings be changed so that they are the same?</p>
</li>
<li>
<p>Make changes to the settings as needed.</p>
</li>
<li>
<p>Save your changes to the CSV file.</p>
</li>
<li>
<p><a href="/en/data/export-import/importing-data">Import</a> the CSV file back into plentymarkets if you made any changes.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 18. Data fields of the data format <strong>ItemPrice</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Procedure</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Synchronisation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PriceId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Synchronisation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price set ID<br>
<strong>Note:</strong> Select the <strong>Synchronisation</strong> procedure. Otherwise only price set 1 will be exported for each item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">None</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sorting for multiple price sets</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s price</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price1</strong> to <strong>Price12</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item’s prices 1 to 12</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PriceShowOnly</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limit price set to:<br>
<strong>0</strong> = All<br>
<strong>1</strong> = B2C customers<br>
<strong>2</strong> = B2B customers</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="_checking_amazon_item_availability_for_sku_migration">5.4. Checking Amazon item availability for SKU migration</h3>
<div class="paragraph">
<p>You have to check two settings before the migration in order for Amazon SKUs to be migrated correctly.<br></p>
</div>
<div class="paragraph">
<p>Check in the Menu <strong> Item » Edit item » Open item » Tab: Availability</strong> whether there is a check mark placed for all the Amazon platforms that you are using as well as for the <strong>Web API</strong>. This is absolutely necessary. Otherwise items will be listed twice in the Seller Central.
Furthermore, make sure that the settings <strong>Fulfilment by Amazon (FBA)</strong> and <strong>Shipment by Amazon (FBA)</strong> in the menu <strong> Item » Edit item » Open item » Tab: Availability</strong> are activated. Otherwise FBA SKUs will not be migrated.</p>
</div>
</div>
<div class="sect2">
<h3 id="_using_template_variables_in_layout_templates">5.5. Using template variables in layout templates</h3>
<div class="paragraph">
<p>If you offer items in various countries via your eBay shop and if you use <a href="https://knowledge.plentymarkets.com/en/omni-channel/multi-channel/ebay/ebay-setup#3050" target="_blank" rel="noopener">template variables</a> for properties in <a href="https://knowledge.plentymarkets.com/en/omni-channel/multi-channel/ebay/ebay-setup#2800" target="_blank" rel="noopener">layout templates</a> which are linked to listings, you must provide translations for the national languages prior to migrating to plentymarkets 7. Make sure to provide translations for every country in which you want to offer your items. Otherwise, the property will not be displayed in the description of the listing.</p>
</div>
<div class="paragraph">
<p>Translations for the property name and the property value are required if you use the template variables <strong>&#123;&#37; GetItemPropertyByName() &#37;&#125;</strong> and <strong>&#123;&#37; GetItemPropertyById() &#37;&#125;</strong> in layout templates.</p>
</div>
<div class="paragraph instruction">
<p>Providing translations for property names:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Expand the property.</p>
</li>
<li>
<p>Select the national language from the drop-down list <strong>Language</strong> in the section <strong>Webshop</strong>.</p>
</li>
<li>
<p>Enter the name in the national language into the field <strong>Name</strong> in the section <strong>Webshop</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Providing translations for property values:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Properties</strong>.</p>
</li>
<li>
<p>Select the default language from the drop-down list <strong>Cross-Selling</strong>.</p>
</li>
<li>
<p>Enter the translation for the national language into the free text field <strong>Text</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_external_stores">6. External stores</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets 6, external stores were used to integrate Shopware. In plentymarkets 7, this integration is realised using clients (stores). During migration to plentymarkets 7, the data of your external stores will be migrated to fully functional clients (stores). These clients can be connected to Shopware using the plentymarkets Connector. However, please note that you will be charged for these clients. As such, check if there are any external stores in your system before the migration. Delete any external stores you no longer need before migrating.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">External stores without a connection to Shopware</div>
<div class="paragraph">
<p>In plentymarkets 6, it was possible to use external stores not just for integrating Shopware but also for other use cases. As such, you should check if any external stores are present in your system even if you do not use the Shopware Connector. This is important particularly if you do not use the external stores to connect to Shopware but for other use cases, e.g. für market availabilities, numbering systems or invoicing.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_check_system_for_external_stores">6.1. Check system for external stores</h3>
<div class="paragraph">
<p>External stores have the web store type <strong>shopware</strong> or <strong>extern</strong>. In addition, they do not have a plenty ID. Proceed as described below to check if any external stores are present in your system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client</strong>.</p>
</li>
<li>
<p>Click on the plus icon of the first client (store).<br>
→ The client menu will be displayed.</p>
</li>
<li>
<p>Go to <strong>System » Client » Select client » Settings</strong>.</p>
</li>
<li>
<p>Check the <strong>store type</strong>.<br>
→ Shops of the type <strong>shopware</strong> or <strong>extern</strong> are external stores.<br>
<strong><em>Tip:</em></strong> In addition, the option <strong>plenty ID</strong> of external stores is empty.<br>
→ If it is an external store, check if it is in use.<br>
→ Delete the external store if it is no longer needed.</p>
</li>
<li>
<p>Check all other clients (stores) of your system in the same way.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_deleting_unneeded_external_stores">6.2. Deleting unneeded external stores</h3>
<div class="paragraph">
<p>Proceed as described below to delete unneeded external stores before migration.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client</strong>.</p>
</li>
<li>
<p>Move the cursor over the store that you want to delete.<br>
→ You will see an arrow pointing down.</p>
</li>
<li>
<p>Click on the arrow to open the context menu.</p>
</li>
<li>
<p>Click on the <strong>Delete</strong> option in the context menu.<br>
→ You will be asked to confirm your decision.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> to confirm your selection.<br>
→ The external store will be deleted.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_connecting_plentymarkets_to_shopware">6.3. Connecting plentymarkets to Shopware</h3>
<div class="paragraph">
<p>During migration of your system to plentymarkets 7, the data of your external stores will be migrated to fully functional clients (stores). Integration of external Shopware systems with the <a href="https://github.com/plentymarkets/plentymarkets-shopware-connector/releases" target="_blank" rel="noopener">plentyConnector</a> nehmen Sie nach der Migration vor. Informationen dazu finden Sie in der <a href="https://docs.google.com/document/d/10mPeV3xqx4We71dYQdPmJK2qvb21Rpym6FG_tKwHKfc/edit#heading=h.h38ew7hip4tl" target="_blank" rel="noopener">plentymarkets Shopware Connector</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="210">7. Making an appointment for the migration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have made the preparations described in this migration guide, use our ticket system to make an appointment for the migration to plentymarkets 7. Proceed as described below to create a ticket.</p>
</div>
<div class="paragraph instruction">
<p>Making an appointment for the migration:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Support ticket</strong>.</p>
</li>
<li>
<p>In the <strong>Ticket</strong> section, click on <strong>Create new ticket</strong>.</p>
</li>
<li>
<p>Enter a title that defines your query.</p>
</li>
<li>
<p>Select <strong>Change to plentymarkets 7</strong> from the drop-down list.<br>
→ Additional options are listed.</p>
</li>
<li>
<p>Select the plentymarkets system to be migrated from the drop-down list.</p>
</li>
<li>
<p>Select the plentymarkets 7 system you want to use, i.e. <strong>plentymarkets 7 Stable</strong> or <strong>plentymarkets 7 Beta</strong>.</p>
</li>
<li>
<p>Click <strong>Create</strong> to create the ticket.<br>
→ The ticket is created and a member of the plentymarkets team will contact you to arrange an appointment.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">System availability during migration</div>
<div class="paragraph">
<p>Your system is unavailable during migration. Migrating small systems takes around 15 minutes. Migration of large systems can take up to several hours.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_after_migration">8. After migration</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="100">8.1. Correcting GTIN (only for GTIN with leading zeros)</h3>
<div class="paragraph">
<p>Leading zeros in EAN/GTIN codes are truncated during migration. Because this changes the code’s character count, the EAN/GTIN is not migrated as a GTIN but instead is saved as a Code128 or UPC. As such, you need to correct those GTIN imported as Code128 or UPC. The data format <strong>Item</strong> is not compatible with plentymarkets 7. As such, you need to correct the GTIN codes manually after migration. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Correcting GTIN with leading zeros:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data exchange » Export » Dynamic export</strong>.</p>
</li>
<li>
<p>Create a new <a href="/en/data/export-import/exporting-data">data format</a> of the type <a href="/en/data/export-import/data-formats/variationbarcode">VariationBarcode</a>.<br>
→ The recommended data fields and import procedures are listed in table 19.</p>
</li>
<li>
<p>Open the CSV file of the <strong>VariationBarcode</strong> export.</p>
</li>
<li>
<p>Open the CSV file of the <strong>Item</strong> export that you saved before migration.</p>
</li>
<li>
<p>Correct the incorrectly imported GTIN in the CSV file of the <strong>VariationBarcode</strong> export.<br>
→ <strong>Tip:</strong> To correct a large number of GTIN codes, we recommend using the Excel function <a href="https://forum.plentymarkets.com/t/excel-tabelle-vergleichen/19235/2" target="_blank" rel="noopener">VLOOKUP</a>.</p>
</li>
<li>
<p>Save the changes you made to the CSV file of the <strong>VariationBarcode</strong> export.</p>
</li>
<li>
<p><a href="/en/data/export-import/importing-data">Import</a> the CSV file of the <strong>VariationBarcode</strong> export back into plentymarkets.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 19. Data fields of data format <strong>VariationBarcode</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field</th>
<th class="tableblock halign-left valign-top">Procedure</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BarcodeID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of barcode</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BarcodeName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">None</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BarcodeType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">None</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode type</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Code</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Code</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Synchronisation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation number</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_assigning_unit_price_specification_for_listings">8.2. Assigning unit price specification for listings</h3>
<div class="paragraph">
<p>After migration, you need to resave the setting <strong>Add unit price specification</strong> of the <strong>Listings » Edit listings » Open market listing » Tab: Base</strong> menu for all listings. Use the data field <strong>BasicPriceInText</strong> of the data format <strong>ItemListingMarket</strong> to update this setting for all listings at once.</p>
</div>
</div>
<div class="sect2">
<h3 id="_preparing_to_exchange_data_via_soap_api">8.3. Preparing to exchange data via SOAP API</h3>
<div class="paragraph">
<p>You need to assign a few parameters before you carry out your first calls in plentymarkets 7. In other words, prepare to exchange data via SOAP API after you have migrated your system to plentymarkets 7 but before you use the SOAP API for the first time. plentymarkets 7 provides you with much more flexibility in general. For example, there is no longer a limit to the number of GTIN. GTIN and other international item numbers are now managed as barcodes. However, this higher level of flexibility in prices and barcodes also means that it is not possible to simply assign the same parameters all across the board. The assignment only takes a few minutes. It is done in the menu <strong>SOAP migration</strong>, which was created for this purpose.</p>
</div>
<div class="paragraph">
<p>SOAP API version 115 was modified for working with plentymarkets 7. Therefore, use the SOAP API 115 if you want to exchange data via SOAP in plentymarkets 7.</p>
</div>
<div class="sect3">
<h4 id="_assigning_prices_for_soap">8.3.1. Assigning prices for SOAP</h4>
<div class="paragraph">
<p>Your previous prices were migrated to sales prices. Look a bit <a href="/en/basics/version-upgrade/migration-guide#26">farther up</a> in this migration guide if you want to find out how the data was migrated and the new prices were created. In plentymarkets 7, your sales prices are found in the menu <strong>System » Item » Sales prices</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Assigning prices:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » API » SOAP migration</strong>.</p>
</li>
<li>
<p>Expand the menu <strong>Prices</strong>.</p>
</li>
<li>
<p>Select a sales price for every price that you want to exchange via the SOAP interface.<br>
→ The internal names of the sales prices will be displayed in the drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_assigning_barcodes_for_soap">8.3.2. Assigning barcodes for SOAP</h4>
<div class="paragraph">
<p>Your previous GTIN, ISBN, etc. were migrated to barcodes. Look a bit <a href="/en/basics/version-upgrade/migration-guide#25">farther up</a> in this migration guide if you want to find out how the data was migrated. In plentymarkets 7, your new barcode definitions are found in the menu <strong>System » Item » Barcode</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Assigning barcodes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » API » SOAP migration</strong>.</p>
</li>
<li>
<p>Expand the menu <strong>Barcodes</strong>.</p>
</li>
<li>
<p>Select a barcode for every GTIN that you want to exchange via the SOAP interface.<br>
→ The names of the barcodes will be displayed in the drop-down list.</p>
</li>
<li>
<p>Select a barcode that should be transferred as the ISBN.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_migration_of_markets">9. Migration of markets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>All active markets and price comparison portals which were available in plentymarkets 6 have been migrated to plentymarkets 7, except for neckermann.at Cross-Docking.</p>
</div>
<div class="paragraph">
<p>The migration of the following markets is implemented by the online markets themselves:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>grosshandel.eu</p>
</li>
<li>
<p>Hertie</p>
</li>
<li>
<p>Restposten.de</p>
</li>
<li>
<p>SumoNet</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_mention_interface_information">10. Mention interface information</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The mention interface has not yet been migrated to match plentymarkets 7.</p>
</div>
</div>
</div>
</main>