<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#subscribe-to-plentymarkets-status"><span>1.</span><span> Subscribing to plentymarkets status</span></a></li>
<li><a href="#note-admin-user"><span>2.</span><span> Note for admin users</span></a></li>
<li><a href="#unsubscribe-from-plentymarkets-status"><span>3.</span><span> Unsubscribing from plentymarkets status</span></a></li>
<li><a href="#change-email-plentymarkets-status"><span>4.</span><span> Changing the email address</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Status</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets status notifies you by email in case of incidents, failures, important changes such as end of life and end of service or internal and external maintenance work by one of our partners. In case of an incident, you will also receive an email informing you when the behaviour is expected to be solved.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="subscribe-to-plentymarkets-status">1. Subscribing to plentymarkets status</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Subscribe to plentymarkets status with just one click. You will receive an email to the email address saved in your user account in case of failures, announcements and maintenance work, for example.</p>
</div>
<div class="paragraph instruction">
<p>Subscribing to plentymarkets status:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into your plentymarkets back end.</p>
</li>
<li>
<p>Point your cursor at the user button (<span class="icon "><i class="fa fa-user-circle  "></i></span>) or at your user image at the top right of the screen.</p>
</li>
<li>
<p>Click on <strong>plentymarkets status</strong>.<br>
→ The view <strong>Subscribe to plentymarkets status</strong> opens.</p>
</li>
<li>
<p>Activate the button <span class="icon red"><i class="fa fa-toggle-off  "></i></span>.<br>
→ You have successfully subscribed to plentymarkets status.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="note-admin-user">2. Note for admin users</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By default, every <strong>Admin</strong> user in your system is subscribed to plentymarket status and receives the status emails.</p>
</div>
<div class="paragraph">
<p>How to unsubscribe from plentymarkets status is described in the <a href="/en/basics/admin-tasks/plentymarkets-status">Unsubscribing from plentymarkets status</a> chapter.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="unsubscribe-from-plentymarkets-status">3. Unsubscribing from plentymarkets status</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you no longer want to receive notifications, you can subscribe from plentymarkets status at any time.</p>
</div>
<div class="paragraph instruction">
<p>Unsubscribing from plentymarkets status:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log into your plentymarkets back end.</p>
</li>
<li>
<p>Point your cursor at the user button (<span class="icon "><i class="fa fa-user-circle  "></i></span>) or at your user image at the top right of the screen.</p>
</li>
<li>
<p>Click on <strong>plentymarkets status</strong>.<br>
→ The view <strong>Subscribe to plentymarkets status</strong> opens.</p>
</li>
<li>
<p>Deactivate the button <span class="icon green"><i class="fa fa-toggle-off  "></i></span>.<br>
→ You have unsubscribed from plentymarkets status and do no longer receive status emails.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="change-email-plentymarkets-status">4. Changing the email address</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The plentymarket status emails are sent to the email address that is saved in the user account.</p>
</div>
<div class="paragraph">
<p>If you want to choose a different email address that is used for the status emails, you have to change the email address in the user account. To do so, go to <strong>Setup » Settings » User » Accounts</strong>.</p>
</div>
</div>
</div>
</main>