<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Accessing the Service Centre</span></a></li>
<li><a href="#20"><span>2.</span><span> Changing contract information</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Changing your contract</span></a></li>
<li><a href="#40"><span>2.2.</span><span> Cancelling a contract</span></a></li>
</ul>
</li>
<li><a href="#50"><span>3.</span><span> Managing domain data</span></a>
<ul class="sectlevel2">
<li><a href="#60"><span>3.1.</span><span> Information about domains</span></a>
<ul class="sectlevel3">
<li><a href="#70"><span>3.1.1.</span><span> Ordering a new domain</span></a></li>
<li><a href="#80"><span>3.1.2.</span><span> Relocating a domain</span></a></li>
<li><a href="#90"><span>3.1.3.</span><span> Creating an external domain</span></a></li>
<li><a href="#100"><span>3.1.4.</span><span> Ordering a subdomain</span></a></li>
<li><a href="#110"><span>3.1.5.</span><span> Deleting a subdomain</span></a></li>
</ul>
</li>
<li><a href="#120"><span>3.2.</span><span> Saving the domain handle</span></a></li>
<li><a href="#130"><span>3.3.</span><span> Cancelling a domain</span></a></li>
<li><a href="#140"><span>3.4.</span><span> Managing the DNS settings</span></a>
<ul class="sectlevel3">
<li><a href="#150"><span>3.4.1.</span><span> Saving DNS settings with external domain providers</span></a></li>
<li><a href="#160"><span>3.4.2.</span><span> External domain: Updating DNS settings for autoscaling</span></a></li>
</ul>
</li>
<li><a href="#170"><span>3.5.</span><span> Checking the DNS:</span></a></li>
<li><a href="#180"><span>3.6.</span><span> Saving a domain and subdomain for item image URLs</span></a></li>
<li><a href="#domain-nameserver"><span>3.7.</span><span> Displaying name server data</span></a></li>
<li><a href="#domain-mailserver"><span>3.8.</span><span> Managing the mail server</span></a></li>
<li><a href="#210a"><span>3.9.</span><span> Creating a system link</span></a></li>
<li><a href="#domain-auth-code"><span>3.10.</span><span> Generating the domain auth code</span></a></li>
<li><a href="#230"><span>3.11.</span><span> Saving the CNAME Resource Record</span></a></li>
<li><a href="#240"><span>3.12.</span><span> Managing the TXT Record</span></a></li>
<li><a href="#200"><span>3.13.</span><span> Saving a name server for sub-domains</span></a></li>
<li><a href="#250"><span>3.14.</span><span> Relocating a domain</span></a></li>
<li><a href="#260"><span>3.15.</span><span> Setting up URL forwarding</span></a></li>
</ul>
</li>
<li><a href="#ssl-certificate"><span>4.</span><span> Managing the SSL certificate</span></a>
<ul class="sectlevel2">
<li><a href="#280"><span>4.1.</span><span> What is an SSL certificate?</span></a></li>
<li><a href="#360"><span>4.2.</span><span> SSL certificate for external domains</span></a></li>
<li><a href="#290"><span>4.3.</span><span> Prerequisites for booking an SSL certificate</span></a>
<ul class="sectlevel3">
<li><a href="#_domain"><span>4.3.1.</span><span> Domain</span></a></li>
<li><a href="#_active_autoscaling"><span>4.3.2.</span><span> Active autoscaling</span></a></li>
<li><a href="#_for_subdomains_existing_parent_domain"><span>4.3.3.</span><span> For subdomains: Existing parent domain</span></a></li>
<li><a href="#_for_external_domains_dns_settings"><span>4.3.4.</span><span> For external domains: DNS settings</span></a></li>
</ul>
</li>
<li><a href="#300"><span>4.4.</span><span> Managing a bought SSL certificate</span></a>
<ul class="sectlevel3">
<li><a href="#310"><span>4.4.1.</span><span> Checking the expiration date of a SSL certificate</span></a></li>
<li><a href="#320"><span>4.4.2.</span><span> Buying an SSL certificate</span></a></li>
<li><a href="#330"><span>4.4.3.</span><span> Deactivating a bought SSL certificate</span></a></li>
</ul>
</li>
<li><a href="#340"><span>4.5.</span><span> Managing a free Let’s Encrypt SSL certificate</span></a>
<ul class="sectlevel3">
<li><a href="#350"><span>4.5.1.</span><span> Activating a free Let’s Encrypt certificate</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#370"><span>5.</span><span> Managing clients (stores)</span></a>
<ul class="sectlevel2">
<li><a href="#380"><span>5.1.</span><span> Ordering a client (store)</span></a></li>
<li><a href="#390"><span>5.2.</span><span> Cancelling a client (store)</span></a></li>
<li><a href="#400"><span>5.3.</span><span> Editing the domain settings for clients (stores)</span></a></li>
</ul>
</li>
<li><a href="#cache"><span>6.</span><span> Managing the cache</span></a>
<ul class="sectlevel2">
<li><a href="#420"><span>6.1.</span><span> Temporarily deactivating the cache</span></a></li>
<li><a href="#430"><span>6.2.</span><span> Permanent SSL redirect</span></a></li>
</ul>
</li>
<li><a href="#440"><span>7.</span><span> Granting system access to certified agencies</span></a>
<ul class="sectlevel2">
<li><a href="#450"><span>7.1.</span><span> Granting access to certified service providers</span></a></li>
<li><a href="#460"><span>7.2.</span><span> Screen seen by agencies</span></a></li>
</ul>
</li>
<li><a href="#470"><span>8.</span><span> Managing hosting data</span></a>
<ul class="sectlevel2">
<li><a href="#480"><span>8.1.</span><span> Viewing usage data</span></a></li>
<li><a href="#490"><span>8.2.</span><span> Information about traffic</span></a></li>
</ul>
</li>
<li><a href="#500"><span>9.</span><span> Requesting a system relocation</span></a>
<ul class="sectlevel2">
<li><a href="#510"><span>9.1.</span><span> System relocation requirements</span></a></li>
<li><a href="#520"><span>9.2.</span><span> Planning a relocation</span></a></li>
<li><a href="#530"><span>9.3.</span><span> Cancelling a planned relocation</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Your plentymarkets account</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The menu <strong>Start » Service Centre</strong> contains information about your plentymarkets system and possibilities for configuring the system. You can use the Service Centre to make changes to your system, e.g. book modules, order domains and subdomains or change your contract.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">States of development and version updates</div>
<div class="paragraph">
<p>plentymarkets is constantly updated and optimised. The version life cycle of plentymarkets consists of the states of development <strong>Beta</strong>, <strong>Early</strong> und <strong>Stable</strong>. By default, your system is set to the <strong>Stable</strong> version. However, if you want to benefit from improvements and new features earlier, you can set your system to a version with <a href="/en/basics/admin-tasks/version-cycle">an earlier state of development</a>. Your current version of plentymarkets is displayed in your plentymarkets back end when you point your cursor at the login icon.</p>
</div>
<div class="paragraph">
<p>A beta version, an early version and a stable version normally are released once a week. You system is updated automatically when a new version is published. The plentymarkets changelog lists the changes made for each update. You can find this changelog in the plentymarkets Forum in the <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Changelog</a> category. We recommend that you subscribe to this category. You will then be notified whenever a new changelog entry is published.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Accessing the Service Centre</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to access the Service Centre.</p>
</div>
<div class="paragraph instruction">
<p>Accessing the Service Centre:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Changing contract information</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The menu <strong>Start » Service Centre » Tab: Contract</strong> provides you with information about your current plentymarkets contract. In this menu, you can make changes to or cancel your contract.</p>
</div>
<div class="sect2">
<h3 id="30">2.1. Changing your contract</h3>
<div class="paragraph">
<p>plentymarkets grows along with your needs. Decide for yourself how many orders you want to process with plentymarkets each month. We will provide you with the necessary system performance. The <strong>Contract</strong> tab allows you to make changes in your plentymarkets contract on your own once it is up and running. It makes sense to make changes to your contract e.g. if you generate more orders than are included in your current rate. It is possible to book a higher rate at any time. If you book a lower rate, the change will go into effect once the regular duration of your current contract has ended.</p>
</div>
<div class="paragraph instruction">
<p>Changing the contract:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Contract</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Open configurator</strong> or, if desired, on <strong>Switch to PRO</strong>.</p>
</li>
<li>
<p>Make changes to the contract information as desired.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="40">2.2. Cancelling a contract</h3>
<div class="paragraph">
<p>The <strong>Contract</strong> tab in the Service Centre also contains an option for cancelling your contract with plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Cancelling a contract:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Contract</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Cancel contract</strong> to request that your contract be cancelled.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="50">3. Managing domain data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can manage your domain in the <strong>Start » Service Centre » Tab: Domain</strong> menu. The parameters of your domain are shown here. You can also change some of these parameters. You can also order a new domain here or relocate an existing domain. Furthermore, you can link an existing external domain or create a subdomain for a main domain.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Availability after initial setup or changes</div>
<div class="paragraph">
<p>It can take up to 24 hours until all of the settings are available on all systems. If settings are changed after 4 p.m., the changes will not be processed until after 4 p.m. the following day. If settings are changed on the weekend, these changes will not be processed until after 4 p.m. the following Monday. It can take up to 12 hours to process these changes.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="60">3.1. Information about domains</h3>
<div class="paragraph">
<p><a href="#table-account-domains">Table 1</a> includes explanations of the various domain types.</p>
</div>
<table id="table-account-domains" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Examples of domains</caption>
<colgroup>
<col style="width: 12.5%;">
<col style="width: 12.5%;">
<col style="width: 12.5%;">
<col style="width: 12.5%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Additional information</th>
<th class="tableblock halign-left valign-top">Example name</th>
<th class="tableblock halign-left valign-top">TLD</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Domain</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"> — </p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yourstore</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.uk</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The word "domain" refers to an Internet address in the form of a name and an extension, i.e. the top level domain. The name can be chosen freely. A domain is unique, i.e. the exact same domain may never be used twice. Therefore, when registering a desired domain, e.g. with a hosting service provider, it is necessary to check whether the domain has already been used.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Subdomain</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">info.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">yourstore</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.uk</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You create as many subdomains as desired for a domain. Subdomains do not need to be registered. Subdomains use variations of the domain name. They are either placed in front of or behind the domain name and they are separated from it with a period.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional domains</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"> — </p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">your-store<br>
your_store</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">.uk</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Additional domains are e.g. created with alternative names of the main domain. Additional domains point to the main domain to ensure that the domain is also found if it is spelled differently. For the example domain, an additional domain <strong>your-store.com</strong> could be useful. This would allow the main domain <strong>yourstore.com</strong> to be accessed even if a hyphen was used in the spelling. The names and top level domains can be chosen freely for additional domains. Every additional domain receives the main domain’s IP address.</p></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="70">3.1.1. Ordering a new domain</h4>
<div class="paragraph">
<p>Proceed as described below to order a new domain.</p>
</div>
<div class="paragraph instruction">
<p>Ordering a new domain:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Domain</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Order a new domain</strong>.</p>
</li>
<li>
<p>Enter the desired domain name.</p>
</li>
<li>
<p>Select the top level domain (TLD) from the drop-down list, e.g. <strong>co.uk</strong> or <strong>com</strong>.</p>
</li>
<li>
<p>Click on <strong>Check</strong>.<br>
→ The system checks if the domain is available.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You will also receive information about how much it costs to use the domain per month. Enter the contact details (domain handle) and assign the corresponding plentymarkets system. Then order the domain by clicking on <strong>Place order</strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Registering .com domains</div>
<div class="paragraph">
<p>You will receive an email when registering a .com domain. This email will ask you to confirm the WHOIS data that was entered. This email is sent to the email address that was entered under ADMIN-C in the handle data (WHOIS). If you do not receive an email, check that the email address is available and working.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="80">3.1.2. Relocating a domain</h4>
<div class="paragraph">
<p>If the domain is already available, you can relocate it. To do so, proceed as described in the chapter <strong>Ordering a new domain</strong>. Follow the instructions in the menu. Also note the following information regarding domain transfers:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Have your current provider’s authentication code ready as you will need to enter this code.</p>
</li>
<li>
<p>The processing times may vary depending on the Top Level Domain.</p>
<div class="ulist">
<ul>
<li>
<p>For <strong>.de</strong> domains: up to 24 hours</p>
</li>
<li>
<p>For <strong>.com</strong> and <strong>.net</strong> domains: 3 to 7 days</p>
</li>
<li>
<p>For <strong>.eu</strong> domains: up to 5 days</p>
</li>
</ul>
</div>
</li>
<li>
<p>You will receive an email if you relocate a <strong>.com</strong> or <strong>.net</strong> domain. The email will ask you to confirm the relocation. This email is sent to the email address that was entered under ADMIN-C in the handle data (WHOIS). If you do not receive an email, check that the email address is available and working. If the email address no longer exists, then ask your current domain provider to change the email address.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="90">3.1.3. Creating an external domain</h4>
<div class="paragraph">
<p>Use the option <strong>Create a new external domain</strong> to link an existing external domain to a plentymarkets system. The domain’s IP address will be displayed in the overview of domains. Next, save the DNS data in the DNS zone of the hosting service provider. To find this DNS information, go to the Service Centre and open the newly created external domain. The DNS data is shown in the <strong>Current DNS settings</strong> area. If there is an IPv6 A Record in your externally managed domain, then remove this IPv6 A-Record.</p>
</div>
</div>
<div class="sect3">
<h4 id="100">3.1.4. Ordering a subdomain</h4>
<div class="paragraph">
<p>You can create as many subdomains as you want for a domain. You do not need to register these subdomains. For example, if you have the domain <strong>yourstore.com</strong>, then you could create the subdomain <strong>info.yourstore.com</strong> to provide special information about your online store with this domain. Use the drop-down list to select which main domain you want to link with the subdomain. Select the corresponding plentymarkets system as well.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Availability and updates</div>
<div class="paragraph">
<p>It can take up to 24 hours for new domains or changes to become available. This is because the servers need to be restarted periodically and the data is not distributed in the cloud immediately.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="110">3.1.5. Deleting a subdomain</h4>
<div class="paragraph">
<p>You can delete a subdomain. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a subdomain:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>. <br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Domain</strong> tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the subdomain.<br>
→ The subdomain details are shown.</p>
</li>
<li>
<p>Click on <strong>Delete subdomain</strong>.<br>
→ The subdomain is deleted from the system.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="120">3.2. Saving the domain handle</h3>
<div class="paragraph">
<p>You need to save the contact details of the domain owner in the <strong>Domain handle</strong> area.</p>
</div>
<div class="paragraph instruction">
<p>Saving the domain handle:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Domain</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Domain handle</strong>.</p>
</li>
<li>
<p>Enter the contact details of the domain owner.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="130">3.3. Cancelling a domain</h3>
<div class="paragraph">
<p>Proceed as described below to cancel a domain.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Cancelling the main domain</div>
<div class="paragraph">
<p>Only cancel your main domain if you also want to cancel your plentymarkets system’s contract. Otherwise, you will have to save a new main domain.<br>
If you want to cancel your system contract, also pay attention to our cancellation deadlines. If you cancel your main domain too early, the domain’s contract might well end earlier than the system’s contract. The system will no longer be available in this case, even though the contract has not ended yet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Cancelling the domain:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Domain</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Cancel domain</strong>.</p>
</li>
<li>
<p>In the confirmation window, click on <strong>Yes</strong> to cancel the domain.<br>
→ The expiration of the contract is shown in a new window.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Cancelling a client</div>
<div class="paragraph">
<p>If you cancel a client, the domains associated with this client are also cancelled. To continue using these domains, link them to a different client.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="140">3.4. Managing the DNS settings</h3>
<div class="paragraph">
<p>You can find the DNS settings of your domain in the <strong>Current DNS settings</strong> area of the Service Centre. DNS is short for Domain Name System. DNS makes it possible for your customers to enter the domain name instead of the numerical IP address of your online store.</p>
</div>
<div class="sect3">
<h4 id="150">3.4.1. Saving DNS settings with external domain providers</h4>
<div class="paragraph">
<p>If your domain is hosted by an external provider, you need to save the DNS settings of your plentymarkets system with your external domain provider. Proceed as described below to view the DNS settings and save these settings with the external provider.</p>
</div>
<div class="paragraph instruction">
<p>Viewing DNS settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Domain</strong> tab.</p>
</li>
<li>
<p>Click on the blue plus icon next to the domain to view the DNS settings.<br>
→ The DNS settings are shown. These settings are described in <a href="#table-account-dns-settings-1">Table 2</a>.</p>
</li>
<li>
<p>Log into the service area of your domain provider.</p>
</li>
<li>
<p>Copy the DNS settings shown in the plentymarkets Service Centre into the relevant fields of the domain provider.<br>
→ Check the documentation of the domain provider on how to do this.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The DNS settings are updated.<br>
<strong><em>Note:</em></strong> It can take up to 72 hours to process these changes. plentymarkets cannot influence this duration.</p>
</li>
</ol>
</div>
<table id="table-account-dns-settings-1" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Current DNS settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Entry</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DNS Source</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">DNS source</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DNS Record Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type of DNS entry<br>
<strong>A</strong> = An IPv4 is assigned.<br>
<strong>CNAME</strong> = A different host is assigned.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DNS Target</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The target of the entry.<br>
IP address = The IP address of the plentymarkets system.<br>
CNAME = The address of the AWS load balancer endpoint that provides elastic load balancing, i.e. autoscaling.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="160">3.4.2. External domain: Updating DNS settings for autoscaling</h4>
<div class="paragraph">
<p>If your domain is hosted by an external provider, you need to update the DNS settings of your plentymarkets system with your external domain provider to benefit from autoscaling. Proceed as described below to edit the DNS settings of the external domain.</p>
</div>
<div class="paragraph instruction">
<p>Updating DNS settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Domain</strong> tab.</p>
</li>
<li>
<p>Click on the blue plus icon next to the domain to view the DNS settings.<br>
→ The DNS settings are shown. These settings are described in <a href="#table-account-dns-settings-2">Table 3</a>.</p>
</li>
<li>
<p>Check is a CNAME entry with the alias xxxx.eu-central-1.elb.amazonaws.com exists.<br>
→ If this CNAME entry exists, the system is ready for AutoScaling. Continue with step 6.</p>
</li>
<li>
<p>Log into the service area of your domain provider.</p>
</li>
<li>
<p>Copy the DNS settings shown in the plentymarkets Service Centre into the relevant fields of the domain provider.<br>
→ Check the documentation of the domain provider on how to do this.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The DNS settings are updated.<br>
<strong><em>Note:</em></strong> It can take up to 72 hours to process these changes. plentymarkets cannot influence this duration.</p>
</li>
</ol>
</div>
<table id="table-account-dns-settings-2" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Current DNS settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Entry</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DNS Source</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">DNS source</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DNS Record Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Type of DNS entry<br>
<strong>A</strong> = An IPv4 is assigned.<br>
<strong>CNAME</strong> = A different host is assigned.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DNS Target</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The target of the entry.<br>
IP address = The IP address of the plentymarkets system.<br>
CNAME = The address of the AWS load balancer endpoint that provides elastic load balancing, i.e. autoscaling.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="170">3.5. Checking the DNS:</h3>
<div class="paragraph instruction">
<p>Checking the DNS:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Domain</strong> tab.</p>
</li>
<li>
<p>Click on the blue plus icon of the domain.</p>
</li>
<li>
<p>Click on <strong>DNS check</strong>.<br>
→ The information is displayed in a new window.<br>
<strong><em>Tip:</em></strong> MX stands for Mail Exchange Resource Record. These are the <a href="/en/basics/admin-tasks/plentymarkets-account#domain-mailserver">mail server</a> parameters that are available for receiving and sending emails.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="180">3.6. Saving a domain and subdomain for item image URLs</h3>
<div class="paragraph">
<p>Item images are assigned the URL of the default CDN domain by default. This means that the URLs of item images contain the domain name "plentymarkets.com”. However, instead of the default CDN domain, you can also set up the domain of the client and save a custom subdomain for item images. For further information, refer to the <a href="/en/item/managing-items#4200">Saving own domain for image URLs</a> chapter.</p>
</div>
</div>
<div class="sect2">
<h3 id="domain-nameserver">3.7. Displaying name server data</h3>
<div class="paragraph">
<p>Proceed as described below to view the Domain Name Server (DNS).</p>
</div>
<div class="paragraph instruction">
<p>Checking the DNS:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Domain</strong> tab.</p>
</li>
<li>
<p>Click on the blue plus icon of the domain.<br>
→ The Domain Name Server (DNS) is shown in the <strong>Name server</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="domain-mailserver">3.8. Managing the mail server</h3>
<div class="paragraph">
<p>The mail servers that are available for receiving and sending emails are saved in the <strong>Mail server</strong> are of the Service Centre. No additional settings are required if you use the mailbox.org mail server. If you use your own server, then save the values for the IP address as well as MX10 through MX40 if available.</p>
</div>
<div class="paragraph">
<p>The mailbox.org mail server is selected by default when you order a new domain. No mail server can be set for external domains or domains with external system links.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Configuring an external mail server</div>
<div class="paragraph">
<p>If you use your own mail server, then configure the external mail server before you enter the parameters in the plentymarkets Service Centre.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Saving the mail server:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Domain</strong> tab.</p>
</li>
<li>
<p>Click on the blue plus icon of the domain.</p>
</li>
<li>
<p>In the drop-down list <strong>Mail server</strong>, select the option <strong>Mailbox.org</strong> or <strong>Own mail server</strong>.</p>
</li>
<li>
<p>If you use your own mail server, then pay attention to the explanations given in <a href="#table-account-parameter-mailserver">Table 4</a>.</p>
</li>
<li>
<p>Click on <strong>Save mail server</strong>.</p>
</li>
</ol>
</div>
<table id="table-account-parameter-mailserver" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Parameters for configuring your own mail server</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the incoming mail server’s IP address. Access is provided with the address mail.[yourdomain].com.<br>
<strong><em>Note:</em></strong> Replace <em>[yourdomain].com</em> with your own domain.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MX10</strong>;<br>
<strong>MX20</strong>;<br>
<strong>MX30</strong>;<br>
<strong>MX40</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the mail server for receiving emails. The server MX10 takes priority. In other words, emails are first sent to mail server MX10. If this mail server is not available, the emails will be sent to the mail server MX20. The lower the MX number, the higher the server’s priority.<br>
<strong><em>Tip:</em></strong> You should save at least two mail servers to ensure that the availability is never compromised. For example, if a server is down or needs to be maintained, emails can still be received with the other server.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Learn more about saving email access data based on the example of 1&amp;1 in the following video tutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/178192914" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
<div class="sect2">
<h3 id="210a">3.9. Creating a system link</h3>
<div class="paragraph">
<p>Go to the <strong>system link</strong> area to link the domain to a plentymarkets system or change a system link. If you set up multiple domains, you can select which one should be used as the main domain for each plentymarkets client. The URL will then be displayed in the browser’s address line. This is also the case for the other domains. It can take up to 24 hours until all of the settings are available on all systems.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Switching the main domain</div>
<div class="paragraph">
<p>If you switch the main domain, then change the URL accordingly on all platforms and in the interface settings in your plentymarkets system, e.g. in the settings for payment providers.<br>
In addition, go to <a href="/en/payment/managing-bank-details#70">System » System settings » Orders » Payment » EBICS</a> and save the data there once again, in order to update the basic settings.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Linking an external system</div>
<div class="paragraph">
<p>You cannot link a plentymarkets system with an external server if the domain is your main domain. In this case, select a different main domain before proceeding.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Linking a plentymarkets system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Domain</strong> tab.</p>
</li>
<li>
<p>Click on the blue plus icon of the domain.</p>
</li>
<li>
<p>Select the plentymarkets system that you want to link the domain to from the drop-down list <strong>System link</strong>. If you use your own server, select the setting <strong>External server</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Enter the IP address (A-Record) of the external server.</p>
</li>
<li>
<p>Click on <strong>Save system link</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="domain-auth-code">3.10. Generating the domain auth code</h3>
<div class="paragraph">
<p>You need to have an authentication code for your domain if you switch to a different provider. This auth code proves that you own the domain. You can generate the auth code in the <strong>Domain auth code</strong> area of the Service Centre.</p>
</div>
<div class="paragraph instruction">
<p>Generating the domain auth code:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Domain</strong> tab.</p>
</li>
<li>
<p>Click on the blue plus icon of the domain.</p>
</li>
<li>
<p>In the <strong>Domain auth code</strong> area, click on <strong>Generate domain auth code</strong>.<br>
→ The code is generated and displayed in the <strong>Domain auth code</strong> field.<br>
<strong><em>Note:</em></strong> A domain auth code is valid for 30 days. If you do not use the code during this time, you will have to generate a new code when needed.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="230">3.11. Saving the CNAME Resource Record</h3>
<div class="paragraph">
<p>A Canonical Name or CNAME record is a type of DNS record that links an alias name to another canonical domain name. For example, you can use it along with the provider <strong>Shopgate</strong> to create a mobile version of your online store or you can use it to set up an external email service. In the example, the source <em>mobile.your-shop.com</em> is the mobile version of the domain <em>your-shop.com</em>. Use the Shopgate subdomain <em>cname.shopgate.com</em> as the target. This CNAME entry ensures that your store will have the correct resolution with Shopgate.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/working-with-plentymarkets/assets/EN-Service-Center-Domain-01.png" alt="Saving a CNAME">
</div>
<div class="title">Figure 1. Saving a CNAME</div>
</div>
<div class="paragraph instruction">
<p>Saving a CNAME:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Domain</strong> tab.</p>
</li>
<li>
<p>Click on the blue plus icon of the domain.</p>
</li>
<li>
<p>In the <strong>CNAME Resource Record</strong> area, enter a source and a target.</p>
</li>
<li>
<p>Click on <strong>Save CNAME Resource Record</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="240">3.12. Managing the TXT Record</h3>
<div class="paragraph">
<p>Use the TXT Resource Record to save a user-definable text within a DNS zone. This can be done for your main domain as well as for all sub-domains of your online store. For example, email or newsletter service providers may require such entries. You will receive the texts to be entered here directly from your service provider.</p>
</div>
<div class="paragraph instruction">
<p>Saving a TXT record:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Domain</strong> tab.</p>
</li>
<li>
<p>Click on the blue plus icon of the domain.</p>
</li>
<li>
<p>Go to the <strong>TXT Record</strong> area to enter the data you received from your provider.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="200">3.13. Saving a name server for sub-domains</h3>
<div class="paragraph">
<p>In the <strong>Name server for sub-domains</strong> area of the Service Centre, enter one or more name servers for a sub-domain.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name servers can be saved for sub-domains of a main domain only.</p>
</li>
<li>
<p>Enter more than one name server separated by commas.</p>
</li>
<li>
<p>Enter the name server’s domain name.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Save a name server for sub-domains e.g. to send Newsletter2Go newsletters from an exclusive, <a href="https://www.newsletter2go.de/features/newsletter-versand-dedizierte-ips/" target="_blank" rel="noopener">dedicated IP address</a> to optimise delivery rates. If you have booked this Newsletter2Go service, enter the Newsletter2Go name server as the target server. You will receive the necessary information regarding sub-domains and name server from Newsletter2Go.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to save a name server for a sub-domain.</p>
</div>
<div class="paragraph instruction">
<p>Saving name servers for sub-domains:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Domain</strong> tab.</p>
</li>
<li>
<p>Click on the blue plus icon of the domain.</p>
</li>
<li>
<p>In the <strong>Name server for sub-domains</strong> area, enter the sub-domain in the <strong>Sub-domain</strong> field.</p>
</li>
<li>
<p>Enter the domain name of the target server in the <strong>Target</strong> field. Separate several domain names by commas.</p>
</li>
<li>
<p>Click on <strong>Save name servers for sub-domains</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="250">3.14. Relocating a domain</h3>
<div class="paragraph">
<p>If you want to switch to a different webhosting provider, then you will need to carry out a domain name transfer (also known as a KK or auth info procedure in Germany). You need to fill out a standardized form of authorization in order for the domain to be transferred. The German form is called a connectivity coordination application, abbreviated as a KK-Antrag. The connectivity coordination application regulates the switch from one provider to another. The auth info procedure is becoming more and more popular.</p>
</div>
<div class="paragraph">
<p>Please note the following points when switching to a different web hosting provider:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Generate an <a href="/en/basics/admin-tasks/plentymarkets-account#domain-auth-code">auth code</a>.</p>
</li>
<li>
<p>Do not delete your previous domain name with your current provider.</p>
</li>
<li>
<p>Tell your current provider about your plans to transfer the domain and let them know that they will soon receive an authorization form.</p>
</li>
<li>
<p>Contact the new provider in regards to the transfer. Your new provider will ask you to sign a form and confirm that you want to transfer the domain.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>It is usually possible to transfer the domain without any problems. The process can be completed in a short amount of time. However, if you have any problems with the domain transfer because of incomplete or unclear data, then your old provider may initially reject the transfer. In such a case, contact the old provider as soon as possible. The current provider can only accept the transfer once there are no further uncertainties.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">IPS tag</div>
<div class="paragraph">
<p>If you want to transfer your <strong>.uk</strong> or <strong>co.uk</strong> domain to plentymarkets from a different domain provider, you need to have your current domain provider adapt the IPS tag in advance. The IPS tag of our domain provider is:</p>
</div>
<div class="paragraph">
<p><strong>UNITEDDOMAINS-DE</strong></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="260">3.15. Setting up URL forwarding</h3>
<div class="paragraph">
<p>The <strong>URL forwarding</strong> area of the Service Centre allows you to set up forwarding for an extra charge. Proceed as described below to set up forwarding.</p>
</div>
<div class="paragraph instruction">
<p>Setting up URL forwarding:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Domain</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>blue plus</strong> icon next to the domain that you want to forward from.</p>
</li>
<li>
<p>Click on the <strong>URL forwarding instructions</strong>.</p>
</li>
<li>
<p>Read the information that is displayed.</p>
</li>
<li>
<p>Pay attention to the instructions and enter the forwarding information into the designated field.</p>
</li>
<li>
<p>Click on <strong>Save URL forwarding</strong>.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="ssl-certificate">4. Managing the SSL certificate</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter provides you with information about SSL certificates. You will find out how to check for the expiration date of your SSL certificate and how to order a new SSL certificate or deactivate your active SSL certificate if necessary.</p>
</div>
<div class="sect2">
<h3 id="280">4.1. What is an SSL certificate?</h3>
<div class="paragraph">
<p>An SSL certificate is used to encrypt your website. A SSL certificate also provides a secure connection to your website and online store. An SSL certificate is required for certain markets and for receiving the Trusted Shops certification. Your customers can see when you are using an SSL certificate as your website will be accessed via <em>https</em>.</p>
</div>
<div class="paragraph">
<p>SSL certificates are offered by independent certificate providers. plentymarkets offers two types of SSL certificates:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You can buy a SSL certificate which is valid for at least a year. This certificate is not renewed. After the SSL certificate expires, you need to order a new certificate.</p>
</li>
<li>
<p>You can order a free SSL certificate from <a href="https://letsencrypt.org" target="_blank" rel="noopener">Let’s Encrypt</a>. It is renewed automatically and can be terminated with one month notice.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You order the SSL certificate for your <a href="/en/basics/admin-tasks/plentymarkets-account#domain">main domain</a>, i.e. the one that you set as the main domain in the <strong>Start » Service Centre » Tab: Domain</strong> menu (image 2, blue arrow). If you want to use an SSL certificate for a different domain, you will have to set this domain as your main domain first.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/working-with-plentymarkets/assets/ENG-Start-pm-Konto-Cache02-SI.png" alt="plentymarkets Service center; domains">
</div>
<div class="title">Figure 2. plentymarkets Service center; domains</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">No SSL certificates for cancelled domains or test domains</div>
<div class="paragraph">
<p>You cannot order SSL certificates for cancelled domains or for start-up domains and test domains, i.e. domains with names that contain <em>plenty-testdrive.eu</em>, <em>plentymarkets-x1.com</em> etc. For this reason, the <strong>Order SSL certificate</strong> button is not displayed for these types of domains.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="360">4.2. SSL certificate for external domains</h3>
<div class="paragraph">
<p>A domain can be hosted externally. The <a href="/en/basics/admin-tasks/plentymarkets-account#150">DNS settings then have to be saved with the external provider of the domain</a>. However, the SSL certificate needs to be saved close to the system. This means that even if the domain is hosted externally, the actual encoding is done directly in the system after the domain forwarding via IP address is carried out. As such, it is not possible to use an external SSL certificate. The SSL certificate needs to be ordered from plentymarkets.</p>
</div>
</div>
<div class="sect2">
<h3 id="290">4.3. Prerequisites for booking an SSL certificate</h3>
<div class="paragraph">
<p>Before booking an SSL certificate, ensure that the following prerequisites are met:</p>
</div>
<div class="sect3">
<h4 id="_domain">4.3.1. Domain</h4>
<div class="ulist">
<ul>
<li>
<p>The domain for which you want to order the SSL certificate must be a <a href="/en/basics/admin-tasks/plentymarkets-account#210a">main domain</a> that has been activated in the plentymarkets Service Centre.<br>
→ Check the settings in the plentymarkets Service Centre.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="_active_autoscaling">4.3.2. Active autoscaling</h4>
<div class="paragraph">
<p>A few system have not been switched to <a href="https://aws.amazon.com/autoscaling/">autoscaling</a> (AS). In most cases, this is because the domain is not hosted by plentymarkets. As such, the domain owner must adjust the DNS settings manually.<br>
Another cause might be that the domain was added to a client for the first time. These clients are not automatically switched to autoscaling. Instead, the plentymarkets support staff need to switch activate autoscaling manually.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to check if autoscaling is active:</p>
</div>
<div class="paragraph instruction">
<p>Checking the autoscaling status:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>*plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Domain</strong> tab.</p>
</li>
<li>
<p>Click on the blue plus icon next to the domain to view the DNS settings.<br>
→ The DNS settings are shown.</p>
</li>
<li>
<p>In the column <strong>DNS Record Type</strong>, check if a CNAME entry exists.<br>
→ If a CNAME entry exists, autoscaling is active.<br>
→ If no CNAME entry exists but two A records, autoscaling is not active.</p>
</li>
<li>
<p>If autoscaling is not active, contact the plentymarkets Support via the Link:https://forum.plentymarkets.com/t/46996/[plentymarkets Forum] and ask them to activate autoscaling. The thread is in German, but support staff also speaks English.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="_for_subdomains_existing_parent_domain">4.3.3. For subdomains: Existing parent domain</h4>
<div class="paragraph">
<p>If you want to order an SSL certificate for a subdomain, the parent domain must also exist in the system. In addition, the relationship between domain and subdomain must be entered correctly in the Service Centre.<br>
→ Check the settings in the plentymarkets Service Centre.<br>
→ If you deleted the parent domain from the Service Centre, create the parent domain. If you do not want this parent domain to point to plentymarkets, save an external A record for the parent domain by <a href="/en/basics/admin-tasks/plentymarkets-account#210a">creating a system link</a>.</p>
</div>
</div>
<div class="sect3">
<h4 id="_for_external_domains_dns_settings">4.3.4. For external domains: DNS settings</h4>
<div class="ulist">
<ul>
<li>
<p>The <a href="/en/basics/admin-tasks/plentymarkets-account#150">DNS settings saved with the external provider</a> must be identical to the DNS settings of the plentymarkets Service Center.<br>
→ Check the settings in the service area of your domain provider.</p>
</li>
<li>
<p>No IPv6 entry (AAAA record) must exist for the domain.<br>
→ Check the settings in the service area of your domain provider.</p>
</li>
<li>
<p>Any existing CAA records for the domain must allow ordering the selected certificate.<br>
→ Check the settings in the service area of your domain provider.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect2">
<h3 id="300">4.4. Managing a bought SSL certificate</h3>
<div class="paragraph">
<p>If you buy an SSL certificate, you need to order a new SSL certificate before your old certificate expires. This means that even if you already own an SSL certificate that is about to expire, you still select a certificate provider and duration from scratch. That means that you need to select a certificate provider and the certification duration every time you order an SSL certificate. plentymarkets orders the SSL certificate on your behalf and bills you for the one-off purchase price and the monthly fee.</p>
</div>
<div class="sect3">
<h4 id="310">4.4.1. Checking the expiration date of a SSL certificate</h4>
<div class="paragraph">
<p>Proceed as described below to view the expiration date of a SSL certificate.</p>
</div>
<div class="paragraph instruction">
<p>Checking the expiration date of a SSL certificate:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Client » Select client » SSL</strong>.<br>
→ A table with the domain’s certificates is displayed.<br>
→ The row <strong>Expiration date</strong> shows the date on which the certificate expires.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="320">4.4.2. Buying an SSL certificate</h4>
<div class="paragraph">
<p>Proceed as described below to order a SSL certificate.</p>
</div>
<div class="paragraph instruction">
<p>Buying an SSL certificate:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Client » Select client » SSL</strong>.<br>
→ The domain’s certificates are displayed.</p>
</li>
<li>
<p>In the row <strong>Order new SSL for domain: [domain name]</strong>, click on the down arrow to the right.<br>
→ The SSL certificates that are available for the domain are shown.</p>
</li>
<li>
<p>Check the SSL certificates available for booking.</p>
</li>
<li>
<p>Click on <strong>Order SSL</strong> in the line of the SSL certificate that you want to order.<br>
→ The SSL certificate is ordered.<br>
<strong>*<em>_Note:</em></strong> It can take up to 2 hours for the SSL certificate to be activated.</p>
</li>
<li>
<p>Delete the browser cache.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Delete the DNS cache.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Click the shortcut key <strong>Windows key + R</strong>.</p>
</li>
<li>
<p>Enter <code>CMD</code> and press <strong>Enter</strong>.</p>
</li>
<li>
<p>Enter the command <code>ipconfig /flushdns</code>.<br>
→ The DNS cache is cleared.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="330">4.4.3. Deactivating a bought SSL certificate</h4>
<div class="paragraph">
<p>You can temporarily or permanently deactivate an active SSL certificate. To do so, proceed as described below.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Expiration date remains the same</div>
<div class="paragraph">
<p>The total validity period of your SSL certificate is not extended when it is temporarily deactivated.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Deactivating a bought SSL certificate:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Domain</strong> tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the main domain.<br>
→ The expiration date of the SSL certificate is shown in the <strong>SSL certificate</strong> area.</p>
</li>
<li>
<p>Click on <strong>Deactivate SSL certificate</strong>.<br>
→ Your SSL certificate is deactivated.</p>
</li>
<li>
<p>You can reactivate your SSL certificate at any time by clicking on the <strong>Activate SSL certificate</strong> button.<br>
<strong><em>Note:</em></strong> It can take up to 4 hours for the SSL certificate to be activated.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="340">4.5. Managing a free Let’s Encrypt SSL certificate</h3>
<div class="paragraph">
<p>Instead of buying an SSL certificate, you can also chose an SSL certificate provided by the certification authority <a href="https://letsencrypt.org" target="_blank" rel="noopener">Let’s Encrypt</a>. The certificates are renewed automatically and can be terminated with a month’s notice. Proceed as described below to activate a free SSL certificate of the certificate provider Let’s Encrypt.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Provisioning fee</div>
<div class="paragraph">
<p>Let’s Encrypt SSL certificates are free of charge. When you book an SSL certificate of Let’s Encrypt, all you pay is a monthly provisioning fee to plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="350">4.5.1. Activating a free Let’s Encrypt certificate</h4>
<div class="paragraph">
<p>Proceed as described below to activate a free SSL certificate of the certificate provider Let’s Encrypt.</p>
</div>
<div class="paragraph instruction">
<p>Activating a free SSL certificate:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Domain</strong> tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the main domain.</p>
</li>
<li>
<p>In the <strong>SSL certificate</strong> area, activate the check box <strong>LetsEncypt</strong>.<br>
→ The SSL certificate is activated.<br>
<strong><em>Note:</em></strong> It can take up to 24 hours before the activation takes effect.<br>
→ plentymarkets bills you for the provisioning fee monthly.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="370">5. Managing clients (stores)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, the term Client (store) refers to additional online stores that are all managed with the same plentymarkets system as the default store. Existing clients (stores) are shown in the <strong>Start » Service Centre » Tab: Client (store)</strong> menu.</p>
</div>
<div class="sect2">
<h3 id="380">5.1. Ordering a client (store)</h3>
<div class="paragraph">
<p>Proceed as described below to order a client (store).</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Has the domain been created?</div>
<div class="paragraph">
<p>You need to have a <a href="/en/basics/admin-tasks/plentymarkets-account#domain">domain</a> before you can order a client (store). You have to create this domain beforehand in the <strong>Domain</strong> tab of the main system.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Ordering a client (store):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Contract</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Open configurator</strong>.<br>
→ The configurator opens.</p>
</li>
<li>
<p>Order a client.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="390">5.2. Cancelling a client (store)</h3>
<div class="paragraph">
<p>Go to <strong>Start » Service Centre » Tab: Client (store)</strong> and click on <strong>Cancel client (store)</strong> to cancel a client (store). Confirm the cancellation in the window that is displayed. The start and end of the contract will be displayed.</p>
</div>
<div class="paragraph instruction">
<p>Ordering a client (store):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Client (store)</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Cancel client (store)</strong>.<br>
→ A confirmation window opens.</p>
</li>
<li>
<p>Confirm the cancellation request.<br>
→ The start and end date of your contract is shown.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="400">5.3. Editing the domain settings for clients (stores)</h3>
<div class="paragraph">
<p>The tab <strong>Client (store)</strong> also displays information about the domains that are assigned to your clients. Make changes to these settings as described in the chapter <a href="/en/basics/admin-tasks/plentymarkets-account#domain">Domain</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="cache">6. Managing the cache</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The static content of your online store, e.g. item images, are stored in the cache for a certain amount of time. This makes it possible to display such content as quickly as possible. If you make changes, e.g. to an image, then these changes will not go into effect immediately. Rather, they will only become visible once a certain amount of time has passed. It may take up to one hour. Take a look at our <a href="https://www.plentymarkets.eu/blog/Im-Rollout-Mehr-Geschwindigkeit-bei-durchgehender-SSL-Verschluesselung/b-1207/">blog entry</a> on this topic (only available in German).</p>
</div>
<div class="sect2">
<h3 id="420">6.1. Temporarily deactivating the cache</h3>
<div class="paragraph">
<p>You can deactivate the cache of your system for a limited time. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Temporarily deactivating the cache:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Cache</strong> tab.</p>
</li>
<li>
<p>In the drop-down list <strong>From</strong>, select a start time for deactivating the cache.</p>
</li>
<li>
<p>In the drop-down list <strong>To</strong>, select an end time for deactivating the cache.</p>
</li>
<li>
<p>Click on <strong>Deactivate cache temporarily</strong>.<br>
→ Your system’s cache is deactivated for the selected period of time.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="430">6.2. Permanent SSL redirect</h3>
<div class="paragraph">
<p>If you booked an SSL certificate, your website will be completely encrypted. The technology SNI/TLS is a common standard that has been used for years. It is supported by all current browsers. However, some of your visitors may use older browsers that do not support this standard. If you deactivate the SSL redirect, then visitors with older browsers will also be able to click through your online store. However, customers will only be able to place an order with current browsers. The order process is always encoded, even if the SSL redirect was deactivated. You can inform customers that it is only possible to place an order with current browsers.</p>
</div>
<div class="paragraph instruction">
<p>Deactivating the permanent SSL redirect:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Cache</strong> tab.</p>
</li>
<li>
<p>Select the option <strong>&lt; IE 9 inactive</strong> from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Save permanent SSL redirect</strong>.<br>
→ Your system’s SSL redirect is deactivated.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="440">7. Granting system access to certified agencies</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the menu <strong>Start » Service Centre » Tab: Your agency</strong>, you can grant up to two plentymarkets certified service providers access to specific areas of your system. As such, you allow a design agency and/or a consultant to carry out the following tasks in your plentymarkets system:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Your service provider can delete the cache or temporarily deactivate the cache whilst working on the design in order to work more efficiently.</p>
</li>
<li>
<p>Your service provider can also view and answer your support tickets. In other words, your service provider can directly communicate with the plentymarkets support staff. Of course, you can still follow along with the discussion yourself.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="450">7.1. Granting access to certified service providers</h3>
<div class="paragraph">
<p>Proceed as described below to provide the agency and/or the consultant you work with access to the system areas described above:</p>
</div>
<div class="paragraph instruction">
<p>Assigning service providers:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Service Centre</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br>
→ The Service Centre opens in a new browser tab.</p>
</li>
<li>
<p>Click on the blue <strong>plus</strong> icon of the system.<br>
→ The available tabs are shown.</p>
</li>
<li>
<p>Click on the <strong>Your agency</strong> tab.</p>
</li>
<li>
<p>Select the agency and/or consultant you work with and who you want to provide access for from the drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The service providers are now linked to your system and have access to the areas mentioned above.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="460">7.2. Screen seen by agencies</h3>
<div class="paragraph">
<p>After you provided your agency access, the agency can access the following information:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Tab <strong>Overview</strong>: The agency has access to the information in your Service Centre under <strong>Tab: Systems » Tab: Overview</strong>.</p>
</li>
<li>
<p>Tab <strong>Contract</strong>: Your current rate is shown. However, the agency cannot change your contract details.</p>
</li>
<li>
<p>Tab <strong>Cache</strong>: The agency can delete the cache or temporarily deactivate the cache of your system.</p>
</li>
<li>
<p>Tab <strong>Tickets</strong>: The service provider has access to the information in the <strong>My account area</strong> under <strong>Tickets</strong>. In other words, the agency’s employees can create and answer tickets.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="470">8. Managing hosting data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The data volume and traffic depend on your contract. You will be billed if you exceed the amount of memory available to you. As such, you can track the data volume your plentymarkets system uses at any time.</p>
</div>
<div class="sect2">
<h3 id="480">8.1. Viewing usage data</h3>
<div class="paragraph">
<p>Go to <strong>Start » Hosting » Tab: Usage</strong> to view the usage data of your system. <a href="#table-account-usage">Table 5</a> provides an overview of the data you have used.</p>
</div>
<table id="table-account-usage" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Usage data shown</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Month</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Month of usage</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Total web space</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximum memory capacity that was occupied in this month, in GB</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Document web space</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximum memory capacity that was occupied by documents in this month, in GB</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Traffic</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Traffic in GB</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DB</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Maximum database volume that was used in this month, in GB</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Faceted search</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of faceted searches in your online store</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Items in faceted search</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of items in the faceted search</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="490">8.2. Information about traffic</h3>
<div class="paragraph">
<p>Traffic is generated every time a customer visits your online store, clicks on various items, clicks on images to enlarge them, downloads files, etc.</p>
</div>
<div class="paragraph">
<p>Additional traffic is generated in the following cases:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>When exchanging data with markets.</p>
</li>
<li>
<p>SOAP and REST calls also generate additional traffic, since these calls create connections to the server.<br>
<strong><em>Tip:</em></strong> Depending on the type of call, they may generate a substantial amount of traffic. You should optimize your calls, e.g. so that you do not retrieve all of the information, but rather only the changes.</p>
</li>
<li>
<p>When your website is scanned by <a href="https://en.wikipedia.org/wiki/Web_crawler" target="_blank" rel="noopener">bots</a>. The bots save you pages, which results in traffic. For example, a Google bot does this so that Google can find items from your store along with their descriptions. Bots are controlled by proprietary algorithms, which makes it impossible to predict when such bots will visit your website.<br>
<strong><em>Tip:</em></strong> To take some control of bot behaviour, you can block bots using the robots.txt file.</p>
</li>
<li>
<p>If your product portfolio has expanded, resulting in more data and images, more bots will crawl your site, resulting in more traffic. This is because by adding more data, your site draws the attention of more bots.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">9. Requesting a system relocation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the menu <strong>Start » Relocation</strong> to relocate your system to a different cloud free of charge. The <strong>Relocation</strong> menu also lists the status of any planned relocation projects and information about any previous relocation projects. Refer to our website for further information about the <a href="http://www.plentymarkets.co.uk/product/cloud-hosting/"> cloud solutions provided by plentymarkets</a>.</p>
</div>
<div class="sect2">
<h3 id="510">9.1. System relocation requirements</h3>
<div class="paragraph">
<p>Make sure that the following requirements are met before you begin planning to relocate your system to a different cloud:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You must have a current plentymarkets cloud contract. If you do not have a plentymarkets Cloud contract, change your <a href="http://www.plentymarkets.eu/preise/plentymarkets-classic-buchen/">contract information</a>.</p>
</li>
<li>
<p>The system relocation must be scheduled to begin at least 2 days in the future.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Files on FTP server are not migrated</div>
<div class="paragraph">
<p>When your system is relocated to a different cloud, the FTP host address of the plentymarkets system also changes. The files stored on the old FTP host are not copied to the new FTP host address during relocation. You need to move the FTP files manually.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Changing the IP address with your external domain provider</div>
<div class="paragraph">
<p>When you relocate your system, your IP address changes. If your domain is hosted by an external provider, you need to save the DNS settings of your plentymarkets system with your external domain provider to ensure that your online store remains functional. plentymarkets employees do not have access to the data of your external domain and cannot make these changes for you. Check the documentation of your domain provider to find out how to save your new IP address there.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="520">9.2. Planning a relocation</h3>
<div class="paragraph">
<p>Proceed as described below to plan the relocation of your system to a different cloud. Please note that it is not possible to simultaneously relocate more than one system per cloud. As such, the relocation start time may be delayed.</p>
</div>
<div class="paragraph instruction">
<p>Planning a relocation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Relocation</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.<br></p>
</li>
<li>
<p>Click on the <strong>Relocation</strong> tab.</p>
</li>
<li>
<p>Select the target cloud, i.e. the cloud where you want to relocate your system to.<br>
→ The cost of the target cloud are shown.</p>
</li>
<li>
<p>Select the date when the system relocation should begin.</p>
</li>
<li>
<p>Select the time when the system relocation should begin.<br>
<strong><em>Note:</em></strong> The system relocation must be scheduled to begin at least 2 days in the future.</p>
</li>
<li>
<p>Click on <strong>Start relocation</strong> to request the relocation.<br>
→ The planned relocation is shown in the <strong>Planned relocation</strong> tab and starts at the specified time.<br>
<strong><em>Note:</em></strong> Only one system can be relocated per cloud. As such, the relocation start time may be delayed.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Store availability</div>
<div class="paragraph">
<p>For mid-sized systems, relocation takes approximately 20 minutes. However, the actual duration always depends on the volume of data that is to be relocated. Your plentymarkets system is available during this time. However, you cannot save any changes in the system. The order process is deactivated in your online store while your system is being relocated. Therefore, choose a time when you do not anticipate a large amount of traffic. We recommend that you plan the relocation for the middle of the night.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="530">9.3. Cancelling a planned relocation</h3>
<div class="paragraph">
<p>You can cancel a planned relocation at any time before all of the processes in the menu <strong>Start » Relocation » Tab: Planned relocation</strong> have been completed. The relocation will be cancelled as soon as possible. It may not be possible to cancel the relocation immediately. Proceed as described below to cancel a planned relocation.</p>
</div>
<div class="paragraph instruction">
<p>Cancelling a relocation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Start » Relocation</strong>.<br>
<strong><em>Tip:</em></strong> To do so, point your cursor at the plentymarkets logo at the top left of the screen.</p>
</li>
<li>
<p>Click on the <strong>Planned relocation</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Cancel relocation</strong>.<br>
→ The relocation is cancelled as soon as possible. Processes that were already completed will be relocated back to the source cloud.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If all processes have already been completed, i.e. if the system has been relocated completely, you will need to request a new relocation to move your system back to the previous cloud.</p>
</div>
</div>
</div>
</div>
</main>