<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#end-users"><span>1.</span><span> For end users</span></a></li>
<li><a href="#developers"><span>2.</span><span> For developers</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up REST API</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The term REST API is made up of two acronyms. REST stands for <em>Representational State Transfer</em>, API for <em>application programming interface</em>. Essentially this means that you can use external calls to communicate with your plentymarkets system in certain ways. This allows you to, for example, retrieve the data of all your contacts at once.</p>
</div>
<div class="paragraph">
<p>Even if you do not intend to use REST API in general, you may still want to use plugins that utilize these so-called routes to interact with your system. Some examples include <a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/ebayoauth2_4787" target="_blank" rel="noopener">eBay OAuth2</a> and <a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/etsy_4689" target="_blank" rel="noopener">Etsy</a>. For these plugins to work properly, you must grant them certain permissions.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="end-users">1. For end users</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you want to use plugins that require REST routes, you must grant them permission to access certain parts of your system. To do so, first create a new user of the class Variable.</p>
</div>
<div class="paragraph instruction">
<p>Creating a Variable user account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The <strong>Create new user</strong> window opens.</p>
</li>
<li>
<p>Enter the <strong>User name</strong>.</p>
</li>
<li>
<p>Enter the <strong>Real name</strong>.</p>
</li>
<li>
<p>Enter the <strong>Password</strong>.</p>
</li>
<li>
<p>Repeat the password.</p>
</li>
<li>
<p>Select the User class <strong>Variable</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The user name must not contain any spaces and must have at least 5 characters.</p>
</div>
<div class="paragraph">
<p>You can specify which rights to grant the user in the REST API tab of the user’s account settings. No REST API rights are activated by default. Rights are granted separately for different modules and sub-modules of the REST API. Under Authorisation, for example, you define whether the REST API user account can display rights or display, create and delete user roles.</p>
</div>
<div class="paragraph instruction">
<p>Activating REST API areas:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open a user account.</p>
</li>
<li>
<p>Click on the <strong>Right</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>REST API</strong> tab.</p>
</li>
<li>
<p>Activate entire areas or expand areas to activate individual rights that the user account should have access to.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Subsequently added, subordinated rights of a main module will be activated automatically for a user account if the main module is activated. You can deactivate this function and manually activate new, subordinated rights.</p>
</div>
<div class="paragraph instruction">
<p>Manually activate new, subordinated rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Settings » User » Accounts</strong>.</p>
</li>
<li>
<p>Open a user account.</p>
</li>
<li>
<p>Click on the <strong>Right</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>REST API</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Activate new, subordinated rights manually</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For information on which rights to grant an account, see the plugin’s user guide.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="developers">2. For developers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you are interested in developing and selling a plugin that utilizes REST API, you can upload it to the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a> free of charge. In addition to plentymarkets plugins, it is also possible to integrate external offers. <a href="https://www.plentymarkets.co.uk/company/be-our-plentymarketplace-partner/" target="_blank" rel="noopener">Register here to become a partner.</a></p>
</div>
<div class="paragraph">
<p>See our developers site for <a href="https://developers.plentymarkets.com/rest-doc/gettingstarted" target="_blank" rel="noopener">general information</a> on the plentymarkets REST API as well as the <a href="https://developers.plentymarkets.com/rest-doc" target="_blank" rel="noopener">available routes</a>. You can also check our tutorials for some examples of how to implement them:</p>
</div>
<div class="exampleblock">
<div class="content">
<div class="ulist">
<ul>
<li>
<p><a href="https://developers.plentymarkets.com/tutorials/customerdata" target="_blank" rel="noopener">Create a contact and an account</a></p>
</li>
<li>
<p><a href="https://developers.plentymarkets.com/tutorials/order-data" target="_blank" rel="noopener">Retrieve order data</a></p>
</li>
<li>
<p><a href="https://developers.plentymarkets.com/tutorials/item-data" target="_blank" rel="noopener">Create an item</a></p>
</li>
<li>
<p><a href="https://developers.plentymarkets.com/tutorials/bulk-routes" target="_blank" rel="noopener">Use bulk routes</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>