<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> States of development of plentymarkets version cycle</span></a></li>
<li><a href="#20"><span>2.</span><span> Set system to earlier state of development</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changing state of development</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets is provided as software as a service. The code is improved and expanded continuously. The version life cycle of plentymarkets consists of the states of development <strong>Beta</strong>, <strong>Early</strong> und <strong>Stable</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. States of development of plentymarkets version cycle</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By default, your system is set to the <strong>Stable</strong> version. However, if you want to benefit from improvements and new features earlier, you can set your system to a version with an earlier state of development. <a href="#table-version-cycle">Table 1</a> shows the states of development of the plentymarkets version life cycle.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">This change cannot be undone.</div>
<div class="paragraph">
<p>You want to help us to constantly make plentymarkets better by working with an early state of development and providing us with feedback regarding any bugs and improvements? Great! However, note that a change to a version with an earlier state of development cannot be undone. As such, carefully weigh the <a href="#table-version-cycle">advantages and disadvantages</a> of the different states of development before setting your system to an earlier state of development.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-version-cycle" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. States of developments of the plentymarkets version cycle</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 50%;">
<col style="width: 16.6666%;">
<col style="width: 16.6668%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">State</th>
<th class="tableblock halign-left valign-top">Description</th>
<th class="tableblock halign-left valign-top">Advantages</th>
<th class="tableblock halign-left valign-top">Disadvantages</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beta</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Developer teams merge finished features and functionalities into the <strong>Beta</strong> version. In this version, customers and partners can test these new features. Reported bugs are eliminated.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Very early access to new features</p>
</li>
<li>
<p>Very high degree of influence on development decisions</p>
</li>
<li>
<p>Possibility to test your own plugins early</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Bugs can occur</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Early</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If no critical bugs are found or if these bugs have been fixed, the beta state is merged into the <strong>Early</strong> version after 7 days or more.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Early access to new features</p>
</li>
<li>
<p>Faster support Queries are prioritised</p>
</li>
<li>
<p>High potential for influencing development decisions</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>May still contain some bugs</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stable</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If no substantial bugs are found during the <strong>Early</strong> phase, the state of the <strong>Early</strong> version is merged into the <strong>Stable</strong> version after 7 days or more.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Stability</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Late access to new features and improvements</p>
</li>
<li>
<p>Less potential for influencing development decisions</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Set system to earlier state of development</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to Switch to an earlier state of development.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">This change cannot be undone.</div>
<div class="paragraph">
<p>A change to a version with an earlier state of development cannot be undone. Carefully weigh the <a href="#table-version-cycle">advantages and disadvantages</a> of the different states of development before setting your system to an earlier state of development.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Set system to an earlier version of the version cycle:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Default client » Version</strong>.<br>
<strong><em>Note:</em></strong> All clients have the same version as the default client. As such, the whole system is set to the selected version.<br>
→ The menu <strong>Version</strong> opens.</p>
</li>
<li>
<p>In the drop-down menu, select the version you want to change to.<br>
<strong><em>Important:</em></strong> You can only set the system to an earlier state of development. The system cannot be set to a later state of development.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The system is set to the selected state of development.<br>
<strong><em>Note:</em></strong> It can take up to 30 minutes for the system to be set to a different version.</p>
</li>
</ol>
</div>
</div>
</div>
</main>