<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with idealo</span></a>
<ul class="sectlevel2">
<li><a href="#150"><span>1.1.</span><span> Installing the idealo plugin</span></a></li>
<li><a href="#175"><span>1.2.</span><span> Installing the Elastic Export plugin</span></a></li>
</ul>
</li>
<li><a href="#200"><span>2.</span><span> Going through the idealo assistant</span></a></li>
<li><a href="#300"><span>3.</span><span> idealo price comparison and idealo Checkout</span></a></li>
<li><a href="#400"><span>4.</span><span> Activating the order referrer</span></a></li>
<li><a href="#500"><span>5.</span><span> Setting the variation availability</span></a></li>
<li><a href="#600"><span>6.</span><span> Defining a sales price</span></a></li>
<li><a href="#700"><span>7.</span><span> Defining SKU manually</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up idealo</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this page, you will find information about the settings you need to carry out in order to set up the market and price comparison portal idealo Checkout in plentymarkets. Learn how to set up the interface, how to export items to idealo Checkout and how to define sales prices.<br></p>
</div>
<h5 id="_about_idealo" class="discrete">About idealo</h5>
<div class="paragraph">
<p>idealo started business in 2000 with the vision of helping users to make the right choices when buying products online and, now counting 50,000 sellers and 18 million users per month, has become one of Germany’s most important e-commerce websites.<br></p>
</div>
<div class="paragraph">
<p>With idealo Checkout, idealo offers a strong sales channel. The "Zum Kauf" (Buy now) button allows users to order a product directly on idealo.de, using a fully integrated checkout function. The sellers remain the contractual partners and take care of fulfilment as usual.</p>
</div>
<h5 id="_idealo_price_comparison_and_idealo_checkout" class="discrete">idealo price comparison and idealo Checkout</h5>
<div class="paragraph">
<p>With plentymarkets, you can both use the idealo price comparison and idealo Checkout (idealo’s checkout function). If you set up idealo Checkout, you enable your customers to buy your products directly at idealo without having to enter your online store.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with idealo</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to register as a seller with idealo to set up the market in plentymarkets.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Item data export</div>
<div class="paragraph">
<p>Inform idealo about how item data should be transferred before setting up idealo in plentymarkets (creating, updating, and deleting items on idealo). Item data can either be exported with a CSV file or via API (PWS 2.0 interface).<br>
If you export your items with PWS 2.0, items will be created on idealo once a day. Prices and stock are updated every 15 minutes. Items can also be deleted every 15 minutes.<br>
If you export your items with a CSV file using the elastic export, your items can be retrieved by idealo via URL.<br>
How to set up the different methods of data transfer in plentymarkets is described in the chapter <a href="#Setting up the item export">Setting up the item export</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Contact idealo if you transfer your items via API</div>
<div class="paragraph">
<p>If you would like to export your items to idealo via API (PWS 2.0 interface), first contact idealo at <a href="mailto:tam@idealo.de">tam@idealo.de</a> to receive your access data.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="150">1.1. Installing the idealo plugin</h3>
<div class="paragraph">
<p>In order to use the idealo, you have to install the <a href="https://marketplace.plentymarkets.com/en/plugins/sales/preisportale/elasticexportidealode_4723" target="_blank" rel="noopener">ElasticExportIdealoDE plugin</a> in your plentymarkets system first. You can download the plugin in the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
<div class="sect2">
<h3 id="175">1.2. Installing the Elastic Export plugin</h3>
<div class="paragraph">
<p>In order to use the idealo plugin, you have to install the <a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastic Export plugin</a> first. You can download the plugin in the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Going through the idealo assistant</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go through the <strong>idealo Basic settings</strong> assistant in the <strong>Setup » Assistants » Omni-Channel</strong> menu to carry out the basic settings for idealo in plentymarkets. With this assistant, you set up your idealo account in plentymarkets and carry out settings for the item data export to idealo and order import from idealo Checkout.<br></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Item data export via API</div>
<div class="paragraph">
<p>It is mandatory to go through the <strong>idealo Basic settings</strong> assistant if you export your items to idealo with PWS 2.0. The automatic item export can only be set up in this assistant.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. idealo price comparison and idealo Checkout</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Depending on whether you only want to use the idealo price comparison or whether you want to enable your customers to buy items directly at idealo without having to enter your online store, different settings must be carried out. The overview below lists the settings required for idealo Checkout.</p>
</div>
<div class="paragraph">
<p><strong>Settings for idealo Checkout:</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Basic settings:</strong> Go through the <strong>idealo Basic settings</strong> assistant in the <strong>Setup » Assistants » Omni-Channel</strong> menu.</p>
</li>
<li>
<p><strong>Item export:</strong> Set up the <a href="#Item export via API (PWS 2.0 interface)">automatic item export</a> or the <a href="#Item export with elastic export">item export via CSV file</a>, depending on how you want to export your items to idealo.</p>
</li>
<li>
<p><strong>Order referrer:</strong> In addition to the order referrer <strong>idealo</strong>, also activate the <a href="#400">order referrer</a> <strong>idealo Checkout</strong> in the <strong>Setup » Orders » Order referrer</strong> menu.</p>
</li>
<li>
<p><strong>Item availability:</strong> In addition to the option <strong>idealo</strong>, also activate the <a href="#500">availability</a> <strong>idealo Checkout</strong> in the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Availability</strong> menu in the <strong>Markets</strong> area.</p>
</li>
<li>
<p><strong>Sales price:</strong> Set up a <a href="#600">sales price</a>.</p>
</li>
<li>
<p><strong>SKU:</strong> Add <a href="#700">SKUs</a> if needed.</p>
</li>
<li>
<p><strong>Payment method:</strong> Activate the <a href="#Activating the payment method idealo Direktkauf">payment method</a> <strong>idealo Direktkauf</strong>.</p>
</li>
<li>
<p><strong>Characteristics:</strong> Create <a href="#Creating characteristics">characteristics</a> for idealo Checkout. With characteristics, you can transfer item properties, shipping methods, and charges to idealo Checkout.</p>
</li>
<li>
<p><strong>Event procedures:</strong> Set up <a href="#Setting up event procedures">event procedures</a> to automatically inform idealo Checkout about changes in the order status.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, characteristics etc. with the idealo price comparison portal, you have to activate the idealo order referrer in the <strong>Setup » Orders » Order referrer</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for the idealo price comparison:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the referrer <strong>idealo</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you would like to use idealo Checkout, then also activate the order referrer <strong>idealo Checkout</strong>. If you activate the order referrer <strong>idealo Checkout</strong>, then the column <strong>checkout_approved</strong> in the CSV file that is generated in the elastic export is set to <strong>true</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate all variations that you want to sell on idealo. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Selling all variations of an item on idealo</div>
<div class="paragraph">
<p>If you want to sell all variations of an item on idealo, carry out the settings below for the item’s main variation. All other variations of the item then inherit the settings of the main variation.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Activating the variation availability for idealo:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on idealo.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, active the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field. <br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>idealo</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
<strong><em>Note:</em></strong> If you want to use idealo Checkout, also activate the option <strong>idealo Checkout</strong> in the <strong>Markets</strong> area.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer idealo. This price is displayed on idealo. It is valid for the idealo price comparison and idealo Checkout.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for idealo:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices »</strong> <em>Open sales price</em> <strong>» Tab: Settings</strong>.<br>
→ If you have not yet created a sales price, click on <strong>New</strong> to create a sales price.</p>
</li>
<li>
<p>Activate the referrer <strong>idealo</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Minimum price</div>
<div class="paragraph">
<p>If you want to use a minimum price for the "price range" feature for idealo, then you have to define at least two sales prices for idealo: a minimum price and a standard sales price. The minimum price must have the price type <strong>Special offer</strong> and must be linked to the referrer <strong>idealo Direktkauf</strong>.<br>
Which price should be transferred to idealo as minimum price is defined with the setting <strong>Which price would you like to transfer to idealo as minimum price?</strong> in the <strong>Item data</strong> step of the idealo assistant.<br>
The "price range" feature must also be activated at idealo.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="700">7. Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Availability</strong> menu if needed.</p>
</div>
</div>
</div>
</main>