<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with idealo</span></a></li>
<li><a href="#150"><span>2.</span><span> Installing the IdealoDE-plugin</span></a></li>
<li><a href="#200"><span>3.</span><span> Setting up idealo in plentymarkets</span></a></li>
<li><a href="#250"><span>4.</span><span> idealo price comparison: Activating the order referrer</span></a></li>
<li><a href="#300"><span>5.</span><span> idealo price comparison: Setting the item availability</span></a></li>
<li><a href="#400"><span>6.</span><span> idealo price comparison and idealo Checkout: Defining a sales price</span></a></li>
<li><a href="#500"><span>7.</span><span> idealo price comparison and idealo Checkout: Defining SKU manually</span></a></li>
<li><a href="#600"><span>8.</span><span> idealo price comparison and idealo Checkout: Setting up the item export</span></a></li>
<li><a href="#625"><span>9.</span><span> Setting up idealo Checkout</span></a></li>
<li><a href="#650"><span>10.</span><span> idealo Checkout Activating the payment method idealo Checkout</span></a></li>
<li><a href="#660"><span>11.</span><span> idealo Checkout Creating properties</span></a>
<ul class="sectlevel2">
<li><a href="#665"><span>11.1.</span><span> Creating the properties material and gender</span></a></li>
<li><a href="#675"><span>11.2.</span><span> Creating properties for shipping methods</span></a></li>
<li><a href="#676"><span>11.3.</span><span> Creating a property for delivery comments</span></a></li>
<li><a href="#680"><span>11.4.</span><span> Creating the property energy efficiency class</span></a></li>
<li><a href="#685"><span>11.5.</span><span> Creating the property free return</span></a></li>
<li><a href="#690"><span>11.6.</span><span> Creating the property deposit fee</span></a></li>
<li><a href="#695"><span>11.7.</span><span> Creating the property replica</span></a></li>
</ul>
</li>
<li><a href="#700"><span>12.</span><span> idealo Checkout: Automatically sending order confirmations</span></a></li>
<li><a href="#800"><span>13.</span><span> idealo Checkout: Automatically sending shipping confirmations</span></a></li>
<li><a href="#850"><span>14.</span><span> idealo Checkout: Automatically sending returns</span></a></li>
<li><a href="#900"><span>15.</span><span> idealo Checkout: Automatically sending cancellations</span></a></li>
<li><a href="#1000"><span>16.</span><span> Viewing the API log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up idealo</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this page, you will find information about the settings you need to carry out in order to set up the market and price comparison portal idealo Checkout in plentymarkets. Learn how to set up the interface, how to export items to idealo Checkout and how to define sales prices.<br></p>
</div>
<div class="paragraph subhead">
<p>idealo price comparison and idealo Checkout</p>
</div>
<div class="paragraph">
<p>With plentymarkets, you can both use the idealo price comparison and idealo Checkout. idealo Checkout enables your customers to buy items directly on the idealo website without having to enter your web shop.<br></p>
</div>
<div class="paragraph">
<p>The idealoDE plugin is required in order to use the idealo price comparison and idealo Checkout.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with idealo</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to register with <a href="https://partner.idealo.com/de/" target="_blank" rel="noopener">idealo</a> before setting up idealo in plentymarkets. Please note that this website is currently only available in German.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="150">2. Installing the IdealoDE-plugin</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Data is transferred to idealo via the elastic export. In order to automatically transfer data to idealo, install the <a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastic Export</a> and <a href="https://marketplace.plentymarkets.com/en/plugins/channels/preisportale/elasticexportidealode_4723" target="_blank" rel="noopener">idealoDE</a> plugins from the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>.<br></p>
</div>
<div class="paragraph">
<p>Installing the plugin is required both if you want to use the idealo price comparison and idealo Checkout.<br></p>
</div>
<div class="paragraph">
<p>Installing the idealoDE plugin allows for the following processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>automatic data transfer to idealo via the elastic export</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. Setting up idealo in plentymarkets</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Check idealo product CSV</div>
<div class="paragraph">
<p>Not all of the columns of idealo’s product CSV are available in plentymarkets at present. Check whether you need columns which are not yet available in plentymarkets prior to setting up idealo in plentymarkets. In this case, an integration of idealo is currently not possible.<br>
An overview of the columns which are available in plentymarkets can be found in the <a href="https://marketplace.plentymarkets.com/en/plugins/channels/preisportale/elasticexportidealode_4723" target="_blank" rel="noopener">idealo plugin user guide</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Carry out the following settings in plentymarkets in order to activate the automatic hourly order import from idealo. This setting is required both if you want to use the idealo price comparison and idealo Checkout.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order import:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » idealo Checkout</strong>.</p>
</li>
<li>
<p>Place a check mark next to the <strong>Activate automatic data exchange</strong> option.</p>
</li>
<li>
<p>Enter the API key as received from idealo.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="250">4. idealo price comparison: Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with the idealo price comparison, you have to activate the <strong>idealo</strong> order referrer in the <strong>Setup » Orders » Order referrer</strong> menu.<br></p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for the idealo price comparison:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Place a check mark next to the <strong>idealo</strong> option.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you would like to use <strong>idealo Checkout</strong>, then also activate the order referrer <strong>idealo Checkout</strong>, as described in the <a href="#625">Setting up idealo Checkout</a> chapter.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">5. idealo price comparison: Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for idealo. This is done in the <strong>Availability</strong> tab of an item within the <strong>Item » Edit item » Open item » Tab: Variation ID</strong> menu. Activate the item availability for idealo as described below.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for the idealo price comparison:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the selection field in the <strong>Markets</strong> section.<br>
→ A list with all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>idealo</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be edited in the <strong>Item » Edit item » Open item » Tab: Variations » Open variation » Tab: Variation ID » Tab: Availability</strong> menu.<br></p>
</div>
<div class="paragraph">
<p>If you want to use <strong>idealo Checkout</strong>, then also activate the order referrer <strong>idealo Checkout</strong> in the <strong>Markets</strong> section, as described in the <a href="#625">Setting up idealo Checkout</a> chapter.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">6. idealo price comparison and idealo Checkout: Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer idealo. This price is displayed on idealo. It is valid for the idealo price comparison and idealo Checkout.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for idealo:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a check mark next to the referrer <strong>idealo</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">7. idealo price comparison and idealo Checkout: Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Availability</strong> menu if needed.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>) in the <strong>SKU</strong> section.<br>
→ The <strong>New SKU</strong> window is displayed.</p>
</li>
<li>
<p>Select the referrer <strong>idealo</strong>.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">8. idealo price comparison and idealo Checkout: Setting up the item export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items are exported to idealo via elastic export with the data format idealoDE. Therefore, the plugins <strong>ElasticExport</strong> and <strong>ElasticExportIdealoDE</strong> have to be installed. First, create the data format IdealoDE. Then transfer the URL to idealo.<br></p>
</div>
<div class="paragraph">
<p>Setting up the item export is required both if you want to use the idealo price comparison and idealo Checkout.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the item export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New export</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-item-export">Table 1</a>.</p>
</li>
<li>
<p>Carry out further settings for item filters and format settings. Pay attention to the explanations given in table 2 on the <a href="/en/data/exporting-data/elastic-export#300">Elastic export</a> page.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.<br>
→ The export format is given an ID and it appears in the overview within the <strong>Exports</strong> tab.</p>
</li>
</ol>
</div>
<table id="settings-item-export" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for the item export</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name. The export format is listed by this name in the overview within the <strong>Exports</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type <strong>item</strong> from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the format <strong>IdealoDE</strong> from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number. If you want to transfer more than 10,000 data records to idealo, then the output file will not be generated again for another 24 hours. This is to save resources.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>URL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token</strong>,<br>
<strong>URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the option <strong>URL</strong> under <strong>Provisioning</strong>, then click on <strong>Generate token</strong>. The token is entered automatically. The URL is entered automatically if the token was generated under <strong>Token</strong>. Give this URL to idealo in order to export the items.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="625">9. Setting up idealo Checkout</h2>
<div class="sectionbody">
<div class="paragraph">
<p>idealo Checkout enables your customers to buy items directly on the idealo website without having to enter your web shop. The following chapters deal with the settings which are necessary in order to use idealo Checkout in plentymarkets.<br></p>
</div>
<div class="paragraph">
<p>In order to use idealo Checkout in plentymarkets, activate the order referrer <strong>idealo Checkout</strong> and set the item availability for <strong>idealo Checkout</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for idealo Checkout:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>idealo Checkout</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you activate the order referrer <strong>idealo Checkout</strong>, then the column <strong>checkout_approved</strong> is set to <strong>true</strong> in the file that is generated in the elastic export.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for idealo Checkout:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the selection field in the <strong>Markets</strong> section.<br>
→ A list with all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>idealo Checkout</strong>.</p>
</li>
<li>
<p>Make sure that the <strong>Web API</strong> option is activated.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be edited in the <strong>Item » Edit item » Open item » Tab: Variations » Open variation » Tab: Variation ID » Tab: Availability</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="650">10. idealo Checkout Activating the payment method <strong>idealo Checkout</strong></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the payment method <strong>idealo Checkout</strong>. This allows payments to be made for orders on idealo and to be displayed in your plentymarkets system.</p>
</div>
<div class="paragraph instruction">
<p>Activating the idealo payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>DE &gt; idealo Checkout</strong>.</p>
</li>
<li>
<p>Select the idealo payment method.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-payment-method-idealo">Table 2</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="settings-payment-method-idealo" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong>, and <strong>Upload logo</strong>. This enables you to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the option <strong>Info page (external)</strong> under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely set up.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then the logo that was uploaded is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG, and JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract. <strong>Important:</strong> Do not enter a value into both fields.<br>
For further information, refer to the <a href="/en/basics/working-with-plentymarkets/statistics/managing-statisticss">Managing statistics</a> page. For an example of flat rate and percentage costs, refer to the <a href="/en/payment/managing-payment-methods#20">Managing payment methods</a> page.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>Setup » CRM » Classes</strong> to activate or deactivate <strong>permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/payment/managing-payment-methods">Managing payment methods</a> page.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">PayPal payment method</div>
<div class="paragraph">
<p>If you offer the PayPal payment method, it is mandatory to create and configure this payment method in your plentymarkets system. This is to ensure that the payment is imported correctly and assigned to the order.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="660">11. idealo Checkout Creating properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use <a href="/en/item/managing-items#480">properties</a> to link specific properties to your items which are required to set up idealo Checkout. Item properties, shipping methods and fees are transferred to idealo Checkout with properties.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Properties can only be used with the idealo plugin version 2.0.</div>
<div class="paragraph">
<p>The properties <strong>DeliveryComment</strong>, <strong>DepositFee</strong>, <strong>DisposalPrice</strong>, <strong>EnergyClass</strong>, <strong>FreeReturnDays</strong>, <strong>Gender</strong>, <strong>Material</strong>, and <strong>Replica</strong> can be used as soon as the idealo plugin version 2.0 becomes available and is installed in your plentymarkets system.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="665">11.1. Creating the properties material and gender</h3>
<div class="paragraph">
<p>Use the properties <strong>Material</strong> and <strong>Gender</strong> to transfer information about material and target group or gender to idealo Checkout.<br></p>
</div>
<div class="paragraph">
<p>Proceed as described below to create the property <strong>Material</strong>. Create the <strong>Gender</strong> property in the same way, but select the property type <strong>Text</strong> instead.</p>
</div>
<div class="paragraph instruction">
<p>Creating a property for material:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics » Tab: New characteristic</strong>.</p>
</li>
<li>
<p>Enter the <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select <strong>No</strong> from the property type drop-down list.</p>
</li>
<li>
<p>Select the property <strong>Material</strong> for <strong>idealo Direktkauf property</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Next, you have to link the property to the item in the <strong>Item » Edit item » Open item » Open variation » Tab: Properties</strong> menu.</p>
</div>
</div>
<div class="sect2">
<h3 id="675">11.2. Creating properties for shipping methods</h3>
<div class="paragraph">
<p>With idealo Checkout, the customer buys the items directly at idealo and you have to send shipping information to idealo Checkout. If you ship your items with a parcel service, a shipping company, via letter or via download, this mandatory information is transferred to idealo with a property. If the order is carried out by a shipping company, the customer has to enter their phone number during the order process in order to arrange a delivery date.<br></p>
</div>
<div class="paragraph">
<p>Proceed as described below to create the property <strong>FulfillmentType</strong>. This property indicates whether you use the shipping method <strong>shipping company</strong>, <strong>parcel service</strong>, <strong>letter</strong>, or <strong>download</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating a property for the shipping method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics » Tab: New characteristic</strong>.</p>
</li>
<li>
<p>Enter the <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select <strong>No</strong> from the property type drop-down list.</p>
</li>
<li>
<p>Select the property <strong>FulfillmentType</strong> for <strong>idealo Direktkauf property</strong>.<br>
→ A drop-down list appears.</p>
</li>
<li>
<p>Select a value from the drop-down list, depending on the shipping type. The values <strong>Spedition</strong> (shipping company), <strong>Paketdienst</strong> (parcel service), <strong>Brief</strong> (letter), and <strong>Download</strong> (download) are available.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Next, you have to link the property to the item in the <strong>Item » Edit item » Open item » Open variation » Tab: Properties</strong> menu.</p>
</div>
<div class="paragraph subhead">
<p>Further properties for shipping methods</p>
</div>
<div class="paragraph">
<p>For items which have the shipping method shipping company, it is also possible to transfer the additional services <strong>TwoManHandlingPrice</strong> and <strong>DisposalPrice</strong> to idealo Checkout. DisposalPrice can only be used in combination with TwoManHandlingPrice. That means you have to create the property <strong>TwoManHandlingPrice</strong> as well as the property <strong>DisposalPrice</strong> and link them to the item. In both cases, select <strong>decimal number</strong> as the property type. Go to <strong>Item » Edit item » Open item » Open variation » Tab: Properties</strong> and enter the surcharge for the additional service with two decimal places behind the decimal separator. Use a period for the decimal separator (19.99).</p>
</div>
</div>
<div class="sect2">
<h3 id="676">11.3. Creating a property for delivery comments</h3>
<div class="paragraph">
<p>Use the property <strong>DeliveryComment</strong> to transfer further information about the delivery.<br></p>
</div>
<div class="paragraph">
<p>Proceed as described below to create the property <strong>DeliveryComment</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating a property to specify further information about the delivery:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics » Tab: New characteristic</strong>.</p>
</li>
<li>
<p>Enter the <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select <strong>Text</strong> from the property type drop-down list.</p>
</li>
<li>
<p>Select the property <strong>DeliveryComment</strong> for <strong>idealo Direktkauf property</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Next, you have to link the property to the item in the <strong>Item » Edit item » Open item » Open variation » Tab: Properties</strong> menu.</p>
</div>
</div>
<div class="sect2">
<h3 id="680">11.4. Creating the property energy efficiency class</h3>
<div class="paragraph">
<p>Use the property <strong>EnergyClass</strong> to transfer information about the energy efficiency class to idealo Checkout.<br></p>
</div>
<div class="paragraph">
<p>Proceed as described below to create the property <strong>EnergyClass</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating a property for the energy efficiency class:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics » Tab: New characteristic</strong>.</p>
</li>
<li>
<p>Enter the <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select the property type <strong>No</strong> from the property type drop-down list.</p>
</li>
<li>
<p>Select the property <strong>EnergyClass</strong> for <strong>idealo Direktkauf property</strong>.<br>
→ A drop-down list appears.</p>
</li>
<li>
<p>Select a value from the drop-down list, depending on the energy efficiency class.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Next, you have to link the property to the item in the <strong>Item » Edit item » Open item » Open variation » Tab: Properties</strong> menu.</p>
</div>
</div>
<div class="sect2">
<h3 id="685">11.5. Creating the property free return</h3>
<div class="paragraph">
<p>Use the property <strong>FreeReturnDays</strong> to transfer information about the free return period to idealo Checkout.<br></p>
</div>
<div class="paragraph">
<p>Proceed as described below to create the property <strong>FreeReturnDays</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating a property for the free return period:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics » Tab: New characteristic</strong>.</p>
</li>
<li>
<p>Enter the <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select the property type <strong>whole number</strong> from the drop-down list.</p>
</li>
<li>
<p>Select the property <strong>FreeReturnDays</strong> for <strong>idealo Direktkauf property</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Next, you have to link the property to the item in the <strong>Item » Edit item » Open item » Open variation » Tab: Properties</strong> menu.</p>
</div>
</div>
<div class="sect2">
<h3 id="690">11.6. Creating the property deposit fee</h3>
<div class="paragraph">
<p>Use the property <strong>DepositFee</strong> to transfer information about the deposit fee to idealo Checkout. This property is required if a deposit fee must be paid for an item.<br></p>
</div>
<div class="paragraph">
<p>Proceed as described below to create the property <strong>DepositFee</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating a property for the deposit fee:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics » Tab: New characteristic</strong>.</p>
</li>
<li>
<p>Enter the <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select the property type <strong>decimal number</strong> from the drop-down list.</p>
</li>
<li>
<p>Select the property <strong>DepositFee</strong> for <strong>idealo Direktkauf property</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Next, you have to link the property to the item in the <strong>Item » Edit item » Open item » Open variation » Tab: Properties</strong> menu.</p>
</div>
</div>
<div class="sect2">
<h3 id="695">11.7. Creating the property replica</h3>
<div class="paragraph">
<p>Use the property <strong>Replica</strong> to specify whether the item is a replica.<br></p>
</div>
<div class="paragraph">
<p>Proceed as described below to create the property <strong>Replica</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating the property replica:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics » Tab: New characteristic</strong>.</p>
</li>
<li>
<p>Enter the <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select the property type <strong>No</strong> from the property type drop-down list.</p>
</li>
<li>
<p>Select the property <strong>Replica</strong> for <strong>idealo Direktkauf property</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Next, you have to link the property to the item in the <strong>Item » Edit item » Open item » Open variation » Tab: Properties</strong> menu.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">12. idealo Checkout: Automatically sending order confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically send an order confirmation to idealo.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in <a href="#event-procedure-order-confirmation-idealo">Table 3</a> below.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.<br>
→ The event is created.</p>
</li>
<li>
<p>Carry out further settings. Pay attention to the explanations given in <a href="#event-procedure-order-confirmation-idealo">Table 3</a> below.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.<br>
→ The event procedure is saved.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-order-confirmation-idealo" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Event procedure for automatically sending order confirmations to idealo</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation: New order</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>idealo Checkout</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Send order confirmation idealo</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">13. idealo Checkout: Automatically sending shipping confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically send a shipping confirmation to idealo when the outgoing items have been booked.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in <a href="#event-procedure-shipping-confirmation-idealo">Table 4</a> below.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.<br>
→ The event is created.</p>
</li>
<li>
<p>Carry out further settings. Pay attention to the explanations given in <a href="#event-procedure-shipping-confirmation-idealo">Table 4</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.<br>
→ The event procedure is saved.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-shipping-confirmation-idealo" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Event procedure for automatically sending shipping confirmations to idealo</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Outgoing items booked</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>idealo Checkout</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping &gt; Send shipping confirmation to idealo</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="850">14. idealo Checkout: Automatically sending returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically inform idealo about returns.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in <a href="#event-procedure-returns-idealo">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.<br>
→ The event is created.</p>
</li>
<li>
<p>Carry out further settings. Pay attention to the explanations given in <a href="#event-procedure-returns-idealo">Table 5</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.<br>
→ The event procedure is saved.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-returns-idealo" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Event procedure for automatically sending returns to idealo</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation: New return</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>idealo Checkout</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return &gt; Send return to idealo</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="900">15. idealo Checkout: Automatically sending cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically inform idealo of cancellations.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in <a href="#event-procedure-cancellations-idealo">Table 6</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.<br>
→ The event is created.</p>
</li>
<li>
<p>Carry out further settings. Pay attention to the explanations given in <a href="#event-procedure-cancellations-idealo">Table 6</a>.</p>
</li>
<li>
<p>Select a <strong>reason</strong> for the cancellation.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.<br>
→ The event procedure is saved.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-cancellations-idealo" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Event procedure for automatically sending cancellations to idealo</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change: [8] Cancelled</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>idealo Checkout</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Send cancellation to idealo</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">16. Viewing the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Data » API log</strong> menu contains a history of processes that run via the idealo interface. The <strong>idealoDirektkauf</strong> format is available for idealo.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » API log » Tab: API log</strong>.</p>
</li>
<li>
<p>Select the format <strong>idealoDirektkauf *from the *Process</strong> drop-down list.</p>
</li>
<li>
<p>Select a <strong>date</strong> if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Select the number of results per page.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>) to display the results.</p>
</li>
</ol>
</div>
</div>
</div>
</main>