<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with idealo</span></a></li>
<li><a href="#3000"><span>2.</span><span> Select a method for item data export</span></a>
<ul class="sectlevel2">
<li><a href="#150"><span>2.1.</span><span> Installing the idealo plugin</span></a></li>
<li><a href="#175"><span>2.2.</span><span> Installing the Elastic Export plugin</span></a></li>
</ul>
</li>
<li><a href="#200"><span>3.</span><span> Completing the idealo assistant</span></a></li>
<li><a href="#300"><span>4.</span><span> idealo price comparison and idealo Checkout</span></a></li>
<li><a href="#400"><span>5.</span><span> Activating the order referrer</span></a></li>
<li><a href="#500"><span>6.</span><span> Setting the variation availability</span></a></li>
<li><a href="#600"><span>7.</span><span> Defining a sales price</span></a></li>
<li><a href="#700"><span>8.</span><span> Defining SKU manually</span></a></li>
<li><a href="#800"><span>9.</span><span> Setting up the item export</span></a>
<ul class="sectlevel2">
<li><a href="#850"><span>9.1.</span><span> Item data export via API (PWS 2.0)</span></a></li>
<li><a href="#900"><span>9.2.</span><span> Item data export via elastic export</span></a>
<ul class="sectlevel3">
<li><a href="#950"><span>9.2.1.</span><span> Setting up the data format IdealoDE plugin in plentymarkets</span></a></li>
<li><a href="#1000"><span>9.2.2.</span><span> Available columns for the export file</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#1100"><span>10.</span><span> Activating the idealo payment method</span></a></li>
<li><a href="#1200"><span>11.</span><span> Creating characteristics</span></a>
<ul class="sectlevel2">
<li><a href="#1250"><span>11.1.</span><span> Creating the characteristics material and gender</span></a></li>
<li><a href="#1300"><span>11.2.</span><span> Creating characteristics for shipping methods</span></a></li>
<li><a href="#1350"><span>11.3.</span><span> Creating a characteristic for delivery comments</span></a></li>
<li><a href="#1400"><span>11.4.</span><span> Creating the characteristic energy efficiency class</span></a></li>
<li><a href="#1450"><span>11.5.</span><span> Creating the characteristic free return</span></a></li>
<li><a href="#1500"><span>11.6.</span><span> Creating the characteristic deposit fee</span></a></li>
<li><a href="#1550"><span>11.7.</span><span> Creating the characteristic replica</span></a></li>
</ul>
</li>
<li><a href="#1600"><span>12.</span><span> Creating event procedures for idealo Checkout</span></a>
<ul class="sectlevel2">
<li><a href="#1650"><span>12.1.</span><span> Automatically sending order confirmations</span></a></li>
<li><a href="#1700"><span>12.2.</span><span> Automatically sending shipping confirmations</span></a></li>
<li><a href="#1750"><span>12.3.</span><span> Automatically sending returns</span></a></li>
<li><a href="#1800"><span>12.4.</span><span> Automatically sending cancellations</span></a></li>
</ul>
</li>
<li><a href="#1900"><span>13.</span><span> Viewing the log</span></a></li>
<li><a href="#2000"><span>14.</span><span> FAQ</span></a>
<ul class="sectlevel2">
<li><a href="#2100"><span>14.1.</span><span> Item data export via API (PWS 2.0)</span></a>
<ul class="sectlevel4">
<li><a href="#_not_all_of_my_items_are_exported_to_idealo_what_can_i_do"><span>Not all of my items are exported to idealo. What can I do?</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up idealo</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this page, you will find information about the settings you need to carry out in order to set up the market and price comparison portal idealo Checkout in plentymarkets. Learn how to set up the interface, how to export items to idealo Checkout and how to define sales prices.</p>
</div>
<h5 id="_about_idealo" class="discrete">About idealo</h5>
<div class="paragraph">
<p>idealo started business in 2000 with the vision of helping users to make the right choices when buying products online and, now counting 50,000 sellers and 18 million users per month, has become one of Germany’s most important e-commerce websites.</p>
</div>
<div class="paragraph">
<p>With idealo Checkout, idealo offers a strong sales channel. The "Zum Kauf" (Buy now) button allows users to order a product directly on idealo.de, using a fully integrated checkout function. The sellers remain the contractual partners and take care of fulfilment as usual.</p>
</div>
<h5 id="_idealo_price_comparison_and_idealo_checkout" class="discrete">idealo price comparison and idealo Checkout</h5>
<div class="paragraph">
<p>With plentymarkets, you can both use the idealo price comparison and idealo Checkout. idealo Checkout enables your customers to buy items directly on the idealo website without having to enter your web shop.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with idealo</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to set up idealo in your plentymarkets system, you have to register as an idealo seller first.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="3000">2. Select a method for item data export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Inform idealo about how item data should be transferred before setting up idealo in plentymarkets (creating, updating, and deleting items on idealo). You can either transfer item data to idealo with the automatic item export via an API (PWS 2.0 interface) or with a CSV file using the elastic export. <a href="#item-export-idealo-1">Table 1</a> shows the most important differences between these two methods of exporting item data. How to set up the different methods of data transfer in plentymarkets is described in the chapter <a href="#800">Setting up the item export</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Contact idealo if you transfer your items via API</div>
<div class="paragraph">
<p>If you would like to export your items to idealo via API (PWS 2.0 interface), first contact idealo at <a href="mailto:tam@idealo.de">tam@idealo.de</a> to receive your access data.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="item-export-idealo-1" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. .idealo data transfer</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Item data export via API (PWS 2.0)</th>
<th class="tableblock halign-left valign-top">Item data export via elastic export</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item data export via interface</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item data export via CSV file</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items are created once a day</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Retrieval of item data via URL that is saved at idealo</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price updates every 15 minutes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time interval for retrieval of item data is defined by idealo</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock updates every 15 minutes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are imported to the selected client</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are always imported to the default client</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="150">2.1. Installing the idealo plugin</h3>
<div class="paragraph">
<p>In order to use idealo in plentymarkets, you have to install the <a href="https://marketplace.plentymarkets.com/en/plugins/sales/preisportale/elasticexportidealode_4723" target="_blank" rel="noopener">ElasticExportIdealoDE plugin</a> in your plentymarkets system. You can download the plugin in the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
<div class="sect2">
<h3 id="175">2.2. Installing the Elastic Export plugin</h3>
<div class="paragraph">
<p>In order to use the idealo plugin, you have to install the <a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastic Export plugin</a>. You can download the plugin in the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. You also need the Elastic Export plugin if you export your item data to idealo via the interface PWS 2.0.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. Completing the idealo assistant</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, go through the <strong>idealo Basic settings</strong> assistant in the <strong>Setup » Assistants » Omni-Channel</strong> menu. This assistant helps you to carry out the basic settings for idealo in plentymarkets. With this assistant, you set up your idealo account in plentymarkets and carry out settings for the item data export to idealo and order import from idealo Checkout.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Item data export via API</div>
<div class="paragraph">
<p>It is mandatory to go through the <strong>idealo Basic settings</strong> assistant if you export your items to idealo with PWS 2.0. The automatic item export can only be set up in this assistant.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. idealo price comparison and idealo Checkout</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Depending on whether you only want to use the idealo price comparison or whether you want to enable your customers to buy items directly at idealo without having to enter your online store, different settings must be carried out. The overview below lists the settings required for idealo Checkout.</p>
</div>
<div class="paragraph">
<p><strong>Settings for idealo Checkout:</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Basic settings:</strong> Go through the <strong>idealo Basic settings</strong> assistant in the <strong>Setup » Assistants » Omni-Channel</strong> menu.</p>
</li>
<li>
<p><strong>Item export:</strong> Set up the <a href="#850">automatic item export</a> or the <a href="#900">item data export via CSV file</a>, depending on how you want to export your items to idealo.</p>
</li>
<li>
<p><strong>Order referrer:</strong> In addition to the order referrer <strong>idealo</strong>, also activate the <a href="#400">order referrer</a> <strong>idealo Checkout</strong> in the <strong>Setup » Orders » Order referrer</strong> menu.</p>
</li>
<li>
<p><strong>Variation availability:</strong> In addition to the order referrer <strong>idealo</strong>, also activate the <a href="#500">order referrer</a> <strong>idealo Checkout</strong> in the <strong>Markets</strong> area of the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Availability</strong> menu.</p>
</li>
<li>
<p><strong>Sales price:</strong> Set up a <a href="#600">sales price</a>.</p>
</li>
<li>
<p><strong>SKU:</strong> Add <a href="#700">SKUs</a> if needed.</p>
</li>
<li>
<p><strong>Payment method:</strong> Activate the <a href="#1100">payment method</a> <strong>idealo Checkout</strong>.</p>
</li>
<li>
<p><strong>Characteristics:</strong> Create <a href="#1200">characteristics</a> for idealo Checkout. Item characteristics, shipping methods and fees are transferred to idealo Checkout with characteristics.</p>
</li>
<li>
<p><strong>Event procedures:</strong> Set up <a href="#1600">event procedures</a> to automatically inform idealo about changes in the order status.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with {market}. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for idealo price comparison:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>idealo</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> To use idealo Checkout, also activate the order referrer <strong>idealo Checkout</strong>.<br>
→ If you activate the order referrer <strong>idealo Checkout</strong>, the column <strong>checkout_approved</strong> in the CSV file that is generated in the elastic export is set to <strong>true</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">6. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate all variations that you want to sell on idealo. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Use group function or batch processing</div>
<div class="paragraph">
<p>You can edit the availability of several variations at once by using either the <a href="/en/item/managing-items#100">variation group function</a> or <a href="/en/item/managing-items#400">batch processing</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting the variation availability for idealo:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on idealo.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on idealo, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>idealo</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> If you want to use idealo Checkout, also activate the option <strong>idealo Checkout</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The variation is available for idealo.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">7. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer idealo. This price is displayed on idealo. It is valid for the idealo price comparison and idealo Checkout.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer idealo price comparison. This price is displayed on idealo price comparison.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for idealo price comparison:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices »</strong> <em>Open sales price</em> <strong>» Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the referrer <strong>idealo price comparison</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Minimum price</div>
<div class="paragraph">
<p>If you want to use a minimum price for the "price range" feature for idealo, then you have to define at least two sales prices for idealo: a minimum price and a standard sales price. The minimum price must have the price type <strong>Special offer</strong> and must be linked to the referrer <strong>idealo Checkout</strong>.<br>
Which price should be transferred to idealo as minimum price is defined with the setting <strong>Which price would you like to transfer to idealo as minimum price?</strong> in the <strong>Item data</strong> step of the idealo assistant.<br>
The "price range" feature must also be activated at idealo.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="700">8. Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Availability</strong> menu if needed.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>SKU</strong> area, click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>New SKU</strong> window opens.</p>
</li>
<li>
<p>Select the referrer <strong>idealo</strong>.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If you want to use idealo Checkout, also add SKUs with the referrer <strong>idealo Checkout</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="800">9. Setting up the item export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items can be transferred to idealo with the automatic item data export via API (PWS 2.0 interface) or via a CSV file with the elastic export. Depending on how you want to transfer your items to idealo, different settings are required.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Data transfer to idealo</div>
<div class="paragraph">
<p>Inform idealo about how item data should be transferred before the setup in plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Information about the different types of data transfer is available in <a href="#item-export-idealo">Table 2</a>.</p>
</div>
<table id="item-export-idealo" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. .idealo data transfer</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Item data export via API (PWS 2.0)</th>
<th class="tableblock halign-left valign-top">Item data export via elastic export</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item data export via interface</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item data export via CSV file</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items are created once a day</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Retrieval of item data via URL that is saved at idealo</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price updates every 15 minutes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Time interval for retrieval of item data is defined by idealo</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock updates every 15 minutes</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are imported to the selected client</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Orders are always imported to the default client</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="850">9.1. Item data export via API (PWS 2.0)</h3>
<div class="paragraph">
<p>If you want to transfer your items to idealo via API, go through the <strong>idealo Basic settings</strong> assistant in the <strong>Setup » Assistants » Omni-Channel</strong> menu and activate the automatic item data export. Apart from the assistant, no further settings are required to set up the automatic item export in plentymarkets.<br></p>
</div>
<div class="paragraph">
<p>If you transfer your items via API, items will be created at idealo once per day. Prices and stock are updated every 15 minutes. Items can also be deleted every 15 minutes.</p>
</div>
</div>
<div class="sect2">
<h3 id="900">9.2. Item data export via elastic export</h3>
<div class="paragraph">
<p>If you export items via the elastic export, you have to carry out a few settings in the <strong>Data » Elastic export</strong> menu to set up the export format. In order to use the elastic export, the <a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastic Export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> plugin must be installed in your plentymarkets system. First create the data format IdealoDE and afterwards transfer the URL to idealo so that idealo will be able to retrieve your item data.</p>
</div>
<div class="paragraph">
<p>How to set up the elastic export to export your items to idealo is described in the following chapters <a href="#950">Setting up the data format IdealoDE plugin in plentymarkets</a> and <a href="#1000">Available columns for the export file</a>.</p>
</div>
<div class="sect3">
<h4 id="950">9.2.1. Setting up the data format IdealoDE plugin in plentymarkets</h4>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Settings only for elastic export</div>
<div class="paragraph">
<p>The settings described in this chapter only need to be carried out if you transfer your items to idealo with the elastic export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Check idealo product CSV</div>
<div class="paragraph">
<p>Not all of the columns of idealo’s product CSV are available in plentymarkets at present. Check whether you need columns which are not yet available in plentymarkets prior to setting up idealo in plentymarkets. In this case, an integration of idealo is currently not possible.<br>
An overview of the columns which are available in plentymarkets can be found in the <a href="#1000">Available columns for the export file</a> chapter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Set up the export format <strong>IdealoDE</strong> so that your items can be exported to idealo with the elastic export. For further information about the elastic export, refer to the <a href="/en/data/exporting-data/elastic-export">Elastic Export</a> page. It is required to install the <strong>Elastic export</strong> plugin from the plentyMarketplace first before you can use the format <strong>IdealoDE</strong> for the elastic export.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new export format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New export</strong>.</p>
</li>
<li>
<p>Carry out the desired settings. Pay attention to the explanations given in <a href="#format-settings-idealo">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The export format <strong>IdealoDE-Plugin</strong> is given an ID and it appears in the overview within the <strong>Exports</strong> tab.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The following table lists details for settings, format settings and recommended item filters for the format <strong>IdealoDE plugin</strong>.</p>
</div>
<table id="format-settings-idealo" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Format settings for IdealoDE</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name. The export format is listed by this name in the overview within the <strong>Exports</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type <strong>item</strong> from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>IdealoDE-Plugin</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number. If you want to transfer more than 9999 data records, then the output file is not generated again for another 24 hours. This is to save resources. If more than 9999 data records are necessary, the setting <strong>Generate cache file</strong> has to be active.<br>
<strong><em>Or:</em></strong> If you want to transfer more than 9999 data records to idealo, you can also install version 2.0 of the idealo plugin.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate cache file</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate if you want to transfer more than 9999 data records to the price search engine. We recommend that you do not activate this setting for more than 20 export formats. This is to ensure a high performance of the elastic export.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>URL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The file name must have the ending <strong>.csv</strong> or <strong>.txt</strong> for idealo.de to be able to import the file successfully.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token, URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the option <strong>URL</strong> under <strong>Provisioning</strong>, click on <strong>Generate token</strong>. The token is entered automatically. The URL is entered automatically if the token was generated under <strong>Token</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item filters</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add item filters</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select an item filter from the drop-down list and click on <strong>Add</strong>. There are no filters set by default. It is possible to add multiple item filters from the drop-down list one after the other.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Variations</strong> = Select <strong>Transfer all</strong> or <strong>Only transfer main variations</strong>.<br></p>
</li>
<li>
<p><strong>Markets</strong> = Select <strong>idealo</strong>.<br></p>
</li>
<li>
<p><strong>Currency</strong> = Select a currency.<br></p>
</li>
<li>
<p><strong>Category</strong> = Activate to transfer the item with its category link. Only items belonging to this category will be transmitted.<br></p>
</li>
<li>
<p><strong>Image</strong> = Activate to transfer the item with its image. Only items with images will be exported.<br></p>
</li>
<li>
<p><strong>Client</strong> = Select a client.<br></p>
</li>
<li>
<p><strong>Stock</strong> = Select which stocks you want to export.<br></p>
</li>
<li>
<p><strong>Flag 1 - 2</strong> = Select a flag.<br></p>
</li>
<li>
<p><strong>Manufacturer</strong> = Select one, several or <strong>ALL</strong> manufacturers.<br></p>
</li>
<li>
<p><strong>Active</strong> = Only active variations will be exported.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Format settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the URL that you wish to transfer to the price search engine. You can send either the item’s URL and the variation’s URL. URLs of variations can only be transferred in combination with the Ceres store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client. This setting is used for the URL structure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a suffix for the product URL if this is required for the export. If you activated the <strong>transfer</strong> option for the product URL further up, then this character string is added to the product URL.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the referrer <strong>idealo</strong>. The selected referrer is added to the product URL so that sales can be analysed later.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marketplace account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the marketplace account from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the language from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>. The names are saved in the <strong>Texts</strong> tab of the item. Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the item name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the text that you want to transfer as preview text.<br>
Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the preview text.<br>
Activate the <strong>Remove HTML tags</strong> option if you want HTML tags to be removed during the export.<br>
If you only want to allow specific HTML tags to be exported, then enter these tags into the * Permitted HTML tags, separated by comma (def. text)* field. Use commas to separate multiple tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the text that you want to transfer as description.<br>
Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the description.<br>
Activate the <strong>Remove HTML tags</strong> option if you want HTML tags to be removed during the export.<br>
If you only want to allow specific HTML tags to be exported, then enter these tags into the * Permitted HTML tags, separated by comma (def. text)* field. Use commas to separate multiple tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the target country from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the ASIN, ISBN or an EAN from the drop-down list. The barcode has to be linked to the order referrer selected above. Otherwise, the barcode will not be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Position 0</strong> or <strong>First image</strong> to export this image.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Position 0</strong> = An image with position 0 is transferred.<br></p>
</li>
<li>
<p><strong>First image</strong> = The first image is transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position of the energy label</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the position of the energy label. Every image that should be transferred as an energy label has to have this position.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock buffer for variations with limitation to the net stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations without stock limitation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock for variations without stock limitation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations with no stock administration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock for variations without stock administration.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Live currency conversion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option to convert the price into the currency of the selected country of delivery. The price has to be released for the corresponding currency.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select gross price or net price from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offer price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option does not affect this format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RRP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to transfer the RRP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The chosen payment method does not affect this format. All payment methods of the selected configuration will be exported.<br>
If no configuration has been selected, all configurations and payment methods will be exported.<br>
If <strong>Transfer flat rate shipping charge</strong> has been selected, only prepayment will be exported as the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VATNote</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option does not affect this format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the <strong>overwrite</strong> option and enter item availabilities into the fields <strong>1</strong> to <strong>10</strong>. The fields represent the IDs of the availabilities. This overwrites the item availabilities that are saved in the menu <strong>Setup » Item » Item availability</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="1000">9.2.2. Available columns for the export file</h4>
<table id="columns-export-file" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Columns for the export file</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column header</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>article_id</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Required</strong><br>
The SKU of the item. For all items which are configured for idealo Checkout, a SKU will be generated for idealo Checkout.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>deeplink</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Required</strong><br>
The URL path of the item depending on the chosen client in the format settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Required</strong><br>
According to the format setting <strong>Item name</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>short_description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Preview text</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limitation:</strong> max. 1000 characters<br>
According to the format setting <strong>Description</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>article_no</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The variation number within <strong>Item » Edit item »</strong> <em>Open item</em> <strong>»</strong> <em>Open variation</em> <strong>» Settings » Basic settings.</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>producer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the manufacturer of the item. The external name saved in the <strong>Setup » Item » Manufacturers</strong> menu is preferred if existing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>model</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The model within <strong>Item » Edit item »</strong> <em>Open item</em> <strong>»</strong> <em>Open variation</em> <strong>» Settings » Basic settings</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Required</strong><br>
The name of the item availability saved in the <strong>Setup » Item » Availability</strong> menu or the translation according to the format setting <strong>Overwrite item availability</strong>.<br>
For idealo, the delivery time must be indicated in days.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ean</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Barcode</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>isbn</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Barcode</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>fedas</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Amazon product type within <strong>Items » Edit item »</strong> <em>Open item</em> <strong>» Multi-Channel » Amazon</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>warranty</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Currently not configured.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Required</strong><br>
The sales price of the variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>price_old</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The sales price of type RRP of the variation, if activated in the format settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>weight</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The gross weight in gram within <strong>Items » Edit item »</strong> <em>Open item</em> <strong>»</strong> <em>Open variation</em> <strong>» Settings » Measurements</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>category1-6</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the category level of the category path of the default category for the client which is configured in the format settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>category_concat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The category path of the default category for the client which is configured in the format settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>image_url_preview</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The URL for the image which is scaled for preview according to the format setting <strong>Image</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>image_url</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Required</strong><br>
URL of the image according to the format setting <strong>Image</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>base_price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The base price information in the format "price / unit".<br>
<strong><em>Example:</em></strong> 10.00 EUR / kilogram</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>free_text_field</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The value of a characteristic of type <strong>Text</strong> or <strong>Selection</strong> with a link to idealo.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>checkoutApproved</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is true if the order referrer idealo Checkout within <strong>Items » Edit item »</strong> <em>Open item</em> <strong>»</strong> <em>Open variation</em> <strong>» Availability » Markets</strong> is set or a characteristic of type <strong>No</strong> and the link to the idealo Checkout characteristic <strong>CheckoutApproved</strong> is configured.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>itemsInStock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Requirement</strong>: checkoutApproved is true.<br>
The net stock of the variation. For items which are not limited to the net stock, <strong>999</strong> will be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>fulfillmentType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Requirement</strong>: checkoutApproved is true.<br>
Characteristic of type <strong>No</strong> with link to one of the options for the idealo Checkout characteristic <strong>FulfillmentType &gt; Spedition</strong>, <strong>FulfillmentType &gt; Paketdienst</strong>, <strong>FulfillmentType &gt; Brief</strong> or <strong>FulfillmentType &gt; Download</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>twoManHandlingPrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Requirement</strong>: checkoutApproved is true and fulfillmentType is "Spedition".<br>
Characteristic of type <strong>Text</strong>, <strong>Selection</strong> or <strong>float</strong> and the link to the idealo Checkout characteristic <strong>twoManHandlingPrice</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>disposalPrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Requirement</strong>: checkoutApproved is true and fulfillmentType is "Spedition".<br>
Characteristic of type <strong>Text</strong>, <strong>Selection</strong> or <strong>float</strong> and the link to the idealo Checkout characteristic <strong>disposalPrice</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment methods</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Requirement</strong>: At least one payment method<br>
All payment methods will be exported, according to the format setting <strong>Shipping costs</strong> in their own column.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">10. Activating the idealo payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the payment method <strong>idealo Checkout</strong>. This allows payments to be made for orders on idealo and to be displayed in your plentymarkets system.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Payment method for idealo Checkout</div>
<div class="paragraph">
<p>You only have to activate the payment method <strong>idealo Checkout</strong> if you use idealo Checkout.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Activate the <a href="/en/payment/managing-payment-methods">payment method</a> <strong>idealo Checkout</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating the payment method idealo Checkout:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>DE</strong>.</p>
</li>
<li>
<p>Click on <strong>idealo Checkout</strong>.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-payment-method">[table-payment-method]</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="able-payment-method" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong>, and <strong>Upload logo</strong>. This enables you to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the <strong>Info page (external)</strong> option under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely set up.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one of the following options for displaying the logo:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br></p>
</li>
<li>
<p><strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br></p>
</li>
<li>
<p><strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then the logo that was uploaded is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG, and JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The selection depends on the conditions of your contract.<br>
<strong><em>Important:</em></strong> Do not enter a value into both fields.<br>
For further information, refer to the <a href="/en/business-decisions/business-intelligence/statistics">Statistics</a> page of the manual.<br>
For an example of flat rate and percentage costs, refer to the <a href="/en/payment/managing-payment-methods#20">Managing payment methods</a> page.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>Setup » CRM » Classes</strong> to activate or deactivate <strong>permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/payment/managing-payment-methods">Managing payment methods</a> page.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">PayPal payment method</div>
<div class="paragraph">
<p>If you offer the PayPal payment method, it is mandatory to create and configure this payment method in your plentymarkets system. This is to ensure that the payment is imported correctly and assigned to the order.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">11. Creating characteristics</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use <a href="/en/item/settings/properties#100">characteristics</a> to link specific item details to your items which are required to set up idealo Checkout. Item details, shipping methods and fees are transferred to idealo Checkout with characteristics.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Characteristics can only be used with the idealo plugin version 2.0</div>
<div class="paragraph">
<p>The characteristics <strong>DeliveryComment</strong>, <strong>DepositFee</strong>, <strong>DisposalPrice</strong>, <strong>EnergyClass</strong>, <strong>FreeReturnDays</strong>, <strong>Gender</strong>, <strong>Material</strong>, and <strong>Replica</strong> can only be used if the idealo plugin version 2.0 is installed in your plentymarkets system. These characteristics can only be exported to idealo Checkout if you activate the automatic item export (data export via interface). The automatic item export is activated in the <strong>Automatic data transfer</strong> step of the idealo assistant.<br>
If the automatic item export is activated, you can export all idealo characteristics.<br>
If you transfer your items with via CSV file with the elastic export, you can only use the characteristic <strong>FulfillmentType</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1250">11.1. Creating the characteristics material and gender</h3>
<div class="paragraph">
<p>Use the characteristics <strong>Material</strong> and <strong>Gender</strong> to transfer information about material and target group or gender to idealo Checkout.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to create the characteristic <strong>Material</strong>. Create the <strong>Gender</strong> characteristic in the same way, but select the characteristic type <strong>Text</strong> instead.</p>
</div>
<div class="paragraph instruction">
<p>Creating a characteristic for material:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics » Tab: New characteristic</strong>.</p>
</li>
<li>
<p>Enter the <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select the characteristic type <strong>No</strong> from the characteristic type drop-down list.</p>
</li>
<li>
<p>Select the characteristic <strong>Material</strong> for <strong>idealo Checkout characteristic</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Next, you have to link the characteristic to the item in the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>»</strong> <em>Open variation</em> <strong>» Tab: Characteristics</strong> menu.</p>
</div>
</div>
<div class="sect2">
<h3 id="1300">11.2. Creating characteristics for shipping methods</h3>
<div class="paragraph">
<p>With idealo Checkout, the customer buys the items directly at idealo and you have to send shipping information to idealo Checkout. If you ship your items with a parcel service, a shipping company, via letter or via download, this mandatory information is transferred to idealo with a characteristic. If the order is carried out by a shipping company, the customer has to enter their phone number during the order process in order to arrange a delivery date.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to create the characteristic <strong>FulfillmentType</strong>. This characteristic indicates whether you use the shipping method <strong>shipping company</strong>, <strong>parcel service</strong>, <strong>letter</strong>, or <strong>download</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating a characteristic for the shipping method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics » Tab: New characteristic</strong>.</p>
</li>
<li>
<p>Enter the <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select the characteristic type <strong>No</strong> from the characteristic type drop-down list.</p>
</li>
<li>
<p>Select the characteristic <strong>FulfillmentType</strong> for <strong>idealo Checkout characteristic</strong>.<br>
→ A drop-down list is shown.</p>
</li>
<li>
<p>Select a value from the drop-down list, depending on the shipping type. The values <strong>Spedition</strong> (shipping company), <strong>Paketdienst</strong> (parcel service), <strong>Brief</strong> (letter), and <strong>Download</strong> (download) are available.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Next, you have to link the characteristic to the item in the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>»</strong> <em>Open variation</em> <strong>» Tab: Characteristics</strong> menu.</p>
</div>
<h5 id="_further_characteristics_for_shipping_methods" class="discrete">Further characteristics for shipping methods</h5>
<div class="paragraph">
<p>For items which have the shipping method shipping company, it is also possible to transfer the additional services <strong>TwoManHandlingPrice</strong> and <strong>DisposalPrice</strong> to idealo Checkout. DisposalPrice can only be used in combination with TwoManHandlingPrice. That means you have to create the characteristic <strong>TwoManHandlingPrice</strong> as well as the property <strong>DisposalPrice</strong> and link them to the item. In both cases, select <strong>decimal number</strong> as the characteristic type. Go to <strong>Item » Edit item »</strong> <em>Open item</em> <strong>»</strong> <em>Open variation</em> <strong>» Tab: Characteristics</strong> and enter the surcharge for the additional service with two decimal places behind the decimal separator. Use a period for the decimal separator (19.99).</p>
</div>
</div>
<div class="sect2">
<h3 id="1350">11.3. Creating a characteristic for delivery comments</h3>
<div class="paragraph">
<p>Use the characteristic <strong>DeliveryComment</strong> to transfer further information about the delivery.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to create the characteristic <strong>DeliveryComment</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating a characteristic to specify further information about the delivery:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics » Tab: New characteristic</strong>.</p>
</li>
<li>
<p>Enter the <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select <strong>Text</strong> from the characteristic type drop-down list.</p>
</li>
<li>
<p>Select the characteristic <strong>DeliveryComment</strong> for <strong>idealo Checkout characteristic</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Next, you have to link the characteristic to the item in the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>»</strong> <em>Open variation</em> <strong>» Tab: Characteristics</strong> menu.</p>
</div>
</div>
<div class="sect2">
<h3 id="1400">11.4. Creating the characteristic energy efficiency class</h3>
<div class="paragraph">
<p>Use the characteristic <strong>EnergyClass</strong> to transfer information about the energy efficiency class to idealo Checkout.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to create the characteristic <strong>EnergyClass</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating the characteristic energy efficiency class:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics » Tab: New characteristic</strong>.</p>
</li>
<li>
<p>Enter the <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select the characteristic type <strong>No</strong> from the characteristic type drop-down list.</p>
</li>
<li>
<p>Select the characteristic <strong>EnergyClass</strong> for <strong>idealo Checkout characteristic</strong>.<br>
→ A drop-down list is shown.</p>
</li>
<li>
<p>Select a value from the drop-down list, depending on the energy efficiency class.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Next, you have to link the characteristic to the item in the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>»</strong> <em>Open variation</em> <strong>» Tab: Characteristics</strong> menu.</p>
</div>
</div>
<div class="sect2">
<h3 id="1450">11.5. Creating the characteristic free return</h3>
<div class="paragraph">
<p>Use the characteristic <strong>FreeReturnDays</strong> to transfer information about the free return period to idealo Checkout.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to create the characteristic <strong>FreeReturnDays</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating a characteristic for the free return period:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics » Tab: New characteristic</strong>.</p>
</li>
<li>
<p>Enter the <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select the characteristic type <strong>whole number</strong> from the drop-down list.</p>
</li>
<li>
<p>Select the characteristic <strong>FreeReturnDays</strong> for <strong>idealo Checkout characteristic</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Next, you have to link the characteristic to the item in the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>»</strong> <em>Open variation</em> <strong>» Tab: Characteristics</strong> menu.</p>
</div>
</div>
<div class="sect2">
<h3 id="1500">11.6. Creating the characteristic deposit fee</h3>
<div class="paragraph">
<p>Use the characteristic <strong>DepositFee</strong> to transfer information about the deposit fee to idealo Checkout. This characteristic is required if a deposit fee must be paid for an item.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to create the characteristic <strong>DepositFee</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating the characteristic deposit fee:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics » Tab: New characteristic</strong>.</p>
</li>
<li>
<p>Enter the <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select the characteristic type <strong>decimal number</strong> from the drop-down list.</p>
</li>
<li>
<p>Select the characteristic <strong>DepositFee</strong> for <strong>idealo Checkout characteristic</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Next, you have to link the characteristic to the item in the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>»</strong> <em>Open variation</em> <strong>» Tab: Characteristics</strong> menu.</p>
</div>
</div>
<div class="sect2">
<h3 id="1550">11.7. Creating the characteristic replica</h3>
<div class="paragraph">
<p>Use the characteristic <strong>Replica</strong> to specify whether the item is a replica.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to create the characteristic <strong>Replica</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating the characteristic replica:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics » Tab: New characteristic</strong>.</p>
</li>
<li>
<p>Enter the <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select the characteristic type <strong>No</strong> from the characteristic type drop-down list.</p>
</li>
<li>
<p>Select the characteristic <strong>Replica</strong> for <strong>idealo Checkout characteristic</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Next, you have to link the characteristic to the item in the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>»</strong> <em>Open variation</em> <strong>» Tab: Characteristics</strong> menu.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">12. Creating event procedures for idealo Checkout</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Do you use idealo Checkout? Then set up event procedures to automatically inform idealo about changes in the order status. You can use event procedures to automatically send order confirmations, shipping confirmations, returns, and cancellations to idealo Checkout.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Event procedures for idealo Checkout</div>
<div class="paragraph">
<p>You only have to set up event procedures if you use idealo Checkout.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1650">12.1. Automatically sending order confirmations</h3>
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically send an order confirmation to idealo.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#order-confirmation-idealo">Table 6</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#order-confirmation-idealo">Table 6</a> vor.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="order-confirmation-idealo" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Event procedure for automatically sending order confirmations to idealo</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation: New order</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>idealo Checkout</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Send order confirmation to idealo</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1700">12.2. Automatically sending shipping confirmations</h3>
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically send a shipping confirmation to idealo when the outgoing items have been booked.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#shipping-confirmation-idealo">Table 7</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#shipping-confirmation-idealo">Table 7</a> vor.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="shipping-confirmation-idealo" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Event procedure for automatically sending shipping confirmations to idealo</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Outgoing items booked</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>idealo Checkout</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping &gt; Send shipping confirmation to idealo</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1750">12.3. Automatically sending returns</h3>
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically inform idealo about returns.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#returns-idealo">Table 8</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#returns-idealo">Table 8</a> vor.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="returns-idealo" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. Event procedure for automatically sending returns to idealo</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation: New return</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>idealo Checkout</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return &gt; Send return to idealo</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1800">12.4. Automatically sending cancellations</h3>
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically inform idealo of cancellations.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#cancellations-idealo">Table 9</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#cancellations-idealo">Table 9</a> vor.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="cancellations-idealo" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 9. Event procedure for automatically sending cancellations to idealo</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change: [8] Cancelled</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>idealo Checkout</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Send cancellation to idealo</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="1900">13. Viewing the log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Data » Log</strong> menu contains a history of processes that run via the idealo interface. For idealo, you can filter by the identifier <strong>ElasticExportIdealoDE</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>From the drop-down list <strong>Identifier</strong>, select the option <strong>ElasticExportIdealoDE</strong>. <br>
<strong><em>Tip:</em></strong> Identifiers are only shown in the drop-down list after the process has run at least once.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select a date if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The results are shown.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="2000">14. FAQ</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="2100">14.1. Item data export via API (PWS 2.0)</h3>
<div class="sect4">
<h5 id="_not_all_of_my_items_are_exported_to_idealo_what_can_i_do">Not all of my items are exported to idealo. What can I do?</h5>
<div class="paragraph indented">
<p>If you transfer your items to idealo via API (PWS 2.0), but not all of your items have been exported, you can try to update the timestamp for market exports. Updating the timestamp might help because usually, only variations which have been updated within the last two days are exported to idealo.</p>
</div>
<div class="paragraph instruction">
<p>Updating the timestamp for market exports:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Batch processing</strong>.</p>
</li>
<li>
<p>In the <strong>Procedures</strong> area, activate the option <strong>Update timestamp for market exports</strong>.</p>
</li>
<li>
<p>Click on <strong>Apply</strong> (<span class="icon "><i class="psicon-execute"></i></span>).<br>
→ All items which are configured for idealo will be exported to idealo with the next item export.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</main>