<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>FindologicHeader</h1><div class="sect1">
<h2 id="_description_of_this_function">Description of this function</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">FindologicHeader() : string</code></pre>
</div>
</div>
</div>
</div>
</main>