<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Linking credit and debit card terminals to your POS system</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can directly link certain types of payment terminals to your plentymarkets point of sale system. Other types need a slight work-around. This video teaches you how to configure the settings in both scenarios.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/pos/setting-up-pos/card-terminals-plugins#video">Use plugins to directly link certain types of terminals (0:14)</a></p>
<p class="tableblock"><a href="/en/videos/pos/setting-up-pos/card-terminals-connection#video">Establish a connection in the plentymarkets app (1:16)</a></p>
<p class="tableblock"><a href="/en/videos/pos/setting-up-pos/card-terminals-no-plugin#video">Link terminals without downloading a plugin (2:58)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/282821743#at=76" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Dorothy’s business is booming!
She’s happy with her new plentymarkets point of sale system.
But so far, she’s only used it to accept cash payments.
Now she wants to link card terminals to plentyPOS too!</p>
</div>
<div class="paragraph">
<p>You can directly link certain types of payment terminals to your plentymarkets point of sale system.
The process is easy! Simply log into plentyMarketplace and find the plugin of your choice, for example verifone.
Then open up your plentymarkets system and navigate to the plugin overview.
All that’s left to do now is install the plugin and wait a few minutes for the process to finish.
Then activate the plugin and save the changes. Again, have a bit of patience because it can take a few minutes for the plugin to appear in your system.</p>
</div>
<div class="paragraph">
<p>Once everything is up and running, head on over to the "System" menu and navigate to POS.
Open the settings for your point of sale system and click on the "Payment method" tab.
All you have to do here is select your card terminal and then save the settings to connect this card terminal to your point of sale system.</p>
</div>
<div class="paragraph">
<p>Next, you’ll need to establish a connection in the plentymarkets app.
So just navigate to the settings and then POS.
Here you’ll enter the terminal ID and port for your card terminal, in my case verifone.
To find this information, grab your card terminal and enter the service password, which is used by service technicians. Since you’ll need the service password to access the terminal ID and port get in contact with your payment provider early on and let them know that you’ll need the service password to connect your device to your POS software.</p>
</div>
<div class="paragraph">
<p>Next, decide how you’d like to print receipts for your customers.
Essentially, just decide whether you’d prefer to print customer receipts directly from your card terminal or if you’d rather print them from the receipt printer that’s connected to your point of sale system. If you decide to use your receipt printer, then you’ll need to grab your card terminal again and turn on the so-called "block print" operating mode option.
Again, you’ll need to enter the service password, which is used by service technicians.</p>
</div>
<div class="paragraph">
<p>These last two options are also only relevant if you’ve decided to print receipts from the receipt printer that’s connected to your point of sale system.
Here, simply decide whether you want individual items and the POS receipt number to be printed on your own copy of the receipt.
When you’re done, test the terminal connection to see whether the card terminal and your plentymarkets point of sale system are able to communicate with each other.</p>
</div>
<div class="paragraph">
<p>With her payment terminal linked directly to her plentymarkets point of sale system, Dorothy can accept card payments in her store and keep track of it all in one, central location.
But what if you can’t find a plugin for the type of payment terminal used in your store? In this case, you’ll need to configure the settings a bit differently. Instead of downloading a plugin, open up your plentymarkets system and navigate to the payment settings.
Find payment method number 11, which is called "cash sale / cash card".
Configure the settings as specified in our online manual and activate the payment method when you’re finished.
Finally, open up the settings for your point of sale system, click on the "Payment method" tab and make sure that "Unconnected device" is selected in the drop-down menu.
By configuring the settings like this, you’ll still be able to accept card payments, but there won’t be a direct connection to your plentymarkets point of sale system.</p>
</div>
<div class="paragraph">
<p>In this video, you learned two different ways to accept card payment with your plentymarkets point of sale system. If your payment terminals are manufactured by a company that we have a plugin for, then download the plugin and connect the terminal to your point of sale system. If you use a different type of payment terminal, then you won’t be able to establish a direct connection. Instead you’ll need to activate a payment method for debit cards.</p>
</div>
</div>
</div>
</main>