<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>FBA-Aufträge</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Möchtest du, dass Amazon Bestellungen für dich abwickelt? Konfiguriere einfach ein paar Einstellungen in deinem System und du wirst immer auf dem Laufenden bleiben!</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/amazon/auftraege/fba-lager#video">FBA-Lager anlegen (1:21)</a></p>
<p class="tableblock"><a href="/videos/amazon/auftraege/fba-konfigurieren#video">FBA konfigurieren (1:49)</a></p>
<p class="tableblock"><a href="/videos/amazon/auftraege/fba-artikel-aktivieren#video">Artikel für FBA aktivieren (5:04)</a></p>
<p class="tableblock"><a href="/videos/amazon/auftraege/fba-ereignisaktionen#video">Ereignisaktionen erstellen (5:39)</a></p>
<p class="tableblock"><a href="/videos/amazon/auftraege/fba-artikel-versenden#video">Artikel an Amazon senden (6:14)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/314732668#at=374" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Individualurlaub - nicht dein Ding? Du magst es lieber, wenn dein gesamter Urlaub für dich organisiert wird? So ähnlich könntest du auch über die Arbeit mit Amazon denken.</p>
</div>
<div class="paragraph">
<p>Mancher Verkäufer entscheidet sich deshalb, das Fulfillment nicht selber abzuwickeln. Lass uns ehrlich sein. Im Online-Handel ist Zeit Geld. Und wenn du alle deine Aufträge selber abwickelst, kostet das natürlich eben diese Zeit.</p>
</div>
<div class="paragraph">
<p>Und genau da kommt Amazon-FBA ins Spiel. Wir schauen uns deshalb in diesem Video genau das an.</p>
</div>
<div class="paragraph">
<p>Amazon liefert Produkte in deinem Namen an den Endkunden und kümmert sich um den Kundenservice und die Rücksendungen. Mit FBA bietest du deinen Kunden darüber hinaus auch automatisch Prime an. Klingt interessant, oder?</p>
</div>
<div class="paragraph">
<p>Wir schauen uns deine gebuchte Pauschalreise im Einzelnen an: Nachdem du dich bei Amazon für FBA angemeldet hast, musst du in plenty ein spezielles Lager anlegen und einige weitere Einstellungen vornehmen. Du solltest festlegen, welche deiner Produkte von Amazon versendet werden. Außerdem musst du Ereignisaktionen anlegen, die automatisch die Rechnung erstellen und an deine Kunden senden. Deine Artikel schickst du derweil an Amazon, wo sie gelagert werden und erstellst einen Berichtsabruf für deine FBA-Aufträge.</p>
</div>
<div class="paragraph">
<p>Okay, schauen wir uns das genauer an! Weil deine Artikel ja bei Amazon gelagert werden, müssen wir, um den Überblick zu behalten, ein Lager für diese Artikel in plentymarkets konfigurieren. Zunächst bekommt das neue Lager natürlich einen eindeutigen Namen, sowie den Lagertyp Reparatur. Als Logistiktyp wählst du hier Amazon aus. Wenn das Lager erfolgreich konfiguriert wurde, wählst du als Letztes noch den Standort des Lagers.</p>
</div>
<div class="paragraph">
<p>Wechseln wir zu Amazon im Bereich Märkte. Hier klickst du das Tab Auftragseinstellungen und scrollst zu den FBA-Einstellungen. Um hier die Einstellungen bearbeiten zu können, setzt du erstmal den Haken bei aktiv. Diese Optionen musst du einstellen. Über die anderen Einstellungen hier brauchst du dir erstmal keine Gedanken machen. Diese Einstellungen kommen nämlich erst ins Spiel, wenn du auch Multi-Channel von Amazon nutzen möchtest. Dementsprechend wählst du hier aus, dass nur Aufträge von Amazon durch FBA abgewickelt werden.</p>
</div>
<div class="paragraph">
<p>Der Status: Denk daran, dass es sich bei FBA um einen Service handelt, der die Bestellungen in deinem Namen abwickelt, verpackt und versendet. Der eigentliche Auftrag wird dann erst ins plentymarkets System importiert. Und deshalb legst du hier einen separaten Status für den eingehenden FBA-Auftrag fest. Sinnvoll ist natürlich, hier einen Status im Bereich von 7 zu wählen. Zum Beispiel den Status 7.2. 7.2 hast du nicht? Dann kannst du dir direkt einen neuen Status anlegen.</p>
</div>
<div class="paragraph">
<p>Da die Aufträge ja für dich abgewickelt werden, ist es sinnvoll, den Warenausgang der Aufträge beim Import direkt als gebucht zu markieren.</p>
</div>
<div class="paragraph">
<p>Die Einstellung "Lager" ist natürlich selbsterklärend. Hier wählst du einfach das Lager, das du eben erst angelegt hast.</p>
</div>
<div class="paragraph">
<p>Einer der Vorteile von FBA ist ganz klar, dass Amazon den Kundenservice anbietet und auch Rücksendungen abwickelt. Was aber tun, wenn du trotzdem im Bilde über zurückgesendete Artikel und Gutschriften bleiben möchtest? In diesem Fall musst du festlegen, dass alle Retouren und Gutschriften importiert werden sollen.</p>
</div>
<div class="paragraph">
<p>Dies hier ist eine weitere Option, um bei Retouren auf dem Laufenden zu bleiben. Für den Fall, dass dein Kunde den Artikel bei Amazon mit einem Gutschein bezahlt hat und den Artikel nun zurücksendet, wird durch diese Option sichergestellt, dass ein Datensatz des Gutscheins in deinem plentymarkets System angezeigt wird.</p>
</div>
<div class="paragraph">
<p>Abschließend empfehlen wir dir, den automatisch stündlichen Import zu wählen. Wir denken hier bereits an die Zukunft, wenn deine Artikel bei Amazon gelistet sind und du die ersten Verkäufe getätigt hast. Mit dieser Einstellung werden nämlich alle Lagerbestände automatisch importiert, die sich in den letzten 30 Tagen geändert haben. Es werden also beispielsweise Bestände für alle Artikel importiert, die kürzlich verkauft wurden. Auf diese Weise hast du deine Lagerbestände immer im Blick.</p>
</div>
<div class="paragraph">
<p>Diese Einstellung sagt Amazon-Neulingen allerdings nichts über den initialen Warenbestand. Aber keine Sorge, das Thema greifen wir gleich nochmal auf. Aber zuerst wechseln wir in den Einstellungstab, wenn du hier alle Einstellungen abgeschlossen hast.</p>
</div>
<div class="paragraph">
<p>Wenn du mehrere Mandanten nutzt, solltest du noch festlegen, welchem Mandanten deine Amazon-Aufträge zugeordnet werden sollen.</p>
</div>
<div class="paragraph">
<p>Und direkt zur nächsten Einstellung: Hier kannst du festlegen, wie die Mehrwertsteuer für deine Rechnungen berechnet wird. Da die Berechnung der Mehrwertsteuer recht komplex ist, könntest du den Umsatzsteuer-Berechnungsservice von Amazon verwenden, den du aber separat buchen musst. Wähle also zwischen dem Amazon-Umsatzsteuer-Berechnungsservice und plentymarkets selber. Beachte aber, dass sich die Funktion VCS aktuell noch in der Entwicklung befindet.</p>
</div>
<div class="paragraph">
<p>Wenn du alle Einstellungen in diesen drei Tabs hinterlegt hast, kannst du hier den Haken bei Aktiv setzen und die Einstellungen speichern.</p>
</div>
<div class="paragraph">
<p>Als nächstes musst du bestimmen, welche deiner Artikel für FBA in Frage kommen. Dazu öffnest du dir einfach den gewünschten Artikel und klickst den Multi-Channel-Tab. Dann wählst du die gewünschte Region für das Fulfillment, in unserem Fall Europa, und hakst die Option hier an. Anschließend öffnest du die Artikelvariante und wechselst in den Verfügbarkeiten-Tab. Hier fügst du dann Amazon FBA hinzu.</p>
</div>
<div class="paragraph">
<p>Nur nochmal zur Erinnerung: Du musst dir natürlich nicht die Mühe machen und jeden Artikel einzeln bearbeiten. Nutze doch ganz einfach die Gruppenfunktion, um mehrere Artikel gleichzeitig zu bearbeiten.</p>
</div>
<div class="paragraph">
<p>Jetzt ist es an der Zeit noch zwei Ereignisaktionen anzulegen, die automatisch eine Rechnung erstellen und an die Kunden versenden, die bei dir einen FBA-Artikel gekauft haben. Also einfach eine neue Ereignisaktion anlegen, die dann eine Rechnung automatisch generiert, sobald ein neuer Auftrag ins System kommt, der über die Herkunft FBA verfügt.</p>
</div>
<div class="paragraph">
<p>Danach legen wir noch eine zweite Ereignisaktion an, welche die Rechnung an den Kunden versendet, sobald sie erstellt wurde. Aber Achtung, die Ereignisaktionen sind nur dann wichtig, wenn du den Amzon VCS-Service nicht nutzt!</p>
</div>
<div class="paragraph">
<p>Du bist auf der Zielgeraden. Jetzt kannst du deine Artikel an Amazon senden. Bedenken musst du natürlich, dass du keinen wirklichen Zugriff mehr auf deine Artikel hast, sobald sie physisch an Amazon versendet wurden.</p>
</div>
<div class="paragraph">
<p>Amazon prüft nach Erhalt deine Artikel und entscheidet dann, ob sie verkauft werden können. Im schlimmsten Fall kann es also passieren, dass du 60 Einheiten eines Artikels an Amazon sendest, einer während des Transportes beschädigt wird und Amazon nur 59 Einheiten für dich verkauft.</p>
</div>
<div class="paragraph">
<p>Natürlich möchtest du jetzt wissen, wieviele deiner eingesendeten Artikel auch wirklich verkauft werden. Dafür musst du den Lagerbestand von Amazon mit deinem Lagerbestand synchronisieren. Und da schlagen wir die Brücke zum Bestandsimport.</p>
</div>
<div class="paragraph">
<p>Wenn du mit Amazon startest, musst du das erstmals manuell machen. Deshalb meldest du dich in deiner Seller Central an und lädst dir eine CSV-Datei deiner Lagerbestände herunter. Anschließend lädst du diese Datei für das entsprechende Konto in plentymarkets hoch.</p>
</div>
<div class="paragraph">
<p>Nachdem dein erster Artikel verkauft wurde, kannst du deinen Warenbestand automatisiert abgleichen lassen, indem du einfach diesen Button betätigst.</p>
</div>
<div class="paragraph">
<p>Aber vorher musst du noch eine Kleinigkeit einstellen. Dazu navigierst du in den Bereich Berichte und stellst ein, wie oft der Bericht für deine FBA-Aufträge erstellt werden soll. Du wählst also das entsprechende Amazon-Konto und legst fest, in welchem Intervall der Bericht erstellt werden soll. Wir empfehlen dir, den Intervall 4 Stunden zu wählen. Den Bericht aktivierst du dann mit einem Klick auf das Zahnrad.</p>
</div>
<div class="paragraph">
<p>Glückwunsch! Amazon wickelt jetzt für dich Aufträge ab, die auf Amazon verkauft wurden. Aber was ist mit allen Bestellungen, die in deinem Online-Shop, bei eBay oder auf einer Handvoll anderer Marktplätze eingehen?</p>
</div>
<div class="paragraph">
<p>Erinnere dich an den Alles-Inklusive-Urlaub. Du kannst nämlich mit FBA auch Aufträge von anderen Marktplätzen abwickeln. Schaue dir zum Thema Multi-Channel-FBA einfach folgendes Video an!</p>
</div>
</div>
</div>
</main>