<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>MFN-Aufträge selbst bearbeiten</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Jemand hat deinen Artikel auf Amazon gekauft. Willst du den Auftrag selbst abwickeln? Dieses Video zeigt dir, welche Einstellungen du benötigst damit plentymarkets deine Amazon-Verkäufe richtig importiert.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/amazon/auftraege/mfn-auftraege-einstellungen-konfigurieren#video">Einstellungen konfigurieren (1:04)</a></p>
<p class="tableblock"><a href="/videos/amazon/auftraege/mfn-auftraege-einstellungen-aktivieren#video">Einstellungen aktivieren (3:35)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/304534064#at=64" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Manche Reisende sind absolute Individualisten - Pauschalreisen kommen für sie nicht infrage. Sie wollen lieber ihr eigener Reiseleiter sein. Also auf gehts, wir machen uns gemeinsam auf den Weg.</p>
</div>
<div class="paragraph">
<p>Amazon kann man sich bei der Abwicklung der Aufträge ähnlich vorstellen: Manche Verkäufer wollen den Versand selber abwickeln. Wenn das auch für dich zutrifft, musst du folgende Einstellungen hinterlegen, damit plentymarkets immer über deine Aufträge bei Amazon in Kenntnis gesetzt wird.</p>
</div>
<div class="paragraph">
<p>Wenn du allerdings das Alles-inklusive-Paket buchen willst, empfehle ich dir FBA, um deine Aufträge abwickeln zu lassen.</p>
</div>
<div class="paragraph">
<p>Auch dazu haben wir natürlich ein Video für dich. Wir beschäftigen uns in diesem Video mit dem Merchant Fulfillment Network. Merchant was? Wir beschäftigen uns mit der eigenen Abwicklung von Amazon-Aufträgen! Genauer noch mit den Einstellungen, die Du hinterlegen musst und wie du die getätigten Einstellungen letztlich aktivierst.</p>
</div>
<div class="paragraph">
<p>Alles klar? Schnür deine Schuhe, es geht los!</p>
</div>
<div class="paragraph">
<p>Zunächst legen wir natürlich fest, ob deine Amazon-Aufträge automatisch in dein System importiert werden sollen.</p>
</div>
<div class="paragraph">
<p>Klar, die Aufträge sollen ins System, also wählen wir die Option 15-minütig.</p>
</div>
<div class="paragraph">
<p>Anschließend legen wir direkt fest, ob die Versandbestätigungen automatisch an Amazon gemeldet werden sollen. Eine Bestätigung wird übrigens immer nur für Aufträge gesendet, die sich in Status 7 befinden und deren Warenausgang bereits gebucht wurde.</p>
</div>
<div class="paragraph">
<p>Mit dem nächsten Dropdown lässt sich bestimmen, wie der Artikelname innerhalb der Auftragsposition angezeigt wird.</p>
</div>
<div class="paragraph">
<p>Du hast hier die Möglichkeit, den Artikelnamen aus deinem Webshop zu übernehmen, oder du wählst den Namen mit oder ohne SKU, wie der Artikel auf Amazon angeboten wird.</p>
</div>
<div class="paragraph">
<p>Bedenke aber, dass diese Information in deiner Auftragsübersicht und auf den Kundenbelegen angezeigt wird.</p>
</div>
<div class="paragraph">
<p>Außerdem stellst du ein, wie der Zahlungseingang am Auftrag markiert werden soll. In den meisten Fällen ist es sinnvoll, hier einzustellen, dass die Aufträge bereits als bezahlt markiert werden. In der Regel kannst du darauf vertrauen, dass Amazon dir die Zahlungen weiterleitet. Also verlier hier keine Zeit bei der Auftragsabwicklung.</p>
</div>
<div class="paragraph">
<p>Die beiden nächsten Einstellungen beziehen sich auf Status für die Retoure.</p>
</div>
<div class="paragraph">
<p>Zu diesem Thema lege ich dir folgendes Video ans Herz.</p>
</div>
<div class="paragraph">
<p>Um Überverkäufe zu vermeiden, solltest du die Möglichkeit nutzen, ausstehende Aufträge zu importieren. Diese Aufträge sind unter Umständen noch nicht von Amazon freigegeben und werden ohne Kundendaten importiert. Wieso das sinnvoll ist? Nach dem Import wird der Artikel im Bestand reserviert und du minimierst so die Gefahr von Überverkäufen.</p>
</div>
<div class="paragraph">
<p>Du brauchst aber um die Kundendaten keine Sorgen machen. Diese werden nämlich, nachdem Amazon den Auftrag freigibt, nachgereicht. Diese Einstellung ist allerdings nur sinnvoll, wenn du für deine Artikel auch Bestand führst!</p>
</div>
<div class="paragraph">
<p>Mit der letzten Einstellung kannst du festlegen, ob Gutschriften importiert werden sollen. Auf Gutschriften selber gehen wir aber in einem anderen Video genauer ein.</p>
</div>
<div class="paragraph">
<p>Jetzt sollten wir noch zwei Einstellungen im Bereich der Basiseinstellungen vornehmen: Zunächst kannst du, wenn du über mehrere Mandanten verfügst, bestimmen, welchem Mandanten deine Amazon-Aufträge zugeordnet werden sollen.</p>
</div>
<div class="paragraph">
<p>Mit dieser Einstellung stellst du noch ein, ob du die Rechnungen in plentymarkets selber erzeugen willst oder dies durch den Amazon-Umsatzsteuerservice durchführen lassen möchtest.</p>
</div>
<div class="paragraph">
<p>Im besten Fall hast du jetzt alle Einstellungen für die Arbeit mit Amazon abgeschlossen. Zeit, deine Schnittstelle zu aktivieren.</p>
</div>
<div class="paragraph">
<p>Anschließend klickst du hier den Speichern-Button.</p>
</div>
<div class="paragraph">
<p>Jetzt heißt es Menü wechseln und Berichte anlegen. Dazu wechselst du in das Menü Datenaustausch und öffnest Berichte. Hier legst Du fest, wie oft ein Bericht für neue MFN-Bestellungen erstellt bzw. wie oft plentymarkets über neue Bestellungen informiert werden soll.</p>
</div>
<div class="paragraph">
<p>Lege also hier einen Abruf für deine MFN-Aufträge an. Dazu wählst du zunächst das gewünschte Amazon-Konto.</p>
</div>
<div class="paragraph">
<p>Anschließend wählst du dann hier ein Zeitintervall aus und bestätigst dies durch einen Klick auf das Zahnrad-Icon. Natürlich solltest Du hier den 15-minütigen Intervall wählen, da du ja zu Beginn schon bei dem Auftragsimport 15-minütig gewählt hast. Und das ist auch schon alles.</p>
</div>
<div class="paragraph">
<p>Die Auftragseinstellungen sind also genau so einfach gemacht, wie die Buchung des Fluges für deine Individualreise.</p>
</div>
<div class="paragraph">
<p>Natürlich kann es auch sein, dass du mehr Lust auf eine Pauschalreise hast, bei der du dich um nichts selber kümmern musst. Zur Einrichtung von Amazon-FBA solltest du dir einfach die entsprechenden Videos anschauen.</p>
</div>
</div>
</div>
</main>