<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>MFN-Retouren bearbeiten</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein Kunde hat einen Artikel über Amazon bei dir gekauft - und möchte ihn wieder zurückschicken. Wie gehst du also vor? Dieses Video zeigt dir alle wichtigen Schritte, um deine Amazon-Retouren stressfrei abwickeln zu können.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/amazon/auftraege/mfn-retouren-anlegen#video">Retoure anlegen (0:50)</a></p>
<p class="tableblock"><a href="/videos/amazon/auftraege/mfn-retouren-amazon-benachrichtigen#video">Amazon benachrichtigen (2:06)</a></p>
<p class="tableblock"><a href="/videos/amazon/auftraege/mfn-retouren-status-einstellen#video">Retourenstatus einstellen (2:52)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/307439370#at=172" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Dein Kunde hat auf Amazon zugeschlagen und sich dein tolles Giraffenshirt gesichert. Aber leider in der falschen Größe. Da hilft nichts - das Shirt muss wieder zurück geschickt werden.</p>
</div>
<div class="paragraph">
<p>Wie läuft das jetzt also ab?</p>
</div>
<div class="paragraph">
<p>Hat dein Kunde sich auf Amazon eingeloggt und sein Retouren-Etikett ausgedruckt, kann er schließlich sein Paket zurückschicken.</p>
</div>
<div class="paragraph">
<p>Und dann dauert es auch nicht mehr lang, bis es bei dir ankommt - womit du dich schließlich ans Werk machen kannst.</p>
</div>
<div class="paragraph">
<p>Dieses Video zeigt dir was zu tun ist, wenn über Amazon verkaufte Artikel wieder retourniert werden …​ und das sind eigentlich auch nur 3 kurze Schritte.</p>
</div>
<div class="paragraph">
<p>Als erstes legst du in plentymarkets eine neue Retoure an, was das genau heißt, erkläre ich dir gleich …​ und dann informierst du Amazon über genau diese Retoure.</p>
</div>
<div class="paragraph">
<p>Schließlich erhältst du eine Bestätigung, dass ebendiese Mitteilung angekommen ist.</p>
</div>
<div class="paragraph">
<p>Ok, first things first. Du musst eine neue Retoure anlegen, für den jeweiligen Auftrag, der in dein System importiert wurde. Es gibt zwei Wege, wie du das machen kannst.</p>
</div>
<div class="paragraph">
<p>Zum Einen könntest du den Auftrag öffnen und die Retoure manuell anlegen, und zwar so wie ich das hier mache.</p>
</div>
<div class="paragraph">
<p>Dadurch wird ein Eintrag in deiner Auftragsübersicht angelegt, der einem Auftrag recht ähnlich sieht. Allerdings ist er klar als "Retoure" gekennzeichnet. Wenn du mehr darüber erfahren möchtest, lege ich dir ein Video ans Herz, das dir alles zum Thema Retouren erklärt.</p>
</div>
<div class="paragraph">
<p>Oder du lässt machen und nutzt einen sogenannten Prozess, der dir automatisch Retouren in plenty anlegt. Hierfür empfehle ich dir ein weiteres Video; hier direkt verlinkt.</p>
</div>
<div class="paragraph">
<p>Ok, alles was dein Lagermitarbeiter beim Prozess machen muss, ist, den Auftrag zu finden, der zurückgeschickt wurde, ebendiesen auszuwählen und dann den Barcode oder die ID der zurückgeschickten Artikel zu scannen.</p>
</div>
<div class="paragraph">
<p>Dann checkt dein Lagermitarbeiter, ob der Artikel in einem guten Zustand oder vielleicht sogar defekt ist.</p>
</div>
<div class="paragraph">
<p>Und daraufhin legt er dann die Retoure an, die letzlich in deiner Auftragsübersicht landet, wo du sie weiter bearbeiten kannst.</p>
</div>
<div class="paragraph">
<p>Und wo du übrigens auch eine Gutschrift für den Kunden anlegen kannst.</p>
</div>
<div class="paragraph">
<p>An dieser Stelle würdest du natürlich liebend gerne Amazon informieren.</p>
</div>
<div class="paragraph">
<p>Tatsächlich geht das automatisch, indem du eine Ereignisaktion erstellst, die aktiviert wird, sobald du eine Gutschrift für eine Amazon-Retoure anlegst.</p>
</div>
<div class="paragraph">
<p>Also jedes mal, wenn das passiert, informiert plenty Amazon automatisch über die neue Retoure.</p>
</div>
<div class="paragraph">
<p>Und Amazon wird entweder mit einem "Alles klar!" antworten oder gibt dir Bescheid, falls etwas schief gelaufen ist.</p>
</div>
<div class="paragraph">
<p>Um das mal näher auszuführen: plentymarkets ändert den Retourenstatus. Auf einen Status, der für eine erfolgreiche Übertragung steht oder eben für eine nicht erfolgreiche Übertragung.</p>
</div>
<div class="paragraph">
<p>Obwohl du hier theoretisch jeden Status auswählen könntest, empfehlen wir dir, dass du dir im entsprechenden Menü neue Status im 9er-Bereich anlegst, um einen besseren Überblick deiner Amazon-Retouren zu haben.</p>
</div>
<div class="paragraph">
<p>Zum Beispiel 9.6 für den Fall, dass die Retouren-Info bei Amazon angekommen ist.</p>
</div>
<div class="paragraph">
<p>Und genauso geht das natürlich auch für den anderen Status, also wenn bei der Übertragung irgendetwas schief gelaufen ist.</p>
</div>
<div class="paragraph">
<p>Dein nächster Halt ist dann in den Amazon MFN Einstellungen wo du noch genau diese Status auswählst, damit auch deine Schnittstelle Bescheid weiß.</p>
</div>
<div class="paragraph">
<p>Wenn Amazon dann deine Retoure auf den Status 9.6 stellt, wird übrigens automatisch der Retourenfall auf Amazon geschlossen. Na wenn das nicht praktisch ist.</p>
</div>
<div class="paragraph">
<p>Und das wars auch schon. So gehst du mit Amazon Retouren um.</p>
</div>
</div>
</div>
</main>