<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Der Unterschied zwischen MFN und FBA</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bist du eher der Selbermacher oder ein Fan von Full-Service? MFN und FBA bieten unterschiedliche Vorteile für unterschiedliche Händler. Mit diesem Video findest du heraus, welche Lösung am besten zu dir und deinem Geschäft passt.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/amazon/auftraege/mfn-fba-teil-eins#video">MFN (0:36)</a></p>
<p class="tableblock"><a href="/videos/amazon/auftraege/mfn-fba-teil-zwei#video">FBA (1:31)</a></p>
<p class="tableblock"><a href="/videos/amazon/auftraege/mfn-fba-teil-drei#video">Pan-European FBA (2:33)</a></p>
<p class="tableblock"><a href="/videos/amazon/auftraege/mfn-fba-teil-vier#video">Multi-Channel (3:00)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/307440657#at=36" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Amazonien - mit seiner malerischen Shoppinglandschaft lockt es Jahr um Jahr mehr Urlauber an, die sich mit ihren Produkten dort niederlassen. Nicht nur sie genießen die vielfältigen Wege durchs Marktplatz-Paradies - auch dich hat die Reiselust gepackt und du hast dich mit deinen tollsten Artikeln auf nach Amazonien gemacht.</p>
</div>
<div class="paragraph">
<p>Was folgt ist deine eigentliche Reise - sobald deine Produkte online sind, werden Aufträge generiert, doch MFN oder FBA? Pan-Europa, Multi-Channel? Was davon ist für dich das richtige? Nun, welcher Reisetyp bist du?</p>
</div>
<div class="paragraph">
<p>Bist du ein erfahrener Do-it-yourselfer, reichen ein Flugticket und dein Rucksack vollkommen aus, um deine Route durch Amazon zu bestreiten. MFN gibt dir Eigenverantwortung und Selbstständigkeit, aber eben auch vollkommene Entscheidungsfreiheit. MFN steht für Merchant Fulfilled Network, was nichts anderes heißt, als dass DU die Abwicklung übernimmst. Und deshalb solltest du darauf achten, dass dein Rucksack prall gefüllt ist mit Erfahrung, einem soliden E-Commerce-Business von A bis Z und einem Kundenservice, der Lächeln in die Gesichter deiner Käufer zaubern kann.</p>
</div>
<div class="paragraph">
<p>Das scheint zwar schweres Gepäck zu sein, aber dafür bleiben dir alle Freiheiten in Bezug auf Versand, Retouren, Gutschriften etc. Und wenn du die Bedingungen für Prime erfüllst, hält dich nichts davon ab, die Vorteile des superschnellen Versands zu nutzen.</p>
</div>
<div class="paragraph">
<p>Oder ist ein Pauschalangebot doch viel eher was für dich? FBA ist sozusagen das Amazon-Wellness-Paket mit allen wichtigen Feel-Good-Services. Alles, was du zu tun hast, ist ankommen und relaxen.</p>
</div>
<div class="paragraph">
<p>Also schnapp dir deine Speedo! FBA ist das Fulfillment by Amazon - dein Pauschalurlaub. Denn entscheidest du dich hierfür, wird Amazon zu deinem Reiseleiter. Abhängig von deinem Standort liegen deine Artikel in den Lagern von Amazon bereit und wenn deine Kunden shoppen, sorgt Amazon für eine flotte Auftragsabwicklung, Versand, Retoure, Gutschrift - alles schon erledigt. Und wenn Kunden Nachfragen haben, sitzt der Amazon-Kundenservice am anderen Ende der Leitung. Fragen über die Lieferzeit werden dabei kaum aufkommen, denn nutzt du FBA, garantiert Amazon die Prime-Lieferung.</p>
</div>
<div class="paragraph">
<p>Wenn du immer up to date sein möchtest, entscheidest du selbst, welche Informationen in dein System importiert werden.</p>
</div>
<div class="paragraph">
<p>Also ankommen, relaxen und über eine Erweiterung deines Urlaubs nachdenken. Denn die Segel sind gesetzt für einen umfangreicheren Trip mit dem PanEuropa-Paket durch verschiedene Länder, ohne dass du selbst das Ruder in die Hand nehmen musst. Möchtest du auch noch über andere Amazon-Plattformen und somit in anderen Ländern verkaufen, ebnet dir der paneuropäische Versand durch Amazon den Weg. Denn dadurch platzierst du deinen Bestand näher bei deinen europäischen Kunden und kannst so Bestellungen auf dem ganzen Kontinent per Prime-Lieferung abwickeln.</p>
</div>
<div class="paragraph">
<p>Und ob dich nun das Inlands-Wellness-Paket oder der multinationale Segeltörn anlächelt - wieso nicht direkt all inclusive buchen und mit Multi-Channel-Versand durch Amazon auch deine Verkäufe anderer Marktplätze über Amazon abwickeln lassen. Mit Multi-Channel Fulfillment nimmst du alle FBA-Annehmlichkeiten mit, egal ob deine Produkte auf eBay, Amazon, bol.com oder auf einem anderen Marktplatz gekauft wurden.</p>
</div>
<div class="paragraph">
<p>Also bestell dir ruhig noch einen eBay Sunrise, denn mit Amazon FBA brauchst du dir um Kopfschmerzen keine Sorgen machen. Cheerio Miss Sophie!</p>
</div>
<div class="paragraph">
<p>Welcher Reisetyp bist DU? Backpacker oder Pauschalurlauber? Ob du es individuell oder vororganisiert haben möchtest - Amazon bedeutet Möglichkeiten! Und wenn du dich für deine Reise entschieden hast, steht plentymarkets als perfekter Reisebegleiter zur Seite und lässt sich mit wenigen Klicks auf jede Reiseart einrichten. Dafür geht’s weiter mit den Tutorials in dieser Reihe.</p>
</div>
</div>
</div>
</main>