<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Mit Multi-Channel FBA Aufträge aller Plattformen von Amazon abwickeln lassen</h1><table class="tableblock frame-all grid-none stretch">
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/314735384" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Wenn du dich für einen entspannten Pauschalurlaub - oder eben für den entspannten FBA-Service für deine Amazon-Auftragsabwicklung entschieden hast, wieso dann nicht direkt all inclusive buchen? Und bei Amazon FBA steht das nicht fürs unbegrenzte Cocktailschlürfen am Pool - nein, viel besser: Es bedeutet, dass du deine gesamte Auftragsabwicklung über Amazon laufen lässt - egal, ob du auf Marktplätzen wie eBay, bol.com und Co oder sogar über deinen ganz eigenen Online-Shop verkaufst.</p>
</div>
<div class="paragraph">
<p>Wir legen also ab in Richtung dieses luxuriösen Reiseziels mit dem Namen: FBA Multichannel. Und hast du es bei Amazon gebucht, stehen für dich erstmal die gleichen Einstellungen an, wie beim "ganz normalen FBA". Dazu gibt es natürlich ein Extra-Video, das du vielleicht schon angeschaut hast, vielleicht aber auch noch nicht, deshalb ist es hier im Video verlinkt, damit du ganz schnell dorthin springen kannst. Hast du das Video geschaut, bist du nun bereit für die zusätzlichen Klicks, die es benötigt, um dein System auch auf FBA Multichannel einzurichten.</p>
</div>
<div class="paragraph">
<p>Okay, zuallererst: Der Punkt bei FBA Multichannel ist, dass du eben nicht nur Aufträge von Amazon abwickeln lässt, sondern auch von allen anderen Verkaufskanälen, weshalb diese Option dann natürlich auch eingestellt werden muss.</p>
</div>
<div class="paragraph">
<p>Bei FBA Multichannel kommen die Aufträge anderer Kanäle in dein System und werden dann an Amazon übermittelt und vollständig abgewickelt. Wozu dieser Ausflug in die Theorie? Weil das natürlich die nächste Einstellung betrifft. Denn über das Dropdown gibst du an, welchen Status deine Aufträge im System erhalten sollen, wenn sie an Amazon übertragen wurden. Das wird also auch der finale Status dieses Auftrags sein, deshalb empfehlen wir dir einen aus dem 7er-Bereich zu wählen. Beispielsweise 7.3 Multichannel FBA. Oder auch einen anderen Status in diesem Bereich, den du dir im entsprechenden Menü neu anlegen kannst.</p>
</div>
<div class="paragraph">
<p>Weiter geht es mit Artikelpaketen. Und wenn du dich nun fragst, was die korrekte Einstellung hier ist: Es gibt keine. Ebenso gibt es auch keine falsche Einstellung, denn es kommt ganz darauf an, wie du deine Artikelpakete auf Amazon konfiguriert hast. Ich erklär das kurz: Stellen wir uns mal vor, du verkaufst Camping-Ausrüstung, wie einen Kompass, eine Taschenlampe und ein Taschenmesser. Die Frage ist also nun: Verkaufst du jedes Produkt einzeln? Oder bietest du vielleicht alle zusammen in einem Survival Kit beziehungsweise einem Bundle an? Oder können deine Kunden aussuchen, ob sie das Survival Kit komplett oder nur ein, zwei Produkte davon kaufen? Das ist die Idee hinter diesem Dropdown.</p>
</div>
<div class="paragraph">
<p>"Ohne Paketposition übertragen" ist die Einstellung für dich, wenn du nur jedes Produkt einzeln verkaufst und jedes davon seine eigene SKU hat.</p>
</div>
<div class="paragraph">
<p>"NUR Paketposition übertragen", wenn du NUR das ArtikelPAKET anbietest. Mit einer SKU.</p>
</div>
<div class="paragraph">
<p>Und "Alle AUFTRAGSpositionen übertragen" wählst du, wenn du ein Paket mit eigener SKU UND einzelne Produkte mit jeweils eigenen SKUS im Shop hast.</p>
</div>
<div class="paragraph">
<p>Unsere letzte Einstellung betrifft dann den Versand. Über das Dropdown stellst du nämlich die Versandkategorie ein, die du mit Amazon vereinbart hast. Falls du dir nicht sicher bist, was auszuwählen ist, wirf am besten einen Blick in deine Vertragsbedingungen.</p>
</div>
<div class="paragraph">
<p>Und schon sind bist du mit FBA Multichannel unterwegs und kannst auch deine eBay, bol, real, Online-Shop, Egalwoher-Aufträge abwickeln LASSEN. All inclusive mit nur wenigen Klicks.</p>
</div>
</div>
</div>
</main>