<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Amazon Prime einrichten</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon Prime ist für viele Kunden ein wichtiges Kaufargument. Nutzt du den FBA-Service von Amazon, bist du bereits automatisch Prime-Verkäufer. Doch auch wenn du deine Auftragsabwicklung selbst übernimmst, stehen dir alle Türen offen, dich für Prime zu registrieren. Und natürlich kannst du auch den superschnellen Versand mit plentymarkets abwickeln.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/amazon/auftraege/prime-versandprofil#video">Versandprofil für Prime einrichten (1:32)</a></p>
<p class="tableblock"><a href="/videos/amazon/auftraege/prime-artikel#video">Artikel für Prime konfigurieren (3:08)</a></p>
<p class="tableblock"><a href="/videos/amazon/auftraege/prime-versandlabel-manuell#video">Versandlabel manuell erstellen (4:38)</a></p>
<p class="tableblock"><a href="/videos/amazon/auftraege/prime-versandlabel-automatisch#video">Versandlabel automatisch erstellen (5:33)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/314734702#at=278" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Sicher hast du schon mal von Amazon Prime gehört, privat oder beruflich - nicht nur ein Treueprogramm, sondern DAS Sinnbild für blitzschnellen Versand.</p>
</div>
<div class="paragraph">
<p>Und wahrscheinlich weißt du dann auch, dass sehr viele Kunden einfach nur nach der Prime-Plakette filtern, um zu entscheiden, bei welchem Händlern sie ihr Lieblingsprodukt einkaufen werden. Aber weißt du auch, wie du selbst Prime-Händler werden kannst?</p>
</div>
<div class="paragraph">
<p>Wenn Amazon deine Auftragsabwicklung übernimmt, also deine Artikel lagert, verpackt und verschickt - man nennt es auch FBA - dann Gratulation! Denn damit bist du schon Prime-Händler.</p>
</div>
<div class="paragraph">
<p>Nutzt du allerdings nicht den FBA-Service, sondern wickelst deine Aufträge selbst ab, erhälst du nicht automatisch die Prime-Plakette für deinen Handel.</p>
</div>
<div class="paragraph">
<p>Das sollte dich allerdings nicht davon abhalten, dennoch eine zu beantragen - über eine Anmeldung bei "Prime durch Verkäufer".</p>
</div>
<div class="paragraph">
<p>Um dich dafür zu qualifizieren, müssen einige Voraussetzungen erfüllt sein. Zum Beispiel: 99% pünktliche Lieferungen und ein Stornorate von unter 1%.</p>
</div>
<div class="paragraph">
<p>Dafür startest du mit Amazon erstmal eine Testphase, damit man sich auch wirklich sicher sein kann, dass du ein würdiger Prime-Händler sein wirst.</p>
</div>
<div class="paragraph">
<p>Sobald diese Testphase abgeschlossen ist, steht dir auch plentymarkets zur Seite, denn natürlich kannst du auch Prime-Aufträge mit uns abwickeln. Ein paar einmalige Einstellungen und schon kannst du Prime-Versandlabel erstellen - manuell oder "plenty-Style": automatisiert.</p>
</div>
<div class="paragraph">
<p>Dann legen wir mal los! Der erste Step, wenn es um Versand in plenty geht: Ein Versandprofil, denn hierüber regelst du alles Wichtige, wie Versanddienstleister, Portokosten und eben auch die Prime-Lieferung. Dafür erstellst in den Versandeinstellungen im entsprechenden Tab ein neues Versandprofil. Dafür wählst du einen Dienstleister, der mit dem Prime-Treueprogramm kompatibel ist, zum Beispiel DPD.</p>
</div>
<div class="paragraph">
<p>Die Basiseinstellungen kannst du wie bei einem bereits vorhandenen Versandprofil vornehmen.</p>
</div>
<div class="paragraph">
<p>Wichtig wird es dann etwas weiter unten bei der Einstellung "Treueprogramm". Hier wählst du nämlich das passende Treueprogramm für das Versandprofil aus. Wir sind hier für Amazon Prime.</p>
</div>
<div class="paragraph">
<p>Einmal speichern, bevor es dann in der Portotabelle weitergeht.</p>
</div>
<div class="paragraph">
<p>Ein kurzer Zwischenruf: Wenn dir das hier alles spanisch vorkommt, empfehle ich dir, das verlinkte Modul anzuschauen.</p>
</div>
<div class="paragraph">
<p>Kurz und knapp: Das hier ist der Bereich für die Versandkosten, und da Prime auch "kostenfreie Lieferung" bedeutet, achte darauf, dass hier nichts eingetragen wurde.</p>
</div>
<div class="paragraph">
<p>Dann wieder speichern, um ein paar extra Optionen nach Neuladen der Portotabelle freizuschalten.</p>
</div>
<div class="paragraph">
<p>Ganz unten findest du die Einstellungen, die uns jetzt interessieren. Nämlich der Amazon Prime Service, den du hier nach deinen Ansprüchen auswählst.</p>
</div>
<div class="paragraph">
<p>So, damit dein System und Amazon auch wissen, welche Artikel mit welchem Porto - oder eben mit Prime - verschickt werden sollen, verlinkst du nun das Versandprofil mit den entsprechenden Artikeln und versiehst sie mit einer Info für Amazon - über eine Eigenschaftsverknüpfung.</p>
</div>
<div class="paragraph">
<p>Am Artikel im Tab Global setzt du also zuerst den Haken bei dem erstellten Versandprofil.</p>
</div>
<div class="paragraph">
<p>Das war jetzt die Einzelvariante, doch wenn du mehrere Artikel mit dem neuen Versandprofil versehen möchtest, empfiehlt sich die Gruppenfunktion.</p>
</div>
<div class="paragraph">
<p>Damit weiß also dein plenty System Bescheid.</p>
</div>
<div class="paragraph">
<p>Für die Info an Amazon legst du am besten in den Systemeinstellungen eine sogenannte Eigenschaft an, die du mit Amazon-Feldern verknüpfen und mit der du zusätzliche Daten an Artikeln hinterlegen kannst. Wie das ganz genau geht, erfährst du in dem verlinkten Video. In diesen Fall heißt das benötigte Feld "merchant_shipping_group_name" oder auch "Name der Versandgruppe".</p>
</div>
<div class="paragraph">
<p>Wenn alles fertig erstellt und konfiguriert ist, hinterlegst du am Artikel auf Variantenebene den Namen der Versandgruppe, welche du zuvor in deinem Seller-Central-Konto angelegt hast.</p>
</div>
<div class="paragraph">
<p>Glückwunsch! Du hast alle Konfigurationen abgeschlossen und bist nun bereit, Amazon Prime-Versandlabel zu drucken.</p>
</div>
<div class="paragraph">
<p>Wie erwähnt, kannst du das entweder manuell oder automatisiert machen.</p>
</div>
<div class="paragraph">
<p>Bei Prime geht es vor allem um Schnelligkeit - oder wie schnell du die Auftragsabwicklung schaffst. Deshalb solltest du in jedem Fall dem automatischen Weg den Vorzug geben, da du sehr wahrscheinlich keine Zeit haben wirst, jedes Label manuell zu erstellen. Trotzdem zeige ich dir jetzt auch den manuellen Weg, damit du das System dahinter besser verstehst.</p>
</div>
<div class="paragraph">
<p>Okay, los geht es also im Versandcenter.</p>
</div>
<div class="paragraph">
<p>Such dir die entsprechenden Aufträge, die du mit Prime verschicken willst, dann hake die Aufträge an, die noch ein Label brauchen und bei Prime und DPD angemeldet werden sollen.</p>
</div>
<div class="paragraph">
<p>Im Tab Anmelden wählst du dann noch Amazon Prime als Versanddienstleister aus und den Status, den deine Aufträge erhalten sollen, sobald der Versand angemeldet wurde. Um das zu tun, klickst du danach auf dieses Zahnrad-Icon hier unten.</p>
</div>
<div class="paragraph">
<p>Weiter geht es im Tab Label, wo du dir über das gleiche Icon PDF-Versandlabel generierst, runterlädst, druckst und schließlich auf deine Pakete klebst.</p>
</div>
<div class="paragraph">
<p>Also merk dir drei Schritte: Auftrag finden, bei DPD anmelden und Prime-Label drucken. Der Rest ist gut zu wissen, um zu verstehen, wie diese drei Schritte automatisch ausgeführt werden können.</p>
</div>
<div class="paragraph">
<p>Und zwar mit einem Prozess. Und der sucht eben auch die entsprechenden Aufträge heraus, meldet den Versand an und druckt das Label.</p>
</div>
<div class="paragraph">
<p>Wie du auch beim manuellen Weg Filter genutzt hast, kannst du hier im Arbeitsschritt bei der automatischen Variante auch alles so filtern, wie du es brauchst.</p>
</div>
<div class="paragraph">
<p>Und wie du auch manuell den Versanddienstleister und Auftragsstatus gewählt hast, stellst du den automatischen Status hier und den Versanddienstleister hier ein.</p>
</div>
<div class="paragraph">
<p>Schließlich nimmt der Prozess dir einen der wichtigsten Schritte ebenfalls ab und druckt deine Label automatisch.</p>
</div>
<div class="paragraph">
<p>Das ist natürlich ein relativ abgespecktes Beispiel, damit du das Konzept eines Prozesses besser verstehst.</p>
</div>
<div class="paragraph">
<p>Am besten integrierst du deine Prime-Abwicklung in deinen vorhandenen und vollständig funktionalen Auftragsprozess ein, so wie du das auch für jeden anderen Versanddienstleister machen würdest.</p>
</div>
<div class="paragraph">
<p>Worauf wartest du also noch? Melde dich für Prime durch Verkäufer an und starte zusammen mit Amazon deinen superschnellen Versand!</p>
</div>
</div>
</div>
</main>