<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 30. Dezember 2020</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 24. Dezember 2020 bis zum 30. Dezember 2020 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Für die neuen Zahlungsbedingungen wurde der Platzhalter <code>[DateOfPayment]</code> in den Dokumenteinstellungen hinzugefügt um das Zahlungsziel als Datum auf dem Dokument aufzudrucken zu können.</p>
</li>
<li>
<p>Im Menü <strong>Waren » Bestellwesen » Bestellung</strong> wurde eine neue Spalte zur Auftragspositionen-Tabelle, Auftragspositionen-Suchtabelle und Warenkorbtabelle hinzugefügt. Die neuen Spalte ist <strong>Lieferanten-Artikel-Bez.</strong> (nur für Nachbestellungen verfügbar). Diese Spalte ist optional. Sie wird nicht standardmäßig in der Tabelle angezeigt. Klicke auf <strong>Spalten konfigurieren</strong>, um sie zur Tabelle hinzuzufügen.</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben eine Suche in die Datenfeldauswahlliste hinzugefügt. Gegenüber der Suche im alten Katalog, ist es nun möglich alle Werte zu durchsuchen.</p>
</li>
</ul>
</div>
<h3 id="_mein_konto" class="discrete">Mein Konto</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort ist es im Mein Konto-Bereich möglich, die Messenger-Nachrichten für einen gewissen Zeitraum, zum Beispiel nach dem letzten Abrechnungszeitraum, zu filtern. Außerdem wird die Summe der kostenpflichtigen und kostenlosen Supportminuten ausgegeben.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/mein-konto-messenger-filter.png" alt="mein konto messenger filter" width="640"></span></p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Bei der Übernahme von einem Gutschein mit Festbetrag in Retouren oder Gutschriften wird der Gutschein nicht mehr Anteilig auf die Artikelpositionen aufgeteilt, sondern immer vollständig übernommen.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Fehler wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_amazon" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Die Ereignisaktion <strong>Rechnung bei Amazon hochladen</strong> fügt nun keine Aufträge mehr zur Warteschlange hinzu, die keine Rechnung besitzen.</p>
</li>
<li>
<p>Sollte bei einem Auftrag in der Warteschlange die Rechnung fehlen, wird dieser Auftrag ab jetzt entsprechend markiert und innerhalb der Warteschlange zurückgestellt, bis eine Rechnung hinzugefügt wurde und eine Ereignisaktion oder ein Prozess sie wieder als fertig für das Hochladen markiert hat.</p>
</li>
</ul>
</div>
<h3 id="_amazon_vcs" class="discrete">Amazon VCS</h3>
<div class="ulist">
<ul>
<li>
<p>Beim stündlichen Import der VCS-Berichte von Amazon bei VCS Lite/VCS plentymarkets kann es aufgrund von vielen großen Berichten dazu kommen, dass der Prozess zu lange läuft und abbricht. Wenn dies passiert, wurde bisher keiner der bereits verarbeiten Berichte als gelesen markiert, weil dies erst am Ende des Prozesses passierte. Dadurch konnten diese großen Berichte dauerhaft den Prozess anhalten.</p>
<div class="paragraph">
<p>Diesem Verhalten wird nun entgegengewirkt, indem vor der Verarbeitung eines Berichts die Größe geprüft wird. Wenn die Größe einen bestimmten Wert übersteigt, werden die bisher verarbeiteten Berichte als gelesen markiert, so dass sie zumindest nicht nochmal verarbeitet werden.</p>
</div>
</li>
</ul>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn bei der Einstellung <strong>Zuordnung des Lagers</strong> unter <strong>Einrichtung » Aufträge » Einstellungen</strong> die Einstellung auf <strong>a) pro Auftrag kann ein Lager zugeordnet werden</strong> gesetzt ist, wurde die Lageränderung über den Auftrag (Reiter <strong>Einstellungen</strong>) zwei mal ausgeführt, was zur Folge hatte, dass auch die Warenbestands-Berechnung sowie Ereignisaktionen doppelt ausgeführt wurden. Dies wurde behoben.</p>
</li>
<li>
<p>Bei der automatischen Zahlungszuordnung konnte es zu einem Fehler kommen, wenn in den Einstellungen unter <strong>Aufträge » Zahlung » Eingänge » Aufträge mit folgenden Zahlungsarten von der automatischen Zuordnung ausschließen</strong> Zahlungsmethoden ausgeschlossen wurden. Dies wurde behoben.</p>
</li>
<li>
<p>Seit mit der neuen Auftrags-Logik unzugeordnete Auftragspositionen keine Lagerinformation mehr haben, wurden unzugeordnete Positionen nicht auf der Pickliste gelistet. Das wurde behoben, diese werden wie gewohnt auf der Pickliste ausgegeben.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Im Arbeitsschritt <strong>Wareneingang</strong> lassen sich nun keine Lagerorte mehr erfassen, die nicht im ausgewählten Lager angelegt sind.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_gelöscht" class="discrete">Gelöscht</h2>
<div class="paragraph">
<p>Folgende Funktionalität wurde in den letzten 7 Tagen auf <strong>stable</strong> gelöscht.</p>
</div>
<h3 id="_aufträge_4" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst nun nicht mehr den Versanddienstleister eines Auftrages direkt ändern. Der Versanddienstleister wird immer über das hinterlegte Versandprofil ermittelt und wird automatisch gesetzt.</p>
<div class="paragraph">
<p>Das Setzen eines Versanddienstleister der nicht mit dem Dienstleister des Versandprofiles übereinstimmt konnte zu Problemen führen. Entfernt wurde die Funktionalität aus der Auftragsdetail-Ansicht, sowie aus der Gruppenfunktion der Auftragssuche.</p>
</div>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_5" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Aufträge die einen gebuchten Warenausgang haben können zukünftig nicht mehr gruppiert werden.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Fehler wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_aufträge_6" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Die Artikelansicht bleibt jetzt geöffnet, wenn du zu einem anderen Bereich navigierst. Diese Anpassung gilt sowohl für Nachbestellungen als auch für Umbuchungen.</p>
</li>
<li>
<p>n der neuen Auftragsanlage werden bei der automatischen Vervollständigung der Zahlungsarten jetzt auch die alten Zahlungsarten angezeigt.</p>
</li>
</ul>
</div>
<h3 id="_ereignisaktionen" class="discrete">Ereignisaktionen</h3>
<div class="ulist">
<ul>
<li>
<p>Der Filter <strong>Kundenklasse</strong> hat bei Gastbestellungen ohne Kontakt nicht korrekt funktioniert. Nun wird in diesen Fällen die Standard-Kundenklasse des Mandanten genommen, in dem der Auftrag angelegt wurde.</p>
</li>
</ul>
</div>
<h3 id="_plentyshop" class="discrete">plentyShop</h3>
<div class="ulist">
<ul>
<li>
<p>Aufgrund eines Fehlers in der Eigenschaften-UI, wurden verknüpfte Eigenschaften im Ceres-Shop nicht auf Dänisch und Norwegisch angezeigt. Diesen Fehler haben wir behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">N/A</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">N/A</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">N/A</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>