<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_allgemeines"><span>1.</span><span> Allgemeines</span></a></li>
<li><a href="#_registrierung"><span>2.</span><span> Registrierung</span></a></li>
<li><a href="#_konfiguration"><span>3.</span><span> Konfiguration</span></a></li>
<li><a href="#_anwendungsbeispiel"><span>4.</span><span> Anwendungsbeispiel</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>bit.ly</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Einrichtung » Mandant » Global » Dienste » bit.ly</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines">1. Allgemeines</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Auf der Website des Online-Dienstes <strong>bit.ly</strong> hast du die Möglichkeit, lange URLs kürzen zu lassen. Hast du eine gültige Konfiguration für den Kurz-URL-Dienst bit.ly hinterlegt, werden z.B. die URLs, die plentymarkets automatisch für die Tweets von <a href="/omni-channel/online-shop/webshop-einrichten/extras/twitter">Twitter</a> generiert (Kapitel 4), direkt gekürzt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_registrierung">2. Registrierung</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://bitly.com/a/sign_in" target="_blank" rel="noopener">Registriere</a> dich bei bit.ly, sofern du noch keinen bit.ly-Account besitzt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_konfiguration">3. Konfiguration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie nachfolgend beschrieben vor, um bit.ly in plentymarkets einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>bit.ly konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » bit.ly</strong>.</p>
</li>
<li>
<p>Hinterlege unter <strong>Login</strong> den Benutzernamen.</p>
</li>
<li>
<p>Hinterlege unter <strong>API-Key</strong> den API Key, wie von bit.ly erhalten.<br>
→ Wenn du bei bit.ly eingeloggt bist, findest du den API-Key unter folgendem <a href="http://bit.ly/a/your_api_key" target="_blank" rel="noopener">Link</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstellungen-Mandant-Global-Dienste-bitly-01.png" alt="DE Einstellungen Mandant Global Dienste bitly 01">
</div>
<div class="title">Bild 1. bit.ly-Zugangsdaten hinterlegen</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_anwendungsbeispiel">4. Anwendungsbeispiel</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Kurz-URL-Dienst wird beispielsweise für automatische Tweets verwendet, die mit dem <a href="/omni-channel/online-shop/webshop-einrichten/extras/live-shopping#100">Aktionsmanager</a> in plentymarkets konfiguriert werden. Dabei werden die URLs der Kategorieseiten, z.B. für die Aktion <strong>Live-Shopping twittern</strong>, automatisch gekürzt. Damit stehen dann mehr Zeichen für die Nachricht zur Verfügung.</p>
</div>
</div>
</div>
</main>