<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_allgemeines_über_elmr"><span>1.</span><span> Allgemeines über Elm@r</span></a></li>
<li><a href="#_einrichtung"><span>2.</span><span> Einrichtung</span></a>
<ul class="sectlevel2">
<li><a href="#_kategorien_verknüpfen"><span>2.1.</span><span> Kategorien verknüpfen</span></a></li>
<li><a href="#_angaben_zu_shop_und_betreiber_hinterlegen"><span>2.2.</span><span> Angaben zu Shop und Betreiber hinterlegen</span></a></li>
<li><a href="#_shopdatei_generieren"><span>2.3.</span><span> Shopdatei generieren</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Elmar</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Einrichtung » Mandant » Mandant wählen » Dienste » Elmar</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines_über_elmr">1. Allgemeines über Elm@r</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Elm@r</strong> (elektronischer Markt) ist ein Datenstandard, der in einem Forschungsprojekt der Uni Mannheim entwickelt wurde. Da plentymarkets diesen Standard beherrscht, können Artikeldaten einfach und automatisiert in verschiedene Produktsuchmaschinen eingebunden werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_einrichtung">2. Einrichtung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Es müssen in zwei Bereichen Anpassungen vorgenommen werden. Zum einen müssen Kategorien der ersten Ebene mit Kategorien des Elm@r-Standards verknüpft werden. Zum anderen müssen allgemeine Angaben zum Shop und zu dessen Betreiber hinterlegt werden.</p>
</div>
<div class="sect2">
<h3 id="_kategorien_verknüpfen">2.1. Kategorien verknüpfen</h3>
<div class="paragraph">
<p>Die Kategorieverknüpfungen nimsmt du jeweils im Tab <strong>Einstellungen</strong> der Kategorie im Menü; <strong>Artikel » Kategorien</strong> vor.</p>
</div>
<div id="bild-kategorieverknuepfung-elmar" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Mandant-Standard-Dienste-elmar-01.png" alt="DE Mandant Standard Dienste elmar 01">
</div>
<div class="title">Bild 1. Kategorie mit Elm@r verknüpfen</div>
</div>
<div class="paragraph instruction">
<p>Kategorien mit Elm@r verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Öffne die Kategorie, die du mit Elmar verknüpfen möchtest.<br>
→ Das Tab <strong>Einstellungen</strong> ist automatisch geöffnet.</p>
</li>
<li>
<p>Wähle aus der gleichnamigen Dropdown-Liste die <strong>Elmar-Kategorie</strong>, mit der du die Kategorie verknüpfen möchtest (<a href="#bild-kategorieverknuepfung-elmar">Bild 1</a>).</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_angaben_zu_shop_und_betreiber_hinterlegen">2.2. Angaben zu Shop und Betreiber hinterlegen</h3>
<div class="paragraph">
<p>Zur Generierung der Shopdatei (Kapitel 2.3) müssen Angaben über den Shop und dessen Betreiber hinterlegt werden. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div id="bild-elmar-konfigurieren" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Mandant-Standard-Dienste-elmar-02.png" alt="DE Mandant Standard Dienste elmar 02">
</div>
<div class="title">Bild 2. Elm@r konfigurieren</div>
</div>
<div class="paragraph instruction">
<p>Shopangaben hinterlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Elmar</strong>.</p>
</li>
<li>
<p>Trage die Daten ein und nimm die Einstellungen vor (<a href="#bild-elmar-konfigurieren">Bild 2</a>).</p>
</li>
<li>
<p>Wähle bei <strong>Artikel-Export-Format</strong>, das Format, das du für Elmar im Menü <strong>Einrichtung » Märkte » Preisportale » Exporte</strong> angelegt hast.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Datenprüfung und Sicherung</div>
<div class="paragraph">
<p>Die Daten werden nach der Eingabe einer Prüfung unterzogen. Nur bei erfolgreichem Test wird eine Sicherung vorgenommen. Es sind alle Datenfelder korrekt und wahrheitsgemäß auszufüllen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_shopdatei_generieren">2.3. Shopdatei generieren</h3>
<div class="paragraph">
<p>Die im Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Elmar</strong> gemachten Angaben werden zur Generierung einer XML-Datei benötigt. Diese Shopdatei wird von Elm@r ausgewertet und deren Inhalt an Produktsuchmaschinen weitergegeben. Die Datei trägt den Namen shopinfo.xml und ist direkt über die URL des Shops erreichbar, z.B. <a href="http://www.mein-shop.de/shopinfo.xml" class="bare">http://www.mein-shop.de/shopinfo.xml</a>.</p>
</div>
<div class="paragraph">
<p>Die Shopdatei wird automatisch einmal täglich aktualisiert. Bei Änderungen im Menü <strong>Einrichtung » Märkte » Preisportale » Exporte</strong> erfolgt die Aktualisierung direkt.</p>
</div>
<div class="paragraph">
<p>Nachdem alle Angaben gemacht wurden, muss der Shop noch bei <a href="http://www.elektronischer-markt.de/" target="_blank" rel="noopener">Elm@r</a> angemeldet werden. Dazu benötigest du die <strong>URL der Shopdatei</strong>.</p>
</div>
</div>
</div>
</div>
</main>