<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_allgemeines_über_etracker"><span>1.</span><span> Allgemeines über etracker</span></a></li>
<li><a href="#_etracker_in_plentymarkets_einrichten"><span>2.</span><span> etracker in plentymarkets einrichten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>etracker</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>CMS » Webdesign » Ordner: Layout » Ordner: PageDesign</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines_über_etracker">1. Allgemeines über etracker</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://www.etracker.de" target="_blank" rel="noopener">etracker</a> bietet Tools zur Web-Analyse in unterschiedlichen Leistungsumfängen zu verschiedenen Preisen. Die Pakete kannst du testen, bevor du dich für die Nutzung entscheidest.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_etracker_in_plentymarkets_einrichten">2. etracker in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du eine Lizenz von etracker erworben hast, richtest du das Analyse-Tool in plentymarkets wie im Folgenden beschrieben ein.</p>
</div>
<div class="paragraph instruction">
<p>Basis-Code aus etracker kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne im Administrationsbereich von <strong>etracker</strong> im Ordner <strong>Konfiguration</strong> den Menüpunkt <strong>Setup/HTML-Code</strong>.</p>
</li>
<li>
<p>Öffne oben rechts den Menüpunkt <strong>Basic Code</strong>.</p>
</li>
<li>
<p>Kopiere den kompletten Quelltext unterhalb von <strong>Basic Code</strong>, der mit der Zeile <strong>-- etracker PARAMETER 2.4 --</strong> beginnt.</p>
</li>
<li>
<p>Füge den Code wie unten beschrieben in plentymarkets ein.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Webshop-Conversion-etracker-01.png" alt="DE Webshop Conversion etracker 01">
</div>
<div class="title">Bild 1. Basic Code von etracker einfügen</div>
</div>
<div class="paragraph instruction">
<p>etracker in plentymarkets einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Ordner: Layout</strong>.</p>
</li>
<li>
<p>Öffne den Ordner <strong>PageDesign</strong> und dort das Template <strong>PageDesignContent</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>PageDesignContentMainFrame</strong>.</p>
</li>
<li>
<p>Füge den <strong>Basic Code</strong> am Ende des Textfeldes ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
<strong>→</strong> Der Code ist aktiv und etracker beginnt, Daten zu sammeln.</p>
</li>
</ol>
</div>
</div>
</div>
</main>