<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_facettensuche_mit_plentymarkets"><span>1.</span><span> Facettensuche mit plentymarkets</span></a></li>
<li><a href="#_konfiguration"><span>2.</span><span> Konfiguration</span></a>
<ul class="sectlevel2">
<li><a href="#100"><span>2.1.</span><span> Facetten anlegen</span></a></li>
<li><a href="#_facetten_konfigurieren"><span>2.2.</span><span> Facetten konfigurieren</span></a>
<ul class="sectlevel3">
<li><a href="#_tab_einstellungen"><span>2.2.1.</span><span> Tab: Einstellungen</span></a></li>
<li><a href="#_tab_name"><span>2.2.2.</span><span> Tab: Name</span></a></li>
</ul>
</li>
<li><a href="#_facetten_mit_werten_und_bildern_verknüpfen"><span>2.3.</span><span> Facetten mit Werten und Bildern verknüpfen</span></a>
<ul class="sectlevel3">
<li><a href="#_tab_werte"><span>2.3.1.</span><span> Tab: Werte</span></a></li>
<li><a href="#_tab_bilder"><span>2.3.2.</span><span> Tab: Bilder</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#_volltextsuche_tab_suchindex"><span>3.</span><span> Volltextsuche - Tab: Suchindex</span></a>
<ul class="sectlevel2">
<li><a href="#_tab_gewichtung"><span>3.1.</span><span> Tab: Gewichtung</span></a></li>
<li><a href="#_tab_keyword"><span>3.2.</span><span> Tab: Keyword</span></a></li>
<li><a href="#_tab_beschreibung"><span>3.3.</span><span> Tab: Beschreibung</span></a></li>
</ul>
</li>
<li><a href="#_facettenverknüpfung_im_webshop"><span>4.</span><span> Facettenverknüpfung im Webshop</span></a></li>
<li><a href="#_facettensuche_ins_cms_einbinden"><span>5.</span><span> Facettensuche ins CMS einbinden</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Facettensuche</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Als Facetten werden die verschiedenen Filtermöglichkeiten bezeichnet, mit denen sich Suchergebnisse im Webshop nach bestimmten Kriterien (Facetten) verfeinern lassen. Der Vorteil einer Facettensuche liegt darin, dass das Suchergebnis nicht zwangsweise analog zur Auswahl des Kriteriums reduziert wird, sondern immer wieder die gesamte Datenbank nach dem Kriterium durchsucht wird. Dies ermöglicht eine intuitive Benutzerführung durch die Suche und vermeidet, dass Suchergebnisse durch eine ungünstige Vorauswahl verfälscht werden. Eine Facettensuche mit plentymarkets verbessert die Usability für deine Kunden im Webshop deutlich und ist mit nur einer Stunde Verzögerung im Datenabgleich blitzschnell und stets höchstaktuell.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_facettensuche_mit_plentymarkets">1. Facettensuche mit plentymarkets</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Verfügbarkeit</div>
<div class="paragraph">
<p>Kunden mit plentymarkets Cloud Vertrag können das Modul Facettensuche über den Konfigurator hinzubuchen. Für Own-Server-Systeme ist das Modul leider nicht verfügbar.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die übersichtliche Filternavigation kannst du flexibel einrichten und in deinem CMS individuell gestalten. Mit der Facettensuche bietear du deinen Kunden vielfach mehr Möglichkeiten als z.B. bei der Merkmalsuche. Die angezeigten Artikel in einer Kategorie können mit Facetten nicht nur nach Merkmalen/Eigenschaften, sondern auch nach folgenden Kriterien weiter eingeschränkt werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Nach einem gewünschten Preissegment</p>
</li>
<li>
<p>Nach Attributen und Merkmalen</p>
</li>
<li>
<p>Nach der Verfügbarkeit der Artikel</p>
</li>
<li>
<p>Nach Herstellern</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Diese vier Facettentypen verbindest du in plentymarkets mit verschiedenen Werten, die das Filterergebnis bestimmen. Je mehr Facetten du erstellst und mit Werten verknüpfst, desto umfangreicher wird die in <a href="#bild-facettensuche-webshop">Bild 1</a> dargestellte Filterauswahl. Wie genau das geht, erfährst du im Folgenden.</p>
</div>
<div id="bild-facettensuche-webshop" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Mandant-Global-Dienste-Facetten-01.png" alt="DE Mandant Global Dienste Facetten 01">
</div>
<div class="title">Bild 1. Beispiel der Facettensuche im Webshop</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Artikel mit Facetten verknüpfen</div>
<div class="paragraph">
<p>Eine direkte Verknüpfung von Artikeln mit den einzelnen Facetten ist nicht nötig. Die Zuordnung deiner Artikel zu Facetten erfolgt automatisch durch die <a href="/omni-channel/online-shop/webshop-einrichten/extras/facettensuche#2-3">Verknüpfung der Facette mit Werten</a>, die am Artikel hinterlegt sein müssen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_konfiguration">2. Konfiguration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Konfiguration besteht aus mehreren Schritten. Zunächst werden Facetten angelegt, anschließend durch weitere Einstellungen näher bestimmt und schließlich mit den gewünschten Werten verknüpft. Zudem muss im Menü <strong>Einrichtung » Mandant » Mandant wählen » Webshop » Artikelsuche</strong> die Option <strong>Facettensuche</strong> eingestellt sein.</p>
</div>
<div class="sect2">
<h3 id="100">2.1. Facetten anlegen</h3>
<div class="paragraph">
<p>Für die Facettensuche erstellst du zunächst verschiedene Facetten, z.B. die Facette "Farbe" des Typs <strong>Attribut/Merkmal</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Neue Facette anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>, um eine neue Facette hinzuzufügen.</p>
</li>
<li>
<p>Trage einen <strong>Namen</strong> für die Facette in der Systemsprache ein.</p>
</li>
<li>
<p>Wähle einen <strong>Typ</strong> aus der Dropdown-Liste gemäß den Erläuterungen in <a href="#tabelle-verfuegbare-facettentypen">Tabelle 1</a>.</p>
</li>
<li>
<p>Trage die <strong>Position</strong> ein, an der die Facette im Webshop erscheinen soll.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-verfuegbare-facettentypen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verfügbare Facettentypen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Facettentyp</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facetten des Typs <strong>Preis</strong> müssen nicht mit Werten verknüpft werden, da der Filter vom kleinsten bis zum größten Preis einer Kategorie individuell eingeschränkt werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribut/Merkmal</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facetten des Typs <strong>Attribut/Merkmal</strong> werden mit Attributen, Merkmalen und Eigenschaften in deinem System verknüpft und stellen so vielfältige Filtermöglichkeiten her, z.B. nach Farben, Größen etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facetten des Typs <strong>Verfügbarkeit</strong>, z.B. "Kurzfristig lieferbar", werden mit den unter <a href="/omni-channel/online-shop/webshop-einrichten/extras/facettensuche#180">Einrichtung » Artikel » Verfügbarkeiten</a> angelegten Verfügbarkeiten verknüpft.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Facetten des Typs <strong>Hersteller</strong>, z.B. "Adidas", werden mit den unter <a href="/omni-channel/online-shop/webshop-einrichten/extras/facettensuche#560">Einrichtung » Artikel » Hersteller</a> angelegten Herstellern verknüpft.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_facetten_konfigurieren">2.2. Facetten konfigurieren</h3>
<div class="paragraph">
<p>Nachdem du eine Facette angelegt hast, wird die Facette geöffnet. Es stehen vier Tabs zur Verfügung, um weitere Einstellungen vorzunehmen und Werte zu verknüpfen. Hier werden die Einstellungen der Tabs <strong>Einstellungen</strong> und <strong>Name</strong> erläutert.
Erklärungen zu den Tabs <strong>Werte</strong> und <strong>Bilder</strong> findest du in <a href="/omni-channel/online-shop/webshop-einrichten/extras/facettensuche#2-3">Kapitel 2.3</a> dieser Handbuchseite.</p>
</div>
<div class="sect3">
<h4 id="_tab_einstellungen">2.2.1. Tab: Einstellungen</h4>
<div class="paragraph">
<p>Nimm die Einstellungen wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Facetten bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette.</p>
</li>
<li>
<p>Nimm die Einstellungen im Tab <strong>Einstellungen</strong> gemäß <a href="#tabelle-facetten-bearbeiten">Tabelle 2</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-facetten-bearbeiten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Facetten bearbeiten; Tab <strong>Einstellungen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den beim Anlegen der Facette gewählten Typen an. Der Typ ist nicht änderbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sortierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legt die Sortierung des Suchergebnisses fest. Je nach Auswahl werden die Artikel nach der <strong>Trefferquote</strong>, der <strong>Position</strong> oder alphabetisch von <strong>A-Z</strong> sortiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Position an, die beim Anlegen der Facette eingegeben wurde. Die Position ist hier änderbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CSS-Klasse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen CSS-Namen hinterlegen. Dieser Name wird als Template-Variable im CMS-Bereich zur Verfügung gestellt, sodass zu jeder Facette eine eigene Klasse hinterlegt werden kann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auswahlart</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Auswahlart wählen.<br>
<strong>Einschränkend</strong> = Schränkt den Filter mit dem gewählten Wert weiter ein. Es werden alle Artikel angezeigt, die diesen Wert besitzen und die Filterkriterien vorher gewählter Filter erfüllen.<br>
<strong>Mehrfach</strong> = Lässt eine Mehrfachauswahl von Ergebnissen zu, z.B. die Auswahl mehrerer Hersteller, deren Artikel dann gemeinsam angezeigt werden.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimale Trefferanzahl</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legt fest, wie viele Ergebnisse es für einen Facettenwert mindestens geben muss, damit der Facettenwert im Webshop angezeigt wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximal angezeigte Facettenwerte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legt fest, wie viele Facettenwerte je Facette höchstens angezeigt werden. 250 Facettenwerte können maximal angezeigt werden.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_tab_name">2.2.2. Tab: Name</h4>
<div class="paragraph">
<p>Im Tab <strong>Name</strong> trägst du den Namen der Facette in den Sprachen ein, für die du eine multilinguale Ansicht deines Webshops anbietest. Die hier eingetragene Übersetzung wird dann in der angegebenen Sprache verwendet.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_facetten_mit_werten_und_bildern_verknüpfen">2.3. Facetten mit Werten und Bildern verknüpfen</h3>
<div class="paragraph">
<p>Nimm die Einstellungen in den Tabs <strong>Werte</strong> und <strong>Bilder</strong> wie im Folgenden beschrieben vor.</p>
</div>
<div class="sect3">
<h4 id="_tab_werte">2.3.1. Tab: Werte</h4>
<div class="paragraph">
<p>Im Tab <strong>Werte</strong> einer Facette verknüpfst du die Facette mit verschiedenen Werten. Im Beispiel der Facette Farbe des Typs <strong>Attribut/Merkmal</strong> legst du z.B. die Werte weiß, schwarz, rot, blau etc. an und verknüpfen diese Werte mit den vorhandenen Attributen, Merkmalen und Eigenschaften in deinem System. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Neuen Wert anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette, der du Werte hinzufügen möchtest.</p>
</li>
<li>
<p>Öffne das Tab <strong>Werte</strong>.</p>
</li>
<li>
<p>Füge über das <strong>grüne Plus</strong> links unten einen neuen Wert hinzu.</p>
</li>
<li>
<p>Gib einen <strong>Namen</strong> für den Wert in der Systemsprache ein.</p>
</li>
<li>
<p>Gib eine <strong>Position</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der neue Wert wird angelegt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die angelegten Werte werden nun links aufgelistet. Bestimme die Werte in den folgenden Schritten näher und verknüpfe die Werte mit Informationen aus deinem System. Im Beispiel des Typs <strong>Attribut/Merkmal</strong> ist besonders praktisch, dass Attribute, Merkmale und Eigenschaften in deinem System in einem Filter zusammengefasst und so zusammen in einem Ergebnis ausgegeben werden können.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Tab Name und Tab Einstellungen eines Wertes</div>
<div class="paragraph">
<p>Im Tab <strong>Name</strong> eines Wertes legst du den Namen des Wertes in verschiedenen Sprachen fest.<br>
Im Tab <strong>Einstellungen</strong> eines Wertes hinterlegst du eine <strong>Position</strong> und eine <strong>CSS-Klasse</strong> (<a href="#tabelle-facetten-bearbeiten">Tabelle 2</a>).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Im Folgenden erfährst du, wie du die Werte verknüpfst.</p>
</div>
<div class="paragraph instruction">
<p>Facetten mit Werten verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Öffne die Facette, der du Werte hinzufügen möchtest.</p>
</li>
<li>
<p>Öffne das Tab <strong>Werte</strong>.</p>
</li>
<li>
<p>Klicke auf den Wert, den du verknüpfen möchtest.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Verknüpfung</strong>.</p>
</li>
<li>
<p>Wähle das Attribut, das Merkmal oder die Eigenschaft aus der Liste.</p>
</li>
<li>
<p>Klicke links unten auf <strong>Verknüpfen</strong>.<br>
→ Das Attribut, das Merkmal oder die Eigenschaft wird mit dem Wert der Facette verknüpft.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Werte, die du verknüpft hast, werden mit einem <strong>grünen Häkchen</strong> gekennzeichnet. Nicht verknüpfte Werte erkennst du an einem roten <strong>x</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="_tab_bilder">2.3.2. Tab: Bilder</h4>
<div class="paragraph">
<p>Im Tab <strong>Bilder</strong> verknüpfst du Facetten und Facettenwerte mit Bildern, wenn du zum Beispiel die Hersteller in deinem Webshop nicht mit Namen, sondern mit Logo anzeigen möchtest.</p>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_volltextsuche_tab_suchindex">3. Volltextsuche - Tab: Suchindex</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Tab <strong>Such-Index</strong> legst du verschiedene Kriterien für die verbesserte Volltextsuche in deinem Webshop fest.
Diese Volltextsuche ist wesentlich fehlertoleranter als die Standard-Artikelsuche in plentymarkets.
Das bedeutet, dass Suchbegriffe über die Facettensuche auch bei Tippfehlern erkannt werden und z.B. der Artikel- oder der Herstellername nicht exakt eingegeben werden müssen, um zu einem Ergebnis zu führen.
So wird z.B. der Hersteller "adidas" auch bei fehlerhaften Eingaben wie "addidas" oder "adids" gefunden und Artikel von diesem Hersteller im Suchergebnis angezeigt. Konfiguriere dafür die folgenden 3 Tabs:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Im Tab <strong>Gewichtung</strong> legst du fest, welchem der vier Bereiche <strong>Keywords 1</strong>, <strong>Keywords 2</strong>, <strong>Name</strong> oder <strong>Volltext</strong> welche Priorität bei der Anzeige im Suchergebnis gegeben wird.</p>
</li>
<li>
<p>Welche Texte den Bereichen <strong>Keywords 1 und 2</strong> angehören, legst du im nächsten Tab <strong>Keyword</strong> fest. Der Bereich <strong>Name</strong> bezieht sich auf den Artikelnamen in diesem Webshop.</p>
</li>
<li>
<p>Welche Texte im Bereich <strong>Volltext</strong> berücksichtigt werden, hinterlegst du im Tab <strong>Beschreibung</strong>.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_tab_gewichtung">3.1. Tab: Gewichtung</h3>
<div class="paragraph">
<p>Trage im Tab <strong>Gewichtung</strong> je Bereich eine Zahl ein, die die Priorität des Bereichs bei der Anzeige des Suchergebnisses bestimmt. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Mandant-Global-Dienste-Facetten-02.png" alt="DE Mandant Global Dienste Facetten 02">
</div>
<div class="title">Bild 2. Such-Index; Tab <strong>Gewichtung</strong></div>
</div>
<div class="paragraph instruction">
<p>Gewichtung festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Such-Index</strong>.<br>
→ Das Tab <strong>Gewichtung</strong> ist automatisch geöffnet.</p>
</li>
<li>
<p>Trage je Bereich eine Gewichtung zwischen 1 und 100 ein. Je höher die Zahl, desto höher die Priorität im Suchergebnis. Ergebnisse aus dem Bereich mit der höchsten Zahl werden also zuerst gelistet.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_tab_keyword">3.2. Tab: Keyword</h3>
<div class="paragraph">
<p>Ordne im Tab <strong>Keyword</strong> die verschiedenen Texte den Bereichen <strong>Keyword 1</strong> oder <strong>Keyword 2</strong> zu. Je nach angegebener Gewichtung werden diese Texte im Suchergebnis mit höherer oder niedrigerer Priorität berücksichtigt.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Einstellungen im Tab Keyword</div>
<div class="paragraph">
<p>Wähle aus, welchem Bereich (Priorität) die hier gelisteten Texte zugewiesen werden. Die Zahlen bei <strong>Kategorie 1 - 6</strong> geben die Kategorieebene an. Es wird empfohlen, die oberen Ebenen höher zu gewichten als niedrigere Ebenen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_tab_beschreibung">3.3. Tab: Beschreibung</h3>
<div class="paragraph">
<p>Im Tab <strong>Beschreibung</strong> legst du fest, welche am Artikel hinterlegten Texte für den Bereich <strong>Volltext</strong> ausgewertet werden sollen.</p>
</div>
<div class="paragraph instruction">
<p>Beschreibungen festlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Facettensuche</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Such-Index</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Beschreibung</strong>.</p>
</li>
<li>
<p>Setze ein <strong>Häkchen</strong> bei den Texten, die im Bereich <strong>Volltext</strong> bei der Suche berücksichtigt werden sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_facettenverknüpfung_im_webshop">4. Facettenverknüpfung im Webshop</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du deine Facetten angelegt haben, verknüpfst du diese Facetten in dem Standard- oder Mandant-Shop, in dem du die Facetten als Filter zur Verfügung stellen möchtest. Hierbei wählst du je Mandant (Shop), welche Facetten für diesen Shop relevant sind und welche nicht. Änderungen, die du hier vornimmst, werden in Echtzeit übertragen. Gehe wie im Folgenden beschrieben vor, um Facetten mit einem Shop zu verknüpfen.</p>
</div>
<div class="paragraph">
<p>Die Konfiguration nimmst du im Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Facettenverknüpfungen</strong> vor. Dort wählst du den Shop, mit dem du Facetten verknüpfen möchtest.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Preisfacette</div>
<div class="paragraph">
<p>Pro Shop kann nur eine Preisfacette verknüpft werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Facetten im Webshop verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Facettenverknüpfungen</strong>.</p>
</li>
<li>
<p>Wähle in der Liste links die Facette, die du mit diesem Shop verknüpfen möchtest  .</p>
</li>
<li>
<p>Klicke links unten auf <strong>Facette verknüpfen</strong>.<br>
→ Die Facette wird im Webshop verknüpft.</p>
</li>
<li>
<p>Wiederhole den Vorgang für alle weiteren Facetten, die hier verknüpft werden sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Facetten, die du verknüpft hast, werden mit einem <strong>grünen Häkchen</strong> gekennzeichnet. Nicht verknüpfte Facetten erkennst du an einem <strong>roten x</strong>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Option: Bilder bereitstellen</div>
<div class="paragraph">
<p>Häkchen setzen = Mit den Facetten verknüpfte Bilder werden im Webshop angezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_facettensuche_ins_cms_einbinden">5. Facettensuche ins CMS einbinden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Facettensuche wird im Template <strong>NavigationFacetsList</strong> definiert. Das Template <strong>NavigationFacetsList</strong> unseres Designs Callisto Light enthält fertigen Code, mit dem du eine Facettensuche erstellst, die dem in <a href="#bild-facettensuche-webshop">Bild 1</a> dargestellten Beispiel entspricht. Dieser Code ist natürlich ausbaubar.<br>
Über die Template-Funktion <a href="/omni-channel/online-shop/cms-syntax#webdesign-navigation-container-navigationfacetslist">Container_NavigationFacetsList</a> fügst du das Template <strong>NavigationFacetsList</strong> in den gewünschten Bereich deines Webshops ein. Gehe dazu wie unten beschrieben vor.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Empfohlene Templates</div>
<div class="paragraph">
<p>Wir empfehlen dir, die Template-Funktion <strong>Container_NavigationFacetsList</strong> innerhalb von <strong>ItemViewCategoriesList</strong> und <strong>ItemViewSearchResultsList</strong> zu verwenden. Diese Templates findest du im Menü <strong>CMS » Webdesign » Ordner: Layout » Ordner: ItemView</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Facettensuche in CMS einbinden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <a href="/omni-channel/online-shop/webshop-einrichten/cms#webdesign">CMS » Webdesign</a>.</p>
</li>
<li>
<p>Öffne das gewünschte Template.</p>
</li>
<li>
<p>Füge die Template-Funktion <strong>Container_NavigationFacetsList</strong> in das Template ein, um die Facettensuche dort anzuzeigen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Wiederhole ggf. den Vorgang, um die Template-Funktion in weitere Templates einzufügen.</p>
</li>
</ol>
</div>
</div>
</div>
</main>