<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_allgemeines"><span>1.</span><span> Allgemeines</span></a></li>
<li><a href="#_partner_werden"><span>2.</span><span> Partner werden</span></a></li>
<li><a href="#_familienkarte_hessen_in_plentymarkets_einrichten"><span>3.</span><span> Familienkarte Hessen in plentymarkets einrichten</span></a></li>
<li><a href="#_template_variable_und_css_code_einfügen"><span>4.</span><span> Template-Variable und CSS-Code einfügen</span></a></li>
<li><a href="#_sichtbarkeit_und_login"><span>5.</span><span> Sichtbarkeit und Login</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Familienkarte Hessen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Einrichtung » Mandant » Global » Dienste » Familienkarte</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines">1. Allgemeines</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Als weiteren Baustein einer modernen, die Bedürfnisse von Familien aufgreifenden Familienpolitik hat die Hessische Landesregierung in Zusammenarbeit mit Partnern aus der Wirtschaft und anderen Institutionen die Familienkarte Hessen eingeführt. Sie ist eine Karte im Scheckkartenformat, mit der hessische Familien seit dem 11. September 2010 eine Reihe von Vergünstigungen und Unterstützungsleistungen in unterschiedlichen Bereichen erhalten. Weitere Informationen erhältst du auf <a href="http://www.familienkarte.hessen.de/dynasite.cfm?dsmid=14502" target="_blank" rel="noopener">www.familienkarte.hessen.de</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_partner_werden">2. Partner werden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ebenfalls auf der Website der Familienkarte Hessen findest du Informationen, wie du <a href="http://www.familienkarte.hessen.de/dynasite.cfm?dsmid=14637" target="_blank" rel="noopener">Partner werden</a> kannst und was diese Partnerschaft beinhaltet.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_familienkarte_hessen_in_plentymarkets_einrichten">3. Familienkarte Hessen in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Verfügbarkeit</div>
<div class="paragraph">
<p>Das Menü <strong>Familienkarte Hessen</strong> ist nur für plentymarkets-Systeme mit Systemsprache <strong>Deutsch</strong> verfügbar.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Du benötigst für Kunden, die die Familienkarte Hessen nutzen, eine <strong>Kundenklasse</strong>, bei der ein dafür vorgesehener Rabatt eingetragen ist. Grundsätzlich ist es empfehlenswert, dafür eine eigene Kundenklasse anzulegen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Kunden-Kundenklassen-01-SI.png" alt="DE Einstell Kunden Kundenklassen 01 SI">
</div>
<div class="title">Bild 1. <strong>Kundenklasse</strong> für <strong>Familienkarte Hessen</strong> anlegen</div>
</div>
<div class="paragraph instruction">
<p>Kundenklasse anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » CRM » Kundenklassen</strong> und klicke auf das Tab <strong>Neue Kundenklasse</strong>.</p>
</li>
<li>
<p>Trage eine <strong>Bezeichnung</strong> ein.</p>
</li>
<li>
<p>Wähle eine <strong>Preisspalte</strong> sowie die <strong>Rabattart</strong>.</p>
</li>
<li>
<p>Trage den <strong>Rabatt</strong> bzw. die Rabatte in die Tabelle ein.</p>
</li>
<li>
<p>Wähle <strong>Brutto</strong> unter <strong>Anzeige der Preise im Webshop</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Details zu Rabatten findest du im entsprechenden Kapitel <a href="/crm/kontakte-verwalten#25">Rabattsystem</a>.</p>
</div>
<div class="paragraph">
<p>Nachdem du die Kundenklassen angelegt hast, musst du die Kundenklasse noch deinen Kunden zuordnen. Dabei legest du fest, welche Kundenklasse Kunden als <strong>Familienkarten-Mitglieder</strong> und welche Klasse Kunden mit <strong>abgelaufener Familienkarte</strong> automatisch zugewiesen werden soll.</p>
</div>
<div class="paragraph instruction">
<p>Kundenklassen zuordnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Familienkarte</strong>.</p>
</li>
<li>
<p>Ordne für die beiden unteren Optionen jeweils eine Kundenklasse zu.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Kunden-Kundenklassen-02-SI.png" alt="DE Einstell Kunden Kundenklassen 02 SI">
</div>
<div class="title">Bild 2. <strong>Kundenklassen</strong> zuordnen</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Zuordnung bei abgelaufener Familienkarte</div>
<div class="paragraph">
<p>Bei abgelaufener Karte wird beim erstmaligen Login keine Kundenklasse zugewiesen. Bei späterem Loginversuch mit abgelaufener Karte nach vorherigem erfolgreichem Login wird die Kundenklasse automatisch wie oben konfiguriert umgestellt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_template_variable_und_css_code_einfügen">4. Template-Variable und CSS-Code einfügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit deine Kunden die Option <strong>Familienkarte Hessen</strong> im Webshop auswählen können, musst du die Template-Variable <strong>$FamilienKarteLogin</strong> in dein Design einfügen. Wähle einen geeigneten Ort aus, z. B. unter dem Bereich <strong>Login</strong> und füge Template-Variable und CSS-Code wie im Folgenden beschrieben in dein Design ein.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;!--  End Box Login --&gt;
&#123;&#37; if $CustomerID &#37;&#125;
$FamilienKarteLogin
&#123;&#37; endif &#37;&#125;
&lt;!--  Box Familienkarte --&gt;</code></pre>
</div>
</div>
<div class="paragraph instruction">
<p>Template-Variable einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout » PageDesign » PageDesignContent</strong>.</p>
</li>
<li>
<p>Füge <strong>Code</strong> und <strong>Template-Variable</strong> an geeigneter Stelle ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Prüfe das Layout in deinem Webshop und nimm ggf. Korrekturen vor.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Sichtbarkeit der Familienkarten-Box im Webshop</div>
<div class="paragraph">
<p>Der Code enthält eine <strong>if-Abfrage</strong>, die sicherstellt, dass die Familienkarten-Box nur angezeigt wird, wenn der Kunde sich in deinen Webshop eingeloggt hat. Die sonstigen Elemente der Box sind CSS-Codes des Standard-Webshops.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_sichtbarkeit_und_login">5. Sichtbarkeit und Login</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Loginbox der Familienkarte Hessen ist nur sichtbar, wenn der jeweilige Kunde im Webshop eingeloggt ist.</p>
</div>
<div class="paragraph">
<p>Beim erstmaligen erfolgreichen Login werden die Zugangsdaten der Familienkarte vom System gespeichert. Danach erfolgt das Login mit den Zugangsdaten der Familienkarte des betreffenden Kunden automatisch, sobald dieser sich in den Webshop einloggt.</p>
</div>
</div>
</div>
</main>