<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_findologic_suche_und_abverkaufssteuerung"><span>1.</span><span> FINDOLOGIC - Suche und Abverkaufssteuerung</span></a>
<ul class="sectlevel2">
<li><a href="#_features"><span>1.1.</span><span> Features</span></a></li>
<li><a href="#_suchqualität"><span>1.2.</span><span> Suchqualität</span></a></li>
</ul>
</li>
<li><a href="#_integration_der_such_software_findologic_in_plentymarkets"><span>2.</span><span> Integration der Such-Software FINDOLOGIC in plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#_benutzer_für_findologic_einrichten"><span>2.1.</span><span> Benutzer für FINDOLOGIC einrichten</span></a></li>
<li><a href="#_informationen_für_findologic"><span>2.2.</span><span> Informationen für FINDOLOGIC</span></a></li>
<li><a href="#_findologic_aktivieren"><span>2.3.</span><span> FINDOLOGIC aktivieren</span></a></li>
<li><a href="#_design_einstellungen"><span>2.4.</span><span> Design-Einstellungen</span></a></li>
<li><a href="#_autovervollständigung_funktion_von_findologic_einbinden"><span>2.5.</span><span> Autovervollständigung-Funktion von FINDOLOGIC einbinden</span></a></li>
</ul>
</li>
<li><a href="#_design_des_suchergebnisses"><span>3.</span><span> Design des Suchergebnisses</span></a>
<ul class="sectlevel2">
<li><a href="#_option_findologic"><span>3.1.</span><span> Option "FINDOLOGIC"</span></a></li>
<li><a href="#_option_plenty"><span>3.2.</span><span> Option "Plenty"</span></a></li>
</ul>
</li>
<li><a href="#_findologic_navigation"><span>4.</span><span> FINDOLOGIC-Navigation</span></a>
<ul class="sectlevel2">
<li><a href="#_navigation_integrieren"><span>4.1.</span><span> Navigation integrieren</span></a></li>
<li><a href="#_navigation_aktivieren"><span>4.2.</span><span> Navigation aktivieren</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>FINDOLOGIC</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Einrichtung » Mandant » Mandant wählen » Dienste » FINDOLOGIC</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_findologic_suche_und_abverkaufssteuerung">1. FINDOLOGIC - Suche und Abverkaufssteuerung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die intelligente Suchtechnologie von FINDOLOGIC sorgt mit dafür, dass deine Kunden die gesuchten Produkte finden, schafft dabei echte Einkaufserlebnisse und macht Shopbesucher zu zufriedenen Kunden!</p>
</div>
<div class="sect2">
<h3 id="_features">1.1. Features</h3>
<div class="paragraph">
<p>Erfahre mehr über die Features der FINDOLOGIC-Suche auf unserer <a href="https://www.plentymarkets.eu/produkt/online-shop/webshop-erweiterungen/findologic/a-1769/" target="_blank" rel="noopener">Partnerseite</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="_suchqualität">1.2. Suchqualität</h3>
<div class="paragraph">
<p>Die Suchfunktion sorgt dafür, dass die Artikel gefunden werden, die der User wirklich sucht. Dabei sorgt eine intelligente Technologie dafür, dass du keine Gewichtungen oder anderes mehr ändern musst! D.h. ein Verschlimmbessern durch ständiges manuelles abändern ist ausgeschlossen – eines der größten Probleme herkömmlicher Suchmöglichkeiten.<br>
Auch lernt die FINDOLOGIC-Suche stetig durch das Nutzverhalten dazu und reiht automatisch die relevanten Artikel höher. Dabei "lernt" die FINDOLOGIC-Suche die Begriffe der Nutzerinnen und Nutzer zu verstehen und baut einen eigenen Wortschatz hierfür auf.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_integration_der_such_software_findologic_in_plentymarkets">2. Integration der Such-Software FINDOLOGIC in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die FINDOLOGIC-Suche auch in deinem Webshop nutzen zu können, bestellst du diese zunächst über das Online-Bestellformular bei FINDOLOGIC:<br>
<a href="http://www.findologic.com/pricing" target="_blank" rel="noopener">FINDOLOGIC-Software bestellen</a>.</p>
</div>
<div class="sect2">
<h3 id="_benutzer_für_findologic_einrichten">2.1. Benutzer für FINDOLOGIC einrichten</h3>
<div class="paragraph">
<p>Dein plentymarkets-System wird über die <strong>SOAP-Schnittstelle</strong> mit FINDOLOGIC verbunden. Für den Zugriff wird ein eigenes Benutzerkonto mit Zugriffsrechten auf die API in deinem System benötigt.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">API-Benutzerkonto einrichten</div>
<div class="paragraph">
<p>Richte unter <strong>Einrichtung » Einstellungen » Benutzer</strong> ein neues Benutzerkonto der Benutzerklasse <strong>API</strong> für FINDOLOGIC ein.</p>
</div>
<div class="paragraph">
<p>Beachte dazu die Handbuchseite <a href="https://www.plentymarkets.eu/handbuch/einstellungen/grundeinstellungen/benutzer/benutzer-anlegen/">Benutzer anlegen</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_informationen_für_findologic">2.2. Informationen für FINDOLOGIC</h3>
<div class="paragraph">
<p>Folgende Informationen benötigt FINDOLOGIC von dir für die Anbindung an dein System:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>URL der SOAP API WSDL</strong><br>
Diese URL ist im Menü <strong>Einrichtung » Einstellungen » API » Daten</strong> unter <strong>SOAP WSDL</strong> zu finden. Die WSDL hat folgenden Aufbau: <strong><a href="http://WWW.SHOPURL.COM/plenty/api/soap/version1xx/?xml" class="bare">http://WWW.SHOPURL.COM/plenty/api/soap/version1xx/?xml</a>.</strong>(<strong>xx</strong> = jeweils aktuelle SOAP-Version)</p>
</li>
</ul>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">WSDL einfügen</div>
<div class="paragraph">
<p><strong>Kopiere</strong> deine <strong>SOAP WSDL</strong> und füge diese im FINDOLOGIC-Kundenaccount im Feld <strong>Export URL</strong> ein.</p>
</div>
<div class="paragraph">
<p>Achte darauf, dass anstelle des obigen Eintrags <strong>SHOPURL.COM</strong> die <strong>URL deines Webshops</strong> in der WSDL steht.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="ulist">
<ul>
<li>
<p>Die <strong>Logindaten</strong> für den Benutzer (siehe Kapitel 2.1)<br>
Den <strong>Benutzernamen</strong> und das <strong>Passwort</strong>. [NOTE]</p>
</li>
</ul>
</div>
<div class="exampleblock">
<div class="title">Benutzerdaten eintragen</div>
<div class="content">
<div class="paragraph">
<p>Trage den <strong>Benutzernamen</strong> und das gewählte <strong>Passwort</strong> des API-Benutzers im FINDOLOGIC-Kundenaccount im Feld <strong>Export-ID</strong> bzw. <strong>Export-Passwort</strong> ein.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_findologic_aktivieren">2.3. FINDOLOGIC aktivieren</h3>
<div class="paragraph">
<p>Zur Aktivierung benötigst du einen <strong>FINDOLOGIC-Identifikationsschlüssel</strong> und eine <strong>FINDOLOGIC-URL</strong>, diese Daten erhältst du bei Erwerb einer entsprechenden Lizenz.</p>
</div>
<div id="bild-findologic-einstellungen" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-Std-ExtDienste-findologic-01-SI.png" alt="DE Einstell Mandant Std ExtDienste findologic 01 SI">
</div>
<div class="title">Bild 1. FINDOLOGIC-<strong>Einstellungen</strong></div>
</div>
<div class="paragraph instruction">
<p>FINDOLOGIC aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » FINDOLOGIC</strong>.<br>
→ Wenn du mehrere Webshops oder zusätzliche Mandanten eingerichtet hast, öffne das Menü des jeweiligen Shops.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-findologic-aktivieren">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die Optionen für FINDOLOGIC:</p>
</div>
<table id="tabelle-findologic-aktivieren" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. <strong>FINDOLOGIC</strong> aktivieren</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FINDOLOGIC für die Webshop-Suche verwenden</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option <strong>Ja</strong> wählen, um FINDOLOGIC für die Suchfunktion im Webshop zu verwenden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FINDOLOGIC für die Navigation benutzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit <strong>Ja</strong> die <strong>Selector-Funktion</strong> aktivieren (siehe Kapitel 4). <strong>Nein</strong> deaktiviert die Selector-Funktion.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Identifikationsschlüssel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die von FINDOLOGIC erhaltenen Daten eintragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shop-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die URL des Webshops.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FINDOLOGIC-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die von FINDOLOGIC erhaltenen Daten eintragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelanzahl pro Seite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einstellen, wie viele <strong>Suchergebnisse</strong> auf einer Seite maximal angezeigt werden.<br>
Diese Einstellung überschreibt die Einstellung im Template <strong>ItemViewSearchResultsList</strong> unter <strong>CMS » Webdesign » Layout » ItemView</strong> (Standard dort: 10).</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_design_einstellungen">2.4. Design-Einstellungen</h3>
<div class="paragraph">
<p>Die folgenden Einstellungen nimmst du im Menü <strong>CMS</strong> vor.</p>
</div>
<div class="paragraph instruction">
<p>CSS-Style für die FINDOLOGIC-Suche einbinden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout</strong>.</p>
</li>
<li>
<p>Wähle unter <strong>CSS</strong> den Bereich <strong>CSSContent</strong> aus.</p>
</li>
<li>
<p>Trage den gewünschten Style ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">CSS ändern:</div>
<div class="paragraph">
<p>Wenn du die <strong>Konfiguration</strong> der FINDOLOGIC-Filter ändern willsrt, verwende die Vorlage in deinem Template im <strong>FINDOLOGIC-Backend</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Code im Template PageDesignContent einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout » PageDesign » PageDesignContent</strong>.</p>
</li>
<li>
<p>Füge im Template zwischen die Template-Variablen <strong>$FormOpenSearch</strong> und <strong>$FormCloseSearch</strong> folgende Codezeile ein:</p>
</li>
</ol>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;input id="customer_class" name="customer_class" type="hidden" value="$CustomerClass" /&gt;;</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_autovervollständigung_funktion_von_findologic_einbinden">2.5. Autovervollständigung-Funktion von FINDOLOGIC einbinden</h3>
<div class="paragraph">
<p>Mit der intuitiven Autovervollständigungsfunktion von FINDOLOGIC wird die Suche in einem plentymarkets-Shopsystem noch einfacher und komfortabler. Bereits bei der Eingabe der ersten Buchstaben einer Suchanfrage werden dir zur Unterstützung und Orientierung sofort sinnvolle Ergänzungsvorschläge geliefert.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
.
</td>
</tr>
</tbody></table>
</div>
<div class="exampleblock">
<div class="content">
<div class="paragraph">
<p>Diese Funktion steht FINDOLOGIC-Kunden ab dem Paket Advanced-10 zur Verfügung.</p>
</div>
</div>
</div>
<div class="paragraph instruction">
<p>FINDOLOGIC-Autovervollständigung (Autocomplete) einbinden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Füge im Template <strong>PageDesignContentMainFrame</strong> zwischen die Template-Variablen <strong>$FormOpenSearch</strong> und <strong>$FormCloseSearch</strong> folgende Codezeilen ein:</p>
</li>
</ol>
</div>
<div class="listingblock">
<div class="content">
<pre>&lt;script type="text/javascript" src="/tpl/global/jquery/jquery.autocomplete.js"&gt;
&lt;/script&gt;
&lt;input id="customer_class" name="customer_class" type="hidden" value="$CustomerClass" /&gt;
&lt;input id="multishop_id" name="multishop_id" type="hidden" value="$WebstoreID" /&gt;
&lt;script type="text/javascript" src="/tpl/global/jquery/autocomplete.js"&gt;&lt;/script&gt;</pre>
</div>
</div>
<div class="paragraph">
<p>→ Das Input-Feld (Suchfeld) muss die ID <strong>flAutocompleteInputText</strong> haben.
. <strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</div>
<div class="paragraph">
<p>Beispiel-CSS für FINDOLOGIC:</p>
</div>
<div class="paragraph">
<p><a href="https://secure.findologic.com/integration/download.php?module=shops/plenty" target="_blank" rel="noopener">autocomplete.css</a></p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_design_des_suchergebnisses">3. Design des Suchergebnisses</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Es stehen dir für das Design des Suchergebnisse die folgenden Optionen zur Wahl.</p>
</div>
<div class="sect2">
<h3 id="_option_findologic">3.1. Option "FINDOLOGIC"</h3>
<div class="paragraph">
<p>Bei dieser Einstellung wird das Design des Suchergebnisses im Template-Manager von FINDOLOGIC eingestellt. Das Template heißt <strong>plenty.tpl</strong>.</p>
</div>
<div class="paragraph">
<p>Beim FINDOLOGIC-Design fehlen bestimmte Eigenschaften, die demgegenüber vom plentymarkets-Design bereitgestellt werden, z. B. <strong>Verfügbarkeit</strong> (s. Kapitel 2.3).</p>
</div>
</div>
<div class="sect2">
<h3 id="_option_plenty">3.2. Option "Plenty"</h3>
<div class="paragraph">
<p>Mit der Einstellung <strong>Plenty</strong> wird das Suchergebnis vom plentymarkets-System generiert.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Empfehlung</div>
<div class="paragraph">
<p>Stelle das Design des Suchergebnisses auf <strong>Plenty</strong>, anstatt auf FINDOLOGIC. Anderenfalls werden in der Suche lediglich die Artikel-IDs angezeigt, anstatt der korrekten Artikel-Darstellung.<br>
Besonders wichtig ist auch, dass du am Ende den <strong>Slash "/"</strong> nicht vergisst, da die Suche sonst nicht korrekt in deinen Shop eingebunden wird.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die Einstellungen nimmst du im Menü <strong>CMS » Webdesign » Layout » ItemView » ItemViewSearchResultsList</strong> vor (<a href="#bild-code-suchergebnis">Bild 2</a>).</p>
</div>
<div id="bild-code-suchergebnis" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-Std-ExtDienste-findologic-02-SI.png" alt="DE Einstell Mandant Std ExtDienste findologic 02 SI">
</div>
<div class="title">Bild 2. Code für Suchergebnis</div>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>Wenn das plentymarkets-Design verwendet wird, kannst du wie gewohnt im Template <strong>ItemViewSearchResultsList</strong> Template-Variablen einbinden, z. B. <strong>$AvailabilityString</strong> für die Artikelverfügbarkeit.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Artikel pro Seite</div>
<div class="paragraph">
<p>Beachte, dass die Einstellung der Option <strong>ItemViewSearchResultsList_ItemsPerPage</strong> dabei nicht berücksichtigt wird. Diese Einstellung muss direkt bei FINDOLOGIC vorgenommen werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_findologic_navigation">4. FINDOLOGIC-Navigation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die <strong>FINDOLOGIC-Navigation</strong> ermöglicht eine genauere und gezieltere Suche eines gewünschten Artikels. Die Integration der Navigation erfordert nur wenige Schritte, die nachfolgend beschrieben werden.</p>
</div>
<div class="sect2">
<h3 id="_navigation_integrieren">4.1. Navigation integrieren</h3>
<div class="paragraph">
<p>Die Navigation wird im Template <strong>PageDesignContent</strong> über die Template-Funktion <strong>&#123;&#37; FindologicFilterContainer() &#37;&#125;</strong> eingebunden.</p>
</div>
<div class="paragraph">
<p>Die Funktion des Selectors steuert das Template <strong>ItemViewThirdPartySearchResultsList</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Navigation einbinden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout » ItemView » ItemViewThirdPartySearchResultsList</strong>.</p>
</li>
<li>
<p>Füge die <strong>Template-Funktion &#123;&#37; FindologicFilterContainer() &#37;&#125;</strong> an einer geeigneten Stelle in das Template ein, z.B. in der Seitenleiste oder unter der Kategorienavigation.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Füge anschließend für die Darstellung der Ergebnisse der Navigation folgenden Code in das Template <strong>ItemViewThirdPartySearchResultsList</strong> ein.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Code-Beispiel, das du für das Template verwenden kannst:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty"> &#123;&#37; FindologicHeader() &#37;&#125;
			$FormOpenOrder
&lt;table style="width: 100%; border: none;&#123;&#37; if $RowCountModulo2 &#37;&#125; background-color:#fff;&#123;&#37; else &#37;&#125; background-color:#FDE4C8&#123;&#37; endif &#37;&#125;"&gt;
&lt;tbody&gt;
  &lt;tr&gt;
    &lt;td rowspan="2" style="width: 120px; text-align: center; vertical-align: middle;"&gt;&lt;a href="&#123;&#37; Link_Item($ID) &#37;&#125;"&gt;&lt;img alt="" class="pmManScreenshot" src="$PreviewImageURL[1]" /&gt; &lt;/a&gt;&lt;/td&gt;
    &lt;td style="width: 70%; text-align: left; vertical-align: top;"&gt;&lt;a href="&#123;&#37; Link_Item($ID) &#37;&#125;" style="color:#000000; text-decoration:none;"&gt;&lt;strong&gt;$Name[1]&lt;/strong&gt; &lt;/a&gt;
      &lt;p&gt;$DescriptionShort&lt;/p&gt;&lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
    &lt;td style="text-align: left; vertical-align: top;"&gt;&lt;table style="width: 100%; border: none;"&gt;
        &lt;tbody&gt;
          &lt;tr&gt;
            &lt;td colspan="3" style="text-align: right;"&gt;$AttributeSelect&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;td style="text-align: left;"&gt;&lt;span class="Price"&gt;$Price&lt;/span&gt; &lt;span class="smallText"&gt; $VATHint $VAT% &lt;a class="aSmall" href="&#123;&#37; Link_ShippingCosts() &#37;&#125;"&gt; zzgl. $DefaultShippingCost Versand &lt;/a&gt; &#123;&#37; if $Weight &amp;gt; 0 &#37;&#125; Versandgewicht: $Weight g &#123;&#37; endif &#37;&#125; &lt;/span&gt;&lt;/td&gt;
            &lt;td style="text-align: center;"&gt;Menge:
              &lt;input maxlength="3" name="ArticleQuantity" size="3" type="text" value="1" /&gt;&lt;/td&gt;
            &lt;td style="text-align: center;"&gt;&lt;input alt="Kaufen" class="formblanc" src="" title="Kaufen" type="image" /&gt;&lt;/td&gt;
          &lt;/tr&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
      		$FormCloseOrder</code></pre>
</div>
</div>
<div class="paragraph">
<p><strong>Template bei FINDOLOGIC</strong></p>
</div>
<div class="paragraph">
<p>Das Template der Navigation im Template-Manager von FINDOLOGIC enthält u.a. drei Funktionen für plentymarkets. Der Inhalt wird dann in den jeweiligen plentymarkets-Template-Funktionen (siehe nachfolgende Auflistung) eingefügt.</p>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die Template-Funktionen in plentymarkets für FINDOLOGIC CODES:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. <strong>Template-Funktionen</strong> für FINDOLOGIC CODES</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FINDOLOGIC CODE für header</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht der plentymarkets-Template-Funktion <strong>&#123;&#37; FindologicHeader() &#37;&#125;</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FINDOLOGIC CODE für navigation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht der plentymarkets-Template-Funktion <strong>&#123;&#37; FindologicFilterContainer() &#37;&#125;</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FINDOLOGIC CODE für pageination</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entspricht der plentymarkets-Template-Funktion <strong>&#123;&#37; FindologicPagination() &#37;&#125;</strong></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_navigation_aktivieren">4.2. Navigation aktivieren</h3>
<div class="paragraph">
<p>Du aktivierst die Navigation im Menü <strong>FINDOLOGIC</strong> (siehe <a href="#bild-findologic-einstellungen">Bild 1</a> und <a href="#tabelle-findologic-aktivieren">Tabelle 1</a>).</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">FINDOLOGIC Selector aktivieren</div>
<div class="paragraph">
<p>Wähle dort unter <strong>FINDOLOGIC für die Navigation benutzen</strong> die Einstellung <strong>JA</strong>.</p>
</div>
<div class="paragraph">
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>