<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_beim_händlerbund_registrieren"><span>1.</span><span> Beim Händlerbund registrieren</span></a></li>
<li><a href="#_benutzer_für_händlerbund_einrichten"><span>2.</span><span> Benutzer für Händlerbund einrichten</span></a></li>
<li><a href="#_bewertungstool_einrichten"><span>3.</span><span> Bewertungstool einrichten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Händlerbund</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Der Händlerbund e.V. mit Sitz in Leipzig ist der größte Onlinehandelsverband Europas und einer der führenden Anbieter von <a href="/omni-channel/online-shop/webshop-einrichten#rechtliche-angaben">Rechtstexten</a> im Internet. Mit der AGB-Schnittstelle des Händlerbundes kannst du anwaltlich erstellte Rechtstexte auch per Mausklick in dein plentymarkets System einbinden. Eine Aktualisierung der Rechtstexte, die z.B. durch eine Gesetzesänderung erforderlich wird, kann somit ohne großen Aufwand vorgenommen werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_beim_händlerbund_registrieren">1. Beim Händlerbund registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit du die Leistungen des Händlerbunds für dein plentymarkets-System nutzen kannst, musst du dich zuerst <a href="http://www.haendlerbund.de/mitgliedschaft/details" target="_blank" rel="noopener">registrieren</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_benutzer_für_händlerbund_einrichten">2. Benutzer für Händlerbund einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dein plentymarkets-System wird via REST-API mit dem Händlerbund verbunden. Für den Zugriff wird zunächst ein eigenes <a href="/basics/admin-aufgaben/benutzer-verwalten#10">Benutzerkonto</a> mit Zugriffsrechten auf die API in ihrem System eingerichtet.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerkonto einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Fenster <strong>Neuen Benutzer anlegen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib den <strong>Benutzernamen</strong>, den <strong>realen Namen</strong> und das <strong>Passwort</strong> ein.</p>
</li>
<li>
<p>Wiederhole das Passwort.</p>
</li>
<li>
<p>Gib die E-Mail-Adresse des Benutzers ein, damit der Benutzer Benachrichtigungen des Systems empfängt.</p>
</li>
<li>
<p>Wähle die Benutzerklasse <strong>Variabel</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Anschließend aktivierst du im Benutzerprofil im Tab <strong>Berechtigung » Tab: REST-API</strong> die Checkboxen für <strong>frontend</strong>, <strong>legalinformation</strong> und <strong>save</strong>. Diese Calls werden für den Händlerbund benötigt. <strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Änderungen.</p>
</div>
<div class="paragraph instruction">
<p>Händlerbund-Rechtstexte importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Logge dich auf der Händlerbund-Website in deinen Mitglieds-Account ein.</p>
</li>
<li>
<p>Wähle Punkt 2 <strong>Rechtstexte herunterladen</strong> für den entsprechenden Shop aus.</p>
</li>
<li>
<p>Klicke auf die Schaltfläche <strong>Schnittstelle - Rechtstexte per Schnittstelle in den Shop integrieren</strong>.<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Gib die Daten des neu angelegten Benutzers ein und klicke auf <strong>Weiter</strong>.<br>
→ Die Daten werden von der Schnittstelle gespeichert.</p>
</li>
<li>
<p>Wähle den entsprechenden Mandanten und klicke auf <strong>Legitimieren</strong>.</p>
</li>
<li>
<p>Wähle die Option <strong>Klassenformatierungen</strong> bei den Feldern, die mit Rechtstexten des Händlerbunds befüllt werden sollen.</p>
</li>
<li>
<p>Klicke auf <strong>Rechtstexte importieren</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die entsprechenden Texte werden nun in deinem Webshop eingefügt.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen hierzu findest du im <a href="https://wiki.haendlerbund.de/index.php/PlentyMarkets" target="_blank" rel="noopener">Händlerbund-Wiki</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_bewertungstool_einrichten">3. Bewertungstool einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Händlerbund bietet für Mitglieder das Bewertungstool <strong>Käufersiegel Kundenbewertung</strong> an. Voraussetzung für die Nutzung ist die Mitgliedschaft beim Händlerbund. Für die <a href="https://www.kaeufersiegel.de/bewertung/register.php" target="_blank" rel="noopener">Registrierung</a> der Kundenbewertung benötigst du eine Händlerbund-Mitgliedsnummer. Für die Konfiguration im Käufersiegel-Backend benötigst du die Zugangsdaten des zuvor erstellten Benutzerkontos, also den <strong>Benutzernamen</strong> und das <strong>Passwort</strong>, sowie die <strong>URL</strong> des plentymarkets Systems, mit dem du das Bewertungstool nutzen möchtest.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen über die Einstellungen im Backend von Händlerbund und die Hinterlegung der Zugangsdaten findest du in der <a href="http://wiki.kaeufersiegel.de/index.php/Plentymarkets" target="_blank" rel="noopener">Anleitung Käufersiegel</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Server-URL</div>
<div class="paragraph">
<p>Die <strong>Server-URL</strong>, die im Käufersiegel-Backend hinterlegt wird, ist die <strong>URL des plentymarkets Systems</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>