<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_benutzerkonto_einrichten"><span>1.</span><span> Benutzerkonto einrichten</span></a></li>
<li><a href="#_rechtstexte_automatisch_übertragen"><span>2.</span><span> Rechtstexte automatisch übertragen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>IT-Recht Kanzlei</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Die <a href="http://www.it-recht-kanzlei.de/schutzpakete.html" target="_blank" rel="noopener">IT-Recht Kanzlei</a>
bietet dir für die <a href="/omni-channel/online-shop/webshop-einrichten#rechtliche-angaben">Rechtstexte</a>
deines Webshops einen Update-Service, der deine rechtlichen Angaben immer aktuell hält.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_benutzerkonto_einrichten">1. Benutzerkonto einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dein plentymarkets System wird über die SOAP-Schnittstelle mit der Dienstleistung der IT-Recht Kanzlei verbunden, d.h., du benötigst das SOAP-Modul. Für den Zugriff benötigt dieser Dienst einen Benutzer mit Zugriffsrechten auf die API deines Systems.</p>
</div>
<div class="paragraph instruction">
<p>Neuen Benutzer anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neu</strong>.<br>
→ Das Bearbeitungsfenster <strong>Neuen Benutzer anlegen</strong> wird angezeigt.</p>
</li>
<li>
<p>Trage den <strong>Benutzernamen</strong>, den <strong>realen Namen</strong> und das <strong>Passwort</strong> ein.</p>
</li>
<li>
<p>Wiederhole das Passwort.</p>
</li>
<li>
<p>Trage die E-Mail-Adresse des Benutzers ein, damit der Benutzer Benachrichtigungen des Systems empfängt.</p>
</li>
<li>
<p>Wähle die Benutzerklasse <strong>API</strong> oder <strong>Variabel</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Folgende Calls müssen für den Benutzer freigegeben werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>GetServerTime</p>
</li>
<li>
<p>GetPlentyMarketsVersion</p>
</li>
<li>
<p>GetMultiShops</p>
</li>
<li>
<p>GetTermsAndCancellation</p>
</li>
<li>
<p>SetTermsAndCancellation</p>
</li>
<li>
<p>GetLegalInformation</p>
</li>
<li>
<p>SetLegalInformation</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beachte dazu die Handbuchseite <a href="/omni-channel/online-shop/webshop-einrichten/extras/it-recht-kanzlei#4">Einführung SOAP-API</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_rechtstexte_automatisch_übertragen">2. Rechtstexte automatisch übertragen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Rechtstexte automatisch von der IT-Recht-Kanzlei übertragen werden, musst du in deinem Konto bei der IT-Recht Kanzlei eine Datenschnittstelle einrichten. Folgende Informationen benötigt die IT-Recht Kanzlei von dir für die Anbindung an dein System:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Login-Daten, Benutzername und Passwort für den Benutzer</p>
</li>
<li>
<p>URL der SOAP API WSDL<br>
Die URL findest du im Menü <strong>Einrichtung » Einstellungen » API » Daten</strong> unter <a href="/basics/datenaustausch/api-daten">SOAP WSDL</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</main>