<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_janolaw"><span>1.</span><span> Janolaw</span></a></li>
<li><a href="#_bei_janolaw_registrieren"><span>2.</span><span> Bei Janolaw registrieren</span></a></li>
<li><a href="#_janolaw_in_plentymarkets_einrichten"><span>3.</span><span> Janolaw in plentymarkets einrichten</span></a></li>
<li><a href="#_template_variablen_einbinden"><span>4.</span><span> Template-Variablen einbinden</span></a>
<ul class="sectlevel2">
<li><a href="#_webshop"><span>4.1.</span><span> Webshop</span></a></li>
<li><a href="#_e_mail_vorlagen"><span>4.2.</span><span> E-Mail-Vorlagen</span></a></li>
</ul>
</li>
<li><a href="#_menü_rechtliche_angaben"><span>5.</span><span> Menü: Rechtliche Angaben</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Janolaw</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Einrichtung » Mandant » Mandant wählen » Dienste » Janolaw</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_janolaw">1. Janolaw</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://www.janolaw.de/agb-service/#menu" target="_blank" rel="noopener">Janolaw</a> ist ein Rechtsportal, das dich mit rechtskonformen Dokumenten für deinen Webshop unterstützen kann. Neben anwaltlichen <strong>AGB</strong>-Services und einer Unterstützung für deine <strong>Datenschutzerklärung</strong> erhältst du auch alle weiteren wichtigen Dokumente für deinen Shop, wie eine <strong>Widerrufsbelehrung</strong> und das <strong>Impressum</strong>. Mit und ohne Update-Service. Es stehen verschiedene Leistungspakete bei Janolaw zur Verfügung, die du über die Webseite von Janolaw erwerben kannst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_bei_janolaw_registrieren">2. Bei Janolaw registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Registriere dich bei <strong>Janolaw</strong> und erwirb das gewünschte Leistungspaket. Du erhältst die <strong>Registrierungsdaten</strong>, die du für die Einrichtung der Schnittstelle in plentymarkets benötigst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_janolaw_in_plentymarkets_einrichten">3. Janolaw in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie nachfolgend beschrieben vor, um <strong>Jalonaw</strong> in deinem plentymarkets-System einzurichten.</p>
</div>
<div class="paragraph instruction">
<p>Janolaw einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Janolaw</strong>.</p>
</li>
<li>
<p>Nimm die <strong>Einstellungen</strong> gemäß <a href="#tabelle-janolaw-einstellungen">Tabelle 1</a> vor.</p>
</li>
<li>
<p>Klicke auf <strong>Speichern</strong>, um deine Einstellungen zu sichern.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-Std-ExtDienste-janolaw-01-SI.png" alt="DE Einstell Mandant Std ExtDienste janolaw 01 SI">
</div>
<div class="title">Bild 1. <strong>Janolaw</strong>; Einstellungen</div>
</div>
<table id="tabelle-janolaw-einstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. <strong>Janolaw</strong>; Einstellungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiviere</strong> die Schnittstelle, indem du in das kleine <strong>Quadrat</strong> klickst (Häkchen setzen). Wenn die Schnittstelle aktiviert ist, werden die Dokumente täglich <strong>aktualisiert</strong>, dadurch sind Änderungen sehr zeitnah verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzer-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trage die <strong>Benutzer-ID</strong> ein, die du von Janolaw erhalten hast.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shop-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trage die <strong>Shop-ID</strong> ein, die du von Janolaw erhalten hast.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_template_variablen_einbinden">4. Template-Variablen einbinden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Daten von Janolaw werden über <strong>Template-Variablen</strong> bereitgestellt.</p>
</div>
<div class="sect2">
<h3 id="_webshop">4.1. Webshop</h3>
<div class="paragraph">
<p>Füge die Template-Variablen in die entsprechenden <strong>Kategorien</strong> oder <strong>Templates</strong> deines Webshops ein.</p>
</div>
<div class="paragraph">
<p>Für die Einbindung in deinen <strong>Webshop</strong> verwendest du die folgenden <strong>Template-Variablen</strong>:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. <strong>Janolaw</strong>; Template-Variablen für <strong>Webshop</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Template-Variable</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$GeneralTermsAndConditions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AGB</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CancellationRights</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Widerrufsbelehrung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$PrivacyPolicy</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datenschutzerklärung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$LegalDisclosure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Impressum</strong></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_e_mail_vorlagen">4.2. E-Mail-Vorlagen</h3>
<div class="paragraph">
<p>Füge die Template-Variablen in die entsprechenden Bereiche der <strong>E-Mail-Vorlagen</strong> ein. Die Template-Variablen mit der Erweiterung <strong>Text</strong> fügst du im Tab <strong>Text</strong> ein, mit der Erweiterung <strong>HTML</strong> im Tab <strong>HTML</strong>.</p>
</div>
<div class="paragraph">
<p>Für die Einbindung in <strong>E-Mail-Vorlagen</strong> verwendest du die folgenden <strong>Template-Variablen</strong>:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. <strong>Janolaw</strong>; Template-Variablen für <strong>E-Mail-Vorlagen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Template-Variable</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$GeneralTermsConditionsText</strong>, <strong>$GeneralTermsConditionsHTML</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AGB</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CancellationRightsText</strong>, <strong>$CancellationRightsHTML</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Widerrufsbelehrung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$PrivacyPolicyText</strong>, <strong>$PrivacyPolicyHTML</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datenschutzerklärung</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$LegalDisclosureText</strong>, <strong>$LegalDisclosureHTML</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Impressum</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="_menü_rechtliche_angaben">5. Menü: Rechtliche Angaben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Daten bzw. Texte von Janolaw findest du im Untermenü <a href="/omni-channel/online-shop/webshop-einrichten#rechtliche-angaben">Einrichtung » Mandant » Mandant wählen » Webshop » Rechtliches</a>, wenn du diesen Service aktiviert hast. Prüfe die korrekte Übertragung und Darstellung der Texte in diesem Menü.</p>
</div>
</div>
</div>
</main>