<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_kunden_feedback_konfigurieren"><span>1.</span><span> Kunden-Feedback konfigurieren</span></a></li>
<li><a href="#_beispielkonfiguration_im_cms"><span>2.</span><span> Beispielkonfiguration im CMS</span></a></li>
<li><a href="#_erinnerung_zur_bewertung_an_kunden_senden"><span>3.</span><span> Erinnerung zur Bewertung an Kunden senden</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kunden-Feedback</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Mit dem Kunden-Feedback-Modul des Menüs <strong>Einrichtung » Mandant » Global » Feedback</strong> schaffst du für deine Kund*innen die Möglichkeit, Artikel, Kategorien oder Blogs in deinem Webshop zu bewerten und zu kommentieren. Darüber hinaus kann im Tab <strong>Feedback</strong> eine Antwort-Funktion freigeschaltet werden, mit der Kunden auch die Bewertungen anderer Kunden bewerten und kommentieren können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_kunden_feedback_konfigurieren">1. Kunden-Feedback konfigurieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Mandant » Global » Feedback</strong> legst du fest, in welchen Bereichen deines Webshops Kunden Feedback hinterlassen können. Das Menü ist dafür in 4 Tabs eingeteilt, die den Bereichen entsprechen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikel</strong>: Bewertung von Artikeln</p>
</li>
<li>
<p><strong>Kategorie</strong>: Bewertung von Kategorien des Typs <strong>Artikel</strong> und <strong>Content</strong></p>
</li>
<li>
<p><strong>Blog</strong>: Bewertung von Blog-Beiträgen</p>
</li>
<li>
<p><strong>Feedback</strong>: Bewertung anderer Kunden-Feedbacks</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Alle Tabs enthalten die gleichen Einstellungen, daher ist die unten beschriebene Konfiguration für alle Tabs identisch.</p>
</div>
<div class="paragraph instruction">
<p>Kunden-Feedback aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Feedback</strong>.</p>
</li>
<li>
<p>Öffne das Tab des Bereichs, für den du das Kunden-Feedback konfigurieren möchtest.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-kunden-feedback-aktivieren">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-kunden-feedback-aktivieren" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Kunden-Feedback aktivieren</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bewertung aktiv?</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob und für wen die Bewertungsfunktion zur Verfügung steht.<br>
<strong>Nein</strong> = Bewertung für diesen Bereich deaktivieren.<br>
<strong>Immer</strong> = Bewertung für diesen Bereich aktivieren.<br>
<strong>Nur bei Kunden</strong> = Bewertung für diesen Bereich nur für angemeldete Kunden aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximale Bewertungspunkte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Wert wählen, der in der Bewertung maximal vergeben werden kann.<br>
<strong><em>Wichtig</em></strong>: Die Einstellung <strong>1</strong> eignet sich hauptsächlich für Abstimmungen, die durch Vergabe eines Sterns positiv bewertet werden, da keine Bewertungsskala angezeigt wird. Dies sollte auch entsprechend im CMS angepasst werden, da sonst optisch nur niedrige Bewertungen von einem Stern entstehen.<br>
<strong><em>Achtung</em></strong>: Bereits abgegebene Bewertungen können nicht in ein anderes Punktesystem umgerechnet werden. Eine nachträgliche Änderung dieser Einstellung führt dazu, dass die Durchschnittspunktzahl nicht mehr zu den möglichen Bewertungspunkten passt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kommentare aktiv?</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob und für wen die Kommentarfunktion zur Verfügung steht.<br>
<strong>Nein</strong> = Kommentare für diesen Bereich deaktivieren.<br>
<strong>Immer</strong> = Kommentare für diesen Bereich aktivieren.<br>
<strong>Nur bei Kunden</strong> = Kommentare für diesen Bereich nur für angemeldete Kunden aktivieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sichtbarkeit neuer Kommentare</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob neue Kommentare direkt im Webshop sichtbar sind oder zunächst unsichtbar in das System kommen. Die Sichtbarkeit wird im Menü <a href="/omni-channel/online-shop/cms#kunden-feedback">CMS » Kunden-Feedback</a> bearbeitet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundennamen anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, wie der Name von eingeloggten Kunden angezeigt wird, die Feedback hinterlassen.<br>
<strong>Zeige Vornamen</strong> = Nur der Vorname des Kunden wird angezeigt.<br>
<strong>Zeige Vor- und Nachnamen</strong> = Vor- und Nachname des Kunden werden angezeigt.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_beispielkonfiguration_im_cms">2. Beispielkonfiguration im CMS</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eine Beispielkonfiguration (wie <a href="#bild-ansicht-webshop">Bild 1</a>) zur Einrichtung des Kunden-Feedbacks im CMS findest du auf der Handbuchseite
<a href="/omni-channel/online-shop/cms#kunden-feedback">Kunden-Feedback</a> im Bereich CMS.</p>
</div>
<div id="bild-ansicht-webshop" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Mandant-Global-Kunden-Feedback-01.png" alt="DE Mandant Global Kunden Feedback 01">
</div>
<div class="title">Bild 1. Ansicht im Webshop</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_erinnerung_zur_bewertung_an_kunden_senden">3. Erinnerung zur Bewertung an Kunden senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Es ist sinnvoll, Kunden zum Beispiel per E-Mail auf die Möglichkeit, eine Bewertung abgeben zu können, aufmerksam zu machen. Diese E-Mail kann automatisch per <a href="/automatisierung/aktionsmanager">Aktionsmanager</a> versendet werden. Lege dazu vorher eine <a href="/crm/e-mails-versenden#1200">E-Mail-Vorlage</a> an und verknüpfe diese Vorlage mit der Aktion.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">AGB der Marktplätze beachten</div>
<div class="paragraph">
<p>Beachte die AGB der Marktplätze, bevor du Aufforderungen zu einer Bewertung deines Webshops einrichtest. Manche Marktplätze erlauben diese Aufforderung nur unter gewissen Voraussetzungen oder gar nicht. Schließe den Marktplatz dann im <strong>Aktionsmanager</strong> über die Option <strong>Herkunft</strong> von der automatischen Erinnerungsfunktion aus.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp: E-Mail-Vorlage manuell versenden</div>
<div class="paragraph">
<p>Du kannst alternativ in der Auftragsbearbeitung die E-Mail-Vorlage <strong>Versandbestätigung zur Bestellung</strong> manuell verschicken, nachdem der Warenausgang gebucht wurde. In dieser E-Mail erhalten Kunden einen Link zur Bestellung. Auf dieser Seite wird Kunden angeboten, eine Bewertung im Webshop abzugeben. Deine Bewertung können Kunden über diesen Link jederzeit ändern.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>