<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_allgemeines"><span>1.</span><span> Allgemeines</span></a></li>
<li><a href="#_bei_lionbridge_registrieren"><span>2.</span><span> Bei Lionbridge registrieren</span></a></li>
<li><a href="#_lionbridge_in_plentymarkets_aktivieren"><span>3.</span><span> Lionbridge in plentymarkets aktivieren</span></a></li>
<li><a href="#_artikel_übersetzen"><span>4.</span><span> Artikel übersetzen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Lionbridge</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Einrichtung » Mandant » Global » Dienste » Lionbridge</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines">1. Allgemeines</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://de-de.lionbridge.com/" target="_blank" rel="noopener">Lionbridge</a> unterstützt weltweit mehr als 800 führende Marken dabei, internationale Marktanteile auszubauen, die Produkteinführung zu beschleunigen und Kunden auf den lokalen Märkten wirkungsvoll anzusprechen. (Quelle: Lionbridge)</p>
</div>
<div class="paragraph">
<p>Lionbridge ermöglicht es dir, deine Artikel übersetzen zu lassen, um so noch mehr potenzielle Käufer auf dem internationalen Markt anzusprechen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_bei_lionbridge_registrieren">2. Bei Lionbridge registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um den Service von Lionbridge nutzen zu können, ist eine Registrierung erforderlich. Du erhältst dabei die Zugangsdaten, die du für die Konfiguration in plentymarkets benötigst. Klicke auf den folgenden Link, um sich bei Lionbridge zu registrieren: <a href="https://ebay-de.liondemand.com/accounts/register/?utm_source=plentymarkets" target="_blank" rel="noopener">https://ebay-de.liondemand.com/accounts/register/?utm_source=plentymarkets</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">URL</div>
<div class="paragraph">
<p>Die URL <strong><a href="https://ebay-de.liondemand.com/accounts/register/?utm_source=plentymarkets" class="bare">https://ebay-de.liondemand.com/accounts/register/?utm_source=plentymarkets</a></strong> für die Registrierung enthält die Endung <strong>utm_source=plentymarkets</strong>. Damit ordnet Lionbridge dich plentymarkets zu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Nachdem du ein Nutzerkonto bei Lionbridge erstellt hast, erhältst du die Zugangsdaten für die Aktivierung in plentymarkets. Die <strong>Zugangsschlüssel-ID</strong> und den <strong>geheimen Zugangsschlüssel</strong> findest du auf deiner Lionbridge-Profilseite ganz unten unter <strong>API Information</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_lionbridge_in_plentymarkets_aktivieren">3. Lionbridge in plentymarkets aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hinterlege hier die Zugangsdaten, die du bei der Registrierung bei Lionbridge erhalten hast. Diese bestehen aus einer <strong>Zugangsschüssel-ID</strong> und einem <strong>geheimen Zugangsschlüssel</strong>.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einst-Mandant-Globale-Einst-Externe-Dienste-Lionbridge-01.png" alt="DE Einst Mandant Globale Einst Externe Dienste Lionbridge 01">
</div>
<div class="title">Bild 1. Zugangsdaten für die Aktivierung in plentymarkets</div>
</div>
<div class="paragraph instruction">
<p>Lionbridge in plentymarkets aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » Lionbridge</strong>.</p>
</li>
<li>
<p>Trage die <strong>Zugangsschlüssel-ID</strong> ein, die du von Lionbridge erhalten hast.</p>
</li>
<li>
<p>Trage den <strong>geheimen Zugangsschlüssel</strong> ein, den du von Lionbridge erhalten hast.</p>
</li>
<li>
<p>Setze ein <strong>Häkchen</strong> bei <strong>Aktiv</strong>, um das Modul zu aktivieren.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Modul-Sichtbarkeit</div>
<div class="paragraph">
<p>Wenn du das Modul nicht aktivierst (kein Häkchen setzen), wird Lionbridge zur Bearbeitung in der Gruppenfunktion nicht angezeigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Nachdem du gespeichert hast, wird dein Lionbridge-Service automatisch abgefragt und im Hintergrund gespeichert. Dieser Service wird dir von Lionbridge automatisch zugewiesen und später in der Gruppenfunktion bei der Artikelbearbeitung in der Dropdown-Liste <strong>Service</strong> angezeigt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_artikel_übersetzen">4. Artikel übersetzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald Lionbridge in plentymarkets aktiviert ist, kannst du Artikel übersetzen lassen. Im Menü <strong>Artikel » Artikel bearbeiten</strong> wählst du die zu übersetzenden Artikel aus und nehmen weitere erforderliche <strong>Einstellungen</strong> mit der Gruppenfunktion vor.</p>
</div>
</div>
</div>
</main>