<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_live_shopping_angebot_erstellen"><span>1.</span><span> Live-Shopping-Angebot erstellen</span></a></li>
<li><a href="#_live_shopping_angebot_konfigurieren"><span>2.</span><span> Live-Shopping-Angebot konfigurieren</span></a></li>
<li><a href="#_live_shopping_in_deinen_webshop_einbinden"><span>3.</span><span> Live-Shopping in deinen Webshop einbinden</span></a>
<ul class="sectlevel2">
<li><a href="#_itemviewsingleitem_ansicht_anpassen"><span>3.1.</span><span> ItemViewSingleItem-Ansicht anpassen</span></a></li>
<li><a href="#_aktionsansicht_mit_template_variablen_anpassen"><span>3.2.</span><span> Aktionsansicht mit Template-Variablen anpassen</span></a></li>
</ul>
</li>
<li><a href="#_live_shopping_angebot_veröffentlichen"><span>4.</span><span> Live-Shopping-Angebot veröffentlichen</span></a></li>
<li><a href="#100"><span>5.</span><span> Automatisch über Live-Shopping-Angebote berichten</span></a></li>
<li><a href="#_faq"><span>6.</span><span> FAQ</span></a>
<ul class="sectlevel2">
<li><a href="#_aktives_live_shopping"><span>6.1.</span><span> Aktives Live-Shopping</span></a></li>
<li><a href="#_link_zum_live_shopping_angebot_einfügen"><span>6.2.</span><span> Link zum Live-Shopping-Angebot einfügen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Live-Shopping</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Beim Live-Shopping wird täglich ein Artikel aus dem Sortiment für einen bestimmten Zeitraum (z.B. von 9:00 bis 18:00 Uhr) zu einem vergünstigten Preis angeboten. Live-Shopping-Angebote konfigurierst du im Menü <strong>Einrichtung » Mandant » Global » Live-Shopping</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_live_shopping_angebot_erstellen">1. Live-Shopping-Angebot erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um ein neues Live-Shopping-Angebot zu erstellen.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Verkaufspreis für Live-Shopping-Angebote</div>
<div class="paragraph">
<p>Lege einen Verkaufspreis des Preistyps <strong>Aktionspreis</strong> an und hinterlege diesen Verkaufspreis am Artikel. Der Verkaufspreis für deine Live-Shopping-Angebote wird automatisch basierend auf Verkaufspreis-Einstellungen gewählt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Live-Shopping-Angebot erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Live-Shopping</strong>.</p>
</li>
<li>
<p>Klicke auf ein Live-Shopping-Tab.</p>
</li>
<li>
<p>Klicke auf das <strong>grüne Plus</strong>.<br>
→ Das Fenster <strong>Neues Live-Shopping</strong> wird angezeigt.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dabei <a href="#tabelle-einstellungen-live-shopping">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-live-shopping" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Live-Shopping; Einstellungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Start</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum und Uhrzeit für Beginn des Live-Shopping-Angebots wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ende</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum und Uhrzeit für Ende des Live-Shopping-Angebots wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Artikels eingeben.<br>
<strong><em>Hinweis:</em></strong> Derselbe Artikel kann nicht zur gleichen Zeit in mehreren Live-Shopping-Angeboten angeboten werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Menge verkauft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eingabe ändert die Prozentanzeige der bereits verkauften Menge im Live-Shopping.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Gesamt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Menge eingeben, die maximal zum Angebotspreis verkauft werden soll. Unabhängig von dieser Angabe muss bei Artikeln, die an Warenbestand gebunden sind, ausreichend Bestand vorhanden sein.<br>
Wenn ein Kunde im Warenkorb versucht, eine höhere Menge zu erwerben, wird die Menge automatisch verringert. Sobald diese Menge verkauft ist, gilt wieder der normale Preis.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verknüpfung aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieselbe Zeitspanne kann für mehrere Live-Shopping-Angebote konfiguriert werden. Option aktivieren, um dieses Angebot anzuzeigen, sobald ein Live-Shopping-Angebot, das in der Live-Shopping-Ansicht weiter oben steht und zum gleichen Zeitpunkt verkauft wird, ausverkauft ist.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Preis bei Überschreiten der Restmenge</div>
<div class="paragraph">
<p>Wenn ein Käufer mehr Artikel in den Warenkorb legt, als für das Live-Shopping-Angebot verfügbar sind, wird die gesamte Bestellmenge des Artikels zum regulären Preis berechnet. Beträgt z.B. die Restmenge eines Live-Shopping-Artikels 7 Stück und ein Kunde legt den Artikel 8-mal in den Warenkorb, wird für alle 8 Artikel der normale Verkaufspreis berechnet.</p>
</div>
<div class="paragraph">
<p>Weise deine Kunden darauf hin und stelle sicher, dass bei Live-Shopping-Angeboten jederzeit ersichtlich ist, wie viele Artikel noch zum vergünstigten Preis verfügbar sind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_live_shopping_angebot_konfigurieren">2. Live-Shopping-Angebot konfigurieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um ein neu angelegtes Live-Shopping-Angebot zu konfigurieren.</p>
</div>
<div class="paragraph instruction">
<p>Live-Shopping-Angebot konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Live-Shopping</strong>.</p>
</li>
<li>
<p>Klicke auf ein Live-Shopping-Tab.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Einstellungen</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dabei <a href="#tabelle-einstellungen-live-shopping-angebote">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-live-shopping-angebote" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen für Live-Shopping-Angebote</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Live-Shopping anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ausblenden, wenn kein Angebot aktiv</strong> = Template-Variable <a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#webdesign-itemview-container-itemviewliveshopping">Container_ItemViewLiveShopping()</a> wird nur befüllt, wenn ein Artikel gerade zum günstigen Preis gekauft werden kann.<br>
<strong>Zeige nächstes Angebot, wenn kein Angebot aktiv</strong> = Template-Variable wird immer befüllt. Wenn kein Angebot aktiv ist, wird eine Vorschau des nächsten Angebots angezeigt. Der vergünstigte Preis gilt jedoch erst ab dem eingestellten Angebotsbeginn. Daher für Angebote, die einander automatisch folgen sollen, die gleiche Startzeit festlegen. Siehe auch <a href="#tabelle-einstellungen-live-shopping">Tabelle 1</a> , Option <strong>Verknüpfung aktiv</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_live_shopping_in_deinen_webshop_einbinden">3. Live-Shopping in deinen Webshop einbinden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Binde nun die Live-Shopping-Funktion in deinem Webshop ein. Füge dazu die folgenden Template-Funktion und -Variable in das Design deines Webshops ein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>&#123;&#37; Container_ItemViewLiveShopping() &#37;&#125;</strong></p>
</li>
<li>
<p><strong>&#123;&#37; $LiveShoppingID = 1 &#37;&#125;</strong><br>
→ Die ID bestimmt, welches Live-Shopping-Angebot eingefügt wird. Mit <strong>ID 1</strong> wird z.B. Angebot <strong>Live Shopping 1</strong> eingefügt.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_itemviewsingleitem_ansicht_anpassen">3.1. ItemViewSingleItem-Ansicht anpassen</h3>
<div class="paragraph">
<p>Um in der Artikeldetailansicht nochmals deutlich zu machen, dass es sich bei dem Live-Shopping-Angebot um ein Sonderangebot handelt, stehen die folgenden Template-Variablen zur Verfügung, die in das Template <strong>ItemViewSingleItem</strong> eingefügt werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>$LiveShoppingQuantityRemaining</strong></p>
</li>
<li>
<p><strong>$LiveShoppingPrice</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beispielcode für dein ItemViewSingleItem-Template:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&#123;&#37; if $LiveShoppingQuantityRemaining&gt;0 &#37;&#125; LiveShopping SONDERANGEBOT befristet!! &#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_aktionsansicht_mit_template_variablen_anpassen">3.2. Aktionsansicht mit Template-Variablen anpassen</h3>
<div class="paragraph">
<p>Im Template <strong>CMS » Webdesign » Layout » ItemView » ItemViewLiveShopping</strong> gestaltest du die Live-Shopping-Angebote. Die folgenden Template-Variablen stehen dazu zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>$LiveShoppingContainerId</strong></p>
</li>
<li>
<p><strong>$LiveShoppingQuantityRemaining</strong></p>
</li>
<li>
<p><strong>$LiveShoppingPrice</strong></p>
</li>
<li>
<p><strong>$LiveShoppingPriceOriginal</strong></p>
</li>
<li>
<p><strong>$LiveShoppingPercentRemaining</strong></p>
</li>
<li>
<p><strong>$LiveShoppingPercentSold</strong></p>
</li>
<li>
<p><strong>$LiveShoppingQuantitySold</strong></p>
</li>
<li>
<p><strong>$LiveShoppingStartTime</strong></p>
</li>
<li>
<p><strong>$LiveShoppingEndTime</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Der folgende Code ist ein Beispiel für die Gestaltung von Live-Shopping-Angeboten im Template <strong>ItemViewLiveShopping</strong>:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;div class="ff01_pagenav"&gt;

    &lt;h2 id="liveshopping_von_bis" &gt;Liveshopping&lt;/h2&gt;

&lt;/div&gt;

&lt;table width="100%" border="0" cellspacing="0" cellpadding="3" class="border marginbottom"&gt;&lt;tr&gt;&lt;td style="width:40%;"&gt;

    &lt;table width="100%" border="0" cellspacing="0" cellpadding="3"&gt;

        &lt;tr&gt;

            &lt;td colspan="2" style="padding:10px;"&gt;&lt;strong&gt;$Name[1]&lt;/strong&gt;

            &lt;/td&gt;

        &lt;/tr&gt;

        &lt;tr&gt;

            &lt;td rowspan="1" style="padding-left:10px; height:250px" width="60%"&gt;$MiddleSizeImage[1]&lt;/td&gt;

            &lt;td style="padding-left:10px;" valign="top"&gt;

                &lt;table width="200" border="0" cellspacing="0" cellpadding="0"&gt;

                    &lt;tr&gt;

                        &lt;td id="clock_clock" width="36"&gt;&amp;nbsp;

                        &lt;/td&gt;

                        &lt;td style="padding-left:10px"&gt;

                            Angebot läuft noch&lt;br /&gt;&lt;span  id="ldate" style="font-size:20px; font-weight:bold;"&gt;&lt;/span&gt;

                        &lt;/td&gt;

                    &lt;/tr&gt;

                &lt;/table&gt;&lt;br /&gt;&lt;br /&gt;

                &lt;div&gt;statt &lt;span style="text-decoration: line-through;"&gt;$LiveShoppingPriceOriginal $Currency&lt;/span&gt;

                &lt;div&gt;&lt;span class="Price_single_art"&gt;nur $LiveShoppingPrice&lt;/span&gt; &lt;span class="Price_single_art"&gt;$Currency&lt;/span&gt;&lt;/div&gt;

                &lt;div class="small"&gt;inkl. ges. Mwst. 19%&lt;/div&gt;

                &lt;div class="small" style="margin-bottom:10px;"&gt;&lt;a href="&#123;&#37; Link_ShippingCosts() &#37;&#125;"&gt;zzgl. Versandkosten&lt;/a&gt;&lt;/div&gt;

                &#123;&#37; if $Weight &gt; 0 &#37;&#125;

                  &lt;div&gt;Versandgewicht: $Weight g

                  &lt;/div&gt;

                &#123;&#37; endif &#37;&#125;

                &lt;div&gt;$FormOpenOrder$AttributeSelect

                    &lt;input src="/layout/farbfinal01/images/btn_basket.png" title="Kaufen" alt="Kaufen" type="image" style="padding-top:15px" &gt;

      $FormCloseOrder

                &lt;/div&gt;

                &lt;/div&gt;

            &lt;/td&gt;

        &lt;/tr&gt;

        &lt;tr&gt;

            &lt;td style="padding-left:10px; width:40%;"&gt;&lt;b&gt;Artikelbeschreibung:&lt;/b&gt;&lt;br /&gt;&lt;br /&gt;$DescriptionShort&lt;br /&gt;&lt;br /&gt;

                &lt;label onclick="if(document.getElementById('liveshopping_description').style.display=='none'){ document.getElementById('liveshopping_description').style.display='block'; } else {    document.getElementById('liveshopping_description').style.display='none'; }"&gt; &lt;b&gt;weitere Informationen...&lt;/b&gt;

                &lt;/label&gt;&lt;br /&gt;

                &lt;div id="liveshopping_description" style="display:none;"&gt;$Description&lt;/div&gt;&lt;br /&gt;

            &lt;/td&gt;

            &lt;td style="width:40%; width:40%; padding-left:10px;" valign="top"&gt; Noch $LiveShoppingPercentRemaining Prozent verfügbar!

                &lt;table width="150px" height="12px" cellspacing="0"&gt;

                    &lt;tr&gt;

                        &lt;td style="background-image:url(/images/icons/liveshopping/balken_links.jpg); padding-left:6px; height:7px; width=7px";&gt;

                        &lt;/td&gt;

                        &lt;td style="background-image:url(/images/icons/liveshopping/balken_mitte.jpg); height:7px; width=7px;"$LiveShoppingPercentRemaining%&gt;

                      &lt;/td&gt;

                &lt;td style="background-image:url(/images/icons/liveshopping/balken_gruen_rechts.jpg); padding-left:4px; height:7px;" width="5"&gt;&lt;/td&gt;

                &lt;td style="background-image:url(/images/icons/liveshopping/balken_grau.jpg); height:7px;" width="$LiveShoppingPercentSold%"&gt;&lt;/td&gt;

                &lt;td style="background-image:url(/images/icons/liveshopping/balken_rechts.jpg); padding-left:4px; height:7px;" width="5"&gt;&lt;/td&gt;

    &lt;/tr&gt;

        &lt;/table&gt;

      &lt;br /&gt;

      &lt;br /&gt;

      &#123;&#37; if $LiveShoppingQuantityRemaining&lt;=0 &#37;&#125; &lt;b&gt;Live-Shopping derzeit nicht aktiv oder Aktionsbestand ausverkauft!&lt;/b&gt;&lt;br /&gt;

      &#123;&#37; endif &#37;&#125; &lt;/td&gt;

  &lt;/tr&gt;

&lt;/table&gt;&lt;/td&gt;



    &lt;/tr&gt;

&lt;/table&gt;





&lt;script language="JavaScript" type="text/javascript"&gt;



  function tickLiveShoppingTimer() {



    var currenttime=new Date();



    if(checkIfCurrentTimeIsInPeriod('$LiveShoppingStartTime','$LiveShoppingEndTime')){



      var eventdate = getDateObjectFromUTC("$LiveShoppingEndTime");

      var milliseconds_until_event=Math.floor((eventdate.getTime()-currenttime.getTime()));

      var seconds_until_event=milliseconds_until_event/1000;



      days = Math.floor(seconds_until_event/(60*60*24));

      hours = Math.floor(seconds_until_event/(60*60)) - (days * 24);

      minutes = Math.floor(seconds_until_event/(60)) - (days*24*60+hours*60);

      seconds = seconds_until_event - (days*24*60*60+hours*60*60+minutes*60);



      //ggf. führende Nullen anfügen

      var s_minutes = (minutes &lt; 10) ? '0' + minutes : minutes ;

      seconds = Math.floor(seconds);

      var s_seconds = (seconds &lt; 10) ? '0' + seconds : seconds ;



      if(document.getElementById('ldate') &amp;&amp; document.getElementById('clock_clock')){

        document.getElementById('ldate').innerHTML = (days&gt;0?days+"d ":"")+hours+'h '+s_minutes+':'+s_seconds;

        document.getElementById('clock_clock').style.backgroundImage = 'url(/images/icons/liveshopping/clock.jpg)';

      }



      window.setTimeout("tickLiveShoppingTimer()", 1000);



    } else {

      if(document.getElementById('ldate') &amp;&amp; document.getElementById('clock_clock')){

        document.getElementById('ldate').innerHTML = '';

        document.getElementById('clock_clock').style.backgroundImage = '';

        window.setTimeout("tickLiveShoppingTimer()", 1000);

      }

    }

  }



  function getLocalDateTimeStringFromUTC(strDateTime) {



    var DateTimeArray = strDateTime.split(" ");



    var DateArray = DateTimeArray[0].split("-");

    var strYear = DateArray[0];

    var strMonth = DateArray[1];

    var strDay = DateArray[2];



    var TimeArray = DateTimeArray[1].split(":");

    var strHour = TimeArray[0];

    var strMinutes = TimeArray[1];

    var strSeconds = TimeArray[2];



    var eventtime = new Date();

    eventtime.setUTCSeconds(strSeconds);

    eventtime.setUTCMinutes(strMinutes);

    eventtime.setUTCHours(strHour);

    eventtime.setUTCDate(strDay);

    eventtime.setUTCMonth(strMonth-1);

    eventtime.setUTCFullYear(strYear);



    var strDateLocal = ((eventtime.getDate()&lt;10)?'0'+eventtime.getDate():eventtime.getDate())  +"."+  ((eventtime.getMonth()+1&lt;10)?'0'+(eventtime.getMonth()+1):eventtime.getMonth()+1) +"."+ eventtime.getFullYear();

    var strTimeLocal = ((eventtime.getHours() &lt; 10) ? '0' + eventtime.getHours() : eventtime.getHours()) +':'+ ((eventtime.getMinutes() &lt; 10) ? '0' + eventtime.getMinutes() : eventtime.getMinutes());

    return strDateLocal+" "+strTimeLocal;

    //return eventtime.toLocaleString(); //always uses long date format :( it is although buggy in firefox.. even more buggy with firefox+mac os leopard

  }



  function getDateObjectFromUTC(strDateTime) {



    var DateTimeArray = strDateTime.split(" ");



    var DateArray = DateTimeArray[0].split("-");

    var strYear = DateArray[0];

    var strMonth = DateArray[1];

    var strDay = DateArray[2];



    var TimeArray = DateTimeArray[1].split(":");

    var strHour = TimeArray[0];

    var strMinutes = TimeArray[1];

    var strSeconds = TimeArray[2];



    var eventtime = new Date();

    eventtime.setUTCSeconds(strSeconds);

    eventtime.setUTCMinutes(strMinutes);

    eventtime.setUTCHours(strHour);

    eventtime.setUTCDate(strDay);

    eventtime.setUTCMonth(strMonth-1);

    eventtime.setUTCFullYear(strYear);



    return eventtime;

  }



  function checkIfCurrentTimeIsInPeriod(strStartDateTime, strEndDateTime){



    var StartDateTimeArray = strStartDateTime.split(" ");



    var StartDateArray = StartDateTimeArray[0].split("-");

    var strYear = StartDateArray[0];

    var strMonth = StartDateArray[1];

    var strDay = StartDateArray[2];



    var StartTimeArray = StartDateTimeArray[1].split(":");

    var strHour = StartTimeArray[0];

    var strMinutes = StartTimeArray[1];

    var strSeconds = StartTimeArray[2];



    var starttime = new Date();

    starttime.setUTCSeconds(strSeconds);

    starttime.setUTCMinutes(strMinutes);

    starttime.setUTCHours(strHour);

    starttime.setUTCDate(strDay);

    starttime.setUTCMonth(strMonth-1);

    starttime.setUTCFullYear(strYear);



    var EndDateTimeArray = strEndDateTime.split(" ");



    var EndDateArray = EndDateTimeArray[0].split("-");

    var strYear = EndDateArray[0];

    var strMonth = EndDateArray[1];

    var strDay = EndDateArray[2];



    var EndTimeArray = EndDateTimeArray[1].split(":");

    var strHour = EndTimeArray[0];

    var strMinutes = EndTimeArray[1];

    var strSeconds = EndTimeArray[2];



    var endtime = new Date();

    endtime.setUTCSeconds(strSeconds);

    endtime.setUTCMinutes(strMinutes);

    endtime.setUTCHours(strHour);

    endtime.setUTCDate(strDay);

    endtime.setUTCMonth(strMonth-1);

    endtime.setUTCFullYear(strYear);



    var currenttime=new Date();



    var startDateSeconds = Date.UTC(starttime.getFullYear(), starttime.getMonth() , starttime.getDate(), starttime.getHours(), starttime.getMinutes(), starttime.getSeconds());

    var endDateSeconds = Date.UTC(endtime.getFullYear(), endtime.getMonth() , endtime.getDate(), endtime.getHours(), endtime.getMinutes(), endtime.getSeconds());

    var currentDateSeconds = Date.UTC(currenttime.getFullYear(), currenttime.getMonth() , currenttime.getDate(), currenttime.getHours(), currenttime.getMinutes(), currenttime.getSeconds());



    if(currentDateSeconds&gt;=startDateSeconds &amp;&amp; currentDateSeconds&lt;endDateSeconds){

      return true;

    } else {

      return false;

    }

  }



  document.getElementById('liveshopping_von_bis').innerHTML='Live Shopping Angebot '+getLocalDateTimeStringFromUTC('$LiveShoppingStartTime')+' bis '+getLocalDateTimeStringFromUTC('$LiveShoppingEndTime');

  tickLiveShoppingTimer();





    &lt;/script&gt;</code></pre>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_live_shopping_angebot_veröffentlichen">4. Live-Shopping-Angebot veröffentlichen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Live-Shopping-Angebote können auch auf externen Plattformen eingestellt werden, z.B. auf <a href="http://www.liveshopping-aktuell.de" target="_blank" rel="noopener">liveshopping-aktuell.de</a>. Registriere dich dazu bei dem Anbieter und hinterlege die URL der Angebote nach folgendem Muster:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Angebot 1: deine_Domain/plenty/api/liveshopping_xml_1.php</p>
</li>
<li>
<p>Angebot 2: deine_Domain/plenty/api/liveshopping_xml_2.php</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Bei diesen Beispielen werden die Artikel des ersten und zweiten Live-Shopping-Angebots exportiert.</p>
</div>
<div class="paragraph">
<p>Per ID bestimmst du, welches Live-Shopping-Angebot exportiert werden soll. Mit dem Parameter <strong>SHIPPING</strong> legst du feste Versandkosten fest.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel: Parameter ID und SHIPPING</div>
<div class="paragraph">
<p>Mit ID für Live-Shopping-Angebot 1: "deine_Domain/plenty/api/liveshopping_xml_1.php?ID=1"<br>
Mit ID für Live-Shopping-Angebot 3 und mit Code für 3,90 Versandkosten: "deine_Domain/plenty/api/liveshopping_xml_2.php?ID=3&amp;SHIPPING=3.90"</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Als Beschreibung des Artikels wird nur der Vorschautext (short_description) exportiert.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Exportbedingung</div>
<div class="paragraph">
<p>Live-Shopping-Angebote werden nur exportiert, wenn der Artikel einer Kategorie zugeordnet ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">5. Automatisch über Live-Shopping-Angebote berichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nutze den Aktionsmanager, um täglich auf Twitter und Facebook über deine Live-Shopping-Angebote zu berichten. Richte dafür Aktionen ein. Weitere Informationen zur Einrichtung deines Twitter-Kontos in plentymarkets findest du auf der Handbuchseite <a href="/omni-channel/online-shop/extras/twitter">Twitter</a>.</p>
</div>
<div class="paragraph instruction">
<p>Aktion einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Aktionen</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Neue Aktion</strong>.</p>
</li>
<li>
<p>Wähle die Aktion <strong>Live-Shopping twittern</strong>.</p>
</li>
<li>
<p>Gib einen Namen ein.</p>
</li>
<li>
<p>Wähle eine Uhrzeit, zu der die Aktion ausgeführt werden soll.</p>
</li>
<li>
<p>Setze ein Häkchen bei <strong>Aktiv</strong>.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Filter</strong>.</p>
</li>
<li>
<p>Wähle den Mandanten (Shop).</p>
</li>
<li>
<p>Wähle die Kategorieseite, in die das Live-Shopping-Angebot als Template-Variable eingefügt wurde.</p>
</li>
<li>
<p>Wähle das Twitter-Konto, das für die Aktion genutzt werden soll.</p>
</li>
<li>
<p>Wechsle in das Tab <strong>Aktion</strong>.</p>
</li>
<li>
<p>Gib eine Nachricht für die Aktion ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Die Aktion wird eingerichtet und im Tab <strong>Aktionen</strong> angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Um Live-Shopping-Angebote auf Facebook zu posten, richtest du eine zweite Aktion <strong>Live-Shopping auf Facebook posten</strong> analog ein und verknüpfen diese Aktion mit deinem Facebook-Konto.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Facebook-Berechtigungen</div>
<div class="paragraph">
<p>Damit die Verknüpfung mit deinem Facebook-Konto einwandfrei funktioniert, musst du die beiden Berechtigungen <a href="https://developers.facebook.com/docs/facebook-login/permissions/v2.4#reference-manage_pages" target="_blank" rel="noopener">manage_pages</a> und <a href="https://developers.facebook.com/docs/facebook-login/permissions/v2.4#reference-publish_pages" target="_blank" rel="noopener">publish_pages</a> aktivieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_faq">6. FAQ</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_aktives_live_shopping">6.1. Aktives Live-Shopping</h3>
<div class="paragraph instruction">
<p>Wann ist Live-Shopping für einen Artikel aktiv?</p>
</div>
<div class="paragraph indented">
<p>Das Live-Shopping für einen Artikel ist aktiv, wenn die aktuelle Uhrzeit sich im konfigurierten Bereich befindet und bei warenbestandsabhängigen Artikeln noch ausreichend Bestand für das Live-Shopping vorhanden ist.=== Attributartikel verkaufen</p>
</div>
<div class="paragraph instruction">
<p>Ich verkaufe Attributartikel. Kann die Attributauswahl in das Live-Shopping-Angebot eingebaut werden?</p>
</div>
<div class="paragraph indented">
<p>Ja, die Attributauswahl kann in das Live-Shopping-Angebot eingebaut werden. Verwende dazu dieselben Template-Variablen wie in der Ansicht eines Einzelartikels verfügbar, darunter auch <strong>$AttributeSelect</strong> und <strong>$AttributeSelectWithoutAttributeName</strong>. Baue einfach einen der beiden Template-Variablen in das Template <strong>ItemViewLiveShopping</strong> ein.</p>
</div>
</div>
<div class="sect2">
<h3 id="_link_zum_live_shopping_angebot_einfügen">6.2. Link zum Live-Shopping-Angebot einfügen</h3>
<div class="paragraph instruction">
<p>Ich möchte von der Startseite einen Link zur Seite mit dem Live-Shopping-Angebot setzen. Wie blende ich diesen Link nur ein, wenn ein LiveShopping Angebot aktiv ist?</p>
</div>
<div class="paragraph indented">
<p>Verwende dazu die Template-Funktion <strong>&#123;&#37; if Container_ItemViewLiveShopping() &#37;&#125; LINK &#123;&#37; endif &#37;&#125;</strong>.</p>
</div>
</div>
</div>
</div>
</main>