<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_picalike"><span>1.</span><span> picalike</span></a></li>
<li><a href="#_bei_picalike_anmelden"><span>2.</span><span> Bei picalike anmelden</span></a></li>
<li><a href="#_picalike_in_plentymarkets_aktivieren"><span>3.</span><span> picalike in plentymarkets aktivieren</span></a></li>
<li><a href="#_bildersuche_mit_mehreren_bildern_einbauen"><span>4.</span><span> Bildersuche mit mehreren Bildern einbauen</span></a></li>
<li><a href="#_hilfe"><span>5.</span><span> Hilfe</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>picalike</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Einrichtung » Mandant » Global » Dienste » picalike</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_picalike">1. picalike</h2>
<div class="sectionbody">
<div class="paragraph">
<p>picalike ist ein Tool für den Vergleich von Bildern. Diese Technologie unterstützt deine Kunden bei der Suche nach passenden Artikeln.<br>
Produktbilder werden im E-Commerce immer wichtiger. Mit picalike erweiterst du deine <strong>Merkmal-Suchfunktion</strong>, also die Filterung nach Preis, Geschlecht, Kategorien etc. um eine weitere Dimension, die <strong>Ähnlichkeit</strong>, und vermitteln deinen Besuchern damit ein neues Shoppingerlebnis in deinem Webshop.<br>
picalike analysiert deine Artikelbilder und baut einen Index aus Ähnlichkeiten zwischen den Bildern auf. Wenn ein Besucher deines Webshops nach Ähnlichkeit filtert, wird picalike informiert, welches Bild als Referenz genutzt werden soll und zeigt dann ähnliche Bilder sortiert an.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_bei_picalike_anmelden">2. Bei picalike anmelden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nimm Kontakt zu picalike auf und registriere dich für die Bildersuche. Beachte dabei die folgenden Punkte:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du findest auf der picalike-Website detaillierte Informationen zu <strong>Funktion</strong> und <strong>Kosten</strong>. Kläre diese Punkte, bevor du picalike in plentymarkets aktivierst.</p>
</li>
<li>
<p>picalike benötigt zur Bildersuche die <strong>Export-URL</strong> deines plentymarkets-Systems. Du findest die URL im Menü <strong>Einrichtung » Mandant » Global » Dienste » picalike</strong> (<a href="#bild-einstellungen-picalike">Bild 2</a>).</p>
</li>
<li>
<p>Du benötigst für die Aktivierung den <strong>API-KEY</strong> von picalike. Du findest diesen Key im Menü <strong>Einstellungen</strong> deines registrierten Bereichs bei picalike (<a href="#bild-api-key-aktivierung">Bild 1</a>).</p>
</li>
</ul>
</div>
<div id="bild-api-key-aktivierung" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Mandant-GlobEinstell-ExtDienste-picalike-01-SI.png" alt="DE Mandant GlobEinstell ExtDienste picalike 01 SI">
</div>
<div class="title">Bild 1. <strong>API-KEY</strong> für die Aktivierung in plentymarkets (Pfeil)</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_picalike_in_plentymarkets_aktivieren">3. picalike in plentymarkets aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie nachfolgend beschrieben vor, um die picalike-Bildersuche in plentymarkets zu aktivieren. Es sind zwei Konfigurationsschritte erläutert:</p>
</div>
<div class="paragraph instruction">
<p>Einstellungen für picalike konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Global » Dienste » picalike</strong>.</p>
</li>
<li>
<p>Nimm die <strong>Einstellungen</strong> gemäß der nachfolgenden Tabelle vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div id="bild-einstellungen-picalike" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Mandant-GlobEinstell-ExtDienste-picalike-02-SI.png" alt="DE Mandant GlobEinstell ExtDienste picalike 02 SI">
</div>
<div class="title">Bild 2. <strong>Einstellungen</strong> für picalike</div>
</div>
<div class="paragraph">
<p>Erläuterungen zu den Optionen im Menü <strong>picalike</strong>:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. <strong>Einstellungen</strong> für picalike</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>picalike aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle <strong>Ja</strong>, wenn du picalike aktivieren und <strong>Nein</strong>, wenn du die Bildersuche (wieder) deaktivieren möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API-Key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kopiere den <strong>API-Key</strong> aus dem Menü <strong>Einstellungen</strong> deines picalike-Kontos (<a href="#bild-api-key-aktivierung">Bild 1</a>) und füge den Key in dieser Zeile ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die <strong>Export-URL</strong> benötigt picalike, um die Bildersuche zu aktivieren. Diese URL wird vom System erzeugt und sollte bereits in dieser Zeile stehen, wenn du das Menü erstmalig öffnest.<br>
<strong>Wichtig</strong>: Stelle sicher, dass du picalike die Export-URL übermittelt hast, andernfalls ist die Bildersuche nicht möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suchgenauigkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Du kannst wählen, in welchen <strong>Kategorie-Bereichen</strong> gesucht werden soll.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>picalike-Bildersuche in Template einbauen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout » ItemView » ItemViewSingleItem</strong>.</p>
</li>
<li>
<p>Füge folgenden Code an einer geeigneten Stelle ein:<br>
<strong>&lt;a id="link_picalike_$ID" href="&#123;&#37; Link_PicalikeSearch(1) &#37;&#125;" rel="nofollow"&gt;Ähnliche Bilder suchen&lt;/a&gt;</strong><br>
→ Der Text <strong>Ähnliche Bilder suchen</strong> wird im Webshop als Link angezeigt. Du kannst den Text durch einen beliebigen eigenen Text austauschen.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_bildersuche_mit_mehreren_bildern_einbauen">4. Bildersuche mit mehreren Bildern einbauen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für eine Auswahl aus mehreren Artikelbildern muss für jedes Bild ein „onClick“-Ereignis hinzugefügt werden.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">onClick-Befehl</div>
<div class="paragraph">
<p>Der onClick-Befehl ist wie folgt aufgebaut:<br>
<strong>onClick="document.getElementById('link_picalike_$ID').href='[Link_PicalikeSearch_5]';"<br>
⇒ 5</strong> = Artikelbild Nr. 5</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>onClick-Ereignisse werden jeweils durch ein Semikolon getrennt.</p>
</div>
<div class="paragraph">
<p>Jedes Bild in der Artikelansicht erfordert einen individuellen Link, wobei die Links eine fortlaufende Nummerierung erhalten.<br>
LinkTo_PicalikeSearch_2<br>
LinkTo_PicalikeSearch_3<br>
LinkTo_PicalikeSearch_4<br>
etc.</p>
</div>
<div class="paragraph">
<p>Für das zweite Artikelbild lautet der Code somit:</p>
</div>
<div class="paragraph">
<p><strong>onClick="document.getElementById('link_picalike_$ID').href='&#123;&#37; Link_PicalikeSearch(2) &#37;&#125;';"</strong></p>
</div>
<div class="paragraph instruction">
<p>picalike-Bildersuche mit mehreren Bildern in Template einbauen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign » Layout » ItemView » ItemViewSingleItem</strong>.</p>
</li>
<li>
<p>Füge den jeweiligen Code, wie in <a href="#bild-code-weitere-artikelbilder">Bild 3</a> gezeigt, für die weiteren Artikelbilder ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Auf <a href="#bild-code-weitere-artikelbilder">Bild 3</a> siehst du, wo der Code für Artikelbild 2 eingefügt wird (Pfeil): vor der spitzen Klammer.</p>
</div>
<div class="paragraph">
<p>Verfahre mit weiteren Bildern nach dem gleichen Muster.</p>
</div>
<div id="bild-code-weitere-artikelbilder" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Mandant-GlobEinstell-ExtDienste-picalike-03-SI.png" alt="DE Mandant GlobEinstell ExtDienste picalike 03 SI">
</div>
<div class="title">Bild 3. Code für weitere Artikelbilder einfügen</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_hilfe">5. Hilfe</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei Fragen bzw. im Fehlerfall wende sich bitte an unseren <strong>Support</strong>.</p>
</div>
<div class="paragraph">
<p>Ansprechpartner bei <strong>picalike</strong>:</p>
</div>
<div class="paragraph">
<p>Sebastian Kielmann<br>
Managing Director</p>
</div>
<div class="paragraph">
<p>picalike GmbH<br>
Wendenstr. 130<br>
D-20537 Hamburg<br>
Tel: +49 40 468 95 17 - 11<br>
Fax: +49 40 468 95 17 - 99<br>
Web: <a href="http://www.picalike.com" target="_blank" rel="noopener">http://www.picalike.com</a><br>
Email: <a href="mailto:s.kielmann@picalike.com">s.kielmann@picalike.com</a></p>
</div>
</div>
</div>
</main>