<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_social_media"><span>1.</span><span> Social Media</span></a></li>
<li><a href="#_konfiguration"><span>2.</span><span> Konfiguration</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Social Media</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Einrichtung » Mandant » Mandant wählen » Dienste » Social Media</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_social_media">1. Social Media</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Menü hinterlegst du <strong>URLs</strong> für <strong>soziale Medien</strong>, wie Facebook oder twitter. Außerdem wird die Verknüpfung zu sozialen Medien hier aktiviert bzw. deaktiviert.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_konfiguration">2. Konfiguration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nimm die Konfiguration vor, wie in der nachfolgenden Tabelle erläutert.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstell-Mandant-Std-ExtDienste-SocialMedia-01-SI.png" alt="DE Einstell Mandant Std ExtDienste SocialMedia 01 SI">
</div>
<div class="title">Bild 1. Einstellungen im Menü <strong>Social Media</strong></div>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die Einstellungen im Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Social Media</strong>:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen für die Aktivierung und Verknüpfung <strong>sozialer Medien</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Social Media</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle, ob die Verknüpfung zu allen sozialen Medien <strong>aktiv</strong> oder <strong>inaktiv</strong> sein soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL Facebook</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trage die <strong>URL</strong> ein, die für die Verknüpfung mit <strong>Facebook</strong> verwendet werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Facebook Login</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn du die <a href="/omni-channel/online-shop/webshop-einrichten/extras/facebook">Facebook Login-Funktion</a> nutzt, wähle hier die Einstellung <strong>aktiv</strong>. Die Standardeinstellung ist <strong>inaktiv</strong>, d.h. die Login-Funktion wird nicht genutzt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL twitter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trage die <strong>URL</strong> ein, die für die Verknüpfung mit <strong>twitter</strong> verwendet werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL Google+</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trage die <strong>URL</strong> ein, die für die Verknüpfung mit <strong>Google+</strong> verwendet werden soll.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>