<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_allgemeines"><span>1.</span><span> Allgemeines</span></a></li>
<li><a href="#_bei_testberichte_de_registrieren"><span>2.</span><span> Bei Testberichte.de registrieren</span></a></li>
<li><a href="#_konfiguration"><span>3.</span><span> Konfiguration</span></a></li>
<li><a href="#_template_funktionen_einbinden"><span>4.</span><span> Template-Funktionen einbinden</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Testberichte.de</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Einrichtung » Mandant » Global » Dienste » Testberichte.de</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines">1. Allgemeines</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Testberichte.de</strong> ermöglicht dir, Testergebnisse deiner Artikel in deinen Webshop zu integrieren. Außerdem kannst du Kundenmeinungen in deinen Webshop einbinden, die dir von Testberichte.de für deine Produkte zur Verfügung gestellt werden. <a href="http://partner.testberichte.de/public/home.action" target="_blank" rel="noopener">Mehr Info …​</a></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_bei_testberichte_de_registrieren">2. Bei Testberichte.de registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um den Service von Testberichte.de nutzen zu können, ist eine Registrierung im Partnerbereich erforderlich. Du erhältst dabei die Zugangsdaten, die du für die Konfiguration in plentymarkets benötigst. Klicke auf den folgenden Link, um die Registrierung vorzunehmen: bei Testberichte.de <a href="http://partner.testberichte.de/public/registration.action" target="_blank" rel="noopener">registrieren</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_konfiguration">3. Konfiguration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hinterlege hier die Zugangsdaten, die du bei der Registrierung bei Testberichte.de erhalten hast. Diese bestehen jeweils aus einer <strong>ID</strong>, die Bestandteil einer <strong>URL</strong> ist.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel</div>
<div class="paragraph">
<p><strong>Testberichte-URL</strong>: <a href="http://service.testberichte.de/service/123456789123456789" class="bare">http://service.testberichte.de/service/123456789123456789</a></p>
</div>
<div class="paragraph">
<p><strong>Partner-ID Testberichte</strong>: 123456789123456789</p>
</div>
<div class="paragraph">
<p><strong>Kundenmeinungs-URL</strong>: <a href="http://service.testberichte.de/service/a1b2c3d4e5f6g7h8" class="bare">http://service.testberichte.de/service/a1b2c3d4e5f6g7h8</a></p>
</div>
<div class="paragraph">
<p><strong>Partner-ID Kundenmeinungen</strong>: a1b2c3d4e5f6g7h8</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Trage deine Zugangsdaten und die Parameter für Testberichte.de im Menü ein und beachte dabei die Erläuterungen der nachfolgenden Tabelle.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Mandant-GlobEinstell-ExtDienste-Testberichte-01-SI.png" alt="DE Mandant GlobEinstell ExtDienste Testberichte 01 SI">
</div>
<div class="title">Bild 1. Testberichte.de; <strong>Konfiguration</strong></div>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die Einstellungen im Menü <strong>Testberichte.de</strong>:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Testberichte.de; <strong>Konfiguration</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Partner-ID Testberichte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Partner-ID für die Testberichte eintragen, wie von Testberichte.de erhalten (siehe obiges Beispiel).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Partner-ID Kundenmeinungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Partner-ID für die Kundenmeinungen eintragen, wie von Testberichte.de erhalten (siehe obiges Beispiel).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Export-URL Testberichte.de mitteilen. Die Artikeldaten werden zu Testberichte.de exportiert. Beim ersten Export werden alle Daten exportiert, danach nur die jeweils neu hinzugekommenen Artikeldaten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Höhe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Höhe der Testberichte und Kundenmeinungen in Pixel.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Breite</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Breite der Testberichte und Kundenmeinungen in Pixel.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Abruf und Exportlink</div>
<div class="paragraph">
<p>Der Abruf der Testberichte erfolgt automatisch einmal täglich. Der Artikel-Exportlink muss vom Webshop-Betreiber einmalig bei Testberichte.de hinterlegt werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_template_funktionen_einbinden">4. Template-Funktionen einbinden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets stellt dir <strong>Template-Funktionen</strong> zur Einbindung der Testberichte und Kundenmeinungen zur Verfügung. Diese findest du unter <strong>CMS » Webdesign » Layout » ItemView » ItemViewSingleItem</strong>.</p>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die <strong>Template-Funktionen</strong>:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Testberichte.de; <strong>Template-Funktionen</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Template-Funktionen</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TestberichteOpinions()</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kundenmeinungen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TestberichteOpinionsRating()</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kundenmeinungen, Bewertungsdurchschnitt</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TestberichteReportsLong()</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Testberichte, lang</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TestberichteReportsShort()</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Testberichte, kurz</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TestberichteReportsRating()</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Testberichte, Bewertungsdurchschnitt</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>