<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_allgemeines_zu_twenga"><span>1.</span><span> Allgemeines zu Twenga</span></a></li>
<li><a href="#_bei_twenga_registrieren"><span>2.</span><span> Bei Twenga registrieren</span></a></li>
<li><a href="#_twenga_in_plentymarkets_aktivieren"><span>3.</span><span> Twenga in plentymarkets aktivieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Twenga</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Einrichtung » Mandant » Mandant wählen » Dienste » Twenga</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines_zu_twenga">1. Allgemeines zu Twenga</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit mehr als 300 Millionen gelisteten Produkten von über 200.000 Händlern und Millionen von Nutzern ist <a href="http://www.twenga.de/" target="_blank" rel="noopener">Twenga</a> eine der umfangreichsten Shopping-Suchmaschinen im Internet. Twenga verwendet eigene Technologie (Ready to Sell), um alle online verfügbaren Shop- und Produktinformationen auf einer Seite zu listen. Das Unternehmen ist in 15 Ländern aktiv, darunter Frankreich, Deutschland, Großbritannien, Spanien und Italien. Du hast bei Twenga die Möglichkeit, deine Artikel zu präsentieren und deinen Kundenstamm entscheidend zu vergrößern.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_bei_twenga_registrieren">2. Bei Twenga registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Vorteile von Twenga nutzen zu können, ist eine Registrierung erforderlich. Du erhältst dabei den <strong>Twenga-Hashkey</strong>, den du für die Konfiguration in plentymarkets benötigst. Kontaktiere <a href="https://rts.twenga.de/signup" target="_blank" rel="noopener">Twenga</a>, um dich zu registrieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_twenga_in_plentymarkets_aktivieren">3. Twenga in plentymarkets aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hinterlege hier den <strong>Twenga-Hashkey</strong>, den du bei der Registrierung bei Twenga erhalten hast, um Twenga für deinen Standard-Shop zu aktivieren.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/extras/assets/DE-Einstellungen-Mandant-Standard-Externe-Dienste-Twenga-01-.png" alt="DE Einstellungen Mandant Standard Externe Dienste Twenga 01 ">
</div>
<div class="title">Bild 1. Twenga aktivieren</div>
</div>
<div class="paragraph instruction">
<p>Twenga aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Twenga</strong>.</p>
</li>
<li>
<p>Wähle den <strong>Twenga "Ready-To-Sell" Dienst</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Trage den <strong>Twenga-Hashkey</strong> ein, die du von Twenga erhalten haben.</p>
</li>
<li>
<p>Setze ein <strong>Häkchen</strong> bei <strong>Aktiv</strong>, um das Modul zu aktivieren.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Sobald du Twenga in plentymarkets eingerichtet hast, werden deine Artikel von Twenga abgerufen und integriert.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Mandanten</div>
<div class="paragraph">
<p>Die Aktivierung von Twenga in plentymarkets ist <strong>mandantenabhängig</strong>. Das heißt, dass du dich für jeden weiteren Mandanten auf der entsprechenden Twenga-Plattform neu registrieren musst. Dabei erhältst du für den jeweiligen Mandanten einen neuen <strong>Twenga-Hashkey</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>