<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_allgemeines_zu_universal_analytics"><span>1.</span><span> Allgemeines zu Universal Analytics</span></a></li>
<li><a href="#_universal_analytics_einrichten"><span>2.</span><span> Universal Analytics einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#_einstellungen_bei_google_analytics"><span>2.1.</span><span> Einstellungen bei Google Analytics</span></a></li>
<li><a href="#_tracking_code_snippet_analytics_js_abrufen"><span>2.2.</span><span> Tracking-Code-Snippet (analytics.js) abrufen</span></a></li>
<li><a href="#_einstellungen_in_plentymarkets"><span>2.3.</span><span> Einstellungen in plentymarkets</span></a></li>
</ul>
</li>
<li><a href="#_conversion_tracking_im_individuellen_bestellvorgang"><span>3.</span><span> Conversion-Tracking im individuellen Bestellvorgang</span></a>
<ul class="sectlevel2">
<li><a href="#_einstellungen_bei_google_analytics_2"><span>3.1.</span><span> Einstellungen bei Google Analytics</span></a></li>
<li><a href="#_einstellungen_in_plentymarkets_2"><span>3.2.</span><span> Einstellungen in plentymarkets</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Universal Analytics</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>CMS » Webdesign</strong></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines_zu_universal_analytics">1. Allgemeines zu Universal Analytics</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Universal Analytics ist der aktuelle Betriebsstandard für Google Analytics. <a href="http://www.google.com/intl/de_ALL/analytics/" target="_blank" rel="noopener">Universal Analytics</a> ist ein kostenfreies Tool zur Analyse von Websites und Apps hinsichtlich Besucherstatistik und Nutzungsverhalten. Mit dem Dienst <a href="https://support.google.com/analytics/answer/1037249?hl=de&amp;topic=1037061&amp;ctx=topic" target="_blank" rel="noopener">E-Commerce</a> von Google Analytics trackst du außerdem E-Commerce-Aktivitäten.</p>
</div>
<div class="paragraph">
<p>Auf dieser Seite wird beschrieben, wie du Universal Analytics einrichtest, um Daten für Besucherstatistiken und Nutzungsverhalten zu sammeln (Kapitel 2).</p>
</div>
<div class="paragraph">
<p>Außerdem erfährst du in Kapitel 3, wie du auch Daten zu deinen Verkäufen sammelst. Um das Conversion-Tracking mit Universal Analytics zu nutzen,
musst du zunächst den <a href="/omni-channel/online-shop/webshop-einrichten/cms#webdesign-webdesign-bearbeiten-bestellvorgang-individueller-bestellvorgang">individuellen Bestellvorgang</a> einrichten.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Wichtige Hinweise zum Datenschutz</div>
<div class="paragraph">
<p>Unter folgendem Link findest du drei Punkte, die du beachten solltest, wenn du Classic Google Analytics und Universal Analytics einsetzt:<br>
<a href="http://www.lhr-law.de/lbr-blog/nrw-datenschutzbeauftragter-uberpruft-google-analytics-einsatz" target="_blank" rel="noopener">http://www.lhr-law.de/lbr-blog/nrw-datenschutzbeauftragter-uberpruft-google-analytics-einsatz</a></p>
</div>
<div class="paragraph">
<p>Die Richtlinien zum Datenschutz werden immer wieder angepasst. Halte dich diesbezüglich auf dem Laufenden und hole ggf. rechtlichen Rat ein, um Abmahnungen zu vermeiden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_universal_analytics_einrichten">2. Universal Analytics einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachfolgend wird beschrieben, wie du Universal Analytics (analytics.js) einrichtest bzw. von Classic Google Analytics (ga.js) auf Universal Analytics migrierst. Die Einrichtung unterteilt sich in Einstellungen in deinem Konto bei Google Analytics und Einstellungen in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="_einstellungen_bei_google_analytics">2.1. Einstellungen bei Google Analytics</h3>
<div class="paragraph">
<p>Um Universal Analytics für deine Website zu verwenden, erstellst du ein Konto bei <a href="http://www.google.com/intl/de_ALL/analytics/" target="_blank" rel="noopener">Google Analytics</a> oder meldest dich mit deinem bestehenden Konto an. Informationen zum Einrichtung eines Profils deiner Website findest du auf den <a href="https://support.google.com/analytics/?hl=de#topic=3544906" target="_blank" rel="noopener">Google Analytics-Hilfeseiten</a>.</p>
</div>
<div class="paragraph">
<p>Wenn du bereits Classic Google Analytics (ga.js) nutzt, findest du Informationen zur Migration auf Universal Analytics (analytics.js) im <a href="https://developers.google.com/analytics/devguides/collection/upgrade/" target="_blank" rel="noopener">Universal Analytics-Migrationscenter</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Einstellung für verschlüsselte Website</div>
<div class="paragraph">
<p>Wenn du für deine Website ein <a href="/basics/admin-aufgaben/plentymarkets-konto#ssl-zertifikat">SSL-Zertifikat</a> verwendest, wähle in Google Analytics das Schema <strong>https</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_tracking_code_snippet_analytics_js_abrufen">2.2. Tracking-Code-Snippet (analytics.js) abrufen</h3>
<div class="paragraph">
<p>Nachdem du ein Profil deiner Website bei Google Analytics erstellt hast, benötigst du den Tracking-Code (analytics.js). Informationen zum Generieren des Tracking-Codes findest du auf der <a href="https://support.google.com/analytics/answer/1008080" target="_blank" rel="noopener">Hilfeseite von Google Analytics</a>.</p>
</div>
<div class="paragraph">
<p>Zusammen mit deinem Tracking-Code (analytics.js) wird ein Tracking-Code-Snippet angezeigt, das deinen Tracking-Code enthält. Das Tracking-Code-Snippet befindet sich in einem Feld mit einigen JavaScript-Zeilen. Es beginnt mit <strong>&lt;script&gt;</strong> und endet mit <strong>&lt;/script&gt;</strong>. Kopiere den generierten Tracking-Code-Snippet in die Zwischenablage (<strong>Strg+C</strong> bzw. <strong>cmd+C</strong>). Füge das Tracking-Code-Snippet dann wie unten beschrieben in plentymarkets ein.</p>
</div>
</div>
<div class="sect2">
<h3 id="_einstellungen_in_plentymarkets">2.3. Einstellungen in plentymarkets</h3>
<div class="paragraph">
<p>Füge das Tracking-Code-Snippet wie unten beschrieben in plentymarkets ein.</p>
</div>
<div class="paragraph instruction">
<p>Tracking-Code-Snippet (analytics.js) in plentymarkets einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Wähle links unter <strong>Layout</strong> das Template <strong>PageDesign » PageDesignContent</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>PageDesignContentHtmlStructure</strong>.</p>
</li>
<li>
<p>Füge am Ende des Textfelds das Tracking-Code-Snippet (analytics.js) von Universal Analytics ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Code ist aktiv und Google Analytics beginnt, Daten zur Nutzung deiner Website zu sammeln.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_conversion_tracking_im_individuellen_bestellvorgang">3. Conversion-Tracking im individuellen Bestellvorgang</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zusätzlich zu Daten wie der Anzahl der Besucher, welche Seiten angeklickt wurden etc. können mit Universal Analytics auch Daten zur Conversion getrackt werden.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Conversion-Tracking mit Universal Analytics nur mit individuellem Bestellvorgang nutzbar</div>
<div class="paragraph">
<p>Conversion-Tracking mit Universal Analytics ist in plentymarkets nur in Kombination mit dem <a href="/omni-channel/online-shop/webshop-einrichten/cms#webdesign-webdesign-bearbeiten-bestellvorgang-individueller-bestellvorgang">individuellen Bestellvorgang</a> nutzbar. Der Tracking-Code von Universal Analytics für E-Commerce-Tracking funktioniert nicht mit dem Warenkorb bzw. Bestellvorgang im Menü <strong>CMS » Webdesign » Bestellvorgang</strong>. Richte daher den individuellen Warenkorb ein, bevor du von Classic Google Analytics auf Universal Analytics migrierst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wenn du das Conversion-Tracking in plentymarkets aktivieren, werden alle Verkäufe erfasst. Universal Analytics erfasst dabei folgende auftrags- und artikelbezogenen Daten:</p>
</div>
<div class="paragraph">
<p>Auftragsdaten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Auftrags-ID</p>
</li>
<li>
<p>Mehrwertsteuer des Auftrags</p>
</li>
<li>
<p>Lieferkosten für den Auftrag</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Artikeldaten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Artikel-ID</p>
</li>
<li>
<p>Auftrags-ID</p>
</li>
<li>
<p>Artikelnamen</p>
</li>
<li>
<p>Artikelkategorie</p>
</li>
<li>
<p>Artikelpreis</p>
</li>
<li>
<p>Artikelmenge</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um das Conversion-Tracking zu aktivieren.</p>
</div>
<div class="sect2">
<h3 id="_einstellungen_bei_google_analytics_2">3.1. Einstellungen bei Google Analytics</h3>
<div class="paragraph">
<p>Um Bestellvorgänge in deinem Webshop zu tracken, benötigst du den Dienst <a href="https://support.google.com/analytics/answer/1037249?hl=de&amp;topic=1037061&amp;ctx=topic" target="_blank" rel="noopener">E-Commerce</a> von Google Analytics. Aktiviere diesen Dienst in deinem Profil bei Google Analytics, bevor u die unten beschriebenen Einstellungen vornimmst.</p>
</div>
</div>
<div class="sect2">
<h3 id="_einstellungen_in_plentymarkets_2">3.2. Einstellungen in plentymarkets</h3>
<div class="paragraph">
<p>Conversion-Tracking mit Universal Analytics ist nur im <a href="/omni-channel/online-shop/webshop-einrichten/cms#webdesign-webdesign-bearbeiten-bestellvorgang-individueller-bestellvorgang">Individuellen Bestellvorgang</a>
möglich. Um Daten aus dem individuellen Bestellvorgang zu erfassen, steht in plentymarkets die Template-Funktion <strong>&#123;&#37; CheckoutGoogleUniversalTracking() &#37;&#125;</strong> zur Verfügung.
Diese Template-Funktion wird zusammen mit dem Tracking-Code-Snippet (analytics.js) von Universal Analytics im Menü
<strong>CMS » Webdesign » Layout</strong> in das Template <strong>Checkout » CheckoutOrderConfirmation</strong> eingefügt. Gehe wie unten beschrieben vor,
 um das Conversion-Tracking in plentymarkets zu aktivieren.</p>
</div>
<div class="paragraph instruction">
<p>Tracking-Code-Snippet (analytics.js) und Template-Funktion in individuellen Bestellvorgang einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Webdesign</strong>.</p>
</li>
<li>
<p>Wähle links unter <strong>Layout</strong> das Template <strong>Checkout » CheckoutOrderConfirmation</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>CheckoutOrderConfirmationHeader</strong>.</p>
</li>
<li>
<p>Füge am Ende des Textfelds das Tracking-Code-Snippet von Universal Analytics (analytics.js) ein.</p>
</li>
<li>
<p>Füge im Tracking-Code-Snippet die Template-Funktion <strong>&#123;&#37; CheckoutGoogleUniversalTracking() &#37;&#125;</strong> zwischen den Zeilen<br>
<strong>ga('create', 'UA-XXXX-Y', 'auto');</strong> und <strong>ga('send', 'pageview');</strong> ein. Dabei steht UA-XXXX-Y für deine Tracking-ID.<br>
Der letzte Teil des Code-Snippets entspricht dann diesem Beispiel:<br></p>
<div class="ulist">
<ul>
<li>
<p><strong>ga('create', 'UA-1234-5', 'auto'); +</strong></p>
</li>
<li>
<p><strong>&#123;&#37; CheckoutGoogleUniversalTracking() &#37;&#125; +</strong></p>
</li>
<li>
<p><strong>ga('send', 'pageview');</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Der Code ist aktiv und Google Analytics beginnt, Daten aus dem Bestellvorgang zu sammeln.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>