<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_bei_yoochoose_registrieren"><span>1.</span><span> Bei YOOCHOOSE registrieren</span></a></li>
<li><a href="#_yoochoose_in_plentymarkets_einrichten"><span>2.</span><span> YOOCHOOSE in plentymarkets einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#_empfehlungen_und_layout_konfigurieren"><span>2.1.</span><span> Empfehlungen und Layout konfigurieren</span></a></li>
<li><a href="#_kaufhistorie_exportieren"><span>2.2.</span><span> Kaufhistorie exportieren</span></a></li>
<li><a href="#_statistik_abrufen"><span>2.3.</span><span> Statistik abrufen</span></a></li>
<li><a href="#_relevante_template_variablen_und_funktionen"><span>2.4.</span><span> Relevante Template-Variablen und -Funktionen</span></a>
<ul class="sectlevel3">
<li><a href="#_container_yoochoose_recommendations"><span>2.4.1.</span><span> Container_YOOCHOOSE_Recommendations</span></a></li>
<li><a href="#_link_crosssellingitem"><span>2.4.2.</span><span> Link_CrossSellingItem()</span></a></li>
<li><a href="#_zusätzliche_pflichtparameter_für_die_template_funktion_link_crosssellingitem"><span>2.4.3.</span><span> Zusätzliche Pflichtparameter für die Template-Funktion Link_CrossSellingItem()</span></a></li>
<li><a href="#_zusätzliche_pflichtparameter_für_die_template_funktion_link_item"><span>2.4.4.</span><span> Zusätzliche Pflichtparameter für die Template-Funktion Link_Item()</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>YOOCHOOSE</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Alt: CMS &amp; Webshop</div>
<div class="paragraph">
<p>Diese Handbuchseite widmet sich Funktionen des alten plentymarkets Webshops <strong>Callisto</strong>. Informationen zum Webshop-Template <strong>Ceres</strong> findest du <a href="/omni-channel/online-shop/ceres-einrichten#0">hier</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Der externe Dienstleister YOOCHOOSE stellt eine Alternative zum plentymarkets Cross-Selling dar. YOOCHOOSE liefert deinen Webshop-Kunden Cross-Selling-Vorschläge, die auf Basis statistischer Auswertungen des Nutzverhaltens individuell zugeschnitten sind. Die YOOCHOOSE Recommender Engine liefert personalisierte Produktempfehlungen, indem sie das Wissen über deine Produkte mit dem Benutzerverhalten deiner Anwender kombiniert und individualisierte Empfehlungen ausspricht. Das Spektrum der Empfehlungen reicht dabei vom simplen Amazon-Ansatz „Andere Leute kauften auch …“ bis hin zu individuell personalisierten und selbstlernenden Empfehlungen.</p>
</div>
<div class="paragraph">
<p>YOOCHOOSE bietet die folgenden Features:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>*Empfehlungen berechnen:*Neueste patentierte Algorithmen, die zielgenaue Empfehlungen aus der Kombination des Nutzungsverhaltens und der Kenntnis deines Produktkatalogs berechnen.</p>
</li>
<li>
<p><strong>Situationsabhängige Ausspielung:</strong> Die Platzierung und der Kontext auf Haupt- und Detailseiten entscheiden darüber, welche Algorithmen und Filter zum Einsatz kommen.</p>
</li>
<li>
<p><strong>Optimierung über Filter:</strong> Durch geeignete Filter auf Kategorien, Dubletten, Zeitfenster oder bereits gezeigte Empfehlungen wird die Qualität der Empfehlungen deutlich gesteigert.</p>
</li>
<li>
<p><strong>Fallback-Verfahren:</strong> Sollten noch keine Nutzungs- oder Profildaten zu Produkten oder Anwendern vorliegen, werden automatisch Fallback-Verfahren genutzt, um bewährte Empfehlungen auszuspielen.</p>
</li>
<li>
<p><strong>Statistische Auswertung:</strong> Statistische Auswertungen über Nutzung und Akzeptanz.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_bei_yoochoose_registrieren">1. Bei YOOCHOOSE registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um dich bei YOOCHOOSE zu registrieren.</p>
</div>
<div class="paragraph instruction">
<p>Bei YOOCHOOSE registrieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Yoochoose</strong>.</p>
</li>
<li>
<p>Klicke auf den Link <strong>Jetzt registrieren</strong>.<br>
→ Die Registrierungsseite von YOOCHOOSE wird geöffnet.</p>
</li>
<li>
<p>Registriere dich wie auf der externen Registrierungsseite beschrieben.<br>
→ Du erhältst eine Kundennummer und einen Lizenzschlüssel für die Einrichtung in plentymarkets.</p>
</li>
<li>
<p>Wechsle zurück ins plentymarkets Backend.</p>
</li>
<li>
<p>Nimm die weiteren Einstellungen gemäß <a href="#tabelle-registrierung-yoochoose">Tabelle 1</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-registrierung-yoochoose" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. YOOCHOOSE; Registrierung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Registrierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Link zur Webseite von YOOCHOOSE. Auf den Link klicken, um die Registrierung durchzuführen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kundennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei der Registrierung erhaltene Kundennummer eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lizenzschlüssel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bei der Registrierung erhaltenen Lizenzschlüssel eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tracking aktiviert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> = Benutzerbezogene Daten des Webshops werden an YOOCHOOSE übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Empfehlungen abrufen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ja</strong> = Artikeldaten für das Cross-Selling werden von YOOCHOOSE abgerufen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_yoochoose_in_plentymarkets_einrichten">2. YOOCHOOSE in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du dich bei YOOCHOOSE registriert hast, werden weitere Tabs eingeblendet, über die du YOOCHOOSE in plentymarkets einrichtest.</p>
</div>
<div class="sect2">
<h3 id="_empfehlungen_und_layout_konfigurieren">2.1. Empfehlungen und Layout konfigurieren</h3>
<div class="paragraph">
<p>Entscheide, welche Artikel Kunden als Cross-Selling-Artikel angeboten werden. Während die Optionen der Kategorieansicht mehr allgemeine Ergebnisse liefern, sind die Möglichkeiten der Artikelansicht spezieller.</p>
</div>
<div class="paragraph instruction">
<p>Empfehlungen und Layout konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Yoochoose</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Konfiguration</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen gemäß <a href="#tabelle-konfiguration-yoochoose">Tabelle 2</a> vor.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-konfiguration-yoochoose" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Konfiguration</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Empfehlungen für Kategorieansicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option für die Kategorieansicht wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Layout</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template für die Gestaltung der Cross-Selling-Artikelansichten im Webshop wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Empfehlungen für Artikelansicht</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option für die Artikelansicht wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Layout</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Template für die Gestaltung der Cross-Selling-Artikelansichten im Webshop wählen. Standardmäßig ist das Template <strong>ArticleListCrossSelling</strong> eingestellt. Du kannst die Variante <strong>ArticleListCrossSelling2</strong> dieses Templates wählen und in diesem Template z.B. abweichende Einstellungen hinterlegen. So hast du die Möglichkeit, je nach Bedarf verschiedene Ansichten einzustellen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_kaufhistorie_exportieren">2.2. Kaufhistorie exportieren</h3>
<div class="paragraph">
<p>Mit der Funktion <strong>Kaufhistorie exportieren</strong> erstellst du einmalig einen Datensatz mit Informationen zu den Artikeln, die bisher in deinem Webshop verkauft wurden. Auf Grundlage dieser Daten kann YOOCHOOSE ohne umfangreiche Lernphase Empfehlungen erstellen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Kaufhistorie nur einmal exportieren</div>
<div class="paragraph">
<p>Führe die Funktion <strong>Kaufhistorie exportieren</strong> nur einmal zu Beginn deiner Zusammenarbeit mit YOOCHOOSE aus, da Informationen sonst mehrfach bei YOOCHOOSE eingehen und das Ergebnis verfälschen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Kaufhistorie exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Yoochoose</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Kaufhistorie</strong>.</p>
</li>
<li>
<p>Wähle den Zeitraum, für den die Kaufhistorie erstellt werden soll.</p>
</li>
<li>
<p>Klicke auf das <strong>Zahnrad</strong>, um die Daten zu exportieren.<br>
→ Die Daten werden an YOOCHOOSE übermittelt.<br>
<strong><em>Tipp:</em></strong> YOOCHOOSE importiert die Daten zeitversetzt. YOOCHOOSE informiert dich, wenn der Import abgeschlossen ist.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_statistik_abrufen">2.3. Statistik abrufen</h3>
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um eine Auflistung der Ereignisse und Klicks abzurufen, die mit YOOCHOOSE erfolgt sind.</p>
</div>
<div class="paragraph instruction">
<p>Statistiken abrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » Dienste » Yoochoose</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Statistik</strong>.<br>
→ Die Statistik wird nach Datum sortiert angezeigt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_relevante_template_variablen_und_funktionen">2.4. Relevante Template-Variablen und -Funktionen</h3>
<div class="sect3">
<h4 id="_container_yoochoose_recommendations">2.4.1. Container_YOOCHOOSE_Recommendations</h4>
<div class="paragraph">
<p><strong>Container_YOOCHOOSE_Recommendations</strong> entspricht dem Template <strong>Container_ItemViewCrossSellingItemsList</strong> bzw. <strong>Container_ItemViewCrossSellingItemsList2</strong>, nutzt jedoch die von YOOCHOOSE empfohlenen Artikel.</p>
</div>
</div>
<div class="sect3">
<h4 id="_link_crosssellingitem">2.4.2. Link_CrossSellingItem()</h4>
<div class="paragraph">
<p>Das Ziel des Links entspricht der Template-Funktion <strong>Link_Item()</strong>, jedoch wird hier noch ein Parameter angehängt, der den angesehenen Artikel nach dem Klicken des Links als CrossSelling-Artikel identifizierbar macht. Das ist für das Sammeln der Daten für YOOCHOOSE nötig, ist aber auch für andere Anwendungen verwendbar. Der übergebene Parameter heißt <strong>from_crossselling</strong> und hat den Wert <strong>1</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="_zusätzliche_pflichtparameter_für_die_template_funktion_link_crosssellingitem">2.4.3. Zusätzliche Pflichtparameter für die Template-Funktion Link_CrossSellingItem()</h4>
<div class="paragraph">
<p>Diese zusätzlichen Pflichtparameter für die Template-Funktion Link_CrossSellingItem() gewährleisten die korrekte Übertragung der Kategorien. Beachte, dass der Code weder Leerzeichen noch Zeilenumbrüche enthalten darf.</p>
</div>
<div class="paragraph">
<p><strong>[Link_CrossSellingItem()_]&amp;yc1=[Request_CategoryId_Level1]&amp;yc2=[Request_CategoryId_Level2]&amp;yc3=[Request_CategoryId_Level3]&amp;yc4=[Request_CategoryId_Level4]&amp;yc5=[Request_CategoryId_Level5]&amp;yc6=[Request_CategoryId_Level6]</strong></p>
</div>
</div>
<div class="sect3">
<h4 id="_zusätzliche_pflichtparameter_für_die_template_funktion_link_item">2.4.4. Zusätzliche Pflichtparameter für die Template-Funktion Link_Item()</h4>
<div class="paragraph">
<p>Diese zusätzlichen Pflichtparameter für die Template-Funktion Link_Item() gewährleisten die korrekte Übertragung der Kategorien. Beachte, dass der Code weder Leerzeichen noch Zeilenumbrüche enthalten darf.</p>
</div>
<div class="paragraph">
<p><strong>&#123;&#37; Link_CrossSellingItem($_itemID) &#37;&#125;&amp;yc1=$Request_CategoryId[Level1]&amp;yc2=$Request_CategoryId[Level2]&amp;yc3=$Request_CategoryId[Level3]&amp;yc4=$Request_CategoryId[Level4]&amp;yc5=$Request_CategoryId[Level5]&amp;yc6=Request_CategoryId[Level6]</strong></p>
</div>
<div class="paragraph">
<p>Die Parameter für <strong>Link_Item()</strong> müssen im Webshop-Design in allen Artikellisten (z.B. ItemViewCategoriesList) ergänzt werden.</p>
</div>
</div>
</div>
</div>
</div>
</main>