<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Neckermann.at</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Neckermann.at in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating an order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the order status</span></a></li>
<li><a href="#400"><span>5.</span><span> Setting up FTP server access</span></a></li>
<li><a href="#500"><span>6.</span><span> Importing components</span></a></li>
<li><a href="#600"><span>7.</span><span> Linking properties</span></a></li>
<li><a href="#700"><span>8.</span><span> Importing logos</span></a></li>
<li><a href="#800"><span>9.</span><span> Linking categories</span></a></li>
<li><a href="#900"><span>10.</span><span> Activating primary categories</span></a></li>
<li><a href="#1000"><span>11.</span><span> Linking attributes</span></a></li>
<li><a href="#1100"><span>12.</span><span> Linking manufacturers</span></a></li>
<li><a href="#1200"><span>13.</span><span> Displaying exported items</span></a></li>
<li><a href="#1300"><span>14.</span><span> Displaying error reports</span></a></li>
<li><a href="#1400"><span>15.</span><span> Setting the item availability</span></a></li>
<li><a href="#1450"><span>16.</span><span> Defining SKU manually</span></a></li>
<li><a href="#1500"><span>17.</span><span> Providing information on the energy efficiency</span></a></li>
<li><a href="#1600"><span>18.</span><span> Activating the payment method</span></a></li>
<li><a href="#1700"><span>19.</span><span> Creating returns</span></a></li>
<li><a href="#1800"><span>20.</span><span> Cancelling orders</span></a></li>
<li><a href="#1850"><span>21.</span><span> Generating Neckermann invoices</span></a></li>
<li><a href="#1900"><span>22.</span><span> Viewing the API log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Neckermann.at</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Neckermann Austria enables you to present your products on the market <strong>neckermann.at</strong>. On this page, you will find detailed information about the settings you need to carry out in order to set up the market Neckermann Austria in your plentymarkets system. Pay attention to this information in order to ensure the smoothest link-up possible with this market.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Neckermann.at</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you are interested in the partner programme of <a href="http://www.neckermann.at/" target="_blank" rel="noopener">Neckermann Austria</a>, contact Neckermann.at directly. Please note that the neckermann.at website is currently only available in German.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Contact person</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Contact person</th>
<th class="tableblock halign-left valign-top">Email address</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>René Riebenbauer</strong> - Head of Sales Platform and Content Management</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="mailto:rene.riebenbauer@neckermann.at">rene.riebenbauer@neckermann.at</a></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Neckermann.at in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After joining the Neckermann partner programme, use your access data to set up the market in plentymarkets. You can integrate the platform Neckermann.at Enterprise into plentymarkets.
To set up Neckermann.at Enterprise in plentymarkets, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Neckermann.at in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>System » Markets » Neckermann » Neckermann Austria Enterprise</strong> menu.</p>
</li>
<li>
<p>Expand the section <strong>Basic settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Basic settings for the market Neckermann.at</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interface mode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the interface mode.<br>
<strong>Test mode ON</strong> = Select while you configure settings and prepare the interface and items.<br>
<strong>Live mode ON</strong> = Select once you are sure that all settings have been carried out correctly.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Sales partner information</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Partner ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ID that you have received from Neckermann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Company name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the company or the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Surname, first name (contact person); <br>
Telephone number (contact person);<br>
Email address (contact person)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the contact person’s name, telephone number and email address.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Item settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard tax rate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>10%</strong> or <strong>20%</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reduced tax rate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>7%</strong> or <strong>19%</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a text field that is transferred to Neckermann as the item name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name (maximum length)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>35 characters</strong> or <strong>65 characters</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item preview text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a text field that is transferred to Neckermann as the item preview text.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item preview text (maximum length)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>30 characters</strong> or <strong>50 characters</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Short item text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a text field that is transferred to Neckermann as short item text.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a text field that is transferred to Neckermann as the item description.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer item without assigning it to a brand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>No</strong> = Items are transferred and assigned to a brand by default.<br>
<strong>Yes</strong> = Items are transferred without being assigned to a brand.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position for energy label</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the image position of the item image if the energy label is saved as an item image instead of as a property. For further information about the energy label, refer to the <a href="/en/omni-channel/multi-channel/neckermann/neckermann-at-setup#1500">Providing information on the energy efficiency</a> chapter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer cross-selling</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>No</strong> = Cross-selling settings are not transferred by default.<br>
<strong>Yes</strong> = Cross-selling settings are transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer RRP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>No</strong> = RRP is not transferred by default.<br>
<strong>Yes</strong> = RRP is transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item dimensions saved in the item data</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the item dimensions.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer client (store) ID?</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>No</strong> = The ID is not transferred by default.<br>
<strong>Yes</strong> = The ID is transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard commission model</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the commission model that you received from Neckermann.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The transferred stock is reduced by the entered value. This ensures that an item cannot be completely sold out on this market.<br>
<strong>Example</strong>: For an item with a stock of 50 and a stock buffer of 10, the value 40 is transferred as stock. For further information, refer to the <a href="#en/stock-management/managing-stocks">Stock</a> page of the manual.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery periods</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard delivery time</strong> = Enter the delivery time in days. The number of days you enter here is the standard delivery time that most of your shipments require.<br>
<strong>Item delivery time 1 - 5</strong> = Enter the delivery time in days for each option. Set up the options for item availability in the <a href="/en/item/managing-items#190">System » Item » Availability</a> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Feature list</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a text field or <strong>Do not transfer</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer item number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>No</strong> = The item number is not transferred.<br>
<strong>Yes</strong> = The item number is transferred during item export. A maximum of 20 characters will be transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Overwrite the availability of items that are not limited to stock, if the stock is 0?</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Yes, with item availability 1 bis 5</strong> = Overwrite the availability with the value of the item availability 1 to 5 (see delivery periods). <br>
<strong>No</strong> = Do not overwrite the availability.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock quantity for items that are not limited to stock, if the stock is 0</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the stock quantity that should be displayed if the stock is missing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Order settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Book orders as not paid for</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Yes</strong> = In the default setting, orders are <strong>unpaid</strong> when they arrive in the system. This is because payment processing takes place at a later point in time.<br>
<strong>No</strong> = Orders are booked as <strong>paid</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Save package number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Yes</strong> = The package number is transferred by default.<br>
<strong>No</strong> = The package number is not transferred.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic functions to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Daily item export</p>
</li>
<li>
<p>Hourly stock synchronisation</p>
</li>
<li>
<p>Hourly order import</p>
</li>
<li>
<p>Hourly forwarding of shipping confirmations</p>
</li>
<li>
<p>Hourly forwarding of returns</p>
</li>
<li>
<p>Hourly forwarding of cancellations</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Transfer of package numbers</div>
<div class="paragraph">
<p>Every single Neckermann order must not possess more than one package number. If this precondition is not fulfilled, the orders concerned are not forwarded to Neckermann!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating an order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with Neckermann.at, you have to activate the order referrer Neckermann.at in the menu <strong>System » Orders » Order referrer</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Neckermann.at:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Place a check mark next to <strong>Neckermann.at</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the order status</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set the order statuses for cancellations and determine when returns are forwarded to Neckermann.</p>
</div>
<div class="paragraph instruction">
<p>Setting the order status:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>System » Markets » Neckermann Austria Enterprise</strong> menu.</p>
</li>
<li>
<p>Expand the section <strong>Order status</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in table 2.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. Setting the order status</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status for total cancellation "stock cancellation"</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status, e.g. <strong>[8] Cancelled</strong>, <strong>[9] Return</strong> or <strong>[10] Warranty</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status for total cancellation "customer cancellation"</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status, e.g. <strong>[8] Cancelled</strong>, <strong>[9] Return</strong> or <strong>[10] Warranty</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Report returns when they reach status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status, e.g. <strong>[9] Return</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">5. Setting up FTP server access</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up your FTP server access in this chapter. Neckermann requires FTP server access for importing orders and invoices.</p>
</div>
<div class="paragraph instruction">
<p>Setting up FTP server access:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>System » Markets » Neckermann Austria Enterprise</strong> menu.</p>
</li>
<li>
<p>Expand the section <strong>FTP server</strong>.</p>
</li>
<li>
<p>Enter the access data that you have received from Neckermann.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">6. Importing components</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Components of the market Neckermann correspond to the properties in plentymarkets. Properties in plentymarkets must be linked to Neckermann components. This is done by uploading a CSV file which contains the Neckermann components. You will receive this file after having closed a contract with Neckermann.</p>
</div>
<div class="paragraph instruction">
<p>Importing Neckermann components:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the file from Neckermann.</p>
</li>
<li>
<p>Select and copy the columns <strong>COMPONENT_ID</strong> and <strong>COMPONENT_NAME</strong>.</p>
</li>
<li>
<p>Insert the columns into a new file in a spreadsheet program.</p>
</li>
<li>
<p>Save the file in CSV format on your computer.</p>
</li>
<li>
<p>Open the <strong>System » Markets » Neckermann Austria Enterprise</strong> menu.</p>
</li>
<li>
<p>Expand the section <strong>Component import</strong>.</p>
</li>
<li>
<p>Select the field separator.</p>
</li>
<li>
<p>Click on <strong>Select file</strong>.</p>
</li>
<li>
<p>Open the CSV file.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The Neckermann components are available in the drop-down lists of properties.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">7. Linking properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the next step, link your <a href="/en/en/item/managing-items#480">properties</a> with the Neckermann components.</p>
</div>
<div class="paragraph instruction">
<p>Linking properties:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Expand a property.</p>
</li>
<li>
<p>Select the Neckermann component from the <strong>Neckermann.at EP component</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">8. Importing logos</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Neckermann provides you with various logos, e.g. for features or characteristics that designate quality. The import is done by uploading a CSV file which contains the Neckermann data. Link logos in the same way as you link Neckermann components.</p>
</div>
<div class="paragraph instruction">
<p>Importing Neckermann logos:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the file from Neckermann.</p>
</li>
<li>
<p>Select and copy the columns <strong>LOGO_ID</strong>, <strong>LOGO_DESCRIPTION</strong> and <strong>Short description</strong>.</p>
</li>
<li>
<p>Insert the columns into a new file in a spreadsheet program. The file name must be <strong>LOGO_ID;LOGO_NAME;SHORT_NAME</strong>.</p>
</li>
<li>
<p>Save the file in CSV format on your computer.</p>
</li>
<li>
<p>Open the <strong>System » Markets » Neckermann Austria Enterprise</strong> menu.</p>
</li>
<li>
<p>Expand the section <strong>Import info logo</strong>.</p>
</li>
<li>
<p>Select the field separator.</p>
</li>
<li>
<p>Click on <strong>Select file</strong>.</p>
</li>
<li>
<p>Open the CSV file.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The Neckermann logos are now available in the drop-down lists of properties.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">9. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Neckermann provides you with a file which contains the categories that need to be assigned to the categories of your online store. The categories are then linked and further items from the linked category are assigned automatically.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>System » Markets » Neckermann Austria Enterprise</strong> menu.</p>
</li>
<li>
<p>Click on the <strong>Link categories</strong> tab.</p>
</li>
<li>
<p>Enter the categories into the <strong>Neckermann category ID</strong> column.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">10. Activating primary categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you have linked one item to several different categories, e.g. if you are using different category links for different markets, then you can activate the primary category in the <strong>Categories</strong> tab of an item. If you do not activate a primary category, the first category is automatically used as the primary category.</p>
</div>
<div class="paragraph instruction">
<p>Activating the primary category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open an item.</p>
</li>
<li>
<p>Open the <strong>Categories</strong> tab.<br>
→ Primary categories are only available under <strong>Category links</strong> if the market <strong>Neckermann</strong> is activated.</p>
</li>
<li>
<p>Activate a primary category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">11. Linking attributes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you have created <a href="/en/en/item/managing-items#390">attributes</a> in your plentymarkets system, you have to link these attributes with Neckermann. To do so, you have to import the <a href="/en/en/omni-channel/multi-channel/neckermann-at#50">Neckermann components</a> first. Proceed as described below to link the attribute Colour with Neckermann. Link further attributes in the same way.</p>
</div>
<div class="paragraph instruction">
<p>Linking attributes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Attributes</strong>.<br>
→ An overview of all existing attributes opens.</p>
</li>
<li>
<p>Expand the attribute <strong>Colour</strong>.</p>
</li>
<li>
<p>Open the <strong>Market variation</strong> tab.</p>
</li>
<li>
<p>Select the option <strong>Neckermann.at Enterprise</strong> from the <strong>Market</strong> drop-down list.<br>
→ An additional drop-down list <strong>Neckermann.at Enterprise</strong> is displayed below.</p>
</li>
<li>
<p>Select the attribute <strong>Colour</strong> from the <strong>Neckermann.at Enterprise</strong> drop-down list.</p>
</li>
<li>
<p>Enter values into the column <strong>Neckermann.at Enterprise</strong> under <strong>Market variation</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">12. Linking manufacturers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Brand IDs for Neckermann.at are imported via the dynamic data exchange.</p>
</div>
<div class="paragraph instruction">
<p>Importing brand Ids from Neckermann.at:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Dynamic export » Tab: New data format</strong>.</p>
</li>
<li>
<p>Select the setting <strong>Producer</strong> under <strong>Data format type</strong>.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Activate the fields <strong>ProducerID</strong>, <strong>ProducerName</strong> and <strong>ProducerNeckermannID_AT_EP</strong> or <strong>ProducerNeckermannID_AT_CD</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The <strong>Edit data format</strong> tab opens.</p>
</li>
<li>
<p>Expand the data format.</p>
</li>
<li>
<p>Click on <strong>Export data</strong>.</p>
</li>
<li>
<p>Save the CSV file on your computer.</p>
</li>
<li>
<p>Enter the corresponding manufacturer IDs into the <strong>ProducerNeckermannID</strong> column of the CSV file.<br>
→ The IDs can be found in the file you received from Neckermann.</p>
</li>
<li>
<p>Go to <strong>Data » Dynamic import</strong>.</p>
</li>
<li>
<p>Select the field separator.</p>
</li>
<li>
<p>Select you data format under <strong>Format</strong>.</p>
</li>
<li>
<p>Click on <strong>Select file</strong>.</p>
</li>
<li>
<p>Open the CSV file.</p>
</li>
<li>
<p>Click on <strong>Import</strong>.<br>
→ After having imported the brand IDs, you can find the Neckermann ID of a manufacturer in the <strong>System » Item » Manufacturers</strong> menu.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Format of the CSV file</div>
<div class="paragraph">
<p>The CSV file must not have a header. The first column contains the manufacturer ID and the second column contains the Neckermann brand IDs. Each manufacturer ID in the first column is assigned to the corresponding brand ID in the second column.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">13. Displaying exported items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Search for items that you have already transferred to Neckermann in the <strong>System » Markets » Neckermann Austria Enterprise » Tab: Transferred items</strong> menu. Enter the item ID, the name or the Neckermann number into the search field to search for specific items or leave the search field empty and click on Item search to display all results.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">14. Displaying error reports</h2>
<div class="sectionbody">
<div class="paragraph">
<p>All operations relating to the market Neckermann are recorded in your plentymarkets system. You can retrieve error reports containing a list of all error messages and notes with the corresponding IDs. In the <strong>Error reports</strong> menu, all errors related to your stock used for Neckermann are displayed. The following types of errors are distinguished:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Note</strong>: A note is displayed.</p>
</li>
<li>
<p><strong>Warning</strong>: In case of warnings, all items are imported.</p>
</li>
<li>
<p><strong>Error</strong>: In case of errors, no faulty items are imported.</p>
</li>
<li>
<p><strong>Critical error</strong>: In case of critical errors, no items are imported.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Retrieving error reports:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>System » Markets » Neckermann Austria Enterprise</strong> menu.</p>
</li>
<li>
<p>Open the <strong>Error reports</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Retrieve error reports</strong>.<br>
→ The error reports are retrieved and displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The list <strong>Latest error reports</strong> provides information about type and number of errors for the following data types:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Media (images)</strong>: Information about media files.</p>
</li>
<li>
<p><strong>Catalogue</strong>: Information about the catalogue and all included items of a seller.</p>
</li>
<li>
<p><strong>Stock synchronisation</strong>: Information about the hourly stock synchronisation and price synchronisation.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>In case of errors due to incorrect item data occurring during the item export from plentymarkets, information about the affected item as well as the error type can be found in the error message. Fix the error and check whether there are additional error messages after you have carried out the next automatic item export.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Description of error messages</div>
<div class="paragraph">
<p>For further information about error messages, contact Neckermann. Ask your Neckermann contact person, if needed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">15. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for Neckermann.at. This is done in the <strong>Availability</strong> tab of an item within the <a href="/en/en/item/managing-items#170">Item » Edit item » Open item » Tab: Variation ID</a> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for Neckermann.at:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the selection field in the <strong>Markets</strong> section. <br>
→ A list with all available markets is displayed.</p>
</li>
<li>
<p>Activate Neckermann.at Enterprise.</p>
</li>
<li>
<p>Activate the option Web API.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Open the <strong>Multi-Channel</strong> tab.</p>
</li>
<li>
<p>Select an <strong>Enterprise commission model</strong>.</p>
</li>
<li>
<p>Select an <strong>Enterprise item type</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edited in the <strong>Item » Edit item » Open item » Tab: Variations » Open variation » Tab: Variation ID » Tab: Availability</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1450">16. Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the menu <a href="/en/en/item/managing-items#170">Item » Edit item » Open item » Tab: Variation ID » Tab: Availability</a> if needed.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add</strong> in the section <strong>SKU</strong>.<br>
→ The window <strong>New SKU</strong> is displayed.</p>
</li>
<li>
<p>Select the referrer <strong>Neckermann.at</strong>.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Information about the commission model and the item type is provided by Neckermann.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">17. Providing information on the energy efficiency</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To comply with EU regulations on energy efficiency that came into force on 1 January 2015, you have to provide information on the energy efficiency of certain items to sell them on Neckermann. In addition, you have to make product data sheets available to potential buyers of these items. Create the following <a href="/en/en/item/managing-items#480">properties</a> to comply with these EU regulations:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Energy efficiency class</strong><br>
Property type: <strong>No</strong></p>
</li>
<li>
<p><strong>Energy label</strong><br>
Property type: <strong>File</strong><br>
File format: e.g. <strong>JPG</strong> or <strong>PNG</strong> (image format)</p>
</li>
<li>
<p><strong>Product data sheet</strong><br>
Property type: <strong>File</strong><br>
File format: <strong>PDF</strong></p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating the property energy efficiency class:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Open the <strong>New Property</strong> tab.</p>
</li>
<li>
<p>Enter the name in the <strong>Name (internal)</strong> field.</p>
</li>
<li>
<p>Select the property type <strong>No</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Select the property type <strong>File</strong> and the Neckermann property <strong>Energy label</strong> or <strong>Product data sheet</strong> for the properties Energy label and Product data sheet. The following example describes how to create the energy label for Neckermann.at.</p>
</div>
<div class="paragraph instruction">
<p>Creating the property energy label:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Open the <strong>New Property</strong> tab.</p>
</li>
<li>
<p>Enter the name in the <strong>Name (internal)</strong> field.</p>
</li>
<li>
<p>Select the property type <strong>File</strong>.</p>
</li>
<li>
<p>Select the property <strong>Energy label</strong> under <strong>Neckermann.at EP property</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Link the properties in the <a href="/en/en/item/managing-items#80">Properties</a> tab of an item.</p>
</div>
<div class="paragraph instruction">
<p>Linking energy efficiency properties:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>Activate the properties <strong>Energy efficiency class</strong>, <strong>Energy label</strong> and <strong>Product data sheet</strong> that you have just created.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The properties are displayed in the list.</p>
</li>
<li>
<p>Upload the image file of the energy label to the <strong>Energy label</strong> property.</p>
</li>
<li>
<p>Upload the PDF file of the product data sheet to the <strong>Product data sheet</strong> property.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Instead of linking the <strong>Energy label</strong> property, you can also upload the energy label file to the <a href="/en/en/item/managing-items#90">Images</a> tab of the item. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Uploading the energy label as an image:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Open the <strong>Images</strong> tab.</p>
</li>
<li>
<p>Add the image file of the energy label either via <strong>Select files</strong> or via the drag &amp; drop function.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Open the <strong>System » Markets » Neckermann Austria Enterprise</strong> menu.</p>
</li>
<li>
<p>In the <strong>Basic settings</strong> section, enter the image’s position number into <strong>Image position for energy label</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">18. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <a href="#en/order-processing/payment/managing-payment-methods">payment method</a> <strong>Neckermann Payment</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating the Neckermann payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>Neckermann Payment</strong>.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 3.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong> and <strong>Upload logo</strong>. This makes it possible to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you have selected the option <strong>Info page (external)</strong> under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a country of delivery.<br>
 You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely configured.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method will be displayed.<br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> has been selected from the <strong>Logo</strong> drop-down list, then the logo that has been uploaded is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, you can upload an external logo here.<br>
 Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG and JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract. <strong>Important</strong>: Do not enter a value into both fields.<br>
For further information, refer to the <a href="#en/basics/statistics">Statistics</a> page of the manual. For an example of flat rate and percentage costs, refer to the <a href="#en/order-processing/payment/managing-payment-methods">Managing payment methods</a> page of the manual.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>System » CRM » Classes</strong> to activate or deactivate <strong>Permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/en/order-processing/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/en/order-processing/payment/managing-payment-methods">Payment methods</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1700">19. Creating returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Create returns for Neckermann in the menu <strong>Orders » Edit orders</strong>. The <strong>package code</strong> which can be found on the return label is required.</p>
</div>
<div class="paragraph instruction">
<p>Creating returns:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the order.</p>
</li>
<li>
<p>Select the option <strong>create</strong> from the <strong>Return…​</strong> drop-down list in the <strong>Overview</strong> tab.<br>
→ The <strong>Return for the order</strong> window opens.</p>
</li>
<li>
<p>Enter the <strong>package code of the return</strong>.</p>
</li>
<li>
<p>Place a check mark in the <strong>Accept</strong> column under <strong>Item</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The return is created and opened. The code is saved in the return’s <strong>Settings</strong> tab.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Package code of the return</div>
<div class="paragraph">
<p>The package code cannot be entered after the return was created. It can only be entered while creating the return.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1800">20. Cancelling orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Because there is no possibility to delete cancellations e.g. of individual items in an order, set the quantity of items affected to 0 in this case. Provide a reason for each cancellation, either <strong>Item not in stock</strong> or <strong>Customer cancellation</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1850">21. Generating Neckermann invoices</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The procedure for generating Neckermann invoices differs from the procedure for other order referrers. This is why there is an additional menu for generating Neckermann invoices in plentymarkets. Invoices for <strong>Neckermann orders</strong> are not generated in your plentymarkets system, as is the case for invoices that have other order referrers. Instead, your plentymarkets system receives a special file (pcl format) directly from the market Neckermann, which contains the orders that you received.</p>
</div>
<div class="paragraph">
<p>You can carry out settings related to the layout of the invoices by going to <strong>System » Client (store) » Select a client » Locations » Select a location » Documents » Invoice</strong>. Go to <strong>System » Orders » Events</strong> in order to define which additional procedure should be carried out should be carried out when the invoice is printed. If you would like the procedure to be limited to orders from the Neckermann market only, then make sure that you create a filter of the filter type <strong>Referrer</strong> and select <strong>Neckermann</strong> within the filter.</p>
</div>
<div class="paragraph">
<p>Use the <strong>Generate Neckermann invoices</strong> menu to filter out the orders of your choice from all of the Neckermann orders that you received and to open the corresponding invoices in a separate file. With the help of the search filter in this section, you can determine which criteria should be used to select orders for the retrieval of invoices.</p>
</div>
<div class="paragraph instruction">
<p>Retrieving Neckermann invoices:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Fulfillment » Generate Neckermann invoices</strong>.</p>
</li>
<li>
<p>Set the desired <strong>search filter</strong> options.</p>
</li>
<li>
<p>Under <strong>Procedure</strong>, select the <strong>Order status</strong> that you would like to have assigned to the selected orders after the invoices were successfully retrieved.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 4.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong>.<br>
→ A <strong>zip file</strong> is created which contains the invoices corresponding to all of the orders that you selected with the filter options.</p>
</li>
<li>
<p>After you have unzipped this file, you can save and print your invoices.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. Settings for Neckermann invoice</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the current <strong>status</strong> of the orders that you would like to generate invoices for.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Items shipped on</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the date from the calendar. The date when items were shipped can only be used as a filter if you selected status <strong>[7] Outgoing items booked</strong> from the <strong>Order status</strong> drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an <strong>owner</strong> for the orders that you are searching for. Alternatively, select the option <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the <strong>stores</strong> or select the option <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limit the search to a particular <strong>warehouse</strong> or carry out the search for <strong>ALL</strong> warehouses.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You have to limit the number of invoices that can be generated to one of the values in the drop-down menu. The maximum is 200 invoices.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a new <strong>order status</strong> that you would like to have assigned to the selected orders after the invoices were successfully retrieved. Alternatively, select the option <strong>no change</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1900">22. Viewing the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The menu <strong>Data » API log » Tab: API log</strong> contains a history of processes that run via the Neckermann interface. The formats <strong>NeckermannATEP</strong> and <strong>NeckermannATCD</strong> are available for Neckermann.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » API log</strong>.</p>
</li>
<li>
<p>Select the <strong>NeckermannATEP</strong> format from the <strong>Process</strong> drop-down list.</p>
</li>
<li>
<p>Select a date if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Select the number of results per page.</p>
</li>
<li>
<p>Click on <strong>Search</strong> to display the results.</p>
</li>
</ol>
</div>
</div>
</div>
</main>