<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Using key figures in the plentymarkets app</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Setting up a page</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Setting up the display of key figures</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Supported key figures</span></a></li>
<li><a href="#500"><span>1.4.</span><span> Deleting a key figure</span></a></li>
<li><a href="#600"><span>1.5.</span><span> Deleting a page</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Key performance indicators</h1><div class="sect1">
<h2 id="100">1. Using key figures in the plentymarkets app</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Do you want to know how many orders have come in this month? Or how many new customers you have gained? In the plentymarkets app, you can display the most important key figures on the start page after logging in.</p>
</div>
<div class="sect2">
<h3 id="200">1.1. Setting up a page</h3>
<div class="paragraph">
<p>In the first step, you set up a so-called <strong>page</strong> to be displayed as the start page of the app. You need to set up at least one page to display key figures on it.</p>
</div>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p><a href="/en/app/installation#1100">Log in to the app</a>.</p>
</li>
<li>
<p>Tap on the pencil icon (<span class="icon blue"><i class="fa fa-pencil  "></i></span>) in the top right corner and then on <strong>Add new page</strong>.<br>
→ The window <strong>New page</strong> opens.</p>
</li>
<li>
<p>Enter a name for the page, for example <strong>30-day overview</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Setting up the display of key figures</h3>
<div class="paragraph">
<p>Proceed according to the following instructions to set up key figures. As an example, we show how to display the total number of orders available in your plentymarkets system.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the plentymarkets app.</p>
</li>
<li>
<p>Tap on the pencil icon (<span class="icon blue"><i class="fa fa-pencil  "></i></span>) in the top right corner and then on <strong>Add new key figure</strong>.<br>
→ The key figure menu opens.</p>
</li>
<li>
<p>In the drop-down list, select the option <strong>Orders</strong>.</p>
</li>
<li>
<p>Tap on <strong>OK</strong> to confirm your selection.</p>
</li>
<li>
<p>Tap on the newly created field to carry out the settings described in <a href="#table-app-key-figures-settings">Table 1</a> to specify the range of data used for displaying the key figure.</p>
</li>
<li>
<p>Tap on the check mark (<span class="icon blue"><i class="fa fa-check  "></i></span>) in the upper right corner to confirm the change.</p>
</li>
</ol>
</div>
<table id="table-app-key-figures-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Available settings for the key figure <strong>Orders</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Colour</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tap on <strong>Choose colour</strong> to determine the colour in which the key figure is displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Time span</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A period of 30 days is selected by default. If desired, select another period or the option <strong>Date selection</strong> to determine a fixed start and end date to limit the key figure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Starting date</strong> and <strong>Ending date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you have selected the option <strong>Date selection</strong> for the <strong>Time span</strong> setting, you can select a fixed start and end date here to limit the key figure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>From status</strong> and <strong>To status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine a status range so that only orders that are currently in the selected <a href="/en/orders/managing-orders#1200">order statuses</a> are considered for the key figure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more <a href="/en/online-store/setting-up-clients">clients</a> of your system whose orders are to be considered for the key figure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Orders with outgoing items booked only</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option to only consider orders for which <a href="/en/stock-management/outgoing-items">outgoing items</a> have already been booked.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order types</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more <a href="/en/orders/managing-orders#100">order types</a> that are to be considered for the key figure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more <a href="/en/orders/order-referrer">order referrers</a> that are to be considered for the key figure.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Further differentiation of order key figures</div>
<div class="paragraph">
<p>If, for example, you only want to show the returns available in your system as a separate key figure on the start page, set up a separate key figure and only select the order type <strong>Return</strong>. Use the settings <strong>Name</strong> and <strong>Colour</strong> to customise the display on the start page to allow for a better overview.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="400">1.3. Supported key figures</h3>
<div class="paragraph">
<p>The following additional key figures can be set up and used in the plentymarkets app:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Average orders</p>
</li>
<li>
<p>New customers</p>
</li>
<li>
<p>Unpaid orders</p>
</li>
<li>
<p>Unassigned payments</p>
</li>
<li>
<p>New items</p>
</li>
<li>
<p>Revenue</p>
</li>
<li>
<p>Average revenue</p>
</li>
<li>
<p>Sold items</p>
</li>
<li>
<p>Average items sold</p>
</li>
<li>
<p>Items per order</p>
</li>
<li>
<p>Active listings</p>
</li>
<li>
<p>Started listings</p>
</li>
<li>
<p>Incoming items</p>
</li>
<li>
<p>Reorder level</p>
</li>
</ul>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Different settings available</div>
<div class="paragraph">
<p>Depending on the key figure, different options are available for setup. For example, you can limit the key figure <strong>New customers</strong> depending on the customer class and country of delivery.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Add as many key figures as required. After you have finished adding key figures, your overview could look like this:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/app/assets/app-key-figures.png" alt="app key figures" width="350">
</div>
<div class="title">Figure 1. Example: 30-day overview</div>
</div>
</div>
<div class="sect2">
<h3 id="500">1.4. Deleting a key figure</h3>
<div class="paragraph">
<p>If you do not need the display of the key figure any more, you can delete it.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a key figure:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Tap on the key figure that you want to delete.</p>
</li>
<li>
<p>In the settings menu, tap on <strong>Delete</strong>.<br>
→ A confirmation window opens.</p>
</li>
<li>
<p>Tap on <strong>Delete</strong>.<br>
→ The key figure is deleted.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="600">1.5. Deleting a page</h3>
<div class="paragraph">
<p>Do you want to delete a complete page instead of just one key figure? Then proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a page:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the page that you wish to delete.</p>
</li>
<li>
<p>Tap on the pencil icon (<span class="icon blue"><i class="fa fa-pencil  "></i></span>) in the top right corner.</p>
</li>
<li>
<p>Tap on <strong>Delete page</strong>.<br>
→ A confirmation window opens.</p>
</li>
<li>
<p>Tap on <strong>Delete</strong>.<br>
→ The page is deleted.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>