<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best practice: Use out of stock-option</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In this best practice, we will show you which settings you need to carry out in order to use the <strong>"Out of stock" option</strong> on eBay.<br>
The <strong>"Out of stock" option</strong> indicates that an item or a variation is currently out of stock.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Note</div>
</td>
<td class="content">
<div class="title">First things first</div>
<div class="ulist">
<ul>
<li>
<p>The listing’s stock dependence has to be set to <strong>limited (without reservation)</strong>.</p>
</li>
<li>
<p>The duration of the market listing must be <strong>endless (GTC)</strong>.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_enabling_plentymarkets_to_endhide_offers_automatically">Enabling plentymarkets to end/hide offers automatically</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Listings » Stock</strong>.</p>
</li>
<li>
<p>Activate the option <strong>End/hide offers automatically</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The automatism is now active.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_activating_the_automatic_stock_update">Activating the automatic stock update</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Markets » eBay » Settings</strong>.</p>
</li>
<li>
<p>Open the tab <strong>Initial settings</strong>.</p>
</li>
<li>
<p>Select the value <strong>Yes</strong> for the option <strong>Activate automatic stock update</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The stock in plentymarkets can now be synchronised with the stock on eBay.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_activating_the_out_of_stock_option">Activating the "Out of stock" option</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Within the same menu, open the tab <strong>Account settings</strong>.</p>
</li>
<li>
<p>Select the account which you want to use the option for.</p>
</li>
<li>
<p>Select the value <strong>Yes</strong> for the <strong>Use "out of stock" option</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The option is automatically activated on eBay as well.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Tip</div>
</td>
<td class="content">
<div class="title">Wait and see</div>
<div class="paragraph">
<p>You have now carried out all required settings in your plentymarkets system.<br>
Items or variations without stock will be hidden on eBay within the next 20 minutes.<br>
As soon as you add stock to your item, the item will again be displayed on eBay.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>