<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>FAQ</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This best practice provides some useful tips for eBay.</p>
</div>
</div>
</div><div class="sect3">
<h4 id="_why_are_orders_not_imported_into_my_system">Why are orders not imported into my system?</h4>
<div class="paragraph">
<p>In this case, it can be useful to check the log. If orders are not imported, the process <strong>AuctionControllerOrders</strong> is helpful.</p>
</div>
<div class="olist upperalpha">
<ol class="upperalpha" type="A">
<li>
<p>Has your eBay token expired?
You can check if your eBay token has expired within the <strong>System » System settings » Markets » eBay » Accounts</strong> menu.</p>
</li>
<li>
<p>Has the order been stored in the data exchange?
This happens if a customer has not completed the checkout and has eBay calculate the shipping costs .
You can view those orders within <strong>System » System settings » Markets » eBay » Data exchange</strong>.</p>
</li>
</ol>
</div>
</div><div class="sect3">
<h4 id="_invalid_selection_of_a_variation_in_a_market_listing">Invalid selection of a variation in a market listing</h4>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Tip</div>
</td>
<td class="content">
<div class="title">Has the variation been released for export?</div>
<div class="paragraph">
<p>First check whether the variations have been released for the export.<br>
For more information, refer to the corresponding best practice.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>If the export settings of the variation are correct, the cause may be changes in the content of the variation.<br>
Whenever you change the content of a variation after creating the listing, these changes also have to be applied to the listing.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the corresponding listing’s LID.</p>
</li>
<li>
<p>Adjust the content within the listing’s settings and save the settings.</p>
</li>
</ol>
</div>
</div><div class="sect3">
<h4 id="_why_is_a_listing_not_ended_or_restarted_automatically">Why is a listing not ended or restarted automatically?</h4>
<div class="olist upperalpha">
<ol class="upperalpha" type="A">
<li>
<p>Is the option <strong>End/hide offers automatically</strong> activated?
This option is activated in the <strong>System » System settings » Listings » Stock</strong> menu.</p>
</li>
<li>
<p>Is the <strong>automatic stock update</strong> activated?
The automatic stock update is activated in the <strong>System » System settings » Markets » eBay » Settings » Initial settings</strong> menu.
The stock dependence has to be set to <strong>limited (without reservation)</strong>.</p>
</li>
<li>
<p>Is the option <strong>Use out of stock control</strong> activated?
The <strong>Use out of stock control</strong> option is activated in the <strong>System » System settings » Markets » eBay » Settings » Account settings</strong> menu.</p>
</li>
</ol>
</div>
</div><div class="sect3">
<h4 id="_which_price_is_prioritised_if_there_is_more_than_one_sales_price">Which price is prioritised if there is more than one sales price?</h4>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Tip</div>
</td>
<td class="content">
<div class="title">More than one sales price</div>
<div class="paragraph">
<p>You can create as many prices as desired within <strong>System » System settings » Item » Sales prices</strong>.<br>
Therefore, you can create individual prices for each eBay account and each eBay platform if the prices differ.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>If there is more than one sales price with similar settings, the prices will be prioritised according to fixed criteria.<br>
For more information on the priorities, refer to the following list.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Sales prices which are only released for one <strong>market</strong> are prioritised over sales prices which are released for several or all <strong>markets</strong>.<br></p>
</li>
<li>
<p>Sales prices which are only released for one <strong>country</strong> are prioritised over sales prices which are released for several or all <strong>countries</strong>.<br></p>
</li>
<li>
<p>Sales prices which are only released for one <strong>eBay account</strong> are prioritised over sales prices which are released for several or all <strong>eBay accounts</strong>.<br></p>
</li>
<li>
<p>Sales prices which are only released for one <strong>currency</strong> are prioritised over sales prices which are released for several or all <strong>currencies</strong>.<br></p>
</li>
<li>
<p>Sales prices which have a higher <strong>minimum quantity</strong> are prioritised over sales prices which have a <strong>minimum quantity of 1</strong>.<br></p>
</li>
<li>
<p>Sales prices which are only released for one <strong>customer class</strong> are prioritised over sales prices which are released for several or all <strong>customer classes</strong>.<br></p>
</li>
</ul>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Note</div>
</td>
<td class="content">
<div class="title">Important:</div>
<div class="paragraph">
<p>Only sales prices which meet the respective search criteria will be checked.
The referrer and the eBay accounts are relevant for eBay.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div><div class="sect3">
<h4 id="_why_is_the_order_marked_as_ebay_plus_on_ebay_but_not_in_my_plentymarkets_system">Why is the order marked as eBay Plus on eBay but not in my plentymarkets system?</h4>
<div class="paragraph">
<p>Please note that the flag for eBay Plus is only transferred to us after the customer has completed the checkout on eBay.</p>
</div>
<div class="paragraph">
<p>If the shipping costs are calculated by eBay, orders with unfinished checkout will be stored within <strong>System » System settings » Markets » eBay » Data exchange</strong>.<br>
The option <strong>Automatically combine open eBay orders</strong> is activated within <strong>System » System settings » Listings » Checkout</strong>.<br>
If a duration of e.g. one hour is defined in this menu, orders will be imported into plentymarkets after one hour, regardless of whether the checkout has been completed or not.<br></p>
</div>
<div class="paragraph">
<p>The eBay Plus flag will <strong>not</strong> be requested afterwards.</p>
</div>
</div><div class="sect3">
<h4 id="_which_data_can_be_changed_at_active_listings_and_when">Which data can be changed at active listings and when?</h4>
<div class="paragraph">
<p>For information about which data you can change in an active listing and when you can apply changes to an active listing, refer to this <a href="http://pages.ebay.de/help/sell/listing-variations.html" target="_blank" rel="noopener">eBay page</a>.<br></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Note</div>
</td>
<td class="content">
<div class="title">Important:</div>
<div class="paragraph">
<p>If you have already sold your offer, you can only change your listing to a certain extent. For further information, refer to the link above.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div><div class="sect3">
<h4 id="_what_do_the_error_messages_mean">What do the error messages mean?</h4>
<div class="paragraph">
<p>Many errors which occur when setting up listings are issued by eBay and then displayed in your plentymarkets system.
For an overview of error messages, refer to the following list of <a href="http://developer.ebay.com/devzone/xml/docs/reference/ebay/errors/errormessages.htm" target="_blank" rel="noopener">eBay error messages</a>.</p>
</div>
<div class="sect4">
<h5 id="_variation_specifics_cannot_be_changed_variation_specifics_cannot_be_changed_in_restricted_revise">Variation specifics cannot be changed. Variation specifics cannot be changed in restricted revise.</h5>
<div class="paragraph">
<p>Refer to the chapter <strong>Which data can be changed at active listings and when?</strong><br>
If this error message occurs, the variations in plentymarkets do not match the variations on eBay any longer.<br>
Therefore, the variations, including attribute name and values, have to be changed so that they correspond with the listing.</p>
</div>
<div class="paragraph">
<p><strong>Solution:</strong><br>
Compare the eBay attributes and attribute names to the attributes and attribute names in plentymarkets. Also bear in mind the attribute link in the <strong>System » System settings » Item » Attributes</strong> menu if you use an attribute link for this category.<br></p>
</div>
</div>
<div class="sect4">
<h5 id="_variation_specifics_mismatch_variation_specifics_provided_does_not_match_with_the_variation_specifics_of_the_variations_on_the_item">Variation Specifics Mismatch. Variation Specifics provided does not match with the variation specifics of the variations on the item.</h5>
<div class="paragraph">
<p>This error message is either issued during the automatic relisting process or if you select the option <strong>End and restart</strong>.<br></p>
</div>
<div class="paragraph">
<p>In these cases it is possible to keep the old listing’s ranking and to transfer the ranking to the new listing.<br>
eBay expects that the variations which have already been sold are not changed.<br>
If this happens, the aforementioned error message will be issued and restarting the listing will fail.<br></p>
</div>
<div class="paragraph">
<p><strong>Solution</strong>:<br>
A.
Restore the variations to their state in the old listing.
This means that if you removed variations, you have to add them again. If you changed the variations' names, you have to undo the change or create an attribute link for the corresponding attribute within <strong>System » System settings » Item » Attributes</strong>.</p>
</div>
<div class="paragraph">
<p>B.
End the listing with the option <strong>End and delete</strong> and restart it with the group function.
However, the ranking of your listing will be lost during this process.</p>
</div>
</div>
</div><div class="sect3">
<h4 id="_how_does_ebay_picture_services_work_and_how_is_it_used">How does eBay Picture Services work and how is it used?</h4>
<div class="paragraph">
<p>With eBay Picture Services, listing images are uploaded to eBay and retrieved by the eBay servers. Without eBay Picture Services, the image is retrieved by the plentymarkets servers.</p>
</div>
<div class="paragraph">
<p>If and how you should use eBay Picture Services is described below:</p>
</div>
<div class="sect4">
<h5 id="_listing_a_single_item">Listing a single item</h5>
<div class="paragraph">
<p><strong>One image:</strong><br>
The setting within <strong>System » System settings » Markets » eBay » Settings » Initial settings</strong> is applied.</p>
</div>
<div class="paragraph">
<p><strong>Activated</strong>: The image is uploaded to eBay.</p>
</div>
<div class="paragraph">
<p><strong>Deactivated</strong>: The listing’s image is provided by our servers.</p>
</div>
<div class="paragraph">
<p><strong>More than one image:</strong><br>
eBay Picture Services is used automatically. In this case, the initial settings are ignored.</p>
</div>
</div>
<div class="sect4">
<h5 id="_listing_a_variation">Listing a variation</h5>
<div class="paragraph">
<p><strong>One image:</strong><br>
The setting within <strong>System » System settings » Markets » eBay » Settings » Initial settings</strong> is applied.</p>
</div>
<div class="paragraph">
<p><strong>Active</strong>: The image is uploaded to eBay.</p>
</div>
<div class="paragraph">
<p><strong>Deactivated</strong>: The listing’s image is provided by our servers.
In this case, you can link every variation to a different image.<br>
For example, if you have 10 variations, you can upload 11 different images without using eBay Picture Services: 1 gallery image and 10 variation images.</p>
</div>
<div class="paragraph">
<p><strong>More than one image:</strong><br>
eBay Picture Services is used automatically. In this case, the initial settings are ignored.</p>
</div>
</div>
</div><div class="sect3">
<h4 id="_why_is_the_telephone_number_not_transferred_during_the_order_import">Why is the telephone number not transferred during the order import?</h4>
<div class="paragraph">
<p>In the field for the telephone number, eBay transfers “Invalid Request” to plentymarkets by default.</p>
</div>
<div class="paragraph">
<p><strong>Solution:</strong><br>
Log into eBay. Go to <strong>Account Settings » Site Preferences » Shipping preferences</strong> and activate the option <strong>Require phone number for shipping</strong>.</p>
</div>
</div><div class="sect3">
<h4 id="_cross_border_trade_agreement">Cross border trade agreement</h4>
<div class="paragraph">
<p>The cross border trade agreement must be accepted once you want to list an item on an international platform.
You can accept the agreement <a href="https://scgi.ebay.de/ws/ebayISAPI.dll?UserAgreementV2&amp;isemail=1&amp;agrid=7&amp;aid=1&amp;UserAgreement=&amp;guest=1" target="_blank" rel="noopener">on eBay</a>.</p>
</div>
</div>
</main>