<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best practice: Activating listings</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In this best practice you will learn how to set up an item for the export to eBay.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Note</div>
</td>
<td class="content">
<div class="title">First things first</div>
<div class="paragraph">
<p>Make sure that you activated the order referrers <strong>eBay</strong> (2) and <strong>eBay Germany</strong> (2.08) within <strong>System » System settings » Orders » Order referrer</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_the_sales_price">Setting up the sales price</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Item » Sales prices</strong>.</p>
</li>
<li>
<p>Create a new sales price.</p>
</li>
<li>
<p>Set up the following options:</p>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p>❏ Currency</p>
</li>
<li>
<p>❏ Client</p>
</li>
<li>
<p>❏ Class</p>
</li>
<li>
<p>❏ Country</p>
</li>
<li>
<p>❏ Referrer</p>
</li>
<li>
<p>❏ eBay accounts<br>
→ The default client must be activated for the sales price.</p>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<div class="title">Important</div>
</td>
<td class="content">
<div class="title">No special offer or RRP</div>
<div class="paragraph">
<p>If you have saved only one sales price for eBay, this price must not be a RRP or a special offer. The price type RRP can only be selected if you have already saved another price for eBay which is not an RRP.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_setting_up_items">Setting up items</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item and open the <strong>Variation ID</strong> tab.</p>
</li>
<li>
<p>Set up the following options in the tabs listed below:<br>
→ <strong>Settings</strong>: Place a check mark next to the option <strong>Active</strong>.<br>
→ <strong>Settings</strong>: Select a sales price.<br>
→ <strong>Availability</strong>: In the <strong>Markets</strong> section, save a referrer for eBay.</p>
</li>
<li>
<p>If your item has variations, you can activate the inheritance by using the variation group function.</p>
</li>
</ol>
</div>
</div>
</div>
</main>