<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#listings"><span>1.</span><span> Activating listings</span></a>
<ul class="sectlevel2">
<li><a href="#_setting_up_the_sales_price"><span>1.1.</span><span> Setting up the sales price</span></a></li>
<li><a href="#_setting_up_items"><span>1.2.</span><span> Setting up items</span></a></li>
</ul>
</li>
<li><a href="#control"><span>2.</span><span> Using "Out of stock" option</span></a>
<ul class="sectlevel2">
<li><a href="#_enabling_plentymarkets_to_endhide_offers_automatically"><span>2.1.</span><span> Enabling plentymarkets to end/hide offers automatically</span></a></li>
<li><a href="#_activating_the_automatic_stock_update"><span>2.2.</span><span> Activating the automatic stock update</span></a></li>
<li><a href="#_activating_out_of_stock_option"><span>2.3.</span><span> Activating "Out of stock" option</span></a></li>
</ul>
</li>
<li><a href="#faq"><span>3.</span><span> FAQ</span></a>
<ul class="sectlevel2">
<li><a href="#_why_are_no_orders_imported_into_my_system"><span>3.1.</span><span> Why are no orders imported into my system?</span></a></li>
<li><a href="#_invalid_selection_of_a_variation_within_a_market_listing"><span>3.2.</span><span> Invalid selection of a variation within a market listing</span></a></li>
<li><a href="#_why_is_a_listing_not_ended_restarted_automatically"><span>3.3.</span><span> Why is a listing not ended / restarted automatically?</span></a></li>
<li><a href="#_which_price_will_be_prioritised_if_there_are_several_sales_prices"><span>3.4.</span><span> Which price will be prioritised if there are several sales prices?</span></a></li>
<li><a href="#_why_is_an_order_flagged_as_ebay_plus_on_ebay_but_not_in_my_plentymarkets_system"><span>3.5.</span><span> Why is an order flagged as eBay plus on eBay but not in my plentymarkets system?</span></a></li>
<li><a href="#_which_information_can_be_changed_for_active_listings_and_when"><span>3.6.</span><span> Which information can be changed for active listings and when?</span></a></li>
<li><a href="#_what_do_various_error_messages_mean"><span>3.7.</span><span> What do various error messages mean?</span></a>
<ul class="sectlevel3">
<li><a href="#_variation_specifics_cannot_be_changed_variation_specifics_cannot_be_changed_in_restricted_revise"><span>3.7.1.</span><span> Variation specifics cannot be changed. Variation specifics cannot be changed in restricted revise.</span></a></li>
<li><a href="#_variation_specifics_mismatch_variation_specifics_provided_does_not_match_with_the_variation_specifics_of_the_variations_on_the_item"><span>3.7.2.</span><span> Variation Specifics Mismatch. Variation Specifics provided does not match with the variation specifics of the variations on the item.</span></a></li>
</ul>
</li>
<li><a href="#_how_does_ebay_picture_services_work_and_how_is_it_used"><span>3.8.</span><span> How does eBay Picture Services work and how is it used?</span></a>
<ul class="sectlevel3">
<li><a href="#_listing_a_single_item"><span>3.8.1.</span><span> Listing a single item</span></a></li>
<li><a href="#_listing_a_variation"><span>3.8.2.</span><span> Listing a variation</span></a></li>
</ul>
</li>
<li><a href="#_why_is_the_telephone_number_not_transferred_during_the_order_import"><span>3.9.</span><span> Why is the telephone number not transferred during the order import?</span></a></li>
<li><a href="#_cross_border_trade_agreement"><span>3.10.</span><span> Cross border trade agreement</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: eBay</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Best Practices for the marketplace <strong>eBay</strong> can be found on this page.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="listings">1. Activating listings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this best practice you will learn how to set up an item for the export to eBay.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">The most important things first:</div>
<div class="paragraph">
<p>Make sure that you have activated the order referrers <strong>eBay</strong> (2) and <strong>eBay Germany</strong> (2.08) within <strong>System » Orders » Order referrer</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_setting_up_the_sales_price">1.1. Setting up the sales price</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Sales prices</strong>.</p>
</li>
<li>
<p>Create a new sales price.</p>
</li>
<li>
<p>Set up the following options:</p>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><i class="fa fa-square-o"></i> Currency</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Client</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Class</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Country</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Referrer</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> eBay accounts<br>
→ The default client must be activated for the sales price.</p>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">No special offer or RRP</div>
<div class="paragraph">
<p>If you have saved only one sales price for eBay, this price must not be a RRP or a special offer. The price type RRP can only be selected if you have already saved another price for eBay which is not an RRP.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_setting_up_items">1.2. Setting up items</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item and switch to the <strong>Variation ID</strong> tab.</p>
</li>
<li>
<p>Set up the following options in the tabs listed below:<br>
→ <strong>Settings</strong>: Place a check mark next to the option <strong>Active</strong>.<br>
→ <strong>Settings</strong>: Save a sales price.<br>
→ <strong>Availability</strong>: In the section <strong>Markets</strong>, save a referrer for eBay.</p>
</li>
<li>
<p>If your item has variations, you can activate the inheritance by using the variation group function.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="control">2. Using "Out of stock" option</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this best practice, we are going to show you which settings you need to carry out in order to use the <strong>"Out of stock" option</strong> on eBay.<br>
The <strong>"Out of stock" option</strong> indicates that an item or a variation is currently out of stock.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Some basic information…​</div>
<div class="ulist">
<ul>
<li>
<p>The listing’s stock dependence has to be set to <strong>limited (without reservation)</strong>.</p>
</li>
<li>
<p>The duration of the market listing must be <strong>endless (GTC)</strong>.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_enabling_plentymarkets_to_endhide_offers_automatically">2.1. Enabling plentymarkets to end/hide offers automatically</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>System » Listings » Stock</strong> menu.</p>
</li>
<li>
<p>Activate the option <strong>End/hide offers automatically</strong></p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The automatism is now active.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_activating_the_automatic_stock_update">2.2. Activating the automatic stock update</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>System » Markets » eBay » Settings</strong> menu.</p>
</li>
<li>
<p>Go to the tab <strong>Initial settings</strong></p>
</li>
<li>
<p>Select the value <strong>Yes</strong> for the option <strong>“Activate automatic stock update"</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The stock in your plentymarkets system can now be synchronised with the stock on eBay.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_activating_out_of_stock_option">2.3. Activating "Out of stock" option</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Within the same menu, go to the tab <strong>Account settings</strong>.</p>
</li>
<li>
<p>Select the account which you want to use the option for.</p>
</li>
<li>
<p>Select the value <strong>Yes</strong> for the <strong>Use "out of stock" option</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The option is activated automatically on eBay as well.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Wait and see</div>
<div class="paragraph">
<p>You have now carried out all required settings in your plentymarkets system.<br>
Items or variations without stock will be hidden on eBay within the next 20 minutes while the automatic processes are running.<br>
As soon as you add stock to your item, the item will be shown again on eBay.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="faq">3. FAQ</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This best practice gives you useful tips to solve several issues.</p>
</div>
<div class="sect2">
<h3 id="_why_are_no_orders_imported_into_my_system">3.1. Why are no orders imported into my system?</h3>
<div class="paragraph">
<p>Checking the log can be useful here. In terms of orders, a look at the process <strong>AuctionControllerOrders</strong> can be helpful.</p>
</div>
<div class="olist upperalpha">
<ol class="upperalpha" type="A">
<li>
<p>Has your eBay token expired?
You can check if your eBay token has expired within the <strong>System » Markets » eBay » Accounts</strong> menu.</p>
</li>
<li>
<p>Has the order been stored in the data exchange?
This happens if a customer has not completed the checkout and has the shipping costs calculated by eBay.
You can view those orders within <strong>System » Markets » eBay » Data exchange</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_invalid_selection_of_a_variation_within_a_market_listing">3.2. Invalid selection of a variation within a market listing</h3>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Has the variation been released for export?</div>
<div class="paragraph">
<p>Please check at first whether the variations have been released for export.<br>
For more information, see the corresponding best practice.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>If the variations’ export settings are correct, the cause may be changes to the content of the variation.<br>
Whenever you change the content of a variation after having created the listing, these changes also have to be applied to the listing.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the corresponding listing’s LID.</p>
</li>
<li>
<p>Adjust the content within the listing’s settings and save the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_why_is_a_listing_not_ended_restarted_automatically">3.3. Why is a listing not ended / restarted automatically?</h3>
<div class="olist upperalpha">
<ol class="upperalpha" type="A">
<li>
<p>Has the option <strong>End/hide offers automatically</strong> been activated?
This option is activated within <strong>System » Listings » Stock</strong>.</p>
</li>
<li>
<p>Has the <strong>automatic stock update</strong> been activated?
The automatic stock update is activated within <strong>System » Markets » eBay » Settings » Initial settings</strong>.
The stock dependence has to be set to <strong>limited (without reservation)</strong>.</p>
</li>
<li>
<p>Has the option <strong>Use out of stock control</strong> been activated?
The Use out of stock control option is activated within <strong>System » Markets » eBay » Settings » Account settings</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_which_price_will_be_prioritised_if_there_are_several_sales_prices">3.4. Which price will be prioritised if there are several sales prices?</h3>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Several sales prices</div>
<div class="paragraph">
<p>You can create as many prices as desired within <strong>System » Item » Sales prices</strong>.<br>
Thus, you can create an individual price for each eBay account and each eBay platform if the prices differ.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>If there is more than one sales price with similar settings, the prices will be prioritised according to fixed criteria.<br>
For more information on the priorities, refer to the following list.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Sales prices which are only set for one <strong>market</strong> are prioritised over sales prices which have been released for several or all markets.<br></p>
</li>
<li>
<p>Sales prices which are only set for one <strong>country</strong> are prioritised over sales prices which have been released for several or all countries.<br></p>
</li>
<li>
<p>Sales prices which are only set for one <strong>eBay account</strong> are prioritised over sales prices which have been released for several or all eBay accounts.<br></p>
</li>
<li>
<p>Sales prices which are only set for one <strong>currency</strong> are prioritised over sales prices which have been released for several or all currencies.<br></p>
</li>
<li>
<p>Sales prices which have a higher <strong>minimum quantity</strong> are prioritised over sales prices which have a minimum quantity of <strong>1</strong>.<br></p>
</li>
<li>
<p>Sales prices which are only set for one <strong>customer class</strong> are prioritised over sales prices which have been released for several or all customer classes.<br></p>
</li>
</ul>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Important:</div>
<div class="paragraph">
<p>Only sales prices which fulfil the respective search criteria will be checked.
For eBay, the referrer and the eBay accounts are taken into account.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_why_is_an_order_flagged_as_ebay_plus_on_ebay_but_not_in_my_plentymarkets_system">3.5. Why is an order flagged as eBay plus on eBay but not in my plentymarkets system?</h3>
<div class="paragraph">
<p>Please note that the flag for eBay Plus will only be transferred to us once the customer has completed the checkout on eBay.</p>
</div>
<div class="paragraph">
<p>In a case where the shipping costs are calculated by eBay, orders with an uncompleted checkout will be stored in the data exchange within <strong>System » Markets » eBay » Data exchange</strong>.<br>
The option <strong>Automatically combine open eBay orders</strong> is activated within <strong>System » Listings » Checkout</strong>.<br>
If a duration of e.g. one hour is set there, orders will be imported into the plentymarkets system after one hour, no matter whether checkout has been completed or not.<br></p>
</div>
<div class="paragraph">
<p>There will <strong>not</strong> be a query for an eBay Plus flag afterwards.</p>
</div>
</div>
<div class="sect2">
<h3 id="_which_information_can_be_changed_for_active_listings_and_when">3.6. Which information can be changed for active listings and when?</h3>
<div class="paragraph">
<p>For information about which changes you can apply to an active eBay listing and when you can change an active listing, refer to this <a href="http://pages.ebay.de/help/sell/listing-variations.html" target="_blank" rel="noopener"><strong>eBay page</strong></a>.<br></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Important:</div>
<div class="paragraph">
<p>If you have already sold your offer, the changes you can apply to the listing are restricted. For further information, see the link above.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_what_do_various_error_messages_mean">3.7. What do various error messages mean?</h3>
<div class="paragraph">
<p>Many errors which occur when setting up listings are from eBay and the same message is shown in your plentymarkets system.
For an overview of error messages, refer to the following list of <a href="http://developer.ebay.com/devzone/xml/docs/reference/ebay/errors/errormessages.htm" target="_blank" rel="noopener"><strong>eBay error messages</strong></a>.</p>
</div>
<div class="sect3">
<h4 id="_variation_specifics_cannot_be_changed_variation_specifics_cannot_be_changed_in_restricted_revise">3.7.1. Variation specifics cannot be changed. Variation specifics cannot be changed in restricted revise.</h4>
<div class="paragraph">
<p>Refer to <strong>Which information can be changed for active listings and when?</strong><br>
If this error message occurs, the variations in your plentymarkets system and the variations on eBay do not match anymore.<br>
Therefore, the variations, including the attribute name and the values, have to be changed so that they match the status of the listing.</p>
</div>
<div class="paragraph">
<p><strong>Solution:</strong><br>
Compare the eBay attributes and attribute names to the attributes and attribute names in your plentymarkets system. Also consider the attribute link within <strong>System » Item » Attributes</strong> if an attribute link is used for the respective category.<br></p>
</div>
</div>
<div class="sect3">
<h4 id="_variation_specifics_mismatch_variation_specifics_provided_does_not_match_with_the_variation_specifics_of_the_variations_on_the_item">3.7.2. Variation Specifics Mismatch. Variation Specifics provided does not match with the variation specifics of the variations on the item.</h4>
<div class="paragraph">
<p>This error message is either issued by the CronJob during the automatic relisting process or if you select the option <strong>End and restart</strong>.<br></p>
</div>
<div class="paragraph">
<p>If one of these options applies, it is possible to retain the ranking of the old listing and to transfer it to the new listing.<br>
Nevertheless, eBay expects that the variations which have already been sold are not changed on the listing.<br>
If this happens, the aforementioned error message will be issued and restarting will fail.<br></p>
</div>
<div class="paragraph">
<p><strong>Solution</strong>:<br>
A.
Recover the variations as in the old listing.
This means that if you have removed variations, you have to add them again. If you have changed the variation’s names, you have to undo the change or create an attribute link for the corresponding attribute within <strong>System » Item » Attributes</strong>.</p>
</div>
<div class="paragraph">
<p>B.
End the listing via the option <strong>End and delete</strong> and restart it via the group function.
However, the ranking of your listing will be lost during this process.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_how_does_ebay_picture_services_work_and_how_is_it_used">3.8. How does eBay Picture Services work and how is it used?</h3>
<div class="paragraph">
<p>With eBay Picture Services, listing images are uploaded to eBay and added to the listing by the eBay servers. Without eBay Picture Services, the image is added to the listing by the plenty servers.</p>
</div>
<div class="paragraph">
<p>If and how you should use eBay Picture Services is described below:</p>
</div>
<div class="sect3">
<h4 id="_listing_a_single_item">3.8.1. Listing a single item</h4>
<div class="paragraph">
<p><strong>One image:</strong><br>
The setting within <strong>System » Markets » eBay » Settings » Initial settings</strong> is applied.</p>
</div>
<div class="paragraph">
<p><strong>Activated</strong>: The image will be uploaded to eBay.</p>
</div>
<div class="paragraph">
<p><strong>Deactivated</strong>: The listing’s image is provided by our servers.</p>
</div>
<div class="paragraph">
<p><strong>More than one image:</strong><br>
Ebay Picture Services will be used automatically. The initial settings will be ignored in this case.</p>
</div>
</div>
<div class="sect3">
<h4 id="_listing_a_variation">3.8.2. Listing a variation</h4>
<div class="paragraph">
<p><strong>One image:</strong><br>
The setting within <strong>System » Markets » eBay » Settings » Initial settings</strong> is applied.</p>
</div>
<div class="paragraph">
<p><strong>Active</strong>: The image will be uploaded to eBay.</p>
</div>
<div class="paragraph">
<p><strong>Deactivated</strong>: The listing’s image is provided by our servers.
In this case, you can link every variation to a different image.<br>
For example, if you have 10 variations, you can upload 11 different images without using eBay Picture Services because you have 1 gallery image and 10 variation images.</p>
</div>
<div class="paragraph">
<p><strong>More than one image:</strong><br>
Ebay Picture Services will be used automatically. The initial settings will be ignored in this case.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_why_is_the_telephone_number_not_transferred_during_the_order_import">3.9. Why is the telephone number not transferred during the order import?</h3>
<div class="paragraph">
<p>In the field for the telephone number, eBay transfers “Invalid Request” to plentymarkets by default.</p>
</div>
<div class="paragraph">
<p><strong>Solution:</strong><br>
Log into eBay. Go to <strong>Account Settings » Site Preferences » Shipping preferences</strong> and activate the option <strong>Require phone number for shipping</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="_cross_border_trade_agreement">3.10. Cross border trade agreement</h3>
<div class="paragraph">
<p>The cross border trade agreement must be accepted once an item is to be listed on an international platform.
You can accept the agreement <a href="https://scgi.ebay.de/ws/ebayISAPI.dll?UserAgreementV2&amp;isemail=1&amp;agrid=7&amp;aid=1&amp;UserAgreement=&amp;guest=1" target="_blank" rel="noopener">on eBay</a>.</p>
</div>
</div>
</div>
</div>
</main>