<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_item_sorting"><span>1.</span><span> General information about item sorting</span></a></li>
<li><a href="#_design_settings"><span>2.</span><span> Design settings</span></a>
<ul class="sectlevel2">
<li><a href="#_configuring_the_item_sorting"><span>2.1.</span><span> Configuring the item sorting</span></a></li>
<li><a href="#_templates"><span>2.2.</span><span> Templates</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Item sorting</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>CMS » Web design » ItemView » Tab: Settings » Setting: …​ _DefaultItemSorting</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_general_information_about_item_sorting">1. General information about item sorting</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the item sorting to define how items should be sorted in the online store, i.e. in which order items will be displayed there. In addition, you select the criteria for item sorting that you would like to take effect for the item search. This function relates to the live search for items in the online store.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_design_settings">2. Design settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>…​ _DefaultItemSorting</strong> setting is available in the <strong>Settings</strong> tab of several of the templates in the <strong>CMS » Web design » Folder: Layout » Folder: ItemView</strong> menu. These templates are listed in section 2.2.</p>
</div>
<div class="sect2">
<h3 id="_configuring_the_item_sorting">2.1. Configuring the item sorting</h3>
<div class="paragraph">
<p>The item sorting is configured using the <strong>…​ _DefaultItemSorting</strong> setting of the ItemView templates listed in section 2.2. You can change default settings in the drop-down menu. <a href="#image-cms-settings-item-sorting">Figure 1</a> shows an example of the item layout <strong>ItemViewTopSellersList</strong>.</p>
</div>
<div id="image-cms-settings-item-sorting" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/assets/EN-Settings-Client-Best-Practice-Item-sorting-01.png" alt="EN Settings Client Best Practice Item sorting 01">
</div>
<div class="title">Figure 1. CMS settings; item sorting</div>
</div>
<div class="paragraph">
<p>You can specify how the items should be sorted in every individual template. For example, if you have a very large catalog of items and you want your customers to quickly find the item that they are looking for, then it would be wise to sort the items by item name. If price is the most important factor, then sort the items in ascending or descending order by price.</p>
</div>
<div class="paragraph">
<p>The following table explains the available settings for <strong>…​ _DefaultItemSorting</strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. CMS settings; item sorting</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stock unit (descending)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Items with the highest position number will be displayed first.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stock unit (ascending)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Items with the lowest position number will be displayed first.<br>
<strong><em>Important:</em></strong> In order for this function to work, a <strong>position</strong> number has to be saved for each of the items within the <strong>Other</strong> tab.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item name (ascending)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Items will be sorted in alphabetical order by item name (A-Z).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item name (descending)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Items will be sorted in reverse alphabetical order by item name (Z-A).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Price (ascending)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The cheapest items will be displayed first.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Price (descending)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The most expensive items will be displayed first.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Release date (ascending)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The oldest items will be displayed first.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Release date (descending)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>The newest items will be displayed first.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Item ID (descending)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Items with the highest item ID will be displayed first.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>item_random</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Items will be displayed in a different, randomly chosen order every time.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_templates">2.2. Templates</h3>
<div class="paragraph">
<p>You can configure the item sorting in the following templates:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ItemViewSearchResultsList</p>
</li>
<li>
<p>ItemViewCategoriesList</p>
</li>
<li>
<p>ItemViewCrossSellingItemsList</p>
</li>
<li>
<p>ItemViewTopSellersList</p>
</li>
<li>
<p>ItemViewTopSellersList</p>
</li>
<li>
<p>ItemViewSpecialOffersList</p>
</li>
<li>
<p>ItemViewSearchResultsList</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>This includes templates with these names suffixed by a number, e.g. ItemViewCategoriesList8.</p>
</div>
</div>
</div>
</div>
</main>