<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_general_information_about_the_basic_settings"><span>1.</span><span> General information about the basic settings</span></a></li>
<li><a href="#_configuration"><span>2.</span><span> Configuration</span></a></li>
<li><a href="#order-information"><span>3.</span><span> Order information</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>My account</h1><div class="sect1">
<h2 id="_general_information_about_the_basic_settings">1. General information about the basic settings</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This menu contains basic settings for the individual customer area of your online store. Here you can select whether specific features should be activated or deactivated and which information should be displayed in the <strong><a href="/en/omni-channel/online-store/cms#web-design-editing-the-web-design-my-account">My Account</a></strong> area, for example weights and options for displaying the prices.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_configuration">2. Configuration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The settings of this menu will be explained below in table 1. There you will also find references and links to further pages of the manual that provide detailed information about those settings and functions.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/assets/EN-Client-My-Account-Basic-Settings-01.png" alt="EN Client My Account Basic Settings 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: options in the <strong>Basic settings</strong> menu</em></p>
</div>
<div class="paragraph instruction">
<p>Configuring basic settings for the My Account area:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Standard » My Account » Basic settings</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in the following table and carry out the settings as desired.</p>
</li>
<li>
<p>Click on the <strong>save icon</strong> to save the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Customer login</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which data your customers should use to log into the online store. The <strong>e-mail address and password</strong> or the <strong>customer ID and password</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Validity of checkout URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select how long a checkout URL should be valid after it was generated. You can select different options between <strong>7</strong> and <strong>360 days</strong> or you can select <strong>Never</strong>. If you select the option <strong>Never</strong>, then customers will have to log into the My Account area in order to access order information with the checkout URL.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Watchlist</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate</strong> or <strong>deactivate</strong> the watchlist in the online store.<br>
<em><strong>Info</strong></em>: The submenu under <a href="/en/omni-channel/online-store/cms#web-design-editing-the-web-design-my-account"><strong>CMS » Web design » My account</strong></a> becomes visible once this function has been activated.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Wish list</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate</strong> or <strong>deactivate</strong> the <strong>wish list</strong>.<br>
<em><strong>Info</strong></em>: The submenu under <strong><a href="/en/omni-channel/online-store/cms#web-design-editing-the-web-design-my-account">CMS » Web design » My account</a></strong> becomes visible once this function has been activated.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Documents</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate</strong> or <strong>deactivate</strong> the function for downloading documents in the online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Data export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate</strong> or <strong>deactivate</strong> the function for downloading data formats in the online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>My coupons</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate</strong> or <strong>deactivate</strong> the function for displaying the customer’s coupons.[#10]</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Return</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Specifies whether customers should be allowed to create returns within their own accounts.<br>
<strong>Activated</strong> = Customers can create returns. However, labels will not be provided. You will need to decide how you want to proceed when customers return items. For example, you can send customers the label via e-mail.<br>
<a href="/en/order-processing/fulfilment/preparing-the-shipment#3200"><strong>DHL Retoure Online</strong></a> = Customers can create returns, then download and print the DHL return label.<br>
<strong>Deactivated</strong> = Customers can not create returns. If you select this option, then you will need to decide how your company deals with returns. For example, you may require customers to call or send an e-mail if they want to return an item.<br>
If you allow customers to create returns themselves, then they will be able to choose the appropriate <a href="/en/order-processing/orders/managing-sales-orders#return"><strong>reason for return</strong></a> in their "My account" area.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Price display for wish list and watchlist</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>There are the following options for displaying prices in the online store: <strong>Item price only</strong>, <strong>Item price with asterisk (<strong>)</strong>, <strong>Price including VAT and shipping</strong><br>
<em><strong>Tip</strong></em>: The option <strong>Item price with asterisk (</strong>)</strong> can be used to give additional price information below the asterisk, e.g. to give VAT information.<br>
<em><strong>Info</strong></em>: The option <strong>price including VAT and shipping</strong> is required if you want your online store to be certified by Trusted Shops.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping weight in wish list and watchlist</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate</strong> or <strong>deactivate</strong> the function for displaying the shipping weight in the wish list and watchlist.<br>
<em><strong>Important</strong></em>: If you decide to display this information, then go to <a href="/en/_includes/number-formats"><strong>Settings » Basic settings » Number formats</strong></a> and check the settings for number formats. For example, if <strong>in kilograms: no decimal place</strong> is set here, then weights that are less than 1000 grams will be displayed as 0.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Subscriptions</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate</strong> or <strong>deactivate</strong> the function for displaying the <strong>Subscription</strong> area.<br>
<em><strong>Info</strong></em>: The submenu under <strong><a href="/en/omni-channel/online-store/cms#web-design-editing-the-web-design-my-account">CMS » Web design » My account</a></strong> becomes visible once this function has been activated.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment method: Subscriptions</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether customers should be able to <strong>change the payment method</strong> for a subscription.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Download link for SEPA direct debit mandate</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate</strong> or <strong>deactivate</strong> the function for displaying the download link.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change e-mail address</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate</strong> or <strong>deactivate</strong> the function for changing the e-mail address.<br>
In order to change the address, the account’s password has to be entered.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Change password</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate</strong> or <strong>deactivate</strong> the function for changing the <a href="/en/basics/working-with-plentymarkets/manage-users"><strong>password</strong></a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>E-mail confirmation when changing the password</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate</strong> or <strong>deactivate</strong> the automatic e-mail confirmation when the password is changed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Hide logout</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate</strong> or <strong>deactivate</strong> the function for displaying the logout.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: options in the <strong>Basic settings</strong> menu</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="order-information">3. Order information</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Settings » Client (store) » Standard » My Account » Order information</strong> menu, you specify how much information is displayed in orders.</p>
</div>
<div class="paragraph instruction">
<p>Configuring order information:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Standard » My Account » Order information</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 1 and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Status history</strong>;<br>
<strong>Shipping date</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether or not you would like information regarding the status history and/or the shipping date to be displayed in the order overview.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Weights</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Decide whether or not you want the weights to be shown in the order.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Invoices</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether or not customers can download the invoice for the order.<br>
<strong>Disable download for customers</strong> = Customers will not be able to download invoices.<br>
<strong>Enable download of internal invoices for customers</strong> = Customers will only be able to download internal invoices, i.e. invoices for orders placed in the online store.<br>
<strong>Enable download of external invoices for customers</strong> = Customers will not only be able to download internal invoices, but also external invoices, i.e. for example invoices for orders that were placed on markets.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Estimated shipping date</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select whether or not you would like the estimated shipping date to be displayed in the online store.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: settings in the <strong>Order information</strong> menu</em></p>
</div>
</div>
</div>
</main>