<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_content_of_this_chapter"><span>1.</span><span> Content of this chapter</span></a></li>
<li><a href="#_basic_settings_for_your_online_store"><span>2.</span><span> Basic settings for your online store</span></a></li>
<li><a href="#lock-store"><span>3.</span><span> Locking an online store</span></a></li>
<li><a href="#_unlocking_an_online_store"><span>4.</span><span> Unlocking an online store</span></a></li>
<li><a href="#forwarding"><span>5.</span><span> Setting up forwarding for mobile devices</span></a></li>
<li><a href="#_determining_what_should_happen_in_case_of_a_404_error"><span>6.</span><span> Determining what should happen in case of a 404 error</span></a></li>
<li><a href="#legal-information"><span>7.</span><span> Legal information</span></a></li>
<li><a href="#_entering_text"><span>8.</span><span> Entering text</span></a></li>
<li><a href="#_inserting_template_variables_and_template_functions"><span>9.</span><span> Inserting template variables and template functions</span></a>
<ul class="sectlevel2">
<li><a href="#_template_variables_for_category_pages"><span>9.1.</span><span> Template variables for category pages</span></a></li>
<li><a href="#_template_functions_for_linking_category_pages"><span>9.2.</span><span> Template functions for linking category pages</span></a></li>
<li><a href="#_template_variables_for_e_mail_templates"><span>9.3.</span><span> Template variables for e-mail templates</span></a></li>
</ul>
</li>
<li><a href="#content-pages"><span>10.</span><span> General information about the Pages menu</span></a></li>
<li><a href="#_configuration"><span>11.</span><span> Configuration</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Online store</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>System » Client » Select client » Online store</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_content_of_this_chapter">1. Content of this chapter</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter gives important information about the various menus of your online store. Along with the <a href="/en/omni-channel/online-store/setting-up-clients/online-store">basic settings</a> of your online store, you learn how to carry out settings in the <a href="/en/omni-channel/online-store/setting-up-clients/multilingual-online-store">Multilingualism</a> menu in order to set up a multilingual online store and how to manage currencies in the <a href="/en/order-processing/payment/currencies">Currency</a> menu. Furthermore, this chapter teaches you how to <a href="/en/omni-channel/online-store/setting-up-clients/online-store#lock-store">lock your online store</a> and how to set up mobile <a href="/en/omni-channel/online-store/setting-up-clients/online-store#forwarding">forwarding</a>. You will also learn how to save <a href="/en/omni-channel/online-store/setting-up-clients/online-store#legal-information">legal information</a>, e.g. terms and conditions or cancellation rights.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Users will be logged out</div>
<div class="paragraph">
<p>Whenever you carry out changes in this menu and click on the save icon, other users will be logged out automatically and will need to log in again. This ensures that the changes will also apply to the other user profiles. Therefore, it is recommended that you announce changes in advance.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_basic_settings_for_your_online_store">2. Basic settings for your online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following table provides you with detailed information about the available options. You can use these options to individually set up the way that your online store looks as well as the functions that you want to use.</p>
</div>
<div class="paragraph instruction">
<p>Configuring the basic settings for your online store:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Online store » Settings</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in <a href="#table-settings-online-store">Table 1</a> and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-settings-online-store" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. <strong>Settings</strong> for the online store</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Settings</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload Favicon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If desired, upload an icon here which marks your store and is shown, for instance, in the address line of the browser to the left of the URL.<br>
<strong>Important</strong>: Only icons with the data format .ico can be used.<br>
For further information about favicons, refer to the web, e.g. <a href="https://en.wikipedia.org/wiki/Favicon" target="_blank" rel="noopener">Wikipedia</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Document type declaration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the appropriate HTML version for your online store. The setting will also go into effect for all available clients. The options <strong>HTML 5</strong>, <strong>HTML 4.0 Transitional (default setting)</strong>, <strong>HTML 4.01 Transitional</strong> and <strong>XHTML 1.0 Transitional</strong> are available.<br>
There are so-called document type definitions for HTML. They define which elements can be included in an HTML document, which elements can appear inside of other elements, which attributes belong to an element, whether or not it is mandatory to specify these attributes etc.<br>
<strong>Important</strong>: Note that different elements are available depending on which HTML version is used. This means that the codes you are using must correspond to the HTML version that you select here. Otherwise, non-compatible elements will not be displayed or will be interpreted differently.<br>
The following website provides an overview of the elements found in various HTML versions and information on CSS formatting:<br>
<a href="http://meiert.com/en/indices/html-elements/" target="_blank" rel="noopener">http://meiert.com/en/indices/html-elements/</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price column</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the price column of the price which you want to be displayed as standard price in your online store or client (store). The selected price will also be used for discounts.<br>
Set up an individual price column as the standard price for each online store or client (store).<br>
<strong>Important</strong>: This setting is only relevant to the order process. It does not have an influence on the item and category layouts in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cross-selling</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a setting for cross-selling offers in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dynamic cross-selling</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Yes</strong> for dynamic cross-selling. plentymarkets creates cross-selling links automatically. This means that if two items are bought together, then they will automatically be entered as <a href="/en/item/managing-items#950">cross-selling items</a> for each other.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Validity of session cookie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose between <strong>until the browser is closed</strong> and <strong>one hundred days, even if the browser is closed</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Request security code in contact forms</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A security code is requested in contact forms for sending e-mails.<br>
One example is the <a href="/en/crm/_tell-a-friend-e-mail">tell-a-friend e-mail</a>.<br>
Select <strong>No</strong> if no security code is to be requested. <strong>Yes</strong> is set up by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Google reCAPTCHA Website key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the Google reCAPTCHA Website key. You receive this key when <a href="https://www.google.com/recaptcha/admin#list" target="_blank" rel="noopener">registring your website for Google reCAPTCHA</a>. If <strong>Yes</strong> is selected under <strong>Request security code in contact forms</strong>, the Google reCAPTCHA will be displayed in the contact form. Furthermore, Google reCAPTCHA is also available for the <a href="#omni-channel/online-store/_cms/customer-feedback">customer feedback form</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Google reCAPTCHA Secret key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Den Secret key von Google reCAPTCHA eingeben. Den Secret key erhalten Sie, wenn Sie ihre <a href="https://www.google.com/recaptcha/admin#list" target="_blank" rel="noopener">Website bei Google reCAPTCHA registrieren</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number of invalid login attempts per day</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter how many login attempts for the store you want to allow customers per day. A login attempt is made when incorrect access data is entered. Correct logins are not counted in this number. You can select between 4 and 25 attempts.<br>
<strong>Caution</strong>: The higher the number, the more times a user - as well as an unauthorized person! - can attempt to log into the website by trying out different combinations of access data. Therefore, you should take extra care when setting this option. The next day, the customer will again have the same number of login attempts available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Login</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide whether it should only be possible to log into the particular online store, i.e. client (store), or into all online stores.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Precautionary statement in case of overselling</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you select the setting <strong>active</strong>, then a precautionary statement will be displayed in the order process if overselling occurs, i.e. if the order quantity exceeds the net stock of the corresponding item. The purchaser will be informed that the delivery may be delayed. Condition for the note: the item’s stock must be positive and the setting No limitation must be selected (item’s tab: Stock subtab: <strong>Settings</strong>).</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>The <strong>Lock store now</strong> setting allows you to set your client (store) invisible during initial set-up. Visitors will see a service note when they try to access a locked online store. You can also lock the store in order to carry out substantial changes to your store at a later point and redirect your visitors to a page with a service note in the meantime. Don’t forget to unlock your store after you have finished making changes. Otherwise, you will not be able to receive orders.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip</div>
<div class="paragraph">
<p>If you need to make substantial changes, create a copy of your design and edit the copy. This allows you to return to the original design at any time if needed. Open the online store using the standard URL in another browser after each maintenance. Use this chance to check whether all your changes have been carried out correctly.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="lock-store">3. Locking an online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to lock the online store.</p>
</div>
<div class="paragraph instruction">
<p>Locking an online store:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Online store » Lock store</strong>.</p>
</li>
<li>
<p>Click on <strong>Lock store now</strong>.<br>
→ The online store is locked and can be accessed via direct product links or the URL suffix <strong>/index.php</strong> only.<br>
<em>*Tip:*</em> When you lock the default client (store), all other clients of the store also will be locked.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Locked online stores cannot be accessed via REST API</div>
<div class="paragraph">
<p>When you lock an online store, you can no longer communicate with the plentymarkets system via REST API.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_unlocking_an_online_store">4. Unlocking an online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to unlock the online store.</p>
</div>
<div class="paragraph instruction">
<p>Unlocking an online store:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Online store » Lock store</strong>.</p>
</li>
<li>
<p>Click on <strong>Unlock store now</strong>.<br>
→ The online store is unlocked and can be accessed by customers.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="forwarding">5. Setting up forwarding for mobile devices</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you wish to offer a mobile version of your website, you need to enter two target URLs in the menu <strong>System » Client » Select client » Online store » Forwarding</strong>. The option <strong>Target URL (category)</strong> controls access to the categories. The option <strong>Target URL (item page)</strong> sets up forwarding to a specific item. The forwarding is initiated by a HTTP request when the online store is accessed with a mobile device. Proceed as described below to set up forwarding for mobile devices.</p>
</div>
<div class="paragraph instruction">
<p>Setting up forwarding for mobile devices:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Online store » Forwarding</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in <a href="#table-forwarding-mobile">Table 2</a> and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-forwarding-mobile" class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. forwarding options for mobile devices</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Settings</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Forwarding</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This function makes it possible to display your online store on mobile devices, e.g. with <a href="/en/omni-channel/multi-channel/shopgate">Shopgate</a> or a similar provider. Select <strong>Active</strong> to begin forwarding to the specified URLs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target URL (category)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the URL for the mobile version of your online store, e.g. <strong><a href="http://mobile.yourplentystore.co.uk" class="bare">http://mobile.yourplentystore.co.uk</a></strong>. All customers that access your online store from a mobile device will be forwarded to this URL.<br>
<strong>Tip:</strong> In the URL, the template variable <strong>$ReferrerID</strong> defines where customers were forwarded from. The URL would then look like this: <strong><a href="http://mobile.yourplentystore.co.uk/?referrerId=$referrerId" class="bare">http://mobile.yourplentystore.co.uk/?referrerId=$referrerId</a></strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target URL (item page)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the URL that customers should be forwarded to e.g. when they use a mobile device to access an item in your online store from a price comparison portal. The item URL would then look like this: <strong><a href="http://mobile.yourplentystore.co.uk/?itemNumber=$itemId" class="bare">http://mobile.yourplentystore.co.uk/?itemNumber=$itemId</a></strong>. The template variable <strong>$ItemID</strong> in the URL provides access to every item.<br>
<strong>Tip:</strong> In the URL, the template variable <strong>$ReferrerID</strong> defines where customers were forwarded from. The URL would then look like this: <strong><a href="http://mobile.yourplentystore.co.uk/?itemNumber=$itemId&amp;referrerId=$referrerId" class="bare">http://mobile.yourplentystore.co.uk/?itemNumber=$itemId&amp;referrerId=$referrerId</a></strong><br>
<strong>Important:</strong>: If you do not enter a URL here, then customers will not be forwarded to the items in your online store from price comparison portals etc.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_determining_what_should_happen_in_case_of_a_404_error">6. Determining what should happen in case of a 404 error</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the past, invalid URLs were not deleted from the sitemap immediately. This caused a 404 error when changes had been made to a category or item page. The page was no longer found. The sitemap function generates content for each client daily and deletes invalid entries. Only current and visible content will be included in the sitemaps. With the settings for 404 errors you determine which kind of search will be carried out as a result of such an error. The HTTP status message 301 (Moved permanently) will be sent simultaneously. Consequently, the outdated URL will be deleted from the search engines.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">When is an automatic search useful?</div>
<div class="paragraph">
<p>An automatic search is useful if the new URL contains the same or similar terms and is likely to be found easily. If this is not the case, then an automatic search can cause a soft 404 error to occur. You can use this forwarding if you usually offer similar content. We recommend that you discuss this matter with your SEO agency.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up forwarding for 404 errors:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Online store » Forwarding</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in <a href="#table-forwarding-404">Table 3</a> and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-forwarding-404" class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. forwarding options for 404 errors (page not found)</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Settings</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Redirect for categories</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inactive</strong> (default) = No forwarding<br>
<strong>Carry out content search</strong> = If the category URL is no longer valid, a corresponding category page will be searched for.<br>
<strong>Carry out item search</strong> = If the category URL is no longer valid, a corresponding item will be searched for.<br>
<strong>Important</strong>: If you activated this function, the <strong>404 page</strong> that you determined in the <strong>System » Client » Select client » Online store » Pages</strong> menu will not be displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Redirect for item pages</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inactive</strong> (default) = No forwarding<br>
<strong>Carry out content search</strong> = If the item URL is no longer valid, a corresponding category page will be searched for.<br>
<strong>Carry out item search</strong> = If the item URL is no longer valid, a corresponding item will be searched for.<br>
<strong>Important</strong>: If you activated this function, the <strong>"Item not found" page</strong> that you determined in the <strong>System » Client » Select client » Online store » Pages</strong> menu will not be displayed.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="legal-information">7. Legal information</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this menu, you can save your <strong>terms and conditions</strong>, <strong>cancellation rights</strong>, <strong>privacy policy</strong> and <strong>legal disclosure</strong> for a <strong>client</strong> (store). Use <strong>template variables</strong> to display the content in the store and in the e-mail templates. Furthermore, if you use an external service provider to automatically update the legal texts whenever laws change, then the current texts are found here. The advantage is that if you ever have to make changes, then you only need to edit the particular texts in this one menu. The changes then go into effect for all of the documents that are linked.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_entering_text">8. Entering text</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Save a copy of your terms and conditions, privacy policy and legal disclosure in every available <strong><em>language</em></strong>. You can save the documents as pure <strong>text</strong> or in <strong>HTML</strong> format.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Entering text</div>
<div class="paragraph">
<p>Open a language and enter the legal texts in this language.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="image-terms-conditions-html-tab" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/assets/EN-Settings-Client-Store-Legal-Information-01.png" alt="EN Settings Client Store Legal Information 01">
</div>
<div class="title">Figure 1. English terms and conditions in the <strong>HTML</strong> tab</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_inserting_template_variables_and_template_functions">9. Inserting template variables and template functions</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As described above, <strong>template variables</strong> and <strong>template functions</strong> are used to insert the legal information. Use template variables to insert content, i.e. texts, into category pages or e-mail templates. Use template functions to insert the category pages into the design. Create <a href="/en/item/managing-categories">categories of the type content</a> for legal information.</p>
</div>
<div class="sect2">
<h3 id="_template_variables_for_category_pages">9.1. Template variables for category pages</h3>
<div class="paragraph">
<p>The template variables for category pages contain the text that was entered into the <strong>HTML</strong> tab. When a category page is accessed in the online store, the template variable will display the text that was saved for the particular language and store. As described in section 2, you must have entered text for the language and the store.</p>
</div>
<div class="paragraph">
<p><a href="#image-inserting-template-variables-terms-conditions-category-page">Figure 2</a> shows the template variable for the terms and conditions in the store’s terms and conditions category page.</p>
</div>
<div id="image-inserting-template-variables-terms-conditions-category-page" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/assets/EN-Settings-Client-Store-Legal-Information-02.png" alt="EN Settings Client Store Legal Information 02">
</div>
<div class="title">Figure 2. inserting the <strong>template variables</strong> for the <strong>terms and conditions</strong> into the <strong>category page</strong></div>
</div>
<div class="paragraph">
<p>The following table explains the <strong>template variables</strong> for category pages:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. <strong>template variables</strong> for category pages</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Template variable</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$GeneralTermsAndConditions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Terms and Conditions</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CancellationRights</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Cancellation rights</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$PrivacyPolicy</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Privacy policy</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$LegalDisclosure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legal disclosure (required by law in some countries)</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_template_functions_for_linking_category_pages">9.2. Template functions for linking category pages</h3>
<div class="paragraph">
<p>The following is an overview of the template functions that need to be inserted into the design in order to link to category pages.<br>
Go to <a href="/en/omni-channel/online-store/setting-up-clients/online-store#content-pages">System » Client » Select client » Online store » Pages</a> and link the category pages so that the template functions display content. This can also be done design specifically in the <a href="/en/omni-channel/online-store/setting-up-clients/cms#web-design-editing-the-web-design">CMS » Web design » Settings » Design settings » Tab: Clients</a> menu.<br>
The advantage of these template functions is that they do not need to be edited when copying the design for a different client. If you use the template function <strong>Link()</strong>, then you will have to change the ID for every client.</p>
</div>
<div class="paragraph">
<p>The following table explains the <strong>template functions</strong> for <strong><em>linking</em></strong> category pages:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. <strong>template functions</strong> for <strong>linking</strong> category pages</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Template function</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link_TermsConditions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Terms and Conditions</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link_CancellationRights</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Cancellation rights</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link_PrivacyPolicy</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Privacy policy</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link_Help</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Help page</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Link_ShippingCosts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping costs</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_template_variables_for_e_mail_templates">9.3. Template variables for e-mail templates</h3>
<div class="paragraph">
<p>The process of integrating texts into <strong>e-mail templates</strong> is similar. However, e-mail templates require you to distinguish whether the e-mail should be sent as pure <strong>text</strong> or as an <strong>HTML</strong> e-mail. Consequently, two template variables are available for all legal information e-mail templates.</p>
</div>
<div class="paragraph">
<p>The following table explains the <strong>template variables</strong> for <strong>e-mail templates</strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 6. <strong>template variables</strong> for e-mail templates</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Template variables</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$GeneralTermsAndConditionsText</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Terms and conditions, text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$GeneralTermsAndConditionsHTML</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Terms and conditions, HTML</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CancellationRightsText</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Cancellation rights, text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$CancellationRightsHTML</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Cancellation rights, HTML</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$PrivacyPolicyText</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Privacy policy, text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$PrivacyPolicyHTML</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Privacy policy, HTML</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$LegalDisclosureText</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legal disclosure, text</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>$LegalDisclosureHTML</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legal disclosure, HTML</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Publishing the design</div>
<div class="paragraph">
<p>Go to <a href="/en/omni-channel/online-store/setting-up-clients/cms#web-design-user-interface">CMS » Web design</a> and <strong><em>publish the design</em></strong> after you have inserted template variables or template functions.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="content-pages">10. General information about the Pages menu</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link <strong>category pages</strong> in this menu. The pages listed here are included in nearly every <strong>online store</strong>. Some of the pages linked in this menu contain <a href="/en/omni-channel/online-store/setting-up-clients/online-store#legal-information">legal information</a>.<br>
By linking pages, you can use specific <strong>template functions</strong> in the design, e.g. Link_CancelationRights. These links are advantageous if you also use the same design in a different plentymarkets store. In this case, the same links would work in both stores.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Links in the store design</div>
<div class="paragraph">
<p>Standard plentymarkets designs such as <strong>stonepattern_green</strong> contain links to many of the pages that are selected here. The links are often in <strong>PageDesignContentMainFrame</strong> by default.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_configuration">11. Configuration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link the pages for every <strong>client</strong>. This menu only includes <a href="/en/item/managing-categories">categories of the type content</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Category links that were saved in the design take priority over links that are saved here.</div>
<div class="paragraph">
<p>The links carried out in the <strong>System » Client » Select client » Online store » Pages</strong> menu do not apply to designs for which category links were carried out in the <strong>CMS » Web design » Settings » Design settings » Tab: Clients</strong> menu. Design specific category links take priority.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-store/setting-up-clients/assets/EN-Settings-Client-Store-Pages-01.png" alt="EN Settings Client Store Pages 01">
</div>
<div class="title">Figure 3. selecting category pages for areas of your online store</div>
</div>
<div class="paragraph instruction">
<p>Selecting category pages for areas of your online store:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Online store » Pages</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in <a href="#table-assigning-category-pages">Table 7</a> and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The following table explains the <strong>pages</strong> that can be linked:</p>
</div>
<table id="table-assigning-category-pages" class="tableblock frame-all grid-all spread">
<caption class="title">Table 7. <strong>assigning</strong> the category pages</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Settings</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Homepage</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a <a href="/en/item/managing-categories">category page</a> for the homepage. It will be displayed when the online store is accessed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Terms and conditions page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a <a href="/en/item/managing-categories">category page</a> for the terms and conditions.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Privacy policy page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a <a href="/en/item/managing-categories">category page</a> for the privacy policy.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cancellation rights page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a <a href="/en/item/managing-categories">category page</a> for the cancellation rights.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Help page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a <a href="/en/item/managing-categories">category page</a> for the help information in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Page 404</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a <a href="/en/item/managing-categories">category page</a> that should be displayed instead of the <strong><em>standard 404 page</em></strong>.<br>
The standard 404 page contains a note that lets visitors know <strong><em>the page is not available or was moved</em></strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a <a href="/en/item/managing-categories">category page</a> for information about the shipping costs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>"Item not found" page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a <a href="/en/item/managing-categories">category page</a> that should be displayed instead of the standard message when an <strong><em>item was not found</em></strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment methods page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a <a href="/en/item/managing-categories">category page</a> for information about payments and payment methods.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contact page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a <a href="/en/item/managing-categories">category page</a> that displays the company’s contact information.<br>
It also makes sense to use this page as the <strong>404 page</strong> so that store visitors can contact you directly if an error occurs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Legal disclosure page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a <a href="/en/item/managing-categories">category page</a> for the legal disclosure.<br>
You are required to have a legal disclosure in many countries. It should be given a logical name and customers should be able to find this page easily. You can find further information about the <strong><em>German laws</em></strong> that require you to have a <strong><em>legal disclosure</em></strong> <a href="http://www.bmjv.de/SharedDocs/Downloads/DE/pdfs/LeitfadenZurAnbieterkennzeichnung.pdf" target="_blank" rel="noopener">here</a> (information provided in German).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bank details page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a <a href="/en/item/managing-categories">category page</a> for bank details.<br>
The information on this page is required for the payment methods <strong>cash in advance</strong> and <strong>invoice</strong>. This page should include your account name and number as well as information about the transaction’s <strong>designated use</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>