<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Verfügbare Datenfelder</span></a></li>
<li><a href="#20"><span>2.</span><span> Filter hinzufügen</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Verfügbare Filter</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Lager</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Handbuchseite enthält Informationen zum Export-Format <strong>Lager</strong>, mit dem du anhand von Katalogen Lagerdaten aus deinem plentymarkets System exportieren kannst.
Solltest du mit der Funktionsweise der Kataloge noch nicht vertraut sein, informiere dich zunächst auf der Handbuchseite <a href="/daten/daten-exportieren/dateiexport">Standardformate nutzen</a>. Dort ist beschrieben, wie du Kataloge erstellst und verwaltest.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Kein Export an Marktplätze</div>
<div class="paragraph">
<p>Bei dem Exportformat <strong>Lager</strong> handelt es sich um ein sog. Standardformat, d.h. ein Format, mit dem du Daten exportieren, aber nicht an einen Marktplatz übertragen kannst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Verfügbare Datenfelder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der folgenden Tabelle findest du alle verfügbaren Datenfelder des Export-Formats <strong>Lager</strong> sowie eine Erläuterung zur Bedeutung dieser Felder.</p>
</div>
<table id="tabelle-lager" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Datenfelder für Lagerdaten</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Datenfeld</strong></th>
<th class="tableblock halign-left valign-top"><strong>Erläuterung</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Lager</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Notiz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Notizen zum Lager</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagertyp-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lager-Typs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit mit Bestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit der Varianten mit Bestand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit ohne Bestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit der Varianten ohne Bestand</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nach Versandprofil aufteilen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufteilung nach Versandprofil</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reparaturlager-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Reparaturlagers</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inventurmodus aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob der Inventurmodus aktiv ist</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logistiktyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Logistiktyp</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktualisiert am</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum der Aktualisierung</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erstellt am</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erstelldatum</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Dimension</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ebene</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name der Elterndimension</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der übergeordneten Dimension</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Präfix der Dimension</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Präfix der Dimension</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Trenner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Trennzeichen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Im Namen anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Im Lagerortnamen anzeigen</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Für Laufweg berücksichtigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In den Laufweg einfließen lassen</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Lagerort</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Lagerortes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerortname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Lagerortes (ohne Pfad)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zweck</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verwendungszweck des Lagerortes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status des Lagerortes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position des Lagerortes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vollständiger Lagerortname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vollständiger Name des Lagerortes (inklusive Pfad)</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lagerort-Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Typ des Lagerortes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Notizen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Notizen zum Lagerort</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verfügbarkeit des Lagerortes: Ist ein Lagerort leer, wird er beim Wareneingang als verfügbar angezeigt und Ware kann eingebucht werden. Befindet sich bereits 1 Artikel in einem Lagerort, wird dieser nicht mehr als verfügbar angezeigt. Du kannst dort allerdings trotzdem Ware einbuchen.<br>
Beim Export gibt es die beiden folgenden Werte: <code>0</code> = nicht verfügbar; <code>1</code> = verfügbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Ebene</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ebenen-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der Ebene bzw. der niedrigsten Dimension des Lagerortes. Nutzt du einen Filter, ist es die ID der gefilterten Dimension.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID der Elternebene</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID der übergeordneten Ebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position der Ebene</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position der Ebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name der Ebene</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name der Ebene</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pfadname der Ebene</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pfadname</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Filter hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um nur bestimmte Lagerdaten zu exportieren, kannst du Filter wählen und somit die Daten eingrenzen. Wie du Filter hinzufügst, erfährst du in <a href="/daten/daten-exportieren/dateiexport#filter-data">diesem Kapitel</a>.</p>
</div>
<div class="sect2">
<h3 id="30">2.1. Verfügbare Filter</h3>
<div class="paragraph">
<p>In der folgenden Tabelle findest du alle für das Export-Format <strong>Lager</strong> verfügbaren Filter sowie eine Erläuterung zur Funktion des jeweiligen Filters.</p>
</div>
<table id="tabelle-filter-lager" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Filter für Lagerdaten</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 60%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Filter</strong></th>
<th class="tableblock halign-left valign-top"><strong>Erläuterung</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf die gewählten Lager. Wähle ein oder mehrere Lager aus der Dropdown-Liste.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dimensions-Ebene</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf eine bestimmte Ebene eines Lagers.
Hast du eine Ebene gewählt, z.B. Ebene 3, werden nur die Dimensionen dieser Ebene exportiert.<br>
Bei einer Lagerstruktur mit dem Aufbau <strong>Halle &gt; Regal &gt; Fach &gt; Boden &gt; Lagerort</strong> würden also alle Fächer exportiert werden, da diese die 3. Ebene bilden.<br>
<strong><em>Tipp:</em></strong> Klicke auf <strong>Vorschau</strong>, um zu prüfen, welche Daten für den Export gewählt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pfadname der Ebene beginnend mit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf die Daten unterhalb einer bestimmten Dimension. Lautet der Pfadname der Ebene beispielsweise <strong>Halle 1 - Regal 4 - Fach 3 - Boden 8</strong> und du möchtest alles unterhalb von Boden 8 der spezifischen Dimension exportieren, gib <code>H1-R4-F3-B8</code> in das Eingabefeld des Filters ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur Lagerdaten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf die Lagerdaten, wie die Lager-ID und den Lagernamen.
Standardmäßig werden mit diesem Filter die Daten aller Lager exportiert. Möchtest du allerdings nur die Daten bestimmter Lager exportieren, wähle zusätzlich den Filter <strong>Lager</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>