<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Container_CheckoutMethodsOfPaymentList</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Returns the content of the container for the list of payment methods. The content is defined in the CheckoutMethodsOfPaymentList template.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_description_of_this_function">Description of this function</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Container_CheckoutMethodsOfPaymentList() : string</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_template_checkoutmethodsofpaymentlist">Template CheckoutMethodsOfPaymentList</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_variables">Variables</h3>
<div class="paragraph">
<p>These variables are available in this container.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$AtrigapaymaxChecked</p>
</li>
<li>
<p>$TrackingCode — Contains the tracking code.</p>
</li>
<li>
<p>$TrustedShopsBuyerProtectionItem — Contains information about the Trusted Shops buyer protection.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_checkoutmethodsofpaymentlistitem">CheckoutMethodsOfPaymentListItem</h3>
<div class="sect3">
<h4 id="_variables_2">Variables</h4>
<div class="paragraph">
<p>These variables are available in this container.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$HasExternalDeliveryAddress</p>
</li>
<li>
<p>$MethodOfPaymentAtrigapaymaxActive</p>
</li>
<li>
<p>$MethodOfPaymentExternalButton — Contains the button element for an external order process.</p>
</li>
<li>
<p>$MethodOfPaymentExternalContainer — Contains a container for the widgets of an external order process.</p>
</li>
<li>
<p>$MethodOfPaymentExternalInfo — Contains information on an external order process.</p>
</li>
<li>
<p>$MethodOfPaymentHasIcon — Flags whether the payment method contains an icon.</p>
</li>
<li>
<p>$MethodOfPaymentID — Contains the payment method ID.</p>
</li>
<li>
<p>$MethodOfPaymentIcon — Contains the payment method icon.</p>
</li>
<li>
<p>$MethodOfPaymentIsDisabled</p>
</li>
<li>
<p>$MethodOfPaymentIsSelected — Flags whether the payment method is currently selected.</p>
</li>
<li>
<p>$MethodOfPaymentName — Contains the name of the payment method.</p>
</li>
<li>
<p>$MethodOfPaymentPrice — Contains the surcharge for the payment method.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>