<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Container_CheckoutBasketItemsList</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Returns the content of the list of items in the shopping cart. The content is defined in the CheckoutBasketItemsList template.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_description_of_this_function">Description of this function</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Container_CheckoutBasketItemsList() : string</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_template_checkoutbasketitemslist">Template CheckoutBasketItemsList</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_variables">Variables</h3>
<div class="paragraph">
<p>These variables are available in this container.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$TrackingCode — Contains the tracking code.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_checkoutbasketitemslistitem">CheckoutBasketItemsListItem</h3>
<div class="sect3">
<h4 id="_functions">Functions</h4>
<div class="paragraph">
<p>These functions are available in this container.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">DeleteBasketItemButton( int $BasketItemID  , string $_buttonValue  )</code></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">LinkAddToWatchlist( int $BasketItemID  )</code></pre>
</div>
</div>
</div>
<div class="sect3">
<h4 id="_variables_2">Variables</h4>
<div class="paragraph">
<p>These variables are available in this container.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$BasketItemASIN — Contains an item’s first Amazon Standard Ident Number (ASIN).</p>
</li>
<li>
<p>$BasketItemActionID — Contains the ID of the item’s store special.</p>
</li>
<li>
<p>$BasketItemAttributeExist — Contains a query that checks if an item has attributes.</p>
</li>
<li>
<p>$BasketItemAttributeValueSet — Contains the information of an attribute set.</p>
</li>
<li>
<p>$BasketItemAttributeValueSetHash — Contains information on an attribute set’s hash string.</p>
</li>
<li>
<p>$BasketItemAttributeValueSetId — Contains the attribute set’s ID.</p>
</li>
<li>
<p>$BasketItemAttributesList — Contains the list of available attributes.</p>
</li>
<li>
<p>$BasketItemAvailabilityID — Contains the item availability’s ID.</p>
</li>
<li>
<p>$BasketItemAvailabilityIcon — Contains the availability icon for the item availability. An icon is saved in the <strong>Setup » Item » Availability</strong> menu.</p>
</li>
<li>
<p>$BasketItemAvailabilityString — Contains the name of the item availability. The names are saved in the <strong>Setup » Item » Availability</strong> menu.</p>
</li>
<li>
<p>$BasketItemBasePrice — Contains an item’s unit price.</p>
</li>
<li>
<p>$BasketItemBasePriceLot — Contains the price of an item’s sales unit.</p>
</li>
<li>
<p>$BasketItemBasePriceUnit — Contains the unit for the unit price.</p>
</li>
<li>
<p>$BasketItemBranchID — Contains the item’s category ID.</p>
</li>
<li>
<p>$BasketItemCategoryID[Level1] …​$BasketItemCategoryID[Level6] — Contains the category ID.</p>
</li>
<li>
<p>$BasketItemCategoryName[Level1] …​$BasketItemCategoryName[Level6] — Contains the name of the category.</p>
</li>
<li>
<p>$BasketItemCondition — Contains the item condition.</p>
</li>
<li>
<p>$BasketItemCreationDate — Contains an item’s creation date.</p>
</li>
<li>
<p>$BasketItemCurrentImage — Returns the current item’s full size item image.</p>
</li>
<li>
<p>$BasketItemCurrentImageURL — Returns the URL of the current item’s full size image.</p>
</li>
<li>
<p>$BasketItemCurrentMiddleSizeImage — Returns the current item’s medium size item image.</p>
</li>
<li>
<p>$BasketItemCurrentMiddleSizeImageURL — Returns the URL of the current item’s medium size image.</p>
</li>
<li>
<p>$BasketItemCurrentPreviewImage — Returns the current item’s preview image.</p>
</li>
<li>
<p>$BasketItemCurrentPreviewImageURL — Returns the URL of the current item’s preview image.</p>
</li>
<li>
<p>$BasketItemCurrentSecondPreviewImage — Returns the current item’s second preview image.</p>
</li>
<li>
<p>$BasketItemCurrentSecondPreviewImageURL — Returns the URL of the current item’s second preview image.</p>
</li>
<li>
<p>$BasketItemDeliveryDate — Contains the delivery date.</p>
</li>
<li>
<p>$BasketItemDescription — Contains the item text.</p>
</li>
<li>
<p>$BasketItemDescriptionShort — Contains the item preview text.</p>
</li>
<li>
<p>$BasketItemDiscountValue — Contains the current discount value of the shopping cart item.</p>
</li>
<li>
<p>$BasketItemEAN — Contains an item’s EAN 1.</p>
</li>
<li>
<p>$BasketItemExpirationDate — Contains an item’s expiration date (available until).</p>
</li>
<li>
<p>$BasketItemExternalItemID — Contains the external item ID.</p>
</li>
<li>
<p>$BasketItemExternalItemReferrerIcon — Contains the icon of the external item referrer.</p>
</li>
<li>
<p>$BasketItemFSK — Contains an item’s age rating.</p>
</li>
<li>
<p>$BasketItemFSK18Icon — Contains the icon for the item’s age rating.</p>
</li>
<li>
<p>$BasketItemFlashHeight — Contains the height of an item’s flash file.</p>
</li>
<li>
<p>$BasketItemFlashURL — Contains the URL of an item’s flash file.</p>
</li>
<li>
<p>$BasketItemFlashWidth — Contains the width of an item’s flash file.</p>
</li>
<li>
<p>$BasketItemFree[1] …​$BasketItemFree[20] — Contains the item free text fields.</p>
</li>
<li>
<p>$BasketItemGiftWrapTargetItemName</p>
</li>
<li>
<p>$BasketItemHasDeliveryDate</p>
</li>
<li>
<p>$BasketItemHasItemParams — Flags whether the shopping cart item has item characteristics.</p>
</li>
<li>
<p>$BasketItemHasOrderParams — Flags whether the shopping cart item has order characteristics.</p>
</li>
<li>
<p>$BasketItemHeight — Contains an item’s height.</p>
</li>
<li>
<p>$BasketItemID — Contains the item ID.</p>
</li>
<li>
<p>$BasketItemISBN — Contains the item’s International Standard Book Number (ISBN).</p>
</li>
<li>
<p>$BasketItemImage[1] …​$BasketItemImage[25] — HTML image tag of the images with the highest resolution.</p>
</li>
<li>
<p>$BasketItemImageURL[1] …​$BasketItemImageURL[25] — URL of the images with the highest resolution.</p>
</li>
<li>
<p>$BasketItemIsEditableByCustomer — Contains a flag whether the shopping cart item can be edited by the buyer.</p>
</li>
<li>
<p>$BasketItemIsGiftWrap</p>
</li>
<li>
<p>$BasketItemIsItemBundle — Flags whether the shopping cart item contains an item bundle.</p>
</li>
<li>
<p>$BasketItemIsItemBundleComponent — Flags whether the shopping cart item contains an item bundle component.</p>
</li>
<li>
<p>$BasketItemIsPrePayment — Flags whether the shopping cart item is a prepayment. This is usually only available in shopping carts that were created from a listing.</p>
</li>
<li>
<p>$BasketItemIsSubscriptionItem</p>
</li>
<li>
<p>$BasketItemItemAge — Contains an item’s age in days, starting from the date it was created in plentymarkets.</p>
</li>
<li>
<p>$BasketItemItemID — Contains the item’s ID.</p>
</li>
<li>
<p>$BasketItemItemParamsList — List of item characteristics</p>
</li>
<li>
<p>$BasketItemLength — Contains an item’s length.</p>
</li>
<li>
<p>$BasketItemLimitOrderByStock — Contains the value for limiting the item to the stock; <strong>0 = No limitation, 1 = Limited to net stock, 2 = Do not administer stock</strong> for this item.</p>
</li>
<li>
<p>$BasketItemLot — Contains the content of an item’s sales unit.</p>
</li>
<li>
<p>$BasketItemMiddleSizeImage[1] …​$BasketItemMiddleSizeImage[25] — HTML image tag of the images with medium resolution.</p>
</li>
<li>
<p>$BasketItemMiddleSizeImageURL[1] …​$BasketItemMiddleSizeImageURL[25] — URL of the images with medium resolution.</p>
</li>
<li>
<p>$BasketItemModel — Contains the item model.</p>
</li>
<li>
<p>$BasketItemName[1] …​$BasketItemName[3] — Contains the item name.</p>
</li>
<li>
<p>$BasketItemName4URL — Contains the URL-conform item name.</p>
</li>
<li>
<p>$BasketItemNumber — Contains the item number.</p>
</li>
<li>
<p>$BasketItemOrderParamsAllowed — Flags whether order characteristics are permitted or not.</p>
</li>
<li>
<p>$BasketItemOrderParamsList — List of order characteristics.</p>
</li>
<li>
<p>$BasketItemPackagingUnit — Contains an item’s packaging unit.</p>
</li>
<li>
<p>$BasketItemPreviewImage[1] …​$BasketItemPreviewImage[25] — Returns the current item’s preview image.</p>
</li>
<li>
<p>$BasketItemPreviewImageURL[1] …​$BasketItemPreviewImageURL[25] — Returns the URL of the current item’s preview image.</p>
</li>
<li>
<p>$BasketItemPrice — Contains an item’s price.</p>
</li>
<li>
<p>$BasketItemPriceID — Contains the ID of the item’s price set.</p>
</li>
<li>
<p>$BasketItemPriceSetList — List of the price sets.</p>
</li>
<li>
<p>$BasketItemPriceTotal — Contains the total amount of the shopping cart item.</p>
</li>
<li>
<p>$BasketItemProducerID — Contains the manufacturer ID.</p>
</li>
<li>
<p>$BasketItemProducerLogo — Contains the manufacturer logo.</p>
</li>
<li>
<p>$BasketItemProducerName — Contains the name of the manufacturer.</p>
</li>
<li>
<p>$BasketItemProducerURL — Contains the URL of the manufacturer. The URL is saved in the <a href="/en/item/managing-items#560">manufacturer</a> data set.</p>
</li>
<li>
<p>$BasketItemQuantity — Contains the number of items in the shopping cart.</p>
</li>
<li>
<p>$BasketItemRRP — Contains the item’s recommended retail price.</p>
</li>
<li>
<p>$BasketItemRating — Contains the feedback.</p>
</li>
<li>
<p>$BasketItemRatingCount — Contains the number of feedbacks for an item.</p>
</li>
<li>
<p>$BasketItemRatingImage — Contains the average feedback.</p>
</li>
<li>
<p>$BasketItemRatingMax — Contains the maximum feedback points that can be assigned.</p>
</li>
<li>
<p>$BasketItemRebateAvailable — Contains a query that checks whether a discounted price exists for an item that the customer is eligible for.</p>
</li>
<li>
<p>$BasketItemReferrerID — Contains the ID of the referrer. The ID is assigned by the system. The IDs are listed in the Setup » Orders » Order referrer menu.</p>
</li>
<li>
<p>$BasketItemReleaseDate — Contains the item’s release date.</p>
</li>
<li>
<p>$BasketItemSaving — Contains the discount amount.</p>
</li>
<li>
<p>$BasketItemSavingPercent — Contains the discount rate in percent.</p>
</li>
<li>
<p>$BasketItemSecondPreviewImage[1] …​$BasketItemSecondPreviewImage[25] — Returns the current item’s second preview image.</p>
</li>
<li>
<p>$BasketItemSecondPreviewImageURL[1] …​$BasketItemSecondPreviewImageURL[25] — Returns the URL of the current item’s second preview image.</p>
</li>
<li>
<p>$BasketItemShortName — Contains a shorter version of the item name. The item name is truncated after a specific number of characters.</p>
</li>
<li>
<p>$BasketItemSize — Contains the information in <strong>Unit 1</strong> and <strong>Unit 2</strong> of an item’s <strong>Base</strong> tab.</p>
</li>
<li>
<p>$BasketItemTechnicalData — Contains the item’s technical data.</p>
</li>
<li>
<p>$BasketItemUnitString/$BasketItemUnitString[1] …​$BasketItemUnitString[2] — Contains the item unit.</p>
</li>
<li>
<p>$BasketItemUseGivenPrice</p>
</li>
<li>
<p>$BasketItemVAT — Contains the item’s VAT in percent.</p>
</li>
<li>
<p>$BasketItemVATHint — Contains the VAT note, e.g. "incl. statutory VAT".</p>
</li>
<li>
<p>$BasketItemVariationID — Contains the variation ID of the chosen variation.</p>
</li>
<li>
<p>$BasketItemVolumePrice[1] …​$BasketItemVolumePrice[10] — Contains the price for an item’s minimum order quantity.</p>
</li>
<li>
<p>$BasketItemVolumePriceStartingQuantity[1] …​$BasketItemVolumePriceStartingQuantity[10] — Contains the minimum order quantity for a discount to be applied to an item.</p>
</li>
<li>
<p>$BasketItemVolumen — Contains an item’s volume.</p>
</li>
<li>
<p>$BasketItemWeight — Contains an item’s weight.</p>
</li>
<li>
<p>$BasketItemWeightNet — Contains an item’s net weight.</p>
</li>
<li>
<p>$BasketItemWidth — Contains an item’s width.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>