<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Container_CheckoutCustomerInvoiceAddress</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Returns the content of the invoice address container. The content is defined in the CheckoutCustomerInvoiceAddress template.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_description_of_this_function">Description of this function</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Container_CheckoutCustomerInvoiceAddress( int $_loginType  ) : string</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_template_checkoutcustomerinvoiceaddress">Template CheckoutCustomerInvoiceAddress</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_variables">Variables</h3>
<div class="paragraph">
<p>These variables are available in this container.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$AddressAdditional — Contains the additional address information.</p>
</li>
<li>
<p>$BirthDay — Contains the day of birth in the format "DD".</p>
</li>
<li>
<p>$BirthMonth — Contains the month of birth in the format "MM".</p>
</li>
<li>
<p>$BirthYear — Contains the year of birth in the format "YYYY".</p>
</li>
<li>
<p>$City — Contains the town.</p>
</li>
<li>
<p>$Company — Contains the company.</p>
</li>
<li>
<p>$Country — Contains the country of delivery.</p>
</li>
<li>
<p>$CountryID — Contains the ID of the country of delivery.</p>
</li>
<li>
<p>$CustomerPropertiesList — List of customer characteristics.</p>
</li>
<li>
<p>$Email — Contains the email address.</p>
</li>
<li>
<p>$EmailRepeat — Contains the re-entered email address.</p>
</li>
<li>
<p>$FaxNumber — Contains the fax number.</p>
</li>
<li>
<p>$FirstName — Contains the first name.</p>
</li>
<li>
<p>$FormOfAddress — Contains the form of address.</p>
</li>
<li>
<p>$FormOfAddressID — Contains the form of address ID; 0 = Mr, 1 = Ms, 2 = Company.</p>
</li>
<li>
<p>$HouseNo — Contains the house number.</p>
</li>
<li>
<p>$LastName — Contains the surname.</p>
</li>
<li>
<p>$LoginType — Specifies the registration type; 1 = guest account, 2 = registered customer</p>
</li>
<li>
<p>$MobileNumber — Contains the address’s mobile phone number.</p>
</li>
<li>
<p>$Password — Contains the password.</p>
</li>
<li>
<p>$PasswordRepeat — Contains the password repetition.</p>
</li>
<li>
<p>$PersonalID — Contains the personal identity number.</p>
</li>
<li>
<p>$PhoneNumber — Contains the telephone number.</p>
</li>
<li>
<p>$Postnummer — Contains the PostNummer.</p>
</li>
<li>
<p>$State — Contains information on the region / county.</p>
</li>
<li>
<p>$StateID — Contains the ID of the region / county.</p>
</li>
<li>
<p>$Street — Contains the street of the address.</p>
</li>
<li>
<p>$Title — Contains the customer’s title.</p>
</li>
<li>
<p>$TrackingCode — Contains the tracking code.</p>
</li>
<li>
<p>$VATNumber — Contains the VAT number of the address.</p>
</li>
<li>
<p>$ZIP — Contains the postcode of the address.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</main>