<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Container_CheckoutTotals</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Returns the content of the container for the list of total amounts. The content is defined in the CheckoutTotals template.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_description_of_this_function">Description of this function</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Container_CheckoutTotals() : string</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_template_checkouttotals">Template CheckoutTotals</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="_variables">Variables</h3>
<div class="paragraph">
<p>These variables are available in this container.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$TrackingCode — Contains the tracking code.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="_checkouttotalsitem">CheckoutTotalsItem</h3>
<div class="sect3">
<h4 id="_variables_2">Variables</h4>
<div class="paragraph">
<p>These variables are available in this container.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>$TotalsCouponDiscount — Contains the subtracted amount for a redeemed coupon.</p>
</li>
<li>
<p>$TotalsCouponValue — Contains the total value of the redeemed coupon.</p>
</li>
<li>
<p>$TotalsHasRebates — Flags whether discounts were applied.</p>
</li>
<li>
<p>$TotalsItemSum — Contains the value of items.</p>
</li>
<li>
<p>$TotalsItemSumNet — Contains the net value of items.</p>
</li>
<li>
<p>$TotalsMarkupList — List of selected order characteristics with surcharges.</p>
</li>
<li>
<p>$TotalsRebatePercentage — Contains the discount rate in percent.</p>
</li>
<li>
<p>$TotalsRebateTotalAmount — Contains the discount amount.</p>
</li>
<li>
<p>$TotalsRebateTotalAmountNet</p>
</li>
<li>
<p>$TotalsRebateType — Contains the type of discount.</p>
</li>
<li>
<p>$TotalsSchedulerTotalAmount — Contains the amount of subscription orders.</p>
</li>
<li>
<p>$TotalsShippingAmount — Contains the shipping cost amount.</p>
</li>
<li>
<p>$TotalsShippingAmountNet — Contains the net shipping cost amount.</p>
</li>
<li>
<p>$TotalsSubTotalNet — Contains the net subtotal amount.</p>
</li>
<li>
<p>$TotalsTotalAmount — Contains the total amount.</p>
</li>
<li>
<p>$TotalsTotalAmountNet</p>
</li>
<li>
<p>$TotalsVat — Contains the VAT rate.</p>
</li>
<li>
<p>$TotalsVatHint</p>
</li>
<li>
<p>$TotalsVatList — List of applied VAT rates.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>