<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Requirements</span></a></li>
<li><a href="#200"><span>2.</span><span> FAQ</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Can stock for items/variations also be displayed separately per country?</span></a></li>
<li><a href="#400"><span>2.2.</span><span> Do I absolutely need a European seller account to import my FBA stock?</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best practice: Amazon FBA stock display for EU and UK</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>This best practice is to help you display the total stock of your European Amazon seller account for EU and UK separately in the system, so you can see the stock of an item for both EU and UK. This means that the <em>summed up total stock for all European warehouses</em> as well as the <em>summed up total stock for all UK warehouses</em> can be displayed per item in the system. If configured correctly, you can see two warehouses on an item. One warehouse displays the <strong>FBA EU stock</strong> and the other the <strong>FBA UK stock</strong>. Note that stock is only displayed if stock is available.</p>
</div>
<div class="paragraph">
<p>For general information about Amazon FBA and for explanations of how to set it up, refer to the manual page <a href="/en/markets/amazon/amazon-fba">Using the FBA service by Amazon</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Background: Brexit</strong></div>
<div class="content">
<div class="paragraph">
<p>Before Brexit, only the total FBA EU stock of an item could be displayed per Amazon seller account in the plentymarkets system. This comprised all European Amazon platforms of this seller account, Amazon.co.uk included. Since Brexit, the FBA UK stock is managed separately. But in the system, only the total FBA EU stock of an item was displayed, no longer the FBA UK stock.</p>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Requirements</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to configure the following, to have the <strong>FBA EU stock</strong> as well as the <strong>FBA UK stock</strong> displayed.</p>
</div>
<div class="paragraph">
<p>At least one account is needed in the system which is linked to a European seller account and which is allowed to retrieve information from a European Amazon platform. In the configuration, this is determined by the selected Amazon platform.<br>
An account with the Amazon platform for Amazon.de, Amazon.pl, Amazon.fr, Amazon.es, Amazon.it or Amazon.nl can be used for this. This account then retrieves the total FBA EU stock.</p>
</div>
<div id="EU-platform" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-amazon-fba-stock-eu-platform.jpg" alt="EU platform">
</div>
<div class="title">Figure 1. European Amazon platform</div>
</div>
<div id="EU-stock" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-amazon-fba-stock-eu.jpg" alt="EU stock">
</div>
<div class="title">Figure 2. Warehouse: FBA EU stock</div>
</div>
<div class="paragraph">
<p>An additional account is needed in the system, which is linked to a European seller account and which is allowed to retrieve information from the platform Amazon.co.uk. This account then retrieves the total FBA UK stock.</p>
</div>
<div id="UK-platform" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-amazon-fba-stock-uk-platform.jpg" alt="UK platform">
</div>
<div class="title">Figure 3. Amazon UK platform</div>
</div>
<div id="UK-stock" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/bp-amazon-fba-stock-uk.jpg" alt="UK stock">
</div>
<div class="title">Figure 4. Warehouse: FBA UK stock</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. FAQ</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="300">2.1. Can stock for items/variations also be displayed separately per country?</h3>
<div class="paragraph">
<p>Currently it is only possible to display the total stock of items for each EU and UK. Displaying warehouses per country/Amazon platform is not possible.</p>
</div>
</div>
<div class="sect2">
<h3 id="400">2.2. Do I absolutely need a European seller account to import my FBA stock?</h3>
<div class="paragraph">
<p>This is not necessary. You can also import FBA stock for UK/DE/FR etc. with a UK/DE/FR etc. account. To do so, only the selection of the required Amazon platform Amazon.co.uk, Amazon.de etc. as well as a warehouse which is to be used for displaying stock, is needed for stock import.</p>
</div>
</div>
</div>
</div>
</main>