<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_faq_on_variation_exports"><span>1.</span><span> FAQ on variation exports</span></a></li>
<li><a href="#_faq_for_amazon_mfn"><span>2.</span><span> FAQ for Amazon MFN</span></a></li>
<li><a href="#_faq_for_invoice_imports"><span>3.</span><span> FAQ for invoice imports</span></a></li>
<li><a href="#_faq_for_price_synchronisations"><span>4.</span><span> FAQ for price synchronisations</span></a></li>
<li><a href="#_faq_for_stock_synchronisations"><span>5.</span><span> FAQ for stock synchronisations</span></a></li>
<li><a href="#_frequent_error_messages"><span>6.</span><span> Frequent error messages</span></a></li>
<li><a href="#_list_of_best_practices"><span>7.</span><span> List of best practices</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Amazon: FAQ collection</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets is packed with functionalities for listing your products on Amazon. But with great power comes the odd error message. Below is a list of the FAQ, best practices and solutions we offer in the manual for selling your products on Amazon. If you can’t find what you’re looking for in the manual, our support team will be happy to help.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_faq_on_variation_exports">1. FAQ on variation exports</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/markets/amazon/best-practices-amazon-item-data-export">Why is my item not exported to Amazon?</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/markets/amazon/best-practices-amazon-item-data-export#100">How to find out if an item was not exported</a></p>
</li>
<li>
<p><a href="/en/markets/amazon/best-practices-amazon-item-data-export#260">How to test if the item was exported</a></p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_faq_for_amazon_mfn">2. FAQ for Amazon MFN</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/markets/amazon/best-practices-amazon-mfn-order-import">MFN orders are not imported</a>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_faq_for_invoice_imports">3. FAQ for invoice imports</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/markets/amazon/amazon-setup#7010">Not all invoices for Amazon orders were uploaded to Amazon</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_faq_for_price_synchronisations">4. FAQ for price synchronisations</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/markets/amazon/preparing-variations#67001">Which settings do I have to activate so that prices are exported to Amazon?</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_faq_for_stock_synchronisations">5. FAQ for stock synchronisations</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/markets/amazon/preparing-variations#67002">Which settings do I have to activate so that stock is exported to Amazon?</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_frequent_error_messages">6. Frequent error messages</h2>
<div class="sectionbody">
<table id="amazon-faq-error-messages" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Frequent error messages</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Error message</th>
<th class="tableblock halign-left valign-top">Link to solution</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Error:TermsAndConditionsNotAccepted, Type: Sender</p>
</li>
<li>
<p>Error:InvalidRequest, Type: Sender</p>
</li>
<li>
<p>Error:ShipmentAlreadyExists, Type: Sender</p>
</li>
<li>
<p>Error:no AmazonPrime Service selected</p>
</li>
<li>
<p>Error:ShippingServiceNotAvailable, Type: Sender</p>
</li>
<li>
<p>Error:ResourceNotFound, Type: Sender</p>
</li>
<li>
<p>No Valid Warehouse Address</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/markets/amazon/best-practices-amazon-prime#200">Amazon Prime: Errors and how to solve them</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Error:Access to Reports. (GetReportScheduleList) is denied</p>
</li>
<li>
<p>ERROR: AuthToken is not valid for SellerId and AWSAccountId</p>
</li>
<li>
<p>Access denied.</p>
</li>
<li>
<p>The seller does not have an eligible Amazon account to call Amazon MWS</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/markets/amazon/best-practices-amazon-mfn-order-import">MFN orders are not imported</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Request is throttled</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/markets/amazon/best-practices-amazon-error-request-throttled">Error: Request is throttled</a></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_list_of_best_practices">7. List of best practices</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="#markets/amazon/best-practices-amazon-vcs: Using Amazon’s VAT calculation service VCS">[markets/amazon/best-practices-amazon-vcs: Using Amazon’s VAT calculation service VCS]</a></p>
</li>
<li>
<p><a href="/en/markets/amazon/best-practices-amazon-prime">Best Practice: Amazon Prime</a></p>
<div class="ulist">
<ul>
<li>
<p><a href="/en/markets/amazon/best-practices-amazon-prime#100">How are Prime orders processed in plentymarkets?</a></p>
</li>
<li>
<p><a href="/en/markets/amazon/best-practices-amazon-prime#200">Amazon Prime: Errors and how to solve them</a></p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</main>