<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Plugins kaufen</span></a></li>
<li><a href="#20"><span>2.</span><span> Plugins installieren</span></a></li>
<li><a href="#30"><span>3.</span><span> Plugins verwalten</span></a></li>
<li><a href="#40"><span>4.</span><span> Eigene Plugins hinzufügen</span></a></li>
<li><a href="#50"><span>5.</span><span> Plugins bereitstellen</span></a></li>
<li><a href="#60"><span>6.</span><span> Plugins aktualisieren</span></a></li>
<li><a href="#70"><span>7.</span><span> Plugins bearbeiten</span></a></li>
<li><a href="#80"><span>8.</span><span> Plugins löschen</span></a></li>
<li><a href="#90"><span>9.</span><span> Plugin-Log aufrufen</span></a></li>
<li><a href="#100"><span>10.</span><span> Git-basierte Versionsverwaltung</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>10.1.</span><span> Workflow-Beispiel</span></a></li>
<li><a href="#120"><span>10.2.</span><span> Inbox-Repository aktualisieren</span></a></li>
<li><a href="#130"><span>10.3.</span><span> Commit-Informationen aufrufen</span></a></li>
<li><a href="#140"><span>10.4.</span><span> Inbox-Repository auf einen anderen Commit setzen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Plugins</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Über das Menü <strong>Plugins</strong> verwalten und veröffentlichen Sie im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a> erworbene Plugins sowie selbsterstellte Plugins. Installieren Sie neue Plugins, ändern Sie den Zustand vorhandener Plugins, um sie zu veröffentlichen, und löschen Sie Plugins. Wie Sie Plugins selbst erstellen, erfahren Sie auf <a href="http://developers.plentymarkets.com/" target="_blank" rel="noopener">plentyDevelopers</a>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Ausbau der Plugin-Fähigkeit</div>
<div class="paragraph">
<p>Die Plugin-Fähigkeit von plentymarkets und die Bearbeitungsmöglichkeiten werden suk­zes­si­ve ausgebaut. Auch das Angebot an Plugins wird nach und nach erweitert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Plugins kaufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://marketplace.plentymarkets.com/de/" target="_blank" rel="noopener">plentyMarketplace</a> ist die neue Plattform für die Distribution von hauseigenen und externen plentymarkets Software-Erweiterungen. Diese Plattform ermöglicht Ihnen einen leichten Zugang zu Plugins, damit Sie schnell und einfach von allen Vorteilen profitieren. Gehen Sie wie im Folgenden beschrieben vor, um ein Plugin zu kaufen.</p>
</div>
<div class="paragraph instruction">
<p>Plugin kaufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie den <a href="http://marketplace.plentymarkets.com/de/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Anmelden</strong>.</p>
</li>
<li>
<p>Geben Sie Ihre E-Mail-Adresse oder PlentyID ein.<br>
→ Nutzen Sie Ihre Zugangsdaten aus dem Service-Center.</p>
</li>
<li>
<p>Geben Sie Ihr Passwort ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Anmelden</strong>.</p>
</li>
<li>
<p>Wählen Sie ein Plugin aus einer Kategorie.</p>
</li>
<li>
<p>Klicken Sie in der Detailansicht des Plugins auf <strong>Plugin kaufen</strong>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Nutzungsbedingungen zur Kenntnis.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Jetzt kaufen</strong>.<br>
→ Das gekaufte Plugin ist im Menü <strong>Plugins&nbsp;» Einkäufe</strong> verfügbar.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Plugins installieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem Sie das Plugin im plentyMarketplace gekauft haben, ist es im Menü <strong>Plugins&nbsp;» Einkäufe</strong> verfügbar und kann dort installiert werden.</p>
</div>
<div class="paragraph instruction">
<p>Plugin installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins&nbsp;» Einkäufe</strong>.<br>
→ Alle im plentyMarketplace erworbenen Plugins werden hier angezeigt.</p>
</li>
<li>
<p>Klicken Sie in der Zeile des Plugins auf <strong>Plugin installieren</strong>.<br>
→ Das Fenster <strong>Plugin installieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie die Version des Plugins aus der Dropdown-Liste.<br>
→ Die neueste Version des Plugins ist vorausgewählt.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert und ist in der Plugin-Übersicht verfügbar.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Plugins verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Menü <strong>Plugins&nbsp;» Plugin-Übersicht</strong> zeigt eine Übersicht der Plugins in der plentymarkets Inbox. Wählen Sie in der oberen Leiste aus der Dropdown-Liste den Mandanten, für den die Plugin-Konfigurationen mandantenabhängig angezeigt werden sollen. In der Kartenansicht werden die Plugins in Form von Karten dargestellt. Eine Plugin-Karte enthält folgende Informationen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Status</p>
</li>
<li>
<p>Verfügbare Updates</p>
</li>
<li>
<p>Symbol</p>
</li>
<li>
<p>Name</p>
</li>
<li>
<p>Version</p>
</li>
<li>
<p>Quelle</p>
</li>
<li>
<p>Autor</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Alternativ zur Kartenansicht können Sie zur Tabellenansicht wechseln. <a href="#tabelle-plugin-uebersicht">Tabelle 1</a> erläutert die in den Spalten der Tabellenansicht gezeigten Informationen.</p>
</div>
<table id="tabelle-plugin-uebersicht" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Tabellenansicht des Menüs <strong>Plugins&nbsp;» Plugin-Übersicht</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spalte</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name des Plugins</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Version</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Version des Plugins in der Inbox. Diese Version kann von der Version des in <strong>Stage</strong> oder <strong>Productive</strong> bereitgestellten Plugins abweichen. Wenn eine neue Version eines Plugin der Quelle <strong>plentyMarketplace</strong> zur Verfügung steht, wird der Button <strong>Aktualisieren</strong> eingeblendet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktiv</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Plugin in Stage bzw. Productive aktivieren. Aktivierte Plugins werden erst nach Klick auf <strong>Plugins in Stage bereitstellen</strong> bzw. <strong>Plugins in Productive bereitstellen</strong> im jeweiligen Modus bereitgestellt.<br>
Graues Symbol = Plugin ist nicht aktiv.<br>
Blaues Symbol = Plugin ist aktiv. Die Version des bereitgestellten Plugins wird angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stage</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zustand des Plugins in Stage.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Productive</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zustand des Plugins in Productive.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Quelle</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Quelle des Plugins, z.B. <strong>Git</strong> oder <strong>plentyMarketplace</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Typ</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Plugin-Typ.<br>
<strong>template</strong> = Plugins, die Routen registrieren und den Inhalt von Templates ausgeben.<br>
<strong>export</strong> = Plugins, die Exportformate für den Export von CSV-Dateien beinhalten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Hinzugefügt</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datum, an dem das Plugin zum Menü <strong>Plugins&nbsp;» Plugin-Übersicht</strong> hinzugefügt wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Autor</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Autor des Plugins</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktionen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Löschen</strong> = Löscht Plugins aus der Liste und der plentymarkets Inbox.<br>
<em><strong>Hinweis:</strong></em> Aktive Plugins werden erst bei der nächsten Bereitstellung aus Stage/Productive gelöscht.<br>
<strong>Position festlegen</strong> = Bestimmt die Reihenfolge der Plugins in der Listenansicht und bei der Bereitstellung.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Positionsnummern der Plugins</div>
<div class="paragraph">
<p>Installierte Plugins werden nach Position geladen. Das Plugin mit der niedrigsten Position steht in der Plugin-Liste ganz oben und wird zuerst geladen. Das Plugin mit der höchsten Positionsnummer steht in der Liste an letzter Stelle und wird auch zuletzt geladen. Die Plugin-Position ist besonders beim Webshop-Plugin <strong>IO</strong> zu beachten, damit sämtliche Routen des Webshops korrekt aufgerufen werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Positionsnummer speichern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins&nbsp;» Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicken Sie in der Werkzeugleiste auf <strong>In Tabellenansicht wechseln</strong>.<br>
→ Die Plugins werden in der Tabellenansicht angezeigt.</p>
</li>
<li>
<p>Klicken Sie in der Zeile des Plugins auf <strong>Position festlegen</strong>.<br>
→ Das Fenster <strong>Plugin-Position</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie eine neue Positionsnummer ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Das Plugin wird in der Liste der Plugins neu angeordnet.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Eigene Plugins hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Alternativ zum plentyMarketplace können Sie der Inbox Ihres plentymarkets Systems auch eigene Plugins hinzufügen. Gehen Sie wie unten beschrieben vor, um ein über die <a href="/basics/erste-schritte/plugins#90">Git-Versionierung</a> verwaltetes Plugin-Repository in die plentymarkets Inbox zu kopieren und im plentymarkets Backend zu verwalten.</p>
</div>
<div class="paragraph">
<p>Fügen Sie ein Git-Repository zur plentymarkets Inbox hinzu, um von der Versionsverwaltung zu profitieren und Plugins, die über Git-Repositorys verwaltet werden, bereitzustellen. Gehen Sie wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Git-Repository zur plentymarkets Inbox hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins&nbsp;» Git</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>New plugin</strong>.<br>
→ Das Fenster <strong>Settings</strong> wird angezeigt.</p>
</li>
<li>
<p>Geben Sie die Zugangsdaten für das Git-Repository ein. Beachten Sie <a href="#tabelle-git-plugin">Tabelle 2</a>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Test connection</strong>.<br>
→ Die Verbindung zum Git-Repository wird geprüft und hergestellt.</p>
</li>
<li>
<p>Wählen Sie den Branch des Repositorys aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speicher</strong> Sie die Einstellungen.<br>
→ Das Plugin-Repository wird in die plentymarkets Inbox kopiert und in der Plugin-Übersicht angezeigt.<br>
→ Das Plugin wird im Menü <strong>Git</strong> angezeigt.</p>
</li>
</ol>
</div>
<table id="tabelle-git-plugin" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Git-Plugins hinzufügen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Remote URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die URL des Git-Repositorys eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>User name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Benutzernamen eingeben. Der Benutzername ist Bestandteil der Benutzerdaten des Hosting-Anbieters (z.B. GitHub) für das Git-Repository. Diese Benutzerdaten sind nur für das Hinzufügen von privaten Repositorys notwendig. Bei öffentlichen Repositorys einen Wert in das Feld eingeben, z.B. <strong>Gast</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Password</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Passwort eingeben. Das Passwort ist Bestandteil der Benutzerdaten des Hosting-Anbieters (z.B. GitHub) für das Git-Repository.  Diese Benutzerdaten sind nur für das Hinzufügen von privaten Repositorys notwendig. Bei öffentlichen Repositorys einen Wert in das Feld eingeben, z.B. <strong>Gast</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Test connection</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Verbindung zum Git-Repository prüfen und herstellen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Branch</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Erst wählbar, nachdem die Verbindung zum Git-Repository über <strong>Test connection</strong> geprüft wurde. Den Branch wählen, von dem eine Kopie in der plentymarkets Inbox erstellt werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Auto fetch</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aktivieren, um Änderungen automatisch abzurufen, die in das Git-Repository gepusht werden. Die Änderungen werden abgerufen, jedoch nur in der Commit-Liste angezeigt, nicht gemergt.<br>
<em><strong>Hinweis</strong></em>: Die Autofetch-Funktion kann leichte Performance-Einbußen verursachen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">5. Plugins bereitstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Plugins werden von der Inbox des Menüs <strong>Plugins&nbsp;» Plugin-Übersicht</strong> aus in Stage bzw. Productive getrennt bereitgestellt. Dabei entspricht Stage einem Vorschaumodus. Der Stage-Modus ist nur für den Hauptmandanten verfügbar. Bei der Bereitstellung in Stage werden alle Plugins bereitgestellt, die für den Modus Stage aktiviert wurden. Bei der Bereitstellung in Productive werden alle Plugins bereitgestellt, die für den Modus Productive aktiviert wurden. Plugins, die in Productive bereitgestellt werden, sind ggf. für Ihre Kunden und Anwender sichtbar. <a href="#tabelle-stage-vs-productive">Tabelle 3</a> verdeutlicht das Konzept von Stage und Productive.</p>
</div>
<table id="tabelle-stage-vs-productive" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Stage vs. Productive</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Modus</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Stage</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Stage entspricht einem Vorschaumodus. Der Stage-Modus ist nur für den Hauptmandanten verfügbar. Stellen Sie Plugins in Stage bereit, um ihr Verhalten und ggf. die von Ihnen daran vorgenommenen Anpassungen zu testen, bevor Sie sie in Productive bereitstellen und so veröffentlichen. Der Stage-Modus wird für die Plugin-Entwicklung empfohlen. Ressourcen des Plugins, z.B. Bilder oder CSS-Dateien, werden direkt geladen und vorgenommene Anpassungen werden sofort nach dem Bereitstellen angezeigt. Im Vorschaumodus <strong>Stage</strong> werden Ressourcen-Dateien nicht gecacht, sondern direkt von S3 geladen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Productive</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>In Productive bereitgestellte Plugins werden für die gewählten Mandanten veröffentlicht. Das bedeutet, dass sie in Ihrem Produktivsystem verwendet werden und ggf. für Ihre Kunden sichtbar sind. Daher sollten Sie Plugins ausgiebig testen, bevor Sie sie in Productive bereitstellen. Die Auslieferung der Ressourcen (Bilder, CSS etc.) von Plugins für den Produktivmodus <strong>Productive</strong> erfolgt über Cloudfront. Die Dateien werden gecacht und 24h vorgehalten. Änderungen an den Plugins sind am Folgetag der Bereitstellung sichtbar.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Eine Bereitstellung der Plugins ist in folgenden Fällen erforderlich:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Neue Plugins wurden hinzugefügt.</p>
</li>
<li>
<p>Plugins wurden aktiviert.</p>
</li>
<li>
<p>Plugins wurden aktualisiert.</p>
</li>
<li>
<p>Plugins wurden bearbeitet.</p>
</li>
<li>
<p>Plugins wurden deaktiviert.</p>
</li>
<li>
<p>Fehler wurden behoben.</p>
</li>
</ul>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Lese- und Schreibrechte von in Stage bereitgestellten Plugins auf die Datenbank</div>
<div class="paragraph">
<p>In Stage bereitgestellte Plugins befinden sich im Vorschaumodus, können aber mit den entsprechenden Berechtigungen auf Daten in der Datenbank des produktiven plentymarkets Systems zugreifen, Daten verändern oder sogar löschen. Beachten Sie, dass auch Änderungen am Plugin in Stage zu Datenverlust im Live-System führen können.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um die Plugins bereitzustellen. <a href="#tabelle-bereitstellung-menueleiste">Tabelle 4</a> erläutert die erforderlichen Optionen der Menüleiste.</p>
</div>
<div class="paragraph instruction">
<p>Plugins in Stage bereitstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wählen Sie den Hauptmandanten aus der Dropdown-Liste.</p>
</li>
<li>
<p>Öffnen Sie das Menü <strong>Plugins&nbsp;» Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Aktivieren bzw. deaktivieren Sie die gewünschten Plugins für den Modus <strong>Stage</strong>.<br>
→ Noch nicht bereitgestellte Änderungen werden in der Menüleiste hervorgehoben.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Klicken Sie in der Menüleiste auf <strong>Plugins in Stage bereitstellen</strong>.<br>
→ Die aktivierten Plugins werden geprüft und die Bereitstellung wird gestartet.<br>
→ Das Symbol in Stage bereitgestellter Plugins wird in der Kartenansicht grün angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugins in Productive bereitstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wählen Sie den gewünschten Mandanten aus der Dropdown-Liste.</p>
</li>
<li>
<p>Öffnen Sie das Menü <strong>Plugins&nbsp;» Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Aktivieren bzw. deaktivieren Sie die gewünschten Plugins für den Modus <strong>Productive</strong>.<br>
→ Noch nicht bereitgestellte Änderungen werden in der Menüleiste hervorgehoben.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
<li>
<p>Klicken Sie in der Menüleiste auf <strong>Plugins in Productive bereitstellen</strong>.<br>
→ Die aktivierten Plugins werden geprüft und die Bereitstellung wird gestartet.<br>
→ Das Symbol in Productive bereitgestellter Plugins wird in der Kartenansicht grün angezeigt.</p>
</li>
</ol>
</div>
<table id="tabelle-bereitstellung-menueleiste" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 4. Bereitstellungsoptionen der Menüleiste</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zur Tabellenansicht wechseln</strong>;<br>
<strong>Zur Kartenansicht wechseln</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Klicken, um zwischen Kartenansicht und Tabellenansicht zu wechseln.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Plugins in Stage bereitstellen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Prüft alle aktivierten Plugins und stellt sie dann im Vorschaumodus <strong>Stage</strong> bereit. In diesem Modus wird eine Vorschau der aktiven Plugins bereitgestellt und ihre Funktion kann getestet werden. Noch nicht bereitgestellte Änderungen werden gelb hervorgehoben.<br>
<strong><em>Hinweis</em></strong>: Bei der Bereitstellung werden alle aktivierten Plugins nacheinander für Stage kompiliert. Dieser Vorgang kann einige Minuten dauern. Bei Fehlern wird keines der Plugins bereitgestellt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Plugin-Log (Stage)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Übersicht der Bereitstellungsvorgänge der Plugins in Stage. Fehlgeschlagene Vorgänge werden farblich hervorgehoben. Aufgetretene Fehler beim letzten Bereitstellungsvorgang werden in einer Liste angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Plugins in Productive bereitstellen</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Prüft alle Plugins und stellt sie dann im produktiven Modus <strong>Productive</strong> bereit. In diesem Modus werden die aktiven Plugins ausgeführt und veröffentlicht. Noch nicht bereitgestellte Änderungen werden gelb hervorgehoben.<br>
<strong><em>Hinweis</em></strong>: Bei der Bereitstellung werden alle aktivierten Plugins nacheinander für Productive kompiliert. Dieser Vorgang kann einige Minuten dauern. Bei Fehlern wird keines der Plugins bereitgestellt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Plugin-Log (Productive)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Übersicht der Bereitstellungsvorgänge der Plugins in Productive. Fehlgeschlagene Vorgänge werden farblich hervorgehoben. Aufgetretene Fehler beim letzten Bereitstellungsvorgang werden in einer Liste angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zu Stage wechseln;<br>
Zu Productive wechseln</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zu Stage wechseln</strong> = Vom Produktivmodus Productive in den Vorschaumodus Stage wechseln. Alle in Stage bereitgestellten Plugins werden beim Aufrufen der URL des Webshops angezeigt. Die Plugins sind nur für die Benutzer Ihres plentymarkets Systems sichtbar. Der Modus wird nach 120 Minuten automatisch wieder auf Productive gestellt.<br>
<strong><em>Wichtig:</em></strong> Bereitgestellte Plugins wechseln zwar in den Vorschaumodus, die Datenbank wird aber nicht gewechselt. Mit den entsprechenden Berechtigungen können diese Plugins auf Daten in der Datenbank des Produktivsystems zugreifen, Daten verändern oder sogar löschen.<br>
<strong>Zu Productive wechseln</strong> = Modus von Stage zurück in Productive wechseln.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Automatisch bereitstellen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aktivieren, um Plugins bei Aktualisierungen über <a href="plentyDrive"></a><a href="https://marketplace.plentymarkets.com/plugins/integration/plentyDrive_5091^" class="bare">https://marketplace.plentymarkets.com/plugins/integration/plentyDrive_5091^</a> automatisch in <strong>Stage</strong> bereitzustellen. Plugins müssen bereits in <strong>Stage</strong> aktiv sein.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="60">6. Plugins aktualisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Plugin-Aktualisierungen werden sowohl im plentyMarketplace als auch im plentymarkets Backend angezeigt. Neue verfügbare Versionen werden die Markierung <strong>Plugin aktualisieren</strong> in der rechten oberen Ecke einer Plugin-Karte in der Plugin-Übersicht angezeigt. Um eine neue Version eines im plentyMarketplace erworbenen Plugins zu installieren, gehen Sie wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Plugin aktualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins&nbsp;» Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Zeigen Sie mit der Maus auf den Button <strong>Mehr</strong>.<br>
→ Das Kontextmenü wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Plugin aktualisieren</strong>.<br>
→ Das Fenster <strong>Plugin aktualisieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie die Version aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Plugin aktualisieren</strong>.<br>
→ Das Plugin wird auf die neue Version aktualisiert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Um das Plugin in der aktualisierten Version zu nutzen, stellen Sie es wie oben beschrieben erneut bereit.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Keine Aktualisierung auf ältere Version</div>
<div class="paragraph">
<p>Bei einer Plugin-Aktualisierung können Sie nur eine neuere Version des Plugins installieren. Um das Plugin auf eine ältere Version zurückzusetzen, löschen Sie das Plugin zunächst und installieren es mit der gewünschten Version erneut.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. Plugins bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Dateien eines Plugins können direkt in der plentymarkets Inbox bearbeitet werden. Welche Dateien bearbeitbar sind, hängt von der Art des Plugins ab. Gehen Sie wie unten beschrieben vor, um Plugin-Dateien zu bearbeiten.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Anwender ohne Programmier- bzw. Layout-Erfahrung</div>
<div class="paragraph">
<p>Bearbeiten Sie als Anwender ohne Programmier- bzw. Layout-Erfahrung die Plugin-Dateien nicht selbst. Wenden Sie sich stattdessen an einen unserer zertifizierten Dienstleister.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Plugins bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins&nbsp;» Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Doppelklicken Sie auf das Plugin.<br>
→ Die Plugin-Detailansicht wird geöffnet, in der die Plugin-Dateien bearbeitet werden können.</p>
</li>
<li>
<p>Nehmen Sie die Änderungen vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Änderungen.</p>
</li>
<li>
<p>Bei Plugins, die mit einem Git-Repository verknüpft sind, pushen Sie die Änderungen über das Menü <strong>Git</strong>.</p>
</li>
<li>
<p>Stellen Sie aktive Plugins erneut bereit, um die Änderungen zu veröffentlichen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="80">8. Plugins löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Löschen Sie Plugins, die weder in Stage noch in Productive aktiv sind. Gehen Sie wie unten beschrieben vor, um ein nicht mehr benötigtes Plugin zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Plugins löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins&nbsp;» Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Prüfen Sie den Zustand des Plugins in Stage und Productive.</p>
</li>
<li>
<p>Zeigen Sie mit der Maus auf den Button <strong>Mehr</strong>.<br>
→ Das Kontextmenü wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Plugin löschen</strong>.<br>
→ Das Fenster <strong>Plugin löschen</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Plugin löschen</strong>.<br>
→ Das Plugin wird aus der Liste entfernt.<br>
→ Die Plugin-Dateien werden aus der plentymarkets Inbox gelöscht.<br>
→ Ist das Plugin mit einem Git-Repository verknüpft, wird das Repository aus der Liste im Menü <strong>Git</strong> entfernt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="90">9. Plugin-Log aufrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Plugin-Log finden Sie eine Historie über Bereitstellungsvorgänge Ihrer Plugins. Jeder Vorgang wird einzeln aufgezeichnet. Im Falle einer fehlgeschlagenen Bereitstellung finden Sie unter <strong>Ergebnis</strong> detaillierte Informationen über den letzten Vorgang. Die Plugin-Logs für den Vorschaumodus <strong>Stage</strong> und den Produktivmodus <strong>Productive</strong> werden getrennt voneinander aufgezeichnet.</p>
</div>
<div class="paragraph instruction">
<p>Plugin-Log aufrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins&nbsp;» Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Plugin-Log (Stage)</strong> bzw. <strong>Plugin-Log (Productive)</strong>.<br>
→ Das Plugin-Log wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie in der Zeile des letzten Vorgangs auf den Button <strong>Mehr</strong>.<br>
→ Die Detailansicht des Logs wird geöffnet.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="100">10. Git-basierte Versionsverwaltung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zur Versionsverwaltung von Plugins steht Ihnen im Menü <strong>Plugins&nbsp;» Git</strong> ein einfacher Git-Client zur Verfügung. Die plentymarkets Versionsverwaltung basiert auf dem verteilten Versionsverwaltungssystem <a href="https://git-scm.com/" target="_blank" rel="noopener">Git</a>. Sie ermöglicht es, Änderungen, die Sie oder andere Nutzer an Plugin-Dateien vornehmen, über ein Git-Repository zu verwalten.</p>
</div>
<div class="paragraph">
<p>Die Versionsverwaltung bietet folgende Vorteile:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Protokollierung: Änderungen werden in Commits protokolliert und können jederzeit nachvollzogen werden.</p>
</li>
<li>
<p>Wiederherstellung: Jeder Stand jeder Datei kann wiederhergestellt werden. Änderungen können also jederzeit rückgängig gemacht werden.</p>
</li>
<li>
<p>Zusammenarbeit: Mehrere Anwender können gemeinsam an einem Repository arbeiten.</p>
</li>
<li>
<p>Fehlersuche: Fehler sind leichter nachvollziehbar und korrigierbar.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Englischsprachige Benutzeroberfläche</div>
<div class="paragraph">
<p>Viele plentymarkets Anwender sind mit anderen Git-Clients mit englischsprachiger Benutzeroberfläche vertraut. Daher ist das Menü <strong>Plugins&nbsp;» Git</strong> derzeit nur auf Englisch verfügbar. Die Terminologie orientiert sich an GitHub. Definitionen finden Sie z.B. im <a href="https://help.github.com/articles/github-glossary/" target="_blank" rel="noopener">GitHub-Glossar</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="110">10.1. Workflow-Beispiel</h3>
<div class="paragraph">
<p>Wenn Sie noch nicht mit Git oder einer ähnlichen verteilten Versionsverwaltung gearbeitet haben, machen Sie sich zunächst mit den grundlegenden Konzepten vertraut. Einen sinnvollen Einstieg bietet z.B. das <a href="https://help.github.com/categories/bootcamp/" target="_blank" rel="noopener">GitHub Bootcamp</a>. Um Ihnen den Einstieg in die Versionsverwaltung in plentymarkets zu erleichtern, wird nachfolgend ein grundlegender Workflow mit Git beschrieben, der als Grundlage für Ihre eigenen Arbeitsabläufe dienen kann.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Git-Repository erstellen.</p>
</li>
<li>
<p>Lokale Kopie des Git-Repositorys auf der Festplatte ablegen.</p>
</li>
<li>
<p>Dateien lokal bearbeiten. Dabei ggf. Änderungen anderer Anwender regelmäßig aus dem Git-Repository in die Versionshistorie Ihres lokalen Repositorys kopieren.</p>
</li>
<li>
<p>Lokale Änderungen in das Git-Repository pushen.</p>
</li>
<li>
<p>Git-Repository über das Menü <strong>Plugins&nbsp;» Git</strong> in die plentymarkets Inbox kopieren.</p>
</li>
<li>
<p>Plugin über die plentymarkets Inbox in Stage bereitstellen.</p>
</li>
<li>
<p>Plugin in Stage testen.</p>
</li>
<li>
<p>Plugin ggf. lokal anpassen und Vorgang wiederholen.</p>
</li>
<li>
<p>Fertiges Plugin in Productive bereitstellen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="120">10.2. Inbox-Repository aktualisieren</h3>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um die aktuellste Version des Git-Repositorys entweder über <strong>Fetch</strong> oder <strong>Pull</strong> in ihr Inbox-Repository zu kopieren.</p>
</div>
<div class="paragraph instruction">
<p>Git-Repository in Inbox-Repository kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins&nbsp;» Git</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das gewünschte Repository.</p>
</li>
<li>
<p>Klicken Sie entweder auf <strong>Fetch</strong> oder auf <strong>Pull</strong>. Beachten Sie <a href="#tabelle-fetch-pull">Tabelle 5</a>.<br>
→ Die neuen Commits werden in der Commit-Liste angezeigt.</p>
</li>
</ol>
</div>
<table id="tabelle-fetch-pull" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 5. Fetch vs. Pull</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Fetch</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ruft die neuesten Commits vom Git-Repository ab und speichert sie, ohne sie zu mergen. Der aktuelle Stand der Repository-Dateien in der Inbox ändert sich nicht. Noch nicht committete Änderungen werden nicht überschrieben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Pull</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Synchronisiert das Inbox-Repository mit dem Git-Repository. Der Stand der Repository-Dateien in der Inbox wird mit dem aktuellen Stand des Git-Repositorys überschrieben. Änderungen am Inbox-Repository, die noch nicht ins Git-Repository gepusht wurden, werden nach einer Sicherheitsabfrage überschrieben.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="130">10.3. Commit-Informationen aufrufen</h3>
<div class="paragraph">
<p>In der Commit-Liste eines Repositorys des Menüs <strong>Plugins&nbsp;» Git</strong> werden Informationen zu bisher ausgeführten Commits angezeigt. Der Commit, auf dessen Stand sich das Repository aktuell befindet, ist mit einem Häkchen gekennzeichnet. <a href="#tabelle-git-verwaltung">Tabelle 6</a> erläutert die Ansicht.</p>
</div>
<table id="tabelle-git-verwaltung" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 6. Git-Verwaltung</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Fetch</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ruft Commits von Git-Repository ab, ohne sie in das Inbox-Repository zu mergen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Pull</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ruft Commits von Git-Repository ab und mergt sie direkt in das Inbox-Repository.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Pull to Stage</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ruft Commits von Git-Repository ab, mergt sie direkt in das Inbox-Repository und startet die Bereitstellung in Stage.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Pull to Productive</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ruft Commits von Git-Repository ab, mergt sie direkt in das Inbox-Repository und startet die Bereitstellung in Productive.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Push</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Veröffentlicht die Änderungen, die im Inbox-Repository vorgenommen wurden, im Git-Repository.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Settings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/erste-schritte/plugins#tabelle-git-plugin">Verbindungseinstellungen</a> des Repositorys</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Uncommitted changes</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Nur sichtbar, wenn Änderungen am Inbox-Repository vorgenommen, aber noch nicht gepusht wurden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Description</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Commit-Message, die für den Commit eingegeben wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID des Commits. Wird automatisch vom System vergeben und ist nicht änderbar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Information</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Detaillierte Commit-Informationen:<br>
<strong>Author</strong> = Name des Commit-Autors.<br>
<strong><em>Tipp:</em></strong> Optional E-Mail-Adresse des Autors mit <a href="https://en.gravatar.com/" target="_blank" rel="noopener">Gravatar</a> verknüpfen. Bei Autoren ohne Gravatar wird rechts das Gravatar-Logo angezeigt.<br>
<strong>Commit-ID</strong> = ID des Commits. Wird automatisch vom System vergeben und ist nicht änderbar.<br>
<strong>Parent-ID</strong> = ID des Vorgänger-Commits, d.h. des Commits, der bearbeitet wurde, um diesen Commit zu erzielen.<br>
<strong>Description</strong> = Vollständige Commit-Message.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Author</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name des Nutzers, der den Commit ins Git-Repository gespeichert hat. Entspricht dem beim Git-basierten Versionsverwaltungssystem (z.B. GitHub, Bitbucket) hinterlegten Benutzername.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Datum</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datum, an dem der Commit in das Git-Repository gemergt wurde.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Files</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt die Dateien an, die in diesem Commit geändert wurden. Auf den Dateinamen klicken, um rechts die Änderungen anzuzeigen.<br>
Rot = Löschungen<br>
Grün = Hinzufügungen<br>
Wurde mehr als eine Datei geändert, in der <strong>File</strong>-Liste auf eine andere Datei klicken, um die Änderungen an dieser Datei anzuzeigen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="140">10.4. Inbox-Repository auf einen anderen Commit setzen</h3>
<div class="paragraph">
<p>In Ihrer Inbox befinden sich sämtliche Versionen des Repositorys, die über einen Commit gespeichert wurden. Sie haben die Möglichkeit, die Inbox-Dateien eines Repositorys auf den Stand eines beliebigen Commits der Commit-Liste zu setzen. Gehen Sie dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Inbox-Repository auf einen anderen Commit setzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins&nbsp;» Git</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das gewünschte Repository.<br>
→ Den Commit, auf dessen Stand sich das Repository aktuell befindet, erkennen Sie an dem Häkchen.<br>
→ Eine Liste aller Commits des Repositorys wird angezeigt.</p>
</li>
<li>
<p>Klicken Sie auf den Commit, auf den Sie Ihr Inbox-Repository setzen möchten.<br>
→ Im Bereich <strong>File</strong> links unten wird eine Liste der in diesem Commit geänderten Dateien angezeigt. Rechts unten werden die in der Datei vorgenommenen Änderungen angezeigt. Wurde mehr als eine Datei geändert, klicken Sie in der <strong>File</strong>-Liste auf eine andere Datei, um die Änderungen darin anzuzeigen.</p>
</li>
<li>
<p>Klicken Sie mit der rechten Maustaste auf den Commit.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Set to selected commit</strong> (Auf gewählten Commit setzen).<br>
→ Die Dateien des Inbox-Repositorys werden auf den Stand dieser Version gesetzt.</p>
</li>
<li>
<p>Stellen Sie die Plugins in Stage bzw. Productive neu bereit.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>