<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#marketplace-plugins-kaufen"><span>1.</span><span> Marketplace-Plugins kaufen</span></a></li>
<li><a href="#git-plugins-hinzufuegen"><span>2.</span><span> Eigene Git-Plugins hinzufügen</span></a>
<ul class="sectlevel2">
<li><a href="#_git_repository_löschen"><span>2.1.</span><span> Git-Repository löschen</span></a></li>
</ul>
</li>
<li><a href="#plugin-sets-verwalten"><span>3.</span><span> Plugin Übersicht - Plugin-Sets verwalten</span></a></li>
<li><a href="#plugin-sets-erstellen"><span>4.</span><span> Plugin-Sets erstellen</span></a></li>
<li><a href="#plugin-sets-bearbeiten"><span>5.</span><span> Plugin-Sets bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#plugin-set-namen-aendern"><span>5.1.</span><span> Plugin-Set-Name ändern</span></a></li>
<li><a href="#plugins-hinzufuegen"><span>5.2.</span><span> Plugins hinzufügen</span></a></li>
<li><a href="#plugins-aktualisieren"><span>5.3.</span><span> Plugins aktualisieren</span></a></li>
<li><a href="#plugins-entfernen"><span>5.4.</span><span> Plugins entfernen</span></a>
<ul class="sectlevel3">
<li><a href="#plugins-deaktivieren"><span>5.4.1.</span><span> Plugins deaktivieren</span></a></li>
<li><a href="#plugins-loeschen"><span>5.4.2.</span><span> Plugins löschen</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#plugin-sets-loeschen"><span>6.</span><span> Plugin-Sets löschen</span></a></li>
<li><a href="#plugin-sets-im-backend-aktivieren"><span>7.</span><span> Plugin-Sets im Backend aktivieren</span></a></li>
<li><a href="#plugin-konfiguration"><span>8.</span><span> Plugin-Konfiguration</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Plugins verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Über das Menü <strong>Plugins</strong> verwalten und veröffentlichen Sie im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a> erworbene Plugins sowie selbsterstellte Plugins. Installieren Sie neue Plugins, ändern Sie den Zustand vorhandener Plugins, um sie zu veröffentlichen, und löschen Sie Plugins. Wie Sie Plugins selbst erstellen, erfahren Sie auf <a href="http://developers.plentymarkets.com/" target="_blank" rel="noopener">plentyDevelopers</a>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Ausbau der Plugin-Fähigkeit</div>
<div class="paragraph">
<p>Die Plugin-Fähigkeit von plentymarkets und die Bearbeitungsmöglichkeiten werden suk­zes­si­ve ausgebaut. Auch das Angebot an Plugins wird nach und nach erweitert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="marketplace-plugins-kaufen">1. Marketplace-Plugins kaufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://marketplace.plentymarkets.com/de/" target="_blank" rel="noopener">plentyMarketplace</a> ist die neue Plattform für die Distribution von hauseigenen und externen plentymarkets Software-Erweiterungen. Diese Plattform ermöglicht Ihnen einen leichten Zugang zu Plugins, damit Sie schnell und einfach von allen Vorteilen profitieren. Gehen Sie wie folgt vor, um ein Plugin zu kaufen.</p>
</div>
<div class="paragraph instruction">
<p>Plugin kaufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie den <a href="http://marketplace.plentymarkets.com/de/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Anmelden</strong>.</p>
</li>
<li>
<p>Geben Sie Ihre E-Mail-Adresse oder PlentyID ein.<br>
→ Nutzen Sie Ihre Zugangsdaten aus dem Service-Center.</p>
</li>
<li>
<p>Geben Sie Ihr Passwort ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Anmelden</strong>.</p>
</li>
<li>
<p>Wählen Sie ein Plugin aus einer Kategorie.</p>
</li>
<li>
<p>Klicken Sie in der Detailansicht des Plugins auf <strong>Plugin kaufen</strong>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Nutzungsbedingungen zur Kenntnis.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Jetzt kaufen</strong>.<br>
→ Das gekaufte Plugin ist im Menü <strong>Plugins&nbsp;» Plugin-Übersicht</strong> verfügbar.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="git-plugins-hinzufuegen">2. Eigene Git-Plugins hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Alternativ zum plentyMarketplace können Sie der Oberfläche Ihres plentymarkets Systems auch eigene Plugins hinzufügen. Gehen Sie wie unten beschrieben vor, um ein über die <a href="/basics/erste-schritte/plugins#90">Git-Versionierung</a> verwaltetes Plugin in plentymarkets hinzuzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Git-Repository zur plentymarkets Oberfläche hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins » Git</strong>.</p>
</li>
<li>
<p>Klicken Sie links auf <strong>Neues Repository hinzufügen</strong>.<br>
→ Die Optionen für die Repository-Einstellungen werden angezeigt.</p>
</li>
<li>
<p>Geben Sie die erforderlichen Daten für das Git-Repository ein. Beachten Sie dazu die Erläuterungen in <a href="#tabelle-git-plugins-hinzufuegen">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die Verbindung zum Git-Repository wird geprüft und hergestellt. Es erscheint die Meldung <strong>Repository gespeichert</strong>.</p>
</li>
</ol>
</div>
<table id="tabelle-git-plugins-hinzufuegen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Git-Plugins hinzufügen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Repository URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">HTTPS oder HTTP URL des Git-Repositorys</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Benutzername ist Bestandteil der Benutzerdaten des Anbieters (z.B. GitHub) für das Git-Repository.<br>
Bei öffentlichen Repositories einen Wert in das Feld eingeben, z.B. <strong>Gast</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort oder Token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Passwort ist Bestandteil der Benutzerdaten des Anbieters (z.B. GitHub) für das Git-Repository.<br>
Bei öffentlichen Repositories einen Wert in das Feld eingeben, z.B. <strong>Gast</strong>.<br>
Ein Token wird benötigt, wenn die Zwei-Faktor-Authentifizierung beim Anbieter aktiviert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Branchname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Git-Repository muss eine valide Plugin.json enthalten. Die Eingabe ist für die Erstinstallation notwendig.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="_git_repository_löschen">2.1. Git-Repository löschen</h3>
<div class="paragraph">
<p>Im Menü <strong>Plugins » Git</strong> können Repositories über den <strong>Löschen</strong>-Button gelöscht werden, wenn das Plugin in allen Sets deaktiviert wurde.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="plugin-sets-verwalten">3. Plugin Übersicht - Plugin-Sets verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die nachfolgende Tabelle enthält eine Liste aller Elemente des Menüs <strong>Plugin Übersicht</strong> sowie eine kurze Beschreibung dieser Elemente. Außerdem finden Sie in diesem Abschnitt Anweisungen zu der Erstellung, Bearbeitung und Löschung von Plugin-Sets.</p>
</div>
<table id="tabelle-plugin-uebersicht" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Tabellenansicht des Menüs <strong>Plugin » Plugin-Übersicht</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neues Plugin Set erstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet ein Fenster zur Erstellung eines neuen Plugin-Sets.<br>
<strong>Speichern</strong>: Speichert das neue Plugin-Set.<br>
<strong>Plugin Set Name</strong>: Der Name des Plugin-Sets.<br>
<strong>Plugin Set kopieren</strong>: Wählt bestehendes Plugin-Set aus Dropdown-Menü aus, um Einstellungen zu übernehmen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin Set aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviert das ausgewählte Plugin-Set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Plugin-Sets</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lädt die Plugin-Übersicht des Plugin-Sets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin Set löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löscht das Plugin-Set. Bestätigung notwendig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suchen</strong>: Lädt für das ausgewählte Plugin-Set in der Plugin-Übersicht alle Plugins, die die gewählten Filtereinstellungen erfüllen.<br>
<strong>Reset</strong>: Setzt die Filtereinstellungen auf die Standardeinstellungen zurück.<br>
<strong>Name</strong>: Filtert nach Plugins, deren Namen die eingegebene Zeichenfolge beinhaltet.<br>
<strong>plentyMarketplace</strong>: Filtert nach Plugins, die dem System über plentyMarketplace hinzugefügt wurden.<br>
<strong>Git</strong>: Filtert nach Plugins, die dem System über ein Git-Repository hinzugefügt wurden.<br>
<strong>Local</strong>: Filtert nach Plugins, die dem System über einen lokalen Speicher hinzugefügt wurden.<br>
<strong>Installiert</strong>: Filtert nach Plugins, die in dem ausgewählten Plugin-Set installiert sind.<br>
<strong>Nicht installiert</strong>: Filtert nach Plugins, die in dem ausgewählten Plugin-Set nicht installiert sind.<br>
<strong>Aktiv</strong>: Filtert nach Plugins, die in dem ausgewählten Plugin-Set aktiv sind.<br>
<strong>Nicht Akitv</strong>: Filtert nach Plugins, die in dem ausgewählten Plugin-Set nicht aktiv sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Speichern &amp; Plugin bereitstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Speichert Änderungen am Plugin-Set und stellt das Plugin-Set zur weiteren Nutzung bereit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin Set Vorschau</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet ein Tab, in dem eine Vorschau des Frontends mit den derzeitigen Einstellungen angezeigt wird. Plugin-Set muss zuvor mittels der Schaltfläche <strong>Speichern &amp; Bereitstellen</strong> bereitgestellt worden sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plenty Drive - automatisch bauen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn aktiviert und dem Plugin-Set ein Plugin mithilfe von plentyDrive hinzugefügt wird, wird das Plugin-Set automatisch gespeichert und bereitgestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin Set Einstellungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet ein Fenster zur Bearbeitung des ausgewählten Plugin-Sets.<br>
<strong>Speichern</strong>: Speichert die geänderten Einstellungen.<br>
<strong>Name</strong>: Ändert den Namen des Plugin-Sets.<br>
<strong>Pluginset ID</strong>: Die ID des Plugin-Sets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Log</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar, wenn Fehlermeldungen existieren. Zeigt diese an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob das Plugin aktiv oder inaktiv ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Name des Plugins. Wenn installiert, klicken um Informationen und Einstellungsmöglichkeiten anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zu installierende Version</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die neuste Version des Plugins, die installiert ist. Ein Symbol zeigt an, wenn eine neuere Version des Plugins existiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Version aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Version des Plugins, die aktiv ist und für das ausgewählte Plugin-Set in Frontend und Backend geladen wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Herkunft des Plugins, also plentyMarkets, Git oder ein lokaler Speicher.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin installieren</strong>: Installiert das Plugin. Ein Fenster öffnet sich, in dem die zu installierende Version ausgewählt und der Changelog eingesehen werden kann. Wird nur angezeigt, wenn das Plugin nicht installiert ist.<br>
<strong>Aktualisieren</strong>: Aktualisiert das Plugin auf eine neuere Version. Ein Fenster öffnet sich, in dem die zu installierende Version ausgewählt und der Changelog eingesehen werden kann. Wird nur angezeigt, wenn eine neuere Version vorhanden ist.<br>
<strong>Keine Aktualisierung verfügbar</strong>: Die neuste Version des Plugins ist installiert.<br>
<strong>Position festlegen</strong>: Legt die Reihenfolge fest, in der Plugins geladen werden. Plugins mit niedrigerer Position werden zuerst ausgeführt.<br>
<strong>Löschen</strong>: Entfernt das Plugin aus dem Plugin-Set. Bestätigung notwendig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentyMarketplace</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet plentyMarketplace in einem neuen Tab.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Ein Plugin-Set ist eine Sammlung von verschiedenen Plugins, die für einen oder für mehrere Mandanten zentral in der <strong>Plugin Übersicht</strong> verwaltet werden können. Plugin-Sets können ein Plugin oder mehrere Plugins enthalten und beinhalten darüber hinaus ebenfalls die Einstellungen der Plugin-Konfiguration und Layout-Container. Plugin-Sets eignen sich insbesondere für Händler, die mehrere Webshops gleichzeitig über plentymarkets verwalten, da unterschiedliche Plugin-Sets für unterschiedliche Mandanten gesondert aktiviert und konfiguriert werden können.</p>
</div>
<div class="paragraph">
<p>In den folgenden Abschnitten wird beschrieben, welche Aktionen Sie durchführen müssen, um neue Plugin-Sets zu erstellen, bereits existierende Plugin-Sets zu bearbeiten oder Plugin-Sets zu löschen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="plugin-sets-erstellen">4. Plugin-Sets erstellen</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Plugin-Sets erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.<br>
→ Das Fenster <strong>Plugin-Set erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen für das Plugin-Set ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Von Plugin-Set kopieren</strong>, um Einstellungen aus einem existierenden Plugin-Set zu übernehmen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugins installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie auf das Plugin-Set, das Sie bearbeiten möchten.<br>
→ Der Bereich, in dem Sie das ausgewählte Plugin-Set bearbeiten können, wird geöffnet.</p>
</li>
<li>
<p>Nutzen Sie die Filterfunktion indem Sie das Kontrollkästchen <strong>Nicht installiert</strong> aktivieren und auf <strong>Suchen</strong> klicken. Möchten Sie Plugins installieren, die Sie über ein Git-Repository oder einen lokalen Speicher hinzugefügt haben, müssen Sie vor der Suche auch das Kontrollkästchen <strong>Git</strong> beziehungsweise <strong>Local</strong> auswählen.
→ Die Plugin-Übersicht wird entsprechend aktualisiert.</p>
</li>
<li>
<p>Wenn Sie ein Plugin installieren möchten, klicken Sie in der entsprechenden Zeile in der Spalte <strong>Aktion</strong> auf die Schaltfläche <strong>Plugin installieren</strong>.<br>
→ Ein Fenster zur Auswahl der zu installierenden Version öffnet sich. Wählen Sie aus dem Dropdown-Menü <strong>Zu installierende Version</strong> die Version des Plugins aus, die Sie installieren möchten. Standardmäßig ist die neuste Version ausgewählt. In einem Textfeld unterhalb des Dropdown-Menüs wird der Changelog der aktuell ausgewählten Version angezeigt. Wenn Sie sich für eine Version entschieden haben, klicken Sie auf die Schaltfläche <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert und ist in der Plugin-Übersicht des Plugin-Sets verfügbar. Eine Ansicht mit allen installierten Plugins wird angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugins aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wenn Sie ein Plugin einem Plugin-Set aktivieren möchten, klicken Sie in der entsprechenden Zeile in der Spalte <strong>Aktiv</strong> auf die Schaltfläche <strong>inaktiv</strong>.<br>
→ Aktive Plugins werden in Frontend und Backend geladen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Position von Plugins ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wenn Sie die Position eines Plugins verändern möchten, klicken Sie in der entsprechenden Zeile in der Spalte <strong>Aktion</strong> auf die Schaltfläche <strong>Position festlegen</strong>.<br>
→ Das Fenster <strong>Plugin-Position</strong> öffnet sich. Geben Sie in das Textfeld die gewünschte Position des Plugins ein und klicken Sie auf <strong>save</strong>.
→ Die Position des Plugins wird aktualisiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Plugin-Position</div>
<div class="paragraph">
<p>Die relative Position der Plugins bestimmt, in welcher Reihenfolge sie innerhalb des Sets geladen werden. Dabei gilt: Je niedriger die Position des Plugins desto früher wird es geladen. Aus diesem Grund sollte das Plugin IO die höchste Positionsnummer erhalten, das Plugin Ceres in der Regel die zweithöchste.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Plugins als Vorschau öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie auf <strong>Plugin-Set Vorschau</strong>.</p>
</li>
<li>
<p>Wählen Sie den Webshop, den Sie in der Vorschau öffnen wollen. Das ausgewählte Plugin-Set muss zuvor über den Button <strong>Speichern &amp; Plugin-Set bereitstellen</strong> bereitgestellt werden.<br>
→ Der gewählte Webshop wird mit dem gewählten Plugin-Set in einem neuen Browser-Tab geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin-Sets aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie auf <strong>Plugin-Set aktivieren</strong>.<br>
→ Das Fenster <strong>Plugin-Set aktivieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie das Plugin-Set, das Sie in Ihrem Webshop aktivieren wollen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Plugin-Sets aktivieren</div>
<div class="paragraph">
<p>Das Aktivieren eines Plugin-Sets für einen Mandanten veröffentlicht alle Plugins im Plugin-Set. Dies geschieht mit sofortiger Wirkung. Testen Sie das Plugin-Set ausgiebig und sehen Sie sich die Vorschau an, bevor Sie es aktivieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="plugin-sets-bearbeiten">5. Plugin-Sets bearbeiten</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="plugin-set-namen-aendern">5.1. Plugin-Set-Name ändern</h3>
<div class="paragraph instruction">
<p>Plugin-Set-Namen ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das Plugin-Set, das Sie bearbeiten möchten.<br>
→ Der Bereich, in dem Sie das ausgewählte Plugin-Set bearbeiten können, wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf die Schaltfläche <strong>Plugin Set Einstellungen</strong>.
→ Der Bereich <strong>Einstellungen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie in das Textfeld <strong>Name</strong> den neuen Namen für Ihr Plugin-Set ein.</p>
</li>
<li>
<p>Klicken Sie auf die Schaltfläche <strong>Speichern</strong>.
→ Das Plugin-Set wird umbenannt.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Sicherheitskopie</div>
<div class="paragraph">
<p>Wenn Sie ein Plugin-Set bearbeiten und entweder neue Plugins hinzufügen oder bereits existierende Plugins aktualisieren oder löschen möchten, ist es empfehlenswert, eine Kopie dieses Plugin-Sets zu erstellen und die Änderungen zunächst auf dieser vorzunehmen. Dadurch wird verhindert, dass die Änderungen unbeabsichtigte Auswirkungen auf Ihren aktiven Shop hat.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="plugins-hinzufuegen">5.2. Plugins hinzufügen</h3>
<div class="paragraph instruction">
<p>Plugin-Set kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.<br>
→ Das Fenster <strong>Plugin-Set erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen für das Plugin-Set ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Von Plugin-Set kopieren</strong>, um Einstellungen aus einem existierenden Plugin-Set zu übernehmen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugins installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das Plugin-Set, das Sie bearbeiten möchten.<br>
→ Der Bereich, in dem Sie das ausgewählte Plugin-Set bearbeiten können, wird geöffnet.</p>
</li>
<li>
<p>Nutzen Sie die Filterfunktion indem Sie das Kontrollkästchen <strong>Nicht installiert</strong> aktivieren und auf <strong>Suchen</strong> klicken. Möchten Sie Plugins installieren, die Sie über ein Git-Repository oder einen lokalen Speicher hinzugefügt haben, müssen Sie vor der Suche auch das Kontrollkästchen <strong>Git</strong> beziehungsweise <strong>Local</strong> auswählen.
→ Die Plugin-Übersicht wird entsprechend aktualisiert.</p>
</li>
<li>
<p>Wenn Sie ein Plugin installieren möchten, klicken Sie in der entsprechenden Zeile in der Spalte <strong>Aktion</strong> auf die Schaltfläche <strong>Plugin installieren</strong>.<br>
→ Ein Fenster zur Auswahl der zu installierenden Version öffnet sich. Wählen Sie aus dem Dropdown-Menü <strong>Zu installierende Version</strong> die Version des Plugins aus, die Sie installieren möchten. Standardmäßig ist die neuste Version ausgewählt. In einem Textfeld unterhalb des Dropdown-Menüs wird der Changelog der aktuell ausgewählten Version angezeigt. Wenn Sie sich für eine Version entschieden haben, klicken Sie auf die Schaltfläche <strong>Installieren</strong>.<br>
→ Das Plugin wird installiert und ist in der Plugin-Übersicht des Plugin-Sets verfügbar. Eine Ansicht mit allen installierten Plugins wird angezeigt.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugins aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wenn Sie ein Plugin aktivieren möchten, klicken Sie in der entsprechenden Zeile in der Spalte <strong>Aktiv</strong> auf die Schaltfläche <strong>inaktiv</strong>.<br>
→ Aktive Plugins werden in Frontend und Backend geladen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Position von Plugins ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wenn Sie die Position eines Plugins verändern möchten, klicken Sie in der entsprechenden Zeile in der Spalte <strong>Aktion</strong> auf die Schaltfläche <strong>Position festlegen</strong>.<br>
→ Das Fenster <strong>Plugin-Position</strong> öffnet sich. Geben Sie in das Textfeld die gewünschte Position des Plugins ein und klicken Sie auf <strong>save</strong>.
→ Die Position des Plugins wird aktualisiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Plugin-Position</div>
<div class="paragraph">
<p>Die relative Position der Plugins bestimmt, in welcher Reihenfolge sie innerhalb des Sets geladen werden. Dabei gilt: Je niedriger die Position des Plugins desto früher wird es geladen. Aus diesem Grund sollte das Plugin IO die höchste Positionsnummer erhalten, das Plugin Ceres in der Regel die zweithöchste.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Plugins als Vorschau öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie auf <strong>Plugin-Set Vorschau</strong>.</p>
</li>
<li>
<p>Wählen Sie den Webshop, den Sie in der Vorschau öffnen wollen. Das ausgewählte Plugin-Set muss zuvor über den Button <strong>Speichern &amp; Plugin-Set bereitstellen</strong> bereitgestellt werden.<br>
→ Der gewählte Webshop wird mit dem gewählten Plugin-Set in einem neuen Browser-Tab geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin-Sets aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie auf <strong>Plugin-Set aktivieren</strong>.<br>
→ Das Fenster <strong>Plugin-Set aktivieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie das Plugin-Set, das Sie in Ihrem Webshop aktivieren wollen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Plugin-Sets aktivieren</div>
<div class="paragraph">
<p>Das Aktivieren eines Plugin-Sets für einen Mandanten veröffentlicht alle Plugins im Plugin-Set. Dies geschieht mit sofortiger Wirkung. Testen Sie das Plugin-Set ausgiebig und sehen Sie sich die Vorschau an, bevor Sie es aktivieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="plugins-aktualisieren">5.3. Plugins aktualisieren</h3>
<div class="paragraph instruction">
<p>Plugin-Set kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.<br>
→ Das Fenster <strong>Plugin-Set erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen für das Plugin-Set ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Von Plugin-Set kopieren</strong>, um Einstellungen aus einem existierenden Plugin-Set zu übernehmen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugins aktualisieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wenn ein Update für ein Plugin verfügbar ist, wird in der entsprechenden Zeile in der Spalte <strong>Aktion</strong> die Schaltfläche <strong>Aktualisieren</strong> farbig gekennzeichnet. Klicken Sie auf diese Schaltfläche, um das Plugin zu aktualisieren.<br>
→ Ein Fenster zur Auswahl der zu installierenden Version öffnet sich. Wählen Sie aus dem Dropdown-Menü <strong>Zu installierende Version</strong> die Version des Plugins aus, die Sie installieren möchten. Standardmäßig ist die neuste Version ausgewählt. In einem Textfeld unterhalb des Dropdown-Menüs wird der Changelog der aktuell ausgewählten Version angezeigt. Wenn Sie sich für eine Version entschieden haben, klicken Sie auf die Schaltfläche <strong>Installieren</strong>.<br>
→ Das Plugin wird aktualisiert.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Position von Plugins ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wenn Sie die Position eines Plugins verändern möchten, klicken Sie in der entsprechenden Zeile in der Spalte <strong>Aktion</strong> auf die Schaltfläche <strong>Position festlegen</strong>.<br>
→ Das Fenster <strong>Plugin-Position</strong> öffnet sich. Geben Sie in das Textfeld die gewünschte Position des Plugins ein und klicken Sie auf <strong>save</strong>.
→ Die Position des Plugins wird aktualisiert.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Plugin-Position</div>
<div class="paragraph">
<p>Die relative Position der Plugins bestimmt, in welcher Reihenfolge sie innerhalb des Sets geladen werden. Dabei gilt: Je niedriger die Position des Plugins desto früher wird es geladen. Aus diesem Grund sollte das Plugin IO die höchste Positionsnummer erhalten, das Plugin Ceres in der Regel die zweithöchste.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Plugins als Vorschau öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie auf <strong>Plugin-Set Vorschau</strong>.</p>
</li>
<li>
<p>Wählen Sie den Webshop, den Sie in der Vorschau öffnen wollen. Das ausgewählte Plugin-Set muss zuvor über den Button <strong>Speichern &amp; Plugin-Set bereitstellen</strong> bereitgestellt werden.<br>
→ Der gewählte Webshop wird mit dem gewählten Plugin-Set in einem neuen Browser-Tab geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin-Sets aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie auf <strong>Plugin-Set aktivieren</strong>.<br>
→ Das Fenster <strong>Plugin-Set aktivieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie das Plugin-Set, das Sie in Ihrem Webshop aktivieren wollen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Plugin-Sets aktivieren</div>
<div class="paragraph">
<p>Das Aktivieren eines Plugin-Sets für einen Mandanten veröffentlicht alle Plugins im Plugin-Set. Dies geschieht mit sofortiger Wirkung. Testen Sie das Plugin-Set ausgiebig und sehen Sie sich die Vorschau an, bevor Sie es aktivieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="plugins-entfernen">5.4. Plugins entfernen</h3>
<div class="paragraph">
<p>Es gibt zwei Möglichkeiten, die Funktionalität eines Plugins von Ihrem Set zu entfernen. Wenn Sie ein Plugin deaktivieren, ist es weiterhin Teil des Sets und Sie können es später erneut aktivieren ohne es neu installieren zu müssen. Wenn Sie ein Plugin löschen, wird es vollständig aus dem Set entfernt.</p>
</div>
<div class="sect3">
<h4 id="plugins-deaktivieren">5.4.1. Plugins deaktivieren</h4>
<div class="paragraph instruction">
<p>Plugin-Set kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.<br>
→ Das Fenster <strong>Plugin-Set erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen für das Plugin-Set ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Von Plugin-Set kopieren</strong>, um Einstellungen aus einem existierenden Plugin-Set zu übernehmen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugins deaktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wenn Sie ein Plugin deaktivieren möchten, klicken Sie in der entsprechenden Zeile in der Spalte <strong>Aktiv</strong> auf die Schaltfläche <strong>aktiv</strong>.<br>
→ Inaktive Plugins werden in Frontend und Backend nicht geladen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugins als Vorschau öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie auf <strong>Plugin-Set Vorschau</strong>.</p>
</li>
<li>
<p>Wählen Sie den Webshop, den Sie in der Vorschau öffnen wollen. Das ausgewählte Plugin-Set muss zuvor über den Button <strong>Speichern &amp; Plugin-Set bereitstellen</strong> bereitgestellt werden.<br>
→ Der gewählte Webshop wird mit dem gewählten Plugin-Set in einem neuen Browser-Tab geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin-Sets aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie auf <strong>Plugin-Set aktivieren</strong>.<br>
→ Das Fenster <strong>Plugin-Set aktivieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie das Plugin-Set, das Sie in Ihrem Webshop aktivieren wollen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Plugin-Sets aktivieren</div>
<div class="paragraph">
<p>Das Aktivieren eines Plugin-Sets für einen Mandanten veröffentlicht alle Plugins im Plugin-Set. Dies geschieht mit sofortiger Wirkung. Testen Sie das Plugin-Set ausgiebig und sehen Sie sich die Vorschau an, bevor Sie es aktivieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="plugins-loeschen">5.4.2. Plugins löschen</h4>
<div class="paragraph instruction">
<p>Plugin-Set kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.<br>
→ Das Fenster <strong>Plugin-Set erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen für das Plugin-Set ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Von Plugin-Set kopieren</strong>, um Einstellungen aus einem existierenden Plugin-Set zu übernehmen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugins löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wenn Sie ein Plugin löschen möchten, klicken Sie in der entsprechenden Zeile in der Spalte <strong>Aktion</strong> auf die Schaltfläche <strong>Löschen</strong>.<br>
→ Gelöschte Plugins werden von dem Plugin-Set entfernt.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugins als Vorschau öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie auf <strong>Plugin-Set Vorschau</strong>.</p>
</li>
<li>
<p>Wählen Sie den Webshop, den Sie in der Vorschau öffnen wollen. Das ausgewählte Plugin-Set muss zuvor über den Button <strong>Speichern &amp; Plugin-Set bereitstellen</strong> bereitgestellt werden.<br>
→ Der gewählte Webshop wird mit dem gewählten Plugin-Set in einem neuen Browser-Tab geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Plugin-Sets aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie auf <strong>Plugin-Set aktivieren</strong>.<br>
→ Das Fenster <strong>Plugin-Set aktivieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie das Plugin-Set, das Sie in Ihrem Webshop aktivieren wollen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Plugin-Sets aktivieren</div>
<div class="paragraph">
<p>Das Aktivieren eines Plugin-Sets für einen Mandanten veröffentlicht alle Plugins im Plugin-Set. Dies geschieht mit sofortiger Wirkung. Testen Sie das Plugin-Set ausgiebig und sehen Sie sich die Vorschau an, bevor Sie es aktivieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="plugin-sets-loeschen">6. Plugin-Sets löschen</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>Plugin-Sets löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicken Sie bei einem Plugin-Set auf <strong>Löschen</strong>.<br>
→ Das Fenster <strong>Plugin-Set löschen</strong> wird geöffnet.</p>
</li>
<li>
<p>Bestätigen Sie die Löschung.<br>
→ Das Plugin-Set wird gelöscht.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="plugin-sets-im-backend-aktivieren">7. Plugin-Sets im Backend aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Plugin-Sets und die in den Sets aktivierten Plugins können sowohl dazu benutzt werden, Ihrem Shop neue Funktionalitäten hinzuzufügen als auch, um Ihr Backend um Menüeinträge und Benutzerschnittstellen zu erweitern. Dabei kann jeder Benutzer ein eigenes Backend-Plugin-Set auswählen und die in dem Set aktivierten Plugins für das eigene Backend laden. Wenn Sie das Plugin-Set für Ihre Backend-Ansicht ändern möchten, gehen Sie wie folgt vor.</p>
</div>
<div class="paragraph instruction">
<p>Backend-Plugin-Set wählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie im plentymarkets Backend oben rechts auf das Benutzersymbol.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Backend Plugin-Set</strong>.<br>
→ Das Fenster <strong>Backend Plugin Set</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf ein Plugin-Set.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.
→ Das gewählte Plugin-Set ist jetzt für Ihr Backend aktiviert.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="plugin-konfiguration">8. Plugin-Konfiguration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nach der Installation müssen Plugins teilweise noch konfiguriert werden. Je nach Plugin gibt es hierbei eine von zwei Möglichkeiten. Entweder öffnet sich ein Fenster mit Einstellungsmöglichkeiten, wenn Sie auf den Namen des Plugins im Plugin-Set klicken oder es wird bei Installation des Plugins eine Schnittstelle zu dem Menü <strong>System</strong> hinzugefügt. Werden Einstellungen innerhalb eines Plugin-Sets vorgenommen, sind sie auf dieses eine Plugin-Set beschränkt. Einstellungen, die im Menü <strong>System</strong> vorgenommen werden, sind global und betreffen alle Plugin-Sets, auch wenn das Plugin erst später in dem Set installiert wird.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Ausnahmen</div>
<div class="paragraph">
<p>Wenn ein Plugin vor der Einführung von Plugin-Sets entwickelt wurde, sind möglicherweise andere Einstellungen notwendig.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>