<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Plugins kaufen</span></a></li>
<li><a href="#20"><span>2.</span><span> Plugin Sets verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Plugin Sets erstellen</span></a></li>
<li><a href="#40"><span>2.2.</span><span> Plugin Sets bearbeiten</span></a></li>
<li><a href="#50"><span>2.3.</span><span> Plugin Sets löschen</span></a></li>
<li><a href="#60"><span>2.4.</span><span> Plugins als Vorschau öffnen</span></a></li>
<li><a href="#70"><span>2.5.</span><span> Plugin Sets aktivieren</span></a></li>
</ul>
</li>
<li><a href="#80"><span>3.</span><span> Plugins suchen</span></a></li>
<li><a href="#90"><span>4.</span><span> Plugins verwalten</span></a></li>
<li><a href="#100"><span>5.</span><span> Plugin Set Backend Switch</span></a></li>
<li><a href="#110"><span>6.</span><span> Eigene Plugins hinzufügen</span></a></li>
<li><a href="#120"><span>7.</span><span> Plugins bearbeiten</span></a></li>
<li><a href="#130"><span>8.</span><span> Plugin-Log aufrufen</span></a></li>
<li><a href="#140"><span>9.</span><span> Git-basierte Versionsverwaltung</span></a>
<ul class="sectlevel2">
<li><a href="#150"><span>9.1.</span><span> Workflow-Beispiel</span></a></li>
<li><a href="#160"><span>9.2.</span><span> Inbox-Repository aktualisieren</span></a></li>
<li><a href="#170"><span>9.3.</span><span> Commit-Informationen aufrufen</span></a></li>
<li><a href="#180"><span>9.4.</span><span> Inbox-Repository auf einen anderen Commit setzen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Plugins</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Über das Menü <strong>Plugins</strong> verwalten und veröffentlichen Sie im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a> erworbene Plugins sowie selbsterstellte Plugins. Installieren Sie neue Plugins, ändern Sie den Zustand vorhandener Plugins, um sie zu veröffentlichen, und löschen Sie Plugins. Wie Sie Plugins selbst erstellen, erfahren Sie auf <a href="http://developers.plentymarkets.com/" target="_blank" rel="noopener">plentyDevelopers</a>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Ausbau der Plugin-Fähigkeit</div>
<div class="paragraph">
<p>Die Plugin-Fähigkeit von plentymarkets und die Bearbeitungsmöglichkeiten werden suk­zes­si­ve ausgebaut. Auch das Angebot an Plugins wird nach und nach erweitert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Plugins kaufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://marketplace.plentymarkets.com/de/" target="_blank" rel="noopener">plentyMarketplace</a> ist die neue Plattform für die Distribution von hauseigenen und externen plentymarkets Software-Erweiterungen. Diese Plattform ermöglicht Ihnen einen leichten Zugang zu Plugins, damit Sie schnell und einfach von allen Vorteilen profitieren. Gehen Sie wie im Folgenden beschrieben vor, um ein Plugin zu kaufen.</p>
</div>
<div class="paragraph instruction">
<p>Plugin kaufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie den <a href="http://marketplace.plentymarkets.com/de/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Anmelden</strong>.</p>
</li>
<li>
<p>Geben Sie Ihre E-Mail-Adresse oder PlentyID ein.<br>
→ Nutzen Sie Ihre Zugangsdaten aus dem Service-Center.</p>
</li>
<li>
<p>Geben Sie Ihr Passwort ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Anmelden</strong>.</p>
</li>
<li>
<p>Wählen Sie ein Plugin aus einer Kategorie.</p>
</li>
<li>
<p>Klicken Sie in der Detailansicht des Plugins auf <strong>Plugin kaufen</strong>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Nutzungsbedingungen zur Kenntnis.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Jetzt kaufen</strong>.<br>
→ Das gekaufte Plugin ist im Menü <strong>Plugins&nbsp;» Plugin-Übersicht</strong> verfügbar.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Filter verwenden</div>
<div class="paragraph">
<p>Verwenden Sie Filter, um z.B. nur <strong>nicht installierte</strong> Plugins in der Plugin-Übersicht anzuzeigen. Wählen Sie dazu aus der Dropdown-Liste <strong>Installiert</strong> den Filter <strong>Nicht installiert</strong>. Klicken Sie auf <strong>Suchen</strong>.
Weitere Informationen zu Filtern finden Sie unter <a href="/basics/erste-schritte/plugins#80">Plugins suchen</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Plugin Sets verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ein Plugin Set ist eine Sammlung von verschiedenen Plugins, die für einen oder für mehrere Mandanten zentral in der <strong>Plugin Übersicht</strong> verwaltet werden können. Plugin Sets können ein Plugin oder mehrere Plugins enthalten und beinhalten darüber hinaus ebenfalls die Einstellungen der Plugin-Konfiguration und Layout-Container. Plugin Sets eignen sich insbesondere für Händler, die mehrere Webshops gleichzeitig über plentymarkets verwalten, da unterschiedliche Plugin Sets für unterschiedliche Mandanten gesondert aktiviert und konfiguriert werden können.</p>
</div>
<div class="sect2">
<h3 id="30">2.1. Plugin Sets erstellen</h3>
<div class="paragraph instruction">
<p>Plugin Sets erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Hinzufügen</strong>.<br>
→ Das Fenster <strong>Plugin Set erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen für das Plugin Set ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Von Plugin Set kopieren</strong>, um Einstellungen aus einem existierenden Plugin Set zu übernehmen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="40">2.2. Plugin Sets bearbeiten</h3>
<div class="paragraph instruction">
<p>Plugin Sets bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicken Sie bei einem Plugin Set auf <strong>Bearbeiten</strong>.<br>
→ Das Fenster <strong>Plugin Set bearbeiten</strong> wird geöffnet.</p>
</li>
<li>
<p>Bearbeiten Sie den Namen des Plugin Sets.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="50">2.3. Plugin Sets löschen</h3>
<div class="paragraph instruction">
<p>Plugin Sets löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicken Sie bei einem Plugin Set auf <strong>Löschen</strong>.<br>
→ Das Fenster <strong>Plugin Set löschen</strong> wird geöffnet.</p>
</li>
<li>
<p>Bestätigen Sie die Löschung.<br>
→ Das Plugin Set wird gelöscht.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="60">2.4. Plugins als Vorschau öffnen</h3>
<div class="paragraph instruction">
<p>Plugins als Vorschau öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicken Sie auf ein Plugin Set.<br>
→ Das Fenster <strong>Plugin Set Details</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Plugin Set Vorschau</strong>.</p>
</li>
<li>
<p>Wählen Sie den Webshop, den Sie in der Vorschau öffnen wollen. Das ausgewählte Plugin Set muss zuvor über den Button <strong>Speichern &amp; Plugin Set bereitstellen</strong> bereitgestellt werden.<br>
→ Der gewählte Webshop wird mit dem gewählten Plugin Set in einem neuen Browser-Tab geöffnet.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="70">2.5. Plugin Sets aktivieren</h3>
<div class="paragraph">
<p>Das Aktivieren eines Plugin Sets für einen Mandanten veröffentlicht alle Plugins im Plugin Set. Dies geschieht mit sofortiger Wirkung. Testen Sie das Plugin Set ausgiebig und sehen Sie sich die Vorschau an, bevor Sie es aktivieren.</p>
</div>
<div class="paragraph instruction">
<p>Plugin Sets aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Plugin Set aktivieren</strong>.<br>
→ Das Fenster <strong>Plugin Set aktivieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie das Plugin Set, das Sie in Ihrem Webshop aktivieren wollen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="80">3. Plugins suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um gezielt nach Plugins zu suchen, kann ein Filter gesetzt werden. Es besteht die Möglichkeit, nach Name, Herkunft, installierten bzw. nicht installierten sowie aktiven bzw. nicht aktiven Plugins zu filtern.</p>
</div>
<div class="paragraph instruction">
<p>Plugins suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins » Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Wählen Sie einen Filter.</p>
</li>
<li>
<p>Geben Sie den Namen des Plugins ein oder wählen Sie eine Option aus dem Dropdown-Menü.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>.<br>
→ Die gewünschten Plugins werden angezeigt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="90">4. Plugins verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Klicken Sie in <strong>Plugins » Plugin-Übersicht</strong> auf das Plugin Set, das Sie verwalten möchten.<br>
Die Plugins, die in der Übersicht aufgeführt sind, enthalten die folgenden Informationen:</p>
</div>
<table id="tabelle-plugin-uebersicht" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Tabellenansicht des Menüs <strong>Plugins&nbsp;» Plugin-Übersicht</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Spalte</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob das Plugin aktiv oder inaktiv ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Plugins</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Version installiert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Version des Plugins ist installiert, aber nicht aktiv.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Version aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Version des Plugins ist aktiv und wird im Frontend und im Backend geladen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Herkunft des Plugins, z.B. <strong>Git</strong> oder <strong>plentyMarketplace</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Update</strong>: Wenn ein Update vorhanden ist, können Sie das Plugin auf die neueste Version updaten.<br>
 <strong>Position</strong>: Legen Sie fest, in welcher Reihenfolge die Plugins geladen werden sollen. Sollte ein Plugin nicht richtig funktionieren, kann es helfen, die Position auf eine höhere Zahl zu ändern.<br>
 <strong>Löschen</strong>: Das Plugin vom Plugin Set löschen.<br>
 <strong>Installieren</strong>: Installiert das Plugin.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">5. Plugin Set Backend Switch</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Plugins können Backend-Funktionen wie Menü-Items und Benutzerinterfaces hinzufügen. Sie können das Plugin Set ändern, das für Ihr Backend geladen wird. Um dies zu tun, müssen Sie ein Plugin Set für Ihren Benutzer wählen.</p>
</div>
<div class="paragraph instruction">
<p>Ein Plugin Set für Ihren Benutzer wählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie im plentymarkets Backend oben rechts auf das Benutzersymbol.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Backend Plugin Set</strong>.<br>
→ Das Fenster <strong>Plugin Set</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf ein Plugin Set.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="110">6. Eigene Plugins hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Alternativ zum plentyMarketplace können Sie der Inbox Ihres plentymarkets Systems auch eigene Plugins hinzufügen. Gehen Sie wie unten beschrieben vor, um ein über die <a href="/basics/erste-schritte/plugins#90">Git-Versionierung</a> verwaltetes Plugin-Repository in die plentymarkets Inbox zu kopieren und im plentymarkets Backend zu verwalten.</p>
</div>
<div class="paragraph">
<p>Fügen Sie ein Git-Repository zur plentymarkets Inbox hinzu, um von der Versionsverwaltung zu profitieren und Plugins, die über Git-Repositorys verwaltet werden, bereitzustellen. Gehen Sie wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Git-Repository zur plentymarkets Inbox hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins&nbsp;» Git</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>New plugin</strong>.<br>
→ Das Fenster <strong>Settings</strong> wird angezeigt.</p>
</li>
<li>
<p>Geben Sie die Zugangsdaten für das Git-Repository ein. Beachten Sie <a href="#tabelle-git-plugin">Tabelle 2</a>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Test connection</strong>.<br>
→ Die Verbindung zum Git-Repository wird geprüft und hergestellt.</p>
</li>
<li>
<p>Wählen Sie den Branch des Repositorys aus der Dropdown-Liste.</p>
</li>
<li>
<p><strong>Speicher</strong> Sie die Einstellungen.<br>
→ Das Plugin-Repository wird in die plentymarkets Inbox kopiert und in der Plugin-Übersicht angezeigt.<br>
→ Das Plugin wird im Menü <strong>Git</strong> angezeigt.</p>
</li>
</ol>
</div>
<table id="tabelle-git-plugin" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Git-Plugins hinzufügen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Remote URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die URL des Git-Repositorys eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Benutzernamen eingeben. Der Benutzername ist Bestandteil der Benutzerdaten des Hosting-Anbieters (z.B. GitHub) für das Git-Repository. Diese Benutzerdaten sind nur für das Hinzufügen von privaten Repositorys notwendig. Bei öffentlichen Repositorys einen Wert in das Feld eingeben, z.B. <strong>Gast</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Passwort eingeben. Das Passwort ist Bestandteil der Benutzerdaten des Hosting-Anbieters (z.B. GitHub) für das Git-Repository.  Diese Benutzerdaten sind nur für das Hinzufügen von privaten Repositorys notwendig. Bei öffentlichen Repositorys einen Wert in das Feld eingeben, z.B. <strong>Gast</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Test connection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verbindung zum Git-Repository prüfen und herstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Branch (veraltet)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erst wählbar, nachdem die Verbindung zum Git-Repository über <strong>Test connection</strong> geprüft wurde. Den Branch wählen, von dem eine Kopie in der plentymarkets Inbox erstellt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auto fetch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um Änderungen automatisch abzurufen, die in das Git-Repository gepusht werden. Die Änderungen werden abgerufen, jedoch nur in der Commit-Liste angezeigt, nicht gemergt.<br>
<em><strong>Hinweis</strong></em>: Die Autofetch-Funktion kann leichte Performance-Einbußen verursachen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="120">7. Plugins bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Dateien eines Plugins können direkt in der plentymarkets Inbox bearbeitet werden. Welche Dateien bearbeitbar sind, hängt von der Art des Plugins ab. Gehen Sie wie unten beschrieben vor, um Plugin-Dateien zu bearbeiten.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Anwender ohne Programmier- bzw. Layout-Erfahrung</div>
<div class="paragraph">
<p>Bearbeiten Sie als Anwender ohne Programmier- bzw. Layout-Erfahrung die Plugin-Dateien nicht selbst. Wenden Sie sich stattdessen an einen unserer zertifizierten Dienstleister.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Plugins bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins&nbsp;» Plugin-Übersicht</strong>.</p>
</li>
<li>
<p>Doppelklicken Sie auf das Plugin.<br>
→ Die Plugin-Detailansicht wird geöffnet, in der die Plugin-Dateien bearbeitet werden können.</p>
</li>
<li>
<p>Nehmen Sie die Änderungen vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Änderungen.</p>
</li>
<li>
<p>Bei Plugins, die mit einem Git-Repository verknüpft sind, pushen Sie die Änderungen über das Menü <strong>Git</strong>.</p>
</li>
<li>
<p>Stellen Sie aktive Plugins erneut bereit, um die Änderungen zu veröffentlichen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="130">8. Plugin-Log aufrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Plugin-Log finden Sie eine Historie über Bereitstellungsvorgänge Ihrer Plugins. Jeder Vorgang wird einzeln aufgezeichnet. Im Falle einer fehlgeschlagenen Bereitstellung finden Sie unter <strong>Ergebnis</strong> detaillierte Informationen über den letzten Vorgang.</p>
</div>
<div class="paragraph instruction">
<p>Plugin-Log aufrufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Daten&nbsp;» Log</strong>.</p>
</li>
<li>
<p>Wählen Sie <strong>Plenty\Modules\Plugin\Commands\BuildPlugins</strong> aus der <strong>Integration</strong> Dropdown-Liste<br>
→ Die Detailansicht des Logs wird geöffnet.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="140">9. Git-basierte Versionsverwaltung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zur Versionsverwaltung von Plugins steht Ihnen im Menü <strong>Plugins&nbsp;» Git</strong> ein einfacher Git-Client zur Verfügung. Die plentymarkets Versionsverwaltung basiert auf dem verteilten Versionsverwaltungssystem <a href="https://git-scm.com/" target="_blank" rel="noopener">Git</a>. Sie ermöglicht es, Änderungen, die Sie oder andere Nutzer an Plugin-Dateien vornehmen, über ein Git-Repository zu verwalten.</p>
</div>
<div class="paragraph">
<p>Die Versionsverwaltung bietet folgende Vorteile:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Protokollierung: Änderungen werden in Commits protokolliert und können jederzeit nachvollzogen werden.</p>
</li>
<li>
<p>Wiederherstellung: Jeder Stand jeder Datei kann wiederhergestellt werden. Änderungen können also jederzeit rückgängig gemacht werden.</p>
</li>
<li>
<p>Zusammenarbeit: Mehrere Anwender können gemeinsam an einem Repository arbeiten.</p>
</li>
<li>
<p>Fehlersuche: Fehler sind leichter nachvollziehbar und korrigierbar.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Englischsprachige Benutzeroberfläche</div>
<div class="paragraph">
<p>Viele plentymarkets Anwender sind mit anderen Git-Clients mit englischsprachiger Benutzeroberfläche vertraut. Daher ist das Menü <strong>Plugins&nbsp;» Git</strong> derzeit nur auf Englisch verfügbar. Die Terminologie orientiert sich an GitHub. Definitionen finden Sie z.B. im <a href="https://help.github.com/articles/github-glossary/" target="_blank" rel="noopener">GitHub-Glossar</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="150">9.1. Workflow-Beispiel</h3>
<div class="paragraph">
<p>Wenn Sie noch nicht mit Git oder einer ähnlichen verteilten Versionsverwaltung gearbeitet haben, machen Sie sich zunächst mit den grundlegenden Konzepten vertraut. Einen sinnvollen Einstieg bietet z.B. das <a href="https://help.github.com/categories/bootcamp/" target="_blank" rel="noopener">GitHub Bootcamp</a>. Um Ihnen den Einstieg in die Versionsverwaltung in plentymarkets zu erleichtern, wird nachfolgend ein grundlegender Workflow mit Git beschrieben, der als Grundlage für Ihre eigenen Arbeitsabläufe dienen kann.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Git-Repository erstellen.</p>
</li>
<li>
<p>Lokale Kopie des Git-Repositorys auf der Festplatte ablegen.</p>
</li>
<li>
<p>Dateien lokal bearbeiten. Dabei ggf. Änderungen anderer Anwender regelmäßig aus dem Git-Repository in die Versionshistorie Ihres lokalen Repositorys kopieren.</p>
</li>
<li>
<p>Lokale Änderungen in das Git-Repository pushen.</p>
</li>
<li>
<p>Git-Repository über das Menü <strong>Plugins&nbsp;» Git</strong> in die plentymarkets Inbox kopieren.</p>
</li>
<li>
<p>Plugin in der Plugin-Übersicht installieren.</p>
</li>
<li>
<p>Plugin ggf. lokal anpassen und Vorgang wiederholen.</p>
</li>
<li>
<p>Fertiges Plugin aktivieren.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="160">9.2. Inbox-Repository aktualisieren</h3>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um die aktuellste Version des Git-Repositorys entweder über <strong>Fetch</strong> oder <strong>Pull</strong> in ihr Inbox-Repository zu kopieren.</p>
</div>
<div class="paragraph instruction">
<p>Git-Repository in Inbox-Repository kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins&nbsp;» Git</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das gewünschte Repository.</p>
</li>
<li>
<p>Klicken Sie entweder auf <strong>Fetch</strong> oder auf <strong>Pull</strong>. Beachten Sie <a href="#tabelle-fetch-pull">Tabelle 3</a>.<br>
→ Die neuen Commits werden in der Commit-Liste angezeigt.</p>
</li>
</ol>
</div>
<table id="tabelle-fetch-pull" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Fetch vs. Pull</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fetch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ruft die neuesten Commits vom Git-Repository ab und speichert sie, ohne sie zu mergen. Der aktuelle Stand der Repository-Dateien in der Inbox ändert sich nicht. Noch nicht committete Änderungen werden nicht überschrieben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pull</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Synchronisiert das Inbox-Repository mit dem Git-Repository. Der Stand der Repository-Dateien in der Inbox wird mit dem aktuellen Stand des Git-Repositorys überschrieben. Änderungen am Inbox-Repository, die noch nicht ins Git-Repository gepusht wurden, werden nach einer Sicherheitsabfrage überschrieben.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="170">9.3. Commit-Informationen aufrufen</h3>
<div class="paragraph">
<p>In der Commit-Liste eines Repositorys des Menüs <strong>Plugins&nbsp;» Git</strong> werden Informationen zu bisher ausgeführten Commits angezeigt. Der Commit, auf dessen Stand sich das Repository aktuell befindet, ist mit einem Häkchen gekennzeichnet. <a href="#tabelle-git-verwaltung">Tabelle 4</a> erläutert die Ansicht.</p>
</div>
<table id="tabelle-git-verwaltung" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 4. Git-Verwaltung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fetch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ruft Commits von Git-Repository ab, ohne sie in das Inbox-Repository zu mergen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pull</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ruft Commits von Git-Repository ab und mergt sie direkt in das Inbox-Repository.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pull to Stage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Veraltet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pull to Productive</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Veraltet</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Push</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Veröffentlicht die Änderungen, die im Inbox-Repository vorgenommen wurden, im Git-Repository.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/basics/erste-schritte/plugins#tabelle-git-plugin">Verbindungseinstellungen</a> des Repositorys</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Uncommitted changes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar, wenn Änderungen am Inbox-Repository vorgenommen, aber noch nicht gepusht wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Commit-Message, die für den Commit eingegeben wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID des Commits. Wird automatisch vom System vergeben und ist nicht änderbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Information</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Detaillierte Commit-Informationen:<br>
<strong>Author</strong> = Name des Commit-Autors.<br>
<strong><em>Tipp:</em></strong> Optional E-Mail-Adresse des Autors mit <a href="https://en.gravatar.com/" target="_blank" rel="noopener">Gravatar</a> verknüpfen. Bei Autoren ohne Gravatar wird rechts das Gravatar-Logo angezeigt.<br>
<strong>Commit-ID</strong> = ID des Commits. Wird automatisch vom System vergeben und ist nicht änderbar.<br>
<strong>Parent-ID</strong> = ID des Vorgänger-Commits, d.h. des Commits, der bearbeitet wurde, um diesen Commit zu erzielen.<br>
<strong>Description</strong> = Vollständige Commit-Message.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Author</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Nutzers, der den Commit ins Git-Repository gespeichert hat. Entspricht dem beim Git-basierten Versionsverwaltungssystem (z.B. GitHub, Bitbucket) hinterlegten Benutzername.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum, an dem der Commit in das Git-Repository gemergt wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Files</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Dateien an, die in diesem Commit geändert wurden. Auf den Dateinamen klicken, um rechts die Änderungen anzuzeigen.<br>
Rot = Löschungen<br>
Grün = Hinzufügungen<br>
Wurde mehr als eine Datei geändert, in der <strong>File</strong>-Liste auf eine andere Datei klicken, um die Änderungen an dieser Datei anzuzeigen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="180">9.4. Inbox-Repository auf einen anderen Commit setzen</h3>
<div class="paragraph">
<p>In Ihrer Inbox befinden sich sämtliche Versionen des Repositorys, die über einen Commit gespeichert wurden. Sie haben die Möglichkeit, die Inbox-Dateien eines Repositorys auf den Stand eines beliebigen Commits der Commit-Liste zu setzen. Gehen Sie dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Inbox-Repository auf einen anderen Commit setzen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins&nbsp;» Git</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das gewünschte Repository.<br>
→ Den Commit, auf dessen Stand sich das Repository aktuell befindet, erkennen Sie an dem Häkchen.<br>
→ Eine Liste aller Commits des Repositorys wird angezeigt.</p>
</li>
<li>
<p>Klicken Sie auf den Commit, auf den Sie Ihr Inbox-Repository setzen möchten.<br>
→ Im Bereich <strong>File</strong> links unten wird eine Liste der in diesem Commit geänderten Dateien angezeigt. Rechts unten werden die in der Datei vorgenommenen Änderungen angezeigt. Wurde mehr als eine Datei geändert, klicken Sie in der <strong>File</strong>-Liste auf eine andere Datei, um die Änderungen darin anzuzeigen.</p>
</li>
<li>
<p>Klicken Sie mit der rechten Maustaste auf den Commit.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Set to selected commit</strong> (Auf gewählten Commit setzen).<br>
→ Die Dateien des Inbox-Repositorys werden auf den Stand dieser Version gesetzt.</p>
</li>
<li>
<p>Stellen Sie die Plugins neu bereit.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>