<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#marketplace-plugins-kaufen"><span>1.</span><span> Marketplace-Plugins kaufen</span></a></li>
<li><a href="#git-plugins-hinzufuegen"><span>2.</span><span> Eigene Git-Plugins hinzufügen</span></a>
<ul class="sectlevel2">
<li><a href="#_git_repository_löschen"><span>2.1.</span><span> Git-Repository löschen</span></a></li>
</ul>
</li>
<li><a href="#plugin-sets-verwalten"><span>3.</span><span> Plugin Übersicht - Plugin-Sets verwalten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Plugins verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Über das Menü <strong>Plugins</strong> verwalten und veröffentlichen Sie im <a href="https://marketplace.plentymarkets.com/" target="_blank" rel="noopener">plentyMarketplace</a> erworbene Plugins sowie selbsterstellte Plugins. Installieren Sie neue Plugins, ändern Sie den Zustand vorhandener Plugins, um sie zu veröffentlichen, und löschen Sie Plugins. Wie Sie Plugins selbst erstellen, erfahren Sie auf <a href="http://developers.plentymarkets.com/" target="_blank" rel="noopener">plentyDevelopers</a>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Ausbau der Plugin-Fähigkeit</div>
<div class="paragraph">
<p>Die Plugin-Fähigkeit von plentymarkets und die Bearbeitungsmöglichkeiten werden suk­zes­si­ve ausgebaut. Auch das Angebot an Plugins wird nach und nach erweitert.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="marketplace-plugins-kaufen">1. Marketplace-Plugins kaufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://marketplace.plentymarkets.com/de/" target="_blank" rel="noopener">plentyMarketplace</a> ist die neue Plattform für die Distribution von hauseigenen und externen plentymarkets Software-Erweiterungen. Diese Plattform ermöglicht Ihnen einen leichten Zugang zu Plugins, damit Sie schnell und einfach von allen Vorteilen profitieren. Gehen Sie wie folgt vor, um ein Plugin zu kaufen.</p>
</div>
<div class="paragraph instruction">
<p>Plugin kaufen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie den <a href="http://marketplace.plentymarkets.com/de/" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Anmelden</strong>.</p>
</li>
<li>
<p>Geben Sie Ihre E-Mail-Adresse oder PlentyID ein.<br>
→ Nutzen Sie Ihre Zugangsdaten aus dem Service-Center.</p>
</li>
<li>
<p>Geben Sie Ihr Passwort ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Anmelden</strong>.</p>
</li>
<li>
<p>Wählen Sie ein Plugin aus einer Kategorie.</p>
</li>
<li>
<p>Klicken Sie in der Detailansicht des Plugins auf <strong>Plugin kaufen</strong>.<br>
→ Das Fenster <strong>Kasse</strong> wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Nutzungsbedingungen zur Kenntnis.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Jetzt kaufen</strong>.<br>
→ Das gekaufte Plugin ist im Menü <strong>Plugins&nbsp;» Plugin-Übersicht</strong> verfügbar.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="git-plugins-hinzufuegen">2. Eigene Git-Plugins hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Alternativ zum plentyMarketplace können Sie der Oberfläche Ihres plentymarkets Systems auch eigene Plugins hinzufügen. Gehen Sie wie unten beschrieben vor, um ein über die <a href="/basics/erste-schritte/plugins#90">Git-Versionierung</a> verwaltetes Plugin in plentymarkets hinzuzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Git-Repository zur plentymarkets Oberfläche hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Plugins » Git</strong>.</p>
</li>
<li>
<p>Klicken Sie links auf <strong>Neues Repository hinzufügen</strong>.<br>
→ Die Optionen für die Repository-Einstellungen werden angezeigt.</p>
</li>
<li>
<p>Geben Sie die erforderlichen Daten für das Git-Repository ein. Beachten Sie dazu die Erläuterungen in <a href="#tabelle-git-plugins-hinzufuegen">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die Verbindung zum Git-Repository wird geprüft und hergestellt. Es erscheint die Meldung <strong>Repository gespeichert</strong>.</p>
</li>
</ol>
</div>
<table id="tabelle-git-plugins-hinzufuegen" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Git-Plugins hinzufügen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Repository URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">HTTPS oder HTTP URL des Git-Repositorys</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzername</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Benutzername ist Bestandteil der Benutzerdaten des Anbieters (z.B. GitHub) für das Git-Repository.<br>
Bei öffentlichen Repositories einen Wert in das Feld eingeben, z.B. <strong>Gast</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort oder Token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Passwort ist Bestandteil der Benutzerdaten des Anbieters (z.B. GitHub) für das Git-Repository.<br>
Bei öffentlichen Repositories einen Wert in das Feld eingeben, z.B. <strong>Gast</strong>.<br>
Ein Token wird benötigt, wenn die Zwei-Faktor-Authentifizierung beim Anbieter aktiviert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Branchname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Git-Repository muss eine valide Plugin.json enthalten. Die Eingabe ist für die Erstinstallation notwendig.</p></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="_git_repository_löschen">2.1. Git-Repository löschen</h3>
<div class="paragraph">
<p>Im Menü <strong>Plugins » Git</strong> können Repositories über den <strong>Löschen</strong>-Button gelöscht werden, wenn das Plugin in allen Sets deaktiviert wurde.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Filter verwenden</div>
<div class="paragraph">
<p>Verwenden Sie Filter, um z.B. nur <strong>nicht installierte</strong> Plugins in der Plugin-Übersicht anzuzeigen. Wählen Sie dazu aus der Dropdown-Liste <strong>Installiert</strong> den Filter <strong>Nicht installiert</strong>. Klicken Sie auf <strong>Suchen</strong>.
Weitere Informationen zu Filtern finden Sie unter <a href="/basics/erste-schritte/plugins#80">Plugins suchen</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="plugin-sets-verwalten">3. Plugin Übersicht - Plugin-Sets verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die nachfolgende Tabelle enthält eine Liste aller Elemente des Menüs <strong>Plugin Übersicht</strong> sowie eine kurze Beschreibung dieser Elemente. Außerdem finden Sie in diesem Abschnitt Anweisungen zu der Erstellung, Bearbeitung und Löschung von Plugin-Sets.</p>
</div>
<table id="tabelle-plugin-uebersicht" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Tabellenansicht des Menüs <strong>Plugin » Plugin-Übersicht</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neues Plugin Set erstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet ein Fenster zur Erstellung eines neuen Plugin-Sets.<br>
<strong>Speichern</strong>: Speichert das neue Plugin-Set.<br>
<strong>Plugin Set Name</strong>: Der Name des Plugin-Sets.<br>
<strong>Plugin Set kopieren</strong>: Wählt bestehendes Plugin-Set aus Dropdown-Menü aus, um Einstellungen zu übernehmen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin Set aktivieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviert das ausgewählte Plugin-Set.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Plugin-Sets</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lädt die Plugin-Übersicht des Plugin-Sets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin Set löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löscht das Plugin-Set. Bestätigung notwendig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filter</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suchen</strong>: Lädt für das ausgewählte Plugin-Set in der Plugin-Übersicht alle Plugins, die die gewählten Filtereinstellungen erfüllen.<br>
<strong>Reset</strong>: Setzt die Filtereinstellungen auf die Standardeinstellungen zurück.<br>
<strong>Name</strong>: Filtert nach Plugins, deren Namen die eingegebene Zeichenfolge beinhaltet.<br>
<strong>plentyMarketplace</strong>: Filtert nach Plugins, die dem System über plentyMarketplace hinzugefügt wurden.<br>
<strong>Git</strong>: Filtert nach Plugins, die dem System über ein Git-Repository hinzugefügt wurden.<br>
<strong>Local</strong>: Filtert nach Plugins, die dem System über einen lokalen Speicher hinzugefügt wurden.<br>
<strong>Installiert</strong>: Filtert nach Plugins, die in dem ausgewählten Plugin-Set installiert sind.<br>
<strong>Nicht installiert</strong>: Filtert nach Plugins, die in dem ausgewählten Plugin-Set nicht installiert sind.<br>
<strong>Aktiv</strong>: Filtert nach Plugins, die in dem ausgewählten Plugin-Set aktiv sind.<br>
<strong>Nicht Akitv</strong>: Filtert nach Plugins, die in dem ausgewählten Plugin-Set nicht aktiv sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Speichern &amp; Plugin bereitstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Speichert Änderungen am Plugin-Set und stellt das Plugin-Set zur weiteren Nutzung bereit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin Set Vorschau</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet ein Tab, in dem eine Vorschau des Frontends mit den derzeitigen Einstellungen angezeigt wird. Plugin-Set muss zuvor mittels der Schaltfläche <strong>Speichern &amp; Bereitstellen</strong> bereitgestellt worden sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plenty Drive - automatisch bauen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn aktiviert und dem Plugin-Set ein Plugin mithilfe von plentyDrive hinzugefügt wird, wird das Plugin-Set automatisch gespeichert und bereitgestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin Set Einstellungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet ein Fenster zur Bearbeitung des ausgewählten Plugin-Sets.<br>
<strong>Speichern</strong>: Speichert die geänderten Einstellungen.<br>
<strong>Name</strong>: Ändert den Namen des Plugin-Sets.<br>
<strong>Pluginset ID</strong>: Die ID des Plugin-Sets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Log</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur sichtbar, wenn Fehlermeldungen existieren. Zeigt diese an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, ob das Plugin aktiv oder inaktiv ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Name des Plugins. Wenn installiert, klicken um Informationen und Einstellungsmöglichkeiten anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zu installierende Version</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die neuste Version des Plugins, die installiert ist. Ein Symbol zeigt an, wenn eine neuere Version des Plugins existiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Version aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Version des Plugins, die aktiv ist und für das ausgewählte Plugin-Set in Frontend und Backend geladen wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herkunft</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Herkunft des Plugins, also plentyMarkets, Git oder ein lokaler Speicher.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin installieren</strong>: Installiert das Plugin. Ein Fenster öffnet sich, in dem die zu installierende Version ausgewählt und der Changelog eingesehen werden kann. Wird nur angezeigt, wenn das Plugin nicht installiert ist.<br>
<strong>Aktualisieren</strong>: Aktualisiert das Plugin auf eine neuere Version. Ein Fenster öffnet sich, in dem die zu installierende Version ausgewählt und der Changelog eingesehen werden kann. Wird nur angezeigt, wenn eine neuere Version vorhanden ist.<br>
<strong>Keine Aktualisierung verfügbar</strong>: Die neuste Version des Plugins ist installiert.<br>
<strong>Position festlegen</strong>: Legt die Reihenfolge fest, in der Plugins geladen werden. Plugins mit niedrigerer Position werden zuerst ausgeführt.<br>
<strong>Löschen</strong>: Entfernt das Plugin aus dem Plugin-Set. Bestätigung notwendig.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentyMarketplace</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet plentyMarketplace in einem neuen Tab.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>