<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Stammdaten verwalten</h1><div class="paragraph">
<p>Im Menü <strong>System » Einstellungen » Stammdaten</strong> hinterlegen Sie die Stammdaten Ihres Unternehmens. Sie speichern hier zentral die Adresse und Kontaktdaten und die Umsatzsteuer-ID des Unternehmens. Eine Änderung dieser Daten wirken sich auf das ganze System aus.</p>
</div><div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Bei Menüänderungen werden Benutzer ausgeloggt</div>
<div class="paragraph">
<p>Wenn Sie in diesem Menü Änderungen vornehmen, werden andere Benutzer automatisch ausgeloggt und müssen sich neu einloggen. Kündigen Sie Änderungen daher rechtzeitig an.</p>
</div>
</td>
</tr>
</tbody></table>
</div><div class="paragraph instruction">
<p>Stammdaten speichern:</p>
</div><div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Einstellungen » Stammdaten</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie <a href="#tabelle-stammdaten-speichern">Tabelle 1</a>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>.<br>
→ Die Stammdaten werden gespeichert.</p>
</li>
</ol>
</div><div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Vertragsdaten ändern</div>
<div class="paragraph">
<p>Eine Änderung dieser Stammdaten ändert nicht die Kundenstammdaten Ihres plentymarkets Vertrages z.B. für die Rechnungsstellung. Vertragsdaten passen Sie im Menü <strong>Support » Service-Center</strong> an.</p>
</div>
</td>
</tr>
</tbody></table>
</div><table id="tabelle-stammdaten-speichern" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Stammdaten speichern</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Firmenname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen des Unternehmens eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Geschäftsführer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Vor- und Zunamen der Person eingeben, die das Unternehmen führt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Straße, Hausnummer</strong>;<br>
<strong>PLZ</strong>;<br>
<strong>Ort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adressdaten des Unternehmens eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Region</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Region des Unternehmens aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zeitzone</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeitzone des Unternehmens aus der Dropdown-Liste wählen, damit Datum und Uhrzeit, z.B. in Aufträgen oder Tickets, korrekt ausgegeben werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Land des Unternehmens aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>E-Mail</strong>;<br>
<strong>Telefon</strong>;<br>
<strong>Telefax</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontaktdaten des Unternehmens eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hotline</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hotline-Telefonnummer des Unternehmens eingeben.<br>
<strong><em>Hinweis:</em></strong> Wenn das Unternehmen keine Hotline-Nummer hat, die im Feld <strong>Telefonnummer</strong> eingegebene Telefonnummer auch in dieses Feld eingeben. Die Ausgabe der Hotline-Nummer ist über die Template-Variable <strong>$CompanyHotline</strong> an verschiedenen Stellen im System vorkonfiguriert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatzsteuer-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umsatzsteuer-ID des Unternehmens eingeben. Diese Umsatzsteuer-ID wird auch für Mandanten verwendet, bei denen im Menü <a href="/auftragsabwicklung/auftraege/buchhaltung">Buchhaltung</a> keine Umsatzsteuer-ID hinterlegt wurde.</p></td>
</tr>
</tbody>
</table><div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Daten in Webshop-Templates enthalten</div>
<div class="paragraph">
<p>Die Felder, die im Menü <strong>System » Einstellungen » Stammdaten</strong> konfiguriert werden, können über Template-Variablen z.B. in E-Mail-Vorlagen und im Webshop angezeigt werden und sind dort zum Teil bereits enthalten.<br>
Die Stammdaten zeigen Sie über die folgenden Template-Variablen an:<br>
<strong>$CompanyCEO</strong><br>
<strong>$CompanyCity</strong><br>
<strong>$CompanyCountry</strong><br>
<strong>$CompanyEmail</strong><br>
<strong>$CompanyFax</strong><br>
<strong>$CompanyFon</strong><br>
<strong>$CompanyHotline</strong><br>
<strong>$CompanyIsSmallBusiness</strong><br>
<strong>$CompanyName</strong><br>
<strong>$CompanyStreet</strong><br>
<strong>$CompanyVATNumber</strong><br>
<strong>$CompanyZIP</strong><br></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</main>