<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Sync-Typen</h1><p>Willkommen im Themenbereich Sync-Typen. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/daten/daten-importieren/sync-typen/elasticSync-artikel">Artikel</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync-attribute">Attribute</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync-auftraege">Aufträge</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync-eigenschaften">Eigenschaften</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync-facetten">Facetten</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticsync-fahrzeugverwendungsliste">Fahrzeugverwendungsliste</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync-gutschein-codes">Gutschein-Codes</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync-hersteller">Hersteller</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync-kampagnen">Kampagnen</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync-kategorien">Kategorien</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync-kontakte">Kontakte, Firmen und Adressen</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync-lager">Lager</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticsync-market-listing">Market-Listing</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync-merkmale">Merkmale</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync-newsletter-empfaenger">Newsletter-Empfänger</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync-notizen">Notizen</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync-warenbestand">Warenbestand</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync-wareneingang">Wareneingang</a></li></ul>
</main>