<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Sync-Typen</h1><p>Willkommen im Themenbereich Sync-Typen. Hier finden Sie folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/daten/daten-importieren/sync-typen/elasticSync_artikel">Artikel</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync_kategorien">Kategorie</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync_attribute">Attribute</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync_merkmale">Merkmal</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync_kontakte">Kontakte, Firmen und Adressen</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync_hersteller">Hersteller</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync_auftraege">Aufträge</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync_lager">Lager</a></li><li><a href="/daten/daten-importieren/sync-typen/elasticSync_facetten">Facetten</a></li></ul>
</main>