<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with bol.com</span></a></li>
<li><a href="#210"><span>2.</span><span> Automated processes</span></a></li>
<li><a href="#200"><span>3.</span><span> Setting up bol.com in plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#205"><span>3.1.</span><span> Setting up bol.com in the assistant</span></a></li>
<li><a href="#206"><span>3.2.</span><span> Setting up bol.com in the Setup menu</span></a></li>
</ul>
</li>
<li><a href="#250"><span>4.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>5.</span><span> Setting the variation availability</span></a></li>
<li><a href="#400"><span>6.</span><span> Linking categories</span></a></li>
<li><a href="#450"><span>7.</span><span> Creating and linking characteristics</span></a></li>
<li><a href="#500"><span>8.</span><span> Defining a sales price</span></a></li>
<li><a href="#600"><span>9.</span><span> Setting up the item export</span></a></li>
<li><a href="#211"><span>10.</span><span> Setting up Fulfilment by bol.com (FBB/LVB)</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>bol.com</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The Dutch market <a href="http://bol.com" target="_blank" rel="noopener">bol.com</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is the leading online market in Benelux and offers many different products, including multimedia, electronics, toys, etc.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with bol.com</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before setting up bol.com in plentymarkets, you have to register with <a href="https://bol.com" target="_blank" rel="noopener">bol.com</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="210">2. Automated processes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Connecting to this market allows for the following automated processes to take place:</p>
</div>
<div class="paragraph">
<p>Offers:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>stock synchronisation every 15 minutes</p>
</li>
<li>
<p>hourly price synchronisation</p>
</li>
<li>
<p>hourly synchronisation of delivery times, visibility of offers etc.</p>
</li>
<li>
<p>daily deletion of offers for deleted or deactivated variations</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Orders:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>order import every 15 minutes</p>
</li>
<li>
<p>hourly import of returns registered on bol.com<br>
<strong><em>Note:</em></strong> Returns are imported with the status [9.00] by default.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. Setting up bol.com in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up bol.com in plentymarkets to sell items on the market bol.com. There are two ways to set up the bol.com interface:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the assistant <strong>Base settings - bol.com</strong> (<a href="#205">How it’s done</a>)</p>
</li>
<li>
<p>In the <strong>Setup » Markets » bol.com » Settings</strong> menu (<a href="#206">How it’s done</a>)<br>
<strong><em>Note:</em></strong> You cannot link bol.com delivery times in the Setup menu. Go through the bol.com assistant to map delivery times with plentymarkets.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="205">3.1. Setting up bol.com in the assistant</h3>
<div class="paragraph">
<p>The basic settings for bol.com are carried out in the <strong>Setup » Assistants » Omni-Channel</strong> menu with the <strong>Basic settings - bol.com</strong> assistant. With this assistant, you set up your bol.com account in plentymarkets. You also carry out settings for warehouses and map plentymarkets delivery times with bol.com delivery times.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out settings in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Omni-Channel</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>Base settings - bol.com</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the info box shown below this instruction (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to makes sure they are correct.<br>
<strong><em>Tip:</em></strong> Click on the arrow in the step <strong>Summary</strong> (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The settings are saved.<br></p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Options in the assistant</div>
<div class="content">
<table id="table-bol-basic-settings-assistant" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select the client that should be used to sell your items.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>From the drop-down list <strong>Client</strong>, select a client. This client is used to generate the item URL in the catalogue and bol.com orders are assigned to this client.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Would you like to activate your bol.com user account?</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><em>Account not activated</em> = The settings are saved but the data exchange with bol.com is not started.<br>
<em>Account activated</em> = Data exchange with bol.com is started once the assistant is completed.<br>
<strong><em>Recommendation:</em></strong> Check all settings before activating the user account.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Access data</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enter the API access data.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The API access data can be generated in the seller section at bol.com.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Client ID</strong> (mandatory) = Enter the user ID for the API interface you received from bol.com.</p>
</li>
<li>
<p><strong>Client Secret</strong> (mandatory) = Enter the password for the API interface that you received from bol.com.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Warehouse</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select how stock for bol.com should be calculated.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the stock quantity for the offer export. Select one of the following options:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Use stock quantity sum of all sales warehouses</strong><br></p>
</li>
<li>
<p><strong>Use main warehouse of item</strong><br></p>
</li>
<li>
<p><strong>Select warehouses</strong> = Select one or more warehouses.<br>
→ The warehouses listed under <strong>Warehouses</strong> can be selected. Place a check mark to select a warehouse.<br>
<strong><em>Important:</em></strong> The option <strong>Warehouse selection</strong> affects the item export. If an item is not linked to the warehouses selected here, then this item will not be exported.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Delivery times</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><em>Link bol.com delivery times</em></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Link one or more bol.com delivery times with delivery times saved in plentymarkets. The linked delivery times will be shown with your items on bol.com.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="206">3.2. Setting up bol.com in the Setup menu</h3>
<div class="paragraph">
<p>In the <strong>Setup » Markets » bol.com » Settings</strong> menu, you can carry out the basic settings for bol.com. However, note that bol.com delivery times cannot be mapped in this menu. Go through the bol.com assistant to map delivery times with plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Setting up bol.com in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » bol.com » Settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#basic-settings-bol">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The settings are saved.</p>
</li>
<li>
<p>Go to <strong>Setup » Assistants » Omni-Channel</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>Base settings - bol.com</strong>.</p>
</li>
<li>
<p>Navigate to the step <strong>Delivery times</strong>.</p>
</li>
<li>
<p>Link one or more bol.com delivery times with delivery times saved in plentymarkets.</p>
</li>
<li>
<p>Complete the assistant.</p>
</li>
</ol>
</div>
<table id="basic-settings-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Basic settings for the market bol.com</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate the automatic data exchange</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If the data exchange is activated, offer and order data is exchanged with bol.com. For further information, refer to <a href="#processes">[processes]</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the Client ID. The API access data can be generated in the seller section at bol.com.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client Secret</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the Client Secret. The API access data can be generated in the seller section at bol.com.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a client. Orders are assigned to this client during the order import.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse selection</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the stock quantity for the offer export. Select one of the following options:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Use stock quantity sum of all sales warehouses</strong><br></p>
</li>
<li>
<p><strong>Use main warehouse of item</strong><br></p>
</li>
<li>
<p><strong>Select warehouses</strong> = Select one or more warehouses.<br>
→ The warehouses listed under <strong>Warehouses</strong> can be selected. Place a check mark to select a warehouse.<br>
<strong><em>Important:</em></strong> The option <strong>Warehouse selection</strong> affects the item export. If an item is not linked to the warehouses selected here, then this item will not be exported.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="250">4. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with bol.com. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for bol.com:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>bol.com</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">5. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong><em>Tip:</em></strong> The settings you need to activate in order to sell a variation on bol.com are described in the <a href="#Requirements for listing offers on bol.com">FAQ</a>.</p>
</div>
<div class="paragraph">
<p>You need to activate the variations that you want to sell on bol.com. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » [Open item] » Tab: Variation ID</strong> menu.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="for-one-variation-tab" data-toggle="tab" href="#for-one-variation" role="tab" aria-controls="for-one-variation" aria-selected="true">For one variation</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-variation-group-function-tab" data-toggle="tab" href="#using-variation-group-function" role="tab" aria-controls="using-variation-group-function" aria-selected="false">Using variation group function</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-batch-processing-tab" data-toggle="tab" href="#using-batch-processing" role="tab" aria-controls="using-batch-processing" aria-selected="false">Using batch processing</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="for-one-variation" role="tabpanel" aria-labelledby="for-one-variation-tab">
<div class="paragraph instruction">
<p>Making a variation available for bol.com:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on bol.com.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on bol.com, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The variation is available for bol.com.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-variation-group-function" role="tabpanel" aria-labelledby="using-variation-group-function-tab">
<div class="paragraph">
<p>The <a href="/en/item/import-export-create/create/mass-processing#100">variation group function</a> allows you to edit several variations at once. You select the variations that you want to edit.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for bol.com using the variation group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Variations</strong>.</p>
</li>
<li>
<p>Choose additional <a href="/en/item/introduction/search#100">filters on the left</a> if needed and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the variations to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Variation group function</strong>.<br>
→ The <strong>Variation group function</strong> window opens.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong> to apply the settings.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-batch-processing" role="tabpanel" aria-labelledby="using-batch-processing-tab">
<div class="paragraph">
<p><a href="/en/item/import-export-create/create/mass-processing#400">Batch processing</a> allows you to edit several variations at once. You use filters to limit which variations are edited.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for bol.com using batch processing:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Batch processing</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Variations</strong> in the upper left corner.</p>
</li>
<li>
<p>Use the <em>filters on the left</em> to specify which variations should be processed.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Apply</strong> to apply the settings to the variations.</p>
</li>
</ol>
</div>
</div></div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> All item data has to be in Dutch for bol.com.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">6. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link your plentymarkets categories to the bol.com categories in order to display your items in these bol.com categories. Further items from the linked category are assigned automatically.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » bol.com » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The <strong>Select category</strong> window opens.</p>
</li>
<li>
<p>Select the bol.com category that best matches your plentymarkets category.</p>
</li>
<li>
<p>Click on <strong>Apply</strong>.<br>
→ The name and category path of the bol.com category are displayed.</p>
</li>
<li>
<p>If you know the name of the bol.com category, enter it directly into the <strong>Market category</strong> field to link it to your plentymarkets category.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="450">7. Creating and linking characteristics</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Now, create <a href="/en/item/settings/properties#100">characteristics</a> and link these characteristics to the bol.com characteristics. You need different characteristics depending on the bol.com category. Matching characteristics to a bol.com category can be found within the bol.com data model file. Download the bol.com data model file <a href="https://developers.bol.com/datamodel/" target="_blank" rel="noopener">here</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> .</p>
</div>
<table id="table-bol-characs" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Important bol.com characteristics</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Characteristic</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bol_used</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If you want to sell used items on bol.com, you have to indicate this used condition by using the property <strong>bol_used</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><em>Characteristic not linked to item</em> = The item is new.</p>
</li>
<li>
<p><em>Characteristic linked to item</em> = The item is used.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>When you create the characteristic, in the line <strong>bol.com characteristic</strong>, enter the bol.com characteristic <strong>bol_used</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="openblock collapseBox">
<div class="title">Creating a characteristic</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New characteristic</strong> tab.</p>
</li>
<li>
<p>Enter a name for the characteristic under <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select <strong>nl</strong> for Dutch from the <strong>Language</strong> drop-down list.</p>
</li>
<li>
<p>Enter the Dutch name that you want to use for this characteristic into the <strong>Name</strong> field.</p>
</li>
<li>
<p>Select the option <strong>Text</strong> from the <strong>Characteristic type</strong> drop-down list.</p>
</li>
<li>
<p>In the row <strong>bol.com characteristic</strong>, enter the bol.com characteristic from the column <strong>Attribute name</strong> of the bol.com data model file.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Linking the characteristic to an item</div>
<div class="content">
<div class="paragraph">
<p>Link the bol.com characteristics with the items that you want to sell on bol.com.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong>Characteristics</strong> tab.</p>
</li>
<li>
<p>Activate the characteristic in the <strong>Activate further characteristics</strong> area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The characteristic is displayed in the <strong>Characteristics</strong> area.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Carry out additional settings. Pay attention to the explanations regarding <a href="/en/item/managing-items#80">characteristics</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">8. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sales prices define the conditions under which a variation is sold at a specific price and on a specific sales channel. That means that to sell variations on bol.com, you need a sales price in which the order referrer bol.com is activated. The price that you save for this sales price is the price that will be shown on bol.com.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for bol.com:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price]</strong>.<br>
<strong><em>Tip:</em></strong> No sales prices? Then create a <a href="/en/item/settings/prices#100">new sales price</a> first.</p>
</li>
<li>
<p>Open the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Activate the referrer <strong>bol.com</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">9. Setting up the item export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This section explains how to transfer your items to bol.com. Items are transferred to bol.com with the elastic export. First, create the data format <strong>BolItemExport</strong> and then send the CSV file to bol.com.</p>
</div>
<div class="paragraph">
<p>The following fields are mandatory for the item export:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>EAN</p>
</li>
<li>
<p>SKU</p>
</li>
<li>
<p>Name</p>
</li>
<li>
<p>Categories</p>
</li>
<li>
<p>Item description</p>
</li>
<li>
<p>Image</p>
</li>
<li>
<p>Manufacturer</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Also note that item data has to be in Dutch for bol.com.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the item export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New export</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-item-export-bol">Table 3</a>.</p>
</li>
<li>
<p>Carry out further settings for item filters and format settings. Pay attention to the explanations given in table 2 on the <a href="/en/data/exporting-data/elastic-export#300">Elastic export</a> page.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The export format is given an ID and it appears in the overview within the <strong>Exports</strong> tab.<br></p>
</li>
<li>
<p>In the <strong>Data » Elastic Export » Tab: Exports</strong> menu, click on <strong>Download</strong> (arrow icon) to download the file that you have created.</p>
</li>
</ol>
</div>
<table id="settings-item-export-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Settings for the item export</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name. The export format is listed by this name in the overview within the <strong>Exports</strong> tab.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the type <strong>item</strong> from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>From the drop-down list, select the format <strong>BolItemExport</strong> for the item export.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a number. If you want to transfer more than 10,000 data records to bol.com, then the output file is not generated again for another 24 hours. This is to save resources.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>FTPS</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong>,<br>
<strong>server</strong>,<br>
<strong>Port</strong>,<br>
<strong>User name</strong>,<br>
<strong>Password</strong>,<br>
<strong>path</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a parameter. The access data including the password and user name are provided by bol.com. The file name is created based on the pattern &lt;sellerID&gt;.txt. You need to save the file in the folder <strong>/SQUARE/feed</strong>.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>daily</strong> as bol.com allows a maximum of 4 exports per day.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="211">10. Setting up Fulfilment by bol.com (FBB/LVB)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>bol.com orders can be fulfilled in two different ways:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Fulfilment by Retailer (FBR) = You ship the order yourself.</p>
</li>
<li>
<p>Fulfilment by bol.com (FBB/LVB) = bol.com ships the order.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Note that plentymarkets does not fully support Fulfilment by bol.com. You can mark your items for Fulfilment by bol.com when you export item data to bol.com. However, FBB orders and returns are not imported to plentymarkets. In addition, stock information can not be retrieved from the bol.com fulfilment warehouse.</p>
</div>
<div class="paragraph">
<p>To sell a variation with Fulfilment by bol.com (FBB or LVB), you need to activate the market availability bol.com FBA:</p>
</div>
<div class="openblock collapseBox">
<div class="title">Activating the market availability bol.com FBB</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on OTTO Market.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>bol.com FBB</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 100%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">[#1100]
[#1200]
== <em>Check list:</em> Requirements for listing offers on bol.com</p>
<p class="tableblock">In order to list your variations as offers on bol.com, the following settings have to be carried out:</p>
<p class="tableblock"><a id="table-bol-variation-checklist"></a>
.Mandatory fields for the variation
[cols="1,3a"]</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>|Mandatory data |Explanation</p>
</div>
<div class="paragraph">
<p>| EAN or ISBN
a| An EAN or an ISBN must be saved for the variation.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the <strong>Setup » Item » Barcode</strong> menu, an EAN or ISBN must be created and linked to the referrer bol.com.</p>
</li>
<li>
<p>The EAN must be added to the <strong>Settings</strong> tab of the variation in the <strong>Barcode</strong> area and a barcode code must be entered.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>| Price
a| A price must be saved for the variation.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The sales price must be activated for the referrer bol.com in the <strong>Setup » Item » Sales prices</strong>.</p>
</li>
<li>
<p>The sales price must be added in the <strong>Settings</strong> tab in the <strong>Sales price</strong> area of the variation.</p>
</li>
<li>
<p>A price must be saved for the sales price.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>| Availability
a| The variation must be available for the market.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In the <strong>Availability</strong> tab of the variation in the <strong>Markets</strong> area, the marketplace availabilities <strong>bol.com</strong> or <strong>bol.com FBB</strong> must be activated.<br></p>
<div class="ulist">
<ul>
<li>
<p>Referrer <strong>bol.com</strong> = You ship orders yourself.<br></p>
</li>
<li>
<p>Referrer <strong>bol.com FBB</strong> = bol.com ships your orders.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 100%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">[<mark>650]
== Activating the payment method</mark></p>
<p class="tableblock">:payment-method: Bol.com
:folder: International</p>
<p class="tableblock">Activate the <a href="#payment/managing-payment-methods</mark>">payment method</a> <strong>{payment-method}</strong> as described below.</p>
<p class="tableblock">[.instruction]
Activating the payment method {payment-method}:</p>
<p class="tableblock">. Go to <strong>Setup » Orders » Payment » Methods</strong>.
. Activate the option <strong>Also show inactive</strong>.
. Open the folder <strong>{folder}</strong>.
. Click on <strong>{payment-method}</strong>.<br>
→ The <strong>Settings</strong> tab opens.
. Carry out the settings. Pay attention to the information given in <a href="#table-payment-method">[table-payment-method]</a>.
. Place a check mark next to the option <strong>Active</strong>.
. <strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
<p class="tableblock"><a id="able-payment-method"></a>
.Settings for the payment method
[cols="1,3a"]</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>| Setting | Explanation</p>
</div>
<div class="paragraph">
<p>| <strong>Language</strong>
| The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong>, and <strong>Upload logo</strong>. This enables you to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the plentyShop.</p>
</div>
<div class="paragraph">
<p>| <strong>Name</strong>
| Enter the name that should be displayed in the plentyShop and on invoices etc.<br></p>
</div>
<div class="paragraph">
<p>| <strong>Info page</strong>
| Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p>
</div>
<div class="paragraph">
<p>| <strong>Info page (external)</strong>
| If you selected the <strong>Info page (external)</strong> option under <strong>Info page</strong>, then enter the URL of the info page here.</p>
</div>
<div class="paragraph">
<p>| <strong>Countries of delivery</strong>
| Do not select a country of delivery.<br>
You cannot use the payment method in your plentyShop. Therefore, this payment method is only activated in plentymarkets. It is not completely set up.</p>
</div>
<div class="paragraph">
<p>| <strong>Logo</strong>
a| Select one of the following options for displaying the logo:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br></p>
</li>
<li>
<p><strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br></p>
</li>
<li>
<p><strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>| <strong>Logo view</strong>
| If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then the logo that was uploaded is displayed here.</p>
</div>
<div class="paragraph">
<p>| <strong>Upload logo</strong>
| If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG, and JPG.</p>
</div>
<div class="paragraph">
<p>| <strong>Priority</strong>
| Select the priority for displaying the payment method in the plentyShop.</p>
</div>
<div class="paragraph">
<p>| <strong>Costs: Flat rate or percentage</strong>
| If the payment method results in additional costs, enter the percentage value or flat rate value. The selection depends on the conditions of your contract.<br>
<strong><em>Important:</em></strong> Do not enter a value into both fields.<br>
For further information, refer to the <a href="/en/business-decisions/plenty-bi/statistics">Statistics</a> page of the manual.<br>
For an example of flat rate and percentage costs, refer to the <a href="/en/payment/managing-payment-methods#20">Managing payment methods</a> page.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 100%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">[TIP]
.Permitting the payment method in customer classes
====
Go to <strong>Setup » CRM » Classes</strong> to activate or deactivate <strong>permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter.
====</p>
<p class="tableblock">For further information, refer to the <a href="/en/payment/managing-payment-methods">Managing payment methods</a> page.</p>
<p class="tableblock">////
:payment-method: xxxx
:folder: International/DE
////</p>
<p class="tableblock">[<mark>700]
== Automatically sending shipping confirmations</mark></p>
<p class="tableblock">Set up an <a href="#automation/event-procedures</mark>">event procedure</a> to automatically send shipping confirmations to bol.com when the outgoing items have been booked.</p>
<p class="tableblock">:table-event-procedure: <a href="#event-procedure-shipping-confirmation-bol">[event-procedure-shipping-confirmation-bol]</a></p>
<p class="tableblock">[.collapseBox]
.Setting up an event procedure — . Go to <strong>Setup » Orders » Events</strong>.
. Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.
. Enter a distinct name for the event procedure.
. Select the <strong>event</strong> according to {table-event-procedure}.
. <strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.
. Carry out the settings according to {table-event-procedure}.
. Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).
. <strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings. + — 
<a id="event-procedure-shipping-confirmation-bol"></a>
.Event procedure for automatically sending shipping confirmations to bol.com
[cols="1,3,3"]</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>|Setting |Option |Selection</p>
</div>
<div class="paragraph">
<p>| <strong>Event</strong>
| <strong>Order change: Outgoing items booked</strong>
|</p>
</div>
<div class="paragraph">
<p>| <strong>Filter 1</strong>
| <strong>Order &gt; Order type</strong>
| <strong>Order</strong></p>
</div>
<div class="paragraph">
<p>| <strong>Filter 2</strong>
| <strong>Order &gt; Referrer</strong>
| <strong>bol.com</strong></p>
</div>
<div class="paragraph">
<p>| <strong>Procedure</strong>
| <strong>Shipping &gt; Send shipping confirmation to bol.com</strong>
|</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 100%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">[<mark>900]
== Automatically sending cancellations</mark></p>
<p class="tableblock">Set up an <a href="#automation/event-procedures</mark>">event procedure</a> to automatically inform bol.com of cancellations. Whenever you are dealing with cancellations, you need to send bol.com a reason for the cancellation. Open the <strong>System » Orders » Status</strong> menu and create additional order statuses as needed. The following cancellation reasons can be transferred to bol.com:</p>
<p class="tableblock">* <strong>Out of stock</strong>
* <strong>Cancellation requested by customer</strong>
* <strong>Item is in a bad condition</strong>
* <strong>Higher shipping costs</strong>
* <strong>Incorrect price</strong>
* <strong>Item not available in time</strong>
* <strong>No bol.com warranty</strong>
* <strong>Item ordered twice</strong>
* <strong>Item retained</strong>
* <strong>Technical issue</strong>
* <strong>Item untraceable</strong>
* <strong>Other</strong></p>
<p class="tableblock">:table-event-procedure: <a href="#event-procedure-cancellations-bol">[event-procedure-cancellations-bol]</a></p>
<p class="tableblock">[.collapseBox]
.Setting up an event procedure — . Go to <strong>Setup » Orders » Events</strong>.
. Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.
. Enter a distinct name for the event procedure.
. Select the <strong>event</strong> according to {table-event-procedure}.
. <strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.
. Carry out the settings according to {table-event-procedure}.
. Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).
. <strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings. + — 
<a id="event-procedure-cancellations-bol"></a>
.Event procedure for automatically sending cancellations to bol.com
[cols="1,3,3"]</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>|Setting |Option |Selection</p>
</div>
<div class="paragraph">
<p>| <strong>Event</strong>
| <strong>Status change: [8.1] Cancelled by customer</strong>
|</p>
</div>
<div class="paragraph">
<p>| <strong>Filter 1</strong>
| <strong>Order &gt; Order type</strong>
| <strong>Order</strong></p>
</div>
<div class="paragraph">
<p>| <strong>Filter 2</strong>
| <strong>Order &gt; Referrer</strong>
| <strong>bol.com</strong></p>
</div>
<div class="paragraph">
<p>| <strong>Procedure</strong>
| <strong>Order &gt; Send cancellation to bol.com</strong>
| <strong>Customer cancellation</strong></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 100%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">[<mark>800]
== Automatically sending the return status</mark></p>
<p class="tableblock">Set up an <a href="#automation/event-procedures</mark>">event procedure</a> to automatically inform bol.com of the status of a return. bol.com requests the status of returns. The following return statuses can be sent to bol.com:</p>
<p class="tableblock">* <strong>Return received</strong>
* <strong>Item will be exchanged</strong>
* <strong>Return does not meet conditions</strong>
* <strong>Item must be repaired</strong>
* <strong>Customer keeps item</strong>
* <strong>Return accepted after consultation with customer</strong></p>
<p class="tableblock">:table-event-procedure: <a href="#event-procedure-return-status-bol">[event-procedure-return-status-bol]</a></p>
<p class="tableblock">[.collapseBox]
.Setting up an event procedure — . Go to <strong>Setup » Orders » Events</strong>.
. Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.
. Enter a distinct name for the event procedure.
. Select the <strong>event</strong> according to {table-event-procedure}.
. <strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.
. Carry out the settings according to {table-event-procedure}.
. Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).
. <strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings. + — 
<a id="event-procedure-return-status-bol"></a>
.Event procedure for automatically sending return statuses to bol.com
[cols="1,3,3"]</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>|Setting |Option |Selection</p>
</div>
<div class="paragraph">
<p>| <strong>Event</strong>
| <strong>New return</strong>
|</p>
</div>
<div class="paragraph">
<p>| <strong>Filter 1</strong>
| <strong>Order &gt; Order type</strong>
| <strong>Return</strong></p>
</div>
<div class="paragraph">
<p>| <strong>Filter 2</strong>
| <strong>Order &gt; Referrer</strong>
| <strong>bol.com</strong></p>
</div>
<div class="paragraph">
<p>| <strong>Procedure</strong>
| <strong>Order &gt; Send return status to bol.com</strong>
|Select a status.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 100%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">[<mark>810]
== Sending information on direct returns to bol.com</mark></p>
<p class="tableblock">In addition, set up an <a href="#automation/event-procedures</mark>">event procedure</a> to automatically inform bol.com about returns that customers sent back to you directly without registering the return with bol.com first. bol.com requests the status of returns. The following return statuses can be sent to bol.com:</p>
<p class="tableblock">* Return received
* Item will be exchanged
* Return does not meet conditions
* Item must be repaired
* Customer keeps item
* Return accepted after consultation with customer</p>
<p class="tableblock">:table-event-procedure: <a href="#event-procedure-return-bol">[event-procedure-return-bol]</a></p>
<p class="tableblock">[.collapseBox]
.Setting up an event procedure — . Go to <strong>Setup » Orders » Events</strong>.
. Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.
. Enter a distinct name for the event procedure.
. Select the <strong>event</strong> according to {table-event-procedure}.
. <strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.
. Carry out the settings according to {table-event-procedure}.
. Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).
. <strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings. + — 
<a id="event-procedure-return-bol"></a>
.Event procedure to inform bol.com about returns
[cols="1,3,3"]</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>|Setting |Option |Selection</p>
</div>
<div class="paragraph">
<p>| <strong>Event</strong>
| <strong>Status change: [9.5] Credit note created</strong>
|</p>
</div>
<div class="paragraph">
<p>| <strong>Filter 1</strong>
| <strong>Order &gt; Order type</strong>
| <strong>Return</strong></p>
</div>
<div class="paragraph">
<p>| <strong>Filter 2</strong>
| <strong>Order &gt; Referrer</strong>
| <strong>bol.com</strong></p>
</div>
<div class="paragraph">
<p>| <strong>Procedure</strong>
| <strong>Order &gt; Create a return at bol.com</strong>
|Select a status.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 100%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">[<mark>1000]
== Viewing log entries</mark></p>
<p class="tableblock">:market: bol.com
:identifier: bol.com</p>
<p class="tableblock">The <strong>Data » Log</strong> menu contains a history of processes that run via the bol.com interface. For bol.com, the following filters are recommended:</p>
<p class="tableblock">TIP: Integrations and identifiers are only shown in the drop-down lists after the process has run at least once.</p>
<p class="tableblock">[.collapseBox]
.Filtering and checking log entries — . Go to <strong>Data » Log</strong>.
. In the column to the left, select appropriate filters from the drop-down lists.
. <strong><em>Optional:</em></strong> Select filters for dates and/or times to only show entries from a specific period.<br>
<strong><em>Tip:</em></strong> For further information about the filters, refer to the <a href="#data/datalog</mark>">Data log</a> page of the manual.
. Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The results are shown.
. Check all entries for the levels <strong>warning</strong> and <strong>error</strong>.<br>
<strong><em>Tip:</em></strong> Click on the entry to see details. — 
////</p>
<p class="tableblock"><a id="list-log-filters"></a>
.Recommended filters for data log
[cols="1,3a"]</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>|Filter selection |Result</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 100%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the reference types and reference values listed in <a href="#table-reference-types">[table-reference-types]</a> to filter the search results:</p>
<p class="tableblock"><a id="table-reference-types"></a>
.Reference types and reference values for bol.com
[cols="1,1,3"]</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>|Reference type |Explanation |Reference value</p>
</div>
<div class="paragraph">
<p>| <strong>action</strong>
| Filters by events.
a| Select a reference type to filter for specific events.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>orderImport</strong> = Order import<br></p>
</li>
<li>
<p><strong>CreateOffer</strong> = Creation of offers<br></p>
</li>
<li>
<p><strong>CheckOfferStatus</strong> = Checking the successful creation of offers<br></p>
</li>
<li>
<p><strong>DeleteOffer</strong> = Deletion of offers<br></p>
</li>
<li>
<p><strong>UpdateOffer</strong> = Updating delivery time, delivery type (FBB, FBR), SKU and activity state of offers<br></p>
</li>
<li>
<p><strong>UpdateOfferPrices</strong> = Updating prices of offers<br></p>
</li>
<li>
<p><strong>UpdateOfferStock</strong> = Updating stock of offers<br></p>
</li>
<li>
<p><strong>CancelOrder</strong> = Cancellation of the order<br></p>
</li>
<li>
<p><strong>ShipOrder</strong> = Shipping of the order<br></p>
</li>
<li>
<p><strong>HandleReturn</strong> = Confirmation of receipt of a return announced on bol.com<br></p>
</li>
<li>
<p><strong>CreateReturn</strong> = Report receipt of a return not announced on bol.com</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>| <strong>orderId</strong>
| Filters by the order ID of the order in plentymarkets.
|</p>
</div>
<div class="paragraph">
<p>| <strong>externalOrderId</strong>
| Filters by the bol.com order number of the order.
|</p>
</div>
<div class="paragraph">
<p>| <strong>externalOrderItemId</strong>
| Filters by the ID of the bol.com order item.
|</p>
</div>
<table class="tableblock frame-all grid-all stretch">
</table>
</div>
</div>
</main>