<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with bol.com</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up bol.com in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the variation availability</span></a></li>
<li><a href="#400"><span>5.</span><span> Linking categories</span></a></li>
<li><a href="#450"><span>6.</span><span> Creating characteristics</span></a></li>
<li><a href="#500"><span>7.</span><span> Defining a sales price</span></a></li>
<li><a href="#600"><span>8.</span><span> Setting up the item export</span></a></li>
<li><a href="#650"><span>9.</span><span> Activating the payment method</span></a></li>
<li><a href="#700"><span>10.</span><span> Automatically sending shipping confirmations</span></a></li>
<li><a href="#800"><span>11.</span><span> Automatically sending the return status</span></a></li>
<li><a href="#900"><span>12.</span><span> Automatically sending cancellations</span></a></li>
<li><a href="#800"><span>13.</span><span> Sending information on direct returns to bol.com</span></a></li>
<li><a href="#1000"><span>14.</span><span> Viewing the log</span></a></li>
<li><a href="#1100"><span>15.</span><span> FAQ</span></a>
<ul class="sectlevel2">
<li><a href="#1200"><span>15.1.</span><span> Requirements for listing offers on bol.com</span></a>
<ul class="sectlevel4">
<li><a href="#_which_settings_have_to_be_saved_to_sell_a_variation_on_bol_com"><span>Which settings have to be saved to sell a variation on bol.com?</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>bol.com</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The Dutch market <a href="http://bol.com" target="_blank" rel="noopener">bol.com</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is the leading online market in Benelux and distributes many different products, including multimedia, electronics, toys, etc.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">New API version 3.0</div>
<div class="paragraph">
<p>Version 2.0 of the bol.com API interface will be deactivated on the 12th of May 2020. You can now update to version 3.0 of the API interface. Go to the <a href="https://forum.plentymarkets.com/t/bol-com-integration-neuer-api-versionen-3-und-4-integration-of-new-api-versions-3-and-4/587773" target="_blank" rel="noopener">plentymarkets forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to find out more.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with bol.com</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before setting up bol.com in plentymarkets, you have to register as seller with <a href="https://bol.com" target="_blank" rel="noopener">bol.com</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up bol.com in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up bol.com in plentymarkets to sell items on the market bol.com. bol.com is set up with the <strong>bol.com Basic settings</strong> assistant.</p>
</div>
<div class="paragraph">
<p>As an alternative, you can carry out the basic settings in the <strong>Setup » Markets » bol.com » Settings</strong> menu. However, note that bol.com delivery times cannot be mapped in this menu. Go through the bol.com assistant to map delivery times with plentymarkets.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="-strong-bol-com-basic-settings--strong--assistant-tab" data-toggle="tab" href="#-strong-bol-com-basic-settings--strong--assistant" role="tab" aria-controls="-strong-bol-com-basic-settings--strong--assistant" aria-selected="true"><strong>bol.com Basic settings</strong> assistant</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="menu--strong-setup---markets---bol-com---settings--strong--tab" data-toggle="tab" href="#menu--strong-setup---markets---bol-com---settings--strong-" role="tab" aria-controls="menu--strong-setup---markets---bol-com---settings--strong-" aria-selected="false">Menu <strong>Setup » Markets » bol.com » Settings</strong></a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="-strong-bol-com-basic-settings--strong--assistant" role="tabpanel" aria-labelledby="-strong-bol-com-basic-settings--strong--assistant-tab">
<div class="paragraph">
<p>The basic settings for bol.com are carried out in the <strong>Setup » Assistants » Omni-Channel</strong> menu with the <strong>bol.com Basic settings</strong> assistant. With this assistant, you set up your bol.com account in plentymarkets. You also carry out settings for warehouses and map plentymarkets delivery times with bol.com delivery times.<br></p>
</div>
<div class="paragraph">
<p>In order to start the assistant, go to <strong>Setup » Assistants » Omni-Channel</strong> and click on the <strong>bol.com Basic settings</strong> assistant. The assistant opens and you can start setting up your account.</p>
</div>
</div><div class="tab-pane fade" id="menu--strong-setup---markets---bol-com---settings--strong-" role="tabpanel" aria-labelledby="menu--strong-setup---markets---bol-com---settings--strong--tab">
<div class="paragraph">
<p>In the <strong>Setup » Markets » bol.com » Settings</strong> menu, you can carry out the basic settings for bol.com.</p>
</div>
<div class="paragraph instruction">
<p>Setting up bol.com in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » bol.com » Settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#basic-settings-bol">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="basic-settings-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Basic settings for the market bol.com</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate the automatic data exchange</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the data exchange is activated, offer and order data is exchanged with bol.com. For further information, refer to <a href="#processes">Automatic processes</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Public key (v2)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the public key for the API version 2.0.<br>
<strong><em>Note:</em></strong> Version 2.0 of the bol.com API interface will be deactivated on the 12th of May 2020.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Private key (v2)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the private key for the API version 2.0.<br>
<strong><em>Note:</em></strong> Version 2.0 of the bol.com API interface will be deactivated on the 12th of May 2020.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client ID (v3)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the Client ID. The API access data can be generated in the seller section at bol.com.<br>
<strong><em>Note:</em></strong> The Client ID and Client Secret are required if you use the API version 3.0 for bol.com.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client Secret (v3)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the Client Secret. The API access data can be generated in the seller section at bol.com.<br>
<strong><em>Note:</em></strong> The Client ID and Client Secret are required if you use the API version 3.0 for bol.com.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client. Orders are assigned to this client during the order import.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse selection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the stock quantity for the offer export. Select one of the following options:<br>
<strong>Use stock quantity sum of all sales warehouses</strong><br>
<strong>Use main warehouse of item</strong><br>
<strong>Select warehouses</strong> = Select one or more warehouses.<br>
→ The warehouses listed under <strong>Warehouses</strong> can be selected. Place a check mark to select a warehouse.<br>
<strong>Important:</strong> The option <strong>Warehouse selection</strong> affects the item export. If an item is not linked to the warehouses selected here, then this item will not be exported.</p></td>
</tr>
</tbody>
</table>
</div></div>
<h3 id="processes" class="discrete">Automatic processes</h3>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic processes to take place:</p>
</div>
<div class="paragraph">
<p>Offers:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>stock synchronisation every 15 minutes</p>
</li>
<li>
<p>hourly price synchronisation</p>
</li>
<li>
<p>hourly synchronisation of delivery times, visibility of offers etc.</p>
</li>
<li>
<p>daily deletion of offers for deleted or deactivated variations</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Orders:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>order import every 15 minutes</p>
</li>
<li>
<p>hourly import of returns registered on bol.com<br>
<strong><em>Note:</em></strong> Returns are imported with the status [9.00] by default.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, characteristics etc. with bol.com, you have to activate the order referrer bol.com in the <strong>Setup » Orders » Order referrer</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer bol.com:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>bol.com</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate all variations that you want to sell on bol.com. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » Open item » Tab: Variation ID</strong> menu.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip:</em></strong> Which settings you need to activate in order to sell a variation on bol.com is described in the <a href="#1200">FAQ</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Selling all variations of an item on bol.com</div>
<div class="paragraph">
<p>To sell all variations of an item on bol.com, carry out the settings described below for the main variation. The settings are then passed on to all variations of the item.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting the variation availability for bol.com:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on bol.com.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>bol.com</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
<strong><em>Note:</em></strong> All item data has to be in Dutch for bol.com.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link your online store categories to the bol.com categories in order to display your items in these bol.com categories. Further items from the linked category are assigned automatically.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » bol.com » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The <strong>Select category</strong> window opens.</p>
</li>
<li>
<p>Select the bol.com category that best matches your online store category.</p>
</li>
<li>
<p>Click on <strong>Apply</strong>.<br>
→ The name and category path of the bol.com category are displayed.</p>
</li>
<li>
<p>If you know the name of the bol.com category, enter it directly into the <strong>Market category</strong> field to link it to your online store category.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="450">6. Creating characteristics</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Next create <a href="/en/item/managing-items#480">characteristics</a> and link these to the bol.com characteristics. Matching characteristics to a bol.com category can be found within the bol.com data model file. Download the bol.com data model file <a href="https://developers.bol.com/datamodel/" target="_blank" rel="noopener">here</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> .</p>
</div>
<div class="paragraph instruction">
<p>Creating a characteristic:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New characteristic</strong> tab.</p>
</li>
<li>
<p>Enter a name for the characteristic under <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select <strong>nl</strong> for Dutch from the <strong>Language</strong> drop-down list.</p>
</li>
<li>
<p>Enter the Dutch name that you want to use for this characteristic into the <strong>Name</strong> field.</p>
</li>
<li>
<p>Select the option <strong>Text</strong> from the <strong>Characteristic type</strong> drop-down list.</p>
</li>
<li>
<p>Enter the bol.com characteristic which can be found in the column <strong>Attribute name</strong> within the bol.com data model file into the line <strong>bol.com characteristic</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong>bol_fulfillment</strong> is a mandatory field for the offer export. This indicates whether the item is shipped by you or by bol.com. In the line <strong>bol.com characteristic</strong>, enter the bol.com characteristic <strong>bol_fulfillment</strong>.</p>
</div>
<div class="paragraph">
<p>If you want to sell used items on bol.com, you have to indicate this by using the property <strong>bol_used</strong>. In the line <strong>bol.com characteristic</strong>, enter the bol.com characteristic <strong>bol_used</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="500">7. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer {referrer}. This price is displayed on {referrer}.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for {referrer}:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices »</strong> <em>Open sales price</em> <strong>» Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the referrer <strong>{referrer}</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">8. Setting up the item export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This section explains how to transfer your items to bol.com. Items are transferred to bol.com with the elastic export. First, create the data format <strong>BolItemExport</strong> and then send the CSV file to bol.com.</p>
</div>
<div class="paragraph">
<p>The following fields are mandatory for the item export:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>EAN</p>
</li>
<li>
<p>SKU</p>
</li>
<li>
<p>Name</p>
</li>
<li>
<p>Categories</p>
</li>
<li>
<p>Item description</p>
</li>
<li>
<p>Image</p>
</li>
<li>
<p>Manufacturer</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Setting up the item export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New export</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-item-export-bol">Table 2</a>.</p>
</li>
<li>
<p>Carry out further settings for item filters and format settings. Pay attention to the explanations given in table 2 on the <a href="/en/data/exporting-data/elastic-export#300">Elastic export</a> page.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The export format is given an ID and it appears in the overview within the <strong>Exports</strong> tab.<br>
→ In the <strong>Data » Elastic Export » Tab: Exports</strong> menu, click on <strong>Download</strong> (arrow icon) to download the file that you have created.</p>
</li>
</ol>
</div>
<table id="settings-item-export-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings for the item export</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name. The export format is listed by this name in the overview within the <strong>Exports</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type <strong>item</strong> from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">From the drop-down list, select the format <strong>BolItemExport</strong> for the item export.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number. If you want to transfer more than 10,000 data records to bol.com, then the output file is not generated again for another 24 hours. This is to save resources.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>FTPS</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong>,<br>
<strong>server</strong>,<br>
<strong>Port</strong>,<br>
<strong>User name</strong>,<br>
<strong>Password</strong>,<br>
<strong>path</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a parameter. The access data including the password and user name are provided by bol.com. The file name is created based on the pattern &lt;sellerID&gt;.txt. You need to save the file in the folder <strong>/SQUARE/feed</strong>.<br></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>daily</strong> as bol.com allows a maximum of 4 exports per day.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="650">9. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <a href="/en/payment/managing-payment-methods">payment method</a> <strong>BOL.com</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating the bol.com payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Activate the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>BOL.com</strong>.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-payment-method-bol">[settings-payment-method-bol]</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="payment-method-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong>, and <strong>Upload logo</strong>. This enables you to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the <strong>Info page (external)</strong> option under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely set up.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then the logo that was uploaded is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG, and JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract. <strong>Important:</strong> Do not enter a value into both fields. <br>
For further information, refer to the <a href="/en/business-decisions/business-intelligence/statistics">Statistics</a> page of the manual. For an example of flat rate and percentage costs, refer to the <a href="/en/payment/managing-payment-methods#20">Managing payment methods</a> page.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>Setup » CRM » Classes</strong> to activate or deactivate <strong>permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/payment/managing-payment-methods">Managing payment methods</a> page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">10. Automatically sending shipping confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically send shipping confirmations to bol.com when the outgoing items have been booked.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-shipping-confirmation-bol">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#event-procedure-shipping-confirmation-bol">Table 4</a> vor.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-shipping-confirmation-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Event procedure for automatically sending shipping confirmations to bol.com</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Outgoing items booked</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bol.com</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping &gt; Send shipping confirmation to bol.com</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">11. Automatically sending the return status</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically inform bol.com of the status of a return. bol.com requests the status of returns. The following return statuses can be sent to bol.com from API version 3.0 and higher:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Return received (v4)</strong><br></p>
<div class="ulist">
<ul>
<li>
<p>previously <strong>Return received (v2)</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Item will be exchanged (v4)</strong></p>
</li>
<li>
<p><strong>Return does not meet conditions (v4)</strong><br></p>
<div class="ulist">
<ul>
<li>
<p>previously <strong>Incomplete return (v2)</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Item must be repaired (v4)</strong></p>
</li>
<li>
<p><strong>Customer keeps item (v4)</strong><br></p>
<div class="ulist">
<ul>
<li>
<p>previously <strong>Refund without returning goods (v2)</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Return accepted after consultation with customer (v4)</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-return-status-bol">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#event-procedure-return-status-bol">Table 5</a> vor.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-return-status-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Event procedure for automatically sending return statuses to bol.com</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>New return</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bol.com</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Send return status to bol.com</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="900">12. Automatically sending cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically inform bol.com of cancellations. Whenever you are dealing with cancellations, you need to send bol.com a reason for the cancellation. Open the <strong>System » Orders » Status</strong> menu and create additional order statuses as needed. The following cancellation reasons can be sent to bol.com from API version 3.0 and higher:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Out of stock (v3)</strong><br></p>
<div class="ulist">
<ul>
<li>
<p>previously <strong>Out of stock (v2)</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Cancellation requested by customer (v3)</strong></p>
<div class="ulist">
<ul>
<li>
<p>previously <strong>Customer cancelled order (v2)</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Item is in a bad condition (v3)</strong></p>
</li>
<li>
<p><strong>Higher shipping costs (v3)</strong></p>
</li>
<li>
<p><strong>Incorrect price (v3)</strong></p>
</li>
<li>
<p><strong>Item not available in time (v3)</strong></p>
</li>
<li>
<p><strong>No bol.com warranty (v3)</strong></p>
</li>
<li>
<p><strong>Item ordered twice (v3)</strong></p>
</li>
<li>
<p><strong>Item retained (v3)</strong></p>
</li>
<li>
<p><strong>Technical issue (v3)</strong></p>
</li>
<li>
<p><strong>Item untraceable (v3)</strong></p>
</li>
<li>
<p><strong>Other (v3)</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-cancellations-bol">Table 6</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#event-procedure-cancellations-bol">Table 6</a> vor.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-cancellations-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Event procedure for automatically sending cancellations to bol.com</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change: [8.1] Cancelled by customer</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bol.com</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Send cancellation to bol.com</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer cancellation</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">13. Sending information on direct returns to bol.com</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically inform bol.com about returns that customers sent back to you directly without registering the return with bol.com first. bol.com requests the status of returns. The following return statuses can be sent to bol.com from API version 3.0 and higher:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Return received (v4)</p>
</li>
<li>
<p>Item will be exchanged (v4)</p>
</li>
<li>
<p>Return does not meet conditions (v4)</p>
</li>
<li>
<p>Item must be repaired (v4)</p>
</li>
<li>
<p>Customer keeps item (v4)</p>
</li>
<li>
<p>Return accepted after consultation with customer (v4)</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-return-bol">Table 7</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#event-procedure-return-bol">Table 7</a> vor.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-return-bol" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Event procedure to inform bol.com about returns</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change: [9.5] Credit note created</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>bol.com</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Create a return at bol.com</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1000">14. Viewing the log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Data » Log</strong> menu contains a history of processes that run via the bol.com interface. For bol.com, you can filter by the identifier <strong>bol.com</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>From the drop-down list <strong>Identifier</strong>, select the option <strong>bol.com</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select a date if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The results are shown.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Use the following reference types and reference values to filter the search results.</p>
</div>
<table id="table-reference-types" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. Reference types and reference values for bol.com</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Reference type</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Reference value</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>action</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Filters by events.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a reference type to filter for specific events.<br>
<strong>shippingConfirmation</strong> = Shipping confirmations<br>
<strong>orderImport</strong> = Order import</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1100">15. FAQ</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="1200">15.1. Requirements for listing offers on bol.com</h3>
<div class="sect4">
<h5 id="_which_settings_have_to_be_saved_to_sell_a_variation_on_bol_com">Which settings have to be saved to sell a variation on bol.com?</h5>
<div class="paragraph indented">
<p>In order to list your variations as offers on bol.com, the following settings have to be carried out:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Save an <strong>EAN</strong> or <strong>ISBN</strong> for the variation: An <strong>EAN</strong> or <strong>ISBN</strong> must be set up in the <strong>Setup » Item » Barcode</strong> menu and must be linked to the referrer <strong>bol.com</strong>. In addition, the <strong>EAN</strong> or <strong>ISBN</strong> must be added in the variation’s <strong>Settings</strong> tab in the <strong>Barcode</strong> area.</p>
</li>
<li>
<p><strong>Sales price</strong> for bol.com: The <a href="#500">sales price</a> must be activated for the referrer <strong>bol.com</strong>. This is done in the <strong>Setup » Item » Sales prices</strong> menu. Additionally, the sales price must be added in the variation’s <strong>Settings</strong> tab in the <strong>Sales prices</strong> area.</p>
</li>
<li>
<p><strong>Availability:</strong> In the <strong>Availability</strong> tab of a variation in the <strong>Markets</strong> area, the marketplace availabilities <strong>bol.com</strong> or <strong>bol.com FBB</strong> must be added. Select the referrer <strong>bol.com</strong> if you ship your items yourself. If bol.com ships your items, select the referrer <strong>bol.com FBB</strong>.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</main>