<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <div class="paragraph">
<p>You have set up {market} and created a catalogue for exporting your item data? Then start the export of your item data.</p>
</div><div class="paragraph instruction">
<p>Activating the catalogue export to {market}:</p>
</div><div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogues are listed.</p>
</li>
<li>
<p>Scroll to the {market} catalogue.</p>
</li>
<li>
<p>In the <strong>Active/Inactive</strong> column, move the toggle button to the right (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).<br>
→ The catalogue is active.<br>
→ The catalogue data is exported to {market} {interval}{if-active}.</p>
</li>
</ol>
</div>
</main>