<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Cdiscount</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Cdiscount in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the variation availability</span></a></li>
<li><a href="#350"><span>5.</span><span> Optional: Saving SKU</span></a></li>
<li><a href="#400"><span>6.</span><span> Defining a sales price</span></a></li>
<li><a href="#450"><span>7.</span><span> Defining the barcode</span></a></li>
<li><a href="#500"><span>8.</span><span> Linking categories</span></a></li>
<li><a href="#600"><span>9.</span><span> Linking attributes</span></a></li>
<li><a href="#700"><span>10.</span><span> Creating characteristics</span></a></li>
<li><a href="#800"><span>11.</span><span> Linking manufacturers</span></a></li>
<li><a href="#900"><span>12.</span><span> Activating the payment method</span></a></li>
<li><a href="#950"><span>13.</span><span> Setting up the data exchange</span></a>
<ul class="sectlevel2">
<li><a href="#1000"><span>13.1.</span><span> Downloading the item catalogue and stock synchronisation</span></a></li>
<li><a href="#1100"><span>13.2.</span><span> Exporting the item catalogue via CSV file</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>14.</span><span> Automatically sending returns</span></a></li>
<li><a href="#1300"><span>15.</span><span> Automatically updating the order status</span></a></li>
<li><a href="#1400"><span>16.</span><span> Viewing the API log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Cdiscount</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Cdiscount was the first online market in France. Today, it is still one of the most popular and most widely used French online sales platforms. In order to sell items on Cdiscount, you need to make your catalogue of items completely available in French.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Cdiscount</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to register with Cdiscount before setting up Cdiscount in plentymarkets. Click <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/Cdiscount_Terms_Conditions_EN.pdf">here</a> to download a PDF file of the Cdiscount terms and conditions (as of 16/10/2020).</p>
</div>
<div class="paragraph">
<p>Fill in the <a href="https://marketplace-registration.cdiscount.com/#" target="_blank" rel="noopener">registration form</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and send your data to Cdiscount. One of the market’s support employees will contact you to verify the registration.</p>
</div>
<div class="paragraph">
<p>Change your API password before you save the access data in your plentymarkets system. A new password will be sent to the mailbox in your Cdiscount seller back end area.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Cdiscount in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have registered with Cdiscount, use the data that is saved there to set up the market in plentymarkets. To do so, proceed as described below.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Access data</div>
<div class="paragraph">
<p>Use the API access data for the setup. Do not confuse the API access data with your access data for the Cdiscount seller back end. You find the user name within the Cdiscount seller back end. The password is generated or edited there.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up Cdiscount in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Cdiscount.com » Tab: Settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#basic-settings-cdiscount">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Access data</div>
<div class="paragraph">
<p>Use the API access data for the setup (user name and password). The user name includes the suffix api. In contrast, use the login access data to log into the back end area on Cdiscount.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="basic-settings-cdiscount" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Basic settings for the market Cdiscount</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Request product creation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate to transfer the item catalogue via the API interface. Stock is still synchronised automatically via the API interface.<br>
<strong><em>Note:</em></strong> If the option <strong>Request product creation</strong> is not activated, offers are only generated for already existing items on Cdiscount.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Update prices and stock and activate order import</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate in order to activate the automatic stock synchronisation and the order import via the API interface. When this option is activated along with the option <strong>Request product creation</strong>, then the data is exchanged automatically via the API interface only.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Sales partner information</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Company name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the company name as stated on Cdiscount (optional).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API user name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the API user name that you received from Cdiscount.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API password</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the API password that you received from Cdiscount.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Order settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cdiscount C Logistique order status</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Status for Cdiscount C Logistique orders. <strong>Status [7] outgoing items booked</strong> is set by default. However, no stock is booked from the warehouse. The status can be edited as desired for future order imports. Once an order entered status 7, the order cannot enter a smaller status.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cdiscount C Logistique order warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select which warehouse is to be assigned to C Logistique orders.<br>
<strong>Automatic warehouse assignment</strong> (default setting) = The warehouse is assigned according to the normal order logic, i.e. based on your warehouse, item and stock settings.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select which field to transfer to Cdiscount as the item name.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Short item description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select which field to transfer to Cdiscount as the short item description.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select which field to transfer to Cdiscount as the item description.<br>
The item description must not contain HTML formatting. HTML formatting is deleted during the item export.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item marketing description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the text that you want to transfer as marketing description or select <strong>Do not transfer</strong>.<br>
It is possible to use HTML formatting in the item marketing description.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer variation dimensions</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate if you want to transfer the variation’s dimensions.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock quantity for items that are not limited to stock and do not have a positive net stock</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the value. The entered value is transferred as stock if the item is not limited to stock and if the item does not have a positive net stock.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which sales warehouse should be used? Select one sales warehouse, several sales warehouses, or <strong>Total in all warehouses</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Total in all warehouses</strong> = The sum of all sales warehouses is used. Return or repair warehouses are not taken into consideration.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the minimum price for an item.<br>
<strong><em>Important:</em></strong> The minimum price must be the special offer price saved for the item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Preparation for shipping (in days)</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default preparation time for shipping</strong><br>
(mandatory field)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a default preparation time for shipping in days. The value entered here is transferred to Cdiscount. Cdiscount increases this value on the basis of the shipping method.<br>
<strong><em>Important:</em></strong> Only enter values from 1-5.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Availability 1-10</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter an availability from 1-10. The availability is the same as the availability of variations in the <strong>Availability</strong> area of the <strong>Item » Edit item » [Open item] » [Open variation]</strong> menu. The value entered here is transferred to Cdiscount. Cdiscount increases this value on the basis of the shipping method.<br>
If you do not enter a value here, the <strong>Standard preparation time</strong> is transferred to Cdiscount.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Shipping costs</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Apply shipping costs from the shipping cost calculation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Configuration 1</strong> or <strong>Configuration 2</strong> and a <strong>payment method</strong>. The selected configuration transfers the standard shipping costs to Cdiscount. <br>
The options that can be selected here are the settings for Configuration 1 and Configuration 2 that are configured in the <strong>Setup » Orders » Shipping » Settings » Tab: Calculate shipping costs</strong> menu.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Overwrite shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a fixed price for the shipping costs. The shipping costs entered here are transferred to Cdiscount instead of the shipping costs that are saved for an item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID for instalment purchase fee</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Cdiscount charges a fee for instalment purchases. It is possible to create an item that bills customers for this fee. To do so, create an item in plentymarkets and enter the ID here.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic functions to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Daily item export</p>
</li>
<li>
<p>Hourly stock synchronisation</p>
</li>
<li>
<p>Hourly order import</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>During the hourly order import, no invoice data or delivery information is transferred from Cdiscount when the order is first imported. The order remains in status [3]. It may take up to 48 hours for the invoice data and the delivery information to be transferred to plentymarkets, as Cdiscount carries out a credit rating for the end customer first.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with Cdiscount. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Cdiscount:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Cdiscount</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate the variations that you want to sell on Cdiscount. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » [Open item] » [Open variation]</strong> menu.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="for-one-variation-tab" data-toggle="tab" href="#for-one-variation" role="tab" aria-controls="for-one-variation" aria-selected="true">For one variation</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-variation-group-function-tab" data-toggle="tab" href="#using-variation-group-function" role="tab" aria-controls="using-variation-group-function" aria-selected="false">Using variation group function</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-batch-processing-tab" data-toggle="tab" href="#using-batch-processing" role="tab" aria-controls="using-batch-processing" aria-selected="false">Using batch processing</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="for-one-variation" role="tabpanel" aria-labelledby="for-one-variation-tab">
<div class="paragraph instruction">
<p>Making a variation available for Cdiscount:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on Cdiscount.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on Cdiscount, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>Cdiscount</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The variation is available for Cdiscount.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-variation-group-function" role="tabpanel" aria-labelledby="using-variation-group-function-tab">
<div class="paragraph">
<p>The <a href="/en/item/import-export-create/create/mass-processing#100">variation group function</a> allows you to edit several variations at once. You select the variations that you want to edit.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for Cdiscount using the variation group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Variations</strong>.</p>
</li>
<li>
<p>Choose additional <a href="/en/item/introduction/search#100">filters on the left</a> if needed and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the variations to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Variation group function</strong>.<br>
→ The <strong>Variation group function</strong> window opens.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Cdiscount</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Cdiscount</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong> to apply the settings.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-batch-processing" role="tabpanel" aria-labelledby="using-batch-processing-tab">
<div class="paragraph">
<p><a href="/en/item/import-export-create/create/mass-processing#400">Batch processing</a> allows you to edit several variations at once. You use filters to limit which variations are edited.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for Cdiscount using batch processing:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Batch processing</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Variations</strong> in the upper left corner.</p>
</li>
<li>
<p>Use the <em>filters on the left</em> to specify which variations should be processed.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Cdiscount</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Cdiscount</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Apply</strong> to apply the settings to the variations.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="350">5. <em>Optional:</em> Saving SKU</h2>
<div class="sectionbody">
<div class="paragraph">
<p>SKU are generated automatically when your variations are exported. However, you can also save market specific SKU for variations that you want to sell on this market instead.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Automatic SKU generation</div>
<div class="paragraph">
<p>If the <strong>Request product creation</strong> setting is activated in the <strong>Setup » Markets » Cdiscount.com » Tab: Settings</strong> menu, an SKU is generated for each exported variation during the nightly export. This SKU matches the variation ID.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">SKUs of already existing items</div>
<div class="paragraph">
<p>Do you want to sell products that you have previously created on Cdiscount manually or using a different software? Link these products with your variations in plentymarkets. To do so, save the identification as an SKU in plentymarkets. The identification can be found as <strong>Your reference</strong> in the Cdiscount seller back end.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manually-adding-an-sku-tab" data-toggle="tab" href="#manually-adding-an-sku" role="tab" aria-controls="manually-adding-an-sku" aria-selected="true">Manually adding an SKU</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="importing-sku-tab" data-toggle="tab" href="#importing-sku" role="tab" aria-controls="importing-sku" aria-selected="false">Importing SKU</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manually-adding-an-sku" role="tabpanel" aria-labelledby="manually-adding-an-sku-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>SKU</strong> area, click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>New SKU</strong> window opens.</p>
</li>
<li>
<p>Select the referrer <strong>Cdiscount.com</strong>.<br></p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="importing-sku" role="tabpanel" aria-labelledby="importing-sku-tab">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Only the most important settings for the import are described here. Is this your first time working with the import tool? Then get familiar with <a href="/en/data/importing-data/ElasticSync">how data imports work in plentymarkets first</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="ulist">
<ul>
<li>
<p>Create a CSV file with at least the columns described in <a href="#table-sku-import">Table 2</a>.</p>
</li>
<li>
<p>Create an import with the following settings:</p>
<div class="ulist">
<ul>
<li>
<p>Select the type <strong>Item</strong>.</p>
</li>
<li>
<p>Select the matching field <strong>Variation ID</strong>.</p>
</li>
<li>
<p>Map the plentymarkets data fields as described in <a href="#table-sku-import">Table 2</a>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<table id="table-sku-import" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Recommended columns of the import file</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 50%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column in CSV file</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">plentymarkets data field for mapping</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Variation ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the variation ID in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Variation ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Market ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the referrer ID <strong>143</strong> in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>Marketplace ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Account ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This market does not require a marketplace account. As such, enter the number <strong>0</strong> in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>Marketplace ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SKU</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the SKU that you want to save for the variation for this market in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>SKU</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
</div></div>
</div>
</div><div class="sect1">
<h2 id="400">6. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sales prices define the conditions under which a variation is sold at a specific price and on a specific sales channel. That means that to sell variations on Cdiscount, you need a sales price in which the order referrer Cdiscount is activated. The price that you save for this sales price is the price that will be shown on Cdiscount.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Cdiscount:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price]</strong>.<br>
<strong><em>Tip:</em></strong> No sales prices? Then create a <a href="/en/item/settings/prices#100">new sales price</a> first.</p>
</li>
<li>
<p>Open the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Activate the referrer <strong>Cdiscount</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Afterwards, <a href="/en/item/settings/prices#240">link</a> the sales price with the desired variations if you have not done so.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="450">7. Defining the barcode</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a barcode for the order referrer Cdiscount. This barcode is transferred to Cdiscount for the variation. The barcode has to be of the type GTIN 13.</p>
</div>
<div class="paragraph instruction">
<p>Defining a barcode for Cdiscount:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Barcode » Open barcode</strong>.</p>
</li>
<li>
<p>Select the referrer <strong>Cdiscount</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Afterwards, <a href="/en/item/settings/prices#300">link</a> the barcode with the desired variations if you have not done so.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="500">8. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link your categories with Cdiscount categories, download the Cdiscount category list first. Then link your own categories with the most appropriate Cdiscount categories.</p>
</div>
<div class="paragraph instruction">
<p>Downloading the category list:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Cdiscount.com » Tab: Category list</strong>.</p>
</li>
<li>
<p>Click on the gear-wheel icon <strong>Update category list</strong>.<br>
→ The category list is displayed with code and category names further below.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You need the codes displayed here in order to link your categories with Cdiscount categories. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Cdiscount.com » Tab: Category link</strong>.</p>
</li>
<li>
<p>For <strong>Category link</strong>, enter the Cdiscount category code matching your plentymarkets category.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">9. Linking attributes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you have created <a href="/en/item/settings/attributes">attributes</a> in your plentymarkets system, you have to link these attributes with Cdiscount. Proceed as described below to link the attribute Colour with Cdiscount. Link further attributes in the same way.</p>
</div>
<div class="paragraph instruction">
<p>Linking attribute "Colour":</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Attributes</strong>.<br>
→ An overview of all existing attributes opens.</p>
</li>
<li>
<p>Open the attribute <strong>Colour</strong>.</p>
</li>
<li>
<p>Click on the <strong>Attribute link</strong> tab.</p>
</li>
<li>
<p>From the list of markets, select the option <strong>Cdiscount.com</strong>.<br>
→ The area for linking attributes is shown.</p>
</li>
<li>
<p>From the drop-down list <strong>Categories</strong>, select the attribute <strong>Colour</strong>.</p>
</li>
<li>
<p>In the column <strong>Market attribute values</strong> enter an appropriate market attribute value for each of your attribute values.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Repeat this process for the remaining attributes.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">10. Creating characteristics</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Next, create <a href="/en/item/settings/properties#100">characteristics</a> and link the characteristics to Cdiscount characteristics. Characteristics have to be created in French.</p>
</div>
<div class="paragraph instruction">
<p>Creating a characteristic:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New characteristic</strong> tab.</p>
</li>
<li>
<p>Enter a name for the characteristic under <strong>Name (internal)</strong>.</p>
</li>
<li>
<p>Select <strong>fr</strong> for French from the <strong>Language</strong> drop-down list.</p>
</li>
<li>
<p>Enter the French name that you would like to use for this characteristic into the <strong>Name</strong> field.</p>
</li>
<li>
<p>Select the option <strong>Text</strong> from the <strong>Characteristic type</strong> drop-down list.</p>
</li>
<li>
<p>Select the Cdiscount characteristic from the <strong>Cdiscount.com attribute</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">11. Linking manufacturers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Create manufacturer links so that your items are displayed for sale on Cdiscount. First download the Cdiscount manufacturer list and then link your own manufacturers with the most appropriate Cdiscount manufacturers by saving the Cdiscount manufacturer ID in the system. The Cdiscount manufacturer ID is the name of the manufacturer.</p>
</div>
<div class="paragraph instruction">
<p>Downloading the manufacturer list:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Cdiscount.com » Tab: Manufacturer list</strong>.</p>
</li>
<li>
<p>Click on <strong>Update manufacturer list</strong>.<br>
→ The manufacturer list is displayed with code and manufacturer names further below.</p>
</li>
<li>
<p>Select and copy the manufacturer to the clipboard.</p>
</li>
<li>
<p><strong><em>Tip:</em></strong> Download the manufacturer list as a CSV file. You can search for specific manufacturers in this file.<br>
Go to <strong>Setup » Markets » Cdiscount.com » Tab: Manufacturer list</strong> and click on <strong>Download manufacturer list as CSV file</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>).</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Now, proceed as follows to link the manufacturer.</p>
</div>
<div class="paragraph instruction">
<p>Linking manufacturers:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Manufacturers</strong>.</p>
</li>
<li>
<p>Open the manufacturer that you would like to link with Cdiscount.</p>
</li>
<li>
<p>Insert the name of the manufacturer into the <strong>Cdiscount.com ID</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">12. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As soon as an active account for Cdiscount exists, the payment method <strong>Cdiscount</strong> is automatically available in your plentymarkets system. No separate configurations are needed for this. You just need to permit the payment method in one or more customer classes.</p>
</div>
<div class="paragraph instruction">
<p>Permitting the payment method in a customer class:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » CRM » Classes</strong>.</p>
</li>
<li>
<p>Open the customer class for which you want to permit the payment method.</p>
</li>
<li>
<p>For the setting <strong>Permitted payment methods</strong>, activate the option Cdiscount.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="950">13. Setting up the data exchange</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order for the interface to successfully carry out the item export, the order import and the stock synchronisation, certain settings are mandatory. Pay attention to the following list.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Product creation on Cdiscount</div>
<div class="paragraph">
<p>The product creation serves as a query to add a new product to Cdiscount’s product database. As soon as Cdiscount approves and adds your item to its database, you cannot make any further changes to the item data. Therefore, check if you have saved all the necessary data. The check list serves as list for all mandatory settings for the product creation. Further settings can be carried out as desired.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Offer creation on Cdiscount</div>
<div class="paragraph">
<p>Every created item is saved in a database on Cdiscount. Every item can be identified by at least one EAN. Marking products with EANs enables sellers to create offers for these products. The setup is simpler in comparison to the previous product creation and makes it easy to get started on Cdiscount.<br>
The offer creation as well as the synchronisation (stock) are controlled by one file.<br>
The following check list contains all mandatory settings for an item to be transferred in this file.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="mandatory-settings-cdiscount" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Mandatory settings for Cdiscount</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Settings area</th>
<th class="tableblock halign-left valign-top">Settings</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Offer creation / Stock synchronisation</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Basic settings for the market</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Update prices and stock and activate order import</strong> is activated.</p>
</li>
<li>
<p><strong>API user name</strong> is entered.</p>
</li>
<li>
<p><strong>API password</strong> is entered.</p>
</li>
<li>
<p><strong>Preparation for shipping (in days)</strong> is set.</p>
</li>
<li>
<p><strong>Apply shipping costs from shipping cost calculation</strong> or <strong>Overwrite shipping costs</strong> is configured.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation settings</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>The variation is <strong>active</strong>.</p>
</li>
<li>
<p>The variation <strong>availability</strong> is set.</p>
</li>
<li>
<p>A <strong>sales price</strong> is created and linked.</p>
</li>
<li>
<p>A <strong>barcode</strong> is created and linked.</p>
</li>
<li>
<p>An <strong>SKU</strong> is set.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item creation</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Basic settings for the market</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Update prices and stock and activate order import</strong> is activated.</p>
</li>
<li>
<p><strong>API user name</strong> is entered.</p>
</li>
<li>
<p><strong>API password</strong> is entered.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item settings</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Item descriptions</strong> are entered in French.</p>
</li>
<li>
<p>A <strong>manufacturer</strong> is saved for the item and linked with Cdiscount.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation settings for single items</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>The variation is <strong>active</strong>.</p>
</li>
<li>
<p>The variation <strong>availability</strong> is set.</p>
</li>
<li>
<p>A <strong>barcode</strong> is created and linked.</p>
</li>
<li>
<p>An <strong>SKU</strong> is set.</p>
</li>
<li>
<p>At least one <strong>category</strong> which is linked with Cdiscount is saved for the item.</p>
</li>
<li>
<p>At least one <strong>category</strong> which is linked with Cdiscount is activated for the standard client.</p>
</li>
<li>
<p>At least one <strong>image</strong> is saved for the item and released for Cdiscount.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Further variation settings for variation items</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>The variation’s <strong>attributes</strong> are linked with Cdiscount.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Order import</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Basic settings for the market</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Update prices and stock and activate order import</strong> is activated.</p>
</li>
<li>
<p><strong>API user name</strong> is entered.</p>
</li>
<li>
<p><strong>API password</strong> is entered.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation settings</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>An <strong>SKU</strong> is set.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="sect2">
<h3 id="1000">13.1. Downloading the item catalogue and stock synchronisation</h3>
<div class="paragraph">
<p>In the <strong>Archive</strong> tab, download the item catalogue or the stock synchronisation as a ZIP file. Downloading the ZIP files makes it possible for you to transfer the files to your Cdiscount contact person in case there are problems during the import. This helps Cdiscount to analyse the situation more quickly in order to eliminate the problem.</p>
</div>
<div class="paragraph instruction">
<p>Transferring the stock synchronisation to Cdiscount:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Cdiscount.com » Tab: Archive</strong>.</p>
</li>
<li>
<p>Click on <strong>Download stock synchronisation</strong>.</p>
</li>
<li>
<p>Save the file on your computer and send it to Cdiscount in an email if needed.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1100">13.2. Exporting the item catalogue via CSV file</h3>
<div class="paragraph">
<p>In rare cases, the automatic item export may not work correctly. In such cases export your French item catalogue as a CSV file to Cdiscount. To do so, go to <strong>Data » Elastic export</strong> and carry out the settings as described below. After you saved all necessary settings as described below, copy the complete URL and send it to Cdiscount. Stock is updated once an hour.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Use the Plugin CdiscountCOM</div>
<div class="paragraph">
<p>You can also use the plugin <a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/elasticexportcdiscountcom_4738">CdiscountCOM</a> to create a CSV file for Cdiscount.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a CSV export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Cdiscount.com » Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Update prices and stock and activate order import</strong>.<br>
<strong><em>Important:</em></strong> The <strong>Request product creation</strong> option must not be active. Otherwise, the automatic data exchange would be carried out via the API interface.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Switch to the <strong>Data » Elastic export</strong> menu.</p>
</li>
<li>
<p>Click on the <strong>New export</strong> tab.</p>
</li>
<li>
<p>Select <strong>Cdiscount.com</strong> from the <strong>Data format</strong> drop-down list.</p>
</li>
<li>
<p>Enter a name for the export.</p>
</li>
<li>
<p>Pay attention to the explanations given on the <a href="/en/data/exporting-data/elastic-export#300">Elastic export</a> page.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The export is created as a sub-folder in the <strong>Exports</strong> tab and the URL is generated.</p>
</li>
<li>
<p>Click on the <strong>Exports</strong> tab and open the subfolder <strong>Cdiscount.com</strong>.</p>
</li>
<li>
<p>Copy the <strong>URL</strong> and send the URL to Cdiscount.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Linking characteristics for the CSV file</div>
<div class="paragraph">
<p>Link the characteristics <strong>Gender</strong>, <strong>Main colour</strong>, <strong>Note</strong>, <strong>Comment</strong>, <strong>Marketing description</strong>, <strong>Audience</strong>, and <strong>Sport</strong> in the <strong>Setup » Item » Characteristics</strong> menu in order to transfer your item catalogue to Cdiscount via a CSV file.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">14. Automatically sending returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically send returns to Cdiscount.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-returns-cdiscount">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#event-procedure-returns-cdiscount">Table 4</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-returns-cdiscount" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Event procedure for automatically sending returns to Cdiscount</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation: New return</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CDiscount.fr</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return &gt; Send return to Cdiscount</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="1300">15. Automatically updating the order status</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically update the order status on Cdiscount whenever specific events occur. You can use event procedures to automatically assign the following statuses to
orders on Cdiscount:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Refused by seller</p>
</li>
<li>
<p>Shipped by seller</p>
</li>
<li>
<p>Shipment refused by seller</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>An example of an event procedure that you can use to notify Cdiscount when you have shipped the ordered items is described below. Set up further event procedures in the same way.</p>
</div>
<div class="paragraph">
<p>In order to successfully transfer a shipping confirmation, the following data must be saved for the order.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Shipping service provider</p>
</li>
<li>
<p>Outgoing items must be booked</p>
</li>
<li>
<p>external order number</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-order-status-cdiscount">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#event-procedure-order-status-cdiscount">Table 5</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-order-status-cdiscount" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Event procedure for automatically updating order statuses on Cdiscount</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change &gt; Outgoing items booked</strong><br>
<em>or</em> <strong>Order change: Outgoing items booked</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CDiscount.fr</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Notify Cdiscount of order changes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipped by seller</strong></p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Status: Accepted by seller</div>
<div class="paragraph">
<p>The status <strong>Accepted by seller</strong> does not have to be sent via an event procedure. Every incoming order triggers an automatic message about this status and sends it to Cdiscount.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">16. Viewing the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Data » API log</strong> menu contains a history of processes that run via the Cdiscount interface. For Cdiscount, the <strong>Cdiscount.com</strong> format is available.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » API log » Tab: API log</strong>.</p>
</li>
<li>
<p>Select the format <strong>Cdiscount.com</strong> from the <strong>Process</strong> drop-down list.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select a date if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Select the number of results per page.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>) to display the results.</p>
</li>
</ol>
</div>
</div>
</div>
</main>