<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Check24</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Check24 in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the variation availability</span></a></li>
<li><a href="#400"><span>5.</span><span> Defining SKUs</span></a></li>
<li><a href="#500"><span>6.</span><span> Setting up the item export</span></a></li>
<li><a href="#600"><span>7.</span><span> Defining a sales price</span></a></li>
<li><a href="#700"><span>8.</span><span> Activating the payment method</span></a></li>
<li><a href="#950"><span>9.</span><span> Order import</span></a></li>
<li><a href="#975"><span>10.</span><span> Sending shipping confirmations</span></a></li>
<li><a href="#1000"><span>11.</span><span> Viewing the log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Check24</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this page, you will find information about the settings you need to carry out in order to set up the market Check24 in plentymarkets. Learn how to set up the interface, how to export items to Check24 and how to define sales prices.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Check24</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to register with <a href="https://merchantcenter.check24.de/landing/partner_info" target="_blank" rel="noopener">Check24</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> before setting up Check24 in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Check24 in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Carry out the following settings in plentymarkets in order to set up the interface to Check24.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Check24:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Check24</strong>.</p>
</li>
<li>
<p>Activate the automatic data exchange.</p>
</li>
<li>
<p>Enter the user name for the FTP partner login.</p>
</li>
<li>
<p>Enter the FTP access password.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>hourly order synchronisation</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with Check24, you have to activate the order referrer Check24 in the <strong>Setup » Orders » Order referrer</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Check24:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the referrer <strong>Check24</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate all variations that you want to sell on Check24. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Selling all variations of an item on Check24</div>
<div class="paragraph">
<p>If you want to sell all variations of an item on Check24, carry out the settings below for the item’s main variation. All other variations of the item then inherit the settings of the main variation.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Activating the variation availability for Check24:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on Check24.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, active the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field. <br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>Check24</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. Defining SKUs</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Availability</strong> menu if needed.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>SKU</strong> area, click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>New SKU</strong> window opens.</p>
</li>
<li>
<p>Select the referrer <strong>Check24</strong>.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">6. Setting up the item export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter explains how to transfer your items to Check24. The item export for Check24 is carried out by the elastic export. The data format Check24DE is used for this. Therefore, the plugins <strong>ElasticExport</strong> and <strong>ElasticExportCheck24DE</strong> have to be installed. First, create the data format Check24DE. Then transfer the URL to Check24.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the item export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New export</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-item-export-check24">Table 1</a>.</p>
</li>
<li>
<p>Carry out further settings for item filters and format settings. Pay attention to the explanations given in table 2 on the <a href="/en/data/exporting-data/elastic-export#300">Elastic export</a> page.<br>
<strong><em>Tip:</em></strong> In order to only export items to Check24 which are activated for Check 24 and available for the market in the item’s <strong>Availability</strong> tab, select the item filter <strong>Active</strong> and the item filter <strong>Markets » Check24</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The export format is given an ID and it appears in the overview within the <strong>Exports</strong> tab.</p>
</li>
</ol>
</div>
<table id="settings-item-export-check24" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for the item export</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name. The export format is listed by this name in the overview within the <strong>Exports</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type <strong>item</strong> from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the format <strong>Check24DE</strong> from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number. If you want to transfer more than 10,000 data records to Check24, then the output file is not generated again for another 24 hours. This is to save resources.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>URL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token</strong>,<br>
<strong>URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the option <strong>URL</strong> under <strong>Provisioning</strong>, then click on <strong>Generate token</strong>. The token is entered automatically. The URL is entered automatically if the token was generated under <strong>Token</strong>. Give this URL to Check24.de in order to export the items.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Export information</div>
<div class="paragraph">
<p>If you change one or more settings, then you will have to transfer the new link to Check24.</p>
</div>
<div class="paragraph">
<p>A maximum of 4000 items is exported at once. If you export more items, then a second export is automatically carried out. To display the second export process, set the parameter <strong>&amp;Page</strong> = in the export link to <strong>2</strong>.</p>
</div>
<div class="paragraph">
<p>Technical data is transferred to Check24 in the last column of the export file.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="600">7. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer {referrer}. This price is displayed on {referrer}.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for {referrer}:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices »</strong> <em>Open sales price</em> <strong>» Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the referrer <strong>{referrer}</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">8. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <a href="/en/payment/managing-payment-methods">payment method</a> <strong>Check24</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating the payment method Check24:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>DE &gt; Check24</strong>. <br>
→ The settings for the Check24 payment method are displayed.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-payment-method-check24">Table 2</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="settings-payment-method-check24" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong>, and <strong>Upload logo</strong>. This enables you to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the <strong>Info page (external)</strong> option under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely set up.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one of the following options for displaying the logo:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br></p>
</li>
<li>
<p><strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br></p>
</li>
<li>
<p><strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then the logo that was uploaded is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG, and JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The selection depends on the conditions of your contract. <strong><em>Important:</em></strong> Do not enter a value into both fields. <br>
For further information, refer to the <a href="/en/business-decisions/business-intelligence/statistics">Managing statistics</a> page. For an example of flat rate and percentage costs, refer to the <a href="/en/payment/managing-payment-methods#20">Managing payment methods</a> page.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="950">9. Order import</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After the order import the order is set to status <strong>[5] cleared for shipping</strong>. The invoice address is always Check24. The customer’s address is the delivery address.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="975">10. Sending shipping confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>At the moment it is not possible to automatically send shipping confirmations via the interface. Contact Check24 to set up automatic shipping confirmations.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">11. Viewing the log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Data » Log</strong> menu contains a history of processes that run via the check24 interface. For check24, you can filter by the identifier <strong>Check24OrderImport</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>From the drop-down list <strong>Identifier</strong>, select the option <strong>Check24OrderImport</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select a date if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The results are shown.</p>
</li>
</ol>
</div>
</div>
</div>
</main>