<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Check24</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Check24 in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the variation availability</span></a></li>
<li><a href="#400"><span>5.</span><span> Defining SKUs</span></a></li>
<li><a href="#600"><span>6.</span><span> Defining a sales price</span></a></li>
<li><a href="#700"><span>7.</span><span> Activating the payment method</span></a></li>
<li><a href="#500"><span>8.</span><span> Setting up the item export</span></a>
<ul class="sectlevel2">
<li><a href="#500-1"><span>8.1.</span><span> Export format Check24DE</span></a>
<ul class="sectlevel3">
<li><a href="#500-3"><span>8.1.1.</span><span> Creating the export format Check24DE</span></a></li>
<li><a href="#500-2"><span>8.1.2.</span><span> Available columns of the export file for the export format Check24DE</span></a></li>
</ul>
</li>
<li><a href="#650"><span>8.2.</span><span> Export format Check24DE Fashion</span></a>
<ul class="sectlevel3">
<li><a href="#650-1"><span>8.2.1.</span><span> Creating the export format Check24DE Fashion</span></a></li>
<li><a href="#650-2"><span>8.2.2.</span><span> Available columns of the data format Check24DE Fashion</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#950"><span>9.</span><span> Order import</span></a></li>
<li><a href="#975"><span>10.</span><span> Sending shipping confirmations</span></a></li>
<li><a href="#1000"><span>11.</span><span> Viewing the log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Check24</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Check24.de is an online comparison portal that helps consumers find the right price/quality products. In addition to price comparisons, items are also sold on the Check24.de market.</p>
</div>
<div class="paragraph">
<p>On this page, you will find information about the settings you need to carry out in order to set up the market Check24 in plentymarkets. Learn how to set up the interface, how to export items to Check24 and how to define sales prices.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Check24</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to register with <a href="https://merchantcenter.check24.de/landing/partner_info" target="_blank" rel="noopener">Check24</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> before setting up Check24 in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Check24 in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Carry out the following settings in plentymarkets in order to set up the interface to Check24.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Check24:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Check24</strong>.</p>
</li>
<li>
<p>Activate the automatic data exchange.</p>
</li>
<li>
<p>Enter the user name for the FTP partner login.</p>
</li>
<li>
<p>Enter the FTP access password.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>hourly order synchronisation</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with Check24. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Check24:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Check24</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate the variations that you want to sell on Check24. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » [Open item] » [Open variation]</strong> menu.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="for-one-variation-tab" data-toggle="tab" href="#for-one-variation" role="tab" aria-controls="for-one-variation" aria-selected="true">For one variation</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-variation-group-function-tab" data-toggle="tab" href="#using-variation-group-function" role="tab" aria-controls="using-variation-group-function" aria-selected="false">Using variation group function</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-batch-processing-tab" data-toggle="tab" href="#using-batch-processing" role="tab" aria-controls="using-batch-processing" aria-selected="false">Using batch processing</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="for-one-variation" role="tabpanel" aria-labelledby="for-one-variation-tab">
<div class="paragraph instruction">
<p>Making a variation available for Check24:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation]</strong>.<br>
→ The tab <strong>Settings</strong> of the variation is shown.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on Check24, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>Check24</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The variation is available for Check24.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-variation-group-function" role="tabpanel" aria-labelledby="using-variation-group-function-tab">
<div class="paragraph">
<p>The <a href="/en/item/import-export-create/create/mass-processing#100">variation group function</a> allows you to edit several variations at once. You select the variations that you want to edit.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for Check24 using the variation group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Variations</strong>.</p>
</li>
<li>
<p>Choose additional <a href="/en/item/introduction/search#100">filters on the left</a> if needed and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the variations to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Variation group function</strong>.<br>
→ The <strong>Variation group function</strong> window opens.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Check24</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Check24</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong> to apply the settings.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-batch-processing" role="tabpanel" aria-labelledby="using-batch-processing-tab">
<div class="paragraph">
<p><a href="/en/item/import-export-create/create/mass-processing#400">Batch processing</a> allows you to edit several variations at once. You use filters to limit which variations are edited.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for Check24 using batch processing:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Batch processing</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Variations</strong> in the upper left corner.</p>
</li>
<li>
<p>Use the <em>filters on the left</em> to specify which variations should be processed.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Check24</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Check24</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Apply</strong> to apply the settings to the variations.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="400">5. Defining SKUs</h2>
<div class="sectionbody">
<div class="paragraph">
<p>SKU are generated automatically when your variations are exported. However, you can also save market specific SKU for variations that you want to sell on this market instead.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manually-adding-an-sku-tab" data-toggle="tab" href="#manually-adding-an-sku" role="tab" aria-controls="manually-adding-an-sku" aria-selected="true">Manually adding an SKU</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="importing-sku-tab" data-toggle="tab" href="#importing-sku" role="tab" aria-controls="importing-sku" aria-selected="false">Importing SKU</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manually-adding-an-sku" role="tabpanel" aria-labelledby="manually-adding-an-sku-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>SKU</strong> area, click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>New SKU</strong> window opens.</p>
</li>
<li>
<p>Select the referrer <strong>Check24</strong>.<br></p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="importing-sku" role="tabpanel" aria-labelledby="importing-sku-tab">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Only the most important settings for the import are described here. Is this your first time working with the import tool? Then get familiar with <a href="/en/data/importing-data/ElasticSync">how data imports work in plentymarkets first</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="ulist">
<ul>
<li>
<p>Create a CSV file with at least the columns described in <a href="#table-sku-import">Table 1</a>.</p>
</li>
<li>
<p>Create an import with the following settings:</p>
<div class="ulist">
<ul>
<li>
<p>Select the type <strong>Item</strong>.</p>
</li>
<li>
<p>Select the matching field <strong>Variation ID</strong>.</p>
</li>
<li>
<p>Map the plentymarkets data fields as described in <a href="#table-sku-import">Table 1</a>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<table id="table-sku-import" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Recommended columns of the import file</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 50%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column in CSV file</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">plentymarkets data field for mapping</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Variation ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the variation ID in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Variation ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Market ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the referrer ID <strong>150</strong> in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>Marketplace ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Account ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This market does not require a marketplace account. As such, enter the number <strong>0</strong> in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>Marketplace ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SKU</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the SKU that you want to save for the variation for this market in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>SKU</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
</div></div>
</div>
</div><div class="sect1">
<h2 id="600">6. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sales prices define the conditions under which a variation is sold at a specific price and on a specific sales channel. That means that to sell variations on Check24, you need a sales price in which the order referrer Check24 is activated. The price that you save for this sales price is the price that will be shown on Check24.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Check24:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price]</strong>.<br>
<strong><em>Tip:</em></strong> No sales prices? Then create a <a href="/en/item/settings/prices#100">new sales price</a> first.</p>
</li>
<li>
<p>Open the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Activate the referrer <strong>Check24</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">7. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As soon as an active account for check 24 exists, the payment method <strong>check 24</strong> is automatically available in your plentymarkets system. No separate configurations are needed for this. You just need to permit the payment method in one or more customer classes.</p>
</div>
<div class="paragraph instruction">
<p>Permitting the payment method in a customer class:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » CRM » Classes</strong>.</p>
</li>
<li>
<p>Open the customer class for which you want to permit the payment method.</p>
</li>
<li>
<p>For the setting <strong>Permitted payment methods</strong>, activate the option check 24.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">8. Setting up the item export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This section explains how to transfer your items to Check24. The item export for Check24DE is carried out by the elastic export. The data formats Check24DE and Check24DE Fashion are used for this. You need to install the plugins <strong>ElasticExport</strong> and <strong>ElasticExportCheck24DE</strong> to use these data formats. First, create the data format Check24DE. Then transfer the URL to Check24.</p>
</div>
<div class="sect2">
<h3 id="500-1">8.1. Export format Check24DE</h3>
<div class="sect3">
<h4 id="500-3">8.1.1. Creating the export format Check24DE</h4>
<div class="paragraph">
<p>Creating an export format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New export</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-item-export-check24">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ An ID is created for the export format <strong>Check24DE-Plugin</strong>.<br>
→ The export format is shown in the <strong>Exports</strong> overview.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The following table lists details for settings, format settings and recommended item filters for the format <strong>Check24DE plugin</strong>.</p>
</div>
<table id="settings-item-export-check24" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings for the data format <strong>Check24DE-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name. The export format is listed by this name in the overview within the <strong>Exports</strong> tab.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the type <strong>item</strong> from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Check24DE-Plugin</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a number. If you want to transfer more than 9999 data records, then the output file is not generated again for another 24 hours. This is to save resources. If more than 9999 data records are necessary, the setting <strong>Generate cache file</strong> has to be active.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate cache file</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Place a check mark if you want to transfer more than 9999 data records to the price search engine. We recommend that you do not activate this setting for more than 20 export formats. This is to ensure a high performance of the elastic export.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>URL</strong>. Use this option to generate a token for authentication in order to allow external access.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token, URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If you selected the option <strong>URL</strong> under <strong>Provisioning</strong>, click on <strong>Generate token</strong>. The token is entered automatically. The URL is entered automatically if the token has been generated under <strong>Token</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The file name must have the ending <strong>.csv</strong> or <strong>.txt</strong> for Check24.de to be able to import the file successfully.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item filters</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add item filters</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one or more item filters from the drop-down list and click on <strong>Add</strong>. There are no filters set by default. It is possible to add all item filters listed below from the drop-down list one after the other.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Variations</strong> = <strong>Transfer all</strong> or <strong>Only transfer main variations</strong>.</p>
</li>
<li>
<p><strong>Markets</strong> = Select one market, several or <strong>ALL</strong>. The availability for all markets selected here has to be saved for the item. Otherwise, the export will not take place.</p>
</li>
<li>
<p><strong>Currency</strong> = Select a currency.</p>
</li>
<li>
<p><strong>Category</strong> = Activate to transfer the item with its category link. Only items belonging to this category are exported.</p>
</li>
<li>
<p><strong>Image</strong> = Activate to transfer the item with its image. Only items with images are transferred.</p>
</li>
<li>
<p><strong>Client</strong> = Select a client.</p>
</li>
<li>
<p><strong>Stock</strong> = Select which stocks should be exported.</p>
</li>
<li>
<p><strong>Flag 1 - 2</strong> = Select a flag.</p>
</li>
<li>
<p><strong>Manufacturer</strong> = Select one, several or <strong>ALL</strong> manufacturers.</p>
</li>
<li>
<p><strong>Active</strong> = Only active variations will be exported.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Format settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the URL that you wish to transfer to the price search engine. You can either send the item’s URL and the variation’s URL. URLs of variations can only be transferred in combination with the Ceres store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a client. This setting is used for the URL structure and to filter valid sales prices.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a suffix for the product URL if this is required for the export. If you activated the <strong>transfer</strong> option for the product URL further up, then this character string is added to the product URL.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the order referrer that should be assigned during the order import from the drop-down list. The order referrer is also used to filter valid sales prices and images. The selected referrer is added to the product URL so that sales can be analysed later.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marketplace account</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the marketplace account from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the language from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>. The names are saved in the <strong>Texts</strong> tab of the item. Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the item name.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the text that you want to transfer as description. Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the description. Activate the option <strong>Remove HTML tags</strong> if you want HTML tags to be removed during the export. If you only want to allow specific HTML tags to be exported, then enter these tags into the field * Permitted HTML tags, separated by comma (def. text)* field. Use commas to separate multiple tags.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target country</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the target country from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the ASIN, ISBN or an EAN from the drop-down list. The barcode has to be linked to the order referrer selected above. Otherwise, the barcode will not be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Position 0</strong> or <strong>First image</strong> to export this image.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Position 0</strong> = An image with position 0 is transferred.</p>
</li>
<li>
<p><strong>First image</strong> = The first image is transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position of the energy label</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The stock buffer for variations with limitation to the net stock.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations without stock limitation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The stock for variations without stock limitation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations with no stock administration</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The stock for variations without stock administration.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Live currency conversion</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate this option to convert the price into the currency of the selected country of delivery. The price has to be released for the corresponding currency.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select gross price or net price from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offer price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RRP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate this option if you want to use the shipping costs that are saved in a configuration. If this option is activated, then you are able to select the configuration and the payment method from the drop-down lists. Activate the option <strong>Transfer flat rate shipping charge</strong> if you want to use a flat rate shipping charge. If this option is activated, a value has to be entered in the line underneath.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT note</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item availability</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate the <strong>overwrite</strong> option and enter item availabilities into the fields <strong>1</strong> to <strong>10</strong>. The fields represent the IDs of the availabilities. This overwrites the item availabilities that are saved in the menu <strong>System » Item » Item availability</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Export information</div>
<div class="paragraph">
<p>If you change one or more settings, then you will have to transfer the new link to Check24.</p>
</div>
<div class="paragraph">
<p>A maximum of 4000 items is exported at once. If you export more items, then a second export is automatically carried out. To display the second export process, set the parameter <strong>&amp;Page</strong> = in the export link to <strong>2</strong>.</p>
</div>
<div class="paragraph">
<p>Technical data is transferred to Check24 in the last column of the export file.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="500-2">8.1.2. Available columns of the export file for the export format Check24DE</h4>
<div class="paragraph">
<p>Open the export format <strong>Check24DE-Plugin</strong> in the <strong>Data » Elastic export</strong> menu to download and edit the export file.</p>
</div>
<div class="paragraph instruction">
<p>Downloading the export file:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>In the line of the format <strong>Check24DE-Plugin</strong>, click on <strong>Download</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ The file is downloaded and saved on your computer.</p>
</li>
<li>
<p>Open the export file with an appropriate program.</p>
</li>
</ol>
</div>
<table id="columns-export-file-check24" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Available columns of the export file for the export format <strong>Check24DE-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column header</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">id<br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>SKU</strong> of the variation for Check24.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">manufacturer</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>name of the manufacturer</strong> of the item. The <strong>external name</strong> saved in the <strong>Setup » Item » Manufacturers</strong> menu is preferred if existing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">mpnr</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>model</strong> of the variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ean<br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Barcode</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name<br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Item name</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Description</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">category_path</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>category path of the default category</strong> for the <strong>Client</strong> configured in the format settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">price<br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>sales price</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">price_per_unit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>base price information</strong> in the format "price / unit".<br>
<strong><em>Example:</em></strong> 10.00 EUR / kilogram</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">link<br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>URL path</strong> of the item. This depends on
the client selected in the format settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">image_url</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>URL path</strong> of the first item image according to the format setting <strong>Image</strong>. Variation images will be prioritised over item images.<br>
<em>*Allowed file types:*</em> jpg, gif, bmp, png</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">delivery_time</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>name of the item availability</strong> saved in the <strong>Setup » Item » Availability</strong> menu or the translation according to the format setting <strong>Overwrite item availability</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">delivery_cost</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Shipping costs</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">pzn</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Empty</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stock</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>net stock</strong> of the variation. If a variation is not limited to its net stock, the stock is set to <strong>999</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">weight</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>Weight</strong> as set in the menu <strong>Item » Edit item » [Open item] »[Open variation] » Tab: Settings » Dimensions</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="650">8.2. Export format Check24DE Fashion</h3>
<div class="paragraph">
<p>By installing this plugin you will receive the export format <strong>Check24DE Fashion</strong>. Use this format to exchange data between plentymarkets and Check24.de using the elastic export. You also need to install the plugin <strong>Elastic export</strong> from the plentyMarketplace first before you can use the format in plentymarkets.</p>
</div>
<div class="paragraph">
<p>Once both plugins are installed, you can create the <a href="/en/data/exporting-data/elastic-export">export format</a> <strong>Check24DE Fashion</strong>.</p>
</div>
<div class="sect3">
<h4 id="650-1">8.2.1. Creating the export format Check24DE Fashion</h4>
<div class="paragraph">
<p>Creating an export format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New export</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-item-export-check24-fashion">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ An ID is created for the export format <strong>Check24DE-Plugin</strong>.<br>
→ The export format is shown in the <strong>Exports</strong> overview.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The following table lists details for settings, format settings and recommended item filters for the format <strong>Check24DE Fashion</strong>.</p>
</div>
<table id="settings-item-export-check24-fashion" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Settings for the data format <strong>Check24DE Fashion</strong></caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name. The export format is listed by this name in the overview within the <strong>Exports</strong> tab.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the type <strong>item</strong> from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Check24DE Fashion</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a number. If you want to transfer more than 9999 data records, then the output file is not generated again for another 24 hours. This is to save resources. If more than 9999 data records are necessary, the setting <strong>Generate cache file</strong> has to be active.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate cache file</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Place a check mark if you want to transfer more than 9999 data records to the price search engine. We recommend that you do not activate this setting for more than 20 export formats. This is to ensure a high performance of the elastic export.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>URL</strong>. Use this option to generate a token for authentication in order to allow external access.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token, URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If you selected the option <strong>URL</strong> under <strong>Provisioning</strong>, click on <strong>Generate token</strong>. The token is entered automatically. The URL is entered automatically if the token has been generated under <strong>Token</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The file name must have the ending <strong>.csv</strong> or <strong>.txt</strong> for Check24.de to be able to import the file successfully.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item filters</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add item filters</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select an item filter from the drop-down list and click on <strong>Add</strong>. There are no filters set by default. It is possible to add multiple item filters from the drop-down list one after the other.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Variations</strong> = <strong>Transfer all</strong> or <strong>Only transfer main variations</strong>.</p>
</li>
<li>
<p><strong>Markets</strong> = Select one market, several or <strong>ALL</strong>. The availability for all markets selected here has to be saved for the item. Otherwise, the export will not take place.</p>
</li>
<li>
<p><strong>Currency</strong> = Select a currency.</p>
</li>
<li>
<p><strong>Category</strong> = Activate to transfer the item with its category link. Only items belonging to this category are exported.</p>
</li>
<li>
<p><strong>Image</strong> = Activate to transfer the item with its image. Only items with images are transferred.</p>
</li>
<li>
<p><strong>Client</strong> = Select a client.</p>
</li>
<li>
<p><strong>Stock</strong> = Select which stocks should be exported.</p>
</li>
<li>
<p><strong>Flag 1 - 2</strong> = Select a flag.</p>
</li>
<li>
<p><strong>Manufacturers</strong> = Select one, several or <strong>ALL</strong> manufacturers.</p>
</li>
<li>
<p><strong>Active</strong> = Only active variations are exported.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Format settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a client. This setting is used to filter valid sales prices.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the order referrer from the drop-down list. This setting is used to filter valid sales prices. The selected referrer is added to the product URL so that sales can be analysed later.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marketplace account</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the marketplace account from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the language from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Name 1</strong>, <strong>Name 2</strong>, or <strong>Name 3</strong>. These names are saved in the <strong>Texts</strong> tab of the item. Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the item name.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the text that you want to transfer as preview text. Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the description. Activate the option <strong>Remove HTML tags</strong> if you want HTML tags to be removed during the export. If you only want to allow specific HTML tags to be exported, then enter these tags into the * Permitted HTML tags, separated by comma (def. text)* field. Use commas to separate multiple tags.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the text that you want to transfer as description. Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the description. Activate the option <strong>Remove HTML tags</strong> if you want HTML tags to be removed during the export. If you only want to allow specific HTML tags to be exported, then enter these tags into the * Permitted HTML tags, separated by comma (def. text)* field. Use commas to separate multiple tags.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target country</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the target country from the drop-down list. This setting is used to filter valid sales prices.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select an EAN from the drop-down list. The barcode has to be linked to the order referrer selected above. Otherwise, the barcode will not be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Position 0</strong> or <strong>First image</strong> to export this image.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Position 0</strong> = An image with position 0 is transferred.</p>
</li>
<li>
<p><strong>First image</strong> = The first image is transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position of the energy label</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations without stock limitation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations with no stock administration</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Live currency conversion</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate this option to convert the price into the currency of the selected country of delivery. The price has to be released for the corresponding currency.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offer price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RRP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate if an valid sales price of type <strong>RRP</strong> should be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT note</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item availability</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="650-2">8.2.2. Available columns of the data format Check24DE Fashion</h4>
<div class="paragraph">
<p>Open the export format <strong>Check24DE-Plugin</strong> in the <strong>Data » Elastic export</strong> menu to download and edit the export file.</p>
</div>
<div class="paragraph instruction">
<p>Downloading the export file:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>In the line of the format <strong>Check24DE-Plugin</strong>, click on <strong>Download</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ The file is downloaded and saved on your computer.</p>
</li>
<li>
<p>Open the export file with an appropriate program.</p>
</li>
</ol>
</div>
<table id="columns-export-file-check24-fashion" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Available columns of the data format <strong>Check24DE Fashion</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column header</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produktname<br>
(product name)
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Item name</strong> or from a characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Produktname</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation-ID<br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>parent SKU</strong> of the variation for Check24 or a string of characters according to "parent SKU"-"attribute value id" if a colour attribute is linked to the variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Model-ID<br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>parent SKU</strong> of the variation for Check24.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie-Pfad<br>
(category path)<br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category path of the default category of the client chosen in the settings above or from a characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion Property</strong> link: <strong>Kategorie-Pfad</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kurzbeschreibung<br>
(short description)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Preview text</strong> or from a characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Kurzbeschreibung</strong>. Characteristics will be prioritised.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ausführliche Beschreibung<br>
(detailed description)<br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Description</strong> or from a characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Ausführliche Beschreibung</strong>. Characteristics will be prioritised.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Amazon Sales Rank</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Amazon Sales Rank</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unverbindliche Preisempfehlung<br>
(recommended retail price)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>Sales Price</strong> of type <strong>RRP</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN<br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Barcode</strong> or from a characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>EAN</strong>. Characteristics will be prioritised.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ASIN</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>ASIN</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">MPNR</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>model</strong> of the variation or from a characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>MPNR</strong>. Characteristics will be prioritised.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">SKU</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>SKU</strong> of the variation for Check24.de.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">UPC</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode of the type <strong>UPC</strong> or from a characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>UPC</strong>. Characteristics will be prioritised.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild-URL #1 - #20<br>
(image url #1 - #20)<br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>URL path</strong> of the item images according to the format setting <strong>Image</strong>. If colour variations exist, only images linked to the variation will be exported. Otherwise all images will be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Absatzform<br>
(heel form)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Absatzform</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schuhspitze<br>
(shoe toe)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Schuhspitze</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Geschlecht<br>
(gender)<br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Geschlecht</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Altersgruppe<br>
(age group)<br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Altersgruppe</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Größe<br>
(size)<br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute with the attribute link <strong>Size</strong> for Google Shopping or from a characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Größe</strong>. Attributes will be prioritised.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Größensystem<br>
(size system)<br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Größensystem</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Marke<br>
(brand)<br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>name of the manufacturer</strong> of the item or from a characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Marke</strong>. Characteristics will be prioritised. The <strong>external name</strong> saved in the <strong>Setup » Item » Manufacturers</strong> menu is preferred if existing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Material<br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute with the attribute link <strong>Material</strong> for Google Shopping or from a characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Material</strong>. Attributes will be prioritised.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Innenfutter<br>
(lining)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Innenfutter</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Absatzhöhe<br>
(heel hight)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Absatzhöhe</strong>. Save the measurement as well as the unit of measurement as the characteristics value for the item. <strong><em>Example:</em></strong> <code>2 cm</code></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sohlenmaterial<br>
(sole material)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Sohlenmaterial</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Passform<br>
(fit)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Passform</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Verschluss<br>
(fastening)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Verschluss</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schafthöhe<br>
(leg hight)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Schafthöhe</strong>. Save the measurement as well as the unit of measurement as the characteristics value for the item. <strong><em>Example:</em></strong> <code>5 cm</code></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schaftweite<br>
(leg girth)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Schaftweite</strong>. Save the measurement as well as the unit of measurement as the characteristics value for the item. <strong><em>Example:</em></strong> <code>5 cm</code></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Weite<br>
(width)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Weite</strong>. Save the measurement as well as the unit of measurement as the characteristics value for the item.<br>
<strong><em>Example:</em></strong> <strong>5 cm</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Muster<br>
(pattern)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute with the attribute link <strong>Muster</strong> for Google Shopping or from a characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Muster</strong>. Attributes will be prioritised.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Herstellerfarbe<br>
(manufacturer colour)<br>
(mandatory)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute with the attribute link <strong>Farbe</strong> for Google Shopping or from a characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Herstellerfarbe</strong>. Attributes will be prioritised.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Innensohlenmaterial<br>
(insole material)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Innensohlenmaterial</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anlass<br>
(occasion)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Anlass</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Saison<br>
(season)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Saison</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sonstige<br>
(other)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Sonstige</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Applikationen<br>
(applications)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Applikationen</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Modestil<br>
(style)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic of the type <strong>text</strong> or <strong>selection</strong> with the <strong>Check24 Fashion property</strong> link <strong>Modestil</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="950">9. Order import</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After the order import the order is set to status <strong>[5] cleared for shipping</strong>. The invoice address is always Check24. The customer’s address is the delivery address.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="975">10. Sending shipping confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>At the moment it is not possible to automatically send shipping confirmations via the interface. Contact Check24 to set up automatic shipping confirmations.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">11. Viewing the log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Data » Log</strong> menu contains a history of processes that run via the check24 interface. Note that integrations and identifiers are only shown in the drop-down lists as filters after the process has run at least once.</p>
</div>
<div class="paragraph">
<p>For check24, the following filters are recommended:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Identifier</strong> » <strong>Check24OrderImport</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Filtering and checking log entries</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Log</strong>.</p>
</li>
<li>
<p>In the column to the left, select appropriate filters from the drop-down lists.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select filters for dates and/or times to only show entries from a specific period.<br>
<strong><em>Tip:</em></strong> For further information about the filters, refer to the <a href="/en/data/datalog">Data log</a> page of the manual.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The results are shown.</p>
</li>
<li>
<p>Check all entries for the levels <strong>warning</strong> and <strong>error</strong>.<br>
<strong><em>Tip:</em></strong> Click on the entry to see details.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</main>