<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Flubit</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Flubit in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating an order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the item availability</span></a></li>
<li><a href="#350"><span>5.</span><span> Defining a sales price</span></a></li>
<li><a href="#370"><span>6.</span><span> Activating the payment method</span></a></li>
<li><a href="#400"><span>7.</span><span> Automatically sending shipping confirmations</span></a></li>
<li><a href="#500"><span>8.</span><span> Automatically sending cancellations</span></a></li>
<li><a href="#600"><span>9.</span><span> Automatically sending returns</span></a></li>
<li><a href="#700"><span>10.</span><span> Viewing the API log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Flubit</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong><a href="https://www.flubit.com/About" target="_blank" rel="noopener">Flubit</a></strong> is an online market that is only available in the United Kingdom and that does not take a commission from sellers.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Flubit</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, register as a seller on <a href="https://www.weflubit.com/start-selling" target="_blank" rel="noopener">WeFlubit</a>, the central Flubit interface for sellers.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Flubit in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up Flubit in plentymarkets to offer items on Flubit. You need your access data. This includes your API key and security token. You will receive this data from Flubit.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Flubit in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Markets » Flubit</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Basic settings for the market Flubit</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate automatic data exchange</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the data exchange is activated, then there is a daily item export (at night), an hourly stock synchronisation and an hourly order import.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the API key (Key) that you received from Flubit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Security token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the Security token (Secret) that you received from Flubit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Environment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Live</strong> or <strong>Sandbox</strong>.<br>
If <strong>Live</strong> is selected, the items are listed live. The option <strong>Sandbox</strong> is a test mode.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>. This item name is transferred to Flubit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose between <strong>Standard description</strong>, <strong>Short description</strong> or <strong>Technical data</strong>. <br>
This item description is transferred to Flubit. The item description has to be available in <a href="/en/en/omni-channel/online-store/setting-up-clients/multilingual-online-store">English</a>. Otherwise the item will not be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse selection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the stock quantity for the hourly synchronisation and the daily item export. Select one of the following options:<br>
<strong>Stock quantity of sales warehouse with largest stock</strong><br>
<strong>Stock quantity of item’s main warehouse</strong><br>
<strong>Stock quantity of all sales warehouses</strong></p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>daily item export</p>
</li>
<li>
<p>hourly stock synchronisation</p>
</li>
<li>
<p>hourly order import</p>
</li>
<li>
<p>Automatically create a new customer data record during the order import. This assumes no customer data record was already saved in the database.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Language</div>
<div class="paragraph">
<p>Attributes have to be saved in English in order for items to be exported to Flubit.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating an order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with Flubit, you have to activate the order referrer Flubit in the menu <strong>System » System settings » Orders » Order referrer</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Flubit:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Flubit</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for Flubit. This is done in the <strong>Availability</strong> tab of an item within the <a href="/en/n/item/managing-items#40">Item » Edit item » Open item » Tab: Variation ID</a> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for Flubit:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the selection field in the <strong>Markets</strong> section. <br>
→ A list with all available markets is displayed.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Flubit</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The item is available on Flubit.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edited in the <strong>Item » Edit item » Open item » Tab: Variations » Open variation » Tab: Variation ID » Tab: Availability</strong> menu.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Mandatory entries for the item export</div>
<div class="paragraph">
<p>Items must meet the following criteria before they can be exported to Flubit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The item price is higher than zero</p>
</li>
<li>
<p>The item has positive stock</p>
</li>
<li>
<p>The item description is available in <a href="/en/en/omni-channel/online-store/setting-up-clients/multilingual-online-store">English</a>.</p>
</li>
<li>
<p>The item is visible</p>
</li>
<li>
<p>The item has an image</p>
</li>
<li>
<p>The item number is transferred<br>
→ If the MPN is transferred as the item number, then the brand name or manufacturer needs to be specified as well.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Items will not be exported if these entries are missing.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer Flubit. This price is displayed on Flubit.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Flubit:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>System » System settings » Item » Sales prices » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a check mark next to the referrer <strong>Flubit</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="370">6. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <a href="/en/payment/managing-payment-methods">payment method</a> <strong>Flubit</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating the Flubit payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Click on the folder <strong>International &gt; Flubit</strong>. <br>
→ The settings for the Flubit payment method are displayed.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 2.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong> and <strong>Upload logo</strong>. This makes it possible to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you have selected the option <strong>Info page (external)</strong> under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely set up.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> has been selected from the <strong>Logo</strong> drop-down list, then the logo that has been uploaded is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> has been selected from the <strong>Logo</strong> drop-down list, upload an external logo here.<br>
 Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG and JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract. Important: Do not enter a value into both fields. <br>
For further information, refer to the <a href="/en/basics/working-with-plentymarkets/statistics/managing-statistics">Statistics</a> page of the manual. For an example of flat rate and percentage costs, refer to the <a href="/en/payment/managing-payment-methods#20">Managing payment methods</a> page of the manual.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>System » System settings » CRM » Classes</strong> to activate or deactivate <strong>Permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/payment/managing-payment-methods">Payment methods</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="400">7. Automatically sending shipping confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically send shipping confirmations to Flubit when the outgoing items are booked.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in <a href="#event-procedure-shipping-confirmation-flubit">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ Carry out further settings. Pay attention to the explanations given in <a href="#event-procedure-shipping-confirmation-flubit">Table 3</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The event procedure is saved.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-shipping-confirmation-flubit" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Event procedure for automatically sending shipping confirmations to Flubit</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Outgoing items booked</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flubit</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Send shipping confirmation to Flubit</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">8. Automatically sending cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically inform Flubit of cancellations. Whenever you are dealing with cancellations, you need to send Flubit a reason for the cancellation. Go to <a href="/en/orders/managing-orders#1200">System » System settings » Orders » Status</a> and create additional order statuses as needed. The following cancellation reasons can be transferred to Flubit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Item not in stock</p>
</li>
<li>
<p>Item discontinued</p>
</li>
<li>
<p>Invalid delivery address</p>
</li>
<li>
<p>Customer cancellation</p>
</li>
<li>
<p>Legislation restriction</p>
</li>
<li>
<p>Other</p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in <a href="#event-procedure-cancellations-flubit">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The event is created.</p>
</li>
<li>
<p>Carry out further settings. Pay attention to the explanations given in <a href="#event-procedure-cancellations-flubit">Table 4</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The event procedure is saved.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-cancellations-flubit" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Event procedure for sending automatic cancellations to Flubit</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change: [8.1] Cancelled by customer</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flubit</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Send cancellation to Flubit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer cancellation</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">9. Automatically sending returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically inform Flubit about returns.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in <a href="#event-procedure-returns-flubit">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The event is created.</p>
</li>
<li>
<p>Carry out further settings. Pay attention to the explanations given in <a href="#event-procedure-returns-flubit">Table 5</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The event procedure is saved.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-returns-flubit" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Event procedure for automatically sending returns to Flubit</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation: New return</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flubit</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Send return to Flubit</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="700">10. Viewing the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The menu <a href="/en/en/basics/data-exchange/api-log">Data » API log</a>, tab <strong>Flubit</strong> contains a history of processes that run via the Flubit interface. The following formats are available for Flubit:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>FlubitOrderImport</strong> (order import)</p>
</li>
<li>
<p><strong>FlubitOrderCancel</strong> (cancellations)</p>
</li>
<li>
<p><strong>FlubitOrderDispatch</strong> (shipping confirmation, refund)</p>
</li>
<li>
<p><strong>FlubitProductsFeed</strong> (data export)</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » API log » Tab: API log</strong>.</p>
</li>
<li>
<p>Select a format from the drop-down list <strong>Process</strong>.</p>
</li>
<li>
<p>Select a date if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Click on <strong>Search</strong> to carry out the search.<br>
→ The processes are displayed.</p>
</li>
<li>
<p>Click on the folder in the <strong>Process</strong> column. <br>
→ The <strong>Flubit</strong> tab opens and error messages for this process are displayed.</p>
</li>
</ol>
</div>
</div>
</div>
</main>