<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Kauflux</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Kauflux in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the variation availability</span></a></li>
<li><a href="#350"><span>5.</span><span> Optional: Saving SKU</span></a></li>
<li><a href="#400"><span>6.</span><span> Defining a sales price</span></a></li>
<li><a href="#500"><span>7.</span><span> Activating characteristics for the market</span></a></li>
<li><a href="#600"><span>8.</span><span> Linking categories</span></a></li>
<li><a href="#700"><span>9.</span><span> Transmitting item data to Kauflux</span></a>
<ul class="sectlevel2">
<li><a href="#_setting_up_the_data_format_kaufluxde_plugin_in_plentymarkets"><span>9.1.</span><span> Setting up the data format KaufluxDE-Plugin in plentymarkets</span></a></li>
<li><a href="#_available_columns_for_the_export_format"><span>9.2.</span><span> Available columns for the export format</span></a></li>
<li><a href="#_exporting_item_data"><span>9.3.</span><span> Exporting item data</span></a></li>
<li><a href="#800"><span>9.4.</span><span> Exporting variation data</span></a></li>
</ul>
</li>
<li><a href="#900"><span>10.</span><span> Importing orders</span></a></li>
<li><a href="#1000"><span>11.</span><span> Sending an email when orders are imported</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kauflux</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.kauflux.de/" target="_blank" rel="noopener">Kauflux.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is an open marketplace with independent providers from various fields. Kauflux.de markets your items and services and provides you with direct contact to buyers.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Kauflux</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to register with <a href="http://www.kauflux.de/konto" target="_blank" rel="noopener">Kauflux</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> before you can set up Kauflux in your plentymarkets system.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Install plugins</div>
<div class="paragraph">
<p>You need the following plugins to send item data to Kauflux:<br>
<a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastic Export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span><br>
<a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/elasticexportkaufluxde_4737" target="_blank" rel="noopener">Kauflux</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Adding and installing the plugin <strong>Elastic Export</strong> in your plentymarkets system</div>
<div class="content">
<div class="paragraph instruction">
<p>Adding plugin to the system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » plentyMarketplace</strong>.<br>
→ The marketplace opens in a new tab.</p>
</li>
<li>
<p>Navigate to the plugin <strong>Elastic Export</strong>.<br>
<strong><em>Tip:</em></strong> Either use the search function or open the category <strong>Plugins » Sales » Marketplaces</strong>.</p>
</li>
<li>
<p>Open the detail view of the plugin.</p>
</li>
<li>
<p>In the column to the right, click on <strong>Go to checkout</strong>.<br>
→ The <strong>Checkout</strong> window opens.</p>
</li>
<li>
<p>Read and accept the General Terms and Conditions.</p>
</li>
<li>
<p>Click on <strong>Order now</strong>.<br>
→ Wait a few minutes before installing the plugin.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Click on the plugin set in which you want to install the plugin.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>Elastic Export</strong> from the plugin list.</p>
</li>
<li>
<p>Click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ The plugin set is shown.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
<strong><em>Tip:</em></strong> Problems saving the plugin set? Click on <strong>Open details</strong> to show additional information.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Adding and installing the plugin <strong>Kauflux</strong> in your plentymarkets system</div>
<div class="content">
<div class="paragraph instruction">
<p>Adding plugin to the system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » plentyMarketplace</strong>.<br>
→ The marketplace opens in a new tab.</p>
</li>
<li>
<p>Navigate to the plugin <strong>Kauflux</strong>.<br>
<strong><em>Tip:</em></strong> Either use the search function or open the category <strong>Plugins » Sales » Marketplaces</strong>.</p>
</li>
<li>
<p>Open the detail view of the plugin.</p>
</li>
<li>
<p>In the column to the right, click on <strong>Go to checkout</strong>.<br>
→ The <strong>Checkout</strong> window opens.</p>
</li>
<li>
<p>Read and accept the General Terms and Conditions.</p>
</li>
<li>
<p>Click on <strong>Order now</strong>.<br>
→ Wait a few minutes before installing the plugin.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Click on the plugin set in which you want to install the plugin.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>Kauflux</strong> from the plugin list.</p>
</li>
<li>
<p>Click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ The plugin set is shown.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
<strong><em>Tip:</em></strong> Problems saving the plugin set? Click on <strong>Open details</strong> to show additional information.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Kauflux in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Carry out the following basic settings in order to transfer item data to Kauflux.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Kauflux in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Kauflux » Settings</strong>.</p>
</li>
<li>
<p>Carry out the settings as described in <a href="#basic-settings-kauflux">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="basic-settings-kauflux" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Basic settings for Kauflux</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Exchange period</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the exchange period for the items. The exchange period is specified in days. If you would like to forbid items from being exchanged, then enter the value <strong>0</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the order referrer for Kauflux.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type of stock management</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether you would like to transfer your stock and if so, whether you would like it to be <strong>publicly</strong> visible or not.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API URL for the order import</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kauflux uses this link to transfer orders to plentymarkets. This link is needed for importing orders from Kauflux and not for creating the item catalogue. The item catalogue is created with the elastic export in the <strong>Data » Elastic export</strong> menu. Further information in German can be found on <a href="https://www.kauflux.de/shop-anmelden/automatischer-auftragsdatenexport" target="_blank" rel="noopener">Kauflux</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with Kauflux. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Kauflux:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Kauflux</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate the variations that you want to sell on Kauflux. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » [Open item] » [Open variation]</strong> menu.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="for-one-variation-tab" data-toggle="tab" href="#for-one-variation" role="tab" aria-controls="for-one-variation" aria-selected="true">For one variation</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-variation-group-function-tab" data-toggle="tab" href="#using-variation-group-function" role="tab" aria-controls="using-variation-group-function" aria-selected="false">Using variation group function</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-batch-processing-tab" data-toggle="tab" href="#using-batch-processing" role="tab" aria-controls="using-batch-processing" aria-selected="false">Using batch processing</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="for-one-variation" role="tabpanel" aria-labelledby="for-one-variation-tab">
<div class="paragraph instruction">
<p>Making a variation available for Kauflux:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on Kauflux.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on Kauflux, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>{option-availability}</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The variation is available for Kauflux.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-variation-group-function" role="tabpanel" aria-labelledby="using-variation-group-function-tab">
<div class="paragraph">
<p>The <a href="/en/item/import-export-create/create/mass-processing#100">variation group function</a> allows you to edit several variations at once. You select the variations that you want to edit.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for Kauflux using the variation group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Variations</strong>.</p>
</li>
<li>
<p>Choose additional <a href="/en/item/introduction/search#100">filters on the left</a> if needed and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the variations to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Variation group function</strong>.<br>
→ The <strong>Variation group function</strong> window opens.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>{option-availability}</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>{option-availability}</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong> to apply the settings.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-batch-processing" role="tabpanel" aria-labelledby="using-batch-processing-tab">
<div class="paragraph">
<p><a href="/en/item/import-export-create/create/mass-processing#400">Batch processing</a> allows you to edit several variations at once. You use filters to limit which variations are edited.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for Kauflux using batch processing:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Batch processing</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Variations</strong> in the upper left corner.</p>
</li>
<li>
<p>Use the <em>filters on the left</em> to specify which variations should be processed.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>{option-availability}</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>{option-availability}</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Apply</strong> to apply the settings to the variations.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="350">5. <em>Optional:</em> Saving SKU</h2>
<div class="sectionbody">
<div class="paragraph">
<p>SKU are generated automatically when your variations are exported. However, you can also save market specific SKU for variations that you want to sell on this market instead.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manually-adding-an-sku-tab" data-toggle="tab" href="#manually-adding-an-sku" role="tab" aria-controls="manually-adding-an-sku" aria-selected="true">Manually adding an SKU</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="importing-sku-tab" data-toggle="tab" href="#importing-sku" role="tab" aria-controls="importing-sku" aria-selected="false">Importing SKU</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manually-adding-an-sku" role="tabpanel" aria-labelledby="manually-adding-an-sku-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>SKU</strong> area, click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>New SKU</strong> window opens.</p>
</li>
<li>
<p>Select the referrer <strong>Kauflux</strong>.<br></p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="importing-sku" role="tabpanel" aria-labelledby="importing-sku-tab">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Only the most important settings for the import are described here. Is this your first time working with the import tool? Then get familiar with <a href="/en/data/importing-data/ElasticSync">how data imports work in plentymarkets first</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="ulist">
<ul>
<li>
<p>Create a CSV file with at least the columns described in <a href="#table-sku-import">Table 2</a>.</p>
</li>
<li>
<p>Create an import with the following settings:</p>
<div class="ulist">
<ul>
<li>
<p>Select the type <strong>Item</strong>.</p>
</li>
<li>
<p>Select the matching field <strong>Variation ID</strong>.</p>
</li>
<li>
<p>Map the plentymarkets data fields as described in <a href="#table-sku-import">Table 2</a>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<table id="table-sku-import" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Recommended columns of the import file</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 50%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column in CSV file</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">plentymarkets data field for mapping</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Variation ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the variation ID in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Variation ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Market ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the referrer ID <strong>116</strong> in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>Marketplace ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Account ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This market does not require a marketplace account. As such, enter the number <strong>0</strong> in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>Marketplace ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SKU</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the SKU that you want to save for the variation for this market in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>SKU</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
</div></div>
</div>
</div><div class="sect1">
<h2 id="400">6. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sales prices define the conditions under which a variation is sold at a specific price and on a specific sales channel. That means that to sell variations on Kauflux, you need a sales price in which the order referrer Kauflux is activated. The price that you save for this sales price is the price that will be shown on Kauflux.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Kauflux:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price]</strong>.<br>
<strong><em>Tip:</em></strong> No sales prices? Then create a <a href="/en/item/settings/prices#100">new sales price</a> first.</p>
</li>
<li>
<p>Open the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Activate the referrer <strong>Kauflux</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">7. Activating characteristics for the market</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To use <a href="/en/item/edit-item#480">characteristics</a> for Kauflux, each characteristic must be activated for the market.</p>
</div>
<div class="paragraph instruction">
<p>Activating characteristic for the market:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Expand the characteristic (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Activate the option <strong>Kauflux</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Repeat this for all characteristics that you need for the market.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">8. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>Setup » Markets » Kauflux » Category link</strong> to link your plentymarkets categories with the categories on Kauflux. You need the Kauflux CSV file for setting up a category link. This file contains the <strong>category IDs</strong> for Kauflux. You can download the <a href="http://support.expeedo.de/f/kl/kauflux-Kategorien.xls" target="_blank" rel="noopener">Kauflux CSV file</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> from the seller area on the Kauflux website. In the next steps, export a list of categories in your plentyShop, link these categories and then import the category links.</p>
</div>
<div class="paragraph instruction">
<p>Exporting links:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Kauflux » Category link</strong>.</p>
</li>
<li>
<p>Click on the <strong>Export link</strong> button.<br>
→ A CSV file with your plentymarkets categories is generated.</p>
</li>
<li>
<p>Open the CSV file.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Entering category IDs:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the Kauflux CSV file.</p>
</li>
<li>
<p>For each plentymarkets category, search for the corresponding <strong>category IDs</strong> in the CSV file from Kauflux.</p>
</li>
<li>
<p>Enter the category IDs from the Kauflux CSV file into the <strong>KaufluxCat</strong> column in the exported CSV file.</p>
</li>
<li>
<p>Save the exported CSV file on your computer’s hard drive.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Importing links:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Kauflux » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Select file</strong> next to <strong>File</strong>.</p>
</li>
<li>
<p>Select the CSV file that you saved on your computer’s hard drive.</p>
</li>
<li>
<p>Click on <strong>Open</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The links are imported and displayed in the <strong>Links</strong> area.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">9. Transmitting item data to Kauflux</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Install plugins</div>
<div class="paragraph">
<p>You need the following plugins to send item data to Kauflux:<br>
<a href="https://marketplace.plentymarkets.com/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastic Export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span><br>
<a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/elasticexportkaufluxde_4737" target="_blank" rel="noopener">Kauflux</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_setting_up_the_data_format_kaufluxde_plugin_in_plentymarkets">9.1. Setting up the data format KaufluxDE-Plugin in plentymarkets</h3>
<div class="paragraph">
<p>By installing this plugin you will receive the export format <strong>Kauflux-Plugin</strong>. Use this format to exchange data between plentymarkets and Kauflux using the elastic export. You need to install the plugin <strong>Elastic export</strong> from the plentyMarketplace before you can use the format in plentymarkets.</p>
</div>
<div class="paragraph">
<p>Once both plugins are installed in your plentymarkets system, you can create the export format <strong>Kauflux-Plugin</strong>. For more information on export formats, see the <a href="/en/data/exporting-data/elastic-export">elastic export</a> page.</p>
</div>
<div class="paragraph">
<p>Kauflux retrieves item data via an URL. To make sure that your item data can be exported to Kauflux, you have to save the URL at Kauflux.</p>
</div>
<div class="paragraph instruction">
<p>Creating an export format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>New export</strong>.<br>
→ The <strong>New export</strong> tab opens.</p>
</li>
<li>
<p>Carry out the desired settings. Pay attention to the explanations given in <a href="#export-format">Table 3</a>.<br>
<strong><em>Note:</em></strong> There are no item filters set by default. If you do not add any item filters, all items are exported.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The export format <strong>Kauflux-Plugin</strong> is given an ID.<br>
→ The export format is shown in the <strong>Exports</strong> overview.</p>
</li>
<li>
<p>Save the URL displayed in the <strong>URL</strong> field at Kauflux.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="#export-format">Table 3</a> lists details for settings, format settings and recommended item filters for the format <strong>Kauflux-Plugin</strong>.</p>
</div>
<table id="export-format" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Format settings and recommended item filters for the format <strong>Kauflux-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name for the export.
This is an internal name, i.e. it is not visible to customers.
The export format is listed under this name in the overview.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the type <strong>item</strong> from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Kauflux-Plugin</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a number.
This number determines how many items are exported at maximum.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Do you want to transmit more than 9999 items?</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Then the output file will only be generated every 24 hours. This is to save resources.</p>
</li>
<li>
<p>Then also select the option <strong>Generate cache file</strong> further below.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate cache file</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if you want to transmit more than 9999 items.<br>
<strong><em>Note:</em></strong> We recommend that you do not activate this option for more than 20 export formats. This is to ensure a high performance of the elastic export.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>URL</strong>.
This option allows external access to the file.
Third parties access the file with a URL and an authentication token.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Additional settings</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Generate token</strong> (<span class="icon darkGrey"><i class="fa fa-undo  "></i></span>).<br>
The <strong>token</strong> and <strong>URL</strong> will be entered automatically.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The file name must have the ending <strong>.csv</strong> or <strong>.txt</strong> for Kauflux to be able to import the file successfully.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item filters</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add item filters</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the items you wish to export. To do so, select one or more item filters from the drop-down list and click on Add. There are no filters set by default. You can add all item filters listed below from the drop-down list.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Variations</strong> = Select the variations to be transferred.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Transfer all</strong> = All variations are transferred.</p>
</li>
<li>
<p><strong>Only transfer main variations</strong> = Only main variations are transferred.<br></p>
</li>
<li>
<p><strong>Do not transfer main variations</strong> = Only the item’s sub-variations are transferred. Main variations are not transferred.<br>
<strong><em>Tip:</em></strong> Use this filter option if the main variations are virtual and not for sale.</p>
</li>
<li>
<p><strong>Only transfer single variations</strong> = Only those main variations of items are transferred that only have a main variation and no other variations.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Markets</strong> = Select one or more order referrers. The selected order referrer has to be active at the variation for the item to be exported.</p>
</li>
<li>
<p><strong>Currency</strong> = Select a currency.</p>
</li>
<li>
<p><strong>Category</strong> = Activate to transfer the item with its category link. Only items belonging to this category are exported.</p>
</li>
<li>
<p><strong>Image</strong> = Activate to transfer the item with its image. Only items with images are transferred.</p>
</li>
<li>
<p><strong>Client</strong> = Select a client.</p>
</li>
<li>
<p><strong>Stock</strong> = Select which stocks should be exported.</p>
</li>
<li>
<p><strong>Flag 1-2</strong> = Select a flag.</p>
</li>
<li>
<p><strong>Manufacturer</strong> = Select one, several or <strong>ALL</strong> manufacturers.</p>
</li>
<li>
<p><strong>Active</strong> = Activate if you only want to export active variations.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Format settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Choose the URL that you wish to transfer to the interface. You can choose between the item’s URL and the variation’s URL.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a client. This setting is used for the URL structure.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a suffix for the product URL if this is required for the export.<br>
→ This character string is added to the product URL if you have activated the <strong>transfer</strong> option for the product URL further up.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the order referrer that should be assigned during the order import from the drop-down list.<br>
→ The selected referrer is added to the product URL so that sales can be analysed later.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marketplace account</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the marketplace account from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the language from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>. The names are saved in the <strong>Texts</strong> tab of the item. Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the item name.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the text that you want to transfer as preview text.
Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the preview text.<br>
Activate the <strong>Remove HTML tags</strong> option if you want HTML tags to be removed during the export.<br>
If you only want to allow specific HTML tags to be exported, then enter these tags into the * Permitted HTML tags, separated by comma (def. text)* field. Use commas to separate multiple tags.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the text that you want to transfer as description. Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the description. Activate the option <strong>Remove HTML tags</strong> if you want HTML tags to be removed during the export. If you only want to allow specific HTML tags to be exported, then enter these tags into the field * Permitted HTML tags, separated by comma (def. text)* field. Use commas to separate multiple tags.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target country</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the target country from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the ASIN, ISBN or a GTIN from the drop-down list.<br>
<strong><em>Note:</em></strong> The barcode has to be linked to the order referrer selected above. Otherwise, the barcode will not be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position of the energy label</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The stock buffer for variations with limitation to the net stock.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations without stock limitation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The stock for variations without stock limitation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations with no stock administration</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The stock for variations without stock administration.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Live currency conversion</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate this option to convert the price into the currency of the selected country of delivery. The price has to be released for the corresponding currency.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select gross price or net price from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offer price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RRP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate to transfer the RRP.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate this option if you want to use the shipping costs that are saved in a configuration. If this option is activated, then you are able to select the configuration and the payment method from the drop-down lists. Activate the option <strong>Transfer flat rate shipping charge</strong> if you want to use a flat rate shipping charge. If this option is activated, a value has to be entered in the line underneath.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT note</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item availability</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate the <strong>overwrite</strong> option and enter item availabilities into the fields <strong>1</strong> to <strong>10</strong>. The fields represent the IDs of the availabilities. This overwrites the item availabilities that are saved in the <strong>Setup » Item » Availability</strong> menu.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_available_columns_for_the_export_format">9.2. Available columns for the export format</h3>
<div class="paragraph">
<p><a href="#kauflux-columns">Table 4</a> shows the columns available for the export file.</p>
</div>
<table id="kauflux-columns" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Available columns for the export format</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column header</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ProductID</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The item ID of the variation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">BestellNr</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The SKU of the variation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>According to the format setting <strong>Barcode</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The <strong>name of the manufacturer</strong> of the item. The <strong>external name</strong> saved in the <strong>Setup » Item » Manufacturers</strong> menu is preferred if existing.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">BestandModus</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The <strong>type of stock management</strong>, according to <strong>Setup » Markets » Kauflux » Settings</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">BestandAbsolut</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The net stock of the variation. If a variation is not limited to its net stock, the stock is set to 999.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Liefertyp</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Shipment type: V = Versand (Shipping).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">VersandKlasse</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>According to the format setting <strong>Shipping costs</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery time</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The name of the item availability saved in the <strong>Setup » Item » Item availability</strong> or the translation according to the format setting <strong>Item availability</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umtausch</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The exchange period after delivery in days, according to <strong>Setup » Markets » Kauflux » Settings</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>According to the format setting <strong>Item name</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">KurzText</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>According to the format setting <strong>Preview text</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">DetailText</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>According to the format setting <strong>Description</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Keywords</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The keywords of the item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild1</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>URL of the image. Variation images are prioritised over item images.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild2</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>URL of the image. Variation images are prioritised over item images.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild3</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>URL of the image. Variation images are prioritised over item images.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Weight</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The overall weight in grams.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The sales price.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">VAT</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The VAT in %.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">RRP</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The recommended retail price (RRP) of the variation. If the RRP is activated in the format setting and is higher than the sales price, the RRP is exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Katalog1</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The name of the category.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flags</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The store special of the item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ExtLinkDetail</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The URL path of the item depending on the chosen <strong>client</strong> in the format settings.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Status of the item:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>0</strong> = visible<br></p>
</li>
<li>
<p><strong>1</strong> = blocked<br></p>
</li>
<li>
<p><strong>2</strong> = hidden</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FreeVar1</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Free text field 1</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FreeVar2</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Free text field 2</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FreeVar3</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Free text field 3</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">InhaltMenge</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The lot of the variation (example: 250).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">InhaltEinheit</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The unit for the lot (example: ml).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">InhaltVergleich</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The comparative amount of the net content quantity for the automatic calculation of a commercial quantity.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">HerstellerArtNr</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The model of the variation.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_exporting_item_data">9.3. Exporting item data</h3>
<div class="paragraph">
<p>After you set up Kauflux in plentymarkets, you can export your item data. To do so, go to <strong>Data » Elastic export</strong>.</p>
</div>
<div class="paragraph">
<p>For an automatic item data export, you have to copy the complete URL and save it at Kauflux. The prerequisites for this are that you have carried out at least one export of your item data manually and that you have assigned the individual fields in Kauflux. Additionally, the automatic item data export from Kauflux has to be activated.</p>
</div>
</div>
<div class="sect2">
<h3 id="800">9.4. Exporting variation data</h3>
<div class="paragraph">
<p>During the export, variation data is exported as additional CSV fields. If you would like to import this CSV or ZIP file into Kauflux, you are asked to map the categories.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example</div>
<div class="paragraph">
<p>The variation fields <strong>colour</strong>, <strong>size</strong> and <strong>length</strong> are displayed in the mapping. For all variation fields, you have to select <strong>GroupParam</strong> as the mapping field so that these fields can be saved as variations on Kauflux.de. The field <strong>GroupID</strong> serves exclusively to identify the items that belong together in a group.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="900">10. Importing orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Orders from Kauflux can be imported into your plentymarkets system automatically. You have to save the API URL at Kauflux. This URL is found under <strong>Setup » Markets » Kauflux » Settings</strong>. After completing this step, orders are automatically imported into your plentymarkets system and displayed in the <strong>Orders » Edit orders</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">11. Sending an email when orders are imported</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It is possible to send automatic emails when orders are imported into plentymarkets. Go to <strong>Setup » Client » [Select client] » Email » Templates</strong> to create and activate an email template for Kauflux.</p>
</div>
<div class="paragraph instruction">
<p>Sending an email when orders are imported:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » [Select client] » Email » Automatic</strong>.</p>
</li>
<li>
<p>Select the previously created email template for the <strong>New order from Kauflux</strong> option.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Click on <strong>Edit email template</strong> to access the <strong>Setup » Client » [Select client] » Email » Templates</strong> menu and edit the email template.</p>
</div>
</div>
</div>
</main>