<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kaufland.de</h1><p>Welcome to the topic Kaufland.de. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/markets/kaufland-de/kaufland-setup">Setting up Kaufland.de</a></li><li><a href="/en/markets/kaufland-de/best-practices-kaufland-integration-shipping-groups">Best practice: Integration of shipping groups</a></li><li><a href="/en/markets/kaufland-de/best-practices-kaufland-linking-properties">Best practice: Linking characteristics to attributes</a></li><li><a href="/en/markets/kaufland-de/best-practices-kaufland-uploading-invoices">Best Practice: Automatically uploading invoices</a></li></ul>
</main>