<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Kauflux</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Kauflux in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the item availability</span></a></li>
<li><a href="#350"><span>5.</span><span> Defining SKU manually</span></a></li>
<li><a href="#400"><span>6.</span><span> Defining a sales price</span></a></li>
<li><a href="#500"><span>7.</span><span> Linking properties</span></a></li>
<li><a href="#600"><span>8.</span><span> Linking categories</span></a></li>
<li><a href="#700"><span>9.</span><span> Exporting items</span></a></li>
<li><a href="#800"><span>10.</span><span> Exporting variations</span></a></li>
<li><a href="#900"><span>11.</span><span> Importing orders</span></a></li>
<li><a href="#1000"><span>12.</span><span> Sending an email when orders are imported</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kauflux</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.kauflux.de/" target="_blank" rel="noopener">Kauflux.de</a> is an open marketplace with independent providers from various fields. Kauflux.de markets your items and services and provides you with direct contact to purchasers.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Kauflux</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to register with <a href="http://www.kauflux.de/konto" target="_blank" rel="noopener">Kauflux</a> before you can set up Kauflux in your plentymarkets system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Kauflux in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Carry out the following basic settings in order to transfer item data to Kauflux.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Kauflux in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Kauflux » Settings</strong>.</p>
</li>
<li>
<p>Carry out the desired settings. Pay attention to the explanations given in <a href="#basic-settings-kauflux">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="basic-settings-kauflux" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Basic settings for Kauflux</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Exchange period</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the exchange period for the items. The exchange period is specified in days. If you would like to forbid items from being exchanged, then enter the value <strong>0</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the order referrer for Kauflux.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type of stock management</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether you would like to transfer your stock and if so, whether you would like it to be <strong>publicly</strong> visible or not.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API URL for the order import</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kauflux uses this link to transfer orders to plentymarkets. This link is needed for importing orders from Kauflux and not for creating the item catalogue. The item catalogue is created with the elastic export in the <strong>Data » Elastic export</strong> menu. Further information in German can be found on <a href="https://www.kauflux.de/shop-anmelden/automatischer-auftragsdatenexport" target="_blank" rel="noopener">Kauflux</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with Kauflux, you have to activate the order referrer <strong>Kauflux</strong> in the <strong>Setup » Orders » Order referrer</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Kauflux:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Kauflux</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for Kauflux. This is done in the <strong>Availability</strong> tab of an item within the <strong>Item » Edit item » Open item » Tab: Variation ID</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for Kauflux:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the selection field in the <strong>Markets</strong> section. <br>
→ A list with all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>Kauflux</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.<br>
→ The item is available on Kauflux.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be edited in the <strong>Item » Edit item » Open item » Tab: Variations » Open variation » Tab: Variation ID » Tab: Availability</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Availability</strong> menu if needed.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>) in the <strong>SKU</strong> section.<br>
→ The <strong>New SKU</strong> window is displayed.</p>
</li>
<li>
<p>Select the referrer <strong>Kauflux</strong>.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">6. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer Kauflux. This price is displayed on Kauflux.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Kauflux:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a check mark next to the referrer <strong>Kauflux</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">7. Linking properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to use properties for the Kauflux market, the properties have to be linked with Kauflux in the corresponding property’s settings.</p>
</div>
<div class="paragraph instruction">
<p>Linking properties:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Expand the property (<span class="icon"><i class="fa fa-plus-square-o"></i></span>).</p>
</li>
<li>
<p>Activate the option <strong>Kauflux</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">8. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>Setup » Markets » Kauflux » Category link</strong> to link your online store categories with the categories on Kauflux. You need the Kauflux CSV file for setting up a category link. This file contains the <strong>category IDs</strong> for Kauflux. You can download the <a href="http://support.expeedo.de/f/kl/kauflux-Kategorien.xls" target="_blank" rel="noopener">Kauflux CSV file</a> from the seller area on the Kauflux website. In the next steps, export a list of categories in your online store, link these categories and then import the category links.</p>
</div>
<div class="paragraph instruction">
<p>Exporting links:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Kauflux » Category link</strong>.</p>
</li>
<li>
<p>Click on the <strong>Export link</strong> button.<br>
<strong>→</strong> A CSV file with your online store categories is generated.</p>
</li>
<li>
<p>Open the online store CSV file.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Entering category IDs:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the Kauflux CSV file.</p>
</li>
<li>
<p>For each category in your online store, search for the corresponding <strong>category IDs</strong> in the Kauflux CSV file.</p>
</li>
<li>
<p>Enter the category IDs from the Kauflux CSV file into the <strong>KaufluxCat</strong> column in the online store CSV file.</p>
</li>
<li>
<p>Save the online store CSV file on your computer’s hard drive.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Importing links:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Kauflux » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Select file</strong> next to <strong>File</strong>.</p>
</li>
<li>
<p>Select the online store CSV file that you saved on your computer’s hard drive.</p>
</li>
<li>
<p>Click on <strong>Open</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.<br>
→ The links are imported and displayed in the <strong>Links</strong> section.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">9. Exporting items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After you set up Kauflux in plentymarkets, you can export your items. To do so, go to <strong>Data » Elastic export</strong>.</p>
</div>
<div class="paragraph">
<p>For an automatic item export, you have to copy the complete URL and save it at Kauflux. The prerequisites for this are that you have carried out at least one item export manually and that you have assigned the individual fields in Kauflux. Additionally, the automatic item export from Kauflux has to be activated.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="800">10. Exporting variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>During the export, variations are exported as additional CSV fields. If you would like to import this CSV or ZIP file into Kauflux, you are asked to map the categories.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Example</div>
<div class="paragraph">
<p>The variation fields <strong>colour</strong>, <strong>size</strong> and <strong>length</strong> are displayed in the mapping. For all variation fields, you have to select <strong>GroupParam</strong> as the mapping field so that these fields can be saved as variations on Kauflux.de. The field <strong>GroupID</strong> serves exclusively to identify the items that belong together in a group.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="900">11. Importing orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Orders from Kauflux can be imported into your plentymarkets system automatically. You have to save the API URL at Kauflux. This URL is found under <strong>Setup » Markets » Kauflux » Settings</strong>. After completing this step, orders are automatically imported into your plentymarkets system and displayed in the <strong>Orders » Edit orders</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">12. Sending an email when orders are imported</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It is possible to send automatic emails when orders are imported into plentymarkets. Go to <strong>Setup » Client » Select client » Email » Templates</strong> to create and activate an email template for Kauflux.</p>
</div>
<div class="paragraph instruction">
<p>Sending an email when orders are imported:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Select client » Email » Automatic</strong>.</p>
</li>
<li>
<p>Select the previously created email template for the <strong>New order from Kauflux</strong> option.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Click on <strong>Edit email template</strong> to access the <strong>Setup » Client » Select client » Email » Templates</strong> menu and edit the email template.</p>
</div>
</div>
</div>
</main>