<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Kauflux</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Kauflux in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the variation availability</span></a></li>
<li><a href="#350"><span>5.</span><span> Defining SKU manually</span></a></li>
<li><a href="#400"><span>6.</span><span> Defining a sales price</span></a></li>
<li><a href="#500"><span>7.</span><span> Linking characteristics</span></a></li>
<li><a href="#600"><span>8.</span><span> Linking categories</span></a></li>
<li><a href="#700"><span>9.</span><span> Transmitting item data to Kauflux</span></a>
<ul class="sectlevel2">
<li><a href="#_setting_up_the_data_format_kaufluxde_plugin_in_plentymarkets"><span>9.1.</span><span> Setting up the data format KaufluxDE-Plugin in plentymarkets</span></a></li>
<li><a href="#_available_columns_for_the_export_format"><span>9.2.</span><span> Available columns for the export format</span></a></li>
<li><a href="#_exporting_item_data"><span>9.3.</span><span> Exporting item data</span></a></li>
<li><a href="#800"><span>9.4.</span><span> Exporting variation data</span></a></li>
</ul>
</li>
<li><a href="#900"><span>10.</span><span> Importing orders</span></a></li>
<li><a href="#1000"><span>11.</span><span> Sending an email when orders are imported</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kauflux</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.kauflux.de/" target="_blank" rel="noopener">Kauflux.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is an open marketplace with independent providers from various fields. Kauflux.de markets your items and services and provides you with direct contact to buyers.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Kauflux</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to register with <a href="http://www.kauflux.de/konto" target="_blank" rel="noopener">Kauflux</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> before you can set up Kauflux in your plentymarkets system.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Install plugins</div>
<div class="paragraph">
<p>You need the following plugins to send item data to Kauflux:<br>
<a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastic Export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span><br>
<a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/elasticexportkaufluxde_4737" target="_blank" rel="noopener">Kauflux</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Kauflux in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Carry out the following basic settings in order to transfer item data to Kauflux.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Kauflux in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Kauflux » Settings</strong>.</p>
</li>
<li>
<p>Carry out the desired settings. Pay attention to the explanations given in <a href="#basic-settings-kauflux">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="basic-settings-kauflux" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Basic settings for Kauflux</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Exchange period</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the exchange period for the items. The exchange period is specified in days. If you would like to forbid items from being exchanged, then enter the value <strong>0</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the order referrer for Kauflux.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type of stock management</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether you would like to transfer your stock and if so, whether you would like it to be <strong>publicly</strong> visible or not.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API URL for the order import</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kauflux uses this link to transfer orders to plentymarkets. This link is needed for importing orders from Kauflux and not for creating the item catalogue. The item catalogue is created with the elastic export in the <strong>Data » Elastic export</strong> menu. Further information in German can be found on <a href="https://www.kauflux.de/shop-anmelden/automatischer-auftragsdatenexport" target="_blank" rel="noopener">Kauflux</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with Kauflux, you have to activate the order referrer <strong>Kauflux</strong> in the <strong>Setup » Orders » Order referrer</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Kauflux:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Kauflux</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate all variations that you want to sell on Kauflux. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Selling all variations of an item on Kauflux</div>
<div class="paragraph">
<p>To sell all variations of an item on Kauflux, carry out the settings described below for the main variation. The settings are then passed on to all variations of the item.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting the variation availability for Kauflux:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on Kauflux.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>Kauflux</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Availability</strong> menu if needed.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Automatic SKU generation</div>
<div class="paragraph">
<p>If the <strong>Request product creation</strong> setting is activated in the <strong>Setup » Markets » Cdiscount.com » Tab: Settings</strong> menu, an SKU is generated which matches the variation ID for each variation during the export that takes place at night.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">SKUs of already existing items</div>
<div class="paragraph">
<p>Items with variations in plentymarkets can be linked to already existing items on Cdiscount. The SKU serves as the identification in plentymarkets. The SKU can be found as <strong>Your reference</strong> in the Cdiscount seller back end.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The referrer <strong>Plus.de</strong> also covers the market Netto Marken-Discount if you add SKUs.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>SKU</strong> area, click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>New SKU</strong> window opens.</p>
</li>
<li>
<p>Select the referrer <strong>Kauflux</strong>.</p>
</li>
<li>
<p>Select the corresponding marketplace account.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">6. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer {referrer}. This price is displayed on {referrer}.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for {referrer}:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices »</strong> <em>Open sales price</em> <strong>» Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the referrer <strong>{referrer}</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">7. Linking characteristics</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to use properties for the Kauflux market, each characteristic must be linked with Kauflux in the characteristic’s settings.</p>
</div>
<div class="paragraph instruction">
<p>Linking a characteristic:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Expand the property (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Activate the option <strong>Kauflux</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">8. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>Setup » Markets » Kauflux » Category link</strong> to link your online store categories with the categories on Kauflux. You need the Kauflux CSV file for setting up a category link. This file contains the <strong>category IDs</strong> for Kauflux. You can download the <a href="http://support.expeedo.de/f/kl/kauflux-Kategorien.xls" target="_blank" rel="noopener">Kauflux CSV file</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> from the seller area on the Kauflux website. In the next steps, export a list of categories in your online store, link these categories and then import the category links.</p>
</div>
<div class="paragraph instruction">
<p>Exporting links:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Kauflux » Category link</strong>.</p>
</li>
<li>
<p>Click on the <strong>Export link</strong> button.<br>
<strong>→</strong> A CSV file with your online store categories is generated.</p>
</li>
<li>
<p>Open the online store CSV file.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Entering category IDs:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the Kauflux CSV file.</p>
</li>
<li>
<p>For each category in your online store, search for the corresponding <strong>category IDs</strong> in the CSV file from Kauflux.</p>
</li>
<li>
<p>Enter the category IDs from the Kauflux CSV file into the <strong>KaufluxCat</strong> column in the exported online store CSV file.</p>
</li>
<li>
<p>Save the exported online store CSV file on your computer’s hard drive.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Importing links:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Kauflux » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Select file</strong> next to <strong>File</strong>.</p>
</li>
<li>
<p>Select the online store CSV file that you saved on your computer’s hard drive.</p>
</li>
<li>
<p>Click on <strong>Open</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The links are imported and displayed in the <strong>Links</strong> area.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">9. Transmitting item data to Kauflux</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Install plugins</div>
<div class="paragraph">
<p>You need the following plugins to send item data to Kauflux:<br>
<a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastic Export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span><br>
<a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/elasticexportkaufluxde_4737" target="_blank" rel="noopener">Kauflux</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_setting_up_the_data_format_kaufluxde_plugin_in_plentymarkets">9.1. Setting up the data format KaufluxDE-Plugin in plentymarkets</h3>
<div class="paragraph">
<p>By installing this plugin you will receive the export format <strong>KaufluxDE-Plugin</strong>. Use this format to exchange data between plentymarkets and Kauflux.de using the elastic export. You also need to install the Plugin <strong>Elastic export</strong> from the plentyMarketplace first before you can use the format in plentymarkets.</p>
</div>
<div class="paragraph">
<p>Once both plugins are installed, you can create the export format <strong>KaufluxDE-Plugin</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating an export format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New export</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#kauflux-data-format">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The export format <strong>KaufluxDE-Plugin</strong> is given an ID and it appears in the overview within the <strong>Exports</strong> tab.<br>
<strong><em>Note:</em></strong> There are no item filters set by default. If you do not set any item filters, all items are transmitted during the export.</p>
</li>
</ol>
</div>
<table id="kauflux-data-format" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings for the data format <strong>KaufluxDE-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name. The export format is listed under this name in the overview in the
<strong>Exports</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type <strong>item</strong> from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>KaufluxDE-Plugin</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number. If you want to transfer more than 9999 data records to Kauflux, then the output file will not be generated again for another 24 hours. This is to save resources. If more than 9999 data records are necessary, the setting <strong>Generate cache file</strong> has to be active.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate cache file</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate if you want to transfer more than 9999 data records to Kauflux. We recommend that you do not activate this setting for more than 20 export formats. This is to ensure a high performance of the elastic export.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the <strong>URL</strong>. Use this option to generate a token for authentication in order to allow external access.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token, URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the option <strong>URL</strong> under <strong>Provisioning</strong>, then click on <strong>Generate token</strong>. The token is entered automatically. The URL is entered automatically if the token was generated under <strong>Token</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The file name must have the ending <strong>.csv</strong> or <strong>.txt</strong> for Kauflux to be able to import the file successfully.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item filters</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add item filters</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the items you wish to export and transfer. There are no filters set by default. Select an item filter from the drop-down list and click <strong>Add</strong>. It is possible to add multiple item filters from the drop-down list one after the other.<br>
<strong>Variations</strong> = Select <strong>Transfer all</strong> or <strong>Only transfer main variations</strong>.<br>
<strong>Markets</strong> = Select one or more order referrers. The selected order referrer has to be active at the variation for the item to be exported.<br>
<strong>Currency</strong> = Select a currency.<br>
<strong>Category</strong> = Activate to transfer the item with its category link. Only items belonging to this category will be exported.<br>
<strong>Image</strong> = Activate to transfer the item with its image. Only items with images will be exported.<br>
<strong>Client</strong> = Select a client.<br>
<strong>Stock</strong> = Select which stocks you want to export.<br>
<strong>Flag 1 - 2</strong> = Select a flag.<br>
<strong>Manufacturer</strong> = Select one, several or <strong>ALL</strong> manufacturers.<br>
<strong>Active</strong> = Select <strong>Active</strong>. Only active variations will be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Format settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose the URL that you wish to transfer to Kauflux. You can choose between the item’s URL and the variation’s URL. URLs of variations can only be transferred in combination with the Ceres store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client. This setting is used for the URL structure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a suffix for the product URL if this is required for the export. If you activated the <strong>transfer</strong> option for the product URL further up, then this character string is added to the product URL.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the order referrer that should be assigned during the order import from the drop-down list. The selected referrer
 will be added to the product URL so that sales can be analysed later.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Market account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an market account from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the language from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Name 1</strong>, <strong>Name 2</strong>, or <strong>Name 3</strong>. These names are saved in the <strong>Texts</strong> tab of the item. Enter a number into the <strong>Maximum number of characters (def. Text)</strong> field if desired. This specifies how many characters are exported for the item name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the text that you want to transfer as preview text. Enter a number into the <strong>Maximum number of characters (def. Text)</strong> field if desired. This specifies how many characters are exported for the item name. Activate the option <strong>Remove HTML tags</strong> if you want HTML tags to be removed during the export. If you only want to allow specific HTML tags to be exported, then enter these tags into the field * Permitted HTML tags, separated by comma (def. Text)*. Use commas to separate multiple tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the text that you want to transfer as description. Enter a number into the <strong>Maximum number of characters (def. Text)</strong> field if desired. This specifies how many characters are exported for the description. Activate the option <strong>Remove HTML tags</strong> if you want HTML tags to be removed during the export. If you only want to allow specific HTML tags to be exported, then enter these tags into the field * Permitted HTML tags, separated by comma (def. Text)*. Use commas to separate multiple tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the target country from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the ASIN, ISBN or an EAN from the drop-down list. The barcode has to be linked to the order referrer selected above. If the barcode is not linked to the order referrer, it will not be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Position 0</strong> or <strong>First image</strong> to export this image.<br>
<strong>Position 0</strong> = An image with position 0 is transferred.<br>
<strong>First image</strong> = The first image is transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position of the energy label</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option is not relevant for this format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock buffer for variations with limitation to the net stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variation without stock limitation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock for variations that are not limited to stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations with no stock administration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock for variations without stock administration.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Live currency conversion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option to convert the price into the currency of the selected country of delivery. The price has to be released for the corresponding currency.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select gross price or net price from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offer price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option is not relevant for this format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RRP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to transfer the RRP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option if you want to use the shipping costs that are saved in a configuration. If this option is activated, then you are able to select the configuration and the payment method from the drop-down lists. Activate the option <strong>Transfer flat rate shipping charge</strong> if you want to use a fixed shipping charge. If this option is activated, a value has to be entered in the line underneath.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT note</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option is not relevant for this format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the <strong>overwrite</strong> option and enter item availabilities into the fields <strong>1</strong> to <strong>10</strong>. The fields represent the IDs of the availabilities. This overwrites the item availabilities that are saved in the menu <strong>System » Item » Item availability</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_available_columns_for_the_export_format">9.2. Available columns for the export format</h3>
<div class="paragraph">
<p><a href="#kauflux-columns">Table 3</a> shows the columns available for the export file.</p>
</div>
<table id="kauflux-columns" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Available columns for the export format</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Column name</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ProductID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item ID of the variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">BestellNr</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The SKU of the variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Barcode</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Hersteller</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>name of the manufacturer</strong> of the item. The <strong>external name</strong> saved in the <strong>Setup » Item » Manufacturers</strong> menu is preferred if existing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">BestandModus</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <strong>type of stock management</strong>, according to <strong>Setup » Markets » Kauflux » Settings</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">BestandAbsolut</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The net stock of the variation. If a variation is not limited to its net stock, the stock is set to 999.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Liefertyp</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipment type: V = Versand (Shipping).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">VersandKlasse</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Shipping costs</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferzeit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the item availability saved in the <strong>Setup » Item » Item availability</strong> or the translation according to the format setting <strong>Item availability</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Umtausch</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The exchange period after delivery in days, according to <strong>Setup » Markets » Kauflux » Settings</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bezeichnung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Item name</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">KurzText</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Preview text</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">DetailText</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Description</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Keywords</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The keywords of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL of the image. Variation images are prioritised over item images.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL of the image. Variation images are prioritised over item images.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL of the image. Variation images are prioritised over item images.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gewicht</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The overall weight in grams.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The sales price of the variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">MwSt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The VAT in %.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">UVP</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The recommended retail price (RRP) of the variation. If the RRP is activated in the format setting and is higher than the sales price, the RRP is exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Katalog1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Flags</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The store special of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ExtLinkDetail</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The URL path of the item depending on the chosen <strong>client</strong> in the format settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Status of the item:<br>
<strong>0</strong> = visible<br>
<strong>1</strong> = blocked<br>
<strong>2</strong> = hidden</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FreeVar1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Free text field 1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FreeVar2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Free text field 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">FreeVar3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Free text field 3</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">InhaltMenge</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The lot of the variation (example: 250).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">InhaltEinheit</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The unit for the lot (example: ml).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">InhaltVergleich</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The comparative amount of the net content quantity for the automatic calculation of a commercial quantity.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">HerstellerArtNr</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The model of the variation.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_exporting_item_data">9.3. Exporting item data</h3>
<div class="paragraph">
<p>After you set up Kauflux in plentymarkets, you can export your item data. To do so, go to <strong>Data » Elastic export</strong>.</p>
</div>
<div class="paragraph">
<p>For an automatic item data export, you have to copy the complete URL and save it at Kauflux. The prerequisites for this are that you have carried out at least one export of your item data manually and that you have assigned the individual fields in Kauflux. Additionally, the automatic item data export from Kauflux has to be activated.</p>
</div>
</div>
<div class="sect2">
<h3 id="800">9.4. Exporting variation data</h3>
<div class="paragraph">
<p>During the export, variation data is exported as additional CSV fields. If you would like to import this CSV or ZIP file into Kauflux, you are asked to map the categories.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example</div>
<div class="paragraph">
<p>The variation fields <strong>colour</strong>, <strong>size</strong> and <strong>length</strong> are displayed in the mapping. For all variation fields, you have to select <strong>GroupParam</strong> as the mapping field so that these fields can be saved as variations on Kauflux.de. The field <strong>GroupID</strong> serves exclusively to identify the items that belong together in a group.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="900">10. Importing orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Orders from Kauflux can be imported into your plentymarkets system automatically. You have to save the API URL at Kauflux. This URL is found under <strong>Setup » Markets » Kauflux » Settings</strong>. After completing this step, orders are automatically imported into your plentymarkets system and displayed in the <strong>Orders » Edit orders</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">11. Sending an email when orders are imported</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It is possible to send automatic emails when orders are imported into plentymarkets. Go to <strong>Setup » Client »</strong> <em>Select client</em> <strong>» Email » Templates</strong> to create and activate an email template for Kauflux.</p>
</div>
<div class="paragraph instruction">
<p>Sending an email when orders are imported:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client »</strong> <em>Select client</em> <strong>» Email » Automatic</strong>.</p>
</li>
<li>
<p>Select the previously created email template for the <strong>New order from Kauflux</strong> option.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Click on <strong>Edit email template</strong> to access the <strong>Setup » Client »</strong> <em>Select client</em> <strong>» Email » Templates</strong> menu and edit the email template.</p>
</div>
</div>
</div>
</main>