<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Kauflux</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Kauflux in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the variation availability</span></a></li>
<li><a href="#350"><span>5.</span><span> Defining SKU manually</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Kauflux</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.kauflux.de/" target="_blank" rel="noopener">Kauflux.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is an open marketplace with independent providers from various fields. Kauflux.de markets your items and services and provides you with direct contact to buyers.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Kauflux</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to register with <a href="http://www.kauflux.de/konto" target="_blank" rel="noopener">Kauflux</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> before you can set up Kauflux in your plentymarkets system.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Install plugins</div>
<div class="paragraph">
<p>You need the following plugins to send item data to Kauflux:<br>
<a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastic Export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span><br>
<a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/elasticexportkaufluxde_4737" target="_blank" rel="noopener">Kauflux</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Kauflux in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Carry out the following basic settings in order to transfer item data to Kauflux.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Kauflux in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Kauflux » Settings</strong>.</p>
</li>
<li>
<p>Carry out the desired settings. Pay attention to the explanations given in <a href="#basic-settings-kauflux">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="basic-settings-kauflux" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Basic settings for Kauflux</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Exchange period</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the exchange period for the items. The exchange period is specified in days. If you would like to forbid items from being exchanged, then enter the value <strong>0</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the order referrer for Kauflux.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type of stock management</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether you would like to transfer your stock and if so, whether you would like it to be <strong>publicly</strong> visible or not.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API URL for the order import</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kauflux uses this link to transfer orders to plentymarkets. This link is needed for importing orders from Kauflux and not for creating the item catalogue. The item catalogue is created with the elastic export in the <strong>Data » Elastic export</strong> menu. Further information in German can be found on <a href="https://www.kauflux.de/shop-anmelden/automatischer-auftragsdatenexport" target="_blank" rel="noopener">Kauflux</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with Kauflux, you have to activate the order referrer <strong>Kauflux</strong> in the <strong>Setup » Orders » Order referrer</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Kauflux:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Kauflux</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate all variations that you want to sell on Kauflux. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Selling all variations of an item on Kauflux</div>
<div class="paragraph">
<p>To sell all variations of an item on Kauflux, carry out the settings described below for the main variation. The settings are then passed on to all variations of the item.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting the variation availability for Kauflux:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on Kauflux.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>Kauflux</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="350">5. Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Availability</strong> menu if needed.</p>
</div>
</div>
</div>
</main>