<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#150"><span>1.</span><span> Becoming a limango partner</span></a></li>
<li><a href="#200"><span>2.</span><span> Overview of automatic data exchange with limango</span></a></li>
<li><a href="#220"><span>3.</span><span> Workflow of a limango order</span></a></li>
<li><a href="#170"><span>4.</span><span> Installing the limango plugin</span></a></li>
<li><a href="#300"><span>5.</span><span> Setting up limango</span></a></li>
<li><a href="#600"><span>6.</span><span> Activating the order referrer</span></a></li>
<li><a href="#500"><span>7.</span><span> Defining a sales price</span></a></li>
<li><a href="#550"><span>8.</span><span> Activating the referrer in shipping profiles</span></a></li>
<li><a href="#900"><span>9.</span><span> Setting up the item export</span></a>
<ul class="sectlevel2">
<li><a href="#901"><span>9.1.</span><span> Notes on the limango item data structure</span></a></li>
<li><a href="#902"><span>9.2.</span><span> Creating a catalogue</span></a></li>
<li><a href="#903"><span>9.3.</span><span> Mapping catalogue fields</span></a>
<ul class="sectlevel3">
<li><a href="#907"><span>9.3.1.</span><span> Mapping data fields in the catalogue</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#XXXX"><span>10.</span><span> Activating the catalogue export to XXXX</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>limango</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>limango, a member of the Otto Group, is the number one platform for young families. Besides its private Shopping Club, limango also operates the <a href="https://www.limango.de/shop" target="_blank" rel="noopener">online shop</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> which is accessible without registration. Since the marketplace was launched in 2017, end users also take advantage of a broad and permanent product range that is now provided by more than 300 merchants.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="150">1. Becoming a limango partner</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Join the leading platform for family shopping and click ink:https://entdecke.limango.de/marktplatz-partnerprogramm[here^]&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> for more information on the limango marketplace and their partner program and to send your registration request (please note: information is only available in German).</p>
</div>
<div class="paragraph">
<p>Alternatively, you can also contact our team of partner managers by sending an email to <a href="mailto:marketplace@limango.de">marketplace@limango.de</a>. A partner manager will get in touch with you soon and will work with you to evaluate the potential on <a href="https://www.limango.de" target="_blank" rel="noopener">limango.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and talk about your next steps.</p>
</div>
<div class="paragraph">
<p>After registering, you will receive login details from limango. You need these login details to set up the limango plugin in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Overview of automatic data exchange with limango</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After installing and setting up the plugin, the automatic processes described in <a href="#data-exchange-limango">Table 1</a> become available.</p>
</div>
<table id="data-exchange-limango" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Frequency of data exchange</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data</th>
<th class="tableblock halign-left valign-top">Interval</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Item data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item export</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>once a day</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock synchronisation</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hourly<br>
<strong><em>Tip:</em></strong> For technical reasons, shorter stock update intervals are not possible. Set a <a href="#300">stock buffer</a> to prevent overselling.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price synchronisation</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Hourly</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Order data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order import</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Every 15 minutes<br>
<strong><em>Note:</em></strong> Customers make their payments to limango. As such, all orders are imported with the status <strong>[5] Paid</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="220">3. Workflow of a limango order</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>Your products are listed in the limango marketplace. The name of your company is shown with your products.</p>
</li>
<li>
<p>Customers place an order on limango.</p>
</li>
<li>
<p>Customers make their payments to limango.</p>
</li>
<li>
<p>→ The order is imported to plentymarkets.<br>
<strong><em>Note:</em></strong> Because customers make their payments to limango, orders are imported with the status <strong>[5] Paid</strong>.</p>
</li>
<li>
<p>When you receive the order, you ship the products (drop shipping).</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="170">4. Installing the limango plugin</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To connect to limango in plentymarkets, install the <a href="https://marketplace.plentymarkets.com/en/limango_7023" target="_blank" rel="noopener">limango plugin</a> in your plentymarkets system. You can download the plugin in the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Adding and installing the plugin <strong>limango</strong> in your plentymarkets system</div>
<div class="content">
<div class="paragraph instruction">
<p>Adding plugin to the system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » plentyMarketplace</strong>.<br>
→ The marketplace opens in a new tab.</p>
</li>
<li>
<p>Navigate to the plugin <strong>limango</strong>.<br>
<strong><em>Tip:</em></strong> Either use the search function or open the category <strong>Plugins » Sales » Marketplaces</strong>.</p>
</li>
<li>
<p>Open the detail view of the plugin.</p>
</li>
<li>
<p>In the column to the right, click on <strong>Go to checkout</strong>.<br>
→ The <strong>Checkout</strong> window opens.</p>
</li>
<li>
<p>Read and accept the General Terms and Conditions.</p>
</li>
<li>
<p>Click on <strong>Order now</strong>.<br>
→ Wait a few minutes before installing the plugin.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Click on the plugin set in which you want to install the plugin.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>limango</strong> from the plugin list.</p>
</li>
<li>
<p>Click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ The plugin set is shown.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
<strong><em>Tip:</em></strong> Problems saving the plugin set? Click on <strong>Open details</strong> to show additional information.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">5. Setting up limango</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After you have installed the limango plugin, set up the market in the plugin settings. Keep the login details at hand that you received from limango.</p>
</div>
<div class="paragraph instruction">
<p>Setting up limango:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.<br>
→ The list of plugin sets is shown.</p>
</li>
<li>
<p>Click on the plugin set in which you have installed the limango plugin.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on the plugin <strong>limango</strong>.<br>
→ The plugin settings open.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#limango-setup">Table 2</a>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings in each area in which you made changes.</p>
</li>
</ol>
</div>
<table id="limango-setup" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Setting up limango</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>SFTP credentials</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Host</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter <code>ftp-partner.limango.de</code>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter port <code>22</code>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User name</strong><br>
<strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>You will receive these credentials from limango.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Stock export</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The stock of all warehouses is exported to limango. Enter a whole number to reduce the exported stock information by the entered amount.<br>
<strong><em>Note:</em></strong> Stock information is exported to limango once per hour. For technical reasons, shorter stock update intervals are not possible. Use the stock buffer to prevent overselling.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Information</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer ID created by plugin</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The ID of the order referrer <strong>limango</strong> that is created automatically when you install the plugin. The ID is filled in automatically.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status of last price export</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>1</strong> = The prices were exported to limango. You can check the last time the export was successful <strong>Timestamp of last successful price export</strong>.</p>
</li>
<li>
<p><strong>2</strong> = The last price export failed.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Time of last successful price export</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The timestamp of the last successful price export.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Order status</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status for orders with items that cannot be linked to items in plentymarkets (&gt;= 5)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter an order status of 5 or higher. This status is assigned to orders that contain one or more items that no longer exist in plentymarkets. For example, this can happen if a customer orders an item on limango that was deleted in plentymarkets after the last item export to limango.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status for orders without shipping carrier mapping (&gt; 5 - &lt; 7)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which status is assigned to orders if the shipping service provider in the order is not linked to a shipping service provider in plentymarkets?</p>
</div>
<div class="paragraph">
<p><strong><em>The selected status must be:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Greater than 5</p>
</li>
<li>
<p>Less than 7</p>
</li>
<li>
<p>Less than the status for <strong>Order status for orders with shipping carrier mapping (&gt; 5 - &lt; 7)</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>After correcting the shipping carrier mapping, move orders with this status into the status for <strong>Order status for orders with shipping carrier mapping (&gt; 5 - &lt; 7)</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status for orders with shipping carrier mapping (&gt; 5 - &lt; 7)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which status is assigned to orders if the shipping service provider in the order is linked to a shipping service provider in plentymarkets?</p>
</div>
<div class="paragraph">
<p><strong><em>The selected status must be:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Greater than 5</p>
</li>
<li>
<p>Less than 7</p>
</li>
<li>
<p>Greater than the status for <strong>Order status for orders without shipping carrier mapping (&gt; 5 - &lt; 7)</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Shipping service provider</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DHL</strong>;<br>
<strong>Hermes</strong>;<br>
<strong>UPS</strong><br>
etc.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>For each shipping service provider that you want to offer for limango orders, enter the ID of the shipping service provider in plentymarkets.<br>
<strong><em>Tip:</em></strong> Go to <strong>Setup » Orders » Shipping » Settings » Tab: Shipping service provider</strong> to find the ID of your shipping service providers in the column <strong>ID</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Client selection</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plenty ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the plenty ID of a client. limango orders are imported for this client.<br>
→ The order documents for this client are used during order processing.<br>
If you do not enter a client, the default client is used for importing orders.
<strong><em>Tip:</em></strong> The plenty ID of your clients is saved in the <strong>Setup » Client » [Select client] » Settings » Option: Plenty ID</strong> menu.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">6. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with limango. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for limango:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>limango</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">7. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sales prices define the conditions under which a variation is sold at a specific price and on a specific sales channel. That means that to sell variations on limango, you need a sales price in which the order referrer limango is activated. The price that you save for this sales price is the price that will be shown on limango.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for limango:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price]</strong>.<br>
<strong><em>Tip:</em></strong> No sales prices? Then create a <a href="/en/item/settings/prices#100">new sales price</a> first.</p>
</li>
<li>
<p>Open the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Activate the referrer <strong>limango</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="550">8. Activating the referrer in shipping profiles</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Now activate limango in the shipping profiles that you want to offer for this market.</p>
</div>
<div class="paragraph instruction">
<p>Activating referrer limango in the shipping profile:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Shipping » Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Shipping profiles</strong> tab.</p>
</li>
<li>
<p>Click on the shipping profile.<br>
<strong><em>Tip:</em></strong> No shipping profiles? Learn how to create shipping profiles <a href="/en/fulfilment/preparing-the-shipment#1000">here</a>.</p>
</li>
<li>
<p>For the setting <strong>Order referrer</strong>, activate the option <strong>limango</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The shipping profile is available for orders with the referrer limango.</p>
</li>
<li>
<p>If necessary activate the referrer in additional shipping profiles.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">9. Setting up the item export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Item data is exported to limango via a catalogue format. Go to <strong>Data » Catalogues</strong> to create catalogues.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Is this your first time working with catalogues? Then read up on the <a href="#en/data/exporting-data/managing-catalogues">basic concept of the plentymarkets catalogues first</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>To export your item data to limango, you need to create a catalogue. Link the limango data fields with the item data saved in plentymarkets in the marketplace format afterwards. After you activate the catalogue, the catalogue data is automatically exported to limango in regular intervals.</p>
</div>
<div class="sect2">
<h3 id="901">9.1. Notes on the limango item data structure</h3>
<div class="paragraph">
<p>The structure of limango item data differs from the structure in plentymarkets. The limango item data is categorised into three levels:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>Product group:</strong> A product in all its different versions</p>
</li>
<li>
<p><strong>Product:</strong> A colour version of the product</p>
</li>
<li>
<p><strong>Variation:</strong> The size / EAN / SKU</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If the product is only available in a single version, then the product group is equivalent to the variant.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Use the parent-SKU</div>
<div class="paragraph">
<p>Do you sell products in different colours but manage these different colours in separate items? The parent SKU allows you to link these separate items. Parent SKUs can be saved for both items and individual variations. The manual maintenance of SKUs allows you to assign the Parent SKU of entirely different item variations to variations of an item.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>You can assign the Parent SKU of a variation which belongs to an entirely different item five times to an item with five variations. These variations are listed on limango as variations of the item with the Parent SKU they are assigned to.<br></p>
</li>
<li>
<p>If one variation has a different Parent SKU than the remaining variations of an item, then two different items are listed on limango. You only have to maintain one item in your plentymarkets system.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="902">9.2. Creating a catalogue</h3>
<div class="paragraph">
<p>Item data is exported to limango via catalogue using the marketplace format <strong>limango</strong>. Create a catalogue in the <strong>Data » Catalogue</strong> menu to export your items to limango. Map the limango data fields to item data saved in plentymarkets in the marketplace format afterwards.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Is this your first time working with catalogues? Then read up on the <a href="#en/data/exporting-data/managing-catalogues">basic concept of the plentymarkets catalogues first</a>.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
You can create only one catalogue for limango. Multiple catalogues are currently not supported for limango.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on <strong>Create catalogue</strong>.</p>
</li>
<li>
<p>Enter a name for the catalogue.</p>
</li>
<li>
<p>In the drop-down list <strong>Export type</strong>, select the option <strong>limango</strong>.<br>
<strong><em>Note:</em></strong> The export type <strong>limango</strong> is only shown when the plugin limango is installed.</p>
</li>
<li>
<p>In the drop-down list <strong>Format type</strong>, select the option <strong>Item</strong>.</p>
</li>
<li>
<p>In the drop-down list <strong>Format</strong>, select the option <strong>limango</strong>.<br>
<strong><em>Tip:</em></strong> You can only create one catalogue for this market. Thus, the only format you can select is the name of the market.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The catalogue is created.<br>
→ The catalogue is opened for editing.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Other catalogue settings are optional</div>
<div class="paragraph">
<p>In addition to the basic settings, the catalogue settings also contain options for <strong>Format settings</strong>, <strong>Export settings</strong> and <strong>Download settings</strong>. These optional settings allow you to create a file with the item data that is exported to the market at regular intervals. If you do not want to create such a file, you can ignore the settings. These settings do not impact the export to the market.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="903">9.3. Mapping catalogue fields</h3>
<div class="paragraph">
<p>After you have created a catalogue, map the market’s data fields to item data saved in plentymarkets. This chapter describes how you map data fields and what particularities apply for item exports to limango. In addition, we provide recommendations for suitable mappings. This information is structured as follows:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#907">Mapping data fields in the catalogue</a></p>
</li>
<li>
<p><a href="#905">Notes on mapping data fields</a></p>
</li>
<li>
<p><a href="#906">Recommendations for limango data field mapping</a></p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="907">9.3.1. Mapping data fields in the catalogue</h4>
<div class="paragraph">
<p>Now, map the limango data fields to the item data saved in plentymarkets. Take note of the information regarding specific mappings and recommendations in this chapter.</p>
</div>
<div class="paragraph instruction">
<p>Mapping catalogue fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The <strong>Mapping</strong> tab opens.<br>
→ In the left-hand column, the market’s data fields are listed.<br>
<strong><em>Tip:</em></strong> Mandatory fields are flagged with an asterisk (*).<br>
→ In the right column, you map the plentymarkets data fields. Any plentymarkets data fields that are already assigned are also shown in the right column.</p>
</li>
<li>
<p>Now, map suitable plentymarkets data fields to the market data fields.<br>
You can choose from the following mappings which are described in the info boxes below:</p>
<div class="ulist">
<ul>
<li>
<p><strong>1:1 mapping</strong></p>
</li>
<li>
<p><strong>1:1 mapping with fallback data fields</strong></p>
</li>
<li>
<p><strong>1:n mapping</strong></p>
</li>
<li>
<p><strong>Own value mapping</strong></p>
</li>
</ul>
</div>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the catalogue.<br>
→ The mappings are saved.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:1 mapping:</strong> 1 marketplace data field, 1 plentymarkets data field</div>
<div class="content">
<div class="paragraph">
<p>In a 1:1 mapping, you map a plentymarkets data field to the marketplace data field.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to fill this marketplace data field with the data from this plentymarkets setting.</p>
</li>
<li>
<p>If the data field is empty for a variation, no value is exported for this variation.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a 1:1 mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:1 mapping with fallback data fields:</strong> 1 marketplace data field, 1 plentymarkets data field with alternatives</div>
<div class="content">
<div class="paragraph">
<p>In a 1:1 mapping with a fallback data field, you map a plentymarkets data field to the marketplace data field. In addition, you specify one or more fallback data fields. This ensures that the system keeps looking if the first plentymarkets data field is empty or contains an invalid value.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to fill this marketplace data field with the data from this plentymarkets setting.</p>
</li>
<li>
<p>If the data field is empty or invalid for a variation, the first fallback data field is checked and the value of that fallback data field is exported instead.</p>
</li>
<li>
<p>If the first fallback data field also is empty or invalid for a variation, the value of the second fallback data field is exported and so on.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a 1:1 mapping with a fallback data field:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>In the list of plentymarkets data fields, click on the plus icon next to the plentymarkets data field that you want to map.<br>
→ The fallback data field is exported when the first data field does not exist or is empty.<br>
<strong><em>Note:</em></strong> Even if you map one or more fallback data fields to a marketplace data field, only one value is exported for each variation. For each variation, the plentymarkets data fields are checked in the order in which you mapped them. This means that if the first data field does not provide a value for a variation, the first fallback data field is exported etc.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>1:n mapping:</strong> 1 marketplace data field, several concatenated plentymarkets data fields</div>
<div class="content">
<div class="paragraph">
<p>In a 1:n mapping, you map several plentymarkets data fields to the marketplace data field. You can link these data fields with a separator.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>I want to combine these plentymarkets data fields during export so that the marketplace data field is filled with the data of these two or more plentymarkets settings.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a 1:n mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated plentymarkets data fields.<br>
→ The plentymarkets data fields are shown.</p>
</li>
<li>
<p>Click on the plus to the right of the plentymarkets data field you want to select.<br>
→ The plentymarkets data field is added to the right.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
<li>
<p>To the right of the mapped plentymarkets data field, click on <strong>Add data field</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).<br>
→ To the left, the list of available plentymarkets data fields again are shown in groups.</p>
</li>
<li>
<p>Map one or several additional plentymarkets data fields to the marketplace data field as described above.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong>.</p>
</li>
<li>
<p>To the very right of the row, click on <strong>Settings</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Select a separator from the drop-down list <strong>Separator</strong> or add a custom separator.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the catalogue.<br>
→ The mappings are saved.<br>
→ During the export, the content of the plentymarkets data fields is combined and exported as one field.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Own value mapping:</strong> 1 marketplace data field, the same value for all variations</div>
<div class="content">
<div class="paragraph">
<p>You are sure that you want to export the same value for all variations of a catalogue for a marketplace data field? Then specify an own value. This own value is then exported for all variations.</p>
</div>
<div class="paragraph">
<p>So this mapping specifies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>For this marketplace data field, I want to export the value that I entered in the field <strong>Own value</strong> for <em>all</em> variations of this catalogue.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating an own value mapping:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Next to the marketplace data field, click on <strong>+ Add data field</strong>.<br>
→ To the left, the list of available plentymarkets data fields are shown in groups.</p>
</li>
<li>
<p>Click on the plus next to <strong>Own value</strong> at the top of the list.<br>
→ The field for the own value is added to the view.</p>
</li>
<li>
<p>Enter a value into the input field.<br>
→ This value is exported for all variations.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Example:</em></strong> Diameter information</p>
</div>
<div class="paragraph">
<p>You want to export diameter information for some of your variations. The diameter is saved in centimetres for all your variations. Instead of creating a property for the unit and linking this property to the variations, you can enter the own value <code>cm</code>.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="XXXX">10. Activating the catalogue export to XXXX</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Unresolved directive in _textblocks/catalogues/instructions/catalogue-activation.adoc - include::../_textblocks/catalogues/instructions/catalogue-activation.adoc[]</p>
</div>
<div class="paragraph">
<p>Unresolved directive in _textblocks/instructions/variation-availability.adoc - include::_textblocks/instructions/variation-availability.adoc[]</p>
</div>
</div>
</div>
</main>