<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Mediamarkt</h1><p>Welcome to the topic Mediamarkt. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/markets/mediamarkt/first-steps">First steps</a></li><li><a href="/en/markets/mediamarkt/mediamarkt-setup">Setting up Mediamarkt</a></li><li><a href="/en/markets/mediamarkt/automatic-data-exchange">Automatic product and order data exchange</a></li><li><a href="/en/markets/mediamarkt/automated-order-processing">Setting up automated order processing</a></li></ul>
</main>