<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Mercateo</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Mercateo in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the variation availability</span></a></li>
<li><a href="#400"><span>5.</span><span> Exporting items and item images</span></a></li>
<li><a href="#500"><span>6.</span><span> Defining a sales price</span></a></li>
<li><a href="#600"><span>7.</span><span> Viewing the export history</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Mercateo</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.mercateo.co.uk/c/?ViewName=live_gb~secureMode&amp;switchToCountry=gb&amp;chooseGeo=true" target="_blank" rel="noopener">Mercateo</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is one of the leading procurement platforms for business customers. At Mercateo, customers can find an extensive range in various product categories. The assortment ranges from office supplies to laboratory materials, IT and tools to hotel and gastronomy equipment.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Mercateo</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://www.mercateo.com/login/register?locale=en-GB&amp;geoArea=gb&amp;registration=customer&amp;state=https%253A%252F%252Fwww.mercateo.co.uk%252F%253FviewOptions%253DsecureMode.1&amp;sid3=5.147.251.210.1453969975031158" target="_blank" rel="noopener">Register</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> with Mercateo to receive your access data. The access data is required for the settings in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Mercateo in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before you can set up Mercateo in plentymarkets, you need to have data for the FTP server that is to be used for the upload to Mercateo, as well as an email account for the order import.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Mercateo in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Mercateo » Settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#basic-settings-mercateo">Table 1</a>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="basic-settings-mercateo" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Basic settings for the market Mercateo</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate the automatic data exchange</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate in order to automatically exchange data with Mercateo.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">General</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether the <strong>Variation ID</strong> or the <strong>Variation No.</strong> should be used for the item data.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer item number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Only select <strong>Yes</strong> if you are the manufacturer of the item. The selection that you make in the <strong>Item ID</strong> drop-down list does not affect the option here. For example, if you are the manufacturer of the item and you have already selected a variation number above, then you still have to select the option <strong>Yes</strong> here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Name 1</strong>, <strong>Name 2</strong>, <strong>Name 3</strong> or <strong>Variation name</strong>. This name is displayed on Mercateo.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add attribute value to item name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Yes</strong> if the attribute value should be displayed behind the item name on Mercateo.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select which item description should be transferred to Mercateo.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Consider variation link for image export</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Only export variation images and general item images (images that are not linked to a variation).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Input</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FTP server</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the URL of the FTP server for the data upload to Mercateo.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FTP user</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the user name of the FTP server.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FTP password</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the password of the FTP server.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Retrieval</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the user name for the order retrieval.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the password for the order retrieval.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IMAP server</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the server address for the order retrieval.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the port.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Encryption</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the encryption. Allowed values:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>SSL</p>
</li>
<li>
<p>TLS</p>
</li>
<li>
<p>NOTLS</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Other catalogues</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suffix synchronisation No. 2 - 4</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the <strong>suffixes</strong> for the additional catalogue of items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the <strong>order referrer</strong> for the import of orders.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatic retrieval</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate in order to automatically retrieve orders.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Updates</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatic price update</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate in order to update the item prices on a hourly basis.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatic delivery status update</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate in order to automatically update the delivery status.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic functions to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Data exchange</p>
</li>
<li>
<p>Order import</p>
</li>
<li>
<p>Hourly price synchronisation</p>
</li>
<li>
<p>Delivery status synchronisation</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with Mercateo, you have to activate the order referrer Mercateo in the <strong>Setup » Orders » Order referrer</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Mercateo:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the referrer <strong>Mercateo</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate all variations that you want to sell on Mercateo. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » [Open item] » [Open variation]</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Selling all variations of an item on Mercateo</div>
<div class="paragraph">
<p>If you want to sell all variations of an item on Mercateo, carry out the settings below for the item’s main variation. All other variations of the item then inherit the settings of the main variation.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Activating the variation availability for Mercateo:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation]</strong>.<br>
→ The tab <strong>Settings</strong> of the variation is shown.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, active the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field. <br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>Mercateo</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. Exporting items and item images</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Setup » Markets » Mercateo » Data export</strong> menu, you can export your items and item images to Mercateo.</p>
</div>
<div class="paragraph instruction">
<p>Exporting items:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Mercateo » Data export</strong>.</p>
</li>
<li>
<p>Click on <strong>Export item data</strong>.<br>
→ The item data is exported to Mercateo.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can also export item images to Mercateo. A maximum of 500 images can be uploaded at once. Allowed data formats are <strong>JPG</strong>, <strong>PNG</strong>, and <strong>GIF</strong>. No image is uploaded twice.</p>
</div>
<div class="paragraph instruction">
<p>Exporting item images:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Mercateo » Data export</strong>.</p>
</li>
<li>
<p>Click on <strong>Export 500 item images</strong>.<br>
→ The item images are exported to Mercateo.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">6. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sales prices define the conditions under which a variation is sold at a specific price and on a specific sales channel. That means that to sell variations on {referrer}, you need a sales price in which the order referrer {referrer} is activated. The price that you save for this sales price is the price that will be shown on {referrer}.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for {referrer}:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price]</strong>.<br>
<strong><em>Tip:</em></strong> No sales prices? Then create a <a href="/en/item/settings/prices#100">new sales price</a> first.</p>
</li>
<li>
<p>Open the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Activate the referrer <strong>{referrer}</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">7. Viewing the export history</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An overview of exported images is displayed in the <strong>Setup » Markets » Mercateo » Export history</strong> menu. The images are displayed on different pages. 25 images can be displayed per page.</p>
</div>
<div class="paragraph instruction">
<p>Selecting a page:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Mercateo » Export history</strong>.</p>
</li>
<li>
<p>Select a <strong>page</strong> from the drop-down list.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong> to display the page.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The images are displayed along with the corresponding item ID and time of export. It is not possible to export an image more than once. However, if you would like to update an image, e.g. after changes have been made to it, then click on <strong>Delete</strong> in the <strong>Release item image</strong> column. Then export this image again in the <strong>Item images export</strong> area of the <strong>Setup » Markets » Mercateo » Data export</strong> menu.</p>
</div>
</div>
</div>
</main>