<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> About Mediamarkt</span></a></li>
<li><a href="#200"><span>2.</span><span> Registering with Mediamarkt</span></a></li>
<li><a href="#_about_automatic_data_exchange"><span>3.</span><span> About automatic data exchange</span></a></li>
<li><a href="#600"><span>4.</span><span> Activating the order referrer</span></a></li>
<li><a href="#500"><span>5.</span><span> Defining a sales price</span></a></li>
<li><a href="#1200"><span>6.</span><span> Creating properties</span></a>
<ul class="sectlevel2">
<li><a href="#1210"><span>6.1.</span><span> Creating the logistics class property</span></a></li>
<li><a href="#1220"><span>6.2.</span><span> Creating the leadtime to ship property</span></a></li>
<li><a href="#1230"><span>6.3.</span><span> Creating the reverse charge property</span></a></li>
</ul>
</li>
<li><a href="#1300"><span>7.</span><span> Generating the API key</span></a></li>
<li><a href="#1400"><span>8.</span><span> Carrying out account settings in the assistant</span></a></li>
<li><a href="#900"><span>9.</span><span> Setting up the item export</span></a>
<ul class="sectlevel2">
<li><a href="#1240"><span>9.1.</span><span> Creating additional properties</span></a></li>
<li><a href="#902"><span>9.2.</span><span> Creating a catalogue in the assistant</span></a></li>
<li><a href="#map-data-fields"><span>9.3.</span><span> Mapping data fields in the catalogue</span></a></li>
</ul>
</li>
<li><a href="#475"><span>10.</span><span> Linking variations to a Mediamarkt catalogue category</span></a>
<ul class="sectlevel2">
<li><a href="#_linking_properties_with_variations_and_saving_values"><span>10.1.</span><span> Linking properties with variations and saving values</span></a></li>
<li><a href="#Mediamarkt"><span>10.2.</span><span> Activating the catalogue export</span></a></li>
</ul>
</li>
<li><a href="#700"><span>11.</span><span> Setting the variation availability</span></a></li>
<li><a href="#480"><span>12.</span><span> Setting up event procedures</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Mediamarkt</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Download the Mediamarkt plugin</div>
<div class="paragraph">
<p>You need a plugin to link plentymarkets to Mediamarkt. Visit the <a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/Mediamarkt_Mediamarkt" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to download the Mediamarkt plugin.</p>
</div>
<div class="paragraph">
<p>To use the Mediamarkt plugin, you also need the Mirakl Connector plugin. You can download Mirakl from plentyMarketplace as well.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph collapseBox">
<p>Installing Mirakl Connector</p>
</div>
<div class="openblock">
<div class="content">
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>Mirakl Connector</strong> from the plugin list.<br>
→ Information about <strong>Mirakl Connector</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="paragraph collapseBox">
<p>Installing Mediamarkt</p>
</div>
<div class="openblock">
<div class="content">
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>Mediamarkt</strong> from the plugin list.<br>
→ Information about <strong>Mediamarkt</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. About Mediamarkt</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The Mediamarkt Plugin connects the marketplace Mediamarkt with your plentymarkets system. This enables you to automatically exchange item and order data between plentymarkets and Mediamarkt. This way, you can list your items on Mediamarkt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Registering with Mediamarkt</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need your Mediamarkt access data consisting of the user name and password. You will receive this data from Mediamarkt. First, you need to become a <a href="https://www.mediamarkt.de/de/about-us/marketplace" target="_blank" rel="noopener">Mediamarkt</a> and create a Mediamarkt account.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_about_automatic_data_exchange">3. About automatic data exchange</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After installing and setting up the plugin, the automatic processes described in <a href="#data-exchange-Mediamarkt">[data-exchange-Mediamarkt]</a> become available:</p>
</div>
<div class="paragraph">
<p><a id="data-exchange-Mediamarkt"></a></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Frequency of data exchange</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data</th>
<th class="tableblock halign-left valign-top">Interval</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Item data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item export</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>daily</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock synchronisation</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Every 15 minutes</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price synchronisation</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Every 15 minutes</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Order data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order import</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Every 15 minutes</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">4. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with Mediamarkt. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Mediamarkt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the Mediamarkt.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer Mediamarkt. This price is displayed on Mediamarkt.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Mediamarkt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price] » Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the referrer <strong>Mediamarkt</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">6. Creating properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Using properties, you can export fields to the marketplace that aren’t defined in plentymarkets by default. You can create the properties that are specified by Mediamarkt in the <strong>Setup » Settings » Properties » Configuration</strong> menu.</p>
</div>
<div class="paragraph">
<p>For further information on properties, refer to the <a href="/en/item/settings/properties#500">Characteristics and properties</a> page.</p>
</div>
<div class="paragraph">
<p>For Mediamarkt, you need the following properties:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Logistics class (Logistikklasse, <a href="#1210">click for details</a>)</p>
</li>
<li>
<p>Leadtime to ship (Versandvorlaufzeit, <a href="#1220">click for details</a>)</p>
</li>
<li>
<p>Reverse charge (<a href="#1230">click for details</a>)</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="1210">6.1. Creating the logistics class property</h3>
<div class="paragraph">
<p>For each variation, you need to export a shipping profile code to Mediamarkt. You can configure shipping profiles in the Mirakl back end. For a list of shipping profiles, refer to the <strong>Informations » Carrier costs</strong> menu in the Mirakl back end. You can find the code in the <strong>Logistics class</strong> column in brackets behind the name of the logistics class.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to create the property Logistics class (Logistikklasse).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Creating the property Logistics class (Logistikklasse)</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.<br>
→ The overview of the properties opens.</p>
</li>
<li>
<p>Click on <strong>Add property</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Carry out the settings as described in <a href="#table-Mediamarkt-Logistics class (Logistikklasse)">[table-Mediamarkt-Logistics class (Logistikklasse)]</a>.</p>
</li>
<li>
<p>Enter a position number for the property.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The property is created and opened for editing.</p>
</li>
<li>
<p>Carry out any additional settings as described in <a href="#table-Mediamarkt-Logistics class (Logistikklasse)">[table-Mediamarkt-Logistics class (Logistikklasse)]</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The settings are saved.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Property Logistics class (Logistikklasse)</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setting</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Option</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Section</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Item</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Short text</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Mediamarkt logistics class</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a group.<br>
<strong><em>Tip:</em></strong> Create the property group <strong>Mediamarkt</strong>, to sort and manage all properties for this market.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a position.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1220">6.2. Creating the leadtime to ship property</h3>
<div class="paragraph">
<p>For each variation, you need to export a leadtime to ship in days to Mediamarkt. This way, you can tell Mediamarkt how many days you need to ship a variation. Mediamarkt accepts values between 1 and 45.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to create the property Leadtime to ship (Versandvorlaufzeit).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Creating the property Leadtime to ship (Versandvorlaufzeit)</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.<br>
→ The overview of the properties opens.</p>
</li>
<li>
<p>Click on <strong>Add property</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Carry out the settings as described in <a href="#table-Mediamarkt-Leadtime to ship (Versandvorlaufzeit)">[table-Mediamarkt-Leadtime to ship (Versandvorlaufzeit)]</a>.</p>
</li>
<li>
<p>Enter a position number for the property.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The property is created and opened for editing.</p>
</li>
<li>
<p>Carry out any additional settings as described in <a href="#table-Mediamarkt-Leadtime to ship (Versandvorlaufzeit)">[table-Mediamarkt-Leadtime to ship (Versandvorlaufzeit)]</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The settings are saved.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Property Leadtime to ship (Versandvorlaufzeit)</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setting</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Option</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Section</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Item</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Short text</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Mediamarkt leadtime to ship (Versandvorlaufzeit)</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a group.<br>
<strong><em>Tip:</em></strong> Create the property group <strong>Mediamarkt</strong>, to sort and manage all properties for this market.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a position.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1230">6.3. Creating the reverse charge property</h3>
<div class="paragraph">
<p>For each variation, you need to specify if the reverse charge mechanism applies to this variation for cross-border business processes. Mediamarkt accepts the values <strong>true</strong> and <strong>false</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>false = The reverse charge mechanism isn’t applied.</p>
</li>
<li>
<p>true = The reverse charge mechanism is applied. This means that instead of you, your customers have to pay VAT to the tax authorities.<br>
<strong><em>Note:</em></strong> Observe the legal requirements for the reverse charge mechanism and consult your tax adviser on the details.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Proceed as described below to create the property Reverse charge.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Creating the property Reverse charge</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.<br>
→ The overview of the properties opens.</p>
</li>
<li>
<p>Click on <strong>Add property</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Carry out the settings as described in <a href="#table-Mediamarkt-Reverse charge">[table-Mediamarkt-Reverse charge]</a>.</p>
</li>
<li>
<p>Enter a position number for the property.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The property is created and opened for editing.</p>
</li>
<li>
<p>Carry out any additional settings as described in <a href="#table-Mediamarkt-Reverse charge">[table-Mediamarkt-Reverse charge]</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The settings are saved.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Property Reverse charge</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setting</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Option</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Section</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Item</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Short text</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Mediamarkt reverse charge</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a group.<br>
<strong><em>Tip:</em></strong> Create the property group <strong>Mediamarkt</strong>, to sort and manage all properties for this market.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a position.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">7. Generating the API key</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To create the connection for Mediamarkt between plentymarkets and Mirakl, you need an API key. To generate the API key, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Generating the API key:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the Mirakl back end.</p>
</li>
<li>
<p>Click on the user icon (<span class="icon "><i class="fa fa-user  "></i></span>).</p>
</li>
<li>
<p>Go to the <strong>API keys</strong> tab.</p>
</li>
<li>
<p>Generate a new API key for Mediamarkt.</p>
</li>
<li>
<p>Copy the API key to your clipboard. You need this key to set up your Mediamarkt account in plentymarkets.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">8. Carrying out account settings in the assistant</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Mediamarkt - Wizard</strong> assistant in the <strong>Setup » Assistants » Plugins » [Select plugin set]</strong> to set up your {marketplace account in plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out settings in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Plugins »</strong> <em>Select plugin set</em>.</p>
</li>
<li>
<p>Click on the assistant <strong>Mediamarkt</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the Info box shown below this instruction (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to makes sure they are correct.<br>
<strong><em>Tip:</em></strong> Click on the arrow in the step <strong>Summary</strong> (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The settings are saved.<br></p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Options in the assistant</div>
<div class="content">
<div class="paragraph">
<p><a id="table-Mediamarkt-basic-settings-assistant"></a></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Authentication</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">API Environment</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select an API environment from the drop-down list. Get in touch with your contact person at Mediamarkt to confirm which API environment you should select.<br>
<strong><em>Note:</em></strong> If you switch to another API environment, e.g. from Productive to Test mode, you need to generate a new <a href="#1300">API key</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">API key</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the <a href="#1300">API key</a> that you generated.<br>
<strong><em>Note:</em></strong> If you switch to another API environment, e.g. if you switch from Productive to Test mode, you need to generate a new <a href="#1300">API key</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Data exchange</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Data exchange</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select processes for data exchange. This selection determines which data is exchanged between plentymarkets and Mirakl.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Refund mapping</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Refund mapping</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Map the refund reasons of Mediamarkt to plentymarkets order statuses.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Add new entry</strong>.<br>
→ A new line is inserted.</p>
</li>
<li>
<p>From the drop-down list on the left, select the plentymarkets status.</p>
</li>
<li>
<p>From the drop-down list on the right, select a Mediamarkt refund reason.<br>
The following reasons can be sent to Mediamarkt:<br></p>
<div class="ulist">
<ul>
<li>
<p>15 = Out of stock</p>
</li>
<li>
<p>16 = Cancelled by client prior to shipping</p>
</li>
<li>
<p>17 = Item returned</p>
</li>
<li>
<p>18 = Item not received</p>
</li>
<li>
<p>19 = Agreement found with the vendor</p>
</li>
</ul>
</div>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Cancellation mapping</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Cancellation mapping</p></td>
<td class="tableblock halign-left valign-top"><div class="content"></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Warehouse selection</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse selection</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the warehouse you want to use for stock export.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Shipping profile mapping</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping profile mapping</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>For each shipping profile in plentymarkets, enter the corresponding abbreviation of the shipping service provider. To find the abbreviations, go to <strong>Information » Shipping</strong> in Mirakl.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step <strong>Offer properties mapping</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Offer properties mapping</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>From the drop-down list <strong>Reverse charge</strong>, select the property <strong>Mediamarkt Reverse charge</strong>.<br>
From the drop-down list <strong>Lead time to ship</strong>, select the property <strong>Mediamarkt Leadtime to ship</strong>.<br>
From the drop-down list <strong>Logistic class</strong>, select the property <strong>Mediamarkt Logistic class</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="900">9. Setting up the item export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Item data is exported to Mediamarkt via marketplace catalogues. Go to <strong>Data » Catalogs</strong> to create catalogues. Is this your first time working with catalogues? Then read up on the basic principle of <a href="#en/data/exporting-data/managing-catalogues">catalogues first</a>.</p>
</div>
<div class="paragraph">
<p>If you want to sell your products in multiple Mediamarkt product categories, create a separate catalogue for each of them. Link the Mediamarkt data fields with the item data saved in plentymarkets in the marketplace format afterwards. Once you’ve activated a catalogue, plentymarkets automatically exports the catalogue templates to Mediamarkt daily.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Error log</div>
<div class="paragraph">
<p>If there’s a problem during export, you can find the related log entries on Mirakl and not the plentymarkets log.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1240">9.1. Creating additional properties</h3>
<div class="paragraph">
<p>In addition to the properties described <a href="#1200">previously</a>, you need properties for all data fields of the marketplace whose data you want to export, but that don’t exist in plentymarkets by default. For further information on the properties you need, check the documentation of the marketplace. Is this your first time working with properties? For further information, refer to the <a href="/en/welcome/general-functions/properties">Properties</a> page of the manual.</p>
</div>
</div>
<div class="sect2">
<h3 id="902">9.2. Creating a catalogue in the assistant</h3>
<div class="paragraph instruction">
<p>Creating a catalogue in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Setup » Assistants » Plugins »</strong> <em>Select plugin set</em>..</p>
</li>
<li>
<p>Click on the assistant <strong>Mediamarkt Catalogue</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the Info box below this instruction (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to makes sure they are correct.<br>
<strong><em>Tip:</em></strong> Click on the arrow in the step <strong>Summary</strong> (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The catalogue is created.</p>
</li>
<li>
<p>Map the fields in the <strong>Data » Catalogues</strong> menu.<br>
<strong><em>Note:</em></strong> pass:quotes[Only select bottom level categories. You can find a better overview of the category hierarchy on Miracle by going to *My account » My product data settings*.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Options in the assistant</div>
<div class="content">
<div class="paragraph">
<p><a id="table-Mediamarkt-catalogue-assistant"></a></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Settings</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a Mediamarkt category for offering your items. Then, enter a name for the corresponding category in plentymarkets.<br>
pass:quotes[Only select bottom level categories. You can find a better overview of the category hierarchy on Miracle by going to *My account » My product data settings*.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="map-data-fields">9.3. Mapping data fields in the catalogue</h3>
<div class="paragraph">
<p>After you have created a catalogue, map the market’s data fields to item data saved in plentymarkets. Check the documentation of the sales channel to find out what data the market expects for the individual data fields.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Using properties</div>
<div class="paragraph">
<p>Use <a href="/en/item/managing-items#4800">properties</a> to export values for marketplace data fields that have no corresponding field in plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Mapping data fields in the catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The <strong>Mapping</strong> tab with the market data fields opens.<br>
→ In the left-hand column, the market’s data fields are listed.<br>
<strong><em>Tip:</em></strong> Mandatory fields are flagged with an asterisk (*).</p>
</li>
<li>
<p>To the right of the first marketplace data field, click on <strong>Add data field</strong>.<br>
→ To the left, the plentymarkets data fields are listed in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated data fields.<br>
→ The data fields are shown.</p>
</li>
<li>
<p>Next to the data field you want to select, click on the plus.<br>
→ The data field is added to the view.<br>
<strong><em>Optional:</em></strong> Do you want to export a fixed value for every variation for one of the market data fields?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Click on the plus next to <strong>Own value</strong>.<br>
→ The field for the own value is added to the view.</p>
</li>
<li>
<p>Enter a value into the input field.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Click on the X to close the editing mode.<br>
→ The data field is mapped.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Do you want to export two or more plentymarkets fields for a single marketplace data field?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>To the right of the data field you just mapped, click on <strong>Add data field</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).</p>
</li>
<li>
<p>Map an additional plentymarkets data field to the marketplace data field as described above.</p>
</li>
<li>
<p>To the right of the column, click on <strong>Settings</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Select a separator from the drop-down list <strong>Separator</strong> or add a custom separator.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The additional data field is mapped. During the export, the content of the two plentymarkets data fields is combined and exported as one field.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Optional:</em></strong> Click on <strong>Add fallback data field</strong> to select a data field that is exported in case another one is not available or empty. You can also add more than one fallback data field.<br>
<strong><em>Note:</em></strong> Even if you assign a fallback data field to a market data field, only one value is exported. The fields are checked in the order in which you mapped them. This means that if the first data field does not provide a value, the first fallback data field is exported etc.</p>
</li>
<li>
<p>Repeat this mapping for all data fields of the market that you want to export.<br>
<strong><em>Note:</em></strong> All fields flagged with asterisks (*) are mandatory and must be mapped to a plentymarkets data field.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The mappings are saved.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Do not map plentymarkets data fields to the following marketplace data fields for the market Mediamarkt:</p>
</div>
<div class="paragraph">
<p><strong>SHOP_SKU</strong></p>
</div>
<div class="paragraph">
<p>You can ignore the warning shown when you save the mapping.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="475">10. Linking variations to a Mediamarkt catalogue category</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After you created a marketplace format for Mediamarkt with the <strong>Mediamarkt</strong> assistant or manually, the property <strong>Mediamarkt</strong> is created in your plentymarkets system. A new selection value is added to the <strong>Mediamarkt category group</strong> property for each category selected in the <strong>Settings</strong> step of the assistant. In order for your variations to be exported in the appropriate catalogue, they have to be linked to the <strong>Mediamarkt category group</strong> property in the <strong>Properties</strong> tab of a variation.</p>
</div>
<div class="paragraph instruction">
<p>Linking a variation to a category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item]</strong>.</p>
</li>
<li>
<p>Click on the <strong>Variations</strong> tab.</p>
</li>
<li>
<p>Open the variation that should be linked.</p>
</li>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>In the <strong>Variation properties</strong> area, select the property <strong>Mediamarkt category group</strong> from the <strong>Properties</strong> drop-down list and click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The property is added.</p>
</li>
<li>
<p>Select the desired category group from the <strong>Value</strong> drop-down list for the <strong>Mediamarkt category group</strong> property.<br>
→ The variation will be exported in this catalogue.<br>
<strong><em>Example:</em>*If you pick the value *VIDEO CASSETTES</strong>, the catalogue variation is exported for the <strong>VIDEO CASSETTES</strong> category.</p>
</li>
<li>
<p>Repeat steps 5 and 6 for all categories where you want to offer the variation.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="_linking_properties_with_variations_and_saving_values">10.1. Linking properties with variations and saving values</h3>
<div class="paragraph">
<p>All properties, sales prices and barcodes that you have created for mapping them in the catalogue now need to be linked to the variations that you want to export to the market. This is described on the <strong>Item</strong> pages of the manual:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Learn how to link properties to variations in the <a href="/en/item/managing-items#4800">Linking properties and saving a value</a> chapter.</p>
</li>
<li>
<p>Learn how to link sales prices to variations in the <a href="/en/item/managing-items#240">Linking sales prices</a> chapter.</p>
</li>
<li>
<p>Learn how to link barcodes to variations in the <a href="/en/item/managing-items#250">Linking barcodes</a> chapter.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="Mediamarkt">10.2. Activating the catalogue export</h3>
<div class="paragraph">
<p>You have set up Mediamarkt and created a catalogue for exporting your item data? Then start the export of your item data.</p>
</div>
<div class="paragraph instruction">
<p>Activating the catalogue export to Mediamarkt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogues are listed.</p>
</li>
<li>
<p>Scroll to the Mediamarkt catalogue.</p>
</li>
<li>
<p>In the <strong>Active/Inactive</strong> column, move the toggle button to the right (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).<br>
→ The catalogue is active.<br>
→ The catalogue data is exported to Mediamarkt Daily{if-active}.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="700">11. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate all variations that you want to sell on Mediamarkt. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » [Open item] » Tab: Variation ID</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Use group function or batch processing</div>
<div class="paragraph">
<p>You can edit the availability of several variations at once by using either the <a href="/en/item/managing-items#100">variation group function</a> or <a href="/en/item/managing-items#400">batch processing</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting the variation availability for Mediamarkt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on Mediamarkt.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on Mediamarkt, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>Mediamarkt</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The variation is available for Mediamarkt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="480">12. Setting up event procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically update the order status on Mediamarkt whenever specific events occur. You can set up the following event procedures:</p>
</div>
<div class="paragraph">
<p>How to set up the event procedures in plentymarkets is described in the following chapters.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Additional procedures</div>
<div class="paragraph">
<p>In addition to the event procedures listed above, the Mediamarkt plugin provides several other event procedures. These procedures exist because order processing differs between plentymarkets and Mirakl.</p>
</div>
<div class="paragraph">
<p>However, we recommend that you only use the procedures described in detail.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>