<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> About Mediamarkt</span></a></li>
<li><a href="#200"><span>2.</span><span> Registering with Mediamarkt</span></a></li>
<li><a href="#_about_automatic_data_exchange"><span>3.</span><span> About automatic data exchange</span></a></li>
<li><a href="#600"><span>4.</span><span> Activating the order referrer</span></a></li>
<li><a href="#500"><span>5.</span><span> Defining a sales price</span></a></li>
<li><a href="#700"><span>6.</span><span> Setting the variation availability</span></a></li>
<li><a href="#1300"><span>7.</span><span> Generating the API key</span></a></li>
<li><a href="#1400"><span>8.</span><span> Carrying out account settings in the assistant</span></a></li>
<li><a href="#900"><span>9.</span><span> Setting up the item export</span></a>
<ul class="sectlevel2">
<li><a href="#902"><span>9.1.</span><span> Creating a catalogue in the assistant</span></a></li>
<li><a href="#map-data-fields"><span>9.2.</span><span> Mapping data fields in the catalogue</span></a></li>
</ul>
</li>
<li><a href="#475"><span>10.</span><span> Linking variations to a Mediamarkt catalogue category</span></a>
<ul class="sectlevel2">
<li><a href="#Mediamarkt"><span>10.1.</span><span> Activating the catalogue export</span></a></li>
</ul>
</li>
<li><a href="#480"><span>11.</span><span> Setting up event procedures</span></a>
<ul class="sectlevel2">
<li><a href="#490"><span>11.1.</span><span> Report order confirmation to Mediamarkt</span></a></li>
<li><a href="#500"><span>11.2.</span><span> Report shipping confirmation to Mediamarkt</span></a></li>
<li><a href="#510"><span>11.3.</span><span> Report order cancellation to Mediamarkt</span></a></li>
<li><a href="#520"><span>11.4.</span><span> Report refund to Mediamarkt</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Mediamarkt</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Download the Mediamarkt plugin</div>
<div class="paragraph">
<p>You need a plugin to link plentymarkets to Mediamarkt. Visit the <a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/Mediamarkt_Mediamarkt" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to download the Mediamarkt plugin.</p>
</div>
<div class="paragraph">
<p>To use the Mediamarkt plugin, you also need the Mirakl plugin. You can download Mirakl from plentyMarketplace as well.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph collapseBox">
<p>Installing Mirakl</p>
</div>
<div class="openblock">
<div class="content">
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>Mirakl</strong> from the plugin list.
→ Information about <strong>Mirakl</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="paragraph collapseBox">
<p>Installing Mediamarkt</p>
</div>
<div class="openblock">
<div class="content">
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>Mediamarkt</strong> from the plugin list.
→ Information about <strong>Mediamarkt</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. About Mediamarkt</h2>
<div class="sectionbody">
<div class="paragraph">
<p></p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Registering with Mediamarkt</h2>
<div class="sectionbody">
<div class="paragraph">
<p></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_about_automatic_data_exchange">3. About automatic data exchange</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After installing and setting up the plugin, the automatic processes described in <a href="#data-exchange-Mediamarkt">[data-exchange-Mediamarkt]</a> become available:</p>
</div>
<div class="paragraph">
<p><a id="data-exchange-Mediamarkt"></a>
.Frequency of data exchange</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data</th>
<th class="tableblock halign-left valign-top">Interval</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Item data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item export</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">daily</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock synchronisation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">daily</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price synchronisation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">daily</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Order data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">daily</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">4. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Unresolved directive in _textblocks/templates/mirakl-marketplace-template.adoc - include::_textblocks/instructions/activate-referrer.adoc[]</p>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Unresolved directive in _textblocks/templates/mirakl-marketplace-template.adoc - include::../_textblocks/instructions/define-sales-price.adoc[]</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">6. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Unresolved directive in _textblocks/templates/mirakl-marketplace-template.adoc - include::_textblocks/instructions/variation-availability.adoc[]</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">7. Generating the API key</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To create the connection for Mediamarkt between plentymarkets and Mirakl, you need an API key. To generate the API key, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Generating the API key:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the Mirakl back end.</p>
</li>
<li>
<p>Click on the user icon (<span class="icon "><i class="fa fa-user  "></i></span>).</p>
</li>
<li>
<p>Go to the <strong>API keys</strong> tab.</p>
</li>
<li>
<p>Generate a new API key for Mediamarkt.</p>
</li>
<li>
<p>Copy the API key to your clipboard. You need this key to set up your Mediamarkt account in plentymarkets.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">8. Carrying out account settings in the assistant</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Mediamarkt - Wizard</strong> assistant in the <strong>Setup » Assistants » Plugins » <em>Select plugin set</em></strong> to set up your {marketplace account in plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out settings in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Mediamarkt</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>Mediamarkt</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the Info box below (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to makes sure they are correct.<br>
<strong><em>Tip:</em></strong> Click on the arrow (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The settings are saved.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Options in the assistant</div>
<div class="content">
<div class="paragraph">
<p><a id="table-Mediamarkt-basic-settings-assistant"></a></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Authentication</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the API environment and enter the <a href="#1300">API key</a>. You can determine the API environment from the URL of your Mirakl account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Data exchange</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select processes for data exchange. This selection determines which data is exchanged between plentymarkets and Mirakl.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Refund mapping</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter what reason to transfer to Mirakl when there’s a refund. You can add reasons for multiple statuses.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Cancellation mapping</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter what reason to transfer to Mirakl when an order gets cancelled. You can add reasons for multiple statuses.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Warehouse selection</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the warehouse you want to use for stock export.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Shipping profile mapping</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">For each shipping profile in plentymarkets, enter the corresponding abbreviation of the shipping service provider. To find the abbreviations, go to <strong>Information » Shipping</strong> in Mirakl.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="900">9. Setting up the item export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Item data is exported to Mediamarkt&nbsp;via catalogue templates. Go to <strong>Data » Catalogs</strong> to create catalogues. Is this your first time working with catalogues? Then read up on the basic principle of <a href="#en/data/exporting-data/managing-catalogues">catalogues first</a>.</p>
</div>
<div class="paragraph">
<p>If you want to sell your products in multiple Mediamarkt product categories, create a separate catalogue for each of them. Link the Mediamarkt data fields with item data saved in plentymarkets in the catalogue template afterwards. Once you’ve activated a catalogue, plentymarkets automatically exports the catalogue templates to Mediamarkt daily.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Error log</div>
<div class="paragraph">
<p>If there’s a problem during export, you can find the related log entries on Mirakl and not the plentymarkets log.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="902">9.1. Creating a catalogue in the assistant</h3>
<div class="paragraph instruction">
<p>Creating a catalogue in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Omni-Channel</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>Mediamarkt Catalogue</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the Info box below (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to makes sure they are correct.<br>
<strong><em>Tip:</em></strong> Click on the arrow (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The catalogue is created.</p>
</li>
<li>
<p>Map &lt;&lt;, optional fields&gt;&gt; in the <strong>Data » Catalogues</strong> menu.<br>
<strong><em>Note:</em></strong> pass:quotes[Only select bottom level categories. You can find a better overview of the category hierarchy on Miracle by going to *My account » My product data settings*.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Options in the assistant</div>
<div class="content">
<div class="paragraph">
<p><a id="table-Mediamarkt-catalogue-assistant"></a></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Settings</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a Mediamarkt category for offering your items. Then, enter a name for the corresponding category in plentymarkets.<br>
pass:quotes[Only select bottom level categories. You can find a better overview of the category hierarchy on Miracle by going to *My account » My product data settings*.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="map-data-fields">9.2. Mapping data fields in the catalogue</h3>
<div class="paragraph">
<p>After you have created a catalogue, map the market’s data fields to item data saved in plentymarkets. Check the documentation of the sales channel to find out what data the market expects for the individual data fields.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Using properties</div>
<div class="paragraph">
<p>Use <a href="/en/item/managing-items#3000">properties</a> to export values for data fields that have no corresponding item data saved in plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Mapping data fields in the catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The <strong>Mapping</strong> tab with the market data fields opens.<br>
→ In the left-hand column, the market’s data fields are listed.<br>
<strong><em>Tip:</em></strong> Mandatory fields are flagged with an asterisk (*).</p>
</li>
<li>
<p>To the right of the first market data field, klick on <strong>Add data field</strong>.<br>
→ To the left, the plentymarkets data fields are listed in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated data fields.<br>
→ The data fields are shown.</p>
</li>
<li>
<p>Next to the data field you want to select, klick on the Plus.<br>
→ The data field is added to the view.<br>
<strong><em>Tip:</em></strong> Do you want to export a fixed value for every variation for one of the market data fields? Click on the plus next to <strong>Own value</strong>.<br>
→ The field for the own value is added to the view.</p>
</li>
<li>
<p>Enter a value into the input field.</p>
</li>
<li>
<p>Click on the X to close the editing mode.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Click on <strong>Add fallback data field</strong> to select a data field that is exported in case another one is not available or empty. You can also add more than one fallback data field.<br>
<strong><em>Note:</em></strong> Even if you assign more than one plentymarkets data field to a market data field, only one value is exported. The fields are checked in the order in which you mapped them. This means that if the first data field does not provide a value, the second data field is exported etc.</p>
</li>
<li>
<p>Repeat this mapping for all data fields of the market that you want to export.
<strong><em>Note:</em></strong> All fields flagged with asterisks (*) are mandatory and must be mapped to a plentymarkets data field.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The mappings are saved.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="475">10. Linking variations to a Mediamarkt catalogue category</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After you created a marketplace format for Mediamarkt with the <strong>Mediamarkt</strong> assistant or manually, the property <strong>Mediamarkt</strong> is created in your plentymarkets system. A new selection value is added to the <strong>Mediamarkt category group</strong> property for each category selected in the <strong>Settings</strong> step of the assistant. In order for your variations to be exported in the appropriate catalogue, they have to be linked to the <strong>Mediamarkt category group</strong> property in the <strong>Properties</strong> tab of a variation.</p>
</div>
<div class="paragraph instruction">
<p>Linking a variation to a category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item »</strong> <em>Open item</em>.</p>
</li>
<li>
<p>Click on the <strong>Variations</strong> tab.</p>
</li>
<li>
<p>Open the variation that should be linked.</p>
</li>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>In the <strong>Variation properties</strong> area, select the property <strong>Mediamarkt category group</strong> from the <strong>Properties</strong> drop-down list and click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The property is added.</p>
</li>
<li>
<p>Select the desired category group from the <strong>Value</strong> drop-down list for the <strong>Mediamarkt category group</strong> property.<br>
→ The variation will be exported in this catalogue.<br>
<strong><em>Example:</em>*If you pick the value *VIDEO CASSETTES</strong>, the catalogue variation is exported for the <strong>VIDEO CASSETTES</strong> category.</p>
</li>
<li>
<p>Repeat steps 5 and 6 for all categories where you want to offer the variation.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="Mediamarkt">10.1. Activating the catalogue export</h3>
<div class="paragraph">
<p>Unresolved directive in _textblocks/templates/mirakl-marketplace-template.adoc - include::../_textblocks/instructions/catalogue-activation.adoc[]</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="480">11. Setting up event procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically update the order status on Mediamarkt whenever specific events occur. You can set up the following event procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Report order confirmation to Mediamarkt</p>
</li>
<li>
<p>Report shipping confirmation to Mediamarkt</p>
</li>
<li>
<p>Report order cancellation to Mediamarkt</p>
</li>
<li>
<p>Report refund to Mediamarkt</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>How to set up the event procedures in plentymarkets is described in the following chapters.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Additional procedures</div>
<div class="paragraph">
<p>In addition to the event procedures listed above, the Mediamarkt plugin provides several other event procedures. These procedures exist because order processing differs between plentymarkets and Mirakl.</p>
</div>
<div class="paragraph">
<p>However, we recommend that you only use the procedures described in detail.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="490">11.1. Report order confirmation to Mediamarkt</h3>
<div class="paragraph">
<p>Unresolved directive in _textblocks/templates/mirakl-marketplace-template.adoc - include::../_includes/textblocks/instructions/EA.adoc[]</p>
</div>
<div class="paragraph">
<p><a id="table-Mediamarkt-event-procedure-order-confirmation"></a>
.Event procedure to send an order confirmation to Mediamarkt</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Selection</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Waiting for payment</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mediamarkt</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Mediamarkt: Accept order</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">11.2. Report shipping confirmation to Mediamarkt</h3>
<div class="paragraph">
<p>Unresolved directive in _textblocks/templates/mirakl-marketplace-template.adoc - include::../_includes/textblocks/instructions/EA.adoc[]</p>
</div>
<div class="paragraph">
<p><a id="Mediamarkt-event-procedure-shipping-confirmation"></a>
.Event procedure to send a shipping confirmation to Mediamarkt</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Selection</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Outgoing items booked</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mediamarkt</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins: Mediamarkt: Update the carrier tracking information for a payment</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Mediamarkt: Validate shipping</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="510">11.3. Report order cancellation to Mediamarkt</h3>
<div class="paragraph">
<p>Unresolved directive in _textblocks/templates/mirakl-marketplace-template.adoc - include::../_includes/textblocks/instructions/EA.adoc[]</p>
</div>
<div class="paragraph">
<p><a id="Mediamarkt-event-procedure-order-cancellation"></a>
.Event procedure to send an order cancellation to Mediamarkt</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Selection</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an event, e.g. <strong>[8] Cancelled</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mediamarkt</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Mediamarkt: Cancel the order item</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="520">11.4. Report refund to Mediamarkt</h3>
<div class="paragraph">
<p>Unresolved directive in _textblocks/templates/mirakl-marketplace-template.adoc - include::../_includes/textblocks/instructions/EA.adoc[]</p>
</div>
<div class="paragraph">
<p><a id="Mediamarkt-event-procedure-refund"></a>
.Event procedure to send a refund to Mediamarkt</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Selection</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status change</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an event, e.g. <strong>[11] Credit note</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mediamarkt</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugins &gt; Mediamarkt: Refund order lines</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>