<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> About Mediamarkt</span></a></li>
<li><a href="#200"><span>2.</span><span> Registering with Mediamarkt</span></a></li>
<li><a href="#_about_automatic_data_exchange"><span>3.</span><span> About automatic data exchange</span></a></li>
<li><a href="#600"><span>4.</span><span> Activating the order referrer</span></a></li>
<li><a href="#500"><span>5.</span><span> Defining a sales price</span></a></li>
<li><a href="#1200"><span>6.</span><span> Creating properties</span></a>
<ul class="sectlevel2">
<li><a href="#1210"><span>6.1.</span><span> Creating the logistics class property</span></a></li>
<li><a href="#1230"><span>6.2.</span><span> Creating the reverse charge property</span></a></li>
<li><a href="#map-data-fields"><span>6.3.</span><span> Mapping data fields in the catalogue</span></a></li>
</ul>
</li>
<li><a href="#XXXX"><span>7.</span><span> Activating the catalogue export to XXXX</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Mediamarkt</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Download the Mediamarkt plugin</div>
<div class="paragraph">
<p>You need a plugin to link plentymarkets to Mediamarkt. Visit the <a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/Mediamarkt_Mediamarkt" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to download the Mediamarkt plugin.</p>
</div>
<div class="paragraph">
<p>To use the Mediamarkt plugin, you also need the Mirakl Connector plugin. You can download Mirakl from plentyMarketplace as well.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph collapseBox">
<p>Installing Mirakl Connector</p>
</div>
<div class="openblock">
<div class="content">
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>Mirakl Connector</strong> from the plugin list.
→ Information about <strong>Mirakl Connector</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="paragraph collapseBox">
<p>Installing Mediamarkt</p>
</div>
<div class="openblock">
<div class="content">
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>Mediamarkt</strong> from the plugin list.
→ Information about <strong>Mediamarkt</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. About Mediamarkt</h2>
<div class="sectionbody">
<div class="paragraph">
<p></p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Registering with Mediamarkt</h2>
<div class="sectionbody">
<div class="paragraph">
<p></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_about_automatic_data_exchange">3. About automatic data exchange</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After installing and setting up the plugin, the automatic processes described in <a href="#data-exchange-Mediamarkt">[data-exchange-Mediamarkt]</a> become available:</p>
</div>
<div class="paragraph">
<p><a id="data-exchange-Mediamarkt"></a></p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Frequency of data exchange</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data</th>
<th class="tableblock halign-left valign-top">Interval</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Item data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item export</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">daily</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock synchronisation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Every 15 minutes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price synchronisation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Every 15 minutes</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Order data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order import</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Every 15 minutes</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">4. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with Mediamarkt. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Mediamarkt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the Mediamarkt.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer Mediamarkt. This price is displayed on Mediamarkt.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Mediamarkt:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices »</strong> <em>Open sales price</em> <strong>» Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the referrer <strong>Mediamarkt</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">6. Creating properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Using properties, you can export fields to the marketplace that aren’t defined in plentymarkets by default. You can create the properties that are specified by Mediamarkt in the <strong>Setup » Settings » Properties » Configuration</strong> menu.</p>
</div>
<div class="paragraph">
<p>For further information on properties, refer to the <a href="/en/item/settings/properties#500">Characteristics and properties</a> page.</p>
</div>
<div class="paragraph">
<p>For Mediamarkt, you need the following properties:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Logistics class (Logistikklasse, <a href="#1210">click for details</a>)</p>
</li>
<li>
<p>Leadtime to ship (Versandvorlaufzeit, <a href="#1220">click for details</a>)</p>
</li>
<li>
<p>Reverse charge (<a href="#1230">click for details</a>)</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="1210">6.1. Creating the logistics class property</h3>
<div class="paragraph">
<p>For each variation, you need to export a shipping profile code to Mediamarkt. You can configure shipping profiles in the Mirakl back end. For a list of shipping profiles, refer to the <strong>Informations » Carrier costs</strong> menu in the Mirakl back end. You can find the code in the <strong>Logistics class</strong> column in brackets behind the name of the logistics class.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to create the property Logistics class (Logistikklasse).</p>
</div>
<div class="openblock collapseBox">
<div class="title">Creating the property Logistics class (Logistikklasse)</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.<br>
→ The overview of the properties opens.</p>
</li>
<li>
<p>Click on <strong>Add property</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Carry out the settings as described in <a href="#table-Mediamarkt-Logistics class (Logistikklasse)">[table-Mediamarkt-Logistics class (Logistikklasse)]</a>.</p>
</li>
<li>
<p>Enter a position number for the property.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The property is created and opened for editing.</p>
</li>
<li>
<p>Carry out any additional settings as described in <a href="#table-Mediamarkt-Logistics class (Logistikklasse)">[table-Mediamarkt-Logistics class (Logistikklasse)]</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The settings are saved.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Property Logistics class (Logistikklasse)</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Section</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Short text</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mediamarkt logistics class</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a group.<br>
<strong><em>Tip:</em></strong> Create the property group <strong>Mediamarkt</strong>, to sort and manage all properties for this market.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a position.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1230">6.2. Creating the reverse charge property</h3>
<div class="paragraph">
<p>For each variation, you need to specify if the reverse charge mechanism applies to this variation for cross-border business processes. Mediamarkt accepts the values <strong>true</strong> and <strong>false</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>false = The reverse charge mechanism isn’t applied.</p>
</li>
<li>
<p>true = The reverse charge mechanism is applied. This means that instead of you, your customers have to pay VAT to the tax authorities.<br>
<strong><em>Note:</em></strong> Observe the legal requirements for the reverse charge mechanism and consult your tax adviser on the details.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Proceed as described below to create the property Reverse charge.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Creating the property Reverse charge</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.<br>
→ The overview of the properties opens.</p>
</li>
<li>
<p>Click on <strong>Add property</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Carry out the settings as described in <a href="#table-Mediamarkt-Reverse charge">[table-Mediamarkt-Reverse charge]</a>.</p>
</li>
<li>
<p>Enter a position number for the property.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The property is created and opened for editing.</p>
</li>
<li>
<p>Carry out any additional settings as described in <a href="#table-Mediamarkt-Reverse charge">[table-Mediamarkt-Reverse charge]</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The settings are saved.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Property Reverse charge</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Section</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Short text</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mediamarkt reverse charge</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a group.<br>
<strong><em>Tip:</em></strong> Create the property group <strong>Mediamarkt</strong>, to sort and manage all properties for this market.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a position.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Carrying out settings in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong></strong>.</p>
</li>
<li>
<p>Click on the assistant <strong></strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the info box(es) below (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to makes sure they are correct.<br>
<strong><em>Tip:</em></strong> Click on the arrow (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The settings are saved.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Creating a catalogue in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu .</p>
</li>
<li>
<p>Click on the assistant <strong></strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the info box(es) below (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to makes sure they are correct.<br>
<strong><em>Tip:</em></strong> Click on the arrow (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The catalogue is created.</p>
</li>
<li>
<p>Map  fields in the <strong>Data » Catalogues</strong> menu.<br>
<strong><em>Note:</em></strong> You need a separate catalogue for each OTTO category group.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If more than one data field:</p>
</div>
<div class="paragraph">
<p>Field 2 + \
Field 3</p>
</div>
</div>
<div class="sect2">
<h3 id="map-data-fields">6.3. Mapping data fields in the catalogue</h3>
<div class="paragraph">
<p>After you have created a catalogue, map the market’s data fields to item data saved in plentymarkets. Check the documentation of the sales channel to find out what data the market expects for the individual data fields.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Using properties</div>
<div class="paragraph">
<p>Use <a href="/en/item/managing-items#3000">properties</a> to export values for data fields that have no corresponding item data saved in plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Mapping data fields in the catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The <strong>Mapping</strong> tab with the market data fields opens.<br>
→ In the left-hand column, the market’s data fields are listed.<br>
<strong><em>Tip:</em></strong> Mandatory fields are flagged with an asterisk (*).</p>
</li>
<li>
<p>To the right of the first market data field, klick on <strong>Add data field</strong>.<br>
→ To the left, the plentymarkets data fields are listed in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated data fields.<br>
→ The data fields are shown.</p>
</li>
<li>
<p>Next to the data field you want to select, klick on the Plus.<br>
→ The data field is added to the view.<br>
<strong><em>Tip:</em></strong> Do you want to export a fixed value for every variation for one of the market data fields? Click on the plus next to <strong>Own value</strong>.<br>
→ The field for the own value is added to the view.</p>
</li>
<li>
<p>Enter a value into the input field.</p>
</li>
<li>
<p>Click on the X to close the editing mode.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Click on <strong>Add fallback data field</strong> to select a data field that is exported in case another one is not available or empty. You can also add more than one fallback data field.<br>
<strong><em>Note:</em></strong> Even if you assign more than one plentymarkets data field to a market data field, only one value is exported. The fields are checked in the order in which you mapped them. This means that if the first data field does not provide a value, the second data field is exported etc.</p>
</li>
<li>
<p>Repeat this mapping for all data fields of the market that you want to export.
<strong><em>Note:</em></strong> All fields flagged with asterisks (*) are mandatory and must be mapped to a plentymarkets data field.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The mappings are saved.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Do not map plentymarkets data fields to the following marketplace data fields for the market Mediamarkt:</p>
</div>
<div class="paragraph">
<p><strong>Field 1 +&nbsp;\</strong></p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="XXXX">7. Activating the catalogue export to XXXX</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Unresolved directive in _textblocks/instructions/catalogue-activation.adoc - include::../_textblocks/instructions/catalogue-activation.adoc[]</p>
</div>
<div class="paragraph">
<p>Unresolved directive in _textblocks/instructions/variation-availability.adoc - include::_textblocks/instructions/variation-availability.adoc[]</p>
</div>
<div class="paragraph">
<p>TODO:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Is there anything special about the catalogue? Update include files if necessary.</p>
</li>
</ul>
</div>
</div>
</div>
</main>