<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Registering with PIXmania</span></a></li>
<li><a href="#20"><span>2.</span><span> Setting up PIXmania in plentymarkets</span></a></li>
<li><a href="#30"><span>3.</span><span> Setting the item availability</span></a></li>
<li><a href="#40"><span>4.</span><span> Defining a sales price</span></a></li>
<li><a href="#50"><span>5.</span><span> Importing brand IDs</span></a></li>
<li><a href="#60"><span>6.</span><span> Linking categories</span></a></li>
<li><a href="#70"><span>7.</span><span> Linking attributes</span></a></li>
<li><a href="#80"><span>8.</span><span> Activating the payment method</span></a></li>
<li><a href="#90"><span>9.</span><span> Viewing the export history</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>PIXmania</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://www.pixmania.co.uk/index.html" target="_blank" rel="noopener"><strong>PIXmania</strong></a> is an online market, which offers a wide range of products in the areas of consumer electronics, home and garden, toys and more. You can offer your new or even used items there and in doing so, extend your reach and generate new customers.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Registering with PIXmania</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First register with <a href="https://www.pixmania-pro.co.uk/secure/gb/uk/s_action/register/index.html" target="_blank" rel="noopener"><strong>PIXmania</strong></a> in order to set up the interface to PIXmania in your plentymarkets system. You will then receive the access data that you need for the setup in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Setting up PIXmania in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The conditions for using PIXmania in your plentymarkets system:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Items for PIXmania need to have the manufacturer and at least one item image saved for them.</p>
</li>
<li>
<p>You will need your PIXmania seller key, which you received from PIXmania after registering for this market.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Country platforms become available for selection after you have saved your seller key.</p>
</div>
<div class="paragraph instruction">
<p>Setting up PIXmania in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Markets » PIXmania » Settings</strong>.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate the automatic data exchange</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate in order to automatically exchange data with PIXmania.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PIXmania seller key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the seller key that you received from PIXmania.Seller key eingeben, wie von PIXmania received.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries sold to</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the country platforms that you want to sell your items on. The list of countries will not be visible until you have entered and saved your seller key.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the orders should be listed with an <strong>open</strong> or <strong>booked</strong> incoming payment when they are transferred into your plentymarkets system. The payments that you receive from PIXmania are grouped together. If you choose to import the payments as <strong>booked</strong>, then the orders that are still awaiting payment from PIXmania will already be marked as paid when they are imported into your system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>PIXmania</strong>. For further information about the order referrer, refer to the chapter <a href="/en/omni-channel/multi-channel/pixmania#40"><strong>Defining a price column</strong></a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Delivery period in full days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the delivery time in days. The number of days you enter here is the standard delivery time that most of your shipments require.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Availability 1 - 5</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the delivery time in days for each option into the <strong>Domestic</strong> and <strong>Foreign country</strong> fields. Only the days that are entered here will be transferred to PIXmania as a delivery period. 0 is not allowed as a number of days. You have to enter a natural number. Set up the options for item availability in the <strong><a href="/en/item/managing-items">System » System settings » Item » Item availability</a></strong> menu.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 1: basic settings for the market PIXmania</em></p>
</div>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic functions to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Daily item export</p>
</li>
<li>
<p>Stock synchronisation every 15 minutes</p>
</li>
<li>
<p>Price synchronisation every 15 minutes</p>
</li>
<li>
<p>Order import every 15 minutes</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for PIXmania. This is done in the <strong>Availability</strong> tab of an item within the <strong><a href="/en/item/managing-items#40">Item » Edit item » Tab: Variation ID</a></strong> menu. Items for PIXmania also need to have the manufacturer and at least one item image saved for them.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for PIXmania:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong> menu.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the <strong>Markets</strong> section in the selection field. <br>
→ A list with all available markets will be displayed.</p>
</li>
<li>
<p>Activate the option <strong>PIXmania</strong>.</p>
</li>
<li>
<p>Activate the option Web-API.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The Market will be added.</p>
</li>
<li>
<p><strong>Save</strong> the settings. <br>
→ The item is available on PIXmania.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edit in the <strong>Item » Edit item » Open item » Tab: Variation ID » Open variation » Tab: Availability</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer PIXmania. This price will be displayed on PIXmania.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for PIXmania:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>System » System settings » Item » Sales prices » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a checkmark next to the referrer <strong>PIXmania</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Importing brand IDs</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The brand IDs from PIXmania are required. You receive them by following the procedure described below.</p>
</div>
<div class="paragraph instruction">
<p>Exporting the data format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Dynamic export » Tab: New data format</strong>.</p>
</li>
<li>
<p>Select the setting <strong>Producer</strong> under <strong>Data format type</strong>.</p>
</li>
<li>
<p>Enter name.</p>
</li>
<li>
<p>Activate the fields <strong>ProducerID</strong>, <strong>ProducerName</strong> and <strong>ProducerPixmaniaID</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The <strong>Edit data format</strong> tab will open.</p>
</li>
<li>
<p>Expand the data format.</p>
</li>
<li>
<p>Click on <strong>Export data</strong>.</p>
</li>
<li>
<p>Save the CSV file on your computer.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Send the CSV file to the PIXmania customer service. You will then receive an Excel file from PIXmania. Generate a CSV file from this Excel file which corresponds to the <strong>Producer</strong> data format.</p>
</div>
<div class="paragraph instruction">
<p>Importing the data format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Dynamic import</strong>.</p>
</li>
<li>
<p>Select the field separator.</p>
</li>
<li>
<p>Select your data format under <strong>Format</strong>.</p>
</li>
<li>
<p>Click on <strong>Browse…​</strong>.</p>
</li>
<li>
<p>Open the CSV file.</p>
</li>
<li>
<p>Click on <strong>Import</strong>. <br>
→ After having imported the brand IDs, you can find the PIXmania ID of a manufacturer in the <strong>System » System settings » Item » Manufacturers</strong> menu.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link your categories with PIXmania categories, download the PIXmania category list first. Then link your own categories with the most appropriate PIXmania categories.</p>
</div>
<div class="paragraph instruction">
<p>Importing PIXmania categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Markets » PIXmania » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Browse…​</strong>.</p>
</li>
<li>
<p>Select the <strong>field separator</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The category list will be imported.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Proceed as described below to link your categories with PIXmania categories.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Markets » PIXmania » Category link</strong>.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong> in the <strong>PIXmania link</strong> column.<br>
→ The PIXmania categories will be displayed in the <strong>Categories</strong> area.</p>
</li>
<li>
<p>Expand the category.</p>
</li>
<li>
<p>Select the subcategory. <br>
→ The linked category will be displayed in the <strong>Selection</strong> area.</p>
</li>
<li>
<p>Click on <strong>Reload</strong>.<br>
→ The links will be displayed under <strong>PIXmania link</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title"><strong>Deleting category links</strong></div>
<div class="paragraph">
<p>You can delete category links in the <strong>Selection</strong> area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>After you have linked your categories with PIXmania’s categories, you export the data to PIXmania.</p>
</div>
<div class="paragraph instruction">
<p>Exporting category links:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Markets » PIXmania » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Export link</strong>.<br>
→ A CSV file will be created.</p>
</li>
<li>
<p>Save the CSV file on your computer.</p>
</li>
<li>
<p>Send the CSV file to PIXmania.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. Linking attributes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you have created <strong><a href="/en/item/managing-items#390">attributes</a></strong> in your plentymarkets system, you will have to link these attributes with PIXmania. Proceed as described below to link the attribute Colour with PIXmania. Link further attributes in the same way.</p>
</div>
<div class="paragraph instruction">
<p>Linking attributes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Item » Attributes</strong>.<br>
→ An overview of all existing attributes will open.</p>
</li>
<li>
<p>Expand the attribute <strong>Colour</strong>.</p>
</li>
<li>
<p>Click on the <strong>Market variation</strong> tab.</p>
</li>
<li>
<p>Select <strong>PIXmania</strong> from the <strong>Market</strong> drop-down menu. <br>
→ A second drop-down menu <strong>Pixmania</strong> will be displayed.</p>
</li>
<li>
<p>Select the attribute <strong>Colour</strong> from the <strong>Pixmania</strong> drop-down menu.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="80">8. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <strong><a href="/en/payment">payment method</a></strong> <strong>PIXmania Payment</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating the PIXmania payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>PIXmania Payment</strong>. <br>
→ The <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 2.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong> and <strong>Upload logo</strong>. This makes it possible to enter values for these options in various languages. The values for a language will be activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the option <strong>Info page (external)</strong> under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely set up.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method will be displayed.<br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method will not be displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> will be displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down menu, then the logo that was uploaded will be displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down menu, then you will be able to upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG and JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract. <strong>Important:</strong> Do not enter a value into both fields.<br>
For further information, refer to the <strong><a href="/en/basics/statistics">Statistics</a></strong> and <strong><a href="/en/basics/statistics/general-statistics/item/tops-flops">Tops/Flops</a></strong> pages of the manual. For an example for flat rate and percentage costs, refer to the <strong><a href="/en/omni-channel/multi-channel/pixmania#20">Basic settings</a></strong> page of the manual.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Table 2: settings of the payment method</em></p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>System » System settings » CRM » Classes</strong> to activate or deactivate the <strong>Permitted payment methods</strong>.<br>
For further information, refer to the <strong><a href="/en/omni-channel/multi-channel/pixmania#40">Payment methods and customer classes</a></strong> chapter of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <strong><a href="/en/payment">Payment methods</a></strong>  page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="90">9. Viewing the export history</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>System » System settings » Markets » PIXmania » Export history</strong> menu, you can see an overview of the export history of your PIXmania items. Export histories <strong>in progress</strong> as well as <strong>completed</strong> export histories are displayed here.</p>
</div>
</div>
</div>
</main>