<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with PIXmania</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up PIXmania in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the variation availability</span></a></li>
<li><a href="#400"><span>5.</span><span> Defining a sales price</span></a></li>
<li><a href="#500"><span>6.</span><span> Importing brand IDs</span></a></li>
<li><a href="#600"><span>7.</span><span> Linking categories</span></a></li>
<li><a href="#700"><span>8.</span><span> Linking attributes</span></a></li>
<li><a href="#800"><span>9.</span><span> Activating the payment method</span></a></li>
<li><a href="#900"><span>10.</span><span> Viewing the export history</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>PIXmania</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="http://www.pixmania.co.uk/index.html" target="_blank" rel="noopener">PIXmania</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is an online market which offers a wide range of products in consumer electronics, home and garden, toys and more. You can offer your new but also your used items there and in doing so, extend your reach and generate new customers.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with PIXmania</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First register with <a href="https://www.pixmania-pro.co.uk/secure/gb/uk/s_action/register/index.html" target="_blank" rel="noopener">PIXmania</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> in order to set up the interface to PIXmania in your plentymarkets system. You will then receive the access data that you need for the setup in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up PIXmania in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Requirements for using PIXmania in your plentymarkets system:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Items for PIXmania need to have the manufacturer and at least one item image saved for them.</p>
</li>
<li>
<p>You need your PIXmania seller key, which you received from PIXmania after registering for this market.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Country platforms become available for selection after you have saved your seller key.</p>
</div>
<div class="paragraph instruction">
<p>Setting up PIXmania in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » PIXmania » Settings</strong>.</p>
</li>
<li>
<p>Expand the <strong>Basic settings</strong> area (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#basic-settings-pixmania">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="basic-settings-pixmania" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Basic settings for the market PIXmania</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate the automatic data exchange</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate in order to automatically exchange data with PIXmania.<br>
The data exchange includes the daily item export, the stock synchronisation every 15 minutes and the order import every 15 minutes.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PIXmania seller key</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the seller key that you received from PIXmania.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries sold to</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate the country platforms that you want to sell your items on. The list of countries is not visible until you have entered and saved your seller key.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Incoming payment</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether the orders should be listed with an <strong>open</strong> or <strong>booked</strong> incoming payment when they are transferred into your plentymarkets system. The payments that you receive from PIXmania are grouped together. If you choose to import the payments as <strong>booked</strong>, then the orders that are still awaiting payment from PIXmania are already marked as paid when they are imported into your system.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>PIXmania</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Delivery period in full days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the delivery time in days. The number of days you enter here is the standard delivery time that most of your shipments require.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Availability 1 - 5</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the delivery time in days for each option into the <strong>Domestic</strong> and <strong>Foreign</strong> country fields. Only the days that are entered here are transferred to PIXmania as a delivery period. 0 is not allowed as a number of days. You have to enter a natural number. Set up the options for item availability in the <strong>Setup » Item » Availability</strong> menu.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic functions to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Daily item export</p>
</li>
<li>
<p>Stock synchronisation every 15 minutes</p>
</li>
<li>
<p>Price synchronisation every 15 minutes</p>
</li>
<li>
<p>Order import every 15 minutes</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, characteristics etc. with PIXmania, you have to activate the order referrer PIXmania in the <strong>Setup » Orders » Order referrer</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer PIXmania:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>PIXmania</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for PIXmania. This is done in the <strong>Availability</strong> tab of an item within the <strong>Item » Edit item » [Open item] » Tab: Variation ID</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Selling all variations of an item on PIXmania</div>
<div class="paragraph">
<p>To sell all variations of an item on PIXmania, carry out the settings described below for the main variation. The settings are then passed on to all variations of the item.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting the variation availability for PIXmania:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on PIXmania.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>PIXmania</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sales prices define the conditions under which a variation is sold at a specific price and on a specific sales channel. That means that to sell variations on {referrer}, you need a sales price in which the order referrer {referrer} is activated. The price that you save for this sales price is the price that will be shown on {referrer}.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for {referrer}:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price]</strong>.<br>
No sales prices? Then create a <a href="/en/item/settings/prices#100">new sales price</a> first.</p>
</li>
<li>
<p>Open the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Activate the referrer <strong>{referrer}</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">6. Importing brand IDs</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The brand IDs from PIXmania are required. You receive them by following the procedure described below.</p>
</div>
<div class="paragraph instruction">
<p>Exporting the data format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Dynamic export » Tab: New data format</strong>.</p>
</li>
<li>
<p>Select the setting <strong>Producer</strong> under <strong>Data format type</strong>.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Activate the fields <strong>ProducerID</strong>, <strong>ProducerName</strong>, and <strong>ProducerPixmaniaID</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The <strong>Edit data format</strong> tab opens.</p>
</li>
<li>
<p>Expand the data format (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>Export data</strong>.</p>
</li>
<li>
<p>Save the CSV file on your computer.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Send the CSV file to the PIXmania customer service. You will then receive an Excel file from PIXmania. Generate a CSV file from this Excel file which corresponds to the <strong>Producer</strong> data format.</p>
</div>
<div class="paragraph">
<p>Import the brand IDs into your plentymarkets system using the import tool. To do so, create an import of the type <a href="/en/data/importing-data/sync-types/elasticSync-manufacturer">Manufacturer</a>. After you have created the import, you have to set the import options for the import, set the matching, and create the mappings.</p>
</div>
<h3 id="_creating_an_import" class="discrete">Creating an import</h3>
<div class="paragraph">
<p>First create an import of the type <strong>Manufacturer</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Creating an import:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Data import: Import</strong>.<br>
→ The import overview opens.</p>
</li>
<li>
<p>Click on <strong>Add import</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The editing area <strong>New import</strong> is displayed.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#manufacturer-sync">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The import is created.<br>
→ The matching settings of the import open.</p>
</li>
</ol>
</div>
<table id="manufacturer-sync" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Creating an import</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Basic data</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name. This name is displayed in the overview and can be used for the search.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interval</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select an interval for the imports.<br>
By choosing the option <strong>Schedule</strong> you can determine how often and at what time imports shall be started.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the type <a href="/en/data/importing-data/sync-types/elasticSync-manufacturer">Manufacturer</a> from the drop-down list. This import type is used to import manufacturer data.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Import</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Data type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the file format of the import file.<br>
Currently, <strong>CSV/TXT</strong> is the only available option, as only CSV or TXT files can be imported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Character set</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the character set of the file or the option <strong>Detect automatically</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Starting in line</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a line starting from which the data should be imported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Header is included</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether the import file contains a header.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use global cache</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Determine whether the global cache should be used for a file or not. If the setting is activated, only modified data rows will be imported. If the setting is not activated, you can import one and the same file again at any time.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatic mapping</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether the mapping should be done automatically. The columns in the CSV or TXT file can be mapped automatically to the plentymarkets data fields. To ensure that the mapping works properly, the names of the fields that you selected in the FormatDesigner must not be changed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Separator</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Separator</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The separator of the CSV or TXT file is automatically detected. This setting is activated by default.<br>
Alternatively, you can manually select the field separator that is set in the import file in order to separate the data fields (columns) of a data record from each other.<br>
Possible separators are <strong>Semicolon</strong>, <strong>Comma</strong>, <strong>Tab</strong> and <strong>Pipe</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delimiter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select delimiters within the fields that may contain multiple values.<br>
* " = individual values within one field are separated by double quotation marks.
* ' = individual values within one field are separated by single quotation marks.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Source</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Source</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Manual upload</strong>, <strong>FTP</strong>, <strong>HTTPS</strong> or <strong>SFTP</strong>.<br>
Depending on the selected option, the following settings are displayed:</p>
</div>
<div class="paragraph">
<p><strong>Manual upload</strong> = Select and upload a local file.<br>
After running an import, the file is automatically deleted from the webspace. This is preset by default. In order to save the file you need to remove the check mark. <strong><em>Note:</em></strong> storing the file on the webspace is subject to a fee.</p>
</div>
<div class="paragraph">
<p><strong>FTP</strong> = Host, port, user name, password and file name are displayed.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Host (mandatory field)</strong> = Enter the host of the FTP server.<br>
<strong><em>Tip:</em></strong> Use your plentymarkets FTP access.</p>
</li>
<li>
<p><strong>Port</strong> = Enter the port of the FTP server. If no port is entered, the standard port (22) is used.</p>
</li>
<li>
<p><strong>User name (mandatory field)</strong> = Enter the user name for the FTP access.</p>
</li>
<li>
<p><strong>Password (mandatory field)</strong> = Enter the password for the FTP access.</p>
</li>
<li>
<p><strong>File name</strong> = Enter the path and the name of the file from which the data is to be imported. The file name has to end with .csv or .txt.<br>
<strong><em>Note:</em></strong> You can use wildcard characters in the field <strong>File name</strong> by e.g. replacing a part of the file name with a <strong>*</strong>. Only use wildcard characters in combination with the option <strong>Move file to archive when import was successful</strong>.</p>
</li>
<li>
<p><strong>Move file to archive when import was successful</strong> = If this option is activated, the import file is automatically moved to the new <strong>Archive</strong> folder in the FTP directory once the import was successful.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>HTTPS</strong> = *Select External URL.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>External URL</strong> = Enter the URL to access the import file.<br>
<strong><em>Tip:</em></strong> Save the file on your plentymarkets webspace.</p>
</li>
<li>
<p><strong>Authentication:</strong> Select whether an authentication is required to access the file.</p>
<div class="ulist">
<ul>
<li>
<p><strong>none</strong> = no authentication required</p>
</li>
<li>
<p><strong>HTTP authentication</strong> = = an authentication is required for each user and password</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>SFTP</strong> = Host, port, user name, password and file name are displayed.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Host (mandatory field)</strong> = Enter the host of the FTP server.<br></p>
</li>
<li>
<p><strong>Port (mandatory field)</strong> = Enter the port of the FTP server. If no port is entered, the standard port (22) is used.</p>
</li>
<li>
<p><strong>User name (mandatory field)</strong> = Enter the user name for the FTP access.</p>
</li>
<li>
<p><strong>Password (mandatory field)</strong> = Enter the password for the FTP access.</p>
</li>
<li>
<p><strong>File name</strong> = Enter the path and the name of the file from which the data is to be imported. The file name has to end with .csv or .txt.<br>
<strong><em>Note:</em></strong> You can use wildcard characters in the field <strong>File name</strong> by e.g. replacing a part of the file name with a <strong>*</strong>. Only use wildcard characters in combination with the option <strong>Move file to archive when import was successful</strong>.</p>
</li>
<li>
<p><strong>Move file to archive when import was successful</strong> = If this option is activated, the import file is automatically moved to the new <strong>Archive</strong> folder in the FTP directory once the import was successful.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<h3 id="_setting_the_import_options" class="discrete">Setting the import options</h3>
<div class="paragraph">
<p>After you created a <strong>Manufacturer</strong> import, you set the import options. To do so, carry out the settings as described in the <a href="/en/data/importing-data/ElasticSync#1300">Setting the import options</a> chapter on the import tool page.</p>
</div>
<h3 id="_setting_the_matching" class="discrete">Setting the matching</h3>
<div class="paragraph">
<p>Next, set the matching for the import. To do so, carry out the settings as described in the <a href="/en/data/importing-data/ElasticSync#1400">Setting the matching</a> chapter on the import tool page.</p>
</div>
<h3 id="_creating_a_mapping" class="discrete">Creating a mapping</h3>
<div class="paragraph">
<p>Last, you have to create the mappings for the data fields. To do so, carry out the settings as described in the <a href="/en/data/importing-data/ElasticSync#1500">Creating a mapping</a> chapter on the import tool page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="600">7. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link your categories with PIXmania categories, download the PIXmania category list first. Then link your own categories with the most appropriate PIXmania categories.</p>
</div>
<div class="paragraph instruction">
<p>Importing PIXmania categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » PIXmania » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Select file</strong>.</p>
</li>
<li>
<p>Select the <strong>field separator</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The category list is imported.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Proceed as described below to link your categories with PIXmania categories.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » PIXmania » Category link</strong>.</p>
</li>
<li>
<p>In the <strong>PIXmania link</strong> area, click on the <strong>gear-wheel icon</strong>.<br>
→ The PIXmania categories are displayed under <strong>Categories</strong>.</p>
</li>
<li>
<p>Expand the category.</p>
</li>
<li>
<p>Select the subcategory.<br>
→ The linked category is displayed in the <strong>Selection</strong> area.</p>
</li>
<li>
<p>Click on <strong>Reload</strong>.<br>
→ The links are displayed under <strong>PIXmania link</strong>.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title"><strong>Deleting category links</strong></div>
<div class="paragraph">
<p>You can delete category links in the <strong>Selection</strong> area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>After you have linked your categories with PIXmania’s categories, export the data to PIXmania.</p>
</div>
<div class="paragraph instruction">
<p>Exporting category links:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » PIXmania » Category link</strong>.</p>
</li>
<li>
<p>Click on the <strong>Export link</strong> button.<br>
→ A CSV file is created.</p>
</li>
<li>
<p>Save the CSV file on your computer.</p>
</li>
<li>
<p>Send the CSV file to PIXmania.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">8. Linking attributes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you have created <a href="/en/item/managing-items#390">attributes</a> in your plentymarkets system, you have to link these attributes with PIXmania. Proceed as described below to link the attribute Colour with PIXmania. Link further attributes in the same way.</p>
</div>
<div class="paragraph instruction">
<p>Linking attribute "Colour":</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Attributes</strong>.<br>
→ An overview of all existing attributes opens.</p>
</li>
<li>
<p>Open the attribute <strong>Colour</strong>.</p>
</li>
<li>
<p>Click on the <strong>Attribute link</strong> tab.</p>
</li>
<li>
<p>From the list of markets, select the option <strong>PIXmania</strong>.<br>
→ The area for linking attributes is shown.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Repeat this process for the remaining attributes.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">9. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <a href="/en/payment/managing-payment-methods">payment method</a> <strong>PIXmania Payment</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating the PIXmania payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>PIXmania Payment</strong>.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-payment-method-pixmania">Table 3</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="settings-payment-method-pixmania" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong>, and <strong>Upload logo</strong>. This enables you to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the plentyShop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the name that should be displayed in the plentyShop and on invoices etc.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If you selected the <strong>Info page (external)</strong> option under <strong>Info page</strong>, then enter the URL of the info page here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do not select a country of delivery.<br>
You cannot use the payment method in your plentyShop. Therefore, this payment method is only activated in plentymarkets. It is not completely set up.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one of the following options for displaying the logo:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br></p>
</li>
<li>
<p><strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br></p>
</li>
<li>
<p><strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then the logo that was uploaded is displayed here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG, and JPG.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the priority for displaying the payment method in the plentyShop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If the payment method results in additional costs, enter the percentage value or flat rate value. The selection depends on the conditions of your contract. <strong><em>Important:</em></strong> Do not enter a value into both fields.<br>
For further information, refer to the <a href="/en/business-decisions/plenty-bi/statistics">Statistics</a> page of the manual. For an example of flat rate and percentage costs, refer to the <a href="/en/payment/managing-payment-methods#20">Managing payment methods</a> page.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>Setup » CRM » Classes</strong> to activate or deactivate <strong>permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/payment/managing-payment-methods">Managing payment methods</a> page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="900">10. Viewing the export history</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Setup » Markets » PIXmania » Export history</strong> menu, you can see an overview of the export history of your PIXmania items. Export histories <strong>in progress</strong> as well as <strong>completed</strong> export histories are displayed here.</p>
</div>
</div>
</div>
</main>