<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Netto eStores</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Netto eStores in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the variation availability</span></a></li>
<li><a href="#330"><span>5.</span><span> Saving SKU</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Netto</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><a href="https://shop.netto-online.de/" target="_blank" rel="noopener">Netto Marken-Discount</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> offers various products from different product categories, such as food, toiletries, household items, gardening and leisure equipment.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Netto eStores</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before setting up Netto eStores in your plentymarkets system, you have to register with Netto eStores. Contacts for the registration:<br>
<a href="mailto:alina.glomp@netto-online.de">alina.glomp@netto-online.de</a><br>
<a href="mailto:Christian.Mertens@netto-online.de">Christian.Mertens@netto-online.de</a><br>
<a href="mailto:Katrin.Beer@netto-online.de">Katrin.Beer@netto-online.de</a></p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Item export with product XML 4.0</div>
<div class="paragraph">
<p>plentymarkets transfers item data with the product XML 4.0 to Netto eStores GmbH. Inform Netto eStores about this when registering. Otherwise, your items cannot be exported.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Netto eStores in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to sell items on Netto Marken-Discount, you have to set up the market in plentymarkets. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Netto Marken-Discount in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Netto eStores</strong>.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-netto">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="settings-netto" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for Netto Marken-Discount</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate the automatic data exchange</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Yes</strong> to activate the automatic data exchange or <strong>No</strong> to deactivate the data exchange.<br>
If you select <strong>Yes</strong>, the stock synchronisation, the item export, and the order import are activated.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate item export</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Yes</strong> to activate the automatic item export or <strong>No</strong> to deactivate it.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate stock update</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Yes</strong> to activate the automatic stock update or <strong>No</strong> to deactivate it.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Sales partner information</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Supplier number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the supplier number that you received from Netto eStores.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Item settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the item name that is transferred to Netto eStores.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the variation name that is transferred to Netto eStores.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Variation name</strong> = The variation name is transferred.<br></p>
</li>
<li>
<p><strong>Add attribute values of the variation</strong> = The attribute values are added to the variation name, separated by space (example: “T-Shirt red XL”).</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Short item description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the short item description that is transferred to Netto eStores.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the item description that is transferred to Netto eStores.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position for energy label</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the image’s position number if the energy label was not uploaded to the energy label characteristic but saved as an item image instead. For further information about the energy label, refer to the <a href="#900">Creating energy efficiency characteristics</a> chapter.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quantity for items that are not limited to the stock</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>For items with the setting <strong>no limitation</strong>, the maximum amount of the real stock and the quantity defined here is transferred.<br>
<em>Example:</em> Setting 0, net stock 8\. plentymarkets transfers 8.<br>
Items with the <strong>Limited to net stock</strong> setting are not taken into consideration.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quantity for items not limited to stock, if stock is 0</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a number that you would like to transfer as the stock quantity for items that are not limited to stock, if the stock is 0.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard delivery time</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the average delivery time in days.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item delivery time 1 - 10</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the average delivery time in days for the item availabilities 1-10.<br>
<strong><em>Important:</em></strong> Note that you can only enter exact values (time periods, e.g. 2-3, are not possible).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard commission in percent</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the commission value that you agreed on with Netto eStores.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the shipping costs in Euro. The value entered is used as default shipping costs for all items.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price for purchase price/sales price model</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a price for the purchase price/sales price model. You can select all prices that are released for Plus.de. If the selected price is saved for all variations of an item, then the price is exported as purchase price for Netto eStores. Otherwise, the commission rate that is saved for the <strong>Standard commission in percent</strong> setting is exported.<br>
<strong><em>Important:</em></strong> The price selected here must not be the sales price because in this case, no price will be exported for the purchase price/sales price model.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Order settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum order quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a number of items if you want to define a minimum order quantity.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum order quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a number of items if you want to define a maximum order quantity.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item names in order items</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether the item name in the order items should be taken from Netto eStores or from your plentyShop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">SFTP settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the user name that you received from Netto eStores.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Only change the purchase price/sales price after contacting the sales channel</div>
<div class="paragraph">
<p>Only change the settings for the options <strong>Standard commission in percent</strong> and <strong>Price for purchase price/sales price model</strong> after contacting the sales channel. Netto eStores recommends to use a commission model with the commission rate agreed upon with Netto eStores as default.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>daily item export</p>
</li>
<li>
<p>daily price synchronisation</p>
</li>
<li>
<p>hourly stock synchronisation</p>
</li>
<li>
<p>hourly order import</p>
</li>
</ul>
</div>
<h5 id="_requirements_for_items_at_netto" class="discrete">Requirements for items at Netto</h5>
<div class="paragraph">
<p>Check Netto’s product checklist prior to listing items on Netto. This list is provided by Netto eStores and refers to Netto’s product data terminology.<br></p>
</div>
<div class="paragraph">
<p>You can download the checklist as PDF file here: <a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/ElasticSync_BestPractice/Checkliste_Produktpflege_Netto.pdf" target="_blank" rel="noopener">Checkliste Produktpflege</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> (Currently only available in German.)</p>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with Netto Marken-Discount. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Netto Marken-Discount:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the options <strong>Netto</strong> and <strong>plus.de</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Also activate the order referrer plus.de</div>
<div class="paragraph">
<p>Always activate the order referrer <strong>plus.de</strong> additionally. This is to ensure a proper operation.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate all variations that you want to sell on Netto. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » [Open item] » Tab: Variation ID</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Use group function or batch processing</div>
<div class="paragraph">
<p>You can edit the availability of several variations at once by using either the <a href="/en/item/managing-items#100">variation group function</a> or <a href="/en/item/managing-items#400">batch processing</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting the variation availability for Netto:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on Netto.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on Netto, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>Netto</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The variation is available for Netto.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="330">5. Saving SKU</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If necessary, save market specific SKU for those variations that you want to sell on this market.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manually-adding-an-sku-tab" data-toggle="tab" href="#manually-adding-an-sku" role="tab" aria-controls="manually-adding-an-sku" aria-selected="true">Manually adding an SKU</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="importing-sku-tab" data-toggle="tab" href="#importing-sku" role="tab" aria-controls="importing-sku" aria-selected="false">Importing SKU</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manually-adding-an-sku" role="tabpanel" aria-labelledby="manually-adding-an-sku-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>SKU</strong> area, click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>New SKU</strong> window opens.</p>
</li>
<li>
<p>Select the referrer <strong>Plus.de</strong>.<br>
<strong><em>Tip:</em></strong> The referrer <strong>Plus.de</strong> also covers the market Netto Marken-Discount when you add SKUs.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="importing-sku" role="tabpanel" aria-labelledby="importing-sku-tab">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Only the most important settings for the import are described here. Is this your first time working with the import tool? Then get familiar with <a href="/en/data/importing-data/ElasticSync">how data imports work in plentymarkets first</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="ulist">
<ul>
<li>
<p>Create a CSV file with at least the columns described in <a href="#table-sku-import">Table 2</a>.</p>
</li>
<li>
<p>Create an import with the following settings:</p>
<div class="ulist">
<ul>
<li>
<p>Select the type <strong>Item</strong>.</p>
</li>
<li>
<p>Select the matching field <strong>Variation ID</strong>.</p>
</li>
<li>
<p>Map the plentymarkets data fields as described in <a href="#table-sku-import">Table 2</a>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<table id="table-sku-import" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Recommended columns of the import file</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 50%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column in CSV file</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">plentymarkets data field for mapping</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Variation ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the variation ID in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Variation ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Market ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the referrer ID <strong>131</strong> in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>Marketplace ID</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
</div></div>
</div>
</div>
</main>