<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>real.de</h1><p>Welcome to the topic real.de. The following information is available:</p><!-- AUTO GENERATED --><ul><li><a href="/en/markets/real-de/real-setup">Setting up real.de</a></li><li><a href="/en/markets/real-de/best-practices">Best Practices: real.de</a></li></ul>
</main>