<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with REWE</span></a></li>
<li><a href="#200"><span>2.</span><span> Installing REWE in plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Authentication</span></a></li>
</ul>
</li>
<li><a href="#400"><span>3.</span><span> Activating the automatic data exchange</span></a></li>
<li><a href="#450"><span>4.</span><span> Defining stock export</span></a></li>
<li><a href="#500"><span>5.</span><span> Setting the commission</span></a></li>
<li><a href="#600"><span>6.</span><span> Activating the order referrer</span></a></li>
<li><a href="#700"><span>7.</span><span> Setting the variation availability</span></a></li>
<li><a href="#800"><span>8.</span><span> Linking the variation property REWE product type</span></a></li>
<li><a href="#900"><span>9.</span><span> Setting up the item export</span></a></li>
<li><a href="#1000"><span>10.</span><span> REWE product groups and variants</span></a></li>
<li><a href="#1100"><span>11.</span><span> Matching shipping service providers</span></a></li>
<li><a href="#1200"><span>12.</span><span> Matching reasons for return</span></a></li>
<li><a href="#1300"><span>13.</span><span> Synchronising tax categories</span></a></li>
<li><a href="#1400"><span>14.</span><span> Synchronising brands</span></a></li>
<li><a href="#1500"><span>15.</span><span> Automatically updating the order status for REWE</span></a></li>
<li><a href="#1600"><span>16.</span><span> REWE delivery periods</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>REWE</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Download the REWE plugin</div>
<div class="paragraph">
<p>You need a plugin to link plentymarkets to REWE. Visit the <a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/rewe_5901" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to download the REWE plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with REWE</h2>
<div class="sectionbody">
<div class="paragraph">
<p>REWE is a closed marketplace. Therefore, REWE will carry out a number of checks before you can register as a seller. Contact REWE at <a href="mailto:partnersupport@rewe.de">partnersupport@rewe.de</a> and provide the following information:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name of your company</p>
</li>
<li>
<p>your company’s website or your online shop</p>
</li>
<li>
<p>list of your product range (number of SKUs, categories, required specifications)</p>
</li>
<li>
<p>contact information</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>For further information on the check and the registration as seller, contact REWE at <a href="mailto:partnersupport@rewe.de">partnersupport@rewe.de</a>.</p>
</div>
<div class="paragraph">
<p>After you have registered as a seller, you will receive access data from REWE.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Assigning rights</div>
<div class="paragraph">
<p>When creating the API client credentials at REWE, make sure to assign enough rights. Select the <strong>Admin client</strong> template or create a new client and assign all rights that are available.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>After installing the REWE plugin, the following automatic processes are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>daily item export</p>
</li>
<li>
<p>hourly stock synchronisation</p>
</li>
<li>
<p>hourly price synchronisation</p>
</li>
<li>
<p>order import every 15 minutes</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Installing REWE in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After buying the REWE plugin in the plentyMarketplace, install the market in the <strong>Plugins » Plugin overview</strong> menu.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Authentication</h3>
<div class="paragraph">
<p>After you have installed the REWE plugin, carry out an authentication to enable access to the interface.</p>
</div>
<div class="paragraph instruction">
<p>Activating the access to the interface:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Account settings</strong>.</p>
</li>
<li>
<p>Enter the access data that you have received from REWE into the fields <strong>User name</strong>, <strong>Password</strong>, and <strong>Product key</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">3. Activating the automatic data exchange</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Open the <strong>Setup » Markets » REWE » Basic Settings</strong> menu to set up the market REWE in plentymarkets. Activate the item export, the stock and price synchronisation, and the order import in this menu so that data is exchanged with REWE automatically.</p>
</div>
<div class="paragraph instruction">
<p>Activating the automatic data exchange:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Basic settings</strong>.</p>
</li>
<li>
<p>Activate the settings <strong>Item export</strong>, <strong>Stock and price update</strong>, and <strong>Order import</strong> to activate the automatic data exchange with REWE.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="450">4. Defining stock export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By default, the stock information for each variation is exported based on the option you selected for the <strong>Limitation</strong> setting. In plugin version 1.18.0 and higher, you can also ignore this setting and instead export the actual net stock for all variations to REWE.</p>
</div>
<div class="paragraph instruction">
<p>Defining stock export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Basic settings</strong>.</p>
</li>
<li>
<p>Select an option for <strong>Export stock</strong>. Pay attention to the explanations given in <a href="#rewe-stock">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="rewe-stock" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Defining stock export</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export stock</strong><br>
(plugin version 1.18.0 and higher)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Consider variation setting 'Limitation'</strong> (default setting) = Stock is exported as specified for each variation. Stock limitation is managed in the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Settings » Area: Availability</strong> menu using the option <strong>Limitation</strong>.<br>
<strong><em>Note:</em></strong> For variations for which the <strong>Limitation</strong> setting is set to <strong>Do not administer stock for this variation</strong>, a stock of 1000 is exported to REWE.<br></p>
</li>
<li>
<p><strong>Export actual net stock</strong> = The stock <strong>Limit</strong> setting is ignored for all variations during export to REWE. Instead, the actual net stock is exported to REWE for each variation. You can check the actual net stock in the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Stock » Tab: Stock</strong> menu in the column <strong>Net</strong>.<br>
<strong><em>Note:</em></strong> For variations for which the <strong>Limitation</strong> setting is set to <strong>Do not administer stock for this variation</strong>, a stock of 0 is exported to REWE. As such, the variation cannot be bought on REWE.<br>
<strong><em>Tip:</em></strong> The net stock is the quantity of a variation that is available for sale. The net stock is a subset of the physical stock. Substract all reserved quantities from the physical stock and you will get the net stock.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. Setting the commission</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Commission settings are optional</div>
<div class="paragraph">
<p>The settings for the commission for REWE are optional. If you do not set a commission, orders will be imported into plentymarkets with the sales prices that are displayed at REWE.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The standard commission is set up in the <strong>Setup » Markets » REWE » Basic settings</strong> menu. The commission serves to calculate the order sums free of commission.</p>
</div>
<div class="paragraph">
<p>Order sums free of commission are calculated with this formula:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Sales price REWE = Sales price customer * (1 - conversion factor)</p>
</li>
<li>
<p>Conversion factor = Commission * (1 + VAT rate)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>For the calculation, the percentages for commission and VAT rate are converted into the corresponding factor, that is, divided by 100. The conversion factor is rounded to 3 decimal places.</p>
</div>
<div class="paragraph instruction">
<p>Setting the commission:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Basic settings</strong>.</p>
</li>
<li>
<p>In the <strong>Commission</strong> area, enter a number for the commission in percent.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The commission is the default commission for all items except for any variations for which a separate commission was set up.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can set up a separate commission for variations. To do so, use the <strong>REWE commission</strong> variation property. The variation property <strong>REWE commission</strong> is created automatically when the REWE plugin is installed. In order to set up a separate commission for a variation, link the variation to the variation property <strong>REWE commission</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a separate commission for variations:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong>Variations</strong> tab.</p>
</li>
<li>
<p>Open the variation that you would like to set up a separate commission for.</p>
</li>
<li>
<p>Open the variation’s <strong>Properties</strong> tab.</p>
</li>
<li>
<p>From the <strong>Properties</strong> drop-down list, select <strong>REWE commission</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The property is linked to the variation.</p>
</li>
<li>
<p>Enter a whole number or a decimal number into the <strong>Value</strong> field for the commission in percent.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, properties etc. with REWE. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for REWE:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the setting <strong>Rewe</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">7. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Variations have to be available for REWE. This is done in the <strong>Availability</strong> tab of an item within the <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Selling all variations of an item on REWE</div>
<div class="paragraph">
<p>To sell all variations of an item on REWE, carry out the settings described below for the main variation. The settings are then passed on to all variations of the item.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting the variation availability for REWE:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on REWE.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>REWE</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The variation is available on REWE.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">8. Linking the variation property REWE product type</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items that you want to sell on REWE have to be linked with the <strong>REWE product type</strong> variation property. This variation property is created in your plentymarkets system as soon as you have installed the REWE plugin.</p>
</div>
<div class="paragraph instruction">
<p>Linking items with the REWE product type variation property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item »</strong> <em>Open item</em> <strong>» Tab: Variation ID » Tab: Properties</strong>.</p>
</li>
<li>
<p>In the <strong>Variation properties</strong> area, click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the property <strong>REWE product type</strong>.</p>
</li>
<li>
<p>Select the appropriate <strong>value</strong> from the drop-down list.<br>
→ The REWE product types can be selected.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">9. Setting up the item export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Item data is exported to REWE via catalogue templates. Go to <strong>Data » Catalogs</strong> to create catalogues. For further information about catalogues, refer to the Managing catalogues <a href="#data/exporting-data/managing-catalogues">[data/exporting-data/managing-catalogues]</a> page of the manual.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Visibility of the menu</div>
<div class="paragraph">
<p>The menu <strong>Data » Catalogs</strong> only becomes visible after you have installed a plugin which provides a catalogue template.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>In order to export your items to REWE, you have to create catalogues for the different REWE product categories. Link the REWE data fields with item data saved in plentymarkets in the catalogue template afterwards. The catalogue templates are exported automatically to REWE once a day if you have activated the <strong>Item export</strong> in the <strong>Setup » Markets » REWE » Basic settings</strong> menu.</p>
</div>
<div class="paragraph">
<p>At present, the REWE plugin allows you to create catalogues for the following REWE product categories:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Household</strong></p>
</li>
<li>
<p><strong>Multimedia</strong></p>
</li>
<li>
<p><strong>Drugstore</strong></p>
</li>
<li>
<p><strong>Fashion</strong></p>
</li>
<li>
<p><strong>Leisure/sports</strong></p>
</li>
<li>
<p><strong>Stationary</strong></p>
</li>
<li>
<p><strong>Toys</strong></p>
</li>
<li>
<p><strong>Garden</strong></p>
</li>
<li>
<p><strong>Food</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Information for the food product category</strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Food specifications must always be made for 100g.</p>
</li>
<li>
<p>Energy information must be provided in kcal.</p>
</li>
<li>
<p>If the <strong>Nutrition information for prepared and non-prepared foods</strong> field is not linked, the value <strong>non-prepared</strong> is transferred to REWE by default.</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Creating a catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on <strong>Create catalogue</strong>.</p>
</li>
<li>
<p>Enter a name for the catalogue.</p>
</li>
<li>
<p>Select a catalogue template from the drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>After you have created a catalogue, link the market’s data fields with item data saved in plentymarkets. For more information about the plentymarkets data sources that can be linked, refer to the <a href="/en/data/exporting-data/managing-catalogues#_mapping_data_sources">Mapping data sources</a> chapter.</p>
</div>
<div class="paragraph instruction">
<p>Linking data fields in the catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The catalogue opens.<br>
→ The market’s data fields are displayed on the left-hand side.<br>
<strong><em>Tip</em></strong>: Mandatory fields are marked with an asterisk.</p>
</li>
<li>
<p>Select a plentymarkets data source for the market’s data fields from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Add source</strong> to assign another plentymarkets data source to a data field.<br>
→ A new line is displayed.<br>
<strong><em>Note:</em></strong> Only one value is exported even if you assign more than one data source to a data field. The data is checked in the order in which you assigned it. This means that if the first data field does not provide a value, the second data field is exported etc.</p>
</li>
<li>
<p>Link the desired data fields.<br>
<strong><em>Note:</em></strong> All mandatory fields marked with an * must be linked to a plentymarkets data source.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Link all mandatory fields</div>
<div class="paragraph">
<p>The mandatory fields for the templates are marked with an *. To make sure that REWE approves your items for sale, link at least the mandatory fields.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Linking values</div>
<div class="paragraph">
<p>In the data fields in the lower area of the catalogue template, you have to link values specified by REWE to plentymarkets data sources. For those fields, the names given by REWE are exported to the marketplace.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>An example of how you can link the mandatory field <strong>Produktbeschreibung</strong> (product description) to data saved in plentymarkets is described below.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The catalogue opens.</p>
</li>
<li>
<p>Select a plentymarkets data source for the REWE catalogue field <strong>Produktbeschreibung</strong> (product description) from the drop-down list, e.g. <strong>Item text &gt; Name 1, Name 2, Name 3</strong> that should be displayed on REWE as the product description.</p>
</li>
<li>
<p>Link the other data fields in the same way. Link at least all mandatory fields.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Link SKU</div>
<div class="paragraph">
<p>We recommend to link the data field <strong>SKU</strong> with the plentymarkets data source <strong>Variation ID</strong> because the variation ID is clearly assigned to the variation.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Using properties</div>
<div class="paragraph">
<p>Use <a href="/en/item/managing-items#3000">properties</a> to export values for data fields that have no corresponding item data saved in plentymarkets, such as <strong>Durchmesser</strong> (diameter).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">10. REWE product groups and variants</h2>
<div class="sectionbody">
<div class="paragraph">
<p>REWE differentiates between <strong>product groups</strong> and <strong>variants</strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Product groups</strong> in plentymarkets are items with variations with at least one REWE group attribute, depending on the product type.</p>
</li>
<li>
<p><strong>Variants</strong> in plentymarkets are variations of an item which do not have more than one REWE variant attribute, depending on the product type.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>For REWE group attributes, more than one different attributes can be set, for example colour and motive. For REWE variant attributes, only one variant attribute can be set, for example only size or only volume.</p>
</div>
<div class="paragraph">
<p>The REWE group attributes and REWE variant attributes for each product type are available in the catalogue templates. Open the drop-down lists <strong>Attribute for variant group</strong> and <strong>Attribute for product group</strong> in the catalogue template to view the available attributes.</p>
</div>
<div class="paragraph">
<p>Items in plentymarkets can have more than one REWE group attribute. However, only one REWE group attribute can be used to form product groups. Therefore, the <strong>Attribute for product group</strong> field has to be matched so that the first attribute will always be the attribute that you want to use to form a product group. If an item, for example a t-shirt, differs in colour and print and the print should be used as the REWE group attribute, you first have to link the print in the <strong>Attribute for product group</strong> field and the colour only afterwards.</p>
</div>
<div class="paragraph">
<p>An item should not be linked to more than one attribute which was assigned as REWE variant attribute in the catalogue.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">11. Matching shipping service providers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Shipping service providers saved in plentymarkets are matched with REWE shipping service providers in the <strong>Setup » Markets » REWE » Shipping service provider matching</strong> menu. If you do not match shipping service providers, then the shipping service provider <strong>unknown</strong> is sent to REWE.</p>
</div>
<div class="paragraph instruction">
<p>Matching shipping service providers:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Shipping service provider matching</strong>.</p>
</li>
<li>
<p>Select the REWE shipping service provider from the drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">12. Matching reasons for return</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Return reasons saved in plentymarkets are matched with REWE return reasons int the <strong>Setup » Markets » REWE » Return reason matching</strong> menu. If you do not match reasons for return, then the reason for return <strong>Other</strong> is sent to REWE. For further information about REWE reasons for return, refer to the seller documentation that you have received from REWE.</p>
</div>
<div class="paragraph instruction">
<p>Linking return reasons:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Return reason matching</strong>.</p>
</li>
<li>
<p>Select the REWE return reason from the drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">13. Synchronising tax categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If the tax categories were changed at REWE, you have to synchronise the tax categories in plentymarkets. Tax categories are synchronised with REWE in the <strong>Setup » Markets » REWE » Basic settings</strong> menu in the <strong>Tax categories</strong> area.</p>
</div>
<div class="paragraph instruction">
<p>Synchronising tax categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Basic settings</strong>.</p>
</li>
<li>
<p>Go to the <strong>Tax categories</strong> area and click on <strong>Synchronise</strong>.<br>
→ The tax categories are synchronised with REWE.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong>Last update</strong> indicates the last time the tax categories were synchronised with REWE.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Synchronise tax categories before switching to REWE live system</div>
<div class="paragraph">
<p>You need to synchronise the tax categories in plentymarkets before you switch from the REWE stage test environment to the live system. Otherwise, your item catalogue will not be exported. Enter your access data and the product key for the live system prior to switching to the live system. Afterwards, synchronise the tax categories. You have to map the tax categories again in your REWE catalogues after you synchronised them.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">14. Synchronising brands</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Brands are automatically synchronised with REWE once per day. Additionally, you can manually synchronise brands with REWE at any time. To do so, open the <strong>Setup » Markets » REWE » Basic settings</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Manually synchronising brands:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Basic settings</strong>.</p>
</li>
<li>
<p>In the <strong>Brands</strong> area, click on <strong>Synchronise</strong>.<br>
→ The brands are synchronised with REWE.<br>
<strong><em>Tip:</em></strong> <strong>Last update</strong> indicates the last time the brands were synchronised with REWE.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">15. Automatically updating the order status for REWE</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically update the order status on REWE whenever specific events occur. You can set up the following event procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Send out-of-stock status to REWE</p>
</li>
<li>
<p>Send buyer cancellation to REWE</p>
</li>
<li>
<p>Send seller cancellation to REWE</p>
</li>
<li>
<p>Send shipping preparation to REWE</p>
</li>
<li>
<p>Send shipping preparation completion to REWE</p>
</li>
<li>
<p>Send shipping confirmation to REWE</p>
</li>
<li>
<p>Send parcel delivery completion to REWE</p>
</li>
<li>
<p>Send return completion to REWE</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>An example of an event procedure you can use to report the shipping confirmation to REWE is described below. Set up other event procedures in the same way.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The window <strong>Create new event procedure</strong> opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#rewe-procedure">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#rewe-procedure">Table 2</a> vor.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="rewe-procedure" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Event procedure for reporting order status to REWE</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Selection</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Status change</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>status</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rewe</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send shipping confirmation to REWE</strong></p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Matching reasons for return</div>
<div class="paragraph">
<p>You need to match plentymarkets reasons for return with the reasons for return predefined by REWE. For example, when the event procedure <strong>Send return completion to REWE</strong> is triggered, a reason for return must be saved. For further information about matching reasons for return, refer to the chapter <a href="#1200">Matching reasons for return</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">16. REWE delivery periods</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The variation availability in plentymarkets is assigned to delivery periods at REWE. An overview of the delivery periods at REWE and the corresponding plentymarkets availabilities can be found in <a href="#rewe-availability">Table 3</a>.</p>
</div>
<table id="rewe-availability" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. REWE delivery periods</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>REWE delivery period</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1-3 working days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 3-6 working days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 6-8 working days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 8-10 working days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 10-15 working days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 15-20 working days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 20-30 working days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 30-40 working days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 40-50 working days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">10</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 50-60 working days</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Availability in case of errors</div>
<div class="paragraph">
<p>If an availability error occurs, the availability <strong>longer than 3 months</strong> is displayed on the REWE marketplace.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>