<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with REWE</span></a></li>
<li><a href="#200"><span>2.</span><span> Installing REWE in plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>2.1.</span><span> Authentication</span></a></li>
</ul>
</li>
<li><a href="#400"><span>3.</span><span> Activating the automatic data exchange</span></a></li>
<li><a href="#450"><span>4.</span><span> Defining stock export</span></a></li>
<li><a href="#500"><span>5.</span><span> Setting the commission</span></a></li>
<li><a href="#600"><span>6.</span><span> Activating the order referrer</span></a></li>
<li><a href="#700"><span>7.</span><span> Setting the variation availability</span></a></li>
<li><a href="#800"><span>8.</span><span> Linking variations with the property REWE product type</span></a></li>
<li><a href="#900"><span>9.</span><span> Setting up the item export</span></a>
<ul class="sectlevel2">
<li><a href="#_creating_a_catalogue_in_the_assistant"><span>9.1.</span><span> Creating a catalogue in the assistant</span></a></li>
<li><a href="#600"><span>9.2.</span><span> Mapping additional data fields in the catalogue (not in assistant)</span></a></li>
<li><a href="#602"><span>9.3.</span><span> Example: Mapping the data field "Product description"</span></a></li>
</ul>
</li>
<li><a href="#701"><span>10.</span><span> Linking fields created in the assistant with variations</span></a></li>
<li><a href="#2000"><span>11.</span><span> Activating the catalogue export to REWE</span></a></li>
<li><a href="#1000"><span>12.</span><span> REWE product groups and variants</span></a></li>
<li><a href="#1100"><span>13.</span><span> Matching shipping service providers</span></a></li>
<li><a href="#1200"><span>14.</span><span> Matching reasons for return</span></a></li>
<li><a href="#1300"><span>15.</span><span> Synchronising tax categories</span></a></li>
<li><a href="#1400"><span>16.</span><span> Synchronising brands</span></a></li>
<li><a href="#1700"><span>17.</span><span> Deactivating the creation of contacts (plugin version 1.24.0 and higher)</span></a></li>
<li><a href="#1500"><span>18.</span><span> Automatically updating the order status for REWE</span></a></li>
<li><a href="#1600"><span>19.</span><span> REWE delivery periods</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>REWE</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Download the REWE plugin</div>
<div class="paragraph">
<p>You need a plugin to link plentymarkets to REWE. Visit the <a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/rewe_5901" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to download the REWE plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Installing the plugin <strong>REWE</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>REWE</strong> from the plugin list.<br>
→ Information about <strong>REWE</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with REWE</h2>
<div class="sectionbody">
<div class="paragraph">
<p>REWE is a closed marketplace. Therefore, REWE will carry out a number of checks before you can register as a seller. Contact REWE at <a href="mailto:partnersupport@rewe.de">partnersupport@rewe.de</a> and provide the following information:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name of your company</p>
</li>
<li>
<p>your company’s website or your online shop</p>
</li>
<li>
<p>list of your product range (number of SKUs, categories, required specifications)</p>
</li>
<li>
<p>contact information</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>For further information on the check and the registration as seller, contact REWE at <a href="mailto:partnersupport@rewe.de">partnersupport@rewe.de</a>.</p>
</div>
<div class="paragraph">
<p>After you have registered as a seller, you will receive access data from REWE.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Assigning rights</div>
<div class="paragraph">
<p>When creating the API client credentials at REWE, make sure to assign enough rights. Select the <strong>Admin client</strong> template or create a new client and assign all rights that are available.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>After installing the REWE plugin, the following automatic processes are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>daily item export</p>
</li>
<li>
<p>stock synchronisation every 15 minutes</p>
</li>
<li>
<p>hourly price synchronisation</p>
</li>
<li>
<p>order import every 15 minutes</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Installing REWE in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After buying the REWE plugin in the plentyMarketplace, install the market in the <strong>Plugins » Plugin overview</strong> menu.</p>
</div>
<div class="sect2">
<h3 id="300">2.1. Authentication</h3>
<div class="paragraph">
<p>After you have installed the REWE plugin, carry out an authentication to enable access to the interface.</p>
</div>
<div class="paragraph instruction">
<p>Activating the access to the interface:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Account settings</strong>.</p>
</li>
<li>
<p>Enter the access data that you have received from REWE into the fields <strong>User name</strong>, <strong>Password</strong>, and <strong>Product key</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">3. Activating the automatic data exchange</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Open the <strong>Setup » Markets » REWE » Basic Settings</strong> menu to set up the market REWE in plentymarkets. Activate the item export, the stock and price synchronisation, and the order import in this menu so that data is exchanged with REWE automatically.</p>
</div>
<div class="paragraph instruction">
<p>Activating the automatic data exchange:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Basic settings</strong>.</p>
</li>
<li>
<p>Activate the options <strong>Item export</strong>, <strong>Stock and price update</strong>, and <strong>Order import</strong> to activate the automatic data exchange with REWE.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="450">4. Defining stock export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By default, the stock information for each variation is exported based on the option you selected for the <strong>Limitation</strong> setting. From plugin version 1.18.0 and higher, you can also ignore this setting and instead export the actual net stock for all variations to REWE.</p>
</div>
<div class="paragraph instruction">
<p>Defining stock export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Basic settings</strong>.</p>
</li>
<li>
<p>Select an option for <strong>Export stock</strong>. Pay attention to the explanations given in <a href="#rewe-stock">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="rewe-stock" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Defining stock export</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export stock</strong><br>
(plugin version 1.18.0 and higher)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Consider variation setting 'Limitation'</strong> (default setting) = Stock is exported as specified for each variation. Stock limitation is managed in the <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Settings » Area: Availability</strong> menu using the option <strong>Limitation</strong>.<br>
<strong><em>Note:</em></strong> For variations for which the <strong>Limitation</strong> setting is set to <strong>Do not administer stock for this variation</strong>, a stock of 1000 is exported to REWE.<br></p>
</li>
<li>
<p><strong>Export actual net stock</strong> = The stock <strong>Limit</strong> setting is ignored for all variations during export to REWE. Instead, the actual net stock is exported to REWE for each variation. You can check the actual net stock in the <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Stock » Tab: Stock</strong> menu in the column <strong>Net</strong>.<br>
<strong><em>Note:</em></strong> For variations for which the <strong>Limitation</strong> setting is set to <strong>Do not administer stock for this variation</strong>, a stock of 0 is exported to REWE. As such, the variation cannot be bought on REWE.<br>
<strong><em>Tip:</em></strong> The net stock is the quantity of a variation that is available for sale. The net stock is a subset of the physical stock. Substract all reserved quantities from the physical stock and you will get the net stock.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="500">5. Setting the commission</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Commission settings are optional</div>
<div class="paragraph">
<p>The settings for the commission for REWE are optional. If you do not set a commission, orders will be imported into plentymarkets with the sales prices that are displayed at REWE.<br>
If no commission is set, prices will also be displayed without commission on the delivery note.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The standard commission is set up in the <strong>Setup » Markets » REWE » Basic settings</strong> menu. The commission serves to calculate the order sums free of commission.</p>
</div>
<div class="paragraph">
<p>Order sums free of commission are calculated with this formula:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Sales price REWE = Sales price customer * (1 - conversion factor)</p>
</li>
<li>
<p>Conversion factor = Commission * (1 + VAT rate)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>For the calculation, the percentages for commission and VAT rate are converted into the corresponding factor, that is, divided by 100. The conversion factor is rounded to 3 decimal places.</p>
</div>
<div class="paragraph instruction">
<p>Setting the commission:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Basic settings</strong>.</p>
</li>
<li>
<p>In the <strong>Commission</strong> area, enter a number for the commission in percent.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The commission is the default commission for all items except for any variations for which a separate commission was set up.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You can set up a separate commission for variations. To do so, use the <strong>REWE commission</strong> variation property. The variation property <strong>REWE commission</strong> is created automatically when the REWE plugin is installed. In order to set up a separate commission for a variation, link the variation to the variation property <strong>REWE commission</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a separate commission for variations:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.</p>
</li>
<li>
<p>Click on the <strong>Variations</strong> tab.</p>
</li>
<li>
<p>Open the variation that you would like to set up a separate commission for.</p>
</li>
<li>
<p>Open the variation’s <strong>Properties</strong> tab.</p>
</li>
<li>
<p>From the <strong>Properties</strong> drop-down list, select <strong>REWE commission</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The property is linked to the variation.</p>
</li>
<li>
<p>Enter a whole number or a decimal number into the <strong>Value</strong> field for the commission in percent.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with REWE. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for REWE:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Rewe</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">7. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate all variations that you want to sell on REWE. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » [Open item] » Tab: Variation ID</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Use group function or batch processing</div>
<div class="paragraph">
<p>You can edit the availability of several variations at once by using either the <a href="/en/item/managing-items#100">variation group function</a> or <a href="/en/item/managing-items#400">batch processing</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting the variation availability for REWE:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on REWE.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on REWE, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>REWE</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The variation is available for REWE.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">8. Linking variations with the property REWE product type</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Variations that you want to sell on REWE have to be linked with the <strong>REWE product type</strong> variation property. This variation property is created in your plentymarkets system as soon as you have installed the REWE plugin.</p>
</div>
<div class="paragraph instruction">
<p>Linking variations with the property REWE product type:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Settings</strong>.<br>
<strong><em>Tip:</em></strong> To link all variations of an item, carry out these settings for the main variation. The settings are passed on to all variations of the item.</p>
</li>
<li>
<p>In the <strong>Variation properties</strong>, click into the field <strong>Properties</strong>.</p>
</li>
<li>
<p>Activate the property <strong>REWE product type</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The property is added to the property list.</p>
</li>
<li>
<p>Select an appropriate <strong>value</strong> from the drop-down list.<br>
→ The REWE product types can be selected.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="900">9. Setting up the item export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Item data is exported to REWE via catalogues. The assistant <strong>Creating REWE catalogues</strong> helps you to create a catalogue for a specific product category. Is this your first time working with catalogues? Then read up on the basic principle of <a href="#en/data/exporting-data/managing-catalogues">catalogues first</a>. For further information about the plentymarkets data fields that can be linked, refer to the <a href="/en/data/exporting-data/managing-catalogues#_mapping_data_sources">Mapping data fields</a> chapter.</p>
</div>
<div class="paragraph">
<p>At present, the REWE plugin allows you to create catalogues for the following REWE product categories:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Household</strong></p>
</li>
<li>
<p><strong>Multimedia</strong></p>
</li>
<li>
<p><strong>Drugstore</strong></p>
</li>
<li>
<p><strong>Fashion</strong></p>
</li>
<li>
<p><strong>Leisure/sports</strong></p>
</li>
<li>
<p><strong>Stationary</strong></p>
</li>
<li>
<p><strong>Toys</strong></p>
</li>
<li>
<p><strong>Garden</strong></p>
</li>
<li>
<p><strong>Food</strong></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Information for the food product category:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Food specifications must always be made for 100g.</p>
</li>
<li>
<p>Energy information must be provided in kcal.</p>
</li>
<li>
<p>If the <strong>Nutrition information for prepared and non-prepared foods</strong> field is not mapped, the value <strong>non-prepared</strong> is transferred to REWE by default.</p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="_creating_a_catalogue_in_the_assistant">9.1. Creating a catalogue in the assistant</h3>
<div class="paragraph instruction">
<p>Creating a catalogue in the assistant:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>Setup » Assistants » Plugins » [Open client]</strong>.</p>
</li>
<li>
<p>Click on the assistant <strong>Create REWE catalogue</strong>.</p>
</li>
<li>
<p>Follow the instructions on the screen. If you need additional information about one of the options, expand the info boxes below this instruction (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).</p>
</li>
<li>
<p>In the step <strong>Summary</strong>, check your settings to makes sure they are correct.<br>
<strong><em>Tip:</em></strong> Click on the arrow in the step <strong>Summary</strong> (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to show the settings.</p>
</li>
<li>
<p>If everything is as it should be, click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The catalogue is created.</p>
</li>
<li>
<p>Map more fields in the <strong>Data » Catalogues</strong> menu.<br>
<strong><em>Note:</em></strong> You need a separate catalogue for each product category.</p>
</li>
</ol>
</div>
<div class="openblock collapseBox">
<div class="title">Step <strong>Settings</strong></div>
<div class="content">
<table id="table-rewe-catalogue-assistant" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select the REWE product category that should be added to the catalogue.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a product category from the drop-down list.<br>
<strong><em>Note:</em></strong> You need a separate catalogue for each product category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Enter a name for the REWE catalogue.</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name for the catalogue. The catalogue will be listed under this name in the <strong>Data » Catalogues</strong> menu.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Step <strong>Mapping basic data fields</strong></div>
<div class="content">
<div class="paragraph">
<p>In this step of the assistant, you decide which variation data saved in plentymarkets you want to send to the market. To do so, you are going to map each field of the market with the data field in plentymarkets that contains the data that you want to export to the market. Instead of mapping an existing data field, you can also create a new data field for some fields.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>SKU</strong> = From the drop-down list, select the data field in plentymarkets that contains the SKU.<br>
<strong><em>Tip:</em></strong> We recommend to link the data field <strong>SKU</strong> with the plentymarkets data field <strong>Variation ID</strong> because the variation ID is clearly assigned to the variation.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>Select data source</strong> = A data field that already exists in plentymarkets will be exported to REWE. Select the data field from the drop-down list <strong>Data source</strong>.<br>
<strong><em>Note:</em></strong> The mappings you create will not be checked in terms of logic. As such, check your mappings carefully before starting the export.</p>
</div>
<hr>
<div class="paragraph">
<p><strong>Create property</strong> = Creates a <a href="/en/item/settings/properties#500">property</a> and maps this property to the data field. <a href="/en/item/settings/properties#500">Properties</a> make it possible to export values for data fields that have no corresponding item data saved in plentymarkets, such as <strong>Durchmesser</strong> (diameter).</p>
</div>
<div class="paragraph">
<p>The automatically created property will be saved in the <a href="/en/welcome/general-functions/properties#table-create-property">Setup » Settings » Properties » Configuration</a> menu.</p>
</div>
<div class="paragraph">
<p>The property is created with the following settings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Section = Item</p>
</li>
<li>
<p>Property type = <em>depending on the market’s requirements</em></p>
</li>
<li>
<p>Language = German</p>
</li>
<li>
<p>Name = Name of the product category</p>
</li>
<li>
<p>Group = REWE</p>
</li>
</ul>
</div>
<hr>
<div class="paragraph">
<p><strong>Creating a sales price</strong> = Creates a sales price and maps this sales price to the data field. You can check and edit this sales price in the <a href="/en/en/item/settings/prices#400">Setup » Item » Sales prices</a> menu.</p>
</div>
<div class="paragraph">
<p>The sales price is created with the following settings:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Subscription interval = None</p>
</li>
<li>
<p>Internal name = REWE</p>
</li>
<li>
<p>External name = REWE</p>
</li>
<li>
<p>Minimum quantity = 1</p>
</li>
<li>
<p>Live conversion = No</p>
</li>
<li>
<p>Currency = Euro</p>
</li>
<li>
<p>Display = Always display for new items</p>
</li>
<li>
<p>Client = ALL</p>
</li>
<li>
<p>Class = ALL</p>
</li>
<li>
<p>Country = Germany</p>
</li>
</ul>
</div>
<hr>
<div class="paragraph">
<p><strong>Create barcode</strong> = Creates a barcode <strong>REWE</strong> and maps this barcode to the data field. If a barcode with the name <strong>REWE</strong> already exists in the system, that barcode is mapped instead. You can check and edit this barcode in the <a href="/en/en/item/settings/barcodes#100">Setup » Item » Barcodes</a> menu.</p>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="600">9.2. Mapping additional data fields in the catalogue (not in assistant)</h3>
<div class="paragraph">
<p>You have already mapped important mandatory fields for the REWE product category in the assistant. However, after you have completed the assistant, you need to map additional data fields to send more information regarding your products to REWE.</p>
</div>
<div class="paragraph instruction">
<p>Mapping additional data fields in the catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The <strong>Mapping</strong> tab with the market data fields opens.<br>
→ In the left-hand column, the market’s data fields are listed.<br>
<strong><em>Tip:</em></strong> Mandatory fields are flagged with an asterisk (*).</p>
</li>
<li>
<p>To the right of the first marketplace data field, click on <strong>Add data field</strong>.<br>
→ To the left, the plentymarkets data fields are listed in groups.</p>
</li>
<li>
<p>Click on a group to expand the associated data fields.<br>
→ The data fields are shown.</p>
</li>
<li>
<p>Next to the data field you want to select, click on the plus.<br>
→ The data field is added to the view.<br>
<strong><em>Tip:</em></strong> Do you want to export a fixed value for every variation for one of the market data fields? Click on the plus next to <strong>Own value</strong>.<br>
→ The field for the own value is added to the view.</p>
</li>
<li>
<p>Enter a value into the input field.</p>
</li>
<li>
<p>Click on the X to close the editing mode.<br>
→ The data field is mapped.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Do you want to export two or more plentymarkets fields for a single marketplace data field?</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>To the right of the data field you just mapped, click on <strong>Add data field</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>).</p>
</li>
<li>
<p>Map an additional plentymarkets data field to the marketplace data field as described above.</p>
</li>
<li>
<p>To the right of the column, click on <strong>Settings</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Select a separator from the drop-down list <strong>Separator</strong> or add a custom separator.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The additional data field is mapped. During the export, the content of the two plentymarkets data fields is combined and exported as one field.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong><em>Optional:</em></strong> Click on <strong>Add fallback data field</strong> to select a data field that is exported in case another one is not available or empty. You can also add more than one fallback data field.<br>
<strong><em>Note:</em></strong> Even if you assign a fallback data field to a market data field, only one value is exported. The fields are checked in the order in which you mapped them. This means that if the first data field does not provide a value, the first fallback data field is exported etc.</p>
</li>
<li>
<p>Repeat this mapping for all data fields of the market that you want to export.<br>
<strong><em>Note:</em></strong> All fields flagged with asterisks (*) are mandatory and must be mapped to a plentymarkets data field.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The mappings are saved.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="602">9.3. <em>Example:</em> Mapping the data field "Product description"</h3>
<div class="paragraph">
<p>An example of how you can link the mandatory field <strong>Produktbeschreibung</strong> (product description) to data saved in plentymarkets is described below.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The catalogue opens.</p>
</li>
<li>
<p>Select a plentymarkets data field for the REWE catalogue field <strong>Produktbeschreibung</strong> (product description) from the drop-down list, e.g. <strong>Item text &gt; Name 1, Name 2, Name 3</strong> that should be displayed on REWE as the product description.</p>
</li>
<li>
<p>Link the other data fields in the same way. Link at least all mandatory fields.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="701">10. Linking fields created in the assistant with variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you selected the options <strong>Create sales price</strong>, <strong>Create barcode</strong> and/or <strong>Create property</strong> in the assistant, these prices, barcodes and/or properties are created automatically. You need to link these newly created sources with the variations that you want to export to the market. This is described on the <strong>Item</strong> pages of the manual:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Learn how to link sales prices to variations in the <a href="/en/item/managing-items#240">Linking sales prices</a> chapter.</p>
</li>
<li>
<p>Learn how to link barcodes to variations in the <a href="/en/item/managing-items#250">Linking barcodes</a> chapter.</p>
</li>
<li>
<p>Learn how to link properties to variations in the <a href="/en/item/managing-items#4900">Linking properties and saving a value</a> chapter.<br>
<strong><em>Tip:</em></strong> Properties created in the assistant are automatically added to the property group <strong>REWE</strong> of the <strong>Setup » Settings » Properties » Groups</strong> menu. Open this group to see what new properties need to be mapped.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="2000">11. Activating the catalogue export to REWE</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have set up REWE and created a catalogue for exporting your item data? Then start the export of your item data.</p>
</div>
<div class="paragraph instruction">
<p>Activating the catalogue export to REWE:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogues are listed.</p>
</li>
<li>
<p>Scroll to the REWE catalogue.</p>
</li>
<li>
<p>In the <strong>Active/Inactive</strong> column, move the toggle button to the right (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).<br>
→ The catalogue is active.<br>
→ The catalogue data is exported to REWE once a day, if the option <strong>Item export</strong> is activated in the <strong>Setup » Markets » REWE » Basic settings</strong> menu.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">12. REWE product groups and variants</h2>
<div class="sectionbody">
<div class="paragraph">
<p>REWE differentiates between <strong>product groups</strong> and <strong>variants</strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Product groups</strong> in plentymarkets are items with variations with at least one REWE group attribute, depending on the product type.</p>
</li>
<li>
<p><strong>Variants</strong> in plentymarkets are variations of an item which do not have more than one REWE variant attribute, depending on the product type.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>For REWE group attributes, more than one different attributes can be set, for example colour and motive. For REWE variant attributes, only one variant attribute can be set, for example only size or only volume.</p>
</div>
<div class="paragraph">
<p>The REWE group attributes and REWE variant attributes for each product type are available in the catalogue templates. Open the drop-down lists <strong>Attribute for variant group</strong> and <strong>Attribute for product group</strong> in the marketplace format to view the available attributes.</p>
</div>
<div class="paragraph">
<p>Items in plentymarkets can have more than one REWE group attribute. However, only one REWE group attribute can be used to form product groups. Therefore, the <strong>Attribute for product group</strong> field has to be matched so that the first attribute will always be the attribute that you want to use to form a product group. If an item, for example a t-shirt, differs in colour and print and the print should be used as the REWE group attribute, you first have to link the print in the <strong>Attribute for product group</strong> field and the colour only afterwards.</p>
</div>
<div class="paragraph">
<p>An item should not be linked to more than one attribute which was assigned as REWE variant attribute in the catalogue.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">13. Matching shipping service providers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Shipping service providers saved in plentymarkets are matched with REWE shipping service providers in the <strong>Setup » Markets » REWE » Shipping service provider matching</strong> menu. If you do not match shipping service providers, then the shipping service provider <strong>unknown</strong> is sent to REWE.</p>
</div>
<div class="paragraph instruction">
<p>Matching shipping service providers:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Shipping service provider matching</strong>.</p>
</li>
<li>
<p>Select the REWE shipping service provider from the drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">14. Matching reasons for return</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Return reasons saved in plentymarkets are matched with REWE return reasons int the <strong>Setup » Markets » REWE » Return reason matching</strong> menu. If you do not match reasons for return, then the reason for return <strong>Other</strong> is sent to REWE. For further information about REWE reasons for return, refer to the seller documentation that you have received from REWE.</p>
</div>
<div class="paragraph instruction">
<p>Linking return reasons:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Return reason matching</strong>.</p>
</li>
<li>
<p>Select the REWE return reason from the drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">15. Synchronising tax categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If the tax categories were changed at REWE, you have to synchronise the tax categories in plentymarkets. Tax categories are synchronised with REWE in the <strong>Setup » Markets » REWE » Basic settings</strong> menu in the <strong>Tax categories</strong> area.</p>
</div>
<div class="paragraph instruction">
<p>Synchronising tax categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Basic settings</strong>.</p>
</li>
<li>
<p>Go to the <strong>Tax categories</strong> area and click on <strong>Synchronise</strong>.<br>
→ The tax categories are synchronised with REWE.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong>Last update</strong> indicates the last time the tax categories were synchronised with REWE.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Synchronise tax categories before switching to REWE live system</div>
<div class="paragraph">
<p>You need to synchronise the tax categories in plentymarkets before you switch from the REWE stage test environment to the live system. Otherwise, your item catalogue will not be exported. Enter your access data and the product key for the live system prior to switching to the live system. Afterwards, synchronise the tax categories. You have to map the tax categories again in your REWE catalogues after you synchronised them.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">16. Synchronising brands</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Brands are automatically synchronised with REWE once per day. Additionally, you can manually synchronise brands with REWE at any time. To do so, open the <strong>Setup » Markets » REWE » Basic settings</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Manually synchronising brands:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Basic settings</strong>.</p>
</li>
<li>
<p>In the <strong>Brands</strong> area, click on <strong>Synchronise</strong>.<br>
→ The brands are synchronised with REWE.<br>
<strong><em>Tip:</em></strong> <strong>Last update</strong> indicates the last time the brands were synchronised with REWE.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1700">17. Deactivating the creation of contacts (plugin version 1.24.0 and higher)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By default, REWE orders are always assigned to the contact and the invoice address of REWE. Activate the option <strong>Deactivate contact creation</strong> if you do not want to create a contact. Instead, only addresses are saved. <a href="#rewe-deactivate-contact-creation">Table 2</a> describes the differences between the two options.</p>
</div>
<table id="rewe-deactivate-contact-creation" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Deactivating the creation of a contact</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Deactivating the creation of a contact</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><em>Option deactivated</em> (default setting) = The creation of contacts is deactivated. When the first REWE order is imported, a contact is created for REWE. All other REWE orders are linked to this contact during the import. All invoice addresses are assigned to this contact.</p>
<div class="ulist">
<ul>
<li>
<p>In the order, the tab <strong>Contact</strong> is available.</p>
</li>
<li>
<p>The customer record can be retrieved via the search function of the <strong>CRM » Contacts</strong> menu.</p>
</li>
<li>
<p>The address records and the associated orders can be retrieved via the search function of the <strong>CRM » Quick search</strong> menu.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">The order import in detail</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Check if an account already exists for REWE.</p>
</li>
<li>
<p>If no account exists in the system, the account is created.</p>
</li>
<li>
<p>Check if a contact already exists for REWE.</p>
</li>
<li>
<p>If no contact exists in the system, the contact is created.</p>
</li>
<li>
<p>If a new contact is created, the contact is linked to the account.</p>
</li>
<li>
<p>Check if the invoice address already exists in the system.</p>
</li>
<li>
<p>If the invoice address does not exist in the system, the invoice address is created.</p>
</li>
<li>
<p>The invoice address is linked to the contact.</p>
</li>
<li>
<p>The invoice address is linked to the order.</p>
</li>
<li>
<p>A delivery address is created. There is no check if the delivery address already exists in the system. Also, the delivery address is not linked to the contact.</p>
</li>
<li>
<p>The delivery address is linked to the order.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="ulist">
<ul>
<li>
<p><em>Option activated</em> = The creation of contacts is deactivated. No contact is created when REWE orders are imported. Invoice address and delivery address are created and linked to the order.</p>
<div class="ulist">
<ul>
<li>
<p>The tab <strong>Contact</strong> is not available in the order.</p>
</li>
<li>
<p>The customer record cannot be retrieved via the search function of the <strong>CRM » Contacts</strong> menu.</p>
</li>
<li>
<p>The address records and the associated orders can be retrieved via the search function of the <strong>CRM » Quick search</strong> menu.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title">The order import in detail</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Check if the invoice address already exists in the system.</p>
</li>
<li>
<p>If the invoice address does not exist in the system, the invoice address is created.</p>
</li>
<li>
<p>The invoice address is linked to the order.</p>
</li>
<li>
<p>A delivery address is created. There is no check if the delivery address already exists in the system. Also, the delivery address is not linked to the contact.</p>
</li>
<li>
<p>The delivery address is linked to the order.</p>
</li>
</ol>
</div>
</div>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph instruction">
<p>Deactivating the creation of a contact:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » REWE » Basic settings</strong>.</p>
</li>
<li>
<p>Navigate to the <strong>Order import</strong> area.</p>
</li>
<li>
<p>Activate the option <strong>Deactivate contact creation</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the setting.<br>
→ Only the invoice address and delivery address are created and linked to the order.<br>
→ No contact is created.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1500">18. Automatically updating the order status for REWE</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically update the order status on REWE whenever specific events occur. You can set up the following event procedures:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Send out-of-stock status to REWE</p>
</li>
<li>
<p>Send buyer cancellation to REWE</p>
</li>
<li>
<p>Send seller cancellation to REWE</p>
</li>
<li>
<p>Send shipping preparation to REWE</p>
</li>
<li>
<p>Send shipping preparation completion to REWE</p>
</li>
<li>
<p>Send shipping confirmation to REWE</p>
</li>
<li>
<p>Send parcel delivery completion to REWE</p>
</li>
<li>
<p>Send return completion to REWE</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>An example of an event procedure you can use to report the shipping confirmation to REWE is described below. Set up other event procedures in the same way.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#rewe-procedure">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#rewe-procedure">Table 3</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="rewe-procedure" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Event procedure for reporting order status to REWE</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 40%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Setting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Option</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Selection</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Status change</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a <strong>status</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rewe</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plugin</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Send shipping confirmation to REWE</strong></p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Matching reasons for return</div>
<div class="paragraph">
<p>You need to match plentymarkets reasons for return with the reasons for return predefined by REWE. For example, when the event procedure <strong>Send return completion to REWE</strong> is triggered, a reason for return must be saved. For further information about matching reasons for return, refer to the chapter <a href="#1200">Matching reasons for return</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1600">19. REWE delivery periods</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The variation availability in plentymarkets is assigned to delivery periods at REWE. An overview of the delivery periods at REWE and the corresponding plentymarkets availabilities can be found in <a href="#rewe-availability">Table 4</a>.</p>
</div>
<table id="rewe-availability" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. REWE delivery periods</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>REWE delivery period</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1-3 working days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 3-6 working days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 6-8 working days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 8-10 working days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 10-15 working days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 15-20 working days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 20-30 working days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 30-40 working days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 40-50 working days</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">10</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ca. 50-60 working days</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Availability in case of errors</div>
<div class="paragraph">
<p>If an availability error occurs, the availability <strong>longer than 3 months</strong> is displayed on the REWE marketplace.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>