<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#register-with-scalerion"><span>1.</span><span> Registering with Scalerion</span></a></li>
<li><a href="#set-up-scalerion"><span>2.</span><span> Setting up Scalerion in plentymarkets</span></a>
<ul class="sectlevel2">
<li><a href="#set-up-interface"><span>2.1.</span><span> Setting up the interface</span></a>
<ul class="sectlevel3">
<li><a href="#api-login-details"><span>2.1.1.</span><span> Saving the API login details</span></a></li>
<li><a href="#map-attributes"><span>2.1.2.</span><span> Mapping attributes</span></a></li>
<li><a href="#activate-order-referrer"><span>2.1.3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#event-procedure-shipping-confirmation"><span>2.1.4.</span><span> Setting up an event procedure for the shipping confirmation</span></a></li>
<li><a href="#event-procedure-return-process"><span>2.1.5.</span><span> Setting up an event procedure for the return process</span></a></li>
</ul>
</li>
<li><a href="#export-format"><span>2.2.</span><span> Creating an elastic export format</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Scalerion</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Download the Scalerion plugin</div>
<div class="paragraph">
<p>You need a plugin to link plentymarkets to Scalerion. Visit the <a href="https://marketplace.plentymarkets.com/en/scalerion_6926" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to download the Scalerion plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="register-with-scalerion">1. Registering with Scalerion</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to set up the interface for Scalerion in your plentymarkets system, you have to be registered with <a href="https://account.scalerion.com/register" target="_blank" rel="noopener">Scalerion</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. You receive the data from Scalerion that you need for the settings in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="set-up-scalerion">2. Setting up Scalerion in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as follows to set up the interface to Scalerion in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="set-up-interface">2.1. Setting up the interface</h3>
<div class="paragraph">
<p>Once you have <a href="/en/plugins/installing-added-plugins#installing-plugins">installed the plugin in a plugin set</a>, the plugin is visible in the plugin set in the <strong>Plugins » Plugin set overview</strong> menu.</p>
</div>
<div class="sect3">
<h4 id="api-login-details">2.1.1. Saving the API login details</h4>
<div class="paragraph">
<p>Enter your login details. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Saving the API login details:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open the plugin set that contains the Scalerion plugin by clicking on the table row.</p>
</li>
<li>
<p>Click on the table row of the Scalerion plugin.<br>
→ The menu <strong>Configuration &gt; Settings</strong> automatically opens.</p>
</li>
<li>
<p>Enter your email address, password and the base URL.<br>
<strong><em>Note:</em></strong> The referrer ID will be filled automatically by the system after you saved the settings in this menu.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Note regarding the order import</div>
<div class="paragraph">
<p>The orders are automatically imported in your plentymarkets system. This is done by a cron job that is set to run every 15 minutes. You don’t need to carry out any further settings. This process will be activated automatically after you have successfully installed the plugin and deployed it in a plugin set.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="map-attributes">2.1.2. Mapping attributes</h4>
<div class="paragraph">
<p>To ensure that the plentymarkets attributes are correctly mapped with the Scalerion attributes, you have to save the IDs of the corresponding attributes that are saved in your plentymarkets system in the settings of the Scalerion plugin.</p>
</div>
<div class="paragraph instruction">
<p>Mapping attributes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open the plugin set that contains the Scalerion plugin by clicking on the table row.</p>
</li>
<li>
<p>Click on the table row of the Scalerion plugin.<br>
→ The menu <strong>Configuration &gt; Settings</strong> automatically opens.</p>
</li>
<li>
<p>Expand (<span class="icon "><i class="fa fa-angle-down  "></i></span>) the <strong>Attribute mapping</strong> menu.</p>
</li>
<li>
<p>Enter the corresponding ID for the attributes <em>size</em> and <em>colour</em>.<br>
→ You can find the attribute IDs in the <strong>Setup » Item » Attribute</strong> menu.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="activate-order-referrer">2.1.3. Activating the order referrer</h4>
<div class="paragraph">
<p>As soon as you have <a href="/en/plugins/installing-added-plugins#installing-plugins">installed</a> the plugin in a plugin set, the order referrer <strong>Scalerion</strong> is automatically available in the <strong>Setup » Orders » Order referrer</strong> menu. You simply need to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating an order referrer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Search for <strong>Scalerion</strong>.</p>
</li>
<li>
<p>Select the option by placing a check mark.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="event-procedure-shipping-confirmation">2.1.4. Setting up an event procedure for the shipping confirmation</h4>
<div class="paragraph">
<p>You need to set up an event procedure at the order level for the shipping confirmation. Proceed as follows to create an event procedure.</p>
</div>
<div class="paragraph instruction">
<p>Setting up an event procedure for the shipping confirmation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) to set up a new event procedure.<br>
→ An editing window opens.</p>
</li>
<li>
<p>Enter a name for the event procedure, e.g. <code>Scalerion shipping confirmation</code>.</p>
</li>
<li>
<p>Select the order event <strong>Status change</strong>.<br>
<strong><em>Note:</em></strong> We recommend using the event <strong>Status change</strong>. You can, however, use any other event as long as it as order-related event.</p>
</li>
<li>
<p>Click on <strong>Add filter</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Select the filter <strong>Order &gt; Referrer</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Scalerion</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The event procedure is created and is available in the <strong>Order change &gt; Status change</strong> sub-category.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In order that the Scalerion plugin is able to react to the event procedure, you now need to link the event procedure to the plugin. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Linking the event procedure to the Scalerion plugin:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on the event procedure for the Scalerion shipping confirmation that you have just created.</p>
</li>
<li>
<p>Click on <strong>Add procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ A new window opens.</p>
</li>
<li>
<p>Click on <strong>Plugins</strong>.</p>
</li>
<li>
<p>Select the option <strong>ScalerionShippingConfirmation</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>In the upper area of the event procedure, select the option <strong>Active</strong> to activate the event procedure.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ From now on, the event procedure applies these settings to the selected orders.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="event-procedure-return-process">2.1.5. Setting up an event procedure for the return process</h4>
<div class="paragraph">
<p>In order that the Scalerion return process works correctly, you need to set up an event procedures. When the event procedure changes the order status, Scalerion will be informed about the status change. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Setting up an event procedure for the return process:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) to set up a new event procedure.<br>
→ An editing window opens.</p>
</li>
<li>
<p>Enter a name for the event procedure, e.g. <code>Scalerion return process</code>.</p>
</li>
<li>
<p>Select the order event <strong>New return</strong>.<br>
<strong><em>Note:</em></strong> We recommend using the event <strong>Status change</strong>. You can, however, use any other event as long as it as order-related event.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The event procedure is created and is available in the <strong>Order change &gt; Status change</strong> sub-category.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In order that the Scalerion plugin is able to react to the event procedure, you now need to link the event procedure to the plugin. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Linking the event procedure to the Scalerion plugin:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on the event procedure for the Scalerion return process that you have just created.</p>
</li>
<li>
<p>Click on <strong>Add procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ A new window opens.</p>
</li>
<li>
<p>Click on <strong>Plugins</strong>.</p>
</li>
<li>
<p>Select the option <strong>RMA supplier response</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.</p>
</li>
<li>
<p>In the upper area of the event procedure, select the option <strong>Active</strong> to activate the event procedure.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ From now on, the event procedure applies these settings to the selected orders.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="export-format">2.2. Creating an elastic export format</h3>
<div class="paragraph">
<p>Proceed as follows to create an elastic export format.</p>
</div>
<div class="paragraph instruction">
<p>Creating an elastic export format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New export</strong>.<br>
→ A new tab will open.</p>
</li>
<li>
<p>Enter a name for the new export format, e.g. <code>Scalerion Export</code>.</p>
</li>
<li>
<p>Select <strong>Item</strong> from the drop-down list <strong>Type</strong>.</p>
</li>
<li>
<p>Select <strong>Scalerion</strong> from the drop-down list <strong>Format</strong>.</p>
</li>
<li>
<p>In the <strong>Item filters</strong> area, click on the plus icon to add item filters from the drop-down list one after the other.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For further information on how to create an export format and on the settings that you can carry out additionally for the format, refer to the <a href="/en/data/exporting-data/elastic-export#300">Elastic export</a> page of the manual.</p>
</div>
</div>
</div>
</div>
</main>