<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Shopgate</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Shopgate in plentymarkets</span></a></li>
<li><a href="#300"><span>3.</span><span> Setting up forwarding for mobile devices</span></a></li>
<li><a href="#350"><span>4.</span><span> Activating an order referrer</span></a></li>
<li><a href="#400"><span>5.</span><span> Setting the item availability</span></a></li>
<li><a href="#430"><span>6.</span><span> Defining SKU manually</span></a></li>
<li><a href="#450"><span>7.</span><span> Defining a sales price</span></a></li>
<li><a href="#500"><span>8.</span><span> Linking properties</span></a></li>
<li><a href="#600"><span>9.</span><span> Activating the payment method</span></a></li>
<li><a href="#700"><span>10.</span><span> Automatically sending cancellations</span></a></li>
<li><a href="#800"><span>11.</span><span> Automatically sending returns</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Shopgate</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The <a href="https://www.shopgate.com/en/"><strong>Shopgate</strong></a> interface provides you with the possibility of quickly and inexpensively participating in m-commerce and therefore connecting with new groups of customers. This page explains which steps have to be taken in order to set up the mobile version of your online store and which settings have to be made to connect the m-commerce market Shopgate to your plentymarkets system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Shopgate</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First register with <a href="https://www.shopgate.com/de/registrierung/" target="_blank" rel="noopener">Shopgate</a> in order to set up the interface to Shopgate in your plentymarkets system. After registering, you will receive access data from Shopgate.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Shopgate in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this chapter, you will find information about the settings and functions for the market Shopgate. To set up Shopgate in plentymarkets, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Shopgate in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Markets » Shopgate</strong>.</p>
</li>
<li>
<p>Expand the <strong>client (store)</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for the market Shopgate</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Access data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operating mode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the operating mode.<br>
<strong>Live</strong> = Go online with the settings you have made.<br>
<strong>Shopgate test system</strong> = Activate test mode.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the customer number that you received from Shopgate.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Store number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the store number that you received from Shopgate.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API key</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the API key that you received from Shopgate.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Basic configuration</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>NO</strong> = Interface is inactive.<br>
<strong>YES</strong> = Interface is active.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Client (store) item</strong> or <strong>All items</strong>.<br>
<strong>All items</strong> = Exports all items.<br>
<strong>Client (store) item</strong> = Only exports those items that were made <a href="/en/en/omni-channel/multi-channel/shopgate#400">available</a> for an online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the name that should be used for Shopgate.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the language that should be used for Shopgate.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item discount coupons active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether <a href="/en/orders/coupons">coupon codes</a> should be checked and accepted for campaigns with the discount type <strong>Item discount</strong>.<br>
<strong>Yes</strong> = Coupon codes are checked and the discount is deducted if the code is valid.<br>
<strong>No</strong> = Coupon codes are not checked. Coupon codes with the discount type <strong>Item discount</strong> are always rejected.<br>
<strong>Note:</strong> Coupon codes are automatically checked for campaigns with other discount types and the discount is deducted if the code is valid.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Advanced options</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Yes</strong> = Transfer shipping costs to Shopgate.<br>
<strong>No</strong> = Do not transfer shipping costs to Shopgate.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of items that should be used as a stock buffer and excluded from the transfer to Shopgate.<br>
 This ensures that an item cannot be completely sold out on this market.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quantity for items that are not limited to the stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a quantity of items that is not limited to stock. This amount represents the stock that is displayed on Shopgate.<br>
<strong>Important</strong>: Item variations are only transmitted if the <strong>Limitation</strong> option is either set to <strong>No limitation</strong> or <strong>Limited to net stock</strong> in the item’s <strong>Stock</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum for item upload</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the maximum amount of items that you want to upload to Shopgate.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you select a free text field, then the text saved for this field is displayed as the item description.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add technical data to the item description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Yes</strong> = Transfers the technical data saved in an item’s <strong>Texts</strong> tab to Shopgate.<br>
<strong>No</strong> = Technical data is not transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer stock unit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the <strong>position</strong> saved in a variation’s <strong>Category</strong> tab should be transferred to Shopgate. The position number is used to sort items within the item listing in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CrossSelling</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the cross-selling function to offer further items that match your items.<br>
<strong>Yes</strong> = If you select <strong>Yes</strong>, a maximum of 15 cross-selling items with a maximum of 3 variations each is transferred for each item.<br>
<strong>No</strong> = Cross-selling items are not transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock check</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether Shopgate should automatically check current stock levels in plentymarkets during the order process.<br>
<strong>Yes</strong> = Stock is automatically checked in real time during the order process.<br>
<strong>No</strong> = Stock is checked against the last stock level information that was transferred to Shopgate via CSV file.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Framework URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL of the interface. The URL is saved automatically. The framework URL is only displayed if <strong>Yes</strong> has been selected for the option <strong>Active</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Mobile forwarding</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alias</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the Alias that you have received from Shopgate.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can save a personal domain with your provider. In order to use this domain, it also has to be saved on Shopgate.<br>
 The target <strong>cname.shopgate.com</strong> also has to be saved with the provider.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Hourly stock synchronisation, as well as a confirmation when an item is shipped</p>
</li>
<li>
<p>Daily item export</p>
</li>
<li>
<p>Transfer of item categories</p>
</li>
<li>
<p>Order import as soon as Shopgate has marked the item as paid</p>
</li>
<li>
<p>Creating a new customer record in plentymarkets when a new customer places an order via Shopgate</p>
</li>
<li>
<p>Automatic check of coupon codes during the order process</p>
</li>
<li>
<p>automatic check of item stock in real time during the order process (<strong>Stock check</strong>, optional)</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Setting up forwarding for mobile devices</h2>
<div class="sectionbody">
<div class="paragraph">
<p>With the help of <a href="/en/en/omni-channel/online-store/setting-up-clients/online-store#forwarding#">mobile forwarding</a> you can select whether customers should be forwarded to Shopgate when opening the store in a mobile browser. If you do not activate this setting, then customers will not be forwarded.</p>
</div>
<div class="paragraph instruction">
<p>Setting up forwarding:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Online store » Forwarding</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in table 2.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Forwarding options for mobile devices</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Settings</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Forwarding</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This function makes it possible to display your online store on mobile devices, e.g. with Shopgate or a similar provider.<br>
<strong>Active</strong> = Customers are forwarded to the specified URLs.<br>
<strong>Inactive</strong> = Customers are not forwarded.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target URL (category)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the URL for the mobile version of your online store, e.g. <strong><a href="http://mobile.yourplentystore.co.uk" class="bare">http://mobile.yourplentystore.co.uk</a></strong>. Customers who access your online store from a mobile device are forwarded to this URL.<br>
<strong>Tip</strong>: In the URL, the template variable <strong>$ReferrerID</strong> defines where customers were forwarded from. The URL would then look like this: <strong><a href="http://mobile.yourplentystore.co.uk/?referrerId=$referrerId" class="bare">http://mobile.yourplentystore.co.uk/?referrerId=$referrerId</a></strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target URL (item page)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the URL that customers should be forwarded to e.g. when they use a mobile device to access an item in your online store from a price comparison portal. The item URL would then look like this: <strong><a href="http://mobile.yourplentystore.co.uk/?itemNumber=$itemId" class="bare">http://mobile.yourplentystore.co.uk/?itemNumber=$itemId</a></strong>. In the URL, the template variable <strong>$ItemID</strong> provides access to every item.<br>
<strong>Tip</strong>: In the URL, the template variable <strong>$ReferrerID</strong> defines where customers were forwarded from. The URL would then look like this: <strong><a href="http://mobile.yourplentystore.co.uk/?itemNumber=$itemId&amp;referrerId=$referrerId" class="bare">http://mobile.yourplentystore.co.uk/?itemNumber=$itemId&amp;referrerId=$referrerId</a></strong><br>
<strong>Note</strong>: If you do not enter a URL here, then customers will not be forwarded to the items in your online store from price comparison portals etc.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="350">4. Activating an order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with Shopgate, you have to activate the order referrer Shopgate in the menu <strong>System » Orders » Order referrer</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Shopgate:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Place a check mark next to <strong>Shopgate</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for Shopgate. This is done in the <strong>Availability</strong> tab of an item within the <a href="/en/en/item/managing-items#40">Item » Edit item » Tab: Variation ID menu</a>. In addition, you can select whether all items or only selected items should be transferred. This can be done in the menu <strong>System » Markets » Shopgate</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for Shopgate:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the selection field in the <strong>Markets</strong> section. <br>
→ A list with all available markets is displayed.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Shopgate</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Go to <strong>System » Markets » Shopgate</strong>.</p>
</li>
<li>
<p>Select <strong>All items</strong> as the <strong>Export type</strong>.</p>
</li>
<li>
<p>Carry out the optional settings as desired. Pay attention to the explanations given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The item is available on Shopgate.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be individually edited in the <strong>Item » Edit item » Open item » Tab: Variations » Open variation » Tab: Variation ID » Tab: Availability</strong> menu.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Transferring selected items of a client</div>
<div class="paragraph">
<p>If you work with several online stores (clients) and you do not want to transfer all items of all clients to Shopgate, then you can open individual items and specify which clients should be transferred. The following requirements have to be met in order for the export per client (store) to work correctly:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Select <strong>Client (store) item</strong> as the <strong>Export type</strong> in the menu <strong>System » Markets » Shopgate</strong>.</p>
</li>
<li>
<p>Activate at least one client under <strong>Markets</strong> in the item’s <strong>Availability</strong> tab.</p>
</li>
<li>
<p>It is not permitted to select all or none of the stores. Both cases will trigger a general export and not an export per client (store).</p>
</li>
<li>
<p>Shopgate has to be set up for each client (store) that items are available for.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="430">6. Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs for specific referrers in the menu <a href="/en/en/item/managing-items#170">Item » Edit item » Open item » Tab: Variation ID</a>.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add</strong> in the section <strong>SKU</strong>.<br>
→ The window <strong>New SKU</strong> is displayed.</p>
</li>
<li>
<p>Select the referrer <strong>Shopgate</strong>.</p>
</li>
<li>
<p>Select the corresponding marketplace account.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="450">7. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer Shopgate. This price is displayed on Shopgate.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Shopgate:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>System » Item » Sales prices » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a check mark next to the referrer <strong>Shopgate</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">8. Linking properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link your properties with the Shopgate properties. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Linking properties:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Item » Properties</strong>.</p>
</li>
<li>
<p>Expand a property.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Shopgate</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">9. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <a href="/en/payment/managing-payment-methods">payment method</a> <strong>Shopgate Payment</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating the Shopgate payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>Shopgate Payment</strong>.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in table 3.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong> and <strong>Upload logo</strong>. This makes it possible to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you have selected the option <strong>Info page (external)</strong> under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely set up.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> has been selected from the <strong>Logo</strong> drop-down list, then the logo that has been uploaded is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> has been selected from the <strong>Logo</strong> drop-down list, upload an external logo here.<br>
 Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG and JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract. <strong>Important</strong>: Do not enter a value into both fields.<br>
For further information, refer to the <a href="/en/en/basics/statistics">Statistics</a> page of the manual. For an example of flat rate and percentage costs, refer to the <a href="/en/payment/managing-payment-methods#20">Managing payment methods</a> page of the manual.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>System » CRM » Classes</strong> to activate or deactivate <strong>Permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/payment/managing-payment-methods">Payment methods</a> page of the manual.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Amazon Pay payment method</div>
<div class="paragraph">
<p>If you want to use the payment method <strong>Amazon Pay</strong>, then do not create a separate Shopgate account for Amazon Pay. Use the account created in plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Depending on the payment method, Shopgate will generate and send the invoice so that you do not have to send an invoice to the customer. You can check this in your Shopgate orders or create an <a href="/en/event-procedures#100">event procedure</a> to automate this.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">10. Automatically sending cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically send cancellations to Shopgate. Cancellations are handled as returns at Shopgate. Therefore, use the procedure <strong>Send return to Shopgate</strong>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 4.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in table 4.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Event procedure for automatically sending cancellations to Shopgate</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Status change &gt; Cancelled</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shopgate</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return &gt; Send return to Shopgate</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">11. Automatically sending returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically send returns to Shopgate.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 5.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in table 5.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Event procedure for automatically sending returns to Shopgate</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation: New return</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shopgate</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return &gt; Send return to Shopgate</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>