<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Shopgate</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Shopgate in plentymarkets</span></a></li>
<li><a href="#300"><span>3.</span><span> Setting up forwarding for mobile devices</span></a></li>
<li><a href="#350"><span>4.</span><span> Activating the order referrer</span></a></li>
<li><a href="#400"><span>5.</span><span> Setting the variation availability</span></a></li>
<li><a href="#430"><span>6.</span><span> Optional: Saving SKU</span></a></li>
<li><a href="#450"><span>7.</span><span> Defining a sales price</span></a></li>
<li><a href="#500"><span>8.</span><span> Linking properties</span></a></li>
<li><a href="#600"><span>9.</span><span> Activating the payment method</span></a></li>
<li><a href="#700"><span>10.</span><span> Automatically sending cancellations</span></a></li>
<li><a href="#800"><span>11.</span><span> Automatically sending returns</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Shopgate</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The Shopgate interface provides you with the possibility of quickly and inexpensively participating in m-commerce and therefore connecting with new groups of customers. This page explains which steps you have to take in order to set up the mobile version of your plentyShop and which settings have to be made to connect the m-commerce market Shopgate to your plentymarkets system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Shopgate</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First register with <a href="https://www.shopgate.com/en/" target="_blank" rel="noopener">Shopgate</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> in order to set up the interface to Shopgate in your plentymarkets system. After registering, you will receive login details from Shopgate.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Shopgate in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In this chapter, you will find information on settings and functions for the market Shopgate. To set up Shopgate in plentymarkets, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Shopgate in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Shopgate</strong>.</p>
</li>
<li>
<p>Expand the <strong>Client (store)</strong> (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-shopgate">Table 1</a>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="settings-shopgate" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for the market Shopgate</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Access data</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operating mode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select an operating mode.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Live</strong> = Go online with the settings you have made.<br></p>
</li>
<li>
<p><strong>Shopgate test system</strong> = Activate test mode.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the customer number that you received from Shopgate.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Store number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the store number that you received from Shopgate.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>API key</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the API key that you received from Shopgate.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Basic configuration</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Deactivate</strong> = NO = Interface is inactive.<br></p>
</li>
<li>
<p><strong>Activate</strong> = YES = Interface is active.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Select Client (store) item</strong> or <strong>All items</strong>.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>All items</strong> = Export all items.<br></p>
</li>
<li>
<p><strong>Client (store) item</strong> = Only exports items that are <a href="#400">available</a> for a specific client.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the item name that should be used for Shopgate.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the language that should be used for Shopgate.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item discount coupons active</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select if <a href="/en/orders/coupons">coupon codes</a> for campaigns should be checked and accepted with discount type and <strong>item discount</strong>.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = Coupon codes are checked and the discount is subtracted if the code is valid.<br></p>
</li>
<li>
<p><strong>No</strong> = Coupon codes are not checked. Coupon codes with the discount type <strong>item discount</strong> are always rejected.<br>
<strong><em>Note:</em></strong> Coupon codes are automatically checked for campaigns with other discount types and the discount is deducted if the code is valid.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Advanced options</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = Transfer shipping costs to Shopgate.<br></p>
</li>
<li>
<p><strong>No</strong> = Do not transfer shipping costs to Shopgate.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the number of items that should be used as a stock buffer and excluded from the transfer to Shopgate.<br>
This ensures that an item cannot be completely sold out on this market.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quantity for items that are not limited to the stock</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a quantity of items that is not limited to stock. This amount will represent the stock displayed on Shopgate.<br>
<strong><em>Important:</em></strong> Item variations are only transmitted if the <strong>limitation</strong> in the <strong>item’s stock</strong> tab is either set to <strong>No limitation</strong> or the option <strong>Limited to net stock</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum for item upload</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the maximum amount of items that you want to upload to Shopgate.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a free text field. The saved text in this field is displayed as the item description.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add technical data to the item description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = Transfers the technical data saved in an item’s <strong>texts</strong> tab to Shopgate.<br></p>
</li>
<li>
<p><strong>No</strong> = Technical data is not transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer stock unit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether the <strong>position</strong> saved in a variation’s <strong>category</strong> tab should be transferred to Shopgate. The position number is used to sort items within the item listing in the plentyShop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CrossSelling</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Use the cross-selling function to offer further items that match your items.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = If you select <strong>Yes</strong>, a maximum of 15 cross-selling items with a maximum of 3 variations each is transferred for each item.<br></p>
</li>
<li>
<p><strong>No</strong> = Cross-selling items will not be transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock check</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether Shopgate should automatically check current stock levels in plentymarkets during the order process.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = Stock is automatically checked in real time during the order process.<br></p>
</li>
<li>
<p><strong>No</strong> = Stock is checked during the order process with the last stock level information that was transferred to Shopgate via CSV file.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Framework URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>URL of the interface. The URL is saved automatically. The framework URL is only displayed if <strong>Yes</strong> has been selected for the option <strong>Active</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Mobile forwarding</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alias</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the Alias that you have received from Shopgate.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>You can save a personal domain with your provider. In order to use this domain, it also has to be saved on Shopgate.<br>
The target <strong>cname.shopgate.com</strong> also has to be saved with the provider.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic processes to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>hourly stock synchronisation, as well as a confirmation when an item is shipped</p>
</li>
<li>
<p>daily item export</p>
</li>
<li>
<p>transfer of item categories</p>
</li>
<li>
<p>order import as soon as Shopgate has marked the item as paid</p>
</li>
<li>
<p>creating a new customer record in plentymarkets when a new customer places an order via Shopgate</p>
</li>
<li>
<p>automatic check of coupon codes during the order process</p>
</li>
<li>
<p>automatic check of item stock in real time during the order process (<strong>Stock check</strong> option, optional)</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Setting up forwarding for mobile devices</h2>
<div class="sectionbody">
<div class="paragraph">
<p>With the help of <a href="/en/online-store/online-store#forwarding#">mobile forwarding</a> you can select whether customers should be forwarded to Shopgate when opening the store in a mobile browser. If you do not activate this setting, then customers will not be forwarded.</p>
</div>
<div class="paragraph instruction">
<p>Setting up forwarding:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » [Select client] » Online store » Forwarding</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#forwarding-options-in-shopgate">Table 2</a>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="forwarding-options-in-shopgate" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Forwarding options for mobile devices</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Settings</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Forwarding</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This function makes it possible to display your plentyShop on mobile devices, e.g. with Shopgate or a similar provider.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Active</strong> = Customers are forwarded to activated URLs.<br></p>
</li>
<li>
<p><strong>Inactive</strong> = Customers are not forwarded.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target URL (category)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the URL for the mobile version of your plentyShop, e.g. <strong><a href="http://mobile.yourplentystore.co.uk" class="bare">http://mobile.yourplentystore.co.uk</a></strong>. Customers who access your plentyShop from a mobile device are forwarded to this URL.<br>
<strong><em>Tip:</em></strong> In the URL, the template variable <strong>$ReferrerID</strong> defines where customers were forwarded from. The URL would then look like this: <strong><a href="http://mobile.yourplentystore.co.uk/?referrerId=$referrerId" class="bare">http://mobile.yourplentystore.co.uk/?referrerId=$referrerId</a></strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target URL (item page)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the URL that customers should be forwarded to e.g. when they use a mobile device to access an item in your plentyShop from a price comparison portal. The item URL would then look like this: <strong><a href="http://mobile.yourplentystore.co.uk/?itemNumber=$itemId" class="bare">http://mobile.yourplentystore.co.uk/?itemNumber=$itemId</a>.</strong> In the URL, the template variable <strong>$ItemID</strong> provides access to every item.<br>
<strong><em>Tip:</em></strong> In the URL, the template variable <strong>$ReferrerID</strong> defines where customers were forwarded from. Then the URL would look like this: <strong><a href="http://mobile.yourplentyshop.co.uk/?itemNumber=$itemId&amp;referrerId=$referrerId" class="bare">http://mobile.yourplentyshop.co.uk/?itemNumber=$itemId&amp;referrerId=$referrerId</a></strong><br>
<strong><em>Note:</em></strong> If you don’t enter a URL here, then costumers will not be forwarded to items in your plentyShop from price comparison portals and etc.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="350">4. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with Shopgate, you have to activate the order referrer Shopgate in the <strong>Setup » Orders » Order referrer</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Shopgate:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the referrer <strong>Shopgate</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">5. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate all variations that you want to sell on Shopgate. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » [Open item] » [Open variation]</strong> menu. In addition, you can select whether all items or only selected items should be transferred. This is done in the <strong>Setup » Markets » Shopgate</strong> menu.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Selling all variations of an item on Shopgate</div>
<div class="paragraph">
<p>If you want to sell all variations of an item on Shopgate, carry out the settings below for the item’s main variation. All other variations of the item then inherit the settings of the main variation.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Activating the variation availability for Shopgate:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation]</strong>.<br>
→ The tab <strong>Settings</strong> of the variation is shown.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the selection field in the <strong>Markets</strong> area. <br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>Shopgate</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
<li>
<p>Go to <strong>Setup » Markets » Shopgate</strong>.</p>
</li>
<li>
<p>Select <strong>All items</strong> as the <strong>Export type</strong>.</p>
</li>
<li>
<p>Carry out additional settings as desired. Pay attention to the explanations given in <a href="#settings-shopgate">Table 1</a>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.<br>
→ The item is available on Shopgate.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Transferring selected items of a client</div>
<div class="paragraph">
<p>If you work with several clients and you don’t want to transfer all items of all clients to Shopgate, then you can open individual items and specify which clients should be transferred. The following requirements have to be met in order for the export per client (store) to work correctly:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Select <strong>Client (store) item</strong> as the <strong>Export type</strong> in the <strong>Setup » Markets » Shopgate</strong> menu.</p>
</li>
<li>
<p>Activate at least one client under <strong>Markets</strong> in the item’s <strong>Availability</strong> tab.</p>
</li>
<li>
<p>It is not permitted to select all or none of the clients (store). Both cases will trigger a general export and not an export per client (store).</p>
</li>
<li>
<p>Shopgate has to be set up for each client (store) that items are available for.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="430">6. <em>Optional:</em> Saving SKU</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Availability</strong> menu if needed.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>SKU</strong> area, click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>New SKU</strong> window is displayed.</p>
</li>
<li>
<p>Select the referrer <strong>Shopgate</strong>.</p>
</li>
<li>
<p>Select the corresponding marketplace account.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="450">7. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sales prices define the conditions under which a variation is sold at a specific price and on a specific sales channel. That means that to sell variations on {referrer}, you need a sales price in which the order referrer {referrer} is activated. The price that you save for this sales price is the price that will be shown on {referrer}.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for {referrer}:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price]</strong>.<br>
<strong><em>Tip:</em></strong> No sales prices? Then create a <a href="/en/item/settings/prices#100">new sales price</a> first.</p>
</li>
<li>
<p>Open the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Activate the referrer <strong>{referrer}</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">8. Linking properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link your properties with the Shopgate properties. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Linking properties:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Expand the property (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Activate the option <strong>Shopgate</strong>.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">9. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As soon as an active account for Shopgate exists, the payment method <strong>Shopgate Payment</strong> is automatically available in your plentymarkets system. No separate configurations are needed for this. You just need to permit the payment method in one or more customer classes.</p>
</div>
<div class="paragraph instruction">
<p>Permitting the payment method in a customer class:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » CRM » Classes</strong>.</p>
</li>
<li>
<p>Open the customer class for which you want to permit the payment method.</p>
</li>
<li>
<p>For the setting <strong>Permitted payment methods</strong>, activate the option Shopgate Payment.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Amazon Pay payment method</div>
<div class="paragraph">
<p>If you want to use the payment method <strong>Amazon Pay</strong>, then do not create a separate Shopgate account for Amazon Pay. Use the account created in plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Depending on the payment method, Shopgate will generate and send an invoice so that you do not have to send it to the customer. You can check if Shopgate generated and sent an invoice by checking your orders in Shopgate or by setting up an <a href="/en/automation/event-procedures#new-event-procedure">event procedure</a> to automatically generate and send invoices.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">10. Automatically sending cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically send cancellations to Shopgate. Cancellations are handled as returns at Shopgate. Therefore, use the procedure <strong>Send return to Shopgate</strong>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-cancellations-shopgate">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the additional settings according to <a href="#event-procedure-cancellations-shopgate">Table 3</a>.</p>
</li>
<li>
<p>Select the setting <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-cancellations-shopgate" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Event procedure for automatically sending cancellations to Shopgate</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Status change &gt; Cancelled</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shopgate</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return &gt; Send return to Shopgate</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="800">11. Automatically sending returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/automation/event-procedures">event procedure</a> to automatically send returns to Shopgate.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> according to <a href="#event-procedure-returns-shopgate">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the additional settings according to <a href="#event-procedure-returns-shopgate">Table 4</a>.</p>
</li>
<li>
<p>Select the setting <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="event-procedure-returns-shopgate" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Event procedure for automatically sending returns to Shopgate</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation: New return</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shopgate</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Return &gt; Send return to Shopgate</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>