<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Yatego</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Yatego in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating the order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the variation availability</span></a></li>
<li><a href="#350"><span>5.</span><span> Saving SKU</span></a></li>
<li><a href="#400"><span>6.</span><span> Defining a sales price</span></a></li>
<li><a href="#500"><span>7.</span><span> Linking categories</span></a></li>
<li><a href="#600"><span>8.</span><span> Activating characteristics for the market</span></a></li>
<li><a href="#700"><span>9.</span><span> Automatically transmitting items</span></a></li>
<li><a href="#800"><span>10.</span><span> Importing orders</span></a></li>
<li><a href="#900"><span>11.</span><span> Activating the payment method</span></a></li>
<li><a href="#1000"><span>12.</span><span> Viewing the API log</span></a></li>
<li><a href="#1100"><span>13.</span><span> FAQ</span></a>
<ul class="sectlevel4">
<li><a href="#_how_does_plentymarkets_transmit_variations_that_are_not_limited_to_stock_to_yatego"><span>How does plentymarkets transmit variations that are not limited to stock to Yatego?</span></a></li>
<li><a href="#_can_i_manually_import_orders_from_yatego_to_plentymarkets"><span>Can I manually import orders from Yatego to plentymarkets?</span></a></li>
<li><a href="#_how_do_i_know_that_the_customer_has_already_paid_the_order"><span>How do I know that the customer has already paid the order?</span></a></li>
<li><a href="#_the_link_for_the_item_in_the_order_does_not_work_what_can_i_do"><span>The link for the item in the order does not work. What can I do?</span></a></li>
<li><a href="#_i_set_up_yatego_in_plentymarkets_why_are_my_orders_not_transferred"><span>I set up Yatego in plentymarkets. Why are my orders not transferred?</span></a></li>
<li><a href="#_i_would_like_to_offer_an_item_with_attributes_why_does_yatego_not_display_the_stock_correctly"><span>I would like to offer an item with attributes. Why does Yatego not display the stock correctly?</span></a></li>
<li><a href="#_why_does_yatego_not_immediately_edit_the_csv_files_i_transferred"><span>Why does Yatego not immediately edit the CSV files I transferred?</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Yatego</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>With plentymarkets you can offer your items on the <a href="https://www.yatego.com/" target="_blank" rel="noopener">Yatego.com</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> sales platform. Yatego offers sellers extensive services with powerful, complete solutions as well as comprehensive technical support.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Yatego</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Register with <a href="https://www.yatego.com/doc,yategoverkaufen" target="_blank" rel="noopener">Yatego.com</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to receive your access data. The access data is required for the settings in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Yatego in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have registered with Yatego, use the access data that is saved there to set up the market in plentymarkets. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Yatego in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Yatego » Settings</strong>.</p>
</li>
<li>
<p>Expand the <strong>Basic settings</strong> area (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#basic-settings-yatego">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="basic-settings-yatego" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Basic settings for the market Yatego</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User name (Yatego store name)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the <strong>user name</strong> for logging in to Yatego.com.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the <strong>password</strong> for logging in to Yatego.com.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item image size</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Item image (standard)</strong>, <strong>Medium-sized item image</strong>, or <strong>Preview image</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>. The names are entered in the <strong>Texts</strong> tab of an item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Add up shipping charges for each item</strong> = For every item, plentymarkets transfers the shipping costs (domestic) that are valid for the plentyShop. If a customer purchases two items on Yatego, then the shipping charges of the individual items are added up. In addition, the shipping costs that are saved in Yatego are added to the shipping costs that were transferred by plentymarkets.<br></p>
</li>
<li>
<p><strong>Add up, but only once for multiple copies of the same item</strong> = plentymarkets also transfers the shipping costs (domestic) that are valid for the plentyShop. The shipping charges are added when purchasing various items. When purchasing two or more of the same item, the shipping charge is only calculated once. Finally, this is also added to the extra shipping charges saved for Yatego.<br></p>
</li>
<li>
<p><strong>Use Yatego table of shipping charges based on the item weight</strong> = If you select this option, plentymarkets does not transfer any shipping costs to Yatego. Based on the weight which is saved in plentymarkets and which is also transferred to Yatego, Yatego calculates the shipping costs itself.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sorting of variations</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Alphabetical</strong>, <strong>Surcharge</strong>, or <strong>No sorting</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer RRP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = Transfer value for <strong>RRP</strong>, if an RRP for Yatego items is entered.<br></p>
</li>
<li>
<p><strong>No</strong> = Do not transfer a value for RRP.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Automatic upload (daily)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate in order to automatically transfer item data to Yatego each day.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sold out variations</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Visible</strong> = Variations that are sold out are displayed on Yatego.<br></p>
</li>
<li>
<p><strong>Invisible</strong> = Variations that are sold out are not displayed on Yatego.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Yatego characteristics</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Do not export</strong> = Characteristics are not exported to Yatego.<br></p>
</li>
<li>
<p><strong>Place in the upper part of the description</strong> = Place characteristics for Yatego items in the upper part of the description.<br></p>
</li>
<li>
<p><strong>Place in the lower part of the description</strong> = Place characteristics for Yatego items in the lower part of the description.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Free text fields 1 to 20</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Do not export</strong> = Free text fields are not exported to Yatego.<br></p>
</li>
<li>
<p><strong>Place in the upper part of the description</strong> = Place the text for Yatego items in the upper part of the description.<br></p>
</li>
<li>
<p><strong>Place in the lower part of the description</strong> = Place the text for Yatego items in the lower part of the description.<br></p>
</li>
<li>
<p><strong>Export in a separate column</strong> = Export the characteristic in a separate column of the CSV file during the item export.<br>
<strong><em>Note:</em></strong> Only plentymarkets customers who already use the free text field functions in the Yatego settings should use this function. New plentymarkets customers are requested to use the following two options.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Yatego warehouse rights</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Exactly</strong> or <strong>Simply</strong> if you manage stock with the values -1, 0, 1 or 2.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Standard description</strong>, <strong>Technical data</strong>, or <strong>Both</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Short item description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether the <strong>preview text</strong> or the <strong>technical data</strong> should be used as the short item description on Yatego.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select own warehouse, <strong>Main item warehouse</strong> or <strong>Transfer stock quantity of distribution warehouse that currently has the largest stock</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Are you sure you want to delete all item images before importing from the Yatego shop?</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = All item images that are currently available on Yatego are deleted when importing new images for these items. This prevents errors when importing images. If you do not delete the old images, Yatego does not replace the old image with the new one if they have the same file name.<br></p>
</li>
<li>
<p><strong>No</strong> = Do not delete item images before the import.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status for all credit card orders</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>status 3 (waiting for payment)</strong> or <strong>status 5 (cleared for shipping)</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Set all credit card orders in status 5 to booked</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether or not credit card orders in status 5 should be set to booked.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status for all Sofortbanking orders</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>status 3 (waiting for payment)</strong> or <strong>status 5 (cleared for shipping)</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Set all Sofortbanking orders in status 5 to booked</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether or not Sofortbanking orders in status 5 should be set to booked.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Status for all PayPal orders</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>status 3 (waiting for payment)</strong> or <strong>status 5 (cleared for shipping)</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Set all PayPal orders in status 5 to booked</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether or not PayPal orders in status 5 should be set to booked.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer item URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether or not the item URL should be transferred.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use all of the images (max. 5) from the long description as the item images</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select whether all item images belonging to an item should be used or not. You can use up to 5 images.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer online store categories</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>All</strong>, <strong>Only the default category</strong>, or <strong>No</strong>.<br>
The <strong>Default category</strong> is selected in the <strong>Categories</strong> tab of an item. If you select the <strong>Only the default category</strong> option for Yatego, then check which default category was saved for the item in its <strong>Categories</strong> tab. If you did not select a category there, then the <strong>default category</strong> is selected automatically. If you have multiple category links, then the first category link is treated as the default category.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Online store category levels</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select which <strong>category levels</strong> you wish to transfer. You can select any 3 consecutive levels. Note that all the levels must be set up and linked for all of the relevant Yatego items.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating the order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order referrer tags an order with the sales channel on which the order was generated. You also need to activate the order referrer in order to link items, characteristics etc. with Yatego. Go to <strong>Setup » Orders » Order referrer</strong> to activate the order referrer.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Yatego:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Yatego</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the variation availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to activate the variations that you want to sell on Yatego. This is done in the <strong>Availability</strong> tab of a variation within the <strong>Item » Edit item » [Open item] » Tab: Variation ID</strong> menu.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="for-one-variation-tab" data-toggle="tab" href="#for-one-variation" role="tab" aria-controls="for-one-variation" aria-selected="true">For one variation</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-variation-group-function-tab" data-toggle="tab" href="#using-variation-group-function" role="tab" aria-controls="using-variation-group-function" aria-selected="false">Using variation group function</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="using-batch-processing-tab" data-toggle="tab" href="#using-batch-processing" role="tab" aria-controls="using-batch-processing" aria-selected="false">Using batch processing</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="for-one-variation" role="tabpanel" aria-labelledby="for-one-variation-tab">
<div class="paragraph instruction">
<p>Making a variation available for Yatego:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Open the variation that you want to sell on Yatego.<br>
<strong><em>Tip:</em></strong> To sell all variations of an item on Yatego, carry out the settings for the item’s main variation. This activates the availability of all variations of the item.</p>
</li>
<li>
<p>In the <strong>Availability</strong> area, activate the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>Markets</strong> area, click in the selection field.<br>
→ A list of all available markets is displayed.</p>
</li>
<li>
<p>Activate the option <strong>Yatego</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The variation is available for Yatego.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-variation-group-function" role="tabpanel" aria-labelledby="using-variation-group-function-tab">
<div class="paragraph">
<p>The <a href="/en/item/import-export-create/create/mass-processing#100">variation group function</a> allows you to edit several variations at once. You select the variations that you want to edit.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for Yatego using the variation group function:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Variations</strong>.</p>
</li>
<li>
<p>Choose additional <a href="/en/item/introduction/search#100">filters on the left</a> if needed and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the variations to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Variation group function</strong>.<br>
→ The <strong>Variation group function</strong> window opens.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Yatego</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Yatego</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong> to apply the settings.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="using-batch-processing" role="tabpanel" aria-labelledby="using-batch-processing-tab">
<div class="paragraph">
<p><a href="/en/item/import-export-create/create/mass-processing#400">Batch processing</a> allows you to edit several variations at once. You use filters to limit which variations are edited.</p>
</div>
<div class="paragraph instruction">
<p>Making several variations available for Yatego using batch processing:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Batch processing</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Variations</strong> in the upper left corner.</p>
</li>
<li>
<p>Use the <em>filters on the left</em> to specify which variations should be processed.</p>
</li>
<li>
<p>Navigate to the area <strong>Market availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Yatego</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Yatego</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Navigate to the area <strong>Availability</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the left of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Activate the checkbox to the right of the option <strong>Active</strong>.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Apply</strong> to apply the settings to the variations.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="350">5. Saving SKU</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If necessary, save market specific SKU for those variations that you want to sell on this market.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manually-adding-an-sku-tab" data-toggle="tab" href="#manually-adding-an-sku" role="tab" aria-controls="manually-adding-an-sku" aria-selected="true">Manually adding an SKU</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="importing-sku-tab" data-toggle="tab" href="#importing-sku" role="tab" aria-controls="importing-sku" aria-selected="false">Importing SKU</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manually-adding-an-sku" role="tabpanel" aria-labelledby="manually-adding-an-sku-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>In the <strong>SKU</strong> area, click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>New SKU</strong> window opens.</p>
</li>
<li>
<p>Select the referrer <strong>Yatego</strong>.<br></p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="importing-sku" role="tabpanel" aria-labelledby="importing-sku-tab">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Only the most important settings for the import are described here. Is this your first time working with the import tool? Then get familiar with <a href="/en/data/importing-data/ElasticSync">how data imports work in plentymarkets first</a>.
</td>
</tr>
</tbody></table>
</div>
<div class="ulist">
<ul>
<li>
<p>Create a CSV file with at least the columns described in <a href="#table-sku-import">Table 2</a>.</p>
</li>
<li>
<p>Create an import with the following settings:</p>
<div class="ulist">
<ul>
<li>
<p>Select the type <strong>Item</strong>.</p>
</li>
<li>
<p>Select the matching field <strong>Variation ID</strong>.</p>
</li>
<li>
<p>Map the plentymarkets data fields as described in <a href="#table-sku-import">Table 2</a>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<table id="table-sku-import" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Recommended columns of the import file</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 50%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column in CSV file</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">plentymarkets data field for mapping</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Variation ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the variation ID in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Variation ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Market ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the referrer ID <strong>5</strong> in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>Marketplace ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Account ID</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This market does not require a marketplace account. As such, enter the number <strong>0</strong> in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>Marketplace ID</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>SKU</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the SKU that you want to save for the variation for this market in this column.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>SKU</strong> &gt; <strong>SKU</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
</div></div>
</div>
</div><div class="sect1">
<h2 id="400">6. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer Yatego. This price is displayed on Yatego.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Yatego:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices » [Open sales price] » Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the referrer <strong>Yatego</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">7. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>First, import the official Yatego categories.</p>
</div>
<div class="paragraph instruction">
<p>Importing Yatego categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Yatego » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Update Yatego categories</strong>.<br>
<strong><em>Tip:</em></strong> The Yatego categories appear in the <strong>Category link</strong> area.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Link your plentymarkets categories to the Yatego categories in order to have your items displayed in these categories. Further items from the linked category are assigned automatically.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Yatego » Category link</strong>.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong> under <strong>Yatego link</strong>.</p>
</li>
<li>
<p>Select a category in the <strong>Official Yatego categories</strong> area.<br>
<strong><em>Or:</em></strong> As an alternative, you can enter the category ID under <strong>Yatego category ID link</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Then export your plentymarkets categories in Yatego format.</p>
</div>
<div class="paragraph instruction">
<p>Exporting plentymarkets categories in Yatego format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Yatego » Category link</strong>.</p>
</li>
<li>
<p>Click on <strong>Export online store categories in Yatego format</strong>.<br>
→ A new window opens.</p>
</li>
<li>
<p>Click on <strong>OK</strong> to save the CSV file.</p>
</li>
<li>
<p>Import the CSV file at Yatego.<br>
→ The plentymarkets categories are now available at Yatego.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">8. Activating characteristics for the market</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To use <a href="/en/item/edit-item#480">characteristics</a> for Yatego, each characteristic must be activated for the market.</p>
</div>
<div class="paragraph instruction">
<p>Activating characteristic for the market:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Expand the characteristic (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Activate the option <strong>Yatego</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Repeat this for all characteristics that you need for the market.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="700">9. Automatically transmitting items</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to <strong>Setup » Markets » Yatego » Settings</strong> to carry out the item exchange with Yatego. The functions in this menu are only available after having entered the access data. The preview function allows you to check the data before the transfer takes place. The Yatego import can take a long time. plentymarkets has no control over this.</p>
</div>
<div class="paragraph">
<p>In order to ensure a smooth item export, make sure that the access data for the Yatego shop are correct and valid.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Full Yatego import</div>
<div class="paragraph">
<p>With plentymarkets, you always need to transfer entire data sets to Yatego. This means that all items already existing in Yatego have to be deleted before a new import is carried out. If you already have items in your Yatego account, make sure that you create the same items in plentymarkets first before you allow for the items to be exported to Yatego.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Transmitting items to Yatego:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Markets » Yatego » Settings</strong>.</p>
</li>
<li>
<p>Expand the submenu <strong>Item exchange yatego.com (FTP)</strong> (<span class="icon "><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Click on the corresponding <strong>preview icon</strong> to check the data that is made available as a CSV file.</p>
</li>
<li>
<p>After checking the data, click on <strong>Transmit data</strong> to transfer the data to Yatego.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">10. Importing orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Orders are transferred directly from Yatego if the plentymarkets system with an SSL certificate was booked. The transfer of orders from Yatego to plentymarkets takes place with an encoded connection only. An SSL certificate is necessary for this. If no SSL certificate was booked, this has to be done later.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tipp: Book SSL certificate</div>
<div class="paragraph">
<p>To book an SSL certificate, go to <strong>Setup » Client » [Open client] » SSL</strong>. In the row <strong>Order new SSL for domain: [domain name]</strong>, click on the down arrow to the right.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="900">11. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <a href="/en/payment/managing-payment-methods">payment method</a> <strong>Yatego invoice</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating the payment method Yatego invoice:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Activate the option <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>DE</strong>.</p>
</li>
<li>
<p>Click on <strong>Yatego invoice</strong>.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-payment-method">[table-payment-method]</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="able-payment-method" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong>, and <strong>Upload logo</strong>. This enables you to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the plentyShop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the name that should be displayed in the plentyShop and on invoices etc.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If you selected the <strong>Info page (external)</strong> option under <strong>Info page</strong>, then enter the URL of the info page here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do not select a country of delivery.<br>
You cannot use the payment method in your plentyShop. Therefore, this payment method is only activated in plentymarkets. It is not completely set up.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select one of the following options for displaying the logo:<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br></p>
</li>
<li>
<p><strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br></p>
</li>
<li>
<p><strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then the logo that was uploaded is displayed here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG, and JPG.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the priority for displaying the payment method in the plentyShop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If the payment method results in additional costs, enter the percentage value or flat rate value. The selection depends on the conditions of your contract.<br>
<strong><em>Important:</em></strong> Do not enter a value into both fields.<br>
For further information, refer to the <a href="/en/business-decisions/plenty-bi/statistics">Statistics</a> page of the manual.<br>
For an example of flat rate and percentage costs, refer to the <a href="/en/payment/managing-payment-methods#20">Managing payment methods</a> page.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>Setup » CRM » Classes</strong> to activate or deactivate <strong>permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/payment/managing-payment-methods">Managing payment methods</a> page.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">12. Viewing the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The <strong>Data » API log</strong> menu contains a history of processes that run via the idealo interface. The following formats are available for Yatego:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Yatego(new)</strong> (item catalogue, variations, attributes)</p>
</li>
<li>
<p><strong>OrdersYatego</strong> (order import)</p>
</li>
<li>
<p><strong>Writer_OrdersYatego_Execution</strong> (Export)</p>
</li>
</ul>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » API log » Tab: API log</strong>.</p>
</li>
<li>
<p>Select a format from the <strong>Process</strong> drop-down list.</p>
</li>
<li>
<p>Select a <strong>date</strong> if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The processes are displayed.</p>
</li>
<li>
<p>Click on the folder in the <strong>Process</strong> column. <br>
→ The <strong>Yatego</strong> tab opens and error messages for this process are displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1100">13. FAQ</h2>
<div class="sectionbody">
<div class="sect4">
<h5 id="_how_does_plentymarkets_transmit_variations_that_are_not_limited_to_stock_to_yatego">How does plentymarkets transmit variations that are not limited to stock to Yatego?</h5>
<div class="paragraph indented">
<p>The stock limitation is set in the <strong>Item » Edit item » [Open item] » Tab: Variation ID » Tab: Settings » Area: Visibility</strong> menu. Variations for which the option <strong>Limitation</strong> is set to <strong>None</strong> or <strong>Do not administer stock for this variation</strong> are also transferred to Yatego. plentymarkets sends a value of <strong>-1</strong> for these variations, so that Yatego knows that these variations can be bought without limitation.</p>
</div>
</div>
<div class="sect4">
<h5 id="_can_i_manually_import_orders_from_yatego_to_plentymarkets">Can I manually import orders from Yatego to plentymarkets?</h5>
<div class="paragraph indented">
<p>Yes. If a Yatego order is manually transferred to plentymarkets from Yatego, then Yatego does not send an item ID or variation ID (attribute_value_set_id). This makes it impossible for the item to be assigned and the item is imported with the item ID -2 (unknown item). Unassigned items are flagged by a <strong>green plus icon</strong> in the order. The item then has to be assigned manually.</p>
</div>
</div>
<div class="sect4">
<h5 id="_how_do_i_know_that_the_customer_has_already_paid_the_order">How do I know that the customer has already paid the order?</h5>
<div class="paragraph indented">
<p>Yatego neither sends a transaction ID for payments nor other information that indicates whether the order was paid for or not. Therefore, the Yatego settings include an option that allows you to set orders to be booked for some payment methods: <strong>Set all orders in status 5 to booked</strong>. Select this option if the payment method ensures that payment was already made when the order is booked.</p>
</div>
</div>
<div class="sect4">
<h5 id="_the_link_for_the_item_in_the_order_does_not_work_what_can_i_do">The link for the item in the order does not work. What can I do?</h5>
<div class="paragraph indented">
<p>Yatego sends a link for the orders, which directly connects to the item on the Yatego platform. Usually, this link doesn’t work, because Yatego adds "yatego.com" to the name of the online shop. Delete "yatego.com" from the link and then it will work correctly.<br>
<strong><em>Example:</em></strong> <a href="http://www.yatego.com/SHOPNAME.yatego.com/p,4fcaaf8c8292c,461e2919becf22_4" class="bare">http://www.yatego.com/SHOPNAME.yatego.com/p,4fcaaf8c8292c,461e2919becf22_4</a><br>
<strong><em>The correct format is:</em></strong> <a href="http://www.yatego.com/SHOPNAME/p,4fcaaf8c8292c,461e2919becf22_4" class="bare">http://www.yatego.com/SHOPNAME/p,4fcaaf8c8292c,461e2919becf22_4</a></p>
</div>
</div>
<div class="sect4">
<h5 id="_i_set_up_yatego_in_plentymarkets_why_are_my_orders_not_transferred">I set up Yatego in plentymarkets. Why are my orders not transferred?</h5>
<div class="paragraph indented">
<p>The first time that an online shop activates the Yatego order process for plentymarkets, it is common that the first two to three orders will not be automatically transferred to plentymarkets. These orders have to be manually triggered again from within the Yatego system.</p>
</div>
</div>
<div class="sect4">
<h5 id="_i_would_like_to_offer_an_item_with_attributes_why_does_yatego_not_display_the_stock_correctly">I would like to offer an item with attributes. Why does Yatego not display the stock correctly?</h5>
<div class="paragraph indented">
<p>Yatego is not able to process the warehouse data records that plentymarkets sends for items if there are more than 999 possible combinations of attributes. As such, all possible combinations of variations are activated for the item and set to endless stock (meaning that stock doesn’t exist for Yatego). If you need to use a large number of attributes, contact Yatego before exporting the corresponding items.</p>
</div>
</div>
<div class="sect4">
<h5 id="_why_does_yatego_not_immediately_edit_the_csv_files_i_transferred">Why does Yatego not immediately edit the CSV files I transferred?</h5>
<div class="paragraph indented">
<p>The CSV files that are transferred to Yatego each day are not imported and edited immediately, but rather have to wait in line to be processed. Therefore, the import and editing process can take several hours. You can go to Yatego and check where your file is in line.</p>
</div>
</div>
</div>
</div>
</main>