<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with Zalando</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up Zalando in plentymarkets</span></a></li>
<li><a href="#250"><span>3.</span><span> Activating an order referrer</span></a></li>
<li><a href="#300"><span>4.</span><span> Setting the item availability</span></a></li>
<li><a href="#330"><span>5.</span><span> Defining SKU manually</span></a></li>
<li><a href="#350"><span>6.</span><span> Defining a sales price</span></a></li>
<li><a href="#400"><span>7.</span><span> Linking categories</span></a></li>
<li><a href="#500"><span>8.</span><span> Converting silhouettes to properties</span></a></li>
<li><a href="#600"><span>9.</span><span> Exporting Zalando item properties</span></a></li>
<li><a href="#700"><span>10.</span><span> Linking attributes</span></a></li>
<li><a href="#800"><span>11.</span><span> Activating the payment method</span></a></li>
<li><a href="#900"><span>12.</span><span> Retrieving processing reports</span></a></li>
<li><a href="#1000"><span>13.</span><span> Viewing the API log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Setting up Zalando</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The Zalando partner programme enables online sellers and manufacturers to use Zalando as an additional distribution channel for selling their high-quality products and take advantage of the well-known brand name Zalando.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with Zalando</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you are interested in the <a href="https://www.zalando.co.uk/partner-programme/" target="_blank" rel="noopener">partner programme</a>, then contact Zalando directly at <a href="mailto:partner-programme@zalando.co.uk">partner-programme@zalando.co.uk</a>.</p>
</div>
<table id="contact-person" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Contact person</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Contact person</th>
<th class="tableblock halign-left valign-top">Email address</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zalando partner programme team</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="mailto:partner-programme@zalando.co.uk">partner-programme@zalando.co.uk </a></p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up Zalando in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As soon as Zalando has accepted you into their partner programme, you will receive a manual from Zalando which helps you to set up the interface. In plentymarkets, carry out the following basic settings.</p>
</div>
<div class="paragraph instruction">
<p>Setting up Zalando in plentymarkets:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Markets » Zalando » Settings</strong>.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings as described in <a href="#basic-settings-zalando">Table 2</a> below.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="basic-settings-zalando" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Basic settings for the market Zalando</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Basic configuration</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the API user. The account for the API user is created during the initial setup.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price column</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a price column that is used for Zalando items.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Assignment client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client (store).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse selection</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a warehouse.<br>
<strong>Transfer stock quantity of distribution warehouse that currently has the largest stock.</strong> = Select the distribution warehouse that currently has the largest stock of the item.<br>
<strong>Use the item’s main warehouse</strong> = Select the main warehouse of the item.<br>
<strong>Transfer sum of stock quantities from all distribution warehouses</strong> = Stock of all distribution warehouses is added and transferred as sum.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Advanced options</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>EAN</strong>, <strong>EAN 2</strong>, <strong>EAN 3</strong> or <strong>EAN 4</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the stock buffer in units.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quantity for items that are not limited to the stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the quantity for items that are not limited to stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum for item upload</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number to determine the limit value for the item upload in units per item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard tax rate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>19%</strong> or <strong>7%</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reduced tax rate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>19%</strong> or <strong>7%</strong>.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Connecting to this market allows for the following automatic functions to take place:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Daily item export</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="250">3. Activating an order referrer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to link items, properties etc. with Zalando, you have to activate the order referrer Zalando in the menu <strong>System » System settings » Orders » Order referrer</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Activating the order referrer for Zalando:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Order referrer</strong>.</p>
</li>
<li>
<p>Place a check mark next to <strong>Zalando</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Setting the item availability</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Items have to be available for Zalando. This is done in the <strong>Availability</strong> tab of an item within the <a href="/en/item/managing-items#170">Item » Edit item » Open item » Tab: Variation ID</a> menu.</p>
</div>
<div class="paragraph instruction">
<p>Setting the item availability for Zalando:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Activate the main variation in the <strong>Availability</strong> section.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click in the selection field in the <strong>Markets</strong> section. <br>
→ A list with all available markets is displayed.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Zalando</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Web API</strong>.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The market is added.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The item is available on Zalando.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The availability for variations can be edited in the <strong>Item » Edit item » Open item » Tab: Variations » Open variation » Tab: Variation ID » Tab: Availability</strong> menu.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="330">5. Defining SKU manually</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Add SKUs manually for specific referrers in the <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Availability</strong> menu if needed.</p>
</div>
<div class="paragraph instruction">
<p>Adding SKU:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » Open item » Tab: Variation ID » Tab: Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Availability</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Add</strong> in the section <strong>SKU</strong>.<br>
→ The window <strong>New SKU</strong> is displayed.</p>
</li>
<li>
<p>Select the referrer <strong>Zalando</strong>.</p>
</li>
<li>
<p>Enter the SKU.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The SKU is saved and displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="350">6. Defining a sales price</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to define a sales price for the order referrer Zalando. This price is displayed on Zalando.</p>
</div>
<div class="paragraph instruction">
<p>Defining a sales price for Zalando:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Open the menu <strong>System » System settings » Item » Sales prices » Open sales price » Tab: Settings</strong>.</p>
</li>
<li>
<p>Place a check mark next to the referrer <strong>Zalando</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">7. Linking categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Link your online store categories to the Zalando categories in order to display your items in these categories. Further items from the linked categories are assigned automatically.</p>
</div>
<div class="paragraph instruction">
<p>Linking categories:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Markets » Zalando » Category link</strong>.</p>
</li>
<li>
<p>Select a category under <strong>Zalando category</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="500">8. Converting silhouettes to properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the menu <strong>System » System settings » Markets » Zalando » Settings » Tab: Silhouettes</strong>, you convert Zalando silhouettes to item properties. Silhouettes are transferred during the initial setup of Zalando.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Markets » Zalando » Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Silhouettes</strong> tab.</p>
</li>
<li>
<p>Select the <strong>groups</strong> for the properties that you want to convert.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The properties are created in your plentymarkets system.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="600">9. Exporting Zalando item properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can export the silhouettes that you saved in the <strong>Groups</strong> section and use them for the dynamic data import.</p>
</div>
<div class="paragraph instruction">
<p>Exporting Zalando item properties:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Markets » Zalando » Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Silhouettes</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Export Zalando item properties</strong>.<br>
→ A file containing the property parameters is exported.</p>
</li>
<li>
<p>Open the file.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#zalando-properties">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="zalando-properties" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Values for Zalando properties</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Names of the property groups.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Silhouette</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Values of all silhouettes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ID of the online store property. You find the property ID in the <strong>System » System settings » Item » Properties</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the property type. The following entries are possible:<br>
<strong>empty</strong> = Enter this value if the property is not used. If the property is used, <strong>empty</strong> must be replaced by <strong>1</strong>.<br>
<strong>text</strong> = Enter the value in text form, e.g. “Red” for colour.<br>
<strong>int</strong> = Enter a number, e.g. the heel height.<br>
<strong>selection</strong> = Enter the option’s selection ID from the drop-down list. You find the selection ID for the properties of the type <strong>Selection</strong>. in the <strong>System » System settings » Item » Properties</strong> menu under <strong>Selection ID</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandatory entry</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If a cell contains the value <strong>1</strong>, the property must be transferred. Properties may also contain the value <strong>1</strong> because links to other selected properties exist. → Pay attention to the documentation provided by Zalando.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter <strong>de</strong> in the lines that you use. Currently, only German is available.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>You can link the exported Zalando properties to the items in your plentymarkets system. To do so, use the <a href="/en/data/export-import/importing-data">data format</a> via the dynamic import.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="700">10. Linking attributes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you have created attributes in your plentymarkets system, link these attributes with Zalando. The following example describes how you link the attribute “colour” with Zalando. Link further attributes in the same way.</p>
</div>
<div class="paragraph instruction">
<p>Linking the attribute Colour:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Item » Attributes</strong>.<br>
→ An overview of all existing attributes opens.</p>
</li>
<li>
<p>Expand the attribute <strong>Colour</strong>.</p>
</li>
<li>
<p>Click on the <strong>Market variation</strong> tab.</p>
</li>
<li>
<p>Select the option <strong>Zalando</strong> from the <strong>Market</strong> drop-down list.<br>
→ The <strong>Zalando</strong> drop-down list is displayed.</p>
</li>
<li>
<p>Select the attribute <strong>Colour</strong> from the <strong>Zalando</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="800">11. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Activate the <a href="/en/payment/managing-payment-methods">payment method</a> <strong>Zalando payment</strong> as described below.</p>
</div>
<div class="paragraph instruction">
<p>Activating the Zalando payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>Zalando payment</strong>.<br>
→ The <strong>Settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-payment-method">Table 4</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="settings-payment-method" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Settings for the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong> and <strong>Upload logo</strong>. This makes it possible to enter values for these options in various languages. The values for a language are activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you have selected the option <strong>Info page (external)</strong> under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do not select a country of delivery.<br>
You cannot use the payment method in your online store. Therefore, this payment method is only activated in plentymarkets. It is not completely set up.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method is displayed.<br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method is not displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> are displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> has been selected from the <strong>Logo</strong> drop-down list, then the logo that has been uploaded is displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> has been selected from the <strong>Logo</strong> drop-down list, upload an external logo here.<br>
 Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, PNG and JPG.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract. <strong>Important</strong>: Do not enter a value into both fields. <br>
For further information, refer to the <a href="/en/basics/working-with-plentymarkets/statistics/managing-statistics">Manging statistics</a> page of the manual. For an example of flat rate and percentage costs, refer to the <a href="/en/payment/managing-payment-methods#20">Managing payment methods</a> page of the manual.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Permitting the payment method in customer classes</div>
<div class="paragraph">
<p>Go to <strong>System » System settings » CRM » Classes</strong> to activate or deactivate <strong>Permitted payment methods</strong>.<br>
For further information, refer to the <a href="/en/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/payment/managing-payment-methods">Payment methods</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="900">12. Retrieving processing reports</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>System » System settings » Markets » Zalando » Settings » Tab: processing reports</strong> menu, you can retrieve processing reports as well as the export log for Zalando.</p>
</div>
<div class="paragraph instruction">
<p>Retrieving processing reports:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Markets » Zalando » Settings</strong>.</p>
</li>
<li>
<p>Click on the <strong>Processing reports</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Download file</strong> under <strong>Procedures</strong> in the line of a processing report.<br>
→ A CSV file is downloaded.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Download the export log in the <strong>Export Log</strong> section.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">13. Viewing the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The menu <strong>Data » API log » Tab: API log</strong> contains a history of processes that run via the Zalando interface. The <strong>ZalandoController</strong> format is available for Zalando.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » API log » Tab: API log</strong>.</p>
</li>
<li>
<p>Select the format <strong>ZalandoController</strong> from the <strong>Process</strong> drop-down list.</p>
</li>
<li>
<p>Select a date if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Select the number of results per page.</p>
</li>
<li>
<p>Click on <strong>Search</strong> to display the results.</p>
</li>
</ol>
</div>
</div>
</div>
</main>