<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>AddError</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ermöglicht die Ausgabe einer Fehlermeldung. Fehlermeldungen werden in diesem Bereich zentral verwaltet: <strong>Einrichtung » Mandant » Global » Sprachpakete</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">AddError( int $_errorCode  , string $_errorMessage  ) : bool</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_beispiele">Beispiele</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">&#123;&#37;

	# Example for ValidatorPlaceOrder
	if(!$TermsAndConditionsCheck)
	{
		$_errorCode = 16; # Please read our General Terms and Conditions and confirm them by selecting the choice box.

		AddError($_errorCode);
	}


	# Example for ValidatorCustomerShippingAddress
	$_shippingAddress = GetCheckoutCustomerShippingAddressFromRequest();

	if(strlen($_shippingAddress-&gt;FirstName) &lt; 2
		|| strlen($_shippingAddress-&gt;LastName) &lt; 2)
	{
		$_errorCode = 39; #Please enter name and surname.

		AddError($_errorCode);
	}

&#37;&#125;</code></pre>
</div>
</div>
</div>
</div>
</main>