<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Eigene Cloud Infrastruktur</h1><div class="paragraph">
<p>Bei der Bestellung von plentymarkets wählen Händler zwischen verschiedenen Hosting-Optionen:</p>
</div><div class="ulist">
<ul>
<li>
<p>Cloud-Hosting mit Server-Standort in Frankfurt oder Irland.</p>
</li>
<li>
<p>Hosting mit eigener Cloud-Infrastruktur.</p>
</li>
</ul>
</div><div class="paragraph">
<p>Diese Handbuchseite beschreibt die zweite Option: die eigene Cloud-Infrastruktur.
Diese Option steht Händlern mit einem <strong>ENTERPRISE-Tarif</strong> zur Verfügung.
In diesem Szenario haben Händler ihre eigene Cloud mit eigenem DB-Server und Webserver.</p>
</div><h2 id="100" class="discrete">Versionierung: Praxisbeispiel</h2><div class="paragraph">
<p>Du kannst beliebig viele plentymarkets Systeme innerhalb deiner eigenen Cloud-Infrastruktur betreiben.
Stell dir zum Beispiel vor, du hast ein Testsystem und ein Produktivsystem:</p>
</div><div class="ulist">
<ul>
<li>
<p>Du benutzt das Testsystem, um neue Software-Funktionen frühzeitig auszuprobieren.
Sobald es eine neue Funktion gibt, soll die Änderung in deinem Testsystem erscheinen, damit du sie ausprobieren kannst.</p>
</li>
<li>
<p>Du benutzt das Produktivsystem für dein Tagesgeschäft.
Neue Funktionen sollen nicht direkt im Produktivsystem erscheinen, da sie vom Arbeitsalltag ablenken könnten.
Neue Funktionen sollen erst in deinem Produktivsystem erscheinen, nachdem du sie im Testsystem ausprobiert und für gut befunden hast.</p>
</li>
</ul>
</div><div class="paragraph">
<p>Du entscheidest, wann neue Funktionen in jedem deiner Systeme erscheinen.
Sollen neue Veröffentlichungen automatisch integriert werden?
Oder sollen Updates manuell eingespielt werden?
Du bist völlig flexibel bei der Konfiguration.</p>
</div><h3 id="200" class="discrete">Einrichtung</h3><div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Hosting » Manueller Versionierungsprozess</strong>.<br>
→ Alle Systeme in deiner eigenen Cloud-Infrastruktur werden angezeigt.</p>
</li>
<li>
<p>Klicke in der Zeile <strong>Plenty ID: [Eigene ID und URL]</strong> rechts auf den Pfeil nach unten (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>).<br>
→ Die Versionierungs-Einstellungen dieses Systems werden angezeigt.</p>
</li>
<li>
<p>Prüfe die Einstellungen und ändere sie bei Bedarf. Beachte <a href="#table-manual-versioning-process">Tabelle 1</a>.</p>
</li>
</ol>
</div><div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Warum sehe ich das Menü nicht?</div>
<div class="paragraph">
<p>Dieses Menü steht nur Händlern mit einer eigenen Cloud-Infrastruktur zur Verfügung.
Wenn du keine eigene Cloud-Infrastruktur hast, dann wirst du dieses Menü in deinem System nicht sehen.</p>
</div>
</td>
</tr>
</tbody></table>
</div><table id="table-manual-versioning-process" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Versionierungsprozess</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>plentymarkets Version</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Oben links findest du Informationen zu diesem System.
Du siehst den Namen des Entwicklungsstandes (Beta, Early, Stable) sowie das Datum und die Uhrzeit der aktuell verwendeten Version.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versionen automatisch einspielen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Sollen Updates automatisch oder manuell in dieses System eingespielt werden?
Klicke auf die Umschalttaste unten links, um automatische Updates ein- und auszuschalten.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 83.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon green"><i class="fa fa-toggle-on  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Updates werden automatisch ins System eingespielt.
Du musst keine weiteren Einstellungen für dieses System konfigurieren.</p>
</div>
<div class="paragraph">
<p><strong><em>Praxisbeispiel</em></strong>: wähle diese Einstellung z.B. für das Testsystem, in dem du neue Softwarefunktionen ausprobierst.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon red"><i class="fa fa-toggle-off  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Updates werden manuell ins System eingespielt.
Bevor du den Update-Prozess startest, legst du mit den weiteren Einstellungen fest, <em>welche Updates</em> eingespielt werden sollen.</p>
</div>
<div class="paragraph">
<p><strong><em>Praxisbeispiel</em></strong>: wähle diese Einstellung z.B. für das Produktivsystem, mit dem du dein Tagesgeschäft abwickelst.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Version von weiterem System einspielen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Dieser Bereich wird nur angezeigt, wenn du dich für manuelle Updates entschieden hast (<span class="icon red"><i class="fa fa-toggle-off  "></i></span>).</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wirf einen Blick auf <em>den mittleren Bereich</em>.</p>
</li>
<li>
<p>Wähle eines deiner Systeme aus der Dropdown-Liste aus.</p>
</li>
<li>
<p>Klicke auf <strong>Updateprozess starten</strong>.<br>
→ Es wird exakt die Version des ausgewählten Systems übernommen.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neuste Version einspielen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Dieser Bereich wird nur angezeigt, wenn du dich für manuelle Updates entschieden hast (<span class="icon red"><i class="fa fa-toggle-off  "></i></span>).</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wirf einen Blick auf <em>den Bereich rechts</em>.</p>
</li>
<li>
<p>Klicke auf <strong>Updateprozess starten</strong>.<br>
→ Es wird die aktuellste Version übernommen.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table><h3 id="300" class="discrete">Fragen und Antworten</h3><div class="openblock collapseBox">
<div class="title"><strong>Was sind die Vor- und Nachteile von automatischen Updates?</strong></div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><strong><em>Faktor Zeit</em></strong>:
Automatische Updates sparen Zeit.
Manuelle Updates nehmen mehr Zeit in Anspruch, da du sie selbst regelmäßig einspielen musst.</p>
</li>
<li>
<p><strong><em>Faktor Veränderung</em></strong>:
Hast du die Sorge, dass automatische Updates dein System negativ beeinflussen könnten?
Vielleicht befürchtest du, dass neue Funktionen von deinem Tagesgeschäft ablenken könnten.
Wähle in diesem Fall manuelle Updates und entscheide selbst, wann sich das System ändert.</p>
</li>
</ul>
</div>
</div>
</div><div class="openblock collapseBox">
<div class="title"><strong>Ich bin mit einem Update nicht zufrieden. Was kann ich tun?</strong></div>
<div class="content">
<div class="paragraph">
<p>Melde das Problem im <a href="https://forum.plentymarkets.com/">Forum</a>.
Wir helfen gerne weiter.
Aktualisiere dein System noch nicht.
Warte stattdessen, bis das Problem behoben wurde oder bis du zusätzliche Anweisungen von unserem Support-Team erhalten hast.</p>
</div>
</div>
</div><div class="openblock collapseBox">
<div class="title"><strong>Kann ich wieder auf eine ältere Version zurückwechseln?</strong></div>
<div class="content">
<div class="paragraph">
<p>Nein.
Du kannst lediglich auf eine neuere Version aktualisieren.
Es ist nicht möglich, auf eine ältere Version zurück zu wechseln.</p>
</div>
<div class="paragraph">
<p>Wir empfehlen daher, neue Funktionen zuerst in deinem Testsystem auszuprobieren.
Aktualisiere dein Produktivsystem, nachdem du die neuen Funktionen ausprobiert hast und sie für gut befunden hast.</p>
</div>
</div>
</div><div class="openblock collapseBox">
<div class="title"><strong>Mein System umfasst mehrere Mandanten. Kann ich die Versionierung für jeden Mandanten separat einstellen?</strong></div>
<div class="content">
<div class="paragraph">
<p>Nein.
Im Menü <strong>Einrichtung » Einstellungen » Hosting » Manueller Versionierungsprozess</strong> siehst du eine Liste aller Systeme innerhalb deiner eigenen Cloud-Infrastruktur.
Einzelne Mandanten werden hier nicht aufgeführt.</p>
</div>
<div class="paragraph">
<p>Es ist nicht möglich, eine eigene Version für einen Mandanten festzulegen.
Stattdessen verwendet der Mandant immer die gleiche Version wie der Hauptshop.</p>
</div>
</div>
</div>
</main>