<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#plentymarkets-status-abonnieren"><span>1.</span><span> plentymarkets Status abonnieren</span></a></li>
<li><a href="#hinweis-admin-benutzer"><span>2.</span><span> Hinweis für Admin-Benutzer</span></a></li>
<li><a href="#plentymarkets-status-abbestellen"><span>3.</span><span> plentymarkets Status abbestellen</span></a></li>
<li><a href="#plentymarkets-status-e-mail-aendern"><span>4.</span><span> E-Mail-Adresse ändern und Abonnement erneut abschließen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>plentymarkets Status</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets Status benachrichtigt dich per E-Mail in Störungsfällen, bei wichtigen Änderungen wie z.B. bei der Beendigung der Softwarepflege und Bereitstellung oder auch bei internen sowie externen Wartungsarbeiten bei einem unserer Partner. Im Fall einer Störung wird in der E-Mail auch der voraussichtliche Zeitpunkt der Behebung bekannt gegeben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="plentymarkets-status-abonnieren">1. plentymarkets Status abonnieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit einem Klick abonnierst du plentymarkets Status und erhältst im Falle von z.B. Störungen, Ankündigungen und  Wartungsarbeiten eine E-Mail an die in deinem Benutzerkonto gespeicherte E-Mail-Adresse.</p>
</div>
<div class="paragraph instruction">
<p>plentymarkets Status abonnieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Logge dich in deinem plentymarkets Backend ein.</p>
</li>
<li>
<p>Zeige mit der Maus auf die Benutzer-Schaltfläche (<span class="icon "><i class="fa fa-user-circle  "></i></span>) bzw. dein Benutzerbild oben rechts.</p>
</li>
<li>
<p>Klicke auf <strong>plentymarkets Status</strong>.<br>
→ Die Ansicht <strong>plentymarkets Status abonnieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Aktiviere die Schaltfläche <span class="icon red"><i class="fa fa-toggle-off  "></i></span>.<br>
→ Du hast plentymarkets Status erfolgreich abonniert.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="hinweis-admin-benutzer">2. Hinweis für Admin-Benutzer</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Standardmäßig erhält jeder <strong>Admin</strong>-Benutzer in deinem System die plentymarkets Status-E-Mails.</p>
</div>
<div class="paragraph">
<p>Wie du plentymarkets Status abbestellst, ist im Kapitel <a href="/business-entscheidungen/systemadministration/plentymarkets-status#plentymarkets-status-abbestellen">plentymarkets Status abbestellen</a> beschrieben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="plentymarkets-status-abbestellen">3. plentymarkets Status abbestellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du keine Benachrichtigungen erhalten möchtest, kannst du plentymarkets Status jederzeit abbestellen.</p>
</div>
<div class="paragraph instruction">
<p>plentymarkets Status abbestellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Logge dich in deinem plentymarkets Backend ein.</p>
</li>
<li>
<p>Zeige mit der Maus auf die Benutzer-Schaltfläche (<span class="icon "><i class="fa fa-user-circle  "></i></span>) bzw. dein Benutzerbild oben rechts.</p>
</li>
<li>
<p>Klicke auf <strong>plentymarkets Status</strong>.<br>
→ Die Ansicht <strong>plentymarkets Status abonnieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Deaktiviere die Schaltfläche <span class="icon green"><i class="fa fa-toggle-off  "></i></span>.<br>
→ Du hast plentymarkets Status abbestellt und erhältst keine Status-E-Mails mehr.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="plentymarkets-status-e-mail-aendern">4. E-Mail-Adresse ändern und Abonnement erneut abschließen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die plentymarkets Status-E-Mails werden an die E-Mail-Adresse versendet, die im Benutzerkonto gespeichert ist.</p>
</div>
<div class="paragraph">
<p>Wenn du die Status-E-Mails an eine andere E-Mail-Adresse gesendet haben möchtest, musst du die E-Mail-Adresse im Benutzerkonto im Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong> ändern, das Abonnement abbestellen und erneut abschließen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Abonnement abbestellen und erneut abschließen</div>
<div class="paragraph">
<p>Wenn du deine E-Mail-Adresse im Benutzerkonto geändert hast, ist es notwendig, dass du plentymarkets Status wie oben beschrieben einmal <a href="/business-entscheidungen/systemadministration/plentymarkets-status#plentymarkets-status-abbestellen">abbestellst</a> und anschließend erneut <a href="/business-entscheidungen/systemadministration/plentymarkets-status#plentymarkets-status-abonnieren">abonnierst</a>.<br>
Dieses Vorgehen ist notwendig, damit dein plentymarkets System die Änderung der E-Mail-Adresse erkennt und die Status-E-Mails zukünftig an die von dir gewünschte E-Mail-Adresse versendet werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>