<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Welche SSL-Zertifikate stehen zur Auswahl?</span></a></li>
<li><a href="#300"><span>2.</span><span> Voraussetzungen für das Buchen eines SSL-Zertifikats</span></a>
<ul class="sectlevel2">
<li><a href="#400"><span>2.1.</span><span> Domain</span></a></li>
<li><a href="#500"><span>2.2.</span><span> Aktiviertes Autoscaling</span></a></li>
<li><a href="#700"><span>2.3.</span><span> Bei Subdomains: Vorhandene Parent-Domain</span></a></li>
<li><a href="#800"><span>2.4.</span><span> Bei externen Domains: DNS-Einstellungen</span></a></li>
<li><a href="#900"><span>2.5.</span><span> 301-Weiterleitungen für '/' entfernen</span></a></li>
<li><a href="#1000"><span>2.6.</span><span> Keine manuell angelegte Sub-Domain für www.</span></a></li>
<li><a href="#1100"><span>2.7.</span><span> Checkliste</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>3.</span><span> Bestellen eines SSL-Zertifikats</span></a>
<ul class="sectlevel2">
<li><a href="#1220"><span>3.1.</span><span> Mit dem Assistenten</span></a>
<ul class="sectlevel3">
<li><a href="#1240"><span>3.1.1.</span><span> Den Assistenten durchlaufen</span></a></li>
<li><a href="#1260"><span>3.1.2.</span><span> Validierungsprozess nach der Bestellung</span></a></li>
</ul>
</li>
<li><a href="#1280"><span>3.2.</span><span> Im Einrichtungsmenü</span></a></li>
</ul>
</li>
<li><a href="#1300"><span>4.</span><span> Verlängern eines SSL-Zertifikats</span></a></li>
<li><a href="#1400"><span>5.</span><span> Häufig gestellte Fragen (FAQ)</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>SSL-Zertifikate</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Ein SSL-Zertifikat dient dazu, deine Website zu verschlüsseln und gewährleistet eine sichere Verbindung zu deiner Website und deinem Onlineshop. Du benötigst ein SSL-Zertifikat für bestimmte Marktplätze und zum Beispiel für die Zertifizierung mit Trusted Shops. Dass du ein SSL-Zertifikat verwendest, ist daran erkennbar, dass deine Website über <em>https</em> erreichbar ist.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Welche SSL-Zertifikate stehen zur Auswahl?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>SSL-Zertifikate werden von unabhängigen Zertifizierungsstellen ausgestellt. plentymarkets bietet verschiedene Arten von SSL-Zertifikaten an:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Art</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://www.websecurity.digicert.com/de/de/security-topics/always-on-ssl">AlwaysOn</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span><br>
(DV)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>günstigstes SSL-Zertifizierungsmodell</p>
</li>
<li>
<p>ausgestellt von DigiCert</p>
</li>
<li>
<p>Gültigkeitsdauer:</p>
<div class="ulist">
<ul>
<li>
<p>6 Monate</p>
</li>
</ul>
</div>
</li>
<li>
<p>Bestellung:</p>
<div class="ulist">
<ul>
<li>
<p>Im Einrichtungsmenü</p>
</li>
</ul>
</div>
</li>
<li>
<p>Verlängerung:</p>
<div class="ulist">
<ul>
<li>
<p>verlängert sich nicht automatisch</p>
</li>
<li>
<p>sollte nach 5 Monaten <a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen#1300">verlängert werden</a>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://comodosslstore.com/">COMODO</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span><br>
(DV)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>weltweit anerkannte und über Jahre vertrauensvolle Zertifizierungsstelle.</p>
</li>
<li>
<p>im Falle eines Missbrauchs oder Datenverlustes besteht Garantieanspruch bei der ausstellenden Zertifizierungsstelle.</p>
</li>
<li>
<p>Gültigkeitsdauer:</p>
<div class="ulist">
<ul>
<li>
<p>1 Jahr</p>
</li>
<li>
<p>die Gültigkeitsdauer von neu bestellten Zertifikaten beginnt mit dem Datum der Bestätigung der Zertifizierungsstelle.</p>
</li>
<li>
<p>eine eventuelle Restlaufzeit des vorherigen Zertifikats kann nicht übernommen werden.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Bestellung:</p>
<div class="ulist">
<ul>
<li>
<p>Im Einrichtungsmenü</p>
</li>
</ul>
</div>
</li>
<li>
<p>Verlängerung:</p>
<div class="ulist">
<ul>
<li>
<p>verlängert sich nicht automatisch</p>
</li>
<li>
<p>sollte nach Ende der Laufzeit <a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen#1300">verlängert werden</a>.</p>
</li>
<li>
<p>14 Tage vor offiziellem Ablaufdatum des Zertifikats wird eine Erinnerungs-E-Mail an die Hostmaster-Adresse gesendet.</p>
</li>
<li>
<p>Zusätzlich besteht die Möglichkeit, sich per E-Mail erinnern zu lassen. Eine kostenfreie Möglichkeit stellt der Dienst <a href="https://letsmonitor.org/">LetsMonitor.org</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> dar.</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://sectigo.com/">Sectigo</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span><br>
(OV/EV)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>OV und EV Zertifikate sind mit einem umfangreicheren Verifizierungsprozess verbunden, bieten aber auch mehr Vertrauen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>OV = Organizational Validation (Unternehmensüberprüfung).</p>
<div class="ulist">
<ul>
<li>
<p>Die Zertifizierungsstelle verifiziert das Unternehmen.
Dazu werden Details wie Firmenname, Standort und Adresse mit Angaben aus dem Handelsregister verglichen.</p>
</li>
</ul>
</div>
</li>
<li>
<p>EV = Extended Validation (erweiterte Überprüfung).</p>
<div class="ulist">
<ul>
<li>
<p>Gilt als die sicherste und vertrauenswürdigste Lösung.</p>
</li>
<li>
<p>Die Zertifizierungsstelle führt einen vom <a href="https://cabforum.org/extended-validation/">CA/Browser Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> festgelegten Verifizierungsprozess durch.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Gültigkeitsdauer:</p>
<div class="ulist">
<ul>
<li>
<p>1 Jahr</p>
</li>
</ul>
</div>
</li>
<li>
<p>Bestellung:</p>
<div class="ulist">
<ul>
<li>
<p>Mit einem Assistenten</p>
</li>
</ul>
</div>
</li>
<li>
<p>Verlängerung:</p>
<div class="ulist">
<ul>
<li>
<p>Derzeit ist keine Verlängerung möglich.
Nach Ende der Laufzeit muss das Zertifikat im Assistenten neu bestellt werden.</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<h3 id="200" class="discrete">Aufschlüsselung der Preise</h3>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 16.6666%;">
<col style="width: 16.6666%;">
<col style="width: 16.6666%;">
<col style="width: 16.6669%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-center valign-top">AlwaysOn<br>
DV</th>
<th class="tableblock halign-center valign-top">COMODO<br>
DV</th>
<th class="tableblock halign-center valign-top">Sectigo<br>
OV</th>
<th class="tableblock halign-center valign-top">Sectigo<br>
EV</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Laufzeit</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">6 Monate</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">1 Jahr</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">1 Jahr</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">1 Jahr</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mtl. Gebühr</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">2,- €</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">2,- €</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">2,- €</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">2,- €</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kosten des SSL-Zertifikats</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">0,- €</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">35,70 €</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">118,80 €</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">348,- €</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einmalige Einrichtungsgebühr</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">0,- €</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">0,- €</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">29,- €</p></td>
<td class="tableblock halign-center valign-top"><p class="tableblock">99,- €</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><span class="small">Alle Preise sind in netto angegeben.</span></p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">2. Voraussetzungen für das Buchen eines SSL-Zertifikats</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="400">2.1. Domain</h3>
<div class="paragraph">
<p>Die Domain, für die das SSL-Zertifikat bestellt werden soll, muss eine Primärdomain sein.
Die Domain muss also im Menü <strong>Einrichtung » Assistenten » Grundeinrichtung » Domains-Assistenten</strong> als Primärdomain genannt werden.</p>
</div>
<div class="paragraph">
<p><strong><em>Tipp</em></strong>: Schaue dir deine Domains mit der Tabellenansicht an, um zu erkennen, welche die Primärdomain ist.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-entscheidungen/systemadministration/assets/hauptdomain.png" alt="hauptdomain">
</div>
<div class="title">Bild 1. Domain-Assistent in Tabellenansicht</div>
</div>
<div class="paragraph">
<p>Wenn du ein SSL-Zertifikat für eine andere Domain einrichten möchtest, musst du <a href="/business-entscheidungen/systemadministration/domains#210a">diese Domain zunächst als Hauptdomain festlegen</a>.</p>
</div>
<div class="paragraph">
<p>Die Bestellung eines SSL-Zertifikats ist nicht möglich, wenn die entsprechende Domain als extern abgespeichert ist (also auf eine externe IP-Adresse verweist).</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-entscheidungen/systemadministration/assets/extern-domain.png" alt="extern domain">
</div>
</div>
</div>
<div class="sect2">
<h3 id="500">2.2. Aktiviertes Autoscaling</h3>
<div class="paragraph">
<p>Vereinzelt gibt es Systeme, die nicht auf <a href="https://aws.amazon.com/de/autoscaling/">Autoscaling</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> (AS) umgestellt wurden.
In den meisten Fällen liegt das daran, dass die Domain nicht bei plentymarkets gehostet wird. Aus diesem Grund muss die Person, der die Domain gehört, die DNS-Einstellungen der Domain manuell anpassen.
Eine weitere mögliche Ursache ist, dass eine Domain erstmalig zu einem Mandanten hinzugeführt wurde. Diese Mandanten werden dann nicht automatisch auf Autoscaling umgestellt. Der plentymarkets Support muss Autoscaling manuell aktivieren.</p>
</div>
<h4 id="600" class="discrete">Woran erkenne ich aktiviertes AS?</h4>
<div class="paragraph">
<p>Ob für das jeweilige System AS aktiviert ist oder nicht erkennt man anhand der dargestellten DNS-Einstellungen im Domain Assistenten.</p>
</div>
<div class="paragraph instruction">
<p>Autoscaling-Status prüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/business-entscheidungen/systemadministration/domains#50">Rufe den Domain-Assistenten auf</a> und navigiere zum Schritt <strong>Aktuelle DNS Einstellungen</strong>.<br>
<strong><em>Hinweis</em></strong>: Dieser Schritt wird nur angezeigt, wenn du im Schritt <a href="/business-entscheidungen/systemadministration/domains#100">Domain Typ</a> die Option <strong>Neue, extern gehostete, Domain hinterlegen</strong> gewählt hast.</p>
</li>
<li>
<p>Prüfe in der Spalte <strong>DNS Record Type</strong>, ob für die Domain ein CNAME-Eintrag vorhanden ist.<br>
→ Wenn ein CNAME-Eintrag vorhanden ist, ist Autoscaling aktiviert. Ein SSL-Zertifikat kann bestellt werden.<br>
→ Wenn kein CNAME-Eintrag vorhanden ist, sondern nur zwei A-Records, ist Autoscaling nicht aktiviert.</p>
</li>
<li>
<p>Wenn Autoscaling nicht aktiviert ist, bitte den plentymarkets Support über das <a href="https://forum.plentymarkets.com/t/46996/">plentymarkets Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>, Autoscaling zu aktivieren.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Beispiel der dargestellten DNS-Einstellungen bei einem System auf AS:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/business-entscheidungen/systemadministration/assets/aktuelle-dns-einstellungen.png" alt="aktuelle dns einstellungen">
</div>
</div>
</div>
<div class="sect2">
<h3 id="700">2.3. Bei Subdomains: Vorhandene Parent-Domain</h3>
<div class="paragraph">
<p>Wenn du ein SSL-Zertifikat für eine Subdomain bestellen möchtest, muss auch die Parent-Domain im Assistenten existieren. Auch die Beziehung zwischen Domain und Subdomain muss im Assistenten korrekt eingetragen sein.
<a href="/business-entscheidungen/systemadministration/domains#50">Prüfe zunächst die Einstellungen im Assistenten</a>.</p>
</div>
<div class="paragraph">
<p>Falls die Parent-Domain aus dem Assistenten entfernt wurde, lege die Parent-Domain erneut an. Wenn diese Parent-Domain nicht auf plentymarkets zeigen soll, sondern z.B. auf Shopware, versehe die Parent-Domain mit einem externen A-Record, indem du eine <a href="/business-entscheidungen/systemadministration/domains#210a">Systemverknüpfung erstellst</a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="800">2.4. Bei externen Domains: DNS-Einstellungen</h3>
<div class="paragraph">
<p>Die Validierung der SSL-Bestellung erfolgt auf Dateiebene.
Das bedeutet, dass die Domain, für die das Zertifikat bestellt werden soll, zwingend korrekt erreichbar sein muss.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die beim <a href="/business-entscheidungen/systemadministration/domains#160">externen Provider gespeicherten DNS-Einstellungen</a> müssen mit den DNS-Einstellungen im Assistenten identisch sein.<br>
→ Prüfe die Einstellungen im Service-Bereich deines Domain-Providers.</p>
</li>
<li>
<p>Für die Domain, für die das SSL-Zertifikat bestellt werden soll, darf kein IPv6-Eintrag (AAAA-Record) existieren.<br>
→ Prüfe die Einstellungen im Service-Bereich deines Domain-Providers.</p>
</li>
<li>
<p>Für die Domain, für die das SSL-Zertifikat bestellt werden soll, müssen eventuell vorhandene <a href="https://de.wikipedia.org/wiki/DNS_Certification_Authority_Authorization">CAA-Records</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> die Bestellung des gewünschten Zertifikats zulassen.<br>
→ Prüfe die Einstellungen im Service-Bereich deines Domain-Providers.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="900">2.5. 301-Weiterleitungen für '/' entfernen</h3>
<div class="paragraph">
<p>Im Domain-Assistent der jeweiligen Domain darf <a href="/business-entscheidungen/systemadministration/domains#domain-mailserver">keine 301-Weiterleitung für die Startseite</a> angelegt sein, wie sie im nachfolgenden Beispiel dargestellt ist:</p>
</div>
<div class="paragraph">
<p><code>/;Ziel-URL;301;L</code></p>
</div>
<div class="paragraph">
<p><code>/*;Ziel-URL;301;L</code></p>
</div>
<div class="paragraph">
<p><code>^/*;Ziel-URL;301;L</code></p>
</div>
</div>
<div class="sect2">
<h3 id="1000">2.6. Keine manuell angelegte Sub-Domain für www.</h3>
<div class="paragraph">
<p>Eine manuell angelegte Sub-Domain für <code>www.deineDomain.tld</code> verhindert die Auslieferung des SSL-Zertifikats, da sie einen doppelten DNS-Eintrag für <code>www</code> erzeugen würde.
Falls eine solche Sub-Domain manuell angelegt wurde, muss diese gelöscht werden.</p>
</div>
</div>
<div class="sect2">
<h3 id="1100">2.7. Checkliste</h3>
<div class="paragraph">
<p>Bereit, ein SSL-Zertifikat zu bestellen?
Gehe diese Checkliste durch, um sicherzustellen, dass du alle <a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen#300">Voraussetzungen</a> erfüllt hast.</p>
</div>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><input type="checkbox" data-item-complete="0"> Domain ist nicht gekündigt</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Domain ist Hauptdomain</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Domain ist auf AutoScaling (AS) umgestellt</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Bei Sub-Domains: existierende Parent-Domain</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> DNS-Einstellungen gem. Angaben im Domain-Assistenten</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Kein AAAA-Record für die Domain, für die das Zertifikat bestellt werden soll</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Kein negativer CAA-Record</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Keine 301-Weiterleitung auf der Startseite</p>
</li>
<li>
<p><input type="checkbox" data-item-complete="0"> Keine manuell angelegte Sub-Domain für www.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">3. Bestellen eines SSL-Zertifikats</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem du alle <a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen#300">Voraussetzungen</a> erfüllt hast, kannst du ein SSL-Zertifikat bestellen.
Die Bestellung bei der Zertifizierungsstelle führt plentymarkets in deinem Auftrag durch und stellt dir den Kaufbetrag und die monatlichen Bereitstellungskosten in Rechnung.</p>
</div>
<div class="paragraph">
<p>Je nachdem, <a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen#100">welche Art von Zertifikat</a> du bestellen möchtest, wirst du die Bestellung entweder im Einrichtungsmenü oder im Assistenten durchführen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Nur ein SSL-Zertifikat für die Domain</div>
<div class="paragraph">
<p>Eine Domain kann nur ein SSL-Zertifikat haben.
Das heisst, wenn deine Domain bereits ein SSL-Zertifikat im Einrichtungsmenü besitzt, und du dann z.B. im Assistenten ein neues Zertifikat bestellst, wird das bestehende Zertifikat durch das neue überschrieben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="1220">3.1. Mit dem Assistenten</h3>
<div class="paragraph">
<p>Nur OV- und EV-Zertifikate (Sectigo) werden im Assistenten bestellt.
Falls du ein DV-Zertifikat (AlwaysOn und COMODO) bestellen möchtest, dann musst du dies <a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen#1280">im Einrichtungsmenü</a> tun.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Warum sehe ich den Assistenten nicht?</div>
<div class="paragraph">
<p>OV- und EV-Zertifikate sind sehr neu.
Sie werden derzeit mit einer kleinen Gruppe von ausgewählten Händlern getestet.
Möchtest du ein OV- oder EV-Zertifikat bestellen?
<a href="https://forum.plentymarkets.com/c/core">Schreib uns im Forum an!</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="1240">3.1.1. Den Assistenten durchlaufen</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Assistenten » Grundeinrichtung</strong>.</p>
</li>
<li>
<p>Klicke auf den Assistenten <strong>SSL-Verwaltung</strong>.<br>
→ Falls du bereits bestehende SSL-Konfigurationen hast, werden sie hier angezeigt.</p>
</li>
<li>
<p>Klicke auf eine der vorhandenen SSL-Konfigurationen, um ihre Einstellungen zu öffnen. Oder klicke auf <strong>Neue Konfiguration</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Gehe die einzelnen Schritte des Assistenten durch. Beachte <a href="#table-setps-ssl-assistant">Tabelle 1</a>.</p>
</li>
<li>
<p>Nachdem du die Bestellung im Assistenten aufgegeben hast, musst du noch den <a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen#1260">Validierungsprozess mit Sectigo abschließen</a>.</p>
</li>
</ol>
</div>
<table id="table-setps-ssl-assistant" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Schritte des SSL-Assistenten</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Schritt</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SSL Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle <a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen#100">das gewünschte SSL-Zertifikat</a> aus.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontaktdaten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib Informationen zu deiner Firma und zu einer Kontaktperson ein.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Kontaktperson</em></strong>: diese Person muss zur Durchführung des Validierungsprozesses berechtigt sein, z.B. CIO oder CEO.</p>
</li>
<li>
<p><strong><em>Unternehmenskontakt</em></strong>: die Firmendaten müssen mit den Angaben im Handelsregister übereinstimmen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestätigung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lese eine Zusammenfassung deiner gewählten Dienstleistungen.
Beim Abschließen des Assistenten bestätigst du, dass du diese kostenpflichtigen Leistungen buchen möchtest.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zusammenfassung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Dieser Schritt ist rein informativ.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="1260">3.1.2. Validierungsprozess nach der Bestellung</h4>
<div class="paragraph">
<p>Nach der Bestellung erhältst du eine Bestätigungs-E-Mail (SSL Subscriber Agreement) von Sectigo.
Folge den Anweisungen in der E-Mail, um den Validierungsprozess abzuschließen.</p>
</div>
<div class="paragraph">
<p>Grundsätzlich gibt es zwei Vorgehensweisen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Folge dem Link in der E-Mail.
Du wirst auf die Sectigo Website weitergeleitet.
Gib dort den "verification code" ein, den du in der E-Mail erhalten hast. Folge den restlichen Schritten auf dem Bildschirm.
Während des Validierungsprozesses wirst du einen Anruf von Sectigo erhalten.</p>
</li>
<li>
<p>Lade die in der E-Mail aufgeführten Dokumente herunter (Certificate Request Form &amp; SSL Subscriber Agreement).
Drucke die Dokumente aus, unterschreibe sie und schicke sie an Sectigo zurück.
Während des Validierungsprozesses wirst du einen Anruf von Sectigo erhalten.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Beachte, dass es einige Zeit dauern kann, bis alle Schritte abgeschlossen sind.
Lass dir also genug Zeit, um die Formulare zu unterschreiben, an Sectigo zurückzuschicken, einen Anruf von Sectigo zu erhalten und den Validierungsprozess abzuschließen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Bist du befugt, den Prozess abzuschließen?</div>
<div class="paragraph">
<p>Der Validierungsprozess muss von einer berechtigten Person abgeschlossen werden, z.B. CIO oder CEO.
Rechtlich bindende Dokumente müssen während des Prozesses von einer zeichnungsberechtigten Person unterschrieben werden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1280">3.2. Im Einrichtungsmenü</h3>
<div class="paragraph">
<p>Nur DV-Zertifikate (AlwaysOn und COMODO) werden im Einrichtungsmenü bestellt.
Falls du ein OV- oder EV-Zertifikat (Sectigo) bestellen möchtest, dann musst du dies <a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen#1220">im Assistenten</a> tun.</p>
</div>
<div class="paragraph instruction">
<p>SSL-Zertifikat im Einrichtungsmenü bestellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » SSL</strong>.<br>
→ Die Zertifikate der Domain werden angezeigt.</p>
</li>
<li>
<p>Klicke in der Zeile <strong>Neues SSL bestellen für Domain: [Domain-Name]</strong> rechts auf den Pfeil nach unten.<br>
→ Die für die Domain buchbaren SSL-Zertifikate werden angezeigt.</p>
</li>
<li>
<p>Prüfe die buchbaren SSL-Zertifikate.</p>
</li>
<li>
<p>Klicke in der Zeile des SSL-Zertifikats, das du buchen möchtest, auf <span class="icon darkGrey"><i class="fa fa-shopping-cart  "></i></span> <strong>SSL bestellen</strong>.<br>
→ Das SSL-Zertifikat wird bestellt.<br>
<strong><em>Hinweis:</em></strong> Es kann bis zu 2 Stunden dauern, bis das SSL-Zertifikat aktiviert ist.</p>
</li>
<li>
<p>Lösche den Browser-Cache.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Lösche den DNS-Cache.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Klicke die Tastenkombination <strong>Windows-Taste + R</strong>.</p>
</li>
<li>
<p>Gib <code>CMD</code> ein und drücke <strong>Enter</strong>.</p>
</li>
<li>
<p>Gib den Befehl <code>ipconfig /flushdns</code> ein.<br>
→ Der DNS-Cache wird gelöscht.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Wann ist die Bestellung abgeschlossen?</div>
<div class="paragraph">
<p>Die Bestellung des Zertifikates ist erst abgeschlossen, wenn beim Status im Backend "Abgeschlossen" steht. Alle Meldungen, die "challenge…​" beinhalten bedeuten, dass die Bestellung noch im Gange ist. <a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen#1400">Siehe die FAQ</a>, wenn der Bestellstatus in "challengeSolved" feststeckt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">4. Verlängern eines SSL-Zertifikats</h2>
<div class="sectionbody">
<div class="paragraph">
<p>SSL-Zertifikate müssen vor Ende der Laufzeit verlängert, d.h. neu bestellt werden.
Unabhängig davon, ob du bereits ein SSL-Zertifikat hast, musst du ein neues Zertifikat bestellen.
Du wählst also Zertifizierungsstelle und Laufzeit bei jeder Bestellung neu.</p>
</div>
<div class="paragraph instruction">
<p>Restlaufzeit eines AlwaysOn oder COMODO SSL-Zertifikats anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Mandant wählen » SSL</strong>.<br>
→ Eine Tabelle mit den Zertifikaten der Domain wird angezeigt.<br></p>
</li>
<li>
<p>In der Spalte <strong>Ablaufdatum</strong> findest du das Datum, an dem das Zertifikat abläuft.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">5. Häufig gestellte Fragen (FAQ)</h2>
<div class="sectionbody">
<div class="qlist qanda">
<ol>
<li>
<p><em><strong>Für welche Domain wird ein SSL-Zertifikat bestellt?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Du bestellst das SSL-Zertifikat für deine Primärdomain, also die Domain, die im Menü <strong>Einrichtung » Assistenten » Grundeinrichtung » Domains-Assistenten</strong> als Primärdomain eingestellt ist.
Wenn du ein SSL-Zertifikat für eine andere Domain einrichten möchtest, musst du <a href="/business-entscheidungen/systemadministration/domains#210a">diese Domain zunächst als Hauptdomain festlegen</a>.</p>
</li>
<li>
<p>Eine externe Domain kannst du beim externen Hoster belassen und <a href="/business-entscheidungen/systemadministration/domains#160">die DNS-Einstellungen bei diesem externen Hoster speichern</a>. Das SSL-Zertifikat muss jedoch systemnah liegen, also auch wenn die Domain bei einem anderen Hoster liegt, erfolgt die Verschlüsselung erst nach der Weiterleitung über die IP-Adresse bei plentymarkets im System. Daher muss das SSL-Zertifikat bei plentymarkets gebucht werden, da plentymarkets aus Sicherheitsgründen keine externen Zertifikate zulässt.</p>
</li>
<li>
<p>Für gekündigte Domains sowie für Start-up-Domains und Testdomains, also Domains mit den Bestandteilen <em>plenty-testdrive.eu</em>, <em>plentymarkets-x1.com</em> usw., können keine SSL-Zertifikate bestellt werden.</p>
</li>
</ol>
</div>
</li>
<li>
<p><em><strong>Was passiert, wenn ich die Hauptdomain ändere?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>SSL-Zertifikate sind domaingebunden. Das bedeutet, dass beispielsweise bei Umstellung der Hauptdomain das aktuelle Zertifikat inaktiv geschaltet wird, da eine neue Hauptdomain ohne bestelltes Zertifikat vorliegt.
Inaktiv bedeutet nicht gelöscht - Sollte die Hauptdomain erneut auf die Domain umgestellt werden, die bereits ein SSL-Zertifikat besaß, kann dieses wieder aktiviert werden, sofern das SSL-Zertifikat noch gültig ist.</p>
</li>
</ol>
</div>
</li>
<li>
<p><em><strong>Kann ich das SSL-Zertifikat bei einem Domain-Umzug mitnehmen?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>SSL-Zertifikate können bei einem Domainumzug zu plentymarkets <strong>nicht</strong> mitgenommen werden. Aufgrund der technischen Gegebenheiten ist die Bestellung nur innerhalb unserer <a href="https://de.wikipedia.org/wiki/Public-Key-Infrastruktur">Public-Key-Infrastruktur</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> möglich.
Dies gilt für <strong><em>beide Richtungen</em></strong>. Sowohl von <strong><em>extern zu plentymarkets</em></strong>, als auch von <strong><em>plentymarkets zu extern</em></strong>. Ein über plentymarkets gebuchtes SSL-Zertifikat muss <strong><em>systemnah</em></strong> liegen und kann bei einem Domaintransfer nicht mitgenommen werden. Ein Export der Zertifikatsdaten (geheimer Private-Key) ist <strong>nicht</strong> möglich. Auch ein "Transfer" eines SSL-Zertifikats von einer Domain(-ID) auf eine andere ist nicht möglich.</p>
</li>
</ol>
</div>
</li>
<li>
<p><em><strong>Brauche ich ein Hostmaster-Postfach?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Nein, für die Bestellung eines SSL-Zertifikats über das Backend wird kein Postfach <code>hostmaster@deineDomain.tld</code> vorausgesetzt.</p>
</li>
</ol>
</div>
</li>
<li>
<p><em><strong>Können Wildcard-SSL-Zertifikate ausgestellt werden?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Nein, das Ausstellen von sogenannten Wildcard-SSL-Zertifikaten ist in unserer Infrastruktur nicht möglich.</p>
</li>
</ol>
</div>
</li>
<li>
<p><em><strong>Wie lange dauert es, bis das AlwaysOn oder COMODO SSL-Zertifikat aktiviert wird?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Nach Bestellung eines neuen Zertifikats muss dieses durch einen regelmäßig ausgeführten <strong>Systemprozess</strong> veröffentlicht werden. <strong>Dies kann bis zu 120 Minuten dauern.</strong></p>
</li>
<li>
<p>In Einzelfällen führt die Zertifizierungsstelle eine Qualitätskontrolle durch bevor sie SSL-Zertifikate freischaltet. Prüfe daher die auf dem Bildschirm angezeigte Bestätigungsnachricht. Eine Qualitätskontrolle dauert in der Regel bis zu 24 Stunden. Sollte der Status im Backend nach 24 Stunden nicht "Abgeschlossen" lauten, melde dich im Forum unter Angabe der betroffenen Domain.</p>
</li>
</ol>
</div>
</li>
<li>
<p><em><strong>Ich habe mein AlwaysOn oder COMODO Zertifikat bereits vor mehreren Stunden bestellt, meine Seite wird aber noch immer nicht als sicher eingestuft - Was kann ich machen?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Option 1:</strong> Nachdem die Bestellung im Backend der Status "Abgeschlossen" erhalten hat muss der lokale Browser-Cache geleert werden (<a href="https://forum.plentymarkets.com/t/loeschen-des-lokalen-dns-cache/64288">Löschen des lokalen Browser- und/oder DNS-Cache</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>), damit das zwischengespeicherte Zertifikat aktualisiert wird.</p>
</li>
<li>
<p><strong>Option 2:</strong> Evtl. liegt bei der Erreichbarkeit deiner Domain ein Problem vor und das Zertifikat kann deswegen nicht korrekt ausgeliefert werden. Du kannst auf der nachfolgenden Seite prüfen, ob eine Installation von LetsEncrypt für Deine Domain möglich ist: <a href="https://letsdebug.net/">https://letsdebug.net/</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span><br>
<strong>Validation method: HTTP-01</strong>. Falls dort eine Fehlermeldung ausgegeben wird kannst Du uns diese gern im Forum mitteilen, damit wir den Sachverhalt prüfen können.</p>
</li>
</ol>
</div>
</li>
<li>
<p><em><strong>Ich möchte von COMODO auf AlwaysOn umsteigen - was ist zu beachten?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Im Falle einer Bestellung von AlwaysOn bei einem bereits aktiven SSL-Zertifikat von COMODO (alias RapidSSL), wird das COMODO-Zertifikat durch das von AlwaysOn ersetzt.
Das "alte" Zertifikat wird jedoch nicht gelöscht, sondern auf inaktiv geschaltet.
Das <a href="https://forum.plentymarkets.com/c/core">plenty-Core-Team</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> kann das Zertifikat innerhalb des Gültigkeitszeitraums reaktivieren.
Es kann sein, dass die Domain für maximal eine Stunde als "nicht sicher" eingestuft wird, wenn das AlwaysOn-Zertifikat gerade erst bestellt wurde, da dies nach der Bestellung angefordert, generiert und installiert werden muss. Nachdem die Bestellung im Backend der Status "Abgeschlossen" erhalten hat muss der lokale Browser-Cache geleert werden, damit das zwischengespeicherte Zertifikat aktualisiert wird.</p>
</li>
</ol>
</div>
</li>
<li>
<p><em><strong>Der Status der Bestellung steckt fest bei "challengeSolved". Wie kann ich dieses Problem beheben?</strong></em></p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Prüfe, ob <a href="/business-entscheidungen/systemadministration/ssl-zertifikat_bestellen#300">alle genannten Voraussetzungen</a> zum erfolgreichen Bestellen eines SSL-Zertifikats erfüllt sind.
Wenn die Voraussetzungen alle erfüllt sind, aber der Status weiterhin in "challengeSolved" festhängt, wende dich an <a href="https://forum.plentymarkets.com/c/core">das plenty-Core-Team im Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div>
</div>
</main>