<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Entwicklungsstände des Versionszyklus</span></a></li>
<li><a href="#20"><span>2.</span><span> System auf früheren Entwicklungsstand umstellen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Entwicklungsstand ändern</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets wird als Software as a Service angeboten und ständig weiterentwickelt. Der Versionszyklus von plentymarkets umfasst die Entwicklungsstände <strong>Beta</strong>, <strong>Early</strong> und <strong>Stable</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Entwicklungsstände des Versionszyklus</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Standardmäßig wird dein System in der Version <strong>Stable</strong> bereitgestellt. Wenn du jedoch früher von Verbesserungen und neuen Features profitieren möchtest, hast du die Möglichkeit, dein System auf einen früheren Entwicklungsstand umzustellen. <a href="#tabelle-versionszyklus">Tabelle 1</a> zeigt die Entwicklungsstände des plentymarkets Versionszyklus.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Umstellung kann nicht rückgängig gemacht werden</div>
<div class="paragraph">
<p>Wir freuen uns, wenn du uns helfen möchtest, plentymarkets besser zu machen, indem du mit einem früheren Entwicklungsstand von plentymarkets arbeitest und uns Feedback zu möglichen Bugs und Verbesserungspotenzial gibst. Beachte jedoch, dass eine Umstellung auf einen früheren Entwicklungsstand nicht mehr rückgängig gemacht werden kann. Wäge daher die <a href="#tabelle-versionszyklus">Vorteile und Nachteile</a> der verschiedenen Entwicklungsstände sorgfältig ab, bevor du dein Systen auf einen früheren Entwicklungsstand umstellst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-versionszyklus" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Entwicklungsstände des plentymarkets Versionszyklus</caption>
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 50%;">
<col style="width: 16.6666%;">
<col style="width: 16.6668%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Stand</th>
<th class="tableblock halign-left valign-top">Beschreibung</th>
<th class="tableblock halign-left valign-top">Vorteile</th>
<th class="tableblock halign-left valign-top">Nachteile</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beta</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Entwicklungsteams überführen fertiggestellte Funktionen in die Version <strong>Beta</strong>. In dieser Version können die Funktionen getestet werden. Gemeldete Fehler werden behoben.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Besonders früher Zugang zu neuen Funktionen</p>
</li>
<li>
<p>Besonders hohes Maß an Gestaltungspotenzial und Einflussnahme</p>
</li>
<li>
<p>Möglichkeit, eigene Plugins frühzeitig zu testen</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Fehler können auftreten</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Early</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn in der Beta-Phase keine kritischen Mängel gefunden oder diese Mängel in der Beta-Phase korrigiert wurden, wird der Beta-Stand nach frühestens 7 Tagen in die Version <strong>Early</strong> überführt.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Früher Zugang zu neuen Funktionen</p>
</li>
<li>
<p>Schnellere Hilfe im Forum: Anfragen werden priorisiert bearbeitet</p>
</li>
<li>
<p>Hohes Maß an Gestaltungspotenzial und Einflussnahme</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Kann noch vereinzelte Fehler enthalten</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stable</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn während der Phase <strong>Early</strong> keine gravierenden Mängel mehr auffallen, wird der Zustand aus der Version <strong>Early</strong> nach frühestens 7 Tagen in die Version <strong>Stable</strong> überführt.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Stabilität</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Später Zugang zu neuen Features und Verbesserungen</p>
</li>
<li>
<p>Weniger Gestaltungspotenzial</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. System auf früheren Entwicklungsstand umstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie unten beschrieben vor, um das System auf einen früheren Entwicklungsstand von plentymarkets umzustellen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Umstellung kann nicht rückgängig gemacht werden</div>
<div class="paragraph">
<p>Eine Umstellung auf einen früheren Entwicklungsstand kann nicht mehr rückgängig gemacht werden kann. Wäge die <a href="#tabelle-versionszyklus">Vorteile und Nachteile</a> der verschiedenen Entwicklungsstände sorgfältig ab, bevor du dein Systen auf einen früheren Entwicklungsstand umstellst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>System auf andere Version des Versionszyklus stellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Mandant » Standardmandant » Version</strong>.<br>
<strong><em>Hinweis:</em></strong> Alle Mandanten haben dieselbe Version wie der Standardmandant. Das heißt, das gesamte Systems wird auf die gewählte Version umgestellt.<br>
→ Das Menü <strong>Version</strong> wird geöffnet.</p>
</li>
<li>
<p>Wähle in der Dropdown-Liste die Version, auf die du das System umstellen möchtest.<br>
<strong><em>Wichtig:</em></strong> Du kannst das System nur auf einen früheren Entwicklungsstand umstellen. Eine Umstellung auf einen späteren Entwicklungsstand ist nicht möglich.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellung.<br>
→ Das System wird auf den gewählten Entwicklungsstand umgestellt.<br>
<strong><em>Hinweis:</em></strong> Das Umstellen des Systems kann bis zu 30 Minuten dauern.</p>
</li>
</ol>
</div>
</div>
</div>
</main>