<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Setting up a document template for adjustment forms</span></a></li>
<li><a href="#200"><span>2.</span><span> Generating a single adjustment form</span></a></li>
<li><a href="#300"><span>3.</span><span> Generating multiple adjustment forms</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Adjustment form</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use an adjustment form when you need to correct an order. Imagine, for example, a customer ordered three items but you can only send him two of those items. You tell the customer and since he already paid for the three items, he wants a refund. What do you do? You create an order of the type <a href="/en/orders/managing-orders#500">credit note order</a>. Only after doing this you can create an adjustment form in this credit note order. You can either create a single adjustment form or generate multiple ones. Generate PDF files to print them or to send them to your customers as an email attachment.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Setting up a document template for adjustment forms</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before generating adjustment forms, you have to set up a document template. Go to <strong>Setup » Client » <em>Select client</em> » Locations » <em>Select location</em> » Documents » Adjustment form</strong> to set up the template.<br>
Further information and instructions on setting up the document template are available on the <a href="/en/orders/order-documents">Order documents</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Generating a single adjustment form</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Adjustment forms can only be generated in the order type <strong>Credit note order</strong>. To generate a single adjustment form for a specific credit note order, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Generating a single adjustment form:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.<br>
→ The order overview opens.</p>
</li>
<li>
<p>Use the filters to search (<span class="icon blue"><i class="fa fa-search  "></i></span>) for the credit note order for which you want to generate an adjustment form.</p>
</li>
<li>
<p>Open the required order.</p>
</li>
<li>
<p>Go to the <strong>Receipts</strong> tab.</p>
</li>
<li>
<p>Select the document <strong>Adjustment form</strong> from the <strong>Create receipt</strong> drop-down list.<br></p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-creating-adjustment-form">Table 1</a>.<br></p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings to generate the adjustment form.<br>
→ A <strong>PDF file</strong> of the just generate adjustment form opens.</p>
</li>
</ol>
</div>
<table id="table-creating-adjustment-form" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for adjustment forms in <strong>Create receipt</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a date to be displayed on the adjustment form. The present date is set by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The document number is assigned automatically. No entry is required in this field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status to status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose an order status to which the credit note order is to be changed after the adjustment form is generated. If you don’t want the order status to change, select <strong>No change</strong> .</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The text entered here is displayed below the order items. The entry of a text is optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Generating multiple adjustment forms</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you want to generate several adjustment forms at once, use the search filters in the <strong>Orders » Fulfilment</strong> menu to determine the orders for which adjustment forms are to be generated. In addition, you can determine whether a status change should take place after the adjustment forms have been generated.</p>
</div>
<div class="paragraph instruction">
<p>Generating multiple adjustment forms:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Fulfilment » Generate credit notes / adjustment forms.</strong></p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-settings-fulfillment-adjustment-forms">Table 2</a>.<br>
<em>Note</em> that the settings comprise <strong>Search filters</strong> as well as <strong>Procedures</strong>.</p>
</li>
<li>
<p>Click on the gear-wheel (<span class="icon "><i class="fa fa-cog  "></i></span>) to generate the adjustment forms.<br>
→ A PDF file containing the adjustment forms for the previously selected orders opens.</p>
</li>
</ol>
</div>
<table id="table-settings-fulfillment-adjustment-forms" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Options in the <strong>Generate credit notes / adjustment forms menu</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>*Document type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Adjustment forms</strong> from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the status of the credit note orders from the dropdown-list for which the adjustment forms are to be generated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the owner of the orders from the drop-down list for which the adjustment forms are to be be generated. Select <strong>ALL</strong> if adjustment forms should be generated for all owners.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a location from the drop down list for which the adjustment forms are to be generated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">From the drop-down list, select one of the warehouses or select the option ALL.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">From the drop down list, select a payment method or select the option <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sorting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the generated adjustment forms are sorted. The options <strong>Order ID</strong>, <strong>Customer ID</strong> and <strong>Item ID</strong> are available for different sorting methods.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine the maximum number of adjustment forms generated at once. The maximum is <strong>200</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong> (Procedure)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose an order status to which the credit note orders are to be changed after the adjustment forms are generated.<br>
The status change is an important tool to make sure that the process is not carried out twice for orders that have already been processed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The text entered here is displayed below the order items. The entry of a text is optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>