<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Setting up a document template for pick-up deliveries</span></a></li>
<li><a href="#200"><span>2.</span><span> Generating a single pick-up delivery document</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Pick-up delivery</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Goods are picked up? Use the document pick-up delivery, also called pick-up/delivery note, for this. You can generate this as a PDF file, for example to print it or to send it as an email attachment to your customers.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Setting up a document template for pick-up deliveries</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before generating the document pick-up delivery, you have to set up a document template. Go to <strong>Setup » Client » [Select client] » Locations » [Select location] » Documents » Pick-up/Delivery note</strong> to set up the template.<br>
Further information and instructions on setting up the document template are available on the <a href="/en/orders/order-documents">Order documents</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Generating a single pick-up delivery document</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can generate pick-up delivery documents manually for different order types. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Generating a single pick-up delivery document:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.<br>
→ The <strong>Order overview</strong> opens.</p>
</li>
<li>
<p>Use the filters to search (<span class="icon blue"><i class="fa fa-search  "></i></span>) for the order for which you want to generate a pick-up delivery document.</p>
</li>
<li>
<p>Open the required order.</p>
</li>
<li>
<p>Go to the <strong>Receipts</strong> tab.</p>
</li>
<li>
<p>Select the option <strong>Pick-up delivery</strong> from the <strong>Create receipt</strong> drop-down list.<br></p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-generate-pick-up-delivery-document">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings to generate the pick-up delivery document.<br>
→ A <strong>PDF file</strong> of the just generated pick-up delivery document opens.</p>
</li>
</ol>
</div>
<table id="table-generate-pick-up-delivery-document" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for pick-up delivery document in <strong>Create receipt</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a date to be displayed on the pick-up delivery document. The present date is set by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The document number is assigned automatically. No entry is required in this field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status to status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose an order status to which the order is changed after the pick-up delivery document is generated. If you don’t want the order status to change, select <strong>No change</strong> .</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The text entered here is displayed below the order items. The entry of a text is optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>