<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Setting up a document template for delivery notes</span></a></li>
<li><a href="#200"><span>2.</span><span> Generating a single delivery note</span></a></li>
<li><a href="#300"><span>3.</span><span> Generating multiple delivery notes</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Delivery notes</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, you can generate delivery notes, for example if you want to print them or import them into another software. For your customers, delivery notes are important documents for checking their incoming items.
Therefore, make sure that important data such as the order date, the list of items and the quantities are displayed correctly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Setting up a document template for delivery notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before generating delivery notes, you have to set up a document template. This is done in the menu <strong>Setup » Client » <em>Select client</em> » Locations » <em>Select location</em> » Documents » Delivery note</strong>.<br>
For further information and instructions on setting up the document template, refer to the <a href="/en/orders/order-documents">Order documents</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Generating a single delivery note</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, you can manually generate a single delivery note directly in the order.</p>
</div>
<div class="paragraph instruction">
<p>Generating a single delivery note:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.<br>
→ The order overview opens.</p>
</li>
<li>
<p>Use the filters to search (<span class="icon blue"><i class="fa fa-search  "></i></span>) for the order for which you want to generate a delivery note.</p>
</li>
<li>
<p>Open the required order.</p>
</li>
<li>
<p>Go to the <strong>Receipts</strong> tab.</p>
</li>
<li>
<p>Select the document <strong>Delivery note</strong> from the <strong>Create receipt</strong> drop-down list.<br></p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-orders-receipts-delivery-note">Table 1</a>.<br></p>
</li>
<li>
<p><strong>Save</strong> the settings to generate the delivery note.<br>
→ A <strong>PDF file</strong> containing the generated delivery note opens.</p>
</li>
</ol>
</div>
<table id="table-orders-receipts-delivery-note" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for delivery note in <strong>Create receipt</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a date to be displayed on the delivery note. The present date is set by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The document number is assigned automatically. No entry is required in this field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Book outgoing items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose whether outgoing items should be booked after generating the delivery note by selecting one of the options <strong>YES</strong> or <strong>NO</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>ALL</strong> if all items should be displayed on the delivery note, even if they are delivered from different warehouses. Select a particular warehouse from the list to display only items delivered from this warehouse on the delivery note.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status to status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose an order status to which the order is to be changed after the delivery note is created. If you don’t want the order status to change, select <strong>No change</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a text that is displayed below the item list on the delivery note. This step is optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Generating multiple delivery notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you wish to generate delivery notes for multiple orders at a time, use the search filter in the <strong>Orders » Fulfilment</strong> menu to determine the orders for which delivery notes should be generated. In addition, a status change can take place after the delivery notes have been generated.</p>
</div>
<div class="paragraph instruction">
<p>Generating delivery notes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Fulfillment » Generate delivery notes</strong>.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-settings-fulfilment-delivery-notes">Table 2</a>.<br>
<em>Note</em> that the settings comprise <strong>Search filters</strong> as well as <strong>Procedures</strong>.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>) to generate the delivery notes.<br>
→ A <strong>PDF file</strong> containing the delivery notes for the previously selected orders opens.</p>
</li>
</ol>
</div>
<table id="table-settings-fulfilment-delivery-notes" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Options for <strong>Generate delivery notes</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the status of the orders for which delivery notes are to be generated from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Printout</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine if delivery notes should only be generated for orders with a delivery address or for <strong>ALL</strong> orders.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Items shipped on</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a date from the calendar which should appear as the date of shipment on the delivery notes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the owner of the orders from the drop-down list for which the delivery notes are to be be generated. Select <strong>ALL</strong> if delivery notes are to be generated for all owners.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a location for which the delivery notes should be generated from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">From the drop-down list, select one of the warehouses or select the option ALL.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">From the drop-down list, select a payment method or select the option <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sorting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the generated delivery notes should be sorted. The options <strong>Invoice number</strong>, <strong>Order ID</strong>, <strong>Customer ID</strong> and <strong>Item ID</strong> are available for different sorting methods.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine the maximum number of delivery notes generated at a time. There is a maximum of <strong>200</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery note date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a date from the calendar which should be displayed as delivery note date on the delivery notes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose an order status to which the orders are to be changed after the delivery notes are created.<br>
The status change is an important tool to make sure that the process is not carried out twice for orders that have already been processed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a text that is later displayed below the item list on the delivery note. This step is optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>