<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#200"><span>1.</span><span> Setting up a document template for return slips</span></a></li>
<li><a href="#300"><span>2.</span><span> Generating a single return slip</span></a></li>
<li><a href="#600"><span>3.</span><span> Generating multiple return slips</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Return slips</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, you can generate return slips as PDF files, for example if you want to print them or send them to your customers as an email attachment.<br>
This way, customers can enclose the return slips to their shipments when returning or exchanging items.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">1. Setting up a document template for return slips</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before generating return slips, you have to set up a document template. This is done in the menu <strong>Setup » Client » Select client » Locations » Select location » Documents » Return slip</strong>.<br>
For further information and instructions on setting up the document template, refer to the <a href="/en/orders/order-documents">Order documents</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">2. Generating a single return slip</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In some cases, it makes sense to manually generate return slip for particular orders. This is done in the order overview for original main orders and return orders alike.</p>
</div>
<div class="paragraph">
<p>In plentymarkets, you can manually generate a single return slip for an order. The generated return slip then lists all items contained in the order. Use this method to add a blank return slip to every order shipped to your customers. For further information about this method, refer to the <strong><a href="/en/orders/managing-orders#450">Creating a return slip</a></strong> chapter of the manual.</p>
</div>
<div class="paragraph instruction">
<p>Generating a single return slip:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.<br>
→ The order overview opens.</p>
</li>
<li>
<p>Use the filters to search (<span class="icon blue"><i class="fa fa-search  "></i></span>) for the order for which you want to generate a return slip.</p>
</li>
<li>
<p>Open the required order.</p>
</li>
<li>
<p>Go to the <strong>Receipts</strong> tab.</p>
</li>
<li>
<p>Select the document <strong>Return slip</strong> from the <strong>Create receipt</strong> drop-down list.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-orders-receipts-return-slip">Table 1</a>.<br></p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings to generate the return slip.<br>
→ A <strong>PDF file</strong> containing the generated return slip opens.</p>
</li>
</ol>
</div>
<table id="table-orders-receipts-return-slip" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for return slips in <strong>Create receipt</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the date that is displayed on the return slip. The present date is set by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The document number is assigned automatically. No entry is required in this field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status to status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose an order status to which the repair order is to be changed after the return slip is created. Choose the option <strong>No change</strong> if a status change is not desired.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a text that is displayed below the item list on the return slip. This step is optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="600">3. Generating multiple return slips</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you wish to generate return slips for multiple orders at a time, use the search filter in the <strong>Orders » Fulfilment</strong> menu to determine the orders for which return slips should be generated. In addition, a status change can take place for the order after the return slips have been generated.</p>
</div>
<div class="paragraph instruction">
<p>Generating multiple return slips:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Fulfilment » Generate return slips</strong>.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-settings-fulfillment-return-slip">Table 2</a>.<br>
<em>Note</em> that the settings comprise <strong>Search filters</strong> as well as <strong>Procedures</strong>.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>) to generate the return slips.<br>
→ A <strong>PDF file</strong> containing the return slips for the previously selected orders opens.</p>
</li>
</ol>
</div>
<table id="table-settings-fulfillment-return-slip" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Options in the <strong>Generate return slips</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the status of the orders from the dropdown-list for which return slips should be generated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the owner of the orders from the dropdown-list for which the return slips should be generated. Select <strong>ALL</strong> if return slips should be generated for all owners.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a location from the dropdown-list for which the return slips should be generated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">From the dropdown-list, select one of the warehouses or select the option ALL.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">From the dropdown-list, select a payment method or select the option <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sorting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the generated return slips should be sorted. The options <strong>Order ID</strong>, <strong>Customer ID</strong> and <strong>Item ID</strong> are available for different sorting methods.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine the maximum number of return slips generated at a time. There is a maximum of <strong>200</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose an order status to which the orders are to be changed after the return slips are generated.<br>
The status change is an important tool to make sure that the process is not carried out twice for orders that have already been handled.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a text that is displayed below the item list on all return slips. This step is optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>