<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Setting up a document template for repair slips</span></a></li>
<li><a href="#200"><span>2.</span><span> Generatung a single repair slip</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Repair slip</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Repair slips are used together with the <a href="/en/orders/managing-orders#700">order type repair</a>. Thus, repairs and repair slips are always linked to returned items which are in need of repair. This is why repair slips can only be created for an repair order.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Setting up a document template for repair slips</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before generating repair slips, you have to set up a document template. Go to <strong>Setup » Client » [Select client] » Locations » [Select location] » Documents » Repair slip</strong> to set up the template.<br>
Further information and instructions on setting up the document template are available on the <a href="/en/orders/order-documents">Order documents</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Generatung a single repair slip</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Repair slips can only be created for repair orders. To generate a single repair slip for a specific repair order, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Generating a single repair slip:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.<br>
→ The order overview opens.</p>
</li>
<li>
<p>Use the filters to search (<span class="icon blue"><i class="fa fa-search  "></i></span>) for the repair order for which you want to generate a repair slip.</p>
</li>
<li>
<p>Open the required repair order.</p>
</li>
<li>
<p>Go to the <strong>Receipts</strong> tab.</p>
</li>
<li>
<p>Select the document <strong>Repair slip</strong> from the <strong>Create receipt</strong> drop-down list.<br></p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-generate-repair-slip">Table 1</a>.<br></p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings to generate the repair slip.<br>
→ A <strong>PDF file</strong> of the just generate repair slip opens.</p>
</li>
</ol>
</div>
<table id="table-generate-repair-slip" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for repair slips in <strong>Create receipt</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the date that is displayed on the repair slip. The present date is set by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The document number is assigned automatically. No entry is required in this field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status to status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose an order status to which the repair order is to be changed after the repair slip is created. If you don’t want the order status to change, select <strong>No change</strong> .</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The text entered here is displayed below the order items. The entry of a text is optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>