<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Setting up a document template for invoices</span></a></li>
<li><a href="#200"><span>2.</span><span> Generating a single invoice</span></a></li>
<li><a href="#300"><span>3.</span><span> Generating multiple invoices</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Invoices</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, you can generate invoices as PDf files, for example if you want to print them or send them to your customers as an email attachment.<br>
Depending on the country of delivery and the location of your business, invoices are subject to different legal requirements. Familiarise yourself with these requirements and make sure that all required invoice data is displayed on your invoice.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Setting up a document template for invoices</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before generating invoices, you have to set up a document template. Go to <strong>Setup » Client » [Select client] » Locations » [Select location] » Documents » Invoice</strong> to set up these documents.<br>
Further information and instructions on setting up the document template are available on the <a href="/en/orders/order-documents">Order documents</a> page of the manual.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Displaying Payment due and early payment discount on the invoice</div>
<div class="paragraph">
<p>In order for the payment terms (value date, payment due and early payment discount) to be displayed on invoices, they have to be activated when setting up the <a href="/en/orders/order-documents#intable-payment-terms-documents">document template</a> for invoices.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Generating a single invoice</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, you can manually generate a single invoice for an order in the <strong>Edit orders</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Generating a single invoice:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.<br>
→ The order overview opens.</p>
</li>
<li>
<p>Use the filters to search (<span class="icon blue"><i class="fa fa-search  "></i></span>) for the order for which you want to generate an invoice.</p>
</li>
<li>
<p>Open the required order.</p>
</li>
<li>
<p>Go to the <strong>Receipts</strong> tab.</p>
</li>
<li>
<p>Select the document <strong>Invoice</strong> from the <strong>Create receipt</strong> drop-down list.<br></p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-orders-receipts-invoice">Table 1</a>.<br></p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings to generate the invoice.<br>
→ A <strong>PDF file</strong> of the just generated invoice opens.</p>
</li>
</ol>
</div>
<table id="table-orders-receipts-invoice" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for invoices in Create receipt menu.</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a date to be displayed on the invoice. The present date is set by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Book outgoing items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select by choosing <strong>YES</strong> or <strong>NO</strong> whether outgoing items should be booked when the invoice is created.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status to status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose an order status to which the order is to be changed after the invoice is created. If you don’t want the order status to change, select <strong>No change</strong> .</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The text entered here is displayed below the order items. The entry of a text is optional.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Locked orders</div>
<div class="paragraph">
<p>After an invoice is created, the corresponding order is automatically locked. This means that editing options are limited, for example no order items can be added any more. If required you can create a <a href="/en/orders/managing-orders#1670">reversal document</a> for the invoice.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Generating multiple invoices</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you want to generate several invoices at once, use the search filters in the <strong>Orders » Fulfilment</strong> menu to determine the orders for which invoices are to be generated. In addition, you can determine whether a status change should take place after the invoices have been generated.</p>
</div>
<div class="paragraph instruction">
<p>Generating multiple invoices:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Fulfillment » Generate invoices</strong>.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-settings-fulfillment-invoices">Table 2</a>.<br>
<em>Note</em> that the settings comprise <strong>Search filters</strong> as well as <strong>Procedures</strong>.</p>
</li>
<li>
<p>Click on the gear-wheel (<span class="icon "><i class="fa fa-cog  "></i></span>) to generate the invoices.<br>
→ A PDF file containing the invoices for the previously selected orders opens.</p>
</li>
</ol>
</div>
<table id="table-settings-fulfillment-invoices" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Options for <strong>Generating invoices</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the status of the orders for which invoices are to be generated from the drop-down list.<br>
<em>Note</em>: If you search for orders with the status <strong>Outgoing items booked</strong> (status 7), all orders for which the outgoing items were booked today, on the current date, are filtered in the background. The hint <strong>Outgoing items: TODAY</strong> is displayed to clarify this.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the owner of the orders from the drop-down list for which the invoices are to be be generated. Select <strong>ALL</strong> if invoices are to be generated for all owners.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a location from the drop-down list for which the invoices should be generated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">From the drop-down list, select one of the warehouses or select the option ALL.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the customer class of the orders from the drop-down list for which the invoices are to be be generated. Select <strong>ALL</strong> if invoices are to be generated for all customer classes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">From the drop down list, select a payment method or select the option <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sorting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the generated invoices are sorted. The options <strong>Order ID</strong>, <strong>Customer ID</strong> and <strong>Item ID</strong> are available for different sorting methods.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine the maximum number of invoices generated at once. The maximum is <strong>200</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Invoice date</strong> (Procedure)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a date from the calendar which is to appear as the invoice date on the invoices.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong> (Procedure)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose an order status to which the orders are to be changed after the invoices are created.<br>
The status change is an important tool to make sure that the process is not carried out twice for orders that have already been processed.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>