<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Setting up a document template for order confirmations</span></a></li>
<li><a href="#200"><span>2.</span><span> Generating a single order confirmation</span></a></li>
<li><a href="#300"><span>3.</span><span> Automating generating and sending order confirmations</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Order confirmation</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Send order confirmations for incoming orders to your customers. In plentymarkets, you can generate order confirmations as PDF files, for example if you want to print them or send them to your customers as an email attachment.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Setting up a document template for order confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before generating order confirmations, you have to set up a document template. Go to <strong>Setup » Client » <em>Select client</em> » Locations » <em>Select location</em> » Documents » Order confirmation</strong> to set up the template.<br>
Further information and instructions on setting up the document template are available on the <a href="/en/orders/order-documents">Order documents</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Generating a single order confirmation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can generate order confirmations directly in an order. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Generating a single order confirmation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.<br>
→ The <strong>Order overview</strong> opens.</p>
</li>
<li>
<p>Use the filters to search (<span class="icon blue"><i class="fa fa-search  "></i></span>) for the order for which you want to generate an order confirmation.</p>
</li>
<li>
<p>Open the required order.</p>
</li>
<li>
<p>Go to the <strong>Receipts</strong> tab.</p>
</li>
<li>
<p>Select the document <strong>Order confirmation</strong> from the <strong>Create receipt</strong> drop-down list.<br></p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-generate-order-confirmation">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings to generate the order confirmation.<br>
→ A <strong>PDF file</strong> of the just generated order confirmation opens.</p>
</li>
</ol>
</div>
<table id="table-generate-order-confirmation" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for order confirmations in <strong>Create receipt</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a date to be displayed on the order confirmation. The present date is set by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The document number is assigned automatically. No entry is required in this field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Value date/payment due/early payment discount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select by choosing <strong>YES</strong> or <strong>NO</strong> whether value date, payment due or early payment discount are displayed on the order confirmation.<br>
<strong>Note</strong>: In order for these information to be displayed correctly on the order confirmation, they have to be deposited for the corresponding customer in the <strong>Account</strong> area in the <strong>CRM » Contacts</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment due</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If this information is not already deposited in the customer data, enter a number of days in this field to define the payment due date which is displayed on the order confirmation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Early payment discount from X % if paid within X days</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If this information is not already deposited in the customer data, enter a percentage and a number of days in these fields to define the early payment discount conditions.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Book outgoing items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select by choosing <strong>YES</strong> or <strong>NO</strong> whether outgoing items should be booked when the order confirmation is generated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status to status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose an order status to which the order is to be changed after the order confirmation is generated. If you don’t want the order status to change, select <strong>No change</strong> .</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The text entered here is displayed below the order items. The entry of a text is optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Automating generating and sending order confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can set up event procedures to automate generating and sending order confirmations. This way, you don’t have to have an eye on incoming orders at all times and don’t have to generate each order confirmation manually. Instead you can create an easier workflow by automating these events. As a first step, set up an event procedure for generating the document. Then, set up a second event procedure to send the generated order confirmation to your customers. To do so, proceed as follows.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in <a href="#table-event-procedure-generate-order-confirmation">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out further settings as described in <a href="#table-event-procedure-generate-order-confirmation">Table 2</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-generate-order-confirmation" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Setting up the event procedure <strong>Generate order confirmation</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation » New order</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Documents » Generate order confirmation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If needed, activate the options <strong>Payment due</strong> or Early payment discount or enter a Comment that will be displayed blow the order items on the generated invoice.<br></p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>If you want to send the order confirmation to your customers as a PDF attachment in an email directly after the generation, we recommend the event procedure described in <a href="#table-event-procedure-send-order-confirmation">Table 3</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct name for the event procedure.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in <a href="#table-event-procedure-send-order-confirmation">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out further settings as described in <a href="#table-event-procedure-send-order-confirmation">Table 3</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-send-order-confirmation" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Setting up the event procedure <strong>Send order confirmation</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Documents » Order confirmation generated</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer &gt; Send email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) to add the corresponding email template for sending the order confirmation for the selection <strong>Customer</strong> (e.g. "Send order confirmation as PDF").</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">You don’t see the corresponding email template?</div>
<div class="paragraph">
<p>You don’t see the corresponding email template for the event procedure "Send order confirmation"? That’s probably because you haven’t created it yet. You can do this in the <strong>Setup » Client » <em>Select client</em> » Email » Templates menu</strong>. Click on <strong>New email template</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) and create the template according to your requirements. The name you enter here for the email template is then displayed in the event procedures. For further information about setting up email templates, refer to the <a href="/en/crm/sending-emails#1200">Sending emails</a> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>