<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Setting up a document template for dunning letters</span></a></li>
<li><a href="#200"><span>2.</span><span> Generating a single dunning letter</span></a></li>
<li><a href="#300"><span>3.</span><span> Generating multiple dunning letters</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Dunning letters</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, you can generate dunning letters as PDF files, for example if you want to print them or send them to your customers as an email attachment.<br>
You can use dunning letters to remind your customers of outstanding payments after the payment period has expired.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Setting up a document template for dunning letters</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before generating dunning letters, you have to set up a document template. This is done in the menu <strong>System » System settings » Client » Select client » Locations » Select location » Documents</strong>.<br>
For further information and instructions on setting up the document template, refer to the <a href="/en/orders/order-documents">Order documents</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Generating a single dunning letter</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, you can manually generate a single dunning letter directly in the order.</p>
</div>
<div class="paragraph instruction">
<p>Generating a single dunning letter:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.<br>
→ The order overview opens.</p>
</li>
<li>
<p>Select the order for which a dunning letter should be created by clicking on the <strong>Order ID</strong>.<br></p>
</li>
<li>
<p>Open the <strong>Receipts</strong> tab.<br></p>
</li>
<li>
<p>In the <strong>Create receipt</strong> drop-down menu, select the document <strong>Dunning letter</strong>.<br></p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-orders-receipts-dunning-letter">Table 1</a>.<br></p>
</li>
<li>
<p><strong>Save</strong> the settings to generate the dunning letter.<br>
→ A <strong>PDF file</strong> containing the generated dunning letter opens.</p>
</li>
</ol>
</div>
<table id="table-orders-receipts-dunning-letter" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Options in the <strong>Create receipt</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Set the date of the dunning letter. The present date is set by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The document number is assigned automatically. No entry is required in this field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Book outgoing items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose whether outgoing items should be booked after generating the dunning letter by selecting one of the options <strong>YES</strong> or <strong>NO</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status to status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status that should be applied to the order after generating the dunning letter. Choose the option <strong>No change</strong> if a status change is not desired.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adding a <strong>Dunning charge</strong> requires creating a corresponding item including an item price. This item is then included as a separate entry on the dunning letter and displays the dunning charge. After having created this item, enter the ID of the main variation in this field. This variation is automatically added to all generated dunning letters.<br>
For further information about creating items, refer to the <a href="/en/item/managing-items#20">Managing items</a> page of the manual.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a text that is displayed below the item list on the dunning letter. This step is optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Generating multiple dunning letters</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you wish to generate multiple dunning letters at a time, use the search filter in the <strong>Orders » Fulfilment</strong> menu to determine the orders for which dunning letters should be generated. In addition, a status change can take place after the dunning letters have been generated.</p>
</div>
<div class="paragraph instruction">
<p>Generating multiple dunning letters:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Fulfilment » Generate dunning letters</strong>.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-settings-fulfilment-dunning-letters">Table 2</a>.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong> to generate the dunning letters.<br>
→ A <strong>PDF file</strong> containing the dunning letters for the previously selected orders opens.</p>
</li>
</ol>
</div>
<table id="table-settings-fulfilment-dunning-letters" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Options in the <strong>Generate dunning letters</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limit the orders for which dunning letters are generated by selecting a start and end date from the calendar. The orders from the chosen period of time are found.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">From the list, select the status of the orders for which dunning letters should be generated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a country to which the search should be limited or select the option <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the owner responsible for the orders for which the dunning letters should be generated. Select <strong>ALL</strong> if dunning letters should be generated for all owners.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a location for which the dunning letters should be generated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the warehouses or the option <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a payment method or <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sorting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the generated dunning letters should be sorted. The options <strong>Order ID</strong> and <strong>Customer ID</strong> are available for different sorting methods.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status that should be applied to the orders after generating the dunning letters.<br>
The status change is an important tool to make sure that the process is not carried out twice for orders that have already been handled.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adding a <strong>Dunning charge</strong> requires creating a corresponding item including an item price. This item is then included as a separate entry on the dunning letter and displays the dunning charge. After having created this item, enter the ID of the main variation in this field. This variation is automatically added to all generated dunning letters.<br>
For further information about creating items, refer to the <a href="/en/item/managing-items#20">Managing items</a> page of the manual.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a text that is displayed below the item list on all dunning letters. This step is optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>