<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Setting up a document template for dunning letters</span></a></li>
<li><a href="#200"><span>2.</span><span> Generating a single dunning letter</span></a></li>
<li><a href="#300"><span>3.</span><span> Generating multiple dunning letters</span></a></li>
<li><a href="#400"><span>4.</span><span> Creating reversal dunning letters</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Dunning letters</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, you can generate dunning letters as PDF files, for example if you want to print them or send them to your customers as an email attachment.<br>
You can use dunning letters to remind your customers of outstanding payments after the payment period has expired. Dunning letters can only be created when an invoice already exists since these document types are interdependent. That is also why an invoice can only be reversed if preexisting dunning letters are reversed first. Use the document type <a href="/en/orders/order-documents/generating-dunning-letters#400">reversal dunning letter</a> for this.<br>
Available are 4 dunning levels. Thus, you can remind customers several times of the outstanding payments with a new dunning letter with distinct dunning charges for each level. Set up dunning charges for each dunning level by creating corresponding variation IDs. After this you can enter the variation ID when you are creating the document, as described in <a href="#table-orders-receipts-dunning-letter">Table 1</a>.<br>
These functions follow fiscal statutes and are in place to help you working according to GoBD (German taxation directive) regulations.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Setting up a document template for dunning letters</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before generating dunning letters, you have to set up a document template. This is done in the menu <strong>Setup » Client » [Select client] » Locations » [Select location] » Documents » Dunning letter</strong>.<br>
For further information and instructions on setting up the document template, refer to the <a href="/en/orders/order-documents">Order documents</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Generating a single dunning letter</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In plentymarkets, you can manually generate a single dunning letter directly in the order.</p>
</div>
<div class="paragraph instruction">
<p>Generating a single dunning letter:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.<br>
→ The order overview opens.</p>
</li>
<li>
<p>Use the filters to search (<span class="icon blue"><i class="fa fa-search  "></i></span>) for the order for which you want to generate a dunning letter.</p>
</li>
<li>
<p>Open the required order.</p>
</li>
<li>
<p>Go to the <strong>Receipts</strong> tab.</p>
</li>
<li>
<p>Select the document <strong>Dunning letter</strong> from the <strong>Create receipt</strong> drop-down list.<br></p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-orders-receipts-dunning-letter">Table 1</a>.<br></p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings to generate the dunning letter.<br>
→ A <strong>PDF file</strong> containing the generated dunning letter opens.</p>
</li>
</ol>
</div>
<table id="table-orders-receipts-dunning-letter" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for dunning letters in <strong>Create receipt</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a date to be displayed on the dunning letter. The present date is set by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The document number is assigned automatically by the number range. Therefore, no manual entry is required in this field. <strong>Warning</strong>: If you manually change the number, errors in the number range will occur.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status to status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status that should be applied to the order after generating the dunning letter. Choose the option <strong>No change</strong> if you don’t want to change the status.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-dunning-charge">Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adding a <strong>Dunning charge</strong> requires creating a corresponding item including an item price. This item is then included as a separate entry on the dunning letter and displays the dunning charge. After having created this item, enter the ID of the main variation in this field. This variation is automatically added to all generated dunning letters.<br>
For further information about creating items, refer to the <a href="/en/item/managing-items#20">Managing items</a> page of the manual.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a text that is displayed below the item list on the dunning letter. This step is optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Generating multiple dunning letters</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you wish to generate multiple dunning letters at once, use the search filter in the <strong>Orders » Fulfillment</strong> menu to determine the orders for which dunning letters should be generated. In addition, a status change can take place after the dunning letters have been generated.</p>
</div>
<div class="paragraph instruction">
<p>Generating multiple dunning letters:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Fulfilment » Generate dunning letters</strong>.</p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-settings-fulfilment-dunning-letters">Table 2</a>.<br>
<em>Note</em> that the settings comprise <strong>Search filters</strong> as well as <strong>Procedures</strong>.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>) to generate the dunning letters.<br>
→ A <strong>PDF file</strong> containing the dunning letters for the previously selected orders opens.</p>
</li>
</ol>
</div>
<table id="table-settings-fulfilment-dunning-letters" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Options in the <strong>Generate dunning letters</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limit the orders for which dunning letters are generated by selecting a start and end date from the calendar. The orders from the chosen period of time are found.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">From the dropdown-list, select the status of the orders for which dunning letters should be generated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a country to which the search should be limited or select the option <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Owner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the owner of the orders from the dropdown-list for which the dunning letters should be generated. Select <strong>ALL</strong> if entry certificates should be generated for all owners.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Location</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a location from the dropdown-list for which the dunning letters should be generated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">From the dropdown-list, select one of the warehouses or select the option ALL.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">From the dropdown-list, select a payment method or select the option <strong>ALL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sorting</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Determine how the generated dunning letters should be sorted. The options <strong>Order ID</strong> and <strong>Customer ID</strong> are available for different sorting methods.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose an order status to which the orders are to be changed after the dunning letters are generated.<br>
The status change is an important tool to make sure that the process is not carried out twice for orders that have already been handled.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Adding a <strong>Dunning charge</strong> requires creating a corresponding item including an item price. This item is then included as a separate entry on the dunning letter and displays the dunning charge. After having created this item, enter the ID of the main variation in this field. This variation is automatically added to all generated dunning letters.<br>
For further information about creating items, refer to the <a href="/en/item/managing-items#20">Managing items</a> page of the manual.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a text that is displayed below the item list on all dunning letters. This step is optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. Creating reversal dunning letters</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A <strong>reversal dunning letter</strong> is used to reverse a dunning letter. You need this for example when you need to reverse an invoice and a dunning letter already exists. In this case, the dunning letter has to be reversed before the invoice can be reversed as well.<br></p>
</div>
<div class="paragraph">
<p>As with other document types, you first need to set up a document template. This is done in the menu <strong>Setup » Client » Select client » Locations » Select location » Documents »Reversal dunning letter</strong>.<br>
For further information and instructions on setting up the document template, refer to the <a href="/en/orders/order-documents">Order documents</a> page of the manual.</p>
</div>
<div class="paragraph">
<p>After setting up the document template, reversal dunning letters can be created directly within an order. To do this, proceed as described below:</p>
</div>
<div class="paragraph instruction">
<p>Creating a reversal dunning letter:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.<br>
→ The order overview opens.</p>
</li>
<li>
<p>Use the filters to search (<span class="icon blue"><i class="fa fa-search  "></i></span>) for the order for which you want to generate a reversal dunning letter.</p>
</li>
<li>
<p>Open the required order.</p>
</li>
<li>
<p>Go to the <strong>Receipts</strong> tab.</p>
</li>
<li>
<p>Select the document <strong>Reversal dunning letter</strong> from the <strong>Create receipt</strong> drop-down list.<br></p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-orders-receipts-reversal-dunning-letter">Table 3</a>.<br></p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings to generate the reversal dunning letter.<br>
→ A <strong>PDF file</strong> containing the generated dunning letter opens.</p>
</li>
</ol>
</div>
<table id="table-orders-receipts-reversal-dunning-letter" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Settings for reversal dunning letters in <strong>Create receipt</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a date to be displayed on the reversal dunning letter. The present date is set by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The document number is assigned automatically. No entry is required in this field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Book outgoing items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose whether outgoing items should be booked after generating the reversal dunning letter by selecting one of the options <strong>YES</strong> or <strong>NO</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status to status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a status that should be applied to the order after generating the reversal dunning letter. Choose the option <strong>No change</strong> if you don’t want to change the status.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a text that is displayed below the item list on the reversal dunning letter. This step is optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>