<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Setting up a document template for offers</span></a></li>
<li><a href="#200"><span>2.</span><span> Generating a single offer document</span></a></li>
<li><a href="#300"><span>3.</span><span> Automating sending offers documents</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Offers</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>You can create individual offers for your customers and send it to them. Use the document <strong>Offer</strong> for this, which you can generate as a PDF file, for example if you want to print it or send it to your customers as an email attachment.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Setting up a document template for offers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Before generating offers, you have to set up a document template. Go to <strong>Setup » Client » [Select client] » Locations » [Select location] » Documents » Offer</strong> to set up the template.<br>
Further information and instructions on setting up the document template are available on the <a href="/en/orders/order-documents">Order documents</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Generating a single offer document</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Since offers are created individually for a customer, the offer documents are linked to the corresponding offer. This also means that the offer document can only be generated for the order type offer. Therefore, if you want to generate a PDF file for an offer, for example, you have to create the order type offer first. You generate the corresponding document as described below.</p>
</div>
<div class="paragraph instruction">
<p>Generating an offer (document) manually:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.<br>
→ The <strong>Order overview</strong> opens.</p>
</li>
<li>
<p>Use the filters to search (<span class="icon blue"><i class="fa fa-search  "></i></span>) for the order type offer for which you want to generate the document. To do this, select <strong>Offer</strong> from the dropdown-list of the search filter <strong>Type</strong>. Adjust more filters to limit the search results, if needed.</p>
</li>
<li>
<p>Open the required offer.</p>
</li>
<li>
<p>Go to the <strong>Receipts tab</strong>.</p>
</li>
<li>
<p>Select the option <strong>Offer</strong> from the <strong>Create receipt</strong> drop-down list.<br></p>
</li>
<li>
<p>Carry out the settings according to <a href="#table-generate-offer-document">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings to generate the offer document.<br>
→ A <strong>PDF file</strong> of the just generated offer document opens.</p>
</li>
</ol>
</div>
<table id="table-generate-offer-document" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for the offer document in the <strong>Create receipt</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a date to be displayed on the offer. The present date is set by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The document number is assigned automatically. No entry is required in this field.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Book outgoing items</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select by choosing <strong>YES</strong> or <strong>NO</strong> whether outgoing items should be booked when the offer document is generated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status to status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose an order status to which the order is to be changed after the offer document is generated. If you don’t want the order status to change, select <strong>No change</strong> .</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Comment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The text entered here is displayed below the order items. The entry of a text is optional.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Automating sending offers documents</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You created individual offers for customers, generated the corresponding documents and want to send them to your customers now? You can automate this step by setting up the matching event procedure. To send the offer document as an email attachment, we recommend the event procedure described in <a href="#table-event-procedure-sending-offer-document">Table 2</a>. Proceed as follows to set up the event procedure.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ The <strong>Create new event procedure</strong> window opens.</p>
</li>
<li>
<p>Enter a distinct <strong>Name</strong> for the event procedure.</p>
</li>
<li>
<p>Select the <strong>Event</strong> according to <a href="#table-event-procedure-sending-offer-document">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Carry out the further settings according to <a href="#table-event-procedure-sending-offer-document">Table 2</a>.</p>
</li>
<li>
<p>Activate the option <strong>Active</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br></p>
</li>
</ol>
</div>
</div>
</div>
<table id="table-event-procedure-sending-offer-document" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Setting up event procedure “Sending offer document as PDF”</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Documents &gt; Offer generated</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offer</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer &gt; Send email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) to add the corresponding email template for sending the offer document for the selection <strong>Customer</strong> (e.g. "Send offer as PDF").</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">You don’t see the corresponding email template?</div>
<div class="paragraph">
<p>You don’t see the corresponding email template for the event procedure "Send offer as PDF"? That’s probably because you haven’t created it yet. You can do this in the <strong>Setup » Client » <em>Select client</em> » Email » Templates</strong> menu. Click on <strong>New email template</strong> (icon:plus-square[role="green") and create the template according to your requirements. The name you enter here for the email template is then displayed in the event procedures. For further information about setting up email templates, refer to the <a href="/en/crm/sending-emails#1200">Sending emails</a> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>