<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Taking a glance at your order settings</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentymarkets comes pre-configured and ready to start processing orders the first time you log in. Nonetheless, it’s worthwhile taking a glance at the default order settings and making sure they match your fulfillment plans.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/order-processing/configuring-settings/order-settings-statuses#video">Order statuses (0:38)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/configuring-settings/order-settings-shipping-profiles#video">Shipping profiles (1:19)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/configuring-settings/order-settings-payment#video">Payment methods (1:52)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/configuring-settings/order-settings-documents#video">Documents (2:23)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/configuring-settings/order-settings-e-mail-templates#video">E-Mail templates (3:01)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/218785852#at=112" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Imagine it’s your first day at a new job. Years of vocational training have prepared you for the task at hand. But before heading out the door, you’ll still want to check a few little details in the mirror.
Just like a new employee arrives at work with vocational training and qualifications for the job, plentymarkets comes pre-configured and ready to start processing orders the first time you log in.
But just like every employee is still well-advised to check their outfit in the mirror you’ll also want to check the default order settings in plentymarkets and make sure they don’t clash with your fulfillment plans.
Here in this menu, you’ll find a wide range of settings, which can be customized to meet your needs.</p>
</div>
<div class="paragraph">
<p>Let’s start by looking at order statuses. In plentymarkets, every order is always in a specific status, which indicates which stage of the fulfillment process it’s currently going through. The order moves from one status to the next whenever key events occur.</p>
</div>
<div class="paragraph">
<p>For example, status 3 means that this order is still waiting for payment whereas status 5 means that the customer’s finished their part, and you’re ready to start packaging the item.
Once you’ve shipped the package, status 7 means that you’re finished processing the order. Feel free to add additional statuses as needed and thus replicate your own fulfillment process.</p>
</div>
<div class="paragraph">
<p>Alright, the outfit is starting to come together. But there are still a few more details that will really polish off the look. Next, let’s focus on how you’ll ship your items to customers.
In plentymarkets, shipping conditions are saved within so-called "shipping profiles". Your system already comes equipped with a default shipping profile. So just open it up and make sure the settings meet your needs.
In particular, make sure to look at the shipping costs that are saved here and adjust them as necessary. Or if you would rather use completely different shipping settings altogether, then go ahead and create a new profile.</p>
</div>
<div class="paragraph">
<p>Getting better, but it’s still not quite the right look. Next up - payment! You can choose from a wide range of national and international payment methods. Just decide which ones you’d like to allow in your store and configure the settings as needed. Some payment methods rely on service providers. PayPal is one of the most well-known examples. In these cases you’ll also need to configure the interface to the provider.
Either way, simply activate the payment method when you’re finished.</p>
</div>
<div class="paragraph">
<p>The idea is really coming together now. Just a few more finishing touches. Back in plentymarkets. Let’s venture out beyond the "Orders" menu and look at the last settings you’ll want to check in your system.
First up, let’s look at the documents that you’ll send to customers along with their orders. All you need to do here is enter text into whichever fields should appear on the document and use XY coordinates to position these elements on the page.
Then upload a PDF template with your company’s letterhead, to give your documents a personal touch. When you’re finished, click on the preview icon to see the results.</p>
</div>
<div class="paragraph">
<p>The outfit is almost perfect. Time for the last detail that brings the whole look together. Now that you’ve created invoices, you’ll want to spend some time thinking about how they should be sent to customers.
For example, you may want to attach invoices to the end of an e-mail. Simply open the e-mail templates menu and find the template that you’d like to use.
Just make sure that you’ve selected the invoice as the PDF attachment. And that you’ve customized the e-mail text as needed.</p>
</div>
<div class="paragraph">
<p>Looking sharp! Now you can get to work knowing you’ll make a great first impression. Or if any of that was a bit too fast for you, just check out the rest of our video tutorials, which break down topics like shipping and payment into even smaller pieces and walk you through every step of the process.
We hope you’ll have a great first day!</p>
</div>
</div>
</div>
</main>