<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Using statuses to keep track of orders</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Order statuses tell you what’s going on with each of your orders at a glance. See how statuses dynamically change when specific events occur and learn how to add additional statuses in your system.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/order-processing/configuring-settings/order-statuses-information#video">Reading order information at a glance (0:35)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/configuring-settings/order-statuses-changing-statuses#video">Adding or modifying statuses (2:07)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/214844926" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Welcome back to our factory tour! Did you know that we receive an average of 162 orders per day? And how - you might ask - do we keep track of it all?
Well, let me introduce you to Brian. It’s his job to remember everything! Which items were bought when, who they’ll be shipped to, which customers have already paid. You get the idea. Now quiet please, don’t be too loud. Brian’s a little stressed out because he’s got a lot to remember.</p>
</div>
<div class="paragraph">
<p>No need to panic! plentymarkets gives you a better way to keep track of your business and know when specific orders need your attention. All of your real-life fulfillment tasks are represented visually in your plentymarkets system.
You can find an overview of your orders by clicking on this menu here.</p>
</div>
<div class="paragraph">
<p>And without even looking at the order settings in detail, you can already recognize what’s going on with each order at a glance. How? With the help of order statuses! The basic idea is simple - every order is always in a specific status, which indicates which stage of the fulfillment process it’s currently going through. The order moves from one status to the next whenever key events occur.</p>
</div>
<div class="paragraph">
<p>For example, status 3 means that this order is still waiting for payment whereas status 5 means that the customer’s finished their part, and you’re ready to start packaging the item.
Once you’ve shipped the package, status 7 means that you’re finished processing the order. But don’t get the wrong idea - this is much more than just a static overview, which tells you which orders are in which status.
Rather, the statuses change dynamically whenever specific events occur.</p>
</div>
<div class="paragraph">
<p>For example, when you notify plentymarkets that you’ve shipped the package to your customer the order status automatically changes to 7.
Of course, every business runs a little differently. Your company’s own fulfillment process may include a few extra steps that weren’t pre-defined in plentymarkets. Why change your tried and true fulfillment process to meet the constraints of a software? You shouldn’t! Instead, tailor plentymarkets so that it matches you. In other words: just add statuses and make your order process run like clockwork!</p>
</div>
<div class="paragraph">
<p>But where can you add your own order statuses? Just navigate to the menu "Settings » Orders » Order status" to see the statuses that are already included in plentymarkets and create new ones.
For example, you can easily add a status by entering a name and clicking on the save icon.</p>
</div>
<div class="paragraph">
<p>Feel free to add statuses or change their names. But think twice before deleting one. Since statuses are tied to real-life fulfillment processes, deleting a status like 3, 5, 7, 9 or 13 can cause errors to occur.
Once you’ve created order statuses that represent each step of your own fulfillment process you’ll easily be able to recognize which orders are going through which step.</p>
</div>
<div class="paragraph">
<p>Check out the rest of the videos in this series to see how you can perfect your order and fulfillment processes with plentymarkets. The sky’s the limit!
Dive even deeper into this topic and enjoy customizing your system step-by-step!</p>
</div>
</div>
</div>
</main>