<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Event procedure for adding free gifts</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Automatically add free gift to orders with a certain value – customers will love you for it.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/124509345" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Welcome to plentymarkets e-learning. In this video tutorial, I will show you how to configure a simple event procedure that automatically adds a free gift to certain orders. Offering customers give-aways or free gifts can help increase sales in your online store. Such thank-you gifts encourage customers to buy more and to visit your store more frequently. The basic idea is simple. You promise to add a certain item from your portfolio free of charge if your customer’s purchase reaches a certain value. Instead of adding these give-aways manually to each order, you can use an event procedure to automate this process. I’ll show you how this is done in plentymarkets.</p>
</div>
<div class="paragraph">
<p>In this example, I want to give my customers a free throw pillow if they place in order for 200 pounds or more. I will do so by saving an event procedure under "Settings » Orders » Event procedures".
I simply click on the green plus icon at the bottom of the screen to create a new event procedure.
A pop-up window appears. Here I enter a meaningful name for the event procedure. In this example, I will enter the name "Free gift".
Next, I select the triggering event from the drop-down menu. I want the free gift to be added whenever I receive an order that meets or exceeds a certain monetary value. As such, I will select "New order" as the event.
And I will click on the save icon to create the event procedure.</p>
</div>
<div class="paragraph">
<p>The event procedure opens automatically and is included in the overview on the left.
The settings area at the top of the screen allows you to modify the settings that were just saved in the pop-up window if needed. Only the "Active" setting was not previously included in the pop-up window. By placing a check mark here, the event procedure is activated. We recommend that you wait to activate the event procedure once you have finished saving all of the necessary settings. I am still satisfied with the settings that were saved, so I will not make any changes here.</p>
</div>
<div class="paragraph">
<p>Next I need to apply filters to my event procedure. An area for saving filters is displayed here. Filters allow me to specify which orders the event procedure should be applied to. In other words, which criteria it has to meet in order to be included in the event procedure.
I simply click on the green plus icon to add a filter. A pop-up window appears. It includes all of the filters sorted into various folders.
Here I will click on the "Order" folder and select the filter "Order type".
By clicking on the "Add" button, the filter is added to my event procedure and I can edit it further.
In this example, I want the free gift to be added to orders that were placed by customers. As such, I will select the type "Order".
When I have finished specifying the order types, I can minimize this filter.</p>
</div>
<div class="paragraph">
<p>Now I will add a second filter for the referrer. The referrer is important because it allows you to exclude specific platforms from the event procedure.
For example, if Amazon does not allow me to send customers free gifts with their purchase, then I can easily exclude Amazon. This is done by removing the check marks next to Amazon referrers.
Again, I can minimize this filter.</p>
</div>
<div class="paragraph">
<p>Now I will add a third filter for the gross value of items. This filter allows me to specify which monetary amount needs to be reached in order for the customer to be given the free item. In this example, I want to give my customers a throw pillow if they place an order for 200 pounds or more.
As such, I select the greater than or equal to symbol from the drop-down menu and I enter 200 into the text field. All orders that reach or exceed 200 pounds will now be included in this event procedure. Use the second line as well if you want to specify a price range. For example, if you want to limit the event procedure to orders between 200 and 400 pounds. In this case, you would select greater than or equal to 200 and less than or equal to 400. Then you could set up a second event procedure to add an even higher quality item to orders that exceed 400 pounds. In this example, I am not going to specify an upper limit, so I will simply ignore the second line.
When I am finished, I can minimize this filter as well.</p>
</div>
<div class="paragraph">
<p>Next I need to specify which procedures should be carried out whenever this event occurs. An area for saving procedures is displayed here. In this example, I will add a free throw pillow to the customer’s order.
I click on the green plus icon, open the "Item" folder and then select the "Add items" procedure.
Now I tell the system which item it should add to the order. I do this by entering the item ID of the free throw pillow. Of course, I can only add an item that already exists in the system. If you have not already created the free item, be sure to do so beforehand. In my case, I want to add item 107 to this event procedure.
It is also possible to add a promotional item that isn’t sold in your store. To do so, create the item data record in plentymarkets and set the item to invisible. Then assign the item to an invisible category. In other words, assign the item to a category that is not displayed in the online store.</p>
</div>
<div class="paragraph">
<p>Now that I have finished configuring the event procedure, I am ready to activate it. When I activate the event procedure, the lightning symbol will turn from gray to green in the overview on the left. This way, I can easily tell which of my event procedures are currently activated.
I simply place a check mark next to the word "Active" and I save the settings. I now have an event procedure that automatically does a few different things. First, it checks whether a new order meets or exceeds 200 pounds. Second, it checks whether the order was placed on Amazon. If the order reached 200 pounds and was not placed on Amazon, then the event procedure automatically adds item 107 to the order. Thanks for watching and I hope you enjoyed learning how to set up an event procedure that adds a free gift to certain orders.</p>
</div>
</div>
</div>
</main>