<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Introduction to event procedures</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">See where you can access existing event procedures in your system and learn what essentials need to be included in an event procedure in this step-by-step guide.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/231511642" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Heeding the call of duty, Lady Event Procedure automates your system so that you can concentrate on other e-worldly things.
With her telekinetic powers, Lady Event Procedure puts her mind to something and get’s it done.
Once activated, she is omnipresent. Whether you’re processing orders manually or conducting an import, she never rests. And unlike Dr Process who needs to be started everytime you want a process to be launched, she never has to be prompted.
Lady Event Procedure? Are you ready? Psh! You were born ready!</p>
</div>
<div class="paragraph">
<p>But what is an event procedure anyway ? We’ll let’s kick-start this chain reaction and watch how certain events can trigger specific procedures.
Alright, now for a sneak peek behind the scenes where Lady Event Procedure makes the magic happen.
If you’ve never created an event procedure before, this area will be empty. But our superhero has been hard at work here, so we’ve got several event procedures organized in these folders.
You can also get an overview of all the event procedures you’ve got in your system at a glance. If you’re looking for certain events, filters or procedures, just use your browser search to find what you’re looking for quickly. And to open an event procedure via the list, simply click on the ID.</p>
</div>
<div class="paragraph">
<p>So event procedures come in really handy if you want to automatically generate and send documents by email, for example. As you can see, I’ve already created an event procedure that generates an invoice when outgoing items are booked.
All you need now is an automation that sends it. So let’s get this baby up and running!
Logically, the event that would trigger the procedure is "Invoice generated" under "Documents".
Once the event procedure is saved, it automatically appears in the corresponding folder on the left.</p>
</div>
<div class="paragraph">
<p>Now, simply select the procedure you want carried out - so "Send email" - and specify that you want the invoice to be sent to your customer.
Also, if you want to customise your event procedure even further, just use these filters. Usually, you’ll want ALL of your customers to receive an invoice - so you won’t really need to make any specifications in that regard.
But what if you wanted to send loyal customers a thank-you now and then? You could easily do that by setting up an event procedure that sends a gift and specifying something like the revenue a customer must exceed in a certain period of time.</p>
</div>
<div class="paragraph">
<p>And a last little word to the wise! Even though it’s possible and might seem like a good idea to create one big event procedure, it’s often better to create separate ones instead. The problem is that procedures aren’t carried out one after the other. So in our case here, you would run the risk of having your email sent out without the invoice attached to it.
Right on! You’ve created your first event procedure. Now don’t forget to activate it to awaken our superhero to life!
Go Lady Event Procedure! And do that voodoo that you do so well.</p>
</div>
</div>
</div>
</main>