<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_inhalt_dieses_kapitels"><span>1.</span><span> Inhalt dieses Kapitels</span></a></li>
<li><a href="#20"><span>2.</span><span> Webdesign in plentymarkets</span></a></li>
<li><a href="#_videotutorials"><span>3.</span><span> Videotutorials</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>CMS</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>CMS</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_inhalt_dieses_kapitels">1. Inhalt dieses Kapitels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel erhalten Sie einen Überblick darüber, wie Sie Ihren Webshop gestalten und das Design nach Ihren Vorstellungen verändern können. Erläuterungen dazu finden Sie im Kapitel <a href="#webdesign">Webdesign</a>.<br>
Weiterhin wird die Verwendung der <a href="#bilder-galerie">Bilder-Galerie</a> erklärt. In die Bilder-Galerie laden Sie Bilder, die in Ihrem Webshop angezeigt werden sollen. Diese können Sie dort in Ordnern strukturiert verwalten.</p>
</div>
<div class="paragraph">
<p>Mit dem <a href="#webspace">Webspace</a>-Tool hinterlegen Sie u.a. die Elemente für Ihr Design, z.B. Bilder, Logos oder JavaScript-Dateien. Diese verwalten Sie dort auf Datei-Ebene.</p>
</div>
<div class="paragraph">
<p>Eine weitere Möglichkeit, Ihren Kunden Dateien zur Verfügung zu stellen, wird auf der Seite <a href="#dokumente">Dokumente</a> erklärt. Hier erfahren Sie, wie Sie Dokumente per Upload hinterlegen, die dann für den Versand per E-Mail zur Verfügung stehen.</p>
</div>
<div class="paragraph">
<p>Wenn Sie in Ihrem Onlineshop einen <a href="#blog-weblog">Blog</a> einrichten möchten, erhalten Sie auf der Seite Blog die nötigen Informationen.</p>
</div>
<div class="paragraph">
<p>Die Seite <a href="#faq">FAQ</a> zeigt Ihnen die Einrichtung eines Bereichs in Ihrem Webshop, der Frequently Asked Questions, häufig gestellte Fragen, beantwortet.</p>
</div>
<div class="paragraph">
<p>Die Konfiguration von <a href="/crm/newsletter-versenden">Newslettern</a>, die Sie automatisch versenden und mit denen Sie viele potentielle Käufer erreichen können, erklären wir Ihnen ebenfalls in diesem Kapitel.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Webdesign in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie lernen, mit dem integrierten Content-Management-System zu arbeiten und damit Inhalte, wie z.B verschiedene <strong>Templates</strong>, anzupassen, die das Design Ihres Onlineshops bestimmen. Außerdem erfahren Sie, wie Sie mit Platzhaltern verschiedene Inhalte in Ihren Webshop einfügen, die dann dynamisch angepasst werden. Dazu gehört z.B. die Anzeige von Preisen und Verfügbarkeiten. Mit <a href="/omni-channel/online-shop/webshop-einrichten/cms-syntax#grundlagen-if">if-Abfragen</a> fügen Sie Fallunterscheidungen nach dem Wenn-dann-Prinzip ein und steuern Aktionen anhand von Bedingungen.</p>
</div>
<div class="paragraph">
<p>Mit <strong>CSS</strong> steuern Sie übergreifende Formatierungen und können Anpassungen Ihrer Styles mit wenigen Mausklicks durchführen.</p>
</div>
<div class="paragraph">
<p>Weitere Details zum Thema erhalten Sie auf der Handbuchseite <a href="#webdesign">Webdesign</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_videotutorials">3. Videotutorials</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erfahren Sie mehr zum Menü <strong>CMS</strong> im folgenden Videotutorial:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-3129/" target="_blank" rel="noopener">CMS</a></p>
</div>
<div id="einstellungen" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/einstellungen.adoc[leveloffset=1]</p>
</div>
<div id="einstellungen-formulare" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/einstellungen/formulare.adoc[leveloffset=2]</p>
</div>
<div id="einstellungen-rss" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/einstellungen/rss.adoc[leveloffset=2]</p>
</div>
<div id="einstellungen-artikel-galerie" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/einstellungen/artikel-galerie.adoc[leveloffset=2]</p>
</div>
<div id="webdesign" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign.adoc[leveloffset=1]</p>
</div>
<div id="webdesign-benutzeroberflaeche" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/benutzeroberflaeche.adoc[leveloffset=2]</p>
</div>
<div id="webdesign-syntax" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/syntax.adoc[leveloffset=2]</p>
</div>
<div id="webdesign-syntax-listendarstellung" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/syntax/listendarstellung.adoc[leveloffset=3]</p>
</div>
<div id="webdesign-syntax-seitenaufbau" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/syntax/seitenaufbau.adoc[leveloffset=3]</p>
</div>
<div id="webdesign-syntax-jquery" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/syntax/jquery.adoc[leveloffset=3]</p>
</div>
<div id="webdesign-werkzeuge" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/werkzeuge.adoc[leveloffset=2]</p>
</div>
<div id="webdesign-werkzeuge-editor" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/werkzeuge/editor.adoc[leveloffset=3]</p>
</div>
<div id="webdesign-werkzeuge-syntax-editor" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/werkzeuge/syntax-editor.adoc[leveloffset=3]</p>
</div>
<div id="webdesign-werkzeuge-inline-editor" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/werkzeuge/inline-editor.adoc[leveloffset=3]</p>
</div>
<div id="webdesign-webdesign-bearbeiten" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/webdesign-bearbeiten.adoc[leveloffset=2]</p>
</div>
<div id="webdesign-webdesign-bearbeiten-pagedesign" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/webdesign-bearbeiten/pagedesign.adoc[leveloffset=3]</p>
</div>
<div id="webdesign-webdesign-bearbeiten-itemview" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/webdesign-bearbeiten/itemview.adoc[leveloffset=3]</p>
</div>
<div id="webdesign-webdesign-bearbeiten-masseingabe" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/webdesign-bearbeiten/itemview/masseingabe.adoc[leveloffset=4]</p>
</div>
<div id="webdesign-webdesign-bearbeiten-misc" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/webdesign-bearbeiten/misc.adoc[leveloffset=3]</p>
</div>
<div id="webdesign-webdesign-bearbeiten-bestellvorgang" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/webdesign-bearbeiten/bestellvorgang.adoc[leveloffset=3]</p>
</div>
<div id="webdesign-webdesign-bearbeiten-bestellvorgang-warenkorb" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/webdesign-bearbeiten/bestellvorgang/warenkorb.adoc[leveloffset=4]</p>
</div>
<div id="webdesign-webdesign-bearbeiten-bestellvorgang-individueller-bestellvorgang" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/webdesign-bearbeiten/bestellvorgang/individueller-bestellvorgang.adoc[leveloffset=4]</p>
</div>
<div id="webdesign-webdesign-bearbeiten-bestellvorgang-kaufabwicklung" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/webdesign-bearbeiten/bestellvorgang/kaufabwicklung.adoc[leveloffset=4]</p>
</div>
<div id="webdesign-webdesign-bearbeiten-bestellvorgang-dhl-postfinder" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/webdesign-bearbeiten/bestellvorgang/dhl-postfinder.adoc[leveloffset=4]</p>
</div>
<div id="webdesign-webdesign-bearbeiten-bestellvorgang-bestellbestaetigung" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/webdesign-bearbeiten/bestellvorgang/bestellbestaetigung.adoc[leveloffset=4]</p>
</div>
<div id="webdesign-webdesign-bearbeiten-mein-konto" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/webdesign-bearbeiten/mein-konto.adoc[leveloffset=3]</p>
</div>
<div id="webdesign-webdesign-bearbeiten-bestellvorgang-buttons" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/webdesign-bearbeiten/buttons.adoc[leveloffset=3]</p>
</div>
<div id="webdesign-webdesign-bearbeiten-bestellvorgang-anpassung" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/webdesign-bearbeiten/buttons/anpassung-an-die-button-loesung.adoc[leveloffset=4]</p>
</div>
<div id="webdesign-webdesign-bearbeiten-bestellvorgang-css" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webdesign/webdesign-bearbeiten/css.adoc[leveloffset=3]</p>
</div>
<div id="bilder-galerie" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/bilder-galerie.adoc[leveloffset=1]</p>
</div>
<div id="best-practice" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/best-practice.adoc[leveloffset=1]</p>
</div>
<div id="best-practice-ssl-verschluesselung" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/best-practice/ssl-verschluesselung.adoc[leveloffset=2]</p>
</div>
<div id="webspace" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/webspace.adoc[leveloffset=1]</p>
</div>
<div id="social-bookmarks" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/social-bookmarks.adoc[leveloffset=1]</p>
</div>
<div id="blog-weblog" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/blog-weblog.adoc[leveloffset=1]</p>
</div>
<div id="faq" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/faq.adoc[leveloffset=1]</p>
</div>
<div id="dokumente" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/dokumente.adoc[leveloffset=1]</p>
</div>
<div id="termine" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/termine.adoc[leveloffset=1]</p>
</div>
<div id="konstanten" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/konstanten.adoc[leveloffset=1]</p>
</div>
<div id="suchen-und-ersetzen" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/suchen-und-ersetzen.adoc[leveloffset=1]</p>
</div>
<div id="kunden-feedback" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/kunden-feedback.adoc[leveloffset=1]</p>
</div>
<div id="plentymarkets-cms-library" class="paragraph">
<p>Unresolved directive in &lt;stdin&gt; - include::webshop-einrichten/_cms/plentymarkets-cms-library.adoc[leveloffset=1]</p>
</div>
</div>
</div>
</main>