<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_standardsprache_ihres_systems"><span>1.</span><span> Standardsprache Ihres Systems</span></a></li>
<li><a href="#_design_auf_eine_andere_sprache_übertragen"><span>2.</span><span> Design auf eine andere Sprache übertragen</span></a></li>
<li><a href="#_weitere_sprachen_aktivieren"><span>3.</span><span> Weitere Sprachen aktivieren</span></a></li>
<li><a href="#_mehrsprachige_kategorien"><span>4.</span><span> Mehrsprachige Kategorien</span></a>
<ul class="sectlevel2">
<li><a href="#_einsprachige_ansicht"><span>4.1.</span><span> Einsprachige Ansicht</span></a></li>
<li><a href="#_mehrsprachige_ansicht"><span>4.2.</span><span> Mehrsprachige Ansicht</span></a></li>
</ul>
</li>
<li><a href="#_sprachvariante_eines_artikels_anlegen"><span>5.</span><span> Sprachvariante eines Artikels anlegen</span></a></li>
<li><a href="#_url_aufbau_der_sprachvarianten"><span>6.</span><span> URL-Aufbau der Sprachvarianten</span></a></li>
<li><a href="#_sprachvariante_einer_e_mail_vorlage_einrichten"><span>7.</span><span> Sprachvariante einer E-Mail-Vorlage einrichten</span></a></li>
<li><a href="#_sprachvariante_eines_pdf_dokuments_anlegen"><span>8.</span><span> Sprachvariante eines PDF-Dokuments anlegen</span></a></li>
<li><a href="#_template_funktionen_für_sprachen_ins_design_einfügen"><span>9.</span><span> Template-Funktionen für Sprachen ins Design einfügen</span></a>
<ul class="sectlevel2">
<li><a href="#_textlinks_im_webshop"><span>9.1.</span><span> Textlinks im Webshop</span></a></li>
<li><a href="#_flaggensymbole_im_webshop"><span>9.2.</span><span> Flaggensymbole im Webshop</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Mehrsprachiger Webshop</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Die Einrichtung eines mehrsprachigen Webshops erfordert einige Schritte in unterschiedlichen Menüs Ihres plentymarkets Systems. Alle dafür notwendigen Einstellungen finden Sie in den folgenden Kapiteln. Die hier beschriebene Reihenfolge kann variiert werden, jedoch müssen alle Schritte durchgeführt werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_standardsprache_ihres_systems">1. Standardsprache Ihres Systems</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Jedes plentymarkets System wird in einer Standardsprache installiert. Diese Standardsprache dient als Vorauswahl für alle Bereiche Ihres Systems, in denen Informationen mehrsprachig abgespeichert werden können. Dies sind u.a. die Bereiche <strong>Webdesign</strong>, <strong>Kategorien</strong> und <strong>Artikel</strong>.</p>
</div>
<div class="paragraph">
<p>Nach dem Speichern springt das System jeweils auf diese Vorauswahl zurück, sodass Sie die Sprache, die Sie bearbeiten möchten, erneut wählen müssen.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Webshop und Artikel vollständig multilingual einrichten</div>
<div class="paragraph">
<p>Wenn Sie Ihren Webshop mehrsprachig einrichten möchten, achten Sie darauf, alle Bereiche, also <strong>Webdesign</strong> (PageDesign und alle Templates), <strong>Artikel</strong> und <strong>Kategorien</strong> in den betreffenden Sprachen einzurichten. Nur so ist gewährleistet, dass Ihre Artikel in der zweiten Sprache korrekt angezeigt werden und auch über die fremdsprachliche URL erreichbar sind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_design_auf_eine_andere_sprache_übertragen">2. Design auf eine andere Sprache übertragen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>CMS</strong> ist es möglich, das Design der Standardsprache Ihres Webshops auf eine andere Sprache zu übertragen. So sind nur noch textliche Anpassungen in der Zielsprache nötig, während der Shop in der Standardsprache gespiegelt wird.</p>
</div>
<div class="paragraph instruction">
<p>Design übertragen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS&nbsp;» Webdesign</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das Icon <strong>Design übertragen</strong>.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Quelle</strong> das Design, von dem Eigenschaften übernommen werden sollen, sowie dessen Sprache.</p>
</li>
<li>
<p>Wählen Sie unter <strong>Ziel</strong> das Design, auf das die Eigenschaften übertragen werden sollen, sowie dessen Sprache.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei den Bereichen, die von der Quelle auf das Ziel übertragen werden sollen.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Design übertragen</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Auf diese Weise können aus einem Design in einer Sprache Vorlagen für mehrere Sprachen angelegt werden, die dann nur noch sprachlich angepasst werden müssen. Das Design Ihrer Zweitsprache entspricht jetzt exakt dem Design Ihrer Erstsprache.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Anpassung des Layouts</div>
<div class="paragraph">
<p>Die Anpassung des Layouts an die Sprache nehmen Sie direkt im entsprechenden Template im Menü <strong>CMS&nbsp;» Webdesign&nbsp;» Layout</strong> vor. Wählen Sie in der oberen Menüleiste zuerst die Sprache und dann links das zu bearbeitende Layout.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_weitere_sprachen_aktivieren">3. Weitere Sprachen aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Für Ihren Webshop können Sie mehrere Sprachen auswählen und entscheiden, ob Sie den gesamten Shop oder nur den <strong>Bestellvorgang</strong> multilingual ausgeben möchten.
Sie können das <strong>Design</strong> und die <strong>Sprachen</strong> im Webshop auch zu einem späteren Zeitpunkt kopieren bzw. aktivieren, z.B. wenn Sie bereits <strong>Artikel</strong> und <strong>Kategorien</strong> für die Sprache angelegt haben. Wenn Sie die Sprachen jedoch zu Beginn aktivieren, können Sie den Fortschritt unmittelbar im Webshop überprüfen. In der Grundeinstellung ist der <strong>Bestellvorgang</strong> bereits für Multilingualismus eingestellt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/assets/DE-Mandant-Standard-Webshop-Multilingualismus-01-SI.png" alt="DE Mandant Standard Webshop Multilingualismus 01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: <strong>Multilingualismus</strong> konfigurieren</em></p>
</div>
<div class="paragraph instruction">
<p>Sprachoptionen einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen&nbsp;» Webshop&nbsp;» Multilingualismus</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 1 vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. <strong>Einstellungen</strong> im Menü <strong>Multilingualismus</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bereich</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Option <strong>Bestellvorgang</strong> = Nur der Bestellvorgang wird multilingual angelegt.<br>
Option <strong>Artikel &amp; Layout &amp; Content-Seiten &amp; Bestellvorgang</strong> = Der gesamte Webshop wird für Multilingualismus aktiviert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sprachen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Sprachen für die Mehrsprachigkeit wählen.<br>
Mehrere Sprachen mit Strg bzw. cmd + Mausklick markieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Automatische Spracherkennung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mit der automatischen Spracherkennung erfolgt eine Weiterleitung entsprechend der gewählten <strong>Browser-Sprache</strong>. Die Konfiguration in Bild 1 zeigt, dass für diesen Webshop die drei Sprachen <strong>Deutsch</strong>, <strong>Englisch</strong> und <strong>Französisch</strong> verfügbar sind. Die Standardsprache des Webshops ist <strong>Englisch</strong>.<br>
Wie im Beispiel in Bild 1 zu sehen, werden die <strong>Browser-Sprachen</strong> Deutsch, Englisch und Französisch den entsprechenden <strong>Shop-Sprachen</strong> zugeordnet, damit eine Weiterleitung auf die gewünschte Sprache erfolgt.<br>
Für alle anderen <strong>Browser-Sprachen</strong> eine <strong>Shop-Sprache</strong> einstellen. Im Beispiel in Bild 1 ist für alle Sprachen, die nicht im System bzw. im Webshop verfügbar sind, die Sprache <strong>Englisch</strong> gewählt, d.h. der Webshop wird automatisch in Englisch geöffnet.<br>
<em>*Wichtig:*</em> Wenn eine <strong>Browser-Sprache</strong> nicht erkannt wird oder nicht in der Liste enthalten ist, erfolgt eine Umleitung auf die Zielsprache, die im Menü unter <strong>Browser-Sprache</strong> bei der Option <strong>Standard</strong> eingestellt ist. Hier ist die Webshop-Sprache <strong>Englisch</strong> zu empfehlen. Diese Sprache muss auch in den Spracheinstellungen des Browsers enthalten sein.<br>
Wurde bei der ermittelten Sprache keine Auswahl getroffen, erfolgt eine Umleitung auf die Standardsprache im System, im Beispiel <strong>Englisch</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Sie können Ihre Einstellungen überprüfen, indem Sie die URL Ihres Shops in einen Browser eingeben und den ISO-Code für die angelegte Sprache anhängen, z.B. <strong>www.name_ihres_shops.de/en/</strong> für Englisch oder <strong>www.name_ihres_shops.de/fr/</strong> für Französisch.</p>
</div>
<div class="paragraph">
<p>Wenn Sie z.B. nur den Bereich <strong>Bestellvorgang</strong> wählen und die Standardsprache Ihres Webshops mit wählen, hat dies keinen Einfluss auf die Standardsprache. Der Webshop bleibt in dieser vollständig verfügbar.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_mehrsprachige_kategorien">4. Mehrsprachige Kategorien</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel wird zunächst erläutert, wie Sie mehrsprachige Kategorien des Typs <strong>Content</strong>, <strong>Artikel</strong> und <strong>Container</strong> anlegen. Dabei wird davon ausgegangen, dass die Kategorien bereits in einer Sprache vorliegen, der Standardsprache Ihres Shops.<br></p>
</div>
<div class="paragraph">
<p>Sie können entweder eine mehrsprachige Bearbeitungsansicht wählen oder eine einsprachige. Bei der mehrsprachigen Ansicht haben Sie die Möglichkeit, zwei Sprachen parallel zu bearbeiten, und sehen die Inhalte einer anderen Sprache, z.B. der Standardsprache.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Sichtbarkeit im Menü Artikel&nbsp;» Kategorien</div>
<div class="paragraph">
<p>Damit die Kategorien im Verzeichnisbaum des Menüs <strong>Artikel&nbsp;» Kategorien</strong> erscheinen, müssen Sie in der Standardsprache Ihres Systems angelegt werden, d.h. Sie müssen der Kategorie in der Standardsprache zumindest einen Seitennamen geben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_einsprachige_ansicht">4.1. Einsprachige Ansicht</h3>
<div class="paragraph">
<p>Eine Sprachvariante einer bestehenden Kategorie legen Sie wie im Folgenden beschrieben an.</p>
</div>
<div class="paragraph instruction">
<p>Sprachvariante einer bestehenden Kategorie anlegen (einsprachig):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel&nbsp;» Kategorien</strong>.</p>
</li>
<li>
<p>Klicken Sie im Verzeichnisbaum auf die gewünschte Kategorie.<br>
→ Die Kategorie wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie aus dem Dropdown-Menü <strong>Sprache</strong> die Sprache, in der Sie die Kategorie anlegen möchten (z. B. Englisch).<br>
→ Die Kategorie öffnet sich erneut in der ausgewählten Sprache.</p>
</li>
<li>
<p>Bleiben Sie im Tab <strong>Einstellungen</strong> und tragen Sie unter <strong>Name</strong> eine Bezeichnung für die Seite ein.</p>
</li>
<li>
<p>Wählen Sie eine <strong>Template-Seite</strong>, eine <strong>Template-Liste</strong>, ein <strong>Template-Produkt</strong> und eine Option zur <strong>Volltextsuche</strong>. Beachten Sie dabei die Einstellungen der Kategorie in der Standardsprache.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>.<br>
→ Die Einträge werden gespeichert und der Pfad der Seite wird angelegt. Er ist in der Zeile <strong>URL</strong> sichtbar.</p>
</li>
<li>
<p>Fügen Sie die Inhalte in der gewünschten Sprache ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn Sie jetzt im Webshop die entsprechende Sprache wählen, wird die Sprachversion der Kategorie angezeigt.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Wichtig für Unterseiten</div>
<div class="paragraph">
<p>Die Einstellungen der Sprachversionen werden nur wirksam, wenn die Spracheinstellungen des jeweils übergeordneten Ordners bis in die Hauptebene genau so vorgenommen wurden. Das bedeutet, Sie müssen für die übergeordneten Ebenen die Spracheinstellungen zuerst vornehmen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_mehrsprachige_ansicht">4.2. Mehrsprachige Ansicht</h3>
<div class="paragraph">
<p>Um eine Sprachvariante einer bestehenden Kategorie in der mehrsprachigen Ansicht hinzuzufügen, gehen Sie wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Sprachvariante einer bestehenden Kategorie anlegen (mehrsprachig):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel&nbsp;» Kategorien</strong>.</p>
</li>
<li>
<p>Klicken Sie im Verzeichnisbaum auf die gewünschte Kategorie.<br>
→ Die Kategorie wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf das Icon <strong>Multilingualität</strong>.<br>
→ Die mehrsprachige Ansicht der Kategorie wird geöffnet.</p>
</li>
<li>
<p>Wählen Sie links und rechts die gewünschten Sprachen.</p>
</li>
<li>
<p>Tragen Sie in die Felder <strong>Name</strong>, <strong>URL-Name</strong> und <strong>Meta-Titel</strong> jeweils die gewünschten Bezeichnungen ein.</p>
</li>
<li>
<p>Tragen Sie die fremdsprachigen Texte und Inhalte in das Textfeld <strong>Beschreibung&nbsp;1</strong> ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wählen Sie wie oben beschrieben die Sprache im Webshop, um die Kategorie in der neuen Sprachversion anzuzeigen.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Bedingungen für Sichtbarkeit im Webshop</div>
<div class="paragraph">
<p>Um eine Sprachvariante einer Kategorie im Webshop anzeigen zu können, muss für die Kategorie in der Standardsprache mindestens ein Artikel hinterlegt sein und die Kategorie muss aktiviert sein. Setzen sie dazu unter <strong>System » Mandant » Mandant wählen&nbsp;» Kategorien&nbsp;» Aktivieren</strong> ein Häkchen bei der Kategorie.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_sprachvariante_eines_artikels_anlegen">5. Sprachvariante eines Artikels anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Standardsprache Ihres Systems spielt auch hier eine wichtige Rolle, da die Artikel in der Artikelübersicht nur in der Standardsprache angezeigt werden. Außerdem können Sie Artikel, die nicht in der Standardsprache Ihres Systems vorliegen, nicht für den Webshop aktivieren. Dies bedeutet, dass jeder Artikel immer zuerst in der Standardsprache angelegt werden muss und dann übersetzt werden kann.</p>
</div>
<div class="paragraph">
<p>Für Artikel legen Sie keine separaten Varianten in einer weiteren Sprache an, sondern legen innerhalb des Artikels weitere Sprachvarianten an. Diese Inhalte werden dann durch Sprachumstellung im Webshop angezeigt.</p>
</div>
<div class="paragraph">
<p>Wenn Sie Sprachvarianten für Artikel und Kategorien angelegt haben, können Sie im Webshop per Sprachauswahl ganz einfach die Sprache wechseln. Dazu gehört auch, dass Sie für die jeweilige Sprache ein <a href="/online-shop/cms#20"><strong>Design</strong></a> angelegt haben.</p>
</div>
<div class="paragraph instruction">
<p>Sprachvariante eines Artikels anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Artikel&nbsp;» Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den gewünschten <strong>Artikel</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Texte</strong>.</p>
</li>
<li>
<p>Wählen Sie aus dem Dropdown-Menü <strong>Öffne Sprache</strong> die gewünschte Sprache.</p>
</li>
<li>
<p>Tragen Sie im Feld <strong>Name&nbsp;1</strong> einen Namen (Übersetzung) für den Artikel in der gewählten Sprache ein.</p>
</li>
<li>
<p>Fügen Sie alle weiteren <strong>Texte</strong> hinzu (Artikeltext, Technische Daten etc.).</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die Sprachvariante des Artikels wurde erstellt und der Artikel ist im Webshop sichtbar.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wenn der Artikel im Webshop nicht sichtbar ist, überprüfen Sie, ob er im Tab <strong>Verfügbarkeit</strong> für den Webshop auf <strong>sichtbar</strong> gestellt ist und die <strong>Kategorie</strong>, in der er sich befindet, aktiviert ist. Diese Einstellungen sind nicht sprachabhängig und gelten für alle Sprachvarianten einer Kategorie bzw. eines Artikels.</p>
</div>
<div class="paragraph">
<p>Haben Sie den Artikel noch nicht mit einer Kategorie verknüpft, tun Sie dies im Tab <strong>Kategorien</strong> des Artikels. Weitere Details zum Verknüpfen von Artikeln mit Kategorien finden Sie auf der Handbuchseite <a href="/artikel/artikel-verwalten#300"><strong>Kategorien</strong></a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_url_aufbau_der_sprachvarianten">6. URL-Aufbau der Sprachvarianten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In die <strong>URL</strong> der Sprachvarianten wird das Sprachkürzel automatisch eingefügt, bei Englisch z. B. <strong>en</strong>. Somit ist an der URL sofort die Sprachversion zu erkennen.</p>
</div>
<div class="paragraph">
<p>Dies gilt nur für die Sprachvarianten. In der URL der Webshop-Standardsprache wird das Sprachkürzel nicht angezeigt.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/assets/DE-Mandant-Standard-Webshop-Multilingualismus-03-SI.png" alt="DE Mandant Standard Webshop Multilingualismus 03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: Sprachkürzel in der URL einer englischen Artikel-Sprachvariante</em></p>
</div>
<div class="paragraph">
<p>Dies gilt analog auch für <strong>Kategorien</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_sprachvariante_einer_e_mail_vorlage_einrichten">7. Sprachvariante einer E-Mail-Vorlage einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Alle E-Mails, die über plentymarkets versendet werden, basieren auf <strong>E-Mail-Vorlagen</strong>. Diese werden im Menü <strong>System » Mandant » Mandant wählen&nbsp;» E-Mail&nbsp;» Vorlagen</strong> verwaltet. Sie können die E-Mail-Vorlagen dort lesen und ändern sowie neue Vorlagen erstellen. Ein plentymarkets System enthält bereits verschiedene vorkonfigurierte E-Mail-Vorlagen.
Je nachdem, in welcher Sprache Ihr Kunde den Webshop nutzt, erhält er die entsprechende Sprachvariante der E-Mail-Vorlage.</p>
</div>
<div class="paragraph instruction">
<p>Sprachvariante einer bestehenden E-Mail-Vorlage einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen&nbsp;» E-Mail&nbsp;» Vorlagen</strong>.</p>
</li>
<li>
<p>Öffnen Sie die gewünschte <strong>E-Mail-Vorlage</strong> z.B. <strong>Webshop: Eingangsbestätigung Bestellung</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>E-Mail-Nachricht</strong>.</p>
</li>
<li>
<p>Wählen Sie die gewünschte Sprache aus dem Dropdown-Menü <strong>Sprache wählen</strong>.</p>
</li>
<li>
<p>Tragen Sie einen <strong>Betreff</strong> ein, z.B. auf Englisch "Order confirmation. Thanks for shopping at www.name_ihres_shops.de".</p>
</li>
<li>
<p>Fügen Sie den entsprechenden Text in das Feld <strong>Inhalt</strong> ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die Sprachvariante der E-Mail-Vorlage wurde erstellt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Details zu <strong>Template-Funktionen und -Variablen</strong>, die Sie in E-Mail-Vorlagen verwenden können, finden Sie unter <a href="/crm/e-mails-versenden#1200"><strong>Vorlagen</strong></a>.</p>
</div>
<div class="paragraph">
<p>Um Ihre E-Mail-Vorlagen bei gewählten Events automatisch zu versenden, legen Sie Ereignisaktionen an. Weitere Details zum automatischen E-Mail-Versand finden sie auf den Handbuchseiten <a href="/crm/e-mails-versenden#2300"><strong>Automatischer Versand</strong></a> und <a href="/basics/automatisierung/ereignisaktionen"><strong>Ereignisaktionen</strong></a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_sprachvariante_eines_pdf_dokuments_anlegen">8. Sprachvariante eines PDF-Dokuments anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit nicht nur der Webshop mehrsprachig angezeigt wird, sondern auch Dokumente wie Rechnungen, Lieferscheine, Gutschriften etc. in der richtigen Sprache beim Kunden ankommen, können auch deren Vorlagen mehrsprachig eingerichtet werden.</p>
</div>
<div class="paragraph instruction">
<p>Sprachvariante einer bestehenden Dokumentvorlage einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen&nbsp;» Standorte&nbsp;» Dokumente</strong>.</p>
</li>
<li>
<p>Wählen Sie das gewünschte Dokument.</p>
</li>
<li>
<p>Wählen Sie im Dropdown-Menü die gewünschte Sprachvariante für das Dokument.</p>
</li>
<li>
<p>Nehmen Sie alle Einstellungen wie gewünscht vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die Sprachvariante der Dokumentvorlage wurde erstellt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Alternativ können Sie im Tab <strong>Transfer</strong> die Einstellungen einer anderen Sprache und/oder Dokumentvorlage kopieren und diese anschließend bearbeiten. Dies ist sinnvoll, wenn Sie bereits eine vollständig eingerichtete Dokumentvorlage haben. So stellen Sie sicher, dass die Vorlage für die nächste Sprache grundsätzlich gleich aufgebaut ist.
Weitere Details zu diesen Dokumenten und den Einstellungen finden Sie auf der Handbuchseite <a href="/auftragsabwicklung/auftraege/auftragsdokumente"><strong>Auftragsdokumente</strong></a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_template_funktionen_für_sprachen_ins_design_einfügen">9. Template-Funktionen für Sprachen ins Design einfügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Ihre Kunden schnell und einfach von einer Sprache Ihres Webshops auf eine andere wechseln können, ist das Einfügen von Template-Funktionen in Ihr Webshop-Layout notwendig.
Verwenden Sie hierfür die Template-Funktionen <strong>Link_Lang("DE") &#37;&#125;</strong>, <strong>Link_Lang("EN") &#37;&#125;</strong>, <strong>Link_Lang("FR") &#37;&#125;</strong> usw.
Je nachdem, zu welchem Zeitpunkt Sie Ihren Kunden den Wechsel ermöglichen wollen, ist eine Einbindung in das entsprechende Layout notwendig.
Im folgenden Beispiel wird ein Link im deutschen Seiten-Layout <strong>PageDesignContent</strong> für den englischsprachigen Webshop eingefügt.</p>
</div>
<div class="sect2">
<h3 id="_textlinks_im_webshop">9.1. Textlinks im Webshop</h3>
<div class="paragraph instruction">
<p>Template-Funktion für Sprachen ins Layout einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS&nbsp;» Webdesign</strong>.</p>
</li>
<li>
<p>Wählen Sie im Dropdown-Menü <strong>Sprache</strong> die Sprache des Designs, die Sie bearbeiten möchten, z.B. <strong>Deutsch</strong>.</p>
</li>
<li>
<p>Wählen Sie links im Verzeichnisbaum <strong>Layout&nbsp;» PageDesign&nbsp;» PageDesignContent</strong>.<br>
→ Das Layout öffnet sich in der gewählten Sprache.</p>
</li>
<li>
<p>Fügen Sie die <strong>Template-Funktion</strong> für die gewünschte Sprache, für Englisch <strong>Link_Lang("EN") &#37;&#125;</strong>, an der gewünschten Stelle im Layout ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>.<br>
→ Der Link erscheint im deutschsprachigen Webshop.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Klicken Sie auf den Link, um die Sprache zu wechseln.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiele</div>
<div class="paragraph">
<p>&lt;a href=" Link_Lang("EN") &#37;&#125;"&gt;English&lt;/a&gt;<br>
&lt;a href=" Link_Lang("DE") &#37;&#125;"&gt;Deutsch&lt;/a&gt;</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_flaggensymbole_im_webshop">9.2. Flaggensymbole im Webshop</h3>
<div class="paragraph">
<p>Um statt eines einfachen Textlinks Flaggensymbole in Ihren Webshop einzubinden, mit deren Hilfe Ihre Kunden die Sprache wechseln können, gehen Sie wie im Folgenden beschrieben vor. Die Vorgehensweise ähnelt der zum Einbinden von Textlinks, nur geben Sie statt des Texts die URL des Bildes ein.</p>
</div>
<div class="paragraph instruction">
<p>Flaggensymbole im Design einfügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>CMS&nbsp;» Webspace</strong>.</p>
</li>
<li>
<p>Wählen Sie dort <strong>layout&nbsp;» Ihr aktives Layout&nbsp;» img</strong>.</p>
</li>
<li>
<p>Klicken Sie auf den Button <strong>Dateien hochladen</strong> und wählen Sie den Speicherort der gespeicherten Flaggen.</p>
</li>
<li>
<p>Wählen Sie die gewünschten Bilder der Flaggen und klicken Sie auf <strong>Öffnen</strong>. Alternativ können Sie die Bilder auch per Drag- &amp; Drop-Funktion in den Ordner einfügen.<br>
→ Die Bilder werden hochgeladen.</p>
</li>
<li>
<p>Öffnen Sie ein Bild, z.B. die Flagge der USA.</p>
</li>
<li>
<p>Notieren Sie sich die URL, z.B. <strong>/layout/stonepattern/images/Flagge_USA.png</strong>. Diese setzt sich zusammen aus dem Pfad links oben im Dropdown-Menü und dem Bildnamen mit Endung.</p>
</li>
<li>
<p>Öffnen Sie das Menü <strong>CMS&nbsp;» Webdesign</strong>.</p>
</li>
<li>
<p>Wählen Sie im Dropdown-Menü <strong>Sprache</strong> die Sprache des Designs, die Sie bearbeiten möchten, z.B. Deutsch.</p>
</li>
<li>
<p>Wählen Sie im Verzeichnisbaum unter Layout <strong>PageDesignContent</strong>.<br>
→ Das Layout öffnet sich in der gewählten Sprache.</p>
</li>
<li>
<p>Fügen Sie die <strong>Template-Funktion</strong> für die gewünschte Sprache&nbsp;– für Englisch <strong>Link_Lang("EN") &#37;&#125;</strong>&nbsp;– und den <strong>Bildpfad</strong> an der gewünschten Stelle im Layout ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Der Flagge erscheint im deutschsprachigen Webshop.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel</div>
<div class="paragraph">
<p>&lt;a href=" Link_Lang("EN") &#37;&#125;&gt;English&lt;img src="/layout/stonepattern/images/Flagge_USA.png"&gt;&lt;/a&gt;</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>