<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#grundeinstellungen"><span>1.</span><span> Konfiguration</span></a></li>
<li><a href="#auftragsinformationen"><span>2.</span><span> Auftragsinformationen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Mein Konto</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Das Menü <strong>System » Mandant » Mandant wählen » Mein Konto » Einstellungen</strong> enthält Grundeinstellungen
für den individuellen Kundenbereich Ihres Webshops. Sie können hier wählen, ob bestimmte Features aktiviert oder
deaktiviert sein sollen und ob Informationen, wie z. B. Gewichte und Optionen zur Preisdarstellung,
im <a href="/omni-channel/online-shop/cms#webdesign-webdesign-bearbeiten-mein-konto">Mein Konto</a>-Bereich angezeigt werden sollen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="grundeinstellungen">1. Konfiguration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Einstellungen dieses Menüs werden nachfolgend in Tabelle 1 erläutert. Dort finden Sie auch Hinweise und Links zu weiteren Handbuchseiten, die Details zu den Funktionen enthalten, deren grundlegende Konfigurationen Sie hier vornehmen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/omni-channel/online-shop/webshop-einrichten/assets/DE-Einstell-Mandant-Std-MeinKonto-Grundeinstell-01.png" alt="DE Einstell Mandant Std MeinKonto Grundeinstell 01">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Einstellungen im Menü *Grundeinstellungen*</em></p>
</div>
<div class="paragraph instruction">
<p>Mein Konto-Grundeinstellungen konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen » Mein Konto » Einstellungen</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß der nachfolgenden Tabelle vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tab. 1. Details zu den Einstellungen im Menü <strong>Grundeinstellungen</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kundenlogin</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, mit welchen Daten sich Kunden im Webshop anmelden sollen. Mit <strong>E-Mail-Adresse und Passwort</strong> oder <strong>Kunden-ID und Passwort</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gültigkeit der Kaufabwicklungs-URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, wie lange eine URL zur Kaufabwicklung nach erfolgter Generierung gültig sein soll: Zur Auswahl stehen unterschiedliche Zeitspannen zwischen <strong>7</strong> und <strong>360 Tagen</strong> sowie die Einstellung <strong>Nie</strong>. Ist die Option <strong>Nie</strong> eingestellt, muss ein Kunde sich im Mein Konto-Bereich zuerst einloggen, bevor er die Auftragsinformationen über die Kaufabwicklungs-URL öffnen kann.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Merkliste</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Merkliste im Webshop <strong>aktivieren</strong> oder <strong>deaktivieren</strong>.<br>
<em>*Info*</em>: Das entsprechende Untermenü im Bereich <a href="/omni-channel/online-shop/cms#webdesign-webdesign-bearbeiten-mein-konto">CMS » Webdesign » Mein Konto</a> wird erst sichtbar, wenn diese Funktion aktiviert ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Wunschzettel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktiviert</strong> oder <strong>deaktiviert</strong> die Funktion <strong>Wunschzettel</strong>.<br>
<em>*Info*</em>: Das entsprechende Untermenü im Bereich <a href="/omni-channel/online-shop/cms#webdesign-webdesign-bearbeiten-mein-konto">CMS » Webdesign » Mein Konto</a>wird erst sichtbar, wenn diese Funktion aktiviert ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Dokumente</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktiviert</strong> oder <strong>deaktiviert</strong> die Funktion zum Download von Dokumenten im Webshop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Datenexport</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktiviert</strong> oder <strong>deaktiviert</strong> die Funktion zum Download von Datenformaten im Webshop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Meine Gutscheine</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktiviert</strong> oder <strong>deaktiviert</strong> die Anzeige der Gutscheine des Kunden.[#10]</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Retoure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Erlaubt dem Kunden, Retouren in seinem Konto selbst anzulegen oder nicht.<br>
<strong>Aktiviert</strong> = Kunde kann Retouren anlegen. Etiketten werden jedoch nicht bereitgestellt. Wie Sie weiter verfahren, wenn der Kunde eine Retoure anmeldet, bleibt Ihnen überlassen. Sie können dem Kunden z.B. ein Etikett per E-Mail zusenden.<br>
<a href="/auftragsabwicklung/fulfillment/versand-vorbereiten#3200">DHL Retoure Online</a> = Kunde kann Retoure anlegen und kann anschließend das Retourenetikett von DHL downloaden und ausdrucken.<br>
<strong>Deaktiviert</strong> = Kunde kann keine Retoure anlegen. Wie Sie Retouren stattdessen handhaben, müssen Sie entscheiden, Kunden könnten z.B. auch telefonisch oder per E-Mail Retouren bei Ihnen melden.<br>
Wenn Sie erlauben, dass Kunden Retouren selbst anlegen können, stehen die <a href="/auftragsabwicklung/auftraege/auftraege-verwalten#retoure">Retourengründe</a>, die Sie eingetragen haben, auch im Mein-Konto-Bereich zur Auswahl.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Preisdarstellung für Wunschzettel und Merkliste</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Für die Preisdarstellung im Webshop gibt es folgende Optionen: <strong>Nur Artikelpreis</strong>, <strong>Artikelpreis mit Stern (</strong>)<strong>, *Preis mit MwSt. und Versand</strong><br>
<em>*Tipp*</em>: Die Option <strong>Artikelpreis mit Stern(</strong>)* kann eingesetzt werden, wenn unter dem Stern ein Hinweis zum Artikelpreis erscheinen soll, z. B. auf die MwSt.<br>
<em>*Info*</em>: Die Option <strong>Preis mit MwSt. und Versand</strong> ist z. B. für eine Trusted Shops-Zertifizierung nötig.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versandgewicht in Wunschzettel und Merkliste</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktiviert</strong> oder <strong>deaktiviert</strong> die Anzeige des Versandgewichts in Wunschzettel und Merkliste.<br>
<em>*Wichtig*</em>: Bei aktivierter Anzeige, sollte die Einstellungen der Zahlenformate unter <a href="/_includes/presets/zahlenformate">System » Einstellungen » Zahlenformate</a> geprüft werden. Wenn hier beispielsweise <strong>in Kilogramm: keine Nachkommastelle</strong> eingestellt ist, werden Gewichte unter 1000 Gramm als 0 angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Abonnements</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktiviert</strong> oder <strong>deaktiviert</strong> die Anzeige des Bereichs <strong>Abonnements</strong>.<br>
<em>*Info*</em>: Das entsprechende Untermenü im Bereich <a href="/omni-channel/online-shop/cms#webdesign-webdesign-bearbeiten-mein-konto">CMS » Webdesign » Mein Konto</a>wird erst sichtbar, wenn diese Funktion aktiviert ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungsart Abonnements</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Einstellung legt fest, ob die Zahlungsart für ein Abonnement <strong>durch den Kunden änderbar</strong> ist oder nicht.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Download-Link-SEPA-Lastschriftmandat</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktiviert</strong> oder <strong>deaktiviert</strong> die Anzeige des Download-Links.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>E-Mail-Adresse ändern</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Einstellung dient dazu, die Anzeige der Option zur Änderung der E-Mail-Adresse zu <strong>aktivieren</strong> oder zu <strong>deaktivieren</strong>.<br>
Zur Änderung muss das Passwort des Kontos eingegeben werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Passwort ändern</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diese Einstellung dient dazu, die Anzeige der Option zur Änderung des <a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten">Passworts</a> zu <strong>aktivieren</strong> oder zu <strong>deaktivieren</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>E-Mail-Bestätigung bei Passwortänderung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktiviert</strong> oder <strong>deaktiviert</strong> die automatische E-Mail-Bestätigung bei Passwortänderung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logout ausblenden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aktiviert</strong> oder <strong>deaktiviert</strong> die Sichtbarkeit der Logout-Funktion.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="auftragsinformationen">2. Auftragsinformationen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>System » Mandant » Mandant wählen » Mein Konto » Auftragsinformationen</strong> hinterlegen Sie Einstellungen, die die Sichtbarkeit von Informationen in Aufträgen steuern.</p>
</div>
<div class="paragraph instruction">
<p>Auftragsinformationen konfigurieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Mandant » Mandant wählen » Mein Konto » Auftragsinformationen</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 1 vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tab. 2. Einstellungen im Menü <strong>Auftragsinformationen</strong></caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Statushistorie</strong>;<br>
<strong>Warenausgangsdatum</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, ob Informationen zur Statushistorie bzw. das Warenausgangsdatum in der Auftragsübersicht angezeigt werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gewichte</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, ob Gewichte im Auftrag angezeigt werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rechnungen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, ob Kunden die Rechnung zum Auftrag herunterladen können.<br>
<strong>Download für Kunden nicht ermöglichen</strong> = Kunden können Rechnungen nicht herunterladen.<br>
<strong>Download von internen Rechnungen für Kunden ermöglichen</strong> = Kunden können nur interne Rechnungen herunterladen., d.h. Rechnungen zu Aufträgen aus dem Webshop.<br>
<strong>Download von externen Rechnungen für Kunden ermöglichen</strong> = Kunden können zusätzlich zu internen Rechnungen auch externe Rechnungen herunterladen, d.h. z.B. Rechnungen, die von einem Marktplatz in das System kommen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Voraussichtliches Versanddatum</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, ob das voraussichtliche Versanddatum im Webshop angezeigt werden soll.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>