<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 06. Oktober 2021</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 30. September 2021 bis zum 06. Oktober 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_fulfillment" class="discrete">Fulfillment</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn Orange Connex einen Auftrag in mehreren Paketen versendet, dann zeigen wir von nun an alle OC Auftrags-IDs kommasepariert in den Auftragsnotizen und in der Auftragseigenschaft. Außerdem speichern wir alle Paketnummern am Auftrag.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_abonnements" class="discrete">Abonnements</h3>
<div class="ulist">
<ul>
<li>
<p>Die alten Infoboxen in der Detailansicht eines Abonnements wurden ersetzt durch neue Infoboxen mit farbiger Statusanzeige.</p>
</li>
</ul>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Die alten Infoboxen in der Detailansicht einer Nachbestellung wurden ersetzt durch neue Infoboxen mit farbiger Statusanzeige.</p>
</li>
<li>
<p>Beim Auswählen von gespeicherten Filtern im Bereich Aufträge und Zahlungen wird nun direkt die Suche ausgeführt.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_abonnements_2" class="discrete">Abonnements</h3>
<div class="ulist">
<ul>
<li>
<p>In der Abonnement-UI wurden die Artikel-ID und die Varianten-ID nicht in der Filterkomponente angezeigt. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_amazon" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Der Assistent zur Erstellung eines Amazon-Katalogs konnte nicht abgeschlossen werden, wenn bisher noch keine Eigenschaftsgruppe für Amazon existierte. Der Assistent wurde im Zuge der Fehlerbehebung auf die neue interne Eigenschaftslogik umgestellt, und sollte mit diesem Update wieder wie ursprünglich vorgesehen funktionieren.</p>
</li>
</ul>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Der Enddatumsfilter in jeder auftragsbasierten Suche funktionierte nicht korrekt. Dies wurde behoben.</p>
</li>
<li>
<p>Durch das Buchen des Warenausgangs des letzten offenen Lieferauftrages eines Auftrages wird auch der Warenausgang des Hauptauftrages gebucht. Hierbei konnte es dazu kommen, dass alle Lieferaufträge des Auftrages in den Status 7 verschoben wurde, auch wenn diese bereits in einem höheren Status waren. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_bol_com" class="discrete">bol.com</h3>
<div class="ulist">
<ul>
<li>
<p>Bei bol.com Aufträgen kommt es vor, dass auch in einem FBR Auftrag Artikel enthalten sind, die FBB sind. Diese Auftragsartikel ignorieren wir, da wir aktuell FBB nicht anbieten. Dadurch kam es aber beim Abgleich, ob alle Positionen erfolgreich erkannt wurden, zu einem Fehler, der dafür sorgte, dass der Auftrag gar nicht importiert wurde.</p>
<div class="paragraph">
<p>Dieses Verhalten wurde nun behoben, sodass die betroffenen Aufträge jetzt importiert werden.
Solange die Aufträge nicht manuell bei bol.com storniert oder als versendet markiert wurden, werden diese automatisch importiert.</p>
</div>
</li>
</ul>
</div>
<h3 id="_ebay" class="discrete">eBay</h3>
<div class="ulist">
<ul>
<li>
<p>Die Synchonisierung der Retouren-Gründe unter <strong>Einrichtung » Märkte » eBay » Datenaustausch</strong> im Tab Sonstiges war nicht mehr funktional, da der API-Call zu eBay im Hintergrund nicht mehr unterstützt wurde. Der Abruf wurde nun auf einen neuen Call umgebaut und die Synchronisierung funktioniert wieder.</p>
</li>
<li>
<p>Es konnte vorkommen, dass eBay-Retouren nicht importiert werden. Dieses Problem wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_eigenschaften" class="discrete">Eigenschaften</h3>
<div class="ulist">
<ul>
<li>
<p>Die Gruppen-ID der Texteigenschaftsverknüpfungen wurde im Hintergrund nicht mitgeschickt. Das wurde nun korrigiert.</p>
</li>
</ul>
</div>
<h3 id="_import" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn ein bereits verlinktes Versandprofil per Import noch mal verknüpft wurde, gab es eine unnötige Fehlermeldung. Diese wurde jetzt entfernt.</p>
</li>
</ul>
</div>
<h3 id="_payment" class="discrete">Payment</h3>
<div class="ulist">
<ul>
<li>
<p>In der Suche innerhalb der Neue Zahlungen-UI wurden Aufrufe mehrmals ausgeführt. Dies wurde behoben.</p>
</li>
<li>
<p>Das Zurücksetzen der Filter in der Neue Zahlungen-UI führte dazu, dass die falschen Filter für die Suche verwendet wurden. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_zalando" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Im Assistenten zur Konfiguration der Zalando-Konten wurde in den Preis-Schritten für Start- und Enddatum der geplanten Preise eine Auswahl an Eigenschaften angezeigt. Allerdings war kein Name und keine ID sichtbar. Jede Auswahl war also „leer“. Die Auswahl wird mit diesem Update korrekt mit Namen der Eigenschaften angezeigt.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt MHD und Charge mit dem Katalog Format Warenbewegungen exportieren. Die Felder sind im Katalog unter Aktienbewegungen verfügbar:</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/warenbewegungen-mhd-charge-exportieren.png" alt="Das Datenfeld BestBeforeDate in den Datenformaten." width="640"></span></p>
</div>
</li>
<li>
<p>In den Katalogen (<strong>Daten » Kataloge</strong>) steht nun ein Auftragsformat zur Verfügung, um Bestellungen und Auftragspositionen von Bestellungen zu exportieren. Weitere Informationen findest du auf der Handbuchseite <a href="/daten/daten-exportieren/katalog-bestellungen">Praxisbeipiele Kataloge für Bestellungen</a>.</p>
</li>
<li>
<p>Im Auftragsexport bei Katalogen wurden einige Namen-Felder eingeführt:</p>
<div class="ulist">
<ul>
<li>
<p>Auftrag:</p>
<div class="ulist">
<ul>
<li>
<p>Statusname</p>
</li>
<li>
<p>Name des Mandanten</p>
</li>
<li>
<p>Name des Standortes</p>
</li>
</ul>
</div>
</li>
<li>
<p>Kontakt:</p>
<div class="ulist">
<ul>
<li>
<p>Name des Kontakttyps</p>
</li>
</ul>
</div>
</li>
<li>
<p>Variante:</p>
<div class="ulist">
<ul>
<li>
<p>Name des Herstellers</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/auftragsexport-log-namen.png" alt="Das Datenfeld BestBeforeDate in den Datenformaten." width="640"></span></p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_import_2" class="discrete">Import</h3>
<div class="ulist">
<ul>
<li>
<p>Es kam vor, dass Auswahlwerte, die durch einen Assistenten angelegt worden sind, nicht direkt importiert werden konnten. Dieses Problem wurde nun behoben.</p>
</li>
<li>
<p>Importe mit der mathematischen Berechnung und Werten, die größer als 1000 sind, liefern nun das korrekte Ergebnis.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_2" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn man nach Varianten-ID filtern wollte, hat das Filter im Katalog Format Warenbewegungen nicht funktioniert. Der Fehler wurde nun behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/notificationwidget_54765" target="_blank" rel="noopener">Aktions- und Informationsleiste</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aufgrund von Änderungen an bestehenden Widgets müssen die ShopBuilder-Inhalte im Menü <strong>CMS » ShopBuilder</strong> über die Schaltfläche <strong>Inhalte neu generieren</strong> aktualisiert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/bulletpointwidget_54988" target="_blank" rel="noopener">Artikelvorteile mit Bullet Points / Listenpunkte - Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ceres_4697" target="_blank" rel="noopener">Ceres</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.40</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/glsshipping_6463" target="_blank" rel="noopener">GLS Shipping</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.3.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/io_4696" target="_blank" rel="noopener">IO</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.40</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/klarna_6731" target="_blank" rel="noopener">Klarna</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.3.8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/mirakl_6917" target="_blank" rel="noopener">Mirakl Connector</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.50</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/novalnet_5231" target="_blank" rel="noopener">Novalnet</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.2.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/postnl_7014" target="_blank" rel="noopener">PostNL</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/easycredit_5109" target="_blank" rel="noopener">ratenkauf by easyCredit</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.3.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>.</p>
</div>
</div></div>
</main>