<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with BeezUP</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up the data format BeezUp-Plugin in plentymarkets</span></a></li>
<li><a href="#300"><span>3.</span><span> Available columns for the export file</span></a></li>
<li><a href="#400"><span>4.</span><span> License</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>BeezUP</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Download BeezUP plugin</div>
<div class="paragraph">
<p>To export item data to BeezUP, you need the plugins <a href="https://marketplace.plentymarkets.com/en/plugins/channels/preisportale/elasticexportbeezup_4768" target="_blank" rel="noopener">BeezUP</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and <a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastic export</a>. You can download the plugins in the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with BeezUP</h2>
<div class="sectionbody">
<div class="paragraph">
<p>BeezUp is a tool for managing and improving the way your items are presented in price comparison portals, on markets and with affiliate services. In order to set up the BeezUP plugin, first register with <a href="https://www.beezup.com/en/" target="_blank" rel="noopener">www.beezup.com</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up the data format BeezUp-Plugin in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By installing this plugin you will receive the export format <strong>BeezUp-Plugin</strong>. Use this format to exchange data between plentymarkets and BeezUp.com using the elastic export. You also need to install the plugin <strong>Elastic export</strong> from the plentyMarketplace first before you can use the format in plentymarkets.</p>
</div>
<div class="paragraph">
<p>Once both plugins are installed in your plentymarkets system, you can create the export format <strong>BeezUp-Plugin</strong>. For more information on export formats, see the <a href="/en/data/exporting-data/elastic-export">elastic export</a> page.</p>
</div>
<div class="paragraph">
<p>BeezUp.com retrieves item data via an URL. To make sure that your item data can be exported to BeezUp.com, you have to save the URL at BeezUp.com.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new export format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New export</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Carry out the desired settings. Pay attention to the information given in <a href="#export-format">Table 1</a>.<br>
<strong><em>Note:</em></strong> There are no item filters set by default. If you do not add any item filters, all items are exported.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The export format <strong>BeezUp-Plugin</strong> is given an ID.<br>
→ The export format is shown in the <strong>Exports</strong> overview.</p>
</li>
<li>
<p>Save the URL displayed in the <strong>URL</strong> field at BeezUp.com.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="#export-format">Table 1</a> lists details for settings, format settings and recommended item filters for the format <strong>BeezUp-Plugin</strong>.</p>
</div>
<table id="export-format" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Format settings and recommended item filters for the format <strong>BeezUp-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name. The export format is listed under this name in the overview in the <strong>Exports</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type <strong>item</strong> from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>BeezUp-Plugin</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number. If you want to transfer more than 9,999 data records to the interface, the output file will not be generated again for another 24 hours. This is to save resources. If more than 9999 data records are necessary, activate the option <strong>Generate cache file</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate cache file</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option if you want to transfer more than 9999 data records to the interface.<br>
<strong><em>Note:</em></strong> We recommend that you do not activate this option for more than 20 export formats. This is to ensure a high performance of the elastic export.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>URL</strong>. Use this option to generate a token for authentication in order to allow external access.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token, URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Generate token</strong>.<br>
→ The token is entered automatically.<br>
→ A URL is created in the field <strong>URL</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The file name must have the ending <strong>.csv</strong> or <strong>.txt</strong> for BeezUp.com to be able to import the file successfully.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item filters</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add item filters</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the items you wish to export. Select one or more of the following item filters from the drop-down list and click on Add. There are no filters set by default. It is possible to add all of the item filters listed below from the drop-down list one after the other.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Variations</strong> = Select the variations to be transferred.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Transfer all</strong> = All variations are transferred.</p>
</li>
<li>
<p><strong>Only transfer main variations</strong> = Only main variations are transferred.<br></p>
</li>
<li>
<p><strong>Do not transfer main variations</strong> = Only the variations of an item are transferred. Main variations are not transferred.<br>
<strong><em>Tip:</em></strong> Use this filter option if the main variations are virtual and not for sale.</p>
</li>
<li>
<p><strong>Only transfer single variations</strong> = Only the main variations of items are transferred that have only a main variation and no other variations.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Markets</strong> = Select one or more order referrers. The selected order referrer has to be active at the variation for the item to be exported.</p>
</li>
<li>
<p><strong>Currency</strong> = Select a currency.</p>
</li>
<li>
<p><strong>Category</strong> = Activate to transfer the item with its category link. Only items that belong to this category are exported.</p>
</li>
<li>
<p><strong>Image</strong> = Activate to transfer the item with its image. Only items with images are transferred.</p>
</li>
<li>
<p><strong>Client</strong> = Select a client.</p>
</li>
<li>
<p><strong>Stock</strong> = Select which stocks should be exported.</p>
</li>
<li>
<p><strong>Flag 1-2</strong> = Select a flag.</p>
</li>
<li>
<p><strong>Manufacturers</strong> = Select one, several or <strong>ALL</strong> manufacturers.</p>
</li>
<li>
<p><strong>Active</strong> = Activate if you only want to export active variations.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Format settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose the URL that you wish to transfer to the interface. You can choose between the item’s URL and the variation’s URL.<br>
<strong><em>Note:</em></strong> URLs of variations can only be transferred in combination with the Ceres online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client. This setting is used for the URL structure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a suffix for the product URL if this is required for the export.<br>
→ This character string is added to the product URL if you have activated the <strong>transfer</strong> option for the product URL further up.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the order referrer that should be assigned during the order import from the drop-down list.<br>
→ The selected referrer is added to the product URL so that sales can be analysed later.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marketplace account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the marketplace account from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the language from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>. The names are saved in the <strong>Texts</strong> tab of the item. Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the item name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the text that you want to transfer as preview text.
Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the preview text.<br>
Activate the <strong>Remove HTML tags</strong> option if you want HTML tags to be removed during the export.<br>
If you only want to allow specific HTML tags to be exported, then enter these tags into the * Permitted HTML tags, separated by comma (def. text)* field. Use commas to separate multiple tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the text that you want to transfer as description. Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the description. Activate the option <strong>Remove HTML tags</strong> if you want HTML tags to be removed during the export. If you only want to allow specific HTML tags to be exported, then enter these tags into the field <strong>Permitted HTML tags, separated by comma (def. text)</strong> field. Use commas to separate multiple tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the target country from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the ASIN, ISBN or a GTIN from the drop-down list.<br>
<strong><em>Note:</em></strong> The barcode has to be linked to the order referrer selected above. Otherwise, the barcode will not be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Position 0</strong> or <strong>First image</strong>.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Position 0</strong> = An image with position 0 is transferred.</p>
</li>
<li>
<p><strong>First image</strong> = The first image is transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position of the energy label</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option does not affect this format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock buffer for variations with limitation to the net stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variation without stock limitation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock for variations without stock limitation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations with no stock administration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock for variations without stock administration.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Live currency conversion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option to convert the price into the currency of the selected country of delivery. The price has to be released for the corresponding currency.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select gross price or net price from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offer price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option does not affect this format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RRP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to transfer the RRP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option if you want to use the shipping costs that are saved in a configuration. If this option is activated, then you are able to select the configuration and the payment method from the drop-down lists. Activate the option <strong>Transfer flat rate shipping charge</strong> if you want to use a flat rate shipping charge. If this option is activated, a value has to be entered in the line underneath.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT note</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option does not affect this format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the <strong>overwrite</strong> option and enter item availabilities into the fields <strong>1</strong> to <strong>10</strong>. The fields represent the IDs of the availabilities. This overwrites the item availabilities that are saved in the <strong>Setup » Item » Availability</strong> menu.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Available columns for the export file</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Open the export format <strong>BeezUp-Plugin</strong> in the <strong>Data » Elastic export</strong> menu to download and edit the export file.</p>
</div>
<div class="paragraph instruction">
<p>Downloading the export file:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>In the line of the format <strong>BeezUp-Plugin</strong>, click on <strong>Download</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ The file is downloaded and saved on your computer.</p>
</li>
<li>
<p>Open the export file with an appropriate program.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Columns for properties</div>
<div class="paragraph">
<p>If you want to export items to BeezUP which are linked to properties, the export file is automatically extended by further columns for these properties. The columns in the export file have the <strong>Webshop</strong> name of the property.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="columns-export-file-beezup" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Available columns of the export file for the export format <strong>BeezUp-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column header</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produkt ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The variation ID of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Artikel Nr</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Variation number of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">MPN</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The model of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Barcode</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Marke</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the manufacturer of the item. The <strong>external name</strong> saved in the <strong>Setup » Item » Manufacturers</strong> menu is preferred if existing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produktname</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Item name</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produktbeschreibung</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Description</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Preis inkl. MwSt.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The sales price of the variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">UVP inkl. MwSt.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The recommended retail price of the variation. If the <strong>RRP</strong> is activated in the format setting and is higher than the sales price, this RRP is exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produkt-URL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The URL path of the item depending on the chosen client in the format settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild-URL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL of the image. Variation images are prioritised over item images.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild-URL2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL of the image. Variation images are prioritised over item images.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild-URL3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL of the image. Variation images are prioritised over item images.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild-URL4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL of the image. Variation images are prioritised over item images.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bild-URL5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL of the image. Variation images are prioritised over item images.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferkosten</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting Shipping costs</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf Lager</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Defines wether the variation has stock, depending on stock_detail.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lagerbestand</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The net stock of the variation. If a variation is not limited to its net stock, the stock is set to <strong>999</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lieferfrist</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the item availability saved in the <strong>Setup » Item » Availability</strong> menu or the translation according to the format setting <strong>Overwrite item availability</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie 1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the category level 1</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie 2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the category level 2</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie 3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the category level 3</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie 4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the category level 4</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie 5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the category level 5</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kategorie 6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the category level 6</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Farbe</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The value of an attribute with an attribute link for Amazon to <strong>Color</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Größe</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The value of an attribute with an attribute link for Amazon to <strong>Size</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gewicht</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The weight of the variation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grundpreis</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The base price information in the format "price / unit"<br>
<strong><em>Example:</em></strong> 10.00 EUR / kilogram</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item ID of the variation</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. License</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This project is licensed under the GNU AFFERO GENERAL PUBLIC LICENSE. Find further information in the file <a href="https://github.com/plentymarkets/plugin-elastic-export-beezup/blob/master/LICENSE.md" target="_blank" rel="noopener">LICENSE.md</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</main>