<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with billiger.de</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up the data format BilligerDE-Plugin in plentymarkets</span></a></li>
<li><a href="#300"><span>3.</span><span> Available columns for the export format</span></a></li>
<li><a href="#400"><span>4.</span><span> License</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>billiger.de</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Download billiger.de plugin</div>
<div class="paragraph">
<p>To export item data to billiger.de, you need the following plugins:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/channels/preisportale/elasticexportbilligerde_4901" target="_blank" rel="noopener">billiger.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastic export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can download these plugins in the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Installing the plugin <strong>Elastic Export</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>Elastic Export</strong> from the plugin list.<br>
→ Information about <strong>Elastic Export</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Installing the plugin <strong>billiger.de</strong></div>
<div class="content">
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Open (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>) the plugin set you want to edit.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>billiger.de</strong> from the plugin list.<br>
→ Information about <strong>billiger.de</strong> is displayed.</p>
</li>
<li>
<p>Select the version you want to install from the <strong>Select version</strong> drop-down list. The newest version is selected by default.</p>
</li>
<li>
<p>To install the plugin, click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ After installation has finished, the plugin set opens.<br>
→ Now you can configure the plugin. To do so, proceed as described below.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
→ If there’s a problem with saving the plugin set, click on <strong>View details</strong> to receive further information.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with billiger.de</h2>
<div class="sectionbody">
<div class="paragraph">
<p>billiger.de is a German price comparison portal certified by TÜV. The platform also offers test reports and customer reviews. This website is currently only available in German. In order to set up the billiger.de plugin in plentymarkets, you have to register with <a href="https://www.billiger.de/" target="_blank" rel="noopener">billiger.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> first.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up the data format BilligerDE-Plugin in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By installing this plugin you will receive the export format <strong>BilligerDE-Plugin</strong>. Use this format to exchange data between plentymarkets and billiger.de using the elastic export. You also need to install the plugin <strong>Elastic export</strong> from the plentyMarketplace first before you can use the format in plentymarkets.</p>
</div>
<div class="paragraph">
<p>Once both plugins are installed in your plentymarkets system, you can create the export format <strong>BilligerDE-Plugin</strong>. For more information on export formats, see the <a href="/en/data/exporting-data/elastic-export">elastic export</a> page.</p>
</div>
<div class="paragraph">
<p>billiger.de retrieves item data via an URL. To make sure that your item data can be exported to billiger.de, you have to save the URL at billiger.de.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new export format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New export</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Carry out the desired settings. Pay attention to the information given in <a href="#settings-billiger-de">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The export format <strong>BilligerDE-Plugin</strong> is given an ID.<br>
→ The export format is shown in the <strong>Exports</strong> overview.</p>
</li>
<li>
<p>Save the URL displayed in the <strong>URL</strong> field at billiger.de.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="#settings-billiger-de">Table 1</a> lists details for settings, format settings and recommended item filters for the format <strong>BilligerDE-Plugin</strong>.</p>
</div>
<table id="settings-billiger-de" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Format settings for BilligerDE</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name. The export format is listed by this name in the overview within the <strong>Exports</strong> tab.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the type <strong>item</strong> from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>BilligerDE-Plugin</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a number. If you want to transfer more than 9999 data records, then the output file is not generated again for another 24 hours. This is to save resources. If more than 9999 data records are necessary, the setting <strong>Generate cache file</strong> has to be active.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate cache file</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate if you want to transfer more than 9999 data records to the price search engine. We recommend that you do not activate this setting for more than 20 export formats. This is to ensure a high performance of the elastic export.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>URL</strong>. Use this option to generate a token for authentication in order to allow external access.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token, URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If you selected the option <strong>URL</strong> under <strong>Provisioning</strong>, then click on <strong>Generate token</strong>. The token is entered automatically. The URL is entered automatically if the token was generated under <strong>Token</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The file name must have the ending <strong>.csv</strong> for billiger.de to be able to import the file successfully.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item filters</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add item filters</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select an item filter from the drop-down list and click on <strong>Add</strong>. There are no filters set by default. It is possible to add multiple item filters from the drop-down list one after the other.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Variations</strong> = <strong>Transfer all</strong> or <strong>Only transfer main variations</strong>.<br></p>
</li>
<li>
<p><strong>Markets</strong> = Select one market, several or <strong>ALL</strong>. The availability for all markets selected here has to be saved for the item. Otherwise, the export will not take place.<br></p>
</li>
<li>
<p><strong>Currency</strong> = Select a currency.<br></p>
</li>
<li>
<p><strong>Category</strong> = Activate to transfer the item with its category link. Only items belonging to this category will be transmitted.<br></p>
</li>
<li>
<p><strong>Image</strong> = Activate to transfer the item with its image. Only items with images will be exported.<br></p>
</li>
<li>
<p><strong>Client</strong> = Select a client.<br></p>
</li>
<li>
<p><strong>Stock</strong> = Select which stocks you want to export.<br></p>
</li>
<li>
<p><strong>Flag 1 - 2</strong> = Select a flag.<br></p>
</li>
<li>
<p><strong>Manufacturer</strong> = Select one, several or <strong>ALL</strong> manufacturers.<br></p>
</li>
<li>
<p><strong>Active</strong> = Only active variations will be exported.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Format settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Choose the URL that you wish to transfer to the price search engine. You can choose between the item’s URL and the variation’s URL. URLs of variations can only be transferred in combination with the Ceres store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a client. This setting is used for the URL structure.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a suffix for the product URL if this is required for the export. If you activated the <strong>transfer</strong> option for the product URL further up, then this character string is added to the product URL.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the order referrer that should be assigned during the order import from the drop-down list. The selected referrer is added to the product URL so that sales can be analysed later.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marketplace account</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a marketplace account from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the language from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Name 1</strong>, <strong>Name 2</strong>, or <strong>Name 3</strong>. The names are saved in the <strong>Texts</strong> tab of the item.<br>
Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the item name.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the text that you want to transfer as preview text.<br>
Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the preview text.<br>
Activate the <strong>Remove HTML tags</strong> option if you want HTML tags to be removed during the export.<br>
If you only want to allow specific HTML tags to be exported, then enter these tags into the * Permitted HTML tags, separated by comma (def. text)* field. Use commas to separate multiple tags.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the text that you want to transfer as description.<br>
Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the description.<br>
Activate the <strong>Remove HTML tags</strong> option if you want HTML tags to be removed during the export.<br>
If you only want to allow specific HTML tags to be exported, then enter these tags into the * Permitted HTML tags, separated by comma (def. text)* field. Use commas to separate multiple tags.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target country</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the target country from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>ASIN</strong>, <strong>ISBN</strong> or an <strong>EAN</strong> from the drop-down list. The barcode has to be linked to the order referrer selected above. If the barcode is not linked to the order referrer, it will not be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>First image</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position of the energy label</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the position of the energy label. Every image that should be transferred as an energy label must have this position.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The stock buffer for variations with limitation to the net stock.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variation without stock limitation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The stock for variations without stock limitation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations with no stock administration</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The stock for variations without stock administration.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Live currency conversion</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate this option to convert the price into the currency of the selected country of delivery. The price has to be released for the corresponding currency.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select gross price or net price from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offer price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RRP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate to transfer the RRP.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The shipping costs according to the format setting <strong>Shipping costs</strong> will be transferred.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT note</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item availability</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The <strong>name of the item availability</strong> in the <strong>Setup » Item » Availability</strong> menu.<br>
Activate the <strong>overwrite</strong> option and enter item availabilities into the fields <strong>1</strong> to <strong>10</strong>. The fields represent the IDs of the availabilities. This overwrites the item availabilities that are saved in the <strong>Setup » Item » Availability</strong> menu.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Available columns for the export format</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Open the export format <strong>BilligerDE-Plugin</strong> in the <strong>Data » Elastic export</strong> menu to download and edit the export file.</p>
</div>
<div class="paragraph instruction">
<p>Downloading the export file:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>In the line of the format <strong>BilligerDE-Plugin</strong>, click on <strong>Download</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ The file is downloaded and saved on your computer.</p>
</li>
<li>
<p>Open the export file with an appropriate program.</p>
</li>
</ol>
</div>
<table id="columns-export-file-billiger-de" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Available columns of the export file for the export format <strong>BilligerDE-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Column header</strong></th>
<th class="tableblock halign-left valign-top">*Explanation*</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">aid</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Mandatory field</strong><br>
The <strong>SKU</strong> based on the <strong>variation ID</strong>, if no SKU was configured before.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">brand</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Mandatory field</strong><br>
The <strong>name of the manufacturer</strong> of the item. The <strong>external name</strong> saved in the <strong>Setup » Item » Manufacturers</strong> menu is preferred if existing.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">mpnr</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Mandatory field</strong><br>
The <strong>model</strong> of the variation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ean</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Mandatory field</strong><br>
According to the format setting <strong>Barcode</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">name</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Mandatory field</strong><br>
According to the format setting <strong>Item name</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">desc</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Mandatory field</strong><br>
According to the format setting <strong>Description</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">shop_cat</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Mandatory field</strong><br>
<strong>Category path of the standard category</strong> for the <strong>Client</strong> configured in the format settings.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">price</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Mandatory field</strong><br>
The <strong>sales price</strong> of the variation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ppu</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Mandatory field</strong><br>
The <strong>base price</strong> of the variation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">link</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Mandatory field</strong><br>
The <strong>product URL</strong> of the variation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">images</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Mandatory field</strong><br>
First image of the variation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dlv_time</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Mandatory field</strong><br>
According to the format setting <strong>Item availability</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dlv_cost</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Mandatory field</strong><br>
According to the format setting <strong>Shipping costs</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">pzn</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Mandatory field</strong><br>
The value of the characteristic <strong>pzn</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">promo_text</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>promo_text</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">voucher_text</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>voucher_text</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">eec</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>eec</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">light_socket</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>light_socket</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">wet_grip</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>wet_grip</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">fuel</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>fuel</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">rolling_noise</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>rolling_noise</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">hsn_tsn</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>hsn_tsn</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">dia</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>dia</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">bc</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>bc</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">sph_pwr</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>sph_pwr</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">cyl</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>cyl</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">axis</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>axis</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">size</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>size</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">color</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>color</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">gender</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>gender</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">material</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>material</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">class</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>class</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">features</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>features</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">style</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>style</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">old_price</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The <strong>price</strong> of the variation compared to the RRP. The higher price will be preferred.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">images</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Further images of the variation (separated by comma).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">own_brand</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>yes</strong> if no <strong>ean</strong> was found, otherwise <strong>no</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">delivery_sop</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value of the characteristic <strong>delivery_sop</strong>. The name of the characteristic in the plentymarkets back end is <strong>Available for sale</strong>, under SOP (Solute Order Platform).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">stock_quantity</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><strong>Limitation:</strong> from 0 to 9999<br>
<strong>Content:</strong> The <strong>net stock of the variation</strong>. If a variation is not limited to its net stock, the stock is set to <strong>999</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. License</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This project is licensed under the GNU AFFERO GENERAL PUBLIC LICENSE. Find further information in the file <a href="https://github.com/plentymarkets/plugin-elastic-export-billiger-de/blob/master/LICENSE.md" target="_blank" rel="noopener">LICENSE.md</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</main>