<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with econda.de</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up the data format EcondaDE-Plugin in plentymarkets</span></a></li>
<li><a href="#300"><span>3.</span><span> Available columns for the export file</span></a></li>
<li><a href="#400"><span>4.</span><span> License</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>econda</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>To export item data to econda, you need the following plugins:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastic export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/channels/preisportale/elasticexportecondade_4774" target="_blank" rel="noopener">econda</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You can download these plugins in the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Adding and installing the plugin <strong>Elastic Export</strong> in your plentymarkets system</div>
<div class="content">
<div class="paragraph instruction">
<p>Adding plugin to the system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » plentyMarketplace</strong>.<br>
→ The marketplace opens in a new tab.</p>
</li>
<li>
<p>Navigate to the plugin <strong>Elastic Export</strong>.<br>
<strong><em>Tip:</em></strong> Either use the search function or open the category <strong>Plugins » Sales » Marketplaces</strong>.</p>
</li>
<li>
<p>Open the detail view of the plugin.</p>
</li>
<li>
<p>In the column to the right, click on <strong>Go to checkout</strong>.<br>
→ The <strong>Checkout</strong> window opens.</p>
</li>
<li>
<p>Read and accept the General Terms and Conditions.</p>
</li>
<li>
<p>Click on <strong>Order now</strong>.<br>
→ Wait a few minutes before installing the plugin.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Click on the plugin set in which you want to install the plugin.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>Elastic Export</strong> from the plugin list.</p>
</li>
<li>
<p>Click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ The plugin set is shown.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
<strong><em>Tip:</em></strong> Problems saving the plugin set? Click on <strong>Open details</strong> to show additional information.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title">Adding and installing the plugin <strong>econda</strong> in your plentymarkets system</div>
<div class="content">
<div class="paragraph instruction">
<p>Adding plugin to the system:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » plentyMarketplace</strong>.<br>
→ The marketplace opens in a new tab.</p>
</li>
<li>
<p>Navigate to the plugin <strong>econda</strong>.<br>
<strong><em>Tip:</em></strong> Either use the search function or open the category <strong>Plugins » Sales » Marketplaces</strong>.</p>
</li>
<li>
<p>Open the detail view of the plugin.</p>
</li>
<li>
<p>In the column to the right, click on <strong>Go to checkout</strong>.<br>
→ The <strong>Checkout</strong> window opens.</p>
</li>
<li>
<p>Read and accept the General Terms and Conditions.</p>
</li>
<li>
<p>Click on <strong>Order now</strong>.<br>
→ Wait a few minutes before installing the plugin.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Installing plugins:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Plugins » Plugin set overview</strong>.</p>
</li>
<li>
<p>Click on the plugin set in which you want to install the plugin.<br>
→ The plugin set opens.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus-square  "></i></span> <strong>Add new plugin</strong>.</p>
</li>
<li>
<p>Select <strong>econda</strong> from the plugin list.</p>
</li>
<li>
<p>Click on <span class="icon purple"><i class="fa fa-download  "></i></span> <strong>Install</strong>.<br>
→ The plugin is installed.<br>
→ The plugin set is shown.</p>
</li>
<li>
<p>Switch the plugin active (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the plugin set.<br>
<strong><em>Tip:</em></strong> Problems saving the plugin set? Click on <strong>Open details</strong> to show additional information.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with econda.de</h2>
<div class="sectionbody">
<div class="paragraph">
<p>econda offers a controlling solution for analysing and improving online shops comprehensively.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up the data format EcondaDE-Plugin in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By installing this plugin you will receive the export format <strong>EcondaDE-Plugin</strong>. Use this format to exchange data between plentymarkets and econda using the elastic export. You need to install the plugin <strong>Elastic export</strong> from the plentyMarketplace before you can use the format in plentymarkets.</p>
</div>
<div class="paragraph">
<p>Once both plugins are installed in your plentymarkets system, you can create the export format <strong>EcondaDE-Plugin</strong>. For more information on export formats, see the <a href="/en/data/exporting-data/elastic-export">elastic export</a> page.</p>
</div>
<div class="paragraph">
<p>econda retrieves item data via an URL. To make sure that your item data can be exported to econda, you have to save the URL at econda.</p>
</div>
<div class="paragraph instruction">
<p>Creating an export format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>New export</strong>.<br>
→ The <strong>New export</strong> tab opens.</p>
</li>
<li>
<p>Carry out the desired settings. Pay attention to the explanations given in <a href="#export-format">Table 1</a>.<br>
<strong><em>Note:</em></strong> There are no item filters set by default. If you do not add any item filters, all items are exported.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The export format <strong>EcondaDE-Plugin</strong> is given an ID.<br>
→ The export format is shown in the <strong>Exports</strong> overview.</p>
</li>
<li>
<p>Save the URL displayed in the <strong>URL</strong> field at econda.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="#export-format">Table 1</a> lists details for settings, format settings and recommended item filters for the format <strong>EcondaDE-Plugin</strong>.</p>
</div>
<table id="export-format" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Format settings and recommended item filters for the format <strong>EcondaDE-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name for the export.
This is an internal name, i.e. it is not visible to customers.
The export format is listed under this name in the overview.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the type <strong>item</strong> from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>EcondaDE-Plugin</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a number.
This number determines how many items are exported at maximum.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Do you want to transmit more than 9999 items?</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Then the output file will only be generated every 24 hours. This is to save resources.</p>
</li>
<li>
<p>Then also select the option <strong>Generate cache file</strong> further below.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate cache file</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if you want to transmit more than 9999 items.<br>
<strong><em>Note:</em></strong> We recommend that you do not activate this option for more than 20 export formats. This is to ensure a high performance of the elastic export.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>URL</strong>.
This option allows external access to the file.
Third parties access the file with a URL and an authentication token.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Additional settings</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Generate token</strong> (<span class="icon darkGrey"><i class="fa fa-undo  "></i></span>).<br>
The <strong>token</strong> and <strong>URL</strong> will be entered automatically.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The file name must have the ending <strong>.csv</strong> or <strong>.txt</strong> for econda to be able to import the file successfully.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item filters</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add item filters</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the items you wish to export. To do so, select one or more item filters from the drop-down list and click on Add. There are no filters set by default. You can add all item filters listed below from the drop-down list.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Variations</strong> = Select the variations to be transferred.</p>
<div class="ulist">
<ul>
<li>
<p><strong>Transfer all</strong> = All variations are transferred.</p>
</li>
<li>
<p><strong>Only transfer main variations</strong> = Only main variations are transferred.<br></p>
</li>
<li>
<p><strong>Do not transfer main variations</strong> = Only the item’s sub-variations are transferred. Main variations are not transferred.<br>
<strong><em>Tip:</em></strong> Use this filter option if the main variations are virtual and not for sale.</p>
</li>
<li>
<p><strong>Only transfer single variations</strong> = Only those main variations of items are transferred that only have a main variation and no other variations.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Markets</strong> = Select one or more order referrers. The selected order referrer has to be active at the variation for the item to be exported.</p>
</li>
<li>
<p><strong>Currency</strong> = Select a currency.</p>
</li>
<li>
<p><strong>Category</strong> = Activate to transfer the item with its category link. Only items belonging to this category are exported.</p>
</li>
<li>
<p><strong>Image</strong> = Activate to transfer the item with its image. Only items with images are transferred.</p>
</li>
<li>
<p><strong>Client</strong> = Select a client.</p>
</li>
<li>
<p><strong>Stock</strong> = Select which stocks should be exported.</p>
</li>
<li>
<p><strong>Flag 1-2</strong> = Select a flag.</p>
</li>
<li>
<p><strong>Manufacturer</strong> = Select one, several or <strong>ALL</strong> manufacturers.</p>
</li>
<li>
<p><strong>Active</strong> = Activate if you only want to export active variations.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Format settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Choose the URL that you wish to transfer to the interface. You can choose between the item’s URL and the variation’s URL.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a client. This setting is used for the URL structure.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a suffix for the product URL if this is required for the export.<br>
→ This character string is added to the product URL if you have activated the <strong>transfer</strong> option for the product URL further up.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the order referrer that should be assigned during the order import from the drop-down list.<br>
→ The selected referrer is added to the product URL so that sales can be analysed later.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marketplace account</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the marketplace account from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the language from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>. The names are saved in the <strong>Texts</strong> tab of the item. Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the item name.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the text that you want to transfer as description. Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the description. Activate the option <strong>Remove HTML tags</strong> if you want HTML tags to be removed during the export. If you only want to allow specific HTML tags to be exported, then enter these tags into the field * Permitted HTML tags, separated by comma (def. text)* field. Use commas to separate multiple tags.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target country</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the target country from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the ASIN, ISBN or a GTIN from the drop-down list.<br>
<strong><em>Note:</em></strong> The barcode has to be linked to the order referrer selected above. Otherwise, the barcode will not be exported.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>First image</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position of the energy label</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The stock buffer for variations with limitation to the net stock.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations without stock limitation</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The stock for variations without stock limitation.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations with no stock administration</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The stock for variations without stock administration.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Live currency conversion</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate this option to convert the price into the currency of the selected country of delivery. The price has to be released for the corresponding currency.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select gross price or net price from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offer price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RRP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate to transfer the RRP.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate this option if you want to use the shipping costs that are saved in a configuration. If this option is activated, then you are able to select the configuration and the payment method from the drop-down lists. Activate the option <strong>Transfer flat rate shipping charge</strong> if you want to use a flat rate shipping charge. If this option is activated, a value has to be entered in the line underneath.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT note</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item availability</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option does not affect this format.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Available columns for the export file</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Open the export format <strong>EcondaDE-Plugin</strong> in the <strong>Data » Elastic export</strong> menu to download and edit the export file.</p>
</div>
<div class="paragraph instruction">
<p>Downloading the export file:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>In the line of the format <strong>EcondaDE-Plugin</strong>, click on <strong>Download</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ The file is downloaded and saved on your computer.</p>
</li>
<li>
<p>Open the export file with an appropriate program.</p>
</li>
</ol>
</div>
<table id="columns-export-file-econda" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Available columns of the export file for the export format <strong>EcondaDE-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Column header</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Id</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The ID of the variation</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>According to the format setting <strong>Item name</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">description</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>According to the format setting <strong>Description</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ProductURL</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The URL path of the item depending on the chosen client in the format settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ImageURL</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>URL of the image according to the format setting <strong>Image</strong>. Variation images are prioritised over item images.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The sales price of the variation</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">MSRP</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The sales price of the price type RRP of the variation</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">New</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The value from Condition for API of the variation. <strong>[0] New</strong> will be exported as <strong>New</strong>. Every other option will be exported as used.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The stock of the variation based on the limitation. The maximum value is 999.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>According to the format setting <strong>Barcode</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Brand</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The name of the manufacturer of the item. If it exists, the <strong>external name</strong> saved in the <strong>Setup » Item » Manufacturers</strong> menu is preferred.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ProductCategory</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The category path of the standard category for the client configured in the format settings</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Grundpreis</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The unit price information in the format <code>price / unit</code><br>
<strong><em>Example:</em></strong> 10.00 EUR / kilogram</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. License</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This project is licensed under the GNU AFFERO GENERAL PUBLIC LICENSE. Find further information in the file <a href="https://github.com/plentymarkets/plugin-elastic-export-econda-de/blob/master/LICENSE.md" target="_blank" rel="noopener">LICENSE.md</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</main>