<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Registering with MyBestBrands.de</span></a></li>
<li><a href="#200"><span>2.</span><span> Setting up the data format MyBestBrandsDE-Plugin in plentymarkets</span></a></li>
<li><a href="#300"><span>3.</span><span> Available columns for the export format</span></a></li>
<li><a href="#400"><span>4.</span><span> License</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>MyBestBrands</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Download MyBestBrands.de plugin</div>
<div class="paragraph">
<p>In order to be able to export item data to MyBestBrands.de, the plugins <a href="https://marketplace.plentymarkets.com/en/plugins/channels/preisportale/elasticexportmybestbrandsde_4731" target="_blank" rel="noopener">MyBestBrands.de</a> and <a href="https://marketplace.plentymarkets.com/en/plugins/sales/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastic export</a> are required. You can download the plugins in the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Registering with MyBestBrands.de</h2>
<div class="sectionbody">
<div class="paragraph">
<p>MyBestBrands.de is a recommendation platform for greatly discounted fashion and lifestyle products from well-known brand name manufacturers. In order to set up the MyBestBrands.de plugin in plentymarkets, you have to register with <a href="https://www.surveymonkey.de/r/LVX5W8K" target="_blank" rel="noopener">MyBestBrands.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> first. This website is currently only available in German.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Setting up the data format MyBestBrandsDE-Plugin in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By installing this plugin you will receive the export format <strong>MyBestBrandsDE-Plugin</strong>. Use this format to exchange data between plentymarkets and MyBestBrands.de using the elastic export. You also need to install the plugin <strong>Elastic export</strong> from the plentyMarketplace first before you can use the format in plentymarkets.</p>
</div>
<div class="paragraph">
<p>Once both plugins are installed in your plentymarkets system, you can create the export format <strong>MyBestBrandsDE-Plugin</strong>. For more information on export formats, see the <a href="/en/data/exporting-data/elastic-export">elastic export</a> page.</p>
</div>
<div class="paragraph">
<p>MyBestBrands.de retrieves item data via an URL. To make sure that your item data can be exported to MyBestBrands.de, you have to save the URL at MyBestBrands.de.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new export format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New export</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Carry out the desired settings. Pay attention to the information given in <a href="#settings-mybestbrands">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The export format <strong>MyBestBrandsDE-Plugin</strong> is given an ID.<br>
→ The export format is shown in the <strong>Exports</strong> overview.</p>
</li>
<li>
<p>Save the URL displayed in the <strong>URL</strong> field at MyBestBrands.de.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="#settings-mybestbrands">Table 1</a> lists details for settings, format settings and recommended item filters for the format <strong>MyBestBrandsDE-Plugin</strong>.</p>
</div>
<table id="settings-mybestbrands" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Format settings for MyBestBrandsDE</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name. The export format is listed by this name in the overview within the <strong>Exports</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type <strong>item</strong> from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the format <strong>MyBestBrandsDE-Plugin</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number. If you want to transfer more than 9999 data records to MyBestBrands, then the output file will not be generated again for another 24 hours. This is to save resources. If more than 9999 data records are necessary, the setting <strong>Generate cache file</strong> has to be active.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate cache file</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Place a check mark if you want to transfer more than 9999 data records to MyBestBrands. We recommend that you do not activate this setting for more than 20 export formats. This is to ensure a high performance of the elastic export.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>URL</strong>. Use this option to generate a token for authentication in order to allow external access.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The file name must have the ending <strong>.csv</strong> or <strong>.txt</strong> for MyBestBrands.de to be able to import the file successfully.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token, URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the option <strong>URL</strong> under <strong>Provisioning</strong>, then click on <strong>Generate token</strong>. The token is entered automatically. The URL is entered automatically if the token was generated under <strong>Token</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item filters</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add item filters</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select an item filter from the drop-down list and click on <strong>Add</strong>. There are no filters set by default. It is possible to add multiple item filters from the drop-down list one after the other.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Variations</strong> = <strong>Transfer all</strong> or <strong>Only transfer main variations</strong>.<br></p>
</li>
<li>
<p><strong>Markets</strong> = Select one market, several or <strong>ALL</strong>. The availability for all markets selected here has to be saved for the item. Otherwise, the export will not take place.<br></p>
</li>
<li>
<p><strong>Currency</strong> = Select a currency.<br></p>
</li>
<li>
<p><strong>Category</strong> = Activate to transfer the item with its category link. Only items belonging to this category will be transmitted.<br></p>
</li>
<li>
<p><strong>Image</strong> = Activate to transfer the item with its image. Only items with images will be exported.<br></p>
</li>
<li>
<p><strong>Client</strong> = Select a client.<br></p>
</li>
<li>
<p><strong>Stock</strong> = Select which stocks you want to export.<br></p>
</li>
<li>
<p><strong>Flag 1-2</strong> = Select a flag.<br></p>
</li>
<li>
<p><strong>Manufacturer</strong> = Select one, several or <strong>ALL</strong> manufacturers.<br></p>
</li>
<li>
<p><strong>Active</strong> = Select <strong>Active</strong>. Only active variations will be exported.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Format settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose the URL that you wish to transfer to MyBestBrands. You can choose between the item’s URL and the variation’s URL. URLs of variations can only be transferred in combination with the Ceres store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client. This setting is used for the URL structure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a suffix for the product URL if this is required for the export. If you activated the <strong>transfer</strong> option for the product URL further up, then this character string is added to the product URL.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the order referrer that should be assigned during the order import from the drop-down list. The selected referrer is added to the product URL so that sales can be analysed later.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marketplace account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a marketplace account from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the language from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Name 1</strong>, <strong>Name 2</strong>, or <strong>Name 3</strong>. These names are saved in the <strong>Texts</strong> tab of the item.<br>
Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the item name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option does not affect this format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the text that you want to transfer as description.<br>
Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the description.<br>
Activate the option <strong>Remove HTML tags</strong> if you want HTML tags to be removed during the export.<br>
If you only want to allow specific HTML tags to be exported, then enter these tags into the <strong>Permitted HTML tags, separated by comma (def. text)</strong> field. Use commas to separate multiple tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the target country from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the ASIN, ISBN, or an EAN from the drop-down list. The barcode has to be linked to the order referrer selected above. If the barcode is not linked to the order referrer, it will not be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select <strong>Position 0</strong> or <strong>First image</strong> to export this image.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Position 0</strong> = An image with position 0 is transferred.<br></p>
</li>
<li>
<p><strong>First image</strong> = The first image is transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position of the energy label</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option does not affect this format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option does not affect this format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variation without stock limitation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option does not affect this format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations with no stock administration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option does not affect this format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Live currency conversion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option to convert the price into the currency of the selected country of delivery. The price has to be released for the corresponding currency.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select gross price or net price from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offer price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option does not affect this format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RRP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to transfer the RRP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option does not affect this format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT note</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option does not affect this format.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Overwrite item availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option does not affect this format.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="300">3. Available columns for the export format</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Open the export format <strong>MyBestBrandsDE-Plugin</strong> in the <strong>Data » Elastic export</strong> menu to download and edit the export file.</p>
</div>
<div class="paragraph instruction">
<p>Downloading the export file:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>In the line of the format <strong>MyBestBrandsDE-Plugin</strong>, click on <strong>Download</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ The file is downloaded and saved on your computer.</p>
</li>
<li>
<p>Open the export file with an appropriate program.</p>
</li>
</ol>
</div>
<table id="columns-export-file-mybestbrands" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Available columns of the export file for the export format <strong>MyBestBrandsDE-Plugin</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Column header</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ProductID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The item ID of the variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ProductCategory</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The names of the categories that are linked to the variation, separated by &gt;.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deeplink</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The URL path of the item depending on the chosen client in the format settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ProductName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Item name</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ImageURL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL of the image. Item images are prioritised over variation images.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ProductDescription</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Description</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">BrandName</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name of the manufacturer of the item. The <strong>external name</strong> saved in the <strong>Setup » Item » Manufacturer</strong> menu is preferred if existing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The sales price of the variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">PreviousPrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The sales price of the variation. If the RRP is activated in the format setting and is higher than the sales price, the RRP is exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">AvailableSizes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The sizes in which the variation is available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tags</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The keywords of the item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">EAN</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">According to the format setting <strong>Barcode</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">LastUpdate</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date of the last item update.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">UnitPrice</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The base price based on the base price unit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">RetailerAttributes</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The store special set for this item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Color</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The value of an attribute with an attribute link for Amazon to Color. The value of a property of the type <strong>Text</strong> or <strong>Selection</strong> that is linked to <strong>mybestbrands.de » Farbe</strong> can also be used as an alternative.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="400">4. License</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This project is licensed under the GNU AFFERO GENERAL PUBLIC LICENSE. Find further information in the <a href="https://github.com/plentymarkets/plugin-elastic-export-rakuten-de/blob/master/LICENSE.md" target="_blank" rel="noopener">LICENSE.md</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</main>