<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Datenformate</h1><p>Willkommen im Themenbereich Datenformate. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/daten/report/datenformate/accountcontacts">accountContacts</a></li><li><a href="/daten/report/datenformate/accounts">accounts</a></li><li><a href="/daten/report/datenformate/categories">categories</a></li><li><a href="/daten/report/datenformate/feedbacks">feedbacks</a></li><li><a href="/daten/report/datenformate/itemmanufacturer">itemManufacturers</a></li><li><a href="/daten/report/datenformate/itemvariations">itemVariations</a></li><li><a href="/daten/report/datenformate/itemvariationsuppliers">itemVariationSuppliers</a></li><li><a href="/daten/report/datenformate/orderdocuments">orderDocuments</a></li><li><a href="/daten/report/datenformate/orderitemamounts">orderItemAmounts</a></li><li><a href="/daten/report/datenformate/orderitemproperties">orderItemProperties</a></li><li><a href="/daten/report/datenformate/orderitems">orderItems</a></li><li><a href="/daten/report/datenformate/orderproperties">orderProperties</a></li><li><a href="/daten/report/datenformate/orders">orders</a></li><li><a href="/daten/report/datenformate/orderstatuses">orderStatuses</a></li><li><a href="/daten/report/datenformate/paymentorderrelations">paymentOrderRelations</a></li><li><a href="/daten/report/datenformate/payments">payments</a></li><li><a href="/daten/report/datenformate/stockmanagementstock">stockManagementStock</a></li><li><a href="/daten/report/datenformate/stockmanagementstockmovements">stockManagementStockMovements</a></li><li><a href="/daten/report/datenformate/stockmanagementwarehouses">stockManagementWarehouses</a></li><li><a href="/daten/report/datenformate/tagrelations">tagRelations</a></li><li><a href="/daten/report/datenformate/tags">tags</a></li><li><a href="/daten/report/datenformate/users">users</a></li></ul>
</main>