<div class="row margin-bottom-15">
	{% if $CheckoutMethodOfPaymentID == 5500 %}
			{% $_crefoFrame = Container_CheckoutCrefoPay() %}
		{% endif %}
		{% if strlen($_crefoFrame) %}
			{% if $_crefoFrame == "PENDING" || $_crefoFrame == "ACCEPTED" %}
			<div class="col-lg-6 col-md-6 col-sm-12">
				<h4>Thank you for your order!</h4>

				<hr>

				<p>
					Your order was transmitted successfully. You will receive an order confirmation by email.
					You can also check the order overview to find details regarding your orders.
				</p>
				<p>
					{% if $_crefoFrame == "PENDING"%}
					Your payment is being processed. Payment status => $_crefoFrame
					{% else %}
					Your payment has been processed. Payment status => $_crefoFrame
					{% endif %}
				</p>

				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<a class="btn btn-default btn-block" href="{% Link_Home() %}">
							<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Back to homepage
						</a>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 margin-top-xs-1">
						<a class="btn btn-primary btn-block" href="{% Link_Home() %}?AccountShow=OrderOverView&OrderID=$_confirm->OrderID">
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Go to order overview
						</a>
					</div>
				</div>
			</div>
			{% else %}
				$_crefoFrame
			{% endif %}
		{% else %}

	<div class="col-lg-6 col-md-6 col-sm-12">
		<h4>Thank you for your order!</h4>

		<hr>

		<p>
			Your order was transmitted successfully. You will receive an order confirmation by email.
			You can also check the order overview to find details regarding your orders.
		</p>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<a class="btn btn-default btn-block" href="{% Link_Home() %}">
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Back to homepage
				</a>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6 margin-top-xs-1">
				<a class="btn btn-primary btn-block" href="{% Link_Home() %}?AccountShow=OrderOverView&OrderID=$_confirm->OrderID">
					<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Go to order overview
				</a>
			</div>
		</div>
	</div>
	{% endif %}
</div>
