<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>The difference between MFN and FBA</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Are you a do-it-yourselfer or a fan of full service? MFN and FBA have different advantages for different sellers. Learn what’s right for you before setting up your plentymarkets system to fulfill Amazon orders.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/amazon/orders/mfn-fba-part-one#video">MFN (0:33)</a></p>
<p class="tableblock"><a href="/en/videos/amazon/orders/mfn-fba-part-two#video">FBA (1:22)</a></p>
<p class="tableblock"><a href="/en/videos/amazon/orders/mfn-fba-pan-european-fba#video">Pan-European FBA (2:04)</a></p>
<p class="tableblock"><a href="/en/videos/amazon/orders/mfn-fba-multi-channel#video">Multi-Channel (2:38)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/307426121" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Amazon …​ behold the beautiful shopping panorama laid out before you. Every year it attracts more and more travelers looking to settle down with their products. You’re also feeling the pangs of wanderlust - and with your best items in tow, you’re off to the Amazon jungle.</p>
</div>
<div class="paragraph">
<p>So what awaits you? Once your items are online, let the great shopping adventure begin! But every order that’s generated means plethora of fulfilment tasks.</p>
</div>
<div class="paragraph">
<p>MFN vs. FBA. And Pan-Europe! And Multichannel! There are so many ways to experience Amazon. So how do you choose what’s right for you?</p>
</div>
<div class="paragraph">
<p>Well, for one thing, you have to know what you NEED for the type of trip you’re taking.</p>
</div>
<div class="paragraph">
<p>The experienced do-it-yourselfers amongst you might only need a plane ticket and a backpack to get what you need out of your Amazon adventure. MFN, so the Merchant Fulfilled Network, gives you more responsibility, but all the freedom to fulfil your orders as you see fit!</p>
</div>
<div class="paragraph">
<p>Since this expedition is nothing for rookies, you’ll need to have a few things in the bag: some experience, a solid e-commerce business that does everything from A to Z …​ AND you need to offer pretty great customer service.</p>
</div>
<div class="paragraph">
<p>That’s quite a bit to lug around. But despite all that baggage, you have the freedom to handle shipping, returns, credit notes etc. the way you want.</p>
</div>
<div class="paragraph">
<p>And if you meet the requirements of a Prime Seller, there’s nothing stopping you from taking advantage of perks such as fast and free delivery.</p>
</div>
<div class="paragraph">
<p>But there’s no shame in wanting a few more amenities.</p>
</div>
<div class="paragraph">
<p>FBA is kind of like the Amazon Wellness package. You don’t even have to go abroad to get the full scope of feel-good services. All you have to do is show up and relax.</p>
</div>
<div class="paragraph">
<p>Grab your speedo and let Amazon do the heavy-lifting for you. Depending on your country of business, the Amazon platform you’ll be working with stores your items in its own warehouses and takes care of all fulfilment tasks for you - so order processing, shipping, returns, credit notes etc. etc. All that with great customer service to boot.</p>
</div>
<div class="paragraph">
<p>Plus, you’re automatically eligible for Prime. That’s great for both you AND your customers.</p>
</div>
<div class="paragraph">
<p>And if you want to stay in the know, decide yourself what fulfilment steps you want imported into your system.</p>
</div>
<div class="paragraph">
<p>Amazon’s Pan-European FBA package, on the other hand, is the whopper of all wellness trips. This comprehensive international deal puts you on a first-class cruise through the Amazon Empire.</p>
</div>
<div class="paragraph">
<p>With Pan-Europe you can sell your products across Europe while placing your inventory closer to your customers. In general, fulfilling and delivering orders is faster and cheaper! And since FBA means you’re automatically eligible for Prime, Pan-Europe means you’ll reach millions of additional Prime customers across the continent!</p>
</div>
<div class="paragraph">
<p>FBA…! Whether it’s the wellness package in your home country or the big multinational cruise, you might as well go for the gold and book the additional all-inclusive option as well. With Amazon’s Multi-Channel Fulfilment, you reap all the benefits of FBA regardless of whether your item was purchased on Amazon, bol, eBay, Rakuten or whatever other eligible marketplace.</p>
</div>
<div class="paragraph">
<p>So have another eBay Sunrise! No headaches for you because Amazon’s got you covered! Cheers to that!</p>
</div>
<div class="paragraph">
<p>Now do you need a little bit of pampering or are you an adventurous do-it-yourselfer? Either way, Amazon gives you options. Once you’ve chosen the right package, it’s time to set up plentymarkets so that the vast expanse of Amazon can come to you. Check out our more in-depth tutorials to learn how!</p>
</div>
</div>
</div>
</main>