<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_overview_of_the_data_fields"><span>1.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_overview_of_the_mandatory_fields"><span>2.</span><span> Overview of the mandatory fields</span></a></li>
<li><a href="#_overview_of_the_synchronisation_fields"><span>3.</span><span> Overview of the synchronisation fields</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Category</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The data format <strong>Category</strong> is used to create or edit item categories. This data format is especially well suited for translating categories. For the translation from English into German simply export all of the categories in the language <strong>en</strong>. Then translate the names of the categories and change the value saved in the <strong>lang</strong> column to the desired language, e.g. <strong>de</strong>, before importing the file again. Create and export the data format in the <strong>Data » Dynamic export</strong> menu. Import the data format in the <strong>Data » Dynamic import</strong> menu. The <a href="/en/basics/data-exchange/export-import/exporting-data">Exporting data</a> and <a href="/en/basics/data-exchange/export-import/importing-data">Importing data</a> pages of the manual describe how you export and import the data format.</p>
</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">1. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The data fields refer to the category options that are included in the settings and descriptions. Table 1 explains the data fields for the <strong>Category</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Data fields of the data format <strong>Category</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryDescription</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Description 1 (text/HTML) for the category</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryDescription 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Description 2 (text/HTML) for the category</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryElmar</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Elmar category for this category</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryFulltextSearch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Full text search</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value for the category ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryItemListView</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The category’s template list (only for the type <strong>Item</strong>)</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Language: de / en / fr / it / es / tr<br>
For example, if the value <strong>de</strong> is used during the import, then the category name will be changed in the German language.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryLevel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category level (1-6)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value for the category ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryLinkList</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Link list for the category<br>
<strong>Display</strong> = The category will be displayed in the store’s navigation.<br>
<strong>N</strong> = The category will not be displayed in the store’s navigation.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryNameURL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name that should be used for the category’s URL.<br>
<strong><em>Important</em></strong>: Only use ASCII code. This is because the URL name may not contain special characters.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryPageView</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The category’s template page for the type <strong>Content</strong> and <strong>Item</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryParentID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the higher-ranking category</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryPlaceholder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The category’s wildcard character.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryPosition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position (number); categories can either be sorted and displayed according to the names or according to the position.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value for the category ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryRobots</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The category’s robots settings<br>
<strong>ALL</strong> = The category’s website will be included in the search engine index. Links on the page will be followed.<br>
<strong>INDEX</strong> = Included in the search engine index.<br>
<strong>NOFOLLOW</strong> = Links on the page will not be followed.<br>
<strong>NOINDEX</strong> = Not included in the search engine index.<br>
<strong>NOINDEX_NOFOLLOW</strong> = Links will not be followed and the category’s website will not be included in the search engine index.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryShortDescription</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Short description of the category</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategorySingleItemView</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The template product for a category of the type <strong>Item</strong>, template for the detailed item view</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategorySiteDescription</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta description</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategorySiteKeywords</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta keywords</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategorySiteMap</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The category’s sitemap setting<br>
<strong>Y</strong> = The category will be included in the sitemap.<br>
<strong>N</strong> = The category will not be included in the sitemap.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategorySiteTitle</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meta title</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryStoreID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Client ID for the language version of the category</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The type of category<br>
<strong>Item</strong> = An item category<br>
<strong>Content</strong> = A content category</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryVisibility</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The category’s visibility<br>
<strong>all</strong> = The category is visible.<br>
<strong>customer</strong> = The category and all of its subcategories are only visible in the plentymarkets back end.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_mandatory_fields">2. Overview of the mandatory fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following mandatory fields must be available for the data format <strong>CampaignCoupon</strong> and need to have a valid value saved for them:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>CategoryID</strong></p>
</li>
<li>
<p><strong>CategoryLang</strong></p>
</li>
<li>
<p><strong>CategoryStoreID</strong></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_synchronisation_fields">3. Overview of the synchronisation fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The data fields that are listed in table 2 are available for <a href="/en/basics/data-exchange/export-import/importing-data#25">data synchronisation</a>. These data fields are mandatory synchronisation fields. For mandatory synchronisation fields, select the option <strong>Synchronisation</strong> as <strong>Import procedure</strong>.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Data fields with the import procedure set to <strong>Synchronisation</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryLang</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Language of the category</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CategoryStoreID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Client ID</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>