<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_overview_of_the_data_fields"><span>1.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_overview_of_the_mandatory_fields"><span>2.</span><span> Overview of the mandatory fields</span></a></li>
<li><a href="#_overview_of_the_synchronisation_fields"><span>3.</span><span> Overview of the synchronisation fields</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>ItemImage</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The data format <strong>ItemImage</strong> is used to export item images.
Create and export the data format in the <strong>Data » Dynamic export</strong> menu.
The <a href="/en/data/export-import/exporting-data">Exporting data</a> page of the manual describes how you export the data format.</p>
</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">1. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Table 1 explains the data fields for the <strong>ItemImage</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Data fields of the data format <strong>ItemImage</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item image ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Image type; only relevant for the export</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the image type.<br>
<strong>INTERNAL</strong> = Images that were saved in the item data record.<br>
<strong>EXTERNAL</strong> = Image links that were imported via SOAP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageFileType</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">File format: jpg, jpeg, png, gif or svg</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageURL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item image URL</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImagePosition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Image position<br>
If no position was set, then the next highest position will be used during the import.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageLastUpdate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Last update</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageInserted</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date when the image was uploaded</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationCustomNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of the main variation</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AttributeValueID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute value ID that links the item image to the attribute value for markets. Image is only transferred to markets for variations with this attribute value.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageDelete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>1</strong> = Deletes the item image<br>
Deletes the item image completely and irreversibly when the value 1 is entered. For further information about filters, refer to the <a href="/en/data/export-import/exporting-data#20">Exporting data</a> page of the manual.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationLink</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Import only. Enter variation IDs to link an image with these variations. Use commas to separate multiple variation IDs.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_mandatory_fields">2. Overview of the mandatory fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following mandatory fields must be available for the data format <strong>ItemImage</strong> and need to have a valid value saved for them:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>ItemImageItemID</strong></p>
</li>
<li>
<p><strong>PrimaryVariationCustomNumber</strong></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_synchronisation_fields">3. Overview of the synchronisation fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The data fields that are listed in table 2 are available for <a href="/en/data/export-import/importing-data#25">data synchronisation</a>. For mandatory synchronisation fields (M), select the option <strong>Synchronisation</strong> as <strong>Import procedure</strong>. The rest of the fields can also be used for the synchronisation if desired.&nbsp;Alternative synchronisation fields are marked with an <strong>A</strong>.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Data fields with the import procedure set to <strong>Synchronisation</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Synchronisation field</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item image ID<br>
This data field is a mandatory synchronisation field when updating images.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">M</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemImageItemID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PrimaryVariationCustomNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number of the main variation</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>