<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_overview_of_the_data_fields"><span>1.</span><span> Overview of the data fields</span></a></li>
<li><a href="#_overview_of_the_mandatory_fields"><span>2.</span><span> Overview of the mandatory fields</span></a></li>
<li><a href="#_overview_of_the_synchronisation_fields"><span>3.</span><span> Overview of the synchronisation fields</span></a></li>
<li><a href="#_overview_of_the_procedures"><span>4.</span><span> Overview of the procedures</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>VariationSupplier</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Suppliers can be assigned to variations. The corresponding data is exported, edited and imported with the data format <strong>VariationSupplier</strong>. Create and export the data format in the <strong>Data » Dynamic export</strong> menu. Import the data format in the <strong>Data » Dynamic import</strong> menu. The <a href="/en/data/export-import/exporting-data">Exporting data</a> and <a href="/en/data/export-import/importing-data">Importing data</a> pages of the manual describe how you export and import the data format.</p>
</div>
<div class="paragraph">
<p>Pay close attention to the exact spelling of the data fields. The data cannot be processed if the data fields are spelled incorrectly.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_data_fields">1. Overview of the data fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Table 1 explains the data fields for the <strong>VariationSupplier</strong> data format in alphabetical order as well as filter options that you set in the <strong>Filter</strong> tab of the data format.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Data fields of the data format <strong>VariationSupplier</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Filter</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeleteSupplier</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delete supplier<br>
Value to delete = 1<br>
Delete the supplier by marking the field <strong>SupplierRowID</strong> and selecting <strong>Synchronisation</strong>.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DeliveryTimeInDays</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delivery time in days</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Discount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Discount</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Discountable</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Discountable</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ItemName</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item name</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>LastPriceQuery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The date of the last price query<br>
Format: DD.MM.YYYY</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MinimumOrderValue</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Minimum order value</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PackagingUnit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Packaging unit</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PurchasePrice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Purchase price</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SupplierID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The supplier’s ID<br>
See: <strong>Customers » Tab: Supplier</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SupplierItemNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The supplier’s item number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SupplierNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The supplier’s number<br>
See: Tab: <strong>Customer data</strong> of a supplier</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SupplierRowID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unique matching field for the suppliers. It is used if a supplier was saved several times for a variation, e.g. in order to set up different prices for various quantities.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationCustomNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation number</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode_xxx</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode<br>
<strong><em>Note</em></strong>: The number of the barcode data fields that is displayed here depends on the barcode type that you selected in the <strong>System » Item » Barcode</strong> menu. Available barcode types: <strong>GTIN 8</strong>, <strong>GTIN 13</strong>, <strong>GTIN 14</strong>, <strong>GTIN 128</strong>, <strong>ISBN</strong>, <strong>QR</strong>, <strong>CODE 128</strong> und <strong>UPC</strong>.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter, select the operator and enter the value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export for customer class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Note</em></strong>: filter setting only</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the filter and select the customer class. In order to export data for all customer classes, do not activate the filter. Go to <a href="/en/crm/managing-contacts#15">System » CRM » Classes</a> to set up customer classes.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_mandatory_fields">2. Overview of the mandatory fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following mandatory fields must be available for the data format <strong>VariationSupplier</strong> and need to have a valid value saved for them:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>SupplierID</strong></p>
</li>
<li>
<p><strong>VariationID</strong></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_synchronisation_fields">3. Overview of the synchronisation fields</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The data fields that are listed in table 2 are available for <a href="/en/data/export-import/importing-data#25">data synchronisation</a>. For mandatory synchronisation fields, select the option <strong>Synchronisation</strong> as <strong>Import procedure</strong>. The rest of the fields can also be used for the synchronisation if desired. Mandatory synchronisation fields are marked with an <strong>M</strong>.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Data fields with the import procedure set to <strong>Synchronisation</strong></caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Field name</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Synchronisation fields</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode_xxx</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode, as created in the <strong>System » Item » Barcode</strong> menu</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alternative to <strong>Variation ID</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SupplierID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Supplier ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">M</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SupplierItemNo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The supplier’s item number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alternative to <strong>Variation ID</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SupplierNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The supplier’s number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alternative to <strong>SupplierID</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SupplierRowID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unique matching field</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationCustomNumber</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation number</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alternative to <strong>Variation ID</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VariationID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation ID</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">M</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Deviating import procedure if the supplier was not yet saved for the variation</div>
<div class="paragraph">
<p>If the supplier was not yet saved for the variation, it is strictly speaking not a synchronisation, but an import. Therefore, when creating the data format, make sure that the data fields <strong>SupplierID</strong> and <strong>VariationID</strong> have the import procedure set to <strong>Import</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_overview_of_the_procedures">4. Overview of the procedures</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Procedures</strong> tab, select which procedures you want to be carried out during the data export. Activate the <strong>LastPriceQuery</strong> procedure. Select the <strong>set the current date</strong> option from the drop-down list. A timestamp will be added to the supplier data during the import, indicating when the last price query took place.</p>
</div>
</div>
</div>
</main>