<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Introducing ElasticSync</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">What’s ElasticSync? And what does it have to do with communication? This introductory video uses communication as a metaphor for importing and exporting data. Scroll down and watch the rest of the videos in this series to learn more about the tool.<br>
<strong><em>Note:</em></strong> The term <strong>ElasticSync</strong> is outdated and has been replaced by <strong>import</strong>.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/322745095" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Communication is key.
Little kids get that instinctively when they speak their first words.
But what does communication have to do with your plentymarkets system?</p>
</div>
<div class="paragraph">
<p>Well, you can think of communication as a simple exchange of ideas or information.
You communicate with your customers, business partners and suppliers. But you also communicate with your system every time you import or export data.</p>
</div>
<div class="paragraph">
<p>And that’s where ElasticSync comes into play.
You can think of ElasticSync as a sort of Swiss army knife for communication. It helps you import data into your system manually or automatically.</p>
</div>
<div class="paragraph">
<p>For example, whenever your supplier saves a list of item information, plentymarkets can access this information and then check whether it matches the data in your system.
All you need to do is create a so-called sync.</p>
</div>
<div class="paragraph">
<p>This video series teaches you all about ElasticSync and how it can help your business conquer day-to-day tasks.
So what are you waiting for? Communication is the key to success with plentymarkets!</p>
</div>
</div>
</div>
</main>