<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_exceeding_the_maximal_number_of_simultaneously_logged_in_users"><span>1.</span><span> Exceeding the maximal number of simultaneously logged in users</span></a></li>
<li><a href="#_what_has_to_be_done_if_the_maximal_number_of_simultaneously_logged_in_users_has_been_reached"><span>2.</span><span> What has to be done if the maximal number of simultaneously logged in users has been reached?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Limitation of simultaneously logged in users in the back end</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Due to the new tariff models, for customers making a new contract or a tariff change, a modification concerning the simultaneously logged in users has been made. Depending on the tariff, there is now a limitation in the number of those. <strong>Customers with an existing tariff are not concerned.</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_exceeding_the_maximal_number_of_simultaneously_logged_in_users">1. Exceeding the maximal number of simultaneously logged in users</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Is the number of simultaneously logged in users reached or exceeded, the user gets one of the two following error messages:</p>
</div>
<div class="paragraph">
<p><strong>For variable users</strong>:
Too many users. Only %d users can be logged in simultaneously in the back end. Try again soon or contact your admin.</p>
</div>
<div class="paragraph">
<p><strong>For admins</strong>:
Too many users. Only %d users can be logged in simultaneously in the back end. Upgrade your contract or go to session management.</p>
</div>
<table id="table-limitation-per-tariff" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Limitation depending on the tariff</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tariff</th>
<th class="tableblock halign-left valign-top">Maximal number of logged in users</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>STARTER Zero</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">up to 3</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>STARTER Basic</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">up to 5</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>STARTER Advanced</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">up to 10</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PRO Classic</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">up to 50</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PRO Flex</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">up to 100</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PLUS</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">no limitation</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_what_has_to_be_done_if_the_maximal_number_of_simultaneously_logged_in_users_has_been_reached">2. What has to be done if the maximal number of simultaneously logged in users has been reached?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Via the link in the error message, the admin is directly forwarded to the session management. This allows the admin to terminate the currently running sessions so he can enable the login of another user. The login is valid for 10 minutes. Afterwards, the admin is automatically logged out.<br>
The admin can access the Session Management in the back end via <strong>System » Settings » User</strong> as well as via the user icon on the top right.</p>
</div>
</div>
</div>
</main>