<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> plentymarkets erlauben, Angebote automatisch zu beenden/auszublenden</span></a></li>
<li><a href="#200"><span>2.</span><span> Bestandsautomatik aktivieren</span></a></li>
<li><a href="#300"><span>3.</span><span> Nicht mehr vorrätig-Option aktivieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practice: Nicht mehr vorrätig-Option nutzen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Best Practice erfährst du, welche Einstellungen getroffen werden müssen, damit die <strong>Nicht mehr vorrätig-Option</strong> auf eBay genutzt werden kann.<br>
Die Option signalisiert, dass ein Artikel bzw. eine Variante aktuell keinen Bestand hat.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Das Wichtigste vorab…</div>
<div class="ulist">
<ul>
<li>
<p>Die Bestandsabhängigkeit des Listings muss auf <strong>beschränkt (ohne Reservierung)</strong> eingestellt sein.</p>
</li>
<li>
<p>Die Dauer im Market-Listing muss <strong>endlos (GTC)</strong> sein.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. plentymarkets erlauben, Angebote automatisch zu beenden/auszublenden</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Listings » Warenbestand</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Angebote automatisch beenden/ausblenden</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellung.<br>
→ Der Automatismus ist nun aktiviert.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Bestandsautomatik aktivieren</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Märkte » eBay » Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsle in das <strong>Tab: Basiseinstellungen</strong>.</p>
</li>
<li>
<p>Wähle für die Option <strong>Bestandsautomatik aktivieren</strong> den Wert <strong>"Ja"</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellung.<br>
→ Dein Bestand in plentymarkets kann nun mit dem Bestand auf eBay abgeglichen werden.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Nicht mehr vorrätig-Option aktivieren</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wechsle im gleichen Menü in das <strong>Tab: Kontoeinstellungen</strong>.</p>
</li>
<li>
<p>Wähle das Konto, für das du die Option nutzen möchtest.</p>
</li>
<li>
<p>Wähle für die Option <strong>Nicht mehr vorrätig-Option nutzen</strong> den Wert <strong>Ja</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellung.<br>
→ Die Option wird auch bei eBay direkt automatisch aktiviert.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Abwarten und Tee trinken</div>
<div class="paragraph">
<p>Du hast nun alle nötigen Einstellungen innerhalb von plentymarkets getroffen.<br>
Innerhalb der nächsten 20 Minuten werden Artikel/Varianten ohne Bestand durch die automatischen Prozesse bei eBay ausgbelendet.<br>
Sobald du wieder Bestand am Artikel hinzufügst, wird dein Artikel wieder eingeblendet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>