<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Warum werden keine Aufträge in mein System importiert?</span></a></li>
<li><a href="#200"><span>2.</span><span> Ungültige Variantenauswahl im Market-Listing</span></a></li>
<li><a href="#300"><span>3.</span><span> Warum wird mein Listing nicht automatisch beendet oder neu gestartet?</span></a></li>
<li><a href="#400"><span>4.</span><span> Welcher Preis wird bei mehreren Verkaufspreisen priorisiert?</span></a></li>
<li><a href="#500"><span>5.</span><span> Warum wird mein Auftrag bei eBay als eBay Plus-Auftrag angezeigt, in plentymarkets aber nicht?</span></a></li>
<li><a href="#600"><span>6.</span><span> Was darf ich wann an meinen aktiven Listings ändern?</span></a></li>
<li><a href="#700"><span>7.</span><span> Was sagen die verschiedenen Fehlercodes aus?</span></a>
<ul class="sectlevel2">
<li><a href="#710"><span>7.1.</span><span> Variantenmerkmale können nicht geändert werden. Variantenmerkmale können im beschränkten Bearbeitungsmodus nicht geändert werden.</span></a></li>
<li><a href="#720"><span>7.2.</span><span> Fehlende Übereinstimmung bei den Variantenmerkmalen. Die eingegebenen Variantenmerkmale stimmen nicht mit den Variantenmerkmalen des Artikels überein.</span></a></li>
</ul>
</li>
<li><a href="#800"><span>8.</span><span> Wie funktioniert der eBay-Bilderservice und wann wird dieser verwendet?</span></a>
<ul class="sectlevel2">
<li><a href="#810"><span>8.1.</span><span> Listing eines einzelnen Artikels</span></a></li>
<li><a href="#820"><span>8.2.</span><span> Listing eines Varianten-Artikels</span></a></li>
</ul>
</li>
<li><a href="#900"><span>9.</span><span> Warum wird die Telefonnummer beim Auftragsimport nicht übergeben?</span></a></li>
<li><a href="#1000"><span>10.</span><span> Vereinbarungen zum internationalen Verkauf</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>FAQ</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Best Practice erfährst du, wie du in vereinzelten Situationen handeln musst, damit dein gewünschtes Ergebnis erzielt wird.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Warum werden keine Aufträge in mein System importiert?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hier schafft oft schon der Blick in das Log Abhilfe. Speziell für Aufträge ist der Vorgang <strong>AuctionControllerOrders</strong> interessant.</p>
</div>
<div class="olist upperalpha">
<ol class="upperalpha" type="A">
<li>
<p>Ist dein eBay-Token abgelaufen?
Überprüfe das im Menü <strong>Einrichtung » Märkte » eBay » Konten</strong>.</p>
</li>
<li>
<p>Ist der Auftrag im Datenaustausch gelandet?
Dies passiert, wenn ein Kunde die Kaufabwicklung nicht abgeschlossen hat und die Versandkosten von eBay berechnen lässt.
Unter <strong>Einrichtung » Märkte » eBay » Datenaustausch</strong> können diese Aufträge eingesehen werden.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Ungültige Variantenauswahl im Market-Listing</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Ist die Variante für den Export freigeschaltet?</div>
<div class="paragraph">
<p>Bitte prüfe zunächst, ob deine Varianten für den Export freigeschaltet sind.<br>
Mehr dazu kannst du in dem dazugehörigen Best Practice lesen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wenn die Einstellungen an den Varianten für den Export korrekt sind, kann die Ursache eine geänderte Inhaltseinstellung sein.<br>
Sobald du nach der Erstellung des Listings nochmal Änderungen am Inhalt der Variante vornimmst, muss diese Änderung auch auf das Listing übertragen werden.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne die LID des Listings, um das es sich handelt.<br></p>
</li>
</ol>
</div>
<div id="listing-bearbeiten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-ebay-listing-bearbeiten.png" alt="Schaltfläche &quot;Listing bearbeiten&quot;">
</div>
<div class="title">Bild 1. Schaltfläche <strong>Listing bearbeiten</strong> in der Suche nach der LID</div>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Passe den Inhalt in den Listing-Einstellungen an und speichere danach deine Auswahl.<br></p>
</li>
</ol>
</div>
<div id="listing-einstellungen" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/maerkte/assets/bp-ebay-listing-einstellungen.png" alt="Listing-Einstellungen">
</div>
<div class="title">Bild 2. Auswahl für den Inhalt in den Listing-Einstellungen</div>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Warum wird mein Listing nicht automatisch beendet oder neu gestartet?</h2>
<div class="sectionbody">
<div class="olist upperalpha">
<ol class="upperalpha" type="A">
<li>
<p>Ist die Option <strong>Angebote automatisch beenden/ausblenden</strong> aktiviert?
Diese findest du unter <strong>Einrichtung » Listings » Warenbestand</strong>.</p>
</li>
<li>
<p>Ist die Bestandsautomatik aktiviert?
Diese findest du unter <strong>Einrichtung » Märkte » eBay » Grundeinstellungen » Basiseinstellungen</strong>.
Die Bestandsabhängigkeit muss dabei auf <strong>beschränkt (ohne Reservierung)</strong> stehen.</p>
</li>
<li>
<p>Ist die Option <strong>"Nicht mehr vorrätig"-Option nutzen</strong> aktiviert?
Diese findest du unter <strong>Einrichtung » Märkte » eBay » Grundeinstellungen » Kontoeinstellungen</strong>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="400">4. Welcher Preis wird bei mehreren Verkaufspreisen priorisiert?</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehrere Verkaufspreise</div>
<div class="paragraph">
<p>Du kannst unter <strong>Einrichtung » Artikel » Verkaufspreise</strong> so viele Preise erstellen, wie du möchtest.<br>
Somit kannst du auch für jedes eBay-Konto oder jede eBay-Plattform einen eigenen Preis anlegen, sofern sich die Preise unterscheiden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Bei mehreren Verkaufspreisen, die ähnliche Einstellungen haben, werden die Preise nach festgelegten Kriterien priorisiert.<br>
Hier kannst du die Prioritäten nachlesen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verkaufspreise, die nur für einen <strong>Marktplatz</strong> eingestellt sind, haben eine größere Priorität als Verkaufspreise, die für mehrere oder alle <strong>Marktplätze</strong> freigeschaltet sind.<br></p>
</li>
<li>
<p>Verkaufspreise, die nur für ein <strong>Land</strong> eingestellt sind, haben eine größere Priorität als Verkaufspreise, die für mehrere oder alle <strong>Länder</strong> freigeschaltet sind.<br></p>
</li>
<li>
<p>Verkaufspreise, die nur für ein <strong>eBay-Konto</strong> eingestellt sind, haben eine größere Priorität als Verkaufspreise, die für mehrere oder alle <strong>Konten</strong> freigeschaltet sind.<br></p>
</li>
<li>
<p>Verkaufspreise, die nur für eine <strong>Währung</strong> eingestellt sind, haben eine größere Priorität als Verkaufspreise, die für mehrere oder alle <strong>Währungen</strong> freigeschaltet sind.<br></p>
</li>
<li>
<p>Verkaufspreise, die eine höhere <strong>"Ab Menge"</strong> haben, haben eine größere Priorität als Verkaufspreise die <strong>“Ab Menge”</strong> gleich 1 haben.<br></p>
</li>
<li>
<p>Verkaufspreise, die nur für eine <strong>Kundenklasse</strong> eingestellt sind, haben eine größere Priorität als Verkaufspreise, die für mehrere oder alle <strong>Kundenklassen</strong> freigeschaltet sind.<br></p>
</li>
</ul>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Wichtig</div>
<div class="paragraph">
<p>Dabei werden nur Verkaufspreise geprüft, die die entsprechenden Suchkriterien erfüllen.
Für eBay berücksichtigen wir die Herkunft und die eBay-Konten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">5. Warum wird mein Auftrag bei eBay als eBay Plus-Auftrag angezeigt, in plentymarkets aber nicht?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Generell ist es hier wichtig zu wissen, dass die Markierung für eBay Plus erst an uns übergeben wird, wenn der Kunde die Kaufabwicklung auf eBay abgeschlossen hat.</p>
</div>
<div class="paragraph">
<p>In dem Fall, dass die Versandkosten von eBay berechnet werden, landen Aufträge, bei denen die Kaufabwicklung noch nicht abgeschlossen wurde, im Datenaustausch unter <strong>Einrichtung » Märkte » eBay » Datenaustausch</strong>.<br>
Im Bereich <strong>Einrichtung » Listings » Kaufabwicklung</strong> kann man nun die Option <strong>Offene eBay-Aufträge automatisch zusammenfassen</strong> finden.<br>
Sollte dort beispielsweise eine Dauer von einer Stunde eingestellt sein, werden die Aufträge, unabhängig davon, ob die Kaufabwicklung abgeschlossen wurde oder nicht, nach einer Stunde ins System geholt.<br></p>
</div>
<div class="paragraph">
<p>Die Markierung für eBay-Plus wird im Nachhinein <strong>nicht mehr abgefragt</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="600">6. Was darf ich wann an meinen aktiven Listings ändern?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Auf der folgenden eBay-Seite kannst du genau sehen, welche Änderungen du zu welchem Zeitpunkt an deinem aktiven eBay-Listing noch vornehmen darfst:<br>
<a href="http://pages.ebay.de/help/sell/listing-variations.html" target="_blank" rel="noopener">Änderung am aktiven Listing</a></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Wichtig</div>
<div class="paragraph">
<p>Wenn du bereits Verkäufe bei deinem Angebot hattest, kannst du dein Listing nur noch beschränkt bearbeiten! Für genauere Informationen klicke bitte oben auf den Link.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="700">7. Was sagen die verschiedenen Fehlercodes aus?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Viele Fehler, die beim Listen auftreten können, kommen direkt von eBay und werden von plentymarkets genau so angezeigt.
Die folgende Liste verschafft dir einen Überblick über die direkten Fehlermeldungen von eBay:
<a href="http://developer.ebay.com/devzone/xml/docs/reference/ebay/errors/errormessages.htm" target="_blank" rel="noopener">eBay-Fehlermeldungen</a></p>
</div>
<div class="sect2">
<h3 id="710">7.1. Variantenmerkmale können nicht geändert werden. Variantenmerkmale können im beschränkten Bearbeitungsmodus nicht geändert werden.</h3>
<div class="paragraph">
<p>Beachte hier den Punkt <strong>Was darf ich wann an meinen aktiven Listings ändern?</strong><br>
Wenn diese Fehlermeldung auftaucht, stimmen die Varianten in plentymarkets nicht mehr mit denen auf eBay überein.<br>
Die Varianten (sowohl der Attributname als auch die Werte) müssen also wieder auf den Stand des Listings geändert werden.</p>
</div>
<div class="paragraph">
<p><strong>Lösung:</strong><br>
Vergleiche die Attribute und Attributwerte auf eBay mit denen in plentymarkets. Berücksichtige dabei auch die Attributsverknüpfung unter <strong>Einrichtung » Artikel » Attribute</strong>, wenn für die entsprechende Kategorie eine verwendet wird.<br></p>
</div>
</div>
<div class="sect2">
<h3 id="720">7.2. Fehlende Übereinstimmung bei den Variantenmerkmalen. Die eingegebenen Variantenmerkmale stimmen nicht mit den Variantenmerkmalen des Artikels überein.</h3>
<div class="paragraph">
<p>Diese Fehlermeldung kann entweder beim automatischen Relisten durch den CronJob ausgegeben werden oder wenn man die Option <strong>Beenden und neu starten</strong> wählt.<br></p>
</div>
<div class="paragraph">
<p>Wenn eine dieser Optionen zutrifft, ist es theoretisch möglich, das Ranking des alten Listings zu erhalten und auf das neue Listing zu übertragen.<br>
Aber auch hier erwartet eBay, dass sich die bereits verkauften Varianten im beendeten Listing <strong>nicht verändern</strong>.<br>
Ist das der Fall, wird die genannte Fehlermeldung ausgegeben und das Neustarten schlägt fehl:<br></p>
</div>
<div class="paragraph">
<p><strong>Lösung</strong>:<br>
A.
Du stellst die Varianten wieder so her, wie sie im alten Listing waren.
Sprich: Falls du Varianten entfernt hast, musst du diese wieder hinzufügen. Wenn du Namen geändert hast, musst du die Änderung wieder rückgängig machen oder eine Attributsverknüpfung unter <strong>Einrichtung » Artikel » Attribute</strong> für das entsprechende Attribut erstellen.</p>
</div>
<div class="paragraph">
<p>B.
Du beendest das Listing mit der Option <strong>Beenden und löschen</strong> und startest es anschließend wieder über die Gruppenfunktion.
Dabei geht das Ranking deines Listings allerdings verloren.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="800">8. Wie funktioniert der eBay-Bilderservice und wann wird dieser verwendet?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim eBay-Bilderservice werden die Listing-Bilder zu eBay hochgeladen und von deren Servern am Listing zur Verfügung gestellt. Ohne den eBay-Bilderservice wird das Bild am Listing von den plentymarkets-Servern abgerufen.</p>
</div>
<div class="paragraph">
<p>Inwieweit man den eBay-Bilderservice benutzen kann bzw. muss wird in der Folge erläutert:</p>
</div>
<div class="sect2">
<h3 id="810">8.1. Listing eines einzelnen Artikels</h3>
<div class="paragraph">
<p><strong>Ein Bild:</strong><br>
Die Einstellung unter <strong>Einrichtung » Märkte » eBay » Grundeinstellungen » Basiseinstellungen</strong> greift.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Aktiviert</strong>: Das Bild wird zu eBay hochgeladen.</p>
</li>
<li>
<p><strong>Deaktiviert</strong>: Das Bild am Listing wird von unseren Servern zur Verfügung gestellt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Mehr als ein Bild:</strong><br>
Der eBay-Bilderservice wird automatisch verwendet. Die Einstellung in den Basiseinstellungen wird in diesem Fall ignoriert!</p>
</div>
</div>
<div class="sect2">
<h3 id="820">8.2. Listing eines Varianten-Artikels</h3>
<div class="paragraph">
<p><strong>Ein Bild:</strong><br>
Die Einstellung unter <strong>Einrichtung » Märkte » eBay » Grundeinstellungen » Basiseinstellungen</strong> greift.</p>
</div>
<div class="paragraph">
<p><strong>Aktiviert</strong>: Das Bild wird zu eBay hochgeladen.</p>
</div>
<div class="paragraph">
<p><strong>Deaktiviert</strong>: Das Bild am Listing wird von unseren Servern zur Verfügung gestellt. In diesem Fall darfst du ebenfalls jede Variante mit einem unterschiedlichen Bild verknüpfen.<br>
Bei beispielsweise 10 Varianten darfst du somit 11 verschiedene Bilder hochladen, ohne den eBay-Bilderservice zu verwenden - ein Galeriebild und 10 Varianten-Bilder.</p>
</div>
<div class="paragraph">
<p><strong>Mehr als ein Bild:</strong><br>
Der eBay-Bilderservice wird automatisch verwendet. Die Einstellung in den Basiseinstellungen wird in diesem Fall ignoriert!</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="900">9. Warum wird die Telefonnummer beim Auftragsimport nicht übergeben?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Standardeinstellung bei eBay ist, dass für das Feld der Telefonnummer “Invalid Request” an plenty übergeben wird.</p>
</div>
<div class="paragraph">
<p><strong>Lösung:</strong><br>
Bei eBay einloggen und unter <strong>Kontoeinstellungen » Einstellungen » Versandeinstellungen</strong> die Option <strong>Für den Versand ist eine Telefonnummer erforderlich</strong> aktivieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">10. Vereinbarungen zum internationalen Verkauf</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die Vereinbarung zum internationalen Verkauf muss akzeptiert werden, sobald ein Artikel auf einer internationalen Plattform eingestellt werden soll.
Du kannst die Vereinbarung <a href="https://scgi.ebay.de/ws/ebayISAPI.dll?UserAgreementV2&amp;isemail=1&amp;agrid=7&amp;aid=1&amp;UserAgreement=&amp;guest=1" target="_blank" rel="noopener">direkt bei eBay</a> akzeptieren.</p>
</div>
</div>
</div>
</main>