<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#artikel"><span>1.</span><span> Artikel für eBay freischalten</span></a>
<ul class="sectlevel2">
<li><a href="#_verkaufspreis_einrichten"><span>1.1.</span><span> Verkaufspreis einrichten</span></a></li>
<li><a href="#_artikel_konfigurieren"><span>1.2.</span><span> Artikel konfigurieren</span></a></li>
</ul>
</li>
<li><a href="#option"><span>2.</span><span> "Nicht mehr vorrätig"-Option  benutzen</span></a>
<ul class="sectlevel2">
<li><a href="#_plentymarkets_erlauben_angebote_automatisch_zu_beendenauszublenden"><span>2.1.</span><span> plentymarkets erlauben, Angebote automatisch zu beenden/auszublenden</span></a></li>
<li><a href="#_bestandsautomatik_aktivieren"><span>2.2.</span><span> Bestandsautomatik aktivieren</span></a></li>
<li><a href="#_nicht_mehr_vorrätig_option_aktivieren"><span>2.3.</span><span> Nicht mehr vorrätig-Option aktivieren</span></a></li>
</ul>
</li>
<li><a href="#faq"><span>3.</span><span> FAQ</span></a>
<ul class="sectlevel2">
<li><a href="#_warum_werden_keine_aufträge_in_mein_system_importiert"><span>3.1.</span><span> Warum werden keine Aufträge in mein System importiert?</span></a></li>
<li><a href="#_ungültige_variantenauswahl_im_market_listing"><span>3.2.</span><span> Ungültige Variantenauswahl im Market-Listing</span></a></li>
<li><a href="#_warum_wird_mein_listing_nicht_automatisch_beendet_neu_gestartet"><span>3.3.</span><span> Warum wird mein Listing nicht automatisch beendet / neu gestartet?</span></a></li>
<li><a href="#_welcher_preis_wird_bei_mehreren_verkaufspreisen_priorisiert"><span>3.4.</span><span> Welcher Preis wird bei mehreren Verkaufspreisen priorisiert?</span></a></li>
<li><a href="#_warum_wird_mein_auftrag_bei_ebay_als_ebay_plus_auftrag_angezeigt_in_plentymarkets_aber_nicht"><span>3.5.</span><span> Warum wird mein Auftrag bei eBay als eBay-Plus-Auftrag angezeigt, in plentymarkets aber nicht?</span></a></li>
<li><a href="#_was_darf_ich_wann_an_meinen_aktiven_listings_ändern"><span>3.6.</span><span> Was darf ich wann an meinen aktiven Listings ändern?</span></a></li>
<li><a href="#_was_sagen_die_verschiedenen_fehlercodes_aus"><span>3.7.</span><span> Was sagen die verschiedenen Fehlercodes aus?</span></a>
<ul class="sectlevel3">
<li><a href="#_variantenmerkmale_können_nicht_geändert_werden_variantenmerkmale_können_im_beschränkten_bearbeitungsmodus_nicht_geändert_werden"><span>3.7.1.</span><span> Variantenmerkmale können nicht geändert werden. Variantenmerkmale können im beschränkten Bearbeitungsmodus nicht geändert werden.</span></a></li>
<li><a href="#_fehlende_übereinstimmung_bei_den_variantenmerkmalen_die_eingegebenen_variantenmerkmale_stimmen_nicht_mit_den_variantenmerkmalen_des_artikels_überein"><span>3.7.2.</span><span> Fehlende Übereinstimmung bei den Variantenmerkmalen. Die eingegebenen Variantenmerkmale stimmen nicht mit den Variantenmerkmalen des Artikels überein.</span></a></li>
</ul>
</li>
<li><a href="#_wie_funktioniert_der_ebay_bilderservice_und_wann_wird_dieser_verwendet"><span>3.8.</span><span> Wie funktioniert der eBay-Bilderservice und wann wird dieser verwendet?</span></a>
<ul class="sectlevel3">
<li><a href="#_listing_eines_einzelnen_artikels"><span>3.8.1.</span><span> Listing eines einzelnen Artikels</span></a></li>
<li><a href="#_listing_eines_varianten_artikels"><span>3.8.2.</span><span> Listing eines Varianten-Artikels</span></a></li>
</ul>
</li>
<li><a href="#_warum_wird_die_telefonnummer_beim_auftragsimport_nicht_übergeben"><span>3.9.</span><span> Warum wird die Telefonnummer beim Auftragsimport nicht übergeben?</span></a></li>
<li><a href="#_vereinbarungen_zum_internationalen_verkauf"><span>3.10.</span><span> Vereinbarungen zum internationalen Verkauf</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practices: eBay</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hier findest du Best Practices zu dem Marktplatz <strong>eBay</strong>.</p>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="artikel">1. Artikel für eBay freischalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Best Practice bereiten wir einen Artikel für den Export zu eBay vor und zeigen dir, wie du vorgehen musst.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Das Wichtigste vorab…</div>
<div class="paragraph">
<p>Stelle sicher, dass du unter <strong>System » Aufträge » Auftragsherkunft</strong> die Auftragsherkünfte <strong>eBay</strong> (2) und <strong>eBay Germany</strong> (2.08) aktiviert hast.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_verkaufspreis_einrichten">1.1. Verkaufspreis einrichten</h3>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>System » Artikel » Verkaufspreise</strong>.</p>
</li>
<li>
<p>Lege einen neuen Verkaufspreis an.</p>
</li>
<li>
<p>Konfiguriere folgende Punkte:</p>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><i class="fa fa-square-o"></i> Währung</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Mandant</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Klasse</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Land</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Herkunft</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> eBay-Konto<br>
→ Der Standardmandant muss für den Verkaufspreis aktiviert sein.</p>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Kein Aktionspreis oder UVP</div>
<div class="paragraph">
<p>Wenn du nur einen Verkaufspreis für eBay hinterlegt hast, darf dieser kein UVP oder Aktionspreis sein. Der Preistyp UVP darf nur ausgewählt werden, wenn bereits ein anderer gültiger eBay-Preis existiert, der kein UVP ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_artikel_konfigurieren">1.2. Artikel konfigurieren</h3>
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne deinen Artikel und wechsle in das <strong>Tab: Varianten</strong>.</p>
</li>
<li>
<p>Konfiguriere die aufgeführten Einstellungen in den folgenden Tabs:<br>
→ <strong>Einstellungen</strong>: Häkchen bei <strong>Aktiv</strong> setzen.<br>
→ <strong>Einstellungen</strong>: Verkaufspreis hinterlegen.<br>
→ <strong>Verfügbarkeit</strong>: Im Bereich <strong>Märkte</strong> eine Herkunft für eBay hinterlegen.</p>
</li>
<li>
<p>Handelt es sich um einen Artikel mit Varianten, kann die Vererbung über die Varianten-Gruppenfunktion aktiviert werden.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="option">2. "Nicht mehr vorrätig"-Option  benutzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Best Practice erfährst du, welche Einstellungen getroffen werden müssen, damit die <strong>Nicht mehr vorrätig-Option</strong> auf eBay genutzt werden kann.<br>
Die Option signalisiert, dass ein Artikel bzw. eine Variante aktuell keinen Bestand hat.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Das Wichtigste vorab…</div>
<div class="ulist">
<ul>
<li>
<p>Die Bestandsabhängigkeit des Listings muss auf <strong>beschränkt (ohne Reservierung)</strong> eingestellt sein.</p>
</li>
<li>
<p>Die Dauer im Market-Listing muss <strong>endlos (GTC)</strong> sein.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_plentymarkets_erlauben_angebote_automatisch_zu_beendenauszublenden">2.1. plentymarkets erlauben, Angebote automatisch zu beenden/auszublenden</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>System » Listings » Warenbestand</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Angebote automatisch beenden/ausblenden</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellung.<br>
→ Der Automatismus ist nun aktiviert.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_bestandsautomatik_aktivieren">2.2. Bestandsautomatik aktivieren</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>System » Märkte » eBay » Einstellungen</strong>.</p>
</li>
<li>
<p>Wechsle in das <strong>Tab: Basiseinstellungen</strong>.</p>
</li>
<li>
<p>Wähle für die Option <strong>Bestandsautomatik aktivieren</strong> den Wert <strong>"Ja"</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellung.<br>
→ Dein Bestand in plentymarkets kann nun mit dem Bestand auf eBay abgeglichen werden.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_nicht_mehr_vorrätig_option_aktivieren">2.3. Nicht mehr vorrätig-Option aktivieren</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wechsle im gleichen Menü in das <strong>Tab: Kontoeinstellungen</strong>.</p>
</li>
<li>
<p>Wähle das Konto, für das du die Option nutzen möchtest.</p>
</li>
<li>
<p>Wähle für die Option <strong>Nicht mehr vorrätig-Option nutzen</strong> den Wert <strong>Ja</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellung.<br>
→ Die Option wird auch bei eBay direkt automatisch aktiviert.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Abwarten und Tee trinken</div>
<div class="paragraph">
<p>Du hast nun alle nötigen Einstellungen innerhalb von plentymarkets getroffen.<br>
Innerhalb der nächsten 20 Minuten werden Artikel/Varianten ohne Bestand durch die automatischen Prozesse bei eBay ausgbelendet.<br>
Sobald du wieder Bestand am Artikel hinzufügst, wird dein Artikel wieder eingeblendet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1 adoc">
<h2 id="faq">3. FAQ</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Block erfährst du, wie du in vereinzelten Situationen handeln musst, damit dein gewünschtes Ergebnis erzielt wird.</p>
</div>
<div class="sect2">
<h3 id="_warum_werden_keine_aufträge_in_mein_system_importiert">3.1. Warum werden keine Aufträge in mein System importiert?</h3>
<div class="paragraph">
<p>Hier schafft oft schon der Blick in das Log Abhilfe. Speziell für Aufträge ist der Vorgang <strong>AuctionControllerOrders</strong> interessant.</p>
</div>
<div class="olist upperalpha">
<ol class="upperalpha" type="A">
<li>
<p>Ist dein eBay-Token abgelaufen?
Überprüfe das im Menü <strong>System » Märkte » eBay » Konten</strong>.</p>
</li>
<li>
<p>Ist der Auftrag im Datenaustausch gelandet?
Dies passiert, wenn ein Kunde die Kaufabwicklung nicht abgeschlossen hat und die Versandkosten von eBay berechnen lässt.
Unter <strong>System » Märkte » eBay » Datenaustausch</strong> können diese Aufträge eingesehen werden.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_ungültige_variantenauswahl_im_market_listing">3.2. Ungültige Variantenauswahl im Market-Listing</h3>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Ist die Variante für den Export freigeschaltet?</div>
<div class="paragraph">
<p>Bitte prüfe zunächst, ob deine Varianten für den Export freigeschaltet sind.<br>
Mehr dazu kannst du in dem dazugehörigen Best Practice lesen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wenn die Einstellungen an den Varianten für den Export korrekt sind, kann die Ursache eine geänderte Inhaltseinstellung sein.<br>
Sobald du nach der Erstellung des Listings nochmal Änderungen am Inhalt der Variante vornimmst, muss diese Änderung auch auf das Listing übertragen werden.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne die LID des Listings, um das es sich handelt.<br></p>
</li>
</ol>
</div>
<div id="listing-bearbeiten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/ebay/assets/bp-ebay-listing-bearbeiten.png" alt="Button &quot;Listing bearbeiten&quot;">
</div>
<div class="title">Bild 1. Button <strong>Listing bearbeiten</strong> in der Suche nach der LID</div>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Passe den Inhalt in den Listing-Einstellungen an und speichere danach deine Auswahl.<br></p>
</li>
</ol>
</div>
<div id="listing-einstellungen" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/_best-practices/omni-channel/multi-channel/ebay/assets/bp-ebay-listing-einstellungen.png" alt="Listing-Einstellungen">
</div>
<div class="title">Bild 2. Auswahl für den Inhalt in den Listing-Einstellungen</div>
</div>
</div>
<div class="sect2">
<h3 id="_warum_wird_mein_listing_nicht_automatisch_beendet_neu_gestartet">3.3. Warum wird mein Listing nicht automatisch beendet / neu gestartet?</h3>
<div class="olist upperalpha">
<ol class="upperalpha" type="A">
<li>
<p>Ist die Option <strong>Angebote automatisch beenden/ausblenden</strong> aktiviert?
Diese findest du unter <strong>System » Listings » Warenbestand</strong>.</p>
</li>
<li>
<p>Ist die Bestandsautomatik aktiviert?
Diese findest du unter <strong>System » Märkte » eBay » Grundeinstellungen » Basiseinstellungen</strong>.
Die Bestandsabhängigkeit muss dabei auf <strong>beschränkt (ohne Reservierung)</strong> stehen.</p>
</li>
<li>
<p>Ist die Option <strong>"Nicht mehr vorrätig"-Option nutzen</strong> aktiviert?
Diese findest du unter <strong>System » Märkte » eBay » Grundeinstellungen » Kontoeinstellungen</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_welcher_preis_wird_bei_mehreren_verkaufspreisen_priorisiert">3.4. Welcher Preis wird bei mehreren Verkaufspreisen priorisiert?</h3>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehrere Verkaufspreise</div>
<div class="paragraph">
<p>Du kannst unter <strong>System » Artikel » Verkaufspreise</strong> so viele Preise erstellen, wie du möchtest.<br>
Somit kannst du auch für jedes eBay-Konto oder jede eBay-Plattform einen eigenen Preis anlegen, sofern sich die Preise unterscheiden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Bei mehreren Verkaufspreisen, die ähnliche Einstellungen haben, werden die Preise nach festgelegten Kriterien priorisiert.<br>
Hier kannst du die Prioritäten nachlesen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Verkaufspreise, die nur für einen <strong>Marktplatz</strong> eingestellt sind, haben eine größere Priorität als Verkaufspreise, die für mehrere oder alle <strong>Marktplätze</strong> freigeschaltet sind.<br></p>
</li>
<li>
<p>Verkaufspreise, die nur für ein <strong>Land</strong> eingestellt sind, haben eine größere Priorität als Verkaufspreise, die für mehrere oder alle <strong>Länder</strong> freigeschaltet sind.<br></p>
</li>
<li>
<p>Verkaufspreise, die nur für ein <strong>eBay-Konto</strong> eingestellt sind, haben eine größere Priorität als Verkaufspreise, die für mehrere oder alle <strong>Konten</strong> freigeschaltet sind.<br></p>
</li>
<li>
<p>Verkaufspreise, die nur für eine <strong>Währung</strong> eingestellt sind, haben eine größere Priorität als Verkaufspreise, die für mehrere oder alle <strong>Währungen</strong> freigeschaltet sind.<br></p>
</li>
<li>
<p>Verkaufspreise, die eine höhere <strong>"Ab Menge"</strong> haben, haben eine größere Priorität als Verkaufspreise die <strong>“Ab Menge”</strong> gleich 1 haben.<br></p>
</li>
<li>
<p>Verkaufspreise, die nur für eine <strong>Kundenklasse</strong> eingestellt sind, haben eine größere Priorität als Verkaufspreise, die für mehrere oder alle <strong>Kundenklassen</strong> freigeschaltet sind.<br></p>
</li>
</ul>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Wichtig</div>
<div class="paragraph">
<p>Dabei werden nur Verkaufspreise geprüft, die die entsprechenden Suchkriterien erfüllen.
Für eBay berücksichtigen wir die Herkunft und die eBay-Konten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_warum_wird_mein_auftrag_bei_ebay_als_ebay_plus_auftrag_angezeigt_in_plentymarkets_aber_nicht">3.5. Warum wird mein Auftrag bei eBay als eBay-Plus-Auftrag angezeigt, in plentymarkets aber nicht?</h3>
<div class="paragraph">
<p>Generell ist es hier wichtig zu wissen, dass die Markierung für eBay-Plus erst an uns übergeben wird, wenn der Kunde die Kaufabwicklung auf eBay abgeschlossen hat.</p>
</div>
<div class="paragraph">
<p>In dem Fall, dass die Versandkosten von eBay berechnet werden, landen Aufträge, bei denen die Kaufabwicklung noch nicht abgeschlossen wurde, im Datenaustausch unter <strong>System » Märkte » eBay » Datenaustausch</strong>.<br>
Im Bereich <strong>System » Listings » Kaufabwicklung</strong> kann man nun die Option <strong>Offene eBay-Aufträge automatisch zusammenfassen</strong> finden.<br>
Sollte dort beispielsweise eine Dauer von einer Stunde eingestellt sein, werden die Aufträge, unabhängig davon, ob die Kaufabwicklung abgeschlossen wurde oder nicht, nach einer Stunde ins System geholt.<br></p>
</div>
<div class="paragraph">
<p>Die Markierung für eBay-Plus wird im Nachhinein <strong>nicht mehr abgefragt</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="_was_darf_ich_wann_an_meinen_aktiven_listings_ändern">3.6. Was darf ich wann an meinen aktiven Listings ändern?</h3>
<div class="paragraph">
<p>Auf der folgenden eBay-Seite kannst du genau sehen, welche Änderungen du zu welchem Zeitpunkt an deinem aktiven eBay-Listing noch vornehmen darfst:<br>
<a href="http://pages.ebay.de/help/sell/listing-variations.html" target="_blank" rel="noopener">Änderung am aktiven Listing</a></p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Wichtig</div>
<div class="paragraph">
<p>Wenn du bereits Verkäufe bei deinem Angebot hattest, kannst du dein Listing nur noch beschränkt bearbeiten! Für genauere Informationen klicke bitte oben auf den Link.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="_was_sagen_die_verschiedenen_fehlercodes_aus">3.7. Was sagen die verschiedenen Fehlercodes aus?</h3>
<div class="paragraph">
<p>Viele Fehler, die beim Listen auftreten können, kommen direkt von eBay und werden von plentymarkets genau so angezeigt.
Die folgende Liste verschafft dir einen Überblick über die direkten Fehlermeldungen von eBay:
<a href="http://developer.ebay.com/devzone/xml/docs/reference/ebay/errors/errormessages.htm" target="_blank" rel="noopener">eBay-Fehlermeldungen</a></p>
</div>
<div class="sect3">
<h4 id="_variantenmerkmale_können_nicht_geändert_werden_variantenmerkmale_können_im_beschränkten_bearbeitungsmodus_nicht_geändert_werden">3.7.1. Variantenmerkmale können nicht geändert werden. Variantenmerkmale können im beschränkten Bearbeitungsmodus nicht geändert werden.</h4>
<div class="paragraph">
<p>Beachte hier den Punkt <strong>Was darf ich wann an meinen aktiven Listings ändern?</strong><br>
Wenn diese Fehlermeldung auftaucht, stimmen die Varianten in plentymarkets nicht mehr mit denen auf eBay überein.<br>
Die Varianten (sowohl der Attributname als auch die Werte) müssen also wieder auf den Stand des Listings geändert werden.</p>
</div>
<div class="paragraph">
<p><strong>Lösung:</strong><br>
Vergleiche die Attribute und Attributwerte auf eBay mit denen in plentymarkets. Berücksichtige dabei auch die Attributsverknüpfung unter <strong>System » Artikel » Attribute</strong>, wenn für die entsprechende Kategorie eine verwendet wird.<br></p>
</div>
</div>
<div class="sect3">
<h4 id="_fehlende_übereinstimmung_bei_den_variantenmerkmalen_die_eingegebenen_variantenmerkmale_stimmen_nicht_mit_den_variantenmerkmalen_des_artikels_überein">3.7.2. Fehlende Übereinstimmung bei den Variantenmerkmalen. Die eingegebenen Variantenmerkmale stimmen nicht mit den Variantenmerkmalen des Artikels überein.</h4>
<div class="paragraph">
<p>Diese Fehlermeldung kann entweder beim automatischen Relisten durch den CronJob ausgegeben werden oder wenn man die Option <strong>Beenden und neu starten</strong> wählt.<br></p>
</div>
<div class="paragraph">
<p>Wenn eine dieser Optionen zutrifft, ist es theoretisch möglich, das Ranking des alten Listings zu erhalten und auf das neue Listing zu übertragen.<br>
Aber auch hier erwartet eBay, dass sich die bereits verkauften Varianten im beendeten Listing <strong>nicht verändern</strong>.<br>
Ist das der Fall, wird die genannte Fehlermeldung ausgegeben und das Neustarten schlägt fehl:<br></p>
</div>
<div class="paragraph">
<p><strong>Lösung</strong>:<br>
A.
Du stellst die Varianten wieder so her, wie sie im alten Listing waren.
Sprich: Falls du Varianten entfernt hast, musst du diese wieder hinzufügen. Wenn du Namen geändert hast, musst du die Änderung wieder rückgängig machen oder eine Attributsverknüpfung unter <strong>System » Artikel » Attribute</strong> für das entsprechende Attribut erstellen.</p>
</div>
<div class="paragraph">
<p>B.
Du beendest das Listing mit der Option <strong>Beenden und löschen</strong> und startest es anschließend wieder über die Gruppenfunktion.
Dabei geht das Ranking deines Listings allerdings verloren.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_wie_funktioniert_der_ebay_bilderservice_und_wann_wird_dieser_verwendet">3.8. Wie funktioniert der eBay-Bilderservice und wann wird dieser verwendet?</h3>
<div class="paragraph">
<p>Beim eBay-Bilderservice werden die Listing-Bilder zu eBay hochgeladen und von deren Servern am Listing zur Verfügung gestellt. Ohne den eBay-Bilderservice wird das Bild am Listing von den plentymarkets-Servern abgerufen.</p>
</div>
<div class="paragraph">
<p>Inwieweit man den eBay-Bilderservice benutzen kann bzw. muss wird in der Folge erläutert:</p>
</div>
<div class="sect3">
<h4 id="_listing_eines_einzelnen_artikels">3.8.1. Listing eines einzelnen Artikels</h4>
<div class="paragraph">
<p><strong>Ein Bild:</strong><br>
Die Einstellung unter <strong>System » Märkte » eBay » Grundeinstellungen » Basiseinstellungen</strong> greift.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Aktiviert</strong>: Das Bild wird zu eBay hochgeladen.</p>
</li>
<li>
<p><strong>Deaktiviert</strong>: Das Bild am Listing wird von unseren Servern zur Verfügung gestellt.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Mehr als ein Bild:</strong><br>
Der eBay-Bilderservice wird automatisch verwendet. Die Einstellung in den Basiseinstellungen wird in diesem Fall ignoriert!</p>
</div>
</div>
<div class="sect3">
<h4 id="_listing_eines_varianten_artikels">3.8.2. Listing eines Varianten-Artikels</h4>
<div class="paragraph">
<p><strong>Ein Bild:</strong><br>
Die Einstellung unter <strong>System » Märkte » eBay » Grundeinstellungen » Basiseinstellungen</strong> greift.</p>
</div>
<div class="paragraph">
<p><strong>Aktiviert</strong>: Das Bild wird zu eBay hochgeladen.</p>
</div>
<div class="paragraph">
<p><strong>Deaktiviert</strong>: Das Bild am Listing wird von unseren Servern zur Verfügung gestellt. In diesem Fall darfst du ebenfalls jede Variante mit einem unterschiedlichen Bild verknüpfen.<br>
Bei beispielsweise 10 Varianten darfst du somit 11 verschiedene Bilder hochladen, ohne den eBay-Bilderservice zu verwenden - ein Galeriebild und 10 Varianten-Bilder.</p>
</div>
<div class="paragraph">
<p><strong>Mehr als ein Bild:</strong><br>
Der eBay-Bilderservice wird automatisch verwendet. Die Einstellung in den Basiseinstellungen wird in diesem Fall ignoriert!</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="_warum_wird_die_telefonnummer_beim_auftragsimport_nicht_übergeben">3.9. Warum wird die Telefonnummer beim Auftragsimport nicht übergeben?</h3>
<div class="paragraph">
<p>Die Standardeinstellung bei eBay ist, dass für das Feld der Telefonnummer “Invalid Request” an plenty übergeben wird.</p>
</div>
<div class="paragraph">
<p><strong>Lösung:</strong><br>
Bei eBay einloggen und unter <strong>Kontoeinstellungen » Einstellungen » Versandeinstellungen</strong> die Option <strong>Für den Versand ist eine Telefonnummer erforderlich</strong> aktivieren.</p>
</div>
</div>
<div class="sect2">
<h3 id="_vereinbarungen_zum_internationalen_verkauf">3.10. Vereinbarungen zum internationalen Verkauf</h3>
<div class="paragraph">
<p>Die Vereinbarung zum internationalen Verkauf muss akzeptiert werden, sobald ein Artikel auf einer internationalen Plattform eingestellt werden soll.
Du kannst die Vereinbarung <a href="https://scgi.ebay.de/ws/ebayISAPI.dll?UserAgreementV2&amp;isemail=1&amp;agrid=7&amp;aid=1&amp;UserAgreement=&amp;guest=1" target="_blank" rel="noopener">direkt bei eBay</a> akzeptieren.</p>
</div>
</div>
</div>
</div>
</main>