<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Verkaufspreis einrichten</span></a></li>
<li><a href="#200"><span>2.</span><span> Artikel konfigurieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Best Practice: Artikel für eBay freischalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Best Practice bereiten wir einen Artikel für den Export zu eBay vor und zeigen dir, wie du vorgehen musst.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Das Wichtigste vorab…</div>
<div class="paragraph">
<p>Stelle sicher, dass du unter <strong>Einrichtung » Aufträge » Auftragsherkunft</strong> die Auftragsherkünfte <strong>eBay</strong> (2) und <strong>eBay Germany</strong> (2.08) aktiviert hast.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Verkaufspreis einrichten</h2>
<div class="sectionbody">
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Artikel » Verkaufspreise</strong>.</p>
</li>
<li>
<p>Lege einen neuen Verkaufspreis an.</p>
</li>
<li>
<p>Konfiguriere folgende Punkte:</p>
<div class="ulist checklist">
<ul class="checklist">
<li>
<p><i class="fa fa-square-o"></i> Währung</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Mandant</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Klasse</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Land</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> Herkunft</p>
</li>
<li>
<p><i class="fa fa-square-o"></i> eBay-Konto<br>
→ Der Standardmandant muss für den Verkaufspreis aktiviert sein.</p>
</li>
</ul>
</div>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Kein Aktionspreis oder UVP</div>
<div class="paragraph">
<p>Wenn du nur einen Verkaufspreis für eBay hinterlegt hast, darf dieser kein UVP oder Aktionspreis sein. Der Preistyp UVP darf nur ausgewählt werden, wenn bereits ein anderer gültiger eBay-Preis existiert, der kein UVP ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Artikel konfigurieren</h2>
<div class="sectionbody">
<div class="olist arabic instruction">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p>
</li>
<li>
<p>Öffne deinen Artikel und wechsle in das <strong>Tab: Varianten</strong>.</p>
</li>
<li>
<p>Konfiguriere die aufgeführten Einstellungen in den folgenden Tabs:<br>
→ <strong>Einstellungen</strong>: Häkchen bei <strong>Aktiv</strong> setzen.<br>
→ <strong>Einstellungen</strong>: Verkaufspreis hinterlegen.<br>
→ <strong>Verfügbarkeit</strong>: Im Bereich <strong>Märkte</strong> eine Herkunft für eBay hinterlegen.</p>
</li>
<li>
<p>Handelt es sich um einen Artikel mit Varianten, kann die Vererbung über die Varianten-Gruppenfunktion aktiviert werden.</p>
</li>
</ol>
</div>
</div>
</div>
</main>