<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#05"><span>1.</span><span> Datei für den Datenaustausch anpassen</span></a></li>
<li><a href="#10"><span>2.</span><span> Vorkonfigurierte Datenformate exportieren</span></a></li>
<li><a href="#20"><span>3.</span><span> Individualisierbare Datenformate exportieren</span></a></li>
<li><a href="#90"><span>4.</span><span> Warenbestände exportieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Daten über dynamischen Export exportieren</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Um Daten manuell aus deinem plentymarkets System zu exportieren, stehen dir der Spezialexport und der dynamische Export zur Verfügung.</p>
</div>
<div class="paragraph">
<p>Im Menü <strong>Daten » Spezialexport</strong> findest du vorkonfigurierte Exportformate. Bei diesen Formaten sind die Datenfelder weitgehend definiert und können nur wenig beeinflusst werden.<br>
Im Menü <strong>Daten » Dynamischer Export</strong> hast du die Möglichkeit, Datenfelder frei zu wählen und so den Inhalt eines Datenformats individuell zu gestalten.<br></p>
</div>
</div>
</div><div class="sect1">
<h2 id="05">1. Datei für den Datenaustausch anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Datenexport erhältst du üblicherweise eine CSV-Datei. Sowohl beim Datenexport aus einem externen System als auch aus plentymarkets ist es in der Regel notwendig, die Datei vor dem Import in plentymarkets anzupassen. Wichtig ist, dass du das Datenformat mit UTF-8-Kodierung exportierst. Der Datensatz muss in Spalten gegliedert sein, was nur mit dem korrekten Trennzeichen möglich ist. Probiere ggf. verschiedene Trennzeichen in der Import-Vorschau der Datei aus.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">2. Vorkonfigurierte Datenformate exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei den vorkonfigurierten Datenformaten sind die Datenfelder, die exportiert werden, bereits festgelegt. Einige wenige Einstellungen, die den Datenumfang des Exports beeinflussen, müssen trotzdem vorgenommen werden.</p>
</div>
<div class="paragraph">
<p><a href="#tabelle-vorkonfigurierte-exportformate">Tabelle 1</a> erläutert die vorkonfigurierten Datenformate, die dir in plentymarkets im Menü <strong>Daten » Spezialexport</strong> zur Verfügung stehen. Anschließend wird beschrieben, wie du das Datenformat exportierst. Die erklärungsbedürftigen Einstellungen sind nicht für jedes Datenformat aufgeführt, sondern zusammengefasst in <a href="#tabelle-einstellungen-datenformat-exportieren">Tabelle 2</a> zu finden.</p>
</div>
<table id="tabelle-vorkonfigurierte-exportformate" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Vorkonfigurierte Exportformate im Menü <strong>Daten » Spezialexport</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Datenformat</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsdaten für den Zoll</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Export im CSV-Format enthält Auftragsdaten, die bei der Ausfuhr relevant sind, z.B. die Versandkosten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BMECat</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="http://www.bme.de/initiativen/bmecat/" target="_blank" rel="noopener">BMECat</a> ist ein standardisiertes, XML-basiertes Austauschformat für Katalogdaten und Produktklassifikationssysteme im B2B-Bereich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CleverReach</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Export überträgt Auftragsdaten aller Aufträge des Vortages, die im Status 7 sind, an die E-Mail-Marketing-Software <a href="/crm/newsletter-versenden#1700">CleverReach</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Collmex-Buchhaltung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Export ist für die ERP-Lösung <a href="http://www.collmex.de" target="_blank" rel="noopener">Collmex</a> optimiert und exportiert Umsatz- oder Kundendaten. Es können Daten eines oder mehrerer Standorte exportiert werden, um diese Daten in <a href="http://collmex.de/cgi-bin/cgi.exe?1005,1,help,daten_importieren" target="_blank" rel="noopener">Collmex zu importieren</a>. Beim Export von Umsatzdaten werden für die korrekte Zuordnung die <a href="http://www.collmex.de/handbuch_basic.html#zahlungsbedingung_anlegen" target="_blank" rel="noopener">Zahlungsbedingungs-IDs</a> von Collmex verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Finanzbuchhaltung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Export im CSV-Format enthält optional Daten der Warenausgangsrechnungen, der Kassenbelege der <a href="/pos">plentymarkets Kasse</a> oder sowohl der Rechnungen als auch der Belege. Der Export ist <a href="https://www.datev.de/web/de/startseite/startseite-n/" target="_blank" rel="noopener">DATEV</a>-konform. Es können Daten eines oder mehrerer Standorte exportiert werden. Als Import-Code den Zeichensatz UTF-8 und als Trennzeichen Semikolon wählen.<br>
<strong><em>Tipp:</em></strong> Für den CSV-Import eine Software verwenden, bei der diese Parameter vor dem Datenimport auswählbar sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller-Provisionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Export im CSV-Format enthält die Provisionen, die in den <a href="/artikel/artikel-verwalten#560">Herstellerdaten</a> hinterlegt sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preisliste</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Export im CSV-Format enthält Artikeldaten und die dazugehörigen Preise.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rechnungsbuch</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Export im CSV-Format enthält eine Auflistung aller erzeugten Rechnungen und Gutschriften eines Datums oder eines Monats. Als Import-Code den Zeichensatz Latin und als Trennzeichen Semikolon wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatz nach Auftragsdatum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Export im CSV-Format enthält Umsatzdaten nach Datum des Auftragseingangs.<br>
<strong><em>Hinweis:</em></strong> Für einen Datenexport, der für die Umsatzsteuervoranmeldung verwendet werden soll, wird der Export <strong>Warenausgangsrechnungen</strong> empfohlen, da der Leistungsfall erst mit Lieferung der Ware eintritt. Ein weiterer Vorteil ist, dass es dabei nicht zu so vielen Gutschriften bzw. Stornorechnungen kommt, wenn Leistungen nicht bezahlt werden oder es vor Rechnungsstellung zu Änderungen am Auftrag kommt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Umsatzsteuer-ID-Prüfung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Export im CSV-Format enthält Kundendaten von geprüften Kunden sowie deren Umsatzsteuer-ID. Anhand des Eintrags in der Spalte <strong>valid</strong> der exportierten CSV-Datei ist zu erkennen, ob ein Kunde über eine gültige USt-IdNr. verfügt oder nicht. 0 steht für ungültig und 1 für gültig.<br>
Im Webshop erfolgt die Prüfung der USt-IdNr. automatisch während des Bestellvorgangs. Für Kunden, die auf anderen Marktplätzen von dir gekauft haben, kannst du die Prüfung manuell ausführen. Details zur Prüfung der USt-IdNr. findest du im Kapitel <a href="/crm/kontakte-verwalten#5500">USt-IdNr. prüfen</a>.<br>
<strong><em>Wichtig:</em></strong> Setze ein Häkchen bei <strong>Aktiv</strong>. Wenn du das Häkchen nicht setzt, werden unabhängig vom gewählten Zeitraum alle Prüfungsdaten exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufte Warenmengen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Export im CSV-Format enthält eine Übersicht über verkaufte Artikel und die verkaufte Menge innerhalb eines Zeitraums. Welche Informationen der Export enthält, stellst du ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warenausgangsrechnungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Export im CSV-Format enthält die Rechnungsdaten eines Monats oder eines Tages. Für jede Rechnung wird gemäß des Mehrwertsteuersatzes eine Buchung aufgeführt. Zusätzlich wird der zu dem Auftrag zugeordnete Buchungstext ausgegeben. Als Import-Code den Zeichensatz Latin und als Trennzeichen Komma wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Xero</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Export im CSV-Format enthält Umsatzdaten von UK-Aufträgen für den Datenaustausch mit der Buchhaltungssoftware <a href="https://www.xero.com/" target="_blank" rel="noopener">Xero</a>. Es können Daten eines oder mehrerer Standorte exportiert werden.<br>
Der Name eines Steuersatzes muss exakt dem Namen entsprechen, wie er in Xero definiert ist. Im Menü <strong>Einrichtung » Mandant » Mandant wählen » Standorte » Standort wählen » Buchhaltung » Tab: Umsatzsteuersätze</strong> gibst du hinter dem Steuersatz den Namen ein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungsbelege</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Export im CSV-Format enthät Zahlungseingänge, die einem Auftrag zugeordnet werden. Die Rechnungsdaten werden nach Zahlungsart abgerufen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Nachfolgend wird beschrieben, wie du die oben aufgeführten Datenformate exportierst.</p>
</div>
<div class="paragraph instruction">
<p>Vorkonfiguriertes Datenformat exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Spezialexport</strong>.</p>
</li>
<li>
<p>Wähle ein Datenformat aus der Dropdown-Liste. Beachte dazu die Erläuterungen in <a href="#tabelle-vorkonfigurierte-exportformate">Tabelle 1</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Exportformat wird erstellt und der Liste hinzugefügt.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen zu den erklärungsbedürftigen Einstellungen in <a href="#tabelle-einstellungen-datenformat-exportieren">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Klicke auf <strong>Daten exportieren</strong>.<br>
→ Die Exportdatei wird erzeugt.</p>
</li>
<li>
<p>Speichere die Datei zur weiteren Verwendung auf deinem Rechner.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Spaltenkopfnamen</div>
<div class="paragraph">
<p>Wenn du nach dem Export die Namen der Spaltenköpfe änderst, können diese beim Import in plentymarkets nicht zugeordnet werden, da die Zuordnung anhand der Spaltenkopfnamen erfolgt. Bei einem Import in andere Systeme kann eine Anpassung der Spaltenkopfnamen für die Zuordnung aber sogar notwendig sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-einstellungen-datenformat-exportieren" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Einstellungen; Datenformat exportieren</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardname übernehmen oder eigenen Namen eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Firmennummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur für das Datenformat <strong>Collmex-Buchhaltung</strong>. Wenn die Daten mehrerer Firmen verwaltet werden, eine Nummer wählen. Nummer 1 ist voreingestellt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Freitextfeld</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur für das Datenformat <strong>Finanzbuchhaltung</strong>. Bezieht sich auf am Artikel verknüpfte <a href="/artikel/artikel-verwalten#70">Freitextfelder</a> und deren Inhalt. Wenn hier ein Freitextfeld gewählt wurde, als Format (wie weiter unten beschrieben) die Einstellung <strong>Ein Datensatz pro Artikelposition</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur für das Datenformat <strong>Finanzbuchhaltung</strong>.<br>
<strong>Ein Datensatz pro Rechnung und Umsatzsteuersatz</strong> = Eine Buchungszeile pro Rechnung und Umsatzsteuersatz. Besteht die Rechnung nur aus einem Steuersatz, wird auch nur eine Buchungszeile exportiert.<br>
<strong>Ein Datensatz pro Artikelposition (Standard)</strong> = Eine Buchungszeile pro Artikelposition. Die Auswahl <strong>Ein Datensatz pro Artikelposition (Standard)</strong> ist z.B. dann zu verwenden, wenn für Artikel eigene <a href="/auftraege/buchhaltung#650">Erlöskonten</a> in plentymarkets hinterlegt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelkategorie bis Ebene</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur für das Datenformat <strong>Preisliste</strong>. Ebene wählen, um festzulegen, bis zu welcher Ebene Artikel exportiert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum</strong>;<br>
<strong>Zeitraum</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tag, Monat und Jahr wählen, um nur Daten dieses Tages zu exportieren. Statt einem bestimmten Tag können häufig auch Daten des ganzen Monats exportiert werden.<br>
<strong>Verkaufte Warenmengen</strong>: Die Einstellung <strong>Datum</strong> bestimmt, ob die im Export enthaltenen Daten auf dem Auftragseingang oder auf dem Zahlungseingang beruhen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AccountCode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur für das Datenformat <strong>Xero</strong>. AccountCode eingeben, wie bei Xero hinterlegt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unternehmenssitz</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur für das Datenformat <strong>Xero</strong>. Land gemäß der Einstellung in Xero wählen. Mit dieser Einstellung wird die Formatierung der Preise und des Datums festgelegt und somit die Importvorgaben für Xero erfüllt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zusätzlich Vormerkposten abrufen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur für das Datenformat <strong>Zahlungsbelege</strong>. Aktivieren, um <a href="/payment/zahlungen-verwalten#60">Vormerkposten</a> abzurufen und zu exportieren.<br>
Vormerkposten sind eine Bestätigung der Bank, dass Zahlungen noch nicht gebucht, aber zur Buchung vorgemerkt sind. Eine solche Bestäigung ermöglicht es, Artikel früher zu versenden und den Service zu optimieren.<br>
<strong><em>Wichtig:</em></strong> Vormerkposten müssen ggf. bei der Bank freigeschaltet werden.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">3. Individualisierbare Datenformate exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Daten » Dynamischer Export</strong> erstellst du neue Datenformate, die genau die Datenfelder enthalten, die du exportieren möchtest. Die Datenfelder sind zwar vorgegeben, aber du hast im Gegensatz zu den <a href="/daten/export-import/daten-exportieren#10">vorkonfigurierten Datenformaten</a> mehr Möglichkeiten zu bestimmen, welche Felder exportiert werden. Die Daten werden in eine Datei exportiert, die du dann einem Tool oder einer Schnittstelle, z.B. einem Marktplatz, zur Verfügung stellst. Außerdem bearbeitest du in diesem Menü bestehende Datenformate.</p>
</div>
<div class="paragraph">
<p>Auf der Handbuchseite <a href="/daten/export-import/datenformate">Datenformate</a> findest du eine Übersicht der Datenformate, die du individuell anpassen kannst. Auf den Unterseiten sind die einzelnen Datenformate ausführlich erklärt. Du erfährst dort, welche Felder du aktivieren und welche Filter und Aktionen du einstellen musst, um deine Daten korrekt zu exportieren. Die meisten Datenformate kannst du nach der Bearbeitung auch wieder in plentymarkets importieren.</p>
</div>
<div class="paragraph">
<p>Je nachdem, welchen Datenformat-Typ du wählst, stehen dir beim Erstellen eines neuen Datenformats die Tabs <strong>Felder</strong>, <strong>Filter</strong> und <strong>Aktionen</strong> zur Verfügung. Die Tabs <strong>Felder</strong> und <strong>Filter</strong> sind in jedem Format verfügbar. <a href="#tabelle-daten-dynamischer-export">Tabelle 3</a> erläutert die Tabs im Menü <strong>Daten » Dynamischer Export</strong>.</p>
</div>
<table id="tabelle-daten-dynamischer-export" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Tabs im Menü <strong>Daten » Dynamischer Export</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tab</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Felder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Felder in der Spalte <strong>Export</strong> aktivieren, damit diese Daten exportiert werden. Der Name kann in der Spalte <strong>Eigener Feldname</strong> geändert werden. Dieser Name erscheint als Spaltenkopfbezeichnung in der Exportdatei. In der Spalte <strong>Importaktion</strong> die Option <strong>Keine</strong>, <strong>Import</strong> oder <strong>Abgleich</strong> wählen. In der Spalte <strong>Position</strong> festlegen, an welche Position innerhalb der Ausgabedatei das Datenfeld exportiert wird.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenfelder bzw. Funktionen aktivieren und Werte für die Filter wählen. Es werden nur die Daten exportiert, die exakt die eingestellten Eigenschaften aufweisen.<br>
Je nach Filteroption stehen verschiedene Optionen in den Dropdown-Listen zur Verfügung. Beim Aktivieren des Datenfelds werden die Bereiche <strong>Operator</strong> und <strong>Wert</strong> zur Bearbeitung freigegeben. Je nach Datenfeld stehen Werte in der Dropdown-Liste zur Verfügung oder müssen in ein Textfeld eingegeben werden.<br>
<strong><em>Beispiel:</em></strong> Aktiviere <strong>ItemID</strong> in der Spalte <strong>Datenfeld/Funktion</strong>. Wähle den Operator <strong>&gt;</strong> aus der Dropdown-Liste und gib die Artikel-ID in das Textfeld in der Spalte <strong>Wert</strong> ein, damit nur Artikel mit der ID höher als die eingegebene exportiert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welche Aktion ausgeführt werden soll.<br>
<strong><em>Beispiel:</em></strong> Aktiviere die Aktion <strong>ItemLastUpdateTimestamp</strong> und wähle die Option <strong>setze aktuelles Datum</strong> aus der Dropdown-Liste, damit den Artikeln beim Export der Zeitstempel der letzten Änderung hinzugefügt wird.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die von dir erstellten Datenformate stehen im Tab <strong>Felder</strong> zum Export zur Verfügung. Die Daten werden in eine Datei exportiert. Du hast auch die Möglichkeit, die Exportdatei in einem Tabellenkalkulationsprogramm zu öffnen, zu bearbeiten und wieder in dein plentymarkets System zu importieren. Beachte dazu das Videotutorial im Kapitel <a href="/daten/export-import/daten-exportieren#05">Datei für den Datenaustausch anpassen</a>.</p>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um das Datenformat zu exportieren.</p>
</div>
<div class="paragraph instruction">
<p>Datenformat exportieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Dynamischer Export</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neues Datenformat</strong>.</p>
</li>
<li>
<p>Wähle einen <strong>Datenformat-Typ</strong> aus der Dropdown-Liste.<br>
→ Der <strong>Datenformatsname</strong> wird automatisch aus dem Namen für das Datenformat und einer Nummer gebildet. Du kannst den Namen ändern.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das soeben angelegte Datenformat erscheint in der Liste im Tab <strong>Datenformat bearbeiten</strong>.</p>
</li>
<li>
<p>Klappe das Datenformat auf.<br>
→ Die verfügbaren Tabs des Datenformats werden angezeigt.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-daten-dynamischer-export">Tabelle 3</a>.</p>
</li>
<li>
<p>Wähle im Tab <strong>Felder</strong> auf der rechten Seite die <strong>Anzahl der Zeilen</strong> für den Export. Beachte dazu den nachfolgenden Hinweis bezüglich der Zeilenbegrenzung.</p>
</li>
<li>
<p>Gib unter <strong>Beginne ab Zeile</strong> ein, ab welcher Zeile der Datenexport beginnen soll.<br>
→ Zeile 0 = Spaltentitel.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Klicke auf <strong>Daten exportieren</strong>.<br>
→ Die Daten werden in eine CSV-Datei exportiert.</p>
</li>
<li>
<p>Speichere die CSV-Datei zur weiteren Verwendung auf deinem Rechner.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Datenexport ist auf 6000 Zeilen begrenzt</div>
<div class="paragraph">
<p>In der Zeile <strong>Anzahl der Zeilen</strong> gibst du ein, wie viele Datensätze (ein Datensatz pro Zeile) exportiert werden sollen. Der Export ist auf maximal 6000 Zeilen begrenzt.<br>
Wenn du z.B. 10000 Zeilen exportieren möchtest, führst du nach dem Export der ersten 6000 Zeilen einen zweiten Export aus. Gib in der Zeile <strong>Anzahl der Zeilen</strong> den Wert 4000 ein und in der Zeile <strong>Beginne ab Zeile</strong> den Wert 6001.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="90">4. Warenbestände exportieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Export deines Warenbestandes ist z.B. ein Schritt beim Durchführen einer <a href="/warenwirtschaft/inventur-vornehmen">Inventur</a>. Du erhältst dabei eine CSV-Datei mit allen relevanten Datenfeldern.</p>
</div>
<div class="paragraph">
<p>Du exportierst deine aktuellen Warenbestände im Menü <strong>Daten » Dynamischer Export</strong>. Dazu verwendest du das Datenformat <strong>Stock</strong>. Beachte die Hinweise zu den Pflichtfeldern dieses Datenformats auf der Handbuchseite <a href="/daten/export-import/datenformate/stock">Stock</a>.</p>
</div>
<div class="paragraph instruction">
<p>Datenexport durchführen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Dynamischer Export</strong>.</p>
</li>
<li>
<p>Klappe das Dateiformat <strong>Stock</strong> auf.<br>
→ Wenn das Datenformat noch nicht vorhanden ist, erstelle es wie oben beschrieben.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-exportoptionen-dynamischer-export">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
<li>
<p>Klicke auf <strong>Daten exportieren</strong>.<br>
→ Eine CSV-Datei wird erzeugt, die du für die weitere Verwendung, z.B. einen Import nach Anpassung der Daten, bearbeitest bzw. anpasst.</p>
</li>
</ol>
</div>
<table id="tabelle-exportoptionen-dynamischer-export" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Dynamischer Export; Exportoptionen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Anzahl der Zeilen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Anzahl der Zeilen eingeben, die exportiert werden soll, wenn du die Anzahl begrenzen möchtest (Grundeinstellung: 6000).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beginne ab Zeile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ggf. eingeben, ab welcher Zeile der Datenexport beginnen soll (Grundeinstellung: 0).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine der folgenden Optionen wählen. Dieser Artikelbestand wird dann exportiert.<br>
<strong>Alle</strong> = Der gesamte Artikelbestand wird exportiert.<br>
<strong>Meldebestand unterschritten</strong> = Es werden nur Bestandsdaten zu Artikeln exportiert, bei denen der Meldebestand unterschritten ist.<br>
<strong>Meldebestand erreicht / unterschritten</strong> = Es werden nur Bestandsdaten zu Artikeln exportiert, bei denen der Meldebestand erreicht oder unterschritten ist.<br>
<strong>Negativer Nettowarenbestand oder Nettowarenbestand gleich 0</strong> = Es werden nur Bestandsdaten zu Artikeln mit Nettowarenbestand gleich oder kleiner 0 exportiert.<br>
<strong>Negativer Nettowarenbestand</strong> = Es werden nur Bestandsdaten zu Artikeln mit negativem Nettowarenbestand exportiert.<br>
<strong>Negativer physischer Warenbestand oder physischer Warenbestand gleich 0</strong> = Es werden nur Bestandsdaten zu Artikeln mit physischem Warenbestand gleich oder kleiner 0 exportiert.<br>
<strong>Negativer physischer Warenbestand</strong> = Es werden nur Bestandsdaten zu Artikeln mit negativem physischen Warenbestand exportiert.<br>
<strong>Positiver Nettowarenbestand</strong> = Es werden nur Bestandsdaten mit positivem Nettowarenbestand exportiert.<br>
<strong>Positiver physischer Warenbestand</strong> = Es werden nur Bestandsdaten zu Artikeln mit positivem physischen Warenbestand exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelpaket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob Daten <strong>ohne Artikelpakete</strong> oder <strong>inklusive Artikelpakete</strong> exportiert werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lieferant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ALLE</strong> oder einen Lieferanten wählen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Die CSV-Datei enthält ggf. Datenfelder, die du nicht benötigst. Beachte dazu die Erläuterungen in <a href="#tabelle-exportoptionen-dynamischer-export">Tabelle 4</a>. Lösche nicht benötigte Tabellenspalten und speichere die Datei auf deinem Rechner. Nun gibst du in der Spalte <strong>Stock</strong> den tatsächlichen Lagerbestand für jeden Artikel ein. Ermittele dazu den Ist-Zustand deines Bestandes und gib die Werte in der Spalte <strong>Stock</strong> in die CSV-Datei ein. Speichere die Änderungen.</p>
</div>
</div>
</div>
</main>