<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#5"><span>1.</span><span> Daten über dynamischen Import importieren</span></a></li>
<li><a href="#10"><span>2.</span><span> Datenformat erstellen</span></a></li>
<li><a href="#20"><span>3.</span><span> Dynamischen Import nutzen</span></a></li>
<li><a href="#210"><span>4.</span><span> eBay-Listings importieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Daten über dynamischen Import importieren</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Handbuchseite beschreibt verschiedene Möglichkeiten des manuellen Datenimports über den dynamischen Import. Ein Import von Daten ist ratsam, wenn du z.B. neue Artikel, Kundendaten oder Lagerbestände in dein plentymarkets System einpflegen möchtest und die Daten bereits digital vorliegen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">ElasticSync verwenden</div>
<div class="paragraph">
<p>Die in diesem Bereich beschriebenen Importmöglichkeiten sind veraltet. Verwende stattdessen <a href="/daten/daten-importieren/ElasticSync">ElasticSync</a>, um Daten in plentymarkets zu importieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="5">1. Daten über dynamischen Import importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Eine Einführung zum dynamischen Import erhältst du im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/119849465" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="10">2. Datenformat erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Datenformat, das du importierst, muss der Konfiguration des Datenformats in plentymarkets entsprechen, damit die Daten zugeordnet werden. Hierzu gehört auch, dass die Schreibweise der Datenfelder der Schreibweise in plentymarkets entspricht. Auf der Handbuchseite eines <a href="/daten/export-import/datenformate">Datenformats</a> findest du die Namen der Datenfelder aufgelistet. Beachte auch die Hinweise zur Angabe von Pflichtfeldern und Abgleichfeldern. Du hast die Möglichkeit, mit Hilfe eines Tabellenkalkulationsprogramms selbst eine Datei für den Import zu erstellen.</p>
</div>
<div class="paragraph">
<p>Du kannst dir diese Arbeit erheblich erleichtern, indem du das Datenformat vorab in eine Datei exportierst, deine Daten in der Datei bearbeitest und diese dann wieder importierst. Diese Vorgehensweise ist nur bei Datenformaten möglich, die sowohl einen Import als auch einen Export erlauben. Weitere Informationen zum Umgang mit Export- und Importdateien findest du im Kapitel <a href="/daten/export-import/daten-exportieren#05">Datei für den Datenaustausch anpassen</a> auf der Handbuchseite <a href="/daten/export-import/daten-exportieren">Daten exportieren</a>. Gehe wie im Folgenden beschrieben vor, um deine Daten in eine Datei zu exportieren:</p>
</div>
<div class="paragraph instruction">
<p>Datenformat erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Dynamischer Export</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Neues Datenformat</strong>.</p>
</li>
<li>
<p>Wähle einen <strong>Datenformat-Typ</strong> aus der Dropdown-Liste.</p>
</li>
<li>
<p>Ändere ggf. den automatisch vergebenen <strong>Datenformatsnamen</strong>.</p>
</li>
<li>
<p>Aktiviere die Datenfelder, die in der Exportdatei vorhanden sein sollen.</p>
</li>
<li>
<p>Wähle eine <strong>Importaktion</strong> pro Datenfeld.<br>
→ Beachte die Hinweise zu Abgleichfeldern auf den Unterseiten der Handbuchseite <a href="/daten/export-import/datenformate">Datenformate</a>.</p>
</li>
<li>
<p>Wähle ggf. <strong>Filter</strong> oder <strong>Aktionen</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) das Datenformat.<br>
→ Die Reihenfolge der Datenfelder wird anhand der Werte in der Spalte <strong>Position</strong> gespeichert.</p>
</li>
</ol>
</div>
<div id="25" class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Abgleich und Import</div>
<div class="paragraph">
<p>Bei einem Datenformat stehen für die Datenfelder die Importaktionen <strong>Abgleich</strong> und <strong>Import</strong> zur Verfügung.<br>
Mit der Einstellung <strong>Import</strong> werden die Daten importiert - unabhängig davon, ob bereits Daten vorhanden sind oder nicht. Das bedeutet, dass die Daten bei einem Import eventuell überschrieben werden. Mit der Einstellung <strong>Abgleich</strong> wird das Datenfeld vor einem Import mit bereits im System vorhandenen Daten abgeglichen. Die Daten werden nur importiert, wenn noch keine Daten vorhanden sind.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">3. Dynamischen Import nutzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der dynamische Datenimport erfolgt im Menü <strong>Daten » Dynamischer Import</strong>. Du kannst hier selbst erstellte Dateien oder die Datenformate, die du im Menü <strong>Daten » Dynamischer Export</strong> erstellt hast (sog. Kundenformate), wieder importieren. Im Menü <strong>Daten » Dynamischer Import</strong> stehen dir neben den Kundenformaten in der Dropdown-Liste <strong>Format</strong> zwei Spezialformate zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>das Spezialformat <strong>ItemParcelServicePreset</strong>, mit dem du Versandprofile importierst</p>
</li>
<li>
<p>das Spezialformat <strong>IncomingItems</strong>, mit dem du Wareneingangsdaten importierst</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die Spezialformate sind reine Importformate und stehen daher nur im Menü <strong>Daten » Dynamischer Import</strong> zur Verfügung. Der Import der Spezialformate funktioniert auf die gleiche Weise, wie du auch die anderen Datenformate importierst. Die Vorgehensweise wird im Folgenden beschrieben.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Spaltenkopfbezeichnungen prüfen und anpassen</div>
<div class="paragraph">
<p>Wenn Daten aus einem externen System importiert werden sollen oder du die Datei selbst erstellt hast, müssen die Spaltenkopfbezeichnungen in der Datei mit der von plentymarkets vorgegebenen Schreibweise der Datenfelder (Feldnamen) exakt übereinstimmen.<br>
Kann plentymarkets beim Import keine Zuordnung zu einer gewählten Exportvariante herstellen, wird der Import mit einer Fehlermeldung abgebrochen. Die Fehlermeldung findest du im Bereich <strong>Bearbeitungsstatus</strong>. Prüfe die Spaltenkopfbezeichnungen der zu importierenden Datei und passe diese bei Bedarf an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Daten per dynamischem Import importieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Dynamischer Import</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-einstellungen-menü-daten-dynamischer-import">[tabelle-einstellungen-menü-daten-dynamischer-import]</a>.<br>
<strong><em>Hinweis:</em></strong> Pro Import können maximal 6000 Datensätze importiert werden.</p>
</li>
<li>
<p>Klicke auf <strong>Import</strong>.</p>
</li>
<li>
<p>Prüfe, ob die importierten Daten im System gespeichert wurden.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Bearbeitungsstatus</div>
<div class="paragraph">
<p>Nachdem du die Datei importiert hast, erhältst du eine Meldung im Bereich <strong>Bearbeitungsstatus</strong>. Wenn Datenzeilen erfolgreich importiert wurden, wird die Anzahl der importierten Zeilen angegeben. Im Fehlerfall steht dort der Eintrag <strong>0</strong> und eine Fehlermeldung wird angezeigt. Prüfe das Feldtrennzeichen oder die Codierung der Datei. Die Datei sollte immer UTF-8-codiert sein.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Beachte, dass die Einstellungen, die angezeigt werden, von dem Datenformat abhängig sind, das du für den Import gewählt hast. Für das Datenformat <strong>Stock</strong> z.B. wählst du statt einer Abgleichoption das <strong>Lager</strong> und den <strong>Barcode</strong>. Die Einstellungen, die in <a href="#tabelle-einstellungen-menue-daten-dynamischer-import">Tabelle 1</a> beschrieben sind, gelten für die Mehrheit der Datenformate.</p>
</div>
<table id="tabelle-einstellungen-menue-daten-dynamischer-import" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen im Menü <strong>Daten » Dynamischer Import</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Feldtrennzeichen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Feldtrennzeichen wählen, das in der Importdatei eingestellt ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datenformat wählen, das du für den Datenimport vorbereitet hast.<br>
<strong><em>Hinweis:</em></strong> Je nachdem, welches Datenformat du hier wählst, ändern sich die folgenden Einstellungen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wenn beim Abgleich keine Übereinstimmung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine der folgenden Optionen wählen: <br>
<strong>Neuen Datensatz anlegen</strong> = Wenn die zu importierenden Daten noch nicht im System vorhanden sind.<br>
<strong>Vorhandenen Datensatz überspringen</strong> = Wenn beim Abgleich vorhandene Daten nicht überschrieben werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datei</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Importdatei vom Speicherort wählen.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Erfahre mehr über die Informationen im Bereich <strong>Bearbeitungsstatus</strong>, mögliche Fehlermeldungen und deren Ursachen im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/141644702" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="210">4. eBay-Listings importieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Daten » eBay-Listings</strong> importierst du eBay-Listings. Es wird sowohl ein Artikelstammdatensatz als auch ein Listing in plentymarkets erstellt. Im Bereich <strong>Bearbeitungsstatus</strong> hast du während des Importprozesses Einsicht in den aktuellen Verlauf des Imports. Wie du die Listings importierst, ist auf der Handbuchseite von <a href="/maerkte/ebay/ebay-einrichten">eBay</a> im Kapitel <a href="/maerkte/ebay/ebay-einrichten#11000">eBay-Listings importieren</a> beschrieben.</p>
</div>
</div>
</div>
</main>