<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 08. September 2021</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 02. September 2021 bis zum 08. September 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_amazon" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben eine neue Spalte zum Sendungsstatus in der Übersicht im Menü <strong>Waren » Amazon FBA Inbound</strong> hinzugefügt. Die verfügbaren Status von Amazon, die wir in dieser Liste anzeigen, sind:</p>
<div class="ulist">
<ul>
<li>
<p>WORKING</p>
</li>
<li>
<p>SHIPPED</p>
</li>
<li>
<p>CANCELLED</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Außerdem hast du nun die Möglichkeit, die Sendung als versendet zu markieren und die Sendung zu stornieren.</p>
</div>
</li>
</ul>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst in der neuen Auftragsanlage (Beta) nun deine vorher angelegten Auftragsvorlagen auswählen, um sie auf einen Auftrag anzuwenden. Verwende dafür die Dropdown-Liste <strong>Auftragsvorlage</strong> im ersten Schritt der neuen Auftragsanlage.</p>
</li>
</ul>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Im EmailBuilder wurde ein neues Widget hinzugefügt, mit dem du deine Inhalte in drei Spalten anordnen kannst.</p>
</li>
<li>
<p>Ein Editor wurde im Text-Widget ergänzt, mit dessen Hilfe du deine Texte in der Vorlage formatieren kannst.</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort könnt ihr in der Katalog-Übersicht nach Name filtern und so den gewünschten Katalog schneller finden.</p>
</li>
</ul>
</div>
<h3 id="_neckermann_at" class="discrete">Neckermann.at</h3>
<div class="ulist">
<ul>
<li>
<p>Unter <strong>Artikel » Artikel bearbeiten » [Artikel öffnen] » Tab: Multi-Channel » Bereich: Neckermann.at Enterprise</strong> wurden neue Provisionsmodelle ergänzt: 312A.</p>
</li>
</ul>
</div>
<h3 id="_plentybi" class="discrete">plentyBI</h3>
<div class="ulist">
<ul>
<li>
<p>Die Komponente <strong>Trichterdiagramm</strong> ist jetzt in allen Systemen verfügbar.</p>
</li>
</ul>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Die Git-UI im Menü <strong>Plugins » Git</strong> wurde mit neuen Komponenten aktualisiert. Du kannst ab jetzt beim Bearbeiten von Git-Repositorys außerdem den zu installierenden Branch angeben. Das bedeutet für dich, dass du einen neuen Branch angeben kannst, wenn ein Branch im Git-Repository gelöscht wurde oder keine valide Plugin-JSON mehr enthält.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_amazon_vcs" class="discrete">Amazon VCS</h3>
<div class="ulist">
<ul>
<li>
<p>Bei VCS Amazon wird jetzt auch bei externen Gutschriftendokumenten die entsprechende Nummer in der Auftragsübersicht angezeigt. Dies gilt nur für Dokumente, die nach diesem Update angelegt werden.</p>
</li>
</ul>
</div>
<h3 id="_shopgate" class="discrete">Shopgate</h3>
<div class="ulist">
<ul>
<li>
<p>Unter <strong>Einrichtung » Märkte » Shopgate » [Mandant öffnen] » Bereich: Erweiterte Optionen</strong> wurde die Option <strong>Zahlungsart für Kreditkartenzahlung</strong> ergänzt. Diese erlaubt es euch, dass Aufträgen statt der Legacy-Zahlungsart für Kreditkarte entweder die Shopgate-Zahlungsart oder eine Plugin-Zahlungsart eurer Wahl zugeordnet wird.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_amazon_vcs_2" class="discrete">Amazon VCS</h3>
<div class="ulist">
<ul>
<li>
<p>Teilweise kam es bei Gutschriftskorrekturen bei VCS Lite oder auch VCS plentymarkets dazu, dass Gutschriftsdokumente erst storniert und dann neu erzeugt wurden. Dies sah danach aus, als wäre die Korrektur doppelt durchgeführt worden, unterteilt sich aber in zwei Fälle:</p>
<div class="ulist">
<ul>
<li>
<p>Fall 1: Bei der Anlage der Gutschrift auf Basis des VCS-Berichts wurde durch eine Ereignisaktion eine Gutschrift generiert, weil die OrderProperty 47 (Externer Steuerservice) im Hauptauftrag auf 0 stand. Dies geschah dann vor der darauffolgenden Korrektur, weswegen das Dokument korrekt storniert wurde.
Die OrderProperty am Hauptauftrag wird nun vor Anlage der Gutschrift auf 1 gesetzt und erst nach der Korrektur wieder auf 0, damit die Erzeugung entsprechender Dokumente während des Korrektur-Prozesses geblockt ist.</p>
</li>
<li>
<p>Fall 2: Bei der Anlage der Gutschrift wurde fälschlicherweise eine Promotion-Position für z.B. die Versandkosten übernommen, obwohl diese nicht in die Gutschrift gehörte. Die Werte dieser Position sorgten dann auch beim zweiten Korrektur-Lauf dafür, dass eine Abweichung erkannt wurde, die korrigiert werden musste.
Die Promotion-Positionen werden jetzt bei der Gutschriftsanlage nicht mehr übernommen, wenn deren Wert im VCS-Bericht 0 entspricht.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Im Menü <strong>Waren » Bestellungen</strong> wurde der Messenger zurückgesetzt, wenn der Tab gewechselt wurde. Zudem konnte der Tab nicht dupliziert werden. Dies ist nun behoben.</p>
</li>
<li>
<p>Wenn ein externes Gutschrifts-Dokument gelöscht wurde, wurde die Dokumentnummer am Auftrag nicht entfernt. Dadurch wurde diese weiterhin in der Auftragssuche dargestellt.
Dies wurde behoben.</p>
</li>
<li>
<p>Der Filter <strong>Lieferland</strong> hat nicht korrekt gegriffen, was zur Folge hatte, dass die Exportdatei leer war. Dies wurde behoben.</p>
</li>
<li>
<p>Wenn das Enddatum eines Abonnements geändert wurde, konnte das Abonnement danach aufgrund eines Fehlers nicht gespeichert werden. Dies wurde behoben, das Speichern von Abonnements funktioniert wieder wie gewohnt.</p>
</li>
<li>
<p>Nur die erste Nachbestellung, die geöffnet wird, wurde korrekt geladen. Für alle weiteren Nachbestellungen konnten die Daten nicht korrekt gesetzt werden. Dies wurde behoben, alle Nachbestellungen werden wieder korrekt geladen.</p>
</li>
<li>
<p>Bei der Ereignisaktion <strong>Versandbestätigung an Otto Direktversand senden</strong> konnte es zu einem Fehler kommen, wodurch diese und Folgeaktionen abgebrochen wurden. Dies wurde behoben.</p>
</li>
<li>
<p>Der Filter <strong>Auftragslager</strong> in den Ereignissen hat für Aufträge mit Set-Artikeln nicht korrekt funktioniert, wenn die Einstellung gesetzt war, dass pro Artikelposition ein Lager zugeordnet werden kann. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_elastischer_export" class="discrete">Elastischer Export</h3>
<div class="ulist">
<ul>
<li>
<p>Bei den ElasticExport-Formaten für Bestellungen wurde der Status bei <strong>Auftragsstatus ändern</strong> nach dem Speichern nicht angezeigt.</p>
</li>
</ul>
</div>
<h3 id="_otto_market" class="discrete">OTTO Market</h3>
<div class="ulist">
<ul>
<li>
<p>Gutscheine und Rabatte wurden mit positiven statt negativen Werten importiert, wodurch die Auftragssumme falsch war. Dies wurde bereits korrigiert. Eine Migration wurde gestartet, die bei betroffenen Aufträgen die entsprechenden Positionen invertiert hat. Bereits existierende Rechnungs- oder Gutsschriftdokumente wurden vorher storniert und im Anschluss neu generiert. Pro Auftrag wurde im Log festgehalten, was korrigiert wurde. Weitere Informationen und Updates gibt es hier im <a href="https://forum.plentymarkets.com/t/otto-market-falsche-anlage-von-rabatten-und-gutscheine-wrong-creation-of-discounts-and-coupons/651364" target="_blank" rel="noopener">hier im Forum</a>.</p>
</li>
</ul>
</div>
<h3 id="_warenwirtschaft" class="discrete">Warenwirtschaft</h3>
<div class="ulist">
<ul>
<li>
<p>Nachdem man Mengen in den Nachbestellungen stornierte, wurden diese Mengen von den Bestellmengen vom Reiter Zulauf nicht abgezogen. Der Fehler wurde nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_zahlungen" class="discrete">Zahlungen</h3>
<div class="ulist">
<ul>
<li>
<p>In der UI für <strong>Neue Zahlungen</strong>, haben die Filter <strong>Verwendungszweck</strong> und <strong>ReferenzID</strong> nicht funktioniert. Dies wurde nun behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Zu den Standardeinstellungen für die neue Auftragsanlage (Beta) wurde eine neue Einstellung für Auftragsvorlagen hinzugefügt. Im Menü <strong>Einrichtung » Aufträge » Auftragstypen » Auftrag [Beta]</strong> kannst du eine Standard-Auftragsvorlage definieren, die immer auf einen neuen Auftrag angewendet wird.</p>
</li>
<li>
<p>Im Menü <strong>Aufträge » Neue Zahlungen (Testphase)</strong> wurde die neue Komponente <strong>Filter bookmarks</strong> hinzugefügt. Diese Komponente ermöglicht das Speichern und Wiederverwenden von Filtern direkt im Menü.</p>
</li>
</ul>
</div>
<h3 id="_plentybi_2" class="discrete">plentyBI</h3>
<div class="ulist">
<ul>
<li>
<p>Die Funktionalität <strong>Dimension</strong> kann jetzt auch in Tortendiagrammen verwendet werden.</p>
</li>
<li>
<p>Es wurden für jeden Graphen, für jede Kachel und für jede Tabelle welche neu in ein Dashboard gezogen wird die gängigsten Standardeinstellungen hinterlegt. Dies erlaubt ein schnelleres Vorankommen bei der Neuanlage eines Dashboards. Selbstverständlich können die Einstellungen manuell angepasst werden.</p>
</li>
<li>
<p>In der Kennzahlen-Übersicht wurde eine neue Spalte hinzugefügt, welche visualisiert ob eine Kennzahl kostenpflichtig ist oder nicht.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_plentybi_3" class="discrete">plentyBI</h3>
<div class="ulist">
<ul>
<li>
<p>In der Komponente <strong>Globales Zeitintervall</strong> gab es kleinere Änderungen. Die Überschrift sowie die Funktionalität zum Ein- und Ausklappen wurden ausgebaut. Desweiteren wurde das Styling so angepasst, das die Komponenten jetzt deutlich weniger Platz einnimmt.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_aufträge_4" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Beim manuellen Eintragen von Daten in einem Datumsfeld in der Nachbestellung wurde das falsche Format vorgegeben. Dies wurde behoben. Statt mm.dd.yyyy wird nun wieder korrekt dd.mm.yyyy übernommen.</p>
</li>
<li>
<p>Die folgenden Fehler in den Eigenschaften an Auftragspositionen wurden in der neuen Auftragsanlage (Beta) und den Abonnements behoben:</p>
<div class="ulist">
<ul>
<li>
<p>Duplizierte Aufrufe und Einträge von Eigenschaften an Auftragspositionen wurden behoben.</p>
</li>
<li>
<p>Die zweite Zeilenebene der Tabelle war nicht korrekt.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<h3 id="_plentybi_4" class="discrete">plentyBI</h3>
<div class="ulist">
<ul>
<li>
<p>Es wurde ein Problem behoben, welches bei englischsprachigen System auftreten konnte. Die Legende von Graphen interpretiert Tausender- und Dezimaltrennzeichen jetzt korrekt.</p>
</li>
<li>
<p>In der Benutzeroberfläche <strong>Rohdaten</strong> gab es ein Problem bei der Paginierung. Dieses wurde behoben und man kann nun wie gewollt sämtliche Seiten durchlaufen.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/rewe_5901" target="_blank" rel="noopener">REWE</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.26.4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/sales/berichte-analysen/econdatagmanager-47820_54876" target="_blank" rel="noopener">econda Tag Manager</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebaymarketing_5158" target="_blank" rel="noopener">eBay Marketing</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/shopify_4944" target="_blank" rel="noopener">Shopify.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.9.9</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/woocommerce_5102" target="_blank" rel="noopener">woocommerce.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.9.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ebayreviewwidget_54926" target="_blank" rel="noopener">eBay Review Widget - echte Bewertungen von echten Käufern präsentieren</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/hermesshippinginterface_5437" target="_blank" rel="noopener">Hermes</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.20</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/sales/berichte-analysen/econdausabilityanalytics-47820_54860" target="_blank" rel="noopener">econda Usability Analytics</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/sales/berichte-analysen/econdaaudiencerelationshipplatform-47820_54871" target="_blank" rel="noopener">econda Audience Relationship Platform</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/rechtliches/econdaprivacyprotection-47820_54875" target="_blank" rel="noopener">econda Privacy Protection</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/individualisierung/widgets/econdacrosssell-47820_54870" target="_blank" rel="noopener">econda Cross Sell</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/sales/berichte-analysen/econdaanalytics-47820_54861" target="_blank" rel="noopener">econda Analytics</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>.</p>
</div>
</div></div>
</main>