<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_inhalt_dieses_kapitels"><span>1.</span><span> Inhalt dieses Kapitels</span></a></li>
<li><a href="#_videotutorials"><span>2.</span><span> Videotutorials</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Umsatz</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Start » Statistik » Statistik-Typen unter der Überschrift: Umsatz</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_inhalt_dieses_kapitels">1. Inhalt dieses Kapitels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In diesem Kapitel werden Statistiken erläutert, die Sie im Dropdown-Menü für die Auswahl einer neuen Statistik unter <strong>Umsatz</strong> finden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistik/allgemeine-statistiken/assets/DE-Statistik-Umsatz-01-SI.png" alt="DE Statistik Umsatz 01 SI">
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_videotutorials">2. Videotutorials</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Erfahren Sie mehr zu <em><strong>Statistiken zu Umsätzen</strong></em> beispielhaft im folgenden Videotutorial:</p>
</div>
<div class="paragraph linkBox">
<p><a href="https://www.plentymarkets.eu/a-2354/" target="_blank">Retouren-Statistik</a></p>
</div>
</div>
</div>
</main>