<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>PHPFunctions</h1><div class="sect1">
<h2 id="_short_description">Short description</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following PHP functions can also be used in the CMS syntax. Their usage corresponds to that directly in PHP.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_global_template_functions">Global Template Functions</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-array-key-exists">array_key_exists</a> — Checks if a key exists in the array.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-arsort">arsort</a> — Sorts an array in reverse order while maintaining the index association.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-asort">asort</a> — Sorts an array while maintaining the index association.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-bin2hex">bin2hex</a> — Returns an ASCII string that contains the parameter’s hexadecimal output.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-ceil">ceil</a> — Returns the next integer that is greater than or equal to the parameter.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-count">count</a> — Counts all elements in an array or attributes in an object.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-curl-close">curl_close</a> — Ends a cURL session.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-curl-exec">curl_exec</a> — Runs a cURL session.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-curl-init">curl_init</a> — Starts a cURL session.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-curl-setopt">curl_setopt</a> — Sets an option for a cURL transfer.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-current">current</a> — Returns the current element in an array.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-date">date</a> — Formats a specified local time / date.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-explode">explode</a> — Splits a string by string to create an array.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-floor">floor</a> — Returns the next integer that is less than or equal to the parameter.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-htmlentities">htmlentities</a> — Converts all suitable characters to HTML codes.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-implode">implode</a> — Combines array elements to a string.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-in-array">in_array</a> — Checks if a value exists in an array.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-is-array">is_array</a> — Checks if the variable is an array.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-is-numeric">is_numeric</a> — Checks if a variable is a number or a numeric string.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-is-string">is_string</a> — Checks if the variable is of the type String.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-json-decode">json_decode</a> — Decodes a JSON character string. The result can be saved to a local template variable.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-json-encode">json_encode</a> — Returns the JSON representation of a value.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-krsort">krsort</a> — Sorts an array by keys in reverse order.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-ksort">ksort</a> — Sorts an array by keys.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-md5">md5</a> — Calculate a string’s MD5 hash.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-natcasesort">natcasesort</a> — Sorts an array by natural order ignoring case.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-natsort">natsort</a> — Sorts an array by natural order.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-nl2br">nl2br</a> — Inserts HTML line wraps before all line wraps of a string.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-number-format">number_format</a> — Formats a number with grouped thousands.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-print">print</a> — Returns the contained value as HTML. Permitted values are a template variable or a string.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-round">round</a> — Rounds the first parameter to the number of decimal places specified in the second parameter.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-rsort">rsort</a> — Sorts an array in reverse order.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-simplexml-load-string">simplexml_load_string</a> — Converts a string to a simpleXML object and returns this object.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-sort">sort</a> — Sorts an array.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-str-replace">str_replace</a> — Replaces all occurrences of a search string by a different string.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-strip-tags">strip_tags</a> — Removes HTML tags from a string.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-stripos">stripos</a> — Finds the first occurrence of a string ignoring case.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-strlen">strlen</a> — Detects the string length.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-strpos">strpos</a> — Finds the search string’s first occurrence.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-strtolower">strtolower</a> — Makes a string lowercase.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-strtotime">strtotime</a> — Parses any English date format into a Unix timestamp.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-strtoupper">strtoupper</a> — Makes all characters of a string uppercase.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-substr">substr</a> — Returns part of a string.</p>
</li>
<li>
<p><a href="/en/omni-channel/online-store/setting-up-clients/cms-syntax#global-phpfunctions-trim">trim</a> — Strips whitespace or other characters from the beginning and end of a string.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_global_template_variables">Global Template Variables</h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>$ENT_COMPAT — Constant: Only converts double quotation marks. Single quotation marks are not converted and remain unchanged.</p>
</li>
<li>
<p>$ENT_QUOTES — Constant: Converts both double and single quotation marks.</p>
</li>
</ul>
</div>
</div>
</div>
</main>