<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Configuring the availability levels</span></a></li>
<li><a href="#200"><span>2.</span><span> Old store: displaying the availability in Callisto</span></a></li>
<li><a href="#300"><span>3.</span><span> Old systems: activating/deactivating the availabilities</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Availabilities</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>You are legally required to provide information in your online store about how long it takes to deliver all items that you offer. There are ten availability options in plentymarkets.</p>
</div>
<div class="paragraph">
<p>First, configure the ten availability levels. In a second step, you’ll define the <a href="/en/item/managing-items#intable-symbol">availability of each item</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Configuring the availability levels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Enter the availability texts one-time only in the plentymarkets back end. You can also replace the default availability icons with your own icons.</p>
</div>
<div class="paragraph instruction">
<p>Setting the availability options:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Availability</strong>.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-define-availability">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-define-availability" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Setting the availability options</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The IDs 1-10 are automatically assigned by plentymarkets and cannot be changed.</p>
</div>
<div class="paragraph">
<p><strong><em>Use case</em></strong>: Imagine you want to <a href="/en/data/importing-data/sync-types/elasticSync-item#2300">import lots of item data with the help of a CSV file</a>. Among other things, you want to specify the availability of each item. You can use the IDs 1-10 to specify the availability of each item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Backend icon</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The default availability icons of the system are displayed here. These icons are set by default and can be replaced with individual icons.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name or a description for the delivery time, e.g. ships within 48 hours, 3-5 business days, etc.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip</em></strong>: Choose a different language from the drop-down list if you want to save the availability texts in multiple languages.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Average delivery period</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the average delivery time in days. These values will be analysed by search engines.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip</em></strong>: Enter realistic delivery times, as this information is considered to be a promise and it is also relevant in terms of competition law.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Online store icon</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Here you’ll see three buttons.
Click on the button on the far left to open a detailed view of the symbol.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon purple"><i class="psicon-upload"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on this button to upload your own store icon.
The symbol will be displayed in the online store instead of the back end icon.<br>
Available image formats: <strong>PNG</strong>, <strong>JPG</strong> and <strong>GIF</strong>. Ideal image size: <strong>16 x 16 pixels</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon red"><i class="fa fa-minus-circle  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on this button to delete your own store icon.
Once you’ve deleted this icon, the back end icon will be displayed in the online store.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Old store: displaying the availability in Callisto</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By default, the availability in the design Callisto is displayed in the online store using the <a href="/en/online-store/online-store/cms-syntax#web-design-itemview-container-itemviewsingleitem">ItemViewSingleItem</a> template. Use the template variables <strong>$AvailabilityString</strong> and <strong>$AvailabilityIcon</strong> to display the availability text and icon in the online store. By default, these template variables are included in the template <strong>ItemViewSingleItem</strong> of the plentymarkets default design.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Availability is not displayed correctly in the online store</div>
<div class="paragraph">
<p>If you use your own store icons for the availability, upload files for all availability options. Otherwise, an empty frame will be displayed in the design when the icon is missing.<br>
If the availability is not displayed correctly in the online store after changes were made, then delete the browser cache and reload the page.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Relationship to other settings: Attribute availability</div>
<div class="paragraph">
<p>Whether or not the variation is visible in the online store depends on which <a href="/en/online-store/online-store/item-layouts">type of verification</a> was selected for the attribute availability in the menu <strong>Setup » Client » Select client » Item layouts » Settings</strong>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If the option <strong>Attribute availability</strong> is set to <strong>Server check</strong>, the variation is visible and can be selected. The availability will not be checked until the last attribute has been selected in the order process.</p>
</li>
<li>
<p>If you select the setting <strong>Client check</strong>, the variation either is not shown in the online store or it is greyed out.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Old systems: activating/deactivating the availabilities</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Usually only two steps are necessary to specify the delivery times for items offered in your online store.
First, you <a href="/en/item/settings/availabilities#100">define the individual availability levels</a>, e.g. ships within 48 hours, 3-5 business days, etc.
Second, you <a href="/en/item/managing-items#intable-symbol">link the appropriate availability level to each of your items</a>.</p>
</div>
<div class="paragraph">
<p>The availability levels are activated by default and visible in the online store.
But if an availability level was deactivated for some reason, then products with this availability level will no longer be visible in the online store.
So if an item isn’t visible in your online store, then check to make sure the availability level is activated for the store.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">This setting only affects older systems</div>
<div class="paragraph">
<p>In new systems, this setting is obsolete and is no longer displayed. We recommend that you check whether you have this setting in your system. If so, activate the setting.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Activating availabilities for the store:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>If available, go to <strong>Setup » Client » Select client » Item layouts » Availability</strong>.</p>
</li>
<li>
<p>Press and hold Ctrl or Cmd and select the availability options.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</main>