<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Defining the availability levels</span></a></li>
<li><a href="#150"><span>2.</span><span> Setting the availability of a variation</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Availabilities</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>You are legally required to provide information in your online store about how long it takes to deliver all items that you offer.
There are ten availability options in plentymarkets.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/settings/assets/delivery-time.png" alt="delivery time">
</div>
</div>
<h3 id="_procedure" class="discrete">Procedure</h3>
<div class="paragraph">
<p>This function is configured in two steps:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/settings/availabilities#100">Define the ten availability levels</a></p>
</li>
<li>
<p><a href="/en/item/settings/availabilities#150">Set the availability of each variation</a></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Defining the availability levels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Enter the availability texts one-time only in the plentymarkets back end. You can also replace the default availability icons with your own icons.</p>
</div>
<div class="paragraph instruction">
<p>Setting the availability options:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Availability</strong>.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-define-availability">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-define-availability" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Setting the availability options</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The IDs 1-10 are automatically assigned by plentymarkets and cannot be changed.</p>
</div>
<div class="paragraph">
<p><strong><em>Use case</em></strong>: Imagine you want to <a href="/en/data/importing-data/sync-types/elasticSync-item#550">import lots of item data with the help of a CSV file</a>. Among other things, you want to specify the availability of each item. You can use the IDs 1-10 to specify the availability of each item.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Backend icon</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The system’s availability icons are displayed here. These icons are set by default and can be replaced with individual icons.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name or a description for the delivery time, e.g. ships within 48 hours, 3-5 business days, etc.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip</em></strong>: Choose a different language from the drop-down list if you want to save the availability texts in multiple languages.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Average delivery period</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the average delivery time in days. These values will be analysed by search engines.</p>
</div>
<div class="paragraph">
<p><strong><em>Tip</em></strong>: Enter realistic delivery times, as this information is considered to be a promise and it is also relevant in terms of competition law.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Online store icon</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Here you’ll see three buttons.
Click on the button on the far left to open a detailed view of the symbol.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon purple"><i class="psicon-upload"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on this button to upload your own icon.
The symbol will be displayed in the plentyShop instead of the back end icon.<br>
Available image formats: <strong>PNG</strong>, <strong>JPG</strong> and <strong>GIF</strong>. Ideal image size: <strong>16 x 16 pixels</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon red"><i class="fa fa-minus-circle  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on this button to delete your own icon.
Once you’ve deleted this icon, the back end icon will be displayed in the plentyShop.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="150">2. Setting the availability of a variation</h2>
<div class="sectionbody">
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manually-tab" data-toggle="tab" href="#manually" role="tab" aria-controls="manually" aria-selected="true">Manually</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="import-tab" data-toggle="tab" href="#import" role="tab" aria-controls="import" aria-selected="false">Import</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="group-function-or-batch-processing-tab" data-toggle="tab" href="#group-function-or-batch-processing" role="tab" aria-controls="group-function-or-batch-processing" aria-selected="false">Group function or batch processing</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manually" role="tabpanel" aria-labelledby="manually-tab">
<div class="paragraph">
<p>If you only want to save the availability <em>for a few variations</em>, then it makes sense to do this manually.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#400">Search for</a> and open the variation.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> tab in the lower row and find the <strong>Availability</strong> area.</p>
</li>
<li>
<p>Select the appropriate availability level (symbols 1-10).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="import" role="tabpanel" aria-labelledby="import-tab">
<div class="paragraph">
<p>If you want to save the availability <em>for lots of variations</em>, then it makes sense to do this via import.
Use the mapping field <strong>Item variations / Availability</strong> to do so.</p>
</div>
<h5 id="_further_information" class="discrete">Further information</h5>
<div class="ulist">
<ul>
<li>
<p><a href="/en/data/importing-data/ElasticSync">Using the import tool</a></p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-item#550">Information about the mapping field</a></p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="group-function-or-batch-processing" role="tabpanel" aria-labelledby="group-function-or-batch-processing-tab">
<div class="paragraph">
<p>If you want to save the availability <em>for lots of variations</em>, then it makes sense to do this with the variation group function or batch processing.</p>
</div>
<h5 id="_variation_group_function" class="discrete">Variation group function</h5>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Variations</strong>.</p>
</li>
<li>
<p>Choose additional <a href="/en/item/introduction/search#100">filters on the left</a> if needed and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the variations to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Variation group function</strong>.<br>
→ The <strong>Variation group function</strong> window opens.</p>
</li>
<li>
<p>Activate the option with the symbols 1-10 (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) and select the appropriate availability level (<span class="icon blue"><i class="fa fa-dot-circle-o  "></i></span>).</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong> to apply the settings to the variations.</p>
</li>
</ol>
</div>
<h5 id="_batch_processing" class="discrete">Batch processing</h5>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Batch processing</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Variations</strong> in the upper left corner.</p>
</li>
<li>
<p>Use the <em>filters on the left</em> to specify which variations should be processed.</p>
</li>
<li>
<p>On the <em>right</em>, activate the option with the symbols 1-10 (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) and select the appropriate availability level (<span class="icon blue"><i class="fa fa-dot-circle-o  "></i></span>).</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Apply</strong> to apply the settings to the variations.</p>
</li>
</ol>
</div>
</div></div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Does the availability depend on the stock level?</div>
<div class="paragraph">
<p>The availability is a static setting.
In other words, the availability level selected in the menu <strong>Item » Edit item » [Open variation] » Tab: Settings » Area: Availability » Symbols 1-10</strong> does not change depending on the actual stock level.</p>
</div>
<div class="paragraph">
<p>Alternatively, you can have the availability change dynamically.
In other words, you can have one availability level when the item is in stock and another availability level when the item is sold out.
This automation is configured in the warehouse settings.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Stock » Warehouse » [Open warehouse] » Settings</strong>.</p>
</li>
<li>
<p>Select the appropriate availability level (symbols 1-10) for the settings <strong>Availability with stock</strong> and <strong>Availability without stock</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon darkGrey"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><a href="/en/stock-management/setting-up-a-warehouse#300">Further information</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>