<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Configuring barcode types</span></a></li>
<li><a href="#200"><span>2.</span><span> Acquiring barcodes and saving a number range</span></a></li>
<li><a href="#300"><span>3.</span><span> Assigning barcodes to products</span></a></li>
<li><a href="#700"><span>4.</span><span> Troubleshooting: Finding duplicate barcodes</span></a>
<ul class="sectlevel2">
<li><a href="#_modifying_the_default_settings"><span>4.1.</span><span> Modifying the default settings</span></a></li>
</ul>
</li>
<li><a href="#800"><span>5.</span><span> Labels</span></a>
<ul class="sectlevel2">
<li><a href="#900"><span>5.1.</span><span> Designing labels</span></a></li>
<li><a href="#1000"><span>5.2.</span><span> Generating and printing labels</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Barcodes and labels</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Barcodes are used to uniquely identify items.
They are often displayed e.g. on item labels or on documents like invoices and delivery notes.
This pages helps you configure barcodes step by step in plentymarkets.</p>
</div>
<h3 id="_procedure" class="discrete">Procedure</h3>
<div class="paragraph">
<p>This function is configured in several different steps:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/settings/barcodes#100">Configure the barcode types</a>:<br>
Specify whether you need GTIN, ISBN, UPC or QR barcodes and which sales platforms you need the barcodes for.</p>
</li>
<li>
<p><a href="/en/item/settings/barcodes#200">Acquire a pool of barcodes if needed</a>:<br>
If you don’t get barcodes directly from your manufacturer, i.e. if you sell your own brand of products, then you’ll need to acquire the actual barcodes from an organisation like GS1.
For example, you might buy a range of 1000 barcode numbers.
You’ll tell plentymarkets which barcodes you’ve bought by saving information about the number range.</p>
</li>
<li>
<p><a href="/en/item/settings/barcodes#300">Assign the barcodes to your items</a>:<br>
In other words, you’ll link your barcodes to your item variations.</p>
</li>
<li>
<p>Decide where you want the barcodes to be displayed:<br>
For example, if you want to display barcodes on item labels, then you’ll need to <a href="/en/item/settings/barcodes#900">design the labels</a> and <a href="/en/item/settings/barcodes#1000">print them out</a>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Configuring barcode types</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Which types of barcodes do you need?
Which sales platforms will you use each type of barcode on?
First, save some basic information about your barcodes.</p>
</div>
<div class="paragraph instruction">
<p>Configuring barcodes:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Barcode</strong>.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>New barcode</strong>.<br>
→ The <strong>New barcode</strong> window opens.</p>
</li>
<li>
<p>Enter the name.</p>
</li>
<li>
<p>Select the type. Note <a href="#table-barcode-types">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The barcode configuration is automatically given an ID and the settings open in a new tab.</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) one or more referrers.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-barcode-types" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Barcode types</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GTIN 8</strong>;<br>
<strong>GTIN 13</strong>;<br>
<strong>GTIN 14</strong>;<br>
<strong>GTIN 128</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Global Trade Item Number (formerly European Article Number, EAN) is a product barcode for items.
The GTIN consists of 8, 13, 14 or a maximum of 128 characters and is centrally administered and issued for manufacturers upon request.</p>
<p class="tableblock">13-digit GTINs consist of the basic group, the item reference and the check digit.
The basic group has 7 to 9 digits and contains the GS1 prefix with the country code, for example 500 to 509 for the UK, as well as the company number.
The item reference of the manufacturer consists of 3 to 5 digits (depending on the basic group’s length).
The check digit is the last digit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ISBN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The International Standard Book Number is a unique number of 10 or 13 characters to register books and other independent, discontinuous publications like multimedia products and software.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>QR</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quick Response Code.
The code contains data such as the version, the data format and other information.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CODE 128</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Alphanumeric barcode.
The Code128 consists of start character, encoded data, check character and stop character.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UPC</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The Universal Product Code is a product barcode for items.
The UPC is a 12-digit number.
By adding a leading <strong>0</strong>, this barcode can be used as a 13-digit GTIN.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example: FNSKU barcodes</div>
<div class="paragraph">
<p>Even though there’s not a specific barcode type for FNSKU, you can still configure FNSKU barcodes in plentymarkets.
Enter a meaningful name and select the desired type, e.g. Code 128.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">2. Acquiring barcodes and saving a number range</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Do you already have GTINs (barcodes) for your items?
You might not if you directly import items and your manufacturer doesn’t assign GTINs.
In this case, you can acquire GTINs from an organisation like <a href="https://www.gs1uk.org/" target="_blank" rel="noopener">GS1</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.
For example, you can buy a range of 1000 barcode numbers.</p>
</div>
<div class="paragraph">
<p>But how do you get this pool of barcodes into plentymarkets?
You don’t need to import them!
Simply tell plentymarkets how many GTINs you have and which number your range begins with.
Then when you <a href="/en/item/settings/barcodes#300">assign a barcode to an item</a>, the next available barcode will automatically be used.</p>
</div>
<div class="paragraph instruction">
<p>Saving a GTIN number range:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » GTIN</strong>.</p>
</li>
<li>
<p>Enter the starting value.<br>
→ For 13 digit GTINs this must be a 12 digit value.
The check digit is entered automatically.</p>
</li>
<li>
<p>Enter the number of GTINs.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Why doesn’t the number range look consecutive?</div>
<div class="paragraph">
<p>At first glance, it might not look like the numbers always increase by 1.
But don’t forget that the last digit is a check digit.
The 12 places before it are consecutive.
Leave out the check digit when you enter the starting value.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Assigning barcodes to products</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A barcode is linked to <a href="/en/item/introduction/structure">an individual variation</a> and not to the item as a whole.
So if you sell a t-shirt in the colours red or blue, for example, then the red and blue t-shirts will each have their own barcode.</p>
</div>
<div class="paragraph">
<p>There are a few different ways to assign barcodes to products:</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manually-tab" data-toggle="tab" href="#manually" role="tab" aria-controls="manually" aria-selected="true">Manually</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="import-tab" data-toggle="tab" href="#import" role="tab" aria-controls="import" aria-selected="false">Import</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="automatically-from-the-number-range-tab" data-toggle="tab" href="#automatically-from-the-number-range" role="tab" aria-controls="automatically-from-the-number-range" aria-selected="false">Automatically from the number range</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manually" role="tabpanel" aria-labelledby="manually-tab">
<div class="paragraph">
<p>If you only have a few products, then it will probably be quickest to manually link barcodes.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#400">Search for</a> and open the variation.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> tab in the lower row.</p>
</li>
<li>
<p>In the <strong>Barcode</strong> area, select the <a href="/en/item/settings/barcodes#100">previously saved barcode configuration</a> from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ The barcode type is added and displayed in the list.</p>
</li>
<li>
<p>Enter the code into the <strong>Code</strong> field.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="import" role="tabpanel" aria-labelledby="import-tab">
<div class="paragraph">
<p>If you have lots of products, then it will probably be quickest to import the barcodes.</p>
</div>
<div class="paragraph">
<p>plentymarkets has an <a href="/en/data/importing-data/ElasticSync">import tool</a>, which you can use to import several barcodes at once.
The idea is simple.
Rather than manually assigning barcodes to items, you’ll enter the same information into a CSV file and then import this file into your system.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Instead of selecting the barcode type in the item data record, you’ll <a href="/en/data/importing-data/sync-types/elasticSync-item#1910">use the barcode type as a matching field</a>.</p>
</li>
<li>
<p>Instead of manually entering the barcode in the item data record, you’ll <a href="/en/data/importing-data/sync-types/elasticSync-item#2320">enter the barcode in a mapping field</a>.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="automatically-from-the-number-range" role="tabpanel" aria-labelledby="automatically-from-the-number-range-tab">
<div class="paragraph">
<p>If you bought a <a href="/en/item/settings/barcodes#200">range of GTIN 13 barcodes</a>, then plentymarkets can automatically assign the next available barcode to your item.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Open the item.<br>
→ The <strong>Settings</strong> tab of the main variation opens.</p>
</li>
<li>
<p>In the <strong>Barcode</strong> area, select the <a href="/en/item/settings/barcodes#100">previously saved GTIN 13 barcode configuration</a> from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ The barcode type is added and displayed in the list.</p>
</li>
<li>
<p>Click on <strong>Generate GTIN</strong> (<span class="icon "><i class="psicon-execute"></i></span>) to automatically insert the next available barcode.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Use the <a href="/en/item/import-export-create/create/mass-processing#300">variation group function</a> or <a href="/en/item/import-export-create/create/mass-processing#600">variation batch processing</a> to generate GTINs for several variations at the same time.
</td>
</tr>
</tbody></table>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="700">4. Troubleshooting: Finding duplicate barcodes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It’s technically possible to save the same barcode for multiple variations.
If you don’t want duplicate barcodes, then you can search for and correct any duplicate codes in the system.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Barcode</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The <strong>Duplicate barcodes</strong> tab opens and displays a list of duplicate barcodes.</p>
</li>
<li>
<p>Use the filter options <strong>Variation ID</strong> and <strong>Barcode</strong> to narrow down the search results if needed.</p>
</li>
<li>
<p>Click on the variation you want to edit.<br>
→ The variation opens.</p>
</li>
<li>
<p>Edit the variation’s code.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="_modifying_the_default_settings">4.1. Modifying the default settings</h3>
<div class="paragraph">
<p>How precise should the test for duplicate barcodes be?
Do you want to prevent duplicate barcodes altogether?
You can customise the settings to meet the needs of your company.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Settings</strong>.</p>
</li>
<li>
<p>Choose the settings for duplicate barcodes. Note <a href="#table-duplicate-barcodes">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">The test is only conducted in the UI</div>
<div class="paragraph">
<p>How do you create barcodes?
Via the UI, import or REST?
The test for duplicate barcodes is only conducted in the UI.
It is possible to link duplicate barcodes via import or REST, regardless of the settings.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-duplicate-barcodes" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings for duplicate barcodes</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Precision of duplicate barcode check</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>How precise should the search be?
This setting controls how closely the system checks for duplicate barcodes.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode Definition</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">There is a check per numeric code.
In other words, the system checks whether a specific code is already saved for a specific definition.</p>
<p class="tableblock"><strong><em>Example</em></strong>:
If you’ve saved the barcode 1234 for the definition "GTIN 13_1", then you could still save the same code for the definition "GTIN 13_2".</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">There is a check per barcode type.
For example: duplicate barcodes of the type GTIN.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Global</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">There is a check across all barcodes.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Behaviour in case of duplicate barcodes</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>How should plentymarkets react if you try to assign a barcode to a product, but the barcode is already in use?</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Allow</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">It is possible to save duplicate barcodes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warn</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">It is possible to save duplicate barcodes.
However, you will see a yellow warning message, which tells you that the barcode is already saved for another variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prevent</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">It is <em>not</em> possible to save duplicate barcodes.
You will see a red warning message, which tells you that the barcode was not saved because it is already being used for another variation.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="800">5. Labels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Item labels are attached to an item or to the item packaging.
They include information like the price, content, barcode, etc.
First, you’ll <a href="/en/item/settings/barcodes#900">design</a> your labels with the help of templates.
Then you’ll <a href="/en/item/settings/barcodes#1000">generate</a> your labels and print them out.</p>
</div>
<div class="sect2">
<h3 id="900">5.1. Designing labels</h3>
<div class="paragraph">
<p>You’ll design your labels with the help of templates.
Each template includes information about the size of the label, which data should be displayed on the label and where each piece of data should be positioned on the label.
You can create up to 10 label templates.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Labels</strong>.</p>
</li>
<li>
<p>Expand the <strong>New template</strong> area (<span class="icon darkGrey"><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Customise the settings to meet your needs:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><a href="/en/item/settings/barcodes#930">Enter basic information and the label size</a>.</p>
</li>
<li>
<p><a href="/en/item/settings/barcodes#960">Decide which data should appear on the label</a>.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<h4 id="930" class="discrete">Basic information and label size</h4>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter an internal name for the label.
The name is <em>not visible</em> to customers.
If you create multiple label templates, then the name will help you tell your labels apart.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which language should the label be in?
Select the appropriate language from the drop-down list.
The system language is set by default.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Character set</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which character set should the label use?
Select the character set from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Page</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the page width and height in millimetres.
If you use a <a href="/en/automation/processes/printer#50">label printer</a>, then the page size and label size can be identical.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Margin</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the margins left and top in millimetres.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Label</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the label width and height in millimetres.
The label size must be consistent with the page size as well as the number of lines and columns.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Lines per page</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the number of lines per page.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Columns per page</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the number of columns per page.</p>
</div></div></td>
</tr>
</tbody>
</table>
<h4 id="960" class="discrete">Which data should appear on the label?</h4>
<div class="paragraph">
<p>Use X-Y coordinates to specify <em>which information</em> should be displayed on the label and <em>where each piece of information</em> should be positioned.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Which info</em></strong>:
The labels only show values for which X and Y coordinates have been saved.
In other words, enter coordinates for each piece of information that should appear on the label.</p>
</li>
<li>
<p><strong><em>Position of the info</em></strong>:
Enter coordinates to position the item data on the label.
The values are based on a coordinate system with an x-axis and a y-axis.
The X-axis runs from left to right and the Y-axis from top to bottom.
The points of origin are in the upper left corner.</p>
</li>
</ul>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 11.1111%;">
<col style="width: 44.4444%;">
<col style="width: 44.4445%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">X-Y coordinates</th>
<th class="tableblock halign-left valign-top">Appearance</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter coordinates to display <a href="/en/item/settings/barcodes#930">the selected language</a> on the label.</p>
</div></div></td>
<td class="tableblock halign-left valign-top" rowspan="2"><div class="content"><table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>5px</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should the item data be small or large?
Select the appropriate font size from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Normal</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should the item data be displayed in normal or bold font?
Select the appropriate font style from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hide title</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The item parameter’s title is displayed on the label by default.
Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if you <em>do not want</em> the title to be displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Allow line break</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if you want the text to wrap to the next line when it exceeds the width of the label.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item ID;<br>
Variation ID;<br>
Variation name;<br>
External variation ID;<br>
Model;<br>
Main variation number;<br>
Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter coordinates to display the item data on the label.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode;<br>
GTIN barcode;<br>
ISBN</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter coordinates to display the barcode on the label.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display GTIN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if you want the GTIN to appear underneath the barcode.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>1. Price;<br>
2. Price;<br>
Unit price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter coordinates to display the variation’s price/unit price.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: If you want to display both the price <em>and</em> the unit price, then make sure that the same price type and/or sales price is selected for both options.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide whether the sales price or the RRP should be displayed.<br>
<strong><em>Note</em></strong>: If you choose RRP, then the variation’s RRP will be displayed, regardless whether you also select a sales price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide which sales price should be displayed.<br></p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attributes</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter coordinates to display the variation’s attribute names and attribute values.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hide attribute names</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if you only want the attribute value to be displayed. The attribute name will be hidden.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage location</strong></p></td>
<td class="tableblock halign-left valign-top" colspan="2"><div class="content"><div class="paragraph">
<p>Enter coordinates to display the <a href="/en/stock-management/new-incoming-items#200">variation’s suggested storage location</a> on the label.<br>
Go to <strong>Item » Edit item » [Open item] » [Open variation] » Tab: Warehouse</strong> and make sure you’ve specified a storage location in the field <strong>Suggested storage location</strong>. If no storage location was selected for a variation, then the default storage location will automatically be used as a placeholder instead.<br>
Then click on the label symbol (<span class="icon blue"><i class="fa fa-barcode  "></i></span>) further to the right to <a href="/en/item/settings/barcodes#1000">generate a label</a> for the suggested storage location.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock;<br>
Unit;<br>
Currency;</strong></p></td>
<td class="tableblock halign-left valign-top" colspan="2"><div class="content"><div class="paragraph">
<p>Enter coordinates to display the item data on the label.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item image</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter coordinates to display the item image on the label.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Height/Width (mm)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter maximum values for the image height and width.
If the image is larger than the entered values, the image will be resized. The proportions will remain the same so that the image is not distorted.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item image position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Many items have more than just one image.
By selecting a position number here, you specify <em>which item image</em> should appear on the label.</p>
<p class="tableblock"><strong>Position 0</strong> is set by default.
The item image positions are defined in the item’s <strong>Images</strong> tab.
If no image is available for the position that was selected, then the first available image will be used, beginning with position 0.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item free text field 1 to 4</strong></p></td>
<td class="tableblock halign-left valign-top" colspan="2"><div class="content"><div class="paragraph">
<p>Select a <a href="/en/item/managing-items#70">free text field</a> to display its text on the label.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Free text fields 1 to 4</strong></p></td>
<td class="tableblock halign-left valign-top" colspan="2"><div class="content"><div class="paragraph">
<p>Set up additional free text fields. Enter the text into the field. The entered text will be displayed on the label.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Graphic</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter coordinates to display a graphic on the label.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Height/Width (mm)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter maximum values for the image height and width.
If the image is larger than the entered values, the image will be resized. The proportions will remain the same so that the image is not distorted.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="olist arabic">
<ol class="arabic">
<li>
<p>Upload your graphics in the menu <strong>CMS » Webspace</strong>.</p>
</li>
<li>
<p>Copy the graphic’s URL from the webspace.</p>
</li>
<li>
<p>Insert the URL into this field.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="3"><p class="tableblock"><strong>Order-related data</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order ID;<br>
External order ID;<br>
Number of items</strong></p></td>
<td class="tableblock halign-left valign-top" colspan="2"><div class="content"><div class="paragraph">
<p>Enter coordinates to display the order-related parameters on the label.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter coordinates to display the country of delivery on the label.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Decide whether the country’s name or ISO code should be displayed on the label.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Print test page</div>
<div class="paragraph">
<p>Depending on which printer you use, the printed labels may differ from the template settings even if all settings are correct. As such, print some test pages on normal paper. Adjust the positions until you have reached the desired result before using more expensive label paper.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="1000">5.2. Generating and printing labels</h3>
<div class="paragraph">
<p>There are a few different ways to generate and print labels.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="a-storage-location-tab" data-toggle="tab" href="#a-storage-location" role="tab" aria-controls="a-storage-location" aria-selected="true">A storage location</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="a-variation-tab" data-toggle="tab" href="#a-variation" role="tab" aria-controls="a-variation" aria-selected="false">A variation</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="all-items-in-an-order-tab" data-toggle="tab" href="#all-items-in-an-order" role="tab" aria-controls="all-items-in-an-order" aria-selected="false">All items in an order</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="with-the-app-tab" data-toggle="tab" href="#with-the-app" role="tab" aria-controls="with-the-app" aria-selected="false">With the app</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="while-receiving-goods-tab" data-toggle="tab" href="#while-receiving-goods" role="tab" aria-controls="while-receiving-goods" aria-selected="false">While receiving goods</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="a-storage-location" role="tabpanel" aria-labelledby="a-storage-location-tab">
<div class="paragraph">
<p>Proceed as follows to <em>manually</em> generate and print labels for a specific storage location:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#400">Search for</a> and open the variation.</p>
</li>
<li>
<p>Click on the <strong>Warehouse</strong> tab.</p>
</li>
<li>
<p>Make sure you’ve selected a storage location in the field <strong>Suggested storage location</strong>.</p>
</li>
<li>
<p>Click on the label symbol (<span class="icon blue"><i class="fa fa-barcode  "></i></span>) further to the right.<br>
→ The <strong>Generate labels</strong> window opens.</p>
</li>
<li>
<p>Enter the number of labels to generate.</p>
</li>
<li>
<p>Select a label template from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Generate labels</strong> (<span class="icon "><i class="psicon-execute"></i></span>).<br>
→ A PDF file with the selected number of labels is generated.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
Do you only ever see the default storage location on your labels?<br>
<br>
<strong><em>Tip 1</em></strong>: You might not have saved a suggested storage location for the variation.
Open the variation and click on the <strong>Warehouse</strong> tab.
Make sure you’ve selected a storage location in the field <strong>Suggested storage location</strong>.
If no storage location was selected for a variation, then the default storage location will automatically be used as a placeholder instead.<br>
<br>
<strong><em>Tip 2</em></strong>: You might have clicked on the wrong label symbol.
Click on the label symbol <span class="icon blue"><i class="fa fa-barcode  "></i></span> further to the right in the <strong>Warehouse</strong> tab.
If you click on the label symbol in the item toolbar further up, then the default storage location will be displayed on your label.
Remember that each variation can be stored in a different location.
In other words, an item can have multiple storage locations.
So if you generate a label for the entire item, then plentymarkets won’t know which storage location is intended. It will use the default storage location instead.
</td>
</tr>
</tbody></table>
</div>
</div><div class="tab-pane fade" id="a-variation" role="tabpanel" aria-labelledby="a-variation-tab">
<div class="paragraph">
<p>Proceed as follows to <em>manually</em> generate and print labels for a specific variation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#400">Search for</a> and open the variation.</p>
</li>
<li>
<p>Click on the label symbol (<span class="icon blue"><i class="fa fa-barcode  "></i></span>) in the <em>lower toolbar</em>.<br>
→ The <strong>Generate labels</strong> window opens.</p>
</li>
<li>
<p>Enter the number of labels to generate.</p>
</li>
<li>
<p>Select a label template from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Generate labels</strong> (<span class="icon "><i class="psicon-execute"></i></span>).<br>
→ A PDF file with the selected number of labels is generated.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
It’s also possible to generate labels for all variations of an item.
To do so, click on the label symbol <span class="icon blue"><i class="fa fa-barcode  "></i></span> in the <em>upper toolbar</em>.
</td>
</tr>
</tbody></table>
</div>
</div><div class="tab-pane fade" id="all-items-in-an-order" role="tabpanel" aria-labelledby="all-items-in-an-order-tab">
<div class="paragraph">
<p>Once you’ve finished creating a <a href="/en/item/settings/barcodes#900">label template</a>, a new option will appear.
Use this option to <em>manually</em> generate labels for all of the items that belong to a specific order.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Labels</strong>.</p>
</li>
<li>
<p>Expand an existing template (<span class="icon darkGrey"><i class="fa fa-plus-square-o  "></i></span>).</p>
</li>
<li>
<p>Enter the order ID.</p>
</li>
<li>
<p>Click on <strong>Preview</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>).<br>
→ A PDF file with the labels for the items of this order is generated.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="with-the-app" role="tabpanel" aria-labelledby="with-the-app-tab">
<div class="paragraph">
<p>Do you use the plentymarkets app?
Then you can use your mobile device to <a href="/en/app/functions/item-search#400">search for items and print labels</a>.</p>
</div>
</div><div class="tab-pane fade" id="while-receiving-goods" role="tabpanel" aria-labelledby="while-receiving-goods-tab">
<div class="paragraph">
<p>Do you want to <em>automatically</em> print labels while receiving goods?
Then create a <a href="/en/automation/processes/setting-up-processes">plentymarkets process</a> and add <a href="/en/automation/processes/procedures#150">the “item label” procedure</a> to it.</p>
</div>
</div></div>
</div>
</div>
</div>
</main>