<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Developing a category tree</span></a></li>
<li><a href="#110"><span>2.</span><span> Deciding on a category depth</span></a>
<ul class="sectlevel2">
<li><a href="#120"><span>2.1.</span><span> Defining the basic category depth</span></a></li>
<li><a href="#130"><span>2.2.</span><span> Defining the category depth in the Ceres store</span></a></li>
</ul>
</li>
<li><a href="#200"><span>3.</span><span> Manually creating and editing categories</span></a>
<ul class="sectlevel2">
<li><a href="#300"><span>3.1.</span><span> Creating new categories</span></a></li>
<li><a href="#400"><span>3.2.</span><span> Searching for and filtering existing categories</span></a></li>
<li><a href="#500"><span>3.3.</span><span> Editing existing categories</span></a>
<ul class="sectlevel3">
<li><a href="#600"><span>3.3.1.</span><span> Toolbar</span></a></li>
<li><a href="#700"><span>3.3.2.</span><span> Settings</span></a></li>
<li><a href="#800"><span>3.3.3.</span><span> Description 1 and 2</span></a></li>
<li><a href="#900"><span>3.3.4.</span><span> Documents</span></a></li>
<li><a href="#1000"><span>3.3.5.</span><span> Note</span></a></li>
</ul>
</li>
<li><a href="#1100"><span>3.4.</span><span> Copying, moving, deleting</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>4.</span><span> Importing category data</span></a></li>
<li><a href="#1300"><span>5.</span><span> Sorting items into categories</span></a></li>
<li><a href="#1400"><span>6.</span><span> Displaying categories in the online store</span></a>
<ul class="sectlevel2">
<li><a href="#1410"><span>6.1.</span><span> Displaying item categories</span></a></li>
<li><a href="#1420"><span>6.2.</span><span> Displaying content categories</span></a>
<ul class="sectlevel3">
<li><a href="#1430"><span>6.2.1.</span><span> Inserting an individual category</span></a></li>
<li><a href="#1440"><span>6.2.2.</span><span> Showing a category in a different category</span></a></li>
<li><a href="#1450"><span>6.2.3.</span><span> Inserting all categories of the type Content</span></a></li>
</ul>
</li>
<li><a href="#1460"><span>6.3.</span><span> Displaying container categories</span></a>
<ul class="sectlevel3">
<li><a href="#1470"><span>6.3.1.</span><span> Displaying a category</span></a></li>
<li><a href="#1480"><span>6.3.2.</span><span> Linking a category</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#1490"><span>7.</span><span> Other uses</span></a>
<ul class="sectlevel2">
<li><a href="#1500"><span>7.1.</span><span> Creating multilingual category pages</span></a>
<ul class="sectlevel3">
<li><a href="#1510"><span>7.1.1.</span><span> Creating multilingual categories in the monolingual editor</span></a></li>
<li><a href="#1520"><span>7.1.2.</span><span> Creating a multilingual category in the multilingual view</span></a></li>
</ul>
</li>
<li><a href="#1530"><span>7.2.</span><span> Saving category discounts</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Categories</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Categories help you group your products. How should your items be structured in the online store? Which merchandise groups match your product catalogue?</p>
</div>
<div class="paragraph">
<p>This page helps you <a href="/en/item/settings/categories#100">develop a category tree</a> and create categories.
Once you’ve finished creating your categories, you’ll be ready to <a href="/en/item/settings/categories#1300">sort your products into categories</a> and <a href="/en/item/settings/categories#1400">publish your categories in the online store</a>.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Are you creating a “Ceres” online store?</div>
<div class="paragraph">
<p>New plentymarkets systems come with a so-called “Ceres” online store. The great thing about Ceres is that you can design an attractive store without having to learn HTML and CSS first. How? With ShopBuilder! ShopBuilder not only helps you create <em>pages of your website</em>, but also create <em>categories</em>.</p>
</div>
<div class="paragraph">
<p>So if you want to use ShopBuilder to create your Ceres store, then it also makes sense to <a href="/en/online-store/shop-builder#20">use ShopBuilder to create your categories</a>.</p>
</div>
<div class="paragraph">
<p>This page is primarily geared toward sellers who <em>do not</em> have a Ceres store. In other words, this page is for:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Sellers who still have the older Callisto store</p>
</li>
<li>
<p>Sellers who don’t have a plentymarkets store at all</p>
</li>
<li>
<p>Sellers who don’t want to create their categories with ShopBuilder</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Developing a category tree</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Spend some time thinking about which categories and sub-categories match your product line. How can you sort your products so that they’re easy for customers to find? Ask yourself these sorts of questions before you start creating categories. You might find it helpful to draw a category tree and visualise your product groups.</p>
</div>
<div class="paragraph">
<p><a href="#table-category-structures-examples">Table 1</a> shows two simplified examples of different item structures.</p>
</div>
<table id="table-category-structures-examples" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Examples of different item category structures</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Example structure 1</th>
<th class="tableblock halign-left valign-top">Example structure 2</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Women</p>
<div class="ulist">
<ul>
<li>
<p>Shoes</p>
</li>
<li>
<p>Accessories</p>
</li>
<li>
<p>Clothing</p>
</li>
</ul>
</div>
</li>
<li>
<p>Men</p>
<div class="ulist">
<ul>
<li>
<p>Shoes</p>
</li>
<li>
<p>Accessories</p>
</li>
<li>
<p>Clothing</p>
</li>
</ul>
</div>
</li>
<li>
<p>Kids</p>
<div class="ulist">
<ul>
<li>
<p>Shoes</p>
</li>
<li>
<p>Accessories</p>
</li>
<li>
<p>Clothing</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Shoes</p>
<div class="ulist">
<ul>
<li>
<p>Women</p>
</li>
<li>
<p>Men</p>
</li>
<li>
<p>Kids</p>
</li>
</ul>
</div>
</li>
<li>
<p>Accessories</p>
<div class="ulist">
<ul>
<li>
<p>Women</p>
</li>
<li>
<p>Men</p>
</li>
<li>
<p>Kids</p>
</li>
</ul>
</div>
</li>
<li>
<p>Clothing</p>
<div class="ulist">
<ul>
<li>
<p>Women</p>
</li>
<li>
<p>Men</p>
</li>
<li>
<p>Kids</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="110">2. Deciding on a category depth</h2>
<div class="sectionbody">
<div class="paragraph">
<p>How many categories can be on the first level without overwhelming your customers? At what depth do customers stop noticing your categories? First decide how many category levels you want to have in your online store.</p>
</div>
<div class="sect2">
<h3 id="120">2.1. Defining the basic category depth</h3>
<div class="paragraph">
<p>First decide how many category levels should function in general. For example, if you choose 4 levels, then it will not be possible to create categories on the 5th level.  Save this setting for each of your clients (stores). This setting applies to the complete category tree, i.e. to all category types.</p>
</div>
<div class="paragraph instruction">
<p>Defining category levels:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Select client » Categories » Settings</strong>.</p>
</li>
<li>
<p>Select the maximum number of levels in the category navigation.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="130">2.2. Defining the category depth in the Ceres store</h3>
<div class="paragraph">
<p>How many category levels should be displayed in the header of your Ceres online store? While setting up your online store, you’ll <a href="/en/online-store/shop-builder#_category_navigation">save this category depth in plentymarkets</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. Manually creating and editing categories</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="300">3.1. Creating new categories</h3>
<div class="paragraph">
<p>Have you already thought up a <a href="/en/item/settings/categories#100">meaningful category structure</a>? Then you’re ready to create the main categories and sub-categories that will group your products.</p>
</div>
<div class="paragraph">
<p>If you only want to have <em>a few categories</em>, then we would recommend creating them manually. However, if you have <em>a lot of categories</em>, then it will probably be quicker to <a href="/en/item/settings/categories#1200">import your category data</a>.</p>
</div>
<div class="paragraph instruction">
<p>Manually creating a category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Click on <strong>New category</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>) in the bottom left corner.<br>
→ The <strong>Create new category</strong> window opens.</p>
</li>
<li>
<p>Enter a name for the category.</p>
</li>
<li>
<p>Click on <strong>Create</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>).<br>
→ The new category is created and displayed in the category tree.</p>
</li>
</ol>
</div>
<div id="sub-category" class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Creating a subcategory</div>
<div class="paragraph">
<p>In the settings window, click on <strong>Subcategory</strong> (<span class="icon blue"><i class="fa fa-dot-circle-o  "></i></span>) and select the category under which you want your new category to appear. Click on a category’s folder icon (<span class="icon darkGrey"><i class="fa fa-folder  "></i></span>) on the far right. This displays the subcategories within.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Creating a new category while creating an item</div>
<div class="paragraph">
<p>It’s technically possible to create items and categories at the same time. In other words, you can create a new category while <a href="/en/item/managing-items#20">manually creating an item</a>. This method can save you a lot of time but it might also cause you to lose track of your category structure.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="400">3.2. Searching for and filtering existing categories</h3>
<div class="paragraph">
<p>You can find previously created categories in the menu <strong>Item » Categories</strong>. They are displayed in the navigation tree on the left.</p>
</div>
<div class="paragraph">
<p>Are you looking for a specific category? Enter the name of the category into the search field in the upper left corner. Search results appear while you enter the name.</p>
</div>
<div class="paragraph">
<p>Are you responsible for multiple online stores? Or is your online store available in multiple languages? Do you perhaps use categories to create the individual <a href="/en/item/settings/categories#use-case">content pages of your store</a>? Then filter your categories with the three drop-down lists at the top of the screen. This way you can limit which categories you’ll see in the navigation tree on the left.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Category names in cursive font</div>
<div class="paragraph">
<p>The font style indicates which categories are available for the selected combination of store, language and use case. If the category name is displayed in cursive font, then the category is not available for the selected filter combination.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Category names in red, yellow and grey</div>
<div class="paragraph">
<p>Do you see category names displayed in various colours? Don’t worry! The colour simply indicates <a href="/en/item/settings/categories#use-case">what the category is used for</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="500">3.3. Editing existing categories</h3>
<div class="paragraph">
<p>Click on a category in the menu <strong>Item » Categories</strong>. The category will open and you can continue editing it.</p>
</div>
<div class="paragraph">
<p>The editing window consists of a <a href="/en/item/settings/categories#600">toolbar</a> and the following tabs:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/settings/categories#700">Settings</a></p>
</li>
<li>
<p><a href="/en/item/settings/categories#800">Description 1 and 2</a></p>
</li>
<li>
<p><a href="/en/item/settings/categories#900">Documents</a></p>
</li>
<li>
<p><a href="/en/item/settings/categories#1000">Note</a></p>
</li>
</ul>
</div>
<div class="sect3">
<h4 id="600">3.3.1. Toolbar</h4>
<div class="ulist">
<ul>
<li>
<p>At the very top of the screen, you’ll see the path of the category. You can click on one of the higher-level categories to open this category as well.</p>
</li>
<li>
<p>Click on <strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) to save your changes to the category. If you haven’t made any changes to the category, then the symbol will be greyed out. If there are any <a href="/en/basics/working-with-plentymarkets/general-functions#110">unsaved changes</a>, then the tab will be flagged with a red triangle (<span class="icon red"><i class="fa fa-caret-left fa-rotate-90 "></i></span>).</p>
</li>
<li>
<p>The Category ID is assigned automatically and cannot be changed. It uniquely identifies your categories. Do you manage the same category in several different languages or in several online stores? All of the client and language-versions of the category share the same ID.</p>
</li>
<li>
<p>Click on <strong>Preview</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>) to see what your category looks like in the online store.</p>
</li>
<li>
<p>Click on <strong>Inline edit preview</strong> (<span class="icon yellow-background fa-stack fa-lg"><i class="fa fa-pencil fa-stack-2x  "></i><span class="icon black"><i class="fa fa-eye fa-stack-1x  darkGrey"></i></span></span>) to simultaneously see what your category looks like in the online store and edit your category.</p>
</li>
<li>
<p>The <strong>Image gallery</strong> (<span class="icon blue fa-stack fa-lg"><i class="fa fa-picture-o fa-stack-2x  "></i><span class="icon black"><i class="fa fa-pencil fa-stack-1x  darkGrey"></i></span></span>) is no longer available.</p>
</li>
<li>
<p>Click on <strong>Template variables and template functions</strong> (<span class="icon blue"><i class="fa fa-code  "></i></span>) to see an overview of the <a href="/en/online-store/online-store/cms-syntax#basics-template-variables">template variables</a> and <a href="/en/online-store/online-store/cms-syntax#basics-template-functions">template functions</a>. If you use the old Callisto store, then you can insert template variables and template functions into your <a href="/en/item/settings/categories#800">category description</a>.<br>
Example functions:<br>
<strong>&#123;&#37; Link(CategoryID) &#37;&#125;</strong> = Links to a different category page<br>
<strong>&#123;&#37; Link_ShippingCosts() &#37;&#125;</strong> = Links to shipping cost information</p>
</li>
<li>
<p>Click on <strong>Multilingualism</strong> (<span class="icon darkGrey"><i class="fa fa-comments-o  "></i></span>) to open <a href="/en/item/settings/categories#1500">the category in two different languages</a> at once. Which two languages do you want to see? Select them from the drop-down list at the top of the screen. You can also choose a language that doesn’t have any content yet. You do not necessarily have to open the default language.</p>
</li>
<li>
<p>Do you manage the same category in several different languages or in several online stores? Click on <strong>Apply category settings</strong> (<span class="icon darkGrey fa-stack fa-lg"><i class="fa fa-gears fa-stack-2x  "></i><span class="icon black"><i class="fa fa-arrow-right fa-stack-1x  darkGrey"></i></span></span>) to transfer this category’s settings to a different client or language version. Choose the options (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that should be transferred. Choose the client and language versions (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that should be given these options.</p>
</li>
<li>
<p>If you use the old Callisto store, then you can insert <a href="/en/online-store/online-store/cms-syntax#basics-template-variables">template variables</a> and <a href="/en/online-store/online-store/cms-syntax#basics-template-functions">template functions</a> into your <a href="/en/item/settings/categories#800">category descriptions</a>. If you want to insert <em>this category</em> somewhere else, then you can find the necessary template function displayed in the toolbar. This function always includes the category ID so that it can be uniquely identified.</p>
</li>
<li>
<p>The time stamp displays the time when changes were last made and the person who made these changes.</p>
</li>
<li>
<p>Click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-circle  "></i></span>) to remove the category. You will be asked if you want to delete the entire category or only the selected combination of language and client.</p>
</li>
</ul>
</div>
</div>
<div class="sect3">
<h4 id="700">3.3.2. Settings</h4>
<div class="paragraph">
<p>First, save some basic information about your category, e.g.:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/settings/categories#use-case">what do you want to use the category for</a>?</p>
</li>
<li>
<p><a href="/en/item/settings/categories#url">what should the URL be</a>?</p>
</li>
<li>
<p><a href="/en/item/settings/categories#meta-data">does the category have any meta data that is relevant for SEO</a>?</p>
</li>
<li>
<p><a href="/en/item/settings/categories#login">should people only be able to see the category if they’ve logged in</a>?</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Why don’t I see some of the settings?</div>
<div class="paragraph">
<p>The settings will differ slightly depending on <a href="/en/item/settings/categories#use-case">what you want to use the category for</a>.
Most of the settings apply to all of the category types. However, some settings are irrelevant to specific types of categories. Irrelevant settings are not displayed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-category-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Category settings</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="use-case">Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What do you want to use the category for? In plentymarkets, categories can be used to <em>group products together</em> or to create <em>content pages</em> for your store.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Item</strong> (<span class="icon darkGrey"><i class="fa fa-file  "></i></span>) = Product groups that help you structure your merchandise clearly. <a href="/en/item/settings/categories#300">New categories</a> are given the type <strong>Item</strong> by default.<br>
If you’ve <a href="/en/item/settings/categories#1300">already linked a category to items</a> and you switch the type from <strong>Item</strong> to <strong>Content</strong>, then the item links will not automatically be deleted. However, the category will no longer be displayed in the item data record.</p>
</li>
<li>
<p><strong>Content</strong> (<span class="icon yellow"><i class="fa fa-file  "></i></span>) = Content pages for the online store, e.g. information pages such as terms and conditions, payment information and shipping information.</p>
</li>
<li>
<p><strong>Container</strong> (<span class="icon red"><i class="fa fa-file  "></i></span>) = This type of category is only relevant for older Callisto stores. Similar to free text field, the content of a category of the type Container can be displayed on a different page, e.g. on a different category. In addition, the order steps of the <a href="/en/online-store/online-store/cms#web-design-editing-the-web-design-order-process-individual-order-process">individual order process</a> are categories of this type.</p>
</li>
<li>
<p><strong>Blog</strong> (<span class="icon yellow"><i class="fa fa-file  "></i></span>) = Do you write a blog for your Callisto store? You can use blog categories to sort your entries into specific topic like “News” or “About us”.<br>
It’s also possible to write a <a href="/en/online-store/setting-up-ceres#970">blog for your Ceres store</a>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the category.<br>
<strong><em>Note:</em></strong> You can re-use category names as long as they are used in different categories or on different levels. Within one category, however, the names may only be used once per level.<br>
<strong><em>SEO tip:</em></strong> Enter different meta titles and meta descriptions for categories of the same name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tags</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <a href="/en/basics/working-with-plentymarkets/tags">tags</a> to assign topics to the category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="url">URL name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If necessary, change the name to be used for the URL. When a category is created, the category name is prefilled as the URL name automatically. You can re-use URL names as long as they are used in different categories or on different levels. Within one category, however, the URL names may only be used once per level.<br>
<strong><em>SEO tip:</em></strong> Because no client (store) is selected when the category is created, the automatically created URL is not indexed by search engines. However, in terms of SEO it is best not to change the URL name after the category has been activated for a client.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Important:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>URL names cannot contain special characters. As such, only enter ASCII code.</p>
</li>
<li>
<p>Do not enter the following characters at the beginning of a URL name:<br>
a-, b-, c-, f-, fa-, p-, t-<br>
These prefixes are deleted automatically. For instance, "a-class" is changed to "class" automatically. For example, for a category named "a-class", you should enter the URL name "aclass".</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The URL of the category. The URL is generated automatically based on the complete path of the category, i.e. domain plus category levels plus URL name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Canonical</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If necessary, enter the URL of a category with the same content to prevent duplicate content.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Short description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a short description of the category. Template variables are used to insert the short description into the store’s design.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="position">Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number to specify which category is displayed first, second, third, etc on this level. Go to <strong>Setup » Client » Select client » Item layouts » Settings</strong> to specify the <a href="/en/online-store/online-store/item-layouts">sorting order</a>. Pages are sorted in ascending position order by default.<br>
<strong><em>Tip:</em></strong> Count by tens when creating position numbers. This will allow you to easily add new categories in between.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which online stores should the category be visible in? Choose one, several or all of the clients in the list (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="paragraph">
<p>Have you also saved <em>sub-categories</em> underneath this category? Then the following also applies:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Activate the option <strong>Apply visibility to subcategory</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if you want to make the sub-categories visible for the selected clients too.</p>
</li>
<li>
<p>The option <strong>Apply visibility to subcategory</strong> only affects the next save. In other words, the check mark disappears when you save your changes. You’ll need to re-check the option if you want to use it again in the future.</p>
</li>
<li>
<p>If a sub-category is visible, then the category above it <em>must</em> be visible too. This means:</p>
<div class="ulist">
<ul>
<li>
<p>If you make a sub-category visible, then the categories above it will be made visible too.</p>
</li>
<li>
<p>If you make a category invisible, then the sub-categories below it will be made invisible too.</p>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="meta-data">Meta title</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the meta title. The meta title is displayed in the tab title of the browser and in search engine results. If you leave this field blank, the category name is used as the title.<br>
<strong><em>SEO tip:</em></strong> Pay attention to the length of the title. Longer titles are cut off in the tabs. Currently recommended: max. 50 characters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meta description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a meta description (max. 350 characters). The meta description is analysed by search engines. As such, it is especially important for the homepage.<br>
<strong><em>SEO tip:</em></strong> The meta description should contain the most important content in one sentence.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meta keywords</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter keywords that potential customers are likely to enter into search engines and that relate to the content of the category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sitemap</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should the category be included in the sitemap?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Display</strong> = Category is included in the sitemap.</p>
</li>
<li>
<p><strong>Do not display</strong> = Category is not included in the sitemap.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Robots</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>These values tell search engine crawlers how to deal with the page and any links on the page.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>all</strong> = Include the website of the category in the search engine index and follow links on the page.</p>
</li>
<li>
<p><strong>index</strong> = Include in the search engine index.</p>
</li>
<li>
<p><strong>nofollow</strong> = Do not follow links on the page.</p>
</li>
<li>
<p><strong>noindex</strong> = Do not include in the search engine index.</p>
</li>
<li>
<p><strong>nofollow, noindex</strong> = Do not follow links and do not include webpage in the search index.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template page</strong><br>
(only relevant for the old Callisto store)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a template. The template that is selected here provides the framework for the category. This option is not available for categories of the type <strong>Container</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template list</strong><br>
(only relevant for the old Callisto store)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a template. The template determines what the category overview looks like for the current category. This option is only available for categories of the type <strong>Item</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Template product</strong><br>
(only relevant for the old Callisto store)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a template. The template determines how individual items will be displayed within this category. This option is only available for categories of the type <strong>Item</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Full text search</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should the category be added to the store’s category search index?<br>
<strong><em>Note:</em></strong> The template plugin Ceres and FINDOLOGIC ignore this setting.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = Open the menu <strong>Setup » Client » Open client » Online store » Forwarding</strong> and check whether the option <strong>Redirect for categories</strong> is set to <strong>Carry out content search</strong>. If it is, then the category data will be searched if a customer tries to open an invalid category URL.<br>
The category data is also added to the store’s category search index. When customers enter a search term in the online store, the category’s name, description 1, description 2 and meta title are searched for this term.<br>
<strong><em>Note:</em></strong> Before you can search categories, you will need to make some changes to the code in the Calisto template <strong>CategoryViewContentSearchResultsList</strong>.<br></p>
</li>
<li>
<p><strong>No</strong> = The category will not be added to the category search index.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>In link list</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should the category be displayed in the store’s navigation?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Display</strong> = Category is displayed in the store’s navigation.</p>
</li>
<li>
<p><strong>Do not display</strong> = Category is not displayed in the store’s navigation.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="login">Visible</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should the category only be visible for users who have logged in?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Public</strong> = Category is visible to all visitors of the online store.</p>
</li>
<li>
<p><strong>After login</strong> = Category and all of its sub-categories are only visible to people who have logged in. Visitors that are not logged in will be redirected to the login page.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Elmar category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an Elmar category.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Translate template variables and template functions</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should template variables and template functions be translated?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Yes</strong> = All template variables and template functions are translated.</p>
</li>
<li>
<p><strong>Template variables and template functions for links only</strong> = Only template variables and template functions for links are translated.</p>
</li>
<li>
<p><strong>No</strong> = No template variables and template functions are translated.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="800">3.3.3. Description 1 and 2</h4>
<div class="paragraph">
<p>Enter and format text in the tabs <strong>Description 1</strong> and <strong>Description 2</strong>. Use <a href="/en/online-store/online-store/cms-syntax#basics-template-variables">template variables</a> and <a href="/en/online-store/online-store/cms-syntax#basics-template-functions">template functions</a> to insert this description into your store’s web design or other areas. <strong>Description 1</strong> and <strong>2</strong> allow you to write two texts per category and display them in different areas within a website. For example, you could display <strong>Description 1</strong> above and <strong>Description 2</strong> below an overview of items.</p>
</div>
<div class="paragraph">
<p>In the drop-down list above the entry field to the right, you can select which editor you want to use for editing the template. You can use the <a href="/en/online-store/online-store/cms#_editor">Editor</a>, the HTML editor <strong>Text field</strong> or the <a href="/en/online-store/online-store/cms#_syntax_editor">Syntax editor</a>. Categories of the type <strong>Container</strong> can only be edited with the HTML editor <strong>Text field</strong> and the <strong>Syntax editor</strong>.</p>
</div>
</div>
<div class="sect3">
<h4 id="900">3.3.4. Documents</h4>
<div class="paragraph">
<p>Add images and files to your categories. You can upload the data formats JPEG, PNG, GIF, TIFF, PDF, DOC, ODC, OTH, XLS, XML, HTML, HTM, CSS, JavaScript, ZIP, JSON and GZIP.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Uploading documents</div>
<div class="paragraph">
<p>You can either add documents by clicking on the <span class="icon purple"><i class="fa fa-upload  "></i></span> <strong>Upload file</strong> button or by dragging and dropping them into the tab.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>You can define two category images for categories of the type <strong>Item</strong>. But it’s possible to upload more than just two files. So if you regularly switch out your category images, then it’s not necessary to delete the images that are not currently in use.</p>
</div>
<div class="paragraph instruction">
<p>Defining category images:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the category.</p>
</li>
<li>
<p>Click on the <strong>Documents</strong> tab.</p>
</li>
<li>
<p>Upload the images if necessary.</p>
</li>
<li>
<p>Point your cursor over the desired image.</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the image.</p>
</li>
<li>
<p>Click on <strong>Image 1</strong>.<br>
→ The image is outlined in red and designated with the number <strong>1</strong>.</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: proceed the same way for the second category image and click on <strong>Image 2</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Remove a category image by selecting the image again (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) and clicking on <strong>Image 1</strong> or <strong>Image 2</strong>.</p>
</div>
<div class="paragraph">
<p>You will be able to click on the greyed out buttons in the toolbar once you have selected one or more images with a check mark. By selecting images with check marks, you can see a preview, download or delete several images at the same time.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Displaying category images in the online store</div>
<div class="paragraph">
<p>Only category image 1 is displayed in the online store by default. This image is displayed because an <a href="/en/online-store/online-store/cms-syntax#basics-if">if-query</a> was added to the <strong>ItemViewCategoriesList</strong> template with the template variable <a href="/en/online-store/online-store/cms-syntax#web-design-navigation">$CurrentCategoryImageUrl</a>. You have to insert a second if-query to the template in order for category image 2 to be displayed.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="1000">3.3.5. Note</h4>
<div class="paragraph">
<p>Save helpful information about a category in the <strong>Note</strong> tab. For example, you can specify which sources your information comes from or let colleagues know that changes should not be made to specific paragraphs. The information saved in this tab is only visible in plentymarkets and is not displayed in the online store.</p>
</div>
<div class="paragraph instruction">
<p>Saving a note:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the category.</p>
</li>
<li>
<p>Click on the <strong>Note</strong> tab.</p>
</li>
<li>
<p>Enter the note in the editor.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the note.<br>
→ The note is saved and shown in a yellow speech bubble.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1100">3.4. Copying, moving, deleting</h3>
<div class="paragraph">
<p>The so-called <em>context menu</em> helps you manage your categories. Want to move, copy or delete a category? No problem! You can also open the context menu if you want to create new items or sub-categories.</p>
</div>
<div class="paragraph instruction">
<p>Opening the context menu:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Point your cursor over a category name.</p>
</li>
<li>
<p>Click on the small triangle (<span class="icon darkGrey"><i class="fa fa-caret-down  "></i></span>).<br>
→ The context menu appears.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/assets/category-context-menu.png" alt="category context menu">
</div>
</div>
<div class="ulist">
<ul>
<li>
<p><span class="icon darkGrey"><i class="fa fa-pencil  "></i></span> <strong>Edit category</strong> = opens the category and lets you <a href="/en/item/settings/categories#500">edit it further</a>.</p>
</li>
<li>
<p><span class="icon darkGrey fa-stack fa-lg"><i class="fa fa-folder-open fa-stack-2x  "></i><span class="icon black"><i class="fa fa-arrow-right fa-stack-1x  darkGrey"></i></span></span> <strong>Move category</strong> = moves the category, e.g. <a href="/en/item/settings/categories#sub-category">from a main category to a sub-category</a>. Do you want to control which category is displayed first, second, third, etc? Simply change the <a href="/en/item/settings/categories#position">position number</a>.</p>
</li>
<li>
<p><span class="icon darkGrey"><i class="fa fa-copy  "></i></span> <strong>Copy category</strong> = creates a copy of the category. Use this function, e.g. to create a similar category somewhere else. Copy the category with all of its settings and then make changes to individual options like the name, description and position.</p>
</li>
<li>
<p><span class="icon darkGrey fa-stack fa-lg"><i class="fa fa-cubes fa-stack-2x  "></i><span class="icon black"><i class="fa fa-plus fa-stack-1x  darkGrey"></i></span></span> <strong>Create new item</strong> = opens the <a href="/en/item/managing-items#20">menu where you can manually create a new item</a>.</p>
</li>
<li>
<p><span class="icon darkGrey"><i class="fa fa-minus-circle  "></i></span> <strong>Delete category</strong> = asks you to confirm your decision to delete the category. The category will be completely deleted. In other words, if you manage the category in several different languages or stores, then <em>all</em> of the different client and language-versions will be deleted. If you only want to <a href="/en/item/settings/categories#600">delete the category for specific language and client</a>, then click on the delete symbol in the toolbar instead.</p>
</li>
<li>
<p><span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Create subcategory</strong> = creates a new category underneath this category.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1200">4. Importing category data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Have you already thought up a <a href="/en/item/settings/categories#100">meaningful category structure</a>? Then you’re ready to create the main categories and sub-categories that will group your products.</p>
</div>
<div class="paragraph">
<p>If you only want to have <em>a few categories</em>, then we would recommend <a href="/en/item/settings/categories#300">creating them manually</a>. However, if you have <em>a lot of categories</em>, then it will probably be quicker to import your category data.</p>
</div>
<div class="paragraph">
<p>Categories are imported with a <a href="/en/data/importing-data/ElasticSync">tool called ElasticSync</a>. The idea is simple. Rather than manually saving category information in plentymarkets, you’ll <a href="/en/data/importing-data/sync-types/elasticSync-categories">enter the same information into a CSV file</a> and then import this file into your system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="1300">5. Sorting items into categories</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Every item <em>must</em> belong to a category. It’s not technically possible to create an item without a category. As such, items are sorted into categories while they are created. It doesn’t matter if you:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/managing-items#20">create the item manually</a></p>
</li>
<li>
<p><a href="/en/basics/assistants">create the item with the help of our assistant tool</a></p>
</li>
<li>
<p><a href="/en/data/importing-data/elasticsync-best-practices/best-practices-elasticsync-creating-variations">import the item with ElasticSync</a></p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Do several categories apply?</div>
<div class="paragraph">
<p>Sometimes it makes sense to list an item in several different store categories. There are a few different ways to link additional categories. You can either <a href="/en/item/managing-items#300">manually link categories in the item data record</a> or you can enter category IDs <a href="/en/data/importing-data/elasticsync-best-practices/best-practices-elasticsync-creating-variations#_category_links">comma-separated in the import files</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="1400">6. Displaying categories in the online store</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="1410">6.1. Displaying item categories</h3>
<div class="paragraph">
<p>You’ve finished creating your categories and now you want to see what they look like in your store. But where are they? Why aren’t they visible?</p>
</div>
<div class="paragraph">
<p><a href="/en/item/online-store/checklist-categories-visibility">Work through this checklist</a> and make sure your category meets all of the requirements for being visible in the online store.</p>
</div>
</div>
<div class="sect2">
<h3 id="1420">6.2. Displaying content categories</h3>
<div class="paragraph">
<p>There are several different ways to insert categories of the type <strong>Content</strong> into the Callisto online store. The following examples illustrate two different possibilities.</p>
</div>
<div class="sect3">
<h4 id="1430">6.2.1. Inserting an individual category</h4>
<div class="paragraph">
<p>You first learn how to insert an individual category.</p>
</div>
<div class="paragraph instruction">
<p>Inserting individual categories into the design:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout</strong>.</p>
</li>
<li>
<p>Select which template you want to insert the category into.</p>
</li>
<li>
<p>Click on the <strong>PageDesignContentMainFrame</strong> tab.</p>
</li>
<li>
<p>Insert the template function <strong>{Link(ID) &#37;&#125;</strong> at the desired position of the layout.</p>
</li>
<li>
<p>Replace <strong>ID</strong> with the ID of the category.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1440">6.2.2. Showing a category in a different category</h4>
<div class="paragraph">
<p>Template functions can be used to display the content of a category in another category. Simply insert the template function <strong>&#123;&#37; CategoryContentBody(ID) &#37;&#125;</strong> at the desired position in the category and replace <strong>ID</strong> with the ID of the category that is to be displayed. For instance, you can insert the terms and conditions into another category.</p>
</div>
</div>
<div class="sect3">
<h4 id="1450">6.2.3. Inserting all categories of the type Content</h4>
<div class="paragraph instruction">
<p>Inserting all categories of the type content into the design:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design » Layout</strong>.</p>
</li>
<li>
<p>Select the template into which you want to insert the categories.</p>
</li>
<li>
<p>Click on the <strong>PageDesignContentMainFrame</strong> tab.</p>
</li>
<li>
<p>Insert the template function <strong>{Container_NavigationCategories() &#37;&#125;</strong> at the desired position of the layout.</p>
</li>
<li>
<p>Insert the template function of the navigation that you have selected for categories of the type <strong>Content</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Specify the category type for the navigation</div>
<div class="paragraph">
<p>Go to <strong>CMS » Web design » Layout » Navigation</strong> to access the various designs for the category navigation. Open the design that you use for categories of the type <strong>content</strong> and click on the <strong>Settings</strong> tab. Make sure that the type <strong>Content</strong> was also selected here.<br>
If you use a plentymarkets default design, <strong>NavigationCategories4</strong> is intended for categories of the type <strong>Content</strong>. You can change these settings at any time.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1460">6.3. Displaying container categories</h3>
<div class="paragraph">
<p>Categories of the type <strong>Container</strong> are inserted into the Callisto online store using template functions.</p>
</div>
<div class="sect3">
<h4 id="1470">6.3.1. Displaying a category</h4>
<div class="paragraph">
<p>Template functions can be used to display the content of a category of the type <strong>Container</strong>, e.g. in another category. Simply insert the template function <strong>{CategoryContentBody(ID) &#37;&#125;</strong> at the desired position in the category and replace <strong>ID</strong> with the ID of the category of the type <strong>Container</strong> that is to be displayed.</p>
</div>
</div>
<div class="sect3">
<h4 id="1480">6.3.2. Linking a category</h4>
<div class="paragraph">
<p>Categories of the type <strong>Container</strong> are linked to order steps of the <a href="/en/online-store/online-store/cms#web-design-editing-the-web-design-order-process-individual-order-process">individual order process</a>. This is done in the <strong>Order process</strong> tab within the <strong>Design settings</strong>.</p>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1490">7. Other uses</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Learn other uses for categories! Do you want to save your categories in several different languages? Do you want to give customers a discount on specific item categories? This can be done with categories.</p>
</div>
<div class="sect2">
<h3 id="1500">7.1. Creating multilingual category pages</h3>
<div class="paragraph">
<p>If you want to make your online store available in several different languages, you also need to create categories in these languages. This chapter explains how to create multilingual categories of the type <strong>Content</strong>, the type <strong>Item</strong> and the type <strong>Container</strong>. We assume that these categories already exist in your store’s default language and that you’ve already met a few <a href="/en/online-store/online-store/multilingual-online-store">requirements</a>.</p>
</div>
<div class="paragraph">
<p>There are two ways to create multilingual categories. You can choose between a multilingual or a monolingual editor. Use the monolingual editor to edit one language version after another. Use the multilingual editor to edit two languages at a time. Both procedures are described below.</p>
</div>
<div class="sect3">
<h4 id="1510">7.1.1. Creating multilingual categories in the monolingual editor</h4>
<div class="paragraph">
<p>Proceed as described below to create a language version of an existing category.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Visibility of categories in the “Item » Categories” menu</div>
<div class="paragraph">
<p>In order for a category to be displayed within the directory tree in the <strong>Item » Categories</strong> menu, you must have already created this category in the system’s default language. In other words, you must have at least entered a page name in the default language.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating language versions of a category (monolingual):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open whichever category you want to create a language version for.</p>
</li>
<li>
<p>Select the desired language from the <strong>Language</strong> drop-down list, e.g. <strong>German</strong>.</p>
</li>
<li>
<p>Enter a <strong>name</strong> for the category.</p>
</li>
<li>
<p>Select the desired settings under <strong>Template page</strong>, <strong>Template list</strong>, <strong>Template product</strong> and <strong>Full text search</strong>. Pay attention to the settings that were saved for the category in the default language.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The entry is saved.<br>
→ The page’s path is created and shown in the <strong>URL</strong> field.</p>
</li>
<li>
<p>Insert content in the selected language.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1520">7.1.2. Creating a multilingual category in the multilingual view</h4>
<div class="paragraph">
<p>Proceed as described below to create a language version of a category in the multilingual editor.</p>
</div>
<div class="paragraph instruction">
<p>Creating language versions of a category (multilingual):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Click on the desired category in the directory tree.<br>
→ The category opens.</p>
</li>
<li>
<p>Click on the <strong>Multilingualism</strong> icon.<br>
→ The multilingual view of the category opens in a new tab.<br>
<strong><em>Tip:</em></strong> The default language of the online store is shown on the left side by default.</p>
</li>
<li>
<p>Select the desired <strong>language</strong> on the right.</p>
</li>
<li>
<p>Enter the <strong>Name</strong>, <strong>URL name</strong> and <strong>Meta title</strong>.</p>
</li>
<li>
<p>Enter the foreign-language text and content into the <strong>Description 1</strong> text field.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The category is saved in the selected language.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: Opening two completely new languages in the bilingual editor</div>
<div class="paragraph">
<p>You also can open new languages in the bilingual editor, i.e. languages for which no content has been saved yet. You do not necessarily have to open the default language.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1530">7.2. Saving category discounts</h3>
<div class="paragraph">
<p>Go to <strong>Setup » Client » Select client » Categories » Discounts</strong> to save volume discounts for individual item categories. You can save up to three volume discounts per category. The discounts are automatically granted when customers order at least the specified number of products in this category. The specified discounts are calculated for a variation’s default category only.</p>
</div>
<div class="paragraph instruction">
<p>Saving category discounts:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » Select client » Categories » Discounts</strong>.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-save-category-discounts">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The discount is applied automatically when a customer orders the required number of variations in the online store.<br>
<strong><em>Note:</em></strong> These discounts are only applied for the default category of a variation.</p>
</li>
</ol>
</div>
<table id="table-save-category-discounts" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Saving category discounts</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Discount 1 (%)</strong>;<br>
<strong>Discount 2 (%)</strong>;<br>
<strong>Discount 3 (%)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the discount in percent that is to be applied when the required number of variations is reached.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the number of variations customers need to order from this category for the discount to take effect.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>