<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Flags</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Renaming flags</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Flagging items</span></a></li>
</ul>
</li>
<li><a href="#400"><span>2.</span><span> Tags</span></a>
<ul class="sectlevel2">
<li><a href="#500"><span>2.1.</span><span> Creating tags</span></a></li>
<li><a href="#600"><span>2.2.</span><span> Adding tags to variations</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Tags and flags</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>It’s easy to lose track if you work with many different items. Tags and flags are good ways to organise your items and sort them logically.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">What’s the difference between tags and flags?</div>
<div class="paragraph">
<p><a href="/en/item/settings/flags#100">Flags</a> can only be linked to entire item data records. In contrast, <a href="/en/item/settings/flags#400">tags</a> can be linked to individual variations. Therefore, tags are much more flexible.</p>
</div>
<div class="paragraph">
<p>Tags can also be used to highlight other types of data records. In other words, tags can also be used to highlight specific customers, orders, tickets, etc.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Flags</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The idea is simple. Assign each of your items one or two flags. You’ll see these flags when you look at your <a href="/en/item/introduction/search#100">items in the overview</a>. Such visual aids help you find the right items at a glance. You can also <a href="/en/item/introduction/search#100">search for items</a> that have a specific flag or combination of flags.</p>
</div>
<div class="paragraph">
<p>Take a look at the different flags that are included in plentymarkets. By default, flags are named after their ID. However, you can <a href="/en/item/settings/flags#200">rename them as needed</a>. Once you’re happy with the names, you can <a href="/en/item/settings/flags#300">link the flags to items</a>.</p>
</div>
<div class="sect2">
<h3 id="200">1.1. Renaming flags</h3>
<div class="paragraph">
<p>Take a look at the different flags that are included in plentymarkets. There are 31 symbols that you can use as “Flag 1” and 11 symbols that you can use as “Flag 2”. By default, flags are named after their ID. However, you can rename them as needed.</p>
</div>
<div class="paragraph instruction">
<p>Renaming a flag:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Flags</strong>.</p>
</li>
<li>
<p>In the line <strong>Name</strong>, enter a name.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Flagging items</h3>
<div class="paragraph">
<p>Once you’re happy with the names, you can <a href="/en/item/managing-items#810">link the flags to items</a>. You’ll see these flags when you look at your <a href="/en/item/introduction/search#100">items in the overview</a>. Such visual aids help you find the right items at a glance. You can also <a href="/en/item/introduction/search#100">search for items</a> that have a specific flag or combination of flags.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="400">2. Tags</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In contrast to <a href="/en/item/settings/flags#100">flags</a>, tags can be linked to individual variations. Therefore, tags are much more flexible.</p>
</div>
<div class="paragraph">
<p>Tags can also be used to highlight other types of data records. In other words, tags can also be used to highlight specific customers, orders, tickets, etc.</p>
</div>
<div class="sect2">
<h3 id="500">2.1. Creating tags</h3>
<div class="paragraph">
<p>First, <a href="/en/basics/working-with-plentymarkets/tags">create the tags</a> that you want to use for your items.</p>
</div>
</div>
<div class="sect2">
<h3 id="600">2.2. Adding tags to variations</h3>
<div class="paragraph">
<p><a href="/en/item/managing-items#150">Link your variations to as many tags as you want</a>. Tags that you link to the main variation are passed on to the item’s other variations. To save other tags for a variation, deactivate inheritance and save different tags.</p>
</div>
</div>
</div>
</div>
</main>