<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> General settings</span></a>
<ul class="sectlevel2">
<li><a href="#110"><span>1.1.</span><span> Settings</span></a></li>
<li><a href="#120"><span>1.2.</span><span> Placeholder images</span></a></li>
<li><a href="#130"><span>1.3.</span><span> Attribute images</span></a></li>
<li><a href="#140"><span>1.4.</span><span> Name</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.</span><span> Defining image sizes</span></a></li>
<li><a href="#200"><span>3.</span><span> Personalising image URLs</span></a>
<ul class="sectlevel2">
<li><a href="#_setting_up_your_own_cdn_domain"><span>3.1.</span><span> Setting up your own CDN domain</span></a>
<ul class="sectlevel3">
<li><a href="#300"><span>3.1.1.</span><span> A domain hosted by plentymarkets</span></a></li>
<li><a href="#400"><span>3.1.2.</span><span> A domain hosted by an external provider</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#600"><span>4.</span><span> Uploading images via FTP server</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>4.1.</span><span> Naming the files correctly</span></a></li>
<li><a href="#800"><span>4.2.</span><span> Importing images</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Item images</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Item images are saved on S3 and delivered using CloudFront, a CDN service by AWS.
CDN is short for Content Delivery Network.
CDN allows completely scalable delivery of item images.
CDN makes it possible to only save the original image.
A specified dimension of the original image is created when the image is displayed on screen.
This dimension is then saved in the CloudFront CDN cache.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. General settings</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Images » Settings</strong>.<br>
→ The menu is divided into several areas.</p>
</li>
<li>
<p>Carry out the settings in each area.</p>
</li>
<li>
<p>Save (<span class="icon darkGrey"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="110">1.1. Settings</h3>
<div class="paragraph">
<p>This area relates to the import and export of item images.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export item image position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a position number from the drop-down list.
This is the item image’s position number for the image export, for example to a market.<br>
The position is defined in the item’s <a href="/en/item/managing-items#90">Images</a> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image import using FTP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should existing images be deleted before new images are imported?
Choose your preference from the drop-down list.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Add imported images</strong> = New images will be imported.
Existing images will be retained.</p>
</li>
<li>
<p><strong>Delete existing images before import</strong> = First, existing images will be deleted.
Second, new images will be imported.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image names of FTP import</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Will you <a href="/en/item/settings/images#600">upload images with an FTP server</a>?
Then your image file names will either need to contain the item ID or the variation number.
Use the drop-down list to specify which identifier the image file names contain.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="120">1.2. Placeholder images</h3>
<div class="paragraph">
<p>This area relates to placeholder images. If an item does not have its own image, then the placeholder image will be displayed instead.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL of placeholder image</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This placeholder image appears if <em>item images</em> cannot be displayed.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Upload your preferred placeholder image in the menu <strong>CMS » Webspace</strong>.</p>
</li>
<li>
<p>Then enter the URL for the placeholder image here.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL of placeholder preview image</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This placeholder image appears if <em>preview images</em> cannot be displayed.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Upload your preferred placeholder image in the menu <strong>CMS » Webspace</strong>.</p>
</li>
<li>
<p>Then enter the URL for the placeholder image here.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="130">1.3. Attribute images</h3>
<div class="paragraph">
<p>This area relates to <a href="/en/item/settings/attributes#700">attribute values that are displayed as images</a>.
For example, if customers should click on a red image to select the colour red.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Max. height in pixels</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the maximum height of the image in pixels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Max. width in pixels</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the maximum width of the image in pixels.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Additional settings</div>
<div class="paragraph">
<p>Upload the necessary images and specify that you want the attributes to be displayed as images in the plentyShop.
These settings are explained in further detail <a href="/en/item/settings/attributes#700">here</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="140">1.4. Name</h3>
<div class="paragraph">
<p>This area relates to image names.
Specifically, you’ll decide which information should be included in the image names.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Original name</strong>;<br>
<strong>Item ID</strong>;<br>
<strong>Item No.</strong>;<br>
<strong>Name 1</strong> - <strong>Name 3</strong>;<br>
<strong>Keywords</strong>;<br>
<strong>Model</strong>;<br>
<strong>Free text field 1</strong> - <strong>Free text field 20</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a position number for each desired parameter.
This simultaneously specifies which parameters the image name should contain and which of these parameters should be displayed first, second, third, etc.</p>
</div>
<div class="paragraph">
<p><strong><em>Technical specifications</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The parameters will be separated by hyphens in the image name.</p>
</li>
<li>
<p>You have to specify the <strong>item ID</strong> or the <strong>item number</strong>.</p>
</li>
<li>
<p>The image name is limited to a maximum of 32 characters.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Own prefix</strong>;<br>
<strong>Prefix</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>You are not limited to the item parameters listed above.
It is also possible to create your own prefix and add it to the image name.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Enter your own prefix into the text field <strong>Prefix</strong>.</p>
</li>
<li>
<p>Select a position number from the <strong>Own prefix</strong> drop-down list.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. Defining image sizes</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Images » Sizes</strong>.
The menu is divided into areas for four different image sizes:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>preview</strong> = Preview image</p>
</li>
<li>
<p><strong>secondPreview</strong> = Second preview image</p>
</li>
<li>
<p><strong>middle</strong> = Mid-sized image</p>
</li>
<li>
<p><strong>full</strong> = Full-sized image</p>
</li>
</ol>
</div>
</li>
<li>
<p>Carry out the settings for each image size.</p>
</li>
<li>
<p>Save (<span class="icon darkGrey"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an internal name for this image size.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Folder name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The folder name for this image size.
The folder name cannot be changed and is part of the item image’s URL.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum height in pixels</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the maximum height in pixels for images of this size.
If your item image exceeds this size, then the displayed image will be scaled down.
The aspect ratio will stay the same.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum width in pixels</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the maximum width in pixels for images of this size.
If your item image exceeds this size, then the displayed image will be scaled down.
The aspect ratio will stay the same.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Max. lifetime of cache in days</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">How long should the images be saved in the CloudFront cache?
Enter a number of days.
The image’s lifetime begins once the image has been displayed on screen in this size, i.e. loaded into the cache.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rotate the output image based on the EXIF Orientation tag</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if you want to retain the original image orientation (image rotation of 90, 180, 270°).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Retain meta data (EXIF, XMP, IPTC) of original image</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if you want to retain the meta data of the original image.
Examples of meta data are description texts, geo data (GPS), date and time.</p>
<p class="tableblock"><strong><em>Tip</em></strong>: In some cases, e.g. for preview images, it makes sense not to retain metadata in order to optimise loading time and data volume.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Do not enlarge</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should original images be enlarged?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><span class="icon darkGrey"><i class="fa fa-square-o  "></i></span> = If the original image is smaller than the maximum dimensions defined for this size, then the image will be enlarged to this size.</p>
</li>
<li>
<p><span class="icon blue"><i class="fa fa-check-square  "></i></span> = The original image will not be enlarged.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Jpg</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quality</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the slider to select a compression level between 0 and 9.
Compression reduces load times and can help you achieve better page speed values.</p>
<p class="tableblock"><strong><em>Tip</em></strong>: Compressing images to 8 results in no visible loss of quality.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Progressive</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should images of this size be displayed immediately when the page is accessed?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><span class="icon blue"><i class="fa fa-check-square  "></i></span> = The image is available at low resolution as soon as the page is loaded. The quality of the image increases gradually during page load.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Png</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Compression level (0-9)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the slider to select a compression level between 0 and 9.
Compression reduces load times and can help you achieve better page speed values.</p>
<p class="tableblock">This is the compression level that will be used for PNG files.
PNG is a loss-free format. As such, PNG images are always decompressed and shown at the original quality. However, if you select a higher compression level, the browser needs more time to decompress the image.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Progressive</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should images of this size be displayed immediately when the page is accessed?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><span class="icon blue"><i class="fa fa-check-square  "></i></span> = The image is available at low resolution as soon as the page is loaded. The quality of the image increases gradually during page load.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Invalidate CDN cache</div>
<div class="paragraph">
<p>After making changes in the menu <strong>Setup » Item » Images » Sizes</strong>, your images may still be displayed with the old settings because the changes are in the cache.
In this case, click on <strong>Invalidate CDN cache</strong> to see the changes more quickly.
The cache invalidation is done by CloudFront.
After you invalidate the cache, each image size is created on the fly when the image is opened.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="200">3. Personalising image URLs</h2>
<div class="sectionbody">
<div class="paragraph">
<p>By default, image URLs contain the domain name <code>plentymarkets.com</code>.
But it’s possible to use your own domain and subdomain instead.
The table compares the default CDN domain and a custom CDN domain.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"></th>
<th class="tableblock halign-left valign-top">Image URL with default domain</th>
<th class="tableblock halign-left valign-top">Image URL with own domain</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">URL pattern</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The URL of item images is created as follows:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Subdomain <code>CDN1</code>, <code>CDN2</code> or <code>CDN3</code></p>
</li>
<li>
<p>Domain <code>plentymarkets.com</code></p>
</li>
<li>
<p>Customer hash</p>
</li>
<li>
<p>File path <code>item/images</code></p>
</li>
<li>
<p>Item ID</p>
</li>
<li>
<p>Folder name of image size</p>
</li>
<li>
<p>Name of image file with file extension</p>
</li>
</ol>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The own domain is specified instead of the default domain. The customer hash is not shown in the URL:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Own subdomain.</p>
</li>
<li>
<p>Domain of the client</p>
</li>
<li>
<p>File path <code>item/images</code></p>
</li>
<li>
<p>Item ID</p>
</li>
<li>
<p>Folder name of image size</p>
</li>
<li>
<p>Name of image file with file extension</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Example URL</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>https://<strong>cdn01.plentymarkets.com/1abcd2e3fghi</strong>/item/images/118/full/118-Chair-Rio.jpg</code></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><code>https://<strong>yoursubdomain.yourstore.co.uk</strong>/item/images/118/full/118-Chair-Rio.jpg</code></p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Limitations</div>
<div class="ulist">
<ul>
<li>
<p>A custom subdomain can only be saved for the main domain.</p>
</li>
<li>
<p>You can only save one custom subdomain per client.</p>
</li>
<li>
<p>The subdomain must not contain www.</p>
</li>
<li>
<p>The subdomain must not exist in the domain assistant.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_setting_up_your_own_cdn_domain">3.1. Setting up your own CDN domain</h3>
<div class="paragraph">
<p>Who hosts your domain? How you’ll proceed depends on whether your domain is hosted by <a href="/en/item/settings/images#300">plentymarkets</a> or by an <a href="/en/item/settings/images#400">external provider</a>.</p>
</div>
<div class="sect3">
<h4 id="300">3.1.1. A domain hosted by plentymarkets</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » [Select client] » CDN-Domains</strong>.<br>
→ Any existing CDN domains will load automatically. This can take a few minutes.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span>.<br>
→ The <strong>New domain</strong> window opens.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-plenty-domain">Table 1</a>.</p>
</li>
<li>
<p>Save the settings.<br>
→ The subdomain is created.</p>
</li>
<li>
<p>Wait until check marks appear in the columns <strong>SSL</strong>, <strong>DNS</strong> and <strong>Cloud status</strong>.
The process can take several hours. It is completed when all three check marks appear.
The check marks mean:</p>
<div class="ulist">
<ul>
<li>
<p>An SSL certificate was created for the subdomain.</p>
</li>
<li>
<p>A DNS record was created for the subdomain.</p>
</li>
<li>
<p>A CloudFront instance was created.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Once all three check marks are displayed, activate the domain (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
</ol>
</div>
<table id="table-plenty-domain" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Saving a subdomain for image URLs</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Section</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type of subdomain from the drop-down list.
Currently, only the type <strong>CDN1</strong> is available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subdomain</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a custom subdomain.
Valid characters are letters (a-z, A-Z), numbers (0-9), underscore (_) and hyphen (-).
The first character of the subdomain must be either a letter or a number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Domain</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the domain from the drop-down list.
You can only select the client’s main domain.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Activate the domain after the subdomain has been created</div>
<div class="paragraph">
<p>It can take several hours for the subdomain to be created.
The creation process is complete when checkmarks are shown in all three columns, i.e. <strong>SSL</strong>, <strong>DNS</strong> and <strong>Cloud status</strong>. Once the subdomain is created, activate the domain.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="400">3.1.2. A domain hosted by an external provider</h4>
<div class="paragraph">
<p>If your domain is hosted by an external provider, then first you’ll generate DNS entries in plentymarkets.
Then you’ll have 72 hours to save these DNS entries with your external domain provider.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Check the CAA records</div>
<div class="paragraph">
<p>CAA records define which certificate authorities (CA) are allowed to issue certificates for a specific domain.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>Example</em></strong>: If AWS tries to issue a certificate for your domain, then there must be records for AWS.</p>
</li>
<li>
<p><strong><em>What should you do?</em></strong>: Before you set up the CDN domain, check your CAA records and add them as needed.</p>
<div class="ulist">
<ul>
<li>
<p><a href="https://docs.aws.amazon.com/acm/latest/userguide/setup-caa.html" target="_blank" rel="noopener">AWS: Further information on the topic</a></p>
</li>
<li>
<p><a href="https://www.ionos.de/hilfe/domains/caa-records-konfigurieren/caa-record-hinzufuegen-aendern-oder-loeschen/" target="_blank" rel="noopener">IONOS: Further information on the topic</a></p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">You have 72 hours to save the DNS entries with the provider</div>
<div class="paragraph">
<p>The DNS entries that are generated in plentymarkets need to be saved with the external domain provider within 72 hours.
Otherwise the DNS entries will be invalid once the time is up.</p>
</div>
<div class="paragraph">
<p>If you’ve created a CDN domain but you didn’t save the DNS entries with the provider on time, then you’ll be missing one of the three check marks in the back end and it will not be possible to activate the domain.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">What is DNS?</div>
<div class="paragraph">
<p>DNS is short for Domain Name System. DNS makes it possible to enter the domain name instead of the numerical IP address of your plentyShop.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Saving a custom domain for image URLs with an external domain:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Client » [Select client] » CDN-Domains</strong>.<br>
→ Any existing CDN domains will load automatically. This can take a few minutes.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span>.<br>
→ The <strong>New domain</strong> window opens.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-external-domain">Table 2</a>.</p>
</li>
<li>
<p>Save the settings.<br>
→ A DNS record is created for the subdomain.</p>
</li>
<li>
<p>In the line of the domain record, click on <span class="icon darkGrey"><i class="fa fa-ellipsis-v  "></i></span> and then on <strong>DNS info</strong>.<br>
→ The <strong>DNS info</strong> window opens and the DNS settings are displayed.</p>
</li>
<li>
<p>Log into the service area of your domain provider.</p>
</li>
<li>
<p>Copy the DNS settings shown in plentymarkets into the relevant fields of the domain provider.
Check the documentation of the domain provider on how to do this.</p>
</li>
<li>
<p>When you open the menu <strong>Setup » Client » [Select client] » CDN-Domains</strong>, do you see check marks displayed in the columns <strong>SSL</strong>, <strong>DNS</strong> and <strong>Cloud status</strong>?
Then the process is complete.
The check marks mean:</p>
<div class="ulist">
<ul>
<li>
<p>An SSL certificate was created for the subdomain.</p>
</li>
<li>
<p>The DNS settings were updated.</p>
</li>
<li>
<p>A CloudFront instance was created.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Once all three check marks are displayed, activate the domain (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
</ol>
</div>
<table id="table-external-domain" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Saving a subdomain for image URLs</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Section</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type of subdomain from the drop-down list.
Currently, only the type <strong>CDN1</strong> is available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subdomain</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a custom subdomain.
Valid characters are letters (a-z, A-Z), numbers (0-9), underscore (_) and hyphen (-).
The first character of the subdomain must be either a letter or a number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Domain</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the domain from the drop-down list.
You can only select the client’s main domain.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">4. Uploading images via FTP server</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Every plentymarkets system has its own <a href="/en/data/ftp-access">FTP server</a>.
This FTP server contains the folder <code>upload_article_image_XXXX</code> (XXXX = plentyID). You can upload item images into this folder.
The folder is checked for changes every 60 minutes.
New, correctly named images are assigned to the correct item automatically.
In order to upload files, you’ll need an FTP program and your FTP login details.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">100 images can be uploaded per item</div>
<div class="paragraph">
<p>You can upload up to 100 images per item, i.e. per item ID.
This is a hard limit in the user interface.
If you were to upload e.g. 150 images, then only the first 100 would appear in the user interface.
Note that the limit applies to the entire item, i.e. to all of the variations together.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="700">4.1. Naming the files correctly</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Images » Settings</strong>.</p>
</li>
<li>
<p>Use the option <a href="/en/item/settings/images#110">Image names of FTP import</a> to specify whether the file names contain the item ID or the variation number.</p>
</li>
<li>
<p>Depending on what you selected, you’ll either name the files with the item ID or the variation number.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Valid characters for file names</div>
<div class="paragraph">
<p>The following characters are supported for image file names:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Letters (a-z, A-Z) excluding umlauts</p>
</li>
<li>
<p>Numbers (0-9)</p>
</li>
<li>
<p>Underscores (_)</p>
</li>
<li>
<p>Hyphens (-)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Spaces and special characters are not permitted. When you upload images, spaces and special characters are replaced by hyphens (-).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Multiple images per item</div>
<div class="paragraph">
<p>You can upload up to 100 images per item.
Number the image files as follows:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Item ID or variation number</p>
</li>
<li>
<p>Three hyphens <strong>---</strong></p>
</li>
<li>
<p>Number from 0 to 99</p>
</li>
</ol>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="_examples" class="discrete">Examples</h4>
<div class="paragraph">
<p>You want to upload images for an item with item ID 4562 and the variation number AQ3957.</p>
</div>
<table id="table-ftp-compliant-naming" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Examples of FTP compliant naming of item images</caption>
<colgroup>
<col style="width: 42.8571%;">
<col style="width: 28.5714%;">
<col style="width: 28.5715%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Naming 1 image per item</th>
<th class="tableblock halign-left valign-top">Naming more than 1 image per item</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image names of FTP import</strong> = <strong>Item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>4562.jpg</p>
</li>
<li>
<p>4562.png</p>
</li>
<li>
<p>4562.gif</p>
</li>
<li>
<p>4562.svg</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>4652---0.jpg</p>
</li>
<li>
<p>4652---1.jpg</p>
</li>
<li>
<p>4652---2.gif</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image names of FTP import</strong> = <strong>Variation number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>AQ3957.jpg</p>
</li>
<li>
<p>AQ3957.png</p>
</li>
<li>
<p>AQ3957.gif</p>
</li>
<li>
<p>AQ3957.svg</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>AQ3957---0.png</p>
</li>
<li>
<p>AQ3957---19.png</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">4.2. Importing images</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Copy the item images that you want to upload using FTP to a folder on your hard drive.</p>
</li>
<li>
<p>Check the <a href="/en/item/settings/images#700">names of the image files</a> and modify these names if needed.</p>
</li>
<li>
<p>Select the target folder <code>upload_article_image_XXXX</code> (XXXX= plentyID) in your FTP program.</p>
</li>
<li>
<p>Select the files in the upload area of your FTP program.</p>
</li>
<li>
<p>Start the upload.<br>
→ The images are assigned to the items and displayed in the plentyShop after up to 60 minutes.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Take upload time into account</div>
<div class="paragraph">
<p>200 images are processed in each run, 2000 images if you have your own server. Depending on the data volume, the upload may take several hours, even if you have a powerful computer and a fast data connection. Therefore, schedule the file upload at a time when it will not interfere with your day-to-day business.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>