<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Sales prices</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Creating sales prices</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Saving the names in multiple languages</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Searching for sales prices</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.</span><span> Price calculations</span></a>
<ul class="sectlevel2">
<li><a href="#600"><span>2.1.</span><span> Creating price calculations</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Sales prices and price calculation</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Prices are an important topic for any business. Sales prices are managed centrally in plentymarkets. You’ll find this to be advantageous as it makes you much more flexible. You can also have your prices calculated automatically.</p>
</div>
<div class="paragraph">
<p>This video gives you a playful introduction to sales prices, price calculations, their settings and your opportunities:</p>
</div>
<div class="videoblock">
<div class="title">Learn about sales prices in our playful tutorial</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/265563480" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Sales prices</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sales prices are centrally managed. Customise sales prices to meet your needs. Assign unique names to sales prices and individually link currencies, clients, markets etc. with your sales prices. Then link the sales prices to your variations.</p>
</div>
<div class="sect2">
<h3 id="200">1.1. Creating sales prices</h3>
<div class="paragraph">
<p>Create any number of sales prices to map the entire range of your prices in plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Creating a sales price:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong>.<br>
→ The <strong>New</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-create-sales-price">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-create-sales-price" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Creating a sales price</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subscription int.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option will be used in the default template Ceres in the future and is currently not in use.<br>
<strong><em>Note:</em></strong> The subscription interval is currently ignored in scheduled subscription orders.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the position number. Sales prices are sorted in ascending order in the <strong>Sales prices</strong> area of item variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Internal name EN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the internal name. The internal name is used in the plentymarkets back end only and is not visible for the customers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>External name EN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the external name. The external name is displayed in your online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a quantity value. Sales prices with different minimum quantities can be used to create a quantity based graduation of prices in plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate one, several or <strong>ALL</strong> currencies.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency: Live conversion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The standard price will be converted into the <a href="/en/payment/currencies#20">currency</a> by means of live conversion and displayed in the store. If you select this option then the system will calculate the prices in the desired currencies. The conversion factors are based on the settings saved in the <strong>Setup » Orders » Payment » Currencies</strong> menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Activate a price type for the sales price (optional).</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>RRP</strong> = Activate if the sales price is a recommended retail price (RRP). If the RRP and another sales price are linked with a variation, the RRP will be displayed in the online store as red strike-through text next to the sales price.<br>
<strong><em>Note:</em></strong> Prices of the type <strong>RRP</strong> only serve to visualise the price difference between the RRP and a sales price. Variations cannot be sold at this RRP price.<br></p>
</li>
<li>
<p><strong>Special offer</strong> = Activate to mark the sales price as a special offer. Special offers are used for markets, for example <a href="/en/markets/amazon/amazon-setup">Amazon</a> and <a href="/en/markets/real-de/real-setup">real.de</a>.<br></p>
</li>
<li>
<p><strong>Set price</strong> = Activate to mark the sales price as a price for set components.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to display the sales price automatically in the <strong>Sales prices</strong> area when creating a new item. If this setting is deactivated, the sales price can still be added manually when creating a new item.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate one, multiple or <strong>ALL</strong> clients (shops). The sales price will be linked with the activated clients.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate one, multiple or <strong>ALL</strong> classes. The sales price will be linked with the activated customer classes. The sales price is available for customers of this class only.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate one, multiple or <strong>ALL</strong> countries of delivery. The sales price will be linked with the activated countries.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate one, multiple or <strong>ALL</strong> order referrers. The sales price will be linked with the activated referrers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon accounts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate one, multiple or <strong>ALL</strong> Amazon accounts. The sales price will be linked with the activated accounts. Amazon accounts will be available after linking a Amazon platform under <strong>Referrer</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay accounts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate one, multiple or <strong>ALL</strong> eBay accounts. The sales price will be linked with the activated accounts. eBay accounts will be available after linking an eBay platform under <strong>Referrer</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">1.2. Saving the names in multiple languages</h3>
<div class="paragraph">
<p>After creating a sales price, you can translate the name of the sales price into the required languages.</p>
</div>
<div class="paragraph instruction">
<p>Translating a sales price:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices</strong>.</p>
</li>
<li>
<p>Open the sales price in the <strong>Prices</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>Language</strong> tab.</p>
</li>
<li>
<p>Enter the <strong>internal name</strong> in the required languages.</p>
</li>
<li>
<p>Enter the <strong>external name</strong> in the required languages.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="400">1.3. Searching for sales prices</h3>
<div class="paragraph">
<p>Use filters to search for sales prices.</p>
</div>
<div class="paragraph instruction">
<p>Filtering sales prices:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices</strong>.</p>
</li>
<li>
<p>Select the <strong>Filters</strong>. Note <a href="#table-filter-sales-prices">Table 2</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ All sales prices found will be displayed in the overview.</p>
</li>
</ol>
</div>
<table id="table-filter-sales-prices" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Filtering sales prices</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Search fields</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ID to search for the sales price with this ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name to search for the sales price with this name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a quantity value to search for the sales price with this quantity.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Filters</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client (store) or <strong>ALL</strong> to search for sales prices for this client.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a customer class or <strong>ALL</strong> to search for sales prices for this class.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an order referrer or <strong>ALL</strong> to search for sales prices for this referrer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon accounts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an Amazon account or <strong>ALL</strong> to search for sales prices for this Amazon account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay accounts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an eBay account or <strong>ALL</strong> to search for sales prices for this eBay account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a currency or <strong>ALL</strong> to search for sales prices for this currency.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a language or <strong>ALL</strong> to search for sales prices in this language. <strong>English</strong> is set by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a country of delivery or <strong>ALL</strong> to search for sales prices for this country.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. Price calculations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Price calculations allow you to customise and graduate prices for different customer classes and referrers. First, you’ll <a href="/en/item/settings/prices#600">create</a> individual price variations in the menu <strong>Setup » Item » Calculation</strong>. Then you’ll <a href="/en/item/managing-items#240">link</a> the price calculations to variations.</p>
</div>
<div class="paragraph">
<p>Price calculations will automatically be taken into account for saved prices. Use the <a href="/en/item/managing-items#330">variation group function</a> to set up price calculations for multiple item variations at once.</p>
</div>
<div class="sect2">
<h3 id="600">2.1. Creating price calculations</h3>
<div class="paragraph instruction">
<p>Creating a price calculation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Calculation</strong>.</p>
</li>
<li>
<p>Click on <strong>New price calculation</strong>.<br>
→ The <strong>New price calculation</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Click on <strong>Add</strong>.<br>
→ The new price calculation opens.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-create-price-calculation">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-create-price-calculation" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Creating a price calculation</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the price calculation. The name will be displayed in the <strong>Sales prices</strong> area in the <strong>Settings</strong> tab of an item variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price source</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a price which serves as the basis of the price calculation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transportation costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to add transportation costs to the price source. Enter the transportation costs in the <strong>Costs</strong> area in the <strong>Settings</strong> tab of an item variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to add storage costs to the price source. Enter the storage costs in the <strong>Costs</strong> area in the <strong>Settings</strong> tab of an item variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to add customs to the price source. Enter the customs rate in the <strong>Costs</strong> area in the <strong>Settings</strong> tab of an item variation. Customs is entered in percent.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operating costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to add operating costs to the price source. Enter the operating costs in the <strong>Costs</strong> area in the <strong>Settings</strong> tab of an item variation. Operating costs are entered in percent.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to add the VAT rate to the price source. Select the VAT rate in the <strong>Costs</strong> area in the <strong>Settings</strong> tab of an item variation. The VAT is entered in percent.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Links</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Add</strong> to create a new link.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a price which serves as the target price of the price calculation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the operator. <strong>Plus</strong>, <strong>Minus</strong>, <strong>Plus percentage</strong>, <strong>Minus percentage</strong>, <strong>Multiplied by</strong> and <strong>Divided by</strong> are available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a numerical value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client (store) to be linked with the price calculation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a referrer to be linked with the price calculation.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>