<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Sales prices</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Creating new sales prices</span></a></li>
<li><a href="#500"><span>1.2.</span><span> Working with existing sales prices</span></a>
<ul class="sectlevel3">
<li><a href="#600"><span>1.2.1.</span><span> Searching for sales prices</span></a></li>
<li><a href="#700"><span>1.2.2.</span><span> Saving the names in multiple languages</span></a></li>
</ul>
</li>
<li><a href="#900"><span>1.3.</span><span> Applying the sales price to products</span></a></li>
</ul>
</li>
<li><a href="#1000"><span>2.</span><span> New price calculation (Beta)</span></a>
<ul class="sectlevel2">
<li><a href="#1100"><span>2.1.</span><span> Creating a new price calculation</span></a>
<ul class="sectlevel3">
<li><a href="#1200"><span>2.1.1.</span><span> Settings</span></a></li>
<li><a href="#1300"><span>2.1.2.</span><span> Formula</span></a></li>
<li><a href="#1400"><span>2.1.3.</span><span> Target price</span></a></li>
<li><a href="#1500"><span>2.1.4.</span><span> Adding further calculations</span></a></li>
</ul>
</li>
<li><a href="#1600"><span>2.2.</span><span> Working with existing calculations</span></a>
<ul class="sectlevel3">
<li><a href="#1700"><span>2.2.1.</span><span> Toolbar in the overview</span></a></li>
<li><a href="#1800"><span>2.2.2.</span><span> Columns in the table</span></a></li>
<li><a href="#1900"><span>2.2.3.</span><span> Meta data</span></a></li>
<li><a href="#2000"><span>2.2.4.</span><span> Error logs</span></a></li>
</ul>
</li>
<li><a href="#2100"><span>2.3.</span><span> Applying the calculation to products</span></a></li>
<li><a href="#2200"><span>2.4.</span><span> FAQ</span></a></li>
</ul>
</li>
<li><a href="#2300"><span>3.</span><span> Old price calculation (will be discontinued in the future)</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Sales prices and price calculation</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Prices are an important topic for any business.
Thanks to plentymarkets, you can be very flexible with your prices.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>First, you can <a href="/en/item/settings/prices#100">define the conditions</a> under which your products are sold at a specific price.
For example, you can sell products for a lower price in the online store than on Amazon.
Or you can sell products cheaper to B2B customers than to B2C customers. In plentymarkets, such conditions are called <em>sales prices</em>.</p>
</li>
<li>
<p>Second, you can save <a href="/en/item/settings/prices#900">prices for each individual variation</a>.
For example, if you sell a t-shirt in S, M, L and XL, then you can decide whether the XL variation should be a bit more expensive than the rest.</p>
</li>
<li>
<p>Third, you can have plentymarkets <a href="/en/item/settings/prices#1000">automatically calculate your monetary prices</a>.
For example, you could start out with the item’s purchase price and then add transportation costs, storage costs and taxes. Finally, you could add a 7% profit margin on top.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Sales prices</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sales prices define the <em>conditions</em> under which a variation is sold at a specific price.
For example, you can sell products for a lower price in the online store than on Amazon. Or you can sell products cheaper to B2B customers than to B2C customers.</p>
</div>
<div class="paragraph">
<p>New plentymarkets systems come equipped with <em>two default sales prices</em>.
Take a look at these default sales prices and use them to get acquainted with the topic.
Feel free to modify the default sales prices and/or create entirely new sales prices.</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/265563480" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="sect2">
<h3 id="200">1.1. Creating new sales prices</h3>
<div class="paragraph">
<p>Sales prices are created and managed centrally in plentymarkets.
You can either create new sales prices with the help of an <em>assistant</em> or you can manually create new sales prices in the <em>setup menu</em>.</p>
</div>
<div class="paragraph">
<p>Either way, you’ll customise the sales prices to meet your needs.
You’ll give the sales prices names and you’ll decide which currencies, customer classes, marketplaces or other conditions should apply.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="in-the-setup-menu-tab" data-toggle="tab" href="#in-the-setup-menu" role="tab" aria-controls="in-the-setup-menu" aria-selected="true">In the setup menu</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="with-the-assistant-tab" data-toggle="tab" href="#with-the-assistant" role="tab" aria-controls="with-the-assistant" aria-selected="false">With the assistant</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="in-the-setup-menu" role="tabpanel" aria-labelledby="in-the-setup-menu-tab">
<div class="paragraph">
<p>Create any number of sales prices to map the entire range of your prices in plentymarkets.
During the process, you’ll give the sales prices names and you’ll decide which currencies, customer classes, marketplaces or other conditions should apply.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices</strong>.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>New</strong>.<br>
→ The <strong>New</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-create-sales-price">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Finally, <a href="/en/item/settings/prices#900">link the sales prices</a> to individual variations.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
To avoid errors, you should not configure multiple sales prices with the same conditions.
Example: If you create two different sales prices that are both valid for Amazon, plentymarkets will not know which one to use.
</td>
</tr>
</tbody></table>
</div>
<table id="table-create-sales-price" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Creating a sales price</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subscription int.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option is relevant if you offer plugins on plentyMarketplace on a subscription basis.</p>
<p class="tableblock"><strong><em>Note</em></strong>: This option is neither relevant for the Ceres store nor for the scheduler or subscription module.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the position number.
If you <a href="/en/item/settings/prices#900">link multiple sales prices to a variation</a>, then you’ll see these sales prices sorted by their position number in the item data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Internal name EN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the sales price.
This name appears in a variety of different places within your plentymarkets back end. For example, you’ll choose the sales price by name when you <a href="/en/item/settings/prices#900">link it to individual items</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>External name EN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an external name for the sales price.
Currently, this name is neither displayed in the Ceres store nor in the Callisto store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply if a customer buys <em>multiple copies of the item</em>?
For example, let’s assume you sell socks for 6 EUR per pair. Do you want the price to be reduced to 5 EUR per pair if a customer buys 3 or more pairs of socks?
If so, then enter the quantity that applies to this sales price.</p>
<p class="tableblock"><strong><em>Tip</em></strong>: Add <em>even more</em> quantity-based sales prices to create a sliding scale of prices.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which currencies should the sales price apply to?
Select them from the list (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock"><strong><em>Background info</em></strong>: While configuring your online store, you’ll decide which <a href="/en/online-store/setting-up-ceres#220">languages</a> and <a href="/en/online-store/setting-up-ceres#201">currencies</a> your store should be available in.
For example, let’s assume that customers can choose the currencies EUR, PLN, CHF and GBP from the header.
Then it would make sense to also save prices for these currencies.</p>
<p class="tableblock"><strong><em>Automatic conversion</em></strong>: Activate the option <strong>Live conversion</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to have plentymarkets automatically convert your prices from the <a href="/en/payment/currencies#30">standard currency</a>, e.g. EUR, into the other currencies, e.g. PLN, CHF and GBP.<br>
If you <em>don’t</em> activate this option, then your prices will all have the same number, but different currencies, e.g. 19 EUR and 19 PLN. Therefore, it usually makes sense to have plentymarkets automatically convert the prices.</p>
<p class="tableblock">Make sure you’re happy with the <a href="/en/payment/currencies#20">conversion factors</a> saved in the menu <strong>Setup » Orders » Payment » Currencies</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which type of sales price do you want to configure? In most cases, you’ll create a <em>standard sales price</em>.</p>
<p class="tableblock">But in some cases, you might want to create an “RRP”, “set price” or “special offer” instead.
If so, then select the corresponding price type (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock"><strong>RRP</strong> = A recommended retail price, which only serves to show the price difference between the RRP and a standard sales price. In the online store, the RRP is displayed in red strikethrough text next to the sales price. Products cannot be sold for the recommended retail price.</p>
<p class="tableblock"><strong>Special offer</strong> = The price for a promotional offer or deal. For example, a special offer that’s only available on Amazon for a limited time.</p>
<p class="tableblock"><strong>Set price</strong> = <a href="/en/item/use-cases/combining-products#3000">Sets</a> are a way to combine products and sell them as a unit. If you decide to combine products and sell them as a set, then you’ll also need to give the individual set components a set price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should this sales price <em>automatically</em> be linked to new item data records?
If so, then activate the option <strong>Always display for new items</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock">If this setting is deactivated, then you will still be able to <a href="/en/item/settings/prices#900">manually add the sales price to items</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply to specific clients (stores)? If so, then select all of the stores (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that this sales price should apply to.</p>
<p class="tableblock"><strong><em>Background info</em></strong>: With plentymarkets, you can manage several online stores, i.e. <a href="/en/online-store/setting-up-clients">several clients</a>, with only one software. Consequently, it is possible to manage several different areas of business with one plentymarkets system.
That’s a great advantage. But it also means that you’ll always need to tell plentymarkets which online store the sales price applies to.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply to specific customer classes? For example, do you want to sell products cheaper to B2B customers than to B2C customers?
If so, then select all of the customer classes (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that this sales price should apply to.</p>
<p class="tableblock"><strong><em>Frequent source of errors</em></strong>: To avoid errors, you should not configure multiple sales prices for the same customer class.
Example: If you create two different sales prices that are both valid for B2B customers, plentymarkets will not know which one to use.</p>
<p class="tableblock"><strong><em>Note</em></strong>: <a href="/en/crm/managing-contacts#15">Create the necessary customer classes</a> in advance, if they don’t already exist in your plentymarkets system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply to specific countries of delivery? For example, you probably pay different tax rates in different countries. As such, you might want to sell an item for a slightly higher price in some countries, rather than pay the difference yourself.
Select all of the countries (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that this sales price should apply to.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply to specific distribution channels? For example, do you want to sell the item for a lower price in your online store than on Amazon?
Select all of the platforms (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that this sales price should apply to.</p>
<p class="tableblock"><strong><em>Frequent source of errors</em></strong>: To avoid errors, you should not configure multiple sales prices for the same sales channel.
Example: If you create two different sales prices that are both valid for Amazon, plentymarkets will not know which one to use.</p>
<p class="tableblock"><strong><em>Note</em></strong>: If you select eBay or Amazon, then the corresponding account settings will appear further below. Here you’ll tell plentymarkets which eBay or Amazon account the sales price should apply to.
Therefore, <a href="/en/markets/ebay/ebay-setup">link your eBay or Amazon account to plentymarkets</a> in advance.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon accounts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tell plentymarkets which Amazon account the sales price should apply to.
Therefore, <a href="/en/markets/amazon/amazon-setup">link your Amazon account to plentymarkets</a> in advance.</p>
<p class="tableblock">This setting is greyed out until you select an Amazon platform from the list above.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay accounts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tell plentymarkets which eBay account the sales price should apply to.
Therefore, <a href="/en/markets/ebay/ebay-setup">link your eBay account to plentymarkets</a> in advance.</p>
<p class="tableblock">This setting is greyed out until you select an eBay platform from the list above.</p></td>
</tr>
</tbody>
</table>
</div><div class="tab-pane fade" id="with-the-assistant" role="tabpanel" aria-labelledby="with-the-assistant-tab">
<div class="paragraph">
<p>Use the assistant to easily create new sales prices.
The assistant guides you through all of the most common settings.
During the process, you’ll give the sales prices names and you’ll decide which currencies, customer classes, marketplaces or other conditions should apply.
There are also a few advanced settings, which are optional. You might want to configure these settings afterwards.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Basic setup</strong>.</p>
</li>
<li>
<p>Click on the sales prices assistant.</p>
</li>
<li>
<p>Click on <strong>New configuration</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Follow the instructions on the screen. Note <a href="#table-sales-price-assistant">Table 2</a> if you need additional information about one of the options.</p>
</li>
<li>
<p>Check the summary for any possible errors and click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The assistant is finished. Repeat these steps until you’ve created all of the sales prices that your company needs.</p>
</li>
<li>
<p>Finally, <a href="/en/item/settings/prices#900">link the sales prices</a> to individual variations.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
To avoid errors, you should not configure multiple sales prices with the same conditions.
Example: If you create two different sales prices that are both valid for Amazon, plentymarkets will not know which one to use.
</td>
</tr>
</tbody></table>
</div>
<table id="table-sales-price-assistant" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Creating a sales price</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Step: Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which type of sales price do you want to configure? In most cases, you’ll create a <em>standard sales price</em>.</p>
<p class="tableblock">But in some cases, you might want to create an “RRP”, “set price” or “special offer” instead.
If so, then activate this option (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).
An additional configuration step will appear. During this step, you’ll specify which type of sales price you want to create.</p>
<p class="tableblock"><strong>RRP</strong> = A recommended retail price, which only serves to show the price difference between the RRP and a standard sales price. In the online store, the RRP is displayed in red strikethrough text next to the sales price. Products cannot be sold for the recommended retail price.</p>
<p class="tableblock"><strong>Special offer</strong> = The price for a promotional offer or deal. For example, a special offer that’s only available on Amazon for a limited time.</p>
<p class="tableblock"><strong>Set price</strong> = <a href="/en/item/use-cases/combining-products#3000">Sets</a> are a way to combine products and sell them as a unit. If you decide to combine products and sell them as a set, then you’ll also need to give the individual set components a set price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer classes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply to specific customer classes? For example, do you want to sell products cheaper to B2B customers than to B2C customers?
If so, then activate this option (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).
An additional configuration step will appear. During this step, you’ll specify which customer classes the sales price applies to.</p>
<p class="tableblock"><strong><em>Frequent source of errors</em></strong>: To avoid errors, you should not configure multiple sales prices for the same customer class.
Example: If you create two different sales prices that are both valid for B2B customers, plentymarkets will not know which one to use.</p>
<p class="tableblock"><strong><em>Note</em></strong>: <a href="/en/crm/managing-contacts#15">Create the necessary customer classes</a> in advance, if they don’t already exist in your plentymarkets system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quantity-based dependency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply if a customer buys <em>multiple copies of the item</em>?
For example, let’s assume you sell socks for 6 EUR per pair. Do you want the price to be reduced to 5 EUR per pair if a customer buys 3 or more pairs of socks?
If so, then activate this option (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).
An additional configuration step will appear. During this step, you’ll specify which quantity the sales price applies to.</p>
<p class="tableblock"><strong><em>Tip</em></strong>: Add <em>even more</em> quantity-based sales prices to create a sliding scale of prices.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Step: Name</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Internal name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the sales price.
This name appears in a variety of different places within your plentymarkets back end. For example, you’ll choose the sales price by name when you <a href="/en/item/settings/prices#900">link it to individual items</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>External name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an external name for the sales price.
Currently, this name is neither displayed in the Ceres store nor in the Callisto store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Step: Availabilities</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currencies</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which currencies should the price automatically be converted into?
Select them from the list (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock"><strong><em>Background info</em></strong>: While configuring your online store, you’ll decide which <a href="/en/online-store/setting-up-ceres#220">languages</a> and <a href="/en/online-store/setting-up-ceres#201">currencies</a> your store should be available in.
For example, let’s assume that customers can choose the currencies EUR, PLN, CHF and GBP from the header.
In this case, it would make sense to have plentymarkets automatically convert your prices from the <a href="/en/payment/currencies#30">standard currency</a>, e.g. EUR, into the other currencies, e.g. PLN, CHF and GBP.</p>
<p class="tableblock">Make sure you’re happy with the <a href="/en/payment/currencies#20">conversion factors</a> saved in the menu <strong>Setup » Orders » Payment » Currencies</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales channels</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply to specific distribution channels? For example, do you want to sell the item for a lower price in your online store than on Amazon?
Select all of the platforms (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that this sales price should apply to.</p>
<p class="tableblock"><strong><em>Frequent source of errors</em></strong>: To avoid errors, you should not configure multiple sales prices for the same sales channel.
Example: If you create two different sales prices that are both valid for Amazon, plentymarkets will not know which one to use.</p>
<p class="tableblock"><strong><em>Note</em></strong>: If you choose eBay or Amazon, then an additional configuration step will appear. During this step, you’ll tell plentymarkets which eBay or Amazon account the sales price should apply to.
Therefore, <a href="/en/markets/ebay/ebay-setup">link your eBay or Amazon account to plentymarkets</a> in advance.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply to specific countries of delivery?
For example, you probably pay different tax rates in different countries. As such, you might want to sell an item for a slightly higher price in some countries, rather than pay the difference yourself.
Select all of the countries (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that this sales price should apply to.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply to specific clients (stores)? If so, then select all of the stores (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that this sales price should apply to.</p>
<p class="tableblock"><strong><em>Background info</em></strong>: This setting is only visible if you use plentymarkets to manage multiple online stores, i.e. <a href="/en/online-store/setting-up-clients">multiple clients</a>.
Since it’s possible to implement several different areas of business with just one plentymarkets system, you always need to tell plentymarkets which online store the sales price applies to.</p></td>
</tr>
</tbody>
</table>
<h5 id="_advanced_settings_not_included_in_the_assistant" class="discrete">Advanced settings (not included in the assistant)</h5>
<div class="paragraph">
<p>The assistant guides you through all of the most common settings for sales prices. However, there are also a few advanced settings, which are optional. You might want to configure these settings afterwards.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices</strong>.</p>
</li>
<li>
<p><a href="/en/item/settings/prices#600">Search for</a> and open the sales price.</p>
</li>
<li>
<p>Configure the advanced settings if needed. Note <a href="#table-sales-price-advanced-settings">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-sales-price-advanced-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. The following settings are not included in the assistant</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subscription int.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option is relevant if you offer plugins on plentyMarketplace on a subscription basis.</p>
<p class="tableblock"><strong><em>Note</em></strong>: This option is neither relevant for the Ceres store nor for the scheduler or subscription module.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the position number.
If you <a href="/en/item/settings/prices#900">link multiple sales prices to a variation</a>, then you’ll see these sales prices sorted by their position number in the item data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should this sales price <em>automatically</em> be linked to new item data records?
If so, then activate the option <strong>Always display for new items</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock">If this setting is deactivated, then you will still be able to <a href="/en/item/settings/prices#900">manually add the sales price to items</a>.</p></td>
</tr>
</tbody>
</table>
</div></div>
</div>
<div class="sect2">
<h3 id="500">1.2. Working with existing sales prices</h3>
<div class="paragraph">
<p>As soon as you <a href="/en/item/settings/prices#200">create a new sales price</a>, it is automatically added to the overview in the menu <strong>Setup » Item » Sales prices</strong>.</p>
</div>
<div class="sect3">
<h4 id="600">1.2.1. Searching for sales prices</h4>
<div class="paragraph">
<p>Use the filters on the left to limit which sales prices are displayed in the overview on the right.</p>
</div>
<div class="paragraph instruction">
<p>Filtering sales prices:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices</strong>.</p>
</li>
<li>
<p>Select the filters on the left. Note <a href="#table-filter-sales-prices">Table 4</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The filtered sales prices will be displayed in the overview on the right.</p>
</li>
</ol>
</div>
<table id="table-filter-sales-prices" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Filtering sales prices</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ID to search for the sales price with this ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name to search for the sales price with this name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a quantity value to search for the sales price with this quantity.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client (store) or <strong>ALL</strong> to search for sales prices for this client.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a customer class or <strong>ALL</strong> to search for sales prices for this class.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an order referrer or <strong>ALL</strong> to search for sales prices for this referrer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon accounts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an Amazon account or <strong>ALL</strong> to search for sales prices for this Amazon account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay accounts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an eBay account or <strong>ALL</strong> to search for sales prices for this eBay account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a currency or <strong>ALL</strong> to search for sales prices for this currency.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a language or <strong>ALL</strong> to search for sales prices in this language. <strong>English</strong> is set by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a country of delivery or <strong>ALL</strong> to search for sales prices for this country.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="700">1.2.2. Saving the names in multiple languages</h4>
<div class="paragraph">
<p>After <a href="/en/item/settings/prices#200">creating a new sales price</a>, you can translate the name of the sales price into the required languages.</p>
</div>
<div class="paragraph instruction">
<p>Translating a sales price:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices</strong>.</p>
</li>
<li>
<p><a href="/en/item/settings/prices#600">Search for</a> and open the sales price.</p>
</li>
<li>
<p>Click on the <strong>Language</strong> tab.</p>
</li>
<li>
<p>Enter the <strong>internal name</strong> in the required languages.</p>
</li>
<li>
<p>Enter the <strong>external name</strong> in the required languages.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="900">1.3. Applying the sales price to products</h3>
<div class="paragraph">
<p>Sales prices are linked to <a href="/en/item/introduction/structure">individual variations</a>, rather than to the item as a whole.
For example, if you sell a t-shirt in S, M, L and XL, then you can decide whether the XL variation should be a bit more expensive than the rest.</p>
</div>
<div class="paragraph">
<p>There are a few different ways to link sales prices to variations and enter the actual monetary prices:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If you only want to save prices <em>for a few items</em>, then it makes sense to <a href="/en/item/managing-items#240">manually link sales prices and enter monetary amounts</a>.</p>
</li>
<li>
<p>If you want to save prices <em>for lots of items</em>, then we would recommend <a href="/en/item/import-export-create/import#800">importing the sales prices and monetary amounts</a>.
Alternatively, you could also import this data with an <a href="/en/welcome/assistants">assistant</a>.</p>
</li>
<li>
<p>Rather than manually entering the monetary amounts, you might want plentymarkets to <a href="/en/item/settings/prices#1000">automatically calculate them for you</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">2. New price calculation (Beta)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Let plentymarkets calculate your prices for you.
For example, start with the purchase price and then add transportation costs, storage costs and taxes.
Finally, add a 7% profit margin on top.
With plentymarkets, you decide how your prices should be calculated.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">When will the function be available?</div>
<div class="paragraph">
<p>This chapter describes the new price calculation, which was launched at the start of 2021.
When the function will become available depends on whether you have a Beta, Early or Stable system.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Beta</strong> = March 31st, 2021</p>
</li>
<li>
<p><strong>Early</strong> = April 7th, 2021</p>
</li>
<li>
<p><strong>Stable</strong> = April 14th, 2021</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>There is also an old price calculation, which is no longer being developed and will be phased out in the future.
The old tool is <a href="/en/item/settings/prices#2300">described here</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h3 id="_procedure" class="discrete">Procedure</h3>
<div class="paragraph">
<p>This function is configured in several different steps:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/settings/prices#1100">Create the necessary price calculations</a></p>
</li>
<li>
<p><a href="/en/item/settings/prices#2100">Apply the calculation to your products</a></p>
</li>
<li>
<p><a href="/en/item/settings/prices#2000">Check the error log and fix any problems</a></p>
</li>
</ul>
</div>
<div class="sect2">
<h3 id="1100">2.1. Creating a new price calculation</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Price calculation</strong>.</p>
</li>
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Price calculation</strong>.</p>
</li>
<li>
<p>Customise the settings to meet your needs:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Enter a distinct name for the calculation.</p>
</li>
<li>
<p>Create your own formulas.</p>
</li>
<li>
<p>Select decimal places and rounding behaviour for each target price.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong>Save</strong> (<span class="icon darkGrey"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="sect3">
<h4 id="1200">2.1.1. Settings</h4>
<table id="table-pricecalculation-settings" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a distinct name for the calculation.
The name is only used internally and is <em>not</em> visible to customers.
You’ll select the price calculation by its name, e.g. when you apply it to specific variations.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-toggle-on  "></i></span> <strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The price calculation will only be applied to products if it is active.
In other words, you can try out new formulas and rounding behaviours, without causing the item prices to be recalculated.
Activate the price calculation when it should go into effect.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><span class="icon darkGrey"><i class="fa fa-toggle-off  "></i></span> = Saving does not trigger a recalculation.</p>
</li>
<li>
<p><span class="icon blue"><i class="fa fa-toggle-on  "></i></span> = Saving opens a pop-up window.
You will be asked to confirm your decision because saving triggers a recalculation.
You will see how many variations are affected.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Prices are not recalculated immediately.
Rather, the recalculation starts after a short delay (about 3 minutes).</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="1300">2.1.2. Formula</h4>
<div class="paragraph">
<p>How should the price be calculated?
For example, you could start with the purchase price and then add transportation costs, storage costs and taxes.
Finally, you could add a 7% profit margin on top.
In this case, the formula might look something like this:<br>
<code>(Purchase + Transport + Storage + VAT) * 1.07</code></p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/settings/assets/formula.gif" alt="formula">
</div>
</div>
<div class="paragraph instruction">
<p>Writing the formula:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Enter a name for the formula if needed, e.g. base formula.</p>
</li>
<li>
<p>Click on the entry field.<br>
→ A calculator opens.</p>
</li>
<li>
<p>Enter the formula:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Enter numbers and mathematical symbols with the calculator or the keyboard.</p>
</li>
<li>
<p>Search for available variables and add them to your calculation (<span class="icon darkGrey"><i class="fa fa-plus  "></i></span>).</p>
</li>
</ol>
</div>
</li>
<li>
<p>Click on <strong>Apply</strong>.</p>
</li>
</ol>
</div>
<h5 id="1350" class="discrete">Available variables</h5>
<div class="openblock collapseBox">
<div class="title"><strong>Variation</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Purchase price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the net purchase price under:<br>
<a href="/en/item/managing-items#280">Tab: Settings » Area: Costs » Option: Net purchase price</a></p>
<p class="tableblock">The purchase price is either calculated automatically or managed manually depending on how the settings were saved in the menu <strong>Setup » Stock » Stock » Incoming items</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mov. avg. purchase price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the moving average purchase price under:<br>
<a href="/en/item/managing-items#280">Tab: Settings » Area: Costs » Option: Moving average purchase price (net)</a></p>
<p class="tableblock">It is recalculated every time stock is booked in. It is calculated from the purchase prices of all stocks that are available for the variation in the warehouse.</p>
<p class="tableblock"><strong><em>Note</em></strong>: Go to <strong>Setup » Stock » Stock » Incoming items</strong> and see which warehouses were activated with the setting <strong>Warehouse for moving average price</strong>. The moving average purchase price only takes items into account that were booked into one of these warehouses. If no warehouse is active, then no moving average purchase price is calculated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transportation costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the net transportation costs under:<br>
<a href="/en/item/managing-items#280">Tab: Settings » Area: Costs » Option: Net transportation costs</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT<br>
(standard client)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the percentage of VAT under:<br>
<a href="/en/item/managing-items#280">Tab: Settings » Area: Costs » Option: VAT</a></p>
<p class="tableblock"><strong><em>Note</em></strong>:
In the variation, the VAT is saved as a percentage.
In the formula, you’ll need to convert the percentage into a decimal number.
Example: You can turn <code>7%</code> into <code>1.07</code> by entering <code>(1 + VAT / 100)</code>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the percentage of customs under:<br>
<a href="/en/item/managing-items#280">Tab: Settings » Area: Costs » Option: Customs</a></p>
<p class="tableblock"><strong><em>Note</em></strong>:
In the variation, the customs surcharge is saved as a percentage.
In the formula, you’ll need to convert the percentage into a decimal number.
Example: You can turn <code>11,2%</code> into <code>1.112</code> by entering <code>(1 + Customs / 100)</code>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operating costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the percentage of operating costs under:<br>
<a href="/en/item/managing-items#280">Tab: Settings » Area: Costs » Option: Operating costs</a></p>
<p class="tableblock"><strong><em>Note</em></strong>:
In the variation, the operating costs are saved as a percentage.
In the formula, you’ll need to convert the percentage into a decimal number.
Example: You can turn <code>7%</code> into <code>1.07</code> by entering <code>(1 + Operating costs / 100)</code>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Corresponds to the net storage costs under:<br>
<a href="/en/item/managing-items#280">Tab: Settings » Area: Costs » Option: Net storage costs</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Extra shipping charge 1</strong>;<br>
<strong>Extra shipping charge 2</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Corresponds to the extra shipping charge under:<br>
<a href="/en/item/managing-items#290">Tab: Settings » Area: Shipping » Option: Extra shipping charge 1 and 2</a></p>
</div>
<div class="paragraph">
<p>This is a fee that should be charged <em>in addition</em> to the normal shipping costs. Such extra shipping charges are useful for large or bulky items that are particularly expensive to ship.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Extra shipping charge 1 applies to the first item.</p>
</li>
<li>
<p>Extra shipping charge 2 applies to each additional item.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Additional settings</em></strong>: In each of your <a href="/en/fulfilment/preparing-the-shipment#1000">shipping profiles</a>, specify whether these extra charges should be added to the basic shipping costs.</p>
</div>
<div class="paragraph">
<p>The manual also includes several <a href="/en/fulfilment/preparing-the-shipment#1100">example calculations for extra shipping charges</a>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Sales prices</strong></div>
<div class="content">
<div class="paragraph">
<p>Add sales prices to your formula.
This list only includes the sales prices that you’ve <a href="/en/item/settings/prices#200">already created in your system</a>.</p>
</div>
<div class="paragraph">
<p><strong><em>Example of use</em></strong><br>
Imagine you sell items in the online shop and on Amazon.
You want the Amazon price to always be 10% more than in the online shop.
In this case, you could calculate the Amazon price like this:<br>
<code>Amazon = Shop * 1.10</code></p>
</div>
<div class="paragraph">
<p><strong><em>Why can’t I select some of the sales prices?</em></strong><br>
To avoid errors, some sales prices are not available for selection.
It is not possible to use a sales price as a variable if it has already been chosen as a target price.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Properties</strong></div>
<div class="content">
<div class="paragraph">
<p>Add properties of the type "Int" or "Float" to your formula.
This list only includes the properties that you’ve <a href="/en/item/settings/properties#500">already created in your system</a> and that have a check mark next to the option <a href="/en/item/settings/properties##intable-pricecalc">Price calculation property</a>.</p>
</div>
<div class="paragraph">
<p><strong><em>Have you also saved a value for the property?</em></strong><br>
Make sure that you’ve <a href="/en/item/settings/properties#1400">linked</a> the property to the corresponding variations and that you’ve saved a whole number or a decimal number as the value.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Formulas</strong></div>
<div class="content">
<div class="paragraph">
<p>It is possible to build new formulas on top of existing ones.
For example, you could start by creating a base formula.
Then you could <a href="/en/item/settings/prices#1500">add other calculations</a> to further modify the formula.
Previously created formulas will turn into variables, which you can select here.</p>
</div>
<div class="paragraph">
<p><strong><em>Why don’t I see this area?</em></strong><br>
This area is only displayed if your price calculation includes more than one calculation building block.</p>
</div>
</div>
</div>
</div>
<div class="sect3">
<h4 id="1400">2.1.3. Target price</h4>
<div class="paragraph">
<p>Which sales prices should the formula calculate?
For example, you might want to calculate the prices for your online shop with this formula and the prices on Amazon with a different formula.
How many decimal places should the sales price have?
Should it be rounded up or down?
Choose your preferences from the drop-down lists.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/settings/assets/target-price.gif" alt="target price">
</div>
</div>
<div class="paragraph instruction">
<p>Choosing sales prices:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Target price</strong>.<br>
→ A new line is added.</p>
</li>
<li>
<p>Choose the appropriate sales price, rounding behaviour and number of decimal places. Note <a href="#table-pricecalculation-targetprices">Table 5</a>.</p>
</li>
<li>
<p>Repeat the procedure to add further target prices as needed.</p>
</li>
</ol>
</div>
<table id="table-pricecalculation-targetprices" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Target prices, rounding behaviour and decimal places</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the appropriate sales price from the drop-down list.</p>
</div>
<div class="paragraph">
<p><strong><em>Why can’t I select some of the sales prices?</em></strong><br></p>
</div>
<div class="ulist">
<ul>
<li>
<p>To avoid duplicate target prices.
For example, if you selected the online shop as the target price in the first line, then you cannot select the online shop as the target price again in the second line.</p>
</li>
<li>
<p>To avoid errors.
It is not possible to set a sales price as the target price if it is currently being used as a variable.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div class="content"><div class="openblock collapseBox">
<div class="title"><strong>Rounding behaviour</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 16.6666%;">
<col style="width: 66.6666%;">
<col style="width: 16.6668%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Behaviour</th>
<th class="tableblock halign-left valign-top">Explanation</th>
<th class="tableblock halign-left valign-top">Examples</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Do not round, but rather limit decimal places</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Prices will not be rounded.
Instead, enter a number of decimal places.
Any further decimal places will be cut off at this point.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.3275<br>
4.327<br>
4.32</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>To full euro</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Prices will always be rounded to the next full euro, pound, franc, etc.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10.00<br>
11.00<br>
12.00</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>To full cent</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Prices will always be rounded to the next cent, penny, centime, etc.
This means prices will be rounded to a maximum of two decimal places.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.32<br>
4.33<br>
4.34</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>To x.99</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Prices will always be rounded to one cent before the full euro (one penny before the full pound, etc.).</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10.99<br>
11.99<br>
12.99</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>To x.95</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Prices will always be rounded to five cents before the full euro (five pence before the full pound, etc.).</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10.95<br>
11.95<br>
12.95</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>To x.45 or x.95</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Prices will always be rounded to five cents before the full or half euro (five pence before the full or half pound, etc.).</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10.45<br>
10.95<br>
11.45</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>In 50 cent increments</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Prices will always be rounded in increments of 50 cents, pence, centimes, etc.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10.50<br>
11.00<br>
11.50</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>In 25 cent increments</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Prices will always be rounded in increments of 25 cents, pence, centimes, etc.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10.25<br>
10.50<br>
10.75</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>In 10 cent increments</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Prices will always be rounded in increments of 10 cents, pence, centimes, etc.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10.10<br>
10.20<br>
10.30</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>To x.x9</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Prices always have a 9 as the second decimal place.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10.19<br>
10.29<br>
10.39</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>In 5 cent increments</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Prices will always be rounded in increments of 5 cents, pence, centimes, etc.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">10.05<br>
10.10<br>
10.15</p></td>
</tr>
</tbody>
</table>
</div>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rounding direction</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which direction should the prices be rounded in?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Mathematical</strong> = The calculated prices will either be rounded up or down.
The direction depends on whether the price is above or below a certain threshold.
For example, the rounding behaviour <strong>To x.99</strong> has a threshold of 49 cents.
If a calculated price ends with x.48, then the price is rounded down.
If a calculated price ends with x.49, then the price is rounded up.</p>
</li>
<li>
<p><strong>Round up</strong> = The calculated price will always be rounded up.</p>
</li>
<li>
<p><strong>Round down</strong> = The calculated price will always be rounded down.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Decimal places</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the appropriate number of decimal places.
The calculated price is cut off at this point.</p>
</div>
<div class="paragraph">
<p><strong><em>Examples</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Calculated price: 199.123456</p>
</li>
<li>
<p>4 decimal places: 199.1234</p>
</li>
<li>
<p>2 decimal places: 199.12</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Why can’t I enter decimal places?</em></strong><br>
Most rounding behaviours are inherently limited to 2 decimal places.
If you select one of these rounding behaviours, then you will not be able to enter decimal places.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="1500">2.1.4. Adding further calculations</h4>
<div class="paragraph">
<p>Each price calculation is made up of one or more <em>calculation building blocks</em>.
Within each building block, you’ll:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/settings/prices#1300">create a formula</a></p>
</li>
<li>
<p><a href="/en/item/settings/prices#1400">select target prices and rounding behaviour</a></p>
</li>
</ul>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/settings/assets/further-calculation.gif" alt="further calculation">
</div>
</div>
<div class="paragraph">
<p>The first building block automatically appears when you create the price calculation.
Click on <span class="icon darkGrey"><i class="fa fa-plus  "></i></span> <strong>Calculation</strong> to add further building blocks and thus build your formulas on each other.
For example, you could use the first calculation to create a base formula.
And you could use additional calculations to modify this formula even further.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Previous formulas turn into variables</div>
<div class="paragraph">
<p>The neat thing about this building block format is that you can re-use previously created formulas.
They turn into <a href="/en/item/settings/prices#1350">variables</a>, which you can select in the calculator.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1600">2.2. Working with existing calculations</h3>
<div class="paragraph">
<p>Once you’ve created a new price calculation, it’s automatically added to the overview in the menu <strong>Item » Price calculation</strong>.
Click on a price calculation to open it and edit it further.</p>
</div>
<div class="sect3">
<h4 id="1700">2.2.1. Toolbar in the overview</h4>
<table id="table-pricecalculation-overview-symbols" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Icon</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-undo  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Reloads the menu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-plus  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Opens the screen for creating a <a href="/en/item/settings/prices#1100">new price calculation</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-pencil  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">It’s possible to open several price calculations at the same time.
Select the desired calculations (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) and click on <span class="icon darkGrey"><i class="fa fa-pencil  "></i></span>.
The price calculations will be displayed one below the other on the left side of the screen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon "><i class="psicon-copy"></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">It’s possible to copy existing price calculations.
Select the desired calculations (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) and click on <span class="icon "><i class="psicon-copy"></i></span>.
The new calculations will be added to the overview.
They will automatically be made inactive and given the name <strong>Copy of "original name"</strong>.</p>
<p class="tableblock"><strong><em>Note</em></strong>:
Links to variations <em>will not be copied</em>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-trash  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">It’s possible to delete several price calculations at the same time.
Select the desired calculations (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) and click on <span class="icon darkGrey"><i class="fa fa-trash  "></i></span>.</p>
<p class="tableblock"><strong><em>Note</em></strong>: A price calculation can only be deleted if it is <em>not</em> linked to a variation.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="1800">2.2.2. Columns in the table</h4>
<table id="table-pricecalculation-overview-columns" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Header</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon darkGrey"><i class="fa fa-square-o  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">It’s possible to open or delete several price calculations at the same time.
Select the desired calculations (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) and click on one of the symbols in the toolbar.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/settings/prices#1200">Active price calculations</a> are marked with a blue dot (<span class="icon blue"><i class="fa fa-circle  "></i></span>).
This helps you recognise the active and inactive calculations at a glance.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The price calculation’s UUID.
The ID is automatically generated when the calculation is created.
This ID cannot be changed.</p>
<p class="tableblock"><strong><em>Tip</em></strong>: Do you want to copy the UUID?
Open the price calculation and click on the UUID in the lower left corner.
The UUID is copied to the clipboard.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <a href="/en/item/settings/prices#1200">name</a> that was entered while creating the price calculation.
In the overview, the price calculations are sorted alphabetically by their names.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Calculated sales prices</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The <a href="/en/item/settings/prices#1400">target prices</a> that were chosen while creating the price calculation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Linked variations</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The number of variations that are linked with the price calculation.
This number tells you how many variations will be affected when prices are recalculated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number of variations with errors</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The number of variations that are linked to the price calculation, but whose prices cannot be calculated correctly.
<a href="/en/item/settings/prices#2000">Open the error log</a> to see what’s causing the problem.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="1900">2.2.3. Meta data</h4>
<div class="paragraph">
<p>Once you’ve opened a price calculation, you’ll see meta information displayed in the lower left corner.
The following data is displayed here:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Name</p>
</li>
<li>
<p>UUID</p>
</li>
<li>
<p>Creation date</p>
</li>
<li>
<p>Date when changes were last made</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">UUID can be copied</div>
<div class="paragraph">
<p>Move your cursor over the UUID.
The cursor changes shape (<span class="icon green"><i class="fa fa-plus-circle  "></i></span>).
Click on the UUID to copy it to the clipboard.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="2000">2.2.4. Error logs</h4>
<div class="paragraph">
<p>Every price calculation includes an error log.
The log tells you which variations cannot have their prices calculated and why.</p>
</div>
<div class="paragraph instruction">
<p>Viewing and fixing errors:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Price calculation</strong>.</p>
</li>
<li>
<p>Open the price calculation and click on <span class="icon darkGrey"><i class="fa fa-exclamation-circle  "></i></span> <strong>Error log</strong> on the left.</p>
</li>
<li>
<p>Expand a line (<span class="icon darkGrey"><i class="fa fa-chevron-right  "></i></span>) to see further information about the errors.</p>
</li>
<li>
<p>Click on a variation ID to open the variation and fix the errors.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/settings/assets/error-log.gif" alt="error log">
</div>
</div>
<table id="table-pricecalculation-errors" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Error logs</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Header</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The number of variations that are linked to the price calculation, but whose prices cannot be calculated correctly.
Click on a variation ID to open the variation and fix the errors.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Error</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The number of errors that occurred for the variation.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="2100">2.3. Applying the calculation to products</h3>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manually-tab" data-toggle="tab" href="#manually" role="tab" aria-controls="manually" aria-selected="true">Manually</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="import-tab" data-toggle="tab" href="#import" role="tab" aria-controls="import" aria-selected="false">Import</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="group-function-or-batch-processing-tab" data-toggle="tab" href="#group-function-or-batch-processing" role="tab" aria-controls="group-function-or-batch-processing" aria-selected="false">Group function or batch processing</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manually" role="tabpanel" aria-labelledby="manually-tab">
<div class="paragraph">
<p>If you only want to save the price calculation <em>for a few items</em>, then it makes sense to manually link the price calculation.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open variation] » Tab: Settings » Area: Sales prices</strong>.</p>
</li>
<li>
<p>Choose a previously created <a href="/en/item/settings/prices#1000">price calculation</a> from the right drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
<li>
<p>Reload the item data record if needed. To do so, right-click on the item tab and then click on <span class="icon darkGrey"><i class="fa fa-undo  "></i></span> <strong>Reload</strong>.<br>
→ The sales price and the automatically calculated monetary price will be displayed in the list.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="import" role="tabpanel" aria-labelledby="import-tab">
<div class="paragraph">
<p>If you want to save the price calculation <em>for lots of items</em>, then we would recommend linking the price calculation via import.
Use the mapping field <strong>Item variations / Price calculation UUID</strong> to do so.</p>
</div>
<h5 id="_further_information" class="discrete">Further information</h5>
<div class="ulist">
<ul>
<li>
<p><a href="/en/data/importing-data/ElasticSync">Using the import tool</a></p>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-item#2300">Information about the mapping field</a></p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="group-function-or-batch-processing" role="tabpanel" aria-labelledby="group-function-or-batch-processing-tab">
<div class="paragraph">
<p>If you want to save the price calculation <em>for lots of items</em>, then we would recommend linking the price calculation via group function or batch processing.</p>
</div>
<h5 id="_variation_group_function" class="discrete">Variation group function</h5>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p>Set the filter <strong>Table type</strong> to <strong>Variations</strong>.</p>
</li>
<li>
<p>Choose additional <a href="/en/item/introduction/search#100">filters on the left</a> if needed and click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
<li>
<p>Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) the variations to be edited from the overview on the right.</p>
</li>
<li>
<p>Click on <strong>Variation group function</strong>.<br>
→ The <strong>Variation group function</strong> window opens.</p>
</li>
<li>
<p>Activate the option <strong>Price calculation</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) and select an existing calculation from the drop-down list.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Execute</strong> to apply the settings to the variations.</p>
</li>
</ol>
</div>
<h5 id="_batch_processing" class="discrete">Batch processing</h5>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Batch processing</strong>.</p>
</li>
<li>
<p>Click on the tab <strong>Variations</strong> in the upper left corner.</p>
</li>
<li>
<p>Use the <em>filters on the left</em> to specify which variations should be processed.</p>
</li>
<li>
<p>On the <em>right</em>, activate the option <strong>Price calculation</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) and select an existing calculation from the drop-down list.</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Apply</strong> to apply the settings to the variations.</p>
</li>
</ol>
</div>
</div></div>
</div>
<div class="sect2">
<h3 id="2200">2.4. FAQ</h3>
<div class="openblock collapseBox">
<div class="title"><strong>Which actions cause prices to be recalculated?</strong></div>
<div class="content">
<div class="ulist">
<ul>
<li>
<p><strong><em>Modifying a price calculation</em></strong>: Saving changes to an active calculation (<span class="icon blue"><i class="fa fa-toggle-on  "></i></span>) will cause prices to be recalculated.
More specifically, prices will be recalculated if you change a value within a calculation building block (formula, target price, rounding behaviour).
Simply saving without changes or modifying the name will not cause prices to be recalculated.
Saving opens a pop-up window.
You will be asked to confirm your decision.
You will see how many variations are affected.</p>
</li>
<li>
<p><strong><em>Modifying the value for a variable</em></strong>: Imagine your prices are calculated with the following formula:
<code>(Purchase + Transport + Storage + VAT) * 1.07</code>.
If you change a product’s purchase price, transportation costs, storage costs or VAT, then new data will flow into the formula and the price will be recalculated.
<a href="/en/item/settings/prices#1350">The variables</a> that can be added to a formula are constantly being monitored for changes.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Prices are not recalculated immediately.
Rather, the recalculation starts after a short delay (about 3 minutes).</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>When will my prices be recalculated?</strong></div>
<div class="content">
<div class="paragraph">
<p>Prices are not recalculated immediately.
Rather, the recalculation starts after a short delay (about 3 minutes after it is triggered).
For example, if you change a product’s purchase price, then the recalculation will begin approximately 3 minutes later.</p>
</div>
<div class="paragraph">
<p>Why not immediately?
Often, more than just one change is made to a product.
For example, you might need to change a product’s purchase price and its transportation costs.
If the prices were recalculated immediately, then the first recalculation might not even be finished before the second one starts.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>What happens if a value is missing from the formula?</strong></div>
<div class="content">
<div class="paragraph">
<p>The price will not be calculated.
Imagine your prices are calculated with the following formula:
<code>(Purchase + Transport + Storage + VAT) * 1.07</code>.
In this example, if you forgot to save a purchase price for an item, then its price will not be calculated.
<a href="/en/item/settings/prices#2000">Open the error log</a> to see if any values are missing for your products.
The error log tells you which variations cannot be calculated and why.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>What happens if the calculated price is 0?</strong></div>
<div class="content">
<div class="paragraph">
<p>plentymarkets prevents prices from accidentally being saved with the value 0.00.
Both before and after rounding, the system checks whether the calculated price is 0.
If this is the case, then the price will not be saved and the <a href="/en/item/settings/prices#2000">error log</a> will include information about the problem.</p>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>What happens if I choose a target price that isn’t yet linked to the variation?</strong></div>
<div class="content">
<div class="paragraph">
<p>No problem.
When the price calculation is triggered, the sales price will be linked to the variation and the monetary price will be calculated.</p>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="2300">3. Old price calculation (will be discontinued in the future)</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Calculation</strong>.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>New price calculation</strong>.<br>
→ The <strong>New price calculation</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Add</strong>.<br>
→ The new price calculation opens.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-create-price-calculation">Table 7</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-create-price-calculation" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Creating a price calculation</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the price calculation. The name will be displayed in the <strong>Sales prices</strong> area in the <strong>Settings</strong> tab of an item variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price source</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a price which serves as the basis of the price calculation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transportation costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to add transportation costs to the price source. Enter the transportation costs in the <strong>Costs</strong> area in the <strong>Settings</strong> tab of an item variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to add storage costs to the price source. Enter the storage costs in the <strong>Costs</strong> area in the <strong>Settings</strong> tab of an item variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to add customs to the price source. Enter the customs rate in the <strong>Costs</strong> area in the <strong>Settings</strong> tab of an item variation. Customs is entered in percent.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operating costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to add operating costs to the price source. Enter the operating costs in the <strong>Costs</strong> area in the <strong>Settings</strong> tab of an item variation. Operating costs are entered in percent.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to add the VAT rate to the price source. Select the VAT rate in the <strong>Costs</strong> area in the <strong>Settings</strong> tab of an item variation. The VAT is entered in percent.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Links</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Add</strong> to create a new link.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a price which serves as the target price of the price calculation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the operator. <strong>Plus</strong>, <strong>Minus</strong>, <strong>Plus percentage</strong>, <strong>Minus percentage</strong>, <strong>Multiplied by</strong> and <strong>Divided by</strong> are available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a numerical value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option <em>only</em> relates to <a href="/en/item/settings/manufacturers#300">manufacturer commissions</a>. Select a client (store) to be linked with the price calculation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option <em>only</em> relates to <a href="/en/item/settings/manufacturers#300">manufacturer commissions</a>. Select a referrer to be linked with the price calculation.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>