<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Sales prices</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Creating new sales prices</span></a>
<ul class="sectlevel3">
<li><a href="#300"><span>1.1.1.</span><span> With the assistant</span></a></li>
<li><a href="#400"><span>1.1.2.</span><span> In the setup menu</span></a></li>
</ul>
</li>
<li><a href="#500"><span>1.2.</span><span> Editing existing sales prices</span></a>
<ul class="sectlevel3">
<li><a href="#600"><span>1.2.1.</span><span> Searching for sales prices</span></a></li>
<li><a href="#700"><span>1.2.2.</span><span> Saving the names in multiple languages</span></a></li>
<li><a href="#800"><span>1.2.3.</span><span> Advanced settings (not included in the assistant)</span></a></li>
</ul>
</li>
<li><a href="#900"><span>1.3.</span><span> Linking a sales price with a variation</span></a></li>
</ul>
</li>
<li><a href="#1000"><span>2.</span><span> Price calculations</span></a>
<ul class="sectlevel2">
<li><a href="#1100"><span>2.1.</span><span> Creating price calculations</span></a></li>
<li><a href="#1200"><span>2.2.</span><span> Linking price calculations</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Sales prices and price calculation</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Prices are an important topic for any business.
Thanks to plentymarkets, you can be very flexible with your prices.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>First, you can <a href="/en/item/settings/prices#100">define the conditions</a> under which your products are sold at a specific price.
For example, you can sell products for a lower price in the online store than on Amazon.
Or you can sell products cheaper to B2B customers than to B2C customers. In plentymarkets, such conditions are called <em>sales prices</em>.</p>
</li>
<li>
<p>Second, you can save <a href="/en/item/settings/prices#900">prices for each individual variation</a>.
For example, if you sell a t-shirt in S, M, L and XL, then you can decide whether the XL variation should be a bit more expensive than the rest.</p>
</li>
<li>
<p>Third, you can have plentymarkets <a href="/en/item/settings/prices#1000">automatically calculate your monetary prices</a>.
For example, you could start out with the item’s purchase price and then add transportation costs, storage costs and taxes. Finally, you could add a 20% profit margin on top.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>This video gives you a playful introduction to sales prices, price calculations, their settings and your opportunities:</p>
</div>
<div class="videoblock">
<div class="title">Learn about sales prices in our playful tutorial</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/265563480" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Sales prices</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sales prices define the <em>conditions</em> under which a variation is sold at a specific price.
For example, you can sell products for a lower price in the online store than on Amazon. Or you can sell products cheaper to B2B customers than to B2C customers.</p>
</div>
<div class="paragraph">
<p>New plentymarkets systems come equipped with <em>two default sales prices</em>.
Take a look at these default sales prices and use them to get acquainted with the topic.
Feel free to modify the default sales prices and/or create entirely new sales prices.</p>
</div>
<div class="sect2">
<h3 id="200">1.1. Creating new sales prices</h3>
<div class="paragraph">
<p>Sales prices are created and managed centrally in plentymarkets.
You can either <a href="/en/item/settings/prices#300">create new sales prices with the help of an assistant</a> or you can <a href="/en/item/settings/prices#400">manually create new sales prices in the setup menu</a>.
Both procedures are described below.</p>
</div>
<div class="paragraph">
<p>Either way, you’ll customise the sales prices to meet your needs.
You’ll give the sales prices names and you’ll decide which currencies, customer classes, marketplaces or other conditions should apply.
Finally, you’ll <a href="/en/item/settings/prices#900">link the sales prices to individual variations</a>.</p>
</div>
<div class="sect3">
<h4 id="300">1.1.1. With the assistant</h4>
<div class="paragraph">
<p>Use the assistant to easily create new sales prices.
The assistant guides you through all of the <em>most common settings</em>.
During the process, you’ll give the sales prices names and you’ll decide which currencies, customer classes, marketplaces or other conditions should apply.
There are also <a href="/en/item/settings/prices#800">a few advanced settings</a>, which are optional. You might want to configure these settings afterwards.</p>
</div>
<div class="paragraph instruction">
<p>Creating a sales price:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Assistants » Basic setup</strong>.</p>
</li>
<li>
<p>Click on the sales prices assistant.</p>
</li>
<li>
<p>Click on New configuration (<span class="icon green"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Follow the instructions on the screen. Expand the info box below (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) if you need additional information about one of the options.</p>
</li>
<li>
<p>Check the summary for any possible errors and click on <span class="icon green"><i class="fa fa-check  "></i></span> <strong>Finalise</strong>.<br>
→ The assistant is finished. Repeat these steps until you’ve created all of the sales prices that your company needs.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The assistant guides you through all of the <em>most common settings</em> for sales prices. However, there are also <a href="/en/item/settings/prices#800">a few advanced settings</a>, which are optional. You might want to configure these settings afterwards.</p>
</div>
<div class="paragraph">
<p>Once you’ve finished configuring all of the sales prices that your company needs, you’ll be ready to <a href="/en/item/settings/prices#900">link these sales prices to item data records</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Additional information about the individual options</strong></div>
<div class="content">
<table id="table-sales-price-assistant" class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step: Settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which type of sales price do you want to configure? In most cases, you’ll create a <em>standard sales price</em>.</p>
</div>
<div class="paragraph">
<p>But in some cases, you might want to create an “RRP”, “set price” or “special offer” instead.
If so, then activate this option (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).
An additional configuration step will appear. During this step, you’ll specify which type of sales price you want to create.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>RRP</strong> = A recommended retail price, which only serves to show the price difference between the RRP and a standard sales price. In the online store, the RRP is displayed in red strikethrough text next to the sales price. Products cannot be sold for the recommended retail price.</p>
</li>
<li>
<p><strong>Special offer</strong> = The price for a promotional offer or deal. For example, a special offer that’s only available on Amazon for a limited time.</p>
</li>
<li>
<p><strong>Set price</strong> = <a href="/en/item/use-cases/combining-products#3000">Sets</a> are a way to combine products and sell them as a unit. If you decide to combine products and sell them as a set, then you’ll also need to give the individual set components a set price.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer classes</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply to specific customer classes? For example, do you want to sell products cheaper to B2B customers than to B2C customers?
If so, then activate this option (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).
An additional configuration step will appear. During this step, you’ll specify which customer classes the sales price applies to.</p>
<p class="tableblock"><strong><em>Frequent source of errors</em></strong>: To avoid errors, you should not configure multiple sales prices for the same customer class.
Example: If you create two different sales prices that are both valid for B2B customers, plentymarkets will not know which one to use.</p>
<p class="tableblock"><strong><em>Note</em></strong>: <a href="/en/crm/managing-contacts#15">Create the necessary customer classes</a> in advance, if they don’t already exist in your plentymarkets system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Quantity-based dependency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply if a customer buys <em>multiple copies of the item</em>?
For example, let’s assume you sell socks for 6 EUR per pair. Do you want the price to be reduced to 5 EUR per pair if a customer buys 3 or more pairs of socks?
If so, then activate this option (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).
An additional configuration step will appear. During this step, you’ll specify which quantity the sales price applies to.</p>
<p class="tableblock"><strong><em>Tip</em></strong>: Add <em>even more</em> quantity-based sales prices to create a sliding scale of prices.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step: Name</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Internal name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the sales price.
This name appears in a variety of different places within your plentymarkets back end. For example, you’ll choose the sales price by name when you <a href="/en/item/settings/prices#900">link it to individual items</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>External name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an external name for the sales price.
Currently, this name is neither displayed in the Ceres store nor in the Callisto store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Step: Availabilities</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currencies</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which currencies should the price automatically be converted into?
Select them from the list (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock"><strong><em>Background info</em></strong>: While configuring your online store, you’ll decide which <a href="/en/online-store/setting-up-ceres#220">languages</a> and <a href="/en/online-store/setting-up-ceres#201">currencies</a> your store should be available in.
For example, let’s assume that customers can choose the currencies EUR, PLN, CHF and GBP from the header.
In this case, it would make sense to have plentymarkets automatically convert your prices from the <a href="/en/payment/currencies#30">standard currency</a>,e.g. EUR, into the other currencies, e.g. PLN, CHF and GBP.</p>
<p class="tableblock">Make sure you’re happy with the <a href="/en/payment/currencies#20">conversion factors</a> saved in the menu <strong>Setup » Orders » Payment » Currencies</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales channels</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply to specific distribution channels? For example, do you want to sell the item for a lower price in your online store than on Amazon?
Select all of the platforms (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that this sales price should apply to.</p>
<p class="tableblock"><strong><em>Frequent source of errors</em></strong>: To avoid errors, you should not configure multiple sales prices for the same sales channel.
Example: If you create two different sales prices that are both valid for Amazon, plentymarkets will not know which one to use.</p>
<p class="tableblock"><strong><em>Note</em></strong>: If you choose eBay or Amazon, then an additional configuration step will appear. During this step, you’ll tell plentymarkets which eBay or Amazon account the sales price should apply to.
Therefore, <a href="/en/markets/ebay/ebay-setup">link your eBay or Amazon account to plentymarkets</a> in advance.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply to specific countries of delivery?
For example, you probably pay different tax rates in different countries. As such, you might want to sell an item for a slightly higher price in some countries, rather than pay the difference yourself.
Select all of the countries (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that this sales price should apply to.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply to specific clients (stores)? If so, then select all of the stores (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that this sales price should apply to.</p>
<p class="tableblock"><strong><em>Background info</em></strong>: This setting is only visible if you use plentymarkets to manage multiple online stores, i.e. <a href="/en/online-store/setting-up-clients">multiple clients</a>.
Since it’s possible to implement several different areas of business with just one plentymarkets system, you always need to tell plentymarkets which online store the sales price applies to.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="sect3">
<h4 id="400">1.1.2. In the setup menu</h4>
<div class="paragraph">
<p>Create any number of sales prices to map the entire range of your prices in plentymarkets.
During the process, you’ll give the sales prices names and you’ll decide which currencies, customer classes, marketplaces or other conditions should apply.</p>
</div>
<div class="paragraph instruction">
<p>Creating a sales price:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices</strong>.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>New</strong>.<br>
→ The <strong>New</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-create-sales-price">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-create-sales-price" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Creating a sales price</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subscription int.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option is relevant if you offer plugins on plentyMarketplace on a subscription basis.</p>
<p class="tableblock"><strong><em>Note</em></strong>: This option is neither relevant for the Ceres store nor for the scheduler or subscription module.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the position number.
If you <a href="/en/item/settings/prices#900">link multiple sales prices to a variation</a>, then you’ll see these sales prices sorted by their position number in the item data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Internal name EN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the sales price.
This name appears in a variety of different places within your plentymarkets back end. For example, you’ll choose the sales price by name when you <a href="/en/item/settings/prices#900">link it to individual items</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>External name EN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an external name for the sales price.
Currently, this name is neither displayed in the Ceres store nor in the Callisto store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply if a customer buys <em>multiple copies of the item</em>?
For example, let’s assume you sell socks for 6 EUR per pair. Do you want the price to be reduced to 5 EUR per pair if a customer buys 3 or more pairs of socks?
If so, then enter the quantity that applies to this sales price.</p>
<p class="tableblock"><strong><em>Tip</em></strong>: Add <em>even more</em> quantity-based sales prices to create a sliding scale of prices.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which currencies should the sales price apply to?
Select them from the list (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock"><strong><em>Background info</em></strong>: While configuring your online store, you’ll decide which <a href="/en/online-store/setting-up-ceres#220">languages</a> and <a href="/en/online-store/setting-up-ceres#201">currencies</a> your store should be available in.
For example, let’s assume that customers can choose the currencies EUR, PLN, CHF and GBP from the header.
Then it would make sense to also save prices for these currencies.</p>
<p class="tableblock"><strong><em>Automatic conversion</em></strong>: Activate the option <strong>Live conversion</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to have plentymarkets automatically convert your prices from the <a href="/en/payment/currencies#30">standard currency</a>, e.g. EUR, into the other currencies, e.g. PLN, CHF and GBP.<br>
If you <em>don’t</em> activate this option, then your prices will all have the same number, but different currencies, e.g. 19 EUR and 19 PLN. Therefore, it usually makes sense to have plentymarkets automatically convert the prices.</p>
<p class="tableblock">Make sure you’re happy with the <a href="/en/payment/currencies#20">conversion factors</a> saved in the menu <strong>Setup » Orders » Payment » Currencies</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which type of sales price do you want to configure? In most cases, you’ll create a <em>standard sales price</em>.</p>
</div>
<div class="paragraph">
<p>But in some cases, you might want to create an “RRP”, “set price” or “special offer” instead.
If so, then select the corresponding price type (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>RRP</strong> = A recommended retail price, which only serves to show the price difference between the RRP and a standard sales price. In the online store, the RRP is displayed in red strikethrough text next to the sales price. Products cannot be sold for the recommended retail price.</p>
</li>
<li>
<p><strong>Special offer</strong> = The price for a promotional offer or deal. For example, a special offer that’s only available on Amazon for a limited time.</p>
</li>
<li>
<p><strong>Set price</strong> = <a href="/en/item/use-cases/combining-products#3000">Sets</a> are a way to combine products and sell them as a unit. If you decide to combine products and sell them as a set, then you’ll also need to give the individual set components a set price.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should this sales price <em>automatically</em> be linked to new item data records?
If so, then activate the option <strong>Always display for new items</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock">If this setting is deactivated, then you will still be able to <a href="/en/item/settings/prices#900">manually add the sales price to items</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply to specific clients (stores)? If so, then select all of the stores (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that this sales price should apply to.</p>
<p class="tableblock"><strong><em>Background info</em></strong>: With plentymarkets, you can manage several online stores, i.e. <a href="/en/online-store/setting-up-clients">several clients</a>, with only one software. Consequently, it is possible to manage several different areas of business with one plentymarkets system.
That’s a great advantage. But it also means that you’ll always need to tell plentymarkets which online store the sales price applies to.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply to specific customer classes? For example, do you want to sell products cheaper to B2B customers than to B2C customers?
If so, then select all of the customer classes (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that this sales price should apply to.</p>
<p class="tableblock"><strong><em>Frequent source of errors</em></strong>: To avoid errors, you should not configure multiple sales prices for the same customer class.
Example: If you create two different sales prices that are both valid for B2B customers, plentymarkets will not know which one to use.</p>
<p class="tableblock"><strong><em>Note</em></strong>: <a href="/en/crm/managing-contacts#15">Create the necessary customer classes</a> in advance, if they don’t already exist in your plentymarkets system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply to specific countries of delivery? For example, you probably pay different tax rates in different countries. As such, you might want to sell an item for a slightly higher price in some countries, rather than pay the difference yourself.
Select all of the countries (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that this sales price should apply to.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the sales price only apply to specific distribution channels? For example, do you want to sell the item for a lower price in your online store than on Amazon?
Select all of the platforms (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that this sales price should apply to.</p>
<p class="tableblock"><strong><em>Frequent source of errors</em></strong>: To avoid errors, you should not configure multiple sales prices for the same sales channel.
Example: If you create two different sales prices that are both valid for Amazon, plentymarkets will not know which one to use.</p>
<p class="tableblock"><strong><em>Note</em></strong>: If you select eBay or Amazon, then the corresponding account settings will appear further below. Here you’ll tell plentymarkets which eBay or Amazon account the sales price should apply to.
Therefore, <a href="/en/markets/ebay/ebay-setup">link your eBay or Amazon account to plentymarkets</a> in advance.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon accounts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tell plentymarkets which Amazon account the sales price should apply to.
Therefore, <a href="/en/markets/amazon/amazon-setup">link your Amazon account to plentymarkets</a> in advance.</p>
<p class="tableblock">This setting is greyed out until you select an Amazon platform from the list above.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay accounts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tell plentymarkets which eBay account the sales price should apply to.
Therefore, <a href="/en/markets/ebay/ebay-setup">link your eBay account to plentymarkets</a> in advance.</p>
<p class="tableblock">This setting is greyed out until you select an eBay platform from the list above.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="500">1.2. Editing existing sales prices</h3>
<div class="paragraph">
<p>As soon as you <a href="/en/item/settings/prices#200">create a new sales price</a>, it is automatically added to the overview in the menu <strong>Setup » Item » Sales prices</strong>.</p>
</div>
<div class="sect3">
<h4 id="600">1.2.1. Searching for sales prices</h4>
<div class="paragraph">
<p>Use the filters on the left to limit which sales prices are displayed in the overview on the right.</p>
</div>
<div class="paragraph instruction">
<p>Filtering sales prices:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices</strong>.</p>
</li>
<li>
<p>Select the filters on the left. Note <a href="#table-filter-sales-prices">Table 2</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The filtered sales prices will be displayed in the overview on the right.</p>
</li>
</ol>
</div>
<table id="table-filter-sales-prices" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Filtering sales prices</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ID to search for the sales price with this ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name to search for the sales price with this name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum quantity</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a quantity value to search for the sales price with this quantity.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client (store) or <strong>ALL</strong> to search for sales prices for this client.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Class</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a customer class or <strong>ALL</strong> to search for sales prices for this class.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an order referrer or <strong>ALL</strong> to search for sales prices for this referrer.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon accounts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an Amazon account or <strong>ALL</strong> to search for sales prices for this Amazon account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay accounts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an eBay account or <strong>ALL</strong> to search for sales prices for this eBay account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a currency or <strong>ALL</strong> to search for sales prices for this currency.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a language or <strong>ALL</strong> to search for sales prices in this language. <strong>English</strong> is set by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a country of delivery or <strong>ALL</strong> to search for sales prices for this country.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="700">1.2.2. Saving the names in multiple languages</h4>
<div class="paragraph">
<p>After <a href="/en/item/settings/prices#200">creating a new sales price</a>, you can translate the name of the sales price into the required languages.</p>
</div>
<div class="paragraph instruction">
<p>Translating a sales price:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices</strong>.</p>
</li>
<li>
<p><a href="/en/item/settings/prices#600">Search for</a> and open the sales price.</p>
</li>
<li>
<p>Click on the <strong>Language</strong> tab.</p>
</li>
<li>
<p>Enter the <strong>internal name</strong> in the required languages.</p>
</li>
<li>
<p>Enter the <strong>external name</strong> in the required languages.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="800">1.2.3. Advanced settings (not included in the assistant)</h4>
<div class="paragraph">
<p><a href="/en/item/settings/prices#300">The assistant</a> guides you through all of the <em>most common settings</em> for sales prices. However, there are also a few advanced settings, which are optional. You might want to configure these settings afterwards.</p>
</div>
<div class="paragraph instruction">
<p>Configuring the advanced settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Sales prices</strong>.</p>
</li>
<li>
<p><a href="/en/item/settings/prices#600">Search for</a> and open the sales price.</p>
</li>
<li>
<p>Configure the advanced settings if needed. Note <a href="#table-sales-price-advanced-settings">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-sales-price-advanced-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. The following settings are not included in the assistant</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Subscription int.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option is relevant if you offer plugins on plentyMarketplace on a subscription basis.</p>
<p class="tableblock"><strong><em>Note</em></strong>: This option is neither relevant for the Ceres store nor for the scheduler or subscription module.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the position number.
If you <a href="/en/item/settings/prices#900">link multiple sales prices to a variation</a>, then you’ll see these sales prices sorted by their position number in the item data record.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should this sales price <em>automatically</em> be linked to new item data records?
If so, then activate the option <strong>Always display for new items</strong> (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
<p class="tableblock">If this setting is deactivated, then you will still be able to <a href="/en/item/settings/prices#900">manually add the sales price to items</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="900">1.3. Linking a sales price with a variation</h3>
<div class="paragraph">
<p>Sales prices are linked to <a href="/en/item/introduction/structure">individual variations</a>, rather than to the item as a whole.
For example, if you sell a t-shirt in S, M, L and XL, then you can decide whether the XL variation should be a bit more expensive than the rest.</p>
</div>
<div class="paragraph">
<p>There are a few different ways to link sales prices to variations and enter the actual monetary prices:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If you only want to save prices <em>for a few items</em>, then it makes sense to <a href="/en/item/managing-items#240">manually link sales prices and enter monetary amounts</a>.</p>
</li>
<li>
<p>If you want to save prices <em>for lots of items</em>, then we would recommend <a href="/en/item/import-export-create/import#800">importing the sales prices and monetary amounts</a>.
Alternatively, you could also import this data with an <a href="/en/welcome/assistants">assistant</a>.</p>
</li>
<li>
<p>Rather than manually entering the monetary amounts, you might want plentymarkets to <a href="/en/item/settings/prices#1000">automatically calculate them for you</a>.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="1000">2. Price calculations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can have plentymarkets automatically calculate your monetary prices for you.
For example, you could start out with the item’s purchase price and then add transportation costs, storage costs and taxes. Finally, you could add a 20% profit margin on top.</p>
</div>
<div class="paragraph">
<p>This is done with the help of so-called <em>price calculations</em>.
First, you’ll <a href="/en/item/settings/prices#1100">create</a> the individual price calculations.
Then you’ll <a href="/en/item/settings/prices#1200">link</a> the price calculations with variations.</p>
</div>
<div class="sect2">
<h3 id="1100">2.1. Creating price calculations</h3>
<div class="paragraph instruction">
<p>Creating a price calculation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Calculation</strong>.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>New price calculation</strong>.<br>
→ The <strong>New price calculation</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Add</strong>.<br>
→ The new price calculation opens.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-create-price-calculation">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-create-price-calculation" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Creating a price calculation</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the price calculation. The name will be displayed in the <strong>Sales prices</strong> area in the <strong>Settings</strong> tab of an item variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Price source</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a price which serves as the basis of the price calculation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transportation costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to add transportation costs to the price source. Enter the transportation costs in the <strong>Costs</strong> area in the <strong>Settings</strong> tab of an item variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Storage costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to add storage costs to the price source. Enter the storage costs in the <strong>Costs</strong> area in the <strong>Settings</strong> tab of an item variation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to add customs to the price source. Enter the customs rate in the <strong>Costs</strong> area in the <strong>Settings</strong> tab of an item variation. Customs is entered in percent.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operating costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to add operating costs to the price source. Enter the operating costs in the <strong>Costs</strong> area in the <strong>Settings</strong> tab of an item variation. Operating costs are entered in percent.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to add the VAT rate to the price source. Select the VAT rate in the <strong>Costs</strong> area in the <strong>Settings</strong> tab of an item variation. The VAT is entered in percent.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Links</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Add</strong> to create a new link.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a price which serves as the target price of the price calculation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the operator. <strong>Plus</strong>, <strong>Minus</strong>, <strong>Plus percentage</strong>, <strong>Minus percentage</strong>, <strong>Multiplied by</strong> and <strong>Divided by</strong> are available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Operand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a numerical value.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option <em>only</em> relates to <a href="/en/item/settings/manufacturers#300">manufacturer commissions</a>. Select a client (store) to be linked with the price calculation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This option <em>only</em> relates to <a href="/en/item/settings/manufacturers#300">manufacturer commissions</a>. Select a referrer to be linked with the price calculation.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1200">2.2. Linking price calculations</h3>
<div class="paragraph">
<p>There are a few different ways to link price calculations to variations and thus have the monetary prices calculated:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If you only want to save price calculations <em>for a few items</em>, then it makes sense to <a href="/en/item/managing-items#240">manually link price calculations</a>.</p>
</li>
<li>
<p>If you want to save prices <em>for lots of items</em>, then we would recommend <a href="/en/data/importing-data/sync-types/elasticSync-item#2300">importing the price calculations</a>.
Alternatively, you could use the <a href="/en/item/import-export-create/create/mass-processing#300">variation group function</a> to set up price calculations for multiple item variations at once.</p>
</li>
</ul>
</div>
</div>
</div>
</div>
</main>