<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Characteristics</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Creating characteristic groups</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Creating characteristics</span></a></li>
<li><a href="#350"><span>1.3.</span><span> Linking characteristics to items</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.</span><span> Properties</span></a>
<ul class="sectlevel2">
<li><a href="#600"><span>2.1.</span><span> Creating new properties</span></a>
<ul class="sectlevel3">
<li><a href="#620"><span>2.1.1.</span><span> Manual creation</span></a></li>
<li><a href="#640"><span>2.1.2.</span><span> Import</span></a></li>
<li><a href="#660"><span>2.1.3.</span><span> Catalogue</span></a></li>
</ul>
</li>
<li><a href="#800"><span>2.2.</span><span> Searching for existing properties</span></a></li>
<li><a href="#700"><span>2.3.</span><span> Editing existing properties</span></a></li>
<li><a href="#1200"><span>2.4.</span><span> Grouping properties</span></a>
<ul class="sectlevel3">
<li><a href="#1250"><span>2.4.1.</span><span> Creating groups</span></a></li>
<li><a href="#1300"><span>2.4.2.</span><span> Assigning properties to a group</span></a></li>
<li><a href="#1350"><span>2.4.3.</span><span> Deleting groups again</span></a></li>
</ul>
</li>
<li><a href="#1400"><span>2.5.</span><span> Linking properties with variations</span></a>
<ul class="sectlevel3">
<li><a href="#1420"><span>2.5.1.</span><span> Manual link</span></a></li>
<li><a href="#1460"><span>2.5.2.</span><span> Importing links</span></a></li>
</ul>
</li>
<li><a href="#1500"><span>2.6.</span><span> Displaying properties in the online store</span></a></li>
<li><a href="#1600"><span>2.7.</span><span> Exporting properties</span></a></li>
<li><a href="#900"><span>2.8.</span><span> Deleting properties</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Characteristics and properties</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Some items stand out from the crowd. Be it a watch that is water resistant or a loudspeaker that has Bluetooth technology.
In plentymarkets, such distinguishing features are called characteristics and properties.</p>
</div>
<div class="paragraph">
<p>With the help of characteristics and properties, for example, you can:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>highlight the technical features of a product (e.g. Bluetooth, Wi-Fi).</p>
</li>
<li>
<p><a href="/en/item/frontend-item-search">set up filters in your online store</a>. Your customers can then use these filters to refine the search results in the store (e.g. only see speakers that have Bluetooth technology).</p>
</li>
<li>
<p>sell <a href="/en/item/use-cases/personalised-items">personalised items</a>.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Characteristics, properties and attributes: what’s the difference?</div>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/settings/properties#100">Characteristics</a> define <em>entire items</em>.
For example, if an item is available in red, blue or green, then the characteristic will apply to all three variations.
Characteristics aren’t very flexible, they’re outdated and they’re gradually being replaced by properties.</p>
</li>
<li>
<p><a href="/en/item/settings/properties#500">Properties</a> define <em>specific variations</em>.
For example, if an item is available in red, blue or green, then the property can apply to one, two or all three of the variations.
Therefore, properties are much more flexible.</p>
</li>
<li>
<p><a href="/en/item/settings/attributes">Attributes</a>, for example, are the various colours and sizes that your products are available in.
Attributes help you simultaneously characterise your products and create saleable variations, e.g. a t-shirt in the colour red and the size S.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Characteristics</h2>
<div class="sectionbody">
<div class="openblock collapseBox">
<div class="title"><strong>What are characteristics?</strong></div>
<div class="content">
<div class="paragraph">
<p>Some items stand out from the crowd. Be it a watch that is water resistant or a loudspeaker that has Bluetooth technology.
In plentymarkets, such distinguishing features are called characteristics.</p>
</div>
<div class="paragraph">
<p>With the help of characteristics, for example, you can:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>highlight the technical features of a product (e.g. Bluetooth, Wi-Fi).</p>
</li>
<li>
<p><a href="/en/item/frontend-item-search">set up filters in your online store</a>. Your customers can then use these filters to refine the search results in the store (e.g. only see speakers that have Bluetooth technology).</p>
</li>
<li>
<p>sell <a href="/en/item/use-cases/personalised-items">personalised items</a>.</p>
</li>
</ul>
</div>
<h5 id="_characteristics_properties_and_attributes_whats_the_difference" class="discrete">Characteristics, properties and attributes: what’s the difference?</h5>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/settings/properties#100">Characteristics</a> define <em>entire items</em>.
For example, if an item is available in red, blue or green, then the characteristic will apply to all three variations.
Characteristics aren’t very flexible, they’re outdated and they’re gradually being replaced by properties.</p>
</li>
<li>
<p><a href="/en/item/settings/properties#500">Properties</a> define <em>specific variations</em>.
For example, if an item is available in red, blue or green, then the property can apply to one, two or all three of the variations.
Therefore, properties are much more flexible.</p>
</li>
<li>
<p><a href="/en/item/settings/attributes">Attributes</a>, for example, are the various colours and sizes that your products are available in.
Attributes help you simultaneously characterise your products and create saleable variations, e.g. a t-shirt in the colour red and the size S.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect2">
<h3 id="200">1.1. Creating characteristic groups</h3>
<div class="paragraph">
<p>There are two typical applications for characteristic groups. On the one hand, if you have lots of characteristics, then you can group them together so that it’s easier to keep track of them in your plentymarkets back end.</p>
</div>
<div class="paragraph">
<p>On the other hand, characteristic groups help you sell <a href="/en/item/use-cases/personalised-items">personalised items</a> in your online store.
You can use characteristic groups to sort the additional options and services that you offer under one heading.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example: Group various trimmings</div>
<div class="paragraph">
<p>Imagine you sell wedding rings. Your customers can choose an optional gold or diamond trim for an additional fee.
You can create a characteristic group called “Trim” to clearly display these options.
Within this group, customers can choose the options “Gold trim” or “Diamond trim”.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a new characteristic group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New characteristic group</strong> tab.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-create-characteristic-groups">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-create-characteristic-groups" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Creating a new characteristic group</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name (internal)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter an internal name for the characteristic group. This name is only visible in the plentymarkets back end:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>in the overview in the <strong>Characteristic groups</strong> tab within this menu</p>
</li>
<li>
<p><a href="/en/item/managing-items#80">in an item’s <strong>Characteristics</strong> tab</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Is your plentyShop available in multiple languages? Then choose a language version from the drop-down list.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the characteristic group in the selected language. The name will be visible to customers in the plentyShop.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a description for the characteristic group in the selected language.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Surcharges</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you plan on offering extra services or options for an additional fee?
If so, then decide whether the surcharge should be treated as a percentage or as a fixed price, e.g. 5% or 5 EUR.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grouping of order characteristics (type: "none")</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>How many additional options or services should customers be able to choose from the group?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Single selection</strong> = Customers will see a drop-down list. They will be able to select <em>one option only</em>.</p>
</li>
<li>
<p><strong>Multiple selection</strong> = Customers will see check boxes. They will be able to select <em>multiple options</em>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> This option only applies to <a href="/en/item/settings/properties#300">order characteristics of the type <strong>No</strong></a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO characteristic group</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If needed, link a characteristic group to OTTO. All of the characteristics in this group will be transferred to OTTO. All of the characteristics will be grouped into a <a href="https://forum.plentymarkets.com/t/otto-handbuchseite/7555">SellingPoint</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>None</strong> = No link to OTTO.</p>
</li>
<li>
<p><strong>SellingPoint with group names</strong> = Link to OTTO. The name of the group will be transferred.</p>
</li>
<li>
<p><strong>SellingPoint without group names</strong> = Link to OTTO. The name of the group will not be transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">1.2. Creating characteristics</h3>
<div class="paragraph">
<p>Characteristics allow you to highlight a product’s features.
For example, you might want to specify technical details like Bluetooth or WLAN. Or you might want to offer extra services and options for an additional fee.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new characteristic:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New characteristic</strong> tab.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-create-characteristic">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-create-characteristic" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Creating a new characteristic</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name (internal)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter an internal name for the characteristic. This name is only visible in the plentymarkets back end:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>in the overview in the <strong>Characteristics</strong> tab within this menu</p>
</li>
<li>
<p><a href="/en/item/managing-items#80">in an item’s <strong>Characteristics</strong> tab</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webshop</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is your plentyShop available in multiple languages? Then choose a language version from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the characteristic in the selected language. The name will be visible to customers in the plentyShop.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a description for the characteristic in the selected language.
The description will be displayed if you place the cursor on the characteristic.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Is the characteristic something like a weight or a length, e.g. HDMI cables that are longer than 10m? If so, then choose the appropriate <a href="/en/item/settings/units">unit</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Characteristic group</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should this characteristic be sorted into a specific <a href="/en/item/settings/properties#200">group</a>? If so, then select the group here.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: This drop-down list only includes <a href="/en/item/settings/properties#200">characteristic groups that were already created</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-characteristic-type">Characteristic type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What sort of characteristic do you want to create? Choose this characteristic type from the drop-down list.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Once you’ve <a href="/en/item/settings/properties#350">linked the characteristic to an item</a>, you’ll no longer be able to change the type.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">What is the type useful for?</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>No</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Customers will only see the name of the characteristic in your plentyShop.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Appropriate e.g. for highlighting an item’s technical specifications.</p>
</li>
<li>
<p><a href="/en/item/settings/properties#intable-order-characteristic">As an order characteristic</a>: appropriate e.g. for offering customers <a href="/en/item/use-cases/personalised-items#200">additional options and services</a> while they place their orders.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Whole number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Makes it possible to enter a whole number between -2,147,483,648 and 2,147,483,647.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Appropriate e.g. for specifying a weight or a length. For example, HDMI cables that are longer than 10m.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Decimal number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Makes it possible to enter a number with decimal places.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Appropriate e.g. for displaying measurements in the plentyShop.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><a href="/en/item/settings/properties#intable-order-characteristic">As an order characteristic</a>: allows customers, e.g. to <a href="/en/item/use-cases/personalised-items#100">enter a personal text</a> that should be printed on a t-shirt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Selection</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><a href="/en/item/settings/properties#intable-order-characteristic">As an order characteristic</a>: allows customers, e.g. to choose whether their personal text should be printed in red, blue or black font.</p>
</div>
<div class="paragraph">
<p>Further options appear when you choose this type.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Enter a name and description for the first possible choice, e.g. red font.</p>
</li>
<li>
<p>Save (<span class="icon green"><i class="fa fa-save  "></i></span>) the characteristic.</p>
</li>
<li>
<p>Scroll down in the window and enter a name and description for the second possible choice, e.g. blue font.</p>
</li>
<li>
<p>Repeat the procedure until you’ve finished creating all of the different options.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><a href="/en/item/settings/properties#intable-order-characteristic">As an order characteristic</a>: allows customers, e.g. to <a href="/en/item/use-cases/personalised-items#100">upload an image</a> that should be printed on a t-shirt.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Surcharge</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you want to offer this characteristic for an additional fee?
For example, surcharges can be used for:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Additional options and services that customers can choose while placing orders.</p>
</li>
<li>
<p>Deposits on glass bottles</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Enter a value here if a surcharge is to be added for the characteristic. Surcharges will automatically be added to the item price in the detailed view of an item and in the order process. The value 0.00 is set by default, i.e. no surcharge will be calculated.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display as additional costs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if <em>VAT should not be calculated</em> for the surcharge that was entered.</p>
</div>
<div class="paragraph">
<p>One possible application is e.g. displaying bottle deposits, which are added to the item price without VAT. Characteristics that have this option selected will be displayed as separate items on invoices etc. These items will be displayed with the ID -2.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which characteristic should be displayed first, second, third, etc? Enter a position number into this field. If an item has multiple characteristics, then the characteristics will be displayed in the plentyShop in ascending order according to their position number.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Searchable</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option relates to the old Shopware connector. It is no longer relevant in most cases. Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if the characteristic should be found through the old Shopware connector.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Where should the characteristic be displayed? Choose the areas (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) where your customers should see the characteristic and its surcharge (assuming one exists).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="intable-order-characteristic">Order characteristic</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if customers should be allowed to <a href="/en/item/use-cases/personalised-items">personalise their orders</a>. For example:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>by entering a personal text that should be engraved.</p>
</li>
<li>
<p>by choosing optional services for an additional fee.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>How exactly customers can personalise their orders depends on which <a href="/en/item/settings/properties#intable-characteristic-type">type of characteristic</a> you chose.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Note</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a note, for example to display specific information about the characteristic.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic links for markets and price comparison portals</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the marketplace characteristic from the drop-down list. This links the characteristic with a <a href="/en/markets/amazon/preparing-variations#1400">characteristic on a marketplace like Amazon</a>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="350">1.3. Linking characteristics to items</h3>
<div class="paragraph">
<p>Have you finished <a href="/en/item/settings/properties#300">creating your characteristics</a> and <a href="/en/item/settings/properties#200">sorting them into groups</a>? Then you’re ready to link your characteristics to items.</p>
</div>
<div class="paragraph">
<p>For example, if you created a characteristic called “Bluetooth”, then next you would specify which of your products are equipped with Bluetooth.</p>
</div>
<div class="paragraph instruction">
<p>Linking a characteristic with an item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#100">Search for</a> and open the item.</p>
</li>
<li>
<p>Click on the <strong>Characteristics</strong> tab. The screen is divided into two areas:</p>
<div class="ulist">
<ul>
<li>
<p>Characteristics that have already been linked to the item are displayed in the upper area called <strong>Characteristics</strong>,</p>
</li>
<li>
<p>Characteristics that have not yet been linked are displayed in the lower area called <strong>Activate further characteristics</strong>. Here, the characteristics are sorted into their groups.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Expand the characteristic group in the lower area if needed (<span class="icon grey"><i class="fa fa-plus-square-o  "></i></span>) and select the characteristic (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The characteristic is now linked to the item and displayed in the upper area.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Linking a characteristic with multiple items</div>
<div class="paragraph">
<p>Use the <a href="/en/item/import-export-create/create/mass-processing#200">item group function</a> if you want to link several items at once.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="_saving_additional_information" class="discrete">Saving additional information</h4>
<div class="paragraph">
<p>Depending on the scenario, it might be necessary to save additional information. For example, if the characteristic is something like a weight or a length, then it will be necessary to enter a numeric value.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Carry out additional settings in the <strong>Characteristics</strong> tab. Note <a href="#table-link-characteristic">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-link-characteristic" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Information about the characteristic</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Here you’ll see the characteristic’s name and, if applicable, the group that it was sorted into.
This is purely informative and cannot be changed here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Here you’ll see the characteristic type.
This is purely informative and cannot be changed here.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: The characteristic type determines how you will interact with the <strong>Default language</strong> column and with the drop-down list of language abbreviations.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default language</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>How you interact with this column depends on the characteristic type.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Interaction</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Blank</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>No further action is necessary.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number<br>
Decimal number</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the numerical value here, e.g. the weight or the length.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Choose the appropriate language from the drop-down list in the next column. Enter the text in this language. Save the changes and repeat the process as needed for other languages.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Selection</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the appropriate option.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">File</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Upload the appropriate file.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">(Order characteristic)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Order characteristics allow your customers to personalise their items, e.g. by entering a text or a number, by selecting an option or by uploading a file.
Therefore, you - the seller - do not need to take any further action for this field. Rather, your customers will make an entry when purchasing the item in your plentyShop.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cross-selling</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to enable <a href="/en/item/online-store/cross-selling">cross-selling</a> between this item and other items that have the same characteristic and value.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Surcharge</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>You might have already saved a surcharge <a href="/en/item/settings/properties#300">while creating the characteristic</a>.
But what should you do if not every item should be given the same surcharge?
Enter a different surcharge here. This will overwrite the surcharge that was saved for the characteristic as a whole.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: The entry field <em>only appears for order characteristics</em>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Modifying the additional information for multiple items</div>
<div class="paragraph">
<p>Use the group function in the menu <strong>Setup » Item » Characteristics » Tab: Group function</strong> if you want to edit this information for several items at once.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select the characteristic’s language.</p>
</li>
<li>
<p><strong>Property selection</strong>: Choose the characteristic that you want to edit.</p>
</li>
<li>
<p><strong>Value to be changed</strong>: Enter the old value for the characteristic.</p>
</li>
<li>
<p><strong>New value</strong>: Enter the new value for the characteristic.</p>
</li>
<li>
<p>When you save the settings, the characteristic value will be changed for all of the items that have this value.</p>
</li>
</ol>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. Properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This page explains properties that are used to characterise products.
But properties can also be used to characterise <a href="/en/crm/managing-contacts#950">contacts</a> or <a href="/en/stock-management/setting-up-a-warehouse#850">storage locations</a>.
Click on the links to learn more about these other use cases.</p>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>What are properties?</strong></div>
<div class="content">
<div class="paragraph">
<p>Some items stand out from the crowd. Be it a watch that is water resistant or a loudspeaker that has Bluetooth technology.
In plentymarkets, such distinguishing features are called properties.</p>
</div>
<div class="paragraph">
<p>With the help of properties, for example, you can:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>highlight the technical features of a product (e.g. Bluetooth, Wi-Fi).</p>
</li>
<li>
<p><a href="/en/item/frontend-item-search">set up filters in your online store</a>. Your customers can then use these filters to refine the search results in the store (e.g. only see speakers that have Bluetooth technology).</p>
</li>
</ul>
</div>
<h5 id="_characteristics_properties_and_attributes_whats_the_difference_2" class="discrete">Characteristics, properties and attributes: what’s the difference?</h5>
<div class="ulist">
<ul>
<li>
<p><a href="/en/item/settings/properties#100">Characteristics</a> define <em>entire items</em>.
For example, if an item is available in red, blue or green, then the characteristic will apply to all three variations.
Characteristics aren’t very flexible, they’re outdated and they’re gradually being replaced by properties.</p>
</li>
<li>
<p><a href="/en/item/settings/properties#500">Properties</a> define <em>specific variations</em>.
For example, if an item is available in red, blue or green, then the property can apply to one, two or all three of the variations.
Therefore, properties are much more flexible.</p>
</li>
<li>
<p><a href="/en/item/settings/attributes">Attributes</a>, for example, are the various colours and sizes that your products are available in.
Attributes help you simultaneously characterise your products and create saleable variations, e.g. a t-shirt in the colour red and the size S.</p>
</li>
</ul>
</div>
</div>
</div>
<h4 id="530" class="discrete">General procedure</h4>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="standard-tab" data-toggle="tab" href="#standard" role="tab" aria-controls="standard" aria-selected="true">Standard</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="catalogues-and-assistants-for-amazon-and-otto-tab" data-toggle="tab" href="#catalogues-and-assistants-for-amazon-and-otto" role="tab" aria-controls="catalogues-and-assistants-for-amazon-and-otto" aria-selected="false">Catalogues and assistants for Amazon and OTTO</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="standard" role="tabpanel" aria-labelledby="standard-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/item/settings/properties#600">Create properties</a> like Wi-Fi or Bluetooth.</p>
</li>
<li>
<p><a href="/en/item/settings/properties#700">Edit the properties further</a>.
During this step, you’ll specify e.g. which marketplaces and online stores the property should be visible on.</p>
</li>
<li>
<p><a href="/en/item/settings/properties#1200">Group the properties</a> if needed. This helps you to keep track of the properties in your plentymarkets back end.</p>
</li>
<li>
<p><a href="/en/item/settings/properties#1400">Link the properties</a> to the appropriate variations. For example, link the Bluetooth property to your Bluetooth compliant products.</p>
</li>
<li>
<p><a href="/en/item/frontend-item-search">Create webshop filters</a>, e.g. if you want customers to be able to search for Bluetooth compliant products in your online store.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="catalogues-and-assistants-for-amazon-and-otto" role="tabpanel" aria-labelledby="catalogues-and-assistants-for-amazon-and-otto-tab">
<div class="paragraph">
<p>Have you already started using the new catalogue tool to transmit your product data to a market like Amazon or OTTO? If so, then you can create properties directly within the catalogue assistant and link them to the marketplace.</p>
</div>
<div class="paragraph">
<p>Learn more using the <a href="/en/markets/amazon/variation-data-export">Amazon catalogue assistant</a> as an example.</p>
</div>
</div></div>
<div class="sect2">
<h3 id="600">2.1. Creating new properties</h3>
<div class="paragraph">
<p>First, create the properties that you’ll use to characterise your products, e.g. Bluetooth or Wi-Fi.
Properties can be created manually, imported or created with the help of a catalogue assistant.</p>
</div>
<div class="paragraph">
<p>You can create up to 500 variation properties and link them to variations.</p>
</div>
<div class="sect3">
<h4 id="620">2.1.1. Manual creation</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.<br>
→ You will see an overview of the previously created properties.</p>
</li>
<li>
<p>Click on <strong>Add property</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>In the drop-down list <strong>Section</strong>, select the option <strong>Items</strong>.</p>
</li>
<li>
<p>Carry out the additional settings. Note <a href="#table-create-variation-property">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The property is created and opened for <a href="/en/item/settings/properties#700">further editing</a>.</p>
</li>
</ol>
</div>
<table id="table-create-variation-property" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Creating properties</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Section</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What do you want to use the property for? Choose the appropriate section from the drop-down list.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Items</strong> = Property will be used for items.</p>
</li>
<li>
<p><strong>Contact</strong> = Property will be used for contacts.</p>
</li>
<li>
<p><strong>Storage location</strong> = Property will be used for storage locations.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: This setting can no longer be changed once you’ve created the property.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What sort of property do you want to create? Choose this property type from the drop-down list.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: This setting can no longer be changed once you’ve created the property.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">What is the type useful for?</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>None</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The property’s name can be displayed in the online store.
This is useful, e.g. to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>highlight the technical features of a variation (Bluetooth, Wi-Fi).</p>
</li>
<li>
<p>create online store filters (only include Bluetooth-capable products in the search results)</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Date</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>A date can be displayed in the online store.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>A file can be made available for the variation, e.g. assembly instructions.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Int</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>A whole number can be displayed in the online store.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Appropriate e.g. for specifying a weight or a length. For example, HDMI cables that are longer than 10m.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Float</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>A number with decimal places can be displayed in the online store.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Appropriate e.g. for displaying measurements in the online store. For example, a pitcher that holds 1.4 litres.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Long text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>A text with formatting can be displayed in the online store.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Appropriate e.g. for creating variation-specific product descriptions.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Short text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>A text without formatting can be displayed in the online store.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Appropriate e.g. for creating variation-specific product descriptions.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Selection</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Creates a drop-down list with possible values.
While linking the property to a variation, you’ll specify which one of the values applies to the variation.</p>
</div>
<div class="paragraph">
<p><strong><em>Example of use</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/item/settings/properties#760">First</a> you’ll create various levels of water resistance.</p>
</li>
<li>
<p><a href="/en/item/settings/properties#1400">Second</a> you’ll specify the water resistance level for each variation.</p>
</li>
<li>
<p><a href="/en/item/frontend-item-search">Third</a> you’ll create online store filters, which allow your customers to search for variations with a specific water resistance level.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Multi selection</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Creates a series of checkboxes.
While linking the property to a variation, you’ll check all of the values that apply.</p>
</div>
<div class="paragraph">
<p><strong><em>Example of use</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><a href="/en/item/settings/properties#760">First</a> you’ll create various features. For example, if you sell books: first edition, author signature, rarity, collector’s edition.</p>
</li>
<li>
<p><a href="/en/item/settings/properties#1400">Second</a> you’ll check all of the features that apply to the variation, e.g. a first edition that’s also signed.</p>
</li>
<li>
<p><a href="/en/item/frontend-item-search">Third</a> you’ll create online store filters, which allow your customers to search for variations with such features.</p>
</li>
</ol>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a name for the property in your plentymarkets system’s default language. This name <a href="/en/item/settings/properties#1500">can be made visible to customers</a> in the online store. It depends on how you design the layout with ShopBuilder.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Once you’ve created the property, you can save the name in further languages.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong><br>
(Currently not in use)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In the future, this option will allow you to display a description of the order property in the online store.
But at the moment, it’s only possible to use order characteristics.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should this property be sorted into a specific <a href="/en/item/settings/properties#1200">group</a>? If so, then select the group here.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: This drop-down list only includes property groups that were already created.
Proceed as follows to create a new group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Add property group</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Configure the <a href="/en/item/settings/properties#1200">settings for the group</a>.<br>
→ Once you’ve saved the group, you will automatically be taken back to this menu and the group will be pre-selected here.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: It would take a lot of time to manually select a group for every property.
Instead, use the group function to <a href="/en/item/settings/properties#1300">add several properties to a group at once</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which property should be displayed first, second, third, etc? Enter a position number into this field. If a variation has multiple properties, then the properties will be displayed in the store in ascending order according to their position number.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="640">2.1.2. Import</h4>
<div class="paragraph">
<p>plentymarkets has an <a href="/en/data/importing-data/ElasticSync">import tool</a>, which you can use to import properties.
The idea is simple.
Rather than manually saving property data in plentymarkets, you’ll enter the same information into a CSV file and then import this file into your system.</p>
</div>
<div class="paragraph">
<p>Use the <strong>Properties</strong> import type. The fields that you can use for mapping and matching are described on the page of the manual of the import type <a href="/en/data/importing-data/sync-types/elasticSync-properties">Properties</a>.</p>
</div>
</div>
<div class="sect3">
<h4 id="660">2.1.3. Catalogue</h4>
<div class="paragraph">
<p>Have you already started using the new catalogue tool to transmit your product data to a market like Amazon or OTTO? If so, then you can create properties directly within the catalogue assistant and link them to the marketplace.</p>
</div>
<div class="paragraph">
<p>Learn more using the <a href="/en/markets/amazon/variation-data-export">Amazon catalogue assistant</a> as an example.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="800">2.2. Searching for existing properties</h3>
<div class="paragraph">
<p>Previously created properties are displayed in an overview.
You can use filters to narrow down the search results and only see the properties that meet specific criteria.
You can combine as many search filters as you like.</p>
</div>
<div class="paragraph instruction">
<p>Searching for properties:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p>In the <strong>Filter</strong> view, enter the search term in the search field or set the filter options in the drop-down lists. Note <a href="#table-filter-variation-properties">Table 5</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The properties that correspond to the search criteria entered are displayed.</p>
</li>
<li>
<p>Click in the line of the property.<br>
→ The detail view of the property opens.</p>
</li>
</ol>
</div>
<table id="table-filter-variation-properties" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Filters for the properties</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon blue"><i class="fa fa-search  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Starts the search. The properties found are listed in the overview.</p>
<p class="tableblock"><strong><em>Tip</em></strong>: Don’t choose any filters if you want to see all of the properties in the overview.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon orange"><i class="fa fa-undo  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets the selected filter criteria.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter an ID to search for the property with this exact ID.</p>
<p class="tableblock"><strong><em>Background info</em></strong>: Each property automatically receives a consecutive and unique ID when it is created.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name to search for properties with this name.
It’s also possible to search for parts of the name.</p>
<p class="tableblock"><strong><em>Example</em></strong>: By entering “start”, you would find properties called “starting date” and “starter pack”.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a language to search for properties that have a name saved in this language.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a group to search for properties that are part of this group.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Ungrouped</strong> = The search results include properties that are not assigned to any group.</p>
</li>
<li>
<p><strong>Grouped</strong> = The search results include properties that are assigned to a group.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: This list only includes groups that have already been created. If you haven’t created any <a href="/en/item/settings/properties#1200">property groups</a> yet, then you won’t see any group names here either.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Section</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a section to search for properties that are used for this section.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a property type to search for properties with this type.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="700">2.3. Editing existing properties</h3>
<div class="paragraph">
<p>Once you’ve created a property, you can edit its settings further.</p>
</div>
<div class="paragraph instruction">
<p>Editing a property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p><a href="/en/item/settings/properties#800">Search for</a> and open the appropriate property.</p>
</li>
<li>
<p>Edit the settings that are relevant for your situation.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<h4 id="720" class="discrete">General</h4>
<table id="table-edit-variation-property-general" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Properties » Configuration » General</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Details</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Each property automatically receives a consecutive and unique ID when it is created.
This ID cannot be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Section</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The section that you chose while creating the property.
This setting can no longer be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The type that you chose while creating the property.
This setting can no longer be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which property should be displayed first, second, third, etc? Enter a position number into this field. If a variation has multiple properties, then the properties will be displayed in the store in ascending order according to their position number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Options</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Units</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is the property something like a weight or a length, e.g. HDMI cables that are longer than 10m? If so, then choose the appropriate <a href="/en/item/settings/units">unit</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order property</strong><br>
(Currently not in use)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>In the future, this option will allow you to create <em>order properties</em>.
But at the moment, it’s only possible to use <em>order characteristics</em>.</p>
</div>
<div class="paragraph">
<p>In other words, currently it’s only possible to <a href="/en/item/use-cases/personalised-items">sell personalised items</a>, rather than personalised variations. But our developers are working hard on a solution: order properties. Once they are released, it will be possible to sell personalised variations.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display as additional costs</strong><br>
(Currently not in use)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In the future, this option will allow you e.g. to display deposit amounts.
In other words, this option specifies that no VAT should be added to a surcharge.</p>
<p class="tableblock">At the moment, it’s only possible to implement such surcharges with <a href="/en/item/settings/properties#300">characteristics</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Name</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is your store available in multiple languages? Then choose a language version from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the property in the selected language.
This name <a href="/en/item/settings/properties#1500">can be made visible to customers</a> in the online store. It depends on how you design the layout with ShopBuilder.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong><br>
(Currently not in use)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In the future, this option will allow you to display a description of the order property in the online store.
But at the moment, it’s only possible to use order characteristics.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Group</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should this property be sorted into a specific <a href="/en/item/settings/properties#1200">group</a>? If so, then select the group here.</p>
<p class="tableblock"><strong><em>Note</em></strong>: This drop-down list only includes <a href="/en/item/settings/properties#1200">property groups that were already created</a>.</p>
<p class="tableblock"><strong><em>Note</em></strong>: It would take a lot of time to manually select a group for every property.
Instead, use the group function to <a href="/en/item/settings/properties#1300">add several properties to a group at once</a>.</p></td>
</tr>
</tbody>
</table>
<h4 id="740" class="discrete">Visibility</h4>
<table id="table-edit-variation-property-visibility" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Properties » Configuration » Visibility</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which sales platforms should the property be visible on?
Select (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) one or more referrers.</p>
<p class="tableblock"><strong><em>Note</em></strong>: The drop-down list only includes active referrers.
So if you can’t find a specific market in the list, then open the menu <strong>Setup » Orders » Order referrer</strong> and make sure the market was activated (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Clients</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the property only apply to specific clients (stores)? If so, then select all of the stores (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that this property should apply to.</p>
<p class="tableblock"><strong><em>Background info</em></strong>: With plentymarkets, you can manage several online stores, i.e. <a href="/en/online-store/setting-up-clients">several clients</a>, with only one software. Consequently, it is possible to manage several different areas of business with one plentymarkets system. That’s a great advantage. But it also means that you’ll always need to tell plentymarkets which online store the property applies to.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display everywhere</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Where should the property be displayed? Choose the areas (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) where your customers should see the property.</p></td>
</tr>
</tbody>
</table>
<h4 id="760" class="discrete">Values</h4>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Not visible for every type of property</div>
<div class="paragraph">
<p>You will only see this area if you are working with a property of the type <strong>Selection</strong> or <strong>Multi selection</strong>.
This area is irrelevant for all of the other property types.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Here you’ll define the individual values that can be selected.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Add value</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Is your store available in multiple languages? Then choose a language version from the drop-down list.</p>
</li>
<li>
<p>Enter a name and description for the value in the selected language.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The value is created and displayed in the overview.
The value automatically receives a consecutive and unique ID that cannot be changed.</p>
</li>
</ol>
</div>
<h4 id="780" class="discrete">Amazon</h4>
<div class="paragraph">
<p>Here you can <a href="/en/markets/amazon/preparing-variations#1390">link the property with Amazon fields</a> if needed.
To do so, it is necessary to activate an Amazon referrer in the <strong>Visibility</strong> tab.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Add correlation</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Use the three drop-down lists to select the appropriate Amazon platform, category and field.</p>
</li>
<li>
<p>Repeat the procedure if you want to link additional Amazon fields.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The property is linked with the Amazon field and exported during the next item export.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1200">2.4. Grouping properties</h3>
<div class="paragraph">
<p>If you have lots of properties, then you can group them together so that it’s easier to keep track of them in your plentymarkets back end.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example: grouping sales channels</div>
<div class="paragraph">
<p>Imagine you use some properties for the market Amazon and others for your online store.
In this case, you could create one group called Amazon and another group called Store.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="1250">2.4.1. Creating groups</h4>
<div class="paragraph instruction">
<p>Creating a new property group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Groups</strong>.</p>
</li>
<li>
<p>Click on <strong>Add property group</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-create-variation-property-group">Table 8</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The group is created and displayed in the overview.
The group automatically receives a consecutive and unique ID that cannot be changed.</p>
</li>
</ol>
</div>
<table id="table-create-variation-property-group" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. Creating a new property group</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the property group in your plentymarkets system’s default language.
This name <a href="/en/item/settings/properties#1500">can be made visible to customers</a> in the online store. It depends on how you design the layout with ShopBuilder.</p>
<p class="tableblock"><strong><em>Note</em></strong>: Once you’ve created the property group, you can save the name in further languages.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong><br>
(Currently not in use)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In the future, this option will allow you to display a description of the order property group in the online store.
But at the moment, it’s only possible to use order characteristic groups.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which property group should be displayed first, second, third, etc? Enter a position number into this field.
If a variation has properties from multiple groups, then the groups will be displayed in the store in ascending order according to their position number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group type</strong><br>
(Currently not in use)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>How many additional options or services should your customers be able to choose from the group?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>None</strong> = Your customers will see the order properties in the online store. However, they will not be able to choose anything.</p>
</li>
<li>
<p><strong>Select</strong> = Your customers will see a drop-down list in the online store. They will be able to select one option only from the list.</p>
</li>
<li>
<p><strong>Multiselect</strong> = Your customers will see check boxes in the online store. They will be able to select multiple options.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: This option only applies to order properties of the type <strong>None</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Surcharge type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Do you plan on offering extra services or options for an additional fee? If so, then decide whether the surcharge should be treated as a percentage or as a fixed price, e.g. 5% or 5 EUR.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="1300">2.4.2. Assigning properties to a group</h4>
<div class="paragraph">
<p>plentymarkets includes a function, which you can use to simultaneously assign multiple properties to a group.</p>
</div>
<div class="paragraph instruction">
<p>Assigning properties to a group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p>Select the properties (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that you want to assign to the group.</p>
</li>
<li>
<p>Click on <strong>Assign property group</strong> (<span class="icon "><i class="psicon-settings_transfer"></i></span>).<br>
→ The property groups will appear.</p>
</li>
<li>
<p>Select one or more property groups (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Click on <span class="icon "><i class="psicon-execute"></i></span> <strong>Group function</strong>.<br>
→ The selected properties will be assigned to the groups.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1350">2.4.3. Deleting groups again</h4>
<div class="paragraph">
<p>Previously created groups are displayed in the menu <strong>Setup » Settings » Properties » Groups</strong>.
Groups can also be deleted here.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select the groups (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that you want to delete.</p>
</li>
<li>
<p>Click on <span class="icon red"><i class="fa fa-minus-circle  "></i></span> <strong>Delete groups</strong> in the upper right corner.</p>
</li>
<li>
<p>Confirm your decision.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Properties that are assigned to groups remain unaffected.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1400">2.5. Linking properties with variations</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Properties are linked in a different tab depending on their type</div>
<div class="paragraph">
<p>In the lower row of tabs, click on the tab <strong>Properties</strong> or <strong>Texts</strong>. Which tab depends on the property type.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Property type</th>
<th class="tableblock halign-left valign-top">Where is the property linked?</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Short text<br>
Long text</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/managing-items#5000">Tab: Texts</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">None<br>
Int<br>
Float<br>
Selection<br>
Multi-selection<br>
Date<br>
File</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/item/managing-items#4800">Tab: Properties</a></p></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="1420">2.5.1. Manual link</h4>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#400">Search for</a> and open the variation.</p>
</li>
<li>
<p>In the lower row of tabs, click on the tab <strong>Properties</strong> or <strong>Texts</strong>.
Which tab depends on the property type.</p>
</li>
<li>
<p>Click on the <strong>Properties</strong> field.<br>
→ A drop-down list of available variation properties opens.</p>
</li>
<li>
<p>Select the appropriate properties (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p>Click on Add (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ The properties will be added.</p>
</li>
<li>
<p>If necessary, add additional information about the property.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br></p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Inheritance</div>
<div class="paragraph">
<p>By default, properties and values are passed from the main variation to the sub-variations.
If you want to use other properties for the sub-variations, then deactivate the inheritance function and then link the property.</p>
</div>
<div class="paragraph">
<p>Properties and values are inherited all together. You can inherit either all or none of the values.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h5 id="1440" class="discrete">Saving additional information</h5>
<div class="paragraph">
<p>Depending on the scenario, it might be necessary to save additional information. For example:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>If the property is something like a weight or a length, then it will be necessary to enter a numeric value.</p>
</li>
<li>
<p>If the property is a product description for a specific variation, then the text will need to be entered.</p>
</li>
</ul>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tab: Properties</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Here you’ll see the property name. This is purely informative and cannot be changed here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Here you’ll see the property type. This is purely informative and cannot be changed here.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Appearance</th>
<th class="tableblock halign-left valign-top">Meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>empty</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>None</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>int</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Int</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>float</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Float</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>selection</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Selection</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>multiSelection</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Multi selection</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>date</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Date</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>file</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>File</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><strong><em>Note</em></strong>: How you will interact with the <strong>Value</strong> column depends on the property type.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Value</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>How you interact with this column depends on the property type.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Interaction</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>empty</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>No further action is necessary.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>int</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the numerical value as a whole number, e.g. 350 centimetres.</p>
</div>
<div class="paragraph">
<p>Whole numbers between -2,147,483,648 and 2,147,483,647 are permitted.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>float</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the numerical value as a decimal number, e.g. 3.5 metres.</p>
</div>
<div class="paragraph">
<p>8 places before and 4 places after the decimal point are permitted.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>selection</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the appropriate option from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>multiSelection</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Check all of the appropriate options.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>date</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Click on the entry field and select the date from the calendar. Or manually enter the date in the following format: DD.MM.YY</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>file</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Click on <span class="icon purple"><i class="psicon-upload"></i></span> <strong>Upload files</strong> and upload the appropriate file.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedures</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-circle  "></i></span>) to delete the property link. The property itself will not be deleted. It will simply be removed from the variation.</p>
</div>
<div class="paragraph">
<p><strong><em>Inheritance logic</em></strong>: The following logic applies when you delete a property link:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Are you removing the property from a <em>main variation</em>? Then the property will also be removed from all of the sub-variations that had previously inherited this property.</p>
</li>
<li>
<p>Are you removing the property from a <em>sub-variation</em> for which the inheritance function was activated? Then the inheritance function will be deactivated. The remaining properties will no longer be inherited. Rather, they will be saved directly for the sub-variation.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Tab: Texts</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Short text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter up to 65,535 characters of plain text.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Your plentymarkets system’s default language is pre-selected.
If you want to save the text in a different language, then choose this language from the drop-down list up top.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter up to 65,535 characters of text.
Format the text as needed.
Choose your preferred editor from the drop-down list in the top right corner.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Your plentymarkets system’s default language is pre-selected.
If you want to save the text in a different language, then choose this language from the drop-down list up top.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedures</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-circle  "></i></span>) to delete the property link. The property itself will not be deleted. It will simply be removed from the variation.</p>
</div>
<div class="paragraph">
<p><strong><em>Inheritance logic</em></strong>: The following logic applies when you delete a property link:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Are you removing the property from a <em>main variation</em>? Then the property will also be removed from all of the sub-variations that had previously inherited this property.</p>
</li>
<li>
<p>Are you removing the property from a <em>sub-variation</em> for which the inheritance function was activated? Then the inheritance function will be deactivated. The remaining properties will no longer be inherited. Rather, they will be saved directly for the sub-variation.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="1460">2.5.2. Importing links</h4>
<div class="paragraph">
<p>plentymarkets has an <a href="/en/data/importing-data/ElasticSync">import tool</a>, which you can use to import property links. The idea is simple. Rather than manually linking properties with variations, you’ll enter the same information into a CSV file and then import this file into your system.</p>
</div>
<div class="paragraph">
<p>Use the <strong>Item</strong> import type and the mapping fields under the heading <a href="/en/data/importing-data/sync-types/elasticSync-item#2410">Properties</a>.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1500">2.6. Displaying properties in the online store</h3>
<div class="paragraph">
<p>How your properties are displayed in the <a href="/en/online-store/setting-up-ceres">Ceres store</a> depends on how you configured the settings with <a href="/en/online-store/shop-builder">ShopBuilder</a>. This video provides a short demonstration (German only).</p>
</div>
<div class="videoblock">
<div class="title">Displaying properties in the Ceres store</div>
<div class="content">
<iframe src="https://player.vimeo.com/video/360260315#t=24m18s" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1600">2.7. Exporting properties</h3>
<div class="paragraph">
<p>Do you want to export property information out of your plentymarkets system? This is done in two steps:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>First you’ll use the <a href="/en/data/exporting-data/FormatDesigner">FormatDesigner</a> to create a so-called data format.</p>
<div class="ulist">
<ul>
<li>
<p>Use the format type <a href="/en/data/exporting-data/FormatDesigner/format-types/properties">Properties</a> if you want to export the actual properties and property groups.</p>
</li>
<li>
<p>Use the format type <strong>item</strong> along with the data fields <a href="/en/data/exporting-data/FormatDesigner/format-types/item#1600">VariationEigenschaften</a> if you want to export the links between properties and variations.</p>
</li>
</ul>
</div>
</li>
<li>
<p>In a second step, you’ll use the <a href="/en/data/exporting-data/elastic-export">Elastic Export</a> tool to export the data format that you just created.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="900">2.8. Deleting properties</h3>
<div class="paragraph">
<p>Previous created properties are displayed in the menu <strong>Setup » Settings » Properties » Configuration</strong>.
Properties can also be deleted here.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select the properties (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) that you want to delete.</p>
</li>
<li>
<p>Click on <span class="icon red"><i class="fa fa-minus-circle  "></i></span> <strong>Delete</strong> in the upper right corner.</p>
</li>
<li>
<p>Confirm your decision.<br>
→ The selected properties are deleted and removed from the overview.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Even properties that are currently linked to variations can be deleted</div>
<div class="paragraph">
<p>It’s possible to delete properties, regardless whether they are currently linked to a variation or not.
So think carefully before you delete properties. Make sure that you no longer need the property for any variations.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>