<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Characteristics</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Creating characteristic groups</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Creating characteristics</span></a></li>
<li><a href="#350"><span>1.3.</span><span> Linking characteristics to items</span></a></li>
</ul>
</li>
<li><a href="#500"><span>2.</span><span> Properties</span></a>
<ul class="sectlevel2">
<li><a href="#600"><span>2.1.</span><span> Creating a property</span></a></li>
<li><a href="#700"><span>2.2.</span><span> Editing a property</span></a></li>
<li><a href="#800"><span>2.3.</span><span> Searching for a property</span></a></li>
<li><a href="#900"><span>2.4.</span><span> Deleting a property</span></a>
<ul class="sectlevel3">
<li><a href="#1000"><span>2.4.1.</span><span> Deleting one property</span></a></li>
<li><a href="#1100"><span>2.4.2.</span><span> Deleting multiple properties</span></a></li>
</ul>
</li>
<li><a href="#1200"><span>2.5.</span><span> Grouping properties</span></a>
<ul class="sectlevel3">
<li><a href="#1300"><span>2.5.1.</span><span> Assigning properties to a group</span></a></li>
<li><a href="#1400"><span>2.5.2.</span><span> Deleting property groups</span></a>
<ul class="sectlevel4">
<li><a href="#1500"><span>Deleting a property group</span></a></li>
<li><a href="#1600"><span>Deleting multiple property groups</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Characteristics and properties</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Some items stand out from the crowd. Be it a watch that is water resistant or a loudspeaker that has Bluetooth technology.</p>
</div>
<div class="paragraph">
<p>In plentymarkets, such distinguishing features are called characteristics and properties. The difference is that <a href="/en/item/settings/properties#500">properties</a> define <em>specific variations</em> whereas <a href="/en/item/settings/properties#100">characteristics</a> define <em>entire items</em>.</p>
</div>
<div class="paragraph">
<p>With the help of characteristics and properties, for example, you can:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>highlight the technical features of a product.</p>
</li>
<li>
<p><a href="/en/item/frontend-item-search#80">set up filters in your online store</a> that help customers refine their search results.</p>
</li>
<li>
<p>sell <a href="/en/item/use-cases/personalised-items">personalised items</a>.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Other ways to characterise products</div>
<div class="paragraph">
<p>Do you want to simultaneously characterise your products and create <a href="/en/item/introduction/structure">saleable variations</a>, e.g. a t-shirt in the colour red and the size S? This can be done with the help of <a href="/en/item/settings/attributes">attributes</a>!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Characteristics</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Characteristics are <em>passive features</em> of an item. That means they are not linked to stock.
With characteristics, you can highlight features of items, for example technical details such as Bluetooth or Wi-Fi, etc.
Such details can also be <a href="/en/item/frontend-item-search#80">turned into the filters</a> that customers use to narrow down their search results in the online store.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/item/settings/assets/filter.png" alt="filter">
</div>
</div>
<div class="paragraph">
<p>With the help of so-called <em>order characteristics</em>, you can also sell <a href="/en/item/use-cases/personalised-items">personalised items</a>.
For example, services for an additional fee or special requests when placing an order.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">What’s the difference between characteristics and properties?</div>
<div class="paragraph">
<p>Characteristics are linked to items. As such, they apply to all variations of the item. Characteristics are out of date and will gradually be replaced by <a href="/en/item/settings/properties#500">properties</a>. Properties are linked to variations. As such, they are much more flexible.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="200">1.1. Creating characteristic groups</h3>
<div class="paragraph">
<p>There are two typical applications for characteristic groups. On the one hand, if you have lots of characteristics, then you can group them together so that it’s easier to keep track of them in your plentymarkets back end.</p>
</div>
<div class="paragraph">
<p>On the other hand, characteristic groups help you sell <a href="/en/item/use-cases/personalised-items">personalised items</a> in your online store.
You can use characteristic groups to sort the additional options and services that you offer under one heading.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example: Group various trimmings</div>
<div class="paragraph">
<p>Imagine you sell wedding rings. Your customers can choose an optional gold or diamond trim for an additional fee.
You can create a characteristic group called “Trim” to clearly display these options.
Within this group, customers can choose the options “Gold trim” or “Diamond trim”.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Creating a new characteristic group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New characteristic group</strong> tab.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-create-characteristic-groups">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-create-characteristic-groups" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Creating a new characteristic group</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name (internal)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter an internal name for the characteristic group. This name is only visible in the plentymarkets back end:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>in the overview in the <strong>Characteristic groups</strong> tab within this menu</p>
</li>
<li>
<p><a href="/en/item/managing-items#80">in an item’s <strong>Characteristics</strong> tab</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Is your store available in multiple languages? Then choose a language version from the drop-down list.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the characteristic group in the selected language. The name will be visible to customers in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a description for the characteristic group in the selected language.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Surcharges</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you plan on offering extra services or options for an additional fee?
If so, then decide whether the surcharge should be treated as a percentage or as a fixed price, e.g. 5% or 5 EUR.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Grouping of order characteristics (type: "none")</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>How many additional options or services should customers be able to choose from the group?</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Single selection</strong> = Customers will see a drop-down list. They will be able to select <em>one option only</em>.</p>
</li>
<li>
<p><strong>Multiple selection</strong> = Customers will see check boxes. They will be able to select <em>multiple options</em>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> This option only applies to <a href="/en/item/settings/properties#300">order characteristics of the type <strong>No</strong></a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>OTTO characteristic group</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>If needed, link a characteristic group to OTTO. All of the characteristics in this group will be transferred to OTTO. All of the characteristics will be grouped into a <a href="https://forum.plentymarkets.com/t/otto-handbuchseite/7555">SellingPoint</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>None</strong> = No link to OTTO.</p>
</li>
<li>
<p><strong>SellingPoint with group names</strong> = Link to OTTO. The name of the group will be transferred.</p>
</li>
<li>
<p><strong>SellingPoint without group names</strong> = Link to OTTO. The name of the group will not be transferred.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">1.2. Creating characteristics</h3>
<div class="paragraph">
<p>Characteristics allow you to highlight a product’s features.
For example, you might want to specify technical details like Bluetooth or WLAN. Or you might want to offer extra services and options for an additional fee.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new characteristic:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Characteristics</strong>.</p>
</li>
<li>
<p>Click on the <strong>New characteristic</strong> tab.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-create-characteristic">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-create-characteristic" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Creating a new characteristic</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name (internal)</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter an internal name for the characteristic. This name is only visible in the plentymarkets back end:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>in the overview in the <strong>Characteristics</strong> tab within this menu</p>
</li>
<li>
<p><a href="/en/item/managing-items#80">in an item’s <strong>Characteristics</strong> tab</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Webshop</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Is your store available in multiple languages? Then choose a language version from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the characteristic in the selected language. The name will be visible to customers in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a description for the characteristic in the selected language.
The description will be displayed if you place the cursor on the characteristic.</p></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Is the characteristic something like a weight or a length, e.g. HDMI cables that are longer than 10m? If so, then choose the appropriate <a href="/en/item/settings/units">unit</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Characteristic group</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Should this characteristic be sorted into a specific <a href="/en/item/settings/properties#200">group</a>? If so, then select the group here.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: This drop-down list only includes <a href="/en/item/settings/properties#200">characteristic groups that were already created</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="characteristic-type">Characteristic type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>What sort of characteristic do you want to create? Choose this characteristic type from the drop-down list.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> Once you’ve <a href="/en/item/settings/properties#350">linked the characteristic to an item</a>, you’ll no longer be able to change the type.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">What is the type useful for?</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>No</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Customers will only see the name of the characteristic in your online store.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Appropriate e.g. for highlighting an item’s technical specifications.</p>
</li>
<li>
<p><a href="/en/item/settings/properties#order-characteristic">As an order characteristic</a>: appropriate e.g. for offering customers <a href="/en/item/use-cases/personalised-items#200">additional options and services</a> while they place their orders.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Whole number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Makes it possible to enter a whole number between -2,147,483,648 and 2,147,483,647.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Appropriate e.g. for specifying a weight or a length. For example, HDMI cables that are longer than 10m.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Decimal number</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Makes it possible to enter a number with decimal places.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Appropriate e.g. for displaying measurements in the online store.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><a href="/en/item/settings/properties#order-characteristic">As an order characteristic</a>: allows customers, e.g. to <a href="/en/item/use-cases/personalised-items#100">enter a personal text</a> that should be printed on a t-shirt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Selection</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><a href="/en/item/settings/properties#order-characteristic">As an order characteristic</a>: allows customers, e.g. to choose whether their personal text should be printed in red, blue or black font.</p>
</div>
<div class="paragraph">
<p>Further options appear when you choose this type.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Enter a name and description for the first possible choice, e.g. red font.</p>
</li>
<li>
<p>Save (<span class="icon green"><i class="fa fa-save  "></i></span>) the characteristic.</p>
</li>
<li>
<p>Scroll down in the window and enter a name and description for the second possible choice, e.g. blue font.</p>
</li>
<li>
<p>Repeat the procedure until you’ve finished creating all of the different options.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p><a href="/en/item/settings/properties#order-characteristic">As an order characteristic</a>: allows customers, e.g. to <a href="/en/item/use-cases/personalised-items#100">upload an image</a> that should be printed on a t-shirt.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Surcharge</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Do you want to offer this characteristic for an additional fee?
For example, surcharges can be used for:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Additional options and services that customers can choose while placing orders.</p>
</li>
<li>
<p>Deposits on glass bottles</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Enter a value here if a surcharge is to be added for the characteristic. Surcharges will automatically be added to the item price in the detailed view of an item and in the order process. The value 0.00 is set by default, i.e. no surcharge will be calculated.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display as additional costs</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if <em>VAT should not be calculated</em> for the surcharge that was entered.</p>
</div>
<div class="paragraph">
<p>One possible application is e.g. displaying bottle deposits, which are added to the item price without VAT. Characteristics that have this option selected will be displayed as separate items on invoices etc. These items will be displayed with the ID -2.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which characteristic should be displayed first, second, third, etc? Enter a position number into this field. If an item has multiple characteristics, then the characteristics will be displayed in the store in ascending order according to their position number.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Searchable</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>This option relates to the old Shopware connector. It is no longer relevant in most cases. Choose this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if the characteristic should be found through the old Shopware connector.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Where should the characteristic be displayed? Choose the areas (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) where your customers should see the characteristic and its surcharge (assuming one exists).</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong id="order-characteristic">Order characteristic</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if customers should be allowed to <a href="/en/item/use-cases/personalised-items">personalise their orders</a>. For example:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>by entering a personal text that should be engraved.</p>
</li>
<li>
<p>by choosing optional services for an additional fee.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>How exactly customers can personalise their orders depends on which <a href="/en/item/settings/properties#characteristic-type">type of characteristic</a> you chose.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Note</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a note, for example to display specific information about the characteristic.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Characteristic links for markets and price comparison portals</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the marketplace characteristic from the drop-down list. This links the characteristic with a <a href="/en/markets/amazon/amazon-setup#1400">characteristic on a marketplace like Amazon</a>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="350">1.3. Linking characteristics to items</h3>
<div class="paragraph">
<p>Have you finished <a href="/en/item/settings/properties#300">creating your characteristics</a> and <a href="/en/item/settings/properties#200">sorting them into groups</a>? Then you’re ready to link your characteristics to items.</p>
</div>
<div class="paragraph">
<p>For example, if you created a characteristic called “Bluetooth”, then next you would specify which of your products are equipped with Bluetooth.</p>
</div>
<div class="paragraph instruction">
<p>Linking a characteristic with an item:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item</strong>.</p>
</li>
<li>
<p><a href="/en/item/introduction/search#100">Search for</a> and open the item.</p>
</li>
<li>
<p>Click on the <strong>Characteristics</strong> tab. The screen is divided into two areas:</p>
<div class="ulist">
<ul>
<li>
<p>Characteristics that have already been linked to the item are displayed in the upper area called <strong>Characteristics</strong>,</p>
</li>
<li>
<p>Characteristics that have not yet been linked are displayed in the lower area called <strong>Activate further characteristics</strong>. Here, the characteristics are sorted into their groups.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Expand the characteristic group in the lower area if needed (<span class="icon grey"><i class="fa fa-plus-square-o  "></i></span>) and select the characteristic (<span class="icon blue"><i class="fa fa-check-square  "></i></span>).</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The characteristic is now linked to the item and displayed in the upper area.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Linking a characteristic with multiple items</div>
<div class="paragraph">
<p>Use the <a href="/en/item/managing-items#155">item group function</a> if you want to link several items at once.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="_saving_additional_information" class="discrete">Saving additional information</h4>
<div class="paragraph">
<p>Depending on the scenario, it might be necessary to save additional information. For example, if the characteristic is something like a weight or a length, then it will be necessary to enter a numeric value.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Carry out additional settings in the <strong>Characteristics</strong> tab. Note <a href="#table-link-characteristic">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-link-characteristic" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Information about the characteristic</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Here you’ll see the characteristic’s name and, if applicable, the group that it was sorted into.
This is purely informative and cannot be changed here.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Here you’ll see the characteristic type.
This is purely informative and cannot be changed here.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> The characteristic type determines how you will interact with the <strong>Default language</strong> column and with the drop-down list of language abbreviations.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default language</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>How you interact with this column depends on the characteristic type.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Interaction</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Blank</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>No further action is necessary.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Number<br>
Decimal number</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the numerical value here, e.g. the weight or the length.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Choose the appropriate language from the drop-down list in the next column. Enter the text in this language. Save the changes and repeat the process as needed for other languages.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Selection</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the appropriate option.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">File</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Upload the appropriate file.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">(Order characteristic)</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Order characteristics allow your customers to personalise their items, e.g. by entering a text or a number, by selecting an option or by uploading a file.
Therefore, you - the seller - do not need to take any further action for this field. Rather, your customers will make an entry when purchasing the item in your online store.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cross-selling</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) to enable <a href="/en/item/online-store/cross-selling">cross-selling</a> between this item and other items that have the same characteristic and value.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Surcharge</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>You might have already saved a surcharge <a href="/en/item/settings/properties#300">while creating the characteristic</a>.
But what should you do if not every item should be given the same surcharge?
Enter a different surcharge here. This will overwrite the surcharge that was saved for the characteristic as a whole.</p>
</div>
<div class="paragraph">
<p><strong><em>Note:</em></strong> The entry field <em>only appears for order characteristics</em>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Modifying the additional information for multiple items</div>
<div class="paragraph">
<p>Use the group function in the menu <strong>Setup » Item » Characteristics » Tab: Group function</strong> if you want to edit this information for several items at once.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select the characteristic’s language.</p>
</li>
<li>
<p><strong>Property selection</strong>: Choose the characteristic that you want to edit.</p>
</li>
<li>
<p><strong>Value to be changed</strong>: Enter the old value for the characteristic.</p>
</li>
<li>
<p><strong>New value</strong>: Enter the new value for the characteristic.</p>
</li>
<li>
<p>When you save the settings, the characteristic value will be changed for all of the items that have this value.</p>
</li>
</ol>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="500">2. Properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Properties help you highlight items, contacts or storage locations. For example, you can use properties to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>highlight a variation’s technical features such as Bluetooth or WLAN</p>
</li>
<li>
<p>specify which storage locations are appropriate for <a href="#550">items requiring refrigeration</a></p>
</li>
<li>
<p>display text fields that customers can write additional requests in</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Properties are <a href="#600">created centrally</a> in the menu <strong>Setup » Settings » Properties » Configuration</strong> and then they are linked to <a href="/en/item/managing-items#4800">variations</a>, <a href="/en/crm/managing-contacts">contacts</a> or <a href="/en/stock-management/setting-up-a-warehouse#500">storage locations</a>.</p>
</div>
<div class="paragraph">
<p>Properties that are assigned to the <strong>Item</strong> section are linked to variations. These properties differ from <a href="#100">characteristics</a>, which are linked to items. You can create up to 500 variation properties and link them to variations.</p>
</div>
<div class="paragraph">
<p>Unlike <a href="/en/item/settings/attributes">attributes</a>, properties are passive. As such, properties cannot be used to create variations. Properties are not linked to stock and also cannot be selected in the detailed view of an item in the online store.</p>
</div>
<div class="paragraph">
<p>You can also use properties to link your variations with the <a href="/en/markets/amazon/amazon-setup#1390">properties used on markets like Amazon</a>. Furthermore, your customers can <a href="/en/item/frontend-item-search">search for properties in the online store</a> and find variations linked to this property.</p>
</div>
<div id="550" class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Practical example: Storing items in the right spot</div>
<div class="paragraph">
<p>Do you have items that need to be stored in a specific place? For example, some food items should <em>only</em> be stored in refrigerators or freezers. Characterise your storage locations and make sure your items always end up in the right spot.</p>
</div>
<div class="paragraph">
<p>What you’ll need to do:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="#600">Create a property</a> and assign it to the section <strong>Storage location</strong>.</p>
</li>
<li>
<p>Link the property to all of the <a href="/en/item/managing-items#4900">appropriate items</a>, e.g. with perishable goods.</p>
</li>
<li>
<p>Link the property to all of the <a href="/en/stock-management/setting-up-a-warehouse#500">appropriate storage locations</a>, e.g. with refrigerators and freezers.</p>
</li>
<li>
<p><a href="/en/stock-management/new-incoming-items#450">When receiving items</a>, you’ll automatically be suggested the appropriate storage location for the item.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="600">2.1. Creating a property</h3>
<div class="paragraph">
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong> to create properties. These properties are used for characterising your items. Proceed as described below to create a property.</p>
</div>
<div class="paragraph instruction">
<p>Creating a property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.<br>
→ The overview of the properties opens.</p>
</li>
<li>
<p>Click on <strong>Add property</strong>.</p>
</li>
<li>
<p>In the drop-down list <strong>Section</strong>, select the option <strong>Items</strong>.</p>
</li>
<li>
<p>Carry out the additional settings. Note <a href="#table-create-variation-property">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The property is created and opened for editing.</p>
</li>
</ol>
</div>
<table id="table-create-variation-property" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Creating properties</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Area</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select a section from the drop-down list where the property should be used.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Items</strong> = Property will be used for items.</p>
</li>
<li>
<p><strong>Contact</strong> = Property will be used for contacts.</p>
</li>
<li>
<p><strong>Storage location</strong> = Property will be used for storage locations.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the property type from the drop-down list.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>None</strong> = No property type</p>
</li>
<li>
<p><strong>Whole number</strong> = Makes it possible to enter a whole number between -2,147,483,648 and 2,147,483,647.</p>
</li>
<li>
<p><strong>Decimal number</strong> = Makes it possible to enter a number with decimal places.</p>
</li>
<li>
<p><strong>Selection</strong> = Makes it possible to select multiple options. You can enter up to 65,535 characters for each option and value.</p>
</li>
<li>
<p><strong>Short text</strong> = Makes it possible to enter a text that is not formatted and is a maximum of 65,535 characters.</p>
</li>
<li>
<p><strong>Text</strong> = Makes it possible to enter and format a text with up to 65,535 characters.</p>
</li>
<li>
<p><strong>Date</strong> = Makes it possible to enter a date.</p>
</li>
<li>
<p><strong>File</strong> = Allows to upload a file.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the property. This name will for example be displayed in the order process.<br>
<strong><em>Note:</em></strong> The name of the system language is displayed by default. After the property has been created, you can save the name in English. Further languages are planned.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the description of the property.<br>
<strong><em>Note:</em></strong> The description of the system language is displayed by default. After the property has been created, you can save the description in English. Further languages are planned.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a property group from the drop-down list to assign the property to this group. This is optional.<br>
<strong><em>Tip:</em></strong> Click on <strong>Add property group</strong> to create a group.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the position number for the property. Properties are sorted by the position number in ascending order.<br>
<strong><em>Tip:</em></strong> Count by tens when creating position numbers. This will allow you to easily add new properties in between.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="700">2.2. Editing a property</h3>
<div class="paragraph">
<p>You can find all properties in the <strong>Setup » Settings » Properties » Configuration</strong> menu. You can modify the settings described in <a href="#table-create-variation-property">Table 4</a>.</p>
</div>
<div class="paragraph instruction">
<p>Editing a property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> to see all properties.<br>
<strong><em>Tip:</em></strong> Select filters to limit the search results.</p>
</li>
<li>
<p>Click on the property.<br>
→ The <strong>General</strong> tab opens.</p>
</li>
<li>
<p>Edit the settings. Note <a href="#table-edit-variation-property">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-edit-variation-property" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Editing properties</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">View <strong>General</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the new position to change the order of the properties.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Units</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This setting is currently without function.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order property</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option to make sure that the property is displayed in the order process.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Display as additional costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to show the surcharge as additional costs.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong>;<br>
<strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">For multilingualism, enter name and description for other languages.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">View <strong>Visibility</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more clients (stores) that the property should be activated for.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Visibility</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one or more types that the property should be visible for.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Values</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only visible for property type <strong>Selection</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the values that should be displayed in the drop-down list.<br>
Click on <strong>Add value</strong> to create a value.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Name</strong> = Enter a name for the property value.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="800">2.3. Searching for a property</h3>
<div class="paragraph">
<p>You can manage properties centrally in the <strong>Setup » Settings » Properties » Configuration</strong> menu. After opening the menu, start the search to display the properties. In order to search for specific properties, enter a search term in the search fields. The drop-down lists will help you to search for properties that share specific criteria. You can combine as many search filters as you like.</p>
</div>
<div class="paragraph instruction">
<p>Searching for a property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p>In the <strong>Filter</strong> view, enter the search term in the search field or set the filter options in the drop-down lists. Note <a href="#table-filter-variation-properties">Table 6</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong>.<br>
→ The properties that correspond to the search criteria entered are displayed.</p>
</li>
<li>
<p>Click in the line of the property.<br>
→ The detail view of the property opens.</p>
</li>
</ol>
</div>
<table id="table-filter-variation-properties" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Filters for the properties</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Search</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Search</strong> without selecting any filter settings. This will display all properties.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or:</em></strong> Limit the search results by using filters and click on <strong>Search</strong>.<br>
→ The properties found are listed in the overview.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Reset</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Resets the selected filter criteria.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Each property automatically receives a consecutive and unique ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name to search for the property with this name. It is also possible to search only for parts of the name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a language to only display properties for which a name has been saved in this language.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the group to only display properties that are assigned to this group.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Select <strong>Not grouped</strong> to only display properties that are not assigned to a group.</p>
</li>
<li>
<p>Select <strong>Grouped</strong> to only display properties that are assigned to a group.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Area</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select an area to only display properties that are used in this area.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Property type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a property type to only display properties of this type.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">2.4. Deleting a property</h3>
<div class="paragraph">
<p>You can delete one or more properties at the same time.</p>
</div>
<div class="sect3">
<h4 id="1000">2.4.1. Deleting one property</h4>
<div class="paragraph">
<p>Proceed as described below to irreversibly delete a property if it is no longer needed.</p>
</div>
<div class="paragraph instruction">
<p>Deleting one property:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select filters to limit the search results.</p>
</li>
<li>
<p>Start the search.</p>
</li>
<li>
<p>Click on the property.<br>
→ The property opens.</p>
</li>
<li>
<p>Click on <strong>Delete property</strong>.<br>
→ A window appears and you need to confirm your decision.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ The property is deleted and removed from the overview.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1100">2.4.2. Deleting multiple properties</h4>
<div class="paragraph">
<p>Proceed as described below to irreversibly delete multiple properties if they are no longer needed.</p>
</div>
<div class="paragraph instruction">
<p>Deleting multiple properties:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select filters to limit the search results.</p>
</li>
<li>
<p>Start the search.</p>
</li>
<li>
<p>Activate the properties that you want to delete.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ A window appears and you need to confirm your decision.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ The selected properties are deleted and removed from the overview.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect2">
<h3 id="1200">2.5. Grouping properties</h3>
<div class="paragraph">
<p>Create property groups to summarise multiple properties. Proceed as described below to create a property group.</p>
</div>
<div class="paragraph instruction">
<p>Creating a property group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Groups</strong>.</p>
</li>
<li>
<p>Click on <strong>Add property group</strong>.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-create-variation-property-group">Table 7</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The property group is created.</p>
</li>
</ol>
</div>
<table id="table-create-variation-property-group" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Creating a new property group</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name for the property group.<br>
<strong><em>Note:</em></strong> The name of the system language is displayed by default. After the property group has been created, you can save the name in English. Further languages are planned.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the description for the property group.<br>
<strong><em>Note:</em></strong> The description of the system language is displayed by default. After the property group has been created, you can save the description in English. Further languages are planned.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the position number for the property group. Properties are sorted by the position number in ascending order.<br>
<strong><em>Tip:</em></strong> Count by tens when creating position numbers. This will allow you to easily add new property groups in between.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Group type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the group type from the drop-down list. This option determines how properties of the type <strong>Empty</strong> are displayed in the order process.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>None</strong> = Properties will not be grouped by default.</p>
</li>
<li>
<p><strong>Select</strong> = One of the grouped properties can be selected from the drop-down list.</p>
</li>
<li>
<p><strong>Multiselect</strong> = Multiple properties can be selected.
<strong><em>Note:</em></strong> This option only applies for properties of the type <strong>None</strong> for which the <strong>Order process</strong> option has been activated.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Surcharge type</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the type of surcharge from the drop-down list.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Flat</strong> = The surcharge will be entered as flat amount.</p>
</li>
<li>
<p><strong>Percent</strong> = The surcharge is entered as percentage.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="sect3">
<h4 id="1300">2.5.1. Assigning properties to a group</h4>
<div class="paragraph">
<p>Proceed as described below to assign one or more properties to a property group.</p>
</div>
<div class="paragraph instruction">
<p>Assigning properties to a group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Configuration</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select filters to limit the search results.</p>
</li>
<li>
<p>Start the search.</p>
</li>
<li>
<p>Activate the properties that you want to assign to the group.</p>
</li>
<li>
<p>Click on <strong>Assign property group</strong>.<br>
→ A drop-down list of property groups opens.</p>
</li>
<li>
<p>Select the property group from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Group function</strong>.<br>
→ The selected properties are assigned to the property group.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="1400">2.5.2. Deleting property groups</h4>
<div class="paragraph">
<p>You can delete one or more property groups at the same time. Properties that are assigned to groups will remain unaffected when deleting property groups.</p>
</div>
<div class="sect4">
<h5 id="1500">Deleting a property group</h5>
<div class="paragraph">
<p>Proceed as described below to irreversibly delete a property group if it is no longer needed.</p>
</div>
<div class="paragraph instruction">
<p>Deleting one property group:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Groups</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select filters to limit the search results.</p>
</li>
<li>
<p>Start the search.</p>
</li>
<li>
<p>Click on the property group.<br>
→ The detail view of the property group opens.</p>
</li>
<li>
<p>Click on <strong>Delete group</strong>.<br>
→ A window appears and you need to confirm your decision.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ The property group is deleted and removed from the overview.<br>
<strong><em>Note:</em></strong> When you delete a property group, the properties that are assigned to the group are not deleted.</p>
</li>
</ol>
</div>
</div>
<div class="sect4">
<h5 id="1600">Deleting multiple property groups</h5>
<div class="paragraph">
<p>Proceed as described below to irreversibly delete multiple property groups if they are no longer needed.</p>
</div>
<div class="paragraph instruction">
<p>Deleting multiple property groups:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » Properties » Groups</strong>.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select filters to limit the search results.</p>
</li>
<li>
<p>Start the search.</p>
</li>
<li>
<p>Activate the property groups that you want to delete.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ A window appears and you need to confirm your decision.</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ The selected property groups are deleted and removed from the overview.<br>
<strong><em>Note:</em></strong> When you delete a property group, the properties that are assigned to the group are not deleted.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div>
</div>
</main>