<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Creating new units and editing existing ones</span></a></li>
<li><a href="#200"><span>2.</span><span> Combining units and creating variations</span></a></li>
<li><a href="#300"><span>3.</span><span> Displaying the unit price on sales channels and labels</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Units</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Units such as kilograms, litres and centimetres help you define the size or dimensions of your products.</p>
</div>
<div class="paragraph">
<p>There are 52 units saved according to their ISO code in plentymarkets by default. However, you can <a href="/en/item/settings/units#100">create additional units of measure</a> or edit the existing units as needed.</p>
</div>
<div class="paragraph">
<p>You can also <a href="/en/item/settings/units#200">create variations</a> by combining units with different quantities. For example, you might sell a bottle of soap that’s available in 50ml, 100ml or 150ml.</p>
</div>
<div class="paragraph">
<p>You’ve surely seen an item’s <a href="/en/item/settings/units#300">unit price</a> displayed on the shelves in grocery stores. The unit price tells you how much the item costs per pound, litre or other unit of measure. It’s calculated based on the item’s content, unit and price. It can be displayed on various sales channels and on item labels.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Creating new units and editing existing ones</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are 52 units saved according to their ISO code in plentymarkets by default. Take a look at the existing units in the menu <strong>Setup » Item » Units</strong>. Create additional units of measure or edit the existing units as needed.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new unit:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Units</strong>.</p>
</li>
<li>
<p>Click on <strong>New</strong> (<span class="icon green"><i class="fa fa-plus  "></i></span>).<br>
→ The <strong>Create new unit</strong> window opens.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Enter a position number.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The new unit will be created and it will open automatically.</p>
</li>
<li>
<p>Edit the unit further as needed.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Editing an existing unit:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Units</strong>.</p>
</li>
<li>
<p>Click on a unit.<br>
→ The unit opens in a new tab.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#table-edit-units">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-edit-units" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Editing units</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Settings</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the position number of the unit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Units of measure (ISO)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the unit of measure according to its ISO code.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Decimal numbers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should decimal numbers be allowed for this unit of measure? For example, half a litre makes sense. But half a container would not make sense.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Language</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Unit name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the unit name in the respective languages.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">2. Combining units and creating variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can create variations by combining units with different quantities. For example, you might sell a bottle of soap that’s available in 50ml, 100ml or 150ml.</p>
</div>
<div class="paragraph">
<p>You can enter an item’s unit and content <a href="/en/item/import-export-create/create/new-item#200">while creating the item</a>. If you <a href="/en/item/import-export-create/create/new-item#400">create additional variations</a>, then you can enter the unit and content for each variation separately.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">3. Displaying the unit price on sales channels and labels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You’ve surely seen an item’s unit price displayed on the shelves in grocery stores. The unit price tells you how much the item costs per pound, litre or other unit of measure.</p>
</div>
<div class="paragraph">
<p>It’s calculated based on the item’s <a href="/en/item/managing-items#270">content, unit</a> and <a href="/en/item/managing-items#240">price</a>. It can be displayed <a href="/en/item/managing-items#270">in the online store</a>, on sales channels such as <a href="/en/markets/ebay/ebay-setup#4000">eBay</a> or <a href="/en/markets/plus-gartenxxl#365">Netto</a> and <a href="/en/item/settings/barcodes#900">on item labels</a>.</p>
</div>
</div>
</div>
</main>