<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Creating new units and editing existing ones</span></a></li>
<li><a href="#150"><span>2.</span><span> Specifying the content of your variations</span></a></li>
<li><a href="#200"><span>3.</span><span> Combining units and creating variations</span></a></li>
<li><a href="#300"><span>4.</span><span> Displaying the unit price on sales channels and labels</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Units</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Units such as kilograms, litres and centimetres help you define the size or dimensions of your products.
There are 52 units saved according to their ISO code in plentymarkets by default.
However, you can <a href="/en/item/settings/units#100">create additional units of measure</a> or edit the existing units as needed.</p>
</div>
<div class="paragraph">
<p>Furthermore, you can:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>specify the <a href="/en/item/settings/units#150">content</a> of your variations, e.g. 1 piece, 500 grams, 2.4 litres, etc.</p>
</li>
<li>
<p><a href="/en/item/settings/units#200">create variations</a> by combining units with different quantities.
For example, you might sell a bottle of soap that’s available in 50ml, 100ml or 150ml.</p>
</li>
<li>
<p>specify the <a href="/en/item/settings/units#300">unit price</a> of your variations, i.e. the price per pound, litre or other unit of measure.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Creating new units and editing existing ones</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are 52 units saved according to their ISO code in plentymarkets by default.
Take a look at the existing units.
Create additional units of measure or edit the existing units as needed.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="creating-a-new-unit-tab" data-toggle="tab" href="#creating-a-new-unit" role="tab" aria-controls="creating-a-new-unit" aria-selected="true">Creating a new unit</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="editing-an-existing-unit-tab" data-toggle="tab" href="#editing-an-existing-unit" role="tab" aria-controls="editing-an-existing-unit" aria-selected="false">Editing an existing unit</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="creating-a-new-unit" role="tabpanel" aria-labelledby="creating-a-new-unit-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Units</strong>.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>New</strong>.<br>
→ The <strong>Create new unit</strong> window opens.</p>
</li>
<li>
<p>Enter a name for the unit.
Choose an appropriate name, since the text is visible to customers in the online shop.</p>
</li>
<li>
<p>Optionally, enter a position number.
If you do not enter a number, then the position number 0 will automatically be assigned.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="psicon-save"></i></span> <strong>Save</strong>.<br>
→ The new unit will be created and it will open automatically in a new tab.</p>
</li>
<li>
<p>Modify the settings further as needed.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="editing-an-existing-unit" role="tabpanel" aria-labelledby="editing-an-existing-unit-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Item » Units</strong>.</p>
</li>
<li>
<p>Click on a unit.<br>
→ The unit opens in a new tab.</p>
</li>
<li>
<p>Modify the settings as needed.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div></div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a position number for the unit.
The units are displayed sorted by their position number in the back end.</p>
<p class="tableblock"><strong><em>Note</em></strong>: If you did not enter a position number while creating the unit, then the position number 0 will automatically be assigned.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Units of measure (ISO)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a unit of measure according to its ISO code.</p>
<p class="tableblock"><strong><em>Note</em></strong>: You can only choose from the existing ISO codes.
You can not manually add new ISO codes.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Decimal numbers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should decimal numbers be allowed for this unit of measure?
For example, half a litre makes sense.
But half a container would not make sense.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The variation’s content and unit are displayed in the online shop, e.g. 1 piece, 500 grams, 2.5 litres, etc.
Therefore, enter an appropriate name for the unit in all of the languages that you use.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="150">2. Specifying the content of your variations</h2>
<div class="sectionbody">
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="manually-tab" data-toggle="tab" href="#manually" role="tab" aria-controls="manually" aria-selected="true">Manually</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="import-tab" data-toggle="tab" href="#import" role="tab" aria-controls="import" aria-selected="false">Import</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="manually" role="tabpanel" aria-labelledby="manually-tab">
<div class="paragraph">
<p>If you only want to specify the content <em>for a few variations</em>, then it makes sense to do this manually.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Edit item » [Open variation] » Tab: Settings » Area: Dimensions » Option: Content</strong>.</p>
</li>
<li>
<p>Enter a number into the field on the left.</p>
</li>
<li>
<p>Select a unit from the drop-down list on the right.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="psicon-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="import" role="tabpanel" aria-labelledby="import-tab">
<div class="paragraph">
<p>If you want to specify the content for <em>lots of variations</em>, then it makes sense to do this <a href="/en/data/importing-data/ElasticSync">via import</a>.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Create an <a href="/en/data/importing-data/sync-types/elasticSync-item">import of the type Item</a>.</p>
</li>
<li>
<p>Use the mapping fields:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-item#1810">Content value</a> and <a href="/en/data/importing-data/sync-types/elasticSync-item#1800">Content unit</a>.<br></p>
<div class="paragraph">
<p>or</p>
</div>
</li>
<li>
<p><a href="/en/data/importing-data/sync-types/elasticSync-item#1810">Content value</a> and <a href="/en/data/importing-data/sync-types/elasticSync-item#1820">Content measuring unit (ISO)</a>.</p>
</li>
</ol>
</div>
</li>
</ol>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="200">3. Combining units and creating variations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can create variations by combining units with different quantities. For example, you might sell a bottle of soap that’s available in 50ml, 100ml or 150ml.</p>
</div>
<div class="paragraph">
<p>You can enter an item’s unit and content <a href="/en/item/import-export-create/create/new-item#200">while creating the item</a>. If you <a href="/en/item/import-export-create/create/new-item#400">create additional variations</a>, then you can enter the unit and content for each variation separately.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Displaying the unit price on sales channels and labels</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You’ve surely seen an item’s unit price displayed on the shelves in grocery stores.
The unit price tells you how much the item costs per pound, litre or other unit of measure.</p>
</div>
<div class="paragraph">
<p>It’s calculated based on the item’s <a href="/en/item/managing-items#270">content, unit</a> and <a href="/en/item/managing-items#240">price</a>.
It can be displayed <a href="/en/item/managing-items#270">in the plentyShop</a>, on sales channels such as <a href="/en/markets/amazon/preparing-variations#860">Amazon</a>, <a href="/en/markets/ebay/ebay-setup#4000">eBay</a>, <a href="/en/markets/otto/otto-market#1302">OTTO</a> or <a href="/en/markets/plus-gartenxxl#365">Netto</a> and <a href="/en/item/settings/barcodes#900">on item labels</a>.</p>
</div>
</div>
</div>
</main>