<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 22. Dezember 2021</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 16. Dezember 2021 bis zum 22. Dezember 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_ereignisaktionen" class="discrete">Ereignisaktionen</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben in den Ereignisaktionen im Menü <strong>Einrichtung » Aufträge » Ereignisse</strong> im Bereich <strong>Auftrag</strong> den Filter <strong>Auftrag mit Retourenpaketnummer</strong> mit der Auswahl <strong>Ja</strong> / <strong>Nein</strong> hinzugefügt. Somit kannst du deine Aufträge gezielt danach filtern, ob diese eine Retourenpaketnummer haben oder nicht und die Aufträge dann z.B. über eine Aktion in einen anderen Auftragsstatus verschieben.</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt Warenbewegungen aus einem bestimmten Datumsbereich (max. Bereich 3 Monate) exportieren.</p>
</li>
<li>
<p>Du kannst ab jetzt die Warenbewegungen pro Variante für einen gewissen Datumsbereich gesammelt exportieren. Weitere Details und eine Anleitung findest du hier: <a href="https://forum.plentymarkets.com/t/kataloge-format-warenbewegungen-filter-nach-summe-der-warenbewegungen-verfuegbar-catalogues-format-stock-movements-filter-by-sum-of-stock-movements-the-available/664167" target="_blank" rel="noopener">Link zum Forum</a></p>
</li>
</ul>
</div>
<h3 id="_otto_market" class="discrete">OTTO Market</h3>
<div class="ulist">
<ul>
<li>
<p>Bei Aufträgen erhalten wir jetzt von OTTO Market die Information, ob eine Altgeräteabholung gewünscht ist oder nicht. Wenn eine Abholung gewünscht ist, setzen wir eine OrderItemProperty mit der Typ-ID 92 an den Auftragspositionen, ergänzen den Text <code>[inkl. Altgerätemitnahme/incl. WEEE take back]</code> als Suffix am Artikelnamen und schreiben eine Auftragsnotiz, welche ebenfalls die betroffenen Artikelpositionen beinhaltet. Mehr Informationen zu Änderungen des Elektrogesetzes findet ihr in folgendem Beitrag: <a href="https://forum.plentymarkets.com/t/otto-market-altgeraetemitnahme-in-auftraegen-weee-take-back-in-orders/664092" target="_blank" rel="noopener">Link zum Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</li>
</ul>
</div>
<h3 id="_payment" class="discrete">Payment</h3>
<div class="ulist">
<ul>
<li>
<p>In der neuen Zahlungsverkehr-UI wurde ein Link zum Kontakt in die Zuordnungs-Tabelle eingefügt.</p>
</li>
<li>
<p>In der neuen Zahlungsverkehr-UI wurde ein Ankerpunkt für die Infoboxen in die Seitennavigation hinzugefügt.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Ein neues Format für die SEPA Überweisung (001.001.03) innerhalb der Prozesse steht euch nun zur Verfügung.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_netto" class="discrete">Netto</h3>
<div class="ulist">
<ul>
<li>
<p>Wie wir bereits angekündigt haben, gibt es ein neues Pflichtattribut <strong>Elektroprodukt</strong> bei Netto. Um den Händlern, welche keine betroffenen Produkte verkaufen, zu entlasten, wird als Standardwert für dieses Attribut <strong>nein</strong> exportiert, wenn kein Merkmal dafür am Artikel hinterlegt wurde.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wer das Merkmal noch pflegen muss, findet hier einen Leitfaden: <a href="https://knowledge.plentymarkets.com/maerkte/plus-gartenxxl#merkmal-elektroprodukt" target="_blank" rel="noopener">Link zum Handbuch</a>.</p>
</div>
<h3 id="_payment_2" class="discrete">Payment</h3>
<div class="ulist">
<ul>
<li>
<p>Die folgenden Anpassungen wurden für die Zahlungshistorie in der Detailansicht einer Zahlung vorgenommen:</p>
<div class="ulist">
<ul>
<li>
<p>Die Tabellenspalten und deren Reihenfolge wurde angepasst.</p>
</li>
<li>
<p>Die Spalte <strong>Benutzer/Quelle</strong> gibt genauer wieder, von wem oder wo die Änderung vorgenommen wurde (z.B. eine Benutzer:in oder ein Plugin).</p>
</li>
<li>
<p>Die Spalten <strong>Aktion</strong> und <strong>Wert</strong> geben genau wieder, welche Änderung an der Zahlung vorgenommen wurde.</p>
</li>
<li>
<p>Die Tabelleneintragungen wurden erweitert, so dass mehr Informationen für Zahlungen zur Verfügung stehen.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_amazon_vcs" class="discrete">Amazon VCS</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Aktualisieren der Gutschrift auf Basis des VCS-Berichts wird die Transaktions-ID am Auftrag ergänzt, welche für den Upload des Dokuments notwendig ist. Wenn allerdings die Transaktions-ID hinzugefügt wurde, die Gutschrift aber ansonsten nicht korrigiert werden musste, dann wurde kein Update an den Microservice geschickt. Dies wurde jetzt behoben, indem direkt nach Hinzufügen der Transaktions-ID ein Update an den Microservice geschickt wird.</p>
</li>
</ul>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Beim erneuten Speichern einer Nachbestellung nach einem Währungswechsel ist ein Fehler aufgetreten. Dies ist nun behoben, die Nachbestellung kann wieder erfolgreich gespeichert werden.</p>
</li>
<li>
<p>Aufträge mit Bestelleigenschaften konnten nicht geteilt werden. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_2" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Es konnten nur 50.000 statt der erlaubten 60.000 Aufträge im Katalog exportiert werden.</p>
</li>
<li>
<p>Wenn man den Bestand für einen gewissen Tag exportieren wollte, wurde der Bestand des vorherigen Tages angezeigt. Der Fehler wurde nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_otto_market_2" class="discrete">OTTO Market</h3>
<div class="ulist">
<ul>
<li>
<p>Der Import von externen Gutschriften, welche einen Preisnachlass beinhalteten, war derzeit nicht möglich. Dieses Verhalten wurde behoben.</p>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Sollten dir dahingehend Gutschriften fehlen, so melde dich bitte in diesem Thread mit der passenden Order-ID der Gutschrift: <a href="https://forum.plentymarkets.com/t/sammelthread-fuer-nachtraegliche-dokumentenimporte-gutschriften/647737" target="_blank" rel="noopener">Link zum Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<h3 id="_prozesse_2" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Bei einem Fehler in der Aktion <strong>Warenausgang</strong> buchen wurde die Aktion für den Fehlerfall nicht ausgeführt. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_zalando" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Durch das Hinzufügen der Unterauftragsherkünfte für Zalando war die Hauptauftragsherkunft 118.00 nicht mehr bei den Verkaufspreisen als Herkunft wählbar. Wenn der Verkaufspreis nach dieser Anpassung gespeichert wurde, wurde dadurch die Verknüpfung entfernt. Dies konnte dazu führen, dass die Produktdatei leer blieb, weil kein freigegebener Preis gefunden wurde. Dieses Verhalten wurde nun behoben: Die Auftragsherkunft wurde als Preisfilter beim Generieren der Produktdatei entfernt. Dies war möglich, weil der Preis in der Produktdatei von Zalando ignoriert wird, seitdem die Preise über die neue zDirect API übermittelt werden und damit der Preis in der Produktdatei vorhanden sein muss, aber von Zalando nicht importiert wird. Es gilt als Beschränkung weiterhin, dass der Verkaufspreis für den Hauptmandanten freigegeben sein muss.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Es wurden neue Ereignisaktionen hinzugefügt, mit denen ein Angebot oder eine Gelangensbestätigung erzeugt werden können.</p>
</li>
<li>
<p>In der Zahlungsübersicht im Menü <strong>Aufträge » Zahlungsverkehr</strong> wurde die Spalte <strong>Eltern-ID</strong> hinzugefügt.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_3" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Die mathematischen Berechnungen in einigen Standardformaten des Katalogs wurden erweitert. Dort kannst du nun auch Zuweisungen für die Datenfelder vornehmen. So kannst du z.B. wählen, welche Sprache exportiert werden soll. Ob für ein Datenfeld Zuweisungen erforderlich ist, erkennst du an den drei Punkten. Eine Zahl zeigt an, wie viele Zuweisungen vorgenommen werden müssen. Mehr erfährst du im <a href="https://knowledge.plentymarkets.com/daten/daten-exportieren/kataloge-verwalten#mathematische-berechnungen" target="_blank" rel="noopener">plentymarkets Handbuch</a>.</p>
</li>
</ul>
</div>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Erstellen eines neuen Auftrags wurden bereits eingegebene Daten nicht gespeichert, wenn man während der Auftragserstellung den Tab gewechselt hat.
Dies ist nun behoben, alle Daten werden auch bei Tabwechsel gespeichert.</p>
</li>
</ul>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Im Messenger-Modul wurde beim Anzeigen einer Nachricht im Safari-Browser anstelle des Datums der Nachricht die Fehlermeldung „Ungültiges Datum“ angezeigt. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_hosting" class="discrete">Hosting</h3>
<div class="ulist">
<ul>
<li>
<p>Im Menü <strong>Einrichtung » Einstellungen » Hosting » Bereinigung</strong> ist das Feld <strong>Löschung der Historie</strong> auf 365 Tage begrenzt. Wenn man eine Zahl größer als 365 eingegeben hat, erschien eine unverständliche Fehlermeldung. Dieses Verhalten wurde behoben und eine klare, verständliche Fehlermeldung wird ab sofort angezeigt:</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/hosting-historie.png" alt="hosting historie" width="640"></span></p>
</div>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/findologic_6390" target="_blank" rel="noopener">Findologic - Product Discovery Platform</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.7.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/mollie_6272" target="_blank" rel="noopener">Mollie</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.8.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/payone_5434" target="_blank" rel="noopener">PAYONE</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.3.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/elasticexportidealode_4723" target="_blank" rel="noopener">idealo.de</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.3.18</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/klarna_6731" target="_blank" rel="noopener">Klarna</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.4.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/addressdoctor_6106" target="_blank" rel="noopener">AddressDoctor</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.19</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/fruugo_6875" target="_blank" rel="noopener">Fruugo.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.3.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/picklistenchecker_55051" target="_blank" rel="noopener">PicklistenChecker</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dotsliderwidget_54878" target="_blank" rel="noopener">Dot Slider - Präsentieren Sie mehrere Angebote auf Ihren Bannern</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nach Ausführung des Updates müssen die ShopBuilder-Inhalte neu bereitgestellt werden.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>