<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 15. Dezember 2021</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 09. Dezember 2021 bis zum 15. Dezember 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_ereignisaktionen" class="discrete">Ereignisaktionen</h3>
<div class="ulist">
<ul>
<li>
<p>Es wurde eine neue Ereignisaktion hinzugefügt, mit welcher der <strong>Abhol-/Lieferschein</strong> erzeugt werden kann.</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt die <strong>Einkaufspreise</strong> der Artikel, die in der Warenbewegungen angezeigt werden, und die <strong>Tags</strong> mit dem Katalog Format <strong>Warenbewegungen</strong> exportieren.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_cdiscount" class="discrete">Cdiscount</h3>
<div class="ulist">
<ul>
<li>
<p>Die Log-Einträge für die Meldung von Gutschriften an Cdiscount wurde vom <strong>Daten » API-Log</strong> zu <strong>Daten » Log</strong> überführt. Die Log-Einträge können mit den folgenden Filtern gefunden werden:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Identifikator</strong>: <code>Cdiscount</code></p>
</li>
<li>
<p><strong>Referenztyp</strong>: <code>action</code></p>
</li>
<li>
<p><strong>Referenzwert</strong>: <code>orderRefund</code></p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Zusätzlich können die Einträge nach den Referenztypen orderId und externalOrderId durchsucht werden. Im Gegensatz zu vorher wird die gesamte Antwort von Cdiscount als Zusatzinfo beim Öffnen des Eintrags angezeigt, um die Fehlersuche für den Support zu vereinfachen.</p>
</div>
</li>
</ul>
</div>
<h3 id="_payment" class="discrete">Payment</h3>
<div class="ulist">
<ul>
<li>
<p>Eine neue Infobox wurde zum Menü <strong>Zahlung teilen</strong> hinzugefügt. Sie zeigt den Wert des Restbetrags an. Die Infobox wird angezeigt, nachdem eine Zahlung für die Aufteilung ausgewählt wurde.</p>
</li>
<li>
<p>Die Infoboxen werden jetzt in einer Zeile angezeigt.</p>
</li>
<li>
<p>Dem Menü wurde eine neue Symbolleiste oben hinzugefügt.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Es konnte in seltenen Fällen dazu kommen, dass im Suchindex für Aufträge nicht aktuelle Daten waren.</p>
</li>
</ul>
</div>
<h3 id="_cdiscount_2" class="discrete">Cdiscount</h3>
<div class="ulist">
<ul>
<li>
<p>Dies ist eine Anpassung zu <a href="https://forum.plentymarkets.com/t/cdiscount-attribute-in-produktnamen-attributes-in-product-name/653209" target="_blank" rel="noopener">einer bereits durchgeführten Korrektur</a>. Wir haben neue Informationen erhalten, auf Basis derer der Export so angepasst wird, dass die Attribute nur bei Varianten an den Produktnamen angehängt werden, welche bei Cdiscount als Einzelartikel gelistet werden, während die Attribute weiterhin nicht bei Varianten angehängt werden, welche als Variantenartikel auf Cdiscount gelistet werden.</p>
<div class="paragraph">
<p><strong>Zusatzinformation: Unterscheidung Varianten- und Einzelartikel auf Cdiscount</strong> - Auf Cdiscount können nur ganz bestimmte Produkttypen (meistens Kleidung) als Variantenartikel gelistet werden. Deswegen exportieren wir standardmäßig jede Variante als Einzelartikel außer:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Die Attribute der Variante wurden über die Attributverknüpfung als Kleidungsfarbe oder Kleidungsgröße definiert oder</p>
</li>
<li>
<p>Ein Merkmal vom Typ „Kein“ mit der Cdiscount-Verknüpfung „Variantenartikel“ wurde am Artikel hinterlegt.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Falls man das gleiche Attribut für Varianten und Einzelartikel auf Cdiscount verwendet, dann kann man ebenfalls über ein Merkmal vom Typ „Kein“ mit der Cdiscount-Verknüpfung „kein Variantenartikel“ den Artikel explizit als Einzelartikel deklarieren.</p>
</div>
</li>
</ul>
</div>
<h3 id="_emailbuilder" class="discrete">EmailBuilder</h3>
<div class="ulist">
<ul>
<li>
<p>Vorlagen, die im EmailBuilder erstellt wurden und aus der Vorschau im Auftrag versendet wurden, wurden zwar versendet, jedoch wurden sie nicht im Ordner Gesendete E-Mails im Auftrag angezeigt. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_payment_2" class="discrete">Payment</h3>
<div class="ulist">
<ul>
<li>
<p>Nach dem Benutzen einer Gruppenfunktion in der Zahlungsverkehr-UI werden die Filter nun nicht mehr zurückgesetzt.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_ereignisaktionen_2" class="discrete">Ereignisaktionen</h3>
<div class="ulist">
<ul>
<li>
<p>Wir haben in den Ereignisaktionen im Menü <strong>Einrichtung » Aufträge » Ereignisse</strong> im Bereich <strong>Auftrag</strong> den Filter <strong>Auftrag mit Retourenpaketnummer</strong> mit der Auswahl <strong>Ja</strong> / <strong>Nein</strong> hinzugefügt. Somit kannst du deine Aufträge gezielt danach filtern, ob diese eine Retourenpaketnummer haben oder nicht und die Aufträge dann z.B. über eine Aktion in einen anderen Auftragsstatus verschieben.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_2" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt Warenbewegungen aus einem bestimmten Datumsbereich (max. Bereich 3 Monate) exportieren.</p>
</li>
</ul>
</div>
<h3 id="_payment_3" class="discrete">Payment</h3>
<div class="ulist">
<ul>
<li>
<p>In der neuen Zahlungsverkehr-UI wurde ein Link zum Kontakt in die Zuordnungs-Tabelle eingefügt.</p>
</li>
<li>
<p>In der neuen Zahlungsverkehr-UI wurde ein Ankerpunkt für die Infoboxen in die Seitennavigation hinzugefügt.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_dashboard" class="discrete">Dashboard</h3>
<div class="ulist">
<ul>
<li>
<p>Das neue plentyBI Dashboard wird in Zukunft das alte ersetzen und damit standardmäßig geöffnet, wenn sich Nutzer in das System einloggen. Das alte Dashboard wird nicht abgeschaltet und wird weiterhin verfügbar sein.</p>
</li>
</ul>
</div>
<h3 id="_payment_4" class="discrete">Payment</h3>
<div class="ulist">
<ul>
<li>
<p>Die folgenden Anpassungen wurden für die Zahlungshistorie in der Detailansicht einer Zahlung vorgenommen:</p>
<div class="ulist">
<ul>
<li>
<p>Die Tabellenspalten und deren Reihenfolge wurde angepasst.</p>
</li>
<li>
<p>Die Spalte <strong>Benutzer/Quelle</strong> gibt genauer wieder, von wem oder wo die Änderung vorgenommen wurde (z.B. eine Benutzer:in oder ein Plugin).</p>
</li>
<li>
<p>Die Spalten <strong>Aktion</strong> und <strong>Wert</strong> geben genau wieder, welche Änderung an der Zahlung vorgenommen wurde.</p>
</li>
<li>
<p>Die Tabelleneintragungen wurden erweitert, so dass mehr Informationen für Zahlungen zur Verfügung stehen.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Beim erneuten Speichern einer Nachbestellung nach einem Währungswechsel ist ein Fehler aufgetreten. Dies ist nun behoben, die Nachbestellung kann wieder erfolgreich gespeichert werden.</p>
</li>
</ul>
</div>
<h3 id="_kataloge_3" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Es konnten nur 50.000 statt der erlaubten 60.000 Aufträge im Katalog exportiert werden.</p>
</li>
<li>
<p>Wenn man den Bestand für einen gewissen Tag exportieren wollte, wurde der Bestand des vorherigen Tages angezeigt. Der Fehler wurde nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Bei einem Fehler in der Aktion <strong>Warenausgang</strong> buchen wurde die Aktion für den Fehlerfall nicht ausgeführt. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/adcelltracking_6493" target="_blank" rel="noopener">ADCELL Conversion Tracking</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.12</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/magiczoomplus_6092" target="_blank" rel="noopener">Artikelbilder Zoom - Magic Zoom Plus</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.1.8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/bulletpointwidget_54988" target="_blank" rel="noopener">Artikelvorteile mit Bullet Points / Listenpunkte - Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/billigerdetracking_6126" target="_blank" rel="noopener">billiger.de Conversion Tracking</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.11</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/filterdrop_6603" target="_blank" rel="noopener">FilterDrop</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/fruugo_6875" target="_blank" rel="noopener">Fruugo.com</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.3.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/googleanalyticsrefunder_6657" target="_blank" rel="noopener">Google Analytics Rückerstattung</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.10</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/wartungsmodus_5812" target="_blank" rel="noopener">Individueller Wartungsmodus</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.11</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/matrixvarianten_6620" target="_blank" rel="noopener">Mehrere Varianten gleichzeitig in den Warenkorb legen</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.3.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/mirakl_6917" target="_blank" rel="noopener">Mirakl Connector</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.57</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/mollie_6272" target="_blank" rel="noopener">Mollie</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.8.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/multicontentwidget_6082" target="_blank" rel="noopener">Multicontent Toolbox</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">4.6.13</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/novalnet_5231" target="_blank" rel="noopener">Novalnet</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.2.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/rewe_5901" target="_blank" rel="noopener">REWE</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.26.13</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plentybase_5053" target="_blank" rel="noopener">plentyBase</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.8.1</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Für macOS wird keine separate Java-Installation mehr benötigt. plentyBase für macOS beinhaltet diese jetzt wieder fest.</p>
</li>
<li>
<p>Linux Distributionen mit Gnome3 Desktop zeigen keine Tray-Icons unter Java an, stattdessen wird jetzt die plentyBase-Konfiguration direkt beim Start geöffnet. Über die Taskleiste lässt sich diese dann auch jederzeit wieder öffnen.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/schufa_6360" target="_blank" rel="noopener">Schufa Bonitätsprüfung</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.8</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/trackingmanager_54743" target="_blank" rel="noopener">TrackingManager</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.2</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/conditionwidget_54782" target="_blank" rel="noopener">WENN / DANN Shopbuilder-Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.7</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>