<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Registering with ADU-Inkasso</span></a></li>
<li><a href="#20"><span>2.</span><span> Carrying out settings in the ADU-Inkasso account</span></a></li>
<li><a href="#30"><span>3.</span><span> Viewing the processing status</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Old online store: ADU-Inkasso</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Integration only for Callisto online stores</div>
<div class="paragraph">
<p>This page only contains instructions for integrating <strong>ADU-Inkasso</strong> in Callisto online stores. The following instructions are not valid for Ceres online stores!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Set up <a href="http://www.adu-inkasso.de/en/home/" target="_blank" rel="noopener">ADU-Inkasso</a> (Allgemeiner Debitoren- und Inkassodienst GmbH) in plentymarkets to manage outstanding debts by transferring the data automatically to ADU-Inkasso with the help of a specific sales order status. The current processing status of outstanding debts is visible in the back end. Learn how to set up the interface to ADU-Inkasso in your plentymarkets system.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Registering with ADU-Inkasso</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Register with <a href="https://www.auskunft.inkassounternehmen.de/?action=register" target="_blank" rel="noopener">ADU-Inkasso</a> (German only) in order to use its services. You will receive your access data to the ADU-Inkasso online portal once you have registered and signed a contract.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Carrying out settings in the ADU-Inkasso account</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Log into the <a href="https://www.auskunft.inkassounternehmen.de" target="_blank" rel="noopener">ADU-Inkasso online portal</a> with your access data and open the menu <strong>Aktenimport</strong> (file import) in order to activate the interface. Carry out the following settings in this menu.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Enter access data</p>
</li>
<li>
<p>Enter PlentyID and SOAP-WSDL. This information can be found in the <strong>System » System settings » Settings » API » Data</strong> menu.</p>
</li>
<li>
<p>Save login data</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Once you have activated the interface, you can select an <a href="/en/orders/managing-orders#1200">order status</a> to display the corresponding debts in the online portal. Furthermore, you can specify whether debts should be transferred to ADU-Inkasso automatically or manually. For further information, refer to the <a href="http://www.adu-inkasso.de/fileadmin/user_upload/Beschreibung_plentymarkets.pdf" target="_blank" rel="noopener">Interface description</a> page (German only) of ADU-Inkasso.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Viewing the processing status</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The dunning procedure will be started once the debts were transferred. You can easily see the status of debts that were transferred. Open the corresponding order in your plentymarkets system to access the information in the customer note. You can also access the ADU-Inkasso online portal for more detailed information. It can be accessed directly from the customer note. This allows you to always keep an eye on your debts.</p>
</div>
<div class="paragraph instruction">
<p>Displaying a customer note:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Contacts</strong>.</p>
</li>
<li>
<p>Search the contact by means of the filter settings as described in the <a href="/en/crm/managing-contacts#200">Searching for a contact</a> chapter.<br>
→ The contacts that correspond to the search criteria entered are displayed.</p>
</li>
<li>
<p>Click in the line of the contact.<br>
→ The detail view of the contact opens.</p>
</li>
<li>
<p>Click on <strong>Notes</strong>.<br>
→ The <strong>Customer notes</strong> window will open.</p>
</li>
<li>
<p>In the customer note, click on <strong>zu ADU Inkasso</strong> (to ADU Inkasso).<br>
→ You will be forwarded to the ADU-Inkasso online portal.</p>
</li>
</ol>
</div>
</div>
</div>
</main>