<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Important notes</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Payment process</span></a></li>
<li><a href="#30"><span>1.2.</span><span> SSL certificate</span></a></li>
<li><a href="#40"><span>1.3.</span><span> Available heidelpay payment methods</span></a></li>
</ul>
</li>
<li><a href="#50"><span>2.</span><span> Registering with heidelpay</span></a></li>
<li><a href="#60"><span>3.</span><span> Setting up heidelpay for Callisto</span></a></li>
<li><a href="#70"><span>4.</span><span> Activating payment methods</span></a></li>
<li><a href="#80"><span>5.</span><span> Displaying heidelpay in the Callisto online store</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Old online store: heidelpay</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Integration only for Callisto online stores</div>
<div class="paragraph">
<p>This page only contains instructions for integrating <strong>heidelpay</strong> in Callisto online stores. For further information on using <strong>heidelpay</strong> in Ceres online stores, refer to the detailed information in the plugin description available in the <a href="https://marketplace.plentymarkets.com/plugins/payment/Heidelpay_5700" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Heidelberger Payment GmbH, in short heidelpay, is a leading European Service Provider that deals with the topic of payment. The services offered by this PCI/DSS certified company range from worldwide E-Payment solutions to debtor management and risk management functions all the way to various offers for alternative payment procedures - quick, secure, simple and comprehensive.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Important notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter provides you with important information about integrating the payment provider in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Payment process</h3>
<div class="paragraph">
<p>The customer is forwarded to heidelpay for the payment process and an iframe prompts the customer to enter their necessary data. The payment method is selected in the online store. Afterwards, the customer is forwarded directly to heidelpay. The additional content is made available in an iframe. The customer enters their data here. In other words, the data is not entered in the online store, but rather in heidelpay. Once the customer has entered and confirmed the data, they will be forwarded to the order confirmation page.</p>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. SSL certificate</h3>
<div class="paragraph">
<p>You need to have an <a href="/en/basics/admin-tasks/plentymarkets-account#ssl-certificate">SSL certificate</a> in order to correctly use the payment method.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Ask your bank</div>
<div class="paragraph">
<p>Ask your bank whether it can process payments with iframe before you integrate this payment method.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="40">1.3. Available heidelpay payment methods</h3>
<div class="paragraph">
<p>Below you will find an overview of the heidelpay payment methods that are available for plentymarkets. They are displayed along with the corresponding System ID in parentheses.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Online debit (1000)</p>
</li>
<li>
<p>Cash in advance (1020)</p>
</li>
<li>
<p>Invoice (1030)</p>
</li>
<li>
<p>Credit cards (1040)</p>
</li>
<li>
<p>Electronic cash cards (1050)</p>
</li>
<li>
<p>Bank transfer with PIN/TAN (1060)</p>
</li>
<li>
<p>Virtual account (1070)</p>
</li>
<li>
<p>User account (1080)</p>
</li>
<li>
<p>Sofortbanking (1090)</p>
</li>
<li>
<p>T-Pay (1091)</p>
</li>
<li>
<p>Giropay (1092)</p>
</li>
<li>
<p>IDEAL (NL) (1093)</p>
</li>
<li>
<p>EPS (AT) (1094)</p>
</li>
<li>
<p>Carte Bleue (1095)</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="50">2. Registering with heidelpay</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Contact the heidelpay sales team at Tel. +49 (0)6221-6517020 or <a href="mailto:sales@heidelpay.de">sales@heidelpay.de</a> and ask for an offer. Sign the offer and send it back to heidelpay. You will receive your credit card acceptance contract from heidelpay, which you can sign. Once the bank has agreed you will receive the heidelpay access data. You will need the access data for activation in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">3. Setting up heidelpay for Callisto</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to set up the interface to heidelpay for your Callisto online store in plentymarkets. The <a href="/en/payment/payment-providers/heidelpay#80">Options</a> submenu is also used for heidelpay where you save a stylesheet (CSS) for heidelpay.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the interface to heidelpay:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>heidelpay</strong>.<br>
→ The <strong>Interface</strong> tab will open.</p>
</li>
<li>
<p>Expand the client.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in <a href="#table-setup-heidelpay-interface">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-setup-heidelpay-interface" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. setting up the interface to heidelpay</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Login details</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter 32-digit login code that you received from heidelpay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter 8-digit password that you received from heidelpay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SENDER</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter 32-digit code that you received from heidelpay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Channel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter 32-digit code that you received from heidelpay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transaction mode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter <strong>LIVE</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Server</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the payment server’s URL that you received from heidelpay.<br>
Enter the payment URL <strong>POST</strong> (UTF-8 encoded).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Online transfer payment methods: channel ID</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sofortüberweisung, T-Pay, Giropay, IDEAL, EPS</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the channel ID for the payment methods.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Client (store) options</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate access data for all clients (stores)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only visible if clients (stores) were set up. Activate to apply the account settings saved for the main store by clicking on <strong>Add account</strong> for all clients (shops). This setting is dominant over the settings saved for each client. Deactivate to use separate access data for your clients (stores). Online stores that do not have account settings saved for them cannot be used with heidelpay.<br>
Go to <a href="/en/omni-channel/online-store/setting-up-clients/online-store">Setup » Client » Select client » Online store » Settings</a> and make sure that you have selected the option <strong>Enable login for every store</strong> in the line <strong>Login</strong>. This makes it possible to support several clients.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="70">4. Activating payment methods</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For heidelpay, a large variety of payment methods is available. Go to <a href="/en/payment/managing-payment-methods#20">Setup » Orders » Payment » Payment methods</a> to activate the payment methods. In addition, check the settings for <strong>Permitted payment methods</strong> in the <a href="/en/payment/managing-payment-methods#30">customer classes</a> and for <strong>Blocked payment methods</strong> in the <a href="/en/fulfilment/preparing-the-shipment#1000">shipping profiles</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="80">5. Displaying heidelpay in the Callisto online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Options</strong> submenu, you can set up a stylesheet and banner, as well as a front end link.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>heidelpay</strong>.<br>
→ The <strong>Interface</strong> tab will open.</p>
</li>
<li>
<p>Expand the <strong>Options</strong> area.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in <a href="#table-options-heidelpay">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-options-heidelpay" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. options for heidelpay</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Stylesheet and banner</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active stylesheet file</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A <strong>preview icon</strong> will be shown here, which displays the stylesheet file that was uploaded.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload stylesheet file (CSS)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Browse…​</strong> to upload a file. After saving the settings, the file will be displayed under <strong>Active stylesheet file</strong>. Only files in CSS format can be uploaded.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active banner file</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A <strong>preview icon</strong> will be shown here, which displays the banner file that was uploaded.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload banner file (PNG)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Browse…​</strong> to upload a file. After saving the settings, the file will be displayed under <strong>Active banner file</strong>. Only files in PNG format can be uploaded. The maximum size of a banner is 570 x 40 pixels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Link document</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Select link document</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the document that you would like to be displayed after clicking on the link. If you would like to link a document that is not found in this selection, then choose the option <strong>user-defined</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>"User-defined" text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the user-defined link to be displayed when selecting the option <strong>user-defined</strong> under <strong>Select link document</strong>.<br>
You can also use these text lines in order to only display the entered text in the link position, e.g. a note.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Orientation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>left</strong>, <strong>centered</strong> or <strong>right</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active link file</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A preview icon will be shown here, which displays the link file that was uploaded.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload link file (HTML)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Click on <strong>Browse…​</strong> to upload a file. After saving the settings, the file will be displayed under <strong>Active link file</strong>. Only files in HTML format can be uploaded.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pop-up window: width</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the width of the window in pixels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pop-up window: height</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the height of the window in pixels.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph subhead">
<p>CSS stylesheet</p>
</div>
<div class="paragraph">
<p>You can use the following example code for the stylesheet for heidelpay.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code data-lang="plenty" class="language-plenty hljs">Unresolved directive in &lt;stdin&gt; - include::assets/EX-EN-heidelpay-CSS.html[]</code></pre>
</div>
</div>
</div>
</div>
</main>