<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Important notes</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Payment process</span></a></li>
<li><a href="#30"><span>1.2.</span><span> SSL certificate</span></a></li>
</ul>
</li>
<li><a href="#40"><span>2.</span><span> Registering with Saferpay</span></a></li>
<li><a href="#50"><span>3.</span><span> Setting up Saferpay for Callisto</span></a></li>
<li><a href="#60"><span>4.</span><span> Activating the payment method</span></a></li>
<li><a href="#70"><span>5.</span><span> Viewing the API log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Old online store: Saferpay</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Integration only for Callisto online stores</div>
<div class="paragraph">
<p>This page only contains instructions for integrating <strong>Saferpay</strong> in Callisto online stores. The following instructions are not valid for Ceres online stores!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><a href="https://www.six-payment-services.com/en/shared/offering/products/psp/ecommerce.html" target="_blank" rel="noopener">Saferpay</a> has set the standard for e-payment solutions in German-speaking Europe and represents secure payment on the internet. Thanks to Saferpay, neither online sellers nor card holders have to be concerned about security when shopping in the internet. Worldwide, sellers know about and appreciate paying securely on the internet with Saferpay.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Important notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter provides you with important information about integrating the payment provider in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Payment process</h3>
<div class="paragraph">
<p>The customer is forwarded to Saferpay for the payment process and an iframe prompts the customer to enter their necessary data. The payment method is selected in the online store. Afterwards, the customer is forwarded directly to Saferpay and the additional content is made available in an iframe. The customer enters their data here. In other words, the data is not entered in the online store, but rather in Saferpay. Once the customer has entered and confirmed the data, they will be forwarded to the order confirmation page.</p>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. SSL certificate</h3>
<div class="paragraph">
<p>You need to have an <a href="/en/basics/admin-tasks/plentymarkets-account#ssl-certificate">SSL certificate</a> in order to correctly use the payment method.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Ask your bank</div>
<div class="paragraph">
<p>Ask your bank whether it can process payments with iframe before you integrate this payment method.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="40">2. Registering with Saferpay</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Close a <a href="https://www.six-payment-services.com/dam/downloads/contracts/116004202_CO_Saferpay_Contract_DEU_EN_active.pdf" target="_blank" rel="noopener">contract for the use of Saferpay</a> with SIX Payment Services. You will receive your access data along with the confirmation of your contract. You will need the access data for the activation in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">3. Setting up Saferpay for Callisto</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to set up the interface to Saferpay for your Callisto online store in plentymarkets.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>Saferpay</strong>.<br>
→ The <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Interface</strong> tab.</p>
</li>
<li>
<p>Expand the area <strong>Access data: Client</strong>.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in <a href="#table-setup-saferpay-interface">Table 1</a>.</p>
</li>
<li>
<p>Expand the area <strong>Settings: Client</strong>.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in <a href="#table-settings-saferpay-interface">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-setup-saferpay-interface" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. setting up the Saferpay interface</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the Saferpay account ID that you received from Saferpay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the Saferpay password that you received from Saferpay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Client (store) options</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate access data for all clients (stores)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only visible if clients (stores) were set up. Activate to apply the account settings saved for the main store by clicking on <strong>Add account</strong> for all clients (shops). This setting is dominant over the settings saved for each client. Deactivate to use separate access data for your clients (stores). Online stores that do not have account settings saved for them cannot be used with Saferpay.<br>
Go to <a href="/en/omni-channel/online-store/setting-up-clients/online-store">Setup » Client » Select client » Online store » Settings</a> and make sure that you have selected the option <strong>Enable login for every store</strong> in the line <strong>Login</strong>. This makes it possible to support several clients.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>The <strong>Interface</strong> tab contains a <strong>Settings</strong> submenu for each client (store). The available settings are described below.</p>
</div>
<table id="table-settings-saferpay-interface" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. further settings in <strong>Interface</strong> tab</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Email address for payment notification</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the email address that payment notifications should be sent to.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Close window with a time-delay when payment is received (seconds)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Once a payment has been received, a message will be displayed. Enter a time value in seconds that you would like the window to remain open, giving the customer the possibility to print the message during this time. If you do not enter a value, the window will remain open for 100 seconds (default setting). If you do not want the window to be displayed, enter <strong>0</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Query the name of the card or account holder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether the query is to be carried out or not.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language selection display during payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose whether the language selection should be displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Colours</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter hexadecimal values for the colours of the individual elements.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Font</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a font, e.g. the one that you use in your online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store) options</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Yes</strong> or <strong>No</strong>.<br>
<strong>Yes</strong> = The options that were chosen in the <strong>Colours</strong> and <strong>Font</strong> sections will also be applied to clients (stores).</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="60">4. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up and activate the Saferpay <a href="/en/payment/managing-payment-methods#20">payment method</a> in the <strong>Settings</strong> tab of the payment method. In addition, check the settings for <strong>Permitted payment methods</strong> in the <a href="/en/payment/managing-payment-methods#30">customer classes</a> and for <strong>Blocked payment methods</strong> in the <a href="/en/fulfilment/preparing-the-shipment#1000">shipping profiles</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="70">5. Viewing the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The correct data exchange, as well as the booking confirmation in Saferpay and plentymarkets, are indicated by a green bar below the words <strong>Incoming payment</strong>. In the case that an error occurs during data transmission, you will find details about the error in the API Log.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » API log » Tab: API log</strong>.</p>
</li>
<li>
<p>Select a format from the drop-down list <strong>Process</strong>.</p>
</li>
<li>
<p>Select a <strong>Date</strong> if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Click on <strong>Search</strong> to carry out the search.<br>
→ The processes will be displayed.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Depending on the type of error, the payment may be booked in Saferpay but may not be verified in plentymarkets. This will cause an erroneous booking in plentymarkets. If an error has occurred, please check your Saferpay system first and see whether the payment has truly been received. If that is the case, then you can manually correct the booking in plentymarkets. In case you are not completely sure, or if you are unable to reconstruct or solve the problem, please contact the Saferpay service or our service team.</p>
</div>
</div>
</div>
</main>