<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Important notes</span></a></li>
<li><a href="#20"><span>2.</span><span> Registering with SOFORT Überweisung</span></a></li>
<li><a href="#30"><span>3.</span><span> Setting up SOFORT Überweisung for Callisto</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>3.1.</span><span> Linking an existing project</span></a></li>
<li><a href="#60"><span>3.2.</span><span> Creating a new project using plentymarkets</span></a></li>
</ul>
</li>
<li><a href="#70"><span>4.</span><span> Activating the payment method</span></a></li>
<li><a href="#80"><span>5.</span><span> Activating the test mode</span></a></li>
<li><a href="#90"><span>6.</span><span> Importing incoming payments</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Old online store: SOFORT Überweisung</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Integration only for Callisto online stores</div>
<div class="paragraph">
<p>This page only contains instructions for integrating <strong>SOFORT Überweisung</strong> in Callisto online stores. For further information on using <strong>Sofort Überweisung</strong> in Ceres online stores, refer to the detailed information in the plugin description available in the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/SOFORT_5050" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><a href="https://www.sofort.com/eng-DE/kaeufer/su/online-zahlen-mit-sofort-ueberweisung/" target="_blank" rel="noopener">*SOFORT Überweisung</a> is the direct payment method of SOFORT GmbH. When using this payment method, the customer initiates the transfer directly from their online bank account when placing their order. A successful transfer is instantly confirmed to you as the seller. This allows you to instantly deliver stocked items and digital services - and allows the customer to receive their order even faster. Directly after the payment has been received, the order will be marked as paid in plentymarkets.</p>
</div>
<div class="paragraph">
<p>SOFORT Überweisung complies with the high security standards for online banking and offers TÜV-certified data security. Your customers neither have to register nor do they need a credit card. They can pay easily, quickly and securely from their online bank account.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Important notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once the order has been completed, the customer will see a form that includes a button. After clicking on this button, the customer will be forwarded to a page on the SOFORT Überweisung website where they can enter the necessary information. The customer will return to the online store after having entered and confirmed the data or cancelled the payment process.</p>
</div>
<div class="paragraph">
<p>In the status history of orders that have been paid with the payment method SOFORT Überweisung, a payment confirmation is saved and the orders are cleared for shipping.  The bank transfer has been executed by the customer, but the payment has not been transferred to your bank account yet. The payment confirmation entry is also saved in the payment history. If you already set up <a href="/en/payment/managing-bank-details#70">EBICS</a> in your system, the order will be marked as paid automatically after payment import. A second entry will be created in the payment history section of the order. If you do not use EBICS, you have to <a href="/en/payment/managing-payments#40">book the payment manually</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Registering with SOFORT Überweisung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to register with <a href="https://www.sofortueberweisung.de/payment/createNew/go" target="_blank" rel="noopener">SOFORT Überweisung</a> before you can set up the payment method in plentymarkets. Once you have registered, you will receive the access data that you need to save in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Setting up SOFORT Überweisung for Callisto</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When setting up the interface to SOFORT Überweisung for your Callisto online store in plentymarkets, you can either link an existing project on SOFORT Überweisung with plentymarkets or create a new project.</p>
</div>
<div class="sect2">
<h3 id="40">3.1. Linking an existing project</h3>
<div class="paragraph">
<p>If you already have created a project on SOFORT Überweisung, set up the interface to SOFORT Überweisung in plentymarkets and carry out the settings in the admin area of SOFORT Überweisung. Incoming payments will then be transferred successfully from SOFORT Überweisung to plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the SOFORT Überweisung interface:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>Sofortüberweisung.de</strong>. <br>
→ The <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Interface</strong> tab.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in <a href="#table-setup-sofort-interface">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-setup-sofort-interface" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. setting up the SOFORT Überweisung interface</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer No.;<br>
Project No.;<br>
Project password;<br>
Notification password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the information as received from SOFORT.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Designated use</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the designated use.<br>
<strong>Customer number</strong> = Transmit your customer number as the designated use.<br>
<strong>Date</strong> = Transmit the date of the transaction as the designated use.<br>
<strong>User-defined free text</strong> = Enter a text in the user-defined free text field to transmit the text as the designated use.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User-defined free text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the option <strong>User-defined free text</strong> was selected as the <strong>designated use</strong>, then enter a text for the designated use here.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>The following settings must be carried out in the admin area of the respective project on SOFORT Überweisung in order to successfully transmit incoming payments from SOFORT Überweisung to plentymarkets:[#50]</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Enter the success link for the Shop interface: <strong><a href="https://-USER_VARIABLE_0-/?result=ok&amp;ak=-USER_VARIABLE_3_URLENCODE-&amp;id=-USER_VARIABLE_1_URLENCODE-" class="bare">https://-USER_VARIABLE_0-/?result=ok&amp;ak=-USER_VARIABLE_3_URLENCODE-&amp;id=-USER_VARIABLE_1_URLENCODE-</a></strong></p>
</li>
<li>
<p>Enter the abort link for the Shop interface: <strong><a href="https://-USER_VARIABLE_0-/?result=cancel&amp;ak=-USER_VARIABLE_3_URLENCODE-&amp;id=-USER_VARIABLE_1_URLENCODE-" class="bare">https://-USER_VARIABLE_0-/?result=cancel&amp;ak=-USER_VARIABLE_3_URLENCODE-&amp;id=-USER_VARIABLE_1_URLENCODE-</a></strong><br>
→ If you are not using SSL, then only enter <strong>http</strong>.</p>
</li>
<li>
<p>Activate automatic forwarding</p>
</li>
<li>
<p>Create an email notification: <strong>Your email address</strong></p>
</li>
<li>
<p>Create HTTP notification: <strong>$IHRE_DOMAIN/plenty/api/payment_notification.php?payment=sofort_ueberweisung</strong><br>
→ If available, enter the SSL domain to transmit sensitive data via an encrypted connection.</p>
</li>
<li>
<p>Activate non-changeable parameters for <strong>amount</strong> and <strong>purpose</strong>, so that your customers cannot change these parameters during checkout.</p>
</li>
<li>
<p>Check whether the parameters <strong>Customer no.</strong> (User_id), <strong>Project no.</strong> (Project_id), <strong>Project password</strong> and <strong>Notification password</strong> are the same as in your SOFORT Überweisung account and as the ones you entered in plentymarkets. When you check this, <strong>SHA1</strong> must be selected as the hash algorithm.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="60">3.2. Creating a new project using plentymarkets</h3>
<div class="paragraph">
<p>Click on <strong>New project</strong> to create a new project. You can create new projects either in plentymarkets or in your SOFORT Überweisung account. In both cases, the projects will be saved at SOFORT Überweisung.<br>
If you <strong>manually</strong> create projects in your SOFORT Überweisung account, you need to enter the project information in plentymarkets as well.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new project:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » System settings » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>Sofortüberweisung.de</strong>. <br>
→ The <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Interface</strong> tab.</p>
</li>
<li>
<p>Click on <strong>New project</strong>.</p>
</li>
<li>
<p>Enter your data.<br>
→ Mandatory fields are marked with an <strong>*</strong>.</p>
</li>
<li>
<p>Enter a project name.</p>
</li>
<li>
<p>Click on <strong>Create</strong>.<br>
→ You will be forwarded to SOFORT Überweisung. Follow the setup wizard.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="70">4. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up and activate the <a href="/en/payment/managing-payment-methods#20">payment method</a> Sofortüberweisung.de in your plentymarkets system. As soon as these settings have been made, the customer will have the option to select SOFORT Überweisung when choosing <strong>bank transfer/cash in advance</strong> as their payment method. In this way, your customer will have the choice of either paying with a normal bank transfer or using SOFORT Überweisung. In addition, check the settings for <strong>Permitted payment methods</strong> in the <a href="/en/payment/managing-payment-methods#30">customer classes</a> and for <strong>Blocked payment methods</strong> in the <a href="/en/fulfilment/preparing-the-shipment#1000">shipping profiles</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="80">5. Activating the test mode</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The test mode allows you to carry out some dummy transactions in order to test notifications etc.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out a test transaction:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Log in to SOFORT Überweisung.</p>
</li>
<li>
<p>Open the <strong>My projects</strong> area.</p>
</li>
<li>
<p>Select a project.</p>
</li>
<li>
<p>Activate the <strong>test mode</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Place an order in your online store with the payment method SOFORT Überweisung.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Sort code for test mode</div>
<div class="paragraph">
<p>Enter one of the following sort codes if you want to use the test mode:</p>
</div>
<div class="paragraph">
<p>Germany: 88888888</p>
</div>
<div class="paragraph">
<p>Belgium: 999</p>
</div>
<div class="paragraph">
<p>Other: 00000</p>
</div>
<div class="paragraph">
<p>When entering other sort codes than the ones given above, the transaction will be transmitted even though the test mode is activated. Further information such as the account number, PIN or TAN can be made up.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Once you have finished testing, deactivate the test mode.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="90">6. Importing incoming payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Payments are transmitted by SOFORT Überweisung until they have been successfully imported into plentymarkets. Furthermore, you are able to see the status of faulty transmissions (faulty HTTP notifications) in the <strong>notification</strong> area of your SOFORT Überweisung account. From here, you can re-send failed transmissions.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Domain transfer</div>
<div class="paragraph">
<p>In the event of a domain transfer, the <a href="/en/payment/payment-providers/sofort-ueberweisung#50">settings</a> for SOFORT Überweisung need to be adjusted in the backend - the URLs will no longer be correct. The actual payment process will continue to work correctly, but payments will no longer be transferred into the system.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>