<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Important notes</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Payment process with Amazon Pay</span></a></li>
<li><a href="#30"><span>1.2.</span><span> SSL certificate</span></a></li>
</ul>
</li>
<li><a href="#40"><span>2.</span><span> Registering with Amazon Pay</span></a></li>
<li><a href="#50"><span>3.</span><span> Setting up Amazon Pay in plentymarkets</span></a></li>
<li><a href="#70"><span>4.</span><span> Activating the payment method</span></a></li>
<li><a href="#75" "=""><span>5.</span><span> Displaying Amazon Pay in the online store</span></a>
<ul class="sectlevel2">
<li><a href="#110" "=""><span>5.1.</span><span> Displaying the Amazon Pay widgets</span></a></li>
<li><a href="#120" "=""><span>5.2.</span><span> Editing ItemViewItemToBasketConfirmationOverlay</span></a></li>
<li><a href="#120" "=""><span>5.3.</span><span> Editing ItemViewBasketPreviewList</span></a></li>
<li><a href="#130" "=""><span>5.4.</span><span> Customising the Shopping cart category</span></a></li>
<li><a href="#140" "=""><span>5.5.</span><span> Customising the Log in category</span></a></li>
</ul>
</li>
<li><a href="#80"><span>6.</span><span> Automatically sending shipping confirmations</span></a></li>
<li><a href="#90"><span>7.</span><span> Automatically sending cancellations</span></a></li>
<li><a href="#100"><span>8.</span><span> Automatically sending refunds</span></a></li>
<li><a href="#150"><span>9.</span><span> Automatically reporting rejected payments</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Amazon Pay</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Pay with Amazon</strong> is a comprehensive payment solution for online sellers. Offer <strong>Pay with Amazon</strong> and enable millions of Amazon customers to shop securely on your website without re-entering their delivery and payment information. Customers can complete purchases quickly without leaving your website. The advanced option for Payment with Amazon is special because it offers pure payment processing. This means that you only transfer the necessary amount due in order to process the payment. No details about the shopping cart or item data will be transferred (see Amazon).</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Important notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter provides you with important information about integrating the payment provider in plentymarkets.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Amazon Pay and store design</div>
<div class="paragraph">
<p>Note that the following conditions must be met before integrating Amazon Pay successfully in plentymarkets:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Use of the standard design Callisto (Version 3.4 or higher)</p>
</li>
<li>
<p>Use of the individual order process</p>
</li>
<li>
<p>Safe handling of the plentymarkets CMS</p>
</li>
<li>
<p>Experience with integrating payment providers</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Pay attention to the delivery periods</div>
<div class="paragraph">
<p>If you use this payment method, then make sure that you can process your orders in 30 days or less. Otherwise they will automatically be cancelled after 30 days. If you sell items that generally take longer to process and deliver, then get in contact with the customer support provided by Amazon Pay. The deadline can be extended in individual cases.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="20">1.1. Payment process with Amazon Pay</h3>
<div class="paragraph">
<p>After the customer has added an item to the shopping cart (template: <strong>ItemViewItemToBasketConfirmationOverlay</strong>) a button is displayed (template variable: <strong>$AmazonPaymentsAdvancedButton</strong>). By clicking this button, the customer will be forwarded directly to Amazon Pay. The customer then has to log into Amazon Pay. The customer will then go through the widgets confirming the delivery address and the payment method in your online store. The customer will then go through the rest of the order process as usual. The payment by Amazon Pay will not be triggered before the order has been completed.<br>
Amazon Pay payments can also be started directly from the shopping cart, if the customer clicks on the corresponding button there. Furthermore, the customer can select Amazon Pay later when selecting the payment method during the checkout. In this case, the customer will be forwarded to the Amazon Pay page  and continues with the same process as described above.</p>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. SSL certificate</h3>
<div class="paragraph">
<p>Your online store needs to have an <a href="/en/basics/working-with-plentymarkets/plentymarkets-account#ssl-certificate">SSL certificate</a> in order for you to be able to use Amazon Pay. Several elements of this payment method are also included in the <strong>CMS</strong>. This makes it necessary to <a href="/en/omni-channel/online-store/cms#web-design-editing-the-web-design">publish the design</a> after configurations or changes have been carried out.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="40">2. Registering with Amazon Pay</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to set up a separate account for Amazon for the <strong>Amazon Pay</strong> payment method. You cannot use the Amazon Seller Central account that you created in the <strong>System » Markets » Amazon » Settings</strong> menu for this payment method. For further information about how to register with <strong>Pay with Amazon</strong>, refer to the <a href="https://payments.amazon.co.uk/help/201212200" target="_blank" rel="noopener">Amazon Pay Integration Guide</a>.</p>
</div>
<div class="paragraph">
<p>Creating a seller account usually takes about 1 to 2 weeks. This estimate includes the time needed for information to be verified. During this time, you will receive emails from Amazon Pay containing further instructions. Make sure that these emails are forwarded to the correct employee and that he or she follows the instructions in the emails to avoid any unnecessary delays.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Entering the merchant URL and the integrator URL</div>
<div class="paragraph">
<p>You have to save the merchant URL and the integrator URL <strong>your-plentystore.co.uk/plenty/api/payment_notification.php?payment=apa</strong> in Amazon Pay. Replace <strong>your-plentystore.co.uk</strong> with the address of your online store. The address of your online store can be found under <strong>Host</strong> in the <strong>System » Settings » API » Data</strong> menu. The <strong>https://</strong> protocol must be entered. Refer to the <a href="https://payments.amazon.co.uk/help/201212200" target="_blank" rel="noopener">Amazon Pay registration manual</a> for further information.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="50">3. Setting up Amazon Pay in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as follows to set up the interface to Amazon Pay in plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the interface to Amazon Pay:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>Amazon Pay</strong>.<br>
→ The <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Interface</strong> tab.</p>
</li>
<li>
<p>Expand the client.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in <a href="#table-setup-amazon-pay-interface">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-setup-amazon-pay-interface" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. Setting up the interface to Amazon Pay</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Seller ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the seller ID that you received from Amazon.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Market ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a country.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MWS Access Key ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the MWS Access Key ID that you received from Amazon.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Secret Key</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the Secret Key that you received from Amazon.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sandbox mode</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Yes</strong> = Test mode is activated in order to test the payment method.<br>
<strong>No</strong> = Test mode is deactivated. This means that the interface is active.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AddressWidget Width</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the amount of pixels in order to determine the width of the Amazon address widget. The Amazon address widget is displayed instead of a delivery address selection.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AddressWidget Height</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the amount of pixels in order to determine the height of the Amazon address widget. The Amazon address widget is displayed instead of a delivery address selection.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AddressWidget ReadOnly Width</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the amount of pixels in order to determine the width of the Amazon address widget in the order overview. The Amazon address widget in the order overview cannot be edited.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>WalletWidget Width</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the amount of pixels in order to determine the width of the Amazon payment method widget. If Amazon Pay was selected, then this widget will be displayed instead of the payment methods during the checkout. The selected payment method will be displayed to the customer.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>WalletWidget Height</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the amount of pixels in order to determine the height of the Amazon payment method widget.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>WalletWidget ReadOnly Width</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the amount of pixels in order to determine the width of the Amazon payment method widget in the order overview. The selected payment method is displayed in this widget in the order overview and cannot be edited.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Availability</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the availability.<br>
<strong>1</strong> - <strong>10</strong> = Only items available up to the selected availability can be paid with Amazon Pay.<br>
<strong>Do not check</strong> = The availability of the items will not be checked.<br>
Set the <a href="/en/item/managing-items#170">availability</a> in the tab of a variation.<br>
<strong>Important:</strong> Amazon Pay generally requires you to ship an item within a maximum of 30 days. Otherwise the payment will be cancelled.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">One account per client (store)</div>
<div class="paragraph">
<p>You must have a separate Amazon Pay account for every client. Therefore, you will find a submenu for each client in the <strong>Interface</strong> tab. Enter the individual access data for each store.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="70">4. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up and activate the Amazon Pay <a href="/en/order-processing/payment/managing-payment-methods#20">payment method</a> in the <strong>Settings</strong> tab of the payment method. In addition, check the settings for <strong>Permitted payment methods</strong> in the <a href="/en/order-processing/payment/managing-payment-methods#30">customer classes</a> and for <strong>Blocked payment methods</strong> in the <a href="/en/order-processing/fulfilment/preparing-the-shipment#1000">shipping profiles</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="75" "="">5. Displaying Amazon Pay in the online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An option to the default display of Amazon Pay in the online store, the template functions <strong>Container_CheckoutAmazonPaymentsAdvancedAddressWidget()</strong> and <strong>Container_CheckoutAmazonPaymentsAdvancedPaymentWidget()</strong> can be used to display the address and payment widgets for Amazon Pay individually in the online store. In addition, you will find multiple examples for integrating the <strong>Pay with Amazon</strong> button at the desired position in the design.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">No changes to the active design</div>
<div class="paragraph">
<p>Do not make changes to your active design. Before making changes to the design, make a backup copy so that you can restore the original state of the design.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="110" "="">5.1. Displaying the Amazon Pay widgets</h3>
<div class="paragraph">
<p>Proceed as described below to display the address and payment widgets for Amazon Pay individually in the online store.</p>
</div>
<div class="paragraph instruction">
<p>Displaying the Amazon Pay widgets in the order process:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the design’s folder, e.g. the folder for Callisto Light 3.</p>
</li>
<li>
<p>Open the category <strong>Payment &amp; shipping</strong>.</p>
</li>
<li>
<p>Click on the <strong>Description 1</strong> tab.</p>
</li>
<li>
<p>Insert the code example at a desired position.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph subhead">
<p>Code example for the Amazon Pay widgets:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;div class="row equal margin-bottom-1" data-plenty="UI.equalHeight(this, 'lg, md, sm')"&gt;

	&#123;&#37; $_apaAddress = Container_CheckoutAmazonPaymentsAdvancedAddressWidget() &#37;&#125;
	&#123;&#37; $_apaPayment = Container_CheckoutAmazonPaymentsAdvancedPaymentWidget() &#37;&#125;


	&lt;div class="col-lg-6 col-md-6 col-sm-6" data-plenty-checkout-template="MethodsOfPaymentList"&gt;
		&#123;&#37; if strlen($_apaPayment) &gt; 0 &#37;&#125;
			$_apaPayment
		&#123;&#37; else &#37;&#125;
			&#123;&#37; Container_CheckoutMethodsOfPaymentList() &#37;&#125;
		&#123;&#37; endif &#37;&#125;
	&lt;/div&gt;

	&#123;&#37; if strlen($_apaAddress) &gt; 0 &#37;&#125;
		&lt;div class="col-lg-6 col-md-6 col-sm-6" data-plenty-checkout-template="MethodsOfPaymentList"&gt;
			$_apaAddress
		&lt;/div&gt;
	&#123;&#37; endif &#37;&#125;

	&lt;div class="col-lg-6 col-md-6 col-sm-6 shipping-select" data-plenty-checkout-template="ShippingProfilesList"&gt;
		&#123;&#37; Container_CheckoutShippingProfilesList() &#37;&#125;
	&lt;/div&gt;

&lt;/div&gt;

&lt;div class="text-right"&gt;
	&lt;button class="btn btn-primary btn-lg btn-block-xs" id="goToOrderSummaryButton" data-plenty="click:Redirect.toCheckoutTab('next')"&gt;
		&lt;span&gt;Next&lt;/span&gt;&lt;span class="glyphicon glyphicon-chevron-right" aria-hidden="true"&gt;&lt;/span&gt;
	&lt;/button&gt;
&lt;/div&gt;</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="120" "="">5.2. Editing ItemViewItemToBasketConfirmationOverlay</h3>
<div class="paragraph">
<p>Proceed as described below to integrate the <strong>Pay with Amazon</strong> button at the desired position in the overlay for the shopping cart. The overlay will be displayed after the customer clicked on the <strong>Add to shopping cart</strong> button in the online store.</p>
</div>
<div class="paragraph instruction">
<p>Editing ItemViewItemToBasketConfirmationOverlay:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design</strong>.</p>
</li>
<li>
<p>Open the folder <strong>Layout » ItemView</strong>.</p>
</li>
<li>
<p>Open the template <strong>ItemViewItemToBasketConfirmationOverlay</strong>.</p>
</li>
<li>
<p>Insert the code example at a desired position.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph subhead">
<p>Code example for integrating the <strong>Pay with Amazon</strong> button in the overlay:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;a class="pull-left" style="padding: 5px 10px"&gt;
	$AmazonPaymentsAdvancedButton
&lt;/a&gt;</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="120" "="">5.3. Editing ItemViewBasketPreviewList</h3>
<div class="paragraph">
<p>Proceed as described below to integrate the <strong>Pay with Amazon</strong> button at the desired position in the shopping cart preview.</p>
</div>
<div class="paragraph instruction">
<p>Editing ItemViewBasketPreviewList:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design</strong>.</p>
</li>
<li>
<p>Open the folder <strong>Layout » ItemView</strong>.</p>
</li>
<li>
<p>Open the template <strong>ItemViewBasketPreviewList</strong>.</p>
</li>
<li>
<p>Insert the code example at a desired position.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph subhead">
<p>Code example for integrating the <strong>Pay with Amazon</strong> button in the shopping cart preview:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;div class="pull-right" style="padding-bottom: 5px;"&gt;
	&#123;&#37; CheckoutAmazonPaymentsAdvancedButton() &#37;&#125;
&lt;/div&gt;</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="130" "="">5.4. Customising the Shopping cart category</h3>
<div class="paragraph">
<p>Proceed as described below to integrate the <strong>Pay with Amazon</strong> button at the desired position in the shopping cart.</p>
</div>
<div class="paragraph instruction">
<p>Customising the Shopping cart category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the design’s folder, e.g. the folder for Callisto Light 3.</p>
</li>
<li>
<p>Open the category <strong>Shopping cart</strong>.</p>
</li>
<li>
<p>Click on the <strong>Description 1</strong> tab.</p>
</li>
<li>
<p>Insert the code example at a desired position.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph subhead">
<p>Code example for integrating the <strong>Pay with Amazon</strong> button in the shopping cart:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;div class="margin-top-1 text-right"&gt;
	&#123;&#37; CheckoutAmazonPaymentsAdvancedButton() &#37;&#125;
&lt;/div&gt;</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="140" "="">5.5. Customising the Log in category</h3>
<div class="paragraph">
<p>Proceed as described below to integrate the <strong>Pay with Amazon</strong> button at the desired position in the registration.</p>
</div>
<div class="paragraph instruction">
<p>Customising the Log in category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the design’s folder, e.g. the folder for Callisto Light 3.</p>
</li>
<li>
<p>Open the category <strong>Log in</strong>.</p>
</li>
<li>
<p>Click on the <strong>Description 1</strong> tab.</p>
</li>
<li>
<p>Insert the code example at a desired position.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph subhead">
<p>Code example for integrating the <strong>Pay with Amazon</strong> button in the log in:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;div class="col-lg-6 col-md-6 col-sm-6"&gt;
	&lt;h4&gt;Not registered yet?&lt;/h4&gt;
	&lt;hr class="margin-bottom-15"&gt;
	&lt;div class="row"&gt;
		&lt;div class="col-lg-4 col-md-4 col-sm-4"&gt;
			&lt;p&gt;
				&lt;a class="btn btn-primary btn-block" href="&#123;&#37; Link_CustomerRegistration() &#37;&#125;"&gt;&lt;span class="glyphicon glyphicon-pencil"&gt;&lt;/span&gt; Register&lt;/a&gt;
			&lt;/p&gt;
			&lt;p&gt;
				You will be able to check your orders and amend your personal details in the My Account area at any time.
			&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-lg-4 col-md-4 col-sm-4"&gt;
			&lt;p&gt;
				&lt;a class="btn btn-default btn-block" href="&#123;&#37; Link_Checkout(3) &#37;&#125;"&gt;&lt;span class="glyphicon glyphicon-briefcase"&gt;&lt;/span&gt; Order as a guest&lt;/a&gt;
			&lt;/p&gt;
			&lt;p&gt;
				As a guest, you will be able to place your order without registering. You will have to enter your personal details again if you place another order at a later date.
			&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class="col-lg-4 col-md-4 col-sm-4"&gt;
			&lt;div style="padding-bottom: 19px;"&gt;&#123;&#37; CheckoutAmazonPaymentsAdvancedButton() &#37;&#125;&lt;/div&gt;
			&lt;p&gt;
				Pay quickly and conveniently with Pay with Amazon.
			&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="80">6. Automatically sending shipping confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/basics/automation/event-procedures">event procedure</a> to automatically send shipping confirmations to Amazon when the outgoing items are booked. Booking the outgoing items and sending the shipping confirmation should not take place within the same event procedure. Otherwise, shipping of items might be confirmed before the outgoing items have been booked. Therefore, set up a separate event procedure to book the outgoing items that at the same time changes the status to 7.1, for example. Use the same status as event for the event procedure to send the shipping confirmation. In doing so, only those orders will be taken into consideration that have this status. If you have not created the status yet, go to <a href="/en/order-processing/orders/managing-sales-orders#order-status">System » Orders » Order status</a> to do so.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 2.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 2 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. event procedure for automatically booking outgoing items</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order change: Outgoing items booked</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Payment method</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Amazon Pay</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Change status</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 3.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 3 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. event procedure for automatically sending shipping confirmations to Amazon Pay</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order change: Status change</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Select status from previous event procedure.</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Payment method</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Amazon Pay</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping &gt; Send shipping confirmation to Amazon Pay</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="90">7. Automatically sending cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/basics/automation/event-procedures">event procedure</a> to automatically inform Amazon of cancellations.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 4.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 4 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. event procedure for automatically sending cancellations to Amazon Pay</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order change: Status change</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select status for <strong>cancelled orders</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Payment method</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Amazon Pay</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment methods &gt; Send cancellations to Amazon Pay</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">8. Automatically sending refunds</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Create an <strong>order status</strong> for <strong>returns</strong> from Amazon Pay. This status will indicate that the return was checked and the correct amount was refunded. Corresponding returns then have to be given this order status. Give this order status an appropriate name, e.g. <strong>Return checked</strong>. Save this order status for the event procedures described below.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 5.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 5 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. event procedure for automatically sending refunds to Amazon Pay</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order change: Status change</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the order status that you created for <strong>checked returns</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Return</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Payment method</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Amazon Pay</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment methods &gt; Send refund to Amazon Pay</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Alternatively, the refund can be created through the order. Create an order status for credit notes from Amazon Pay. This status will indicate that the credit note was checked and the correct amount was refunded. Corresponding credit notes then have to be given this order status. Give this order status an appropriate name, e.g. "credit note checked". Save this order status for the event procedures described below.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 6.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 6 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 6. event procedure for automatically sending refunds to Amazon Pay</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order change: Status change</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the status for the <strong>Credit note to Amazon Pay</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Credit note</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment methods &gt; Send refund to Amazon Pay</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="150">9. Automatically reporting rejected payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/basics/automation/event-procedures">event procedure</a> to automatically inform your customers of rejected payments. In order to inform your customers by email of rejected Amazon payments and change the status of these payments, create an <strong>order status</strong> for <strong>rejected payments</strong> by Amazon Pay or use an existing order status.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 7.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 7 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 7. event procedure for automatically reporting rejected payments by Amazon Pay</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment: Rejected</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Payment method</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Amazon Pay</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Payment status</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rejected</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Customer &gt; Send email</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select email template;<br>
Select <strong>Customer</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Change status</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the order status, e.g. <strong>[3.2] In waiting position</strong></p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>