<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Setting up arvato in plentymarkets</span></a></li>
<li><a href="#20"><span>2.</span><span> Assigning a dunning level</span></a></li>
<li><a href="#30"><span>3.</span><span> Transferring orders to arvato</span></a></li>
<li><a href="#40"><span>4.</span><span> Setting up arvato infoscore in plentymarkets</span></a></li>
<li><a href="#50"><span>5.</span><span> Displaying arvato infoscore in the online store</span></a></li>
<li><a href="#60"><span>6.</span><span> Manually carrying out a credit rating</span></a></li>
<li><a href="#70"><span>7.</span><span> FAQ</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>arvato</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong><a href="https://www.arvato.com/finance/en.html" target="_blank">arvato Financial Solutions</a></strong> is a financial solutions provider with sector-specific solutions in the areas <strong><a href="/en/order-processing/payment/arvato#10">debt collection</a></strong> and <strong><a href="/en/order-processing/payment/arvato#40">credit rating</a></strong>. On this page, you will find detailed information setting up arvato and arvato infoscore in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Setting up arvato in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to set up arvato in plentymarkets, you need to have a <strong>client number</strong>, a <strong>user name</strong> and a <strong>password</strong>. You will receive this data from arvato.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the arvato interface:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Debt collection service provider » arvato</strong>.</p>
</li>
<li>
<p>Enter the <strong>data</strong> that you received from <strong>arvato</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Assigning a dunning level</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to assign a dunning level to unpaid orders, an <strong><a href="/en/order-processing/orders/managing-sales-orders#order-status">order status</a></strong> is required. You can use one of the standard statuses or set up your own order status. The following procedure will assign a dunning level to unpaid orders.</p>
</div>
<div class="paragraph instruction">
<p>Assigning a dunning level with the procedure manager:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Procedure manager</strong>.</p>
</li>
<li>
<p>Click on the <strong>New procedure</strong> tab.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> to activate the procedure.</p>
</li>
<li>
<p>Select a time from the <strong>Execute every day at</strong> drop-down menu.</p>
</li>
<li>
<p>Enter a <strong>name</strong> for the procedure.</p>
</li>
<li>
<p>Click on the <strong>Filter</strong> tab.</p>
</li>
<li>
<p>Select the status for unpaid orders.</p>
</li>
<li>
<p>Select <strong>Enter the days</strong> from the <strong>Last status change</strong> option.<br>
→ The <strong>Days</strong> field will be shown.</p>
</li>
<li>
<p>Enter the number of days for an order in the respective status.</p>
</li>
<li>
<p>Select the option <strong>OPEN</strong> under <strong>Incoming payment</strong>.</p>
</li>
<li>
<p>Click on the <strong>Procedure</strong> tab.</p>
</li>
<li>
<p>Select the status for assigning the dunning level under <strong>Change order status</strong>.</p>
</li>
<li>
<p>Select a dunning level under <strong>Change dunning level</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Transferring orders to arvato</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can now go to the procedure manager and set up a procedure for automatically transferring specific orders to arvato. For example, you could use an order status or a dunning level to filter the orders. Doing so would allow you to transfer unpaid orders with the respective dunning level to arvato.</p>
</div>
<div class="paragraph instruction">
<p>Transferring orders to arvato with the procedure manager:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Procedure manager</strong>.</p>
</li>
<li>
<p>Click on the <strong>New procedure</strong> tab.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong> to activate the procedure.</p>
</li>
<li>
<p>Select a time from the <strong>Execute every day at</strong> drop-down menu.</p>
</li>
<li>
<p>Enter a <strong>name</strong> for the procedure.</p>
</li>
<li>
<p>Click on the <strong>Filter</strong> tab.</p>
</li>
<li>
<p>Select the status for unpaid orders.</p>
</li>
<li>
<p>Select <strong>Order</strong> as the <strong>order type</strong>.</p>
</li>
<li>
<p>Select the dunning level set with the event procedure from the <strong>Dunning level</strong> drop-down menu.</p>
</li>
<li>
<p>Click on the <strong>Procedure</strong> tab.</p>
</li>
<li>
<p>Select <strong>ACTIVE</strong> from the <strong>arvato (debt collection)</strong> drop-down menu.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Setting up arvato infoscore in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets works in cooperation with <strong>arvato infoscore</strong> to bring you a credit rating service. Once you have activated this service in plentymarkets, a credit rating will be carried out on customers who select either <strong>invoice</strong> or <strong>debit</strong> as their payment method. For further information about arvato infoscore, refer to the <a href="https://www.plentymarkets.co.uk/product/order-processing/payment-provider/arvato-infoscore/a-1724/" target="_blank"><strong>arvato Financial Solutions</strong></a> page.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the arvato infoscore interface:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Credit rating » arvato infoscore</strong>.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 1 and carry out the settings as desired.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. setting up the arvato infoscore interface</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Arvato</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select <strong>Deactivated</strong> or <strong>Activated</strong>.<br>
<strong>Deactivated</strong> = The credit rating of customers will not be checked.<br>
<strong>Activated</strong> = The credit rating of customers will be checked if all further settings, e.g. the certificate, are entered.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Identification number</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the identification number, that you received from arvato infoscore.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Data product</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Currently, <strong>traffic light colour</strong> is the only available option. After the credit rating, a response with the following traffic light colours will be sent back: <strong>red</strong>, <strong>yellow</strong> or <strong>green</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Minimal traffic light colour value</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a traffic light colour and set a risk factor.<br>
<strong>green</strong> = No negative entry/information found or one negative entry maximum.<br>
<strong>yellow</strong> = One or more moderately severe entries that have already been settled or one or more entries of low importance or one low/medium/very severe entry (meaning a deviant data record including negative characteristic).<br>
<strong>red</strong> = The person is reported as dead or There is information stored that indicates the address is risky (e.g. prisons) or More than one entry of low severity or a medium/very severe negative entry.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Delivery</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select either shipping to the <strong>invoice address only</strong> or <strong>to an extra delivery address</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Companies</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select either allowing <strong>invoice as a payment method for companies</strong>, if there are no negative entries, or prohibiting it in general.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Maximum invoice amount</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a maximum amount for the invoice. This way, the risk can be further reduced.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Save and reuse queries that were carried out</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Save and reuse queries that were carried out to reduce costs for repeated queries.<br>
<strong>Example</strong>: The payment method invoice is denied to customers during checkout.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Certificate</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the certificate, that you received from arvato infoscore.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Private key</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the private key, that you received from arvato infoscore.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Deliveries paid for with an invoice to countries others than Germany</div>
<div class="paragraph">
<p>As for now, arvato infoscore provides credit ratings for Germany only. However, you can still use the payment methods invoice and debit for other countries. On the one hand, German customers with a positive credit rating can use an invoice to pay for shipments going to foreign countries. On the other hand, if you activated arvato infoscore, then all customers who provide an invoice address outside of Germany will be rejected without a credit rating being carried out.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Displaying arvato infoscore in the online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The interface has now been set up and activated. Customers with a negative credit rating will receive the following message during the order process.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/payment/assets/DE-Einstell-Auftraege-Bonitaet-arvato02-SI.png" alt="DE Einstell Auftraege Bonitaet arvato02 SI">
</div>
<div class="title">Figure 1. arvato infoscore during the order process (example from a German store)</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">6. Manually carrying out a credit rating</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can also carry out a manual credit rating for each customer.</p>
</div>
<div class="paragraph instruction">
<p>Manually carrying out a credit rating:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Customers » Edit customers</strong>.</p>
</li>
<li>
<p>Open the customer.<br>
→ The <strong>Customer data</strong> tab will open.</p>
</li>
<li>
<p>Click on <strong>Recheck</strong> under <strong>Credit rating</strong>.<br>
→ The credit rating will be checked and the status will be displayed.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">7. FAQ</h2>
<div class="sectionbody">
<div class="paragraph instruction">
<p>I activated the credit rating. All customers from outside of Germany receive a message during the order process that the payment methods invoice and debit are not possible. Why is that?</p>
</div>
<div class="paragraph indented">
<p>arvato infoscore provides credit ratings for Germany only. This is why these payment methods are denied to all other customers. However, it is possible for a customer to have his or her order delivered to an address outside of Germany. In order to allow customers from other countries to purchase on invoice, the module has to be deactivated.[.instruction]
During the last accounting cycle, 35 customers ordered items on invoice but a notably higher number of queries have been billed. Has there been a mistake?</p>
</div>
<div class="paragraph indented">
<p>You have to keep in mind that some customers select <strong>invoice</strong> as their payment method and log in to the store, but then abort the purchase and do not send their order. Or, some customers may decide to pay with a different payment method after all.<br>
Furthermore, you can manually check the credit rating for customers who selected other payment methods. Be sure to tell your employees that every single query is subject to costs and will be added to your monthly service bill.[.instruction]
What happens if a customer slightly modifies his or her address due to the error message?</p>
</div>
<div class="paragraph indented">
<p>The payment methods invoice and debit are always tied to a certain amount of risk. We recommend that all our customers define a maximum invoice amount when applying the settings for this interface. According to arvato infoscore, slight changes of the name and the address will not have an influence on the result of the credit rating. However, if the modification is quite large and theoretically two different people could be meant, arvato infoscore will provide a report with reservation. In these cases, it is best to change the payment method to a different, more secure method. Whenever the difference is very big, arvato may not provide a report for data security reasons. This is because the chance of it being two different people is too high!</p>
</div>
</div>
</div>
</main>