<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> atriga conditions for plentymarkets</span></a></li>
<li><a href="#20"><span>2.</span><span> Registering with atriga</span></a></li>
<li><a href="#30"><span>3.</span><span> Setting up the interface to atriga</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>3.1.</span><span> Setting up atriga debt collection</span></a></li>
<li><a href="#50"><span>3.2.</span><span> Setting up the credit rating atrigapaymax</span></a></li>
</ul>
</li>
<li><a href="#60"><span>4.</span><span> Changing the validity of the checkout URL</span></a></li>
<li><a href="#70"><span>5.</span><span> Transferring orders</span></a>
<ul class="sectlevel2">
<li><a href="#_transferring_orders_manually"><span>5.1.</span><span> Transferring orders manually</span></a></li>
<li><a href="#90"><span>5.2.</span><span> Transferring orders automatically</span></a></li>
</ul>
</li>
<li><a href="#100"><span>6.</span><span> Resetting an order that was not transferred correctly</span></a></li>
<li><a href="#110" "=""><span>7.</span><span> Notifying atriga if you receive payment for a previously transferred order</span></a></li>
<li><a href="#120" "=""><span>8.</span><span> Customising the design for credit rating</span></a></li>
<li><a href="#130" "=""><span>9.</span><span> Displaying transmitted orders</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>atriga</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>It is possible to use <a href="http://gateway.atriga.com/dls/services/?DID=400005000" target="_blank" rel="noopener">atriga debt collection</a> on its own or to use atriga debt collection in combination with the credit rating <a href="http://www.atriga.de/co/atriga/paymax/paymax.html" target="_blank" rel="noopener">atrigapaymax</a> in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. atriga conditions for plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets customers don’t have to make any advance debt collection payments and they don’t incur any costs in the case of failure. They receive 100% payment in the case of success. You can get information about any detail of your debt collection processes around the clock. This information can either be made available online with the DebitManager, email, and/or RSS feed. Your debtor’s SCHUFA credit check* is included free of charge in atriga’s <a href="http://gateway.atriga.com/dls/services/?DID=400002000" target="_blank" rel="noopener">debt collection process</a>. The report provides you with a solid assessment of how your debtor is doing financially.</p>
</div>
<div class="paragraph subhead">
<p>The atriga guarantee</p>
</div>
<div class="paragraph">
<p>With atriga debt collection, no additional costs will be incurred afterwards – regardless of success or failure. If the total debt claim is paid, then you will receive 100% of your main and accessory claims including interest rates. That is why you can immediately make use of professional help, also for small invoice amounts, without risking any costs.<br>
With the help of the SCHUFA-declaration (credit insurance agency)<strong>, atriga will customise the debt collection process according to the economic situation of your debtor. This way atriga ensures that all measures that can balance your pending debt claims will be taken. If possible, these measures include e.g.: dunning letters that will be individually discussed with you and could also be sent via email, fax or text message, reporting the payment history of your debtor to the SCHUFA</strong>, skilled atriga employees and lawyers will contact the debtor by telephone, a personal visit to the debtor is possible and at last legal dunning procedures can be taken.</p>
</div>
<div class="paragraph subhead">
<p>Dunning procedure plus</p>
</div>
<div class="paragraph">
<p>If you should decide to take legal action in carrying out the dunning procedure then, with a good debtor credit rating, you will only incur costs for external advance payments (e.g. court fees, marshal’s fees), which you would have to pay in advance anyway until the debtor has paid these back.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>restricted possibilities for companies</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Registering with atriga</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Go to the atriga <a href="http://dm.atriga.de/" target="_blank" rel="noopener">DebitManager™</a> to register online for free and without any obligation. <br>
At the end of the registration process, you will receive an atriga customer number. Simply email this customer number to <a href="mailto:info@atriga.com">info@atriga.com</a>. Put the word "plentymarkets" in the subject line of this email in order to receive the conditions mentioned above. atriga will then save you as a plentymarkets customer. After being saved, you will receive a message from atriga. You are now able to set up the automatic transfer of debt collection data. <br>
atriga transfers money to your account as soon as a debtor has paid. If possible, they transfer your money the same day. However, atriga can only transfer money to you if they have information about an authorised bank account. Provide atriga with this information before you have finished the activation process. This authorised account is saved under your bank details in your DebitManager™.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Setting up the interface to atriga</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The interface is divided into 2 sections. Not only is it possible to activate debt collection by atriga, but it is also possible to activate the credit rating atrigapaymax.</p>
</div>
<div class="sect2">
<h3 id="40">3.1. Setting up atriga debt collection</h3>
<div class="paragraph">
<p>You will need your authentication code from atriga for setting up the interface. The authentication code can be found in the back end of your DebitManager™. The query for the XML interface has to be activated in order for atriga to create and display the authentication code. Carry out the following settings in plentymarkets after having copied the authentication code.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the interface to atriga debt collection:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Services » atriga</strong>.</p>
</li>
<li>
<p>Insert the copied <strong>authentication code</strong>.</p>
</li>
<li>
<p>Enter the numerical part of your <strong>customer ID</strong>.<br>
→ For example, 5555 from the customer number a-DE.0005555.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Finding the customer ID</div>
<div class="paragraph">
<p>The customer ID is part of your atriga customer number starting with the first number greater than 0. You can find the customer number in the so-called <strong>InfoPanel</strong> in the DebitManager™. For example, enter 123456 into plentymarkets if your customer number is a-DE.00123456.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="50">3.2. Setting up the credit rating atrigapaymax</h3>
<div class="paragraph">
<p>Learn how to set up the credit rating atrigapaymax. The customer’s credit is checked every time a purchase is made.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">atrigapaymax and store design</div>
<div class="paragraph">
<p>Note that the following conditions must be met before integrating atriga successfully in plentymarkets:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Use of the standard design Callisto (Version 3.4 or higher)</p>
</li>
<li>
<p>Use of the plentymarketsCMStools (Version 1.08 or higher)</p>
</li>
<li>
<p>Use of the individual order process</p>
</li>
<li>
<p>Safe handling of the plentymarkets CMS</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Setting up the credit rating atrigapaymax:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Services » atriga</strong>.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 1.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. settings for a credit rating with atrigapaymax</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Validation method</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Retrospective credit rating</strong> = Customers agree to the credit check before it is carried out. Customers who do not agree to the credit check will not be able to use the payment methods invoice, debit and credit card. You need to make a few changes to your design for the credit check. In the <strong><a href="/en/order-processing/payment/atriga#120">PageDesignPrepareMainColumn</a></strong> template, the template variables <strong>AtrigaRequireUserConfirmation</strong> and <strong>AtrigaShowValidationError</strong> must be set.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Minimum shopping cart value</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a monetary amount. The customer’s credit will be checked for purchases that equal or exceed this amount. If you do not enter anything, then the customer’s credit will be checked for purchases starting from 0 EUR.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Maximum shopping cart value</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a monetary amount. The customer’s credit will be checked for purchases that equal or are below this amount. If the shopping cart value is greater than the value entered here, then the customer’s credit will not be checked and the customer will not be able to use the payment methods invoice, debit and credit card. This entry is optional.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Differing delivery address</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Decide whether you want to permit a differing delivery address for the 3 payment methods that require the customer’s credit to be checked.<br>
<strong>permitted to invoice address only</strong> = A different delivery address will not be permitted.<br>
<strong>delivery permitted to separate delivery address</strong> = A different delivery address will be permitted.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Permitted payment methods based on credit rating</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select which payment methods should be visible for every credit rating result.<br>
<strong>Green</strong> = The payment method will be visible to customers who receive a green credit rating.<br>
<strong>Yellow</strong> = The payment method will be visible to customers who receive a yellow credit rating.<br>
<strong>Red</strong> = The payment method will be visible to customers who receive a red credit rating.<br>
Place multiple check marks if you want a payment method to be visible for more than one credit rating result.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph subhead">
<p>Payment method cannot be changed after it is selected</p>
</div>
<div class="paragraph">
<p>If atrigapaymax is activated, then registered customers will not be able to change an order’s payment method in their account. The payment method cannot even be changed if the option <strong>Permit changes to orders retroactively</strong> is set to <strong>Yes</strong> in the <strong>System » Client » Select client » Order process » Settings</strong> menu.</p>
</div>
<div class="paragraph subhead">
<p>Customers receive a negative rating if the credit check fails</p>
</div>
<div class="paragraph">
<p>Customers will receive a negative, i.e. red, credit rating if the credit check fails. Access the <strong><a href="/en/basics/data-exchange/api-log">API log</a></strong> to see whether a credit check has failed. The credit check failed if an error is listed in the response from atrigapaymax. The customer’s credit will be checked again the next time that he or she makes a purchase.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">4. Changing the validity of the checkout URL</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Debt collection service providers such as atriga receive a URL for the order overview of the order for which the dunning procedure was initiated. You will receive an error message if this URL is not valid for a long enough time, e.g. if it is only valid for 7 days. (Example: "Code: 111 The order information can no longer be retrieved with this address. Please access the order information by logging into your account with your email address and password."). In this case, increase the validity:</p>
</div>
<div class="paragraph instruction">
<p>Changing the validity:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » My Account » Settings</strong>.</p>
</li>
<li>
<p>Select a higher value for the option <strong>Validity of checkout URL</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">5. Transferring orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can transfer orders to a debt collection service manually or automatically.</p>
</div>
<div class="sect2">
<h3 id="_transferring_orders_manually">5.1. Transferring orders manually</h3>
<div id="80" class="paragraph">
<p>Use the group function to manually transfer orders to atriga’s debt collection service. Select how many orders should be transferred manually. In other words, you can still use the group function even if you only want to transfer one order.</p>
</div>
<div class="paragraph instruction">
<p>Transferring orders manually:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Select one or more orders by placing check marks.</p>
</li>
<li>
<p>Click on <strong>Group function</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Transmit to atriga (debt collection)</strong>.</p>
</li>
<li>
<p>If you work with multiple clients, then select a client from the drop-down menu.<br>
→ The orders will be transferred to the account that is used for this client.</p>
</li>
<li>
<p>Click on <strong>Apply</strong> to transmit the orders.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="90">5.2. Transferring orders automatically</h3>
<div class="paragraph">
<p>Open the <strong>Procedure manager</strong> and create a procedure to automatically transfer the desired orders to atriga’s debt collection service. Only those <strong>orders</strong> will be transferred to atriga that have an <strong>invoice</strong> or <strong>external invoice</strong> saved for them.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/payment/assets/EN-Settings-Client-Standard-Services-atriga-01.png" alt="EN Settings Client Standard Services atriga 01">
</div>
</div>
<div class="paragraph">
<p><em>Image 1: configuring a procedure for atriga</em></p>
</div>
<div class="paragraph instruction">
<p>Transferring orders automatically:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Procedures</strong>.</p>
</li>
<li>
<p>Click on the <strong>New procedure</strong> tab to define a new procedure.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> tab and select a <strong>time</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p>Enter a <strong>name</strong> for the procedure.</p>
</li>
<li>
<p>Click on the <strong>Filter</strong> tab.</p>
</li>
<li>
<p>Carry out the settings in the <strong>Filter</strong> tab corresponding to your course of business. <br>
→ Image 1 shows a useful combination of the settings in this tab.</p>
</li>
<li>
<p>In the <strong>Procedure</strong> tab, select the setting <strong>ACTIVE</strong> for <strong>atriga (debt collection)</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>If the settings are selected as shown in image 1, then all orders that are in status <strong>[3] Waiting for payment</strong> and that have already held this status for <strong>20 days</strong> will be sent to atriga. In the atriga <a href="http://dm.atriga.de/" target="_blank" rel="noopener">DebitManager™</a> you will find information about your debt collection process.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Limited to Germany</div>
<div class="paragraph">
<p>Currently, only debtors from Germany can be handed over to atriga.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">6. Resetting an order that was not transferred correctly</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An order is blocked once it is transferred to atriga. It cannot be transferred again. An exception is made if the first transfer was not successful, e.g. because the address was incorrect. In this case, you can reset this order specifically and transfer it again correctly.</p>
</div>
<div class="paragraph instruction">
<p>Resetting an order:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Handover for debt collection</strong>.</p>
</li>
<li>
<p>Select one or more orders.</p>
</li>
<li>
<p>Click on <strong>Reset orders</strong>.<br>
→ You can transfer the order again.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="110" "="">7. Notifying atriga if you receive payment for a previously transferred order</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If an order has already been transferred to atriga, then information about any subsequently received payments will not be communicated to atriga. Unfortunately, the atriga interface does not provide a way to do this. In this case, notify atriga directly that the order was paid for.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="120" "="">8. Customising the design for credit rating</h2>
<div class="sectionbody">
<div class="paragraph">
<p>With the template variables <strong>AtrigaRequireUserConfirmation</strong> and <strong>AtrigaShowValidationError</strong> you can integrate a checkbox which allows your customer to accept a credit rating.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">No changes to the active design</div>
<div class="paragraph">
<p>Do not make changes to your active design. Before making changes to the design, make a backup copy so that you can restore the original state of the design.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Customising the design for credit rating:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design</strong>.</p>
</li>
<li>
<p>Open the folder <strong>Layout » PageDesign</strong>.</p>
</li>
<li>
<p>Click on <strong>PageDesignPrepareMainColumn</strong>.</p>
</li>
<li>
<p>Search for the template variables <strong>AtrigaRequireUserConfirmation</strong> and <strong>AtrigaShowValidationError</strong>.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 2.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. template variables for credit rating</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AtrigaRequireUserConfirmation</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>true</strong> = Displays a checkbox in the checkout which the customer can activate to accept a credit rating. This setting is recommended.<br>
<strong>false</strong> = The checkbox for accepting credit rating in the checkout will not be displayed.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AtrigaShowValidationError</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>true</strong> = If the payment method selected by the customer is rejected during credit rating, an error message is displayed. When clicking on <strong>More information</strong> a window will open with detailed information about the payment method rejected by atriga.<br>
<strong>false</strong> = The window with detailed information about the payment method rejected by atriga will open immediately after the credit rating was performed. The previous error message is skipped.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="130" "="">9. Displaying transmitted orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>An overview of all orders transmitted to atriga can be displayed in the <strong>Orders » Handover for debt collection</strong> menu in the <strong>atriga (debt collection)</strong> area.</p>
</div>
</div>
</div>
</main>