<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Important notes</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Payment process with BillSAFE</span></a></li>
<li><a href="#30"><span>1.2.</span><span> Invoice and bank details</span></a></li>
</ul>
</li>
<li><a href="#40"><span>2.</span><span> Registering with BillSAFE</span></a></li>
<li><a href="#50"><span>3.</span><span> Setting up BillSAFE in plentymarkets</span></a></li>
<li><a href="#55"><span>4.</span><span> Activating payment methods</span></a></li>
<li><a href="#60"><span>5.</span><span> Setting up shipping service providers</span></a></li>
<li><a href="#70"><span>6.</span><span> Automatically sending shipping confirmations</span></a></li>
<li><a href="#80"><span>7.</span><span> Automatically sending returns</span></a></li>
<li><a href="#90"><span>8.</span><span> Automatically sending cancellations</span></a></li>
<li><a href="#100"><span>9.</span><span> Customising the invoice template for BillSAFE orders</span></a></li>
<li><a href="#110"><span>10.</span><span> Reporting a direct payment</span></a></li>
<li><a href="#120"><span>11.</span><span> Sending a credit note</span></a></li>
<li><a href="#130"><span>12.</span><span> Reporting payment prolongation</span></a></li>
<li><a href="#140"><span>13.</span><span> Retrieving status history</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>BillSAFE</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong><a href="http://www.billsafe.de/" target="_blank">BillSAFE</a></strong> is a provider for payment on invoice in online trade. Meanwhile, payment on invoice of BillSAFE was integrated with PayPal. Payment on invoice is now part of the new PayPal product <strong><a href="/en/order-processing/payment/paypal-plus">PayPal PLUS</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Important notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter provides you with important information about integrating the payment provider in plentymarkets. After you selected a payment method, pre-validations will be carried out.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Payment process with BillSAFE</h3>
<div class="paragraph">
<p>The payment process varies depending on the respective BillSAFE payment method.</p>
</div>
<div class="paragraph subhead">
<p>Rechnungskauf - 1500 (payment on invoice)
An additional button for completing the sale will be displayed in the order overview. You can change the button as you wish under <strong>CMS » Web design » Buttons » BillSAFE Rechnungskauf</strong> (payment on invoice). After clicking on the button, the customer is forwarded to BillSAFE where the data for BillSAFE must be confirmed. After data confirmation, the order is completed and created. The customer will be forwarded to the order confirmation page.</p>
</div>
<div class="paragraph subhead">
<p>Rechnungskauf Telefon - 1502 (payment on invoice: telephone)
This payment method is only available to the seller and can therefore only be selected in the backend. After this payment method was selected, the seller has to complete the purchase for the customer in the checkout process. After clicking on the button, the seller will be forwarded to BillSAFE. The seller has to call BillSAFE, complete the process with BillSAFE and enter the name of the person he or she talked to.</p>
</div>
<div class="paragraph subhead">
<p>Rechnungskauf Onsite - 1504 (payment on invoice: onsite)
The button <strong>Place order</strong> will be displayed in the order overview. In contrast to Rechnungskauf - 1500 (payment on invoice), the customer will not be redirected to BillSAFE after having clicked on this button. This way, the customer will complete the order process within your online store.</p>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. Invoice and bank details</h3>
<div class="paragraph">
<p>When an order is received, BillSAFE transfers the bank details to your plentymarkets system. These bank details will then automatically be used on the invoice when it is generated.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="40">2. Registering with BillSAFE</h2>
<div class="sectionbody">
<div class="paragraph">
<p>BillSAFE is only available for sellers who are already registered for the service. New customers cannot register with BillSAFE anymore. Meanwhile, payment on invoice of BillSAFE was integrated with PayPal. Payment on invoice is now part of the new PayPal product <strong><a href="/en/order-processing/payment/paypal-plus">PayPal PLUS</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">3. Setting up BillSAFE in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as follows to set up the interface to BillSAFE in plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the interface to BillSAFE:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Payment » Payment methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>DE</strong>.</p>
</li>
<li>
<p>Click on <strong>BillSAFE</strong>.<br>
→ The <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Expand the client.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. setting up the interface to BillSAFE</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Merchant-ID;</strong><br>
<strong>Merchant License;</strong><br>
<strong>Public Key</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the information as received from BillSAFE.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Company logo</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Save an icon or logo of your online store to be displayed in the BillSAFE checkout process.<br>
Format: gif, jpg or png.<br>
Maximum size: 130 x 60 px.<br>
<em><strong>Important</strong></em>: The company logo is a mandatory entry.<br>
The number <strong>0</strong> with underscore in the file name is automatically assigned and used by the plentymarkets system.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate test mode</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate the test mode and check the BillSAFE functions before working live with the system.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Minimum order value</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the minimum order value that has to be reached.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Maximum order value</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the maximum order value that is permitted.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p><strong>Arranged BillSAFE payment surcharges</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment surcharge 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter a payment surcharge in the <strong>Settings</strong> tab. Use the option <strong>Domestic (surcharge)</strong>. The surcharge will be displayed here after saving the settings.<br>
<em><strong>Important</strong></em>: You have to agree on the payment surcharges with BillSAFE. Surcharges which are too high or which have not been arranged with BillSAFE will result in errors or will interrupt your customers' purchase process.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="55">4. Activating payment methods</h2>
<div class="sectionbody">
<div class="paragraph">
<p>For BillSAFE, multiple payment methods are available. Go to <strong><a href="/en/order-processing/payment/managing-payment-methods#20">Settings » Orders » Payment » Payment methods</a></strong> to activate the payment methods. In addition, check the settings for <strong>Permitted payment methods</strong> in the <strong><a href="/en/order-processing/payment/managing-payment-methods#30">customer classes</a></strong> and for <strong>Blocked payment methods</strong> in the <strong><a href="/en/order-processing/fulfilment/preparing-the-shipment#1000">shipping profiles</a></strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Payment on invoice plus customer validation via telephone</div>
<div class="paragraph">
<p>The seller uses BillSAFE to process payments over the phone.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="60">5. Setting up shipping service providers</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up <strong><a href="/en/order-processing/fulfilment/preparing-the-shipment#700">shipping service providers</a></strong> for BillSAFE. The BillSAFE interface requires a shipping service provider which has to be authorised by BillSAFE. These are: DP, DHL, DPD, UPS, GLS, Hermes, TNT, FEDEX.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="70">6. Automatically sending shipping confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Only create the event procedures for the <strong>payment method BillSAFE</strong>. Otherwise unintended messages could be triggered. If you select multiple payment methods in the <strong>Filter</strong> tab, then the message that was triggered for BillSAFE will also be sent to all of the other payment providers that were selected. Set up an <a href="/en/basics/automation/event-procedures"><strong>event procedure</strong></a> to automatically send shipping confirmations when the outgoing items are booked.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Event procedures</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 2.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 2 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. event procedure for sending automatic shipping confirmations to BillSAFE</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order change: Outgoing items booked</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Payment method</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment on invoice with BillSAFE</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Shipping &gt; Send shipping confirmation to BillSAFE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="80">7. Automatically sending returns</h2>
<div class="sectionbody">
<div class="paragraph">
<p>There are three ways to report a <strong>return</strong> to BillSAFE. You could either report a return to BillSAFE when a return was created, when the return is set to a specific status or when a credit note is set to a specific status. However, only set up one event procedure to automatically report returns to BillSAFE. Set up an <a href="/en/basics/automation/event-procedures"><strong>event procedure</strong></a> to automatically send returns to BillSAFE. For further information about creating returns, refer to the <strong><a href="/en/order-processing/orders/managing-sales-orders#return">Return</a></strong> page of the manual.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Event procedures</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 3.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 3 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. event procedure for sending automatic returns to BillSAFE</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order generation: New return</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Return</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Payment method</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment on invoice with BillSAFE</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Return &gt; Send return to BillSAFE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph subhead">
<p>Reporting a return when the status changes
Instead of reporting a return to BillSAFE when creating a new return, it is possible to use the event <strong>Status change</strong> to report a return. Use this event in order to report checked returns only to BillSAFE or when you want to report a return to BillSAFE when a credit note was created. To do so, create an <strong>order status</strong> for BillSAFE returns or for BillSAFE credit notes and select this status as an event in the event procedure.<br>
If you want to report a return when a credit note was created, you still have to create a return for the order. In this case, carry out the steps in the following order:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Create a return for the order</p>
</li>
<li>
<p>Create a credit note for the return</p>
</li>
<li>
<p>Set the credit note’s status that triggers the event procedure</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Only set up one event procedure to report returns to BillSAFE.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="90">8. Automatically sending cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/basics/automation/event-procedures"><strong>event procedure</strong></a> to automatically send cancellations to BillSAFE.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Orders » Event procedures</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 4.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 4 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. event procedure for sending automatic cancellations to BillSAFE</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Event</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order change: Status change</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the status for cancellations.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 1</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Order type</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Filter 2</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Order &gt; Payment method</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Payment on invoice with BillSAFE</strong></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Procedure</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Return &gt; Send return to BillSAFE</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">9. Customising the invoice template for BillSAFE orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you use BillSAFE and you generate invoices for the orders that are paid for with BillSAFE invoices, then make sure to display BillSAFE’s bank details on the invoice rather than your own bank details. This is done automatically with a payment instruction. Proceed as described below to use your own <strong><a href="/en/order-processing/orders/order-documents#170 PDF template">[order-processing/orders/order-documents#170 PDF template]</a></strong>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Respect the payment instruction width</div>
<div class="paragraph">
<p>In order to display the bank details of BillSAFE correctly on your invoice, save a width of 120 millimetres for the payment instruction in the <strong>Settings » Client (store) » Open store » Locations » Open location » Documents » Invoice</strong> menu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Using own PDF template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Settings » Client (store) » Open store » Locations » Open location » Documents » Invoice</strong>.</p>
</li>
<li>
<p>Click on the <strong>PDF template</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>New template</strong> tab.</p>
</li>
<li>
<p>Select <strong>BillSAFE</strong> from the drop-down menu to save the template for BillSAFE.</p>
</li>
<li>
<p>Use the <strong>File</strong> area to select the PDF file on your computer.</p>
</li>
<li>
<p>Click on <strong>Open</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The PDF file will be uploaded and listed in the <strong>Templates</strong> tab.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Before sending invoices to customers, find out whether customers already receive invoices from BillSAFE. In other words, make sure the customer does not receive 2 invoices.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="110">10. Reporting a direct payment</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If the invoice amount was incorrectly sent to you instead of to BillSAFE, then you can directly report this to BillSAFE. If you want to use the system to report a <strong>direct payment to BillSAFE</strong>, then the BillSAFE interface data has to be saved for the <strong>default store</strong>. This is true even if the payment method was only activated for a client (store).</p>
</div>
<div class="paragraph instruction">
<p>Reporting a direct payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the BillSAFE order.<br>
→ The <strong>Overview</strong> tab will open.</p>
</li>
<li>
<p>Open the <strong>Payment</strong> tab.</p>
</li>
<li>
<p>Under <strong>Inform BillSAFE about a direct payment that was received</strong>, enter the invoice amount.</p>
</li>
<li>
<p>Click on <strong>Report direct payment</strong>.<br>
→ The invoice amount will be reported.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="120">11. Sending a credit note</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Individual <strong>credit note amounts</strong> can be reported to BillSAFE.</p>
</div>
<div class="paragraph instruction">
<p>Sending a credit note:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the BillSAFE order.<br>
→ The <strong>Overview</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Under <strong>Send credit note to BillSAFE</strong>, enter the amount.</p>
</li>
<li>
<p>Click on <strong>Send credit note</strong>.<br>
→ The credit note amount will be sent.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="130">12. Reporting payment prolongation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can report to BillSAFE that the payment will be <strong>prolonged</strong> between <strong>1</strong> and <strong>10</strong> days. This is useful, e.g. if the purchaser has let you know that he or she will return an item, but you have not yet received the item in question. By using the payment prolongation, you can postpone or pause the dunning procedure.</p>
</div>
<div class="paragraph instruction">
<p>Reporting payment prolongation:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the BillSAFE order.<br>
→ The <strong>Overview</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Under <strong>BillSAFE payment prolongation</strong>, enter a value between 1 and 10.</p>
</li>
<li>
<p>Click on <strong>Report payment prolongation</strong>.<br>
→ The payment prolongation will be reported.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="140">13. Retrieving status history</h2>
<div class="sectionbody">
<div class="paragraph">
<p><strong>Events</strong>, <strong>prolonged payments</strong>, <strong>newly created invoices</strong> and reported <strong>credit notes</strong> are all logged in the order overview.</p>
</div>
<div class="paragraph instruction">
<p>Retrieving status history:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the BillSAFE order.<br>
→ The <strong>Overview</strong> tab will open.</p>
</li>
<li>
<p>Open the <strong>Status history</strong> tab.<br>
→ An overview of all logged events will be displayed.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Payment rejected by BillSAFE - What now?</div>
<div class="paragraph">
<p>If BillSAFE <strong>rejects</strong> a payment, then the payment method will be switched to <strong>cash in advance</strong> (requirement by BillSAFE) - a message will also be displayed in the order history.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>