<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Important notes</span></a></li>
<li><a href="#20"><span>2.</span><span> Registering with BitPay</span></a></li>
<li><a href="#30"><span>3.</span><span> Setting up BitPay in plentymarkets</span></a></li>
<li><a href="#40"><span>4.</span><span> Activating the payment method</span></a></li>
<li><a href="#50"><span>5.</span><span> Viewing the API log</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>BitPay</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>BitPay is a leading payment service provider specialising in the peer-to-peer virtual currency Bitcoin. BitPay provides for instantaneous transactions from anywhere in the world with no risk of fraud or chargebacks.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Important notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter provides you with important information about integrating the payment provider in plentymarkets.</p>
</div>
<div class="paragraph subhead">
<p>Payment process</p>
</div>
<div class="paragraph">
<p>Once the order has been placed, the customer will receive a message asking him or her to click on a link and make the payment. The customer will be forwarded to the BitPay website after having clicked on the link. The customer has to enter the necessary data for the payment. Once the customer has entered and confirmed the data, he or she will be forwarded to the order confirmation page.</p>
</div>
<div class="paragraph subhead">
<p>Manual payment import</p>
</div>
<div class="paragraph">
<p>BitPay payments will not be automatically imported into plentymarkets. BitPay payments must be <strong><a href="/en/order-processing/payment/managing-payments#40">booked manually</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Registering with BitPay</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to register with BitPay before you can set up the payment method in plentymarkets. <a href="https://bitpay.com/start" target="_blank" rel="noopener">Contact</a> the payment provider in order to complete the registration process. You will then receive the necessary information as well as the access data that you need for the configuration in plentymarkets.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Setting up BitPay in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to set up the interface to BitPay.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the interface to BitPay:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>BitPay</strong>.<br>
→ The <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Interface</strong> tab.</p>
</li>
<li>
<p>Expand the client.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. setting up the interface to BitPay</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ApiKey</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the ApiKey from BitPay. The <a href="https://bitpay.com/api-keys" target="_blank" rel="noopener">ApiKey</a> can be generated after having registered with BitPay.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Email notification to</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the email address that payment notifications should be sent to.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Data transfer rate</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select the data transfer rate.<br>
<strong>low</strong> = low transfer rate<br>
<strong>medium</strong> = medium transfer rate<br>
<strong>high</strong> = high transfer rate</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate test mode</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Activate the test mode and check the BitPay functions before working live with the system.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Client (store) options</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate access data for all clients (stores)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Only visible if clients (stores) were set up. Activate to apply the account settings saved for the main store by clicking on <strong>Add account</strong> for all clients (shops). This setting is dominant over the settings saved for each client. Deactivate to use separate access data for your clients (stores). Online stores that do not have account settings saved for them cannot be used with BitPay.<br>
Go to <strong><a href="/en/omni-channel/online-store/setting-up-clients/online-store">System » Client » Select client » Online store » Settings</a></strong> and make sure that you have selected the option <strong>Enable login for every store</strong> in the line <strong>Login</strong>. This makes it possible to support several clients.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="40">4. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up and activate the BitPay <strong><a href="/en/order-processing/payment/managing-payment-methods#20">payment method</a></strong> in the <strong>Settings</strong> tab of the payment method. In addition, check the settings for <strong>Permitted payment methods</strong> in the <strong><a href="/en/order-processing/payment/managing-payment-methods#30">customer classes</a></strong> and for <strong>Blocked payment methods</strong> in the <strong><a href="/en/order-processing/fulfilment/preparing-the-shipment#1000">shipping profiles</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Viewing the API log</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the rare case that an error occurs during data transmission, you will find details about the corresponding error in the API Log. Depending on the type of error, the payment may be booked in BitPay but may not be verified in plentymarkets. This will cause an erroneous booking in plentymarkets.</p>
</div>
<div class="paragraph instruction">
<p>Viewing the API log:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data exchange » API log » Tab: API log</strong>.</p>
</li>
<li>
<p>Select a format from the drop-down menu <strong>Process</strong>.</p>
</li>
<li>
<p>Select a <strong>Date</strong> if you only want to see entries for a specific day.</p>
</li>
<li>
<p>Click on <strong>Search</strong> to carry out the search.<br>
→ The processes will be displayed.</p>
</li>
</ol>
</div>
</div>
</div>
</main>