<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Supported currencies</span></a></li>
<li><a href="#20"><span>2.</span><span> Currency conversion</span></a></li>
<li><a href="#30"><span>3.</span><span> Specifying the system currency</span></a></li>
<li><a href="#40"><span>4.</span><span> Displaying the currency symbol in the order process</span></a></li>
<li><a href="#60"><span>5.</span><span> Specifying the standard currency for the online store</span></a></li>
<li><a href="#70"><span>6.</span><span> Customising the currency displayed in the online store</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Configuring currencies</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>You can work with different currencies in plentymarkets. This is useful if you sell your items in several different countries. This page describes the currency settings that relate to all of the stores in your plentymarkets system. In addition, further currency settings relate to individual stores. This page also teaches you how to insert template variables under <a href="/en/omni-channel/online-store/setting-up-clients/cms#web-design">CMS » Web design</a> so that your customers can switch from one currency to another.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Supported currencies</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The following currencies are currently supported in plentymarkets:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. currencies in plentymarkets</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">ISO</th>
<th class="tableblock halign-left valign-top">Currency</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AED</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>United Arab Emirates dirham</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ARS</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Argentine peso</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>AUD</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Australia, Australian dollar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>BGN</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bulgaria, Bulgarian lev</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>BHD</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bahraini dinar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>BRL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Brazil, Brazilian real, plural: Reais</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CAD</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Canada, Canadian dollar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CHF</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Switzerland, Swiss franc</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CNY</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>People’s Republic of China, Renminbi</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CZK</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Czech Republic, Czech koruna</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>DKK</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Denmark, Danish krone</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>EUR</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Euro</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>GBP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Great Britain, pound sterling</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>HKD</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hong Kong dollar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>HRK</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Croatian kuna</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>HUF</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hungary, forint</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>IDR</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Indonesian rupiah</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>INR</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>India, Indian rupee</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>JPY</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Japan, Japanese yen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MXN</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mexico, Mexican peso</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>MYR</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Malaysian ringgit</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>NOK</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Norway, Norwegian krone</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>NZD</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>New Zealand dollar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PHP</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Philippine peso</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>PLN</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Poland, zloty</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>QAR</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Qatari riyal</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>RON</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Romania, Romanian leu</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>RUB</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Russian Federation, ruble</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SEK</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sweden, Swedish krona</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>SGD</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Singapore dollar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>THB</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Thai baht</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>TRY</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Turkey, Turkish lira</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>TWD</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>New Taiwan dollar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>UAH</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ukrainian hryvnia</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>USD</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>USA, US dollar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>VND</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Vietnamese dong</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>XCD</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eastern Caribbean dollar</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ZAR</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>South African rand</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Currency conversion</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <a href="/en/item/managing-items#870">Sales prices</a> menu, you activate the <strong>Currency: Live conversion</strong> option to convert the store currency into foreign currencies. Additionally, go to <strong>System » Orders » Payment » Currencies</strong> and configure the currency settings. To do so, proceed as described below.</p>
</div>
<div class="paragraph instruction">
<p>Currency conversion:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Currencies</strong>.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in <a href="#table-currency-settings">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-currency-settings" class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Currency settings</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standard currency</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Select a <a href="/en/order-processing/payment/currencies#30">system currency</a> from the drop-down list.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Automatically update conversion factors daily</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>This option specifies whether or not the conversion factors should automatically be updated on a daily basis.<br>
<strong>Yes</strong> = The conversion factors will automatically be updated overnight. Furthermore, a new option will appear directly below this field. The option is called <strong>Last automatic update</strong> (see next option).<br>
<strong>No</strong> = A <strong>reload icon</strong> will be displayed for each currency. This icon can be used to manually update the conversion factors any time.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Last automatic update</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Display the last update of the conversion factors. This field is only visible if the option <strong>Automatically update conversion factors daily</strong> was set to <strong>Yes</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Conversion factor for standard currency into EUR, USD, CHF…​</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>When opening the menu, you will see that there are already exchange rates, but that they may need to be updated. Click on the <strong>reload icon</strong> to have the new exchange rate calculated. Alternatively, set the option <strong>Automatically update conversion factors daily</strong> to <strong>Yes</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="30">3. Specifying the system currency</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you work with different currencies, then you will have to define one currency as the standard currency for the system. This currency is the default currency if no other is selected. The system’s standard currency is <strong>EUR</strong> (Euro).</p>
</div>
<div class="paragraph">
<p>In plentymarkets, orders are always created in the standard currency. Each order shows which currency was selected by the customer. If an order was not made in the standard currency, then the current exchange rate is also saved with the order. These values can be used to analyse the order data any time or they can be used e.g. for automatic notifications.</p>
</div>
<div class="paragraph instruction">
<p>Specifying the system currency:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Currencies</strong>.</p>
</li>
<li>
<p>Select a currency under <strong>Standard currency</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>This setting is not necessarily identical to the currency <a href="/en/order-processing/payment/currencies#70">displayed in your online store</a>. A different standard currency can be defined for each store and language. Go to <strong>System » Client » Select client » Online store » Currency</strong> to carry out this setting.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Displaying the currency symbol in the order process</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Select whether currencies are to be displayed as ISO codes or as symbols in the online store. For example, euro would be displayed with the ISO code <strong>EUR</strong> or with the symbol <strong>€</strong>. This setting controls how the currency is displayed during the <strong>order process</strong> and in the <strong>My account</strong> area. <a href="/en/order-processing/payment/currencies#70">Template variables and functions</a> are used to display the currency in other areas of the online store.</p>
</div>
<div class="paragraph instruction">
<p>Displaying the currency symbol in the order process:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Online store » Currency</strong>.</p>
</li>
<li>
<p>Select the option <strong>Symbol</strong> from the <strong>Symbol</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">5. Specifying the standard currency for the online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you offer different languages for your online store, you can specify a standard currency for every language. If you work with several clients (stores), then you can carry out the settings for each store individually. If you want to carry out these settings for a different store, then replace the menu point <strong>Standard</strong> with the name of the store.</p>
</div>
<div class="paragraph instruction">
<p>Specifying the standard currency for the online store:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Online store » Currency</strong>.</p>
</li>
<li>
<p>Select a standard currency for each language of the online store under <strong>Standard currency</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="70">6. Customising the currency displayed in the online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can allow your customers to switch from one currency to another. This is useful, e.g. if you run a German store and you sell your items in Germany with the currency EUR and in Switzerland with the currency CHF. The following template functions make it possible to switch from one currency to another:</p>
</div>
<div class="paragraph">
<p><strong>$Link_Currency(EUR)</strong><br>
<strong>$Link_Currency(CHF)</strong><br>
<strong>$Link_Currency(USD)</strong></p>
</div>
<div class="paragraph">
<p>These are inserted with the following codes:</p>
</div>
<div class="paragraph">
<p><strong>&lt;a href="$Link_Currency(EUR)"&gt;EUR&lt;/a&gt;</strong><br>
<strong>&lt;a href="$Link_Currency(CHF)"&gt;CHF&lt;/a&gt;</strong><br>
<strong>&lt;a href="$Link_Currency(USD)"&gt;USD&lt;/a&gt;</strong></p>
</div>
<div class="paragraph instruction">
<p>Inserting template functions:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design</strong>.</p>
</li>
<li>
<p>Open the folder <strong>Layout » PageDesign</strong>.</p>
</li>
<li>
<p>Open a template, e.g. <strong>PageDesignContent</strong>.</p>
</li>
<li>
<p>Copy the desired code above and insert it into the desired location within the template.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Replace currency symbols</div>
<div class="paragraph">
<p>If you previously worked with currency symbols, then replace them with the template variable <strong>$Currency</strong>. This template variable represents the currency currently selected in the online store.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>