<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Important notes</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Payment process</span></a></li>
<li><a href="#30"><span>1.2.</span><span> SSL certificate</span></a></li>
<li><a href="#40"><span>1.3.</span><span> Available ExperCash payment methods</span></a></li>
<li><a href="#50"><span>1.4.</span><span> Currencies</span></a></li>
</ul>
</li>
<li><a href="#60"><span>2.</span><span> Registering with ExperCash</span></a></li>
<li><a href="#70"><span>3.</span><span> Setting up ExperCash in plentymarkets</span></a></li>
<li><a href="#80"><span>4.</span><span> Activating the payment method</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>ExperCash</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In April 2016, ExperCash GmbH merged into MasterCard Payment Gateway Services Client Finance Ltd. ExperCash is a payment provider for complete financial supply chain management. ExperCash payment solutions assist online shops in handling all processes relating to their payment transactions.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Important notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter provides you with important information about integrating the payment provider in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Payment process</h3>
<div class="paragraph">
<p>The payment method is selected in the online store. Afterwards, the customer is forwarded directly to ExperCash. The additional content is made available in an iframe. The customer enters his or her data here. In other words, the data is not entered in the online store, but rather in ExperCash. Once the customer has entered and confirmed the data, he or she will be forwarded to the order confirmation page. The ExperCash iframe currently supports the following languages: German, English, French, Italian and Spanish. The language that the customer selected in the checkout will automatically be used for payment processing with ExperCash.</p>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. SSL certificate</h3>
<div class="paragraph">
<p>You need to have an <a href="/en/basics/working-with-plentymarkets/plentymarkets-account#ssl-certificate">SSL certificate</a> in order to correctly use the payment method.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Ask your bank</div>
<div class="paragraph">
<p>Ask your bank whether it can process payments with iframe before you integrate this payment method.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="40">1.3. Available ExperCash payment methods</h3>
<div class="paragraph">
<p>Below you will find an overview of the ExperCash payment methods that are available for plentymarkets. They are displayed along with the corresponding System ID in parentheses.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Giropay (820)</p>
</li>
<li>
<p>Credit card (850)</p>
</li>
<li>
<p>Credit card authorisation/reservation (840)</p>
</li>
<li>
<p>Debit (810)</p>
</li>
<li>
<p>Sofortbanking (830)</p>
</li>
<li>
<p>Payment method selection by the end customer (800)</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="50">1.4. Currencies</h3>
<div class="paragraph">
<p>All amounts will be converted into the online store’s standard currency before payment takes place. All end customers pay in this currency. A separate contract has to be made with ExperCash for credit card payments in each individual currency. This is why plentymarkets always converts into the standard currency of the online store.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="60">2. Registering with ExperCash</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Register with ExperCash in order to activate it in plentymarkets. To do so, contact MasterCard Payment Gateway Services Client Finance Ltd. via email to <a href="mailto:service_mpgs_dach@mastercard.com">service_mpgs_dach@mastercard.com</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="70">3. Setting up ExperCash in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to set up the interface to ExperCash.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the interface to ExperCash:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>DE</strong>.</p>
</li>
<li>
<p>Click on <strong>ExperCash</strong>.<br>
→ The <strong>Interface</strong> tab will open.</p>
</li>
<li>
<p>Expand the client.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. setting up the interface to ExperCash</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Pop-up ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the access identification for the store, that you received from ExperCash.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Authorisation key</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the iframe authorisation key, that you received from ExperCash.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>CSS URL (optional)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Customise the appearance of the ExperCash iframe with the help of a CSS file. If possible, try to use an https URL.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Profile ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Enter the profile number. Enter <strong>1</strong> if you are not sure. This value is usually applicable since there must be at least one profile.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><div><div class="paragraph">
<p>Client (store) options</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Activate access data for all clients (stores)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Only visible if clients (stores) were set up. Activate to apply the account settings saved for the main store by clicking on <strong>Add account</strong> for all clients (shops). This setting is dominant over the settings saved for each client. Deactivate to use separate access data for your clients (stores). Online stores that do not have account settings saved for them cannot be used with ExperCash.<br>
Go to <a href="/en/omni-channel/online-store/setting-up-clients/online-store">System » Client » Select client » Online store » Settings</a> and make sure that you have selected the option <strong>Enable login for every store</strong> in the line <strong>Login</strong>. This makes it possible to support several clients.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="80">4. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up and activate the ExperCash <a href="/en/order-processing/payment/managing-payment-methods#20">payment methods</a> in the <strong>Settings</strong> tab of the payment methods. In addition, check the settings for <strong>Permitted payment methods</strong> in the <a href="/en/order-processing/payment/managing-payment-methods#30">customer classes</a> and for <strong>Blocked payment methods</strong> in the <a href="/en/order-processing/fulfilment/preparing-the-shipment#1000">shipping profiles</a>.</p>
</div>
</div>
</div>
</main>