<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Searching for a payment method</span></a></li>
<li><a href="#20"><span>2.</span><span> Setting up a payment method</span></a></li>
<li><a href="#25"><span>3.</span><span> Specifying the default payment method</span></a></li>
<li><a href="#30"><span>4.</span><span> Permitting the payment method in a customer class</span></a></li>
<li><a href="#50"><span>5.</span><span> Offering a discount based on the method of payment</span></a></li>
<li><a href="#40"><span>6.</span><span> Non-contract payment methods</span></a></li>
<li><a href="#60"><span>7.</span><span> Shipping without payment</span></a></li>
<li><a href="#70"><span>8.</span><span> Payment methods for markets</span></a></li>
<li><a href="#80"><span>9.</span><span> Rounding differences</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Managing payment methods</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this page, you will find detailed information setting up payment methods. You also find an overview of all non-contract payment methods, e.g. <strong>invoice</strong> or <strong>cash in advance</strong>, as well as related information about these payment methods. Learn how to set up the interfaces for payment methods and payment providers on an individual page for each payment method and provider. Find these pages in the <a href="/en/order-processing/payment">Payment</a> topic of the manual. Finally, you will find an overview of market payment methods. For a detailed description on how to activate market payment methods, refer to the pages of the corresponding <a href="/en/omni-channel/multi-channel">markets</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Searching for a payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>plentymarkets offers a large number of non-contract payment methods and payment methods for which a contract is required. Find the desired payment method quickly by using the search function.</p>
</div>
<div class="paragraph instruction">
<p>Searching for a payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Enter the name of the payment provider or payment method into the search field. <br>
→ The results will be listed.</p>
</li>
<li>
<p>Click on the payment provider or payment method to open it.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The icons in the directory tree have the following meaning:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Check mark</strong> = active payment method</p>
</li>
<li>
<p><strong>X</strong> = inactive payment method. Inactive payment methods can be displayed or hidden.</p>
</li>
<li>
<p><strong>Folder</strong> = payment provider that offers several payment methods. Expand to display the payment methods.</p>
</li>
<li>
<p><strong>Folder with question mark</strong> = folders that contain both active and inactive payment methods.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Setting up a payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up a payment method as described below. Note that payment methods must be permitted for customer classes in another menu. For further information, refer to the <a href="/en/order-processing/payment/managing-payment-methods#30">Permitting the payment method in a customer class</a> chapter.</p>
</div>
<div class="paragraph instruction">
<p>Setting up a payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>DE</strong> or <strong>International</strong>.</p>
</li>
<li>
<p>Click on the payment method.<br>
→ The <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in <a href="#table-settings-payment-method">Table 1</a>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-settings-payment-method" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. settings of the payment method</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The following options are saved for the language selected: <strong>Name</strong>, <strong>Info page</strong>, <strong>Info page (internal)</strong>, <strong>Logo</strong> and <strong>Upload logo</strong>. This makes it possible to enter values for these options in various languages. The values for a language will be activated as soon as a buyer selects the language in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name that should be displayed in the online store and on invoices etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a category page of the type <strong>content</strong> or enter the URL of a website to provide information about the payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Info page (external)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the option <strong>Info page (external)</strong> under <strong>Info page</strong>, then enter the URL of the info page here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Countries of delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a country of delivery.<br>
<strong><em>Note:</em></strong> Only select a country of delivery when using the payment method in your online store. Do not select countries of delivery for payment methods for markets. A payment method for a market is not used in the online store. Therefore, this payment method is only activated in plentymarkets. It is not completely configured.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client (store)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the following options for displaying the logo:<br>
<strong>Show standard logo</strong> = The logo that is saved in plentymarkets for this payment method will be displayed.<br>
<strong>Do not show a logo</strong> = The logo that is saved in plentymarkets for this payment method will not be displayed.<br>
<strong>Show upload logo</strong> = The options <strong>Logo view</strong> and <strong>Upload logo</strong> will be displayed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Logo view</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then the logo that was uploaded will be displayed here.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Upload logo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If <strong>Show upload logo</strong> was selected from the <strong>Logo</strong> drop-down list, then you will be able to upload an external logo here.<br>
Click on <strong>Upload files</strong> and select the logo that you want to upload for the payment method. Permitted data formats: GIF, JPG PNG. Maximum size: 100 x 25 pixels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priority</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the priority for displaying the payment method in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Costs: Flat rate or percentage</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If the payment method results in additional costs, enter the percentage value or flat rate value. The choice depends on the conditions of your contract.<br>
<strong>Domestic (surcharge)</strong>: Enter a flat rate or percentage value. The value that is entered will be taken into consideration for those orders that correspond to the system country. Once the customer has selected the payment method, these costs will be added to the particular order in the order process. The amount will be added to the total in the order and will not be displayed individually.<br>
<strong>Foreign countries (surcharge)</strong>: Enter a flat rate or percentage value. The value that is entered will be taken into consideration for those orders that correspond to a foreign country. Once the customer has selected the payment method, these costs will be added to the particular order in the order process. The amount will be added to the total in the order and will not be displayed individually.<br>
<strong>Domestic (statistics)</strong>: Enter a flat rate or percentage value. The value that is entered will be taken into consideration for those orders that correspond to the system country.<br>
<strong>Foreign countries (statistics)</strong>: Enter a flat rate or percentage value. The value that is entered will be taken into consideration for those orders that correspond to a foreign country.<br>
For further information, refer to the <a href="/en/basics/statistics">Statistics</a> and <a href="/en/basics/statistics/general-statistics/item/tops-flops">Tops/Flops</a> pages of the manual.<br>
<strong><em>Important</em></strong>: Do not enter a value into both fields. Pay attention to the conditions of your contract with the payment provider. Some payment providers do not allow you to hand over these fees to end customers.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Example for flat rate and percentage costs</div>
<div class="paragraph">
<p>If you want to add a surcharge, enter a positive value. For a surcharge of 1 percent, enter a percentage value of 1. For a surcharge of 1 EUR, enter a flat rate value of 1. If you want do enable a discount, enter a negative value, e.g. -2 for a discount of 2 percent. <br>
<strong>Domestic country</strong> corresponds to the system country specified in the <strong>Where is the company based (for financial accounting purposes)</strong> setting in the <strong>System » Settings » Master data</strong> menu. If you work with clients (stores), then you can also use your <strong>standard country of delivery</strong> as the <strong>country where your company is based</strong>. You can find the setting in the <strong>System » Client » Select client » Order process » Settings</strong> menu. You can create more detailed discounts for payment methods with the help of the plentymarkets discount system. For further information, refer to the <a href="/en/crm/managing-customer-data#3900">Discount based on method of payment</a> page of the manual.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="25">3. Specifying the default payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as follows to specify the payment method to be set by default in the order process in your online store.</p>
</div>
<div class="paragraph instruction">
<p>Specifying the default payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Orders</strong>.</p>
</li>
<li>
<p>Select a payment method from the <strong>Default payment method</strong> drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="30">4. Permitting the payment method in a customer class</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to permit payment methods in the basic settings of your customer classes. These settings also relate to the <strong>standard end customers</strong>. New payment methods need to be added to the list of permitted payment methods. And vice versa, you can exclude payment methods from this list to prevent the payment methods from being used by a particular customer class. After having set up a new payment method in your system, check the settings under <strong>Permitted payment methods</strong> for each of your customer classes. For further information, refer to the <a href="/en/crm/managing-customer-data#100">Customer classes</a> page of the manual.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">SSL certificate and encryption</div>
<div class="paragraph">
<p>We generally recommend that you use <a href="/en/basics/working-with-plentymarkets/plentymarkets-account#ssl-certificate">SSL encryption</a> for your online store if you work with payment data and customer data. This is required for payment methods that work with an iframe.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Offering a discount based on the method of payment</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The discount based on the method of payment is a sort of early payment discount in plentymarkets. You offer customers a discount if they use one or more payment methods. Learn how to set up this discount on the <a href="/en/crm/managing-customer-data#3900">Discount based on the method of payment</a> page. Besides, enter information about <strong>early payment discount</strong> and <strong>valuta</strong> directly in the <a href="/en/crm/managing-customer-data#800">data record of a customer</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="40">6. Non-contract payment methods</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Non-contract payment methods are payment methods that can be used in your online store without setting up an interface. <a href="#table-overview-non-contract-payment-methods">Table 2</a> provides an overview.</p>
</div>
<table id="table-overview-non-contract-payment-methods" class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. overview of non-contract payment methods</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Payment method</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Pay upon pickup</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use this payment method to allow your customers paying cash when picking up an item. Then, manually book the incoming payment in your system. Assign the payment to an order afterwards.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cash sale / cash card</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the <strong>Cash sale / cash card</strong> payment method, e.g. with your plentymarkets POS system in your stationary retail store, enabling your customers to pay cash or with cash card. Incoming payments will be transmitted from the cash card terminal or the POS system to your plentymarkets back end.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Credit card</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The buyer transmits his or her credit card data to the seller, e.g. in the online store. The item is shipped as soon as the payment is received.<br>
<strong><em>Important</em></strong>: For data protection reasons, the payment method <strong>credit card (manual processing)</strong> cannot be used in a plentymarkets online store. Use a different payment method in your online store or use an individual solution for your customers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Debit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The seller receives the bank details from the buyer and is allowed to collect the amount due from the bank account of the buyer. You can offer a payment method globally or for <a href="/en/crm/managing-customer-data#800">certain customers only</a>.<br>
<strong><em>Important</em></strong>: Customers are able to cancel debits at their banks.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cash on delivery</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The buyer pays for the item upon receipt. The delivery person collects the payment and writes a receipt.<br>
<strong><em>Important</em></strong>: A fee is charged for cash on delivery orders.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Invoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">With this payment method, the customer can order an item via invoice. Payment is made after the item has been received. To pay for the item, the customer receives an <a href="/en/omni-channel/online-store/standard/documents/invoice">invoice document</a> with the bank details of the seller. Incoming payments have to be <a href="/en/order-processing/payment/managing-payments#30">imported</a> and assigned to orders in the plentymarkets system. You can offer a payment method globally or for <a href="/en/crm/managing-customer-data#800">certain customers only</a>. For further information about this payment method, refer to <a href="/en/order-processing/payment/managing-payment-methods#55">Carrying out settings for the purchase on invoice</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cash in advance</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In this case, the buyer receives a message with the order data and the seller’s bank details. After the buyer has paid for the item, the payment must be <a href="/en/order-processing/payment/managing-payments#30">imported</a> into your plentymarkets system. Then, the items will be delivered. Learn how to make your bank data available to your customers on the <a href="/en/order-processing/payment/managing-bank-details">Providing bank data</a> page.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph subhead">
<p>Carrying out settings for the purchase on invoice[#55]</p>
</div>
<div class="paragraph">
<p>In the advanced settings of the payment method <strong>Invoice</strong>, you specify that purchasing on invoice is not allowed for guest accounts, for example. To carry out the settings for the payment method <strong>Invoice</strong>, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out settings for the purchase on invoice:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>Invoice</strong>.<br>
→ The <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Interface</strong> tab.</p>
</li>
<li>
<p>Expand the client.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in <a href="#table-settings-payment-method-invoice">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-settings-payment-method-invoice" class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. settings for payment method <strong>Invoice</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Basic settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show bank details</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to display the bank details in the order process and the order history. For further information, refer to <a href="/en/order-processing/payment/managing-bank-details#40">Displaying bank details in order process</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show designated use</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to display the designated use in the order process and the order history. For further information, refer to <a href="/en/order-processing/payment/managing-bank-details#40">Displaying bank details in order process</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Advanced settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Invoice address and delivery address must match</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate if the invoice address and the delivery address must match when purchasing on invoice.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Do not allow purchase on invoice for guest accounts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to allow the purchase on invoice for registered and logged in users only.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum number of orders</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a minimum number of orders to be completed by the customer with a different payment method before allowing the purchase on invoice.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Maximum invoice amount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the amount, that may not be exceeded when purchasing on invoice.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Minimum amount for purchase on invoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the amount, that must be exceeded when purchasing on invoice.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="60">7. Shipping without payment</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Some payment methods require items to be shipped before the payment was received, e.g. with payment on invoice. If the <a href="/en/stock-management/managing-stocks">stock</a> is limited to net stock, then the system will check whether stock is available and will set the corresponding order in status 4 or 5. To solve this, go to <a href="/en/order-processing/orders/_basic-settings">System » Orders » Settings</a> and select <strong>YES</strong> for the option <strong>Status changes to 4 instead of 5 if stock is missing</strong>. If there is no limitation set up for the stock, then the order will be placed directly in status 5.</p>
</div>
<div class="paragraph">
<p>The following payment methods require shipping before payment:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Invoice</p>
</li>
<li>
<p>Debit</p>
</li>
<li>
<p>Cash on delivery</p>
</li>
<li>
<p>Amazon</p>
</li>
<li>
<p>Credit card (manual processing)</p>
</li>
<li>
<p>Coupon</p>
</li>
<li>
<p>RatePAY invoice</p>
</li>
<li>
<p>MeinPaket payments</p>
</li>
<li>
<p>Hitmeister payment</p>
</li>
<li>
<p>PAYONE cash on delivery</p>
</li>
<li>
<p>PAYONE invoice</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/stock-management/managing-stocks">Stocks</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="70">8. Payment methods for markets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Payment methods for markets are payment methods which are necessary to flag incoming payments from integrated markets. In general, the market payment methods do not have to be completely set up. They only have to be activated. Not activating the payment method can cause problems during payment processing. Learn how to activate the payment methods for markets on the respective markets' pages. <a href="#table-overview-payment-method-markets">Table 4</a> provides an overview.</p>
</div>
<table id="table-overview-payment-method-markets" class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. overview of payment methods for markets</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Payment method</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Allyouneed Payments</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for orders that are imported into your plentymarkets system from Allyouneed. Activate the <a href="/en/omni-channel/multi-channel/allyouneed#100">Allyouneed Payments</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Amazon</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for orders that are imported into your plentymarkets system from Amazon. Activate the <a href="/en/omni-channel/multi-channel/amazon#4500">Amazon</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cdiscount</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for orders that are imported into your plentymarkets system from Cdiscount. Activate the <a href="/en/omni-channel/multi-channel/cdiscount#90">Cdiscount</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DaWanda</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for orders that are imported into your plentymarkets system from DaWanda. Activate the <a href="/en/omni-channel/multi-channel/dawanda#70">DaWanda</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>eBay purchase on invoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for purchase on invoice on eBay. Activate the <a href="/en/omni-channel/multi-channel/ebay#2250">eBay purchase on invoice</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flubit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for orders that are imported into your plentymarkets system from Flubit. Activate the <a href="/en/omni-channel/multi-channel/flubit">Flubit</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fruugo</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for orders that are imported into your plentymarkets system from Fruugo. Activate the <a href="/en/omni-channel/multi-channel/fruugo#60">Fruugo</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GartenXXL.de</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the GartenXXL.de market. Activate the <a href="/en/omni-channel/multi-channel/plus-gartenxxl#40">GartenXXL.de</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>real.de payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the real.de market. Activate the <a href="/en/omni-channel/multi-channel/real-de#80">Hitmeister</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>La Redoute Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for orders that are imported into your plentymarkets system from La Redoute. Activate the <a href="/en/omni-channel/multi-channel/laredoute#100">La Redoute Payment</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neckermann payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the Neckermann.at market. Activate the <a href="/en/omni-channel/multi-channel/neckermann-at#160">Neckermann.at</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Otto payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the Otto market. Activate the <a href="/en/omni-channel/multi-channel/otto#30">OTTO</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PIXmania payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the PIXmania market. Activate the <a href="/en/omni-channel/multi-channel/pixmania#80">PIXmania</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Plus.de Payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the Plus.de market. Activate the <a href="/en/omni-channel/multi-channel/plus-gartenxxl#40">Plus.de</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Rakuten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the Rakuten market. Activate the <a href="/en/omni-channel/multi-channel/rakuten#150">Rakuten</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shopgate payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the Shopgate market. Activate the <a href="/en/omni-channel/multi-channel/shopgate#60">Shopgate</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Yatego invoice</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the Yatego market. Activate the <a href="/en/omni-channel/multi-channel/yatego#80">Yatego invoice</a> payment method.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zalando payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment method for the Zalando market. Activate the <a href="/en/omni-channel/multi-channel/zalando#80">Zalando payment</a> payment method.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="80">9. Rounding differences</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Some payment providers require you to specify the item quantity per stock unit as well as the unit price rounded to exactly 2 decimal places. If items are <strong>discounted</strong>, then this can lead to discrepancies in the way that plentymarkets and the payment provider calculate the total. Discrepancies frequently occur for large quantities of items with low prices per stock unit. In such cases, the payment provider will calculate the discount per item and then multiply it by the entire quantity of items. In plentymarkets, the discount is applied to the total value of items. <a href="#table-rounding-differences-discounts">Table 5</a> provides you with an overview of how a 5 percent discount is calculated for large quantities of items. It shows you which rounding differences are caused if the discount is calculated per item (payment provider) and if the discount is calculated for the total value of items (plentymarkets).</p>
</div>
<table id="table-rounding-differences-discounts" class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. rounding differences for discounts</caption>
<colgroup>
<col style="width: 4%;">
<col style="width: 12%;">
<col style="width: 12%;">
<col style="width: 12%;">
<col style="width: 12%;">
<col style="width: 12%;">
<col style="width: 12%;">
<col style="width: 12%;">
<col style="width: 12%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Quantity</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unit<br>
price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Total<br>
price</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Unit price minus 5% discount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Discounted unit price, rounded</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Payment<br>
provider</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Total price minus 5% discount</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Discounted total price, rounded</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">plentymarkets</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>10</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.25</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">22.50</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.25 - 0.1125 = 2.1375</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.14</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">21.40</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">22.50 - 1.125 = 21.375</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">21.38</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>15</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.75</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">56.25</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.75 - 0.1875 = 3.5625</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.56</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">53.40</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">56.25 - 1.875 = 53.4375</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">53.44</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Total:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>74.80</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Total:</strong> <strong>74.8125</strong> (basis for plentymarkets)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Total:</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>74.81</strong></p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>In this case, the total difference is 1 cent. If only the first item were counted, then the difference would be 2 cents. If only the second item were counted, then the difference would be 4 cents.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">Transaction refused</div>
<div class="paragraph">
<p>Such differences, even though they are minor, can cause the payment provider to refuse the transaction.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Offering other payment providers or item bundles</div>
<div class="paragraph">
<p>If you encounter such problems, you can offer alternative payment providers who do not have this problem or that you contact the payment provider to discuss a solution. You can also avoid this phenomenon by offering <a href="/en/item/managing-items#920">item bundles</a> for those items that typically cause rounding differences (items with low prices).</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>