<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Saving own bank details</span></a></li>
<li><a href="#20"><span>2.</span><span> Displaying own bank details in the online store</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Customising the Bank details category</span></a></li>
<li><a href="#40"><span>2.2.</span><span> Displaying bank details in order process</span></a></li>
<li><a href="#50"><span>2.3.</span><span> Displaying the bank details in the order history</span></a></li>
<li><a href="#60"><span>2.4.</span><span> Displaying country-specific bank details</span></a></li>
</ul>
</li>
<li><a href="#63"><span>3.</span><span> Saving the customer’s bank details</span></a></li>
<li><a href="#67"><span>4.</span><span> Migrating bank details</span></a></li>
<li><a href="#70"><span>5.</span><span> Setting up EBICS</span></a>
<ul class="sectlevel2">
<li><a href="#80"><span>5.1.</span><span> Applying for an EBICS account at your bank</span></a>
<ul class="sectlevel3">
<li><a href="#90"><span>5.1.1.</span><span> Account numbers</span></a></li>
<li><a href="#100"><span>5.1.2.</span><span> Provision of bank statements</span></a></li>
<li><a href="#110"><span>5.1.3.</span><span> Participants</span></a></li>
<li><a href="#120"><span>5.1.4.</span><span> Order type</span></a></li>
</ul>
</li>
<li><a href="#130"><span>5.2.</span><span> Creating an EBICS account in plentymarkets</span></a></li>
<li><a href="#150"><span>5.3.</span><span> Carrying out the EBICS account settings</span></a></li>
<li><a href="#160"><span>5.4.</span><span> Defining commercial transactions</span></a></li>
<li><a href="#170"><span>5.5.</span><span> Activation by your bank</span></a></li>
<li><a href="#180"><span>5.6.</span><span> Retrieval times of transactions</span></a></li>
<li><a href="#190"><span>5.7.</span><span> Retrieval times of interim transaction reports</span></a></li>
</ul>
</li>
<li><a href="#200"><span>6.</span><span> Setting up SEPA direct debit mandate</span></a>
<ul class="sectlevel2">
<li><a href="#210"><span>6.1.</span><span> Creating a document template</span></a></li>
<li><a href="#215"><span>6.2.</span><span> Uploading a PDF template</span></a></li>
<li><a href="#220"><span>6.3.</span><span> Creating an email template</span></a></li>
<li><a href="#230"><span>6.4.</span><span> Sending an email template with an event procedure</span></a></li>
<li><a href="#240"><span>6.5.</span><span> Sending an email template with the group function</span></a></li>
<li><a href="#250"><span>6.6.</span><span> Activating SEPA payments in the bank details</span></a></li>
<li><a href="#260"><span>6.7.</span><span> Activating the download in the My account area</span></a></li>
<li><a href="#270"><span>6.8.</span><span> Automating SEPA payments</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Managing bank details</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>On this page of the manual, you learn how to save your <a href="/en/order-processing/payment/managing-bank-details#10">own bank details</a> and your <a href="/en/order-processing/payment/managing-bank-details#63">customers' bank details</a>, how to make your bank details <a href="/en/order-processing/payment/managing-bank-details#20">visible in the online store</a> and how to set up <a href="/en/order-processing/payment/managing-bank-details#70">EBICS</a> and <a href="/en/order-processing/payment/managing-bank-details#200">SEPA</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Saving own bank details</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The bank details that you save in the basic settings will be linked within the entire system. Corrections to the bank details only have to be made in this one menu. The changes will go into effect for the entire system.</p>
</div>
<div class="paragraph instruction">
<p>Saving bank details:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » Bank</strong>.</p>
</li>
<li>
<p>Enter your bank details. Pay attention to the information given in <a href="#table-saving-bank-details">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-saving-bank-details" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. saving bank details</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account holder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the account holder’s first and last name. For displaying this information in the design, use the template variable <strong>$BankAccountOwner</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account No.</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the account number. For displaying this information in the design, use the template variable <strong>$BankAccount</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sort code</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the sort code. For displaying this information in the design, use the template variable <strong>$BankCode</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bank</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the bank. For displaying this information in the design, use the template variable <strong>$BankName</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IBAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the International Bank Account Number. For displaying this information in the design, use the template variable <strong>$BankIban</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SWIFT</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the SWIFT code. For displaying this information in the design, use the template variable <strong>$BankSwift</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Displaying own bank details in the online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The category <strong>Bank details</strong> is used for displaying your bank details in the online store. A customer requires your bank details when paying with the payment method cash in advance, for example. The bank details will be displayed during the order process when the customer selects the payment method cash in advance or invoice. The information will also be displayed in the <strong>order history</strong> once the order has been completed. The category <strong>Bank details</strong> can contain information about several bank accounts in different countries.</p>
</div>
<div class="sect2">
<h3 id="30">2.1. Customising the Bank details category</h3>
<div class="paragraph">
<p>Proceed as follows to customise the <strong>Bank details</strong> category.</p>
</div>
<div class="paragraph instruction">
<p>Customising the category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the design’s folder, e.g. the folder for Callisto Light 3.</p>
</li>
<li>
<p>Open the category <strong>Bank details</strong>.</p>
</li>
<li>
<p>Click on the <strong>Description 1</strong> tab.</p>
</li>
<li>
<p>Make adjustments to the description.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For further information about the settings of categories, refer to the <a href="/en/item/managing-categories#2">Editing categories</a> chapter.</p>
</div>
</div>
<div class="sect2">
<h3 id="40">2.2. Displaying bank details in order process</h3>
<div class="paragraph">
<p>Below you will find a description of how to save the category <strong>bank details</strong> for the payment method cash in advance. The link is set up the same way for the payment method invoice.</p>
</div>
<div class="paragraph instruction">
<p>Saving the category for the payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on the payment method.<br>
→ The <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Select <strong>Info page (internal)</strong> from the <strong>Info page</strong> drop-down list.</p>
</li>
<li>
<p>Click on <strong>Edit</strong> next to the option <strong>Info page (internal)</strong>.<br>
→ The window <strong>Select item template</strong> will open.</p>
</li>
<li>
<p>Select the category <strong>Bank details</strong>.</p>
</li>
<li>
<p>Click on <strong>Select</strong>.<br>
→ The info page is linked to the payment method.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on the <strong>Interface</strong> tab.</p>
</li>
<li>
<p>Expand the client.</p>
</li>
<li>
<p>Activate the options <strong>Show bank details</strong> and <strong>Show designated use</strong>.<br>
→ The customer will see a link to the information if he or she selects the payment method Cash in advance during the order process.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/payment/assets/EN--Bank-details-Order-process.png" alt="EN  Bank details Order process">
</div>
<div class="title">Figure 1. link to the category <strong>Bank details</strong> in the order process</div>
</div>
</div>
<div class="sect2">
<h3 id="50">2.3. Displaying the bank details in the order history</h3>
<div class="paragraph">
<p>Carry out the same settings for the payment method Invoice to display the bank details in the <strong>order history</strong> whenever an order is completed. If you activated the option <strong>Show designated use</strong>, then the order ID will be displayed in the <strong>order history</strong> along with the bank details.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/payment/assets/EN-Bank-details-Order-history.png" alt="EN Bank details Order history">
</div>
<div class="title">Figure 2. bank details in the order history</div>
</div>
</div>
<div class="sect2">
<h3 id="60">2.4. Displaying country-specific bank details</h3>
<div class="paragraph">
<p>You can use an IF query to only show the bank details for the country of delivery. In other words, a buyer in Germany would only see the German account details and a customer in Switzerland would only see the Swiss account details. You need the template variable <strong>$CustomerShippingCountry</strong> for this. It only displays the corresponding content if the particular country of delivery was selected. You can find the country IDs under <strong>System » Orders » Shipping » Settings</strong> in the <strong>Countries of delivery</strong> tab. Insert the following code into the <a href="/en/order-processing/payment/managing-bank-details#30">Bank details</a> category. Add further countries of delivery with the respective ID, if needed.</p>
</div>
<div class="paragraph subhead">
<p>Example code for displaying bank details of specific countries of delivery</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&#123;&#37; if $CustomerShippingCountry==1 &#37;&#125;
Name of your bank in Germany
Bank code
Account
Enter the designated use so that we can match the payment to the order.
&#123;&#37; endif &#37;&#125;

&#123;&#37; if $CustomerShippingCountry==4 &#37;&#125;
Name of your bank in Switzerland
Bank code
Account
Enter the designated use so that we can match the payment to the order.
&#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="63">3. Saving the customer’s bank details</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can save the customer’s bank details in the <strong>Settings</strong> tab of a customer’s data record or delete them again as needed. Bank details are needed, e.g. for the payment method <a href="/en/order-processing/payment/managing-payment-methods#40">debit</a>. There is also an <a href="/en/order-processing/payment/managing-payments#10">import function</a> for bank details in plentymarkets. Contact a legal adviser for information about the current laws in your own country as well as in other countries of delivery.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Pay attention to subscription orders</div>
<div class="paragraph">
<p>Note that the bank details saved here will also be used for subscription orders with the payment method <strong>Debit</strong>. If you delete bank details that are connected to such a subscription order, then the payment method in the <a href="/en/order-processing/orders/scheduler">scheduler</a> will be changed to the <a href="/en/order-processing/payment/managing-payment-methods#25">default payment method</a> for the particular client (store). The subscription order will then no longer be paid for as an automatic bank transfer. In such a case, only delete the bank details if absolutely necessary. If possible, save new bank details for the customer.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Saving the customer’s bank details:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Edit customer</strong>.</p>
</li>
<li>
<p>Open the customer.<br>
→ The <strong>Customer data</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Settings » Tab: Bank details</strong> tab.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in <a href="#table-saving-customer-bank-details">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-saving-customer-bank-details" class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. saving the customer’s bank details</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IBAN;<br>
BIC;<br>
Account holder;<br>
Account number;<br>
Sort code</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the customer’s bank details.<br>
If IBAN and BIC are entered manually, then they will be checked with cKonto. A message will be displayed in case of errors.<br>
If the account numbers and sort codes are saved in the bank details, then you can enter the IBAN and BIC with an automatic migration process. For further information, refer to the chapter <strong>Migrating bank details</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEPA direct debit mandate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option once the customer has signed the SEPA direct debit mandate.<br>
<strong><em>Important</em></strong>: This option needs to be activated before pain.008 formats can be retrieved for <a href="/en/order-processing/payment/managing-bank-details#250">SEPA payments</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type of mandate</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEPA core direct debit</strong> = Allows a biller to collect funds from a payer’s account, provided that a signed mandate has been granted by the payer to the biller.<br>
<strong>SEPA business to business direct debit</strong> = Enables business customers in the role of payers to make payments by direct debit.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment frequency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>One-time payment</strong> = Typically used for standard orders.<br>
<strong>Recurring payment</strong> = Typically used for regularly occurring orders such as subscription orders, etc.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="67">4. Migrating bank details</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In order to change from regular payments to SEPA payments, migrate the bank details of all customers who pay with debit. Those are the customers who use the payment method debit or who have subscription orders in the <strong>Scheduler</strong> menu.</p>
</div>
<div class="paragraph instruction">
<p>Migrating bank details:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Settings » Data » Migration</strong>.</p>
</li>
<li>
<p>Expand the area <strong>Bank details</strong>.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in <a href="#table-migration-bank-details">Table 3</a>.</p>
</li>
<li>
<p>Click on the <strong>gear-wheel icon</strong> to migrate the data.</p>
</li>
<li>
<p>Check the data that was migrated in the <strong>Tab: Settings » Tab: Bank details</strong>.</p>
</li>
</ol>
</div>
<table id="table-migration-bank-details" class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. bank details migration</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Total</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The total number of bank data records that exist in the system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Without IBAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bank details without SEPA data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bank accounts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the bank accounts to be migrated.<br>
<strong>Bank accounts without IBAN/BIC only</strong> = Only bank accounts for which IBAN and BIC are not available, will be migrated.<br>
<strong>Bank accounts</strong> = All bank accounts will be migrated. Select, if you are not sure that all bank details are correct. The data will be checked by cKonto during the migration process. This will help you avoid potential errors.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the number of data records to be migrated.<br>
<strong>All</strong> = All data records will be migrated.<br>
<strong>500</strong> = 500 data records will be migrated. Select <strong>500</strong> if a large number of bank data records needs to be migrated. This will split the migration.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="70">5. Setting up EBICS</h2>
<div class="sectionbody">
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">New plugin integration</div>
<div class="paragraph">
<p>In plentymarkets, EBICS is integrated via the <a href="https://marketplace.plentymarkets.com/plugins/payment/Ebics_5098" target="_blank" rel="noopener">plugin in the plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>EBICS (Electronic Banking Internet Communication Standard) is a transmission protocol for banking information for usage by banking clients. With the help of the standardised EBICS procedure, retrieving payments has become even easier. EBICS is completely integrated in plentymarkets via the EBICS plugin. No third party providers are required.</p>
</div>
<div class="paragraph">
<p>For communication via EBICS, your sales figures are saved on the bank server in a file, comparable to bank statements. This file is imported in your plentymarkets system and the sales figures are booked in plentymarkets. The linked EBICS account can be seen as a combined account of several bank accounts. A file with the sales figures of an EBICS account is generated daily. This file can be retrieved at night and all incoming payments are available the next morning. Besides, multiple interim transaction report files are generated daily which can be retrieved to book interim transaction reports in your plentymarkets system.</p>
</div>
<div class="sect2">
<h3 id="80">5.1. Applying for an EBICS account at your bank</h3>
<div class="paragraph">
<p>First, apply for an EBICS account at your bank. You will receive documents from your bank which you have to fill in and send back afterwards. The following details for EBICS have to be entered in the form.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Existing EBICS accounts</div>
<div class="paragraph">
<p>Do not set up already existing EBICS accounts in plentymarkets. Multiple users (participants) can be listed in an EBICS account. If you already hold an account, then apply for a new one (techn. user is also possible). Only use this account for plentymarkets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="90">5.1.1. Account numbers</h4>
<div class="paragraph">
<p>Enter the account numbers for the accounts that you would like sales figures to be retrieved and booked into plentymarkets from. Entering account numbers is optional. This is because the retrieval is technically based on the user data. For further information about entering or not entering of account numbers refer to <a href="#table-provision-bank-statements">Table 4</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Only save business accounts</div>
<div class="paragraph">
<p>There is currently no option in plentymarkets for setting up accounts individually for EBICS retrieval. This means that payment transactions can only be retrieved globally by the plentymarkets system for all accounts saved. This includes e.g. payment transactions on your private account as well, if this account was saved. For this reason, only save the account numbers of your business accounts.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">One account for several users</div>
<div class="paragraph">
<p>If several different users all refer to the same account (some banks manage multiple accounts together), then problems may occur if retrieval is carried out simultaneously. This is true even if the users work with different plentymarkets systems. There is currently no solution to prevent this.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect3">
<h4 id="100">5.1.2. Provision of bank statements</h4>
<div class="paragraph">
<p>Provisioning of bank statements can either be done based on the date of the bookkeeping entry or based on bank statements.</p>
</div>
<table id="table-provision-bank-statements" class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. provision of bank statements</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Based on date of bookkeeping entry</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">A fictitious, consecutive number is included. This setting is selected by default.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Based on bank statements</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">An effective bank statement number is included. Provided that automatic bank statement retrieval is carried out on a daily basis.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="110">5.1.3. Participants</h4>
<div class="paragraph">
<p>When setting up your accounts for EBICS, you create one or more <a href="/en/basics/working-with-plentymarkets/manage-users#10">users</a> for your accounts. EBICS users are called participants (German: Teilnehmer). You can create participants including different order types. One of these participants has to be saved in the plentymarkets system with the <strong>participant ID</strong> that you received from your bank.</p>
</div>
<div class="paragraph">
<p>plentymarkets only requires one participant, e.g. a user account with the lowest rights, in order to carry out the EBICS payment retrieval. Only one participant may be set up per EBICS account.</p>
</div>
</div>
<div class="sect3">
<h4 id="120">5.1.4. Order type</h4>
<div class="paragraph">
<p>Plentymarkets needs the following order types (explanation in the following table) in order to successfully retrieve the transactions on your EBICS account. Pay attention to the notes about order and signature types given in your bank’s forms.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. order and signature types</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>STA</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Statement of account <strong>MT940</strong> or <strong>CAMT053</strong>. <a href="/en/order-processing/payment/managing-bank-details#180">Retrieval of the transactions</a> at the end of the day.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VMK</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Interim transaction report <strong>MT942</strong> or <strong>CAMT052</strong>. Depending on the respective bank, interim transaction reports are created and made ready for retrieval several times a day. This <a href="/en/order-processing/payment/managing-bank-details#190">information</a> is optional for plentymarkets.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EU&nbsp;Type&nbsp;"T"</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Signature type that provides authorisation exclusively for the retrieval of transaction data.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="130">5.2. Creating an EBICS account in plentymarkets</h3>
<div class="paragraph">
<p>After your bank accounts have been set up for EBICS, you will receive a letter from your bank. This letter will include the data that you will have to save in plentymarkets in order to set up EBICS there.</p>
</div>
<div class="paragraph instruction">
<p>Adding a new EBICS account:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Plugins » EBICS</strong>.</p>
</li>
<li>
<p>Click on <strong>Create new account</strong>.<br>
→ The window <strong>Create new account</strong> opens.</p>
</li>
<li>
<p>Enter the data that have been sent to you by your bank. Pay attention to the settings provided in <a href="#table-ebics-account-settings">Table 6</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br></p>
</li>
</ol>
</div>
<table id="table-ebics-account-settings" class="tableblock frame-all grid-all spread">
<caption class="title">Table 6. Account settings for EBICS</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setting</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Toggle to mark the account as active.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the internal name under which the account appears in the overview.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>First name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the first name of the account holder.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Surname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the surname of the account holder.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bank subscriber ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the bank subscriber ID as submitted by the bank.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bank customer ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the bank customer ID as submitted by the bank.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bank</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the bank.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account version</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select from the dropdown menu which account version should be used. Details are available at the bank.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Create new bank</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to add a bank not listed in the dropdown menu.<br>
<strong>Bank</strong>: Enter the name of the bank.<br>
<strong>URL</strong>: Enter the host URL as submitted by the bank.<br>
This option is only available when creating a new account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Interim transaction report</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select from the dropdown menu with which method the interim transaction reports are accessed. Details are available at the bank.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Daily account statements</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select from the dropdown menu with which method the daily account statements are accessed. Details are available at the bank.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IBAN</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the IBAN or account number of linked accounts separated by commas. The CAMT format requires the IBAN, the MT format requires the account number.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="150">5.3. Carrying out the EBICS account settings</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Domain transfer</div>
<div class="paragraph">
<p>Save the basic settings again after carrying out a <a href="/en/basics/working-with-plentymarkets#domain">domain transfer</a>. This will update the EBICS data.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Carrying out the EBICS account settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Plugins » EBICS</strong>.<br></p>
</li>
<li>
<p>Click on <strong>Edit</strong> to open the account.<br>
→ The <strong>Account settings</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information provided in <a href="#table-ebics-basic-settings">Table 7</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-ebics-basic-settings" class="tableblock frame-all grid-all spread">
<caption class="title">Table 7. basic settings for EBICS</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setting</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Explanation</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Account settings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The settings for the selected account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transactions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manages the business transactions to be retrieved. Select the option <strong>All</strong> in the <strong>Display</strong> menu and click on <strong>Search</strong><br>
Select the transactions you want to use from the list and <strong>Save</strong> your selection.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manual payment retrieval</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Retrieves all orders of a certain date in case of a technical error.<br>
<em>Note:</em> This function only retrieves the data already saved in the system; the bank is not contacted again.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Get status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Retrieves the current initialisation status from the EBICS tool.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Initialise account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The keys are generated and sent to the bank via INI. HIA is activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Initialisation letter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Creates a PDF initialisation letter from the generated keys and downloads the document. It has to be signed and sent to the bank for initialisation.+
<em>Note:</em> For the download of the initialisation letter to work properly, the pop-up blocker of your browser has to be deactivated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Finish initialisation (HPB)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Finishes the initialisation with the bank.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Expert mode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">All options described in the following are only available if the bank requires an additional activation of the account. They will only be activated if the <strong>Expert mode</strong> is activated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Create keys</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Creates keys for initialisation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>INI</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Initialises the EBICS account.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>HIA</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activates HIA.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Contact your bank before making changes</div>
<div class="paragraph">
<p>Get in contact with your bank before making changes. For example, if you want to use the new CAMT formats, then ask your bank whether or not this format is supported and have the format activated. Then make any necessary changes to the <strong>basic settings</strong> and interim transaction report as described here.</p>
</div>
<div class="paragraph">
<p>If an account was reset and your bank needs new keys, then we recommend that you set up the EBICS account again in plentymarkets. This way new keys will be generated.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="160">5.4. Defining commercial transactions</h3>
<div class="paragraph">
<p>For importing and assigning commercial transactions automatically, activate the required commercial transactions under <strong>Domestic payments</strong>, <strong>SEPA payments</strong> and <strong>Foreign business allocation</strong>. The following standard commercial transactions will be imported even if you did not select any of the options:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>020 - <strong>Bank transfer</strong></p>
</li>
<li>
<p>051 - <strong>Transfer credit note</strong></p>
</li>
<li>
<p>104 - <strong>SEPA Direct Debit</strong> (single booking - debit, B2B)</p>
</li>
<li>
<p>105 - <strong>SEPA Direct Debit</strong> (single booking - debit, Core)</p>
</li>
<li>
<p>166 - <strong>SEPA Credit Transfer</strong> (single booking - credit)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>You need to activate the standard commercial transactions if you select other commercial transactions as well. Only those that were previously selected will be imported.</p>
</div>
</div>
<div class="sect2">
<h3 id="170">5.5. Activation by your bank</h3>
<div class="paragraph">
<p>After you have entered your access data into plentymarkets, the system electronically registers at your bank. Secret key values are necessary for retrieval via EBICS. They are generated by the system. After these key values were created and the initial electronic registration was carried out, the values have to be printed out, signed and handed in at your bank. Only the participant saved in plentymarkets is authorised to sign this document. The bank will not activate the EBICS interface if the signature was not given by the participant saved in the system.</p>
</div>
<div class="paragraph instruction">
<p>Retrieving the INI letter file and handing it in at your bank:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Plugins » EBICS</strong>.</p>
</li>
<li>
<p>Click on the EBICS account.<br>
→ The <strong>Account settings</strong> tab opens.</p>
</li>
<li>
<p>Click on <strong>Initialisation letter</strong> to retrieve the file. <br></p>
</li>
<li>
<p>The INI letter is created and automatically downloaded in PDF format.<br></p>
</li>
<li>
<p>Print the PDF file.<br></p>
</li>
<li>
<p>Sign the document and hand it in at your bank.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The electronically submitted values will be compared with the values on the printed document. Then, the EBICS interface will be activated. From this moment on, the transactions will be retrieved at the retrieval times listed below.</p>
</div>
</div>
<div class="sect2">
<h3 id="180">5.6. Retrieval times of transactions</h3>
<div class="paragraph">
<p>Maximum twice a day, your bank provides the day’s transactions in a data format. Currently, plentymarkets retrieves this data at 6am, 1pm and 11pm. Transaction data is available in the system approximately one hour after the retrieval. In addition, the bank provides interim transaction reports in data format several times a day. These can be retrieved and include the transactions of the current day.</p>
</div>
</div>
<div class="sect2">
<h3 id="190">5.7. Retrieval times of interim transaction reports</h3>
<div class="paragraph">
<p>Since the times when interim transaction reports are made available differ from bank to bank, plentymarkets retrieves them from the banks, if they are available, every hour between 8am and 6pm. For EBICS postings that have unconfirmed interim transactions, the words <strong>interim transaction</strong> will be written in red. If the interim transaction has been confirmed, then the lettering will change from red to green. Additionally, the confirmed posting will be assigned to the corresponding order without having to book the payment again. You have to activate the statement of account in order for interim transaction reports to be confirmed. Pay attention to the information given in <a href="#table-provision-bank-statements">Table 4</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="200">6. Setting up SEPA direct debit mandate</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As part of the SEPA initiative (Single Euro Payments Area), euro payments were standardized in Germany and 32 other European countries on February 1st, 2014. Bank transfers and direct debits can now only be carried out with IBAN and BIC. You can <a href="/en/order-processing/payment/managing-bank-details#67">migrate</a> your customers' bank details automatically in the plentymarkets system. There are different types of direct debits:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>SEPA core direct debit</strong> → Allows a biller to collect funds from a payer’s account, provided that a signed mandate has been granted by the payer to the biller</p>
</li>
<li>
<p><strong>SEPA business to business direct debit</strong> → Enables business customers in the role of payers to make payments by direct debit</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Business to business direct debits are only permitted between companies (B2B) and they require a separate mandate. You need to receive a SEPA direct debit mandate from your customers. This replaces the previous direct debit authorisation. This mandate is the new legal authorisation for using SEPA direct debit to withdraw funds from another account.</p>
</div>
<div class="paragraph">
<p>Learn how to set up the SEPA direct debit mandate in the following video tutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/182819159" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="sect2">
<h3 id="210">6.1. Creating a document template</h3>
<div class="paragraph">
<p>Go to <strong>System » Orders » Documents</strong> and click on the <strong>SEPA direct debit mandate</strong> submenu. There is a template for configuring the SEPA direct debit mandate. For further information about documents, refer to the <a href="/en/order-processing/orders/order-documents">Document templates</a> page of the manual.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the document template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Locations » Select location » Documents</strong>.</p>
</li>
<li>
<p>Click on the <strong>SEPA direct debit mandate</strong> template.<br>
→ The <strong>Template</strong> tab will open.</p>
</li>
<li>
<p>Select a <strong>language</strong> from the drop-down list.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in <a href="#table-setup-document-template">Table 8</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-setup-document-template" class="tableblock frame-all grid-all spread">
<caption class="title">Table 8. setting up the document template</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Information about the payee</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name of payee;<br>
Street and house number;<br>
Postcode and town;<br>
Country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the seller’s data.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Creditor identifier</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the creditor identifier.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandate reference</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The mandate reference is generated from the customer ID and is automatically saved.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the payment frequency. Enter <strong>One-time payment</strong> or <strong>Recurring payment</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name of person liable to pay</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The name is saved automatically.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Formatting</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>X-axis; <br>
Y-axis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The values are based on a coordinate system with an x-axis and a y-axis. The x-axis goes from left to right and the y-axis from top to bottom. The reference points are in the upper left corner. For further information about the coordinate system, refer to <a href="/en/order-processing/payment/managing-bank-details#50">Document templates</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Font size</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the font size in pixels.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Font style</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>normal</strong> or <strong>bold</strong> for the font style.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Information about the person liable to pay</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The information is saved in the customer data record and entered automatically. The IBAN and BIC can only be displayed on the template if they were also saved in the customer data. They are saved there under <strong>Tab: Settings » Tab: Bank details</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Show all pages of this template</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether to show all pages of this template.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Character set</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>ISO-8859-1</strong> or <strong>Unicode</strong>. Generating PDF documents in Unicode may take longer.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="215">6.2. Uploading a PDF template</h3>
<div class="paragraph">
<p>Upload a PDF template in the <strong>PDF template</strong> tab. Generally, the PDF template is given the same layout as your "business stationary". It includes your company data and logo. When creating the PDF template, add field names for the elements on the template as needed. Add an area for the customer’s signature in the lower portion of the template.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Saving fields in the PDF template</div>
<div class="paragraph">
<p>The field names, e.g. IBAN, BIC and Payment method will not be displayed on the actual template. Save the field names in the PDF template.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Uploading a PDF template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Locations » Select location » Documents</strong>.</p>
</li>
<li>
<p>Click on the <strong>SEPA direct debit mandate</strong> template.<br>
→ The <strong>Template</strong> tab will open.</p>
</li>
<li>
<p>Select a <strong>language</strong> from the drop-down list.</p>
</li>
<li>
<p>Click on the <strong>PDF template » Tab: New template</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Browse…​</strong>.<br>
→ The window <strong>Upload file</strong> will open.</p>
</li>
<li>
<p>Open the PDF file.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="220">6.3. Creating an email template</h3>
<div class="paragraph">
<p>It is a good idea to send your customers the SEPA direct debit mandate directly after they made a purchase in your online store. This is done by creating an email template that has the SEPA direct debit mandate as an attachment. Create an <a href="/en/order-processing/payment/managing-bank-details#230">event procedure</a> for sending the email.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/payment/assets/EN-Bank-details-SEPA-Template.png" alt="EN Bank details SEPA Template">
</div>
<div class="title">Figure 3. creating the SEPA mandate email template</div>
</div>
<div class="paragraph instruction">
<p>Creating an email template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Email » Templates</strong>.</p>
</li>
<li>
<p>Click on the <strong>New Email template</strong> tab.</p>
</li>
<li>
<p>Enter a <strong>name</strong> and select <strong>SEPA direct debit mandate</strong> under <strong>PDF attachment</strong>.</p>
</li>
<li>
<p>Enter a text in the <strong>email message</strong> tab. This text urges the customer to sign and return the attached SEPA direct debit mandate.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="230">6.4. Sending an email template with an event procedure</h3>
<div class="paragraph">
<p>The email template is sent with an <a href="/en/basics/automation/event-procedures">event procedure</a>. The event procedure is triggered, e.g. whenever a new order is received.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 8.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 8 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 9. event procedure for automatically sending SEPA direct debit mandates to customers</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation: New order</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Debit</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer &gt; Send email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>SEPA direct debit mandate template;<br>
Customer</strong></p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="240">6.5. Sending an email template with the group function</h3>
<div class="paragraph">
<p>The email template is sent by clicking on the <strong>Group function</strong> button under <strong>CRM » Edit customer</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Sending an email template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Edit customer</strong>.</p>
</li>
<li>
<p>Use the filters <strong>IBAN</strong>, <strong>Direct debit mandate</strong> and <strong>Scheduler payment methods</strong> to search for those customers who should receive the SEPA information.</p>
</li>
<li>
<p>Place check marks next to those customers who the email template should be sent to.</p>
</li>
<li>
<p>Click on <strong>Group function</strong>.</p>
</li>
<li>
<p>Select the previously created SEPA email template from the <strong>Send email template</strong> drop-down list.</p>
</li>
<li>
<p>Place a check mark next to <strong>Send email template</strong>.</p>
</li>
<li>
<p>Click on <strong>Apply</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For further information, refer to the <a href="/en/crm/managing-customer-data#200">Searching and editing</a> page of the manual. Specifically, refer to the <strong>Group functions</strong> section.</p>
</div>
</div>
<div class="sect2">
<h3 id="250">6.6. Activating SEPA payments in the bank details</h3>
<div class="paragraph">
<p>Carry out the following setting once a customer has signed and returned the SEPA direct debit mandate to activate SEPA payments and retrieve pain008 formats.</p>
</div>
<div class="paragraph instruction">
<p>Activating SEPA direct debit mandate in the bank details:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CRM » Edit customer</strong>.</p>
</li>
<li>
<p>Open the customer.<br>
→ The <strong>Customer data</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Settings » Tab: Bank details</strong> tab.</p>
</li>
<li>
<p>Activate <strong>SEPA direct debit mandate</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>For further information about bank details, refer to the <a href="/en/order-processing/payment/managing-bank-details#63">Saving the customer’s bank details</a> chapter.</p>
</div>
</div>
<div class="sect2">
<h3 id="260">6.7. Activating the download in the My account area</h3>
<div class="paragraph">
<p>Customers who have not yet switched to SEPA will see a button in the <strong>order process</strong> when selecting Debit as the payment method. This will inform customers about downloading the SEPA direct debit mandate in the <strong>My account</strong> area of the store and that they need to sign and return the form.</p>
</div>
<div class="paragraph instruction">
<p>Displaying the download link:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » My Account » Settings</strong>.</p>
</li>
<li>
<p>Select the setting <strong>Show</strong> under <strong>Download link for SEPA direct debit mandate</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/order-processing/payment/assets/EN-Bank-details-SEPA-Order-history.png" alt="EN Bank details SEPA Order history">
</div>
<div class="title">Figure 4. downloading the SEPA mandate</div>
</div>
</div>
<div class="sect2">
<h3 id="270">6.8. Automating SEPA payments</h3>
<div class="paragraph">
<p>Set up processes to automate your SEPA payments. Go to <strong>System » Processes</strong> and use the procedures <a href="/en/basics/automation/processes/procedures#400">SEPA Pain001</a> and <a href="/en/basics/automation/processes/procedures#410">SEPA Pain008</a>.</p>
</div>
</div>
</div>
</div>
</main>