<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Opening a business account for PayPal PLUS</span></a></li>
<li><a href="#20"><span>2.</span><span> Setting up PayPal PLUS in plentymarkets</span></a></li>
<li><a href="#30"><span>3.</span><span> Activating payment methods</span></a></li>
<li><a href="#40"><span>4.</span><span> Displaying PayPal PLUS in the online store</span></a>
<ul class="sectlevel2">
<li><a href="#50"><span>4.1.</span><span> Adding a category for the additional step in the order process</span></a></li>
<li><a href="#60"><span>4.2.</span><span> Editing the Payment &amp; shipping category</span></a></li>
<li><a href="#70"><span>4.3.</span><span> Changing the order steps</span></a></li>
<li><a href="#80"><span>4.4.</span><span> Customising the Purchase category</span></a></li>
<li><a href="#90"><span>4.5.</span><span> Customising the Order overview &amp; transaction category</span></a></li>
<li><a href="#100"><span>4.6.</span><span> Editing PageDesignPrepareMainColumn</span></a></li>
<li><a href="#105"><span>4.7.</span><span> Editing PageDesignCheckout</span></a></li>
<li><a href="#108"><span>4.8.</span><span> Displaying a description for additional payment methods</span></a></li>
</ul>
</li>
<li><a href="#110"><span>5.</span><span> Customising the invoice template for PayPal PLUS orders</span></a></li>
<li><a href="#120"><span>6.</span><span> Not applying the delivery address from PayPal PLUS</span></a></li>
<li><a href="#130"><span>7.</span><span> Refunding a partial amount</span></a></li>
<li><a href="#140"><span>8.</span><span> Refunding the total amount and automatically sending it to PayPal</span></a></li>
<li><a href="#150"><span>9.</span><span> Automatically reporting rejected payments</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>PayPal PLUS</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Integration only for Callisto online stores</div>
<div class="paragraph">
<p>This page only contains instructions for integrating <strong>PayPal PLUS</strong> in Callisto online stores. For further information on using <strong>PayPal PLUS</strong> in Ceres online stores, refer to the detailed information in the plugin description available in the <a href="https://marketplace.plentymarkets.com/en/plugins/payment/PayPal_4690" target="_blank" rel="noopener">plentyMarketplace</a>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>PayPal PLUS includes the payment method PayPal and additional payment methods such as credit card or debit. However, the payment methods debit and purchase on invoice are only available if Germany is selected as the country of delivery.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Opening a business account for PayPal PLUS</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to <a href="https://www.paypal.com/gb/webapps/mpp/merchant" target="_blank" rel="noopener">open a business account with PayPal</a> before you can set up the payment method in plentymarkets. You will then receive information and access data, which you will need for setting up the function in plentymarkets.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">PayPal PLUS and store design</div>
<div class="paragraph">
<p>Note that the following conditions must be met before integrating PayPal PLUS successfully in plentymarkets:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Use of the standard design Callisto (Version 2 or higher)</p>
</li>
<li>
<p>Use of the individual order process</p>
</li>
<li>
<p>Safe handling of the plentymarkets CMS</p>
</li>
<li>
<p>Experience with integrating payment providers</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Setting up PayPal PLUS in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This section explains how and where to select stores and countries of delivery for PayPal PLUS. It also explains how to enter data for the interface. You can only choose the countries of delivery that were set up under <a href="/en/order-processing/fulfilment/preparing-the-shipment#100">System » Orders » Shipping » Shipping options » Tab: Countries of delivery</a>.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the PayPal PLUS interface:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>PayPal PLUS</strong>.<br>
→ The <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Interface</strong> tab.</p>
</li>
<li>
<p>Expand a Client (store).</p>
</li>
<li>
<p>Activate the <strong>Test mode</strong> if you want to make a few test purchases first.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on <strong>Add account</strong>.<br>
→ You will be forwarded to PayPal.</p>
</li>
<li>
<p>Log in.</p>
</li>
<li>
<p>Confirm that plentymarkets should be allowed to access your PayPal account. <br>
→ You will be redirected back to your plentymarkets system.</p>
</li>
<li>
<p>Repeat steps 1 to 6.</p>
</li>
<li>
<p>Enter your store name.</p>
</li>
<li>
<p>Enter the URL to your logo. This makes it possible for PayPal to display your logo within PayPal’s shopping cart.</p>
</li>
<li>
<p>Select <strong>Yes</strong> if you want the access data to apply for all clients (stores).</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Test mode or live mode</div>
<div class="paragraph">
<p>Activate the Test mode if you want to make a few test purchases using the PayPal sandbox first. Note that you will be forwarded to a different address (sandbox) within PayPal when activating the test mode. Therefore, save the settings for the interface after activating the test mode before you add the account.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Activating payment methods</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In addition to the payment method PayPal PLUS which you activate in the <a href="/en/order-processing/payment/managing-payment-methods#20">System » Orders » Payment » Payment methods</a> menu, additional payment methods such as credit card or debit are available. However, the payment methods debit and purchase on invoice can only be used if Germany is selected as the country of delivery. Set up and activate the desired <a href="/en/order-processing/payment/managing-payment-methods#10">payment methods</a> in your plentymarkets system. To display the logos of additional payment methods, upload the logos directly in the settings of the payment method with a maximum size of 100 x 25 px. In addition, check the settings for <strong>Permitted payment methods</strong> in the <a href="/en/order-processing/payment/managing-payment-methods#30">customer classes</a> and for <strong>Blocked payment methods</strong> in the <a href="/en/order-processing/fulfilment/preparing-the-shipment#1000">shipping profiles</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Limitations for purchase on invoice</div>
<div class="paragraph">
<p>Purchase on invoice via PayPal PLUS is not available if the purchase value is less than 1.50 EUR or greater than 1,500.00 EUR. Furthermore, digital media cannot be purchased on invoice due to the impossibility of return.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Displaying PayPal PLUS in the online store</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This section explains how to add PayPal PLUS to the individual order process in plentymarkets. This is done in several steps. First, PayPal PLUS is inserted in a category of the type <strong>Container</strong>.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="title">No changes to the active design</div>
<div class="paragraph">
<p>Do not make changes to your active design. Before making changes to the design, make a backup copy so that you can restore the original state of the design.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Calculating the order total</div>
<div class="paragraph">
<p>PayPal and plentymarkets use a different number of decimal places when calculating prices. As such, there may be slight rounding differences in the order total calculated by plentymarkets and PayPal. These differences are automatically settled in the background ensuring that the totals match in plentymarkets and PayPal. This is either done with a credit note or with an item to balance out the difference.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="50">4.1. Adding a category for the additional step in the order process</h3>
<div class="paragraph">
<p>Shipping and payment need to take place in two different steps. Your customer should first select a shipping method and then this shipping price should be transferred to PayPal. Therefore, create a new category for selecting the payment method. Afterwards, edit the <strong>Payment &amp; shipping</strong> category which is included in Callisto Light by default.</p>
</div>
<div class="paragraph instruction">
<p>Creating a category of the type container:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Click on <strong>New category</strong>.<br>
→ The <strong>Create new category</strong> window will open.</p>
</li>
<li>
<p>Enter name, e.g. Select payment method.</p>
</li>
<li>
<p>Click on <strong>Create</strong>.<br>
→ The category will be opened and the <strong>Settings</strong> tab will be displayed.</p>
</li>
<li>
<p>Select the option <strong>Container</strong> as the <strong>Type</strong>.</p>
</li>
<li>
<p>Click on the <strong>Description 1</strong> tab.</p>
</li>
<li>
<p>Insert the code example.<br>
→ The code examples below are for versions 2 and 3 of Callisto Light.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph subhead">
<p>Code example for version 3 of Callisto Light:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;div class="row equal margin-bottom-1"&gt;
	&#123;&#37; if $CheckoutMethodOfPaymentID == 50 &#37;&#125;
		&#123;&#37; $_pppWall = Container_CheckoutPayPalPlus()  &#37;&#125;
	&#123;&#37; endif &#37;&#125;
	&#123;&#37; if strlen($_pppWall)&gt;0 &#37;&#125;
		&lt;div class="panel panel-paypal-plus"&gt;
			&lt;div class="panel panel-default"&gt;
				&lt;div class="panel-heading"&gt;
					&lt;h3 class="panel-title"&gt;Zahlung&lt;/h3&gt;
				&lt;/div&gt;
				&lt;div class="panel-body"&gt;
					&lt;div data-plenty-checkout-template="Totals"&gt;
						&#123;&#37; Container_CheckoutTotals() &#37;&#125;
					&lt;/div&gt;
					&lt;div data-plenty-checkout-template="Payment"&gt;
						$_pppWall
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
&lt;/div&gt;
&lt;script&gt;
(function($) {
		$(document).ready(function() {
			$('#checkoutPanelPayment').show(function() {
        		$('#ppplus').width('100%');
        	});
        	// Resize the iframe again
        	$("iframe[id^='iframe_']").load(function() {
    			$(this).width("100%");
			});
        });
	}(jQuery));
&lt;/script&gt;
&#123;&#37; else &#37;&#125;
	&lt;div class="col-lg-6 col-md-6 col-sm-6" data-plenty-checkout-template="MethodsOfPaymentList"&gt;
		&#123;&#37; Container_CheckoutMethodsOfPaymentList() &#37;&#125;
	&lt;/div&gt;
&lt;/div&gt;
&lt;div class="text-right"&gt;
	&lt;button class="btn btn-primary btn-lg btn-block-xs" data-plenty="click:Redirect.toCheckoutTab('next')"&gt;
		&lt;span&gt;Weiter&lt;/span&gt;&lt;span class="glyphicon glyphicon-chevron-right" aria-hidden="true"&gt;&lt;/span&gt;
	&lt;/button&gt;
&lt;/div&gt;
&lt;script type="text/javascript"&gt;
(function($) {
	$(document).ready(function() {
		plenty.NavigatorService.afterChange(function(currentContainer, targetContainer) {
			if (currentContainer.id === "payment" &amp;&amp; $('#ppplus').length &lt;= 0) {

				// Hide default list of payment methods (non PayPal PLUS)
				$('[data-plenty-checkout-template="MethodsOfPaymentList"]').hide();
				var waitscreen = $("#PlentyWaitScreen");

				// Show/append wait screen until PayPal is ready
				if( waitScreen.length &lt;= 0 ) {
		            waitScreen = $('&lt;div id="PlentyWaitScreen" class="overlay overlay-wait in"&gt;&lt;/div&gt;');
		            $('body').append(waitScreen);
		        } else {
		            // Show wait screen if not already visible
		            waitScreen.addClass('in');
		        }

				// Reload payment checkout step. WARNING: Check your individual checkout steps. Category of payment must be linked with the correct checkout step (here step 7).
				PlentyFramework.factories.CMSFactory.getCategoryContent(&#123;&#37; CheckoutStepPageID(7) &#37;&#125;).done(function(response) {
					$('#checkoutPanelPayment').html(response.data[0]);
					waitScreen.removeClass('in');
					plenty.bindDirectives();
				});
			}
		});
	});
})(jQuery);
&lt;/script&gt;
&#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
<div class="paragraph subhead">
<p>Code example for version 2 of Callisto Light:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">&lt;div class="row equal margin-bottom-1"&gt;
	&#123;&#37; if $CheckoutMethodOfPaymentID == 50 &#37;&#125;
		&#123;&#37; $_pppWall = Container_CheckoutPayPalPlus()  &#37;&#125;
	&#123;&#37; endif &#37;&#125;
	&#123;&#37; if strlen($_pppWall)&gt;0 &#37;&#125;
		&lt;div class="panel panel-paypal-plus"&gt;
			&lt;div class="panel panel-default"&gt;
				&lt;div class="panel-heading"&gt;
					&lt;h3 class="panel-title"&gt;Payment&lt;/h3&gt;
				&lt;/div&gt;
				&lt;div class="panel-body"&gt;
					&lt;div data-plenty-checkout-template="Totals"&gt;
						&#123;&#37; Container_CheckoutTotals() &#37;&#125;
					&lt;/div&gt;
					&lt;div data-plenty-checkout-template="Payment"&gt;
						$_pppWall
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
&lt;/div&gt;
&lt;script&gt;
(function($) {
		$(document).ready(function() {
			$('#checkoutPanelPayment').show(function() {
        		$('#ppplus').width('100%');
        	});
        	// Resize the iframe again
        	$("iframe[id^='iframe_']").load(function() {
    			$(this).width("100%");
			});
        });
	}(jQuery));
&lt;/script&gt;
&#123;&#37; else &#37;&#125;
	&lt;div class="col-lg-6 col-md-6 col-sm-6" data-plenty-checkout-template="MethodsOfPaymentList"&gt;
		&#123;&#37; Container_CheckoutMethodsOfPaymentList() &#37;&#125;
	&lt;/div&gt;
&lt;/div&gt;
&lt;div class="text-right"&gt;
	&lt;button class="btn btn-primary btn-lg btn-block-xs" data-plenty-checkout-href="next"&gt;
		&lt;span&gt;Next&lt;/span&gt;&lt;span class="glyphicon glyphicon-chevron-right" aria-hidden="true"&gt;&lt;/span&gt;
	&lt;/button&gt;
&lt;/div&gt;
&lt;script&gt;
	(function($) {
		$(document).ready(function() {
			plenty.NavigatorService.beforeChange(function(currentContainer, targetContainer) {
				// Leave "Shipping &amp; Payment" checkout step
				if ( currentContainer.id === "payment" &amp;&amp; targetContainer.id !== "payment" &amp;&amp; targetContainer.index &gt; currentContainer.index ) {
					//Prepare payment
					plenty.CheckoutService.preparePayment().done(function(response) {
						if ( response.data.CheckoutMethodOfPaymentRedirectURL == '' &amp;&amp; response.data.CheckoutMethodOfPaymentAdditionalContent == '' ) {
							// Show next checkout step in case of success
							plenty.NavigatorService.continueChange( targetContainer );
						}
					});
					// Stop checkout step change
					return false;
				}
				return true;
			});

			plenty.NavigatorService.afterChange(function(currentContainer, targetContainer) {
				if (currentContainer.id === "payment" &amp;&amp; $('#ppplus').length &lt;= 0) {

					// Hide default list of payment methods (non PayPal PLUS)
					$('[data-plenty-checkout-template="MethodsOfPaymentList"]').hide();
					var waitscreen = $("#PlentyWaitScreen");

					// Show/append wait screen until PayPal is ready
					if( waitScreen.length &lt;= 0 ) {
		                waitScreen = $('&lt;div id="PlentyWaitScreen" class="overlay overlay-wait in"&gt;&lt;/div&gt;');
		                $('body').append(waitScreen);
		            } else {
		                // Show wait screen if not already visible
		                waitScreen.addClass('in');
		            }

					// Reload payment checkout step. WARNING: Check your individual checkout steps. Category of payment must be linked with the correct checkout step (here step 7).
					PlentyFramework.factories.CMSFactory.getCategoryContent(&#123;&#37; CheckoutStepPageID(7) &#37;&#125;).done(function(response) {
						$('#checkoutPanelPayment').html(response.data[0]);
						waitScreen.removeClass('in');
					});
				}
			});
		});
	}(jQuery));
&lt;/script&gt;
&#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="60">4.2. Editing the Payment &amp; shipping category</h3>
<div class="paragraph">
<p>Next, you need to edit the Payment &amp; shipping category, which is included in Callisto Light 3 by default.</p>
</div>
<div class="paragraph instruction">
<p>Editing the Payment &amp; shipping category:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the design’s folder, e.g. the folder for Callisto Light 3.</p>
</li>
<li>
<p>Open the category <strong>Payment &amp; shipping</strong>.</p>
</li>
<li>
<p>Change the name in the <strong>Settings</strong> tab, e.g. to Shipping.</p>
</li>
<li>
<p>Click on the <strong>Description 1</strong> tab.</p>
</li>
<li>
<p>Delete the div container for displaying payment methods.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="70">4.3. Changing the order steps</h3>
<div class="paragraph">
<p>Both the newly created category and the edited category need to be added to the order steps of the individual order process.</p>
</div>
<div class="paragraph instruction">
<p>Changing the order steps:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design</strong>.</p>
</li>
<li>
<p>Click on <strong>Settings</strong>. <br>
→ The <strong>Design settings</strong> window will open.</p>
</li>
<li>
<p>Click on the <strong>Clients</strong> tab.</p>
</li>
<li>
<p>Click on a client.</p>
</li>
<li>
<p>Click on the <strong>Order process</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Search</strong> for the <strong>6th order process step</strong>.</p>
</li>
<li>
<p>Select the <strong>Shipping</strong> category.</p>
</li>
<li>
<p>Click on <strong>Select</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> for the <strong>7th order process step</strong>.</p>
</li>
<li>
<p>Select the newly created <strong>Select payment method</strong> category.</p>
</li>
<li>
<p>Click on <strong>Select</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> for the <strong>8th order process step</strong>.</p>
</li>
<li>
<p>Select the <strong>Order overview &amp; transaction</strong> category.</p>
</li>
<li>
<p>Click on <strong>Select</strong>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> for the <strong>9th order process step</strong>.</p>
</li>
<li>
<p>Select the <strong>Order process</strong> category.</p>
</li>
<li>
<p>Click on <strong>Select</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The order steps will be updated.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="80">4.4. Customising the Purchase category</h3>
<div class="paragraph">
<p>The Purchase category also needs to be customised to ensure that the order steps are carried out in the correct sequence.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the design’s folder, e.g. the folder for Callisto Light 3.</p>
</li>
<li>
<p>Open the category <strong>Purchase</strong>.</p>
</li>
<li>
<p>Click on the <strong>Description 1</strong> tab.</p>
</li>
<li>
<p>Delete the list element for payment &amp; shipping.</p>
</li>
<li>
<p>After the list element <strong>Address</strong>, insert list elements for the new order steps Shipping and Select payment method.<br>
→ Example code is displayed further below.</p>
</li>
<li>
<p>Scroll farther down in the code and replace <strong>Step 3</strong> and <strong>Step 4</strong> with the 2nd code example underneath this description.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">						&lt;li&gt;
							&lt;span id="checkoutTabShipping" role="tab" aria-controls="checkoutPanelOrderShipping"&gt;
								&lt;span class="glyphicon glyphicon-road" aria-hidden="true"&gt;&lt;/span&gt;
								&lt;span&gt;Shipping&lt;/span&gt;
							&lt;/span&gt;
						&lt;/li&gt;
						&lt;li&gt;
							&lt;span id="checkoutTabPayment" role="tab" aria-controls="checkoutPanelOrderPayment"&gt;
								&lt;span class="glyphicon glyphicon-euro" aria-hidden="true"&gt;&lt;/span&gt;
								&lt;span&gt;Payment&lt;/span&gt;
							&lt;/span&gt;
						&lt;/li&gt;</code></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre class="highlightjs highlight"><code class="language-plenty hljs" data-lang="plenty">						&lt;!-- STEP 3: Shipping--&gt;
		&#123;&#37; $_id = CheckoutStepPageID(6) &#37;&#125;
		&lt;div class="container" data-plenty-checkout-id="shipping" id="checkoutPanelShipping" aria-labelledby="checkoutTabShipping" role="tabpanel" data-plenty-checkout-content="$_id"&gt;
			&#123;&#37; CategoryContentBody($_id) &#37;&#125;
		&lt;/div&gt;

		&lt;!-- STEP 4: Payment --&gt;
		&#123;&#37; $_id = CheckoutStepPageID(7) &#37;&#125;
		&lt;div class="container" data-plenty-checkout-id="payment" id="checkoutPanelPayment" aria-labelledby="checkoutTabPayment" role="tabpanel" data-plenty-checkout-content="$_id"&gt;
			&#123;&#37; CategoryContentBody($_id) &#37;&#125;
		&lt;/div&gt;

		&lt;!-- STEP 5: Overview &amp; Confirmation --&gt;
		&#123;&#37; $_id = CheckoutStepPageID(8) &#37;&#125;
		&lt;div class="container" data-plenty-checkout-id="confirm" id="checkoutPanelConfirm" aria-labelledby="checkoutTabConfirm" role="tabpanel" data-plenty-checkout-content="$_id"&gt;
			&#123;&#37; CategoryContentBody($_id) &#37;&#125;
		&lt;/div&gt;</code></pre>
</div>
</div>
</div>
<div class="sect2">
<h3 id="90">4.5. Customising the Order overview &amp; transaction category</h3>
<div class="paragraph">
<p>You also need to edit the "Order overview &amp; transaction" category so that customers who want to change their entries are forwarded to the correct order step from the order overview.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Open the design’s folder, e.g. the folder for Callisto Light 3.</p>
</li>
<li>
<p>Open the <strong>Order overview &amp; transaction</strong> category.</p>
</li>
<li>
<p>Click on the <strong>Description 1</strong> tab.</p>
</li>
<li>
<p>Search for the code <strong>data-plenty="click:Redirect.toCheckoutTab('#shipping-payment')"</strong>.</p>
</li>
<li>
<p>Delete <strong>shipping-</strong> so that the code reads <strong>data-plenty="click:Redirect.toCheckoutTab('#payment')"</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="100">4.6. Editing PageDesignPrepareMainColumn</h3>
<div class="paragraph">
<p>Edit the template <strong>PageDesignPrepareMainColumn</strong> to ensure that PayPal PLUS is correctly used and displayed.</p>
</div>
<div class="paragraph instruction">
<p>Editing PageDesignPrepareMainColumn:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design</strong>.</p>
</li>
<li>
<p>Open the folder <strong>Layout » PageDesign</strong>.</p>
</li>
<li>
<p>Open the template <strong>PageDesignPrepareMainColumn</strong>.</p>
</li>
<li>
<p>Search for the code <strong>gototab=shipping-payment</strong>.</p>
</li>
<li>
<p>Replace <strong>shipping-payment</strong> with <strong>payment</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="105">4.7. Editing PageDesignCheckout</h3>
<div class="paragraph">
<p>To open the order overview after completing an order, edit the template <strong>PageDesignCheckout</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Editing PageDesignCheckout:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>CMS » Web design</strong>.</p>
</li>
<li>
<p>Open the folder <strong>Layout » PageDesign</strong>.</p>
</li>
<li>
<p>Open the template <strong>PageDesignCheckout</strong>.</p>
</li>
<li>
<p>Search for the code <strong>PlentyFramework.setGlobal( 'checkoutConfirmCatID', &#123;&#37; CheckoutStepPageID(7) &#37;&#125;);</strong>.</p>
</li>
<li>
<p>Replace <strong>CheckoutStepPageID(7)</strong> with <strong>CheckoutStepPageID(8)</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="108">4.8. Displaying a description for additional payment methods</h3>
<div class="paragraph">
<p>If you use additional payment methods in the order process together with the payment methods of PayPal PLUS, a description can be displayed next to the name of the payment method in the list of payment methods. Learn how to add the description using the payment method <strong>Cash in advance</strong> as an example. Carry out the settings for <a href="/en/order-processing/payment/managing-payment-methods#40">other payment methods</a> in the same way.</p>
</div>
<div class="paragraph instruction">
<p>Creating a category with the description text:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Item » Categories</strong>.</p>
</li>
<li>
<p>Click on <strong>New category</strong>.<br>
→ The <strong>Create new category</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the category type.</p>
</li>
<li>
<p>If you activate <strong>Subcategory</strong>, then select the category that should include the new subcategory.</p>
</li>
<li>
<p>Click on <strong>Create</strong>.<br>
→ The new category will be created and the <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Select the type <strong>Content</strong>.</p>
</li>
<li>
<p>Activate the <strong>client (store)</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Click on the <strong>Description 2</strong> tab.</p>
</li>
<li>
<p>Select the option <strong>Text field</strong> from the drop-down list on the right.</p>
</li>
<li>
<p>Insert the description into the text field.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>You now link the previously created category with the payment method in order to display the description in the payment method overview in the order process with PayPal PLUS.</p>
</div>
<div class="paragraph instruction">
<p>Linking the category with the payment method:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>Cash in advance</strong>.<br>
→ The <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Select <strong>Info page (internal)</strong> from the <strong>Info page</strong> drop-down list.</p>
</li>
<li>
<p>Click on <strong>Edit</strong> next to the option <strong>Info page (internal)</strong>.<br>
→ The window <strong>Select item template</strong> will open.</p>
</li>
<li>
<p>Select the newly created category.</p>
</li>
<li>
<p>Click on <strong>Select</strong>.<br>
→ The category is linked to the payment method.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="110">5. Customising the invoice template for PayPal PLUS orders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you use PayPal PLUS and you generate invoices for the orders that are paid for with PayPal PLUS invoices, then make sure to display PayPal’s bank details on the invoice rather than your own bank details. This is done automatically with a payment instruction. Proceed as described below to use your own <a href="/en/order-processing/orders/order-documents#170">PDF template</a>.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Respect the payment instruction width</div>
<div class="paragraph">
<p>In order to display the bank details of PayPal PLUS correctly on your invoice, save a width of 120 millimetres for the payment instruction in the <strong>System » Client » Select client » Locations » Select location » Documents » Invoice</strong> menu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Using own PDF template:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Client » Select client » Locations » Select location » Documents » Invoice</strong>.</p>
</li>
<li>
<p>Click on the <strong>PDF template</strong> tab.</p>
</li>
<li>
<p>Click on the <strong>New template</strong> tab.</p>
</li>
<li>
<p>Select <strong>PayPal PLUS</strong> from the drop-down list to save the template for PayPal PLUS.</p>
</li>
<li>
<p>Use the <strong>File</strong> area to select the PDF file on your computer.</p>
</li>
<li>
<p>Click on <strong>Open</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The PDF file will be uploaded and listed in the <strong>Templates</strong> tab.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Before sending invoices to customers, find out whether customers already receive invoices from PayPal. In other words, make sure the customer does not receive 2 invoices.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="120">6. Not applying the delivery address from PayPal PLUS</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When ordering with PayPal PLUS, the delivery address is applied from PayPal by default and not the data entered by the customer. If you do not want to apply the delivery address from PayPal, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Not applying the delivery address:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on PayPal PLUS.<br>
→ The <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Interface</strong> tab.</p>
</li>
<li>
<p>Expand a Client (store).</p>
</li>
<li>
<p>Activate the setting <strong>Do not apply delivery address</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="130">7. Refunding a partial amount</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It is possible to refund customers part of the purchase amount by creating a <strong>credit note</strong> and specifying how much of the total amount should be refunded. Use your own discretion to decide how much is refunded. Partial amounts need to be entered manually since it is possible to enter a different amount for every order. Hence, it is not possible to automate this process.</p>
</div>
<div class="paragraph instruction">
<p>Creating a credit note to refund a partial amount:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the desired PayPal PLUS order.</p>
</li>
<li>
<p>In the <strong>Overview</strong> tab, click on the <strong>Credit note …​</strong> drop-down list and then select <strong>create</strong>.<br>
→ The credit note will be created.</p>
</li>
<li>
<p>Open the newly created credit note and click on the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Click on <strong>PayPal PLUS Refund</strong> under <strong>Refund</strong>.</p>
</li>
<li>
<p>Enter the amount that you want to refund.</p>
</li>
<li>
<p>Click on <strong>Transfer refund</strong>.<br>
→ The amount will be sent to PayPal.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="140">8. Refunding the total amount and automatically sending it to PayPal</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It is possible to refund customers the total purchase amount by creating an order of the type <strong>Credit note</strong>. Credit notes will automatically be assigned to the payment.</p>
</div>
<div class="paragraph instruction">
<p>Creating a credit note to refund the total amount:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the desired PayPal PLUS order.</p>
</li>
<li>
<p>In the <strong>Overview</strong> tab, click on the <strong>Credit note …​</strong> drop-down list and then select <strong>create</strong>.<br>
→ The credit note will be created.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Then create an <a href="/en/basics/automation/event-procedures">event procedure</a> to automatically send the refunds to PayPal PLUS.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>Event</strong> listed in table 1.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 1 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. event procedure for automatically sending refunds to PayPal PLUS</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation: New credit note</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal PLUS</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment methods &gt; Send refund to PayPal PLUS</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="150">9. Automatically reporting rejected payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/basics/automation/event-procedures">event procedure</a> to automatically inform your customers of rejected payments. In order to inform your customers by email of rejected PayPal PLUS payments and change the status of these payments, create an <strong>order status</strong> for <strong>rejected payments</strong> by PayPal PLUS or use an existing order status.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 2.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 2 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. Event procedure for automatically reporting rejected payments by PayPal PLUS</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment: Rejected</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>PayPal PLUS</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Customer &gt; Send email</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select email template;<br>
Select <strong>Customer</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Change status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the order status, e.g. <strong>[3.2] In waiting position</strong></p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>