<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Important notes</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Payment process</span></a></li>
<li><a href="#30"><span>1.2.</span><span> Available Sage Pay payment methods</span></a></li>
</ul>
</li>
<li><a href="#40"><span>2.</span><span> Registering with Sage Pay</span></a></li>
<li><a href="#50"><span>3.</span><span> Setting up Sage Pay in plentymarkets</span></a></li>
<li><a href="#60"><span>4.</span><span> Activating the payment method</span></a></li>
<li><a href="#70"><span>5.</span><span> Authorising or cancelling payments</span></a>
<ul class="sectlevel2">
<li><a href="#80"><span>5.1.</span><span> Cancelling a Sage Pay Payment</span></a></li>
<li><a href="#90"><span>5.2.</span><span> Cancelling a Sage Pay deferred or authenticate payment</span></a></li>
<li><a href="#100"><span>5.3.</span><span> Authorising a Sage Pay deferred or authenticate payment</span></a></li>
</ul>
</li>
<li><a href="#110"><span>6.</span><span> Automatically sending cancellations</span></a></li>
<li><a href="#120"><span>7.</span><span> Automatically sending credit notes</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Sage Pay</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Integration only for Callisto online stores</div>
<div class="paragraph">
<p>This page only contains instructions for integrating <strong>Sage Pay</strong> in Callisto online stores. The following instructions are not valid for Ceres online stores!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p><a href="http://www.sagepay.co.uk/" target="_blank" rel="noopener">Sage Pay</a> is a payment provider that was founded in Great Britain and is available in the United Kingdom and in Ireland. Sage Pay offers various payment options, an integrated fraud prevention tool and e.g. transaction reports.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Important notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter provides you with important information about integrating Sage Pay in plentymarkets.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Payment process</h3>
<div class="paragraph">
<p>After confirming the order, the customer will be redirected to the Sage Pay website. Here, they needs to enter the data of the selected credit card. Once the customer has entered the data and confirmed the payment, they is directed back to your online store.</p>
</div>
</div>
<div class="sect2">
<h3 id="30">1.2. Available Sage Pay payment methods</h3>
<div class="paragraph">
<p>Below you will find an overview of the Sage Pay payment methods that are available for plentymarkets. They are displayed along with the corresponding System ID in parentheses.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Sage Pay (Payment)</p>
</li>
<li>
<p>Sage Pay deferred</p>
</li>
<li>
<p>Sage Pay authenticate</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>If you use the first payment method, then the amount will be transferred to you directly. If you use the payment methods <strong>deferred</strong> and <strong>authenticate</strong>, then the amount will be transferred to you after you have requested payment. For further information about these payment methods, refer to <a href="http://www.sagepay.co.uk/support/15/36/transaction-types" target="_blank" rel="noopener">Sage Pay</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="40">2. Registering with Sage Pay</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You need to register with Sage Pay before setting it up in plentymarkets. <a href="http://www.sagepay.co.uk/contact" target="_blank" rel="noopener">Contact</a> Sage Pay in order to register. Once you have registered you will receive access data from Sage Pay. You need this access data for the setup in plentymarkets. After registering, access your Sage Pay account and enter the IP address of the server that your store runs on. Save this entry in the Sage Pay back end under <strong>Settings » Valid IPs</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">3. Setting up Sage Pay in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Proceed as described below to set up the interface to Sage Pay.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the Sage Pay interface:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>Sage Pay</strong>.<br>
→ The <strong>Interface</strong> tab will open.</p>
</li>
<li>
<p>Expand the client.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in <a href="#table-setup-sage-pay-interface">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-setup-sage-pay-interface" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. setting up the Sage Pay interface</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vendor</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the vendor name that you received from Sage Pay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate iframe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate iframe so that customers will not be forwarded to Sage Pay. Instead, they will be able to enter their credit card details directly in your online store.<br>
Deactivate iframe so that your customers will be forwarded to Sage Pay. They will have to select their credit card and enter their information on the Sage Pay website.<br>
<strong><em>Important</em></strong>: Please note that the activated iframe option is not compatible with local European payment methods.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate test mode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the test mode and check the Sage Pay functions before working live with the system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Client (store) options</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate access data for all clients (stores)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only visible if clients (stores) were set up. Activate to apply the account settings saved for the main store by clicking on <strong>Add account</strong> for all clients (shops). This setting is dominant over the settings saved for each client. Deactivate to use separate access data for your clients (stores). Online stores that do not have account settings saved for them cannot be used with Sage Pay.<br>
Go to <a href="/en/omni-channel/online-store/setting-up-clients/online-store">System » Client » Select client » Online store » Settings</a> and make sure that you have selected the option <strong>Enable login for every store</strong> in the line <strong>Login</strong>. This makes it possible to support several clients.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="60">4. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up and activate the <a href="/en/order-processing/payment/managing-payment-methods#20">payment methods</a> Sage Pay, Sage Pay deferred and Sage Pay authenticate in the <strong>Settings</strong> tab of the payment methods. In addition, check the settings for <strong>Permitted payment methods</strong> in the <a href="/en/order-processing/payment/managing-payment-methods#30">customer classes</a> and for <strong>Blocked payment methods</strong> in the <a href="/en/order-processing/fulfilment/preparing-the-shipment#1000">shipping profiles</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="70">5. Authorising or cancelling payments</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Orders that are paid for with Sage Pay are authorised or cancelled differently in plentymarkets depending on which Sage Pay payment method was used and how far the payment has progressed.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Event procedure for cancellations</div>
<div class="paragraph">
<p>When the status changes to <strong>cancelled</strong>, the cancellation will automatically be reported to Sage Pay with the help of the <strong>event procedure</strong>. In this case, you do not have to click on <strong>cancel</strong> in the <strong>Settings</strong> tab.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="80">5.1. Cancelling a Sage Pay Payment</h3>
<div class="paragraph">
<p>If an order was paid for with <strong>Sage Pay Payment</strong>, then the payment was automatically booked. Proceed as follows to cancel the payment.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Same-day cancellation only</div>
<div class="paragraph">
<p>When using this payment method, it is only possible to cancel payment in plentymarkets on the same day that the order was received. It may be possible to cancel the payment later in your Sage Pay account.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Cancelling a Sage Pay Payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the order that you want to cancel.<br>
→ The <strong>Overview</strong> will open.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Cancel booked SagePay payment</strong>.</p>
</li>
<li>
<p>Change the order’s <strong>status</strong> to <strong>cancelled</strong>.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>With the help of an event procedure you send the <a href="/en/order-processing/payment/sage-pay#110">cancellation</a> to Sage Pay.</p>
</div>
</div>
<div class="sect2">
<h3 id="90">5.2. Cancelling a Sage Pay deferred or authenticate payment</h3>
<div class="paragraph">
<p>Proceed as follows to cancel a payment that was not yet authorised or released.</p>
</div>
<div class="paragraph instruction">
<p>Cancelling a payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the order that contains a payment that you want to cancel.<br>
→ The <strong>Overview</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Cancel SagePay payment</strong>.<br>
→ The payment will be cancelled.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>With the help of an event procedure you send the <a href="/en/order-processing/payment/sage-pay#110">cancellation</a> to Sage Pay.</p>
</div>
</div>
<div class="sect2">
<h3 id="100">5.3. Authorising a Sage Pay deferred or authenticate payment</h3>
<div class="paragraph">
<p>Carry out the following steps to receive payment for an order that was paid for with Sage Pay deferred or authenticate.</p>
</div>
<div class="paragraph instruction">
<p>Authorising a payment:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the order that contains a payment that you want to authorise.<br>
→ The <strong>Overview</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Click on <strong>Authorise/release SagePay payment</strong>.<br>
→ The payment will be released or authorised.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Cancelling authorised or released payments</div>
<div class="paragraph">
<p>Once a payment was authorised or released, it can only be cancelled on the same day. Once an order was authorised/released, the option <strong>Cancel booked SagePay payment</strong> will appear in the order’s <strong>Settings</strong>. Click the option to cancel the payment.<br>
Then change the order status to <strong>cancelled</strong> manually.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="110">6. Automatically sending cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/basics/automation/event-procedures">event procedure</a> to automatically inform Sage Pay of cancellations.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 2.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 2 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. event procedure for automatically sending cancellations to Sage Pay</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Status change</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select status for <strong>cancelled orders</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sage Pay</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment methods &gt; Send cancellation to Sage Pay (all)</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment methods &gt; Send cancellation to Sage Pay (authenticate)</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure 3</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment methods &gt; Send cancellation to Sage Pay (deferred)</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">One event procedure per payment method</div>
<div class="paragraph">
<p>Create an individual event procedure for each payment method. Otherwise unintended messages could be triggered. If you select multiple payment methods in the <strong>Filter</strong> tab, then the message that was triggered will also be sent to the other payment providers that were selected. Furthermore, always select 2 procedures for <strong>deferred</strong> and <strong>authenticate</strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="120">7. Automatically sending credit notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>If you already received a payment and you want to refund a customer, set up an <a href="/en/basics/automation/event-procedures">event procedure</a> to automatically send credit notes to Sage Pay.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 3.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 3 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. event procedure for automatically sending credit notes to Sage Pay</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation: New credit note</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sage Pay</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment methods &gt; Send credit note to Sage Pay</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>