<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Important notes</span></a></li>
<li><a href="#20"><span>2.</span><span> Registering with WorldPay</span></a></li>
<li><a href="#30"><span>3.</span><span> Setting up WorldPay in plentymarkets</span></a></li>
<li><a href="#40"><span>4.</span><span> Activating the payment method</span></a></li>
<li><a href="#50"><span>5.</span><span> Carrying out settings in the WorldPay account</span></a>
<ul class="sectlevel2">
<li><a href="#60"><span>5.1.</span><span> Setting up the merchant channel</span></a></li>
<li><a href="#70"><span>5.2.</span><span> Setting up the data exchange with plentymarkets</span></a></li>
</ul>
</li>
<li><a href="#80"><span>6.</span><span> Automatically sending shipping confirmations</span></a></li>
<li><a href="#90"><span>7.</span><span> Automatically sending cancellations or credit notes</span></a></li>
<li><a href="#100"><span>8.</span><span> Automatically sending cancellations</span></a></li>
<li><a href="#110"><span>9.</span><span> Automatically sending credit notes</span></a></li>
<li><a href="#120"><span>10.</span><span> Manually creating credit notes</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Worldpay</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Integration only for Callisto online stores</div>
<div class="paragraph">
<p>This page only contains instructions for integrating <strong>WorldPay</strong> in Callisto online stores. The following instructions are not valid for Ceres online stores!</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>WorldPay is a payment provider based in the USA and the United Kingdom that allows online sellers to accept card payments online. UK sellers can use all services offered by WorldPay whilst German online sellers can take advantage of most of the payment provider’s service portfolio. Contact the WorldPay support to select the cards you want to accept for payment.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Important notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>This chapter provides you with important information about integrating the payment provider in plentymarkets.</p>
</div>
<div class="paragraph subhead">
<p>Payment process</p>
</div>
<div class="paragraph">
<p>Your customers can select a payment method during the order process as usual. If they decide to pay using WorldPay, they select the desired card in a new window and enter the card data. End customers do not have to register with WorldPay. After the data has been authorised, customers are forwarded back to your online store.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Corporate Gateway</div>
<div class="paragraph">
<p>The interface between WorldPay and plentymarkets is based on the <strong>Corporate Gateway</strong> contract model. The CardPay interface is not supported.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Registering with WorldPay</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To integrate WorldPay into your online store as a payment method, you need to register with WorldPay and activate an account. To do so, fill in and send the <a href="https://secure.worldpay.com/app/" target="_blank" rel="noopener">WorldPay application form</a>. You will receive an email from WorldPay containing information about the next steps. Once WorldPay accepts your application, you will receive your WorldPay login details and a link to an online activation request where you enter and send the URL of your online store. WorldPay then checks if the payment page of your online store is fully functional and activates you for online transactions in the WorldPay systems.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Setting up WorldPay in plentymarkets</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To set up WorldPay in plentymarkets you need the access data that is stored in the WorldPay back end under <strong>Profiles</strong>. Proceed as described below to set up the interface to WorldPay.</p>
</div>
<div class="paragraph instruction">
<p>Setting up the WorldPay interface:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Payment » Methods</strong>.</p>
</li>
<li>
<p>Place a check mark next to the setting <strong>Also show inactive</strong>.</p>
</li>
<li>
<p>Open the folder <strong>International</strong>.</p>
</li>
<li>
<p>Click on <strong>WorldPay</strong>.<br>
→ The <strong>Settings</strong> tab will open.</p>
</li>
<li>
<p>Click on the <strong>Interface</strong> tab.</p>
</li>
<li>
<p>Expand the client.</p>
</li>
<li>
<p>Carry out the settings as desired. Pay attention to the information given in <a href="#table-setup-worldpay-interface">Table 1</a>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
<table id="table-setup-worldpay-interface" class="tableblock frame-all grid-all spread">
<caption class="title">Table 1. setting up the WorldPay interface</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Admin ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the Admin ID as received from WorldPay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Merchant ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the Merchant ID as received from WorldPay.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>XML password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter password as saved in the WorldPay back end.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Max. order amount in GBP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the maximum order amount in GBP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate test mode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the test mode and check the WorldPay functions before working live with the system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Client (store) - options</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate access data for all clients (stores)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Only visible if clients (stores) were set up. Activate to apply the account settings saved for the main store by clicking on <strong>Add account</strong> for all clients (shops). This setting is dominant over the settings saved for each client. Deactivate to use separate access data for your clients (stores). Online stores that do not have account settings saved for them cannot be used with WorldPay.<br>
Go to <a href="/en/omni-channel/online-store/setting-up-clients/online-store">System » Client » Select client » Online store » Settings</a> and make sure that you have selected the option <strong>Enable login for every store</strong> in the line <strong>Login</strong>. This makes it possible to support several clients.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="40">4. Activating the payment method</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up and activate the WorldPay <a href="/en/order-processing/payment/managing-payment-methods#20">payment method</a> in the <strong>Settings</strong> tab of the payment method. In addition, check the settings for <strong>Permitted payment methods</strong> in the <a href="/en/order-processing/payment/managing-payment-methods#30">customer classes</a> and for <strong>Blocked payment methods</strong> in the <a href="/en/order-processing/fulfilment/preparing-the-shipment#1000">shipping profiles</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">5. Carrying out settings in the WorldPay account</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You have to save some data in your WorldPay back end to make sure the interface is fully functional. To do so, log into your WorldPay account and carry out the following settings in the <strong>Merchant Channel</strong> menu in your profile.</p>
</div>
<div class="sect2">
<h3 id="60">5.1. Setting up the merchant channel</h3>
<div class="paragraph">
<p>Set up the merchant channel in the WorldPay back end.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Select <strong>yes</strong> under <strong>Active</strong> in the <strong>http</strong> row of the <strong>Merchant Channels</strong> area.</p>
</li>
<li>
<p>Select <strong>cgi</strong> from the <strong>Content</strong> drop-down list.</p>
</li>
<li>
<p>Enter the plentymarkets URL into the <strong>Address</strong> field: <strong><a href="http://*your-plentystore.co.uk" class="bare">http://*your-plentystore.co.uk</a></strong>/plenty/api/payment_notification.php?payment=worldpay*<br>
→ Replace "your-plentystore" with your own store.</p>
</li>
<li>
<p>Select <strong>POST</strong> from the drop-down list under <strong>Method</strong>.</p>
</li>
<li>
<p>Click on <strong>Save the settings</strong>.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="70">5.2. Setting up the data exchange with plentymarkets</h3>
<div class="paragraph">
<p>In the <strong>Merchant Channel</strong> menu, you also set the information you want to receive and via which WorldPay channel you want to receive it. The recommended method for plentymarkets is described below. Using this method, the data will be added to your system directly.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Activate the options that you want to transfer to plentymarkets in the <strong>http</strong> row of the <strong>Merchant Channel Events</strong> area.</p>
</li>
<li>
<p>Click on <strong>Save the settings</strong>.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="80">6. Automatically sending shipping confirmations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/basics/automation/event-procedures">event procedure</a> to automatically send shipping confirmations when the outgoing items are booked. The shipping confirmation will automatically trigger a transfer of the payment made by the customer from WorldPay to you. The WorldPay payment status will change from <strong>authorised</strong> to <strong>captured</strong>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 2.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 2 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 2. event procedure for sending automatic shipping confirmations to WorldPay</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Outgoing items booked</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WorldPay</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping &gt; Send shipping confirmation to WorldPay</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="90">7. Automatically sending cancellations or credit notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Set up an <a href="/en/basics/automation/event-procedures">event procedure</a> to automatically inform WorldPay of cancellations or credit notes.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Tip: One event procedure for two events</div>
<div class="paragraph">
<p>Set up one event procedure for two events. The event procedure will change according to the payment status on WorldPay. If the WorldPay payment status for the payment is still <strong>authorised</strong> (i.e. the payment was not transferred yet), a cancellation is sent automatically. If the WorldPay payment status has changed to <strong>captured</strong> (i.e. the payment has already been transferred), a credit note is sent automatically.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 3.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 3 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 3. event procedure for automatically sending cancellations or credit notes to WorldPay</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Status change</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select status for <strong>cancelled orders</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WorldPay</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment methods &gt; Send cancellation or credit note to WorldPay</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">8. Automatically sending cancellations</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As an alternative to the previous event procedure, set up an <a href="/en/basics/automation/event-procedures">event procedure</a> to automatically inform WorldPay of cancellations. You can only use this event procedure to cancel a payment if it has not been collected using the event procedure above, i.e. if it is still in the WorldPay status <strong>authorised</strong>. Subsequently, set up a second event procedure to automatically inform WorldPay of <a href="/en/order-processing/payment/worldpay#110">credit notes</a>.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 4.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 4 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 4. event procedure for automatically sending cancellations to WorldPay</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order change: Status change</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select status for <strong>cancelled orders</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 1</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WorldPay</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment methods &gt; Send cancellation to WorldPay</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="110">9. Automatically sending credit notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have collected a payment from WorldPay and the WorldPay status has changed to <strong>captured</strong>, you can no longer send a cancellation. You need to send a credit note instead. Set up an <a href="/en/basics/automation/event-procedures">event procedure</a> to automatically send credit notes to WorldPay.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Setting up an event procedure</div>
<div class="content">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>System » Orders » Events</strong>.</p>
</li>
<li>
<p>Click on <strong>Add event procedure</strong>.<br>
→ The <strong>Create new event procedure</strong> window will open.</p>
</li>
<li>
<p>Enter a name.</p>
</li>
<li>
<p>Select the <strong>event</strong> listed in table 5.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
<li>
<p>Pay attention to the explanations given in table 5 and carry out the settings as desired.</p>
</li>
<li>
<p>Place a check mark next to the option <strong>Active</strong>.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</div>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Table 5. event procedure for automatically sending credit notes to WorldPay</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Selection</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Event</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order generation: New credit note</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Filter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order &gt; Payment method</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>WorldPay</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Procedure</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment methods &gt; Send credit note to WorldPay</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="120">10. Manually creating credit notes</h2>
<div class="sectionbody">
<div class="paragraph">
<p>It may be necessary to manually create credit notes for individual orders that are processed with WorldPay. You can report individual credit note amounts to WorldPay. To do so, proceed as follows.</p>
</div>
<div class="paragraph instruction">
<p>Send credit note to WorldPay:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Orders » Edit orders</strong>.</p>
</li>
<li>
<p>Open the WorldPay order.<br>
→ The <strong>Overview</strong> tab will open.</p>
</li>
<li>
<p>Select the option <strong>create</strong> from the <strong>Credit note…​</strong> drop-down list.<br>
→ The credit note will be created.</p>
</li>
<li>
<p>Open the newly created <strong>credit note</strong>.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> tab.</p>
</li>
<li>
<p>Enter the amount into the <strong>Send WorldPay credit note</strong> field.</p>
</li>
<li>
<p>Click on <strong>Send credit note to WorldPay</strong>.<br>
→ The credit note will be sent to WorldPay.</p>
</li>
</ol>
</div>
</div>
</div>
</main>