<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Setting up the Elastic Export plugin</span></a>
<ul class="sectlevel2">
<li><a href="#20"><span>1.1.</span><span> Licence</span></a></li>
</ul>
</li>
<li><a href="#50"><span>2.</span><span> Creating export formats for interfaces</span></a>
<ul class="sectlevel2">
<li><a href="#100"><span>2.1.</span><span> Registering with an interface partner</span></a></li>
<li><a href="#200"><span>2.2.</span><span> Overview of export formats</span></a></li>
<li><a href="#300"><span>2.3.</span><span> Creating export formats</span></a></li>
<li><a href="#400"><span>2.4.</span><span> Editing export formats</span></a></li>
<li><a href="#500"><span>2.5.</span><span> Filtering export formats</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Elastic export</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>The elastic export is used to export data from your plentymarkets system. There are two possible ways to use the elastic export:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Export data from your plentymarkets system. To do so, first use the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/formatdesigner_6483" target="_blank" rel="noopener">FormatDesigner</a> to create so-called data formats. In other words, you’ll decide which data should be exported. Second, use the <a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastic Export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to export the data formats that you have just created.</p>
</li>
<li>
<p>Create export formats for price search engines, price comparison portals, markets, and affiliate service providers in order to export data to the interfaces. Further information can be found in the <a href="#50">Creating export formats for interfaces</a> chapter.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Setting up the Elastic Export plugin</h2>
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Download the Elastic Export plugin</div>
<div class="paragraph">
<p>The Elastic Export is a plugin. In order to use the Elastic Export plugin, download it in the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>The Elastic Export plugin allows you to create exports for the areas mentioned above. It is possible to add more data formats to the Elastic Export through Marketplace plugins. In order to use further plugin formats, the Elastic Export plugin has to be deployed first.</p>
</div>
<div class="sect2">
<h3 id="20">1.1. Licence</h3>
<div class="paragraph">
<p>This project is licensed under the GNU AFFERO GENERAL PUBLIC LICENSE - find further information in the <a href="https://github.com/plentymarkets/plenty-plugin-elastic-export/blob/master/LICENSE.md" target="_blank" rel="noopener">LICENSE.md</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="50">2. Creating export formats for interfaces</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Use the <strong>Data » Elastic export</strong> menu to create export formats for price search engines, price comparison portals, markets and affiliate service providers in order to export data to the interface partners. In order to use the elastic export, install the plugin in your plentymarkets system.<br></p>
</div>
<div class="paragraph">
<p>Further export formats for the elastic export are available in the plentyMarketplace. In order to use an export format for the elastic export, install a plugin in your plentymarkets system.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Plugin set linked to default client</div>
<div class="paragraph">
<p>Install the <a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastic Export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> plugin and the plugins for the export formats in a plugin set that is linked to the default client.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="100">2.1. Registering with an interface partner</h3>
<div class="paragraph">
<p>Before you can transfer your export format to an interface partner, you have to register on the partner’s website and follow the instructions given there. Refer to <a href="#export-formats">Table 1</a> for links to the price search engines, price portals, markets and affiliate service providers that have a plugin interface in plentymarkets. All data formats have to be installed from the plentyMarketplace first. Only the export format <strong>BolItemExport</strong> is available without additional plugins.</p>
</div>
</div>
<div class="sect2">
<h3 id="200">2.2. Overview of export formats</h3>
<table id="export-formats" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Export formats for the elastic export</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Export format</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AwinCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportawincom_4762" target="_blank" rel="noopener">AWIN</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> offers performance-based online and affiliate marketing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BasicPriceSearchEngine</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the format <a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportbasicpricesearchengine_4777" target="_blank" rel="noopener">BasicPriceSearchEngine</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> if you do not wish to select a specific price search engine. It can be used for most price search engines.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BeezUp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportbeezup_4768" target="_blank" rel="noopener">BeezUp</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a tool for managing and improving the way items are presented in price comparison portals, on markets and with affiliate services.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BelboonDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The affiliate network <a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportbelboonde_4759" target="_blank" rel="noopener">belboon</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> specialises in the implementation of performance marketing measures.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BilligerDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportbilligerde_4901" target="_blank" rel="noopener">billiger.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a TÜV certified German price comparison portal. The platform also offers test reports and customer reviews. Please note that this website is currently only available in German.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BolItemExport</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items are sold on the market <strong>bol.com</strong>. This export format is required for your item catalogue to be exported to bol.com. For further information about setting up bol.com in plentymarkets, refer to the <a href="/en/markets/bol-com">Setting up bol.com</a> manual page.<br>
The export format <strong>BolItemExport</strong> is included in the <strong>ElasticExport</strong> plugin.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CdiscountCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items are sold on the market <a href="https://marketplace.plentymarkets.com/en/plugins/channels/marketplaces/elasticexportcdiscountcom_4738" target="_blank" rel="noopener">Cdiscount</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. For further information about this market, refer to the <a href="/en/markets/cdiscount">Setting up Cdiscount</a> manual page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Check24</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items are sold on the market <a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportcheck24de_4730" target="_blank" rel="noopener">Check24</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EcondaDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/integration/elasticexportecondade_4774/" target="_blank" rel="noopener">econda</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> offers a controlling solution for analysing and improving online stores comprehensively.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FashionDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportfashionde_4742" target="_blank" rel="noopener">Fashion.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a price comparison portal for fashion and lifestyle. Please note that this website is currently only available in German.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GeizhalsDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportgeizhalsde_4743" target="_blank" rel="noopener">Geizhals</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is an independent price comparison and information platform that specialises in hardware and consumer electronics. The plugin currently only matches the German platform.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GoogleShopping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The price comparison portal <a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportgoogleshopping_4722" target="_blank" rel="noopener">GoogleShopping</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> offers search and comparison functions as well as links to the product pages in other online stores. Store owners can display their products in Google Shopping lists within the Google search. Stores are billed for the service per click. This format is based on Google Shopping International.<br>
Therefore, linked characteristic values and availabilities have to be saved in English.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GuenstigerDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportguenstigerde_4745" target="_blank" rel="noopener">guenstiger.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a price comparison portal that also offers customer opinions, test reports and seller reviews. Please note that this website is currently only available in German.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IdealoDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportidealode_4723" target="_blank" rel="noopener">idealo</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a German price comparison portal that also offers test reports, price notifications and product comparisons. Please note that this website is currently only available in German.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>KaufluxDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items are sold on the market <a href="https://marketplace.plentymarkets.com/en/plugins/markets/ElasticExportKaufluxDE_4737" target="_blank" rel="noopener">Kauflux</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. For further information about setting up Kauflux, refer to the <a href="/en/markets/kauflux">Setting up Kauflux</a> manual page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>KelkooDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportkelkoode_5041" target="_blank" rel="noopener">Kelkoo</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a price comparison search engine for shopping and travel.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>KuponaDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportkuponade_4756" target="_blank" rel="noopener">KUPONA</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is an agency for online performance marketing. It is active in the fields of display performance advertising, retargeting, affiliate marketing and product data marketing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MyBestBrandsDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportmybestbrandsde_4731" target="_blank" rel="noopener">Mybestbrands</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a recommendation platform for discounted fashion and lifestyle products, as well as for electronic products from well-known brand name manufacturers. Please note that this website is currently only available in German.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RakutenDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items are sold on the market <a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/elasticexportrakutende_4721" target="_blank" rel="noopener">Rakuten</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. For further information about setting up Rakuten, refer to the <a href="/en/markets/rakuten/rakuten-setup">Setting up Rakuten</a> manual page.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingProfiles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the format <a href="https://marketplace.plentymarkets.com/en/plugins/integration/ElasticExportShippingProfiles_4747" target="_blank" rel="noopener">ShippingProfiles</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to export shipping profiles.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shopping24DE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportshopping24de_4734" target="_blank" rel="noopener">shopping24</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a subsidiary of the Otto Group and an online portal for price and product comparisons. Please note that this website is currently only available in German.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShoppingCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportshoppingcom_4755" target="_blank" rel="noopener">Shopping.com</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is an international product and price comparison service.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShopzillaDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportshopzillade_4770" target="_blank" rel="noopener">Shopzilla</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a price comparison platform.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TracdelightCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexporttracdelightcom_4771" target="_blank" rel="noopener">tracdelight</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a network for advertising agencies and publishing companies that focus on fashion and lifestyle.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>treepodia</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexporttreepodiacom_4776" target="_blank" rel="noopener">treepodia</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> offers you the possibility to automatically create product videos from item images and to integrate them into the item layouts in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TwengaCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexporttwengacom_4746" target="_blank" rel="noopener">Twenga</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is an international shopping platform that offers comprehensive price comparisons.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="300">2.3. Creating export formats</h3>
<div class="paragraph">
<p>This chapter teaches you how to create new export formats and which settings you can carry out. All data formats have to be installed from the <a href="https://marketplace.plentymarkets.com/en" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> first. Only the format <strong>BolItemExport</strong> is available straight away.</p>
</div>
<div class="paragraph instruction">
<p>Creating a new export format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <strong>New export</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#settings-elastic-export">Table 2</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The export format is given an ID and it appears in the overview within the <strong>Exports</strong> tab.</p>
</li>
</ol>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Item filters for the elastic export</div>
<div class="paragraph">
<p>Please note that no item filters for the elastic export are set by default. If you do not add any item filters, all items are exported.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="settings-elastic-export" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Settings for a new export</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name. The export format is listed by this name in the overview within the <strong>Exports</strong> tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the data type that should be exported from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a format for the export from the drop-down list. Only formats that were installed from the plentyMarketplace are available. Exception: The format <strong>BolItemExport</strong> is available straight away.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number. If you want to transfer more than 9,999 data records to the interface, the output file will not be generated again for another 24 hours. This is to save resources. If more than 9999 data records are necessary, the option <strong>Generate cache file</strong> has to be active.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate cache file</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Place a check mark if you want to transfer more than 9,999 data records to the interface. In order to ensure a high performance of the elastic export, do not activate this option for more than 20 export formats.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>URL</strong>, <strong>FTP</strong> or <strong>Admin area</strong>.<br>
Different settings will appear depending on which option is selected here.<br>
<strong>URL</strong>: Use this option to generate a token for authentication in order to allow external access.<br>
<strong>FTP</strong>: Server on which the file is saved.<br>
<strong>Admin area</strong>: External access is not possible.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Token</strong>,<br>
<strong>URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the option <strong>URL</strong> under <strong>Provisioning</strong>, click on <strong>Generate token</strong>. The token is entered automatically. The URL is entered automatically if the token has been generated under <strong>Token</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Server</strong>,<br>
<strong>Port</strong>,<br>
<strong>User name</strong>,<br>
<strong>Password</strong>,<br>
<strong>Path</strong>,<br>
<strong>Transfer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the option <strong>FTP</strong> under <strong>Provisioning</strong>, enter the parameters. The standard FTP port is <strong>21</strong>.<br>
<strong>Transfer:</strong> If you selected the option <strong>FTP</strong> under <strong>Provisioning</strong>, select an interval for the export. If you select the setting <strong>Schedule</strong>, determine a time frame for the data transfer under <strong>Schedule</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If you selected the option <strong>Admin area</strong> under <strong>Provisioning</strong>, enter the file name. Each provisioning type requires that the file name has the ending of the file format, e.g. use the suffix .csv for a CSV file.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Item filters</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Add item filters</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Select the items you wish to export. To do so, select an item filter from the drop-down list and click on <strong>Add</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>). There are no filters set by default. It is possible to add multiple item filters from the drop-down list one after the other.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Active</strong> = Only active variations are exported.</p>
</li>
<li>
<p><strong>Item type</strong> = Only items of the selected item type are transferred.</p>
</li>
<li>
<p><strong>Stock</strong> = Select which stocks should be exported.</p>
</li>
<li>
<p><strong>Image</strong> = Activate to transfer the item with its image. Only items with images are transferred.</p>
</li>
<li>
<p><strong>Manufacturers</strong> = Select one, several or <strong>ALL</strong> manufacturers.</p>
</li>
<li>
<p><strong>Category</strong> = Activate to transfer the item with its category link. Only items belonging to this category are exported.</p>
</li>
<li>
<p><strong>Client</strong> = Select a client.</p>
</li>
<li>
<p><strong>Flag 1-2</strong> = Select a flag.</p>
</li>
<li>
<p><strong>Markets</strong> = Select one market, several or <strong>ALL</strong>. The availability for all markets selected here has to be saved for the item. Otherwise, the export will not take place.</p>
</li>
<li>
<p><strong>Positive stock for given warehouse</strong> = Select a warehouse from the drop-down list that opens to only export variations with positive stock in this warehouse.<br>
<strong><em>Note:</em></strong> This stock filter only applies to FormatDesigner formats of the type <strong>Item</strong>.</p>
</li>
<li>
<p><strong>Prices</strong> = Only items with the selected price are exported.<br></p>
<div class="ulist">
<ul>
<li>
<p><strong>Without price</strong> = Items without price are transferred.<br></p>
</li>
<li>
<p><strong>With price</strong> = Items with price are transferred.<br></p>
</li>
<li>
<p><strong>With price lower</strong> = Enter a price. Items with a lower price than the price that was entered are exported.<br></p>
</li>
<li>
<p><strong>With price higher</strong> = Enter a price. Items with a higher price than the price that was entered are exported.<br></p>
</li>
<li>
<p><strong>With price between</strong> = Enter a lower limit and upper limit. Items with a price between the two values are exported.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Tag (AND mode)</strong> = Enter one or more tag names. Items that are linked to <em>all</em> of the selected <a href="/en/welcome/general-functions/tags">tags</a> are exported.</p>
</li>
<li>
<p><strong>Tag (OR mode)</strong> = Enter one or more tag names. Items that are linked to <em>at least one</em> of the selected <a href="/en/welcome/general-functions/tags">tags</a> are exported.</p>
</li>
<li>
<p><strong>Variations</strong> = Select the variations to be transferred.<br></p>
<div class="ulist">
<ul>
<li>
<p><strong>Transfer all</strong> = All variations are transferred.<br></p>
</li>
<li>
<p><strong>Only transfer main variations</strong> = Only main variations are transferred.<br></p>
</li>
<li>
<p><strong>Do not transfer main variations</strong> = Only the other variations of an item are transferred. Main variations are not transferred.<br></p>
</li>
<li>
<p><strong><em>Tip:</em></strong> Use this option if the main variations are virtual and not for sale.<br></p>
</li>
<li>
<p><strong>Only transfer single variations</strong> = Only those main variations of items are transferred that only have a main variation and no other variations.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong>Currency</strong> = Select a currency.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock">Format settings</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Choose the URL that you wish to transfer to the interface. You can choose between the item’s URL and the variation’s URL. URLs of variations can only be transferred in combination with the Ceres online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client. This setting is used for the URL structure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a suffix for the product URL if this is required for the export. This character string is added to the product URL if you have activated the <strong>transfer</strong> option for the product URL further up.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandatory field</strong><br>
Select the order referrer from the drop-down list. This setting depends on the selected order referrer and is needed for the SKU generation. The selected referrer is added to the product URL so that sales can be analysed later.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marketplace account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the marketplace account from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the language from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>. These names are saved in the <strong>Texts</strong> tab of the item.<br>
Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This defines how many characters are exported for the item name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the text that you want to transfer as preview text.<br>
Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the preview text. <br>
Activate the <strong>Remove HTML tags</strong> option if you want HTML tags to be removed during the export.<br>
If you only want to allow specific HTML tags to be exported, enter these tags into the <strong>Permitted HTML tags, separated by comma (def. text)</strong> field.  Use commas to separate multiple tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the text that you want to transfer as description.<br>
Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the description. <br>
Activate the <strong>Remove HTML tags</strong> option if you want HTML tags to be removed during the export.<br>
If you only want to allow specific HTML tags to be exported, enter these tags into the <strong>Permitted HTML tags, separated by comma (def. text)</strong> field.  Use commas to separate multiple tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the target country from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the ASIN, ISBN or an EAN from the drop-down list. The barcode has to be linked to the order referrer selected above. Otherwise, the barcode will not be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Position 0</strong> or <strong>First image</strong> to export this image.<br>
<strong>Position 0</strong> = An image with position 0 is transferred.<br>
<strong>First image</strong> = The first image is transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position of the energy label</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the position of the energy label. Every image that should be transferred as an energy label has to have this position.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock buffer for variations with limitation to the net stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variation without stock limitation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock for variations without stock limitation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations with no stock administration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock for variations without stock administration.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Live currency conversion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option to convert the price into the currency of the selected country of delivery. The price has to be released for the corresponding currency.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select gross price or net price from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offer price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to transfer the offer price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RRP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to transfer the RRP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option if you want to use the shipping costs that are saved in a configuration. If this option is activated, you are able to select the configuration and the payment method from the drop-down lists.<br>
 Activate the option <strong>Transfer flat rate shipping charge</strong> if you want to use a fixed shipping charge. If this option is activated, a value has to be entered in the line underneath.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT note</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter text. This amount includes the VAT but does not include shipping.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the <strong>overwrite</strong> option and enter item availabilities into the fields <strong>1</strong> to <strong>10</strong>. The fields represent the IDs of the availabilities. This overwrites the item availabilities that are saved in the <strong>Setup » Item » Availability</strong> menu.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">2.4. Editing export formats</h3>
<div class="paragraph">
<p>All of the export formats that you created are displayed in the overview in the <strong>Data » Elastic export » Tab: Exports</strong> menu. Use the <strong>Customise the layout</strong> function to select the columns to be displayed. Point your cursor over the toolbar and click on <strong>Customise the layout</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>). The <strong>Customise the layout</strong> window opens and you can activate or deactivate the columns. The following columns are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ID</p>
</li>
<li>
<p>Name</p>
</li>
<li>
<p>Download</p>
</li>
<li>
<p>Type</p>
</li>
<li>
<p>Format</p>
</li>
<li>
<p>Limit</p>
</li>
<li>
<p>Last export change</p>
</li>
<li>
<p>Export created at</p>
</li>
<li>
<p>Delete</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Open an export format to check or edit its settings.</p>
</div>
<div class="paragraph instruction">
<p>Editing an export format:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Open the export format.</p>
</li>
<li>
<p>Carry out the desired changes. Pay attention to the explanations given in <a href="#settings-elastic-export">Table 2</a> and <a href="#toolbar-export-format">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/elastischer-export-symbolleiste.png" alt="elastischer export symbolleiste">
</div>
<div class="title">Figure 1. An export format’s toolbar</div>
</div>
<table id="toolbar-export-format" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. An export format’s toolbar</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 10%;">
<col style="width: 70%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Procedure</th>
<th class="tableblock halign-left valign-top">Icon</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Save</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon green"><i class="fa fa-plus-square  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Save the settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID of the export format. The ID is assigned automatically.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Copy</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon yellow"><i class="fa fa-copy  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Copy the export format with all of its settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Download</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon purple"><i class="fa fa-download  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Download the export file.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Last export change</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date and time when changes were last made.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export created at</strong></p></td>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date and time when the export was created.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><span class="icon red"><i class="fa fa-minus-square  "></i></span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Delete the export format.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">2.5. Filtering export formats</h3>
<div class="paragraph">
<p>You can use specific criteria to filter your export formats. This helps to reduce the results displayed in the <strong>Exports</strong> tab.</p>
</div>
<div class="paragraph instruction">
<p>Filtering export formats:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Carry out the settings in the <strong>Filter</strong> section. Pay attention to the explanations given in <a href="#filter-settings-elastic-export">Table 4</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</li>
</ol>
</div>
<table id="filter-settings-elastic-export" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Filter settings in the <strong>Data » Elastic export</strong> menu</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the ID to search for the variation with this ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter part of a name or the full name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type <strong>item</strong> or <strong>All</strong> from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a format from the drop-down list. A list of all the export formats that match the selected format is displayed.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Deleting search criteria</div>
<div class="paragraph">
<p>Click on <strong>Reset</strong> (<span class="icon orange"><i class="fa fa-undo  "></i></span>) to delete the search criteria. Then click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>) again. All of your export formats are displayed in the overview and you can select new filters.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</main>