<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#50"><span>1.</span><span> Setting up the plugin</span></a></li>
<li><a href="#100"><span>2.</span><span> Creating a format</span></a></li>
<li><a href="#110"><span>3.</span><span> Editing the format</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>FormatDesigner</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Do you want to export data from your plentymarkets system? There are just two easy steps:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>First you’ll use the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/formatdesigner_6483" target="_blank" rel="noopener">FormatDesigner</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to create so-called data formats. In other words, you’ll decide which data should be exported.</p>
</li>
<li>
<p>Second, you’ll use the <a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Elastic Export</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to export the data formats that you’ve just created.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>This page of the manual explains the first step. Here you’ll learn how to <a href="/en/data/exporting-data/FormatDesigner#50">set up the FormatDesigner plugin</a>, how to <a href="/en/data/exporting-data/FormatDesigner#100">create data formats</a> and <a href="/en/data/exporting-data/FormatDesigner/format-types">which types of data</a> you can export.</p>
</div>
<div class="paragraph">
<p>The second step, i.e. the actual import, is done in the menu <strong>Data » Elastic export</strong>. You can find further information about the second step on the <a href="/en/data/exporting-data/elastic-export">elastic export</a> page of the manual.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="50">1. Setting up the plugin</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Find the <a href="https://marketplace.plentymarkets.com/en/plugins/integration/formatdesigner_6483" target="_blank" rel="noopener">FormatDesigner plugin on plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> and add the plugin to your system. Refer to the <a href="/en/plugins">plugin chapter</a> for basic information about adding plugins to your plentymarkets system.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Is the plugin up to date?</div>
<div class="paragraph">
<p>Plugins are constantly being updated and improved. Before you start creating data formats, open the menu <strong>Plugins » Plugin overview » Open plugin set</strong> and make sure you’re using the most current version of the plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">FormatDesigner plugin has replaced the ElasticSync plugin</div>
<div class="paragraph">
<p>Do you still use the ElasticSync plugin to create export formats? This plugin will no longer be updated in the future. Therefore, we recommend that you switch to the FormatDesigner plugin and that you delete the ElasticSync plugin from your plugin set.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="100">2. Creating a format</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » FormatDesigner</strong>.</p>
</li>
<li>
<p>Click on <strong>Add format</strong>.</p>
</li>
<li>
<p>Enter a unique name.</p>
</li>
<li>
<p>Select the desired format and field separator.</p>
</li>
<li>
<p>Click on <strong>Save</strong>.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="110">3. Editing the format</h2>
<div class="sectionbody">
<div class="paragraph">
<p>As soon as a format is created or opened, the editing window for the format opens. The available data fields are displayed on the right-hand side. By clicking on a field, this field is added to the left side of the screen. Once a data field has been created, it can be further edited. Once the data field was saved it is added to the export.</p>
</div>
<table id="table-settings-data-fields" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Settings for the data fields</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the data format. The name is displayed in the column header of the CSV file.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Move</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Left of the data field name is a section marked with dots where you can move and position the data fields. Specify the order of the columns of the CSV file by moving the data fields.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mapping</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Data fields, e.g. VariationSalesPrice.price, require additional mapping because more than one price may exist for every variation. The mapping allows you to export a specific sales price. To export more than one sales price, you can add the data field to the export format several times and map these fields to different sales prices. For data fields that do not require any additional mapping, the button is deactivated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Change value</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Data fields with numeric values can be changed with procedures during the export. As many procedures can be added as desired. These procedures are carried out sequentially and manipulate the value based on the setting selected.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Remove data field</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The data field is removed from the format.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>