<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#manage-catalogues"><span>1.</span><span> Managing catalogues: how to delete, copy, etc.</span></a>
<ul class="sectlevel2">
<li><a href="#catalogue-rights"><span>1.1.</span><span> Assigning rights for back end users</span></a></li>
<li><a href="#15"><span>1.2.</span><span> Customizing catalogue overview columns</span></a></li>
<li><a href="#190"><span>1.3.</span><span> Copying catalogues</span></a></li>
<li><a href="#210"><span>1.4.</span><span> Deleting catalogues</span></a></li>
<li><a href="#240"><span>1.5.</span><span> Restoring a deleted catalogue</span></a></li>
<li><a href="#250"><span>1.6.</span><span> Restoring another catalogue version</span></a></li>
<li><a href="#270"><span>1.7.</span><span> Exporting catalogues</span></a></li>
<li><a href="#280"><span>1.8.</span><span> Importing catalogues</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Catalogues</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Hi there! You clicked on a direct link to get to this pages. Welcome!</p>
</div>
<div class="paragraph">
<p>Information on catalogues are now split into two separate pages to make it easier for you to get to grips with this topic:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong><em>You want to export plentymarkets data to a document?</em></strong></p>
<div class="ulist">
<ul>
<li>
<p>To do so, you need a catalogue with standard formats. Find out how to create catalogues with standard formats on the <a href="/en/data/exporting-data/file-export">Creating standard formats</a>.</p>
</li>
</ul>
</div>
</li>
<li>
<p><strong><em>You want to export item data to markets?</em></strong></p>
<div class="ulist">
<ul>
<li>
<p>To do so, you need a catalogue with marketplace formats. An introduction to marketplace formats lives on the manual page <a href="/en/data/exporting-data/market-export">Catalogues: Marketplace export</a></p>
</li>
<li>
<p>Check out the <a href="/en/markets">manual pages for a sales channel</a> to find out how to create catalogues for individual markets.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
The following chapters contain information about how to manage your existing catalogue. You can also find this information on the new pages for default formats and marketplace formats. On this current page, the information is only listed again to make sure that any old links from the forum continue to work. The content is the same on all three pages.
</td>
</tr>
</tbody></table>
</div>
<hr>
</div>
</div><div class="sect1">
<h2 id="manage-catalogues">1. Managing catalogues: how to delete, copy, etc.</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In these chapters, you learn how to manage existing catalogues. This information applies to both marketplace and default formats.</p>
</div>
<div class="sect2">
<h3 id="catalogue-rights">1.1. Assigning rights for back end users</h3>
<div class="paragraph">
<p>Unresolved directive in _textblocks/catalogues/catalogues-manage.adoc - include::./../../../_includes/textblocks/instructions/rights.adoc[]</p>
</div>
</div>
<div class="sect2">
<h3 id="15">1.2. Customizing catalogue overview columns</h3>
<div class="paragraph">
<p>You can customize the information that is displayed in the table columns. To do so, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Customizing catalogue overview columns:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>At the top right, click on <strong>Configure columns</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ The window <strong>Configure columns</strong> opens.</p>
</li>
<li>
<p>Select which columns you want to be displayed.</p>
</li>
<li>
<p>Move (<span class="icon "><i class="material-sort"></i></span>) the columns so they are displayed in the desired order.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong> to save your settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="190">1.3. Copying catalogues</h3>
<div class="paragraph">
<p>Do you want to quickly create new catalogues based on well configures ones that you already use? No problem!
Any data fields that you have already mapped are copied, even if you select a different format. You can also select a different language for the copy.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="coping-one-catalogue-tab" data-toggle="tab" href="#coping-one-catalogue" role="tab" aria-controls="coping-one-catalogue" aria-selected="true">Coping one catalogue</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="copying-multiple-catalogues-tab" data-toggle="tab" href="#copying-multiple-catalogues" role="tab" aria-controls="copying-multiple-catalogues" aria-selected="false">Copying multiple catalogues</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="coping-one-catalogue" role="tabpanel" aria-labelledby="coping-one-catalogue-tab">
<div class="paragraph instruction">
<p>Coping a catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>In the row of the catalogue, click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Click on <strong>Copy</strong> (<span class="icon "><i class="material-content_copy"></i></span>).<br>
<strong><em>Or</em></strong>: Tick the box of the catalogue that you want to copy.</p>
</li>
<li>
<p>At the top in the catalogue overview click on <strong>Copy catalogue</strong> (<span class="icon "><i class="material-content_copy"></i></span>).<br>
→ A window opens.</p>
</li>
<li>
<p>If desired, adjust the automatically created name for the copy.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select another format from the drop-down list. Data fields that have already been mapped will be transferred.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select another language from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Copy</strong>.<br>
→ The catalogue is copied and displayed in the catalogue overview.</p>
</li>
</ol>
</div>
<hr>
</div><div class="tab-pane fade" id="copying-multiple-catalogues" role="tabpanel" aria-labelledby="copying-multiple-catalogues-tab">
<div class="paragraph">
<p>You can also copy several catalogues at once. However, in this case you cannot change the format or language of the catalogues.</p>
</div>
<div class="paragraph instruction">
<p>Copying several catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select the catalogues that you want to copy.</p>
</li>
<li>
<p>Click on <strong>Copy catalogue</strong> (<span class="icon "><i class="material-content_copy"></i></span>).<br>
→ All selected catalogues are copied and displayed in the catalogue overview.<br></p>
</li>
<li>
<p><strong><em>Optional:</em></strong> If you want to edit the automatically created names of the copied catalogues, open the catalogues individually and adjust the name in the basic settings.</p>
</li>
</ol>
</div>
<hr>
</div></div>
</div>
<div class="sect2">
<h3 id="210">1.4. Deleting catalogues</h3>
<div class="paragraph">
<p>You can delete one catalogue or multiple catalogues at the same time.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="deleting-one-catalogue-tab" data-toggle="tab" href="#deleting-one-catalogue" role="tab" aria-controls="deleting-one-catalogue" aria-selected="true">Deleting one catalogue</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="deleting-multiple-catalogues-tab" data-toggle="tab" href="#deleting-multiple-catalogues" role="tab" aria-controls="deleting-multiple-catalogues" aria-selected="false">Deleting multiple catalogues</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="deleting-one-catalogue" role="tabpanel" aria-labelledby="deleting-one-catalogue-tab">
<div class="paragraph instruction">
<p>Deleting catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>In the row of the catalogue that you want to delete, click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Click on <strong>Delete</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ You are asked to confirm your decision.</p>
</li>
<li>
<p>Confirm the deletion.<br>
→ The catalogue is deleted.<br>
<strong><em>Or</em></strong>: Open a catalogue.</p>
</li>
<li>
<p>Click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>) at the top.</p>
</li>
<li>
<p>Click on <strong>Delete catalogue</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ You are asked to confirm your decision.</p>
</li>
<li>
<p>Confirm the deletion.<br>
→ The catalogue is deleted.</p>
</li>
</ol>
</div>
<hr>
</div><div class="tab-pane fade" id="deleting-multiple-catalogues" role="tabpanel" aria-labelledby="deleting-multiple-catalogues-tab">
<div class="paragraph">
<p>Proceed as follows in order to delete several catalogues at once.</p>
</div>
<div class="paragraph instruction">
<p>Deleting several catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select the catalogues that you want to delete.</p>
</li>
<li>
<p>At the top right, click on <strong>Delete selected catalogues</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ You are asked to confirm your decision.</p>
</li>
<li>
<p>Confirm the deletion.<br>
→ The catalogues are deleted.</p>
</li>
</ol>
</div>
<hr>
</div></div>
</div>
<div class="sect2">
<h3 id="240">1.5. Restoring a deleted catalogue</h3>
<div class="paragraph">
<p>In the catalogue overview, you can restore the last version of a deleted catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Restoring a deleted catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on <strong>Restore deleted catalogue</strong> (<span class="icon "><i class="material-undo"></i></span>).<br>
→ A window opens.</p>
</li>
<li>
<p>Select a catalogue from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Restore</strong>.<br>
→ The catalogue is restored and displayed in the catalogue overview.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="250">1.6. Restoring another catalogue version</h3>
<div class="paragraph">
<p>You can restore a previous catalogue version via the further actions or in the view of a catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Restoring a catalogue version:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>In the row of the catalogue, open the further actions (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Click on <strong>Restore catalogue version</strong> (<span class="icon "><i class="fa fa-undo  "></i></span>).<br>
<strong><em>Or</em></strong>: Open a catalogue and click on the further actions (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>) at the top.</p>
</li>
<li>
<p>Click on <strong>Restore catalogue version</strong> (<span class="icon "><i class="fa fa-undo  "></i></span>).<br>
→ A window opens.</p>
</li>
<li>
<p>Select the version that you want to restore.</p>
</li>
<li>
<p>Click on <strong>Restore</strong>.<br>
→ The catalogue version is restored and displayed in the catalogue overview.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="270">1.7. Exporting catalogues</h3>
<div class="paragraph">
<p>Export catalogues to import them into other plentymarkets systems afterwards. At the same time, an export also serves as a backup.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
These settings export the catalogue itself. As such, the import contains information on the settings and data fields the catalogue contains. The import cannot be used to import data for plentymarkets data fields.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Exporting catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Place a check mark for the catalogue that you want to export. You can also select several catalogues at once.</p>
</li>
<li>
<p>At the top, click on <strong>Export catalogue</strong> (<span class="icon "><i class="material-file_download"></i></span>).<br>
→ A window opens.</p>
</li>
<li>
<p>Select a storage location.<br>
→ The selected catalogues are exported and saved at the desired location.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="280">1.8. Importing catalogues</h3>
<div class="paragraph">
<p>Use the import function to import catalogues from other plentymarkets systems or catalogues that have been saved as backup beforehand.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
These settings import the catalogue itself. As such, the import contains information on the settings and data fields the catalogue contains and not the data that is saved for these data fields in plentymarkets.
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Importing catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>At the top, click on <strong>Import catalogue</strong> (<span class="icon "><i class="material-file_upload"></i></span>).<br>
→ A window opens.</p>
</li>
<li>
<p>Select the catalogue file that you want to import.<br>
<strong><em>Important:</em></strong> You can only import one catalogue at a time.<br>
→ The catalogue is imported and displayed in the overview.<br>
→ The name of the imported catalogue contains the addition (1).<br>
If the catalogue originates from another system, the name stays the same.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>