<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> What is a catalogue?</span></a></li>
<li><a href="#20"><span>2.</span><span> What is a marketplace format?</span></a></li>
<li><a href="#30"><span>3.</span><span> Managing variation data using properties</span></a>
<ul class="sectlevel3">
<li><a href="#_example_1_diameter_information"><span>3.1.</span><span> Example 1: Diameter information</span></a></li>
<li><a href="#_example_2_brand_names"><span>3.2.</span><span> Example 2: Brand names</span></a></li>
</ul>
</li>
<li><a href="#40"><span>4.</span><span> Managing catalogues with marketplace formats</span></a>
<ul class="sectlevel2">
<li><a href="#50"><span>4.1.</span><span> Creating catalogues with marketplace formats</span></a>
<ul class="sectlevel3">
<li><a href="#60"><span>4.1.1.</span><span> Carrying out the basic settings</span></a></li>
<li><a href="#70"><span>4.1.2.</span><span> Carrying out the export settings</span></a></li>
</ul>
</li>
<li><a href="#80"><span>4.2.</span><span> Mapping and linking data fields</span></a></li>
<li><a href="#90"><span>4.3.</span><span> Deleting data fields</span></a></li>
<li><a href="#100"><span>4.4.</span><span> Available plentymarkets data sources</span></a></li>
</ul>
</li>
<li><a href="#110"><span>5.</span><span> Managing catalogues with standard formats</span></a>
<ul class="sectlevel2">
<li><a href="#120"><span>5.1.</span><span> Creating catalogues with standard formats</span></a>
<ul class="sectlevel3">
<li><a href="#130"><span>5.1.1.</span><span> Carrying out the basic settings</span></a></li>
<li><a href="#140"><span>5.1.2.</span><span> Carrying out the format settings</span></a></li>
<li><a href="#150"><span>5.1.3.</span><span> Carrying out the export settings</span></a></li>
</ul>
</li>
<li><a href="#160"><span>5.2.</span><span> Adding and linking data fields</span></a></li>
<li><a href="#170"><span>5.3.</span><span> Deleting data fields</span></a></li>
</ul>
</li>
<li><a href="#180"><span>6.</span><span> Managing catalogues</span></a>
<ul class="sectlevel2">
<li><a href="#190"><span>6.1.</span><span> Copying catalogues</span></a></li>
<li><a href="#200"><span>6.2.</span><span> Copying several catalogues</span></a></li>
<li><a href="#210"><span>6.3.</span><span> Deleting catalogues</span></a></li>
<li><a href="#220"><span>6.4.</span><span> Deleting several catalogues</span></a></li>
<li><a href="#230"><span>6.5.</span><span> Restoring catalogues</span></a>
<ul class="sectlevel3">
<li><a href="#240"><span>6.5.1.</span><span> Restoring deleted catalogues</span></a></li>
<li><a href="#250"><span>6.5.2.</span><span> Restoring a catalogue version</span></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#255"><span>7.</span><span> Creating a preview for the export</span></a></li>
<li><a href="#260"><span>8.</span><span> Exporting catalogues</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Managing catalogues</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Catalogues are used to ideally prepare data for the export. Here, a distinction is made between catalogues with marketplace formats and catalogues with standard formats.</p>
</div>
<div class="paragraph">
<p>You want to prepare variation data for the export to a sales channel?
Use <a href="/en/data/exporting-data/managing-catalogues#40">catalogues with marketplace formats</a> to export variation data to markets and other sales channels. Currently, you can use catalogues to transfer data to the markets REWE, Etsy, Metro, OTTO Market and Amazon.</p>
</div>
<div class="paragraph">
<p>You want to export specific data such as order or item data from your plentymarkets system? Use <a href="/en/data/exporting-data/managing-catalogues#110">catalogues with a standard format</a> to export such data.<br>
<strong><em>Note</em></strong>: The standard formats will be transferred to the catalogue step by step. For now, there is only a demo format available.</p>
</div>
<div class="paragraph">
<p>On this manual page, you will find information on creating and managing catalogues. At first, the focus will be put on the marketplace formats.</p>
</div>
<h3 id="_assigning_user_rights_for_back_end_users" class="discrete">Assigning user rights for back end users</h3>
<div class="paragraph">
<p>Users of the type <strong>Back end</strong> can only access limited areas and menus in the plentymarkets back end. Thus, their access to the system is limited. If users of the type <strong>Back end</strong> should be able to see catalogues, a user of the type <strong>Admin</strong> has to assign the right listed in the following to users of the type <strong>Back end</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Assigning user rights for back end users:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.</p>
</li>
<li>
<p>Use the search function (<span class="icon blue"><i class="fa fa-search  "></i></span>) and open the account that should be edited.</p>
</li>
<li>
<p>In the <strong>Authorisations</strong> section, activate the option <strong>Data &gt; Data exchange &gt; Export &gt; Catalog &gt; Show</strong>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. What is a catalogue?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Each sales channel requires different product data. Often, different product information have to be sent to the same sales channel for different product categories (pet food, household items, food, etc.).</p>
</div>
<div class="paragraph">
<p>Catalogues with marketplace formats allow you to customise information regarding your product portfolio to meet the requirements of each sales channel and target audience. You achieve this by mapping the individual data fields of a sales channel to a suitable plentymarkets data source. When your variation data is transferred to the sales channel, the sales channel’s data fields are then filled with the correct plentymarkets data.</p>
</div>
<div class="paragraph">
<p>Catalogues with marketplace formats offer the following advantages:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The sales channel provides the data structure. As such, you know exactly which variation data is necessary to sell your products on this sales channel.</p>
</li>
<li>
<p>You select which variation data you want to publish on each sales channel and for each format. For example, you can use properties to transfer different variation names and descriptions to different sales channels.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. What is a marketplace format?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A marketplace format provides a framework of the data a sales channel can accept. As such, marketplace formats tell you what data can be transmitted to the sales channel.</p>
</div>
<div class="paragraph">
<p>A sales channel can offer more than one marketplace format, for example for different product categories (pet food, food, non-food, etc.) or for different languages. Check the documentation of the respective sales channel to find out which marketplace formats are available.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Could not find a marketplace format?</div>
<div class="paragraph">
<p>The marketplace formats of some sales channel are only loaded into the <strong>Data » Catalogues</strong> menu when you deploy the sales channel’s plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Managing variation data using properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/item/managing-items#3000">Properties of the Item area</a> allow you to save data for variations for which no default data fields are available in the plentymarkets back end. In the following, you will find some examples on how to use properties.</p>
</div>
<div class="sect3">
<h4 id="_example_1_diameter_information">3.1. Example 1: Diameter information</h4>
<div class="paragraph">
<p><strong>Use case:</strong><br>
A sales channel allows you to send the <strong>diameter</strong> and the <strong>diameter unit</strong> of your products. By default, you cannot save diameter data in the plentymarkets back end.</p>
</div>
<div class="paragraph">
<p><strong>Recommended:</strong><br>
<a href="#table-diameter">Table 1</a> shows the recommended settings for sending diameter data to sales channels.</p>
</div>
<table id="table-diameter" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Example 1: Diameter information</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data field sales channel</th>
<th class="tableblock halign-left valign-top">Properties in plentymarkets</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Setup » Settings » Properties » Configuration</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diameter unit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Create the property <strong>Diameter unit</strong>:<br>
Section: <strong>Item</strong><br>
Property type: <strong>Selection</strong></p>
</li>
<li>
<p>Save values, e.g. <strong>cm</strong> and <strong>mm</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Create the property <strong>Diameter</strong>:<br>
Section: <strong>Item</strong><br>
Property type: <strong>Decimal number</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item » Edit item » Open item » Open variation</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diameter unit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>Add the property <strong>Diameter unit</strong>.</p>
</li>
<li>
<p>Select the unit from the drop-down list.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>Add the property <strong>Diameter</strong>.</p>
</li>
<li>
<p>Enter the diameter in the unit you selected for <strong>Diameter unit</strong>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Data » Catalogues » Open catalogue</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diameter unit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>From the drop-down list <strong>Source</strong>, select the option <strong>Property » Diameter unit</strong>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>From the drop-down list <strong>Source</strong>, select the option <strong>Property » Diameter</strong>.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_example_2_brand_names">3.2. Example 2: Brand names</h4>
<div class="paragraph">
<p><strong>Use case:</strong><br>
The sales channel allows you to transfer the brand name of products. By default, you can save manufacturers but not brand names in the plentymarkets back end.</p>
</div>
<div class="paragraph">
<p><strong>Recommended:</strong><br>
If the manufacturer names saved in your system are not identical to the products’ brand names, you can manage brand names using properties. <a href="#table-brands">Table 2</a> shows the recommended settings for managing brands to send to the sales channels.</p>
</div>
<table id="table-brands" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Example 2: Brand information</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data field sales channel</th>
<th class="tableblock halign-left valign-top">Properties in plentymarkets</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Setup » Settings » Properties » Configuration</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Brand</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Create the property <strong>Brand</strong>:<br>
Section: <strong>Item</strong><br>
Property type: <strong>Short text</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item » Edit item » Open item » Open variation</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Brand</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Open the <strong>Texts</strong> tab.</p>
</li>
<li>
<p>Add the property <strong>Brand</strong>.</p>
</li>
<li>
<p>Enter the brand name.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Data » Catalogues » Open catalogue</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>From the drop-down list <strong>Brand</strong>, select the brand.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>From the drop-down list <strong>Source</strong>, select the option <strong>Property » Brand</strong>.</p>
</li>
<li>
<p>Enter the brand name into the <strong>Value</strong> field.<br>
*<em>Note:</em>*The brand name of the sales channel is published on the sales channel.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Managing catalogues with marketplace formats</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the following, you will find detailed information on how to create and manage catalogues with marketplace formats in the <strong>Data » Catalogues</strong> menu. Furthermore, you will learn how to link and map data fields in order to transfer your data to a sales channel as desired.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Could not find a marketplace format?</div>
<div class="paragraph">
<p>The marketplace formats of some sales channel are only loaded into the <strong>Data » Catalogues</strong> menu when you deploy the sales channel’s plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="50">4.1. Creating catalogues with marketplace formats</h3>
<div class="paragraph">
<p>When using marketplace formats, there are data fields that are required by the respective marketplace and data fields that are optional. Proceed as described below to create a catalogue with a marketplace format.</p>
</div>
<div class="sect3">
<h4 id="60">4.1.1. Carrying out the basic settings</h4>
<div class="paragraph">
<p>Create a catalogue and determine what you want the catalogue to use for.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the basic settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on <strong>Create catalogue</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ A new view opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-basic-settings-marketplace">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The catalogue is created and the <strong>Mapping</strong> tab opens.</p>
</li>
</ol>
</div>
<table id="table-basic-settings-marketplace" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Carrying out basic settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Setting</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong> (mandatory field)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the catalogue.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export type</strong> (mandatory field)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the export type (e.g. Amazon) from the drop-down list. This is the marketplace format that you want to use for the export.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format type</strong> (mandatory field)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a format (e.g. Item) from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong> (mandatory field)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a format from the drop-down list. This is the desired category.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="70">4.1.2. Carrying out the export settings</h4>
<div class="paragraph">
<p>If available, carry out the export settings. Note that these settings are not available for each marketplace format.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the export settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select the catalogue for which you want to carry out the export settings.<br>
→ The catalogue opens.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> tab on the left.<br>
→ The different settings options are shown.</p>
</li>
<li>
<p>Go to the section <strong>Export settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-export-settings-marketplace">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-export-settings-marketplace" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Carrying out the export settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Setting</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select from the drop-down list, in which form you want the export to be provided.<br>
If you select FTP, FTPS or SFTP, further fields become visible.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Server</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the server. We recommend to leave out the protocol prefix (ftp://, ftps:// etc.).<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the port or use the default setting. Use port 21 for FTP and FTPS. Use port 22 for SFTP.<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the user name.<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a password.<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Path</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the path for the storage location of your file. <strong><em>Note</em></strong>: If you are using SFTP, it is necessary to provide the full path.<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Define when you want the export to start. To do so, select an option from the drop-down list. When selecting <strong>Schedule</strong>, a window opens where you can choose the time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schedule</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select from the drop-down list, at which time you want the export to happen.<br>
This field is only visible if you have selected <strong>Schedule</strong> for the transfer.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Display mandatory fields only</div>
<div class="paragraph">
<p>By default, both mandatory fields (marked with a *) and non-mandatory fields of a catalogue are shown. In order to only see the mandatory fields, activate the toggle button in the further actions (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>) of the catalogue.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
<div class="sect2">
<h3 id="80">4.2. Mapping and linking data fields</h3>
<div class="paragraph">
<p>In the <strong>Mapping</strong> tab of a catalogue you can map the sales channel’s data sources to your plentymarkets data fields. Depending on the product data you want to transfer, you either map a data field or a value. For example, you select which data field in plentymarkets contains the weight of variations. In the lower section you can map values. For example, you map the sales channel’s category “Pet food” to your plentymarkets category “Animal food”.</p>
</div>
<div class="paragraph">
<p>For the export of a data field you can map as many sources as you like. To do so, add further sources and select a separator for each combination. Moreover, you can add so-called fallback data fields. In case a value does not exist, you can define here which value should be exported instead.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<div class="title">Additional mapping for specific data fields</div>
<p>Data fields such as VariationSalesPrice.price require an additional mapping, because more than one price may exist for each variation. The mapping allows you to export a specific sales price. To export more than one sales price, you can add the data field several times. Data fields that require additional mapping have a drop-down list. The default value is always preselected.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">No free text fields or characteristics</div>
<div class="paragraph">
<p>Free text fields and characteristics have been replaced by properties. Thus, you cannot transfer free text fields and characteristics to sales channels anymore. Use the properties instead.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Proceed as described below to map the data fields of the sales channel to a plentymarkets data source.</p>
</div>
<div class="paragraph instruction">
<p>Mapping and linking data fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Open a catalogue.<br>
→ The <strong>Mapping</strong> tab with the sales channel’s data fields opens.<br>
<strong><em>Tip</em></strong>: Mandatory fields are marked with an asterisk.</p>
</li>
<li>
<p>Click on <strong>Add data field</strong>.<br>
→ The available plentymarkets data fields are displayed on the left.</p>
</li>
<li>
<p>Click on the plus next to a data field or <strong>Own value</strong>.<br>
→ The data field or the field for the own value is added to the view.</p>
</li>
<li>
<p>If you selected <strong>Own value</strong>, enter a value into the input field below.</p>
</li>
<li>
<p>Click on <strong>Add data field</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>) on the right in order to map another plentymarkets data source to a data field.<br>
→ The editing mode opens.</p>
</li>
<li>
<p>Select any amount of data fields or <strong>Own value</strong>. If you selected <strong>Own value</strong>, enter a value into the input field below.</p>
</li>
<li>
<p>Close the editing mode via the X or by clicking outside the window.</p>
</li>
<li>
<p>On the right in the data row, click on <strong>Settings</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>) to select a separator.<br>
→ The window <strong>Data column settings</strong> opens.</p>
</li>
<li>
<p>Select a separator from the drop-down list or add an own separator.<br></p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The data fields are linked and will be exported with the respectively selected separator.<br>
<strong><em>Note</em></strong>: If a data field in a combination does not exist, only the remaining data fields will be exported.<br>
<strong><em>Optional</em></strong>: Click on <strong>Add fallback data field</strong> to select a data field that is exported in case another one is not available. For this, you can also select several data fields.</p>
</li>
<li>
<p>Map the desired data fields.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The mappings are saved.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Replacing data fields</div>
<div class="paragraph">
<p>Do you want to replace a data field in a specific position without having to delete linked data fields and to select new ones again? To do so, click on the further actions (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>) on the right of the data field you want to replace and select a new one.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="90">4.3. Deleting data fields</h3>
<div class="paragraph">
<p>In the <strong>Mapping</strong> tab of a catalogue with a marketplace format you can delete individual or several data fields at once. When using marketplace formats, you can also remove the selected fallback data fields.</p>
</div>
<div class="paragraph instruction">
<p>Deleting data fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Open a catalogue with marketplace format.<br>
→ The <strong>Mapping</strong> tab with all available data fields opens.</p>
</li>
<li>
<p>Click on the further actions (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>) on the right of the data field that you want to delete.</p>
</li>
<li>
<p>Click on <strong>Delete data field</strong> (<span class="icon "><i class="fa fa-trash-o  "></i></span>).<br>
→ The data field is deleted.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or</em></strong>: On the right side in the data row, click on <strong>Reset</strong> (<span class="icon "><i class="fa fa-undo  "></i></span>).<br>
→ All data fields that have been added to the data row are deleted. <strong><em>Note</em></strong>: This only works for data fields that have just been added, but have not been saved yet.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="100">4.4. Available plentymarkets data sources</h3>
<div class="paragraph">
<p>Check the information in the user guide of the sales channel’s plugin for details on the target data fields. <a href="#table-catalogue-fields">Table 5</a> contains information regarding the plentymarkets data sources and how to map these data sources.</p>
</div>
<table id="table-catalogue-fields" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Available plentymarkets data sources</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Available sources</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Variation ID</strong></p>
</li>
<li>
<p><strong>Is main variation</strong><br></p>
</li>
<li>
<p><strong>ID of main variation</strong><br></p>
</li>
<li>
<p><strong>Position</strong><br></p>
</li>
<li>
<p><strong>Active</strong><br></p>
</li>
<li>
<p><strong>Show unit price</strong><br></p>
</li>
<li>
<p><strong>Variation no.</strong><br></p>
</li>
<li>
<p><strong>Model</strong><br></p>
</li>
<li>
<p><strong>External variation ID</strong><br></p>
</li>
<li>
<p><strong>Net purchase price</strong><br></p>
</li>
<li>
<p><strong>Order picking</strong><br></p>
</li>
<li>
<p><strong>Stock limit</strong><br></p>
</li>
<li>
<p><strong>Online store: visible if net stock is positive</strong><br></p>
</li>
<li>
<p><strong>Online store: invisible if net stock is 0 or negative</strong><br></p>
</li>
<li>
<p><strong>Available if net stock is positive</strong><br></p>
</li>
<li>
<p><strong>Not available if net stock is 0 or negative</strong><br></p>
</li>
<li>
<p><strong>Max. order quantity</strong><br></p>
</li>
<li>
<p><strong>Min. order quantity</strong><br></p>
</li>
<li>
<p><strong>Interval order quantity</strong><br></p>
</li>
<li>
<p><strong>Available until</strong><br></p>
</li>
<li>
<p><strong>Release date</strong><br></p>
</li>
<li>
<p><strong>Variation name</strong><br></p>
</li>
<li>
<p><strong>Gross weight in g</strong><br></p>
</li>
<li>
<p><strong>Net weight in g</strong><br></p>
</li>
<li>
<p><strong>Width in mm</strong><br></p>
</li>
<li>
<p><strong>Length in mm</strong><br></p>
</li>
<li>
<p><strong>Height in mm</strong><br></p>
</li>
<li>
<p><strong>Extra shipping charge 1</strong><br></p>
</li>
<li>
<p><strong>Extra  shipping charge 2</strong><br></p>
</li>
<li>
<p><strong>VPE</strong><br></p>
</li>
<li>
<p><strong>Number of packages</strong><br></p>
</li>
<li>
<p><strong>Net transportation costs</strong><br></p>
</li>
<li>
<p><strong>Net storage costs</strong><br></p>
</li>
<li>
<p><strong>Customs</strong><br></p>
</li>
<li>
<p><strong>Operating costs</strong><br></p>
</li>
<li>
<p><strong>Invisible: in item list</strong><br></p>
</li>
<li>
<p><strong>Default shipping costs</strong><br></p>
</li>
<li>
<p><strong>VAT rate</strong><br></p>
</li>
<li>
<p><strong>Availability</strong><br></p>
</li>
<li>
<p><strong>Content unit</strong><br></p>
</li>
<li>
<p><strong>Content amount</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The value saved for the variation in the data field is transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>The attribute values saved in the system</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The internal attribute name is used in the data picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>The barcodes saved in the system</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The variation’s code saved for this barcode is transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sales price</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>The sales prices saved in the system</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The variation’s price saved for this sales price is transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Property</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>The properties saved in the system</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Once you select a source, a drop-down list containing the available languages is shown.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">SKU</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>SKU</strong><br></p>
</li>
<li>
<p><strong>Parent SKU</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The value saved for the variation in the data field is transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Item ID</strong><br></p>
</li>
<li>
<p><strong>Manufacturer ID</strong><br></p>
</li>
<li>
<p><strong>Manufacturer name</strong><br></p>
</li>
<li>
<p><strong>External manufacturer name</strong><br></p>
</li>
<li>
<p><strong>Manufacturing country ID</strong><br></p>
</li>
<li>
<p><strong>Manufacturing country name</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Virtual warehouse</strong><br></p>
</li>
<li>
<p>The warehouses saved in the system</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock information for the selected warehouse is transmitted to the sales channel.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item text</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Name 1</strong><br></p>
</li>
<li>
<p><strong>Name 2</strong><br></p>
</li>
<li>
<p><strong>Name 3</strong><br></p>
</li>
<li>
<p><strong>Preview text</strong><br></p>
</li>
<li>
<p><strong>Meta description</strong><br></p>
</li>
<li>
<p><strong>Item text</strong><br></p>
</li>
<li>
<p><strong>Technical data</strong><br></p>
</li>
<li>
<p><strong>URL path</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Once you select a source, a drop-down list containing the available languages is shown.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Default category</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Category ID</strong><br></p>
</li>
<li>
<p><strong>Category name</strong><br></p>
</li>
<li>
<p><strong>Category description</strong><br></p>
</li>
<li>
<p><strong>URL name</strong><br></p>
</li>
<li>
<p><strong>Meta title</strong><br></p>
</li>
<li>
<p><strong>Meta description</strong><br></p>
</li>
<li>
<p><strong>Meta keywords</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Image</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>All available images</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ASIN</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>All</strong><br></p>
</li>
<li>
<p><strong>Amazon Germany</strong><br></p>
</li>
<li>
<p><strong>Amazon Espania</strong><br></p>
</li>
<li>
<p><strong>Amazon France</strong><br></p>
</li>
<li>
<p><strong>Amazon United Kingdom</strong><br></p>
</li>
<li>
<p><strong>Amazon Italy</strong><br></p>
</li>
<li>
<p><strong>Amazon United States</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>The manufacturers saved in the system</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In drop-down lists for target and source, the manufacturers of the sales channel are mapped to the manufacturers saved in plentymarkets one by one. On the left, click on <strong>Add manufacturer</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) to map additional target manufacturers.<br>
*<em>Note:</em>*The manufacturer name of the sales channel is published on the sales channel.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>The categories saved in the system</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In drop-down lists for target and source, the categories of the sales channel are mapped to the categories saved in plentymarkets one by one. On the left, click on <strong>Add categories</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) to map additional target categories.<br>
*<em>Note:</em>*The category name of the sales channel is published on the sales channel.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Transferring catalogue data to the sales channel</div>
<div class="paragraph">
<p>The catalogues with marketplace format created in the <strong>Data » Catalogues</strong> menu allow you to map the data fields of a sales channel to the correct plentymarkets data sources. Transferring the variation data to the sales channel is activated in the settings of the sales channel.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="110">5. Managing catalogues with standard formats</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the following, you will find detailed information on how to create and manage catalogues with standard formats in the <strong>Data » Catalogues</strong> menu. Standard formats include specific data such as item or order data that you can export from your plentymarkets system.</p>
</div>
<div class="sect2">
<h3 id="120">5.1. Creating catalogues with standard formats</h3>
<div class="paragraph">
<p>Proceed as described below to create a catalogue with a standard format.</p>
</div>
<div class="sect3">
<h4 id="130">5.1.1. Carrying out the basic settings</h4>
<div class="paragraph instruction">
<p>Carrying out the basic settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on <strong>Create catalogue</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ A new view opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-basic-settings-standard">Table 6</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The catalogue is created and the <strong>Settings</strong> tab opens.</p>
</li>
</ol>
</div>
<table id="table-basic-settings-standard" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Carrying out basic settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Setting</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong> (mandatory field)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the catalogue.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export type</strong> (mandatory field)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the export type from the drop-down list. This is the standard format that you want to use for the export.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format type</strong> (mandatory field)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the respective format type (e.g. Item) from the drop-down list.<br>
 <strong><em>Note</em></strong>: At the moment, only a demo format is available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong> (mandatory field)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the formats from the drop-down list.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="140">5.1.2. Carrying out the format settings</h4>
<div class="paragraph">
<p>Once you have carried out the basic settings, you can determine a format as well as separators in the format settings. The format settings are only relevant for standard formats.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the format settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select the catalogue for which you want to carry out the format settings.<br>
→ The catalogue opens.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> tab on the left.<br>
→ The different settings options are shown.</p>
</li>
<li>
<p>Go to the section <strong>Format settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-format-settings-standard">Table 7</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-format-settings-standard" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Carrying out the format settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Setting</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the file name. There is no need to add the extension .csv or .txt as this is done automatically by the system.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the format of your file.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text delimiter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a text delimiter from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Field separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a field separator from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Decimal separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a decimal separator from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Line break</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type of line break from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Header is included</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicate whether there is a header row included in your file.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="150">5.1.3. Carrying out the export settings</h4>
<div class="paragraph">
<p>Once you have carried out the basic and format settings, it is time to take a look at the export settings. Here you determine how the export should be provided.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the export settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on the catalogue for which you want to carry out the export settings.<br>
→ The catalogue opens.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> tab on the left.<br>
→ The different settings options are shown.</p>
</li>
<li>
<p>Go to the section <strong>Export settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-export-settings-standard">Table 8</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-export-settings-standard" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. Carrying out the export settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Setting</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select from the drop-down list, in which form you want the export to be provided.<br>
If you select FTP, FTPS or SFTP, further fields become visible.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Server</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the server. We recommend to leave out the protocol prefix (ftp://, ftps:// etc.).<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the port or use the default setting. Use port 21 for FTP and FTPS. Use port 22 for SFTP.<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the user name.<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a password.<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Path</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the path for the storage location of your file. <strong><em>Note</em></strong>: If you are using SFTP, it is necessary to provide the full path.<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Define when you want the export to start. To do so, select an option from the drop-down list. When selecting <strong>Schedule</strong>, a window opens where you can choose the time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schedule</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select from the drop-down list, at which time you want the export to happen.<br>
This field is only visible if you have selected <strong>Schedule</strong> for the transfer.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="160">5.2. Adding and linking data fields</h3>
<div class="paragraph">
<p>In catalogues with standard formats, you can also add and link several data fields for the export from your plentymarkets system.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Select a column name</div>
<div class="paragraph">
<p>Below each selected data field you will find an input field. Use it to enter the name that you want to be displayed as column name in the CSV file.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Adding and linking data fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Open a catalogue.<br>
→ The <strong>Data fields</strong> tab with all available data fields opens.</p>
</li>
<li>
<p>Click on the plus next to a data field or <strong>Own value</strong>.<br>
→ The data field or the field for the own value is added to the view.</p>
</li>
<li>
<p>If you selected <strong>Own value</strong>, enter a value into the input field below.</p>
</li>
<li>
<p>To link another data field to an existing one, click on <strong>Add data field</strong> (<span class="icon "><i class="fa fa-link fa-rotate-90 "></i></span>) on the right.<br>
→ The editing mode opens.</p>
</li>
<li>
<p>Select any amount of data fields or <strong>Own value</strong>. If you selected <strong>Own value</strong>, enter a value into the input field below.</p>
</li>
<li>
<p>Close the editing mode via the X.</p>
</li>
<li>
<p>On the right in the data row, click on <strong>Settings</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>) to select a separator.<br>
→ The window <strong>Data column settings</strong> opens.</p>
</li>
<li>
<p>Select a separator from the drop-down list or add an own separator.<br></p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The data fields are linked and will be exported with the respectively selected separator.</p>
</li>
<li>
<p>Add all desired data fields and create links where needed.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Determining the order of CSV columns</div>
<div class="paragraph">
<p>You can move data columns as desired and thus determine the order in which the data fields should be exported. To do so, click on the icon (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span> <span class="icon "><i class="fa fa-ellipsis-v  "></i></span>) on the left side of the data row and drag&amp;drop it to the desired position.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="170">5.3. Deleting data fields</h3>
<div class="paragraph">
<p>In the <strong>Mapping</strong> tab of a catalogue with a standard format you can delete individual or several data fields at once.</p>
</div>
<div class="paragraph instruction">
<p>Deleting data fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Open a catalogue with standard format.<br>
→ The <strong>Data fields</strong> tab with all available data fields opens.</p>
</li>
<li>
<p>Click on the further actions (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>) on the right of the data field that you want to delete.</p>
</li>
<li>
<p>Click on <strong>Delete data field</strong> (<span class="icon "><i class="fa fa-trash-o  "></i></span>).<br>
→ The data field is deleted.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or</em></strong>: If you want to delete a complete row, click on <strong>Delete data row</strong> (<span class="icon "><i class="fa fa-trash-o  "></i></span>) on the right in the respective row.<br>
→ The complete row is deleted.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or</em></strong>: Tick the box on the left for all rows containing data fields that you want to delete. Afterwards, click on <strong>Delete selected data fields</strong> (<span class="icon "><i class="fa fa-trash-o  "></i></span>) at the top right.<br>
→ All selected data fields are deleted.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<div class="title">(De)activating catalogues</div>
<p>The toggle button on the left side in the catalogue overview allows you to activate or deactivate a catalogue for the export.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="180">6. Managing catalogues</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Read the following chapters to learn how to copy, delete and restore catalogues. These information apply to both marketplace and standard formats.</p>
</div>
<div class="sect2">
<h3 id="190">6.1. Copying catalogues</h3>
<div class="paragraph">
<p>You can copy catalogues and thus use catalogues that you have already configured in order to quickly create a new catalogue. Even when changing the format, data fields that have already been mapped are transferred.
Moreover, you can select another language for the copy.</p>
</div>
<div class="paragraph instruction">
<p>Copying catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>In the row of the catalogue that you want to copy, click on the further actions (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>Copy</strong> (<span class="icon "><i class="fa fa-clone  "></i></span>).<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or</em></strong>: Tick the box of the catalogue that you want to copy.</p>
</li>
<li>
<p>At the top in the catalogue overview click on <strong>Copy catalogue</strong> (<span class="icon yellow"><i class="fa fa-clone  "></i></span>).<br>
→ A new window opens.</p>
</li>
<li>
<p>If desired, adjust the automatically created name for the copy.</p>
</li>
<li>
<p>Optional: Select another format from the drop-down list. Data fields that have already been mapped will be transferred.</p>
</li>
<li>
<p>Optional: Select another language from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Copy</strong>.<br>
→ The catalogue is copied and displayed in the catalogue overview.<br></p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="200">6.2. Copying several catalogues</h3>
<div class="paragraph">
<p>You can also copy several catalogues at once. However, in this case you cannot change the format or language of the catalogues.</p>
</div>
<div class="paragraph instruction">
<p>Copying several catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select the catalogues that you want to copy.</p>
</li>
<li>
<p>Click on <strong>Copy catalogues</strong> (<span class="icon yellow"><i class="fa fa-clone  "></i></span>).<br>
→ All selected catalogues are copied and displayed in the catalogue overview.<br></p>
</li>
<li>
<p>Optional: If you want to edit the automatically created names of the copied catalogues, open the catalogues individually and adjust the name in the basic settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="210">6.3. Deleting catalogues</h3>
<div class="paragraph">
<p>Proceed as described below to delete a catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Deleting catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>In the row of the catalogue that you want to delete, click on the further actions (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>Delete</strong> (<span class="icon "><i class="fa fa-trash-o  "></i></span>).<br>
→ You are asked to confirm your decision.</p>
</li>
<li>
<p>Confirm the deletion.<br>
→ The catalogue is deleted.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or</em></strong>: Open a catalogue.</p>
</li>
<li>
<p>Click on the further actions (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>) at the top.</p>
</li>
<li>
<p>Click on <strong>Delete catalogue</strong> (<span class="icon "><i class="fa fa-trash-o  "></i></span>).<br>
→ You are asked to confirm your decision.</p>
</li>
<li>
<p>Confirm the deletion.<br>
→ The catalogue is deleted.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="220">6.4. Deleting several catalogues</h3>
<div class="paragraph">
<p>Proceed as follows in order to delete several catalogues at once.</p>
</div>
<div class="paragraph instruction">
<p>Deleting several catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select the catalogues that you want to delete.</p>
</li>
<li>
<p>At the top right, click on <strong>Delete selected catalogues</strong> (<span class="icon "><i class="fa fa-trash-o  "></i></span>).<br>
→ You are asked to confirm your decision.</p>
</li>
<li>
<p>Confirm the deletion.<br>
→ The catalogues are deleted.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="230">6.5. Restoring catalogues</h3>
<div class="paragraph">
<p>There may be situations when you delete something, but would like to have access to it again afterwards. When working with the catalogues, this does not present a problem. In the following you will learn how to restore a deleted catalogue or a specific version of a catalogue.</p>
</div>
<div class="sect3">
<h4 id="240">6.5.1. Restoring deleted catalogues</h4>
<div class="paragraph">
<p>In the catalogue overview you can restore deleted catalogues or rather the last state of a deleted catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Restoring a deleted catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on <strong>Restore deleted catalogue</strong> (<span class="icon orange"><i class="fa fa-undo  "></i></span>).<br>
→ A new window opens.</p>
</li>
<li>
<p>Select a catalogue from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Restore</strong>.<br>
→ The catalogue is restored and displayed in the catalogue overview.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="250">6.5.2. Restoring a catalogue version</h4>
<div class="paragraph">
<p>You can restore a previous catalogue version via the further actions or in the view of a catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Restoring a catalogue version:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>In the row of the catalogue that you want to restore, click on the further actions (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>Restore catalogue version</strong> (<span class="icon "><i class="fa fa-undo  "></i></span>).<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or</em></strong>: Open a catalogue and click on the further actions (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>) at the top.</p>
</li>
<li>
<p>Click on <strong>Restore catalogue version</strong> (<span class="icon "><i class="fa fa-undo  "></i></span>).<br>
→ A new window opens.</p>
</li>
<li>
<p>Select the version that you want to restore.</p>
</li>
<li>
<p>Click on <strong>Restore</strong>.<br>
→ The catalogue version is restored and displayed in the catalogue overview.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="255">7. Creating a preview for the export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have mapped all data fields, you can test the catalogue export via the preview function and download the first 5 data rows of your file.
<strong><em>Note</em></strong>: The preview function is not available for all catalogue formats.</p>
</div>
<div class="paragraph instruction">
<p>Creating a preview for the export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>In the row of the catalogue for which you want to create a preview, click on the further actions (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>Preview</strong> (<span class="icon "><i class="fa fa-eye  "></i></span>).<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or</em></strong>: Open a catalogue.</p>
</li>
<li>
<p>At the top, click on <strong>Preview</strong> (<span class="icon blue"><i class="fa fa-eye  "></i></span>).<br>
→ A window opens and displays the preview of the first 5 data rows.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="260">8. Exporting catalogues</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have carried out all settings and added at least one data field, you can export your catalogue and download the export file in the desired format. At the moment, the formats CSV, TXT, JSON and XML are available.</p>
</div>
<div class="paragraph instruction">
<p>Exporting catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>In the row of the catalogue that you want to export, click on the further actions (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>Start export</strong> (<span class="icon "><i class="fa fa-download  "></i></span>).<br>
→ The export starts.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or</em></strong>: Open a catalogue.</p>
</li>
<li>
<p>Click on <strong>Start export</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>).<br>
→ The export starts.</p>
</li>
<li>
<p>As soon as the export has been finished, you will get the notification (<span class="icon "><i class="fa fa-bell-o  "></i></span>) that the export file is ready for downloading.</p>
</li>
<li>
<p>If you want to download the export file, click on <strong>Download</strong> in the notification.<br>
→ The downloaded export file opens.</p>
</li>
</ol>
</div>
</div>
</div>
</main>