<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> What is a catalogue?</span></a></li>
<li><a href="#20"><span>2.</span><span> What is a marketplace format?</span></a></li>
<li><a href="#catalogue-rights"><span>3.</span><span> Assigning rights for back end users</span></a></li>
<li><a href="#30"><span>4.</span><span> Managing variation data using properties</span></a>
<ul class="sectlevel3">
<li><a href="#_example_1_diameter_information"><span>4.1.</span><span> Example 1: Diameter information</span></a></li>
<li><a href="#_example_2_brand_names"><span>4.2.</span><span> Example 2: Brand names</span></a></li>
</ul>
</li>
<li><a href="#40"><span>5.</span><span> Creating catalogues with marketplace formats</span></a>
<ul class="sectlevel2">
<li><a href="#60"><span>5.1.</span><span> Creating and setting up a catalogue</span></a></li>
<li><a href="#65"><span>5.2.</span><span> Carrying out the format settings</span></a></li>
<li><a href="#70"><span>5.3.</span><span> Carrying out the export settings</span></a></li>
<li><a href="#80"><span>5.4.</span><span> Mapping and linking data fields</span></a></li>
<li><a href="#85"><span>5.5.</span><span> Transferring combined mappings to a marketplace</span></a></li>
<li><a href="#90"><span>5.6.</span><span> Deleting data fields</span></a></li>
<li><a href="#100"><span>5.7.</span><span> Available plentymarkets data fields</span></a></li>
</ul>
</li>
<li><a href="#110"><span>6.</span><span> Creating catalogues with standard formats</span></a>
<ul class="sectlevel2">
<li><a href="#130"><span>6.1.</span><span> Creating and setting up a catalogue</span></a></li>
<li><a href="#140"><span>6.2.</span><span> Carrying out the format settings</span></a></li>
<li><a href="#150"><span>6.3.</span><span> Carrying out the export settings</span></a></li>
<li><a href="#160"><span>6.4.</span><span> Adding and linking data fields</span></a></li>
<li><a href="#mathematical-calculations"><span>6.5.</span><span> Adjusting values using mathematical calculations</span></a></li>
<li><a href="#170"><span>6.6.</span><span> Deleting data fields</span></a></li>
</ul>
</li>
<li><a href="#257"><span>7.</span><span> Filtering export data</span></a></li>
<li><a href="#255"><span>8.</span><span> Creating a preview for the export</span></a></li>
<li><a href="#260"><span>9.</span><span> Manually exporting catalogue data</span></a></li>
<li><a href="#290"><span>10.</span><span> Generating a URL for the download</span></a></li>
<li><a href="#180"><span>11.</span><span> Managing catalogues</span></a>
<ul class="sectlevel2">
<li><a href="#15"><span>11.1.</span><span> Customizing catalogue overview columns</span></a></li>
<li><a href="#190"><span>11.2.</span><span> Copying catalogues</span></a></li>
<li><a href="#210"><span>11.3.</span><span> Deleting catalogues</span></a></li>
<li><a href="#240"><span>11.4.</span><span> Restoring deleted catalogues</span></a></li>
<li><a href="#250"><span>11.5.</span><span> Restoring a catalogue version</span></a></li>
<li><a href="#270"><span>11.6.</span><span> Exporting catalogues</span></a></li>
<li><a href="#280"><span>11.7.</span><span> Importing catalogues</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Catalogues</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Catalogues are used to ideally prepare data for the export. Here, a distinction is made between catalogues with marketplace formats and catalogues with standard formats.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Catalogue format</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marketplace format</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>You want to prepare variation data for the export to a sales channel?
Use <a href="/en/data/exporting-data/managing-catalogues#40">catalogues with marketplace formats</a> to export variation data to markets and other sales channels. Currently, you can use catalogues to transfer data to the markets Etsy, Metro, OTTO Market and Amazon.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default formats</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>You want to export specific data such as order or item data from your plentymarkets system? Use <a href="/en/data/exporting-data/managing-catalogues#110">catalogues with a standard format</a> to export such data.<br>
<strong><em>Note</em></strong>: The standard formats will be transferred to the catalogue step by step. At the moment, the formats <a href="/en/data/exporting-data/catalogues-manufacturers">Manufacturers</a>, <strong>Newsletter recipients</strong>, <a href="/en/data/exporting-data/catalogues-orders">Order</a>, <a href="/en/data/exporting-data/catalogues-purchase-orders">Purchase order</a>, <a href="/en/data/exporting-data/catalogues-item">Item (new)</a>, <a href="/en/data/exporting-data/exporting-stock-movements">Stock movements</a> and <a href="/en/data/exporting-data/exporting-stocks">Stocks</a> are available.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="10">1. What is a catalogue?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Each sales channel requires different product data. Often, different product information have to be sent to the same sales channel for different product categories (pet food, household items, food, etc.).</p>
</div>
<div class="paragraph">
<p>Catalogues with marketplace formats allow you to customise information regarding your product portfolio to meet the requirements of each sales channel and target audience. You achieve this by mapping the individual data fields of a sales channel to a suitable plentymarkets data field. When your variation data is transferred to the sales channel, the sales channel’s data fields are then filled with the correct plentymarkets data.</p>
</div>
<div class="paragraph">
<p>Catalogues with marketplace formats offer the following advantages:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The sales channel provides the data structure. As such, you know exactly which variation data is necessary to sell your products on this sales channel.</p>
</li>
<li>
<p>You select which variation data you want to publish on each sales channel and for each format. For example, you can use properties to transfer different variation names and descriptions to different sales channels.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Filtering by catalogue name</div>
<div class="paragraph">
<p>On the left of the catalogue overview, enter the name of the desired catalogue into the <strong>Name</strong> field and click on <strong>Search</strong> (<span class="icon "><i class="material-search"></i></span>) or Enter to find the desired catalogue faster.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. What is a marketplace format?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A marketplace format provides a framework of the data a sales channel can accept. As such, marketplace formats tell you what data can be transmitted to the sales channel.</p>
</div>
<div class="paragraph">
<p>A sales channel can offer more than one marketplace format, for example for different product categories (pet food, food, non-food, etc.) or for different languages. Check the documentation of the respective sales channel to find out which marketplace formats are available.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Could not find a marketplace format?</div>
<div class="paragraph">
<p>The marketplace formats of some sales channel are only loaded into the <strong>Data » Catalogues</strong> menu when you deploy the sales channel’s plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="catalogue-rights">3. Assigning rights for back end users</h2>
<div class="sectionbody">
<div class="paragraph">
<p>People with <strong>Back end</strong> access rights can <a href="/en/business-decisions/user-accounts-access#105">only see certain areas and menus</a> in plentymarkets. This means they only have limited access to the system. If you want <strong>back end</strong> type users to see catalogues, you have to grant them the following rights:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Data &gt; Data exchange &gt; Export &gt; Catalogue &gt; Show</strong></p>
</li>
</ul>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Tip: How to grant rights</strong></div>
<div class="content">
<div class="paragraph">
<p>Note that only <strong>Admins</strong> can grant rights.</p>
</div>
<div class="paragraph instruction">
<p>Assigning rights:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Setup » Settings » User » Rights » User</strong>.<br>
→ The user accounts are displayed in an overview.</p>
</li>
<li>
<p>Click on a user account.<br>
→ The <strong>Rights</strong> menu item containing the visibilities opens.</p>
</li>
<li>
<p>Assign the rights for the respective area by ticking the check boxes indicated above.<br>
<strong><em>Note</em></strong>: You can either grant rights for complete areas or limit the rights you grant the user. To only grant limited rights in a certain area, expand the area.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<p>The <strong>Rights</strong> and <strong>Menu visibilities</strong> are linked. This means that if you grant a right in one of the two areas, plentymarkets automatically grants the corresponding rights in the other area.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="30">4. Managing variation data using properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/item/settings/properties#500">Properties of the Item section</a> allow you to save data for variations for which no default data fields are available in the plentymarkets back end. In the following, you will find some examples on how to use properties.</p>
</div>
<div class="sect3">
<h4 id="_example_1_diameter_information">4.1. Example 1: Diameter information</h4>
<div class="paragraph">
<p><strong>Use case:</strong><br>
A sales channel allows you to send the <strong>diameter</strong> and the <strong>diameter unit</strong> of your products. By default, you cannot save diameter data in the plentymarkets back end.</p>
</div>
<div class="paragraph">
<p><strong>Recommended:</strong><br>
<a href="#table-diameter">Table 1</a> shows the recommended settings for sending diameter data to sales channels.</p>
</div>
<table id="table-diameter" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Example 1: Diameter information</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data field sales channel</th>
<th class="tableblock halign-left valign-top">Properties in plentymarkets</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Setup » Settings » Properties » Configuration</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diameter unit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Create the property <strong>Diameter unit</strong>:<br>
Section: <strong>Item</strong><br>
Property type: <strong>Selection</strong></p>
</li>
<li>
<p>Save values, e.g. <strong>cm</strong> and <strong>mm</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Create the property <strong>Diameter</strong>:<br>
Section: <strong>Item</strong><br>
Property type: <strong>Decimal number</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item » Edit item » Open item » Open variation</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diameter unit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>Add the property <strong>Diameter unit</strong>.</p>
</li>
<li>
<p>Select the unit from the drop-down list.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>Add the property <strong>Diameter</strong>.</p>
</li>
<li>
<p>Enter the diameter in the unit you selected for <strong>Diameter unit</strong>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Data » Catalogues » Open catalogue</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diameter unit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>In the data field picker, select the data field <strong>Diameter unit</strong> from the <strong>Property</strong> folder.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>In the data field picker, select the data field <strong>Diameter</strong> from the <strong>Property</strong> folder.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_example_2_brand_names">4.2. Example 2: Brand names</h4>
<div class="paragraph">
<p><strong>Use case:</strong><br>
The sales channel allows you to transfer the brand name of products. By default, you can save manufacturers but not brand names in the plentymarkets back end.</p>
</div>
<div class="paragraph">
<p><strong>Recommended:</strong><br>
If the manufacturer names saved in your system are not identical to the products’ brand names, you can manage brand names using properties. <a href="#table-brands">Table 2</a> shows the recommended settings for managing brands to send to the sales channels.</p>
</div>
<table id="table-brands" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Example 2: Brand information</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data field sales channel</th>
<th class="tableblock halign-left valign-top">Properties in plentymarkets</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Setup » Settings » Properties » Configuration</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Brand</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Create the property <strong>Brand</strong>:<br>
Section: <strong>Item</strong><br>
Property type: <strong>Short text</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item » Edit item » Open item » Open variation</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Brand</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Open the <strong>Texts</strong> tab.</p>
</li>
<li>
<p>Add the property <strong>Brand</strong>.</p>
</li>
<li>
<p>Enter the brand name into the <strong>Value</strong> field.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Data » Catalogues » Open catalogue</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>In the data field picker, select the <strong>brand</strong>.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>In the data field picker, select the respective <strong>brand</strong> from the <strong>Property</strong> folder.<br>
*<em>Note:</em>*The brand name of the sales channel is published on the sales channel.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="40">5. Creating catalogues with marketplace formats</h2>
<div class="sectionbody">
<div class="paragraph">
<p>When using marketplace formats, there are data fields that are required by the respective marketplace and data fields that are optional. Proceed as described below to create a catalogue with a marketplace format.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Could not find a marketplace format?</div>
<div class="paragraph">
<p>The marketplace formats of some sales channels are only loaded into the <strong>Data » Catalogues</strong> menu after you have deployed the sales channel’s plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="60">5.1. Creating and setting up a catalogue</h3>
<div class="paragraph">
<p>Create a catalogue and determine what you want the catalogue to use for.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the basic settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on <strong>Create catalogue</strong> (<span class="icon "><i class="material-add"></i></span>).<br>
→ A new view opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-basic-settings-marketplace">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="material-save"></i></span>) the settings.<br>
→ The catalogue is created and the <strong>Mapping</strong> tab (icon:order_return_create_edit[set=plenty[) opens.</p>
</li>
</ol>
</div>
<table id="table-basic-settings-marketplace" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Carrying out basic settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Setting</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong> (mandatory field)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the catalogue.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export type</strong> (mandatory field)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the export type (e.g. Amazon) from the drop-down list. This is the marketplace format that you want to use for the export.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format type</strong> (mandatory field)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a format (e.g. Item) from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong> (mandatory field)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a format from the drop-down list. This is the desired category.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="65">5.2. Carrying out the format settings</h3>
<div class="paragraph">
<p>Once you have carried out the basic settings, you can determine a format as well as separators in the format settings.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the format settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select the catalogue for which you want to carry out the format settings.<br>
→ The catalogue opens.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> (<span class="icon "><i class="material-settings"></i></span>) tab on the left.<br>
→ The different settings options are shown.</p>
</li>
<li>
<p>Go to the section <strong>Format settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the information given in <a href="#table-format-settings-marketplace">Table 4</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="material-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-format-settings-marketplace" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Carrying out the format settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Setting</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the file name. There is no need to add the extension .csv or .txt as this is done automatically by the system.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Use placeholders to automatically add further information to the file name.
For example, you can add the current date to the file name.
The following placeholders are available: $name, $type, $format, $timestamp, $datetime, $year, $month, $day, $hour, $minute, $second</p>
</div>
<div class="paragraph">
<p><strong><em>Examples</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>file-name.csv</p>
</li>
<li>
<p>file-name_2020_10_25.csv</p>
</li>
<li>
<p>file-name_$year_$month_$day.csv</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the format of your file.<br>
<strong><em>Note:</em></strong> The available formats may vary.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Field separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a field separator from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text delimiter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a text delimiter from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Decimal separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a decimal separator from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Line break</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type of line break from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Header is included</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicate whether there is a header row included in your file.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="70">5.3. Carrying out the export settings</h3>
<div class="paragraph">
<p>If available, carry out the export settings. Note that these settings are not available for each marketplace format.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the export settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select the catalogue for which you want to carry out the export settings.<br>
→ The catalogue opens.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> (<span class="icon "><i class="material-settings"></i></span>) tab on the left.<br>
→ The different settings options are shown.</p>
</li>
<li>
<p>Go to the section <strong>Export settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-export-settings-marketplace">Table 5</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="material-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">No export to marketplaces when selecting FTP</div>
<div class="paragraph">
<p>By selecting the option <strong>FTP</strong> in the export settings, you only determine how the export should be provided. No data is transferred to marketplaces.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="table-export-settings-marketplace" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 5. Carrying out the export settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Setting</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select from the drop-down list, in which form you want the export to be provided.<br>
If you select FTP, FTPS or SFTP, further fields become visible.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Server</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the server. We recommend to leave out the protocol prefix (ftp://, ftps:// etc.).<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the port or use the default setting. Use port 21 for FTP and FTPS. Use port 22 for SFTP.<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the user name.<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a password.<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Path</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the path for the storage location of your file. <strong><em>Note</em></strong>: If you are using SFTP, it is necessary to provide the full path.<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Define when you want the export to start. To do so, select an option from the drop-down list. When selecting <strong>Schedule</strong>, a window opens where you can choose the time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schedule</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select from the drop-down list, at which time you want the export to happen.<br>
This field is only visible if you have selected <strong>Schedule</strong> for the transfer.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Display mandatory fields only</div>
<div class="paragraph">
<p>By default, both mandatory fields (marked with a *) and non-mandatory fields of a catalogue are shown. In order to only see the mandatory fields, activate the toggle button in the further actions (<span class="icon "><i class="material-more_vert"></i></span>) of the catalogue.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="80">5.4. Mapping and linking data fields</h3>
<div class="paragraph">
<p>In the <strong>Mapping</strong> tab of a catalogue you can map the sales channel’s data fields to your plentymarkets data fields. Depending on the product data you want to transfer, you either map a data field or a value. For example, you select which data field in plentymarkets contains the weight of variations. In the lower section you can map values. For example, you map the sales channel’s category “Pet food” to your plentymarkets category “Animal food”.</p>
</div>
<div class="paragraph">
<p>For the export of a data field you can map as many fields as you like. To do so, add further data fields and select a separator for each combination. Moreover, you can add fallback data fields. In case a value does not exist, you can define here which value should be exported instead.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/markets/assets/catalogue-menu-colours.png" alt="catalogue menu colours">
</div>
</div>
<div class="paragraph">
<p><em>Menu structure of a catalogue with marketplace format</em></p>
</div>
<div class="paragraph">
<p>In the following you will find explanations on the individual sections.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Navigation</strong>: Here you can switch between the different sections. Access the <a href="/en/data/exporting-data/managing-catalogues#50">catalogue settings</a>, map the respective <a href="/en/data/exporting-data/managing-catalogues#80">plentymarkets data fields</a> as well as <a href="/en/data/exporting-data/managing-catalogues#81">own data fields</a> to the ones of the marketplace, or set <a href="/en/data/exporting-data/managing-catalogues#257">filters</a> in order to narrow down data.</p>
</li>
<li>
<p><strong>Toolbar</strong>: Here you can carry out actions that are relevant for the catalogue, such as saving the mapping of the data fields.</p>
</li>
<li>
<p><strong>Data fields of the marketplace</strong>: Here, all available marketplace data fields are listed. Mandatory fields are marked with an asterisk (*).</p>
</li>
<li>
<p><strong>Mapped plentymarkets data fields</strong>: Shows all data fields that have been mapped to the data fields of the marketplace for the export. Furthermore, you can add <a href="/en/data/exporting-data/managing-catalogues#82">own values</a> and select <a href="/en/data/exporting-data/managing-catalogues#80">fallback data fields</a> that are exported in case the mapped data field could not be found or is empty.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<div class="title">Additional mapping for specific data fields</div>
<p>Data fields such as VariationSalesPrice.price require an additional mapping, because more than one price may exist for each variation. The mapping allows you to export a specific sales price. To export more than one sales price, you can add the data field several times. Data fields that require additional mapping have a drop-down list. The default value is always preselected.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">No free text fields or characteristics</div>
<div class="paragraph">
<p>Free text fields and characteristics have been replaced by properties. Thus, you cannot transfer free text fields and characteristics to sales channels anymore. Use the properties instead.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Adding all data fields of a group at once</div>
<div class="paragraph">
<p>If you want to add all data fields of a group to a catalogue at once, click on the plus on the right of the group.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="81" class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Adding own data fields</div>
<div class="paragraph">
<p>In the <strong>Own data fields</strong> area in the side navigation you can add your own data fields and specify a name.
 Make sure to choose an individual name for each data field.<br>
Note: This option is not available for all catalogues.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Proceed as described below to map the data fields of the sales channel to a plentymarkets data field.</p>
</div>
<div class="paragraph instruction">
<p>Mapping and linking data fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on a catalogue.<br>
→ The <strong>Mapping</strong> tab (<span class="icon "><i class="psicon-order_return_create_edit"></i></span>) with the marketplace data fields opens.<br>
<strong><em>Tip</em></strong>: Mandatory fields are marked with an asterisk.</p>
</li>
<li>
<p>To the right of the first marketplace data field, click on <strong>Add data field</strong>.<br>
→ The editing mode opens and the available plentymarkets data fields are displayed as groups on the left.</p>
</li>
<li>
<p>Click on a group to expand the associated data fields.<br>
→ The data fields are shown.</p>
</li>
<li>
<p>Next to the data field you want to select, click on the plus.<br>
→ The data field is added to the view.<br>
<strong><em>Or:</em></strong> Enter the name of the data field into the search field and navigate to the desired entry. Afterwards, press Enter to add it to the view.<br>
<strong><em>Tip</em></strong>: Do you want to export a fixed value for every variation for one of the marketplace data fields? Click on the plus next to <strong>Own value</strong>.<br>
→ The field for the own value is added to the view.</p>
</li>
<li>
<p>If you selected <strong>Own value</strong>, enter a value into the input field below.</p>
</li>
<li>
<p>Close the editing mode via the X or by clicking outside the window.<br>
<strong><em>Optional</em></strong>: Click on <strong>Add fallback data field</strong> to select a data field that is exported in case another one is not available. You can also add more than one fallback data field.<br>
<strong><em>Optional</em></strong>: To map another data field to an existing one, click on <strong>Add data field</strong> (<span class="icon "><i class="material-link"></i></span>) on the right.<br>
→ The editing mode opens.</p>
</li>
<li>
<p>Next to the data field you want to select, click on the plus or select <strong>Own value</strong>.<br>
→ The data field is added to the view.</p>
</li>
<li>
<p>Close the editing mode via the X or by clicking outside the window.</p>
</li>
<li>
<p>On the right in the data row, click on <strong>Settings</strong> (<span class="icon "><i class="material-settings"></i></span>) to select a separator for linking the data fields.<br>
→ The window <strong>Data column settings</strong> opens.</p>
</li>
<li>
<p>Select a separator from the drop-down list or add an own separator.<br></p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The data fields are linked and will be exported with the respectively selected separator.<br>
<strong><em>Note</em></strong>: If a data field in a combination does not exist, only the remaining data fields will be exported.</p>
</li>
<li>
<p>Map the desired data fields.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="material-save"></i></span>) the settings.<br>
→ The mappings are saved.</p>
</li>
</ol>
</div>
<div id="82" class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Own value</div>
<div class="paragraph">
<p>The option <strong>Own value</strong> allows you to export a fixed value for a data field. This fixed value is thus identical for each data record that is exported via this catalogue.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Replacing data fields</div>
<div class="paragraph">
<p>Do you want to replace a data field in a specific position without having to delete linked data fields and to select new ones again? To do so, click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>) on the right of the data field you want to replace and select a new one.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Moving data fields in a mapping</div>
<div class="paragraph">
<p>When mapping data fields, you can move each data field as desired. To do so, go to the respective data field and drag and drop it to the desired position.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="85">5.5. Transferring combined mappings to a marketplace</h3>
<div class="paragraph">
<p>Combined mappings allow you to transfer data fields that have a dependency to a marketplace.<br>
<em>Example</em> (see image below): You want to transfer the data field <strong>Barcode</strong> and additionally need the Barcode type <strong>ASIN</strong>. Therefore, you specify the Barcode type <strong>ASIN</strong> as additional information and define that this will be transferred, if the data field <strong>Barcode</strong> can be filled with the value from the plentymarkets data field <strong>Amazon Germany</strong>.<br>
If this is not possible, because no value can be found, the next possibility is checked. Thus, the Barcode type <strong>GTIN</strong> will be transferred to the marketplace, if the data field <strong>Barcode</strong> can be filled with the value from the plentymarkets data field <strong>GTIN 13</strong> <em>or</em> <strong>GTIN 128</strong>.<br>
<strong><em>Note:</em></strong> In case none of the defined possibilities applies, neither <strong>Barcode</strong> nor <strong>Barcode type</strong> will be transferred.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/exporting-data/assets/combined-mappings-png" alt="combined mappings png">
</div>
</div>
</div>
<div class="sect2">
<h3 id="90">5.6. Deleting data fields</h3>
<div class="paragraph">
<p>In the <strong>Mapping</strong> tab of a catalogue with a marketplace format you can delete individual or several data fields at once. You can also remove the selected fallback data fields.</p>
</div>
<div class="paragraph instruction">
<p>Deleting data fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Open a catalogue with marketplace format.<br>
→ The <strong>Mapping</strong> tab (icon:order_return_create_edit[set=plenty[) with all available data fields opens.</p>
</li>
<li>
<p>Click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>) on the right of the data field that you want to delete.</p>
</li>
<li>
<p>Click on <strong>Delete data field</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ The data field is deleted.<br>
<strong><em>Or</em></strong>: On the right side in the data row, click on <strong>Reset</strong> (<span class="icon "><i class="material-undo"></i></span>).<br>
→ All data fields that have been added to the data row are deleted. <strong><em>Note</em></strong>: This only works for data fields that have just been added, but have not been saved yet.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="100">5.7. Available plentymarkets data fields</h3>
<div class="ulist">
<ul>
<li>
<p><strong><em>Marketplace data fields</em></strong>:
Information about the target data fields can be found in the documentation for the specific sales channel.</p>
</li>
<li>
<p><strong><em>plentymarkets data fields</em></strong>:
<a href="/en/data/exporting-data/catalogues-item">This page</a> provides information about the plentymarkets data fields and how to use them.</p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="110">6. Creating catalogues with standard formats</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the following, you will find detailed information on how to create and manage catalogues with standard formats in the <strong>Data » Catalogues</strong> menu. Standard formats include specific data such as item or order data that you can export from your plentymarkets system.</p>
</div>
<div class="sect2">
<h3 id="130">6.1. Creating and setting up a catalogue</h3>
<div class="paragraph instruction">
<p>Carrying out the basic settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on <strong>Create catalogue</strong> (<span class="icon "><i class="material-add"></i></span>).<br>
→ A new view opens.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-basic-settings-standard">Table 6</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="material-save"></i></span>) the settings.<br>
→ The catalogue is created and the <strong>Settings</strong> tab (<span class="icon "><i class="material-settings"></i></span>) opens.</p>
</li>
</ol>
</div>
<table id="table-basic-settings-standard" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 6. Carrying out basic settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Setting</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong> (mandatory field)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the name of the catalogue.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export type</strong> (mandatory field)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the export type from the drop-down list. This is the standard format that you want to use for the export.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format type</strong> (mandatory field)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the respective format type - e.g. Item (new) - from the drop-down list.<br>
 <strong><em>Note</em></strong>: At the moment, the formats <a href="/en/data/exporting-data/catalogues-manufacturers">Manufacturers</a>, <strong>Newsletter recipients</strong>, <a href="/en/data/exporting-data/catalogues-orders">Order</a>, <a href="/en/data/exporting-data/catalogues-purchase-orders">Purchase order</a>, <a href="/en/data/exporting-data/catalogues-item">Item (new)</a>, <a href="/en/data/exporting-data/exporting-stock-movements">Stock movements</a> and <a href="/en/data/exporting-data/exporting-stocks">Stocks</a> are available.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong> (mandatory field)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select one of the formats from the drop-down list.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="140">6.2. Carrying out the format settings</h3>
<div class="paragraph">
<p>Once you have carried out the basic settings, you can determine a format as well as separators in the format settings.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the format settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select the catalogue for which you want to carry out the format settings.<br>
→ The catalogue opens.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> (<span class="icon "><i class="material-settings"></i></span>) tab on the left.<br>
→ The different settings options are shown.</p>
</li>
<li>
<p>Go to the section <strong>Format settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-format-settings-standard">Table 7</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="material-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-format-settings-standard" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 7. Carrying out the format settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Setting</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the file name. There is no need to add the extension .csv or .txt as this is done automatically by the system.<br></p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Use placeholders to automatically add further information to the file name.
For example, you can add the current date to the file name.
The following placeholders are available: $name, $type, $format, $timestamp, $datetime, $year, $month, $day, $hour, $minute, $second</p>
</div>
<div class="paragraph">
<p><strong><em>Examples</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>file-name.csv</p>
</li>
<li>
<p>file-name_2020_10_25.csv</p>
</li>
<li>
<p>file-name_$year_$month_$day.csv</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the format of your file.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Field separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a field separator from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Text delimiter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a text delimiter from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Decimal separator</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a decimal separator from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Line break</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the type of line break from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Header is included</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Indicate whether there is a header row included in your file.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="150">6.3. Carrying out the export settings</h3>
<div class="paragraph">
<p>Once you have carried out the basic and format settings, it is time to take a look at the export settings. Here you determine how the export should be provided.</p>
</div>
<div class="paragraph instruction">
<p>Carrying out the export settings:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on the catalogue for which you want to carry out the export settings.<br>
→ The catalogue opens.</p>
</li>
<li>
<p>Click on the <strong>Settings</strong> (<span class="icon "><i class="material-settings"></i></span>) tab on the left.<br>
→ The different settings options are shown.</p>
</li>
<li>
<p>Go to the section <strong>Export settings</strong>.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-export-settings-standard">Table 8</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="material-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<table id="table-export-settings-standard" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 8. Carrying out the export settings</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top"><strong>Setting</strong></th>
<th class="tableblock halign-left valign-top"><strong>Explanation</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select from the drop-down list, in which form you want the export to be provided.<br>
If you select FTP, FTPS or SFTP, further fields become visible.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Server</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the server. We recommend to leave out the protocol prefix (ftp://, ftps:// etc.).<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the port or use the default setting. Use port 21 for FTP and FTPS. Use port 22 for SFTP.<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>User name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the user name.<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Password</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a password.<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Path</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the path for the storage location of your file. <strong><em>Note</em></strong>: If you are using SFTP, it is necessary to provide the full path.<br>
This field is only visible if you have selected FTP, FTPS or SFTP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Define when you want the export to start. To do so, select an option from the drop-down list. When selecting <strong>Schedule</strong>, a window opens where you can choose the time.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Schedule</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select from the drop-down list, at which time you want the export to happen.<br>
This field is only visible if you have selected <strong>Schedule</strong> for the transfer.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="160">6.4. Adding and linking data fields</h3>
<div class="paragraph">
<p>In catalogues with standard formats, you can also add and link several data fields for the export from your plentymarkets system. Moreover, you can add fallback data fields. In case a value does not exist, you can define here which value should be exported instead.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/data/exporting-data/assets/menu-structure-standard-format.png" alt="menu structure standard format">
</div>
</div>
<div class="paragraph">
<p><em>Menu structure of a catalogue with standard format</em></p>
</div>
<div class="paragraph">
<p>In the following you will find explanations on the individual sections.<br></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Navigation</strong>: Here you can switch between the different sections. Access the <a href="/en/data/exporting-data/managing-catalogues#120">catalogue settings</a>, select <a href="/en/data/exporting-data/managing-catalogues#160">plentymarkets data fields</a> for the export or set <a href="/en/data/exporting-data/managing-catalogues#257">filters</a> in order to narrow down data.</p>
</li>
<li>
<p><strong>Toolbar</strong>: Here you can carry out actions that are relevant for the catalogue and for example download your data after mapping the data fields in order to start the export.</p>
</li>
<li>
<p><strong>Available plentymarkets data fields</strong>: Select here, which of the available plentymarkets data fields you want to export. Besides the data fields, there are also <a href="/en/data/exporting-data/managing-catalogues#164">own values</a> and <a href="/en/data/exporting-data/managing-catalogues#mathematical-calculations">formulas</a> available which you can use in order to tailor the export to your specific needs.</p>
</li>
<li>
<p><strong>Selected data fields</strong>: Here, all data fields that you selected for the export are shown. Via <a href="/en/data/exporting-data/managing-catalogues#165">drag-and-drop</a>, you can move them as desired and thus adjust the order in which they are exported. Furthermore, you can define the <a href="/en/data/exporting-data/managing-catalogues#162">export key</a> - the name under which the data field will be exported. For the event that a selected value is not available, you can also add <a href="/en/data/exporting-data/managing-catalogues#160">fallback data fields</a>.</p>
</li>
</ul>
</div>
<div id="162" class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Determining an export key for added data fields</div>
<div class="paragraph">
<p>To the left of newly added data fields, you can enter an export key. All values of the respective row will then be exported under the key name. Make sure that the key is unique and do not use any special characters such as spaces . / etc.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Adding all data fields of a group at once</div>
<div class="paragraph">
<p>If you want to add all data fields of a group to a catalogue at once, click on the plus on the right of the group.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Adding and linking data fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on a catalogue.<br>
→ The <strong>Data fields</strong> tab (<span class="icon "><i class="psicon-order_return_create_edit"></i></span>) opens and displays all available plentymarkets data fields as groups on the left.</p>
</li>
<li>
<p>Click on a group to expand the associated data fields.<br>
→ The data fields are shown.</p>
</li>
<li>
<p>Next to the data field you want to select, click on the plus.<br>
→ The data field is added to the view.<br>
<strong><em>Or:</em></strong> Enter the name of the data field into the search field and navigate to the desired entry. Afterwards, press Enter to add it to the view.<br>
<strong><em>Tip</em></strong>: Do you want to export a fixed value for every variation for one of the data fields? Click on the plus next to <strong>Own value</strong>.<br>
→ The field for the own value is added to the view.</p>
</li>
<li>
<p>If you selected <strong>Own value</strong>, enter a value into the input field below.
<strong><em>Optional</em></strong>: Click on <strong>Add fallback data field</strong> to select a data field that is exported in case another one is not available. You can also add more than one fallback data field.<br></p>
</li>
<li>
<p><strong><em>Optional</em></strong>: To link another data field to an existing one, click on <strong>Add data field</strong> (<span class="icon "><i class="material-link"></i></span>) on the right.<br>
→ The editing mode opens.</p>
</li>
<li>
<p>Next to the data field you want to select, click on the plus or select <strong>Own value</strong>.<br>
→ The data field is added to the view.</p>
</li>
<li>
<p>On the right in the data row, click on <strong>Settings</strong> (<span class="icon "><i class="material-settings"></i></span>) to select a separator for linking the data fields.<br>
→ The window <strong>Data column settings</strong> opens.</p>
</li>
<li>
<p>Select a separator from the drop-down list or add an own separator.<br></p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The data fields are linked and will be exported with the respectively selected separator.</p>
</li>
<li>
<p>Add all desired data fields and create links where needed.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon "><i class="material-save"></i></span>) the settings.</p>
</li>
</ol>
</div>
<div id="164" class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Own value</div>
<div class="paragraph">
<p>The option <strong>Own value</strong> allows you to export a fixed value for a data field. This fixed value is thus identical for each data record that is exported via this catalogue.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div id="165" class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Determining the order of CSV columns</div>
<div class="paragraph">
<p>You can move single data fields or whole columns as desired and thus determine the order in which the data fields are exported. If you want to move a single data field, go to the data field and drag and drop it to the desired position. However, if you want to move a whole column, click on the symbol (<span class="icon "><i class="material-drag_indicator"></i></span>) on the left side and drag and drop it to the desired position.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="mathematical-calculations">6.5. Adjusting values using mathematical calculations</h3>
<div class="paragraph">
<p>Mathematical calculations allow you to changes values during the export. Note that this function is only applicable to data fields that contain numerical values.</p>
</div>
<div class="paragraph instruction">
<p>Adjusting values using mathematical calculations:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Open a catalogue.<br>
→ The tab <strong>Data fields</strong> opens.</p>
</li>
<li>
<p>In the list of data fields, click on the plus next to <strong>Formula</strong> (<span class="icon "><i class="material-calculate"></i></span>).<br>
→ The field <strong>Formula</strong> is added to the view on the right.</p>
</li>
<li>
<p>Click on the field <strong>Formula</strong>.<br>
→ The <strong>Modify value</strong> window opens.</p>
</li>
<li>
<p>Select a decimal separator from the drop-down list.</p>
</li>
<li>
<p>At the bottom right of the window, select a data field to add it to the calculation (<span class="icon "><i class="material-add"></i></span>).<br>
<strong><em>Tip:</em></strong> Use the search function to find data fields quickly.<br>
→ The data field is added to the calculation.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> If the symbol <span class="icon "><i class="material-more_vert"></i></span> is shown in the data field, select the correct assignment for the data field.<br>
<strong><em>Tip:</em></strong> A number tells you how many assignments are necessary for the data field.</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Click on the symbol <span class="icon "><i class="material-more_vert"></i></span>.<br></p>
</li>
<li>
<p>In the window shown, select the assignments from the drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> the settings.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Enter numbers and mathematical operators with the on-screen calculator or the keyboard.</p>
</li>
<li>
<p><strong>Save</strong> the settings.<br>
→ The entered formula is displayed in the overview.<br>
<strong><em>Tip:</em></strong> If a preview is available for the format, check the result by using the preview function (<span class="icon "><i class="material-preview"></i></span>).<br>
→ The calculation will be carried out in the next export.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="170">6.6. Deleting data fields</h3>
<div class="paragraph">
<p>In the <strong>Mapping</strong> tab of a catalogue with a standard format you can delete individual or several data fields at once.</p>
</div>
<div class="paragraph instruction">
<p>Deleting data fields:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Open a catalogue with standard format.<br>
→ The <strong>Data fields</strong> tab (icon:order_return_create_edit[set=plenty[) with all available data fields opens.</p>
</li>
<li>
<p>Click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>) on the right of the data field that you want to delete.</p>
</li>
<li>
<p>Click on <strong>Delete data field</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ The data field is deleted.<br>
<strong><em>Or</em></strong>: If you want to delete a complete row, click on <strong>Delete data row</strong> (<span class="icon "><i class="material-delete"></i></span>) on the right in the respective row.<br>
→ The complete row is deleted.<br>
<strong><em>Or</em></strong>: Tick the box on the left for all rows containing data fields that you want to delete. Afterwards, click on <strong>Delete selected data fields</strong> (<span class="icon "><i class="material-delete"></i></span>) at the top right.<br>
→ All selected data fields are deleted.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="paragraph">
<div class="title">(De)activating automatic export</div>
<p>The toggle button on the left side in the catalogue overview allows you to activate or deactivate a catalogue for the automatic export. By activating the toggle button, the data are transferred to the marketplace or exported from your system on a daily basis.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="257">7. Filtering export data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>You can use filters to limit the data that should be exported. You can find the filters in the side navigation of the <strong>Data » Catalogues</strong> menu.<br>
In catalogues with marketplace formats, both user-defined filters and template filters are visible. Template filters apply automatically and cannot be deselected. User-defined filters can be set as needed to only export specific items. The user-defined filters available depend on the marketplace format.</p>
</div>
<div class="paragraph instruction">
<p>Adding a filter:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select a catalogue.<br>
→ The overview opens.</p>
</li>
<li>
<p>On the left in the side navigation, click on the <strong>Filters</strong> (<span class="icon "><i class="material-filter_alt"></i></span>) tab.<br>
→ The filter overview opens.</p>
</li>
<li>
<p>Select a filter from the drop-down list.</p>
</li>
<li>
<p>Afterwards, click on <strong>Add filter</strong> (<span class="icon "><i class="material-add"></i></span>) on the right.<br>
→ The filter is added.</p>
</li>
<li>
<p>If available, select an operator from the drop-down list.</p>
</li>
<li>
<p>If available, enter the corresponding value in the field next to it.</p>
</li>
<li>
<p>Save (<span class="icon "><i class="material-save"></i></span>) the settings.<br>
→ The filter is saved.</p>
</li>
<li>
<p>Add additional filters as necessary.<br>
→ Only data that meets all filter criteria is exported.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="255">8. Creating a preview for the export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>After you have mapped the data fields, you can test the catalogue export using the preview function. The preview function allows you to download the first 5 data rows of the export. However, the preview function is not available for all catalogue formats.</p>
</div>
<div class="paragraph instruction">
<p>Creating a preview for the export:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>In the row of the catalogue for which you want to create a preview, click on the further actions (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>Preview</strong> (<span class="icon "><i class="material-preview"></i></span>).<br>
<strong><em>Or</em></strong>: Open a catalogue.</p>
</li>
<li>
<p>Click on <strong>Preview</strong> (<span class="icon "><i class="material-preview"></i></span>).<br>
→ A window opens and displays the preview of the first 5 data rows.</p>
</li>
<li>
<p><strong><em>Optional</em></strong>: Click on <strong>Download data</strong> (<span class="icon "><i class="material-file_download"></i></span>) to test the catalogue export and to download the preview.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="260">9. Manually exporting catalogue data</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Once you have carried out all settings and added at least one data field, you can manually export your catalogue and download the export file in the desired format. At the moment, the formats CSV, TXT, JSON and XML are available.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Manual export does not export data to marketplaces</div>
<div class="paragraph">
<p>By using the function <strong>Download data</strong>, you just carry out a manual export. In this case, your data will not be transferred to any marketplace.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Manually exporting catalogue data:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>In the row of the catalogue that you want to export, click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Click on <strong>Download data</strong> (<span class="icon "><i class="material-file_download"></i></span>).<br>
→ The export starts.<br>
<strong><em>Or</em></strong>: Open a catalogue.</p>
</li>
<li>
<p>At the top, click on <strong>Download data</strong> (<span class="icon "><i class="material-file_download"></i></span>).<br>
→ The export is started and runs in the background so you can continue working without any disruptions.</p>
</li>
<li>
<p>As soon as the export is finished, you will be notified (<span class="icon "><i class="material-notifications_none"></i></span>) that the export file can be downloaded.</p>
</li>
<li>
<p>If you want to download the export file, click on <strong>Download</strong> in the notification.<br>
→ The downloaded export file opens.</p>
</li>
</ol>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Exports only kept for 15 days</div>
<div class="paragraph">
<p>Once you have carried out an export, it will automatically be removed from the plentymarkets storage after 15 days. If you want to keep an export, use the <strong>scheduler</strong> or carry out a manual export via the <strong>Download data</strong> function.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="290">10. Generating a URL for the download</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In the <strong>Download settings</strong> of a catalogue you can generate a URL for the download. Via this URL you can directly download the catalogue that has just been exported. This can be done by using either an admin link or a public link.</p>
</div>
<div class="paragraph instruction">
<p>Generating a URL for the download:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select a catalogue.<br>
→ The catalogue opens.</p>
</li>
<li>
<p>Open the <strong>Settings</strong> tab (<span class="icon "><i class="material-settings"></i></span>) on the left and select the <strong>Download settings</strong> section.<br>
→ The settings for generating the URL are displayed.</p>
</li>
<li>
<p>Carry out the settings. Pay attention to the explanations given in <a href="#table-generate-url">Table 9</a>.<br>
→ The URL for the catalogue’s download is displayed as soon as the export has been finished. The URL that was last generated will always be displayed in the menu.</p>
</li>
<li>
<p>Click on the URL or copy the URL (<span class="icon "><i class="material-content_copy"></i></span>) to use it.</p>
</li>
</ol>
</div>
<table id="table-generate-url" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 9. Generate URL</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shop URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a domain for generating the URL.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Receive notifications</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When activating the toggle you will get a notification when the export is finished.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Options for admin link</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use hash</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether a hash should be used. If this option is active, a new URL including hash key is created each time the catalogue is modified.<br>
The hash represents all settings that are relevant for the catalogue export. If these settings change, the hash changes and all future links will include the new hash. Older links will be valid for 15 days from the last export with that hash. If you always want to have the export of the current catalogue settings, do not use the hash.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Admin link</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can only use an admin link, if you are logged in as an admin. By clicking on the icon on the right (<span class="icon "><i class="material-content_copy"></i></span>), you can copy the URL.</p></td>
</tr>
<tr>
<td class="tableblock halign-center valign-top" colspan="2"><p class="tableblock"><strong>Options for public link</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Activate options</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activates or deactivates the public link and enables the use of the options <strong>Use hash</strong> and <strong>Use token</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use hash</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select whether a hash should be used. If this option is active, a new URL including hash key is created each time the catalogue is modified.<br>
The hash represents all settings that are relevant for the catalogue export. If these settings change, the hash changes and all future links will include the new hash. Older links will be valid for 15 days from the last export with that hash. If you always want to have the export of the current catalogue settings, do not use the hash.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Use token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">When active, a token is generated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Security token</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">By clicking on the icon on the right (<span class="icon "><i class="fa fa-rotate-left  "></i></span>), a new token is generated.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Public link</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use a public link, if you are not logged in as an admin. By clicking on the icon on the right (<span class="icon "><i class="material-content_copy"></i></span>), you can copy the URL.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="180">11. Managing catalogues</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Read the following chapters to learn how to copy, delete and restore existing catalogues. This information applies to both marketplace and standard formats.</p>
</div>
<div class="sect2">
<h3 id="15">11.1. Customizing catalogue overview columns</h3>
<div class="paragraph">
<p>You can customize the information that is displayed in the table columns. To do so, proceed as follows:</p>
</div>
<div class="paragraph instruction">
<p>Customizing catalogue overview columns:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>At the top right, click on <strong>Configure columns</strong> (<span class="icon "><i class="material-settings"></i></span>).<br>
→ The window <strong>Configure columns</strong> opens.</p>
</li>
<li>
<p>Select which columns you want to be displayed.</p>
</li>
<li>
<p>Move (<span class="icon "><i class="material-sort"></i></span>) the columns so they are displayed in the desired order.</p>
</li>
<li>
<p>Click on <strong>Confirm</strong> to save your settings.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="190">11.2. Copying catalogues</h3>
<div class="paragraph">
<p>You can copy catalogues to use well configured catalogues to quickly create a new catalogues. Any data fields that you have already mapped are copied, even if you select a different format. You can also select a different language for the copy.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="coping-one-catalogue-tab" data-toggle="tab" href="#coping-one-catalogue" role="tab" aria-controls="coping-one-catalogue" aria-selected="true">Coping one catalogue</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="copying-multiple-catalogues-tab" data-toggle="tab" href="#copying-multiple-catalogues" role="tab" aria-controls="copying-multiple-catalogues" aria-selected="false">Copying multiple catalogues</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="coping-one-catalogue" role="tabpanel" aria-labelledby="coping-one-catalogue-tab">
<div class="paragraph instruction">
<p>Coping a catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>In the row of the catalogue that you want to copy, click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Click on <strong>Copy</strong> (<span class="icon "><i class="material-content_copy"></i></span>).<br>
<strong><em>Or</em></strong>: Tick the box of the catalogue that you want to copy.</p>
</li>
<li>
<p>At the top in the catalogue overview click on <strong>Copy catalogue</strong> (<span class="icon "><i class="material-content_copy"></i></span>).<br>
→ A window opens.</p>
</li>
<li>
<p>If desired, adjust the automatically created name for the copy.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select another format from the drop-down list. Data fields that have already been mapped will be transferred.</p>
</li>
<li>
<p><strong><em>Optional:</em></strong> Select another language from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Copy</strong>.<br>
→ The catalogue is copied and displayed in the catalogue overview.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="copying-multiple-catalogues" role="tabpanel" aria-labelledby="copying-multiple-catalogues-tab">
<div class="paragraph">
<p>You can also copy several catalogues at once. However, in this case you cannot change the format or language of the catalogues.</p>
</div>
<div class="paragraph instruction">
<p>Copying several catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select the catalogues that you want to copy.</p>
</li>
<li>
<p>Click on <strong>Copy catalogue</strong> (<span class="icon "><i class="material-content_copy"></i></span>).<br>
→ All selected catalogues are copied and displayed in the catalogue overview.<br></p>
</li>
<li>
<p><strong><em>Optional:</em></strong> If you want to edit the automatically created names of the copied catalogues, open the catalogues individually and adjust the name in the basic settings.</p>
</li>
</ol>
</div>
</div></div>
<hr>
</div>
<div class="sect2">
<h3 id="210">11.3. Deleting catalogues</h3>
<div class="paragraph">
<p>You can delete one catalogue or multiple catalogues at the same time.</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="deleting-one-catalogue-tab" data-toggle="tab" href="#deleting-one-catalogue" role="tab" aria-controls="deleting-one-catalogue" aria-selected="true">Deleting one catalogue</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="deleting-multiple-catalogues-tab" data-toggle="tab" href="#deleting-multiple-catalogues" role="tab" aria-controls="deleting-multiple-catalogues" aria-selected="false">Deleting multiple catalogues</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="deleting-one-catalogue" role="tabpanel" aria-labelledby="deleting-one-catalogue-tab">
<div class="paragraph instruction">
<p>Deleting catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>In the row of the catalogue that you want to delete, click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Click on <strong>Delete</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ You are asked to confirm your decision.</p>
</li>
<li>
<p>Confirm the deletion.<br>
→ The catalogue is deleted.<br>
<strong><em>Or</em></strong>: Open a catalogue.</p>
</li>
<li>
<p>Click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>) at the top.</p>
</li>
<li>
<p>Click on <strong>Delete catalogue</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ You are asked to confirm your decision.</p>
</li>
<li>
<p>Confirm the deletion.<br>
→ The catalogue is deleted.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="deleting-multiple-catalogues" role="tabpanel" aria-labelledby="deleting-multiple-catalogues-tab">
<div class="paragraph">
<p>Proceed as follows in order to delete several catalogues at once.</p>
</div>
<div class="paragraph instruction">
<p>Deleting several catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select the catalogues that you want to delete.</p>
</li>
<li>
<p>At the top right, click on <strong>Delete selected catalogues</strong> (<span class="icon "><i class="material-delete"></i></span>).<br>
→ You are asked to confirm your decision.</p>
</li>
<li>
<p>Confirm the deletion.<br>
→ The catalogues are deleted.</p>
</li>
</ol>
</div>
</div></div>
<hr>
</div>
<div class="sect2">
<h3 id="240">11.4. Restoring deleted catalogues</h3>
<div class="paragraph">
<p>In the catalogue overview, you can restore the last version of a deleted catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Restoring a deleted catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on <strong>Restore deleted catalogue</strong> (<span class="icon "><i class="material-undo"></i></span>).<br>
→ A window opens.</p>
</li>
<li>
<p>Select a catalogue from the drop-down list.</p>
</li>
<li>
<p>Click on <strong>Restore</strong>.<br>
→ The catalogue is restored and displayed in the catalogue overview.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="250">11.5. Restoring a catalogue version</h3>
<div class="paragraph">
<p>You can restore a previous catalogue version via the further actions or in the view of a catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Restoring a catalogue version:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>In the row of the catalogue for which you want to restore a different version, click on the further actions (<span class="icon "><i class="material-more_vert"></i></span>).</p>
</li>
<li>
<p>Click on <strong>Restore catalogue version</strong> (<span class="icon "><i class="fa fa-undo  "></i></span>).<br>
<strong><em>Or</em></strong>: Open a catalogue and click on the further actions (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>) at the top.</p>
</li>
<li>
<p>Click on <strong>Restore catalogue version</strong> (<span class="icon "><i class="fa fa-undo  "></i></span>).<br>
→ A window opens.</p>
</li>
<li>
<p>Select the version that you want to restore.</p>
</li>
<li>
<p>Click on <strong>Restore</strong>.<br>
→ The catalogue version is restored and displayed in the catalogue overview.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="270">11.6. Exporting catalogues</h3>
<div class="paragraph">
<p>Export catalogues to import them into other plentymarkets systems afterwards. At the same time, an export also serves as data backup.</p>
</div>
<div class="paragraph instruction">
<p>Exporting catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Place a check mark for the catalogue that you want to export. You can also select several catalogues at once.</p>
</li>
<li>
<p>At the top, click on <strong>Export catalogue</strong> (<span class="icon "><i class="material-file_download"></i></span>).<br>
→ A window opens.</p>
</li>
<li>
<p>Select a storage location.<br>
→ The selected catalogues are exported and saved at the desired location.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="280">11.7. Importing catalogues</h3>
<div class="paragraph">
<p>Use the import function to import catalogues from other plentymarkets systems or catalogues that have been saved as backup beforehand.</p>
</div>
<div class="paragraph instruction">
<p>Importing catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>At the top, click on <strong>Import catalogue</strong> (<span class="icon "><i class="material-file_upload"></i></span>).<br>
→ A window opens.</p>
</li>
<li>
<p>Select the catalogue file that you want to import.<br>
<strong><em>Important:</em></strong> You can only import one catalogue at a time.
→ The catalogue is imported and displayed in the overview.<br>
→ The name of the imported catalogue contains the addition (1). If the catalogue originates from another system, the name from this system is maintained.</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>