<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> What is a catalogue?</span></a></li>
<li><a href="#20"><span>2.</span><span> What is a catalogue template?</span></a></li>
<li><a href="#30"><span>3.</span><span> Managing variation data using properties</span></a>
<ul class="sectlevel3">
<li><a href="#_example_1_diameter_information"><span>3.1.</span><span> Example 1: Diameter information</span></a></li>
<li><a href="#_example_2_brand_names"><span>3.2.</span><span> Example 2: Brand names</span></a></li>
</ul>
</li>
<li><a href="#40"><span>4.</span><span> Managing catalogues</span></a>
<ul class="sectlevel2">
<li><a href="#50"><span>4.1.</span><span> Creating a catalogue</span></a></li>
<li><a href="#60"><span>4.2.</span><span> Mapping data sources</span></a></li>
<li><a href="#70"><span>4.3.</span><span> Combining data sources</span></a></li>
<li><a href="#80"><span>4.4.</span><span> Copying a catalogue</span></a></li>
<li><a href="#85"><span>4.5.</span><span> Copying several catalogues</span></a></li>
<li><a href="#90"><span>4.6.</span><span> Deleting a catalogue</span></a></li>
<li><a href="#95"><span>4.7.</span><span> Deleting several catalogues</span></a></li>
</ul>
</li>
<li><a href="#100"><span>5.</span><span> Transferring catalogue data to the sales channel</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Managing catalogues</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Use catalogues to export variation data to markets and other sales channels. Currently, you can use catalogues to transfer data to the markets REWE, Etsy, Metro and OTTO Market.</p>
</div>
<div class="paragraph">
<p>Catalogues are used to prepare variation data for exporting them to a sales channel. On this manual page, you will find information on creating and managing catalogues.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. What is a catalogue?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Each sales channel requires different product data. Often, different product information have to be sent to the same sales channel for different product categories (pet food, household items, food, etc.).</p>
</div>
<div class="paragraph">
<p>Catalogues allow you to customise information regarding your product portfolio to meet the requirements of each sales channel and target audience. You achieve this by mapping the individual data fields of a sales channel to a suitable plentymarkets data source. When your variation data is transferred to the sales channel, the sales channel’s data fields are then filled with the correct plentymarkets data.</p>
</div>
<div class="paragraph">
<p>Catalogues offer the following advantages:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>The sales channel provides the data structure. As such, you know exactly which variation data is necessary to sell your products on this sales channel.</p>
</li>
<li>
<p>You select which variation data you want to publish on each sales channel and for each template. For example, you can use properties to transfer different variation names and descriptions to different sales channels.</p>
</li>
</ul>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Exporting data? FormatDesigner</div>
<div class="paragraph">
<p>Catalogues are used to transmit data to sales channels. Catalogue data cannot be exported to a file or any other readable format. Use the <a href="/en/data/exporting-data/FormatDesigner">FormatDesigner</a> to export data.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. What is a catalogue template?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>A catalogue template provides a framework of the data a sales channel can accept. As such, catalogue templates tell you what data can be transmitted to the sales channel.</p>
</div>
<div class="paragraph">
<p>A sales channel can offer more than one catalogue template, for example for different product categories (pet food, food, non-food, etc.) or for different languages. Check the documentation to find out which catalogue templates are available for the different sales channels.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Could not find a catalogue template?</div>
<div class="paragraph">
<p>The catalogue templates of some sales channels are loaded into the <strong>Data » Catalogues</strong> menu when you deploy the sales channel’s plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Managing variation data using properties</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/en/item/managing-items#3000">Properties of the Item area</a> allow you to save data for variations for which no default data fields are available in the plentymarkets back end. In the following, you will find some examples on how to use properties.</p>
</div>
<div class="sect3">
<h4 id="_example_1_diameter_information">3.1. Example 1: Diameter information</h4>
<div class="paragraph">
<p><strong>Use case:</strong><br>
A sales channel allows you to send the <strong>diameter</strong> and the <strong>diameter unit</strong> of your products. By default, you cannot save diameter data in the plentymarkets back end.</p>
</div>
<div class="paragraph">
<p><strong>Recommended:</strong><br>
<a href="#table-diameter">Table 1</a> shows the recommended settings for sending diameter data to sales channels.</p>
</div>
<table id="table-diameter" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Example 1: Diameter information</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data field sales channel</th>
<th class="tableblock halign-left valign-top">Properties in plentymarkets</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Setup » Settings » Properties » Configuration</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diameter unit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Create the property <strong>Diameter unit</strong>:<br>
Section: <strong>Item</strong><br>
Property type: <strong>Selection</strong></p>
</li>
<li>
<p>Save values, e.g. <strong>cm</strong> and <strong>mm</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Create the property <strong>Diameter</strong>:<br>
Section: <strong>Item</strong><br>
Property type: <strong>Decimal number</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item » Edit item » Open item » Open variation</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diameter unit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>Add the property <strong>Diameter unit</strong>.</p>
</li>
<li>
<p>Select the unit from the drop-down list.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Open the <strong>Properties</strong> tab.</p>
</li>
<li>
<p>Add the property <strong>Diameter</strong>.</p>
</li>
<li>
<p>Enter the diameter in the unit you selected for <strong>Diameter unit</strong>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Data » Catalogues » Open catalogue</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diameter unit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>From the drop-down list <strong>Source</strong>, select the option <strong>Property » Diameter unit</strong>.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Diameter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>From the drop-down list <strong>Source</strong>, select the option <strong>Property » Diameter</strong>.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_example_2_brand_names">3.2. Example 2: Brand names</h4>
<div class="paragraph">
<p><strong>Use case:</strong><br>
The sales channel allows you to transfer the brand name of products. By default, you can save manufacturers but not brand names in the plentymarkets back end.</p>
</div>
<div class="paragraph">
<p><strong>Recommended:</strong><br>
If the manufacturer names saved in your system are not identical to the products’ brand names, you can manage brand names using properties. <a href="#table-brands">Table 2</a> shows the recommended settings for managing brands to send to sales channels.</p>
</div>
<table id="table-brands" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Example 2: Brand information</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Data field sales channel</th>
<th class="tableblock halign-left valign-top">Properties in plentymarkets</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Setup » Settings » Properties » Configuration</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Brand</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Create the property <strong>Brand</strong>:<br>
Section: <strong>Item</strong><br>
Property type: <strong>Short text</strong></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Item » Edit item » Open item » Open variation</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Brand</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Open the <strong>Texts</strong> tab.</p>
</li>
<li>
<p>Add the property <strong>Brand</strong>.</p>
</li>
<li>
<p>Enter the brand name.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Data » Catalogues » Open catalogue</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>From the drop-down list <strong>Brand</strong>, select the brand.</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>From the drop-down list <strong>Source</strong>, select the option <strong>Property » Brand</strong>.</p>
</li>
<li>
<p>In the <strong>Value</strong> field, enter the brand name.<br>
<strong><em>Note:</em></strong> The brand name of the sales channel is published on the sales channel.</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Managing catalogues</h2>
<div class="sectionbody">
<div class="paragraph">
<p>To create, edit or delete catalogues, go to <strong>Data » Catalogues</strong>.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Could not find a catalogue template?</div>
<div class="paragraph">
<p>The catalogue templates of some sales channel are loaded into the <strong>Data » Catalogues</strong> menu when you deploy the sales channel’s plugin.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="50">4.1. Creating a catalogue</h3>
<div class="paragraph">
<p>Proceed as described below to create a catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Creating a catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on <strong>Create catalogue</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Enter a name for the catalogue.</p>
</li>
<li>
<p>Select a catalogue template from the drop-down list.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The catalogue is created.<br>
→ The catalogue is opened for editing.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>The toggle button on the right in the catalogue overview allows you to activate or deactivate a catalogue. To edit the name of a catalogue, go to the settings (<span class="icon black"><i class="fa fa-cog  "></i></span>).</p>
</div>
</div>
<div class="sect2">
<h3 id="60">4.2. Mapping data sources</h3>
<div class="paragraph">
<p>Once you created a catalogue, the catalogue opens. On the left, the sales channel’s data is shown. Fields with an asterisk are mandatory. Further on the right of each data field is a drop-down list. Use these drop-down lists to map one or more plentymarkets data sources to the data fields of the sales channel.</p>
</div>
<div class="paragraph">
<p>Depending on the product data you want to transfer, you either map a data field or a value. In the upper area, you can map data fields. For example, you select which data field in plentymarkets contains the weight of variations. In the lower section, you can map values. For example, you map the sales channel’s category “Pet food” to your plentymarkets category “Animal food”.</p>
</div>
<div class="paragraph">
<p>Proceed as described below to map the data fields of the sales channel to a plentymarkets data source.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">No free text fields or characteristics</div>
<div class="paragraph">
<p>Free text fields and characteristics have been replaced with properties. Thus, you cannot transfer free text fields and characteristics to sales channels anymore. Use the properties instead.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Mapping data sources:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on the catalogue.<br>
→ The catalogue opens.<br>
→ On the left, the sales channel’s data fields are displayed.<br>
<strong><em>Tip:</em></strong> Mandatory fields are marked with an asterisk.<br>
→ In the middle, drop-down lists with plentymarkets data sources are displayed.<br></p>
</li>
<li>
<p>From the drop-down list, select a plentymarkets source for the data fields of the sales channel.<br>
<strong><em>Note:</em></strong> Check the information in the user guide of the sales channel’s plugin for details on the target data fields. <a href="#table-catalogue-fields">Table 3</a> contains information regarding the plentymarkets data sources and how to map these data sources.<br></p>
</li>
<li>
<p>To map another plentymarkets source to a data field, click on <strong>Add source</strong> on the right. A source that has been added can be removed again by clicking on <strong>Remove source</strong>.<br>
→ A new line is added.<br>
<strong><em>Note:</em></strong> The selected data fields are checked in the order in which they were mapped. So if the first data field does not contain a value, the second data field is transferred, etc. In case you map more than one data source to a data field, only one value is transferred. However, there is the possibility of <a href="/en/data/exporting-data/managing-catalogues#70">combining data sources</a>.</p>
</li>
<li>
<p>Map all data you want to send to the sales channel.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The mappings are saved.</p>
</li>
</ol>
</div>
<table id="table-catalogue-fields" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Available plentymarkets data sources</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Type</th>
<th class="tableblock halign-left valign-top">Available sources</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Variation</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Variation ID</strong></p>
</li>
<li>
<p><strong>Is main variation</strong><br></p>
</li>
<li>
<p><strong>ID of main variation</strong><br></p>
</li>
<li>
<p><strong>Position</strong><br></p>
</li>
<li>
<p><strong>Active</strong><br></p>
</li>
<li>
<p><strong>Show unit price</strong><br></p>
</li>
<li>
<p><strong>Variation no.</strong><br></p>
</li>
<li>
<p><strong>Model</strong><br></p>
</li>
<li>
<p><strong>External variation ID</strong><br></p>
</li>
<li>
<p><strong>Net purchase price</strong><br></p>
</li>
<li>
<p><strong>Order picking</strong><br></p>
</li>
<li>
<p><strong>Stock limit</strong><br></p>
</li>
<li>
<p><strong>Online store: visible if net stock is positive</strong><br></p>
</li>
<li>
<p><strong>Online store: invisible if net stock is 0 or negative</strong><br></p>
</li>
<li>
<p><strong>Available if net stock is positive</strong><br></p>
</li>
<li>
<p><strong>Not available if net stock is 0 or negative</strong><br></p>
</li>
<li>
<p><strong>Max. order quantity</strong><br></p>
</li>
<li>
<p><strong>Min. order quantity</strong><br></p>
</li>
<li>
<p><strong>Interval order quantity</strong><br></p>
</li>
<li>
<p><strong>Available until</strong><br></p>
</li>
<li>
<p><strong>Release date</strong><br></p>
</li>
<li>
<p><strong>Variation name</strong><br></p>
</li>
<li>
<p><strong>Gross weight in g</strong><br></p>
</li>
<li>
<p><strong>Net weight in g</strong><br></p>
</li>
<li>
<p><strong>Width in mm</strong><br></p>
</li>
<li>
<p><strong>Length in mm</strong><br></p>
</li>
<li>
<p><strong>Height in mm</strong><br></p>
</li>
<li>
<p><strong>Extra shipping charge 1</strong><br></p>
</li>
<li>
<p><strong>Extra shipping charge 2</strong><br></p>
</li>
<li>
<p><strong>Units contained</strong><br></p>
</li>
<li>
<p><strong>Quantity of packing units</strong><br></p>
</li>
<li>
<p><strong>Net transportation costs</strong><br></p>
</li>
<li>
<p><strong>Net storage costs</strong><br></p>
</li>
<li>
<p><strong>Customs</strong><br></p>
</li>
<li>
<p><strong>Operating costs</strong><br></p>
</li>
<li>
<p><strong>Invisible: in item list</strong><br></p>
</li>
<li>
<p><strong>Default shipping costs</strong><br></p>
</li>
<li>
<p><strong>VAT rate</strong><br></p>
</li>
<li>
<p><strong>Availability</strong><br></p>
</li>
<li>
<p><strong>Content unit</strong><br></p>
</li>
<li>
<p><strong>Content amount</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The value saved for the variation in the data field is transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Attribute</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>The attribute values saved in the system</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The internal attribute name is used in the data picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Barcode</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>The barcodes saved in the system</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The variation’s code saved for this barcode is transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sales price</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>The sales prices saved in the system</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The variation’s price saved for this sales price is transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Property</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>The properties saved in the system</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Once you select a source, a drop-down list containing the available languages is shown.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">SKU</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>SKU</strong><br></p>
</li>
<li>
<p><strong>Parent SKU</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The value saved for the variation in the data field is transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Item ID</strong><br></p>
</li>
<li>
<p><strong>Manufacturer ID</strong><br></p>
</li>
<li>
<p><strong>Manufacturer name</strong><br></p>
</li>
<li>
<p><strong>External manufacturer name</strong><br></p>
</li>
<li>
<p><strong>Manufacturing country ID</strong><br></p>
</li>
<li>
<p><strong>Manufacturing country name</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Stock</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Virtual warehouse</strong><br></p>
</li>
<li>
<p>The warehouses saved in the system</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock information for the selected warehouse is transmitted to the sales channel.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Item text</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Name 1</strong><br></p>
</li>
<li>
<p><strong>Name 2</strong><br></p>
</li>
<li>
<p><strong>Name 3</strong><br></p>
</li>
<li>
<p><strong>Preview text</strong><br></p>
</li>
<li>
<p><strong>Meta description</strong><br></p>
</li>
<li>
<p><strong>Item text</strong><br></p>
</li>
<li>
<p><strong>Technical data</strong><br></p>
</li>
<li>
<p><strong>URL path</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Once you select a source, a drop-down list containing the available languages is shown.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Default category</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>Category ID</strong><br></p>
</li>
<li>
<p><strong>Category name</strong><br></p>
</li>
<li>
<p><strong>Category description</strong><br></p>
</li>
<li>
<p><strong>URL name</strong><br></p>
</li>
<li>
<p><strong>Meta title</strong><br></p>
</li>
<li>
<p><strong>Meta description</strong><br></p>
</li>
<li>
<p><strong>Meta keywords</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Image</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>All available images</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">ASIN</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><strong>All</strong><br></p>
</li>
<li>
<p><strong>Amazon Germany</strong><br></p>
</li>
<li>
<p><strong>Amazon Espania</strong><br></p>
</li>
<li>
<p><strong>Amazon France</strong><br></p>
</li>
<li>
<p><strong>Amazon United Kingdom</strong><br></p>
</li>
<li>
<p><strong>Amazon Italy</strong><br></p>
</li>
<li>
<p><strong>Amazon United States</strong></p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Manufacturer</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>The manufacturers saved in the system</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In drop-down lists for target and source, the manufacturers of the sales channel are mapped to the manufacturers saved in plentymarkets one by one. On the left, click on <strong>Add manufacturer</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) to map additional target manufacturers.<br>
<strong><em>Note:</em></strong> The manufacturer name of the sales channel is published on the sales channel.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Category</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>The categories saved in the system</p>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In drop-down lists for target and source, the categories of the sales channel are mapped to the categories saved in plentymarkets one by one. On the left, click on <strong>Add categories</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>) to map additional target categories.<br>
<strong><em>Note:</em></strong> The category name of the sales channel is published on the sales channel.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="title">Show mandatory fields only</div>
<div class="paragraph">
<p>By default, both mandatory fields (marked with a *) and non-mandatory fields of a catalogue are shown. In order to only see the mandatory fields, activate the toggle button at the top of the catalogue view.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="70">4.3. Combining data sources</h3>
<div class="paragraph">
<p>To export a data field, you can use the Own value to combine as many sources as you like. To do so, create <strong>Additional sources</strong> and select a separator for each combination.</p>
</div>
<div class="paragraph instruction">
<p>Combining data sources:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Click on a catalogue.<br>
→ The catalogue opens.</p>
</li>
<li>
<p>In the line of the data field you want to export, select a plentymarkets source from the drop-down list.</p>
</li>
<li>
<p>Underneath the source that you want to combine, click on <strong>Additional source</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Another source is added.</p>
</li>
<li>
<p>From the left drop-down list, select <strong>Own value</strong>.</p>
</li>
<li>
<p>In the field <strong>Value</strong>, enter the separator that you want to place between the sources.</p>
</li>
<li>
<p>Underneath the Own value, click on <strong>Additional source</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).<br>
→ Another source is added.</p>
</li>
<li>
<p>From the drop-down list, select a plentymarkets source that you want to combine with the first source.</p>
</li>
<li>
<p>If required, select further additional sources and separators via the Own value. Between two sources, there always has to be a separator.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The sources are combined and displayed with the respectively selected separator.<br>
<strong><em>Note</em></strong>: In case you create several combinations of sources for a data field, only the first combination is transferred. However, a prerequisite is that all of the selected values exist. If, for example, the first value is empty or does not exist, the combination is ignored and the next combination of data sources is used.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="80">4.4. Copying a catalogue</h3>
<div class="paragraph">
<p>You can copy catalogues and thus use catalogues that you have already configured in order to quickly create a new catalogue. Even when changing the format, data fields that have already been mapped are transferred.</p>
</div>
<div class="paragraph instruction">
<p>Copying a catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select the catalogue that you want to copy.</p>
</li>
<li>
<p>Click on the More options menu (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>Copy</strong>.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or</em></strong>: Click on <strong>Copy</strong> (<span class="icon yellow"><i class="fa fa-clone  "></i></span>).<br>
→ A new window opens.</p>
</li>
<li>
<p>If desired, adjust the automatically created name for the copy.</p>
</li>
<li>
<p>Optional: Select another format from the drop-down list. Data fields that have already been mapped will be transferred.</p>
</li>
<li>
<p>Click on <strong>Copy</strong>.<br>
→ The catalogue is copied and displayed in the catalogue overview.<br></p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="85">4.5. Copying several catalogues</h3>
<div class="paragraph">
<p>You can also copy several catalogues at once. However, in this case, you cannot change the format of the catalogues.</p>
</div>
<div class="paragraph instruction">
<p>Copying several catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select the catalogues that you want to copy.</p>
</li>
<li>
<p>Click on <strong>Copy</strong> (<span class="icon yellow"><i class="fa fa-clone  "></i></span>).<br>
→ All selected catalogues are copied and displayed in the catalogue overview.<br></p>
</li>
<li>
<p>Optional: If you want to edit the automatically created names of the copied catalogues, open the catalogues individually and adjust the name in the settings (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="90">4.6. Deleting a catalogue</h3>
<div class="paragraph">
<p>Proceed as described below to delete a catalogue.</p>
</div>
<div class="paragraph instruction">
<p>Deleting a catalogue:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select the catalogue that you want to delete.</p>
</li>
<li>
<p>Click on the More options menu (<span class="icon "><i class="fa fa-ellipsis-v  "></i></span>).</p>
</li>
<li>
<p>Click on <strong>Delete</strong>.<br>
→ You are asked to confirm your decision.</p>
</li>
<li>
<p>Confirm the deletion.<br>
→ The catalogue is deleted.<br>
<span class="icon "><i class="fa fa-map-signs  "></i></span> <strong><em>Or</em></strong>: Open a catalogue and at the top right, click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>) in order to delete the catalogue.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="95">4.7. Deleting several catalogues</h3>
<div class="paragraph">
<p>Proceed as follows in order to delete several catalogues at once.</p>
</div>
<div class="paragraph instruction">
<p>Deleting several catalogues:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Catalogues</strong>.<br>
→ The catalogue overview opens.</p>
</li>
<li>
<p>Select the catalogues that you want to delete.</p>
</li>
<li>
<p>In the upper right corner, click on <strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-square  "></i></span>).<br>
→ You are asked to confirm your decision.</p>
</li>
<li>
<p>Confirm the deletion.<br>
→ The catalogues are deleted.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="100">5. Transferring catalogue data to the sales channel</h2>
<div class="sectionbody">
<div class="paragraph">
<p>The catalogues created in the <strong>Data » Catalogues</strong> menu allow you to map the data fields of a sales channel to the correct plentymarkets data sources. Transferring the variation data to the sales channel is activated in the settings of the sales channel.</p>
</div>
</div>
</div>
</main>