<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_kategorieumsätze"><span>1.</span><span> Kategorieumsätze</span></a></li>
<li><a href="#_statistik_details"><span>2.</span><span> Statistik-Details</span></a></li>
<li><a href="#_einstellungen"><span>3.</span><span> Einstellungen</span></a></li>
<li><a href="#_daten_export"><span>4.</span><span> Daten-Export</span></a>
<ul class="sectlevel2">
<li><a href="#_export_der_diagrammdaten"><span>4.1.</span><span> Export der Diagrammdaten</span></a></li>
<li><a href="#_export_der_rohdaten"><span>4.2.</span><span> Export der Rohdaten</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Umsatz Kategorie</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>Kunden » Kunden bearbeiten » Tab: Statistik → Statistik-Typ: Umsatz nach Kategorie</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_kategorieumsätze">1. Kategorieumsätze</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Hier wird der <strong>Umsatz (Brutto) pro Kategorie</strong> gezeigt sowie die <strong>Menge der Artikel</strong>, die jeweils in einem definierten Zeitraum von dem betreffenden Kunden gekauft wurden. Standardeinstellung der <strong>Zeitspanne</strong>: die <strong>letzten 30 Tage</strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_statistik_details">2. Statistik-Details</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Entsprechend der gewählten <strong>Zeitspanne</strong> wird der <strong>Umsatz (Brutto) pro Kategorie</strong> gezeigt sowie die <strong>Anzahl der Artikel</strong> des Kunden datumsbezogen angezeigt. Sind keine Umsätze vorhanden, wird die jeweilige Kategorie nicht angezeigt. Als <strong>Tooltip</strong> wird die <strong>Anzahl der verkauften Artikel</strong> und der zugehörige gesamte <strong>Umsatz</strong> angezeigt, die der Kunde mit der jeweiligen Anzahl an verkauften Artikeln erzielt hat (siehe Bild 1). Sie können mit dieser Statistik z.B. erkennen, wieviel Umsatz der Kunde in den verschiedenen Kategorien erzielt hat oder auch durch Wahl bzw. Änderung der Zeitspanne, in welchen Zeiträumen der Kunde wieviel Umsatz mit welchen Kategorien generiert hat.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title"><strong>Ausschlüsse</strong></div>
<div class="paragraph">
<p><strong>Artikel</strong>, die <span class="underline">nicht mit einer Kategorie verknüpft</span> sind und <strong>Gutscheine</strong> werden bei der Auswertung dieser Statistik nicht berücksichtigt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title"><strong>Details anzeigen (Tooltip)</strong></div>
<div class="paragraph">
<p>Zeigen Sie mit dem <strong>Mauszeiger</strong> auf ein Element der Statistik, um die jeweiligen <strong>Details</strong> anzuzeigen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp</div>
<div class="paragraph">
<p>In Bild 1 wird z.B. für die Kategorie <strong>Foto</strong> ein <strong>Umsatz</strong> von <strong>11244,42 Euro</strong> angezeigt, der mit <strong>46 Artikeln</strong> generiert wurde.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistik/kundenstatistiken/assets/DE-Statistik-Kunden-Kategorieumsaetze-01-SI.png" alt="DE Statistik Kunden Kategorieumsaetze 01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Statistik <strong>Umsatz nach Kategorie</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_einstellungen">3. Einstellungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die nachfolgend beschriebenen <strong>Einstellungen</strong> stehen für diese Statistik zur Verfügung.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistik/kundenstatistiken/assets/DE-Statistik-Kunden-Kategorieumsaetze-02-SI.png" alt="DE Statistik Kunden Kategorieumsaetze 02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: Statistik <strong>Umsatz nach Kategorie</strong>; <strong>Einstellungen</strong></em></p>
</div>
<div class="paragraph">
<p>Beachten Sie die Erläuterungen in der folgenden Tabelle:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Diagramm-Anzeige</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Diagrammtyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>In diesem Dropdown-Menü wählen Sie die Art der Darstellung aus.<br>
<strong>Balken- und Liniendiagramm</strong> = Darstellung der Werte als Balken bzw. Linie<br>
<strong>3D_Kreisdiagramm</strong> = Darstellung der Werte als dreidimensionale Kreissektoren<br>
<strong>2D-Kreisdiagramm</strong> = Darstellung der Werte als flächige Kreissektoren<br>
<strong>Daten-Tabelle</strong> = Datenübersicht in Tabellenform</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Daten des Diagramms werden in eine <strong>CSV-Datei</strong> exportiert. Dabei werden die Parameter wie angezeigt verwendet, sie entsprechen denen des Diagrammtyps <strong>Daten-Tabelle</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rohdaten-Export</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beim Rohdaten-Export wird ebenfalls eine <strong>CSV-Datei</strong> erzeugt. Dabei werden die Daten aber detaillierter exportiert. So wird anstelle der Anzahl der Aufträge für jeden Auftrag die relevanten Datenfelder, wie <strong>Auftrags-ID</strong>, <strong>Preis</strong> etc. in die CSV-Datei eingefügt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Anzeige der Werte</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Klicken Sie links unten auf die Werte, um die <strong>Anzeige</strong> jeweils im Diagramm zu <strong>deaktivieren</strong> bzw. zu <strong>aktivieren</strong>. So können Sie nur jeweils die Daten separat anzeigen, die Sie sehen möchten und andere ausblenden. Dies kann bei komplizierten Daten eine Hilfe sein, die einzelnen Werte besser zu erkennen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einstellungen</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier wird der <strong>Name</strong> bzw. die <strong>Bezeichnung</strong> der Statistik angezeigt, die beim Erstellen einer neuen Statistik gewählt wurde. Sie können diesen Namen hier ändern.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zeitspanne</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die <strong>Zeitspanne</strong> ist für die Statistiktypen jeweils voreingestellt, die Standardwerte können Sie Tabelle 1 der Handbuchseite <a href="/basics/statistik"><strong>Statistik</strong>  </a> entnehmen. Es stehen feste Werte zur Verfügung, die per Dropdown-Menü auswählbar sind. Darüber hinaus bieten manche Statistiktypen die Möglichkeit, eine Zeitspanne in Form eines <strong>Datumbereichs</strong> einzutragen.<br>
<strong>Verändern</strong> Sie die <strong>Zeitspanne</strong>, wenn keine Daten angezeigt werden oder nur wenige Daten und klicken Sie auf das Speichern-Symbol, um das Ergebnis zu sehen. Sie können durch Wahl eines <strong>längeren Zeitraums</strong> mehr Informationen anzeigen. Wenn viele Daten vorhanden sind, bewirkt die <strong>Verringerung der Zeitspanne</strong> ggf. eine aussagekräftigere Auswertung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Startdatum …​ Enddatum</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier können Sie optional einen bestimmten <strong>Datumsbereich</strong> alternativ zur Option <strong>Zeitspanne</strong> eingrenzen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Datumsgrundlage</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen Sie welches <strong>Datum</strong>, z.B. das des Auftragseingangs, die <strong>Grundlage</strong> für den <strong>Auswertungszeitraum</strong> bilden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mandant (Shop)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen Sie die <strong>Webshops</strong> bzw. <strong>Mandanten</strong>, deren Daten für die Statistik verwendet werden sollen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikelherkunft</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sie können hier eine oder mehrere <strong>Artikelherkünfte</strong> oder mit der Option <strong>Alle</strong> sämtliche verfügbaren auswählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Unterkategorien anzeigen für</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen Sie die Kategorie, für die Sie die <strong>Unterkategorien</strong> auswerten möchten. Die jeweiligen Unterkategorien werden dann in der Statistik anstelle der Hauptkategorien angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungsart</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Wählen</strong> Sie die <strong>Zahlungsart</strong>, die für die Statistik berücksichtigt werden soll oder aktivieren Sie die Option <strong>Alle</strong>, um alle Zahlungsarten einzubeziehen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Versandprofil</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Markieren</strong> Sie die <strong>Versandprofile</strong>, die für die Statistik berücksichtigt werden sollen oder aktivieren Sie die Option <strong>Alle</strong>, um alle Versandprofile einzubeziehen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Nur bezahlte Aufträge</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Markieren Sie die Option, um <strong>nur bezahlte Aufträge</strong> in die Statistik einzubeziehen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Nur Aufträge mit gebuchtem Warenausgang</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Markieren Sie die Option, um <strong>nur Aufträge mit gebuchtem Warenausgang</strong> in die Statistik einzubeziehen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Diagramm</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen Sie die Option für die <strong>Anzeige der Beträge</strong> in der Statistik: <strong>Brutto</strong> oder <strong>Netto</strong>.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: <strong>Statistik bearbeiten</strong>;</em><em><strong>Einstellungen</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_daten_export">4. Daten-Export</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wie in Tabelle 1 erläutert können Sie zwischen einem einfachen und einem detaillierten Exportergebnis wählen. Nachfolgend entsprechende Beispiele.</p>
</div>
<div class="sect2">
<h3 id="_export_der_diagrammdaten">4.1. Export der Diagrammdaten</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title"><strong>Datenfelder</strong></div>
<div class="paragraph">
<p><strong>CategoryName</strong> = Kategoriename, <strong>Sales</strong> = Umsatz, <strong>SoldItems</strong> = Verkaufte Artikel</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistik/kundenstatistiken/assets/DE-Statistik-Kunden-Kategorieumsaetze-03-SI.png" alt="DE Statistik Kunden Kategorieumsaetze 03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 3: Statistik <strong>Umsatz nach Kategorie</strong>; Einfacher Export</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_export_der_rohdaten">4.2. Export der Rohdaten</h3>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title"><strong>Datenfelder</strong></div>
<div class="paragraph">
<p><strong>CategoryID</strong> = Kategorie-ID, <strong>OrderID</strong> = Auftrags-ID, <strong>Price</strong> = Preis, <strong>ItemID</strong> = Artikel-ID, <strong>SoldItems</strong> = Verkaufte Artikel</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/statistik/kundenstatistiken/assets/DE-Statistik-Kunden-Kategorieumsaetze-04-SI.png" alt="DE Statistik Kunden Kategorieumsaetze 04 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 4: Statistik <strong>Umsatz nach Kategorie</strong>; Rohdaten-Export</em></p>
</div>
</div>
</div>
</div>
</main>