<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_praxisbeispiel_ausgangssituation"><span>1.</span><span> Praxisbeispiel: Ausgangssituation</span></a></li>
<li><a href="#_csv_datei_einrichten"><span>2.</span><span> CSV-Datei einrichten</span></a></li>
<li><a href="#_sync_einstellungen_wählen"><span>3.</span><span> Sync-Einstellungen wählen</span></a></li>
<li><a href="#_abgleich_einstellungen_wählen"><span>4.</span><span> Abgleich-Einstellungen wählen</span></a></li>
<li><a href="#_zuordnung_einstellungen_wählen"><span>5.</span><span> Zuordnung-Einstellungen wählen</span></a></li>
<li><a href="#_hat_es_funktioniert"><span>6.</span><span> Hat es funktioniert?</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Neue Kategorien importieren</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Kategorien helfen dir Produkte übersichtlich zu gruppieren. Sie bestimmen, wie deine Artikel im Webshop strukturiert werden.</p>
</div>
<div class="paragraph">
<p>Grundsätzlich gibt es zwei Möglichkeiten, Kategorien zu erstellen oder zu aktualisieren. Wenn du <em>nur wenige Kategorien</em> erstellen oder modifizieren willst, empfiehlt es sich, dies <a href="/artikel/einstellungen/kategorien#200">manuell zu tun</a>. Hast du aber dagegen <em>eine Vielzahl an Kategorien</em>, dann ist es wahrscheinlich schneller, deine Kategoriedaten zu importieren.</p>
</div>
<div class="paragraph">
<p>Darum geht es auf dieser Seite. Hier lernst du, Kategorieinformationen in plentymarkets zu importieren. Dies ist sinnvoll, wenn du viele neue Kategorien auf einmal erstellen willst oder wenn du viele bestehende Kategorien auf einmal aktualisieren willst.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Voraussetzungen</div>
<div class="paragraph">
<p>Diese Seite setzt voraus, dass du bereits eine <a href="/artikel/einstellungen/kategorien#100">sinnvolle Kategoriestruktur</a> überlegt hast und dass du Grundkenntnisse über das <a href="/daten/daten-importieren/ElasticSync">ElasticSync-Tool</a> hast.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_praxisbeispiel_ausgangssituation">1. Praxisbeispiel: Ausgangssituation</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Stell dir mal vor, du verkaufst Kleidung in deinem Webshop. Du bist ganz neu bei plentymarkets und möchtest alle deine Kategoriedaten auf einmal importieren. Du willst deine Kategorien wie folgt strukturieren:</p>
</div>
<table class="tableblock frame-none grid-cols stripes-none stretch">
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-center valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Damen</p>
<div class="ulist">
<ul>
<li>
<p>Accessoires</p>
</li>
<li>
<p>Schuhe</p>
</li>
<li>
<p>Bekleidung</p>
<div class="ulist">
<ul>
<li>
<p>Jeans</p>
</li>
<li>
<p>Tops</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Herren</p>
<div class="ulist">
<ul>
<li>
<p>Accessoires</p>
</li>
<li>
<p>Schuhe</p>
</li>
<li>
<p>Bekleidung</p>
<div class="ulist">
<ul>
<li>
<p>Jeans</p>
</li>
<li>
<p>Tops</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
<td class="tableblock halign-center valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Kinder</p>
<div class="ulist">
<ul>
<li>
<p>Accessoires</p>
</li>
<li>
<p>Schuhe</p>
</li>
<li>
<p>Bekleidung</p>
<div class="ulist">
<ul>
<li>
<p>Jeans</p>
</li>
<li>
<p>Tops</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_csv_datei_einrichten">2. CSV-Datei einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Übertrage zunächst diese Kategoriestruktur in eine CSV-Datei. Dies ist die Datei, die du später in plentymarkets importieren wirst. In unserem Beispiel würden die Kategorien in der CSV-Datei so aussehen:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/best-practice-kategorie-kategoriestruktur-csv.png" alt="best practice kategorie kategoriestruktur csv">
</div>
</div>
<div class="paragraph">
<p>Die Namen der Spaltenüberschriften können frei gewählt werden. In diesem Beispiel habe ich folgende Kategorieinformationen in die Spalten eingefügt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Name</strong> = Der Name der Kategorie.</p>
</li>
<li>
<p><strong>Parentname</strong> = Wenn dies eine Hauptkategorie sein soll, d.h. eine Kategorie auf der ersten Ebene, dann lass dieses Feld leer. Wenn dies eine Unterkategorie sein soll, dann gib den Pfad der direkt darüber liegenden Kategorie an. <em>Nutze Semikolons</em>, um die einzelnen Kategorieebenen zu trennen.</p>
</li>
<li>
<p><strong>Multiname</strong> = Der vollständige Kategoriepfad, d.h. sowohl der Parentname als auch der Name. Entscheide, welches Trennzeichen du zur Trennung der einzelnen Kategorieebenen verwenden willst.</p>
</li>
</ul>
</div>
<h4 id="_zusätzliche_kategorie_infos_ergänzen" class="discrete">Zusätzliche Kategorie-Infos ergänzen</h4>
<div class="paragraph">
<p>Wahrscheinlich willst du viel mehr als nur eine nackte Kategoriestruktur schaffen. Vielleicht willst du ja Beschreibungstexte oder SEO-relevante Metadaten ebenfalls ergänzen.</p>
</div>
<div class="paragraph">
<p>Füge weitere Spalten zu deiner CSV-Datei hinzu und verwende diese, um zusätzliche Kategorieinformationen anzugeben. Zum Beispiel so:</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/best-practice-kategorie-kategorieinfo-csv.png" alt="best practice kategorie kategorieinfo csv">
</div>
</div>
<div class="paragraph">
<p>Die Namen der Spaltenüberschriften können frei gewählt werden. Du kannst einige oder alle der <a href="/daten/daten-importieren/sync-typen/elasticSync-kategorien#20">hier aufgeführten Kategorieinformationen</a> hinzufügen. In diesem Beispiel habe ich mich entschieden, folgende Informationen zu ergänzen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Beschreibung</strong> = Eine Beschreibung jeder Kategorie.</p>
</li>
<li>
<p><strong>Meta-Titel</strong> = Ein Text, der als Tab-Titel im Webbrowser und als Suchergebnis in Suchmaschinen angezeigt werden soll.</p>
</li>
<li>
<p><strong>Sichtbar</strong> = Ob ich möchte, dass die einzelnen Kategorien in die Sitemap aufgenommen werden.</p>
<div class="paragraph">
<p>1 = Ja, die Kategorie soll in die Sitemap angezeigt werden.<br>
0 = Nein, die Kategorie soll <em>nicht</em> in die Sitemap angezeigt werden.</p>
</div>
<div class="paragraph">
<p>In diesem Beispiel möchte ich nur die ersten beiden Kategorieebenen in die Sitemap aufnehmen, also füge ich die Zahlen 1 und 0 entsprechend hinzu.</p>
</div>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_sync_einstellungen_wählen">3. Sync-Einstellungen wählen</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="/daten/daten-importieren/ElasticSync#1210">Erstelle ein neues Sync</a>. Die meisten Einstellungen können frei gewählt werden. Da du jedoch <em>Kategoriedaten</em> importieren wirst, stelle sicher, dass du den <strong>Typ</strong> auf <strong>Kategorien</strong> gesetzt hast.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_abgleich_einstellungen_wählen">4. Abgleich-Einstellungen wählen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Während des Imports prüft plentymarkets, ob die Kategorie bereits existiert. Dies geschieht mit Hilfe eines sogenannten Abgleichfeldes.</p>
</div>
<div class="paragraph">
<p>Da wir in diesem Beispiel <em>neue Kategorien</em> importieren möchten, konfiguriere die Einstellungen wie folgt.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategoriename kombiniert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">In welcher Spalte deiner CSV-Datei ist der vollständige Kategoriepfad aufgeführt? Wähle diese Spaltenüberschrift aus der ersten Dropdown-Liste. In unserem Beispiel wähle ich also die Spalte <strong>Multiname</strong>.<br>
Wähle das Trennzeichen aus der zweiten Dropdown-Liste. In unserem Beispiel wähle ich <em>Semikolon</em>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Import Optionen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Da du neue Kategorien importieren wirst, wähle die Option <strong>Nur neue Daten importieren</strong> oder <strong>Neue Daten importieren, vorhandene aktualisieren</strong>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="_zuordnung_einstellungen_wählen">5. Zuordnung-Einstellungen wählen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Deine CSV-Datei ist bereits mit einer Menge Kategorieinformationen gefüllt. Entscheide als nächstes, <em>wo in plentymarkets</em> jede Information beim Import der Datei erscheinen soll. <a href="/daten/daten-importieren/sync-typen/elasticSync-kategorien#20">Siehe diese Seite</a>, während du die Spalten deiner CSV-Datei zu den Feldern in plentymarkets zuordnest. In diesem Beispiel habe ich die Einstellungen wie folgt konfiguriert.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/daten-importieren/assets/best-practice-kategorie-zuordnung-einstellungen.png" alt="best practice kategorie zuordnung einstellungen">
</div>
</div>
<div class="paragraph">
<p>Ich habe die nackte Kategoriestruktur erstellt, indem ich:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>die Spalte <strong>Name</strong> meiner CSV-Datei mit dem Datenfeld <strong>Details / Name</strong> in plentymarkets zugeordnet habe.</p>
</li>
<li>
<p>die Spalte <strong>Parentname</strong> meiner CSV-Datei mit dem Datenfeld <strong>Kategorie / Elternkategorie Name</strong> in plentymarkets zugeordnet habe.</p>
</li>
<li>
<p>die <strong>Eigener Wert</strong> Option verwendet habe und <strong>1</strong> für das Datenfeld <strong>Kategorie / Elternkategorie anlegen wenn nicht vorhanden</strong> eingegeben habe. Anders gesagt, indem ich mich entschieden habe, die übergeordnete Kategorie zu erstellen, falls sie noch nicht existiert.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Ich habe zusätzliche Kategorieinformationen hinzugefügt, indem ich:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>die Spalte <strong>Beschreibung</strong> meiner CSV-Datei mit dem Datenfeld <strong>Details / Beschreibung 1</strong> in plentymarkets zugeordnet habe.</p>
</li>
<li>
<p>die Spalte <strong>Meta-Titel</strong> meiner CSV-Datei mit dem Datenfeld <strong>Details / Meta-Titel</strong> in plentymarkets zugeordnet habe.</p>
</li>
<li>
<p>die Spalte <strong>Sichtbar</strong> meiner CSV-Datei mit dem Datenfeld <strong>Kategorie / Sichtbar</strong> in plentymarkets zugeordnet habe.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_hat_es_funktioniert">6. Hat es funktioniert?</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bereit, deine Kategorien zu importieren? Führe den Sync aus und kontrolliere, dass die Daten korrekt in plentymarkets importiert wurden.</p>
</div>
<div class="paragraph instruction">
<p>Sync ausführen und Ergebnis prüfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Aktiviere die zu importierenden Zeilen (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>).</p>
</li>
<li>
<p>Teste den Sync (<span class="icon "><i class="psicon-plugin_stage_deploy"></i></span>) oder führe den Sync aus (<span class="icon darkGrey"><i class="fa fa-play-circle-o  "></i></span>).<br>
<strong><em>Hinweis:</em></strong> Dies kann einige Minuten dauern.</p>
</li>
<li>
<p>Öffne das Menü <strong>Artikel » Kategorien</strong>.</p>
</li>
<li>
<p>Prüfe, ob deine Kategorien richtig strukturiert wurden.<br>
<strong><em>Hinweis:</em></strong> Klicke ganz links auf das Ordner-Symbol (<span class="icon darkGrey"><i class="fa fa-folder  "></i></span>) einer Kategorie, um die darin enthaltenen Unterkategorien zu sehen.</p>
</li>
<li>
<p>Öffne einige Kategorien und prüfe ihre Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Testlauf nutzen</div>
<div class="paragraph">
<p>Wir empfehlen, beim erstmaligen Sync vorab den Testlauf (<span class="icon "><i class="psicon-plugin_stage_deploy"></i></span>) zu nutzen.
Damit werden die ersten 10 Zeilen der Datei ohne Cache importiert.
So kann man prüfen, ob der Sync ordnungsgemäß läuft. Sollten sich Fehler eingeschlichen haben, kann man diese vor der kompletten Ausführung noch korrigieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Cache zurücksetzen</div>
<div class="paragraph">
<p>Direkt im Sync findest du die Schaltfläche <strong>Cache löschen</strong> (<span class="icon "><i class="psicon-reload"></i></span>).
Mit dieser Schaltfläche kannst du den ElasticSync-Cache zurücksetzen, damit du eine Datei ohne vorherige Änderung erneut importieren kannst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>
</main>