<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_csv_datei_befüllen"><span>1.</span><span> CSV-Datei befüllen</span></a></li>
<li><a href="#_listings_mit_elasticsync_in_plentymarkets_erstellen"><span>2.</span><span> Listings mit ElasticSync in plentymarkets erstellen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Listings erstellen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Seite erklären wir dir, wie du mit ElasticSync Listings für eBay erstellen kannst.<br></p>
</div>
<div class="paragraph">
<p>Beachte, dass der Artikel dafür freigeschaltet sein muss wie in dieser <a href="/maerkte/ebay/best-practices-ebay-listing-freischalten">Best Practice</a> beschrieben. Andernfalls können Listings nicht auf diese Weise erstellt werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_csv_datei_befüllen">1. CSV-Datei befüllen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um mit ElasticSync Listings in plentymarkets zu erstellen, benötigst du zunächst eine CSV-Datei. Um ein Market-Listing inklusive Listing zu erstellen, muss die CSV-Datei mindestens folgende Felder enthalten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>ItemID</p>
</li>
<li>
<p>MarketID</p>
</li>
<li>
<p>StockDependenceTypeID</p>
</li>
<li>
<p>UserID</p>
</li>
<li>
<p>UnitCombinationID</p>
</li>
<li>
<p>TypeID</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn bereits ein Listing vorhanden ist und du nur ein Market-Listing erstellen möchtest, müssen mindestens diese Felder in der CSV-Datei enthalten sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>MarketID</p>
</li>
<li>
<p>UserID</p>
</li>
<li>
<p>ListingID</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="_listings_mit_elasticsync_in_plentymarkets_erstellen">2. Listings mit ElasticSync in plentymarkets erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit ElasticSync im Menü <strong>Daten » ElasticSync</strong> kannst du nun die CSV-Datei mit den neuen Listings in dein plentymarkets System importieren. Dazu erstellst du einen Sync des Typs Market-Listing.</p>
</div>
<div class="paragraph">
<p>Sync erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » ElasticSync</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Sync hinzufügen</strong>.<br>
→ Eine Ansicht zum Bearbeiten des Syncs wird geöffnet.</p>
</li>
<li>
<p>Gib einen Namen für den Sync ein.</p>
</li>
<li>
<p>Wähle <strong>Market-Listing</strong> aus der Dropdown-Liste <strong>Typ</strong>.</p>
</li>
<li>
<p>Im Bereich <strong>Import</strong> lässt du die voreingestellten Optionen so, wie sie sind.</p>
</li>
<li>
<p>Im Bereich <strong>Trennzeichen</strong> wählst du das Trennzeichen, das du beim Abspeichern der CSV-Datei ausgewählt hast.</p>
</li>
<li>
<p>Im Bereich <strong>Quelle</strong> wählst du die Option <strong>HTTP</strong>.<br>
→ Drei weitere Zeilen werden angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>HTTP-Optionen</strong> die Option <strong>Datei-Upload</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile <strong>URL</strong> auf den Button mit den drei Punkten (<strong>Datei wählen</strong>).<br>
→ Ein Fenster öffnet sich.</p>
</li>
<li>
<p>Klicke auf <strong>Datei hochladen</strong>, wähle die eben generierte CSV-Datei mit den Listings, und klicke auf <strong>Öffnen</strong>.</p>
</li>
<li>
<p>Setze ein Häkchen in der Zeile der Datei und klicke einmal in die Zeile der Datei.<br>
→ <em>Wichtig:</em> Die Zeile muss noch einmal geklickt werden. Erst wenn die Zeile blau gefärbt ist, kannst du sie mit einem Klick auf <strong>Wählen</strong> hochladen.<br>
→ Die URL – also der Pfad, von wo aus du die CSV-Datei hochgeladen hast – ist nun im Feld URL grau hinterlegt.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Du hast nun die CSV-Datei erfolgreich hochgeladen. Als nächstes nimmst du die Einstellungen für den Abgleich und die Zuordnungen vor.</p>
</div>
<div class="paragraph">
<p>Abgleich einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Abgleich</strong> in der linken Seite des Fensters.</p>
</li>
<li>
<p>Lasse das Abgleichfeld leer.</p>
</li>
<li>
<p>Im Bereich <strong>Importoptionen</strong> wählst du entweder <strong>Neue Daten importieren, vorhandene aktualisieren</strong> oder <strong>Nur neue Daten importieren</strong>.</p>
</li>
<li>
<p>Wähle ggf. die Dezimalzahl und das Datumsformat.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nimm als nächstes die Einstellungen für die Zuordnung vor.</p>
</div>
<div class="paragraph">
<p>Zuordnung einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Zuordnung</strong> in der linken Seite des Fensters.</p>
</li>
<li>
<p>Klicke auf <strong>Zuordnung hinzufügen</strong>.</p>
</li>
<li>
<p>Gib einen <strong>Namen</strong> ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Ein Bereich für die Zuordnung öffnet sich.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>In diesem Bereich ordnest du die Felder aus deiner CSV-Datei den plentymarkets Datenfeldern zu.</p>
</div>
<div class="paragraph">
<p>Auf der linken Seite im Bereich <strong>Importdaten</strong> siehst du die Bezeichnungen in der Kopfzeile aus deiner CSV-Datei. Diese Bezeichnungen hat plentymarkets bereits automatisch aus deiner CSV-Datei übernommen. Auf der rechten Seite im Bereich <strong>plentymarkets Datenfelder</strong> ordnest du nun das entsprechende Gegenstück zu.<br></p>
</div>
<div class="paragraph">
<p>Beispiel: Quellen für die Erstellung von Listing und Market-Listing dem passenden plentymarkets Datenfeld zuordnen</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Auf der linken Seite siehst du die Quelle <strong>MarketID</strong>. Klicke auf der rechten Seite in dieselbe Zeile und ordne das Datenfeld <strong>Market-Listing / Plattform-ID</strong> zu, indem du ein Häkchen setzt.</p>
</li>
<li>
<p>Ordne der Quelle <strong>UserID</strong> das Datenfeld <strong>Market-Listing / Konto-ID</strong> zu, indem du ein Häkchen setzt.</p>
</li>
<li>
<p>Ordne der Quelle <strong>UnitCombinationID</strong> das Datenfeld <strong>Listing / Inhalts-ID</strong> zu, indem du ein Häkchen setzt.</p>
</li>
<li>
<p>Ordne der Quelle <strong>TypeID</strong> das Datenfeld <strong>Listing / Listing-Typ-ID</strong> zu, indem du ein Häkchen setzt.</p>
</li>
<li>
<p>Ordne der Quelle <strong>StockDependenceTypeID</strong> das Datenfeld <strong>Listing / Bestandsabhängigkeits-ID</strong> zu, indem du ein Häkchen setzt.</p>
</li>
<li>
<p>Ordne der Quelle <strong>ItemID</strong> das Datenfeld <strong>Listing / Artikel-ID</strong> zu, indem du ein Häkchen setzt.</p>
</li>
<li>
<p>Aktiviere alle Zeilen über den Toggle-Button <strong>Zeile aktivieren</strong> auf der linken Seite.<br>
→ Wichtig: Die zu importierenden Datenfelder müssen alle aktiviert sein, damit die Zuordnung korrekt erfolgen kann.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
<li>
<p>Mit einem Klick auf <strong>Vorschau</strong> kannst du dir eine Vorschau der Datei anzeigen lassen und die Inhalte prüfen.</p>
</li>
<li>
<p>Klicke auf <strong>Sync starten</strong>, um die Listings in plentymarkets zu importieren.</p>
</li>
</ol>
</div>
</div>
</div>
</main>