<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Aufträge stornieren</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Kund:in will den Artikel doch nicht oder du musst aus anderen Gründen den Auftrag stornieren? In plentymarkets geht das ganz schnell! Mit wenigen Klicks ist eine Stornierung erledigt und du kannst dich wieder deinem Alltag widmen.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/auftragsabwicklung/retouren-und-storno/auftraege-stornieren-wo#video">Wo stornierst du deinen Auftrag? (0:32)</a></p>
<p class="tableblock"><a href="/videos/auftragsabwicklung/retouren-und-storno/auftraege-stornieren-stornostatus#video">Stornostatus einstellen (1:15)</a></p>
<p class="tableblock"><a href="/videos/auftragsabwicklung/retouren-und-storno/auftraege-stornieren-ereignisaktion#video">Ereignisaktion einrichten (1:58)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/234666477#at=118" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Zwei Händler - eine Aufgabe. Der Kunde hat sich umentschieden und möchte vom Kauf zurücktreten. Dem ersten Händler hat er bereits das Geld überwiesen und den Artikel erhalten.
Beim zweiten ist noch nichts von alledem passiert. Eine Aufgabe - zwei Lösungswege. Ist bereits Geld geflossen und die Ware wurde an den Kunden geschickt, kommst du um eine Retoure
und Rückzahlung nicht herum. Wenn nicht heißt dein Stichwort: Storno.</p>
</div>
<div class="paragraph">
<p>Auch wenn dein Alltag aus dem Verkauf deiner Artikel besteht - Stornierungen gehören dennoch auch
zu deinem Tagesgeschäft. Und auch das will gut gemacht sein. Wie stornierst du also einen Auftrag in plentymarkets? Siehe und lerne.</p>
</div>
<div class="paragraph">
<p>Das war’s! plenty hat von Beginn an den Statusbereich 8 für Stornierungen eingerichtet. Dieser Statuswechsel gibt dir und deinen Mitarbeitern zum einen einen Überblick aller Stornos. Aber
natürlich steckt noch etwas mehr Magic dahinter als es scheint. Denn wenn ein Auftrag ins System kommt, werden die gekauften Artikeln dafür reserviert. Einfach
gesagt: Dein Lager bucht den Artikel nicht direkt aus, behält aber sozusagen im Hinterkopf, dass er eigentlich schon verkauft wurde.</p>
</div>
<div class="paragraph">
<p>In plenty läuft die Reservierung auch über den Auftragsstatus. Hier kannst du einstellen, wann genau
Artikel des Auftrags reserveriert werden sollen, also zum Beispiel immer zwischen Status 3 und 14. Diese Reservierung hebst du mit einem Stornostatus auf und der Artikel ist wieder ganz normal im
Lagerbestand.</p>
</div>
<div class="paragraph">
<p>Richtig gehört: Mit einem Stornostatus! Von plentymarkets vorgegeben ist zwar der Bereich 8 - und
das sollte bitte auch nicht verändert werden - aber du kannst dir für deine Statistik auch noch weitere
Status einrichten und dann hier einstellen bei welchen Status die Reservierung des Bestands aufgehoben werden
soll. Vorab erstellst du dir also die gewünschten Status - und wie gesagt musst du hier bitte im
8er-Bereich bleiben - und erweiterst dann hier den Bereich für stornierte Aufträge.</p>
</div>
<div class="paragraph">
<p>Fehlt eigentlich nur noch eins - dein Kunde sollte über die erfolgreiche Stornierung informiert werden.
Allerdings musst du nicht die Mailadresse heraussuchen, eine E-Mail formulieren und die dann irgendwie am Auftrag vermerken.
Über Ereignisaktionen lässt sich der Vorgang vollständig automatisieren. Du kannst sie beispielsweise an einen Statuswechsel koppeln.
Das wäre hier - genau - der Wechsel in den Stornostatus 8. Daraufhin wird eine E-Mail versendet. Zieladresse ist natürlich die des Kunden und mit einer
Mailvorlage wird dieser über die Stornierung informiert.</p>
</div>
<div class="paragraph">
<p>Also auch wenn eine Stornierung erstmal nicht wirklich schön klingt, so macht plentymarkets sie mit
wenigen Klicks fast schon angenehm. Und so kannst du dich ganz schnell wieder den schönen Seiten
des Online-Handelns widmen.</p>
</div>
</div>
</div>
</main>