<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Automatisiert Retouren anlegen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lege mit einem Prozess automatisch Retouren an. Importiere den Prozess in dein System, passe ihn an und du kannst loslegen. Wie genau, erfährst du in diesem Video.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/auftragsabwicklung/retouren-und-storno/automatisierte-retourenanlage-prozess#video">Wie funktioniert der Prozess? (0:48)</a></p>
<p class="tableblock"><a href="/videos/auftragsabwicklung/retouren-und-storno/automatisierte-retourenanlage-prozessindividualisierung#video">Prozess individualisieren (1:32)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/243261941" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="paragraph">
<p>Datei zu diesem Video:
<a href="https://cdn02.plentymarkets.com/pmsbpnokwu6a/frontend/plentyprocess/Automatic-Returns_2017_11_17_08_.plentyprocess">Automatic Returns</a></p>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Massig Aufträge und zufriedene Kunden gehören mittlerweile zu deinem Alltag. Manchmal kommt es allerdings doch dazu, dass ein Artikel wieder zurückgeschickt wird.
In plentymarkets hast du zwei Möglichkeiten. Entweder legst du die Retoure manuell an, wie du bereits in einem anderen Video gelernt hast oder du verbündest dich mit Dr. Prozess und automatisierst diesen Vorgang. Je
nachdem, wie die Abläufe in deinem Unternehmen aussehe, hat beides seine Vorteile. In der Beschreibung dieses Videos findest du einen entsprechenden Prozess zum Download
den du schließlich ins System importieren kannst.</p>
</div>
<div class="paragraph">
<p>Folgendes Szenario: Dein Kunde hat zwei Artikel bestellt, einer davon ist leider defekt. Ergo: Dein Kunde schickt ihn zurück. Dr. Prozess erhebt sich also nach Eingang ebendieser Retoure.
Klingt nach richtig viel Power! Die steckt da natürlich auch drin. Aber dennoch ist der Prozess in wenigen Sätzen erklärt.</p>
</div>
<div class="paragraph">
<p>Anhand einer ID oder Nummer suchst du oder dein Mitarbeiter den Auftrag heraus, über den du schließlich die Retoure anlegen musst und schließlich scannst oder erfasst anderweitig du die Artikel, die im retournierten
Paket waren. Danach geht’s schon an die Kernfunktion des Prozess, Artikel einbuchen und eine Retoure anzulegen. Und dafür gibst du den Artikelstatus und -wert an
und wo der Artikel eingelagert werden soll beziehungsweise welche Menge, wenn dein Kunde mehrere bestellt hat. Nun bestimmst du noch, in welchem Status die Retoure erstellt werden soll und wie’s mit
dem Artikel aussieht. Und das war’s! Wenn er in deinen Retouren-Workflow passt, nimmt der Prozess dir also ab, eine solche manuell über den Auftrag anzulegen.</p>
</div>
<div class="paragraph">
<p>Und natürlich kannst du ihn dir so einstellen, wie du ihn brauchst. Also wenn dir zum Beispiel die Suchfelder am Anfang zu unübersichtlich sind und du
eigentlich nur nach Auftragsnummer suchen lassen willst passt du die Ansicht in den Prozesseinstellungen nach deinen Wünschen an. Mehrere Suchfelder sind allerdings praktisch, denn vielleicht vergisst dein Kunde den
Rücksendeschein beizulegen und du hast nichts bis auf die Paketnummer. Über den Automatischen Fokus kannst du bei mehreren Suchfelder allerdings bestimmen, wo dein Cursor starten soll - und sparst dir damit einen Klick.
Mit weiteren Anpassungsmöglichkeiten gestaltest du die Auftragssuche ganz individuell.</p>
</div>
<div class="paragraph">
<p>Zum Schluss verrate ich dir noch einen Trick. Ich will nicht angeben, aber er macht Dr. Prozess quasi schneller als das Licht! Beim Anlegen der Retoure hast du gesehen, dass einige Werte vorausgewählt sind.
Willst du es dir also richtig einfach machen und hast du im ersten Schritt immer das gleiche Lager oder den gleichen Retourenstatus dann kannst du hier diese Werte als Standard definieren. Wenn es dir also beim
Prozess erstmal nur darum geht, eine Retoure überhaupt anzulegen, sparst du dir damit eine Menge Klickarbeit.</p>
</div>
<div class="paragraph">
<p>Also - je nachdem wie er in deinen Workflow passt, kannst du dir einen ganz individuellen Prozess erstellen. Für den Start lädst du dir die Standardvorlage also aus der Beschreibung dieses Videos
herunter, importierst ihn in dein System und beginnst mit der Individualisierung. Retoure anlegen in Lichtgeschwindigkeit? Dr. Prozess ist zur Stelle!</p>
</div>
</div>
</div>
</main>