<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Gewährleistungen anlegen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Kund:in hat gerade einen Artikel zurückgegeben und benötigt einen Ersatz. Erfahre, wie du ihm den Kaufpreis erstattest, einen Umtausch des Artikels vornimmst und eine Reparatur anlegst.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/auftragsabwicklung/retouren-und-storno/gewaehrleistung-gutschrift#video">Veranlassen einer Gutschrift (0:15)</a></p>
<p class="tableblock"><a href="/videos/auftragsabwicklung/retouren-und-storno/gewaehrleistung-umtausch#video">Umtausch eines Artikels (3:14)</a></p>
<p class="tableblock"><a href="/videos/auftragsabwicklung/retouren-und-storno/gewaehrleistung-reparatur#video">Reparatur eindes defekten Artikels (4:12)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/239059034#at=252" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>So weit, so gut! Du hast bereits eine Retoure angelegt und weißt damit in plentymarkets umzugehen. Kümmern wir uns also darum, wie du Kunden entschädigst. Oder mit
anderen Worten: wie beendest du einen Retourenprozess? Legen wir los: Mit Gutschriften und Erstattungen.</p>
</div>
<div class="paragraph">
<p>Öffne dir zunächst eine deiner Retouren und erstelle eine Gutschrift. Nachdem sich die Gutschrift in einem separaten Fenster geöffnet hat kannst du sie weiter bearbeiten.
Wenn ich nun wieder zu meiner Übersicht wechsele kann ich hier sehen, dass meine Gutschrift jetzt in der Übersicht angezeigt wird und zu welchem Auftrag diese Gutschrift gehört.</p>
</div>
<div class="paragraph">
<p>An diesem Punkt sollten wir dem Kunden sein Geld zurückerstatten. Stell dir vor, du hast Laufkundschaft, welche in Bar bezahlt hat und willst dieser eine Erstattung über Paypal zukommen lassen. Das ergibt
natürlich keinen Sinn. Stattdessen solltest du die Erstattung immer mit der selben Zahlungsart durchführen, wie die Bezahlung abgewickelt wurde. Je nachdem wie dein Kunde die Bestellung bezahlt hat ist dein
Vorgehen bei der Rückzahlung immer ein wenig anders.</p>
</div>
<div class="paragraph">
<p>Ein Beispiel: Dein Kunde hat per Überweisung direkt auch dein Konto gezahlt dann öffne direkt den Zahlung-Tab. Hier kannst du festlegen, welche Summe für diesen Auftrag wieder
zurückgebucht werden kann. Bedenke bitte, dass du hier nicht die Rückzahlung selber durchführst sondern nur die Zahlung am Auftrag änderst. Das Geld musst du dem Kunden natürlich selber zurücküberweisen.</p>
</div>
<div class="paragraph">
<p>Wenn dein Kunde dagegen mit Zahlungsanbieter wiePaypal zahlt dann öffne ganz einfach den Einstellungs-Tab. Hier findest du den Refund-Button um die Rückzahlung an deinen Kunden zu veranlassen.
Hier findest Du zunächst Informationen zur Zahlung durch den Kunden und zudem kannst du sehen, dass dir plentymarkets bereits einen Betrag vorgeschlagen hat. Wenn du bereit bist klicke einfach das Rad-Icon um die Rückzahlung zu veranlassen.
Egal, wie du vorgehst: Die Rückzahlungen sind natürlich immer wichtig für deine Buchhaltung.</p>
</div>
<div class="paragraph">
<p>Nun geht es direkt in den Bereich Belege um das entsprechende Dokument zur Gutschrift zu erzeugen. Natürlich kannst du diesen Vorgang auch mit einer Ereignis-Aktion
automatisieren. Lege ganz einfach eine Ereignis-Aktion an, die das Dokument direkt erzeugt nachdem eine neue Gutschrift in plentymarkets angelegt wurde. Anschließend legst du noch eine zweite Ereignis Aktion an
welche eine Email mit dem Gutschriftdokument an deine Buchhaltung sendet.</p>
</div>
<div class="paragraph">
<p>Sobald du das Dokument erzeugt und an deine Buchhaltung versendet hast wird die entsprechende Gutschrift für eine Bearbeitung gesperrt. Durch das Sperren der Gutschrift ist es nicht mehr möglich das du aus
Versehen buchhaltungsrelevante Informationen ändert. Aber was solltest tun, wenn eine gesperrte Gutschrift doch mal geändert werden muss? In diesem Fall benötigst du den Stornobeleg um das erzeugte Gutschriften-Dokument wieder aufzuheben.</p>
</div>
<div class="paragraph">
<p>Wenn du das erste mal einen solchen Stornobeleg benötigst solltest du diesen natürlich im Vorfeld konfigurieren und so entscheiden, welche Informationen auf dem Belge ausgegeben werden.
Wenn du also den Stornobeleg erzeugst ist es wieder möglich die Gutschrift zu bearbeiten. Anschließend kannst du die Daten anpassen und ein neues Gutschriftdokument anlegen und an die Buchhaltung senden.</p>
</div>
<div class="paragraph">
<p>Schauen wir uns direkt den zweiten Gewährleistungsfall an. Manchmal musst du einen beschädigten Artikel durch einen neuen Artikel ersetzen. Hier beginnen wir wieder damit die Retoure zu öffnen
allerdings erstellen wir diesmal eine Gewährleistung. Die neuangelegte Gewährleistung enthält alle Informationen aus dem Orginalauftrag - mit einem wesentlichen Unterschied. In der Gewährleistung ist der
Warenwert genullt. Bis auf diesen Unterschiede wird die Gewährleistung aber wie jeder Auftrag weiter bearbeitet. Der kaputte Artikel wird ausgetauscht und an den Kunden versendet.</p>
</div>
<div class="paragraph">
<p>Moment, es gibt noch einen weiteren Unterschied. Auch die Versandkosten sind in der Gewährleistung auf 0 gesetzt. Du kannst allerdings im Bereich Einstellungen » Aufträge »
Grundeinstellungen selber wählen, ob dem Kunden für die Gewährleistung Versandkosten berechnet werden. Ich habe hier angegeben, dass keine Versandkosten berechnet werden sollen.</p>
</div>
<div class="paragraph">
<p>Schauen wir uns noch den letzten Gewährleistungsfall an. In manchen Situationenist es nötig, dass ein beschädigter Artikel auf Kulanz repariert werden muss und dann an den Kunden zurück geschickt wird.
Die Vorgänge dazu sind realativ ähnlich zu denen die du schon gesehen hast. Es gibt nur eine Sache, die du im Vorfeld machen solltest Reparaturstatus speichern. Im oberen Bereich kannst du den Status
der Reparatur festlegen. Und darunter kannt du den Artikelzustand des eingesendeten Artikels anlegen. Hast du die Einstellungen vorgenommen kannst du wieder deine Retoure öffnen und eine Reparatur anlegen.
Hier kannst du einen Reparaturstatus und den Artikelzustand wählen, den du grad angelegt hast. Mit dem Speichern hast du die Reparatur im System angelegt. Anschließend wird der reparierte Artikel an deinen Kunden versendet.</p>
</div>
<div class="paragraph">
<p>Schön, dass du die Serie der Videos angeschaut hast. Ich hoffe du hast jetzt einen Eindruck gewonnen, wie du in plentymarkets mit Retouren umgehen kannst.</p>
</div>
</div>
</div>
</main>