<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Individualisiere deine Retoureneinstellungen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Retouren gehören zum Online-Handel. Wir zeigen dir, welche Einstellungen du in plentymarkets hinterlegen musst, damit diese kinderleicht bearbeitet werden können.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/auftragsabwicklung/retouren-und-storno/retoureneinstellungen-gruende#video">Gründe für Retouren anlegen (0:27)</a></p>
<p class="tableblock"><a href="/videos/auftragsabwicklung/retouren-und-storno/retoureneinstellungen-reparaturlager#video">Reparaturlager erstellen (1:43)</a></p>
<p class="tableblock"><a href="/videos/auftragsabwicklung/retouren-und-storno/retoureneinstellungen-retourenanlage-durch-kunden#video">Sollen Kunden Retouren selbstständig anlegen können? (2:24)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/234667730" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Deine Verkäufe gehen durch die Decke. Aber auch der erfolgreichste Online-Händler bekommt ab und zu Artikel zurück gesendet. Aber kein Problem! Mit plentymarkets
kannst du deine Retouren unheimlich einfach verwalten. Nachdem du dir alle Videos dieser Reihe angeschaut hast wird die Retourenabwicklung zu einem Kinderspiel.
Ich zeige dir nun drei wesentliche Einstellungen, die du tätigen solltest, bevor du mit der Retoureabwicklung beginnst.</p>
</div>
<div class="paragraph">
<p>Los gehts mit den Retouregründen. Wenn Du Kleidung verkaufst ist es natürlich wahrscheinlich, dass dein Kunde auch mal
die falsche Größe bei dir kauft oder es geht etwas auf dem Versandweg kaputt.Es gibt viele Gründe, weshalb Artikel an dich zurück gesendet werden könnten.
Hast du dir Gedanken über mögliche Retourengründe gemacht kannst du diese direkt in deinem plentymarkets-System hinterlegen.
In jedem Fall solltest du aber bei der Anlage deiner Retourengründe bedacht vorgehen, da unter Umständen auch deine Kunden diese Gründe im Webshop einsehen können.</p>
</div>
<div class="paragraph">
<p>Ich zeige dir am besten, was ich genau meine. Wenn ein Kunde in deinem Webshop gekauft hat kann er in seinem Mein Konto-Bereich eine Retoure anlegen und dabei den Retourengrund wählen.
Übrigens ist die Reihenfolge, wie die Retourengründe hier angezeigt werden die selbe, wie du die Retourengründe im System hinterlegst.
Warum das wichtig ist? Der erste Status im System ist im Mein Konto-Bereich vorausgewählt. Wenn dein Kunde also keinen Retourengrund wählt wird der erste verfügbare
Retourengrund automatisch gewählt. Es kann also dazu kommen, dass du viele Retouren mit dem Grund Artikel beschädigt hast, obwohl der Kunde garkeinen Grund gewählt hat. Also jedes Mal, wenn dein Kunde einen Artikel zurückschickt gibt er auch einen Grund
an. Nach einiger Zeit hast du dann warscheinlich genügend Retouren erhalten um auch statistisch festzuhalten, wieso die Artikel zurückgesendet wurden.</p>
</div>
<div class="paragraph">
<p>Die Retourengründe hast du konfiguriert. Zeit festzulgen an welches Lager die Retouren gehen sollen.
Da es einige Retourengründe gibt, die einen sofortigen Wiederverkauf der Artikel ausschließen solltest du den Retoureneingang von deinem Verkaufswarenbestand
trennen. Mit anderen Worten - du benötigst ein Reparaturlager. Schauen wir uns an, wie du eins eingestellt wird.</p>
</div>
<div class="paragraph">
<p>Öffne einfach eines deiner Lager, welches du als Reparaturlager nutzen möchtest und wähle hier diese Einstellung aus.
Als nächstes solltest du deinem Vertriebslager ein Reparaturlager zuordnen. Dies ist wichtig, da die zurückgesendeten Artikel nach ihrer Prüfung wieder in den Verkauf gehen
sollen.</p>
</div>
<div class="paragraph">
<p>Zu guter Letzt musst du dir noch Gedanken darüber machen, ob du zulässt, dass auch dein Kunde im Mein Konto-Bereich eine Retoure selbstständig anlegen kann.
Schauen wir uns doch an, wie wir ihm das ermöglichen können und öffnen die Mein Konto-Einstellungen. Hier siehst du die Retoureeinstellung.
Ist diese Einstellung aktiviert kann der Kunde selbsständig eine Retoure anlegen, wenn er in seinem Mein Konto-Bereich eingeloggt ist.
Dafür muss er dann nur diesen Button betätigen und den Retourengrund sowie die Stückzahl des Artikels, den er zurücksenden möchte angeben.
Für den Kunden ist es sogar möglich sich ein Retourenlabel im Mein Konto-Bereich ausdrucken zu lassen.</p>
</div>
<div class="paragraph">
<p>Wenn dein Kunde so den Retourenprozess startet wird die Retoure automatisch in deinem System angelegt.
Hier siehst du, dass die Retoure bereits über eine ID verfügt, außerdem kannst du hier erkennen zu welchem Auftrag die jeweilige Retoure gehört.</p>
</div>
<div class="paragraph">
<p>Übrigens bekommt eine Retoure im System den Status 9. Aber warum gerade 9? Die Antwort ist recht einfach. Dies ist der Standardstatus den eine Retoure bekommt,
wenn sie in deinem System angelegt wird. Allerdings hast du hier die Möglichkeit auch einen abweichenden Status zu vergeben.
Öffne dazu einfach die Einstellungen und wähle den Status aus.</p>
</div>
<div class="paragraph">
<p>Super, so funktioniert also der Retourenprozess, wenn er von einem deiner Kunden gestartet wird Schauen wir uns aber auch noch die Variante an, wenn deine Kunden nicht die
Möglichkeit haben die Retoure selbstständig anzulegen. Wenn du hier inaktiv wählst hat der Kunde keine Möglichkeit eine Retoure selbsständig
anzulegen und die Retoure kommt auch nicht automatisch in dein System. In diesem Fall musst du die Retoure händisch in deinem System anlegen und genau das
zeige ich dir in dem folgenden Video. Also hol dir eine Tasse Kaffee und lehne dich zurück - wir machen direkt weiter!</p>
</div>
</div>
</div>
</main>