<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 17. Juni 2021</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 10. Juni 2021 bis zum 17. Juni 2021 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Woche für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 8 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_amazon" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Es ist ab sofort möglich, die FBA-Bestände eines europäischen Verkäufer:innenkontos im System für UK und EU separat auf Artikelebene/Variantenebene darzustellen.</p>
</li>
</ul>
</div>
<h3 id="_export" class="discrete">Export</h3>
<div class="ulist">
<ul>
<li>
<p>Für den Export von Nachbestellungen und Umbuchungen sowie für Auftragspositionen von Nachbestellungen und Umbuchungen gibt es nun zwei neue Format-Typen:</p>
<div class="ulist">
<ul>
<li>
<p><strong>Bestellwesen</strong> für den Export von Umbuchungen und Nachbestellungen</p>
</li>
<li>
<p><strong>Auftragspositionen Bestellungen</strong> für den Export von Auftragspositionen von Nachbestellungen und Umbuchungen</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 8 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Bisher wurde die Option <strong>Zahlungseingang zurücksetzen</strong> in den Einstellungen der Auftragsdetailansicht nur angezeigt wenn der Auftrag einen Zahlungsstatus hatte, der nicht unbezahlt ist. Dies wurde erweitert, sodass die Option nun auch sichtbar ist, sobald dem Auftrag ein bezahlter Betrag zugeordnet ist.</p>
</li>
</ul>
</div>
<h3 id="_ebay" class="discrete">eBay</h3>
<div class="ulist">
<ul>
<li>
<p>Die Eröffnung eines Disput-Prozesses bei eBay über die entsprechende Ereignisaktion oder über die Dropdown-Liste an den Auftragspositionen wird ab jetzt für alle Aufträge blockiert. Der Hintergrund ist, dass es bei eBay einen Fehler gibt, der beim Eröffnen eines Disput-Prozesses für eine einzelne Auftragsposition alle anderen Positionen ebenfalls storniert und auch den ganzen Auftrag erstattet.</p>
</li>
</ul>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>Die aktuelle Version der Merkmalsstrukur-Master-Datei vom 11.06.2021 von OTTO wurde eingespielt. Dadurch wurden für Attribut- und Merkmalverknüpfung neue Verknüpfungsmöglichkeiten und Vorgabewerte bereitgestellt. <a href="https://forum.plentymarkets.com/t/aktuelle-merkmalsstrukturen-master-datei/532293" target="_blank" rel="noopener">Die Datei könnt ihr hier herunterladen und als Referenz nutzen.</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 8 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Es konnte vorkommen, dass die Auftragssummen nicht richtig berechnet wurden. Dies wurde behoben.</p>
</li>
<li>
<p>Bei Aufträgen, die Varianten mit Bestelleigenschaften enthalten, welche nicht manuell angelegt wurden und eine Fremdwährung haben, wurden beim Editieren der Positionen die fehlenden Bestelleigenschaften nur in der Systemwährung gespeichert. Das führte dazu, dass man zu diesen Aufträgen keine Unteraufträge (Lieferaufträge, Gutschriften usw.) anlegen konnte. Dies wurde behoben. Es werden jetzt auch die Beträge in der Fremdwährung gespeichert.</p>
</li>
<li>
<p>Bei Auftragsdokumenten, in denen die Artikelmatrix für die Ausgabe der Positionen benutzt wird, ist es bei einem Seitenwechsel zu einem Fehler gekommen, der die Erzeugung des Dokumentes unterbrochen hat. Dies wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 8 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>In der Übersichtstabelle für Nachbestellungen und Umbuchungen wurden die Tabellenspalten zum Status kombiniert, sodass es nun eine Spalte gibt, die den Statusnamen und die Farbe anzeigt.</p>
</li>
</ul>
</div>
<h3 id="_bi" class="discrete">BI</h3>
<div class="ulist">
<ul>
<li>
<p>Im Säulendiagramm gibt es die Möglichkeit eine detaillierte Ansicht zu aktivieren. Diese findet man in den Einstellungen als Option „Bei Klick auf Säule präziseres Zeitintervall anzeigen“. Beim Klick auf eine Säule wird das Diagramm anschließend im nächst kleineren Zeitintervall angezeigt.</p>
</li>
<li>
<p>Die Positionierung der zusätzlichen Zeitintervalle ist nicht mehr unterhalb der Diagramme zu finden, sondern in der oberen rechten Ecke neben dem Drei-Punkte-Menü.
Diese Änderung wurde durchgeführt, um mehr Platz für weitere Komponenten pro Dashboard zu schaffen.</p>
</li>
</ul>
</div>
<h3 id="_kaufland" class="discrete">Kaufland</h3>
<div class="ulist">
<ul>
<li>
<p>Über die Aktion <strong>Rechnung bei Kaufland.de hochladen</strong> können jetzt auch externe Rechnungen hochgeladen werden.</p>
</li>
</ul>
</div>
<h3 id="_katalog" class="discrete">Katalog</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort stehen im Katalog die Standardformate <strong>Newsletter-Empfänger</strong>, <strong>Warenbestände</strong> und <strong>Warenbewegungen</strong> für den Export zur Verfügung.</p>
</li>
</ul>
</div>
<h3 id="_warenwirtschaft" class="discrete">Warenwirtschaft</h3>
<div class="ulist">
<ul>
<li>
<p>REST-API: Es ist nun möglich, nach Reason-ID für Warenbewegungen der Route <code>GET /rest/stockmanagement/warehouses/{warehouseId}/stock/movements</code> zu filtern.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 8 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_4" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Bei dem Gruppieren von Aufträgen wird nun das Verkäuferkonto (Auftragseigenschaft mit der ID 10) an den gruppierten Auftrag gesetzt.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 8 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_aufträge_5" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Verlinkungen in der Auftragssuche, der Auftragsdetailsansicht und den Rückstandslisten zu einer bestehenden Nachbestellung funktionierte nicht korrekt. Dadurch konnte die zutreffende Nachbestellung nicht geöffnet werden. Dieser Fehler trat nur auf early und beta auf. Dies wurde behoben.</p>
</li>
<li>
<p>Die Verlinkung zu der Übersicht der Nachbestellungen aus dem Menü <strong>Artikel » Bestand » Warenbestand » Zulauf</strong> funktionierte nicht korrekt. Stattdessen wurde eine neue Nachbestellung geöffnet. Dieser Fehler trat nur auf early und beta auf. Dies wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Im Druckerverlauf gab es einen Fehler, welcher das Nachdrucken von Dokumenten unter Windows verhinderte. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_kaufland_2" class="discrete">Kaufland</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Ausführen der Aktion <strong>Rechnung bei Kaufland.de hochladen</strong> wurden auch Rechnungen hochgeladen, für die ein Stornobeleg existiert. Dies wurde behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Plugin-Name</th>
<th class="tableblock halign-left valign-top">Version</th>
<th class="tableblock halign-left valign-top">To-do</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/addphonetoorderwidget_54796" target="_blank" rel="noopener">Abfrage der Telefonnummer nach Bestellabschluss - Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/notificationwidget_54765" target="_blank" rel="noopener">Aktions- und Informationsleiste</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ceres_4697" target="_blank" rel="noopener">Ceres</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.33</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Im Zuge des Releases von Ceres 5.0.33 gab es Änderungen an einer Template-Datei, die für Theme-Entwickler relevant sind. Die Verlinkung führt direkt zu der umgesetzten Änderung in der entsprechenden Datei.</p>
<p class="tableblock"><a href="https://github.com/plentymarkets/plugin-ceres/pull/2906/files#diff-e7dc3611e423358f168f99f3a60b6bfa3d2af686cfee952aca2e93ca91a3be62" target="_blank" rel="noopener">resources/views/Widgets/Common/InlineTextWidget.twig</a>
<a href="https://github.com/plentymarkets/plugin-ceres/pull/2906/files#diff-91d4a3578417267035536ce9c72ca096a438ce5e7936d8edb1e0d3187bb69865" target="_blank" rel="noopener">resources/views/Widgets/Common/TitleBarWidget.twig</a>
<a href="https://github.com/plentymarkets/plugin-ceres/pull/2906/files#diff-d694b4ace865b8e05bdad90a07c80f0687d865e0d3d1a82f8ffa614bee809157" target="_blank" rel="noopener">resources/views/Widgets/Navigation/NavigationTreeWidget.twig</a>
<a href="https://github.com/plentymarkets/plugin-ceres/pull/2908/files?diff=unified&amp;w=1#diff-43b0576fe9cb61d0343a4aa220f562347c237717821f276ab632973e3970ec96" target="_blank" rel="noopener">resources/views/Widgets/Common/ImageCarouselWidget.twig</a>
<a href="https://github.com/plentymarkets/plugin-ceres/pull/2903/files#diff-374f59a54ec3fcbe1d2444facbddd25c4f8a114e71b7576c9c34d7a20a2d122b" target="_blank" rel="noopener">resources/views/Widgets/Common/LinkWidget.twig</a>
<a href="https://github.com/plentymarkets/plugin-ceres/pull/2903/files#diff-52efec59835d97dc6c2ed6ae7c8b639056ccfaac681c3e425090d53796b13423" target="_blank" rel="noopener">resources/views/Widgets/Common/ListWidget.twig</a></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/conradextension_6948" target="_blank" rel="noopener">Conrad</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.10</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/dpdshippingservices_6320" target="_blank" rel="noopener">DPD Versand Services</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.6.16</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/infinityscroller_6660" target="_blank" rel="noopener">Endlos-Scrollen in Artikellisten</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.4.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/energylabel_6160" target="_blank" rel="noopener">Energie Label</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.6.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/formatdesigner_6483" target="_blank" rel="noopener">FormatDesigner</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/googletagmanagerultimate_54789" target="_blank" rel="noopener">Google Tag Manager - 8 Webtracking Tools in einem</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/io_4696" target="_blank" rel="noopener">IO</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">5.0.33</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/klarna_6731" target="_blank" rel="noopener">Klarna</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.3.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/mirakl_6917" target="_blank" rel="noopener">Mirakl Connector</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.40</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/pricemonitorplentyintegration_6217" target="_blank" rel="noopener">Pricemonitor</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.14</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/rewe_5901" target="_blank" rel="noopener">REWE</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.25.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/shopify_4944" target="_blank" rel="noopener">Shopify</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.9.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cytitemavailabilitynotification_6906" target="_blank" rel="noopener">Verfügbarkeitsbenachrichtigung mit Statistik</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.4.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/voelknerextension_6949" target="_blank" rel="noopener">Voelkner</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.13</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>