<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Ein kurzer Blick in die Auftragseinstellungen</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Neu bei plenty? Die Auftragsabwicklung ist für dich vorkonfiguriert, sodass du mit wenigen Einstellungen starten kannst!</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/auftragsabwicklung/einstellungen-vorab-einrichten/auftragseinstellungen-auftragsstatus#video">Auftragsstatus (0:37)</a></p>
<p class="tableblock"><a href="/videos/auftragsabwicklung/einstellungen-vorab-einrichten/auftragseinstellungen-versandprofile#video">Versandprofile (0:57)</a></p>
<p class="tableblock"><a href="/videos/auftragsabwicklung/einstellungen-vorab-einrichten/auftragseinstellungen-zahlungsarten#video">Zahlungsarten (1:20)</a></p>
<p class="tableblock"><a href="/videos/auftragsabwicklung/einstellungen-vorab-einrichten/auftragseinstellungen-dokumente#video">Dokumente (1:36)</a></p>
<p class="tableblock"><a href="/videos/auftragsabwicklung/einstellungen-vorab-einrichten/auftragseinstellungen-e-mail-vorlagen#video">E-Mail Vorlagen (1:57)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/219499352#at=96" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Stell dir vor, es ist dein erster Tag im neuen Job! Perfekt vorbereitet bist du bereit für den Start. Aber vorher
noch einen kurzen Blick in den Spiegel - checken, ob auch wirklich alles richtig sitzt.</p>
</div>
<div class="paragraph">
<p>Und genau wie ein perfekt vorbereiteter Mitarbeiter bietet auch plentymarkets eine Auftragsabwicklung die
bereits nach dem ersten Login startklar ist. Deine Möglichkeiten sind hier schier unendlich. plentymarkets gibt
dir allerdings Starthilfe und liefert dir eine vorkonfigurierte Auftragsabwicklung. Natürlich kannst du alle
Einstellungen überarbeiten und auf deine Prozesse anpassen - dafür haben wir auch jeweils eigene Videos.
Wenn du aber einfach nur ganz schnell loslegen möchtest, machen wir es dir mit einigen Voreinstellungen
recht leicht.</p>
</div>
<div class="paragraph">
<p>Der kurze Blick in den Spiegel auf diese Voreinstellungen bleibt allerdings nicht aus. Wie gehst du dabei vor?
Zuallererst: Aufträge werden über den Status verwaltet, damit du den aktuellen Zustand auf den ersten Blick
erkennst. Dabei haben wir dir 3 essentielle Status eingerichtet und automatisiert. Damit behältst du im Blick, welche
Aufträge noch auf Zahlung warten, welche versandfertig sind und welche fertig abgewickelt wurden.</p>
</div>
<div class="paragraph">
<p>Beim Thema Versand hast du es vorerst ebenfalls richtig einfach. Denn standardmäßig haben wir dir schon ein sogenanntes Versandprofil eingerichtet, das für jeden Auftrag
benötigt wird. Dabei handelt es sich um den versicherten Paketversand per DHL für ein pauschales Porto. Überprüfe die Einstellung im Backend und passe sie gegebenenfalls an. Am schnellsten kommst du dorthin, wenn du hier in der Suchpille "Versandprofil" eingibst.</p>
</div>
<div class="paragraph">
<p>Zahlungsarten solltest du nach deinen Vorstellungen aktivieren. Du hast viele verschiedene zur Auswahl, international sowie national, und musst diese entsprechend aktiv
schalten. Bei manchen Zahlungsarten steht dir auch eine direkte Schnittstelle zur Verfügung, zum Beispiel bei PayPal.</p>
</div>
<div class="paragraph">
<p>Apropos Zahlung: Dein Logo + Daten willst du sicher auf deinen Rechnungen haben. Am schnellsten geht es, wenn du dir eine PDF-Vorlage mit allen wichtigen Infos erstellst und diese dann
hochlädst. Das geht natürlich auch genauso schnell bei allen anderen Dokumenten. Über den Vorschau-Button kannst du schnell prüfen, ob mit der Rechnung alles passt. Und auch hier ist der einfachste
Weg über die Suchpille.</p>
</div>
<div class="paragraph">
<p>Auch in der Kundenkommunikation geben wir dir Hilfestellung und haben für den E-Mail-Verkehr einige hilfreiche Vorlagen erstellt. Jetzt steht da allerdings noch der
DemoShop als Signatur - das solltest du natürlich anpassen, bevor du Mails aus dem System heraus schickst.</p>
</div>
<div class="paragraph">
<p>Sitzt alles?
Dann begrüßen wir dich rechtherzlich in der Auftragsabwicklung von plentymarkets. Bitte legen Sie jetzt los!</p>
</div>
</div>
</div>
</main>