<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Behalte deine Aufträge mit Status im Überblick</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deine Status reagieren dynamisch auf Ereignisse innerhalb deiner Auftragsabwicklung und zeigen dir auf den ersten Blick an, in welchem Bearbeitungsstadium sich dein Auftrag befindet.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/videos/auftragsabwicklung/einstellungen-vorab-einrichten/auftraege-mit-status-ueberblick#video">Alles auf einen Blick (0:37)</a></p>
<p class="tableblock"><a href="/videos/auftragsabwicklung/einstellungen-vorab-einrichten/auftraege-mit-status-individualisierung#video">Individualisiere deine Status (2:09)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/216985157#at=129" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Weiter gehts mit der Tour durch unser Unternehmen. Wusstest Du das bei uns täglich ungefähr 200 Aufträge eintreffen? Du fragst dich jetzt zu recht, wer wickelt all diese Aufträge ab?</p>
</div>
<div class="paragraph">
<p>Darf ich vorstellen? Das ist Thomas. Sein Job ist es hier den Überblick zu behalten. Thomas weiß, welche Artikel wann gekauft wurden an wen die Artikel versendet werden müssen. Auch welcher Kunde bereits bezahlt hat weiß Thomas natürlich. Und jetzt müssen wir wieder etwas leiser sein, Thomas scheint etwas gestresst zu sein.</p>
</div>
<div class="paragraph">
<p>Aber keine Sorge, plentymarkets bietet dir eine bessere Möglichkeit dein Geschäft im Auge zu behalten und deine
Aufträge optimal abzuwickeln. Die Schritte die deine Aufträge durchlaufen werden in deinem plentymarkets-System
visuell dargestellt. Wenn Du hier KLICKST findest du eine Übersicht über all deine Aufträge. Hier kannst du bereits auf den ersten Blick erkennen in welchem Stadium sich deine Aufträge befinden.</p>
</div>
<div class="paragraph">
<p>Wie? Mit Hilfe der Auftragsstatus!
Die Idee dahinter ist recht einfach - jeder Auftrag befindet sich immer in einem bestimmten Status. Dieser Staus gibt
genau an, in welchem Stadium des Abwicklungsprozess er sich gerade befindet. Der Status ändert sich immer dann
automatisch, wenn ein bestimmtes Ereignis eintritt.</p>
</div>
<div class="paragraph">
<p>Als Beispiel haben wir hier einen Auftrag im Status 3, der noch auf die Bezahlung wartet.
Dagegen haben wir hier einen Auftrag im Status 5. Bei diesem Auftrag hat der Kunde seinen Teil des Geschäfts bereits abgeschlossen und du kannst den Auftrag für den Versand vorbereiten.
Wenn Du das Paket versendet hast geht der Auftrag in den Status 7 und der Auftrag ist vorerst abgeschlossen.</p>
</div>
<div class="paragraph">
<p>Natürlich handelt es sich bei den Status nicht um etwas statisches. Vielmehr reagieren die Staus dynamisch auf
Ereignisse. Wenn du beispielsweise den Warenausgang eines Auftrages gebucht hast wird der Status des
Auftrages automatisch in den Status 7 geändert. Natürlich funktioniert jedes Unternehmen ein wenig anders. Der Fulfillment-Prozess deines Unternehmens kann
verschiedene Eigenheiten beinhalten, die in plentymarkets vielleicht nicht vordefiniert sind.</p>
</div>
<div class="paragraph">
<p>Natürlich musst du deinen Arbeitsablauf jetzt nicht auf deine eingesetzte Software anpassen. Passe doch lieber die Software auf deine
Bedürfnisse an. Du kannst ganz einfach weitere Status selber anlegen, um deine Auftragsabwicklung abbilden zu können. Wo genau du die Status anpasst zeige ich dir.</p>
</div>
<div class="paragraph">
<p>Navigiere einfach über deine Einstellungen und Aufträge zu den Auftragsstatus. Hier kannst Du weitere Status ganz
einfach anlegen.
Wenn Du nun den Speichern-Button drückst hast du einen neuen Status bereits angelegt und deine
Auftragsabwicklung schon ein Stückweit auf deine Bedürfnisse angepasst.</p>
</div>
<div class="paragraph">
<p>Beachte bitte, dass du die Status 3,5,7,9 und 13 nicht ändern solltest, da diese sonst in der Auftragsabwicklung zu
Problemen führen kann.</p>
</div>
<div class="paragraph">
<p>Am besten solltest du dich direkt weiter mit der Auftragsabwicklung beschäftigen. Viel Spass dabei</p>
</div>
</div>
</div>
</main>