<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 22. Juli 2020</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 15. Juli 2020 bis zum 22. Juli 2020 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Wochen für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_ebay" class="discrete">eBay</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt Rückerstattungen für die neue Zahlungsabwicklung von eBay vornehmen! Die Erstattung erfolgt als Aktion innerhalb einer Ereignisaktion und nennt sich eBay-Rückerstattung veranlassen. Den Auslöser der Ereignisaktion kannst du, wie gewohnt, selber definieren. Der neue Rückerstattungsprozess findet nur dann statt, wenn es sich bei dem Hauptauftrag um einen eBay Payments Auftrag handelt. Ist das nicht der Fall, findet der Rückerstattungsprozess wie vorher statt und kann nur durchgeführt werden, wenn sich eine von eBay importierte Retoure im System befindet. Die Rückerstattung für die eBay Payments Aufträge ist in der Folge in 5 nacheinander folgenden Schritte aufgeteilt:</p>
<div class="ulist">
<ul>
<li>
<p>1. Gibt es einen Case zu dem Auftrag?
Es wird nach einem Fall gesucht. Bei einem positiven Ergebnis wird die Rückerstattung über diesen Fall beauftragt und der Prozess ist abgeschlossen.</p>
</li>
<li>
<p>2. Gibt es eine Inquiry zu dem Auftrag?
Es wird nach einer Inquiry gesucht. Bei einem positiven Ergebnis wird die Rückerstattung über diese Inquiry beauftragt und der Prozess ist abgeschlossen.</p>
</li>
<li>
<p>3. Gibt es einen Kaufabbruch zu dem Auftrag?
Es wird nach einem Kaufabbruch gesucht. Bei einem positiven Ergebnis wird die Rückerstattung über diesen Kaufabbruch beauftragt und der Prozess ist abgeschlossen.</p>
</li>
<li>
<p>4. Gibt es eine Retoure zu dem Auftrag?
Es wird nach einer offenen Retoure gesucht. Bei einem positiven Ergebnis wird die Rückerstattung über diese Retoure beauftragt und der Prozess ist abgeschlossen.</p>
</li>
<li>
<p>5. Kam es bei keiner der vorherigen Prüfungen zu einem Ergebnis?
Der Auftrag ist dazu berechtigt eine sofortige Rückerstattung einzuleiten. Um diese Erstattung einzuleiten ist das OAuth2-Plugin 3 und die Hinterlegung des Kontos in diesem Plugin zwingend erforderlich.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Bei den Punkten 4 und 5 ist es zudem möglich eine Teilrückerstattung anzubieten, da eBay uns in den Szenarien die Möglichkeit bietet einen Rückerwartungswert zu übermitteln. Dieser Wert berechnet sich aus dem Artikelpreis multipliziert mit der Menge in dem Auftrag, auf den die Ereignisaktion angewandt wird. Es empfiehlt sich bei einer Teilrückerstattung also beispielsweise eine Gutschrift anzulegen und dort den Wert der Gutschrift zu verringern. Das ist aber auch in jeden anderen Workflow integrierbar.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_otto" class="discrete">OTTO</h3>
<div class="ulist">
<ul>
<li>
<p>Die aktuelle Version der Merkmalsstrukur-Master-Datei vom 17.07.2020 von OTTO wurde eingespielt. Dadurch wurden für Attribut- und Merkmalverknüpfung neue Verknüpfungsmöglichkeiten und Vorgabewerte bereitgestellt. <a href="https://forum.plentymarkets.com/uploads/short-url/cNH4W5tUV3uxHt0mIqXJHps2sV3.xlsx" target="_blank" rel="noopener">Die Datei könnt ihr hier herunterladen und als Referenz nutzen.</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>Die Container-Verknüpfungen werden jetzt nicht mehr gesammelt im Menü <strong>CMS » Container-Verknüpfungen</strong> gesetzt, sondern in den Einstellungen der einzelnen Plugins. Gehe dabei wie folgt vor:</p>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Öffne das Plugin-Set, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Öffne die Einstellungen des Plugins, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Container-Verknüpfungen</strong>.</p>
</li>
<li>
<p>Aus der Dropdown-Liste, wähle den Datenanbieter, den du verknüpfen möchtest.</p>
</li>
<li>
<p>Wähle den Container, mit dem du den Datenanbieter verknüpfen möchtest.</p>
</li>
<li>
<p>Wiederhole Schritte 5 und 6 für alle Datenanbieter, die du verknüpfen möchtest.</p>
</li>
<li>
<p>Speichere die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Wir erwarten, dass im Zuge dieses Updates auch einige der Probleme behoben werden, bei denen Container-Verknüpfungen unerwartet entfernt werden.</p>
</div>
</li>
</ul>
</div>
<h3 id="_shopbuilder" class="discrete">ShopBuilder</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Öffnen eines Inhalts im ContentManager wird ab jetzt das SCSS Serverseitig kompiliert. Die SCSS Kompilierung fand bisher im Client statt. Durch die Änderung wird der Client entlastet und die Zeit bis zur ersten Interaktion reduziert.</p>
<div class="paragraph">
<p>Die Zeit bis zur ersten Interaktion wurde in unseren Tests mit einem MacBook um ~20% reduziert, ältere Clients sollten dementsprechend höhere Reduzierungen erzielen.</p>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Wenn zwei parallele Prozesse die Erzeugung eines Stornobelegs für einen Auftrag angestoßen haben, wurde unter Umständen der Stornobeleg doppelt mit unterschiedlichen Nummern erzeugt. Dies wurde behoben.</p>
</li>
<li>
<p>Durch die schrittweise Änderung auf die neue Auftragslogik wurde auch die Speicherung der Auftragssummen geändert. In den E-Mail-Vorlagen wurde dies nicht angepasst, sodass die falsche Währung in <strong>$Currency</strong> gesetzt wurde. Das wurde behoben.</p>
</li>
<li>
<p>Bei der Ermittlung eines gültigen Verkaufspreises per ElasticSync, REST sowie Interface wurde ein eventueller Rabatt durch die Kundenklasse nicht einberechnet. Dies wurde angepasst. <a href="https://forum.plentymarkets.com/t/auftraege-verkaufspreise-fuer-auftrags-positionen-ermitteln-orders-determine-sales-prices-for-order-items/595326" target="_blank" rel="noopener">Weitere Informationen zur ursprügnlichen Neuerung findest du in diesem Forumsbeitrag.</a></p>
</li>
</ul>
</div>
<h3 id="_netto" class="discrete">Netto</h3>
<div class="ulist">
<ul>
<li>
<p>Bisher war es nur möglich Artikel mit reduzierter oder voller Mehrwertsteuer zu übertragen. Versuchte man Artikel ohne Mehrwertsteuer zu übertragen, wurden diese stattdessen mit voller Mehrwertsteuer exportiert.</p>
<div class="paragraph">
<p>Dies wurde nun behoben und Artikel ohne Mehrwertsteuer werden nun auch ohne Mehrwertsteuer exportiert.</p>
</div>
</li>
</ul>
</div>
<h3 id="_otto_market" class="discrete">OTTO market</h3>
<div class="ulist">
<ul>
<li>
<p>Durch einen Fehler wurden Stornierungen von OTTO Market nicht mit Status 8 importiert. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_prozesse" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Für das Anlegen einer Retoure ist nun ein Artikelstatus notwendig. Wenn der Artikelstatus nicht gesetzt ist, wird nun eine Fehlermeldung angezeigt.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Option für das voraussichtliche Versanddatum für die Auftragsbestätigung und Angebot hinzugefügt, welche das Versanddatum am Auftrag ausliest.</p>
</li>
</ul>
</div>
<hr>
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_bestellungen" class="discrete">Bestellungen</h3>
<div class="ulist">
<ul>
<li>
<p>Es wurde das Styling der Eingabefelder im Bereich <strong>Bestellung</strong> verbessert (z.B. im Warenkorb).</p>
</li>
</ul>
</div>
<h3 id="_kataloge" class="discrete">Kataloge</h3>
<div class="ulist">
<ul>
<li>
<p>Ab sofort wird eine Warnmeldung angezeigt wenn der Toggle für die Anzeige der Pflichtfelder aktiviert ist.</p>
<div class="paragraph">
<p><span class="image"><img src="{{plugin_path('PlentyManual')}}/images/changelog/assets/kataloge-pflichtfelder-warnmeldung.png" alt="Der Toggle für die Anzeige der Pflichtfelder ist aktiviert. Alle anderen Felder werden nicht angezeigt." width="640"></span></p>
</div>
</li>
<li>
<p>Wir haben die neue Tabelle in der Übersicht hinzugefügt.</p>
</li>
</ul>
</div>
<h3 id="_prozesse_2" class="discrete">Prozesse</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Ausführen eines Prozesses wird nun an den folgenden Stellen zusätzlich zu den weiteren Artikelinformationen die Varianten-ID angezeigt:</p>
<div class="ulist">
<ul>
<li>
<p>In der Artikelvorschau der Aktion Auftragssuche.</p>
</li>
<li>
<p>In der Artikelvorschau der Aktion Retoure anlegen/bearbeiten bei der Auswahl zu retournierender Artikel.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Bei der Auftragssuche, der Retourenanlage und beim Wareneingang innerhalb der Prozesse wurden Fehlermeldungen zu Warnungen geändert. Zudem wird bei der Aktion Wareneingang (einfach) eine Fehlermeldung ausgegeben, wenn für die einzubuchende Variante kein Warenbestand geführt wird.</p>
</li>
</ul>
</div>
<h3 id="_shopbuilder_2" class="discrete">ShopBuilder</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Öffnen eines Inhalts im ContentManager werden ab jetzt die möglichen Widgets Serverseitig gefiltert. Die Filterung fand bisher im Client statt. Durch die Änderung wird der Client entlastet und die Zeit bis zur ersten Interaktion reduziert.</p>
<div class="paragraph">
<p>Die Zeit bis zur ersten Interaktion wurde in unseren Tests mit einem MacBook um ~10% reduziert, ältere Clients sollten dementsprechend höhere Reduzierungen erzielen.</p>
</div>
</li>
</ul>
</div>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>early</strong> behoben.</p>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Umwandeln eines Gastbestellers zu einem regulären Kundenkonto wurde das Datum der Umwandlung als Geburtstag gesetzt, sofern dieses nicht am Gast vorhanden war. Dieses Fehlverhalten wurde nun behoben.</p>
</li>
</ul>
</div>
<h3 id="_eigenschaften" class="discrete">Eigenschaften</h3>
<div class="ulist">
<ul>
<li>
<p>Es war möglich das man Eigenschaften in mehrere Gruppen legen konnte. Diesen Fehler haben wir behoben.</p>
</li>
<li>
<p>Es war möglich das man Eigenschaften mehrmals am Artikel verknüpfen konnte. Diesen Fehler haben wir behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/amazonloginandpay_5072" target="_blank" rel="noopener">Amazon Pay</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.6.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/ergoversicherungsmodul_5976" target="_blank" rel="noopener">ERGO Versicherungsmodul</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.1.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cfourgridwidget_6860" target="_blank" rel="noopener">Grid Widget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/invoice_4760" target="_blank" rel="noopener">Kauf auf Rechnung</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/prepayment_4758" target="_blank" rel="noopener">Vorkasse</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.0.3</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div></div>
</main>