<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Schnellzugriff auf allgemeine Funktionen</span></a></li>
<li><a href="#14"><span>2.</span><span> Benutzerbild hinzufügen</span></a></li>
<li><a href="#15"><span>3.</span><span> Schnellzugriff über das Support-Tab</span></a></li>
<li><a href="#20"><span>4.</span><span> Menüansicht anpassen</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>4.1.</span><span> Menüansicht wechseln</span></a></li>
<li><a href="#50"><span>4.2.</span><span> Menüansicht einrichten</span></a></li>
<li><a href="#60"><span>4.3.</span><span> Positionen der Menüansicht sortieren</span></a></li>
</ul>
</li>
<li><a href="#70"><span>5.</span><span> Kontextmenü über Rechtsklick aufrufen</span></a></li>
<li><a href="#80"><span>6.</span><span> Favoriten verwalten</span></a></li>
<li><a href="#90"><span>7.</span><span> Mehrere Optionen wählen</span></a></li>
<li><a href="#95"><span>8.</span><span> Zugriff auf Drucker einrichten</span></a></li>
<li><a href="#100"><span>9.</span><span> Drag &amp; Drop-Funktion nutzen</span></a></li>
<li><a href="#110"><span>10.</span><span> Ungesicherte Änderungen anzeigen</span></a></li>
<li><a href="#120"><span>11.</span><span> Editoren verwalten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Allgemeine Funktionen nutzen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Handbuchseite beschreibt Funktionen in plentymarkets, die übergreifend oder in mehreren Bereichen des Systems zu finden sind.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Schnellzugriff auf allgemeine Funktionen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Folgenden wird beschrieben, wie du allgemeine Funktionen deines plentymarkets Systems verwendest.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Vollbildmodus</strong><br>
Klicke auf die Vollbild-Schaltfläche, um den Vollbildmodus zu aktivieren.</p>
</li>
<li>
<p><strong>Webshop aufrufen</strong><br>
Klicke auf die plenty ID rechts oben im Menü, um die Startseite deines Webshops aufzurufen.</p>
</li>
<li>
<p><strong>Favoriten</strong><br>
Klicke auf das Stern-Symbol, um deine Favoriten anzuzeigen. Weitere Informationen zum Hinzufügen und Entfernen von Favoriten findest du im Kapitel <a href="/basics/arbeiten-mit-plentymarkets/allgemeine-funktionen#80">Favoriten verwalten</a>.</p>
</li>
<li>
<p><strong>Benutzer verwalten</strong><br>
Über die Benutzer-Schaltfläche kannst du in das Benutzerkonto wechseln und dich ausloggen.<br>
Klicke auf den <strong>Benutzernamen</strong>, um in das aktive Benutzerkonto zu wechseln.
Klicke auf <strong>Logout</strong>, um dich von deinem plentymarkets System abzumelden.<br></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="14">2. Benutzerbild hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um ein Benutzerbild in deinem plentymarkets Backend anzeigen zu lassen, musst du bei <a href="https://de.gravatar.com/" target="_blank" rel="noopener">gravatar.com</a> angemeldet sein.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerbild hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.<br></p>
</li>
<li>
<p>Öffne den Benutzer.<br></p>
</li>
<li>
<p>Gib die E-Mail-Adresse, mit der du bei gravatar.com angemeldet bist, unter <strong>Benutzername » Tab: Stammdaten</strong> in das Feld <strong>E-Mail</strong> ein.<br></p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Lade das System neu, um das Benutzerbild anzuzeigen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="15">3. Schnellzugriff über das Support-Tab</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Unter <strong>Support</strong> kannst du verschiedene Supportangebote und Partnerservices aufrufen.<br></p>
</div>
<div class="paragraph">
<p><strong>Service</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Handbuch</strong> öffnet die <a href="https://knowledge.plentymarkets.com/" target="_blank" rel="noopener">Startseite</a> des plentymarkets Handbuchs, in dem alle Funktionen ausführlich beschrieben sind.<br></p>
</li>
<li>
<p><strong>Video Tutorials</strong> öffnet eine Übersicht der plentymarkets Video-Tutorials zu verschiedenen Themen.<br></p>
</li>
<li>
<p><strong>Forum</strong> öffnet die Startseite des plentymarkets Forums.<br></p>
</li>
<li>
<p><strong>Support-Hotline</strong> öffnet die Support-Webseite. Hier kannst du Termine buchen und deine gebuchten Termine einsehen.<br></p>
</li>
<li>
<p><strong>Entwicklerdoku</strong> öffnet plentyDevelopers. Hier findest du umfangreiche Informationen und Entwicklerdokumentation.<br></p>
</li>
</ul>
</div>
<div class="paragraph">
<p><strong>Partnerangebot</strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Agentursuche</strong> öffnet eine Seite zur Suche von Partneragenturen. Gib dort deine Postleitzahl ein, um Partneragenturen in deinem Umkreis zu finden.<br></p>
</li>
<li>
<p><strong>Service buchen</strong> öffnet eine Übersicht der von plentymarkets angebotenen Services.<br></p>
</li>
<li>
<p><strong>Projektbörse</strong> öffnet <strong>plentyMarketplace » Tab: Projekte</strong>. Logge dich in der Projektbörse ein, um Projekte auszuschreiben und Ansprechpartner für Projekte zu finden.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="20">4. Menüansicht anpassen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst sowohl die gesamte Menüansicht als auch die Übersicht innerhalb eines Menüs anpassen. Außerdem kannst du die Positionen der Menüansicht sortieren.</p>
</div>
<div class="sect2">
<h3 id="40">4.1. Menüansicht wechseln</h3>
<div class="paragraph">
<p>Wähle zwischen der horizontalen Menüansicht und der vertikalen Menüansicht. Wechsele die Ansicht mit einem Klick auf den Pfeil in der oberen linken Ecke deiner Startseite.</p>
</div>
</div>
<div class="sect2">
<h3 id="50">4.2. Menüansicht einrichten</h3>
<div class="paragraph">
<p>Du kannst die Ansicht innerhalb eines Menüs, also die Spalten der Parameter, die angezeigt werden sollen, individuell pro Menü einrichten. Bild 2 zeigt als Beispiel die Übersicht des Menüs <strong>Artikel » Artikel bearbeiten</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Ansicht eines Menüs einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Zeige mit der Maus auf die Titelzeile des Menüs. <br>
→ Die Schaltfläche <strong>Ansicht einrichten</strong> wird angezeigt.</p>
</li>
<li>
<p>Klicke auf <strong>Ansicht einrichten</strong>. <br>
→ Das Fenster <strong>Ansicht einrichten</strong> wird geöffnet.</p>
</li>
<li>
<p>Aktiviere die Parameter, die in der Menüansicht angezeigt werden sollen. <br>
→  Wenn ein Parameter nicht mehr angezeigt werden soll, deaktiviere den Parameter.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div id="ansichteinrichten" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/Allgemeine-Funktionen-Ansicht-einrichten.png" alt="Ansicht einrichten">
</div>
<div class="title">Bild 1. Menüansicht einrichten</div>
</div>
</div>
<div class="sect2">
<h3 id="60">4.3. Positionen der Menüansicht sortieren</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um die Positionen der Menüansicht anhand einer Spalte alphabetisch bzw. numerisch aufsteigend oder absteigend zu sortieren.</p>
</div>
<div class="paragraph instruction">
<p>Positionen der Menüansicht sortieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Zeige mit der Maus auf die Überschrift der Spalte, nach der du sortieren möchtest.<br>
→ Ein kleines Dreieck wird angezeigt.</p>
</li>
<li>
<p>Klicke auf das Dreieck, um die Einträge anhand dieser Spalte zu sortieren.<br>
→ Wenn das Dreieck nach unten zeigt, werden die Spalteneinträge aufsteigend sortiert (der größte Wert steht oben). Zeigt das Dreieck nach oben, wird absteigend sortiert.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="70">5. Kontextmenü über Rechtsklick aufrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Rechtsklick in plentymarkets auf ausgewählte Tabs und Schaltflächen ermöglicht es dir, schnell gezielte Aktionen auszuführen.</p>
</div>
<div class="paragraph">
<p>Mit einem Rechtsklick im Menü <strong>Artikel » Kategorien</strong> auf eine Kategorie z.B. hast du die Möglichkeit, die Kategorie zu bearbeiten, zu verschieben, zu kopieren, zu löschen, eine Unterkategorie oder einen neuen Artikel zu erstellen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="80">6. Favoriten verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Favoriten dienen dazu, häufig gebrauchte Menüpunkte schnell aufzurufen. Klicke auf das Stern-Symbol rechts oben im Menü, um deine Favoriten anzuzeigen.</p>
</div>
<div class="paragraph instruction">
<p>Menü zu Favoriten hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü, das du als Favorit hinzufügen möchtest.</p>
</li>
<li>
<p>Klicke in der Dropdown-Liste des Menüs auf <strong>Link zu Favoriten hinzufügen</strong>.<br></p>
</li>
<li>
<p>Prüfe im Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong> unter <strong>Mein Konto</strong> im Tab <strong>Persönliche Einstellungen » Favoriten</strong>, ob das Menü zu den Favoriten hinzugefügt wurde. <br>
→ <strong><em>Hinweis:</em></strong> Favoriten sind im Menü erst sichtbar, wenn du mindestens einen Favoriten gespeichert hast.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>Menü aus Favoriten entfernen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf das Stern-Symbol rechts oben im Menü.<br>
→ In der Dropdown-Liste werden deine gespeicherten Favoriten angezeigt.<br></p>
</li>
<li>
<p>Klicke im Menü auf das <strong>x</strong>, um das Menü aus den Favoriten zu entfernen.</p>
</li>
<li>
<p>Prüfe im Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong> unter <strong>Mein Konto</strong> im Tab <strong>Persönliche Einstellungen » Favoriten</strong>, ob das Menü aus den Favoriten entfernt wurde.<br>
→ <strong><em>Hinweis:</em></strong> Klicke in der Dropdown-Liste auf <strong>Alle Favoriten löschen</strong> und bestätige das Pop-up Fenster mit <strong>Löschen</strong>, um alle Favoriten zu löschen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="90">7. Mehrere Optionen wählen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du in Auswahlfeldern die Möglichkeit hast, mehrere Optionen gleichzeitig zu wählen, drücke die Strg-Taste (Windows) bzw. die cmd-Taste (Mac) und klicke auf die Optionen. Optionen, die beim Öffnen eines Auswahlfensters ausgegraut sind, wurden bereits gespeichert. Du kannst nun per Strg- bzw. cmd-Taste und Mausklick weitere Optionen dazuwählen. Alternativ kannst du per Mausklick die bereits gewählten Optionen deaktivieren. Während der Bearbeitung werden alle gewählten Optionen - auch diejenigen, die vorher ausgegraut waren - blau angezeigt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="95">8. Zugriff auf Drucker einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Installiere zunächst das <a href="https://marketplace.plentymarkets.com/plugins/integration/plentyBase_5053" target="_blank" rel="noopener">plentyBase-Plugin</a>, um den Zugriff auf Drucker zu ermöglichen.</p>
</div>
<div class="paragraph">
<p>Sobald du das Plugin installiert hast, öffne das Menü <strong>Einrichtung » Einstellungen » Drucker</strong>, um lokal oder in deinem Netzwerk installierte Drucker in deinem plentymarkets System einzurichten. Weitere Informationen zum Einrichten von Druckern findest du auf der Handbuchseite <a href="https://knowledge.plentymarkets.com/basics/arbeiten-mit-plentymarkets/drucker" target="_blank" rel="noopener">Drucker</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">9. Drag &amp; Drop-Funktion nutzen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst Bilder und Dateien per Drag &amp; Drop-Funktion in dein plentymarkets System ziehen und auf diese Weise dort speichern.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="110">10. Ungesicherte Änderungen anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tabs werden durch eine rote Markierung gekennzeichnet, wenn du Änderungen vorgenommen, diese Änderungen jedoch noch nicht gespeichert hast.
Wenn du das Tab schließt, ohne die Änderungen gespeichert zu haben, wird ein Hinweisfenster angezeigt, das du aktiv bearbeiten musst, um fortzufahren.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Klicke auf <strong>Schließen</strong>, um das Tab zu schließen, ohne die Änderungen zu speichern.</p>
</li>
<li>
<p>Klicke auf <strong>Abbrechen</strong>, um die Änderungen zu speichern oder weitere Anpassungen vorzunehmen.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn solche Warnhinweise für dein Benutzerkonto nicht mehr angezeigt werden sollen, deaktiviere die Funktion.</p>
</div>
<div class="paragraph instruction">
<p>Warnhinweise deaktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Mein Konto</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Persönliche Einstellungen » Allgemein</strong>.</p>
</li>
<li>
<p>Deaktiviere die Option <strong>Warnen, wenn Tabs offen sind und das Fenster geschlossen wird</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="120">11. Editoren verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der Standardeinstellung sind in allen Bereichen die Editoren <strong>Editor</strong>, <strong>Syntax-Editor</strong> und <strong>Textfeld</strong> aktiviert. Diese Editoren können im Menü <strong>Einrichtung » Einstellungen » Editoren » Tab: Bereiche</strong> für jeden Bereich deaktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Editoren deaktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Editoren » Tab: Bereiche</strong>.</p>
</li>
<li>
<p>Entferne das Häkchen neben den Editoren, die in der Dropdown-Liste des Bereichs nicht angezeigt werden sollen.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<div id="140" class="paragraph subhead">
<p>CSS des Editors einstellen</p>
</div>
<div class="paragraph">
<p>In der Standardeinstellung wird für den <a href="/webshop/webshop-einrichten/cms#webdesign-werkzeuge-editor">Editor</a> das <strong>CSSContent</strong> verwendet. Wenn dort z.B. ein Hintergrundbild verwendet wird und dieses bei der Bearbeitung im Editor stört, kannst du das CSS im Menü <strong>Einrichtung » Einstellungen » Editoren » Tab: CSS</strong>  anpassen. Alternativ steht mit dem <strong>Standard</strong>-CSS ein weißer Hintergrund zur Verfügung. Du hast auch die Möglichkeit, ein <strong>benutzerdefiniertes</strong> CSS zu erstellen, in dem du die Formatierung weiterer Inhalte, z.B. Schriften, individuell festlegst.</p>
</div>
<div class="paragraph">
<p>Um das CSS für den Editor einzustellen, öffne das Menü <strong>Einrichtung » Einstellungen » Editoren » Tab: CSS</strong>.</p>
</div>
<div class="paragraph instruction">
<p>CSS für den Editor einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Editoren » Tab: CSS</strong>.</p>
</li>
<li>
<p>Wähle das CSS. Beachte dazu die Erläuterungen in <a href="#tabelle-css-editoren">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-css-editoren" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Verfügbare CSS</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Wie im Webshop (CSSContent)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das <a href="https://knowledge.plentymarkets.com/webshop/webshop-einrichten/cms#webdesign-webdesign-bearbeiten-bestellvorgang-css" target="_blank" rel="noopener">Webshop-CSS</a> wird in den Editor geladen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ein einfaches Standard-CSS wird in den Editor geladen. Die Hintergrundfarbe ist weiß.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzerdefiniert</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das einfache Standard-CSS wird in einem Bearbeitungsfenster angezeigt und kann mit dem <a href="/webshop/webshop-einrichten/cms#webdesign-werkzeuge-syntax-editor">Syntax-Editor</a> angepasst werden. Bei Klick auf <strong>Zurücksetzen</strong> wird das CSS wieder auf das Standard-CSS zurückgesetzt.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>