<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Aufgaben verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Benutzerrechte für Backend-Benutzer vergeben</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Aufgabe erstellen</span></a></li>
<li><a href="#400"><span>1.3.</span><span> Aufgaben suchen</span></a></li>
<li><a href="#500"><span>1.4.</span><span> Aufgabe bearbeiten</span></a></li>
<li><a href="#550"><span>1.5.</span><span> Aufgaben auf dem Dashboard anzeigen</span></a></li>
</ul>
</li>
<li><a href="#600"><span>2.</span><span> Kalender verwalten</span></a>
<ul class="sectlevel2">
<li><a href="#650"><span>2.1.</span><span> Benutzerrechte für Backend-Benutzer vergeben</span></a></li>
<li><a href="#700"><span>2.2.</span><span> Backend-Benutzer als Eigner einstellen</span></a></li>
<li><a href="#800"><span>2.3.</span><span> Grundeinstellungen im Kalender vornehmen und Zugriffsrechte für Benutzer einstellen</span></a></li>
<li><a href="#900"><span>2.4.</span><span> Termin erstellen</span></a></li>
<li><a href="#1000"><span>2.5.</span><span> Termin bearbeiten</span></a></li>
<li><a href="#1100"><span>2.6.</span><span> Termin löschen</span></a></li>
<li><a href="#1200"><span>2.7.</span><span> Kalender mit externen Kalender-Tools synchronisieren</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Aufgaben und Kalender</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Erfahre auf dieser Handbuchseite, wie du <a href="/basics/arbeiten-mit-plentymarkets/aufgaben-und-kalender#100">Aufgaben</a> und <a href="/basics/arbeiten-mit-plentymarkets/aufgaben-und-kalender#600">Kalender</a> verwaltest.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">1. Aufgaben verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nutze das Menü <strong>plentymarkets Logo (Start) » Aufgaben</strong>, um Tätigkeiten für alle Benutzer des Systems zu verwalten, z.B. "Kunde xy anrufen". Du siehst den Fortschritt einer Aufgabe und kannst weitere Abläufe für dein Geschäft planen sowie interne Abläufe verbessern.</p>
</div>
<div class="paragraph">
<p>Du kannst Aufgaben nicht nur im Menü <strong>plentymarkets Logo (Start) » Aufgaben</strong> erstellen, sondern auch in einem Ticket im <a href="/crm/ticketsystem-nutzen#4000">Ticketsystem</a>. So kannst du z.B. zu einer telefonischen Kundenanfrage direkt eine Aufgabe erstellen. Aufgaben, die du im Menü <strong>CRM » Ticketsystem » Ticket öffnen » Tab: Aufgaben</strong> erstellst, sind mit dem Ticket verknüpft. Diese Verknüpfung wird auch in der Aufgabenübersicht im Menü <strong>plentymarkets Logo (Start) » Aufgaben</strong> angezeigt.</p>
</div>
<div class="sect2">
<h3 id="200">1.1. Benutzerrechte für Backend-Benutzer vergeben</h3>
<div class="paragraph">
<p>Nutzer vom Typ <strong>Backend</strong> sehen nur bestimmte Bereiche und Menüs in plentymarkets. Somit können sie nur eingeschränkt im System arbeiten. Sollen Mitarbeiter mit diesem Nutzertyp das Menü <strong>plentymarkets Logo (Start) » Aufgaben</strong> sehen können, muss ein Nutzer vom Typ <strong>Admin</strong> das im folgenden beschriebene Recht für diesen Benutzer vergeben.</p>
</div>
<div class="paragraph instruction">
<p>Sichtbarkeit für Backend-Benutzer einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Nutze die Suchfunktion (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>) und öffne den zu bearbeitenden Benutzer.</p>
</li>
<li>
<p>Klappe das Menü <strong>Berechtigungen: Start</strong> auf.</p>
</li>
<li>
<p>Wähle die Einstellung <strong>Aufgaben</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Aufgabe erstellen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um eine Aufgabe zu erstellen. Die Aufgaben-ID wird automatisch vergeben und kann nicht geändert werden.</p>
</div>
<div class="paragraph instruction">
<p>Aufgabe erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Aufgaben</strong>.<br>
→ <strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Aufgabe</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Tab <strong>Neue Aufgabe</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-aufgabe-erstellen">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-aufgabe-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Aufgabe erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Titel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Titel für die Aufgabe eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Priorität wählen. Die Prioritäten reichen von <strong>0 = grauer Stern</strong> bis <strong>5 = 2 gelbe Sterne</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fortschritt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Prozentsatz wählen. Dieser zeigt an, wie weit die Aufgabe fortgeschritten ist. Der Fortschritt muss je nach Fortschreiten der Aufgabe vom Bearbeiter manuell angepasst werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung wählen. Die Markierung hilft, Aufgaben später wiederzufinden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigner wählen. Der Eigner ist eine Pflichteinstellung. Der Eigner ist der Verantwortliche für die Aufgabe.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung der Aufgabe eingeben und Text ggf. formatieren.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="400">1.3. Aufgaben suchen</h3>
<div class="paragraph">
<p>Beim Öffnen des Menüs <strong>plentymarkets Logo (Start) » Aufgaben</strong> werden standardmäßig alle Aufgaben mit einem Fortschritt unter 100% des aktuell aktiven Benutzers angezeigt. Wenn du eine Aufgabe über das <a href="/crm/ticketsystem-nutzen#4000">Ticketsystem</a> erstellt hast, wird ebenfalls die Ticket-ID sowie der Tickettitel in der Übersicht angezeigt. Mit einem Klick auf die Ticket-ID gelangst du direkt zum Ticket.</p>
</div>
<div class="paragraph">
<p>Nutze die Suchfilter, um auch bei einer großen Anzahl an Aufgaben den Überblick zu behalten und gezielt Aufgaben zu suchen.</p>
</div>
<div class="paragraph instruction">
<p>Aufgaben suchen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Aufgaben</strong>.<br>
→ Alle eigenen unerledigten Aufgaben werden angezeigt, da beim Öffnen des Menüs standardmäßig der Filter für den Fortschritt auf <strong>&lt; 100%</strong> gesetzt und in der Dropdown-Liste <strong>Eigner</strong> der aktive Benutzer vorausgewählt ist.</p>
</li>
<li>
<p>Klicke auf <span class="icon"><i class="fa fa-undo" style="color:orange"></i></span>, um die Filter zu entfernen.</p>
</li>
<li>
<p>Wähle die Filter. Beachte dazu die Erläuterungen in <a href="#tabelle-aufgabe-suchen">Tabelle 2</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die Aufgaben, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
</ol>
</div>
<table id="tabelle-aufgabe-suchen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Aufgabe suchen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Titel/Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text eingeben, um nach diesem zu filtern. Es handelt sich um eine Volltextsuche, die den <strong>Titel</strong> und die <strong>Beschreibung</strong> der Aufgaben durchsucht. Mindestens 4 Zeichen für die Suche eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ID eingeben, um die Aufgabe mit dieser ID zu suchen. Die Aufgaben-IDs werden automatisch vom System vergeben und sind fortlaufend. Die ID kann nicht geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ticket-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ticket-ID eingeben, um die Aufgabe(n) zu suchen, die zu diesem Ticket gehören.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Fortschritt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Operator und Fortschritt wählen. So lassen sich z.B. alle Aufgaben suchen, die bereits zu 60 % oder mehr erledigt sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Priorität</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Operator und Priorität wählen. So lassen sich z.B. alle Aufgaben suchen, die Priorität 2 oder höher haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datum der Erstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Operator und Datum wählen. So lassen sich z.B. alle Aufgaben suchen, die vor einem bestimmten Tag angelegt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Eigner</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigner wählen, um nur die Aufgaben dieses Eigners zu suchen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Markierung wählen, um nur Aufgaben mit dieser Markierung zu suchen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="500">1.4. Aufgabe bearbeiten</h3>
<div class="paragraph">
<p>Du kannst Aufgaben jederzeit bearbeiten, um z.B. den Fortschrittsbalken anzupassen oder die Beschreibung zu ergänzen.</p>
</div>
<div class="paragraph instruction">
<p>Aufgabe bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Aufgaben</strong>.<br>
→ Alle eigenen unerledigten Aufgaben werden angezeigt, da beim Öffnen des Menüs standardmäßig der Filter für den Fortschritt auf <strong>&lt; 100%</strong> gesetzt und in der Dropdown-Liste <strong>Eigner</strong> der aktive Benutzer vorausgewählt ist.<br></p>
</li>
<li>
<p>Klicke auf <span class="icon"><i class="fa fa-undo" style="color:orange"></i></span>, um die Filter zu entfernen.</p>
</li>
<li>
<p>Wähle die Filter. Beachte dazu die Erläuterungen in <a href="#tabelle-aufgabe-suchen">Tabelle 2</a> im Kapitel <a href="/basics/arbeiten-mit-plentymarkets/aufgaben-und-kalender#400">Aufgabe suchen</a>.<br>
→ Die Aufgaben, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
<li>
<p>Klicke in die Zeile der Aufgabe.<br>
→ Die Aufgabe wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-aufgabe-erstellen">Tabelle 1</a> im Kapitel <a href="/basics/arbeiten-mit-plentymarkets/aufgaben-und-kalender#300">Aufgabe erstellen</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="550">1.5. Aufgaben auf dem Dashboard anzeigen</h3>
<div class="paragraph">
<p>Du kannst deine unerledigten Aufgaben auf dem Dashboard anzeigen lassen. Auf diese Weise siehst du direkt zu Arbeitsbeginn, welche Aufgaben noch erledigt werden müssen.</p>
</div>
<div class="paragraph">
<p>Setze auf dem Dashboard direkt bei der Aufgabe ein Häkchen, wenn du die Aufgabe erledigt hast. Die Aufgabe wird dann auch im Menü <strong>plentymarkets Logo (Start) » Aufgaben</strong> aktualisiert und erhält den Status <strong>100%</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Aufgaben auf dem Dashboard anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne dein plentymarkets System.<br>
→ Das Dashboard wird angezeigt.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste das Element <strong>Meine Aufgaben</strong>.<br>
→ Der Bereich <strong>Meine Aufgaben</strong> wird dir ab sofort auf dem Dashboard angezeigt, wenn du dein plentymarkets System öffnest.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mit einem Klick auf <strong>ToDo eingeben</strong> im Bereich <strong>Meine Aufgaben</strong> gelangst du direkt in das Menü <strong>plentymarkets Logo (Start) » Aufgaben</strong> und kannst dort eine neue <a href="/basics/arbeiten-mit-plentymarkets/aufgaben-und-kalender#300">Aufgabe erstellen</a>.</p>
</div>
<div class="paragraph">
<p>Welche Elemente du außerdem auf dem Dashboard anzeigen kannst, ist auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/benutzerkonto-personalisieren">Benutzerkonto personalisieren</a> im Kapitel <a href="/basics/arbeiten-mit-plentymarkets/benutzerkonto-personalisieren#70">Dashboard personalisieren</a> beschrieben.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">2. Kalender verwalten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Kalender im Menü <strong>plentymarkets Logo (Start) » Kalender</strong> deines plentymarkets Systems bietet dir die Möglichkeit, Termine zu planen, um deine zeitliche Organisation und die deiner Mitarbeiter zu steuern und interne Abläufe zu verbessern.</p>
</div>
<div class="paragraph">
<p>Der Kalender enthält die eigenen Termine sowie die Termine der Benutzer, deren Kalender für den angemeldeten Benutzer sichtbar gestellt und im <strong>Filter</strong> aktiviert wurden.</p>
</div>
<div class="paragraph">
<p>Du kannst zwischen der Anzeige des Tages, der Woche und des Monats wählen. Durch Klick auf die Schaltfläche <strong>Heute</strong> wechselst du zurück zur Ansicht des aktuellen Tages.</p>
</div>
<div class="paragraph">
<p>Im Filter wird eine Liste der Benutzer angezeigt, für die der angemeldete Benutzer mindestens Leserechte hat. Durch Setzen eines Häkchens werden die Termine dieses Benutzers im Kalender angezeigt. Du kannst die Kalender mehrerer Benutzer gleichzeitig anzeigen.</p>
</div>
<div class="sect2">
<h3 id="650">2.1. Benutzerrechte für Backend-Benutzer vergeben</h3>
<div class="paragraph">
<p>Nutzer vom Typ <strong>Backend</strong> sehen nur bestimmte Bereiche und Menüs in plentymarkets. Somit können sie nur eingeschränkt im System arbeiten. Sollen Mitarbeiter mit diesem Nutzertyp das Menü <strong>plentymarkets Logo (Start) » Kalender</strong> sehen können, muss ein Nutzer vom Typ <strong>Admin</strong> das im folgenden beschriebene Recht für diesen Benutzer vergeben.</p>
</div>
<div class="paragraph instruction">
<p>Sichtbarkeit für Backend-Benutzer einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Nutze die Suchfunktion (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>) und öffne den zu bearbeitenden Benutzer.</p>
</li>
<li>
<p>Klappe das Menü <strong>Berechtigungen: Start</strong> auf.</p>
</li>
<li>
<p>Wähle die Einstellung <strong>Kalender</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="700">2.2. Backend-Benutzer als Eigner einstellen</h3>
<div class="paragraph">
<p>Für Personen mit dem Zugang <strong>Backend</strong> muss die Kalendernutzung wie im Folgenden beschrieben aktiviert werden. Für Personen mit dem Zugang <strong>REST-API</strong> ist keine Aktivierung des Kalenders möglich.</p>
</div>
<div class="paragraph">
<p>Die Berechtigung kann im Tab <strong>Eigner</strong> eines Benutzerkontos jederzeit wieder deaktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Backend-Benutzer als Eigner einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffne das Benutzerkonto mit dem Zugang <strong>Backend</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Eigner</strong>.</p>
</li>
<li>
<p>Aktiviere die Option <strong>Kalender</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das neue Tab <strong>Kalender</strong> ist sichtbar und kann wie im nächsten Kapitel beschrieben eingerichtet werden.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="800">2.3. Grundeinstellungen im Kalender vornehmen und Zugriffsrechte für Benutzer einstellen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um Grundeinstellungen im Kalender wie z.B. die Vergabe des Passwort vorzunehmen und die Zugriffsrechte für Benutzer einzustellen. Du kannst zwischen den Einstellungen <strong>Kein Zugriff</strong>, <strong>Lesen</strong> und <strong>Lesen &amp; Schreiben</strong> wählen.</p>
</div>
<div class="paragraph instruction">
<p>Grundeinstellungen im Kalender vornehmen und Zugriffsrechte für Benutzer einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffne den Benutzer.</p>
</li>
<li>
<p>Öffne das Tab <strong>Kalender</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-kalender-grundeinstellungen">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-kalender-grundeinstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Grundeinstellungen im Kalender vornehmen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Serveradresse</strong>;<br>
<strong>Serverpfad</strong>;<br>
<strong>Port</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wird automatisch vom System gespeichert.<br>
Die Server-Adresse und der Server-Pfad sind für die Konfiguration eines externen Kalender-Tools (z.B. Google Calendar) erforderlich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Neues Passwort</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beim Einrichten des Kalender-Accounts wird ein Passwort benötigt, das von externen Kalender-Tools abgefragt wird. Das Passwort kann jederzeit geändert werden.<br>
<strong><em>Wichtig:</em></strong> Das Passwort wird nach dem Speichern nicht mehr angezeigt und kann nicht wiederhergestellt werden.<br>
Bei Verwendung externer Kalender-Tools muss bei einer Änderung des Passworts dort das Passwort ggf. erneut eingegeben werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Passwort wiederholen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zuvor eingegebenes neues Passwort durch erneute Eingabe bestätigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Die Beschreibung wird bei den Informationen bzw. Einstellungen des Kalenders angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Berechtigung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welche Benutzer Zugriff auf den Kalender dieses Eigners haben sollen und welche Zugriffsrechte diese Benutzer haben sollen. Um den Kalender sehen zu können, müssen Benutzer mindestens Leserechte haben.<br>
<strong>Kein Zugriff</strong> = Der Benutzer hat weder Lese- noch Schreibzugriff auf den Kalender dieses Eigners.<br>
<strong>Lesen</strong> = Der Kalender ist für den Benutzer sichtbar.<br>
<strong>Schreiben</strong> = Der Benutzer darf Termine im Kalender bearbeiten und löschen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="900">2.4. Termin erstellen</h3>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um einen Termin zu erstellen. Abhängig von deinen Zugriffsrechten, die gemäß <a href="#tabelle-kalender-grundeinstellungen">Tabelle 3</a> eingestellt werden, kannst du auch Termine für andere Benutzer erstellen. Du kannst nur Termine für Benutzer erstellen, für die du Schreibrechte hast. Benutzer, für die du nicht über Schreibrechte verfügst, stehen beim Erstellen eines Termins nicht zur Auswahl.</p>
</div>
<div class="paragraph instruction">
<p>Termin erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Kalender</strong>.<br>
→ <strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.</p>
</li>
<li>
<p>Wähle den Zeitpunkt des Termins mit einem Klick in das Feld bei der Uhrzeit.<br>
→ <strong><em>Tipp:</em></strong> Wähle den Zeitraum des Termins mit einem Klick in das Feld der Startzeit und ziehe den Cursor bis zur Endzeit des Termins.</p>
</li>
<li>
<p>Nimm die Einstellungen im Bereich <strong>Termininformationen</strong> vor. Beachte dazu die Erläuterungen in <a href="#tabelle-termin-erstellen">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-termin-erstellen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Termin erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Titel</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wird in der Kalenderübersicht angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ganztägig</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Legt fest, dass der Termin den ganzen Tag dauert. Termine werden dann in der Tages- und Wochenansicht in der oberen Leiste angezeigt und der Kalender bleibt übersichtlich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Von / Bis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum und Uhrzeit sind voreingestellt, können jedoch angepasst werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Art des Termins aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kalender</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, für welchen Eigner der Termin angelegt werden soll.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschreibung eingeben, z.B. Details zum Termin. Diese Beschreibung wird auch anderen Benutzern mit Zugriffsrechten auf den Kalender in den Termininformationen angezeigt.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="1000">2.5. Termin bearbeiten</h3>
<div class="paragraph">
<p>Klicke auf einen Termin, um die Termininformationen zu öffnen und diese zu ändern.</p>
</div>
<div class="paragraph instruction">
<p>Termin bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Kalender</strong>.</p>
</li>
<li>
<p>Klicke auf den Termin, den du ändern möchtest.<br>
→ Das Fenster <strong>Termininformationen</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Änderungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-termin-erstellen">Tabelle 4</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1100">2.6. Termin löschen</h3>
<div class="paragraph">
<p>Lösche Termine, wenn diese fälschlicherweise erstellt wurden oder die Termine hinfällig geworden sind.</p>
</div>
<div class="paragraph instruction">
<p>Termin löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Kalender</strong>.</p>
</li>
<li>
<p>Klicke auf den Termin, den du löschen möchtest.<br>
→ Das Fenster <strong>Termininformationen</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf <strong>Löschen</strong> (<span class="icon"><i class="fa fa-minus-square" style="color:red"></i></span>).<br>
→ Der Termin wird gelöscht und aus der Kalenderübersicht entfernt.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="1200">2.7. Kalender mit externen Kalender-Tools synchronisieren</h3>
<div class="paragraph">
<p>Über eine <a href="https://de.wikipedia.org/wiki/CalDAV" target="_blank" rel="noopener">CalDAV</a>-Schnittstelle synchronisierst du deinen Kalender mit externen Kalender-Tools. Du kannst den Kalender z.B. mit dem Mac-Kalender oder iPad-Kalender synchronisieren.</p>
</div>
<div class="paragraph">
<p>Im Benutzerprofil des Benutzers muss dazu wie im Kapitel <a href="/basics/arbeiten-mit-plentymarkets/aufgaben-und-kalender#700">Backend-Benutzer als Eigner einstellen</a> beschrieben im Tab <strong>Eigner</strong> die Option <strong>Kalender</strong> aktiviert sein. Du benötigst außerdem die Einstellungen des Benutzers, die im Tab <strong>Kalender</strong> des Benutzers gespeichert sind.</p>
</div>
<div class="paragraph">
<p>Informationen darüber, wie du deinen plentymarkets Kalender mit externen Kalender-Tools synchronisierst, findest du in der Dokumentation des externen Kalender-Tools.</p>
</div>
</div>
</div>
</div>
</main>