<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Backend-Bereiche mit URLs direkt aufrufen</span></a></li>
<li><a href="#_einen_backend_bereich_mit_einer_url_aufrufen"><span>2.</span><span> Einen Backend-Bereich mit einer URL aufrufen</span></a></li>
<li><a href="#20"><span>3.</span><span> Abgesicherter Modus</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Backend-URLs</h1><div class="sect1">
<h2 id="10">1. Backend-Bereiche mit URLs direkt aufrufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Einige Bereiche des Backends können mithilfe von UI-Aktionen direkt aufgerufen werden. Das spart Zeit, da eine Vielzahl von Klicks im Backend mit einem einzigen Seitenaufruf ersetzt wird. In diesem Abschnitt sind die Variablen und Parameter aufgeführt, die hierfür verwendet werden können.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Hinweis</div>
<div class="paragraph">
<p>Du musst eingeloggt sein, um einen Backend-Bereich mit einer URL aufrufen zu können. Beachte außerdem die Groß- und Kleinschreibung in der URL.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_einen_backend_bereich_mit_einer_url_aufrufen">2. Einen Backend-Bereich mit einer URL aufrufen</h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib als ersten Teil des Pfads <a href="https://plentymarkets-cloud-de.com" class="bare">https://plentymarkets-cloud-de.com</a> ein.</p>
</li>
<li>
<p>Trage nach einem <strong>/</strong> deine plenty-ID ein.</p>
</li>
<li>
<p>Fahre mit der Abfragezeichenfolge fort. Diese beginnt mit einem <strong>?</strong>.</p>
</li>
<li>
<p>Füge die UI-Aktion mit <strong>uiAction=</strong> hinzu.</p>
</li>
<li>
<p>Trage den Schlüssel für die UI-Aktion und die Parameter mit den entsprechenden IDs ein. Beachte die Erläuterungen in <a href="#tabelle-keys-ui-actions-parameter">Tabelle 1</a>.</p>
</li>
<li>
<p>Rufe die URL mit allen Informationen auf, um in den gewünschten Backend-Bereich zu gelangen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispiel</div>
<div class="paragraph">
<p>Um die Varianten-Detailansicht zu öffnen, muss sich der Pfad aus den folgenden Parametern zusammensetzen:<br>
plentymarkets-cloud-de.com/1234?uiAction=ITEM_VARIATION_DETAIL&amp;itemId=102&amp;variationId=1111</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<table id="tabelle-keys-ui-actions-parameter" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Keys für UI-Actions und Parameter</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Schlüssel</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ITEM_DETAIL</strong><br>
 <strong>itemId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet die Artikeldetailansicht für die angegebene Artikel-ID (itemId ist Pflichtparameter).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ITEM_VARIATION_DETAIL</strong><br>
 <strong>itemId</strong><br>
 <strong>variationId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet die Variantendetailansicht für die angegebene Artikel-ID und Varianten-ID (itemId und variationId sind Pflichtparameter).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ORDER_DETAIL</strong><br>
 <strong>orderId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet die Auftragsdetailansicht für die angegebene Auftrags-ID (orderId ist Pflichtparameter).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>REORDER_DETAIL</strong><br>
 <strong>reorderId</strong><br>
 <strong>itemId</strong><br>
 <strong>reorderItemId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet die Nachbestellungsdetailansicht für die angegebene Nachbestellungs-ID, die Artikel-ID oder die Artikel-ID einer Nachbestellung (Hier darf nur einer der drei Parameter angegeben werden).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TICKET_DETAIL_VIEW</strong><br>
 <strong>ticketId</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet die Ticketdetailansicht für die angegebene Ticket-ID (ticketId ist Pflichtparameter).</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CUSTOMER_DETAIL</strong><br>
 <strong>customerID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet die Kundendetailansicht für die angegebene Kontakt-ID (customerId ist Pflichtparameter).</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">3. Abgesicherter Modus</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im abgesicherten Modus kannst du das Backend mit deaktivierten Plugins aufrufen. Dies kann notwendig sein, wenn du nach der Installation oder dem Aktualisieren eines Plugins beim regulären Einloggen eine Fehlermeldung erhältst. Im abgesicherten Modus kannst du das Plugin auf <strong>Inaktiv</strong> setzen.</p>
</div>
<div class="paragraph">
<p>Wenn du dich im abgesicherten Modus einloggen möchtest, verwende die URL <a href="https://plentymarkets-cloud-de.com/?safemode=1" class="bare">https://plentymarkets-cloud-de.com/?safemode=1</a>.</p>
</div>
</div>
</div>
</main>