<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Benutzer erstellen</span></a></li>
<li><a href="#20"><span>2.</span><span> Benutzer bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#30"><span>2.1.</span><span> Stammdaten pflegen</span></a></li>
<li><a href="#40"><span>2.2.</span><span> Eigner aktivieren</span></a></li>
<li><a href="#42"><span>2.3.</span><span> E-Mail-Postfächer verwalten</span></a>
<ul class="sectlevel3">
<li><a href="#44"><span>2.3.1.</span><span> Postfach erstellen</span></a></li>
<li><a href="#_zugangsdaten_für_mailbox_org_server_in_plentymarkets_hinterlegen"><span>2.3.2.</span><span> Zugangsdaten für mailbox.org-Server in plentymarkets hinterlegen</span></a></li>
<li><a href="#46"><span>2.3.3.</span><span> Zusätzliche E-Mail-Adresse (Alias) für ein Postfach erstellen</span></a></li>
<li><a href="#46a"><span>2.3.4.</span><span> Grundtarif ändern</span></a></li>
<li><a href="#47"><span>2.3.5.</span><span> Postfach löschen</span></a></li>
</ul>
</li>
<li><a href="#45"><span>2.4.</span><span> E-Mail-Provider wechseln</span></a></li>
<li><a href="#50"><span>2.5.</span><span> Weitere Benutzereinstellungen</span></a></li>
</ul>
</li>
<li><a href="#85"><span>3.</span><span> Mehrere Benutzer bearbeiten</span></a></li>
<li><a href="#90"><span>4.</span><span> Berechtigungen zuordnen</span></a>
<ul class="sectlevel2">
<li><a href="#100"><span>4.1.</span><span> Sichtbarkeiten festlegen</span></a></li>
<li><a href="#110"><span>4.2.</span><span> Menüs freischalten</span></a></li>
<li><a href="#115"><span>4.3.</span><span> REST API-Berechtigungen aktivieren</span></a></li>
<li><a href="#120"><span>4.4.</span><span> SOAP API-Calls aktivieren</span></a></li>
<li><a href="#130"><span>4.5.</span><span> Berechtigungen übertragen</span></a></li>
<li><a href="#140"><span>4.6.</span><span> App-Berechtigungen aktivieren</span></a></li>
<li><a href="#145"><span>4.7.</span><span> Login entsperren</span></a></li>
</ul>
</li>
<li><a href="#70"><span>5.</span><span> Rollen erstellen</span></a></li>
<li><a href="#80"><span>6.</span><span> Rollen bearbeiten</span></a></li>
<li><a href="#_rollen_kopieren"><span>7.</span><span> Rollen kopieren</span></a></li>
<li><a href="#_e_mail_an_alle_benutzer_einer_rolle_senden"><span>8.</span><span> E-Mail an alle Benutzer einer Rolle senden</span></a></li>
<li><a href="#60"><span>9.</span><span> Benutzer suchen</span></a></li>
<li><a href="#150"><span>10.</span><span> Rollen und Prozesse verknüpfen</span></a></li>
<li><a href="#_konto_für_das_plentymarkets_forum_erstellen"><span>11.</span><span> Konto für das plentymarkets Forum erstellen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Benutzer verwalten</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>In der Benutzerverwaltung erstellen Sie neue Benutzer und bearbeiten bestehende Benutzerkonten. Darüber hinaus verknüpfen Sie Benutzer mit Rollen und Klassen, die je nach Workflow an weiteren Stellen im System von Bedeutung sind. Mit Rollen gruppieren Sie Benutzer und vereinfachen die Zuordnung gleicher Berechtigungen zu mehreren Benutzerkonten. Mit Klassen wiederum verteilen Sie Berechtigungen an Benutzer und Schnittstellen. Einem Benutzer der Klasse API z.B. weisen Sie individuell API-Calls zu.</p>
</div>
<div class="paragraph">
<p>In jedem plentymarkets System sind fünf Benutzer kostenfrei enthalten. Weitere Benutzerkonten buchen Sie im <a href="http://www.plentymarkets.eu/preise/"><strong>Konfigurator</strong></a> hinzu.</p>
</div>
<div class="paragraph">
<p>Eine Einführung in das Menü <strong>Benutzer</strong> erhalten Sie im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/77440850" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Benutzer erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bei der Erstverwendung Ihres Systems ist bereits ein Standardbenutzer der Klasse <strong>Admin</strong>, also mit Administratorrechten, vorhanden. Sie benötigen mindestens einen Admin-Benutzer, erstellen Sie deshalb entweder einen neuen Benutzer der Klasse <strong>Admin</strong> und löschen Sie danach den Standardbenutzer oder bearbeiten Sie das vorhandene Benutzerkonto. Im Folgenden wird beschrieben, wie Sie Benutzer einer beliebigen Klasse erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Neuen Benutzer erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neu</strong>.<br>
→ Das Fenster <strong>Neuen Benutzer anlegen</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie den <strong>Benutzernamen</strong>, den <strong>realen Namen</strong> und das <strong>Passwort</strong> ein.</p>
</li>
<li>
<p>Wiederholen Sie das Passwort.</p>
</li>
<li>
<p>Geben Sie die E-Mail-Adresse des Benutzers ein, damit er Benachrichtigungen des Systems empfängt.</p>
</li>
<li>
<p>Wählen Sie eine <strong>Benutzerklasse</strong>. Beachten Sie dazu die Erläuterungen in Tabelle 1.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Der Benutzername darf kein Leerzeichen enthalten und muss mindestens 5 Zeichen lang sein.</p>
</div>
<div class="paragraph">
<p>Mit einen Klick auf <strong>Mein Konto</strong> gelangen Sie direkt in Ihr Benutzerkonto.</p>
</div>
<div class="paragraph">
<p>Die Benutzerklassen sind vorgegeben und die Einstellungen der Klassen sind nicht änderbar. Welche Berechtigungen bei Klassen voreingestellt sind und welche Sie noch individuell am Benutzer einstellen können, finden Sie in dieser Tabelle:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Übersicht der verfügbaren Benutzerklassen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Klasse</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Admin</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Klasse, die über alle Berechtigungen ohne Einschränkung verfügt und mindestens einem Benutzer zugeordnet werden muss, da nur ein Admin weitere Benutzer uneingeschränkt erstellen, verwalten und bearbeiten kann. Bei Verwendung mehrerer Admin-Konten sind diese gleichberechtigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Variabel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Klasse, für die im Benutzerkonto unter <strong>Tab: Berechtigung</strong><a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten#100"><strong>Bereiche</strong></a> und <a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten#110"><strong>Funktionen</strong></a> freigeschaltet werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Callcenter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Klasse mit Berechtigungen für folgende Bereiche:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Startseite</p>
</li>
<li>
<p>Kalender</p>
</li>
<li>
<p>Ticketsystem (Tickets öffnen, eBay-Nachrichten synchronisieren)</p>
</li>
<li>
<p>Aufträge suchen und bearbeiten</p>
</li>
<li>
<p>Neue Aufträge erstellen</p>
</li>
<li>
<p>Kunden bearbeiten</p>
</li>
<li>
<p>Kundenkarten</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>API</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Klasse, für die im Benutzerkonto <a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten#120"><strong>API-Calls</strong></a> freigeschaltet werden. Die API-Calls werden dann einzeln aktiviert. Es werden dem Benutzer also nicht pauschal alle API-Calls freigeschaltet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Logistik</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Klasse mit Berechtigungen für folgende Bereiche:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Startseite</p>
</li>
<li>
<p>Kalender</p>
</li>
<li>
<p>Warenbestände suchen und bearbeiten</p>
</li>
<li>
<p>Wareneingänge suchen und bearbeiten</p>
</li>
<li>
<p>Warenberechnung</p>
</li>
<li>
<p>Datenimport und -export</p>
</li>
<li>
<p>Lagerort-Verwaltung</p>
</li>
<li>
<p>Aufträge suchen und bearbeiten</p>
</li>
<li>
<p>Fulfillment</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Blog</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Klasse mit Berechtigungen für folgende Bereiche:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Startseite</p>
</li>
<li>
<p>Kalender</p>
</li>
<li>
<p>Blog</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Newsletter2Go</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Klasse, die automatisch für die Einrichtung einer <strong><a href="/crm/newsletter-versenden#2100">Newsletter2Go</a></strong>-Schnittstelle verwendet wird.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Benutzer bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem ein Benutzer erstellt wurde, wird das Konto in der Benutzerübersicht hinzugefügt. Benutzer werden dort alphabetisch aufgelistet. Wählen Sie einen Benutzer aus, um Einstellungen an dessen Konto vorzunehmen. Die Anzahl der Einstellungen hängt zum einen von Ihrer Benutzerklasse und zum anderen von der Benutzerklasse des zu bearbeitenden Benutzers ab. Mehrere Benutzer gleichzeitig bearbeiten Sie per <strong>Gruppenfunktion</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerkonto bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Benutzer öffnen</strong>.<br>
→ Der Benutzer wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Nehmen Sie Änderungen und Einstellungen gemäß Tabelle 2 vor.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Passwort ist gespeichert</div>
<div class="paragraph">
<p>Das beim Erstellen des Benutzers eingegebene Passwort ist im Bearbeitungsmodus nicht sichtbar, ist aber gespeichert. Sie müssen es beim Bearbeiten des Benutzers nicht erneut eingeben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="30">2.1. Stammdaten pflegen</h3>
<div class="paragraph">
<p>Im Tab <strong>Stammdaten</strong> nehmen Sie Änderungen und Einstellungen an den Benutzerdaten eines Kontos vor. <strong>Benutzername</strong>, <strong>IP-Beschränkung</strong>, <strong>Benutzerklasse</strong> und <strong>Rollen</strong> können nur von Benutzern mit Administratorrechten geändert werden. Alle anderen Stammdaten kann auch ein Benutzer in seinem eigenen Konto anpassen. Zudem ist das Sperren eines Benutzerkontos in diesem Tab möglich.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Tab <strong>Stammdaten</strong> eines Benutzers</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Titelzeile</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>In der Titelzeile werden <strong>Benutzer-ID</strong>, <strong>Benutzername</strong> sowie <strong>Datum</strong> und <strong>Uhrzeit der letzten Änderung</strong> an dem Benutzerkonto angezeigt.<br>
Die Benutzer-ID ist eine eindeutige Identifikationsnummer des Benutzers, die vom System vergeben wird und nicht änderbar ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Benutzername</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name für den Benutzer ohne Leerzeichen eingeben. Der Name ist ein Pflichteintrag, der für den Login benötigt wird. Der Benutzername darf kein Leerzeichen enthalten und muss mindestens 5 Zeichen lang sein.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Realer Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Realer Name des Benutzers, der in der Kopfzeile des plentymarkets Administrationsbereichs angezeigt wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>E-Mail</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>E-Mail-Adresse des Benutzers eingeben. Diese ist u.a. für Benachrichtigungen des Systems, Benachrichtigungen aus Ereignisaktionen und auch für die Gruppenkommunikation innerhalb des Systems wichtig.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Google Mail</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bei Verwendung von Gmail, hier die Gmail-Adresse des Benutzers eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Skype-Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bei Verwendung von Skype, hier den Skypenamen des Benutzers eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Farbe</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Im Bearbeitungsfenster eine Farbe durch Verschieben der Farbauswahl festlegen, einen Hexadezimalwert oder RGB-Werte eingeben. Die Farbe erleichtert die Identifikation des Benutzers in anderen Bereichen, z.B. im <a href="/basics/arbeiten-mit-plentymarkets/kalender"><strong>Kalender</strong></a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zeitzone</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeitzone des Benutzers wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bild-URL</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bild-URL eingeben, um z.B. einen Platzhalter für ein Foto für Blogbeiträge zu hinterlegen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>UI-Sprache</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Sprache für den Admin-Bereich. Diese Sprache wird als Standard beim Login verwendet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>IP-Beschränkung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>IP-Adresse des Benutzerrechners eingeben, damit sich dieser nur über diese IP-Adresse in das plentymarkets System einloggt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Benutzerklasse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Benutzerklasse des Benutzers wählen. Es stehen die Klassen <strong>Admin</strong>, <strong>Variabel</strong>, <strong>Callcenter</strong>, <strong>API</strong>, <strong>Logistik</strong>, <strong>Blog</strong> und <strong>Newsletter2Go</strong> zur Verfügung.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rollen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Rollen des Benutzers wählen. Damit Rollen zur Auswahl stehen, müssen zuvor <a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten#70"><strong>Rollen</strong></a> erstellt werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Neues Passwort</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Neues Passwort eingeben, um dem Benutzer ein neues Passwort zu erteilen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Passwort wiederholen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Passwort noch einmal eingeben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Gesperrt</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aktivieren, um den Benutzer zu sperren. Der Benutzer kann sich dann nicht mehr in das System einloggen.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Sperrung des Kontos bzw. Systems</div>
<div class="paragraph">
<p>Die maximale Anzahl der Login-Versuche beträgt 5 pro Benutzer oder 25 pro IP-Adresse. Wenn die maximale Anzahl der Login-Versuche überschritten wurde, erscheint folgende Meldung: Die Anzahl der fehlerhaften Login-Versuche wurde überschritten. Ihr Konto wurde vorübergehend gesperrt. In diesem Fall ist ein erneuter Login-Versuch erst nach 24 Stunden wieder möglich.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="40">2.2. Eigner aktivieren</h3>
<div class="paragraph">
<p>Sie legen im Tab <strong>Eigner</strong> fest, in welchen Bereichen der Benutzer als Eigner verfügbar sein soll. Wenn Sie z.B. einen Kalender erstellen, müssen Sie für den Kalender Eigner einrichten. Aktivieren Sie den Bereich <strong>Kalender</strong> im Tab <strong>Eigner</strong>.</p>
</div>
<div class="paragraph instruction">
<p>Benutzer als Eigner aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffnen Sie einen Benutzer.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Eigner</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Bereiche, in denen der Benutzer als Eigner verfügbar sein soll.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="42">2.3. E-Mail-Postfächer verwalten</h3>
<div class="paragraph">
<p>Wenn Sie Ihre Domains von plentymarkets verwalten lassen, können Sie als Benutzer mit Admin-Rechten im Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten » Tab: E-Mail</strong> E-Mail-Postfächer für Systembenutzer erstellen und verwalten. Diese E-Mail-Postfächer werden bei einem Drittanbieter, dem externen E-Mail-Provider <strong><a href="https://mailbox.org/business/" target="_blank">mailbox.org</a></strong>, angelegt und von diesem Drittanbieter gehostet. Nachfolgend wird beschrieben, wie Sie E-Mail-Postfächer und zusätzliche E-Mail-Adressen pro Postfach (Alias) erstellen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">E-Mail-Postfächer anderer Provider</div>
<div class="paragraph">
<p>Die hier beschriebene Einrichtung gilt nur für plentymarkets Kunden, die ihre Domains von plentymarkets verwalten lassen und die den externen Dienstleister <strong><a href="https://mailbox.org/business/" target="_blank">mailbox.org</a></strong> nutzen möchten. Wenn Sie Ihre E-Mail-Konten über einen anderen Provider verwalten und darüber E-Mails durch Ihr plentymarkets System versenden möchten, ist diese Einrichtung nicht erforderlich. Beachten Sie aber auch dann das Kapitel <strong><a href="/crm/e-mails-versenden#100">E-Mail-Server-Zugangsdaten speichern</a></strong> auf der Handbuchseite <strong><a href="/crm/e-mails-versenden">E-Mails versenden</a></strong>.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect3">
<h4 id="44">2.3.1. Postfach erstellen</h4>
<div class="paragraph">
<p>Legen Sie für Benutzer, die ein eigenes Postfach bei mailbox.org erhalten sollen, wie unten beschrieben ein Postfach an. Sie benötigen Admin-Rechte, um Postfächer und Alias anzulegen.</p>
</div>
<div class="paragraph instruction">
<p>Neues Postfach erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Mein Konto</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>E-Mail</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neu</strong>.<br>
→ Das Fenster <strong>Postfach erstellen</strong> wird angezeigt.</p>
</li>
<li>
<p>Wählen Sie als E-Mail-Adresstyp <strong>Postfach</strong>.</p>
</li>
<li>
<p>Nehmen Sie die weiteren Einstellungen vor. Beachten Sie dazu Tabelle 3.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Postfach erstellen</strong>.<br>
→ Das E-Mail-Postfach wird beim externen Dienstleister mailbox.org erstellt.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Postfach erstellen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>E-Mail-Adresstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>E-Mail-Adresstyp <strong>Postfach</strong> wählen.<br>
<strong>Postfach</strong> = Legt ein neues E-Mail-Postfach an.<br>
<strong>Alias</strong> = Legt eine zusätzliche E-Mail-Adresse für ein bestehendes Postfach an. Die Auswahl des Postfachs erfolgt über die Option <strong>Zielpostfach</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>E-Mail-Adresse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>E-Mail-Adresse eingeben, die dem Postfach zugeordnet werden soll. Lokalen Teil der E-Mail-Adresse vor dem @ eingeben. Domain-Teil aus der Dropdown-Liste wählen.<br>
<strong><em>Hinweis:</em></strong> Für Testdomains, z.B. @plenty-test-drive, sowie für externe Domains, die nicht über plentymarkets verwaltet werden, können keine Postfächer angelegt werden.<br>
<strong><em>Hinweis:</em></strong> Nach dem Löschen einer E-Mail-Adresse ist diese Adresse 48 Stunden gesperrt. Erst nach Ablauf dieser Frist kann diese E-Mail-Adresse erneut vergeben werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Vorname</strong><br>
<strong>Nachname</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Vornamen und Nachnamen des Benutzers eingeben. Dieser Name wird mit der E-Mail-Adresse als Absender angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Systembenutzer</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Systembenutzer wählen, dem das Postfach zugewiesen werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Weiterleitungen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wenn E-Mails, die an dieses Postfach gesendet werden, an ein anderes Postfach weitergeleitet werden sollen, eine oder mehrere E-Mail-Adressen eingeben. Mehrere E-Mail-Adressen durch Komma getrennt hinterlegen, z.B. <a href="mailto:kunde@ihredomain.de">kunde@ihredomain.de</a>,<a href="mailto:consultant@ihredomain.de">consultant@ihredomain.de</a>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>E-Mails in Postfach speichern</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Option wird wählbar, wenn eine Weiterleitung eingerichtet wird.<br>
Aktiviert = E-Mails werden an die Ziel-E-Mail-Adressen weitergeleitet. Kopien der weitergeleiteten E-Mails werden auch in diesem Postfach gespeichert.<br>
Nicht aktiviert = E-Mails werden direkt an die Ziel-E-Mail-Adressen weitergeleitet. In diesem Postfach werden keine E-Mails gespeichert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Passwort</strong>;<br>
<strong>Passwort wiederholen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Passwort eingeben und durch erneute Eingabe bestätigen.<br>
<strong><em>Hinweis:</em></strong> Passwort muss aus mindestens 8 Zeichen und einer Kombination aus Großbuchstaben, Kleinbuchstaben und Zahlen bestehen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Tarif</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Tarif wählen. Preise gelten zzgl. MwSt. Ihr plentymarkets Vertrag wird nach dem Anlegen des Postfachs angepasst.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="_zugangsdaten_für_mailbox_org_server_in_plentymarkets_hinterlegen">2.3.2. Zugangsdaten für mailbox.org-Server in plentymarkets hinterlegen</h4>
<div class="paragraph">
<p>Damit plentymarkets E-Mails, z.B. Auftragsbestätigungen, für Sie versenden kann, hinterlegen Sie im Menü <strong><a href="/crm/e-mails-versenden#100">Einstellungen » Mandant (Shop) » Standard » E-Mail » Zugangsdaten</a></strong> die <strong><a href="https://support.mailbox.org/knowledge-base/article/einrichtung-mit-sonstigen-mailprogrammen" target="_blank">Zugangsdaten</a></strong> zu dem mailbox.org-Postfach, über das Sie diese E-Mails versenden möchten.</p>
</div>
</div>
<div class="sect3">
<h4 id="46">2.3.3. Zusätzliche E-Mail-Adresse (Alias) für ein Postfach erstellen</h4>
<div class="paragraph">
<p>Wenn ein Postfach über mehr als eine E-Mail-Adresse erreichbar sein soll, erstellen Sie ein Alias für das Postfach. Die Anzahl der möglichen E-Mail-Adressen pro Postfach sind vom gewählten Tarif abhängig. Gehen Sie wie unten beschrieben vor, um eine zusätzliche E-Mail-Adresse für ein Postfach zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Zusätzliche E-Mail-Adresse für ein Postfach erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Mein Konto</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>E-Mail</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neu</strong>.<br>
→ Das Fenster <strong>Postfach erstellen</strong> wird angezeigt.</p>
</li>
<li>
<p>Wählen Sie als E-Mail-Adresstyp <strong>Alias</strong>.</p>
</li>
<li>
<p>Nehmen Sie die weiteren Einstellungen vor. Beachten Sie dazu Tabelle 4.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Postfach erstellen</strong>.<br>
→ Die zusätzliche E-Mail-Adresse wird erstellt.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 4. Zusätzliche E-Mail-Adresse für ein Postfach erstellen</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>E-Mail-Adresstyp</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>E-Mail-Adresstyp <strong>Alias</strong> wählen.<br>
<strong>Postfach</strong> = Legt ein neues E-Mail-Postfach an.<br>
<strong>Alias</strong> = Legt eine zusätzliche E-Mail-Adresse für ein bestehendes Postfach an. Die Auswahl des Postfachs erfolgt über die Option <strong>Zielpostfach</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>E-Mail-Adresse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>E-Mail-Adresse eingeben, die dem Postfach zugeordnet werden soll: Lokalen Teil der E-Mail-Adresse vor dem @ eingeben. Den Domain-Teil aus der Dropdown-Liste wählen.<br>
<strong><em>Hinweis:</em></strong> Nach dem Löschen einer E-Mail-Adresse ist diese Adresse 48 Stunden gesperrt. Erst nach Ablauf dieser Frist kann diese E-Mail-Adresse erneut vergeben werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zielpostfach</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Das Postfach wählen, in das E-Mails an diese Alias-Adresse eingehen sollen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="46a">2.3.4. Grundtarif ändern</h4>
<div class="paragraph">
<p>Standardmäßig gilt für das Hosting von Postfächern bei mailbox.org über plentymarkets der mailbox.org-Grundtarif <strong>Business Reseller</strong>. Dieser Grundtarif ist für Sie kostenlos, umfasst jedoch keinen Support von mailbox.org. Den Grundtarif können Sie jederzeit anpassen. Wenn Sie Support von mailbox.org wünschen oder den Leistungsumfang erweitern möchten, passen Sie Ihren Grundtarif an. Der gewählte Grundtarif gilt für alle Postfächer Ihres gesamtes plentymarkets Systems inklusive aller Mandaten.</p>
</div>
<div class="paragraph instruction">
<p>Grundtarif ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Mein Konto</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>E-Mail</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Grundtarif ändern</strong>.<br>
→ Das Fenster <strong>Grundtarif wählen</strong> wird angezeigt.</p>
</li>
<li>
<p>Prüfen Sie den Leistungsumfang der angebotenen Grundtarife.</p>
</li>
<li>
<p>Wählen Sie den gewünschten Grundtarif.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Grundtarif ändern</strong>.<br>
→ Der Tarif wird übernommen und Ihr plentymarkets Vertrag wird angepasst. Sie erhalten außerdem eine E-Mail mit weiteren Informationen von mailbox.org.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="47">2.3.5. Postfach löschen</h4>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um ein Postfach zu löschen. Sie benötigen Admin-Rechte, um Postfächer/Alias zu löschen. Nach dem Löschen eines Postfachs/Alias können Sie erst nach 48 Stunden wieder ein neues Postfach/Alias mit der gelöschten E-Mail-Adresse anlegen.</p>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">E-Mails nach dem Löschen des Postfachs nicht mehr zugänglich</div>
<div class="paragraph">
<p>Nach dem Löschen eines Postfachs können Sie über mailbox.org nicht mehr auf die in diesem Postfach gespeicherten E-Mails zugreifen. Stellen Sie sicher, dass von allen benötigten E-Mails eine lokale Kopie vorhanden ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Postfach löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Mein Konto</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>E-Mail</strong>.<br>
→ Eine Liste der Postfächer wird angezeigt.</p>
</li>
<li>
<p>Klicken Sie in der Liste auf das Postfach, das Sie löschen möchten.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Löschen</strong>.<br>
→ Das Postfach und alle damit verbundenen Alias werden bei mailbox.org gelöscht.<br>
→ Ihr plentymarkets Vertrag wird angepasst.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr über das Einrichten von Postfächern im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/172115571" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="45">2.4. E-Mail-Provider wechseln</h3>
<div class="paragraph">
<p>Ab 2017 überträgt plentymarkets das Hosting von E-Mail-Konten vollständig an <strong><a href="https://mailbox.org/business/" target="_blank">mailbox.org</a></strong>. Wenn Sie von plentymarkets gehostete E-Mail-Konten verwenden, müssen Sie Ihre Postfächer daher bis Ende 2016 zu mailbox.org migrieren. Wie Sie Ihre von plentymarkets gehosteten Postfächer zu mailbox.org migrieren, erfahren Sie auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/_mailbox-migration"><strong>mailbox.org-Migration</strong></a>.</p>
</div>
</div>
<div class="sect2">
<h3 id="50">2.5. Weitere Benutzereinstellungen</h3>
<div class="paragraph">
<p>Im Bearbeitungsfenster eines Benutzers finden Sie neben den bereits erwähnten noch weitere Tabs. Diese Tabs und ihre Einstellungsmöglichkeiten sind in anderen Themenbereichen erklärt. Zu den Erklärungen gelangen Sie über die Links in der rechten Tabellenspalte.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 5. Weitere Tabs im Bearbeitungsfenster eines Benutzers</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Tab</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Grußformel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>In diesem Tab geben Sie einen Text ein, der Ihren Nachrichten und Kommentaren im Ticketsystem automatisch als <a href="/basics/arbeiten-mit-plentymarkets/benutzerkonto-personalisieren#10"><strong>Grußformel</strong></a> angefügt wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Signatur</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>In diesem Tab geben Sie einen Text ein, der Ihren Nachrichten und Kommentaren im Ticketsystem automatisch als <a href="/basics/arbeiten-mit-plentymarkets/benutzerkonto-personalisieren#20"><strong>Signatur</strong></a> angefügt wird.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Berechtigung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Dieses Tab wird im Kapitel <a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten#90"><strong>Berechtigungen zuordnen</strong></a> detailliert beschrieben.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Persönliche Einstellungen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier nehmen Sie Einstellungen vor, die nur für den im System angemeldeten Benutzer gelten. Deshalb ist das Tab für Sie auch nur in Ihrem eigenen Benutzerkonto sichtbar. Das Tab unterteilt sich in die Tabs <a href="/basics/arbeiten-mit-plentymarkets/benutzerkonto-personalisieren#40"><strong>Allgemein</strong></a>, <a href="/basics/arbeiten-mit-plentymarkets/benutzerkonto-personalisieren#50"><strong>Shortcuts</strong></a> und <a href="/basics/arbeiten-mit-plentymarkets/benutzerkonto-personalisieren#60"><strong>Favoriten</strong></a>, die nur Sie persönlich betreffen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kalender</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Hier werden Einstellungen für den <a href="/basics/arbeiten-mit-plentymarkets/kalender"><strong>Kalender</strong></a> vorgenommen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</div><div class="sect1">
<h2 id="85">3. Mehrere Benutzer bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mehrere Benutzer bearbeiten Sie per <strong>Gruppenfunktion</strong> im Menü <strong>Benutzer</strong>. Bei der Gruppenfunktion werden zuvor gewählte Benutzer bearbeitet.</p>
</div>
<div class="paragraph instruction">
<p>Gruppenfunktion ausführen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Benutzerkonten</strong>.</p>
</li>
<li>
<p>Wählen Sie die zu bearbeitenden Benutzer.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Gruppenfunktion</strong>.<br>
→ Das Fenster <strong>Gruppenfunktion</strong> wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 6 vor.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Anwenden</strong>, um die Einstellungen an den Benutzern vorzunehmen.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 6. Benutzer per <strong>Gruppenfunktion</strong> bearbeiten</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Löschen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aktivieren, um gewählte Benutzer zu löschen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>E-Mail senden</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aktivieren, um E-Mail an die gewählten Benutzer zu senden. Das E-Mail-Programm wird geöffnet. Die Benutzer sind als Empfänger eingetragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Skype</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aktivieren und <strong>Sofortnachricht</strong>, <strong>Anruf</strong> oder <strong>Video-Anruf</strong> wählen, um die Benutzer über Skype zu kontaktieren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rollen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aktivieren und eine, mehrere oder <strong>ALLE</strong> Rollen aktivieren, um die gewählten Benutzern mit diesen Rollen zu verknüpfen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="90">4. Berechtigungen zuordnen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mithilfe von Berechtigungen legen Sie fest, was ein Benutzer in plentymarkets sieht und was er bearbeiten kann. Sie können Berechtigungen für jeden Benutzer einzeln festlegen oder mithilfe von Rollen für mehrere Benutzer. Was genau Sie mit Berechtigungen einstellen können, wird in diesem Kapitel erläutert. Anschließend erfahren Sie, wie Sie Rollen erstellen. Die Menüstruktur ist beim Benutzer und bei Rollen gleich aufgebaut. Im Benutzerkonto eines Benutzers finden Sie das Tab <strong>Berechtigung</strong>. Das Tab gliedert sich in mehrere Tabs, in denen die Berechtigungen festgelegt werden. Welche Tabs angezeigt werden und welche Berechtigungen Sie einstellen können, hängt von der Benutzerklasse des Benutzers ab. Die meisten Einstellungsmöglichkeiten bieten Benutzer der Klasse Variabel.</p>
</div>
<div class="sect2">
<h3 id="100">4.1. Sichtbarkeiten festlegen</h3>
<div class="paragraph">
<p>Im Tab <strong>Sichtbarkeiten</strong> legen Sie fest, was der Benutzer sehen kann, wenn er ein Menü öffnet. Bei fehlender Berechtigung ist z.B. ein Lager oder sind Aufträge in einem Status für den Benutzer nicht sichtbar.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 7. Tab <strong>Berechtigung</strong>; Tab <strong>Sichtbarkeiten</strong> eines variablen Benutzers</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Vertriebslager;<br>
Reparaturlager;<br>
Vorratslager;<br>
Umschlagslager;<br>
Verteilerlager;<br>
Sonderlager</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Benutzerberechtigungen für Lager erteilen. Nur erstellte Lagertypen stehen zur Verfügung. Weitere Details zu Lagertypen sind auf der Handbuchseite <strong><a href="/">Einstellungen</a></strong> beschrieben.<br></p>
</div>
<div class="paragraph">
<p>+</p>
</div>
<div class="paragraph">
<p>+</p>
</div>
<div class="paragraph">
<p>+
Ein Sonderlager ist ein Lager des Lagertyps <strong>Sonstiges</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sichtbare Auftragsstatus</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auftragsstatus festlegen, die für den Benutzer <strong>sichtbar</strong> sein sollen. Der Benutzer sieht nur die Aufträge, die in diesen Status sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Setzbare Auftragsstatus</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Auftragsstatus festlegen, die der Benutzer setzen darf.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mandanten (Shops)</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einzelne, mehrere oder alle Mandanten (Shops) festlegen, die der Benutzer sehen darf. Der Benutzer hat nur auf die hier festgelegten Bereiche Zugriff. Wenn kein Mandant gewählt wurde, greifen auch weitere Berechtigungen nicht, z.B. im Tab <strong>Menü</strong>, da der Benutzer generell keinen Mandanten sieht.<br>
<strong>Alle</strong> = Der Benutzer hat Zugriff auf alle Mandanten.<br>
<strong>Standard</strong> = Der Benutzer hat Zugriff auf den Standard-Webshop.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ticketstatus</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ticketstatus wählen, um festzulegen, welche Tickets mit welchem Status der Benutzer ansehen und bearbeiten darf.<br>
<strong>Unsichtbar</strong> = Der Benutzer sieht kein Ticket, das in diesem Status ist.<br>
<strong>Sichtbar</strong> = Der Benutzer sieht jedes Ticket, das in diesem Status ist.<br>
<strong>Nur eigene</strong> = Der Benutzer sieht nur Tickets, die in diesem Status sind und von denen er Eigner ist.<br>
In der Ticketübersicht werden alle Tickets aufgeführt, d.h. auch für den Benutzer unsichtbare Tickets. Der Benutzer kann unsichtbare Tickets jedoch nicht öffnen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>plentymarkets Shipping</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Bereiche aktivieren, um dem Benutzer Zugriff auf diese Bereiche von <strong>plentymarkets Shipping</strong> zu geben.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="110">4.2. Menüs freischalten</h3>
<div class="paragraph">
<p>Im Tab <strong>Menü</strong> orientiert sich die Struktur der Berechtigungen an der Menüstruktur von plentymarkets, was die Suche nach Funktionen erleichtert. Das Markieren eines übergeordneten Menüs aktiviert auch die untergeordneten Menüs. Wenn Sie nur einzelne Untermenüs aktivieren möchten, müssen Sie dies in der jeweils untersten Ebene vornehmen.</p>
</div>
<div class="paragraph">
<p>Ordnen Sie jedem Benutzer der Klasse <strong>Variabel</strong> nur die Berechtigungen zu, die dieser für seinen Aufgabenbereich benötigt. Dies erhöht die Sicherheit und beugt Fehlern in Ihrem plentymarkets System vor.</p>
</div>
<div class="paragraph instruction">
<p>Menüberechtigungen aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffnen Sie einen Benutzer.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Berechtigung</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Menü</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Menüs, die dem Benutzer zur Verfügung stehen sollen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="115">4.3. REST API-Berechtigungen aktivieren</h3>
<div class="paragraph">
<p>Im Tab <strong>REST API</strong> legen Sie fest, welche Berechtigungen ein Benutzer der Klasse <strong>Variabel</strong> für die REST API erhält. In der Standardeinstellung sind keine REST API-Berechtigungen vergeben. Benutzer der Klasse <strong>Admin</strong> verfügen über alle Berechtigungen. Berechtigungen werden für die verschiedenen Module und Submodule der REST API separat vergeben. Unter <strong>Authorisierung</strong> legen Sie zum Beispiel fest, ob der REST API-Benutzer Berechtigungen anzeigen bzw. Benutzerrollen anzeigen, erstellen und löschen darf.</p>
</div>
<div class="paragraph instruction">
<p>REST API-Bereiche freischalten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffnen Sie einen Benutzer.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Berechtigung</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>REST API</strong>.</p>
</li>
<li>
<p>Aktivieren Sie komplette Bereiche oder klappen Sie Bereiche auf, um einzelne Berechtigungen zu aktivieren, die dem Benutzer zur Verfügung stehen sollen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nachträglich ergänzte, untergeordnete Berechtigungen eines Hauptmoduls werden automatisch aktiviert für einen Benutzer aktiviert, wenn das Hauptmodul aktiviert ist. Sie können diese Funktion deaktivieren und neue, untergeordnete Berechtigungen manuell aktivieren.</p>
</div>
<div class="paragraph instruction">
<p>Neue, untergeordnete Berechtigungen manuell aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffnen Sie einen Benutzer.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Berechtigung</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>REST API</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neue, untergeordnete Berechtigungen manuell aktivieren</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="120">4.4. SOAP API-Calls aktivieren</h3>
<div class="paragraph">
<p>Im Tab <strong>SOAP API</strong> legen Sie fest, welche Calls der <strong><a href="/datenaustausch/soap-api">SOAP API</a></strong> der Benutzer bearbeiten darf. In der Standardeinstellung sind keine API-Berechtigungen vergeben, auch nicht für Benutzer der Klasse <strong>API</strong>.</p>
</div>
<div class="paragraph instruction">
<p>SOAP API-Bereiche freischalten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffnen Sie einen Benutzer.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Berechtigung</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>SOAP API</strong>.</p>
</li>
<li>
<p>Aktivieren Sie komplette Bereiche oder klappen Sie Bereiche auf, um einzelne Calls zu aktivieren, die dem Benutzer zur Verfügung stehen sollen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="130">4.5. Berechtigungen übertragen</h3>
<div class="paragraph">
<p>Das Tab <strong>Transfer</strong> dient der Übertragung von Berechtigungen eines Benutzers auf einen anderen Benutzer der Klasse <strong>Variabel</strong> oder <strong>Admin</strong>. Dabei werden die Einstellungen unter Berechtigungen 1 zu 1 auf den gewählten Benutzer übertragen. Die für einen Transfer verfügbaren Benutzer werden angezeigt.</p>
</div>
<div class="paragraph instruction">
<p>Berechtigungen übertragen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffnen Sie einen Benutzer.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Berechtigung</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Transfer</strong>.</p>
</li>
<li>
<p>Aktivieren Sie die Bereiche, die übertragen werden sollen.</p>
</li>
<li>
<p>Aktivieren Sie die Benutzer, auf die übertragen werden soll.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Ausgewählte Berechtigungen auf ausgewählte Benutzer übertragen</strong>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="140">4.6. App-Berechtigungen aktivieren</h3>
<div class="paragraph">
<p>Im Tab <strong>Mobile</strong> legen Sie fest, welche Bereiche und Kennzahlen für Benutzer in der plentymarkets App sichtbar sein sollen.</p>
</div>
<div class="paragraph instruction">
<p>App-Berechtigungen aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffnen Sie einen Benutzer.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Berechtigung</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Mobile</strong>.</p>
</li>
<li>
<p>Aktivieren Sie Funktionen oder Kennzahlen, die dem Benutzer in der App zur Verfügung stehen sollen.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="145">4.7. Login entsperren</h3>
<div class="paragraph">
<p>Wurde das Passwort beim Login mehrmals hintereinander falsch eingegeben, wird der Benutzer für das Login eine gewisse Zeit gesperrt. Über den Button <strong>Login entsperren</strong> im Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten » Benutzer öffnen</strong> kann der Login durch einen Administrator frühzeitig entsperrt werden.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="70">5. Rollen erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit Rollen gruppieren Sie Benutzer und erteilen mehreren Benutzern die gleichen Berechtigungen, ohne jeden Benutzer einzeln bearbeiten zu müssen.</p>
</div>
<div class="paragraph instruction">
<p>Neue Rolle erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Rollen</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neue Rolle</strong>.<br>
→ Das Fenster <strong>Neue Rolle</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen <strong>Namen</strong> für die Rolle ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Die Rolle wird in einem neuen Tab zur Bearbeitung geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Erst beim Bearbeiten der Rolle legen Sie die Berechtigungen fest, die Benutzer mit dieser Rolle haben. Bearbeiten Sie deshalb nach dem Erstellen die Rolle.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="80">6. Rollen bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nachdem Sie eine Rolle erstellt haben, wird Sie zur Bearbeitung geöffnet und der Rollenübersicht hinzugefügt, so dass Sie sie auch später wieder öffnen und bearbeiten können. Rollen werden in der Übersicht alphabetisch gelistet. Jede Rolle gliedert sich in drei Tabs. Im Tab <strong>Einstellungen</strong> lässt sich der Name der Rolle ändern. Im Tab <strong>Benutzer</strong> verknüpfen Sie Benutzer mit der Rolle. Im Tab <strong>Berechtigungen</strong> ordnen Sie der Rolle Berechtigungen zu. Für Rollen stehen Ihnen die gleichen Berechtigungseinstellungen wie für Benutzer der Klasse Variabel zur Verfügung. Details zu den Berechtigungen finden Sie hier auf der Seite im Kapitel <a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten#90"><strong>Berechtigungen zuordnen</strong></a>.</p>
</div>
<div class="paragraph">
<p>Rollen können von Benutzern der Klasse Admin oder Klasse Variabel erstellt werden. Benutzer der Klasse Variabel benötigen dafür die Berechtigungen.</p>
</div>
<div class="paragraph instruction">
<p>Benutzer mit einer Rolle verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Rollen</strong>.</p>
</li>
<li>
<p>Öffnen Sie eine Rolle.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Benutzer</strong>.</p>
</li>
<li>
<p>Wählen Sie Benutzer unter <strong>Verfügbare Benutzer</strong>.</p>
</li>
<li>
<p>Klicken Sie auf den <strong>Pfeil nach rechts</strong>, um Benutzer in die Spalte <strong>Zugeordnete Benutzer</strong> zu übertragen.</p>
</li>
<li>
<p>Alternativ: Ziehen Sie einen Benutzer per Drag &amp; Drop in die Spalte <strong>Zugeordnete Benutzer</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Mehrere Benutzer gleichzeitig verschieben</div>
<div class="paragraph">
<p>Mit <strong>Strg</strong> oder <strong>cmd</strong> und linker Maustaste markieren Sie mehrere Benutzer, um diese dann zusammen zu verschieben. Mit den unteren Pfeil-Schaltflächen bewegen Sie alle Benutzer.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Den Benutzern unter <strong>Zugeordnete Benutzer</strong> wird die betreffende Rolle zugeordnet. Diese Zuordnung wird auch automatisch im Konto der Benutzer im Tab <strong>Stammdaten</strong> unter <strong>Rollen</strong> eingestellt. Die Zuordnung kann an beiden Stellen im System angepasst werden.</p>
</div>
<div class="paragraph instruction">
<p>Rollen mit Benutzer verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffnen Sie ein Benutzerkonto.</p>
</li>
<li>
<p>Wählen Sie eine, mehrere oder alle Rollen unter <strong>Rollen</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Verknüpfung von Benutzerrollen mit Benutzern der Klasse Admin</div>
<div class="paragraph">
<p>Für Administratoren gelten alle Berechtigungen, trotzdem ist es für einige Vorgänge wichtig, dass Administratoren auch Rollen zugeordnet werden. So erhalten sie z.B. rollenbezogene E-Mails nur dann, wenn sie mit der betreffenden Rolle verknüpft wurden.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph subhead">
<p>Anwendungsbeispiel</p>
</div>
<div class="paragraph">
<p>Der Administrator der Firma MeinShop erstellt verschiedene Rollen. Die Rolle Mitarbeiter ist für alle Benutzer gedacht und enthält sämtliche Berechtigungen, die jedem Benutzer zugeordnet werden. Die individuelle Zuordnung dieser Berechtigungen entfällt. Auch Änderungen an den Berechtigungen, die alle Benutzer betreffen, werden zentral in dieser Rolle vorgenommen. Zusätzlich zur Rolle Mitarbeiter erstellt der Administrator die spezifischen Rollen Lagerist und Buchhaltung mit weiteren Berechtigungen, die nur eine kleine Benutzergruppe benötigt.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 8. Beispiel für Rollen</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 33.3333%;">
<col style="width: 33.3334%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Rolle</th>
<th class="tableblock halign-left valign-top">Berechtigungen: Sichtbarkeit</th>
<th class="tableblock halign-left valign-top">Berechtigungen: Menü</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Mitarbeiter</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Mandanten (Shops) » Standard</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Start » Webmail<br>
Start » plentymarkets Konto » Forum</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Lagerist</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Lager</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einstellungen » Waren » Lager<br>
Waren<br>
Aufträge » Fulfillment</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Buchhaltung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Start » Urlaubsverwaltung<br>
Einstellungen » Mandant (Shop) » Standard » Buchhaltung</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Herr Mustermann ist Logistiker bei MeinShop und erhält die Benutzerrollen Mitarbeiter und Lagerist. Wenn einem Benutzer mehrere Rollen zugeordnet werden, addieren sich die Berechtigungen. Herr Mustermann erhält also die Berechtigungen <strong>Mandanten (Shops)</strong>, <strong>Webmail</strong> und <strong>Forum</strong> der Rolle Mitarbeiter sowie die Berechtigungen <strong>Lager</strong>, <strong>Waren</strong> und <strong>Fulfillment</strong> der Rolle Lagerist. Er verfügt aber nicht über die Berechtigungen <strong>Urlaubsverwaltung</strong> und <strong>Buchhaltung</strong>, da ihm die Rolle Buchhaltung nicht zugeordnet wurde.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_rollen_kopieren">7. Rollen kopieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn Sie eine weitere Rolle benötigen, die sich von einer bestehenden Rolle nur minimal unterscheidet, dann kopieren Sie die bestehende Rolle und nehmen an der Kopie die Änderungen im Tab <strong>Berechtigungen</strong> vor.</p>
</div>
<div class="paragraph instruction">
<p>Rolle kopieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Rollen</strong>.</p>
</li>
<li>
<p>Wählen Sie eine Rolle.</p>
</li>
<li>
<p>Klicken Sie in der Symbolleiste auf <strong>Kopieren</strong>.<br>
→ Das Fenster <strong>Rolle kopieren</strong> wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie Ihre Einstellungen.<br>
→ Die Rolle wird kopiert und geöffnet.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_e_mail_an_alle_benutzer_einer_rolle_senden">8. E-Mail an alle Benutzer einer Rolle senden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Rollen ermöglichen es Ihnen, E-Mails an alle Benutzer zu senden, die über diese Rolle verfügen und eine E-Mail-Adresse in ihrem Benutzerkonto eingegeben haben.</p>
</div>
<div class="paragraph instruction">
<p>E-Mail an alle Benutzer einer Rolle senden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Rollen</strong>.</p>
</li>
<li>
<p>Wählen Sie eine Rolle.</p>
</li>
<li>
<p>Klicken Sie in der Symbolleiste auf <strong>E-Mail senden</strong>.<br>
→ Das E-Mail-Programm wird geöffnet. Die Benutzer dieser Rolle sind als Empfänger eingetragen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="60">9. Benutzer suchen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Filter helfen Ihnen bei der Suche nach Benutzerkonten. Mit dem Filter <strong>Klasse</strong> zeigen Sie beispielsweise nur Benutzer der Klasse <strong>Variabel</strong> an. Ohne Filter werden in der Übersicht alle Benutzer angezeigt. Folgende Elemente und Funktionen sind im Menü <strong>Benutzer</strong> verfügbar.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 9. Filteroptionen für Benutzer</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Suchen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Suche ausführen. Zuvor Filteroptionen zur Suche eingeben oder wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Reset</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Filtereinstellungen auf Standardwerte zurücksetzen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>ID</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>ID eingeben, um gezielt nach einem Benutzer mit dieser ID zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name eingeben, um gezielt nach Benutzern mit diesem Namen zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Klasse</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Klasse wählen, um gezielt nach Benutzern mit dieser Klasse zu suchen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Rollen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine, mehrere oder alle Rollen wählen, um gezielt nach Benutzern mit diesen Rollen zu suchen.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="150">10. Rollen und Prozesse verknüpfen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Verwenden Sie Rollen z.B. auch bei <strong><a href="/basics/automatisierung/prozesse/prozesse-einrichten">Prozessen</a></strong> im <strong><a href="/basics/automatisierung/plentymarkets-client">plentymarkets Client</a></strong>. Rollenbezogene Prozesse erstellen und verknüpfen Sie im plentymarkets Client.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/DE-Einstell-Grund-Benutzer-Rollen-03.png" alt="DE Einstell Grund Benutzer Rollen 03">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: Neuen Prozess für Rolle erstellen</em></p>
</div>
<div class="paragraph instruction">
<p>Rollen und Prozesse verknüpfen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie den plentymarkets Client.</p>
</li>
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Prozesse » Prozesse pro Rolle</strong>.</p>
</li>
<li>
<p>Klicken Sie in der Zeile einer <strong>Rolle</strong> auf den <strong>Pfeil</strong> und dann auf <strong>Neuer Prozess</strong> (Bild 1).</p>
</li>
<li>
<p>Geben Sie einen <strong>Namen</strong> für die Rolle ein.</p>
</li>
<li>
<p>Wählen Sie für die <strong>Sichtbarkeit</strong> die Einstellung <strong>Rolle</strong>.<br>
→ Die Option <strong>Rolle</strong> wird eingeblendet.</p>
</li>
<li>
<p>Wählen Sie eine <strong>Rolle</strong> aus dem Dropdown-Menü.</p>
</li>
<li>
<p>Wählen Sie, ob die Einstellungen durch einen Eigner mit dieser Rolle <strong>änderbar</strong> sein sollen.</p>
</li>
<li>
<p>Wählen Sie das <strong>Lager</strong> für den Prozess und eine <strong>Farbe</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die Prozesse werden für die gewählte Rolle angezeigt. Aufgrund der Sichtbarkeit sieht nur ein Benutzer mit passender Rolle den Prozess.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_konto_für_das_plentymarkets_forum_erstellen">11. Konto für das plentymarkets Forum erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das plentymarkets Forum ist eine ständig wachsende Wissensdatenbank, die viele Antworten auf bereits gestellte Support-Fragen enthält. Im Forum helfen Ihnen unsere Entwickler und andere plentymarkets Kunden bei technischen Fragen gern weiter. Außerdem finden Sie dort Tipps für das Arbeiten mit plentymarkets und tauschen sich mit anderen plentymarkets Kunden aus. Gehen Sie wie unten beschrieben vor, um ein Konto für das plentymarkets Forum zu erstellen. Benutzer der Klasse <strong>Admin</strong> erstellen so auch Forumkonten für andere Benutzer.</p>
</div>
<div class="paragraph instruction">
<p>Konto für plentymarkets Forum erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Benutzer öffnen</strong>.<br>
→ Der Benutzer wird in einem neuen Tab geöffnet.</p>
</li>
<li>
<p>Klicken Sie im Bereich <strong>plentymarkets Forum</strong> auf <strong>Konto erstellen</strong><br>
→ Das Forenkonto wird erstellt.</p>
</li>
</ol>
</div>
</div>
</div>
</main>