<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Grußformel einrichten</span></a></li>
<li><a href="#20"><span>2.</span><span> Signatur einrichten</span></a></li>
<li><a href="#30"><span>3.</span><span> Persönliche Einstellungen im Bereich Mein Konto vornehmen</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>3.1.</span><span> Allgemeine Einstellungen vornehmen</span></a></li>
<li><a href="#50"><span>3.2.</span><span> Shortcuts einrichten</span></a></li>
<li><a href="#60"><span>3.3.</span><span> Favoriten verwalten</span></a></li>
</ul>
</li>
<li><a href="#70"><span>4.</span><span> Dashboard personalisieren</span></a>
<ul class="sectlevel2">
<li><a href="#_element_zum_dashboard_hinzufügen"><span>4.1.</span><span> Element zum Dashboard hinzufügen</span></a></li>
<li><a href="#_element_zum_dashboard_hinzufügen_2"><span>4.2.</span><span> Element zum Dashboard hinzufügen</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Benutzerkonto personalisieren</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Handbuchseite beschreibt Einstellungen in plentymarkets, die Sie einmalig vornehmen, um Ihr Benutzerkonto zu personalisieren. Selbstverständlich haben Sie die Möglichkeit, Ihre Angaben und Einstellungen jederzeit anzupassen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Grußformel einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>System » Einstellungen » Benutzer » Konten</strong> im Bereich <strong>Mein Konto</strong> geben Sie einen Text ein, der Ihren Nachrichten und Kommentaren im Ticketsystem automatisch als Grußformel angefügt wird. Dieser besteht in der Regel nur aus einem Briefabschluss sowie Ihrem Namen. Beim Versenden von E-Mails aus dem Ticketsystem wird erst die Grußformel und dann die Signatur  automatisch an die E-Mail angehängt. Wie Sie die Signatur einrichten, wird im folgenden Kapitel beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Grußformel einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffnen Sie <strong>Mein Konto</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Grußformel</strong>.</p>
</li>
<li>
<p>Geben Sie Ihre Grußformel ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Signatur einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>System » Einstellungen » Benutzer » Konten</strong> im Bereich <strong>Mein Konto</strong> geben Sie einen Text ein, der Ihren Nachrichten und Kommentaren im Ticketsystem automatisch als Signatur angefügt wird. Diese besteht in der Regel aus Ihren Kontaktdaten sowie Angaben zum Amtsgericht und Handelsregisternummer. Je nach Rechtsform des Unternehmens gehört die Angabe des Firmennamens, des Geschäftsführers sowie ggf. der USt-IdNr. zu den Pflichtangaben. Beim Versenden von E-Mails aus dem Ticketsystem wird erst die Grußformel  und dann die Signatur  automatisch an die E-Mail angehängt.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Template-Variable für die Signatur</div>
<div class="paragraph">
<p>Die Template-Variablen <strong>$Signature</strong> bzw. <strong>$SignatureHTML</strong> beinhalten die Grußformel.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Signatur einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffnen Sie <strong>Mein Konto</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Signatur</strong>.</p>
</li>
<li>
<p>Geben Sie Ihre Signatur ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Pflichtangaben in E-Mails</div>
<div class="paragraph">
<p>In Deutschland entsprechen seit Anfang 2007 die Pflichtangaben in E-Mails denen der Geschäftsbriefe des Unternehmens. Bei Nichtbeachtung besteht die Gefahr eines Zwangsgeldes oder einer kostenpflichtigen Abmahnung durch einen Mitbewerber.<br>
Informieren Sie sich also über die rechtlichen Vorschriften zur Signatur in Ihrem Land und befragen Sie bei Bedarf Ihren Rechtsbeistand.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Persönliche Einstellungen im Bereich Mein Konto vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>System » Einstellungen » Benutzer » Konten</strong> im Bereich <strong>Mein Konto » Persönliche Einstellungen</strong> nehmen Sie Einstellungen vor, die nur für den im System angemeldeten Benutzer gelten. Deshalb ist das Tab für Sie auch nur in Ihrem eigenen Benutzerkonto sichtbar. Das Tab unterteilt sich in 3 Tabs mit Einstellungen, die nur Sie persönlich betreffen. Diese Tabs sind <strong>Allgemein</strong>, <strong>Shortcuts</strong> und <strong>Favoriten</strong>.</p>
</div>
<div class="sect2">
<h3 id="40">3.1. Allgemeine Einstellungen vornehmen</h3>
<div class="paragraph">
<p>Legen Sie im Tab <strong>Allgemein</strong> Ihrer persönlichen Einstellungen fest, ob Sie beim Schließen eines Fensters gewarnt werden möchten, wenn noch Tabs offen sind. Außerdem können Sie hier die benutzerspezifischen Einstellungen zurücksetzen.</p>
</div>
<div class="paragraph instruction">
<p>Allgemeine Einstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Mein Konto</strong>.<br>
→ Ihre Kontoeinstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Persönliche Einstellungen</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Allgemein</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie <a href="#tabelle-allgemein">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-allgemein" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Tab <strong>Persönliche Einstellungen » Allgemein</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Button</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meldungen zurücksetzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meldungen, z.B. die Meldung zum Neuladen von plentymarkets für Aktualisierungen, können durch einen Klick deaktiviert werden. Diese Einstellung wird benutzerabhängig gespeichert. Durch erneutes Klicken werden alle relevanten Einstellungen des Benutzers zurückgesetzt, d.h. alle deaktivierten Meldungen werden wieder angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alles zurücksetzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt alle benutzerabhängig gespeicherten Einstellungen zurück, z.B. die oben genannten Meldungen, Spaltengrößen und Spalteninhalte bei Tabellen, gewählte Favoriten etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warnen, wenn Tabs offen sind und das Fenster geschlossen wird</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviert = Beim Schließen eines Fensters wird eine Warnung ausgegeben, wenn noch Tabs geöffnet sind.<br>
Deaktiviert = Das Fenster wird ohne Warnung geschlossen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="50">3.2. Shortcuts einrichten</h3>
<div class="paragraph">
<p>Sie können Standard-Shortcuts hinterlegen, die Sie für verschiedene wiederkehrende Funktionen nutzen, z.B. das Öffnen von wichtigen Menüs in plentymarkets und das Wechseln zwischen Tabs und Tab-Ebenen. So wird zum Beispiel mit der Tastenkombination <strong>Alt + I</strong> die Artikelübersicht geöffnet. Mit <strong>Alt + W</strong> wird das Tab wieder geschlossen.</p>
</div>
<div class="paragraph">
<p>Erfahren Sie mehr über Shortcuts im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/99954261" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Nicht alle Shortcut-Kombinationen sind möglich</div>
<div class="paragraph">
<p>Verwenden Sie keine systemspezifischen Shortcut-Kombinationen. Diese Shortcut-Kombinationen sind je nach Betriebssystem unterschiedlich. Beispiel: die <strong>F</strong>-Tasten.<br>
Die Kombination <strong>cmd / Strg + W</strong> ist nicht möglich, da sie vom Browser reserviert ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Shortcuts einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Mein Konto</strong>.<br>
→ Ihre Kontoeinstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Persönliche Einstellungen</strong>.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Shortcuts</strong>.<br>
<strong><em>Tipp:</em></strong> Das Tab <strong>Shortcuts</strong> ist nur für den eigenen Benutzer sichtbar und kann nur von diesem Benutzer bearbeitet werden.</p>
</li>
<li>
<p>Legen Sie die Shortcuts fest. Beachten Sie <a href="#tabelle-shortcuts">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-shortcuts" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Shortcuts</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Shortcut</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Globale Shortcuts</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + W</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schließt das aktive Tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + DOWN (Pfeiltaste nach unten)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wechselt eine Tab-Ebene nach unten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + UP (Pfeiltaste nach oben)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wechselt eine Tab-Ebene nach oben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + RIGHT (Pfeiltaste nach rechts)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wechselt ein Tab nach rechts.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + LEFT (Pfeiltaste nach links)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wechselt ein Tab nach links.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + R</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lädt das aktive Tab neu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + ESC</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Loggt den Benutzer aus und sperrt das Backend.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Bereiche öffnen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + I</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + O</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + Y</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <strong>Artikel » Kategorien</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + C</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <strong>CRM » Kunden bearbeiten</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + T</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <strong>CRM » Ticketsystem</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + N</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <strong>CRM » Kunden bearbeiten</strong> und öffnet das Tab <strong>Neuer Kunde</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + M</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet die <strong>Kundenkarte</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + S</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet den <strong>Webshop</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + E</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet den Webshop mit aktivierter Inline-Editing-Funktion.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + P</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Nur im plentymarkets Client verfügbar. Öffnet das Menü <strong>Prozesse</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Auftrag bearbeiten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + N</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet im Auftrag die Kundennotizen; in allen Tabs des Auftrags möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + A</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet im Auftrag die Auftragsnotizen; in allen Tabs des Auftrags möglich.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Standard-Shortcuts wiederherstellen</div>
<div class="paragraph">
<p>Änderungen werden über <strong>Shortcuts zurücksetzen</strong> wieder auf die Standardeinstellungen zurückgesetzt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="60">3.3. Favoriten verwalten</h3>
<div class="paragraph">
<p>Im Tab <strong>Favoriten</strong> der persönlichen Einstellungen Ihres Benutzerkontos werden die Menüpfade angezeigt, die Sie als Favoriten angelegt haben. Die Favoriten können hier außerdem gelöscht oder mit den <strong>Aufwärts</strong>- und <strong>Abwärts</strong>-Pfeilen sortiert werden. Das Tab ist nur beim eigenen Benutzer sichtbar. Weitere Information zum Hinzufügen und Entfernen von Favoriten finden Sie auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/allgemeine-funktionen#80">Allgemeine Funktionen einrichten</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="70">4. Dashboard personalisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Dashboard wir angezeigt, wenn Sie sich im plentymarkets Backend anmelden. Standardmäßig werden auf dem Dashboard aktuelle plentymarkets News und Statusmeldungen angezeigt. Über optionale Elemente haben Sie außerdem die Möglichkeit, Systemdaten direkt auf dem Dashboard anzuzeigen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Dashboard-Bereich plentymarkets News regelmäßig lesen</div>
<div class="paragraph">
<p>Im Dashboard-Bereich <strong>plentymarkets News</strong> werden wichtige Statusmeldungen und News veröffentlicht. Daher kann das Tab <strong>Dashboard</strong> nicht geschlossen werden. Lesen Sie diese Informationen regelmäßig, damit Sie über Neuerungen und Störungen informiert bleiben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_element_zum_dashboard_hinzufügen">4.1. Element zum Dashboard hinzufügen</h3>
<div class="paragraph">
<p>In der Grundeinstellung werden nur die plentymarkets News auf dem Dashboard angezeigt. Gehen Sie wie unten beschrieben vor, um weitere Elemente zum Dashboard hinzuzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Element zum Dashboard hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wechseln Sie in das Tab <strong>Dashboard</strong>.</p>
</li>
<li>
<p>Wählen Sie das Element aus der Dropdown-Liste unten links. Beachten Sie <a href="#tabelle-elemente">Tabelle 3</a>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neues Element</strong>.<br>
→ Das Element wird zum Dashboard hinzugefügt.<br></p>
</li>
<li>
<p>Klicken Sie auf die Kopfleiste des Elements und ziehen Sie es an die gewünschte Position.</p>
</li>
</ol>
</div>
<table id="tabelle-elemente" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 3. Verfügbare Elemente</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel unter Meldebestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, wenn Artikel nachbestellt werden müssen. Die Anzeige wird nach Lagern sortiert.<br>
<strong><em>Tipp:</em></strong> Auf den Zahlenwert klicken, um das Menü <strong>Nachbestellung</strong> zu öffnen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufträge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, wie viele Aufträge am aktuellen Tag hinzugekommen sind und wie viele Aufträge versendet wurden. Verlinkung zum <strong>Auftragsmenü</strong> mit Anzeige der Aufträge in der <strong>Auftragsübersicht</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, wie viele Listings am aktuellen Tag und am Vortag hinzugekommen sind. Außerdem wird angezeigt, wie viele Listings aktuell und am Vortag erfolgreich waren und wie viele Listings fehlerhaft waren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meine Aufgaben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt Ihre <a href="/basics/arbeiten-mit-plentymarkets/aufgaben">Aufgaben</a> an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufsstatistik</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Umsätze nach Wochen sortiert an.<br>
<strong><em>Hinweis:</em></strong> Gutschriften werden als negative Umsätze am Tag ihrer Erstellung gebucht.<br>
<strong><em>Hinweis:</em></strong> Die Werte der Verkaufsstatistik dienen zur Orientierung. Eine korrekte statistische Auswertung bietet das Menü <strong>Start » Statistik</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt eine Übersicht der Anzahl der nicht zugeordneten Zahlungen sowie die Anzahl der Zahlungen am aktuellen Tag und am Vortag.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_element_zum_dashboard_hinzufügen_2">4.2. Element zum Dashboard hinzufügen</h3>
<div class="paragraph">
<p>In der Grundeinstellung werden nur die plentymarkets News auf dem Dashboard angezeigt. Gehen Sie wie unten beschrieben vor, um weitere Elemente zum Dashboard hinzuzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Element vom Dashboard entfernen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wechseln Sie in das Tab <strong>Dashboard</strong>.</p>
</li>
<li>
<p>Klicken Sie bei dem Element, das Sie entfernen möchten, auf <strong>Close</strong>.<br>
→ Das Element wird vom Dashboard entfernt.<br>
<strong><em>Hinweis:</em></strong> Der Bereich <strong>plentymarkets News</strong> kann nicht vom Dashboard entfernt</p>
</li>
</ol>
</div>
</div>
</div>
</div>
</main>