<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Grußformel einrichten</span></a></li>
<li><a href="#20"><span>2.</span><span> Signatur einrichten</span></a></li>
<li><a href="#30"><span>3.</span><span> Persönliche Einstellungen im Bereich Mein Konto vornehmen</span></a>
<ul class="sectlevel2">
<li><a href="#40"><span>3.1.</span><span> Allgemeine Einstellungen vornehmen</span></a></li>
<li><a href="#50"><span>3.2.</span><span> Shortcuts einrichten</span></a></li>
<li><a href="#60"><span>3.3.</span><span> Favoriten verwalten</span></a></li>
</ul>
</li>
<li><a href="#70"><span>4.</span><span> Dashboard personalisieren</span></a>
<ul class="sectlevel2">
<li><a href="#_element_zum_dashboard_hinzufügen"><span>4.1.</span><span> Element zum Dashboard hinzufügen</span></a></li>
<li><a href="#_element_zum_dashboard_hinzufügen_2"><span>4.2.</span><span> Element zum Dashboard hinzufügen</span></a></li>
</ul>
</li>
<li><a href="#80"><span>5.</span><span> Plugin-Sets im Backend aktivieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Benutzerkonto personalisieren</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Diese Handbuchseite beschreibt Einstellungen in plentymarkets, die du einmalig vornimmst, um dein Benutzerkonto zu personalisieren. Selbstverständlich hast du die Möglichkeit, deine Angaben und Einstellungen jederzeit anzupassen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Grußformel einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong> im Bereich <strong>Mein Konto</strong> gibst du einen Text ein, der deinen Nachrichten und Kommentaren im Ticketsystem automatisch als Grußformel angefügt wird. Dieser besteht in der Regel nur aus einem Briefabschluss sowie deinem Namen. Beim Versenden von E-Mails aus dem Ticketsystem wird erst die Grußformel und dann die Signatur automatisch an die E-Mail angehängt. Wie du die Signatur einrichtest, wird im folgenden Kapitel beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Grußformel einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffne <strong>Mein Konto</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Grußformel</strong>.</p>
</li>
<li>
<p>Gib deine Grußformel ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Signatur einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong> im Bereich <strong>Mein Konto</strong> gibst du einen Text ein, der deinen Nachrichten und Kommentaren im Ticketsystem automatisch als Signatur angefügt wird. Diese besteht in der Regel aus deinen Kontaktdaten sowie Angaben zum Amtsgericht und Handelsregisternummer. Je nach Rechtsform des Unternehmens gehört die Angabe des Firmennamens, des Geschäftsführers sowie ggf. der USt-IdNr. zu den Pflichtangaben. Beim Versenden von E-Mails aus dem Ticketsystem wird erst die Grußformel und dann die Signatur automatisch an die E-Mail angehängt.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Template-Variable für die Signatur</div>
<div class="paragraph">
<p>Die Template-Variablen <strong>$Signature</strong> und <strong>$SignatureHTML</strong> beinhalten die Grußformel.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Signatur einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffne <strong>Mein Konto</strong>.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Signatur</strong>.</p>
</li>
<li>
<p>Gib deine Signatur ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock warning">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-warning" title="Warnung"></i>
</td>
<td class="content">
<div class="title">Pflichtangaben in E-Mails</div>
<div class="paragraph">
<p>In Deutschland entsprechen seit Anfang 2007 die Pflichtangaben in E-Mails denen der Geschäftsbriefe des Unternehmens. Bei Nichtbeachtung besteht die Gefahr eines Zwangsgeldes oder einer kostenpflichtigen Abmahnung durch einen Mitbewerber.<br>
Informiere dich also über die rechtlichen Vorschriften zur Signatur in deinem Land und befrage bei Bedarf deinen Rechtsbeistand.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Persönliche Einstellungen im Bereich Mein Konto vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong> im Bereich <strong>Mein Konto » Persönliche Einstellungen</strong> nimmst du die Einstellungen vor, die nur für das im System angemeldete Benutzerkonto gelten. Deshalb ist das Tab für dich auch nur in deinem eigenen Benutzerkonto sichtbar. Das Tab unterteilt sich in 3 Tabs mit Einstellungen, die nur dich persönlich betreffen. Diese Tabs sind <strong>Allgemein</strong>, <strong>Shortcuts</strong> und <strong>Favoriten</strong>.</p>
</div>
<div class="sect2">
<h3 id="40">3.1. Allgemeine Einstellungen vornehmen</h3>
<div class="paragraph">
<p>Lege im Tab <strong>Allgemein</strong> deiner persönlichen Einstellungen fest, ob du beim Schließen eines Fensters gewarnt werden möchtest, wenn noch Tabs offen sind. Außerdem kannst du hier die benutzerspezifischen Einstellungen zurücksetzen.</p>
</div>
<div class="paragraph instruction">
<p>Allgemeine Einstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Mein Konto</strong>.<br>
→ Ihre Kontoeinstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Persönliche Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Allgemein</strong>.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte <a href="#tabelle-allgemein">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-allgemein" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Tab <strong>Persönliche Einstellungen » Allgemein</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Schaltfläche</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meldungen zurücksetzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Meldungen, z.B. die Meldung zum Neuladen von plentymarkets für Aktualisierungen, können durch einen Klick deaktiviert werden. Diese Einstellung wird benutzerabhängig gespeichert. Durch erneutes Klicken werden alle relevanten Einstellungen des Benutzers zurückgesetzt, also alle deaktivierten Meldungen werden wieder angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alles zurücksetzen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Setzt alle benutzerabhängig gespeicherten Einstellungen zurück, z.B. die oben genannten Meldungen, Spaltengrößen und Spalteninhalte bei Tabellen, gewählte Favoriten etc.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warnen, wenn Tabs offen sind und das Fenster geschlossen wird</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktiviert = Beim Schließen eines Fensters wird eine Warnung ausgegeben, wenn noch Tabs geöffnet sind.<br>
Deaktiviert = Das Fenster wird ohne Warnung geschlossen.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="50">3.2. Shortcuts einrichten</h3>
<div class="paragraph">
<p>Du kannst Standard-Shortcuts hinterlegen, die du für verschiedene wiederkehrende Funktionen nutzt, z.B. das Öffnen von wichtigen Menüs in plentymarkets und das Wechseln zwischen Tabs und Tab-Ebenen. So wird zum Beispiel mit der Tastenkombination <strong>Alt + I</strong> die Artikelübersicht geöffnet. Mit <strong>Alt + W</strong> wird das Tab wieder geschlossen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Nicht alle Shortcut-Kombinationen sind möglich</div>
<div class="paragraph">
<p>Verwende keine systemspezifischen Shortcut-Kombinationen. Diese Shortcut-Kombinationen sind je nach Betriebssystem unterschiedlich. Beispiel: die <strong>F</strong>-Tasten.<br>
Die Kombination <strong>cmd / Strg + W</strong> ist nicht möglich, da die Shortcut-Kombination vom Browser reserviert ist.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Shortcuts einrichten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Mein Konto</strong>.<br>
→ Deine Kontoeinstellungen werden geöffnet.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Persönliche Einstellungen</strong>.</p>
</li>
<li>
<p>Öffne das Tab <strong>Shortcuts</strong>.<br>
<strong><em>Tipp:</em></strong> Das Tab <strong>Shortcuts</strong> ist nur für das eigene Benutzerkonto sichtbar und kann nur von der Person mit diesem Benutzerkonto bearbeitet werden.</p>
</li>
<li>
<p>Lege die Shortcuts fest. Beachte <a href="#tabelle-shortcuts">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-shortcuts" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Shortcuts</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Shortcut</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Globale Shortcuts</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + W</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Schließt das aktive Tab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + DOWN (Pfeiltaste nach unten)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wechselt eine Tab-Ebene nach unten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + UP (Pfeiltaste nach oben)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wechselt eine Tab-Ebene nach oben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + RIGHT (Pfeiltaste nach rechts)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wechselt ein Tab nach rechts.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + LEFT (Pfeiltaste nach links)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wechselt ein Tab nach links.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + R</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lädt das aktive Tab neu.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + ESC</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Loggt das Benutzerkonto aus und sperrt das Backend.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Bereiche öffnen</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + I</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <strong>Artikel » Artikel bearbeiten</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + O</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <strong>Aufträge » Aufträge bearbeiten</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + Y</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <strong>Artikel » Kategorien</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + C</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <strong>CRM » Kontakte</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + T</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <strong>CRM » Ticketsystem</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + N</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet den Bereich <strong>Neuer Kontakt</strong> im Menü <strong>CRM » Kontakte</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + M</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet das Menü <strong>CRM » Schnellsuche</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + S</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet den <strong>Webshop</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alt + E</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet den Webshop mit aktivierter Inline-Editing-Funktion.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Auftrag bearbeiten</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + N</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet im Auftrag die Kundennotizen; in allen Tabs des Auftrags möglich.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shift + Alt + A</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Öffnet im Auftrag die Auftragsnotizen; in allen Tabs des Auftrags möglich.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Standard-Shortcuts wiederherstellen</div>
<div class="paragraph">
<p>Änderungen werden über <strong>Shortcuts zurücksetzen</strong> wieder auf die Standardeinstellungen zurückgesetzt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="60">3.3. Favoriten verwalten</h3>
<div class="paragraph">
<p>Im Tab <strong>Favoriten</strong> der persönlichen Einstellungen deines Benutzerkontos werden die Menüpfade angezeigt, die du als Favoriten angelegt hast. Die Favoriten können hier außerdem gelöscht oder mit den <strong>Aufwärts</strong>- und <strong>Abwärts</strong>-Pfeilen sortiert werden. Das Tab ist nur beim eigenen Benutzerkonto sichtbar. Weitere Information zum Hinzufügen und Entfernen von Favoriten findest du auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/allgemeine-funktionen#80">Allgemeine Funktionen einrichten</a>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="70">4. Dashboard personalisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Das Dashboard wird angezeigt, wenn du dich im plentymarkets Backend anmeldest. Standardmäßig werden auf dem Dashboard aktuelle plentymarkets News und Statusmeldungen angezeigt. Über optionale Elemente hast du außerdem die Möglichkeit, Systemdaten direkt auf dem Dashboard anzuzeigen.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Dashboard-Bereich plentymarkets News regelmäßig lesen</div>
<div class="paragraph">
<p>Im Dashboard-Bereich <strong>plentymarkets News</strong> werden wichtige Statusmeldungen und News veröffentlicht. Daher kann das Tab <strong>Dashboard</strong> nicht geschlossen werden. Lies diese Informationen regelmäßig, damit du über Neuerungen und Störungen informiert bleibst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="_element_zum_dashboard_hinzufügen">4.1. Element zum Dashboard hinzufügen</h3>
<div class="paragraph">
<p>In der Grundeinstellung werden nur die plentymarkets News auf dem Dashboard angezeigt. Gehe wie unten beschrieben vor, um weitere Elemente zum Dashboard hinzuzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Element zum Dashboard hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wechsele in das Tab <strong>Dashboard</strong>.</p>
</li>
<li>
<p>Wähle das Element aus der Dropdown-Liste unten links. Beachte <a href="#tabelle-elemente">Tabelle 3</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Element</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Element wird zum Dashboard hinzugefügt.<br></p>
</li>
<li>
<p>Klicke auf die Kopfleiste des Elements und ziehe es an die gewünschte Position.</p>
</li>
</ol>
</div>
<table id="tabelle-elemente" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Verfügbare Elemente</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikel unter Meldebestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, wenn Artikel nachbestellt werden müssen. Die Anzeige wird nach Lagern sortiert.<br>
<strong><em>Tipp:</em></strong> Auf den Zahlenwert klicken, um das Menü <strong>Nachbestellung</strong> zu öffnen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufträge</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, wie viele Aufträge am aktuellen Tag hinzugekommen sind und wie viele Aufträge versendet wurden. Verlinkung zum <strong>Auftragsmenü</strong> mit Anzeige der Aufträge in der <strong>Auftragsübersicht</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Listings</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt an, wie viele Listings am aktuellen Tag und am Vortag hinzugekommen sind. Außerdem wird angezeigt, wie viele Listings aktuell und am Vortag erfolgreich waren und wie viele Listings fehlerhaft waren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Meine Aufgaben</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt Ihre <a href="/basics/arbeiten-mit-plentymarkets/aufgaben-und-kalender#100">Aufgaben</a> an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufsstatistik</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt die Umsätze nach Wochen sortiert an.<br>
<strong><em>Hinweis:</em></strong> Gutschriften werden als negative Umsätze am Tag ihrer Erstellung gebucht.<br>
<strong><em>Hinweis:</em></strong> Die Werte der Verkaufsstatistik dienen zur Orientierung. Eine korrekte statistische Auswertung bietet das Menü <strong>plentymarkets Logo (Start) » Statistik</strong>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zahlungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt eine Übersicht der Anzahl der nicht zugeordneten Zahlungen sowie die Anzahl der Zahlungen am aktuellen Tag und am Vortag.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect2">
<h3 id="_element_zum_dashboard_hinzufügen_2">4.2. Element zum Dashboard hinzufügen</h3>
<div class="paragraph">
<p>In der Grundeinstellung werden nur die plentymarkets News auf dem Dashboard angezeigt. Gehe wie unten beschrieben vor, um weitere Elemente zum Dashboard hinzuzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Element vom Dashboard entfernen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wechsele in das Tab <strong>Dashboard</strong>.</p>
</li>
<li>
<p>Klicke bei dem Element, das du entfernen möchtest, auf <strong>Close</strong>.<br>
→ Das Element wird vom Dashboard entfernt.<br>
<strong><em>Hinweis:</em></strong> Der Bereich <strong>plentymarkets News</strong> kann nicht vom Dashboard entfernt werden.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="80">5. Plugin-Sets im Backend aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Plugin-Sets und die in den Sets aktivierten Plugins können sowohl dazu benutzt werden, deinem Shop neue Funktionalitäten hinzuzufügen als auch, um dein Backend um Menüeinträge und Benutzerschnittstellen zu erweitern. Dabei kann jeder Benutzer ein eigenes Backend-Plugin-Set auswählen und die in dem Set aktivierten Plugins für das eigene Backend laden. Dies kann dann hilfreich sein, wenn du Zugriff auf bestimmte Funktionen benötigen, nicht jedoch auf andere. Wenn du das Plugin-Set für deine Backend-Ansicht ändern möchtest, gehe wie folgt vor.</p>
</div>
<div class="paragraph instruction">
<p>Backend-Plugin-Set wählen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke im plentymarkets Backend oben rechts auf das Benutzersymbol.</p>
</li>
<li>
<p>Klicke auf <strong>Backend-Plugin-Set</strong>.<br>
→ Das Fenster <strong>Backend-Plugin Set</strong> wird geöffnet.</p>
</li>
<li>
<p>Klicke auf ein Plugin-Set.<br>
→ Das gewählte Plugin-Set ist jetzt für dein Backend aktiviert.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Mehr über das Einrichten von Plugins und Plugin-Sets findest du im Themenbereich <a href="#plugins">Plugins</a>.</p>
</div>
</div>
</div>
</main>