<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#5"><span>1.</span><span> Benutzerrechte für Backend-Benutzer vergeben</span></a></li>
<li><a href="#10"><span>2.</span><span> Board erstellen</span></a></li>
<li><a href="#20"><span>3.</span><span> Spalte hinzufügen</span></a></li>
<li><a href="#30"><span>4.</span><span> Karte hinzufügen</span></a></li>
<li><a href="#40"><span>5.</span><span> Karte bearbeiten</span></a></li>
<li><a href="#50"><span>6.</span><span> Board bearbeiten</span></a></li>
<li><a href="#60"><span>7.</span><span> Ereignisaktionen einrichten</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Boards</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Durch das Verwenden von Boards kannst du den Workflow eines Projekts oder Arbeitsprozesses innerhalb deines Unternehmens visualisieren. Gängige Boards bestehen aus 3 Spalten: <em>Zu tun</em>, <em>In Arbeit</em> und <em>Erledigt</em>. Du entscheidest jedoch selbst, wie du das Board gestaltest und wieviele Spalten du verwendest.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="5">1. Benutzerrechte für Backend-Benutzer vergeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nutzer vom Typ <strong>Backend</strong> sehen nur bestimmte Bereiche und Menüs in plentymarkets. Somit können sie nur eingeschränkt im System arbeiten. Sollen Mitarbeiter mit diesem Nutzertyp das Menü <strong>plentymarkets Logo (Start) » Boards</strong> sehen können, muss ein Nutzer vom Typ <strong>Admin</strong> das im folgenden beschriebene Recht für diesen Benutzer vergeben.</p>
</div>
<div class="paragraph instruction">
<p>Sichtbarkeit für Backend-Benutzer einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Nutze die Suchfunktion (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>) und öffne den zu bearbeitenden Benutzer.</p>
</li>
<li>
<p>Klappe das Menü <strong>Berechtigungen: Start</strong> auf.</p>
</li>
<li>
<p>Wähle die Einstellung <strong>Boards</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="10">2. Board erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um ein Board zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Board erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Boards</strong>.<br>
→ <strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Board erstellen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Das Fenster <strong>Neues Board erstellen</strong> wird geöffnet.</p>
</li>
<li>
<p>Gib den Namen des Boards ein.</p>
</li>
<li>
<p><strong>Speichere</strong> die Einstellungen.<br>
→ Das Board wird erstellt und der Liste hinzugefügt.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="20">3. Spalte hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um Spalten zu dem Board hinzuzufügen. Du kannst beliebig viele Spalten hinzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Spalte hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Boards</strong>.<br>
→ <strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.</p>
</li>
<li>
<p>Klicke auf das Board, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Klicke auf auf der rechten Seite auf <strong>Neue Spalte hinzufügen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Die Spalte wird auf der linken Seite hinzugefügt.</p>
</li>
<li>
<p>Gib den Namen für die Spalte ein.</p>
</li>
<li>
<p>Füge weitere Spalten analog hinzu, bis du die gewünschte Anzahl an Spalten für das Board hast.<br>
→ <strong><em>Tipp:</em></strong> Du kannst die Position der Spalten auch verschieben.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="30">4. Karte hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um Karten zu dem Board hinzuzufügen. Du kannst beliebig viele Karten hinzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Karte hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Boards</strong>.<br>
→ <strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.</p>
</li>
<li>
<p>Klicke auf das Board, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Klicke in der Spalte, in der du eine neue Karte hinzufügen möchtest, unten auf <strong>Neue Karte hinzufügen</strong>.</p>
</li>
<li>
<p>Gib den Namen für die Karte ein.</p>
</li>
<li>
<p>Klicke auf <strong>Neue Karte speichern</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>).</p>
</li>
<li>
<p>Füge weitere Karten analog hinzu, bis du die gewünschte Anzahl an Karten für das Board hinzugefügt hast.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="40">5. Karte bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Du kannst die Karten auf dem Board jederzeit bearbeiten. Verknüpfe die Karte z.B. mit einem Kontakt, einem Auftrag und einem Ticket oder füge Eigner und Tags hinzu. Gehe dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Karte bearbeiten:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>plentymarkets Logo (Start) » Boards</strong>.<br>
→ <strong><em>Tipp:</em></strong> Zeige dazu mit der Maus auf das plentymarkets Logo oben links.</p>
</li>
<li>
<p>Klicke auf das Board, das du bearbeiten möchtest.</p>
</li>
<li>
<p>Klicke in der Karte, die du bearbeiten möchtest, auf den Pfeil oben rechts (<span class="icon"><i class="fa fa-angle-down"></i></span>).<br>
→ Das Einstellungsmenü öffnet sich.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-boards-karte-bearbeiten">Tabelle 1</a>.</p>
</li>
</ol>
</div>
<table id="tabelle-boards-karte-bearbeiten" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Einstellungen im Menü <strong>plentymarkets Logo (Start) » Boards</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Karte bearbeiten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text zur Karte eingeben und ggf. formatieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Karte löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit einem Klick auf <strong>Karte löschen</strong> die Karte löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kontakt verknüpfen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Kontakt-ID eingeben, um die Karte mit dem Kontakt zu verknüpfen.<br>
<strong><em>Hinweis:</em></strong> Wenn die Karte mit dem Kontakt verknüpft ist, wird ein Symbol auf der Karte angezeigt. Über dieses Symbol den Kontakt direkt im Menü <strong>CRM » Kontakte</strong> öffnen oder die Verknüpfung zum Kontakt löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ticket verknüpfen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ticket-ID eingeben, um die Karte mit dem Ticket zu verknüpfen.<br>
<strong><em>Hinweis:</em></strong> Wenn die Karte mit dem Ticket verknüpft ist, wird ein Symbol auf der Karte angezeigt. Über dieses Symbol das Ticket direkt im Menü <strong>CRM » Ticketsystem</strong> öffnen oder die Verknüpfung zum Ticket löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftrag verknüpfen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftrags-ID eingeben, um die Karte mit dem Auftrag zu verknüpfen.<br>
<strong><em>Hinweis:</em></strong> Wenn die Karte mit dem Auftrag verknüpft ist, wird ein Symbol auf der Karte angezeigt. Über dieses Symbol den Auftrag direkt im Menü <strong>Aufträge » Aufträge bearbeiten</strong> öffnen oder die Verknüpfung zum Auftrag löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Benutzer hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eigner aus der Liste wählen, um diesen Eigner der Karte hinzuzufügen.<br>
Wenn der Eigner der Karte hinzugefügt ist, wird ein Symbol mit den Initialen bzw. dem Anfangsbuchstaben des Eigners auf der Karte angezeigt.<br>
<strong><em>Tipp:</em></strong> Um den Benutzer zu entfernen, den Mauszeiger über das Symbol bewegen und auf <strong>Benutzer entfernen</strong> klicken.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tag hinzufügen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tag aus der Liste wählen, um dieses Tag der Karte hinzuzufügen.<br>
<strong><em>Wichtig:</em></strong> In der Liste stehen nur Tags zur Verfügung, die zuvor im Menü <strong>Einrichtung » Einstellungen » Tags</strong> erstellt wurden. Weitere Informationen findest du auf der Handbuchseite <a href="/basics/arbeiten-mit-plentymarkets/tags">Tags</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">6. Board bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beim Öffnen des Menüs <strong>plentymarkets Logo (Start) » Boards</strong> siehst du auf jedem erstellten Board in der Liste die Anzahl der Karten und Spalten, den Namen des Boards sowie den Zeitraum der letzten Änderung. Klicke auf <strong>Board umbenennen</strong> (<span class="icon"><i class="fa fa-pencil" style="background-color:yellow"></i></span>), um einen neuen Namen für das Board einzugeben. Klicke auf <strong>Board löschen</strong> (<span class="icon"><i class="fa fa-minus-square" style="color:red"></i></span>), um das Board zu löschen.</p>
</div>
<div class="paragraph">
<p>Um das Board zu bearbeiten, klicke auf den Namen des Boards. Dort kannst du neue Spalten und Karten hinzufügen und die Karten bearbeiten. Beachte dazu die Erläuterungen in <a href="#tabelle-boards-karte-bearbeiten">Tabelle 1</a>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="60">7. Ereignisaktionen einrichten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Einrichtung » CRM » Ticketsystem » Ereignisse</strong> erstellst du Ereignisaktionen, die z.B. die Karten auf deinen Boards automatisch in eine von dir festgelegte Spalte verschieben, sobald ein bestimmtes Ereignis eintritt. Auch das Verschieben von Karten auf ein anderes Board ist möglich. Außerdem kannst du für neu erstellte Karten einen Präfix wählen oder Karten löschen, sobald ein bestimmtes Ereignis eintritt.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen zum Erstellen von Ereignisaktionen findest du im Kapitel <a href="/crm/ticketsystem-nutzen#2900">E-Mail-Vorlage automatisch versenden</a> auf der Handbuchseite <a href="/crm/ticketsystem-nutzen">Ticketsystem nutzen</a>.</p>
</div>
</div>
</div>
</main>