<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_element_zur_startseite_hinzufügen"><span>1.</span><span> Element zur Startseite hinzufügen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Dashboard</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Die Startseite wir angezeigt, wenn Sie sich im plentymarkets Backend anmelden. Standardmäßig werden auf der Startseite aktuelle plentymarkets News und Statusmeldungen angezeigt. Über optionale Elemente haben Sie außerdem die Möglichkeit, sich Systemdaten direkt auf der Startseite anzeigen zu lassen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_element_zur_startseite_hinzufügen">1. Element zur Startseite hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der Grundeinstellung werden nur die plentymarkets News auf der Startseite angezeigt. Gehen Sie wie unten beschrieben vor, um weitere Elemente zur Startseite hinzuzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Element zur Startseite hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wechseln Sie auf die Startseite.</p>
</li>
<li>
<p>Wählen Sie aus der Dropdown-Liste unten links das Element, das Sie zur Startseite hinzufügen möchten. Beachten Sie Tabelle 1.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neues Element</strong>.<br>
→ Das Element wird zur Startseite hinzugefügt.</p>
</li>
<li>
<p>Klicken Sie auf die Kopfleiste des Elements und verschieben Sie es an die gewünschte Position auf der Startseite.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Verfügbare Elemente</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Element</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Artikel unter Meldebestand</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt an, wenn Artikel nachbestellt werden müssen. Die Anzeige wird nach Lagern sortiert. Durch Klicken auf den Zahlenwert öffnen Sie das Menü <strong>Nachbestellung</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Aufträge</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt an, wie viele Aufträge am aktuellen Tag hinzugekommen sind und wie viele Aufträge versendet wurden. Verlinkung zum <strong>Auftragsmenü</strong> mit Anzeige der Aufträge in der <strong>Auftragsübersicht</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Listings</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt an, wie viele Listings am aktuellen Tag und am Vortag hinzugekommen sind. Außerdem erhalten Sie Informationen dazu, wie viele Listings aktuell und am Vortag erfolgreich waren und wie viele Listings fehlerhaft waren.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Meine Aufgaben</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt Ihre <a href="/basics/arbeiten-mit-plentymarkets/aufgaben">Aufgaben</a> an.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Verkaufsstatistik</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt Ihre Umsätze nach Wochen sortiert an.<br>
<strong><em>Hinweis:</em></strong> Gutschriften werden als negative Umsätze am Tag ihrer Erstellung gebucht.<br>
<strong><em>Hinweis:</em></strong> Die Werte der Verkaufsstatistik dienen zur Orientierung. Eine korrekte statistische Auswertung erhalten Sie über das Menü <strong>Start » Statistik</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Zahlungen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt Übersicht der Anzahl Ihrer nicht zugeordneten Zahlungen sowie die Anzahl der Zahlungen am aktuellen Tag und am Vortag.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>