<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_sichtbarkeit_des_menüs_für_variablen_benutzer_einstellen"><span>1.</span><span> Sichtbarkeit des Menüs für variablen Benutzer einstellen</span></a></li>
<li><a href="#_löschwerte_eingeben"><span>2.</span><span> Löschwerte eingeben</span></a></li>
<li><a href="#_tickets_automatisch_löschen"><span>3.</span><span> Tickets automatisch löschen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Datenbereinigung durchführen</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Auf dieser Handbuchseite wird beschrieben, wie Sie im Menü <strong>System » Einstellungen » Daten » Bereinigung</strong> bestimmte Datensätze nach Ablauf eines Zeitraums, den Sie selbst festlegen, automatisch löschen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_sichtbarkeit_des_menüs_für_variablen_benutzer_einstellen">1. Sichtbarkeit des Menüs für variablen Benutzer einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit für Benutzer mit der Benutzerklasse <strong>Variabel</strong> das Menü <strong>System » Einstellungen » Daten » Bereinigung</strong> sichtbar ist, muss dieses Menü im Benutzerkonto freigeschaltet werden.</p>
</div>
<div class="paragraph">
<p>Außerdem müssen Berechtigungen im Bereich <strong>REST-API</strong> aktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Sichtbarkeit des Menüs für variablen Benutzer einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Benutzer mit der Benutzerklasse <strong>Variabel</strong>, für den Sie die Sichtbarkeit des Menüs aktivieren möchten.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Berechtigung</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Menü</strong>.</p>
</li>
<li>
<p>Klappen Sie den Bereich <strong>Einstellungen » Grundeinstellungen » Daten</strong> auf.</p>
</li>
<li>
<p>Aktivieren Sie die Option <strong>Bereinigung</strong>.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>REST-API</strong>.</p>
</li>
<li>
<p>Klappen Sie den Bereich <strong>Datenbereinigung</strong> auf.</p>
</li>
<li>
<p>Aktivieren Sie die Optionen <strong>Konfiguration anzeigen</strong> und <strong>Konfiguration speichern</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="_löschwerte_eingeben">2. Löschwerte eingeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit Datensätze nach Ablauf eines bestimmten Zeitraums automatisch aus Ihrem plentymarkets System gelöscht werden, müssen Sie Werte für diesen Zeitraum eingeben. Gehen Sie dazu wie im Folgenden beschrieben vor.</p>
</div>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Weitere Funktionen in diesem Menü werden sukzessive ergänzt</div>
<div class="paragraph">
<p>Aktuell können Sie unzugeordnete Adressen automatisch löschen. Sukzessive werden weitere Bereiche in diesem Menü ergänzt.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>Löschwerte eingeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Einstellungen » Daten » Bereinigung</strong>.</p>
</li>
<li>
<p>Geben Sie im Eingabefeld einen Wert ein.</p>
</li>
<li>
<p>Beachten Sie die Erläuterungen in <a href="#tabelle-einstellungen-daten-bereinigung">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-einstellungen-daten-bereinigung" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Einstellungen im System » Einstellungen » Daten » Bereinigung</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löschung ungenutzter Adressen (nach Tagen)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zahl in Tagen eingeben. Maximal möglicher Wert = 365 Tage. Nach diesem Zeitraum werden ungenutzte Adressen automatisch aus dem plentymarkets System gelöscht. Ungenutzte Adressen sind Adressen, die keine Verknüpfung haben.<br>
<strong><em>Wichtig:</em></strong> Adressen werden nur gelöscht, wenn ein Wert gespeichert wurde. Wenn kein Wert gespeichert wurde, werden ungenutzte Adressen nicht gelöscht.<br>
Wenn Adressen nicht mehr nach Ablauf des eingegebenen Wertes gelöscht werden sollen, Wert entfernen und erneut speichern.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock note">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="title">Anzahl der zu löschenden Datensätzen</div>
<div class="paragraph">
<p>Aktuell liegt die Anzahl der zu löschenden Adressen bei 5000 Datensätzen pro Tag. Die weiteren Datensätze, die über dieses Menü zukünftig gelöscht werden können, bekommen zunächst ein Limit von 2000 Datensätzen. plentymarkets wird dieses Verhalten beobachten und ggf. ebenfalls auf einen höheren Wert anpassen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="_tickets_automatisch_löschen">3. Tickets automatisch löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Löschen Sie Tickets automatisch aus Ihrem Ticketsystem. Diese Einstellung nehmen Sie nicht im Menü <strong>System » Einstellungen » Daten » Bereinigung</strong> vor, sondern über den Aktionsmanager im Ticketsystem im Menü <strong>System » CRM » Ticketsystem » Aktionen</strong>.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen über das Ticketsystem sowie ein Beispielszenario zum Löschen von Tickets finden Sie auf der Handbuchseite <a href="/crm/ticketsystem-nutzen#3000">Ticketsystem nutzen</a>.</p>
</div>
</div>
</div>
</main>