<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Drucker hinzufügen</span></a></li>
<li><a href="#20"><span>2.</span><span> Drucker mit verschiedenen Papierfächern konfigurieren (nur Windows)</span></a></li>
<li><a href="#30"><span>3.</span><span> Drucker freigeben</span></a></li>
<li><a href="#40"><span>4.</span><span> Fehlerursachen und Fehler beheben</span></a></li>
<li><a href="#50"><span>5.</span><span> Etiketten drucken</span></a>
<ul class="sectlevel2">
<li><a href="#60"><span>5.1.</span><span> Zebra GC420d auf Ihrem Rechner installieren</span></a></li>
<li><a href="#65"><span>5.2.</span><span> Zebra-Drucker mit ZPL-Plugin einrichten (nur Mac OSX)</span></a></li>
<li><a href="#70"><span>5.3.</span><span> Etikettendruck konfigurieren</span></a></li>
<li><a href="#80"><span>5.4.</span><span> Fehlerhaften Etikettendruck korrigieren</span></a></li>
</ul>
</li>
<li><a href="#90"><span>6.</span><span> Druckverlauf anzeigen</span></a></li>
<li><a href="#100"><span>7.</span><span> Drucker löschen</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Drucker</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Der plentymarkets Client ermöglicht die optimale Verknüpfung von plentymarkets mit lokal installierten Endgeräten. Im Menü <strong>plentymarkets Client » Einstellungen » Grundeinstellungen » Drucker</strong> richten Sie lokal bzw. in Ihrem Netzwerk installierte Drucker in plentymarkets ein. Den Download des plentymarkets Client finden Sie auf unserer <strong><a href="https://www.plentymarkets.eu/produkt/prozesse/plentymarkets-client/">Website</a></strong>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Drucker hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um einen Drucker hinzuzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Neuen Drucker hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>plentymarkets Client » Einstellungen » Grundeinstellungen » Drucker</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das Kontextmenü im Menübaum.<br>
→ Der Button <strong>Neuer Drucker</strong> wird eingeblendet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neuer Drucker</strong>.<br>
→ Das Konfigurationsmenü wird geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie die Erläuterungen in Tabelle 1.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Der Drucker wird im Menübaum angezeigt.</p>
</li>
<li>
<p>Drucken Sie vor dem Produktiveinsatz einige Testseiten/-etiketten und experimentieren Sie ggf. mit verschiedenen Drucker-Plugin.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Drucker einrichten</caption>
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Testseite</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Druckereinstellungen durch den Ausdruck einer Testseite prüfen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Name eingeben. Der Name ist frei wählbar. So lassen sich mehrere gleiche Drucker unterschiedlich benennen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Drucker</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt die Drucker, die lokal oder im Netzwerk verfügbar sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Drucker-Dialog</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, ob der Drucker-Dialog vor dem Ausdrucken geöffnet oder nicht geöffnet werden soll.<br>
<strong>öffnen</strong>= Die Ausrichtung und weitere Angaben müssen vor jedem Druck gemacht werden.<br>
<strong>nicht öffnen</strong>= Die Ausrichtung und weitere Angaben werden in diesem Menü eingestellt und für den Druck verwendet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Papierfach</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ein Papierfach wählen. Die verfügbare Auswahl ist abhängig vom gewählten Drucker. <br>
Wenn Sie mit verschiedenen Papierformaten arbeiten, beachten Sie die Hinweise im nachfolgenden Unterkapitel. <br>
<strong>Hinweis</strong>: Dieses Feature ist nur für Windows verfügbar.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Papierformat</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ein Papierformat wählen. Bei Wahl eines benutzerdefinierbaren Papierformats, z.B. des Papierformats <strong>Custom</strong>, werden Eingabefelder für die <strong>Breite</strong> und <strong>Höhe</strong> des Druckmediums eingeblendet. Die Papierformate werden vom Drucker bereitgestellt, daher können die Bezeichnungen abweichen. <br>
Wenn mehrere Formate benötigt werden, richten Sie weitere Drucker ein, denen Sie die unterschiedlichen Formate zuordnen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Doppelseitiger Druck</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wird derzeit vom Client nicht unterstützt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Skalierung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine Skalierung wählen. <br>
<strong>Auf Seitengröße (Proportion nicht berücksichtigen)</strong> = Der Ausdruck wird auf die Gesamtgröße des Druckbereichs skaliert. Diese Einstellung kann zu einer verzerrten Darstellung führen. <br>
<strong>Auf Seitengröße (Proportion berücksichtigen)</strong> = Der Ausdruck wird innerhalb des Druckbereichs auf die größtmögliche Größe skaliert, bei der keine Verzerrung auftritt. <br>
<strong>Keine</strong> = Der Ausdruck wird nicht skaliert.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ausrichtung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine Ausrichtung wählen, um ausschließlich in einer Ausrichtung zu drucken. Die hier angezeigten Optionen stammen vom Drucker und unterscheiden sich abhängig vom Drucker. <br>
<strong>portrait</strong> = Ausrichtung im Hochformat <br>
<strong>landscape</strong> = Ausrichtung im Querformat <br>
<strong>Automatische Seitenausrichtung</strong> = Diese Option befindet sich weiter unten im Menü. Sie bewirkt, dass die Ausrichtung automatisch erfolgt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Oben, Unten, Links, Rechts</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Optional Abstände in mm eingeben, um die Positionierung des Inhalts auf der Seite zu bestimmen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Automatische Seitenausrichtung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Aktivieren, um den Seiteninhalt automatisch auf der Seite auszurichten.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Drucker-Plugin</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, über welches Plugin der Drucker angesteuert werden soll.<br>
<strong><em>Tipp:</em></strong> Vor dem Produktiveinsatz Testseiten/-etiketten drucken, um die Druckqualität verschiedener Drucker-Plugins zu testen.<br>
<strong>Standard</strong> = Der Standard für das Betriebssystem wird verwendet.<br>
<strong>Cups</strong>, <strong>PDFBox</strong> = Wählen, wenn die Druckqualität mit der Option <strong>Standard</strong> nicht ausreicht.<br>
<strong>ZPL</strong> (Zebra Programming Language) = Plugin für Zebra-Etikettendrucker.<br>
<strong><em>Hinweis zum ZPL-Plugin:</em></strong> Das ZPL-Plugin ist für eine native Auflösung von 203 dpi optimiert. Bei anderen Auflösungen kann die Größe der Etiketten abweichen. Bei abweichender Etikettengröße 203 dpi wählen oder ein anderes Drucker-Plugin verwenden.<br>
<strong><em>Hinweis zum ZPL-Plugin:</em></strong> Für eine optimale Nutzung des ZPL-Plugins muss der Drucker unter Mac OSX über das CUPS-Webinterface im <a href="/basics/arbeiten-mit-plentymarkets/drucker#65"><strong>RAW-Modus</strong></a> hinzugefügt werden.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Erfahren Sie mehr zum Einrichten von Druckern im folgenden Videotutorial:</p>
</div>
<div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/84490521" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="20">2. Drucker mit verschiedenen Papierfächern konfigurieren (nur Windows)</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn Sie über einen Drucker mit verschiedenen Papierfächern verfügen und mit verschiedenen Papierformaten arbeiten möchten, können Sie ein Druckerprofil pro Papierfach erstellen.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Beispielkonfiguration für verschiedene Formate</div>
<div class="paragraph">
<p>Sie möchten Rechnungen im Format DIN A4 und Etiketten im Format DIN A6 drucken.</p>
</div>
<div class="paragraph">
<p>Richten Sie ein Druckerprofil mit dem Papierformat DIN A4 und ein weiteres Druckerprofil mit dem Papierformat DIN A6 ein. Wählen Sie dabei den gleichen Drucker und ordnen Sie das passende Papierfach zu.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Drucker freigeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Druckerprofile werden benutzerabhängig auf dem Rechner gespeichert. Sie stehen also nicht für andere Benutzer eines Rechners zur Verfügung. Wenn ein Druckerprofil auch für andere Benutzer zur Verfügung stehen soll, muss das Profil freigegeben werden. Die Freigabe erfolgt auf Ihrem Rechner und nicht in plentymarkets. Wie Sie Drucker auf Ihrem Rechner freigeben, finden Sie in der Hilfe für Ihr Betriebssystem:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Für Windows z.B. <strong><a href="http://windows.microsoft.com/de-de/windows/share-printer#1TC=windows-7" target="_blank">hier</a></strong></p>
</li>
<li>
<p>Für Mac z.B. <strong><a href="https://support.apple.com/de-de/HT4670" target="_blank">hier</a></strong></p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="40">4. Fehlerursachen und Fehler beheben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgende Tabelle enthält Informationen zu Fehlercodes, die beim Einrichten des Druckers auftreten können.</p>
</div>
<table class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Fehlermeldungen im Menü <strong>Drucker</strong></caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
<col style="width: 25%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Code</th>
<th class="tableblock halign-left valign-top">Fehler</th>
<th class="tableblock halign-left valign-top">Ursache</th>
<th class="tableblock halign-left valign-top">Fehler beheben</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>2000</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Unter Mac OS X: Kein CUPS Drucker gefunden.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Kein angeschlossener Drucker verfügt über eine Netzwerkfreigabe. Diese Freigabe ist für die Druckerkommunikation über CUPS erforderlich.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/arbeiten-mit-plentymarkets/drucker#30"><strong>Drucker freigeben</strong></a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>2001</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Unter Mac OS X: Unbekannter CUPS Drucker.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Unter dem angegebenen Namen konnte kein Drucker im Netzwerk gefunden werden.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="/basics/arbeiten-mit-plentymarkets/drucker#30"><strong>Drucker freigeben</strong></a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>2100</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Testseite konnte nicht gedruckt werden.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Falsche Client-Version. Benötigt wird mindestens Version 121.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><a href="https://www.plentymarkets.eu/produkt/prozesse/plentymarkets-client/"><strong>Aktuellen Client herunterladen</strong></a></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>2101</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Fehler beim Drucken.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Verschiedene Ursachen möglich.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>2102</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Drucker wurde nicht gefunden.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Der Drucker ist im System nicht mehr vorhanden. Konfiguration ggf. nicht mehr korrekt.</p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Neuen Drucker hinzufügen oder anderen Drucker verwenden.</p>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="50">5. Etiketten drucken</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zum Drucken von Etiketten werden Etikettendrucker eingesetzt, die ein schnelles Ausdrucken großer Etikettenmengen ermöglichen. Dazu sind diese Drucker mit Etikettenrollen ausgestattet sowie, je nach Modell, mit einer Schneidevorrichtung. In den Einstellungen des Menüs <strong>plentymarkets Client » Einstellungen » Grundeinstellungen » Drucker</strong> legen Sie über die Option <strong>Papierformat</strong> die exakte Größe eines Etiketts fest. Sie wählen zwischen Standardformaten und einer frei konfigurierbaren Option, über die Sie benutzerdefinierte Größen hinterlegen (Tabelle 1).</p>
</div>
<div class="paragraph">
<p>Die Druckfunktionen sind mit üblichen Etikettendruckern kompatibel und wurden für Etikettendruckermodelle des Herstellers <a href="http://www.zebra.com" target="_blank"><strong>Zebra</strong></a> optimiert. Für den Einsatz als Desktop-Drucker empfehlen wir das Modell <a href="http://www.zebra.com/gb/en/products-services/printers/printer-type/desktop/g-series-gc.html" target="_blank"><strong>Zebra GC420d</strong></a>.</p>
</div>
<div class="sect2">
<h3 id="60">5.1. Zebra GC420d auf Ihrem Rechner installieren</h3>
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um das Druckermodell Zebra GC420d unter den Betriebssystemen Windows und Mac OSX zu installieren.</p>
</div>
<div class="paragraph instruction">
<p>Zebra GC420d installieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Laden Sie die <strong><a href="http://www.zebra.com/gb/en/support-downloads/desktop/gx430t.html#mainpartabscontainer_999b=drivers" target="_blank">Zebra Setup Utilities</a></strong>-Datei auf Ihren Rechner herunter.</p>
</li>
<li>
<p>Installieren Sie diese Datei.</p>
</li>
<li>
<p>Durchlaufen Sie den Installationsassistenten.<br>
→ Windows: Wählen Sie den Drucker ZDesigner GC420d. Hier ist der Druckertreiber ZPL eingestellt.<br>
→ Mac OSX: Stellen Sie den Druckertreiber ZPL ein. Testen Sie die Treibereinstellung für jede Etikettengröße. Um das Drucker-Plugin <strong>ZPL</strong> zu nutzen, konfigurieren Sie den Drucker für den <a href="/basics/arbeiten-mit-plentymarkets/drucker#65"><strong>RAW-Druck</strong></a>.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="65">5.2. Zebra-Drucker mit ZPL-Plugin einrichten (nur Mac OSX)</h3>
<div class="paragraph">
<p>Um das ZPL-Plugin unter Mac OSX optimal zu nutzen, muss der Zebra-Drucker so konfiguriert werden, dass er Druckaufträge im RAW-Format empfängt. Beim Drucken im RAW-Format werden Druckdaten in der nativen Sprache des Druckers gesendet. Dabei bleiben die Druckdaten unverändert, da der Druckertreiber des Betriebssystems umgangen wird.</p>
</div>
<div class="paragraph">
<p>Den RAW-Druck konfigurieren Sie über die CUPS-Webschnittstelle. Gehen Sie wie unten beschrieben vor, um die CUPS-Webschnittstelle zu aktivieren und die Konfiguration des Druckers vorzunehmen.</p>
</div>
<div class="paragraph instruction">
<p>ZPL-Plugin: CUPS-Webschnittstelle aktivieren (nur Mac OSX):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie mit der Tastenkombination "cmd" + "Leertaste" die Spotlight-Suche.</p>
</li>
<li>
<p>Geben Sie den Begriff <strong>Terminal</strong> ein.</p>
</li>
<li>
<p>Betätigen Sie die Eingabetaste.<br>
→ Das Terminal wird geöffnet.</p>
</li>
<li>
<p>Geben Sie im Terminal den Befehl <strong>sudo cupsctl WebInterface=yes</strong> ein.</p>
</li>
<li>
<p>Betätigen Sie die Eingabetaste.<br>
→ Sie werden aufgefordert, Ihr Passwort einzugeben.</p>
</li>
<li>
<p>Geben Sie Ihr Passwort ein.<br>
→ Die CUPS-Webschnittstelle ist aktiviert.</p>
</li>
</ol>
</div>
<div class="paragraph instruction">
<p>ZPL-Plugin: Raw-Modus für Zebra-Drucker einrichten (nur Mac OSX):</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Navigieren Sie in einem Webbrowser zu der Adresse <strong><a href="http://localhost:631" class="bare">http://localhost:631</a></strong>.<br>
→ Die CUPS-Webschnittstelle wird angezeigt.</p>
</li>
<li>
<p>Wechseln Sie in das Tab <strong>Administration</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Add Printer</strong>.<br>
→ Sie werden aufgefordert, Ihre Benutzerdaten einzugeben.</p>
</li>
<li>
<p>Geben Sie Benutzerdaten und Passwort ein.<br>
→ Die Seite <strong>Add Printer</strong> wird angezeigt.</p>
</li>
<li>
<p>Wählen Sie den Zebra-Drucker aus der Liste.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Continue</strong>.</p>
</li>
<li>
<p>Geben Sie einen Namen, eine Beschreibung und einen Standort für den Drucker ein.</p>
</li>
<li>
<p>Markieren Sie <strong>Share This Printer</strong>, um den Drucker mit anderen Benutzern zu teilen.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Continue</strong>.</p>
</li>
<li>
<p>Wählen Sie in der Liste <strong>Make</strong> die Option <strong>Raw</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Continue</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Add Printer</strong>.</p>
</li>
<li>
<p>Lassen Sie die Einstellungen <strong>Starting Banner</strong> und <strong>Ending Banner</strong> auf <strong>none</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Set Default Options</strong>.<br>
→ Ihr Zebra-Drucker kann Druckaufträge im RAW-Format empfangen.<br>
<strong><em>Hinweis:</em></strong> Der Zebra-Drucker wird nicht in den Systemeinstellungen angezeigt, ist aber eingerichtet und für den Client sichtbar.</p>
</li>
<li>
<p>Wählen Sie im Menü <strong>plentymarkets Client » Einstellungen » Grundeinstellungen » Drucker</strong> das Drucker-Plugin <strong>ZPL</strong>, um den Drucker hinzuzufügen.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="70">5.3. Etikettendruck konfigurieren</h3>
<div class="paragraph">
<p>Die Größe und Breite Ihrer Etiketten konfigurieren Sie in plentymarkets. Fügen Sie hierfür den Etikettendrucker zur Druckerliste hinzu. Gehen Sie dazu wie unten beschrieben vor. Beispielhaft wird das Konfigurieren von Etiketten mit dem Format 104 x 150 beschrieben.</p>
</div>
<div class="paragraph instruction">
<p>Drucker mit Etikett 104 x 150 hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>plentymarkets Client » Einstellungen » Grundeinstellungen » Drucker</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das Kontextmenü im Menübaum.<br>
→ Der Button <strong>Neuer Drucker</strong> wird eingeblendet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neuer Drucker</strong>.<br>
→ Das Konfigurationsmenü wird geöffnet.</p>
</li>
<li>
<p>Geben Sie einen Namen ein.</p>
</li>
<li>
<p>Wählen Sie aus der Dropdown-Liste <strong>Drucker</strong> den Etikettendrucker.</p>
</li>
<li>
<p>Wählen Sie <strong>nicht öffnen</strong> für den <strong>Druckerdialog</strong>.</p>
</li>
<li>
<p>Wählen Sie <strong>Ungültige Auswahl</strong> für das <strong>Papierfach</strong>.</p>
</li>
<li>
<p>Wählen Sie <strong>Custom</strong> für das <strong>Papierformat</strong>.</p>
</li>
<li>
<p>Geben Sie <strong>150</strong> als <strong>Papierhöhe</strong> ein.</p>
</li>
<li>
<p>Geben Sie <strong>104</strong> als <strong>Papierbreite</strong> ein.</p>
</li>
<li>
<p>Lassen Sie die Option einseitig für doppelseitigen Druck.</p>
</li>
<li>
<p>Wählen Sie <strong>auf Seitengröße (Proportion nicht beachten)</strong> für die <strong>Skalierung</strong>.</p>
</li>
<li>
<p>Wählen Sie <strong>Hochformat</strong> für die <strong>Ausrichtung</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Tipp bei verschiedenen Etikettengrößen</div>
<div class="paragraph">
<p>Wenn Sie verschiedene Etikettengrößen verwenden, können Sie entweder die Papierhöhe und Papierbreite beim Wechsel der Etikettengröße anpassen oder pro Etikettengröße einen eigenen Drucker anlegen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="80">5.4. Fehlerhaften Etikettendruck korrigieren</h3>
<div class="paragraph">
<p>Wenn der Druck leicht versetzt, der Hauptteil auf dem Label jedoch erkennbar ist, empfehlen wir, die Ausrichtung über die Einstellungen <strong>Oben</strong>, <strong>Links</strong>, <strong>Unten</strong> und <strong>Rechts</strong> anzupassen.</p>
</div>
<div class="paragraph">
<p>Wenn nur ein kleiner Teil der Angaben auf dem Etikett gedruckt wird oder Ihr Etikett komplett leer bleibt, passen Sie den Druckertreiber an. Insbesondere auf Apple-Rechnern hängt der korrekte Druck häufig vom Treiber ab, aber auch bei Windows-Computern kann dies die Fehlerursache sein. <br>
Für Windows empfehlen wir Ihnen, den Drucker ZDesigner GC420d mit dem Treiber ZPL zu installieren. In einigen Fällen kann aber der ZDesigner GC420d (EPL) mit dem Druckertreiber EPL bessere Druckergebnisse liefern.</p>
</div>
<div class="paragraph">
<p>Wenn das Etikett wieder korrekt gedruckt wird, legen Sie sich einen Drucker mit den korrekten Einstellungen für das Etikett an, so dass Sie die Einstellungen wiederverwenden können. Wir empfehlen dazu, den Drucker mehrfach mit verschiedenen Treibern auf Ihrem Rechner zu installieren, denn so können Sie, wenn ein Etikett nicht korrekt gedruckt wird, den Druck schnell mit einem anderen Treiber noch einmal versuchen.</p>
</div>
<div class="paragraph">
<p>Eine weitere Ursache für einen fehlerhaften Druck kann sein, dass der Prozess statt auf die Etiketteneinstellungen in plentymarkets auf die Etikettenparameter Ihres Druckers zugreift. Tragen Sie eventuell Etikettenparameter in Ihren Druckereinstellungen nach.</p>
</div>
<div class="paragraph">
<p>Ab plentymarkets 7 stehen außerdem verschiedene Drucker-Plugins zur Auswahl. Wenn Sie mit der Druckqualität nicht zufrieden sind, experimentieren Sie mit den verschiedenen Drucker-Plugins.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="90">6. Druckverlauf anzeigen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Druckverlauf werden Ihre Druckaufträge der letzten Tage und Wochen angezeigt. Die Anzahl der angezeigten Druckaufträge beträgt maximal 10.000. Wenn diese Zahl überschritten wird, werden die ältesten 100 Einträge aus dem Verlauf entfernt. Die Druckaufträge werden zwischengespeichert, um sie an den Drucker weiterzuleiten. Sobald der Druckauftrag zwischengespeichert wurde, wird der Druck im Druckverlauf aufgeführt. Wenn z.B. Papier fehlt oder andere Probleme mit dem Drucker auftreten, kann es also sein, dass Druckaufträge im Verlauf stehen, die nicht gedruckt wurden.</p>
</div>
<div class="paragraph instruction">
<p>Druckverlauf anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>plentymarkets Client » Extras</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Druckverlauf öffnen</strong><br>
→ Der Druckverlauf wird geöffnet.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Im Druckverlauf haben Sie die Möglichkeit, Dokumente erneut zu drucken oder Druckaufträge aus dem Verlauf zu löschen. Beim Öffnen des Verlaufs werden standardmäßig 20 Einträge pro Seite angezeigt. Sie können aber auch 50 oder 100 Einträge pro Seite anzeigen. Um Aufträge zu löschen oder erneut zu drucken, markieren Sie diese Aufträge. Sie können alle Aufträge einer Seite oder einzelne Aufträge markieren.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="100">7. Drucker löschen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um einen Drucker zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Drucker löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>plentymarkets Client » Einstellungen » Grundeinstellungen » Drucker</strong>.</p>
</li>
<li>
<p>Klicken Sie auf den Drucker.<br>
→ Das Konfigurationsmenü wird geöffnet.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Löschen</strong>.<br>
→ Der Drucker wird gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
</main>