<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_bereiche_aktivieren"><span>1.</span><span> Bereiche aktivieren</span></a></li>
<li><a href="#_css_des_editors"><span>2.</span><span> CSS des Editors</span></a></li>
<li><a href="#_konfiguration"><span>3.</span><span> Konfiguration</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Editoren</h1><div class="sect1">
<h2 id="_bereiche_aktivieren">1. Bereiche aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der Standardeinstellung sind in allen Bereichen die Editoren <strong>Editor</strong>, <strong>Syntax-Editor</strong> und <strong>Textfeld</strong> aktiviert. Diese können für jeden Bereich deaktiviert werden. Im Menü <strong>System » Einstellungen » Editoren » Tab: Bereiche</strong> wählen Sie, welche Editoren im Dropdown-Menü des jeweiligen Bereichs angezeigt werden sollen.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_css_des_editors">2. CSS des Editors</h2>
<div class="sectionbody">
<div class="paragraph">
<p>In der Standardeinstellung wird für den <strong><a href="/omni-channel/online-shop/cms#webdesign-werkzeuge-editor">Editor</a></strong> das CSS des Bereichs <strong>CSSContent</strong> verwendet. Wenn dort z.B. ein Hintergrundbild verwendet wird und das bei der Bearbeitung im Editor stört, können Sie das CSS in diesem Menü anpassen. Alternativ steht ein weißer Hintergrund zur Verfügung oder die Möglichkeit, ein eigenes CSS zu erstellen, in dem Sie auch die Formatierung weiterer Inhalte, z.B. Schriften, individuell festlegen können.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_konfiguration">3. Konfiguration</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die folgende Tabelle erläutert die Optionen im Menü <strong>System » Einstellungen » Editoren</strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Wie im Webshop</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Das <a href="/omni-channel/online-shop/cms#webdesign-webdesign-bearbeiten-css"><strong>Webshop-CSS</strong></a> wird in den Editor geladen. Dieses CSS befindet sich im Menü <strong>CMS » Webdesign » Layout » CSS » CSSContent</strong>.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Standard</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Ein einfaches Standard-CSS wird in den Editor geladen. Die Hintergrundfarbe ist weiß.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Benutzerdefiniert</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Das einfache Standard-CSS wird in einem Bearbeitungsfenster angezeigt und kann mit dem <a href="/omni-channel/online-shop/cms#webdesign-werkzeuge-syntax-editor"><strong>Syntax-Editor</strong></a> angepasst werden. Bei Klick auf <strong>Zurücksetzen</strong> wird das CSS wieder auf das Standard-CSS zurückgesetzt.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab 1: Menü <strong>Editoren</strong>; Konfiguration</em></p>
</div>
</div>
</div>
</main>