<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_aufbau_des_kalenders"><span>1.</span><span> Aufbau des Kalenders</span></a></li>
<li><a href="#_benutzer_als_eigner_einstellen"><span>2.</span><span> Benutzer als Eigner einstellen</span></a></li>
<li><a href="#_kalendereinstellungen_vornehmen"><span>3.</span><span> Kalendereinstellungen vornehmen</span></a></li>
<li><a href="#_termine_anlegen_und_bearbeiten"><span>4.</span><span> Termine anlegen und bearbeiten</span></a>
<ul class="sectlevel2">
<li><a href="#_termine_anlegen"><span>4.1.</span><span> Termine anlegen</span></a></li>
<li><a href="#_termininformationen_anzeigen_und_ändern"><span>4.2.</span><span> Termininformationen anzeigen und ändern</span></a></li>
<li><a href="#_termine_löschen"><span>4.3.</span><span> Termine löschen</span></a></li>
</ul>
</li>
<li><a href="#_kalender_mit_externen_kalender_tools_synchronisieren"><span>5.</span><span> Kalender mit externen Kalender-Tools synchronisieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Kalender</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Der plentymarkets Kalender ist ein voll integriertes Kalendermodul im Menü <strong>Start » Kalender</strong> Ihres plentymarkets Systems. Der Kalender bietet Ihnen die Möglichkeit, Termine zu planen, um Ihre zeitliche Organisation und die Ihrer Mitarbeiter zu steuern und interne Abläufe zu verbessern.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_aufbau_des_kalenders">1. Aufbau des Kalenders</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Der Kalender enthält die eigenen Termine sowie die Termine der Benutzer, deren Kalender für den angemeldeten Benutzer sichtbar gestellt und im <strong>Filter</strong> aktiviert wurden.</p>
</div>
<div class="paragraph">
<p>Sie können zwischen der Anzeige des <strong>Tages</strong>, der <strong>Woche</strong> und des <strong>Monats</strong> wählen. Links oben im Kalender befindet sich der Button <strong>Heute</strong>. Durch Klick auf diesen Button wechseln Sie immer zurück zur Ansicht des aktuellen Tages.</p>
</div>
<div class="paragraph">
<p>Im Filter wird eine Liste der Benutzer angezeigt, für die der angemeldete Benutzer mindestens Leserechte hat. Durch Setzen eines Häkchens werden die Termine dieses Benutzers im Kalender angezeigt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_benutzer_als_eigner_einstellen">2. Benutzer als Eigner einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Bis auf die Klassen <strong>API</strong> und <strong>Variabel</strong> sind alle <strong><a href="/basics/arbeiten-mit-plentymarkets/benutzer-verwalten">Benutzerklassen</a></strong> automatisch Eigner eines Kalenders. Für die Benutzerklasse <strong>Variabel</strong> muss die Kalendernutzung wie unten beschrieben aktiviert werden. Für die Benutzerklasse <strong>API</strong> ist keine Aktivierung des Kalenders möglich. Die Berechtigung kann im Tab <strong>Eigner</strong> eines Benutzers wieder deaktiviert werden.</p>
</div>
<div class="paragraph instruction">
<p>Benutzer als Eigner aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Benutzer.</p>
</li>
<li>
<p>Öffnen Sie das Tab <strong>Eigner</strong>.</p>
</li>
<li>
<p>Setzen Sie ein Häkchen bei der Option <strong>Kalender</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.<br>
→ Der Benutzer kann Termine anlegen und bearbeiten.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Nach dem Speichern als Eigner für den Kalender wird das neue Tab <strong>Kalender</strong> angelegt und kann konfiguriert werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_kalendereinstellungen_vornehmen">3. Kalendereinstellungen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um die Kalendereinstellungen und Berechtigungen zu konfigurieren.</p>
</div>
<div class="paragraph instruction">
<p>Kalendereinstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Einstellungen » Benutzer » Konten</strong>.</p>
</li>
<li>
<p>Öffnen Sie den Benutzer.</p>
</li>
<li>
<p>Öffnen Sie das neue Tab <strong>Kalender</strong>.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 1 vor.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Serveradresse</strong>;<br>
<strong>Serverpfad</strong>;<br>
<strong>Port</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wird automatisch vom System eingetragen.<br>
Server-Adresse und Server-Pfad sind für die Konfiguration eines externen Kalender-Tools (z.B. Google Calendar) erforderlich.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Neues Passwort</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beim Einrichten des Kalender-Accounts wird ein Passwort benötigt, das von externen Kalender-Tools abgefragt wird. Das Passwort ist hier jederzeit änderbar.<br>
<strong>Hinweis:</strong> Das Passwort wird nach dem Speichern nicht mehr angezeigt und kann nicht wiederhergestellt werden. Daher das Passwort an einem sicheren Ort notieren.<br>
Bei Verwendung externer Kalender-Tools muss bei einer Änderung des Passworts dort das Passwort ggf. erneut eingegeben werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Passwort wiederholen</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zuvor eingegebenes neues Passwort erneut eingeben, um es zu bestätigen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Beschreibung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Die Beschreibung wird bei den Informationen bzw. Einstellungen des Kalenders angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Berechtigung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, welche Benutzer Zugriff auf den Kalender dieses Eigners haben sollen und welche Zugriffsrechte diese Benutzer haben sollen. Um den Kalender sehen zu können, müssen Benutzer mindestens Leserechte haben.<br>
<strong>Kein Zugriff</strong> = Der Benutzer hat weder Lese- noch Schreibzugriff auf den Kalender dieses Eigners.<br>
<strong>Lesen</strong> = Der Kalender ist für den Benutzer sichtbar.<br>
<strong>Schreiben</strong> = Der Benutzer darf Termine im Kalender bearbeiten.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 1: Optionen im Tab <strong>Kalender</strong></em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_termine_anlegen_und_bearbeiten">4. Termine anlegen und bearbeiten</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehen Sie wie unten beschrieben vor, um Termine anzulegen, zu bearbeiten oder zu löschen. Abhängig von Ihren Zugriffsrechten können Sie auch Termine für anderen Benutzer anlegen oder Termine anderer Benutzer bearbeiten.</p>
</div>
<div class="sect2">
<h3 id="_termine_anlegen">4.1. Termine anlegen</h3>
<div class="paragraph">
<p>Sie können nur Termine für Benutzer anlegen, für die Sie Schreibrechte haben. Benutzer, für die Sie nicht über Schreibrechte verfügen, stehen beim Erstellen eines Termins nicht zur Auswahl. Gehen Sie wie unten beschrieben vor, um einen Termin anzulegen.</p>
</div>
<div class="paragraph instruction">
<p>Termin anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wählen Sie einen Zeitpunkt oder einen Zeitraum. Um einen Zeitpunkt zu wählen, klicken Sie bei der gewünschten Uhrzeit in das Feld. Einen Zeitraum wählen Sie, indem Sie in das Feld der gewünschten Startzeit klicken und den Cursor mit gedrückter Maustaste bis zur gewünschten Endzeit ziehen.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen gemäß Tabelle 2 vor.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.</p>
</li>
</ol>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Titel</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wird in der Kalenderübersicht angezeigt.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Ganztägig</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Legt fest, dass der Termin den ganzen Tag dauert. Vor allem für Termine über mehrere Tage zu empfehlen. Termine werden dann in der Tages- und Wochenansicht in der oberen Leiste angezeigt und der Kalender bleibt übersichtlich.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Von / Bis</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Datum und Uhrzeit sind voreingestellt, können jedoch angepasst werden.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Typ</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Art des Termins aus der Dropdown-Liste wählen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Kalender</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Wählen, für welchen Eigner der Termin angelegt werden soll.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Beschreibung</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Beschreibung eintragen, z.B. Details zum Termin. Diese Beschreibung wird auch anderen Benutzern mit Zugriffsrechten auf den Kalender in den Termininformationen angezeigt.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 2: Termininformationen</em></p>
</div>
</div>
<div class="sect2">
<h3 id="_termininformationen_anzeigen_und_ändern">4.2. Termininformationen anzeigen und ändern</h3>
<div class="paragraph">
<p>Klicken Sie auf einen Termin, um die Termininformationen einzusehen. Klicken Sie rechts oben im Fenster <strong>Termininformationen</strong> auf das <strong>X</strong>, um die Detailansicht zu schließen. Sie können alle Informationen eines bestehenden Termins ändern. Gehen Sie dazu wie unten beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Einen Termin ändern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie auf den Termin, den Sie ändern möchten.<br>
→ Die Termininformationen werden angezeigt.</p>
</li>
<li>
<p>Nehmen Sie die gewünschten Änderungen vor.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Änderungen zu sichern.</p>
</li>
</ol>
</div>
</div>
<div class="sect2">
<h3 id="_termine_löschen">4.3. Termine löschen</h3>
<div class="paragraph">
<p>In den Termininformationen ist auch eine Löschfunktion verfügbar. Gehen Sie wie unten beschrieben vor, um einen Termin zu löschen.</p>
</div>
<div class="paragraph instruction">
<p>Einen Termin löschen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicken Sie auf den Termin, den Sie löschen möchten.<br>
→ Die Termininformationen werden angezeigt.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Löschen</strong>.<br>
→ Der Termin wird gelöscht.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_kalender_mit_externen_kalender_tools_synchronisieren">5. Kalender mit externen Kalender-Tools synchronisieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Über eine <a href="https://de.wikipedia.org/wiki/CalDAV" target="_blank" rel="noopener">CalDAV</a>-Schnittstelle synchronisieren Sie Ihren Kalender mit externen Kalender-Tools. Sie können den Kalender z.B. mit Mac Kalender oder iPad Kalender synchronisieren. Im Benutzerprofil des Benutzers muss dazu wie oben beschrieben im Tab <strong>Eigner</strong> die Funktion <strong>Kalender</strong> aktiviert sein. Sie benötigen außerdem die Einstellungen des Benutzers, die im Tab <strong>Kalender</strong> des Benutzers hinterlegt wurden. Informationen dazu, wie Sie Ihren Kalender mit externen Kalender-Tools synchronisieren, finden Sie in der Dokumentation des externen Kalender-Tools.</p>
</div>
</div>
</div>
</main>