<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#10"><span>1.</span><span> Tag erstellen</span></a></li>
<li><a href="#20"><span>2.</span><span> Tag in weiterer Sprache hinzufügen</span></a></li>
<li><a href="#30"><span>3.</span><span> Tags filtern</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Tags</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Tags sind Schlagworte, mit denen Texte und Seiten markiert werden können. In plentymarkets werden Tags zentral in einem Menü angelegt und verwaltet und stehen dann in verschiedenen Bereichen, z.B. für die Kategorien und das Ticketsystem, zur Verfügung. Sie können Tags auch mit Leerzeichen anlegen.&nbsp;Wenn ein Tag z.B. aus zwei Worten besteht, ist ein Leerzeichen dazwischen möglich.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="10">1. Tag erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Folgenden wird erklärt, wie Sie Tags erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Tag erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Einstellungen » Tags</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Neues Tag erstellen</strong>.<br>
→ Ein Fenster wird auf der rechten Seite geöffnet.</p>
</li>
<li>
<p>Nehmen Sie die Einstellungen vor. Beachten Sie dazu die Erläuterungen in <a href="#tabelle-tag-einstellungen">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.<br>
→ Das Tag wird der Liste hinzugefügt.</p>
</li>
</ol>
</div>
<table id="tabelle-tag-einstellungen" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 1. Tag-Einstellungen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Namen des Tags. Dieser Name ist <strong><em>keiner</em></strong> Sprache zugeordnet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Farbe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Ggf. eine Farbe für das Tag wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Bereich, wie <strong>Kategorie</strong> oder <strong>Ticket</strong>, oder <strong>Alle</strong> wählen, damit das Tag in diesem Bereich verfügbar ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name der Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tag in weiteren Sprachen erstellen oder Tag für eine Sprache ändern. Weitere Informationen finden Sie im Kapitel <a href="/basics/arbeiten-mit-plentymarkets/tags#20">Tags in weiterer Sprache hinzufügen</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="20">2. Tag in weiterer Sprache hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sie haben die Möglichkeit, Tags in weiteren Sprachen zu erstellen. Gehen Sie dazu, wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Tag in weiterer Sprache hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Einstellungen » Tags</strong>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>.<br>
→ Alle erstellten Tags werden angezeigt.</p>
</li>
<li>
<p>Wählen Sie das Tag aus der Liste.<br>
→ Ein Fenster wird auf der rechten Seite geöffnet.</p>
</li>
<li>
<p>Klicken Sie in die Zeile der Sprache und geben Sie die Übersetzung ein.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="30">3. Tags filtern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Es stehen drei Filter zur Verfügung, um Tags zu filtern. Es können der <strong>Name</strong>, der <strong>Bereich</strong> und die <strong>Sprache</strong> gefiltert werden.</p>
</div>
<div class="paragraph instruction">
<p>Tags filtern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Einstellungen » Tags</strong>.</p>
</li>
<li>
<p>Wählen Sie einen oder mehrere Filter. Beachten Sie dazu die Erläuterungen in <a href="#tabelle-tag-filter">Tabelle 2</a>.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Suchen</strong>.<br>
→ Die Filter, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
</ol>
</div>
<table id="tabelle-tag-filter" class="tableblock frame-all grid-all spread">
<caption class="title">Tabelle 2. Tag-Filter</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Tags eingeben. Wenn alle Sprachen gewählt wurden, werden hierbei alle Sprachen berücksichtigt. Angezeigt wird jedoch der unter <strong>Name</strong> eingegebene Wert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Bereich oder <strong>Alle</strong> wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Sprache oder <strong>Alle</strong> wählen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>