<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#50"><span>1.</span><span> Benutzerrechte für Backend-Benutzer vergeben</span></a></li>
<li><a href="#100"><span>2.</span><span> Tag erstellen</span></a></li>
<li><a href="#200"><span>3.</span><span> Tag-Namen in weiteren Sprachen hinzufügen</span></a></li>
<li><a href="#300"><span>4.</span><span> Tags filtern</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Tags</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Tags sind Schlagworte, mit denen Datensätze in plentymarkets markiert werden. Tags werden zentral im Menü <strong>Einrichtung » Einstellungen » Tags</strong> erstellt und verwaltet. Diese Tags können mit Datensätzen in den folgenden Bereichen von plentymarkets verknüpft werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Board</p>
</li>
<li>
<p>Kategorie</p>
</li>
<li>
<p>Ticket</p>
</li>
<li>
<p>Kontakt</p>
</li>
<li>
<p>Variante</p>
</li>
<li>
<p>Auftrag</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="50">1. Benutzerrechte für Backend-Benutzer vergeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Nutzer vom Typ <strong>Backend</strong> sehen nur bestimmte Bereiche und Menüs in plentymarkets. Somit können sie nur eingeschränkt im System arbeiten. Sollen Mitarbeiter mit dem Zugang <strong>Backend</strong> mit Tags arbeiten können, muss ein Nutzer vom Typ <strong>Admin</strong> zumindest die im folgenden beschriebenen Rechte für Benutzer mit dem Zugang <strong>Backend</strong> vergeben.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerrechte für Backend-Benutzer vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Nutze die Suchfunktion (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>) und öffne den zu bearbeitenden Benutzer.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Berechtigungen</strong> die Berechtigungen anhand von <a href="#tabelle-tags-erforderliche-rechte-backend-benutzer">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-tags-erforderliche-rechte-backend-benutzer" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Tag erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einrichtung &gt; Tag &gt; Tag aktualisieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, Tags zu aktualisieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einrichtung &gt; Tag &gt; Tag anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, Tags zu sehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einrichtung &gt; Tag &gt; Tag erstellen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, Tags zu erstellen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Einrichtung &gt; Tag &gt; Tag löschen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, Tags zu löschen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="100">2. Tag erstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um ein Tag zu erstellen.</p>
</div>
<div class="paragraph instruction">
<p>Tag erstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Tags</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Neues Tag erstellen</strong> (<span class="icon"><i class="fa fa-plus-square" style="color:green"></i></span>).<br>
→ Rechts wird ein Fenster geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#tabelle-tag-einstellungen">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.<br>
→ Das Tag wird erstellt und der Liste hinzugefügt.</p>
</li>
</ol>
</div>
<table id="tabelle-tag-einstellungen" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Tag erstellen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name DE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Namen für den Tag eingeben.<br>
<strong><em>Tipp:</em></strong> Tag-Namen können Leerzeichen enthalten, um zum Beispiel ein Tag zu erstellen, das aus zwei Worten besteht.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Farbe</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong><em>Optional:</em></strong> Farbe für das Tag als Hexadezimalwert eingeben. Für die 16 Grundfarben kann statt des Hexadezimalwerts die englische Bezeichnung der Farbe eingegeben werden (black, red, silver, white etc.)<br>
<strong><em>Tipp:</em></strong> Auf das Quadrat rechts klicken, um den Farbwähler zu öffnen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Bereiche wählen, in denen das Tag verfügbar sein soll.<br>
<strong>Board</strong> = Tag kann mit Aufgabenkarten auf Boards des Menüs <strong>plentymarkets Logo (Start) » Boards</strong> verknüpft werden.<br>
<strong>Kategorie</strong> = Tag kann mit Kategorien verknüpft werden.<br>
<strong>Ticket</strong> = Tag kann mit Tickets des Ticketsystems verknüpft werden.<br>
<strong>Kontakt</strong> = Tag kann mit Kontakten verknüpft werden.<br>
<strong>Variante</strong> = Tag kann mit Varianten verknüpft werden.<br>
<strong>Auftrag</strong> = Tag kann mit Aufträgen verknüpft werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name in anderen Sprachen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tag-Namen in weiteren Sprachen eingeben. Weitere Informationen findest du im Kapitel <a href="/basics/arbeiten-mit-plentymarkets/tags#200">Weitere Sprachen zu Tags hinzufügen</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="200">3. Tag-Namen in weiteren Sprachen hinzufügen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um zu einem bereits erstellten Tag Namen in weiteren Sprachen hinzuzufügen.</p>
</div>
<div class="paragraph instruction">
<p>Tag-Namen in weiteren Sprachen hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Tags</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Alle Tags werden angezeigt.</p>
</li>
<li>
<p>Kicke auf das Tag.<br>
→ Rechts wird ein Fenster geöffnet.</p>
</li>
<li>
<p>Gib in die Felder der gewünschten Sprachen die Übersetzung ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon"><i class="fa fa-save" style="color:green"></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="300">4. Tags filtern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tags können nach <strong>Name</strong>, <strong>Bereich</strong> und <strong>Sprache</strong> gefiltert werden. Gehe wie unten beschrieben vor, um Tags anhand dieser Kriterien zu filtern.</p>
</div>
<div class="paragraph instruction">
<p>Tags filtern:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Tags</strong>.</p>
</li>
<li>
<p>Wähle einen oder mehrere Filter. Beachte dazu die Erläuterungen in <a href="#tabelle-tag-filter">Tabelle 3</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon"><i class="fa fa-search" style="color:blue"></i></span>).<br>
→ Die Tags, die den eingestellten Suchkriterien entsprechen, werden angezeigt.</p>
</li>
</ol>
</div>
<table id="tabelle-tag-filter" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Tag-Filter</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Name des Tags eingeben.<br>
<strong><em>Tipp:</em></strong> Wenn alle Sprachen gewählt wurden, werden alle Sprachen berücksichtigt. Angezeigt wird jedoch der unter <strong>Name DE</strong> eingegebene Wert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen oder mehrere Bereiche wählen, um nur für diese Bereiche aktivierte Tags anzuzeigen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen oder mehrere Sprachen wählen, um nur Tags mit Namen in diesen Sprachen anzuzeigen.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</main>