<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_allgemeines_über_tags"><span>1.</span><span> Allgemeines über Tags</span></a></li>
<li><a href="#_tag_anlegen"><span>2.</span><span> Tag anlegen</span></a></li>
<li><a href="#_tags_filtern"><span>3.</span><span> Tags filtern</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Tags</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p><strong>plentymarkets » Einstellungen » Grundeinstellungen » Tags</strong></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_allgemeines_über_tags">1. Allgemeines über Tags</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Tags sind <strong><em>Schlagworte</em></strong>, mit denen Texte und Seiten markiert werden können. In plentymarkets werden Tags zentral in einem Menü angelegt und verwaltet und stehen dann in verschiedenen Bereichen, z.B. <strong>Kategorien</strong> und <strong>Ticketsystem</strong>, zur Verfügung (Bild 2). Sie können Tags auch mit Leerzeichen anlegen.&nbsp;Wenn ein Tag z.B. aus zwei Worten besteht, ist ein Leerzeichen dazwischen möglich.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_tag_anlegen">2. Tag anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Folgenden wird erklärt, wie Sie Tags anlegen.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/Einst-Grund-Tags-01-SI.png" alt="Einst Grund Tags 01 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 1: <strong>Tag anlegen</strong></em></p>
</div>
<div class="paragraph instruction">
<p>Neues Tag anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Tags</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das <strong>grüne Plus</strong> (Bild 1, roter Pfeil), um ein neues Tag hinzuzufügen.<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Tragen Sie einen <strong>Namen</strong> für das Tag ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellung zu sichern.<br>
→ Das Tag wird im Verzeichnisbaum links angezeigt.</p>
</li>
<li>
<p>Öffnen Sie das Tag.</p>
</li>
<li>
<p>Wählen Sie bestimmte <strong>Bereiche</strong>, in denen das Tag verwendet werden soll, oder <strong>Alle</strong> (Bild 2, Nr. 1).</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellungen zu sichern.</p>
</li>
</ol>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/Einst-Grund-Tags-02-SI.png" alt="Einst Grund Tags 02 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 2: <strong>Tag-Einstellungen</strong></em></p>
</div>
<div class="paragraph instruction">
<p>Tag in weiterer Sprache hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>Einstellungen » Grundeinstellungen » Tags</strong>.</p>
</li>
<li>
<p>Wählen Sie das Tag aus dem Verzeichnisbaum links (Bild 1).</p>
</li>
<li>
<p>Wählen Sie eine <strong>Sprache</strong> aus dem Dropdown-Menü im Bereich <strong>Texte</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das <strong>grüne Plus</strong> (Bild 2, Nr. 2) hinter dem Sprach-Dropdown-Menü.<br>
→ Die Sprache wird hinzugefügt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile der Sprache und tragen Sie einen <strong>Text</strong> ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellung zu sichern.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die Einstellungen eines <strong>Tags</strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Zeigt den Namen des Tags. Dieser Name ist <em><strong>keiner</strong></em> Sprache zugeordnet.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bereich</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einen Bereich, wie <strong>Kategorien</strong> oder <strong>Ticketsystem</strong>, oder <strong>Alle</strong> wählen, damit das Tag dort verfügbar ist.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Texte</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Tag in weiteren <strong>Sprachen</strong> anlegen oder Tag für eine Sprache ändern.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab: 1: Tag-Einstellungen</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_tags_filtern">3. Tags filtern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Es stehen drei Filter zur Verfügung, um Tags zu filtern. Es können der <strong>Bereich</strong>, die <strong>Sprache</strong> sowie der <strong>Name</strong> gefiltert werden.</p>
</div>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/basics/arbeiten-mit-plentymarkets/assets/Einst-Grund-Tags-03-SI.png" alt="Einst Grund Tags 03 SI">
</div>
</div>
<div class="paragraph">
<p><em>Bild 3: <strong>Tag-Filter</strong></em></p>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die <strong>Filter</strong> für Tags:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 50%;">
<col style="width: 50%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Bereich</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einen Bereich (Tabelle 1) oder <strong>Alle</strong> wählen. Nach einem Klick in das Feld, öffnet sich ein Dropdown-Menü mit den Bereichsoptionen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Sprache</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Eine Sprache oder <strong>Alle</strong> wählen. Nach einem Klick in das Feld, öffnet sich ein Dropdown-Menü mit den Sprachoptionen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p><strong>Name</strong></p>
</div></div></td>
<td class="tableblock halign-left valign-top"><div><div class="paragraph">
<p>Einen Namen eintragen. Nach Eingabe des ersten Buchstabens, werden passende Ergebnisse angezeigt. Wenn alle Sprachen gewählt wurden, werden hierbei alle Sprachen berücksichtigt. Angezeigt wird jedoch der unter <strong>Name</strong> eingetragene Werte.</p>
</div></div></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 2: Tag-Filter</em></p>
</div>
</div>
</div>
</main>