<aside class="col-12 col-md-3 push-md-9">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#_tag_anlegen"><span>1.</span><span> Tag anlegen</span></a></li>
<li><a href="#_tags_filtern"><span>2.</span><span> Tags filtern</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main class="col-12 col-md-9 pull-md-3" id="main">
    <h1>Tags</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Tags sind Schlagworte, mit denen Texte und Seiten markiert werden können. In plentymarkets werden Tags zentral in einem Menü angelegt und verwaltet und stehen dann in verschiedenen Bereichen, z.B. <strong>Kategorien</strong> und <strong>Ticketsystem</strong>, zur Verfügung. Sie können Tags auch mit Leerzeichen anlegen.&nbsp;Wenn ein Tag z.B. aus zwei Worten besteht, ist ein Leerzeichen dazwischen möglich.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_tag_anlegen">1. Tag anlegen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Folgenden wird erklärt, wie Sie Tags anlegen.</p>
</div>
<div class="paragraph instruction">
<p>Neues Tag anlegen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Einstellungen » Tags</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das <strong>grüne Plus</strong>, um ein neues Tag hinzuzufügen.<br>
→ Ein Fenster wird geöffnet.</p>
</li>
<li>
<p>Tragen Sie einen <strong>Namen</strong> für das Tag ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellung zu sichern.<br>
→ Das Tag wird im Verzeichnisbaum links angezeigt.</p>
</li>
<li>
<p>Öffnen Sie das Tag.</p>
</li>
<li>
<p>Wählen Sie bestimmte <strong>Bereiche</strong>, in denen das Tag verwendet werden soll, oder <strong>Alle</strong>.</p>
</li>
<li>
<p><strong>Speichern</strong> Sie die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Es besteht die Möglichkeit, Tags in anderen Sprachen anzulegen. Gehen Sie dazu, wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Tag in weiterer Sprache hinzufügen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffnen Sie das Menü <strong>System » Einstellungen » Tags</strong>.</p>
</li>
<li>
<p>Wählen Sie das Tag aus dem Verzeichnisbaum links.</p>
</li>
<li>
<p>Wählen Sie eine <strong>Sprache</strong> aus der Dropdown-Liste im Bereich <strong>Texte</strong>.</p>
</li>
<li>
<p>Klicken Sie auf das <strong>grüne Plus</strong> hinter der Sprach-Dropdown-Liste.<br>
→ Die Sprache wird hinzugefügt.</p>
</li>
<li>
<p>Klicken Sie in die Zeile der Sprache und tragen Sie einen <strong>Text</strong> ein.</p>
</li>
<li>
<p>Klicken Sie auf <strong>Speichern</strong>, um die Einstellung zu sichern.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die Einstellungen eines <strong>Tags</strong>:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zeigt den Namen des Tags. Dieser Name ist <em><strong>keiner</strong></em> Sprache zugeordnet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Bereich, wie <strong>Kategorien</strong> oder <strong>Ticketsystem</strong>, oder <strong>Alle</strong> wählen, damit das Tag dort verfügbar ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Texte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Tag in weiteren <strong>Sprachen</strong> anlegen oder Tag für eine Sprache ändern.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab: 1: Tag-Einstellungen</em></p>
</div>
</div>
</div><div class="sect1">
<h2 id="_tags_filtern">2. Tags filtern</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Es stehen drei Filter zur Verfügung, um Tags zu filtern. Es können der <strong>Bereich</strong>, die <strong>Sprache</strong> sowie der <strong>Name</strong> gefiltert werden.</p>
</div>
<div class="paragraph">
<p>Die folgende Tabelle erläutert die <strong>Filter</strong> für Tags:</p>
</div>
<table class="tableblock frame-all grid-all spread">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Bereich (Tabelle 1) oder <strong>Alle</strong> wählen. Nach einem Klick in das Feld, öffnet sich eine Dropdown-Liste mit den Bereichsoptionen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Eine Sprache oder <strong>Alle</strong> wählen. Nach einem Klick in das Feld, öffnet sich eine Dropdown-Liste mit den Sprachoptionen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Einen Namen eintragen. Nach Eingabe des ersten Buchstabens, werden passende Ergebnisse angezeigt. Wenn alle Sprachen gewählt wurden, werden alle Sprachen berücksichtigt. Angezeigt wird jedoch der unter <strong>Name</strong> eingetragene Werte.</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p><em>Tab. 2: Tag-Filter</em></p>
</div>
</div>
</div>
</main>