<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Changelog 30. September 2020</h1><div class="paragraph">
<p>Erfahre, was sich in der Woche vom 25. September 2020 bis zum 30. September 2020 bei plentymarkets getan hat. Im Folgenden findest du alle Changelog-Einträge der letzten Wochen für stable- und early-Systeme.</p>
</div><div class="paragraph">
<p>Wenn du mehr zu den einzelnen Versionen erfahren oder auf eine andere Version wechseln möchtest, siehe die Handbuchseite <a href="/business-entscheidungen/systemadministration/versionszyklus">Versionszyklus</a>. Um die Informationen, die auf dieser Seite gesammelt sind, in Echtzeit zu erhalten, abonniere die <a href="https://forum.plentymarkets.com/c/changelog" target="_blank" rel="noopener">Kategorie Changelog in unserem Forum</a>.</p>
</div><div class="paragraph">
<p>Wähle, welchen Changelog du sehen möchtest.</p>
</div><ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="stable-tab" data-toggle="tab" href="#stable" role="tab" aria-controls="stable" aria-selected="true">stable</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="early-tab" data-toggle="tab" href="#early" role="tab" aria-controls="early" aria-selected="false">early</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="plugin-updates-tab" data-toggle="tab" href="#plugin-updates" role="tab" aria-controls="plugin-updates" aria-selected="false">Plugin-Updates</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="app-tab" data-toggle="tab" href="#app" role="tab" aria-controls="app" aria-selected="false">App</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="stable" role="tabpanel" aria-labelledby="stable-tab">
<h2 id="_neu" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>stable</strong> veröffentlicht.</p>
</div>
<h3 id="_amazon" class="discrete">Amazon</h3>
<div class="ulist">
<ul>
<li>
<p>Du kannst ab jetzt deine Sendungen an Amazon über plentymarkets verwalten und abwickeln. Folgender Ablauf steht hierfür zur Verfügung:</p>
<div class="ulist">
<ul>
<li>
<p>Erstelle deine Lieferung an Amazon im Seller Central</p>
</li>
<li>
<p>Rufe diese im plentymarkets Backend auf</p>
</li>
<li>
<p>Lasse auf Knopfdruck eine Umbuchung erstellen, die alle Artikel der Sendung enthält</p>
</li>
<li>
<p>Erstelle auf Knopfdruck eine Pickliste</p>
</li>
<li>
<p>Verwende die Paketinhaltsliste, um deine Pakete zu verpacken</p>
</li>
<li>
<p>Entscheide dich für die Versandart (Paketsendung oder LKW-Teilladung/LKW-Ladung).</p>
</li>
<li>
<p>Paketsendungen können mit einem eigenen Versand oder mit dem Amazon-Partnerprogramm versendet werden</p>
</li>
<li>
<p>LKW-Teilladungen/LKW-Ladungen können mit einem eigenen Versand versendet werden</p>
</li>
<li>
<p>Rufe die Gebühren bei Amazon ab (nur Amazon-Partnerprogramm)</p>
</li>
<li>
<p>Akzeptiere die Gebühren (nur Amazon-Partnerprogramm)</p>
</li>
<li>
<p>Erstelle die Versandpapiere (nur Amazon-Partnerprogramm)</p>
</li>
<li>
<p>Storniere Sendungen (bei Bedarf)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="#maerkte/amazon/amazon-fba-nutzen">Amazon-FBA nutzen</a>.</p>
</div>
</li>
</ul>
</div>
<h3 id="_ebay" class="discrete">eBay</h3>
<div class="ulist">
<ul>
<li>
<p>Zusätzlich zur E-Mail, die ihr erhaltet, wenn euer Token aktualisiert werden muss, werdet ihr jetzt auch über den neuen Notification Service direkt im Backend benachrichtigt. Über diesen Service erhaltet ihr 14, 7, 3 und 1 Tag vor dem Auslaufen des Tokens eine Benachrichtigung sowie eine Benachrichtigung am Stichtag.</p>
</li>
</ul>
</div>
<h3 id="_notification_center" class="discrete">Notification-Center</h3>
<div class="ulist">
<ul>
<li>
<p>Das plentymarkets Backend wird um ein Notification-Center ergänzt. Ihr findest das Notification-Center oben rechts im Menü hinter dem neuen Glocken-Symbol.</p>
<div class="paragraph">
<p>Benachrichtigungen werden in Zukunft genutzt um euch auf verschiedene Ereignisse innerhalb eures System hinzuweisen, welche nicht immer auf den ersten Blick ersichtlich sind. Eine Benachrichtigungen besteht immer aus einem Titel und einem Text. Zusätzlich kann auch ein Link Teil einer Meldung sein.</p>
</div>
<div class="paragraph">
<p>Welche Benachrichtigungen bereits implementiert sind bzw. aktuell werden, erfahrt ihr durch die entsprechenden Teams.</p>
</div>
</li>
</ul>
</div>
<h3 id="_ricardo" class="discrete">Ricardo</h3>
<div class="ulist">
<ul>
<li>
<p>Zusätzlich zur E-Mail, die ihr erhaltet, wenn euer Token aktualisiert werden muss, werdet ihr jetzt auch über den neuen Notification Service direkt im Backend benachrichtigt. Über diesen Service erhaltet ihr 14, 7, 3 und 1 Tag vor dem Auslaufen des Tokens eine Benachrichtigung sowie eine Benachrichtigung am Stichtag.</p>
</li>
</ul>
</div>
<h3 id="_zalando" class="discrete">Zalando</h3>
<div class="ulist">
<ul>
<li>
<p>Die Implementierung der neuen zDirect-Auftragsschnittstelle wurde abgeschlossen und entsprechende Anpassungen in der UI live genommen:</p>
<div class="ulist">
<ul>
<li>
<p>Neuer Schritt <strong>Auftragsimport</strong> im Assistenten für die Zalando-Kontoeinstellungen unter <strong>Einrichtung » Assistenten » Omni-Channel</strong></p>
</li>
<li>
<p>Neue Ereignisaktion: <strong>Versand an Zalando melden</strong></p>
</li>
<li>
<p>Neue Ereignisaktion: <strong>Stornierung an Zalando melden</strong></p>
</li>
<li>
<p>Neue Ereignisaktion: <strong>Retoure an Zalando melden</strong></p>
<div class="paragraph">
<p>Dabei sind aber alle Ereignisaktionen und Crons noch ohne Funktion. Im Zuge der To-Dos können diese Ereignisse und Einstellungen also aktiviert werden, ohne dass eine Übermittlung an Zalando erfolgt. Die endgültige Live-Schaltung erfolgt individuell in Absprache mit den betroffenen Händler:innen.</p>
</div>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">To-Do</div>
<div class="paragraph">
<p>Lies in Vorbereitung auf die Umstellung <a href="https://forum.plentymarkets.com/t/zalando-zdirect-umstellung-der-auftragsschnittstelle-switching-order-interface/602983" target="_blank" rel="noopener">das zugehörige Thema im Forum</a> durch und setze die darin aufgelisteten To-Dos um. Der Zeitaufwand für die Umsetzung liegt bei etwa 15 bis 30 Minuten. Da die Umstellung spätestens am 23.10.2020 abgeschlossen sein muss, solltest du diese To-Dos zeitnah abschliessen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</li>
</ul>
</div>
<hr>
<h2 id="_behoben" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in den letzten 7 Tagen auf <strong>stable</strong> behoben.</p>
</div>
<h3 id="_artikel" class="discrete">Artikel</h3>
<div class="ulist">
<ul>
<li>
<p>Durch das Verknüpfen einer weiteren ASIN mit einer Variante, kam es zu dem Verhalten, dass der Varianten-Timestamp nicht aktualisiert wurde. Aus diesem Grund wurden die Varianten nicht automatisch mit Amazon synchronisiert. Der Fehler konnte behoben werden.</p>
</li>
</ul>
</div>
<h3 id="_aufträge" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Bei den Bestellungen (Nachbestellung, Umbuchung) hatte unter Umständen die Artikelsuche nicht mehr funktioniert. Das wurde behoben.</p>
</li>
</ul>
</div>
<h3 id="_crm" class="discrete">CRM</h3>
<div class="ulist">
<ul>
<li>
<p>Beim Download der Daten zu einem Kunden (gemäß DSGVO) wurden die Tickets ausgegeben, der Inhalt wurde weder im JSON noch im HTML dargestellt. Dieser Fehler wurde nun behoben.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="early" role="tabpanel" aria-labelledby="early-tab">
<h2 id="_neu_2" class="discrete">Neu</h2>
<div class="paragraph">
<p>Folgende Neuerungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_2" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>Für die Auftragsdokumenten-Typen <strong>externe Rechnung</strong>, <strong>externe Gutschrift</strong> und <strong>Sonstiges</strong> wurden bisher keine Referenzen zum Mandanten und zum Kunden gespeichert. Das wurde nun hinzugefügt.</p>
</li>
</ul>
</div>
<h3 id="_lager" class="discrete">Lager</h3>
<div class="ulist">
<ul>
<li>
<p>Die Automatische Lagerauswahl unter System » Aufträge » Einstellungen wurde um die Punkte <strong>g) in Abhängigkeit der Lagerpriorität und des höchsten Warenbestands (sonst Hauptlager)</strong> und <strong>h) in Abhängigkeit der Lagerpriorität und des niedrigsten Warenbestandes (sonst Hauptlager)</strong> erweitert. Weitere Informationen findest du auf der Handbuchseite <a href="/auftraege/grundeinstellungen#200">Grundeinstellungen</a>.</p>
</li>
</ul>
</div>
<h3 id="_plentymarkets_status" class="discrete">plentymarkets Status</h3>
<div class="ulist">
<ul>
<li>
<p>Ihr erhaltet ab sofort den Inhalt jeder plentymarkets status Email auch als Meldung im Notification-Center.</p>
</li>
</ul>
</div>
<h3 id="_plugins" class="discrete">Plugins</h3>
<div class="ulist">
<ul>
<li>
<p>In der Plugin-Set-Übersicht werden ab jetzt die Schaltflächen zum Erstellen eines neuen Plugin-Sets und zum Kopieren eines bestehenden Plugin-Sets deaktiviert, wenn du die maximale erlaubte Anzahl von Plugin-Sets erreicht hast. Das bedeutet du musst nicht mehr die Fehlermeldung abwarten, um zu sehen, ob du neue Plugin-Sets erstellen kannst.</p>
</li>
</ul>
</div>
<h3 id="_zahlung" class="discrete">Zahlung</h3>
<div class="ulist">
<ul>
<li>
<p>Die neuen Zahlungsbedingungen sind nun verfügbar. Weitere Informationen findest du <a href="https://forum.plentymarkets.com/t/ankuendigung-zahlungsbedingungen-reloaded-announcement-payment-terms-reloaded/606607" target="_blank" rel="noopener">im Forum</a> und auf der Handbuchseite <a href="/auftraege/auftraege-verwalten#intable-zahlungsbedingungen-auftrag">Aufträge verwalten</a>.</p>
</li>
<li>
<p>Mit dem Release des neuen plentymarkets Abonnements haben wir einen weiteren großen Meilenstein beim Umbau der Aufträge erreicht. Das neue Feature bietet aktuell als Nachfolger des eher komplizierten Schedulers eine schnelle und einfache Möglichkeit aus dem Backend intervallgesteuerte Aufträge zu generieren. Aktuell sind lediglich die Zahlarten Lastschrift und Nachnahme für die Funktion verwendbar. Auch ist die Funktion nur aus dem Backend und nicht mit dem Webshop möglich. Die Integration in Ceres und PayPal als Zahlungsmethode sind aber schon in Planung.</p>
</li>
</ul>
</div>
<h2 id="_geändert" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in den letzten 7 Tagen auf <strong>early</strong> veröffentlicht.</p>
</div>
<h3 id="_aufträge_3" class="discrete">Aufträge</h3>
<div class="ulist">
<ul>
<li>
<p>In der neuen Auftragsanlage wurden immer alle Zahlungsarten zur Auswahl gestellt. Nun werden nur noch die aktiven angezeigt.</p>
</li>
<li>
<p>Es wurde das Verhalten bei Auftragsdokumenten bzgl. Löschen und neu Generieren geändert. Die genauen Änderungen sind hier beschrieben. Einzelheiten findest du <a href="https://forum.plentymarkets.com/t/ankuendigung-aenderungen-bei-rechnungsbedingenden-unterlagen-und-rechnungsdokumenten-steuerrecht-gobd/607693" target="_blank" rel="noopener">im Forum</a> und auf der Handbuchseite <a href="/auftraege/auftraege-verwalten#1570">Aufträge verwalten</a>.</p>
</li>
</ul>
</div>
<h3 id="_lager_2" class="discrete">Lager</h3>
<div class="ulist">
<ul>
<li>
<p>Für alle Einstellungen der automatischen Lagerauswahl, die sich auf Bestand beziehen gilt künftig, dass sollten bei der Lagerauswahl mehrere Lager die gleichen Voraussetzungen erfüllen (gleicher Bestand, gleiche Priorität), wird zukünftig versucht das Hauptlager der Variante zu bevorzugen.</p>
</li>
</ul>
</div>
</div><div class="tab-pane fade" id="plugin-updates" role="tabpanel" aria-labelledby="plugin-updates-tab">
<div class="paragraph">
<p>Folgende Plugins wurden in den letzten 7 Tagen in einer neuen Version auf plentyMarketplace veröffentlicht:</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Plugin-Updates</caption>
<colgroup>
<col style="width: 40%;">
<col style="width: 20%;">
<col style="width: 40%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Plugin-Name</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Version</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">To-do</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/addressfactorydirect_6077" target="_blank" rel="noopener">Address Cleansing</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.5</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/uptainconnect_5580" target="_blank" rel="noopener">Conversion Optimierung mit Exit-Intent Popups und Warenkorbabbrecher-E-Mails</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.1.6</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/feed4ceresaccountpackone_6921" target="_blank" rel="noopener">Feed4CeresAccountPackOne</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/devgrowwidgetcomeback_6920">Komm zurück!</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/cfourcategorytabswidget5_6923" target="_blank" rel="noopener">Kategorie Reiter Widget 5</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">2.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/magiczoomplus_6092" target="_blank" rel="noopener">Moderne Bildergalerie - Magic Zoom Plus</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">3.0.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/itemvideoplugin_6915" target="_blank" rel="noopener">Produkt Video Plugin</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.2.1</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/fulfillment-stock/order-warehouse-management/sageconnector-31410_6922" target="_blank" rel="noopener">Sage Connector</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/sendinblue_6924" target="_blank" rel="noopener">Sendinblue</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.0.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/youtubewidget_6785" target="_blank" rel="noopener">YouTubeWidget</a></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">1.3.0</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">-</p></td>
</tr>
</tbody>
</table>
<div class="paragraph">
<p>Wenn du dir weitere neue oder aktualisierte Plugins anschauen möchtest, findest du eine <a href="https://marketplace.plentymarkets.com/plugins?sorting=variation.createdAt_desc&amp;page=1&amp;items=50" target="_blank" rel="noopener">Übersicht direkt auf plentyMarketplace</a>.</p>
</div>
</div><div class="tab-pane fade" id="app" role="tabpanel" aria-labelledby="app-tab">
<h2 id="_geändert_2" class="discrete">Geändert</h2>
<div class="paragraph">
<p>Folgende Änderungen wurden in Version 1.10.5 der <strong>plentymarkets App</strong> vorgenommen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Die App stößt nun spätestens alle 23 Stunden automatisch ein Selbsttest der angeschlossenen TSE-Einheit an. Läuft gerade ein Selbsttest, werden Kassenbenutzer mit einer entsprechenden Meldung in der App auf den Vorgang hingewiesen.</p>
</li>
<li>
<p>Die Kommunikation zwischen der App und der TSE-Einheit wurde mittels diverser kleiner Änderungen verbessert.</p>
</li>
</ul>
</div>
<h2 id="_behoben_2" class="discrete">Behoben</h2>
<div class="paragraph">
<p>Folgende Probleme wurden in Version 1.10.5 der <strong>plentymarkets App</strong> behoben.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In manchen Fällen konnte es passieren, dass die Kasse aufgrund nicht auslesbarer Transaktionsdaten bei einer ZVT-Kartenzahlung nicht mehr reagiert hat. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Im Falle einer nicht erreichbaren TSE war es möglich, dass nach einer EC-Zahlung der am POS erstellte Auftrag nicht abgeschlossen werden konnte. Dieses Verhalten wurde behoben.</p>
</li>
<li>
<p>Für die lokal gespeicherten, gerätespezifischen Daten der App gibt es jetzt ein Backup. Somit soll verhindert werden, das nach einem Update verschiedene Einstellungen gelöscht sind. Diese Backup-Speicherung findet automatisch im Hintergrund statt. Das Backup wird erst nach dem Update auf Version 1.10.5 erstellt.</p>
</li>
<li>
<p>Die Auftragsübersicht hat langsam geladen, wenn es sehr viele Aufträge im System gab. Dieses Verhalten wurde behoben.</p>
</li>
</ul>
</div>
</div></div>
</main>