<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Format-Typen</h1><p>Willkommen im Themenbereich Format-Typen. Hier findest du folgende Informationen:</p><!-- AUTO GENERATED --><ul><li><a href="/daten/daten-exportieren/FormatDesigner/format-typen/artikel">Artikel</a></li><li><a href="/daten/daten-exportieren/FormatDesigner/format-typen/auftraege">Aufträge</a></li><li><a href="/daten/daten-exportieren/FormatDesigner/format-typen/auftragspositionen">Auftragspositionen</a></li><li><a href="/daten/daten-exportieren/FormatDesigner/format-typen/kontakte">Kontakte</a></li><li><a href="/daten/daten-exportieren/FormatDesigner/format-typen/newsletter-empfaenger">contactNewsletter</a></li><li><a href="/daten/daten-exportieren/FormatDesigner/format-typen/lager">warehouse</a></li><li><a href="/daten/daten-exportieren/FormatDesigner/format-typen/attribute">Attribute</a></li><li><a href="/daten/daten-exportieren/FormatDesigner/format-typen/kategorien">Kategorien</a></li><li><a href="/daten/daten-exportieren/FormatDesigner/format-typen/eigenschaften">Eigenschaften</a></li><li><a href="/daten/daten-exportieren/FormatDesigner/format-typen/artikelbilder">Artikelbilder</a></li><li><a href="/daten/daten-exportieren/FormatDesigner/format-typen/hersteller">Hersteller</a></li><li><a href="/daten/daten-exportieren/FormatDesigner/format-typen/warenbestand">stock</a></li><li><a href="/daten/daten-exportieren/FormatDesigner/format-typen/warenbewegungen">stockMovement</a></li><li><a href="/daten/daten-exportieren/FormatDesigner/format-typen/facette">facet</a></li><li><a href="/daten/daten-exportieren/FormatDesigner/format-typen/facettenwert">facetValue</a></li><li><a href="/daten/daten-exportieren/FormatDesigner/format-typen/facettenwert-verknuepfung">facetValueReference</a></li></ul>
</main>