<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Customising the look of your Ceres online store</h1><table class="tableblock frame-all grid-none stretch">
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/244324307" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transkript</div>
<div class="content">
<div class="paragraph">
<p>Your store is mainly defined by its items. That goes without saying. But before it can really stand out, it may need a few things to communicate to your customers what your store is all about. So let’s get started with a few basic customisations.</p>
</div>
<div class="paragraph">
<p>So how do you personalise your shop so that it becomes unique? Well for starters, these basics go a long way. See your logo, contact information, colour pallet, font and the thing your customers see first: your homepage. What’s great is that you configure all these details behind the scenes in your test plugin set. and once you’re done, you can pull back your the curtain and present your online store to the masses.</p>
</div>
<div class="paragraph">
<p>Now let’s begin with the Ceres plugin, so your shop template.</p>
</div>
<div class="paragraph">
<p>Logos play an important role in building a brand. The Ceres logo is initially saved here by default. But who needs someone else’s logo in their webshop? Time to upload your very own logo like so. The same goes for the favicon, so the little icon that appears in your browser tab.</p>
</div>
<div class="paragraph">
<p>Also, you’ll obviously want your customers to be able to contact you. To set up your contact form, enter the email address to which customers can send any questions or requests. If you want any additional info to appear on your contact page, simply check the relevant boxes. And just so you know, this info is saved under master data in your system settings. So make sure you filled that out beforehand.</p>
</div>
<div class="paragraph">
<p>Okay, so you’ll probably want to see a preview of your shop. Awesome! There’s your logo, your favicon is up here, and your contact form is also looking good. Speaking of looking good, the default homepage is nice and all, but we completely understand if you’d rather use your own image carousel and selection of colours. The great thing is that you don’t need to be an HTML or CSS wiz to give your store that certain…​ je ne sais quoi. plentymarkets offers you your very own easy-to-use assembly kit: the plentymarkets ShopBuilder.</p>
</div>
<div class="paragraph">
<p>It basically gives you a fresh, virtual storefront window, which you can decorate as you please with your own personal design and some select merchandise. Just keep in mind that you’ll still want to try out new things behind the scenes, so make sure you’re working in the test plugin set.</p>
</div>
<div class="paragraph">
<p>Also, you can set up your shop in different languages. To open your homepage editor, simply click on the tile here. Now before you let your creative ideas run wild, let’s take a look at some of the basics, like how to set up the colour pallet of your store. The design area allows you to paint your store the way you want. Use the colour selector or simply enter the hex code where you want the corresponding colour to appear. To confirm these changes, click the checkmark, and you can soon admire your new look in the preview.</p>
</div>
<div class="paragraph">
<p>Customising fonts is also just as easy. Either enter the font URLs in the corresponding field or simply upload them and link the files to the correct font type. A quick click on the checkmark and again, any changes can be seen in the preview.</p>
</div>
<div class="paragraph">
<p>Alright, so with your personal colour pallet and font, you’re off to a good start. But there’s still some more options available to you. For example this eye-catching carousel. You’ve already got the main building block set up here. But just in case you don’t, simply drag the carousel into your shop from the sidebar.</p>
</div>
<div class="paragraph">
<p>To edit any of these elements, mouse over the one you want to work on and click on the pencil icon that appears. Alright, so the carousel can show the images saved in your item data or you can upload a new carousel image. Up to 3, to be exact.</p>
</div>
<div class="paragraph">
<p>Or maybe you want to change your store’s title text. Or perhaps add an additional text box for a nice little customer greeting.</p>
</div>
<div class="paragraph">
<p>Alright, that’s a pretty decent start. The nice thing about the ShopBuilder is that you can always see any changes directly after you’ve made them and as they would appear on various devices. Plus you can experiment on it without affecting your live store.</p>
</div>
<div class="paragraph">
<p>Once you’re done, save your design and link it to the corresponding plugin set. Now again, the same reminder: This plugin set is still inactive, so none of these changes will affect your live store. To view the changes in their entirety, simply save your plugin set again. Since this deploys the plugin set anewq, it might take a few minutes. Once you’ve reloaded the plugin set you’re working with and the save icon is no longer grayed out, you can see all of the changes you’ve made with a quick click on the preview icon.</p>
</div>
<div class="paragraph">
<p>This assembly kit - the ShopBuilder - allows you to individualise your store with just a few clicks of the mouse. Now once you’ve gotten the design down, it’s time to present your items in your lovely virtual display window.</p>
</div>
</div>
</div>
</main>