<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Featuring specific items on your homepage and other pages</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Want to highlight specific products or display them in a new light? This video teaches you how to control the way that items are displayed on your store’s homepage, on category pages and on their own.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/online-store/featuring-specific-items-homepage#video">Displaying items on your store’s homepage (0:33)</a></p>
<p class="tableblock"><a href="/en/videos/online-store/featuring-specific-items-category#video">Customising your category pages (2:50)</a></p>
<p class="tableblock"><a href="/en/videos/online-store/featuring-specific-items-product-information#video">Controlling which product information is displayed (3:28)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/726820747" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Your online store is looking good!
But sometimes it can be worthwhile to highlight certain products or display them in a new light. This video assumes that you already see your own product portfolio when you look at your online store. If that’s not the case, then you’ll want to watch this series of videos here, which teaches you how to manage your product information with plentymarkets. Once your products are visible, you’ll want to control just how they’re displaye on your store’s homepage, on category pages, and on their own.</p>
</div>
<div class="paragraph">
<p>First, let’s look at ways to customise the homepage and highlight specific products. The plentymarkets ShopBuilder makes it easy to feature items with just a few clicks. Simply pick the page you’d like to edit and then drag whichever element you want to use for highlighting products. For example, item lists are a great way to direct your customers' attention to a few select items. Click on the pencil icon to customise the element even further. For example, you may want to feature items that you’ve sorted into a specific category or you may want to arrange the items differently within the list.</p>
</div>
<div class="paragraph">
<p>Tags are a great way to highlight different products of your choosing, for example a list of new releases or items that are on sale for a limited time only. However, you’ll need to do a bit of legwork before you can create such a list in your store.</p>
</div>
<div class="paragraph">
<p>First, you’ll need to open up the tags menu and tell plentymarkets which types of products you want to feature. For example, items that are on sale now. Then tell plentymarkets you want to use this tag on items and save your settings. Next, add this tag to all the appropriate items. When you created the tag, did you notice that it was automatically given an ID? Simply enter this ID into the settings here so that plentymarkets knows which items to include in the list.</p>
</div>
<div class="paragraph">
<p>Image boxes are kind of similar. They are another way to highlight individual products. The difference is that instead of an entire list, you are featuring one specific item. All you need to do is enter the ID of whichever item variation you’d like to feature. The item’s name and image will be displayed by default but you can change the settings here if you’d reather display the category image, upload an image of your own, or if you’d rather not display the item’s name.</p>
</div>
<div class="paragraph">
<p>When you’re finished, use the preview function to admire your work. The homepage is looking good. Next, let’s make the category pages look a bit more unique. First, add a category description to your online store and, second, add a category image. But before you admire the changes, navigate to the plugin overview and open up the Ceres plugin. Here, you need to open up the item view settings and make sure that there are checkmarks next to these two options here. Now, when you open up your store, you’ll be able to see the changes to your category page.</p>
</div>
<div class="paragraph">
<p>Last but not least, let’s customise the way individual items are displayed in your store. Start out by deciding whether you want to use the variation name, the item name, or a mixture of the two. In your item data records, you’ll find the variation name saved within your basic settings and you’ll find the item name saved within the texts tab. Note that there are three item names to choose from. So back in the settings here, tell plentymarkets which of these names you’ll use for your online store. Finally, every item includes an information table, which you can customise to match your product portfolio. In the settings, simply use checkmarks to determine which information should be displayed and which shouldn’t.</p>
</div>
<div class="paragraph">
<p>Now it’s your turn. Spend some time trying out different settings and enjoy shining a light on specific items in your online store.</p>
</div>
</div>
</div>
</main>