<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>ShopBuilder - Startseite und Aktionsseite für plentyShop</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">In diesem Webinar erklären wir dir die ersten Schritte mit dem ShopBuilder. Wir richten gemeinsam eine Startseite für den Webshop Ceres ein, konfigurieren den Header und binden das Newsletter-Widget im Footer ein. Zudem gestalten wir eine Landing-Page für einen Artikel, den wir in einer Aktion anbieten wollen. Dafür nutzen wir das Live-Shopping-Feature von plentymarkets und das neue Live-Shopping-Widget für den ShopBuilder.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/304333562" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</main>