<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>ShopBuilder - Artikelansicht einrichten</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">In diesem Webinar erklären wir dir, wie du eine globale Artikelansicht über den ShopBuilder einrichtest, welche Widgets zur Verfügung stehen und wie du die Artikelansicht an deine Bedürfnisse anpassen kannst. Zudem erklären wir, wie Eigenschaften im ShopBuilder genutzt werden können, um sie im Webshop anzuzeigen.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/328394037" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
</main>