<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Event procedure for sending tracking URLs</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Best practice: automatically send a tracking URL to customers who completed their purchase.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/124510170" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Welcome to plentymarkets e-learning. In this video tutorial, I will show you how to configure a simple event procedure that automatically sends your customers a tracking URL. Nowadays, nearly all shipping service providers allow customers to track their packages online and customers have grown to expect this service from serious online sellers. But it would be very time-consuming to manually send each customer an individual tracking URL for his or her package. It is much more efficient to set up an event procedure that automatically takes care of this routine task for you.</p>
</div>
<div class="paragraph">
<p>In this video, I will show you how to set up such an event procedure. It will be triggered whenever a package number is entered. In other words, the package number is the event or the catalyst that sets the event procedure in motion. Whenever this event occurs, three procedures will be carried out in plentymarkets. First, the customer will be sent an e-mail that includes the tracking URL for his or her package. Second, the items will automatically be booked as outgoing. And third, the order will be given a specific marking to visually indicate that these procedures have been carried out. I’ll open up my plentymarkets system and show you how this is done.</p>
</div>
<div class="paragraph">
<p>I can save a new event procedure in plentymarkets under "Settings » Orders » Event procedures".
I simply click on the green plus icon at the bottom of the screen to create a new event procedure.
A pop-up window appears. Here I enter a meaningful name for the event procedure. In this example, I will enter the name "Tracking URL".
Next, I select the triggering event from the drop-down menu. I want the tracking URL to be sent whenever a package number is saved for an order. As such, I will select the event "Package number".
Now I will click on the save icon to create the event procedure.</p>
</div>
<div class="paragraph">
<p>The event procedure opens automatically and is included in the overview on the left.
The settings area at the top of the screen allows you to modify the settings that were just saved in the pop-up window if needed. Only the "Active" setting was not previously included in the pop-up window. By placing a check mark here, the event procedure is activated. We recommend that you wait to activate the event procedure once you have finished saving all of the necessary settings. I am still satisfied with the settings that were saved, so I will not make any changes here.</p>
</div>
<div class="paragraph">
<p>Next I need to apply filters to my event procedure. An area for saving filters is displayed here. Filters allow me to specify which orders the event procedure should be applied to. In other words, which criteria it has to meet in order to be included in the event procedure.
I simply click on the green plus icon to add a filter. A pop-up window appears. It includes all filters sorted into various folders.
Here I will click on the "Order" folder and select the filter "Order type".
By clicking on the "Add" button, the filter is added to my event procedure and I can edit it further.
In this example, it makes sense to send a tracking URL for orders and warranties, since items are typically sent in these these two cases.
When I have finished specifying the order types, I can minimize this filter.</p>
</div>
<div class="paragraph">
<p>Now I will add a second filter for the referrer. The referrer is important because some platforms do not allow you to directly send the customer e-mails. By using a referrer filter, you can exclude specific platforms from the event procedure.
In this example, I will only select the referrers "Client (store)", "eBay" and "Manual entry". The e-mail will only be sent to customers whose orders were imported into the system from these platforms.
Again, I can minimize this filter.</p>
</div>
<div class="paragraph">
<p>Now I need to specify which procedures should be carried out whenever this event occurs. An area for saving procedures is displayed here. In this example, I will set up three procedures.
First, I will set up a procedure to send the tracking URL to the customer. I click on the green plus icon, open the "Customer" folder and then select the "Send E-mail" procedure.
Now I click on the plus icon within this procedure to specify which e-mail template should be sent and who it should be sent to.
The e-mail template is selected from the upper drop-down and the recipient is selected from the lower drop-down. In this example, I want to send the "Package number" e-mail template to the customer. I select this e-mail template because it contains the tracking URL template variable. This variable allows the customer to track his or her package. If you have not already set up an e-mail template that contains the tracking URL, then you will need to do so first.</p>
</div>
<div class="paragraph">
<p>Now I will set up a second procedure to book items as outgoing. It makes sense to book items as outgoing when the package numbers are saved in plentymarkets because at this point, the package has already been shipped. Again, I click on the green plus icon, open the "Order" folder and select the procedure "Book outgoing items". No additional settings are carried out for this procedure. This is indicated by the fact that there is no icon on the left to minimize or maximize this procedure.</p>
</div>
<div class="paragraph">
<p>Now I will set up a third procedure to mark the orders that were processed. Again, I click on the green plus icon, open the "Order" folder and select the procedure "Change marking".
I simply select the appropriate marking from the drop-down menu. In this example, I will select marking number 10.</p>
</div>
<div class="paragraph">
<p>I have now finished selecting all of the settings for my event procedure. I am ready to activate the event procedure by placing a check mark and saving the settings. When I activate the event procedure, the lightning symbol will turn from gray to green in the overview on the left. This way, I can easily tell which of my event procedures are currently activated.
I place a check mark next to "Active" and save the settings. I now have an event procedure that automatically sends the customer an e-mail with the tracking URL as soon as the package number is entered in my system. Furthermore, the event procedure books the outgoing items and changes the marking. Thanks for watching and I hope you enjoyed learning how to set up an event procedure for sending the tracking URL.</p>
</div>
</div>
</div>
</main>