<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Downloading the plugins</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Elastic Export</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Plugins for marketplaces</span></a></li>
<li><a href="#500"><span>1.3.</span><span> FormatDesigner</span></a></li>
</ul>
</li>
<li><a href="#600"><span>2.</span><span> Configuring elastic export</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>2.1.</span><span> Creating new exports</span></a></li>
<li><a href="#900"><span>2.2.</span><span> Searching for and editing existing exports</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Elastic export: setup and use</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>There are many reasons to export data from your plentymarkets system.
For example, you might want to:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>transmit your item and variation data to marketplaces.</p>
</li>
<li>
<p>export a CSV file containing product data, warehouse data, order data etc.
Afterwards, you can revise the file and import it again.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>The elastic export is a good tool for doing so.
It is a free plugin, which you can download from plentyMarketplace and add to your system.</p>
</div>
<div class="paragraph">
<p>How you proceed depends on what you want to achieve:</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="transmit-products-to-marketplaces-tab" data-toggle="tab" href="#transmit-products-to-marketplaces" role="tab" aria-controls="transmit-products-to-marketplaces" aria-selected="true">Transmit products to marketplaces</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="export--modify-and-re-import-data-tab" data-toggle="tab" href="#export--modify-and-re-import-data" role="tab" aria-controls="export--modify-and-re-import-data" aria-selected="false">Export, modify and re-import data</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="transmit-products-to-marketplaces" role="tabpanel" aria-labelledby="transmit-products-to-marketplaces-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Download the necessary plugins:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Elastic Export</p>
</li>
<li>
<p>So-called data format plugins for your chosen marketplaces.</p>
</li>
</ol>
</div>
</li>
<li>
<p>Configure the elastic export.
While doing so, choose the data format for the corresponding marketplace.</p>
</li>
<li>
<p>Transmit the CSV file to the marketplace.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="export--modify-and-re-import-data" role="tabpanel" aria-labelledby="export--modify-and-re-import-data-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Download the necessary plugins:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Elastic Export</p>
</li>
<li>
<p>FormatDesigner</p>
</li>
</ol>
</div>
</li>
<li>
<p>Create so-called data formats with help from the FormatDesigner.</p>
</li>
<li>
<p>Configure the elastic export.
While doing so, choose the data format that you just created.</p>
</li>
<li>
<p>Export the CSV file, modify it and re-import it into plentymarkets.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="100">1. Downloading the plugins</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Which plugins you should download depends on what exactly you want to achieve.</p>
</div>
<table id="plugins" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 1. Necessary plugins</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">I want to…​</th>
<th class="tableblock halign-left valign-top">Which plugins do I need?</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Transmit products to marketplaces</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/en/data/exporting-data/elastic-export#200">Elastic Export</a></p>
</li>
<li>
<p><a href="/en/data/exporting-data/elastic-export#300">Plugins for marketplaces</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Export, modify and re-import data</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/en/data/exporting-data/elastic-export#200">Elastic Export</a></p>
</li>
<li>
<p><a href="/en/data/exporting-data/elastic-export#500">FormatDesigner</a></p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Plugin set linked to default client</div>
<div class="paragraph">
<p>Install the elastic export and the plugins for additional markets in a plugin set that is linked to the default client.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="200">1.1. Elastic Export</h3>
<div class="paragraph">
<p>The elastic export is a plugin.
Download the plugin and install it in your plentymarkets system.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Download link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="/en/plugins/installing-added-plugins">How are plugins installed?</a></p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Plugins for marketplaces</h3>
<div class="paragraph">
<p>The elastic export includes two so-called “data formats” by default.
These data formats allow you to transmit your product and offer data to bol.com.
Do you want to transmit data to other marketplaces?
Download additional plugins from plentyMarketplace to widen the range of data formats available in Elastic Export.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Important"></i>
</td>
<td class="content">
<div class="title">Deploy the elastic export first</div>
<div class="paragraph">
<p>First deploy the elastic export plugin before you add data format plugins for other markets.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="400" class="discrete">Overview of data format plugins</h4>
<table id="export-formats" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 2. Examples of other data formats available in plentyMarketplace</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Export format</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AwinCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportawincom_4762" target="_blank" rel="noopener">AWIN</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> offers performance-based online and affiliate marketing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BasicPriceSearchEngine</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the format <a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportbasicpricesearchengine_4777" target="_blank" rel="noopener">BasicPriceSearchEngine</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> if you do not wish to select a specific price search engine. It can be used for most price search engines.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BeezUp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportbeezup_4768" target="_blank" rel="noopener">BeezUp</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a tool for managing and improving the way items are presented in price comparison portals, on markets and with affiliate services.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BelboonDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The affiliate network <a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportbelboonde_4759" target="_blank" rel="noopener">belboon</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> specialises in the implementation of performance marketing measures.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BilligerDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportbilligerde_4901" target="_blank" rel="noopener">billiger.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a TÜV certified German price comparison portal. The platform also offers test reports and customer reviews. Please note that this website is currently only available in German.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CdiscountCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items are sold on the market <a href="https://marketplace.plentymarkets.com/en/plugins/channels/marketplaces/elasticexportcdiscountcom_4738" target="_blank" rel="noopener">Cdiscount</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Check24</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items are sold on the market <a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportcheck24de_4730" target="_blank" rel="noopener">Check24</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EcondaDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/integration/elasticexportecondade_4774/" target="_blank" rel="noopener">econda</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> offers a controlling solution for analysing and improving online stores comprehensively.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GeizhalsDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportgeizhalsde_4743" target="_blank" rel="noopener">Geizhals</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is an independent price comparison and information platform that specialises in hardware and consumer electronics. The plugin currently only matches the German platform.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GoogleShopping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The price comparison portal <a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportgoogleshopping_4722" target="_blank" rel="noopener">GoogleShopping</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> offers search and comparison functions as well as links to the product pages in other online stores. Store owners can display their products in Google Shopping lists within the Google search. Stores are billed for the service per click. This format is based on Google Shopping International.<br>
Therefore, linked characteristic values and availabilities have to be saved in English.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GuenstigerDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportguenstigerde_4745" target="_blank" rel="noopener">guenstiger.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a price comparison portal that also offers customer opinions, test reports and seller reviews. Please note that this website is currently only available in German.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IdealoDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportidealode_4723" target="_blank" rel="noopener">idealo</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a German price comparison portal that also offers test reports, price notifications and product comparisons. Please note that this website is currently only available in German.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>KaufluxDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items are sold on the market <a href="https://marketplace.plentymarkets.com/en/plugins/markets/ElasticExportKaufluxDE_4737" target="_blank" rel="noopener">Kauflux</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>KelkooDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportkelkoode_5041" target="_blank" rel="noopener">Kelkoo</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a price comparison search engine for shopping and travel.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>KuponaDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportkuponade_4756" target="_blank" rel="noopener">KUPONA</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is an agency for online performance marketing. It is active in the fields of display performance advertising, retargeting, affiliate marketing and product data marketing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MyBestBrandsDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportmybestbrandsde_4731" target="_blank" rel="noopener">Mybestbrands</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a recommendation platform for discounted fashion and lifestyle products, as well as for electronic products from well-known brand name manufacturers. Please note that this website is currently only available in German.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RakutenDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Items are sold on the market <a href="https://marketplace.plentymarkets.com/en/plugins/channels/marktplaetze/elasticexportrakutende_4721" target="_blank" rel="noopener">Rakuten</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingProfiles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Use the format <a href="https://marketplace.plentymarkets.com/en/plugins/integration/ElasticExportShippingProfiles_4747" target="_blank" rel="noopener">ShippingProfiles</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> to export shipping profiles.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shopping24DE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportshopping24de_4734" target="_blank" rel="noopener">shopping24</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a subsidiary of the Otto Group and an online portal for price and product comparisons. Please note that this website is currently only available in German.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShoppingCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportshoppingcom_4755" target="_blank" rel="noopener">Shopping.com</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is an international product and price comparison service.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShopzillaDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexportshopzillade_4770" target="_blank" rel="noopener">Shopzilla</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a price comparison platform.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TracdelightCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexporttracdelightcom_4771" target="_blank" rel="noopener">tracdelight</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is a network for advertising agencies and publishing companies that focus on fashion and lifestyle.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>treepodia</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexporttreepodiacom_4776" target="_blank" rel="noopener">treepodia</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> offers you the possibility to automatically create product videos from item images and to integrate them into the item layouts in the online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TwengaCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/en/plugins/channels/price-comparisons/elasticexporttwengacom_4746" target="_blank" rel="noopener">Twenga</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> is an international shopping platform that offers comprehensive price comparisons.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Have you registered on the marketplace?</div>
<div class="paragraph">
<p>Before you can transfer your data to a marketplace, you must have registered with that market.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="500">1.3. FormatDesigner</h3>
<div class="paragraph">
<p>Do you want to export a CSV file?
For example, in order to modify the file and import it back into the system.</p>
</div>
<div class="paragraph">
<p>Then download the FormatDesigner plugin and use it to create your own, custom data formats.
In other words, you’ll use FormatDesigner to decide which data should be exported.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/en/formatdesigner_6483" target="_blank" rel="noopener">Download link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="/en/data/exporting-data/FormatDesigner">How do I use FormatDesigner?</a></p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">2. Configuring elastic export</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="700">2.1. Creating new exports</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>New export</strong>.<br>
→ The <strong>New export</strong> tab opens.</p>
</li>
<li>
<p>Carry out the settings. Note <a href="#settings-new-export">Table 3</a>.</p>
</li>
<li>
<p><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) the settings.<br>
→ The export automatically receives a unique ID and is added to the overview.</p>
</li>
</ol>
</div>
<table id="settings-new-export" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 3. Settings for a new export</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name for the export.
This is an internal name, i.e. it is not visible to customers.
The export format is listed under this name in the overview.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which type of data do you want to export?
Select this data type from the drop-down list.</p>
<p class="tableblock"><strong><em>Note</em></strong>: Additional <a href="/en/data/exporting-data/elastic-export#800">filters and format settings</a> appear when you select the type.
Which exact settings appear depends on the type.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Which data format do you want to export?
Select this data format from the drop-down list.</p>
<p class="tableblock"><strong><em>Note</em></strong>: On the one hand, these are the <a href="/en/data/exporting-data/elastic-export#400">data format plugins</a> that you downloaded from plentyMarketplace.
On the other hand, these are the data formats that you created yourself with the <a href="/en/data/exporting-data/elastic-export#500">FormatDesigner</a>.</p>
<p class="tableblock"><strong><em>Note</em></strong>: Which formats are included in this list depends on which type of data you selected above.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a number.
This number specifies how many data records should be exported at maximum.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Do you want to transmit more than 9999 data records?</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Then the output file will only be generated every 24 hours. This is to save resources.</p>
</li>
<li>
<p>Then also select the option <strong>Generate cache file</strong> further below.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Generate cache file</strong><br>
(Only for the type Item)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select this option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) if you want to transmit more than 9999 data records. We recommend that you do not activate this option for more than 20 export formats. This is to ensure a high performance of the elastic export.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Provisioning</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>How should other people access the export file?
Select an access method from the drop-down list.
The settings change depending on which method you choose.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Method</th>
<th class="tableblock halign-left valign-top">Additional notes</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The file can be accessed externally.
Third parties access the file with a URL and an authentication token.</p>
</div>
<div class="paragraph">
<p><strong><em>Additional settings</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Click on <strong>Generate token</strong> (<span class="icon darkGrey"><i class="fa fa-undo  "></i></span>).</p>
</li>
<li>
<p>The <strong>token</strong> and <strong>URL</strong> will be entered automatically.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FTP</strong>;<br>
<strong>FTPS</strong>;<br>
<strong>SFTP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The file can be accessed externally.
The file will be stored on a server.</p>
</div>
<div class="paragraph">
<p><strong><em>Additional settings</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Enter the access data for the server:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Server</strong>: Which server should the file be stored on?<br>
Example: ftp.YourDomain.com</p>
</li>
<li>
<p><strong>Port</strong>: The standard FTP port is 21.</p>
</li>
<li>
<p><strong>User name/Password</strong>: Enter your access data.</p>
</li>
<li>
<p><strong>Path</strong>: Where should the file be saved? Enter the file path.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong>Transfer</strong> How often should the data be transmitted?
Select the option <strong>Schedule</strong> if you want to specify the exact times when data should be transferred.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Admin area</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>The file can not be accessed externally.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>File name</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter the file name and extension.</p>
</div>
<div class="paragraph">
<p><strong><em>Note</em></strong>: Use placeholders to automatically add further information to the file name.
For example, you can add the current date to the file name.
The following placeholders are available: $name, $type, $format, $timestamp, $datetime, $year, $day, $hour, $minute, $numberRange</p>
</div>
<div class="paragraph">
<p><strong><em>Examples</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>file-name.csv</p>
</li>
<li>
<p>file-name_2020_10_25.csv</p>
</li>
<li>
<p>file-name_$year_$month_$day.csv</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Placeholder number range</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">You can only use this option if the file name includes the placeholder $numberRange.
Enter the highest value for the number range.</p></td>
</tr>
</tbody>
</table>
<h4 id="800" class="discrete">Filters and format settings</h4>
<div class="paragraph">
<p>Which filters and format settings need to be configured depends on <a href="/en/data/exporting-data/elastic-export#700">which type you selected</a>.
Expand the info boxes below (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>) to learn more about the additional settings for each type.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">No filters are set by default</div>
<div class="paragraph">
<p>Which data records should be exported?
Use filters to limit which data is transferred.
Otherwise, all data records will be transferred during export.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Select a filter from the drop-down list.</p>
</li>
<li>
<p>Click on <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Add</strong>.</p>
</li>
<li>
<p>Define the filter settings.</p>
</li>
<li>
<p>Repeat the process to add as many filters from the drop-down list as needed.</p>
</li>
</ol>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Attribute</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribute</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to a specific <a href="/en/item/settings/attributes">attribute</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to <a href="/en/item/settings/attributes#1000">attribute names saved in a specific language</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Category</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Level</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to <a href="/en/item/settings/categories#100">categories saved on a specific level</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to <a href="/en/item/settings/categories#700">categories saved for a specific client</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to <a href="/en/item/settings/categories#1500">categories saved in a specific language</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to a specific <a href="/en/item/settings/categories#700">category type</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Contact</strong></div>
<div class="content">
<div class="paragraph">
<p>The following filters are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Export all contact addresses</strong></p>
</li>
<li>
<p><strong>Rating</strong></p>
</li>
<li>
<p><strong>Owner</strong></p>
</li>
<li>
<p><strong>Referrer ID</strong> (currently without function)</p>
</li>
<li>
<p><strong>IBAN</strong></p>
</li>
<li>
<p><strong>Contact ID</strong></p>
</li>
<li>
<p><strong>Contact group</strong></p>
</li>
<li>
<p><strong>Country</strong></p>
</li>
<li>
<p><strong>Direct debit mandate</strong></p>
</li>
<li>
<p><strong>Client</strong></p>
</li>
<li>
<p><strong>Type</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Newsletter recipient</strong></div>
<div class="content">
<div class="paragraph">
<p>The following filters are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Contact group</strong></p>
</li>
<li>
<p><strong>Newsletter folder</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Item</strong></div>
<div class="content">
<h5 id="_item_filters" class="discrete">Item filters</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Active</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to variations that are either <a href="/en/item/managing-items#intable-active">active or inactive</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Category</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to transfer the item with its category link. Only items belonging to this category are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to items that are available for <a href="/en/item/managing-items#360">a specific client</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Created date of the item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to items that were created on a specific date.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Currency</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a currency.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Default, bundle, bundle item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to default items, <a href="/en/item/use-cases/combining-products#2000">bundles</a> and bundle components.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Flag 1</strong>;<br>
<strong>Flag 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to items that have <a href="/en/item/import-export-create/create/new-item#200">a specific flag</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to items, which have <a href="/en/item/managing-items#90">an image saved</a> for them.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to a specific <a href="/en/item/import-export-create/create/new-item#intable-type">type of item</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to items that were <a href="/en/item/managing-items#_basic_settings">manufactured by a specific company</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markets</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to items that are available for <a href="/en/item/managing-items#350">a specific market</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Positive stock for given warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a warehouse from the drop-down list.
Limits the export to variations that are stored in this warehouse and have positive stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Positive physical stock for given warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a warehouse from the drop-down list.
Limits the export to variations that are stored in this warehouse and have positive physical stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Prices</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Limits the export to items with <a href="/en/item/managing-items#240">a specific price</a>.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Without price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Items that don’t have a price will be transferred.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>With price</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Items that have a price will be transferred.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>With price lower</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a price. Items that have a lower price will be transferred.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>With price higher</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a price. Items that have a higher price will be transferred.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>With price between</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Enter a lower limit and upper limit. Items with a price between the two values are exported.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select which stocks should be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tag (AND mode)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter one or more tag names. Items that are linked to <em>all</em> of the selected <a href="/en/welcome/general-functions/tags">tags</a> are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tag (OR mode)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter one or more tag names. Items that are linked to <em>at least one</em> of the selected <a href="/en/welcome/general-functions/tags">tags</a> are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Updated date of the item</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to items that were last modified on a specific date.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variations</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Which type of variation should be transferred?</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Transfer all</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>All variations are transferred.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Only transfer main variations</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Only main variations are transferred.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Do not transfer main variations</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Only the item’s sub-variations are transferred. Main variations are not transferred.
This option is useful if the main variations are virtual and not for sale.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Only transfer single variations</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Only those main variations of items are transferred that only have a main variation and no other variations.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
</tbody>
</table>
<h5 id="_format_settings" class="discrete">Format settings</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Product URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Should the item’s URL or the variation’s URL be transferred? URLs of variations can only be transferred in combination with the plentyShop LTS online store.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a client. This setting is used for the URL structure.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a suffix for the product URL if this is required for the export. This character string will be added to the product URL if you selected the option <strong>Item URL</strong> or <strong>Variation URL</strong> for the product URL further up.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong><br>
<span class="red">(Mandatory field)</span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the order referrer from the drop-down list. This setting depends on the selected order referrer and is needed for the SKU generation. The selected referrer is added to the product URL so that sales can be analysed later.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marketplace account</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the marketplace account from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Language</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the language from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Name 1</strong>, <strong>Name 2</strong> or <strong>Name 3</strong>. These names are saved in the <strong>Texts</strong> tab of the item.<br>
Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This defines how many characters are exported for the item name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preview text</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the text that you want to transfer as preview text.<br>
Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the preview text. <br>
Activate the <strong>Remove HTML tags</strong> option if you want HTML tags to be removed during the export.<br>
If you only want to allow specific HTML tags to be exported, then enter these tags into the * Permitted HTML tags, separated by comma (def. text)* field. Use commas to separate multiple tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Description</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the text that you want to transfer as description.<br>
Enter a number into the <strong>Maximum number of characters (def. text)</strong> field if desired. This specifies how many characters are exported for the description. <br>
Activate the <strong>Remove HTML tags</strong> option if you want HTML tags to be removed during the export.<br>
If you only want to allow specific HTML tags to be exported, then enter these tags into the * Permitted HTML tags, separated by comma (def. text)* field. Use commas to separate multiple tags.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Target country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the target country from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select the ASIN, ISBN or an EAN from the drop-down list. The barcode has to be linked to the order referrer selected above. Otherwise, the barcode will not be exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select <strong>Position 0</strong> or <strong>First image</strong> to export this image.<br>
<strong>Position 0</strong> = An image with position 0 is transferred.<br>
<strong>First image</strong> = The first image is transferred.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Image position of the energy label</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter the position of the energy label. Every image that should be transferred as an energy label has to have this position.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock buffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock buffer for variations with limitation to the net stock.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations without stock limitation</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock for variations without stock limitation.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Stock for variations with no stock administration</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The stock for variations without stock administration.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Live currency conversion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option to convert the price into the currency of the selected country of delivery. The price has to be released for the corresponding currency.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sales price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select gross price or net price from the drop-down list.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Offer price</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to transfer the offer price.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>RRP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate to transfer the RRP.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping costs</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate this option if you want to use the shipping costs that are saved in a configuration. If this option is activated, you are able to select the configuration and the payment method from the drop-down lists.<br>
 Activate the option <strong>Transfer flat rate shipping charge</strong> if you want to use a fixed shipping charge. If this option is activated, a value has to be entered in the line underneath.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>VAT note</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter text. This amount includes the VAT but does not include shipping.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item availability</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Activate the <strong>overwrite</strong> option and enter item availabilities into the fields <strong>1</strong> to <strong>10</strong>. The fields represent the IDs of the availabilities. This overwrites the item availabilities that are saved in the <strong>Setup » Item » Availability</strong> menu.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Manufacturer</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Manufacturer ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to <a href="/en/item/settings/manufacturers#100">manufacturers with a specific ID</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to <a href="/en/item/settings/manufacturers#100">manufacturers with a specific position number</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Item images</strong></div>
<div class="content">
<div class="paragraph">
<p>The following filters are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Item ID</strong></p>
</li>
<li>
<p><strong>Type</strong></p>
</li>
<li>
<p><strong>Markets</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Order</strong></div>
<div class="content">
<h5 id="_order_filters" class="discrete">Order filters</h5>
<div class="paragraph">
<p>The following filters are available to filter orders before the export. Combine filters to refine the selection even further before the export.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to orders of the selected client.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Completion date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to orders for which the items were booked out on a specific date. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contact group</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to orders that contain the selected <a href="/en/crm/managing-contacts#15">customer classes</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Contact ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">By setting an operator and entering a contact ID you determine to which orders the export should be limited. Orders are always filtered for the entered contact ID.<br>
<strong>=</strong> = Only orders of this contact are exported.<br>
<strong>≠</strong> = All orders except those of this contact are exported.<br>
<strong>&lt;</strong> = All orders of contacts with an ID lower than the entered one are exported.<br>
<strong>≤</strong> = All orders of contacts with an ID lower than the entered one as well as the orders of the contact with this ID are exported. For example, if you enter 12, all orders of contacts with the ID from 1 to and including 12 are exported.<br>
<strong>&gt;</strong> = All orders of contacts with an ID higher than the entered one are exported.<br>
<strong>≥</strong> All orders of contacts with an ID higher than the entered one as well as the orders of the contact with this ID are exported. For example, if you enter 12, all orders of contacts from and including 12 are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Creation date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to orders that were created on a specific date. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to orders that contain the selected delivery countries.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Estimated delivery date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to orders with the selected estimated delivery date. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Method of payment</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to orders that contain the selected payment methods.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">By setting an operator and entering an order ID you determine to which orders the export should be limited.<br>
<strong>=</strong> = Only this one order is exported.<br>
<strong>≠</strong> = All orders except this one are exported.<br>
<strong>&lt;</strong> = All orders with an ID lower than the entered one are exported.<br>
<strong>≤</strong> = All orders with an ID lower than the entered one as well as the order with this ID are exported. For example, if you enter 12, all orders with the ID frp 1 to and including 12 are exported.<br>
<strong>&gt;</strong> = All orders with an ID higher than the entered one are exported.<br>
<strong>≥</strong> All orders with an ID higher than the entered one as well as the orders with this ID are exported. For example, if you enter 12, all orders from and including 12 are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to the selected order types.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to orders with incoming payment on a specific date. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Payment status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to orders for which the selected payment statuses apply.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Referrer ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to orders to those generated via the selected <a href="/en/orders/order-referrer">order referrers</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping profile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to orders with the selected <a href="/en/fulfilment/preparing-the-shipment#1000">shipping profiles</a> .</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Update date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to orders that were last changed on a specific date. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to orders with the selected <a href="/en/stock-management/setting-up-a-warehouse">warehouses</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to orders with the selected <a href="/en/orders/managing-orders#1200">order statuses</a>.
<em>This filter is a required field.</em></p></td>
</tr>
</tbody>
</table>
<h5 id="_format_settings_2" class="discrete">Format settings</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If a status is selected, then all of the exported orders will be changed to this <a href="/en/orders/managing-orders#1200">order status</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Purchase order</strong></div>
<div class="content">
<h5 id="_filters_purchase_order" class="discrete">Filters purchase order</h5>
<div class="paragraph">
<p>The following filters are available to filter <a href="/en/stock-management/managing-reorders/working-with-reorders">reorders</a> and <a href="/en/stock-management/working-with-redistributions">redistributions</a> (purchase orders) before the export. Combine filters to refine the selection even further before the export.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Creation date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to purchase orders that were created on a specific date. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Finish date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to purchase orders that were already completed on a specific date, i.e. for which a <strong>Finish date</strong> was set in the order details. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inbound warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to purchase orders for which the selected warehouse is set as the receiver warehouse. The receiver warehouse is the inbound warehouse into which the orders items are booked.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to purchase orders for which a <strong>Delivery date</strong> was set in the order details. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to the selected order types. You can choose between reorders and redistributions. Use the <a href="/en/data/exporting-data/FormatDesigner/format-types/orders">format type Orders</a> if you want to export other order types.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ordered date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to purchase orders that were already initiated, i.e. for which the <strong>Order initiated</strong> date was set in the order details. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Outbound warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This filter only works for redistributions. Limits the export to redistributions for which the selected warehouse is set as the sender warehouse. The sender warehouse is the outbound warehouse from which the orders items are booked out.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suppliers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to purchase orders that contain order items of the selected supplier.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Update date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to purchase orders that were last changed on a specific date. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to purchase orders with the selected <a href="/en/orders/managing-orders#1200">order statuses</a>.
<em>This filter is a required field.</em></p></td>
</tr>
</tbody>
</table>
<h5 id="_format_settings_3" class="discrete">Format settings</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If a status is selected, then all of the exported orders will be changed to this <a href="/en/orders/managing-orders#1200">order status</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Order item</strong></div>
<div class="content">
<h5 id="_order_item_filters" class="discrete">Order item filters</h5>
<div class="paragraph">
<p>The following filters are available to filter order items before the export. Combine filters to refine the selection even further before the export.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Client</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of the selected client.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery country</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to orders items with the selected delivery countries.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Estimated delivery date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of those orders with the selected estimated delivery date. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Item producer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of the selected manufacturers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">By setting an operator and entering an order ID you determine to which order items of which orders the export should be limited.<br>
<strong>=</strong> = Only the order items of this order are exported.<br>
<strong>≠</strong> = The order items of all orders except this one are exported.<br>
<strong>&lt;</strong> = The order items of all orders with an ID lower than the entered one are exported.<br>
<strong>≤</strong> = The order items of all orders with an ID lower than the entered one as well as the order items of the order with this ID are exported. For example, if you enter 12, all order items of the orders with the ID from 1 to and including 12 are exported.<br>
<strong>&gt;</strong> = The order items of all orders with an ID higher than the entered one are exported.<br>
<strong>≥</strong> The order items of all orders with an ID higher than the entered one as well as the order items of the order with this ID are exported. For example, if you enter 12, all order items of orders with an ID from and including 12 are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order completion date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of orders for which the items were booked out on a specific date. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order creation date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of orders that were created on a specific date. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order item referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of the selected order referrers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order item type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of the selected types.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order item update date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items that were last changed on a specific date. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order item warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items to which the selected warehouses are assigned.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order referrer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of the orders that were generated via the selected <a href="/en/orders/order-referrer">order referrers</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of orders of the selected order types.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order update date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of orders that were last changed on a specific date. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of orders that have the selected warehouses assigned.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shipping profile</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items to which the selected shipping profiles are assigned.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">By setting an operator and entering a variation ID you determine to which order items the export should be limited.<br>
<strong>=</strong> = Only order items corresponding to this variation ID are exported.<br>
<strong>≠</strong> = All order items except the one corresponding to this variation ID are exported.<br>
<strong>&lt;</strong> = All order items that correspond to a variation ID lower than the entered one are exported.<br>
<strong>≤</strong> = All order items that correspond to a variation ID lower than the entered one as well as to this ID are exported. For example, if you enter 12, all order items corresponding to variations with the IDs from 1 to and including 12 are exported.<br>
<strong>&gt;</strong> = All order items that correspond to a variation ID higher than the entered one are exported.<br>
<strong>≥</strong> = All order items that correspond to a variation ID higher than the entered one as well as to this ID are exported. For example, if you enter 12, all order items corresponding to variations with the ID from and including 12 are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items containing the entered variation number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of orders with the selected <a href="/en/orders/managing-orders#1200">order statuses</a>.
<em>This filter is a required field.</em></p></td>
</tr>
</tbody>
</table>
<h5 id="_format_settings_4" class="discrete">Format settings</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If a status is selected, then all of the exported orders will be changed to this <a href="/en/orders/managing-orders#1200">order status</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Purchase order items</strong></div>
<div class="content">
<h5 id="_filter_purchase_order_items" class="discrete">Filter purchase order items</h5>
<div class="paragraph">
<p>The following filters are available to filter the order items of purchase orders before the export. Combine filters to refine the selection even further before the export.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to purchase order items for which a <strong>Delivery date</strong> was set in the order details. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delivery status of positions</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items for which the selected delivery statuses apply.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>External item ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items with the entered external item IDs. You can enter more than one ID by separating them with a comma.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Finish date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of purchase orders that were already completed on a specific date, i.e. for which a <strong>Finish date</strong> was set in the order details. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Inbound warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of purchase orders for which the selected warehouse is set as the receiver warehouse. The receiver warehouse is the inbound warehouse into which the orders items are booked.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">By setting an operator and entering an order ID you determine to which order items of which purchase orders the export should be limited.<br>
<strong>=</strong> = Only the order items of this purchase order are exported.<br>
<strong>≠</strong> = The order items of all purchase orders except this one are exported.<br>
<strong>&lt;</strong> = The order items of all purchase orders with an ID lower than the entered one are exported.<br>
<strong>≤</strong> = The order items of all purchase orders with an ID lower than the entered one as well as the order items of the purchase order with this ID are exported. For example, if you enter 12, all order items of the purchase orders with the ID 1 to and including 12 are exported.<br>
<strong>&gt;</strong> = The order items of all purchase orders with an ID higher than the entered one are exported.<br>
<strong>≥</strong> The order items of all purchase orders with an ID higher than the entered one as well as the purchase order items of the order with this ID are exported. For example, if you enter 12, all order items of purchase orders with an ID from and including 12 are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order creation date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of purchase orders that were created on a specific date. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order item update date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items that were last changed on a specific date. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the exports to order items of the selected order types. You can choose between reorders and redistributions. Use the <a href="/en/data/exporting-data/FormatDesigner/format-types/orders">format type Orders</a> if you want to export order items of other order types.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order update date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of purchase orders that were last changed on a specific date. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ordered date</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of purchase orders that were already initiated, i.e. for which the <strong>Order initiated</strong> date was set in the order details. After adding this filter, select a specific date or a period of time by using the operators and the date picker.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Outbound warehouse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">This filter only works for order items of redistributions. Limits the export to order items of redistributions for which the selected warehouse is set as the sender warehouse. The sender warehouse is the outbound warehouse from which the orders items are booked out.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Suppliers</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of the selected suppliers.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">By setting an operator and entering a variation ID you determine to which order items the export should be limited.<br>
<strong>=</strong> = Only order items corresponding to this variation ID are exported.<br>
<strong>≠</strong> = All order items except the one corresponding to this variation ID are exported.<br>
<strong>&lt;</strong> = All order items that correspond to a variation ID lower than the entered one are exported.<br>
<strong>≤</strong> = All order items that correspond to a variation ID lower than the entered one as well as to this ID are exported. For example, if you enter 12, all order items corresponding to variations with the ID from 1 to and including 12 are exported.<br>
<strong>&gt;</strong> = All order items that correspond to a variation ID higher than the entered one are exported.<br>
<strong>≥</strong> = All order items that correspond to a variation ID higher than the entered one as well as to this ID are exported. For example, if you enter 12, all order items corresponding to variations with the ID from and including 12 are exported.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Variation number</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items containing the entered variation number.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to order items of orders with the selected <a href="/en/orders/managing-orders#1200">order statuses</a>.
<em>This filter is a required field.</em></p></td>
</tr>
</tbody>
</table>
<h5 id="_format_settings_5" class="discrete">Format settings</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Setting</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Change order status</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">If a status is selected, then all of the exported orders will be changed to this <a href="/en/orders/managing-orders#1200">order status</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Property</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Section</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to properties for <a href="/en/item/settings/properties#620">a specific section</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Data type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Limits the export to <a href="/en/item/settings/properties#620">a specific type of properties</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Warehouse</strong></div>
<div class="content">
<div class="paragraph">
<p>The following filters are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Warehouse</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Listing</strong></div>
<div class="content">
<div class="paragraph">
<p>The following filters are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Item ID</strong></p>
</li>
<li>
<p><strong>Transmit item number type</strong></p>
</li>
<li>
<p><strong>Stock dependence</strong></p>
</li>
<li>
<p><strong>Error code</strong></p>
</li>
<li>
<p><strong>Error text</strong></p>
</li>
<li>
<p><strong>Error type</strong></p>
</li>
<li>
<p><strong>Enabled</strong></p>
</li>
<li>
<p><strong>Referrer ID</strong></p>
</li>
<li>
<p><strong>Unit combination ID</strong></p>
</li>
<li>
<p><strong>Account ID</strong></p>
</li>
<li>
<p><strong>LID</strong></p>
</li>
<li>
<p><strong>Warehouse</strong></p>
</li>
<li>
<p><strong>Layout template ID</strong></p>
</li>
<li>
<p><strong>Listing type</strong></p>
</li>
<li>
<p><strong>MLID</strong></p>
</li>
<li>
<p><strong>List with all variations</strong></p>
</li>
<li>
<p><strong>Verified</strong></p>
</li>
<li>
<p><strong>Language</strong></p>
</li>
<li>
<p><strong>Variation ID</strong></p>
</li>
<li>
<p><strong>Shipping profile</strong></p>
</li>
<li>
<p><strong>Directory ID</strong></p>
</li>
<li>
<p><strong>eBay category ID 1</strong></p>
</li>
<li>
<p><strong>eBay category ID 2</strong></p>
</li>
<li>
<p><strong>eBay shop category ID 1</strong></p>
</li>
<li>
<p><strong>eBay shop category ID 2</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Active listings</strong></div>
<div class="content">
<div class="paragraph">
<p>The following filters are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Item ID</strong></p>
</li>
<li>
<p><strong>Transmit item number type</strong></p>
</li>
<li>
<p><strong>Stock dependence</strong></p>
</li>
<li>
<p><strong>End time</strong></p>
</li>
<li>
<p><strong>External listing ID</strong></p>
</li>
<li>
<p><strong>Error code</strong></p>
</li>
<li>
<p><strong>Error text</strong></p>
</li>
<li>
<p><strong>Error type</strong></p>
</li>
<li>
<p><strong>Enabled</strong></p>
</li>
<li>
<p><strong>Referrer ID</strong></p>
</li>
<li>
<p><strong>Unit combination ID</strong></p>
</li>
<li>
<p><strong>Account ID</strong></p>
</li>
<li>
<p><strong>LID</strong></p>
</li>
<li>
<p><strong>Warehouse</strong></p>
</li>
<li>
<p><strong>Layout template ID</strong></p>
</li>
<li>
<p><strong>Last sale</strong></p>
</li>
<li>
<p><strong>Listing type</strong></p>
</li>
<li>
<p><strong>MLID</strong></p>
</li>
<li>
<p><strong>List with all variations</strong></p>
</li>
<li>
<p><strong>Verified</strong></p>
</li>
<li>
<p><strong>Language</strong></p>
</li>
<li>
<p><strong>Start time</strong></p>
</li>
<li>
<p><strong>Status</strong></p>
</li>
<li>
<p><strong>Variation ID</strong></p>
</li>
<li>
<p><strong>Shipping profile</strong></p>
</li>
<li>
<p><strong>Directory ID</strong></p>
</li>
<li>
<p><strong>eBay category ID 1</strong></p>
</li>
<li>
<p><strong>eBay category ID 2</strong></p>
</li>
<li>
<p><strong>eBay shop category ID 1</strong></p>
</li>
<li>
<p><strong>eBay shop category ID 2</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Stock</strong></div>
<div class="content">
<div class="paragraph">
<p>The following filters are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Active</strong></p>
</li>
<li>
<p><strong>Manufacturer</strong></p>
</li>
<li>
<p><strong>Warehouse</strong></p>
</li>
<li>
<p><strong>Flag 1</strong></p>
</li>
<li>
<p><strong>Flag 2</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Stock movement</strong></div>
<div class="content">
<div class="paragraph">
<p>The following filters are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Item ID</strong></p>
</li>
<li>
<p><strong>Warehouse</strong></p>
</li>
<li>
<p><strong>Variation ID</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Facet</strong></div>
<div class="content">
<div class="paragraph">
<p>The following filters are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Facet ID</strong></p>
</li>
<li>
<p><strong>Position</strong></p>
</li>
<li>
<p><strong>Type</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Facet value</strong></div>
<div class="content">
<div class="paragraph">
<p>The following filters are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Facet ID</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Facet value reference</strong></div>
<div class="content">
<div class="paragraph">
<p>The following filters are available:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Facet ID</strong></p>
</li>
<li>
<p><strong>Facet value ID</strong></p>
</li>
<li>
<p><strong>ID</strong></p>
</li>
<li>
<p><strong>Type</strong></p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="900">2.2. Searching for and editing existing exports</h3>
<div class="paragraph">
<p>Open the menu <strong>Data » Elastic export » Tab: Exports</strong> to see an overview of all your previously created exports.
You can use filters to limit which exports are shown.</p>
</div>
<div class="paragraph instruction">
<p>Searching for and opening exports:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Go to <strong>Data » Elastic export</strong>.</p>
</li>
<li>
<p>Choose <strong>filters</strong> in the left column. Note <a href="#filters-elastic-export">Table 4</a>.</p>
</li>
<li>
<p>Click on <strong>Search</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ The results are shown on the right.</p>
</li>
<li>
<p>Click on an export in the overview to open it and edit its settings.</p>
</li>
</ol>
</div>
<table id="filters-elastic-export" class="tableblock frame-all grid-all stretch">
<caption class="title">Table 4. Filter settings for the elastic export</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a number.
The search results include the export with this ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Enter a name or part of a name.
The search results include exports with this name.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Type</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a type from the drop-down list.
The search results include exports with this type.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Select a format from the drop-down list.
The search results include exports with this format.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Resetting the search criteria</div>
<div class="paragraph">
<p>Click on <strong>Reset</strong> (<span class="icon orange"><i class="fa fa-undo  "></i></span>) to delete the search criteria.
You can now start the search again.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="title">Show and hide columns in the overview</div>
<div class="paragraph">
<p>You can decide which columns should be displayed.
Point your cursor over the title bar and click on <strong>Customise the layout</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).
Activate or deactivate column names in the new window.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="_toolbar" class="discrete">Toolbar</h4>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/elastischer-export-symbolleiste.png" alt="elastischer export symbolleiste">
</div>
<div class="title">Figure 1. An export’s toolbar</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Explanation</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Save</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Saves the settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">The export automatically receives this ID when it is created. It serves as a unique identifier and cannot be changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Copy</strong> (<span class="icon yellow"><i class="psicon-copy"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Creates a copy of the export with the same settings.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Download</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Downloads the export file.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Last export change</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date and time when the export was last changed.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export created at</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Date and time when the export was created.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Delete</strong> (<span class="icon red"><i class="fa fa-minus-circle  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Deletes the export.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>