<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Getting started with fulfilling orders</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">You’re ready to start taking orders! But how? See which steps you’ll need to carry out when orders start rolling in.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/order-processing/processing-orders/fulfilling-orders-import#video">How are orders imported? (0:11)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/processing-orders/fulfilling-orders-confirmations#video">Sending order confirmations (0:41)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/processing-orders/fulfilling-orders-payments#video">Keeping track of payments (1:34)</a></p>
<p class="tableblock"><a href="/en/videos/order-processing/processing-orders/fulfilling-orders-notifying-employees#video">Notifying employees (2:47)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/218787269" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>By now, you’ve finished configuring your plentymarkets system, and you’re ready to start taking orders. But how? What exactly happens when a customer places an order?
Well, first off, the order will automatically be imported into your plentymarkets system and it will land here in the overview.</p>
</div>
<div class="paragraph">
<p>You’ll notice that the order is either in status 3, 4 or 5. 3 simply means that your customer hasn’t paid for the items yet.
Whereas both 4 and 5 mean that the customer has already paid - for example with PayPal. The only difference is whether or not the item is in stock. 4 means that the item isn’t in stock right now. And 5 means that you’ve got the item on hand.</p>
</div>
<div class="paragraph">
<p>So first the order is imported into plentymarkets. And as soon as it lands in the overview, you’ll want to send your customer an e-mail, which confirms that you’ve received their order.
But let’s back up just a second. Rather than sending e-mails by hand, just navigate to the "Automatic email" menu and tell plentymarkets which e-mails it should send on your behalf.
Here you can decide which template plentymarkets should send when an order was placed in your online store or when an order was placed on a market like eBay.</p>
</div>
<div class="paragraph">
<p>If you would prefer to control your e-mail communication with event procedures, then just navigate to this menu here and modify the settings as needed.
Event procedures are also a good way to send order confirmations that are customized for a very specific target audience.
For example, here I’m telling plentymarkets to send a very specific order confirmation to customers who bought one particular item on Rakuten.
Once the order confirmation’s been sent out, you’ll want to make sure that payment’s all squared away.</p>
</div>
<div class="paragraph">
<p>As I mentioned earlier, orders may or may not have already been paid for when they’re imported into your system. And these status numbers here give you a good indication of whether or not payment’s been received.
A bit further right, you can see the date when payment was received and you can also see a color-coded bar, which visually represents the payment status. This bar is also an easy way to recognize if a customer has accidentally paid too much or too little for their order.</p>
</div>
<div class="paragraph">
<p>But what about those cases where a customer simply mistook the amount by a few cents or there was a rounding error? Is it really worthwhile following up on?
Well, here, you can tell plentymarkets how many cents difference you’re willing to ignore and still treat as a complete payment.
When your customer makes a payment, a record of it this payment is imported into plentymarkets and displayed in this overview here. The menu includes records for the most common payment methods such as PayPal, Klarna and electronic bank transfer.
In most cases, payments are automatically assigned to whichever order they belong to.
But if a payment can’t be assigned for one reason or another, then it’s still possible to type in an order ID manually.</p>
</div>
<div class="paragraph">
<p>Once payment’s been taken care of, you’ll want to notify your warehouse technician that the order is ready to be shipped out.
But again here, why bother doing something manually that plentymarkets can easily automate?
Simply create an event procedure to notify specific employees when an order has switched to status 5 and is ready to be shipped out.
Or create one that notifies employees of any special customer requests or order notes.</p>
</div>
<div class="paragraph">
<p>From automatic status changes and order confirmations, to automatic records of payment and employee notifications, plentymarkets takes the weight off your shoulders and help you keep the show running smoothly.</p>
</div>
</div>
</div>
</main>