<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>CategoryLevel2List_CategoryIdLevel1</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Liefert eine Liste aller Kategorien der 2. Ebene, die einer bestimmten Kategorie der 1. Ebene untergeordnet sind. Die Kategorie der 1. Ebene muss angegeben werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">CategoryLevel2List_CategoryIdLevel1( int $_categoryID  ) : string</code></pre>
</div>
</div>
</div>
</div>
</main>