<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Link_Watchlist</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Liefert die URL zur Merkliste.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Link_Watchlist() : string</code></pre>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_beispiele">Beispiele</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">{#
	Example 1
	Returns the value that was previously stored under the keyword useHtmlAvailabilityIcon.
#}

&#123;&#37;
	$_value = GetGlobal("useHtmlAvailabilityIcon");
&#37;&#125;


{#
	Example 2
	Extended example to better illustrate one possible use.
#}

&#123;&#37; if GetGlobal("useHtmlAvailabilityIcon") &#37;&#125;
	&lt;span class="availabilityIcon available-$AvailabilityId" data-plenty="availabilityIcon"&gt;
		&lt;span class="first"&gt;&lt;/span&gt;
		&lt;span class="second"&gt;&lt;/span&gt;
		&lt;span class="third"&gt;&lt;/span&gt;
	&lt;/span&gt;
&#123;&#37; else &#37;&#125;
	&lt;span class="availabilityImageWrapper"&gt;$AvailabilityIcon&lt;/span&gt;
&#123;&#37; endif &#37;&#125;</code></pre>
</div>
</div>
</div>
</div>
</main>