<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Link_File</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ermöglicht es, eine URL zu einer Datei zur Verfügung zu stellen, um die Datei herunterzuladen. Die Datei muss im Menü <strong>CMS » Dokumente</strong> hinterlegt sein. Außerdem muss die ID der Datei angegeben werden. Die ID wird unter <strong>CMS » Dokumente</strong> angezeigt.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Link_File( int $_fileID  ) : string</code></pre>
</div>
</div>
</div>
</div>
</main>