<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Link_CrossSellingItem</h1><div class="sect1">
<h2 id="_kurzbeschreibung">Kurzbeschreibung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Liefert die URL zu den Cross-Selling-Artikeln eines Artikels. Die ID des Artikels, dessen Cross-Selling-Artikel ausgegeben werden sollen, muss angegeben werden.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="_funktionsbeschreibung">Funktionsbeschreibung</h2>
<div class="sectionbody">
<div class="listingblock">
<div class="content">
<pre class="highlight"><code class="language-plenty" data-lang="plenty">Link_CrossSellingItem( int $_itemID  ) : string</code></pre>
</div>
</div>
</div>
</div>
</main>