<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#100"><span>1.</span><span> Plugins herunterladen</span></a>
<ul class="sectlevel2">
<li><a href="#200"><span>1.1.</span><span> Elastischer Export</span></a></li>
<li><a href="#300"><span>1.2.</span><span> Plugins für Marktplätze</span></a></li>
<li><a href="#500"><span>1.3.</span><span> FormatDesigner</span></a></li>
</ul>
</li>
<li><a href="#600"><span>2.</span><span> Elastischen Export einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#700"><span>2.1.</span><span> Neue Exporte erstellen</span></a></li>
<li><a href="#900"><span>2.2.</span><span> Bestehende Exporte suchen und bearbeiten</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>Elastischer Export: Einrichtung und Verwendung</h1><div id="preamble">
<div class="sectionbody">
<div class="paragraph">
<p>Es gibt viele Gründe, Daten aus deinem plentymarkets System zu exportieren.
Vielleicht willst du z.B.:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>deine Artikel- und Variantendaten an Marktplätze übertragen.</p>
</li>
<li>
<p>eine CSV-Datei exportieren, die mit Produktdaten, Lagerdaten, Auftragsdaten usw. gefüllt ist.
Die Datei kannst du anschließend überarbeiten und wieder importieren.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Der elastische Export ist ein gutes Tool dafür.
Er ist ein kostenloses Plugin, das du von plentyMarketplace herunterladen und zu deinem System hinzufügen kannst.</p>
</div>
<div class="paragraph">
<p>Je nachdem, was du erreichen willst, gehst du unterschiedlich vor:</p>
</div>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="produkte-an-marktpl-tze--bertragen-tab" data-toggle="tab" href="#produkte-an-marktpl-tze--bertragen" role="tab" aria-controls="produkte-an-marktpl-tze--bertragen" aria-selected="true">Produkte an Marktplätze übertragen</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="daten-exportieren---berarbeiten--neu-importieren-tab" data-toggle="tab" href="#daten-exportieren---berarbeiten--neu-importieren" role="tab" aria-controls="daten-exportieren---berarbeiten--neu-importieren" aria-selected="false">Daten exportieren, überarbeiten, neu importieren</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="produkte-an-marktpl-tze--bertragen" role="tabpanel" aria-labelledby="produkte-an-marktpl-tze--bertragen-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Lade die nötigen Plugins herunter:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Elastischer Export</p>
</li>
<li>
<p>Sogenannte Datenformat-Plugins für deine gewünschten Marktplätze</p>
</li>
</ol>
</div>
</li>
<li>
<p>Richte den elastischen Export ein.
Wähle dabei das Datenformat für den entsprechenden Marktplatz aus.</p>
</li>
<li>
<p>Übertrage die CSV-Datei an den Marktplatz.</p>
</li>
</ol>
</div>
</div><div class="tab-pane fade" id="daten-exportieren---berarbeiten--neu-importieren" role="tabpanel" aria-labelledby="daten-exportieren---berarbeiten--neu-importieren-tab">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Lade die nötigen Plugins herunter:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p>Elastischer Export</p>
</li>
<li>
<p>FormatDesigner</p>
</li>
</ol>
</div>
</li>
<li>
<p>Erstelle sogenannte Datenformate mit Hilfe des FormatDesigners.</p>
</li>
<li>
<p>Richte den elastischen Export ein.
Wähle dabei das soeben erstellte Datenformat aus.</p>
</li>
<li>
<p>Exportiere die CSV-Datei, überarbeite diese und importiere sie wieder in plentymarkets.</p>
</li>
</ol>
</div>
</div></div>
</div>
</div><div class="sect1">
<h2 id="100">1. Plugins herunterladen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Welche Plugins du herunterladen sollst, hängt davon ab, was genau du erreichen willst.</p>
</div>
<table id="plugins" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Benötigte Plugins</caption>
<colgroup>
<col style="width: 33.3333%;">
<col style="width: 66.6667%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Ich will…​</th>
<th class="tableblock halign-left valign-top">Welche Plugins werden benötigt?</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Produkte an Marktplätze übertragen</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/daten/daten-exportieren/elastischer-export#200">Elastischer Export</a></p>
</li>
<li>
<p><a href="/daten/daten-exportieren/elastischer-export#300">Plugins für Marktplätze</a></p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Daten exportieren, überarbeiten, neu importieren</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p><a href="/daten/daten-exportieren/elastischer-export#200">Elastischer Export</a></p>
</li>
<li>
<p><a href="/daten/daten-exportieren/elastischer-export#500">FormatDesigner</a></p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Plugin-Set mit Standard-Mandantenverknüpfung</div>
<div class="paragraph">
<p>Installiere den elastischen Export und die Plugins für weitere Marktplätze in einem Plugin-Set mit Standard-Mandantenverknüpfung.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="sect2">
<h3 id="200">1.1. Elastischer Export</h3>
<div class="paragraph">
<p>Der elastische Export ist ein Plugin.
Lade das Plugin herunter und installiere es in deinem plentymarkets System.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/channels/marktplaetze/elasticexport_4763" target="_blank" rel="noopener">Download-Link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="/plugins/hinzugefuegte-plugins-installieren">Wie werden Plugins installiert?</a></p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="300">1.2. Plugins für Marktplätze</h3>
<div class="paragraph">
<p>Der elastische Export verfügt standardmäßig über zwei sogenannte "Datenformate".
Diese Datenformate ermöglichen es dir, deine Produkt- und Angebotsdaten an bol.com zu übermitteln.
Möchtest du Daten an weitere Marktplätze übermitteln?
Lade zusätzliche Plugins aus plentyMarketplace herunter, um die Auswahl der im Elastischen Export verfügbaren Datenformate zu erweitern.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Elastischer Export zuerst bereitstellen</div>
<div class="paragraph">
<p>Stelle zuerst das Elastischer Export-Plugin bereit, bevor du Datenformat-Plugins für weitere Märkte hinzufügst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="400" class="discrete">Datenformat-Plugins im Überblick</h4>
<table id="exportformate" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Beispiele für weitere in plentyMarketplace verfügbare Datenformate</caption>
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Exportformat</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>AwinCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportawincom_4762" target="_blank" rel="noopener">AWIN</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> bietet performance-basiertes Online- und Affiliate-Marketing an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BasicPriceSearchEngine</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn keine bestimmte Preissuchmaschine gewählt wird, <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportbasicpricesearchengine_4777/" target="_blank" rel="noopener">BasicPriceSearchEngine</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> verwenden. Es kann für die meisten Preissuchmaschinen verwendet werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BeezUp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportbeezup_4768/" target="_blank" rel="noopener">BeezUp</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> ist ein Tool zur Verwaltung und Optimierung des Präsentation von Artikeln in Preisportalen, auf Marktplätzen und bei Affiliate-Diensten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BelboonDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Affiliate-Netzwerk <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportbelboonde_4759/" target="_blank" rel="noopener">belboon</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> ist spezialisiert auf die Umsetzung Ihrer Performance-Marketing-Maßnahmen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>BilligerDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportbilligerde_4901" target="_blank" rel="noopener">billiger.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> ist ein deutsches Preisvergleichsportal mit TÜV-Zertifikat, das neben Preisvergleichen auch Testberichte und Bewertungen von Nutzer:innen anbietet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>CdiscountCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf dem Marktplatz <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportcdiscountcom_4738/" target="_blank" rel="noopener">Cdiscount</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> bietest du deine Artikel zum Verkauf an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Check24</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportcheck24de_4730/" target="_blank" rel="noopener">Check24</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> bietest du deine Artikel zum Verkauf an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>EcondaDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/integration/elasticexportecondade_4774/" target="_blank" rel="noopener">econda</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> bietet eine Controlling-Lösung zur umfassenden Analyse und Optimierung von Webshops.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GeizhalsDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportgeizhalsde_4743/" target="_blank" rel="noopener">Geizhals</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>-Preisvergleich ist eine unabhängige Preisvergleichs- und Informationsplattform mit Schwerpunkt Hardware und Unterhaltungselektronik.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GoogleShopping</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Das Preisvergleichsportal <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportgoogleshopping_4722" target="_blank" rel="noopener">GoogleShopping</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> bietet Such- und Vergleichsfunktionen sowie Links zu den Produktseiten anderer Online-Shops. Betreiber von Online-Shops können Ihre Produkte durch Abrechnung auf Klickbasis auf Google Shopping-Listen in der Google-Suche anzeigen lassen. Dieses Format basiert auf Google Shopping International.<br>
Dementsprechend müssen verknüpfte Merkmalwerte und Verfügbarkeiten im elastischen Export auf Englisch gepflegt sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>GuenstigerDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportguenstigerde_4745/" target="_blank" rel="noopener">guenstiger.de</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> ist ein Preisvergleichsportal, das neben Preisvergleichen auch Meinungen von Nutzer:innen, Testberichte und Bewertungen von Händler:innen anbietet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>IdealoDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportidealode_4723" target="_blank" rel="noopener">idealo</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> ist ein deutsches Preisportal und bietet Preisvergleiche mit Angeboten und Preisen, Testberichten sowie Preisbenachrichtigungen und Produktvergleichen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>KaufluxDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auf dem Marktplatz <a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportkaufluxde_4737/" target="_blank" rel="noopener">Kauflux</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> bietest du deine Artikel zum Verkauf an.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>KelkooDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/channels/preisportale/elasticexportkelkoode_5041" target="_blank" rel="noopener">Kelkoo</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> ist eine Preisvergleich-Suchmaschine für Shopping und Reisen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>KuponaDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportkuponade_4756/" target="_blank" rel="noopener">KUPONA</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> ist eine Agentur für Online Performance Marketing mit den Geschäftsfeldern Display Performance Advertising, Retargeting, Affiliate Marketing und Produktdatenmarketing.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MyBestBrandsDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportmybestbrandsde_4731/" target="_blank" rel="noopener">Mybestbrands</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> betreibt eine Empfehlungsplattform für stark reduzierte Mode und Lifestyle- sowie Elektronikprodukte von bekannten Markenherstellern.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShippingProfiles</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mit dem Format <a href="https://marketplace.plentymarkets.com/plugins/integration/ElasticExportShippingProfiles_4747" target="_blank" rel="noopener">ShippingProfiles</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> exportierst du Versandprofile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Shopping24DE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportshopping24de_4734/" target="_blank" rel="noopener">shopping24</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> ist eine Tochtergesellschaft der Otto Gruppe und ein Online-Portal für Preis- und Produktvergleiche.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShoppingCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportshoppingcom_4755" target="_blank" rel="noopener">Shopping.com</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> ist ein internationaler Produkt- und Preisvergleichsdienst.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ShopzillaDE</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexportshopzillade_4770/" target="_blank" rel="noopener">Shopzilla</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> ist eine Preisvergleichsplattform.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TracdelightCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexporttracdelightcom_4771/" target="_blank" rel="noopener">tracdelight</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> ist ein Netzwerk für Werbeagenturen und Verlage, das sich auf Mode und Lifestyle konzentriert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>treepodia</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexporttreepodiacom_4776/" target="_blank" rel="noopener">treepodia</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> bietet die Möglichkeit, aus Artikelbildern automatisch erzeugte Produktvideos in die Single Article-Ansicht von Webshopartikeln einzubinden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>TwengaCOM</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="https://marketplace.plentymarkets.com/plugins/markets/elasticexporttwengacom_4746/" target="_blank" rel="noopener">Twenga</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> ist eine internationale Shopping-Plattform und bietet einen umfassenden Preisvergleich.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Hast du dich auf dem Marktplatz registriert?</div>
<div class="paragraph">
<p>Bevor du deine Daten an einen Marktplatz übertragen kannst, musst du dich bei diesem Markt registriert haben.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="sect2">
<h3 id="500">1.3. FormatDesigner</h3>
<div class="paragraph">
<p>Willst du eine CSV-Datei exportieren?
Zum Beispiel, um die Datei zu bearbeiten und wieder ins System zu importieren.</p>
</div>
<div class="paragraph">
<p>Dann lade das FormatDesigner-Plugin herunter und verwende es, um deine eigenen, maßgeschneiderten Datenformate zu erstellen.
Mit anderen Worten entscheidest du mit Hilfe vom FormatDesigner, welche Daten exportiert werden sollen.</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/integration/formatdesigner_6483" target="_blank" rel="noopener">Download-Link</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="/daten/daten-exportieren/FormatDesigner">Wie wird FormatDesigner verwendet?</a></p>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="600">2. Elastischen Export einrichten</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="700">2.1. Neue Exporte erstellen</h3>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Neuer Export</strong>.<br>
→ Der Tab <strong>Neuer Export</strong> wird geöffnet.</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte <a href="#settings-new-export">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Der Export erhält automatisch eine eindeutige ID und wird zur Übersicht hinzugefügt.</p>
</li>
</ol>
</div>
<table id="settings-new-export" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Einstellungen für neuen Export</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Namen für den Export ein.
Dies ist ein interner Name, d.h. er ist für Kunden nicht sichtbar.
Unter diesem Namen wird das Exportformat in der Übersicht angezeigt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welche Art von Daten möchtest du exportieren?
Wähle diesen Datentyp aus der Dropdown-Liste aus.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Zusätzliche <a href="/daten/daten-exportieren/elastischer-export#800">Filter- und Formateinstellungen</a> werden eingeblendet, sobald du den Typ wählst.
Welche Einstellungen genau erscheinen, hängt vom Typ ab.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Welches Datenformat möchtest du exportieren?
Wähle dieses Datenformat aus der Dropdown-Liste aus.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Zum einen sind dies die <a href="/daten/daten-exportieren/elastischer-export#400">Datenformat-Plugins</a>, die du aus plentyMarketplace heruntergeladen hast.
Zum anderen sind dies die Datenformate, die du mit Hilfe von <a href="/daten/daten-exportieren/elastischer-export#500">FormatDesigner</a> selbst erstellt hast.</p>
<p class="tableblock"><strong><em>Hinweis</em></strong>: Welche Formate in dieser Liste enthalten sind, hängt davon ab, welchen Datentyp du oben gewählt hast.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Limit</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Zahl ein.
Diese Zahl bestimmt, wie viele Datensätze maximal exportiert werden sollen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Willst du mehr als 9999 Datensätze übertragen?</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Dann wird die Ausgabedatei nur einmal alle 24 Stunden neu generiert, um Ressourcen zu sparen.</p>
</li>
<li>
<p>Dann wähle auch die Option <strong>Cache-Datei generieren</strong> weiter unten.</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Cache-Datei generieren</strong><br>
(Nur für Typ Artikel)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle diese Option (<span class="icon blue"><i class="fa fa-check-square  "></i></span>), wenn mehr als 9999 Datensätze übertragen werden sollen. Um eine optimale Perfomance des elastischen Exports zu gewährleisten, darf diese Option bei maximal 20 Exportformaten aktiv sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereitstellung</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Wie sollen andere auf die Exportdatei zugreifen?
Wähle eine Zugriffsmethode aus der Dropdown-Liste aus.
Die Einstellungen ändern sich je nachdem, welche Methode du wählst.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Methode</th>
<th class="tableblock halign-left valign-top">Weitere Hinweise</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Externer Zugriff auf die Datei ist möglich.
Dritte rufen die Datei mit einer URL und einem Authentifizierungs-Token auf.</p>
</div>
<div class="paragraph">
<p><strong><em>Zusätzliche Einstellungen</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Klicke auf <strong>Token generieren</strong> (<span class="icon darkGrey"><i class="fa fa-undo  "></i></span>).</p>
</li>
<li>
<p>Der <strong>Token</strong> und die <strong>URL</strong> werden automatisch eingetragen.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>FTP</strong>;<br>
<strong>FTPS</strong>;<br>
<strong>SFTP</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Externer Zugriff auf die Datei ist möglich.
Die Datei wird auf einem Server abgelegt.</p>
</div>
<div class="paragraph">
<p><strong><em>Zusätzliche Einstellungen</em></strong>:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Gib die Zugangsdaten des Servers ein:</p>
<div class="olist loweralpha">
<ol class="loweralpha" type="a">
<li>
<p><strong>Server</strong>: Auf welchem Server soll die Datei abgelegt werden?<br>
Beispiel: ftp.DeinDomain.de</p>
</li>
<li>
<p><strong>Port</strong>: Der Standard-FTP-Port ist 21.</p>
</li>
<li>
<p><strong>Benutzername/Passwort</strong>: Gib deine Zugangsdaten ein.</p>
</li>
<li>
<p><strong>Pfad</strong>: Wo soll die Datei abgelegt werden? Gib den Dateipfad ein.</p>
</li>
</ol>
</div>
</li>
<li>
<p><strong>Übertragung</strong>: Wie oft sollen die Daten übermittelt werden?
Wähle die Option <strong>Zeitplan</strong>, wenn du die genauen Zeitpunkte der Datenübermittlung selbst festlegen willst.</p>
</li>
</ol>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Admin-Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Kein externer Zugriff ist möglich.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Dateiname</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib den Dateinamen mit Endung ein.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis</em></strong>: Verwende Platzhalter, um weitere Informationen automatisch zum Dateinamen hinzuzufügen.
Beispielsweise kannst du das aktuelle Datum zum Dateinamen hinzufügen.
Die folgenden Platzhalter stehen zur Verfügung: $name, $type, $format, $timestamp, $datetime, $year, $day, $hour, $minute, $numberRange</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiele</em></strong>:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>datei-name.csv</p>
</li>
<li>
<p>datei-name_2020_10_25.csv</p>
</li>
<li>
<p>datei-name_$year_$month_$day.csv</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Platzhalter Nummernkreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Diese Option kann nur verwendet werden, wenn der Dateiname den Platzhalter $numberRange enthält.
Gib die Höchstzahl für den Nummernkreis ein.</p></td>
</tr>
</tbody>
</table>
<h4 id="800" class="discrete">Filter- und Formateinstellungen</h4>
<div class="paragraph">
<p>Welche Filter- und Formateinstellungen du vornehmen musst, hängt davon ab, <a href="/daten/daten-exportieren/elastischer-export#700">welchen Typ du gewählt hast</a>.
Klappe die Info-Boxen unten auf (<span class="icon darkGrey"><i class="fa fa-chevron-down  "></i></span>), um mehr über die zusätzlichen Einstellungen für jeden Typ zu erfahren.</p>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Es sind keine Filter voreingestellt</div>
<div class="paragraph">
<p>Welche Datensätze sollen exportiert werden?
Schränke die zu übertragenden Daten mit Hilfe von Filtern ein.
Sonst werden beim Export alle Datensätze übertragen.</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Wähle einen Filter aus der Dropdown-Liste.</p>
</li>
<li>
<p>Klicke auf <span class="icon green"><i class="fa fa-plus  "></i></span> <strong>Hinzufügen</strong>.</p>
</li>
<li>
<p>Lege die Einstellungen des Filters fest.</p>
</li>
<li>
<p>Wiederhole den Vorgang, um beliebig viele Filter aus der Dropdown-Liste hinzuzufügen.</p>
</li>
</ol>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Attribut</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Attribut</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf ein bestimmtes <a href="/artikel/einstellungen/attribute">Attribut</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf <a href="/artikel/einstellungen/attribute#1000">Attributnamen in einer bestimmten Sprache</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Kategorie</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ebene</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf <a href="/artikel/einstellungen/kategorien#120">Kategorien einer bestimmten Ebene</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf <a href="/artikel/einstellungen/kategorien#700">Kategorien eines bestimmten Mandanten</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf Kategorien, die <a href="/artikel/einstellungen/kategorien#1500">in einer bestimmten Sprache gespeichert</a> wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf einen bestimmten <a href="/artikel/einstellungen/kategorien#700">Kategorie-Typ</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Kontakt</strong></div>
<div class="content">
<div class="paragraph">
<p>Die folgenden Filter stehen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Alle Kontaktadressen exportieren</strong></p>
</li>
<li>
<p><strong>Bewertung</strong></p>
</li>
<li>
<p><strong>Eigner</strong></p>
</li>
<li>
<p><strong>Herkunfts-ID</strong> (zur Zeit ohne Funktion)</p>
</li>
<li>
<p><strong>IBAN</strong></p>
</li>
<li>
<p><strong>Kontakt-ID</strong></p>
</li>
<li>
<p><strong>Kundenklasse</strong></p>
</li>
<li>
<p><strong>Land</strong></p>
</li>
<li>
<p><strong>Lastschriftmandat</strong></p>
</li>
<li>
<p><strong>Mandant</strong></p>
</li>
<li>
<p><strong>Typ</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Newsletter-Empfänger</strong></div>
<div class="content">
<div class="paragraph">
<p>Die folgenden Filter stehen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Kundenklasse</strong></p>
</li>
<li>
<p><strong>Newsletter-Ordner</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Artikel</strong></div>
<div class="content">
<h5 id="_artikelfilter" class="discrete">Artikelfilter</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktiv</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf Varianten, die entweder <a href="/artikel/artikel-verwalten#intable-aktiv">aktiv oder inaktiv</a> sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aktualisierungsdatum des Artikels</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf Artikel, die an einem bestimmten Datum zuletzt geändert wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikeltyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf einen bestimmten <a href="/artikel/import-export-anlage/anlage/neue-artikel#intable-typ">Artikeltyp</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welche Bestände exportiert werden sollen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bild</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf Artikel, für die <a href="/artikel/artikel-verwalten#90">ein Bild gespeichert</a> ist.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Erstellungsdatum des Artikels</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf Artikel, die an einem bestimmten Datum erstellt wurden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf Artikel, die <a href="/artikel/artikel-verwalten#_grundeinstellungen">von einer bestimmten Firma hergestellt</a> werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kategorie</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit der Artikel mit Kategorieverknüpfung übertragen wird. Es werden nur Artikel, die dieser Kategorie zugehören, übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf Artikel, die für <a href="/artikel/artikel-verwalten#360">einen bestimmten Mandanten</a> verfügbar sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Markierung 1</strong>;<br>
<strong>Markierung 2</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf Artikel, die <a href="/artikel/import-export-anlage/anlage/neue-artikel#200">eine bestimmte Markierung</a> haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Märkte</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf Artikel, die für <a href="/artikel/artikel-verwalten#350">einen bestimmten Markt</a> verfügbar sind.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Positiver Warenbestand im gewählten Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein Lager aus der Dropdown-Liste.
Beschränkt den Export auf Varianten, die in diesem Lager sind und positiven Bestand haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Positiver physischer Warenbestand im gewählten Lager</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein Lager aus der Dropdown-Liste. Beschränkt den Export auf Varianten, die in diesem Lager sind und positiven physischen Bestand haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Preise</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Beschränkt den Export auf Artikel mit <a href="/artikel/artikel-verwalten#240">einem bestimmten Preis</a>.</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Ohne Preis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Artikel, die keinem hinterlegten Preis haben, werden übertragen.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mit Preis</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Artikel, die einen hinterlegten Preis haben, werden übertragen.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mit Preis unter</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Preis ein. Artikel, die einen niedrigeren Preis haben, werden übertragen.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mit Preis über</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib einen Preis ein. Artikel, die einen höheren Preis haben, werden übertragen.<br></p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mit Preis zwischen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Gib eine Unter- und eine Obergrenze ein. Artikel, die einen Preis zwischen den zwei Werten haben, werden übertragen.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Standard, Paket, Paketbestandteil</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf Standard-Artikel, <a href="/artikel/anwendungsfaelle/multipacks-pakete-sets#2000">Artikelpakete</a> und Paketbestandteile.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tag (UND-Modus)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib ein oder mehrere Tag-Namen ein. Artikel, die mit <em>allen</em> der gewählten <a href="/willkommen/allgemeine-funktionen/tags">Tags</a> verknüpft sind, werden übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Tag (ODER-Modus)</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib ein oder mehrere Tag-Namen ein. Artikel, die mit <em>mindestens einem</em> der gewählten <a href="/willkommen/allgemeine-funktionen/tags">Tags</a> verknüpft sind, werden übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Varianten</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Welche Art von Varianten sollen übertragen werden?</p>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 20%;">
<col style="width: 80%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Alle übertragen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Alle Varianten werden übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur Hauptvarianten übertragen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Nur Hauptvarianten werden übertragen.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Keine Hauptvarianten übertragen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Nur die Untervarianten eines Artikels werden übertragen. Hauptvarianten werden nicht übertragen.
Diese Option ist nützlich, wenn die Hauptvarianten nur virtuell und keine verkaufbaren Produkte sind.</p>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Nur Einzelvarianten übertragen</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="paragraph">
<p>Nur die Hauptvarianten von Artikeln werden übertragen, die nur eine Hauptvariante und keine weiteren Varianten haben.</p>
</div></div></td>
</tr>
</tbody>
</table></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Währung wählen.</p></td>
</tr>
</tbody>
</table>
<h5 id="_formateinstellungen" class="discrete">Formateinstellungen</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Produkt-URL</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Soll die URL des Artikels oder der Variante übertragen werden? Varianten-URLs können nur in Kombination mit dem Ceres Webshop übertragen werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Mandant</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Mandanten wählen. Diese Einstellung wird für den URL-Aufbau verwendet.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>URL-Parameter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Suffix für die Produkt-URL eingeben, wenn ein Suffix für den Export erforderlich ist. Die Produkt-URL wird dann um die eingegebene Zeichenkette erweitert, wenn weiter oben die Option <strong>Artikel-URL</strong> oder <strong>Varianten-URL</strong> für die Produkt-URL aktiviert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsherkunft</strong><br>
<span class="red">(Pflichtfeld)</span></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Auftragsherkunft aus der Dropdown-Liste wählen. Diese Einstellung ist abnhängig von der gewählten Auftragsherkunft und wird für die SKU-Generierung verwendet. Die Produkt-URL wird um die gewählte Auftragsherkunft erweitert, damit die Verkäufe später analysiert werden können.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Marktplatzkonto</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Marktplatzkonto aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Sprache</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Sprache aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelname</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name 1</strong>, <strong>Name 2</strong> oder <strong>Name 3</strong> wählen. Die Namen sind im Tab <strong>Texte</strong> eines Artikels gespeichert.<br>
Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn die Schnittstelle eine Begrenzung der Länge des Artikelnamen beim Export vorgibt.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Vorschautext</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, ob und welcher Text als Vorschautext übertragen werden soll.<br>
Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn eine Begrenzung der Länge des Vorschautextes beim Export vorgegeben ist.<br>
Option <strong>HTML-Tags entfernen</strong> aktivieren, damit die HTML-Tags beim Export entfernt werden.<br>
Im Feld <strong>Erlaubte HTML-Tags, kommagetrennt (def. Text)</strong> optional die HTML-Tags eingeben, die beim Export erlaubt sind. Wenn mehrere Tags eingegeben werden, mit Komma trennen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Beschreibung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wählen, welcher Text als Beschreibungstext übertragen werden soll.<br>
Im Feld <strong>Maximale Zeichenlänge (def. Text)</strong> optional eine Zahl eingeben, wenn eine Begrenzung der Länge der Beschreibung beim Export vorgegeben ist.<br>
Option <strong>HTML-Tags entfernen</strong> aktivieren, damit die HTML-Tags beim Export entfernt werden.<br>
Im Feld <strong>Erlaubte HTML-Tags, kommagetrennt (def. Text)</strong> optional die HTML-Tags eingeben, die beim Export erlaubt sind. Wenn mehrere Tags eingegeben werden, mit Komma trennen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zielland</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zielland aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Barcode</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">ASIN, ISBN oder eine EAN aus der Dropdown-Liste wählen. Der gewählte Barcode muss mit der oben gewählten Auftragsherkunft verknüpft sein. Andernfalls wird der Barcode nicht exportiert.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bild</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position 0</strong> oder <strong>Erstes Bild</strong> wählen, um dieses Bild zu exportieren.<br>
<strong>Position 0</strong> = Ein Bild mit der Position 0 wird übertragen.<br>
<strong>Erstes Bild</strong> = Das erste Bild wird übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bildposition des Energieetiketts</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Position des Energieetiketts eintragen. Alle Bilder, die als Energieetikette übertragen werden sollen, müssen diese Position haben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestandspuffer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Bestandspuffer für Varianten mit der Beschränkung auf den Netto-Warenbestand.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsbeschränkung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Bestand für Varianten ohne Bestandsbeschränkung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bestand für Varianten ohne Bestandsführung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Bestand für Varianten ohne Bestandsführung.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Währung live umrechnen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit der Preis je nach eingestelltem Lieferland in die Währung des Lieferlandes umgerechnet wird. Der Preis muss für die entsprechende Währung freigegeben sein.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Verkaufspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Brutto- oder Nettopreis aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Angebotspreis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um den Angebotspreis zu übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>UVP</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, um den UVP zu übertragen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandkosten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Aktivieren, damit die Versandkosten aus der Konfiguration übernommen werden. Wenn die Option aktiviert ist, stehen in den beiden Dropdown-Listen Optionen für die Konfiguration und die Zahlungsart zur Verfügung.<br>
 Option <strong>Pauschale Versandkosten übertragen</strong> aktivieren, damit die pauschalen Versandkosten übertragen werden. Wenn diese Option aktiviert ist, muss im Feld darunter ein Betrag eingegeben werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>MwSt.-Hinweis</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Text eingeben. Dieser Betrag enthält die Mehrwertsteuer zuzüglich Versand.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Artikelverfügbarkeit</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Option <strong>überschreiben</strong> aktivieren und in die Felder <strong>1</strong> bis <strong>10</strong>, die die ID der Verfügbarkeit darstellen, Artikelverfügbarkeiten eintragen. Somit werden die Artikelverfügbarkeiten, die im Menü <strong>Einrichtung » Artikel » Verfügbarkeit</strong> eingestellt wurden, überschrieben.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Hersteller</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Hersteller-ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf <a href="/artikel/einstellungen/hersteller#100">Hersteller mit einer bestimmten ID</a>.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Position</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf <a href="/artikel/einstellungen/hersteller#100">Hersteller mit einer bestimmten Positionsnummer</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Artikelbilder</strong></div>
<div class="content">
<div class="paragraph">
<p>Die folgenden Filter stehen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikel-ID</strong></p>
</li>
<li>
<p><strong>Dateityp</strong></p>
</li>
<li>
<p><strong>Märkte</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Auftrag</strong></div>
<div class="content">
<h5 id="_auftragsfilter" class="discrete">Auftragsfilter</h5>
<div class="paragraph">
<p>Die folgenden Filter stehen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Auftragsstatus</strong></p>
</li>
<li>
<p><strong>Aktualisierungsdatum</strong></p>
</li>
<li>
<p><strong>Auftrags-ID</strong></p>
</li>
<li>
<p><strong>Auftragstyp</strong></p>
</li>
<li>
<p><strong>Erstellungsdatum</strong></p>
</li>
<li>
<p><strong>Herkunft</strong></p>
</li>
<li>
<p><strong>Kontakt-ID</strong></p>
</li>
<li>
<p><strong>Kundenklasse</strong></p>
</li>
<li>
<p><strong>Lager</strong></p>
</li>
<li>
<p><strong>Lieferland</strong></p>
</li>
<li>
<p><strong>Versandprofil</strong></p>
</li>
<li>
<p><strong>Warenausgangsdatum</strong></p>
</li>
<li>
<p><strong>Zahlungsart</strong></p>
</li>
<li>
<p><strong>Zahlungsdatum</strong></p>
</li>
<li>
<p><strong>Zahlungsstatus</strong></p>
</li>
<li>
<p><strong>voraussichtl. Lieferdatum</strong></p>
</li>
</ul>
</div>
<h5 id="_formateinstellungen_2" class="discrete">Formateinstellungen</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstatus ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn ein Status gewählt ist, werden alle exportierten Aufträge auf diesen Status geändert.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Auftragsposition</strong></div>
<div class="content">
<h5 id="_auftragspositionsfilter" class="discrete">Auftragspositionsfilter</h5>
<div class="paragraph">
<p>Die folgenden Filter stehen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Auftragsstatus</strong></p>
</li>
<li>
<p><strong>Aktualisierungsdatum der Auftragsposition</strong></p>
</li>
<li>
<p><strong>Aktualisierungsdatum des Auftrags</strong></p>
</li>
<li>
<p><strong>Auftrags-ID</strong></p>
</li>
<li>
<p><strong>Auftragsherkunft</strong></p>
</li>
<li>
<p><strong>Auftragstyp</strong></p>
</li>
<li>
<p><strong>Erstellungsdatum des Auftrags</strong></p>
</li>
<li>
<p><strong>Herkunft der Auftragsposition</strong></p>
</li>
<li>
<p><strong>Hersteller</strong></p>
</li>
<li>
<p><strong>Lager der Auftragsposition</strong></p>
</li>
<li>
<p><strong>Lager des Auftrags</strong></p>
</li>
<li>
<p><strong>Lieferland</strong></p>
</li>
<li>
<p><strong>Typ der Auftragsposition</strong></p>
</li>
<li>
<p><strong>Varianten-ID</strong></p>
</li>
<li>
<p><strong>Variantennummer</strong></p>
</li>
<li>
<p><strong>Versandprofil</strong></p>
</li>
<li>
<p><strong>Warenausgangsdatum des Auftrags</strong></p>
</li>
<li>
<p><strong>voraussichtl. Lieferdatum</strong></p>
</li>
</ul>
</div>
<h5 id="_formateinstellungen_3" class="discrete">Formateinstellungen</h5>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Auftragsstatus ändern</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wenn ein Status gewählt ist, werden alle exportierten Aufträge auf diesen Status geändert.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Eigenschaft</strong></div>
<div class="content">
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Bereich</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf Eigenschaften, die <a href="/artikel/einstellungen/eigenschaften#620">für einen bestimmten Bereich</a> gelten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Datentyp</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Beschränkt den Export auf <a href="/artikel/einstellungen/eigenschaften#620">eine bestimmte Art von Eigenschaften</a>.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Lager</strong></div>
<div class="content">
<div class="paragraph">
<p>Die folgenden Filter stehen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Lager</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Listing</strong></div>
<div class="content">
<div class="paragraph">
<p>Die folgenden Filter stehen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikel-ID</strong></p>
</li>
<li>
<p><strong>Artikelnummer-Übertragung-Typ</strong></p>
</li>
<li>
<p><strong>Bestandsabhängigkeit</strong></p>
</li>
<li>
<p><strong>Fehlercode</strong></p>
</li>
<li>
<p><strong>Fehlertext</strong></p>
</li>
<li>
<p><strong>Fehlertyp</strong></p>
</li>
<li>
<p><strong>Freigeschaltet</strong></p>
</li>
<li>
<p><strong>Herkunfts-ID</strong></p>
</li>
<li>
<p><strong>Inhalt-ID</strong></p>
</li>
<li>
<p><strong>Konto-ID</strong></p>
</li>
<li>
<p><strong>LID</strong></p>
</li>
<li>
<p><strong>Lager</strong></p>
</li>
<li>
<p><strong>Layout-Vorlage-ID</strong></p>
</li>
<li>
<p><strong>Listing-Typ</strong></p>
</li>
<li>
<p><strong>MLID</strong></p>
</li>
<li>
<p><strong>Mit allen Varianten listen</strong></p>
</li>
<li>
<p><strong>Prüfung</strong></p>
</li>
<li>
<p><strong>Sprache</strong></p>
</li>
<li>
<p><strong>Varianten-ID</strong></p>
</li>
<li>
<p><strong>Versandprofil</strong></p>
</li>
<li>
<p><strong>Verzeichnis-ID</strong></p>
</li>
<li>
<p><strong>eBay-Kategorie-ID 1</strong></p>
</li>
<li>
<p><strong>eBay-Kategorie-ID 2</strong></p>
</li>
<li>
<p><strong>eBay-Shop-Kategorie-ID 1</strong></p>
</li>
<li>
<p><strong>eBay-Shop-Kategorie-ID 2</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Aktive Listings</strong></div>
<div class="content">
<div class="paragraph">
<p>Die folgenden Filter stehen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikel-ID</strong></p>
</li>
<li>
<p><strong>Artikelnummer-Übertragung-Typ</strong></p>
</li>
<li>
<p><strong>Bestandsabhängigkeit</strong></p>
</li>
<li>
<p><strong>Endzeit</strong></p>
</li>
<li>
<p><strong>Externe Listing-ID</strong></p>
</li>
<li>
<p><strong>Fehlercode</strong></p>
</li>
<li>
<p><strong>Fehlertext</strong></p>
</li>
<li>
<p><strong>Fehlertyp</strong></p>
</li>
<li>
<p><strong>Freigeschaltet</strong></p>
</li>
<li>
<p><strong>Herkunfts-ID</strong></p>
</li>
<li>
<p><strong>Inhalt-ID</strong></p>
</li>
<li>
<p><strong>Konto-ID</strong></p>
</li>
<li>
<p><strong>LID</strong></p>
</li>
<li>
<p><strong>Lager</strong></p>
</li>
<li>
<p><strong>Layout-Vorlage-ID</strong></p>
</li>
<li>
<p><strong>Letzter Verkauf</strong></p>
</li>
<li>
<p><strong>Listing-Typ</strong></p>
</li>
<li>
<p><strong>MLID</strong></p>
</li>
<li>
<p><strong>Mit allen Varianten listen</strong></p>
</li>
<li>
<p><strong>Prüfung</strong></p>
</li>
<li>
<p><strong>Sprache</strong></p>
</li>
<li>
<p><strong>Startzeit</strong></p>
</li>
<li>
<p><strong>Status</strong></p>
</li>
<li>
<p><strong>Varianten-ID</strong></p>
</li>
<li>
<p><strong>Versandprofil</strong></p>
</li>
<li>
<p><strong>Verzeichnis-ID</strong></p>
</li>
<li>
<p><strong>eBay-Kategorie-ID 1</strong></p>
</li>
<li>
<p><strong>eBay-Kategorie-ID 2</strong></p>
</li>
<li>
<p><strong>eBay-Shop-Kategorie-ID 1</strong></p>
</li>
<li>
<p><strong>eBay-Shop-Kategorie-ID 2</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Bestand</strong></div>
<div class="content">
<div class="paragraph">
<p>Die folgenden Filter stehen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Aktiv</strong></p>
</li>
<li>
<p><strong>Hersteller</strong></p>
</li>
<li>
<p><strong>Lager</strong></p>
</li>
<li>
<p><strong>Markierung 1</strong></p>
</li>
<li>
<p><strong>Markierung 2</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Warenbewegung</strong></div>
<div class="content">
<div class="paragraph">
<p>Die folgenden Filter stehen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Artikel-ID</strong></p>
</li>
<li>
<p><strong>Lager</strong></p>
</li>
<li>
<p><strong>Varianten-ID</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Facette</strong></div>
<div class="content">
<div class="paragraph">
<p>Die folgenden Filter stehen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Facetten-ID</strong></p>
</li>
<li>
<p><strong>Position</strong></p>
</li>
<li>
<p><strong>Typ</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Facettenwert</strong></div>
<div class="content">
<div class="paragraph">
<p>Die folgenden Filter stehen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Facetten-ID</strong></p>
</li>
</ul>
</div>
</div>
</div>
<div class="openblock collapseBox">
<div class="title"><strong>Facettenwert-Verknüpfung</strong></div>
<div class="content">
<div class="paragraph">
<p>Die folgenden Filter stehen zur Verfügung:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><strong>Facetten-ID</strong></p>
</li>
<li>
<p><strong>Facettenwert-ID</strong></p>
</li>
<li>
<p><strong>ID</strong></p>
</li>
<li>
<p><strong>Typ</strong></p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="900">2.2. Bestehende Exporte suchen und bearbeiten</h3>
<div class="paragraph">
<p>Öffne das Menü <strong>Daten » Elastischer Export » Tab: Exporte</strong>, um eine Übersicht aller zuvor erstellten Exporte zu sehen.
Mit Hilfe von Filtern kannst du einschränken, welche Exporte angezeigt werden.</p>
</div>
<div class="paragraph instruction">
<p>Exporte suchen und öffnen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Daten » Elastischer Export</strong>.</p>
</li>
<li>
<p>Wähle die <strong>Filter</strong> in der Spalte links. Beachte <a href="#filters-elastic-export">Tabelle 4</a>.</p>
</li>
<li>
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die Ergebnisse werden in der Übersicht rechts angezeigt.</p>
</li>
<li>
<p>Klicke direkt auf einen Export in der Übersicht, um ihn zu öffnen und seine Einstellungen zu bearbeiten.</p>
</li>
</ol>
</div>
<table id="filters-elastic-export" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 4. Filtereinstellungen für den elastischen Export</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Filter</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib eine Zahl ein.
Die Suchergebnisse enthalten den Export mit dieser ID.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Gib einen Name oder einen Teil des Namens ein.
Die Suchergebnisse enthalten Exporte mit diesem Namen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Typ</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle einen Typ aus der Dropdown-Liste.
Die Suchergebnisse enthalten Exporte mit diesem Typ.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Format</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Wähle ein Format aus der Dropdown-Liste.
Die Suchergebnisse enthalten Exporte mit diesem Format.</p></td>
</tr>
</tbody>
</table>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Suchkriterien zurücksetzen</div>
<div class="paragraph">
<p>Klicke auf <strong>Zurücksetzen</strong> (<span class="icon orange"><i class="fa fa-undo  "></i></span>), um die Suchkriterien zu löschen.
Du kannst die Suche nun erneut ausführen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">Spalten in der Übersicht ein- und ausblenden</div>
<div class="paragraph">
<p>Entscheide selbst, welche Spalten angezeigt werden sollen.
Zeige mit der Maus auf die Titelzeile und klicke auf <strong>Ansicht einrichten</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).
Im neuen Fenster aktivierst oder deaktivierst du die Spaltennamen.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="_symbolleiste" class="discrete">Symbolleiste</h4>
<div class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/daten/assets/elastischer-export-symbolleiste.png" alt="elastischer export symbolleiste">
</div>
<div class="title">Bild 1. Symbolleiste eines Exports</div>
</div>
<table class="tableblock frame-all grid-all stretch">
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Option</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Speichern</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Speichert die Einstellungen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>ID</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Der Export erhält beim Erstellen automatisch diese ID. Sie dient zur eindeutigen Kennung und kann nicht geändert werden.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Kopieren</strong> (<span class="icon yellow"><i class="psicon-copy"></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erzeugt eine Kopie des Exports mit den gleichen Einstellungen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Herunterladen</strong> (<span class="icon purple"><i class="fa fa-download  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Lädt die Exportdatei herunter.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Letzte Exportänderung</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum und Uhrzeit, wann der Export zuletzt geändert wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Export erstellt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Datum und Uhrzeit, wann der Export erstellt wurde.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Löschen</strong> (<span class="icon red"><i class="fa fa-minus-circle  "></i></span>)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Löscht den Export.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>