<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#bei-dpd-uk-registrieren"><span>1.</span><span> Bei DPD UK registrieren</span></a></li>
<li><a href="#dpd-shipping-uk-einrichten"><span>2.</span><span> DPD Shipping UK in plentymarkets einrichten</span></a>
<ul class="sectlevel2">
<li><a href="#vorbereitende-einstellungen"><span>2.1.</span><span> Vorbereitende Einstellungen vornehmen</span></a></li>
<li><a href="#schnittstelle-einrichten"><span>2.2.</span><span> Schnittstelle einrichten</span></a>
<ul class="sectlevel3">
<li><a href="#dpd-uk-grundeinstellungen"><span>2.2.1.</span><span> Grundeinstellungen vornehmen</span></a></li>
<li><a href="#dpd-uk-absenderdaten"><span>2.2.2.</span><span> Absenderdaten eingeben</span></a></li>
<li><a href="#dpd-uk-versandeinstellungen"><span>2.2.3.</span><span> Versandeinstellungen vornehmen</span></a></li>
</ul>
</li>
<li><a href="#dpd-uk-benutzerrechte"><span>2.3.</span><span> Rechte für Backend-Benutzer:innen vergeben</span></a></li>
</ul>
</li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>DPD Shipping UK</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">DPD Shipping UK-Plugin herunterladen</div>
<div class="paragraph">
<p>Die Schnittstelle zu DPD UK wird über ein Plugin integriert. Um das DPD Shipping UK-Plugin nutzen zu können, lade das Plugin im <a href="https://marketplace.plentymarkets.com/plugins/integration/dpdshippinguk_5121" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="bei-dpd-uk-registrieren">1. Bei DPD UK registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Schnittstelle für DPD Shipping UK in deinem plentymarkets System einzurichten und die DPD-Services zu nutzen, registriere dich zunächst bei <a href="https://www.dpd.co.uk/content/products_services/uk_services.jsp" target="_blank" rel="noopener">DPD UK</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>. Du erhältst von DPD UK die Daten, die du für die Einstellungen in plentymarkets benötigst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="dpd-shipping-uk-einrichten">2. DPD Shipping UK in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="vorbereitende-einstellungen">2.1. Vorbereitende Einstellungen vornehmen</h3>
<div class="paragraph">
<p>Zunächst musst du einige vorbereitende Einstellungen im plentymarkets Backend vornehmen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/fulfillment/versand-vorbereiten#100">Lieferländer</a> aktivieren</p>
</li>
<li>
<p><a href="/fulfillment/versand-vorbereiten#400">Regionen</a> erstellen</p>
</li>
<li>
<p>den <a href="/fulfillment/versand-vorbereiten#800">Versanddienstleister</a> <strong>DPD Shipping UK</strong> erstellen</p>
</li>
<li>
<p><a href="/fulfillment/versand-vorbereiten#1000">Versandprofil</a> und <a href="/fulfillment/versand-vorbereiten#1500">Portotabelle</a> für <strong>DPD Shipping UK</strong> erstellen</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Anschließend nimmst du die versanddienstleisterspezifischen Einstellungen zum Einrichten der Schnittstelle im plentymarkets Backend über die Bedienoberfläche des Plugins im Menü <strong>Einrichtung » Aufträge » Versand » DPD Shipping UK</strong> vor.</p>
</div>
</div>
<div class="sect2">
<h3 id="schnittstelle-einrichten">2.2. Schnittstelle einrichten</h3>
<div class="paragraph">
<p>Sobald du das <a href="/plugins/hinzugefuegte-plugins-installieren#plugin-installieren">Plugin in einem Plugin-Set installiert</a> hast, ist das Plugin im Menü <strong>Einrichtung » Aufträge » Versand</strong> sichtbar.</p>
</div>
<div class="paragraph">
<p>Gehe wie in den folgenden Unterkapiteln beschrieben vor, um die Schnittstelle in plentymarkets einzurichten.</p>
</div>
<div class="sect3">
<h4 id="dpd-uk-grundeinstellungen">2.2.1. Grundeinstellungen vornehmen</h4>
<div class="paragraph">
<p>Im Menü <strong>Grundeinstellungen</strong> gibst du deine Zugangsdaten ein.</p>
</div>
<div class="paragraph instruction">
<p>Grundeinstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » DPD Shipping UK » Grundeinstellungen</strong>.</p>
</li>
<li>
<p>Wähle das DPD Produkt aus der Dropdown-Liste.</p>
</li>
<li>
<p>Gib den Benutzer:innennamen und das Passwort, wie von DPD erhalten, ein.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
<div class="sect3">
<h4 id="dpd-uk-absenderdaten">2.2.2. Absenderdaten eingeben</h4>
<div class="paragraph">
<p>Im Menü <strong>Absenderdaten</strong> gibst du die Absenderadresse sowie Daten zur Kontaktperson ein.</p>
</div>
<div class="paragraph instruction">
<p>Absenderdaten eingeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » DPD Shipping UK » Absenderdaten</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Adresse anlegen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#table-dpd-shipping-uk-sender-data">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-dpd-shipping-uk-sender-data" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Absenderdaten für DPD Shipping UK eingeben</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Firma</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Firmenname eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Absenderadresse</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Straße</strong>, <strong>Hausnummer</strong>, <strong>PLZ</strong>, <strong>Stadt</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Daten des Absenders eingeben.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Land</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Land aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top" colspan="2"><p class="tableblock"><strong>Kontaktperson</strong></p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Name</strong>, <strong>E-Mail-Adresse</strong>, <strong>Telefonnummer</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Daten der Kontaktperson, die bei Rückfragen von DPD kontaktiert werden soll, eingeben.</p></td>
</tr>
</tbody>
</table>
</div>
<div class="sect3">
<h4 id="dpd-uk-versandeinstellungen">2.2.3. Versandeinstellungen vornehmen</h4>
<div class="paragraph">
<p>Im Menü <strong>Versandeinstellungen</strong> verknüpfst du das Versandprofil, die Versandregion, die Absenderadresse und die DPD-Services.</p>
</div>
<div class="paragraph instruction">
<p>Versandeinstellungen vornehmen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Aufträge » Versand » DPD Shipping UK » Versandeinstellungen</strong>.</p>
</li>
<li>
<p>Klicke auf <strong>Versandeinstellung hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>).</p>
</li>
<li>
<p>Nimm die Einstellungen vor. Beachte dazu die Erläuterungen in <a href="#table-dpd-shipping-uk-shipping-settings">Tabelle 2</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-dpd-shipping-uk-shipping-settings" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 2. Versandeinstellungen für DPD Shipping UK vornehmen</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Zugangsdaten</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zugangsdaten aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versanddienstleister</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD Shipping UK</strong> aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandprofil</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandprofil aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandregion</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandregion aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Absenderadresse</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Absenderadresse aus der Dropdown-Liste wählen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Versandservices</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandservice aus der Dropdown-Liste wählen. Diese können je nach DPD-Vertrag variieren.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="sect2">
<h3 id="dpd-uk-benutzerrechte">2.3. Rechte für Backend-Benutzer:innen vergeben</h3>
<div class="paragraph">
<p>Um das DPD Shipping UK -Plugin nutzen zu können, muss eine Person mit <strong>Admin</strong>-Zugang für Benutzer:innen mit dem Zugang <strong>Backend</strong> im Benutzer:innenkonto bestimmte Bereiche aktivieren.</p>
</div>
<div class="paragraph instruction">
<p>Rechte für Backend-Benutzer:innen vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Nutze die Suchfunktion (<span class="icon blue"><i class="fa fa-search  "></i></span>) und öffne das zu bearbeitende Konto.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Plugins</strong> die Berechtigungen anhand von <a href="#table-user-rights-back-end-user">Tabelle 3</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="table-user-rights-back-end-user" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 3. Rechte für Backend-Benutzer:innen vergeben</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPDShippingUK &gt; Grundeinstellungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt Backend-Benutzer:innen, die Grundeinstellungen zu bearbeiten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPDShippingUK &gt; Adressen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt Backend-Benutzer:innen, die Adressen zu bearbeiten.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPDShippingUK &gt; Versandeinstellungen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt Backend-Benutzer:innen, die Versandeinstellungen zu bearbeiten.</p></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>