<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#bei-dpd-registrieren"><span>1.</span><span> Bei DPD registrieren</span></a></li>
<li><a href="#dpd-versand-services-einrichten"><span>2.</span><span> DPD Versand-Services in plentymarkets einrichten</span></a></li>
<li><a href="#vorbereitende-einstellungen"><span>3.</span><span> Vorbereitende Einstellungen vornehmen</span></a></li>
<li><a href="#assistenten-durchlaufen"><span>4.</span><span> Assistenten durchlaufen</span></a>
<ul class="sectlevel2">
<li><a href="#assistent-versandeinstellungen"><span>4.1.</span><span> Assistent Versandeinstellungen durchlaufen</span></a></li>
<li><a href="#dpd-assistent-grundeinstellungen"><span>4.2.</span><span> Assistent DPD Versand-Services: Grundeinstellungen durchlaufen</span></a>
<ul class="sectlevel3">
<li><a href="#zugangsdaten"><span>4.2.1.</span><span> Zugangsdaten</span></a></li>
<li><a href="#absenderadresse"><span>4.2.2.</span><span> Absenderadresse</span></a></li>
<li><a href="#versandarten-services"><span>4.2.3.</span><span> Versandarten und Services</span></a></li>
<li><a href="#referenz"><span>4.2.4.</span><span> Referenz</span></a></li>
<li><a href="#parcelshop-finder-aktivieren"><span>4.2.5.</span><span> Parcelshop-Finder aktivieren</span></a></li>
<li><a href="#zusammenfassung"><span>4.2.6.</span><span> Zusammenfassung</span></a></li>
</ul>
</li>
<li><a href="#dpd-assistent-einstellungsverknüpfung"><span>4.3.</span><span> Assistent DPD Versand-Services: Einstellungsverknüpfung durchlaufen</span></a></li>
</ul>
</li>
<li><a href="#verfuegbare-versandarten-und-services"><span>5.</span><span> Aktuell verfügbare Versandarten und Services</span></a></li>
<li><a href="#dpd-paketshop-finder"><span>6.</span><span> DPD Paketshop-Finder</span></a>
<ul class="sectlevel2">
<li><a href="#dpd-paketshop-finder-versandart-aktivieren"><span>6.1.</span><span> Versandart "DPD Paketshop-Finder" aktivieren</span></a></li>
<li><a href="#dpd-paketshop-finder-checkout"><span>6.2.</span><span> DPD Paketshop-Finder im Checkout anzeigen</span></a></li>
</ul>
</li>
<li><a href="#parcel-life-cycle"><span>7.</span><span> Parcel Life Cycle</span></a></li>
<li><a href="#tagesabschlussliste"><span>8.</span><span> Tagesabschlussliste</span></a></li>
<li><a href="#ident-check"><span>9.</span><span> Ident-Check</span></a></li>
<li><a href="#retouren-anmelden"><span>10.</span><span> Retouren anmelden</span></a>
<ul class="sectlevel2">
<li><a href="#retoure-anmelden-versand-center"><span>10.1.</span><span> Retoure im Versand-Center anmelden</span></a></li>
<li><a href="#retoure-anmelden-prozess"><span>10.2.</span><span> Retoure über einen Prozess anmelden</span></a></li>
<li><a href="#retoure-anmelden-ereignisaktion"><span>10.3.</span><span> Retoure über eine Ereignisaktion anmelden</span></a></li>
</ul>
</li>
<li><a href="#_tracking_url_von_dpd"><span>11.</span><span> Tracking-URL von DPD</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>DPD Versand-Services</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">DPD Versand-Services-Plugin mit Hilfe des Integrationen-Assistenten installieren</div>
<div class="paragraph">
<p>Die Schnittstelle zu DPD Versand-Services wird über ein Plugin integriert. Durchlaufe den <strong>Integrationen</strong>-Assistenten im Menü <strong>Einrichtung » Assistenten » Erste Schritte</strong>, um das Plugin <strong>DPD Versand-Services</strong> einfach und schnell zu installieren.<br>
Alternativ kannst du das Plugin im <a href="https://marketplace.plentymarkets.com/plugins/integration/dpdshippingservices_6320" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunterladen und installieren.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="bei-dpd-registrieren">1. Bei DPD registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Plugin <strong>DPD Versand-Services</strong> können Versender:innen schnell und einfach Versandlabels erstellen und die Sendungsverfolgung in plentymarkets nutzen.</p>
</div>
<div class="paragraph">
<p>Um die Schnittstelle für DPD Deutschland in deinem plentymarkets System einrichten und nutzen zu können, musst du dich bei <a href="https://www.dpd.com/de/de/" target="_blank" rel="noopener">DPD</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> registrieren und deinen Account für den Webservice freischalten lassen. Um die Zugangsdaten zu erhalten, die du für die Einstellungen in plentymarkets benötigst, wende dich bitte an deine DPD Kontaktperson.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Delis ID</div>
<div class="paragraph">
<p>Um das DPD Versand-Services-Plugin einrichten und nutzen zu können, benötigst du eine Delis ID. Du erhältst die Delis ID von DPD. Beachte, dass aktuell nur Händler:innen mit einem monatlichen Volumen ab 500 Paketen die Delis ID von DPD erhalten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="dpd-versand-services-einrichten">2. DPD Versand-Services in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">DPD Versand-Services mit Hilfe von Assistenten einfach einrichten</div>
<div class="paragraph">
<p>Die Schnittstelle zu DPD Versand-Services wird über ein Plugin integriert. Durchlaufe den <strong>Integrationen</strong>-Assistenten im Menü <strong>Einrichtung » Assistenten » Erste Schritte</strong>, um das Plugin <strong>DPD Versand-Services</strong> einfach und schnell zu installieren.<br>
Dir stehen dann zum einfachen Einrichten zwei DPD Versand-Services-Assistenten im Menü <strong>Einrichtung » Assistenten » Plugins</strong> im relevanten Plugin-Set zur Verfügung.</p>
</div>
<div class="paragraph">
<p>Bevor du die beiden DPD Versand-Services-Assistenten durchläufst, durchlaufe den Assistenten <strong>Versandeinstellungen</strong>. Dieser Assistent ist standardmäßig in deinem plentymarkets System im Menü <strong>Einrichtung » Assistenten » Integration</strong> vorhanden. Mit diesem Assistenten nimmst du die folgenden Einstellungen vor:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>der Versandeinstellung (sprich: dem Versandprofil) einen Namen geben</p>
</li>
<li>
<p>vorhandene Regionen aktivieren oder eine neue Region erstellen</p>
</li>
<li>
<p>die Versandkosten festlegen und den Berechnungstypen wählen</p>
</li>
<li>
<p><strong><em>Hinweis:</em></strong> Weitere Einstellungen müssen anschließend im Versandprofil im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> vorgenommen werden. Weitere Hinweise dazu findest du <a href="#einstellungen-versandeinstellungen-backend">weiter unten auf dieser Handbuchseite</a>.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Anschließend durchläufst du die beiden DPD Versand-Services-Assistenten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>DPD Versand-Services: Grundeinstellungen</p>
<div class="ulist">
<ul>
<li>
<p>In diesem Assistenten bereitest du alle Daten vor, die du später im Assistenten <strong>DPD Versand-Services: Einstellungsverknüpfung</strong> benötigst.</p>
</li>
</ul>
</div>
</li>
<li>
<p>DPD Versand-Services: Einstellungsverknüpfung<br></p>
<div class="ulist">
<ul>
<li>
<p>In diesem Assistenten verknüpfst du die Einstellungen, die du in den Assistenten <strong>Versandeinstellungen</strong> und <strong>DPD Versand-Services: Grundeinstellungen</strong> gespeichert hast, und wählst das Produkt und die passenden Services.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="vorbereitende-einstellungen">3. Vorbereitende Einstellungen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zunächst musst du einige vorbereitende Einstellungen vornehmen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Durchlaufe den <strong>Integrationen</strong>-Assistenten im Menü <strong>Einrichtung » Assistenten » Erste Schritte</strong> und wähle (<span class="icon blue"><i class="fa fa-check-square  "></i></span>) im Schritt <strong>Versanddienstleister</strong> im Abschnitt <strong>DPD Versand-Services DE</strong> die Option <strong>DPD Versand-Services installieren</strong>.</p>
</li>
<li>
<p>Aktiviere die <a href="/fulfillment/versand-vorbereiten#100">Lieferländer</a>.</p>
<div class="ulist">
<ul>
<li>
<p>Lieferländer kannst du über den Assistenten <strong>Versandeinstellungen</strong> oder im Backend einrichten.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Erstelle <a href="/fulfillment/versand-vorbereiten#400">Regionen</a>.</p>
<div class="ulist">
<ul>
<li>
<p>Regionen kannst du über den Assistenten <strong>Versandeinstellungen</strong> oder im Backend erstellen.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Erstelle den <a href="/fulfillment/versand-vorbereiten#800">Versanddienstleister</a> <strong>DPD Versand-Services</strong>.</p>
<div class="ulist">
<ul>
<li>
<p>Versanddienstleister kannst du aktuell nur im Backend und <em>nicht</em> über einen Assistenten erstellen.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Erstelle <a href="/fulfillment/versand-vorbereiten#1000">Versandprofile</a> und <a href="/fulfillment/versand-vorbereiten#1500">Portotabellen</a> für <strong>DPD Versand-Services</strong>.<br></p>
<div class="ulist">
<ul>
<li>
<p>Einige der Versandeinstellungen kannst du über den Assistenten <strong>Versandeinstellungen</strong> einrichten. Die restlichen Einstellungen nimmst du im Backend im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> vor.<br>
<span class="icon red"><i class="fa fa-exclamation-triangle  "></i></span> <strong><em>Wichtig:</em></strong> Es wurden noch nicht alle Funktionen und Einstellungen aus dem Versandprofil in den Assistenten <strong>Versandeinstellungen</strong> übernommen. Beachte dazu die Erläuterungen im Kapitel <a href="#assistent-versandeinstellungen">Assistent <strong>Versandeinstellungen</strong> durchlaufen</a>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="assistenten-durchlaufen">4. Assistenten durchlaufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du den <strong>Integrationen</strong>-Assistenten abschließt, wird das DPD Versand-Services-Plugin automatisch im Hintergrund heruntergeladen und in deinem Plugin-Set installiert. Sobald dieser Vorgang abgeschlossen ist, sind die Assistenten <strong>DPD Versand-Services: Grundeinstellungen</strong> und <strong>DPD Versand-Services: Einstellungsverknüpfung</strong> im Menü <strong>Einrichtung » Assistenten » Plugins</strong> im relevanten Plugin-Set verfügbar. Der Assistent <strong>Versandeinstellungen</strong> ist standardmäßig in deinem plentymarkets System im Menü <strong>Einrichtung » Assistenten » Integration</strong> vorhanden.</p>
</div>
<div class="paragraph">
<p>Durchlaufe nun die Assistenten in der folgenden Reihenfolge:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>Versandeinstellungen</strong></p>
</li>
<li>
<p><strong>DPD Versand-Services: Grundeinstellungen</strong></p>
</li>
<li>
<p><strong>DPD Versand-Services: Einstellungsverknüpfung</strong></p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="assistent-versandeinstellungen">4.1. Assistent <strong>Versandeinstellungen</strong> durchlaufen</h3>
<div class="paragraph">
<p>Du findest den Assistenten <strong>Versandeinstellungen</strong> im Menü <strong>Einrichtung » Assistenten » Integration</strong>. In diesem Assistenten nimmst du die folgenden Einstellung vor:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Gib der Versandeinstellung einen Backend-Namen und einen Frontend-Namen. Diese Namen kannst du pro Sprache wählen.<br></p>
<div class="ulist">
<ul>
<li>
<p>Verknüpfe diesen Namen später im Assistenten <strong>DPD Versand-Services: Einstellungsverknüpfung</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Wähle das Plugin des Versanddienstleisters, für den du die Versandkosten einrichten möchtest.<br></p>
<div class="ulist">
<ul>
<li>
<p>Das DPD Versand-Services-Plugin muss installiert sein, damit es hier angezeigt wird. Wir empfehlen dir dafür den <strong>Integrationen</strong>-Assistenten im Menü <strong>Einrichtung » Assistenten » Erste Schritte</strong> zu durchlaufen.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Wähle eine Region, gib die Versandkosten ein und wähle den Berechnungstypen für die gewählten Länder. Außerdem kannst du festlegen, ab welchem Warenwert keine Versandkosten für deine Kund:innen berechnet werden.</p>
</li>
</ul>
</div>
<div id="einstellungen-versandeinstellungen-backend" class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Weitere Einstellungen für die Versandeinstellung im Backend vornehmen</div>
<div class="paragraph">
<p>Wenn du den Assistenten <strong>Versandeinstellungen</strong> abgeschlossen hast, wird das Versandprofil auch im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> angezeigt.<br>
Die folgenden Einstellungen sind mit Abschluss des Assistenten bereits vorhanden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>der Name des Versandprofils ist gespeichert</p>
</li>
<li>
<p>der Versanddienstleister ist gespeichert</p>
</li>
<li>
<p>die Option <strong>Bei neuen Artikeln aktiveren</strong> ist aktiviert</p>
</li>
<li>
<p>alle Mandanten (Shops) sind aktiviert</p>
</li>
<li>
<p>alle Auftragsherkünfte sind aktiviert</p>
</li>
<li>
<p>die Versandkosten sind gespeichert</p>
</li>
<li>
<p>die Region ist gespeichert</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn du weitere Einstellungen vornehmen möchtest wie z.B. das Sperren von Kundenklassen oder Zahlungsarten oder dem Aktivieren der Option zum Einwilligen der Datenübermittlung an Versanddienstleister, musst du diese im entsprechenden Versandprofil im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> vornehmen.</p>
</div>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-exclamation-triangle  "></i></span> Dieses Vorgehen ist notwendig, weil noch nicht alle Funktionen und Einstellungen aus dem Versandprofil in den Assistenten übernommen wurden. Wir ergänzen die fehlenden Einstellungen sukzessive im Assistenten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Welche Informationen werden bei dem abgeschlossenen Assistenten <strong>Versandeinstellungen</strong> angezeigt?</div>
<div class="content">
<div class="paragraph">
<p>Wenn du den Assistenten <strong>Versandeinstellungen</strong> abgeschlossen hast und diesen erneut öffnest, werden die folgenden Informationen angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In der Kachelansicht:</p>
<div class="ulist">
<ul>
<li>
<p>Backend-Name</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Versanddienstleister</p>
</li>
</ul>
</div>
</li>
<li>
<p>In der Tabellenübersicht:</p>
<div class="ulist">
<ul>
<li>
<p>Backend-Name</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Versanddienstleister</p>
</li>
<li>
<p>Frontend-Name</p>
</li>
<li>
<p>ID des Versandprofils</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="dpd-assistent-grundeinstellungen">4.2. Assistent <strong>DPD Versand-Services: Grundeinstellungen</strong> durchlaufen</h3>
<div class="paragraph">
<p>Du findest den Assistenten <strong>DPD Versand-Services: Grundeinstellungen</strong> im Menü <strong>Einrichtung » Assistenten » Plugins</strong> im relevanten Plugin-Set. Im Folgenden werden die einzelnen Schritte, die du in diesem Assistenten durchläufst, beschrieben.</p>
</div>
<div class="sect3">
<h4 id="zugangsdaten">4.2.1. Zugangsdaten</h4>
<div class="paragraph">
<p>In diesem Schritt gibst du deine Zugangsdaten für DPD Deutschland ein. Dies sind jeweils die Delis ID und das dazugehörige Passwort.</p>
</div>
<div class="paragraph">
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>), um weitere Zugangsdaten hinzuzufügen.</p>
</div>
<div class="paragraph">
<p>Außerdem entscheidest du, ob die E-Mail-Adresse aus der Rechnungsadresse deiner Kund:innen verwendet werden soll, wenn in der Lieferadresse keine E-Mail-Adresse angegeben wurde.</p>
</div>
</div>
<div class="sect3">
<h4 id="absenderadresse">4.2.2. Absenderadresse</h4>
<div class="paragraph">
<p>In diesem Schritt gibst du deine Absenderadresse ein.</p>
</div>
<div class="paragraph">
<p>Klicke auf <strong>Hinzufügen</strong> (<span class="icon green"><i class="fa fa-plus-square  "></i></span>), um weitere Absenderadressen hinzuzufügen. Du kannst bis zu 20 Absenderadressen hinzufügen.</p>
</div>
</div>
<div class="sect3">
<h4 id="versandarten-services">4.2.3. Versandarten und Services</h4>
<div class="paragraph">
<p>In diesem Schritt wählst du die Versandarten und Services. Wichtig ist, dass du für die Versandarten und Services bei DPD freigeschaltet bist.</p>
</div>
<div class="paragraph">
<p>Du triffst hier lediglich eine Vorauswahl der Services, die dann im Assistenten <strong>DPD Versand-Services: Einstellungsverknüpfung</strong> zur Verfügung stehen.</p>
</div>
</div>
<div class="sect3">
<h4 id="referenz">4.2.4. Referenz</h4>
<div class="paragraph">
<p>In diesem Schritt wählst du, welche Werte du als <strong>Referenz 1</strong> und <strong>Referenz 2</strong> auf dem Versandlabel anzeigen möchtest. Du hast auch die Möglichkeit, die Referenzfelder leer zu lassen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Wenn du das Feld <strong>Referenz 1</strong> leer lässt, wird als Fallback immer die Auftrags-ID auf dem Versandlabel angezeigt. Wenn du das Feld <strong>Referenz 2</strong> leer lässt, bleibt dieses Feld auch auf dem Versandlabel leer.</p>
</div>
<div class="paragraph">
<p><strong><em>Wichtig:</em></strong> Die maximale Zeichenanzahl (Name plus Wert) is auf 35 begrenzt. Bei einer Zeichenanzahl über 35 würde die Referenz entsprechend gekürzt werden.</p>
</div>
</div>
<div class="sect3">
<h4 id="parcelshop-finder-aktivieren">4.2.5. Parcelshop-Finder aktivieren</h4>
<div class="paragraph">
<p>Aktiviere die Schaltfläche <strong>ParcelShopFinder nutzen</strong> (<span class="icon skyBlue"><i class="material-toggle_on"></i></span>), wenn du deinen Kund:innen den ParcelShopFinder in deinem plentyShop anbieten möchtest.</p>
</div>
<div class="paragraph">
<p><strong><em>Wichtig:</em></strong> Um den ParcelshopFinder anbieten zu können, musst du im Schritt <strong>Versandarten und Services</strong> das Produkt <strong>DPD Paketshopfinder</strong> aktiviert sein.</p>
</div>
<div class="paragraph">
<p>Damit der ParcelshopFinder in deinem plentyShop funktioniert, ist es außerdem erforderlich, dass du deinen Google Maps API Schlüssel eingibst.</p>
</div>
</div>
<div class="sect3">
<h4 id="zusammenfassung">4.2.6. Zusammenfassung</h4>
<div class="paragraph">
<p>In diesem Schritt wird eine Zusammenfassung aller getätigten Eingaben in den einzelnen Schritten aufgelistet. Du kannst deine Angaben prüfen, diese ggf. über die einzelnen Schritte anpassen und den Assistenten danach abschließen.</p>
</div>
</div>
</div>
<div class="sect2">
<h3 id="dpd-assistent-einstellungsverknüpfung">4.3. Assistent <strong>DPD Versand-Services: Einstellungsverknüpfung</strong> durchlaufen</h3>
<div class="paragraph">
<p>Du findest den Assistenten <strong>DPD Versand-Services: Einstellungsverknüpfung</strong> im Menü <strong>Einrichtung » Assistenten » Plugins</strong> im relevanten Plugin-Set.</p>
</div>
<div class="paragraph">
<p>In diesem Assistenten verknüpfst du die Einstellungen, die du zuvor in den Assistenten <strong>Versandeinstellungen</strong> und <strong>DPD Versand-Services: Grundeinstellungen</strong> vorgenommen hast. Du verknüpfst die Versandeinstellung mit den Zugangsdaten, Versandarten und Services und der Absenderadresse.</p>
</div>
<div class="paragraph">
<p>Wenn du international versendest, aktiviere die Schaltfläche (<span class="icon skyBlue"><i class="material-toggle_on"></i></span>). 3 weitere Felder erscheinen: Hier gibst du den Inhalt der Sendung ein, wählst eine der internationalen Handelsklauseln (Incoterms) aus der Dropdown-Liste und legst fest, welche Zollpapiere versendet werden.</p>
</div>
<div class="paragraph">
<p>Du kannst außerdem festlegen, dass die Telefonnummer deiner Kunden weder an DPD übertragen noch auf dem Versandlabel angezeigt wird.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Welche Informationen werden bei dem abgeschlossenen Assistenten <strong>DPD Versand-Services: Einstellungsverknüpfung</strong> angezeigt?</div>
<div class="content">
<div class="paragraph">
<p>Wenn du den Assistenten <strong>DPD Versand-Services: Einstellungsverknüpfung</strong> abgeschlossen hast und diesen erneut öffnest, werden die folgenden Informationen angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In der Kachelansicht:</p>
<div class="ulist">
<ul>
<li>
<p>Backend-Name</p>
</li>
<li>
<p>Login-Name</p>
</li>
<li>
<p>Versandart</p>
</li>
</ul>
</div>
</li>
<li>
<p>In der Tabellenübersicht:</p>
<div class="ulist">
<ul>
<li>
<p>Backend-Name</p>
</li>
<li>
<p>Login-Name</p>
</li>
<li>
<p>Versandart</p>
</li>
<li>
<p>Services</p>
</li>
<li>
<p>ID des Versandprofils</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="verfuegbare-versandarten-und-services">5. Aktuell verfügbare Versandarten und Services</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-available-shipping-methods-services">Tabelle 1</a> listet alle Versandarten und Services auf, die aktuell über das Plugin <strong>DPD Versand-Services</strong> zur Verfügung stehen.</p>
</div>
<table id="table-available-shipping-methods-services" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Aktuell verfügbare Versandarten und Services</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Versandart</th>
<th class="tableblock halign-left valign-top">Service</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD CLASSIC</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Versandart ohne weitere Services</p>
</li>
<li>
<p>Lieferung ab Werk/Unfrei</p>
</li>
<li>
<p>Predict SMS</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Hinweis:</em></strong> Die Versandanmeldung in Kombination mit <em>Predict (B2C)</em>-Services funktioniert seitens DPD nur mit einer Anzahl von bis zu 10 Paketen. Ab 11 Paketen funktioniert die Versandanmeldung mit <em>Predict (B2C)</em>-Services <em>nicht</em>.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Predict E-Mail</p>
<div class="ulist">
<ul>
<li>
<p><strong><em>Hinweis:</em></strong> Die Versandanmeldung in Kombination mit <em>Predict (B2C)</em>-Services funktioniert seitens DPD nur mit einer Anzahl von bis zu 10 Paketen. Ab 11 Paketen funktioniert die Versandanmeldung mit <em>Predict (B2C)</em>-Services <em>nicht</em>.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Reifen</p>
</li>
<li>
<p>Austauschservice</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD Paketshopfinder</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandart ohne weitere Services</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD Express 8:30</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Versandart ohne weitere Services</p>
</li>
<li>
<p>Lieferung ab Werk/Unfrei</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD Express 10:00</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Austauschservice</p>
</li>
<li>
<p>Ident-Check</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD Express 12:00</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Versandart ohne weitere Services</p>
</li>
<li>
<p>Samstagszustellung</p>
</li>
<li>
<p>Lieferung ab Werk</p>
</li>
<li>
<p>Austauschservice</p>
</li>
<li>
<p>Ident-Check</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD Express 18:00</strong></p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>Versandart ohne weitere Services</p>
</li>
<li>
<p>Garantie</p>
</li>
<li>
<p>Lieferung ab Werk/Unfrei</p>
</li>
<li>
<p>Ident-Check</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD Express International</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandart ohne weitere Services</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD ParcelLetter</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandart ohne weitere Services</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>DPD Mail</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Versandart ohne weitere Services</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="dpd-paketshop-finder">6. DPD Paketshop-Finder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit deine Kund:innen den DPD Paketshop-Finder im Checkout deines plentyShops nutzen können, musst du die im folgenden beschriebenen Einstellungen vornehmen.</p>
</div>
<div class="sect2">
<h3 id="dpd-paketshop-finder-versandart-aktivieren">6.1. Versandart "DPD Paketshop-Finder" aktivieren</h3>
<div class="paragraph">
<p>Die folgenden Einstellungen müssen in den Assistenten vorgenommen werden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wähle im Assistenten <strong>DPD Versand-Services: Grundeinstellungen</strong> im Schritt <strong>Versandarten und Services</strong> die Versandart <strong>DPD Paketshopfinder</strong>.</p>
</li>
<li>
<p>Wähle im Assistenten <strong>DPD Versand-Services: Einstellungsverknüpfung</strong> die Versandart <strong>DPD Paketshopfinder</strong>, um diese Versandart mit der Versandeinstellung zu verknüpfen.</p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="dpd-paketshop-finder-checkout">6.2. DPD Paketshop-Finder im Checkout anzeigen</h3>
<div class="paragraph">
<p>Aktiviere im Bereich <strong>Container-Verknüpfungen</strong> des Plugins die folgenden Optionen, damit deine Kund:innen den DPD Paketshop-Finder im Checkout deines plentyShops nutzen können.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Google Maps API-Schlüssel benötigt</div>
<div class="paragraph">
<p>Damit du deinen Kund:innen im Checkout deines plentyShops den DPD Paketshop-Finder anbieten kannst, benötigst du einen Google Maps API-Schlüssel.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph instruction">
<p>DPD Paketshop-Finder im Checkout anzeigen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf die Zeile des Plugin-Sets, in dem sich das DPD Versand-Services-Plugin befindet.</p>
</li>
<li>
<p>Klicke auf die Zeile <strong>DPD Versand Services</strong>.</p>
</li>
<li>
<p>Öffne das Menü <strong>Container-Verknüpfungen</strong>.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Container-Links</strong> auf.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Data Provider</strong> die Option <strong>DPD Parcelshop Finder Javascript</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>plentyShop LTS</strong> rechts daneben die Option <strong>Script loader: After scripts loaded</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Data Provider</strong> die Option <strong>DPD Parcelshop Finder checkout container</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>plentyShop LTS</strong> rechts daneben die Option <strong>Checkout: After shipping method</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Data Provider</strong> die Option <strong>DPD Parcelshop Finder checkout styles</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>plentyShop LTS</strong> rechts daneben die Option <strong>Checkout: After shipping method</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="parcel-life-cycle">7. Parcel Life Cycle</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit Hilfe deiner Delis ID kannst du im Menü <strong>Daten » DPD Parcel Life Cycle</strong> den aktuellen Status deiner Sendungen anhand der folgenden Kriterien anzeigen lassen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Paketscheinnummer (von DPD)</p>
</li>
<li>
<p>Webnummer (von DPD)</p>
</li>
<li>
<p>Auftrags-ID (von plentymarkets)</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Gib die gewünschten Daten in die Felder ein und klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>).</p>
</div>
<h3 id="_berechtigung_für_backend_benutzerinnen_vergeben" class="discrete">Berechtigung für Backend-Benutzer:innen vergeben</h3>
<div class="paragraph">
<p>Benutzer:innen vom Typ <strong>Backend</strong> sehen nur bestimmte Bereiche und Menüs im plentymarkets Backend. Somit können sie nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit diesem Zugang mit dem Parcel Life Cycle arbeiten können, muss eine Person mit <strong>Admin</strong>-Zugang das im folgenden beschriebene Recht für Benutzer:innen vom Typ <strong>Backend</strong> vergeben.</p>
</div>
<div class="paragraph instruction">
<p>Sichtbarkeit für Backend-Benutzer:innen einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Nutze die Suchfunktion (<span class="icon blue"><i class="fa fa-search  "></i></span>) und öffne das zu bearbeitende Konto.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Plugins &gt; DPDShippingServices</strong> auf.</p>
</li>
<li>
<p>Wähle die Einstellung <strong>DPD Parcel Life Cycle</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="tagesabschlussliste">8. Tagesabschlussliste</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Daten » DPD Tagesabschlussliste</strong> kannst du für ausgewählte oder alle über den Versanddienstleister <strong>DPD Versand-Service</strong> angemeldeten Aufträge eine Tagesabschlussliste erstellen und diese mit einem Klick auf <strong>PDF erstellen</strong> (<span class="icon "><i class="psicon-document"></i></span>) als PDF-Datei auf deinem Computer speichern.</p>
</div>
<div class="paragraph">
<p>Klicke auf <strong>Suchen</strong> (<span class="icon blue"><i class="fa fa-search  "></i></span>), um alle bei <strong>DPD Versand-Services</strong> angemeldeten Aufträge anzuzeigen. Über die Datumsauswahl kannst du eingrenzen, welche Aufträge in der Tagesabschlussliste enthalten sein sollen.</p>
</div>
<div class="paragraph">
<p>Du hast die Möglichkeit über die Dropdown-Liste <strong>Ändere in Auftragsstatus</strong> den Auftragsstatus der angemeldeten Aufträge direkt zu ändern.</p>
</div>
<h3 id="_berechtigung_für_backend_benutzerinnen_vergeben_2" class="discrete">Berechtigung für Backend-Benutzer:innen vergeben</h3>
<div class="paragraph">
<p>Benutzer:innen vom Typ <strong>Backend</strong> sehen nur bestimmte Bereiche und Menüs im plentymarkets Backend. Somit können sie nur eingeschränkt im System arbeiten. Sollen Mitarbeiter:innen mit diesem Nutzertyp mit der Tagesabschlussliste arbeiten können, muss eine Person mit <strong>Admin</strong>-Zugang das im folgenden beschriebene Recht für Benutzer:innen vom Typ <strong>Backend</strong> vergeben.</p>
</div>
<div class="paragraph instruction">
<p>Sichtbarkeit für Backend-Benutzer:innen einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Nutze die Suchfunktion (<span class="icon blue"><i class="fa fa-search  "></i></span>) und öffne das zu bearbeitende Konto.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Plugins &gt; DPDShippingServices</strong> auf.</p>
</li>
<li>
<p>Wähle die Einstellung <strong>DPD Tagesabschlussliste</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="ident-check">9. Ident-Check</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit der Service <em>Ident-Check</em> im Webshop für deine Kund:innen sichtbar ist, musst du im Menü <strong>Container-Verknüpfungen</strong> des Plugins die folgenden Optionen aktivieren.</p>
</div>
<div class="paragraph instruction">
<p>Sichtbarkeit des Services <em>Ident-Check</em> im Webshop einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke auf die Zeile des Plugin-Sets, in dem sich das DPD Versand-Services-Plugin befindet.</p>
</li>
<li>
<p>Klicke auf die Zeile <strong>DPD Versand Services</strong>.</p>
</li>
<li>
<p>Öffne das Menü <strong>Container-Verknüpfungen</strong>.</p>
</li>
<li>
<p>Klappe den Bereich <strong>Container-Links</strong> auf.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Datenanbieter</strong> die Option <strong>DPD IdentCheck container</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>plentyShop LTS</strong> rechts daneben die Option <strong>Checkout: After shipping method</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Datenanbieter</strong> die Option <strong>DPD IdentCheck styles</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>plentyShop LTS</strong> rechts daneben die Option <strong>Template: Style</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Datenanbieter</strong> die Option <strong>DPD IdentCheck scripts</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>plentyShop LTS</strong> die Option <strong>Script loader: After scripts loaded</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Wichtig:</em></strong> Verknüpfe anschließend den Service <em>Ident-Check</em> mit dem Versandprofil für Ident-Check, damit der Service <em>Ident-Check</em> für deine Kund:innen im Checkout deines plentyShops zur Verfügung steht.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="retouren-anmelden">10. Retouren anmelden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Beachte, dass Retouren nur über DPD Versand-Services angemeldet werden können, wenn auch der Hauptauftrag der Retoure mit dem selben Versandprofil für DPD Versand-Services verknüpft ist. Du kannst Retouren bei DPD über drei verschiedene Wege in deinem plentymarkets System anmelden. Diese werden im Folgenden erklärt.</p>
</div>
<div class="sect2">
<h3 id="retoure-anmelden-versand-center">10.1. Retoure im Versand-Center anmelden</h3>
<ul class="nav nav-tabs mb-3" id="tabCollection" role="tablist"><li class="nav-item">
                                <a class="nav-link active" id="vorgehensweise--ber-das-versand-center-2-0-tab" data-toggle="tab" href="#vorgehensweise--ber-das-versand-center-2-0" role="tab" aria-controls="vorgehensweise--ber-das-versand-center-2-0" aria-selected="true">Vorgehensweise über das Versand-Center 2.0</a>
                            </li><li class="nav-item">
                                <a class="nav-link" id="vorgehensweise--ber-das--alte--versand-center-tab" data-toggle="tab" href="#vorgehensweise--ber-das--alte--versand-center" role="tab" aria-controls="vorgehensweise--ber-das--alte--versand-center" aria-selected="false">Vorgehensweise über das "alte" Versand-Center</a>
                            </li></ul><div class="tab-content" id="tabContent"><div class="tab-pane fade show active" id="vorgehensweise--ber-das-versand-center-2-0" role="tabpanel" aria-labelledby="vorgehensweise--ber-das-versand-center-2-0-tab">
<div class="paragraph">
<p>Suche den Auftrag im Menü <strong>Aufträge » Versand-Center 2.0</strong> und klicke auf <strong>Retoure anmelden</strong> (<span class="icon "><i class="psicon-order_return"></i></span>). Wähle dann den Retourendienstleister <strong>DPDShippingServices</strong> aus der Dropdown-Liste und klicke auf <strong>Retoure anmelden</strong>.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/fulfillment/versand-center-2-0#retoure-anmelden">Versand-Center 2.0</a>.</p>
</div>
</div><div class="tab-pane fade" id="vorgehensweise--ber-das--alte--versand-center" role="tabpanel" aria-labelledby="vorgehensweise--ber-das--alte--versand-center-tab">
<div class="paragraph">
<p>Du kannst über das Tab <strong>Retoure</strong> im Menü <strong>Aufträge » Versand-Center</strong> Retouren bei DPD anmelden.</p>
</div>
<div class="paragraph">
<p>Suche (<span class="icon blue"><i class="fa fa-search  "></i></span>) dazu den Auftrag im Versand-Center im Tab <strong>Suche</strong> und setze ein Häckchen bei diesem Auftrag. Wechsele dann in das Tab <strong>Retoure</strong> und wähle aus der Dropdown-Liste <strong>Retouren-Dienstleister</strong> die Einstellung <strong>DPD Retoure</strong>. Klicke auf <strong>Anmelden</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>), um die Retoure bei DPD anzumelden.</p>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der Handbuchseite <a href="/fulfillment/versand-center#retourenetikett-abrufen">Versand-Center nutzen</a>.</p>
</div>
</div></div>
</div>
<div class="sect2">
<h3 id="retoure-anmelden-prozess">10.2. Retoure über einen Prozess anmelden</h3>
<div class="paragraph">
<p>Ebenso kannst du Retouren auch über einen Prozess anmelden. Wähle dazu im Prozess als Aktion <strong>Retourenetikett</strong> und anschließend aus der Dropdown-Liste <strong>Retourentyp</strong> die Einstellung <strong>DPD Retoure</strong>.</p>
</div>
</div>
<div class="sect2">
<h3 id="retoure-anmelden-ereignisaktion">10.3. Retoure über eine Ereignisaktion anmelden</h3>
<div class="paragraph">
<p>Du kannst Retouren bei DPD auch über eine Ereignisaktion anmelden. Wähle dazu aus der Aktionsgruppe <strong>Plugins</strong> die Aktion <strong>Retoure beim Versanddienstleister anmelden</strong>.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="_tracking_url_von_dpd">11. Tracking-URL von DPD</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Die aktuell gültige, plentymarkets bekannte Tracking-URL von DPD lautet:<br>
<strong>https://tracking.dpd.de/status/de_DE/parcel/[PaketNr]</strong>.</p>
</div>
</div>
</div>
</main>