<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#bei-dhl-registrieren"><span>1.</span><span> Bei DHL registrieren</span></a></li>
<li><a href="#dhl-shipping-versenden-einrichten"><span>2.</span><span> DHL Shipping (Versenden) in plentymarkets einrichten</span></a></li>
<li><a href="#vorbereitende-einstellungen"><span>3.</span><span> Vorbereitende Einstellungen vornehmen</span></a></li>
<li><a href="#dhl-assistenten-durchlaufen"><span>4.</span><span> Assistenten durchlaufen</span></a>
<ul class="sectlevel2">
<li><a href="#assistent-versandeinstellungen"><span>4.1.</span><span> Assistent Versandeinstellungen durchlaufen</span></a></li>
<li><a href="#dhl-assistent-grundeinstellungen"><span>4.2.</span><span> Assistent DHL Shipping (Versenden): Grundeinstellungen durchlaufen</span></a></li>
<li><a href="#dhl-assistent-einstellungsverknuepfung"><span>4.3.</span><span> Assistent DHL Shipping (Versenden): Einstellungsverknüpfung durchlaufen</span></a></li>
</ul>
</li>
<li><a href="#datenuebermittlung"><span>5.</span><span> Informationen zur Datenübermittlung</span></a></li>
<li><a href="#service-filial-routing"><span>6.</span><span> Service Filial-Routing verwenden</span></a></li>
<li><a href="#service-ident-check"><span>7.</span><span> Service Ident-Check verwenden</span></a></li>
<li><a href="#service-warenpost"><span>8.</span><span> Service Warenpost verwenden</span></a></li>
<li><a href="#dhl-shipping-benutzerrechte"><span>9.</span><span> Benutzerrechte für Backend-Benutzer vergeben</span></a></li>
<li><a href="#testmodus-aktivieren"><span>10.</span><span> Testmodus aktivieren</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>DHL Shipping (Versenden)</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">DHL Shipping (Versenden)-Plugin herunterladen</div>
<div class="paragraph">
<p>Die Schnittstelle zu DHL Shipping (Versenden) wird über ein Plugin integriert. Um das DHL Shipping (Versenden)-Plugin nutzen zu können, lade das Plugin im <a href="https://marketplace.plentymarkets.com/plugins/integration/dhlshipping_4871" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="bei-dhl-registrieren">1. Bei DHL registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um die Schnittstelle für DHL Shipping (Versenden) in deinem plentymarkets System einzurichten und die Funktion <em>Versenden</em> im DHL Geschäftskundenportal zu nutzen, musst du bei <a href="https://www.dhl.de/de/geschaeftskunden/paket/kunde-werden/angebot-dhl-geschaeftskunden-online.html?cid=c_dhl.de_ke_Z353_20190016_5902_A3045" target="_blank" rel="noopener">DHL</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> registriert sein. Du erhältst von DHL die Daten, die du für die Einstellungen in plentymarkets benötigst.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="dhl-shipping-versenden-einrichten">2. DHL Shipping (Versenden) in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">DHL Shipping (Versenden) mit Hilfe von Assistenten einfach einrichten</div>
<div class="paragraph">
<p>Die Schnittstelle zu DHL Shipping (Versenden) wird über ein Plugin integriert. Um das DHL Shipping (Versenden)-Plugin nutzen zu können, lade das Plugin im <a href="https://marketplace.plentymarkets.com/plugins/integration/dhlshipping_4871" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter.<br>
Dir stehen dann zum einfachen Einrichten zwei DHL Shipping (Versenden)-Assistenten im Menü <strong>Einrichtung » Assistenten</strong> im Bereich <strong>Integration</strong> zur Verfügung.</p>
</div>
<div class="paragraph">
<p>Bevor du die beiden DHL Shipping (Versenden)-Assistenten durchläufst, durchlaufe den Assistenten <strong>Versandeinstellungen</strong>. Dieser Assistent ist standardmäßig in deinem plentymarkets System im Menü <strong>Einrichtung » Assistenten</strong> im Bereich <strong>Integration</strong> vorhanden. Mit diesem Assistenten nimmst du die folgenden Einstellungen vor:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>der Versandeinstellung (sprich: dem Versandprofil) einen Namen geben</p>
</li>
<li>
<p>vorhandene Regionen aktivieren oder eine neue Region erstellen</p>
</li>
<li>
<p>die Versandkosten festlegen und den Berechnungstypen wählen</p>
</li>
<li>
<p><strong><em>Hinweis:</em></strong> Weitere Einstellungen müssen anschließend im Versandprofil im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> vorgenommen werden. Weitere Hinweise dazu findest du weiter unten auf dieser Handbuchseite.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Anschließend durchläufst du die beiden DHL Shipping (Versenden)-Assistenten:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>DHL Shipping (Versenden): Grundeinstellungen<br>
→ In diesem Assistenten bereitest du alle Daten vor, die du später im Assistenten <strong>DHL Shipping (Versenden): Einstellungsverknüpfung</strong> benötigst.</p>
</li>
<li>
<p>DHL Shipping (Versenden): Einstellungsverknüpfung<br>
→ In diesem Assistenten verknüpfst du die Einstellungen, die du im Assistenten <strong>DHL Shipping (Versenden): Grundeinstellungen</strong> gespeichert hast.</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Welche Daten du in den Assistenten eingibst, ist weiter unten auf dieser Seite beschrieben.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="vorbereitende-einstellungen">3. Vorbereitende Einstellungen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zunächst musst du einige vorbereitende Einstellungen vornehmen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/fulfillment/versand-vorbereiten#100">Lieferländer einrichten</a></p>
<div class="ulist">
<ul>
<li>
<p>Lieferländer kannst du über den Assistenten <strong>Versandeinstellungen</strong> oder im Backend einrichten.</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/fulfillment/versand-vorbereiten#400">Regionen erstellen</a></p>
<div class="ulist">
<ul>
<li>
<p>Regionen kannst du über den Assistenten <strong>Versandeinstellungen</strong> oder im Backend erstellen.</p>
</li>
</ul>
</div>
</li>
<li>
<p>den <a href="/fulfillment/versand-vorbereiten#800">Versanddienstleister</a> <strong>DHL Shipping (Versenden)</strong> erstellen</p>
<div class="ulist">
<ul>
<li>
<p>Versanddienstleister kannst du aktuell nur im Backend und nicht über einen Assistenten erstellen.</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/fulfillment/versand-vorbereiten#1000">Versandprofile</a> und <a href="/fulfillment/versand-vorbereiten#1500">Portotabellen</a> für <strong>DHL Shipping (Versenden)</strong> erstellen<br></p>
<div class="ulist">
<ul>
<li>
<p>Einige der Versandeinstellungen kannst du über den Assistenten <strong>Versandeinstellungen</strong> einrichten. Die restlichen Einstellungen nimmst du im Backend im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> vor.<br>
→ <span class="icon red"><i class="fa fa-exclamation-triangle  "></i></span> <strong><em>Wichtig:</em></strong> Es wurden noch nicht alle Funktionen und Einstellungen aus dem Versandprofil in den Assistenten <strong>Versandeinstellungen</strong> übernommen. Beachte dazu die Erläuterungen im Kapitel <a href="/fulfillment/versanddienstleister-plugins/plugin-dhl-shipping-versenden#assistent-versandeinstellungen">Assistent <strong>Versandeinstellungen</strong> durchlaufen</a>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="dhl-assistenten-durchlaufen">4. Assistenten durchlaufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald du das <a href="/plugins/hinzugefuegte-plugins-installieren#plugin-installieren">Plugin in einem Plugin-Set installiert</a> hast, sind die Assistenten <strong>DHL Shipping (Versenden): Grundeinstellungen</strong> und <strong>DHL Shipping (Versenden): Einstellungsverknüpfung</strong> im Menü <strong>Einrichtung » Assistenten</strong> im Bereich <strong>Integration</strong> verfügbar.</p>
</div>
<div class="paragraph">
<p>Durchlaufe nun die Assistenten in der folgenden Reihenfolge:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>Versandeinstellungen</strong> (dieser Assistent ist standardmäßig in deinem plentymarkets System vorhanden)</p>
</li>
<li>
<p><strong>DHL Shipping (Versenden): Grundeinstellungen</strong></p>
</li>
<li>
<p><strong>DHL Shipping (Versenden): Einstellungsverknüpfung</strong></p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="assistent-versandeinstellungen">4.1. Assistent <strong>Versandeinstellungen</strong> durchlaufen</h3>
<div class="paragraph">
<p>In diesem Assistenten nimmst du die folgenden Einstellung vor:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du gibst der Versandeinstellung einen Backend-Namen und einen Frontend-Namen. Diese Namen können pro Sprache gewählt werden.<br>
→ Diesen Namen verknüpfst du später im Assistenten <strong>DHL Shipping (Versenden): Einstellungsverknüpfung</strong>.</p>
</li>
<li>
<p>Du wählst das Plugin des Versanddienstleisters, für den du die Versandkosten einrichten möchtest.<br>
→ Das DHL Shipping (Versenden)-Plugin muss im <a href="https://marketplace.plentymarkets.com/plugins/integration/dhlshipping_4871" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> heruntergeladen worden sein, damit es dir hier angezeigt wird.</p>
</li>
<li>
<p>Du wählst eine Region, gibst die Versandkosten ein und wählst den Berechnungstypen für die gewählten Länder. Außerdem kannst du festlegen, ab welchem Warenwert keine Versandkosten berechnet werden.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Weitere Einstellungen für die Versandeinstellung im Backend vornehmen</div>
<div class="paragraph">
<p>Wenn du den Assistenten <strong>Versandeinstellungen</strong> abgeschlossen hast, erscheint das Versandprofil auch im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong>.<br>
Die folgenden Einstellungen sind mit Abschluss des Assistenten bereits vorhanden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>der Name des Versandprofils ist gespeichert</p>
</li>
<li>
<p>der Versanddienstleister ist gespeichert</p>
</li>
<li>
<p>die Option <strong>Bei neuen Artikeln aktiveren</strong> ist aktiviert</p>
</li>
<li>
<p>alle Mandanten (Shops) sind aktiviert</p>
</li>
<li>
<p>alle Auftragsherkünfte sind aktiviert</p>
</li>
<li>
<p>die Versandkosten sind gespeichert</p>
</li>
<li>
<p>die Region ist gespeichert</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn du weitere Einstellungen vornehmen möchtest wie z.B. das Sperren von Kundenklassen oder Zahlungsarten oder dem Aktivieren der Option zum Einwilligen der Datenübermittlung an Versanddienstleister, musst du diese im Versandprofil im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> vornehmen.</p>
</div>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-exclamation-triangle  "></i></span> Dieses Vorgehen ist notwendig, weil noch nicht alle Funktionen und Einstellungen aus dem Versandprofil in den Assistenten übernommen wurden. Wir ergänzen die fehlenden Einstellungen sukzessive im Assistenten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wenn du den Assistenten <strong>Versandeinstellungen</strong> abgeschlossen hast und diesen erneut öffnest, werden die folgenden Informationen angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In der Kachelansicht:</p>
<div class="ulist">
<ul>
<li>
<p>Backend-Name</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Versanddienstleister</p>
</li>
</ul>
</div>
</li>
<li>
<p>In der Tabellenübersicht:</p>
<div class="ulist">
<ul>
<li>
<p>Backend-Name</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Versanddienstleister</p>
</li>
<li>
<p>Frontend-Name</p>
</li>
<li>
<p>ID des Versandprofils</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="dhl-assistent-grundeinstellungen">4.2. Assistent <strong>DHL Shipping (Versenden): Grundeinstellungen</strong> durchlaufen</h3>
<div class="paragraph">
<p>Im Folgenden werden die einzelnen Schritte, die du in diesem Assistenten durchläufst, beschrieben.</p>
</div>
<h4 id="_zugangsdaten" class="discrete">Zugangsdaten</h4>
<div class="paragraph">
<p>In diesem Schritt speicherst du deine Zugangsdaten zum DHL Geschäftskundenportal. Du hast die Möglichkeit, mehrere Login-Daten zu speichern, wenn du z.B. mehrere Mandanten (Shops) hast und/oder mehr als einen Vertrag mit DHL abgeschlossen hast. Im zweiten Assistenten <strong>DHL Shipping (Versenden): Einstellungsverknüpfung</strong> kannst du diese Daten dann verknüpfen.</p>
</div>
<div class="paragraph">
<p>Lege außerdem für jeden deiner Logins fest, ob du möchtest, dass Versandlabels immer erzeugt werden, auch wenn Sendungen mit nicht leitkodierbaren Adressen, z.B. wenn die Adressdaten unvollständig oder nicht vorhanden sind, erstellt werden. DHL führt die Korrektur der fehlerhaften Daten durch und berechnet dies. Die Sendung kann anschließend erfolgreich angemeldet werden.</p>
</div>
<div class="paragraph">
<p>Wenn die Option <strong>Etikettenerzeugung erzwingen</strong> nicht aktiviert – also die Schaltfläche rot <span class="icon red"><i class="fa fa-toggle-off  "></i></span> ist –, werden nicht leitkodierbare Sendungen bei der Anmeldung bei DHL Versenden mit einer Fehlermeldung von DHL abgelehnt. Der Auftrag wird nicht angemeldet und in plentymarkets wird kein Versandlabel generiert.</p>
</div>
<div class="paragraph">
<p><strong><em>Beachte:</em></strong></p>
</div>
<div class="ulist">
<ul>
<li>
<p>Der Login-Name darf keine Umlaute enthalten. Die Verwendung von Umlauten kann zu einer Abweisung über die Schnittstelle führen, auch wenn die Webseite den Login-Namen akzeptiert.</p>
</li>
<li>
<p>Das Passwort darf maximal 20 Zeichen lang sein. Zwar ist bei DHL die Verwendung eines längeren Passworts möglich, über die plentymarkets Schnittstelle erlaubt DHL jedoch maximal 20 Zeichen. Ein Passwort mit mehr als 20 Zeichen führt zu Fehlern.</p>
</li>
</ul>
</div>
<h4 id="_absenderdaten" class="discrete">Absenderdaten</h4>
<div class="paragraph">
<p>In diesem Schritt gibst du deine Absenderdaten ein. Die Daten werden als Absenderadresse auf dem Versandlabel angezeigt.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Die Eingabe der Kontoreferenz und der  Absenderreferenz im Bereich <strong>Polling-Daten anzeigen</strong> ist nur notwendig, wenn die Anmeldung der Sendungen über das <em>Polling-Format</em> erfolgt. Die Kontoreferenz und die Absenderreferenz sind für die Übertragung über die Schnittstelle irrelevant.</p>
</div>
<h4 id="_abrechnungsnummer" class="discrete">Abrechnungsnummer</h4>
<div class="paragraph">
<p>In diesem Schritt speicherst du deine DHL-Abrechnungsnummer gemäß deines DHL-Vertrags.</p>
</div>
<div class="paragraph">
<p>Die Abrechnungsnummer besteht insgesamt aus 14 Ziffern und setzt sich aus 3 Bestandteilen zusammen: EKP (Kundennummer), Produkt und Teilnahme. Die ersten 10 Ziffern bilden die EKP, die 11. und 12. Ziffer das Produkt und die 13. und 14. Ziffer bilden die Teilnahme.</p>
</div>
<div class="paragraph">
<p><strong><em>Beispiel einer Abrechnungsnummer:</em></strong> <code>1234567890 53 01</code></p>
</div>
<div class="ulist">
<ul>
<li>
<p><code>1234567890</code> ist die EKP (Kundennummer)</p>
</li>
<li>
<p><code>53</code> steht für das Produkt <em>DHL Paket International</em></p>
</li>
<li>
<p><code>01</code> steht für die Teilnahme</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Die folgenden DHL-Produkte sind im Assistenten verfügbar:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>01 - DHL Paket<br></p>
</li>
<li>
<p>53 - DHL Paket International<br></p>
</li>
<li>
<p>54 - DHL Europaket<br></p>
</li>
<li>
<p>55 - DHL Paket Connect<br></p>
</li>
<li>
<p>62 - DHL Warenpost</p>
</li>
<li>
<p>86 - DHL Paket Austria<br></p>
</li>
<li>
<p>87 - DHL Paket Connect (Austria)<br></p>
</li>
<li>
<p>82 - DHL Paket Austria International</p>
</li>
</ul>
</div>
<h4 id="_produkt_und_serviceauswahl" class="discrete">Produkt- und Serviceauswahl</h4>
<div class="paragraph">
<p>In diesem Schritt wählst du die Produkte und Services. Du führst hier lediglich eine Vorauswahl der Produkte und Services durch. Die gewählten Produkte und Services stehen dir anschließend im Assistenten <strong>DHL Shipping (Versenden): Einstellungsverknüpfung</strong> zur Verfügung. Dort verknüpfst du diese mit den Zugangsdaten, der Abrechnungsnummer, der Absenderadresse und der Versandeinstellung. Beachte, dass du für die gewählten Produkte und Services bei DHL freigeschaltet sein musst.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">DHL Wunschpaket-Services erst nach Kauf des DHL Wunschpaket-Plugins sichtbar</div>
<div class="paragraph">
<p>Die DHL Wunschpaket-Services <strong>Wunschtag</strong>, <strong>Wunschort</strong> und <strong>Wunschnachbar</strong> stehen dir in diesem Bereich erst zur Verfügung, wenn du das DHL Wunschpaket-Plugin im <a href="https://marketplace.plentymarkets.com/plugins/integration/dhlwunschpaket_5435" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> heruntergeladen und es in einem Plugin-Set installiert und bereitgestellt hast.<br>
Auch für dieses Plugin steht dir ein Assistent im Menü <strong>Einrichtung » Assistenten</strong> im Bereich <strong>Integration</strong> zur Verfügung, damit du deine Services schnell und einfach einrichten kannst.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h4 id="_zusammenfassung" class="discrete">Zusammenfassung</h4>
<div class="paragraph">
<p>In diesem Schritt wird eine Zusammenfassung aller getätigten Eingaben in den einzelnen Schritten aufgelistet. Du kannst deine Angaben prüfen, diese ggf. anpassen und den Assistenten danach abschließen.</p>
</div>
</div>
<div class="sect2">
<h3 id="dhl-assistent-einstellungsverknuepfung">4.3. Assistent <strong>DHL Shipping (Versenden): Einstellungsverknüpfung</strong> durchlaufen</h3>
<div class="paragraph">
<p>In diesem Assistenten verknüpfst du die vorher vorgenommenen Einstellungen. Du verknüpfst deine Zugangsdaten mit der DHL-Abrechnungsnummer, den Services, der Absenderadresse und der Versandeinstellung. Die Versandeinstellungen hast du bereits im Assistenten <strong>Versandeinstellungen</strong> erstellt.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Standardversandart und Standardversandprofil prüfen</div>
<div class="paragraph">
<p>Prüfe ggf. die Einstellungen für die Optionen <strong>Standardversandart</strong> und <strong>Standardversandprofil</strong> im Menü <strong>Einrichtung » Mandant</strong> » <em>Mandant wählen</em> » <strong>Aufträge</strong> und passe diese ggf. an.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="paragraph">
<p>Wenn du den Assistenten <strong>DHL Shipping (Versenden): Einstellungsverknüpfungen</strong> abgeschlossen hast und diesen erneut öffnest, werden die folgenden Informationen angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In der Kachelansicht:</p>
<div class="ulist">
<ul>
<li>
<p>Versandart</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Abrechnungsnummer</p>
</li>
</ul>
</div>
</li>
<li>
<p>In der Tabellenansicht:</p>
<div class="ulist">
<ul>
<li>
<p>Versandart</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Abrechnungsnummer</p>
</li>
<li>
<p>Login-Name</p>
</li>
<li>
<p>Services</p>
</li>
<li>
<p>Versandprofil-ID</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="datenuebermittlung">5. Informationen zur Datenübermittlung</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Wenn du im DHL Shipping (Versenden)-Versandprofil im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> die Option <strong>Einwilligung zur Datenübermittlung</strong> aktiviert hast, wird deinen Kunden im Checkout deines Ceres-Webshops eine Checkbox angezeigt. Deine Kunden können dann entscheiden, ob sie der Übertragung ihrer Daten an den Versanddienstleister zustimmen oder nicht.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Wenn der Kunde der Übertragung der Daten zustimmt, wird die E-Mail-Adresse des Kunden an den Versanddienstleister übertragen.</p>
</li>
<li>
<p>Wenn der Kunde der Übertragung der Daten <em>nicht</em> zustimmt, wird die alternative E-Mail-Adresse, die du im Versandprofil eingegeben hast, übertragen.</p>
</li>
<li>
<p>Wenn der Kunde der Übertragung der Daten <em>nicht</em> zustimmt und du keine alternative E-Mail-Adresse im Versandprofil eingegeben hast, wird eine Fehlermeldung angezeigt und der Auftrag kann nicht bei DHL angemeldet werden.<br>
Daher ist es wichtig, dass du alternative Werte für die E-Mail-Adresse und die Telefonnummer im Versandprofil eingibst. Andernfalls ist es bei der Wahl bestimmter Services (z.B. Filial-Routing) in den Versandeinstellungen des Plugins nicht möglich, den Auftrag erfolgreich anzumelden.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Polling-Datei im Falle einer Störung bei DHL hochladen</div>
<div class="paragraph">
<p>Sollte es zu einer Störung der Schnittstelle seitens DHL kommen, hast du die Möglichkeit auf das Polling-Format <strong>DHL Shipping (Versenden)</strong> auszuweichen. Erzeuge über einen Prozess und plentyBase oder im Menü <strong>Aufträge » Versand-Center</strong> eine Polling-Datei, die die anzumeldenden Aufträge enthält, und lade diese Datei im DHL Geschäftskundenportal über die Vorlage <strong>DHL-plentymarkets Importformat</strong> hoch.<br>
Beachte, dass die folgenden Services <em>nicht</em> über das Polling-Format an DHL übermittelt werden können:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Return immediately, 2nd attempt of delivery, Verpackungsrücknahme, Unzustellbarkeitsnachricht (bei Wahl des Produkts 01 - DHL Paket)<br></p>
</li>
<li>
<p>immediate, after deadline abandonment (bei Wahl des Produkts 53 - DHL Paket International)<br></p>
</li>
<li>
<p>DHL Wunschpaket-Services</p>
</li>
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="service-filial-routing">6. Service Filial-Routing verwenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Service Filial-Routing erhält deine Sendung im Fall der Unzustellbarkeit (Empfänger konnte nicht ermittelt werden) eine zweite Chance, den Empfänger zu erreichen: Statt die unzustellbare Sendung direkt an dich zurückzuschicken, wird diese in der nächstgelegenen Filiale mit Paketausgabe zur Abholung durch den Empfänger hinterlegt. Der Empfänger wird per E-Mail darüber informiert. Dies spart Kosten und Aufwand auf deiner Seite, die im Falle einer Rücksendung anfallen würden.</p>
</div>
<div class="paragraph">
<p>Damit deine Kunden den Service Filial-Routing nutzen können, sind die folgenden Einstellungen wichtig:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Aktiviere im Versandprofil im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> die Option <strong>Einwilligung zur Datenübermittlung</strong> und wähle eine Option für die Übertragung der Daten (E-Mail-Adresse und Telefonnummer).</p>
</li>
<li>
<p>Aktiviere im Assistenten <strong>DHL Shipping (Versenden): Grundeinstellungen</strong> im Schritt <strong>Produkt- und Serviceauswahl</strong> den Service <strong>Filial-Routing</strong>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="service-ident-check">7. Service Ident-Check verwenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Stelle sicher, dass deine Pakete nur an den Empfänger persönlich übergeben werden, nachdem der DHL-Fahrer die Identität und das Alter ausweisgestützt und dokumentiert geprüft hat.</p>
</div>
<div class="paragraph">
<p>Damit deine Kunden den Service Ident-Check (Mindestalter 16 oder 18) nutzen können, ist die folgende Einstellung wichtig:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Aktiviere im Assistenten <strong>DHL Shipping (Versenden): Grundeinstellungen</strong> im Schritt <strong>Produkt- und Serviceauswahl</strong> den Service <strong>Ident-Check</strong>.</p>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="service-warenpost">8. Service Warenpost verwenden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Viele Artikel sind zu klein, um sie im Paket oder Päckchen zu verschicken. Wenn du viele solcher Artikel versendest, ist die Warenpost eine komfortable Lösung. Die Warenpost ist nur für Sendungen innerhalb Deutschlands verfügbar.</p>
</div>
<div class="paragraph">
<p>Damit du deinen Kunden den Warenpost-Service anbieten kannst, musst du die folgenden Einstellungen vornehmen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>An den Varianten, die du mit dem Warenpost-Service versenden möchtest, müssen im Bereich <strong>Maße</strong> unbedingt die folgenden Daten gespeichert werden:</p>
<div class="ulist">
<ul>
<li>
<p>Gewicht bis 1000 g</p>
</li>
<li>
<p>Länge: bis 353 mm, Breite: bis 250 mm, Höhe: bis 50 mm</p>
<div class="ulist">
<ul>
<li>
<p>Diese Daten dürfen nicht überschritten werden.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</li>
<li>
<p>Wähle im Assistenten <strong>DHL Shipping (Versenden): Grundeinstellungen</strong> im Schritt <strong>Abrechnungsnummer</strong> als Produkt <strong>62 - Warenpost</strong>.</p>
</li>
<li>
<p>Wähle im Assistenten <strong>DHL Shipping (Versenden): Grundeinstellungen</strong> im Schritt <strong>Produkt- und Serviceauswahl</strong> für das Produkt <strong>Warenpost</strong> die gewünschten Services.</p>
</li>
<li>
<p>Wähle im Assistenten <strong>DHL Shipping (Versenden): Einstellungsverknüpfung</strong> die Abrechnungsnummer für Warenpost und wähle die passenden Services, die du mit dieser Versandeinstellung verknüpfen möchtest.</p>
</li>
<li>
<p>Wähle im DHL Geschäftskundenportal die passende Größe für die Versandlabels.</p>
<div class="ulist">
<ul>
<li>
<p>Öffne dort den Bereich <strong>Versenden &gt; Einstellungen &gt; Allgemein</strong> und richte die Druckereinstellungen für deine Versandlabels ein. Du kannst aktivieren, dass für Warenpost die Labelgröße 100 x 70 mm verwendet wird. Beachte, dass bei dieser Labelgröße zusätzliche Informationen wie Name 2 und Name 3 bei der Absenderadresse und Name 3 bei der Empfängeradresse <em>nicht</em> auf dem Label gedruckt sind.</p>
</li>
<li>
<p>Du kannst für Warenpost auch das bekannte Common Label im Format 100 x 200 mm verwenden.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
<div id="bild-dhl-shipping-warenpost" class="imageblock">
<div class="content">
<img src="{{plugin_path('PlentyManual')}}/images/fulfillment/assets/dhl-warenpost-labelgroesse.png" alt="dhl warenpost labelgroesse" width="640" height="360">
</div>
<div class="title">Bild 1. Labelgrößen, die Warenpost für den Versand benötigt</div>
</div>
<div class="paragraph">
<p>Weitere Informationen findest du auf der <a href="https://www.dhl.de/de/geschaeftskunden/paket/leistungen-und-services/dhl-warenpost.html" target="_blank" rel="noopener">Webseite von DHL</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span>.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="dhl-shipping-benutzerrechte">9. Benutzerrechte für Backend-Benutzer vergeben</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Um das DHL Shipping-Plugin nutzen zu können, müssen für Benutzer mit dem Zugang <strong>Backend</strong> im Benutzerkonto bestimmte Bereiche aktiviert werden.</p>
</div>
<div class="paragraph">
<p>Beachte außerdem, dass die Funktion <strong>Versenden</strong> für den Benutzer im DHL-Geschäftskundenportal freigeschaltet sein muss.</p>
</div>
<div class="paragraph instruction">
<p>Benutzerrechte für Backend-Benutzer vergeben:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Einrichtung » Einstellungen » Benutzer » Rechte » Benutzer</strong>.</p>
</li>
<li>
<p>Nutze die Suchfunktion (<span class="icon blue"><i class="fa fa-search  "></i></span>) und öffne den zu bearbeitenden Benutzer.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>Berechtigungen</strong> die Berechtigungen anhand von <a href="#tabelle-benutzerrechte-backend-benutzer">Tabelle 1</a>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<table id="tabelle-benutzerrechte-backend-benutzer" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Benutzerrechte für Backend-Benutzer vergeben</caption>
<colgroup>
<col style="width: 25%;">
<col style="width: 75%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Einstellung</th>
<th class="tableblock halign-left valign-top">Erläuterung</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufträge &gt; Anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, die Aufträge zu sehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufträge &gt; Aktualisieren</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, die Aufträge zu aktualisieren.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufträge &gt; Versand &gt; Versandpaket</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, die Versandpakete sowie die Artikel im Versandpaket zu sehen, zu aktualisieren, zu erstellen und zu löschen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufträge &gt; Versand &gt; Pakettyp &gt; Anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, den Pakettyp zu sehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufträge &gt; Auftragseigenschaften &gt; Anzeigen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, die Auftragseigenschaft zu sehen.</p></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock"><strong>Aufträge &gt; Dokumente &gt; Anlegen</strong></p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Erlaubt dem Backend-Benutzer, Dokumente wie Versandetiketten und Exportdokumente über einen Prozess und plentyBase zu erstellen.</p></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="testmodus-aktivieren">10. Testmodus aktivieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Standardmäßig ist der Produktivmodus im <strong>DHL Shipping (Versenden)</strong>-Plugin aktiviert. Du kannst den Testmodus für das Plugin aktivieren, um die Einstellungen zu prüfen.</p>
</div>
<div class="paragraph">
<p><strong><em>Wichtig:</em></strong> Zum Testen benötigst du Zugangsdaten zu einem Test-Account (DHL Entwicklerportal).</p>
</div>
<div class="paragraph">
<p>Gehe wie im Folgenden beschrieben vor, um den Testmodus für das Plugin zu aktivieren.</p>
</div>
<div class="paragraph instruction">
<p>Testmodus aktivieren:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</li>
<li>
<p>Klicke in der Zeile des Plugin-Sets, in dem sich das DHL Shipping (Versenden)-Plugin befindet, auf <strong>Plugin-Set bearbeiten</strong> (<span class="icon yellow"><i class="fa fa-pencil  "></i></span>).</p>
</li>
<li>
<p>Klicke in der Zeile <strong>DHL Shipping (Versenden)</strong> auf <strong>Einstellungen</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>).</p>
</li>
<li>
<p>Klicke auf <strong>Konfiguration &gt; Allgemein</strong>.</p>
</li>
<li>
<p>Wähle die Einstellung <strong>Test</strong> aus der Dropdown-Liste <strong>Modus</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellung.</p>
</li>
</ol>
</div>
</div>
</div>
</main>