<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#bei-postnl-registrieren"><span>1.</span><span> Bei PostNL registrieren</span></a></li>
<li><a href="#postnl-einrichten"><span>2.</span><span> PostNL in plentymarkets einrichten</span></a></li>
<li><a href="#vorbereitende-einstellungen"><span>3.</span><span> Vorbereitende Einstellungen vornehmen</span></a></li>
<li><a href="#assistenten-durchlaufen"><span>4.</span><span> Assistenten durchlaufen</span></a>
<ul class="sectlevel2">
<li><a href="#assistent-versandeinstellungen"><span>4.1.</span><span> Assistent Versandeinstellungen durchlaufen</span></a></li>
<li><a href="#assistent-postnl"><span>4.2.</span><span> Assistent PostNL durchlaufen</span></a></li>
</ul>
</li>
<li><a href="#produkte-services-produkt-codes"><span>5.</span><span> Aktuell verfügbare Produkte, Services und Produkt-Codes</span></a></li>
<li><a href="#auftrag-anmelden"><span>6.</span><span> Auftrag anmelden</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>PostNL</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">PostNL-Plugin herunterladen</div>
<div class="paragraph">
<p>Die Schnittstelle zu PostNL wird über ein Plugin integriert. Um das PostNL-Plugin nutzen zu können, lade das Plugin im <a href="https://marketplace.plentymarkets.com/postNL_7014" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="bei-postnl-registrieren">1. Bei PostNL registrieren</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem Plugin <strong>PostNL</strong> können Versender aus den Niederlanden schnell und einfach Versandlabels erstellen und die Sendungsverfolgung in plentymarkets nutzen.</p>
</div>
<div class="paragraph">
<p>Um die Schnittstelle für PostNL in deinem plentymarkets System einrichten und nutzen zu können, musst du dich bei <a href="https://www.postnl.be/en/log-in-business/" target="_blank" rel="noopener">PostNL</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> registrieren. Du erhältst von PostNL die Daten, die du für die Einstellungen in plentymarkets benötigst. Kontaktierte ggf. deinen Account Manager bei PostNL.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="postnl-einrichten">2. PostNL in plentymarkets einrichten</h2>
<div class="sectionbody">
<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Hinweis"></i>
</td>
<td class="content">
<div class="title">PostNL mit Hilfe eines Assistenten einfach einrichten</div>
<div class="paragraph">
<p>Die Schnittstelle zu PostNL wird über ein Plugin integriert. Um das PostNL-Plugin nutzen zu können, lade das Plugin im <a href="https://marketplace.plentymarkets.com/postNL_7014" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter.<br>
Dir steht dann zum einfachen Einrichten ein PostNL-Assistent im Menü <strong>Einrichtung » Assistenten » Plugins</strong> im relevanten Plugin-Set zur Verfügung.</p>
</div>
<div class="paragraph">
<p>Bevor du den PostNL-Assistenten durchläufst, durchlaufe den Assistenten <strong>Versandeinstellungen</strong>. Dieser Assistent ist standardmäßig in deinem plentymarkets System im Menü <strong>Einrichtung » Assistenten » Integration</strong> vorhanden. Mit diesem Assistenten nimmst du die folgenden Einstellungen vor:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>der Versandeinstellung (sprich: dem Versandprofil) einen Namen geben</p>
</li>
<li>
<p>vorhandene Regionen aktivieren oder eine neue Region erstellen</p>
</li>
<li>
<p>die Versandkosten festlegen und den Berechnungstypen wählen</p>
</li>
<li>
<p><strong><em>Hinweis:</em></strong> Weitere Einstellungen müssen anschließend im Versandprofil im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> vorgenommen werden. Weitere Hinweise dazu findest du weiter unten auf dieser Handbuchseite.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Anschließend durchläufst du den PostNL-Assistenten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="vorbereitende-einstellungen">3. Vorbereitende Einstellungen vornehmen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Zunächst musst du einige vorbereitende Einstellungen vornehmen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="/fulfillment/versand-vorbereiten#100">Lieferländer einrichten</a></p>
<div class="ulist">
<ul>
<li>
<p>Lieferländer kannst du über den Assistenten <strong>Versandeinstellungen</strong> oder im Backend einrichten.</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/fulfillment/versand-vorbereiten#400">Regionen erstellen</a></p>
<div class="ulist">
<ul>
<li>
<p>Regionen kannst du über den Assistenten <strong>Versandeinstellungen</strong> oder im Backend erstellen.</p>
</li>
</ul>
</div>
</li>
<li>
<p>den <a href="/fulfillment/versand-vorbereiten#800">Versanddienstleister</a> <strong>PostNL</strong> erstellen</p>
<div class="ulist">
<ul>
<li>
<p>Versanddienstleister kannst du aktuell nur im Backend und <em>nicht</em> über einen Assistenten erstellen.</p>
</li>
</ul>
</div>
</li>
<li>
<p><a href="/fulfillment/versand-vorbereiten#1000">Versandprofile</a> und <a href="/fulfillment/versand-vorbereiten#1500">Portotabellen</a> für <strong>PostNL</strong> erstellen<br></p>
<div class="ulist">
<ul>
<li>
<p>Einige der Versandeinstellungen kannst du über den Assistenten <strong>Versandeinstellungen</strong> einrichten. Die restlichen Einstellungen nimmst du im Backend im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> vor.<br>
<span class="icon red"><i class="fa fa-exclamation-triangle  "></i></span> <strong><em>Wichtig:</em></strong> Es wurden noch nicht alle Funktionen und Einstellungen aus dem Versandprofil in den Assistenten <strong>Versandeinstellungen</strong> übernommen. Beachte dazu die Erläuterungen im Kapitel <a href="#assistent-versandeinstellungen">Assistent <strong>Versandeinstellungen</strong> durchlaufen</a>.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div><div class="sect1">
<h2 id="assistenten-durchlaufen">4. Assistenten durchlaufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald du das <a href="/plugins/hinzugefuegte-plugins-installieren#plugin-installieren">Plugin in einem Plugin-Set installiert</a> hast, ist der PostNL-Assistenten im Menü <strong>Einrichtung » Assistenten » Plugins</strong> im relevanten Plugin-Set verfügbar und du kannst mit dem Einrichten beginnen. Der Assistent <strong>Versandeinstellungen</strong> ist standardmäßig in deinem plentymarkets System im Menü <strong>Einrichtung » Assistenten » Integration</strong>* vorhanden.</p>
</div>
<div class="paragraph">
<p>Durchlaufe nun die Assistenten in der folgenden Reihenfolge:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p><strong>Versandeinstellungen</strong></p>
</li>
<li>
<p><strong>PostNL</strong></p>
</li>
</ol>
</div>
<div class="sect2">
<h3 id="assistent-versandeinstellungen">4.1. Assistent <strong>Versandeinstellungen</strong> durchlaufen</h3>
<div class="paragraph">
<p>Du findest den Assistenten <strong>Versandeinstellungen</strong> im Menü <strong>Einrichtung » Assistenten » Integration</strong>. In diesem Assistenten nimmst du die folgenden Einstellung vor:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Du gibst der Versandeinstellung einen Backend-Namen und einen Frontend-Namen. Diese Namen können pro Sprache gewählt werden.<br></p>
<div class="ulist">
<ul>
<li>
<p>Diesen Namen verknüpfst du später im Assistenten <strong>PostNL</strong>.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Du wählst das Plugin des Versanddienstleisters, für den du die Versandkosten einrichten möchtest.<br></p>
<div class="ulist">
<ul>
<li>
<p>Das PostNL-Plugin muss im <a href="https://marketplace.plentymarkets.com/postNL_7014" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> heruntergeladen worden sein, damit es dir hier angezeigt wird.</p>
</li>
</ul>
</div>
</li>
<li>
<p>Du wählst eine Region, gibst die Versandkosten ein und wählst den Berechnungstypen für die gewählten Länder. Außerdem kannst du festlegen, ab welchem Warenwert keine Versandkosten für deine Kund:innen berechnet werden.</p>
</li>
</ul>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Weitere Einstellungen für die Versandeinstellung im Backend vornehmen</div>
<div class="paragraph">
<p>Wenn du den Assistenten <strong>Versandeinstellungen</strong> abgeschlossen hast, wird das Versandprofil auch im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> angezeigt.<br>
Die folgenden Einstellungen sind mit Abschluss des Assistenten bereits vorhanden:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>der Name des Versandprofils ist gespeichert</p>
</li>
<li>
<p>der Versanddienstleister ist gespeichert</p>
</li>
<li>
<p>die Option <strong>Bei neuen Artikeln aktiveren</strong> ist aktiviert</p>
</li>
<li>
<p>alle Mandanten (Shops) sind aktiviert</p>
</li>
<li>
<p>alle Auftragsherkünfte sind aktiviert</p>
</li>
<li>
<p>die Versandkosten sind gespeichert</p>
</li>
<li>
<p>die Region ist gespeichert</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Wenn du weitere Einstellungen vornehmen möchtest wie z.B. das Sperren von Kundenklassen oder Zahlungsarten oder dem Aktivieren der Option zum Einwilligen der Datenübermittlung an Versanddienstleister, musst du diese im entsprechenden Versandprofil im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versandprofile</strong> vornehmen.</p>
</div>
<div class="paragraph">
<p><span class="icon red"><i class="fa fa-exclamation-triangle  "></i></span> Dieses Vorgehen ist notwendig, weil noch nicht alle Funktionen und Einstellungen aus dem Versandprofil in den Assistenten übernommen wurden. Wir ergänzen die fehlenden Einstellungen sukzessive im Assistenten.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="openblock collapseBox">
<div class="title">Welche Informationen werden bei dem abgeschlossenen Assistenten <strong>Versandeinstellungen</strong> angezeigt?</div>
<div class="content">
<div class="paragraph">
<p>Wenn du den Assistenten <strong>Versandeinstellungen</strong> abgeschlossen hast und diesen erneut öffnest, werden die folgenden Informationen angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In der Kachelansicht:</p>
<div class="ulist">
<ul>
<li>
<p>Backend-Name</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Versanddienstleister</p>
</li>
</ul>
</div>
</li>
<li>
<p>In der Tabellenübersicht:</p>
<div class="ulist">
<ul>
<li>
<p>Backend-Name</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Versanddienstleister</p>
</li>
<li>
<p>Frontend-Name</p>
</li>
<li>
<p>ID des Versandprofils</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="sect2">
<h3 id="assistent-postnl">4.2. Assistent <strong>PostNL</strong> durchlaufen</h3>
<div class="paragraph">
<p>Du findest den Assistenten <strong>PostNL</strong> im Menü <strong>Einrichtung » Assistenten » Plugins</strong> im relevanten Plugin-Set. Im Folgenden werden die einzelnen Schritte, die du in diesem Assistenten durchläufst, beschrieben.</p>
</div>
<h4 id="_globale_einstellungen" class="discrete">Globale Einstellungen</h4>
<div class="paragraph">
<p>In diesem Schritt legst du fest, ob du die globalen Einstellungen ändern möchtest.</p>
</div>
<div class="paragraph">
<p>Wenn die Option aktiviert (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>) ist, kannst du jederzeit Änderungen in den Schritten <strong>Zugangsdaten</strong>, <strong>Absenderdaten</strong> und <strong>Angaben auf dem Label</strong> vornehmen. Wenn die Option deaktiviert (<span class="icon red"><i class="fa fa-toggle-off  "></i></span>) ist, ist nur der Schritt <strong>Einstellungsverknüpfung</strong> sichtbar und änderbar.</p>
</div>
<h4 id="_zugangsdaten" class="discrete">Zugangsdaten</h4>
<div class="paragraph">
<p>In diesem Schritt gibst du deine Zugangsdaten in Form deines API-Schlüssels ein. Gib jedem API-Schlüssel, den du eingibst, im Feld <strong>Name des API-Schlüssels</strong> einen Namen deiner Wahl. Mit einem Klick auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> fügst du weitere Zugangsdaten hinzu.</p>
</div>
<h4 id="_absenderdaten" class="discrete">Absenderdaten</h4>
<div class="paragraph">
<p>In diesem Schritt gibst du deine Absenderadresse ein. Mit einem Klick auf <span class="icon green"><i class="fa fa-plus-square  "></i></span> fügst du weitere Absenderadressen hinzu.</p>
</div>
<h4 id="_angaben_auf_dem_label" class="discrete">Angaben auf dem Label</h4>
<div class="paragraph">
<p>In diesem Schritt wählst du, welche Angaben auf dem Versandlabel angezeigt werden sollen. Du kannst die folgenden Werte wählen:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Keine Angabe</p>
</li>
<li>
<p>Auftrags-ID</p>
</li>
<li>
<p>Externe Auftrags-ID</p>
</li>
<li>
<p>Auftrags-ID + externe Auftrags-ID</p>
</li>
</ul>
</div>
<h4 id="_einstellungsverknüpfung" class="discrete">Einstellungsverknüpfung</h4>
<div class="paragraph">
<p>In diesem Schritt verknüpfst du die Einstellungen, die du zuvor im Assistenten <strong>Versandeinstellungen</strong> und in den einzelnen Schritten des <strong>PostNL</strong>-Assistenten vorgenommen hast. Du verknüpfst deine Versandeinstellung mit deinen Zugangsdaten, den Produkten, Services und Produkt-Codes, der Absenderadresse und der Artikelbeschreibung.</p>
</div>
<div class="paragraph">
<p>Wenn du ein <a href="#produkte-services-produkt-codes">Produkt</a> wählst, werden in einer Liste darunter die <a href="#table-products-services-product-codes">zugehörigen Services und Produkt-Codes</a> geladen, die du dann wählen kannst. Beachte, dass dich dein Account Manager bei PostNL für bestimmte Produkte und Services zunächst freischalten muss.</p>
</div>
<div class="paragraph">
<p>Die Artikelbeschreibung bezieht sich auf die Werte, die du im Menü <strong>Artikel » Artikel bearbeiten</strong> » <em>Artikel öffnen</em> im Tab <strong>Texte</strong> in den Feldern <strong>Name 1</strong>, <strong>Name 2</strong>, <strong>Name 3</strong> und <strong>Vorschautext</strong> gespeichert hast. Du kannst in diesem Schritt eines dieser vier Felder wählen.</p>
</div>
<div class="paragraph">
<p>Außerdem wählst du in diesem Schritt, ob du den Produktivmodus oder den Testmodus aktivieren möchtest.</p>
</div>
<div class="paragraph">
<p>Wenn du international versendest (<span class="icon green"><i class="fa fa-toggle-on  "></i></span>), musst du zusätzlich noch den Zollerklärungstyp und die Standardzollnummer eingeben.</p>
</div>
<h4 id="_zusammenfassung" class="discrete">Zusammenfassung</h4>
<div class="paragraph">
<p>In diesem Schritt wird eine Zusammenfassung aller getätigten Eingaben in den einzelnen Schritten aufgelistet. Du kannst deine Angaben prüfen, in den einzelnen Schritten ggf. Anpassungen vornehmen und den Assistenten danach über die Zusammenfassung abschließen.</p>
</div>
<div class="openblock collapseBox">
<div class="title">Welche Informationen werden bei dem abgeschlossenen Assistenten <strong>PostNL</strong> angezeigt?</div>
<div class="content">
<div class="paragraph">
<p>Wenn du den Assistenten <strong>PostNL</strong> abgeschlossen hast und diesen erneut öffnest, werden die folgenden Informationen angezeigt:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>In der Kachelansicht:</p>
<div class="ulist">
<ul>
<li>
<p>Versandeinstellung</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Name des API-Schlüssels</p>
</li>
<li>
<p>Service</p>
</li>
</ul>
</div>
</li>
<li>
<p>In der Tabellenübersicht:</p>
<div class="ulist">
<ul>
<li>
<p>Versandeinstellung</p>
</li>
<li>
<p>Region</p>
</li>
<li>
<p>Name des API-Schlüssels</p>
</li>
<li>
<p>Service</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="produkte-services-produkt-codes">5. Aktuell verfügbare Produkte, Services und Produkt-Codes</h2>
<div class="sectionbody">
<div class="paragraph">
<p><a href="#table-products-services-product-codes">Tabelle 1</a> listet alle Produkte, Services und Produkt-Codes auf, die aktuell über das Plugin <strong>PostNL</strong> zur Verfügung stehen. Beachte, dass dich dein Account Manager bei PostNL für bestimmte Produkte und Services zunächst freischalten muss.</p>
</div>
<table id="table-products-services-product-codes" class="tableblock frame-all grid-all stretch">
<caption class="title">Tabelle 1. Aktuell verfügbare Produkte, Services und Produkt-Codes</caption>
<colgroup>
<col style="width: 14.2857%;">
<col style="width: 42.8571%;">
<col style="width: 42.8572%;">
</colgroup>
<thead>
<tr>
<th class="tableblock halign-left valign-top">Produkt</th>
<th class="tableblock halign-left valign-top">Service</th>
<th class="tableblock halign-left valign-top">Produkt-Code</th>
</tr>
</thead>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inländische Produkte (Zielort Niederlande)</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Inländische Produkte</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>3085 - Standardlieferung<br></p>
</li>
<li>
<p>3385 - Lieferung an die angegebene Adresse<br></p>
</li>
<li>
<p>3090 - Lieferung an den Nachbarn + Retoure bei Nichtantreffen der Person<br></p>
</li>
<li>
<p>3390 - Lieferung an die angegebene Adresse + Retoure bei Nichtantreffen der Person</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Standardabholstellen <br>
Dies sind z.B. ausgewählte Supermärkte und Buchhandlungen.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>3533 - Abholung in PostNL-Abholstelle + Unterschrift bei Lieferung<br></p>
</li>
<li>
<p>3534 - Abholung in PostNL-Abholstelle + zusätzliche Versicherungssumme<br></p>
</li>
<li>
<p>3543 - Abholung in PostNL-Abholstelle + Unterschrift bei Lieferung + Benachrichtigung<br></p>
</li>
<li>
<p>3544 - Abholung in PostNL-Abholstelle + zusätzliche Versicherungssumme + Benachrichtigung</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Briefkastensendung<br>
Für kleine Sendungen, die in die Briefkästen deiner Endkund:innen passen.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>2928 - Brievenbuspakje</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Smarte Retouren<br>
Deine Kund:innen können über einen Barcode auf dem Smartphone das Retourenlabel in einer PostNL-Filiale drucken lassen.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>2285 - Business reply number (Antwoordnummer)</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zielort EU</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Pakete EU<br>
Aktuell ist der Versand aus den Niederlanden in 27 Länder möglich. Kontaktiere ggf. deinen Account Manager bei PostNL für weitere Informationen.</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>4590 - Pakete EU B2B (Lieferung an Nachbarn + Unterschrift bei Lieferung + Standardversicherungssumme)<br></p>
</li>
<li>
<p>4952 - Pakete EU B2C (Lieferung an Nachbarn + Unterschrift bei Lieferung + Standardversicherungssumme)</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Zielort Rest der Welt</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">GlobalPack-Produkte</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>4947 - GlobalPack</p>
</li>
</ul>
</div></div></td>
</tr>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Internationale Brief- und Paketsendungen</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock">Internationale Brief- und Paketsendungen</p></td>
<td class="tableblock halign-left valign-top"><div class="content"><div class="ulist">
<ul>
<li>
<p>6405 - Prio-Paket<br></p>
</li>
<li>
<p>6350 - Prio-Paket, mit Nachverfolgung<br></p>
</li>
<li>
<p>6906 - Prio-Paket Extra<br></p>
</li>
<li>
<p>6408 - Briefsendung, mit Registrierung<br></p>
</li>
<li>
<p>6040 - Buchsendung, mit Registrierung</p>
</li>
</ul>
</div></div></td>
</tr>
</tbody>
</table>
</div>
</div><div class="sect1">
<h2 id="auftrag-anmelden">6. Auftrag anmelden</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Menü <strong>Aufträge » Versand-Center</strong> im Tab <strong>Anmelden</strong> meldest du deine Aufträge bei PostNL an und überträgst gleichzeitig die Auftragsdaten an PostNL. Gehe wie im Folgenden beschrieben vor.</p>
</div>
<div class="paragraph instruction">
<p>Auftrag anmelden:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>Aufträge » Versand-Center</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Versandstatus</strong> die Option <strong>offen</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Versanddienstleister</strong> die Option <strong>PostNL</strong>.</p>
</li>
<li>
<p>Klicke auf die Lupe (<span class="icon blue"><i class="fa fa-search  "></i></span>).<br>
→ Die offenen Versandaufträge für PostNL werden angezeigt.</p>
</li>
<li>
<p>Wechsele in das Tab <strong>Anmelden</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Versanddienstleister</strong> die Option <strong>PostNL</strong>.</p>
</li>
<li>
<p>Wähle aus der Dropdown-Liste <strong>Ändere Auftragsstatus</strong> den Auftragsstatus, den die Aufträge nach erfolgreicher Anmeldung erhalten sollen.<br>
<strong><em>Hinweis:</em></strong> Diese Funktion kann mit einer <a href="/automatisierung/ereignisaktionen">Ereignisaktion</a>, die z.B. automatisch den Warenausgang bucht, kombiniert werden.</p>
</li>
<li>
<p>Aktiviere die Aufträge, die du bei PostNL anmelden möchtest.</p>
</li>
<li>
<p>Klicke auf <strong>Anmelden</strong> (<span class="icon "><i class="fa fa-cog  "></i></span>), um die Auftragsdaten an PostNL zu übertragen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p>Weitere Informationen zum Anmelden von Aufträgen findest du auf der Handbuchseite <a href="/fulfillment/versand-center">Versand-Center nutzen</a>.</p>
</div>
</div>
</div>
</main>