<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            <div id="toc" class="toc">
<div id="toctitle">Inhalt</div>
<ul class="sectlevel1">
<li><a href="#allgemeine-informationen"><span>1.</span><span> Allgemeine Informationen</span></a></li>
<li><a href="#voraussetzungen"><span>2.</span><span> Voraussetzungen</span></a>
<ul class="sectlevel2">
<li><a href="#bei-dhl-registireren"><span>2.1.</span><span> Bei DHL registrieren</span></a></li>
<li><a href="#plugins-installieren"><span>2.2.</span><span> Plugins installieren</span></a></li>
<li><a href="#prioritaeten-dhl-plugins"><span>2.3.</span><span> Prioritäten der DHL Plugins beachten</span></a></li>
<li><a href="#dhl-shipping-als-versanddienstleister"><span>2.4.</span><span> DHL Shipping (Versenden) als Versanddienstleister wählen</span></a></li>
</ul>
</li>
<li><a href="#assistent-durchlaufen"><span>3.</span><span> Assistent durchlaufen</span></a></li>
<li><a href="#sichtbarkeit-webshop"><span>4.</span><span> Sichtbarkeit der DHL Wunschpaket-Services im Webshop einstellen</span></a></li>
<li><a href="#dhl-wunschpaket-packstation-postfiliale-finder"><span>5.</span><span> DHL Packstation/Postfiliale-Finder</span></a></li>
<li><a href="#beispielberechnung"><span>6.</span><span> Beispielberechnung für mögliche Wunschtage im Checkout</span></a></li>
</ul>
</div>
        </div>
    </div>
</aside>

<main id="main">
    <h1>DHL Wunschpaket</h1><div id="preamble">
<div class="sectionbody">
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">DHL Wunschpaket-Plugin herunterladen</div>
<div class="paragraph">
<p>Das Einbinden der DHL Wunschpaket-Services wird über ein Plugin integriert. Um die DHL Wunschpaket-Services nutzen zu können, lade das Plugin im <a href="https://marketplace.plentymarkets.com/plugins/integration/dhlwunschpaket_5435" target="_blank" rel="noopener">plentyMarketplace</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> herunter.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="allgemeine-informationen">1. Allgemeine Informationen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Dieses Plugin ermöglicht die Anzeige der DHL Wunschpaket-Services in deinem Ceres-Webshop. Das Einrichten der DHL Wunschpaket-Services selbst erfolgt über den Assistenten <strong>DHL Wunschpaket</strong>, der dir nach erfolgreicher Installation des Plugins im Menü <strong>Einrichtung » Assistenten</strong> im Bereich <strong>Integration</strong> zur Verfügung steht. Anschließend musst du die Services im Assistenten <strong>DHL Shipping (Versenden): Einstellungsverknüpfung</strong> aktivieren.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Tracking-Pixel zu Reportingzwecken</div>
<div class="paragraph">
<p>Beachte, dass das DHL Wunschpaket-Plugin zu Reportingzwecken ein Tracking-Pixel enthält. Das Pixel gibt die URL, auf der das Plugin zum Einsatz kommt, sowie die Summe der Plugin-Aufrufe zurück. Hiermit werden keine personenbezogenen und personenbeziehbare Daten erhoben oder verarbeitet.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div><div class="sect1">
<h2 id="voraussetzungen">2. Voraussetzungen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit du deinen Kund:innen die DHL Wunschpaket-Services in deinem Ceres-Webshop anbieten kannst, müssen die folgenden Voraussetzungen erfüllt sein.</p>
</div>
<div class="sect2">
<h3 id="bei-dhl-registireren">2.1. Bei DHL registrieren</h3>
<div class="paragraph">
<p>Um die DHL Wunschpaket-Services nutzen zu können und die Schnittstelle für DHL Shipping (Versenden) in deinem plentymarkets System einzurichten und die Funktion <em>Versenden</em> im DHL Geschäftskundenportal zu nutzen, musst du bei <a href="https://www.dhl.de/de/geschaeftskunden/paket/kunde-werden/angebot-dhl-geschaeftskunden-online.html?cid=c_dhl.de_ke_Z353_20190016_5902_A3045" target="_blank" rel="noopener">DHL</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span> registriert sein. Du erhältst von DHL die Daten, die du für die Einstellungen in plentymarkets benötigst.</p>
</div>
<div class="paragraph">
<p>Beachte, dass die DHL Wunschpaket-Services nur für Lieferungen innerhalb Deutschlands zur Verfügung stehen.</p>
</div>
</div>
<div class="sect2">
<h3 id="plugins-installieren">2.2. Plugins installieren</h3>
<div class="paragraph">
<p>Die folgenden Plugins müssen installiert sein:</p>
</div>
<div class="ulist">
<ul>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/integration/DHLShipping_4871" target="_blank" rel="noopener">DHL Shipping (Versenden)</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/integration/DHLWunschpaket_5435" target="_blank" rel="noopener">DHL Wunschpaket</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/templates/Ceres_4697" target="_blank" rel="noopener">Ceres</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
<li>
<p><a href="https://marketplace.plentymarkets.com/plugins/templates/IO_4696" target="_blank" rel="noopener">IO</a>&nbsp;<span class="icon "><i class="fa fa-external-link  "></i></span></p>
</li>
</ul>
</div>
</div>
<div class="sect2">
<h3 id="prioritaeten-dhl-plugins">2.3. Prioritäten der DHL Plugins beachten</h3>
<div class="paragraph">
<p>Beachte die Prioritäten der beiden DHL Plugins im Menü <strong>Plugins » Plugin-Set-Übersicht</strong>.</p>
</div>
<div class="paragraph">
<p>Damit dieses Plugin richtig funktioniert, muss es mit einer bestimmten Priorität im Vergleich zu anderen Plugins geladen werden. Wenn du das Plugin über den Integrationen-Assistent installierst, ist die richtige Priorität bereits eingestellt. Wenn nicht, musst du sie selbst anpassen. Öffne dazu dein Plugin-Set und klicke auf <strong>Prioritäten festlegen</strong>. Gib dem DHL Wunschpaket-Plugin eine höhere Priorität als <em>DHL Shipping (Versenden)</em> und eine niedrigere Priorität als <em>Ceres</em> und <em>IO</em>.</p>
</div>
</div>
<div class="sect2">
<h3 id="dhl-shipping-als-versanddienstleister">2.4. DHL Shipping (Versenden) als Versanddienstleister wählen</h3>
<div class="paragraph">
<p>Als Versanddienstleister im Menü <strong>Einrichtung » Aufträge » Versand » Optionen</strong> im Tab <strong>Versanddienstleister</strong> muss <strong>DHL Shipping (Versenden)</strong> gewählt sein.</p>
</div>
</div>
</div>
</div><div class="sect1">
<h2 id="assistent-durchlaufen">3. Assistent durchlaufen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Sobald du das <a href="/plugins/hinzugefuegte-plugins-installieren#plugin-installieren">Plugin in einem Plugin-Set installiert</a> hast, ist der Assistent <strong>DHL Wunschpaket</strong> im Menü <strong>Einrichtung » Assistenten</strong> im Bereich <strong>Integration</strong> verfügbar.</p>
</div>
<div class="paragraph">
<p>Durchlaufe den Assistenten, um einen Aufpreis für den Service <strong>Wunschtag</strong> zu speichern, um die zum Service <strong>Wunschtag</strong> gehörige Cut-off-Zeit zu bestimmen und um festzulegen, an welchen Tagen keine Paketübergabe an DHL erfolgt. Die Cut-off-Zeit bestimmt, bis zu welchem Zeitpunkt die bestellten Artikel am selben Tag noch ausgeliefert werden.</p>
</div>
<div class="paragraph">
<p>Die Services <strong>Wunschnachbar</strong> und <strong>Wunschort</strong> bietet DHL ohne zusätzliche Gebühren an. Wählt eine Person den Service <strong>Wunschtag</strong> dann im Webshop, wird der von dir festgelegte Preis für diesen Service im Bestellvorgang angezeigt und zu der Gesamtsumme der Bestellung addiert.</p>
</div>
</div>
</div><div class="sect1">
<h2 id="sichtbarkeit-webshop">4. Sichtbarkeit der DHL Wunschpaket-Services im Webshop einstellen</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Damit deine Kund:innen die DHL Wunschpaket-Services im Bestellvorgang in deinem Webshop wählen können, musst du einige Optionen im Menü <strong>CMS » Containerverknüpfungen</strong> aktivieren.</p>
</div>
<div class="paragraph instruction">
<p>Sichtbarkeit der DHL Wunschpaket-Services im Webshop einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Container-Verknüpfungen</strong>.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>DHL Wunschpaket CSS (DHL Wunschpaket)</strong> die Option <strong>Template: Style</strong>.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>DHL Wunschpaket Scripts (DHL Wunschpaket)</strong> die Option <strong>Checkout: After shipping method</strong>.<br>
→ <strong><em>Wichtig:</em></strong> Wenn du möchtest, dass die im Checkout gewählten Services zusätzlich als Versandinformation in der Auftragsbestätigung aufgelistet werden, musst du im Bereich <strong>DHL Wunschpaket Order Confirmation (DHL Wunschpaket)</strong> die Option <strong>Order confirmation: Additional shipping information</strong> aktivieren.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.<br>
→ Die Services können nun von deinen Kund:innen im Checkout gewählt werden und werden – falls diese Option aktiviert wurde – als Versandinformation in der Auftragsbestätigung aufgelistet.</p>
</li>
</ol>
</div>
</div>
</div><div class="sect1">
<h2 id="dhl-wunschpaket-packstation-postfiliale-finder">5. DHL Packstation/Postfiliale-Finder</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Mit dem DHL Packstation/Postfiliale-Finder können deinen Kund:innen im Bestellvorgang im Ceres-Webshop nach einer Packstation bzw. Postfiliale in der Nähe zu suchen, an die die Sendung geliefert werden soll. So können deine Kund:innen die Pakete abholen, wann es ihnen am besten passt. Dazu wählen sie im Bestellvorgang aus den Ergebnissen, die sie im Finder gefiltert haben, eine passende Packstation bzw. Postfiliale und diese Adresse wird als Lieferadresse übernommen.</p>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Deine Kund:innen können Straße, Postleitzahl oder Ort eingeben. Wenn die Straße eingegeben wird, muss zusätzlich mindestens die Postleitzahl oder der Ort eingegeben werden, damit die Suche Ergebnisse liefert.</p>
</div>
<div class="admonitionblock important">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-important" title="Wichtig"></i>
</td>
<td class="content">
<div class="title">Google Maps API-Schlüssel benötigt</div>
<div class="paragraph">
<p>Damit du deinen Kund:innen im Ceres-Checkout den DHL Packstation/Postfiliale-Finder anbieten kannst, benötigst du einen Google Maps API-Schlüssel.</p>
</div>
</td>
</tr>
</tbody></table>
</div>
<h3 id="_sichtbarkeit_des_dhl_packstationpostfiliale_finders_im_webshop_einstellen" class="discrete">Sichtbarkeit des DHL Packstation/Postfiliale-Finders im Webshop einstellen</h3>
<div class="paragraph">
<p>Damit deine Kund:innen den DHL Packstation/Postfiliale-Finder im Bestellvorgang in deinem Webshop nutzen können, musst du einige Optionen im Menü <strong>CMS » Containerverknüpfungen</strong> aktivieren.</p>
</div>
<div class="paragraph instruction">
<p>Sichtbarkeit des DHL Packstation/Postfiliale-Finders im Webshop einstellen:</p>
</div>
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Öffne das Menü <strong>CMS » Container-Verknüpfungen</strong>.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>DHL Packstation/Postfiliale Checkout View (DHL Wunschpaket)</strong> die Option <strong>Checkout: After shipping method</strong>.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>DHL Packstation/Postfiliale Scripts (DHL Wunschpaket)</strong> die Option <strong>Checkout: After scripts loaded</strong>.</p>
</li>
<li>
<p>Aktiviere im Bereich <strong>DHL Packstation/Postfiliale Styles (DHL Wunschpaket)</strong> die Option <strong>Checkout: After shipping method</strong>.</p>
</li>
<li>
<p><strong>Speichere</strong> (<span class="icon green"><i class="fa fa-save  "></i></span>) die Einstellungen.</p>
</li>
</ol>
</div>
<div class="paragraph">
<p><strong><em>Hinweis:</em></strong> Zusätzlich zu diesen Einstellungen musst du im Assistenten <strong>DHL Shipping (Versenden): Einstellungsverknüpfung</strong> die Schaltfläche aktivieren, mit der du entscheidest, ob du deinen Kund:innen den Finder im Bestellvorgang deines Webshops anbietest. Damit deine Kund:innen den Finder verwenden können, muss die Schaltfläche grün sein (<span class="icon green"><i class="fa fa-toggle-off  "></i></span>).</p>
</div>
</div>
</div><div class="sect1">
<h2 id="beispielberechnung">6. Beispielberechnung für mögliche Wunschtage im Checkout</h2>
<div class="sectionbody">
<div class="paragraph">
<p>Im Folgenden findest du Beispiele für die Einstellungen von Wunschtagen und Cut-off-Zeiten und wie sich diese Einstellungen auf die Anzeige im Checkout für deine Kund:innen auswirken.</p>
</div>
<div class="paragraph">
<p>Beachte, dass sich der Anmeldezeitpunkt in den folgenden Beispielen nicht auf den exakten Zeitpunkt bezieht, zu dem die Person den Bestellvorgang abgeschlossen hat. Der Abruf der möglichen Wunschtage erfolgt, wenn die Person den Bestellvorgang aufruft oder die Adresse aktualisiert.</p>
</div>
<h3 id="_beispiel_1_anmeldezeitpunkt_dienstag_06_03_2018_1200_uhr_ohne_ausschluss_von_übergabetagen" class="discrete">Beispiel 1: Anmeldezeitpunkt: Dienstag, 06.03.2018, 12:00 Uhr ohne Ausschluss von Übergabetagen</h3>
<div class="ulist">
<ul>
<li>
<p>Einstellung für <strong>Cut-off-Zeit</strong>: 13 Uhr</p>
</li>
<li>
<p>Einstellung für <strong>Ausschluss von Übergabetagen</strong>: keine</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Tage, die deine Kund:innen im Checkout wählen können:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Donnerstag (08.03.2018)</p>
</li>
<li>
<p>Freitag (09.03.2018)</p>
</li>
<li>
<p>Samstag (10.03.2018)</p>
</li>
<li>
<p>Montag (12.03.2018)</p>
</li>
<li>
<p>Dienstag (13.03.2018)</p>
</li>
<li>
<p>Mittwoch (14.03.2018)</p>
</li>
</ul>
</div>
<h3 id="_beispiel_2_anmeldezeitpunkt_dienstag_06_03_2018_1400_uhr_ohne_ausschluss_von_übergabetagen" class="discrete">Beispiel 2: Anmeldezeitpunkt: Dienstag, 06.03.2018, 14:00 Uhr ohne Ausschluss von Übergabetagen</h3>
<div class="ulist">
<ul>
<li>
<p>Einstellung für <strong>Cut-off-Zeit</strong>: 13 Uhr</p>
</li>
<li>
<p>Einstellung für <strong>Ausschluss von Übergabetagen</strong>: keine</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Tage, die deine Kund:innen im Checkout wählen können:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Freitag (09.03.2018)</p>
</li>
<li>
<p>Samstag (10.03.2018)</p>
</li>
<li>
<p>Montag (12.03.2018)</p>
</li>
<li>
<p>Dienstag (13.03.2018)</p>
</li>
<li>
<p>Mittwoch (14.03.2018)</p>
</li>
<li>
<p>Donnerstag (15.03.2018)</p>
</li>
</ul>
</div>
<h3 id="_beispiel_3_anmeldezeitpunkt_dienstag_06_03_2018_1400_uhr_mit_ausschluss_von_übergabetagen" class="discrete">Beispiel 3: Anmeldezeitpunkt: Dienstag, 06.03.2018, 14:00 Uhr mit Ausschluss von Übergabetagen</h3>
<div class="ulist">
<ul>
<li>
<p>Einstellung für <strong>Cut-off-Zeit</strong>: 13 Uhr</p>
</li>
<li>
<p>Einstellung für <strong>Ausschluss von Übergabetagen</strong>: Dienstag, Mittwoch</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Tage, die deine Kund:innen im Checkout wählen können:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Samstag (10.03.2018)</p>
</li>
<li>
<p>Montag (12.03.2018)</p>
</li>
<li>
<p>Dienstag (13.03.2018)</p>
</li>
<li>
<p>Mittwoch (14.03.2018)</p>
</li>
<li>
<p>Donnerstag (15.03.2018)</p>
</li>
<li>
<p>Freitag (16.03.2018)</p>
</li>
</ul>
</div>
</div>
</div>
</main>