<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Import and reply to eBay feedback in your system</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">The eBay feedback plugin allows you to remain up to speed on what your customers think of your offers. And you can respond to feedback just as easily from the comfort of your system.</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/ebay/plugins/ebay-feedback-download#video">Download the eBay feedback plugin (0:12)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/plugins/ebay-feedback-setup#video">Set up eBay feedback (0:45)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/plugins/ebay-feedback-read-respond#video">Read and respond to feedback (2:08)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/plugins/ebay-feedback-event-procedure#video">Set up an event procedure (2:23)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/272912886#at=45" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>You’ve managed to navigate the unknowns of e-commerce successfully thanks to your quick wit and wealth of experience. But some things are difficult to know. That’s why you rely on customer feedback to tweak your offers on eBay.</p>
</div>
<div class="paragraph">
<p>Just head on over to the plentyMarketplace and grab the eBay feedback plugin. This handy tool automatically imports unanswered feedback into plentymarkets once a day where you can respond to comments directly from the comfort of your system. No unnecessary login required!</p>
</div>
<div class="paragraph">
<p>And just a head’s up, feedback is imported via your ticket system so make sure it’s included in your plentymarkets module package and that you’ve already set up the essentials beforehand.</p>
</div>
<div class="paragraph">
<p>As you can see, you’ll also need these two plugins down here to re-link your eBay account to your system and ensure that communication between your system and eBay goes smoothly.</p>
</div>
<div class="paragraph">
<p>(SLOW) Once the plugin is up and running in the productive mode, the eBay feedback function will soon appear HERE.</p>
</div>
<div class="paragraph">
<p>Now depending on whether you’re a glass half-empty or half-full kind of person, select the type of feedback you want or simply select them all.</p>
</div>
<div class="paragraph">
<p>Since you’ve already set up the fundamentals in your ticket system, it’s time to link the right client, ticket role, ticket type, and status. Linking this data ensures that the info is imported properly from eBay to plenty and that your response is sent back to the right recipient. So make sure you’ve set up that data correctly in your ticket system beforehand.</p>
</div>
<div class="paragraph">
<p>To map the feedback types, you’ll first have to set up the right tags.</p>
</div>
<div class="paragraph">
<p>So you’ll need to create a POSITIVE tag and link it to your ticket system. As well as create neutral and negative tags.</p>
</div>
<div class="paragraph">
<p>After a quick system refresh, map the tags correctly with the feedback types here.</p>
</div>
<div class="paragraph">
<p>Now link the right users so they can process this feedback. Just make sure you’ve authorised your employees to access the ticket system in their user accounts beforehand.</p>
</div>
<div class="paragraph">
<p>Alright, since the whole point of this plugin is to bring outside information into plentymarkets, you’ll need to activate the ticket import.</p>
</div>
<div class="paragraph">
<p>Once saved, the eBay feedback import is ready to go!</p>
</div>
<div class="paragraph">
<p>But obviously it’s not enough to just know what your customers are thinking. You need to interact with them as well.</p>
</div>
<div class="paragraph">
<p>So you’ll obviously read the feedback. And then simply reply to it in the ticket itself via the "Add message" button.</p>
</div>
<div class="paragraph">
<p>But hold on a sec. If feedback is automatically imported into your system, then it makes sense that your responses are sent out automatically as well. That’s where an event procedure comes into play. Check out how event procedures work in this video.</p>
</div>
<div class="paragraph">
<p>Give your NEW event procedure a name and select the event that triggers the procedure that answers eBay feedback.</p>
</div>
<div class="paragraph">
<p>Also, to make sure your system doesn’t sift through ALL of your existing tickets, set up a filter that specifies a type or status of ticket and only goes through new eBay feedback.</p>
</div>
<div class="paragraph">
<p>And for the event procedure to work make sure it’s active.</p>
</div>
<div class="paragraph">
<p>Right on! With your new eBay feedback plugin you’ll instantly be up to speed on what your customers think of your offers and can respond to feedback just as easily. Enjoy the e-commerce adventures that lie ahead.</p>
</div>
</div>
</div>
</main>