<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Improving your ranking with the eBay SEO plugin</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Learn how to use the free eBay SEO plugin and ensure your listings make the grade. The plugin tells you whether your listings meet eBay SEO criteria and lets you make improvements directly within your plentymarkets system.</p></td>
<td class="tableblock halign-left valign-top"></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/265708765" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Customers don’t need a treasure map to find you on eBay. That is, if you’ve got a good ranking!</p>
</div>
<div class="paragraph">
<p>Just head on over to the plentyMarketplace and add the free eBay SEO plugin to your arsenal of tools.</p>
</div>
<div class="paragraph">
<p>This plugin helps take your listings to the top of search results.</p>
</div>
<div class="paragraph">
<p>And how? It checks whether your listings meet specific SEO criteria, such as the title, loyalty program, properties and fulfilment settings.</p>
</div>
<div class="paragraph">
<p>When you’re ready, grab the plugin and install it in your plentymarkets system.</p>
</div>
<div class="paragraph">
<p>Once the plugin is up and running, it will automatically begin checking your eBay listings to make sure they meet SEO criteria.</p>
</div>
<div class="paragraph">
<p>It doesn’t matter if the listings are active or not.</p>
</div>
<div class="paragraph">
<p>Check marks indicate whether the title, loyalty program, eBay properties and fulfilment program meet SEO criteria - all factors which influence how well your listings rank. And all factors which are automatically checked.</p>
</div>
<div class="paragraph">
<p>The search results indicate which SEO criteria make the grade and which ones could use a little TLC.</p>
</div>
<div class="paragraph">
<p>In this example, the title length is problematic and needs to be changed so that it’s somewhere between 60 and 80 characters long.</p>
</div>
<div class="paragraph">
<p>Simply click on the pencil icon to open the listing and make changes to the title.</p>
</div>
<div class="paragraph">
<p>Once you’re done, the plugin re-checks the listing and indicates whether the problem has been fixed.</p>
</div>
<div class="paragraph">
<p>Voila! Things are starting to come together!</p>
</div>
<div class="paragraph">
<p>Of course, the title isn’t the only piece of information that this plugin checks. It also checks whether you’ve activated eBay Plus, whether you’ve included all of the recommended eBay properties and how you ship your items to customers.</p>
</div>
<div class="paragraph">
<p>Let’s look at this last message about fulfilment.</p>
</div>
<div class="paragraph">
<p>Here, plentymarkets is telling me that my listing doesn’t include same-day dispatch, and it doesn’t feature free shipping and returns. These are all factors that play a role in how well my listing will be ranked, so it might be worth my while to reconsider offering some of these services.</p>
</div>
<div class="paragraph">
<p>I can improve my ranking by offering customers same-day dispatch, free shipping, and free returns.</p>
</div>
<div class="paragraph">
<p>When I’ve finished making changes, the plugin re-checks my listing and shows me that its settings meet all of the eBay SEO criteria.</p>
</div>
<div class="paragraph">
<p>But the best part? The plugin checks all of this information behind the scenes, so it never slows down your system or gets in the way of your day-to-day tasks.</p>
</div>
<div class="paragraph">
<p>What are you waiting for? Install the plugin today and move your listings to the top of search results!</p>
</div>
</div>
</div>
</main>