<aside class="plenty-anchor-navbar">
    <div class="sticky-wrapper">
        <div class="sticky-container" data-fn="sticky-container" data-fn-options="{ onLoadHashScrollToLink: true }">
            
        </div>
    </div>
</aside>

<main id="main">
    <h1>Creating sales promotions with the eBay Marketing plugin</h1><table class="tableblock frame-all grid-none stretch">
<colgroup>
<col style="width: 66.6666%;">
<col style="width: 33.3334%;">
</colgroup>
<tbody>
<tr>
<td class="tableblock halign-left valign-top"><p class="tableblock">Create sales, discounts and special offers to catapult your listings to the very top!</p></td>
<td class="tableblock halign-left valign-top"><p class="tableblock"><a href="/en/videos/ebay/plugins/sales-promotions-relink-account#video">Relinking the eBay account (0:18)</a></p>
<p class="tableblock"><a href="/en/videos/ebay/plugins/sales-promotions-create#video">Creating eBay sales promotions (0:45)</a></p></td>
</tr>
</tbody>
</table><div class="videoblock">
<div class="content">
<iframe src="https://player.vimeo.com/video/240810586#at=45" frameborder="0" allowfullscreen=""></iframe>
</div>
</div><div class="openblock collapseBox">
<div class="title">Transcript</div>
<div class="content">
<div class="paragraph">
<p>Attention, all you eBay treasure seekers! Your fedora, leather jacket and whip are sales, discounts and special offers. Use the potential of sales promotions to catapult your listings to the very top!</p>
</div>
<div class="paragraph">
<p>And to set all that up directly in your system, just go to the plentyMarketplace which offers you the plugins you’ll need to do that.</p>
</div>
<div class="paragraph">
<p>So you’ve downloaded the plugins. Although you’ve probably already linked your eBay account to your system to create and start listings, you’re going to have to link them again. Why, you ask! Well all eBay plugins need to undergo additional authentication.</p>
</div>
<div class="paragraph">
<p>Without this "bridge", so to speak, these plugins will not be able to interact with your eBay account - or to put it simply: you won’t have access to exciting marketing tools like sales promotions!</p>
</div>
<div class="paragraph">
<p>Once you’ve installed the plugins and they’ve been deployed, you can access your eBay sales promotions in the navigation under "Listings".</p>
</div>
<div class="paragraph">
<p>Clicking on the plus sign gives you access to a new sales promotion.</p>
</div>
<div class="paragraph">
<p>First you enter a few basic details, like what platform and what account you want the sales promotion to be run from, what you want it to be called, and the priority you want to give it. So if you’re running several promotions simultaneously and sell an item, the priority will decide which sales promotion will apply.</p>
</div>
<div class="paragraph">
<p>The start and end dates of your promotion are solely up to you.</p>
</div>
<div class="paragraph">
<p>Now it’s time to define the "rules" which are basically the factors that have to be met for your customer to be eligible for the deal.</p>
</div>
<div class="paragraph">
<p>So for example, you can offer your customer a 10-euro discount if they buy more than 3 items.</p>
</div>
<div class="paragraph">
<p>Or you don’t stipulate any condition at all and just offer a 20% discount.</p>
</div>
<div class="paragraph">
<p>All that’s missing now is the inventory you want the sales promotion to apply to.</p>
</div>
<div class="paragraph">
<p>If you don’t want to offer all your products at a discount, you’ve a got a few different filter options to work with.</p>
</div>
<div class="paragraph">
<p>Select what platform you want the filters to apply to, so for example eBay categories. Now choose the particular category and click the "add filter" icon to specify the condition of the items.</p>
</div>
<div class="paragraph">
<p>AAAND you can exclude certain listings from the get-go. To do so, simply specify the SKU or listing IDs.</p>
</div>
<div class="paragraph">
<p>Ready? Perfect! Now just check and see if all the details you entered are correct. Because after you’ve saved the settings, there will be a few things you won’t be able to change. But even if you do discover a mistake, it’s not that big of a deal because your promotion is initially saved as a draft. That way you can plan and set up all of your different sales promotions before they go live. The only exception is if your starting time is "now".</p>
</div>
<div class="paragraph">
<p>And once you’re ready to present your sales promotion to the masses, simply open it and you’ll be able to see the listings you’ve included in your promotion with the preview function, you’ll be able to start the promotion, pause it, or cancel it, or delete it completely.</p>
</div>
<div class="paragraph">
<p>Now that you know how to create promotions in your system - off you go, treasure seeker! Your fortune awaits!</p>
</div>
</div>
</div>
</main>